<div class="dialog-container p-4">
  <label>
    {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.AUTOMATED" | translate }}
  </label>

  <div>Are you sure total prize is {{ data }}</div>

  <section class="mt-5 text-right">
    <button mat-stroked-button (click)="onClose('cancel')">
      {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.CANCEL" | translate }}
    </button>

    <button mat-flat-button color="warn" class="ml-3" (click)="onConfirm()">
      {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.CONFIRM" | translate }}
    </button>
  </section>

  <button mat-button class="close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
