.round__header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box !important;
  & .description {
    padding: 15px 25px;
    text-align: center;
    background-color: #383a40;
    border: 1px solid antiquewhite;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 300px;
    box-sizing: border-box !important;
    p {
      text-align: center;
    }
  }
}

// .ngtt-se__round-wrapper:last-child {
//     .ngtt-se__match-component-container {
//         &:before {
//             content: 'Match for bronze';
//             font-size: 16px;
//             color: var(--textcolor);
//             position: absolute;
//             bottom: 90px;
//         }
//     }
// }
.description {
  p {
    text-align: center;
  }
}

.thirdPlaceMatch {
  left: -200px;
  top: 200px;
}
