@import "shared";

:host {
  display: block;
}

.TournamentDetails {
  overflow: hidden;
  position: relative;
  background: $left-corner-light;

  &-container {
    min-height: 100vh;
    padding-top: px2vw-xl(150px);
    padding-bottom: px2vw-xl(80px);

    @include lg {
      padding-top: px2vw-lg(150px);
      padding-bottom: px2vw-lg(80px);
    }

    @include md {
      padding-top: px2vw-md(150px);
      padding-bottom: px2vw-md(80px);
    }

    @include sm {
      padding-top: px2vw-sm(150px);
      padding-bottom: px2vw-sm(80px);
    }
  }

  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(56px);

    @include lg {
      margin-bottom: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(56px);
    }

    &-title {
      @extend %global-H4;
      margin-bottom: 0;
    }

    &-button {
      flex-shrink: 0;
      margin-left: px2vw-xl(15px);

      @include lg {
        margin-left: px2vw-lg(15px);
      }

      @include md {
        margin-left: px2vw-md(15px);
      }

      @include sm {
        margin-left: px2vw-sm(15px);
      }
    }
  }

  &-main {
    display: grid;
    grid-template-columns: 1fr px2vw-xl(384px);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(56px);

    @include lg {
      grid-template-columns: 1fr px2vw-lg(384px);
      grid-column-gap: px2vw-lg(56px);
    }

    @include md {
      grid-template-columns: 1fr px2vw-md(384px);
      grid-column-gap: px2vw-md(56px);
    }

    @include sm {
      grid-template-columns: 1fr px2vw-sm(384px);
      grid-column-gap: px2vw-sm(56px);
    }
  }

  &-form {
    overflow-y: auto;

    ::ng-deep .mat-expansion-panel {
      margin-bottom: px2vw-xl(8px);
      box-shadow: none;
      border-radius: 0 !important;

      @include lg {
        margin-bottom: px2vw-lg(8px);
      }

      @include md {
        margin-bottom: px2vw-md(8px);
      }

      @include sm {
        margin-bottom: px2vw-sm(8px);
      }

      &,
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;

        .mat-expansion-panel-header {
          background-color: var(--color-tolopea);
        }
      }

      &:not(.mat-expanded):not([aria-disabled="true"]) {
        .mat-expansion-panel-header {
          background-color: var(--color-tolopea);
        }
      }

      &-header {
        border: px2vw-xl(1px) solid var(--white-light);
        border-radius: px2vw-xl(4px);
        height: px2vw-xl(64px);
        padding: px2vw-xl(20px) px2vw-xl(24px);

        @include lg {
          border-width: px2vw-lg(1px);
          border-radius: px2vw-lg(4px);
          height: px2vw-lg(64px);
          padding: px2vw-lg(20px) px2vw-lg(24px);
        }

        @include md {
          border-width: px2vw-md(1px);
          border-radius: px2vw-md(4px);
          height: px2vw-md(64px);
          padding: px2vw-md(20px) px2vw-md(24px);
        }

        @include sm {
          border-width: px2vw-sm(1px);
          border-radius: px2vw-sm(4px);
          height: px2vw-sm(64px);
          padding: px2vw-sm(20px) px2vw-sm(24px);
        }
      }

      &-header-title {
        @extend %global-H6;
      }

      &-spacing {
        margin: 0;
      }
    }
  }

  &-brackets {
    margin: px2vw-xl(14px) 0;
    padding: px2vw-xl(34px) 0;
    overflow-x: auto;

    @include lg {
      margin: px2vw-lg(14px) 0;
      padding: px2vw-lg(34px) 0;
    }

    @include md {
      margin: px2vw-md(14px) 0;
      padding: px2vw-md(34px) 0;
    }

    @include sm {
      margin: px2vw-sm(14px) 0;
      padding: px2vw-sm(34px) 0;
    }
  }

  &-participants {
    max-width: px2vw-xl(648px);
    padding-top: px2vw-xl(32px);
    padding-bottom: px2vw-xl(54px);

    @include lg {
      max-width: px2vw-lg(648px);
      padding-top: px2vw-lg(32px);
      padding-bottom: px2vw-lg(54px);
    }

    @include md {
      max-width: px2vw-md(648px);
      padding-top: px2vw-md(32px);
      padding-bottom: px2vw-md(54px);
    }

    @include sm {
      max-width: px2vw-sm(648px);
      padding-top: px2vw-sm(32px);
      padding-bottom: px2vw-sm(54px);
    }

    &-players {
      margin-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }

    &-invite {
    }
  }

  &-settings {
    padding-top: px2vw-xl(48px);
    padding-bottom: px2vw-xl(68px);

    @include lg {
      padding-top: px2vw-lg(48px);
      padding-bottom: px2vw-lg(68px);
    }

    @include md {
      padding-top: px2vw-md(48px);
      padding-bottom: px2vw-md(68px);
    }

    @include sm {
      padding-top: px2vw-sm(48px);
      padding-bottom: px2vw-sm(68px);
    }

    &-manage {
      @extend %u-dfStart;
      margin-bottom: px2vw-xl(40px);
      width: 100%;

      @include lg {
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
      }
    }

    &-switchers {
      width: 50%;

      padding-right: px2vw-xl(40px);

      @include lg {
        padding-right: px2vw-lg(40px);
      }

      @include md {
        padding-right: px2vw-md(40px);
      }

      @include sm {
        padding-right: px2vw-sm(40px);
      }
    }

    &-selects {
      width: 50%;
      border-left: px2vw-xl(1px) solid var(--white-light);
      padding-left: px2vw-xl(40px);

      @include lg {
        border-left-width: px2vw-lg(1px);
        padding-left: px2vw-lg(40px);
      }

      @include md {
        border-left-width: px2vw-md(1px);
        padding-left: px2vw-md(40px);
      }

      @include sm {
        border-left-width: px2vw-sm(1px);
        padding-left: px2vw-sm(40px);
      }
    }

    &-region {
      max-width: px2vw-xl(384px);

      @include lg {
        max-width: px2vw-lg(384px);
      }

      @include md {
        max-width: px2vw-md(384px);
      }

      @include sm {
        max-width: px2vw-sm(384px);
      }
    }

    &-region-block {
      @extend %u-dfCenter;
      margin-bottom: px2vw-xl(20px);

      @include lg {
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }
    }

    &-region-title {
      @extend %body-2;
      margin-right: px2vw-xl(8px);
      margin-bottom: 0;
      color: var(--white);

      @include lg {
        margin-right: px2vw-lg(8px);
      }

      @include md {
        margin-right: px2vw-md(8px);
      }

      @include sm {
        margin-right: px2vw-sm(8px);
      }
    }

    &-region-icon {
      height: auto;
      width: auto;
      font-size: px2vw-xl(16px);
      color: var(--color-secondary);

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }
    }
  }

  &-rules {
    padding: px2vw-xl(16px) 0;

    @include lg {
      padding: px2vw-lg(16px) 0;
    }

    @include md {
      padding: px2vw-md(16px) 0;
    }

    @include sm {
      padding: px2vw-sm(16px) 0;
    }
  }

  &-prize {
  }

  &-aside {
    &-title {
      @extend %global-H5;
      margin-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }

    &-image {
      margin-bottom: px2vw-xl(26px);
      border-bottom: px2vw-xl(1px) solid var(--white-light);
      padding-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(26px);
        border-bottom-width: px2vw-lg(1px);
        padding-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(26px);
        border-bottom-width: px2vw-md(1px);
        padding-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(26px);
        border-bottom-width: px2vw-sm(1px);
        padding-bottom: px2vw-sm(32px);
      }
    }
  }

  &-robofly {
    height: px2vw-xl(237px);
    width: px2vw-xl(295px);

    @include lg {
      height: px2vw-lg(237px);
      width: px2vw-lg(295px);
    }

    @include md {
      height: px2vw-md(237px);
      width: px2vw-md(295px);
    }

    @include sm {
      height: px2vw-sm(237px);
      width: px2vw-sm(295px);
    }
  }
}
::ng-deep .WYSIWYG-editor .WYSIWYG-editor-wrapper .WYSIWYG-editor-textarea {
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
