
  
  <section class="MyTeams-about">
    <div class="MyTeams-about-header">
      <h1 class="MyTeams-about-header-title global-Elipses">
        {{ "PROFILE.MY_TEAMS.ABOUT.TITLE" | translate }}
      </h1>
  
      <!-- <button class="MyTeams-about-header-button button-icon-primary">
        <mat-icon> add </mat-icon>
        <span>
          {{ "BUTTON.CREATE_TEAM" | translate }}
        </span>
      </button> -->
    </div>
  
    <!-- <h4 class="MyTeams-about-subtitle">
      {{ "PROFILE.MY_TEAMS.ABOUT.SUBTITLE" | translate }}
    </h4> -->
  
    <img
      class="MyTeams-about-icon"
      lazyLoad="assets/icons/profile/teams/prepare-your-team.svg"
      alt="icon"
    />
  </section>
  
  <section class="MyTeams-control">
    <div
      class="MyTeams-control-toggles global-MatToggles"
      ngbNav
      #nav="ngbNav"
      (navChange)="navChanges($event)"
      [(activeId)]="active"
    >
      
  
      <!-- Team requests -->
      <div class="MyTeams-control-toggle" [ngbNavItem]="1">
        <a class="MyTeams-control-link" ngbNavLink>
         Pending Requests
        </a>
  
        <ng-template ngbNavContent>
          <div class="MyTeams-cards">
            <h1 class="MyTeams-cards-title">
              PENDING APPROVAL
            </h1>
            <div class="MyTeams-cards-list">
              <ng-container >
                <div class="TeamCard" *ngIf="data">
                    <div class="TeamCard-image" [lazyLoad]="data.image"></div>
                  
                    <div class="TeamCard-info">
                      <h3 class="TeamCard-info-name">
                        {{ data.name }}
                      </h3>
                      <p class="TeamCard-info-description">
                        {{ data.teamsLength }}
                        {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} •
                  
                        <ng-container *ngIf="data.createtdAt === 1">
                          {{ data.createtdAt }}
                          {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }}
                        </ng-container>
                  
                        <ng-container *ngIf="data.createtdAt > 1">
                          {{ data.createtdAt }}
                          {{ "PROFILE.COMPONENTS.TEAM_CARD.DAYS_AGO" | translate }}
                        </ng-container>
                      </p>
                    </div>
                  
                    <div class="TeamCard-manage">
                      <ng-container *ngIf="!isManage">
                        <button class="TeamCard-manage-button button-secondary">
                          {{ "BUTTON.REJECT" | translate }}
                        </button>
                  
                        <button class="TeamCard-manage-button button-primary">
                          {{ "BUTTON.ACCEPT" | translate }}
                        </button>
                      </ng-container>
                  
                      <ng-container *ngIf="isManage">
                        <button
                          class="TeamCard-manage-button-menu"
                          [matMenuTriggerFor]="matchMenu"
                          #t="matMenuTrigger"
                        >
                          <mat-icon class="TeamCard-manage-button-menu-icon"> more_vert </mat-icon>
                        </button>
                  
                        <mat-menu
                          class="global-MatMenu team-card"
                          #matchMenu="matMenu"
                          xPosition="before"
                        >
                          <div class="TeamCard-manage-menu menu">
                            <!-- VIEW -->
                            <a class="TeamCard-manage-menu-link link">
                              <mat-icon class="icon"> remove_red_eye </mat-icon>
                              <span class="text">
                                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.VIEW" | translate }}
                              </span>
                            </a>
                  
                            <!-- MANAGE TEAM -->
                            <a class="TeamCard-manage-menu-link link">
                              <mat-icon class="icon"> people_outline </mat-icon>
                              <span class="text">
                                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.MANAGE_TEAM" | translate }}
                              </span>
                            </a>
                  
                            <!-- EDIT TEAM -->
                            <a class="TeamCard-manage-menu-link link">
                              <mat-icon class="icon"> mode_edit </mat-icon>
                              <span class="text">
                                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.EDIT_TEAM" | translate }}
                              </span>
                            </a>
                  
                            <!-- DELETE TEAM -->
                            <a class="TeamCard-manage-menu-link link last" (click)="deleteTeams(123)">
                              <mat-icon class="icon"  > delete </mat-icon>
                              <span class="text"  >
                                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.DELETE_TEAM" | translate }}
                              </span>
                            </a>
                          </div>
                        </mat-menu>
                      </ng-container>
                    </div>
                  </div>
                  
              </ng-container>
            </div>
          </div>
        </ng-template>
      </div>
      <!-- My teams -->
      <div class="MyTeams-control-toggle" [ngbNavItem]="2">
        <a class="MyTeams-control-link" ngbNavLink>
          Rejected
        </a>
  
        <ng-template ngbNavContent>
          <div class="MyTeams-cards">
            <h1 class="MyTeams-cards-title">
              Rejected
            </h1>
            <div class="MyTeams-cards-list">
              <ng-container >
                <div class="TeamCard" *ngIf="data">
                    <div class="TeamCard-image" [lazyLoad]="data.image"></div>
                  
                    <div class="TeamCard-info">
                      <h3 class="TeamCard-info-name">
                        {{ data.name }}
                      </h3>
                      <p class="TeamCard-info-description">
                        {{ data.teamsLength }}
                        {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} •
                  
                        <ng-container *ngIf="data.createtdAt === 1">
                          {{ data.createtdAt }}
                          {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }}
                        </ng-container>
                  
                        <ng-container *ngIf="data.createtdAt > 1">
                          {{ data.createtdAt }}
                          {{ "PROFILE.COMPONENTS.TEAM_CARD.DAYS_AGO" | translate }}
                        </ng-container>
                      </p>
                    </div>
                  
                    <div class="TeamCard-manage">
                      <ng-container *ngIf="!isManage">
                        <button class="TeamCard-manage-button button-secondary">
                          {{ "BUTTON.REJECT" | translate }}
                        </button>
                  
                        <button class="TeamCard-manage-button button-primary">
                          {{ "BUTTON.ACCEPT" | translate }}
                        </button>
                      </ng-container>
                  
                      <ng-container *ngIf="isManage">
                        <button
                          class="TeamCard-manage-button-menu"
                          [matMenuTriggerFor]="matchMenu"
                          #t="matMenuTrigger"
                        >
                          <mat-icon class="TeamCard-manage-button-menu-icon"> more_vert </mat-icon>
                        </button>
                  
                        <mat-menu
                          class="global-MatMenu team-card"
                          #matchMenu="matMenu"
                          xPosition="before"
                        >
                          <div class="TeamCard-manage-menu menu">
                            <!-- VIEW -->
                            <a class="TeamCard-manage-menu-link link">
                              <mat-icon class="icon"> remove_red_eye </mat-icon>
                              <span class="text">
                                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.VIEW" | translate }}
                              </span>
                            </a>
                  
                            <!-- MANAGE TEAM -->
                            <a class="TeamCard-manage-menu-link link">
                              <mat-icon class="icon"> people_outline </mat-icon>
                              <span class="text">
                                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.MANAGE_TEAM" | translate }}
                              </span>
                            </a>
                  
                            <!-- EDIT TEAM -->
                            <a class="TeamCard-manage-menu-link link">
                              <mat-icon class="icon"> mode_edit </mat-icon>
                              <span class="text">
                                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.EDIT_TEAM" | translate }}
                              </span>
                            </a>
                  
                            <!-- DELETE TEAM -->
                            <a class="TeamCard-manage-menu-link link last">
                              <mat-icon class="icon"> delete </mat-icon>
                              <span class="text">
                                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.DELETE_TEAM" | translate }}
                              </span>
                            </a>
                          </div>
                        </mat-menu>
                      </ng-container>
                    </div>
                  </div>
                  
              </ng-container>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  
    <div class="MyTeams-control-content" [ngbNavOutlet]="nav"></div>
  </section>
  <app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>

