<section class="SearchArticle">
  <h2 class="SearchArticle-title">
    {{ "SEARCH.PAGE_SECTION.ARTICLES" | translate }}
  </h2>
  <div class="SearchArticle-list">
    <app-article-item
      *ngFor="let item of (homeService.searchedArticle | async)?.docs"
      [data]="item"
    ></app-article-item>
    <p *ngIf="!isArticleFlag">
      {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
    </p>
  </div>
  <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
</section>
