@import "shared";
/**/
.card {
  .banner-container {
    height: 350px;
    padding-top: 67px;
  }
}

#turnament-main-div {
  max-width: 100%;
  margin: auto;
  padding: 0;

  ul.nav-tabs {
    padding: 0;
    margin: 0;
    margin-top: -172px;

    .nav-link {
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .navtab-text {
        margin: 0;
        margin-bottom: 14px;
        text-transform: capitalize !important;
        line-height: 21px;
      }
    }
    .nav-item:last-child {
      display: none;
    }
  }

  .tab-content {
    margin-top: 143px !important;
    margin-bottom: 77px;

    .carousel-game {
      margin-top: 69px;
      position: relative;

      > p {
        font-size: 16px;
        line-height: 21px;
        color: var(--black);
        margin-left: 24px;
        margin-bottom: 23px;
      }

      swiper {
        width: 100%;
        display: block;
        margin-top: -67px;

        .swiper-slide.swiper-slide-prev {
          margin-right: 55px;
        }
        .swiper-slide.swiper-slide-next {
          margin-left: 50px;
        }
        .swiper-slide.swiper-slide-active {
          margin: 0 !important;
        }

        .swiper-slide {
          width: 177px;
          height: 184px;
          padding: 0;
          background: transparent;
          margin-right: 15px;

          &:last-child {
            margin-right: 0 !important;
          }

          &.swiper-slide-active {
            width: 294px;
            height: 306px;
            overflow: inherit;
            > div {
              cursor: pointer;
              height: 306px;
              background-size: cover !important;
              background-position: center !important;
              border: 2px solid var(--color-primary);
              box-shadow: 6px 6px 10px #000000b3;
              div {
                padding: 21px 0;
                padding-left: 28px;
                p {
                  font-size: 24px;
                  line-height: 31px;
                }
              }
            }
          }
          > div {
            border-radius: 5px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            height: 184px;
            background-size: cover !important;
            background-position: center !important;
            div {
              background: rgba(23, 26, 28, 0.7);
              padding-top: 12px;
              padding-bottom: 17px;
              padding-left: 18px;
              position: absolute;
              bottom: 0;
              width: 100%;
              p {
                font-size: 12px;
                line-height: 16px;
                color: var(--white-medium);
                margin: 0;
              }
            }
          }
        }
      }
    }
    .tournament-url {
      .form-group {
        margin: 0 !important;
        display: flex;
        align-items: center;
        height: 100%;

        p {
          margin: 0;
          font-size: 15px;
          line-height: 20px;
          color: var(--text-colorurl);
        }
      }
    }
    .date-tournament {
      margin: 0 -15px;
      margin-top: 61px;

      > div {
        padding: 0 8px;
      }
    }
    .start-time-tournament {
      label {
        position: initial;
        padding: 0;
        margin-bottom: 0;
        margin-right: 15px;
      }
      .error {
        left: 11px;
        top: 60px;
      }
    }
    .bracket-format {
      margin-top: 74px;

      > div > p {
        font-size: 16px;
        line-height: 21px;
        color: var(--text-color);
        margin-bottom: 18px;
      }
      .row {
        margin: 0 -15px;

        > div {
          height: 116px;
          position: relative;
          padding: 0 8px;
          margin: 10px 0px;
          &:focus {
            outline: 0;
            box-shadow: 0 0 0 transparent !important;
          }
          &.focus,
          &.active {
            box-shadow: 0 0 !important;
          }
          input {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            cursor: pointer;
          }
          input:checked + div {
            background: var(--orange-color-main);
            border-color: var(--orange-color-main);
          }
          input:checked + div svg rect {
            fill: var(--white-medium);
          }
          input:checked + div svg path {
            stroke: var(--white-medium);
          }
          div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            border: 2px solid var(--white-medium);
            border-radius: 5px;

            p {
              margin: 0;
              font-size: 18px;
              line-height: 23px;
              color: var(--text-color);
              width: 100px;
              text-align: center;
              text-transform: capitalize;
            }
          }
        }
        .double-elimination svg,
        .round-elimination svg {
          width: 88px;
          height: 86px;
        }
      }
    }
    .registration-tournament {
      margin: 0 -15px;
      margin-top: 60px;

      .form-group {
        height: 100%;
        max-height: 38px;

        .form-check {
          padding: 0;
          display: flex;
          align-items: center;
          height: 100%;

          .form-check-label {
            font-size: 16px;
            margin-right: 16px;
            line-height: 21px;
            color: var(--text-color);
            padding: 0;
          }
        }
      }
      .paid-registration {
        .input-row {
          .dropdown {
            > button {
              width: 100%;
              border-radius: 5px;
              border: 1px solid var(--inputboxborder);
              text-transform: capitalize;
              &:before {
                right: 20px;
              }
              &:hover,
              &:visited,
              &:active {
                background: transparent !important;
                color: var(--text-color);
              }
              &:focus {
                border-color: var(--orange-color-main);
              }
            }
            &.show {
              button {
                background-color: transparent !important;
                color: var(--text-color);
              }
            }
            .dropdown-menu {
              max-width: 179px;
              width: 179px;
              min-width: 179px;
              button {
                padding-left: 10px;
                width: auto;
                color: var(--white-disabled);
                padding-right: 10px;
                img {
                  width: 32px;
                  height: 16px;
                  margin-right: 12px;
                }
              }
            }
          }
        }
      }
      .input-row {
        margin: 0 -15px;
        margin-top: 60px;

        > div {
          position: relative;
          padding: 0 8px;
          input {
            padding-left: 17px;
          }
        }
      }
    }
    .add-banner {
      margin-top: 45px;
      .custom-file {
        height: 200px;
      }
    }
    .form-group {
      .dropdown {
        button {
          text-align: left;

          &:after {
            display: none;
          }
        }
        .dropdown-menu {
          background: var(--black);
          box-shadow: 4px 4px 6px #--black-medium;
          padding: 0;
          left: auto !important;
          max-height: 198px;
          overflow-x: auto;
          width: 100%;
          transform: none !important;
          top: 38px !important;

          &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
          }
          &::-webkit-scrollbar-track {
            width: 10px;
            height: 10px;
          }
          &::-webkit-scrollbar-thumb {
            height: 10px;
            background-color: rgba(112, 112, 112, 0.6);
            border-radius: 3px;
          }

          .dropdown-item {
            border-bottom: 0.5px solid var(--white-disabled);
            padding-top: 15px;
            padding-bottom: 9px;
            padding-left: 19px;
            color: rgba(226, 226, 226, 0.6);
            font-size: 16px;
            &:last-child {
              border-bottom: 0;
            }
            &:hover,
            &:active,
            &:focus {
              background: transparent;
              color: var(--white-disabled);
            }
          }
        }
      }
    }
  }
  .button-control-tabs {
    padding-bottom: 140px;
  }
}

/**/
.banner-container {
  background-color: var(--white-high);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: var(--white-high);
  text-align: center;
  .heading {
    justify-content: center;
    h2 {
      font-size: 90px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--black);
    }
  }
}

.header-card {
  min-height: 10em;
}
.form-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white-high);
}
.btn-primary,
.active-btn {
  padding: 0.475rem 3rem;
}
.btn-primary {
  background-color: var(--secondarybtnbgcolor);
}
.card-navigation {
  text-align: start;
}
.custom-file-label {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: var(--white-high);
  border: 1px dashed var(--black);
  border-radius: 5px;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
  button {
    margin-top: 20px;
  }
}
.custom-file-input {
  height: 104px;
}
.custom-file-input:focus {
  opacity: 0;
}
.filebrowser-btn {
  background-color: var(--create-tournamment-black-color);
  border: 0;
  padding: 0.3rem;
  width: 212px;
  height: 42px;
  font-size: 16px;
  line-height: 21px;
  border-radius: 5px;
}
.custom-file-label:after {
  visibility: hidden;
}
.custom-file-upload-icon {
  font-size: x-large;
}
.platform-button {
  border-radius: 0 !important;
  min-width: 10rem;
  background: var(--create-tour-platform-bg-color);
  height: 50px;
}
.game-info-button {
  border-radius: 0.25rem !important;
  width: 18rem;
  padding: 15px;
}
.game-info-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.game-info-btn-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tab-content {
  width: 100%;
}
textarea {
  resize: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.d-flex .flex-column {
  min-width: 200px;
}
.carousel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 5rem;
}
.carousel-container::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
.carousel-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
.carousel-container::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary);
  outline: 1px solid var(--white);
}
.img-carousel {
  height: 170px;
  width: 100%;
}
.card {
  border: 0px;
}
.vertical-tabs {
  background-color: var(--create-tour-cardheader-bg-color);
}
.nav-pills .nav-link {
  color: var(--white-disabled);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--orange-color-main);
  border-radius: 0;
  color: var(--white-high);
}
.black-bg-color {
  background-color: var(--create-tour-cardheader-bg-color);
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.gray-bg-color {
  background-color: var(--create-tour-cardbody-bg-color);
  padding: 2rem;
  border-radius: 3px;
}
.scocial-img {
  width: 26px;
  margin-right: 0.9rem;
}
.visib-text {
  padding-top: 0.7em;
  padding-right: 1em;
  color: var(--black);
}
.ngb-tp-hour .btn-link {
  color: var(--white-high);
}
.border-red-zero {
  border-radius: 0;
}
.first-ul .nav-item {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#turnament-main-div {
  .nav-tabs {
    border-bottom: 0;
  }
  .nav-link .outer-circle {
    background: var(--white-high);
    border-radius: 50%;
    height: 39px;
    width: 39px;
    position: relative;
    border: 3px solid var(--black-medium);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
      right: 20%;
      left: 20%;
    }
  }
  .nav-link .inner-circle {
    position: absolute;
    background: var(--white-high);
    border-radius: 50%;
    height: 34px;
    width: 34px;
  }
  .nav-link .border-navtab {
    position: absolute;
    top: 76%;
    width: 150%;
    right: 50%;
    height: 6px;
    background: var(--black-medium);
  }
  .active .outer-circle {
    border: 3px solid var(--color-primary) !important;
    z-index: 99;
  }
  .active .inner-circle {
    background: var(--color-primary) !important;
    height: 23px;
    width: 23px;
  }
  .outer-circle.active {
    border: 3px solid var(--color-primary) !important;
    z-index: 99;
  }
  .outer-circle.active .inner-circle {
    background: var(--color-primary) !important;
    height: 23px;
    width: 23px;
  }
  .active .border-navtab,
  .active.border-navtab {
    background: var(--color-primary) !important;
  }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border: 0;
  }
  .navtab-main {
    position: relative;
  }
  .navtab-text {
    color: var(--black);
    margin: 0.5em;
  }
  .nav-tabs .nav-link {
    border: 0;
  }
  .nav-tabs .nav-link:hover,
  .nav-tabs .nav-link:focus {
    border: none;
    border-color: none;
  }
  .nav {
    flex-wrap: nowrap;
  }
  .first-ul {
    padding: 1rem 6rem;
    margin-top: -10rem;
  }
}
.preview-banner {
  margin-top: 3rem;
  h3 {
    text-transform: uppercase;
  }
  h4 {
    font-size: 1.2rem;
    margin-top: 0.1em;
  }
  h6 {
    margin-bottom: 1rem;
  }
  .text-color {
    color: var(--text-color);
  }
}
.stage-label {
  min-width: 12rem;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: var(--orange-color-main);
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0px;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  border: 0;
}
.label-subctgory {
  margin: 0.6rem 0rem;
  float: right;
}
.preview-logo {
  width: 100%;
  border-radius: 4px;
  height: 150px;
}
.carousel-container img {
  cursor: pointer;
}
.regionsList {
  border: solid var(--black) 1px;
  padding: 20px;
  margin-top: 3%;
}
.padd-rem {
  padding-left: 0;
}

/* chip */
.selected-tags {
  display: flex;
  flex-flow: wrap;
  width: 85%;
  padding: 0.2em;
  box-shadow: 4px 4px 6px --black-medium;
  border-radius: 5px;
}
.chip {
  padding: 0 1em;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid var(--white-disabled);
  letter-spacing: 0.5px;
  font-family: "source-sans-pro" !important;
  color: var(--white-disabled);
}
.input-explain-text {
  padding: 6px 0;
  color: var(--create-tour-input-info-color);
}
.modal-header {
  padding: 0.5rem;
}
.closebtn {
  padding-left: 10px;
  color: var(--white-disabled);
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: var(--orange-color-main);
}
.sponsorDeleteIcon {
  padding: 2em 1em;
}
.gamePreviewImage {
  width: 130px;
  margin-top: -108px;
  margin-left: 16px;
  height: 130px;
}

/* toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  border-radius: 167px;
  width: 45px;
  height: 25px;
  margin-bottom: 0;
}
.switch-text-label {
  vertical-align: top;
  margin-right: 0.5em;
  position: relative;
}
.form-check {
  margin-left: 0;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-disabled);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 19px;
  left: 5px;
  bottom: 4px;
  background-color: var(--text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--orange-color-main);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.app-title {
  font-size: 24px;
}

.box-title {
  font-size: 20px;
}

.box-container {
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;
  color: var(--white-disabled);
  background-color: var(--white-disabled);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.25);
}

.info-container {
  padding: 12px 16px;
  line-height: 24px;
}

.action-container,
.content-container {
  position: relative;
  overflow: auto;
  height: 300px;
  min-height: 0;
  margin: 8px 16px;
  border-radius: 4px;
  background-color: var(--white-high);
}

.action-container {
  padding: 16px;
}

.vertical-container,
.horizontal-container {
  min-height: 0 !important;
}

.action-button {
  box-sizing: border-box;
  width: calc(100% - 16px);
  min-height: 35px;
  padding: 4px 16px;
  margin: 8px;
  border: 1px solid var(--white-disabled);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.action-button:hover {
  color: var(--white-high);
  background-color: var(--white-disabled);
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  color: #aaa;
  background-color: var(--white-disabled);
}

.swiper-slide-active {
  color: var(--white-high);
  background-color: #aaa;
}
.vcenter {
  align-items: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  background: url(https://i.ibb.co/WBWRLF7/calender-White.png) no-repeat;
  width: 15px;
  height: 15px;
  border-width: thin;
}

.form-text {
  position: relative !important;
}
.form-text input {
  padding: 5px 5px 5px 186px;
}
.static-value {
  position: absolute;
  left: 10px;
  font-weight: bold;
  font-size: 0.8em;
  color: var(--white-high);
  top: 37px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 85%;
}

.form-group {
  position: relative;
  margin: 0;

  .labeltext {
    background-color: var(--white-high);
    position: absolute;
    font-size: 14px;
    left: 19px;
    line-height: 21px;
    color: var(--black);
    margin: 0;
    top: 10px;
    padding: 0px 10px 0 5px;
    transition: all 0.3s;
    z-index: 1;
  }
  .form-control:focus ~ .labeltext,
  .labeltext.active {
    line-height: 16px;
    top: -7px;
    z-index: 2;
  }
}

.button-control-tabs {
  button {
    width: 245px;
    height: 60px;
    margin: 0 !important;
    border-radius: 5px;
    padding: 0;

    &:nth-child(2) {
      margin: 0 22.5px !important;

      @include md {
        margin: 0 !important;
      }
    }

    &[disabled] {
      display: none;
    }
  }
}

.type-tournament__type {
  .sponsorFieldSet {
    background: var(--black);
    box-shadow: 4px 4px 6px #--black-medium;
    border-radius: 5px;
    padding: 40px 41px 19px 28px;
    width: 100%;
    input {
      border-radius: 5px;
    }
    .form-group {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
      .dropdown {
        > button {
          width: 100%;
          text-transform: capitalize;
          color: rgba(245, 245, 245, 0.6);
          padding-left: 26px;
        }
      }
      &.form-select {
        &:before {
          right: 23px;
        }
      }
      label {
        background: var(--black);
        left: 30px;
      }
    }
    .addVenueAddress {
      margin-bottom: 0;
      a {
        font-size: 20px;
        line-height: 26px;
        color: rgba(245, 245, 245, 0.6);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:before {
          content: "";
          display: block;
          margin-right: 30px;
          background: url(/assets/images/Tournament/add_sponsor.svg);
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
.type-tournament__data-table {
  position: relative;
  padding: 0;
  > .row {
    width: 100%;
    z-index: 9;
  }
}

.url-form {
  margin-bottom: 62px;
  .form-group {
    display: flex;
    align-items: center;
    button {
      position: absolute;
      right: 22px;
      background: transparent;
      z-index: 9;
    }
  }
}
.share-tournament {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  height: 38px;
  label {
    font-size: 16px;
    line-height: 21px;
    color: var(--white-disabled);
    margin: 0;
    margin-right: 24px;
  }
  .share-m-top {
    display: flex;
    align-items: center;
  }
}
.row-details-streaming {
  margin-bottom: 68px;
  .col-6 {
    padding: 0 8px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.row-platform-streaming {
  margin-bottom: 68px;
  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: var(--white-disabled);
  }
}
.input-explain-text {
  position: absolute;
  padding: 0;
  top: 57px;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  img {
    width: 11px;
    margin-right: 4px;
  }
}
.add-participants__form {
  position: relative;
  .form-group {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 13px 22px;
    display: flex;
    justify-content: space-between;
    max-height: 90px;
    input {
      border: 0;
      padding: 0;
      width: 110px;
    }
    label {
      top: 22px;
    }
    input:focus + label,
    label.active {
      top: -8px;
    }
    .selected-tags {
      width: 65%;
      padding: 0;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
      }
      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: var(--white-high);
        border-radius: 3px;
      }
      > div {
        margin-right: 13px;
        margin-bottom: 14px;
      }
    }
  }
  .input-explain-text {
    left: 22px;
    position: relative;
    top: 9px;
  }
}
.add-participants {
  margin-bottom: 14px;
  .col-6 {
    margin-bottom: 0 !important;
  }
}
.visibility-row {
  margin-top: 50px;

  label {
    &:first-child {
      font-size: 15px;
      line-height: 20px;
      margin: 0;
      padding: 0;
      margin-right: 20px;
      display: flex;
      align-items: center;
    }
    &:not(:first-child) {
      padding: 15px;
      border: 0.2px solid var(--white-disabled);
      text-transform: capitalize;
    }
    &:nth-child(2) {
      border-radius: 6px 0 0 6px !important;
      font-size: 14px;
      line-height: 18px;
      color: var(--white-high);
    }
    &:last-child {
      border-radius: 0 6px 6px 0 !important;
      font-size: 13px;
      line-height: 17px;
      color: var(--white-high);
    }
    &.active {
      border-color: var(--color-tertiary) !important;
    }
    &.focus {
      outline: 0;
      box-shadow: 0 0 !important;
      transition: none;
    }
  }
}

.publish-tournament {
  .banner-container {
    height: 308px;
    padding: 0;
    h2 {
      display: none;
    }
  }
  #turnament-main-div {
    .nav-tabs {
      display: none;
    }
    .tab-content {
      margin-top: -236px !important;
      .preview-banner {
        margin-top: 0;
        .row {
          > .col-4 {
            padding-right: 64px;
            padding-left: 8px;
            div {
              height: 235px;
              background-size: cover !important;
              background-position: center !important;
              border-radius: 5px;
              box-shadow: 4px 4px 6px #--black-medium;
            }
          }
          > .col-8 {
            padding: 0 8px;
            position: relative;
            padding-top: 13px;
            span {
              position: absolute;
              right: 0;
              top: 0;
              font-size: 20px;
              line-height: 31px;
            }
            h3 {
              font-size: 40px;
              line-height: 47px;
              margin-bottom: 11px;
              text-transform: uppercase;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            h6 {
              font-size: 18px;
              line-height: 30px;
              margin-bottom: 32px;
            }
            .text-color {
              font-size: 16px;
              line-height: 26px;
              margin-bottom: 16px;
              color: #9a9a9a;
            }
            h4 {
              font-size: 18px;
              line-height: normal;
              margin: 0;
            }
          }
          .col-game {
            margin-right: 58px;
            max-width: 120px;
          }
          .col-checkIn {
            margin-right: 66px;
            max-width: 150px;
          }
          .col-when {
            margin-right: 44px;
            max-width: 225px;
          }
        }
        .owerview {
          margin-top: 30px;
          h3 {
            font-size: 19px;
            border-bottom: 3px solid var(--orange-color-main);
            padding-bottom: 6px;
            margin-bottom: 45px;
            width: fit-content;
          }
          .row {
            margin: 0 -8px;
            > div {
              padding: 0 8px;
              padding-left: 30px;
              p {
                font-size: 16px;
                line-height: 21px;
                &:not(:last-child) {
                  margin-bottom: 30px;
                  color: var(--black);
                }
              }
            }
          }
        }
        .sponsor-block-about {
          margin-top: 47px;
          h4 {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 25px;
          }
          &__about-sponsor {
            height: 180px;
            border-radius: 5px;
            padding: 18px 39px 21px 28px;
            position: relative;
            .about-sponsor__banner-sponsor {
              background-size: cover !important;
              background-position: 100% 18% !important;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0.64;
            }
            .row {
              position: relative;
              z-index: 1;
              .about-sponsor__logo-sponsor {
                width: 142px;
                height: 141px;
                background-size: cover !important;
                background-position: center !important;
                margin-right: 32px;
                border-radius: 5px;
              }
              p {
                font-size: 16px;
                line-height: 21px;
                margin: 0;
                margin-top: 9px;
                color: var(--white-medium);
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 64px;
              }
              .about-sponsor__website-sponsor {
                margin-left: auto;
              }
            }
          }
          &__btn-stories {
            margin-top: 11px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .btn-stories__google-app {
              background: url("/assets/images/Tournament/btn-googlePlay.png");
              width: 82px;
              height: 35px;
              background-size: cover;
              display: block;
              margin-right: 25px;
            }
            .btn-stories__ios-app {
              background: url("/assets/images/Tournament/btn-appStore.png");
              width: 76px;
              height: 30px;
              background-size: cover;
              display: block;
            }
          }
        }
        .winner-prize-block {
          margin-top: 41px;
          h4 {
            margin: 0;
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 25px;
          }
          .row {
            justify-content: space-between;
            .winner-prize-block__place {
              max-width: 332px;
              padding: 0;
              padding-top: 49px;
              padding-bottom: 57px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              position: relative;
              box-shadow: 4px 4px 6px #--black-medium;
              background: var(--black);
              border-radius: 5px;
              div {
                position: absolute;
                background: url("/assets/images/Tournament/bg-prize.png");
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.3;
                border-radius: 5px;
                background-size: 241%;
                background-position: 70% 45%;
                background-repeat: no-repeat;
              }
              h3 {
                font-size: 40px;
                line-height: 43px;
                margin: 0;
                position: relative;
                z-index: 1;
              }
              h4 {
                font-size: 31px;
                line-height: 40px;
                margin: 0;
                position: relative;
                z-index: 1;
              }
              span {
                width: 120px;
                height: 120px;
                margin-top: 47px;
                background-size: contain !important;
                background-position: center !important;
                position: relative;
                z-index: 1;
                &.place__first {
                  background: url("/assets/images/Tournament/1-prize.png");
                }
                &.place__second {
                  background: url("/assets/images/Tournament/2-prize.png");
                }
                &.place__three {
                  background: url("/assets/images/Tournament/3-prize.png");
                }
              }
            }
          }
        }
        .total-amount {
          margin: auto;
          margin-top: 146px;
          background: var(--black);
          border-radius: 5px;
          padding: 58px 0 53px;
          justify-content: center;
          .row {
            justify-content: space-between;
            align-items: center;
            padding: 0 14px 0 17px;
            p {
              margin: 0;
              &:first-child {
                font-size: 16px;
                line-height: 21px;
              }
              &:last-child {
                font-size: 20px;
                line-height: 26px;
              }
            }
            &:first-child {
              margin-bottom: 32px;
            }
            &:last-child {
              margin-top: 42px;
              padding-top: 32px;
              border-top: 0.5px solid var(--white-medium);
            }
          }
        }
      }
    }
  }
}

.bannerPreview {
  max-height: 200px;
}

.sponsorLogo {
  width: 100%;
  height: 100%;
  position: absolute;
}

.invalidFields ol {
  list-style-type: decimal !important;
}

.error {
  position: absolute;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .form-group .labeltext {
    font-size: 14px;
  }
  .banner-container {
    height: 320px;
    .heading {
      h2 {
        font-size: 70px;
      }
    }
  }
  #turnament-main-div {
    .tab-content {
      .date-tournament {
        > div.col-lg-3 {
          flex: 0 0 33%;
          max-width: 33%;
          margin-left: 0;
        }
      }
      .bracket-format {
        .row {
          > div {
            height: 100px;
            div {
              p {
                font-size: 16px;
                line-height: normal;
              }
              svg {
                width: 80px;
                max-height: 75px;
              }
            }
          }
        }
      }
      .carousel-game {
        swiper {
          .swiper-slide.swiper-slide-active {
            width: 274px;
            height: 286px;
            > div {
              height: 286px;
              div {
                p {
                  font-size: 20px;
                  line-height: normal;
                  color: var(--black);
                }
              }
            }
          }
        }
      }
      .form-group {
        .dropdown {
          .dropdown-menu {
            .dropdown-item {
              font-size: 14px;
              line-height: normal;
            }
          }
        }
      }
    }
  }
  .button-control-tabs button {
    width: 200px;
    height: 50px;
    font-size: 14px;
    margin: 0 22.5px !important;
  }
  .publish-tournament {
    #turnament-main-div {
      .tab-content {
        .preview-banner {
          .row {
            > .col-4 {
              flex: 0 0 30%;
              max-width: 30%;
              padding-right: 40px;
              div {
                height: 230px;
              }
            }
            .col-8 {
              flex: 0 0 70%;
              max-width: 70%;
              span {
                font-size: 16px;
                line-height: normal;
              }
              .col-game {
                margin-right: 40px;
                max-width: 120px;
              }
              .col-checkIn {
                margin-right: 40px;
                max-width: 190px;
              }
              .col-when {
                margin-right: 40px;
                max-width: 200px;
              }
            }
          }
        }
      }
    }
  }
  .static-value {
    max-width: 390px;
    font-size: 14px !important;
    top: 13px !important;
  }
}

@media (max-width: 767px) {
  .card {
    .banner-container {
      height: 150px;
      padding: 20px;
      h2 {
        font-size: 20px;
      }
    }
    &.publish-tournament {
      .banner-container {
        height: 308px;
        background-position: center;
      }
    }
  }
  .form-container {
    padding: 0 20px;
  }
  #turnament-main-div {
    ul.nav-tabs {
      margin-top: -86px;
      .nav-link {
        flex-direction: column-reverse;
        .navtab-text {
          margin-bottom: 0;
          line-height: normal;
          margin-top: 10px;
          @include sm {
            font-size: 10px;
          }
        }
        .outer-circle {
          height: 29px;
          width: 29px;
          .inner-circle {
            height: 13px;
            width: 13px;
          }
        }
        .border-navtab {
          top: 23%;
          height: 3px;
        }
      }
    }
    .tab-content {
      margin-top: 55px !important;
      margin-bottom: 35px;
      .tournament-url {
        margin-top: 10px;
      }
      .carousel-game {
        margin-top: 30px;
        swiper {
          margin-top: 0;
          .swiper-slide {
            height: 100px;
            margin-left: 0 !important;
            &.swiper-slide-active {
              height: 100px;
              margin-right: 15px !important;
              overflow: hidden;
              border-radius: 5px;
              > div {
                height: 100px;
                div {
                  background: rgba(23, 26, 28, 0.9);
                  padding: 10px 5px !important;
                  p {
                    font-size: 15px;
                    line-height: normal;
                  }
                }
              }
            }
            > div {
              height: 100px;
              div {
                background: rgba(23, 26, 28, 0.9);
                padding: 10px 5px;
              }
            }
          }
        }
      }
      .date-tournament {
        margin: 0px -8px;
        margin-top: 30px;
        .tournament-type {
          margin-bottom: 25px;
        }
        .start-time-tournament {
          margin-top: 30px;
          > div {
            justify-content: flex-end !important;
          }
        }
      }
      .bracket-format {
        margin-top: 45px;
        .row {
          margin: 0 -8px;
          > div {
            height: 90px;
            margin-bottom: 10px;
            div {
              p {
                font-size: 14px;
                line-height: normal;
                width: 120px;
              }
              svg {
                width: 65px;
                max-height: 62px;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .registration-tournament {
        margin: 0px -15px;
        margin-top: 30px;
        .paid-registration {
          margin: 30px 0;
          .input-row .dropdown .dropdown-menu {
            min-width: 92%;
          }
        }
        .form-group {
          height: auto;
          &.input-row {
            margin-top: 20px;
            max-height: fit-content;
            .col-lg-6 {
              padding: 0 15px;
              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      .add-banner {
        margin-top: 30px;
        .custom-file {
          height: 170px;
          .custom-file-label {
            height: 170px;
            padding-top: 15px;
            .filebrowser-btn {
              width: 190px;
              height: 35px;
              font-size: 14px;
              line-height: normal;
            }
          }
        }
      }
      .start-time-tournament .error {
        left: 11px;
        top: 0;
      }
    }
    .button-control-tabs {
      padding-bottom: 40px;
      .col-12 {
        padding: 0;
        button {
          width: 100%;
          height: 50px;
          font-size: 14px;
          margin: 0 !important;
          &:not(:last-child) {
            margin-bottom: 15px !important;
          }
        }
      }
    }
    .error {
      position: relative;
    }
  }
  .row.container-input {
    margin: 0 !important;
  }
  .url-form {
    margin-bottom: 15px;
  }
  .row-details-streaming {
    margin-bottom: 30px;
    .col-6:first-child {
      margin-bottom: 15px;
    }
  }
  .share-tournament {
    margin-top: 50px;
  }
  .row-platform-streaming {
    margin-bottom: 15px;
  }
  .visibility-row {
    margin-top: 50px;
    .btn-group {
      display: flex;
      flex-wrap: wrap;
      label.visib-text {
        width: 100%;
        justify-content: center;
        margin-bottom: 15px;
        color: var(--black);
      }
    }
  }
  .publish-tournament {
    #turnament-main-div {
      .tab-content {
        margin-top: -285px !important;
        .preview-banner {
          > .row {
            position: relative;
            > .col-4 {
              position: absolute;
              padding: 0;
              top: 84px;
              flex: 0 0 40%;
              max-width: 40%;
              div {
                height: 110px;
              }
            }
            > .col-8 {
              max-width: 100%;
              flex: 0 0 100%;
              padding: 0;
              span {
                font-size: 12px;
                line-height: normal;
              }
              h3 {
                font-size: 40px;
                line-height: normal;
                margin-bottom: 0;
              }
              h6 {
                font-size: 15px;
                line-height: normal;
                margin-bottom: 20px;
              }
              > .row:last-child {
                flex-direction: column;
                width: 55%;
                margin-left: auto;
                .col-game,
                .col-checkIn,
                .col-when {
                  margin-right: 0;
                  max-width: 100%;
                  margin-bottom: 25px;
                  .text-color {
                    font-size: 14px;
                    line-height: normal;
                    margin-bottom: 0;
                  }
                }
                .col-type {
                  position: absolute;
                  left: 0;
                  bottom: 20px;
                  .text-color {
                    font-size: 14px;
                    line-height: normal;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
          .owerview {
            padding: 0;
            h3 {
              font-size: 16px;
              margin-bottom: 30px;
            }
            .row {
              margin: 0;
              flex-direction: column;
              > div {
                padding: 0 !important;
                padding-left: 30px;
                flex: 0 0 100%;
                max-width: 100%;
                p {
                  font-size: 14px;
                  line-height: normal;
                  &:not(:last-child) {
                    margin-bottom: 15px;
                  }
                }
              }
            }
          }
          .sponsor-block-about {
            margin-top: 30px;
            padding: 0;
            .sponsor-block-about__about-sponsor {
              height: 130px;
              padding: 10px;
              .row {
                display: block;
                .about-sponsor__logo-sponsor {
                  width: 100px;
                  height: 100px;
                  float: left;
                }
                p {
                  font-size: 14px;
                  line-height: normal;
                }
              }
            }
          }
          .winner-prize-block {
            margin-top: 30px;
            padding: 0;
            .row {
              .winner-prize-block__place {
                max-width: 100%;
                flex: 0 0 100%;
                padding: 20px;
                display: block;
                position: relative;
                &:not(:last-child) {
                  margin-bottom: 15px;
                }
                span {
                  margin: 0;
                  position: absolute;
                  right: 20px;
                  top: 20px;
                  width: 70px;
                  height: 70px;
                }
                h3 {
                  font-size: 36px;
                  line-height: normal;
                }
                h4 {
                  font-size: 22px;
                  line-height: normal;
                }
              }
            }
          }
          .total-amount {
            margin-top: 30px;
            padding: 20px;
            flex: 0 0 100%;
            max-width: 100%;
            .col-10 {
              flex: 0 0 100%;
              max-width: 100%;
              .row {
                padding: 0 15px;
                &:first-child {
                  margin-bottom: 15px;
                }
                &:last-child {
                  margin-top: 25px;
                  padding-top: 25px;
                }
                p {
                  &:first-child {
                    font-size: 14px;
                    line-height: normal;
                  }
                  &:last-child {
                    font-size: 18px;
                    line-height: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .row-details-streaming {
    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 !important;
    }
    .input-explain-text {
      top: 45px;
    }
  }
  .intl-tel-input {
    width: 100%;
  }
  .static-value {
    max-width: 76%;
  }
  .add-participants__form {
    .form-group {
      flex-direction: column;
      .selected-tags {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #turnament-main-div {
    .tab-content {
      .date-tournament {
        .tournament-type {
          margin-bottom: 0;
        }
      }
      .bracket-format {
        .row > div div p {
          width: 75px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    .banner-container {
      height: 180px;
      padding: 20px;
      h2 {
        font-size: 40px;
      }
    }
    &.publish-tournament {
      .banner-container {
        height: 308px;
        background-position: center;
      }
    }
  }
  #turnament-main-div {
    ul.nav-tabs {
      margin-top: -86px;
      .nav-link {
        flex-direction: column-reverse;
        .navtab-text {
          margin-bottom: 0;
          line-height: normal;
          margin-top: 10px;
          br {
            display: none;
          }
        }
        .outer-circle {
          height: 29px;
          width: 29px;
          .inner-circle {
            height: 13px;
            width: 13px;
          }
        }
        .border-navtab {
          top: 23%;
          height: 3px;
        }
      }
    }
    .tab-content {
      margin-top: 55px !important;
      margin-bottom: 35px;
      .tournament-url {
        margin: 0;
        margin-top: 10px;
      }
      .carousel-game {
        margin-top: 50px;
        swiper {
          margin-top: 0;
          .swiper-slide {
            height: 150px;
            margin-left: 0 !important;
            &.swiper-slide-active {
              height: 150px;
              margin-right: 15px !important;
              overflow: hidden;
              border-radius: 5px;
              > div {
                height: 150px;
                div {
                  background: rgba(23, 26, 28, 0.9);
                  padding: 10px 5px !important;
                  p {
                    font-size: 15px;
                    line-height: normal;
                  }
                }
              }
            }
            > div {
              height: 150px;
              div {
                background: rgba(23, 26, 28, 0.9);
                padding: 10px 5px;
              }
            }
          }
        }
      }
      .date-tournament {
        margin: 0px -8px;
        margin-top: 50px;
        .start-time-tournament {
          margin-top: 30px;
          > div {
            justify-content: flex-end !important;
          }
        }
      }
      .bracket-format {
        margin-top: 65px;
        .row {
          margin: 0 -8px;
          > div {
            height: 90px;
            margin-bottom: 10px;
            div {
              p {
                font-size: 14px;
                line-height: normal;
              }
              svg {
                width: 65px;
                max-height: 62px;
              }
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .registration-tournament {
        margin: 0px -15px;
        margin-top: 50px;
        .col-md-6 {
          margin: 30px 0;
        }
        .form-group {
          height: auto;
          &.input-row {
            margin-top: 20px;
            max-height: fit-content;
            .col-lg-6 {
              padding: 0 15px;
              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      .add-banner {
        margin-top: 50px;
        .custom-file {
          height: 170px;
          .custom-file-label {
            height: 170px;
            padding-top: 15px;
            .filebrowser-btn {
              width: 190px;
              height: 35px;
              font-size: 14px;
              line-height: normal;
            }
          }
        }
      }
      .start-time-tournament .error {
        left: 11px;
        top: 0;
      }
    }
    .button-control-tabs {
      padding-bottom: 40px;
      .col-12 {
        padding: 0;
        justify-content: space-around;
        display: flex;
        button {
          width: 30%;
          height: 50px;
          font-size: 14px;
          margin: 0 !important;
          padding: 0;
        }
      }
    }
    .error {
      position: relative;
    }
  }
  .row.container-input {
    margin: 0 !important;
  }
  .url-form {
    margin-bottom: 15px;
  }
  .share-tournament {
    margin-bottom: 33px;
  }
  .row-details-streaming {
    margin-bottom: 30px;
    .col-6:first-child {
      margin-bottom: 15px;
    }
  }
  .row-platform-streaming {
    margin-bottom: 15px;
  }
  .visibility-row {
    margin-top: 50px;
  }
  .publish-tournament {
    #turnament-main-div {
      .tab-content {
        margin-top: -285px !important;
        .preview-banner {
          > .row {
            position: relative;
            > .col-4 {
              position: absolute;
              padding: 0;
              top: 84px;
              flex: 0 0 40%;
              max-width: 40%;
              div {
                height: 110px;
              }
            }
            > .col-8 {
              max-width: 100%;
              flex: 0 0 100%;
              padding: 0;
              span {
                font-size: 12px;
                line-height: normal;
              }
              h3 {
                font-size: 40px;
                line-height: normal;
                margin-bottom: 0;
              }
              h6 {
                font-size: 15px;
                line-height: normal;
                margin-bottom: 20px;
              }
              > .row:last-child {
                flex-direction: column;
                width: 55%;
                margin-left: auto;
                .col-game,
                .col-checkIn,
                .col-when {
                  margin-right: 0;
                  max-width: 100%;
                  margin-bottom: 25px;
                  .text-color {
                    font-size: 14px;
                    line-height: normal;
                    margin-bottom: 0;
                  }
                }
                .col-type {
                  position: absolute;
                  left: 0;
                  bottom: 25px;
                  .text-color {
                    font-size: 14px;
                    line-height: normal;
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
          .owerview {
            padding: 0;
            margin-top: 45px;
            h3 {
              font-size: 16px;
              margin-bottom: 30px;
            }
            .row {
              margin: 0;
              > div {
                padding: 0 !important;
                padding-left: 30px;
                p {
                  font-size: 14px;
                  line-height: normal;
                  &:not(:last-child) {
                    margin-bottom: 15px;
                  }
                }
              }
            }
          }
          .sponsor-block-about {
            margin-top: 30px;
            padding: 0;
            .sponsor-block-about__about-sponsor {
              height: 130px;
              padding: 10px;
              .row {
                .about-sponsor__logo-sponsor {
                  width: 100px;
                  height: 100px;
                }
                p {
                  font-size: 14px;
                  line-height: normal;
                }
              }
            }
          }
          .winner-prize-block {
            margin-top: 30px;
            padding: 0;
            .row {
              .winner-prize-block__place {
                max-width: 30%;
                flex: 0 0 30%;
                padding: 40px 0;
                span {
                  width: 90px;
                  height: 90px;
                  margin-top: 30px;
                }
                h3 {
                  font-size: 36px;
                  line-height: normal;
                }
                h4 {
                  font-size: 22px;
                  line-height: normal;
                }
              }
            }
          }
          .total-amount {
            margin-top: 50px;
            .col-10 {
              .row {
                padding: 0 15px;
                &:first-child {
                  margin-bottom: 15px;
                }
                &:last-child {
                  margin-top: 25px;
                  padding-top: 25px;
                }
                p {
                  &:first-child {
                    font-size: 14px;
                    line-height: normal;
                  }
                  &:last-child {
                    font-size: 18px;
                    line-height: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .form-group .labeltext {
    font-size: 13px;
  }
  .static-value {
    max-width: 76%;
    font-size: 13px !important;
    top: 14px !important;
  }
}

.form-check {
  img {
    width: 13px;
    margin-right: 10px;
  }
}

.bracket-format p {
  img {
    width: 13px;
    margin-right: 10px;
  }
}

.bannerImage {
  height: 180px;
  width: 100%;
}

.addVenueAddress {
  margin-bottom: 0;
  a {
    font-size: 20px;
    line-height: 26px;
    color: rgba(245, 245, 245, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &:before {
      content: "";
      display: block;
      margin-left: -10px;
      background: url(/assets/images/Tournament/add_sponsor.svg);
      width: 30px;
      height: 30px;
    }
  }
}

.static-value {
  position: absolute;
  left: 10px;
  font-weight: bold;
  font-size: 0.8em;
  color: var(--white-high);
  top: 16px;
}

.form-text {
  position: relative !important;
}
.form-text input {
  padding: 5px 5px 5px 186px;
}

.switch__participants-limit__input {
  margin-top: 20px;
}

.prize-block {
  margin-top: 60px;
  .form-check {
    display: flex;
    align-items: center;
    padding-left: 32px;
    label {
      padding: 0;
      margin: 0;
      font-size: 20px;
      line-height: 26px;
      margin-right: 18px;
      text-transform: uppercase;
    }
  }
}

.prize-block__steps {
  padding: 0;
  .col-lg-4,
  .col-lg-6 {
    padding: 40px 62px;
    &:nth-child(2) {
      padding: 40px 62px;
      border-left: 1px solid var(--white-disabled);
      border-right: 1px solid var(--white-disabled);
    }

    > label {
      text-align: center;
      display: block;
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 36px;
      padding: 0;
    }
  }
}

.sponsors-block {
  margin-top: 61px;
  .form-check {
    display: flex;
    align-items: center;
    padding-left: 32px;
    label {
      padding: 0;
      margin: 0;
      font-size: 20px;
      line-height: 26px;
      margin-right: 18px;
      text-transform: uppercase;
    }
  }
}

.sponsors-block__steps {
  margin-top: 54px;

  .sponsorFieldSet {
    border: 0;
    padding: 0;
    .row > .col-lg-3:first-child {
      .form-group {
        padding: 0 32px;
      }
    }
    .upload-logo-sponsor {
      background: #0c0e0f 0% 0% no-repeat padding-box;
      border: 1px dashed var(--white-disabled);
      border-radius: 5px;
      width: 177px;
      height: 178px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      label {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        background: transparent;
        position: initial;
        padding: 0;
        &:after {
          content: "";
          background: url("/assets/images/Tournament/add_sponsor.svg");
          width: 24px;
          height: 24px;
          display: block;
          background-size: contain;
          margin: auto;
          margin-top: 11px;
        }
      }
      input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
    .input-col {
      .form-group:first-child {
        margin-bottom: 30px;
      }
    }
  }

  .add-more-sponsors {
    margin-top: 64px;
    padding-left: 32px;
    margin-bottom: 0;
    a {
      font-size: 20px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: rgba(245, 245, 245, 0.6);
      fa-icon {
        display: none;
      }
      &:before {
        content: "";
        display: block;
        margin-right: 18px;
        background: url("/assets/images/Tournament/add_sponsor.svg");
        width: 30px;
        height: 30px;
      }
    }
  }

  > .row:not(:first-child) {
    margin-top: 30px;
  }
}

.type-tournament {
  margin-top: 61px;
  padding: 19px 32px 16px;
  p {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.type-tournament__table {
  padding: 31px 0;
  .col-lg-4,
  .col-lg-6 {
    padding: 0 74px;
    .form-group {
      position: relative;
      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
        cursor: pointer;
      }
      label {
        font-size: 24px;
        line-height: 31px;
        margin: auto;
        margin-bottom: 14px;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: fit-content;
        width: -moz-fit-content;
        padding: 0;
        &:after {
          content: "";
          margin-left: 19px;
          width: 31px;
          height: 31px;
          border: 3px solid #6b6d6e;
          border-radius: 50%;
        }
        &:before {
          content: "";
          right: 8px;
          width: 15px;
          height: 15px;
          position: absolute;
          background: var(--white-disabled) 0% 0% no-repeat padding-box;
          border-radius: 20px;
        }
      }
      p {
        font-size: 16px;
        line-height: 22px;
        opacity: 0.5;
        margin: 0;
      }
      input:checked + label {
        opacity: 1;
      }
      input:checked ~ p {
        opacity: 1;
      }
      input:checked + label:before {
        background: var(--orange-color-main);
      }
      input:checked + label:after {
        border-color: var(--orange-color-main);
      }
    }
    &.border-right {
      border-right: 1px solid var(--white-disabled) !important;
    }
  }
}

.type-tournament__switch {
  margin-top: 63px;
  padding: 45px 15px 60px;
  .form-check {
    padding: 0;
    display: flex;
    align-items: center;
    label {
      padding: 0;
      margin: 0;
      margin-right: 12px;
      font-size: 16px;
      line-height: 21px;
      text-transform: capitalize;
    }
  }
  .switch__participants-limit {
    .form-group {
      .switch__participants-limit__input {
        margin-top: 40px;
      }
    }
  }
  .selected-tags {
    padding: 0;
    background: transparent;
    margin-top: 14px;
    width: 100%;
    > div {
      margin-right: 20px;
      margin-bottom: 14px;
    }
  }
}

.switch__buttons-admin {
  margin-top: 41px;

  .btn-group-toggle {
    border: 0.2px solid var(--white-disabled) !important;
    border-radius: 6px;
    overflow: hidden;
    label {
      padding: 13px 0 14px 0;
      font-size: 16px;
      line-height: 21px;
      border: 0 !important;
      width: 200px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white-high);
      &.active {
        padding: 13px 0 14px 0;
        font-size: 18px;
        line-height: 23px;
        text-transform: capitalize;
        border: 0 !important;
        width: 200px;
        color: var(--white-high);
      }
    }
    .btn:not(:first-child),
    .btn-group:not(:first-child) {
      margin-left: 0;
    }
  }
}

.tab-pane.active {
  border: 0.2px solid rgba(226, 226, 226, 0.5);
  border-radius: 5px;
  overflow: hidden;
  background: var(--black);

  textarea {
    border: 0;
    padding: 28px 71px 28px 43px;
    font-size: 16px;
    line-height: 21px;
    color: var(--white-disabled);
  }
  button {
    height: 40px;
    font-size: 16px;
    line-height: 21px;
  }
}

#turnament-main-div {
  .tabs-rules {
    padding: 0;
    .nav-pills.vertical-tabs {
      border-radius: 5px;
      overflow: hidden;
      .nav-link {
        font-size: 14px;
        line-height: 18px;
        padding: 12px 14px;
        &.active {
          padding: 12px 14px 16px;
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
    .tab-content {
      margin: 0 !important;
    }
    .col-12 {
      padding: 0;
    }
    textarea.form-control {
      min-height: 178px;
    }
  }
}

.static-value {
  font-size: 16px;
  font-weight: 100;
  top: 10px;
  left: 20px;
}

#contactOptions {
  text-transform: lowercase;
  font-weight: 200;
}

.tournament-url p {
  overflow: auto !important;
}

.switch__regions {
  padding: 0;
}
@media (max-width: 767px) {
  .prize-block,
  .sponsors-block {
    margin-top: 30px;
    .form-check {
      padding-left: 0;
      label {
        font-size: 16px;
        line-height: normal;
      }
    }
  }
  .prize-block__steps {
    margin-top: 30px;
    .col-lg-4 {
      padding: 0 !important;
      &:nth-child(2) {
        padding: 30px 0 !important;
        border: 0;
        border-top: 1px solid var(--white-disabled);
        border-bottom: 1px solid var(--white-disabled);
        margin: 30px 0;
      }
      > label {
        font-size: 20px;
        line-height: normal;
        margin-bottom: 20px;
      }
      &:first-child {
        .dropdown,
        .form-group {
          .dropdown-toggle,
          input {
            width: 100% !important;
          }
        }
      }
    }
  }
  .sponsors-block__steps {
    margin-top: 30px;
    .sponsorFieldSet {
      .row {
        > .col-lg-3:first-child {
          .form-group {
            padding: 0;
          }
        }
      }
      .upload-logo-sponsor {
        width: 100%;
        height: 120px;
        margin-bottom: 15px;
        label {
          font-size: 14px;
          line-height: normal;
        }
      }
      .input-col {
        margin-bottom: 15px;
        .form-group:first-child {
          margin-bottom: 15px;
        }
      }
      .col-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 15px;
        fa-icon {
          font-size: 20px;
        }
      }
    }
    > div {
      border: 1px solid rgba(245, 245, 245, 0.6);
      padding: 10px;
      border-radius: 5px;
    }
    .add-more-sponsors {
      margin-top: 30px;
      padding-left: 0;
      margin-bottom: 0;
      a {
        font-size: 16px;
        line-height: normal;
        &:after {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  .type-tournament {
    margin-top: 30px;
    p {
      font-size: 16px;
      line-height: normal;
    }
  }
  .type-tournament__table {
    .col-lg-4,
    .col-lg-6 {
      padding: 20px;
      max-width: 90%;
      flex: 0 0 90%;
      border: 0;
      margin: auto;
      &:first-child {
        padding-top: 0;
        border-bottom: 1px solid rgba(245, 245, 245, 0.6);
      }
      &:last-child {
        padding-bottom: 0;
        border-top: 1px solid rgba(245, 245, 245, 0.6);
      }
      &.border-right {
        border-right: 0 !important;
      }
      .form-group {
        label {
          font-size: 20px;
          line-height: normal;
          &:before {
            width: 10px;
            height: 10px;
          }
          &:after {
            width: 26px;
            height: 26px;
          }
        }
        p {
          font-size: 14px;
          line-height: normal;
        }
      }
    }
  }
  .type-tournament__switch {
    margin-top: 30px;
    padding: 20px;
    .col-3 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .form-check {
        .switch {
          margin: 0;
          margin-left: auto;
        }
      }
      &.switch__participants-limit {
        .form-group {
          .switch__participants-limit__input {
            .counter__container {
              width: 100%;
              height: 40px;
            }
          }
        }
      }
    }
    .selected-tags > div {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  .switch__buttons-admin {
    margin-top: 20px;
    padding: 0;
    .btn-group-toggle {
      label,
      label.active {
        width: auto;
        min-width: 115px;
        font-size: 12px;
        line-height: normal;
        height: 45px;
        padding: 11px 0;
      }
    }
  }

  > .row {
    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 !important;
    }
    .input-explain-text {
      position: relative;
      top: 7px;
      left: 0;
    }
  }
}

.about-sponsor__name-sponsor {
  width: 35%;
}
.about-sponsor__website-sponsor {
  width: 35%;
}

.addVenueAddressOffline {
  float: right;
  width: 10%;
}

.hide-sponser-logo-box {
  visibility: hidden;
  margin-left: -60px;
}

.form-check-margin {
  margin-top: 10px;
  justify-content: space-between;
  .select-width {
    width: 180px;
  }
}

.fa-prize-trash {
  float: right;
  top: -25px;
  left: 10px;
}

.prize_title {
  font-size: 20px;
  line-height: normal;
  margin-bottom: 26px;
  text-align: center;
  width: 100%;
  color: var(--black);
}

.column-top {
  top: 15px;
}

.placement-point-wrap {
  max-height: 150px;
  width: 190px;
  border: 1px solid #5e636e;
  overflow: auto;
  padding: 0px 10px !important;
  & .block-points-of-placement {
    min-height: 50px;
    width: 100%;
    padding: 6px;
    border-bottom: 1px solid #3a3d46;

    & .point-placement__input {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      span {
        background: #3e424b;
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        color: var(--white-high);
        padding: 10px;
        text-align: center;
        min-width: 45px;
      }

      input {
        background-color: var(--create-tour-cardbody-bg-color);
        color: var(--white-high);
        padding: 0px 10px;
        max-width: 100px;
      }
    }
  }
}

.input_placement_point {
  margin-top: 15px;
  margin-left: 74px;
}

.match-format {
  margin: 0px 0px 30px 0px;
}

.api-key-instruction {
  margin: 0px 0px 15px 0px;
  a {
    color: #d7a3a3 !important;
  }
}

h4 {
  padding: 0px 15px;
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.margin-top {
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 10px;
  margin-top: 10px;
}

.tournament-stage {
  top: 35px;
}

.text-align-center {
  text-align: end;
}

.padding-0 {
  padding: 0px;
}
.label-name {
  color: var(--white-high) !important;
}
.label-name1 {
  color: var(--black) !important;
}

#turnament-main-div .tab-content .bracket-format .row > div div {
  border: 2px solid var(--black);
}

.turnament-timeline {
  &-start {
    align-items: flex-start !important;
  }
  &-end {
    align-items: flex-end !important;
  }
  &-thirdLine {
    right: 0 !important;
  }
}
.Tiebreaker {
  &-Header {
    font-weight: 600;
  }
  &-Body {
    color: var(--ui-dim-gray);
  }
  &-Text {
    margin: 0;
    margin-left: 10px;
  }
}
