<div #mainContainer class="" *ngIf="hasRequiredAccess">
  <div
    class="card w-100 h-100 header-card text-center"
    [class.publish-tournament]="active == 4"
  >
    <section class="banner-container u-wp">
      <div class="row heading global-H3">
        <h2 *ngIf="!editTournament">
          {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_HEADER" | translate }}
        </h2>
        <h2 *ngIf="editTournament">
          {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_EDIT" | translate }}
        </h2>
      </div>
    </section>

    <form class="form-container u-wp" [formGroup]="tournamentForm">
      <div
        class="card-body card-navigation turnament-timeline"
        id="turnament-main-div"
      >
        <ul
          ngbNav
          #nav="ngbNav"
          (navChange)="navChangeHandler($event)"
          (activeIdChange)="activeHandler($event)"
          [(activeId)]="active"
          [destroyOnHide]="false"
          class="nav-tabs first-ul"
        >
          <li [ngbNavItem]="1">
            <a ngbNavLink class="navtab-main turnament-timeline-start">
              <div class="navtab-text">
                {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_BASIC" | translate }}
                <br />
                {{
                  "CREATE_TOURNAMENT.CREATE_TOURNAMENT_INFORMATION" | translate
                }}
              </div>
              <div class="outer-circle active">
                <div class="inner-circle"></div>
              </div>
            </a>
            <ng-template ngbNavContent>
              <tournament-basic
                [basicDetails]="tournamentDetails"
                [isParticipantRegistered]="isParticipantRegistered"
                [isAllDataLoaded]="isAllDataLoaded"
              >
              </tournament-basic>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink class="navtab-main">
              <div class="navtab-text">
                <br />{{
                  "CREATE_TOURNAMENT.CREATE_TOURNAMENT_CONDITIONS" | translate
                }}
              </div>
              <div class="outer-circle" [class.active]="active == 3">
                <div class="inner-circle"></div>
              </div>
              <div
                class="border-navtab second-line"
                [class.active]="active == 3"
              ></div>
            </a>
            <ng-template ngbNavContent>
              <tournament-conditions
                [tConditions]="tournamentDetails"
                [isPaid]="tournamentForm.value.isPaid"
              >
              </tournament-conditions>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink class="navtab-main turnament-timeline-end">
              <div class="navtab-text">
                {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_FINAL" | translate }}
                <br />
                {{ "CREATE_TOURNAMENT.CREATE_DETAILS" | translate }}
              </div>
              <div class="outer-circle">
                <div class="inner-circle"></div>
              </div>
              <div
                class="border-navtab third-line turnament-timeline-thirdLine"
              ></div>
            </a>
            <ng-template ngbNavContent>
              <tournament-final [tFinal]="tournamentDetails">
              </tournament-final>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink class="navtab-main">
              <div class="navtab-text">
                <br />{{
                  "CREATE_TOURNAMENT.CREATE_TOURNAMENT_PUBLISH" | translate
                }}
              </div>
              <div class="outer-circle">
                <div class="inner-circle"></div>
              </div>
              <div class="border-navtab"></div>
            </a>
            <ng-template ngbNavContent>
              <tournament-preview
                [tournament]="tournamentForm.value"
                [active]="active"
                [userFullName]="user?.fullName"
              >
              </tournament-preview>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-3"></div>
        <tournament-footer
          [form]="tournamentForm"
          [nav]="nav"
          [active]="active"
          [fallBack]="fallBack"
          [fallBackIndex]="fallBackIndex"
          [user]="user"
          [childNotifier]="childNotifier"
          (emitMessage)="getFooterResponse($event)"
          (getActiveId)="activeHandler($event)"
        >
        </tournament-footer>
      </div>
    </form>
  </div>
</div>
<app-fullscreen-loading *ngIf="!isAllDataLoaded"></app-fullscreen-loading>
