<section class="Tournament-sectionA" *ngIf="isBrowser">
  <h1 class="Tournament-sectionA-title global-Title2">
    {{ "ESPORTS.SECTIONA.TITLE" | translate }}
  </h1>

  <div *ngIf="tournamentsData?.length" class="Tournament-sectionA-tournaments">
    <ngb-carousel
      [showNavigationArrows]="showNavigationArrows"
      [showNavigationIndicators]="showNavigationIndicators"
    >
      <ng-template *ngFor="let tournament of tournamentsData" ngbSlide>
        <div class="Tournament-sectionA-tournament">
          <div class="Tournament-sectionA-tournament-image-block">
            <a
              [routerLink]="
                AppHtmlRoutes.tournamentView + '/' + tournament.slug
              "
            >
              <img
                class="Tournament-sectionA-tournament-image"
                [src]="tournament.banner || tournament.gameDetail.image"
                [alt]="tournament.gameDetail.name"
            /></a>
          </div>
          <div class="Tournament-sectionA-tournament-about">
            <h2
              class="
                Tournament-sectionA-tournament-title
                global-Title2 global-Elipses2
              "
            >
              {{ tournament.name }}
            </h2>
            <!-- <p
              class="Tournament-sectionA-tournament-description global-Text global-Elipses3"
            >
              {{ tournament.description }}
            </p> -->
            <div class="Tournament-sectionA-tournament-info">
              <p class="Tournament-sectionA-tournament-date">
                {{ tournament.startDate | date: "MMMM d, y" }} |
                {{ tournament.startTime }}
              </p>
              <p class="Tournament-sectionA-tournament-players">
                <!-- {{ tournament.participantJoined }} -->
                <!-- {{ "HOME.SECTIONB.OF" | translate }}
                {{ tournament.maxParticipants }} -->
                <!-- {{
                  tournament.participantType === "individual"
                    ? ("HOME.SECTIONB.PLAYER_TOURNAMENT_CARD" | translate)
                    : ("HOME.SECTIONB.TEAM_TOURNAMENT_CARD" | translate)
                }} -->
              </p>
            </div>
            <button
              [routerLink]="
                AppHtmlRoutes.tournamentView + '/' + tournament.slug
              "
              class="Tournament-sectionA-tournament-button global-EditBtn"
              (click)="addSTCTournamentGTMTag(tournament.name)"
            >
              {{ "ESPORTS.SECTIONA.BUTTON3" | translate }}
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="Tournament-sectionA-create">
    <h2 class="Tournament-sectionA-create-title global-Title2">
      {{ "ESPORTS.SECTIONA.TITLE2" | translate }}
    </h2>
    <div class="Tournament-sectionA-create-buttons">
      <button
        class="Tournament-sectionA-create-button global-EditBtn is-active"
        data-test-id="tournament-button-createTournament-step1"
        routerLink="/quick-advance"
        (click)="addCreateTournamentGTMTag()"
      >
        {{ "ESPORTS.SECTIONA.BUTTON1" | translate }}
      </button>
    </div>
  </div>

  <div class="Tournament-sectionA-cards" style="display: none">
    <div
      class="Tournament-sectionA-card"
      *ngFor="let game of gameList.slice(0, 6); let i = index"
    >
      <div class="Tournament-sectionA-card-image-block">
        <img
          class="Tournament-sectionA-card-image"
          [src]="game.logo ? game.logo : './assets/images/Home/top1.png'"
          alt="image"
        />
      </div>
      <p class="Tournament-sectionA-card-game">
        {{ game.name }}
      </p>
    </div>
  </div>
</section>

<section
  class="Tournament-sectionB"
  *ngIf="ladderTournamentData?.length && isBrowser"
>
  <header class="Tournament-sectionB-header">
    <h2 class="Tournament-sectionB-title global-Title2">
      {{ "ESPORTS.SECTIONB.TITLE1" | translate }}
    </h2>
    <div class="Tournament-sectionB-buttons">
      <button
        [routerLink]="AppHtmlRoutes.search"
        class="Tournament-sectionB-search"
      >
        <img
          class="Tournament-sectionB-search-icon"
          src="assets/icons/search-black.svg"
          alt="select icon"
        />
      </button>
      <mat-form-field class="stc-select" appearance="fill">
        <mat-select
          matNativeControl
          required
          [name]="activeTab"
          [(ngModel)]="activeTab"
          (ngModelChange)="changeTab($event, 'ladder')"
        >
          <mat-option [value]="'upcoming'">
            {{ "ESPORTS.SECTIONBV2.BUTTON1" | translate }}
          </mat-option>
          <mat-option selected [value]="'ongoing'">
            {{ "ESPORTS.SECTIONBV2.BUTTON2" | translate }}
          </mat-option>
          <mat-option [value]="'completed'">
            {{ "ESPORTS.SECTIONBV2.BUTTON3" | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </header>
  <div class="Tournament-sectionB-cards">
    <a
      class="Tournament-sectionB-card"
      *ngFor="let item of ladderTournamentData"
      [routerLink]="AppHtmlRoutes.tournamentView + '/' + item?.slug"
      (click)="viewTournamentGTM(item, 'ladder')"
    >
      <div class="Tournament-sectionB-card-image-block">
        <img
          class="Tournament-sectionB-card-image"
          [src]="item?.banner || item?.gameDetail?.image"
          [alt]="item?.name"
        />
      </div>
      <div class="Tournament-sectionB-card-desc">
        <h4 class="Tournament-sectionB-card-title global-Elipses">
          {{ item?.name | capitalizeFirst }}
        </h4>
        <h6
          class="global-Text"
          *ngIf="activeTab == 'ongoing' || activeTab == 'completed'"
        >
          {{ "ESPORTS.SECTIONBV2.TOURNAMENT_ENDS" | translate }}
        </h6>
        <h6 class="global-Text" *ngIf="activeTab == 'upcoming'">
          {{ "ESPORTS.SECTIONBV2.TOURNAMENT_START" | translate }}
        </h6>

        <p
          class="Tournament-sectionB-card-text global-Text global-Elipses date"
          *ngIf="activeTab == 'upcoming'"
        >
          {{ item?.startDate | date: "MMMM d, y" }} |
          {{
            !isNumber(timezone)
              ? (item?.startDate | date: "shortTime")
              : (item?.startDate | date: "longTime")
          }}
          {{ !isNumber(timezone) ? timezone : "" }}
        </p>
        <p
          class="Tournament-sectionB-card-text global-Text global-Elipses date"
          *ngIf="activeTab == 'ongoing' || activeTab == 'completed'"
        >
          {{ item?.endDate | date: "MMMM d, y" }} |
          {{
            !isNumber(timezone)
              ? (item?.endDate | date: "shortTime")
              : (item?.endDate | date: "longTime")
          }}
          {{ !isNumber(timezone) ? timezone : "" }}
        </p>

        <p
          class="Tournament-sectionB-card-text global-Text players"
          *ngIf="item?.isParticipantsLimit && isShowParticipants"
        >
          {{ item?.participantJoined }}
          {{ "HOME.SECTIONB.OF" | translate }}
          {{ item?.maxParticipants }}

          {{
            item?.participantType === "individual"
              ? ("HOME.SECTIONB.PLAYER_TOURNAMENT_CARD" | translate)
              : ("HOME.SECTIONB.TEAM_TOURNAMENT_CARD" | translate)
          }}
        </p>
        <p
          class="Tournament-sectionB-card-text global-Text players"
          *ngIf="!item?.isParticipantsLimit && isShowParticipants"
        >
          {{ item?.participantJoined }}
          {{
            item?.participantType
              | pType: item?.participantJoined:item?.bracketType
              | translate
          }}
        </p>
      </div>
    </a>
  </div>
  <app-pagination [page]="page1" (currentPage)="pageChanged($event, 'ladder')">
  </app-pagination>
</section>

<section class="Tournament-sectionB" *ngIf="isBrowser">
  <header class="Tournament-sectionB-header">
    <h2 class="Tournament-sectionB-title global-Title2">
      {{ "ESPORTS.SECTIONB.TITLE" | translate }}
    </h2>
    <a class="Tournament-sectionB-buttons">
      <button
        [routerLink]="AppHtmlRoutes.search"
        class="Tournament-sectionB-search"
      >
        <img
          class="Tournament-sectionB-search-icon"
          src="assets/icons/search-black.svg"
          alt="select icon"
        />
      </button>
      <mat-form-field class="stc-select" appearance="fill">
        <mat-select
          matNativeControl
          required
          [name]="currentTab"
          [(ngModel)]="currentTab"
          (ngModelChange)="changeTab($event)"
        >
          <mat-option [value]="'upcoming'">
            {{ "ESPORTS.SECTIONBV2.BUTTON1" | translate }}
          </mat-option>
          <mat-option selected [value]="'ongoing'">
            {{ "ESPORTS.SECTIONBV2.BUTTON2" | translate }}
          </mat-option>
          <mat-option [value]="'completed'">
            {{ "ESPORTS.SECTIONBV2.BUTTON3" | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </a>
  </header>
  <div class="Tournament-sectionB-cards" *ngIf="tournamentData">
    <a
      class="Tournament-sectionB-card"
      *ngFor="let item of tournamentData"
      [routerLink]="AppHtmlRoutes.tournamentView + '/' + item?.slug"
      (click)="viewTournamentGTM(item, 'regular')"
    >
      <div class="Tournament-sectionB-card-image-block">
        <img
          class="Tournament-sectionB-card-image"
          [src]="item?.banner || item?.gameDetail?.image"
          [alt]="item?.name"
        />
      </div>
      <div class="Tournament-sectionB-card-desc">
        <h4 class="Tournament-sectionB-card-title global-Elipses">
          {{ item?.name | capitalizeFirst }}
        </h4>
        <h6
          class="global-Text"
          *ngIf="currentTab == 'ongoing' || currentTab == 'completed'"
        >
          {{ "ESPORTS.SECTIONBV2.TOURNAMENT_ENDS" | translate }}
        </h6>
        <h6 class="global-Text" *ngIf="currentTab == 'upcoming'">
          {{ "ESPORTS.SECTIONBV2.TOURNAMENT_START" | translate }}
        </h6>

        <p
          class="Tournament-sectionB-card-text global-Text global-Elipses date"
          *ngIf="currentTab == 'upcoming'"
        >
          {{ item?.startDate | date: "MMMM d, y" }} |
          {{
            !isNumber(timezone)
              ? (item?.startDate | date: "shortTime")
              : (item?.startDate | date: "longTime")
          }}
          {{ !isNumber(timezone) ? timezone : "" }}
        </p>
        <p
          class="Tournament-sectionB-card-text global-Text global-Elipses date"
          *ngIf="currentTab == 'ongoing' || currentTab == 'completed'"
        >
          {{ item?.endDate | date: "MMMM d, y" }} |
          {{
            !isNumber(timezone)
              ? (item?.endDate | date: "shortTime")
              : (item?.endDate | date: "longTime")
          }}
          {{ !isNumber(timezone) ? timezone : "" }}
        </p>

        <p
          class="Tournament-sectionB-card-text global-Text players"
          *ngIf="item?.isParticipantsLimit && isShowParticipants"
        >
          {{ item?.participantJoined }}
          {{ "HOME.SECTIONB.OF" | translate }}
          {{ item?.maxParticipants }}

          {{
            item?.participantType === "individual"
              ? ("HOME.SECTIONB.PLAYER_TOURNAMENT_CARD" | translate)
              : ("HOME.SECTIONB.TEAM_TOURNAMENT_CARD" | translate)
          }}
        </p>
        <p
          class="Tournament-sectionB-card-text global-Text players"
          *ngIf="!item?.isParticipantsLimit && isShowParticipants"
        >
          {{ item?.participantJoined }}
          {{
            item?.participantType
              | pType: item?.participantJoined:item?.bracketType
              | translate
          }}
        </p>
      </div>
    </a>
  </div>
  <app-pagination [page]="page2" (currentPage)="pageChanged($event)">
  </app-pagination>
</section>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
