@import "shared";

.global-scrollbar {
  width: 100%;
}

.form-group {
  height: 100%;
  max-height: 38px;

  .form-check {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .form-check-label {
      font-size: 16px;
      margin-right: 16px;
      line-height: 21px;
      padding: 0;
    }

    img {
      width: 13px;
      margin-right: 10px;
    }
  }
}

.switch-text-label {
  vertical-align: top;
  margin-right: 0.5em;
  position: relative;
}

.form-group {
  height: 100%;
  max-height: 38px;

  .form-check {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .form-check-label {
      font-size: 16px;
      margin-right: 16px;
      line-height: 21px;
      padding: 0;
    }

    img {
      width: 13px;
      margin-right: 10px;
    }
  }
}

/* toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  border-radius: 167px;
  width: 45px;
  height: 25px;
  margin-bottom: 0;
}

.switch-text-label {
  vertical-align: top;
  margin-right: 0.5em;
  position: relative;
}

.form-check {
  margin-left: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--base-gainsboro);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 19px;
  left: 5px;
  bottom: 4px;
  background-color: var(--base-white-smoke);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-sunset-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--ui-dodger-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.sort {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-right: 25px;
}

fa-icon {
  height: 0.8em;
  display: flex;
  font-size: 20px;
  align-items: center;
  cursor: pointer;
}

.QitafConfigurations {
  &-boxA {
    @extend %u-dfEndBtw;

    @include md {
      flex-flow: wrap;
    }

    @include sm {
      align-items: center;
      flex-flow: column;
    }

    &-item {
      @extend %u-dfCenterBtw;
      margin-bottom: px2vw-xl(85px);

      @include lg {
        margin-bottom: px2vw-lg(85px);
      }

      @include md {
        margin-bottom: px2vw-md(85px);
      }

      @include sm {
        flex-flow: column;
        margin-bottom: px2vw-sm(85px);
      }

      &.is-first {
        flex-flow: column;
        align-items: flex-start;
      }

      &-color {
        width: px2vw-xl(50px);
        height: px2vw-xl(50px);
        margin-left: px2vw-xl(10px);
        border: none;
        color: transparent;

        @include lg {
          width: px2vw-lg(50px);
          height: px2vw-lg(50px);
          margin-left: px2vw-lg(10px);
        }

        @include md {
          width: px2vw-md(50px);
          height: px2vw-md(50px);
          margin-left: px2vw-md(10px);
        }

        @include sm {
          width: px2vw-sm(50px);
          height: px2vw-sm(50px);
          margin: px2vw-sm(10px) 0 0;
        }
      }

      &-upload {
        @extend %global-Text;
        @extend %u-dfCenterCenter;
        border: 1px dashed var(--ui-dim-gray);
        border-radius: px2vw-xl(5px);
        margin-top: px2vw-xl(13px);
        width: px2vw-xl(180px);
        height: px2vw-xl(180px);
        color: var(--ui-dim-gray);
        background-color: var(--base-black-pearl);
        background-size: cover;
        background-position: center;

        @include lg {
          margin-top: px2vw-lg(13px);
          border-radius: px2vw-lg(5px);
          width: px2vw-lg(180px);
          height: px2vw-lg(180px);
        }

        @include md {
          margin-top: px2vw-md(13px);
          border-radius: px2vw-md(5px);
          width: px2vw-md(180px);
          height: px2vw-md(180px);
        }

        @include sm {
          margin-top: px2vw-sm(13px);
          border-radius: px2vw-sm(5px);
          width: px2vw-sm(180px);
          height: px2vw-sm(180px);
        }

        &-info {
          width: 86%;
          margin: 0 auto;
          text-align: center;

          button {
            margin-top: px2vw-xl(13px);
            background-color: var(--ui-nero);
            width: 100%;
            padding: 0;

            @include lg {
              margin-top: px2vw-lg(13px);
            }

            @include md {
              margin-top: px2vw-md(13px);
            }

            @include sm {
              margin-top: px2vw-sm(13px);
            }
          }
        }
      }
    }
  }

  &-boxB {
    @extend %u-dfEndBtw;
    flex-flow: wrap;
    margin-top: px2vw-xl(60px);

    @include lg {
      margin-top: px2vw-lg(60px);
    }

    @include md {
      flex-flow: column;
      margin-top: px2vw-md(40px);
    }
    @include sm {
      margin-top: px2vw-sm(40px);
    }

    &-item {
      @extend %u-dfCenterBtw;
      margin-bottom: px2vw-xl(85px);
      width: 38%;

      @include lg {
        margin-bottom: px2vw-lg(85px);
      }

      @include md {
        margin-bottom: px2vw-md(85px);
        width: 100%;
      }

      @include sm {
        margin-bottom: px2vw-sm(85px);
      }

      &-input {
        width: px2vw-xl(154px);
        height: px2vw-xl(64px);
        border: px2vw-xl(2px) solid var(--base-white-dark);
        border-radius: px2vw-xl(10px);
        padding: 0 px2vw-xl(15px);
        font-size: px2vw-xl(20px);
        background: transparent;

        @include lg {
          width: px2vw-lg(154px);
          height: px2vw-lg(64px);
          border-width: px2vw-lg(2px);
          border-radius: px2vw-lg(10px);
          padding: 0 px2vw-lg(15px);
          font-size: px2vw-lg(20px);
        }

        @include md {
          width: px2vw-md(154px);
          height: px2vw-md(64px);
          border-width: px2vw-md(2px);
          border-radius: px2vw-md(10px);
          padding: 0 px2vw-md(15px);
          font-size: px2vw-md(20px);
        }

        @include sm {
          width: px2vw-sm(154px);
          height: px2vw-sm(64px);
          border-width: px2vw-sm(2px);
          border-radius: px2vw-sm(10px);
          padding: 0 px2vw-sm(15px);
          font-size: px2vw-sm(20px);
        }
      }
    }
  }
}

.ml-25 {
  margin-left: 25px;
}

.QitafConfigSaveBtn {
  margin-left: px2vw-xl(20px);
}

.display-flex {
  display: flex;
}

.mt-15 {
  margin-top: 15px;
}
