@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: block;
  margin-bottom: 20px;
}

.BasicInfo-footer {
  padding-top: 30px;
  padding-bottom: 30px;

  button {
    margin-right: 10px;
  }
}

.form-group > .labeltext {
  top: -6px;
  left: 35px;
  position: absolute;
  color: var(--base-black-pear);
  padding: 0 5px;
  font-size: 0.9em;
  background-color: var(--loginModalBgColor) !important;
}

.second-form {
  input {
    width: 45px;
    height: 45px;
    background: transparent;
    padding: 0;
    margin-right: 25px;
    text-align: center;
    border: 1px solid var(--base-white);
    border-radius: 5px;
    color: var(--base-white);
    &:last-child {
      margin-right: 0;
    }
  }
}

.resend {
  color: var(--ui-venetian-red) !important;
}

.link-img {
  padding: 0 0.9rem;

  img {
    width: 30px;
  }
}

.usericon {
  position: absolute;
  top: 12px;
  right: 38px;
  color: var(--base-white);
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.width-100 {
  width: 100%;
  position: absolute;
  left: -50px;
}

.col6 {
  margin-top: 3rem;
}

.wel-text {
  text-transform: none !important;
}

.mr-top {
  margin-top: 2rem;
}

.btn {
  width: auto;
  margin-right: 0.5rem;
  padding: 0.475rem 2rem;
}

@media (max-width: 992px) {
  .form-group > .labeltext {
    top: -6px;
    left: 65px;
    position: absolute;
    color: var(--base-black-pearl);
    padding: 0 5px;
    font-size: 0.9em;
    background-color: var(--loginModalBgColor) !important;
  }

  .usericon {
    position: absolute;
    top: 12px;
    right: 68px;
    color: var(--base-white);
  }

  .col-md-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .btn {
    width: auto;
    margin-right: 0.1rem;
    padding: 0.475rem 2rem;
  }

  #register-section {
    padding: 1.9em 0;
  }

  .btn {
    width: auto;
  }

  .col6 {
    margin-top: 0;
  }

  .register-row {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .form-group > .labeltext {
    top: -6px;
    left: 5px;
    position: absolute;
    color: var(--base-black-pearl);
    padding: 0 5px;
    font-size: 0.9em;
    background-color: var(--loginModalBgColor) !important;
  }

  .usericon {
    position: absolute;
    top: 12px;
    right: 8px;
    color: var(--base-white);
  }

  .col-md-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .btn {
    width: auto;
    margin-right: 0.2rem;
    padding: 0.475rem 2rem;
  }

  .form-group {
    position: relative !important;
    margin-bottom: 0 !important;
  }

  .float-left,
  .float-right {
    font-size: 12px;
  }

  .form-group p {
    font-size: 12px;
  }

  .wel-text {
    padding-bottom: 0 !important;
  }

  .width-100 {
    width: 100%;
    position: absolute;
    left: -20px;
  }
}

.modal-body {
  border-radius: 4px;
  background-color: var(--base-black-pearl);
  color: var(--base-white);

  .modal-header-color {
    color: var(--ui-venetian-red);
    font-family: "stc-forward-large";
  }

  .wel-text {
    padding-bottom: 1.5rem;
    font-family: "stc-forward-regular";
  }
}

::ng-deep {
  .iti {
    display: block;
  }

  .iti__country-name {
    display: none;
  }
}