<section class="privacy-banner">
  <img src="../../../../assets/images/privacy/privacy-banner.png">
  <div class="container">
    <div class="row">
       <div class="col-12">
         <div class="privacy-head">
           <h1>{{ "PRIVACY.PRIVACY-POLICY-BANNER-HEAD" | translate }}</h1>
           <p>{{ "PRIVACY.PRIVACY-POLICY-BANNER-PERA" | translate }}</p>
         </div>
       </div>
    </div>
  </div>
</section>

<div class="PrivacyPolicy u-wp">
  <!-- <header class="PrivacyPolicy-header">
    <button class="PrivacyPolicy-header-button button-icon-secondary" (click)="goBack()">
      <mat-icon> arrow_back </mat-icon>
      <span>
        {{ "BUTTON.BACK" | translate }}
      </span>
    </button>
  </header> -->


  <div class="row">
    <div class="overviewlist col-4">



      <h3 class="d-md-none">{{ "PRIVACY.JUMP" | translate }}</h3>

      <div class="dropdown d-md-none">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          {{ "PRIVACY.OVER-VIEW" | translate }}
        </button>
        <div class="dropdown-menu">
          <ul class="list">
        <li><a tabindex="1" (click)="changevalues('overview')">{{ "PRIVACY.OVER-VIEW" | translate }}</a></li><br />
        <li><a tabindex="1" (click)="changevalues('information')">{{ "PRIVACY.INFORMATION" | translate }}</a></li>
        <br />
        <li><a tabindex="1" (click)="changevalues('shareinformation')">{{ "PRIVACY.HOW" | translate }}</a></li><br />
        <li><a tabindex="1" (click)="changevalues('consumer')">{{ "PRIVACY.CONSUMER" | translate }}</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('cookies')">{{ "PRIVACY.COOKIES" | translate }}</a></li><br />
        <li><a tabindex="1" (click)="changevalues('dataretention')">{{ "PRIVACY.DATA" | translate }}</a></li><br />
        <li><a tabindex="1" (click)="changevalues('children')">{{ "PRIVACY.CHILDREN" | translate }}</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('protection')">{{ "PRIVACY.INFORMATION_PROTECTION" | translate }}</a></li> <br />
        
          </ul>
        </div>
      </div>

      <ul class="list d-none d-md-block">
        <li><a tabindex="1" (click)="changevalues('overview')">{{ "PRIVACY.OVER-VIEW" | translate }}</a></li><br />
        <li><a tabindex="1" (click)="changevalues('information')">{{ "PRIVACY.INFORMATION" | translate }}</a></li>
        <br />
        <li><a tabindex="1" (click)="changevalues('shareinformation')">{{ "PRIVACY.HOW" | translate }}</a></li><br />
        <li><a tabindex="1" (click)="changevalues('consumer')">{{ "PRIVACY.CONSUMER" | translate }}</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('cookies')">{{ "PRIVACY.COOKIES" | translate }}</a></li><br />
        <li><a tabindex="1" (click)="changevalues('dataretention')">{{ "PRIVACY.DATA" | translate }}</a></li><br />
        <li><a tabindex="1" (click)="changevalues('children')">{{ "PRIVACY.CHILDREN" | translate }}</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('protection')">{{ "PRIVACY.INFORMATION_PROTECTION" | translate }}</a></li> <br />
              </ul>


    </div>
    <div class="col-8">
      <section class="privacypolicy">
        <h1 class="PrivacyPolicy-title">
          {{ "PRIVACY_POLICY.TITLE" | translate }}
        </h1><br>
        <p class="PrivacyPolicy-subtitle">{{ "PRIVACY.PRIVACY-POLICY-SUBTITLE" | translate }}</p>
        
        
       

       
        <div class="overview" *ngIf="privacypolicy =='overview'">
          <h4 class="overview-title">
            {{ "PRIVACY.OVERVIEW-TITLE" | translate }}
          </h4>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
          </p>


          <h4 class="overview-title">
            {{ "PRIVACY.OVERVIEW-TITLE2" | translate }}
          </h4>
          

          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
          </p>
          
        </div>

        <div class="policycontent">
          <div class="information" *ngIf="privacypolicy =='information'">
            <h4 class="overview-title">{{ "PRIVACY.INFORMATION-HEAD" | translate }}</h4>
            
            


            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
            </p>
          </div>

          <div class="shareinformation" *ngIf="privacypolicy =='shareinformation'">
            <h4 class="overview-title">{{ "PRIVACY.HOW-HEAD" | translate }}</h4>

            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
            </p>
            
          </div>

          <div class="consumer" *ngIf="privacypolicy =='consumer'">
            <h4 class="overview-title">
              {{ "PRIVACY.CONSUMER-HEAD" | translate }}
            </h4>
            
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
            </p>
            
              
          </div>

          <div class="cookies" *ngIf="privacypolicy =='cookies'">

            <h4 class="overview-title">
              {{ "PRIVACY.CONSUMER-HEAD" | translate }}
            </h4>
            
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
            </p>
            
            


          </div>

          <div class="dataretention" *ngIf="privacypolicy =='dataretention'">
            <h4 class="overview-title">
              {{ "PRIVACY.DATA-HEAD" | translate }}
            </h4>
            

            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
            </p>
          </div>

          <div class="children" *ngIf="privacypolicy =='children'">
            <h4 class="overview-title">
              {{ "PRIVACY.CHILDREN-HEAD" | translate }}
            </h4>
            

            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
            </p>
            <p class="overview-paragraph">
              {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
            </p>


          </div>

          <div class="protection" *ngIf="privacypolicy =='protection'">
            <h4 class="overview-title">
              {{ "PRIVACY.INFORMATION_PROTECTION_HEAD" | translate }}
            </h4>
            <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
          </p>


          </div>

          <div class="compliance" *ngIf="privacypolicy =='compliance'">
            <h4 class="overview-title">
              {{ "PRIVACY.OTHERS-HEAD" | translate }}
            </h4>
            
            <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
          </p>


          </div>

          <div class="others" *ngIf="privacypolicy =='others'">
            <h4 class="overview-title">
              {{ "PRIVACY.OTHERS-HEAD" | translate }}
            </h4>
            <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
          </p>


            
          </div>

          <div class="queries" *ngIf="privacypolicy =='queries'">
            <h4 class="overview-title">
              {{ "PRIVACY.QUERIES-HEAD" | translate }}
            </h4>
            

           <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA1" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA2" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA3" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA4" | translate }} 
          </p>
          <p class="overview-paragraph">
            {{ "PRIVACY.PRIVACY-TOPIC-PERA5" | translate }} 
          </p>
          
          </div>
        </div>


        <!-- <h3 class="Section-title" style="font-family: 'archivo';font-style: normal; size: 34px;">
          SECTION TITLE
        </h3>

        <ul>
          <li>
            <P class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ex numquam autem nam consequuntur,
              consequatur veritatis velit minus reprehenderit delectus in ratione qui impedit. Quibusdam perferendis veritatis voluptatum tempora aspernatur minus ex, reprehenderit, quas fuga, error odio voluptates quam inventore?</P>
            </li>
        </ul>
      <ol type="1" class="description" style="font-family: 'redhat-regular';
      font-style: normal;
      font-weight: normal;">
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
      </ol>
      <p class="description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis dolor suscipit perspiciatis
        inventore? Perferendis, cupiditate et! Veritatis tempora nesciunt odit corporis doloremque aperiam sit unde
        magni amet libero. Natus aperiam, consequuntur quos a reprehenderit maxime,
        ullam repellat cumque nisi blanditiis libero ea qui, ducimus facere labore quia adipisci accusamus?</p>

        <h3 class="Section-title"style="font-family: 'archivo';font-style: normal; size: 34px;">
         SECTION TITLE
        </h3>

        <ul>
          <li>
            <P class="description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ex numquam autem nam consequuntur,
              consequatur veritatis velit minus reprehenderit delectus in ratione qui impedit. Quibusdam perferendis veritatis voluptatum tempora aspernatur minus ex, reprehenderit, quas fuga, error odio voluptates quam inventore?</P>
            </li>
        </ul>
      <ol type="1" class="description" style="font-family: 'redhat-regular';
      font-style: normal;
      font-weight: normal;">
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
      </ol>
      <p class="description"  style="font-family: 'redhat-regular';
      font-style: normal;
      font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis dolor suscipit perspiciatis
        inventore? Perferendis, cupiditate et! Veritatis tempora nesciunt odit corporis doloremque aperiam sit
        unde magni amet libero. Natus aperiam, consequuntur quos a reprehenderit maxime,
        ullam repellat cumque nisi blanditiis libero ea qui, ducimus facere labore quia adipisci accusamus?</p> -->
      </section>
    </div>
  </div>


</div>
