@import "shared";

:host {
  width: 100%;
}

.form-group {
  position: relative;
  margin: 0;

  .labeltext {
    background-color: var(--white-high);
    position: absolute;
    left: px2vw-xl(19px);
    line-height: 21px;
    color: var(--black);
    margin: 0;
    top: px2vw-xl(10px);
    padding: 0 px2vw-xl(10px) 0 px2vw-xl(5px);
    transition: $global-transition;
    z-index: 1;
    font-family: "source-sans-pro";

    @include md {
      left: px2vw-md(10px);
    }

    @include sm {
      left: px2vw-sm(10px);
    }
  }

  .form-control:focus ~ .labeltext,
  .labeltext.active {
    z-index: 2;
    top: px2vw-xl(-10px);
    line-height: 16px;

    @include lg {
      top: px2vw-lg(-10px);
    }

    @include md {
      top: px2vw-md(-10px);
    }

    @include sm {
      top: px2vw-sm(-10px);
    }
  }

  .error {
    color: var(--ui-color);
    padding-top: 5px;
    font-size: 0.9rem;
    line-height: 1;
  }

  .available {
    color: var(--green);
    padding-top: 5px;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 200;
  }
}
