<form class="">
    <app-passwords  (phoneChange)="onphoneChange($event)" *ngIf="phonenumber" ></app-passwords>
    
  </form>
<div class="Passwords" *ngIf="passworddiv">
    <h3 class="Passwords-title">
        Enter new email address
    </h3>
    <h5 class="otp-title">We will send you a 4 digit OTP</h5>
    <form class="Profile" *ngIf="currentUser" [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
    <div class="Passwords-items">
      <div class="Passwords-item">
        <!-- Phone number -->
        <mat-form-field
          class="global-MatField"
          appearance="outline"
          autocomplete="off"
        >
          <mat-label>
            {{ "ACCOUNT_SETTINGS.PASSWORDS.FORM.PHONE_NUMBER.LABEL" | translate }}
          </mat-label>
          <input matInput [formControl]="addForm.controls['phonenumber']" />
        </mat-form-field>
      </div>
    </div>
  <div class="hr-botm"></div>
<!-- <div class="VerificationForm-input">
    <ng-otp-input class="VerificationForm-input-number" (onInputChange)="onOtpChange($event)"
      [config]="{ length: 4, allowNumbersOnly: true }"></ng-otp-input>
  </div> -->

  <a class="resend-otp">Resend OTP?</a>
  
    <div class="Passwords-manage">
      <button type="reset" class="Passwords-manage-button button-secondary" (click)="back()">
        {{ "BUTTON.BACK" | translate }}
      </button>
      <button class="Passwords-manage-button button-primary">
        {{ "BUTTON.SAVE_CHANGES" | translate }}
      </button>
    </div>
    </form>
  </div>