<header class="Inbox-header">
  <h1 class="Inbox-header-title">
    {{'Clips'|uppercase}}
  </h1>

  <button class="Inbox-header-button button-primary" [routerLink]="'/manage-tournament/add-clips'">
    {{' new CLIP'|uppercase}}
  </button>
</header>
<div class="SelectGame-search">
  <app-inputt-search [placeholder]="'Search for clips'" [text]=""
    (onTextChange)="onTextChange($event)"></app-inputt-search>
</div>
<section class="Inbox-content">
    <ng-container *ngFor="let item of data">
      <app-bookmark-card [data]="item" [isVideo]="true"></app-bookmark-card>
    </ng-container>
</section>

<!-- <ng-template #noMessages>
  <div class="Inbox-empty">
    <h2 class="Inbox-empty-title">
      {{ "PROFILE.INBOX.EMPTY_TITLE" | translate }}
    </h2>
  </div>
</ng-template> -->

<app-fullscreen-loading *ngIf="false"></app-fullscreen-loading>
