@import "shared";

:host {
  display: block;
  padding-top: px2vw-xl(20px);
  padding-bottom: px2vw-xl(50px);

  @include lg {
    padding-top: px2vw-lg(20px);
    padding-bottom: px2vw-lg(50px);
  }

  @include md {
    padding-top: px2vw-md(20px);
    padding-bottom: px2vw-md(50px);
  }

  @include sm {
    padding-top: px2vw-sm(20px);
    padding-bottom: px2vw-sm(50px);
  }
}

.Inbox-header {
  @extend %u-dfCenterBtw;
  margin-bottom: px2vw-xl(16px);
  padding: px2vw-xl(20px) 0;
  margin-top: px2vw-xl(120px);
  @include lg {
    margin-bottom: px2vw-lg(16px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    padding: px2vw-md(20px) 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    padding: px2vw-sm(20px) 0;
  }

  &-title {
    @extend %global-H4;
    margin-bottom: 0;
    font-family: "archivo";
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    font-size: px2vw-xl(34px);
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
  }

  &-button {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }
}

.Inbox-content {
  &-header {
  }

  &-message {
    @extend %u-dfCenter;
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(15px);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(15px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(15px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(15px);
    }
  }

  &-message-text {
    @extend %body-2;
    margin-right: px2vw-xl(64px);
    flex-grow: 1;
    cursor: pointer;
    transition: $global-transition2;

    @include lg {
      margin-right: px2vw-lg(64px);
    }

    @include md {
      margin-right: px2vw-md(64px);
    }

    @include sm {
      margin-right: px2vw-sm(64px);
    }

    &:hover {
      color: var(--color-mountain-meadow);
    }

    &.main {
      color: var(--white-medium);
      cursor: default;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-message-date {
    @extend %body-2;
    flex-shrink: 0;
    margin-bottom: 0;
    width: px2vw-xl(170px);

    @include lg {
      width: px2vw-lg(170px);
    }

    @include md {
      width: px2vw-md(170px);
    }

    @include sm {
      width: px2vw-sm(170px);
    }

    &.main {
      color: var(--white-medium);
    }
  }
}

.Inbox-empty {
  &-title {
    @extend %global-H5;
  }
}

.SelectGame {
  overflow: hidden;
  position: relative;
  background: $left-corner-light;

  &-search {
    margin-bottom: px2vw-xl(24px);
    width: 100%;

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }
}
