@import "shared";

:host {
  @extend %u-dfCenterCenter;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;

  &::after {
    content: '';
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

