@import "shared";

:host {
  display: block;
}

.SearchVideo {
  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-list {
    // display: grid;
    // grid-template-columns: repeat(2, minmax(0, 1fr));
    // grid-column-gap: px2vw-xl(16px);
    // grid-row-gap: px2vw-xl(32px);
    display: block;
    justify-content: space-between;

    @include lg {
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(32px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--color-primary);
  }
}

.list-users {
  max-width: px2vw-xl(952px);
  width: 100%;
  @include xl {
    max-width: px2vw-xl(952px);
  }

  @include lg {
    max-width: px2vw-lg(952px);
  }

  @include md {
    max-width: px2vw-md(952px);
  }

  @include sm {
    max-width: px2vw-sm(952px);
  }
  .box-games {
    display: flex;
    //      background: linear-gradient(
    // 0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), #0b0824;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(12px);
    cursor: pointer;
    @include xl {
      padding: px2vw-xl(12px);
      border-bottom-width: px2vw-xl(1px);
    }

    @include lg {
      padding: px2vw-lg(12px);
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      padding: px2vw-md(12px);
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      padding: px2vw-sm(12px);
      border-bottom-width: px2vw-sm(1px);
    }
    .boxgame-left {
      display: flex;
      .img-box-games {
        margin-right: px2vw-xl(15px);
        @include xl {
          margin-right: px2vw-xl(15px);
        }

        @include lg {
          margin-right: px2vw-lg(15px);
        }

        @include md {
          margin-right: px2vw-md(15px);
        }

        @include sm {
          margin-right: px2vw-sm(15px);
        }
        img {
          border-radius: 50%;
          object-fit: cover;
          width: px2vw-xl(32px);
          height: px2vw-xl(32px);
          @include xl {
            width: px2vw-xl(32px);
            height: px2vw-xl(32px);
          }

          @include lg {
            width: px2vw-lg(32px);
            height: px2vw-lg(32px);
          }

          @include md {
            width: px2vw-md(32px);
            height: px2vw-md(32px);
          }

          @include sm {
            width: px2vw-sm(32px);
            height: px2vw-sm(32px);
          }
        }
      }

      .text-box-games {
        display: flex;
        align-items: center;

        p:nth-child(1) {
          margin: 0;
          font-size: px2vw-xl(14px);
          @include xl {
            font-size: px2vw-xl(14px);
          }

          @include lg {
            font-size: px2vw-lg(14px);
          }

          @include md {
            font-size: px2vw-md(14px);
          }

          @include sm {
            font-size: px2vw-sm(14px);
          }
        }

        p:nth-child(2) {
          margin: 0;
          font-size: px2vw-xl(14px);
          @include xl {
            font-size: px2vw-xl(14px);
          }

          @include lg {
            font-size: px2vw-lg(14px);
          }

          @include md {
            font-size: px2vw-md(14px);
          }

          @include sm {
            font-size: px2vw-sm(14px);
          }
        }
      }
    }

    .menuicon-box-games {
      display: flex;
      align-items: center;
    }
  }
}

.detail-user {
  width: 100%;
  max-width: px2vw-xl(320px);
  margin-left: px2vw-xl(56px);
  @include xl {
    max-width: px2vw-xl(320px);
    margin-left: px2vw-xl(56px);
  }

  @include lg {
    max-width: px2vw-lg(320px);
  }

  @include md {
    max-width: px2vw-md(320px);
  }

  @include sm {
    max-width: px2vw-sm(320px);
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 50%;
    width: auto;
  }
  .banner-profile {
    border: px2vw-xl(1px) solid var(--white-light);
    background: var(--gradient-bg);
    width: 100%;
    border-radius: px2vw-xl(8px);
    @include xl {
      border-radius: px2vw-xl(8px);
    }

    @include lg {
      border-radius: px2vw-lg(8px);
    }

    @include md {
      border-radius: px2vw-md(8px);
    }

    @include sm {
      border-radius: px2vw-sm(8px);
      position: relative;
    }
    .img-banner {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 100px;
      }
      .close-profile {
        width: 15px;
        height: 15px;
        display: none;
        background-color: black;
        @include sm {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    .information-person {
      justify-content: center;
      text-align: center;
      margin-top: -5em;
      .img-person {
        margin: 0 auto;
        width: px2vw-xl(120px);
        height: px2vw-xl(120px);
        margin-bottom: px2vw-xl(22px);
        @include xl {
          width: px2vw-xl(120px);
          height: px2vw-xl(120px);
          margin-bottom: px2vw-xl(22px);
        }

        @include lg {
          width: px2vw-lg(120px);
          height: px2vw-lg(120px);
          margin-bottom: px2vw-lg(22px);
        }

        @include md {
          width: px2vw-md(120px);
          height: px2vw-md(120px);
          margin-bottom: px2vw-md(22px);
        }

        @include sm {
          width: px2vw-sm(120px);
          height: px2vw-sm(120px);
          margin-bottom: px2vw-sm(22px);
        }
        .img-personal {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background: var(--user-photo-bg);
          border-radius: 50%;
          padding: px2vw-xl(7px);
          @include xl {
            padding: px2vw-xl(7px);
          }

          @include lg {
            padding: px2vw-lg(7px);
          }

          @include md {
            padding: px2vw-md(7px);
          }

          @include sm {
            padding: px2vw-sm(7px);
          }
        }

        .text {
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--black-medium);
          width: max-content;
          margin: 0 auto;
          font-size: px2vw-xl(12px);
          margin-top: px2vw-xl(-31px);
          @include xl {
            font-size: px2vw-xl(12px);
            margin-top: px2vw-xl(-31px);
          }

          @include lg {
            font-size: px2vw-lg(12px);
            margin-top: px2vw-lg(-31px);
          }

          @include md {
            font-size: px2vw-md(12px);
            margin-top: px2vw-md(-31px);
          }

          @include sm {
            font-size: px2vw-sm(12px);
            margin-top: px2vw-sm(-31px);
          }
          img {
            width: px2vw-xl(11px);
            height: px2vw-xl(11px);
            @include xl {
              width: px2vw-xl(11px);
              height: px2vw-xl(11px);
            }

            @include lg {
              width: px2vw-lg(11px);
              height: px2vw-lg(11px);
            }

            @include md {
              width: px2vw-md(11px);
              height: px2vw-md(11px);
            }

            @include sm {
              width: px2vw-sm(11px);
              height: px2vw-sm(11px);
            }
          }

          p {
            margin: 0 px2vw-xl(10px);
            @include xl {
              margin: px2vw-xl(0px) px2vw-xl(10px);
            }

            @include lg {
              margin: px2vw-lg(0px) px2vw-lg(10px);
            }

            @include md {
              margin: px2vw-md(0px) px2vw-md(10px);
            }

            @include sm {
              margin: px2vw-sm(0px) px2vw-sm(10px);
            }
          }

          span {
            background-color: var(--color-primary);
            border-radius: 50%;
            width: px2vw-xl(11px);
            height: px2vw-xl(11px);
            @include xl {
              width: px2vw-xl(11px);
              height: px2vw-xl(11px);
            }

            @include lg {
              width: px2vw-lg(11px);
              height: px2vw-lg(11px);
            }

            @include md {
              width: px2vw-md(11px);
              height: px2vw-md(11px);
            }

            @include sm {
              width: px2vw-sm(11px);
              height: px2vw-sm(11px);
            }
          }
        }
      }

      .box-text {
        h1 {
          font-family: "archivo";
          font-size: px2vw-xl(16px);
          @include xl {
            font-size: px2vw-xl(16px);
          }

          @include lg {
            font-size: px2vw-lg(16px);
          }

          @include md {
            font-size: px2vw-md(16px);
          }

          @include sm {
            font-size: px2vw-sm(16px);
          }
          span {
            color: var(--white-medium);
          }
        }

        p {
          font-weight: 800;
          color: var(--white-medium);
          font-family: "redhat-regular";
          margin-bottom: 0;
          font-size: px2vw-xl(13px);
          @include xl {
            font-size: px2vw-xl(13px);
          }

          @include lg {
            font-size: px2vw-lg(13px);
          }

          @include md {
            font-size: px2vw-md(13px);
          }

          @include sm {
            font-size: px2vw-sm(13px);
          }
        }
      }
    }
  }

  .btn-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: px2vw-xl(30px) 0;
    padding-right: px2vw-xl(10px);
    @include xl {
      margin: px2vw-xl(30px) px2vw-xl(0px);
      padding-right: px2vw-xl(10px);
    }

    @include lg {
      margin: px2vw-lg(30px) px2vw-lg(0px);
      padding-right: px2vw-lg(10px);
    }

    @include md {
      margin: px2vw-md(30px) px2vw-md(0px);
      padding-right: px2vw-md(10px);
    }

    @include sm {
      margin: px2vw-sm(30px) px2vw-sm(0px);
      padding-right: px2vw-sm(10px);
    }
    button {
      font-size: px2vw-xl(14px);
      height: px2vw-xl(42px);
      margin-left: px2vw-xl(10px);
      padding: 0 px2vw-xl(20px);
      @include xl {
        font-size: px2vw-xl(14px);
        height: px2vw-xl(42px);
        margin-left: px2vw-xl(10px);
        padding: px2vw-xl(0px) px2vw-xl(20px);
      }

      @include lg {
        font-size: px2vw-lg(14px);
        height: px2vw-lg(42px);
        margin-left: px2vw-lg(10px);
        padding: px2vw-lg(0px) px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(14px);
        height: px2vw-md(42px);
        margin-left: px2vw-md(10px);
        padding: px2vw-md(0px) px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(14px);
        height: px2vw-sm(42px);
        margin-left: px2vw-sm(10px);
        padding: px2vw-sm(0px) px2vw-sm(20px);
      }
      img {
        margin-right: px2vw-xl(7px);
        @include xl {
          margin-right: px2vw-xl(7px);
        }

        @include lg {
          margin-right: px2vw-lg(7px);
        }

        @include md {
          margin-right: px2vw-md(7px);
        }

        @include sm {
          margin-right: px2vw-sm(7px);
        }
      }
    }
    button:nth-child(2) {
      background: var(--gradient-bg);
      color: var(--white);
      border: px2vw-xl(1px) solid var(--white-light);
    }
  }
}

.user-search-information {
  display: inline-flex;
  width: 100%;
  min-height: px2vw-xl(300px);
  margin-bottom: px2vw-xl(100px);
  @include xl {
    min-height: px2vw-xl(300px);
    margin-bottom: px2vw-xl(100px);
  }

  @include lg {
    min-height: px2vw-lg(300px);
    margin-bottom: px2vw-lg(100px);
  }

  @include md {
    min-height: px2vw-md(300px);
    margin-bottom: px2vw-md(100px);
  }

  @include sm {
    min-height: px2vw-sm(300px);
    margin-bottom: px2vw-sm(100px);
  }
  @include sm {
    display: block;
    margin-bottom: px2vw-sm(0px);
    padding-right: px2vw-sm(0px);
  }
}

@include sm {
  .detail-user {
    width: auto;
  }
}
