<section class="SearchVideo u-wp">
  <h3 class="SearchVideo-title">
    {{ "SEARCH.USER" | translate }}
  </h3>

  <div class="SearchVideo-list">
    <!-- <app-user-item
      *ngFor="let item of homeService.searchedUser | async"
      [data]="item"
    ></app-user-item> -->
    <div class="SearchVideo-list">
      <!-- <app-user-item *ngFor="let item of homeService.searchedUser | async" [data]="item" ">
        </app-user-item> -->
      <div class="user-search-information">
        <div class="list-users">
          <div
            class="box-games"
            *ngFor="let user of _userService.searchedUser | async"
          >
            <div class="boxgame-left" (click)="showDetail(user._id)">
              <div class="img-box-games">
                <img
                  src="{{ user?.profilePicture }}"
                  (error)="onLoadImgError($event, typeImgLoad.AVATAR)"
                  loading="lazy"
                />
              </div>
              <div class="text-box-games">
                <p>{{ user?.username }}</p>
              </div>
            </div>
            <div class="menuicon-box-games">
              <img src="assets/images/Profile/editor-feed.png" />
            </div>
          </div>
        </div>

        <div class="detail-user">
          <div
            *ngIf="isLoadingUserDetail"
            class="spinnerMat spinnerMat__search-user"
          >
            <mat-spinner [diameter]="50"></mat-spinner>
          </div>
          <div class="banner-profile" *ngIf="userInfo">
            <div class="img-banner">
              <img src="assets/images/Leaderboard/leaderboard-bg.jpg" />
              <div class="close-profile" (click)="closeUserProfile()">
                <img src="assets/images/Profile/close.png" alt="" />
              </div>
            </div>
            <div class="information-person">
              <div class="img-person">
                <img
                  class="img-personal"
                  src="{{ userInfo?.profilePicture }}"
                  (error)="onLoadImgError($event, typeImgLoad.AVATAR)"
                  loading="lazy"
                />
              </div>
              <div class="box-text">
                <h1>
                  {{ userInfo?.username }}
                  <span>
                    • {{ getGender(userInfo?.gender, userInfo?.customPronoun) }}
                  </span>
                </h1>
                <p>
                  {{ "SOCIAL_FEED.LABELS.MEMBER_SINCE" | translate }}
                  {{ userInfo?.createdOn | date: "MMMM dd, YYYY" }}
                </p>
              </div>
            </div>
            <div class="btn-profile">
              <div>
                <button
                  _ngcontent-serverapp-c379=""
                  class="Header-button button-primary register"
                  (click)="onHandleFollowUser(userInfo?._id)"
                >
                  <img
                    _ngcontent-serverapp-c379=""
                    src="assets/images/Profile/icon-addfr.png"
                  /><span _ngcontent-serverapp-c379="">
                    {{
                      isFollow
                        ? ("SOCIAL_FEED.LABELS.UNFOLLOW" | translate)
                        : ("SOCIAL_FEED.LABELS.FOLLOW" | translate)
                    }}</span
                  >
                </button>
              </div>
              <button
                _ngcontent-serverapp-c379=""
                class="Header-button button-primary register"
                [routerLink]="[AppHtmlProfileRoutes.publicWall, userInfo?._id]"
              >
                <span _ngcontent-serverapp-c379="">{{
                  "SOCIAL_FEED.LABELS.VIEW_PROFILE" | translate
                }}</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
