@import "shared";

$borderb-c:#444;

:host {
  display: block;
  overflow: hidden;
}
.Profile-nav-link-lists {
  .is-add-member {
    mat-icon,
    span {
      color: var(--main-color);
    }
  }
}

.Profile {
  background-color: var(--txt-primary);
  position: relative;
  padding: px2vw-xl(82px) 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  @include lg {
    padding: px2vw-lg(70px) 0 0 0;
  }
  @include md {
    padding: px2vw-md(64px) 0 0 0;
  }
  @include sm {
    padding: px2vw-sm(64px) 0 0 0;
  }
  &-container {
    max-width: px2vw-xl(1304px);
    padding: px2vw-xl(62px) px2vw-xl(24px) px2vw-xl(146px);
    margin: 0 auto;
    width: 100%;

    @include lg{
      max-width: px2vw-xl(1304px);
      padding: px2vw-lg(62px) px2vw-lg(24px) px2vw-lg(146px);
    }

    @include md {
      padding-top: px2vw-md(56px);
    }
    @include sm{
      max-width: px2vw-sm(1304px);
    }
  }

  &-heading {
    margin-bottom: px2vw-xl(32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }
    @include md {
      margin-bottom: px2vw-md(24px);
    }
    @include sm {
      margin-bottom: px2vw-sm(19px);

    }
    .title {
      font-family: "'Paralucent-Demi'";
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(40px);
      line-height: px2vw-xl(48px);
      color: var(--white);
      margin-bottom: 0;
      @include md {
        font-size: px2vw-md(32px);
      }
      @include sm {
        font-size: px2vw-sm(24px);
        line-height: px2vw-sm(32px);
      }
    }
    .control {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .players {
        .btn-edit {
          font-family: 'Paralucent-Demi';
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--secondary-color);
          text-transform: none;

          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm{
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }
      a.HeaderPaidia-players-text {
        padding: px2vw-xl(10px) px2vw-xl(32px);
        background: var(--white);
        border: px2vw-xl(2px) solid var(--secondary-color);
        box-sizing: border-box;
        border-radius: px2vw-xl(6px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--secondary-color);

        @include lg{
          padding: px2vw-lg(10px) px2vw-lg(32px);
          border: px2vw-lg(2px) solid var(--secondary-color);
          border-radius: px2vw-lg(6px);
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }
        @include md{
          padding: px2vw-md(10px) px2vw-md(32px);
          border: px2vw-md(2px) solid var(--secondary-color);
          border-radius: px2vw-md(6px);
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }
        @include sm{
          padding: px2vw-sm(10px) px2vw-sm(32px);
          border: px2vw-sm(2px) solid var(--secondary-color);
          border-radius: px2vw-sm(6px);
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }
      }
    }
  }
}
.Profile-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.Profile-nav {
  width: 100%;
  max-width: px2vw-xl(297px);
  display: inline-block;

  @include lg {
    max-width: 100%;
    margin-bottom: px2vw-lg(24px);
  }

  @include md {
    max-width: 100%;
    margin-bottom: px2vw-md(24px);
  }
  @include sm {
    max-width: 100%;
    margin-bottom: px2vw-sm(24px);
  }

  &-links-collapsed {
    padding-bottom: px2vw-xl(8px);

    @include lg {
      padding-bottom: px2vw-lg(8px);
    }

    @include md {
      padding-bottom: px2vw-md(8px);
    }

    @include sm {
      padding-bottom: px2vw-sm(8px);
    }
  }

  &-links-tournaments {
    padding-left: px2vw-xl(16px);

    @include lg {
      padding-left: px2vw-lg(16px);
    }

    @include md {
      padding-left: px2vw-md(16px);
    }

    @include sm {
      padding-left: px2vw-sm(16px);
    }
  }

  &-link-main {
    @extend %u-dfCenter;
    padding: 0;
    margin-bottom: px2vw-xl(20px);
    transition: all 100ms linear;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(28px);

    @include lg{
      margin-bottom: px2vw-lg(20px);
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
    }
    @include md{
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(28px);
    }
    @include sm{
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(20px);
     line-height: px2vw-sm(28px);
    }

    mat-icon {
      @extend %u-dfCenterCenter;
      flex-shrink: 0;
      margin-right: px2vw-xl(20px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
      font-size: px2vw-xl(24px);
      color: var(--tertiary-color);
      transition: inherit;

      @include lg{
        margin-right: px2vw-lg(20px);
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
        font-size: px2vw-lg(24px);
      }
      @include md{
        margin-right: px2vw-md(20px);
        height: px2vw-md(24px);
        width: px2vw-md(24px);
        font-size: px2vw-md(24px);
      }
      @include sm{
        margin-right: px2vw-sm(20px);
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
        font-size: px2vw-sm(24px);
      }
    }

    span {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(28px);
      color: var(--color-white-medium);
      transition: inherit;


      @include lg{

        line-height: px2vw-lg(28px);
        font-size: px2vw-lg(20px);
      }
      @include md{

        line-height: px2vw-md(28px);
        font-size: px2vw-md(20px);
      }
      @include sm{

        line-height: px2vw-sm(28px);
        font-size: px2vw-sm(20px);
      }

    }

    &.active {
      mat-icon {
        color: var(--color-secondry-border-hover);
      }
      span {
        color: var(--color-secondry-border-hover);
      }
    }

    &.first {
      margin-top: 0;
    }

    &:hover:not(.active) {
      mat-icon,
      span {
        color: var(--white);
      }
    }
  }

  &-link {
    @extend %u-dfCenterBtw;
    @extend %body-1;
    margin-top: px2vw-xl(4px);
    padding: px2vw-xl(8px) px2vw-xl(16px);
    width: 100%;
    color: var(--white-medium);
    transition: $global-transition;

    @include lg {
      margin-top: px2vw-lg(4px);
      padding: px2vw-lg(8px) px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(4px);
      padding: px2vw-md(8px) px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(4px);
      padding: px2vw-sm(8px) px2vw-sm(16px);
    }

    &:hover:not(.active) {
      color: var(--color-primary);
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--black);

      .inbox {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  &-link-inbox {
    @extend %caption;
    margin-left: px2vw-xl(10px);
    border-radius: px2vw-xl(20px);
    padding: px2vw-xl(2px) px2vw-xl(6px);
    background-color: var(--color-tertiary);
    transition: $global-transition;

    @include lg {
      margin-left: px2vw-lg(10px);
      border-radius: px2vw-lg(20px);
      padding: px2vw-lg(2px) px2vw-lg(6px);
    }

    @include md {
      margin-left: px2vw-md(10px);
      border-radius: px2vw-md(20px);
      padding: px2vw-md(2px) px2vw-md(6px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
      border-radius: px2vw-sm(20px);
      padding: px2vw-sm(2px) px2vw-sm(6px);
    }
  }

  &-bottom {
    margin-top: px2vw-xl(12px);
    border-top: px2vw-xl(1px) solid var(--white-smoke);
    padding-top: px2vw-xl(4px);

    @include lg {
      margin-top: px2vw-lg(12px);
      border-top-width: px2vw-lg(1px);
      padding-top: px2vw-lg(4px);
    }

    @include md {
      margin-top: px2vw-md(12px);
      border-top-width: px2vw-md(1px);
      padding-top: px2vw-md(4px);
    }

    @include sm {
      margin-top: px2vw-sm(12px);
      border-top-width: px2vw-sm(1px);
      padding-top: px2vw-sm(4px);
    }
  }
  &-title {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(32px);
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: px2vw-xl(26px);

    @include lg{
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(32px);
      margin-bottom: px2vw-lg(26px);
    }
    @include md{
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
      margin-bottom: px2vw-md(26px);
    }
    @include sm{
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
      margin-bottom: px2vw-sm(26px);
    }
  }

  &-subtitle {
    @extend %caption;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }
}
.Profile-content {
  width: 100%;
  max-width: calc(100% - 320px);
  padding-left: 48px;
  @include md {
    max-width: 100%;
    padding-left: 0;
  }
}
.Dashboard-cards {
  margin-top: px2vw-xl(10px);

  @include lg {
    margin-top: px2vw-lg(10px);
  }

  @include md {
    margin-top: px2vw-md(10px);
  }

  @include sm {
    margin-top: px2vw-sm(10px);
  }


  &-item {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    background: var(--gradient-bg);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-value {
    @extend %subtitle-1;
    margin-bottom: 0;
  }
}

.border {
  border: 0.0694444444vw solid var(--white-light) !important;
  border-radius: px2vw-xl(4px);
  padding: px2vw-xl(16px);
  background: var(--gradient-bg);
  margin-bottom: px2vw-xl(10px);

  @include lg{
    border-radius: px2vw-lg(4px);
    padding: px2vw-lg(16px);
    margin-bottom: px2vw-lg(10px);
  }
  @include md{
    border-radius: px2vw-md(4px);
    padding: px2vw-md(16px);
    margin-bottom: px2vw-md(10px);
  }
  @include sm{
    border-radius: px2vw-sm(4px);
    padding: px2vw-sm(16px);
    margin-bottom: px2vw-sm(10px);
  }
}
.Profile-nav-info {
  position: relative;
  padding-top: px2vw-xl(12px);
  padding-bottom: px2vw-xl(24px);
  margin-bottom: px2vw-xl(16px);
  border-bottom: px2vw-xl(1px) solid $borderb-c;
  @include lg {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: px2vw-lg(14px);
    border-bottom: none;
  }
  @include md {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: px2vw-md(14px);
    border-bottom: none;
  }
  @include sm {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: px2vw-sm(14px);
    border-bottom: none;
  }
  .inner {
    position: relative;
    @include lg {
      // background: var(--midnight-express-color);
      background: var(--blackcurrant-color-medium);
      border-radius: px2vw-lg(12px);
      padding: px2vw-lg(14px) px2vw-lg(24px);
    }
    @include md {
      // background: var(--midnight-express-color);
      background: var(--blackcurrant-color-medium);
      border-radius: px2vw-md(12px);
      padding: px2vw-md(14px) px2vw-md(24px);
    }
    @include sm {
      // background: var(--midnight-express-color);
      background: unset!important;
      border-radius: px2vw-sm(12px);
      padding: px2vw-sm(14px) px2vw-sm(24px);
    }
    .info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @include md {
        justify-content: flex-start;
      }
      .logo {
        position: relative;
        width: px2vw-xl(150px);
        height: px2vw-xl(150px);
        border: px2vw-xl(2px) solid var(--white-light);
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: px2vw-xl(10px);
        margin-bottom: px2vw-xl(2px);
        @include lg {
          width: px2vw-lg(40px);
          height: px2vw-lg(40px);
          padding: 0px;
          border: none;
          border: px2vw-lg(2px) solid var(--white-light);
          margin-bottom: px2vw-lg(2px);
        }
        @include md {
          width: px2vw-md(40px);
          height: px2vw-md(40px);
          padding: 0px;
          border: none;
          border: px2vw-md(2px) solid var(--white-light);
          margin-bottom: px2vw-md(2px);
        }
        @include sm {
          width: px2vw-sm(88px);
          height: px2vw-sm(88px);
          padding: 0px;
          border: none;
          border: px2vw-sm(2px) solid var(--white-light);
          margin-bottom: px2vw-sm(2px);
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
        .edit {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          background-color: var(--black-disabled);
          padding: px2vw-xl(10px) 0;
          cursor: pointer;
          @include lg{
            padding: px2vw-lg(10px) 0;
          }
          @include md {
            display: none;
            padding: px2vw-md(10px) 0;
          }
          @include sm {
            display: none;

          }
          .icon {
            .material-icons {
              color: var(--white);
              font-size: px2vw-xl(12px);
              @include lg{
                font-size: px2vw-lg(12px);

              }
              @include md{
                font-size: px2vw-md(12px);

              }
              @include sm{
                font-size: px2vw-sm(12px);

              }
            }
          }
          .text {
            font-family: 'Paralucent-Demi';
            font-style: normal;
            font-weight: 600;
            font-size: px2vw-xl(14px);
            line-height: px2vw-xl(20px);
            color: var(--white);

            @include lg{
              font-size: px2vw-lg(14px);
              line-height: px2vw-lg(20px);
            }
            @include md{
              font-size: px2vw-md(14px);
              line-height: px2vw-md(20px);
            }
            @include sm{
              font-size: px2vw-sm(14px);
              line-height: px2vw-sm(20px);
            }
          }
        }
      }
      .team-name {
        width: 100%;
        text-align: center;
        @include md {
          text-align: left;
          max-width: calc(100% - 40px);
          padding-left: px2vw-md(16px);
        }
        @include sm {
          max-width: calc(100% - 70px);
          padding-left: px2vw-sm(25px);
          display: inline-grid;
          align-items: center;
        }
        .name {
          font-family: 'Paralucent-Demi';
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(24px);
          line-height: px2vw-xl(32px);
          text-align: center;
          letter-spacing: -0.5px;
          color: var(--white);
          margin-bottom: px2vw-xl(8px);
          @include lg {
            margin-bottom: 0;
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
            text-align: left;
          }
          @include md {
            margin-bottom: 0;
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
            text-align: left;
          }
          @include sm {
            margin-bottom: 0;
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
            text-align: left;
          }
        }
        .total-members {
          font-family: 'Paralucent-Demi';
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          text-align: center;
          color: var(--tertiary-color);
          margin-bottom: 0;
          @include lg {
            text-align: left;
            font-size: px2vw-lg(14px);
            line-height: px2vw-lg(20px);
          }
          @include md {
            text-align: left;
            font-size: px2vw-md(14px);
            line-height: px2vw-md(20px);
          }
          @include sm {
            text-align: left;
            font-size: px2vw-sm(14px);
            line-height: px2vw-sm(20px);
          }
        }
      }
    }
    .TeamCard-manage-button-menu {
      background: var(--blackcurrant-color-medium);
      border: px2vw-xl(2px) solid var(--tertiary-color);
      border-radius: 50%;
      width: px2vw-xl(48px);
      height: px2vw-xl(48px);
      padding: 0;
      position: absolute;
      top: -13px;
      right: 0;

      @include lg{
        width: px2vw-lg(48px);
        height: px2vw-lg(48px);
        border: px2vw-lg(2px) solid var(--tertiary-color);
      }

      @include md {
        border: none;
        border-radius: 50%;
        width: px2vw-md(20px);
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        right: px2vw-md(28px);
        background: transparent;
      }
      @include sm {
        border: none;
        border-radius: 50%;
        width: px2vw-sm(20px);
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        right: px2vw-sm(28px);
        background: transparent;
      }
      .mat-icon {
        color: var(--tolopea-medium-color);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        @include md {
          color: var(--main-color);
        }
      }
    }
  }
}
.Profile-nav-mb {
  h4.title {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    display: flex;
    align-items: flex-end;
    color: var(--tolopea-medium-color);
    margin-bottom: px2vw-xl(4px);

    @include lg{
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
      margin-bottom: px2vw-lg(4px);
    }
    @include md{
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
      margin-bottom: px2vw-md(4px);
    }
    @include sm{
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      margin-bottom: px2vw-sm(4px);
    }
  }
}
.Select-teamDropdown {
  &.show {
    .Select-teamBtn {
      border: 2px solid var(--main-color);
    }
  }
  .Select-teamBtn {
    background: var(--txt-primary);
    border: px2vw-xl(2px) solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: px2vw-xl(4px);
    width: 100%;
    text-align: left;
    padding: px2vw-xl(10px) px2vw-xl(16px);
    @extend %global-textSm;
    font-weight: 500;
    color: var(--white);
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;

    @include lg{
      border: px2vw-lg(2px) solid var(--tertiary-color);
      border-radius: px2vw-lg(4px);
      padding: px2vw-xl(10px) px2vw-lg(16px);
    }
    @include md{
      border: px2vw-md(2px) solid var(--tertiary-color);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(10px) px2vw-md(16px);
    }
    @include sm{
      border: px2vw-sm(2px) solid var(--tertiary-color);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(10px) px2vw-sm(16px);
    }

    &::after {
      display: inline-block;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: px2vw-xl(2px) solid var(--color-primary-disabled);
      border-right: px2vw-xl(2px) solid var(--color-primary-disabled);
      border-bottom: 0;
      border-left: 0;
      width: px2vw-xl(12px);
      height: px2vw-xl(12px);
      transform: rotate(135deg);
      transition: $global-transition2;
      position: relative;
      top: -4px;

      @include lg{
        border-top: px2vw-lg(2px) solid var(--main-color);
        border-right: px2vw-lg(2px) solid var(--main-color);
        width: px2vw-lg(12px);
        height: px2vw-lg(12px);
      }
      @include md{
        border-top: px2vw-md(2px) solid var(--main-color);
        border-right: px2vw-md(2px) solid var(--main-color);
        width: px2vw-md(12px);
        height: px2vw-md(12px);
      }
      @include sm{
        border-top: px2vw-sm(2px) solid var(--main-color);
        border-right: px2vw-sm(2px) solid var(--main-color);
        width: px2vw-sm(12px);
        height: px2vw-sm(12px);
      }
    }
  }
  .Select-teamDropdownItem {
    top: 55px !important;
    transform: none !important;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(12px) px2vw-xl(16px);
    background: var(--midnight-express-color);
    border: px2vw-xl(2px) solid var(--midnight-express-color);
    max-height: px2vw-xl(360px);
    overflow: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;


    @include lg{
      max-height: px2vw-lg(360px);
      border: px2vw-lg(2px) solid var(--midnight-express-color);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(12px) px2vw-lg(16px);
    }
    @include md{
      max-height: px2vw-md(360px);
      border: px2vw-md(2px) solid var(--midnight-express-color);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(12px) px2vw-md(16px);
    }
    @include sm{
      max-height: px2vw-sm(360px);
      border: px2vw-sm(2px) solid var(--midnight-express-color);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(12px) px2vw-sm(16px);
    }

    button {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 500;
      font-size: px2vw-xl(14px);
      line-height: px2vw-xl(20px);
      color: var(--white);
      padding: px2vw-xl(10px)10px px2vw-xl(16px);


      @include lg{
        padding: px2vw-lg(10px)10px px2vw-lg(16px);
        font-size: px2vw-lg(14px);
        line-height: px2vw-lg(20px);

      }
      @include md{
        padding: px2vw-md(10px)10px px2vw-md(16px);
        font-size: px2vw-md(14px);
        line-height: px2vw-md(20px);

      }
      @include sm{
        padding: px2vw-sm(10px)10px px2vw-sm(16px);
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);

      }

      &:hover {
        background: var(--color-black-medium);
      }
    }
  }
  &.show {
    .Select-teamBtn {
      &::after {
        transform: rotate(315deg);
        transition: $global-transition2;
      }
    }
  }
}
::ng-deep .TeamCard-manage-button-menu-icon{
  color: var(--color-primary-disabled)!important;
}
::ng-deep .TeamCard-info-description .text-hl{
  color: var(--txt-secondry-border)!important;
}
@include sm{
  ::ng-deep .Accounts-manage-button-save{
    font-size: px2vw-sm(16px)!important;
    line-height: px2vw-sm(24px)!important;
  }
  ::ng-deep .Accounts-manage-button-cancel{
    font-size: px2vw-sm(16px)!important;
    line-height: px2vw-sm(24px)!important;
    margin-right: 0px!important;
    height: px2vw-sm(48px)!important;
  }
}
::ng-deep .InputInvite .input-group{
  background-color: unset!important;
}
::ng-deep .SearchPlayers-header .input-group .input-field{
  background-color: unset!important;
}
