$--navigation-link-color: #646464;
$--navigation-link-border-color: #646464;
$--navigation-link-active-color: var(--black);
$--navigation-link-active-border-color: var(--white-high);

.navigation {
  display: flex;
  justify-content: end;

  &-link {
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;

    &.is-prev,
    &.is-next {
      &::after {
        top: px2vw-xl(1px);
        border: px2vw-xl(2px) solid $--navigation-link-border-color;
        border-color: var(--tolopea-medium-color);
        width: px2vw-xl(16px);
        height: px2vw-xl(16px);
        content: "";
        position: relative;
        display: inline-block;
        border-right: none;
        border-bottom: none;
        transform: rotate(135deg);

        @include lg {
          top: px2vw-lg(1px);
          border-width: px2vw-lg(2px);
          width: px2vw-lg(16px);
          height: px2vw-lg(16px);
        }

        @include md {
          top: px2vw-md(1px);
          border-width: px2vw-md(2px);
          width: px2vw-md(16px);
          height: px2vw-md(16px);
        }

        @include sm {
          top: px2vw-sm(1px);
          border-width: px2vw-sm(2px);
          width: px2vw-sm(16px);
          height: px2vw-sm(16px);
        }
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.3;
      }
    }

    &.is-prev {
      &::after {
        transform: rotate(-45deg);
        left: px2vw-lg(3px);

        @include lg {
          left: px2vw-lg(3px);
        }

        @include md {
          left: px2vw-md(3px);
        }

        @include sm {
          left: px2vw-sm(3px);
        }
      }
    }

    &.is-next {
      &::after {
        right: px2vw-lg(3px);

        @include lg {
          right: px2vw-lg(3px);
        }

        @include md {
          right: px2vw-md(3px);
        }

        @include sm {
          right: px2vw-sm(3px);
        }
      }
    }

    &:hover,
    &.active,
    &.is-next:hover,
    &.is-prev:hover {
      color: $--navigation-link-active-color;
    }
  }
}
.page-link {
  background-color: unset !important;
  border: 0;
}
li.pagination-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-link.is-prev:hover::after,
.navigation-link.is-next:hover::after {
  border-color: var(--full-white);
}
.navigation-link:hover {
  border-color: var(--tolopea-color);
}
.page-item.disabled .navigation-link {
  border-color: var(--tolopea-medium-color);
}
