@import "shared";

:host {
  display: block;
  background: radial-gradient(
    31.93% 73.7% at 100% 0%,
    rgba(115, 108, 255, 0.25) 0%,
    rgba(115, 108, 255, 0) 100%
  );
}

.PrivacyPolicy {
  padding-top: px2vw-xl(67.75px);
  @include lg {
    padding-top: px2vw-lg(67.75px);
  }
  @include md {
    padding-top: px2vw-md(67.75px);
  }
  @include sm {
    padding-top: px2vw-sm(90px);
  }
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }
  .link-to {
    text-decoration: underline;
    color: var(--main-color);
    &:hover {
      color: var(--color-hover-button-primary);
    }
  }
}
.PrivacyPolicy-banner {
  background-image: url("../../../assets/images/privacy-policy/bg-privacy-policy-pc.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-bottom: px2vw-xl(31px);
  @include lg {
    margin-bottom: px2vw-lg(31px);
  }
  @include md {
    margin-bottom: px2vw-md(31px);
  }
  @include sm {
    background-image: url("../../../assets/images/privacy-policy/bg-privacy-policy-mb.png");
    margin-bottom: px2vw-sm(24.576px);
  }
  &-inner {
    padding-top: px2vw-xl(74.64px);
    padding-bottom: px2vw-xl(50px);
    padding-left: px2vw-xl(163px);
    @include lg {
      padding-top: px2vw-lg(74.64px);
      padding-bottom: px2vw-lg(50px);
      padding-left: px2vw-lg(163px);
    }
    @include md {
      padding-top: px2vw-md(74.64px);
      padding-bottom: px2vw-md(50px);
      padding-left: px2vw-md(163px);
    }
    @include sm {
      padding-top: px2vw-sm(207.36px);
      padding-bottom: px2vw-sm(49.152px);
      padding-left: px2vw-sm(36.864px);
    }
  }
  &-heading {
    margin-bottom: px2vw-xl(24px);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }
    @include md {
      margin-bottom: px2vw-md(24px);
    }
    @include sm {
      margin-bottom: 0;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 58px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include sm {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
  &-content {
    width: 100%;
    max-width: 600px;
    @include sm {
      display: none;
    }
    .text {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      margin-bottom: 0;
    }
  }
}
.PrivacyPolicy-main {
  &-heading {
    padding: px2vw-xl(16px) 0 px2vw-xl(32px);
    margin-bottom: px2vw-xl(24px);
    @include lg {
      padding: px2vw-lg(16px) 0 px2vw-lg(32px);
      margin-bottom: px2vw-lg(24px);
    }
    @include md {
      padding: px2vw-md(16px) 0 px2vw-md(32px);
      margin-bottom: px2vw-md(24px);
    }
    @include sm {
      padding: px2vw-sm(24.576px) 0;
      margin-bottom: 0;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include sm {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &-content {
    &-update {
      .text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        margin-bottom: px2vw-xl(24px);
        @include lg {
          margin-bottom: px2vw-lg(24px);
        }
        @include md {
          margin-bottom: px2vw-md(24px);
        }
        @include sm {
          margin-bottom: px2vw-sm(36.864px);
        }
        .link-to {
          @include sm {
            display: block;
          }
        }
      }
    }
  }
  &-contents {
    margin-bottom: px2vw-xl(40px);
    @include lg {
      margin-bottom: px2vw-lg(40px);
    }
    @include md {
      margin-bottom: px2vw-md(40px);
    }
    @include sm {
      margin-bottom: px2vw-sm(36.864px);
    }
    .text {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-color);
    }
  }
  &-content-tabs {
    &-accordion-item {
      display: block;
      margin-bottom: px2vw-xl(24px);
      @include lg {
        margin-bottom: px2vw-lg(24px);
      }

      @include md {
        margin-bottom: px2vw-md(24px);
      }

      @include sm {
        margin-bottom: px2vw-sm(24px);
      }
    }
    &-accordion-item-header {
      background-color: var(--midnight-express-color);
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      opacity: 1;
      text-shadow: none;
      float: none;
      padding: px2vw-xl(16px) px2vw-xl(24px);
      border-radius: px2vw-xl(4px);
      @include lg {
        padding: px2vw-lg(16px) px2vw-lg(24px);
        border-radius: px2vw-lg(4px);
      }

      @include md {
        padding: px2vw-md(16px) px2vw-md(24px);
        border-radius: px2vw-md(4px);
      }

      @include sm {
        padding: px2vw-sm(24.576px) px2vw-sm(36.864px);
        border-radius: px2vw-sm(4px);
      }
      &:hover {
        opacity: 1 !important;
      }
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white-medium);
        margin-bottom: 0;
        max-width: calc(100% - 33px);
      }
      .icon {
        position: relative;
        width: px2vw-xl(32px);
        height: px2vw-xl(32px);
        border-radius: 50%;
        border: 2px solid var(--main-color);
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        @include lg {
          width: px2vw-lg(32px);
          height: px2vw-lg(32px);
        }

        @include md {
          width: px2vw-md(32px);
          height: px2vw-md(32px);
        }

        @include sm {
          width: px2vw-sm(49.152px);
          height: px2vw-sm(49.152px);
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          width: px2vw-xl(12px);
          height: 2px;
          background-color: var(--main-color);
          @include lg {
            width: px2vw-lg(12px);
          }

          @include md {
            width: px2vw-md(12px);
          }

          @include sm {
            width: px2vw-sm(18.432px);
          }
        }
        &::after {
          transform: rotate(90deg);
        }
      }
      &.close {
        .icon {
          &::after {
            content: none;
          }
        }
      }
    }
    &-accordion-item-body {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-white-medium);
      margin-bottom: 0;
      padding: px2vw-xl(16px) px2vw-xl(24px);
      @include lg {
        padding: px2vw-lg(16px) px2vw-lg(24px);
      }

      @include md {
        padding: px2vw-md(16px) px2vw-md(24px);
      }

      @include sm {
        padding: px2vw-sm(24.576px) px2vw-sm(36.864px);
      }
    }
  }
}
.PrivacyPolicy-promises {
  margin-bottom: px2vw-xl(52px);
  @include lg {
    margin-bottom: px2vw-lg(52px);
  }
  @include md {
    margin-bottom: px2vw-md(52px);
  }
  @include sm {
    margin-bottom: px2vw-sm(36.864px);
  }
  &-heading {
    padding: px2vw-xl(16px) 0 px2vw-xl(32px);
    margin-bottom: px2vw-xl(24px);
    @include lg {
      padding: px2vw-lg(16px) 0 px2vw-lg(32px);
      margin-bottom: px2vw-lg(24px);
    }
    @include md {
      padding: px2vw-md(16px) 0 px2vw-md(32px);
      margin-bottom: px2vw-md(24px);
    }
    @include sm {
      padding: px2vw-sm(24.576px) 0;
      margin-bottom: 0;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include sm {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &-content {
    padding-bottom: px2vw-xl(33px);
    @include lg {
      padding-bottom: px2vw-lg(33px);
    }
    @include md {
      padding-bottom: px2vw-md(33px);
    }
    @include sm {
      padding-bottom: px2vw-sm(36.864px);
    }
    .text {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(33px);
      @include lg {
        margin-bottom: px2vw-lg(33px);
      }
      @include md {
        margin-bottom: px2vw-md(33px);
      }
      @include sm {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: px2vw-sm(36.864px);
      }
    }
    ul {
      margin: 0;
      list-style: disc;
      padding: 0 0 0 px2vw-xl(24px);
      @include lg {
        padding: 0 0 0 px2vw-lg(24px);
      }
      @include md {
        padding: 0 0 0 px2vw-md(24px);
      }
      @include sm {
        padding: 0 0 0 px2vw-sm(36.864px);
      }
    }
    li,
    .text-sm {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-color);
    }
  }
}
.PrivacyPolicy-related {
  margin-bottom: px2vw-xl(64px);
  @include lg {
    margin-bottom: px2vw-lg(64px);
  }
  @include md {
    margin-bottom: px2vw-md(64px);
  }
  @include sm {
    margin-bottom: px2vw-sm(36.864px);
  }
  &-lists {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(21px);
    grid-row-gap: px2vw-xl(24px);
    @include lg {
      grid-column-gap: px2vw-lg(21px);
      grid-row-gap: px2vw-lg(24px);
    }
    @include md {
      grid-column-gap: px2vw-md(21px);
      grid-row-gap: px2vw-md(24px);
    }
    @include sm {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: px2vw-sm(32.256px);
      grid-row-gap: px2vw-sm(36.864px);
    }
  }
  &-item {
    @include sm {
      border-bottom: 1px solid var(--color-black-medium);
      padding-bottom: px2vw-sm(36.864px);
    }
    &-heading {
      position: relative;
      padding: px2vw-xl(16px) 0;
      margin-bottom: px2vw-xl(29px);
      @include lg {
        padding: px2vw-lg(16px) 0;
        margin-bottom: px2vw-lg(29px);
      }
      @include md {
        padding: px2vw-md(16px) 0;
        margin-bottom: px2vw-md(29px);
      }
      @include sm {
        padding: px2vw-sm(24.576px) 0;
        margin-bottom: px2vw-sm(29px);
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: px2vw-xl(-5px);
        width: px2vw-xl(106px);
        height: px2vw-xl(5px);
        border-radius: px2vw-xl(2px);
        background: var(--white);
        @include lg {
          bottom: px2vw-lg(-5px);
          width: px2vw-lg(106px);
          height: px2vw-lg(5px);
          border-radius: px2vw-lg(2px);
        }
        @include md {
          bottom: px2vw-md(-5px);
          width: px2vw-md(106px);
          height: px2vw-md(5px);
          border-radius: px2vw-md(2px);
        }
        @include sm {
          bottom: px2vw-sm(-7.68px);
          width: px2vw-sm(162.816px);
          height: px2vw-sm(7.68px);
          border-radius: px2vw-sm(3.072px);
        }
      }
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: var(--white);
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @include sm {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    &-content {
      .text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--tolopea-color);
        margin-bottom: px2vw-xl(21px);
        @include lg {
          margin-bottom: px2vw-lg(21px);
        }
        @include md {
          margin-bottom: px2vw-md(21px);
        }
        @include sm {
          margin-bottom: px2vw-sm(36.864px);
        }
      }
    }
    .learn-more {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.PrivacyPolicy-contact {
  margin-bottom: px2vw-xl(34px);
  @include lg {
    margin-bottom: px2vw-lg(34px);
  }
  @include md {
    margin-bottom: px2vw-md(34px);
  }
  @include sm {
    margin-bottom: px2vw-sm(36.864px);
  }
  &-heading {
    padding: px2vw-xl(16px) 0 px2vw-xl(32px);
    margin-bottom: px2vw-xl(24px);
    @include lg {
      padding: px2vw-lg(16px) 0 px2vw-lg(32px);
      margin-bottom: px2vw-lg(24px);
    }
    @include md {
      padding: px2vw-md(16px) 0 px2vw-md(32px);
      margin-bottom: px2vw-md(24px);
    }
    @include sm {
      padding: px2vw-sm(24.576px) 0;
      margin-bottom: 0;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include sm {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &-content {
    &-lists {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 24px;
      text-align: center;
    }
    &-item {
      &:first-child {
        .PrivacyPolicy-contact-content-icon {
          @include sm {
            padding: px2vw-sm(41.472px);
          }
        }
      }
    }
    &-icon {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center;
      background: var(--main-color);
      border-radius: 50%;
      width: px2vw-xl(114px);
      height: px2vw-xl(112px);
      margin: 0 auto px2vw-xl(9px);
      @include lg {
        width: px2vw-lg(114px);
        height: px2vw-lg(112px);
        margin: 0 auto px2vw-lg(9px);
      }
      @include md {
        width: px2vw-md(114px);
        height: px2vw-md(112px);
        margin: 0 auto px2vw-md(9px);
      }
      @include sm {
        width: px2vw-sm(142.848px);
        height: px2vw-sm(142.848px);
        margin: 0 auto;
        padding: px2vw-sm(35.328px);
      }
      img {
        max-width: 100%;
      }
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: var(--white);
      margin-bottom: 0;
      @include sm {
        font-size: 16px;
        line-height: 24px;
        padding: px2vw-sm(12.288px) 0;
      }
    }
  }
}
