<div class="FormInput" [formGroup]="customFormGroup">
  <label
    *ngIf="title"
    class="FormInput-label global-Text"
    for="bracket_name"
    [class.active]="(customFormGroup?.controls)[customFormControlName]?.value"
    >{{ title | translate }} *</label
  >

  <input
    *ngIf="type == 'STRING'"
    class="FormInput-field global-Text"
    type="text"
    [formControlName]="customFormControlName"
    [readonly]="readOnly"
    (keyup)="setValue($event?.target?.value)"
    autocomplete="off"
  />

  <input
    *ngIf="type == 'NUMBER'"
    class="FormInput-field global-Text"
    type="number"
    [formControlName]="customFormControlName"
    (keyup)="setValue($event?.target?.value)"
    autocomplete="off"
    OnlyNumber
  />

  <div
    class="FormInput-error global-Text2"
    *ngIf="
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      (customFormGroup?.controls)[customFormControlName]?.errors
    "
  >
    {{
      (customFormGroup?.controls)[customFormControlName]?.errors
        | errorPipe: patternType
        | translate
    }}
  </div>

  <div
    class="FormInput-available global-Text2"
    *ngIf="
      enableSearch &&
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      !(customFormGroup?.controls)[customFormControlName]?.errors
    "
  >
    {{ searchMessage | translate }}
  </div>
</div>
