html,
body {
  margin: 0;
  height: 100%;
  background-color: var(--color-geng);
  color: var(--white-high);

  @extend %body-2;
}

body {
  overflow: hidden;
  overflow-y: auto;
}

app-root {
  height: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  width: 10px;
  height: 10px;
  background: var(--white-smoke);
}

::-webkit-scrollbar-thumb {
  height: 10px;
  // background-color: var(--color-primary);
  background-color: #00fa00;
}

.text-divider {
  margin: 0 px2vw-xl(8px);
  border-radius: 50%;
  height: px2vw-xl(4px);
  width: px2vw-xl(4px);
  background-color: var(--white-high);

  @include lg {
    margin: 0 px2vw-lg(8px);
    height: px2vw-lg(4px);
    width: px2vw-lg(4px);
  }

  @include md {
    margin: 0 px2vw-md(8px);
    height: px2vw-md(4px);
    width: px2vw-md(4px);
  }

  @include sm {
    margin: 0 px2vw-sm(8px);
    height: px2vw-sm(4px);
    width: px2vw-sm(4px);
  }
}
