<table class="table Swiss-standing-wrapper security-preferences-box purchase_tab">
  <thead>
    <tr class="table-col-title">
      <th class="date_time" (click)="sort()">{{ "TRANSACTIONS.RELOAD_VIEW.DATE_TIME" | translate }}
        <img class="Header-logo imgstyle" src="./assets/wallet/dropdown.png" alt="logo" />
      </th>
      <th class="game_name">{{ "TRANSACTIONS.RELOAD_VIEW.GAME_NAME"| translate }}</th>
      <th class="game_item">{{ "TRANSACTIONS.RELOAD_VIEW.GAME_ITEM"| translate }}</th>
      <th class="order_id">{{ "TRANSACTIONS.RELOAD_VIEW.ORDER_ID"| translate }}</th>
      <th class="status">{{ "TRANSACTIONS.RELOAD_VIEW.STATUS" | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="Swiss-standing-body" *ngIf="showalldataPurchase.length != 0">
    <tr class="tbl-row" *ngFor="let item of showalldataPurchase" (click)="showDetails(item)">
      <td class="tbl-col">{{item?.createdAt | date:'dd/MM/YYYY'}} <br />
        <span>{{item?.createdAt | date:'HH:mm'}}</span>
      </td>
      <td class="tbl-col d-inline-flex">
        <img class="Header-logo imgstylefortable tableimg" src="{{item?.productIconUrl}}" alt="logo" />
        <div class="text_inline">
          <span class="category-txt" *ngIf="item?.category =='VOUCHER'">{{item?.category  }}<br/></span>
          <span class="category-txt" *ngIf="item?.category =='TOPUP'">Direct {{item?.category  }}<br/></span>
          <span>{{item?.topupCategoryName || item?.productName }}</span>
        </div>
      </td>
      <td class="tbl-col denomination_name">
        {{item?.denominationName}} <br /> <span>{{item?.denominationCoins | number}}
          {{ "TRANSACTIONS.RELOAD_VIEW.GC" | translate }}</span>
      </td>
      <td class="tbl-col">
        {{item?.purchaseOrderId}}
      </td>

      <td class="tbl-col td_viewdetails">
        <div class="status-refund" *ngIf="item?.transactionStatus == '1'">
          {{ "TRANSACTIONS.RELOAD_VIEW.SUCCESSFUL" | translate }}
        </div>
        <div class="status-refund1" *ngIf="item?.transactionStatus == '2'">
          {{ "TRANSACTIONS.RELOAD_VIEW.UNSUCCESSFUL " | translate }}
        </div>
        <div class="status-refund2" *ngIf="item?.transactionStatus == '0'">
          {{ "TRANSACTIONS.RELOAD_VIEW.PROCESSING" | translate }}
        </div>
      </td>
      <td>
        <p class="btn_view" (click)="showDetails(item)">
          {{ "TRANSACTIONS.RELOAD_VIEW.VIEW" | translate }}
        </p>
      </td>
    </tr>
  </tbody>
</table>
