@import "shared";

$-button-more-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
  0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);

:host {
  display: block;
}

.CommentsInfluence {
  &-list {
    margin-bottom: 0;
  }

  &-item-top {
    @extend %u-dfCenter;
    margin-bottom: 24px;
    width: 100%;

    @include xl {
      margin-bottom: px2vw-xl(24px);
    }

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-item-post {
    @extend %u-dfStart;
  }

  &-item-post-image {
    flex-shrink: 0;
    margin-right: 16px;
    height: 80px;
    width: 160px;
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include xl {
      margin-right: px2vw-xl(16px);
      height: px2vw-xl(80px);
      width: px2vw-xl(160px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(80px);
      width: px2vw-lg(160px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(80px);
      width: px2vw-md(160px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(80px);
      width: px2vw-sm(160px);
    }
  }

  &-item-post-title {
    @extend %global-H7;
    margin-bottom: 8px;

    @include xl {
      margin-bottom: px2vw-xl(8px);
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-item-post-message {
    @extend %body-1;
    margin-bottom: 18px;

    @include xl {
      margin-bottom: px2vw-xl(18px);
    }

    @include lg {
      margin-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
    }
  }

  &-item {
    @extend %u-dfStart;
    position: relative;

    &.isReplies::before {
      position: absolute;
      content: "";
      top: 50px;
      left: 20px;
      bottom: 34px;
      width: 1px;
      background-color: var(--white-smoke);

      @include xl {
        top: px2vw-xl(50px);
        left: px2vw-xl(20px);
        bottom: px2vw-xl(34px);
        width: px2vw-xl(1px);
      }

      @include lg {
        top: px2vw-lg(50px);
        left: px2vw-lg(20px);
        bottom: px2vw-lg(34px);
        width: px2vw-lg(1px);
      }

      @include md {
        top: px2vw-md(50px);
        left: px2vw-md(20px);
        bottom: px2vw-md(34px);
        width: px2vw-md(1px);
      }

      @include sm {
        top: px2vw-sm(50px);
        left: px2vw-sm(20px);
        bottom: px2vw-sm(34px);
        width: px2vw-sm(1px);
      }
    }

    &.main {
      flex-direction: column;
      margin-bottom: 32px;
      border: 1px solid var(--white-smoke);
      border-radius: 4px;
      padding: 16px;
      background: var(--gradient-bg);

      @include xl {
        margin-bottom: px2vw-xl(32px);
        border-width: px2vw-xl(1px);
        border-radius: px2vw-xl(4px);
        padding: px2vw-xl(16px);
      }

      @include lg {
        margin-bottom: px2vw-lg(32px);
        border-width: px2vw-lg(1px);
        border-radius: px2vw-lg(4px);
        padding: px2vw-lg(16px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
        border-width: px2vw-md(1px);
        border-radius: px2vw-md(4px);
        padding: px2vw-md(16px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
        border-width: px2vw-sm(1px);
        border-radius: px2vw-sm(4px);
        padding: px2vw-sm(16px);
      }
    }
  }

  &-item-image {
    flex-shrink: 0;
    margin-right: 16px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;

    @include xl {
      margin-right: px2vw-xl(16px);
      height: px2vw-xl(40px);
      width: px2vw-xl(40px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
    }
  }

  &-item-content {
    width: 100%;
  }

  &-item-header {
    @extend %u-dfCenterBtw;
    margin-bottom: 18px;

    @include xl {
      margin-bottom: px2vw-xl(18px);
    }

    @include lg {
      margin-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
    }

    &.main {
      margin-bottom: 0;
      width: 100%;
    }
  }

  &-item-header-name {
    @extend %subtitle-1;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  &-item-header-date {
    @extend %caption;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-item-header-button {
    flex-shrink: 0;
    margin-left: 15px;
    background-color: transparent;

    @include xl {
      margin-left: px2vw-xl(15px);
    }

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }

    mat-icon {
      height: auto;
      width: auto;
      font-size: 24px;
      color: var(--white);

      @include xl {
        font-size: px2vw-xl(24px);
      }

      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }
  }

  &-item-block {
    padding-right: 40px;

    @include xl {
      padding-right: px2vw-xl(40px);
    }

    @include lg {
      padding-right: px2vw-lg(40px);
    }

    @include md {
      padding-right: px2vw-md(40px);
    }

    @include sm {
      padding-right: px2vw-sm(40px);
    }
  }

  &-item-message {
    @extend %body-1;
    margin-bottom: 16px;
    max-width: 710px;

    @include xl {
      margin-bottom: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
      max-width: none;
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-item-controls {
    @extend %u-dfCenter;
    padding-bottom: 32px;

    @include xl {
      padding-bottom: px2vw-xl(32px);
    }

    @include lg {
      padding-bottom: px2vw-lg(32px);
    }

    @include md {
      padding-bottom: px2vw-md(32px);
    }

    @include sm {
      padding-bottom: px2vw-sm(32px);
    }

    &.main {
      padding-bottom: 0;
    }
  }

  &-item-control {
    @extend %u-dfCenter;
    margin-right: 16px;

    @include xl {
      margin-right: px2vw-xl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-item-control-icon {
    height: auto;
    width: auto;
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    transition: $global-transition;

    @include xl {
      font-size: px2vw-xl(20px);
    }

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &.like.is-active {
      &,
      &:hover {
        color: var(--color-sunset-orange) !important;
      }
    }
  }

  &-item-control-value {
    @extend %body-2;
    margin-left: 4px;

    @include xl {
      margin-left: px2vw-xl(4px);
    }

    @include lg {
      margin-left: px2vw-lg(4px);
    }

    @include md {
      margin-left: px2vw-md(4px);
    }

    @include sm {
      margin-left: px2vw-sm(4px);
    }
  }

  &-item-control-reply {
    @extend %body-2;
    background-color: transparent;
    transition: $global-transition;
    color: var(--color-secondary);
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }

  &-comment-reply {
    padding-bottom: 32px;

    @include xl {
      padding-bottom: px2vw-xl(32px);
    }

    @include lg {
      padding-bottom: px2vw-lg(32px);
    }

    @include md {
      padding-bottom: px2vw-md(32px);
    }

    @include sm {
      padding-bottom: px2vw-sm(32px);
    }
  }

  &-button-more {
    @extend %button-label;
    box-shadow: $-button-more-shadow;
    width: 100%;
    padding: 20px;
    background: var(--gradient-bg);
    color: var(--white-high);
    text-align: center;
    transition: $global-transition2;

    @include xl {
      padding: px2vw-xl(20px);
    }

    @include lg {
      padding: px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &-please-login {
    margin-top: 22px;

    @include xl {
      margin-top: px2vw-xl(22px);
    }

    @include lg {
      margin-top: px2vw-lg(22px);
    }

    @include md {
      margin-top: px2vw-md(22px);
    }

    @include sm {
      margin-top: px2vw-sm(22px);
    }
  }
}
