.form-group {
  .dropdown {
    button {
      text-align: left;

      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      background: var(--base-05);
      box-shadow: 4px 4px 6px #0000004d;
      padding: 0;
      left: auto !important;
      max-height: 198px;
      overflow-x: auto;
      width: 100%;
      transform: none !important;
      top: 38px !important;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: rgba(112, 112, 112, 0.6);
        border-radius: 3px;
      }

      .dropdown-item {
        border-bottom: 0.5px solid var(--base-03);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        color: var(--base-01);
        font-size: 16px;
        line-height: 21px;

        &:last-child {
          border-bottom: 0;
        }

        &:hover,
        &:active,
        &:focus {
          background: transparent;
          color: var(--base-02);
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .form-group {
    .dropdown {
      .dropdown-menu {
        .dropdown-item {
          font-size: 14px;
          line-height: normal;
        }
      }
    }
  }
}
