<div class="form-group form-select" [formGroup]="customFormGroup">
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'A'">
      <ng-container *ngTemplateOutlet="type_1"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'B'">
      <ng-container *ngTemplateOutlet="type_2"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'C'">
      <ng-container *ngTemplateOutlet="type_3"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'D'">
      <ng-container *ngTemplateOutlet="type_4"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'E'">
      <ng-container *ngTemplateOutlet="type_5"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'F'">
      <ng-container *ngTemplateOutlet="type_6"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'G'">
      <ng-container *ngTemplateOutlet="type_7"></ng-container>
    </ng-container>
  </ng-container>

  <label
    class="labeltext"
    for="drop_down"
    [class.active]="type != 'F' && customFormGroup.value[customFormControlName]"
  >
    {{ title | translate }} *
  </label>

  <div
    class="error"
    *ngIf="
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      (customFormGroup?.controls)[customFormControlName]?.errors?.required
    "
  >
    <strong>{{ "TOURNAMENT.COUNTER_1" | translate }}</strong>
  </div>

  <div
    class="error"
    *ngIf="
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      (customFormGroup?.controls)[customFormControlName]?.errors?.checkInExpired
    "
  >
    <strong>{{ "TOURNAMENT.COUNTER_4" | translate }}</strong>
  </div>
</div>

<ng-template #type_1>
  <div ngbDropdown>
    <button
      class="form-control"
      id="drop_down_1"
      ngbDropdownToggle
      [disabled]="readOnly"
    >
      {{
        customFormGroup.value[customFormControlName]
          ? (dropdownList[customFormGroup.value[customFormControlName]]
            | translate)
          : ""
      }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_1">
      <button
        *ngFor="let item of dropdownList | keyvalue"
        (click)="setValue(item.key)"
        ngbDropdownItem
      >
        {{ item.value | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_2>
  <div ngbDropdown>
    <button
      class="form-control"
      id="drop_down_2"
      ngbDropdownToggle
      [disabled]="readOnly"
    >
      {{ (customFormGroup.value[customFormControlName] | translate) || "" }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_2">
      <button
        *ngFor="let item of dropdownList"
        (click)="setValue(item.name)"
        ngbDropdownItem
      >
        <img [src]="item?.flag" [hidden]="!item?.flag" />
        {{ item.name | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_3>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_3" ngbDropdownToggle>
      {{ customFormGroup.value[customFormControlName] || "" }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_3">
      <button
        *ngFor="let item of dropdownList"
        (click)="setValue(item)"
        ngbDropdownItem
      >
        {{ item }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_4>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_4" ngbDropdownToggle>
      {{ customFormGroup.value[customFormControlName] || "" }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_4">
      <button
        *ngFor="let item of dropdownList"
        (click)="setValue(item?.city)"
        ngbDropdownItem
      >
        {{ item?.city }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_5>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_5" ngbDropdownToggle>
      {{
        customFormGroup.value[customFormControlName] || ""
          | nameById: "name":dropdownList
      }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_5">
      <button
        *ngFor="let item of dropdownList"
        (click)="setValue(item?._id)"
        ngbDropdownItem
      >
        {{ item?.name }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_6>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_6" ngbDropdownToggle>
      {{ "" | nameById: "name":dropdownList }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_6">
      <button
        *ngFor="let item of dropdownList"
        (click)="setValueInArray(item?._id)"
        ngbDropdownItem
      >
        {{ item?.name }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_7>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_2" ngbDropdownToggle>
      {{
        (customFormGroup.value[customFormControlName]
          | region: currentLang:dropdownList:filterType) || ""
      }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_2">
      <button
        *ngFor="let item of dropdownList"
        (click)="setValue(item.name)"
        ngbDropdownItem
      >
        {{ item.name | region: currentLang:dropdownList:filterType }}
      </button>
    </div>
  </div>
</ng-template>
