@import "shared";
@import "../../../scss/components/create-team";

:host {
  display: block;
}

.TeamRegistration {
  width: 100%;
  margin-top: px2vw-xl(99px);
  padding-top: px2vw-xl(70px);
  padding-bottom: px2vw-xl(100px);
  @include lg {
    margin-top: px2vw-lg(0px);
    padding-top: px2vw-lg(100px);
    padding-bottom: px2vw-lg(100px);
  }

  @include md {
    margin-top: px2vw-md(65px);
    padding-top: px2vw-md(40px);
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    // margin-top: px2vw-sm(99);
    // padding-top: px2vw-sm(43px);
    // padding-bottom: px2vw-sm(43px);
  }
  &-container {
    width: 100%;
    max-width: px2vw-xl(1308px);
    margin: 0 auto;
    padding: 0 px2vw-xl(24px);
    @include lg{
      max-width: px2vw-lg(1308px);
      padding: 0 px2vw-lg(24px);
      margin-top: px2vw-lg(99px);
    }
    @include md{
      max-width: px2vw-md(1308px);
      padding: 0 px2vw-md(0px);
      margin-top: px2vw-md(55px);
      width: 78%;
    }
    @include sm{
      max-width: px2vw-sm(1308px);
      padding: 0 px2vw-sm(24px);
      margin-top: px2vw-sm(53px);
      width:100%;
    }
  }
  &-inner {
    // display: -webkit-flex;
    // display: flex;
    // -webkit-justify-content: space-between;
    // justify-content: flex-start;
    // -webkit-align-items: flex-start;
    // align-items: flex-start;
    // -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    grid-template-columns: px2vw-xl(295px) px2vw-xl(725px);
    grid-column-gap: px2vw-xl(120px);
    justify-content: space-between;
    @include lg{
      display: flex;
      flex-direction: row;
      justify-content: center;
      // grid-template-columns: px2vw-lg(295px) px2vw-lg(725px);
      // grid-column-gap: px2vw-lg(120px);
    }
  }
}
.SelectTeams-main {
  max-width: px2vw-xl(820px);
  width: 100%;
  @include lg {
    max-width: px2vw-lg(1000px);
  }

  @include md {
    max-width: 100%;
    margin-top: px2vw-md(10px);
  }

  @include sm {
    max-width: 100%;
    margin-top: px2vw-sm(0px);
  }
}
.SelectTeams-header {
  margin-bottom: px2vw-xl(24px);

  @include lg {
    margin-bottom: px2vw-lg(24px);
  }

  @include md {
    margin-bottom: px2vw-md(24px);
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
  }

  &-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(40px);
    line-height: px2vw-xl(48px);
    color: var(--white);
    margin-bottom: px2vw-xl(32px);
    @include lg {
      font-size: px2vw-lg(40px);
      line-height: px2vw-lg(48px);
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    margin-bottom: 0;
    @include lg{
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md{
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm{
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }

  &-link {
    @extend %subtitle-1;
    color: var(--color-secondary);
    transition: $global-transition2;

    &:hover {
      color: var(--color-primary);
    }
  }
}
.TeamRegistration-aside {
  border-radius: px2vw-xl(16px);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: px2vw-xl(295px);
  @include lg{
    max-width: px2vw-lg(295px);
    border-radius: px2vw-lg(16px);
  }
  @include md {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: px2vw-md(16px);
    max-width: 100%;
  }
  @include sm {
    max-width: 100%;
    display: flex;
    height: px2vw-sm(125px);
    border-radius: px2vw-sm(13px);
    align-items: flex-start;
  }
  &-Thumbnail {
    overflow: hidden;
    width: 100%;
    height: px2vw-xl(164px);
    position: relative;
    @include lg{
      height: px2vw-lg(164px);
    }
    @include md {
      width: 100%;
      max-width: 50%;
      height: px2vw-md(170px);
      border-radius: px2vw-md(8px) 0 0 px2vw-md(8px);
    }
    @include sm{
      width: 100%;
      max-width: 42%;
      height: px2vw-sm(125px);
      border-radius: px2vw-sm(13px);
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &-Info {
    @include md {
      width: 100%;
      max-width: 50%;
    }
    @include sm{
      width:100%;
      max-width:55%;
    }
    &-box {
      padding: px2vw-xl(24px);
      background: var(--color-secondary-disabled);
      border-radius:0 0 px2vw-xl(16px) px2vw-xl(16px);

      @include lg{
        border-radius:0 0 px2vw-lg(16px) px2vw-lg(16px);
      }
      @include md {
        width: 100%;
        // padding: 0 0 0 px2vw-md(16px);
        padding: px2vw-md(24px);
        background: var(--color-secondary-disabled);
        height:px2vw-md(170px);
        border-radius: 0 px2vw-md(8px) px2vw-md(8px) 0;
      }
      @include sm{
        width: 100%;
        // padding: 0 0 0 px2vw-sm(16px);
        background: transparent;
      }
      .title {
        font-family: "Paralucent-Demi", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--color-white-medium);
        margin-bottom: px2vw-xl(8px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @include lg{
          font-size: px2vw-lg(20px);
          line-height: px2vw-lg(28px);
          margin-bottom: px2vw-lg(8px);
        }
        @include md {
          font-size: px2vw-md(25px);
          line-height: px2vw-md(34px);
          margin-bottom: px2vw-md(13px);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        @include sm {
          font-size: px2vw-sm(27px);
          line-height: px2vw-sm(38px);
          margin-bottom: px2vw-sm(8px);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .price {
        margin-bottom: px2vw-xl(24px);
        @include md {
          display: none;
        }
        span {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--tolopea-color);
          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm{
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }
      .link-to {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--green);
        @include lg{
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }
        @include md{
          font-size: px2vw-md(21px);
          line-height: px2vw-md(26px);
          font-weight: 600;
        }
        @include sm{
          font-size: px2vw-sm(24px);
          font-weight: 500;
          line-height: px2vw-sm(26px);
          padding-top: px2vw-sm(6px);
          display: inline-block;
        }
      }
    }
  }
}
