<div *ngIf="type == 'joined'" class="MyTournament">
  <div class="Profile-title">
    {{ "PROFILE.TOURNAMENTS.SUB_HEADER1" | translate }}
  </div>

  <!-- <ngb-tabset
    type="pills"
    class="mesf-PillsTabs is-tournamentPage"
    (tabChange)="beforeTabChange($event)"
  >
    <ngb-tab id="joined-upcoming">
      <ng-template ngbTabTitle>
        {{ "PROFILE.TOURNAMENTS.TAB1" | translate }}</ng-template
      >
      <ng-template ngbTabContent>
        <ng-container *ngTemplateOutlet="joinedTournament"></ng-container>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="joined-ongoing">
      <ng-template ngbTabTitle>
        {{ "PROFILE.TOURNAMENTS.TAB2" | translate }}
      </ng-template>
      <ng-template ngbTabContent>
        <ng-container *ngTemplateOutlet="joinedTournament"></ng-container>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="joined-past">
      <ng-template ngbTabTitle>{{
        "PROFILE.TOURNAMENTS.TAB3" | translate
      }}</ng-template>
      <ng-template ngbTabContent>
        <ng-container *ngTemplateOutlet="joinedTournament"></ng-container>
      </ng-template>
    </ngb-tab>
  </ngb-tabset> -->
</div>

<div *ngIf="type == 'created'" class="MyTournament">
  <div class="Profile-title">
    {{ "PROFILE.TOURNAMENTS.SUB_HEADER2" | translate }}
  </div>

  <!-- <ngb-tabset
    type="pills"
    class="mesf-PillsTabs is-tournamentPage"
    (tabChange)="beforeTabChange($event)"
  >
    <ngb-tab id="created-upcoming">
      <ng-template ngbTabTitle>{{
        "PROFILE.TOURNAMENTS.TAB1" | translate
      }}</ng-template>
      <ng-template ngbTabContent>
        <ng-container *ngTemplateOutlet="createdTournament"></ng-container>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="created-ongoing">
      <ng-template ngbTabTitle>{{
        "PROFILE.TOURNAMENTS.TAB2" | translate
      }}</ng-template>
      <ng-template ngbTabContent>
        <ng-container *ngTemplateOutlet="createdTournament"></ng-container>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="created-past">
      <ng-template ngbTabTitle>{{
        "PROFILE.TOURNAMENTS.TAB3" | translate
      }}</ng-template>
      <ng-template ngbTabContent>
        <ng-container *ngTemplateOutlet="createdTournament"></ng-container>
      </ng-template>
    </ngb-tab>



    <ngb-tab id="created-unpublished">
      <ng-template ngbTabTitle>{{
        "PROFILE.TOURNAMENTS.TAB5" | translate
      }}</ng-template>
      <ng-template ngbTabContent>
        <ng-container *ngTemplateOutlet="createdTournament"></ng-container>
      </ng-template>
    </ngb-tab>
  </ngb-tabset> -->
</div>

<ng-template #joinedTournament>
  <div class="MyTournament-items">
    <div *ngFor="let item of tournamentList" class="MyTournament-item">
      <div class="MyTournament-item-coll">
        <div class="mesf-Text">{{ item?.tournament?.name || "N/A" }}</div>
        <div class="MyTournament-item-info">
          <p>{{ item?.tournament?.description || "N/A" }}</p>
        </div>
      </div>
      <div class="MyTournament-item-coll">
        <div class="MyTournament-item-info">
          <span>{{ item?.tournament?.startDate | date }}</span>
        </div>
      </div>
      <div class="MyTournament-item-coll">
        <button
          routerLink="/tournament/{{ item?.tournament?.slug }}"
          class="MyTournament-item-btn"
        >
          {{ "PROFILE.TOURNAMENTS.VIEW" | translate }}
        </button>
      </div>
      <div class="MyTournament-item-coll" [hidden]="isHidden">
        <fa-icon
          class="MyBracket-item-btn"
          [icon]="['fas', 'edit']"
          [routerLink]="['/tournament/' + item?.tournament?.slug + '/join']"
          [queryParams]="{ success: true }"
          ngbTooltip="Edit"
        ></fa-icon>
      </div>
    </div>
  </div>
  <app-pagination
    [page]="page"
    [activePage]="pagination.page"
    (currentPage)="pageChanged($event)"
  >
  </app-pagination>
</ng-template>

<ng-template #createdTournament>
  <div class="MyTournament-items">
    <div *ngFor="let tournament of tournamentList" class="MyTournament-item">
      <div class="MyTournament-item-coll">
        <div class="mesf-Text">{{ tournament?.name }}</div>
        <div class="MyTournament-item-info">
          <p>{{ tournament?.description || "N/A" }}</p>
        </div>
      </div>
      <div class="MyTournament-item-coll">
        <div class="MyTournament-item-info">
          <span>{{ tournament?.startDate | date }}</span>
        </div>
      </div>
      <div class="MyTournament-item-coll" [hidden]="isDraft">
        <button
          routerLink="/tournament/manage/{{ tournament['slug'] }}"
          class="MyTournament-item-btn"
        >
          {{ "PROFILE.TOURNAMENTS.MANAGE" | translate }}
        </button>
      </div>
      <div class="MyTournament-item-coll" [hidden]="isHidden">
        <fa-icon
          class="MyTournament-item-btn"
          [icon]="['fas', 'edit']"
          routerLink="/tournament/edit/{{ tournament['slug'] }}"
          ngbTooltip="Edit"
        ></fa-icon>
      </div>
    </div>
  </div>
  <div *ngIf="!tournamentList.length">
    <P> {{ "PROFILE.TOURNAMENTS.CREATE_MESSAGE" | translate }} </P>
  </div>
  <div *ngIf="!tournamentList.length">
    <button
      class="btn btn-light is-smallTor is-active"
      [routerLink]="[AppHtmlRoutes.tournamentInfo]"
    >
      {{ "ESPORTS.SECTIONA.BUTTON1" | translate }}
    </button>
  </div>
  <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
</ng-template>
