@import "../../../../../assets/styles/variables";
@import "../../../../../scss/components/btn";
@import "shared";
.card {
  z-index: 9;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0;
  background: var(--base-white);
  padding: 24px 28px;
  font-family: "stc-forward-medium" !important;
  color: var(--base-black-pearl);
  font-size: 26px;
  line-height: 34px;
  cursor: pointer;

  fa-icon {
    margin: -4px 7px;
    opacity: 0.6;
  }

  &.expand,
  &:hover {
    background: var(--base-white);
  }
}

.card:hover {
  background: var(--base-white);
}

.collapse.show {
  margin-bottom: 93px;
  background: var(--base-white);
  border: 0.4px solid var(--base-gainsboro);
}

table {
  thead {
    tr {
      th {
        width: 1%;
        padding: 26px 20px;
        font-size: 22px;
        line-height: 29px;
        font-family: "stc-forward-light" !important;
        font-weight: 100;

        &:first-child {
          padding-left: 50px;
        }
      }

      th:not(:first-child) {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid var(--base-gainsboro);
      border-bottom: 1px solid var(--base-gainsboro);

      &:hover {
        background: var(--base-white);

        th {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: 9px;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--primary-sunset-light);
          }
        }
      }

      th {
        border-right: 1px solid var(--base-gainsboro);
        width: 1%;
        padding: 17px;
        padding-left: 50px;
        font-family: "stc-forward-light" !important;
        font-weight: 100;
        font-size: 20px;
        line-height: 26px;
        color: var(--base-black-pearl);
      }

      td {
        div {
          padding: 17px 0;
          text-align: center;
          font-family: "stc-forward-light" !important;
          line-height: 26px;
          font-size: 20px;
          font-weight: 100;
          color: var(--base-black-pearl);

          &:first-child {
            border-bottom: 1px solid var(--base-gainsboro);
          }
        }

        &:nth-child(2) {
          width: 3%;
        }
      }
    }

    button {
      border: 1px solid transparent;
      border-radius: 4px;
      font-family: "stc-forward-regular" !important;
      color: var(--base-black-pearl);
      cursor: default;
      font-size: 12px;

      &.winner {
        @extend %global-EditBtn;
        @include xl{
          width: px2vw-xl(192px);
        }
        @include lg{
          width: px2vw-lg(192px);
        }
        @include md{
          width: px2vw-md(300px);
        }
      }

      &.loser {
        @extend %global-EditBtn;
        border-color: var(--base-gainsboro);
        background-color: var(--base-gainsboro);
        color: var(--base-black-pearl) !important;
        @include xl{
          width: px2vw-xl(192px);
        }
        @include lg{
          width: px2vw-lg(192px);
        }
        @include md{
          width: px2vw-md(300px);
        }
      }
    }
  }
}

.match-not-available {
  padding: 10px 0 0 0;
  margin-left: -15px;
}

::ng-deep html[dir="rtl"] {
  .match-not-available {
    text-align: right;
  }
}

.container-match-list {
  padding-right: 12px;
  padding-right: 20px;

  &::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgba(0, 0, 3, 0.3);
    border-radius: 11px;
  }
}

.btn-row-round {
  border-radius: 5px;
  margin-top: 30px;
  overflow: hidden;

  .col-3 {
    background: var(--ui-valhalla) 0% 0% no-repeat padding-box;
    padding: 15px;
    padding-left: 62px;

    p {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }

    fa-icon {
      margin-left: 33px;
      font-size: 15px;
    }

    .row {
      p {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
}

.p-padding {
  padding: 30px;
}

@media (max-width: 767px) {
  .card {
    padding: 10px 28px;
    font-size: 18px;
    line-height: normal;
    margin-top: 30px;
  }

  .collapse.show {
    margin-bottom: 40px;
    overflow: scroll;
  }

  table {
    thead {
      tr {
        th {
          padding: 10px 20px;
          font-size: 14px;
          line-height: normal;

          &:first-child {
            padding-left: 30px;
          }
        }
      }
    }

    tbody {
      tr {
        th {
          padding-left: 30px;
          font-size: 14px;
          line-height: normal;
        }

        td {
          div {
            font-size: 14px;
            line-height: normal;
          }

          &:last-child {
            padding-right: 10px;

            div {
              padding: 10px 0;
            }
          }

          &:nth-child(2) {
            min-width: 160px;
          }
        }
      }

    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card {
    padding: 17px 28px;
    font-size: 18px;
    line-height: normal;
    margin-top: 30px;
  }

  .collapse.show {
    margin-bottom: 40px;
    overflow: scroll;
  }
  table {
    thead {
      tr {
        th {
          padding: 10px 20px;
          font-size: 14px;
          line-height: normal;

          &:first-child {
            padding-left: 30px;
          }
        }
      }
    }

    tbody {
      tr {
        th {
          padding-left: 30px;
          font-size: 14px;
          line-height: normal;
        }

        td {
          div {
            font-size: 14px;
            line-height: normal;
          }

          &:last-child {
            padding-right: 10px;

            div {
              padding: 10px 0;
            }
          }

          &:nth-child(2) {
            min-width: 160px;
          }
        }
      }

    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .card {
    padding: 16px 28px;
    font-size: 20px;
    line-height: normal;
  }

  table {
    thead {
      tr {
        th {
          font-size: 16px;
          line-height: normal;
        }
      }
    }

    tbody {
      tr {
        td {
          div {
            padding: 17px 0;
            font-size: 16px;
            line-height: normal;
          }

          &:last-child {
            div {
              padding: 10px 0;
            }
          }
        }

        th {
          font-size: 16px;
          line-height: normal;
        }
      }
    }
  }

  .collapse.show {
    margin-bottom: 70px;
  }
}

.table-td {
  border-right: 1px solid var(--base-black);
  width: 1%;
  padding: 17px;
  font-family: "stc-forward-light" !important;
  font-size: 15px;
  line-height: 26px;
  font-weight: 100;

  &:not(:first-child) {
    text-align: center;
  }

  &:first-child {
    padding-left: 50px;
  }
}

.round-title {
  margin: 0;
  padding-left: 30px;
}

.battle-royale-standing {
  border-bottom: 1px solid #ddd;
  td {
    border-right: 1px solid #ddd;
    text-align: center;
    font-family: "stc-forward-light" !important;
  }
}

.scoreConflict {
  background-color: lightpink;
  padding: 4px;
  border-radius: 6px;
}
.scoreConflict:hover {
  background-color: lightpink !important;
}

.EditScore {
  cursor: pointer;
}

.page-alignment {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-top: 1px solid var(--base-gainsboro);
  border-bottom: 1px solid var(--base-gainsboro);
}

.message-alignment {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 10px;
}