
<app-header-spark [title]="'match page'" ></app-header-spark>
<div class="col-6">
  <button class="button-icon-secondary back back-btn" (click)="goBack()">
    <mat-icon>{{"TRANSACTIONS.ARROW_BACK" | translate }} </mat-icon>
    <span>
      {{ "BUTTON.BACK" | translate }}
    </span>
  </button>
</div>
<br>
<br>
<header class="GameLobby-header">
  <h1 class="GameLobby-header-title global-Elipses">
     {{ "LADDER.TITLE" | translate }}
  </h1>


  <!-- <button *ngIf="reportScore" class="GameLobby-header-button button-icon-secondary"
    [routerLink]="['/get-match/manage-score',{matchId:challenge?.matchId}]">
    <span>Report Score</span>
  </button> -->

  <button *ngIf="challenge?.matchId" class="GameLobby-header-button button-icon-secondary btn"
  (click)="reportScore()">
  <span>{{ "REPORT_SCORE.REPORT_SCORE" | translate }}</span>
</button>

</header>

<ul class="GameLobby-opportunities">
  <li class="GameLobby-opportunities-item" >
    <header class="GameLobby-opportunities-header">
      <h3 class="GameLobby-opportunities-title" *ngIf="challenge?.scheduledOn">
        {{ challenge?.scheduledOn | date: "medium" }}
      </h3>
    </header>
  </li>
</ul>

<mat-tab-group class="GameLobby-tabs" mat-align-tabs="start" animationDuration="0ms">
  <!-- <mat-tab [label]="'MATCHMAKING.GAME_LOBBY.PLAYERS.TITLE' | translate"> -->
    <mat-tab [label]="'LADDER.TITLE_PARTICIPANTS' |uppercase | translate">
    <div class="Ladder-wrapper u-dfStart">
      <div class="Ladder-left">

        <!-- ladder Single Table -->
        <section *ngIf="isSingle && playersData.length" class="Ladder-players">
          <div class="Ladder-players-table">
            <div class="global-scrollbar">
              <ngx-datatable
                class="global-DataTable text"
                [rows]="playersData"
                [columnMode]="'force'"
                [headerHeight]="'auto'"
                [rowHeight]="'auto'"
                [footerHeight]="'auto'"
                [limit]="10"
              >
                <ngx-datatable-column
                  name="{{ 'LADDER.TABLE.COLUMNS.SN' | translate }}"
                >
                  <ng-template
                    ngx-datatable-cell-template
                    let-row="row"
                    let-rowIndex="rowIndex"
                  >
                    <div class="player u-dfCenter">
                      <span class="player-sn text">
                        {{ rowIndex + 1 }}
                      </span>
                      <img
                        class="player-image"
                        [src]="row.logo"
                        alt="player name"
                      />
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="name"
                  name="{{ 'LADDER.TABLE.COLUMNS.PARTICIPANTS_NAME' | translate }}"
                >
                <ng-template ngx-datatable-cell-template let-row="row">
                  <div class="gamerId u-dfCenter">
                    <p class="gamerId-text text">
                      {{ row.name | limitString: 13:"..." }}
                    </p>
                  </div>
                </ng-template>
              </ngx-datatable-column>

                <ngx-datatable-column
                  prop="inGamerUserId"
                  name="{{ 'LADDER.TABLE.COLUMNS.GAMER_ID' | translate }}"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="gamerId u-dfCenter">
                      <p class="gamerId-text">
                        {{ row.inGamerUserId | limitString: 29:"..." }}
                      </p>
                      <img
                        class="gamerId-icon"
                        src="assets/icons/copy.svg"
                        alt="link"
                        [cdkCopyToClipboard]="row.inGamerUserId"
                        (click)="showCopySnackbar()"
                        matTooltip="{{ 'LADDER.COPY_GAME_ID' | translate }}"
                      />
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </section>

        <!-- ladder Teams Tables -->
        <section *ngIf="!isSingle && teamsData.length" class="Ladder-players">
          <ul class="Ladder-players-list">
            <li *ngFor="let team of teamsData" class="Ladder-players-item">
              <h3 class="Ladder-players-title global-Title3 text">
                {{ team.name | limitString: 17:"..." }}
              </h3>
              <div *ngIf="team.players" class="Ladder-players-table">
                <div class="global-scrollbar">
                  <ngx-datatable
                    class="global-DataTable"
                    [rows]="team.players"
                    [columnMode]="'force'"
                    [headerHeight]="'auto'"
                    [rowHeight]="'auto'"
                    [footerHeight]="'auto'"
                    [limit]="10"
                  >
                    <ngx-datatable-column
                      name="{{ 'LADDER.TABLE.COLUMNS.SN' | translate }}"
                    >
                      <ng-template
                        ngx-datatable-cell-template
                        let-row="row"
                        let-rowIndex="rowIndex"
                      >
                        <div class="player u-dfCenter">
                          <span class="player-sn text">
                            {{ rowIndex + 1 }}
                          </span>
                          <img
                          *ngIf="row.profilePicture"
                            class="player-image"
                            [src]="row.profilePicture"
                            alt="player name "
                          />
                          <img
                          *ngIf="!row.profilePicture"
                            class="player-image"
                            [src]="row.image"
                            alt="player name "
                          />
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="name"
                      name="{{
                        'LADDER.TABLE.COLUMNS.PARTICIPANTS_NAME' | translate
                      }}"
                    >
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <div class="gamerId u-dfCenter">
                          <p class="gamerId-text text">
                            {{ row.name | limitString: 13:"..." }}
                          </p>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="inGamerUserId"
                      name="{{ 'LADDER.TABLE.COLUMNS.GAMER_ID' | translate }}"
                    >
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <div class="gamerId u-dfCenter">
                          <p class="gamerId-text">
                            {{ row.inGamerUserId | limitString: 29:"..." }}
                          </p>
                          <img
                            class="gamerId-icon"
                            src="assets/icons/copy.svg"
                            alt="link"
                            [cdkCopyToClipboard]="row.inGamerUserId"
                            (click)="showCopySnackbar()"
                            matTooltip="{{ 'LADDER.COPY_GAME_ID' | translate }}"
                          />
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </li>
          </ul>

      </section>

      <!-- Matchroom chat -->

        <!-- <button class="button-primary mt-5">
         <span class="text">
        {{ "MATCHMAKING.GAME_LOBBY.CHAT.TITLE" | translate }}
        </span>
       </button> -->

        </div>

      <div class="Ladder-right">
        <section class="Ladder-sectionA">
          <h3 class="Ladder-heading game">
            {{ "LADDER.HEADING.TOURNAMENT" | translate }}
          </h3>
          <div class="d-flex">
            <div
              *ngIf="gameInfo"
              class="Ladder-sectionA-image-block u-dfCenterCenter"
              [style.background-image]="'url(' + gameInfo.image + ')'"
            ></div>
            <div class="Ladder-sectionA-info">
              <h6 class="Ladder-sectionA-info-title global-Text text">
                {{ tournamentDetails?.name | limitString: 17:"..." }}
              </h6>
              <p class="global-Text text">
                {{
                  tournamentDetails?.organizerDetail?.username
                    | limitString: 17:"..."
                }}
              </p>
            </div>
          </div>
        </section>

        <section class="Ladder-sectionB">
          <h3 class="Ladder-heading works text">
            {{ "LADDER.HEADING.WORKS" | translate }}
          </h3>

          <ul class="Ladder-sectionB-steps">
            <li
              *ngFor="let step of steps"
              class="Ladder-sectionB-step"
              [ngClass]="{ active: step.isDone }"
            >
              <span
                class="Ladder-sectionB-step-image-block image-block"
                [inlineSVG]="step.icon"
              ></span>
              <span class="Ladder-sectionB-step-text global-Text text">
                {{ step.text | translate }}
              </span>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<!-- <app-lib-chat></app-lib-chat> -->

<esports-loading *ngIf="isLoading"></esports-loading>
