<div class="TeamCard" *ngIf="team">
  <div class="TeamCard-image" [lazyLoad]="team?.logo"></div>

  <div class="TeamCard-info">
    <h3 class="TeamCard-info-name">
      {{ team?.name }}
    </h3>
    <p class="TeamCard-info-description">
      <!-- {{ data?.teamsLength }} -->
      <!-- {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} -->
      Gamer ID • {{ team.inGamerUserId }}

      <!-- <ng-container *ngIf="data?.createtdAt === 1">
        {{ data?.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }}
      </ng-container>

      <ng-container *ngIf="data?.createtdAt > 1">
        {{ data?.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAYS_AGO" | translate }}
      </ng-container> -->
    </p>
  </div>

  <div class="" *ngIf="isScreenShotRequired">
    <button
      [hidden]="!hasScreenshotUpdateAccess"
      class="btn button-primary"
      (click)="openScreenshotUploadPopup()"
    >
      <img
        *ngIf="!teamScreenShotUrl"
        class="upload-screenshot"
        src="assets/images/chat/uploadScreenshot.png"
        alt="upload"
      />

      <span *ngIf="!teamScreenShotUrl">{{
        "ELIMINATION.TOOLTIP.10" | translate
      }}</span>
      <span *ngIf="teamScreenShotUrl"
        >{{ "ELIMINATION.DOWNLOAD" | translate }}
      </span>
    </button>
    <button [hidden]="hasScreenshotUpdateAccess" class="btn button-primary">
      <img
        class="upload-screenshot"
        src="assets/images/chat/uploadScreenshot.png"
        alt="upload"
      />
      {{ "ELIMINATION.TOOLTIP.10" | translate }}
    </button>
  </div>

  <div class="TeamCard-manage">
    <h4 class="TeamCard-info-name name">
      <!-- {{ team?.teamName }} -->
    </h4>
    <!-- <h4 class="TeamCard-info-name name">
      {{ data?.name }}
    </h4> -->
    <!-- {{score}} -->
    <input
      type="number"
      class="score_inp"
      [(ngModel)]="score"
      (input)="updateScoree(set, score, team_name, 1, team?._id)"
    />
    <!-- <button class="TeamCard-manage-button-menu">
      <mat-icon style="color: #736CFF;" class="TeamCard-manage-button-menu-icon"> filter  </mat-icon>
    </button>
    <h5 style="color: #736CFF;margin-left: 2px;"> 1</h5> -->
  </div>
</div>

<style>
  .name {
    margin-right: 10px;
  }
</style>
