<div class="Article-list" *ngIf="hottestPost">
  <div class="column_div">
    <ng-container *ngFor="let item of hottestPost; let first = first">
      <div class="column_div">
        <a class="ArticleItem" [routerLink]="[AppHtmlRoutes.article, item?.slug]" *ngIf="first">
          <div class="first_block">
            <div class="ArticleItem-image-block">
              <img src="{{item?.image}}" class="img-fluid" />
            </div>
            <div class="article_content">
              <h3 class="ArticleItem-title">
                {{ item?.title | customTranslate: (languageService?.language | async) }}
              </h3>
              <p class="ArticleItem-created">
                Veronica Brauer <span>•</span>
                {{ item?.createdDate | date: "MMMM d, y" }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
  <div class="column_div">
    <ng-container *ngFor="let item of hottestPost; let first = first">
      <a class="ArticleItem" [routerLink]="[AppHtmlRoutes.article, item?.slug]" *ngIf="!first">
        <div class="side_block">
          <div class="ArticleItem-image-block">
            <img src="{{item?.image}}" class="img-fluid" />
          </div>
          <div class="d-flex flex-column px-3">
            <h3 class="ArticleItem-title global-Elipses2">
              {{ item?.title | customTranslate: (languageService?.language | async) }}
            </h3>
            <p class="ArticleItem-created global-Elipses">
              Veronica Brauer <span>•</span>
              {{ item?.createdDate | date: "MMMM d, y" }}
            </p>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</div>