<header class="MatchroomChat-header">
  <div class="MatchroomChat-header-game">
    <div
      class="MatchroomChat-header-game-image"
      [lazyLoad]="currentGame?.image"
    ></div>
    <p class="MatchroomChat-header-game-name global-Elipses">
      {{ currentGame?.name }}
    </p>
  </div>

  <div class="MatchroomChat-header-players">
    <ul class="MatchroomChat-header-players-list" *ngIf="players.length">
      <ng-container *ngFor="let player of players">
        <li
          class="MatchroomChat-header-players-item"
          [lazyLoad]="player.image"
        ></li>
      </ng-container>
    </ul>

    <button class="MatchroomChat-header-button">
      <img
        class="MatchroomChat-header-button-icon"
        src="assets/icons/plus.svg"
        alt="icon"
      />
    </button>
  </div>
</header>

<main class="MatchroomChat-main">
  <section class="MatchroomChat-data">
    <ul class="MatchroomChat-data-messages" *ngIf="players.length">
      <ng-container *ngFor="let player of players">
        <li class="MatchroomChat-data-message">
          <div
            class="MatchroomChat-data-message-image"
            [class.online]="true"
            [lazyLoad]="player.image"
          ></div>
          <div class="MatchroomChat-data-message-about">
            <p
              class="MatchroomChat-data-message-text"
              [class.author]="player.isAuthor"
            >
              {{ player.message.text }}
            </p>
            <span class="MatchroomChat-data-message-time">
              {{ player.message.time }}
            </span>
          </div>
        </li>
      </ng-container>
    </ul>
  </section>

  <section class="MatchroomChat-manage">
    <button class="MatchroomChat-manage-add">
      <img
        class="MatchroomChat-manage-add-icon"
        src="assets/icons/plus.svg"
        alt="icon"
      />
    </button>

    <div class="MatchroomChat-manage-field">
      <input
        class="MatchroomChat-manage-input"
        type="text"
        [placeholder]="
          ('MATCHMAKING.GAME_LOBBY.CHAT.PLACEHOLDER_START' | translate) +
          (currentGame.name | uppercase) +
          ('MATCHMAKING.GAME_LOBBY.CHAT.PLACEHOLDER_END' | translate)
        "
      />
      <button class="MatchroomChat-manage-send">
        <img
          class="MatchroomChat-manage-send-icon"
          src="assets/icons/send.svg"
          alt="icon"
        />
      </button>
    </div>
  </section>
</main>
