@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.MyBookmarks {
  &-items {
    margin-top: px2vw-xl(40px);

    @include lg {
      margin-top: px2vw-lg(40px);
    }

    @include md {
      margin-top: px2vw-md(40px);
    }

    @include sm {
      margin-top: px2vw-sm(40px);
    }
  }

  &-item {
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--base-gainsboro);
    margin-bottom: px2vw-xl(24px);
    padding-bottom: px2vw-xl(24px);
    padding-right: px2vw-xl(25px) ;

    @include lg {
      margin-bottom: px2vw-lg(24px);
      padding-bottom: px2vw-lg(24px);
      padding-right: px2vw-xl(25px) ;
    }

    @include md {
      flex-flow: wrap;
      margin-bottom: px2vw-md(24px);
      padding-bottom: px2vw-md(24px);
      padding-right: px2vw-xl(25px) ;
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      padding-bottom: px2vw-sm(24px);
      padding-right: px2vw-xl(25px) ;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-image-block {
      overflow: hidden;
      margin-right: px2vw-xl(32px);
      border-radius: px2vw-xl(8px);
      min-width: px2vw-xl(196px);
      width: px2vw-xl(196px);
      height: px2vw-xl(120px);

      @include lg {
        margin-right: px2vw-lg(32px);
        border-radius: px2vw-lg(8px);
        min-width: px2vw-lg(196px);
        width: px2vw-lg(196px);
        height: px2vw-lg(120px);
      }

      @include md {
        margin-right: px2vw-md(32px);
        border-radius: px2vw-md(8px);
        min-width: px2vw-md(196px);
        width: px2vw-md(196px);
        height: px2vw-md(120px);
      }

      @include sm {
        margin-right: px2vw-sm(32px);
        border-radius: px2vw-sm(8px);
        min-width: px2vw-sm(196px);
        width: px2vw-sm(196px);
        height: px2vw-sm(120px);
      }
    }

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1); // remove black lines in video
    }

    &-about {
      max-width: px2vw-xl(560px);
      padding-right: px2vw-xl(10px);

      @include lg {
        max-width: px2vw-lg(560px);
        padding-right: px2vw-lg(10px);
      }

      @include md {
        max-width: none;
        padding-right: px2vw-md(10px);
      }

      @include sm {
        padding-right: px2vw-sm(10px);
      }
    }

    &-title {
      margin-bottom: px2vw-xl(17px);
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(32px);
      font-family: "stc-forward-medium", sans-serif;
      color: var(--base-black-pearl);

      @include lg {
        margin-bottom: px2vw-lg(17px);
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(17px);
        font-size: px2vw-md(20px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(17px);
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(32px);
      }
    }

    &-description {
      margin-bottom: 0;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);

      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
      }
    }

    &-buttons {
      display: flex;
      margin-left: auto;
    }

    &-button {
      background-color: transparent;
      color: var(--primary-sunset-light);

      &.view {
        margin-right: px2vw-xl(32px);

        @include lg {
          margin-right: px2vw-lg(32px);
        }

        @include md {
          margin-right: px2vw-md(32px);
        }

        @include sm {
          margin-right: px2vw-sm(32px);
        }
      }
    }
  }
}

.no_data_available {
  margin-top: 30px;
  justify-content: center;
  color: var(--base-white);
}
::ng-deep .tooltip-inner{ 
  font-size: 10px;
}
