<div
  [style.backgroundImage]="'url(' + data?.banner + ')'"
  class="TournamentItem-bg"
></div>

<div class="TournamentItem-info">
  <div class="col-xl-7">
    <div class="TournamentItem-title">{{ data?.name }}</div>

    <div class="TournamentItem-info-wp">
      <div class="TournamentItem-box">
        <div class="mesf-Text TournamentItem-box-title">
          {{ "HOME.SECTIONB.CARD.START_DATE" | translate }}
        </div>
        <div class="TournamentItem-box-text">
          {{ data?.startDate | date: "d MMM" }}
          <!-- -{{ data.endDate | date: "d MMM" }} -->
        </div>
      </div>
      <div class="TournamentItem-box">
        <div class="mesf-Text TournamentItem-box-title">
          {{ "HOME.SECTIONB.CARD.participants" | translate }}
        </div>
        <div class="TournamentItem-box-text">
          {{ data?.participantJoined }} of {{ data?.maxParticipants }} teams
        </div>
      </div>
      <div class="TournamentItem-box">
        <div class="mesf-Text TournamentItem-box-title">
          {{ "HOME.SECTIONB.CARD.regions" | translate }}
        </div>
        <div
          *ngIf="data.regionsAllowed.length > 0"
          class="TournamentItem-box-text"
        >
          {{
            data?.regionsAllowed.toString().length > 10
              ? (data?.regionsAllowed.toString() | slice: 0:10) + "..."
              : data?.regionsAllowed.toString()
          }}
        </div>
        <div
          class="TournamentItem-box-text"
          *ngIf="!data?.regionsAllowed.length"
        >
          All
        </div>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="TournamentItem-right-title">
      {{ "HOME.SECTIONB.CARD.registration" | translate }}
      {{
        getRegistrationStatus(
          data?.startDate,
          data?.startTime,
          data?.isSeeded,
          data?.isFinished,
          data?.maxParticipants,
          data?.participantJoined
        )
      }}
    </div>

    <button
      *ngIf="
        getRegistrationStatus(
          data?.startDate,
          data?.startTime,
          data?.isSeeded,
          data?.isFinished,
          data?.maxParticipants,
          data?.participantJoined
        ) == 'Open'
      "
      [routerLink]="AppHtmlRoutes.tournamentView + '/' + data?.slug"
      class="btn btn-outline-light is-orange"
    >
      {{ "HOME.SECTIONB.BTN2" | translate }}
    </button>
    <button
      *ngIf="
        getRegistrationStatus(
          data?.startDate,
          data?.startTime,
          data?.isSeeded,
          data?.isFinished,
          data?.maxParticipants,
          data?.participantJoined
        ) == 'Closed'
      "
      [routerLink]="AppHtmlRoutes.tournamentView + '/' + data?.slug"
      class="btn btn-outline-light is-orange"
    >
      {{ "HOME.SECTIONB.BTN3" | translate }}
    </button>
  </div>
</div>
