@import "shared";

.Duration {
    width: 50px;
    display: inline-flex;
    margin-right: 10px;

    &-block {
      border:1px solid var(--base-gainsboro);
      text-align: center;
      padding: 10px 0;
      margin: 5px 0;
    }

    &-error {
        margin-top: px2vw-xl(5px);
        color: var(--ui-venetian-red);
        
        @include lg {
          margin-top: px2vw-lg(5px);
        }

        @include md {
          margin-top: px2vw-md(5px);
        }

        @include sm {
          margin-top: px2vw-sm(5px);
        }
    }
}