<div class="TournamentsTable" *ngIf="tournaments.length">
  <ng-container *ngFor="let item of tournaments">
    <app-tournament-card
      [data]="item"
      [isManage]="isCardManage"
    ></app-tournament-card>
  </ng-container>
</div>

