<div class="stepper">
  <ng-container *ngFor="let item of data; let index = index">
    <input
      class="stepper__input"
      [checked]="index === activeIndex"
      id="stepper-{{ index }}"
      name="stepper-{{ index }}"
      type="radio"
    />

    <div class="stepper__step">
      <label
        class="stepper__button"
        [innerHTML]="item | translate"
        for="stepper-{{ index }}"
      ></label>
    </div>
  </ng-container>
</div>
