@import "shared";

:host {
  display: block;
  overflow: hidden;
}
.PopupReassign {
  background: rgb(29 29 29 / 80%);
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  &-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  &-inner {
    width: 100%;
    max-width: 621px;
    height: auto;
    background: var(--midnight-express-color);
    box-shadow: -4px -4px 20px rgb(0 0 0 / 8%), 4px 4px 20px rgb(0 0 0 / 8%);
    border-radius: 24px;
    padding: 48px;
    @include sm {
      max-width: 327px;
      height: auto;
      padding: 24px;
    }
  }
  .heading {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--tertiary-color);
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 16px;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .subtitle {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
    }
  }
  .content {
    margin-bottom: 32px;
    @include md {
      margin-bottom: 16px;
    }
    &-item {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      margin-bottom: 16px;
      @include sm {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      &:last-child {
        margin-bottom: 32px;
      }
    }
    .text-lable {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-color);
      margin-bottom: 0;
      display: inline-block;
      width: 100%;
      max-width: 185px;
      @include sm {
        max-width: 100%;
      }
    }
    .text {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);
      margin-bottom: 0;
      display: inline-block;
      width: 100%;
      max-width: calc(100% - 185px);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include sm {
        max-width: 100%;
      }
    }
    .line-throuth {
      color: var(--tertiary-color);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 1px;
        background-color: var(--tertiary-color);
        bottom: 7px;
        left: 0;
      }
    }
  }
  .btn-group {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include md {
      flex-direction: column-reverse;
    }
    .btn {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: none;
      border-radius: 6px;
      flex: 0 0 auto;
      @include md {
        width: 100%;
        padding: 11px 0;
      }
      &.button-default {
        margin-right: 24px;
        @include md {
          margin-right: 0;
        }
      }
      &.button-primary {
        @include md {
          margin-bottom: 16px;
        }
      }
    }
  }
}
