<ng-container>
  <section class="PopupReassign">
    <div class="PopupReassign-container">
      <div class="PopupReassign-wrapper">
        <div class="PopupReassign-inner">
          <div class="heading">
            <h2 class="title">{{ "CHECKOUT.POPUP.TITLE" | translate }}</h2>
            <p class="subtitle">{{ "CHECKOUT.POPUP.SUBTITLE" | translate }}</p>
          </div>
          <div class="content">
            <div class="content-item">
              <span class="text-lable">{{ "CHECKOUT.POPUP.TOURNAMENT_NAME" | translate }}</span>
              <span class="text">Fortnite first strike tournament - Alpha phase</span>
            </div>
            <div class="content-item">
              <span class="text-lable">{{ "CHECKOUT.POPUP.PAYMENT_METHOD" | translate }}</span>
              <span class="text">Credits</span>
            </div>
            <div class="content-item">
              <span class="text-lable">{{ "CHECKOUT.POPUP.VOUCHER" | translate }}</span>
              <span class="text">LETMEIN</span>
            </div>
            <div class="content-item">
              <span class="text-lable">{{ "CHECKOUT.POPUP.TOTAL" | translate }}</span>
              <span class="text"><span class="line-throuth"> 300 </span>270 credits</span>
            </div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn button-default" (click)="hidePopup.emit()">Cancel</button>
            <button type="button" class="btn button-primary" [routerLink]="'/manage-tournament/brackets/generated'">{{
              "BUTTON.CONFIRM" | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>