<section class="Video">
  <div class="Video-title global-Title2">
    {{ "VIDEO.LIST.ALL_VIDEOS" | translate }}
  </div>
  <div class="Video-list">
    <app-video-item
      class="Video-item"
      *ngFor="let item of videoDetails?.data?.docs || []"
      [data]="item"
      (onVideoClick)="addViewVideoGtmTag($event)"
    ></app-video-item>
  </div>
  <app-pagination
    [page]="page"
    (currentPage)="pageChanged($event)"
  ></app-pagination>
</section>

<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
