@import "shared";

.VideoView {
  padding-bottom: px2vw-xl(120px);

  @include lg {
    padding-bottom: px2vw-lg(120px);
  }

  @include md {
    padding-bottom: px2vw-md(120px);
  }

  @include sm {
    padding-bottom: px2vw-sm(120px);
  }

  &-back {
    margin-left: px2vw-xl(120px);
    font-family: "source-sans-pro";
    color: var(--color-primary);

    @include lg {
      margin-left: px2vw-lg(120px);
    }

    @include md {
      margin-left: px2vw-md(120px);
    }

    @include sm {
      margin-left: px2vw-sm(70px);
    }
  }

  &-info {
    display: flex;
    justify-content: flex-start;
    @extend %u-dfStartBtw;
    margin-top: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(50px);
    }

    &-ava {
      margin-right: px2vw-xl(20px);
      min-width: px2vw-xl(100px);
      width: px2vw-xl(100px);
      height: px2vw-xl(100px);

      @include lg {
        margin-right: px2vw-lg(20px);
        min-width: px2vw-lg(100px);
        width: px2vw-lg(100px);
        height: px2vw-lg(100px);
      }

      @include md {
        margin-right: px2vw-md(20px);
        min-width: px2vw-md(100px);
        width: px2vw-md(100px);
        height: px2vw-md(100px);
      }

      @include sm {
        margin-right: px2vw-sm(20px);
        min-width: px2vw-sm(50px);
        width: px2vw-sm(50px);
        height: px2vw-sm(50px);
      }

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      margin-bottom: px2vw-xl(10px);
      font-weight: 600;

      @include lg {
        margin-bottom: px2vw-lg(10px);
      }

      @include md {
        margin-bottom: px2vw-md(10px);
      }

      @include sm {
        margin-bottom: px2vw-sm(10px);
      }
    }

    &-name {
      margin-bottom: px2vw-xl(10px);

      @include lg {
        margin-bottom: px2vw-lg(10px);
      }

      @include md {
        margin-bottom: px2vw-md(10px);
      }

      @include sm {
        margin-bottom: px2vw-sm(10px);
      }
    }

    &-date {
      margin-bottom: px2vw-xl(25px);

      @include lg {
        margin-bottom: px2vw-lg(25px);
      }

      @include md {
        margin-bottom: px2vw-md(25px);
      }

      @include sm {
        margin-bottom: px2vw-sm(25px);
      }
    }

    &-text {
      margin-bottom: px2vw-xl(15px);
      font-family: "source-sans-pro";
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(15px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(15px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(15px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
      }
    }

    &-tags {
      margin-bottom: px2vw-xl(20px);

      @include lg {
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }

      &-title {
        margin-bottom: px2vw-xl(10px);

        @include lg {
          margin-bottom: px2vw-lg(10px);
        }

        @include md {
          margin-bottom: px2vw-md(10px);
        }

        @include sm {
          margin-bottom: px2vw-sm(10px);
        }
      }

      &-tag {
        margin: 0 px2vw-xl(20px) px2vw-xl(20px) 0;
        border: 1px solid var(--white-high);
        display: inline-block;

        @include lg {
          margin: 0 px2vw-lg(20px) px2vw-lg(20px) 0;
        }

        @include md {
          margin: 0 px2vw-md(20px) px2vw-md(20px) 0;
        }

        @include sm {
          margin: 0 px2vw-sm(20px) px2vw-sm(20px) 0;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &-video {
    &-iframe {
      width: 100%;
      margin-bottom: px2vw-xl(40px);

      @include lg {
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
      }

      iframe {
        width: 100%;
        height: px2vw-xl(612px);

        @include lg {
          height: px2vw-lg(600px);
        }

        @include md {
          height: px2vw-md(500px);
        }

        @include sm {
          height: px2vw-sm(400px);
        }
      }
    }

    &-footer {
      @extend %u-dfStartEnd;

      &-item {
        @extend %u-dfCenterCenter;
        margin-left: px2vw-xl(30px);
        border: none;
        background: transparent;
        font-weight: 300;
        color: var(--color-primary);

        @include lg {
          margin-left: px2vw-lg(30px);
        }

        @include md {
          margin-left: px2vw-md(30px);
        }

        @include sm {
          margin-left: px2vw-sm(30px);
        }

        .material-icons {
          margin-right: px2vw-xl(10px);
          font-size: px2vw-xl(30px);

          @include lg {
            margin-right: px2vw-lg(10px);
            font-size: px2vw-lg(30px);
          }

          @include md {
            margin-right: px2vw-md(10px);
            font-size: px2vw-md(30px);
          }

          @include sm {
            margin-right: px2vw-sm(10px);
            font-size: px2vw-sm(30px);
          }
        }

        &:hover,
        &.is-active {
          color: var(--color-primary);
        }
      }
    }
  }
}
