@import "shared";

:host {
  display: block;
}

.scBtn {
  margin-left: px2vw-xl(10px);

  @include lg {
    margin-left: px2vw-lg(10px);
  }

  @include md {
    margin-left: px2vw-md(10px);
  }

  @include sm {
    margin-left: px2vw-sm(10px);
  }
}

.Congratulation {
  text-align: center;
  transform: matrix(-1, 0, 0, 1, 0, 0);

  &-title {
    margin-bottom: px2vw-xl(22px);
    font-family: "bebas-neue-regular";
    font-size: px2vw-xl(50px);
    line-height: px2vw-xl(50px);
    color: var(--color-primary);
    line-height: auto;

    @include lg {
      margin-bottom: px2vw-lg(22px);
      font-size: px2vw-lg(60px);
      line-height: auto;
    }

    @include md {
      margin-bottom: px2vw-md(22px);
      font-size: px2vw-md(60px);
      line-height: auto;
    }

    @include sm {
      margin-bottom: px2vw-sm(22px);
      font-size: px2vw-sm(60px);
      line-height: inherit;
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(80px);
    font-size: px2vw-xl(26px);
    font-family: "source-sans-pro";
    line-height: auto;
    color: #fff;

    @include lg {
      margin-bottom: px2vw-lg(80px);
      font-size: px2vw-lg(26px);
    }

    @include md {
      margin-bottom: px2vw-md(80px);
      font-size: px2vw-md(26px);
    }

    @include sm {
      margin-bottom: px2vw-sm(80px);
      font-size: px2vw-sm(26px);
    }
  }

  &-btns {
    margin-bottom: px2vw-xl(50px);


    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }
}
.is-sm{
  background: rgba(255, 255, 255, 0.38) !important;
  border: 1px solid #fff;
  color: #9d9faa;
  font-size: 15px;
  border-radius: 0;
}
.scBtn{
  background-color: #bbf55a !important;
    border-radius: 0;
}

