@import "shared";

$--overlay-bg: linear-gradient(180deg, #0b0824 0%, rgba(11, 8, 36, 0) 100%);

:host {
  display: block;
}

.container-fluid {
  // padding-top: 90px;
  max-width: 1308px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;

  .row {
    height: 100%;
  }
}
.UpcomingSlider {
  overflow: hidden;
  position: relative;

  &-bg-image {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(px2vw-xl(20px));
    background-position: top left;
    background-size: cover;
    transition: $global-transition2;

    @include lg {
      filter: blur(px2vw-lg(20px));
    }

    @include md {
      filter: blur(px2vw-md(20px));
    }

    @include sm {
      filter: blur(px2vw-sm(20px));
    }
  }

  &-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: px2vw-xl(-1px);
    left: 0;
    // background: $--overlay-bg;
    transition: $global-transition2;
    transform: rotate(-180deg);

    @include lg {
      bottom: px2vw-lg(-1px);
    }

    @include md {
      bottom: px2vw-md(-1px);
    }

    @include sm {
      bottom: px2vw-sm(-1px);
    }
  }

  &-container {
    z-index: 3;
    position: relative;
  }

  &-content {
    @extend %u-dfCenter;
  }

  &-image {
    height: px2vw-xl(228px);
    width: px2vw-xl(430px);
    background-size: cover;

    @include lg {
      height: px2vw-lg(228px);
      width: px2vw-lg(430px);
    }

    @include md {
      height: px2vw-md(228px);
      width: px2vw-md(430px);
    }

    @include sm {
      height: px2vw-sm(228px);
      width: px2vw-sm(430px);
    }
  }

  &-info {
    padding: 0 px2vw-xl(25px);
    padding-right: px2vw-xl(62px);

    @include lg {
      padding: 0 px2vw-lg(25px);
      padding-right: px2vw-lg(62px);
    }

    @include md {
      padding: 0 px2vw-md(25px);
      padding-right: px2vw-md(62px);
    }

    @include sm {
      padding: 0 px2vw-sm(25px);
      padding-right: px2vw-sm(62px);
    }
  }

  &-heading {
    @extend %global-H7;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-subtitle {
    @extend %body-2;
    margin-bottom: px2vw-xl(8px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(16px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-about {
    @extend %u-dfCenter;
    padding-right: px2vw-xl(30px);

    @include lg {
      padding-right: px2vw-lg(30px);
    }

    @include md {
      padding-right: px2vw-md(30px);
    }

    @include sm {
      padding-right: px2vw-sm(30px);
    }
  }

  &-about-registered {
    @extend %caption;
    margin-bottom: 0;
    border-radius: px2vw-xl(2px);
    padding: px2vw-xl(4px);
    background-color: var(--color-secondary);

    @include lg {
      border-radius: px2vw-lg(2px);
      padding: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(2px);
      padding: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(2px);
      padding: px2vw-sm(4px);
    }
  }

  &-points {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-smoke);
    border-radius: px2vw-xl(2px);
    padding: px2vw-xl(2px);
    padding-right: px2vw-xl(6px);
    background-color: var(--white-light);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(2px);
      padding: px2vw-lg(2px);
      padding-right: px2vw-lg(6px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(2px);
      padding: px2vw-md(2px);
      padding-right: px2vw-md(6px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(2px);
      padding: px2vw-sm(2px);
      padding-right: px2vw-sm(6px);
    }
  }

  &-close {
    position: absolute;
    top: px2vw-xl(32px);
    right: px2vw-xl(32px);
    background-color: transparent;
    height: px2vw-xl(28px);
    width: px2vw-xl(28px);

    @include lg {
      top: px2vw-lg(32px);
      right: px2vw-lg(32px);
      height: px2vw-lg(28px);
      width: px2vw-lg(28px);
    }

    @include md {
      top: px2vw-md(32px);
      right: px2vw-md(32px);
      height: px2vw-md(28px);
      width: px2vw-md(28px);
    }

    @include sm {
      top: px2vw-sm(32px);
      right: px2vw-sm(32px);
      height: px2vw-sm(28px);
      width: px2vw-sm(28px);
    }
  }
}

.Play-slider {
  margin-bottom: px2vw-xl(24px);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) px2vw-xl(388px);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  @include lg {
    margin-bottom: px2vw-lg(24px);
    grid-template-columns: repeat(2, minmax(0, 1fr)) px2vw-lg(388px);
  }

  @include md {
    margin-bottom: px2vw-md(24px);
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr);
  }

  @include sm {
    margin-bottom: px2vw-sm(24px);
  }

  &-carousel {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--black);

    @include md {
      grid-area: auto;
    }
  }

  &-detail-name {
    display: flex;
  }

  &-image {
    background-size: cover;
    min-height: px2vw-xl(550px);

    @include lg {
      height: px2vw-lg(550px);
    }

    @include md {
      height: px2vw-md(388px);
      min-height: auto;
    }

    @include sm {
      height: px2vw-sm(300px);
    }
  }

  &-card {
    @extend %u-dfStart;
    align-items: stretch;
    flex-direction: column;
    grid-area: 1 / 3 / 2 / 4;
    padding: px2vw-xl(24px);
    padding-right: px2vw-xl(56px);

    @include lg {
      padding: px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(32px) px2vw-md(24px);
      grid-area: auto;
    }

    @include sm {
      padding: px2vw-sm(32px) px2vw-sm(24px);
    }
  }

  &-header {
    margin-bottom: px2vw-xl(26px);
    border-bottom: 1px solid var(--white-smoke);
    padding-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(26px);
      padding-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(34px);
      padding-bottom: px2vw-md(34px);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
      padding-bottom: px2vw-sm(34px);
    }
  }

  &-subhead {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--color-primary);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      min-height: px2vw-sm(48px);
    }
  }

  &-starts {
    @extend %u-dfCenterBtw;
    border: 1px solid var(--white-smoke);
    padding: px2vw-xl(9px) px2vw-xl(12px);
    background: var(--gradient-bg);

    @include lg {
      padding: px2vw-lg(9px) px2vw-lg(12px);
    }

    @include md {
      padding: px2vw-md(9px) px2vw-md(12px);
    }

    @include sm {
      padding: px2vw-sm(9px) px2vw-sm(12px);
    }
  }

  &-starts-label {
    @extend %body-2;
    margin-right: px2vw-xl(10px);
    margin-bottom: 0;
    color: var(--white-medium);

    @include lg {
      margin-right: px2vw-lg(10px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
    }
  }

  &-starts-time {
    @extend %subtitle-1;
    color: var(--color-secondary);
  }

  &-details {
    margin-bottom: 0;

    @include md {
      margin-bottom: px2vw-md(32px);
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-md(44px);
      grid-row-gap: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
      grid-column-gap: px2vw-sm(44px);
      grid-row-gap: px2vw-sm(24px);
    }
  }

  &-detail {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: 0;

      &.team-size {
        grid-area: 2 / 1 / 3 / 2;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-detail-icon {
    margin-right: px2vw-xl(16px);
    width: 48px;
    height: 48px;
    border-radius: 100%;

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(19px);
    }
  }

  &-detail-icons {
    margin-right: -5px;
    width: 48px;
    height: 48px;
    border-radius: 100%;

    &-hidden {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      background: var(--wet-clay);
      border: 3px solid var(--darkest-night);
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      & .count {
        display: contents;
      }
    }
  }

  &-detail-info {
    @extend %u-dfStart;
    flex-direction: column;
    margin-bottom: 0;
  }

  &-toggles {
    @extend %u-dfCenterBtw;
    margin-top: auto;
  }

  &-button {
    // margin-right: px2vw-xl(10px);
    margin-right: px2vw-xl(18px);
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--darkest-night);
    background-color: var(--googly-yellow);
    height: 48px;
    justify-content: center;
    align-items: center;
    text-transform: none;
    padding: 9px 20px;
    @include lg {
      // margin-right: px2vw-lg(10px);
      margin-right: px2vw-lg(18px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
    }
  }

  &-arrows {
    @extend %u-dfCenter;
    margin-left: auto;
  }

  &-arrow {
    @extend %u-dfCenterCenter;
    background-color: transparent;
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);

    @include lg {
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
    }

    @include md {
      height: px2vw-md(30px);
      width: px2vw-md(30px);
    }

    @include sm {
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
    }

    &.next {
      margin-left: px2vw-xl(4px);

      @include lg {
        margin-left: px2vw-lg(4px);
      }

      @include md {
        margin-left: px2vw-md(4px);
      }

      @include sm {
        margin-left: px2vw-sm(4px);
      }

      ::ng-deep svg {
        transform: rotate(180deg);
      }
    }

    ::ng-deep svg {
      height: px2vw-xl(15px);
      width: px2vw-xl(9.26px);

      @include lg {
        height: px2vw-lg(15px);
        width: px2vw-lg(9.26px);
      }

      @include md {
        height: px2vw-md(15px);
        width: px2vw-md(9.26px);
      }

      @include sm {
        height: px2vw-sm(15px);
        width: px2vw-sm(9.26px);
      }
    }
  }
}
.ViewTournament-sectionA {
  @include shadow();
  min-height: 338px;
  height: 100%;
  background-size: cover;
  margin-bottom: 0;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;

  @include lg {
    // height: px2vw-lg(428px);
  }

  @include md {
    // height: px2vw-md(394px);
  }

  @include sm {
    min-height: 621px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  &::before {
    background: linear-gradient(
      180deg,
      #121212 0%,
      rgba(18, 18, 18, 0.14) 100%
    );
    transform: rotate(-180deg);
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 338px;
    height: 100%;
    max-width: 1308px;
    padding: 30px 24px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    @include sm {
      min-height: 621px;
      padding-bottom: 32px;
    }

    &-button {
      &-back {
        width: 48px;
        height: 48px;
        background: var(--wet-clay);
        border: 2px solid var(--asphalt);
        box-sizing: border-box;
        border-radius: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        @include md {
          width: 32px;
          height: 32px;
          background-color: transparent;
        }

        @include sm {
          border: 2px solid var(--tolopea-medium-color);
        }

        // &:hover {
        //   background-color: var(--gray-hover);
        // }

        & .icon {
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;

          & ::ng-deep svg {
            width: 8.5px;
            & path {
              fill: var(--white);
            }
          }

          & ::ng-deep svg path {
            @include sm {
              fill: var(--tolopea-color);
            }
          }
        }
      }
    }

    &-header {
      display: flex;
      justify-content: space-between;

      @include md {
        flex-wrap: wrap;
      }

      &-contentRight {
        width: 50%;

        @include md {
          width: 100%;
          margin-bottom: 24px;
        }

        &-title {
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 600;
          font-size: 50px;
          line-height: 58px;
          letter-spacing: -0.5px;
          color: var(--white);
          margin-bottom: 0;

          @include sm {
            font-size: 32px;
            line-height: 40px;
          }
        }

        &-date {
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: var(--white);
          margin-bottom: 2px;

          @include sm {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }

      &-contentLeft {
        align-self: end;
        display: flex;
        width: 43%;
        justify-content: flex-end;
        margin-bottom: 4px;

        @include md {
          width: 100%;
          justify-content: end;
        }

        @include sm {
          flex-wrap: wrap;
          justify-content: unset;
          position: relative;
        }

        &-btn {
          & button {
            width: 186px;
            padding: 12px 32px;
            display: flex;
            justify-content: center;
          }
        }

        &-time {
          display: flex;
          align-items: center;

          @include sm {
            margin-bottom: 16px;
          }

          &-img {
            background: var(--blackcurrant-color-medium);
            border-radius: 24px 0px 0px 24px;
            width: 59.13px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &-text {
            font-family: var(--selected-font-family);
            font-style: normal;
            font-weight: 600;
            font-size: px2vw-xl(19px);
            line-height: 28px;
            text-align: right;
            color: var(--white);
            padding: 10px 24px 10px 16px;
            background: var(--color-background);
            border-radius: 0px 24px 24px 0px;
            margin-right: 18px;

            @include sm {
              border: 1px solid var(--midnight-express-color);
              font-size: px2vw-sm(24.576px);
            }
          }
        }

        &-btn {
          align-self: center;

          @include sm {
            width: 100%;
          }

          & button {
            @include sm {
              width: 100%;
            }
          }

          & button span {
            font-family: var(--selected-font-family);
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            color: var(--white);
            text-transform: none;
          }
        }

        &-btnShare {
          align-self: center;

          & ::ng-deep svg {
            & path {
              fill: var(--spacesuit);
            }
          }

          @include sm {
            position: absolute;
            right: 0;
            top: 10px;
          }

          & button {
            background-color: transparent;
          }
        }
      }
    }
  }
}
.new_title {
  /* 1440px/Custom/Headline 7 */

  font-family: "archivo-black";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  text-transform: uppercase;

  /* Custom/Colour/White */

  color: var(--white);

  mix-blend-mode: normal;
  display: none;
}
.nav-mobile-wrap {
  overflow: hidden;
  overflow-x: auto;
  margin-left: 24px;

  &::-webkit-scrollbar {
    display: none;
  }
}
.ViewTournament-sectionB {
  @extend %u-dfStart;
  position: relative;
  flex-direction: row;
  max-width: 1308px;
  padding-right: 24px;
  padding-left: 24px;
  margin-top: 25px;
  margin-bottom: px2vw-xl(24px);
  @include md {
    flex-direction: column;
    margin-bottom: px2vw-md(24px);
  }

  @include sm {
    margin-bottom: px2vw-sm(24px);
    flex-direction: column-reverse;
    margin-top: 0px;
  }

  // LEFT BLOCK

  &-info {
    // flex-grow: 1;
    padding-left: 49px;
    width: 100%;
    max-width: calc(100% - 403px);

    @include lg {
      margin-right: px2vw-lg(50px);
    }

    @include md {
      margin-right: 0;
      max-width: unset;
      padding-left: 0;
    }
    @include sm {
    }
  }

  &-time {
    border: 1px solid var(--white) 33;
    background: var(--white) 1f;
    height: 35px;
    padding: 9px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    display: none;
  }

  &-start {
    color: var(--white) 99;
    font-size: 12px;
  }

  &-countDown {
    color: var(--color-secondary);
  }

  &-header {
    // margin-bottom: px2vw-xl(40px);

    @include lg {
      // margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-header-title {
    @extend %global-H2;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-header-date {
    margin-bottom: 0;
  }

  &-navigation {
    margin-bottom: 23px;
    display: flex;
    flex-direction: column;

    @include lg {
      margin-bottom: px2vw-lg(44px);
    }

    @include md {
      margin-bottom: px2vw-md(44px);
    }

    @include sm {
      // margin-bottom: px2vw-sm(44px);
      display: none;
    }

    &.nav-mobile {
      display: none;
      @include sm {
        display: flex;
        flex-direction: row;
        overflow: auto;
        width: 750px;
        margin-bottom: 0;
        margin-top: 60px;
      }
    }

    &-link {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--concrete);
      display: flex;
      align-items: center;
      padding-bottom: 12.5px;

      @include sm {
        font-size: 16px;
        line-height: 24px;
      }
      &:hover {
        color: var(--googly-blue);
        .icon {
          ::ng-deep svg path {
            fill: var(--googly-blue);
          }
        }
      }
      .icon {
        margin-right: 18px;

        @include sm {
          display: none;
        }
      }
    }
  }

  &-navigation-item {
    &:last-child a {
      margin-right: 0;
    }
  }

  // RIGHT BLOCK

  &-about {
    // flex-shrink: 0;
    width: 100%;
    max-width: 403px;

    @include lg {
      // width: px2vw-lg(416px);
    }

    @include md {
      width: 100%;
      max-width: unset;
    }
  }

  &-card {
    margin-bottom: px2vw-xl(24px);
    margin-top: 15px;

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      margin-top: 16px;
    }
  }

  &-card-image {
    height: px2vw-xl(220px);
    width: 100%;
    background-size: cover;
    background-color: var(--black-medium);

    @include lg {
      height: px2vw-lg(220px);
    }

    @include md {
      height: px2vw-md(300px);
    }

    @include sm {
      height: px2vw-sm(260px);
    }
  }

  &-card-content {
    border: 1px solid var(--black-medium);
    border-top: none;
  }

  &-card-main {
    padding: px2vw-xl(20px);

    @include lg {
      padding: px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }

  &-card-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  // &-card-items {
  // }

  &-card-item {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-card-item-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(10px);
    height: px2vw-xl(21px);
    width: px2vw-xl(25px);

    @include lg {
      margin-right: px2vw-lg(10px);
      height: px2vw-lg(21px);
      width: px2vw-lg(25px);
    }

    @include md {
      margin-right: px2vw-md(10px);
      height: px2vw-md(21px);
      width: px2vw-md(25px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
      height: px2vw-sm(21px);
      width: px2vw-sm(25px);
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-card-item-title {
    margin-right: px2vw-xl(10px);
    color: var(--white-disabled);

    @include lg {
      margin-right: px2vw-lg(10px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
    }
  }

  &-card-item-value {
    margin-bottom: 0;
    margin-left: auto;
  }

  &-card-footer {
    @extend %u-dfStart;
    border-top: 1px solid var(--black-medium);
    padding: px2vw-xl(16px) px2vw-xl(20px);

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(20px);
    }
  }

  &-card-start {
    margin-right: px2vw-xl(10px);

    @include lg {
      margin-right: px2vw-lg(10px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
    }
  }

  &-card-start-title {
    margin-bottom: px2vw-xl(5px);

    @include lg {
      margin-bottom: px2vw-lg(5px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
    }
  }

  &-card-start-time {
    @extend %global-H5;
    margin-bottom: 0;
  }

  &-card-button {
    margin-left: auto;
  }

  &-platforms {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-platforms-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(16px);
    border-bottom: 1px solid var(--black-medium);
    padding-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      padding-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      padding-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      padding-bottom: px2vw-sm(12px);
    }
  }

  &-platforms-list {
    @extend %u-dfStart;
    flex-wrap: wrap;
  }

  &-platforms-item {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(15px);
    margin-bottom: px2vw-xl(15px);
    background-color: var(--black);
    min-width: px2vw-xl(90px);
    padding: px2vw-xl(13px) px2vw-xl(16px);

    @include lg {
      margin-right: px2vw-lg(15px);
      margin-bottom: px2vw-lg(15px);
      min-width: px2vw-lg(90px);
      padding: px2vw-lg(13px) px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(15px);
      margin-bottom: px2vw-md(15px);
      min-width: px2vw-md(90px);
      padding: px2vw-md(13px) px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      margin-bottom: px2vw-sm(15px);
      min-width: px2vw-sm(90px);
      padding: px2vw-sm(13px) px2vw-sm(16px);
    }
  }

  &-platforms-item-image {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(26px);
    width: px2vw-xl(21px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(26px);
      width: px2vw-lg(21px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(26px);
      width: px2vw-md(21px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(26px);
      width: px2vw-sm(21px);
    }

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-platforms-item-name {
    @extend %global-H6;
  }

  &-author {
    margin-top: 16px;

    &-title {
      text-transform: none;
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      margin-bottom: 13px;

      @include sm {
        font-size: 22px;
        line-height: 30px;
      }
    }

    &-subtitle {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--tertiary-color);
    }

    &-box {
      display: flex;
      justify-content: space-between;
      padding: 18px 16px;
      border-bottom: 1px solid var(--midnight-express-color);
      align-items: center;

      @include sm {
        padding: 18px 0;
      }

      &-item {
        display: flex;
        align-items: center;

        // &-icon {

        // }

        &-state {
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--white);
        }

        &-name {
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: var(--white);

          @include sm {
            font-size: 16px;
            line-height: 24px;
          }

          &-wrap {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &-btn {
        & mat-icon {
          color: var(--main-color);
        }
      }
    }

    &-ava {
      padding-bottom: 21px;
      border-bottom: 1px solid var(--midnight-express-color);

      &-img {
        display: flex;
      }
    }
  }

  &-sponsor {
    margin-top: 18px;

    &-title {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 17px;

      @include sm {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &-box {
      &-item {
        display: flex;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid var(--midnight-express-color);
        justify-content: space-between;
        width: 98%;

        &-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &-image {
          width: px2vw-xl(101px);
          height: px2vw-xl(84px);
          margin-right: 16px;

          @include sm {
            width: px2vw-sm(130.56px);
            height: px2vw-sm(109.056px);
          }

          & img {
            width: 100%;
            height: 100%;
          }
        }

        &-name {
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          color: var(--white);

          @include sm {
            font-size: px2vw-sm(24.576px);
            line-height: px2vw-sm(36.864px);
          }
        }

        &-share {
          & button {
            background-color: transparent;
          }
        }
      }
    }

    &-problem {
      margin-top: 15px;

      &-title {
        font-family: var(--selected-font-family);
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--googly-blue);
        background-color: transparent;
      }

      &-icon {
        margin-right: 15px;
        background-color: transparent;
      }
    }
  }

  // &-author-title {

  //   @include lg {
  //     margin-bottom: px2vw-lg(16px);
  //     padding-bottom: px2vw-lg(12px);
  //   }

  //   @include md {
  //     margin-bottom: px2vw-md(16px);
  //     padding-bottom: px2vw-md(12px);
  //   }

  //   @include sm {
  //     margin-bottom: px2vw-sm(16px);
  //     padding-bottom: px2vw-sm(12px);
  //   }
  // }

  &-author-block {
    @extend %u-dfCenter;
  }

  &-author-photo {
    margin-right: px2vw-xl(18px);
    border-radius: 50%;
    background-size: cover;
    height: px2vw-xl(55px);
    width: px2vw-xl(55px);

    @include lg {
      margin-right: px2vw-lg(18px);
      height: px2vw-lg(55px);
      width: px2vw-lg(55px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      height: px2vw-md(55px);
      width: px2vw-md(55px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      height: px2vw-sm(55px);
      width: px2vw-sm(55px);
    }
  }

  &-author-name {
    @extend %global-H6;
    margin-bottom: 4px;
  }

  &-author-team {
    margin-bottom: 0;
    color: var(--white-disabled);
  }
}

// OLD STYLES

.ViewTournament-sectionV {
  margin-top: 700px;
  display: flex;
  margin-bottom: px2vw-xl(45px);
  padding: px2vw-xl(32px) 0 0;

  @include lg {
    border-radius: px2vw-lg(10px);
    padding: px2vw-lg(32px) 0 0;
  }

  @include md {
    padding: px2vw-md(20px) 0 0;
    flex-direction: column;
  }

  @include sm {
    padding: px2vw-sm(20px) 0 0;
  }

  &-image-block {
    overflow: hidden;
    margin-right: px2vw-xl(40px);
    height: px2vw-xl(272px);
    width: px2vw-xl(536px);

    @include lg {
      margin-right: px2vw-lg(20px);
      height: px2vw-lg(272px);
      width: px2vw-lg(300px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(10px);
      height: px2vw-md(240px);
      width: 100%;
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      height: px2vw-sm(240px);
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  &-about {
    flex-grow: 1;
  }

  &-header {
    margin-bottom: px2vw-xl(34px);

    @include lg {
      margin-bottom: px2vw-lg(34px);
    }

    @include md {
      margin-bottom: px2vw-md(34px);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(10px);
    margin-top: px2vw-xl(5px);
    @include textClamp(1);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      margin-top: px2vw-lg(5px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      margin-top: px2vw-md(5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      margin-top: px2vw-sm(5px);
    }
  }

  &-subtitle {
    margin-bottom: 0;
  }

  &-details {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;

    @include md {
      flex-direction: column;
    }
  }

  &-detail {
    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-detail-title {
    margin-bottom: px2vw-xl(-5px);

    @include lg {
      margin-bottom: px2vw-lg(-5px);
    }

    @include md {
      margin-bottom: px2vw-md(-5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(-5px);
    }
  }

  &-detail-text {
    margin-bottom: 0;
    max-width: px2vw-xl(300px);
    color: var(--white-high);
    line-height: px2vw-xl(32px);

    @include lg {
      max-width: px2vw-lg(300px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      max-width: 100%;
      line-height: px2vw-md(32px);
    }

    @include sm {
      line-height: px2vw-sm(32px);
    }
  }

  &-paid {
    align-self: flex-start;
    margin-left: auto;
    padding-left: px2vw-xl(20px);

    @include lg {
      padding-left: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      padding-left: 0;
      width: 100%;
    }

    @include sm {
      margin-top: px2vw-sm(20px);
    }
  }

  &-paid-text {
    margin-bottom: 0;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(24px);
    letter-spacing: 0.9px;
    white-space: nowrap;
    background-color: var(--color-primary);
    display: inline-flex;
    padding: 0 5px;

    @include lg {
      font-size: px2vw-lg(13px);
      line-height: px2vw-lg(22px);
    }

    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(22px);
    }
  }
}

.ViewTournament-sectionW {
  margin-bottom: px2vw-xl(40px);

  &-link-block {
    margin-right: px2vw-xl(48px);

    @include lg {
      margin-right: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(48px);
    }

    @include sm {
      margin-right: px2vw-sm(48px);
    }
  }

  &-link {
    padding: px2vw-xl(8px) 0;
    line-height: px2vw-xl(32px);
    border-bottom: 3px solid transparent;
    color: var(--white-high);

    @include lg {
      padding: px2vw-lg(8px) 0;
      line-height: px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(8px) 0;
      line-height: px2vw-md(32px);
    }

    @include sm {
      padding: px2vw-sm(8px) 0;
      line-height: px2vw-sm(32px);
    }

    &.active {
      border-color: var(--color-primary);
      color: var(--black);
    }
  }
  .back {
    position: absolute;
    margin: 30px;
  }
}

.global-MatToggles a.active {
  color: var(--googly-blue);
  border-bottom: 0;

  @include sm {
    border-bottom: 4px solid var(--googly-blue);
  }

  & .icon ::ng-deep svg path {
    fill: var(--googly-blue);
  }
}
.TeamCard-manage-button-menu {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  .TeamCard-manage-button-menu-icon {
    font-size: 28px;
    width: auto;
    height: auto;
    color: var(--main-color);
    @include sm {
      font-size: 18px;
      width: 32px;
      height: 32px;
    }
  }
}
.SectionFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;
  @include md {
    display: block;
  }
  &-inner {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 4px 8px rgba(84, 110, 122, 0.24);
  }
  &-left {
    width: 100%;
    max-width: 60%;
    background: #5a12aa;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02),
      0px 1px 12px rgba(0, 0, 0, 0.12);
    height: 56px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 24px;
    .logo {
      max-width: 50%;
      margin-right: 17px;
    }
    .name {
      span {
        font-family: var(--selected-font-family);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
      }
    }
  }
  &-right {
    position: relative;
    width: 100%;
    max-width: 40%;
    &::before {
      content: "";
      width: 100%;
      max-width: 85px;
      height: 56px;
      background: -webkit-radial-gradient(
          100% 0,
          circle,
          rgba(0, 0, 0, 0) 36px,
          #5a12aa 36px
        ),
        -webkit-radial-gradient(0 0%, circle, rgba(0, 0, 0, 0) 36px, #5a12aa
              36px);
      background-position: bottom left, bottom right, top right, top left;
      background-size: 43px 100%;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
    }
    &::after {
      content: "";
      width: 100%;
      max-width: calc(100% - 80px);
      height: 56px;
      position: absolute;
      left: 0;
      background: #5a12aa;
    }
    .btn {
      position: absolute;
      box-shadow: 0px 3px 6px rgb(0 0 0 / 10%), 0px 4px 8px rgb(0 0 0 / 8%),
        0px 1px 12px rgb(0 0 0 / 4%);
      border-radius: 56px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      width: 56px;
      height: 56px;
      top: -28px;
      right: 15px;
    }
  }
}
