<!-- <app-header-bottom [gameDetail]="(gameDetail ? gameDetail : tournamentDetails?.gameDetail)"></app-header-bottom> -->
<div class="nav-mobile-wrap">
  <nav class="ViewTournament-sectionB-navigation global-MatToggles nav-mobile" ngbNav #nav="ngbNav"
    [(activeId)]="active">
    <!-- <div class="nav-mobile-wrap"> -->
    <!-- Overview -->
    <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="1">
      <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
        <span class="icon" inlineSVG="assets/icons/play-tournament/Icon-review.svg"></span>
        {{ "VIEW_TOURNAMENT.TABS.OVERVIEW" | translate | capitalizeFirst }}
      </a>

      <ng-template ngbNavContent>
        <app-overview [tournamentDetails]="tournamentDetails" (isRefreshTournament)="buttonResponse($event)">
        </app-overview>
      </ng-template>
    </div>

    <!-- Brackets -->
    <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="3">
      <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
        <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Brackets.svg"></span>
        {{ "VIEW_TOURNAMENT.TABS.BRACKETS" | translate | capitalizeFirst }}
      </a>

      <ng-template ngbNavContent>
        <app-brackets [tournamentDetails]="tournamentDetails" [participantId]="participantId"
          (isRefreshTournament)="buttonResponse($event)"></app-brackets>
      </ng-template>
    </div>

    <!-- Participants -->
    <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="2">
      <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
        <span class="icon" inlineSVG="assets/icons/play-tournament/Icon-participants.svg"></span>
        {{ "VIEW_TOURNAMENT.TABS.PARTICIPANTS" | translate | capitalizeFirst }}
      </a>

      <ng-template ngbNavContent>
        <app-participants [tournamentId]="tournamentDetails?._id" [tournament]="tournamentDetails"
          (isRefreshTournament)="buttonResponse($event)"></app-participants>
      </ng-template>
    </div>

    <!-- rule -->
    <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="6">
      <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
        <span class="icon" inlineSVG="assets/icons/play-tournament/Icon-matches.svg"></span>
        {{ "VIEW_TOURNAMENT.TABS.MATCHES" | translate | capitalizeFirst }}
      </a>

      <ng-template ngbNavContent>
        <app-matches [round]="round" [matchList]="matchList" [tournamentId]="tournamentDetails?._id"
          [tournament]="tournamentDetails">
        </app-matches>
      </ng-template>
    </div>

    <!-- Discussion -->
    <!-- <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="4">
      <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
        <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Discussion.svg"></span>
        {{ "VIEW_TOURNAMENT.TABS.DISCUSSION" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <app-discussion [userId]="user?._id" [allowComment]="enableComment" [text]="text"
            [objectId]="tournamentDetails?._id" [type]="'tournament'">
          </app-discussion>
          <app-comments-influence></app-comments-influence>
        <app-discussion-tournament></app-discussion-tournament>
      </ng-template>
    </div> -->

    <!-- Clips View -->
    <!-- <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="5">
      <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
        <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Clips.svg"></span>
        Clips
      </a>

      <ng-template ngbNavContent>
        <app-clips-view></app-clips-view>
      </ng-template>
    </div> -->
    <!-- rules View -->
    <!-- <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="6">
        <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
          Rules
        </a>

        <ng-template ngbNavContent>
          <div [innerHTML]="tournamentDetails?.rules"></div>
          <app-rules-view ></app-rules-view> -->
    <!-- </ng-template>
      </div>  -->
    <!-- </div> -->
  </nav>
</div>
<section class="ViewTournament-sectionA global-imgDistance" [lazyLoad]="tournamentDetails?.banner">
  <!-- <div class="col-md-4">
        <img [lazyLoad]="tournamentDetails?.gameDetail?.image" class='UpcomingSlider'>
      </div> -->
  <div class="ViewTournament-sectionA-content">
    <div class="ViewTournament-sectionA-content-button">
      <!-- <button class="ViewTournament-sectionA-content-button-back" inlineSVG="assets/icons/play-tournament/Icon-back.svg" routerLink="/play">
          </button> -->
      <button class="ViewTournament-sectionA-content-button-back" type="button" [routerLink]="AppHtmlRoutes.tournament">
        <span class="icon" inlineSVG="assets/icons/Icon-back.svg">
          <!-- <img src="../../../../../assets/icons/Icon-back.svg" alt="" /> -->
        </span>
      </button>
    </div>
    <!-- <div>
          <div class="UpcomingSlider-container">
            <div class="UpcomingSlider-content">
              <div class="UpcomingSlider-info">
                <h3 class="UpcomingSlider-heading global-Elipses">
            {{ "HOME.UPCOMING_SLIDER.TITLE" | translate }}
          </h3>

                <p class="UpcomingSlider-subtitle global-Elipses">
                  {{ currentSlide?.date }}
                </p>

                <h2 class="UpcomingSlider-title global-Elipses2">
                  {{ currentSlide?.title }}
                  {{tournamentDetails?.fullText}}
                </h2>
                <div class="UpcomingSlider-about">
                  <p class="UpcomingSlider-about-registered global-Elipses">
                    {{ "HOME.UPCOMING_SLIDER.REGISTRATION_OPEN" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <header class="ViewTournament-sectionA-content-header">
      <div class="ViewTournament-sectionA-content-header-contentRight">
        <p class="ViewTournament-sectionA-content-header-contentRight-date">
          {{tournamentDetails?.gameDetail?.name}} &nbsp;•&nbsp;
          {{ tournamentDetails?.startDate | date: "MMM d, y" }} &nbsp;•&nbsp;
          {{ tournamentDetails?.startDate | date: "h:mm:ss a" }} {{ !isNumber(timezone) ? ("(" + timezone + ")") : "" }}
        </p>
        <h1 class="ViewTournament-sectionA-content-header-contentRight-title">
          {{ tournamentDetails?.name || "N/A" }}
        </h1>
      </div>
      <div class="ViewTournament-sectionA-content-header-contentLeft">
        <!-- <div class="ViewTournament-sectionA-content-header-contentLeft-time">
          <span class="ViewTournament-sectionA-content-header-contentLeft-time-img"
            inlineSVG="assets/icons/play-tournament/Icon-clock.svg"></span>
          <div class="ViewTournament-sectionA-content-header-contentLeft-time-text">07 H &nbsp; : 30 M &nbsp;: 48 S
          </div>
        </div> -->
        <div class="ViewTournament-sectionA-content-header-contentLeft-btn">
          <!-- <button class="Play-slider-button button-primary" [routerLink]="AppHtmlRoutes.joinTournament"
            *ngIf="tournamentDetails?.participantType == 'team'">
            <span> {{ "BUTTON.JOIN_TOURNAMENT" | translate }}</span>
          </button> -->
          <app-join-button *ngIf="!tournamentDetails?.isSeeded" [tournament]="tournamentDetails" [user]="user"
            (isRefreshTournament)="buttonResponse($event)" (isAuthorizedUser)="enableRating($event)"></app-join-button>
          <!-- <button class="Play-slider-button button-primary" *ngIf="tournamentDetails?.participantType == 'individual'"
            (click)="joinindivialtour()">
            <span> {{ "BUTTON.JOIN_TOURNAMENT" | translate }}</span>I
          </button> -->
        </div>
        <div class="ViewTournament-sectionA-content-header-contentLeft-btnShare">
          <button inlineSVG="assets/icons/play-tournament/Icon-share-header.svg" (click)="shareTournament()"></button>
        </div>
      </div>
    </header>
  </div>
</section>

<!-- <section>
  <div class="row">
    <img src="assets/images/Tournament/imageoverwiew.png"/>
  </div>
</section> -->

<!-- <img src="assets/images/Tournament/imageoverwiew.png"/> -->
<section class="ViewTournament-sectionB u-wp">
  <div class="ViewTournament-sectionB-about">
    <b>
      <h3 class="new_title">{{ "VIEW_TOURNAMENT.CARD.TITLE" | translate }}</h3>
    </b>
    <!-- <hr style="border: 1px solid rgba(255, 255, 255, 0.2)"> -->
    <!-- CARD -->
    <!-- <button class="Play-slider-button button-primary" [routerLink]="AppHtmlRoutes.joinTournament"
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
      *ngIf="tournamentDetails?.participantType == 'team' && showregbut == true">
      <span style="margin-top: 5px;"> {{ "BUTTON.JOIN_TOURNAMENT" | translate }}</span>
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>

    <button class="Play-slider-button button-primary"
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
      *ngIf="tournamentDetails?.participantType == 'individual' && showregbut == true" (click)="joinindivialtour()">
      <span style="margin-top: 5px;"> {{ "BUTTON.JOIN_TOURNAMENT" | translate }}</span>
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button> -->
    <div class="ViewTournament-sectionB-time">
      <div class="ViewTournament-sectionB-start">
        {{ "PLAY.SLIDER.STARTS_IN" | translate }}
      </div>
      <div class="ViewTournament-sectionB-countDown">
        <!-- {{timem}}
        {{callTime(tournamentDetails?.startDate) }} -->

        <ng-container *ngIf="showRegTime">
          <countdown [config]="{
              leftTime: remainingTime,
              formatDate: formatDate,
              format: 'D\d\ HH:mm:ss'
            }" (event)="onTimerFinished($event)"></countdown>
        </ng-container>
        <ng-container *ngIf="showTournamentTime">
          <countdown [config]="{
              leftTime: remainingTimeForTournamentStart,
              formatDate: formatDate,
              format: 'D\d\ HH:mm:ss'
            }" (event)="onTournamnetTimerFinished($event)"></countdown>
        </ng-container>
      </div>
    </div>
    <div class="ViewTournament-sectionB-card">
      <nav class="ViewTournament-sectionB-navigation global-MatToggles" ngbNav #nav="ngbNav" [(activeId)]="active">
        <!-- Overview -->
        <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="1">
          <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
            <span class="icon" inlineSVG="assets/icons/play-tournament/Icon-review.svg"></span>
            {{ "VIEW_TOURNAMENT.TABS.OVERVIEW" | translate | capitalizeFirst }}
          </a>

          <ng-template ngbNavContent>
            <app-overview [tournamentDetails]="tournamentDetails" (isRefreshTournament)="buttonResponse($event)">
            </app-overview>
          </ng-template>
        </div>

        <!-- Brackets -->
        <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="3">
          <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Brackets.svg"></span>
            {{ "VIEW_TOURNAMENT.TABS.BRACKETS" | translate | capitalizeFirst }}
          </a>

          <ng-template ngbNavContent>
            <app-brackets [tournamentDetails]="tournamentDetails" [type]="tournamentDetails?.bracketType"
              [participantId]="participantId" (isRefreshTournament)="buttonResponse($event)"></app-brackets>
          </ng-template>
        </div>

        <!-- Participants -->
        <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="2">
          <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
            <span class="icon" inlineSVG="assets/icons/play-tournament/Icon-participants.svg"></span>
            {{
            "VIEW_TOURNAMENT.TABS.PARTICIPANTS" | translate | capitalizeFirst
            }}
          </a>

          <ng-template ngbNavContent>
            <app-participants [tournamentId]="tournamentDetails?._id" [tournament]="tournamentDetails"
              (isRefreshTournament)="buttonResponse($event)"></app-participants>
          </ng-template>
        </div>

        <!-- rule -->
        <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="6">
          <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
            <span class="icon" inlineSVG="assets/icons/play-tournament/Icon-matches.svg"></span>
            {{ "VIEW_TOURNAMENT.TABS.MATCHES" | translate | capitalizeFirst }}
          </a>

          <ng-template ngbNavContent>
            <app-matches></app-matches>
          </ng-template>
        </div>

        <!-- Discussion -->
        <!-- <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="4">
          <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Discussion.svg"></span>
            {{ "VIEW_TOURNAMENT.TABS.DISCUSSION" | translate | capitalizeFirst }}
          </a>
          <ng-template ngbNavContent>
            <app-discussion [userId]="user?._id" [allowComment]="enableComment" [text]="text"
              [objectId]="tournamentDetails?._id" [type]="'tournament'">
            </app-discussion>
            <app-comments-influence></app-comments-influence>
            <app-discussion-tournament></app-discussion-tournament>
          </ng-template>
        </div> -->

        <!-- Clips View -->
        <!-- <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="5">
          <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Clips.svg"></span>
            Clips
          </a>

          <ng-template ngbNavContent>
            <app-clips-view></app-clips-view>
          </ng-template>
        </div> -->
        <!-- rules View -->
        <!-- <div class="ViewTournament-sectionB-navigation-item" [ngbNavItem]="6">
          <a class="ViewTournament-sectionB-navigation-link" ngbNavLink>
            Rules
          </a>

           <ng-template ngbNavContent>
            <div [innerHTML]="tournamentDetails?.rules"></div>
             <app-rules-view ></app-rules-view> -->
        <!-- </ng-template>
        </div>  -->
      </nav>
      <ul class="Play-slider-details" style="display: none">
        <!-- Check-in time -->
        <li class="Play-slider-detail" *ngIf="tournamentDetails?.isCheckInRequired != false">
          <img class="Play-slider-detail-icon" lazyLoad="assets/icons/tournament/time.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "PLAY.SLIDER.CHECK_IN" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails?.isCheckInRequired != false">
              {{ "PLAY.SLIDER.TIME" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails?.isCheckInRequired == false">
              {{ "PLAY.SLIDER.NO_CHECKIN" | translate }}
            </span>
          </p>
        </li>

        <!-- Team size -->
        <li class="Play-slider-detail team-size" *ngIf="tournamentDetails?.participantType != 'individual'">
          <img class="Play-slider-detail-icon" lazyLoad="assets/icons/tournament/team.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "PLAY.SLIDER.TEAM_SIZE" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails?.participantType == 'individual'">
              {{ "PLAY.SLIDER.SOLO" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails?.participantType != 'individual'">
              {{ tournamentDetails?.teamSize }}V{{
              tournamentDetails?.teamSize
              }}
            </span>
          </p>
        </li>

        <!-- Tournament type -->
        <li class="Play-slider-detail">
          <img class="Play-slider-detail-icon" lazyLoad="assets/icons/tournament/type.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "PLAY.SLIDER.TOURNAMENT_TYPE" | translate }}
            </span>
            <span class="Play-slider-detail-text">
              {{ tournamentDetails?.tournamentType }}
            </span>
          </p>
        </li>

        <!-- Prize pool -->
        <li class="Play-slider-detail">
          <img class="Play-slider-detail-icon" src="assets/icons/tournament/price.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "PLAY.SLIDER.PRIZE_POOL" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails?.prizeCurrency == ''">
              {{ "PLAY.SLIDER.PRIZE_TO_WIN" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails?.prizeCurrency != ''">
              $ {{ tournamentDetails?.prizeCurrency }}
            </span>
          </p>
        </li>

        <li class="Play-slider-detail">
          <img class="Play-slider-detail-icon" src="assets/icons/tournament/price.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "platform" | translate }}
            </span>

            <span class="Play-slider-detail-name">
              <span class="Play-slider-detail-text" *ngFor="let d of tournamentDetails?.gameDetail.platform">{{ d.name
                }}
                ,
              </span>
            </span>
          </p>
        </li>
      </ul>

      <!-- <hr style="border: 1px solid;margin-top: 35px;margin-bottom: 35px;"> -->
      <!-- ORGANISED BY -->

      <div class="ViewTournament-sectionB-author">
        <h2 class="ViewTournament-sectionB-author-title">
          {{ "VIEW_TOURNAMENT.ORGANISED_BY" | translate }}
        </h2>
        <div class="ViewTournament-sectionB-author-box">
          <div class="ViewTournament-sectionB-author-box-item">
            <img class="
                Play-slider-detail-icon
                ViewTournament-sectionB-author-box-item-icon
              " lazyLoad="{{ tournamentDetails?.organizerDetail.profilePicture }}" profilePicture alt="icon" />
            <div class="ViewTournament-sectionB-author-box-item-name-wrap">
              <span class="ViewTournament-sectionB-author-box-item-name">{{
                tournamentDetails?.organizerDetail.username
                }}</span>
              <span class="ViewTournament-sectionB-author-box-item-state">{{
                tournamentDetails?.organizerDetail.country
                }}</span>
            </div>
          </div>
          <div class="ViewTournament-sectionB-author-box-btn">
            <ng-container *ngIf="tournamentDetails?.organizerDetail">
              <button class="TeamCard-manage-button-menu" [matMenuTriggerFor]="matchMenu" #t="matMenuTrigger">
                <mat-icon class="TeamCard-manage-button-menu-icon">
                  more_vert
                </mat-icon>
              </button>

              <mat-menu class="global-MatMenu team-card" #matchMenu="matMenu" xPosition="before">
                <div class="TeamCard-manage-menu menu">
                  <!-- <a class="TeamCard-manage-menu-link link">
                    <mat-icon class="icon"> person_pin </mat-icon>
                    <span class="text">
                      {{
                      "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.ASSIGN_AS_CAPTAIN"
                      | translate
                      }}
                    </span>
                  </a> -->
                  <a class="TeamCard-manage-menu-link link" *ngIf="followStatus == 'follow'" (click)="followUser()">
                    <mat-icon class="icon"> person_add </mat-icon>
                    <span class="text">{{
                      "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.FOLLOW" | translate
                      }}</span>
                  </a>
                  <a class="TeamCard-manage-menu-link link" *ngIf="followStatus == 'unfollow'" (click)="followUser()">
                    <mat-icon class="icon"> person_add </mat-icon>
                    <span class="text">{{
                      "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.UNFOLLOW" | translate
                      }}</span>
                  </a>
                  <!-- <a class="TeamCard-manage-menu-link link">
                    <mat-icon class="icon"> delete </mat-icon>
                    <span class="text">{{
                      "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.REMOVE_FROM_TEAM"
                      | translate
                      }}</span>
                  </a> -->
                </div>
              </mat-menu>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Participants -->

      <div class="ViewTournament-sectionB-author">
        <h2 class="ViewTournament-sectionB-author-title">
          {{ "VIEW_TOURNAMENT.PARTICIPANT" | translate }}
        </h2>
        <h4 class="ViewTournament-sectionB-author-subtitle">
          {{ tournamentDetails?.approvedParticipants }}
          {{ "ADMIN.SEASON_MANAGEMENT.TABLE_HEADER.PARTICIPANT" | translate }}
        </h4>
        <div class="ViewTournament-sectionB-author-ava">
          <div class="ViewTournament-sectionB-author-ava-img" >
            <img class="Play-slider-detail-icons"
              lazyLoad="assets/icons/tournament/woman-55.svg" alt="icon" />
            <img  class="Play-slider-detail-icons"
              lazyLoad="assets/icons/tournament/woman-42.svg" alt="icon" />
            <img  class="Play-slider-detail-icons"
              lazyLoad="assets/icons/tournament/woman-41.svg" alt="icon" />
            <img  class="Play-slider-detail-icons"
              lazyLoad="assets/icons/tournament/woman-56.svg" alt="icon" />
            <img  class="Play-slider-detail-icons"
              lazyLoad="assets/icons/tournament/woman-57.svg" alt="icon" />
            <img  class="Play-slider-detail-icons"
              lazyLoad="assets/icons/tournament/woman-55.svg" alt="icon" />
            <div class="Play-slider-detail-icons-hidden">
              <p class="count">+{{tournamentDetails?.participants.length - 6}}</p>
            </div>
          </div>
          <!-- <div *ngIf="tournamentDetails?.participants.length != 0">
            <div style="padding-top: 10px;" *ngFor=" let d of tournamentDetails?.participants">
              {{d.fullName}}
            </div>

          </div> -->
        </div>
      </div>
      <div class="ViewTournament-sectionB-sponsor">
        <div class="ViewTournament-sectionB-sponsor-title">
          {{ "VIEW_TOURNAMENT.SPONSOR" | translate }}
        </div>
        <div class="ViewTournament-sectionB-sponsor-box">
          <div class="ViewTournament-sectionB-sponsor-box-item" *ngFor="let sponsor of tournamentDetails?.sponsors">
            <div class="ViewTournament-sectionB-sponsor-box-item-info">
              <div class="ViewTournament-sectionB-sponsor-box-item-image">
                <img lazyLoad="{{ sponsor?.sponsorLogo }}" alt="icon" />
              </div>
              <div class="ViewTournament-sectionB-sponsor-box-item-name">
                {{ sponsor?.sponsorName }}
              </div>
            </div>
            <div *ngIf="sponsor?.sponsorName" class="ViewTournament-sectionB-sponsor-box-item-share">
              <button inlineSVG="assets/icons/play-tournament/Icon-share.svg" (click)="showPopup($event)"></button>
            </div>
          </div>
          <!-- <div class="ViewTournament-sectionB-sponsor-box-item">
            <div class="ViewTournament-sectionB-sponsor-box-item-info">
              <div class="ViewTournament-sectionB-sponsor-box-item-image">
                <img src="assets/icons/play-tournament/epic-game.png" alt="">
              </div>
              <div class="ViewTournament-sectionB-sponsor-box-item-name">
                Sponsor name
              </div>
            </div>
            <div class="ViewTournament-sectionB-sponsor-box-item-share">
              <button inlineSVG="assets/icons/play-tournament/Icon-share.svg" (click)="showPopup($event)"></button>
            </div>
          </div> -->
        </div>
        <div *ngIf='matchList && matchList?._id' class="ViewTournament-sectionB-sponsor-problem">
          <!-- <button class="ViewTournament-sectionB-sponsor-problem-icon"
            inlineSVG="assets/icons/play-tournament/Icon-flag.svg" (click)="showPopupIssue($event)"></button> -->
          <button class="ViewTournament-sectionB-sponsor-problem-title" (click)="showPopupIssue($event)">
            {{ "BUTTON.HAVING_PROBLEMS" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="ViewTournament-sectionB-info">
    <div [ngbNavOutlet]="nav"></div>
    <ng-template #notAvailable>
      <h3 class="global-H3" [hidden]="hideMessage">
        {{ "VIEW_TOURNAMENT.NOT_AVAILABLE" | translate }}
      </h3>
    </ng-template>
  </div>
</section>

<!-- OLD SECTIONS -->

<section class="ViewTournament u-wp" *ngIf="false && isBrowser">
  <div class="ViewTournament-sectionV" *ngIf="tournamentDetails; else notAvailable">
    <div class="ViewTournament-sectionV-image-block">
      <img class="ViewTournament-sectionV-image" [lazyLoad]="tournamentDetails?.banner" [alt]="tournamentDetails?.name"
        *ngIf="tournamentDetails?.banner" />

      <img class="ViewTournament-sectionV-image" [lazyLoad]="tournamentDetails?.gameDetail?.image"
        [alt]="tournamentDetails?.gameDetail?.name" *ngIf="!tournamentDetails?.banner" />
    </div>

    <div class="ViewTournament-sectionV-about">
      <header class="ViewTournament-sectionV-header">
        <p class="ViewTournament-sectionV-subtitle">
          {{ "VIEW_TOURNAMENT.BY" | translate }}
          {{
          tournamentDetails?.organizerDetail?.fullName ||
          ("VIEW_TOURNAMENT.ADMIN" | translate)
          }}
        </p>
        <h1 class="ViewTournament-sectionV-title global-H2">
          {{ tournamentDetails?.name || "N/A" }}
        </h1>

        <p class="ViewTournament-sectionV-paid-text">
          {{
          tournamentDetails?.isPaid
          ? ("VIEW_TOURNAMENT.PAID_REGISTRATION" | translate)
          : ("VIEW_TOURNAMENT.FREE_REGISTRATION" | translate)
          }}
        </p>
      </header>

      <ul class="ViewTournament-sectionV-details">
        <li class="ViewTournament-sectionV-detail">
          <h3 class="ViewTournament-sectionV-detail-title">
            {{ "VIEW_TOURNAMENT.GAME" | translate }}
          </h3>
          <p class="ViewTournament-sectionV-detail-text global-Elipses">
            {{ tournamentDetails?.gameDetail?.name || "N/A" }}
          </p>
        </li>
        <li class="ViewTournament-sectionV-detail" *ngIf="tournamentDetails?.isCheckInRequired">
          <h3 class="ViewTournament-sectionV-detail-title">
            {{ "VIEW_TOURNAMENT.CHECK_IN" | translate }}
          </h3>
          <p class="ViewTournament-sectionV-detail-text global-Elipses">
            {{ tournamentDetails?.checkInStartDate | date: "d MMM, y" }} |
            {{
            !isNumber(timezone)
            ? (tournamentDetails?.checkInStartDate | date: "medium")
            : (tournamentDetails?.checkInStartDate
            | date: "MMM d, y, h:mm:ss a z")
            }}
            {{ !isNumber(timezone) ? timezone : "" }}
          </p>
        </li>
        <li class="ViewTournament-sectionV-detail">
          <h3 class="ViewTournament-sectionV-detail-title">
            <span class="tournament-svg" [inlineSVG]="'assets/images/Tournament/calendar-v2.svg'" aria-label="My icon">
            </span>
            {{ "MANAGE_TOURNAMENT.DATE_AND_TIME" | translate }}
          </h3>
          <p class="ViewTournament-sectionV-detail-text global-Elipses">
            {{ tournamentDetails?.startDate | date: "d MMM, y" }} |
            {{
            !isNumber(timezone)
            ? (tournamentDetails?.startDate | date: "shortTime")
            : (tournamentDetails?.startDate | date: "longTime")
            }}
            {{ !isNumber(timezone) ? timezone : "" }}
          </p>
        </li>
        <li class="ViewTournament-sectionV-detail">
          <h3 class="ViewTournament-sectionV-detail-title">
            <span class="tournament-svg" [inlineSVG]="'assets/images/Tournament/participants.svg'" aria-label="My icon">
            </span>
            {{ "VIEW_TOURNAMENT.PARTICIPANTS_1" | translate }}
          </h3>
          <p class="ViewTournament-sectionV-detail-text global-Elipses">
            {{ tournamentDetails?.participantJoined }} of
            {{ tournamentDetails?.maxParticipants }}
            {{
            tournamentDetails?.participantType === "individual"
            ? ("HOME.SECTIONB.PLAYERS" | translate)
            : ("HOME.SECTIONB.TEAMS" | translate)
            }}
          </p>
        </li>
        <li class="ViewTournament-sectionV-detail">
          <h3 class="ViewTournament-sectionV-detail-title">
            {{ "VIEW_TOURNAMENT.TYPE" | translate }}
          </h3>
          <p class="ViewTournament-sectionV-detail-text global-Elipses">
            {{
            !tournamentDetails?.participantType
            ? "N/A"
            : tournamentDetails?.participantType == "team"
            ? ("TEAM.TEAM" | translate)
            : ("TEAM.ONE" | translate)
            }}
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="ViewTournament-sectionW" ngbNav #nav="ngbNav" [(activeId)]="active">
    <div class="ViewTournament-sectionW-link-block" [ngbNavItem]="1">
      <a class="ViewTournament-sectionW-link" ngbNavLink>
        {{ "VIEW_TOURNAMENT.TABS.OVERVIEW" | translate }}
      </a>
      <ng-template ngbNavContent>
        <app-overview [tournamentDetails]="tournamentDetails" (isRefreshTournament)="buttonResponse($event)">
        </app-overview>
      </ng-template>
    </div>

    <div class="ViewTournament-sectionW-link-block" [ngbNavItem]="2">
      <a class="ViewTournament-sectionW-link" ngbNavLink>
        {{ "VIEW_TOURNAMENT.TABS.INFO" | translate }}
      </a>
      <ng-template ngbNavContent>
        <app-info [tournamentDetails]="tournamentDetails"></app-info>
      </ng-template>
    </div>

    <div class="ViewTournament-sectionW-link-block" [ngbNavItem]="3">
      <a class="ViewTournament-sectionW-link" ngbNavLink>
        {{ "VIEW_TOURNAMENT.TABS.PARTICIPANTS" | translate }}
      </a>
      <ng-template ngbNavContent>
        <app-participants [tournamentId]="tournamentDetails?._id" (isRefreshTournament)="buttonResponse($event)">
        </app-participants>
      </ng-template>
    </div>

    <div class="ViewTournament-sectionW-link-block" [ngbNavItem]="4">
      <a class="ViewTournament-sectionW-link" ngbNavLink>
        {{ "VIEW_TOURNAMENT.TABS.BRACKETS" | translate }}
      </a>
      <ng-template ngbNavContent>
        <app-brackets [tournamentDetails]="tournamentDetails" [participantId]="participantId"
          (isRefreshTournament)="buttonResponse($event)"></app-brackets>
      </ng-template>
    </div>

    <div class="ViewTournament-sectionW-link-block" [ngbNavItem]="5">
      <a class="ViewTournament-sectionW-link" ngbNavLink>
        {{ "VIEW_TOURNAMENT.TABS.MATCHES" | translate }}
      </a>
      <ng-template ngbNavContent>
        <app-match-list [tournament]="tournamentDetails?._id" [participantId]="participantId" [isAdmin]="false">
        </app-match-list>
      </ng-template>
    </div>

    <!-- <div class="ViewTournament-sectionW-link-block" *ngIf="isOrganizer || isParticipant || user?.accountType == 'admin'"
      [ngbNavItem]="7">
      <a class="ViewTournament-sectionW-link" ngbNavLink>
        {{ "VIEW_TOURNAMENT.TABS.DISCUSSION" | translate }}
      </a>
      <ng-template ngbNavContent>
        <app-discussion [userId]="user?._id" [allowComment]="enableComment" [text]="text"
          [objectId]="tournamentDetails?._id" [type]="'tournament'"
          [creatorId]="tournamentDetails?.organizerDetail?._id">
        </app-discussion>
      </ng-template>
    </div> -->

    <button class="ViewTournament-sectionW-link-block row social-share">
      <fa-icon [icon]="['fas', 'share-alt']" ngbTooltip="{{ 'VIEW_TOURNAMENT.SHARE' | translate }}"></fa-icon>
    </button>
    <app-join-button [tournament]="tournamentDetails" [user]="user" (isRefreshTournament)="buttonResponse($event)"
      (isAuthorizedUser)="enableRating($event)">
    </app-join-button>
  </div>

  <div [ngbNavOutlet]="nav"></div>

  <ng-template #notAvailable>
    <h3 class="not-available global-H3" [hidden]="hideMessage">
      {{ "VIEW_TOURNAMENT.NOT_AVAILABLE" | translate }}
    </h3>
  </ng-template>
</section>
<div class="Profile-popup" *ngIf="show">
  <app-detail-sponsor [list]="tournamentDetails" (hidePopup)="hidePopup($event)"></app-detail-sponsor>
</div>

<div class="Profile-popup" *ngIf="showIssue">
  <ng-container *ngIf="matchList">
    <app-report-issue [matchId]="matchList" [tournamentId]="tournamentDetails?._id"
      (hidePopupIssue)="hidePopupIssue($event)" (closePopup)="closePopup($event)"></app-report-issue>
  </ng-container>
</div>

<app-footer-menu-mobile></app-footer-menu-mobile>
<app-faq></app-faq>
<app-footer-dynasty></app-footer-dynasty>
<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
