.counter-container {
  display: flex;
  flex-direction: row;

  & .form-group {
    margin: 0 !important;

    & .form-control {
      padding: 0.375rem 0.75rem;
    }
  }
}

.counter-button {
  margin-bottom: 15px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: var(--ui-dodger-blue);
  font-size: x-large;
}

.counter-button:active {
  color: var(--ui-dodger-blue) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.sort {
  display: flex;
  flex-direction: column;
  margin-left: 16px;

  fa-icon {
    font-size: 20px;
    cursor: pointer;
  }
}
