@import "shared";

:host {
  display: block;
}

.Congratulation {
  text-align: center;

  &-title {
    font-size: px2vw-xl(60px);
    margin-bottom: px2vw-xl(22px);
    color: var(--orange-color-main);
    font-family: "dynasty-primary-large", sans-serif;

    @include lg {
      font-size: px2vw-lg(60px);
      margin-bottom: px2vw-lg(22px);
    }

    @include md {
      font-size: px2vw-md(60px);
      margin-bottom: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(60px);
      margin-bottom: px2vw-sm(22px);
    }
  }

  &-subtitle {
    font-size: px2vw-xl(26px);
    margin-bottom: px2vw-xl(100px);
    color: var(--whitecolor);
    color: rgba(255, 255, 255, 0.8);
    font-family: "dynasty-primary-regular", sans-serif;

    @include lg {
      font-size: px2vw-lg(26px);
      margin-bottom: px2vw-lg(100px);
    }

    @include md {
      font-size: px2vw-md(26px);
      margin-bottom: px2vw-md(100px);
    }

    @include sm {
      font-size: px2vw-sm(26px);
      margin-bottom: px2vw-sm(100px);
    }
  }

  &-btns {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }
}
