<div class="Congratulation">
  <div class="Congratulation-title" *ngIf="formValue?.fullName">
    {{ data.title | translate
    }}<span>, {{ formValue.fullName | uppercase }}</span>
  </div>
  <div class="Congratulation-title" *ngIf="!formValue?.fullName">
    {{ data.title | translate }}
  </div>

  <div class="Congratulation-subtitle">{{ data.subtitle | translate }}</div>

  <div class="Congratulation-btns">
    <button
      [routerLink]="[AppHtmlRoutes.home]"
      class="mesf-EditBtn is-edit is-sm"
    >
      {{ "BUTTON.HOME" | translate }}
    </button>
    <button
      [routerLink]="[
        AppHtmlRoutes.userPageType,
        AppHtmlRoutesLoginType.phoneLogin
      ]"
      class="mesf-EditBtn is-sm"
    >
      {{ "BUTTON.NEXT" | translate }}
    </button>
  </div>
</div>
