@import "shared";

:host {
  display: block;
  overflow: hidden;
}

#sec {
  height: 50vh;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row1 {
  margin-top: 8%;
}
.btn {
  margin-right: 10px;
}

.temp {
  color: var(--black) !important;
}
.temp table td {
  color: var(--black) !important;
}
table {
  color: var(--black) !important;
}

.ck-editor__editable ck-editor__nested-editable {
  table td {
    color: var(--black) !important;
  }
  table {
    color: var(--black) !important;
  }
  color: var(--black) !important;
}

:host ::ng-deep {
  ul {
    list-style-type: disc !important;
    padding-left: 15px !important;
    margin-top: 0;
  }
  ol {
    list-style-type: decimal !important;
    padding-left: 15px !important;
    margin-top: 0;
  }
}
.subheading_details {
  margin-top: px2vw-xl(48px);
  margin-bottom: px2vw-xl(24px);
  @include xxl {
    margin-top: px2vw-xxl(48px);
    margin-bottom: px2vw-xxl(24px);
  }
  @include lg {
    margin-top: px2vw-lg(48px);
    margin-bottom: px2vw-lg(24px);
  }
  @include md {
    margin-top: px2vw-md(48px);
    margin-bottom: px2vw-md(24px);
  }
  @include sm {
    margin-top: px2vw-sm(48px);
    margin-bottom: px2vw-sm(24px);
  }
  h6 {
    font-family: "maxis-black";
    font-size: px2vw-xl(20px);
    letter-spacing: px2vw-xl(0.15px);
    line-height: px2vw-xl(24px);
    color: var(--white);
    margin-bottom: 0;
    @include xxl {
      font-size: px2vw-xxl(20px);
      letter-spacing: px2vw-xxl(0.15px);
      line-height: px2vw-xxl(24px);
    }
    @include lg {
      font-size: px2vw-lg(20px);
      letter-spacing: px2vw-lg(0.15px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(20px);
      letter-spacing: px2vw-md(0.15px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
      letter-spacing: px2vw-sm(0.15px);
      line-height: px2vw-sm(24px);
    }
  }
}
.short_des {
  margin-bottom: 0;
  font-family: "maxis-semibold";
  font-size: px2vw-xl(12px);
  letter-spacing: px2vw-xl(0.4px);
  line-height: px2vw-xl(16px);
  color: var(--white-medium);
  margin-top: px2vw-xl(-20px);
  margin-left: px2vw-xl(16px);
  @include xxl {
    font-size: px2vw-xxl(12px);
    letter-spacing: px2vw-xxl(0.4px);
    line-height: px2vw-xxl(16px);
    margin-top: px2vw-xxl(-20px);
    margin-left: px2vw-xxl(16px);
  }
  @include lg {
    font-size: px2vw-lg(12px);
    letter-spacing: px2vw-lg(0.4px);
    line-height: px2vw-lg(16px);
    margin-top: px2vw-lg(-20px);
    margin-left: px2vw-lg(16px);
  }
  @include md {
    font-size: px2vw-md(12px);
    letter-spacing: px2vw-md(0.4px);
    line-height: px2vw-md(16px);
    margin-top: px2vw-md(-20px);
    margin-left: px2vw-md(16px);
  }
  @include sm {
    font-size: px2vw-sm(12px);
    letter-spacing: px2vw-sm(0.4px);
    line-height: px2vw-sm(16px);
    margin-top: px2vw-sm(-20px);
    margin-left: px2vw-sm(16px);
  }
}
::ng-deep .mat-form-field-infix {
  input {
    font-family: "maxis-semibold" !important;
    font-size: px2vw-xl(16px) !important;
    letter-spacing: px2vw-xl(0.5px) !important;
    line-height: px2vw-xl(24px) !important;
    color: var(--white-high) !important;
    @include xxl {
      font-size: px2vw-xxl(16px) !important;
      letter-spacing: px2vw-xxl(0.5px) !important;
      line-height: px2vw-xxl(24px) !important;
    }
    @include lg {
      font-size: px2vw-lg(16px) !important;
      letter-spacing: px2vw-lg(0.5px) !important;
      line-height: px2vw-lg(24px) !important;
    }
    @include md {
      font-size: px2vw-md(16px) !important;
      letter-spacing: px2vw-md(0.5px) !important;
      line-height: px2vw-md(24px) !important;
    }
    @include sm {
      font-size: px2vw-sm(16px) !important;
      letter-spacing: px2vw-sm(0.5px) !important;
      line-height: px2vw-sm(24px) !important;
    }
  }
  .mat-select-value-text {
    span {
      font-family: "maxis-semibold" !important;
      font-size: px2vw-xl(16px) !important;
      letter-spacing: px2vw-xl(0.5px) !important;
      line-height: px2vw-xl(24px) !important;
      color: var(--white-high) !important;
      @include xxl {
        font-size: px2vw-xxl(16px) !important;
        letter-spacing: px2vw-xxl(0.5px) !important;
        line-height: px2vw-xxl(24px) !important;
      }
      @include lg {
        font-size: px2vw-lg(16px) !important;
        letter-spacing: px2vw-lg(0.5px) !important;
        line-height: px2vw-lg(24px) !important;
      }
      @include md {
        font-size: px2vw-md(16px) !important;
        letter-spacing: px2vw-md(0.5px) !important;
        line-height: px2vw-md(24px) !important;
      }
      @include sm {
        font-size: px2vw-sm(16px) !important;
        letter-spacing: px2vw-sm(0.5px) !important;
        line-height: px2vw-sm(24px) !important;
      }
    }
  }
  textarea {
    font-family: "maxis-semibold" !important;
    font-size: px2vw-xl(16px) !important;
    letter-spacing: px2vw-xl(0.5px) !important;
    line-height: px2vw-xl(24px) !important;
    color: var(--white-high) !important;
    @include xxl {
      font-size: px2vw-xxl(16px) !important;
      letter-spacing: px2vw-xxl(0.5px) !important;
      line-height: px2vw-xxl(24px) !important;
    }
    @include lg {
      font-size: px2vw-lg(16px) !important;
      letter-spacing: px2vw-lg(0.5px) !important;
      line-height: px2vw-lg(24px) !important;
    }
    @include md {
      font-size: px2vw-md(16px) !important;
      letter-spacing: px2vw-md(0.5px) !important;
      line-height: px2vw-md(24px) !important;
    }
    @include sm {
      font-size: px2vw-sm(16px) !important;
      letter-spacing: px2vw-sm(0.5px) !important;
      line-height: px2vw-sm(24px) !important;
    }
  }
  .mat-form-field-label-wrapper {
    .mat-form-field-label {
      mat-label {
        font-family: "maxis-semibold";
        font-size: px2vw-xl(12px) !important;
        letter-spacing: px2vw-lg(0.4px) !important;
        line-height: px2vw-lg(16px) !important;
        color: var(--white-medium);
        @include xxl {
          font-size: px2vw-xxl(12px) !important;
          letter-spacing: px2vw-xxl(0.4px) !important;
          line-height: px2vw-xxl(16px) !important;
        }
        @include lg {
          font-size: px2vw-lg(12px) !important;
          letter-spacing: px2vw-lg(0.4px) !important;
          line-height: px2vw-lg(16px) !important;
        }
        @include md {
          font-size: px2vw-md(12px) !important;
          letter-spacing: px2vw-md(0.4px) !important;
          line-height: px2vw-md(16px) !important;
        }
        @include sm {
          font-size: px2vw-sm(12px) !important;
          letter-spacing: px2vw-sm(0.4px) !important;
          line-height: px2vw-sm(16px) !important;
        }
      }
    }
  }
}
section.edit_article {
  margin-top: px2vw-xl(130px);
  position: relative;
  @include xxl {
    margin-top: px2vw-xxl(130px);
  }
  @include lg {
    margin-top: px2vw-lg(130px);
  }
  @include md {
    margin-top: px2vw-md(130px);
  }
  @include sm {
    margin-top: px2vw-sm(130px);
  }
  .bg_graphics {
    position: fixed;
    left: 0;
    top: px2vw-xl(-130px);
    @include xxl {
      top: px2vw-xxl(-130px);
    }
    @include lg {
      top: px2vw-lg(-130px);
    }
    @include md {
      top: px2vw-md(-130px);
    }
    @include sm {
      top: px2vw-sm(-130px);
    }
  }
  .edit_article_status {
    border: px2vw-xl(1px) solid var(--color-lightgray);
    border-radius: px2vw-xl(6px);
    padding: px2vw-xl(16px) px2vw-xl(24px);
    background-color: var(--color-darkgray);
    @include xxl {
      border-width: px2vw-xxl(1px);
      border-radius: px2vw-xxl(6px);
      padding: px2vw-xxl(16px) px2vw-xxl(24px);
    }
    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(6px);
      padding: px2vw-lg(16px) px2vw-lg(24px);
    }
    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(6px);
      padding: px2vw-md(16px) px2vw-md(24px);
    }
    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(6px);
      padding: px2vw-sm(16px) px2vw-sm(24px);
    }
    .article_img {
      img {
        width: 100%;
      }
    }
    .article_status_content {
      h6 {
        font-family: "maxis-black";
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(18px);
        color: var(--white-high);
        margin-top: px2vw-xl(16px);
        @include xxl {
          font-size: px2vw-xxl(16px);
          line-height: px2vw-xxl(18px);
          margin-top: px2vw-xxl(16px);
        }
        @include lg {
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(18px);
          margin-top: px2vw-lg(16px);
        }
        @include md {
          font-size: px2vw-md(16px);
          line-height: px2vw-md(18px);
          margin-top: px2vw-md(16px);
        }
        @include sm {
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(18px);
          margin-top: px2vw-sm(16px);
        }
      }
      p {
        margin-top: px2vw-xl(8px);
        font-family: "maxis-semibold";
        font-size: px2vw-xl(14px);
        letter-spacing: px2vw-xl(0.25px);
        line-height: px2vw-xl(20px);
        color: var(--white-medium);
        @include xxl {
          margin-top: px2vw-xxl(8px);
          font-size: px2vw-xxl(14px);
          letter-spacing: px2vw-xxl(0.25px);
          line-height: px2vw-xxl(20px);
        }
        @include lg {
          margin-top: px2vw-lg(8px);
          font-size: px2vw-lg(14px);
          letter-spacing: px2vw-lg(0.25px);
          line-height: px2vw-lg(20px);
        }
        @include md {
          margin-top: px2vw-md(8px);
          font-size: px2vw-md(14px);
          letter-spacing: px2vw-md(0.25px);
          line-height: px2vw-md(20px);
        }
        @include sm {
          margin-top: px2vw-sm(8px);
          font-size: px2vw-sm(14px);
          letter-spacing: px2vw-sm(0.25px);
          line-height: px2vw-sm(20px);
        }
      }
      .article_status {
        margin-top: px2vw-xl(16px);
        font-family: "maxis-bold";
        font-size: px2vw-xl(14px);
        letter-spacing: px2vw-xl(0.1px);
        line-height: px2vw-xl(24px);
        color: var(--white-high);
        @include xxl {
          margin-top: px2vw-xxl(16px);
          font-size: px2vw-xxl(14px);
          letter-spacing: px2vw-xxl(0.1px);
          line-height: px2vw-xxl(24px);
        }
        @include lg {
          margin-top: px2vw-lg(16px);
          font-size: px2vw-lg(14px);
          letter-spacing: px2vw-lg(0.1px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          margin-top: px2vw-md(16px);
          font-size: px2vw-md(14px);
          letter-spacing: px2vw-md(0.1px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          margin-top: px2vw-sm(16px);
          font-size: px2vw-sm(14px);
          letter-spacing: px2vw-sm(0.1px);
          line-height: px2vw-sm(24px);
        }
        .status {
          margin-left: px2vw-xl(12px);
          font-family: "maxis-semibold";
          font-size: px2vw-xl(12px);
          letter-spacing: px2vw-xl(0.4px);
          line-height: px2vw-xl(16px);
          padding: px2vw-xl(2px) px2vw-xl(6px);
          text-transform: uppercase;
          display: inline-block;
          border-radius: px2vw-xl(2px);
          @include xxl {
            margin-left: px2vw-xxl(12px);
            font-size: px2vw-xxl(12px);
            letter-spacing: px2vw-xxl(0.4px);
            line-height: px2vw-xxl(16px);
            padding: px2vw-xxl(2px) px2vw-xxl(6px);
            border-radius: px2vw-xxl(2px);
          }
          @include lg {
            margin-left: px2vw-lg(12px);
            font-size: px2vw-lg(12px);
            letter-spacing: px2vw-lg(0.4px);
            line-height: px2vw-lg(16px);
            padding: px2vw-lg(2px) px2vw-lg(6px);
            border-radius: px2vw-lg(2px);
          }
          @include md {
            margin-left: px2vw-md(12px);
            font-size: px2vw-md(12px);
            letter-spacing: px2vw-md(0.4px);
            line-height: px2vw-md(16px);
            padding: px2vw-md(2px) px2vw-md(6px);
            border-radius: px2vw-md(2px);
          }
          @include sm {
            margin-left: px2vw-sm(12px);
            font-size: px2vw-sm(12px);
            letter-spacing: px2vw-sm(0.4px);
            line-height: px2vw-sm(16px);
            padding: px2vw-sm(2px) px2vw-sm(6px);
            border-radius: px2vw-sm(2px);
          }
        }
      }
    }
  }
  .edit_article_option {
    border: px2vw-xl(1px) solid var(--color-lightgray);
    border-radius: px2vw-xl(6px);
    background-color: var(--color-darkgray);
    margin-top: px2vw-xl(16px);
    @include xxl {
      border-width: px2vw-xxl(1px);
      border-radius: px2vw-xxl(6px);
      margin-top: px2vw-xxl(16px);
    }
    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(6px);
      margin-top: px2vw-lg(16px);
    }
    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(6px);
      margin-top: px2vw-md(16px);
    }
    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(6px);
      margin-top: px2vw-sm(16px);
    }
    .title_header {
      border-bottom: px2vw-xl(1px) solid var(--white-light);
      @include xxl {
        border-width: px2vw-xxl(1px);
      }
      @include lg {
        border-width: px2vw-lg(1px);
      }
      @include md {
        border-width: px2vw-md(1px);
      }
      @include sm {
        border-width: px2vw-sm(1px);
      }
      h6 {
        font-family: "maxis-black";
        font-size: px2vw-xl(20px);
        letter-spacing: px2vw-xl(0.15px);
        line-height: px2vw-xl(24px);
        color: var(--white-high);
        padding: px2vw-xl(16px) px2vw-xl(24px);
        margin-bottom: 0;
        @include xxl {
          font-size: px2vw-xxl(20px);
          letter-spacing: px2vw-xxl(0.15px);
          line-height: px2vw-xxl(24px);
          padding: px2vw-xxl(16px) px2vw-xxl(24px);
        }
        @include lg {
          font-size: px2vw-lg(20px);
          letter-spacing: px2vw-lg(0.15px);
          line-height: px2vw-lg(24px);
          padding: px2vw-lg(16px) px2vw-lg(24px);
        }
        @include md {
          font-size: px2vw-md(20px);
          letter-spacing: px2vw-md(0.15px);
          line-height: px2vw-md(24px);
          padding: px2vw-md(16px) px2vw-md(24px);
        }
        @include sm {
          font-size: px2vw-sm(20px);
          letter-spacing: px2vw-sm(0.15px);
          line-height: px2vw-sm(24px);
          padding: px2vw-sm(16px) px2vw-sm(24px);
        }
      }
    }
    .edit_list {
      ul {
        margin: 0;
        padding: px2vw-xl(10px) 0 !important;
        @include xxl {
          padding: px2vw-xxl(10px) 0 !important;
        }
        @include lg {
          padding: px2vw-lg(10px) 0 !important;
        }
        @include md {
          padding: px2vw-md(10px) 0 !important;
        }
        @include sm {
          padding: px2vw-sm(10px) 0 !important;
        }
        li {
          list-style: none;
          padding: px2vw-xl(10px) px2vw-xl(24px);
          cursor: pointer;
          @include xxl {
            padding: px2vw-xxl(10px) px2vw-xxl(24px);
          }
          @include lg {
            padding: px2vw-lg(10px) px2vw-lg(24px);
          }
          @include md {
            padding: px2vw-md(10px) px2vw-md(24px);
          }
          @include sm {
            padding: px2vw-sm(10px) px2vw-sm(24px);
          }
          img {
            margin-right: px2vw-xl(17px);
            @include xxl {
              margin-right: px2vw-xxl(17px);
            }
            @include lg {
              margin-right: px2vw-lg(17px);
            }
            @include md {
              margin-right: px2vw-md(17px);
            }
            @include sm {
              margin-right: px2vw-sm(17px);
            }
          }
          span {
            font-family: "maxis-semibold";
            font-size: px2vw-xl(16px);
            letter-spacing: px2vw-xl(0.5px);
            line-height: px2vw-xl(24px);
            color: var(--white-high);
            @include xxl {
              font-size: px2vw-xxl(16px);
              letter-spacing: px2vw-xxl(0.5px);
              line-height: px2vw-xxl(24px);
            }
            @include lg {
              font-size: px2vw-lg(16px);
              letter-spacing: px2vw-lg(0.5px);
              line-height: px2vw-lg(24px);
            }
            @include md {
              font-size: px2vw-md(16px);
              letter-spacing: px2vw-md(0.5px);
              line-height: px2vw-md(24px);
            }
            @include sm {
              font-size: px2vw-sm(16px);
              letter-spacing: px2vw-sm(0.5px);
              line-height: px2vw-sm(24px);
            }
          }
        }
      }
    }
  }
  .form_container {
    margin-bottom: px2vw-xl(50px);
    padding-left: px2vw-xl(50px);
    @include xxl {
      margin-bottom: px2vw-xxl(50px);
      padding-left: px2vw-xxl(50px);
    }
    @include lg {
      margin-bottom: px2vw-lg(50px);
      padding-left: px2vw-lg(50px);
    }
    @include md {
      margin-bottom: px2vw-md(50px);
      padding-left: px2vw-md(50px);
    }
    @include sm {
      margin-bottom: 50px;
      padding-left: 0;
      margin-top: 50px;
    }
    .form_header {
      h4 {
        font-family: "maxis-black";
        font-size: px2vw-xl(34px);
        color: var(--white);
        margin-bottom: px2vw-xl(32px);
        @include xxl {
          font-size: px2vw-xxl(34px);
          margin-bottom: px2vw-xxl(32px);
        }
        @include lg {
          font-size: px2vw-lg(34px);
          margin-bottom: px2vw-lg(32px);
        }
        @include md {
          font-size: px2vw-md(34px);
          margin-bottom: px2vw-md(32px);
        }
        @include sm {
          font-size: px2vw-sm(34px);
          margin-bottom: px2vw-sm(32px);
        }
      }
    }
    form.Profile {
      .upload_news {
        .title {
          h6 {
            font-family: "maxis-black";
            font-size: px2vw-xl(20px);
            letter-spacing: px2vw-xl(0.15px);
            line-height: px2vw-xl(24px);
            color: var(--white);
            margin-bottom: px2vw-xl(8px);
            @include xxl {
              font-size: px2vw-xxl(20px);
              letter-spacing: px2vw-xxl(0.15px);
              line-height: px2vw-xxl(24px);
              margin-bottom: px2vw-xxl(8px);
            }
            @include lg {
              font-size: px2vw-lg(20px);
              letter-spacing: px2vw-lg(0.15px);
              line-height: px2vw-lg(24px);
              margin-bottom: px2vw-lg(8px);
            }
            @include md {
              font-size: px2vw-md(20px);
              letter-spacing: px2vw-md(0.15px);
              line-height: px2vw-md(24px);
              margin-bottom: px2vw-md(8px);
            }
            @include sm {
              font-size: px2vw-sm(20px);
              letter-spacing: px2vw-sm(0.15px);
              line-height: px2vw-sm(24px);
              margin-bottom: px2vw-sm(8px);
            }
          }
          .caption {
            margin-bottom: px2vw-xl(16px);
            font-family: "maxis-semibold";
            font-size: px2vw-xl(12px);
            letter-spacing: px2vw-xl(0.4px);
            line-height: px2vw-xl(16px);
            color: var(--white-medium);
            @include xxl {
              font-size: px2vw-xxl(12px);
              letter-spacing: px2vw-xxl(0.4px);
              line-height: px2vw-xxl(16px);
              margin-bottom: px2vw-xxl(16px);
            }
            @include lg {
              font-size: px2vw-lg(12px);
              letter-spacing: px2vw-lg(0.4px);
              line-height: px2vw-lg(16px);
              margin-bottom: px2vw-lg(16px);
            }
            @include md {
              font-size: px2vw-md(12px);
              letter-spacing: px2vw-md(0.4px);
              line-height: px2vw-md(16px);
              margin-bottom: px2vw-md(16px);
            }
            @include sm {
              font-size: px2vw-sm(12px);
              letter-spacing: px2vw-sm(0.4px);
              line-height: px2vw-sm(16px);
              margin-bottom: px2vw-sm(16px);
            }
          }
        }
      }
    }
  }
}
.footer_btn {
  display: flex;
  align-items: center;
  margin-top: px2vw-xl(48px);
  @include xxl {
    margin-top: px2vw-xxl(48px);
  }
  @include lg {
    margin-top: px2vw-lg(48px);
  }
  @include md {
    margin-top: px2vw-md(48px);
  }
  @include sm {
    margin-top: px2vw-sm(48px);
  }
}
.button-secondary,
.button-primary {
  border: 1px solid var(--white-smoke);
  border-radius: 0;
  font-family: "maxis-bold";
  font-size: px2vw-xl(14px);
  letter-spacing: px2vw-xl(0.5px);
  line-height: px2vw-xl(16px);
  padding: px2vw-xl(10px) px2vw-xl(15px);
  @include xxl {
    font-size: px2vw-xxl(14px);
    letter-spacing: px2vw-xxl(0.5px);
    line-height: px2vw-xxl(16px);
    padding: px2vw-xxl(10px) px2vw-xxl(15px);
  }
  @include lg {
    font-size: px2vw-lg(14px);
    letter-spacing: px2vw-lg(0.5px);
    line-height: px2vw-lg(16px);
    padding: px2vw-lg(10px) px2vw-lg(15px);
  }
  @include md {
    font-size: px2vw-md(14px);
    letter-spacing: px2vw-md(0.5px);
    line-height: px2vw-md(16px);
    padding: px2vw-md(10px) px2vw-md(15px);
  }
  @include sm {
    font-size: px2vw-sm(14px);
    letter-spacing: px2vw-sm(0.5px);
    line-height: px2vw-sm(16px);
    padding: px2vw-sm(10px) px2vw-sm(15px);
  }
}

.status_published {
  background-color: var(--color-status-green);
  color: var(--color-primary);
}
.status_draft {
  background-color: var(--white-smoke);
  color: var(--white-medium);
}
.status_pending {
  background-color: var(--color-status-pending);
  color: var(--color-orange);
}
.form_txt_field {
  ::ng-deep .mat-form-field-flex {
    height: px2vw-xl(60px) !important;
    @include xxl {
      height: px2vw-xxl(60px) !important;
    }
    @include lg {
      height: px2vw-lg(60px) !important;
    }
    @include md {
      height: px2vw-md(60px) !important;
    }
    @include sm {
      height: 50px !important;
    }
  }
}
::ng-deep .mat-select-panel {
  background-color: var(--color-darkgray) !important;
}
::ng-deep .mat-input-element {
  caret-color: var(--white) !important;
  -webkit-text-fill-color: var(--white) !important;
}
