<div class="ViewUserAccess">
  <form [formGroup]="ownerForm" (ngSubmit)="onGrantAccess()">
    <div class="ViewUserAccess-content">
      <div class="ViewUserAccess-ava">
        <img
          *ngIf="!profilePicture"
          src="assets/images/Profile/article01.png"
          alt="profile image"
        />
        <img
          *ngIf="profilePicture"
          [lazyLoad]="profilePicture"
          alt="profile image"
        />
      </div>

      <div class="ViewUserAccess-box">
        <div class="ViewUserAccess-items">
          <mat-form-field class="global-MatField" appearance="outline">
            <mat-label>{{ "ADMIN_NEW.NAME_1" | translate }}</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="hasError('name', 'required')">{{
              "ADMIN_NEW.NAME_IS_REQ" | translate
            }}</mat-error>
          </mat-form-field>
          <mat-form-field class="global-MatField" appearance="outline">
            <mat-label>{{ "ADMIN_NEW.EMAIL" | translate }}</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="hasError('email', 'email')">{{
              "ADMIN_NEW.NOT_VALID" | translate
            }}</mat-error>
            <mat-error *ngIf="hasError('email', 'required')">{{
              "ADMIN_NEW.EMAIL_REQ" | translate
            }}</mat-error>
          </mat-form-field>
        </div>

        <div class="ViewUserAccess-items">
          <mat-form-field
            class="global-MatField"
            *ngIf="userId != '0123456789ab'"
            appearance="outline"
          >
            <mat-label>{{ "ADMIN_NEW.ID" | translate }}</mat-label>
            <input
              matInput
              [(ngModel)]="userId"
              [ngModelOptions]="{ standalone: true }"
              disabled="true"
            />
          </mat-form-field>
        </div>

        <div class="ViewUserAccess-xbs">
          <div class="ViewUserAccess-xbs-label">
            {{ "ADMIN_NEW.ACCESS" | translate }}
          </div>
          <div class="ViewUserAccess-accessWp">
            <div
              *ngFor="let keyValue of AccessType | keyvalue"
              class="ViewUserAccess-access"
            >
              <h2 class="capitalize">{{ keyValue.key | translate }}</h2>
              <h3>{{ keyValue.value | translate }}</h3>
              <mat-checkbox
                color="primary"
                [ngModelOptions]="{ standalone: true }"
                [ngModel]="checkValueIncludes(keyValue.key)"
                (ngModelChange)="includeAccessType(keyValue.key, $event)"
              >
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ViewUserAccess-footer">
      <button (click)="goBack()" class="btn cancel">
        {{ "ADMIN_NEW.CANCEL" | translate }}
      </button>
      <button
        type="submit"
        [disabled]="!ownerForm.valid && ownerForm.disabled === false"
        class="btn"
      >
        {{ "ADMIN_NEW.GRANT" | translate }}
      </button>
    </div>
  </form>
</div>
