<section class="ArticleMainA">
  <div class="ArticleMainA-left" routerLink="/article/{{ hottestPost?.slug }}">
    <div
      class="ArticleMainA-item"
      [style.backgroundImage]="
        hottestPost?.image
          ? 'url(' + hottestPost?.image + ')'
          : '/assets/images/Home/bg2.png'
      "
    >
      <div class="ArticleMainA-item-label mesf-Text">
        {{ "HOTTEST_POST.LABEL" | translate }}
      </div>
      <div class="ArticleMainA-item-title">
        {{
          hottestPost?.title
            | customTranslate: (languageService?.language | async)
        }}
      </div>
      <div class="ArticleMainA-item-text">
        By {{ hottestPost?.authorDetails?.fullName }} |
        {{ hottestPost?.game }} |
        {{ hottestPost?.createdDate | date: "mediumDate" }}
      </div>
    </div>
  </div>

  <div class="ArticleMainA-right">
    <div
      class="ArticleMainA-item"
      *ngFor="let item of latestNews"
      [style.backgroundImage]="'url(' + item.image + ')'"
      routerLink="/article/{{ item?.slug }}"
    >
      <div class="ArticleMainA-item-label mesf-Text">
        {{ item.category | nameById: "name":categoryList }}
      </div>
      <div class="ArticleMainA-item-title">
        {{ item?.title | customTranslate: (languageService?.language | async) }}
      </div>
      <div class="ArticleMainA-item-text">
        By {{ item?.authorDetails?.fullName }} |
        {{ item.createdDate | date: "mediumDate" }}
      </div>
    </div>
  </div>
</section>

<section class="ArticleMainB">
  <div class="u-wp">
    <div class="mesf-Title2 ArticleMainB-title">
      {{ "ARTICLE_MAIN.HEADING.TRENDING_RECENT" | translate | uppercase }}
    </div>

    <div class="ArticleListing-list">
      <app-article-item
        *ngFor="let item of recentPosts"
        [data]="item"
        class="ArticleMainB-trending-item"
      ></app-article-item>
    </div>

    <div class="ArticleMainB-trending-footer">
      <button routerLink="/article/more" class="btn btn-outline-light">
        {{ "ARTICLE_MAIN.HEADING.MORE_ARTICLES" | translate | uppercase }}
      </button>
    </div>
  </div>
</section>

<section class="ArticleMainC" [hidden]="!videoLibrary.length">
  <div class="u-wp">
    <header class="ArticleMainC-header">
      <div class="mesf-Title2 ArticleMainC-header-title">
        {{ "ARTICLE_MAIN.HEADING.RECENT_VIDEOS" | translate | uppercase }}
      </div>
      <button
        class="ArticleMainC-header-button btn btn-outline-light"
        [routerLink]="['../videos']"
      >
        {{ "ARTICLE.VIDEO_LIBRARY" | translate }}
      </button>
    </header>

    <div class="ArticleMainC-video">
      <ng-container *ngIf="activeVideo?.youtubeUrl; else noVideoAvailable">
        <iframe
          class="ArticleMainC-video-right"
          [src]="activeVideo?.youtubeUrl | safe: 'url'"
          allowfullscreen="true"
          webkitallowfullscreen="true"
          mozallowfullscreen="true"
        ></iframe>
      </ng-container>
      <ng-template #noVideoAvailable>
        <div class="ArticleMainC-video-right">
          <!-- <button class="mesf-VideoBtn"></button> -->
          <h3>Video is either removed or block by Admin.</h3>
        </div>
      </ng-template>
      <div>
        <div class="ArticleMainC-video-scroll">
          <button
            class="ArticleMainC-video-item"
            *ngFor="let video of videoLibrary"
            [class.is-active]="video._id == activeVideo?._id"
            (click)="activeVideo = video"
          >
            <!-- <iframe
            class="ArticleMainC-video-right"
            [src]="video?.youtubeUrl | safe: 'url'"
            allowfullscreen="true"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
            class="ArticleMainC-video-item-iframe"
          ></iframe> -->
            <div class="ArticleMainC-video-item-img-block">
              <div
                class="ArticleMainC-video-item-img"
                [style.backgroundImage]="
                  'url(' +
                  (video?.thumbnailUrl || 'assets/images/AboutUs/company.png') +
                  ')'
                "
              >
                <span class="mesf-VideoBtn is-black"></span>
              </div>
            </div>

            <span class="ArticleMainC-video-item-text">
              <b class="mesf-Text">
                {{
                  video?.title
                    | customTranslate: (languageService?.language | async)
                }}
              </b>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ArticleMainD">
  <div class="u-wp">
    <div class="mesf-Title2 ArticleMainD-title">
      {{ "ARTICLE_MAIN.HEADING.POST_BY_GAMES" | translate | uppercase }}
    </div>

    <div class="ArticleMainD-list">
      <swiper [config]="swiperConfig" class="mesf-Swiper">
        <button
          [routerLink]="['game', game['_id']]"
          *ngFor="let game of gameList"
          class="ArticleMainD-list-card"
        >
          <img [src]="game.logo" alt="" />
          <span class="mesf-Text">{{ game?.name }}</span>
        </button>
      </swiper>
    </div>
  </div>
</section>

<section class="ArticleMainB">
  <div class="u-wp">
    <div class="mesf-Title2 ArticleMainB-title">
      {{ "ESPORTS.NEWS" | translate }}
    </div>

    <div class="ArticleListing-list">
      <app-article-item
        *ngFor="let item of trendingNews"
        [data]="item"
        class="ArticleMainB-trending-item"
      ></app-article-item>
    </div>

    <div class="ArticleMainB-trending-footer">
      <button routerLink="/article/news" class="btn btn-outline-light">
        {{ "ESPORTS.MORE" | translate }}
      </button>
    </div>
  </div>
  <!-- <div class="u-wp">
    <div class="mesf-Title2 ArticleMainB-title">
      editor's pick
    </div>

    <div class="row justify-content-between">
      <app-article-item
        *ngFor="let item of trendingPosts"
        [data]="item"
        class="ArticleMainB-item"
      ></app-article-item>
    </div>
  </div> -->
</section>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
