<div class="TeamManagementEdit">
  <header class="MyTeamsView-header u-dfCenterBtw">
    <h1 class="TeamManagementEdit-title global-H3">
      {{ "ADMIN.TEAM_MANAGEMENT.TITLE" | translate }}
    </h1>
    <button
      class="TeamManagementEdit-header-button back-button"
      (click)="cancel()"
    >
      <span class="material-icons"> keyboard_arrow_left </span>
      {{ "BUTTON.BACK" | translate }}
    </button>
  </header>
  <app-team-card-invite
    class="TeamManagementEdit-card"
    [data]="mock_team"
    [showControls]="false"
  ></app-team-card-invite>

  <div class="TeamManagementEdit-settings u-dfCenterBtw">
    <h3 class="TeamManagementEdit-settings-title global-H4">
      {{ "ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.TITLE" | translate }}
    </h3>
    <button
      class="TeamManagementEdit-settings-button btn global-btn-yellow"
      [matMenuTriggerFor]="menu"
    >
      <img
        class="button-icon"
        src="assets/icons/team-management/settings.svg"
        alt="settings icon"
      />
      <span class="button-text global-text-base">
        {{ "ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.BUTTON" | translate }}
      </span>
    </button>

    <mat-menu
      style="display: none"
      class="global-MatMenu"
      #menu="matMenu"
      yPosition="below"
      xPosition="before"
    >
      <div class="TeamManagementEdit-options">
        <!-- Delete -->
        <button
          class="TeamManagementEdit-option u-dfCenterStart"
          (click)="open()"
        >
          <div class="TeamManagementEdit-option-image-block">
            <img
              class="TeamManagementEdit-option-image"
              src="assets/icons/team-management/delete.svg"
              alt="make captain"
            />
          </div>

          <span class="TeamManagementEdit-option-text">
            {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.DELETE" | translate }}
          </span>
        </button>

        <!-- Public profile -->
        <button
          class="TeamManagementEdit-option u-dfCenterStart"
          [routerLink]="[AppHtmlProfileRoutes.teamsView, mock_team.id]"
        >
          <div class="TeamManagementEdit-option-image-block">
            <img
              class="TeamManagementEdit-option-image"
              src="assets/icons/team-management/user.svg"
              alt="make captain"
            />
          </div>

          <span class="TeamManagementEdit-option-text">
            {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.PUBLIC_PROFILE" | translate }}
          </span>
        </button>
        <!-- Edit team -->
        <button
          class="TeamManagementEdit-option u-dfCenterStart"
          [routerLink]="[AppHtmlAdminRoutes.editTeam, mock_team.id]"
        >
          <div class="TeamManagementEdit-option-image-block">
            <img
              class="TeamManagementEdit-option-image"
              src="assets/icons/team-management/users.svg"
              alt="make captain"
            />
          </div>

          <span class="TeamManagementEdit-option-text">
            {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.EDIT_TEAM" | translate }}
          </span>
        </button>

        <!-- Assign owner-->
        <button
          class="TeamManagementEdit-option u-dfCenterStart"
          [routerLink]="[AppHtmlRoutes.manageTeam, mock_team.id]"
        >
          <div class="TeamManagementEdit-option-image-block">
            <img
              class="TeamManagementEdit-option-image"
              src="assets/icons/team-management/owner.svg"
              alt="make captain"
            />
          </div>

          <span class="TeamManagementEdit-option-text">
            {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.ASSIGN_OWNER" | translate }}
          </span>
        </button>
      </div>
    </mat-menu>
  </div>

  <div class="TeamManagementEdit-table">
    <ngx-datatable
      [rows]="mock_members"
      [columnMode]="'force'"
      [headerHeight]="'auto'"
      [rowHeight]="'auto'"
      [footerHeight]="'auto'"
      [limit]="50"
      class="global-DataTable"
    >
      <ngx-datatable-column
        prop="description"
        name="{{
          'ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.TABLE.DESCRIPTION' | translate
        }}"
      ></ngx-datatable-column>

      <ngx-datatable-column
        prop="createdOn"
        name="{{ 'ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.TABLE.DATE' | translate }}"
      ></ngx-datatable-column>

      <ngx-datatable-column
        prop="createdBy.fullName"
        name="{{ 'ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.TABLE.MEMBER' | translate }}"
      ></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
