@import "shared";

:host {
  display: block;
}

.TeamManagementEdit {
  &-title {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-card {
    margin-bottom: px2vw-xl(60px);

    @include lg {
      margin-bottom: px2vw-lg(60px);
    }

    @include md {
      margin-bottom: px2vw-md(60px);
    }

    @include sm {
      margin-bottom: px2vw-sm(60px);
    }
  }

  &-settings {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-settings-title {
    margin-bottom: 0;
  }

  &-settings-button {
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }

    .button-icon {
      margin-right: px2vw-xl(12px);
      width: px2vw-xl(22px);
      height: px2vw-xl(22px);

      @include lg {
        margin-right: px2vw-lg(12px);
        width: px2vw-lg(22px);
        height: px2vw-lg(22px);
      }

      @include md {
        margin-right: px2vw-md(12px);
        width: px2vw-md(22px);
        height: px2vw-md(22px);
      }

      @include sm {
        margin-right: px2vw-sm(12px);
        width: px2vw-sm(22px);
        height: px2vw-sm(22px);
      }
    }

    .button-text {
      text-transform: uppercase;
    }
  }

  &-options {
    display: flex;
    flex-direction: column;
  }

  &-option {
    min-width: px2vw-xl(230px);
    padding: px2vw-xl(20px);
    background-color: var(--base-05);
    border-bottom: 1px solid var(--base-03);

    @include lg {
      min-width: px2vw-lg(230px);
      padding: px2vw-xl(20px);
    }

    @include md {
      min-width: px2vw-md(230px);
      padding: px2vw-xl(40px);
    }

    @include sm {
      min-width: px2vw-sm(230px);
      padding: px2vw-xl(40px);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &-option-image-block {
    margin-right: px2vw-xl(20px);
    width: px2vw-xl(24px);

    @include lg {
      margin-right: px2vw-lg(14px);
      width: px2vw-lg(24px);
    }

    @include md {
      width: px2vw-md(24px);
      margin-right: px2vw-md(14px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      width: px2vw-sm(24px);
    }
  }

  &-option-text {
    font-size: px2vw-xl(16px);
    line-height: 1;

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }
  }

  &-table {
    overflow: hidden;

    ::ng-deep {
      .datatable-row-wrapper {
        transition: 100ms linear;
        border-bottom: 1px solid var(--base-03);

        &:hover,
        &:last-child {
          border-bottom-color: transparent;
        }
      }

      .datatable-row-center {
        display: flex;
      }

      .datatable-header-cell {
        padding: px2vw-xl(20px) 0;

        @include lg {
          padding: px2vw-lg(20px) 0;
        }

        @include md {
          padding: px2vw-md(20px) 0;
        }

        @include sm {
          padding: px2vw-sm(20px) 0;
        }

        // DESCRIPTION
        &:first-child {
          width: px2vw-xl(1000px) !important;
          padding-left: px2vw-xl(28px);

          @include lg {
            width: px2vw-lg(750px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(400px) !important;
            padding-left: px2vw-md(20px);
          }

          @include sm {
            width: px2vw-sm(290px) !important;
            padding-left: px2vw-sm(15px);
          }
        }

        // DATE
        &:nth-child(2) {
          width: px2vw-xl(275px) !important;
          padding-left: px2vw-xl(15px);

          @include lg {
            width: px2vw-lg(200px) !important;
            padding-left: px2vw-lg(15px);
          }

          @include md {
            width: px2vw-md(150px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(120px) !important;
            padding-left: px2vw-sm(15px);
          }
        }

        // MEMBER
        &:nth-child(3) {
          width: px2vw-xl(270px) !important;

          @include lg {
            width: px2vw-lg(200px) !important;
          }

          @include md {
            width: px2vw-md(150px) !important;
          }

          @include sm {
            width: px2vw-sm(120px) !important;
          }
        }
      }

      .datatable-header-cell-template-wrap {
        display: flex;
      }

      .datatable-header-cell-label {
        @extend %global-text-base;
        color: var(--base-white);
        text-transform: uppercase;
      }

      .datatable-body-cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: px2vw-xl(18px) 0;

        @include lg {
          padding: px2vw-lg(18px) 0;
        }

        @include md {
          padding: px2vw-md(18px) 0;
        }

        @include sm {
          padding: px2vw-sm(18px) 0;
        }

        // DESCRIPTION
        &:first-child {
          width: px2vw-xl(1000px) !important;
          padding-left: px2vw-xl(28px);

          @include lg {
            width: px2vw-lg(750px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(400px) !important;
            padding-left: px2vw-md(20px);
          }

          @include sm {
            width: px2vw-sm(290px) !important;
            padding-left: px2vw-sm(15px);
          }
        }

        // DATE
        &:nth-child(2) {
          width: px2vw-xl(275px) !important;
          padding-left: px2vw-xl(15px);

          @include lg {
            width: px2vw-lg(200px) !important;
            padding-left: px2vw-lg(15px);
          }

          @include md {
            width: px2vw-md(150px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(120px) !important;
            padding-left: px2vw-sm(15px);
          }
        }

        // MEMBER
        &:nth-child(3) {
          width: px2vw-xl(270px) !important;

          @include lg {
            width: px2vw-lg(200px) !important;
          }

          @include md {
            width: px2vw-md(150px) !important;
          }

          @include sm {
            width: px2vw-sm(120px) !important;
          }
        }
      }

      .datatable-body-cell-label {
        padding: 0;
      }

      .pager {
        display: none;
      }

      .datatable-place {
        display: flex;
      }

      // Solves the problem with freezes on chrome
      .datatable-row-group {
        will-change: transform;
      }
    }
  }
}
