<div class="form-container">
  <form class="container form-adjust" [formGroup]="bracket">
    <div class="Section-A">
      <div class="row">
        <p class="global-Title2">
          {{ "BRACKET.TITLE" | translate }}
        </p>
      </div>
    </div>
    <div class="Section-B">
      <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <app-input
            [title]="'BRACKET.FORM.BRACKET_NAME'"
            [customFormGroup]="bracket"
            [customFormControlName]="'name'"
            [type]="'STRING'"
          >
          </app-input>
        </div>
      </div>
    </div>
    <div class="Section-C">
      <div class="row">
        <div class="col-12">
          <label class="visib-text">
            <img
              ngbTooltip="{{ 'BRACKET.TOOLTIP.BRACKET_TYPE' | translate }}"
              placement="top-left"
              src="assets/images/Tournament/info.png"
              alt="info"
            />
            {{ "BRACKET.FORM.BRACKET_TYPE" | translate }} *</label
          >
        </div>
        <div
          class="Bracket col-12"
          formControlName="bracketType"
          ngbRadioGroup
          name="radioBasic"
        >
          <label
            *ngFor="let b of bracketList"
            class="col-xl-3 col-lg-3 col-md-6 col-sm-12"
            ngbButtonLabel
          >
            <input
              ngbButton
              type="radio"
              [value]="b"
              (change)="updateParticipantLimit(b)"
            />
            <div>
              <p>{{ b | bracket | translate }}</p>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="Section-D">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <app-counter
            [title]="'TOURNAMENT.MAX_PARTICIPANT'"
            [customFormControlName]="'maximumParticipants'"
            [customFormGroup]="bracket"
          >
          </app-counter>
        </div>
      </div>
    </div>
    <div
      class="Section-E"
      *ngIf="
        ['battle_royale', 'round_robin'].includes(bracket?.value?.bracketType)
      "
    >
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <app-counter
            [title]="'CREATE_TOURNAMENT.NUMBER_OF_TEAMS_PER_GROUP'"
            [customFormControlName]="'noOfTeamInGroup'"
            [customFormGroup]="bracket"
          >
          </app-counter>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <app-counter
            [title]="'CREATE_TOURNAMENT.WINNING_TEAMS_PER_GROUP'"
            [customFormControlName]="'noOfWinningTeamInGroup'"
            [customFormGroup]="bracket"
          >
          </app-counter>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <app-counter
            [title]="
              bracket?.value?.bracketType == 'round_robin'
                ? 'TOURNAMENT.NUMBER_OF_ROUND'
                : 'CREATE_TOURNAMENT.NUMBER_OF_MATCH_PER_GROUP'
            "
            [customFormControlName]="'noOfRoundPerGroup'"
            [customFormGroup]="bracket"
          >
          </app-counter>
        </div>
        <div
          class="col-xl-3 col-lg-3 col-md-3 col-sm-12"
          *ngIf="bracket?.value?.bracketType == 'battle_royale'"
        >
          <app-counter
            [title]="'CREATE_TOURNAMENT.STAGES'"
            [customFormControlName]="'noOfStage'"
            [customFormGroup]="bracket"
            [alertMessage]="
              'CREATE_TOURNAMENT.ALERT_AUTO_GENERATED' | translate
            "
            [readOnly]="true"
          >
          </app-counter>
        </div>
      </div>
    </div>
    <div class="row btn-generate">
      <div class="text-center col-12">
        <button type="submit" class="global-EditBtn" (click)="preview()">
          {{ "BRACKET.FORM.BTN" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>

<esports-fullscreen-loading *ngIf="isProcessing"></esports-fullscreen-loading>
