@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: block;
}

.Dashboard {
  &-title {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-toggles {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: px2vw-xl(32px);

    @include lg {
      grid-column-gap: px2vw-lg(32px);
    }

    @include md {
      grid-template-columns: minmax(0, 1fr);
      grid-row-gap: px2vw-md(32px);
      grid-column-gap: 0;
    }

    @include sm {
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-main {
    display: flex;
    align-items: flex-start;

    @include md {
      margin-top: px2vw-md(20px);
      flex-direction: column;
    }

    @include sm {
      margin-top: px2vw-sm(20px);
    }
  }

  &-progress-block {
    @include md {
      margin-bottom: px2vw-md(30px);
      display: flex;
      align-items: flex-end;
    }

    @include sm {
      width: 100%;
      margin-bottom: px2vw-sm(30px);
      align-items: center;
      flex-direction: column;
    }
  }

  &-progress-circle {
    width: px2vw-xl(450px);
    height: px2vw-xl(450px);

    @include lg {
      width: px2vw-lg(320px);
      height: px2vw-lg(320px);
    }

    @include md {
      width: px2vw-md(320px);
      height: px2vw-md(320px);
    }

    @include sm {
      width: px2vw-sm(320px);
      height: px2vw-sm(320px);
    }
  }

  &-progress-cards {
    @include sm {
      width: 100%;
    }
  }

  &-progress-card {
    display: flex;
    margin-bottom: px2vw-xl(25px);
    padding-bottom: px2vw-xl(20px);
    border-bottom: 1px solid var(--base-gainsboro);

    @include lg {
      margin-bottom: px2vw-lg(25px);
      padding-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(25px);
      padding-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
      padding-bottom: px2vw-sm(20px);
      justify-content: center;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom-color: transparent;
    }
  }

  &-progress-card-bar {
    margin-top: px2vw-xl(6px);
    margin-right: px2vw-xl(32px);
    width: px2vw-xl(78px);
    height: px2vw-xl(19px);

    @include lg {
      margin-top: px2vw-lg(12px);
      margin-right: px2vw-lg(25px);
      width: px2vw-lg(78px);
      height: px2vw-lg(19px);
    }

    @include md {
      margin-top: px2vw-md(5px);
      margin-right: px2vw-md(25px);
      width: px2vw-md(78px);
      height: px2vw-md(19px);
    }

    @include sm {
      margin-top: px2vw-sm(4px);
      margin-right: px2vw-sm(25px);
      width: px2vw-sm(85px);
      height: px2vw-sm(22px);
    }

    &.ongoing {
      background-color: var(--persian-indigo);
    }

    &.upcoming {
      background-color: var(--lilac-bush);
    }
  }

  &-progress-card-items {
    margin-bottom: 0;
  }

  &-progress-card-item {
    display: flex;
    align-items: center;
    margin-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-progress-card-count {
    margin-right: px2vw-xl(23px);
    margin-bottom: 0;
    min-width: px2vw-xl(60px);
    font-family: "stc-forward-bold", sans-serif;
    font-size: px2vw-xl(32px);
    line-height: 1;

    @include lg {
      margin-right: px2vw-lg(23px);
      min-width: px2vw-lg(60px);
      font-size: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(23px);
      min-width: px2vw-md(60px);
      font-size: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(23px);
      min-width: px2vw-sm(60px);
      font-size: px2vw-sm(32px);
    }
  }

  &-progress-card-text {
    color: var(--base-black);
  }

  &-statistic-block {
    margin-left: px2vw-xl(58px);

    @include lg {
      margin-left: px2vw-lg(55px);
    }

    @include md {
      margin-left: 0;
    }

    @include sm {
      width: 100%;
    }
  }

  &-statistic-list {
    margin-bottom: 0;
    padding-top: px2vw-xl(60px);

    @include lg {
      padding-top: px2vw-xl(60px);
    }

    @include md {
      padding-top: 0;
    }
  }

  &-statistic-item {
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-statistic-title {
    margin-bottom: px2vw-xl(35px);
    font-family: "stc-forward-bold", sans-serif;
    font-size: px2vw-xl(32px);
    line-height: px2vw-xl(48px);

    @include lg {
      margin-bottom: px2vw-lg(35px);
      font-size: px2vw-lg(32px);
      line-height: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(35px);
      font-size: px2vw-md(32px);
      line-height: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(35px);
      font-size: px2vw-sm(32px);
      line-height: px2vw-sm(48px);
    }
  }

  &-statistic-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(30px);

    @include lg {
      grid-column-gap: px2vw-lg(25px);
    }

    @include md {
      grid-column-gap: px2vw-md(20px);
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-row-gap: px2vw-sm(20px);
      grid-column-gap: 0;
    }
  }

  &-statistic-card {
    background-color: var(--base-white-smoke);
    padding: px2vw-xl(35px) px2vw-xl(40px);

    &.narrow {
      padding-right: px2vw-xl(130px);

      @include lg {
        padding-right: px2vw-lg(30px);
      }

      @include md {
        padding-right: px2vw-md(30px);
      }

      @include sm {
        padding-right: px2vw-sm(30px);
      }
    }

    @include lg {
      padding: px2vw-lg(25px) px2vw-lg(30px);
    }

    @include md {
      padding: px2vw-md(25px) px2vw-md(30px);
    }

    @include sm {
      padding: px2vw-sm(25px) px2vw-sm(30px);
    }
  }

  &-statistic-card-title {
    margin-bottom: px2vw-xl(20px);
    min-height: px2vw-xl(72px);
    line-height: 1.3;

    @include lg {
      margin-bottom: px2vw-lg(20px);
      min-height: px2vw-lg(70px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      min-height: px2vw-md(70px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      min-height: auto;
    }
  }

  &-statistic-card-info {
    display: flex;
    align-items: flex-end;
  }

  &-statistic-card-count {
    margin-right: px2vw-xl(20px);
    margin-bottom: 0;
    font-family: "stc-forward-bold", sans-serif;
    font-size: px2vw-xl(56px);
    line-height: 0.8;
    color: var(--persian-indigo);

    @include lg {
      margin-right: px2vw-lg(20px);
      font-size: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(20px);
      font-size: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(20px);
      font-size: px2vw-sm(56px);
    }
  }
}
