<div class="MyMatches" *ngIf="isBrowser">
  <h1 class="MyMatches-title global-Title2">
    {{ "MY_MATCHES.TITLE" | translate }}
  </h1>

  <div class="MyMatches-tabs">
    <mat-tab-group
      (selectedTabChange)="onTabChanged($event)"
      [(selectedIndex)]="activeTabIndex"
      #tabs
    >
      <!-- CURRENT -->
      <mat-tab [label]="'MY_MATCHES.TABS.CURRENT' | translate">
        <ng-template matTabContent>
          <ng-container *ngTemplateOutlet="myMatches"></ng-container>
        </ng-template>
      </mat-tab>

      <!-- CHALLENGES -->
      <mat-tab [label]="'MY_MATCHES.TABS.CHALLENGES' | translate">
        <div class="MyMatches-tab challenges-matches">
          <app-challenges-card
            *ngFor="let card of challenges"
            [data]="card"
            (reload)="reloadChallenges($event)"
          >
          </app-challenges-card>
        </div>
      </mat-tab>

      <!-- COMPLETED -->
      <mat-tab [label]="'MY_MATCHES.TABS.COMPLETED' | translate">
        <ng-template matTabContent>
          <ng-container *ngTemplateOutlet="myMatches"></ng-container>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<esports-fullscreen-loading *ngIf="isLoaded"></esports-fullscreen-loading>

<ng-template #myMatches>
  <div class="MyMatches-tab current-matches" *ngIf="matchData?.docs?.length">
    <app-match-card
      *ngFor="let item of matchData?.docs"
      [data]="{
           title: item?.match?.currentMatch?.round
              ? 'Round' + item?.match?.currentMatch?.round
              : 'N/A',
            opponentName: item?.opponentPlayer?.name || 'N/A',
            gameAccount: item?.opponentPlayer?.inGamerUserId || 'N/A',
            gameName: item?.tournament?.gameDetail?.name || 'N/A',
            image: item?.tournament?.gameDetail?.logo || 'N/A',
            tournamentId: item?.tournament?._id || '',
            tournamentSlug: item?.tournament?.slug || '',
            matchId: item?.match?._id || '',
            participantId: item?.currentPlayer?._id || '',
            match: {
              _id: item?.match?._id,
              tournamentId: item?.tournament
            },
            tournamentName: item?.tournament?.name,
            ip: item?.credentials?.ip,
            password: item?.credentials?.password
      }"
    ></app-match-card>
  </div>
  <div class="MyMatches-tabs-noMatches" *ngIf="!matchData?.docs?.length">
    <div class="text-center">
      <h4 class="global-Title4">
        {{ "MY_MATCHES.TITLE_NO_MATCH" | translate }}
      </h4>
      <p class="MyMatches-tabs-noMatches-desc">
        {{ "MY_MATCHES.TITLE_NO_MATCH_DESCRIPTION" | translate }}
      </p>
    </div>
    <img
      class="MyMatches-tabs-noMatches-image"
      src="./assets/images/Match/no-matches.png"
    />
  </div>
  <app-pagination *ngIf="matchData?.docs?.length" [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
</ng-template>
