<section class="SearchVideo">
  <h2 class="SearchVideo-title">
    {{ "SEARCH.PAGE_SECTION.VIDEOS" | translate }}
  </h2>
  <div class="SearchVideo-list">
    <app-video-item
      *ngFor="let item of (homeService.searchedVideo | async)?.docs"
      [data]="item"
    ></app-video-item>
    <p *ngIf="!isVideoFlag">
      {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
    </p>
  </div>

  <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
</section>
