<div
  routerLink="/GESS2021"
  class="Advertising"
  [style.backgroundImage]="'url(' + params.backgroundImageUrl + ')'"
>
  <header class="Advertising-header" [hidden]="true">
    <img
      *ngIf="params.logoUrl"
      [src]="params.logoUrl"
      class="Advertising-header-game-logo"
      alt="game logo"
    />
    <div class="Advertising-header-ads">
      <p class="Advertising-header-ads-text">{{ "ADS.ADS_1" | translate }}</p>
      <button class="Advertising-header-ads-button">I</button>
      <button class="Advertising-header-ads-button">X</button>
    </div>
  </header>
  <h3
    class="Advertising-game-name mesf-Elipses2"
    *ngIf="params.title"
    [innerHTML]="params.title"
    [hidden]="true"
    [attr.data-test-id]="'advertisingTitle'"
  ></h3>
  <!-- <button
    class="Advertising-download-button btn"
    [routerLink]="['../tournament/5f4f958b136009000879d19e']"
  >
    {{ "HOME.CLICK_HERE" | translate }}
  </button> -->
</div>
