<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-lg-6 col-md-6 header-back">
      <button routerLink="/matchmaking" class="button-icon-secondary back">
        <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
          data-mat-icon-type="font"> arrow_back </mat-icon><span>
            {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.BACK" | translate}}
          </span>
      </button>
    </div>
    <!-- <div class="col-lg-6 col-md-6">
            <div class="pull-right"> <button  (click)="playNow()" class="SelectGame-button button-primary"> Play Match </button></div>
        </div> -->
  </div>
  <br />

  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="match-season-header  mb-4 ng-star-inserted ng-lazyloaded">
        <img [src]="matchSeason.image" alt="" />

        <div class="match_content">
          <div class="left_portion">
            <div class="header-title">
              <h1>{{matchSeason.title}}</h1>
            </div>
            <div class="header-text">
              <h3> {{matchSeason.text}}</h3>
            </div>
          </div>
          <div class="right_portion">
            <div class="game_logo">
              <!-- <img src="../../../../assets/images/Matchmaking/apex-legend-logo.png" alt=""> -->
              <img [src]="matchSeason.logo" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="matchmaking-overview">
        <mat-tab-group>
          <mat-tab label="Overview">
            <div class="over-view" [innerHTML]="matchSeason?.description">

            </div>
          </mat-tab>
          <mat-tab label="Standings">
            <div class="global-scrollbar">
              <ngx-datatable #table class="global-DataTable" [rows]="tableData" [columnMode]="'force'"
                [headerHeight]="'auto'" [footerHeight]="'auto'" [rowHeight]="'auto'" [limit]="50"
                [sorts]="[{prop: 'rank'}]">
                <ngx-datatable-column name="S/N" prop="rank">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row["rank"] }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Player Name" prop="teamName">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <img [src]="row.logo" width="50" height="40" class="table-thubnail" />
                    {{ row.teamName }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Games" prop="name">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <!-- {{row.matchLoss + row.matchTie + row.matchWin}} -->
                    {{row.matchLoss +row.matchTie + + row.matchWin}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Wins" prop="matchWin">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>{{ row.matchWin }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Points" prop="points">
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{ row.points }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

              <!-- <app-pagination
                  *ngIf="logData.length > 0"
                  [page]="page"
                  [activePage]="paginationData?.page"
                  (currentPage)="pageChanged($event)"
                >
                </app-pagination> -->
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>

    </div>

    <div class="col-lg-4 col-md-4">
      <h3 class="new_title">Game</h3>
      <hr class="border">
      <div class="MatchSeason-sectionA-card-image-block u-dfCenterCenter">
        <img [src]="gameInfo.image" alt="" />
      </div>
      <div class="section-B">
        <h3 class="new_title">Season Details</h3>
        <hr class="border">
        <div class="season_item">
          <i><img src="../../../../assets/images/Matchmaking/icon_1.png" alt="icon 1"></i>
          <div class="left_content">
            <span class="text-muted">Platform</span> <span>{{gameInfo?.details?.platform}}</span>
          </div>
        </div>
        <div class="season_item">
          <i><img src="../../../../assets/images/Matchmaking/icon_2.png" alt="icon 2"></i>
          <div class="left_content">
            <span class="text-muted">Season Duration</span> <span>{{gameInfo?.details?.duration}}</span>
          </div>
        </div>
        <div class="season_item">
          <i><img src="../../../../assets/images/Matchmaking/icon_3.png" alt="icon 3"></i>
          <div class="left_content">
            <span class="text-muted">End Date</span> <span>{{gameInfo?.details?.endDate |date}}</span>
          </div>
        </div>
        <div class="season_item">
          <i><img src="../../../../assets/images/Matchmaking/icon_4.png" alt="icon 4"></i>
          <div class="left_content">
            <span class="text-muted">Total Players</span> <span>{{gameInfo?.details?.totalPlayers}}</span>
          </div>
        </div>
        <button class="SelectGame-button button-primary" (click)="playNow()"> Play Match <i><img
              src="../../../../assets/images/Matchmaking/arrow-right.png" alt="" srcset=""></i></button>
      </div>
      <!-- <div class="section-C">
                <h3 class="new_title">Report your score</h3>
                <hr class="border">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 p-0">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col pr-2">
                                    <p class="text-right">
                                        xxinfinity01
                                        <span class="point ml-2">-</span>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col pl-2">
                                    <p class="text-left">
                                        <span class="point mr-2">-</span>
                                        Lazergazer
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a (click)="reportScore()" class="btn_report_block">REPORT SCORE</a>
            </div> -->
      <div class="section-D" *ngIf="gameInfo.matches">
        <h3 class="new_title">{{"GAME_STATISTIC.MATCHES.TITLE" | translate }}</h3>
        <hr class="border">
        <div class="row" *ngFor="let match of gameInfo.matches">
          <div class="col-lg-12 col-md-12 p-0">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-6 col pr-lg-2">
                <p class="text-lg-right">
                  {{ match?.teamA?.teamName }}
                  <span class="point ml-2" [ngClass]="{'win' : match?.teamAWinSet==1}">
                    {{ match?.teamAWinSet }}</span>
                </p>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col pl-lg-2">
                <p class="text-lg-left">
                  <span class="point mr-2" [ngClass]="{'win' : match?.teamBWinSet==1}">
                    {{ match?.teamBWinSet }}</span>
                  {{ match?.teamB?.teamName }}
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- <div class="card">
            <div class="card-header">
                <h3>Game</h3>
            </div>
            <div class="content">

            </div>
        </div> -->

    </div>
  </div>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
