@import "shared";

:host {
  display: block;
}

$--tag-bg: var( --gradient-bg-drk9),var(--color-black-shade2);

.RecentVideos {
  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-header-title {
    @extend %global-H4;
    margin-right: px2vw-xl(24px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-content-overlay {
    position: relative;
    padding: px2vw-xl(52px);
    padding-right: px2vw-xl(97px);
    background: $global-gradient;

    @include lg {
      padding: px2vw-lg(52px);
      padding-right: px2vw-lg(97px);
    }

    @include md {
      padding: px2vw-md(52px);
      padding-right: px2vw-md(97px);
    }

    @include sm {
      padding: px2vw-sm(52px);
      padding-right: px2vw-sm(97px);
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $global-gradient;
      transform: rotate(180deg);
    }
  }

  &-content-block {
    position: relative;
    z-index: 1;
  }

  &-content-label {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-content-label-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(20px);
    width: px2vw-xl(20px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(20px);
      width: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(20px);
      width: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(20px);
      width: px2vw-sm(20px);
    }
  }

  &-content-label-text {
    @extend %overline;
    color: var(--color-secondary);
    text-transform: uppercase;
  }

  &-content-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-content-info {
    @extend %u-dfCenter;

    span {
      @extend %subtitle-1;
      color: var(--white-medium);
    }

    .text-divider {
      background-color: var(--white-medium);
    }
  }

  &-content-button {
    margin-top: px2vw-xl(44px);

    @include lg {
      margin-top: px2vw-lg(44px);
    }

    @include md {
      margin-top: px2vw-md(44px);
    }

    @include sm {
      margin-top: px2vw-sm(44px);
    }
  }

  &-content-video-block {
    grid-area: 1 / 2 / 2 / 3;

    @include md {
      margin-left: 0;
      width: 100%;
    }
  }

  &-content-video-image {
    @extend %u-dfEnd;
    min-height: px2vw-xl(372px);
    width: px2vw-xl(664px);
    padding: px2vw-xl(32px);
    background-size: cover;
    background-position: center;

    @include lg {
      min-height: px2vw-lg(372px);
      width: px2vw-lg(664px);
      padding: px2vw-lg(32px);
    }

    @include md {
      min-height: px2vw-md(372px);
      width: px2vw-md(664px);
      padding: px2vw-md(32px);
    }

    @include sm {
      min-height: px2vw-sm(372px);
      width: px2vw-sm(664px);
      padding: px2vw-sm(32px);
    }
  }

  &-content-video-icon {
    height: px2vw-xl(84px);
    width: px2vw-xl(84px);

    @include lg {
      height: px2vw-lg(84px);
      width: px2vw-lg(84px);
    }

    @include md {
      height: px2vw-md(84px);
      width: px2vw-md(84px);
    }

    @include sm {
      height: px2vw-sm(84px);
      width: px2vw-sm(84px);
    }
  }

  &-videos {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(16px);

    @include lg {
      grid-column-gap: px2vw-lg(8px);
      grid-row-gap: px2vw-lg(8px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(16px);
    }
  }

  &-video {
    cursor: pointer;
    transition: $global-transition;

    &:hover {
      opacity: 0.8;
    }
  }

  &-video-block {
    cursor: pointer;
    transition: $global-transition;

    &:hover {
      opacity: 0.8;
    }
  }

  &-video-image {
    @extend %u-dfEnd;
    position: relative;
    margin-bottom: px2vw-xl(15px);
    padding: px2vw-xl(15px);
    height: px2vw-xl(180px);
    background-size: 108%;
    background-position: center;

    @include lg {
      margin-bottom: px2vw-lg(15px);
      padding: px2vw-lg(15px);
      height: px2vw-lg(150px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
      padding: px2vw-md(15px);
      height: px2vw-md(185px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
      padding: px2vw-sm(15px);
      height: px2vw-sm(145px);
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--color-black-shade4);
    }
  }

  &-video-icon {
    z-index: 1;
    width: px2vw-xl(48px);
    height: px2vw-xl(48px);

    @include lg {
      width: px2vw-lg(38px);
      height: px2vw-lg(38px);
    }

    @include md {
      width: px2vw-md(38px);
      height: px2vw-md(38px);
    }

    @include sm {
      width: px2vw-sm(38px);
      height: px2vw-sm(38px);
    }
  }

  &-video-title {
    @extend %global-H8;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-video-info {
    @extend %u-dfCenter;

    span {
      @extend %subtitle-2;
      color: var(--white-medium);
    }

    .text-divider {
      background-color: var(--white-medium);
    }
  }
}

.RecentVideos-modal {
  position: relative;
  width: px2vw-xl(710px);
  padding: px2vw-xl(30px);
  background: $modal-gradient;

  @include lg {
    width: px2vw-lg(710px);
    padding: px2vw-lg(30px);
  }

  @include md {
    width: px2vw-md(710px);
    padding: px2vw-md(30px);
  }

  @include sm {
    width: px2vw-sm(710px);
    padding: px2vw-sm(30px);
  }

  &-iframe-block {
    margin-bottom: px2vw-xl(24px);
    height: px2vw-xl(365px);
    width: 100%;
    background-color: var(--black);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      height: px2vw-lg(365px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      height: px2vw-md(365px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      height: px2vw-sm(365px);
    }
  }

  &-iframe {
    height: 100%;
    width: 100%;
  }

  &-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-info {
    @extend %subtitle-2;
    margin-bottom: px2vw-xl(12px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-description {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-tags {
    @extend %u-dfStart;
    margin-top: px2vw-xl(24px);

    @include lg {
      margin-top: px2vw-lg(24px);
    }

    @include md {
      margin-top: px2vw-md(24px);
    }

    @include sm {
      margin-top: px2vw-sm(24px);
    }
  }

  &-tags-title {
    @extend %subtitle-1;
    margin-top: px2vw-xl(11px);
    margin-right: px2vw-xl(15px);
    margin-bottom: 0;

    @include lg {
      margin-top: px2vw-lg(11px);
      margin-right: px2vw-lg(15px);
    }

    @include md {
      margin-top: px2vw-md(11px);
      margin-right: px2vw-md(15px);
    }

    @include sm {
      margin-top: px2vw-sm(11px);
      margin-right: px2vw-sm(15px);
    }
  }

  &-tags-list {
    @extend %u-dfStart;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  &-tags-item {
    @extend %subtitle-2;
    margin: px2vw-xl(4px);
    border: 1px solid var(--white-light);
    border-radius: px2vw-xl(18px);
    padding: px2vw-xl(6px) px2vw-xl(13px);
    background: $--tag-bg;
    cursor: default;

    @include lg {
      margin: px2vw-lg(4px);
      border-radius: px2vw-lg(18px);
      padding: px2vw-lg(6px) px2vw-lg(13px);
    }

    @include md {
      margin: px2vw-md(4px);
      border-radius: px2vw-md(18px);
      padding: px2vw-md(6px) px2vw-md(13px);
    }

    @include sm {
      margin: px2vw-sm(4px);
      border-radius: px2vw-sm(18px);
      padding: px2vw-sm(6px) px2vw-sm(13px);
    }
  }
}

::ng-deep {
  .custom-modal-content {
    .modal-dialog {
      max-width: max-content;
    }
  }
}
