<div class="View-Set">
  <div class="View-Set-Title">
    {{ "ELIMINATION.SET" | translate }} {{ setIndex + 1 }}
  </div>
  <div class="View-Set-A">
    <score-counter
      [score]="matchSet?.teamAScore"
      [screenshotUrl]="matchSet?.teamAScreenShot"
      [hasScreenshotUpdateAccess]="
        teamA?._id == params?.participantId && matchSet?.status == 'active'
      "
      [enableScreenshot]="enableScreenshot"
      (valueChanges)="scoreChanges($event, 'teamAScore', teamA?._id)"
      (screenShotUrl)="screenShotUrl($event, 'teamAScreenShot', teamA?._id)"
    >
    </score-counter>
  </div>
  <div class="View-Set-B">
    <score-counter
      [score]="matchSet?.teamBScore"
      [screenshotUrl]="matchSet?.teamBScreenShot"
      [hasScreenshotUpdateAccess]="
        teamB?._id == params?.participantId && matchSet?.status == 'active'
      "
      [enableScreenshot]="enableScreenshot"
      (valueChanges)="scoreChanges($event, 'teamBScore', teamB?._id)"
      (screenShotUrl)="screenShotUrl($event, 'teamBScreenShot', teamB?._id)"
    >
    </score-counter>
  </div>
  <div class="View-Set-Result" *ngIf="!hasDisqualified">
    <ng-container *ngIf="matchSet?.status == 'active'">
        <div class="View-Set-Active">
          <!-- <p *ngIf="matchSet?.enableTimer" class="View-Set-Counter">
            {{ "ELIMINATION.AUTO_APPROVE_TIMER" | translate }} :
            <countdown
              [config]="{ leftTime: matchSet?.remainingApprovalTime/1000 || 0 }"
              (event)="onTimerFinished($event)"
            ></countdown>
          </p> -->
          <button
            class="View-Set-Result-Submit global-EditBtn"
            [hidden]="isDisableManualScoreUpdate"
            (click)="submitSetScore()"
            *ngIf="
              hasEoORAdminUpdateAccess ||
              (hasParticipantOneTimeAccess && hasParticipantUpdateAccess)
            "
          >
            {{
              (matchSet?.enableResubmitBtn
                ? "ELIMINATION.RESUBMIT_SCORE"
                : "ELIMINATION.SUBMIT_SCORE"
              ) | translate
            }}
          </button>
        </div>
    </ng-container>
    <ng-container *ngIf="matchSet?.status == 'completed'">
      <div class="View-Set-Winner">
        <p class="View-Set-Winner-Text" *ngIf="teamA?._id == matchSet?.winner">
          {{ teamA?.name | limitString: 17:"..." }}
        </p>
        <p class="View-Set-Winner-Text" *ngIf="teamB?._id == matchSet?.winner">
          {{ teamB?.name | limitString: 17:"..." }}
        </p>
        <p
          class="View-Set-Winner-Text"
          *ngIf="![teamA?._id, teamB._id].includes(matchSet?.winner)"
        >
          {{ "ELIMINATION.DRAW" | translate }}
        </p>
        <a>
          {{ "ELIMINATION.SUBMITTED" | translate }}
        </a>
      </div>
    </ng-container>
  </div>
</div>
