<div class="dialog-container p-4">
  <form class="example-form">
    <mat-form-field class="w-100">
      <mat-label>
        {{
          "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.AUTOMATED" | translate
        }}
      </mat-label>
      <input matInput placeholder="" value="" />
      <!-- <input matInput [formControl]="automatedFormControl" placeholder="" value=""> -->
      <!-- <mat-error *ngIf="automatedFormControl.hasError('email') && !automatedFormControl.hasError('required')">
              Are you sure total prize is 2000 MYR.
            </mat-error> -->
    </mat-form-field>
  </form>
  <section class="mt-5 text-right">
    <button mat-stroked-button (click)="onClose('cancel')">
      {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.CANCEL" | translate }}
    </button>
    <button mat-flat-button color="warn" class="ml-3" (click)="onConfirm()">
      {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.CONFIRM" | translate }}
    </button>
  </section>

  <button mat-button class="close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
