@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap");
@import "shared";

:host {
  @extend %u-dfStretch;
  //   padding-top: 9px;
  padding-bottom: 0;
  //   min-height: 647.5px;
  height: 100%;
  display: block;
  position: relative;
  //   max-width: 1308px;
  //   margin: 0 auto;

  @include lg {
    // height: px2vw-lg(658px);
    // padding-top: 9px;
    padding-bottom: 0;
  }

  @include md {
    // height: px2vw-md(658px);
    // padding-top: px2vw-md(24px);
    padding-bottom: px2vw-md(10px);
  }

  @include sm {
    // height: px2vw-sm(658px);
    // padding-top: px2vw-sm(24px);
    padding-bottom: px2vw-sm(10px);
  }
}

.CasualMatchmaking {
  max-width: 619px;
  margin-left: 4px;
  padding-top: 88px;

  @include md {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
    padding-top: 111px;
  }

  &-wrap {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include sm {
      background-image: none;
    }
  }

  &-inner {
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 30px;

    @include sm {
      font-size: 24px;
      line-height: 32px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 23px;
    }

    &-info {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      align-self: center;
      display: none;

      @include sm {
        display: flex;
        flex-direction: row-reverse;
      }

      &-btn {
        background-color: transparent;
        display: flex;
        align-self: center;

        .text {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--main-color);
        }
        .icon {
          display: flex;
          align-self: center;
          margin-right: 17px;
        }
      }
    }
  }

  &-subtitle {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 36px;
    width: 82%;

    @include sm {
      color: var(--tolopea-color);
      width: 100%;
      margin-bottom: 17px;
    }
  }

  &-teamWinner {
    background: var(--white);
    border-radius: 20px;
    height: 89px;
    display: flex;
    padding: 16px;
    margin-bottom: 43px;

    @include sm {
      height: 72px;
      border-radius: 12px;
      margin-bottom: 24px;
    }

    &-image {
      width: 57px;
      height: 57px;
      // background-color: #111111;
      margin-right: 24px;
      border-radius: 50%;
      background-image: url(../../../../assets/icons/logo-match-completed.svg);

      @include sm {
        height: 40px;
        width: 57.5px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 3px;
        margin-left: 10px;
      }
    }

    &-info {
      width: 55%;

      @include sm {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 14px;
      }

      &-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: var(--midnight-express-color);
      }

      &-name {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: var(--blackcurrant-color-medium);

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    &-stats {
      border: 2px solid var(--secondary-color);
      box-sizing: border-box;
      border-radius: 6px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      align-self: center;
      justify-content: center;
      color: var(--secondary-color);
      text-transform: none;

      @include sm {
        border: 0;
        margin-right: 3px;
        padding: 10px;
      }
    }
  }

  &-teams {
    padding-bottom: 60px;

    @include sm {
      margin-bottom: 110px;
    }
  }

  &-team {
    margin-bottom: 19px;

    &-info {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20.4px;
      line-height: 28px;
      color: var(--white);
      margin-bottom: 11px;

      @include sm {
        color: var(--tolopea-color);
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-member {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 18px;
      border-bottom: 1px solid var(--midnight-express-color);
      padding-top: 14px;
      position: relative;
      padding-left: 16px;

      @include sm {
        // padding: 13px ​3px 17px 0px;
        padding-right: 3px;
        padding-left: 0px;
        padding-top: 13px;
        padding-bottom: 17px;
      }

      &-ava {
        background-image: url(../../../../assets/icons/ava-image.svg);
        width: 49px;
        height: 49px;
        border-radius: 999px;
        margin-right: 16px;
        margin-top: 2px;
        display: flex;
        align-self: center;
      }

      &-info {
        width: 53%;

        @include sm {
          width: 65%;
        }
      }

      &-name {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20.3px;
        line-height: 28px;
        color: var(--white);

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-id {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16.3px;
        line-height: 24px;
        color: var(--tolopea-color);

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-option {
        background-color: transparent;
        position: absolute;
        right: 16px;
        top: 16px;
        // border: 1px solid var(--tolopea-color);
        // border-radius: 999px;
        width: 48px;
        height: 48px;

        @include sm {
          border: 0;
          align-self: center;
          width: 40px;
          text-align: end;
          position: static;
        }
      }

      &-option ::ng-deep svg path {
        fill: var(--main-color) !important;
      }

      &-slug {
        width: 159px;
        height: 44px;
        border: 2px solid var(--tertiary-color);
        box-sizing: border-box;
        border-radius: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        padding: 10px 20px;
        justify-content: space-between;
        position: absolute;
        right: 90px;
      }

      &-status {
        align-self: center;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        width: 22.5%;
        text-align: end;
        display: none;

        &.ready {
          color: var(--ui-win);
        }

        &.waiting {
          color: #eb7019;
        }
      }

      &-caption {
        color: var(--ui-win);

        &.caption-mobile {
          display: none;

          @include sm {
            display: block;
          }
        }
      }
      &-divider {
        &.divider-mobile {
          display: none;

          @include sm {
            display: block;
          }
        }
      }
    }
  }

  &-group-chat {
    width: 360px;
    // height: 500px;
    background: var(--midnight-express-color);
    border-radius: 20px 20px 0px 0px;
    position: fixed;
    bottom: 72px;
    right: calc(50% - 1155px / 2 - 31px);

    @include sm {
      left: calc(50% - 297px / 2 - 31px);
      right: unset;
      bottom: 0;
    }

    &-header {
      background: var(--white);
      border-radius: 20px 20px 0px 0px;
      display: flex;
      flex-direction: row;
      height: 72px;
      padding: 16px;

      &-ava-team {
        width: 40px;
        height: 40px;
        background: var(--ui-win);
        margin-right: 12px;
        border-radius: 999px;
        background-image: url(../../../../assets/icons/group-chat.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
      }

      &-info {
        margin-right: 104px;

        &-title {
          font-family: Archivo;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.1px;
          color: var(--blackcurrant-color-medium);
        }

        &-count-member {
          font-family: Red Hat Text;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2px;
          color: var(--tertiary-color);
        }
      }

      &-btn-mini {
        background-color: var(--white);
        width: 14px;
        height: 2px;
        margin-right: 16px;
      }

      &-btn-close {
        width: 14px;
        height: 14px;
        background-color: var(--white);
      }
    }

    &-content {
      padding: 12px;
      height: 372px;
      overflow-x: scroll;

      &-right {
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;

        &-time {
          font-family: "Red Hat Text";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          text-align: right;
          letter-spacing: 0.2px;
          color: rgba(255, 255, 255, 0.6);
        }

        &-text {
          background: var(--ui-win);
          box-shadow: 0px 2px 2px rgb(0 0 0 / 14%), 0px 3px 1px rgb(0 0 0 / 12%),
            0px 1px 5px rgb(0 0 0 / 20%);
          border-radius: 12px 12px 0px 12px;
          width: fit-content;
          padding: 8px;
          align-self: end;
          margin-bottom: 4px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-align: right;
          color: var(--white);
        }
      }

      &-left {
        margin-bottom: 8px;
        text-align: left;
        display: flex;
        flex-direction: row;

        &-ava {
          background-image: url(../../../../assets/icons/chat-ava.svg);
          width: 24px;
          height: 24px;
          border-radius: 9999px;
          margin-right: 10px;
        }

        &-text {
          background: var(--white);
          box-shadow: 0px 2px 2px rgb(0 0 0 / 14%), 0px 3px 1px rgb(0 0 0 / 12%),
            0px 1px 5px rgb(0 0 0 / 20%);
          border-radius: 12px 12px 12px 0px;
          width: fit-content;
          padding: 8px;
          margin-bottom: 4px;

          &-name {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: var(--secondary-color);
            margin-bottom: 4px;
          }

          &-mess {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--blackcurrant-color-medium);
          }
        }

        &-time {
          font-family: "Red Hat Text";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          text-align: left;
          letter-spacing: 0.2px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }

    &-boxSend {
      height: 56px;
      border-top: 1px solid rgba(255, 255, 255, 0.12);

      & form {
        height: 100%;
      }

      & input,
      & input::placeholder {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.38);
      }
      & form ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0 12px;
        background-color: var(--midnight-express-color);
      }
      & form ::ng-deep .mat-form-field {
        width: 88%;
      }
      & form ::ng-deep .mat-form-field-underline {
        display: none;
      }
      & form ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0.75em 0 0.75em 0;
        display: flex;
      }
      & form ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 5px;
        padding-top: 8px;
      }
      & form ::ng-deep .mat-form-field-infix {
        border-top: 0;
      }
      &
        form
        ::ng-deep
        .mat-form-field-appearance-fill
        .mat-form-field-underline::before {
        display: none;
      }
      &-submit {
        background-color: var(--midnight-express-color);
        /* width: 17.5px; */
        /* height: 15px; */
        padding-left: 10px;
        border-left: 1px solid var(--tolopea-color);

        & ::ng-deep svg {
          width: 17.5px;
          height: 15px;
          margin-bottom: 5px;
        }
      }

      &-tool {
        width: 39%;
        display: flex;
        justify-content: space-between;
      }

      &-tools {
        background-color: var(--midnight-express-color);
      }
    }
  }
}
.MatchLobby-guideBar {
  background: var(--blackcurrant-color-medium);
  box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%),
    0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  left: 0;
  right: 0;
  padding: 12px 24px 16px 49px;

  @include sm {
    padding: 16px 24px;
    top: 64px;
    bottom: unset;
    height: 80px;
    flex-direction: column-reverse;
  }

  &-htplay {
    &-btn {
      height: 48px;
      background: var(--white);
      border-radius: 6px;
      width: 154px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--secondary-color);

      @include sm {
        display: none;
      }
    }

    &-content {
      position: fixed;
      bottom: 81px;
      left: 27px;
      width: 376px;
      height: 412px;
      background: var(--white);
      border-radius: 20px;
      padding: 32px 29px 32px 29px;

      &-wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--black-light);
        z-index: 101;
      }

      @include sm {
        width: 322px;
        height: 462px;
        left: 0;
        bottom: 0;
        padding: 32px 25px 32px 34px;
        position: relative;
      }

      &-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--blackcurrant-color-medium);
        margin-bottom: 7px;
      }

      &-step {
        display: flex;
        padding: 17px 0 11px;
        border-bottom: 1px solid var(--tolopea-medium-color);

        &-fimg {
          background-image: url(../../../../assets/icons/match-lobby/copy-guides.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          width: 14%;
          height: 22px;
          margin-right: 19px;
        }

        &-simg {
          background-image: url(../../../../assets/icons/match-lobby/invite-guides.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          height: 12px;
          width: 14%;
          margin-right: 17px;
          margin-top: 7.5px;
        }

        &-timg {
          background-image: url(../../../../assets/icons/match-lobby/enjoy-guides.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          width: 15.6%;
          height: 28px;
          margin-right: 18px;
        }

        &-text {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--blackcurrant-color-medium);
        }
      }
    }
  }

  &-playerReady {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-right: 44px;
    display: flex;

    @include sm {
      display: none;
    }

    &-svg {
      margin-right: 16px;
      display: flex;

      & ::ng-deep svg {
        height: 100%;
      }
    }
  }

  &-btn-ready {
    @include sm {
      width: 100%;
    }

    & button {
      background: var(--secondary-color);
      border-radius: 6px;
      width: 133px;
      height: 48px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-white-medium);

      @include sm {
        width: 100%;
      }
    }
  }
}
