<!-- <app-header-spark
  
  [title]="'Join Tournament'"
></app-header-spark> -->




<!-- <section class="SelectMembers-aside" >
    <div class="SelectMembers-aside-icon-block" >
      <img
        class="SelectMembers-aside-icon"
        src="assets/icons/matchmaking/members.svg"
        alt="icon"
      />
    </div>
  </section> -->

<!-- <main class="SelectMembers-main">
    <h1 class="SelectMembers-title">
      {{ "MATCHMAKING.SELECT_MEMBERS.TITLE" | translate }}
    </h1>
  
    <div class="SelectMembers-players" >
      <div class="SearchPlayers"> -->
<!-- <p class="SearchPlayers-heading" *ngIf="heading">
          {{ heading | translate }}
        </p> -->

<!-- <header class="SearchPlayers-header">
          <img
            class="SearchPlayers-header-icon"
            lazyLoad="assets/icons/search.svg"
            alt="icon"
          />
      
          <input
            class="SearchPlayers-header-field"
            type="text"
            [placeholder]="
              'MATCHMAKING.SELECT_MEMBERS.SEARCH_PLACEHOLDER' | translate
            "
            [(ngModel)]="text"
          />
        </header>
      
        <div class="SearchPlayers-list"> -->
<!-- <h3 class="SearchPlayers-list-title" *ngIf="listTitle">
            {{ listTitle | translate }}
          </h3> -->

<!-- <ul class="SearchPlayers-items" *ngIf="players.length">
            <li
              class="SearchPlayers-item"
              *ngFor="let player of filteredPlayer(); let idx = index"
            >
              <div class="SearchPlayers-item-info">
                <div class="SearchPlayers-item-image" [lazyLoad]="player.image"></div>
                <p class="SearchPlayers-item-name">
                  {{ player.nickname }}
                </p>
              </div>
              <div
                class="SearchPlayers-item-toggle"
                [class.active]="player.isSelected"
                (click)="addPlayer(idx)"
              >
                <img
                  *ngIf="!player.isSelected"
                  class="SearchPlayers-item-toggle-icon icon plus"
                  src="assets/icons/plus.svg"
                  alt="icon"
                />
                <img
                  *ngIf="player.isSelected"
                  class="SearchPlayers-item-toggle-icon icon check"
                  src="assets/icons/check.svg"
                  alt="icon"
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <section class="SelectMembers-buttons">
      <button class="SelectMembers-button button-secondary" [routerLink]="AppHtmlRoutes.play">
        {{ "BUTTON.CANCEL" | translate }}
      </button>
  
      <button class="SelectMembers-button button-icon-secondary" [routerLink]="AppHtmlJoinTournamentRoutes.registration">
        <mat-icon> arrow_back </mat-icon>
        <span>
          {{ "BUTTON.BACK" | translate }}
        </span>
      </button>
  
      <button
        class="SelectMembers-button button-primary" (click)="confirm()"
        [routerLink]="AppHtmlJoinTournamentRoutes.teamdetails"
      >
        {{ "BUTTON.CONFIRM" | translate }}
      </button>
    </section>
  </main>
  <app-header-spark
  ></app-header-spark>
  
  <header class="MyTeams-header">
      <div class="MyTeams-header-image" lazyLoad="assets/images/Profile/teams/header-bg.png"></div>
    </header>
    
    <section class="MyTeams-about">
      <div class="MyTeams-about-header">
        <h1 class="MyTeams-about-header-title global-Elipses">
          PROFILE.MY_TEAMS.ABOUT.TITLE
        </h1>
    
        <button class="MyTeams-about-header-button button-icon-primary" [routerLink]="'/create-team'">
          <mat-icon> add </mat-icon>
          <span>
            BUTTON.CREATE_TEAM
          </span>
        </button>
      </div>
    
      <h4 class="MyTeams-about-subtitle">
        PROFILE.MY_TEAMS.ABOUT.SUBTITLE
      </h4>
    
      <img class="MyTeams-about-icon" lazyLoad="assets/icons/sentences/prepare-your-team.svg" alt="icon" />
    </section>
    
    <section class="MyTeams-control">
      <div class="MyTeams-control-toggles global-MatToggles" >
        My teams
          <div class="MyTeams-control-toggle" >
              <a class="MyTeams-control-link" >
              PROFILE.MY_TEAMS.TOGGLES.MY_TEAMS
              </a>
    
              <ng-template ngbNavContent>
              <div class="MyTeams-cards">
                  <h3 class="MyTeams-cards-title">
                  PROFILE.MY_TEAMS.CONTROL.YOUR_TEAMS
                  </h3>
                  <div class="MyTeams-cards-list" >
                  </div>
              </div>
              </ng-template>
          </div>
    
          Team requests
          <div class="MyTeams-control-toggle">
              <a class="MyTeams-control-link" >
              PROFILE.MY_TEAMS.TOGGLES.TEAM_REQUESTS
              </a>
    
              <ng-template ngbNavContent>
                  <div class="MyTeams-cards">
                      <h3 class="MyTeams-cards-title">
                      PROFILE.MY_TEAMS.CONTROL.TEAM_REQUESTS
                      </h3>
                      <div class="MyTeams-cards-list">
                              <div class="TeamCard">
                                  <div class="TeamCard-image"></div>
                              
                                  <div class="TeamCard-info">
                                      <h3 class="TeamCard-info-name">
                                      item.name
                                      </h3>
                                      <p class="TeamCard-info-description">
                                       item.teamsLength 
                                      PROFILE.COMPONENTS.TEAM_CARD.PLAYERS
                                          
                                      
                                          item.createtdAt
                                          PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO
                                      
                                      </p>
                                  </div>
                                  
                                  <div class="TeamCard-manage">
                                          <button class="TeamCard-manage-button button-secondary">
                                              BUTTON.REJECT
                                          </button>
                                  
                                          <button class="TeamCard-manage-button button-primary">
                                              BUTTON.ACCEPT
                                          </button>
                                  
                                  </div>
                              </div>
                      </div>
                  </div>
              </ng-template>
          </div>
      </div>
    
      <div class="MyTeams-control-content"></div>
    </section>
    <app-fullscreen-loading ></app-fullscreen-loading> -->





<section class="teamGame">
  <div class="teamGame-manage">
    <h3 class="teamGame-manage-title">
      {{ "JOIN_TOURNAMENT.TEAM_MEMBERS.SELECTED_TEAM" | translate }}
    </h3>
    <div class="teamGame-manage-logo">
      <div class="teamGame-manage-logo-background"></div>
      <div class="teamGame-manage-logo-content">
        <div class="teamGame-manage-logo-content-image"></div>
        <div class="teamGame-manage-logo-content-text">
          <div class="teamGame-manage-logo-content-card-name">P-Crown</div>
          <div class="teamGame-manage-logo-content-card-no-member">5 team members</div>
        </div>

      </div>
    </div>
    <h4 class="teamGame-manage-descrip">
      {{ "JOIN_TOURNAMENT.TEAM_MEMBERS.ADD_FRIEND" | translate }}
    </h4>
    <a class="teamGame-manage-button-manage" (click)="joinManageTeam()">
      {{ "JOIN_TOURNAMENT.TEAM_MEMBERS.MANAGE_TEAM" | translate }}
    </a>
  </div>
  <div class="teamGame-member">
    <h3 class="teamGame-member-title">
      {{ "JOIN_TOURNAMENT.TEAM_MEMBERS.TITLE" | translate }}
    </h3>
    <h2 class="teamGame-member-subtitle">
      {{ "JOIN_TOURNAMENT.TEAM_MEMBERS.SUB_TITLE" | translate }}
    </h2>
    <p class="teamGame-member-count-member">{{ players.length}} {{ "JOIN_TOURNAMENT.TEAM_MEMBERS.MEMBERS" | translate }} </p>
    <div class="teamGame-member-list" *ngIf="players.length">
      <div class="teamGame-member-list-wrapp" *ngFor="let player of filteredPlayer(); let idx = index">
        <div class="teamGame-member-list-contentLeft">
          <div class="teamGame-member-list-ava" [lazyLoad]="player.image"></div>
          <div class="teamGame-member-list-info">
            <div class="teamGame-member-list-info-name">{{ player.nickname }}</div>
            <div class="teamGame-member-list-info-id">{{ "JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_ID" | translate }}:
              Farhorndah_98</div>
          </div>
        </div>
        <div class="teamGame-member-list-contentRight">
          <div class="SearchPlayers-item-toggle" [class.active]="player.isSelected" (click)="addPlayer(idx)">
            <button class="teamGame-member-list-btn"
              [ngClass]="{'added':player.isSelected,'add':!player.isSelected}"></button>
            <div class="teamGame-member-list-btn-text" [ngClass]="{'added':player.isSelected,'add':!player.isSelected}">
              {{ player.isSelected ? 'Added' : 'Add' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<div class="teamGame-button">
  <p class="teamGame-button-guide">0 {{ "JOIN_TOURNAMENT.TEAM_MEMBERS.OUT_OF" | translate }} {{ players.length}} {{
    "JOIN_TOURNAMENT.TEAM_MEMBERS.MEMBER_SELECTED" | translate }}</p>
  <button class="teamGame-button-next" (click)="confirm()">
    {{ "JOIN_TOURNAMENT.TEAM_MEMBERS.ENTER" | translate }}
  </button>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>