@import "shared";

// :host {
//   @extend %u-dfStart;
// }

// .SelectMembers-aside {
//   flex-shrink: 0;
//   margin-right: px2vw-xl(15px);

//   @include lg {
//     margin-right: px2vw-lg(15px);
//   }

//   @include md {
//     margin-right: px2vw-md(15px);
//   }

//   @include sm {
//     margin-right: px2vw-sm(15px);
//   }

//   &-icon-block {
//     @extend %u-dfCenterCenter;
//     height: px2vw-xl(56px);
//     width: px2vw-xl(97px);

//     @include lg {
//       height: px2vw-lg(56px);
//       width: px2vw-lg(97px);
//     }

//     @include md {
//       height: px2vw-md(56px);
//       width: px2vw-md(97px);
//     }

//     @include sm {
//       height: px2vw-sm(56px);
//       width: px2vw-sm(97px);
//     }
//   }

//   &-icon {
//     height: px2vw-xl(32px);
//     width: px2vw-xl(39.11px);

//     @include lg {
//       height: px2vw-lg(32px);
//       width: px2vw-lg(39.11px);
//     }

//     @include md {
//       height: px2vw-md(32px);
//       width: px2vw-md(39.11px);
//     }

//     @include sm {
//       height: px2vw-sm(32px);
//       width: px2vw-sm(39.11px);
//     }
//   }
// }

// .SelectMembers-main {
//   @extend %u-dfStart;
//   flex-direction: column;
//   flex-grow: 1;
// }

// .SelectMembers-title {
//   @extend %global-H4;
//   margin-bottom: px2vw-xl(16px);
//   color: var(--white);

//   @include lg {
//     margin-bottom: px2vw-lg(16px);
//   }

//   @include md {
//     margin-bottom: px2vw-md(16px);
//   }

//   @include sm {
//     margin-bottom: px2vw-sm(16px);
//   }
// }

// .SelectMembers-players {
//   margin-bottom: px2vw-xl(30px);
//   width: 100%;

//   @include lg {
//     margin-bottom: px2vw-lg(30px);
//   }

//   @include md {
//     margin-bottom: px2vw-md(30px);
//   }

//   @include sm {
//     margin-bottom: px2vw-sm(30px);
//   }
// }

// .SelectMembers-buttons {
//   @extend %u-dfCenter;
//   margin-top: auto;
// }

// .SelectMembers-button {
//   margin-right: px2vw-xl(8px);

//   @include lg {
//     margin-right: px2vw-lg(8px);
//   }

//   @include md {
//     margin-right: px2vw-md(8px);
//   }

//   @include sm {
//     margin-right: px2vw-sm(8px);
//   }

//   &:last-child {
//     margin-right: 0;
//   }
// }

.SearchPlayers {
  &-heading {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(31.5px);
    border-bottom: px2vw-xl(2px) solid var(--white-light);
    padding-bottom: px2vw-xl(16.5px);
    width: 100%;

    @include lg {
      margin-bottom: px2vw-lg(31.5px);
      border-bottom-width: px2vw-lg(2px);
      padding-bottom: px2vw-lg(16.5px);
    }

    @include md {
      margin-bottom: px2vw-md(31.5px);
      border-bottom-width: px2vw-md(2px);
      padding-bottom: px2vw-md(16.5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(31.5px);
      border-bottom-width: px2vw-sm(2px);
      padding-bottom: px2vw-sm(16.5px);
    }
  }

  &-header-icon {
    margin-right: px2vw-xl(19.5px);
    height: px2vw-xl(17.5px);
    width: px2vw-xl(17.5px);
    cursor: pointer;

    @include lg {
      margin-right: px2vw-lg(19.5px);
      height: px2vw-lg(17.5px);
      width: px2vw-lg(17.5px);
    }

    @include md {
      margin-right: px2vw-md(19.5px);
      height: px2vw-md(17.5px);
      width: px2vw-md(17.5px);
    }

    @include sm {
      margin-right: px2vw-sm(19.5px);
      height: px2vw-sm(17.5px);
      width: px2vw-sm(17.5px);
    }
  }

  &-header-field {
    @extend %subtitle-1;
    flex-grow: 1;
    background-color: transparent;
    color: var(--white);
  }

  &-list {
    width: 100%;
  }

  &-list-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-items {
    overflow: hidden;
    margin-bottom: 0;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(8px);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(8px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(8px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(8px);
    }
  }

  &-item {
    @extend %u-dfCenterBtw;
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(12px);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(12px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(12px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(12px);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &-item-info {
    @extend %u-dfCenter;
  }

  &-item-image {
    margin-right: px2vw-xl(8px);
    border-radius: 50%;
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-item-name {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white);
  }

  &-item-toggle {
    @extend %u-dfCenterCenter;
    overflow: hidden;
    border-radius: px2vw-xl(2px);
    // height: px2vw-xl(30px);
    // width: px2vw-xl(30px);
    transition: $global-transition;
    cursor: pointer;
    display: flex;
    align-self: center;

    &:hover {
      opacity: 0.8;
    }
  }

  &-item-toggle-icon {
    user-select: none;

    &.plus {
      height: px2vw-xl(14px);
      width: px2vw-xl(14px);

      @include lg {
        height: px2vw-lg(14px);
        width: px2vw-lg(14px);
      }

      @include md {
        height: px2vw-md(14px);
        width: px2vw-md(14px);
      }

      @include sm {
        height: px2vw-sm(14px);
        width: px2vw-sm(14px);
      }
    }

    &.check {
      height: px2vw-xl(13.41px);
      width: px2vw-xl(17.59px);

      @include lg {
        height: px2vw-lg(13.41px);
        width: px2vw-lg(17.59px);
      }

      @include md {
        height: px2vw-md(13.41px);
        width: px2vw-md(17.59px);
      }

      @include sm {
        height: px2vw-sm(13.41px);
        width: px2vw-sm(17.59px);
      }
    }
  }
}

// @import "shared";

:host {
  @extend %u-dfStretch;
  padding-top: 0.601067vw;
  // padding-bottom: px2vw-xl(10px);
  min-height: 40vw;
  height: 100%;
  display: block;

  @include lg {
    // height: px2vw-lg(658px);
    // padding-top: 0.601067vw;
    // padding-bottom: px2vw-lg(10px);
  }

  @include md {
    // height: px2vw-md(658px);
    // padding-top: px2vw-md(24px);
    // padding-bottom: px2vw-md(10px);
  }

  @include sm {
    // height: px2vw-sm(658px);
    // padding-top: 4px;
    // padding-bottom: px2vw-sm(10px);
  }
}

.teamGame {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 4.05vw;
  padding-top: 79px;

  @include md {
    margin-left: 0;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column-reverse;
    padding-top: 53px;
  }

  &-manage {
    max-width: 220px;
    width: 100%;

    @include sm {
      max-width: unset;
    }

    @media only screen and (min-width: 1600px) {
      width: 20%;
    }

    @include md {
      width: 100%;
      margin-bottom: 120px;
    }

    @include sm {
      // padding-bottom: 16px;
      // border-bottom: 1px solid var(--midnight-express-color);
    }

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.87);
      margin-bottom: 16px;
      mix-blend-mode: normal;
      margin-left: 6px;
      margin-top: 3px;

      @include sm {
        margin-left: 0;
        margin-bottom: 8px;
      }
    }

    &-logo {
      display: flex;
      flex-direction: column;
      margin-bottom: 20.5px;

      @include sm {
        margin-bottom: 8.5px;
      }

      &-background {
        height: 112px;
        width: 100%;
        background-image: url(../../../../../assets/images/banner-team-game.png);
        background-color: var(--black-dark);
        border-radius: 20px 20px 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;

        @include sm {
          display: none;
        }
      }

      &-content {
        height: 112px;
        width: 100%;
        position: relative;
        // padding-left: 27px;
        background: var(--midnight-express-color);
        border-radius: 0px 0px 20px 20px;

        @include sm {
          padding: 16px 24px;
          height: 72px;
          display: flex;
          border-radius: 12px;
        }

        &-image {
          width: 56px;
          height: 56px;
          border-radius: 999px;
          position: absolute;
          top: -19px;
          left: 85px;
          background-image: url(../../../../../assets/images/image-team-game.png);
          background-position: center;
          filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.14))
            drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.12))
            drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));

          @include md {
            left: auto;
          }
          @include sm {
            width: 40px;
            height: 40px;
            position: static;
          }
        }

        &-card-name {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--white);
          margin-top: 44px;
          padding-left: 5px;
          text-align: center;

          @include sm {
            margin-top: 0;
            padding-left: 15px;
            line-height: 21px;
            font-weight: 600;
            text-align: left;
          }
        }

        &-card-no-member {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: var(--tertiary-color);
          text-align: center;

          @include sm {
            padding-left: 15px;
          }
        }
      }
    }

    &-descrip {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16.2px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.87);
      padding-left: 4px;
      margin-bottom: 14px;

      @include sm {
        padding-left: 0;
        margin-bottom: 15px;
      }
    }

    &-button-manage {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      background-color: transparent;

      @include sm {
        // background: var(--white);
        // border: 2px solid var(--secondary-color);
        // box-sizing: border-box;
        // border-radius: 6px;
        // width: 100%;
        // padding: 10px;
      }
    }
  }

  &-member {
    width: 63.3vw;
    margin-top: -14px;
    padding-right: 15px;

    @media only screen and (min-width: 1600px) {
      width: 70%;
    }

    @include md {
      width: 100%;
      margin-top: -0;
    }

    @include sm {
      padding-right: 0;
    }

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 8px;
      margin-left: 3px;

      @include md {
        font-size: 24px;
        line-height: 32px;
        margin: 1px 0 23.5px;
      }
    }

    &-subtitle {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16.2px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.87);
      mix-blend-mode: normal;
      margin-bottom: 51px;
      margin-left: 3px;

      @include sm {
        margin-left: 0;
        margin-bottom: 16px;
      }
    }

    &-count-member {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--tolopea-color);
      margin-bottom: 8px;

      @include md {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-list {
      // padding-left: 15px;
      margin-bottom: 100px;

      @include md {
        padding-left: 0;
        margin-bottom: 0;
      }

      @include md {
        margin-bottom: 24px;
      }

      &-wrapp {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--midnight-express-color);
        padding-top: 16px;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        justify-content: space-between;

        @include sm {
          padding: 16px 0 15px;
        }
      }

      &-wrapp:last-child {
        border-bottom: 0;
        padding-bottom: 17px;

        @include sm {
          border-bottom: 1px solid var(--midnight-express-color);
        }
      }

      &-wrapp:first-child .teamGame-member-list-add {
        @include sm {
          display: none;
        }
      }

      &-wrapp:first-child .teamGame-member-list-info-id {
        @include sm {
          display: none;
        }
      }

      &-contentLeft {
        width: 80%;
        display: flex;
        align-items: center;
      }

      &-contentRight {
        display: flex;
        align-items: center;
      }

      &-ava {
        background-image: url(../../../../../assets/icons/ava-image.svg);
        width: 49px;
        height: 49px;
        border-radius: 999px;
        margin-right: 16px;
        margin-top: 2px;
        background-size: cover;

        @include sm {
          margin-top: 0;
        }
      }

      &-info {
        align-self: center;

        &-name {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: var(--white);

          @include sm {
            font-size: 16px;
            line-height: 24px;
          }
        }

        &-id {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--tolopea-color);
        }
      }

      &-btn {
        width: 20px;
        height: 20px;
        background-color: var(--black-dark);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 8px;
        // position: absolute;
        // top: 33px;
        // right: 38px;

        @include sm {
          background-image: url(../../../../../assets/icons/three-dots-vertical-team.svg);
          width: 32px;
          height: 32px;
          top: 23px;
          right: 0px;
        }

        &-text {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;

          @include sm {
            display: none;
          }

          &.add {
            color: var(--main-color);
          }

          &.added {
            color: var(--green);
          }
        }

        &.add {
          background-image: url(../../../../../assets/icons/join-tournament/Icon-plus.svg);
        }

        &.added {
          background-image: url(../../../../../assets/icons/join-tournament/Icon-check.svg);
        }
      }
    }
  }

  &-button {
    // box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%), 0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
    padding: 12px 20px 12px;
    display: flex;
    justify-content: end;
    background-color: var(--blackcurrant-color-medium);
    margin-top: -8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    right: 0;

    @include sm {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 37px;
    }

    &-guide {
      margin-bottom: 0;
      align-self: center;
      margin-right: 16px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--tolopea-color);

      @include sm {
        margin-bottom: 16px;
        margin-right: 0;
      }
    }
    &-next {
      background: var(--secondary-color);
      border-radius: 6px;
      padding: 12px 32px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-white-medium);

      @include sm {
        width: 100%;
        height: 48px;
      }
    }
  }
}
