<footer class="Footer">
  <div class="u-wp">
    <div class="Footer-sectionA">
      <p class="Copyright sectionA">
        {{ "FOOTER.COPY_RIGHT" | translate }}
      </p>
    </div>

    <div class="Footer-sectionB">
      <p class="Copyright sectionB">
        {{ "FOOTER.COPY_RIGHT" | translate }}
      </p>

      <div class="Footer-sectionB-navigation">
        <a
          class="Footer-sectionB-navigation-link global-Text"
          *ngFor="let item of navigation"
          [routerLink]="item.link"
        >
          {{ item.text | translate }}
        </a>
      </div>
    </div>
  </div>
</footer>
