<div class="UploadImage" [formGroup]="customFormGroup">
  <h2 class="UploadImage-title global-Title3">
    {{ title }}
  </h2>
  <h3 class="UploadImage-subtitle global-Text">
    {{ subtitle }}
  </h3>

  <label class="UploadImage-label" [for]="id">
    <img
      class="UploadImage-label-preview"
      *ngIf="(customFormGroup?.controls)[customFormControlName]?.value"
      [src]="(customFormGroup?.controls)[customFormControlName]?.value"
      formationLazyImage
    />

    <ng-container
      *ngIf="
        !isProcessing &&
        !(customFormGroup?.controls)[customFormControlName]?.value
      "
    >
      <div *ngIf="id == 'LOGO'" class="UploadImage-info">
        <img
          class="UploadImage-info-image"
          src="assets/icons/tournament/upload-image.svg"
          alt="upload icon"
        />
        <h3 class="UploadImage-info-title global-Title3">
          {{ "UPLOAD_IMAGE.LOGO" | translate }}
        </h3>
        <p class="UploadImage-info-text global-Text2">
          {{ "UPLOAD_IMAGE.LOGO_SIZE" | translate }}
        </p>
      </div>
      <div *ngIf="id == 'Banner1'" class="UploadImage-info">
        <img
          class="UploadImage-info-image"
          src="assets/icons/tournament/upload-image.svg"
          alt="upload icon"
        />
        <h3 class="UploadImage-info-title global-Title3">
          {{ "UPLOAD_IMAGE.BANNER" | translate }}
        </h3>
        <p class="UploadImage-info-text global-Text2">
          {{ "UPLOAD_IMAGE.BANNER_SIZE" | translate }}
        </p>
      </div>
    </ng-container>
  </label>

  <input
    (change)="eventChange($event)"
    style="display: none"
    [id]="id"
    #banner
    type="file"
    accept="image/jpeg, image/jpg, image/png"
    aria-describedby="inputGroupFileAddon01"
  />
</div>

<div
  *ngIf="
    (customFormGroup?.controls)[customFormControlName]?.touched &&
    (customFormGroup?.controls)[customFormControlName].errors
  "
>
  {{
    (customFormGroup?.controls)[customFormControlName].errors
      | errorPipe
      | translate
  }}
</div>
