@import "shared";

html {
  scroll-behavior: smooth;
}

.about {
  figure.about-us-bg {
    background-image: url(https://paidia-image.s3.ca-central-1.amazonaws.com/stage/home/about-bg.jpg);
    background-size: cover;
    background-position: center;
  }

  &_banner {
    div.videoAboutUs {
      ::ng-deep iframe {
        width: 100%;
      }
    }

    position: relative;

    &>img {
      width: 100%;
    }

    .bug_bot {
      position: absolute;
      bottom: -18%;
      right: 7%;
      width: 260px;
      z-index: 1;

      @media (max-width: 768px) {
        right: 0%;
        width: 176px;

        img {
          width: 100%;
        }
      }

      @media (max-width: 556px) {
        width: 28%;
      }
    }

    figcaption {
      position: absolute;
      width: 100%;
      bottom: 0%;
      transform: translateY(-180%);
      left: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;


      strong {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 25px;
      }

      .scroll_down {
        width: 80px;
        height: 80px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--color-secondary);
        border-radius: 50%;
        margin-top: -53px;

        @media (max-width: 768px) {
          width: 45px;
          height: 45px;

          img {
            width: 10px;
          }
        }
      }

      @media (max-width: 768px) {
        transform: translateY(-50%);

        &>img {
          width: 180px;
        }
      }

      @media (max-width: 450px) {
        transform: translateY(-26%);

        strong {
          font-size: 14px;
          margin-bottom: 16px;
        }

        &>img {
          width: 116px;
        }

        .scroll_down {
          width: 35px;
          height: 35px;
          margin-top: 16px;
        }
      }
    }
  }

  .about_content {
    position: relative;
    height: auto;
    overflow: hidden;
    padding: 95px 0px 40px 0px;

    &>figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;

      &>img {
        width: 100%;
        opacity: 1;
        float: right;
        height: 95%;
        object-fit: contain;
      }
    }

    &>figcaption {
      position: relative;
    }

    .about_box {
      width: 652px;
      max-width: calc(100%);
      position: relative;
      margin-inline: 216px;
      padding-inline: 5px;

      @include md {
        margin-left:px2vw-md(0px);

      }

      @media (max-width: 600px) {
        // max-width: calc(100% - 60px);
        max-width: calc(100%);
        margin-left:px2vw-sm(10px);
      }

      .top_arrow {
        position: absolute;
        top: -40px;
        left: -65px;
        width: 96px;
        height: 96px;

        @include sm{
          position: absolute;
          top:px2vw-sm(-20px);
          left:px2vw-sm(-20px);
          width:px2vw-sm(56px);
          height:px2vw-sm(56px);
        }

        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
        }

        &:after {
          height: 100%;
          border-left: 1px solid var(--color-secondary);
          left: 10px;
          top: -10px;
        }

        &:before {
          width: 100%;
          border-top: 1px solid var(--color-secondary);
        }
      }

      .bottom_arrow-height {
        height: 96px;
      }

      .bottom_arrow {
        position: absolute;
        bottom: -60px;
        right: -40px;
        width: 96px;

        &:after,
        &:before {
          content: "";
          position: absolute;
          bottom: 10px;
          left: 0;
        }

        &:after {
          height: 100%;
          border-right: 1px solid var(--color-secondary);
          right: 10px;
          bottom: 0px;
        }

        &:before {
          width: 100%;
          border-top: 1px solid var(--color-secondary);
        }
      }

      h2 {
        font-size: 24px;
        color: var(--color-secondary);
        text-transform: uppercase;
        margin-bottom: 35px;
        line-height: 24px;

        span {
          display: block;
          color: var(--color-primary);
        }

        @media (max-width: 600px) {
          font-size: 13px;
          line-height: 19px;
          margin-bottom: 18px;

          &>span {
            display: inline-block;
          }
        }
      }

      p {
        color: rgba(250, 250, 250, 0.87);

        @media (max-width: 600px) {
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }

  section.Partners-game.u-wp {
    margin-top: 5vw;

    header.Partners-game-header {
      text-align: center;
      margin-bottom: 1rem;
    }

    .Partners-game-card-image {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      grid-gap: 5vw;
      width: 100%;
      overflow: hidden;

      img {
        margin: auto;

        @include xl {
          width:  px2vw-xl(100px);
        }
        @include lg {
          width:  px2vw-lg(100px);
        }
        @include md {
          width:  px2vw-md(150px);
        }
        @include sm {
          width:  px2vw-sm(150px);
        }
      }
    }

    h2.Partners-game-title {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  section.guides_section {
    background: var(--ash8);
    padding: 3rem 0;

    .guides_header {
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
      padding: 2rem 0;
    }

    .guides_description {
      text-align: center;
      padding: 0 0 2rem;
      margin: auto;
      color: var(--white);
      font-family: "redhat-regular";
      opacity: 67%;
    }

    .guides_image {
      text-align: center;
      padding-bottom: 2vw;
    }

    .guide_body.testimonials {
      margin: 4rem;
    }

    .item.testimonialBox {
      border: none !important;
      transform: unset !important;
      text-align: center !important;
      opacity: 1;
    }

    .testinomial_header {
      border-bottom: none !important;
      display: block;
      margin: auto;
      text-align: center;
      padding-top: 2vw;

      h6 {
        font-size: 1rem;
        font-weight: 700;
        margin: auto;
        color: var(--white);
      }

      span {
        color: var(--white);
        font-family: "redhat-regular";
        opacity: 67%;
      }

      .testimonial_icon {
        position: absolute;
        object-fit: scale-down;
        top: 2rem;
        left: 4rem;
      }
    }

    .testinomial_box[_ngcontent-serverApp-c547] .guides_user[_ngcontent-serverApp-c547] span[_ngcontent-serverApp-c547] {
      display: inline-block;
      width: 200px;
      height: 200px;
      padding: 8px;
      overflow: hidden;
    }

    .guides_user {
      transform: translateY(0);
      margin-top: 0 !important;

      span {
        background: none !important;
        border-radius: unset;
      }
    }
  }

  .teams_section {
    position: relative;
    padding: 20px 0px 80px;

    .teams_header {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;

      @media (max-width: 768px) {
        margin-bottom: 30px;
      }

      strong {
        font-size: 17px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      img {
        @media (max-width: 600px) {
          width: 116px;
        }
      }
    }

    .team_bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;

      img {
        width: 100%;
      }
    }
  }
}

.testinomial_box {
  .testinomial_header {
    display: none;
    // padding: 10px 15px;
    padding: 12px;

    h6 {
      font-size: 24px;
      text-transform: uppercase;
      color: var(--color-primary);
      font-family: Archivo;
      font-style: normal;
      font-weight: 900;
      line-height: 24px;
      letter-spacing: 0.18px;

      strong {
        font-size: 14px;
        display: block;
        text-transform: uppercase;
      }
    }
  }

  .testinomial_user {
    text-align: center;
    margin-top: 0px;
    position: relative;
    transform: translateY(-100%);

    span {
      display: inline-block;
      width: 140px;
      height: 140px;
      padding: 8px;
      background:var(--ash5);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &:after {
      content: "";
      width: 100%;
      position: absolute;
      background:var(--ash7);
      top: -29px;
      left: 0;
      height: 272px;
      z-index: -1;
      opacity: 0;
    }
  }

  .testinomial_bio {
    display: none;
    padding: 24px;

    small {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;

      img {
        width: auto;
      }
    }

    strong {
      display: block;
      margin-bottom: 16px;
    }

    p {
      @media (max-width: 600px) {
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
}

.plusVector {
  position: absolute;
  margin-top: 14rem;
}

.smallDot {
  position: absolute;
  margin-top: 25rem;
  margin-left: 8rem;
}

.artical_header {
  font-family: "Archivo";
  font-weight: 900;
}

.about_banner {
  background-image: url(../../../assets/images/AboutUs/about-bg.jpg);
  background-size: cover;
  background-position: center;
}

.about_banner {
  background-image: url(../../../assets/images/AboutUs/about-bg.jpg);
}

.p {
  font-style: normal;
  font-weight: normal;
  font-family: "redhat-regular";
  color: #ffffff;
  opacity: 87%;
  font-size: 16px;
  line-height: 24px;
}

.p2Carousel {
  font-family: "redhat-regular";
  font-weight: 500;
}

// .fixedOuterCardBorder{
//     position: absolute;
//     border: 1px solid yellow;
//     height: 44.5rem;
//     width: 30.2rem;
//     margin-inline: 26.6rem;
// }

.testimonialBox {
  width: 414px;
  margin-left: -91px;

  @include sm {
    width: 100%;
        margin-left: px2vw-sm(2px);
  }

  .testinomial_box .testinomial_user{
     @include sm {
        transform: translateY(-115%);
  }
   }
}

::ng-deep .guide_body .testimonial_slider {
  .owl-nav {
    min-width: 90vw !important;
  }



  .testinomial_box .testinomial_user:after {
    content: none;
  }
}

::ng-deep .guide_body.testimonials .owl-stage {
  transform: unset !important;
}

::ng-deep .owl-carousel .owl-item img {
  display: block;
  width: unset;
}

@include md{
  .about {
    figure.about-us-bg {
      // display: none;
      min-height: px2vw-md(400px); 

      .videoAboutUs{
        display: none;
      }
    }
  }
}

@include sm{
  .about {
    figure.about-us-bg {
      // display: none;
      min-height: px2vw-sm(400px); 

      .videoAboutUs{
        display: none;
      }
    }
  }
}

// @include sm{
//   .about_box {
//     display: none;
// }
// @include sm{
// section.Partners-game.u-wp {
//   margin-top: 5vw;
//   display: none;
// }
// }
// @include sm{
//   .teams_section {
//     position: relative;
//     padding: 20px 0px 80px;
//     display: none;
// }
// }



// @include sm{
// ::ng-deep .top_arrow {
//     left: -208px;
//     width: 40px;
//     height: 48px;
//   }
// }

