<div class="TeamCard" *ngIf="data">
    <div class="TeamCard-image" [lazyLoad]="data?.logo"></div>
    <!-- <a [routerLink]="['public-profile/',data?.userId ]"> -->
      <a href="public-profile/{{ data?.userId }}">
  <div class="TeamCard-info">
    <h3 class="TeamCard-info-name" *ngIf="data?.participantType == 'team'" >
      {{ data?.teamName || data.name }}
    </h3>
    <h3 class="TeamCard-info-name" *ngIf="data?.participantType != 'team'" >
      {{ data.name }}
    </h3>
    <p class="TeamCard-info-description">
      {{ data?.inGamerUserId }} • {{ data?.participantType }}
      <!-- {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} • -->

      <!-- <ng-container *ngIf="data.createtdAt === 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }}
      </ng-container>

      <ng-container *ngIf="data.createtdAt > 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAYS_AGO" | translate }}
      </ng-container> -->
    </p>
  </div>
</a>


    <div class="TeamCard-manage">
      <ng-container *ngIf="isManage">
        <button class="TeamCard-manage-button button-secondary">
          {{ "BUTTON.REJECT" | translate }}
        </button>

        <!-- <button class="TeamCard-manage-button button-primary">
          {{ "BUTTON.ACCEPT" | translate }}
        </button> -->
      </ng-container>

      <ng-container *ngIf="isManage">
        <button
          class="TeamCard-manage-button-menu"
          [matMenuTriggerFor]="matchMenu"
          #t="matMenuTrigger"
        >
          <mat-icon class="TeamCard-manage-button-menu-icon"> more_vert </mat-icon>
        </button>

        <mat-menu
          class="global-MatMenu team-card"
          #matchMenu="matMenu"
          xPosition="before"
        >
          <div class="TeamCard-manage-menu menu">
            <!-- VIEW -->
            <!-- <a class="TeamCard-manage-menu-link link" [routerLink]="['/view-team',123]">
              <mat-icon class="icon"> remove_red_eye </mat-icon>
              <span class="text">
                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.VIEW" | translate }}
              </span>
            </a> -->

            <!-- MANAGE TEAM -->
            <!-- <a class="TeamCard-manage-menu-link link" routerLink="/manage-team">
              <mat-icon class="icon"> people_outline </mat-icon>
              <span class="text">
                {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.MANAGE_TEAM" | translate }}
              </span>
            </a> -->

            <!-- Chat -->
            <a class="TeamCard-manage-menu-link link" routerLink="/manage-team/edit-team">
              <mat-icon class="icon"> chat_bubble_outline </mat-icon>
              <span class="text">
                <!-- {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.EDIT_TEAM" | translate }} -->Chat
              </span>
            </a>

            <!-- Follow -->
            <a class="TeamCard-manage-menu-link link last">
              <mat-icon class="icon"> person_add </mat-icon>
              <span class="text">
                <!-- {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.DELETE_TEAM" | translate }} --> Follow
              </span>
            </a>
          </div>
        </mat-menu>
      </ng-container>
    </div>
  </div>


