<div class="Profile-title">
  {{ "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.TITLE" | translate }}
</div>

<div class="LogReg-error" *ngIf="error">
  {{ error | translate }}
</div>

<form [formGroup]="form" (submit)="onSubmitEvent()">
  <mat-form-field
    *ngIf="user.isPassword"
    class="global-MatInputOutline ChangePassword-input"
    appearance="outline"
  >
    <mat-label>{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.INPUT1" | translate
    }}</mat-label>
    <input formControlName="oldPassword" #zeroInput matInput type="password" />
    <button
      (click)="onVisibilityToggle(zeroInput)"
      type="button"
      matSuffix
      mat-button
    >
      <span class="material-icons"
        >visibility{{ zeroInput.type === "text" ? "_off" : "" }}</span
      >
    </button>
    <mat-error *ngIf="form.get('oldPassword').hasError('required')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION0" | translate
    }}</mat-error>
  </mat-form-field>

  <mat-form-field
    class="global-MatInputOutline ChangePassword-input"
    appearance="outline"
  >
    <mat-label>{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.INPUT2" | translate
    }}</mat-label>
    <input formControlName="password" #firstInput matInput type="password" />
    <button
      (click)="onVisibilityToggle(firstInput)"
      type="button"
      matSuffix
      mat-button
    >
      <span class="material-icons"
        >visibility{{ firstInput.type === "text" ? "_off" : "" }}</span
      >
    </button>
    <mat-error *ngIf="form.get('password').hasError('required')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION0" | translate
    }}</mat-error>
    <!-- <mat-error *ngIf="form.get('password').hasError('minlength')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION1" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('password').hasError('hasNumber')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION2" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('password').hasError('hasCapitalCase')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION3" | translate
    }}</mat-error> -->
    <mat-error *ngIf="form.get('password').hasError('hasCharacter')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION4" | translate
    }}</mat-error>
   <!-- <mat-error *ngIf="form.get('password').hasError('hasSpecialCharacters')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION5" | translate
    }}</mat-error> -->
  </mat-form-field>

  <mat-form-field
    class="global-MatInputOutline ChangePassword-input"
    appearance="outline"
  >
    <mat-label>{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.INPUT3" | translate
    }}</mat-label>
    <input
      formControlName="certainPassword"
      #secondInput
      matInput
      type="password"
    />
    <button
      (click)="onVisibilityToggle(secondInput)"
      type="button"
      matSuffix
      mat-button
    >
      <span class="material-icons"
        >visibility{{ secondInput.type === "text" ? "_off" : "" }}</span
      >
    </button>
    <mat-error *ngIf="form.get('certainPassword').hasError('required')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION0" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('certainPassword').hasError('equalTo')">{{
      "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.VALIDATION6" | translate
    }}</mat-error>
  </mat-form-field>

  <div class="ChangePassword-buttons">
    <button
      class="ChangePassword-button cancel global-EditBtn is-sm"
      (click)="cancel()"
    >
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button
      type="submit"
      [class.is-edit]="form.invalid"
      [disabled]="form.invalid"
      class="ChangePassword-button change-password global-EditBtn is-sm"
    >
      {{ "PROFILE.PROFILE_SETTING.CHANGE_PASSWORD.BTN" | translate }}
    </button>
  </div>
</form>
