@import "shared";

:host {
  display: block;
}

.TournamentType {
  &-title {
    margin-bottom: px2vw-xl(17px);
    font-size: px2vw-xl(20px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(17px);
      font-size: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(20px);
      text-align: center;
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(24px);
    }
  }

  &-radios {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(55px);
    border-radius: px2vw-xl(10px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: px2vw-xl(40px) px2vw-xl(50px);

    @include lg {
      grid-column-gap: px2vw-lg(55px);
      border-radius: px2vw-lg(10px);
      padding: px2vw-lg(40px) px2vw-lg(50px);
    }

    @include md {
      grid-column-gap: px2vw-md(20px);
      border-radius: px2vw-md(10px);
      padding: px2vw-md(40px) px2vw-md(20px);
    }

    @include sm {
      grid-template-columns: repeat(2, px2vw-sm(208px));
      // grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-column-gap: px2vw-sm(20px);
      grid-row-gap: px2vw-sm(35px);
      border-radius: px2vw-sm(10px);
      padding: px2vw-sm(40px) px2vw-sm(20px);
    }
  }

  &-radio {
    text-align: center;

    ::ng-deep {
      .mat-radio-outer-circle {
        border-color: var(--base-white);
      }

      .mat-radio-checked {
        .mat-radio-outer-circle {
          border-color: var(--color-primary) !important;
        }

        .mat-radio-inner-circle {
          background-color: var(--color-primary);
        }
      }
    }
  }

  &-radio-title {
    margin-bottom: 0;
    text-transform: capitalize;
    color: var(--base-white);

    @include sm {
      font-size: px2vw-sm(24px);
      font-family: "redhat-regular", sans-serif !important;
    }
  }

  &-radio-text {
    margin-top: px2vw-xl(20px);
    margin-bottom: 0;

    @include lg {
      margin-top: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      font-size: px2vw-sm(18px);
    }
  }




}