@import "shared";

:host {
  display: block;
}

.TournamentName {
  .image-demo {
    .box-image {
      img {
        width: 72px;
        height: 40px;
      }
    }
  }
  background-color: var(--purple-bg);
  position: relative;
  padding: 80px 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  background-image: url("../../../../../../assets/images/Tournament/create/quick.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    padding: 70px 0 0 0;
  }

  @include md {
    padding: 64px 0 0 0;
  }

  &-container {
    min-height: 100vh;
    flex-direction: column;
    max-width: 666px;
    padding-top: 88px;
    padding-bottom: 164px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 100%;
    @include lg {
      padding-top: 70px;
    }

    @include md {
      padding-top: 56px;
    }
  }

  &-switcher-container {
    margin-top: auto;
  }

  &-title {
    margin-bottom: 31px;
    color: var(--base-white);
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    @include lg {
      margin-bottom: 30px;
    }

    @include md {
      margin-bottom: 24px;
    }

    @include sm {
      margin-bottom: 16px;
      padding-right: 10px;
    }
  }

  &-input {
    margin-bottom: 48px;
    width: 100%;

    @include lg {
      margin-bottom: 30px;
    }

    @include md {
      margin-bottom: 24px;
    }
  }
}
.TournamentName-Optional {
  position: relative;
  width: 100%;
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: var(--purple-4);
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    @include md {
      padding: 16px;
    }
    .text {
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--base-white);
      font-family: "stc-forward-regular";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
    }
    .icon-toggle {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      border: 2px solid var(--tertiary-color);
      box-sizing: border-box;
      border-radius: 16px;
      width: 32px;
      height: 32px;
      position: relative;
      &.active {
        &::after {
          content: none;
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../../../../../../assets/icons/matchmaking/platforms/minus.png");
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("../../../../../../assets/icons/matchmaking/platforms/plus.png");
      }
    }
  }
  .content {
    margin-top: 24px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.active {
      height: 100%;
      overflow: visible;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column-reverse;
    }
    .TournamentNameLabel {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      label.form-label {
        display: flex;
        align-items: flex-end;
        color: var(--base-white);
        display: block;
        margin-bottom: 4px;
        font-family: "stc-forward-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.5px;
      }
      span.optional {
        font-weight: 500;
        display: -webkit-inline-flex;
        display: inline-flex;
        align-items: flex-end;
        text-align: right;
        color: var(--base-white);
        display: none;
      }
    }
    .TournamentName-textarea {
      margin-bottom: 2rem;
      .TournamentNameTextarea {
        .form-textarea {
          width: 100%;
          padding: 12px 16px;
          background: var(--purple-2);
          border: 2px solid var(--purple-2);
          box-sizing: border-box;
          border-radius: 8px;
          min-height: 96px;
          font-weight: 500;
          color: var(--white);
          &::placeholder {
            color: var(--base-white);
          }
          &:focus {
            outline: 2px solidvar(--main-color);
          }
        }
      }
    }
    .TournamentName-File {
      margin-bottom: 2rem;
      .TournamentNameFile {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;

        @include md {
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
        }

        .box-input-file {
          width: 100%;
          position: relative;
          max-width: calc(100% - 126px);
          padding: 14px 24px;
          background: var(--purple-2);
          border: 2px solid var(--purple-2);
          border-radius: 8px;
          &:hover {
            border: 2px solidvar(--main-color);
          }
          @include md {
            max-width: 100%;
            margin-bottom: 16px;
          }

          .form-file {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            color: var(--base-white);
          }
          .form-file-btn {
            font-weight: 500;
            color: var(--base-white);
            &.activeinputfile {
              color: var(--white);
            }
          }
        }
        .input-group-btn {
          @include md {
            width: 100%;
            max-width: 100%;
          }
          button.btn {
            padding: 10px 30px;
            background: var(--orange-bar);
            border: 2px solid var(--orange-bar);
            box-sizing: border-box;
            border-radius: 6px;
            text-transform: capitalize;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            color: var(--base-white);
            @include md {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
      .notice {
        color: var(--base-white);
        font-family: "stc-forward-regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.visiblity_header_link {
  display: flex;
  align-items: flex-end;
  color: var(--base-white);
}

.TournamentName-visiblity {
  width: 100%;
  position: relative;
  .visiblity_header_link {
    margin-bottom: 12px;
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  .lists-cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 0 24px;
    @include md {
      gap: 0 24px;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      max-width: 189px;
      height: 128px;
      background: var(--purple-4);
      border: 1px solid var(--purple-4);
      border-radius: 8px;
      padding: 29px 0px 12px;
      cursor: pointer;
      margin-bottom: 20px;
      @media only screen and (max-width: 768px) {
        width: 138px;
        height: 112px;
      }

      @media only screen and (max-width: 414px) {
        width: 155px;
        height: 112px;
      }
      @include md {
        max-width: calc(100% / 2 - 8px);
        margin-bottom: 16px;
        height: 104px;
        padding: 24px 0px 16px;
      }

      .icon {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--base-white);
        }
        @include sm {
          margin-bottom: 8px;
        }
      }
      .text {
        text-align: center;
        color: var(--base-white);
      }
      &.active {
        background: var(--base-white);
        .text {
          color: var(--primary-purple);
        }
        .icon {
          ::ng-deep svg path {
            transition: 200ms linear;
            fill: var(--primary-purple);
          }
        }
      }
    }
  }
}
