@import "shared";

.container-winners {
  margin-top: 10px;
  border-radius: 5px;
  padding: 44px 0 116px;
  text-align: center;

  > .row {
    justify-content: center;
    align-items: flex-end;
    margin-top: 73px;
  }
}

.imgBlock{
  @include sm{
    display: inline-table;
  }
}

.imgBox {
  @include textClamp(1);
}

.img-winner {
  margin-right: 15px;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-color: var(--base-01);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: auto;
}

.place {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--base-04);
  border-radius: 5px;

  div {
    width: 123px;
    height: 123px;
    background-size: cover !important;
  }

  &.second {
    border-bottom: 9px solid var(--base-02);
    height: 232px;
  }

  &.first {
    border-bottom: 9px solid var(--ui-warning);
    height: 308px;

    div {
      width: 156px;
      height: 156px;
    }
  }

  &.three {
    border-bottom: 9px solid var(--ui-trophy);
    height: 195px;
  }
}

.col-lg-3 {
  .row {
    margin-bottom: 34px;
    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-size: 18px;
      line-height: normal;
      color: var(--base-01);
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .place {
    div {
      width: 96px;
      height: 96px;
    }

    &.first {
      height: 278px;

      div {
        width: 126px;
        height: 126px;
      }
    }

    &.second {
      height: 202px;
    }

    &.three {
      height: 165px;
    }
  }

  .img-winner {
    width: 70px;
    height: 48px;
    margin-right: 18px;
  }

  .col-lg-3 .row p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .container-winners {
    padding: 44px 50px 116px;

    > .row {
      .col-lg-3 {
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;

        p {
          font-size: 16px;
        }

        .row {
          margin-bottom: 0;
        }

        &:first-child {
          display: block;
          order: 2;
          margin-bottom: 20px;
        }

        &:nth-child(2) {
          display: block;
          order: 1;
          margin-bottom: 20px;
        }

        &:last-child {
          display: block;
          order: 3;
        }
      }
    }
  }

  .place {
    height: auto !important;
    padding: 20px;
    // margin-right: 30px;

    div {
      width: 70px !important;
      height: 70px !important;
    }
  }

  .img-winner {
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .img-winner {
    margin-inline: auto;
  }

  .container-winners {
    padding: 44px 20px;

    > .row {
      .col-lg-3 {
        justify-content: center;

        .row {
          flex-direction: row-reverse;

          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
