@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "base/typography";
@import "abstract/functions";

.InboxMessageItem {
  @extend %u-dfStartBtw;

  &-img {
    min-width: px2vw-xl(50px);
    padding-left: px2vw-lg(10px);
    width: px2vw-xl(50px);
    height: px2vw-xl(50px);
    background: var(--primary-purple);
    border-radius: 50%;
    font-weight: 600px;
    padding-top: px2vw-lg(5px);
    font-size: px2vw-lg(20px);
    color: var(--base-white);

    @include lg {
      margin-right: px2vw-lg(20px);
      min-width: px2vw-lg(50px);
      width: px2vw-lg(50px);
      height: px2vw-lg(50px);
    }

    @include md {
      margin-right: px2vw-md(20px);
      min-width: px2vw-md(50px);
      width: px2vw-md(50px);
      height: px2vw-md(50px);
    }

    @include sm {
      margin-right: px2vw-sm(20px);
      min-width: px2vw-sm(50px);
      width: px2vw-sm(50px);
      height: px2vw-sm(50px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-name {
    font-size: px2vw-xl(18px);
    margin-bottom: px2vw-xl(15px);
    font-family: "stc-forward-light", sans-serif;

    @include lg {
      font-size: px2vw-lg(18px);
      margin-bottom: px2vw-lg(15px);
    }

    @include md {
      font-size: px2vw-md(18px);
      margin-bottom: px2vw-md(15px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      margin-bottom: px2vw-sm(15px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(33px);
    font-family: "stc-forward-semibold", sans-serif;
    font-size: px2vw-xl(20px);
    color: var(--base-01);

    @include lg {
      margin-bottom: px2vw-lg(33px);
      font-size: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(33px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(33px);
      font-size: px2vw-sm(20px);
    }
  }

  &-body {
    margin-bottom: px2vw-xl(18px);
    color: inherit;

    @include lg {
      margin-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
    }
  }

  &-data {
    margin-bottom: px2vw-xl(28px);
    font-size: px2vw-xl(18px);
    font-family: "stc-forward-light", sans-serif;

    @include lg {
      margin-bottom: px2vw-lg(28px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(28px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
      font-size: px2vw-sm(18px);
    }
  }

  &-footer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: px2vw-xl(21px);
    width: 70%;

    @include lg {
      padding-bottom: px2vw-lg(21px);
    }

    @include md {
      padding-bottom: px2vw-md(21px);
    }

    @include sm {
      padding-bottom: px2vw-sm(21px);
    }

    .global-IconBtn {
      font-size: px2vw-xl(18px);
      color: inherit;

      @include lg {
        font-size: px2vw-lg(18px);
      }

      @include md {
        font-size: px2vw-md(18px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
      }

      fa-icon {
        margin-left: px2vw-xl(10px);

        @include lg {
          margin-left: px2vw-lg(10px);
        }

        @include md {
          margin-left: px2vw-md(10px);
        }

        @include sm {
          margin-left: px2vw-sm(10px);
        }
      }
    }
  }

  &-create {
    width: 100%;

    textarea {
      @extend %global-Text;
      padding: px2vw-xl(19px) px2vw-xl(30px);
      border-radius: px2vw-xl(10px);
      min-height: px2vw-xl(171px);
      border: px2vw-xl(2px) solid var(--base-white-smoke);
      width: 100%;
      background: none;

      @include lg {
        padding: px2vw-lg(19px) px2vw-lg(30px);
        border-radius: px2vw-lg(10px);
        min-height: px2vw-lg(171px);
        border-width: px2vw-lg(2px);
      }

      @include md {
        padding: px2vw-md(19px) px2vw-md(30px);
        border-radius: px2vw-md(10px);
        min-height: px2vw-md(171px);
        border-width: px2vw-md(2px);
      }

      @include sm {
        padding: px2vw-sm(19px) px2vw-sm(30px);
        border-radius: px2vw-sm(10px);
        min-height: px2vw-sm(171px);
        border-width: px2vw-sm(2px);
      }
    }
  }

  &-top {
    @extend %u-dfStartBtw;
  }

  &.is-create {
    margin-top: px2vw-xl(30px);
    flex-flow: column;
  }

  &.is-create &-name {
    margin-bottom: px2vw-xl(61px);
    margin-left: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(61px);
    }

    @include md {
      margin-bottom: px2vw-md(61px);
    }

    @include sm {
      margin-bottom: px2vw-sm(61px);
    }
  }

  &.is-preview {
    padding-top: px2vw-xl(19px);

    @include lg {
      padding-top: px2vw-lg(19px);
    }

    @include md {
      padding-top: px2vw-md(19px);
    }

    @include sm {
      padding-top: px2vw-sm(19px);
    }
  }

  &.is-preview &-body {
    padding-top: px2vw-xl(14px);

    @include lg {
      padding-top: px2vw-lg(14px);
    }

    @include md {
      padding-top: px2vw-md(14px);
    }

    @include sm {
      padding-top: px2vw-sm(14px);
    }
  }

  &-wp {
    width: 100%;
    margin-left: px2vw-sm(10px);
  }
}
