@import "shared";

.featured {
  width: 282px;

  &:hover .featured-image {
    border: 1px solid var(--main-color);
  }
  &:hover .gamename {
    cursor: pointer;
    color: var(--main-color);
  }

  &-image {
    width: 282px;
    height: 362px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    @include md {
      width: 100%;
      height: 200px;
    }

    @include sm {
      width: 100%;
      height: 200px;
    }
  }

  @include md {
    width: 100%;
    height: 237px;
  }

  @include sm {
    width: 100%;
    height: 237px;
  }

  .fg_valorant {
    background-image: url(/assets/images/games/fg_valorant.png);
  }

  .fg_lol {
    background-image: url(/assets/images/games/fg_lol.png);
  }

  .fg_dota2 {
    background-image: url(/assets/images/games/fg_dota2.png);
  }

  .fg_csgo {
    background-image: url(/assets/images/games/fg_csgo.png);
  }

  .featureHover {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

.gamename {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  text-align: center;

  &.mt-md-2 {
    margin-top: 1rem !important;
  }

  @include md {
    font-size: 16px;
  }

  @include sm {
    font-size: 16px;
  }
}
