@import "shared";

.global-scrollbar {
  width: 100%;
}

.RewardConfigurations {
  &-main {
    padding: px2vw-xl(50px) px2vw-xl(50px);
    background: transparent;

    @include lg {
      padding: px2vw-lg(60px) px2vw-lg(70px);
      margin-top: px2vw-lg(70px);
    }

    @include md {
      padding: px2vw-md(60px) px2vw-md(70px);
      margin-top: px2vw-md(70px);
    }

    @include sm {
      padding: px2vw-sm(60px) px2vw-sm(70px);
      margin-top: px2vw-sm(70px);
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: px2vw-xl(60px);

    @include lg {
      margin-top: px2vw-lg(60px);
    }

    @include md {
      margin-top: px2vw-md(60px);
    }

    @include sm {
      margin-top: px2vw-sm(30px);
      flex-flow: column;
    }

    &-btns {
      width: 100%;
      text-align: end;
      margin-bottom: 10px;

      @include sm {
        margin-top: px2vw-sm(30px);
      }

      button {
        margin-left: px2vw-xl(30px);

        @include lg {
          margin-left: px2vw-lg(30px);
        }

        @include md {
          margin-left: px2vw-md(30px);
        }

        @include sm {
          margin-left: px2vw-sm(30px);
        }

        &:first-child {
          margin: 0;
        }
      }
    }

    &.is-btw {
      justify-content: space-between;
    }
  }

  &-boxA {
    @extend %u-dfEndBtw;

    @include md {
      flex-flow: wrap;
    }

    @include sm {
      align-items: center;
      flex-flow: column;
    }

    &-item {
      @extend %u-dfCenterBtw;
      margin-bottom: px2vw-xl(85px);

      @include lg {
        margin-bottom: px2vw-lg(85px);
      }

      @include md {
        margin-bottom: px2vw-md(85px);
      }

      @include sm {
        flex-flow: column;
        margin-bottom: px2vw-sm(85px);
      }

      &.is-first {
        flex-flow: column;
        align-items: flex-start;
      }

      &-color {
        width: px2vw-xl(50px);
        height: px2vw-xl(50px);
        margin-left: px2vw-xl(10px);
        border: none;
        color: transparent;

        @include lg {
          width: px2vw-lg(50px);
          height: px2vw-lg(50px);
          margin-left: px2vw-lg(10px);
        }

        @include md {
          width: px2vw-md(50px);
          height: px2vw-md(50px);
          margin-left: px2vw-md(10px);
        }

        @include sm {
          width: px2vw-sm(50px);
          height: px2vw-sm(50px);
          margin: px2vw-sm(10px) 0 0;
        }
      }

      &-upload {
        @extend %u-dfCenterCenter;
        border: 1px dashed var(--white-disabled);
        border-radius: px2vw-xl(5px);
        margin-top: px2vw-xl(13px);
        width: px2vw-xl(180px);
        height: px2vw-xl(180px);
        color: var(--white-disabled);
        background-color: var(--black);
        background-size: cover;
        background-position: center;

        @include lg {
          margin-top: px2vw-lg(13px);
          border-radius: px2vw-lg(5px);
          width: px2vw-lg(180px);
          height: px2vw-lg(180px);
        }

        @include md {
          margin-top: px2vw-md(13px);
          border-radius: px2vw-md(5px);
          width: px2vw-md(180px);
          height: px2vw-md(180px);
        }

        @include sm {
          margin-top: px2vw-sm(13px);
          border-radius: px2vw-sm(5px);
          width: px2vw-sm(180px);
          height: px2vw-sm(180px);
        }

        &-info {
          width: 86%;
          margin: 0 auto;
          text-align: center;

          button {
            margin-top: px2vw-xl(13px);
            background-color: var(--ui-nero);
            width: 100%;
            padding: 0;

            @include lg {
              margin-top: px2vw-lg(13px);
            }

            @include md {
              margin-top: px2vw-md(13px);
            }

            @include sm {
              margin-top: px2vw-sm(13px);
            }
          }
        }
      }
    }
  }

  &-boxB {
    @extend %u-dfEndBtw;
    flex-flow: wrap;

    @include md {
      flex-flow: column;
    }

    &-item {
      @extend %u-dfCenterBtw;
      margin-bottom: px2vw-xl(85px);
      width: 38%;

      @include lg {
        margin-bottom: px2vw-lg(85px);
      }

      @include md {
        margin-bottom: px2vw-md(85px);
        width: 100%;
      }

      @include sm {
        margin-bottom: px2vw-sm(85px);
      }

      &-input {
        width: px2vw-xl(154px);
        height: px2vw-xl(64px);
        border: px2vw-xl(2px) solid var(--white-medium);
        border-radius: px2vw-xl(10px);
        padding: 0 px2vw-xl(15px);
        font-size: px2vw-xl(20px);
        background: transparent;

        @include lg {
          width: px2vw-lg(154px);
          height: px2vw-lg(64px);
          border-width: px2vw-lg(2px);
          border-radius: px2vw-lg(10px);
          padding: 0 px2vw-lg(15px);
          font-size: px2vw-lg(20px);
        }

        @include md {
          width: px2vw-md(154px);
          height: px2vw-md(64px);
          border-width: px2vw-md(2px);
          border-radius: px2vw-md(10px);
          padding: 0 px2vw-md(15px);
          font-size: px2vw-md(20px);
        }

        @include sm {
          width: px2vw-sm(154px);
          height: px2vw-sm(64px);
          border-width: px2vw-sm(2px);
          border-radius: px2vw-sm(10px);
          padding: 0 px2vw-sm(15px);
          font-size: px2vw-sm(20px);
        }
      }
    }
  }

  &-boxC {
    @extend %u-dfStartBtw;
    padding-bottom: px2vw-xl(30px);

    @include lg {
      padding-bottom: px2vw-lg(30px);
    }

    @include md {
      padding-bottom: px2vw-md(30px);
      flex-flow: column;
      align-items: center;
    }

    @include sm {
      padding-bottom: px2vw-sm(30px);
    }

    &-title {
      font-size: px2vw-xl(24px);
      padding: px2vw-xl(50px) 0 0;
      font-family: "source-sans-pro";
      flex: 2;

      @include lg {
        font-size: px2vw-lg(24px);
        padding: px2vw-lg(50px) 0 0;
      }

      @include md {
        font-size: px2vw-md(24px);
        padding: 0 0 px2vw-md(30px);
        text-align: center;
        flex: initial;
      }

      @include sm {
        font-size: px2vw-sm(24px);
        padding: 0 0 px2vw-sm(30px);
      }
    }

    &-info {
      flex: 10;

      @include md {
        width: 100%;
        flex: initial;
      }

      &-title {
        padding-left: px2vw-xl(20px);

        @include lg {
          padding-left: px2vw-lg(20px);
        }

        @include md {
          padding-left: 0;
          text-align: center;
        }
      }
    }

    &-banner {
      @extend %u-dfCenterCenter;
      margin: px2vw-xl(13px) 0 px2vw-xl(50px);
      border: 1px dashed var(--white-disabled);
      border-radius: px2vw-xl(5px);
      height: px2vw-xl(400px);
      background-color: var(--black);
      background-size: cover;
      background-position: center;
      color: var(--white-disabled);

      @include lg {
        height: px2vw-lg(400px);
        border-radius: px2vw-lg(5px);
        margin: px2vw-lg(13px) 0 px2vw-lg(50px);
      }

      @include md {
        height: px2vw-md(400px);
        border-radius: px2vw-md(5px);
        margin: px2vw-md(13px) 0 px2vw-md(50px);
      }

      @include sm {
        height: px2vw-sm(400px);
        border-radius: px2vw-sm(5px);
        margin: px2vw-sm(13px) 0 px2vw-sm(50px);
      }

      &-info {
        width: 86%;
        margin: 0 auto;
        text-align: center;

        button {
          margin-top: px2vw-xl(13px);
          background-color: var(--ui-nero);

          @include lg {
            margin-top: px2vw-lg(13px);
          }

          @include md {
            margin-top: px2vw-md(13px);
          }

          @include sm {
            margin-top: px2vw-sm(13px);
          }
        }
      }
    }

    &-footer {
      @extend %u-dfEndBtw;

      @include md {
        flex-flow: column;
        align-items: flex-end;
      }

      &-left {
        flex: 10;

        @include md {
          width: 100%;
          flex: initial;
        }
      }

      &-right {
        padding: 0 0 px2vw-xl(35px);
        flex: 2;
        text-align: right;

        @include lg {
          padding: 0 0 px2vw-lg(35px);
        }

        @include md {
          padding: 0 0 px2vw-md(35px);
          flex: initial;
        }

        @include sm {
          padding: 0 0 px2vw-sm(35px);
        }

        &-btn {
          color: rgba(245, 245, 245, 0.58);
        }
      }
    }
  }
}
.btn-theme{
  background-color: #bbf55a;
}
.btn-cancel{
  background-color: #736cff;
}
::ng-deep{
  .RewardConfigurations-boxB-item-input {
    width: 10.6944444444vw;
    height: 3.444444vw !important;
    border: 0.1388888889vw solid rgb(225 225 225 / 60%) !important;
    border-radius: 0.6944444444vw;
    padding: 0 1.0416666667vw;
    font-size: 1.3888888889vw;
    background: transparent;
}
  .global-DataTable .datatable-body-row, .global-DataTable .datatable-header {
    border-bottom: 1px solid #ccc;
    cursor: default;
}
}
