<app-header-log-reg> </app-header-log-reg>
<section class="LogReg ss-user-registration">
  <div class="LogReg-container">
    <div class="wrapper">
      <div class="inner">
        <div class="row">
          <div class="col-left">
            <!-- <button class="button-icon-secondary back" routerBack>
              <mat-icon> arrow_back </mat-icon>
              <span> {{ "BUTTON.BACK" | translate }} </span>
            </button> -->
            <img src="assets/images/LogReg/banner-log-reg.png" />
          </div>
          <div class="col-right">
            <ng-container
              *ngIf="
                pageType === AppHtmlRoutesLoginType.registration || isReferel
              "
            >
              <app-submit-form
                *ngIf="registrationActiveStep === 0"
                (submit)="onRegistrationNext($event)"
                [type]="pageType"
                [data]="registrationForm"
              ></app-submit-form>

              <app-password-form
                *ngIf="registrationActiveStep === 1"
                [data]="setPassword"
                [formValue]="registrationData"
                (submit)="onRegistrationStepTwo($event)"
                class="LogReg-body"
              ></app-password-form>

              <app-verification-form
                *ngIf="registrationActiveStep === 2"
                [data]="emailVerification"
                [formValue]="registrationData"
                (submit)="registrationEmailOtp($event)"
                [type]="pageType"
                class="LogReg-body"
              >
              </app-verification-form>

              <app-congratulation
                *ngIf="registrationActiveStep === 3"
                [data]="registrationComplete"
                [formValue]="registrationData"
                class="LogReg-body"
              ></app-congratulation>
            </ng-container>

            <ng-container
              *ngIf="pageType === AppHtmlRoutesLoginType.phoneLogin"
            >
              <app-submit-form
                (submit)="onLoginNext($event)"
                [type]="pageType"
                [data]="phoneLogin"
              ></app-submit-form>
            </ng-container>

            <ng-container
              *ngIf="pageType === AppHtmlRoutesLoginType.emailLogin"
            >
              <app-submit-form
                (submit)="onLoginNext($event)"
                [type]="pageType"
                [data]="emailLogin"
              ></app-submit-form>

              <!-- <app-phone-no-form
        *ngIf="emailLoginActiveStep === 1"
        (submit)="onPhoneNoNext($event)"
        [type]="pageType"
        [data]="onlyPhoneNo"
        class="LogReg-body"
      ></app-phone-no-form> -->

              <!-- <app-verification-form
        *ngIf="emailLoginActiveStep === 2"
        [data]="loginPhoneVerification"
        [formValue]="phoneNoData"
        [type]="pageType"
        (submit)="phonLoginOtp($event)"
        class="LogReg-body"
      ></app-verification-form> -->
            </ng-container>

            <ng-container
              *ngIf="pageType === AppHtmlRoutesLoginType.forgotPass"
            >
              <app-stepper
                *ngIf="forgotActiveStep > 0"
                [data]="forgotPassStepperList"
                [activeIndex]="forgotActiveStep"
              >
              </app-stepper>

              <app-phone-no-form
                *ngIf="forgotActiveStep === 0"
                (submit)="onForgotNext($event)"
                [type]="pageType"
                [data]="forgotPhoneNo"
              ></app-phone-no-form>

              <app-verification-form
                *ngIf="forgotActiveStep === 1"
                [data]="loginPhoneVerification"
                [formValue]="phoneNoData"
                [type]="pageType"
                (submit)="forgotOtp($event)"
                class="LogReg-body"
              ></app-verification-form>

              <app-password-form
                *ngIf="forgotActiveStep === 2"
                [data]="forgotPassword"
                [formValue]="phoneNoData"
                (submit)="forgotSetPassword($event)"
                class="LogReg-body"
              ></app-password-form>

              <app-congratulation
                *ngIf="forgotActiveStep === 3"
                [data]="forgotComplete"
                [formValue]="phoneNoData"
                class="LogReg-body"
              ></app-congratulation>
            </ng-container>

            <ng-container
              *ngIf="pageType === AppHtmlRoutesLoginType.createPass"
            >
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="image-block">
    <img src="assets/images/LogReg/Register image.png">
   </div>
  <div class="LogReg-main">

  </div> -->
</section>

<app-fullscreen-loading *ngIf="loading"></app-fullscreen-loading>
