<div class="dialog-container p-4">
  <div>
    <label>
      {{
        "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.PAYMENT_DISBURSER"
          | translate
      }}
    </label>
  </div>

  <section class="mt-5 text-center">
    <button
      mat-flat-button
      color="warn"
      class="ml-3"
      (click)="onClose('automated')"
    >
      {{
        "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.AUTOMATED" | translate
      }}
    </button>
    <button
      mat-flat-button
      color="warn"
      class="ml-3"
      (click)="onClose('coupon')"
    >
      {{
        "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.SEND_COUPON_VIA_EMAIL"
          | translate
      }}
    </button>
  </section>

  <button mat-button class="close" (click)="onClose('close')">
    <mat-icon>close</mat-icon>
  </button>
</div>
