@import "shared";

:host {
  display: block;
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(24px);
  }
}

.Ladder-top {
  margin-bottom: px2vw-xl(30px);

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }
}

.Ladder-wrapper {
  @include md {
    flex-direction: column-reverse;
  }
}

.Ladder-left {
  margin-right: px2vw-xl(24px);
  width: px2vw-xl(900px);
  flex-shrink: 0;

  @include lg {
    margin-right: px2vw-lg(24px);
    width: px2vw-lg(750px);
  }

  @include md {
    margin-right: 0;
    margin-bottom: px2vw-md(30px);
    width: 100%;
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }
}

.Ladder-header {
  margin-bottom: px2vw-xl(10px);

  @include lg {
    margin-bottom: px2vw-lg(10px);
  }

  @include md {
    margin-bottom: px2vw-md(10px);
  }

  @include sm {
    margin-bottom: px2vw-sm(10px);
  }

  &-title {
    margin-bottom: px2vw-xl(8px);
    font-weight: bolder;

    @include lg {
      margin-bottom: px2vw-xl(8px);
    }

    @include md {
      margin-bottom: px2vw-xl(8px);
    }

    @include sm {
      margin-bottom: px2vw-xl(8px);
    }
  }

  &-subtitle {
    color: var(--base-black);
  }

  &-button {
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-xl(15px);
    }

    @include md {
      margin-left: px2vw-xl(15px);
    }

    @include sm {
      margin-left: px2vw-xl(15px);
    }

    &:disabled {
      background-color: var(--very-light-grey);
    }
  }
  &-button1 {
    margin-left: auto;

    @include lg {
      margin-left: auto;
    }

    @include md {
      margin-left: auto;
    }

    @include sm {
      margin-left: auto;
    }

    &:disabled {
      background-color: var(--very-light-grey);
    }
  }

  &-button-icon {
    margin-right: px2vw-xl(18px);
    width: px2vw-xl(18px);

    @include lg {
      margin-right: px2vw-lg(18px);
      width: px2vw-lg(18px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      width: px2vw-md(18px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      width: px2vw-sm(18px);
    }
  }
}

.Ladder-players {
  margin-bottom: px2vw-xl(65px);

  @include lg {
    margin-bottom: px2vw-lg(65px);
  }

  @include md {
    margin-bottom: px2vw-md(65px);
  }

  @include sm {
    margin-bottom: px2vw-sm(65px);
  }

  &-item {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    margin-bottom: px2vw-xl(10px);
    text-transform: capitalize;
    display: flex;

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-table {
    .global-scrollbar {
      overflow: hidden;
    }

    .player-sn {
      min-width: px2vw-xl(30px);

      @include lg {
        min-width: px2vw-lg(30px);
      }

      @include md {
        min-width: px2vw-md(30px);
      }

      @include sm {
        min-width: px2vw-sm(30px);
      }
    }

    .player-image {
      margin-left: px2vw-xl(30px);
      border-radius: 50%;
      height: px2vw-xl(62px);
      width: px2vw-xl(62px);
      object-fit: cover;

      @include lg {
        margin-left: px2vw-lg(20px);
        height: px2vw-lg(62px);
        width: px2vw-lg(62px);
      }

      @include md {
        margin-left: px2vw-md(15px);
        height: px2vw-md(62px);
        width: px2vw-md(62px);
      }

      @include sm {
        margin-left: px2vw-sm(10px);
        height: px2vw-sm(62px);
        width: px2vw-sm(62px);
      }
    }

    .gamerId-text {
      margin-bottom: 0;
    }

    .gamerId-icon {
      margin-left: px2vw-xl(20px);
      height: px2vw-xl(20px);
      width: px2vw-xl(20px);
      cursor: pointer;

      @include lg {
        margin-left: px2vw-lg(20px);
        height: px2vw-lg(20px);
        width: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
        height: px2vw-md(20px);
        width: px2vw-md(20px);
      }

      @include sm {
        margin-left: px2vw-sm(20px);
        height: px2vw-sm(20px);
        width: px2vw-sm(20px);
      }
    }

    &-options {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &-option {
      min-width: px2vw-xl(230px);
      padding: px2vw-xl(20px);
      background-color: var(--base-white-smoke);
      border-bottom: 1px solid var(--base-gainsboro);

      @include lg {
        min-width: px2vw-lg(230px);
        padding: px2vw-xl(20px);
      }

      @include md {
        min-width: px2vw-md(230px);
        padding: px2vw-xl(40px);
      }

      @include sm {
        min-width: px2vw-sm(230px);
        padding: px2vw-xl(40px);
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &-option-image-block {
      margin-right: px2vw-xl(20px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);

      @include lg {
        margin-right: px2vw-lg(14px);
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }

      @include md {
        margin-right: px2vw-md(14px);
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }

      @include sm {
        margin-right: px2vw-sm(18px);
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }
    }

    &-option-image {
      max-width: 100%;
      max-height: 100%;
    }

    &-option-text {
      font-size: px2vw-xl(16px);
      line-height: 1;

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }
    }

    ::ng-deep {
      .datatable-row-center {
        display: flex;
      }

      .datatable-header-cell {
        padding: px2vw-xl(20px) 0;

        @include lg {
          padding: px2vw-lg(20px) 0;
        }

        @include md {
          padding: px2vw-md(20px) 0;
        }

        @include sm {
          padding: px2vw-sm(20px) 0;
        }

        // SN
        &:first-child {
          display: flex;
          width: px2vw-xl(200px) !important;
          padding-left: px2vw-xl(35px);

          @include lg {
            width: px2vw-lg(170px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(150px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(120px) !important;
            padding-left: px2vw-sm(5px);
          }
        }

        // Player Name
        &:nth-child(2) {
          display: flex;
          width: px2vw-xl(300px) !important;

          @include lg {
            width: px2vw-lg(275px) !important;
          }

          @include md {
            width: px2vw-md(270px) !important;
          }

          @include sm {
            width: px2vw-sm(150px) !important;
          }
        }

        // Gamer Id
        &:nth-child(3) {
          display: flex;
          width: px2vw-xl(275px) !important;

          @include lg {
            width: px2vw-lg(230px) !important;
          }

          @include md {
            width: px2vw-md(230px) !important;
          }

          @include sm {
            width: px2vw-sm(170px) !important;
          }
        }

        // Menu
        &:nth-child(4) {
          width: px2vw-xl(120px) !important;

          @include lg {
            width: px2vw-lg(75px) !important;
          }

          @include md {
            width: px2vw-md(75px) !important;
          }

          @include sm {
            width: px2vw-sm(55px) !important;
          }
        }
      }

      .datatable-header-cell-label {
        // @extend %global-Text2;
        color: var(--base-submarine);
      }

      .datatable-body-cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto !important;
        padding: px2vw-xl(18px) 0;

        @include lg {
          padding: px2vw-lg(18px) 0;
        }

        @include md {
          padding: px2vw-md(18px) 0;
        }

        @include sm {
          padding: px2vw-sm(18px) 0;
        }

        // SN
        &:first-child {
          width: px2vw-xl(200px) !important;
          padding-left: px2vw-xl(35px);

          @include lg {
            width: px2vw-lg(170px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(150px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(120px) !important;
            padding-left: px2vw-sm(5px);
          }
        }

        // Player Name
        &:nth-child(2) {
          display: flex;
          width: px2vw-xl(300px) !important;

          @include lg {
            width: px2vw-lg(275px) !important;
          }

          @include md {
            width: px2vw-md(270px) !important;
          }

          @include sm {
            width: px2vw-sm(150px) !important;
          }

          .datatable-body-cell-label {
            display: flex;
          }
        }

        // Gamer Id
        &:nth-child(3) {
          width: px2vw-xl(275px) !important;

          @include lg {
            width: px2vw-lg(230px) !important;
          }

          @include md {
            width: px2vw-md(230px) !important;
          }

          @include sm {
            width: px2vw-sm(170px) !important;
          }
        }

        // Menu
        &:nth-child(4) {
          width: px2vw-xl(120px) !important;

          @include lg {
            width: px2vw-lg(75px) !important;
          }

          @include md {
            width: px2vw-md(75px) !important;
          }

          @include sm {
            width: px2vw-sm(55px) !important;
          }
        }
      }

      .datatable-body-cell-label {
        padding: 0;
      }

      .datatable-footer {
        display: none;
      }

      .pager {
        display: none;
      }

      // Solves the problem with freezes on chrome
      .datatable-row-group {
        will-change: transform;
      }
    }
  }
}

.Ladder-right {
  flex-grow: 1;

  @include lg {
    width: 100%;
  }

  @include md {
    margin-bottom: px2vw-md(45px);
  }

  @include sm {
    margin-bottom: px2vw-sm(45px);
  }
}

.Ladder-sectionA {
  margin-bottom: px2vw-xl(30px);

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }

  &-image-block {
    height: px2vw-xl(110px);
    width: 35%;
    background-size: cover;
    background-position: top;
    background-color: var(--base-black-pearl);
    border-radius: 4px;

    @include lg {
      height: px2vw-lg(110px);
    }

    @include md {
      height: px2vw-md(110px);
    }

    @include sm {
      height: px2vw-sm(160px);
    }
  }

  &-info {
    margin-left: px2vw-xl(25px);
    margin-top: px2vw-xl(5px);
    @include lg {
      margin-left: px2vw-lg(25px);
      margin-top: px2vw-lg(5px);
    }

    @include md {
      margin-left: px2vw-md(25px);
      margin-top: px2vw-md(5px);
    }

    @include sm {
      margin-left: px2vw-sm(25px);
      margin-top: px2vw-sm(5px);
    }

    &-title {
      font-weight: bolder;
      font-family: "stc-forward-bold", sans-serif;
      color: var(--base-black);
    }
  }

  &-icon {
    max-height: px2vw-xl(30px);
    max-width: px2vw-xl(242px);

    @include lg {
      max-height: px2vw-lg(30px);
      max-width: px2vw-lg(242px);
    }

    @include md {
      max-height: px2vw-md(30px);
      max-width: px2vw-md(200px);
    }

    @include sm {
      max-height: px2vw-sm(30px);
      max-width: px2vw-sm(242px);
    }
  }
}

.Ladder-sectionB {
  &-step {
    display: flex;
    margin-bottom: px2vw-xl(25px);

    @include lg {
      margin-bottom: px2vw-lg(25px);
    }

    @include md {
      margin-bottom: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .image-block {
        ::ng-deep svg {
          .a {
            fill: var(--suva-grey);
          }
          .b {
            fill: var(--base-submarine);
          }
        }
      }

      .text {
        color: var(--base-submarine);
      }
    }
  }

  &-step-image-block {
    flex-shrink: 0;
    margin-right: px2vw-xl(30px);

    @include lg {
      margin-right: px2vw-lg(30px);
    }

    @include md {
      margin-right: px2vw-md(30px);
    }

    @include sm {
      margin-right: px2vw-sm(30px);
    }

    ::ng-deep svg {
      height: px2vw-xl(50px);
      width: px2vw-xl(50px);

      @include lg {
        height: px2vw-lg(50px);
        width: px2vw-lg(50px);
      }

      @include md {
        height: px2vw-md(50px);
        width: px2vw-md(50px);
      }

      @include sm {
        height: px2vw-sm(50px);
        width: px2vw-sm(50px);
      }
    }
  }

  &-step-text {
    margin-top: px2vw-xl(7px);
    line-height: px2vw-xl(28px);
    letter-spacing: 0.9px;
    color: var(--base-black-pearl);

    @include lg {
      margin-top: px2vw-lg(7px);
      line-height: px2vw-lg(28px);
    }

    @include md {
      margin-top: px2vw-md(7px);
      line-height: px2vw-md(28px);
    }

    @include sm {
      margin-top: px2vw-sm(7px);
      line-height: px2vw-sm(28px);
    }
  }

  &-buttons {
    margin-top: px2vw-xl(22px);
    padding-left: px2vw-xl(80px);

    @include lg {
      margin-top: px2vw-lg(22px);
      padding-left: px2vw-lg(80px);
    }

    @include md {
      margin-top: px2vw-md(28px);
      padding-left: 0;
    }

    @include sm {
      margin-top: px2vw-sm(28px);
    }
  }

  &-button {
    background-color: var(--primary-sunset-light);
  }
}

.Ladder-heading {
  // @extend %global-Title3;
  margin-bottom: 0;
  border-radius: 4px;
  width: 100%;
  padding: px2vw-xl(23px) px2vw-xl(25px);
  font-size: px2vw-xl(20px);
  background-color: var(--base-gainsboro);
  line-height: 1;
  font-weight: bolder;

  @include lg {
    padding: px2vw-lg(23px) px2vw-lg(25px);
    font-size: px2vw-lg(20px);
  }

  @include md {
    padding: px2vw-md(23px) px2vw-md(25px);
    font-size: px2vw-md(20px);
  }

  @include sm {
    padding: px2vw-sm(23px) px2vw-sm(25px);
    font-size: px2vw-sm(20px);
  }

  &.game {
    margin-bottom: px2vw-xl(13px);

    @include lg {
      margin-bottom: px2vw-lg(13px);
    }

    @include md {
      margin-bottom: px2vw-md(13px);
    }

    @include sm {
      margin-bottom: px2vw-sm(13px);
    }
  }

  &.works {
    margin-bottom: px2vw-xl(23px);

    @include lg {
      margin-bottom: px2vw-lg(23px);
    }

    @include md {
      margin-bottom: px2vw-md(23px);
    }

    @include sm {
      margin-bottom: px2vw-sm(23px);
    }
  }
}

::ng-deep {
  .mat-snack-bar-container {
    background: none !important;
  }
}

.disabled {
  color: var(--base-black-pearl);
  cursor: pointer;
}
