<header class="Ladder-top">
  <a class="Ladder-top-link stc-btnBuck" (click)="goBack()">
    <span class="material-icons"> keyboard_arrow_left </span>
    {{ "BUTTON.BACK" | translate }}
  </a>
</header>
<header class="Ladder-header u-dfCenterBtw">
  <div class="Ladder-header-wrapper">
    <h1 class="Ladder-header-title global-Title2">
      {{ "LADDER.TITLE" | translate }}
    </h1>
  </div>
</header>
<div class="Ladder-wrapper u-dfStart">
  <mat-tab-group
    (selectedTabChange)="onTabChanged($event)"
    [(selectedIndex)]="activeTabIndex"
    #tabs
  >
    <mat-tab [label]="'LADDER.TITLE_PARTICIPANTS' | translate">
      <div *ngIf="activeTabIndex == 0" class="Ladder-left">
        <!-- Game Single Table -->

        <!-- ladder Single Table -->
        <section *ngIf="isSingle && playersData.length" class="Ladder-players">
          <h2 class="Ladder-players-title global-Title4">
            {{ "LADDER.TITLE_PARTICIPANTS" | translate }}
          </h2>

          <!-- <mat-tab label= "{{ 'LADDER.TITLE_PARTICIPANTS' | translate }}"> -->
          <div class="Ladder-players-table">
            <div class="global-scrollbar">
              <ngx-datatable
                class="global-DataTable"
                [rows]="playersData"
                [columnMode]="'force'"
                [headerHeight]="'auto'"
                [rowHeight]="'auto'"
                [footerHeight]="'auto'"
                [limit]="10"
              >
                <ngx-datatable-column name="">
                  <ng-template
                    ngx-datatable-cell-template
                    let-row="row"
                    let-rowIndex="rowIndex"
                  >
                    <div class="player u-dfCenter">
                      <span class="player-sn">
                        {{ rowIndex + 1 }}
                      </span>
                      <img
                        class="player-image"
                        [src]="row.logo"
                        alt="player name"
                      />
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="name"
                  name="{{
                    'LADDER.TABLE.COLUMNS.PARTICIPANTS_NAME' | translate
                  }}"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="gamerId u-dfCenter">
                      <p class="gamerId-text">
                        {{ row.name | limitString: 13:"..." }}
                      </p>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="gamerId"
                  name="{{ 'LADDER.TABLE.COLUMNS.GAMER_ID' | translate }}"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="gamerId u-dfCenter">
                      <p class="gamerId-text">
                        {{ row.inGamerUserId | limitString: 29:"..." }}
                      </p>
                      <img
                        class="gamerId-icon"
                        src="assets/icons/ladder/link.svg"
                        alt="link"
                        [cdkCopyToClipboard]="row.inGamerUserId"
                        (click)="showCopySnackbar()"
                        matTooltip="{{ 'LADDER.COPY_GAME_ID' | translate }}"
                      />
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
          <!-- </mat-tab> -->
        </section>

        <!-- Teams Tables -->
        <section *ngIf="!isSingle && teamsData.length" class="Ladder-players">
          <ul class="Ladder-players-list">
            <li *ngFor="let team of teamsData" class="Ladder-players-item">
              <h3 class="Ladder-players-title global-Title3">
                {{ team.name | limitString: 17:"..." }}
              </h3>
              <div *ngIf="team.players" class="Ladder-players-table">
                <div class="global-scrollbar">
                  <ngx-datatable
                    class="global-DataTable"
                    [rows]="team.players"
                    [columnMode]="'force'"
                    [headerHeight]="'auto'"
                    [rowHeight]="'auto'"
                    [footerHeight]="'auto'"
                    [limit]="10"
                  >
                    <ngx-datatable-column
                      name="{{ 'LADDER.TABLE.COLUMNS.SN' | translate }}"
                    >
                      <ng-template
                        ngx-datatable-cell-template
                        let-row="row"
                        let-rowIndex="rowIndex"
                      >
                        <div class="player u-dfCenter">
                          <span class="player-sn">
                            {{ rowIndex + 1 }}
                          </span>
                          <img
                            *ngIf="row.profilePicture"
                            class="player-image"
                            [src]="row.profilePicture"
                            alt="player name "
                          />
                          <img
                            *ngIf="!row.profilePicture"
                            class="player-image"
                            [src]="row.image"
                            alt="player name "
                          />
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="name"
                      name="{{
                        'LADDER.TABLE.COLUMNS.PARTICIPANTS_NAME' | translate
                      }}"
                    >
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <div class="gamerId u-dfCenter">
                          <p class="gamerId-text">
                            {{ row.name | limitString: 13:"..." }}
                          </p>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                      prop="inGamerUserId"
                      name="{{ 'LADDER.TABLE.COLUMNS.GAMER_ID' | translate }}"
                    >
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <div class="gamerId u-dfCenter">
                          <p class="gamerId-text">
                            {{ row.inGamerUserId | limitString: 29:"..." }}
                          </p>
                          <img
                            class="gamerId-icon"
                            src="assets/icons/ladder/link.svg"
                            alt="link"
                            [cdkCopyToClipboard]="row.inGamerUserId"
                            (click)="showCopySnackbar()"
                            matTooltip="{{ 'LADDER.COPY_GAME_ID' | translate }}"
                          />
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </li>
          </ul>
        </section>

        <!-- Teams Tables -->
      </div>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <span class="disabled" (click)="chatFunction(MatchId)">{{
          "LADDER.MATCHROOM" | translate
        }}</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="Ladder-right">
    <section class="Ladder-sectionA">
      <h3 class="Ladder-heading game">
        {{ "LADDER.HEADING.TOURNAMENT" | translate }}
      </h3>
      <div class="d-flex">
        <div
          *ngIf="gameInfo"
          class="Ladder-sectionA-image-block u-dfCenterCenter"
          [style.background-image]="'url(' + gameInfo.image + ')'"
        ></div>
        <div class="Ladder-sectionA-info">
          <h6 class="Ladder-sectionA-info-title global-Text">
            {{ tournamentDetails?.fullText | limitString: 17:"..." }}
          </h6>
          <p class="global-Text">
            {{
              tournamentDetails?.organizerDetail?.fullName
                | limitString: 17:"..."
            }}
          </p>
        </div>
      </div>
    </section>

    <section class="Ladder-sectionB">
      <h3 class="Ladder-heading works">
        {{ "LADDER.HEADING.WORKS" | translate }}
      </h3>

      <ul class="Ladder-sectionB-steps">
        <li
          *ngFor="let step of steps"
          class="Ladder-sectionB-step"
          [ngClass]="{ active: step.isDone }"
        >
          <span
            class="Ladder-sectionB-step-image-block image-block"
            [inlineSVG]="step.icon"
          ></span>
          <span class="Ladder-sectionB-step-text global-Text text">
            {{ step.text | translate }}
          </span>
        </li>
      </ul>
    </section>
  </div>
</div>

<esports-loading *ngIf="isLoading"></esports-loading>
