@import "shared";

:host {
  display: block;
  overflow: hidden;
  @include sm {
    overflow: visible;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}

.SeasonCard {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: px2vw-xl(24px);
  padding-bottom: px2vw-xl(24px);
  border-bottom: 1px solid var(--color-black-medium);
  @include lg {
    padding-top: px2vw-lg(24px);
    padding-bottom: px2vw-lg(24px);
  }
  @include md {
    padding-top: px2vw-md(24px);
    padding-bottom: px2vw-md(24px);
  }
  @include sm {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    max-width: 219px;
    margin-right: 24px;
    width: 100%;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(100% - 32px);
    @include sm {
      max-width: 100%;
    }
  }
  &-thumbnail {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 271px;
    height: 156px;
    @include sm {
      max-width: 100%;
      border-radius: 16px;
      height: 139px;
      margin-bottom: 16px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &-info {
    width: 100%;
    max-width: calc(100% - 271px);
    padding-left: 30px;
    position: relative;
    @include sm {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
    }
    .mb-avatar {
      display: none;
      @include sm {
        display: block;
      }
    }
    .avatar {
      position: relative;
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 8px;
      display: inline-block;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
      @include sm {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .end-date {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-medium-color);
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include md {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 0;
        color: var(--tolopea-color);
      }
    }
    .progressBarContainer {
      &-des {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 24px;
        @include sm {
          display: none;
        }
        &-by {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-right: 16px;
          .avatar {
            position: relative;
            width: 24px;
            height: 24px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 8px;
            @include sm {
              display: none;
            }
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              object-fit: cover;
            }
          }
          .td {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--tolopea-color);
            margin-bottom: 0;
            @include sm {
              font-weight: 600;
            }
          }
        }
        &-players {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .icon {
            max-width: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 8px;
            @include sm {
              display: none;
            }
          }
          .number-player {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--tolopea-color);
            margin-bottom: 0;
          }
        }
      }
      &-desMB {
        display: none;
        @include sm {
          display: block;
          margin-bottom: 8px;
        }
        .text {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--tolopea-color);
        }
      }
      &-slider {
        width: 100%;
        max-width: 189.53px;
        height: 8px;
        background: var(--color-black-medium);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        @include md {
          max-width: 100%;
        }
        .active {
          display: inline-block;
          width: 95%;
          height: 8px;
          position: absolute;
          top: 0;
          left: 0;
          background: var(--ui-win);
          border-radius: 10px 0px 0px 10px;
        }
      }
    }
  }
}
.TeamCard-manage-button-menu {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  @include md {
    display: none;
  }
  .TeamCard-manage-button-menu-icon {
    font-size: 24px;
    width: auto;
    height: auto;
    color: var(--main-color);
    @include md {
      font-size: 24px;
      width: 32px;
      height: 32px;
    }
  }
}
