@import "shared";

.styleforbut{
  display: flex;
  float: right;
}

button{
  z-index: 1;
  // margin-top: -32px;
  margin-right: 65px;
}



.mar{
  margin-right: 10px;

}
#bg {
  position: fixed;
  top: 0;

  display: inline-block;
  // z-index: 1;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  cursor: default;
}
#bg_mob
{
  display:none;
}

.z-index{
  z-index: 0;
}
.styleforbut {
  float: none !important;
  margin-left: 3%;
    margin-top: -40px;
}
.button-primary {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.cursor-point{
  cursor: pointer !important;
}
.ent-div{
  position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 24%;
    bottom: 0%;
    button{
      background: transparent;
    }
}

@include lg {
  #bg_mob {
    display:none; 
  }
  #bg
  {
    position: fixed;
    top:px2vw-lg(0px);
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    cursor: default;
    width: 100%;
    left: px2vw-lg(0px);
    right:px2vw-lg(0px);
  }
  .button-primary {
    margin-right:px2vw-lg(30px);
  }
  .ent-div{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left:px2vw-lg(0px);
    bottom: px2vw-lg(50px);
    right: px2vw-lg(0px);
    button{
      margin-right: px2vw-lg(0px);
      img{
        width: 70%;
      }
    }
  }
}

@include md {
  #bg_mob {
    position: fixed;
    top: px2vw-md(0px);
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    cursor: default;
    width: 100%;
    left:px2vw-md(0px);
    right: px2vw-md(0px);
  }
  #bg
  {
    display:none;
  }
  .button-primary {
    margin-right:px2vw-mg(10px);
  }
  .ent-div{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left:px2vw-md(0px);
    bottom: px2vw-md(50px);
    right: px2vw-md(0px);
    button{
      margin-right: px2vw-md(0px);
      img{
        width: 70%;
      }
    }
  }
}

@include sm {
  #bg_mob {
    position: fixed;
    top: px2vw-sm(0px);
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    cursor: default;
    width: 100%;
    left: px2vw-sm(0px);
    right: px2vw-sm(0px);
  }
  #bg
  {
    display:none;
  }
  .button-primary {
    margin-right:px2vw-sm(10px);
  }
  .ent-div{
      position: absolute;
      text-align: center;
      margin: 0 auto;
      left:px2vw-sm(0px);
      bottom: px2vw-sm(50px);
      right: px2vw-sm(0px);
      button{
        margin-right: px2vw-sm(0px);
        img{
          width: 70%;
        }
      }
  }
  .z-index {
    img {
    width: 96%;
    }
  }
  
}

