<img

  src="assets/icons/Splashpage.svg"
  id="bg"
  alt=""
/>

<img

  src="assets/icons/Splashpage_mob.svg"
  id="bg_mob"
  alt=""
/>

<ng-container>
  <div
    class="
      Header-buttons
      styleforbut
      d-flex
      justify-content-between
      align-items-center
    "
  >
    <div class="z-index">
      <img src="assets/icons/Paidia-logo.svg" alt=".." />
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap z-index">
      <button
        class="Header-button button-secondary mar"
        [routerLink]="[
          AppHtmlRoutes.userPageType,
          AppHtmlRoutesLoginType.emailLogin
        ]"
        (click)="pushGTMTags('View_Login')"
      >
        <!-- {{ "BUTTON.LOGIN" | translate }} -->
        LOG IN
      </button>

      <button
        class="Header-button button-primary register"
        [routerLink]="[
          AppHtmlRoutes.userPageType,
          AppHtmlRoutesLoginType.registration
        ]"
        (click)="pushGTMTags('View_Registration')"
      >
        <!-- {{ "BUTTON.JOIN_NOW" | translate }} -->
        JOIN NOW
      </button>
    </div>
  </div>

</ng-container>
<div class="ent-div">
  <button  routerLink="/home" (click)="homepagefunction()">
  <img src="assets/icons/enter-text.svg" alt="..">
  </button>
  </div>
