<div>
  <header class="HeaderSpark">
    <section class="ss-header-page">
      <div class="full-container">
        <div class="wrapper">
          <div class="inner">
            <div class="box-left" (click)="onBackClick()">
              <ng-container>
                <a >
                  <span class="icon">
                    <img src="assets/images/Tournament/arrow-pre.png" alt="" />
                  </span>
                </a>
              </ng-container>
            </div>
            <div class="box-center">
              <h2 class="title">
                {{ "REPORT_SCORE.MANAGE_SCORE" | translate }}
              </h2>
            </div>
            <div class="box-right">
              <a
                class="btn btn-close"
                [routerLink]="AppHtmlProfileRoutes.matches"
              >
                <span class="icon">
                  <img src="assets/icons/create-tournament/Icon.png" alt="" />
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </header>

  <div class="scoreCard-body" *ngIf="!scoreSubmitted">
    <div class="scoreCard-body-right">
      <div *ngIf="tournamentData" class="scoreCard-body-right-top">
        <img
          class="tournamentImage"
          [lazyLoad]="tournamentData?.banner || tournamentData?.logo"
        />

        <div class="text-labels">
          <div class="title">
            {{ tournamentData?.name }}
          </div>

          <div class="date">
            {{ tournamentData?.startDate | date: "dd MMM yyyy" }}
            -
            {{ tournamentData?.endDate | date: "dd MMM yyyy" }}
          </div>

          <p class="des registration-status">
            <span *ngIf="registrationStatus?.isOpen"
              >{{
                "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_OPEN"
                  | translate
              }},</span
            >
            <span *ngIf="registrationStatus?.isClosed"
              >{{
                "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_HAS_ENDED"
                  | translate
              }}.</span
            >
            <span *ngIf="registrationStatus?.notYetStarted">{{
              "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_YET_TO_OPEN"
                | translate
            }}</span>
            <span *ngIf="registrationStatus?.isOpen">
              {{ "ADMIN.USER_MANAGEMENT.TABLE_HEADER.SIGN_UP" | translate }}
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="scoreCard-body-left">
      <div class="scoreCard-body-left-top">
        <div class="title">
          <h2>{{ "REPORT_SCORE.REPORT_SCORE" | translate }}</h2>

          <p>
            {{ "REPORT_SCORE.ROUND" | translate }}
            {{ matchDetails?.currentMatch?.round }}
          </p>

          <p>{{ matchDetails?.createdOn | date: "EEEE, dd MMM yyyy" }}</p>
        </div>

        <div *ngIf="setForms.length" class="accordian-set">
          <div *ngFor="let set of setForms">
            <ng-container
              [ngTemplateOutlet]="setView"
              [ngTemplateOutletContext]="{ data: set }"
            >
            </ng-container>
          </div>

          <div class="scoreCard-body-left-top-buttons">
            <button
              class="btn button"
              *ngIf="myTeam && !(isEO || isAdmin)"
              (click)="
                openScreenshotUploadPopup(
                  myTeam == 'teamA' ? 'teamAScreenShot' : 'teamBScreenShot'
                )
              "
            >
              {{ "REPORT_SCORE.UPLOAD_SCREENSHOT" | translate }}
            </button>

           <button
              class="btn button"
              *ngIf="isEO || isAdmin"
              (click)="openScreenshotUploadPopup('adminScreenShot')"
            >
              {{ "REPORT_SCORE.UPLOAD_SCREENSHOT" | translate }}
            </button>
          </div>

          <div class="submit-footer">
            <div class="row btn-row-reg">
              <ng-container>
                <button
                  class="btn button"
                  type="submit"
                  (click)="submitScore()"
                  [disabled]="tournamentData?.isFinished"
                >
                  {{ "REPORT_SCORE.UPDATE_SCORE" | translate }}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #setView let-setData="data">
  <div class="TournamentName-Optional">
    <div class="heading" (click)="toggleSet(setData)">
      <span class="text">
        {{ setData?.formName }}
      </span>
      <span
        class="icon icon-toggle"
        [ngClass]="{ active: setData?.toggle, inactive: !setData?.toggle }"
      ></span>
    </div>

    <div
      class="content"
      [ngClass]="{ active: setData?.toggle, inactive: !setData?.toggle }"
      [formGroup]="setData?.setForm"
    >
      <div class="teamA team-details">
        <div>
          <img
            class="profileImage"
            [lazyLoad]="
              matchDetails?.teamA?.logo
                ? matchDetails?.teamA?.logo
                : 'assets/images/Tournament/team_member.jpg'
            "
          />
        </div>

        <div class="">
          <span class="gamer-name">
            {{ matchDetails?.teamA?.teamName | limitString: 17:"..." || "NA" }}
          </span>
          <p class="TeamCard-info-description gamer-id">
            Gamer ID :
            {{
              (matchDetails?.teamA?.inGamerUserId | limitString: 29:"...") ||
                "N/A"
            }}
          </p>
        </div>

        <div class="input-group score-counter">
          <button
            type="button"
            class="btn btn-minus"
            (click)="changeValue(-1, setData?.setForm?.controls.teamAScore)"
            [disabled]="
              setData?.disabled ||
              setData?.setForm?.controls.teamAScore.value == 0
            "
          ></button>
          <input
            mat-input
            type="number"
            name="scoreA"
            class="input-field score-value"
            formControlName="teamAScore"
          />
          <button
            type="button"
            class="btn btn-plus"
            (click)="changeValue(1, setData?.setForm?.controls.teamAScore)"
            [disabled]="setData?.disabled"
          ></button>
        </div>
      </div>
      <div class="teamB team-details">
        <div>
          <img
            class="profileImage"
            [lazyLoad]="
              matchDetails?.teamB?.logo
                ? matchDetails?.teamB?.logo
                : 'assets/images/Tournament/team_member.jpg'
            "
          />
        </div>

        <div class="">
          <span class="gamer-name">
            {{ matchDetails?.teamB?.teamName | limitString: 17:"..." || "NA" }}
          </span>
          <p class="TeamCard-info-description gamer-id">
            Gamer ID :
            {{
              (matchDetails?.teamB?.inGamerUserId | limitString: 29:"...") ||
                "N/A"
            }}
          </p>
        </div>

        <div class="input-group score-counter">
          <button
            type="button"
            class="btn btn-minus"
            (click)="changeValue(-1, setData?.setForm?.controls.teamBScore)"
            [disabled]="
              setData?.disabled ||
              setData?.setForm?.controls.teamBScore.value == 0
            "
          ></button>
          <input
            mat-input
            type="number"
            name="scoreA"
            class="input-field score-value"
            formControlName="teamBScore"
          />
          <button
            type="button"
            class="btn btn-plus"
            (click)="changeValue(1, setData?.setForm?.controls.teamBScore)"
            [disabled]="setData?.disabled"
          ></button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="scoreSubmitted">
  <div class="scoreUpdate">
    <div class="scoreUpdate-left">
      <div class="title">
        <h2>{{ "REPORT_SCORE.SCORE_UPDATED" | translate }}</h2>
      </div>
      <p class="description"></p>

      <div class="back-button">
        <a
          class="button btn"
          *ngIf="isEO || isAdmin"
          [routerLink]="'/manage-tournament/' + tournamentData.slug + '/scoring'"
        >
          {{ "REPORT_SCORE.BACK_MANAGE_TOUR" | translate }}
        </a>
        <a
          class="button btn"
          *ngIf="!isEO && !isAdmin"
          [routerLink]="AppHtmlProfileRoutes.matches"
        >
        {{ "REPORT_SCORE.BACK_MY_MATCHES" | translate }}
        </a>
      </div>
    </div>

    <div class="scoreUpdate-right">
      <div class="">
        <mat-card class="card">
          <mat-card-header *ngIf="winnerTeam">
            <div mat-card-avatar class="card-header-image">
              <img
                class="profileImage"
                [lazyLoad]="
                  winnerTeam?.logo
                    ? winnerTeam?.logo
                    : 'assets/images/Tournament/team_member.jpg'
                "
              />
            </div>
            <mat-card-title>{{ winnerTeam?.teamName }}</mat-card-title>
            <mat-card-subtitle
              >{{ "REPORT_SCORE.PLAYER_ID" | translate }} : {{ winnerTeam?.inGamerUserId }}</mat-card-subtitle
            >
            <div class="winner-badge">
              <div class="winner-banner">
                <span class="winner-text">{{ "REPORT_SCORE.WINNER" | translate }}</span>
              </div>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let setData of sets">
              <div>
                <span class="scoring-set">{{ setData?.name }}</span>
                <div class="winner-score">
                  <span class="scoring-name"
                    >{{ "REPORT_SCORE.WINNER" | translate }} : {{ setData?.winner?.inGamerUserId }}</span
                  >
                  <span class="scoring-value"
                    >{{ setData?.teamAScore }} - {{ setData?.teamBScore }}</span
                  >
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
<esports-fullscreen-loading *ngIf="isLoading"></esports-fullscreen-loading>
