<div class="box main_box">
  <!-- <div class="Photo-fields-item-country country">
    <mat-form-field class="global-MatField" appearance="outline">
      <mat-label>
        {{ "drop.drop-down" | translate }}
      </mat-label>
      <mat-select>
        <mat-option value="Profile">{{
          "dropdown.profile" | translate
        }}</mat-option>
        <mat-option value="Profile">{{
          "dropdown.Linked_Account" | translate
        }}</mat-option>
        <mat-option value="Profile">{{
          "dropdown.Preferences" | translate
        }}</mat-option>
        <mat-option value="Profile">{{
          "dropdown.Credentials" | translate
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div *ngIf="normal">
    <form
      class="Profile"
      *ngIf="currentUser"
      [formGroup]="addForm"
      (ngSubmit)="onSubmit()"
    >
      <div
        class="fileinput Profile-photo fileinput-new"
        data-provides="fileinput"
      >
        <div class="row profileimage">
          <div class="profile-image-title">
            <h1 class="profile-image">Profile image</h1>
            <p class="profile-size">Recommended size: 1000 px by 1000 px</p>
          </div>
          <div class="row profileimage">
            <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12 col-md-12">
              <div class="text-center user_profile_icon">
                <img class="imgCircle" [src]="url" />
                <div class="txt_editprofile" (click)="openprofile()">
                  <span class="txt_editprofile2">
                    <i class="fa fa-edit"></i> EDIT
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- <img [src]="editImageUrl ? editImageUrl : 'assets/images/Home/edit.png' "  (mousedown)="openprofile()" style="width: 124px;height: 124px;left: 88px;
            top: 301px;">
          <div class="fileinput-preview fileinput-exists thumbnail Profile-photo-image-block Profile-photo-image">
          </div> -->
        </div>

        <div class="Profile-photo-manage">
          <div class="Profile-photo-buttons">
            <div class="Profile-photo-button btn-file">
              <!-- <button class="fileinput-new button-primary">
                {{ "BUTTON.UPLOAD_NEW_AVATAR" | translate }}
              </button> -->
              <!-- <span class="fileinput-exists button-primary">Change</span> -->
              <!-- <input accept="image/x-png,image/jpeg" (change)="fileChangeEvent($event)" type="file" file-model="myFile" /> -->
            </div>
            <button
              (click)="removeFile()"
              class="fileinput-exists Profile-photo-button button-secondary"
              data-dismiss="fileinput"
            >
              {{ "BUTTON.DELETE" | translate }}
            </button>
          </div>
          <!-- <button (click)="removeFile()" class="Profile-photo-reset  fileinput-exists global-link">
            {{ "BUTTON.USE_DEFAULT_AVATAR" | translate }}
          </button> -->
        </div>
      </div>

      <div class="banner-div">
        <div>
          <h1 class="banner-text">Banner image</h1>
          <p class="banner-size">Recommended size: 1440px by 302px</p>
        </div>

        <app-banner
          class="TournamentRegistration-upload-photo"
          [customFormGroup]="addForm"
          [customFormControlName]="'banner'"
          [dimension]="{ width: 1000, height: 1000 }"
          [id]="'LOGO'"
          [size]="1000 * 1000 * 5"
          [subtitle]="'TOURNAMENT_REGISTRATION.UPLOAD_PHOTO' | translate"
        >
        </app-banner>
      </div>

      <div class="">
        <h1 class="banner-profile">Profile information</h1>
      </div>

      <div class="Photo-fields">
        <!-- FIRST FLOOR -->
        <div class="Photo-fields-floor first">
          <!-- USER name -->

          <div class="Photo-fields-item">
            <mat-form-field class="global-MatField" appearance="outline">
              <mat-label>
                Username
                <!-- {{ "ACCOUNT_SETTINGS.PROFILE.FORM.USER_TYPE.LABEL" | translate }} -->
              </mat-label>
              <input
                class="input-username"
                matInput
                [formControl]="addForm.controls['username']"
                (keydown.space)="$event.preventDefault()"
                (keyup)="isUniqueName($event?.target?.value)"
              />
              <mat-error *ngIf="isExist">{{
                "LOG_REG.LOGIN.ERROR9" | translate
              }}</mat-error>
            </mat-form-field>
          </div>

          <!-- Full name -->
          <!-- <div class="Photo-fields-item">
            <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
              <mat-label>
                {{ "ACCOUNT_SETTINGS.PROFILE.FORM.FULLNAME.LABEL" | translate }}
              </mat-label>
              <input matInput [formControl]="addForm.controls['full_name']" />
            </mat-form-field>
          </div> -->

          <!-- Full name -->
          <div class="Photo-fields-item fullname">
            <mat-form-field
              class="global-MatField"
              appearance="outline"
              autocomplete="off"
            >
              <mat-label>
                {{ "ACCOUNT_SETTINGS.PROFILE.FORM.FULLNAME.LABEL" | translate }}
              </mat-label>
              <input matInput [formControl]="addForm.controls['fullName']" />
            </mat-form-field>
          </div>

          <!-- SECOND FLOOR -->
          <div class="Photo-fields-floor second">
            <div class="Photo-fields-item">
              <mat-form-field class="global-MatField" appearance="outline">
                <mat-label>
                  {{
                    "ACCOUNT_SETTINGS.PROFILE.FORM.PRONOUNS.LABEL" | translate
                  }}
                </mat-label>
                <mat-select [formControl]="addForm.controls['gender']">
                  <mat-option *ngFor="let item of gender" [value]="item.value">
                    {{ item.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="Photo-fields-item custom">
            <mat-form-field
              class="global-MatField"
              appearance="outline"
              autocomplete="off"
              *ngIf="addForm.controls['gender'].value == 'Custom'"
            >
              <mat-label> Enter custom pronouns </mat-label>
              <input
                matInput
                [formControl]="addForm.controls['customPronoun']"
              />
            </mat-form-field>
          </div>

          <!-- GENDER -->
          <!-- <div class="Photo-fields-item">
            <mat-form-field class="global-MatField" appearance="outline">
              <mat-label>
                {{ "ACCOUNT_SETTINGS.PROFILE.FORM.GENDER.LABEL" | translate }}
              </mat-label>
              <mat-select [formControl]="addForm.controls['gender']">
                <mat-option *ngFor="let item of gender" [value]="item.value">
                  {{ item.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <!-- </div> -->
          <!-- PRONOUNS -->

          <!-- THIRD FLOOR -->
          <div class="Photo-fields-floor third">
            <!-- DAY OF BIRTH -->
            <div class="Photo-fields-item">
              <mat-form-field class="global-MatField" appearance="outline">
                <mat-label>
                  {{ "ACCOUNT_SETTINGS.PROFILE.FORM.BIRTH.LABEL" | translate }}
                </mat-label>
                <!-- <input matInput [matDatepicker]="picker" [formControl]="addForm.controls['dob']" autocomplete="off" /> -->
                <input
                  (focus)="picker.open()"
                  (dateChange)="parentalCheckBox($event)"
                  [matDatepicker]="picker"
                  class="SubmitForm-input"
                  [max]="todayDate"
                  matInput
                  [matDatepicker]="picker"
                  [formControl]="addForm.controls['dob']"
                  autocomplete="off"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- COUNTRY (selectionChange)="onCountryChange($event)" -->
            <div class="Photo-fields-item-country country">
              <mat-form-field class="global-MatField" appearance="outline">
                <mat-label>
                  {{
                    "ACCOUNT_SETTINGS.PROFILE.FORM.COUNTRY.LABEL" | translate
                  }}
                </mat-label>
                <mat-select [formControl]="addForm.controls['country']">
                  <mat-option value=""></mat-option>
                  <mat-option
                    *ngFor="let item of countryList"
                    [value]="item.name"
                  >
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- FOURTH FLOOR -->
          <!-- <div class="Photo-fields-floor fourth"> -->

          <!-- CITY -->
          <!-- <div class="Photo-fields-item city">
            <mat-form-field class="global-MatField" appearance="outline">
              <mat-label>
                {{ "ACCOUNT_SETTINGS.PROFILE.FORM.CITY.LABEL" | translate }}
              </mat-label>
              <mat-select [formControl]="addForm.controls['state']">
                <mat-option *ngFor="let item of stateList" [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <!-- Postal code -->
          <!-- <div class="Photo-fields-item">
            <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
              <mat-label>
                {{ "ACCOUNT_SETTINGS.PROFILE.FORM.POSTAL_CODE.LABEL" | translate }}
              </mat-label>
              <input [formControl]="addForm.controls['postal_code']" matInput />
            </mat-form-field>
          </div>
        </div> -->
        </div>
        <!-- SHORT BIO -->
        <div class="Photo-fields-item shortbio">
          <mat-form-field
            class="global-MatField"
            appearance="outline"
            autocomplete="off"
          >
            <mat-label>
              {{ "ACCOUNT_SETTINGS.PROFILE.FORM.SHORT_BIO.LABEL" | translate }}
            </mat-label>
            <textarea
              [formControl]="addForm.controls['shortBio']"
              matInput
            ></textarea>
          </mat-form-field>
        </div>
        <!-- </div> -->
      </div>
      <div class="Profile-manage">
        <button
          type="button"
          (click)="onresetForm()"
          class="Profile-manage-button button-secondary"
        >
          {{ "BUTTON.CANCEL" | translate }}
        </button>
        <button type="submit" class="Profile-manage-button button-secondary">
          {{ "BUTTON.SAVE_CHANGES" | translate }}
        </button>
      </div>
    </form>
  </div>
  <div class="container-fluid" *ngIf="editprofile">
    <div class="row mt-4">
      <div class="col-6">
        <span class="profile-default-avatar">Default Avatars</span>
      </div>
      <div class="col-6">
        <button
          mat-raised-button
          class="button profile-button-upload-avatar"
          (click)="fileInput.click()"
        >
          <img
            class="profile-camera-icon"
            lazyLoad="../../../../assets/icons/camera_alt.svg"
            src="../../../../assets/icons/camera_alt.svg"
            alt="camera"
          />

          <span class="profile-button-upload-text">Upload Image</span>

          <input
            #fileInput
            type="file"
            accept="image/x-png,image/jpeg"
            (change)="fileChangeEvent($event)"
            file-model="myFile"
            class="profile-upload-image"
          />
        </button>
      </div>
    </div>
    <div class="row text-center mt-3 profile-preset-avatars">
      <div class="col-10">
        <div class="ul">
          <ul *ngFor="let image of imagesList" class="profile-ul-items">
            <li>
              <img
                src="{{ image.avatarImg }}"
                class="imgTable1"
                (click)="Setimage(image.avatarImg)"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row text-center mt-3">
      <div class="col-12">
        <div class="profile-button-group">
          <button (click)="close()" class="button-secondary">Cancel</button>
          <button type="submit" class="button-primary">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
