<h2 class="Home-sectionG-title global-Title2">
  {{ "HOME.SECTIONG.TITLE" | translate }}
</h2>

<div class="Home-sectionG-devices u-dpfStart">
  <a
    *ngFor="let device of devices"
    class="Home-sectionG-device"
    href="{{ device.url }}"
    target="_blank"
  >
    <div
      class="Home-sectionG-device-image"
      [style.background-image]="'url(' + device.image + ')'"
    ></div>
    <h3 class="Home-sectionG-device-title global-Elipses">
      {{ device.name }}
    </h3>
    <p class="Home-sectionG-device-description global-Elipses2">
      {{ device.description }}
    </p>
    <span class="Home-sectionG-device-points">
      {{ device.points }} {{ "HOME.SECTIONG.DEVICE.POINTS" | translate }}
    </span>
  </a>
</div>
