<ng-container>
  <section class="PopupReassign">
    <div class="PopupReassign-container">
      <div class="PopupReassign-wrapper">
        <div class="PopupReassign-inner">
          <div class="heading" *ngIf="!isRemove && (!isRemovePerson || (isRemovePerson!='invited_person' && isRemovePerson!='remove_team' && isRemovePerson!='switch_team'))">
            <h2 class="title">{{ "TEAM_MEMBER_INVITE.REASSIGN_TEAM_CAPTAIN" | translate }}</h2>
          </div>
          <div class="heading" *ngIf="!isRemove && isRemovePerson=='invited_person'">
            <h2 class="title">{{ "TEAM_MEMBER_INVITE.REMOVE_INVITED_PERSON" | translate }}</h2>
          </div>
          <div class="heading" *ngIf="isRemove">
            <h2 class="title" *ngIf="isRemovePerson=='remove_team'">{{ "TEAM_MEMBER_INVITE.REMOVE_TEAM_HEADER" | translate }}</h2>
            <h2 class="title" *ngIf="isRemovePerson=='switch_team'">{{ "TEAM_MEMBER_INVITE.SWITCH_TEAM_HEADER" | translate }}</h2>
            <h2 class="title" *ngIf="!isRemovePerson || (isRemovePerson!='invited_person' && isRemovePerson!='remove_team' && isRemovePerson!='switch_team')">{{ "TEAM_MEMBER_INVITE.REMOVE_INVITED_MEMBER" | translate }}</h2>
          </div>
          <div class="content" *ngIf="!isRemove &&  (!isRemovePerson || (isRemovePerson!='invited_person' && isRemovePerson!='remove_team' && isRemovePerson!='switch_team'))">
            <p>{{"TEAM_MEMBER_INVITE.PROCEED_TO_ASSIGN" | translate}} {{memberData.userVo ? memberData.userVo.fullName : ''}} {{"TEAM_MEMBER_INVITE.AS_TEAM_CAPTAIN" | translate}}</p>
          </div>
          <div class="content" *ngIf="!isRemove && isRemovePerson=='invited_person'">
            <p>{{"TEAM_MEMBER_INVITE.REMOVE_PERSON" | translate}}</p>
          </div>
          <div class="content" *ngIf="isRemove">
            <p *ngIf="!isRemovePerson || (isRemovePerson!='invited_person' && isRemovePerson!='remove_team' && isRemovePerson!='switch_team')">{{"TEAM_MEMBER_INVITE.PROCEED_TO_REMOVE" | translate}} {{memberData.userVo ? memberData.userVo.fullName : ''}} {{"TEAM_MEMBER_INVITE.REMOVE_FROM_TEAM" | translate}}</p>
            <p *ngIf="isRemovePerson=='remove_team'">{{"TEAM_MEMBER_INVITE.REMOVE_TEAM" | translate}}</p>
            <p *ngIf="isRemovePerson=='switch_team'">{{"TEAM_MEMBER_INVITE.SWITCH_TEAM" | translate}}</p>
          </div>
          <div class="btn-group">
            <button type="button" class="btn cancel button-default" (click)="showPopup.emit(false)">{{ "BUTTON.CANCEL" |
              translate }}</button>
            <button type="button" class="btn confirm button-primary" (click)="showPopup.emit(true)">{{ "BUTTON.CONFIRM" |
              translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>