@import "shared";

:host {
  display: block;
  overflow: hidden;
}
.PopupReassign {
  background: rgb(29 29 29 / 80%);
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  &-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  &-inner {
    width: 423px;
    height: 272px;
    left: 538px;
    top: 284px;
    background: var(--midnight-express-color);
    box-shadow: -4px -4px 20px rgb(0 0 0 / 8%), 4px 4px 20px rgb(0 0 0 / 8%);
    border-radius: 24px;
    padding: 48px;
    @include md {
      width: 327px;
      height: auto;
      padding: 24px;
    }
  }
  .heading {
    margin-bottom: 16px;
    .title {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  .content {
    margin-bottom: 32px;
    @include md {
      margin-bottom: 16px;
    }
    p {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
    }
  }
  .btn-group {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include md {
      flex-direction: column-reverse;
    }
    .btn {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: none;
      border-radius: 6px;
      flex: 0 0 auto;
      &.cancel {
        background-color: var(--wet-clay);
        color: var(--white);
      }
      &.confirm {
        background-color: var(--googly-yellow);
        color: var(--black);
      }
      @include md {
        width: 100%;
        padding: 11px 0;
      }
      &.button-default {
        margin-right: 24px;
        @include md {
          margin-right: 0;
        }
      }
      &.button-primary {
        @include md {
          margin-bottom: 16px;
        }
      }
    }
  }
}
