<div class="bg-white p-4">
<div class="TeamManagement">
  <h1 class="TeamManagement-title global-H3">
    {{ "ADMIN.TEAM_MANAGEMENT.TITLE" | translate }}
  </h1>
  <div class="Admin-searchBox">
    <div class="Admin-search">
      <mat-icon>search</mat-icon>
      <input
        (keyup)="searchByValueFilter($event)"
        placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
      />
    </div>
  </div>
  <div class="TeamManagement-table">
    <div class="global-scrollbar">
      <ngx-datatable
        [rows]="this.Team.rows"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [limit]="50"
        class="global-DataTable"
      >
        <ngx-datatable-column
          prop="name"
          name="{{ 'ADMIN.TEAM_MANAGEMENT.TABLE.TEAM_NAME' | translate }}"
        >
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="count"
          name="{{
            'ADMIN.TEAM_MANAGEMENT.TABLE.NUMBER_OF_PLAYERS' | translate
          }}"
        ></ngx-datatable-column>

        <ngx-datatable-column
          prop="ownerName"
          name="{{ 'ADMIN.TEAM_MANAGEMENT.TABLE.OWNER' | translate }}"
        >
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="createdOn"
          name="{{ 'ADMIN.TEAM_MANAGEMENT.TABLE.DATE_CREATED' | translate }}"
        ></ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button [matMenuTriggerFor]="menu" mat-icon-button>
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu
              class="global-MatMenu"
              #menu="matMenu"
              yPosition="below"
              xPosition="before"
            >
              <div class="TeamManagement-options">
                <!-- Edit -->
                <button
                  class="TeamManagement-option u-dfCenterStart"
                  [routerLink]="[AppHtmlAdminRoutes.editTeam, row._id]"
                >
                  <div class="TeamManagement-option-image-block">
                    <img
                      class="TeamManagement-option-image"
                      src="assets/icons/team-management/edit.svg"
                      alt="make captain"
                    />
                  </div>

                  <span class="TeamManagement-option-text">
                    {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.EDIT" | translate }}
                  </span>
                </button>

                <!-- Delete -->
                <button
                  *ngIf="row.status == 'active'"
                  class="TeamManagement-option u-dfCenterStart"
                  (click)="open(row['_id'], 1)"
                >
                  <div class="TeamManagement-option-image-block">
                    <img
                      class="TeamManagement-option-image"
                      src="assets/icons/team-management/delete.svg"
                      alt="make captain"
                    />
                  </div>

                  <span class="TeamManagement-option-text">
                    {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.DELETE" | translate }}
                  </span>
                </button>
                <!--active-->
                <button
                  *ngIf="row.status != 'active'"
                  class="TeamManagement-option u-dfCenterStart"
                  (click)="open(row['_id'], 0)"
                >
                  <div class="TeamManagement-option-image-block">
                    <img
                      class="TeamManagement-option-image"
                      src="assets/icons/team-management/owner.svg"
                      alt="make captain"
                    />
                  </div>

                  <span class="TeamManagement-option-text">
                    {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.ÄCTIVE" | translate }}
                  </span>
                </button>
                <!-- View log -->
                <button
                  class="TeamManagement-option u-dfCenterStart"
                  [routerLink]="[
                    AppHtmlAdminRoutes.teamManagementEdit,
                    row._id
                  ]"
                >
                  <div class="TeamManagement-option-image-block">
                    <img
                      class="TeamManagement-option-image"
                      src="assets/icons/team-management/view-log.svg"
                      alt="make captain"
                    />
                  </div>

                  <span class="TeamManagement-option-text">
                    {{
                      "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.VIEW_LOG" | translate
                    }}
                  </span>
                </button>

                <!-- View profile -->
                <button
                  class="TeamManagement-option u-dfCenterStart"
                  [routerLink]="[AppHtmlProfileRoutes.myTeamsView, row._id]"
                >
                  <div class="TeamManagement-option-image-block">
                    <img
                      class="TeamManagement-option-image"
                      src="assets/icons/team-management/profile.svg"
                      alt="make captain"
                    />
                  </div>

                  <span class="TeamManagement-option-text">
                    {{
                      "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.PUBLIC_PROFILE"
                        | translate
                    }}
                  </span>
                </button>

                <!-- Assign owner-->
                <button
                  class="TeamManagement-option u-dfCenterStart"
                  [routerLink]="[AppHtmlRoutes.manageTeam, row._id]"
                >
                  <div class="TeamManagement-option-image-block">
                    <img
                      class="TeamManagement-option-image"
                      src="assets/icons/team-management/owner.svg"
                      alt="make captain"
                    />
                  </div>

                  <span class="TeamManagement-option-text">
                    {{
                      "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.ASSIGN_OWNER"
                        | translate
                    }}
                  </span>
                </button>
              </div>
            </mat-menu>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<app-pagination [page]="page" (currentPage)="setPage1($event)">
</app-pagination>
</div>
