@import "shared";

:host {
  display: block;
}

.SearchInput {
  position: relative;
  max-width: 70%;
  @include sm {
    max-width: 100%;
  }
  &-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: px2vw-xl(14.5px);
    height: px2vw-xl(14.58px);
    width: px2vw-xl(14.58px);
    cursor: pointer;
    transition: $global-transition;
    @include xxl {
      left: px2vw-xxl(14.5px);
      height: px2vw-xxl(14.58px);
      width: px2vw-xxl(14.58px);
    }
    @include lg {
      left: px2vw-lg(14.5px);
      height: px2vw-lg(14.58px);
      width: px2vw-lg(14.58px);
    }
    @include md {
      left: px2vw-md(14.5px);
      height: px2vw-md(14.58px);
      width: px2vw-md(14.58px);
    }
    @include sm {
      left: 14.5px;
      height: 14.58px;
      width: 14.58px;
    }
    &:hover {
      opacity: 0.5;
    }
  }

  &-field {
    @extend %body-2;
    letter-spacing: px2vw-xl(0.25px);
    border-radius: px2vw-xl(2px);
    padding: 0 px2vw-xl(44px);
    width: 100%;
    cursor: pointer;
    background-color: var(--white-light);
    color: var(--white-high);
    transition: $global-transition;
    height: px2vw-xl(44px);
    @include xxl {
      letter-spacing: px2vw-xxl(0.25px);
      border-radius: px2vw-xxl(2px);
      padding: 0 px2vw-xxl(44px);
      height: px2vw-xxl(44px);
    }
    @include lg {
      letter-spacing: px2vw-lg(0.25px);
      border-radius: px2vw-lg(2px);
      padding: 0 px2vw-lg(44px);
      height: px2vw-lg(44px);
    }
    @include md {
      letter-spacing: px2vw-md(0.25px);
      border-radius: px2vw-md(2px);
      padding: 0 px2vw-md(44px);
      height: px2vw-md(44px);
    }
    @include sm {
      padding: 0 44px;
      font-size: 14px;
      letter-spacing: 0.25px;
      line-height: 20px;
      border-radius: 2px;
      height: 44px;
    }
    &::placeholder {
      color: var(--white);
    }
  }

  &-close {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: px2vw-xl(13px);
    height: px2vw-xl(16.7px);
    width: px2vw-xl(16.7px);
    transition: $global-transition;
    cursor: pointer;
    @include xxl {
      right: px2vw-xxl(13px);
      height: px2vw-xxl(16.7px);
      width: px2vw-xxl(16.7px);
    }
    @include lg {
      right: px2vw-lg(13px);
      height: px2vw-lg(16.7px);
      width: px2vw-lg(16.7px);
    }
    @include md {
      right: px2vw-md(13px);
      height: px2vw-md(16.7px);
      width: px2vw-md(16.7px);
    }
    @include sm {
      right: 13px;
      height: 16.7px;
      width: 16.7px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
