<div class="SearchInput">
  <img class="SearchInput-icon" (click)="text.length>=1? onSearch():text.length==0?onSearch():emitText()"
    src="assets/icons/search.svg" alt="icon" />

  <input class="SearchInput-field" [(ngModel)]="text"
    (input)="text.length>=1? onSearch():text.length==0?onSearch():emitText()" type="text" />
  <img class="SearchInput-close" (click)="onSearchReset()" src="assets/icons/search_clear.svg" alt="icon" />
</div>
