<ngb-carousel
  *ngIf="slides?.length > 0"
  [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators"
>
  <ng-template ngbSlide *ngFor="let slide of bannerList; let index = index">
    <div
      class="Tournament-slider"
      [style.background]="'url(' + slide.bannerFileUrl + ')'"
      [attr.data-test-id]="'tournamentSlider-item-' + index"
    >
      <div class="u-wp">
        <div class="Tournament-slider-block">
          <h2
            class="Tournament-slider-title"
            [innerHTML]="
              slide.title | customTranslate: (languageService?.language | async)
            "
          ></h2>
          <p class="Tournament-slider-text">
            {{
              slide.sub_title
                | customTranslate: (languageService?.language | async)
            }}
          </p>
          <button
            type="button"
            (click)="redirectLink(slide.destination)"
            class="Tournament-slider-button mesf-EditBtn"
          >
            {{
              slide.button_text
                | customTranslate: (languageService?.language | async)
            }}
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
