@import "shared";

::ng-deep .carousel-indicators {
  display: flex;
  margin: 0;
  right: auto;
  left: px2vw-xl(138px);
  bottom: px2vw-xl(74px);

  @include lg {
    left: 0;
    bottom: px2vw-lg(74px);
    padding-left: px2vw-lg(15px);
  }

  @include md {
    bottom: px2vw-md(74px);
    padding-left: px2vw-md(15px);
  }

  @include sm {
    bottom: px2vw-sm(74px);
    padding-left: px2vw-sm(15px);
  }

  .ng-star-inserted {
    border: none;
    border-radius: px2vw-xl(4px);
    height: px2vw-xl(4px);
    width: px2vw-xl(24px);
    background-color: #fff;
    opacity: 0.3;

    @include lg {
      border-radius: px2vw-lg(4px);
      height: px2vw-lg(4px);
      width: px2vw-lg(24px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      height: px2vw-md(4px);
      width: px2vw-md(24px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      height: px2vw-sm(4px);
      width: px2vw-sm(24px);
    }

    &.active {
      opacity: 1;

      &::after {
        display: none;
      }
    }
  }
}

.Tournament-slider {
  padding-top: px2vw-xl(236px);
  padding-bottom: px2vw-xl(32px);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: px2vw-xl(650px);

  @include lg {
    padding-top: px2vw-lg(236px);
    padding-bottom: px2vw-lg(32px);
    height: px2vw-lg(650px);
  }

  @include md {
    padding-top: px2vw-md(236px);
    padding-bottom: px2vw-md(32px);
    height: px2vw-md(650px);
  }

  @include sm {
    padding-top: px2vw-sm(236px);
    padding-bottom: px2vw-sm(32px);
    height: px2vw-sm(650px);
  }

  .u-wp {
    position: relative;
  }

  &-block {
    text-align: left;
    max-width: px2vw-xl(550px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(550px);
    }

    @include md {
      max-width: px2vw-md(550px);
    }

    @include sm {
      max-width: px2vw-sm(550px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(24px);
    font-family: "dynasty-primary-large", sans-serif;
    font-size: px2vw-xl(64px);
    line-height: px2vw-xl(72px);
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(64px);
      line-height: px2vw-lg(72px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(64px);
      line-height: px2vw-md(72px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(64px);
      line-height: px2vw-sm(72px);
    }
  }

  &-text {
    margin-bottom: px2vw-xl(24px);
    font-family: "dynasty-primary-regular", sans-serif;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  &-button {
    // margin-bottom: px2vw-xl(135px);
    padding: px2vw-xl(14px) px2vw-xl(24px);
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(21px);
    background-color: var(--orange-color-main);
    color: #fff;

    @include lg {
      padding: px2vw-lg(14px) px2vw-lg(24px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(21px);
    }

    @include md {
      padding: px2vw-md(14px) px2vw-md(24px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(21px);
    }

    @include sm {
      padding: px2vw-sm(14px) px2vw-sm(24px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(21px);
    }
  }
}
