<!--<section class="Participants-sectionA" *ngIf="approvedParticipants.length">
  <div class="MyTeams-cards">
    <h3 class="MyTeams-cards-title">
       {{ "PROFILE.MY_TEAMS.CONTROL.YOUR_TEAMS" | translate }}  PARTICIPANTS
    </h3>
    <div class="MyTeams-cards-list" *ngIf="approvedParticipants.length">
      <ng-container *ngFor="let item of approvedParticipants">
        <app-cardteam [isManage]="false" [data]="item"></app-cardteam>
      </ng-container>
    </div>
  </div>
</section>-->

<section class="Participants">
  <div class="Participants-wrapper">
    <div class="Participants-inner">
      <div class="Participants-heading">
        <h3 class="title" >
          {{ "VIEW_TOURNAMENT.PARTICIPANTS.TITLE" | translate }} {{ "(" + approvedParticipants.length + ")" }}
        </h3>
      </div>
      <div class="Participants-content">
        <div class="MyTeams-cards-list" *ngIf="approvedParticipants.length">
          <ng-container *ngFor="let item of approvedParticipants">
            <app-cardteam [isManage]="false" [data]="item"></app-cardteam>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>


<esports-pagination *ngIf="approvedParticipants?.length" [activePage]="participantPage?.activePage"
[page]="participantPage" (currentPage)="currentPage($event)"></esports-pagination>
<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
