@import "shared";

:host {
  display: block;
}

// .Participants-sectionA {
//   &-teams {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: 1fr;
//     grid-column-gap: px2vw-xl(32px);
//     grid-row-gap: px2vw-xl(24px);

//     @include lg {
//       grid-column-gap: px2vw-lg(24px);
//       grid-row-gap: px2vw-lg(24px);
//     }

//     @include md {
//       grid-template-columns: 1fr;
//       grid-column-gap: px2vw-md(24px);
//       grid-row-gap: px2vw-md(24px);
//     }

//     @include sm {
//       grid-column-gap: px2vw-sm(24px);
//       grid-row-gap: px2vw-sm(24px);
//     }
//   }

//   &-team {
//     display: flex;
//     align-items: center;
//     background-color: var(--white-medium);
//     padding: px2vw-xl(14px) px2vw-xl(24px);

//     @include lg {
//       padding: px2vw-lg(14px) px2vw-lg(24px);
//     }

//     @include md {
//       padding: px2vw-md(14px) px2vw-md(24px);
//     }

//     @include sm {
//       padding: px2vw-sm(14px) px2vw-sm(24px);
//     }
//   }

//   &-team-image-block {
//     flex-shrink: 0;
//     overflow: hidden;
//     border-radius: 50%;
//     background-color: var(--black);
//     width: px2vw-xl(88px);
//     height: px2vw-xl(88px);

//     @include lg {
//       width: px2vw-lg(88px);
//       height: px2vw-lg(88px);
//     }

//     @include md {
//       width: px2vw-md(88px);
//       height: px2vw-md(88px);
//     }

//     @include sm {
//       width: px2vw-sm(88px);
//       height: px2vw-sm(88px);
//     }
//   }

//   &-team-image {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }

//   &-team-info {
//     margin-left: px2vw-xl(32px);

//     @include lg {
//       margin-left: px2vw-lg(32px);
//     }

//     @include md {
//       margin-left: px2vw-md(32px);
//     }

//     @include sm {
//       margin-left: px2vw-sm(32px);
//     }
//   }

//   &-team-name {
//     margin-bottom: px2vw-xl(8px);
//     font-size: px2vw-xl(20px);

//     @include lg {
//       margin-bottom: px2vw-lg(8px);
//       font-size: px2vw-lg(20px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(8px);
//       font-size: px2vw-md(20px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(8px);
//       font-size: px2vw-sm(20px);
//     }
//   }

//   &-team-captain {
//     margin-bottom: px2vw-xl(8px);
//     font-size: px2vw-xl(18px);
//     color: var(--black) !important;

//     @include lg {
//       margin-bottom: px2vw-lg(8px);
//       font-size: px2vw-lg(18px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(8px);
//       font-size: px2vw-md(18px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(8px);
//       font-size: px2vw-sm(18px);
//     }
//   }

//   &-team-about {
//     display: flex;
//     font-size: px2vw-xl(16px);
//     letter-spacing: 0.8px;

//     @include lg {
//       font-size: px2vw-lg(16px);
//     }

//     @include md {
//       font-size: px2vw-md(16px);
//     }

//     @include sm {
//       font-size: px2vw-sm(16px);
//     }

//     .captain {
//       margin-right: px2vw-xl(82px);

//       @include lg {
//         margin-right: px2vw-lg(82px);
//       }

//       @include md {
//         margin-right: px2vw-md(82px);
//       }

//       @include sm {
//         margin-right: px2vw-sm(82px);
//       }
//     }
//   }
// }

.Participants {
  &-heading {
    margin-bottom: 16px;
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
