@import "shared";
:host {
  display: block;
}

.PopupCreated {
  @extend %u-dfStart;
  padding: px2vw-xl(40px) px2vw-xl(40px) px2vw-xl(32px) px2vw-xl(40px);
  width: px2vw-xl(650px);
  margin-top: px2vw-xl(-4px);
  overflow: hidden;
  background-image: url("../../../../../assets/icons/graphic.svg");
  background-repeat: no-repeat;
  background-color: var(--color-black-grydrk);
  background-size: contain;
  background-position: center top;
  @include xxl {
    max-width: px2vw-xxl(650px);
    padding: px2vw-xxl(40px) px2vw-xxl(40px) px2vw-xxl(32px) px2vw-xxl(40px);
    width: px2vw-xxl(664px);
    margin-top: px2vw-xxl(-4px);
  }
  @include lg {
    max-width: px2vw-lg(650px);
    padding: px2vw-lg(40px) px2vw-lg(40px) px2vw-lg(32px) px2vw-lg(40px);
    width: px2vw-lg(664px);
    margin-top: px2vw-lg(-4px);
  }
  @include md {
    max-width: px2vw-md(650px);
    padding: px2vw-md(40px) px2vw-md(40px) px2vw-md(32px) px2vw-md(40px);
    width: px2vw-md(664px);
    margin-top: px2vw-md(-4px);
  }
  @include sm {
    max-width: 100%;
    padding: 0px px2vw-sm(25px) px2vw-sm(40px) px2vw-sm(25px);
    height: calc(100vh - 60px);
    width: 100%;
    display: block;
    position: relative;
    overflow-y: auto;
    .geng_logo {
      display: flex !important;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      img {
        &:nth-child(1) {
          width: px2vw-sm(100px);
        }
        &:nth-child(2) {
          width: px2vw-sm(145px);
        }
      }
    }
  }
  .geng_logo {
    display: none;
  }
  form {
    width: 100%;
    @include sm {
      margin-top: px2vw-sm(25px);
    }
  }
  &-icon {
    margin-right: px2vw-xl(10px);
    flex-shrink: 0;
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);
    color: var(--color-primary);
    @include xxl {
      margin-right: px2vw-xxl(10px);
      font-size: px2vw-xxl(24px);
    }
    @include lg {
      margin-right: px2vw-lg(10px);
      font-size: px2vw-lg(24px);
    }
    @include md {
      margin-right: px2vw-md(10px);
      font-size: px2vw-md(24px);
    }
    @include sm {
      margin-right: px2vw-sm(10px);
      font-size: px2vw-sm(24px);
    }
  }
  &-info-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(16px);
    color: var(--white);
    font-family: "maxis-black";
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(24px);
    letter-spacing: px2vw-xl(0.18px);
    text-transform: inherit !important;
    @include xxl {
      margin-bottom: px2vw-xxl(16px);
      font-size: px2vw-xxl(24px);
      line-height: px2vw-xxl(24px);
      letter-spacing: px2vw-xxl(0.18px);
    }
    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(24px);
      letter-spacing: px2vw-lg(0.18px);
    }
    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(24px);
      line-height: px2vw-md(24px);
      letter-spacing: px2vw-md(0.18px);
    }
    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(24px);
      letter-spacing: px2vw-sm(0.18px);
      text-align: center;
    }
  }
  &-info-text {
    @extend %body-2;
    margin-bottom: px2vw-xl(32px);
    margin-top: px2vw-xl(-4px);
    font-family: "maxis-semibold";
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(20px);
    letter-spacing: px2vw-xl(0.25px);
    color: rgba(255, 255, 255, 0.87);
    @include xxl {
      margin-bottom: px2vw-xxl(32px);
      font-size: px2vw-xxl(14px);
      line-height: px2vw-xxl(20px);
      letter-spacing: px2vw-xxl(0.25px);
      margin-top: px2vw-xxl(-4px);
    }
    @include lg {
      margin-bottom: px2vw-lg(32px);
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(20px);
      letter-spacing: px2vw-lg(0.25px);
      margin-top: px2vw-lg(-4px);
    }
    @include md {
      margin-bottom: px2vw-md(32px);
      font-size: px2vw-md(14px);
      line-height: px2vw-md(20px);
      letter-spacing: px2vw-md(0.25px);
      margin-top: px2vw-md(-4px);
    }
    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(11px);
      line-height: px2vw-sm(20px);
      letter-spacing: px2vw-sm(0.25px);
      text-align: center;
    }
  }
  ::ng-deep .mat-checkbox .mat-checkbox-inner-container {
    height: 15px;
    width: 15px;
  }
}

.popup_heading_mob {
  display: none;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #171a17;
  height: px2vw-sm(65px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  @include sm {
    display: block;
  }
  .header {
    display: flex;
    align-items: center;
    height: px2vw-sm(65px);
    img {
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
      margin: 0 px2vw-sm(24px);
    }
    h5 {
      font-family: "maxis-bold";
      font-size: px2vw-sm(16px);
      letter-spacing: px2vw-sm(0.15px);
      margin-left: px2vw-sm(24px);
      color: rgba(255, 255, 255, 0.87);
      margin-bottom: 0;
    }
    .line {
      height: 100%;
      border-left: 1px solid rgba(255, 255, 255, 0.12);
    }
  }
}

.btn_bottom {
  display: flex;
  justify-content: end;
  @include sm {
    margin-top: 65px;
  }
}

.txt_textfield {
  display: flex;
  align-items: center;
  img {
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);
    margin-right: px2vw-xl(21px);
    @include xxl {
      height: px2vw-xxl(30px);
      width: px2vw-xxl(30px);
      margin-right: px2vw-xxl(21px);
    }
    @include lg {
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
      margin-right: px2vw-lg(21px);
    }
    @include md {
      height: px2vw-md(30px);
      width: px2vw-md(30px);
      margin-right: px2vw-md(21px);
    }
    @include sm {
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
      margin-right: px2vw-sm(21px);
    }
  }
  .mat_form {
    width: 100%;
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: rgba(255, 255, 255, 0.2) !important;
    }

    ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: rgba(255, 255, 255, 0.2) !important;
    }

    ::ng-deep
      .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
      .mat-form-field-outline-thick {
      color: #ff5722 !important;
      opacity: 0.8 !important;
    }

    ::ng-deep .mat-input-element {
      caret-color: #ffffff !important;
      -webkit-text-fill-color: #fff !important;
      font-family: "maxis-semibold";
      font-size: px2vw-xl(16px);
      letter-spacing: px2vw-xl(0.5px);
      @include xxl {
        font-size: px2vw-xxl(16px);
        letter-spacing: px2vw-xxl(0.5px);
      }
      @include lg {
        font-size: px2vw-lg(16px);
        letter-spacing: px2vw-lg(0.5px);
      }
      @include md {
        font-size: px2vw-md(16px);
        letter-spacing: px2vw-md(0.5px);
      }
      @include sm {
        font-size: px2vw-sm(16px);
      }
    }
    ::ng-deep .mat-error {
      font-family: "maxis-semibold";
      margin-top: px2vw-xl(5px);
      display: inline-block;
      @include xxl {
        margin-top: px2vw-xxl(5px);
      }
      @include lg {
        margin-top: px2vw-lg(5px);
      }
      @include md {
        margin-top: px2vw-md(5px);
      }
      @include sm {
        margin-top: px2vw-sm(5px);
        font-size: px2vw-sm(16px);
      }
    }
  }
}

.SubmitForm-checkbox {
  font-family: "maxis-semibold";
  font-size: px2vw-xl(14px);
  letter-spacing: px2vw-xl(0.25px);
  line-height: px2vw-xl(20px);
  color: rgba(255, 255, 255, 0.87);
  margin-top: px2vw-xl(20px);
  padding-left: px2vw-xl(54px);
  @include xxl {
    font-size: px2vw-xxl(14px);
    letter-spacing: px2vw-xxl(0.25px);
    line-height: px2vw-xxl(20px);
    margin-top: px2vw-xxl(20px);
    padding-left: px2vw-xxl(54px);
  }
  @include lg {
    font-size: px2vw-lg(14px);
    letter-spacing: px2vw-lg(0.25px);
    line-height: px2vw-lg(20px);
    margin-top: px2vw-lg(20px);
    padding-left: px2vw-lg(54px);
  }
  @include md {
    font-size: px2vw-md(14px);
    letter-spacing: px2vw-md(0.25px);
    line-height: px2vw-md(20px);
    margin-top: px2vw-md(20px);
    padding-left: px2vw-md(54px);
  }
  @include sm {
    font-size: px2vw-sm(14px);
    letter-spacing: px2vw-sm(0.25px);
    line-height: px2vw-sm(20px);
    margin-top: px2vw-sm(25px);
    padding-left: px2vw-sm(54px);
  }
  ::ng-deep .mat-checkbox-label {
    margin-left: px2vw-xl(10px);
    font-family: "maxis-semibold" !important;
    font-size: px2vw-xl(14px);
    letter-spacing: px2vw-xl(0.25px);
    line-height: px2vw-xl(20px);
    white-space: normal;
    @include xxl {
      margin-left: px2vw-xxl(10px);
      font-size: px2vw-xxl(14px);
      letter-spacing: px2vw-xxl(0.25px);
      line-height: px2vw-xxl(20px);
    }
    @include lg {
      margin-left: px2vw-lg(10px);
      font-size: px2vw-lg(14px);
      letter-spacing: px2vw-lg(0.25px);
      line-height: px2vw-lg(20px);
    }
    @include md {
      margin-left: px2vw-md(10px);
      font-size: px2vw-md(14px);
      letter-spacing: px2vw-md(0.25px);
      line-height: px2vw-md(20px);
    }
    @include sm {
      margin-left: px2vw-sm(10px);
      font-size: px2vw-sm(12px);
      letter-spacing: px2vw-sm(0.25px);
      line-height: px2vw-sm(20px);
      white-space: pre-line;
    }
  }
  p{
    margin-top: px2vw-xl(5px);
    @include xxl {
      margin-top: px2vw-xxl(5px);
    }
    @include lg {
      margin-top: px2vw-lg(5px);
    }
    @include md {
      margin-top: px2vw-md(5px);
    }
    @include sm {
      margin-top: px2vw-sm(5px);
    }
  }
  ::ng-deep .mat-checkbox-inner-container {
    @include sm {
      margin-top: 0;
    }
  }
}
.txt_termscondition {
  color: var(--color-primary) !important;
  text-decoration: underline !important;
  text-underline-offset: 2px;
}
.TermsOfOus-button {
  margin-top: px2vw-xl(18px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "maxis-bold";
  font-size: px2vw-xl(14px);
  letter-spacing: px2vw-xl(0.5px);
  text-transform: uppercase;
  line-height: px2vw-xl(16px);
  @include xxl {
    margin-top: px2vw-xxl(18px);
    font-size: px2vw-xxl(14px);
    letter-spacing: px2vw-xxl(0.5px);
    line-height: px2vw-xxl(16px);
  }
  @include lg {
    margin-top: px2vw-lg(18px);
    font-size: px2vw-lg(14px);
    letter-spacing: px2vw-lg(0.5px);
    line-height: px2vw-lg(16px);
  }
  @include md {
    margin-top: px2vw-md(18px);
    font-size: px2vw-md(14px);
    letter-spacing: px2vw-md(0.5px);
    line-height: px2vw-md(16px);
  }
  @include sm {
    font-size: px2vw-sm(14px);
    letter-spacing: px2vw-sm(0.5px);
    line-height: px2vw-sm(16px);
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: px2vw-sm(18px);
  }
}

::ng-deep .user_popup_main {
  @include sm {
    max-width: 100% !important;
    width: 100%;
    height: 100vh;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 18.75em 0 0.75em;
    margin-top: -0.25em;
    position: relative;
    padding-left: px2vw-xl(6px);
    @include xxl {
      padding-left: px2vw-xxl(6px);
    }
    @include lg {
      padding-left: px2vw-lg(6px);
    }
    @include md {
      padding-left: px2vw-md(6px);
    }
    @include sm {
      padding: 0 0.75em 0 0.75em;
    }
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    margin: 0px 0 0px 0px !important;
  }
  ::ng-deep .mat-form-field-infix {
    @include sm {
      width: 100%;
    }
  }
}

.pr_40 {
  padding-right: px2vw-xl(40px);
  @include xxl {
    padding-right: px2vw-xxl(40px);
  }
  @include lg {
    padding-right: px2vw-lg(40px);
  }
  @include md {
    padding-right: px2vw-md(40px);
  }
  @include sm {
    padding-right: px2vw-sm(15px);
  }
}

.terms_condition {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #171a17;
}

.btn_back {
  padding: 0 px2vw-xl(24px);
  @include xxl {
    padding: 0 px2vw-xxl(24px);
  }
  @include lg {
    padding: 0 px2vw-lg(24px);
  }
  @include md {
    padding: 0 px2vw-md(24px);
  }
  @include sm {
    padding: 0 px2vw-sm(24px);
  }
  .arrow {
    color: #ff5799;
    font-size: px2vw-xl(18px);
    @include xxl {
      font-size: px2vw-xxl(18px);
    }
    @include lg {
      font-size: px2vw-lg(18px);
    }
    @include md {
      font-size: px2vw-md(18px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
    }
  }
  img {
    height: px2vw-xl(16px);
    width: px2vw-xl(16px);
    @include xxl {
      height: px2vw-xxl(16px);
      width: px2vw-xxl(16px);
    }
    @include lg {
      height: px2vw-lg(16px);
      width: px2vw-lg(16px);
    }
    @include md {
      height: px2vw-md(16px);
      width: px2vw-md(16px);
    }
    @include sm {
      height: px2vw-sm(16px);
      width: px2vw-sm(16px);
    }
  }
  a {
    display: flex;
    .back-button {
      margin-left: px2vw-xl(6px);
      color: #ff5799;
      font-family: "maxis-bold";
      font-size: px2vw-xl(14px);
      letter-spacing: px2vw-xl(0.5px);
      text-transform: uppercase;
      line-height: px2vw-xl(16px);
      @include xxl {
        margin-left: px2vw-xxl(6px);
        line-height: px2vw-xxl(16px);
        letter-spacing: px2vw-xxl(0.5px);
        font-size: px2vw-xxl(14px);
      }
      @include lg {
        margin-left: px2vw-lg(6px);
        line-height: px2vw-lg(16px);
        letter-spacing: px2vw-lg(0.5px);
        font-size: px2vw-lg(14px);
      }
      @include md {
        margin-left: px2vw-md(6px);
        line-height: px2vw-md(16px);
        letter-spacing: px2vw-md(0.5px);
        font-size: px2vw-md(14px);
      }
      @include sm {
        margin-left: px2vw-sm(6px);
        line-height: px2vw-sm(16px);
        letter-spacing: px2vw-sm(0.5px);
        font-size: px2vw-sm(14px);
      }
    }
  }
}

.terms_heading {
  margin-top: px2vw-xl(24px);
  padding: 0 px2vw-xl(24px);
  @include xxl {
    margin-top: px2vw-xxl(24px);
    padding: 0 px2vw-xxl(24px);
  }
  @include lg {
    margin-top: px2vw-lg(24px);
    padding: 0 px2vw-lg(24px);
  }
  @include md {
    margin-top: px2vw-md(24px);
    padding: 0 px2vw-md(24px);
  }
  @include sm {
    margin-bottom: px2vw-sm(15px);
    margin-top: px2vw-sm(24px);
    padding: 0 px2vw-sm(24px);
  }
  h3 {
    font-family: "maxis-black";
    font-size: px2vw-xl(20px);
    letter-spacing: px2vw-xl(0.15px);
    color: #ffffff;
    line-height: px2vw-xl(24px);
    margin-bottom: 0;
    @include xxl {
      font-size: px2vw-xxl(20px);
      letter-spacing: px2vw-xxl(0.15px);
      line-height: px2vw-xxl(24px);
    }
    @include lg {
      font-size: px2vw-lg(20px);
      letter-spacing: px2vw-lg(0.15px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(20px);
      letter-spacing: px2vw-md(0.15px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
      letter-spacing: px2vw-sm(0.18px);
      line-height: px2vw-sm(24px);
    }
  }
}

.description_txt {
  @include sm {
    height: calc(100vh - 200px);
    overflow-y: auto;
  }
}

.terms_description {
  margin-top: px2vw-xl(26px);
  padding: 0 px2vw-xl(24px);
  max-height: 85vh - px2vh-xl(325px);
  overflow-y: auto;
  @include xxl {
    margin-top: px2vw-xxl(26px);
    padding: 0 px2vw-xxl(24px);
    max-height: 75vh - px2vh-lg(250px);
  }
  @include lg {
    margin-top: px2vw-lg(26px);
    padding: 0 px2vw-lg(24px);
    max-height: 75vh - px2vh-lg(250px);
  }
  @include md {
    margin-top: px2vw-md(26px);
    padding: 0 px2vw-md(24px);
    max-height: 75vh - px2vh-md(250px);
  }
  @include sm {
    margin-top: px2vw-sm(26px);
    padding: 0 px2vw-sm(24px);
    max-height: 100%;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8de4ff !important;
  }
  p {
    font-family: "maxis-semibold";
    font-size: px2vw-xl(14px);
    letter-spacing: px2vw-xl(0.25px);
    color: rgba(255, 255, 255, 0.87);
    line-height: px2vw-xl(20px);
    margin-bottom: 0;
    @include xxl {
      font-size: px2vw-xxl(14px);
      letter-spacing: px2vw-xxl(0.25px);
      line-height: px2vw-xxl(20px);
    }
    @include lg {
      font-size: px2vw-lg(14px);
      letter-spacing: px2vw-lg(0.25px);
      line-height: px2vw-lg(20px);
    }
    @include md {
      font-size: px2vw-md(14px);
      letter-spacing: px2vw-md(0.25px);
      line-height: px2vw-md(20px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      letter-spacing: px2vw-sm(0.5px);
      line-height: px2vw-sm(24px);
    }
  }
}

.container-fluid {
  max-width: px2vw-xl(525px);
  width: px2vw-xl(525px);
  height: 85vh;
  padding: px2vw-xl(12px) 0;
  @include xxl {
    max-width: px2vw-xxl(525px);
    padding: px2vw-xxl(12px) 0;
  }
  @include lg {
    max-width: px2vw-lg(525px);
    padding: px2vw-lg(12px) 0;
  }
  @include md {
    max-width: px2vw-md(525px);
    padding: px2vw-md(12px) 0;
  }
  @include sm {
    max-width: 100%;
    width: 100%;
    padding: px2vw-sm(15px) 0px;
    height: 100vh;
    overflow-y: auto;
  }
}
