<div *ngIf="enableInput" class="Message" [formGroup]="messageForm" [id]="DOM_ID">
  <div class="Message-author-image" [lazyLoad]="currentUser.profilePicture"></div>

  <div class="Message-content">
    <textarea class="Message-textarea" name="text" formControlName="text"
      placeholder="{{ placeholder | translate }}"></textarea>

    <div class="Message-footer">
      <ng-container *ngIf="!isProcessing">
        <button class="Message-footer-button button-primary reply" type="submit" [disabled]="messageForm.invalid"
          (click)="onSubmit()">
          {{
          (enableCancelEvent ? "BUTTON.REPLY" : "BUTTON.SEND") | translate
          }}
        </button>
        <button *ngIf="enableCancelEvent" class="Message-footer-button button-default cancel" (click)="onCancel()">
          {{ "BUTTON.CANCEL" | translate }}
        </button>
      </ng-container>

      <button *ngIf="isProcessing" class="btn btn-outline-light is-proccesing">
        <mat-spinner [diameter]="25"></mat-spinner>
      </button>
    </div>
  </div>
</div>

<p class="Message-text" *ngIf="!enableInput">
  {{ text }}
</p>