<ng-container *ngIf="singleEliminationTournament">
  <ngtt-single-elimination-tree
    [tournament]="singleEliminationTournament"
    [matchTemplate]="matchTemplate"
  ></ngtt-single-elimination-tree>
</ng-container>

<ng-template #matchTemplate let-match>
  <tt-match [match]="match"></tt-match>
</ng-template>
