@import "shared";

:host {
  display: block;
}

.Message {
  @extend %u-dfStart;
  transition: $global-transition;

  &-author-image {
    flex-shrink: 0;
    border-radius: 50%;
    height: px2vw-xl(40px);
    width: px2vw-xl(40px);
    background-color: var(--black);
    background-size: cover;
    background-position: center;

    @include lg {
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }

    @include md {
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }

    @include sm {
      display: none;
    }
  }

  &-content {
    flex-grow: 1;
    margin-left: px2vw-xl(16px);

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: 0;
    }
  }

  &-textarea {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    // resize: none;
    width: 100%;
    border: 2px solid var(--tertiary-color);
    min-height: px2vw-xl(96px);
    padding: px2vw-xl(12px) px2vw-xl(16px);
    color: var(--tolopea-color);
    background: var(--color-background);
    border-radius: 4px;
    @include lg {
      min-height: px2vw-lg(96px);
      padding: px2vw-lg(12px) px2vw-lg(16px);
    }

    @include md {
      min-height: px2vw-md(96px);
      padding: px2vw-md(12px) px2vw-md(16px);
    }

    @include sm {
      min-height: px2vw-sm(150.528px);
      padding: px2vw-sm(12px) px2vw-sm(16px);
    }
  }

  &-footer {
    margin-top: px2vw-xl(16px);

    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }

  &-footer-button {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    margin-right: px2vw-xl(12.5px);

    @include lg {
      margin-right: px2vw-lg(12.5px);
    }

    @include md {
      margin-right: px2vw-md(12.5px);
    }

    @include sm {
      margin-right: px2vw-sm(12.5px);
    }

    &:last-child {
      margin-right: 0;
    }
    &.reply {
      @include sm {
        width: 100%;
        margin-right: 0;
        padding: 10px 0;
      }
    }
    &.cancel {
      @include sm {
        display: none;
      }
    }
  }

  &-text {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    color: var(--white);
  }
}
