.global-Checkbox {
  display: flex;
  align-items: center;
  margin: 0;

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:checked + i,
  [type="checkbox"]:not(:checked) + i {
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);
    border: px2vw-xl(2px) solid rgba(255, 255, 255, 0.5);
    border-radius: px2vw-xl(2px);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include lg {
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
      border-width: px2vw-lg(2px);
      border-radius: px2vw-lg(2px);
    }

    @include md {
      width: px2vw-md(18px);
      height: px2vw-md(18px);
      border-width: px2vw-md(2px);
      border-radius: px2vw-md(2px);
    }

    @include sm {
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
      border-width: px2vw-sm(2px);
      border-radius: px2vw-sm(2px);
    }
  }
  [type="checkbox"]:checked + i:after,
  [type="checkbox"]:not(:checked) + i:after {
    width: px2vw-xl(10px);
    height: px2vw-xl(10px);
    border-radius: px2vw-xl(1px);
    content: "";
    background: var(--ui-error);
    transition: all 0.2s ease;

    @include lg {
      width: px2vw-lg(10px);
      height: px2vw-lg(10px);
      border-radius: px2vw-lg(1px);
    }

    @include md {
      width: px2vw-md(10px);
      height: px2vw-md(10px);
      border-radius: px2vw-md(1px);
    }

    @include sm {
      width: px2vw-sm(10px);
      height: px2vw-sm(10px);
      border-radius: px2vw-sm(1px);
    }
  }
  [type="checkbox"]:not(:checked) + i:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + i:after {
    opacity: 1;
    transform: scale(1);
  }

  span {
    margin-left: 10px;
    font-size: 18px;
    opacity: 0.6;
    color:var(--base-white);
  }
}
