$--Ribbon-background: var(--ui-error);
$--Ribbon-color: #ffffff;

.global-Ribbon {
  top: px2vw-xl(73px);
  font-size: px2vw-xl(62px);
  padding: px2vw-xl(1px) px2vw-xl(10px) px2vw-xl(1px) px2vw-xl(30px);
  background: $--Ribbon-background;
  color: $--Ribbon-color;
  position: absolute;
  left: 0;
  text-transform: uppercase;

  @include lg {
    top: px2vw-lg(73px);
    font-size: px2vw-lg(62px);
    padding: px2vw-lg(1px) px2vw-lg(10px) px2vw-lg(1px) px2vw-lg(30px);
  }

  @include md {
    top: px2vw-md(73px);
    font-size: px2vw-md(62px);
    padding: px2vw-md(1px) px2vw-md(10px) px2vw-md(1px) px2vw-md(30px);
  }

  @include sm {
    top: px2vw-sm(73px);
    font-size: px2vw-sm(62px);
    padding: px2vw-sm(1px) px2vw-sm(10px) px2vw-sm(1px) px2vw-sm(30px);
  }

  &::after {
    border-color: $--Ribbon-background transparent transparent transparent;
    border-width: px2vw-xl(76px) px2vw-xl(50px) 0 0;
    right: px2vw-xl(-50px);
    content: "";
    position: absolute;
    top: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;

    @include lg {
      border-width: px2vw-lg(76px) px2vw-lg(50px) 0 0;
      right: px2vw-lg(-50px);
    }

    @include md {
      border-width: px2vw-md(76px) px2vw-md(50px) 0 0;
      right: px2vw-md(-50px);
    }

    @include sm {
      border-width: px2vw-sm(76px) px2vw-sm(50px) 0 0;
      right: px2vw-sm(-50px);
    }
  }
}
