<div class="u-wp shop_heading">
  <h1 class="main_heading">{{item?.groupName}}</h1>
  <div class="shop-pagination-container">
    <header class="Matchmaking-game-header">
      <div class="Matchmaking-game-arrows">
        <mat-icon class="Matchmaking-game-arrow" (click)="prevSlide()">
           {{ "SHOP_PRODUCT_SLIDE.ARROW_LEFT" | translate }}
        </mat-icon>
        <mat-icon class="Matchmaking-game-arrow" (click)="nextSlide()">
          {{ "SHOP_PRODUCT_SLIDE.ARROW_RIGHT" | translate }}
        </mat-icon>
      </div>
    </header>
  </div>
</div>
<div class="u-wp shop_cards">
  <div class="shop-game-cards">
    <swiper [config]="config" [index]="selectedGameIndex">
      <div *ngFor="let shop of item?.products" class="shops">
        <div class="shop-card-content" (click)="
             redirectToupOrVoucher(shop?.type, shop?.category, shop?.categoryName)
          ">
          <app-shop-card [shop]="shop"></app-shop-card>
        </div>
      </div>
    </swiper>
  </div>
</div>
