<section class="SearchShop">
  <div class="container-fluid u-wp">
    <div class="SearchShop-top">
      <div class="mesf-Title underlined">
        {{ "SEARCH.SHOPPING_OFFERS" | translate }}
      </div>
    </div>

    <div class="row">
      <app-top-up-item
        *ngFor="let item of topOffers"
        [value]="item"
        class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
        >></app-top-up-item
      >
    </div>

    <app-pagination></app-pagination>
  </div>
</section>
