@import "shared";

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.Header {
  position: relative;
  z-index: 2;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-black-medium);
  transition: $global-transition2;
  height: px2vw-xl(72px);
  @include lg {
    height: px2vw-lg(82px);
  }
  @include md {
    height: px2vw-md(82px);
  }
  @include sm {
    height: px2vw-sm(104px);
  }
  &-buttons {
    .button-secondary {
      margin-right: px2vw-xl(14px);
      line-height: px2vw-xl(19px);
      @include lg {
        margin-right: px2vw-lg(16px);
        line-height: px2vw-lg(23px);
      }
      @include md {
        margin-right: px2vw-md(16px);
        line-height: px2vw-md(22px);
      }
      @include sm {
        margin-right: px2vw-sm(8px);
        background-color: transparent;
        border: none;
        color: var(--txt-secondry-border);
        font-size: px2vw-sm(23px);
        padding: 0 px2vw-sm(11px);
      }
    }
    .button-primary {
      line-height: px2vw-xl(19px);
      @include lg {
        line-height: px2vw-lg(23px);
      }
      @include md {
        line-height: px2vw-md(22px);
      }
      @include sm {
        background-color: transparent;
        border: none;
        color: var(--txt-secondry-border) !important;
        font-size: px2vw-sm(23px);
        padding: 0 px2vw-sm(11px);
      }
    }
  }
  // &-container {
  //   overflow: hidden;
  //   padding: 0 24px;
  //   max-width: 1308px;
  //   margin: 0 auto;
  // }
  &-logo-icon {
    margin-right: px2vw-xl(24px);
    @include lg {
      margin-right: px2vw-lg(24px);
    }
    @include md {
      margin-right: px2vw-md(24px);
    }
    @include sm {
      margin-right: px2vw-sm(24px);
    }
    img {
      width: px2vw-xl(73px);
      @include lg {
        width: px2vw-lg(73px);
      }
      @include md {
        width: px2vw-md(80px);
      }
      @include sm {
        // width: px2vw-sm(73px);
        // width: 100%;
        width: px2vw-sm(104px);
      }
    }
  }
  &-wrapper {
    padding: px2vw-xl(12px) 0;
    @include lg {
      padding: px2vw-lg(12px) 0;
    }
    @include md {
      padding: px2vw-md(12px) 0;
    }
    @include sm {
      padding: 0 px2vw-sm(12px);
    }
  }
  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm {
      min-height: px2vw-sm(104px);
    }
  }
  &-left {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    max-width: calc((100% - 388.3px) / 2);
  }
  &-right {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    max-width: calc((100% - 388.3px) / 2);
    .header-action {
      .lists {
        margin: 0;
        padding: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        .item {
          margin-right: px2vw-xl(24px);
          @include lg {
            margin-right: px2vw-lg(24px);
          }
          @include md {
            margin-right: px2vw-md(24px);
          }
          @include sm {
            margin-right: px2vw-sm(24px);
          }
          &:last-child {
            margin-right: 0;
          }
          a.action-user {
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-align-items: center;
            align-items: center;
            span.avatar-user {
              display: -webkit-inline-flex;
              display: inline-flex;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-align-items: center;
              align-items: center;
              width: px2vw-xl(40px);
              height: px2vw-xl(40px);
              border-radius: 50%;
              background: var(--midnight-express-color);
              margin-right: px2vw-xl(6px);
              @include lg {
                width: px2vw-lg(40px);
                height: px2vw-lg(40px);
                margin-right: px2vw-lg(6px);
              }
              @include md {
                width: px2vw-md(40px);
                height: px2vw-md(40px);
                margin-right: px2vw-md(6px);
              }
              @include sm {
                width: px2vw-sm(40px);
                height: px2vw-sm(40px);
                margin-right: px2vw-sm(6px);
              }
            }
          }
        }
      }
    }
  }
  &-center {
    width: 100%;
    max-width: px2vw-xl(388px);
    position: relative;
    @include lg {
      max-width: px2vw-lg(388px);
    }
    @include md {
      max-width: px2vw-md(388px);
    }
    @include sm {
      max-width: px2vw-sm(388px);
    }
    .wap-search {
      width: 100%;
      position: relative;
      .form-group {
        margin-bottom: 0;
        background: var(--white);
        border: px2vw-xl(2px) solid var(--tolopea-color);
        box-sizing: border-box;
        border-radius: px2vw-xl(24px);
        overflow: hidden;
        position: relative;
        padding: px2vw-xl(8px) px2vw-xl(24px);
        @include lg {
          padding: px2vw-lg(8px) px2vw-lg(24px);
        }
        @include md {
          padding: px2vw-md(8px) px2vw-md(24px);
        }
        @include sm {
          padding: px2vw-sm(8px) px2vw-sm(24px);
        }
        .input-field {
          width: 100%;
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--blackcurrant-color-medium);
          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
          &::placeholder {
            color: var(--tertiary-color);
          }
        }
        span.icon {
          position: absolute;
          right: px2vw-xl(24px);
          @include lg {
            right: px2vw-lg(24px);
          }
          @include md {
            right: px2vw-md(24px);
          }
          @include sm {
            right: px2vw-sm(24px);
          }
        }
      }
    }
  }

  .gameList {
    &-title {
      position: relative;
      margin-bottom: px2vw-xl(24px);
      margin-top: px2vw-xl(56px);
      font-size: px2vw-xl(40px);
      line-height: px2vw-xl(48px);
      text-align: center;
      @include lg {
        margin-top: px2vw-lg(56px);
        font-size: px2vw-lg(40px);
        line-height: px2vw-lg(48px);
        margin-bottom: px2vw-lg(24px);
      }
      @include md {
        margin-top: px2vw-md(56px);
        font-size: px2vw-md(40px);
        line-height: px2vw-md(48px);
        margin-bottom: px2vw-md(24px);
      }
      @include sm {
        margin-top: px2vw-sm(56px);
        font-size: px2vw-sm(40px);
        line-height: px2vw-sm(48px);
        margin-bottom: px2vw-sm(24px);
      }
    }
  }

  .Games {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &-cards {
      display: grid;
      grid-template-columns: repeat(6, 180px);
      grid-column-gap: px2vw-xl(20px);
      align-items: center;
      justify-content: center;
      height: px2vw-xl(400px);
      overflow-y: scroll;
      @include lg {
        grid-column-gap: px2vw-lg(20px);
        height: px2vw-lg(400px);
      }
      @include md {
        font-size: px2vw-md(40px);
        line-height: px2vw-md(48px);
        margin-bottom: px2vw-md(24px);
      }
      @include sm {
        grid-template-columns: repeat(2, 155px);
        height: calc(100vh - 180px);
      }
    }

    &-card {
      &-imagebox {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--home-backdrak);
        cursor: pointer;
        border: 1px solid var(--header-thickgrey);
        box-sizing: border-box;
        border-radius: px2vw-xl(8px);
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        width: px2vw-xl(180px);
        height: px2vw-xl(124px);
        text-align: center;
        text-align: center;
        @include lg {
          border-radius: px2vw-lg(8px);
          width: px2vw-lg(180px);
          height: px2vw-lg(124px);
        }
        @include md {
          border-radius: px2vw-md(8px);
          width: px2vw-md(180px);
          height: px2vw-md(124px);
        }
        @include sm {
          border-radius: px2vw-sm(8px);
          width: px2vw-sm(155px);
          height: px2vw-sm(124px);
        }
        &-image {
          max-width: 100%;
        }
      }
      &-game {
        width: px2vw-xl(180px);
        height: px2vw-xl(48px);
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
        @include lg {
          width: px2vw-lg(180px);
          height: px2vw-lg(48px);
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          width: px2vw-md(180px);
          height: px2vw-md(48px);
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          width: px2vw-sm(155px);
          height: px2vw-sm(48px);
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(24px);
        }
      }
    }
  }

  .drag-vertical {
    position: absolute;
    bottom: px2vw-xl(-26px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background: var(--color-background);
    width: 100%;
    max-width: px2vw-xl(489px);
    height: px2vw-xl(26px);
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    cursor: pointer;
    @include lg {
      bottom: px2vw-lg(-26px);
      max-width: px2vw-lg(489px);
      height: px2vw-lg(26px);
    }
    @include md {
      max-width: px2vw-md(320px);
      height: px2vw-md(15px);
      bottom: px2vw-md(-14px);
      -webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
      clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
    }
    @include sm {
      max-width: px2vw-sm(320px);
      height: px2vw-sm(15px);
      bottom: px2vw-sm(-14px);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: px2vw-xl(-2px);
      left: 0;
      width: calc(100% - 1px);
      height: calc(100% + 1px);
      background: var(--color-black-medium);
      @include lg {
        bottom: px2vw-lg(-2px);
      }
      @include md {
        bottom: px2vw-md(-2px);
      }
      @include sm {
        bottom: px2vw-sm(-2px);
      }
    }
    span.icon {
      display: inline-block;
      position: relative;
      top: px2vw-xl(-2px);
      width: calc(100% - 1px);
      height: calc(100% + 1px);
      clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
      background-color: var(--color-background);
      @include lg {
        top: px2vw-lg(-2px);
      }
      @include md {
        top: px2vw-md(-2px);
        top: px2vw-md(-1px);
        max-width: px2vw-md(320px);
        height: px2vw-md(15px);
        -webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
        clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
      }
      @include sm {
        top: px2vw-sm(-2px);
      }
      ::ng-deep svg {
        width: px2vw-xl(18px);
        height: px2vw-xl(6px);
        @include lg {
          width: px2vw-lg(18px);
          height: px2vw-lg(6px);
        }
        @include md {
          width: px2vw-md(19px);
          height: px2vw-md(6px);
          position: relative;
          top: px2vw-md(-4px);
        }
        @include sm {
          width: px2vw-sm(19px);
          height: px2vw-sm(6px);
          top: px2vw-sm(-4px);
        }
      }
      ::ng-deep svg path {
        fill: var(--tolopea-medium-color);
      }
    }
  }

  // &-logo {
  //   margin-right: px2vw-xl(40px);
  //   @include lg {
  //     margin-right: px2vw-lg(40px);
  //   }
  //   @include md {
  //     margin-right: 0;
  //   }
  //   @include sm {
  //     margin-right: 0;
  //   }
  // }

  // &-logo-icon {
  //   height: auto;
  //   width: px2vw-xl(114px);
  //   @include lg {
  //     width: px2vw-lg(114px);
  //   }
  //   @include md {
  //     width: px2vw-md(114px);
  //   }
  //   @include sm {
  //     width: px2vw-sm(114px);
  //   }
  // }

  &-home {
    @extend %u-dfCenterCenter;
    position: relative;
    @include lg {
      display: none;
    }

    &:hover,
    &.is-active {
      color: var(--color-primary);

      &::before {
        transform: translateX(-50%) translateY(3%);
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      content: "";
      opacity: 0;
      top: 0;
      bottom: px2vw-xl(5px);
      left: 30%;
      width: px2vw-xl(90px);
      background: --active-link;
      transition: $global-transition2;
      @include lg {
        width: px2vw-lg(90px);
        bottom: px2vw-lg(5px);
      }
      @include md {
        width: px2vw-md(90px);
        bottom: px2vw-md(5px);
      }
      @include sm {
        width: px2vw-sm(90px);
        bottom: px2vw-sm(5px);
      }
    }
  }

  &-home-icon {
    ::ng-deep svg {
      height: px2vw-xl(17px);
      width: px2vw-xl(20px);
      @include lg {
        height: px2vw-lg(17px);
        width: px2vw-lg(20px);
      }
      @include md {
        height: px2vw-md(17px);
        width: px2vw-md(20px);
      }
      @include sm {
        height: px2vw-sm(17px);
        width: px2vw-sm(20px);
      }
      path {
        transition: $global-transition;
      }
    }
  }

  &-navigation {
    @extend %u-dfCenter;
    margin-right: auto;
    @include lg {
      display: none;
    }
  }

  &-navigation-link {
    @extend %caption-Med;
    margin-right: px2vw-xl(40px);
    text-align: center;
    color: var(--color-primary-disabled);
    @include lg {
      margin-right: px2vw-lg(40px);
    }
    @include md {
      margin-right: px2vw-md(40px);
    }
    @include sm {
      margin-right: px2vw-sm(40px);
    }
    .img {
      height: px2vw-xl(30px);
      display: flex;
      align-items: center;
      justify-content: center;
      @include lg {
        height: px2vw-lg(30px);
      }
      @include md {
        height: px2vw-md(30px);
      }
      @include sm {
        height: px2vw-sm(30px);
      }
      img {
        margin-bottom: px2vw-xl(8px);
        @include lg {
          margin-bottom: px2vw-lg(8px);
        }
        @include md {
          margin-bottom: px2vw-md(8px);
        }
        @include sm {
          margin-bottom: px2vw-md(8px);
        }
      }
    }
  }

  &-control {
    @extend %u-dfCenter;
  }

  &-toggles {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(24px);
    @include lg {
      margin-right: px2vw-lg(24px);
    }
    @include md {
      margin-right: px2vw-md(16px);
    }
    @include sm {
      margin-right: px2vw-sm(16px);
    }

    &.active .toggle-icon {
      color: var(--black);

      @include md {
        color: var(--color-secondary);
      }
    }
  }

  &-toggle {
    @extend %u-dfCenter;
    width: px2vw-xl(24px);
    margin-right: px2vw-xl(24px);
    background-color: transparent;
    @include lg {
      width: px2vw-lg(24px);
      margin-right: px2vw-lg(24px);
    }
    @include md {
      width: px2vw-md(24px);
      margin-right: px2vw-md(24px);
    }
    @include sm {
      width: px2vw-sm(24px);
      margin-right: px2vw-sm(24px);
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &-toggle-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);
    color: var(--color-primary-disabled);
    transition: $global-transition2;
    @include lg {
      font-size: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(24px);
      display: none;
    }
    @include sm {
      font-size: px2vw-sm(24px);
      display: none;
    }
  }

  &-buttons {
    @extend %u-dfCenter;
  }

  &-button {
    &.register {
      margin-left: px2vw-xl(8px);
      @include lg {
        margin-left: px2vw-lg(8px);
      }
      @include md {
        margin-left: px2vw-md(8px);
      }
      @include sm {
        margin-left: px2vw-sm(8px);
      }
    }
  }

  &-user {
    @extend %u-dfCenter;
    @include md {
      display: none;
    }
    &-profile {
      margin-right: px2vw-xl(18px);
      letter-spacing: px2vw-xl(1px);
      @include lg {
        margin-right: px2vw-lg(18px);
      }
      @include md {
        margin-right: px2vw-md(18px);
      }
      @include sm {
        margin-right: px2vw-sm(18px);
      }
      p {
        @extend %caption-Med;
        color: var(--txt-secondry-active);
        margin-bottom: 0;
        letter-spacing: px2vw-xl(1px);
        @include lg{  
          letter-spacing: px2vw-lg(1px);
        }
      }
    }
  }

  &-user-image {
    width: px2vw-xl(40px);
    height: px2vw-xl(40px);
    border-radius: 50%;
    background: var(--midnight-express-color);
    margin-right: px2vw-xl(17px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: px2vw-xl(1px) solid var(--txt-secondry-border);
    filter: var(--box-shadow);
    @include lg {
      width: px2vw-lg(50px);
      height: px2vw-lg(40px);
      margin-right: px2vw-lg(17px);
    }
    @include md {
      width: px2vw-md(40px);
      height: px2vw-md(40px);
      margin-right: px2vw-md(17px);
    }
    @include sm {
      width: px2vw-sm(40px);
      height: px2vw-sm(40px);
      margin-right: px2vw-sm(17px);
    }
  }

  &-user-image-center {
    width: px2vw-xl(66px);
    height: px2vw-xl(66px);
    border-radius: 50%;
    background: var(--header-thickgrey);
    margin-top: px2vw-xl(20px);
    overflow: hidden;
    // margin-right: px2vw-xl(6px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom:px2vw-xl(10px);
    @include lg {
      width: px2vw-lg(60px);
      height: px2vw-lg(60px);
      margin-top: px2vw-lg(20px);
      margin-bottom:px2vw-lg(10px);
      // margin-right: px2vw-lg(6px);
    }
    @include md {
      width: px2vw-md(121px);
      height: px2vw-md(121px);
      margin-top: px2vw-md(20px);
      margin-right: px2vw-md(6px);
    }
    @include sm {
      width: px2vw-sm(121px);
      height: px2vw-sm(121px);
      margin-top: px2vw-sm(20px);
      margin-right: px2vw-sm(6px);
    }
    &-edit {
      margin-top: px2vw-xl(86px);
      height: px2vw-xl(39px);
      background: rgba(0, 0, 0, 0.38);
      display: flex;
      align-items: center;
      color: var(--white);
      @include lg {
        margin-top: px2vw-lg(86px);
        height: px2vw-lg(39px);
      }
      @include md {
        margin-top: px2vw-md(86px);
        height: px2vw-md(39px);
      }
      @include sm {
        margin-top: px2vw-sm(86px);
        height: px2vw-sm(39px);
      }
    }
  }

  &-user-arrow {
    height: px2vw-xl(25px);
    width: px2vw-xl(25px);
    font-size: px2vw-xl(16px);
    color: var(--txt-secondry-border);
    border: px2vw-xl(2px) solid var(--txt-secondry-border);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg {
      width: px2vw-lg(21px);
      height: px2vw-lg(21px);
      font-size: px2vw-lg(15px);
      border: px2vw-lg(2px) solid var(--txt-secondry-border);
    }
    @include md {
      height: px2vw-md(18px);
      width: px2vw-md(18px);
      font-size: px2vw-md(15px);
    }
    @include sm {
      height: px2vw-sm(18px);
      width: px2vw-sm(18px);
      font-size: px2vw-sm(15px);
    }
    cursor: pointer;
    &.active {
      color: var(--black);
    }
  }

  &-user-menu {
    @extend %u-dfStretchStart;
    flex-direction: column;
    // margin-top:px2vw-xl(25px);

    background: var(--color-secondary-disabled);
    border: px2vw-xl(1px) solid var(--color-secondary);
    box-sizing: border-box;
    border-radius: px2vw-xl(8px);
    padding-bottom: px2vw-xl(8px);
    @include lg {
      border-radius: px2vw-lg(8px);
      padding-bottom: px2vw-lg(8px);
    }
    @include md {
      border-radius: px2vw-md(8px);
      padding-bottom: px2vw-md(8px);
    }
    @include sm {
      border-radius: px2vw-sm(8px);
      padding-bottom: px2vw-sm(8px);
    }
  }

  &-user-points {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(8px);
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    padding: px2vw-xl(16px) px2vw-xl(20px);
    @include lg {
      margin-bottom: px2vw-lg(8px);
      padding: px2vw-lg(16px) px2vw-lg(20px);
    }
    @include md {
      margin-bottom: px2vw-md(8px);
      padding: px2vw-md(16px) px2vw-md(20px);
    }
    @include sm {
      margin-bottom: px2vw-sm(8px);
      padding: px2vw-sm(16px) px2vw-sm(20px);
    }
  }

  &-user-points-title {
    margin-right: px2vw-xl(12px);
    margin-bottom: 0;
    font-family: "Paralucent-Medium", sans-serif;
    font-size: px2vw-xl(12px);
    @include lg {
      margin-right: px2vw-lg(12px);
      font-size: px2vw-lg(12px);
    }
    @include md {
      margin-right: px2vw-md(12px);
      font-size: px2vw-md(12px);
    }
    @include sm {
      margin-right: px2vw-sm(12px);
      font-size: px2vw-sm(12px);
    }
  }

  &-user-points-info {
    @extend %u-dfCenter;
  }

  &-user-points-image {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);
    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }
    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }
    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-user-points-count {
    min-width: px2vw-xl(57px);
    font-family: "Paralucent-Medium", sans-serif;
    font-size: px2vw-xl(18px);
    @include lg {
      min-width: px2vw-lg(57px);
      font-size: px2vw-lg(18px);
    }
    @include md {
      min-width: px2vw-md(57px);
      font-size: px2vw-md(18px);
    }
    @include sm {
      min-width: px2vw-sm(57px);
      font-size: px2vw-sm(18px);
    }
  }

  &-user-links {
    @extend %u-dfStretchStart;
    flex-direction: column;
  }

  &-user-links-name {
    font-family: "Paralucent-Demi",  san-serif;
    font-size: px2vw-xl(17px);
    line-height: px2vw-xl(28px);
    letter-spacing: px2vw-xl(1px);
    text-align: center;
    color: var(--header-lightwhite);
    @include lg {
      font-size: px2vw-lg(17px);
      line-height: px2vw-lg(28px);
      letter-spacing: px2vw-lg(1px);
    }
    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(28px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
    }
  }

  &-user-links-amount {
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(28px);
    text-align: center;
    color: var(--header-lightwhite);
    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
    }
    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(28px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
    }
  }

  &-user-links-walletlink {
    font-family: "Paralucent-Light",  san-serif;
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(24px);
    letter-spacing: px2vw-xl(1px);
    font-weight: 400;
    text-align: center;
    color: var(--txt-secondry-disabled);
    @include lg {
      font-size: px2vw-lg(15px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
    &-a{
      color: var(--txt-secondry-disabled);
    }
  }

  &-user-links-top {
    margin-bottom: px2vw-xl(8px);
    height: px2vw-xl(200px);
    @include lg {
      margin-bottom: px2vw-lg(8px);
      height: px2vw-lg(150px);
    }
    @include md {
      margin-bottom: px2vw-md(8px);
      height: px2vw-md(150px);
    }
    @include sm {
      margin-bottom: px2vw-sm(8px);
      height: px2vw-sm(150px);
    }
  }

  &-user-links-bottom {
    margin-top: px2vw-xl(-42px);
    @include lg {
      margin-top: px2vw-lg(0px);
    }
    @include md {
      margin-top: px2vw-md(-42px);
    }
    @include sm {
      margin-top: px2vw-sm(-42px);
    }
  }

  &-user-link-menutop {
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    margin-bottom: px2vw-xl(20px);
    @include lg {
      margin-bottom: px2vw-lg(20px);
    }
    @include md {
      margin-bottom: px2vw-md(20px);
    }
    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-user-link {
    @extend %u-dfCenter;
    padding-bottom: px2vw-xl(22px);
    width: 100%;
    font-family: "Paralucent-Medium",  san-serif;
    font-style: normal;
    padding-left: px2vw-xl(20px);
    font-weight:500;
    font-size: px2vw-xl(15px);
    line-height: px2vw-xl(28px);
    @include lg {
      padding-bottom: px2vw-lg(22px);
      padding-left: px2vw-lg(20px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(28px);
    }
    @include md {
      padding-bottom: px2vw-md(22px);
      padding-left: px2vw-md(20px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(28px);
    }
    @include sm {
      padding-bottom: px2vw-sm(22px);
      padding-left: px2vw-sm(20px);
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
    }
    &-text{
      padding-left:0;
      font-weight:500;
    }

    &:hover {
      &,
      .icon {
        color: var(--color-primary);
      }
    }

    &.logout {
      .icon {
        color: var(--color-sunset-orange);
      }

      .text {
        transition: $global-transition;
      }

      &:hover {
        opacity: 0.75;
        .icon,
        .text {
          color: var(--color-sunset-orange);
        }
      }
    }
  }

  &-user-link-icon-block {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(21px);
    min-height: px2vw-xl(16px);
    min-width: px2vw-xl(22px);
    @include lg {
      margin-right: px2vw-lg(21px);
      min-height: px2vw-lg(16px);
      min-width: px2vw-lg(22px);
    }
    @include md {
      margin-right: px2vw-md(21px);
      min-height: px2vw-md(16px);
      min-width: px2vw-md(22px);
    }
    @include sm {
      margin-right: px2vw-sm(21px);
      min-height: px2vw-sm(16px);
      min-width: px2vw-sm(22px);
    }
  }

  &-user-link-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(22px);
    color: var(--white-medium);
    transition: $global-transition2;
    @include lg {
      font-size: px2vw-lg(22px);
    }
    @include md {
      font-size: px2vw-md(22px);
    }
    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-open {
    @extend %u-dfCenterCenter;
    display: none;
    background-color: transparent;
    @include md {
      display: block;
      width: px2vw-md(24px);
      height: px2vw-md(24px);
      margin: 0;
    }
    @include sm {
      display: block;
      width: px2vw-sm(24px);
      height: px2vw-sm(24px);
      margin: 0;
      margin-top: px2vw-sm(-14px);
      margin-right: px2vw-sm(8px);
    }
  }

  &-open-icon {
    height: auto;
    width: auto;
    color: var(--color-white-medium);
    &.active {
      color: var(--color-secondary) !important;
    }
  }

  &-mob-menu {
    display: none;
    overflow-y: scroll;
    background-color: var(--color-background);
    background-image: url("/assets/images/bg_mob_menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    @include lg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      background-color: var(--color-background);
      transition: $global-transition;
    }
  }

  &-mob-container {
    @extend %u-dfStart;
    flex-direction: column;
    @include lg {
      padding: px2vw-lg(150px) px2vw-lg(40px) px2vw-lg(40px);
    }
    @include md {
      padding: px2vw-md(150px) px2vw-md(40px) px2vw-md(40px);
    }
    @include sm {
      padding: px2vw-sm(150px) px2vw-sm(40px) px2vw-sm(40px);
    }
  }

  &-mob-link {
    font-family: "Paralucent-Light",  san-serif;
    color: var(--white);
    &:hover {
      color: var(--secondary-color);
    }
    @include lg {
      margin-bottom: px2vw-lg(40px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }
    @include md {
      margin-bottom: px2vw-md(40px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }
    @include sm {
      font-family: "Paralucent-Demi",  san-serif;
      margin-bottom: px2vw-sm(40px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }
    &:last-child {
      margin-bottom: 0;
      @include lg {
      }
      @include md {
        margin-bottom: 4.0363269425vw;
      }
      @include sm {
        margin-bottom: 6.9444444444vw;
      }
    }
  }

  &-notification {
    border-radius: 50%;
    min-width: px2vw-xl(18px);
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);
    margin: px2vw-xl(30px) 0 px2vw-xl(20px);
    @include lg {
      margin: px2vw-lg(30px) 0 px2vw-lg(20px);
      min-width: px2vw-lg(18px);
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
    }
    @include md {
      min-width: px2vw-md(18px);
      margin: px2vw-md(30px) 0 px2vw-md(20px);
      width: px2vw-md(18px);
      height: px2vw-md(18px);
    }
    @include sm {
      min-width: px2vw-sm(18px);
      margin: px2vw-sm(30px) 0 px2vw-sm(20px);
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
    }
  }
  &-game-logo {
    margin-right: px2vw-xl(47px);
    @include lg {
      margin-right: px2vw-lg(47px);
    }
    @include md {
      margin-right: px2vw-md(47px);
    }
    @include sm {
      margin-right: px2vw-sm(47px);
    }
  }
  &-game-container {
    background-color: var(--color-background);
    @include md {
      margin: 0;
      padding-top: px2vw-md(36px);
      padding-bottom: px2vw-md(20px);
      margin: 0;
      -ms-overflow-style: none;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    @include sm {
      padding-top: px2vw-sm(36px);
      padding-bottom: px2vw-sm(20px);
    }
  }
  &-game-logo-icon {
    width: px2vw-xl(108px);
    height: px2vw-xl(44px);
    @include lg {
      width: px2vw-lg(108px);
      height: px2vw-lg(44px);
    }
    @include md {
      width: px2vw-md(108px);
      height: px2vw-md(44px);
    }
    @include sm {
      width: px2vw-sm(108px);
      height: px2vw-sm(44px);
    }
  }
  &-game-navigation-link {
    font-family: "Paralucent-Medium", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    letter-spacing: -0.5px;
    color: var(--white);
    position: relative;
    padding: 0;
    margin-right: px2vw-xl(40px);
    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
      margin-right: px2vw-lg(40px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
      margin-right: px2vw-md(40px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      margin-right: px2vw-sm(40px);
    }
  }
  &-game-navigation-link.active {
    color: var(--main-color);
  }
  &-game-cards {
    background-color: var(--blackcurrant-color-medium);
    padding: 0 px2vw-xl(15px);
    @include lg {
      padding: 0 px2vw-lg(15px);
    }
    @include md {
      padding: 0 px2vw-md(15px);
    }
  }
  &-game-cards swiper {
    display: none;
    @include sm {
      padding: 0 px2vw-sm(15px);
    }
  }
  &-game-cards swiper {
    display: none;
    @include sm {
      display: block;
    }
  }

  &-game-header {
    margin-bottom: px2vw-xl(24px);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }
    @include md {
      margin-bottom: px2vw-md(24px);
    }
    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-game-title {
    @extend %global-H5;
    margin-bottom: 0;
  }

  &-game-arrows {
    margin-left: px2vw-xl(15px);
    @include lg {
      margin-left: px2vw-lg(15px);
    }
    @include md {
      margin-left: px2vw-md(15px);
    }
    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-game-arrow {
    height: auto;
    width: auto;
    font-size: px2vw-xl(28px);
    color: var(--white);
    cursor: pointer;
    user-select: none;
    @include lg {
      font-size: px2vw-lg(28px);
    }
    @include md {
      font-size: px2vw-md(28px);
    }
    @include sm {
      font-size: px2vw-sm(28px);
    }
  }

  &-game-card-image-block {
    width: px2vw-xl(96px);
    height: px2vw-xl(88px);
    background: var(--blackcurrant-color-medium);
    border: 1px solid var(--color-black-medium);
    box-sizing: border-box;
    border-radius: px2vw-xl(20px);
    transition: $global-transition;
    @include lg {
      width: px2vw-lg(96px);
      height: px2vw-lg(88px);
      border-radius: px2vw-lg(20px);
    }
    @include md {
      width: px2vw-md(96px);
      height: px2vw-md(88px);
      border-radius: px2vw-md(20px);
    }
    @include sm {
      width: px2vw-sm(96px);
      height: px2vw-sm(88px);
      border-radius: px2vw-sm(20px);
    }

    &:hover {
      border-color: var(--white);

      .card-button {
        transform: translateY(0);
      }
    }
  }

  &-game-card-image {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--black);
    border-radius: px2vw-xl(20px);
    @include lg {
      border-radius: px2vw-lg(20px);
    }
    @include md {
      border-radius: px2vw-md(20px);
    }
    @include sm {
      border-radius: px2vw-sm(20px);
    }
  }

  &-game-card-button {
    @extend %u-dfCenterBtw;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    padding: px2vw-xl(16px);
    background-color: var(--color-primary);
    transition: $global-transition;
    @include lg {
      padding: px2vw-lg(16px);
    }
    @include md {
      padding: px2vw-md(16px);
    }
    @include sm {
      padding: px2vw-sm(16px);
    }
  }

  &-game-card-button-text {
    @extend %subtitle-2;
    text-transform: uppercase;
    color: var(--black);
  }

  &-game-card-button-icon {
    margin-left: px2vw-xl(10px);
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);
    @include lg {
      margin-left: px2vw-lg(10px);
      font-size: px2vw-lg(24px);
    }
    @include md {
      margin-left: px2vw-md(10px);
      font-size: px2vw-md(24px);
    }
    @include sm {
      margin-left: px2vw-sm(10px);
      font-size: px2vw-sm(24px);
    }
  }

  &-game-card-name {
    @extend %subtitle-1;
    margin-top: px2vw-xl(8px);
    margin-bottom: 0;
    cursor: default;
    @include lg {
      margin-top: px2vw-lg(8px);
    }
    @include md {
      margin-top: px2vw-md(8px);
    }
    @include sm {
      margin-top: px2vw-sm(8px);
    }
  }
  &-team-notification {
    width: px2vw-xl(317px);
    height: px2vw-xl(117px);
    background-color: var(--white);
    border-radius: px2vw-xl(10px);
    padding: px2vw-xl(20px) px2vw-xl(17px);
    @include lg {
      width: px2vw-lg(317px);
      height: px2vw-lg(117px);
      border-radius: px2vw-lg(10px);
      padding: px2vw-lg(20px) px2vw-lg(17px);
    }
    @include md {
      width: px2vw-md(317px);
      height: px2vw-md(117px);
      border-radius: px2vw-md(10px);
      padding: px2vw-md(20px) px2vw-md(17px);
    }
    @include sm {
      width: px2vw-sm(317px);
      height: px2vw-sm(117px);
      border-radius: px2vw-sm(10px);
      padding: px2vw-sm(20px) px2vw-sm(17px);
    }
    &-title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(14px);
      line-height: px2vw-xl(20px);
      display: flex;
      align-items: center;
      color: var(--blackcurrant-color-medium);
      @include lg {
        font-size: px2vw-lg(14px);
        line-height: px2vw-lg(20px);
      }
      @include md {
        font-size: px2vw-md(14px);
        line-height: px2vw-md(20px);
      }
      @include sm {
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);
      }
    }

    &-description {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(114px);
      line-height: px2vw-xl(20px);
      display: flex;
      align-items: center;
      color: var(--tolopea-color);
      margin-bottom: px2vw-xl(13px);
      @include lg {
        font-size: px2vw-lg(114px);
        line-height: px2vw-lg(20px);
        margin-bottom: px2vw-lg(13px);
      }
      @include md {
        font-size: px2vw-md(114px);
        line-height: px2vw-md(20px);
        margin-bottom: px2vw-md(13px);
      }
      @include sm {
        font-size: px2vw-sm(114px);
        line-height: px2vw-sm(20px);
        margin-bottom: px2vw-sm(13px);
      }
    }

    &-btn-accept {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--main-color);
      background-color: var(--white);
      margin-right: px2vw-xl(24px);
      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
        margin-right: px2vw-lg(24px);
      }
      @include md {
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
        margin-right: px2vw-md(24px);
      }
      @include sm {
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
        margin-right: px2vw-sm(24px);
      }
    }
    &-btn-reject {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--main-color);
      background-color: var(--white);
      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
      }
      @include md {
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }
      @include sm {
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
      }
    }
  }
}

.notification {
  &-header {
    padding: px2vw-xl(18px);
    font-family: "Paralucent-Demi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    display: inline;
    color: var(--white);
    @include lg {
      padding: px2vw-lg(18px);
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
    }
    @include md {
      padding: px2vw-md(18px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(28px);
    }
    @include sm {
      padding: px2vw-sm(18px);
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
    }
  }

  &-title {
    float: left;
  }

  &-viewall {
    font-family: "Paralucent-Demi", sans-serif;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    float: right;
    color: var(--main-color);
    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }

  &-content-list {
    width: 100%;
  }

  &-content {
    padding: px2vw-xl(18px);
    display: flex;
    justify-content: flex-start;
    align-items: start;
    border-top: px2vw-xl(1px) solid var(--header-darkgrey);
    @include lg {
      padding: px2vw-lg(18px);
    }
    @include md {
      padding: px2vw-md(18px);
    }
    @include sm {
      padding: px2vw-sm(18px);
    }
  }

  &-img {
    width: px2vw-xl(48px);
    height: px2vw-xl(48px);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-top: px2vw-xl(6px);
    margin-right: px2vw-xl(8px);
    @include lg {
      width: px2vw-lg(48px);
      height: px2vw-lg(48px);
      margin-top: px2vw-lg(6px);
      margin-right: px2vw-lg(8px);
    }
    @include md {
      width: px2vw-md(48px);
      height: px2vw-md(48px);
      margin-top: px2vw-md(6px);
      margin-right: px2vw-md(8px);
    }
    @include sm {
      width: px2vw-sm(48px);
      height: px2vw-sm(48px);
      margin-top: px2vw-sm(6px);
      margin-right: px2vw-sm(8px);
    }
  }

  &-msg {
    font-family: "Paralucent-Medium", sans-serif;
    font-weight: 600;
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(20px);
    color: var(--white);
    width: px2vw-xl(242px);
    @include lg {
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(20px);
      width: px2vw-lg(242px);
    }
    @include md {
      font-size: px2vw-md(14px);
      line-height: px2vw-md(20px);
      width: px2vw-md(242px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(20px);
      width: px2vw-sm(242px);
    }
  }

  &-time {
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(20px);
    color: var(--color-primary-disabled);
    font-family: "Paralucent-Medium", sans-serif;
    @include lg {
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(20px);
    }
    @include md {
      font-size: px2vw-md(14px);
      line-height: px2vw-md(20px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(20px);
    }
  }
}

.Footer-container-text_link {
  color: var(--main-color);
  font-weight: 600;
  font-size: px2vw-xl(16px);
  text-align: center;
  display: block;
  @include lg {
    font-size: px2vw-lg(16px);
  }
  @include md {
    font-size: px2vw-md(16px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
  }
}
.cursor {
  cursor: pointer;
}




// SIDEBAR CODE


.side_ttl_bg {
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  display: none;
  // z-index: 9999;
  @include xl{
    display: none;
  }
  @include lg{
    display: none;
  }

  @include md{
    padding:px2vw-md(65px) px2vw-sm(4px) px2vw-md(10px) px2vw-md(4px);
    top:px2vw-md(70px);
    display: none;
  }
  @include sm{
    padding:px2vw-sm(75px) px2vw-sm(4px) px2vw-sm(10px) px2vw-sm(4px);
    top:px2vw-sm(70px);
    display: none;
  }

  .prof_lev_set {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    @include md{
      border-bottom:px2vw-md(2px) solid var(--color-secondary-disabled);
      padding-bottom: px2vw-md(38px);
    }
    @include sm{
      border-bottom:px2vw-sm(2px) solid var(--color-secondary-disabled);
      padding-bottom: px2vw-sm(30px);
      display: block;
      width: 92%;
    }
    .pro_img {
      width: 50%;

      @include sm{
        width:100%
      }

      span.img {
        float: left;
        svg{
          background-color: var(--color-secondary-disabled);
          border-radius: 50%;
          height:auto;
          @include md{
            padding:px2vw-md(12px);
            width: px2vw-md(70px);
            border:px2vw-md(3px) solid var(--color-secondry-border-hover);
          }
          @include sm{
            padding:px2vw-sm(12px);
            width: px2vw-sm(85px);
            border:px2vw-sm(3px) solid var(--color-secondry-border-hover);
          }
        }
      }

      span.name {
        float: left;
        @include md{
          margin-top: px2vw-md(0px);
          margin-left: px2vw-md(14px);
        }
        @include sm{
          margin-top: px2vw-sm(7px);
          margin-left: px2vw-sm(19px);
        }

        p.sub_name{
          font-weight: 500;
          color: var(--txt-secondry-active);
          @include md{
            font-size: px2vw-md(16px);
            padding:px2vw-md(7px) 0;
            margin: 0;
          }
          @include sm{
            font-size: px2vw-sm(22px);
            padding-bottom: px2vw-sm(12px);
            margin: 0;
          }
        }

        h4.name_main{
          font-weight: 600;
          color: var(--color-primary);
          padding:0;
          margin: 0;
          @include md{
            font-size: px2vw-md(24px);
          }
          @include sm{
            font-size: px2vw-sm(33px);
          }
        }
      }
    }

    .button_set {
      width:50%;
      text-align: right;

      @include sm{
        width:100%;
        margin-top:px2vw-sm(31px);
        margin-bottom:px2vw-sm(24px);
        display: inline-block;
      }

      a.btn{
        font-family: "Paralucent-Light",  san-serif;
        background-color: var(--color-primary);
        font-weight: 600;
        color: var(--txt-primary);
        @include md{
          padding:px2vw-md(13px) px2vw-md(17px);
          min-width: px2vw-md(130px);
          border-radius: px2vw-md(6px);
          margin: 0 px2vw-md(8px);
          font-size: px2vw-md(15px);
        }
        @include sm{
          padding:px2vw-sm(18px) px2vw-sm(17px);
          min-width: 100%;
          border-radius: px2vw-sm(8px);
          margin:px2vw-sm(11px) 0;
          font-size: px2vw-sm(23px);
        }
      }
      a.btn.reg{
        background-color: var(--color-secondary);
        color:var(--white);
      }
    }

  }

  .list_menu{
    width: 90%;
    margin: 0 auto;

    @include md{
      padding-top:px2vw-md(25px);
    }
    @include sm{
      padding-top:px2vw-sm(25px);
    }

    ul{
      li{
        @include md{
          padding:px2vw-md(12px) 0;
        }
        @include sm{
          padding:px2vw-sm(15px) 0;
        }

        a{
          color: var(--white);
          @include md{
            font-size: px2vw-md(21px);
          }
          @include sm{
            font-size: px2vw-sm(26px);
          }

          img{
            @include md{
              margin-right: px2vw-md(11px);
            }
            @include sm{
              margin-right: px2vw-sm(11px);
              // width: px2vw-sm(4px);
            }
          }
        }
      }
    }
  }

}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  top: px2vw-xl(64px)!important;
  @include lg{
    top: px2vw-lg(70px)!important;
  }
}