<div class="VideoView" *ngIf="isLoaded">
  <div class="container-fluid u-wp">
    <button (click)="back()" class="global-btnBuck">
      <span class="material-icons"> keyboard_arrow_left </span>
      {{ "BUTTON.BACK" | translate }}
    </button>

    <div class="VideoView-info">
      <div class="VideoView-info-ava">
        <img
          *ngIf="!videoDetails.createdBy.profilePicture"
          [lazyLoad]="'assets/images/Profile/article01.png'"
          alt="profile image"
        />
        <img
          *ngIf="videoDetails.createdBy.profilePicture"
          [lazyLoad]="videoDetails.createdBy.profilePicture"
          alt="profile image"
        />
      </div>

      <div class="VideoView-info-box">
        <h3 class="VideoView-info-title global-H3">
          {{
            videoDetails?.title
              | customTranslate: (languageService?.language | async)
              | capitalizeFirst
          }}
        </h3>
        <div class="VideoView-info-name global-text-lead">
          {{ videoDetails?.createdBy?.fullName || "N/A" }}
        </div>

        <div class="VideoView-info-date global-text-lead text-base2">
          {{ "VIDEO.VIEW.POST_ON" | translate }}
          <b>{{ videoDetails?.updatedOn | date: "dd MMMM" }}</b>
        </div>

        <div class="VideoView-info-text global-text-lead">
          {{
            videoDetails?.description
              | customTranslate: (languageService?.language | async)
              | capitalizeFirst
          }}
        </div>

        <div class="VideoView-info-tags">
          <div class="VideoView-info-tags-title global-text-lead">
            {{ "VIDEO.VIEW.TAGS" | translate }}
          </div>
          <div>
            <div
              class="VideoView-info-tags-tag"
              *ngFor="let tag of videoDetails?.tags"
            >
              {{ tag?.name }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="VideoView-video">
      <div class="VideoView-video-iframe">
        <iframe
          width="560"
          height="315"
          [src]="videoDetails?.youtubeUrl | safe: 'url'"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen="true"
          webkitallowfullscreen="true"
          mozallowfullscreen="true"
        ></iframe>
      </div>

      <footer class="VideoView-video-footer">
        <button class="VideoView-video-footer-item is-active">
          <span class="material-icons">visibility</span>
          {{ videoDetails?.views || 0 }}
          {{ "VIDEO_VIEW.VIEWS" | translate }}
        </button>

        <button
          class="VideoView-video-footer-item share"
          (click)="openSocialShareComponent()"
        >
          <span class="material-icons">share</span>
          {{ "VIDEO_VIEW.SHARE" | translate }}
        </button>

        <button
          class="VideoView-video-footer-item"
          (click)="
            isBookmarked
              ? removeBookmark(videoDetails?._id)
              : addBookmark(videoDetails?._id)
          "
          [hidden]="!userId"
        >
          <span class="material-icons">
            {{ isBookmarked ? "bookmark" : "bookmark_border" }}
          </span>
          {{
            isBookmarked
              ? ("VIDEO.VIEW.UNBOOKMARK" | translate)
              : ("VIDEO.VIEW.BOOKMARK" | translate)
          }}
        </button>
      </footer>
    </div>
  </div>
</div>

<app-fullscreen-loading *ngIf="!isLoaded"></app-fullscreen-loading>
