<div class="tools">
  <br>
  <h3>{{"tools.Manage_tools" | translate }}</h3>
</div>
<div class="Photo-fields-item-country country d-md-none">
  <mat-form-field class="global-MatField" appearance="outline">
    <mat-label>
      {{
      "tools.user_reports"| translate
      }}
    </mat-label>
    <mat-select>
      <mat-option value="Participant requests">{{"drop.Participant_requests"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.Brackets"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.user_reports"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.Discussion"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.Notifications"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.scoring"|translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<header class="Inbox-header">
  <h1 class="tittle global-Elipses">
    USER REPORTS
  </h1>

  <!-- <button class="Inbox-header-button button-primary" [routerLink]="'/manage-team/add-notification'">
    {{'new notification'|uppercase}}
  </button> -->
</header>
<div class="SelectGame-search">
  <app-isearch [placeholder]="'Search for Reports '" [text]="searchText" (onTextChange)="onTextChange($event)">
  </app-isearch>
</div>
<div class="Content-table" *ngIf="userReport.length">

  <div class="Content-table-header">
    <mat-checkbox class="Inbox-content-message-checkbox" (click)="onSelectAll()"></mat-checkbox>
    <!-- Report ID -->
    <div class="Content-table-header-item date">
      Report ID
    </div>

    <!-- Report Issue -->
    <div class="Content-table-header-item title">
      Report Issue
    </div>

    <!-- DATE -->
    <div class="Content-table-header-item date">
      {{ "PROFILE.CONTENT.TABLE.DATE" | translate }}
    </div>

    <!-- Attachments -->
    <!-- <div class="Content-table-header-item comments">
      Attachments
    </div> -->

    <!-- STATUS -->
    <div class="Content-table-header-item status">
      {{ "PROFILE.CONTENT.TABLE.STATUS" | translate }}
    </div>
  </div>

  <div class="Content-table-cards">
    <ng-container *ngFor="let card of userReport">
      <div class="Content-table-card">
        <mat-checkbox class="Inbox-content-message-checkbox"></mat-checkbox>
        <!-- Report ID -->
        <div class="Content-table-card-item date global-Elipses">
          <!-- {{ card.views ? card.views : "-" }} -->
          {{ card?.reportUId}}
        </div>

        <!-- Report Issue -->
        <div class="Content-table-card-item title global-Elipses">
          <!-- {{
          currentLang === "english"
          ? card.title?.english
          : card.title?.english
          }} -->
          {{ card?.reportType}}
        </div>

        <!-- DATE -->
        <div class="Content-table-card-item views global-Elipses">
          {{ card?.updatedOn|date: 'dd/MM/yyyy'}}
        </div>
        <!-- Attachments -->
        <!-- <div class="Content-table-card-item comments">
          <div class="Content-table-card-comment" *ngIf="!!card.comments">
            <mat-icon>chat_bubble_outline</mat-icon>

            <span class="global-Elipses"> {{ card.comments}}</span>
          </div>

          <div class="Content-table-card-comment empty" *ngIf="!(!!card.comments)">
            -
          </div>
        </div> -->

        <!-- STATUS -->
        <div class="Content-table-card-item status">
          <ng-container *ngIf="card.status ==='open'">
            <div class="Content-table-card-status live">
              <!-- {{ "PROFILE.CONTENT.TABLE.LIVE" | translate }} -->
              {{ card?.status}}
            </div>
          </ng-container>

          <ng-container *ngIf="card.status != 'open'">
            <div class="Content-table-card-status draft">
              <!-- {{ "PROFILE.CONTENT.TABLE.DRAFT" | translate }} -->
              {{ card?.status}}
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>

  </div>

</div>

<mat-paginator [length]="paginationDetails?.totalDocs" [pageSize]="paginationData?.limit"
  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"></mat-paginator>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>