%ct-HeaderTop,
.ct-HeaderTop {
  .u-wp {
    padding-top: px2vw-xl(125px);
    z-index: 10;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include lg {
      padding-top: px2vw-lg(98px);
    }

    @include md {
      padding-top: px2vw-md(96px);
    }

    @include sm {
      padding-top: px2vw-sm(105px);
    }
  }
}

%ct-overlay,
.ct-overlay {
  // position: relative;
  // background-image: url("/assets/images/Tournament/create/overlays/2.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-attachment: fixed;

  @include md {
    background-position: center center;
  }

  &::before,
  &::after {
    z-index: 2;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

%ct-overlay-hero,
.ct-overlay-hero {
  @extend %ct-overlay;

  // &::after {
  //  background-image: url("/assets/images/Tournament/create/heroes/hero.png");
  //   width: px2vw-xl(680px);
  //   height: px2vw-xl(710px);

  //   @include lg {
  //     width: px2vw-lg(520px);
  //     height: px2vw-lg(640px);
  //   }

  //   @include md {
  //     padding-bottom: px2vw-md(500px);
  //     width: px2vw-md(420px);
  //     height: px2vw-md(520px);
  //   }

  //   @include sm {
  //     padding-bottom: px2vw-sm(500px);
  //     width: px2vw-sm(530px);
  //     height: px2vw-sm(440px);
  //   }
  // }
}

%ct-overlay-hero2,
.ct-overlay-hero2 {
  @extend %ct-overlay;

  // &::before {
  //   background-image: url("/assets/images/Tournament/create/heroes/hero2.png");
  //   width: px2vw-xl(515px);
  //   height: px2vw-xl(800px);
  //   right: 2%;

  //   @include lg {
  //     width: px2vw-lg(490px);
  //     height: px2vw-lg(760px);
  //   }

  //   @include md {
  //     width: px2vw-md(325px);
  //     height: px2vw-md(500px);
  //   }

  //   @include sm {
  //     width: px2vw-sm(325px);
  //     height: px2vw-sm(500px);
  //   }
  // }
}

html[dir="rtl"] {
  %ct-HeaderTop,
  .ct-HeaderTop {
    .u-wp {
      align-items: flex-end;
    }

    .u-wp.rtl-no-align {
      align-items: inherit;
    }
  }
}
