@import "shared";

.switch {
  position: relative;
  display: inline-block;
  border-radius: 167px;
  width: 45px;
  height: 25px;
  margin-bottom: 0;

  &-input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--base-submarine);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 19px;
  left: 5px;
  bottom: 4px;
  background-color: var(--base-white);
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-sunset-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--ui-dodger-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
