.Admin-searchBox {
  display: flex;
  justify-content: flex-end;
}

.Admin-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Admin-search {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 10px;
  border-radius: 10px;
  color: var(--black);
  background: var(--black-medium);
}

.Admin-search input {
  border: none;
  min-width: 200px;
  background: none;
  font-size: 17px;
  font-family: "Paralucent-Light",  san-serif;
}
