<div class="MonthsStats">
  <header class="MonthsStats-header">
    <div class="MonthsStats-header-months global-Dropdown">
      <h2 class="MonthsStats-header-months-title">
        {{ "MONTH_STATS.TITLE" | translate }}
      </h2>
      <mat-menu #menu="matMenu" class="global-MatMenu my-stats" xPosition="after">
        <button *ngFor="let month of months" mat-menu-item (click)="selectedMonth = month">
          {{ month }}
        </button>
      </mat-menu>
    </div>

    <div class="MonthsStats-header-tabs global-Tabs">
      <button (click)="selecteMonths('THIS_MONTH')" class="MonthsStats-header-tab "
        [class.is-active]="threemonth=='THIS_MONTH'">
        {{ "MONTH_STATS.TABS.CURRENT_MONTH" | translate }}
      </button>
      <button class="MonthsStats-header-tab" [class.is-active]="threemonth=='THREE_MONTH'"
        (click)="selecteMonths('THREE_MONTH')">
        {{ "MONTH_STATS.TABS.THREE_MONTH" | translate }}
      </button>
      <button class="MonthsStats-header-tab" [class.is-active]="threemonth=='SIX_MONTH'"
        (click)="selecteMonths('SIX_MONTH')">
        {{ "MONTH_STATS.TABS.SIX_MONTH" | translate }}
      </button>
    </div>
  </header>

  <div class="MonthsStats-cards">


    <!-- Win rate -->
    <div class="MonthsStats-card">
      <header class="MonthsStats-card-header">
        <h4 class="MonthsStats-card-header-title">
          {{ "MONTH_STATS.CARDS.WIN_RATE" | translate }}
        </h4>
      </header>
      <div class="MonthsStats-card-info">
        <p class="MonthsStats-card-value global-Elipses">{{statisticsDetails?.winPercent+'%'}}</p>
      </div>
    </div>

    <!-- Number of wins -->
    <div class="MonthsStats-card">
      <header class="MonthsStats-card-header">
        <h4 class="MonthsStats-card-header-title">
          {{ "MONTH_STATS.CARDS.NUMBER_OF_WINS" | translate }}
        </h4>
      </header>
      <div class="MonthsStats-card-info" *ngIf="statisticsDetails">
        <p class="MonthsStats-card-value global-Elipses">{{statisticsDetails?.winCount | number}}</p>
      </div>
    </div>

    <!-- Games played -->
    <div class="MonthsStats-card">
      <header class="MonthsStats-card-header">
        <h4 class="MonthsStats-card-header-title">
          {{ "MONTH_STATS.CARDS.GAMES_PLAYED" | translate }}
        </h4>
      </header>
      <div class="MonthsStats-card-info">
        <p class="MonthsStats-card-value global-Elipses">{{statisticsDetails?.totalGameCount | number}}</p>
      </div>
    </div>

    <!-- Number of losses -->
    <div class="MonthsStats-card number-of-losses">
      <header class="MonthsStats-card-header">
        <h4 class="MonthsStats-card-header-title">
          {{ "MONTH_STATS.CARDS.NUMBER_OF_LOSSES" | translate }}
        </h4>
      </header>
      <div class="MonthsStats-card-info">
        <p class="MonthsStats-card-value global-Elipses">{{statisticsDetails?.lossCount | number}}</p>
      </div>
    </div>

    <!-- Number of draws -->
    <div class="MonthsStats-card number-of-draws">
      <header class="MonthsStats-card-header">
        <h4 class="MonthsStats-card-header-title">
          {{ "MONTH_STATS.CARDS.NUMBER_OF_DRAWS" | translate }}
        </h4>
      </header>
      <div class="MonthsStats-card-info">
        <p class="MonthsStats-card-value global-Elipses">{{zero}}</p>
      </div>
    </div>
  </div>
</div>
