@import "shared";
@import "../../../../../../scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay;
}

.SelectGame {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container {
    margin-top: px2vw-xl(118px);

    @include lg {
      margin-top: px2vw-lg(118px);
    }

    @include md {
      margin-top: px2vw-md(118px);
    }

    @include sm {
      margin-top: px2vw-sm(118px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(50px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-list {
    margin-bottom: px2vw-xl(100px);
    display: grid;
    grid-template-columns: repeat(7, minmax(0, px2vw-xl(196px)));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(24px);
    grid-row-gap: px2vw-xl(35px);

    @include lg {
      margin-bottom: px2vw-lg(100px);
      grid-template-columns: repeat(5, minmax(0, px2vw-lg(196px)));
      grid-column-gap: px2vw-lg(24px);
      grid-row-gap: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(100px);
      grid-template-columns: repeat(3, minmax(0, px2vw-md(208px)));
      grid-column-gap: px2vw-md(24px);
      grid-row-gap: px2vw-md(35px);
    }

    @include sm {
      margin-bottom: px2vw-sm(100px);
      grid-template-columns: repeat(2, minmax(0, px2vw-sm(240px)));
      grid-column-gap: px2vw-sm(24px);
      grid-row-gap: px2vw-sm(35px);
    }
  }

  &-item,
  &-item-image,
  &-item-name {
    transition: 150ms linear;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &.is-active {
      .image {
        border-color: var(--primary-sunset-light);
      }

      .name {
        color: var(--primary-sunset-light);
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &-item-image {
    border: 2px solid transparent;
    border-radius: px2vw-xl(10px);
    object-fit: cover;
    height: px2vw-xl(196px);
    width: 100%;

    @include lg {
      border-radius: px2vw-lg(10px);
      height: px2vw-lg(196px);
    }

    @include md {
      border-radius: px2vw-md(10px);
      height: px2vw-md(208px);
    }

    @include sm {
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(240px);
    }
  }

  &-item-name {
    margin-top: px2vw-xl(24px);
    margin-bottom: 0;
    text-align: center;
    color: var(--base-white);

    @include lg {
      margin-top: px2vw-lg(24px);
    }

    @include md {
      margin-top: px2vw-md(24px);
    }

    @include sm {
      margin-top: px2vw-sm(24px);
    }
  }

  app-page-switcher {
    margin-top: auto;
  }
}
