// one-m styles

/* Thin => 200 */
:root {
  --primary-color: #FF6A39;
  --secondary-color: #4F008C;
  
}

// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   border: 0;
//   outline: 0;
//   max-width: 100%;
//   font-family: sans-serif, arial;
// }

.organizer-phone .separate-dial-code.iti-sdc-4 {
  width: 588px !important;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

*[class*='flex'] {
  display: flex;
}

*[class*='__jc-start'] {
  justify-content: flex-start;
}

*[class*='__jc-end'] {
  justify-content: flex-end;
}

*[class*='__jc-center'] {
  justify-content: center;
}

*[class*='__jc-between'] {
  justify-content: space-between;
}

*[class*='__ai-start'] {
  align-items: flex-start;
}

*[class*='__ai-end'] {
  align-items: flex-end;
}

*[class*='__ai-center'] {
  align-items: center;
}

*[class*='__fd-col'] {
  flex-direction: column;
}

*[class*='__fd-row'] {
  flex-direction: row;
}

.btn {
  padding: 0 14px;
  font-size: 14px;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 46px;
}
.btn.btn-primary {
  background-color: #FF6A39;
  color: #fff;
  border-radius: 50px;
  height: 52px;
}
.btn.btn-secondary {
  background-color: #FF6A39;
  color: #fff;
  border-radius: 4px;
}
.btn img {
  margin: 0 12px;
}
.panel-group{
  .panel-default{
    margin-bottom: 50px;
  }
}
.submitBtn {
  width: 200px;
  padding-inline-end: 40px;
  position: relative;
}

.submit-otp{
  background-color: green;
  color: #fff;
  border-radius: 50px;
  height: 40px;
  width: 40%;
  margin: 2% 0 0 20%;
}

.submitBtn::after {
  content: '';
  width: 17px;
  height: 17px;
  background-image: url('../../../../assets/img/arrow-left-white.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 17px;
  transform: rotate(180deg);
}

[dir="rtl"] .submitBtn::after {
  right: inherit;
  left: 17px;
  transform: rotate(0);
}

.hero-banner {
  background-image: url('../../../../assets/img/banner.png');
  background-color: #4f0b8c;
  background-repeat: no-repeat;
  color: #fff;
  height: 546px;
  align-items: center;
  display: flex;
  margin-bottom: 80px;
  padding-top: 100px;
}

.hero-banner h1 {
  font-size: 42px;
  width: 508px;
  align-self: center;
  margin-bottom: 32px;
  line-height: 60px;
}

.hero-banner p {
  font-size: 24px;
}

.btn:disabled {
  background-color: #a8abae;
  cursor: not-allowed;
  opacity: 1;
}

section .title {
  font-size: 30px;
  color: #1D252D;
  font-weight: 700;
  margin-bottom: 28px;
}

section .description {
  font-size: 20px;
  color: #8E9AA0;
  font-weight: 500;
}

.accordion {
  margin: 28px 0;
}

.accordion-item {
  margin: 40px 0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.active .accordion-content {
  max-height: 800px;
  transition: max-height 0.5s ease-in;
}

.accordion-header {
  display: flex;
  justify-content: end;
}

.accordion-button {
  background: none;
  color: #FF6A39;
  font-size: 21px;
  font-weight: 500;
  padding-inline-end: 25px;
  cursor: pointer;
}

.accordion-button::after {
  content: '';
  width: 16px;
  height: 8px;
  position: absolute;
  background-image: url('../../../../assets/img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: left;
  margin-block-start: 10px;
  margin-inline-start: 10px;
  transform: rotate(90deg);
  transition: transform 0.4s ease;
}
.arrow_down::after{
  transform: rotate(0deg);
  transition: transform 0.4s ease;
}
.active .accordion-button::after {
  transform: rotate(0);
}

.winners-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: 0;
}

.winners-table td,
.winners-table th {
  text-align: left;
  padding: 15px 15px 15px 30px;
}

[dir="rtl"] .winners-table td,
[dir="rtl"] .winners-table th {
  text-align: right;
}

.winners-table td {
  border-bottom: 1px solid #F3F3F1;
}

.winners-table th:nth-child(1) {
  width: 70px;
}

.winners-table th:last-child {
  width: 25%;
}

.winners-table tr td:nth-child(1) {
  text-align: center;
}

.winners-table th {
  color: #8E9AA0;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid #E3E3E1;
}

.prize {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
}

.person {
  font-size: 16px;
  font-weight: 400;
  color: #1D252D;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-flex;
  vertical-align: middle;
  margin-inline-end: 10px;
}

.download-app {
  display: flex;
  background: #F3F3F1;
  padding: 80px 40px;
  border-radius: 4px;
  border-inline-start: 8px solid #FF6A39;
}

[dir="rtl"] .download-app {
  padding: 80px;
}

.download-app > div {
  width: 50%;
}

.download-app .stc-play-logo {
  width: 80px;
  height: 80px;
  display: inline-flex;
  vertical-align: middle;
  margin-inline-end: 10px;
}

.download-app .info > div {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  color: var(--secondary-color);
}

.download-app .info h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.download-app .info p {
  font-size: 15px;
  font-weight: 400;
}

[dir="rtl"] .download-app .info p {
  font-size: 20px;
}

.download-app .links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.download-app .links img {
  height: 44px;
}

.banners {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.banners img {
  max-width: 460px;
}

.progressnew .title {
  color: #FF6A39;
  text-align: center;
}


.progressnew-bar {
  background: #dbdfe1;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  gap: 85px;
  position: relative;
  margin-bottom: 100px;
}

.progressnew-bar::before,
.progressnew-bar::after {
  content: '';
  width: 65px;
  height: 65px;
  background: #dbdfe1;
  position: absolute;
  border-radius: 100%;
  top: -11px;
  right: -16px;
}

.progressnew-bar::after {
  right: inherit;
  left: -16px;
}

.progressnew-bar .progressnew-circle {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 4px solid #fff;
  z-index: 1;
}

.progressnew-bar .progressnew-circle .info {
  margin-inline-start: -40px;
  margin-top: 60px;
  white-space: nowrap;
  position: absolute;
}

.progressnew-circle:last-child .info {
  display: block;
}

.progressnew-circle .info .date {
  font-size: 14px;
  font-weight: 400;
  color: #8E9AA0;
  margin-bottom: 3px;
}

.progressnew-circle .info .week {
  font-size: 18px;
  font-weight: 500;
  color: #1D252D;
}

.progressnew-circle .info .chip {
  margin-top: 20px;
  left: -40px;
  position: relative;
}

[dir="rtl"] .progressnew-circle .info .chip {
  left: inherit;
  right: -20px;
}

.progressnew-bar .progressnew-circle.active {
  background: #FF6A39;
}

.chip {
  background: #F3F3F1;
  padding: 7px 18px;
  border-radius: 20px;
  color: #FF6A39;
  font-weight: 500;
  font-size: 14px;
}

.chip.yellow {
  background: #fef7e6;
  color: #f7b700;
}

.checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html[dir='rtl'] .checkbox-container {
  padding-left: 35px;
  padding-right: auto;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 13px;
  border: solid #FF375E;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox-container .text{
  margin-left: 32px;
  display: block;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 400;
  color: #14171A;
}

.checkbox-container .text a {
  color: #FF6A39;
  text-decoration: underline;
}

html[dir='rtl'] .checkbox-container .text{
  margin-right: 32px;
  margin-left: auto;
}


.fromLoading {
  text-align: center;
  display: none;
  margin-bottom: 100px;
}
.fromLoading.active {
  display: block;
}

.form-active {
  width: 37rem;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 24px;
}
.form-group.invalid .form-field {
  border: 2px solid rgba(255, 55, 94, 0.8) !important;
}
.form-group.invalid small {
  transform: translateY(0);
  opacity: 1;
}
.form-group label {
  margin-bottom: 8px;
}
.form-group .form-field {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid rgba(223, 225, 230, 0.8);
  transition: 180ms ease-out;
}
.form-group .form-field:focus-within {
  border: 2px solid rgba(79, 0, 140, 0.8);
}
.form-group .form-field.ltr {
  direction: ltr;
}
.form-group .form-field .form-control-prepend {
  padding: 0 8px;
  display: flex;
  align-items: center;
  background-color: #dfe1e6;
  margin-left: -1px;
  direction: ltr;
}
.form-group .form-field input {
  width: 100%;
  height: 46px;
  padding: 5px 12px;
  position: relative;
  z-index: 2;
}
.form-group small {
  color: #ff375e;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

section {
  padding: 80px 0;
  padding-top: 0;
}

.registration__header {
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.registration__header h2 {
  margin-bottom: 20px;
}
.registration__header p {
  width: 400px;
}
.registration__header .btn-primary {
  margin-top: 30px;
}
.registration__header img {
  width: 360px;
}
.registration__container {
  background-color: #f3f3f1;
  border-radius: 8px;
  display: flex;
  align-items: stretch;
  height: 560px;
}
.registration__container h3 {
  padding: 32px;
  margin-bottom: 10px;
  font-size: 18px;
}
.registration__steps {
  background-color: #fff;
  box-shadow: -1px 2px 16px rgba(0, 0, 0, 0.15);
  width: 300px;
  border-radius: 0 8px 8px 0;
}
.registration__steps ul {
  padding: 32px;
  padding-top: 0;
}
.registration__steps li {
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #e3e3e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  
}
.registration__steps li span {
  opacity: 0.5;
}
.registration__steps li.active span,
.registration__steps li.completed span{
  opacity: 1;
}
.registration__steps li img {
  display: none;
}
.registration__steps li:last-of-type {
  border-bottom: 0;
}
.registration__steps li.completed {
  color: #00c48c;
}
.registration__steps li.completed .check-icon {
  display: block;
}
.registration__steps li.active .arrow-icon {
  display: block;
  transform: rotate(180deg);
}
html[dir='rtl'] .registration__steps li.active .arrow-icon {
  transform: none;
}
.registration__form {
  flex: 1;
}
.registration__form .step {
  padding: 32px;
  height: 550px;
  flex-direction: column;
  justify-content: space-between;
}
.step {
  display: none;
}
.step.active {
  display: flex;
}
.registration__form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(142, 154, 160, 0.4);
  padding-top: 16px;
  margin-top: 30px;
}

.registration__form__actions .form-group {
  margin-bottom: 0;
}
.registration__form__body.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  column-gap: 20px;
}
.registration__form__body.hide {
  display: none;
}
.registration__form__body p {
  max-width: 80%;
  color: #8e9aa0;
  font-size: 14px;
}
.registration__form__body a {
  color: var(--secondary-color);
  margin-top: 15px;
  transition: 120ms ease-in-out;
}
.registration__form__body a:hover {
  text-decoration: underline;
}

.confirm-msg {
  text-align: center;
  margin-bottom: 100px;
  display: none;
}
.confirm-msg.active {
  display: block;
}

.alert-err-msg {
  color: #ff375e;
  border: 2px solid rgba(255, 55, 95, 0.4);
  padding: 15px 20px;
  background-color: rgba(255, 55, 95, 0.2);
  border-radius: 4px;
  box-shadow: 0 4px 9px rgba(255, 55, 95, 0.2);
  transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  margin: 10px 20px;
  display: none;
}

.err-msg {
  color: #ff375e;
  margin: 10px 20px;
  display: block;
}

.alert-err-msg.show {
  display: block;
}

@keyframes fadeInUp {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .registration__container {
    flex-direction: column;
    height:auto;
  }
  .registration__steps {
    width: 100%;
  }
  .registration__form .step {
    height: auto;
  }
}

@media screen and (max-width: 830px) {
  .hero-banner {
    background-size: cover;
    background-position: 30%;
    justify-content: center;
    text-align: center;
  }
  .hero-banner h1 {
    margin-top: 150px;
    font-size: 27px;
  }

  [dir="rtl"] .hero-banner h1 {
    font-size: 30px;
  }
  .registration__header {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .registration__header img {
    margin-bottom: 40px;
  }
  .registration__form .step {
    padding: 24px;
  }
}

@media screen and (max-width: 780px) {
  .available-data__card__footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .available-data__card__footer button {
    align-self: flex-end;
    margin-top: 20px;
  }

  .banners {
    flex-direction: column;
    gap: 20px;
  }
  .progressnew-bar {
    flex-direction: column;
    width: 50px;
    align-items: center;
    position: unset;
    border-radius: 50px;
    padding: 30px 10px;
  }
  .progressnew-bar::after,
  .progressnew-bar::before {
    display: none;
  }
  
  .progressnew-bar .progressnew-circle .info {
    margin-left: 80px;
    margin-top: -20px;
  }

  [dir="rtl"] .progressnew-bar .progressnew-circle .info {
    margin-left: inherit;
    margin-right: 60px;
  }

  .avatar {
    display: flex;
    margin-inline-end: 0;
    margin-block-end: 10px;
  }
  .registration__form__actions {
    flex-direction: column;
    gap: 20px;
  }
  [dir="rtl"] .checkbox-container .text {
    white-space: nowrap;
  }
  .registration__form__body.grid {
    grid-template-columns: 1fr;
  }
  .file-info {
    width: 75%;
  }
  .available-data__card .btn.btn-primary {
    width: 100%;
    margin-top: 35px;
  }

  .sm-screen {
    display: none;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(29, 37, 45, 0.9);
  padding: 20px;
  display: none;
}
.modal.show {
  display: block;
}
.modal .modal-content {
  position: relative;
  padding: 60px 80px;
  background-color: #fff;
  width: 700px;
  margin: 60px auto;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  animation: fadeInUp 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.modal .modal-body {
  text-align: center;
}
.modal .modal-body h1 {
  text-align: center;
  font-size: 24px;
  line-height: 1.6;
  font-weight: 500;
}

.modal ul {
  margin-top: 10px;
  list-style: decimal;
  line-height: 25px;
  margin-inline-start: 10px;
}
.aggreee-container {
  text-align: center;
  margin-top: 80px;
}

.aggree-btn {
  width: 230px;
  background-color: #4F008C !important;
}

.close-btn {
  color: #FF375E;
  position: absolute;
  left: 30px;
  top: 30px;
  background: no-repeat;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  #terms-condetions{
    padding: 0;
    .modal-content {
      padding: 80px 30px 60px;
      margin:0;
      width: 100%;
    }
  }
  .download-app {
    display: block;
    text-align: center;
    border-inline-start: 0;
    border-block-start: 8px solid #FF6A39;
  }
  .download-app > div {
    width: 100%;
  }

  .download-app .links {
    display: block;
    margin-top: 20px;
  }

  .download-app .stc-play-logo {
    margin-inline-end: 0;
    margin-block-end: 10px;
  }

  .winners-table td, .winners-table th {
    padding: 15px 5px 15px 5px;
  }
}