<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
    <app-carousel
      (emitValue)="selectedStage($event)"
      [list]="stage"
      [title]="'MANAGE_TOURNAMENT.MATCHES.STAGE'"
      [loading]="stageLoading"
    >
    </app-carousel>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
    <app-carousel
      (emitValue)="selectedGroup($event)"
      [list]="stage[currStage - 1]?.group"
      [title]="'MANAGE_TOURNAMENT.MATCHES.GROUP'"
      [loading]="groupLoading"
    >
    </app-carousel>
  </div>
</div>

<div class="row score-table table-battle-royale" *ngIf="isAllDataLoaded">
  <div class="col-xl-12 col-lg-12 col-sm-12">
   
  </div>
</div>
<div class="loading" *ngIf="!isAllDataLoaded">
  <app-loading></app-loading>
</div>

<ng-template #group_round>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" (click)="fieldSorting('name', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.NAME'"
                [activeField]="'name' == activeAttributeSorting"
                [sortOrder]="rSorting?.name"
                [isFirstChild]="true"
              >
              </table-header-cell>
            </th>

            <th scope="col">
              <table-header-cell [title]="'MANAGE_TOURNAMENT.MATCHES.IS_PLAY'">
              </table-header-cell>
            </th>

            <th scope="col" (click)="fieldSorting('placement', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.PLACEMENT'"
                [activeField]="'placement' == activeAttributeSorting"
                [sortOrder]="rSorting?.placement"
              >
              </table-header-cell>
            </th>

            <th scope="col" (click)="fieldSorting('noOfKill', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.NO_OF_KILL'"
                [activeField]="'noOfKill' == activeAttributeSorting"
                [sortOrder]="rSorting?.noOfKill"
              >
              </table-header-cell>
            </th>

            <th scope="col" (click)="fieldSorting('score', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.SCORE'"
                [activeField]="'score' == activeAttributeSorting"
                [sortOrder]="rSorting?.score"
              >
              </table-header-cell>
            </th>
          </tr>
        </thead>

        <tbody *ngIf="!isEdit">
          <tr
            *ngFor="
              let m of ((stage[currStage - 1]?.group)[currGroup - 1]?.round)[
                currRound
              ]?.battleRoyalTeams;
              let i = index
            "
          >
            <th scope="row">
              <div class="Player">
                <img
                  [src]="
                    m.playerId?.logo || 'assets/images/Match/gamer-image.png'
                  "
                />
                <span>
                  <p class="teamName">
                    {{
                      participantType == "individual"
                        ? m.playerId?.name || m.playerId?.teamName
                        : m.playerId?.teamName
                    }}
                  </p>
                  <p class="inGameUserId">{{ m.playerId?.inGamerUserId }}</p>
                </span>
              </div>
            </th>
            <td>
              <app-table-slider-cell
                [notPlaying]="m?.notPlaying"
                [readOnly]="true"
              >
              </app-table-slider-cell>
            </td>
            <td>{{ m.placement }}</td>
            <td>{{ m.noOfKill }}</td>
            <td>{{ m.score | number: "1.2-2" }}</td>
          </tr>
        </tbody>

        <tbody *ngIf="isEdit">
          <tr *ngFor="let m of refMatch?.battleRoyalTeams; let i = index">
            <th scope="row">
              <div class="Player">
                <img
                  [src]="
                    m.playerId?.logo || 'assets/images/Match/gamer-image.png'
                  "
                />
                <span>
                  <p class="teamName">
                    {{
                      participantType == "individual"
                        ? m.playerId?.name
                        : m.playerId?.teamName
                    }}
                  </p>
                  <p class="inGameUserId">
                    {{ m.playerId?.inGamerUserId }}
                  </p>
                </span>
              </div>
            </th>
            <td>
              <app-table-slider-cell
                [notPlaying]="m?.notPlaying"
                (emitValue)="receiveSliderValue($event, i)"
              >
              </app-table-slider-cell>
            </td>
            <td>
              <app-table-counter-cell
                (counterChange)="counterResponse($event, 'placement', i)"
                [max]="refMatch?.battleRoyalTeams?.length"
                [min]="0"
                [value]="m.placement"
                [notPlaying]="m.notPlaying"
              ></app-table-counter-cell>
            </td>
            <td>
              <app-table-counter-cell
                (counterChange)="counterResponse($event, 'noOfKill', i)"
                [min]="0"
                [value]="m.noOfKill"
                [notPlaying]="m.notPlaying"
              ></app-table-counter-cell>
            </td>
            <td>{{ m.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12 content-align-right button-row" *ngIf="isEdit">
      <ng-container *ngIf="!isProcessRequest">
        <button class="btn btn-primary tab-content" (click)="isEdit = false">
          {{ "BUTTON.CANCEL" | translate }}
        </button>

        <button class="btn active-btn" (click)="SubmitScore()">
          {{ "BUTTON.SUBMIT" | translate }}
        </button>
      </ng-container>

      <ng-container *ngIf="isProcessRequest">
        <button class="btn-primary spinner_pointer_event_none">
          <mat-spinner [diameter]="20"></mat-spinner>
        </button>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #group_standing>
  <div class="row">
    <div class="col-12 overflow">
      <table
        *ngIf="!isProcessing && standings?.length"
        class="table table-striped"
      >
        <thead>
          <tr>
            <th scope="col" (click)="standingSorting('name', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.NAME'"
                [activeField]="'name' == activeAttributeStandingSorting"
                [sortOrder]="sSorting?.name"
                [isFirstChild]="true"
              >
              </table-header-cell>
            </th>
            <th
              scope="col"
              *ngFor="let r of standings[0]?.round; let i = index"
              (click)="standingSorting('round' + i + 1, true, i)"
            >
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.ROUND'"
                [subTitle]="i + 1"
                [activeField]="
                  'round' + i + 1 == activeAttributeStandingSorting
                "
                [sortOrder]="sSorting['round' + i + 1]"
              >
              </table-header-cell>
            </th>
            <th scope="col" (click)="standingSorting('totalScore', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.TOTAL'"
                [activeField]="'totalScore' == activeAttributeStandingSorting"
                [sortOrder]="sSorting?.totalScore"
              >
              </table-header-cell>
            </th>
          </tr>
        </thead>

        <tbody class="standing">
          <tr *ngFor="let m of standings; let i = index">
            <th scope="row">
              <div class="Player">
                <img
                  [src]="
                    m.player?.logo || 'assets/images/Match/gamer-image.png'
                  "
                />
                <span>
                  <p class="teamName">
                    {{
                      participantType == "individual"
                        ? m.player?.name
                        : m.player?.teamName
                    }}
                  </p>
                  <p class="inGameUserId">{{ m.player?.inGamerUserId }}</p>
                </span>
              </div>
            </th>

            <td *ngFor="let r of m?.round || []">
              {{ r | number: "1.2-2" }}
            </td>

            <td>{{ m.totalScore | number: "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>

      <app-loading *ngIf="isProcessing"></app-loading>

      <p *ngIf="!isProcessing && !standings.length">
        {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
      </p>
    </div>
  </div>
</ng-template>
