@import "shared";
$--card-bg: var(--card-bg);
$--card-matrix: var(--card-matrix);

:host {
  display: block;
}

.InfoPopup {
  padding: px2vw-xl(40px) px2vw-xl(30px);
  color: var(--white);
  position: relative;
  max-width: px2vw-xl(480px);
  width: px2vw-xl(480px);
  background: var(--gradient-bg-drk8), var(--gradient-bg-drk3);
  border-radius: 2px;
  @include xxl {
    padding: px2vw-xxl(40px) px2vw-xxl(30px);
    width: px2vw-xxl(480px);
  }
  @include lg {
    padding: px2vw-lg(30px) px2vw-lg(30px);
    width: px2vw-lg(480px);
  }

  @include md {
    padding: px2vw-md(20px) px2vw-md(15px);
    max-width: px2vw-md(480px);
    width: px2vw-md(480px);
  }
  @include sm {
    padding: px2vw-sm(20px) px2vw-sm(15px);
    max-width: px2vw-sm(480px);
    width: px2vw-sm(300px);
    height: auto;
    ::ng-deep .sb-button {
      width: px2vw-sm(45px);
      .sb-wrapper {
        width: px2vw-sm(45px);
        .sb-content {
          width: px2vw-sm(45px);
        }
      }
    }
  }

  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(32px);
    text-transform: capitalize !important;
    @include xxl {
      margin-bottom: px2vw-xxl(32px);
    }
    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }
  &-text {
    font-size: px2vw-xl(24px);
    max-width: px2vw-xl(400px);
    @include xxl {
      font-size: px2vw-xxl(24px);
      max-width: px2vw-xxl(400px);
    }
    @include lg {
      font-size: px2vw-lg(24px);
      max-width: px2vw-lg(400px);
    }

    @include md {
      font-size: px2vw-md(24px);
      max-width: px2vw-md(400px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      max-width: px2vw-sm(400px);
    }
  }

  &-footer {
    button {
      margin: 0 px2vw-xl(20px);
      border: 2px solid var(--red);
      @include xxl {
        margin: 0 px2vw-xxl(20px);
      }
      @include lg {
        margin: 0 px2vw-lg(20px);
      }

      @include md {
        margin: 0 px2vw-md(20px);
      }

      @include sm {
        margin: 0 px2vw-sm(20px);
      }
    }
  }
}
.share_buttons {
  padding-bottom: px2vw-xl(18px);
  @include xxl {
    padding-bottom: px2vw-xxl(18px);
  }
  @include lg {
    padding-bottom: px2vw-lg(18px);
  }

  @include md {
    padding-bottom: px2vw-md(18px);
  }

  @include sm {
    padding-bottom: px2vw-sm(18px);
  }
}
::ng-deep {
  .sb-default.sb-group {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: px2vw-xl(20px);
    display: grid;
    @include xxl {
      grid-gap: px2vw-xxl(10px);
    }
    @include lg {
      grid-gap: px2vw-lg(10px);
    }
    @include md {
      grid-gap: px2vw-md(10px);
    }
    @include sm {
      grid-gap: px2vw-sm(10px);
    }
  }
  .sb-wrapper {
    width: px2vw-xl(72px);
    height: px2vw-xl(72px);
    @include xxl {
      width: px2vw-xxl(72px);
      height: px2vw-xxl(72px);
    }
    @include lg {
      width: px2vw-lg(72px);
      height: px2vw-lg(72px);
    }
    @include md {
      width: px2vw-md(72px);
      height: px2vw-md(72px);
    }
    @include sm {
      width: px2vw-sm(50px);
      height: px2vw-sm(50px);
    }
    .sb-icon {
      font-size: px2vw-xl(28px);
      @include xxl {
        font-size: px2vw-xxl(28px);
      }
      @include lg {
        font-size: px2vw-lg(28px);
      }
      @include md {
        font-size: px2vw-md(28px);
      }
      @include sm {
        font-size: px2vw-sm(28px);
      }
    }
  }
}

.PopupCreated-close {
  border-radius: 0;
  border-top-right-radius: px2vw-xl(4px);
  background-color: var(--color-close-btn);
  height: px2vw-xl(30px);
  width: px2vw-xl(30px);
  @include xxl {
    border-top-right-radius: px2vw-xxl(4px);
    height: px2vw-xxl(30px);
    width: px2vw-xxl(30px);
  }
  @include lg {
    border-top-right-radius: px2vw-lg(4px);
    height: px2vw-lg(30px);
    width: px2vw-lg(30px);
  }
  @include md {
    border-top-right-radius: px2vw-md(4px);
    height: px2vw-md(30px);
    width: px2vw-md(30px);
  }
  @include sm {
    border-top-right-radius: px2vw-sm(4px);
    height: px2vw-sm(30px);
    width: px2vw-sm(30px);
  }
  .mat-icon {
    font-size: px2vw-xl(20px);
    @include xxl {
      font-size: px2vw-xxl(20px);
    }
    @include lg {
      font-size: px2vw-lg(20px);
    }
    @include md {
      font-size: px2vw-md(20px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
    }
  }
}

.Photo-fields {
  &-floor {
    margin-bottom: px2vw-xl(18px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(16px);
    @include xxl {
      margin-bottom: px2vw-xxl(18px);
      grid-column-gap: px2vw-xxl(16px);
      grid-row-gap: px2vw-xxl(16px);
    }
    @include lg {
      margin-bottom: px2vw-lg(18px);
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
      grid-column-gap: px2vw-xl(16px);
      grid-row-gap: px2vw-sm(16px);
    }

    &.first {
      grid-template-columns: repeat(2, 1fr);
    }

    &.second {
      grid-template-columns: repeat(2, 1fr);
    }

    &.third {
      grid-template-columns: repeat(2, 1fr);
    }

    &.fourth {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-item {
    &.country {
      grid-area: 1 / 1 / 2 / 3;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      textarea {
        height: px2vw-xl(116px);
        @include xxl {
          height: px2vw-xxl(116px);
        }
        @include lg {
          height: px2vw-lg(116px);
        }

        @include md {
          height: px2vw-md(116px);
        }

        @include sm {
          height: px2vw-sm(116px);
        }
      }
    }
  }
}
.InputSearch-icon {
  color: var(--white);
}

.Referrals-card {
  margin-bottom: px2vw-xl(40px);
  border: px2vw-xl(1px) solid var(--white-smoke);
  border-radius: px2vw-xl(4px);
  background: $--card-bg;
  padding: px2vw-xl(40px) px2vw-xl(32px);
  transform: $--card-matrix;
  @include xxl {
    margin-bottom: px2vw-xxl(40px);
    border-width: px2vw-xxl(1px);
    border-radius: px2vw-xxl(4px);
    padding: px2vw-xxl(40px) px2vw-xxl(32px);
  }
  @include lg {
    margin-bottom: px2vw-lg(40px);
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(4px);
    padding: px2vw-lg(40px) px2vw-lg(32px);
  }

  @include md {
    margin-bottom: px2vw-md(40px);
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(4px);
    padding: px2vw-md(40px) px2vw-md(32px);
  }

  @include sm {
    margin-bottom: px2vw-sm(40px);
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(4px);
    padding: px2vw-sm(40px) px2vw-sm(32px);
  }

  &-container {
    transform: $--card-matrix;
  }

  &-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(16px);
    @include xxl {
      margin-bottom: px2vw-xxl(16px);
    }
    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(16px);
    @include xxl {
      margin-bottom: px2vw-xxl(16px);
    }
    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-link-block {
    @extend %u-dfCenterBtw;
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    background: var(--color-hover-bg);
    @include xxl {
      border-radius: px2vw-xxl(4px);
      padding: px2vw-xxl(16px);
    }
    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-link {
    @extend %body-1;
    margin-bottom: 0;
    background-color: transparent;
    width: 95%;
  }

  &-link-button {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-left: px2vw-xl(16px);
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);
    background-color: transparent;
    @include xxl {
      margin-left: px2vw-xxl(16px);
      height: px2vw-xxl(24px);
      width: px2vw-xxl(24px);
    }
    @include lg {
      margin-left: px2vw-lg(16px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-left: px2vw-md(16px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
    }

    ::ng-deep svg {
      height: px2vw-xl(16px);
      width: px2vw-xl(13px);
      cursor: pointer;
      @include xxl {
        height: px2vw-xxl(16px);
        width: px2vw-xxl(13px);
      }
      @include lg {
        height: px2vw-lg(16px);
        width: px2vw-lg(13px);
      }

      @include md {
        height: px2vw-md(16px);
        width: px2vw-md(13px);
      }

      @include sm {
        height: px2vw-sm(16px);
        width: px2vw-sm(13px);
      }

      path {
        transition: $global-transition2;
      }
    }

    &:hover ::ng-deep svg path {
      fill: var(--color-primary);
    }
  }
}

.Referrals-history {
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(40px);
    color: var(--white);
    @include xxl {
      margin-bottom: px2vw-xxl(40px);
    }
    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  app-referral-card:first-child {
    ::ng-deep .ReferralCard {
      padding-top: 0;
    }
  }
}
