@import "shared";

:host {
  display: block;
}

.InboxMessage-header {
  margin-bottom: px2vw-xl(16px);
  padding: px2vw-xl(34px) 0;

  @include lg {
    margin-bottom: px2vw-lg(16px);
    padding: px2vw-lg(34px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    padding: px2vw-md(34px) 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    padding: px2vw-sm(34px) 0;
  }
}

.InboxMessage-date {
  @extend %subtitle-2;
  margin-bottom: px2vw-xl(24px);
  color: var(--white-medium);

  @include lg {
    margin-bottom: px2vw-lg(24px);
  }

  @include md {
    margin-bottom: px2vw-md(24px);
  }

  @include sm {
    margin-bottom: px2vw-sm(24px);
  }
}

.InboxMessage-about {
  @extend %u-dfStart;

  &-image {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(24px);
    border-radius: 50%;
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);
    background-color: var(--color-tertiary);

    @include lg {
      margin-right: px2vw-lg(24px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-image-name {
    @extend %global-H6;
  }

  &-block {
  }

  &-name {
    @extend %global-H7;
    margin-bottom: px2vw-xl(10px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-description {
    @extend %body-1;
    margin-bottom: 0;
    /* 1440px/Body 1 */

font-family:  'redhat-regular';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* On Surface/High Emphasis */

color: rgba(255, 255, 255, 0.87);
  }

  &-buttons {
    @extend %u-dfCenter;
    margin-top: px2vw-xl(64px);

    @include lg {
      margin-top: px2vw-lg(64px);
    }

    @include md {
      margin-top: px2vw-md(64px);
    }

    @include sm {
      margin-top: px2vw-sm(64px);
    }
  }

  &-button {
    flex-shrink: 0;
    margin-right: px2vw-xl(8px);
 
    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
