<div class="mesf-scrollbar">
  <ngx-datatable
    #table
    class="mesf-DataTableAdmin dark is-viewRemoveRow is-admin"
    [columns]="columns"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="'auto'"
    [footerHeight]="'auto'"
    [rowHeight]="'auto'"
    [limit]="50"
    (select)="onSelect($event)"
  >
    <ngx-datatable-column name="Id"></ngx-datatable-column>
    <ngx-datatable-column name="Full Name"></ngx-datatable-column>
    <ngx-datatable-column name="Email"></ngx-datatable-column>
    <ngx-datatable-column name="Phone Number"></ngx-datatable-column>
    <ngx-datatable-column name="Sign Up From"></ngx-datatable-column>
    <ngx-datatable-column name="Member Since">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["MembserSince"] | date: "dd MMM YYYY" }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Amount Spend"></ngx-datatable-column>
    <ngx-datatable-column name="">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button
          mat-icon-button
          color="primary"
          class="UserManagement-tableBtn is-view"
        >
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon color="accent" class="UserManagement-tableBtn is-remove"
            >remove_circle</mat-icon
          >
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
