@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: block;
}

.TeamCardInfo {
  display: flex;

  @include sm {
    flex-direction: column;
  }

  &-image {
    flex-shrink: 0;
    width: px2vw-xl(214px);
    height: px2vw-xl(214px);
    background-size: cover;
    background-position: center center;
    background-color: var(--base-black);

    @include lg {
      width: px2vw-lg(218px);
      height: px2vw-lg(218px);
    }

    @include md {
      width: px2vw-md(214px);
      height: px2vw-md(214px);
    }

    @include sm {
      width: 100%;
      height: px2vw-sm(240px);
    }
  }

  &-container {
    flex-grow: 1;
    padding: px2vw-xl(50px) px2vw-xl(40px);
    background: linear-gradient(
      to right,
      var(--windsor),
      var(--persian-indigo)
    );

    @include lg {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: px2vw-lg(25px) px2vw-lg(30px);
    }

    @include md {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: px2vw-md(16px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(25px);
    }
  }

  &-manage {
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: px2vw-xl(20px);
    height: 100%;

    @include lg {
      margin-right: 0;
      height: auto;
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-header {
    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      flex-direction: column;
      align-items: flex-start;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-title {
    margin-right: px2vw-xl(30px);
    margin-bottom: 0;
    color: var(--base-white);

    @include lg {
      margin-right: px2vw-lg(30px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(20px);
      line-height: 1.1;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-social {
    margin-right: px2vw-xl(30px);

    @include lg {
      margin-right: px2vw-lg(30px);
    }

    @include md {
      margin-right: px2vw-md(30px);
    }

    @include sm {
      margin-right: px2vw-sm(30px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-social-icon {
    display: block;

    ::ng-deep {
      svg {
        max-height: px2vw-xl(32px);

        @include lg {
          max-height: px2vw-lg(32px);
        }

        @include md {
          max-height: px2vw-md(32px);
        }

        @include sm {
          max-height: px2vw-sm(32px);
        }
      }

      path {
        fill: var(--base-white);
      }
    }
  }

  &-trophies {
    align-self: flex-end;
    width: 100%;
  }

  &-trophies-title {
    flex-shrink: 0;
    margin-bottom: 0;
    font-family: "stc-forward-regular", sans-serif;
    font-size: px2vw-xl(20px);
    color: var(--base-white);

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }
  }

  &-trophy {
    margin-left: px2vw-xl(28px);

    @include lg {
      margin-left: px2vw-lg(28px);
    }

    @include md {
      margin-left: px2vw-md(28px);
    }

    @include sm {
      margin-left: px2vw-sm(28px);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-trophy-icon {
    margin-right: px2vw-xl(15px);
    width: px2vw-xl(33px);
    height: px2vw-xl(36px);

    @include lg {
      margin-right: px2vw-lg(15px);
      width: px2vw-lg(33px);
      height: px2vw-lg(36px);
    }

    @include md {
      margin-right: px2vw-md(15px);
      width: px2vw-md(33px);
      height: px2vw-md(36px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      width: px2vw-sm(33px);
      height: px2vw-sm(36px);
    }
  }

  &-trophy-text {
    color: var(--base-white);
  }
}
