<div
  (clickOutside)="onClickedOutside($event)"
  [@openClose]="showChatComponent ? 'open' : 'closed'"
  [ngClass]="windowposition"
>


  <div class="top_menu">
    <div class="buttons">
      <a class="button close" (click)="closeChat()">
        <!-- <img src="./assets/images/chat/chat-close.png" alt="chat" /> -->
        <img src="assets/images/Tournament/close.png" alt="chat" />
      </a>
    </div>
    <div class="title">
      {{ chattitle }}
    </div>
    <div class="subtitle" *ngIf="typeofchat == 'tournament'">
      {{ "CHAT.TOURNAMENT_OWNER" | translate }} :
      {{ this.currentTournamentOwner?.name  }}
    </div>
    <div class="subtitle" *ngIf="matchtitle != ''">
      {{ matchtitle  }}
    </div>
    <div class="subtitle">
      {{ subtitle  }}
    </div>
    <div class="subtitle" *ngIf="subtitle2 != ''">
      {{ subtitle2  }}
    </div>
  </div>

































  <ul id="messagesul" #messagesul class="messages">
    <li *ngIf="chatLoader"
    class="message-self">
      <div class="message-i">
        <span class="message-i-first global-text"> loading... </span>
      </div>
    </li>

    <li
      *ngFor="let chat of chats; index as i; last as isLast"
      [ngClass]="
        userObject['_id'] == chat.userid ? 'message-self' : 'message-opponent'
      "
    >
      <div
        *ngIf="userObject['_id'] == chat.userid && chat.msg != ''"
        class="message-i"
      >
        <span class="message-i-first global-text">
          {{ chat.chatusername ? (chat.chatusername ) : (chat.fullName ) }}
          {{ chat.chatusername == currentTournamentOwner ? "(O)" : "" }}
        </span>

        <span class="message-i-second global-text">
          {{ chat.updatedAt | date: "dd-MMM-yyyy h:mm a" }}
        </span>
      </div>

      <div
        *ngIf="userObject['_id'] != chat.userid && chat.msg != ''"
        class="message-i"
      >
        <span class="message-i-first global-text">
          {{ chat.chatusername ? (chat.chatusername ) : (chat.fullName ) }}
          {{ chat.chatusername == currentTournamentOwner ? "(O)" : "" }}
        </span>
        <span class="message-i-second global-text">
          {{ chat.updatedAt | date: "dd-MMM-yyyy h:mm a" }}
        </span>
      </div>
      <!-- <div> delete flag : {{ chat.deleteflag }}</div>
        <div> current user id : {{ userObject['_id'] }}</div>
        <div> chat user : {{ chat.userid }}</div> -->

      <div
        *ngIf="
          !isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'no'
        "
        class="msg chatmessage-{{ chat._id }}"
        (mouseenter)="showDelete($event, chat._id)"
        (mouseleave)="hideDelete($event, chat._id)"
      >
        <div class="overlay delete-{{ chat._id }}">
          <a
            class="trashicon"
            (click)="deleteChat(openModel, chat._id, chat.receiverid)"
            href="javascript:void(0);"
            title="Delete Chat"
          >
            <img
              src="./assets/images/chat/trash.png"
              alt="Trash"
              class="trashimage"
            />
          </a>
        </div><span [innerHTML]="returnFormattedChatMessage(chat.msg)"></span>
        <br />

        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
        <ul></ul>
      </div>

      <div
        *ngIf="
          isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'no'
        "
        class="msg chatmessage-{{ chat._id }}"
        (mouseenter)="showDelete($event, chat._id)"
        (mouseleave)="hideDelete($event, chat._id)"
        id="lastelement"
        #lastelement
      >
        <div class="overlay delete-{{ chat._id }}">
          <a
            class="trashicon"
            (click)="deleteChat(openModel, chat._id, chat.receiverid)"
            href="javascript:void(0);"
            title="Delete Chat"
          >
            <img
              src="./assets/images/chat/trash.png"
              alt="Trash"
              class="trashimage"
            />
          </a>
        </div>
        <span [innerHTML]="returnFormattedChatMessage(chat.msg)"></span><br />

        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
        <ul></ul>
      </div>

      <div
        *ngIf="
          isLast &&
          chat.msg != '' &&
          userObject['_id'] != chat.userid &&
          chat.deleteflag == 'no'
        "
        class="msg chatmessage-{{ chat._id }}"
        id="lastelement"
        #lastelement
      >
        {{ chat.msg }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
        <ul></ul>
      </div>

      <div
        *ngIf="
          !isLast &&
          chat.msg != '' &&
          userObject['_id'] != chat.userid &&
          chat.deleteflag == 'no'
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ chat.msg }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
        <ul></ul>
      </div>

      <div
        *ngIf="
          isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'yes' &&
          !chatAdminFlag
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ "CHAT.YOU_DELETED_THIS_MESSAGE" | translate }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
      </div>

      <div
        *ngIf="
          isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'yes' &&
          chatAdminFlag
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ chat.msg }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
      </div>

      <div
        *ngIf="
          !isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'yes' &&
          !chatAdminFlag
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ "CHAT.YOU_DELETED_THIS_MESSAGE" | translate }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
      </div>

      <div
        *ngIf="
          !isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'yes' &&
          chatAdminFlag
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ chat.msg }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
      </div>

      <div
        *ngIf="
          isLast &&
          chat.msg != '' &&
          userObject['_id'] != chat.userid &&
          chat.deleteflag == 'yes' &&
          !chatAdminFlag
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ "CHAT.MESSAGE_WAS_DELETED" | translate }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
      </div>

      <div
        *ngIf="
          isLast &&
          chat.msg != '' &&
          userObject['_id'] != chat.userid &&
          chat.deleteflag == 'yes' &&
          chatAdminFlag
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ chat.msg }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
      </div>

      <div
        *ngIf="
          !isLast &&
          chat.msg != '' &&
          userObject['_id'] != chat.userid &&
          chat.deleteflag == 'yes' &&
          !chatAdminFlag
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ "CHAT.MESSAGE_WAS_DELETED" | translate }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
      </div>

      <div
        *ngIf="
          !isLast &&
          chat.msg != '' &&
          userObject['_id'] != chat.userid &&
          chat.deleteflag == 'yes' &&
          chatAdminFlag
        "
        class="msg chatmessage-{{ chat._id }}"
      >
        {{ chat.msg }}<br />
        <img *ngIf="chat.messagetype == 'image'" src="{{ chat.thumbnailurl }}" />
      </div>
    </li>
  </ul>











  <div class="bottom_wrapper clearfix" *ngIf="showTextAndButton">
    <div id="typing" class="typing" *ngIf="typingmessage != ''">
      {{ typingmessage }}
    </div>
    <form id="form" enctype="multipart/form-data">
      <div class="message_input_wrapper" #messageinputwrapper>
        <input
          id="message"
          #messageinput
          class="message_input"
          (keydown.enter)="onEnterKey($event)"
          (focus)="onTyping($event)"
          (focusout)="hideTyping($event)"
          placeholder="{{ 'CHAT.SAY' | translate }}"
        />
      </div>

      <div class="bottompad">
        <div class="senddiv">
          <a class="send_message" (click)="onEnterKey($event)">
            {{ "BUTTON.SEND" | translate }}
          </a>
        </div>
      </div>
    </form>
  </div>

</div>

<ng-template #openModel let-modal class="Logout-modal">
  <header class="Logout-modal-header">
    <h3 class="Logout-modal-title">
      {{ "CHAT.DELETE" | translate }}
    </h3>
    <button class="Logout-modal-close" (click)="modal.dismiss()">
      <span class="material-icons">clear</span>
    </button>
  </header>
  <div class="Logout-modal-message">
    {{ "CHAT.DELETE_1" | translate }}
  </div>
  <div class="Logout-modal-buttons">
    <button
      class="Logout-modal-button global-EditBtn dark-text"
      (click)="modal.dismiss()"
    >
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button
      class="Logout-modal-button global-EditBtn"
      (click)="onConfirmDelete()"
    >
      {{ "BUTTON.CONFIRM" | translate }}
    </button>
  </div>
</ng-template>
