<table class="table table-striped table-color">
  <thead>
    <tr>
      <th scope="col">{{ "ADMIN_NEW.ARTICLE_NAME" | translate }}</th>
      <th scope="col">{{ "ADMIN_NEW.GAME" | translate }}</th>
      <th scope="col">{{ "ADMIN_NEW.AUTHER_NAME" | translate }}</th>
      <th scope="col">{{ "ADMIN_NEW.PUBLISH_DATE" | translate }}</th>
      <th scope="col">{{ "ADMIN_NEW.LIKES" | translate }}</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngIf="articlesList && articlesList.length > 0">
      <tr *ngFor="let item of articlesList; let i = index">
        <th scope="row">{{ item.title }}</th>
        <td>{{ item?.game }}</td>
        <td>{{ item.author }}</td>
        <td>
          {{ item.createdDate | date: "MMM d, y" }}
        </td>
        <td>{{ item.likes }}</td>
        <td *ngIf="viewIconShow">
          <a (click)="viewArticle(viewModel, item.id, 'view')">
            <fa-icon [icon]="faEye"></fa-icon
          ></a>
        </td>
        <td *ngIf="checkIconShow">
          <a (click)="viewArticle(viewModel, item.id, 'check')"
            ><fa-icon [icon]="faCheckSquare"></fa-icon
          ></a>
        </td>
        <td *ngIf="deleteIconShow">
          <a (click)="open(openModel, item.id, 'delete')"
            ><fa-icon [icon]="faTrash"></fa-icon
          ></a>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="articlesList.length == 0">
      <td colspan="8">{{ "ADMIN_NEW.NO_RECORD" | translate }}</td>
    </ng-container>
  </tbody>
</table>

<!-- VIEW MODEL -->
<ng-template #viewModel let-modal class="temp">
  <div class="modal-header">
    <button class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <div class="pl-4 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-3">
          <h5>{{ "ADMIN_NEW.ARTICLE_DETAILS" | translate }}</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <span class="description-text">
            <label>{{ "ADMIN_NEW.BASIC_DETAILS" | translate }}</label>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>{{ "ADMIN_NEW.AUTHER_OPTION" | translate }}</label>
          <div class="">
            <span>{{ articleModel?.title }}</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>{{ "ADMIN_NEW.AUTHER_NAME" | translate }}</label>
          <div class="">
            <span>{{ articleModel?.authorDetails.userName  | limitString : 17:'...'}}</span>
            <hr />
          </div>
        </div>

        <div class="col-md-6">
          <label>{{ "ADMIN_NEW.DATE" | translate }}</label>
          <div class="">
            <span>{{ articleModel?.createdDate | date: "MMM d, y" }}</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label>{{ "ADMIN_NEW.MINUTE" | translate }}</label>
          <div class="">
            <span>{{ articleModel?.minRead }}</span>
            <hr />
          </div>
        </div>

        <div class="col-md-6">
          <label>{{ "ADMIN_NEW.GAME" | translate }}</label>
          <div class="">
            <span>{{ articleModel?.game }}</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label>Description{{ "ADMIN_NEW.LIKES" | translate }}</label>
          <div class="">
            <span
              class="author-description"
              [innerHTML]="articleModel?.content"
            ></span>
          </div>
        </div>
      </div>

      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label>{{ "ADMIN_NEW.DESC" | translate }}</label>
        </span>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>{{ "ADMIN_NEW.LIKES" | translate }}</label>
          <div class="">
            <span>856</span>
            <hr />
          </div>
        </div>

        <div class="col-md-4">
          <label>{{ "ADMIN_NEW.BOOKMARKS" | translate }}</label>
          <div class="">
            <span>300</span>
            <hr />
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>

      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label>{{ "ADMIN_NEW.SHARED" | translate }}</label>
        </span>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>Facebook</label>
          <div class="">
            <span>566</span>
            <hr />
          </div>
        </div>

        <div class="col-md-4">
          <label>Twitter</label>
          <div class="">
            <span>100</span>
            <hr />
          </div>
        </div>

        <div class="col-md-4">
          <label>Instagram</label>
          <div class="">
            <span>200</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label>{{ "ADMIN_NEW.TAG" | translate }}</label>
        </span>
      </div>

      <div class="row">
        <div class="col-md-12 tags-list">
          <div *ngFor="let tag of articleModel?.tags" class="tag-item">
            {{ tag }}
          </div>
        </div>
      </div>

      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label>{{ "ADMIN_NEW.COMMENTS" | translate }}</label>
        </span>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>{{ "ADMIN_NEW.MSG_1" | translate }}</p>
          <p>{{ "ADMIN_NEW.MSG_2" | translate }}</p>
          <p>{{ "ADMIN_NEW.MSG_1" | translate }}</p>
        </div>
      </div>

      <div class="modal-footer" *ngIf="!viewModelBtnDisable">
        <button name="button" class="btn-primary">
          {{ "ADMIN_NEW.TRASH" | translate }}
        </button>

        <button
          class="btn-primary"
          (click)="open(openModel, articleModel?.id, 'requestEdit')"
          name="button"
        >
          {{ "ADMIN_NEW.REQ_EDIT" | translate }}
        </button>

        <button class="btn-primary" name="button">
          {{ "ADMIN_NEW.A_P" | translate }}
        </button>
      </div>

      <div class="row" *ngIf="viewModelBtnDisable">
        <div class="col-md-8"></div>

        <div class="col-md-4 model-footer">
          <button
            class="global-EditBtn dark-text"
            name="button"
            (click)="modal.dismiss()"
          >
            CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- ABORT MODEL/ REQUEST EDIT -->
<ng-template #openModel let-modal class="temp">
  <div class="modal-header">
    <button class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <div class="pl-5 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-4">
          <h4>{{ modelHeader }}</h4>
          <hr class="hr-margin" />
        </div>
      </div>

      <div class="row mt-2 ml-3 pl-2 mr-5">
        <span class="description-text">
          <h5>{{ modelTitle }}</h5>
          {{ modelDesc }}
          <hr />
        </span>
      </div>
    </div>
  </div>

  <div class="modal-footer" *ngIf="hideBtn">
    <button
      class="global-EditBtn dark-text"
      (click)="modal.dismiss()"
      name="button"
      data-dismiss="modal"
    >
      CANCEL
    </button>

    <button
      *ngIf="!showRequestEditBtn"
      class="active-btn"
      (click)="abort()"
      name="button"
    >
      {{ "ADMIN_NEW.ABORT" | translate }}
    </button>

    <button *ngIf="showRequestEditBtn" class="active-btn" name="button">
      {{ "ADMIN_NEW.SUBMIT" | translate }}
    </button>
  </div>
</ng-template>
