<div class="TournamentSlider" *ngIf="trendingNews.length">
  <p-carousel
    [circular]="true"
    [numScroll]="1"
    [numVisible]="1"
    [responsiveOptions]="responsiveOptions"
    [value]="trendingNews"
  >
    <ng-template let-item pTemplate="item">
      <div class="TournamentSlider-slide" [lazyLoad]="item.image">
        <h2>hixiZ</h2>
      </div>
    </ng-template>
  </p-carousel>
</div>
