
.LogReg {

  &-error {
    margin-bottom: px2vw-xl(10px);
    font-size: px2vw-xl(16px);
    color: red;

    @include lg {
      margin-bottom: px2vw-lg(10px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(16px);
    }
  }

  &-title {
    font-size: px2vw-xl(60px);

    @include lg {
      font-size: px2vw-lg(60px);
    }

    @include md {
      font-size: px2vw-md(60px);
    }

    @include sm {
      font-size: px2vw-sm(60px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(75px);
    font-size: px2vw-xl(26px);

    @include lg {
      margin-bottom: px2vw-lg(75px);
      font-size: px2vw-lg(26px);
    }

    @include md {
      margin-bottom: px2vw-md(75px);
      font-size: px2vw-md(26px);
    }

    @include sm {
      margin-bottom: px2vw-sm(75px);
      font-size: px2vw-sm(26px);
    }
  }

  &-input {
    margin-bottom: px2vw-xl(10px);
    border-color: transparent;

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }

    .login-link {
      margin-top: px2vw-xl(40px);
      right: px2vw-xl(-10px);
      position: absolute;
      cursor: pointer;
      font-size: 90%;

      @include lg {
        margin-bottom: px2vw-lg(40px);
        right: px2vw-lg(-10px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
        right: px2vw-md(-10px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
        right: px2vw-sm(-10px);
      }
    }
  }
}
