<div class="form-group form-select" [formGroup]="customFormGroup" [class.pointer-event-none]="readOnly">
  <label
    *ngIf="title"
    for="drop_down"
    class="label"
    [class.active]="type != 'F' && customFormGroup.value[customFormControlName]"
  >
    {{ title | translate }} *
  </label>

  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'A'">
      <ng-container *ngTemplateOutlet="type_1"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'B'">
      <ng-container *ngTemplateOutlet="type_2"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'C'">
      <ng-container *ngTemplateOutlet="type_3"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'D'">
      <ng-container *ngTemplateOutlet="type_4"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'E'">
      <ng-container *ngTemplateOutlet="type_5"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'F'">
      <ng-container *ngTemplateOutlet="type_6"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'G'">
      <ng-container *ngTemplateOutlet="type_7"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'H'">
      <ng-container *ngTemplateOutlet="type_8"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'I'">
      <ng-container *ngTemplateOutlet="type_9"></ng-container>
    </ng-container>
  </ng-container>

  <div
    class="error"
    *ngIf="
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      (customFormGroup?.controls)[customFormControlName]?.errors?.required
    "
  >
    <strong>{{ "TOURNAMENT.COUNTER_1" | translate }}</strong>
  </div>
  <div
    class="error"
    *ngIf="
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      (customFormGroup?.controls)[customFormControlName]?.errors?.checkInExpired
    "
  >
    <strong>{{ "TOURNAMENT.COUNTER_4" | translate }}</strong>
  </div>
</div>

<ng-template #type_1>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_1" ngbDropdownToggle>
      {{
        customFormGroup.value[customFormControlName]
          ? (dropdownList[customFormGroup.value[customFormControlName]]
            | translate)
          : ""
      }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_1">
      <button
        (click)="setValue(item.key)"
        ngbDropdownItem
        *ngFor="let item of dropdownList | keyvalue"
      >
        {{ item.value | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_2>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_2" ngbDropdownToggle>
      {{ (customFormGroup.value[customFormControlName] | translate) || "" }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_2">
      <button
        (click)="setValue(item.name)"
        ngbDropdownItem
        *ngFor="let item of dropdownList"
      >
        <img [src]="item?.flag" [hidden]="!item?.flag" />
        {{ item.name | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_3>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_3" ngbDropdownToggle>
      {{ customFormGroup.value[customFormControlName] || "" }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_3">
      <button
        (click)="setValue(item)"
        ngbDropdownItem
        *ngFor="let item of dropdownList"
      >
        {{ item | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_4>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_4" ngbDropdownToggle>
      {{ customFormGroup.value[customFormControlName] || "" }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_4">
      <button
        (click)="setValue(item?.city)"
        ngbDropdownItem
        *ngFor="let item of dropdownList"
      >
        {{ item?.city | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_5>
  <div ngbDropdown>
    <button class="form-control dropdownltr" id="drop_down_5" ngbDropdownToggle>
      {{
        customFormGroup.value[customFormControlName] || ""
          | nameById: "name":dropdownList
          | translate
      }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_5">
      <button
        (click)="setValue(item?._id)"
        ngbDropdownItem
        *ngFor="let item of dropdownList"
      >
        {{ item?.name | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_6>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_6" ngbDropdownToggle>
      {{ "" | nameById: "name":dropdownList | translate }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_6">
      <button
        (click)="setValueInArray(item?._id)"
        ngbDropdownItem
        *ngFor="let item of dropdownList"
      >
        {{ item?.name | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_7>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_2" ngbDropdownToggle>
      {{
        (customFormGroup.value[customFormControlName]
          | region: currentLang:dropdownList:filterType) || ""
      }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_6">
      <button
        (click)="setValue(item.name)"
        ngbDropdownItem
        *ngFor="let item of dropdownList"
      >
        {{
          item.name | region: currentLang:dropdownList:filterType | translate
        }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_8>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_8" ngbDropdownToggle>
      {{ customFormGroup.value[customFormControlName] }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_8">
      <button
        (click)="setValueAndDisplay({ value: item._id, display: item.name })"
        *ngFor="let item of dropdownList"
        ngbDropdownItem
      >
        {{ item?.name }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_9>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_3" ngbDropdownToggle>
      {{ (customFormGroup.value[customFormControlName] || "" ) | bracket | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down_9">
      <button
        (click)="setValue(item?.value)"
        ngbDropdownItem
        *ngFor="let item of dropdownList"
      >
        {{ item?.name | translate }}
      </button>
    </div>
  </div>
</ng-template>
