@import "shared";

:host {
  display: block;
}

.SearchArticle {
  &-title {
    position: relative;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }

    h3.d-inline-block {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
    }
  }

  &-seemore {
    position: absolute;
    right: 0px;
    margin-bottom: px2vw-xl(24px);
    color: var(--main-color);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 290px 290px 290px 290px;
    grid-auto-rows: 18x;
    grid-gap: 30px;

    @include sm {
      grid-template-columns: 220px 220px 220px 220px;
      grid-auto-rows: 18x;
      grid-gap: 30px;

      overflow-x: scroll;
    }
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--tertiary-color);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}

.cards {
  padding: 0;

  &-image {
    background-size: cover;
    margin-bottom: px2vw-xl(10px);
    height: px2vw-xl(160px);
    width: 100%;
    background-color: var(--black);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      height: px2vw-lg(160px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      height: px2vw-md(160px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      height: px2vw-sm(160px);
    }
  }

  &-info {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: start;
    align-items: start;

    @include sm {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-left {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: start;
      align-items: start;

      @include sm {
        -webkit-align-items: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 16px;
      }

      .avatar {
        width: 32px;
        height: 32px;
        overflow: hidden;

        position: relative;
        margin-top: 6px;
        margin-right: 8px;

        img {
          position: absolute;
          width: 100%;

          top: 0;
          left: 0;
          object-fit: cover;
        }
      }

      .info {
        .name {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 8px;
          color: var(--white);
        }

        .id-infomore {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--tolopea-color);
          margin-bottom: 0;
        }
      }
    }

    &-right {
      @include sm {
        width: 100%;
      }

      .Position {
        width: 107px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;

        @include sm {
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          width: 100%;
        }

        .label {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--tolopea-color);
          display: inline-block;
          margin-right: 24px;

          @include sm {
            margin-right: 16px;
            font-size: 14px;
            line-height: 20px;
          }
        }

        .score {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: var(--white);

          @include sm {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
  }

  &-match {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding: 18px 39px 18.31px 32px;

    @include sm {
      padding: 24px;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-left {
      @include sm {
        width: 100%;
        margin-bottom: 16px;
      }
    }

    &-right {
      @include sm {
        width: 100%;
      }
    }

    .match-lists {
      width: 100%;
      max-width: 355px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;

      @include sm {
        max-width: 100%;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: flex-start;
        align-items: flex-start;
      }

      .item {
        @include sm {
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: flex-start;
          align-items: flex-start;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
        }
      }

      .label {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: var(--tolopea-color);
        display: inline-block;
        margin-right: 24px;

        @include sm {
          margin-right: 0;
          width: 100%;
        }
      }

      .score {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: var(--white);
      }
    }
    a.link-to {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--main-color);

      @include sm {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        padding: 11px 0;
        background-color: var(--white);
        color: var(--secondary-color);
        border-radius: px2vw-sm(6px);
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
      }

      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }




    }
  }
}
