@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "base/typography";
@import "abstract/functions";

.MyTournament {
  &-items {
    margin-top: px2vw-xl(60px);

    @include lg {
      margin-top: px2vw-lg(60px);
    }

    @include md {
      margin-top: px2vw-md(15px);
    }

    @include sm {
      margin-top: px2vw-sm(15px);
    }
  }

  &-item {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(5px);
    border-bottom: 1px solid var(--base-gainsboro);
    padding: px2vw-xl(22px);

    @include lg {
      margin-bottom: px2vw-lg(5px);
      padding: px2vw-lg(22px);
    }

    @include md {
      flex-wrap: wrap;
      margin-bottom: px2vw-md(5px);
      padding: px2vw-md(22px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
      padding: px2vw-sm(22px);
    }

    &:not(:first-child):hover {
      background-color: var(--base-white-smoke);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-info {
      span {
        display: block;
      }
    }

    &-btn {
      @include btnEvents();
      @extend %global-Text;
      background: none;
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(24px);
      color: var(--primary-sunset-light);
      &:hover{
        cursor: pointer;
      }

      @include lg {
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }
    }

    &-coll {
      flex: 1;
      font-family: "stc-forward-regular", sans-serif;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(32px);
      text-align: right;

      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        flex: none;
        font-size: px2vw-md(16px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(32px);
      }

      &.content {
        text-align: left;
        flex: 8;

        @include lg {
          flex: 7;
        }

        @include md {
          margin-bottom: px2vw-md(10px);
          flex: none;
          width: 100%;
        }

        @include sm {
          margin-bottom: px2vw-sm(10px);
        }
      }

      &-title {
        margin-bottom: px2vw-xl(8px);
        color: var(--base-black-pearl);
        line-height: 1;

        @include lg {
          margin-bottom: px2vw-lg(8px);
        }

        @include md {
          margin-bottom: px2vw-md(8px);
          font-size: px2vw-md(20px);
        }

        @include sm {
          margin-bottom: px2vw-sm(8px);
          font-size: px2vw-sm(20px);
        }
      }

      &-description {
        margin-bottom: 0;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--base-submarine);

        @include lg {
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }
      }

      .date {
        color: var(--base-black-pearl);
      }

      &.button-block {
        text-align: center;
      }
    }
  }
}

.MyTournament-sectionA {
  margin-bottom: px2vw-xl(80px);

  @include lg {
    margin-bottom: px2vw-lg(80px);
  }

  @include md {
    margin-bottom: px2vw-md(80px);
  }

  @include sm {
    margin-bottom: px2vw-sm(80px);
  }

  &-tournament-button {
    margin-top: px2vw-xl(18px);

    @include lg {
      margin-top: px2vw-lg(18px);
    }

    @include md {
      margin-top: px2vw-md(18px);
    }

    @include sm {
      margin-top: px2vw-sm(18px);
    }
  }
}