<div class="SelectPlatform-wrap" *ngIf="selectedGame">
  <main class="SelectPlatform-main" [lazyLoad]="selectedGame?.matchmakingBanner">
    <header class="SelectPlatform-header">
      <h1 class="SelectPlatform-header-title">
        {{ "MATCHMAKING.SELECT_PLATFORM.TITLE" | translate }}
      </h1>
      <h2 class="SelectPlatform-header-descrip">
        <p class="content-bg-w">
          {{ "MATCHMAKING.SELECT_PLATFORM.DESCRIP.FIND_A_MATCH" | translate }}
        </p>
        <p class="content-bg-p">
          {{
          "MATCHMAKING.SELECT_PLATFORM.DESCRIP.HONE_YOUR_SKILLS" | translate
          }}
        </p>
      </h2>
      <p class="SelectPlatform-header-subtitle">
        {{ "MATCHMAKING.SELECT_PLATFORM.SUBTITLE" | translate }}
      </p>
    </header>
    <div class="SelectPlatform-items-block">
      <section class="SelectPlatform-items">
        <h3 class="SelectPlatform-items-title">
          {{ "MATCHMAKING.SELECT_PLATFORM.GAME_TYPE" | translate }}
        </h3>
        <ul class="SelectPlatform-items-cards" *ngIf="gameTypes?.length">
          <ng-container *ngFor="let game of gameTypes">
            <li class="SelectPlatform-items-card" (click)="nextPage(game)"
              [class.active]="selectedGameType === game?.type">
              <div class="SelectPlatform-items-card-wrap">
                <div class="SelectPlatform-items-card-icon-block">
                  <div class="SelectPlatform-items-card-icon card-icon" [class]="game?.type" [inlineSVG]="game?.icon">
                  </div>
                </div>
                <p class="SelectPlatform-items-card-name card-name">
                  {{ game?.title | translate }}
                </p>
              </div>
            </li>
          </ng-container>
        </ul>
      </section>
    </div>
  </main>
</div>
<!--<app-faq class="faq-mobile"></app-faq>-->
<app-footer-menu-mobile [gameDetail]="selectedGameLogo"></app-footer-menu-mobile>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
