<div class="Contact_us u-wp">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h4>{{ "FOOTER_LINKS.CONTACT_US" | translate  }}</h4>
                <!-- <p>{{ "FOOTER_LINKS.CONTENT" | translate  }}</p> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="faq_title">
                <h6>{{ "FOOTER_LINKS.CONTENTS.DESCRIP3" | translate }}</h6>
            </div>
            <div class="card_block faq_block">
                <div class="faq_icon">
                    <img src="assets/icons/faq_icon.svg" class="img-fluid" />
                    <div class="call_us">
                        <h6>{{ "FOOTER_LINKS.SELF_SERVICE" | translate  }} {{ "FOOTER_LINKS.VIA_FAQ" | translate  }}</h6>
                    </div>
                </div>
                <hr />
                <div class="faq_button">
                    <div class="button_faq">
                        <a class="button-secondary"  [routerLink]="[AppHtmlRoutes.faq]">{{ "FOOTER_LINKS.VISIT_FAQS" | translate  }}<img src="assets/icons/arrows/back_arrow.svg" class="img-fluid" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="heading">
                <p>{{ "FOOTER_LINKS.CONTENT" | translate  }}</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card_block contact_us">
                <div class="callus_option">
                    <img src="assets/icons/phone_icon.svg" class="img-fluid" />
                    <div class="call_us">
                        <h6>{{ "FOOTER_LINKS.CALL_US" | translate  }}</h6>
                        <p>{{ "FOOTER_LINKS.CONTENTS.DESCRIP" | translate }} {{ "FOOTER_LINKS.CONTENTS.CALL_AWAY" | translate  }}</p>
                    </div>
                </div>
                <hr />
                <div class="contact_no">
                    <div class="number">
                        <p>{{ "FOOTER_LINKS.NO" | translate   }}</p>
                        <p>{{ "FOOTER_LINKS.CONTENTS.DESCRIP1" | translate   }} </p>
                    </div>
                    <div class="number">
                        <p>{{ "FOOTER_LINKS.PHONE_NO" | translate  }}</p>
                        <p>{{ "FOOTER_LINKS.CONTENTS.DESCRIP2" | translate  }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
