<header class="Content-header">
  <h1 class="Content-header-title">
    My {{ "PROFILE.CONTENT.TITLE" | translate }}
  </h1>
  <button *ngIf="isAdmin" class="Content-header-button button-primary" [routerLink]="AppHtmlProfileRoutes.newsCreate">
    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.66683 5.66665H5.66683V9.66665H4.3335V5.66665H0.333496V4.33331H4.3335V0.333313H5.66683V4.33331H9.66683V5.66665Z"
        fill="black" />
    </svg>
    {{ "BUTTON.CREATE_ARTICLE" | translate }}
  </button>
</header>

<div class="Content-table" *ngIf="articles.length">
  <div class="Content-table-header table-responsive">
    <table style="width: 100%;">
      <thead>
        <tr class="table-col-title">
          <th class="date" (click)="sort()">{{ "PROFILE.CONTENT.TABLE.DATE" | translate }} <img
              src="assets/wallet/tble_arrow_down.svg" alt="logo">
          </th>
          <th class="title">{{ "PROFILE.CONTENT.TABLE.TITLE" | translate }}</th>
          <th class="views">{{ "PROFILE.CONTENT.TABLE.VIEWS" | translate }}</th>
          <th class="likes">{{ "PROFILE.CONTENT.TABLE.LIKES" | translate }}</th>
          <!-- <th class="comments">{{ "PROFILE.CONTENT.TABLE.COMMENTS" | translate }}</th> -->
          <th class="status">{{ "PROFILE.CONTENT.TABLE.STATUS" | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let card of slicesArticles">
          <tr class="table-col-title">
            <td>
              <div class="Content-table-card-item date">
                {{ card.createdDate |date :'dd/MM/YYYY'}}
              </div>
            </td>
            <td>
              <div class="Content-table-card-item title">
                {{
                currentLang === "english"
                ? card.title?.english
                : card.title?.english
                }}
              </div>
            </td>
            <td>
              <div class="Content-table-card-item views">
                {{ card.views ? card.views : "-" }}
              </div>
            </td>
            <td>
              <div class="Content-table-card-item likes">
                {{ card.totalLikes ? card.totalLikes : "-" }}
              </div>
            </td>
            <td>
              <div class="Content-table-card-item status">
                <ng-container *ngIf="card?.articleStatus == 'deleted'; else elseTemplate">
                  <div class="Content-table-card-status draft status_pending">
                    {{card?.articleStatus}}
                  </div>
                </ng-container>
                <ng-template #elseTemplate>
                  <div *ngIf="card?.articleStatus =='publish'" class="Content-table-card-status status_published">
                    PUBLISHED
                  </div>
                  <div *ngIf="card?.articleStatus =='draft'" class="Content-table-card-status status_draft">
                    {{card?.articleStatus}}
                  </div>
                  <div *ngIf="card?.articleStatus =='submitted_for_approval'"
                    class="Content-table-card-status status_pending">
                    PENDING
                  </div>
                  <div *ngIf="card?.articleStatus =='request_edit'" class="Content-table-card-status status_pending">
                    {{card?.articleStatus}}
                  </div>
                </ng-template>
              </div>
            </td>
            <td>
              <div class="edit">
                <a [routerLink]="[AppHtmlProfileRoutes.newsEdit, card?._id]">Edit</a>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="Content-table-pagination">
    <mat-paginator [length]="articles.length" [pageSize]="articlesPerPage[0]" [pageSizeOptions]="articlesPerPage"
      (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
