<button
  mat-dialog-close
  mat-icon-button
  class="global-Dialog-close"
  (click)="onEdit()"
>
  <span class="material-icons">clear</span>
</button>

<div class="InfoPopup">
  <h4 class="InfoPopup-title global-H4">
    {{ "POPUP.SCORE_HEADER" | translate }}
  </h4>

  <div class="InfoPopup-text">
    {{ "POPUP.SCORE_BODY" | translate }}
  </div>

  <div class="InfoPopup-footer">
    <button class="btn is-small" (click)="onEdit()">
      {{ "BUTTON.EDIT" | translate }}
    </button>

    <button class="btn is-small" (click)="onConfirm()">
      {{ "BUTTON.CONFIRM" | translate }}
    </button>
  </div>
</div>
