@import "shared";

:host {
  display: block;
  width: 100%;
}

.counter__container {
  height: 40px;
  max-width: 100%;
  background: var(--white-high) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid var(--black-medium);

  @include sm {
    margin-bottom: px2vw-sm(20px);
    width: 100%;
  }

  input {
    background: transparent;
    color: var(--black);
    font-size: 18px;
    line-height: 23px;
    font-family: "redhat-medium", sans-serif!important;
    width: 40%;
    text-align: center;
  }

  button {
    color: var(--black);
    font-size: 18px;
    line-height: 23px;
    font-family: "redhat-medium", sans-serif!important;
    background: transparent;
  }
}

label {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 105%;
  color: var(--white);
  font-size: 12px;

  span {
    color: var(--orange-color-main);
  }
}

.pointer-event-none {
  pointer-events: none;
}
