<app-header-bottom [gameDetail]="gameDetail"></app-header-bottom>
<!-- <section class="Tournament-slider">
  <app-tournament-slider></app-tournament-slider>
</section> -->

<!-- <section class="Tournament-games u-wp">
  <app-games-cards></app-games-cards>
</section> -->

<section class="Tournaments">
  <div class="Tournaments-container">
    <div class="Tournaments-wrapper">
      <div class="Tournaments-inner">
        <div class="Tournaments-left">
          <div class="Tournaments-heading">
            <h2 class="title">
              {{ "ESPORTS.TOURNAMENT.TOURNAMENTS.TITLE" | translate }}
            </h2>
          </div>
          <!-- <div class="Tournaments-filter">
            <div class="Tournaments-filter-Group">
              <div class="Tournaments-filter-label" (click)="clearFilter()">
                <span class="text">{{
                  "SEASON.HOME.FILTERED_BY" | translate
                  }}</span>
              </div>
              <div class="Tournaments-filter-lists" *ngIf="showFilter">
                <div *ngFor="let item of listFilter" >
                  <div class="item" *ngIf="item.check" >
                     <span class="text">
                    {{item.value}}
                  </span>
                  <span class="icon-remove" (click)="removeSortBy(item)"></span>
                </div>
                </div>
              </div>
              <div class="Tournaments-filter-btn" (click)="clearFilterBtn()">
                <a class="btn btn-clear">{{
                  "BUTTON.CLEAR_FILTERS" | translate
                  }}</a>
              </div>
            </div>
            <div class="Tournaments-filter-Button">
              <button class="btn button-default" (click)="showPopup()">
                {{ "BUTTON.SELECT_FILTER" | translate }}
              </button>
            </div>
          </div> -->
          <div class="Tournaments-main">
            <div class="Tournaments-main-heading">
              <p class="ShowingEntries">
                {{ tournamentData?.docs?.length }}
                {{ "ESPORTS.TOURNAMENT_FOUND" | translate }}
              </p>
              <!-- <div class="SortBy">
                <div ngbDropdown class="Select-teamDropdown">
                  <button class="btn Select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                    Sort by
                  </button>
                  <div class="Select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <ng-container *ngFor="let item of sortByList" >
                      <button ngbDropdownItem  (click)="onSortBy(item)">
                        {{
                        item?.label
                        | translate
                        }}
                      </button>
                    </ng-container>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="Tournaments-main-content">
              <div class="Tournaments-main-content-lists">
                <app-tournaments-card [dataList]="tournamentData?.docs"></app-tournaments-card>
              </div>
              <ng-container *ngIf="!hidePagination">
                <esports-pagination *ngIf="tournamentData?.docs?.length" [activePage]="participantPage?.activePage"
                  [page]="participantPage" (currentPage)="currentPage($event)"></esports-pagination>
              </ng-container>

              <!-- <div class="Tournaments-main-ButtonGroup">
                <div class="pagination">
                  <span class="pagination-numberPage"> Page 1 of 10 </span>
                </div>
                <div class="ButtonGroup">
                  <button type="button" class="btn btn-slider-pre">
                    <span
                      class="icon"
                      inlineSVG="assets/icons/season/Icon-arrow-pre.svg"
                    ></span>
                  </button>
                  <button type="button" class="btn btn-slider-next">
                    <span
                      class="icon"
                      inlineSVG="assets/icons/season/Icon-arrow-next.svg"
                    ></span>
                  </button>
                </div>
              </div> -->
              <!-- <main class="Tournaments-main" *ngIf="tournamentData?.docs">
                <div class="Tournaments-cards">
                  <app-tournaments-card *ngFor="let item of tournamentData?.docs" [params]="item"></app-tournaments-card>
                </div>

                <div class="Tournaments-pagination">
                  <app-pagination (currentPage)="pageChanged($event)" [activePage]="paginationData.page" [page]="page">
                  </app-pagination>
                </div>
              </main> -->
            </div>
          </div>
        </div>
        <div class="Tournaments-right">
          <div class="Tournaments-right-heading">
            <h4 class="title">
              {{ "ESPORTS.TOURNAMENT.TOURNAMENTS.CATEGORIES" | translate }}
            </h4>
            <ul class="lists">
              <li class="item" [ngClass]="{ 'active' : isAll }">
                <a class="link-to" (click)="isSelected('isAll'); getAllTournaments();">{{
                  "ESPORTS.TOURNAMENT.TOURNAMENTS.ALL" | translate
                  }}</a>
              </li>
              <li class="item" [ngClass]="{ 'active' : isOngoing }">
                <a class="link-to" (click)="isSelected('isOngoing'); getOnGoingTournamentsPaginated();">{{
                  "ESPORTS.TOURNAMENT.TOURNAMENTS.ONGOING" | translate
                  }}</a>
              </li>
              <li class="item" [ngClass]="{ 'active' : isUpcoming }">
                <a class="link-to" (click)="isSelected('isUpcoming'); getUpcomingTournamentsPaginated();">{{
                  "ESPORTS.TOURNAMENT.TOURNAMENTS.UPCOMING" | translate
                  }}</a>
              </li>
              <!-- <li class="item">
                <a class="link-to" (click)="getAllTournaments()">{{
                  "ESPORTS.TOURNAMENT.TOURNAMENTS.FREE_ENTRY" | translate
                  }}</a>
              </li>
              <li class="item">
                <a class="link-to" (click)="getAllTournaments()">{{
                  "ESPORTS.TOURNAMENT.TOURNAMENTS.PRIZES" | translate
                  }}</a>
              </li> -->
            </ul>
          </div>
          <section class="Tournaments-right-checkbox">
            <div class="Tournaments-right-checkbox-heading">
              <h2 class="title">{{ "SEASON.FILTERS.TITLE" | translate }}</h2>
              <button class="btn btn-close">
                <span class="icon" inlineSVG="assets/icons/Icon-close-blu.svg"></span>
              </button>
            </div>
            <div class="Tournaments-right-checkbox-container">
              <div class="Tournaments-right-checkbox-wrapper">
                <div class="Tournaments-right-checkbox-inner">
                  <!-- <div class="form-field-item form-field-checkbox">
                    <label for="" class="form-label">{{
                      "SEASON.FILTERS.PLATFORMS" | translate
                      }}</label>
                    <ng-container *ngFor="let option of listFilter">
                      <div class="input-group">
                      <mat-checkbox class="example-margin"
                         [checked] ="option.check"
                        (change)="onSortByoption($event,option)">
                        {{
                          option?.label
                          | translate
                          }}
                      </mat-checkbox></div>
                    </ng-container>
                  </div> -->
                  <!-- <div class="form-field-item form-field-checkbox">
                    <label for="" class="form-label">{{
                      "SEASON.FILTERS.MODE" | translate
                    }}</label>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Competitive</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin">Casual</mat-checkbox>
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Deathmatch</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Arms Race</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Demolition</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Wingman</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Retakes</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Danger Zone</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Flying Scoutsman</mat-checkbox
                      >
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="Tournaments-right-checkbox-ButtonGroup">
              <button type="button" class="btn button-primary">
                {{ "BUTTON.SHOW_FILTERS" | translate }}
              </button>
              <button type="button" class="btn button-default">
                {{ "BUTTON.CLEAR_FILTERS" | translate }}
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- <header class="Tournaments-header">
    <div class="Tournaments-header-left">
      <h2 class="Tournaments-header-title global-H3">
        {{ "ESPORTS.TOURNAMENT.TOURNAMENTS.TITLE" | translate }}
      </h2>

      <div class="Tournaments-header-dropdown global-Dropdown">
        <button class="Tournaments-header-dropdown-button" [matMenuTriggerFor]="tournamentMode">
          {{ currentTab | capitalizeFirst }}
        </button>

        <mat-menu #tournamentMode="matMenu" xPosition="before">
          <button (click)="currentTab = 'upcoming'; changeTab($event)" mat-menu-item>
            {{ "ESPORTS.SECTIONBV2.BUTTON1" | translate }}
          </button>

          <button (click)="currentTab = 'ongoing'; changeTab($event)" mat-menu-item>
            {{ "ESPORTS.SECTIONBV2.BUTTON2" | translate }}
          </button>

          <button (click)="currentTab = 'completed'; changeTab($event)" mat-menu-item>
            {{ "ESPORTS.SECTIONBV2.BUTTON3" | translate }}
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="Tournaments-header-right">
      <button class="Tournaments-header-search global-IconBtn" [routerLink]="AppHtmlRoutes.search">
        <fa-icon class="Tournaments-header-search-icon" [icon]="faSearch"></fa-icon>
      </button>

      <button class="Tournaments-header-create" [routerLink]="AppHtmlRoutes.tournamentInfo">
        <img class="Tournaments-header-create-icon" src="assets/icons/add-team.svg" alt="create icon" />
        <span class="Tournaments-header-create-text">
          {{ "BUTTON.CREATE_TOURNAMENT" | translate }}
        </span>
      </button>
    </div>
  </header> -->
</section>
<div *ngIf="isShown" class="popup" id="divshow">
  <app-popup (hidePopup)="hidePopup()"></app-popup>
</div>
<app-footer-menu-mobile></app-footer-menu-mobile>
<!-- <app-faq></app-faq> -->
<app-footer-dynasty></app-footer-dynasty>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
