<div class="TeamGame u-dfStart">
  <div class="TeamGame-icon-block">
    <img
      class="TeamGame-icon"
      src="assets/icons/match-making/swords.svg"
      alt="icon"
    />
  </div>

  <div class="TeamGame-content">
    <h1 class="TeamGame-title global-Title2 global-Elipses">
      {{ "MATCHMAKING.TEAM_GAME.TITLE" | translate }}
    </h1>

    <p class="TeamGame-subtitle global-Text">
      {{ "MATCHMAKING.TEAM_GAME.SUBTITLE" | translate }}
    </p>

    <a class="TeamGame-new-team global-Text">
      {{ "MATCHMAKING.TEAM_GAME.NEW_TEAM" | translate }}
    </a>

    <div class="TeamGame-teams">
      <h3 class="TeamGame-teams-title global-Text">
        {{ "MATCHMAKING.TEAM_GAME.YOUR_TEAMS" | translate }}
      </h3>

      <ul class="TeamGame-teams-list" *ngIf="myTeams.length">
        <li
          *ngFor="let team of myTeams"
          class="TeamGame-teams-item u-dfCenterCenter"
        >
          <div
            class="TeamGame-teams-item-image"
            [style.background-image]="'url(' + team.image + ')'"
          ></div>
          <p class="TeamGame-teams-item-name global-Title3 global-Elipses">
            {{ team.name }}
          </p>
        </li>
      </ul>

      <div class="TeamGame-buttons u-dfCenterEnd">
        <button class="TeamGame-button global-EditBtn cancel"
        (click)="previous()">
          {{ "BUTTON.CLOSE" | translate }}
        </button>
        <button
          class="TeamGame-button global-EditBtn confirm"
          [routerLink]="AppHtmlMatchmakingRoutes.teamMembers"
        >
          {{ "BUTTON.CONFIRM" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
