@import "shared";

:host {
  display: block;
}

.TeamGame {
  @include md {
    flex-direction: column;
  }

  &-icon-block {
    flex-shrink: 0;
    margin-right: px2vw-xl(35px);
    height: px2vw-xl(55px);
    width: px2vw-xl(55px);

    @include lg {
      margin-right: px2vw-lg(35px);
      height: px2vw-lg(55px);
      width: px2vw-lg(55px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(15px);
      height: px2vw-md(55px);
      width: px2vw-md(55px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
      height: px2vw-sm(55px);
      width: px2vw-sm(55px);
    }
  }

  &-icon {
    max-width: 100%;
    max-height: 100%;
  }

  &-content {
    flex-grow: 1;

    @include md {
      width: 100%;
    }
  }

  &-title {
    line-height: 1.1;
    margin-bottom: px2vw-xl(27px);

    @include lg {
      margin-bottom: px2vw-lg(27px);
    }

    @include md {
      margin-bottom: px2vw-md(27px);
    }

    @include sm {
      margin-bottom: px2vw-sm(27px);
    }
  }

  &-subtitle {
    margin-bottom: 0;
    color: var(--base-black-pearl);
    line-height: px2vw-xl(32px);

    @include lg {
      line-height: px2vw-lg(32px);
    }

    @include md {
      line-height: px2vw-md(32px);
    }

    @include sm {
      line-height: px2vw-sm(32px);
    }
  }

  &-new-team {
    display: block;
    margin-bottom: px2vw-xl(44px);
    font-family: "stc-forward-medium", sans-serif;
    color: var(--burnt-orange);

    @include lg {
      margin-bottom: px2vw-lg(44px);
    }

    @include md {
      margin-bottom: px2vw-md(44px);
    }

    @include sm {
      margin-bottom: px2vw-sm(44px);
    }
  }

  &-teams {
  }

  &-teams-title {
    margin-bottom: px2vw-xl(20px);
    color: var(--base-submarine);

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-teams-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(34px);
    grid-row-gap: px2vw-xl(34px);
    margin-bottom: px2vw-xl(70px);

    @include lg {
      margin-bottom: px2vw-lg(70px);
      grid-column-gap: px2vw-lg(34px);
      grid-row-gap: px2vw-lg(34px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin-bottom: px2vw-md(70px);
      grid-column-gap: px2vw-md(25px);
      grid-row-gap: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(70px);
      grid-column-gap: px2vw-sm(15px);
      grid-row-gap: px2vw-sm(15px);
    }
  }

  &-teams-item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--base-gainsboro);
    min-height: px2vw-xl(230px);
    padding: px2vw-xl(20px) px2vw-xl(10px);

    @include lg {
      min-height: px2vw-lg(230px);
      padding: px2vw-lg(20px) px2vw-lg(10px);
    }

    @include md {
      min-height: px2vw-md(260px);
      padding: px2vw-md(20px) px2vw-md(10px);
    }

    @include sm {
      min-height: px2vw-sm(240px);
      padding: px2vw-sm(20px) px2vw-sm(10px);
    }
  }

  &-teams-item-image {
    margin-bottom: px2vw-xl(25px);
    height: px2vw-xl(108px);
    width: px2vw-xl(108px);
    border-radius: 50%;
    background-size: cover;

    @include lg {
      margin-bottom: px2vw-lg(25px);
      height: px2vw-lg(108px);
      width: px2vw-lg(108px);
    }

    @include md {
      margin-bottom: px2vw-md(25px);
      height: px2vw-md(120px);
      width: px2vw-md(120px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
      height: px2vw-sm(110px);
      width: px2vw-sm(110px);
    }
  }

  &-teams-item-name {
    margin-bottom: 0;
    text-align: center;
    font-size: px2vw-xl(20px);
    line-height: 1.2;

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }
  }

  &-button {
    margin-left: px2vw-xl(10px);

    @include lg {
      margin-left: px2vw-lg(10px);
    }

    @include md {
      margin-left: px2vw-md(10px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
    }

    &:first-child {
      margin-left: 0;
    }

    &.cancel {
      font-family: "stc-forward-medium", sans-serif;
      background-color: transparent;
      color: var(--burnt-orange) !important;
    }

    &.confirm {
      background-color: var(--burnt-orange);
    }
  }
}
