html[dir="rtl"] {
  .gwb-button {
      .text {
    font-family: "somar-black", sans-serif;
    font-size: px2vw-xl(24px);

    @include lg {
      font-size: px2vw-lg(18px);
    }

    @include md {
      font-size: px2vw-md(18px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
    }
  }
  } 

}
