html[dir="rtl"] {
  .Create-Article {
    &-buttons {
      .btn:first-child {
        margin-left: 10px;
      }
    }
  }

  .article-lang .WYSIWYG-editor .WYSIWYG-editor-wrapper .WYSIWYG-editor-textarea {
    text-align: right;
  }

  .binIcon {
    margin-right: 11px;
    margin-left: 0;
  }

  .upload-file .cursor {
    text-align: center;
  }

  .create-article-tag {
    margin-left: 0 !important;
    margin-right: 1rem;
  }
  .auth-logo {
    width: 4em;
    margin-left: 15px;
}
.rtldirection{
  direction: ltr;
}

}

html[dir="ltr"] {
 .article-lang .WYSIWYG-editor .WYSIWYG-editor-wrapper .WYSIWYG-editor-textarea {
    text-align: right;
  }
}
