html[dir="rtl"] {
  #turnament-main-div {
    .nav-link .border-navtab {
      left: -50% !important;

      &.first-line {
        right: 50% !important;
        left: auto !important;
      }

      &.second-line {
        left: 50% !important;
        right: auto !important;
      }

      &.third-line {
        left: 50% !important;
        right: auto !important;
      }
    }

    .start-time label {
      margin-right: 0;
      margin-left: 15px;
    }

    .form-check img,
    .bracket-format p img {
      margin-right: 0;
      margin-left: 10px;
    }

    .form-check-label {
      margin-right: 0;
    }
    .toggle-switch-label {
      margin-right: 0;
      margin-left: 15px;
    }

    .col-xl-3.col-lg-3.col-md-3 {
      padding-right: 0;
      padding-left: 8px;
    }

    .tab-content .carousel-game {
      .swiper-slide {
        margin-left: 15px !important;
        margin-right: 0 !important;

        > div div {
          padding-right: 21px;
          padding-left: 0;
          text-align: left;
        }
      }

      &:last-child {
        margin-left: 0 !important;
      }

      .swiper-slide.swiper-slide-prev {
        margin-left: 50px !important;
        margin-right: 15px !important;
      }

      .swiper-slide.swiper-slide-next {
        margin-right: 50px !important;
        margin-left: 15px !important;
      }
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      right: -40%;
      transform: rotate(135deg);
    }

    .swiper-button-prev {
      right: 0;
      left: auto;
      margin-right: -19px;
    }

    .swiper-button-next {
      right: auto;
      left: 0;
      margin-left: -23px;
    }

    .btn-group,
    .btn-group-vertical {
      direction: ltr;
    }

    .row-details-streaming .col-6 {
      &:first-child {
        padding-right: 0;
        padding-left: 8px;
      }

      &:last-child {
        padding-right: 8px;
        padding-left: 0;
      }
    }

    .type-tournament__table .col-lg-4.border-right,
    .type-tournament__table .col-lg-6.border-right {
      border-right: none !important;
      border-left: 1px solid var(--ui-dim-gray) !important;
      @media (max-width: 767px) {
        border-left: none !important;
      }
    }
  }

  .oldRadioList .form-group {
    direction: ltr;
    float: right;
  }

  .preview-banner .row {
    .col-game {
      margin-right: 0 !important;
      margin-left: 58px;
    }

    .col-when {
      margin-right: 0 !important;
      margin-left: 44px;
    }

    .col-type {
      direction: ltr;
    }

    .btn-group,
    .btn-group-vertical {
      direction: ltr;
    }

    .row-details-streaming .col-6 {
      &:first-child {
        padding-right: 0;
        padding-left: 8px;
      }

      &:last-child {
        padding-right: 8px;
        padding-left: 0;
      }
    }

    .type-tournament__table .col-lg-4.border-right,
    .type-tournament__table .col-lg-6.border-right {
      border-right: none !important;
      border-left: 1px solid var(--ui-dim-gray) !important;
    }
  }

  .oldRadioList .form-group {
    direction: ltr;
    float: right;
  }

  .preview-banner .row {
    .col-game {
      margin-right: 0 !important;
      margin-left: 58px;
    }

    .col-when {
      margin-right: 0 !important;
      margin-left: 44px;
    }

    .col-type {
      direction: ltr;
    }
  }

  .tournament .fa-prize-trash {
    margin: 0 auto 0 0;
    padding: 0;
    z-index: 2;
    left: 18px;
    float: none;
  }
  .direction {
    @include sm {
      direction: ltr;
    }
  }
  .alignment {
    @include lg {
      margin-top: px2vw-lg(200px);
    }
    @include md {
      margin-top: px2vw-md(240px);
    }
    @include sm {
      margin-top: px2vw-sm(250px);
    }
  }
   mat-form-field.new-date-input {
       .mat-form-field-label {
         &.mat-form-field-empty {
           left: auto !important;
            right: 10px !important;
          }
        }
      }
}
