html[dir="rtl"] {
  .Discussion {
    &-comment {
      &-description {
        margin-right: px2vw-xl(35px);
        margin-left: 0;
        text-align: right;

        @include lg {
          margin-right: px2vw-lg(35px);
        }

        @include md {
          margin-right: px2vw-md(35px);
        }

        @include sm {
          margin-right: px2vw-sm(35px);
        }
      }
      &-date {
        direction: ltr;
      }
      &-info {
        margin-right: 0;
        margin-left: px2vw-xl(12px);

        @include lg {
          margin-left: px2vw-lg(12px);
        }

        @include md {
          margin-left: px2vw-md(12px);
        }

        @include sm {
          margin-left: px2vw-sm(12px);
        }

        fa-icon {
          margin-right: 0;
          margin-left: px2vw-xl(8px);

          @include lg {
            margin-left: px2vw-lg(8px);
          }

          @include md {
            margin-left: px2vw-md(8px);
          }

          @include sm {
            margin-left: px2vw-sm(8px);
          }
        }
      }
    }

    &-create-title {
      margin-right: px2vw-xl(5px);
      text-align: right;

      @include lg {
        margin-right: px2vw-lg(5px);
      }

      @include md {
        margin-right: px2vw-md(5px);
      }

      @include sm {
        margin-right: px2vw-sm(5px);
      }
    }

    &-show-hide-comment {
      &::after {
        @include angle();

        right: px2vw-xl(15px);
        top: px2vw-xl(-2px);
        width: px2vw-xl(14px);
        height: px2vw-xl(14px);
        border-top: none;
        border-left: none;
        border-right: px2vw-xl(3px) solid var(--base-black-pearl);
        border-bottom: px2vw-xl(3px) solid var(--base-black-pearl);

        @include lg {
          right: px2vw-lg(15px);
          top: px2vw-lg(-2px);
        }

        @include md {
          right: px2vw-md(15px);
          top: px2vw-md(-2px);
        }

        @include sm {
          right: px2vw-sm(15px);
          top: px2vw-sm(-2px);
        }
      }

      &.is-active::after {
        top: px2vw-xl(3px);
        right: px2vw-xl(22px);

        @include lg {
          top: px2vw-lg(3px);
          right: px2vw-lg(22px);
        }

        @include md {
          top: px2vw-md(3px);
          right: px2vw-md(22px);
        }

        @include sm {
          top: px2vw-sm(3px);
          right: px2vw-sm(22px);
        }
      }
    }
  }

  .Message-cancel {
    margin-left: px2vw-xl(10px);

    @include lg {
      margin-left: px2vw-lg(10px);
    }

    @include md {
      margin-left: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      margin-right: px2vw-sm(0px);
    }
  }

  .cmt {
    margin-left: px2vw-xl(8px);
    width: 60%;
    font-size: px2vw-xl(22px);
    @include lg {
      margin-left: px2vw-lg(8px);
      font-size: px2vw-lg(22px);
      width: 60%;
    }

    @include md {
      margin-left: px2vw-md(8px);
      font-size: px2vw-md(22px);
      width: 60%;
    }

    @include sm {
      margin-left: px2vw-sm(8px);
      font-size: px2vw-sm(22px);
      width: 52%;
    }
  }
}
