html[dir="rtl"] {
  .Ladder-match {
    &-table {
      .ngx-datatable .datatable-body .datatable-scroll {
        display: block;
      }

      .gamerId-icon {
        margin-right: px2vw-xl(20px);

        @include lg {
          margin-right: px2vw-lg(20px);
        }

        @include md {
          margin-right: px2vw-md(20px);
        }

        @include sm {
          margin-right: px2vw-sm(20px);
        }
      }
      &-option-image-block {
        margin-left: px2vw-xl(20px);

        @include lg {
          margin-left: px2vw-lg(14px);
        }

        @include md {
          margin-left: px2vw-md(14px);
        }

        @include sm {
          margin-left: px2vw-sm(18px);
        }
      }

      .player-image {
        margin-left: px2vw-xl(10px);

        @include lg {
          margin-left: px2vw-lg(10px);
        }

        @include md {
          margin-left: px2vw-md(10px);
        }

        @include sm {
          margin-left: px2vw-sm(10px);
        }
      }

      .datatable-row-center {
        display: flex;
      }

      .datatable-header-cell {
        // SN
        &:first-child {
          padding-right: px2vw-xl(35px);

          @include lg {
            padding-right: px2vw-lg(25px);
          }

          @include md {
            padding-right: px2vw-md(15px);
          }

          @include sm {
            padding-right: px2vw-sm(5px);
          }
        }

        // Player Name
        &:nth-child(2) {
          display: flex;
          width: px2vw-xl(600px) !important;

          @include lg {
            width: px2vw-lg(600px) !important;
          }

          @include md {
            width: px2vw-md(600px) !important;
          }

          @include sm {
            width: px2vw-sm(600px) !important;
          }
        }

        // Gamer Id
        &:nth-child(3) {
          display: flex;
          width: px2vw-xl(275px) !important;

          @include lg {
            width: px2vw-lg(230px) !important;
          }

          @include md {
            width: px2vw-md(230px) !important;
          }

          @include sm {
            width: px2vw-sm(170px) !important;
          }
        }

        // Menu
        &:nth-child(4) {
          width: px2vw-xl(120px) !important;

          @include lg {
            width: px2vw-lg(75px) !important;
          }

          @include md {
            width: px2vw-md(75px) !important;
          }

          @include sm {
            width: px2vw-sm(55px) !important;
          }
        }
      }

      .datatable-header-cell-label {
        @extend %global-Text2;
        color: var(--base-submarine);
      }

      .datatable-body-cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto !important;
        padding: px2vw-xl(18px) 0;

        @include lg {
          padding: px2vw-lg(18px) 0;
        }

        @include md {
          padding: px2vw-md(18px) 0;
        }

        @include sm {
          padding: px2vw-sm(18px) 0;
        }

        // SN
        &:first-child {
          width: px2vw-xl(270px) !important;
          padding-left: px2vw-xl(35px);

          @include lg {
            width: px2vw-lg(270px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(270px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(270px) !important;
            padding-left: px2vw-sm(5px);
          }
        }
      }
    }
  }
}
