html[dir="rtl"] {
  .Match {
    padding-right: 0;
    padding-left: 7px;

    &-Action {
      right: 100%;
      left: auto;
    }
  }

  .Team-avatar {
    margin-right: 0;
    margin-left: 10px;
  }

  h6 {
    text-align: initial;

    &.set-score {
      margin-right: px2vw-xl(7px);

      @include lg {
        margin-right: px2vw-lg(7px);
      }

      @include md {
        margin-right: px2vw-md(7px);
      }

      @include sm {
        margin-right: px2vw-sm(7px);
      }
    }
  }

  .mat-tab-label {
    margin-left: px2vw-xl(20px);

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }
  }
}
