html[dir="rtl"] {
    .iti--allow-dropdown input, 
    .iti--allow-dropdown input[type=text], 
    .iti--allow-dropdown input[type=tel], 
    .iti--separate-dial-code input, 
    .iti--separate-dial-code input[type=text], 
    .iti--separate-dial-code input[type=tel]{
            padding-left: 6px;
    padding-right: 92px;
    margin-right: 0;
    }
}