html[dir="rtl"] {
  .Tournament-sectionA {
    &-tournament-image-block {
      margin-right: 0;
      margin-left: px2vw-xl(68px);

      @include lg {
        margin-left: px2vw-lg(30px);
      }

      @include md {
        margin-right: 0;
      }
    }

    &-tournament-about,
    &-create-buttons {
      text-align: right;
    }

    &-create-button {
      margin-right: 0;
    }

    .carousel-indicators {
      right: auto;
      left: px2vw-xl(220px);

      @include lg {
        left: px2vw-lg(20px);
      }

      @include md {
        left: px2vw-md(15px);
      }

      @include sm {
        left: px2vw-sm(5px);
      }
    }
  }

  .Tournament-sectionB {
    &-search-icon {
      margin-right: 0;
      margin-left: px2vw-xl(24px);
      transform: scaleX(-1); // reverse icon

      @include lg {
        margin-left: px2vw-xl(24px);
      }

      @include md {
        margin-left: px2vw-xl(24px);
      }

      @include sm {
        margin-left: px2vw-xl(24px);
      }
    }

    &-card-desc {
      text-align: right;
    }
  }
}
