html[dir="rtl"] {
  .banner {
    &-image-block {
      margin-right: 0;
      margin-left: px2vw-xl(30px);

      @include lg {
        margin-left: px2vw-lg(30px);
      }

      @include md {
        margin-left: px2vw-md(30px);
      }

      @include sm {
        margin-left: 0;
      }
    }
  }

  .registration {
    .add-file {
      text-align: right;
    }

    &-photo-block {
      text-align: right;
    }

    &-form,
    &-form-item {
      text-align: right;
    }

    &-button {
      margin-right: 0;
      margin-left: px2vw-xl(10px);

      @include lg {
        margin-left: px2vw-lg(10px);
      }

      @include md {
        margin-left: px2vw-md(10px);
      }

      @include sm {
        margin-left: px2vw-sm(10px);
      }
    }
  }

  .registration-photo-file {
    &-name {
      margin-right: px2vw-xl(10px);
      margin-left: 0;

      @include lg {
        margin-right: px2vw-lg(10px);
      }

      @include md {
        margin-right: px2vw-md(10px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
      }
    }
  }

  ngx-intl-tel-input {
    direction: ltr;

    input {
      text-align: right;
    }
  }
}
