@import "shared";

$--TournamentItem-border-color: #fc4500;
$--TournamentItem-bg-background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 74%,
      rgba(0, 0, 0, 1) 78%,
      rgba(0, 0, 0, 1) 100%
    )
    100% 0% no-repeat,
  url(/assets/images/Home/bg2.png) -120% 35% no-repeat;
$--TournamentItem-box-title-color: #646464;

:host {
  color: var(--base-black);
  border-left: px2vw-xl(4px) solid $--TournamentItem-border-color;
  margin-bottom: px2vw-xl(37px);
  padding: px2vw-xl(39px) px2vw-xl(28px) px2vw-xl(39px) px2vw-xl(44px);
  position: relative;
  overflow: hidden;
  display: block;

  @include lg {
    border-left: px2vw-lg(4px) solid $--TournamentItem-border-color;
    margin-bottom: px2vw-lg(37px);
    padding: px2vw-lg(39px) px2vw-lg(28px) px2vw-lg(39px) px2vw-lg(44px);
  }

  @include md {
    border-left: px2vw-md(4px) solid $--TournamentItem-border-color;
    margin-bottom: px2vw-md(37px);
    padding: px2vw-md(20px);
  }

  @include sm {
    border-left: px2vw-sm(4px) solid $--TournamentItem-border-color;
    margin-bottom: px2vw-sm(37px);
    padding: px2vw-sm(20px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.TournamentItem {
  &-bg {
    background: $--TournamentItem-bg-background;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;

    @include md {
      background-size: cover;
      background-position: center;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgb(255 255 255 / 80%);
    }
  }

  &-info {
    @extend %u-dfCenterBtw;
    position: relative;

    @include md {
      text-align: center;
      flex-flow: column;
    }

    &-wp {
      @extend %u-dfCenterBtw;

      @include sm {
        flex-flow: column;
      }
    }
  }

  &-title {
    margin-bottom: px2vw-xl(17px);
    font-size: px2vw-xl(30px);
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(17px);
      font-size: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(17px);
      font-size: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(17px);
      font-size: px2vw-sm(30px);
    }
  }

  &-right-title,
  &-box-title {
    color: $--TournamentItem-box-title-color;
    text-transform: uppercase;
    margin: 0 0 px2vw-xl(3px);

    @include lg {
      margin: 0 0 px2vw-lg(3px);
    }

    @include md {
      margin: 0 0 px2vw-md(3px);
    }

    @include sm {
      margin: 0 0 px2vw-sm(3px);
    }
  }

  &-right-button {
    background-color: var(--base-white);
    color: var(--bluecolor);

    &:hover {
      background-color: var(--bluecolor);
      color: var(--base-white);
    }
  }

  &-box {
    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-box-text {
    font-size: px2vw-xl(20px);
    text-transform: uppercase;
    margin: 0;

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }
  }

  &-right-title {
    margin-bottom: px2vw-xl(45px);
    text-align: center;

    @include lg {
      margin-bottom: px2vw-lg(45px);
    }

    @include md {
      margin: px2vw-md(45px) 0 px2vw-md(20px);
    }

    @include sm {
      margin: px2vw-sm(20px) 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
