<div class="participantsCard" *ngIf="isLoaded">
  <ng-container [ngSwitch]="tournamentDetails?.participantType">
    <div *ngSwitchCase="'individual'">
      <header class="sectionA-header">
        <h2 class="sectionA-title">
          {{ currentTab | pStatus | translate }}
        </h2>
        <p class="sectionA-subtitle global-Text">
          {{ selectedList.length }}
          {{
            tournamentDetails?.participantType
              | pType: selectedList?.length
              | translate
          }}
        </p>
      </header>
      <div class="ArticleMainB-trending-footer" *ngIf="selectedList.length > 0">
        <button (click)="exportToCSV()" class="btn btn-outline-light">
          {{ "PARTICIPANT_EXPORT.EXPORT" | translate }}
        </button>
      </div>
      <div class="title-tab-players"></div>
      <div class="row content-tab-sinlegamer">
        <div
          *ngFor="let participant of selectedList"
          class="card col-4 text-white approved-card card-team-gamer"
          [ngClass]="
            currentTab == 'approvedParticipants'
              ? 'approved-card'
              : 'reject-or-pending-card'
          "
        >
          <div
            (click)="
              isPastTournament || onHover
                ? null
                : openModelOrUpdateTeam(updateParticipant, participant)
            "
            class="row"
          >
            <div class="photoPlayer">
              <!-- <div
                style="background: url({{
                  participant?.logo ||
                    'assets/images/profile/avatar.png'
                }})"
                class="avatar"
              ></div> -->
              <img
                [src]="participant?.logo || 'assets/images/profile/avatar.png'"
                alt="Avatar"
                class="avatar"
              />
            </div>
            <ul class="cardInfo">
              <div class="nameTeam">
                <div
                  *ngIf="
                    tournamentDetails?.isCaptainRequired === undefined ||
                    tournamentDetails?.isCaptainRequired === false
                  "
                >
                  {{ participant?.tournamentUsername || "N/A" }}
                </div>
                <div *ngIf="tournamentDetails?.isCaptainRequired === true">
                  {{ participant?.teamName || "N/A" }}
                </div>
                <div
                  class="nric-id"
                  *ngIf="tournamentDetails?.isIdProofRequired"
                >
                  {{ participant?.idNumber }}
                </div>
              </div>

              <div class="info u-dfBtw">
                <div class="info-1">
                  <ul class="infoPlayer">
                    <li class="namePlayer">
                      <p class="line-text">{{ participant?.name || "N/A" }}</p>
                    </li>
                    <li class="regionTeam">
                      <p class="line-text">
                        {{ participant?.inGamerUserId || "N/A" }}
                      </p>
                    </li>
                    <li class="regionTeam">
                      <p class="line-text font-size">
                        {{
                          participant?.createdOn
                            | date: "yyyy-MM-dd hh:mm:ss " || "N/A"
                        }}
                      </p>
                    </li>
                  </ul>
                </div>

                <div
                  class="info-2"
                  *ngIf="
                    tournamentDetails?.isIdProofRequired &&
                    participant?.idProofDoc
                  "
                >
                  <div
                    class="nric-logo"
                    (mouseenter)="onHover = true"
                    (mouseleave)="onHover = false"
                    (click)="expandImage(IdProof, participant?.idProofDoc)"
                  >
                    <img [src]="participant?.idProofDoc" class="avatar-logo" />
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'team'">
      <header class="sectionA-header">
        <h2 class="sectionA-title">
          {{ currentTab | pStatus | translate }}
        </h2>
        <p class="sectionA-subtitle global-Text">
          {{ selectedList.length }}
          {{
            tournamentDetails?.participantType
              | pType: selectedList?.length
              | translate
          }}
        </p>
      </header>
      <div class="ArticleMainB-trending-footer">
        <button
          (click)="exportToCSV()"
          class="btn btn-outline-light btn2"
          *ngIf="selectedList.length > 0"
        >
          {{ "PARTICIPANT_EXPORT.EXPORT" | translate }}
        </button>

        <button
          *ngIf="tournamentDetails?.isCaptainRequired === true"
          type="button"
          class="btn btn-outline-light btn2 import-btn"
          (click)="fileInput.click()"
        >
          {{ "PARTICIPANT_EXPORT.IMPORT" | translate }}

          <input
            #fileInput
            type="file"
            accept=".csv"
            (change)="fileChangeListener($event, fileInput.files)"
            style="display: none;"
          />
        </button>
      </div>
      <div *ngIf="!selectedTeam" class="row content-tab-gamer">
        <div
          *ngFor="let participant of selectedList"
          class="card col-4 pending-participant text-white card-team-gamer"
          [ngClass]="
            currentTab == 'approvedParticipants'
              ? 'approved-card'
              : 'reject-or-pending-card'
          "
        >
          <div
            (click)="onHover ? null : (selectedTeam = participant)"
            class="row"
          >
            <div class="photoPlayer">
              <!-- <div
                style="background: url({{
                  participant?.logo ||
                    'assets/images/profile/avatar.png'
                }})"
                class="avatar"
              ></div> -->
              <img
                [src]="participant?.logo || 'assets/images/profile/avatar.png'"
                alt="Avatar"
                class="avatar"
              />
            </div>
            <div class="cardInfo">
              <div class="nameTeam">
                <div
                  *ngIf="
                    tournamentDetails?.isCaptainRequired === undefined ||
                    tournamentDetails?.isCaptainRequired === false
                  "
                >
                  {{ participant?.tournamentUsername || "N/A" }}
                </div>
                <div *ngIf="tournamentDetails?.isCaptainRequired === true">
                  {{ participant?.teamName || "N/A" }}
                </div>
                <div
                  class="nric-id"
                  *ngIf="tournamentDetails?.isIdProofRequired"
                >
                  {{ participant?.idNumber }}
                </div>
              </div>
              <div class="info u-dfBtw">
                <div class="info-1">
                  <ul class="infoPlayer">
                    <li class="namePlayer">
                      <p class="line-text">{{ participant?.name || "N/A" }}</p>
                    </li>
                    <li class="regionTeam">
                      <p class="line-text">
                        {{ participant?.inGamerUserId || "N/A" }}
                      </p>
                    </li>
                    <li class="regionTeam">
                      <p class="line-text font-size">
                        {{
                          participant?.createdOn
                            | date: "yyyy-MM-dd hh:mm:ss " || "N/A"
                        }}
                      </p>
                    </li>
                  </ul>
                </div>

                <div
                  class="info-2"
                  *ngIf="
                    tournamentDetails?.isIdProofRequired &&
                    participant?.idProofDoc
                  "
                >
                  <div
                    class="nric-logo"
                    (mouseenter)="onHover = true"
                    (mouseleave)="onHover = false"
                    (click)="expandImage(IdProof, participant?.idProofDoc)"
                  >
                    <img [src]="participant?.idProofDoc" class="avatar-logo" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="selectedTeam">
        <div class="row content-tab-sinlegamer">
          <div class="row col-12 pl-0 pr-0 justify-content-between">
            <!-- <div class="card col-4 text-white card-player-gamer"> -->
            <div
              class="card col-4 pending-participant text-white card-team-gamer"
              [ngClass]="
                currentTab == 'approvedParticipants'
                  ? 'approved-card'
                  : 'reject-or-pending-card'
              "
            >
              <div class="row">
                <div class="photoPlayer">
                  <img
                    [src]="
                      selectedTeam?.logo || 'assets/images/profile/avatar.png'
                    "
                    alt="Avatar"
                    class="avatar"
                  />
                </div>
                <div class="cardInfo">
                  <div class="nameTeam">
                    <div
                      *ngIf="
                        tournamentDetails?.isCaptainRequired === undefined ||
                        tournamentDetails?.isCaptainRequired === false
                      "
                    >
                      {{ selectedTeam?.tournamentUsername || "N/A" }}
                    </div>
                    <div *ngIf="tournamentDetails?.isCaptainRequired === true">
                      {{ selectedTeam?.teamName || "N/A" }}
                    </div>
                    <div
                      class="nric-id"
                      *ngIf="tournamentDetails?.isIdProofRequired"
                    >
                      {{ selectedTeam?.idNumber }}
                    </div>
                  </div>
                  <div class="info u-dfBtw">
                    <div class="info-1">
                      <ul class="infoPlayer">
                        <li class="namePlayer">
                          <p class="line-text">
                            {{ selectedTeam?.name || "N/A" }}
                          </p>
                        </li>
                        <li class="regionTeam">
                          <p class="line-text">
                            {{ selectedTeam?.inGamerUserId || "N/A" }}
                          </p>
                        </li>
                        <li class="regionTeam">
                          <p class="line-text font-size">
                            {{
                              selectedTeam?.createdOn
                                | date: "yyyy-MM-dd hh:mm:ss " || "N/A"
                            }}
                          </p>
                        </li>
                      </ul>
                    </div>

                    <div
                      class="info-2"
                      *ngIf="
                        tournamentDetails?.isIdProofRequired &&
                        selectedTeam?.idProofDoc
                      "
                    >
                      <div
                        class="nric-logo"
                        (mouseenter)="onHover = true"
                        (mouseleave)="onHover = false"
                        (click)="expandImage(IdProof, selectedTeam?.idProofDoc)"
                      >
                        <img
                          [src]="selectedTeam?.idProofDoc"
                          class="avatar-logo"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- class="card col-4 text-white card-player-gamer" -->
            <div
              *ngFor="let participant of selectedTeam?.teamMembers"
              class="card col-4 pending-participant text-white card-team-gamer"
              [ngClass]="
                currentTab == 'approvedParticipants'
                  ? 'approved-card'
                  : 'reject-or-pending-card'
              "
            >
              <div class="row">
                <div class="photoPlayer">
                  <!-- <div
                    style="background: url({{
                      participant?.logo ||
                        'assets/images/profile/avatar.png'
                    }})"
                    class="avatar"
                  ></div> -->
                  <img
                    [src]="'assets/images/Tournament/team_member.jpg'"
                    alt="Avatar"
                    class="avatar"
                  />
                </div>
                <div class="cardInfo">
                  <div class="nameTeam">
                    <div
                      *ngIf="
                        tournamentDetails?.isCaptainRequired === undefined ||
                        tournamentDetails?.isCaptainRequired === false
                      "
                    >
                      {{ participant?.tournamentUsername || "N/A" }}
                    </div>
                    <div *ngIf="tournamentDetails?.isCaptainRequired === true">
                      {{ selectedTeam?.teamName || "N/A" }}
                    </div>
                    <div
                      class="nric-id"
                      *ngIf="tournamentDetails?.isIdProofRequired"
                    >
                      {{ participant?.idNumber }}
                    </div>
                  </div>
                  <div class="info u-dfBtw">
                    <div class="info-1">
                      <ul class="infoPlayer">
                        <li class="namePlayer">
                          <p class="line-text">
                            {{ participant?.name || "N/A" }}
                          </p>
                        </li>
                        <li class="regionTeam">
                          <p class="line-text">
                            {{ participant?.inGamerUserId || "N/A" }}
                          </p>
                        </li>
                      </ul>
                    </div>

                    <div
                      class="info-2"
                      *ngIf="
                        tournamentDetails?.isIdProofRequired &&
                        participant?.idProofDoc
                      "
                    >
                      <div
                        class="nric-logo"
                        (mouseenter)="onHover = true"
                        (mouseleave)="onHover = false"
                        (click)="expandImage(IdProof, participant?.idProofDoc)"
                      >
                        <img
                          [src]="participant?.idProofDoc"
                          class="avatar-logo"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngFor="let substituteM of selectedTeam?.substituteMembers"
              class="card col-4 pending-participant text-white card-team-gamer"
              [ngClass]="
                currentTab == 'approvedParticipants'
                  ? 'approved-card'
                  : 'reject-or-pending-card'
              "
            >
              <div class="row">
                <div class="photoPlayer">
                  <img
                    [src]="'assets/images/Tournament/substitute_member.jpg'"
                    alt="Avatar"
                    class="avatar"
                  />
                </div>
                <div class="cardInfo">
                  <div class="nameTeam">
                    <div
                      *ngIf="
                        tournamentDetails?.isCaptainRequired === undefined ||
                        tournamentDetails?.isCaptainRequired === false
                      "
                    >
                      {{ substituteM?.tournamentUsername || "N/A" }}
                    </div>
                    <div *ngIf="tournamentDetails?.isCaptainRequired === true">
                      {{ selectedTeam?.teamName || "N/A" }}
                    </div>
                    <div
                      class="nric-id"
                      *ngIf="tournamentDetails?.isIdProofRequired"
                    >
                      {{ substituteM?.idNumber }}
                    </div>
                  </div>
                  <div class="info u-dfBtw">
                    <div class="info-1">
                      <ul class="infoPlayer">
                        <li class="namePlayer">
                          <p class="line-text">
                            {{ substituteM?.name || "N/A" }}
                          </p>
                        </li>
                        <li class="regionTeam">
                          <p class="line-text">
                            {{ substituteM?.inGamerUserId || "N/A" }}
                          </p>
                        </li>
                      </ul>
                    </div>

                    <div
                      class="info-2"
                      *ngIf="
                        tournamentDetails?.isIdProofRequired &&
                        substituteM?.idProofDoc
                      "
                    >
                      <div
                        class="nric-logo"
                        (mouseenter)="onHover = true"
                        (mouseleave)="onHover = false"
                        (click)="expandImage(IdProof, substituteM?.idProofDoc)"
                      >
                        <img
                          [src]="substituteM?.idProofDoc"
                          class="avatar-logo"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row btn-row-approved">
          <div class="btn-align">
            <button
              type="button"
              class="btn btn-light"
              (click)="openModelOrUpdateTeam('close', selectedTeam, false)"
            >
              {{ "BUTTON.CANCEL" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-light"
              (click)="openModelOrUpdateTeam('rejected', selectedTeam, false)"
              [hidden]="
                selectedTeam?.participantStatus == 'rejected' ||
                isPastTournament
              "
            >
              {{ "BUTTON.REJECT" | translate }}
            </button>
            <button
              type="button"
              class="btn btn-primary tab-content individaul-btn"
              *ngIf="
                tournamentDetails?.isCaptainRequired === undefined ||
                tournamentDetails?.isCaptainRequired === false
              "
              (click)="openModelOrUpdateTeam('edit', selectedTeam, false)"
            >
              {{ "BUTTON.EDIT" | translate }}
            </button>
            <button
              (click)="openModelOrUpdateTeam('approved', selectedTeam, false)"
              type="button"
              class="btn btn-primary tab-content"
              [hidden]="
                selectedTeam?.participantStatus == 'approved' ||
                isPastTournament
              "
            >
              {{ "BUTTON.APPROVE" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchDefault></div>
  </ng-container>
  <ng-container [ngSwitch]="currentTab">
    <p [hidden]="selectedList?.length" *ngSwitchCase="'approvedParticipants'">
      {{ "MANAGE_TOURNAMENT.PARTICIPANT.NO_APPROVED_PARTICIPANT" | translate }}
    </p>
    <p [hidden]="selectedList?.length" *ngSwitchCase="'rejectedParticipants'">
      {{ "MANAGE_TOURNAMENT.PARTICIPANT.NO_REJECTED_PARTICIPANT" | translate }}
    </p>
    <p [hidden]="selectedList?.length" *ngSwitchCase="'pendingParticipants'">
      {{ "MANAGE_TOURNAMENT.PARTICIPANT.NO_PENDING_PARTICIPANT" | translate }}
    </p>
  </ng-container>
</div>

<ng-template #updateParticipant let-modal>
  <div class="updateParticipant">
    <div class="modal-header">
      <ng-container [ngSwitch]="selectedParticipantStatus">
        <h4 class="modal-title" *ngSwitchCase="'approved'">
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.TITLE_01" | translate }}
        </h4>
        <h4 class="modal-title" *ngSwitchCase="'rejected'">
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.TITLE_02" | translate }}
        </h4>
        <h4 class="modal-title" *ngSwitchDefault>
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.TITLE_03" | translate }}
        </h4>
      </ng-container>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.close('close')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-container [ngSwitch]="selectedParticipantStatus">
        <p *ngSwitchCase="'approved'">
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.BODY_01" | translate }}
        </p>
        <p *ngSwitchCase="'rejected'">
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.BODY_02" | translate }}
        </p>
        <p *ngSwitchDefault>
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.BODY_03" | translate }}
        </p>
      </ng-container>
    </div>
    <div class="modal-footer">
      <div class="btn-align">
        <button
          type="button"
          class="btn btn-primary tab-content individaul-btn"
          (click)="modal.close('close')"
        >
          {{ "BUTTON.CANCEL" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-primary tab-content individaul-btn"
          (click)="modal.close('edit')"
        >
          {{ "BUTTON.EDIT" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-primary tab-content individaul-btn"
          (click)="modal.close('rejected')"
          [hidden]="selectedParticipantStatus == 'rejected'"
        >
          {{ "BUTTON.REJECT" | translate }}
        </button>
        <button
          (click)="modal.close('approved')"
          type="button"
          class="btn active-btn"
          [hidden]="selectedParticipantStatus == 'approved'"
        >
          {{ "BUTTON.APPROVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #IdProof let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.close(false)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
      >
        <defs>
          <style>
            .a {
              opacity: 0.7;
            }

            .b {
              fill: none;
            }

            .c {
              fill: #fff;
            }
          </style>
        </defs>
        <g class="a">
          <path class="b" d="M0,0H40V40H0Z" />
          <path
            class="c"
            d="M28.333,7.35,25.983,5l-9.317,9.317L7.35,5,5,7.35l9.317,9.317L5,25.983l2.35,2.35,9.317-9.317,9.317,9.317,2.35-2.35-9.317-9.317Z"
            transform="translate(3.333 3.333)"
          />
        </g>
      </svg>
    </button>
  </div>
  <div class="modal-body">
    <img
      *ngIf="idProof"
      [src]="idProof"
      class="BasicInfo-box-img idProof"
      alt="logo"
    />
  </div>
</ng-template>
<app-loading *ngIf="!isLoaded"></app-loading>
