@import "shared";

:host {
  display: flex;
  margin-top: px2vw-xl(45px);

  @include lg {
    margin-top: px2vw-lg(45px);
  }

  @include md {
    margin-top: px2vw-md(45px);
  }

  @include sm {
    margin-top: px2vw-sm(45px);
  }
}

.InputTooltip {
  border-radius: px2vw-xl(10px);
  padding: px2vw-xl(8px);
  padding-right: px2vw-xl(24px);
  background-color: rgba(255, 255, 255, 0.1);

  @include lg {
    border-radius: px2vw-lg(10px);
    padding: px2vw-lg(8px);
    padding-right: px2vw-lg(24px);
  }

  @include md {
    border-radius: px2vw-md(10px);
    padding: px2vw-md(8px);
    padding-right: px2vw-md(24px);
  }

  @include sm {
    border-radius: px2vw-sm(10px);
    padding: px2vw-sm(8px);
    padding-right: px2vw-sm(24px);
  }

  &-button {
    margin-right: px2vw-xl(18px);
    border-radius: px2vw-xl(4px);
    background-color: var(--primary-sunset-light);
    padding: px2vw-xl(10px) px2vw-xl(20px);
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: 1.1;
    transition: 100ms linear;
    cursor: pointer;
    color: var(--black);

    &:hover {
      opacity: 0.8;
    }

    @include lg {
      margin-right: px2vw-lg(18px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(10px) px2vw-lg(20px);
      font-size: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(10px) px2vw-md(20px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      margin-right: px2vw-sm(18px);
      padding: px2vw-sm(16px) px2vw-sm(24px);
      font-size: px2vw-sm(20px);
    }
  }

  &-title {
    margin-bottom: 0;
    font-family: "stc-forward-medium-italic", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }
  }

  &-icon {
    margin-left: px2vw-xl(24px);
    width: px2vw-xl(27px);

    @include lg {
      margin-left: px2vw-lg(24px);
      width: px2vw-lg(27px);
    }

    @include md {
      margin-left: px2vw-md(24px);
      width: px2vw-md(27px);
    }

    @include sm {
      margin-left: px2vw-sm(24px);
      width: px2vw-sm(27px);
    }
  }
}
