@import "shared";

:host {
  display: block;
}

.MyTeams-header {
  @extend %u-dfCenter;
  z-index: 1;
  position: relative;
  margin-bottom: px2vw-xl(-95px);
  height: px2vw-xl(250px);

  @include lg {
    margin-bottom: px2vw-lg(-95px);
    height: px2vw-lg(250px);
  }

  @include md {
    margin-bottom: px2vw-md(-95px);
    height: px2vw-md(250px);
  }

  @include sm {
    margin-bottom: px2vw-sm(-95px);
    height: px2vw-sm(250px);
  }

  &-image {
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 105.5%;
  }
}

.MyTeams-about {
  position: relative;
  z-index: 1;
  margin-bottom: px2vw-xl(74px);

  @include lg {
    margin-bottom: px2vw-lg(74px);
  }

  @include md {
    margin-bottom: px2vw-md(74px);
  }

  @include sm {
    margin-bottom: px2vw-sm(74px);
  }

  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-header-title {
    @extend %global-H4;
    margin-bottom: 0;
    font-family: "archivo-bold";
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    font-size: px2vw-xl(34px);
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
    mix-blend-mode: normal;
    margin-top: px2vw-xl(80px);

    @include lg {
      font-size: px2vw-lg(34px);
    }

    @include md {
      font-size: px2vw-md(34px);
    }

    @include sm {
      font-size: px2vw-sm(34px);
    }
  }

  &-header-button {
    margin-left: px2vw-xl(15px);
    flex-shrink: 0;

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-subtitle {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-icon {
    position: absolute;
    bottom: 140%;
    left: px2vw-xl(14px);
    height: px2vw-xl(60px);
    width: px2vw-xl(170px);

    @include lg {
      left: px2vw-lg(14px);
      height: px2vw-lg(60px);
      width: px2vw-lg(170px);
    }

    @include md {
      left: px2vw-md(14px);
      height: px2vw-md(60px);
      width: px2vw-md(170px);
    }

    @include sm {
      left: px2vw-sm(14px);
      height: px2vw-sm(60px);
      width: px2vw-sm(170px);
    }
  }
}

.MyTeams-control {
  &-toggles {
    border-bottom: px2vw-xl(1px) solid var(--white-light);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
    }
  }

  // &-toggle {
  // }

  &-content {
    padding-top: px2vw-xl(40px);

    @include lg {
      padding-top: px2vw-lg(40px);
    }

    @include md {
      padding-top: px2vw-md(40px);
    }

    @include sm {
      padding-top: px2vw-sm(40px);
    }
  }
}

.MyTeams-cards {
  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }
  &-button {
    flex-shrink: 0;
    position: relative;
    bottom: 50px;
    margin-left: px2vw-xl(800px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  // &-list {
  // }
}
.row {
  position: relative;
  bottom: 60px;
  padding-left: 450px;
}
.Brackets {
  &-heading {
    margin-bottom: 16px;
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  &-content {
    &-header {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 16px 0;
      @include md {
        padding: 0;
      }
      &-left {
        @include md {
          width: 100%;
          margin-bottom: 24px;
        }
        .ButtonGroup {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          -webkit-align-items: center;
          align-items: center;
          .btn {
            margin-right: 24px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      &-right {
        @include md {
          width: 100%;
        }
        .btn {
          @include md {
            background: var(--secondary-color);
            color: var(--white);
            padding: 10px 0;
            width: 100%;
          }
        }
      }
      .btn {
        text-transform: none;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
    &-main {
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--tertiary-color);
        margin-bottom: 0;
        padding: 6px 0 9px;
        @include md {
          display: none;
        }
      }
    }
  }
}
