<div [hidden]="isUpdateMatchScore">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
      <app-carousel
        [title]="'MANAGE_TOURNAMENT.MATCHES.STAGE'"
        [list]="stage"
        (emitValue)="
          isSeeded ? selectedStage($event) : setValues($event, 'currStage')
        "
      ></app-carousel>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
      <app-carousel
        [title]="'MANAGE_TOURNAMENT.MATCHES.GROUP'"
        [list]="stage[currStage - 1]?.group"
        (emitValue)="
          isSeeded ? selectedGroup($event) : setValues($event, 'currGroup')
        "
      >
      </app-carousel>
    </div>
  </div>

  <div
    *ngIf="isAllDataLoaded && currStage == 1"
    class="row score-table table-round-robin-multi"
  >
    <div class="col-xl-12 col-lg-12 col-sm-12">
    </div>
  </div>

  <ng-container *ngIf="isAllDataLoaded && currStage == 2">
    <ng-container *ngIf="stageBracketType == 'single' && !isUpdateMatchScore">
      <app-single-elimination
        [matchTemplate]="matchTemplate"
        [tournament]="(stage[1]?.group)[0]?.match"
      ></app-single-elimination>
    </ng-container>

    <ng-container *ngIf="stageBracketType == 'double' && !isUpdateMatchScore">
      <app-double-elimination
        [matchTemplate]="matchTemplate"
        [tournament]="(stage[1]?.group)[0]?.match"
      ></app-double-elimination>
    </ng-container>

    <ng-template #matchTemplate let-match>
      <app-match
        (openScoreCard)="updatedScoreCard($event)"
        [countryList]="countryList"
        [isAdmin]="isAdmin"
        [isSeeded]="isSeeded"
        [isShowCountryFlag]="isShowCountryFlag"
        [match]="match"
        [participantType]="participantType"
        [participantId]="participantId"
      ></app-match>
    </ng-template>
  </ng-container>
</div>

<app-score-card
  *ngIf="isUpdateMatchScore"
  (exit)="exitFromScoreCard($event)"
  [isAdmin]="isAdmin"
  [isScreenshotRequired]="isScreenshotRequired"
  [match]="match"
  [participantId]="participantId"
  [scoreReporting]="scoreReporting"
></app-score-card>

<!-- table templates -->
<ng-template #group_round>
  <div
    class="row"
    *ngIf="
      isSeeded
        ? ((stage[currStage - 1]?.group)[currGroup - 1]?.round)[currRound]
            .isLoaded
        : true
    "
  >
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">
              {{ "ELIMINATION.MATCHES" | translate }}
            </th>
            <th scope="col">
              {{ "ELIMINATION.TEAMS" | translate }}
            </th>
            <th scope="col" [hidden]="!isSeeded">
              {{ "ELIMINATION.SET" | translate }}
            </th>
            <th scope="col" [hidden]="!isSeeded">
              {{ "ELIMINATION.RESULT" | translate }}
            </th>
            <th scope="col">{{ "ELIMINATION.ACTION" | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="
              let m of ((stage[currStage - 1]?.group)[currGroup - 1]?.round)[
                currRound
              ]?.match;
              let i = index
            "
          >
            <th scope="row">
              {{ "ELIMINATION.MATCH" | translate }} {{ i + 1 }}
            </th>

            <td class="Player">
              <div class="block">
                <p>
                  {{
                    participantType == "individual"
                      ? m.teamA?.name || m.teamA?.teamName
                      : m.teamA?.teamName
                  }}
                </p>
              </div>
              <div class="block">
                <p>
                  {{
                    participantType == "individual"
                      ? m.teamB?.name || m.teamB?.teamName
                      : m.teamB?.teamName
                  }}
                </p>
              </div>
            </td>

            <td
              [ngClass]="{
                'completed-match': m.matchStatus === 'completed',
                'active-match': m.matchStatus === 'start'
              }"
              [hidden]="!isSeeded"
            >
              <div class="block">
                <p>
                  {{ m.matchStatus === "active" ? "-" : m?.teamAWinSet }}
                </p>
              </div>

              <div class="block">
                <p>
                  {{ m.matchStatus === "active" ? "-" : m?.teamBWinSet }}
                </p>
              </div>
            </td>

            <td [hidden]="!isSeeded">
              <div class="block">
                <p>
                  {{
                    !m?.winnerTeam?._id
                      ? "-"
                      : m?.teamA?._id == m?.winnerTeam?._id
                      ? ("MANAGE_TOURNAMENT.MATCHES.WINNER" | translate)
                      : ("MANAGE_TOURNAMENT.MATCHES.LOSER" | translate) +
                        (m?.teamA?._id == m.disQualifiedTeam?.team
                          ? "/" + m.disQualifiedTeam?.reason
                          : "")
                  }}
                </p>
              </div>

              <div class="block">
                <p>
                  {{
                    !m?.winnerTeam?._id
                      ? "-"
                      : m?.teamB?._id == m?.winnerTeam?._id
                      ? ("MANAGE_TOURNAMENT.MATCHES.WINNER" | translate)
                      : ("MANAGE_TOURNAMENT.MATCHES.LOSER" | translate) +
                        (m?.teamB?._id == m.disQualifiedTeam?.team
                          ? "/" + m.disQualifiedTeam?.reason
                          : "")
                  }}
                </p>
              </div>
            </td>

            <td>
              <fa-icon
                [icon]="['fas', 'pencil-alt']"
                [ngbTooltip]="
                  !isSeeded
                    ? ('ELIMINATION.TOOLTIP.01' | translate)
                    : isAdmin ||
                      m?.teamA?._id == participantId ||
                      m?.teamB?._id == participantId
                    ? ('ELIMINATION.TOOLTIP.02' | translate)
                    : ('ELIMINATION.TOOLTIP.03' | translate)
                "
                (click)="
                  isSeeded &&
                  (isAdmin ||
                    m?.teamA?._id == participantId ||
                    m?.teamB?._id == participantId)
                    ? scoreCard(m)
                    : null
                "
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="loading"
    *ngIf="
      isSeeded &&
      !((stage[currStage - 1]?.group)[currGroup - 1]?.round)[currRound].isLoaded
    "
  >
    <app-loading> </app-loading>
  </div>
</ng-template>

<ng-template #group_standing>
  <div class="row">
    <div class="col-12">
      <table
        class="table table-striped"
        *ngIf="!isProcessing && standingList?.length"
      >
        <thead>
          <tr>
            <th scope="col">
              {{ "MANAGE_TOURNAMENT.MATCHES.RANK" | translate }}
            </th>
            <th scope="col">
              {{ "MANAGE_TOURNAMENT.MATCHES.NAME" | translate }}
            </th>
            <th scope="col">
              {{ "MANAGE_TOURNAMENT.MATCHES.MATCH_WIN" | translate }}
            </th>
          </tr>
        </thead>

        <tbody class="standing">
          <tr *ngFor="let m of standingList; let i = index">
            <th scope="row">
              <h6>{{ i + 1 }}</h6>
            </th>

            <th scope="row">
              <div class="Player block">
                <h6>
                  {{
                    participantType == "individual"
                      ? m.participant?.name
                      : m.participant?.teamName
                  }}
                </h6>
              </div>
            </th>

            <td>{{ m.matchWin }}</td>
          </tr>
        </tbody>
      </table>

      <app-loading *ngIf="isProcessing"></app-loading>

      <p *ngIf="!isProcessing && !standingList.length">
        {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
      </p>
    </div>
  </div>
</ng-template>
