@import "shared";

:host {
  display: block;
}

.Comment {
  @extend %u-dfStart;

  &-image {
    flex-shrink: 0;
    margin-right: 16px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background-size: cover;
    background-position: center;
    @include md {
      display: none;
    }
  }

  &-content {
    width: 100%;
  }

  &-field {
    padding: 12px 16px;
    width: 100%;
    height: 178px;
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    background: var(--color-background);
    margin-bottom: 20px;
    @include md {
      height: 98px;
    }
    &::placeholder {
      color: var(--tolopea-color);
    }

    &.isReplying {
      height: px2vw-xl(88px);

      @include lg {
        height: px2vw-lg(88px);
      }

      @include md {
        height: px2vw-md(88px);
      }

      @include sm {
        height: px2vw-sm(88px);
      }
    }
  }
  &-button {
    margin-left: 0;
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    background-color: var(--googly-yellow);
    color: var(--black);
    @include md {
      width: 100%;
    }
  }
}
