<div [formGroup]="customFormGroup">
  <p class="DurationLabel">{{ title | translate }}</p>
  <div [formGroupName]="customFormControlName">
    <div class="Duration text-center">
      <a (click)="increment('days')"
        ><img src="./assets/icons/arrow-top.svg"
      /></a>
      <input
        class="Duration-block"
        type="number"
        formControlName="days"
        (change)="onChange($event.target.value, 'days')"
      />
      <a (click)="decrement('days')"
        ><img src="./assets/icons/arrow-bottom.svg"
      /></a>
      <p>days</p>
    </div>
    <div class="Duration text-center">
      <a (click)="increment('hours')"
        ><img src="./assets/icons/arrow-top.svg"
      /></a>
      <input
        class="Duration-block"
        type="number"
        formControlName="hours"
        (change)="onChange($event.target.value, 'hours')"
      />
      <a (click)="decrement('hours')"
        ><img src="./assets/icons/arrow-bottom.svg"
      /></a>
      <p>hours</p>
    </div>
    <div class="Duration text-center">
      <a (click)="increment('mins')"
        ><img src="./assets/icons/arrow-top.svg"
      /></a>
      <input
        class="Duration-block"
        type="number"
        formControlName="mins"
        (change)="onChange($event.target.value, 'mins')"
      />
      <a (click)="decrement('mins')"
        ><img src="./assets/icons/arrow-bottom.svg"
      /></a>
      <p>mins</p>
    </div>
  </div>
  <div
    class="error"
    *ngIf="
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      (customFormGroup?.controls)[customFormControlName]?.errors
    "
  >
    {{
      (customFormGroup?.controls)[customFormControlName]?.errors
        | errorPipe
        | translate
    }}
  </div>
</div>
