<mat-tab-group
  mat-align-tabs="start"
  class="global-TabGroup"
  (selectedTabChange)="onTabChanged($event)"
>
  <mat-tab
    label="{{ 'ADMIN.USER_MANAGEMENT.TABS.RECENTLY_UPDATED' | translate }}"
  >
    <div class="Admin-searchBox">
      <div class="Admin-search">
        <mat-icon>search</mat-icon>
        <input
          (keyup)="updateFirstTabFilter($event)"
          type="search"
          placeholder="{{ 'ADMIN.USER_MANAGEMENT.LABEL.SEARCH' | translate }}"
        />
      </div>
    </div>

    <div class="global-scrollbar">
      <ngx-datatable
        #table
        class="global-DataTable"
        [columns]="columnsFirstTab"
        [rows]="rowsFirstTab"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [limit]="50"
      >
        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.NAME' | translate }}"
          prop="name"
        >
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.EMAIL' | translate }}"
          prop="email"
        >
        </ngx-datatable-column>
        <!-- <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.PHONE' | translate }}"
          prop="phoneNumber"
        ></ngx-datatable-column> -->
        <ngx-datatable-column
          name="{{
            'ADMIN.USER_MANAGEMENT.TABLE_HEADER.MEMBER_SINCE' | translate
          }}"
          prop="createdOn"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row["createdOn"] | date: "dd MMM yy" }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              [routerLink]="[AppHtmlAdminRoutes.userManagementView, row['id']]"
              mat-icon-button
              color="primary"
              ngbTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
              class="Admin-tableBtn is-view"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              mat-icon-button
              ngbTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
              (click)="removeUser(row['id'])"
              class="Admin-tableBtn is-view"
            >
              <mat-icon color="accent">delete</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <app-pagination [page]="page" (currentPage)="pageChanged($event)">
      </app-pagination>
    </div>
  </mat-tab>

  <mat-tab label="{{ 'ADMIN.USER_MANAGEMENT.TABS.TOP_SPENDING' | translate }}">
    <div class="Admin-searchBox">
      <div class="Admin-search">
        <mat-icon>search</mat-icon>
        <input
          (keyup)="updateSecondTabFilter($event)"
          type="search"
          placeholder="{{ 'ADMIN.USER_MANAGEMENT.LABEL.SEARCH' | translate }}"
        />
      </div>
    </div>

    <div class="global-scrollbar">
      <ngx-datatable
        #table
        class="global-DataTable"
        [columns]="columnsSecondTab"
        [rows]="rowsSecondTab"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [limit]="50"
      >
        <ngx-datatable-column
          name="{{
            'ADMIN.USER_MANAGEMENT.TABLE_HEADER.FULL_NAME' | translate
          }}"
          prop="fullName"
        >
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.EMAIL' | translate }}"
          prop="email"
        >
        </ngx-datatable-column>

        <!-- <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.PHONE' | translate }}"
          prop="phoneNumber"
        ></ngx-datatable-column> -->

        <ngx-datatable-column
          name="{{
            'ADMIN.USER_MANAGEMENT.TABLE_HEADER.MEMBER_SINCE' | translate
          }}"
          prop="createdOn"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row["createdOn"] | date: "dd MMM yy" }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.USER_MANAGEMENT.TABLE_HEADER.AMOUNT_SPEND' | translate
          }}"
          prop="totalSpent"
        ></ngx-datatable-column>

        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              [routerLink]="[AppHtmlAdminRoutes.userManagementView, row['_id']]"
              mat-icon-button
              color="primary"
              ngbTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
              class="Admin-tableBtn is-view"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </mat-tab>
</mat-tab-group>
<app-loading *ngIf="isLoading"></app-loading>
