@import "shared";

:host {
  display: block;
}

.Tournament-slider {
}

.Tournament-games {
  margin-bottom: px2vw-xl(68px);

  @include lg {
    margin-bottom: px2vw-lg(50px);
  }

  @include md {
    margin-bottom: px2vw-md(50px);
  }

  @include sm {
    margin-bottom: px2vw-sm(50px);
  }
}

.Tournaments {
  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(42px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      flex-direction: column;
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-header-left {
    @extend %u-dfCenter;
  }

  &-header-title {
    margin-bottom: 0;
    margin-right: px2vw-xl(32px);
    font-size: 48px;

    @include lg {
      margin-right: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
    }
  }

  &-header-right {
    margin-left: px2vw-xl(30px);

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      margin-left: 0;
    }
  }

  &-header-search-icon {
    font-size: px2vw-xl(24px);

    @include lg {
      font-size: px2vw-lg(18px);
    }

    @include md {
      font-size: px2vw-md(18px);
    }

    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-header-create {
    margin-left: px2vw-xl(36px);
    background-color: var(--black-medium);

    @include lg {
      margin-left: px2vw-lg(28px);
    }

    @include md {
      margin-left: px2vw-md(28px);
    }

    @include sm {
      margin-left: px2vw-sm(28px);
    }
  }

  &-header-create-icon {
    margin-right: px2vw-xl(16px);
    width: px2vw-xl(20px);
    height: px2vw-xl(20px);

    @include lg {
      margin-right: px2vw-lg(16px);
      width: px2vw-lg(20px);
      height: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      width: px2vw-md(20px);
      height: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      width: px2vw-sm(20px);
      height: px2vw-sm(20px);
    }
  }

  &-main {
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(32px);

    @include lg {
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(32px);
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: 0;
      grid-row-gap: px2vw-sm(24px);
    }
  }
}
