@import "shared";

:host {
  display: block;
}

.UserLevel {
  @extend %u-dfCenter;
  flex-direction: column;

  &-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(8px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, px2vw-xl(16px));
    grid-template-rows: px2vw-xl(8px);
    grid-column-gap: px2vw-xl(1px);
    grid-row-gap: px2vw-xl(1px);
    padding: px2vw-xl(4px) 0;

    @include lg {
      grid-template-columns: repeat(5, px2vw-lg(16px));
      grid-template-rows: px2vw-lg(8px);
      grid-column-gap: px2vw-lg(1px);
      grid-row-gap: px2vw-lg(1px);
      padding: px2vw-lg(4px) 0;
    }

    @include md {
      grid-template-columns: repeat(5, px2vw-md(16px));
      grid-template-rows: px2vw-md(8px);
      grid-column-gap: px2vw-md(1px);
      grid-row-gap: px2vw-md(1px);
      padding: px2vw-md(4px) 0;
    }

    @include sm {
      grid-template-columns: repeat(5, px2vw-sm(16px));
      grid-template-rows: px2vw-sm(8px);
      grid-column-gap: px2vw-sm(1px);
      grid-row-gap: px2vw-sm(1px);
      padding: px2vw-sm(4px) 0;
    }

    &.level-1 {
      .item:nth-child(-n+1) {
        background-color: var(--color-secondary);
      }

      .bar {
        left: px2vw-xl(16px);

        @include lg {
          left: px2vw-lg(16px);
        }

        @include md {
          left: px2vw-md(16px);
        }

        @include sm {
          left: px2vw-sm(16px);
        }
      }
    }

    &.level-2 {
      .item:nth-child(-n+2) {
        background-color: var(--color-secondary);
      }

      .bar {
        left: px2vw-xl(33px);

        @include lg {
          left: px2vw-lg(33px);
        }

        @include md {
          left: px2vw-md(33px);
        }

        @include sm {
          left: px2vw-sm(33px);
        }
      }
    }

    &.level-3 {
      .item:nth-child(-n+3) {
        background-color: var(--color-secondary);
      }

      .bar {
        left: px2vw-xl(50px);

        @include lg {
          left: px2vw-lg(50px);
        }

        @include md {
          left: px2vw-md(50px);
        }

        @include sm {
          left: px2vw-sm(50px);
        }
      }
    }

    &.level-4 {
      .item:nth-child(-n+4) {
        background-color: var(--color-secondary);
      }

      .bar {
        left: px2vw-xl(66px);

        @include lg {
          left: px2vw-lg(66px);
        }

        @include md {
          left: px2vw-md(66px);
        }

        @include sm {
          left: px2vw-sm(66px);
        }
      }
    }

    &.level-5 {
      .item:nth-child(-n+5) {
        background-color: var(--color-secondary);
      }


      .bar {
        left: auto;
        right: 0;
      }
    }
  }

  &-item {
    background-color: var(--white-disabled);
  }

  &-bar {
    position: absolute;
    height: px2vw-xl(16px);
    width: px2vw-xl(1.64px);
    background-color: var(--white);

    @include lg {
      height: px2vw-lg(16px);
      width: px2vw-lg(1.64px);
    }

    @include md {
      height: px2vw-md(16px);
      width: px2vw-md(1.64px);
    }

    @include sm {
      height: px2vw-sm(16px);
      width: px2vw-sm(1.64px);
    }
  }
}
