@import "shared";

:host {
  display: block;
  transition: $global-transition;

  &:hover {
    opacity: 0.8;
  }
}

.ArticleItem {
  &-image-block {
    margin-bottom: px2vw-xl(16px);
    height: px2vw-xl(185px);
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-color: var(--black);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      height: px2vw-lg(185px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      height: px2vw-md(185px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      height: px2vw-sm(185px);
    }
  }

  &-title {
    @extend %global-H8;
    margin-bottom: px2vw-xl(8px);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 7px;
    text-transform: none;

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-created {
    @extend %subtitle-2;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--tolopea-color);
    margin-bottom: 0;
  }
}
