@import "shared";

:host {
    display: block;
}

.ReferralCard {
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(24px) 0;
  
    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(24px) 0;
    }
  
    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(24px) 0;
    }
  
    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(24px) 0;
    }
  
    &-email {
      @extend %subtitle-2;
      margin-bottom: px2vw-xl(4px);
      color: var(--white-medium);
  
      @include lg {
        margin-bottom: px2vw-lg(4px);
      }
  
      @include md {
        margin-bottom: px2vw-md(4px);
      }
  
      @include sm {
        margin-bottom: px2vw-sm(4px);
      }
    }
  
    &-date {
      @extend %body-2;
      margin-bottom: 0;
      color: var(--white-medium);
    }
}