<app-header-googly></app-header-googly>
<section *ngIf="isLoaded">
  <div class="add-section">
    <!-- <div class="row">
      <div class="col-lg-12 col-md-12">
        <div ngbDropdown class="dropdown-language">
          <button class="form-control" ngbDropdownToggle>
            {{ currLanguageDisplay | titlecase }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="changeLocalLanguage(l)" ngbDropdownItem *ngFor="let l of language">
              {{ l?.value | translate }}
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="add-section-header">
      <h2 class="add-section-header-title" *ngIf="check_url">{{ "VIDEO.CREATE_VIDEO" | translate }}</h2>
      <h2 class="add-section-header-title" *ngIf="!check_url">{{ "VIDEO.EDIT_VIDEO" | translate }}</h2>
      <h4 class="add-section-header-des">{{ "VIDEO.ADD_VIDEO_DETAILS" | translate }}</h4>
    </div>
    <form [formGroup]="videoLibraryForm" class="form-container">
      <div class="video-detail">
        <div class="row no-padding">
          <div class="col-lg-12 col-md-12 col-sm-12 columns">
            <div class="form-group">
              <mat-label class="label"> {{ "VIDEO.FORM.VIDEO_URL" | translate }} </mat-label>
              <mat-form-field class="global-MatField" appearance="outline">
                <!-- <mat-label> {{
                  "VIDEO.FORM.YOUTUBE_URL" | translate }} </mat-label> -->
                <input matInput formControlName="youtubeUrl" placeholder="{{ 'VIDEO.FORM.ENTER_URL' | translate }}" />
              </mat-form-field>
              <div class="error" *ngIf="
                  videoLibraryForm?.controls?.youtubeUrl?.touched &&
                  videoLibraryForm?.controls?.youtubeUrl?.errors?.required
                ">
                <!-- <strong>{{ "VIDEO.REQUIRED.YOUTUBE_URL" | translate }}</strong> -->
              </div>
              <!-- <div class="error" *ngIf="
                  videoLibraryForm?.controls?.youtubeUrl?.touched &&
                  videoLibraryForm?.controls?.youtubeUrl?.errors?.invalidUrl
                ">
                <strong>{{
                  "VIDEO.REQUIRED.YOUTUBE_URL_INVALID" | translate
                  }}</strong>
              </div> -->
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 columns" formGroupName="title">
            <div class="form-group" *ngFor="let l of language" [hidden]="currLangauge !== l?.key">
              <mat-label class="label"> {{ "VIDEO.FORM.TITLE" | translate }} </mat-label>
              <mat-form-field class="global-MatField" appearance="outline">
                <!-- <mat-label> {{
                  "VIDEO.FORM.TITLE" | translate }} </mat-label> -->
                <input matInput [formControlName]="l?.key" placeholder="{{ 'VIDEO.FORM.ENTER_TITLE' | translate }}" />
              </mat-form-field>
              <div class="error" *ngIf="
                  videoLibraryForm?.controls?.title?.touched &&
                  videoLibraryForm?.controls?.title?.errors?.required
                ">
                <!-- <strong>{{ "VIDEO.REQUIRED.TITLE" | translate }}</strong> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row no-padding">
          <div class="col-lg-12 col-md-12 col-sm-12 columns" formGroupName="description">
            <div class="form-group" *ngFor="let l of language" [hidden]="currLangauge !== l?.key">
              <mat-label class="label"> {{"VIDEO.FORM.SHORT_DESCRIPTION" | translate }} </mat-label>
              <mat-form-field class="global-MatField field-des" appearance="outline" autocomplete="off">
                <!-- <mat-label> {{
                  "VIDEO.FORM.DESCRIPTION" | translate }} </mat-label> -->
                <textarea [formControlName]="l?.key" rows="3" matInput
                  placeholder="{{'VIDEO.FORM.SHORT_DESCRIPTION' | translate }}" [maxlength]="150"></textarea>
              </mat-form-field>
              <p>{{"VIDEO.FORM.CHARACTER_LIMIT" | translate }}</p>
              <div class="error" *ngIf="
                  videoLibraryForm?.controls?.description?.touched &&
                  videoLibraryForm?.controls?.description?.errors?.required
                ">
                <strong>{{ "VIDEO.REQUIRED.DESCRIPTION" | translate }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="additional-information">
        <h2 class="additional-information-title">{{ "VIDEO.ADDITIONAL_INFORMATION" | translate }}</h2>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 select">
            <mat-label class="label">{{ "VIDEO.FORM.GAME" | translate }} </mat-label>
            <mat-form-field class="global-MatField field-select" appearance="outline">
              <!-- <mat-label>{{ "VIDEO.FORM.ADD_GAME" | translate }} </mat-label> -->
              <mat-select (selectionChange)="onChangePlatform()" [formControl]="videoLibraryForm.controls['game']"
                placeholder="{{'VIDEO.FORM.ADD_GAME' | translate }}">
                <mat-option *ngFor="let item of gameList" [value]="item._id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 select">
            <mat-label class="label">{{ "VIDEO.FORM.CATEGORY" | translate }} </mat-label>
            <mat-form-field class="global-MatField field-select" appearance="outline">
              <!-- <mat-label>{{ "VIDEO.FORM.ADD_CATEGORY" | translate }} </mat-label> -->
              <mat-select [formControl]="videoLibraryForm.controls['category']"
                placeholder="{{'VIDEO.FORM.ADD_CATEGORY' | translate }}">
                <mat-option *ngFor="let item of categoryList" [value]="item._id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 select">
            <mat-label class="label"> {{ "VIDEO.FORM.TAG(S)" | translate }} </mat-label>
            <mat-form-field class="global-MatField field-select" appearance="outline">
              <!-- <mat-label> {{ "VIDEO.FORM.ADD_TAGS" | translate }} </mat-label> -->
              <mat-select multiple [formControl]="videoLibraryForm.controls['tags']"
                placeholder="{{'VIDEO.FORM.ADD_TAG(S)' | translate }}">
                <mat-option *ngFor="let item of tagsList" [value]="item._id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <div class="row">
              <div class="
                  selected-tags
                  cursor
                  d-flex
                  flex-row
                  justify-content-between
                " *ngFor="let tag of videoLibraryForm.value.tags">
                <span>{{ tag | nameById: "name":tagsList }}</span>
                <span (click)="removeItem('tags', tag)" class="CVL-cross-mark ml-3">X</span>
              </div>
            </div> -->
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 select">
            <mat-label class="label"> {{"VIDEO.FORM.PLATFORM" | translate }}</mat-label>
            <mat-form-field class="global-MatField field-select" appearance="outline">
              <!-- <mat-label> {{"VIDEO.FORM.ADD_PLATFORM" | translate }}</mat-label> -->
              <mat-select multiple [formControl]="videoLibraryForm.controls['platforms']"
                placeholder="{{'VIDEO.FORM.ADD_PLATFORM' | translate }}">
                <mat-option *ngFor="let item of platformList" [value]="item._id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <div class="row">
              <div
                class="
                  selected-tags
                  cursor
                  d-flex
                  flex-row
                  justify-content-between
                "
                *ngFor="let platform of videoLibraryForm.value.platforms"
              >
                <span>{{ platform | nameById: "name":platformList }}</span>
                <span
                  (click)="removeItem('platforms', platform)"
                  class="CVL-cross-mark ml-3"
                  >X</span
                >
              </div>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 select">
            <mat-label class="label"> {{"VIDEO.FORM.GENRE" | translate }} </mat-label>
            <mat-form-field class="global-MatField field-select" appearance="outline">
              <!-- <mat-label> {{"VIDEO.FORM.SELECT_GENRE" | translate }} </mat-label> -->
              <mat-select multiple [formControl]="videoLibraryForm.controls['genres']"
                placeholder="{{'VIDEO.FORM.SELECT_GENRE' | translate }}">
                <mat-option *ngFor="let item of genreList" [value]="item._id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="row">
              <!-- <div class="
                  selected-tags
                  cursor
                  d-flex
                  flex-row
                  justify-content-between
                " *ngFor="let genre of videoLibraryForm.value.genres">
                <span>{{ genre | nameById: "name":genreList }}</span>
                <span (click)="removeItem('genres', genre)" class="CVL-cross-mark ml-3">X</span>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row btn-option">
        <ng-container *ngIf="!isProcessing; else spinner">
          <button type="submit" class="btn button button-default" [routerLink]="AppHtmlProfileRoutes.content"
            [queryParams]="{ activeTab: '2' }">
            {{ "BUTTON.CANCEL" | translate }}
          </button>
          <button type="submit" class="btn button button-primary" (click)="submit()" *ngIf="check_url">
            {{"BUTTON.SUBMIT_FOR_APPROVAL" | translate }}
          </button>
          <button type="submit" class="btn button button-primary" (click)="submit()" *ngIf="!check_url">
            {{"BUTTON.SUBMIT_CHANGES_FOR_APPROVAL" | translate }}
          </button>
        </ng-container>
        <ng-template #spinner>
          <button class="button button-primary spinner_pointer_event_none">
            <mat-spinner [diameter]="20"></mat-spinner>
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</section>
<!-- <app-fullscreen-loading *ngIf="!isLoaded"></app-fullscreen-loading> -->
<esports-fullscreen-loading *ngIf="!showLoader"></esports-fullscreen-loading>
