@import "shared";

:host {
  display: block;
}

.SearchTournaments {
  &-title {
    @extend %global-H5;
    margin-bottom: 24px;

    @include xl {
      margin-bottom: px2vw-xl(24px);
    }

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
  }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 14px;
    grid-row-gap: 32px;

    @include xl {
      grid-column-gap: px2vw-xl(14px);
      grid-row-gap: px2vw-xl(32px);
    }

    @include lg {
      grid-column-gap: px2vw-lg(14px);
      grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 100%));
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: px2vw-md(14px);
      grid-row-gap: px2vw-md(32px);
    }

    @include sm {
      grid-template-columns: repeat(2, minmax(0, 100%));
      grid-column-gap: px2vw-sm(14px);
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--color-primary);
  }
}