<section class="SearchTournaments u-wp">
  <h3 class="SearchTournaments-title">
    {{ "SEARCH.PAGE_SECTION.TOURNAMENTS" | translate }}
  </h3>

  <div class="SearchTournaments-list">
    <app-tournaments-card
      *ngFor="let item of (homeService.searchedTournament | async)?.docs"
      [params]="item"
    ></app-tournaments-card>

    <p *ngIf="!isTournamentFlag" class="SearchTournaments-message">
      {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
    </p>
  </div>
  <!-- <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination> -->
</section>
