.statistic-block {
  width: 50rem;
  background: #191c24;
  color: #8a8d93;
}

@import "shared";

@import "shared";

:host {
  display: block;
}

.TournamentDetails {
  overflow: hidden;
  position: relative;
  background: $left-corner-light;

  &-container {
    min-height: 100vh;
    padding-top: px2vw-xl(150px);
    padding-bottom: px2vw-xl(80px);

    @include lg {
      padding-top: px2vw-lg(150px);
      padding-bottom: px2vw-lg(80px);
    }

    @include md {
      padding-top: px2vw-md(150px);
      padding-bottom: px2vw-md(80px);
    }

    @include sm {
      padding-top: px2vw-sm(150px);
      padding-bottom: px2vw-sm(80px);
    }
  }

  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(56px);

    @include lg {
      margin-bottom: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(56px);
    }

    &-title {
      @extend %global-H4;
      margin-bottom: 0;
    }

    &-button {
      flex-shrink: 0;
      margin-left: px2vw-xl(15px);

      @include lg {
        margin-left: px2vw-lg(15px);
      }

      @include md {
        margin-left: px2vw-md(15px);
      }

      @include sm {
        margin-left: px2vw-sm(15px);
      }
    }
  }

  &-main {
    display: grid;
    grid-template-columns: 1fr px2vw-xl(384px);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(56px);

    @include lg {
      grid-template-columns: 1fr px2vw-lg(384px);
      grid-column-gap: px2vw-lg(56px);
    }

    @include md {
      grid-template-columns: 1fr px2vw-md(384px);
      grid-column-gap: px2vw-md(56px);
    }

    @include sm {
      grid-template-columns: 1fr px2vw-sm(384px);
      grid-column-gap: px2vw-sm(56px);
    }
  }

  &-form {
    overflow-y: auto;

    ::ng-deep .mat-expansion-panel {
      margin-bottom: px2vw-xl(8px);
      box-shadow: none;
      border-radius: 0 !important;

      @include lg {
        margin-bottom: px2vw-lg(8px);
      }

      @include md {
        margin-bottom: px2vw-md(8px);
      }

      @include sm {
        margin-bottom: px2vw-sm(8px);
      }

      &,
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;

        .mat-expansion-panel-header {
          background-color: var(--color-tolopea);
        }
      }

      &:not(.mat-expanded):not([aria-disabled="true"]) {
        .mat-expansion-panel-header {
          background-color: var(--color-tolopea);
        }
      }

      &-header {
        border: px2vw-xl(1px) solid var(--white-light);
        border-radius: px2vw-xl(4px);
        height: px2vw-xl(64px);
        padding: px2vw-xl(20px) px2vw-xl(24px);

        @include lg {
          border-width: px2vw-lg(1px);
          border-radius: px2vw-lg(4px);
          height: px2vw-lg(64px);
          padding: px2vw-lg(20px) px2vw-lg(24px);
        }

        @include md {
          border-width: px2vw-md(1px);
          border-radius: px2vw-md(4px);
          height: px2vw-md(64px);
          padding: px2vw-md(20px) px2vw-md(24px);
        }

        @include sm {
          border-width: px2vw-sm(1px);
          border-radius: px2vw-sm(4px);
          height: px2vw-sm(64px);
          padding: px2vw-sm(20px) px2vw-sm(24px);
        }
      }

      &-header-title {
        @extend %global-H6;
      }

      &-spacing {
        margin: 0;
      }
    }
  }

  &-brackets {
    margin: px2vw-xl(14px) 0;
    padding: px2vw-xl(34px) 0;
    overflow-x: auto;

    @include lg {
      margin: px2vw-lg(14px) 0;
      padding: px2vw-lg(34px) 0;
    }

    @include md {
      margin: px2vw-md(14px) 0;
      padding: px2vw-md(34px) 0;
    }

    @include sm {
      margin: px2vw-sm(14px) 0;
      padding: px2vw-sm(34px) 0;
    }
  }

  &-participants {
    max-width: px2vw-xl(648px);
    padding-top: px2vw-xl(32px);
    padding-bottom: px2vw-xl(54px);

    @include lg {
      max-width: px2vw-lg(648px);
      padding-top: px2vw-lg(32px);
      padding-bottom: px2vw-lg(54px);
    }

    @include md {
      max-width: px2vw-md(648px);
      padding-top: px2vw-md(32px);
      padding-bottom: px2vw-md(54px);
    }

    @include sm {
      max-width: px2vw-sm(648px);
      padding-top: px2vw-sm(32px);
      padding-bottom: px2vw-sm(54px);
    }

    &-players {
      margin-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }

    &-invite {
    }
  }

  &-settings {
    padding-top: px2vw-xl(48px);
    padding-bottom: px2vw-xl(68px);

    @include lg {
      padding-top: px2vw-lg(48px);
      padding-bottom: px2vw-lg(68px);
    }

    @include md {
      padding-top: px2vw-md(48px);
      padding-bottom: px2vw-md(68px);
    }

    @include sm {
      padding-top: px2vw-sm(48px);
      padding-bottom: px2vw-sm(68px);
    }

    &-manage {
      @extend %u-dfStart;
      margin-bottom: px2vw-xl(40px);
      width: 100%;

      @include lg {
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
      }
    }

    &-switchers {
      width: 50%;

      padding-right: px2vw-xl(40px);

      @include lg {
        padding-right: px2vw-lg(40px);
      }

      @include md {
        padding-right: px2vw-md(40px);
      }

      @include sm {
        padding-right: px2vw-sm(40px);
      }
    }

    &-selects {
      width: 50%;
      border-left: px2vw-xl(1px) solid var(--white-light);
      padding-left: px2vw-xl(40px);

      @include lg {
        border-left-width: px2vw-lg(1px);
        padding-left: px2vw-lg(40px);
      }

      @include md {
        border-left-width: px2vw-md(1px);
        padding-left: px2vw-md(40px);
      }

      @include sm {
        border-left-width: px2vw-sm(1px);
        padding-left: px2vw-sm(40px);
      }
    }

    &-region {
      max-width: px2vw-xl(384px);

      @include lg {
        max-width: px2vw-lg(384px);
      }

      @include md {
        max-width: px2vw-md(384px);
      }

      @include sm {
        max-width: px2vw-sm(384px);
      }
    }

    &-region-block {
      @extend %u-dfCenter;
      margin-bottom: px2vw-xl(20px);

      @include lg {
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }
    }

    &-region-title {
      @extend %body-2;
      margin-right: px2vw-xl(8px);
      margin-bottom: 0;
      color: var(--white);

      @include lg {
        margin-right: px2vw-lg(8px);
      }

      @include md {
        margin-right: px2vw-md(8px);
      }

      @include sm {
        margin-right: px2vw-sm(8px);
      }
    }

    &-region-icon {
      height: auto;
      width: auto;
      font-size: px2vw-xl(16px);
      color: var(--color-secondary);

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }
    }
  }

  &-rules {
    padding: px2vw-xl(16px) 0;

    @include lg {
      padding: px2vw-lg(16px) 0;
    }

    @include md {
      padding: px2vw-md(16px) 0;
    }

    @include sm {
      padding: px2vw-sm(16px) 0;
    }
  }

  &-prize {
  }

  &-aside {
    &-title {
      @extend %global-H5;
      margin-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }

    &-image {
      margin-bottom: px2vw-xl(26px);
      border-bottom: px2vw-xl(1px) solid var(--white-light);
      padding-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(26px);
        border-bottom-width: px2vw-lg(1px);
        padding-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(26px);
        border-bottom-width: px2vw-md(1px);
        padding-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(26px);
        border-bottom-width: px2vw-sm(1px);
        padding-bottom: px2vw-sm(32px);
      }
    }
  }

  &-robofly {
    height: px2vw-xl(237px);
    width: px2vw-xl(295px);

    @include lg {
      height: px2vw-lg(237px);
      width: px2vw-lg(295px);
    }

    @include md {
      height: px2vw-md(237px);
      width: px2vw-md(295px);
    }

    @include sm {
      height: px2vw-sm(237px);
      width: px2vw-sm(295px);
    }
  }
}
.teamGame-button {
  // box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%), 0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
  padding: 12px 20px 12px;
  display: flex;
  justify-content: end;
  background-color: var(--blackcurrant-color-medium);
  margin-top: -8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;

  @include sm {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 37px;
  }

  &-guide {
    margin-bottom: 0;
    align-self: center;
    margin-right: 16px;
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--tolopea-color);

    @include sm {
      margin-bottom: 16px;
      margin-right: 0;
    }
  }
  &-next {
    background: var(--secondary-color);
    border-radius: 6px;
    padding: 12px 32px;
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white-medium);

    @include sm {
      width: 100%;
      height: 48px;
    }
  }
}

.JoinTournament {
  &-container {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    padding: 0 24px;
    margin-top: 99px;
  }
  &-inner {
    display: grid;
    grid-template-columns: 295px 725px;
    grid-column-gap: 120px;

    @include lg {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    @include md {
      flex-direction: column;
    }
  }
  &-main {
    max-width: 725px;
    width: 100%;

    @include lg {
      max-width: 600px;
    }

    @include md {
      max-width: unset;
    }

    &-title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 40px;

      @include sm {
        font-size: 32px;
        line-height: 40px;
      }
    }

    &-subtitle {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: flex-end;
      color: var(--tolopea-medium-color);
      margin-bottom: 41.37px;
    }

    &-team {
      display: flex;
      align-items: center;
      margin-bottom: 33px;

      &-ava {
        margin-right: 18.3px;
      }

      &-name {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--tolopea-color);
      }
    }

    &-round {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-white-medium);
      // width: 625px;
      margin-bottom: 25px;

      @include sm {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
      }

      &-accordion {
        &-item-header {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--color-white-medium);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 16px 24px;
          position: static;
          left: 0px;
          top: 0px;
          background: var(--midnight-express-color);
          border-radius: 4px;
          margin-bottom: 22px;

          @include sm {
            padding: 16px;
            margin-bottom: 15px !important;
          }
        }

        &-item-body {
          // margin-top: 22px;
          // margin-bottom: 22px;

          @include sm {
            margin-bottom: 0;
          }

          &-form {
            &-wrap {
              color: var(--black-dark);
              display: grid;
              grid-template-columns: repeat(2, 350px);
              grid-column-gap: 12px;
              grid-row-gap: 16px;
              justify-content: space-between;
              padding: 24px 0;

              @include lg {
                display: block;
              }

              @include md {
                display: block;
              }

              & ::ng-deep .mat-form-field-flex {
                border: 2px solid var(--tolopea-color);
                border-radius: 4px;
                width: 350px;
                height: 48px;
                padding: 0;

                @include lg {
                  width: 100%;
                }
              }

              & ::ng-deep .mat-form-field-underline {
                display: none;
              }

              & ::ng-deep .mat-form-field-subscript-wrapper {
                display: none;
              }

              & ::ng-deep .mat-form-field-label {
                display: none;
              }

              & ::ng-deep .mat-form-field-label-wrapper {
                padding-top: 0;
              }

              & ::ng-deep .mat-form-field-infix {
                padding: 0;
                border-top: 0;
              }

              & ::ng-deep input.mat-input-element {
                font-family: "Paralucent-Light",  san-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: var(--white);
                padding: 12px 16px;
                width: calc(100% - 32px);

                &:-internal-autofill-selected {
                  appearance: menulist-button;
                  background-image: none !important;
                  background-color: transparent !important;
                  color: var(--white) !important;
                  -webkit-text-fill-color: var(--white) !important;
                }
                &:-webkit-autofill {
                  background-color: transparent !important;
                  // box-shadow: 0 0 50px 50px var(--blackcurrant-color-medium) inset !important;
                }
              }

              & ::ng-deep .mat-form-field-wrapper {
                padding-bottom: 0;
              }
            }
            &-field {
              display: flex;
              flex-direction: column;

              @include lg {
                margin-bottom: 16px;
              }

              @include md {
                margin-bottom: 16px;
              }

              &:last-child {
                @include md {
                  margin-bottom: 0;
                }
              }

              & mat-label {
                font-family: "Paralucent-Light",  san-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: flex-end;
                color: var(--white);
                margin-bottom: 4px;
              }
            }
          }

          &-member {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 18px;
            border-bottom: 1px solid var(--midnight-express-color);
            padding-top: 14px;
            position: relative;
            padding-left: 13px;
            height: 112px;

            @include sm {
              padding-left: 0;
              height: 164px;
              margin-bottom: 0;
              padding-top: 18px;
            }

            &-ava {
              background-image: url(../../../../../assets/icons/ava-image.svg);
              width: 49px;
              height: 49px;
              border-radius: 999px;
              margin-right: 16px;
              margin-top: 2px;
              display: flex;
              align-self: center;
              background-size: cover;
            }

            &-score {
              display: flex;
              border: 2px solid var(--tertiary-color);
              box-sizing: border-box;
              border-radius: 4px;
              width: 200px;
              height: 48px;
              padding: 12px 13px;
              align-items: center;
              margin-top: 8px;

              @include sm {
                width: 100%;
              }

              &-wrap {
                @include sm {
                  width: 100%;
                }
              }

              &-btnBlock {
                & button {
                  color: var(--main-color);
                  display: flex;
                  padding: 1px 0px 4px 0px;
                }
              }

              &-title {
                font-family: "Paralucent-Light",  san-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--color-white-medium);
                margin-bottom: 3px;
                margin-top: 3px;
              }
            }

            &-info {
              width: 53.5%;

              @include sm {
                width: 65%;
              }
            }

            &-name {
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20.3px;
              line-height: 28px;
              color: var(--white);

              @include sm {
                font-size: 16px;
                line-height: 24px;
              }
            }

            &-id {
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16.3px;
              line-height: 24px;
              color: var(--tolopea-color);

              @include sm {
                font-size: 16px;
                line-height: 24px;
              }
            }

            &-option {
              background-color: transparent;
              position: absolute;
              right: 29px;
              top: 28px;

              @include sm {
                border: 0;
                align-self: center;
                width: 40px;
                text-align: end;
                position: static;
              }
            }

            &-option ::ng-deep svg path {
              fill: var(--main-color) !important;
            }

            &-slug {
              width: 159px;
              height: 44px;
              border: 2px solid var(--tertiary-color);
              box-sizing: border-box;
              border-radius: 24px;
              display: flex;
              flex-direction: row;
              align-items: center;
              align-self: center;
              padding: 10px 20px;
              justify-content: space-between;
              position: absolute;
              right: 88px;
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: var(--tolopea-color);

              @include sm {
                display: none;
              }
            }

            &-caption {
              color: var(--green);

              &.caption-mobile {
                display: none;

                @include sm {
                  display: block;
                }
              }
            }
            &-divider {
              &.divider-mobile {
                display: none;

                @include sm {
                  display: block;
                }
              }
            }
          }
        }

        &-item-description {
          & button {
            background-color: transparent;
            border-radius: 90%;
            border: 2px solid var(--purple-light);
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
.JoinTournamentAside {
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  max-width: 295px;
  width: 100%;

  @include lg {
    max-width: 270px;
  }

  @include md {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  @include sm {
    max-width: unset;
  }
  &-Thumbnail {
    overflow: hidden;
    width: 100%;
    height: 164px;
    position: relative;
    @include md {
      width: 100%;
      max-width: 155px;
      height: 88px;
      border-radius: 8px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &-Info {
    @include md {
      width: 100%;
      max-width: calc(100% - 155px);
    }
    &-box {
      padding: 24px;
      background: var(--blackcurrant-color-medium);
      @include md {
        width: 100%;
        padding: 0 0 0 16px;
        background: transparent;
      }
      .title {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--color-white-medium);
        margin-bottom: 8px;
        @include md {
          font-size: 16px;
          line-height: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .price {
        margin-bottom: 24px;
        @include md {
          display: none;
        }
        span {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--tolopea-color);
        }
      }
      .link-to {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--green);
        @include md {
          font-weight: 500;
        }
      }
    }
  }
}
