<div class="Congratulation">
  <h1 class="Congratulation-title" *ngIf="formValue?.fullName">
    {{ data.title | translate }}
  </h1>

  <div class="Congratulation-title" *ngIf="!formValue?.fullName">
    {{ data.title | translate }}
  </div>

  <div class="Congratulation-subtitle">
    {{ data.subtitle | translate }}
  </div>

  <div class="Congratulation-btns">
    <button [routerLink]="AppHtmlRoutes.home" class="btn is-sm">
      {{ "BUTTON.HOME" | translate }}
    </button>
    <button
      [routerLink]="[
        AppHtmlRoutes.userPageType,
        AppHtmlRoutesLoginType.emailLogin
      ]"
      class="btn is-sm scBtn"
    >
      {{ "BUTTON.NEXT" | translate }}
    </button>
  </div>
</div>
