<section class="u-wp ArticleListing">
  <div class="ArticleListing-header">
    <h3 class="global-H3" *ngIf="active == 0">
      {{ "ARTICLE_MORE.TITLE" | translate | uppercase }}
    </h3>
    <h3 class="global-H3" *ngIf="active == 1">
      {{ "ESPORTS.ALL_POST" | translate | uppercase }}
    </h3>

    <!-- <div class="ArticleListing-search">
      <button
        class="ArticleListing-search-btn"
        data-toggle="collapse"
        data-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        <img src="./assets/icons/search.svg" alt="" />
      </button>
    </div> -->
  </div>

  <!-- <div class="collapse ArticleListing-search-box" id="collapseExample">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
    anderson cred nesciunt sapiente ea proident.
  </div> -->

  <div class="ArticleListing-list">
    <div *ngFor="let item of articles">
      <app-article-item [data]="item"></app-article-item>
    </div>
  </div>

  <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
</section>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
