<div class="mesf-scrollbar" *ngIf="!showDetails">
  <ngx-datatable
    #table
    class="mesf-DataTableAdmin dark is-viewRemoveRow is-admin"
    [columnMode]="'flex'"
    [columns]="columnsFirstTab"
    [footerHeight]="'auto'"
    [headerHeight]="'auto'"
    [limit]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
  >
    <ngx-datatable-column
      [flexGrow]="3"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TOURNAMENT_NAME' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["name"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGISTRATION' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["isPaid"] | registrationType }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.GAME' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["game"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGION' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["region"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TYPE' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["tournamentType"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.START_DATE' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["startDate"] | date: "MMM d, yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.PARTICIPANT' | translate
      }}"
      [flexGrow]="2"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["maxParticipants"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.FUND_STATUS' | translate
      }}"
      [flexGrow]="2"
      prop="fundStatus"
    >
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.PRIZE_DISTRIBUTION' | translate
      }}"
      [flexGrow]="2"
      prop="prizeDistribution"
    >
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="2" name="">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a
          class="UserManagement-tableBtn is-view"
          (click)="navigate(row['_id'])"
          mat-icon-button
          color="primary"
        >
          <mat-icon>arrow_right_alt</mat-icon>
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<app-esports-payment-details
  *ngIf="showDetails"
  [tournamentId]="tournamentId"
  (isToggle)="isToggle($event)"
></app-esports-payment-details>
