@import "shared";

:host {
  display: block;
  border-bottom: 1px solid var(--white-smoke);
  padding: 24px 0;

  @include xl {
    border-bottom-width: px2vw-xl(1px);
    padding: px2vw-xl(24px) 0;
  }

  @include lg {
    border-bottom-width: px2vw-lg(1px);
    padding: px2vw-lg(24px) 0;
  }

  @include md {
    border-bottom-width: px2vw-md(1px);
    padding: px2vw-md(24px) 0;
  }

  @include sm {
    border-bottom-width: px2vw-sm(1px);
    padding: px2vw-sm(24px) 0;
  }
}

.BookmarkCard-header {
  @extend %u-dfCenterBtw;
  margin-bottom: 12px;

  @include xl {
    margin-bottom: px2vw-xl(12px);
  }

  @include lg {
    margin-bottom: px2vw-lg(12px);
  }

  @include md {
    margin-bottom: px2vw-md(12px);
  }

  @include sm {
    margin-bottom: px2vw-sm(12px);
  }

  &-title {
    @extend %subtitle-1;
    margin-bottom: 0;
    font-family: "archivo-black";
    text-transform: uppercase;
  }

  &-control {
    @extend %u-dfCenter;
    flex-shrink: 0;
    margin-left: 12px;

    @include xl {
      margin-left: px2vw-xl(12px);
    }

    @include lg {
      margin-left: px2vw-lg(12px);
    }

    @include md {
      margin-left: px2vw-md(12px);
    }

    @include sm {
      margin-left: px2vw-sm(12px);
    }
  }

  &-control-icon {
    @extend %u-dfCenterCenter;
    margin-right: 8px;
    height: 24px;
    width: 24px;
    font-size: 24px;
    color: var(--white-high);
    cursor: pointer;
    transition: $global-transition;

    @include xl {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
      font-size: px2vw-xl(24px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
      font-size: px2vw-sm(24px);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    &.bookmark {
      color: var(--color-primary);
    }
  }
}

.BookmarkCard-content {
  @extend %u-dfCenter;

  &-image {
    @extend %u-dfStartEnd;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 16px;
    padding: 8px;
    height: 118px;
    width: 210px;
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include xl {
      margin-right: px2vw-xl(16px);
      padding: px2vw-xl(8px);
      height: px2vw-xl(118px);
      width: px2vw-xl(210px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
      padding: px2vw-lg(8px);
      height: px2vw-lg(118px);
      width: px2vw-lg(210px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      padding: px2vw-md(8px);
      height: px2vw-md(118px);
      width: px2vw-md(210px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      padding: px2vw-sm(8px);
      height: px2vw-sm(119px);
      width: px2vw-sm(213px);
    }
  }

  &-image-icon {
    height: 38px;
    width: 38px;

    @include xl {
      height: px2vw-xl(38px);
      width: px2vw-xl(38px);
    }

    @include lg {
      height: px2vw-lg(38px);
      width: px2vw-lg(38px);
    }

    @include md {
      height: px2vw-md(38px);
      width: px2vw-md(38px);
    }

    @include sm {
      height: px2vw-sm(39px);
      width: px2vw-sm(39px);
    }
  }

  &-info {
    max-width: 552px;

    @include xl {
      max-width: px2vw-xl(552px);
    }

    @include lg {
      max-width: px2vw-lg(552px);
    }

    @include md {
      max-width: px2vw-md(552px);
    }

    @include sm {
      max-width: px2vw-sm(552px);
    }
  }

  &-description {
    @extend %body-1;
    margin-bottom: 16px;

    @include xl {
      margin-bottom: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-details {
    @extend %u-dfCenter;
  }

  &-detail {
    @extend %caption;
    color: var(--white-medium);
  }

  &-dot {
    margin: 0 10px;
    border-radius: 2px;
    width: 3px;
    height: 3px;
    background-color: var(--white-medium);

    @include xl {
      margin: 0 px2vw-xl(10px);
      border-radius: px2vw-xl(2px);
      width: px2vw-xl(3px);
      height: px2vw-xl(3px);
    }

    @include lg {
      margin: 0 px2vw-lg(10px);
      border-radius: px2vw-lg(2px);
      width: px2vw-lg(3px);
      height: px2vw-lg(3px);
    }

    @include md {
      margin: 0 px2vw-md(10px);
      border-radius: px2vw-md(2px);
      width: px2vw-md(3px);
      height: px2vw-md(3px);
    }

    @include sm {
      margin: 0 px2vw-sm(10px);
      border-radius: px2vw-sm(2px);
      width: px2vw-sm(3px);
      height: px2vw-sm(3px);
    }
  }
}
