html[dir="rtl"] {
  .gwb-Header {
    &-images {
      margin-right: 0;
      margin-left: px2vw-xl(80px);

      @include lg {
        margin-left: px2vw-lg(80px);
      }

      @include md {
        margin-left: px2vw-md(80px);
      }

      @include sm {
        margin-left: px2vw-sm(80px);
      }
    }

    &-images-logo-link {
      margin-left: 0;
      border-left: 0;
      padding-left: 0;
      margin-right: px2vw-xl(20px);
      border-right: 1px solid rgba(#662d91, 0.5);
      padding-right: px2vw-xl(20px);

      @include lg {
        margin-right: px2vw-lg(20px);
        padding-right: px2vw-lg(20px);
      }

      @include md {
        margin-right: px2vw-md(20px);
        padding-right: px2vw-md(20px);
      }

      @include sm {
        margin-right: px2vw-sm(20px);
        padding-lerightft: px2vw-sm(20px);
      }
    }

    &-navigation {
      margin-right: 0;
      margin-left: px2vw-xl(60px);

      @include lg {
        margin-left: px2vw-lg(60px);
      }

      @include md {
        margin-left: px2vw-md(60px);
      }

      @include sm {
        margin-left: px2vw-sm(60px);
      }
    }

    &-navigation-link {
      margin-right: 0;
      margin-left: px2vw-xl(50px);
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(26px);

      @include lg {
        margin-left: px2vw-lg(50px);
        font-size: px2vw-lg(26px);
      }

      @include md {
        margin-left: px2vw-md(50px);
        font-size: px2vw-md(26px);
      }

      @include sm {
        margin-left: px2vw-sm(50px);
        font-size: px2vw-sm(26px);
      }

      &.is-active {
        font-family: "somar-black", sans-serif;
      }

      &:last-child {
        margin-left: 0;
      }
    }

    &-language {
      margin-right: auto;
      margin-left: 0;
    }

    &-language-image {
      margin-right: 0;
      margin-left: px2vw-xl(18px);

      @include lg {
        margin-left: px2vw-lg(18px);
      }

      @include md {
        margin-left: px2vw-md(18px);
      }

      @include sm {
        margin-left: px2vw-sm(18px);
      }
    }

    &-language-text {
      font-family: "avenir-roman", sans-serif;
      font-size: px2vw-xl(18px);

      @include lg {
        font-size: px2vw-lg(18px);
      }

      @include md {
        margin-right: 0;
        margin-left: px2vw-md(40px);
        font-size: px2vw-md(18px);
      }

      @include sm {
        margin-left: px2vw-sm(40px);
        font-size: px2vw-sm(18px);
      }
    }

    &-buttons {
      margin-right: px2vw-xl(60px);
      margin-left: 0;

      @include lg {
        margin-right: px2vw-lg(60px);
      }

      @include md {
        margin-right: px2vw-md(60px);
      }

      @include sm {
        margin-right: px2vw-sm(60px);
      }
    }

    &-mob-navigation-link {
      font-family: "somar-black", sans-serif;

      @include lg {
        font-size: px2vw-lg(80px);
      }

      @include md {
        font-size: px2vw-md(80px);
      }

      @include sm {
        font-size: px2vw-sm(80px);
      }
    }
  }
}

.loginText {
   font-family: "somar-black", sans-serif !important;
}
