html[dir="rtl"] {
  .GwbHome-hero {
    background-image: url(/assets/images/Gwb/bg/hero/hero-desktop-ar.png);

    @include sm {
      background-image: url(/assets/images/Gwb/bg/hero/hero-mobile.jpg);
    }

    &-title {
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(86px);

      @include lg {
        font-size: px2vw-lg(65px);
      }

      @include md {
        font-size: px2vw-md(74px);
      }

      @include sm {
        font-size: px2vw-sm(74px);
      }
    }
    
    &-subheader {
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(40px);
      width: 55%;

      @include lg {
        font-size: px2vw-lg(40px);
      }

      @include md {
        font-size: px2vw-md(40px);
      }

      @include sm {
        font-size: px2vw-sm(46px);
        width: 100%;
      }
    }

    &-subtitle {
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(44px);

      @include lg {
        font-size: px2vw-lg(44px);
      }

      @include md {
        font-size: px2vw-md(44px);
      }

      @include sm {
        font-size: px2vw-sm(48px);
      }
    }

    &-date {
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(29px);

      @include lg {
        font-size: px2vw-lg(21px);
      }

      @include md {
        font-size: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(32px);
      }
    }

    &-tip {
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(24px);

      @include lg {
        font-size: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
      }
    }

    &-content {
      text-align: right;
    }

    &-gamers {
      text-align: right;
      font-style: normal;

      @include sm {
        text-align: center;
      }
    }

    &-gamers-head {
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(37px);

      @include lg {
        font-size: px2vw-lg(28px);
      }

      @include md {
        font-size: px2vw-md(34px);
      }

      @include sm {
        font-size: px2vw-sm(34px);
      }
    }

    &-gamers-subhead {
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(45px);

      @include lg {
        font-size: px2vw-lg(34px);
      }

      @include md {
        font-size: px2vw-md(43px);
      }

      @include sm {
        font-size: px2vw-sm(43px);
      }
    }

    &-button {
      right: 0;
      left: auto;
      background: linear-gradient(
        286.5deg,
        rgba(221, 80, 255, 0.45) 0%,
        rgba(221, 80, 255, 0.45) 0.01%,
        #0bf7ad 100%
      );
      text-align: right;
      padding: px2vw-xl(20px);
      padding-right: 5vw;

      @include lg {
        padding: px2vw-lg(15px);
        padding-right: 4.5vw;
      }

      @include md {
        padding: px2vw-md(15px);
        padding-right: 3vw;
      }

      @include sm {
        text-align: center;
        padding: px2vw-sm(20px);
      }
    }

    &-button-title {
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(28px);
      font-weight: normal;

      @include lg {
        font-size: px2vw-lg(21px);
      }

      @include md {
        font-size: px2vw-md(21px);
      }

      @include sm {
        font-size: px2vw-sm(21px);
      }
    }

    &-button-text {
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(50px);
      font-weight: normal;

      @include lg {
        font-size: px2vw-lg(38px);
      }

      @include md {
        font-size: px2vw-md(38px);
      }

      @include sm {
        font-size: px2vw-sm(38px);
      }
    }
  }

  .GwbHome-about {
    background-image: url(/assets/images/Gwb/bg/about/desktop-ar.jpg);
    text-align: right;

    @include md {
      background-image: none;
    }

    &-title {
      font-family: "somar-black", sans-serif;
    }

    &-subtitle {
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(32px);

      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(36px);
      }

      @include sm {
        font-size: px2vw-sm(36px);
      }
    }

    &-item {
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(24px);

      @include lg {
        font-size: px2vw-lg(18px);
      }

      @include md {
        font-size: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(32px);
      }
    }
  }

  .GwbHome-watch {
    text-align: right;

    &-title {
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(60px);

      @include lg {
        font-size: px2vw-lg(45px);
      }

      @include md {
        font-size: px2vw-md(48px);
      }

      @include sm {
        font-size: px2vw-sm(48px);
      }
    }
  }

  .GwbHome-donate {
    background-image: url(/assets/images/Gwb/bg/donate/donate-desktop-ar.jpg);
    text-align: right;

    @include md {
      background-image: none;
    }

    &-title {
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(70px);

      @include lg {
        font-size: px2vw-lg(52px);
      }

      @include md {
        font-size: px2vw-md(52px);
      }

      @include sm {
        font-size: px2vw-sm(52px);
      }
    }

    &-item {
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(28px);

      @include lg {
        font-size: px2vw-lg(21px);
      }

      @include md {
        font-size: px2vw-md(34px);
      }

      @include sm {
        font-size: px2vw-sm(34px);
      }
    }

    &-content {
      margin-right: 0;
      margin-left: px2vw-xl(200px);

      @include lg {
        margin-left: px2vw-lg(150px);
      }

      @include md {
        margin-left: 0;
      }
    }
  }

  .GwbHome-games {
    background-image: url(/assets/images/Gwb/bg/games/games-ar.jpg);
    text-align: right;

    @include md {
      background-image: none;
    }

    &-title {
      font-family: "somar-black", sans-serif;
    }

    &-subtitle {
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(32px);

      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(36px);
      }

      @include sm {
        font-size: px2vw-sm(36px);
      }
    }

    &-item {
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(23px);

      @include lg {
        font-size: px2vw-lg(23px);
      }

      @include md {
        font-size: px2vw-md(23px);
      }

      @include sm {
        font-size: px2vw-sm(23px);
      }
    }

    &-bg-image {
      @include md {

      }
    }
  }

  .GwbHome-socials {
    &-title {
      margin-right: 0;
      font-family: "somar-black", sans-serif;
      font-size: px2vw-xl(60px);

      @include lg {
        font-size: px2vw-lg(44px);
      }

      @include md {
        margin-left: 0;
        font-size: px2vw-md(54px);
      }

      @include sm {
        font-size: px2vw-sm(54px);
      }
    }

    &-list {
      &.primary {
        margin-right: 0;
        margin-left: px2vw-xl(46px);

        @include lg {
          margin-left: 0;
        }
      }
    }

    &-link-text {
      margin-left: 0;
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(28px);

      @include lg {
        font-size: px2vw-lg(22px);
      }

      @include md {
        font-size: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(32px);
      }
    }
  }

  .GwbHome-support {
    &-text {
      margin-right: 0;
      font-family: "somar-medium", sans-serif;
      font-size: px2vw-xl(24px);

      @include lg {
        font-size: px2vw-lg(18px);
      }

      @include md {
        font-size: px2vw-md(28px);
      }

      @include sm {
        margin-left: 0;
        font-size: px2vw-sm(28px);
      }
    }

    &-image {
      margin-right: 0;

      @include lg {
      }

      @include md {
      }

      @include sm {
        margin-left: 0;
      }

      &.ministry {
        margin-right: 0;
        margin-left: px2vw-xl(32px);
        @include lg {
          margin-left: px2vw-lg(32px);
        }

        @include md {
          margin-left: px2vw-md(32px);
        }
      }
      &.saudi {
        margin-right: 0;
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }
  .text_right_ar{
    text-align: right;
  }
  .registration__container{
    h3{
      text-align: right;
    }
  }
  .checkbox-container{
    .text{
      margin-right: 32px;
      margin-left: inherit !important;
    }
  }
  .progressnew-circle{
    .info{
      text-align: right;
      .chip{
        right:-40px;
        left:inherit !important;
      }
    }
  }
  .registration__form__actions{
    .submitBtn{
      padding-inline-start: 40px;
      padding-inline-end:inherit !important;
    }
  }
  #terms-condetions{
    .modal-content{
      text-align: right;
    }
    .close-btn{
      right: 30px;
      left: inherit !important;
    }
  }
  @media (max-width:780px){
    .progressnew-bar{
      .progressnew-circle{
        .info{
          margin-right: 80px;
          margin-left: inherit !important;
          margin-inline-start: 80px !important;
        }
      }
    }
  }
  
}
