<div class="formtitle">{{ "ACCOUNT_SETTINGS.ACCOUNTS.TITLE.ACCOUNT" | translate }}
</div>

  <div class="people-blocked">
    <div class="blocked-user">
      <div class="row align-items-center py-3">
        <div class="col-2 col-lg-1">

          <img src='../../../../assets/icons/phone.png' alt="user" class="profile-photo-lg">
        </div>
        <div class="col-7 col-lg-8">
          <h5 class="mb-0"><a href="#" class="profile-link mb-0">+64-5 1234 483</a></h5>
          <p class="sub-text m-0"> {{ "ACCOUNT_SETTINGS.ACCOUNTS.VERIFIED" | translate }}</p>
        </div>
        <div class="col-3 text-right">
          <button class="button-default d-sm-block d-none text-capitalize float-right" (click)="showEditPopUp('phone')"> {{ "BUTTON.EDIT" | translate }}</button>
          <mat-icon class="d-block d-sm-none">edit</mat-icon>
        </div>
      </div>

    </div>
    <div class="blocked-user">
      <div class="row align-items-center py-3">
        <div class="col-2 col-lg-1">
          <img src='../../../../assets/icons/email.png' alt="user" class="profile-photo-lg">
        </div>
        <div class="col-7 col-lg-8">
          <h5 class="mb-0"><a href="#" class="profile-link">xxinfintiy@mail.com </a></h5>
          <p class="sub-text m-0">{{ "ACCOUNT_SETTINGS.ACCOUNTS.VERIFIED" | translate }} </p>
        </div>
        <div class="col-3 text-right">
          <button class="button-default d-sm-block d-none text-capitalize float-right" (click)="showEditPopUp('email')"> {{ "BUTTON.EDIT" | translate }}</button>
          <mat-icon class="d-block d-sm-none">edit</mat-icon>
        </div>
      </div>

    </div>
  </div>
<form class="Profile" *ngIf="currentUser" [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
<div class="formtitle my-4">{{ "BUTTON.CHANGE_PASSWORD" | translate }}</div>
<div class="Photo-fields-item">
    <mat-label>
      {{ "ACCOUNT_SETTINGS.PASSWORDS.OLDPASSWORD" | translate }}
      <!--  -->
    </mat-label>
    <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">

      <input matInput [formControl]="addForm.controls['oldpass']"  />

    </mat-form-field>
</div>
<div class="Photo-fields-item">
    <mat-label>
      {{ "ACCOUNT_SETTINGS.PASSWORDS.NEWPASSWORD" | translate }}
      <!--  -->
    </mat-label>
    <mat-form-field class="global-MatField" appearance="outline">

      <input matInput [formControl]="addForm.controls['newpass']"  />

    </mat-form-field>
</div>
<div class="Photo-fields-item">
    <mat-label>
      {{ "ACCOUNT_SETTINGS.PASSWORDS.CONFIRMPASSWORD" | translate }}
      <!--  -->
    </mat-label>
    <mat-form-field class="global-MatField" appearance="outline">

      <input matInput
      [formControl]="addForm.controls['confpass']"
      (keyup)="confirmpassword()"
      (keydown)="confirmpassword()"
      />

    </mat-form-field>
  <mat-error *ngIf="isNotConfirm" class="notcnfrmerror">
    {{
      "LOG_REG.REGISTER.VALIDATION6" | translate
    }}
  </mat-error>
</div>
<div class="formtitle mt-4">
  <button class="Passwords-manage-button button-primary text-capitalize">
      {{ "BUTTON.CHANGE_PASSWORD" | translate }}
  </button>
</div>
</form>

