@import "shared";

:host {
  display: block;
}

.InputText {
  border-bottom: 2px solid var(--base-white);
  padding-bottom: px2vw-xl(32px);

  @include lg {
    padding-bottom: px2vw-lg(32px);
  }

  @include md {
    padding-bottom: px2vw-md(32px);
  }

  @include sm {
    padding-bottom: px2vw-sm(32px);
  }

  &-title {
    margin-bottom: px2vw-xl(50px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-input {
    flex-grow: 1;
    background-color: transparent;
    color: var(--base-white);

    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }

    &::placeholder {
      color: var(--base-white);
      opacity: 0.2;
    }
  }

  &-icon {
    margin-left: px2vw-xl(20px);
    width: px2vw-xl(27px);

    @include lg {
      margin-left: px2vw-lg(20px);
      width: px2vw-lg(27px);
    }

    @include md {
      margin-left: px2vw-md(20px);
      width: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
      width: px2vw-sm(24px);
    }
  }
}

.InputText.basic {
  border-bottom: none;
  padding-bottom: 0;

  .title {
    margin-bottom: px2vw-xl(10px);
    color: var(--base-submarine);
    width: 100%;
    font-size: 1.3rem;

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(20px);
    }
  }

  .input {
    cursor: pointer;
    border-radius: px2vw-xl(4px);
    // background-color: rgba(0, 0, 0, 0.3);
    // padding: px2vw-xl(22px) px2vw-xl(25px);
    transition: 100ms linear;

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(22px) px2vw-lg(25px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(22px) px2vw-md(25px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(22px) px2vw-sm(25px);
      font-size: px2vw-sm(20px);
    }

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      cursor: default;

      &:hover {
        opacity: 1;
      }
    }

    &::placeholder {
      opacity: 1;
    }
  }

  .icon {
    display: none;
  }
}

::ng-deep app-input-text-normal .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 16px;
  font-family: "redhat-regular", sans-serif !important;
}

mat-label {
  color: var(--white);
  font-weight: 100;
}
