@import "shared";

.switch-text-label {
  margin-right: 0.5em;
  vertical-align: top;
  position: relative;
}
.label {
  margin-bottom: 0.8337675873vw;
}

.form-group {
  height: 100%;
  max-height: 38px;

  .form-check {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .form-check-label {
      margin-right: 16px;
      color: var(--white);
      padding: 0;
      width: 60%;
      @include xl {
        font-size: 12px;
        display: flex;
        margin-right: auto;
      }
      @include lg {
        font-size: 12px;
        display: flex;
        margin-right: auto;
      }
      @include md {
        font-size: 12px;
        display: flex;
        margin-right: auto;
      }
      @include sm {
        font-size:px2vw-sm(14px);
        display: flex;
        margin-right: auto;
      }
    }

    img {
      width: 13px;
      margin-right: 10px;
    }
    @include sm {
      display: flex;
      justify-content: space-between;
      margin-right: auto;
    }
  }
}

/* toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  border-radius: 167px;
  width: 45px;
  height: 25px;
  margin-bottom: 0;
}

.switch-text-label {
  vertical-align: top;
  margin-right: 0.5em;
  position: relative;
  @include sm {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .switch-text-label {
    font-size: 12px;
    display: flex;
    margin-right: auto;
  }
}

.form-check {
  margin-left: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(158 158 158);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 19px;
  left: 5px;
  bottom: 4px;
  background-color: #bbf55a;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(158 158 158);
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ccc;
  outline: 0;
  box-shadow: none;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--ui-dodger-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
::ng-deep{
  .counter__container{
    border: 1px solid #ccc !important;
  }
  .form-group .dropdown .dropdown-menu{
    background-color: #fff !important;
  }
  .GameConfigurations-boxA{
    display: block;
  }
}
