<section class="ViewArticleV2 u-wp">
  <div class="ViewArticleV2-top">
    <app-jumbotron
      [data]="jumbotron"
      class="ViewArticleV2-top-jumbotron"
      [backgroundUrl]="hottestPost.image"
    >
    </app-jumbotron>
  </div>

  <div class="ViewArticleV2-trending">
    <div class="ViewArticleV2-trending-title">
      <button (click)="goBack()" class="btn ViewArticleV2-back">
        <img src="./assets/icons/back.svg" alt="image" />
        {{ "ARTICLE_GAME.BACK" | translate }}
      </button>
      <h3 class="global-H3 ViewArticleV2-trending-title">
        {{ "ARTICLE_GAME.TITLE" | translate }}
      </h3>
    </div>

    <div class="ViewArticleV2-trending-cards">
      <app-article-item *ngFor="let item of articles" [data]="item">
      </app-article-item>
    </div>
    <app-pagination
      [page]="page"
      (currentPage)="pageChanged($event)"
    ></app-pagination>
  </div>
</section>

<app-fullscreen-loading *ngIf="showLoader"> </app-fullscreen-loading>
