<div class="u-wp">
  <button class="button-secondary mb-5 btn_backtoshop" [routerLink]="[AppHtmlRoutes?.shop]">
    <mat-icon>arrow_back</mat-icon>&nbsp;{{ "TRANSACTIONS.BACK" | translate }}
  </button>
  <div (click)="!isLogin ?openLoginDialog():''" class="row">
    <div class="col-md-4 GO-Container">
      <div class="row">
        <div class="col-md-12 d-flex align-items-center">
          <div class="game_sect_img">
            <img [src]=iconUrl alt="..." class="game_image" />
          </div>
          <div class="game_title">
            <h3>{{allDenominationsData?.gameCategoryName}} </h3>
            <!-- <p>Bang Bang</p> -->
            <p class="text-muted">{{allDenominationsData?.publisher}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex">
          <div class="topup_badge">
            <h5>
              <span class="badge">{{"TRANSACTIONS.TOP_UP" | translate }}</span>
            </h5>
          </div>
          <div class="promotion_badge" *ngIf="allDenominationsData?.isDiscounted">
            <h5><span class="badge">{{"TRANSACTIONS.RELOAD_VIEW.HOT_DEALS" | translate }}</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="game_description">
            <p [class.showfull]="toggleStoreContainer">
              {{allDenominationsData?.description}}
            </p>
            <a class="smStorecontainer moreInfo" (click)="toggleDisplayStore()">{{!toggleStoreContainer ? 'SHOW MORE' :
              'HIDE MORE'}}</a>
          </div>
        </div>
      </div>
      <!-- <div class="row mdStorecontainer">
                <app-store-container></app-store-container>
            </div>
            <div class="row smStorecontainer">
                <div *ngIf="toggleStoreContainer">
                    <app-store-container></app-store-container>
                </div>
            </div> -->
    </div>
    <div class="col-md-8">
      <ng-template [ngIf]="isShowTopUpForm">
        <div class="row">
          <form class="form-start" [formGroup]="reactiveForm">
            <div class="col-md-12">
              <div class="SI-FUID-Container">
                <div class="form-group align-items-center form-steps-header">
                  <div class="form_heading">
                    <div class="form-steps-number">
                      <h1><span class="badge">1</span></h1>
                    </div>
                    <div class="pl-4">
                      <h4>{{"SHOP_PRODUCT_SLIDE.ENTER_USER_ID" | translate }}</h4>
                      <!-- <h6 >form-invalid</h6> -->
                    </div>
                  </div>
                </div>
                <div class="form-group row px-3 user_input">
                  <div class="col-md-5 form_field" *ngIf="isUserid">
                    <mat-form-field class="example-form-field" [class.isValid]="formInvalid ||
                    reactiveForm.controls['userid'].invalid && (reactiveForm.controls['userid'].dirty || reactiveForm.controls['userid'].touched)
                    " appearance="outline">
                      <mat-label>{{"SHOP_PRODUCT_SLIDE.ENTER_USER_ID" | translate }}</mat-label>
                      <input matInput type="text" [formControl]="reactiveForm.controls['userid']"  />
                    </mat-form-field>
                    <mat-error *ngIf="formInvalid">{{formValidMsg}}</mat-error>
                  </div>
                  <div class="col-md-5 form_field" *ngIf="isZoneid">
                    <mat-form-field class="example-form-field"
                      [class.isValid]="reactiveForm.controls['zoneid'].invalid && (reactiveForm.controls['zoneid'].dirty || reactiveForm.controls['zoneid'].touched)"
                      appearance="outline">
                      <mat-label>{{"SHOP_PRODUCT_SLIDE.ENTER_ZONE_ID" | translate }}</mat-label>
                      <input matInput type="text" [formControl]="reactiveForm.controls['zoneid']" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-5 form_field zone_server" *ngIf="isServer">
                    <mat-form-field class="example-form-field"
                      [class.isValid]="reactiveForm.controls['serverid'].invalid && (reactiveForm.controls['serverid'].dirty || reactiveForm.controls['serverid'].touched)"
                      appearance="outline">
                      <mat-label>{{"SHOP_PRODUCT_SLIDE.SELECT_SERVER" | translate }}</mat-label>
                      <mat-select [formControl]="reactiveForm.controls['serverid']" (selectionChange)="setServerName()">
                        <mat-option *ngFor="let server of servers" [value]="server.value">
                          {{server?.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-5 form_field" *ngIf="isUsername">
                    <mat-form-field class="example-form-field"
                      [class.isValid]="reactiveForm.controls['username']?.invalid && (reactiveForm.controls['username']?.dirty || reactiveForm.controls['Username']?.touched)"
                      appearance="outline">
                      <mat-label>{{"SHOP_PRODUCT_SLIDE.ENTER_USERNAME" | translate }}</mat-label>
                      <input matInput type="text" [formControl]="reactiveForm.controls['username']">
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-group row px-3 user_id_content">
                  <div class="col-md-12">
                    <p>{{"SHOP_PRODUCT_SLIDE.CONTENT" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="SI-FUID-Container">
                <div class="form-group align-items-center form-steps-header">
                  <div class="form_heading">
                    <div class="form-steps-number">
                      <h1><span class="badge">{{"SHOP_PRODUCT_SLIDE.TWO" | translate }}</span></h1>
                    </div>
                    <div class="pl-3">
                      <h4>{{"SHOP_PRODUCT_SLIDE.SELECT_TOPUP_AMOUNT" | translate }}</h4>
                    </div>
                  </div>
                  <div class="txt_currconversion">{{"SHOP_PRODUCT_SLIDE.GCNUMBER" | translate }}</div>
                </div>
                <div class="row mb-4 top_amount_cards">
                  <div class="col-md-12">
                    <div class="voucher_container">
                      <div *ngFor="let topup of denominations" class="text-center my-2 voucher_card voucher_item">
                        <a (click)="topupSelect(topup)" class="top-up-amt-card-link"
                          [ngClass]="{active: isActive(topup)}">
                          <div class="d-flex justify-content-center top-up-amt-card">
                            <!-- isDiscounted -->
                            <a *ngIf="topup?.isDiscounted" data-toggle="tooltip" title="Discount"> <svg width="32"
                                height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="label_bg" d="M32 0H4C1.79086 0 0 1.79086 0 4V32L32 0Z" fill="#FF2382" />
                                <path
                                  d="M13.3555 4.19137L13.7092 6.43208L15.7442 7.47117L14.718 9.5029L15.75 11.5346L13.6976 12.5737L13.3439 14.8144L11.0886 14.4603L9.48261 16.0625L7.87082 14.4371L5.63288 14.8086L5.27342 12.5505L3.25 11.5172L4.282 9.48549L3.2558 7.47117L5.29082 6.42047L5.64448 4.19717L7.88822 4.56869L9.5 2.9375L11.106 4.54547L13.3555 4.19137ZM8.05056 6.60043C7.81991 6.60043 7.5987 6.69216 7.43561 6.85546C7.27252 7.01876 7.18089 7.24023 7.18089 7.47117C7.18089 7.7021 7.27252 7.92358 7.43561 8.08688C7.5987 8.25017 7.81991 8.34191 8.05056 8.34191C8.28121 8.34191 8.50241 8.25017 8.6655 8.08688C8.8286 7.92358 8.92022 7.7021 8.92022 7.47117C8.92022 7.24023 8.8286 7.01876 8.6655 6.85546C8.50241 6.69216 8.28121 6.60043 8.05056 6.60043ZM10.9494 10.6639C10.7188 10.6639 10.4976 10.7556 10.3345 10.9189C10.1714 11.0822 10.0798 11.3037 10.0798 11.5346C10.0798 11.7656 10.1714 11.987 10.3345 12.1503C10.4976 12.3136 10.7188 12.4054 10.9494 12.4054C11.1801 12.4054 11.4013 12.3136 11.5644 12.1503C11.7275 11.987 11.8191 11.7656 11.8191 11.5346C11.8191 11.3037 11.7275 11.0822 11.5644 10.9189C11.4013 10.7556 11.1801 10.6639 10.9494 10.6639ZM7.4186 12.4054L12.3989 7.41892L11.5814 6.60043L6.60111 11.5869L7.4186 12.4054Z"
                                  fill="white" />
                              </svg>
                            </a>

                            <!-- isCashback -->
                            <a *ngIf="topup?.isCashback" data-toggle="tooltip" title="Cashback">
                              <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M32 0H4C1.79086 0 0 1.79086 0 4V32L32 0Z" fill="#2C8C99" />
                                <path
                                  d="M9.5 3.875C8.00816 3.875 6.57742 4.46763 5.52252 5.52252C4.46763 6.57742 3.875 8.00816 3.875 9.5H2L4.5 12L7 9.5H5.125C5.125 8.33968 5.58594 7.22688 6.40641 6.40641C7.22688 5.58594 8.33968 5.125 9.5 5.125C10.6603 5.125 11.7731 5.58594 12.5936 6.40641C13.4141 7.22688 13.875 8.33968 13.875 9.5C13.875 10.6603 13.4141 11.7731 12.5936 12.5936C11.7731 13.4141 10.6603 13.875 9.5 13.875C8.5625 13.875 7.68125 13.5625 6.9625 13.0625L6.0625 13.9625C7.05099 14.7143 8.25808 15.1225 9.5 15.125C10.9918 15.125 12.4226 14.5324 13.4775 13.4775C14.5324 12.4226 15.125 10.9918 15.125 9.5C15.125 8.00816 14.5324 6.57742 13.4775 5.52252C12.4226 4.46763 10.9918 3.875 9.5 3.875Z"
                                  fill="white" />
                                <path
                                  d="M7.625 10.5417H8.375C8.375 10.9167 8.88875 11.2361 9.5 11.2361C10.1112 11.2361 10.625 10.9167 10.625 10.5417C10.625 10.1597 10.235 10.0208 9.41 9.83681C8.615 9.65278 7.625 9.42361 7.625 8.45833C7.625 7.83681 8.17625 7.30903 8.9375 7.13194V6.375H10.0625V7.13194C10.8238 7.30903 11.375 7.83681 11.375 8.45833H10.625C10.625 8.08333 10.1112 7.76389 9.5 7.76389C8.88875 7.76389 8.375 8.08333 8.375 8.45833C8.375 8.84028 8.765 8.97917 9.59 9.16319C10.385 9.34722 11.375 9.57639 11.375 10.5417C11.375 11.1632 10.8238 11.691 10.0625 11.8681V12.625H8.9375V11.8681C8.17625 11.691 7.625 11.1632 7.625 10.5417Z"
                                  fill="white" fill-opacity="0.87" />
                              </svg>
                            </a>
                            <!-- <img *ngIf="topup?.isDiscounted" src="assets/images/shop/label-promotion-discount.png" class="" /> -->
                            <div class="topup_discount">
                              <!-- isDiscounted == true -->
                              <p *ngIf="topup?.isDiscounted">
                                <s>{{topup?.denomination_coins | number}}</s> &nbsp;<span
                                  class="dis_pr_coin">{{topup?.discountedPriceCoins | number}}
                                  {{"TRANSACTIONS.RELOAD_VIEW.GC"
                                  | translate }}</span>
                                <br><span>{{topup?.denomination_name}}</span>
                              </p>
                              <!-- isDiscounted == false -->
                              <p *ngIf="!topup?.isDiscounted">
                                {{topup?.denomination_coins | number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate
                                }}<br><span>{{topup?.denomination_name}}</span>
                              </p>


                            </div>

                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="SI-FUID-Container enter_email_section">
                <div class="form-group align-items-center form-steps-header">
                  <div class="form_heading">
                    <div class="form-steps-number">
                      <h1><span class="badge">3</span></h1>
                    </div>
                    <div class="px-3">
                      <h4>{{"SHOP_PRODUCT_SLIDE.ENTER_YOUR_EMAIL" | translate }}</h4>
                    </div>
                  </div>
                </div>
                <div class="form-group row px-3">
                  <div class="col-md-6 pt-2 pb-2 form_field">
                    <mat-form-field class="example-form-field"
                      [class.isValid]="reactiveForm.controls['UserEmail'].invalid && (reactiveForm.controls['UserEmail'].dirty || reactiveForm.controls['UserEmail'].touched)"
                      appearance="outline">
                      <mat-label>{{"SHOP_PRODUCT_SLIDE.ENTER_EMAIL" | translate }}</mat-label>
                      <input matInput type="email" [formControl]="reactiveForm.controls['UserEmail']"
                        (change)="userCheck()" name="userEmail">
                    </mat-form-field>
                  </div>

                </div>
                <div class="form-group row px-3 bdge_3">
                  <div class="col-md-12">
                    <p class="txt_default">{{"SHOP_PRODUCT_SLIDE.EMAIL_TEXT" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="isLogin; else noLogin">
              <div class="col-md-12">
                <div class="SI-FUID-Container review_order">
                  <div class="form-group align-items-center form-steps-header">
                    <div class="form_heading">
                      <div class="form-steps-number">
                        <h1><span class="badge">{{"SHOP_PRODUCT_SLIDE.FOUR" | translate }}</span></h1>
                      </div>
                      <div class="pl-3">
                        <h4>{{"SHOP_PRODUCT_SLIDE.REVIEW_CONFIRM_ORDER" | translate }}</h4>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="isUserLoggedID; then orderBalance else loginToOrder"></div>
                  <ng-template #loginToOrder>
                    <div class="form-group justify-content-center">
                      <p>{{"SHOP_PRODUCT_SLIDE.CLICK_TO_LOGIN" | translate }}</p>
                    </div>
                  </ng-template>
                  <ng-template #orderBalance>
                    <div class="form-group row bal_price px-3">
                      <div class="col-md-10 col-6">
                        <p>{{"SHOP_PRODUCT_SLIDE.CURRENT_BALANCE" | translate }}</p>
                      </div>
                      <div class="col-md-2 col-6 text-right">
                        <p *ngIf="!isInsuficientBalance">{{currentBalance | number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" |
                          translate }}</p>
                        <p class="insufficent_balance" *ngIf="isInsuficientBalance">{{currentBalance | number}}
                          {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate }}</p>
                      </div>
                    </div>

                    <div *ngIf="isTopUpSelected; then viewTopUpSelected else selectTopUp"></div>
                    <ng-template #viewTopUpSelected>
                      <div class="form-group row px-3 bal_price">
                        <div class="col-md-10 col-8">
                          <p>
                            {{selectedTopUp?.denomination_name}}
                          </p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                          <p *ngIf="!isDiscounted">
                            {{selectedTopUp?.denomination_coins | number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate
                            }}
                          </p>
                          <p *ngIf="isDiscounted">
                            {{selectedTopUp?.discountedPriceCoins | number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate
                            }}
                          </p>
                          <!-- <p *ngIf="isDiscounted">
                                                  {{selectedTopUp?.discounted_coins}} GC
                                              </p> -->
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #selectTopUp>
                      <div class="form-group row px-3">
                        <div class="col-md-12">
                          <p class="top-up_text">{{"SHOP_PRODUCT_SLIDE.SELECT_A_TOPUP_AMOUNT" | translate }}</p>
                        </div>
                      </div>
                    </ng-template>
                    <div class="form-group row px-3">
                      <div class="col">
                        <hr class="shop-item-divider" />
                      </div>
                    </div>

                    <!-- <div *ngIf="isInsuficientBalance; then reload "></div> -->
                    <ng-container *ngIf="isInsuficientBalance && isTopUpSelected">
                      <div class="form-group row px-3 review_form_insufbal">
                        <div class="col-7 px-3 mr-auto ">
                          <p>{{"SHOP_PRODUCT_SLIDE.INSUFFICIENT_BALANCE" | translate }}</p>
                        </div>
                        <div class="col-5 text-right">
                          <button type="button" class="button-img-primary float-right btn_reload"
                            (click)="showReloadPopup()">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M2 0V2H0V3.33333H2V5.33333H3.33333V3.33333H5.33333V2H3.33333V0H2ZM6 2V4H4V6H2V12.6667C2 13.0203 2.14048 13.3594 2.39052 13.6095C2.64057 13.8595 2.97971 14 3.33333 14H12.6667C13.4067 14 14 13.4067 14 12.6667V12H8C7.64638 12 7.30724 11.8595 7.05719 11.6095C6.80714 11.3594 6.66667 11.0203 6.66667 10.6667V5.33333C6.66667 4.97971 6.80714 4.64057 7.05719 4.39052C7.30724 4.14048 7.64638 4 8 4H14V3.33333C14 2.97971 13.8595 2.64057 13.6095 2.39052C13.3594 2.14048 13.0203 2 12.6667 2H6ZM8 5.33333V10.6667H14.6667V5.33333H8ZM10.6667 7C11.22 7 11.6667 7.44667 11.6667 8C11.6667 8.55333 11.22 9 10.6667 9C10.1133 9 9.66667 8.55333 9.66667 8C9.66667 7.44667 10.1133 7 10.6667 7Z"
                                fill="black" />
                            </svg>
                            {{"SHOP_PRODUCT_SLIDE.RELOAD" | translate }}
                          </button>

                        </div>
                      </div>
                    </ng-container>
                    <ng-container>
                      <div class="form-group row px-3">
                        <div class="col-md-10 col-8" *ngIf="!isInsuficientBalance">{{"SHOP_PRODUCT_SLIDE.NEW_BALANCE" |
                          translate }}</div>
                        <div class="col-md-2 col-4 text-right" *ngIf="isTopUpSelected && !isInsuficientBalance"
                          [ngClass]="{ 'insuficient-balance-red': isInsuficientBalance}">
                          <p>{{newBalance | number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate }}</p>
                        </div>
                        <div class="col-md-2 text-right" *ngIf="!isTopUpSelected">
                          ---
                        </div>
                      </div>
                    </ng-container>
                  </ng-template>
                  <div class="form-group row px-3 justify-content-center">
                    <div class="col-md-12">
                      <button type="button" [disabled]="reactiveForm.invalid" (click)="onNext()"
                        class="button-primary w-100 btn_buynow">
                        {{"SHOP_PRODUCT_SLIDE.BUY_NOW" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #noLogin>
              <div class="col-md-12">
                <div class="SI-FUID-Container review_order">
                  <div class="form-group align-items-center form-steps-header">
                    <div class="form_heading">
                      <div class="form-steps-number">
                        <h1><span class="badge">{{"SHOP_PRODUCT_SLIDE.FOUR" | translate }}</span></h1>
                      </div>
                      <div class="pl-3">
                        <h4>{{"SHOP_PRODUCT_SLIDE.REVIEW_CONFIRM_ORDER" | translate }}</h4>
                      </div>
                    </div>
                  </div>
                  <div class="form-group justify-content-center">
                    <span class="text-center login-text">
                      <a [routerLink]="[AppHtmlRoutes?.home]">{{"SHOP_PRODUCT_SLIDE.CLICK_TO_LOGIN1" | translate }}</a>
                      {{"SHOP_PRODUCT_SLIDE.CLICK_TO_LOGIN2" | translate }}
                    </span>
                  </div>
                  <div class="form-group row px-3 justify-content-center">
                    <div class="col-md-12">
                      <button type="button" [disabled]="true" class="button-primary w-100 btn_buynow">
                        {{"SHOP_PRODUCT_SLIDE.BUY_NOW" | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </form>
        </div>
      </ng-template>

      <!-- Purchase successfull -->
      <ng-template [ngIf]="isPurchaseSuccessful">
        <div>
          <app-purchase-successful [type]="purchaseResponseType" [shopItem]="purchaseResponse">
          </app-purchase-successful>
        </div>
      </ng-template>

      <!-- Purchase unsuccessfull -->
      <ng-template [ngIf]="isPurchaseUnSuccessful && !isPurchaseSuccessful">
        <div>
          <app-purchase-un-successful></app-purchase-un-successful>
        </div>
      </ng-template>
    </div>
  </div>
</div>




<div id="purchaseConfirmationModal" class="modal purchase_confirm_modal" data-backdrop="static" tabindex="-1"
  aria-labelledby="purchaseConfirmationModalLabel" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content purchase-confirmation-popup">
      <div class="header_mob">
        <div class="ac-header-container d-flex align-items-center">
          <div class="mob_game_icon">
            <img class="game_icon" src="assets/images/GGicon-green.png" alt="geng game icon" />
          </div>
          <h5 class="SettingsLightbox-title">{{ "HEADERS.RELOAD" | translate }}</h5>
        </div>
        <button type="button" class="close btn_close_mobile" (click)="close()" aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-header p-0 border-0">
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <div class="heading">
          <h6>{{"SHOP_PRODUCT_SLIDE.CONFIRM_PURCHASE" | translate }}</h6>
          <!-- <p>{{"SHOP_PRODUCT_SLIDE.ARE_YOU_SURE" | translate }}<br>{{"SHOP_PRODUCT_SLIDE.PLEASE_CONFIRM_INFO" |
            translate }}</p> -->
        </div>
        <!-- <hr class="mt-2 mb-4 shop-item-divider"> -->
        <div class="main_content">
          <div class="row my-2" *ngIf="isUserid">
            <div class="col-5 text-muted">
              <div class="purchase_text">
                <span>{{"SHOP_PRODUCT_SLIDE.GAME_USER_ID" | translate }}</span>
              </div>
            </div>
            <div class="col-7">
              <div class="purchase_value">
                <span>{{reactiveForm.controls['userid']?.value}}<span *ngIf="isServer">({{serverName}})</span><span
                    *ngIf="isZoneid">({{reactiveForm.controls['zoneid']?.value}})</span></span>
              </div>
            </div>
          </div>
          <!-- <div class="row my-2" *ngIf="isServer">
            <div class="col-5 pl-0 text-muted">
              <div class="purchase_text">
                <span>{{"SHOP_PRODUCT_SLIDE.GAME_SERVER_ID" | translate }}</span>
              </div>
            </div>
            <div class="col-7 pr-0">
              <div class="purchase_value">
                <span>{{serverName}}</span>
              </div>
            </div>
          </div> -->
          <!-- <div class="row my-2" *ngIf="isZoneid">
            <div class="col-5 pl-0 text-muted">
              <div class="purchase_text">
                <span>{{"SHOP_PRODUCT_SLIDE.GAME_ZONE_ID" | translate }}</span>
              </div>
            </div>
            <div class="col-7 pr-0">
              <div class="purchase_value">
                <span>{{reactiveForm.controls['zoneid']?.value}}</span>
              </div>
            </div>
          </div> -->
          <div class="row my-2" *ngIf="isUsername">
            <div class="col-5 text-muted">
              <div class="purchase_text">
                <span>{{"SHOP_PRODUCT_SLIDE.USERNAME" | translate }}</span>
              </div>
            </div>
            <div class="col-7">
              <div class="purchase_value">
                <span>{{reactiveForm.controls['Username']?.value}}</span>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-5 text-muted">
              <div class="purchase_text">
                <span>{{"SHOP_PRODUCT_SLIDE.PURCHASE_ITEM" | translate }}</span>
              </div>
            </div>
            <div class="col-7">
              <div class="purchase_value">
                <span>{{selectedTopUp?.denomination_name}}</span>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-5 text-muted">
              <div class="purchase_text">
                <span>{{"SHOP_PRODUCT_SLIDE.PRICE_IN_GEN_COINS" | translate }}</span>
              </div>
            </div>
            <div class="col-7">
              <div class="purchase_value">
                <span *ngIf="!isDiscounted">
                  {{selectedTopUp?.denomination_coins | number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate }}
                </span>
                <span *ngIf="isDiscounted">
                  <s class="text-muted">{{selectedTopUp?.denomination_coins | number}}</s>
                  {{selectedTopUp?.discountedPriceCoins | number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate }}
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="isDiscounted" class="row my-2">
            <div class="col-5 text-muted">
              <div class="purchase_text">
                <span>{{"PURCHASE_SUCCESSFUL.GENG_COINS_SAVED" | translate }}</span>
              </div>
            </div>
            <div class="col-7">
              <div class="purchase_value">
                <span>
                  {{selectedTopUp?.discounted_coins | number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate }}
                </span>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-5 text-muted">
              <div class="purchase_text">
                <span>{{"SHOP_PRODUCT_SLIDE.EMAIL" | translate }}:</span>
              </div>
            </div>
            <div class="col-7">
              <div class="purchase_value">
                <span>{{this.reactiveForm.value?.UserEmail}}</span>
              </div>
            </div>
          </div>
          <ng-container *ngIf="productVerifyDetails?.message">
            <div>
              <hr class="mt-2 mb-4 shop-item-divider">
              <div class="heading">
                <p>{{productVerifyDetails?.message}} dsfdfdfd</p>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!productVerifyDetails?.message">
            <div *ngIf="selectedTopUp?.isDiscounted">
              <hr class="mt-2 mb-4 shop-item-divider">
              <div class="heading">
                <p>{{"SHOP_PRODUCT_SLIDE.GREATE_TEXT" | translate }}
                </p>
              </div>
            </div>
            <div *ngIf="selectedTopUp?.isCashback">
              <hr class="mt-2 mb-4 shop-item-divider">
              <div class="heading">
                <p>{{"SHOP_PRODUCT_SLIDE.GREATE_NEWS" | translate }}
                </p>
              </div>
              <div class="main_content">
                <div class="row my-2">
                  <div class="col-5 text-muted">
                    <div class="purchase_text">
                      <span>{{"SHOP_PRODUCT_SLIDE.CASHBACK_AMOUNT" | translate }}</span>
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="purchase_value">
                      <span>{{selectedTopUp?.cashback_coins|number }} {{"SHOP_PRODUCT_SLIDE.GC_TOTAL" | translate
                        }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="row pt-5">
            <div class="col-12 mb-3">
              <button type="button" class="button-primary btn_purchase w-100" data-dismiss="modal"
                (click)="confirmPurchase()">{{"SHOP_PRODUCT_SLIDE.BUY_NOW" | translate }}</button>
            </div>
            <div class="col-12">
              <button type="button" class="button-secondary btn_cancel w-100 justify-content-center"
                (click)="close()">{{"SHOP_PRODUCT_SLIDE.CANCEL" | translate }}</button>
            </div>
          </div>
        </div>
        <ng-container *ngIf="selectedTopUp?.isCashback">
          <div class="countdown_session">
            {{"SHOP_PRODUCT_SLIDE.SESSION_EXPIRING" |translate}}:
            <countdown class="session_timer" *ngIf="isStartTime" [config]="{ leftTime: leftTime, format: 'm:s' }"
              (event)="closePopupOnTimeout($event)"></countdown>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</div>


<div id="purchaseExpireModal" class="modal expire_modal" data-backdrop="static" tabindex="-1"
  aria-labelledby="purchaseConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content purchase-confirmation-popup">
      <!-- <div class="header_mob">
        <div class="ac-header-container d-flex align-items-center">
          <div class="mob_game_icon">
            <img class="game_icon" src="assets/images/GGicon-green.png" alt="geng game icon" />
          </div>
          <h5 class="SettingsLightbox-title">{{ "HEADERS.RELOAD" | translate }}</h5>
        </div>
        <button type="button" class="close btn_close_mobile" data-dismiss="modal" aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
      </div> -->
      <div class="modal-header model_header">
        <h4 class="modal-title modal_title" id="modal-basic-title">Session expired</h4>
        <button type="button" class="close btnmodel_close" (click)="closePurchaseExpireModal()">
          <img src="assets/wallet/modal_close_cross.svg" class="img-fluid" />
        </button>
      </div>
      <!-- <div class="modal-header p-0 border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <mat-icon>close</mat-icon>
        </button>
      </div> -->
      <div class="modal-body">
        <div class="error_icon">
          <img src="assets/icons/icon_expired.svg" class="img-fluid" />
        </div>
        <p>{{"SHOP_PRODUCT_SLIDE.TRY_AGAIN_MSG" |translate}}</p>
        <button type="button" (click)="closePurchaseExpireModal()"
          class=" button-primary">{{"SHOP_PRODUCT_SLIDE.TRY_AGAIN" |translate}}</button>
      </div>
    </div>
  </div>
</div>

<div id="reloadModal" class="modal" data-backdrop="static" tabindex="-1" aria-labelledby="reloadModalLabel"
  aria-hidden="true">
  <div class="modal-header model_header">
    <h4 class="modal-title modal_title" id="modal-basic-title">{{"SHOP_PRODUCT_SLIDE.RELOAD_MODEL_HEADER" | translate }}
    </h4>
    <button type="button" class="close" aria-label="Close" data-dismiss="modal">
      <span aria-hidden="true" class="model_close">&times;</span>
    </button>
  </div>
  <div class="modal-body modal_body">
    <div>
      <div class="select_top_up_amount fontfamily">
        {{"SHOP_PRODUCT_SLIDE.SELECT_TOPUP_AMOUNT" | translate }}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-12" *ngFor="let reload of reloadOptions;">
        <div class="select_top_up_amount-card">
          <div class="select_top_up_amount-prize fontfamily">
            {{"TRANSACTIONS.RELOAD_VIEW.RM" | translate }} {{reload?.rm}}
          </div>
          <div class="select_top_up_amount-coins fontfamily">
            {{reload?.gc}} {{"TRANSACTIONS.RELOAD_VIEW.GC" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="select_top_up_amount-box">
      <div class="select_top_up_amount fontfamily">
        {{"SHOP_PRODUCT_SLIDE.SELECT_RELOAD_METHOD" | translate }}
      </div>
    </div>
    <div *ngFor="let M of datafortopupmethod">
      <div class="topup-method-row-first" *ngIf="M?.selectflag == false && M?.paymentMethod == 'Credit/Debit card'">
        <div class="topup-method-item">
          <div class="topup-method-item-icon">
            <img class="Header-logo topup-method-item-logo" src="assets/wallet/g_card.png" alt="logo" />
          </div>
          <div class="topup-method-item-info">
            <div class="topup-method-item-info-label fontfamily">
              {{M?.paymentMethod}}
            </div>
          </div>
        </div>
      </div>
      <div class="topup-method-row-first1" *ngIf="M?.selectflag == true && M?.paymentMethod == 'Credit/Debit card'">
        <div class="topup-method-item">
          <div class="topup-method-item-icon">
            <img class="Header-logo topup-method-item-logo" src="assets/wallet/card.png" alt="logo" />
          </div>
          <div class="topup-method-item-info">
            <div class="topup-method-item-info-label1 fontfamily">
              {{M?.paymentMethod}}
            </div>
          </div>
        </div>
      </div>
      <div class="topup-method-row-first" *ngIf="M?.selectflag == false && M?.paymentMethod == 'Online banking'">
        <div class="topup-method-item">
          <div class="topup-method-item-icon">
            <img class="Header-logo topup-method-item-logo" src="assets/wallet/bank_unselect.png" alt="logo" />
          </div>
          <div class="topup-method-item-info">
            <div class="topup-method-item-info-label fontfamily">
              {{M?.paymentMethod}}
            </div>
          </div>
        </div>
      </div>
      <div class="topup-method-row-first1" *ngIf="M?.selectflag == true && M?.paymentMethod == 'Online banking'">
        <div class="topup-method-item">
          <div class="topup-method-item-icon">
            <img class="Header-logo topup-method-item-logo" src="assets/wallet/bank_unselect.png" alt="logo" />
          </div>
          <div class="topup-method-item-info">
            <div class="topup-method-item-info-label1 fontfamily">
              {{M?.paymentMethod}}
            </div>
          </div>
        </div>
      </div>
      <div class="topup-method-row-first payment_dcb" *ngIf="M?.selectflag == false && M?.paymentMethod == 'DCB'">
        <div class="topup-method-item">
          <div class="topup-method-item-icon">
            <img class="Header-logo topup-method-item-logo" src="assets/wallet/mdi_cellphone.png" alt="logo" />
          </div>
          <div class="topup-method-item-info">
            <div class="topup-method-item-info-label fontfamily">
              {{"SHOP_PRODUCT_SLIDE.PAY_WITH_MAXIS" | translate }}
            </div>
            <div class="topup-method-item-info-text">
              {{"SHOP_PRODUCT_SLIDE.CREDIT_TO_BILL" | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>


    <hr class="line">
    <div class="select_top_up_amount-box">
      <div class="top-up-bottom">
        <span class="top-up-bottom-text fontfamily">
          <img class="Header-logo imgstylefortable1" src="./assets/wallet/wallet_topup.png" alt="logo" />
          {{"SHOP_PRODUCT_SLIDE.RELOADLOWER" | translate }}</span>
      </div>
    </div>
  </div>
</div>
<app-fullscreen-loading *ngIf="isLoaded"></app-fullscreen-loading>
