<div class="FeaturedContent">
  <!-- <header class="FeaturedContent-header">
    <h2 class="FeaturedContent-header-title">
      {{ "ARTICLE_MAIN.MORE_ARTICLES" | translate }}
    </h2>
    <a class="FeaturedContent-header-link global-link-right" routerLink="/content/more/all-post">
      {{ "BUTTON.EXPLORE_ALL" | translate }}
    </a>
  </header> -->

  <!-- FIRST CARDS FLOOR -->
  <!-- <div *ngIf="trendingNews.length" class="FeaturedContent-floor primary">
    <div class="FeaturedContent-card card u-dfStartEnd" *ngFor="let card of trendingNews.slice(0, 2)"
      [routerLink]="[AppHtmlRoutes.article, card?.slug]" [lazyLoad]="card?.image">
      <div class="FeaturedContent-card-details">
        <div class="FeaturedContent-card-about card-about">
          <h3 class="FeaturedContent-card-title card-title global-Elipses2">
            {{ card?.title?.english }}
          </h3>

          <p class="FeaturedContent-card-text card-text global-Elipses">
            By {{ card?.authorDetails?.fullName }} •
            {{ card?.createdDate | date: "dd MMMM, yyyy" }}
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!--  SECOND CARDS FLOOR -->
  <div class="FeaturedContent-floor secondary" *ngIf="trendingNews.length > 2">
    <div class="FeaturedContent-card" *ngFor="let card of trendingNews"
      [routerLink]="[AppHtmlRoutes.article, card?.slug]">
      <div class="FeaturedContent-card-image" [lazyLoad]="card?.image"></div>
      <div class="FeaturedContent-card-details">
        <!-- <img class="FeaturedContent-card-icon" [src]="getArticleIconByType(card.type)" alt="icon" /> -->
        <div class="FeaturedContent-card-about">
          <h3 class="FeaturedContent-card-title card-title global-Elipses">
            {{ card?.title?.english }}
          </h3>
          <p class="FeaturedContent-card-text card-text global-Elipses">
            Veronica Brauer
            {{ card?.authorDetails?.fullName }}
            <span class="speach"> • </span>
            {{ card?.createdDate | date: "MMMM d, y" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>