<div class="u-wp">
  <div class="row">
    <div class="col-md-12 col-12">
      <!-- table start -->
      <div class="balance_maincontent" *ngIf="tableFlag== true">
        <h1 class="header_style">Transactions</h1>
        <div class="transcation_tab_heading">
          <div (click)="getPurchaseTransactions(1,10)" class="inner_tab_name2"
            [ngStyle]="{'color':isPurchasesTab ? '#FFFFFFDE' : '#FFFFFF61', 'border-bottom': isPurchasesTab ? '2px solid #00FA00' : ''}">
            {{ "TRANSACTIONS.PURCHASES"| translate }}
          </div>
          <div (click)="getReloadTransactions(1,10)" class="inner_tab_name1"
            [ngStyle]="{'color':isReloadTab ? '#FFFFFFDE' : '#FFFFFF61', 'border-bottom': isReloadTab ? '2px solid #00FA00' : ''}">
            {{ "TRANSACTIONS.RELOADS" | translate }}
          </div>

        </div>
        <div *ngIf="isReloadTab">
          <div class="table-responsive">
            <app-reload-list [showalldata]=showAllData (newItemEvent)="addItem($event)" class="cssforapp">
            </app-reload-list>
          </div>
          <div *ngIf="showAllData.length == 0" class="no_record_found">
            {{ "TRANSACTIONS.NO_RECORDS_FOUND" | translate }}
          </div>
          <div class="stmsg_parent d-flex justify-content-between">
            <div class="stmsg d-flex align-items-center">
              <p class="text-muted">*{{ "USER.SSTMSG" | translate }}</p>
            </div>
            <mat-paginator *ngIf="showAllData.length != 0" [length]="totalRecorders" [pageSize]="10"
              [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
          </div>
        </div>
        <div *ngIf="isPurchasesTab">
          <div class="table-responsive">
            <app-purchase-list [showalldataPurchase]="showAllDataPurchase" (newItemEvent)="addItem1($event)"
              class="cssforapp"></app-purchase-list>
          </div>
          <mat-paginator *ngIf="showAllDataPurchase.length != 0" [length]="totalRecorders" [pageSize]="10"
            [pageSizeOptions]="pageSizeOptions" (page)="onPageChange1($event)"></mat-paginator>
          <div *ngIf="showAllDataPurchase.length == 0" class="no_record_found">
            {{ "TRANSACTIONS.NO_RECORDS_FOUND" | translate }}
          </div>
        </div>
      </div>
      <!-- table end -->
      <!-- view start -->
      <div class="balance_maincontent" *ngIf="viewReload && !viewPurchase">
        <div class="btn_back">
          <button class="button-icon-secondary" (click)="back()">
            <mat-icon>arrow_back</mat-icon>{{ "TRANSACTIONS.BACK" | translate }}
          </button>
        </div>
        <app-reload-view [showdata]="showData" class="cssforapp"></app-reload-view>
      </div>
      <div class="balance_maincontent" *ngIf="viewPurchase && !viewReload">
        <div class="btn_back">
          <button class="button-icon-secondary" (click)="back()">
            <mat-icon>arrow_back</mat-icon> {{ "TRANSACTIONS.BACK" | translate }}
          </button>
        </div>
        <app-purchase-view [showdata]="showData" class="cssforapp"></app-purchase-view>
      </div>
      <!-- view end -->
    </div>
  </div>
</div>

<app-fullscreen-loading *ngIf="!isLoaded"></app-fullscreen-loading>
