<form [formGroup]="form" (submit)="onSubmitEvent()" class="SubmitForm test1">
  <div class="LogReg-title">{{ data.title | translate }}</div>

  <div class="LogReg-subtitle">{{ data.subtitle | translate }}</div>

  <div class="LogReg-error" *ngIf="data.error">
    {{ data.error | uppercase | translate }}
  </div>

  <ng-container *ngIf="data.InputType === 'phone'; else notPhone">
    <div class="mesf-intlTel">
      <ngx-intl-tel-input
        [inputId]="'firstInput'"
        [preferredCountries]="preferredCountries"
        [searchCountryField]="[SearchCountryField.All]"
        [selectedCountryISO]="CountryISO.Malaysia"
        [maxLength]="15"
        [enableAutoCountrySelect]="true"
        [selectFirstCountry]="false"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [separateDialCode]="true"
        [phoneValidation]="true"
        name="firstInput"
        formControlName="firstInput"
      >
      </ngx-intl-tel-input>
      <span
        class="mesf-intlTel-rightText"
        *ngIf="activeTypeValue === AppHtmlRoutesLoginType.forgotPass"
        (click)="changeInput(data.InputType)"
        >{{ "LOG_REG.FORGOT.FORGOT_BY_EMAIL" | translate }}</span
      >
      <mat-error
        class="error-font-size"
        *ngIf="
          form.get('firstInput').touched &&
          form.get('firstInput').hasError('required')
        "
        >{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
      >
      <mat-error
        class="error-font-size"
        *ngIf="form.get('firstInput').hasError('validatePhoneNumber')"
        >{{ "LOG_REG.LOGIN.VALIDATION1" | translate }}</mat-error
      >
    </div>
  </ng-container>

  <ng-template #notPhone>
    <mat-form-field
      class="mesf-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>{{ data.InputPlaceholder | translate }}</mat-label>
      <input formControlName="firstInput" matInput [type]="data.InputType" />
      <button matSuffix mat-button>
        <span class="material-icons">{{ data.InputIcon }}</span>
      </button>
      <span
        *ngIf="activeTypeValue === AppHtmlRoutesLoginType.forgotPass"
        class="mesf-MatInputOutline-hint"
        (click)="changeInput(data.InputType)"
        >{{ "LOG_REG.FORGOT.FORGOT_BY_PHONE" | translate }}</span
      >
      <mat-error *ngIf="form.get('firstInput').hasError('required')">{{
        "LOG_REG.LOGIN.REQUIRED" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('firstInput').hasError('email')">{{
        "LOG_REG.LOGIN.VALIDATION2" | translate
      }}</mat-error>
    </mat-form-field>
  </ng-template>

  <div class="SubmitForm-submit">
    <button
      type="submit"
      [class.is-edit]="form.invalid"
      [disabled]="form.invalid"
      class="mesf-EditBtn is-sm"
    >
      {{ data.submitBtn | translate }}
    </button>
  </div>
</form>
