<app-manageteam-header></app-manageteam-header>
<div class="tools">
  <h2>{{ "tools.Manage_tools" | translate }}</h2>
</div>
<div class="Photo-fields-item-country country">
  <mat-form-field class="global-MatField" appearance="outline">
    <mat-label>
      {{ "tools.TE" | translate }}
    </mat-label>
    <mat-select>
      <mat-option value="Participant requests">{{
        "tools.TE" | translate
      }}</mat-option>
      <mat-option value="Participant requests">{{
        "drop.Participant_requests" | translate
      }}</mat-option>
      <mat-option value="Participant requests">{{
        "tools.Brackets" | translate
      }}</mat-option>
      <!-- <mat-option value="Participant requests">{{
        "tools.user_reports" | translate
      }}</mat-option>
      <mat-option value="Participant requests">{{
        "tools.Discussion" | translate
      }}</mat-option>
      <mat-option value="Participant requests">{{
        "tools.Notifications" | translate
      }}</mat-option>
      <mat-option value="Participant requests">{{
        "tools.scoring" | translate
      }}</mat-option> -->
    </mat-select>
  </mat-form-field>
  <hr class="border">
</div>  
<header class="AddMember-header">
  <button class="button-icon-secondary" routerBack>
    <mat-icon> arrow_back </mat-icon>
    <span>
      {{ "BUTTON.BACK" | translate }}
    </span></button
  ><br />
</header>

<section class="MyTeams-control">
  <h3 class="AddMember-title title">
    {{ "MANAGE_TEAM.ADD_MEMBER.ADD_NEW_MEMBER" | translate | uppercase }}
  </h3>
  <div class="AddMember-participants">
    <div class="AddMember-participants-players">
      <app-search-players
      [members]="members"
        [listTitle]="'CREATE_TOURNAMENT.DETAILS.PARTICIPANTS.SEARCH_RESULTS'"
        (submitData)="submitData($event)"
      ></app-search-players>
    </div>

    <div class="AddMember-participants-invite">
      <app-input-invite (emitValue)="emitValue($event)"></app-input-invite>
    </div>
  </div>
  <br />

  <button class="button-icon-secondary" (click)="submit()">
    <b style="color: white">{{ "BUTTON.SUBMIT" | translate }}</b>
  </button>
</section>
