<div class="Custom-Streaming">
  <div class="Custom-Streaming-Loader" [hidden]="!customStreamLoader">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
  <video
    #playbackVideo
    id="playbackVideo"
    playsinline
    class="Custom-Streaming-Video"
  ></video>
  <div class="Custom-Streaming-Icons">
    <fa-icon
      [icon]="['fas', 'play']"
      (click)="startStreaming('playbackVideo', channelName)"
      matTooltip="{{ 'MANAGE_TOURNAMENT.STREAM.TOOLTIP.START' | translate }}"
      class="Custom-Streaming-Icon"
    ></fa-icon>
    <fa-icon
      [icon]="['fas', 'stop']"
      (click)="stopStreaming()"
      matTooltip="{{ 'MANAGE_TOURNAMENT.STREAM.TOOLTIP.STOP' | translate }}"
      class="Custom-Streaming-Icon"
    ></fa-icon>
    <fa-icon
      [icon]="['fas', 'expand']"
      (click)="fullScreenStreaming()"
      matTooltip="{{
        'MANAGE_TOURNAMENT.STREAM.TOOLTIP.FULL_SCREEN' | translate
      }}"
      class="Custom-Streaming-Icon"
    ></fa-icon>
  </div>
</div>
