<div class="InputInvite">
  <label for="" class="form-label">
    {{ "CREATE_TOURNAMENT.COMPLETED.FORM.INVITE_EMIAL_LABEL" | translate }}
  </label>

  <div class="InputInvite-field-block input-group">
    <!-- <mat-icon class="InputInvite-field-icon email"> email </mat-icon> -->
    <span class="icon">
      <img
        src="../../../../../assets/icons/create-tournament/Icon-Mail.png"
        alt=""
      />
    </span>
    <input
      class="InputInvite-field input-field"
      type="email"
      [(ngModel)]="email"
      [placeholder]="
        'CREATE_TOURNAMENT.COMPONENTS.INPUT_INVITE.PLACEHOLDER' | translate
      "
    />
    <!-- <mat-icon (click)="onChangeValue()" class="InputInvite-field-icon send">
      send
    </mat-icon> -->
  </div>
  <div class="box-btn">
    <button (click)="onChangeValue()" type="button" class="btn btn-send">
      {{ "CREATE_TOURNAMENT.COMPLETED.FORM.BUTTON_ADD_EMAIL" | translate }}
    </button>
  </div>
</div>
