<mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
  <mat-label>
    {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.DATE" | translate }}
  </mat-label>

  <input matInput [matDatepicker]="picker" />

  <mat-datepicker #picker disabled="false"></mat-datepicker>

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
</mat-form-field>
