#register-section {
  background: var(--login-bg-image);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3em 0em;
  width: 100%;
  min-height: 100vh;
  color: var(--whitecolor);
  font-family: "dynasty-primary-regular";
}
.logo {
  width: 22%;
}
.error {
  float: left;
}
.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.second-form {
  input {
    width: 45px;
    height: 45px;
    background: transparent;
    padding: 0;
    margin-right: 25px;
    text-align: center;
    border: 1px solid var(--whitecolor);
    border-radius: 5px;
    color: var(--whitecolor);
    &:last-child {
      margin-right: 0;
    }
  }
}
.resend {
  color: var(--errorcolor) !important;
  text-transform: uppercase;
}
.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 11px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  left: 0;
}
.register-row {
  width: 65%;
  margin: 0 auto;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  top: 10px;
  background: var(--login-input-onfocus-bg-color);
  left: 9px;
  padding: 0px 3px;
  font-size: 1em;
}
.usericon {
  position: absolute;
  top: 11px;
  right: 8px;
  color: var(--whitecolor);
}
.form-control {
  background: transparent;
  color: var(--whitecolor);
  border-color: var(--login-input-border-color);
  border-radius: 6px;
  opacity: 0.6;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.form-control:focus + .user-color {
  color: var(--errorcolor) !important;
}
.form-control:focus + .mail {
  display: none;
}

.link-img {
  padding: 0rem 0.9rem;
  img {
    width: 30px;
  }
}
.col6 {
  margin-top: 3rem;
}
.regis-red-color {
  color: var(--errorcolor);
  text-transform: uppercase;
  font-family: "dynasty-primary-large";
}
.wel-text {
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-family: "dynasty-primary-semibold";
}
.wel-text1 {
  padding-bottom: 1.5rem;
  font-style: normal;
}
.red-color {
  color: var(--errorcolor);
}

.mr-top {
  margin-top: 2rem;
}

.padd-congr {
  padding: 3rem;
}
.home-btn-right {
  margin-right: 3rem;
}
.div-keep-me {
  margin-bottom: 2rem;
}

// mobile responsive
@media (max-width: 992px) {
  #register-section {
    padding: 1.9em 0em;
  }
  .btn {
    width: auto;
  }
  .col6 {
    margin-top: 0rem;
  }
  .register-row {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #register-section {
    background-size: cover;
    padding: 1em 0em;
    background-position: right;
  }
  .logo {
    width: 30%;
  }
}
@media (max-width: 320px) {
  .float-left,
  .float-right {
    font-size: 12px;
  }
  .form-group p {
    font-size: 12px;
  }
}
