@import "shared";

:host {
  display: block;
}

.PopupCreated {
  @extend %u-dfStart;
  max-width: 577px;
  background-color: var(--color-midnight-express);
  padding: 48px;
  padding-right: 70px;

  @include xl {
    max-width: px2vw-xl(577px);
    padding: px2vw-xl(48px);
    padding-right: px2vw-xl(70px);
  }

  @include lg {
    max-width: px2vw-lg(577px);
    padding: px2vw-lg(48px);
    padding-right: px2vw-lg(70px);
  }

  @include md {
    max-width: px2vw-md(577px);
    padding: px2vw-md(48px);
    padding-right: px2vw-md(70px);
  }

  @include sm {
    max-width: px2vw-sm(577px);
    padding: px2vw-sm(48px);
    padding-right: px2vw-sm(70px);
  }

  &-icon {
    margin-right: 10px;
    flex-shrink: 0;
    height: auto;
    width: auto;
    font-size: 24px;
    color: var(--color-primary);

    @include xl {
      margin-right: px2vw-xl(10px);
      font-size: px2vw-xl(24px);
    }

    @include lg {
      margin-right: px2vw-lg(10px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(10px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
      font-size: px2vw-sm(24px);
    }
  }

  &-info-title {
    @extend %global-H5;
    margin-bottom: 16px;
    color: var(--white);

    @include xl {
      margin-bottom: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-info-text {
    @extend %body-2;
    margin-bottom: 24px;
    color: var(--white-medium);

    @include xl {
      margin-bottom: px2vw-lg(24px);
    }

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }
}
