@import "shared";

.Report-Score {
  padding: 0 px2vw-xl(40px) px2vw-xl(40px) px2vw-xl(40px);

  @include lg {
    padding: 0 px2vw-lg(40px) px2vw-lg(40px) px2vw-lg(40px);
  }

  @include md {
    padding: 0 px2vw-md(40px) px2vw-md(40px) px2vw-md(40px);
  }

  @include sm {
    padding: 0 px2vw-sm(40px) px2vw-sm(40px) px2vw-sm(40px);
  }

  &-Header {
    @extend .u-dfCenter;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
  }

  &-Body {
    background: var(--base-white) 0% 0% no-repeat padding-box;
    overflow: auto;

    @include lg {
      padding: px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(10px);
    }
  }

  &-Table {
    display: flex;
    // justify-content: center;
    overflow-x: scroll;
    padding-bottom: px2vw-xl(30px);

    @include lg {
      padding-bottom: px2vw-lg(30px);
    }

    @include md {
      padding-bottom: px2vw-md(30px);
    }

    @include sm {
      padding-bottom: px2vw-md(30px);
    }
  }

  &-Disqualify {
    margin-top: px2vw-xl(30px);
    text-align: center;

    @include lg {
      margin-top: px2vw-lg(30px);
    }

    @include md {
      margin-top: px2vw-md(30px);
    }

    @include sm {
      margin-top: px2vw-sm(30px);
    }
  }

  &-Disqualify-Text {
    @extend .global-Text;
  }

  &-Disqualify-Table {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  &-Disqualify-Table-Cell {
    border: 1px solid var(--base-gainsboro);

    button {
      margin-top: px2vw-xl(6px);

      @include lg {
        margin-top: px2vw-lg(6px);
      }
      @include md {
        margin-top: px2vw-md(6px);
      }
      @include sm {
        margin-top: px2vw-sm(6px);
      }
    }
  }

  &-Drop-Down {
    font-size: px2vw-xl(25px);
    border: 0;
    text-overflow: ellipsis;
    @include lg {
      font-size: px2vw-lg(25px);
    }
    @include md {
      font-size: px2vw-md(25px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
    }
  }

  &-Footer {
    text-align: right;
    margin-top: 15px;
  }
}

.Report-Issue {
  margin: 0 0.75rem;

  &-Button {
    display: flex;
    align-items: center;
    background-color: var(--dark-red);
    padding: 8px 16px;
    border-radius: 5px;
    @include sm {
      padding: 5px 5px;
      width: px2vw-sm(280px);
    }
  }
  &-Button-chat {
    display: flex;
    align-items: center;
    background-color: var(--primary-cinnabar);
    padding: 8px 53px;
    border-radius: 5px;
    @include sm {
      padding: 5px 5px;
      width: px2vw-sm(280px);
    }
  }

  &-Text {
    margin-right: 10px;
    color: var(--base-white);
    @include sm {
      font-size: px2vw-sm(20px);
    }
  }
}

::ng-deep {
  lib-esportschatwindow {
    .Chat-Icon {
      @extend .Report-Issue-Button !optional;
      background-color: var(--primary-sunset-light);
      img {
        color: var(--base-white);
        height: 20px;
      }
    }

    .Chat-Text {
      color: var(--base-white);
      margin-left: 10px;
    }
  }

  lib-esportschatlog {
    .Chat-Log {
      margin-right: 10px;
      @extend .Report-Issue-Button !optional;
      background-color: var(--dark-red);
      color: var(--base-white);
      padding: 10px 16px;
      min-width: 130px;
      max-width: 133px;
    }
  }
}

.Resultlog {
  margin-right: 10px;
  background-color: var(--dark-red);
  color: var(--base-white);
  padding: 10px 16px;
  border-radius: 5px;
  min-width: 130px;
  &-back {
    background-color: var(--base-white);
    color: var(--base-black-pearl);
  }
}

.chat-icon-margin {
  margin: 0 10px;
}

::ng-deep {
  .material-icons {
    font-size: 22px;
  }
}

.Report-Score-Header{
  overflow-x:visible;
}