<header class="Overview-header">
  <h1 class="Overview-header-title">
    {{ "VIEW_TOURNAMENT.OVERVIEW.TITLE" | translate }}
  </h1>
  <!-- <p class="Overview-header-subtitle">
    TOURNAMENT STATUS
  </p> -->
</header>
<div class="Overview-Summary">
  <div class="lists">
    <div class="item">
      <div
        class="icon"
        inlineSVG="assets/icons/view-tournament/attach_money.svg"
      ></div>
      <h4 class="title">
        {{
          "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.ENTRANCE_FEE_LABEL"
            | translate
        }}
      </h4>
      <p class="subtitle">
        {{
          tournamentDetails?.EntranceFee ? tournamentDetails?.EntranceFee : "0"
        }}
      </p>
    </div>
    <div class="item">
      <div
        class="icon"
        inlineSVG="assets/icons/view-tournament/Benefits.svg"
      ></div>
      <h4 class="title">
        {{ "ADMIN.SEASON_MANAGEMENT.TABLE_HEADER.PRIZE" | translate }}
      </h4>
      <p class="subtitle">
        {{ tournamentDetails?.Prize ? tournamentDetails?.Prize : "0" }}
      </p>
    </div>
    <div class="item">
      <div
        class="icon"
        inlineSVG="assets/icons/view-tournament/DeviceHuge.svg"
      ></div>
      <h4 class="title">
        {{ "ADMIN.SEASON_MANAGEMENT.TABLE_HEADER.PLATFORM" | translate }}
      </h4>
      <p class="subtitle">{{ getPlatformName(tournamentDetails?.platform) }}</p>
    </div>
    <div class="item">
      <div
        class="icon"
        inlineSVG="assets/icons/view-tournament/Clock.svg"
      ></div>
      <h4 class="title">{{ "PLAY.SLIDER.CHECK_IN" | translate }}</h4>
      <p class="subtitle">{{ (tournamentDetails && tournamentDetails.checkInStartDate) ? (tournamentDetails?.checkInStartDate | date: "MMM d, y, h:mm:ss a") : ("ADMIN.SEASON_MANAGEMENT.TABLE_HEADER.N_A" | translate) }}</p>
    </div>
    <div class="item">
      <div class="icon" inlineSVG="assets/icons/view-tournament/Me.svg"></div>
      <h4 class="title">
        {{ "MATCHMAKING.GAME_LOBBY.TEAM_SIZE.TITLE" | translate }}
      </h4>
      <p class="subtitle">{{ ((tournamentDetails && tournamentDetails.teamSize) ? tournamentDetails?.teamSize : ("ADMIN.SEASON_MANAGEMENT.TABLE_HEADER.N_A" | translate)) }}</p>
    </div>
    <div class="item">
      <div
        class="icon"
        inlineSVG="assets/icons/view-tournament/brackets.svg"
      ></div>
      <h4 class="title">
        {{ "ADMIN.SEASON_MANAGEMENT.TABLE_HEADER.TOURNAMENT_TYPE" | translate }}
      </h4>
      <p class="subtitle">
        {{ tournamentDetails?.bracketType | bracket | translate }}
      </p>
    </div>
  </div>
</div>
<!-- <div class="">
  <ul class="progressbar">
    <li class="active">
      <img class="Play-slider-detail-icon" [src]="'assets/images/Tournament/calender11.png'" alt="icon" />
      <span class="text_part">
        <span>Registeration</span>
        <small class="text_grey">25 May,2021</small>
      </span>
    <li>
      <img class="Play-slider-detail-icon" [src]="'assets/images/Tournament/process.png'" alt="icon" />
      <span class="text_part">
        <span>Step 02</span>
        <small class="text_grey">28 May,2021</small>
      </span>
    </li>
    <li>
      <img class="Play-slider-detail-icon" [src]="'assets/images/Tournament/doller.png'" alt="icon" />
      <span class="text_part">
        <span>Step 03</span>
        <small class="text_grey">Date to be confirmed</small>
      </span>
    </li>
    <li>
      <img class="Play-slider-detail-icon" [src]="'assets/images/Tournament/stop.png'" alt="icon" />
      <span class="text_part">
        <span>Step 04</span>
        <small class="text_grey">Date to be confirmed</small>
      </span>
    </li>
  </ul>
</div> -->

<!-- <div class="prize" *ngIf="tournamentDetails.prizeList.length != 0">
  <h3 class="Overview-information-heading">
    {{ "Prize" | translate }}
  </h3>
  <ul class="Overview-prizes">
    <ng-container *ngFor="let item of tournamentDetails.prizeList; let i=index">
      <li class="Overview-prize" style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
        <img class="Overview-prize-icon" [lazyLoad]="item" alt="icon" />
        <p class="Overview-prize-text">$ 10000
        </p>
        <h5 class="overview-prize-position">1st Prize</h5>
      </li>
    </ng-container>
  </ul>
</div> -->

<!-- Additional anformation -->
<div class="Overview-About">
  <h3 class="Overview-information-heading">
    {{ "VIEW_TOURNAMENT.OVERVIEW.ABOUT" | translate }}
  </h3>
  <p class="Overview-information-text">
    {{ tournamentDetails?.description ? tournamentDetails?.description : '-----'}}
  </p>
  <!--<ul class="Overview-information-list additional" *ngIf="information.length">
    <li class="Overview-information-item additional" *ngFor="let item of information">
      {{ item.text }}
    </li>
  </ul> -->
</div>

<!-- Rules -->
<div class="Overview-Rules" *ngIf="tournamentDetails?.rules">
  <h3 class="Overview-information-heading">
    {{ "VIEW_TOURNAMENT.OVERVIEW.RULES" | translate }}
  </h3>
  <ul class="Overview-information-list rules">
    <li
      class="Overview-information-item rules"
     [innerHTML]="tournamentDetails?.rules"
    >
    </li>
  </ul>
</div>

<div class="Overview-Prize" *ngIf="tournamentDetails?.prizes">
  <h3 class="Overview-information-heading">
    {{ "VIEW_TOURNAMENT.OVERVIEW.PRIZES" | translate }}
  </h3>
  <div class="Prize-table">
    <div class="thead">
      <div class="tr">
        <div class="th">#</div>
        <div class="th">{{ "VIEW_TOURNAMENT.PLACING" | translate }}</div>
        <div class="th">{{ "VIEW_TOURNAMENT.PRIZE_AMOUNT" | translate }}</div>
      </div>
    </div>
    <div class="tbody">
      <div class="tr" *ngFor="let item of tournamentDetails?.prizes">
        <div class="td">{{ item.sNO }}</div>
        <div class="td">
          <span class="place">{{ item.place }}</span>
        </div>
        <div class="td">{{ item.amount }}</div>
      </div>
      <!-- <div class="tr">
        <div class="td">2</div>
        <div class="td">
          <span class="place">Second place</span>
        </div>
        <div class="td">$1000.00</div>
      </div>
      <div class="tr">
        <div class="td">3</div>
        <div class="td">
          <span class="place">Third place</span>
        </div>
        <div class="td">$500.00</div>
      </div> -->
    </div>
  </div>
</div>

<div class="Overview-Timeline">
  <h3 class="Overview-information-heading">
    {{ "VIEW_TOURNAMENT.OVERVIEW.TIMELINE" | translate }}
  </h3>
  <div class="content">
    <div class="lists">
      <div class="item">
        <h4 class="title">
          {{ "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION" | translate }}
        </h4>
        <p class="des">
          <span *ngIf="registrationStatus?.isOpen">{{
            "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_OPEN" | translate
          }}</span>
          <span *ngIf="registrationStatus?.isClosed">{{
            "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_HAS_ENDED"
              | translate
          }}.</span>
          <span *ngIf="registrationStatus?.notYetStarted">{{
            "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_YET_TO_OPEN"
              | translate
          }}</span>
          <span *ngIf="!user && registrationStatus?.isOpen ">
            <a [routerLink]="[
              AppHtmlRoutes.userPageType,
              AppHtmlRoutesLoginType.emailLogin
              ]">
              {{ "ADMIN.USER_MANAGEMENT.TABLE_HEADER.SIGN_UP" | translate }}
            </a>
          </span>
          <!-- <span>{{ tournamentDetails?.maxParticipants }}</span>
          {{ "ADMIN.USER_MANAGEMENT.TABLE_HEADER.SLOTS" | translate }} -->
        </p>
      </div>
      <div class="item">
        <h4 class="title">
          {{ "MANAGE_TOURNAMENT.SEEDING" | translate }} &
          {{ "ASIDE.CONFIRMATION" | translate }}
        </h4>
        <p class="des">
          {{ "ADMIN.USER_MANAGEMENT.TABLE_HEADER.CONFIRMATION" | translate }}
        </p>
      </div>
      <div class="item">
        <h4 class="title">
          {{ "TOURNAMENT_TIME.TOURNMENT_START" | translate }} •
          <span class="text-hl">{{
            tournamentDetails?.startDate | date: "EEEE, d MMMM, h:mm"
          }}</span>
        </h4>
        <!-- <p class="des">
          {{ "ADMIN.USER_MANAGEMENT.TABLE_HEADER.STARTED" | translate }}
        </p> -->
      </div>
      <div class="item">
        <h4 class="title">
          {{ "TOURNAMENT_TIME.TOURNAMENT_END" | translate }}
        </h4>
        <p class="des">
          <span *ngIf="isEnd" >{{ "TOURNAMENT_TIME.TOURNAMENT_HAVE_ENDED" | translate }}</span>
          <span *ngIf="isNotEnded">{{"TOURNAMENT_TIME.TOURNAMENT_NOT_ENDED" | translate}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="Overview-sectionX" *ngIf="false">
  <div class="Overview-sectionX-text-block">
    <p class="Overview-sectionX-text">
      <span class="Overview-sectionX-text global-H6">
        {{ "VIEW_TOURNAMENT.OVERVIEW.TOURNAMENT_TYPE" | translate }}</span
      >
      <br />
      {{ tournamentDetails?.tournamentType | tournamentType | translate }}
    </p>
  </div>

  <div class="Overview-sectionX-text-block">
    <p class="Overview-sectionX-text">
      <span class="Overview-sectionX-text global-H6">
        {{ "VIEW_TOURNAMENT.OVERVIEW.BRACKET_FORMAT" | translate }}</span
      >
      <br />
      {{ tournamentDetails?.bracketType | bracket | translate }}
    </p>
  </div>

  <div class="Overview-sectionX-text-block">
    <p class="Overview-sectionX-text">
      <span class="Overview-sectionX-text global-H6">{{
        "VIEW_TOURNAMENT.OVERVIEW.VENUE" | translate
      }}</span>
      <br />
      <span
        [innerHtml]="
          tournamentDetails?.venueAddress
            | merge: 'arrayOfObject'
            | translate
            | titlecase
        "
      ></span>
    </p>
  </div>
  <div class="Overview-sectionX-text-block">
    <p class="Overview-sectionX-text">
      <span class="Overview-sectionX-text global-H6">{{
        "VIEW_TOURNAMENT.OVERVIEW.REGION" | translate
      }}</span>
      <br />
      {{
        (tournamentDetails?.isSpecifyAllowedRegions
          ? tournamentDetails?.regionsAllowed
          : []
        )
          | merge: "arrayOfString"
          | translate
      }}
    </p>
  </div>
  <div class="Overview-sectionX-text-block">
    <p class="Overview-sectionX-text">
      <span class="Overview-sectionX-text global-H6">
        {{ "VIEW_TOURNAMENT.PARTICIPANTS_1" | translate }}
      </span>
      <!-- <span class="Overview-sectionX-text-separator">:</span> -->
      <br />
      {{ tournamentDetails?.participantJoined }}
      of
      {{ tournamentDetails?.maxParticipants }}
      {{
        tournamentDetails?.participantType === "individual"
          ? ("HOME.SECTIONB.PLAYERS" | translate)
          : ("HOME.SECTIONB.TEAMS" | translate)
      }}
    </p>
  </div>
</section>

<section
  class="Overview-sectionY"
  *ngIf="false && tournamentDetails?.isIncludeSponsor"
>
  <h2 class="Overview-sectionY-title global-H3">
    {{ "VIEW_TOURNAMENT.OVERVIEW.SPONSORS" | translate }}
  </h2>
  <div
    class="Overview-sectionY-banner"
    *ngFor="let s of tournamentDetails.sponsors"
  >
    <div
      class="Overview-sectionY-image-block"
      [style.background-image]="'url(' + s?.sponsorBanner + ')'"
    >
      <img [lazyLoad]="s?.sponsorLogo" />
      <h3 class="Overview-sectionY-sponsor-name">
        {{ s?.sponsorName }}
      </h3>
      <p class="Overview-sectionY-sponsor-url" [hidden]="!s?.website">
        {{
          "CREATE_TOURNAMENT.CREATE_TOURNAMENT_VISIT_US"
            | translate
            | capitalizeFirst
        }}
        :
        {{ s?.website }}
      </p>
    </div>
    <div class="Overview-sectionY-sponsors">
      <a
        class="Overview-sectionY-sponsor-link"
        [hidden]="!s?.playStoreUrl"
        [href]="s?.playStoreUrl"
        target="_blank"
      >
        <img
          class="Overview-sectionY-sponsor-image"
          src="assets/images/Tournament/google-play.png"
          alt="google play"
        />
      </a>
      <a
        class="Overview-sectionY-sponsor-link"
        [hidden]="!s?.appStoreUrl"
        [href]="s?.appStoreUrl"
        target="_blank"
      >
        <img
          class="Overview-sectionY-sponsor-image"
          src="assets/images/Tournament/app-store.png"
          alt="app store"
        />
      </a>
    </div>
  </div>
</section>

<section
  class="Overview-sectionZ"
  *ngIf="
    false && tournamentDetails?.isPrize && tournamentDetails?.prizeList.length
  "
>
  <h2 class="Overview-sectionZ-title global-H3">
    {{ "VIEW_TOURNAMENT.OVERVIEW.PRIZE_POOL" | translate }}
  </h2>
  <div class="Overview-sectionZ-prizes">
    <div
      class="Overview-sectionZ-prize"
      *ngFor="let prize of tournamentDetails.prizeList; let idx = index"
    >
      <div class="Overview-sectionZ-prize-image-block">
        <img
          *ngIf="idx < 3"
          [lazyLoad]="'assets/images/Tournament/' + (idx + 1) + '-prize.png'"
          class="Overview-sectionZ-prize-image"
          alt="prize place"
        />
      </div>
      <p class="Overview-sectionZ-prize-reward">EURO {{ prize.value }}</p>
      <span class="Overview-sectionZ-prize-place global-H6">
        {{ idx | prizePooll: (languageService?.language | async) }}
      </span>
    </div>
  </div>
</section>
