<footer class="Footer">
  <div class="Footer-container u-wp">
    <img class="Footer-logo" lazyLoad="assets/global-images/logo-white.svg" alt="logo image" />

    <div class="Footer-info">
      <h4 class="Footer-info-title">
        {{ "FOOTER.COPYRIGHT" | translate }}
      </h4>

      <div class="Footer-info-links-block">
        <!-- LEFT LINKS - GREEN -->
        <div class="Footer-info-links left">
          <a class="Footer-info-link link" target="_blank" href="https://www.sparkgaming.com/">
            {{ "FOOTER.PAIDIAGAMING" | translate }}
          </a>
          <span class="text-divider"></span>
          <a class="Footer-info-link link" target="_blank" href="https://www.sparkgaming.com/about">
            {{ "FOOTER.ABOUT" | translate }}
          </a>
          <span class="text-divider"></span>
          <a class="Footer-info-link link" target="_blank" href="https://www.sparkgaming.com/team">
            {{ "FOOTER.TEAM" | translate }}
          </a>
          <span class="text-divider"></span>
          <a class="Footer-info-link link" target="_blank" href="https://www.sparkgaming.com/careers">
            {{ "FOOTER.CAREERS" | translate }}
          </a>
        </div>

        <!-- RIGHT LINKS - GREY -->
        <div class="Footer-info-links right">
          <a class="Footer-info-link link" [routerLink]="AppHtmlRoutes.privacyPolicy">
            {{ "FOOTER.PRIVACY" | translate }}
          </a>

          <span class="text-divider"></span>

          <a class="Footer-info-link link" [routerLink]="AppHtmlRoutes.terms">
            {{ "FOOTER.TERMS" | translate }}
          </a>
        </div>
      </div>
    </div>

    <div class="Footer-social">
      <p class="Footer-social-title">
        {{ "FOOTER.FOLLOW_US" | translate }}
      </p>
      <div class="Footer-social-links">
        <a class="Footer-social-link" *ngFor="let social of socials" [href]="social.link">
          <img class="Footer-social-link-icon" [lazyLoad]="social.icon" alt="social icon" />
        </a>
      </div>
    </div>
  </div>
</footer>
