@import "shared";

$--Pagination-border-color: rgba(255, 255, 255, 0.2);

:host {
  .mat-menu-content:not(:empty) {
    max-height: 100px;
  }
}

.Leaderboard-sectionA {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &-content {
    height: px2vw-xl(240px);

    @include lg {
      height: px2vw-lg(240px);
    }

    @include md {
      height: px2vw-md(240px);
    }

    @include sm {
      height: px2vw-sm(180px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(26px);
    max-width: px2vw-xl(900px);
    text-transform: uppercase;
    color: var(--base-white);
    letter-spacing: px2vw-lg(0.4px);

    @include lg {
      margin-bottom: px2vw-lg(26px);
      max-width: px2vw-lg(900px);
      letter-spacing: px2vw-lg(0.4px);
    }

    @include md {
      margin-bottom: px2vw-md(26px);
      max-width: none;
      letter-spacing: px2vw-md(0.4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
      letter-spacing: px2vw-sm(0.4px);
    }
  }

  &-container {
    padding-top: px2vw-xl(214px);
    padding-bottom: px2vw-xl(200px);
    min-height: px2vw-xl(650px);

    @include lg {
      min-height: px2vw-lg(650px);
      padding-top: px2vw-lg(214px);
      padding-bottom: px2vw-lg(200px);
    }

    @include md {
      min-height: auto;
      padding-top: px2vw-md(120px);
      padding-bottom: px2vw-md(100px);
    }

    @include sm {
      text-align: center;
      padding-top: px2vw-sm(120px);
      padding-bottom: px2vw-sm(100px);
    }
  }
}

.Leaderboard-sectionB {
  font-family: "source-sans-pro";
  padding-top: px2vw-xl(63px);
  padding-bottom: px2vw-xl(38px);

  @include lg {
    padding-top: px2vw-lg(63px);
    padding-bottom: px2vw-lg(38px);
  }

  @include md {
    padding-top: px2vw-md(40px);
    padding-bottom: px2vw-md(38px);
  }

  @include sm {
    padding-top: px2vw-sm(40px);
    padding-bottom: px2vw-sm(38px);
  }

  &-header-date {
    font-size: px2vw-xl(21px);
    line-height: px2vw-xl(27px);
    text-transform: uppercase;

    @include lg {
      font-size: px2vw-lg(21px);
      line-height: px2vw-lg(27px);
    }
    @include md {
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
    }
    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }
  }

  &-header-statistics {
    display: flex;
  }

  &-header-title {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &-header-button {
    position: relative;
    margin-left: auto;
    padding-right: 44px;
    border: 1px solid var(--base-black);
    border-radius: 0;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(21px);
    text-transform: uppercase;

    @include lg {
      margin-left: px2vw-lg(24px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(21px);
    }

    @include md {
      margin-left: auto;
      font-size: px2vw-md(16px);
      line-height: px2vw-md(21px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(21px);
    }

    &::after {
      position: absolute;
      content: "";
      top: 40%;
      right: 15px;
      width: px2vw-xl(9px);
      height: px2vw-xl(9px);
      transform: rotate(-45deg) translateY(-50%);
      background-color: transparent;
      border-bottom: 2px solid var(--base-black);
      border-left: 2px solid var(--base-black);
      transition: all 100ms ease-in-out;

      @include lg {
        width: px2vw-lg(9px);
        height: px2vw-lg(9px);
      }

      @include md {
        width: px2vw-md(9px);
        height: px2vw-md(9px);
      }

      @include sm {
        width: px2vw-sm(9px);
        height: px2vw-sm(9px);
      }
    }

    &[aria-expanded="true"]::after {
      right: 18px;
      transform: rotate(140deg);
    }
  }

  &-header-button1 {
    position: relative;
    margin-left: px2vw-xl(24px);
    padding-right: px2vw-xl(44px);
    border: 1px solid var(--base-black);
    border-radius: 0;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(21px);
    text-transform: uppercase;

    @include lg {
      margin-left: px2vw-lg(24px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(21px);
      padding-right: px2vw-lg(44px);
    }

    @include md {
      margin-left: auto;
      font-size: px2vw-md(16px);
      line-height: px2vw-md(21px);
      padding-right: px2vw-md(44px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(21px);
      padding-right: px2vw-sm(44px);
    }

    &::after {
      position: absolute;
      content: "";
      top: 40%;
      right: 15px;
      width: px2vw-xl(9px);
      height: px2vw-xl(9px);
      transform: rotate(-45deg) translateY(-50%);
      background-color: transparent;
      border-bottom: 2px solid var(--base-black);
      border-left: 2px solid var(--base-black);
      transition: all 100ms ease-in-out;

      @include lg {
        width: px2vw-lg(9px);
        height: px2vw-lg(9px);
      }

      @include md {
        width: px2vw-md(9px);
        height: px2vw-md(9px);
      }

      @include sm {
        width: px2vw-sm(9px);
        height: px2vw-sm(9px);
      }
    }

    &[aria-expanded="true"]::after {
      right: 18px;
      transform: rotate(140deg);
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, px2vw-xl(260px)) repeat(4, 1fr);
    grid-template-rows: repeat(3, px2vw-xl(150px));
    grid-column-gap: px2vw-xl(12px);
    grid-row-gap: px2vw-xl(2px);

    @include lg {
      grid-template-columns: repeat(2, px2vw-lg(260px)) repeat(4, 1fr);
      grid-template-rows: repeat(3, px2vw-lg(150px));
      grid-column-gap: px2vw-lg(12px);
      grid-row-gap: px2vw-lg(2px);
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: px2vw-md(12px);
      grid-row-gap: px2vw-md(2px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(12px);
      grid-row-gap: px2vw-sm(2px);
    }
  }

  &-content-card {
    padding: px2vw-xl(27px) px2vw-xl(30px) px2vw-xl(30px);
    text-transform: uppercase;
    border: 1px solid var(--base-03);
    background-color: var(--base-05);

    @include lg {
      padding: px2vw-lg(27px) px2vw-lg(30px) px2vw-lg(30px);
    }

    @include md {
      padding: px2vw-md(27px) px2vw-md(30px) px2vw-md(30px);
    }

    @include sm {
      padding: px2vw-sm(27px) px2vw-sm(30px) px2vw-sm(30px);
    }
  }

  &-content-card-title {
    margin-bottom: px2vw-xl(7px);
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(23px);

    @include lg {
      margin-bottom: px2vw-lg(7px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(23px);
    }

    @include md {
      margin-bottom: px2vw-md(7px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(23px);
    }

    @include sm {
      margin-bottom: px2vw-sm(7px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(23px);
    }
  }

  &-content-card-value {
    margin-bottom: 0;
    font-family: "source-sans-pro";
    font-size: px2vw-xl(50px);
    line-height: px2vw-xl(60px);

    @include lg {
      font-size: px2vw-lg(56px);
      line-height: px2vw-lg(60px);
    }
    @include md {
      font-size: px2vw-md(56px);
      line-height: px2vw-md(60px);
    }

    @include sm {
      font-size: px2vw-sm(56px);
      line-height: px2vw-sm(60px);
    }
  }

  &-content-graphic {
    display: flex;
    flex-direction: column;

    grid-area: 1 / 3 / 4 / 7;
    border: 1px solid var(--base-03);
    background-color: var(--base-05);
    padding: px2vw-xl(30px) px2vw-xl(62px) px2vw-xl(15px);

    @include lg {
      padding: px2vw-lg(30px) px2vw-lg(62px) px2vw-lg(15px);
    }

    @include md {
      grid-area: 1 / 1 / 4 / 3;
      padding: px2vw-md(30px) px2vw-md(30px) px2vw-md(15px);
    }

    @include sm {
      padding: px2vw-sm(30px) px2vw-sm(30px) px2vw-sm(15px);
    }
  }

  &-content-graphic-title {
    text-transform: uppercase;
    margin-bottom: auto;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(23px);
    text-align: center;

    @include lg {
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(23px);
    }
    @include md {
      font-size: px2vw-md(18px);
      line-height: px2vw-md(23px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(23px);
    }
  }
}

.Leaderboard-sectionC {
  &-table {
    ::ng-deep {
      .datatable-player-name {
        display: flex;
        align-items: center;
        font-family: "bebas-neue-regular";

        img {
          margin-right: px2vw-xl(15px);
          width: px2vw-xl(66px);
          height: px2vw-xl(66px);
          object-fit: cover;

          @include lg {
            margin-right: px2vw-lg(15px);
            width: px2vw-lg(66px);
            min-width: px2vw-lg(66px);
            height: px2vw-lg(66px);
          }

          @include md {
            margin-right: px2vw-md(15px);
            width: px2vw-md(66px);
            min-width: px2vw-md(66px);
            height: px2vw-md(66px);
          }

          @include sm {
            margin-right: px2vw-sm(15px);
            width: px2vw-sm(66px);
            min-width: px2vw-sm(66px);
            height: px2vw-sm(66px);
          }
        }

        span {
          text-align: left;
          font-weight: normal;
        }
      }

      .datatable-body-cell-label {
        font-family: "source-sans-pro";
        text-transform: capitalize;
        transition: 100ms linear;
      }

      .datatable-icon-left,
      .datatable-icon-right {
        width: px2vw-xl(12px);
        height: px2vw-xl(12px);
        border-left: px2vw-xl(4px) solid var(--base-white);
        border-top: px2vw-xl(4px) solid var(--base-white);

        @include lg {
          width: px2vw-lg(12px);
          height: px2vw-lg(12px);
          border-left-width: px2vw-lg(4px);
          border-top-width: px2vw-lg(4px);
        }

        @include md {
          width: px2vw-md(12px);
          height: px2vw-md(12px);
          border-left-width: px2vw-md(4px);
          border-top-width: px2vw-md(4px);
        }

        @include sm {
          width: px2vw-sm(14px);
          height: px2vw-sm(14px);
          border-left-width: px2vw-sm(5px);
          border-top-width: px2vw-sm(5px);
        }
      }

      .pager {
        border: px2vw-xl(2px) solid $--Pagination-border-color;
        border-right-width: px2vw-xl(1px);
        border-radius: px2vw-xl(4px);
        overflow: hidden;

        a {
          margin: 0;
          border-radius: 0;
          border-right: px2vw-xl(2px) solid $--Pagination-border-color;
          font-family: "source-sans-pro";
        }

        .disabled i {
          opacity: 0.3;
        }

        .pages.active a {
          color: var(--base-yellow);
        }
      }

      .datatable-body-row {
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        &:hover {
          box-shadow: inset 8px 0 0 0 var(--base-yellow);
          background: var(--base-05);
        }
      }

      .datatable-header-cell:last-child {
        padding-left: 90px;

        @include sm {
          padding-left: 50px;
        }
      }

      .datatable-body-cell:last-child {
        padding-left: 100px;

        @include lg {
          padding-left: 80px;
        }

        @include sm {
          padding-left: 50px;
        }
      }

      // Solves the problem with freezes on chrome
      .datatable-row-group {
        will-change: transform;
      }
    }
  }
}
