<section
  *ngIf="data?.page !== 'home'"
  class="Leaderboard-sectionA"
  [lazyLoad]="'assets/images/Leaderboard/leaderboard-bg.png'"
>
  <div class="Leaderboard-sectionA-container u-wp">
    <div class="Leaderboard-sectionA-content">
      <h1 class="Leaderboard-sectionA-title global-H1 text-base5">
        {{ "HOME.SECTIONM.TITLE" | translate }}
      </h1>
    </div>
  </div>
</section>

<section class="Leaderboard-sectionB u-wp">
  <header class="Leaderboard-sectionB-header">
    <div class="Leaderboard-sectionB-header-statistics">
      <h3 class="Leaderboard-sectionB-header global-H3">
        {{ data.title }}
      </h3>

      <button
        *ngIf="data?.page !== 'home'"
        class="Leaderboard-sectionB-header-button"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        {{ selectedGameName || "All Games" }}
      </button>

      <mat-menu #menu="matMenu" class="Leaderboard-sectionB-header-menu">
        <button
          class="Leaderboard-sectionB-header-menu-item"
          (click)="changeTab('all', 'games')"
          mat-menu-item
        >
          {{ "HOME.TOURNAMENT.ALL" | translate }}
        </button>

        <button
          class="Leaderboard-sectionB-header-menu-item"
          *ngFor="let game of gameList"
          mat-menu-item
          (click)="changeTab(game._id, 'games')"
        >
          {{ game?.name }}
        </button>
      </mat-menu>

      <button
        *ngIf="data?.page !== 'home'"
        class="Leaderboard-sectionB-header-button1"
        mat-button
        [matMenuTriggerFor]="menu1"
      >
        {{
          selectedCountryName || "LEADERBOARD.PLAYER_DETAILS.SECTIONB.REGIONS"
            | translate
        }}
      </button>

      <mat-menu #menu1="matMenu" class="Leaderboard-sectionB-header-menu">
        <button
          class="Leaderboard-sectionB-header-menu-item"
          (click)="changeTab('all', 'regions')"
          mat-menu-item
        >
          {{ "HOME.TOURNAMENT.ALL" | translate }}
        </button>

        <button
          class="Leaderboard-sectionB-header-menu-item"
          *ngFor="let country of countryList"
          mat-menu-item
          (click)="changeTab(country.id, 'regions')"
        >
          {{ country?.name }}
        </button>
      </mat-menu>
    </div>
  </header>
</section>

<section class="Leaderboard-sectionC u-wp">
  <div class="Leaderboard-sectionC-table">
    <div class="global-scrollbar">
      <ngx-datatable
        class="global-DataTableAdmin global-DataTable white is-home"
        [columnMode]="'flex'"
        [columns]="leaderBoardColumns"
        [footerHeight]="'auto'"
        [headerHeight]="'auto'"
        [limit]="10"
        [rowHeight]="'auto'"
        [rows]="leaderboardData"
      >
        <ngx-datatable-column
          prop="rank"
          name="{{ 'HOME.SECTIONM.COLUMNS.1' | translate }}"
          [flexGrow]="0.5"
        ></ngx-datatable-column>

        <ngx-datatable-column
          *ngIf="data.page === 'leaderboard'"
          prop="img"
          name="{{ 'HOME.SECTIONM.COLUMNS.3' | translate }}"
          [flexGrow]="2"
        >
          <ng-template ngx-datatable-cell-template let-row="row">
            <a [routerLink]="[AppHtmlRoutes.leaderBoard, row.id]">
              <div class="datatable-player-name">
                <img
                  [lazyLoad]="
                    row?.img || './assets/images/Profile/formation.svg'
                  "
                  alt="image"
                  class="datatable-ava"
                />
                <span class="pl-3 text-uppercase global-Elipses">{{
                  row.name
                }}</span>
              </div>
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          *ngIf="data.page === 'home'"
          prop="img"
          name="{{ 'HOME.SECTIONM.COLUMNS.3' | translate }}"
          [flexGrow]="2"
        >
          <ng-template ngx-datatable-cell-template let-row="row">
            <a [routerLink]="[AppHtmlRoutes.leaderBoard, row.userId]">
              <div class="datatable-player-name">
                <img
                  [lazyLoad]="
                    row?.profilePicture ||
                    './assets/images/Profile/formation.svg'
                  "
                  alt=""
                  class="datatable-ava"
                />

                <span class="pl-3 text-uppercase global-Elipses">{{
                  row.name
                }}</span>
              </div>
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="region"
          name="{{ 'HOME.SECTIONM.COLUMNS.4' | translate }}"
          [flexGrow]="1.5"
          *ngIf="data.page === 'leaderboard'"
        >
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="country"
          name="{{ 'HOME.SECTIONM.COLUMNS.4' | translate }}"
          [flexGrow]="1.5"
          *ngIf="data.page === 'home'"
        ></ngx-datatable-column>

        <ngx-datatable-column
          prop="trophies"
          name="{{ 'HOME.SECTIONM.COLUMNS.5' | translate }}"
          [flexGrow]="1.2"
        >
          <ng-template ngx-datatable-cell-template let-row="row">
            <div class="datatable-places">
              <div class="datatable-place">
                <img [lazyLoad]="goldIcon" alt="gold prize" />
                <span *ngIf="data.page === 'leaderboard'">
                  {{ row.trophies.first }}
                </span>
                <span *ngIf="data.page === 'home'">
                  {{ row.firstPosition }}
                </span>
              </div>
              <div class="datatable-place">
                <img [lazyLoad]="silverIcon" alt="silver prize" />
                <span *ngIf="data.page === 'leaderboard'">
                  {{ row.trophies.second }}
                </span>
                <span *ngIf="data.page === 'home'">
                  {{ row.secondPosition }}
                </span>
              </div>
              <div class="datatable-place">
                <img [lazyLoad]="bronzeIcon" alt="bronze prize" />
                <span *ngIf="data.page === 'leaderboard'">
                  {{ row.trophies.third }}
                </span>
                <span *ngIf="data.page === 'home'">
                  {{ row.thirdPosition }}
                </span>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="points"
          name="{{ 'HOME.SECTIONM.COLUMNS.6' | translate }}"
          [flexGrow]="1"
        ></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</section>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
