<!-- <button mat-dialog-close mat-icon-button class="global-Dialog-close">
  <span class="material-icons">clear</span>
</button> -->

<div class="InfoPopup">
  <h4 class="InfoPopup-title">
    {{ data.title }}
  </h4>

  <div class="InfoPopup-text" [hidden]="!data?.text">
    {{ data?.text }}
  </div>

  <ng-container [ngSwitch]="data?.type">
    <app-rating
      *ngSwitchCase="InfoPopupComponentType.rating"
      (rating)="message($event)"
      [currentRate]="data?.rate"
      [fontSize]="'2rem'"
      [maxStar]="5"
      [readonly]="false"
    ></app-rating>

    <share-buttons
      style="padding-bottom: 10px"
      *ngSwitchCase="InfoPopupComponentType.socialSharing"
      [include]="[
        'facebook',
        'twitter',
        'reddit',
        'viber',
        'telegram',
        'whatsapp',
        'email'
      ]"
      [showIcon]="true"
      [showText]="true"
      image="https://loremflickr.com/320/240"
    ></share-buttons>
  </ng-container>

  <div *ngIf="data.type == InfoPopupComponentType.socialSharing">
    <h5>
      <!-- Page Link  -->
      {{"Page Link"| translate}}
      <!-- {{"Page".Page Link|translate}} -->
    </h5> 

    <!-- <mat-icon class="InputSearch-icon" style="padding-left: 310px;"> content_copy </mat-icon>
      <mat-form-field class="global-MatField" appearance="outline" autocomplete="off" style="bottom:38px; ">
        <mat-label>
          https://www.paidia.gg/article/Is-Valorant-F...
        </mat-label>
        <input  matInput />
      </mat-form-field> -->
    <div class="Referrals-card-link-block">
      <!-- <p class="Referrals-card-link global-Elipses" #userinput>
          https://www.paidia.gg/article/Is-Valorant-F...
        </p> -->
      <input
        class="Referrals-card-link global-Elipses"
        type="text"
        value="{{ currenturl }}"
        #userinput
      />
      <button
        (click)="copyInputMessage(userinput)"
        class="Referrals-card-link-button"
        inlineSVG="assets/icons/copy.svg"
      ></button>
    </div>
  </div>

  <!-- <mat-form-field class="global-MatField  " appearance="outline" autocomplete="off">
   
      <mat-icon class="InputSearch-icon"> content_copy </mat-icon>
      <input  matInput placeholder="https://www.paidia.gg/article/Is-Valorant-F..." />
 
    </mat-form-field> -->
  <div
    *ngIf="data.type !== InfoPopupComponentType.info"
    class="InfoPopup-footer"
  >
    <button (click)="onConfirm()" [hidden]="!data?.btnText">
      {{ data.btnText }}
    </button>
  </div>
  <button class="PopupCreated-close global-modal-close" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
