@import "shared";

:host {
  display: block;
}
$blue:#29263F;

.InfoPopup {
  padding: px2vw-xl(30px);
  color: var(--white);
  // text-align: center;
  position: relative;
  width: 480px;
  height: auto;
  /* Elevation Overlay/02 dp */
  
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), #0B0824;
  /* modal */
  
 
  border-radius: 2px;
  @include lg {
    padding: px2vw-lg(30px);
  }

  @include md {
    padding: 0;
  }

  &-title {
    font-size: px2vw-xl(24px);
    margin-bottom: px2vw-xl(22px);
    margin-left: 2.3rem;
    // border-bottom: px2vw-xl(2px) solid var(--color-primary);
    text-transform: uppercase;
    display: inline-block;
/* 1440px/Headline 5 */

// font-family: 'archivo-black';
font-style: normal;
font-weight: 900;


    @include lg {
      font-size: px2vw-lg(24px);
      margin-bottom: px2vw-lg(40px);
      border-bottom: px2vw-lg(2px) solid var(--color-primary);
    }

    @include md {
      font-size: px2vw-md(24px);
      margin-bottom: px2vw-md(40px);
      border-bottom: px2vw-md(2px) solid var(--color-primary);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      margin-bottom: px2vw-sm(40px);
      // border-bottom: px2vw-sm(2px) solid var(--color-primary);
      margin-top: px2vw-sm(38px);
    }
  }

  &-text {
    font-size: px2vw-xl(24px);
    max-width: px2vw-xl(400px);

    @include lg {
      font-size: px2vw-lg(24px);
      max-width: px2vw-lg(400px);
    }

    @include md {
      font-size: px2vw-md(24px);
      max-width: px2vw-md(400px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      max-width: px2vw-sm(400px);
    }
  }

  &-footer {
    margin-top: px2vw-xl(40px);

    @include lg {
      margin-top: px2vw-lg(40px);
    }

    @include md {
      margin-top: px2vw-md(40px);
    }

    @include sm {
      margin-top: px2vw-sm(40px);
    }

    button {
      margin: 0 px2vw-xl(20px);

      @include lg {
        margin: 0 px2vw-lg(20px);
      }

      @include md {
        margin: 0 px2vw-md(20px);
      }

      @include sm {
        margin: 0 px2vw-sm(20px);
      }
    }
  }
}

.Photo-fields {
  &-floor {
    margin-bottom: px2vw-xl(18px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(18px);
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
      grid-column-gap: px2vw-xl(16px);
      grid-row-gap: px2vw-sm(16px);
    }

    &.first {
      grid-template-columns: repeat(2, 1fr);
    }

    &.second {
      grid-template-columns: repeat(2, 1fr);
    }

    &.third {
      grid-template-columns: repeat(2, 1fr);
    }

    &.fourth {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &-item {
    &.country {
      grid-area: 1 / 1 / 2 / 3;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      textrea {
        height: px2vw-xl(116px);

        @include lg {
          height: px2vw-lg(116px);
        }

        @include md {
          height: px2vw-md(116px);
        }

        @include sm {
          height: px2vw-sm(116px);
        }
      }
    }
  }
}
.InputSearch-icon{
  color: white;
}


@import "shared";

$--card-bg: radial-gradient(
  50.13% 129.55% at 0% 100%,
  rgba(115, 108, 255, 0.25) 0%,
  rgba(115, 108, 255, 0) 100%
);

$--card-matrix: matrix(1, 0, 0, -1, 0, 0);

:host {
  display: block;
}

.Referrals-card {
  margin-bottom: px2vw-xl(40px);
  border: px2vw-xl(1px) solid var(--white-smoke);
  border-radius: px2vw-xl(4px);
  background: $--card-bg;
  padding: px2vw-xl(40px) px2vw-xl(32px);
  transform: $--card-matrix;

  @include lg {
    margin-bottom: px2vw-lg(40px);
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(4px);
    padding: px2vw-lg(40px) px2vw-lg(32px);
  }

  @include md {
    margin-bottom: px2vw-md(40px);
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(4px);
    padding: px2vw-md(40px) px2vw-md(32px);
  }

  @include sm {
    margin-bottom: px2vw-sm(40px);
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(4px);
    padding: px2vw-sm(40px) px2vw-sm(32px);
  }

  &-container {
    transform: $--card-matrix;
  }

  &-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-link-block {
    @extend %u-dfCenterBtw;
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    // background-color: var(--color-secondary);
    background: $blue;
    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-link {
    @extend %body-1;
    margin-bottom: 0;
  }

  &-link-button {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-left: px2vw-xl(16px);
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);
    background-color: transparent;

    @include lg {
      margin-left: px2vw-lg(16px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-left: px2vw-md(16px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
    }

    ::ng-deep svg {
      height: px2vw-xl(16px);
      width: px2vw-xl(13px);
      cursor: pointer;

      @include lg {
        height: px2vw-lg(16px);
        width: px2vw-lg(13px);
      }

      @include md {
        height: px2vw-md(16px);
        width: px2vw-md(13px);
      }

      @include sm {
        height: px2vw-sm(16px);
        width: px2vw-sm(13px);
      }

      path {
        transition: $global-transition2;
      }
    }

    &:hover ::ng-deep svg path {
      fill: var(--color-primary);
    }
  }
}

.Referrals-history {
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(40px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  app-referral-card:first-child {
    ::ng-deep .ReferralCard {
      padding-top: 0;
    }
  }
}
.Referrals-card-link{
  background-color: transparent;
}



::ng-deep{.sb-default .sb-wrapper{
  height: 72px;
  width: 72px;
  padding: -1rem;

  @include sm{
    height:50px;
    width:50px;
    min-width:auto;
  }
}


::ng-deep{
  .sb-button{
    padding: 0.7rem;
  }

  @include sm{
    padding:0.5rem;
  }
}
::ng-deep{
  .sb-group{
    margin-left: 0.3rem;
    margin: 0 auto;
    margin-left: px2vw-sm(20px);
  }
  
  fa-icon{
    font-size: 2rem;

    @include sm{
      position: absolute;
      left: 0px;
      right: 0px;
      top: 7px;
    }
  }
}


::ng-deep{
  .sb-default .sb-wrapper {
    color: white;
    border-radius: 4px;
    overflow: visible;
}
}


::ng-deep{ 
.sb-default .sb-wrapper.sb-show-icon.sb-show-text .sb-text {
  filter: none;
  padding-right: -2em;
  padding-left: 0;
  height: fit-content;
  padding-block: 6.4rem;
  margin-left: -4.9rem;
  font-family: Archivo;
  font-style: normal;
  width:62px;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.6);
  margin-top:px2vw-sm(-6px);
}
}

::ng-deep{
  .sb-wrapper .sb-icon {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    min-width: 2em;
    padding-inline: 2.7rem;
    
    @include sm{
      margin: 0 auto;
      display: inline-block;
    }
}
}

::ng-deep{
  .sb-default .sb-wrapper.sb-facebook {
    margin-bottom: 2.2rem;
    // width: 52px;

}
}
@include sm{
  h5{
    margin-left:px2vw-sm(25px);
    margin-top:px2vw-sm(40px);
    margin-bottom:px2vw-sm(13px);
  }
  // .InfoPopup {
  //   width: 100%;
  //   button.sb-wrapper.sb-show-icon.sb-show-text.sb-facebook{
  //     height: 62px;
  //     width: 62px;
  //   }
  // }
  .cdk-overlay-container{
    .cdk-global-overlay-wrapper{
      div#cdk-overlay-0 {
          max-width: 90% !important;
      }
    }
  }
 }
@include sm{
  ::ng-deep .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
    border-radius: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden;
}
@include sm{
  ::ng-deep .InfoPopup{
width: 100% !important;
}
.sb-default .sb-wrapper.sb-facebook {
  height: 52px;
  width: 52px;
}
}
}
}
@include sm{
  .Referrals-card-link-block{
    margin-left:px2vw-sm(25px);
    margin-right:px2vw-sm(30px);
  }
}
@include sm{
  .InfoPopup-title{
    border-bottom:px2vw-sm(15px)
  }
::ng-deep{ 
  .sb-default .sb-wrapper.sb-show-icon.sb-show-text .sb-text {
    filter: none;
    padding-right: -2em;
    padding-left: 0;
    height: fit-content;
    padding-block: 6.4rem;
    margin-left: -4.9rem;
    font-family: Archivo;
    font-style: normal;
    width:62px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: rgba(255, 255, 255, 0.6);
    margin-top:px2vw-sm(-6px);
  }
}
}