<div class="ct-HeaderTop">
  <div class="SelectPlatform u-wp">
    <div class="SelectPlatform-container">
      <h2 class="SelectPlatform-title global-Title3">
        Select platform
      </h2>

      <ul class="SelectPlatform-cards">
        <li
          class="SelectPlatform-card"
          *ngFor="let platform of eSportsTournamentService?.getPlatformList"
          (click)="onSelectPlatform(platform?._id)"
          [class.is-active]="platform?._id === Step3?.value?.platform"
        >
          <span
            class="SelectPlatform-card-icon icon"
            [inlineSVG]="platform?.name | platformPipe"
          ></span>

          <p class="SelectPlatform-card-text text global-Text">
            {{ platform.name }}
          </p>
        </li>
      </ul>
    </div>

    <div class="SelectPlatform-switcher-container">
      <app-page-switcher
        [step]="Step3?.value?.step"
        (onStepChange)="onStepChange($event)"
      ></app-page-switcher>
    </div>
  </div>
</div>
