@import "shared";
@import "../../../../../../scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.SelectPlatform {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container,
  &-switcher-container {
    max-width: px2vw-xl(994px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(994px);
    }

    @include md {
      max-width: none;
    }
  }

  &-container {
    margin-top: px2vw-xl(170px);

    @include lg {
      margin-top: px2vw-lg(170px);
    }

    @include md {
      margin-top: px2vw-md(170px);
    }

    @include sm {
      margin-top: px2vw-sm(90px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(32px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-cards {
    margin-bottom: px2vw-xl(70px);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, px2vw-xl(260px)));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(70px);
      grid-template-columns: repeat(3, minmax(0, px2vw-lg(260px)));
      grid-column-gap: px2vw-lg(32px);
      grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(70px);
      grid-template-columns: repeat(3, minmax(0, px2vw-md(260px)));
      grid-column-gap: px2vw-md(32px);
      grid-row-gap: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(320px);
      grid-template-columns: repeat(2, minmax(0, px2vw-sm(260px)));
      grid-column-gap: px2vw-sm(32px);
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: px2vw-xl(4px);
    border: 1px solid transparent;
    padding: px2vw-xl(43px) px2vw-xl(22px) px2vw-xl(22px);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 200ms linear;

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(43px) px2vw-lg(22px) px2vw-lg(22px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(43px) px2vw-md(22px) px2vw-md(22px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(43px) px2vw-sm(22px) px2vw-sm(22px);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &.is-active {
      border-color: var(--primary-sunset-light);

      .icon {
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--primary-sunset-light);
        }
      }

      .text {
        color: var(--primary-sunset-light);
      }
    }
  }

  &-card-icon {
    margin-bottom: px2vw-xl(28px);

    @include lg {
      margin-bottom: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(28px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
    }

    ::ng-deep svg {
      max-height: px2vw-xl(65px);

      @include lg {
        max-height: px2vw-lg(65px);
      }

      @include md {
        max-height: px2vw-md(65px);
      }

      @include sm {
        max-height: px2vw-sm(65px);
      }
    }
  }

  &-card-text {
    margin-bottom: 0;
    color: var(--base-white);
    transition: 200ms linear;

    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-switcher-container {
    margin-top: auto;
  }
}
