<footer class="Footer">
  <div class="Footer-container u-wp">
    <div class="footer_left">
      <img class="Footer-logo" src="../../../assets/global-images/logo_googly.svg" alt="logo image" />
      <div class="Footer-info">
        <h4 class="Footer-info-title">
          {{ "FOOTER.COPYRIGHT" | translate }}
        </h4>

        <div class="Footer-info-links-block">
          <!-- LEFT LINKS - GREEN -->
          <div class="Footer-info-links left">
            <a class="Footer-info-link link" target="_blank" href="/home">
              {{ "FOOTER.BANDICOT" | translate }}
            </a>
            <span class="text-divider"></span>
            <a class="Footer-info-link link" target="_blank" href="/play">
              {{ "FOOTER.DISCOVER" | translate }}
            </a>
            <span class="text-divider"></span>
            <a class="Footer-info-link link" target="_blank" href="/content">
              {{ "FOOTER.CONTENT" | translate }}
            </a>
            <span class="text-divider"></span>
            <a class="Footer-info-link link" target="_blank" href="/store">
              {{ "FOOTER.SHOP" | translate }}
            </a>
          </div>

          <!-- RIGHT LINKS - GREY -->
          <div class="Footer-info-links right">
            <a class="Footer-info-link link" [routerLink]="AppHtmlRoutes.privacyPolicy">
              {{ "FOOTER.PRIVACY" | translate }}
            </a>

            <span class="text-divider"></span>

            <a class="Footer-info-link link" [routerLink]="AppHtmlRoutes.terms">
              {{ "FOOTER.TERMS" | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="Footer-social">
      <p class="Footer-social-title">
        {{ "FOOTER.FOLLOW_US" | translate }}
      </p>
      <div class="Footer-social-links">
        <a class="Footer-social-link" href="Javascript:void(0);">
          <img class="Footer-social-link-icon" src="../../../assets/icons/socials/icon-twitter.svg" alt="social icon" />
        </a>
        <a class="Footer-social-link" href="Javascript:void(0);">
          <img class="Footer-social-link-icon" src="../../../assets/icons/socials/icon-fb.svg" alt="social icon" />
        </a>
        <a class="Footer-social-link" href="Javascript:void(0);">
          <img class="Footer-social-link-icon" src="../../../assets/icons/socials/icon-insta.svg" alt="social icon" />
        </a>
        <a class="Footer-social-link" href="Javascript:void(0);">
          <img class="Footer-social-link-icon" src="../../../assets/icons/socials/icon-linke.svg" alt="social icon" />
        </a>
      </div>
    </div>
  </div>


</footer>


<div class="fooder_fixed">
  <div class="icon_fiv">
    <div class="sign_set_icon">
      <a href="#" class="active">
        <!-- <img src="../../../assets/icons/socials/fd_icon1.svg" alt="social icon" /> -->
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path d="M10.5 20V14H14.5V20H19.5V12H22.5L12.5 3L2.5 12H5.5V20H10.5Z" fill="#78777F" />
        </svg>
        <p>{{ "FOOTER.HOME" | translate }}</p>
      </a>
    </div>
    <div class="sign_set_icon">
      <a href="#">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path
            d="M12.5 10.9C11.89 10.9 11.4 11.39 11.4 12C11.4 12.61 11.89 13.1 12.5 13.1C13.11 13.1 13.6 12.61 13.6 12C13.6 11.39 13.11 10.9 12.5 10.9ZM12.5 2C6.98 2 2.5 6.48 2.5 12C2.5 17.52 6.98 22 12.5 22C18.02 22 22.5 17.52 22.5 12C22.5 6.48 18.02 2 12.5 2ZM14.69 14.19L6.5 18L10.31 9.81L18.5 6L14.69 14.19Z"
            fill="#78777F" />
        </svg>
        <p>{{ "FOOTER.DISCOVER" | translate }}</p>
      </a>
    </div>
    <div class="sign_set_icon">
      <a href="#">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path
            d="M21.5 6H3.5C2.4 6 1.5 6.9 1.5 8V16C1.5 17.1 2.4 18 3.5 18H21.5C22.6 18 23.5 17.1 23.5 16V8C23.5 6.9 22.6 6 21.5 6ZM11.5 13H8.5V16H6.5V13H3.5V11H6.5V8H8.5V11H11.5V13ZM16 15C15.17 15 14.5 14.33 14.5 13.5C14.5 12.67 15.17 12 16 12C16.83 12 17.5 12.67 17.5 13.5C17.5 14.33 16.83 15 16 15ZM20 12C19.17 12 18.5 11.33 18.5 10.5C18.5 9.67 19.17 9 20 9C20.83 9 21.5 9.67 21.5 10.5C21.5 11.33 20.83 12 20 12Z"
            fill="#78777F" />
        </svg>
        <p>{{ "FOOTER.PLAY" | translate }}</p>
      </a>
    </div>
    <div class="sign_set_icon">
      <a href="#">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path
            d="M19.5 6H17.5C17.5 3.24 15.26 1 12.5 1C9.74 1 7.5 3.24 7.5 6H5.5C4.4 6 3.51 6.9 3.51 8L3.5 20C3.5 21.1 4.4 22 5.5 22H19.5C20.6 22 21.5 21.1 21.5 20V8C21.5 6.9 20.6 6 19.5 6ZM12.5 3C14.16 3 15.5 4.34 15.5 6H9.5C9.5 4.34 10.84 3 12.5 3ZM12.5 13C9.74 13 7.5 10.76 7.5 8H9.5C9.5 9.66 10.84 11 12.5 11C14.16 11 15.5 9.66 15.5 8H17.5C17.5 10.76 15.26 13 12.5 13Z"
            fill="#78777F" />
        </svg>
        <p>{{ "FOOTER.SHOP" | translate }}</p>
      </a>
    </div>
    <div class="sign_set_icon">
      <a href="#">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path
            d="M6.5 10C5.4 10 4.5 10.9 4.5 12C4.5 13.1 5.4 14 6.5 14C7.6 14 8.5 13.1 8.5 12C8.5 10.9 7.6 10 6.5 10ZM18.5 10C17.4 10 16.5 10.9 16.5 12C16.5 13.1 17.4 14 18.5 14C19.6 14 20.5 13.1 20.5 12C20.5 10.9 19.6 10 18.5 10ZM12.5 10C11.4 10 10.5 10.9 10.5 12C10.5 13.1 11.4 14 12.5 14C13.6 14 14.5 13.1 14.5 12C14.5 10.9 13.6 10 12.5 10Z"
            fill="#78777F" />
        </svg>
        <p>{{ "FOOTER.MORE" | translate }}</p>
      </a>
    </div>
  </div>
</div>