@import "shared";
@import "../../../../../../scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay;

  app-send-invite {
    &::before, &::after {
      display: none;
    }
  }
}

.TD {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container {
    margin-top: px2vw-xl(82px);

    @include lg {
      margin-top: px2vw-lg(82px);
      flex-direction: column-reverse;
    }

    @include md {
      margin-top: px2vw-md(82px);
    }

    @include sm {
      margin-top: px2vw-sm(82px);
    }
  }

  &-details {
    flex-shrink: 0;
    max-width: px2vw-xl(1140px);
    margin-right: px2vw-xl(36px);
    width: 100%;

    @include lg {
      margin: px2vw-lg(70px) 0 0;
      max-width: none;
    }

    @include md {
      margin-top: px2vw-md(70px);
    }

    @include sm {
      margin-top: px2vw-sm(70px);
    }

    &-title {
      margin-bottom: px2vw-xl(35px);
      color: var(--base-white);

      @include lg {
        margin-bottom: px2vw-lg(35px);
      }

      @include md {
        margin-bottom: px2vw-md(35px);
      }

      @include sm {
        margin-bottom: px2vw-sm(35px);
      }

      &.desktop {
        @include lg {
          display: none;
        }
      }

      &.mobile {
        display: none;

        @include lg {
          display: block;
        }
      }
    }
  }

  &-form {
    ::ng-deep {
      .mat-expansion-panel {
        margin-bottom: px2vw-xl(6px);
        box-shadow: none;
        border-radius: 0 !important;

        @include lg {
          margin-bottom: px2vw-lg(6px);
        }

        @include md {
          margin-bottom: px2vw-md(6px);
        }

        @include sm {
          margin-bottom: px2vw-sm(6px);
        }

        &,
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;

          .mat-expansion-panel-header {
            background-color: var(--purple-heart);
          }
        }

        &:not(.mat-expanded):not([aria-disabled="true"]) {
          .mat-expansion-panel-header {
            background-color: var(--purple-heart);
          }
          .mat-expansion-panel-header-title {
            color: var(--base-white);
          }
        }

        &-header {
          background-color: var(--purple-heart);
          height: px2vw-xl(88px) !important;

          @include lg {
            height: px2vw-lg(88px) !important;
          }

          @include md {
            height: px2vw-md(88px) !important;
          }

          @include sm {
            height: px2vw-sm(88px) !important;
          }
        }

        &-header-title {
          color: var(--base-white);
        }

        &-body {
          padding: px2vw-xl(20px) 0;
          color: var(--base-white);

          @include lg {
            padding: px2vw-lg(20px) 0;
          }

          @include md {
            padding: px2vw-md(20px) 0;
          }

          @include sm {
            padding: px2vw-sm(20px) 0;
          }
        }
      }

      .disable-space {
        .mat-expansion-panel-body {
          padding: px2vw-xl(5px) 0;

          @include lg {
            padding: px2vw-lg(5px) 0;
          }

          @include md {
            padding: px2vw-md(5px) 0;
          }

          @include sm {
            padding: px2vw-sm(5px) 0;
          }
        }
      }

      .mat-expansion-indicator {
        &::after {
          color: var(--base-white);
        }
      }
      .WYSIWYG-editor-textarea{
        background-color: white !important;
        color: black !important;
      }
      .fa{
        color: var(--base-black);
      }
    }
  }

  &-form-brackets {
    &-fields {
      margin-bottom: px2vw-xl(40px);
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-xl(32px);
      grid-row-gap: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(40px);
        grid-column-gap: px2vw-lg(32px);
        grid-row-gap: px2vw-lg(32px);
      }

      @include md {
        grid-template-columns: minmax(0, 1fr);
        margin-bottom: px2vw-md(40px);
        grid-column-gap: 0;
        grid-row-gap: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
        grid-row-gap: px2vw-sm(32px);
      }
    }
  }

  &-form-prize {
    &-list {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-xl(15px);
      grid-row-gap: px2vw-xl(15px);
  
      @include lg {
        grid-column-gap: px2vw-lg(15px);
        grid-row-gap: px2vw-lg(15px);
      }
  
      @include md {
        grid-template-columns: minmax(0, 1fr);
        grid-column-gap: 0;
        grid-row-gap: px2vw-md(15px);
      }
  
      @include sm {
        grid-row-gap: px2vw-sm(15px);
      }
    }

    &-button {
      margin-top: px2vw-xl(40px);
      
      ::ng-deep {
        .text {
          color: var(--primary-sunset-light);
        }
        .icon {
          svg path {
            fill: var(--primary-sunset-light);
          }
        }
      }
    }
  }

  &-form-participants {
    &-title {
      font-size: px2vw-xl(20px);
      color: var(--base-white);

      @include lg {
        font-size: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
      }

      &.second {
        margin-bottom: px2vw-xl(40px);

        @include lg {
          margin-bottom: px2vw-lg(40px);
        }

        @include md {
          margin-bottom: px2vw-md(40px);
        }

        @include sm {
          margin-bottom: px2vw-sm(40px);
        }
      }
    }

    &-list {
      margin-bottom: px2vw-xl(37px);

      @include lg {
        margin-bottom: px2vw-lg(37px);
      }

      @include md {
        margin-bottom: px2vw-md(37px);
      }

      @include sm {
        margin-bottom: px2vw-sm(37px);
      }
    }

    &-search {
      margin-bottom: px2vw-xl(30px);

      @include lg {
        margin-bottom: px2vw-lg(30px);
      }

      @include md {
        margin-bottom: px2vw-md(30px);
      }

      @include sm {
        margin-bottom: px2vw-sm(30px);
      }
    }
  }

  &-form-settings {
    @include md {
      flex-direction: column;
    }

    &-toggles {
      margin-left: px2vw-xl(180px);

      @include lg {
        margin-left: auto;
      }

      @include md {
        margin-top: px2vw-md(50px);
        margin-left: 0;
      }

      @include sm {
        margin-top: px2vw-sm(50px);
        width: 100%;

        app-select-toggle ::ng-deep {
          .SelectToggle-buttons {
            width: 100%;
          }

          .SelectToggle-button {
            width: 50%;
          }
        }
      }
    }

    &-switchers {
      @include sm {
        width: 100%;

        app-toggle-switch {
          width: 100%;
        }
      }
    }
  }

  &-form-type {
    margin-top: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(60px);
    }

    @include sm {
      margin-top: px2vw-sm(60px);
    }
  }

  &-form-socials {
    margin-top: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(50px);
    }

    &-title {
      margin-bottom: px2vw-xl(30px);
      font-size: px2vw-xl(20px);
      color: var(--base-white);

      @include lg {
        margin-bottom: px2vw-lg(30px);
        font-size: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(30px);
        font-size: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(30px);
        font-size: px2vw-sm(20px);
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-xl(32px);
      grid-row-gap: px2vw-xl(32px);

      @include lg {
        grid-column-gap: px2vw-lg(32px);
        grid-row-gap: px2vw-lg(32px);
      }

      @include md {
        grid-template-columns: minmax(0, 1fr);
        grid-column-gap: 0;
        grid-row-gap: px2vw-md(32px);
      }

      @include sm {
        grid-row-gap: px2vw-sm(32px);
      }
    }
  }

  &-form-sponsors {
    &-list {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-xl(30px);
      grid-row-gap: px2vw-xl(30px);

      @include lg {
        grid-column-gap: px2vw-lg(30px);
        grid-row-gap: px2vw-lg(30px);
      }

      @include md {
        grid-template-columns: minmax(0, 1fr);
        grid-column-gap: 0;
        grid-row-gap: px2vw-md(30px);
      }

      @include sm {
        grid-row-gap: px2vw-sm(30px);
      }
    }

    &-logo {
      margin: px2vw-xl(48px) 0;

      @include lg {
        margin: px2vw-lg(48px) 0;
      }

      @include md {
        margin: px2vw-md(48px) 0;
      }

      @include sm {
        margin: px2vw-sm(48px) 0;
      }
    }
  }

  &-form-addParticipants {
    &-list {
      margin-top: px2vw-xl(55px);

      @include lg {
        margin-top: px2vw-lg(55px);
      }

      @include md {
        margin-top: px2vw-md(55px);
      }

      @include sm {
        margin-top: px2vw-sm(55px);
      }
    }

    &-invite {
      margin-top: px2vw-xl(45px);

      @include lg {
        margin-top: px2vw-lg(45px);
      }

      @include md {
        margin-top: px2vw-md(45px);
      }

      @include sm {
        margin-top: px2vw-sm(45px);
      }
    }
  }

  &-info {
    flex-grow: 1;

    @include lg {
      width: 100%;
    }

    &-header {
      margin-bottom: px2vw-xl(16px);

      @include lg {
        margin-bottom: px2vw-lg(16px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
        flex-direction: column;
      }
    }

    &-title {
      margin-bottom: 0;
      font-family: "stc-forward-bold", sans-serif;
      font-size: px2vw-xl(28px);
      line-height: px2vw-xl(40px);

      @include lg {
        font-size: px2vw-lg(28px);
        line-height: px2vw-lg(40px);
      }

      @include md {
        font-size: px2vw-md(28px);
        line-height: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
        font-size: px2vw-sm(28px);
        line-height: px2vw-sm(40px);
      }
    }

    &-button {
      margin-left: px2vw-xl(15px);
      border-radius: px2vw-xl(10px);
      padding: px2vw-xl(14px) px2vw-xl(18px);
      background-color: rgba(0, 0, 0, 0.2);
      transition: 100ms linear;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      @include lg {
        margin-left: px2vw-lg(15px);
        border-radius: px2vw-lg(10px);
        padding: px2vw-lg(14px) px2vw-lg(18px);
      }

      @include md {
        margin-left: px2vw-md(15px);
        border-radius: px2vw-md(10px);
        padding: px2vw-md(14px) px2vw-md(18px);
      }

      @include sm {
        margin-left: 0;
        border-radius: px2vw-sm(10px);
        padding: px2vw-sm(14px) px2vw-sm(18px);
      }
    }

    &-button-text {
      margin-bottom: 0;
      color: var(--base-white);
    }

    &-button-icon {
      margin-left: px2vw-xl(30px);
      width: px2vw-xl(24px);

      @include lg {
        margin-left: px2vw-lg(30px);
        width: px2vw-lg(24px);
      }

      @include md {
        margin-left: px2vw-md(30px);
        width: px2vw-md(24px);
      }

      @include sm {
        margin-left: px2vw-sm(30px);
        width: px2vw-sm(24px);
      }
    }

    &-subtitle {
      margin-bottom: px2vw-xl(25px);
      color: var(--base-white);

      @include lg {
        margin-bottom: px2vw-lg(25px);
      }

      @include md {
        margin-bottom: px2vw-md(25px);
      }

      @include sm {
        margin-bottom: px2vw-sm(25px);
      }
    }

    &-image {
      border-radius: px2vw-xl(10px);
      background-color: var(--base-black);
      background-size: cover;
      height: px2vw-xl(285px);
      width: 100%;

      @include lg {
        border-radius: px2vw-lg(10px);
        height: px2vw-lg(340px);
      }

      @include md {
        border-radius: px2vw-md(10px);
        height: px2vw-md(320px);
      }

      @include sm {
        border-radius: px2vw-sm(10px);
        height: px2vw-sm(300px);
      }
    }

    &-publish-buttons {
      margin-top: px2vw-xl(50px);

      @include lg {
        margin-top: px2vw-lg(50px);
      }

      @include md {
        margin-top: px2vw-md(50px);
      }

      @include sm {
        margin-top: px2vw-sm(50px);
      }
    }
  }

  &-basic {
    margin-top: px2vw-xl(36px);
    border-top: 1px solid var(--primary-purple);
    padding-top: px2vw-xl(46px);

    @include lg {
      margin-top: px2vw-lg(36px);
      padding-top: px2vw-lg(46px);
    }

    @include md {
      margin-top: px2vw-md(36px);
      padding-top: px2vw-md(46px);
    }

    @include sm {
      margin-top: px2vw-sm(36px);
      padding-top: px2vw-sm(46px);
    }

    &-title {
      margin-bottom: px2vw-xl(36px);

      @include lg {
        margin-bottom: px2vw-lg(36px);
      }

      @include md {
        margin-bottom: px2vw-md(36px);
      }

      @include sm {
        margin-bottom: px2vw-sm(36px);
      }
    }

    &-form {
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0;
      grid-row-gap: px2vw-xl(30px);

      @include lg {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: px2vw-lg(30px);
        grid-row-gap: px2vw-lg(30px);
      }

      @include md {
        grid-template-columns: minmax(0, 1fr);
        grid-column-gap: 0;
        grid-row-gap: px2vw-md(30px);
      }

      @include sm {
        grid-row-gap: px2vw-sm(30px);
      }
    }
  }
}
