<app-header-info></app-header-info>

<div class="HeaderInfo-Top small">
  <div class="u-wp">
    <div class="TeamRegistration">
      <div class="TeamRegistration-container">
        <app-new-team
          *ngIf="teamRegistrationActiveStep === 0"
          [teams]="teamList"
          (submit)="selectedTeam($event)"
        ></app-new-team>

        <app-select-teammates
          *ngIf="teamRegistrationActiveStep === 1 && teamMemberList"
          [team]="teamSelected"
          [members]="teamMemberList"
          [tournament]="tournament"
        >
        </app-select-teammates>
      </div>

      <app-about-tournament
        [tournament]="tournament"
        [prizeSum]="prizeSum"
      ></app-about-tournament>
    </div>
  </div>
</div>
