@import "shared";
@import "../../../scss/components/create-team";

:host {
  display: block;
}

.TeamRegistration {
  display: grid;
  grid-template-columns: px2vw-xl(870px) minmax(0, px2vw-xl(394px));
  grid-template-rows: 1fr;
  grid-column-gap: px2vw-xl(88px);
  justify-content: center;

  @include lg {
    grid-template-columns: 1fr;
    grid-template-columns: px2vw-lg(600px) minmax(0, px2vw-lg(300px));
    grid-column-gap: px2vw-xl(80px);
    grid-row-gap: px2vw-lg(40px);
  }

  @include md {
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: px2vw-md(40px);
    grid-column-gap: 0;
  }

  @include sm {
    grid-row-gap: px2vw-sm(40px);
  }
}
