<esports-loading *ngIf="isLoading"></esports-loading>

<div *ngIf="showGameTable" class="GameConfigurations-main">
  <div class="GameConfigurations-boxB">
    <div class="GameConfigurations-footer-btns">
      <button (click)="toggleGamePanel()" class="global-EditBtn is-sm">
        <span class="material-icons">add</span>
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_GAME" | translate }}
      </button>
    </div>

    <div class="GameConfigurations-searchBox">
      <div class="GameConfigurations-search Admin-search">
        <mat-icon>search</mat-icon>
        <input
          (keyup)="searchByValueFilter($event)"
          type="search"
          placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
        />
      </div>
    </div>

    <div class="global-scrollbar">
      <div *ngIf="showGameTable">
        <ngx-datatable
          #table
          class="global-DataTable"
          [columnMode]="'flex'"
          [columns]="columnsFirstTab"
          [footerHeight]="'auto'"
          [headerHeight]="'auto'"
          [limit]="50"
          [rowHeight]="'auto'"
          [rows]="rowsFirstTab"
        >
          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.NAME' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.name }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [flexGrow]="3"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.BRACKET_TYPES' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <ng-container
                *ngFor="
                  let item of row['bracketTypes'] | keyvalue;
                  let isFirst = first;
                  let isLast = last
                "
              >
                <span *ngIf="item.value">
                  {{ item.key | bracket | translate }}
                  {{ !isFirst && isLast ? "" : "," }}
                </span>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.PLATFORMS' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngFor="let item of row['platform']; let isLast = last">
                {{ item.name }}{{ isLast ? "" : ", " }}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ORDER' | translate
            }}"
          >
            <ng-template
              let-rowIndex="rowIndex"
              let-row="row"
              ngx-datatable-cell-template
            >
              <input
                class="GameConfigurations-boxB-item-input-order"
                (focusout)="updateRow($event, 'order', row,rowIndex)"
                [disabled]="!isEditable[rowIndex]"
                [value]="row.order ? row.order : ''"
                id="orderInput"
                type="number"
              />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [flexGrow]="2" name="">
            <ng-template
              let-row="row"
              let-rowIndex="rowIndex"
              ngx-datatable-cell-template
            >
              <button
                class="Admin-tableBtn"
                [matMenuTriggerFor]="menu"
                mat-icon-button
                color="primary"
              >
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu" yPosition="above">
                <button
                  class="GameConfigurations-tableBtn w-100"
                  mat-icon-button
                  matTooltip="{{ 'ADMIN_TOOLTIP.MANAGE' | translate }}"
                  color="primary"
                  (click)="editGame(row)"
                >
                  <mat-icon class="GameConfigurations-tableBtn"
                    >settings</mat-icon
                  >
                </button>
                <button
                  class="GameConfigurations-tableBtn w-100"
                  mat-icon-button
                  matTooltip="{{ 'ADMIN_TOOLTIP.EDIT' | translate }}"
                  color="primary"
                  (click)="
                    this.isEditable = {};
                    this.isEditable[rowIndex] = !this.isEditable[rowIndex]
                  "
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-menu>
              <!-- <button
                class="GameConfigurations-tableBtn"
                (click)="onRemoveGame(row['_id'])"
                mat-icon-button
                color="primary"
              >
                <mat-icon>remove_circle</mat-icon>
              </button> -->
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<div class="GameConfigurations-main" *ngIf="!showGameTable">
  <div class="GameConfigurations-boxA">
    <div class="GameConfigurations-boxA-item is-first">
      <div class="global-Text">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_LOGO" | translate }}
      </div>

      <input
        type="file"
        id="logofileUpload"
        style="opacity: 0; height: 0px; width: 0px;"
      />

      <div
        #logoUpload
        id="logoUpload"
        class="GameConfigurations-boxA-item-upload"
      >
        <div class="GameConfigurations-boxA-item-upload-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_LOGO" | translate }} <br />
          <button (click)="logoUploader()" class="global-EditBtn is-sm is-edit">
            {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="GameConfigurations-boxA-item is-first">
      <div class="global-Text">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_IMAGE" | translate }}
      </div>

      <input
        id="imagefileUpload"
        type="file"
        style="opacity: 0; height: 0px; width: 0px;"
      />
      <div
        class="GameConfigurations-boxA-item-upload"
        #imageUpload
        id="imageUpload"
      >
        <div class="GameConfigurations-boxA-item-upload-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.IMAGE" | translate }} <br />
          <button
            class="global-EditBtn is-sm is-edit"
            (click)="imageUploader()"
          >
            {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
          </button>
        </div>
      </div>
    </div>
    
    <div class="GameConfigurations-bracket-box">
      <div class="GameConfigurations-boxA-item" *ngFor="let b of type | keyvalue">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label switch-text-label">
              {{ b?.key | bracket | translate }}
            </label>

            <label class="switch">
              <input
                class="form-check-input"
                (change)="emitChangedValue($event, b?.key)"
                [checked]="type[b?.key]"
                type="checkbox"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="GameConfigurations-boxC">
    <div class="GameConfigurations-boxB-item">
      <mat-form-field
        class="global-MatInputOutline LogReg-input"
        appearance="outline"
      >
        <mat-label>
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.NAME" | translate }}
        </mat-label>

        <input
          id="name"
          [(ngModel)]="name"
          autocomplete="off"
          matInput
          type="text"
        />
      </mat-form-field>
    </div>

    <div class="GameConfigurations-boxB-item" style="margin-top: 5px;">
      <label class="form-check-label switch-text-label">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.PLATFORMS" | translate }}
      </label>

      <span *ngIf="platformsError" class="platformsError">*</span>

      <div class="GameConfigurations-boxB-menu">
              <ng-select
          [items]="platformList"
          bindLabel="itemName"
          bindValue="id"
          [(ngModel)]="selectedItems"
          [multiple]="true"
          (onDeSelect)="OnItemDeSelect($event)"
          (onDeSelectAll)="onDeSelectAll($event)"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
      </ng-select>
      </div>
    </div>
  </div>

  <div class="GameConfigurations-boxA">
    <div class="GameConfigurations-boxA-item">
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label switch-text-label">
            {{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.AVAIL_FOR_TOURNAMENT"
                | translate
            }}
          </label>

          <label class="switch">
            <input
              class="form-check-input"
              (change)="emitChangedValue($event, 'isTournamentAllowed')"
              [checked]="isTournamentAllowed"
              type="checkbox"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="GameConfigurations-footer-btns">
    <button class="global-EditBtn is-sm dark-text" (click)="toggleGamePanel()">
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.CANCEL" | translate }}
    </button>

    <button class="global-EditBtn is-sm" (click)="saveGame()">
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.SAVE" | translate }}
    </button>
  </div>
</div>
