<section id="register-section" style="background-color: #000;">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-xl-6">
        <a routerLink="/"
          ><img src="assets/images/Register/logo.png" alt="logo" class="logo" />
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-xl-6 text-center col6">
        <!-- login page start -->
        <div class="login-main-div" *ngIf="login">
          <form
            class=""
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit(loginForm.value)"
          >
            <div class="first-register">
              <h1 class="regis-red-color">{{ "login.LOGIN" | translate }}</h1>
              <h6 class="wel-text">
                {{ "login.WELCOME_BACK_GAMER" | translate }}
              </h6>

              <div class="row register-row">
                <div class="col-md-12 row-phone">
                  <div class="form-group">
                    <div *ngIf="didFail" class="error">
                      <strong>{{ message }}</strong>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="number"
                      formControlName="phoneno"
                      id="phoneno"
                      class="form-control"
                      required
                    />
                    <label class="form-control-placeholder" for="phoneno">
                      {{ "login.PHONE_NUMBER" | translate }}</label
                    >
                    <span class="usericon">
                      <fa-icon [icon]="faPhone" class="user-color"></fa-icon>
                    </span>
                    <div
                      class="error"
                      *ngIf="isControlHasError('phoneno', 'required')"
                    >
                      <strong>
                        {{
                          "login.PLEASE_PROVIDE_VALID_PHONE" | translate
                        }}</strong
                      >
                    </div>
                    <div
                      class="error"
                      *ngIf="isControlHasError('phoneno', 'minlength')"
                    >
                      <strong>
                        {{ "login.MINIMUM_FIELD_LENGTH" | translate }}</strong
                      >
                    </div>
                    <div
                      class="error"
                      *ngIf="isControlHasError('phoneno', 'maxlength')"
                    >
                      <strong>
                        {{ "login.MAXIMUM_FIELD_LENGTH" | translate }}</strong
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-12 row-pass">
                  <div class="form-group">
                    <input
                      type="password"
                      formControlName="password"
                      id="login-Password"
                      class="form-control"
                      required
                    />
                    <label
                      class="form-control-placeholder"
                      for="login-Password"
                    >
                      {{ "login.PASSWORD" | translate }}</label
                    >
                    <span class="usericon">
                      <fa-icon [icon]="faLock" class="user-color"></fa-icon>
                    </span>
                    <div
                      class="error"
                      *ngIf="isControlHasError('password', 'required')"
                    >
                      <strong>
                        {{
                          "login.PLEASE_PROVIDE_VALID_PASSWORD" | translate
                        }}</strong
                      >
                    </div>
                    <div
                      class="error"
                      *ngIf="isControlHasError('password', 'minlength')"
                    >
                      <strong>
                        {{ "login.MINIMUM_FIELD_LENGTH" | translate }}</strong
                      >
                    </div>
                    <div
                      class="error"
                      *ngIf="isControlHasError('password', 'maxlength')"
                    >
                      <strong>
                        {{ "login.MAXIMUM_FIELD_LENGTH" | translate }}</strong
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-12 div-keep-me">
                  <div class="">
                    <span class="float-left"
                      ><input
                        type="checkbox"
                        id="vehicle1"
                        name="vehicle1"
                        value="Bike"
                      />
                      <label for="vehicle1">
                        &nbsp;{{ "login.KEEP_ME_LOGGED_IN" | translate }}</label
                      >
                    </span>
                    <span class="float-right">
                      <a (click)="forgot_password()">
                        {{ "login.FORGOT_PASSWORD" | translate }}
                      </a></span
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <button
                      type="submit"
                      [disabled]="loading"
                      class="btn btn-primary"
                    >
                      {{ "login.SUBMIT" | translate }}
                      <span
                        *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"
                      ></span>
                    </button>
                  </div>
                </div>
                <div class="col-md-12">
                  <p>
                    {{ "login.OR" | translate }} <br />
                    <br />
                    {{ "login.LOGIN_USING_SOCIAL_ACCOUNT" | translate }}
                  </p>
                </div>
                <div class="col-md-12 social-reg">
                  <div class="d-inline-flex">
                    <app-social-media-login></app-social-media-login>
                    <div class="form-group">
                      <a class="link-img" routerLink="/login-email">
                        <img src="assets/images/Register/mail.png" alt="Email"
                      /></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group have-acc">
                    <p>
                      {{ "login.DO_NOT_HAVE_AN_ACCOUNT" | translate }}
                      <a class="red-color" routerLink="/register">{{
                        "login.REGISTER_NOW" | translate
                      }}</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- login page end -->
        <!-- third Step start -->
        <div class="thirdstep" *ngIf="forgotOTP">
          <h1 class="regis-red-color">
            {{ "FORGOT_PASSWORD.HEADER" | translate }}
          </h1>
          <h6 class="wel-text1">
            {{ "FORGOT_PASSWORD.SUB_HEADER1" | translate
            }}{{ this.loginForm.controls.phoneno.value
            }}{{ "FORGOT_PASSWORD.SUB_HEADER2" | translate }}
          </h6>
          <form
            class="second-form"
            [formGroup]="confirmForm"
            (ngSubmit)="onConfirm(confirmForm.value)"
          >
            <div class="form-group">
              <input
                #formRow
                formControlName="code1"
                id="codeBox1"
                type="text"
                maxlength="1"
                (keyup)="keyUpEvent($event, 0)"
              />
              <input
                #formRow
                formControlName="code2"
                id="codeBox2"
                type="text"
                maxlength="1"
                (keyup)="keyUpEvent($event, 1)"
              />
              <input
                #formRow
                formControlName="code3"
                id="codeBox3"
                type="text"
                maxlength="1"
                (keyup)="keyUpEvent($event, 2)"
              />
              <input
                #formRow
                formControlName="code4"
                id="codeBox4"
                type="text"
                maxlength="1"
                (keyup)="keyUpEvent($event, 3)"
              />
              <div *ngIf="didFail" class="error width-100">
                {{ message }}
              </div>
            </div>
            <div class="form-group">
              <p>{{ "register.REGISTER_EXPIRE" | translate }} {{ timeLeft }}</p>
            </div>

            <div class="form-group">
              <button
                type="button"
                type="submit"
                [disabled]="loading"
                class="btn btn-primary mr-top"
              >
                {{ "register.NEXT" | translate }}
              </button>
            </div>
            <div class="form-group" *ngIf="timeLeft == 0">
              {{ "register.DINT_RECEIVE" | translate }}
              <a class="resend" (click)="resendOtp()">
                {{ "register.RESEND" | translate }}
              </a>
            </div>
          </form>
        </div>
        <!-- third step end -->
        <!-- new password page start -->
        <div class="login-main-div" *ngIf="newPassword">
          <form
            class=""
            [formGroup]="newPasswordForm"
            (ngSubmit)="onPasswordSubmit(newPasswordForm.value)"
          >
            <div class="first-register">
              <h1 class="regis-red-color">
                {{ "FORGOT_PASSWORD.RESET" | translate }}
              </h1>

              <div class="row register-row">
                <div class="col-md-12 row-phone">
                  <div class="form-group"></div>
                  <div class="form-group">
                    <input
                      [type]="fieldTextType ? 'text' : 'password'"
                      formControlName="password"
                      id="createPassword"
                      class="form-control"
                      required
                    />
                    <label
                      class="form-control-placeholder"
                      for="createPassword"
                    >
                      {{ "register.LABEL_CREATE_PASSWORD" | translate }}</label
                    >
                    <span class="usericon">
                      <fa-icon
                        *ngIf="fieldTextType"
                        [icon]="faEyeSlash"
                        (click)="toggleFieldTextType()"
                      ></fa-icon>
                      <fa-icon
                        *ngIf="!fieldTextType"
                        [icon]="faEye"
                        (click)="toggleFieldTextType()"
                      ></fa-icon>
                    </span>
                    <div
                      class="error"
                      *ngIf="isPasswordControlHasError('password', 'required')"
                    >
                      <strong>
                        {{
                          "register.PLEASE_PROVIDE_A_VALID_PASSWORD" | translate
                        }}</strong
                      >
                    </div>
                    <div
                      class="error"
                      *ngIf="isPasswordControlHasError('password', 'minlength')"
                    >
                      <strong>
                        {{
                          "register.PASSWORD_MINIMUM_FIELD_LENGTH" | translate
                        }}</strong
                      >
                    </div>
                    <div
                      class="error"
                      *ngIf="isPasswordControlHasError('password', 'maxlength')"
                    >
                      <strong>{{
                        "register.PASSWORD_MAXIMUM_FIELD_LENGTH" | translate
                      }}</strong>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 row-pass">
                  <div class="form-group">
                    <input
                      [type]="rfieldTextType ? 'text' : 'password'"
                      formControlName="rpassword"
                      id="confirmPassword"
                      class="form-control"
                      required
                    />
                    <label
                      class="form-control-placeholder"
                      for="confirmPassword"
                      >{{ "register.CONFIRM_PASSWORD" | translate }}</label
                    >
                    <span class="usericon">
                      <fa-icon
                        *ngIf="rfieldTextType"
                        [icon]="faEyeSlash"
                        (click)="rtoggleFieldTextType()"
                      ></fa-icon>
                      <fa-icon
                        *ngIf="!rfieldTextType"
                        [icon]="faEye"
                        (click)="rtoggleFieldTextType()"
                      ></fa-icon>
                    </span>
                    <div
                      class="error"
                      *ngIf="isPasswordControlHasError('rpassword', 'required')"
                    >
                      <strong>
                        {{
                          "register.PLEASE_PROVIDE_A_VALID_REPEAT_PASSWORD"
                            | translate
                        }}</strong
                      >
                    </div>
                    <div
                      class="error"
                      *ngIf="
                        isPasswordControlHasError('rpassword', 'minlength')
                      "
                    >
                      <strong>{{
                        "register.PASSWORD_MINIMUM_FIELD_LENGTH" | translate
                      }}</strong>
                    </div>
                    <div
                      class="error"
                      *ngIf="
                        isPasswordControlHasError('rpassword', 'maxlength')
                      "
                    >
                      <strong>{{
                        "register.PASSWORD_MAXIMUM_FIELD_LENGTH" | translate
                      }}</strong>
                    </div>
                    <div *ngIf="didFail" class="error">
                      <strong>{{ message }}</strong>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <button
                      type="submit"
                      [disabled]="loading"
                      class="btn btn-primary"
                    >
                      {{ "FORGOT_PASSWORD.CHANGE_PASSWORD_BTN" | translate }}
                      <span
                        *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"
                      ></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- new password page end -->
      </div>
    </div>
  </div>
</section>
