@import "shared";
@import "../../../../../../src/scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.SelectPlatform {
  position: relative;
  padding: px2vw-xl(80px) 0 px2vw-xl(160px) 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    padding: px2vw-lg(70px) 0 0 0;
  }

  @include md {
    padding: px2vw-md(64px) 0 0 0;
  }
  @include sm {
    padding: px2vw-sm(40px) 0 0 0;
  }
  &-container {
    min-height: 100vh;
    @extend %u-dfStart;
    flex-direction: column;
    max-width: px2vw-xl(750px);
    padding-top: px2vw-xl(65px);
    padding-bottom: px2vw-xl(40px);
    padding-left: px2vw-xl(24px);
    padding-right: px2vw-xl(24px);
    margin: 0 auto;
    width: 100%;
    @include lg{
      max-width: px2vw-lg(750px);
    padding-top: px2vw-lg(65px);
    padding-bottom: px2vw-lg(40px);
    padding-left: px2vw-lg(24px);
    padding-right: px2vw-lg(24px);
    }
    @include md {
      max-width: 100%;
      padding: px2vw-md(56px) px2vw-md(153px) px2vw-md(260px);
    }

    @include sm {
      max-width: 100%;
      padding: px2vw-sm(20px) px2vw-sm(24px) px2vw-sm(40px);
    }
  }

  &-title {
    @extend %global-title;
    text-transform: none;
    margin-bottom: px2vw-xl(31px);

    @include lg {
      margin-bottom: px2vw-lg(31px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-cards {
    margin-bottom: px2vw-xl(70px);
    // display: grid;
    // grid-template-columns: repeat(3, minmax(0, px2vw-xl(260px)));
    // grid-template-rows: 1fr;
    // grid-column-gap: px2vw-xl(32px);
    // grid-row-gap: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(70px);
      // grid-template-columns: repeat(3, minmax(0, px2vw-lg(260px)));
      // grid-column-gap: px2vw-lg(32px);
      // grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(70px);
      // grid-template-columns: repeat(3, minmax(0, px2vw-md(260px)));
      // grid-column-gap: px2vw-md(32px);
      // grid-row-gap: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(320px);
      // grid-template-columns: repeat(2, minmax(0, px2vw-sm(260px)));
      // grid-column-gap: px2vw-sm(32px);
      // grid-row-gap: px2vw-sm(32px);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: px2vw-xl(4px);
    border: px2vw-xl(1px) solid transparent;
    padding: px2vw-xl(43px) px2vw-xl(22px) px2vw-xl(22px);
    background-color: var(--black-disabled);
    cursor: pointer;
    transition: 200ms linear;

    @include lg {
      border: px2vw-lg(1px) solid transparent;
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(43px) px2vw-lg(22px) px2vw-lg(22px);
    }

    @include md {
      border: px2vw-md(1px) solid transparent;
      border-radius: px2vw-md(4px);
      padding: px2vw-md(43px) px2vw-md(22px) px2vw-md(22px);
    }

    @include sm {
      border: px2vw-sm(1px) solid transparent;
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(43px) px2vw-sm(22px) px2vw-sm(22px);
    }

    &:hover {
      background-color: var(--black-disabled);
      .icon {
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--secondary-color);
        }
      }
    }

    &.is-active {
      border-color: var(--primary-sunset-light);

      .icon {
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--secondary-color);
        }
      }

      .text {
        color: var(--primary-sunset-light);
      }
    }
  }

  &-card-icon {
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    ::ng-deep svg path {
      transition: 200ms linear;
      fill: var(--tolopea-color);
    }
  }

  &-card-text {
    margin-bottom: 0;
    color: var(--base-white);
    transition: 200ms linear;
    font-size: px2vw-xl(22px);
    @include lg {
      font-size: px2vw-lg(22px);
    }
    @include md {
      font-size: px2vw-md(22px);
    }
    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-switcher-container {
    margin-top: auto;
  }
}
.ss-dlect-platform {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  @include lg {
    margin-bottom: px2vw-lg(6px);
  }
  @include md {
    margin-bottom: px2vw-md(6px);
  }
  @include sm {
    margin-bottom: px2vw-sm(6px);
  }

  .SelectTeams_header_link {
    @extend %global-textSm;
    display: flex;
    align-items: flex-end;
    color: var(--tolopea-medium-color);
    transition: $global-transition2;
    margin-bottom: px2vw-xl(11px);
    @include lg{
      margin-bottom: px2vw-lg(11px);
    }
    @include md{
      margin-bottom: px2vw-md(11px);
    }
    @include sm{
      margin-bottom: px2vw-sm(11px);
    }
  }
  .lists-cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    @include md {
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    .item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      max-width: px2vw-xl(189px);
      height: px2vw-xl(132px);
      background: var(--blackcurrant-color-medium);
      border: px2vw-xl(1px) solid var(--color-black-medium);
      border-radius: px2vw-xl(8px);
      padding: px2vw-xl(10px) 0px px2vw-xl(10px);
      cursor: pointer;
      margin-bottom: px2vw-xl(24px);
      @include lg {
        max-width: px2vw-lg(189px);
        margin-bottom: px2vw-lg(16px);
        height: px2vw-lg(132px);
        padding: px2vw-lg(19px) 0px px2vw-lg(14px);
      }
      @include md {
        max-width: px2vw-md(189px);
        margin-bottom: px2vw-md(16px);
        height: px2vw-md(132px);
        padding: px2vw-md(19px) 0px px2vw-md(14px);
      }

      @include sm {
        max-width: calc(50% - 8px);
        height: px2vw-sm(112px);
      }

      &:nth-child(3n + 2) {
        margin: 0 px2vw-xl(24px) px2vw-xl(20px);
        @include lg {
          margin: 0 0 px2vw-lg(20px);
        }
        @include md {
          margin: 0 0 px2vw-md(20px);
        }
        @include sm {
          margin: 0 0 px2vw-sm(20px);
        }
      }
      .icon {
        display: inline-block;
        margin-bottom: px2vw-xl(10px);
        width: 100%;
        text-align: center;
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--txt-secondry-border);
        }
        @include lg {
          margin-bottom: px2vw-lg(8px);
        }
        @include md {
          margin-bottom: px2vw-md(8px);
        }
        @include sm {
          margin-bottom: px2vw-sm(8px);
        }
      }
      .text {
        @extend %global-textSm;
        text-align: center;
        color: var(--white);
      }
      &.active {
        background: var(--txt-secondry-border);
        .icon {
          ::ng-deep svg path {
            transition: 200ms linear;
            fill: var(--white);
          }
        }
      }
      &:hover {
        border-color: var(--txt-secondry-border);
      }
    }
  }
}
.ss-tournament-type {
  width: 100%;
  position: relative;
  .SelectTeams_header_link {
    @extend %global-textSm;
    display: flex;
    align-items: flex-end;
    color: var(--tolopea-medium-color);
    transition: $global-transition2;
    margin-bottom: px2vw-xl(16px);
    @include lg {
      margin-bottom: px2vw-lg(16px);
    }
    @include md {
      margin-bottom: px2vw-md(12px);
    }
    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }
  .lists-cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    @include md {
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    .item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      max-width: px2vw-xl(189px);
      height: px2vw-xl(132px);
      background: var(--blackcurrant-color-medium);
      border: px2vw-xl(1px) solid var(--color-black-medium);
      border-radius: px2vw-xl(8px);
      padding: px2vw-xl(10px) 0px px2vw-xl(10px);
      cursor: pointer;
      margin-bottom: px2vw-xl(24px);
      @include lg {
        max-width: px2vw-lg(189px);
        margin-bottom: px2vw-lg(16px);
        height: px2vw-lg(132px);
        padding: px2vw-lg(19px) 0px px2vw-lg(14px);
      }
      @include md {
        max-width: px2vw-md(189px);
        margin-bottom: px2vw-md(16px);
        height: px2vw-md(132px);
        padding: px2vw-md(19px) 0px px2vw-md(14px);
      }

      @include sm {
        max-width: calc(50% - 8px);
        height: px2vw-sm(112px);
      }

      &:nth-child(3n + 2) {
        margin: 0 px2vw-xl(24px) px2vw-xl(20px);
        @include lg {
          margin: 0 0 px2vw-lg(20px);
        }
        @include md {
          margin: 0 0 px2vw-md(20px);
        }
        @include sm {
          margin: 0 0 px2vw-sm(20px);
        }
      }
      .icon {
        display: inline-block;
        margin-bottom: px2vw-xl(10px);
        width: 100%;
        text-align: center;
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--txt-secondry-border);
        }
        @include lg {
          margin-bottom: px2vw-lg(10px);
        }
        @include sm {
          margin-bottom: px2vw-md(10px);
        }
        @include sm {
          margin-bottom: px2vw-sm(8px);
        }
      }
      .text {
        @extend %global-textSm;
        text-align: center;
        color: var(--white);
      }
      &.active {
        background: var(--txt-secondry-border);
        .icon {
          ::ng-deep svg path {
            transition: 200ms linear;
            fill: var(--white);
          }
        }
      }
      &:hover {
        border-color: var(--txt-secondry-border);
      }
    }
  }
}
.SelectPlatform-team-tournament-type {
  position: relative;
  width: 100%;
  margin-top: px2vw-xl(27px);
  padding-top: px2vw-xl(24px);
  border-top: px2vw-xl(1px) solid var(--color-black-medium);
  display: none;
  @include lg{
    margin-top: px2vw-lg(27px);
    padding-top: px2vw-lg(24px);
  }
  @include md{
    margin-top: px2vw-md(27px);
    padding-top: px2vw-md(24px);
  }
  @include sm{
    margin-top: px2vw-sm(27px);
    padding-top: px2vw-sm(24px);
  }
  &.active {
    display: block;
  }
  .heading {
    margin-bottom: px2vw-xl(24px);
    @include lg{
      margin-bottom: px2vw-lg(24px);
    }
    @include md{
      margin-bottom: px2vw-md(24px);
    }
    @include sm{
      margin-bottom: px2vw-sm(24px);
    }
    .title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(18px);
      letter-spacing: px2vw-xl(0.5px);
      color: var(--color-white-medium);
      @include lg{
        font-size: px2vw-lg(18px);
        letter-spacing: px2vw-lg(0.5px);
      }
      @include md{
        font-size: px2vw-md(18px);
        letter-spacing: px2vw-md(0.5px);
      }
      @include sm{
        font-size: px2vw-sm(18px);
        letter-spacing: px2vw-sm(0.5px);
      }
    }
  }
  .SelectTeams_header_link {
    margin-bottom: px2vw-xl(12px);
    @include lg{
      margin-bottom: px2vw-lg(12px);
    }
    @include md{
      margin-bottom: px2vw-md(12px);
    }
    @include sm{
      margin-bottom: px2vw-sm(12px);
    }
  }
  .SelectPlatform-teamDropdown {
    &:hover,
    &.show {
      .SelectPlatform-teamBtn {
        border: px2vw-xl(1px) solid var(--txt-secondry-border);
        @include lg{
          border: px2vw-lg(1px) solid var(--txt-secondry-border);
        }
        @include md{
          border: px2vw-md(1px) solid var(--txt-secondry-border);
        }
        @include sm{
          border: px2vw-sm(1px) solid var(--txt-secondry-border);
        }
      }
    }
    .SelectPlatform-teamBtn {
      background: var(--blackcurrant-color-medium);
      border: px2vw-xl(1px) solid var(--midnight-express-color);
      box-sizing: border-box;
      border-radius: px2vw-xl(4px);
      width: 100%;
      text-align: left;
      padding: px2vw-xl(8px) px2vw-xl(8px);
      @extend %global-textSm;
      color: var(--tertiary-color);
      text-transform: none;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
@include lg{
  border: px2vw-lg(1px) solid var(--midnight-express-color);
  border-radius: px2vw-lg(4px);
  padding: px2vw-lg(8px) px2vw-lg(8px);
}
@include lg{
  border: px2vw-md(1px) solid var(--midnight-express-color);
  border-radius: px2vw-md(4px);
  padding: px2vw-md(8px) px2vw-md(8px);
}
@include sm{
  border: px2vw-sm(1px) solid var(--midnight-express-color);
  border-radius: px2vw-sm(4px);
  padding: px2vw-sm(8px) px2vw-sm(8px);
}
      &.active {
        color: var(--white);
      }
      &::after {
        display: inline-block;
        margin-left: 0;
        vertical-align: 0;
        content: "";
        border-top: px2vw-xl(1px) solid var(--txt-secondry-border);
        border-right: px2vw-xl(1px) solid var(--txt-secondry-border);
        border-bottom: 0;
        border-left: 0;
        width: px2vw-xl(6px);
        height: px2vw-xl(6px);
        transform: rotate(135deg);
        transition: $global-transition2;
        @include lg{
          border-top: px2vw-lg(1px) solid var(--txt-secondry-border);
        border-right: px2vw-lg(1px) solid var(--txt-secondry-border);
        width: px2vw-lg(6px);
        height: px2vw-lg(6px);
        }
        @include md{
          border-top: px2vw-md(1px) solid var(--txt-secondry-border);
        border-right: px2vw-md(1px) solid var(--txt-secondry-border);
        width: px2vw-md(6px);
        height: px2vw-md(6px);
        }
        @include sm{
          border-top: px2vw-sm(1px) solid var(--txt-secondry-border);
        border-right: px2vw-sm(1px) solid var(--txt-secondry-border);
        width: px2vw-sm(6px);
        height: px2vw-sm(6px);
        }

      }
    }
    .SelectPlatform-teamDropdownItem {
      top: px2vw-xl(35px) !important;
      transform: none !important;
      width: 100%;
      z-index: 2;
      box-sizing: border-box;
      border-radius: px2vw-xl(4px);
      padding: px2vw-xl(10px) px2vw-xl(10px);
      background: var(--midnight-express-color);
      border: px2vw-xl(1px) solid var(--midnight-express-color);
      padding-left: 0;
      padding-right: 0;
      max-height: px2vw-xl(90px);
      overflow: hidden;
      overflow-y: auto;
      @include lg{
        top: px2vw-lg(35px) !important;
        border-radius: px2vw-lg(4px);
        padding: px2vw-lg(10px) px2vw-lg(10px);
        max-height: px2vw-lg(90px);
      }
      @include md{
        top: px2vw-md(35px) !important;
        border-radius: px2vw-md(4px);
        padding: px2vw-md(10px) px2vw-md(10px);
        max-height: px2vw-md(90px);
      }
      @include sm{
        top: px2vw-sm(35px) !important;
        border-radius: px2vw-sm(4px);
        padding: px2vw-sm(10px) px2vw-sm(10px);
        max-height: px2vw-sm(90px);
      }
      button {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 500;
        font-size: px2vw-xl(12px);
        line-height: px2vw-xl(10px);
        color: var(--white);
        padding: px2vw-xl(10px) px2vw-xl(16px);
        @include lg{
          font-size: px2vw-lg(12px);
          line-height: px2vw-lg(10px);
          padding: px2vw-lg(10px) px2vw-lg(16px);
        }
        @include md{
          font-size: px2vw-md(12px);
          line-height: px2vw-md(10px);
          padding: px2vw-md(10px) px2vw-md(16px);
        }
        @include sm{
          font-size: px2vw-sm(12px);
          line-height: px2vw-sm(10px);
          padding: px2vw-sm(10px) px2vw-sm(16px);
        }
        &:hover {
          background: var(--color-black-medium);
        }
      }
    }
    &.show {
      .SelectPlatform-teamBtn {
        &::after {
          transform: rotate(315deg);
          transition: $global-transition2;
        }
      }
    }
  }
}

.TournamentTeamLayerLabel {
  label.form-label {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    display: flex;
    align-items: flex-end;
    color: var(--white);
    display: block;
    margin-bottom: px2vw-xl(4px);
    margin-top: px2vw-xl(10px);
    @include lg{
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
      margin-bottom: px2vw-lg(4px);
      margin-top: px2vw-lg(10px);
    }
    @include md{
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
      margin-bottom: px2vw-md(4px);
      margin-top: px2vw-md(10px);
    }
    @include sm{
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      margin-bottom: px2vw-sm(4px);
      margin-top: px2vw-sm(10px);
    }
  }
}

.TournamentTeamLayerInput {
  position: relative;
  width: 96%;
  background: var(--blackcurrant-color-medium);
  border: px2vw-xl(1px) solid var(--midnight-express-color);
  border-radius: px2vw-xl(4px);
  @include lg{
    border: px2vw-lg(1px) solid var(--midnight-express-color);
    border-radius: px2vw-lg(4px);
  }
  @include md{
    border: px2vw-md(1px) solid var(--midnight-express-color);
    border-radius: px2vw-md(4px);
  }
  @include sm{
    border: px2vw-sm(1px) solid var(--midnight-express-color);
    border-radius: px2vw-sm(4px);
  }
  &:focus-within,
  &:hover {
    border-color: var(--txt-secondry-border) !important;
  }
  .input-groud {
    position: relative;
    width: 100%;
    .btn {
      position: absolute;
      width: px2vw-md(10px);
      height: px2vw-md(10px);
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      @include lg{
        width: px2vw-lg(10px);
        height: px2vw-lg(10px);
      }
      @include md{
        width: px2vw-md(10px);
        height: px2vw-md(10px);
      }
      @include sm{
        width: px2vw-sm(10px);
        height: px2vw-sm(10px);
      }
      &.btn-minus {
        left: px2vw-xl(16px);
        @include lg{
          left: px2vw-lg(16px);
        }
        @include md{
          left: px2vw-md(16px);
        }
        @include sm{
          left: px2vw-sm(16px);
        }
        &::before {
          content: "";
          width: 100%;
          height: px2vw-xl(2px);
          background-color: var(--txt-secondry-border);
          @include lg{
            height: px2vw-lg(2px);
          }
          @include md{
            height: px2vw-md(2px);
          }
          @include sm{
            height: px2vw-sm(2px);
          }
        }
      }
      &.btn-plus {
        right: px2vw-xl(16px);
        @include lg{
          right: px2vw-lg(16px);
        }
        @include md{
          right: px2vw-md(16px);
        }
        @include sm{
          right: px2vw-sm(16px);
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: px2vw-xl(2px);
          background-color: var(--txt-secondry-border);
          @include lg{
            height: px2vw-lg(2px);
          }
          @include md{
            height: px2vw-md(2px);
          }
          @include sm{
            height: px2vw-sm(2px);
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: px2vw-xl(2px);
          background-color: var(--txt-secondry-border);
          transform: rotate(90deg);
          @include lg{
            height: px2vw-lg(2px);
          }
          @include md{
            height: px2vw-md(2px);
          }
          @include sm{
            height: px2vw-sm(2px);
          }
        }
      }
    }
  }
  .form-field {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(16px);
    color: var(--white);
    padding: px2vw-xl(14px) px2vw-xl(14px);
    width: 100%;
    text-align: center;
    background-color: transparent;
    @include lg{
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(16px);
      padding: px2vw-lg(14px) px2vw-lg(14px);
    }
    @include md{
      font-size: px2vw-md(16px);
      line-height: px2vw-md(16px);
      padding: px2vw-md(14px) px2vw-md(14px);
    }
    @include sm{
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(16px);
      padding: px2vw-sm(14px) px2vw-sm(14px);
    }
    &::placeholder {
      color: var(--tertiary-color);
    }
  }
  &-field {
    cursor: pointer;
    transition: $global-transition;

    &::placeholder {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 500;
      font-size: px2vw-xl(15px);
      line-height: px2vw-xl(15px);
      @include lg{
        font-size: px2vw-lg(15px);
        line-height: px2vw-lg(15px);
      }
      @include md{
        font-size: px2vw-md(15px);
      line-height: px2vw-md(15px);
      }
      @include sm{
        font-size: px2vw-sm(15px);
      line-height: px2vw-sm(15px);
      }
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }

}
.form-field-radio {
  width: 100%;
  padding-right: px2vw-xl(30px);
  @include lg{
    padding-right: px2vw-lg(30px);
  }
  @include md{
    padding-right: px2vw-md(30px);
  }
  @include sm {
    padding-right: 0;
  }
  .input-group {
    position: relative;
    padding-right: 0;
    @include sm {
      padding-right: px2vw-sm(30px);
    }
    label {
      border: px2vw-xl(1px) solid var(--tertiary-color);
      box-sizing: border-box;
      border-radius: px2vw-xl(5px);
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      padding: px2vw-xl(14px) px2vw-xl(10px);
      margin-bottom: px2vw-xl(15px);
      @include lg{
        border: px2vw-lg(1px) solid var(--tertiary-color);
        border-radius: px2vw-lg(5px);
        padding: px2vw-lg(14px) px2vw-lg(10px);
        margin-bottom: px2vw-lg(15px);
      }
      @include md{
        border: px2vw-md(1px) solid var(--tertiary-color);
        border-radius: px2vw-md(5px);
        padding: px2vw-md(14px) px2vw-md(10px);
        margin-bottom: px2vw-md(15px);
      }
      @include sm {
        padding: px2vw-sm(12px) px2vw-sm(8px);
        margin-bottom: px2vw-sm(15px);
      }
      &:hover {
        border-color: var(--txt-secondry-border);
      }
      &.checked {
        border-color: var(--txt-secondry-border);
        .checkmark {
          border: px2vw-xl(1px) solid var(--txt-secondry-border);
          @include lg{
            border: px2vw-lg(1px) solid var(--txt-secondry-border);
          }
          @include md{
            border: px2vw-md(1px) solid var(--txt-secondry-border);
          }
          @include sm{
            border: px2vw-sm(1px) solid var(--txt-secondry-border);
          }
          &::before {
            content: "";
            background-color: var(--txt-secondry-border);
          }
        }
      }
      input[type="radio"] {
        display: block;
        position: absolute;
    left: px2vw-xl(15px);
    top: px2vw-xl(18px);
    width: px2vw-xl(20px);
    height: px2vw-xl(20px);
    @include lg{
      left: px2vw-lg(15px);
    top: px2vw-lg(18px);
    width: px2vw-lg(20px);
    height: px2vw-lg(20px);
    }
    @include md{
      left: px2vw-md(15px);
    top: px2vw-md(18px);
    width: px2vw-md(20px);
    height: px2vw-md(20px);
    }
    @include sm{
      left: px2vw-sm(15px);
    top: px2vw-sm(18px);
    width: px2vw-s(20px);
    height: px2vw-sm(20px);
    }
      }
      .checkmark {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        // border: px2vw-md(1px) solid var(--tertiary-color);
        box-sizing: border-box;
        border-radius: px2vw-xl(50px);
        width: px2vw-xl(16px);
        height: px2vw-xl(16px);
        margin-right: px2vw-xl(16px);
        @include lg{
          border-radius: px2vw-lg(50px);
          width: px2vw-lg(16px);
          height: px2vw-lg(16px);
          margin-right: px2vw-lg(16px);
        }
        @include md{
          border-radius: px2vw-md(50px);
          width: px2vw-md(16px);
          height: px2vw-md(16px);
          margin-right: px2vw-md(16px);
        }
        @include sm{
          border-radius: px2vw-sm(50px);
          width: px2vw-sm(16px);
          height: px2vw-sm(16px);
          margin-right: px2vw-sm(16px);
        }
        &::before {
          content: none;
          width: px2vw-xl(16px);
          height: px2vw-xl(16px);
          display: inline-block;
          background-color: transparent;
          border-radius: 100%;
          @include lg{
            width: px2vw-lg(16px);
            height: px2vw-lg(16px);
          }
          @include md{
            width: px2vw-md(16px);
          height: px2vw-md(16px);
          }
          @include sm{
            width: px2vw-sm(16px);
          height: px2vw-sm(16px);
          }
        }
        &.checked {
          border: px2vw-xl(1px) solid var(--white);
          @include lg{
            border: px2vw-lg(1px) solid var(--white);
          }
          @include md{
            border: px2vw-md(1px) solid var(--white);
          }
          @include sm{
            border: px2vw-sm(1px) solid var(--white);
          }
          &::before {
            content: "";
            background-color: var(--txt-secondry-border);
          }
        }
      }
      .detail-radio {
        width: 100%;
        max-width: calc(100% - 50px);
      }
      .text-title {
        @extend %global-textSm;
        color: var(--white);
      }
      .text-des {
        @extend %global-textSm;
        font-weight: 500;
        color: var(--white);
      }
    }
    .icon {
      position: absolute;
      top: px2vw-xl(3px);
      right: px2vw-xl(-27px);
      width: px2vw-xl(20px);
      height: px2vw-xl(20px);
      border-radius: 100%;
      @include lg{
        top: px2vw-lg(3px);
        right: px2vw-lg(-27px);
        width: px2vw-lg(20px);
        height: px2vw-lg(20px);
      }
      @include md{
        top: px2vw-md(3px);
        right: px2vw-md(-27px);
        width: px2vw-md(20px);
        height: px2vw-md(20px);
      }
      @include sm {
        top: px2vw-sm(3px);
        width: px2vw-sm(20px);
        height: px2vw-sm(20px);
        right: 0;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}
.form-field-radio .input-group label .checkmark:before {
  content: none;
  width: 1.5645371578vw;
  height: 1.5645371578vw;
  display: inline-block;
  background-color: transparent;
  border-radius: 100%;
}
