<div class="EarnPoints">
  <header class="EarnPoints-header">
    <img
      class="EarnPoints-header-icon"
      src="assets/global-images/p-logo.svg"
      alt="icon"
    />
    <h3 class="EarnPoints-header-title global-Elipses2">
      {{ title | translate }}
    </h3>
  </header>

  <div class="EarnPoints-info">
    <p class="EarnPoints-info-text">
      {{ points }} {{ "EARN_POINTS.TEXT" | translate }}
    </p>

    <div class="EarnPoints-info-bar">
      <div
        class="EarnPoints-info-progress"
        [style.width]="percents + '%'"
      ></div>
    </div>
  </div>
</div>
