@import "shared";

:host {
  display: block;
  overflow: hidden;
}
.btn {
  font-family: 'Paralucent-Demi';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}
.Banner {
  // background-image: url("../../../assets/images/overview/Mask\ Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: px2vw-xl(500px);
  max-height: 640px;
  @include lg {
    height: px2vw-lg(500px);
  }
  @include md {
    height: px2vw-md(500px);
  }
  @include sm {
    height: px2vw-sm(792.576px);
    margin-top: 10px;
    margin-bottom: 15px;
  }
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }
  &-inner {
    padding: px2vw-xl(83px) 0 0 0;
    @include lg {
      padding: px2vw-lg(83px) 0 0 0;
    }
    @include md {
      padding: px2vw-md(83px) 0 0 0;
    }
    @include sm {
      padding: px2vw-sm(86.016px) 0 0 0;
    }
  }
  &-content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    &-left {
      width: 100%;
      max-width: 485px;

      @include sm {
        max-width: 100%;
      }
      .button-primary {
        @include sm {
          width: 100%;
          justify-content: center;
          background-color: var(--white);
          color: var(--secondary-color);
        }
      }
    }
  }
  .title {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 16px;
    @include md {
      font-size: 40px;
      line-height: 48px;
    }
    @include sm {
      font-size: 40px;
      line-height: 48px;
    }
  }
  .description {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--tolopea-medium-color);
    margin-bottom: 29px;
    @include sm {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }
}
.FeaturedTournament {
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
    @include sm {
      padding: 0;
    }
  }
  &-heading {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: px2vw-xl(16px) 0 px2vw-xl(32px);
    @include lg {
      padding: px2vw-lg(16px) 0 px2vw-lg(32px);
    }
    @include md {
      padding: px2vw-md(16px) 0 px2vw-md(32px);
    }
    @include sm {
      padding: px2vw-sm(24.576px) px2vw-sm(36.864px) px2vw-sm(36.864px);
    }
    .btn {
      @include sm {
        display: none;
      }
    }
  }
  &-content {
    @include sm {
      overflow: hidden;
      overflow-x: auto;
      padding-left: px2vw-sm(36.864px);
      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
    }
  }
  &-cards {
    @include sm {
      display: table;
      width: max-content;
    }
  }

  .title {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 0;
    @include sm {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
.Matchmaking {
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
    @include sm {
      padding: 0;
    }
  }
  &-inner {
    // background-image: url("../../../assets/images/overview/Group\ 29611200.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 62px;
    margin-bottom: 16px;
    padding: px2vw-xl(32px) px2vw-xl(44px);
    height: px2vw-xl(488px);
    max-height: 580px;
    @include lg {
      padding: px2vw-lg(32px) px2vw-lg(44px);
      height: px2vw-lg(488px);
    }
    @include md {
      padding: px2vw-md(32px) px2vw-md(44px);
      height: px2vw-md(488px);
    }
    @include sm {
      padding: 0 px2vw-sm(36.864px) px2vw-sm(24.576px);
      height: px2vw-sm(488px);
      border-radius: 0;
      background-size: 775.95px;
      background-position: bottom;
      margin-top: 43px;
      margin-bottom: 7px;
    }
  }
  .subtitle {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--tolopea-color);
    margin-bottom: 16px;
    @include sm {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
  .title {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 5px;
    @include sm {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 0px;
    }
  }
  .text {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 24px;
    @include sm {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 40px;
    }
  }
  &-SelectPlatform {
    .SelectPlatform-title {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: var(--tolopea-color);
      margin-bottom: 5px;
      padding: 8px 0;
      @include sm {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        padding: 0;
      }
    }
    .SelectPlatform-items-cards {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      grid-gap: 24px;
      @include md {
        gap: 16px;
      }
      @include sm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
      }
    }
    .SelectPlatform-items-card {
      width: 100%;
      max-width: 189px;
      height: 132px;
      border-radius: 8px;
      border: 1px solid var(--midnight-express-color);
      background-color: var(--blackcurrant-color-medium);
      cursor: pointer;
      transition: all 200ms linear;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      flex-direction: column;
      padding: px2vw-xl(32px) 0;
      @include lg {
        padding: px2vw-lg(32px) 0;
      }
      @include md {
        max-width: 138px;
        height: 112px;
        padding: px2vw-md(32px) 0;
      }
      @include sm {
        padding: px2vw-sm(36.864px) 0;
        max-width: 189px;
        height: 132px;
      }
      .icon {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        @include sm {
          margin-bottom: 10px;
        }
        &::ng-deep svg path {
          fill: var(--main-color);
        }
      }
      .SelectPlatform-items-card-name {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: var(--white);
        margin-bottom: 0;
      }
      &:hover,
      &.active {
        border-color: var(--white);
        .SelectPlatform-items-card-name {
          color: var(--main-color);
        }
      }
    }
  }
}
.SectionFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;
  @include md {
    display: block;
  }
  &-inner {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 4px 8px rgba(84, 110, 122, 0.24);
  }
  &-left {
    width: 100%;
    max-width: 60%;
    background: #5a12aa;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
    height: 56px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 24px;
    .logo {
      max-width: 50%;
      margin-right: 17px;
    }
    .name {
      span {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
      }
    }
  }
  &-right {
    position: relative;
    width: 100%;
    max-width: 40%;
    &::before {
      content: "";
      width: 100%;
      max-width: 85px;
      height: 56px;
      background: -webkit-radial-gradient(100% 0, circle, rgba(0, 0, 0, 0) 36px, #5a12aa 36px),
        -webkit-radial-gradient(0 0%, circle, rgba(0, 0, 0, 0) 36px, #5a12aa 36px);
      background-position: bottom left, bottom right, top right, top left;
      background-size: 43px 100%;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
    }
    &::after {
      content: "";
      width: 100%;
      max-width: calc(100% - 80px);
      height: 56px;
      position: absolute;
      left: 0;
      background: #5a12aa;
    }
    .btn {
      position: absolute;
      box-shadow: 0px 3px 6px rgb(0 0 0 / 10%), 0px 4px 8px rgb(0 0 0 / 8%), 0px 1px 12px rgb(0 0 0 / 4%);
      border-radius: 56px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      width: 56px;
      height: 56px;
      top: -28px;
      right: 15px;
      .icon {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }
  }
}
