@import "shared";

.Phone {
  text-align: center;

  &-title {
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: 40px;
      line-height: 56px;
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(45px);
    color: var(--base-black-pearl);

    @include lg {
      margin-bottom: px2vw-lg(25px);
    }

    @include md {
      margin-bottom: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
      font-size: 18px;
      line-height: 32px;
    }
  }

  &-submit {
    margin-top: px2vw-xl(20px);
    text-align: left;

    @include lg {
      margin-top: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
    }
  }
}

.login-link {
  position: absolute;
  right: px2vw-xl(-10px);
  margin-top: px2vw-xl(40px);
  font-size: 90%;
  cursor: pointer;
}

.test1 {
  margin-top: px2vw-xl(75px);
  text-align: center;
}

::ng-deep {
  .iti {
    display: block;
  }

  .iti__country-name {
    display: none;
  }
}