<form [formGroup]="form" (submit)="onSubmitEvent()" class="SubmitForm test1">
  <div class="Phone-title global-Title">
    {{ data.title | translate }}
  </div>

  <div class="Phone-subtitle global-Text">
    {{ data.subtitle | translate }}
  </div>

  <div class="LogReg-error" *ngIf="data.error">
    {{ data.error | translate }}
  </div>

  <ng-container *ngIf="data.InputType === 'phone'; else notPhone">
    <div class="global-intlTel">
      <ngx-intl-tel-input
        [inputId]="'firstInput'"
        [preferredCountries]="preferredCountries"
        [searchCountryField]="[SearchCountryField.All]"
        [selectedCountryISO]="CountryISO.SaudiArabia"
        [maxLength]="15"
        [enableAutoCountrySelect]="true"
        [selectFirstCountry]="false"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [searchCountryPlaceholder]="
          'PLACEHOLDER.PHONE_SEARCH_CONTRY' | translate
        "
        [separateDialCode]="true"
        [phoneValidation]="true"
        name="firstInput"
        formControlName="firstInput"
        ngxIntlTelPlaceholder="5XXXXXXXX"
      >
      </ngx-intl-tel-input>
      <span
        class="global-intlTel-rightText"
        *ngIf="activeTypeValue === AppHtmlRoutesLoginType.forgotPass"
        (click)="changeInput(data.InputType)"
        >{{ "LOG_REG.FORGOT.FORGOT_BY_EMAIL" | translate }}</span
      >
      <mat-error
        *ngIf="
          form.get('firstInput').touched &&
          form.get('firstInput').hasError('required')
        "
        >{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
      >
      <mat-error
        *ngIf="form.get('firstInput').hasError('validatePhoneNumber')"
        >{{ "LOG_REG.LOGIN.VALIDATION1" | translate }}</mat-error
      >
    </div>
  </ng-container>

  <ng-template #notPhone>
    <mat-form-field
      class="global-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>{{ data.InputPlaceholder | translate }}</mat-label>
      <input formControlName="firstInput" matInput [type]="data.InputType" />
      <button matSuffix mat-button></button>
      <!-- <span
        *ngIf="activeTypeValue === AppHtmlRoutesLoginType.forgotPass"
        class="global-MatInputOutline-hint fix-overflow-right"
        (click)="changeInput(data.InputType)"
        >{{ "LOG_REG.FORGOT.FORGOT_BY_PHONE" | translate }}</span
      > -->
      <mat-error *ngIf="form.get('firstInput').hasError('required')">{{
        "LOG_REG.LOGIN.REQUIRED" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('firstInput').hasError('email')">{{
        "LOG_REG.LOGIN.VALIDATION2" | translate
      }}</mat-error>
    </mat-form-field>
  </ng-template>

  <div class="Phone-submit SubmitForm-submit">
    <button
      type="submit"
      [class.is-edit]="form.invalid"
      [disabled]="form.invalid"
      class="global-EditBtn is-sm"
    >
      {{ data.submitBtn | translate }}
    </button>
  </div>
</form>
