@import "shared";

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: var(--darkgray);
}

.full {
  color: var(--red);
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: var(--red);
}
