@import "shared";

:host {
  display: block;
  width: 100%;
}

.SearchInput {
  &-form {
    display: flex;
    transition: all 100ms linear;
    width: 100%;
    height: px2vw-xl(70px);

    @include lg {
      height: px2vw-lg(70px);
    }

    @include md {
      height: px2vw-md(70px);
    }

    @include sm {
      height: px2vw-sm(70px);
    }

    &-input {
      flex-grow: 1;
      font-family: "source-sans-pro";
      color: var(--base-02);
      padding: 0 px2vw-xl(24px);
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(24px);

      @include lg {
        padding: 0 px2vw-lg(24px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        padding: 0 px2vw-md(24px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        padding: 0 px2vw-sm(24px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }
    }

    &-button {
      height: 100%;
      background-color: var(--base-yellow);
      transition: all 100ms linear;
      width: px2vw-xl(70px);
      transition: 100ms linear;

      @include lg {
        width: px2vw-lg(70px);
      }

      @include md {
        width: px2vw-md(70px);
      }

      @include sm {
        width: px2vw-sm(70px);
      }

      &:hover {
        background-color: var(--base-yellow);
      }

      &-icon {
        height: px2vw-xl(27px);
        width: px2vw-xl(27px);

        @include lg {
          height: px2vw-lg(27px);
          width: px2vw-lg(27px);
        }

        @include md {
          height: px2vw-md(27px);
          width: px2vw-md(27px);
        }

        @include sm {
          height: px2vw-sm(27px);
          width: px2vw-sm(27px);
        }
      }
    }
  }
}
