@import "shared";

:host {
  background: #232120;
  color: var(--whitecolor);
  display: block;
}

.AboutUs-sectionA {
  padding: px2vw-xl(40px) 0 px2vw-xl(64px);

  @include lg {
    padding: px2vw-lg(40px) 0 px2vw-lg(64px);
  }

  @include md {
    padding: px2vw-md(40px) 0 px2vw-md(64px);
  }

  @include sm {
    padding: px2vw-sm(40px) 0 px2vw-sm(64px);
  }

  &-info {
    background-image: linear-gradient(
        to bottom,
        rgba(23, 22, 22, 0.4) 0%,
        rgba(23, 22, 22, 0.4) 100%
      ),
      url(/assets/images/AboutUs/company_2.jpg);
    background-size: cover;
    background-position-y: 90%;

    &-head {
      background: transparent
        linear-gradient(90deg, var(--whitecolor) 0%, var(--whitecolor) 29 100%)
        0 0 no-repeat padding-box;
      padding: 22px 50px;
    }

    &-body {
      padding: px2vw-xl(76px);

      @include lg {
        padding: px2vw-lg(76px);
      }

      @include md {
        padding: px2vw-md(40px);
      }

      @include sm {
        padding: px2vw-sm(20px);
      }
    }

    &-title {
      margin-bottom: px2vw-xl(37px);

      @include lg {
        margin-bottom: px2vw-lg(37px);
      }

      @include md {
        margin-bottom: px2vw-md(37px);
      }

      @include sm {
        margin-bottom: px2vw-sm(37px);
      }
    }

    &-text {
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(26px);
      font-family: "dynasty-primary-regular", sans-serif;
      color: $--Text-color;

      @include lg {
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(26px);
      }

      @include md {
        font-size: px2vw-md(20px);
        line-height: px2vw-md(26px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(26px);
      }
    }
  }
}

.AboutUs-sectionB {
  text-align: center;
  padding: px2vw-xl(40px) 0 0;

  @include lg {
    padding: px2vw-lg(40px) 0 0;
  }

  @include md {
    padding: px2vw-md(40px) 0 0;
  }

  @include sm {
    padding: px2vw-sm(40px) 0 0;
  }

  &-title {
    margin-bottom: px2vw-xl(59px);

    @include lg {
      margin-bottom: px2vw-lg(59px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-items {
    @extend %u-dfCenterCenter;
    flex-flow: wrap;

    @include md {
      flex-flow: wrap;
      justify-content: center;
    }
  }

  &-item {
    padding-bottom: px2vw-xl(60px);
    width: 20%;
    text-align: center;

    @include lg {
      padding-bottom: px2vw-lg(60px);
      max-width: initial;
      width: 33%;
    }

    @include md {
      padding: px2vw-md(20px) px2vw-md(20px) px2vw-md(40px);
      width: 50%;
    }

    @include sm {
      padding: px2vw-sm(20px) px2vw-sm(20px) px2vw-sm(40px);
      width: 100%;
    }

    &-img {
      width: px2vw-xl(185px);
      height: px2vw-xl(185px);
      margin: 0 auto px2vw-xl(18px);
      border-radius: 50%;
      overflow: hidden;

      @include lg {
        width: px2vw-lg(180px);
        height: px2vw-lg(180px);
        margin: 0 auto px2vw-lg(18px);
      }

      @include md {
        width: px2vw-md(180px);
        height: px2vw-md(180px);
        margin: 0 auto px2vw-md(18px);
      }

      @include sm {
        width: px2vw-sm(340px);
        height: px2vw-sm(340px);
        margin: 0 auto px2vw-sm(18px);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      text-align: center;

      h2,
      h3 {
        margin: 0;
      }

      h2 {
        font-size: px2vw-xl(18px);
        font-family: "dynasty-primary-light", sans-serif;

        @include lg {
          font-size: px2vw-lg(18px);
        }

        @include md {
          font-size: px2vw-md(18px);
        }

        @include sm {
          font-size: px2vw-sm(18px);
        }
      }

      h3 {
        font-family: "dynasty-primary-semibold", sans-serif;
      }
    }
  }
}

.AboutUs-sectionC {
  margin-bottom: px2vw-xl(50px);

  @include lg {
    margin-bottom: px2vw-lg(50px);
  }

  @include md {
    margin-bottom: px2vw-md(50px);
  }

  @include sm {
    margin-bottom: px2vw-sm(50px);
  }

  &-text {
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(26px);
    font-family: "dynasty-primary-regular", sans-serif;
    color: $--Text-color;

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(26px);
    }

    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(26px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(26px);
    }
  }

  &-main {
    @extend %u-dfStartBtw;
    padding: px2vw-xl(39px) px2vw-xl(50px);
    background-image: url(/assets/images/AboutUs/vision_2.jpg);
    background-size: cover;
    background-position-y: 30%;

    @include lg {
      padding: px2vw-lg(39px) px2vw-lg(50px);
      flex-flow: column;
    }

    @include md {
      padding: px2vw-md(39px) px2vw-md(40px);
      flex-flow: wrap;
    }

    @include sm {
      padding: px2vw-sm(39px) px2vw-sm(20px);
    }

    &-left {
      max-width: px2vw-xl(570px);
      margin-right: px2vw-xl(154px);

      @include lg {
        max-width: 100%;
        margin: 0 0 px2vw-lg(40px);
      }

      @include md {
        margin: 0 0 px2vw-md(40px);
      }

      @include sm {
        margin: 0 0 px2vw-sm(40px);
      }

      &-footer {
        margin-top: px2vw-xl(24px);

        @include lg {
          margin-top: px2vw-lg(24px);
          text-align: center;
        }

        @include md {
          margin-top: px2vw-md(24px);
        }

        @include sm {
          margin-top: px2vw-sm(24px);
        }

        a {
          &:first-child {
            margin-right: px2vw-xl(16px);

            @include lg {
              margin-right: px2vw-lg(16px);
            }

            @include md {
              margin-right: px2vw-md(16px);
            }

            @include sm {
              margin-right: px2vw-sm(16px);
            }
          }
        }
      }
    }

    &-right {
      max-width: px2vw-xl(895px);

      @include lg {
        max-width: 100%;
      }
    }
  }

  &-title {
    margin-bottom: px2vw-xl(25px);

    @include lg {
      margin-bottom: px2vw-lg(25px);
    }

    @include md {
      margin-bottom: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
    }
  }
}

.AboutUs-sectionD {
  padding-bottom: px2vw-xl(90px);

  @include lg {
    padding-bottom: px2vw-lg(90px);
  }

  @include md {
    padding-bottom: px2vw-md(90px);
  }

  @include sm {
    padding-bottom: px2vw-sm(90px);
  }

  &-title {
    margin-bottom: px2vw-xl(37px);
    text-align: center;

    @include lg {
      margin-bottom: px2vw-lg(37px);
    }

    @include md {
      margin-bottom: px2vw-md(37px);
    }

    @include sm {
      margin-bottom: px2vw-sm(37px);
    }
  }

  &-items {
    @extend %u-dfCenterBtw;
    justify-content: space-around;

    @include md {
      flex-flow: column;
    }

    img {
      @include md {
        margin-bottom: px2vw-md(30px);
      }

      @include sm {
        margin-bottom: px2vw-sm(30px);
      }

      &:last-child {
        @include md {
          margin: 0;
        }
      }
    }
  }
}

.AboutUs-sectionE {
  padding: px2vw-xl(40px) 0 px2vw-xl(64px);

  @include lg {
    padding: px2vw-lg(40px) 0 px2vw-lg(64px);
  }

  @include md {
    padding: px2vw-md(40px) 0 px2vw-md(64px);
  }

  @include sm {
    padding: px2vw-sm(40px) 0 px2vw-sm(64px);
  }

  &-heading {
    margin-bottom: px2vw-xl(37px);
    padding: 0 px2vw-xl(76px);

    @include lg {
      margin-bottom: px2vw-lg(37px);
      padding: 0 px2vw-lg(76px);
    }

    @include md {
      margin-bottom: px2vw-md(37px);
      padding: 0 px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(37px);
      padding: 0 px2vw-sm(20px);
    }

    &-title {
    }
  }

  &-box {
    padding: 0 px2vw-xl(76px);

    @include lg {
      padding: 0 px2vw-lg(76px);
      flex-flow: column;
      align-items: center;
    }

    @include md {
      flex-direction: column-reverse;
      padding: 0 px2vw-md(40px);
    }

    @include sm {
      padding: 0 px2vw-sm(20px);
    }

    @extend %u-dfStartBtw;

    &-text {
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(26px);
      font-family: "dynasty-primary-regular", sans-serif;
      color: $--Text-color;

      @include lg {
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(26px);
      }

      @include md {
        font-size: px2vw-md(20px);
        line-height: px2vw-md(26px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(26px);
      }
    }

    &-info {
      max-width: px2vw-xl(987px);

      @include lg {
        max-width: initial;
        margin-bottom: px2vw-lg(34px);
      }

      @include md {
        margin-bottom: 0;
      }
    }

    &-ceo {
      margin: 0;
      padding: 0;

      @include md {
        margin-bottom: px2vw-md(32px);
      }
      @include sm {
        margin-bottom: px2vw-sm(32px);
      }

      .AboutUs-sectionB-item-img {
        width: px2vw-xl(252px);
        height: px2vw-xl(252px);

        @include lg {
          width: px2vw-lg(252px);
          height: px2vw-lg(252px);
        }

        @include md {
          width: px2vw-md(252px);
          height: px2vw-md(252px);
        }

        @include sm {
          width: px2vw-sm(340px);
          height: px2vw-sm(340px);
          margin: 0 auto px2vw-sm(18px);
        }
      }
    }
  }
}

.AboutUs-sectionF {
  text-align: center;
  &-title {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-items {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  &-item {
    padding: px2vw-xl(20px) px2vw-xl(20px) px2vw-xl(60px);
    text-align: center;
    width: 33.33%;

    @include lg {
      padding: px2vw-lg(20px) px2vw-lg(20px) px2vw-lg(60px);
    }

    @include md {
      padding: px2vw-md(20px) px2vw-md(20px) px2vw-md(40px);
      width: 50%;
    }

    @include sm {
      padding: px2vw-sm(20px) px2vw-sm(20px) px2vw-sm(40px);
      width: 100%;
    }
  }
}

.AboutUs-sectionG {
  padding: px2vw-xl(70px) 0 px2vw-xl(30px);
  background: linear-gradient(
      79deg,
      #02205f 0%,
      #c71b00 42%,
      #e77302 73%,
      #ffda6c 100%
    )
    0 0 no-repeat padding-box;
  text-align: center;

  @include lg {
    padding: px2vw-lg(70px) 0 px2vw-lg(30px);
  }

  @include md {
    padding: px2vw-md(70px) 0 px2vw-md(30px);
  }

  @include sm {
    padding: px2vw-sm(70px) 0 px2vw-sm(30px);
  }

  &-title {
    margin-bottom: px2vw-xl(52px);

    @include lg {
      margin-bottom: px2vw-lg(52px);
    }

    @include md {
      margin-bottom: px2vw-md(52px);
    }

    @include sm {
      margin-bottom: px2vw-sm(52px);
    }
  }

  &-social {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(67px);
    justify-content: space-around;

    @include lg {
      margin-bottom: px2vw-lg(67px);
    }

    @include md {
      margin-bottom: px2vw-md(67px);
      flex-flow: wrap;
    }

    @include sm {
      margin-bottom: px2vw-sm(67px);
    }

    img {
      width: px2vw-xl(87px);

      @include lg {
        width: px2vw-lg(87px);
      }

      @include md {
        width: px2vw-md(87px);
        margin-bottom: px2vw-md(30px);
      }

      @include sm {
        width: px2vw-sm(87px);
        margin-bottom: px2vw-sm(30px);
      }

      &:last-child {
        @include md {
          margin: 0;
        }
      }
    }
  }

  &-address {
    max-width: px2vw-xl(380px);
    margin: 0 auto;

    @include lg {
      max-width: px2vw-lg(380px);
    }

    @include md {
      max-width: px2vw-md(380px);
    }

    @include sm {
      max-width: px2vw-sm(380px);
    }

    &-item {
      @extend %u-dfStart;
      margin-bottom: px2vw-xl(20px);
      text-align: left;

      @include lg {
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }

      &:last-child {
        margin: 0;
      }

      .material-icons {
        padding: 5px;
        margin-right: 30px;
        background: white;
        color: var(--orange-color-main);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        align-self: center;
      }
    }
  }
}

.AboutUs-sectionH {
  text-align: center;
  &-title {
    margin-bottom: px2vw-xl(59px);

    @include lg {
      margin-bottom: px2vw-lg(59px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-items {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    @include md {
      flex-flow: wrap;
      justify-content: center;
    }
  }

  &-item {
    padding-bottom: px2vw-xl(60px);
    width: 12.5%;
    text-align: center;

    @include lg {
      padding-bottom: px2vw-lg(60px);
      max-width: initial;
      width: 33%;
    }

    @include md {
      padding: px2vw-md(20px) px2vw-md(20px) px2vw-md(40px);
      width: 50%;
    }

    @include sm {
      padding: px2vw-sm(20px) px2vw-sm(20px) px2vw-sm(40px);
      width: 100%;
    }

    &-img {
      width: px2vw-xl(120px);
      height: px2vw-xl(120px);
      margin: 0 auto px2vw-xl(18px);
      border-radius: 50%;
      overflow: hidden;

      @include lg {
        width: px2vw-lg(120px);
        height: px2vw-lg(120px);
        margin: 0 auto px2vw-lg(18px);
      }

      @include md {
        width: px2vw-md(120px);
        height: px2vw-md(120px);
        margin: 0 auto px2vw-md(18px);
      }

      @include sm {
        width: px2vw-sm(200px);
        height: px2vw-sm(200px);
        margin: 0 auto px2vw-sm(18px);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      text-align: center;

      h2,
      h3 {
        margin: 0;
      }

      h2 {
        font-size: px2vw-xl(16px);
        font-family: "dynasty-primary-light", sans-serif;

        @include lg {
          font-size: px2vw-lg(16px);
        }

        @include md {
          font-size: px2vw-md(16px);
        }

        @include sm {
          font-size: px2vw-sm(16px);
        }
      }

      h3 {
        font-size: px2vw-xl(15px);
        font-family: "dynasty-primary-semibold", sans-serif;

        @include lg {
          font-size: px2vw-lg(15px);
        }

        @include md {
          font-size: px2vw-md(15px);
        }

        @include sm {
          font-size: px2vw-sm(15px);
        }
      }
    }
  }
}
