<div class="TournamentName">
  <div class="TournamentName-container u-wp">
    <div class="TournamentName-logo">
      <img class="TournamentName-logo-icon" src="assets/icons/create-tournament/tt.svg" alt="icon" />
    </div>

    <main class="TournamentName-main">
      <h1 class="TournamentName-title">
        {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.TITLE" | translate }}
      </h1>

      <div class="TournamentName-input">
        <app-tournament-name-input [text]="text" (onTextChange)="onTextChange($event)"
          placeholder="Enter tournament name"></app-tournament-name-input>
      </div>

      <p class="TournamentName-tip">
        <!-- {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.TIP" | translate }} -->
        <img src="../../../../../assets/icons/create-tournament/purpletext.svg" alt="">
      </p>

      <div class="TournamentName-buttons">
        <!-- <button [routerLink]="AppHtmlRoutes.play" class="TournamentName-button button-secondary">
          {{ "BUTTON.CANCEL" | translate }}
        </button> -->

        <button routerBack class="TournamentName-button button-icon-secondary"  >
          <mat-icon> arrow_back </mat-icon>
          <span>
            {{ "BUTTON.BACK" | translate }}
          </span>
        </button>

        <button class="TournamentName-button button-secondary" (click)="skip()">
          {{ "BUTTON.SKIP" | translate }}
        </button>

        <button [disabled]="!text" class="TournamentName-button button-primary " (click)="next()">
          {{ "BUTTON.NEXT" | translate }}
        </button>
      </div>
    </main>
  </div>

  <img class="TournamentName-person" src="assets/images/create-tournament/persons/1.png" alt="person image" />
</div>
