@import "shared";

:host {
  display: block;
}

.InputText {
  border-bottom: 2px solid var(--white);
  padding-bottom: px2vw-xl(32px);

  @include lg {
    padding-bottom: px2vw-lg(32px);
  }

  @include md {
    padding-bottom: px2vw-md(32px);
  }

  @include sm {
    padding-bottom: px2vw-sm(32px);
  }

  &-title {
    margin-bottom: px2vw-xl(50px);
    color: var(--white);
    width: 100%;

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-input {
    flex-grow: 1;
    background-color: transparent;
    color: var(--white);

    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }

    &::placeholder {
      color: var(--white);
      opacity: 0.2;
    }
  }

  &-icon {
    margin-right: px2vw-xl(20px);
    width: px2vw-xl(27px);
    cursor: pointer;

    @include lg {
      margin-right: px2vw-lg(20px);
      width: px2vw-lg(27px);
    }

    @include md {
      margin-right: px2vw-md(20px);
      width: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(20px);
      width: px2vw-sm(24px);
    }
  }

  &-block {
    // background-color: rgba(0, 0, 0, 0.3);
  }
}

.InputText.basic {
  border-bottom: none;
  padding-bottom: 0;

  .title {
    margin-bottom: 0;
    color: var(--base-submarine);
    font-size: 1.3rem;


    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(20px);
    }
  }

  .input {
    cursor: pointer;
    border-radius: px2vw-xl(4px);
    // padding: 0 px2vw-xl(22px);
    transition: 100ms linear;
    color: var(--white);

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px) px2vw-lg(22px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px) px2vw-md(22px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px) px2vw-sm(22px);
      font-size: px2vw-sm(20px);
    }

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      cursor: default;

      &:hover {
        opacity: 1;
      }
    }

    &::placeholder {
      opacity: 1;
    }
  }

  .icon {
    display: none;
  }
}

::ng-deep mat-datepicker-toggle button.mat-icon-button .mat-button-wrapper {
  /*change color of label*/
  color: white !important;
}

mat-label {
  color: var(--white);
  font-weight: 100;
}

::ng-deep app-input-date-two .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
  font-family: "redhat-regular", sans-serif !important;

  @include sm {
    padding: px2vw-sm(13px);
  }
}

.TournamentTime-icon {
  height: 1.5972222222vw;
  width: 1.4583333333vw;
  cursor: pointer;
  transition: all 100ms linear;

  @include sm {
    height: px2vw-sm(15px);
    width: px2vw-sm(18px);
  }
}

::ng-deep app-input-time-only .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em;
  font-family: "redhat-regular", sans-serif !important;
}

@include sm {
  ::ng-deep app-input-time-only .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: px2vw-sm(14px);
    font-family: "redhat-regular", sans-serif !important;
  }
}