<div
  class="InputText"
  [ngClass]="{ basic: isBasic }"
  [formGroup]="customFormGroup"
>
  <!-- <h3
    class="InputText-title title"
    [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
  >
    {{ title }}
  </h3> -->

  <mat-form-field
  class="InputText-title title"
  [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
  appearance="outline"
  autocomplete="off"
>
  <mat-label
    class="InputText-title title"
    [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
  >
    {{ title }}
  </mat-label>

  <div class="InputText-block block u-dfCenterStart">
    <input
    matInput
    class="TournamentTime-field"
    [ngxTimepicker]="fullTime"
    [placeholder]="'CREATE_TOURNAMENT.SELECT_DATE.TIME_PLACEHOLDER' | translate"
    [readonly]="true"
    [formControlName]="customFormControlName"
  />

  <ngx-material-timepicker
    #fullTime
    [timepickerClass]="'PaidiaTimeTheme'"
  ></ngx-material-timepicker>

  <img
    class="TournamentTime-icon"
    (click)="fullTime.open()"
    src="assets/icons/time.svg"
    alt="time"
  />
    </div>
  </mat-form-field>
</div>
