<div [ngClass]="{ 'already-registered': showRegTime || showTournamentTime }" class="d_flex">
  <div *ngIf="showRegTime" class="time">
    <span
      class="time-img"
      inlineSVG="assets/icons/play-tournament/Icon-clock.svg"
    ></span>
    <div class="time-text">
      <countdown
        [config]="{
          leftTime: remainingTime,
          formatDate: formatDate,
          format: 'D\d\ HH:mm:ss'
        }"
        (event)="onTimerFinished($event)"
      ></countdown>
    </div>
  </div>

  <div *ngIf="showTournamentTime" class="startTime time">
    <span
      class="time-img"
      inlineSVG="assets/icons/play-tournament/Icon-clock.svg"
    ></span>
    <div class="time-text">
      <countdown
        [config]="{
          leftTime: remainingTimeForTournamentStart,
          formatDate: formatDate,
          format: 'D\d\ HH:mm:ss'
        }"
        (event)="onTournamnetTimerFinished($event)"
      ></countdown>
    </div>
  </div>



  <ng-container [ngSwitch]="btnType">
    <div
      *ngIf="tournament?.participantType == 'individual'"
      [ngClass]="{ 'margin-r': !showRegTime || !showTournamentTime }"
    >
      <!-- <button
        class="global-EditBtn  button-primary "
    join-btn
  *ngSwitchCase="'join'"
        [routerLink]="['join']"
      > -->
      <button
        class="Play-slider-button button-primary"
        join-btn
        *ngSwitchCase="'join'"
        (click)="saveParticipantDetails()"
        [disabled]="isProcessing"
      >
        <ng-container *ngIf="!isProcessing">
          {{ "BUTTON.JOIN_TOURNAMENT" | translate }}
        </ng-container>

        <mat-spinner [diameter]="20" *ngIf="isProcessing"></mat-spinner>
      </button>
    </div>
    <div *ngIf="tournament?.participantType == 'team'">
      <button
        class="Play-slider-button button-primary"
        join-btn
        *ngSwitchCase="'join'"
        [routerLink]="[AppHtmlTeamRegRoutes.newTeam, tournament?.slug]"
      >
        <!--  [routerLink]="AppHtmlRoutes.joinTournament" -->
        {{ "BUTTON.JOIN_TOURNAMENT" | translate }}
      </button>
    </div>

    <button
      class="Play-slider-button button-primary join-btn"
      *ngSwitchCase="'checked-in'"
      (click)="participantCheckIn()"
    >
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.CHECKED_IN" | translate }}
    </button>
    <button
      class="Play-slider-button button-primary not-allowed join-btn"
      *ngSwitchCase="'already-checked-in'"
    >
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.ALREADY_CHECKED_IN" | translate }}
    </button>
    <button
      class="Play-slider-button button-primary not-allowed join-btn"
      *ngSwitchCase="'already-registered'"
    >
      <ng-container *ngIf="remainigCheckInTime < 1">
        {{ "VIEW_TOURNAMENT.JOIN_BUTTON.ALREADY_REGISTERED" | translate }}
      </ng-container>
      <ng-container *ngIf="remainigCheckInTime > 1">
        {{ "VIEW_TOURNAMENT.REGISTRATION.CHECKED_IN_STARTS" | translate }}:
        <countdown
          [config]="{ leftTime: remainigCheckInTime }"
          (event)="onTimerFinished($event)"
        ></countdown>
      </ng-container>
    </button>
    <button
      class="Play-slider-button button-primary not-allowed join-btn"
      *ngSwitchCase="'registration-full'"
    >
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.REGISTRATION_FULL" | translate }}
    </button>
    <button
      class="Play-slider-button button-primary not-allowed join-btn"
      *ngSwitchCase="'region-not-allowed'"
    >
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.NOT_ALLOWED_1" | translate }}
      {{
        user?.state || ("VIEW_TOURNAMENT.JOIN_PARTICIPANT.EMPTY" | translate)
      }}
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.NOT_ALLOWED_2" | translate }}
    </button>
    <button
      disable
      class="Play-slider-button button-default not-allowed join-btn"
      *ngSwitchCase="'no-action'"
    >
      {{ "BUTTON.JOIN_TOURNAMENT" | translate }}
    </button>
    <button class="Play-slider-button button-primary hide-btn" *ngSwitchDefault>
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.BETTER_LUCK_NEXT_TIME" | translate }}
    </button>
  </ng-container>
  <button *ngIf="registrationEndedTxt"
  class="Play-slider-button button-default1 join-btn">
    {{ "VIEW_TOURNAMENT.REGISTRATION.REGISTRATION_ENDED" | translate }}
  </button>
</div>

<esports-fullscreen-loading *ngIf="isProcessing"></esports-fullscreen-loading>
