<div class="AboutTournament">
  <div
    class="AboutTournament-image-block u-dfStartEnd"
    [ngClass]="{ paid: true }"
    [style.background-image]="'url(' + tournament?.gameDetail?.logo + ')'"
  >
    <div class="paid-block">
      {{ "TEAM_REGISTRATION.ABOUT_TOURNAMENT.PAID" | translate }}
    </div>
  </div>

  <div class="AboutTournament-wrapper">
    <div class="AboutTournament-info">
      <h3 class="AboutTournament-info-title global-H5">
        {{ tournament?.name | titlecase }}
      </h3>

      <p class="AboutTournament-info-detail">
        {{ tournament?.bracketType | bracket | translate }}
      </p>
    </div>

    <div class="AboutTournament-content">
      <ul class="AboutTournament-about">
        <li class="AboutTournament-about-item u-dfCenterStart">
          <div class="AboutTournament-about-icon-block">
            <img
              class="AboutTournament-about-icon"
              src="assets/icons/about-tournament/date.svg"
              alt="game icon"
            />
          </div>
          <p class="AboutTournament-info-detail date">
            {{ tournament?.startDate | date: "d MMMM, y" }} |
            {{
              !isNumber(timezone)
                ? (tournament?.startDate | date: "shortTime")
                : (tournament?.startDate | date: "longTime")
            }}
            {{ !isNumber(timezone) ? timezone : "" }}
          </p>
        </li>
        <li class="AboutTournament-about-item u-dfCenterStart">
          <div class="AboutTournament-about-icon-block">
            <img
              class="AboutTournament-about-icon"
              src="assets/icons/about-tournament/game.svg"
              alt="game icon"
            />
          </div>
          <span class="AboutTournament-about-text">
            {{ tournament?.gameDetail?.name }}
          </span>
        </li>
        <li
          *ngIf="tournament.tournamentType == 'offline'"
          class="AboutTournament-about-item u-dfCenterStart"
        >
          <div class="AboutTournament-about-icon-block">
            <img
              class="AboutTournament-about-icon"
              src="assets/icons/about-tournament/location.svg"
              alt="game icon"
            />
          </div>

          <span class="AboutTournament-about-text">
            {{ (tournament?.venueAddress)[0].region | titlecase }},
            {{ (tournament?.venueAddress)[0].country | titlecase }}
          </span>
        </li>

        <li class="AboutTournament-about-item u-dfCenterStart">
          <div class="u-dfCenter prize" *ngIf="prizeSum > 0">
            <div class="AboutTournament-about-icon-block">
              <img
                class="AboutTournament-about-icon"
                src="assets/icons/about-tournament/prize.svg"
                alt="game icon"
              />
            </div>
            <span class="AboutTournament-about-text">
              {{ tournament?.prizeCurrency }}
              {{ prizeSum }}
            </span>
          </div>

          <div class="u-dfCenter money">
            <div class="AboutTournament-about-icon-block">
              <img
                class="AboutTournament-about-icon"
                src="assets/icons/about-tournament/users.svg"
                alt="game icon"
              />
            </div>
            <span class="AboutTournament-about-text">
              {{ tournament?.participantJoined }} of
              {{ tournament?.maxParticipants }}
              {{
                tournament?.participantType === "individual"
                  ? ("HOME.SECTIONB.PLAYERS" | translate)
                  : ("HOME.SECTIONB.TEAMS" | translate)
              }}
            </span>
          </div>
        </li>
        <li class="AboutTournament-about-item u-dfCenterStart">
          <div class="u-dfCenter money">
            <div class="AboutTournament-about-icon-block"></div>

            <span class="AboutTournament-about-text">
              {{
                !tournament?.participantType
                  ? "N/A"
                  : tournament?.participantType == "team"
                  ? ("TOURNAMENT.TEAM" | translate)
                  : ("TEAM.ONE" | translate)
              }}

              {{
                tournament?.participantType == "team"
                  ? tournament?.teamSize + "v" + tournament?.teamSize
                  : ""
              }}
            </span>
          </div>
        </li>
        <li
          class="AboutTournament-about-item u-dfCenterStart"
          *ngIf="tournament?.substituteMemberSize > 0"
        >
          <div class="u-dfCenter money">
            <div class="AboutTournament-about-icon-block"></div>

            <span class="AboutTournament-about-text">
              {{
                "VIEW_TOURNAMENT.JOIN_PARTICIPANT.TEAM.MESSAGE_1" | translate
              }}

              {{ tournament?.substituteMemberSize }}
            </span>
          </div>
        </li>
        <li
          class="AboutTournament-about-item u-dfCenterStart"
          *ngIf="tournament?.substituteMemberSize > 0"
        >
          <div class="u-dfCenter money">
            <div class="AboutTournament-about-icon-block"></div>

            <span
              class="AboutTournament-about-text"
              *ngIf="tournament?.allowSubstituteMember; else other_content"
            >
              {{
                "VIEW_TOURNAMENT.JOIN_PARTICIPANT.TEAM.MESSAGE_2" | translate
              }}
            </span>

            <ng-template #other_content>{{
              "VIEW_TOURNAMENT.JOIN_PARTICIPANT.TEAM.MESSAGE_3" | translate
            }}</ng-template>
          </div>
        </li>
      </ul>
    </div>

    <div class="AboutTournament-author u-dfCenter">
      <div
        class="AboutTournament-author-image-block"
        [style.background-image]="'url(' + 'assets/images/Home/top3.png' + ')'"
      ></div>

      <div class="AboutTournament-author-content">
        <h3 class="AboutTournament-author-title">
          {{ "TEAM_REGISTRATION.ABOUT_TOURNAMENT.CREATED_BY" | translate }}
        </h3>
        <p class="AboutTournament-author-subtitle">
          {{ tournament?.organizerDetail?.fullName | titlecase }}
        </p>
      </div>
    </div>
  </div>
</div>
