<div class="form-group">
  <div ngbDropdown class="form-select">
    <button class="form-control" id="drop_down" ngbDropdownToggle>
      {{ selectedNotification?.title || ' Notification Type' }}
    </button>
    <div ngbDropdownMenu aria-labelledby="drop_down">
      <button
        (click)="selectNotificatonType(item)"
        ngbDropdownItem
        *ngFor="let item of notificationsTypeArray"
      >
        {{ item.title }}
      </button>
    </div>
  </div>
</div>

<div *ngIf="selectedNotification && selectedNotification.value==0">
<app-email [tournamentId]="tournamentId"></app-email>
</div>

<div *ngIf="selectedNotification && selectedNotification.value==1">
<app-push-notification [tournamentId]="tournamentId" ></app-push-notification>
</div>

<!-- <div>
  <form [formGroup]="pushNotificationForm" novalidate>
    <mat-form-field
      class="global-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>
        {{ "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE" | translate }}
      </mat-label>

      <textarea
        matInput
        id="title"
        type="text"
        formControlName="title"
      ></textarea>
      <mat-error *ngIf="hasError('title', 'required')">
        {{ "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE" | translate }}
        *
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="global-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>
        {{ "ADMIN.USER_NOTIFICATION.LABEL.TYPE_MESSAGE" | translate }}
      </mat-label>
      <textarea
        matInput
        id="message"
        type="text"
        formControlName="message"
      ></textarea>
      <mat-error *ngIf="hasError('message', 'required')">
        {{
          "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.TYPE_MESSAGE" | translate
        }}
        *
      </mat-error>
    </mat-form-field>

    <div ngbDropdown class="form-group form-select">
      <button class="form-control" id="drop_down" ngbDropdownToggle>
        {{ selectedParticipantType?.type || 'Type' }}
      </button>
      <div ngbDropdownMenu aria-labelledby="drop_down">
        <button
          (click)="selectParticipantType(item)"
          ngbDropdownItem
          *ngFor="let item of participantTypeArray"
        >
          {{ item.text }}
        </button>
      </div>
    </div>

    <div>
      <button class="global-EditBtn is-sm" (click)="updatePush()" type="submit">
        {{ "ADMIN.USER_NOTIFICATION.BUTTON.SEND" | translate }}
      </button>
    </div>
  </form>
</div>
<esports-loading *ngIf="isLoading"></esports-loading> -->
