.form-group {
  width: 30%;
  .dropdown {
    button {
      text-align: left;

      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      padding: 0;
      left: auto !important;
      max-height: 198px;
      overflow-x: auto;
      width: 100%;
      transform: none !important;
      top: 38px !important;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: rgba(112, 112, 112, 0.6);
        border-radius: 3px;
      }

      .dropdown-item {
        border-bottom: 0.5px solid var(--ui-dim-gray);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        font-size: 16px;
        line-height: 21px;

        &:last-child {
          border-bottom: 0;
        }

        &:hover,
        &:active,
        &:focus {
          background: transparent;
        }
      }
    }
  }

  .labeltext {
    background-color: var(--base-white);
    position: absolute;
    font-size: 16px;
    left: 19px;
    line-height: 21px;
    color: var(--base-black-pearl);
    margin: 0;
    top: 10px;
    padding: 0 10px 0 5px;
    transition: all 0.3s;
    z-index: 1;
  }

  .form-control:focus ~ .labeltext,
  .labeltext.active {
    font-size: 12px;
    line-height: 16px;
    top: -7px;
    z-index: 2;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .form-group {
    .dropdown {
      .dropdown-menu {
        .dropdown-item {
          font-size: 14px;
          line-height: normal;
        }
      }
    }
  }
}
