.Admin-searchBox {
  display: flex;
  justify-content: flex-end;
}

.Admin-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Admin-search {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 10px;
  border-radius: 10px;
  color: var(--black);
  border: 1px solid #f2f2f2;
  background: rgba(236, 236, 236, 0.74);
}

.Admin-search input {
  border: none;
  min-width: 200px;
  background: none;
  font-size: 17px;
  font-family: "source-sans-pro";
}
::ng-deep{
  .mat-tab-label-active {
    color: #bbf55a !important;
}
.global-TabGroup .mat-tab-label{
  color: #000;
}
.global-DataTable .datatable-header-cell-label{
  color: #a1a1a1;
}
.global-DataTable datatable-body-row:hover {
  background: linear-gradient(
0deg
, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #ececee;
}
}
