<app-header-dynasty
  [routerLink]="AppHtmlRoutes.matchmaking"
></app-header-dynasty>


<section class="UpdateScore">
    <div class="UpdateScore-annoucement">
        <div class="UpdateScore-annoucement-title">{{"MATCHMAKING.UPDATE_SCORING.TITLE" |translate}}</div>
        <div class="UpdateScore-annoucement-subtitle">{{"MATCHMAKING.UPDATE_SCORING.SUBTITLE" |translate}}</div>
        <div class="UpdateScore-annoucement-button">
            <div class="UpdateScore-annoucement-button-back" (click)="backToLobby()">
                <button>{{"BUTTON.BACK_TO_GAME_LOBBY" | translate}}</button>
            </div>
            <div class="UpdateScore-annoucement-button-endSeason" (click)="endSession()">
                <button>{{"BUTTON.END_SESSION" | translate}}</button>
            </div>
        </div>
    </div>
    <div class="UpdateScore-congra">
        <div class="UpdateScore-congra-bg">
        </div>
        <div class="UpdateScore-congra-cardTeam">
        </div>
        <li class="UpdateScore-congra-card" >
          <div class="UpdateScore-congra-card-background"></div>
          <div class="UpdateScore-congra-card-content">
            <div
            class="UpdateScore-congra-card-image"
          ></div>
          <p class="UpdateScore-congra-card-name card-name">
            Emerald Sages
          </p>
          <p class="UpdateScore-congra-card-winner">
            {{"MATCHMAKING.UPDATE_SCORING.WINNER" | translate}}
          </p>
          </div>
      </li>
    </div>
</section>