@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: block;
  pointer-events: none;
}

.stepper {
  $root: &;
  --s-width: 900px;
  --s-gutter: 2.5rem;
  --c-background: var(--base-gainsboro);
  --c-accent: var(--primary-cinnabar);
  --s-stepper-bullet: 20px;
  --s-stepper-bullet-half: 2px;
  --step-transition: background 0.5s, color 0.5s;

  // all colors are define for the active state
  --step-content: "✔";
  --step-color: hsl(0, 0%, 70%);
  --step-bar-bg: var(--c-accent);
  --step-bullet-bg: var(--c-accent);
  --step-bullet-color: var(--base-white);

  // Use grid here
  // • we can support a multiline stepper by increasing the minmax min level
  // • grid is more strict at respecting column than flexbox: a very small width, the contents will overlap
  display: flex;
  justify-content: center;

  position: relative;
  z-index: 1;

  &__input {
    display: none;
  }

  &__content {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    color: var(--step-color);
    transition: opacity 0.5s 0.05s;
    padding: 0.5rem;

    &::selection {
      color: var(--base-black);
      background: var(--step-bullet-color);
    }
  }

  &__button {
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column-reverse;
    min-height: 80px;
    color: var(--base-submarine);

    @include sm {
      font-size: px2vw-sm(16px);
    }

    // bullet
    &::before {
      content: var(--step-content);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px auto var(--s-stepper-bullet-half);
      height: var(--s-stepper-bullet);
      width: var(--s-stepper-bullet);
      border-radius: var(--s-stepper-bullet);
      transition: var(--step-transition);
      background: var(--step-bullet-bg);
      border: 2px solid var(--step-bullet-bg);
      color: var(--step-bullet-color);
      font-size: 11px;
    }

    // progress bar
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: var(--step-bar-bg);
      transition: var(--step-transition);
      bottom: 10px;
      left: 50%;
      transform: translate(0, -50%);
      z-index: -1;

      // connecting lines are always steps.length - 1
      #{$root}__step:last-child & {
        display: none;
      }
    }
  }

  &__step {
    flex: 1;

    // everything beyond the current step is deactivated
    #{$root}__input:checked ~ & {
      --step-bar-bg: var(--base-gainsboro);
      --step-bullet-bg: var(--step-bar-bg);
      --step-bullet-color: hsl(0, 0%, 20%);

      #{$root}__button {
        &::before {
          content: "";
        }
        &::after {
          background: var(--step-bar-bg);
        }
      }
      // we can also use “display: none”
      // • but we take an opacity approach to keep the height of the stepper coherent with the bigger step
      #{$root}__content {
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }
    }
    // This is the current step
    // • restore active colors & content
    #{$root}__input:checked + & {
      --step-bullet-bg: var(--c-accent);
      --step-bullet-color: var(--base-white);
      --step-color: var(--base-white);

      #{$root}__button {
        &::before {
          box-shadow: inset 0 0 0 4px var(--base-gainsboro);
        }
      }
      #{$root}__content {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
      }
    }
  }

  // we can also use CSS flexbox.
  // • but when not enough space
  //   columns won't be  respected anymore
  &--flexbox {
    display: flex;

    #{$root}__step {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
    }
  }
}
