@import "shared";

$form-border-color: var(--color-ash-med);
$form-steps-header-bgcolor: var(--gradient-bg-drk4), var(--color-background);
$active-color: var(--color-primary);
.SI-FUID-Container {
  margin-bottom: px2vw-xl(50px);
  @include xl {
    margin-bottom: px2vw-xl(50px);
  }
  @include lg {
    margin-bottom: px2vw-lg(50px);
  }
  @include md {
    margin-bottom: px2vw-md(50px);
  }
  @include sm {
    margin-bottom: px2vw-sm(50px);
  }
  border: 1px solid $form-border-color;
  fieldset {
    border: 1px solid $form-border-color;
  }
}
.form-steps-header {
  background: $form-steps-header-bgcolor;
  border-bottom: 1px solid var(--color-ash-med);
}
.form-steps-number {
  background: var(--color-background);
  color: $active-color;
  border-right: px2vw-xl(1px) solid $form-border-color;
  width: px2vw-xl(56px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include xl {
    border-right-width: px2vw-xl(1px);
    width: px2vw-xl(56px);
  }
  @include lg {
    border-right-width: px2vw-lg(1px);
    width: px2vw-lg(56px);
  }
  @include md {
    border-right-width: px2vw-md(1px);
    width: px2vw-md(56px);
  }
  @include sm {
    border-right-width: 1px;
    width: px2vw-sm(56px);
  }
  .mat-icon {
    color: var(--color-close-btn);
    height: px2vw-xl(26px);
    width: px2vw-xl(30px);
    font-size: px2vw-xl(29px);
    @include xl {
      width: px2vw-xl(26px);
      height: px2vw-xl(30px);
      font-size: px2vw-xl(29px);
    }
    @include lg {
      width: px2vw-lg(26px);
      height: px2vw-lg(30px);
      font-size: px2vw-lg(29px);
    }
    @include md {
      width: px2vw-md(26px);
      height: px2vw-md(30px);
      font-size: px2vw-md(29px);
    }
    @include sm {
      width: px2vw-sm(26px);
      height: px2vw-sm(30px);
      font-size: px2vw-sm(29px);
    }
  }
}
.purchase_header {
  display: flex;
  align-items: center;
  height: px2vw-xl(61px);
  background: $form-steps-header-bgcolor;
  width: 100%;
  @include xl {
    height: px2vw-xl(61px);
  }
  @include lg {
    height: px2vw-lg(61px);
  }
  @include md {
    height: px2vw-md(61px);
  }
  @include sm {
    height: px2vw-sm(61px);
  }
  h4 {
    // font-family: "";
    font-size: px2vw-xl(20px);
    letter-spacing: px2vw-xl(0.15px);
    line-height: px2vw-xl(24px);
    color: var(--white-high);
    margin-left: px2vw-xl(16px);
    margin-bottom: 0;
    @include xl {
      font-size: px2vw-xl(20px);
      letter-spacing: px2vw-xl(0.15px);
      line-height: px2vw-xl(24px);
      margin-left: px2vw-xl(16px);
    }
    @include lg {
      font-size: px2vw-lg(20px);
      letter-spacing: px2vw-lg(0.15px);
      line-height: px2vw-lg(24px);
      margin-left: px2vw-lg(16px);
    }
    @include md {
      font-size: px2vw-md(20px);
      letter-spacing: px2vw-md(0.15px);
      line-height: px2vw-md(24px);
      margin-left: px2vw-md(16px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
      letter-spacing: px2vw-sm(0.15px);
      line-height: px2vw-sm(24px);
      margin-left: px2vw-sm(16px);
    }
  }
}
.purchase_content {
  padding: px2vw-xl(24px) 0;
  border-bottom: 1px solid var(--color-ash-med);
  width: 100%;
  @include xl {
    padding: px2vw-xl(24px) 0;
  }
  @include lg {
    padding: px2vw-lg(24px) 0;
  }
  @include md {
    padding: px2vw-md(24px) 0;
  }
  @include sm {
    padding: px2vw-sm(24px) 0;
  }
  p {
    margin-bottom: 0;
    // font-family: "";
    font-size: px2vw-xl(16px);
    letter-spacing: px2vw-xl(0.15px);
    line-height: px2vw-xl(24px);
    color: var(--white-high);
    @include xl {
      font-size: px2vw-xl(16px);
      letter-spacing: px2vw-xl(0.15px);
      line-height: px2vw-xl(24px);
    }
    @include lg {
      font-size: px2vw-lg(16px);
      letter-spacing: px2vw-lg(0.15px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      letter-spacing: px2vw-md(0.15px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      letter-spacing: px2vw-sm(0.15px);
      line-height: px2vw-sm(24px);
    }
  }
}
.form-group {
  margin-bottom: 0;
}
.bottom_button {
  padding: px2vw-xl(24px) 0;
  @include xl {
    padding: px2vw-xl(24px) 0;
  }
  @include lg {
    padding: px2vw-lg(24px) 0;
  }
  @include md {
    padding: px2vw-md(24px) 0;
  }
  @include sm {
    padding: px2vw-sm(24px) 0;
  }
}
.PaymentSuccessful-main-box {
  border-left: 1px solid var(--color-black-medium);
  border-right: 1px solid var(--color-black-medium);
  border-bottom: 1px solid var(--color-black-medium);
  @include sm {
    margin-bottom: px2vw-sm(24.576px);
  }
  .title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--white);
    margin-bottom: 0;
    @include sm {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &-item-heading {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-black-medium);
    border-top: 1px solid var(--color-black-medium);
    background-color: var(--blackcurrant-color-medium);
    .Successful {
      width: 60px;
      height: 60px;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      background-color: var(--color-successful);
      .icon {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }
    .title {
      margin-left: 32px;
    }
  }
  &-item-content {
    padding: 24px 16px;
    &.content-voucher {
      border-top: 1px solid var(--color-black-medium);
    }
    .subtitle {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--tolopea-color);
      margin-bottom: 8px;
      @include sm {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .title {
      margin-bottom: 16px;
    }
    .content-item {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      margin-bottom: 12px;
      @include sm {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .text-label {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--tolopea-color);
        display: inline-block;
        width: 100%;
        max-width: 204px;
        @include sm {
          max-width: 100%;
        }
      }
      .text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white-medium);
        display: inline-block;
        width: 100%;
        max-width: calc(100% - 204px);
        @include sm {
          max-width: 100%;
        }
      }
      .button-nobg {
        padding: 0;
        color: var(--main-color);
      }
      .text-hl {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--color-successful);
      }
    }
  }
}
.Referrals-card-link-block {
  background: var(--main-color);
  border-radius: 8px;
  padding: 17px 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include lg {
    border-radius: px2vw-lg(4px);
    padding: px2vw-lg(16px);
  }

  @include md {
    border-radius: px2vw-md(4px);
    padding: px2vw-md(16px);
  }

  @include sm {
    padding: px2vw-sm(16px);
    height: 56px;
    align-items: center;
    border-radius: 8px;
  }

  &.coppied {
    background-color: var(--green-light);
  }
}

.Referrals-card-link {
  @extend %body-1;
  margin-bottom: 0;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);

  @include sm {
    display: flex;
  }

  &-string {
    @include sm {
      max-width: 135px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
}

.Referrals-card-link-button {
  @extend %u-dfCenterCenter;
  flex-shrink: 0;
  margin-left: px2vw-xl(16px);
  height: px2vw-xl(24px);
  width: px2vw-xl(24px);
  background-color: transparent;

  @include lg {
    margin-left: px2vw-lg(16px);
    height: px2vw-lg(24px);
    width: px2vw-lg(24px);
  }

  @include md {
    margin-left: px2vw-md(16px);
    height: px2vw-md(24px);
    width: px2vw-md(24px);
  }

  @include sm {
    margin-left: px2vw-sm(16px);
    height: px2vw-sm(24px);
    width: px2vw-sm(24px);
  }

  ::ng-deep svg {
    height: px2vw-xl(16px);
    width: px2vw-xl(13px);
    cursor: pointer;

    @include lg {
      height: px2vw-lg(16px);
      width: px2vw-lg(13px);
    }

    @include md {
      height: px2vw-md(16px);
      width: px2vw-md(13px);
    }

    @include sm {
      height: px2vw-sm(16px);
      width: px2vw-sm(13px);
    }

    path {
      transition: $global-transition2;
    }
  }

  &:hover ::ng-deep svg path {
    fill: var(--color-primary);
  }
  .mat-icon {
    color: var(--white);
  }
}
