<section class="SearchArticle search-wp" [ngClass]="{'noResult':!isArticleFlag}">
  <div class="SearchArticle-title">
    <h3 class="d-inline-block">
      {{ "SEARCH.NEWS" | translate }} ({{(homeService.searchedArticle | async)?.docs?.length}})
    </h3>

    <!-- <a class="SearchArticle-seemore"> {{ "SEARCH.BUTTON.VIEWMORE" | translate }}</a> -->
  </div>

  <div class="SearchArticle-list">
    <app-article-item
    *ngFor="let item of (homeService.searchedArticle | async)?.docs"
    [data]="item"
    ></app-article-item>

     <p *ngIf="!isArticleFlag" class="SearchArticle-message">
      {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
    </p>
  </div>

  <!-- <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination> -->
</section>
