<header class="HeaderPaidia">
  <section class="ss-header-page">
    <div class="full-container">
      <div class="wrapper">
        <div class="inner">
          <div class="box-left">
            <a [ngClass]="
                title == 'Create Tournament'
                  ? 'btn btn-back m-first-step'
                  : 'btn btn-back'
              " routerLink="/profile/my-teams">
              <span class="icon">
                <img src="../../../../assets/images/Tournament/arrow-pre.png" alt="" />
              </span>
            </a>
          </div>
          <div class="box-center">
            <h2 class="title">
              {{ "MANAGE_TEAM.HEADER_TITLE" | translate }}
            </h2>
          </div>
          <div class="box-right">
            <a routerLink="/profile/my-teams" class="btn btn-close">
              <span class="icon">
                <img src="../../../../assets/icons/create-tournament/Icon.png" alt="" />
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>