@import "shared";
@import "../../../../../../src/scss/components/create-tournament";


@mixin Image-format($dimension) {
  border-radius: 50%;
  object-fit: cover;
  width: px2vw-xl($dimension);
  height: px2vw-xl($dimension);

  @include lg {
    width: px2vw-lg($dimension);
    height: px2vw-lg($dimension);
  }

  @include md {
    width: px2vw-md($dimension);
    height: px2vw-md($dimension);
  }

  @include sm {
    width: px2vw-sm($dimension);
    height: px2vw-sm($dimension);
  }
}

:host {
  display: block;
  @extend %ct-overlay-hero2;
}

.SendInvite {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container,
  &-switcher-container {
    max-width: px2vw-xl(994px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(620px);
    }

    @include md {
      max-width: none;
    }
  }

  &-container {
    margin-top: px2vw-xl(142px);
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(142px);
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(142px);
      margin-bottom: px2vw-md(300px);
    }

    @include sm {
      margin-top: px2vw-sm(90px);
      margin-bottom: px2vw-sm(320px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(65px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(65px);
    }

    @include md {
      margin-bottom: px2vw-md(65px);
    }

    @include sm {
      margin-bottom: px2vw-sm(65px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  &-search {
    margin-bottom: px2vw-xl(54px);

    @include lg {
      margin-bottom: px2vw-lg(54px);
    }

    @include md {
      margin-bottom: px2vw-md(54px);
    }

    @include sm {
      margin-bottom: px2vw-sm(54px);
    }
  }

  &-friends {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-friends-title,
  &-email-title {
    font-family: "stc-forward-medium-extrabold-italic", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);
    letter-spacing: 1px;

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(32px);
    }
  }

  &-friends-title {
    margin-bottom: px2vw-xl(23px);
    color: var(--white);
    @include lg {
      margin-bottom: px2vw-lg(23px);
    }

    @include md {
      margin-bottom: px2vw-md(23px);
    }

    @include sm {
      margin-bottom: px2vw-sm(23px);
    }
  }

  &-friends-list {
    margin-bottom: 0;
    color: var(--white);
  }

  &-friend {
    margin-bottom: px2vw-xl(16px);
    cursor: pointer;

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-friend-image {
    @include Image-format(75px);
  }

  &-friend-info {
    margin-left: px2vw-xl(24px);

    @include lg {
      margin-left: px2vw-lg(24px);
    }

    @include md {
      margin-left: px2vw-md(24px);
    }

    @include sm {
      margin-left: px2vw-sm(24px);
    }
  }

  &-friend-fullName {
    margin-bottom: px2vw-xl(10px);
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);
    text-transform: capitalize;

    @include lg {
      margin-bottom: px2vw-lg(10px);
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(32px);
    }
  }

  &-friend-detail {
    display: inline-block;

    &.country {
      text-transform: capitalize;
    }
  }

  &-email-title {
    margin-bottom: px2vw-xl(23px);

    @include lg {
      margin-bottom: px2vw-lg(23px);
    }

    @include md {
      margin-bottom: px2vw-md(23px);
    }

    @include sm {
      margin-bottom: px2vw-sm(23px);
    }
  }

  &-email-button {
    margin-top: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(50px);
    }
  }

  &-switcher-container {
    margin-top: auto;
  }

  &-block {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding: px2vw-xl(5px);
    border-radius: px2vw-xl(5px);

    @include lg {
      padding: px2vw-lg(5px);
      border-radius: px2vw-lg(5px);
    }

    @include md {
      padding: px2vw-md(5px);
      border-radius: px2vw-md(5px);
    }

    @include sm {
      padding: px2vw-sm(5px);
      border-radius: px2vw-sm(5px);
    }
  }

  &-user {
    padding: 0 px2vw-xl(15px);
    border-radius: px2vw-xl(25px);
    margin: px2vw-xl(5px);
    font-size: 0.8rem;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid var(--ui-dim-gray);
    letter-spacing: 0.5px;
    font-family: "stc-forward-light", sans-serif !important;
    color: var(--ui-dim-gray);

    @include lg {
      padding: 0 px2vw-lg(15px);
      border-radius: px2vw-lg(25px);
      margin: px2vw-lg(5px);
    }

    @include md {
      padding: 0 px2vw-md(15px);
      border-radius: px2vw-md(25px);
      margin: px2vw-md(5px);
    }

    @include sm {
      padding: 0 px2vw-sm(15px);
      border-radius: px2vw-sm(25px);
      margin: px2vw-sm(5px);
    }
  }

  &-userProfile {
    @include Image-format(20px);
  }

  &-cancel {
    padding-left: px2vw-xl(10px);
    color: var(--ui-dim-gray);
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: var(--primary-cinnabar);
    }

    @include lg {
      padding-left: px2vw-lg(10px);
    }

    @include md {
      padding-left: px2vw-md(10px);
    }

    @include sm {
      padding-left: px2vw-sm(10px);
    }
  }

  &-participants-title {
    font-size: 1em;
    color: var(--base-white);

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &.second {
      margin-bottom: px2vw-xl(40px);

      @include lg {
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
      }
    }
  }

  &-participants-list {
    margin-bottom: px2vw-xl(37px);

    @include lg {
      margin-bottom: px2vw-lg(37px);
    }

    @include md {
      margin-bottom: px2vw-md(37px);
    }

    @include sm {
      margin-bottom: px2vw-sm(37px);
    }
  }

  &-participants-search {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }
}

.pt {
  padding-top: 0;
}

.mt {
  margin-top: 0;
}

.tournament-button {
  background-color: var(--primary-cinnabar);
  padding: 15px 25px;
  color: var(--base-white);
  border-radius: 4px;
}
.Participant-added {
  margin-left: auto;
}

.checked-icon {
  color: var(--primary-cinnabar);
  max-height: 30px;
}

.SendInvite.u-wp.pt{
  padding-top: 0;
}