<div class="RewardConfigurations-main">
  <div class="RewardConfigurations-boxB">
    <div *ngIf="!isLoading" class="RewardConfigurations-footer-btns">
      <button class="mesf-EditBtn is-sm" (click)="addNewRow()">
        + {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_TASK" | translate }}
      </button>
    </div>
    <div class="mesf-scrollbar">
      <ngx-datatable
        #table
        class="mesf-DataTableAdmin dark is-admin"
        [rows]="rewardsList"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [limit]="50"
      >
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.STATUS' | translate
          }}"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <mat-checkbox
              color="primary"
              (change)="updateValue($event, 'status', rowIndex)"
              [checked]="value == 1"
              class="is-small"
            ></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.USER_TASK' | translate
          }}"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              *ngIf="row.newrecord; else other_content"
              (focusout)="updateValue($event, 'reward_type', rowIndex)"
              type="text"
              class="RewardConfigurations-boxB-item-input"
              [value]="row.reward_type"
            />
            <ng-template #other_content>{{ row.reward_type }}</ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.POINTS' | translate
          }}"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <input
              (focusout)="updateValue($event, 'points', rowIndex)"
              type="number"
              class="RewardConfigurations-boxB-item-input"
              [value]="row['points']"
            />
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <div *ngIf="!isLoading" class="RewardConfigurations-footer-btns">
      <button
        class="mesf-EditBtn is-sm is-admin-cancel"
        (click)="cancelChanges()"
      >
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
      </button>
      <button class="mesf-EditBtn is-sm" (click)="updateRewards()">
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.SAVE" | translate }}
      </button>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
