@import "shared";

:host {
  display: block;
}

$mat-icob-cl:#bbf55a;
// .Profile-popup{
//   position: absolute;
//   width: 200px;
//   height: 200px;
//   border: white 1px solid;
//   left: calc(50% - 100px);
//   top: calc(50% - 100px);
//   text-align: center;
//   border-radius: 5%;
// }
.MyTeams-header {
  @extend %u-dfCenterBtw;
  margin-bottom: px2vw-xl(20px);
  @include lg {
    flex-wrap: wrap;
    margin-bottom: px2vw-lg(24px);
  }
  @include md {
    flex-wrap: wrap;
    margin-bottom: px2vw-md(24px);
  }
  @include sm {
    flex-wrap: wrap;
    margin-bottom: px2vw-sm(24px);
  }
  &-title {
    @extend %global-H5;
    margin-bottom: 0;
    color: var(--white);
  }

  &-subtitle {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-button {
    padding: px2vw-xl(12px) px2vw-xl(32px);
    background: var(--color-primary);
    border-radius: px2vw-xl(6px);
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
    margin: 0;
    box-shadow: none;
    text-transform: none;
    @include lg {
      width: 100%;
      justify-content: center;
      padding: px2vw-lg(12px) px2vw-lg(32px);
      font-size: px2vw-lg(16px) ;
      line-height: px2vw-lg(24px) ;
    }
    @include md {
      width: 100%;
      justify-content: center;
      padding: px2vw-md(12px) px2vw-md(32px);
      font-size: px2vw-md(16px) ;
      line-height: px2vw-md(24px) ;
    }
    @include sm {
      width: 100%;
      justify-content: center;
      padding: px2vw-sm(12px) px2vw-sm(32px);
      font-size: px2vw-sm(16px) ;
      line-height: px2vw-sm(24px) ;
    }
  }
}

.MyTeams-control {
  // &-toggles {

  // }
  &-link {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(28px);
    color: var(--tertiary-color);
    display: inline-block;
    margin-bottom: px2vw-xl(26px);
    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
      margin-bottom: px2vw-lg(32px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
      margin-bottom: px2vw-md(32px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      margin-bottom: px2vw-sm(32px);
    }
  }
  // &-toggle {
  // }

  &-content {
    padding-top: px2vw-xl(40px);

    @include lg {
      padding-top: px2vw-lg(40px);
    }

    @include md {
      padding-top: px2vw-md(40px);
    }

    @include sm {
      padding-top: px2vw-sm(40px);
    }
  }
}

.MyTeams-cards {
  &-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(32px);
    line-height: px2vw-xl(40px);
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 0;
    @include lg {
      width: 100%;
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
      margin-bottom: px2vw-lg(16px);
    }
    @include md {
      width: 100%;
      font-size: px2vw-md(20px);
      line-height: px2vw-md(28px);
      margin-bottom: px2vw-md(16px);
    }
    @include sm {
      width: 100%;
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
      margin-bottom: px2vw-sm(16px);
    }
  }

  // &-list {
  // }
}
.mat-icon {
  color: $mat-icob-cl;
}
