<form class="">
  <app-change-phonenumber  (phoneChange)="onphoneChange($event)" *ngIf="phonenumber" ></app-change-phonenumber>
  <app-change-email  (emailChange)="onemailChange($event)" *ngIf="emailchange" ></app-change-email>
  <app-change-password  (passwordChange)="passwordChange($event)" *ngIf="passwordchange" ></app-change-password>
</form>
<div class="Passwords" *ngIf="passworddiv" >
  <h3 class="Passwords-title">
    {{ "ACCOUNT_SETTINGS.PASSWORDS.TITLE" | translate }}
  </h3>
  <form class="Profile" *ngIf="currentUser" [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
  <div class="Passwords-items">
    <div class="Passwords-item">
      <!-- Phone number -->
      <mat-form-field
        class="global-MatField"
        appearance="outline"
        autocomplete="off"
      >
        <mat-label>
          {{ "ACCOUNT_SETTINGS.PASSWORDS.FORM.PHONE_NUMBER.LABEL" | translate }}
        </mat-label>
        <input matInput [formControl]="addForm.controls['phonenumber']" />
      </mat-form-field>
    </div>
   
    <button class="Passwords-change-password global-link mb-4" (click)="phonenumberComp()" >
      CHANGE PHONE NUMBER
    </button>
    <!-- Email -->
    <div class="Passwords-item">
      <mat-form-field
        class="global-MatField"
        appearance="outline"
        autocomplete="off"
      >
        <mat-label>
          {{ "ACCOUNT_SETTINGS.PASSWORDS.FORM.EMAIL.LABEL" | translate }}
        </mat-label>
        <input matInput [formControl]="addForm.controls['email']" />
      </mat-form-field>
      


    </div>
    <button class="Passwords-change-password global-link mb-4" (click)="emailComp()">
      CHANGE EMAIL
    </button>
    <div class="Passwords-item">
      <!-- Password -->
      <mat-form-field
        class="global-MatField"
        appearance="outline"
        autocomplete="off"
      >
        <mat-label>
          Password
        </mat-label>
        <input matInput [formControl]="addForm.controls['password']" />
      </mat-form-field>
    </div>
    <!-- <button class="Passwords-item-button" (selectionChange)="function()" (click)="addvalue()">
      <mat-icon class="Passwords-item-button-icon"> add </mat-icon>
      {{ "ACCOUNT_SETTINGS.PASSWORDS.FORM.EMAIL.BUTTON" | translate }}
    </button> -->
    <!-- <mat-form-field
    class="global-MatField"
    appearance="outline"
    autocomplete="off"
    *ngFor="let value of values; let i = index"
  >
    <mat-label>
      {{ "ACCOUNT_SETTINGS.PASSWORDS.FORM.EMAIL.LABEL" | translate }}
    </mat-label>
    <input matInput  [(ngModel)]="value.value"  name="value{{i}}" />
  </mat-form-field>
  <div *ngFor="let value of values;">
    {{ value.value }}
  </div> -->
  </div>

  <button class="Passwords-change-password global-link" (click)="passwordComp()">
    {{ "BUTTON.CHANGE_PASSWORD" | translate }}
  </button>

  <div class="Passwords-manage">
    <button type="reset" class="Passwords-manage-button button-secondary">
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button class="Passwords-manage-button button-primary">
      {{ "BUTTON.SAVE_CHANGES" | translate }}
    </button>
  </div>
  </form>
</div>
