<header class="Dashboard-header">
  <ng-container *ngIf="currentUser && currentUser?.profilePicture">
    <div class="Dashboard-header-image" [lazyLoad]="hasDataBg"></div>
  </ng-container>

  <ng-container *ngIf="currentUser">
    <div class="Dashboard-header-image" [lazyLoad]="noDataBg"></div>
  </ng-container>

  <div class="Dashboard-header-content">
    <!-- <button class="Dashboard-header-button button-primary" (click)="openSettingsLightbox()">
      <mat-icon>photo_camera</mat-icon>
      {{ "BUTTON.EDIT" | translate }}
    </button> -->
  </div>
</header>

<section class="Dashboard-user">
  <div class="Dashboard-user-photo">
    <!-- <ng-container *ngIf="currentUser && !currentUser.profilePicture">
      <div class="Dashboard-user-photo-image" lazyLoad="assets/images/Home/avatar-prelogin.png"></div>
    </ng-container> -->

    <!-- <ng-container> -->
    <div class="Dashboard-user-photo-image"
      [lazyLoad]="currentUser?.profilePicture?currentUser?.profilePicture:'assets/images/Home/avatar-prelogin.png'">
    </div>
    <!-- </ng-container> -->
  </div>

  <div class="Dashboard-user-about">
    <div class="Dashboard-user-info">
      <img class="Dashboard-user-info-corona" src="assets/icons/profile/dashboard/corona.svg" alt="icon" />

      <h3 class="Dashboard-user-name">
        {{ currentUser?.username }}
      </h3>

      <div class="Dashboard-user-location">
        <mat-icon class="Dashboard-user-location-icon"> location_on </mat-icon>
        <span class="Dashboard-user-location-text"> {{ country?.name }} </span>
        <!-- <p class="Dashboard-user-location-dot styleforco">,</p> -->
        <span class="text-divider"></span>
        <span class="Dashboard-user-location-text"> {{ state?.name }} </span>
      </div>

      <p class="Dashboard-user-bio global-Elipses2" *ngIf="!currentUser?.shortBio">
        {{ "PROFILE.DASHBOARD.INFO.BIO_MESSAGE" | translate }}
      </p>

      <p class="Dashboard-user-bio global-Elipses2" *ngIf="currentUser?.shortBio">
        {{ currentUser?.shortBio }}
      </p>
    </div>

    <div class="Dashboard-user-subs">
      <img class="Dashboard-user-subs-icon" lazyLoad="assets/icons/sentences/here-where-all-you-friends.svg"
        alt="icon" />

      <div class="Dashboard-user-subs-item followers">
        <p class="Dashboard-user-subs-value">
          {{ (currentUser?.preference?.followersCount || 0)|number }}
        </p>
        <span class="Dashboard-user-subs-title">
          {{ "PROFILE.DASHBOARD.INFO.FOLLOWERS" | translate }}
        </span>
      </div>
      <div class="Dashboard-user-subs-item following">
        <p class="Dashboard-user-subs-value">
          {{ (currentUser?.preference?.followingCount || 0)|number }}
        </p>
        <span class="Dashboard-user-subs-title">
          {{ "PROFILE.DASHBOARD.INFO.FOLLOWING" | translate }}
        </span>
      </div>
    </div>
  </div>
</section>

<section class="Dashboard-cards">
  <app-cards-statistic [Data]=""></app-cards-statistic>
</section>

<section class="Dashboard-matches">
  <h2 class="Dashboard-matches-title">
    {{ "PROFILE.DASHBOARD.MATCHES.TITLE" | translate }}
  </h2>

  <ng-container *ngIf="!matches.length">
    <div class="Dashboard-matches-empty" lazyLoad="assets/images/dashboard/no-matches-bg.png">
      <div class="Dashboard-matches-empty-card">
        <h4 class="Dashboard-matches-empty-title">
          {{ "PROFILE.DASHBOARD.MATCHES.EMPTY_TITLE" | translate }}
        </h4>
        <p class="Dashboard-matches-empty-message">
          {{ "PROFILE.DASHBOARD.MATCHES.EMPTY_MESSAGE" | translate }}
        </p>
        <button class="Dashboard-matches-empty-button button-primary" [routerLink]="AppHtmlRoutes.play">
          {{ "BUTTON.VIEW_TOURNAMENTS" | translate }}
        </button>
      </div>
    </div>
  </ng-container>

  <div class="Dashboard-matches-cards" *ngIf="matches.length">
    <ng-container *ngFor="let match of matches">
      <app-match-card [data]="match"></app-match-card>
    </ng-container>
  </div>
</section>
