@import "shared";

$close-bg: #00ffff;

.notification {
  ::ng-deep {
    font-family: "Paralucent-Light", san-serif;
    background: var(--txt-primary);
  }

  &-wrpr {
    width: px2vw-xl(1200px);
    margin: 0px auto;

    @include lg {
      width: px2vw-lg(1200px);
    }
    @include md {
      width: px2vw-md(1200px);
    }

    @include sm {
      width: 100%;
      margin: 0px px2vw-sm(10px);
    }
  }

  &-banner {
    background: linear-gradient(
      151.84deg,
      rgba(215, 173, 255, 0.1) 10.79%,
      rgba(155, 50, 255, 0) 96.34%
    );
    height: px2vw-xl(250px);
    margin-top: px2vw-xl(12px);

    @include lg {
      height: px2vw-lg(250px);
      margin-top: px2vw-lg(12px);
    }
    @include md {
      height: px2vw-md(250px);
      margin-top: px2vw-md(12px);
    }

    @include sm {
      height: px2vw-sm(333px);
      margin-top: px2vw-sm(12px);
    }

    &-description {
      display: grid;

      .avatar {
        width: px2vw-xl(114px);
        height: px2vw-xl(114px);
        border: px2vw-xl(2px) solid var(--white);
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-right: px2vw-xl(21px);

        @include lg {
          width: px2vw-lg(114px);
          height: px2vw-lg(114px);
          border: px2vw-lg(2px) solid var(--white);
          margin-right: px2vw-lg(21px);
        }

        @include md {
          width: px2vw-md(94px);
          height: px2vw-md(94px);
          margin-right: px2vw-md(8px);
          margin: 0px auto;
        }

        @include sm {
          width: px2vw-sm(94px);
          height: px2vw-sm(94px);
          margin: 0px auto;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }

      .title {
        font-size: px2vw-xl(50px);
        line-height: px2vw-xl(58px);
        font-family: "Paralucent-Demi", sans-serif;
        color: var(--white);

        @include lg {
          font-size: px2vw-lg(50px);
          line-height: px2vw-lg(58px);
        }

        @include md {
          font-size: px2vw-md(32px);
          line-height: px2vw-md(40px);
          text-align: center;
        }

        @include sm {
          font-size: px2vw-sm(32px);
          line-height: px2vw-sm(40px);
          text-align: center;
        }
      }

      .trophy {
        font-size: px2vw-xl(50px);
        line-height: px2vw-xl(58px);

        @include lg {
          font-size: px2vw-lg(50px);
          line-height: px2vw-lg(58px);
        }

        @include md {
          font-size: px2vw-md(50px);
          line-height: px2vw-md(58px);
        }

        @include sm {
          font-size: px2vw-sm(50px);
          line-height: px2vw-sm(58px);
        }
      }

      .views-time {
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--tolopea-medium-color);

        @include lg {
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }

        @include md {
          text-align: center;
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          text-align: center;
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }
      }
    }
  }

  &-xp {
    height: px2vw-xl(28px);
    padding: px2vw-xl(5px) px2vw-xl(35px);
    clip-path: polygon(5% 1%, 94% 0, 100% 100%, 0% 100%);
    background: var(--color-background);
    width: px2vw-xl(400px);
    top: px2vw-xl(-25px);
    margin-left: px2vw-xl(25px);
    display: none;

    @include sm {
      font-size: px2vw-sm(16px);
      width: 90%;
      margin-right: 5%;
    }

    .discreteProgress {
      margin: 0px px2vw-xl(26px);
      position: relative;
      width: px2vw-xl(150px);
      height: px2vw-xl(8px);
      background: repeating-linear-gradient(
          to right,
          var(--white),
          var(--white),
          transparent 4%,
          transparent 5%
        ),
        repeating-linear-gradient(
          to right,
          green,
          green 8%,
          transparent 8%,
          transparent 10%
        );

      background-size: 200%, 100%;
      background-position: -100%;
      background-repeat: repeat-y;
      overflow: hidden;

      @include lg {
        margin: 0px px2vw-lg(26px);
        width: px2vw-lg(150px);
        height: px2vw-lg(8px);
      }
      @include md {
        margin: 0px px2vw-md(26px);
        width: px2vw-md(150px);
        height: px2vw-md(8px);
      }
      @include sm {
        margin: 0px px2vw-sm(5px);
        width: px2vw-sm(133px);
        padding-top: px2vw-sm(13px);
      }
    }

    .discreteProgress {
      --progresspercent: 50%;
    }

    .discreteProgress::after {
      content: "";
      position: absolute;
      left: var(--progresspercent);
      background-color: var(--black);
      width: 100%;
      height: px2vw-xl(100px);

      @include lg {
        height: px2vw-lg(100px);
      }
      @include md {
        height: px2vw-md(100px);
      }
      @include sm {
        height: px2vw-sm(100px);
      }
    }
  }

  &-content {
    &-title {
      height: px2vw-xl(48px);
      font-size: px2vw-xl(40px);
      line-height: px2vw-xl(48px);
      margin: px2vw-xl(40px) 0px;

      @include lg {
        height: px2vw-lg(48px);
        font-size: px2vw-lg(40px);
        line-height: px2vw-lg(48px);
        margin: px2vw-lg(40px) 0px;
      }
      @include md {
        height: px2vw-md(48px);
        font-size: px2vw-md(40px);
        line-height: px2vw-md(48px);
        margin: px2vw-md(40px) 0px;
      }
      @include sm {
        height: px2vw-sm(48px);
        font-size: px2vw-sm(40px);
        line-height: px2vw-sm(48px);
        margin: px2vw-sm(40px) 0px;
      }
    }

    &-flex {
      display: flexbox;
    }

    &-sidebar {
      @include sm {
        order: 2;
      }

      &-menu {
        color: var("--white");
        font-size: px2vw-xl(20px);
        line-height: px2vw-xl(28px);

        @include lg {
          font-size: px2vw-lg(20px);
          line-height: px2vw-lg(28px);
        }
        @include md {
          font-size: px2vw-md(20px);
          line-height: px2vw-md(28px);
        }
        @include sm {
          font-size: px2vw-sm(20px);
          line-height: px2vw-sm(28px);
        }
      }

      &-menu li:active a {
        color: var(--main-color);
      }

      &-menu li mat-icon {
        color: var(--white);
      }

      &-menu li.active mat-icon {
        color: var(--main-color);
      }

      &-menu li.active a {
        color: var(--main-color);
      }

      &-menu li.active a svg path {
        fill: var(--main-color);
      }

      &-menu li a svg path {
        fill: var(--tertiary-color);
      }

      &-menu li .nav-link svg {
        height: px2vw-xl(25px);
        width: px2vw-xl(25px);
        @include lg {
          height: px2vw-lg(25px);
          width: px2vw-lg(25px);
        }
        @include md {
          height: px2vw-md(25px);
          width: px2vw-md(25px);
        }
        @include sm {
          height: px2vw-sm(25px);
          width: px2vw-sm(25px);
        }
      }

      &-menu li mat-icon + span {
        margin-left: px2vw-xl(21px);
        vertical-align: top;
        line-height: px2vw-xl(24px);

        @include lg {
          margin-left: px2vw-lg(21px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          margin-left: px2vw-md(21px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          margin-left: px2vw-sm(21px);
          line-height: px2vw-sm(24px);
        }
      }

      &-menu li .nav-link span {
        margin-left: px2vw-xl(21px);
        line-height: px2vw-xl(24px);

        @include lg {
          margin-left: px2vw-lg(21px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          margin-left: px2vw-md(21px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          margin-left: px2vw-sm(21px);
          line-height: px2vw-sm(24px);
        }
      }
    }
  }

  &-sidenavContainer {
    flex: 1;
  }

  &-main {
    padding: px2vw-xl(50px);

    @include lg {
      padding: px2vw-lg(50px);
    }

    @include md {
      padding: px2vw-md(30px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }

  ::ng-deep .mat-table {
    background: transparent !important;
    width: px2vw-xl(808px);
    margin: 0px auto;

    @include lg {
      width: px2vw-lg(808px);
    }
    @include md {
      width: px2vw-md(808px);
    }
    @include sm {
      width: 100%;
      margin: 0px px2vw-sm(5px);
    }
  }
  .mat-column-date {
    min-width: px2vw-xl(230px);
    font-size: px2vw-xl(12px);
    line-height: px2vw-xl(15px);

    @include lg {
      min-width: px2vw-lg(200px);
      font-size: px2vw-lg(12px);
      line-height: px2vw-lg(15px);
    }

    @include md {
      min-width: px2vw-md(200px);
      font-size: px2vw-md(12px);
      line-height: px2vw-md(15px);
    }
    @include sm {
      min-width: px2vw-sm(240px);
      font-size: px2vw-sm(12px);
      line-height: px2vw-sm(15px);
      display: none;
    }
  }
  .mark-read-mob {
    display: none;
    @include sm {
      display: block;
      //styleName: 💻 Desktop/Body S Demi;
      font-family: "Paralucent-Demi", sans-serif;
      font-size: px2vw-sm(16px);
      font-style: normal;
      font-weight: 600;
      line-height: px2vw-sm(24px);
      letter-spacing: 0.5px;
      color: var(--main-color);
      float: right;
      margin-right: px2vw-sm(16px);
    }
  }
  .mat-para-date {
    display: none;
    @include sm {
      display: block;
    }
  }
  .link {
    font-family: "Paralucent-Demi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    padding-right: px2vw-xl(18px);
    color: var(--main-color);

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }

  .profile-logo {
    width: px2vw-xl(48px);
    height: px2vw-xl(48px);
    border-radius: px2vw-xl(20px);
    margin-right: px2vw-xl(20px);

    @include lg {
      width: px2vw-xl(48px);
      height: px2vw-xl(48px);
      border-radius: px2vw-xl(20px);
      margin-right: px2vw-xl(20px);
    }
    @include md {
      width: px2vw-md(48px);
      height: px2vw-md(48px);
      border-radius: px2vw-md(20px);
      margin-right: px2vw-md(20px);
    }
    @include sm {
      width: px2vw-sm(48px);
      height: px2vw-sm(48px);
      border-radius: px2vw-sm(20px);
      margin-right: px2vw-sm(20px);
    }
  }

  .tableheader {
    padding: 10px px2vw-xl(15px);
    font-family: "Paralucent-Demi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(28px);
    color: var(--white);

    @include lg {
      padding: 0px px2vw-lg(15px);
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
    }
    @include md {
      padding: 0px px2vw-md(15px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(28px);
    }
    @include sm {
      padding: 0px px2vw-sm(15px);
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
    }
  }
  ::ng-deep td.mat-cell,
  th.mat-header-cell {
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    /*padding: 1.0416666667vw;*/
    //styleName: 💻 Desktop/Body S Demi;
    font-family: "Paralucent-Demi", sans-serif;
    font-size: px2vw-xl(16px);
    font-style: normal;
    font-weight: 600;
    line-height: px2vw-xl(24px);
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--main-color);
    text-transform: capitalize;

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }
  .tablepera {
    font-family: Paralucent;
    font-size: px2vw-xl(16px);
    font-style: normal;
    font-weight: 400;
    line-height: px2vw-xl(24px);
    letter-spacing: 0.5px;
    text-align: left;
    font-family: "Paralucent-Medium", sans-serif;
    color: var(--color-primary-disabled);

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }

  ::ng-deep td.mat-cell .title,
  th.mat-header-cell .title {
    font-family: "Paralucent-Demi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(28px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(28px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }
  .mat-column-date p {
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(20px);
    font-family: "Paralucent-Medium", sans-serif;
    letter-spacing: 0.5px;
    text-align: right;
    color: var(--white);
    @include lg {
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(20px);
    }
    @include md {
      font-size: px2vw-md(14px);
      line-height: px2vw-md(20px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(20px);
    }
  }
  ::ng-deep td.mat-cell .desc,
  th.mat-header-cell .desc {
    font-family: "Paralucent-Demi", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(20px);
    color: var(--txt-secondry-active);

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }
}

::ng-deep .grey-dialog-container {
  font-family: "Paralucent-Light", san-serif;

  mat-dialog-container {
    padding: px2vw-xl(24px) !important;
    background-color: var(--color-secondary-disabled);
    border-radius: px2vw-xl(24px) !important;
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.08),
      4px 4px 20px rgba(0, 0, 0, 0.08);
    height: px2vw-xl(248px);
    @include lg {
      padding: px2vw-lg(24px) !important;
      border-radius: px2vw-lg(24px) !important;
    }
    @include md {
      padding: px2vw-md(24px) !important;
      border-radius: px2vw-md(24px) !important;
    }
    @include sm {
      padding: px2vw-sm(24px) !important;
      border-radius: px2vw-sm(24px) !important;
      height: px2vw-sm(260px);
    }
  }

  .title {
    font-weight: 600;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(32px);
    letter-spacing: 0.5px;
    color: var(--white);
    margin: px2vw-xl(16px) 0;
    @include lg {
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(32px);
    }
    @include md {
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
      margin: px2vw-md(16px) 0;
    }
    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
      margin: px2vw-sm(7px) 0;
    }
  }
  .para {
    font-family: "Paralucent-Light", san-serif;
    font-weight: 500;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: var(--tolopea-medium-color);

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }

  .sub_title {
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    display: flex;
    align-items: flex-end;
    color: var(--txt-secondry-active);
    margin: px2vw-xl(10px) 0;

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
      margin: px2vw-lg(16px) 0;
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
      margin: px2vw-md(16px) 0;
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      margin: px2vw-sm(7px) 0;
    }
  }
  .global-MatField .mat-input-element {
    color: var(--tolopea-medium-color);
  }
}
.date-created {
  font-family: "Paralucent-Light", san-serif;
  font-weight: 500;
  font-size: px2vw-xl(16px);
  line-height: px2vw-xl(24px);
  color: var(--tolopea-color);

  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(24px);
  }
  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(24px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(24px);
  }
}
.Passwords-manage-button {
  padding: px2vw-xl(12px) px2vw-xl(32px);
  border-radius: px2vw-xl(6px);
  background: $close-bg;
  color: var(--txt-primary);
  font-family: "Paralucent-Demi", sans-serif;
  font-size: px2vw-xl(24px);
  line-height: px2vw-xl(32px);
  letter-spacing: 0.5px;
  border: none;
  @include lg {
    font-size: px2vw-lg(24px);
    line-height: px2vw-lg(32px);
    padding: px2vw-lg(12px) px2vw-lg(32px);
    border-radius: px2vw-lg(6px);
  }
  @include md {
    font-size: px2vw-md(24px);
    line-height: px2vw-md(32px);
    padding: px2vw-md(12px) px2vw-md(32px);
    border-radius: px2vw-md(6px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(24px);
    width: px2vw-sm(400px);
    padding: px2vw-sm(12px) px2vw-sm(32px);
    height: px2vw-sm(52px);
    border-radius: px2vw-sm(6px);
    .mat-dialog-actions {
      min-height: px2vw-sm(52px) !important;
    }
  }
}

span.dot-active {
  display: inline-flex;
  margin-left: px2vw-xl(12px);
  @include lg {
    margin-left: px2vw-lg(12px);
  }
  @include md {
    margin-left: px2vw-md(12px);
  }
  @include sm {
    margin-left: px2vw-md(8px);
    display: initial !important;
  }
}
span.mark-msg-icon {
  display: inline-flex;
  margin-right: px2vw-xl(6px);

  @include lg {
    margin-right: px2vw-lg(6px);
  }
  @include md {
    margin-right: px2vw-md(6px);
  }
  @include sm {
    display: none;
  }
}
