@import "shared";

:host {
  display: block;
}

.InputSearch {
  @extend %u-dfCenter;
  background: var(--blackcurrant-color-medium);
  border: 2px solid var(--midnight-express-color);
  box-sizing: border-box;
  border-radius: 50px;
  max-width: 100%;
  width: 100%;
  padding: 10px 24px;
  @include lg {
    border: px2vw-xl(1px) solid var(--tolopea-color);
    padding: px2vw-xl(12px) px2vw-xl(24px);
  }

  @include md {
    max-width: 100%;
    padding: 10px 24px;
  }

  @include sm {
    max-width: 100%;
    padding: 7px 24px;
  }
  &:hover {
    border-color: var(--main-color) !important;
  }
  &-icon {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);
    font-size: px2vw-xl(24px);
    color: var(--secondary-color);
    cursor: pointer;
    transition: $global-transition;

    @include lg {
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      height: px2vw-md(24px);
      width: px2vw-md(24px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
      font-size: px2vw-sm(24px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-field {
    width: 100%;
    background-color: transparent;
    transition: $global-transition;
    cursor: pointer;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    &::placeholder {
      color: var(--tertiary-color);
      @include md {
        font-size: 16px;
        line-height: 24px;
      }
      @include sm {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
    color: var(--white) !important;
    -webkit-text-fill-color: var(--white) !important;
  }
  input:-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 50px 50px var(--blackcurrant-color-medium) inset !important;
  }
}
