@import "shared";

:host {
  display: block;
}

.Overview-sectionA {
  display: flex;
  margin-bottom: px2vw-xl(20px);
  padding: px2vw-xl(20px) 0;

  @include lg {
    margin-bottom: px2vw-lg(20px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(20px);
    padding: px2vw-md(20px) 0;
    flex-direction: column;
  }

  @include sm {
    margin-bottom: px2vw-sm(20px);
    padding: px2vw-sm(20px) 0;
  }

  &-text-block {
    margin-right: px2vw-xl(95px);

    @include lg {
      margin-right: px2vw-lg(95px);
    }

    @include md {
      margin-right: 0;
      width: 100%;
    }
  }

  &-text {
    margin-bottom: px2vw-xl(24px);
    color: var(--base-black-pearl);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-text-separator {
    margin: 0 px2vw-xl(4px);

    @include lg {
      margin: 0 px2vw-lg(4px);
    }

    @include md {
      margin: 0 px2vw-md(4px);
    }

    @include sm {
      margin: 0 px2vw-sm(4px);
    }
  }
}

.Overview-sectionB {
  margin-bottom: px2vw-xl(48px);

  @include lg {
    margin-bottom: px2vw-lg(48px);
  }

  @include md {
    margin-bottom: px2vw-md(48px);
  }

  @include sm {
    margin-bottom: px2vw-sm(48px);
  }

  &-title {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-banner {
    margin-bottom: px2vw-xl(15px);

    @include lg {
      margin-bottom: px2vw-lg(15px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
    }
  }

  &-image-block {
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
    background-color: var(--base-black-pearl);
    height: px2vw-xl(200px);
    width: 100%;
    padding: px2vw-xl(30px);

    @include lg {
      height: px2vw-lg(300px);
      padding: px2vw-lg(30px);
    }

    @include md {
      height: px2vw-md(300px);
      padding: px2vw-md(30px);
    }

    @include sm {
      flex-direction: column;
      height: px2vw-sm(240px);
      padding: px2vw-sm(30px);
    }
  }

  &-sponsor-logo {
    margin-right: px2vw-xl(30px);
    border: 1px solid var(--base-white);
    width: px2vw-xl(140px);
    height: px2vw-xl(140px);
    object-fit: cover;

    @include lg {
      margin-right: px2vw-lg(30px);
      width: px2vw-lg(140px);
      height: px2vw-lg(140px);
    }

    @include md {
      margin-right: px2vw-md(30px);
      width: px2vw-md(140px);
      height: px2vw-md(140px);
    }

    @include sm {
      margin-right: px2vw-sm(30px);
      width: px2vw-sm(140px);
      height: px2vw-sm(140px);
    }
  }

  &-sponsor-name {
    color: var(--base-white);
    font-size: px2vw-xl(18px);

    @include lg {
      font-size: px2vw-lg(18px);
    }

    @include md {
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-top: px2vw-sm(10px);
      font-size: px2vw-sm(18px);
    }
  }

  &-sponsor-url {
    margin-bottom: 0;
    margin-left: auto;
    color: var(--base-white);
    font-size: px2vw-xl(16px);

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      margin-left: 0;
      font-size: px2vw-sm(16px);
    }
  }

  &-sponsor-link {
    margin-left: px2vw-xl(8px);

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }
  }

  &-sponsors {
    margin-top: px2vw-xl(17px);
    display: flex;
    justify-content: flex-end;

    @include lg {
      margin-top: px2vw-lg(17px);
    }

    @include md {
      margin-top: px2vw-md(17px);
    }

    @include sm {
      margin-top: px2vw-sm(17px);
    }
  }

  &-sponsor-link {
    margin-left: px2vw-xl(8px);

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }
  }
}

.Overview-sectionC {
  &-title {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-prizes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(32px);

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-prize {
    background-color: var(--base-white-smoke);
    padding: px2vw-xl(40px) px2vw-xl(10px) px2vw-xl(30px);
    text-align: center;

    @include lg {
      padding: px2vw-lg(30px) px2vw-lg(10px);
    }

    @include md {
      padding: px2vw-md(25px) px2vw-md(10px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(25px) px2vw-sm(10px) px2vw-sm(20px);
    }
  }

  &-prize-image-block {
    display: inline-block;
    margin-bottom: px2vw-xl(32px);
    width: px2vw-xl(80px);
    height: px2vw-xl(85px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
      width: px2vw-lg(80px);
      height: px2vw-lg(85px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
      width: px2vw-md(80px);
      height: px2vw-md(85px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
      width: px2vw-sm(80px);
      height: px2vw-sm(85px);
    }
  }

  &-prize-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &-prize-reward {
    position: relative;
    margin-bottom: 0;
    padding-bottom: px2vw-xl(18px);
    font-family: "stc-forward-bold", sans-serif;
    font-size: px2vw-xl(32px);
    line-height: px2vw-xl(48px);

    @include lg {
      padding-bottom: px2vw-lg(18px);
      font-size: px2vw-lg(32px);
      line-height: px2vw-lg(48px);
    }

    @include md {
      padding-bottom: px2vw-md(18px);
      font-size: px2vw-md(32px);
      line-height: px2vw-md(48px);
    }

    @include sm {
      padding-bottom: px2vw-sm(18px);
      font-size: px2vw-sm(32px);
      line-height: px2vw-sm(48px);
    }

    &::before {
      position: absolute;
      content: "";
      left: 45%;
      right: 45%;
      bottom: 0;
      height: 2px;
      background-color: var(--primary-sunset-light);
    }
  }

  &-prize-place {
    display: block;
    margin-top: px2vw-xl(16px);
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: var(--base-submarine);

    @include lg {
      margin-top: px2vw-lg(16px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }

    @include md {
      margin-top: px2vw-md(16px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }
}

::ng-deep{
  .Info-sectionA-item-description{
    & img{
      width: 100%;
    }
  }
}