<app-header-wall
  *ngIf="enableHeader"
  [currentUser]="currentUser"
  [openModalPost]="onHandlerModalPostEvent"
  [enableGoLive]="enableGoLive"
></app-header-wall>

<div *ngFor="let post of posts">
  <app-post-component
    [currentUser]="currentUser"
    [post]="post"
    [isLogin]="isLogin"
    [openModalPost]="onHandlerModalPostEvent"
    [getGender]="onHandlerGender"
    [deletePostById]="onHandlerDeletePostById"
  ></app-post-component>
</div>
