.form-select{
    width: 30%;
    button{
    text-align: left;
    margin-right: 10px;
    }
    .dropdown-toggle::after{
        content: none;
    }
}
.dropdown-menu{

    padding: 0;
    left: auto !important;
    max-height: 198px;
    overflow-x: auto;
    width: 100%;
    transform: none !important;
    top: 38px !important;
  
        &::-webkit-scrollbar {
          width: 3px;
          height: 3px;
        }
  
        &::-webkit-scrollbar-track {
          width: 10px;
          height: 10px;
        }
  
        &::-webkit-scrollbar-thumb {
          height: 10px;
          background-color: rgba(112, 112, 112, 0.6);
          border-radius: 3px;
        }
    
 .dropdown-item {
     border-bottom: 0.5px solid var(--ui-dim-gray);
     padding-top: 15px;
     padding-bottom: 9px;
     padding-left: 19px;
     font-size: 16px;
     line-height: 21px;
     width: 100%;
 
     &:last-child {
       border-bottom: 0;
     }
     &:hover,
     &:active,
     &:focus {
       background: transparent;
     }
   }
 }
 @media (min-width:240px) and (max-width:500px){
   .form-select{
     width: 60%;
    }
  }
 @media (min-width:501px) and (max-width:675px){
   .form-select{
     width: 40%;
   }
 }