<ng-container *ngIf="pageType === AppHtmlRoutesLoginType.emailLogin || pageType === AppHtmlRoutesLoginType.phoneLogin">
  <app-header-googly [title]="'LOGIN_PAGE.LOGIN' | translate"></app-header-googly>
</ng-container>
<ng-container *ngIf="pageType === AppHtmlRoutesLoginType.registration">
  <app-header-googly [title]="'LOGIN_PAGE.REGISTRATION' | translate"></app-header-googly>
</ng-container>
<section class="LogReg">
  <div class="LogReg-container">
    <div class="wrapper">
      <div class="inner">
        <div class="row">
          <div class="col-right">
            <div class="col-12">
              <ng-container *ngIf="
                  pageType === AppHtmlRoutesLoginType.registration || isReferel
                ">
                <app-submit-form *ngIf="registrationActiveStep === 0" (submit)="onRegistrationNext($event)"
                  [type]="pageType" [data]="registrationForm"></app-submit-form>
                <app-password-form *ngIf="registrationActiveStep === 1" [data]="setPassword"
                  [formValue]="registrationData" (submit)="onRegistrationStepTwo($event)" class="LogReg-body">
                </app-password-form>
                <app-verification-form *ngIf="registrationActiveStep === 2" [data]="emailVerification"
                  [formValue]="registrationData" (submit)="registrationEmailOtp($event)" [type]="pageType"
                  class="LogReg-body">
                </app-verification-form>
                <app-congratulation *ngIf="registrationActiveStep === 3" [data]="registrationComplete"
                  [formValue]="registrationData" class="LogReg-body"></app-congratulation>
              </ng-container>
              <ng-container *ngIf="pageType === AppHtmlRoutesLoginType.phoneLogin">
                <app-submit-form (submit)="onLoginNext($event)" [type]="pageType" [data]="phoneLogin"></app-submit-form>
              </ng-container>
              <ng-container *ngIf="pageType === AppHtmlRoutesLoginType.emailLogin">
                <app-stepper *ngIf="emailLoginActiveStep > 0" [data]="emailLoginStepperList"
                  [activeIndex]="emailLoginActiveStep"></app-stepper>
                <app-submit-form *ngIf="emailLoginActiveStep === 0" (submit)="onLoginNext($event)" [type]="pageType"
                  [data]="emailLogin"></app-submit-form>
              </ng-container>
              <ng-container *ngIf="pageType === AppHtmlRoutesLoginType.forgotPass">
                <app-stepper *ngIf="forgotActiveStep > 0" [data]="forgotPassStepperList"
                  [activeIndex]="forgotActiveStep">
                </app-stepper>
                <app-phone-no-form *ngIf="forgotActiveStep === 0" (submit)="onForgotNext($event)" [type]="pageType"
                  [data]="forgotPhoneNo"></app-phone-no-form>
                <app-verification-form *ngIf="forgotActiveStep === 1" [data]="loginPhoneVerification"
                  [formValue]="phoneNoData" [type]="pageType" (submit)="forgotOtp($event)" class="LogReg-body">
                </app-verification-form>
                <app-password-form *ngIf="forgotActiveStep === 2" [data]="forgotPassword" [formValue]="phoneNoData"
                  (submit)="forgotSetPassword($event)" class="LogReg-body"></app-password-form>
                <app-congratulation *ngIf="forgotActiveStep === 3" [data]="forgotComplete" [formValue]="phoneNoData"
                  class="LogReg-body"></app-congratulation>
              </ng-container>
              <ng-container *ngIf="pageType === AppHtmlRoutesLoginType.createPass">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<esports-fullscreen-loading *ngIf="loading"></esports-fullscreen-loading>