.form-group {
    .dropdown {
      button {
        text-align: left;

        &:after {
          display: none;
        }
      }
      .dropdown-menu {
        background: #0F1214;
        box-shadow: 4px 4px 6px #0000004D;
        // max-width: 235px;
        // padding: 21px 0 17px;
        padding: 0;
        // right: 26px;
        left: auto !important;
        max-height: 198px;
        overflow-x: auto;
        width: 100%;
        transform: none !important;
        top: 38px !important;

        &::-webkit-scrollbar { width: 3px; height: 3px;}
        &::-webkit-scrollbar-track {  width: 10px; height: 10px; }
        &::-webkit-scrollbar-thumb { height: 10px; background-color: rgba(112, 112, 112, .6); border-radius: 3px;}

        .dropdown-item {
          border-bottom: 0.5px solid #707070;
          padding-top: 15px;
          padding-bottom: 9px;
          padding-left: 19px;
          color: rgb(226, 226, 226, .6);
          font-size: 16px;
          line-height: 21px;
          //width: 65%;

          // &:first-child {
          //   padding-top: 0;
          // }
          &:last-child {
            // padding-bottom: 0;
            border-bottom: 0;
          }
          &:hover,
          &:active,
          &:focus {
            background: transparent;
            color: #E2E2E2;
          }
        }
      }
    }
    .labeltext {
      background-color: #171821;
      position: absolute;
      font-size: 16px;
      left: 19px;
      line-height: 21px;
      color: var(--inputplaceholdernonactive);
      margin: 0;
      top: 10px;
      padding: 0px 10px 0 5px;
      transition: all .3s;
      z-index: 1;
    }
    .form-control:focus ~ .labeltext,
    .labeltext.active {
    font-size: 12px;
    line-height: 16px;
    top: -7px;
    z-index: 2;
    }
  }

  @media (min-width: 1200px) and (max-width: 1600px) { 
    .form-group {
        .dropdown {
          .dropdown-menu {
            .dropdown-item {
              font-size: 14px;
              line-height: normal;
            }
          }
        }
      }
  }