<!-- <div *ngIf="showRegTime">
  <span
    >{{
      "VIEW_TOURNAMENT.REGISTRATION.REGISTRATION_STARTS_IN" | translate
    }}
    : </span
  ><countdown
    [config]="{ leftTime: remainingTime ,formatDate:formatDate,format:'D\d\ HH:mm:ss'}"
    (event)="onTimerFinished($event)"
  ></countdown>
</div>

<div *ngIf="showTournamentTime" class="startTime">
  <span
    >{{
      "VIEW_TOURNAMENT.REGISTRATION.TOURNAMENT_STARTS_IN" | translate
    }}
    : </span
  ><countdown
    [config]="{ leftTime: remainingTimeForTournamentStart ,formatDate:formatDate,format:'D\d\ HH:mm:ss'}"
    (event)="onTournamnetTimerFinished($event)"
  ></countdown>
</div>

<div *ngIf="registrationEndedTxt">
  {{ "VIEW_TOURNAMENT.REGISTRATION.REGISTRATION_ENDED" | translate }}
</div> -->

<div *ngIf="showRegTime">
  <span
    >{{
      "VIEW_TOURNAMENT.REGISTRATION.REGISTRATION_STARTS_IN" | translate
    }}
    : </span
  ><countdown
    [config]="{ leftTime: remainingTime ,formatDate:formatDate,format:'D\d\ HH:mm:ss'}"
    (event)="onTimerFinished($event)"
  ></countdown>
</div>

<div *ngIf="showTournamentTime" class="startTime">
  <span
    >{{
      "VIEW_TOURNAMENT.REGISTRATION.TOURNAMENT_STARTS_IN" | translate
    }}
    : </span
  ><countdown
    [config]="{ leftTime: remainingTimeForTournamentStart ,formatDate:formatDate,format:'D\d\ HH:mm:ss'}"
    (event)="onTournamnetTimerFinished($event)"
  ></countdown>
</div>

<div *ngIf="registrationEndedTxt">
  {{ "VIEW_TOURNAMENT.REGISTRATION.REGISTRATION_ENDED" | translate }}
</div>


<ng-container [ngSwitch]="btnType">
  <div *ngIf="tournament?.participantType == 'individual'">
    <button class="global-EditBtn  button-primary "
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;" *ngSwitchCase="'join'"
      (click)="saveParticipantDetails()" [disabled]="isProcessing">
      <ng-container *ngIf="!isProcessing">
        {{ "VIEW_TOURNAMENT.JOIN_BUTTON.JOIN_TOURNAMENT" | translate }}
      </ng-container>
      <mat-spinner [diameter]="20" *ngIf="isProcessing"></mat-spinner>
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>
  </div>
  <div *ngIf="tournament?.participantType == 'team'" (click)="joinButtonClicked()" >
    <button class="global-EditBtn  button-primary "
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;" *ngSwitchCase="'join'"
      [routerLink]="[AppHtmlTeamRegRoutes.newTeam, tournament?.slug]">
      <!--  [routerLink]="AppHtmlRoutes.joinTournament" -->
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.JOIN_TOURNAMENT" | translate }}
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>
  </div>

  <button class="global-EditBtn  button-primary "
    style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;" *ngSwitchCase="'checked-in'"
    (click)="participantCheckIn()">
    {{ "VIEW_TOURNAMENT.JOIN_BUTTON.CHECKED_IN" | translate }}
    <mat-icon style="color:black"> arrow_forward </mat-icon>
  </button>
  <button class="global-EditBtn  button-primary  not-allowed"
    style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
    *ngSwitchCase="'already-checked-in'">
    {{ "VIEW_TOURNAMENT.JOIN_BUTTON.ALREADY_CHECKED_IN" | translate }}
    <mat-icon style="color:black"> arrow_forward </mat-icon>
  </button>
  <button class="global-EditBtn  button-primary  not-allowed"
    style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
    *ngSwitchCase="'already-registered'">
    <ng-container *ngIf="remainigCheckInTime < 1">
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.ALREADY_REGISTERED" | translate }}
    </ng-container>
    <ng-container *ngIf="remainigCheckInTime > 1">
      {{ "VIEW_TOURNAMENT.REGISTRATION.CHECKED_IN_STARTS" | translate }}:
      <countdown [config]="{ leftTime: remainigCheckInTime }" (event)="onTimerFinished($event)"></countdown>
    </ng-container>
    <mat-icon style="color:black"> arrow_forward </mat-icon>
  </button>
  <button class="global-EditBtn  button-primary  not-allowed"
    style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
    *ngSwitchCase="'registration-full'">
    {{ "VIEW_TOURNAMENT.JOIN_BUTTON.REGISTRATION_FULL" | translate }}
    <mat-icon style="color:black"> arrow_forward </mat-icon>
  </button>
  <button class="global-EditBtn  button-primary  not-allowed"
    style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
    *ngSwitchCase="'region-not-allowed'">
    {{ "VIEW_TOURNAMENT.JOIN_BUTTON.NOT_ALLOWED_1" | translate }}
    {{ user?.state || ("VIEW_TOURNAMENT.JOIN_PARTICIPANT.EMPTY" | translate) }}
    {{ "VIEW_TOURNAMENT.JOIN_BUTTON.NOT_ALLOWED_2" | translate }}
    <mat-icon style="color:black"> arrow_forward </mat-icon>
  </button>
  <button class="global-EditBtn  button-primary  hide-btn" *ngSwitchDefault>
    {{ "VIEW_TOURNAMENT.JOIN_BUTTON.BETTER_LUCK_NEXT_TIME" | translate }}
    <mat-icon style="color:black"> arrow_forward </mat-icon>
  </button>
</ng-container>


<!--
<ng-container *ngIf="tournament?.bracketType == 'ladder'">
  <ng-container [ngSwitch]="btnType">
    <div *ngIf="tournament?.participantType == 'individual'">
      <button class="global-EditBtn  button-primary "
        style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
        *ngSwitchCase="'join'"
        (click)="saveParticipantDetails()" [disabled]="isProcessing">
        <ng-container *ngIf="!isProcessing">
          {{ "VIEW_TOURNAMENT.JOIN_BUTTON.JOIN_TOURNAMENT" | translate }}
        </ng-container>

        <mat-spinner [diameter]="20" *ngIf="isProcessing"></mat-spinner>
        <mat-icon style="color:black"> arrow_forward </mat-icon>
      </button>
    </div>
    <div *ngIf="tournament?.participantType == 'team'">
      <button class="global-EditBtn  button-primary "
        style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
        *ngSwitchCase="'join'"
        [routerLink]="[AppHtmlTeamRegRoutes.newTeam, tournament?.slug]">
        {{ "VIEW_TOURNAMENT.JOIN_BUTTON.JOIN_TOURNAMENT" | translate }}
        <mat-icon style="color:black"> arrow_forward </mat-icon>
      </button>
    </div>

    <button class="global-EditBtn  button-primary "
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;" *ngSwitchCase="'checked-in'"
      (click)="participantCheckIn()">
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.CHECKED_IN" | translate }}
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>
    <button class="global-EditBtn  button-primary  not-allowed"
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
      *ngSwitchCase="'already-checked-in'">
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.ALREADY_CHECKED_IN" | translate }}
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>
    <button class="global-EditBtn  button-primary  not-allowed"
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
      *ngSwitchCase="'already-registered'">
      <ng-container *ngIf="remainigCheckInTime < 1">
        {{ "VIEW_TOURNAMENT.JOIN_BUTTON.ALREADY_REGISTERED" | translate }}
      </ng-container>
      <ng-container *ngIf="remainigCheckInTime > 1">
        {{ "VIEW_TOURNAMENT.REGISTRATION.CHECKED_IN_STARTS" | translate }}:
        <countdown [config]="{ leftTime: remainigCheckInTime }" (event)="onTimerFinished($event)"></countdown>
      </ng-container>
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>

    <button class="global-EditBtn  button-primary "
    style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
    *ngSwitchCase="'join'"
    (click)="saveParticipantDetails()" [disabled]="isProcessing">
    <ng-container *ngIf="!isProcessing">
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.JOIN_TOURNAMENT" | translate }}
    </ng-container>

    <mat-spinner [diameter]="20" *ngIf="isProcessing"></mat-spinner>
    <mat-icon style="color:black"> arrow_forward </mat-icon>
  </button>


    <button class="global-EditBtn  button-primary"
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
      *ngSwitchCase="'registration-full'"
      (click)="saveParticipantDetails()" [disabled]="isProcessing">
      <ng-container *ngIf="!isProcessing">
        {{ "VIEW_TOURNAMENT.JOIN_BUTTON.JOIN_TOURNAMENT" | translate }}
      </ng-container>
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>
    <button class="global-EditBtn  button-primary  not-allowed"
      style="width: 100%;  padding: 9px;display: flex;justify-content: space-between;"
      *ngSwitchCase="'region-not-allowed'">
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.NOT_ALLOWED_1" | translate }}
      {{ user?.state || ("VIEW_TOURNAMENT.JOIN_PARTICIPANT.EMPTY" | translate) }}
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.NOT_ALLOWED_2" | translate }}
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>
    <button class="global-EditBtn  button-primary  hide-btn" *ngSwitchDefault>
      {{ "VIEW_TOURNAMENT.JOIN_BUTTON.BETTER_LUCK_NEXT_TIME" | translate }}
      <mat-icon style="color:black"> arrow_forward </mat-icon>
    </button>
  </ng-container>
  </ng-container> -->

<app-fullscreen-loading *ngIf="isProcessing"></app-fullscreen-loading>
