@import "shared";

:host {
  display: block;
}

.TournamentCreate {
  background-color: var(--color-background);
  // color: var(--base-white);
  // background: radial-gradient(
  //   54% 70% at 0% 0%,
  //   rgba(115, 108, 255, 0.25) -25%,
  //   rgba(115, 108, 255, 0) 100%
  // );
  // padding-left: 64px;
}

// .TournamentCreateContainer {
//   padding-right: 64px;
// }

.TournamentCreateContainer-bg {
  // padding-right: 50%!important;
  // background: url(/assets/images/create-tournament/persons/4.png) no-repeat right bottom;
  // background-size: px2vw-xl(366px) auto;

  @include lg {
    background-size: px2vw-lg(366px);
  }

  @include md {
    background-size: px2vw-md(366px);
  }

  @include sm {
    background-size: px2vw-sm(366px);
  }
}
