<div class="userReport" *ngIf="!userReportDetail">
  <h4 class="global-Title3">{{ "USER_REPORT.TITLE" | translate }}</h4>
  <ngx-datatable
    #table
    class="global-DataTable"
    [columnMode]="'force'"
    [footerHeight]="'auto'"
    [headerHeight]="'auto'"
    [rowHeight]="'auto'"
    [rows]="userReports"
    (activate)="getReportDetail($event)"
  >
    <ngx-datatable-column
      name="{{ 'USER_REPORT.TABLE_HEADER_1' | translate }}"
      prop="reportUId"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row.reportUId }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="{{ 'USER_REPORT.TABLE_HEADER_2' | translate }}"
      prop="reportType"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{
          row["reportType"] === "cheating"
            ? ("USER_REPORT.REPORT_TYPE_CHEATING" | translate)
            : row["reportType"] === "incorrectOpponent"
            ? ("USER_REPORT.REPORT_TYPE_INCORRECT" | translate)
            : ("USER_REPORT.REPORT_TYPE_GRIEVANCES" | translate)
        }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="{{ 'USER_REPORT.TABLE_HEADER_3' | translate }}"
      prop="status"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{
          row?.status === "close"
            ? ("USER_REPORT.REPORT_CLOSE" | translate)
            : ("USER_REPORT.REPORT_OPEN" | translate)
        }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="{{ 'USER_REPORT.TABLE_HEADER_4' | translate }}"
      prop="updatedOn"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row.updatedOn | date: "MMM d y, h:mm a" }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
  <!-- <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{{ "USER_REPORT.TABLE_HEADER_1" | translate }}</th>
        <th scope="col">{{ "USER_REPORT.TABLE_HEADER_2" | translate }}</th>
        <th scope="col">{{ "USER_REPORT.TABLE_HEADER_3" | translate }}</th>
        <th scope="col">{{ "USER_REPORT.TABLE_HEADER_4" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let field of userReports"
        (click)="getReportDetail(field._id)"
      >
        <td>{{ field.reportUId }}</td>
        <td *ngIf="field.reportType === 'cheating'">
          {{ "USER_REPORT.REPORT_TYPE_CHEATING" | translate }}
        </td>
        <td *ngIf="field.reportType === 'incorrectOpponent'">
          {{ "USER_REPORT.REPORT_TYPE_INCORRECT" | translate }}
        </td>
        <td *ngIf="field.reportType === 'grievances'">
          {{ "USER_REPORT.REPORT_TYPE_GRIEVANCES" | translate }}
        </td>
        <td *ngIf="field.status === 'open'">
          {{ "USER_REPORT.REPORT_OPEN" | translate }}
        </td>
        <td *ngIf="field.status === 'close'">
          {{ "USER_REPORT.REPORT_CLOSE" | translate }}
        </td>
        <td>
          {{ field.updatedOn | date: "MMM d y, h:mm a" }}
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
<div *ngIf="userReportDetail">
  <div class="viewUser">
    <div class="u-dfCenterBtw">
      <h4 class="global-Title4 mb-0">
        {{ "USER_REPORT.TICKET" | translate }} #{{
          userReportDetail?.report?.reportUId
        }}
      </h4>
      <a (click)="backBtn()" class="viewUser-backButton">
        <span><img src="/assets/icons/arrow-back.svg" /></span>
        <span>{{ "USER_REPORT.REPORT_BACK" | translate }}</span>
      </a>
    </div>
    <h3
      *ngIf="userReportDetail?.report?.reportType === 'cheating'"
      class="global-Title3 mb-4 mt-2"
    >
      {{ "USER_REPORT.REPORT_TYPE_CHEATING" | translate }}
    </h3>
    <h3
      *ngIf="userReportDetail?.report?.reportType === 'incorrectOpponent'"
      class="global-Title3 mb-4 mt-2"
    >
      {{ "USER_REPORT.REPORT_TYPE_INCORRECT" | translate }}
    </h3>
    <h3
      *ngIf="userReportDetail?.report?.reportType === 'grievances'"
      class="global-Title3 mb-4 mt-2"
    >
      {{ "USER_REPORT.REPORT_TYPE_GRIEVANCES" | translate }}
    </h3>

    <div class="viewUser-report">
      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE1" | translate }}
        </span>
        <span class="viewUser-report-value">
          {{ userReportDetail?.report?.createdOn | date: "MMM d y, h:mm a" }}
        </span>
      </div>
      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE2" | translate }}
        </span>
        <span class="viewUser-report-value">
          {{
            (userReportDetail?.adminUser &&
              userReportDetail?.adminUser?.updatedBy?.fullName) ||
              "-"
          }}
        </span>
      </div>

      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE3" | translate }}
        </span>
        <span
          (click)="openResult(openModel)"
          class="viewUser-report-value matchId"
        >
          {{
            userReportDetail?.report?.matchId
              | limitString: 15:"..." || "xxxxxxxxx"
          }}
        </span>
      </div>

      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE4" | translate }}
        </span>
        <span class="viewUser-report-value">
          {{ userReportDetail?.report?.updatedOn | date: "MMM d y, h:mm a" }}
        </span>
      </div>

      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE5" | translate }}
        </span>
        <span class="viewUser-report-value">
          {{ userReportDetail?.report?.tournamentId?.name }}
        </span>
      </div>

      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE6" | translate }}
        </span>
        <span class="viewUser-report-value">
          {{ userReportDetail?.opponent?.teamName || "-" }}
        </span>
      </div>

      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE7" | translate }}
        </span>
        <span class="viewUser-report-value">
          {{
            userReportDetail?.report?.createrId?.fullName
              | limitString: 17:"..."
          }}
        </span>
      </div>

      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE8" | translate }}
        </span>
        <span class="viewUser-report-value">
          {{
            userReportDetail?.report?.status === "close"
              ? ("USER_REPORT.REPORT_CLOSE" | translate)
              : ("USER_REPORT.REPORT_OPEN" | translate)
          }}
        </span>
      </div>

      <div class="viewUser-report-space4">
        <span class="viewUser-report-key">
          {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE9" | translate }}
        </span>
        <span class="viewUser-report-value">
          {{ userReportDetail?.opponent?.inGamerUserId || "-" }}
        </span>
      </div>
    </div>

    <div
      *ngFor="let field of userReportDetail?.discussion"
      class="row viewUser-profile userReport"
    >
      <div class="col-xs-12 col-md-3">
        <div class="u-dfCenterStart">
          <span
            ><img
              *ngIf="!field?.updatedBy?.profilePicture"
              class="viewUser-profile-img"
              src="./assets/images/Profile/stc_avatar.png"
            />
            <img
              *ngIf="field?.updatedBy?.profilePicture"
              class="viewUser-profile-img"
              [src]="field?.updatedBy?.profilePicture"
            />
          </span>
          <div>
            <div>{{ field?.updatedBy?.fullName | limitString: 17:"..." }}</div>
            <div class="viewUser-profile-days">
              {{ field?.createdOn | dateToDayAgo }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-xs-12 col-md-9 textOverlapping viewUser-profile-description"
      >
        <p>{{ field.reportText }}</p>
        <div
          (click)="downloadUrl(field?.reportImage)"
          *ngIf="field?.reportImage"
          class="viewUser-profile-screenshot"
        >
          <img
            class="viewUser-profile-screenshotImg"
            [src]="field?.reportImage"
          />
          <span class="viewUser-profile-screenshotTitle">{{
            "USER_REPORT.REPORT_TYPE_SCREENSHOT" | translate
          }}</span>
        </div>
      </div>
    </div>
    <div class="row viewUser-profile">
      <div class="col-xs-12 col-md-3"></div>
      <div class="col-xs-12 col-md-9">
        <div>
          <textarea
            placeholder="{{ 'USER_REPORT.COMMENT' | translate }}"
            class="p-2 field-text global-Text"
            [(ngModel)]="replyText"
          ></textarea>

          <div class="uploadView">
            <label
              *ngIf="!base64textString"
              class="uploadView-block"
              for="files"
            >
              <img src="./assets/icons/upload-image.svg" />
              <div class="uploadView-block-title global-Text">
                {{ "USER_REPORT.UPLOAD_IMAGE" | translate }}
              </div>
              <div class="global-Text">
                {{ "USER_REPORT.UPLOAD_JPEG_TEXT" | translate }}
              </div>
            </label>
            <img
              class="uploadView-image"
              [src]="base64textString"
              (click)="avatar.click()"
              alt="chat image"
              *ngIf="base64textString"
            />
            <input
              #avatar
              type="file"
              id="files"
              class="uploadView-upload"
              (change)="handleFileSelect($event)"
              accept="image/*"
              single
            />
          </div>
        </div>
        <div class="mt-3">
          <button
            class="global-EditBtn"
            [disabled]="!replyText"
            (click)="onReply(false)"
          >
            {{ "USER_REPORT.ACTION_BUTTON1" | translate }}
          </button>
          <button
            class="global-EditBtn mr-2 ml-2"
            (click)="onReply(true)"
            [disabled]="!replyText"
          >
            {{ "USER_REPORT.ACTION_BUTTON2" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #openModel let-modal class="Logout-modal">
  <div class="modal-header">
    <h5 class="global-Title2">
      {{ "ELIMINATION.REPORT_SCORE" | translate }}
    </h5>
  </div>
  <p class="info">
    <mat-icon>info</mat-icon>{{ "ELIMINATION.REPORT_SCORE_TEXT" | translate }}
  </p>
  <app-score-card
    *ngIf="
      userReportDetail &&
      userReportDetail?.match &&
      userReportDetail?.participantId
    "
    [match]="userReportDetail?.match"
    [isEventOrganizerOrAdmin]="isAdmin"
    [isShowTitle]="false"
    [isShowChat]="false"
    [isShowReportBtn]="false"
    [participantId]="userReportDetail?.participantId"
    [tournament]="userReportDetail?.match?.tournamentId"
    (exit)="exitFromScoreCard($event)"
  >
  </app-score-card>
</ng-template>

<esports-fullscreen-loading *ngIf="isLoaded"></esports-fullscreen-loading>
