@import "shared";

.userReport {
  & tr {
    & td {
      @extend %global-Text;
      color: var(--base-black-pearl);
      border-bottom: 1px solid var(--base-gainsboro);
      cursor: pointer;
    }
  }
}

.info{
  padding-top: 10px;
  color: var(--dark-red);
}
.info > mat-icon {
  vertical-align: middle;
}

.viewUser {
  & .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  &-report {
    padding: 30px 0;
    border-top: 1px solid var(--base-gainsboro);
    border-bottom: 1px solid var(--base-gainsboro);
    &-space4 {
      display: inline-flex;
      align-items: center;
      width: 33.33%;
      max-width: 100%;
      margin-bottom: 15px;
      @include lg {
        width: 50%;
      }
      @include md {
        width: 100%;
      }
    }
    &-key {
      @extend %global-Text;
      color: var(--base-submarine);
      min-width: 100px;
    }
    &-value {
      color: var(--base-black-pearl);
      @include textClamp(1);
    }
  }
  &-profile {
    margin-top: 30px;
    &-img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 15px;
    }
    &-description {
      @extend %global-Text;
      color: var(--base-black-pearl);
      @include md {
        margin-top: 20px;
      }
    }
    &-days {
      color: var(--base-submarine);
    }
    &-screenshot {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid var(--base-gainsboro);
      box-shadow: 0px 1px 3px var(--base-gainsboro);
      padding: 3px 8px;
      margin: 15px 10px 30px 0;
      color: var(--base-submarine);
    }
    &-screenshotImg {
      max-width: 25px;
      margin-right: 10px;
      height: auto;
    }
    &-screenshotTitle {
      color: var(--base-submarine);
    }
  }
  &-backButton {
    display: flex;
    align-items: center;
    color: var(--primary-sunset-light);
    & img {
      width: 5px;
      margin-right: 5px;
      margin-top: -3px;
    }
  }
}

.uploadView {
  &-image {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: contain;
  }
}

.field-text {
  border: 1px solid var(--base-gainsboro);
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
}
.userReport {
  border-bottom: 1px solid var(--base-white-dark);
  padding-bottom: 10px;
}
.matchId {
  color: var(--primary-sunset-light);
}
.textOverlapping {
  margin-top: 5px;
  margin-left: 65px;
}
