@import "shared";

.Swiss {
  &-searchBar {
    & .row {
      margin-left: -15px;
      margin-right: -15px;
    }

    &-control {
      padding: 10px;
      padding-right: 45px;
      width: 100%;
      height: 44px;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
    }

    &-wrapper {
      position: relative;
      &-icon {
        width: 22px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-datepicker {
      color: #fff;
      background-color: #501090;
      position: relative;
      &-icon {
        width: 15px;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-matches {
    padding: 28px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    &-space-3 {
      width: 33.33%;
      max-width: 100%;
      @include md {
        width: 100%;
      }
    }

    &-second {
      text-align: center;
    }

    &-third {
      text-align: right;
    }

    &-win {
      color: var(--color-primary);
    }

    &-lose,
    &-lose2 {
      color: var(--color-tertiary);
    }

    &-draw {
      color: var(--black-medium);
    }

    &-disq {
      text-decoration: line-through var(--color-primary);
    }

    &:hover {
      background-color: #fff0eb;
    }
  }

  &-standing {
    margin-top: px2vw-xl(100px);

    @include lg {
      margin-top: px2vw-lg(100px);
    }

    @include md {
      margin-top: px2vw-md(100px);
    }

    @include sm {
      margin-top: px2vw-sm(100px);
    }
  }

  &-round-list {
    // display: inline-block;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    @include sm {
      padding: 0 px2vw-sm(15px);
    }
  }

  &-round-item {
    display: inline-block;
    border: 1px solid var(--black-medium);
    text-align: center;
    width: 54px;
    height: 44px;
    line-height: 44px;
    border-radius: 4px;
    margin-top: px2vw-xl(5px);
    margin-right: px2vw-xl(5px);
    cursor: pointer;

    &.active,
    &:hover:not(.active) {
      background-color: var(--color-primary);
      color: var(--black);
    }

    @include lg {
      margin-top: px2vw-lg(5px);
      margin-right: px2vw-lg(5px);
    }

    @include md {
      margin-top: px2vw-md(5px);
      margin-right: px2vw-md(5px);
    }

    @include sm {
      margin-top: px2vw-sm(5px);
      margin-right: px2vw-sm(5px);
    }
  }

  &-dropdown {
    width: 54px;
    border: 1px solid var(--black-medium);
    border-radius: 4px;
    max-height: 90px;
    overflow-y: auto;
    color: var(--black);
    background: var(--white-high);

    & li {
      margin-bottom: 5px;
      padding: 5px;
      text-align: center;
      &:hover {
        background-color: var(--black);
        color: var(--white-high);
      }
    }
  }

  &-round-title {
    padding: 10px 0;

    p {
      padding: 10px 0;
      font-weight: 900;
    }
  }
}
