<mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
  <mat-label>
    {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.TIME" | translate }}
  </mat-label>

  <input matInput [ngxTimepicker]="fullTime" />

  <ngx-material-timepicker
    #fullTime
    [timepickerClass]="'SparkTimeTheme'"
  ></ngx-material-timepicker>

  <mat-datepicker-toggle matSuffix [for]="fullTime">
    <mat-icon matDatepickerToggleIcon>schedule</mat-icon>
  </mat-datepicker-toggle>
</mat-form-field>
