<header class="Header" [class.active]="mobMenuOpened">
  <div class="Header-container u-wp">
    <div class="Header-wrapper">
      <div class="Header-inner">
        <div class="Header-item Header-left">
          <a class="Header-logo" [routerLink]="AppHtmlRoutes.home">
            <div class="Header-logo-icon icon logo-dynasty" [class.active]="mobMenuOpened"
              inlineSVG="assets/icons/matchmaking/Logo-new.svg"></div>
            <!-- <div class="Header-beta-icon icon" inlineSVG="assets/global-images/BETA.svg"></div> -->
          </a>

          <!-- <a class="Header-home Header-navigation-link" [routerLink]="AppHtmlRoutes.home" routerLinkActive="is-active">
              Home
            </a> -->

          <nav class="Header-navigation" *ngIf="isBrowser">
            <ng-container *ngFor="let item of navigation">
              <a class="Header-navigation-link" [routerLink]="item.url" >
                {{ item.title | translate }}
              </a>

              <!-- <a routerLink="/about-us" routerLinkActive="is-active">About</a> -->
            </ng-container>
          </nav>
        </div>
        <div class="Header-item Header-center">
          <div class="wap-search">
            <div class="form-group">
              <input type="text" class="input-field" placeholder="Search game, tournament, articles..." />
              <span class="icon">
                <img src="../../../../../assets/icons/season/Search.svg" alt="" />
              </span>
            </div>
          </div>
        </div>
        <div class="Header-item Header-right">
          <div class="Header-control" *ngIf="isBrowser">
            <div class="Header-home Header-toggles" [class.active]="mobMenuOpened">
              <!-- Search -->
              <!-- <button class="Header-toggle" [routerLink]="AppHtmlRoutes.search">
                <mat-icon class="Header-toggle-icon toggle-icon search">
                  search
                </mat-icon>
              </button> -->

              <!-- Chat -->
              <ng-container *ngIf="isUserLoggedIn">
                <button class="Header-toggle" (click)="onChatSidenavToggle()">
                  <mat-icon class="Header-toggle-icon toggle-icon">
                    chat_bubble_outline
                  </mat-icon>
                </button>
              </ng-container>

              <!-- Notification -->
              <ng-container *ngIf="isUserLoggedIn">
                <button class="Header-toggle">
                  <!-- <mat-icon class="Header-toggle-icon toggle-icon">
                      notifications_none
                    </mat-icon> -->

                  <mat-icon class="Header-toggle-icon toggle-icon" [matMenuTriggerFor]="userMenu"
                    [class.active]="mobMenuOpened">
                    notifications_none
                  </mat-icon>

                  <mat-menu class="global-MatMenu is-user" #userMenu="matMenu" xPosition="before">
                    <div class="Header-user-menu" style="display: none">
                      <!-- <header class="Header-user-points">
                      <p class="Header-user-points-title">My Points :</p>
        
                      <div class="Header-user-points-info">
                        <img class="Header-user-points-image" src="assets/icons/header/user/points-icon.svg" alt="icon" />
                        <div class="Header-user-points-count">2750</div>
                      </div>
                    </header> -->

                      <div class="Header-user-links">
                        <div class="Header-user-links-top">
                          <!-- <ng-container *ngFor="let link of userLinks">
                          <a class="Header-user-link" [routerLink]="link.url">
                             <div class="Header-user-link-icon-block">
                              <mat-icon class="Header-user-link-icon icon">
                                Notifications
                              </mat-icon>
                            </div> -->
                          <!-- <span class="Header-user-link-text">
                              Notifications
                            </span>
                          </a> -->
                          <!-- </ng-container> - -->
                          <h6 style="text-align: center">Notifications</h6>
                        </div>

                        <div class="Header-user-links-bottom">
                          <a class="Header-user-link">
                            <div class="Header-user-link-icon-block">
                              <mat-icon class="Header-user-link-icon icon">
                                settings
                              </mat-icon>
                            </div>
                            <span class="Header-user-link-text"> Account </span>
                          </a>

                          <span class="Header-user-link-text text" style="text-align: center">
                            No Notifications</span>
                        </div>
                      </div>
                    </div>
                    <div class="Header-team-notification">
                      <div class="Header-team-notification-title">
                        Jax invited you to a CS:GO game.
                      </div>
                      <div class="Header-team-notification-description">
                        Click accept this matchmaking game.
                      </div>
                      <button class="Header-team-notification-btn-accept">
                        Accept
                      </button>
                      <button class="Header-team-notification-btn-reject">
                        Reject
                      </button>
                    </div>
                  </mat-menu>
                </button>
              </ng-container>
            </div>

            <!-- Login, Register buttons -->
            <ng-container *ngIf="!isUserLoggedIn">
              <div class="Header-buttons">
                <button class="Header-button button-secondary" [routerLink]="[
                    AppHtmlRoutes.userPageType,
                    AppHtmlRoutesLoginType.emailLogin
                  ]">
                  {{ "BUTTON.LOGIN" | translate }}
                </button>

                <button class="Header-button button-primary register" [routerLink]="[
                    AppHtmlRoutes.userPageType,
                    AppHtmlRoutesLoginType.registration
                  ]">
                  {{ "BUTTON.JOIN_NOW" | translate }}
                </button>
              </div>
            </ng-container>

            <div class="Header-user" *ngIf="isUserLoggedIn">
              <div *ngIf="currentUser.profilePicture" class="Header-user-image" [lazyLoad]="currentUser.profilePicture"
                [matMenuTriggerFor]="userMenu" [class.active]="mobMenuOpened"></div>

              <div *ngIf="!currentUser.profilePicture" class="Header-user-image"
                lazyLoad="assets/images/Home/avatar-prelogin.png"></div>

              <mat-icon class="Header-user-arrow" [matMenuTriggerFor]="userMenu" [class.active]="mobMenuOpened">
                expand_more
              </mat-icon>

              <mat-menu class="global-MatMenu is-user" #userMenu="matMenu" xPosition="before">
                <div class="Header-user-menu">
                  <!-- <header class="Header-user-points">
                      <p class="Header-user-points-title">My Points :</p>
        
                      <div class="Header-user-points-info">
                        <img class="Header-user-points-image" src="assets/icons/header/user/points-icon.svg" alt="icon" />
                        <div class="Header-user-points-count">2750</div>
                      </div>
                    </header> -->

                  <div class="Header-user-links">
                    <div class="Header-user-links-top">
                      <ng-container *ngFor="let link of userLinks">
                        <a class="Header-user-link" [routerLink]="link.url">
                          <div class="Header-user-link-icon-block">
                            <mat-icon class="Header-user-link-icon icon">
                              {{ link.icon }}
                            </mat-icon>
                          </div>
                          <span class="Header-user-link-text">
                            {{ link.title }}
                          </span>
                        </a>
                      </ng-container>
                    </div>

                    <div class="Header-user-links-bottom">
                      <a class="Header-user-link" (click)="openSettingsLightbox()">
                        <div class="Header-user-link-icon-block">
                          <mat-icon class="Header-user-link-icon icon">
                            settings
                          </mat-icon>
                        </div>
                        <span class="Header-user-link-text">
                          Account Settings
                        </span>
                      </a>
                      <a class="Header-user-link" (click)="openSettingsLightbox(4)">
                        <div class="Header-user-link-icon-block">
                          <mat-icon class="Header-user-link-icon icon">
                            tag_faces
                          </mat-icon>
                        </div>
                        <span class="Header-user-link-text">
                          Refer a friend
                        </span>
                      </a>
                      <a class="Header-user-link logout" (click)="onLogOut()">
                        <div class="Header-user-link-icon-block">
                          <mat-icon class="Header-user-link-icon icon">
                            exit_to_app
                          </mat-icon>
                        </div>
                        <span class="Header-user-link-text text">
                          Log out
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </div>
            <button class="Header-open" (click)="mobMenuOpened = !mobMenuOpened; onScrollBody()"
              [attr.aria-expanded]="!mobMenuOpened">
              <mat-icon class="Header-open-icon" [class.active]="mobMenuOpened">
                {{ mobMenuOpened ? "close" : "menu" }}
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="drag-vertical">
    <span class="icon" inlineSVG="assets/icons/header/Vector-touch.svg">
    </span>
  </div>
</header>
<div class="Header-mob-menu" [isAnimated]="true" [collapse]="!mobMenuOpened">
  <nav class="Header-mob-container">
    <div class="Header-toggles" [class.active]="mobMenuOpened">
      <!-- Search -->
      <button class="Header-toggle Header-mob-link" [routerLink]="AppHtmlRoutes.search">
        <mat-icon class="Header-toggle-icon toggle-icon search">
          search
        </mat-icon>
      </button>

      <!-- Chat -->
      <ng-container *ngIf="isUserLoggedIn">
        <button class="Header-toggle Header-mob-link" (click)="onChatSidenavToggle()">
          <mat-icon class="Header-toggle-icon toggle-icon">
            chat_bubble_outline
          </mat-icon>
        </button>
      </ng-container>

      <!-- Notification -->
      <ng-container *ngIf="isUserLoggedIn">
        <button class="Header-toggle Header-mob-link">
          <!-- <mat-icon class="Header-toggle-icon toggle-icon">
                  notifications_none
                </mat-icon> -->

          <mat-icon class="Header-toggle-icon toggle-icon" [matMenuTriggerFor]="userMenu"
            [class.active]="mobMenuOpened">
            notifications_none
          </mat-icon>

          <mat-menu class="global-MatMenu is-user" #userMenu="matMenu" xPosition="before">
            <div class="Header-user-menu">
              <!-- <header class="Header-user-points">
                  <p class="Header-user-points-title">My Points :</p>
    
                  <div class="Header-user-points-info">
                    <img class="Header-user-points-image" src="assets/icons/header/user/points-icon.svg" alt="icon" />
                    <div class="Header-user-points-count">2750</div>
                  </div>
                </header> -->

              <div class="Header-user-links">
                <div class="Header-user-links-top">
                  <!-- <ng-container *ngFor="let link of userLinks">
                      <!-- <a class="Header-user-link" [routerLink]="link.url">
                        <!-- <div class="Header-user-link-icon-block">
                          <mat-icon class="Header-user-link-icon icon">
                            Notifications
                          </mat-icon>
                        </div> -->
                  <!-- <span class="Header-user-link-text">
                          Notifications
                        </span>
                      </a> -->
                  <!-- </ng-container> - -->
                  <h6 style="text-align: center">Notifications</h6>
                </div>

                <div class="Header-user-links-bottom">
                  <a class="Header-user-link">
                    <div class="Header-user-link-icon-block">
                      <mat-icon class="Header-user-link-icon icon">
                        settings
                      </mat-icon>
                    </div>
                    <span class="Header-user-link-text"> Account </span>
                  </a>
                  <span class="Header-user-link-text text" style="text-align: center">
                    No Notifications</span>
                </div>
              </div>
            </div>
          </mat-menu>
        </button>
      </ng-container>
    </div>
    <ng-container *ngFor="let item of navigation">
      <a class="Header-mob-link" [routerLink]="item.url" routerLinkActive="is-active">
        {{ item.title | translate }}
      </a>
    </ng-container>
  </nav>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
