@import "shared";

$--active-link: radial-gradient(43.28% 45.07% at 50.55% 108.45%, #fc483a 0%, #2d0134 79.69%, rgba(11, 8, 36, 0) 100%);

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.Header-home.Header-toggles::before {
  display: none;
}

.Header {
  position: relative;
  z-index: 2;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-black-medium);
  transition: $global-transition2;

  &.active {
    background-color: var(--color-primary);
  }

  &-container {
    overflow: hidden;
    padding: 0 24px;
    max-width: 1308px;
  }
  &-wrapper {
    padding: 3px 0 0px;
    @include md {
      padding: 20.38px 0 13.81px;
    }
  }
  &-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  &-left {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    max-width: calc((100% - 388.3px) / 2);
  }
  &-right {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    max-width: calc((100% - 388.3px) / 2);
    .header-action {
      ul.lists {
        margin: 0;
        padding: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        li.item {
          margin-right: 24px;

          &:last-child {
            margin-right: 0;
          }
          a.action-user {
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-align-items: center;
            align-items: center;
            span.avatar-user {
              display: -webkit-inline-flex;
              display: inline-flex;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-align-items: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: var(--midnight-express-color);
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
  &-center {
    width: 100%;
    max-width: 388.3px;
    position: relative;
    @include md {
      display: none;
    }
    .wap-search {
      width: 100%;
      position: relative;
      .form-group {
        margin-bottom: 0;
        background: var(--white);
        border: 2px solid var(--tolopea-color);
        box-sizing: border-box;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        padding: 8px 24px;
        .input-field {
          width: 100%;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--blackcurrant-color-medium);
          &::placeholder {
            color: var(--tertiary-color);
          }
        }
        span.icon {
          position: absolute;
          right: 24.3px;
        }
      }
    }
  }
  .drag-vertical {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background: var(--color-background);
    width: 100%;
    max-width: 489.33px;
    height: 26.76px;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    cursor: pointer;
    @include md {
      max-width: 320px;
      height: 15px;
      bottom: -14px;
      -webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
      clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: calc(100% - 1px);
      height: calc(100% + 1px);
      background: var(--color-black-medium);
    }
    span.icon {
      display: inline-block;
      position: relative;
      top: -2px;
      width: calc(100% - 1px);
      height: calc(100% + 1px);
      clip-path: polygon(0 0, 100% 0, calc(95% - 0px) 100%, calc(5% - 0px) 100%);
      background-color: var(--color-background);
      @include md {
        top: -1px;
        max-width: 320px;
        height: 15px;
        -webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
        clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
      }
      ::ng-deep svg {
        width: 18px;
        height: 6px;
        @include md {
          width: 19px;
          height: 6px;
          position: relative;
          top: -2px;
        }
      }
      ::ng-deep svg path {
        fill: var(--main-color);
      }
    }
  }

  &-logo {
    margin-right: 40px;
    &:hover .icon::ng-deep svg path {
      fill: var(--color-secondary);
    }
    @include md {
      margin-right: 0px;
    }
  }

  &-logo-icon {
    ::ng-deep svg {
      width: 121px;

      @include lg {
        width: 144px;
      }

      @include md {
        width: 109px;
        height: auto;
      }

      path {
        transition: $global-transition2;
      }
    }

    &.active ::ng-deep svg path {
      fill: var(--black);
    }
  }

  &-home {
    @extend %u-dfCenterCenter;
    position: relative;

    &:hover,
    &.is-active {
      color: var(--color-primary);

      &::before {
        transform: translateX(-50%) translateY(3%);
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      content: "";
      opacity: 0;
      top: 0;
      bottom: 5px;
      left: 30%;
      width: px2vw-xl(90px);
      //   transform: translateX(-50%) translateY(100%);
      background: $--active-link;
      transition: $global-transition2;

      @include lg {
        width: px2vw-lg(90px);
      }

      @include md {
        width: px2vw-md(90px);
      }

      @include sm {
        width: px2vw-sm(90px);
      }
    }
  }

  &-home-icon {
    ::ng-deep svg {
      height: px2vw-xl(17px);
      width: px2vw-xl(20px);

      @include lg {
        height: px2vw-lg(17px);
        width: px2vw-lg(20px);
      }

      @include md {
        height: px2vw-md(17px);
        width: px2vw-md(20px);
      }

      @include sm {
        height: px2vw-sm(17px);
        width: px2vw-sm(20px);
      }

      path {
        transition: $global-transition;
      }
    }
  }
  &-user {
    @include lg {
      display: none;
    }
  }
  &-navigation {
    @extend %u-dfCenter;
    margin-right: auto;
    // margin-left: px2vw-xl(14px);

    @include lg {
      display: none;
    }
  }

  &-navigation-link {
    position: relative;
    margin-right: 40px;
    transition: $global-transition;
    text-align: center;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    &:hover,
    &.is-active {
      color: var(--main-color);

      // &::before {
      //   transform: translateX(-50%) translateY(3%);
      //   opacity: 1;
      // }
    }

    // &::before {
    //   position: absolute;
    //   opacity: 0;
    //   content: "";
    //   top: 0;
    //   bottom: 5px;
    //   left: 30%;
    //   width: px2vw-xl(90px);
    //   //   transform: translateX(-50%) translateY(100%);
    //   background: $--active-link;
    //   transition: $global-transition2;

    //   @include lg {
    //     width: px2vw-lg(90px);
    //   }

    //   @include md {
    //     width: px2vw-md(90px);
    //   }

    //   @include sm {
    //     width: px2vw-sm(90px);
    //   }
    // }
  }

  &-control {
    @extend %u-dfCenter;
  }

  &-toggles {
    @extend %u-dfCenter;
    margin-right: 24px;
    @include lg {
      margin-right: 16px;
    }
    &.active .toggle-icon {
      color: var(--black);

      @include md {
        color: var(--color-secondary);
      }
    }
  }

  &-toggle {
    @extend %u-dfCenter;
    width: 24px;
    margin-right: 24px;
    background-color: transparent;
    @include lg {
      margin-right: 16px;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &-toggle-icon {
    height: auto;
    width: auto;
    font-size: 24px;
    color: var(--color-white-medium);
    transition: $global-transition2;
  }

  &-buttons {
    @extend %u-dfCenter;
  }

  &-button {
    &.register {
      margin-left: px2vw-xl(8px);

      @include lg {
        margin-left: px2vw-lg(8px);
      }

      @include md {
        margin-left: px2vw-md(8px);
      }

      @include sm {
        margin-left: px2vw-sm(8px);
      }
    }
  }

  &-user {
    @extend %u-dfCenter;
  }

  &-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--midnight-express-color);
    margin-right: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &-user-arrow {
    height: auto;
    width: 12px;
    font-size: 24px;
    color: var(--main-color);
    transition: $global-transition2;
    cursor: pointer;

    &.active {
      color: var(--black);
    }
  }

  &-user-menu {
    @extend %u-dfStretchStart;
    flex-direction: column;
    border: px2vw-xl(1px) solid var(--white-smoke);
    border-radius: px2vw-xl(4px);
    background-color: var(--color-background);
    padding-bottom: px2vw-xl(8px);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding-bottom: px2vw-lg(8px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding-bottom: px2vw-md(8px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding-bottom: px2vw-sm(8px);
    }
  }

  &-user-points {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(8px);
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    padding: px2vw-xl(16px) px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
      padding: px2vw-lg(16px) px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      padding: px2vw-md(16px) px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      padding: px2vw-sm(16px) px2vw-sm(20px);
    }
  }

  &-user-points-title {
    margin-right: px2vw-xl(12px);
    margin-bottom: 0;
    font-family: "archivo-bold", sans-serif;
    font-size: px2vw-xl(12px);

    @include lg {
      margin-right: px2vw-lg(12px);
      font-size: px2vw-lg(12px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      font-size: px2vw-md(12px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      font-size: px2vw-sm(12px);
    }
  }

  &-user-points-info {
    @extend %u-dfCenter;
  }

  &-user-points-image {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-user-points-count {
    min-width: px2vw-xl(57px);
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(18px);

    @include lg {
      min-width: px2vw-lg(57px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      min-width: px2vw-md(57px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      min-width: px2vw-sm(57px);
      font-size: px2vw-sm(18px);
    }
  }

  &-user-links {
    @extend %u-dfStretchStart;
    flex-direction: column;
  }

  &-user-links-top {
    margin-bottom: px2vw-xl(8px);
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);

    @include lg {
      margin-bottom: px2vw-lg(8px);
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      border-bottom-width: px2vw-sm(1px);
    }
  }

  &-user-link {
    @extend %u-dfCenter;
    padding: px2vw-xl(13px) px2vw-xl(22px);
    width: 100%;

    @include lg {
      padding: px2vw-lg(13px) px2vw-lg(22px);
    }

    @include md {
      padding: px2vw-md(13px) px2vw-md(22px);
    }

    @include sm {
      padding: px2vw-sm(13px) px2vw-sm(22px);
    }

    &:hover {
      &,
      .icon {
        color: var(--color-primary);
      }
    }

    &.logout {
      .icon {
        color: var(--color-sunset-orange);
      }

      .text {
        transition: $global-transition;
      }

      &:hover {
        opacity: 0.75;

        .icon,
        .text {
          color: var(--color-sunset-orange);
        }
      }
    }
  }

  &-user-link-icon-block {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(21px);
    min-height: px2vw-xl(16px);
    min-width: px2vw-xl(22px);

    @include lg {
      margin-right: px2vw-lg(21px);
      min-height: px2vw-lg(16px);
      min-width: px2vw-lg(22px);
    }

    @include md {
      margin-right: px2vw-md(21px);
      min-height: px2vw-md(16px);
      min-width: px2vw-md(22px);
    }

    @include sm {
      margin-right: px2vw-sm(21px);
      min-height: px2vw-sm(16px);
      min-width: px2vw-sm(22px);
    }
  }

  &-user-link-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(22px);
    color: var(--white-medium);
    transition: $global-transition2;

    @include lg {
      font-size: px2vw-lg(22px);
    }

    @include md {
      font-size: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-open {
    @extend %u-dfCenterCenter;
    display: none;
    background-color: transparent;

    @include lg {
      display: flex;
      height: 24px;
      width: 24px;
    }
  }

  &-open-icon {
    height: auto;
    width: auto;
    color: var(--color-white-medium);
    &.active {
      color: var(--color-secondary) !important;
    }
  }

  &-mob-menu {
    display: none;
    overflow-y: scroll;

    @include lg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      background-color: var(--color-primary);
      transition: $global-transition;
    }
  }

  &-mob-container {
    @extend %u-dfStart;
    flex-direction: column;

    @include lg {
      padding: px2vw-lg(150px) px2vw-lg(40px) px2vw-lg(40px);
    }

    @include md {
      padding: px2vw-md(150px) px2vw-md(40px) px2vw-md(40px);
    }

    @include sm {
      padding: px2vw-sm(150px) px2vw-sm(40px) px2vw-sm(40px);
    }
  }

  &-mob-link {
    font-family: "archivo-black", sans-serif;
    color: var(--color-secondary);
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(40px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }

    &:last-child {
      margin-bottom: 0;

      @include lg {
      }

      @include md {
        margin-bottom: 4.0363269425vw;
      }

      @include sm {
        margin-bottom: 6.9444444444vw;
      }
    }
  }

  &-notification {
    border-radius: 50%;
    min-width: px2vw-xl(18px);
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);
    margin: px2vw-xl(30px) 0 px2vw-xl(20px);
    @include lg {
      margin: px2vw-lg(30px) 0 px2vw-lg(20px);
      min-width: px2vw-lg(18px);
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
    }
    @include md {
      min-width: px2vw-md(18px);
      margin: px2vw-md(30px) 0 px2vw-md(20px);
      width: px2vw-md(18px);
      height: px2vw-md(18px);
    }
    @include sm {
      min-width: px2vw-sm(18px);
      margin: px2vw-sm(30px) 0 px2vw-sm(20px);
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
    }
  }
  &-game-logo {
    margin-right: 47px;
  }
  &-game-container {
    background-color: var(--color-background);

    @include md {
      margin: 0;
      padding-top: 36px;
      padding-bottom: 20px;
      margin: 0;
      -ms-overflow-style: none;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    @include sm {
      //   display: none;
    }
  }
  &-game-logo-icon {
    width: 108.35px;
    height: 44.75px;
  }
  &-game-navigation-link {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: var(--white);
    position: relative;
    padding: 0;
    margin-right: 40px;
    @include lg {
      //   display: none;
    }
    @include md {
      font-size: 20px;
      line-height: 28px;
    }
    @include sm {
    }
  }
  &-game-navigation-link.active {
    color: var(--main-color);
  }
  &-game-cards {
    // border-top: 8px solid var(--blackcurrant-color-medium);
    background-color: var(--blackcurrant-color-medium);
    padding: 0 15px;
  }
  &-game-cards swiper {
    display: none;

    @include lg {
      //   display: none;
    }
    @include md {
    }
    @include sm {
      display: block;
    }
  }

  &-game-header {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-game-title {
    @extend %global-H5;
    margin-bottom: 0;
  }

  &-game-arrows {
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-game-arrow {
    height: auto;
    width: auto;
    font-size: px2vw-xl(28px);
    color: var(--white);
    cursor: pointer;
    user-select: none;

    @include lg {
      font-size: px2vw-lg(28px);
    }

    @include md {
      font-size: px2vw-md(28px);
    }

    @include sm {
      font-size: px2vw-sm(28px);
    }
  }

  &-game-card-image-block {
    width: 96px;
    height: 88px;
    background: var(--blackcurrant-color-medium);
    border: 1px solid var(--color-black-medium);
    box-sizing: border-box;
    border-radius: 20px;
    transition: $global-transition;

    @include lg {
    }

    @include md {
    }

    @include sm {
    }

    &:hover {
      border-color: var(--white);

      .card-button {
        transform: translateY(0);
      }
    }
  }

  &-game-card-image {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--black);
    border-radius: 20px;
  }

  &-game-card-button {
    @extend %u-dfCenterBtw;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    padding: px2vw-xl(16px);
    background-color: var(--color-primary);
    transition: $global-transition;

    @include lg {
      padding: px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(16px);
    }
  }

  &-game-card-button-text {
    @extend %subtitle-2;
    text-transform: uppercase;
    color: var(--black);
  }

  &-game-card-button-icon {
    margin-left: px2vw-xl(10px);
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);

    @include lg {
      margin-left: px2vw-lg(10px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-left: px2vw-md(10px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
      font-size: px2vw-sm(24px);
    }
  }

  &-game-card-name {
    @extend %subtitle-1;
    margin-top: px2vw-xl(8px);
    margin-bottom: 0;
    cursor: default;

    @include lg {
      margin-top: px2vw-lg(8px);
    }

    @include md {
      margin-top: px2vw-md(8px);
    }

    @include sm {
      margin-top: px2vw-sm(8px);
    }
  }
  &-team-notification {
    width: 317px;
    height: 117px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px 17px;

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: var(--blackcurrant-color-medium);
    }

    &-description {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: var(--tolopea-color);
      margin-bottom: 13px;
    }

    &-btn-accept {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      background-color: var(--white);
      margin-right: 24px;
    }
    &-btn-reject {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      background-color: var(--white);
    }
  }
}

.line-active {
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 2px;
  bottom: -28px;

  @include lg {
    //   display: none;
  }
  @include md {
    bottom: -10px;
  }
  @include sm {
    //   display: none;
  }
}
