.table-color {
  color: var(--whitecolor);
}
.modal-footer {
  border-top: none;
}
.modal-header {
  border-bottom: none;
}

.tags-list {
  display: flex;
  flex-direction: row;
  .tag-item {
    text-align: center;
    border: 2px solid var(--whitecolor);
    border-radius: 40px;
    background: transparent;
    color: var(--whitecolor);
    padding: 0.7em 1.5em;
    outline: none;
    margin-right: 2em;
    cursor: pointer;
  }
}

.hr-margin {
  margin: 0;
  border-top: 1px solid var(--errorcolor);
}
