<!-- <div class="BracketMatch-manage">
  <div class="BracketMatch-manage-item">
    <input
      class="BracketMatch-manage-input"
      (click)="picker.open()"
      [matDatepicker]="picker"
      [placeholder]="'BRACKET_TREE.SET_DATE' | translate"
    />

    <mat-datepicker #picker disabled="false"></mat-datepicker>

    <mat-icon class="BracketMatch-manage-icon" (click)="picker.open()">
      event
    </mat-icon>
  </div>
  <div class="BracketMatch-manage-item">
    <input
      class="BracketMatch-manage-input"
      [ngxTimepicker]="fullTime"
      [placeholder]="'BRACKET_TREE.SET_TIME' | translate"
    />

    <ngx-material-timepicker
      #fullTime
      [timepickerClass]="'PaidiaTimeTheme'"
    ></ngx-material-timepicker>

    <mat-icon class="BracketMatch-manage-icon" (click)="fullTime.open()">
      schedule
    </mat-icon>
  </div>
</div> -->

<div class="BracketMatch-items">
  <h4 class="BracketMatch-items-match">{{ match.number }}</h4>

  <ng-container *ngFor="let player of match.players">
    <div class="BracketMatch-items-block">
      <div class="BracketMatch-items-number">
        {{ player.number }}
      </div>
      <div class="BracketMatch-items-info">
        <div class="BracketMatch-items-avatar">
          <img src="../../../../../assets/images/Profile/avatar-1.png" alt="">
        </div>
        <p class="BracketMatch-items-player global-Elipsess" *ngIf="!player.name">
          {{ "BRACKET_TREE.WINNER_OF_MATCH" | translate }}
          {{ player.previousMatch }}
        </p>

        <p class="BracketMatch-items-player global-Elipses" *ngIf="player.name">
          {{ player.name }}
        </p>
      </div>


      <!-- <div class="BracketMatch-items-score">
        {{ player.score }}
      </div> -->
    </div>

  </ng-container>
  <!-- <h4 > edit</h4> -->

</div>

<!-- position: absolute;
width: 24px;
height: 66px;
left: 699px;
top: 314px;

/* Primary/400 */

background: #BBF55A;
border-radius: 0px 4px 4px 0px; -->