@import "shared";
$Width: 263px;

.View-Set {
    display: grid;
    grid-row: auto;

    &-Title {
        text-align: center;
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        background-color: var(--base-white);
        color: var(--base-black-pearl);
        width: $Width;
        line-height: px2vw-xl(48px);

        @include lg {
            line-height: px2vw-lg(48px); 
        }

        @include md {
            line-height: px2vw-md(48px); 
        }

        @include sm {
            line-height: px2vw-sm(48px); 
        }
    }

    &-A {
        width: $Width;
        display: flex;
        justify-content: center;
        padding: 10px 18px;
        font-size: 20px;
        font-weight: 100;
        color: var(--base-black-pearl);
        background-color: var(--base-white-smoke);
        border: 1px solid var(--base-gainsboro);
        line-height: px2vw-xl(24px);
        height: 60px;
        @include lg {
            line-height: px2vw-lg(24px); 
        }

        @include md {
            line-height: px2vw-md(24px); 
        }

        @include sm {
            line-height: px2vw-sm(24px); 
        }
    }

    &-B {
      @extend .View-Set-A;
    }

    &-Result {
        @extend .View-Set-A;
        height: 100px;   
    }

    &-Result-Submit {
        margin: auto;
    }

    &-Winner {
        @extend .View-Set-Result-Submit;
        font-size: 14px;
        text-align: center;
        & a {
            color: var(--primary-sunset-light);
        } 
    }

    &-Winner-Text {
        margin: auto;
    }

    &-ReadOnly {
        pointer-events: none;
    }

    &-Counter {
      @extend .global-Elipses;
      @extend .global-Text;
      padding: 0 0.5rem;
      -webkit-line-clamp: 2;
      font-size: 12px;
      margin: 0;
    }

    &-Active {
      text-align: center;
      margin: auto;
    }
}