<div class="AboutTournament">
  <div
    class="AboutTournament-image-block"
    [style.background-image]="'url(' + tournament?.gameDetail?.logo + ')'"
  ></div>

  <div class="AboutTournament-wrapper">
    <div class="AboutTournament-info">
      <h3 class="AboutTournament-info-title global-Title3">
        {{ tournament?.name | titlecase }}
      </h3>
      <div class="AboutTournament-info-details">
        <p class="AboutTournament-info-detail date">
          {{ tournament?.startDate | date: "MMMM d, y" }} |
          {{ !isNumber(timezone) ? (tournament?.startDate | date: "shortTime") : ( tournament?.startDate | date: "longTime") }} {{ !isNumber(timezone) ? timezone : '' }}
        </p>
        <p
          class="AboutTournament-info-detail players"
          *ngIf="tournament?.isParticipantsLimit"
        >
          {{ tournament?.participantJoined }}
          {{ "HOME.SECTIONB.OF" | translate }}
          {{ tournament?.maxParticipants }}
          {{
            tournament?.participantType === "individual"
              ? ("HOME.SECTIONB.PLAYERS" | translate)
              : ("HOME.SECTIONB.TEAMS" | translate)
          }}
        </p>
        <p
          class="AboutTournament-info-detail players"
          *ngIf="!tournament?.isParticipantsLimit"
        >
          {{ tournament?.participantJoined }}
          {{
            tournament?.participantType
              | pType: tournament?.participantJoined
              | translate
          }}
        </p>
      </div>
    </div>

    <div class="AboutTournament-content">
      <ul class="AboutTournament-about">
        <li class="AboutTournament-about-item u-dfCenterStart">
          <div class="AboutTournament-about-icon-block">
            <img
              class="AboutTournament-about-icon"
              src="assets/icons/about-tournament/game.svg"
              alt="game icon"
            />
          </div>
          <span class="AboutTournament-about-text">
            {{ tournament?.gameDetail?.name }}
          </span>
        </li>

        <li class="AboutTournament-about-item u-dfCenterStart">
          <div class="AboutTournament-about-icon-block">
            <img
              class="AboutTournament-about-icon"
              src="assets/icons/about-tournament/brackets.svg"
              alt="game icon"
            />
          </div>

          <span class="AboutTournament-about-text">
            {{ tournament?.bracketType | bracket | translate }}
          </span>
        </li>

        <li class="AboutTournament-about-item u-dfCenterStart">
          <div
            class="AboutTournament-about-icon-block AboutTournament-about-icon-hide"
          >
            <img
              class="AboutTournament-about-icon"
              src="assets/icons/about-tournament/location.svg"
              alt="game icon"
            />
          </div>
          <span class="AboutTournament-about-text" *ngIf="tournament?.bracketType == 'ladder'">
            {{ tournament?.participantJoined }}
            {{
              tournament?.participantType === "individual"
                ? ("HOME.SECTIONB.PLAYERS" | translate)
                : ("HOME.SECTIONB.TEAMS" | translate)
            }}
          </span>
          <span class="AboutTournament-about-text" *ngIf="tournament?.bracketType != 'ladder'">
            {{ tournament?.participantJoined }} of
            {{ tournament?.maxParticipants }}
            {{
              tournament?.participantType === "individual"
                ? ("HOME.SECTIONB.PLAYERS" | translate)
                : ("HOME.SECTIONB.TEAMS" | translate)
            }}
          </span>
        </li>

        <!-- <li class="AboutTournament-about-item u-dfCenterStart">
          <div class="AboutTournament-about-icon-block">
            <img
              class="AboutTournament-about-icon"
              src="assets/icons/about-tournament/prize.svg"
              alt="game icon"
            />
          </div>
          <span class="AboutTournament-about-text">
            750 SAR
          </span>
        </li> -->
      </ul>

      <!-- <div class="AboutTournament-time u-dfStart">
        <div class="AboutTournament-time-item">
          <span class="AboutTournament-time-number">00</span>
          <span class="AboutTournament-time-title">
            {{
              "TEAM_REGISTRATION.COMPONENTS.ABOUT_TOURNAMENT.TIME.DAYS"
                | translate
            }}
          </span>
        </div>
        <p class="AboutTournament-time-separator">:</p>

        <div class="AboutTournament-time-item">
          <span class="AboutTournament-time-number">22</span>
          <span class="AboutTournament-time-title">
            {{
              "TEAM_REGISTRATION.COMPONENTS.ABOUT_TOURNAMENT.TIME.HOURS"
                | translate
            }}
          </span>
        </div>
        <p class="AboutTournament-time-separator">:</p>


        <div class="AboutTournament-time-item">
          <span class="AboutTournament-time-number">27</span>
          <span class="AboutTournament-time-title">
            {{
              "TEAM_REGISTRATION.COMPONENTS.ABOUT_TOURNAMENT.TIME.MINUTES"
                | translate
            }}
          </span>
        </div>
        <p class="AboutTournament-time-separator">:</p>


        <div class="AboutTournament-time-item">
          <span class="AboutTournament-time-number">17</span>
          <span class="AboutTournament-time-title">
            {{
              "TEAM_REGISTRATION.COMPONENTS.ABOUT_TOURNAMENT.TIME.SECONDS"
                | translate
            }}
          </span>
        </div>
      </div> -->
    </div>
  </div>
</div>
