@import "shared";

form,
.card {
  z-index: 9;
  background: var(--base-white) 0% 0% no-repeat padding-box;
  border: 0.2px solid var(--base-04);
  border-radius: 5px;
  margin: 0 0 51px;
  padding: 57px 95px 57px 100px;

  &.card-stream {
    padding: 18px 64px 18px 20px;
    margin-top: 15px;

    .row {
      margin: 0 -15px;

      .col-6 {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .btn-align {
    margin-top: 57px;
  }
}

.btn-align {
  justify-content: flex-end;

  button {
    line-height: normal;

    &:first-child {
      margin-right: 36px;
    }
  }
}

.select-provider {
  align-items: flex-end;
  padding-top: px2vw-xl(32px);

  @include lg {
    padding-top: px2vw-lg(36px);
  }
  @include md {
    padding-top: px2vw-md(30px);
  }
  @include sm {
    padding-top: px2vw-sm(30px);
  }

  select {
    background: transparent;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid var(--base-03);
    border-radius: 4px;
    width: 100%;
    height: 38px;
    padding-left: 24px;

    option {
      color: var(--base-black);
      background: var(--base-04);
      box-shadow: 4px 4px 4px #0000034d;

      &[disabled] {
        display: none;
      }
    }
  }
  .error {
    bottom: -23px;
  }
}

.action-icon {
  justify-content: flex-end;

  fa-icon {
    padding: 10px;
    cursor: pointer;
    padding-bottom: 0;
    font-size: 23px;
    color: #0c0e0f;
  }
}

.modal-header,
.modal-footer {
  border: none;
}

.form-group {
  margin: 0;

  .labeltext {
    &.active {
      background: var(--base-white) 0% 0% no-repeat padding-box;
      padding: 0 10px 0 5px;
      color: rgba(0, 0, 0, 0.6);
      z-index: 9;
      left: 23px;
      margin: 0;
      top: 8px;
      font-family: "source-sans-pro";
    }
  }
}

.col-12 {
  &:first-child {
    margin-bottom: 40px;

    .row:first-child {
      margin-bottom: 40px;
    }
  }
  .row {
    margin: 0 -15px;
  }
}

iframe {
  height: 343px;
  width: 100%;
}

h5 {
  color: var(--base-01);
  margin-bottom: 23px;
  font-size: 26px;
  font-family: "bebas-neue-regular";
}

p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "source-sans-pro";

  &:last-child {
    margin-bottom: 0;
  }
}

.action-icon {
  margin-top: auto !important;
}

.error {
  bottom: -23px;
}

.container-stream {
  margin-top: 35px;
}

.copy-to-clipboard {
  font-size: 20px;
  margin: 20px 5px;
  cursor: pointer;
}

.modal-size {
  height: 200px !important;
}

@media (max-width: 767px) {
  .container-stream {
    padding-bottom: 30px;
  }

  form {
    padding: 20px;
    margin: 0;
  }

  .col-12 {
    padding: 0;

    &:first-child {
      margin-bottom: 15px;

      .row {
        &:first-child {
          flex-direction: column;
          margin: 0;

          .select-provider {
            padding-top: 0;
            margin-bottom: 15px;
          }
        }

        &:last-child {
          margin: 0;
          margin-top: 15px;
        }
      }
    }
  }

  .col-5 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .btn-align {
    justify-content: space-between;

    button {
      font-size: 16px;
      padding: 10px 2rem;
    }
  }

  .card.card-stream {
    padding: 20px;
    margin-top: 15px;

    > .row {
      margin: 0;
      flex-direction: column;

      .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;

        &:first-child {
          margin-bottom: 15px;
        }

        h5 {
          font-size: 22px;
          margin-bottom: 15px;
        }

        p {
          font-size: 14px;
        }

        iframe {
          height: 200px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container-stream {
    padding-bottom: 30px;
  }

  form {
    padding: 20px;
    margin: 0;
  }

  .btn-align {
    justify-content: space-between;

    button {
      font-size: 16px;
      padding: 10px 2rem;
    }
  }

  .card.card-stream {
    padding: 20px;
    margin-top: 15px;

    > .row {
      .col-6 {
        &:first-child {
          margin-bottom: 15px;
        }

        h5 {
          font-size: 22px;
          margin-bottom: 15px;
        }

        p {
          font-size: 14px;
        }

        iframe {
          height: 200px;
        }
      }
    }
  }
}

.global-custom-streaming-loader.is-sm {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
}

video {
  background: black;
  width: 100%;
}
