@import "shared";

:host {
  display: block;
}
.PopupEdit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--white);
  height: 100vh;
  width: 100%;
  max-width: px2vw-xl(456px);
  overflow: hidden; @include lg{
    max-width: px2vw-lg(456px);
  }
  @include md{
    max-width: px2vw-md(430px);
  }
  @include sm{
    max-width: 100%;
  }
  overflow-y: auto;
  background: var(--txt-primary);

 
  &-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-light);
    z-index: 999;
  }
  &-form {
    padding: px2vw-xl(18px) px2vw-xl(53px) px2vw-xl(325px);
    background-color: var(--txt-primary);

    @include lg{
      padding: px2vw-lg(30px) px2vw-lg(53px) px2vw-lg(32px);
    }
    @include md {
      padding: px2vw-md(24px);
      padding-bottom: px2vw-md(65px);
    }
    @include sm {
      padding: px2vw-sm(38px) px2vw-sm(58px) px2vw-sm(15px);
    }

    .form-group {
      margin-bottom: px2vw-xl(12px);
      @include lg{
        margin-bottom: px2vw-lg(12px);
      }
      @include md{
        margin-bottom: px2vw-md(12px);
      }
      @include sm{
        margin-bottom: px2vw-sm(22px);
      }
      &:last-child {
        margin-bottom: 0;
      }
      .form-item {
        margin-bottom: px2vw-xl(26px);

        @include lg{
          margin-bottom: px2vw-lg(26px);
        }
        @include md{
          margin-bottom: px2vw-md(16px);
        }
        @include sm{
          margin-bottom: px2vw-sm(16px);
        }
      }
      .form-label {
        width: 100%;
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(18px);
        line-height: px2vw-xl(28px);
        color: var(--white);
        width: 100%;

        @include lg{
          font-size: px2vw-lg(19px);
          line-height: px2vwlgl(28px);
        }
        @include md{
          font-size: px2vw-md(18px);
          line-height: px2vw-md(28px);
        }
        @include sm{
          font-size: px2vw-sm(25px);
          line-height: px2vw-sm(28px);
        }
      }
      ::ng-deep .form-label {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--blackcurrant-color-medium);
        margin-bottom: 0;
        width: 100%;
        @include lg{
          font-size: px2vw-lg(18px);
          line-height: px2vw-lg(24px);
        }
        @include md{
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }
        @include sm{
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }
      }
      ::ng-deep .TournamentTimeInput,
      ::ng-deep .TournamentDateInput {
        background: transparent;
        border: px2vw-xl(2px) solid var(--tolopea-color);
        border-radius: px2vw-xl(4px);

        @include lg{
          border: px2vw-lg(2px) solid var(--tolopea-color);
          border-radius: px2vw-lg(4px);
        }
        @include md{
          border: px2vw-md(2px) solid var(--tolopea-color);
          border-radius: px2vw-md(4px);
        }
        @include sm{
          border: px2vw-sm(2px) solid var(--tolopea-color);
          border-radius: px2vw-sm(4px);
        }
      }
      .input-group {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--color-skyblue);
        @include lg{
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
          margin-top:px2vw-lg(10px);
        }
        @include md{
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          max-width: 100%;
          font-size: px2vw-sm(22px);
          line-height:px2vw-sm(30px);
          margin-top: px2vw-sm(14px);
        }
        .icon {
          display: inline-block;
          margin: 0 px2vw-xl(18px) 0 0;
          line-height: 1;

          @include lg{
            margin: 0 px2vw-lg(18px) 0 0;
          }
        }
        .form-field {
          @extend %global-textSm;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: transparent;
          color: var(--blackcurrant-color-medium);
          width: 100%;
          &::placeholder {
            color: var(--tertiary-color);
          }
        }
      }
      .textarea-group {
        border: px2vw-xl(2px) solid var(--tolopea-color);
        border-radius: px2vw-xl(4px);
        width: 100%;

        @include lg{
          border: px2vw-lg(2px) solid var(--tolopea-color);
          border-radius: px2vw-lg(4px);
        }
        @include md{
          border: px2vw-md(2px) solid var(--tolopea-color);
          border-radius: px2vw-md(4px);
        }
        @include sm{
          border: px2vw-sm(2px) solid var(--tolopea-color);
          border-radius: px2vw-sm(4px);
        }
        .form-field {
          @extend %global-textSm;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: transparent;
          color: var(--blackcurrant-color-medium);
          width: 100%;
          height: px2vw-xl(228px);
          min-height: auto;
          max-height: none;
          padding: px2vw-xl(12px) px2vw-xl(16px);
          @include lg{
            height: px2vw-lg(228px);
            padding: px2vw-lg(12px) px2vw-lg(16px);
          }
          @include md{
            height: px2vw-md(228px);
            padding: px2vw-md(12px) px2vw-md(16px);
          }
          @include sm{
            height: px2vw-sm(228px);
            padding: px2vw-sm(12px) px2vw-sm(16px);
          }
          &::placeholder {
            color: var(--tertiary-color);
          }
        }
      }
    }
  }
  &-heading {
    width: 100%;
    z-index: 9;
    padding: px2vw-xl(20px) px2vw-xl(30px);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: px2vw-xl(0px) px2vw-xl(2px) px2vw-xl(8px) var(--box-shadow-new3);
    background-color: var(--txt-primary);
    position: relative;

    @include lg{
      padding: px2vw-lg(20px) px2vw-lg(22px);
      box-shadow: px2vw-lg(0px) px2vw-lg(2px) px2vw-lg(8px) var(--box-shadow-new3);
    }
    @include md{
      padding: px2vw-md(20px) px2vw-md(28px);
      box-shadow: px2vw-md(0px) px2vw-md(2px) px2vw-md(8px) var(--box-shadow-new3);
    }
    @include sm{
      padding: px2vw-sm(28px) px2vw-sm(43px);
      box-shadow: px2vw-sm(0px) px2vw-ms(2px) px2vw-sm(8px) var(--box-shadow-new3);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: px2vw-xl(3px);
      background: var(--color-secondary);
    }
    .title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(22px);
      line-height: px2vw-xl(21px);
      display: flex;
      align-items: center;
      color: var(--white);

      @include lg{
        font-size: px2vw-lg(22px);
        line-height: px2vw-lg(21px);
      }
      @include md{
        font-size: px2vw-md(24px);
        line-height: px2vw-md(28px);
      }
      @include sm{
        font-size: px2vw-sm(30px);
        line-height: px2vw-sm(28px);
      }
    }
    .btn-close {
      width: px2vw-xl(44px);
      height: px2vw-xl(44px);
      padding: 0;
      border: px2vw-xl(2px) solid var(--tolopea-color);
      border-radius: 50%;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;

      @include lg{
        width: px2vw-lg(44px);
        height: px2vw-lg(44px);
        border: px2vw-lg(2px) solid var(--tolopea-color);
      }
      @include md{
        width: px2vw-md(44px);
        height: px2vw-md(44px);
        border: px2vw-md(2px) solid var(--tolopea-color);
      }
      @include sm{
        width: px2vw-sm(48px);
        height: px2vw-sm(48px);
        border: px2vw-sm(2px) solid var(--tolopea-color);
      }
      .icon {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
  }
  &-banner{
    height: px2vw-xl(266px);
    width: 100%;

    @include lg{
      height: px2vw-lg(280px);
    }
    @include md{
      height: px2vw-md(280px);
    }
    @include sm{
      height: px2vw-sm(290px);
    }
    img{
      height:100%;
      width: 100%;
    }
  }
  &-ButtonGroup {
    padding: 0 px2vw-xl(53px) px2vw-xl(60px);

    @include lg{
      padding: 0 px2vw-lg(53px) px2vw-lg(60px);
    }
    @include md {
      padding: 0 px2vw-md(24px) px2vw-md(16px);
    }
    @include sm {
      padding: 0 px2vw-sm(24px) px2vw-sm(16px);
    }
    .btn {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-transform: none;
      @include lg{
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
      }
      @include md {
        width: 100%;
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }
      @include sm {
        width: 100%;
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
      }
    }
  }
}

::ng-deep.mat-checkbox .mat-checkbox-label {
  @include md {
    color: var(--blackcurrant-color-medium);
  }
}

.popupSponsor {
  display: flex;
  align-items: center;
  border-bottom: px2vw-xl(1px) solid var(--txt-primary);
  background: var(--txt-primary);
  padding: px2vw-xl(22px) px2vw-xl(48px);

  @include lg{
    border-bottom: px2vw-lg(1px) solid var(--txt-primary);
    padding: px2vw-lg(20px) px2vw-lg(48px);
  }
  @include md{
    border-bottom: px2vw-md(1px) solid var(--txt-primary);
    padding: px2vw-md(24px) px2vw-md(48px) px2vw-md(10px);
  }
  @include sm{
    border-bottom: px2vw-sm(1px) solid var(--txt-primary);
    padding: px2vw-sm(45px) px2vw-sm(58px) px2vw-sm(15px);
  }

  &-name {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(28px);
    color: var(--white);
    @include lg{
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
    }
    @include md{
      font-size: px2vw-md(22px);
      line-height: px2vw-md(28px);
    }
    @include sm{
      font-size: px2vw-sm(30px);
      line-height: px2vw-sm(28px);
    }
  }

  &-logo {
    margin-right: px2vw-xl(16px);
    width: px2vw-xl(100px);
    width: px2vw-xl(100px);

    @include lg{
      margin-right: px2vw-lg(16px);
      width: px2vw-lg(100px);
      height: px2vw-lg(100px);
    }
    @include md{
      margin-right: px2vw-md(16px);
      width: px2vw-md(80px);
      height: px2vw-lg(80px);
    }
    @include sm{
      margin-right: px2vw-sm(16px);
      width: px2vw-sm(60px);
      height: px2vw-sm(60px);
    }

    img{
      width:100%;
      max-height: 100%;
    }
  }
}
