<ngx-datatable #table  class="global-DataTable" [columnMode]="'flex'"
     [footerHeight]="'auto'" [headerHeight]="'auto'" [limit]="50" [rowHeight]="'auto'"
    [rows]="articlesList">
    <ngx-datatable-column [flexGrow]="3" name="{{
        'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.ARTICLE_NAME' | translate
      }}">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{
        row?.title
        | customTranslate: (languageService?.language | async)
        | capitalizeFirst
        }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" name="{{
        'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.GAME' | translate
      }}" prop="game"></ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" name="{{
        'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.AUTHOR_NAME' | translate
      }}" prop="authorName">
      <ng-template ngx-datatable-cell-template let-row="row">
        <span>
          {{ row["authorName"] | limitString: 12:"..." }}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" name="{{
        'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.PUBLISH_DATE' | translate
      }}" prop="createdDate">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["createdDate"] | date: "dd MMM yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" name="{{
        'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.VIEWS' | translate
      }}" prop="views">
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" name="">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button class="Admin-tableBtn" [matMenuTriggerFor]="menu" mat-icon-button color="primary">
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu" yPosition="above">
          <a class="Admin-tableBtn w-100" [routerLink]="['/article/edit', row?.id]"
            [queryParams]="{ fallback: true, activeTab: activeTabIndex }" mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.EDIT' | translate }}" color="primary">
            <mat-icon class="Admin-tableBtn is-view">edit</mat-icon>
          </a>

          <button class="Admin-tableBtn w-100" (click)="viewArticle(row['id'], 'view')" mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}" color="primary">
            <mat-icon class="Admin-tableBtn is-view">visibility</mat-icon>
          </button>

          <button class="Admin-tableBtn w-100" (click)="viewArticle(row['id'], 'check')"
            mat-icon-button matTooltip="{{ 'ADMIN_TOOLTIP.APPROVED' | translate }}" color="primary">
            <mat-icon class="Admin-tableBtn is-remove" color="accent">
              check_box
            </mat-icon>
          </button>

          <button class="Admin-tableBtn w-100" (click)="open(row['id'], 'delete')" mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}">
            <mat-icon class="Admin-tableBtn is-remove" color="accent">
              cancel
            </mat-icon>
          </button>
        </mat-menu>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <p *ngIf="articlesList && articlesList.length == 0" class="Ladder-standing-no-data">
    {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
  </p>
  <app-pagination (currentPage)="pageChanged($event)" [page]="page">
  </app-pagination>