@import "shared";
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: calc(100% - 32px);
  margin: 0 auto;
  margin-top: 24px;

  @include xl {
    height: px2vw-xl(40px);
    margin-top: px2vw-xl(24px);
  }

  @include lg {
    height: px2vw-lg(40px);
    margin-top: px2vw-lg(24px);
  }

  @include md {
    height: px2vw-md(40px);
    margin-top: px2vw-md(24px);
  }

  @include sm {
    height: px2vw-sm(40px);
    margin-top: px2vw-sm(24px);
  }

  &__user {
    display: flex;
    align-items: center;

    &-avatar {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;

        @include lg {
          height: px2vw-lg(40px);
          width: px2vw-lg(40px);
        }

        @include md {
          height: px2vw-md(40px);
          width: px2vw-md(40px);
        }

        @include sm {
          height: px2vw-sm(40px);
          width: px2vw-sm(40px);
        }
      }
    }

    &-info {
      margin-left: 16px;

      @include xl {
        margin-left: px2vw-xl(16px);
      }

      @include lg {
        margin-left: px2vw-lg(16px);
      }

      @include md {
        margin-left: px2vw-md(16px);
      }

      @include sm {
        margin-left: px2vw-sm(16px);
      }
      .name {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--white-high);
        letter-spacing: 0.15px;
        line-height: 24px;
        font-family: Archivo;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;

        @include xl {
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
        }

        @include lg {
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }

        a {
          font-size: 16px;
          margin-right: 2px;

          @include xl {
            font-size: px2vw-xl(16px);
            margin-right: px2vw-xl(2px);
          }

          @include lg {
            font-size: px2vw-lg(16px);
            margin-right: px2vw-lg(2px);
          }

          @include md {
            font-size: px2vw-md(16px);
            margin-right: px2vw-md(2px);
          }

          @include sm {
            font-size: px2vw-sm(16px);
            margin-right: px2vw-sm(2px);
          }
        }

        span {
          font-size: 14px;
          color: var(--white-high);
          margin-left: 2px;

          @include xl {
            font-size: px2vw-xl(14px);
            margin-left: px2vw-xl(2px);
          }

          @include lg {
            font-size: px2vw-lg(14px);
            margin-left: px2vw-lg(2px);
          }

          @include md {
            font-size: px2vw-md(14px);
            margin-left: px2vw-md(2px);
          }

          @include sm {
            font-size: px2vw-sm(14px);
            margin-left: px2vw-sm(2px);
          }
        }
      }
      .time {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;

        @include xl {
          font-size: px2vw-xl(12px);
          line-height: px2vw-xl(16px);
        }

        @include lg {
          font-size: px2vw-lg(12px);
          line-height: px2vw-lg(16px);
        }

        @include md {
          font-size: px2vw-md(12px);
          line-height: px2vw-md(16px);
        }

        @include sm {
          font-size: px2vw-sm(12px);
          line-height: px2vw-sm(16px);
        }
      }
    }
  }
}

.content-container {
  margin: 16px 16px 16px 36px;
  position: relative;

  @include xl {
    margin: px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(36px);
  }

  @include lg {
    margin: px2vw-lg(16px) px2vw-lg(16px) px2vw-lg(16px) px2vw-lg(36px);
  }

  @include md {
    margin: px2vw-md(16px) px2vw-md(16px) px2vw-md(16px) px2vw-md(36px);
  }

  @include sm {
    margin: px2vw-sm(16px) px2vw-sm(16px) px2vw-sm(16px) px2vw-sm(36px);
  }

  .content {
    padding-left: 36px;
    font-size: 16px;
    line-height: 24px;
    border-left: 1px solid var(--white-light);

    @include xl {
      padding-left: px2vw-xl(36px);
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      border-left-width: px2vw-xl(1px);
    }

    @include lg {
      padding-left: px2vw-lg(36px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
      border-left-width: px2vw-lg(1px);
    }

    @include md {
      padding-left: px2vw-md(36px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
      border-left-width: px2vw-md(1px);
    }

    @include sm {
      padding-left: px2vw-sm(36px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      border-left-width: px2vw-sm(1px);
    }
    .messenger-content {
      word-wrap: break-word;
      white-space: pre-line;
      color: var(--white-high);
    }
    .image-content {
      width: 50%;
      margin: 12px 0;

      @include xl {
        margin: px2vw-xl(12px) px2vw-xl(0px);
      }

      @include lg {
        margin: px2vw-lg(12px) px2vw-lg(0px);
      }

      @include md {
        margin: px2vw-md(12px) px2vw-md(0px);
      }

      @include sm {
        margin: px2vw-sm(12px) px2vw-sm(0px);
      }
    }

    .image-posts {
      position: relative;
      width: 50%;

      .close-image {
        justify-content: center;
        position: absolute;
        right: 50%;
        background: var(--black-medium);
        border-radius: 4px;
        cursor: pointer;
        width: 24px;
        height: 24px;
        display: flex;

        @include xl {
          width: px2vw-xl(24px);
          height: px2vw-xl(24px);
          border-radius: px2vw-xl(4px);
        }

        @include lg {
          width: px2vw-lg(24px);
          height: px2vw-lg(24px);
          border-radius: px2vw-lg(4px);
        }

        @include md {
          width: px2vw-md(24px);
          height: px2vw-md(24px);
          border-radius: px2vw-md(4px);
        }

        @include sm {
          width: px2vw-sm(24px);
          height: px2vw-sm(24px);
          border-radius: px2vw-sm(4px);
        }
      }
    }

    img {
      width: 50%;
      border-radius: 5px;
      object-fit: contain;

      @include xl {
        border-radius: px2vw-xl(5px);
      }

      @include lg {
        border-radius: px2vw-lg(5px);
      }

      @include md {
        border-radius: px2vw-md(5px);
      }

      @include sm {
        border-radius: px2vw-sm(5px);
      }
    }
    .image-comment {
      display: flex;
      justify-content: center;
      gap: 0 1em;
      margin-right: 16px;
      @include xl {
        margin-right: px2vw-xl(16px);
      }

      @include lg {
        margin-right: px2vw-lg(16px);
      }

      @include md {
        margin-right: px2vw-md(16px);
      }

      @include sm {
        margin-right: px2vw-sm(16px);
      }
      img {
        cursor: pointer;
        height: 16px;
        width: 16px;
        margin: 0;

        @include xl {
          height: px2vw-xl(16px);
          width: px2vw-xl(16px);
        }

        @include lg {
          height: px2vw-lg(16px);
          width: px2vw-lg(16px);
        }

        @include md {
          height: px2vw-md(16px);
          width: px2vw-md(16px);
        }

        @include sm {
          height: px2vw-sm(16px);
          width: px2vw-sm(16px);
        }
      }
      input {
        display: none;
      }
    }

    textarea {
      padding: 8px;
      height: 40px;
      background-color: inherit;
      color: var(--white);
      width: 100%;
      border: none;
      outline: none;
      resize: none;

      @include xl {
        height: px2vw-xl(40px);
        padding: px2vw-xl(8px);
      }

      @include lg {
        height: px2vw-lg(40px);
        padding: px2vw-lg(8px);
      }

      @include md {
        height: px2vw-md(40px);
        padding: px2vw-md(8px);
      }

      @include sm {
        height: px2vw-sm(40px);
        padding: px2vw-sm(8px);
      }
    }
    .box-edit-comment {
      background-color: #0b0824;
      border-radius: 19px;
      border: 1px solid var(--white-light);
      padding: 0 16px 16px;

      @include xl {
        padding: px2vw-xl(0px) px2vw-xl(16px) px2vw-xl(16px);
        border-radius: px2vw-xl(19px);
        border-width: px2vw-xl(1px);
      }

      @include lg {
        padding: px2vw-lg(0px) px2vw-lg(16px) px2vw-lg(16px);
        border-radius: px2vw-lg(19px);
        border-width: px2vw-lg(1px);
      }

      @include md {
        padding: px2vw-md(0px) px2vw-md(16px) px2vw-md(16px);
        border-radius: px2vw-md(19px);
        border-width: px2vw-md(1px);
      }

      @include sm {
        padding: px2vw-sm(0px) px2vw-sm(16px) px2vw-sm(16px);
        border-radius: px2vw-sm(19px);
        border-width: px2vw-sm(1px);
      }

      .edit-mess {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .action-comment {
    margin-right: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0 16px;

    @include xl {
      margin-right: px2vw-xl(16px);
      margin-top: px2vw-xl(16px);
      gap: px2vw-xl(0px) px2vw-xl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
      margin-top: px2vw-lg(16px);
      gap: px2vw-lg(0px) px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      margin-top: px2vw-md(16px);
      gap: px2vw-md(0px) px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      margin-top: px2vw-sm(16px);
      gap: px2vw-sm(0px) px2vw-sm(16px);
    }

    .action-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0 6px;
      height: 20px;
      @include xl {
        gap: px2vw-xl(0px) px2vw-xl(6px);
        height: px2vw-xl(20px);
      }

      @include lg {
        gap: px2vw-lg(0px) px2vw-lg(6px);
        height: px2vw-lg(20px);
      }

      @include md {
        gap: px2vw-md(0px) px2vw-md(6px);
        height: px2vw-md(20px);
      }

      @include sm {
        gap: px2vw-sm(0px) px2vw-sm(6px);
        height: px2vw-sm(20px);
      }

      .icon {
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        img {
          width: 16px;
          height: 16px;

          @include xl {
            height: px2vw-xl(16px);
            width: px2vw-xl(16px);
          }

          @include lg {
            height: px2vw-lg(16px);
            width: px2vw-lg(16px);
          }

          @include md {
            height: px2vw-md(16px);
            width: px2vw-md(16px);
          }

          @include sm {
            height: px2vw-sm(16px);
            width: px2vw-sm(16px);
          }
        }
      }
      .count {
        font-family: Red Hat Text;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        @include xl {
          line-height: px2vw-xl(20px);
          font-size: px2vw-xl(14px);
        }

        @include lg {
          line-height: px2vw-lg(20px);
          font-size: px2vw-lg(14px);
        }

        @include md {
          line-height: px2vw-md(20px);
          font-size: px2vw-md(14px);
        }

        @include sm {
          line-height: px2vw-sm(20px);
          font-size: px2vw-sm(14px);
        }
      }

      .btn-reply {
        color: var(--color-secondary);
      }
    }
  }
}

.reply {
  margin: 0 -16px;
  @include xl {
    margin: px2vw-xl(0px) px2vw-xl(-16px);
  }

  @include lg {
    margin: px2vw-lg(0px) px2vw-lg(-16px);
  }

  @include md {
    margin: px2vw-md(0px) px2vw-md(-16px);
  }

  @include sm {
    margin: px2vw-sm(0px) px2vw-sm(-16px);
  }
  .heading {
    max-width: 100%;
    &__user-avatar {
      img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;

        @include lg {
          height: px2vw-lg(40px);
          width: px2vw-lg(40px);
        }

        @include md {
          height: px2vw-md(40px);
          width: px2vw-md(40px);
        }

        @include sm {
          height: px2vw-sm(40px);
          width: px2vw-sm(40px);
        }
      }
    }

    .box-info {
      img {
        width: 70%;
      }
    }
  }
  .content {
    border: none;
    .image-content {
      img {
        width: 70%;
      }
    }
  }
}
.btn-showmore {
  color: var(--color-secondary);
  border: none;
  text-transform: inherit;
  cursor: pointer;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  right: 0;
  margin: -25px 15px 0 0;
}
