<table class="table Swiss-standing-wrapper security-preferences-box reload_tab">
  <thead>
    <tr class="table-col-title">
      <th class="data_time" (click)="sort()" style="cursor: pointer;">
        {{ "TRANSACTIONS.RELOAD_VIEW.DATE_TIME" | translate }}
        <img class="Header-logo imgstyle" src="./assets/wallet/dropdown.png" alt="logo" />
      </th>
      <th class="order_id">{{ "TRANSACTIONS.RELOAD_VIEW.ORDER_ID"| translate }}</th>
      <th class="payment_method"> {{ "TRANSACTIONS.RELOAD_VIEW.PAYMENT_METHOD" | translate }}</th>
      <th class="reload_amount">*{{"TRANSACTIONS.RELOAD_VIEW.RELOAD_PRICE" | translate }}</th>
      <th class="geng_coin">{{"TRANSACTIONS.RELOAD_VIEW.GENG_COIN" | translate }}</th>
      <th class="status">{{"TRANSACTIONS.RELOAD_VIEW.STATUS" | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="Swiss-standing-body" *ngIf="showalldata?.length != 0">
    <tr class="tbl-row" *ngFor="let item of showalldata" (click)="showDetails(item)">
      <td class="tbl-col">{{item?.createdAt | date:'dd/MM/YYYY'}} <br />
        <span>{{item?.createdAt | date:'HH:mm'}}</span>
      </td>
      <td class="tbl-col">{{item?.reloadOrderId}}</td>
      <td class="tbl-col payment_method">
        <img src="assets/icons/icon_online_banking.svg" class="img-fluid" *ngIf="item?.type == 'Online Banking'" />
        <img src="assets/icons/icon_pay_with_maxis.svg" class="img-fluid" *ngIf="item?.type == 'Pay with Maxis'" />
        <img src="assets/icons/icon_credit_debit_card.svg" class="img-fluid"
          *ngIf="item?.type == 'Credit/Debit Card'" />
        <img src="assets/icons/icon_cashback.svg" class="img-fluid" *ngIf="item?.type == 'Cashback'" />
        {{item?.type}}
      </td>
      <td class="tbl-col">
        <span *ngIf="item?.type == 'Cashback'">-</span>
        <span *ngIf="item?.type != 'Cashback'">{{ "TRANSACTIONS.RELOAD_VIEW.RM" | translate }}
          {{item?.transactionAmount}}</span>
      </td>

      <td class="tbl-col">
        {{item?.conversionWalletValue | number}} {{ "TRANSACTIONS.RELOAD_VIEW.COINS" | translate }}
      </td>

      <td class="tbl-col td_viewdetails">
        <div class="status-refund" *ngIf="item?.processStatus == '1'">
          {{ "TRANSACTIONS.RELOAD_VIEW.SUCCESSFUL" | translate }}
        </div>
        <div class="status-refund1" *ngIf="item?.processStatus == '2'">
          {{ "TRANSACTIONS.RELOAD_VIEW.UNSUCCESSFUL" | translate }}
        </div>
        <div class="status-refund2" *ngIf="item?.processStatus == '0'">
          {{ "TRANSACTIONS.RELOAD_VIEW.PROCESSING" | translate }}
        </div>
        <div class="status-refund3" *ngIf="item?.processStatus == '3' || item?.processStatus == '4'">
          {{ "TRANSACTIONS.RELOAD_VIEW.REFUND"| translate }}
        </div>
      </td>
      <td>
        <p class="btn_view">
          {{ "TRANSACTIONS.RELOAD_VIEW.VIEW"| translate }}
        </p>
      </td>
    </tr>
  </tbody>
</table>
