@import "shared";

:host {
  display: block;
}

.TeamCardInfo {
  display: flex;

  @include sm {
    flex-direction: column;
  }

  &-image {
    flex-shrink: 0;
    width: px2vw-xl(131px);
    background-size: cover;
    background-position: center center;
    background-color: var(--base-black);

    @include lg {
      width: px2vw-lg(150px);
    }

    @include md {
      width: px2vw-md(194px);
    }

    @include sm {
      height: px2vw-sm(360px);
      width: 100%;
    }
  }

  &-container {
    flex-grow: 1;
    padding:  px2vw-xl(40px);
    background-color: var(--base-05);

    @include lg {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: px2vw-lg(25px) px2vw-lg(30px);
    }

    @include md {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: px2vw-md(16px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(25px);
    }
  }

  &-manage {
    align-items: flex-start;
    flex-direction: column;
    margin-right: px2vw-xl(20px);
    height: 100%;

    @include lg {
      margin-right: 0;
      height: auto;
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-header {
    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      flex-direction: column;
      align-items: flex-start;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-title {
    margin-right: px2vw-xl(30px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(30px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(20px);
      line-height: 1.1;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-social {
    margin-right: px2vw-xl(30px);

    @include lg {
      margin-right: px2vw-lg(30px);
    }

    @include md {
      margin-right: px2vw-md(30px);
    }

    @include sm {
      margin-right: px2vw-sm(30px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-social-icon {
    display: block;

    &.facebook ::ng-deep svg {
      width: px2vw-xl(11px);
      height: px2vw-xl(21px);

      @include lg {
        width: px2vw-lg(11px);
        height: px2vw-lg(21px);
      }

      @include md {
        width: px2vw-md(11px);
        height: px2vw-md(21px);
      }

      @include sm {
        width: px2vw-sm(11px);
        height: px2vw-sm(21px);
      }
    }

    &.instagram ::ng-deep svg {
      width: px2vw-xl(21px);
      height: px2vw-xl(21px);

      @include lg {
        width: px2vw-lg(21px);
        height: px2vw-lg(21px);
      }

      @include md {
        width: px2vw-md(21px);
        height: px2vw-md(21px);
      }

      @include sm {
        width: px2vw-sm(21px);
        height: px2vw-sm(21px);
      }
    }

    &.twitch ::ng-deep svg {
      width: px2vw-xl(19px);
      height: px2vw-xl(20px);

      @include lg {
        width: px2vw-lg(19px);
        height: px2vw-lg(20px);
      }

      @include md {
        width: px2vw-md(19px);
        height: px2vw-md(20px);
      }

      @include sm {
        width: px2vw-sm(19px);
        height: px2vw-sm(20px);
      }
    }

    &.linkedin ::ng-deep svg {
      width: px2vw-xl(18px);
      height: px2vw-xl(18px);

      @include lg {
        width: px2vw-lg(18px);
        height: px2vw-lg(18px);
      }

      @include md {
        width: px2vw-md(18px);
        height: px2vw-md(18px);
      }

      @include sm {
        width: px2vw-sm(18px);
        height: px2vw-sm(18px);
      }
    }

    &.twitter ::ng-deep svg {
      width: px2vw-xl(18px);
      height: px2vw-xl(15px);

      @include lg {
        width: px2vw-lg(18px);
        height: px2vw-lg(15px);
      }

      @include md {
        width: px2vw-md(18px);
        height: px2vw-md(15px);
      }

      @include sm {
        width: px2vw-sm(18px);
        height: px2vw-sm(15px);
      }
    }
  }

  &-trophies {
    margin-left: px2vw-xl(20px);
    flex-shrink: 0;

    @include lg {
      margin-left: 0;
    }
  }

  &-trophies-title {
    flex-shrink: 0;
    margin-bottom: 0;
    font-family: "formation-sourcesanspro-regular";
    font-size: px2vw-xl(20px);

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }
  }

  &-trophy {
    margin-left: px2vw-xl(35px);

    @include lg {
      margin-left: px2vw-lg(30px);
    }

    @include md {
      margin-left: px2vw-md(30px);
    }

    @include sm {
      margin-left: px2vw-sm(30px);
    }
  }

  &-trophy-icon {
    margin-right: px2vw-xl(10px);
    width: px2vw-xl(31px);
    height: px2vw-xl(34px);

    @include lg {
      margin-right: px2vw-lg(10px);
      width: px2vw-lg(25px);
      height: px2vw-lg(28px);
    }

    @include md {
      margin-right: px2vw-md(10px);
      width: px2vw-md(25px);
      height: px2vw-md(28px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
      width: px2vw-sm(25px);
      height: px2vw-sm(28px);
    }
  }

  &-trophy-text {
    @extend %global-H5;
  }
}
