@import "../user-notifications.component.scss";

.UserNotification-boxC-banner {
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}
::ng-deep {
  .UserNotification-main {
    min-height: 984px;
  }
}
::ng-deep {
  .fa {
    color: var(--base-black) !important;
  }
}
