<div class="UserNotification-main">
  <esports-loading *ngIf="isLoading"></esports-loading>

  <div class="UserNotification-boxC-footer">
    <div class="UserNotification-boxC-footer-left">
      <form [formGroup]="emailNotificationForm" novalidate>
        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>
            {{ "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE" | translate }}
          </mat-label>
          <input
            matInput
            id="emailTitle"
            autocomplete="off"
            type="text"
            formControlName="emailTitle"
          />
          <mat-error *ngIf="hasError('emailTitle', 'required')">
            {{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE" | translate
            }}
            *
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>
            {{ "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE_HEADER" | translate }}
          </mat-label>

          <input
            matInput
            id="headerText"
            autocomplete="off"
            type="text"
            formControlName="headerText"
          />
          <mat-error *ngIf="hasError('headerText', 'required')">
            {{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE_HEADER"
                | translate
            }}
            *
          </mat-error>
        </mat-form-field>

        <div class="global-Text">
          {{
            "ADMIN.USER_NOTIFICATION.LABEL.ADD_HEADER_BANNER_IMAGE" | translate
          }}
        </div>

        <input
          type="file"
          id="bannerUploader"
          style="opacity: 0; height: 0px; width: 0px;"
        />
        <mat-error *ngIf="!headerImageUri">
          {{
            "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_HEADER_BANNER_IMAGE"
              | translate
          }}
          *
        </mat-error>

        <div
          class="UserNotification-boxC-banner"
          #bannerUpload
          id="bannerUpload"
        >
          <div class="UserNotification-boxC-banner-info">
            {{ "ADMIN.USER_NOTIFICATION.LABEL.BANNER_SIZE" | translate }} <br />
            <button
              class="global-EditBtn is-sm is-edit"
              (click)="uploadImage()"
            >
              {{ "ADMIN.USER_NOTIFICATION.BUTTON.UPLOAD_IMAGE" | translate }}
            </button>
          </div>
        </div>

        <!-- <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>
            {{ "ADMIN.USER_NOTIFICATION.LABEL.TYPE_MESSAGE" | translate }}
          </mat-label>

          <textarea
            matInput
            id="message"
            type="text"
            formControlName="message"
          ></textarea>

          <mat-error *ngIf="hasError('message', 'required')">
            {{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.TYPE_MESSAGE"
                | translate
            }}
            *
          </mat-error>
        </mat-form-field> -->
        <div class="mb-2 errorMessage" *ngIf="hasError('message', 'required')">
          {{
            "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.TYPE_MESSAGE"
              | translate
          }}
          *
        </div>
          <WYSIWYG-editor 
            data-test-id="message"
            type="text"
            formControlName="message"
            [config]="editorConfig"
            >
          </WYSIWYG-editor>


        <div class="col-xl-4 col-lg-12" style="margin-left: -15px;">
          <app-drop-down-select
            (valueEmit)="selectType($event)"
            [customFormControlName]="'userSegment'"
            [customFormGroup]="emailNotificationForm"
            [dropdownList]="userSegementValues"
            [type]="'A'"
            [title]="
              'ADMIN.USER_NOTIFICATION.LABEL.SELECT_USER_SEGMENT' | translate
            "
          ></app-drop-down-select>
        </div>

        <div class="UserNotification-footer-btns">
          <button
            class="global-EditBtn is-sm dark-text"
            (click)="toggleEditPane(); resetControls()"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.CANCEL" | translate }}
          </button>

          <button
            class="global-EditBtn is-sm"
            (click)="updateEmail()"
            type="submit"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.SEND" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
