@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "base/typography";
@import "abstract/functions";

.capitalize {
  text-transform: uppercase;
}

.ViewUserAccessPopup {
  @extend %u-dfStartBtw;
  padding: px2vw-xl(20px);

  @include lg {
    padding: px2vw-lg(20px);
  }

  @include md {
    padding: px2vw-md(20px);
    flex-flow: column;
    align-items: center;
  }

  @include sm {
    padding: 0;
  }

  &-ava {
    margin-right: px2vw-xl(50px);
    min-width: px2vw-xl(99px);
    width: px2vw-xl(99px);
    height: px2vw-xl(99px);
    border-radius: 50%;
    overflow: hidden;

    @include lg {
      margin-right: px2vw-lg(50px);
      min-width: px2vw-lg(99px);
      width: px2vw-lg(99px);
      height: px2vw-lg(99px);
    }

    @include md {
      margin: 0 0 px2vw-md(20px);
      min-width: px2vw-md(99px);
      width: px2vw-md(99px);
      height: px2vw-md(99px);
    }

    @include sm {
      margin: 0 0 px2vw-sm(20px);
      min-width: px2vw-sm(99px);
      width: px2vw-sm(99px);
      height: px2vw-sm(99px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-box {
    width: px2vw-xl(500px);

    @include lg {
      width: px2vw-lg(500px);
    }

    @include md {
      width: auto;
    }
  }

  &-items {
    @extend %u-dfStartBtw;

    @include md {
      flex-flow: column;
    }
  }

  &-item {
    flex: 1;

    h2 {
      @extend %global-Text;
      font-size: px2vw-xl(15px);
      margin: 0 0 px2vw-xl(2px);

      @include lg {
        font-size: px2vw-lg(15px);
        margin: 0 0 px2vw-lg(2px);
      }

      @include md {
        font-size: px2vw-md(15px);
        margin: 0 0 px2vw-md(2px);
      }

      @include sm {
        font-size: px2vw-sm(15px);
        margin: 0 0 px2vw-sm(2px);
      }
    }

    h3 {
      @extend %global-Text;
      margin: 0 0 px2vw-xl(40px);
      font-size: px2vw-xl(19px);

      @include lg {
        margin: 0 0 px2vw-lg(40px);
        font-size: px2vw-lg(19px);
      }

      @include md {
        margin: 0 0 px2vw-md(40px);
        font-size: px2vw-md(19px);
      }

      @include sm {
        margin: 0 0 px2vw-sm(40px);
        font-size: px2vw-sm(19px);
      }
    }
  }

  &-access {
    @extend %u-dfCenterStart;
    margin: px2vw-xl(5px) 0 px2vw-xl(15px);

    @include lg {
      margin: px2vw-lg(5px) 0 px2vw-lg(15px);
    }

    @include md {
      margin: px2vw-md(5px) 0 px2vw-md(15px);
    }

    @include sm {
      margin: px2vw-sm(5px) 0 px2vw-sm(15px);
    }

    h2 {
      @extend %u-dfCenterCenter;
      margin: 0 px2vw-xl(24px) 0 0;
      width: px2vw-xl(40px);
      height: px2vw-xl(40px);
      font-size: px2vw-xl(14px);
      color: var(--primary-cinnabar);
      background: var(--base-white);
      border-radius: 50%;

      @include lg {
        margin: 0 px2vw-lg(24px) 0 0;
        width: px2vw-lg(40px);
        height: px2vw-lg(40px);
        font-size: px2vw-lg(14px);
      }

      @include md {
        margin: 0 px2vw-md(24px) 0 0;
        width: px2vw-md(40px);
        height: px2vw-md(40px);
        font-size: px2vw-md(14px);
      }

      @include sm {
        margin: 0 px2vw-sm(24px) 0 0;
        width: px2vw-sm(40px);
        height: px2vw-sm(40px);
        font-size: px2vw-sm(14px);
      }
    }

    h3 {
      @extend %global-Text;
      margin: 0;
      font-size: px2vw-xl(16px);

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }
    }
  }
}
