@import "shared";

$slider-overlay-bg: linear-gradient(180deg, rgba(23, 26, 23, 0) 48.89%, rgba(23, 26, 23, 0.75) 72.08%, #171a17 100%);
::ng-deep {
    .news-slider {
        .carousel {
            .slide {
                min-height: px2vw-xl(420px);
                max-width: px2vw-xl(747px);
                margin: 0 0px;
                opacity: 0.3;
                position: relative;
                @include xxl {
                    min-height: px2vw-xxl(420px);
                    max-width: px2vw-xxl(747px);
                }
                @include lg {
                    min-height: px2vw-lg(420px);
                    max-width: px2vw-lg(747px);
                }
                @include md {
                    min-height: px2vw-md(250px);
                }
                @include sm {
                    min-height: px2vw-sm(193px);
                }
                @media screen and (max-width: 1366px) and (min-width: 950px) {
                    max-width: px2vw-lg(747px);
                }
                &.slick-current.slick-active {
                    opacity: 1;
                }
                .img {
                    position: relative;
                    img {
                        height: px2vw-xl(420px);
                        max-height: 100%;
                        object-fit: fill;
                        width: 100%;
                        position: relative;
                        @include xxl {
                            height: px2vw-xxl(420px);
                        }
                        @include lg {
                            height: px2vw-lg(420px);
                        }
                        @include md {
                            height: px2vw-md(250px);
                        }
                        @include sm {
                            height: px2vw-sm(193px);
                        }
                    }
                    .overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: $slider-overlay-bg;
                        bottom: -1px;
                        left: 0;
                        z-index: 9;
                    }
                }
                figcaption {
                    bottom: px2vw-xl(34px);
                    left: px2vw-xl(25px);
                    right: px2vw-xl(25px);
                    z-index: 5001;
                    position: absolute;
                    @include xxl {
                        bottom: px2vw-xxl(34px);
                        padding: 0 px2vw-xxl(24px);
                        left: px2vw-xxl(0px);
                    }
                    @include lg {
                        bottom: px2vw-lg(34px);
                        padding: 0 px2vw-lg(24px);
                        left: px2vw-lg(0px);
                    }
                    @include md {
                        bottom: px2vw-md(0px);
                        padding: 0 px2vw-md(24px);
                        left: px2vw-md(0px);
                    }
                    @include sm {
                        bottom: 0;
                        padding: 0 px2vw-sm(24px);
                        left: px2vw-sm(0px);
                        position: static;
                        margin-bottom: px2vw-sm(10px);
                    }
                    .badge-game {
                        font-family: "maxis-bold";
                        font-size: px2vw-xl(10px);
                        display: inline-flex;
                        border-radius: 0;
                        justify-content: center;
                        align-items: center;
                        height: px2vw-xl(27px);
                        color: black;
                        text-transform: uppercase;
                        background-color: var(--color_skyblue);
                        padding: 0 px2vw-xl(10px);
                        @include xxl {
                            font-size: px2vw-xl(10px);
                            height: px2vw-xxl(27px);
                            padding: 0 px2vw-xxl(10px);
                        }
                        @include lg {
                            font-size: px2vw-lg(10px);
                            height: px2vw-lg(27px);
                            padding: 0 px2vw-lg(10px);
                        }
                        @include md {
                            font-size: px2vw-md(10px);
                            height: px2vw-md(27px);
                            padding: 0 px2vw-md(10px);
                        }
                        @include sm {
                            font-size: px2vw-sm(10px);
                            height: px2vw-sm(27px);
                            padding: 0 px2vw-sm(10px);
                        }
                        img {
                            width: px2vw-xl(17px);
                            height: px2vw-xl(10px);
                            margin-right: px2vw-xl(5px);
                            @include xxl {
                                width: px2vw-xxl(17px);
                                height: px2vw-xxl(10px);
                                margin-right: px2vw-xxl(5px);
                            }
                            @include lg {
                                width: px2vw-lg(17px);
                                height: px2vw-lg(10px);
                                margin-right: px2vw-lg(5px);
                            }
                            @include md {
                                width: px2vw-md(17px);
                                height: px2vw-md(10px);
                                margin-right: px2vw-md(5px);
                            }
                            @include sm {
                                width: px2vw-sm(17px);
                                height: px2vw-sm(10px);
                                margin-right: px2vw-sm(5px);
                            }
                        }
                    }
                    h2 {
                        font-family: "maxis-black";
                        font-weight: 900;
                        font-size: px2vw-xl(28px);
                        line-height: px2vw-xl(34px);
                        letter-spacing: 0.15px;
                        color: var(--white-high);
                        text-shadow: var(--bx-shdow);
                        max-width: px2vw-xl(508px);
                        margin-top: px2vw-xl(17px);
                        margin-bottom: px2vw-xl(0px);
                        @include xxl {
                            font-size: px2vw-xxl(28px);
                            line-height: px2vw-xxl(34px);
                            max-width: px2vw-xxl(508px);
                            margin-top: px2vw-xxl(17px);
                            margin-bottom: px2vw-xxl(0px);
                        }
                        @include lg {
                            font-size: px2vw-lg(28px);
                            line-height: px2vw-lg(34px);
                            max-width: px2vw-lg(508px);
                            margin-top: px2vw-lg(17px);
                            margin-bottom: px2vw-lg(0px);
                        }
                        @include md {
                            font-size: px2vw-md(28px);
                            line-height: px2vw-md(34px);
                            max-width: px2vw-md(508px);
                            margin-top: px2vw-md(17px);
                            margin-bottom: px2vw-md(0px);
                        }
                        @include sm {
                            font-size: px2vw-sm(17px);
                            line-height: px2vw-sm(20px);
                            max-width: px2vw-sm(508px);
                            margin-top: px2vw-sm(12px);
                            margin-bottom: px2vw-sm(0px);
                        }
                    }
                    .date {
                        font-family: "maxis-bold";
                        font-weight: normal;
                        font-size: px2vw-xl(17px);
                        line-height: px2vw-xl(25px);
                        letter-spacing: 0.15px;
                        color: var(--white-medium);
                        display: flex;
                        @include xxl {
                            font-size: px2vw-xxl(17px);
                            line-height: px2vw-xxl(25px);
                        }
                        @include lg {
                            font-size: px2vw-lg(17px);
                            line-height: px2vw-lg(25px);
                        }
                        @include md {
                            font-size: px2vw-md(17px);
                            line-height: px2vw-md(25px);
                        }
                        @include sm {
                            font-size: px2vw-sm(16px);
                            line-height: px2vw-sm(24px);
                        }
                        .news-auth-det {
                            display: inline-block;
                            margin: px2vw-xl(0px) px2vw-xl(5px);
                            max-width: px2vw-xl(150px);
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            @include xxl {
                                margin: px2vw-xxl(0px) px2vw-xxl(5px);
                                max-width: px2vw-xxl(150px);
                            }
                            @include lg {
                                margin: px2vw-lg(0px) px2vw-lg(5px);
                                max-width: px2vw-lg(150px);
                            }
                            @include md {
                                margin: px2vw-md(0px) px2vw-md(5px);
                                max-width: px2vw-md(150px);
                            }
                            @include sm {
                                margin: px2vw-sm(0px) px2vw-sm(5px);
                                max-width: px2vw-sm(150px);
                            }
                        }
                    }
                    .by-share-section {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: px2vw-xl(21px);

                        @include xxl {
                            margin-top: px2vw-xxl(21px);
                        }
                        @include lg {
                            margin-top: px2vw-lg(21px);
                        }
                        @include md {
                            margin-top: px2vw-md(21px);
                        }
                        @include sm {
                            margin-top: px2vw-sm(0px);
                            height: 35px;
                        }
                        .share-btn-sect {
                            display: flex;
                            margin-left: px2vw-xl(8px);

                            @include xxl {
                                margin-left: px2vw-xxl(8px);
                            }
                            @include lg {
                                margin-left: px2vw-lg(8px);
                            }
                            @include md {
                                margin-left: px2vw-md(8px);
                            }
                            @include sm {
                                margin-left: px2vw-sm(8px);
                            }
                            img {
                                width: px2vw-xl(24px);
                                height: px2vw-xl(24px);
                                padding: 0;
                                cursor: pointer;
                                @include xxl {
                                    width: px2vw-xxl(24px);
                                    height: px2vw-xxl(24px);
                                }
                                @include lg {
                                    width: px2vw-lg(24px);
                                    height: px2vw-lg(24px);
                                }
                                @include md {
                                    width: px2vw-md(24px);
                                    height: px2vw-md(24px);
                                }
                                @include sm {
                                    width: px2vw-sm(24px);
                                    height: px2vw-sm(24px);
                                }
                            }
                        }
                    }
                }
                @include md {
                    opacity: 1;
                }
            }
        }
        @include sm {
            .slick-dots {
                padding: px2vw-sm(12px) 0;
                background: var(--gradient-bg-drk);
                bottom: px2vw-sm(-32px);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

::ng-deep .cdk-global-overlay-wrapper {
    overflow: auto;
}
::ng-deep .news-slider {
    .slick-list.draggable {
        @include sm {
            padding: 0 0 !important;
        }
        @media (min-width: 768px) {
            padding: 0 px2vw-xl(125px) !important;
            @include lg {
                padding: 0 px2vw-lg(125px) !important;
            }
        }
        @media (min-width: 992px) {
            padding: 0 px2vw-xl(175px) !important;
            @include lg {
                padding: 0 px2vw-lg(175px) !important;
            }
        }
        @media (min-width: 1200px) {
            padding: 0 px2vw-xl(225px) !important;
            @include lg {
                padding: 0 px2vw-lg(225px) !important;
            }
        }
        @include xxl {
            padding: 0 px2vw-xxl(23%) !important;
        }
        @media (min-width: 2400px) {
            padding: 0 px2vw-xxl(33.333%) !important;
        }
    }
    .slick-slide img {
        @include sm {
            max-height: px2vw-sm(125px);
        }
        @media (min-width: 600px) {
            max-height: px2vw-xl(325px);
            padding: 0 px2vw-xl(10px);
            @include lg {
                max-height: px2vw-lg(325px);
                padding: 0 px2vw-lg(10px);
            }
            @include md {
                max-height: px2vw-md(325px);
                padding: 0 px2vw-md(10px);
            }
            @include sm {
                max-height: px2vw-sm(325px);
                padding: 0 px2vw-sm(10px);
            }
        }
    }
    .slick-arrow {
        height: 100%;
        width: 15%;
        z-index: 1;
        @media (max-width: 600px) {
            display: none !important;
        }
    }
    .slick-prev {
        background: linear-gradient(90deg, var(--black), transparent);
        &.slick-prev:before {
            position: absolute;
            left: 65px;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "\f104" !important;
            font-family: FontAwesome;
            font-size: 70px;
        }
    }
    .slick-next {
        background: linear-gradient(90deg, transparent, var(--black));
        &.slick-next:before {
            position: absolute;
            right: 35px;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "\f105" !important;
            font-family: FontAwesome;
            font-size: 70px;
        }
    }
    ::ng-deep .slick-dots li button,
    ::ng-deep .slick-dots li {
        height: px2vw-xl(8px);
        width: px2vw-xl(8px);
        @include lg {
            height: px2vw-lg(8px);
            width: px2vw-lg(8px);
        }
        @include md {
            height: px2vw-md(8px);
            width: px2vw-md(8px);
        }
        @include sm {
            height: px2vw-sm(8px);
            width: px2vw-sm(8px);
        }
    }
    ::ng-deep .slick-dots li {
        &.slick-active button:before {
            background-color: var(--color_skyblue);
        }
        button:before {
            content: "";
            height: px2vw-xl(8px);
            width: px2vw-xl(8px);
            background-color: var(--white-smoke);
            border-radius: 0;
            @include lg {
                height: px2vw-lg(8px);
                width: px2vw-lg(8px);
            }
            @include md {
                height: px2vw-md(8px);
                width: px2vw-md(8px);
            }
            @include sm {
                height: px2vw-sm(8px);
                width: px2vw-sm(8px);
            }
        }
    }
}

.browse-category {
    padding: px2vw-xl(76px) px2vw-xl(0px) px2vw-xl(0px);
    @include xxl {
        padding: px2vw-xxl(76px) px2vw-xxl(0px) px2vw-xxl(0px);
    }
    @include lg {
        padding: px2vw-lg(76px) px2vw-lg(0px) px2vw-lg(0px);
    }
    @include md {
        padding: px2vw-md(76px) px2vw-md(0px) px2vw-md(0px);
    }
    @include sm {
        padding: px2vw-sm(30px) px2vw-sm(0px) px2vw-sm(0px);
    }
    h3 {
        @extend %global-H4;
        text-transform: capitalize;
    }
    .title-text {
        @extend %body-2;
        color: var(--white-medium);
    }
    &-row {
        display: grid;
        margin-top: px2vw-xl(32px);
        grid-column-gap: px2vw-xl(20px);
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        @include xxl {
            margin-top: px2vw-xxl(32px);
            grid-column-gap: px2vw-xxl(20px);
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        }
        @include lg {
            margin-top: px2vw-lg(32px);
            grid-column-gap: px2vw-lg(20px);
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        }
        @include md {
            margin-top: px2vw-md(32px);
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        }
        @include sm {
            margin-top: px2vw-sm(32px);
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            grid-column-gap: px2vw-sm(20px);
        }
    }
    &-col {
        @extend %global-H6;
        background: var(--gradient-bg-drk);
        border: 1px solid var(--white-light);
        box-sizing: border-box;
        box-shadow: var(--text-shadow-colr);
        border-radius: px2vw-xl(4px);
        padding: px2vw-xl(24px) px2vw-xl(0px);
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        align-items: center;
        color: var(--white);
        text-transform: inherit;
        @include xxl {
            border-radius: px2vw-xxl(4px);
            padding: px2vw-xxl(24px) px2vw-xxl(0px);
        }
        @include lg {
            border-radius: px2vw-lg(4px);
            padding: px2vw-lg(24px) px2vw-lg(0px);
        }
        @include md {
            border-radius: px2vw-md(4px);
            padding: 0;
            width: 100%;
            height: px2vw-md(48px);
        }
        @include sm {
            border-radius: px2vw-sm(4px);
            padding: 0;
            height: px2vw-sm(48px);
        }
        &:first-child {
            margin-left: 0px;
        }
        &:last-child {
            margin-right: 0px;
            // margin-top: px2vw-xl(20px);
            // @include xxl {
            //     margin-top: px2vw-xxl(20px);
            // }
            // @include lg {
            //     margin-top: px2vw-lg(20px);
            // }
            // @include md {
            //     margin-top: px2vw-md(20px);
            // }
            // @include sm {
            //     margin-top: px2vw-sm(20px);
            // }
        }
        img {
            width: px2vw-xl(20px);
            height: px2vw-xl(20px);
            margin-right: px2vw-xl(14px);
            @include xxl {
                width: px2vw-xxl(20px);
                height: px2vw-xxl(20px);
                margin-right: px2vw-xxl(14px);
            }
            @include lg {
                width: px2vw-lg(20px);
                height: px2vw-lg(20px);
                margin-right: px2vw-lg(14px);
            }
            @include md {
                width: px2vw-md(20px);
                height: px2vw-md(20px);
                margin-right: px2vw-md(14px);
            }
            @include sm {
                width: px2vw-sm(20px);
                height: px2vw-sm(20px);
                margin-right: px2vw-sm(14px);
            }
        }
    }
}

.videos {
    background: var(--box-shadow-radial);
    padding: px2vw-xl(48px) px2vw-xl(0px) px2vw-xl(0px);
    background: url(../../../../assets/icons/news/video-back.svg) no-repeat 0 0 var(--black-drk-new);
    background-attachment: fixed;
    h3 {
        font-weight: 900;
        font-size: px2vw-xl(34px);
        line-height: px2vw-xl(36px);
        color: var(--white-high);
        font-family: "maxis-black";
        @include xxl {
            font-size: px2vw-xxl(34px);
            line-height: px2vw-xxl(36px);
        }
        @include lg {
            font-size: px2vw-lg(34px);
            line-height: px2vw-lg(36px);
        }
        @include md {
            font-size: px2vw-md(34px);
            line-height: px2vw-md(36px);
        }
        @include sm {
            font-size: px2vw-sm(34px);
            line-height: px2vw-sm(36px);
        }
    }

    &-row {
        display: flex;
        margin-top: px2vw-xl(32px);
        flex-wrap: wrap;
        @include xxl {
            margin-top: px2vw-xxl(32px);
        }
        @include lg {
            margin-top: px2vw-lg(32px);
        }
        @include md {
            margin-top: px2vw-md(32px);
        }
        @include sm {
            margin-top: px2vw-sm(32px);
        }
    }
    &-col {
        max-width: px2vw-xl(372px);
        width: 100%;
        margin: 0 8px 40px;
        @include xxl {
            max-width: px2vw-xxl(372px);
        }
        @include lg {
            max-width: px2vw-lg(372px);
        }
        @include md {
            max-width: 100%;
        }
        @include sm {
            max-width: 100%;
        }
        @include xl {
            &:nth-child(3n + 0) {
                margin-right: 0px;
            }
            &:nth-child(3n + 1) {
                margin-left: 0px;
            }
        }
        @include lg {
            &:nth-child(3n + 0) {
                margin-right: 0px;
            }
            &:nth-child(3n + 1) {
                margin-left: 0px;
            }
        }
        @include md {
            &:nth-child(2n + 0) {
                margin-right: 0px;
            }
            &:nth-child(2n + 1) {
                margin-left: 0px;
            }
        }
        @include sm {
            &:nth-child(1n + 0) {
                margin-right: 0px;
            }
            &:nth-child(1n + 1) {
                margin-left: 0px;
            }
        }
    }
    &-img {
        position: relative;
        max-width: px2vw-xl(376px);
        height: px2vw-xl(200px);
        @include xxl {
            max-width: px2vw-xxl(376px);
            height: px2vw-xxl(200px);
        }
        @include lg {
            max-width: px2vw-lg(376px);
            height: px2vw-lg(200px);
        }
        @include md {
            max-width: px2vw-md(376px);
            height: px2vw-md(200px);
        }
        @include sm {
            max-width: 100%;
            height: px2vw-sm(298px);
        }
        img {
            width: 100%;
            height: 100%;
        }
        .btn-play {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -36px;
            margin-top: -36px;
            cursor: pointer;
            img {
                width: px2vw-xl(75px);
                height: px2vw-xl(75px);
                @include xxl {
                    width: px2vw-xxl(75px);
                    height: px2vw-xxl(75px);
                }
                @include lg {
                    width: px2vw-lg(75px);
                    height: px2vw-lg(75px);
                }
                @include md {
                    width: px2vw-md(75px);
                    height: px2vw-md(75px);
                }
                @include sm {
                    width: px2vw-sm(75px);
                    height: px2vw-sm(75px);
                }
            }
        }
    }
    &-text-sect {
        display: flex;
        align-items: flex-start;
        margin-top: px2vw-xl(12px);
        @include xxl {
            margin-top: px2vw-xxl(12px);
        }
        @include lg {
            margin-top: px2vw-lg(12px);
        }
        @include md {
            margin-top: px2vw-md(12px);
        }
        @include sm {
            margin-top: px2vw-sm(12px);
        }
        img {
            width: px2vw-xl(33px);
            height: px2vw-xl(33px);
            @include xxl {
                width: px2vw-xxl(33px);
                height: px2vw-xxl(33px);
            }
            @include lg {
                width: px2vw-lg(33px);
                height: px2vw-lg(33px);
            }
            @include md {
                width: px2vw-md(33px);
                height: px2vw-md(33px);
            }
            @include sm {
                width: px2vw-sm(33px);
                height: px2vw-sm(33px);
            }
        }
        .text-col {
            margin-left: px2vw-xl(10px);
            font-weight: 500;
            font-size: px2vw-xl(14px);
            line-height: px2vw-xl(20px);
            letter-spacing: 0.25px;
            color: var(--white-medium);
            font-family: "maxis-semibold";
            @include xxl {
                margin-left: px2vw-xxl(10px);
                font-size: px2vw-xxl(14px);
                line-height: px2vw-xxl(20px);
            }
            @include lg {
                margin-left: px2vw-lg(10px);
                font-size: px2vw-lg(14px);
                line-height: px2vw-lg(20px);
            }
            @include md {
                margin-left: px2vw-md(10px);
                font-size: px2vw-md(14px);
                line-height: px2vw-md(20px);
            }
            @include sm {
                margin-left: px2vw-sm(10px);
                font-size: px2vw-sm(14px);
                line-height: px2vw-sm(20px);
            }
            h4 {
                font-weight: bold;
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(19px);
                letter-spacing: 0.15px;
                color: var(--white-high);
                font-family: "maxis-bold";
                margin-bottom: px2vw-xl(3px);
                width: 80%;
                @include xxl {
                    font-size: px2vw-xxl(16px);
                    line-height: px2vw-xxl(19px);
                    margin-bottom: px2vw-xxl(3px);
                }
                @include lg {
                    font-size: px2vw-lg(16px);
                    line-height: px2vw-lg(19px);
                    margin-bottom: px2vw-lg(3px);
                }
                @include md {
                    font-size: px2vw-md(16px);
                    line-height: px2vw-md(19px);
                    margin-bottom: px2vw-md(3px);
                }
                @include sm {
                    font-size: px2vw-sm(16px);
                    line-height: px2vw-sm(19px);
                    margin-bottom: px2vw-sm(3px);
                    width: 100%;
                }
            }
        }
    }
}

.latest-news {
    padding: px2vw-xl(72px) px2vw-xl(0px);
    background: url(../../../../assets/images/News/news-bg.svg) no-repeat 100% -66px;
    @include xxl {
        padding: px2vw-xxl(72px) px2vw-xxl(0px);
    }
    @include lg {
        padding: px2vw-lg(72px) px2vw-lg(0px);
    }
    @include md {
        padding: px2vw-md(72px) px2vw-md(0px);
    }
    @include sm {
        padding: px2vw-sm(72px) px2vw-sm(0px);
    }
    h3 {
        @extend %global-H4;
        text-transform: capitalize;
    }

    hr {
        border-top: 1px solid var(--white-light);
        margin-bottom: 0px;
    }
    &-row {
        padding: px2vw-xl(22px) px2vw-xl(0px);
        display: flex;
        border-bottom: 1px solid var(--white-light);
        @include xxl {
            padding: px2vw-xxl(22px) px2vw-xxl(0px);
        }
        @include lg {
            padding: px2vw-lg(22px) px2vw-lg(0px);
        }
        @include md {
            padding: px2vw-md(22px) px2vw-md(0px);
        }
        @include sm {
            padding: px2vw-sm(22px) px2vw-sm(0px);
            flex-direction: column;
        }
    }
    &-row-img {
        width: px2vw-xl(357px);
        height: px2vw-xl(168px);
        @include xxl {
            width: px2vw-xxl(357px);
            height: px2vw-xxl(168px);
        }
        @include lg {
            width: px2vw-lg(357px);
            height: px2vw-lg(168px);
        }
        @include md {
            width: px2vw-md(357px);
            height: px2vw-md(168px);
        }
        @include sm {
            width: 100%;
            height: px2vw-sm(304px);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
    &-row-details {
        margin-left: px2vw-xl(24px);
        padding-right: px2vw-xl(22px);
        flex: auto;
        width: 89%;
        @include xxl {
            margin-left: px2vw-xxl(24px);
            padding-right: px2vw-xxl(22px);
        }
        @include lg {
            margin-left: px2vw-lg(24px);
            padding-right: px2vw-lg(22px);
        }
        @include md {
            margin-left: px2vw-md(24px);
            padding-right: px2vw-md(22px);
        }
        @include sm {
            margin-left: px2vw-sm(0px);
            padding-right: 0;
            margin-top: px2vw-sm(24px);
            width: 100%;
        }

        h2 {
            font-family: "maxis-bold";
            font-weight: normal;
            font-size: px2vw-xl(24px);
            line-height: px2vw-xl(26px);
            letter-spacing: 0.15px;
            color: var(--white-high);
            margin-bottom: px2vw-xl(12px);
            max-width: 65%;
            word-break: break-all;
            @include xxl {
                font-size: px2vw-xxl(24px);
                line-height: px2vw-xxl(26px);
                margin-bottom: px2vw-xxl(12px);
            }
            @include lg {
                font-size: px2vw-lg(24px);
                line-height: px2vw-lg(26px);
                margin-bottom: px2vw-lg(12px);
            }
            @include md {
                font-size: px2vw-md(24px);
                line-height: px2vw-md(26px);
                margin-bottom: px2vw-md(12px);
            }
            @include sm {
                font-size: px2vw-sm(18px);
                line-height: px2vw-sm(26px);
                margin-bottom: px2vw-sm(12px);
                max-width: 100%;
            }
        }
        p {
            font-size: px2vw-xl(14px);
            line-height: px2vw-xl(20px);
            letter-spacing: 0.25px;
            color: var(--white-medium);
            font-family: "maxis-semibold";
            max-width: 65%;
            word-break: break-all;
            @include xxl {
                font-size: px2vw-xxl(14px);
                line-height: px2vw-xxl(20px);
            }
            @include lg {
                font-size: px2vw-lg(14px);
                line-height: px2vw-lg(20px);
            }
            @include md {
                font-size: px2vw-md(14px);
                line-height: px2vw-md(20px);
            }
            @include sm {
                font-size: px2vw-sm(16px);
                line-height: px2vw-sm(20px);
                max-width: 100%;
            }
        }

        .by-share-sect {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: px2vw-xl(21px);
            @include xxl {
                margin-top: px2vw-xxl(21px);
            }
            @include lg {
                margin-top: px2vw-lg(21px);
            }
            @include md {
                margin-top: px2vw-md(21px);
                align-items: flex-start;
                flex-direction: column;
            }
            @include sm {
                margin-top: px2vw-sm(21px);
            }
            .date-sec {
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(24px);
                letter-spacing: 0.15px;
                color: var(--white-medium);
                font-family: "maxis-bold";
                display: flex;
                white-space: pre;
                @include xxl {
                    font-size: px2vw-xxl(16px);
                    line-height: px2vw-xxl(24px);
                }
                @include lg {
                    font-size: px2vw-lg(16px);
                    line-height: px2vw-lg(24px);
                }
                @include md {
                    font-size: px2vw-md(16px);
                    line-height: px2vw-md(24px);
                }
                @include sm {
                    font-size: px2vw-sm(16px);
                    line-height: px2vw-sm(24px);
                }
                .news-auth-det {
                    display: inline-block;
                    margin: px2vw-xl(0px) px2vw-xl(5px);
                    max-width: px2vw-xl(150px);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    @include xxl {
                        margin: px2vw-xxl(0px) px2vw-xxl(5px);
                        max-width: px2vw-xxl(150px);
                    }
                    @include lg {
                        margin: px2vw-lg(0px) px2vw-lg(5px);
                        max-width: px2vw-lg(150px);
                    }
                    @include md {
                        margin: px2vw-md(0px) px2vw-md(5px);
                        max-width: px2vw-md(150px);
                    }
                    @include sm {
                        margin: px2vw-sm(0px) px2vw-sm(5px);
                        max-width: px2vw-sm(150px);
                    }
                }
                .news-type {
                    font-weight: normal;
                    font-size: px2vw-xl(10px);
                    line-height: px2vw-xl(16px);
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: var(--color_skyblue);
                    margin-left: px2vw-xl(16px);
                    display: flex;
                    align-items: center;
                    @include xxl {
                        font-size: px2vw-xxl(10px);
                        line-height: px2vw-xxl(16px);
                        margin-left: px2vw-xxl(16px);
                    }
                    @include lg {
                        font-size: px2vw-lg(10px);
                        line-height: px2vw-lg(16px);
                        margin-left: px2vw-lg(16px);
                    }
                    @include md {
                        font-size: px2vw-md(10px);
                        line-height: px2vw-md(16px);
                        margin-left: px2vw-md(16px);
                    }
                    @include sm {
                        font-size: px2vw-sm(10px);
                        line-height: px2vw-sm(16px);
                        margin-left: px2vw-sm(16px);
                    }
                    img {
                        margin-right: px2vw-xl(4px);
                        @include xxl {
                            margin-right: px2vw-xxl(4px);
                        }
                        @include lg {
                            margin-right: px2vw-lg(4px);
                        }
                        @include md {
                            margin-right: px2vw-md(4px);
                        }
                        @include sm {
                            margin-right: px2vw-sm(4px);
                        }
                    }
                }
            }
            .share-btn-sect {
                display: flex;
                margin-left: px2vw-xl(8px);
                width: 100%;
                justify-content: space-between;
                @include xxl {
                    margin-left: px2vw-xxl(8px);
                }
                @include lg {
                    margin-left: px2vw-lg(8px);
                }
                @include md {
                    margin-left: 0;
                    margin-top: px2vw-md(10px);
                }
                @include sm {
                    margin-left: 0;
                    margin-top: px2vw-sm(5px);
                }
                .news-type {
                    color: var(--color-lgh-blue2);
                }
                img {
                    width: px2vw-xl(24px);
                    height: px2vw-xl(24px);
                    cursor: pointer;
                    @include xxl {
                        width: px2vw-xxl(24px);
                        height: px2vw-xxl(24px);
                    }
                    @include lg {
                        width: px2vw-lg(24px);
                        height: px2vw-lg(24px);
                    }
                    @include md {
                        width: px2vw-md(24px);
                        height: px2vw-md(24px);
                    }
                    @include sm {
                        width: px2vw-sm(16px);
                        height: px2vw-sm(16px);
                    }
                }
            }
        }
    }
}
.w-100 {
    width: 100% !important;
}
