@import "shared";

:host {
  display: block;
}

.ViewArticleV2 {  
  padding-bottom:px2vw-xl(149px);

  @include lg {
    padding-bottom: px2vw-lg(149px);
  }

  @include md {
    padding-bottom: px2vw-md(149px);
  }

  @include sm {
     padding-bottom: px2vw-sm(149px);
  }

  &-top {
    position: relative;

    &-jumbotron {
      margin-bottom: px2vw-xl(37px);

      @include lg {
        order: 3;
        margin-bottom: px2vw-lg(37px);
      }

      @include md {
        margin-bottom: px2vw-md(37px);
      }

      @include sm {
        margin-bottom: px2vw-sm(37px);
      }
    }
  }

  &-trending {
    padding: px2vw-xl(56px) 0 px2vw-xl(113px);

    @include lg {
      padding: px2vw-lg(50px) 0;
    }

    @include md {
      padding: px2vw-md(50px) 0;
    }

    @include sm {
      padding: px2vw-sm(50px) 0;
    }

    &-title {
      margin-bottom: px2vw-xl(55px);
      text-align: center;
      position: relative;

      @include lg {
        margin-bottom: px2vw-lg(55px);
      }

      @include md {
        margin-bottom: px2vw-md(55px);
      }

      @include sm {
        margin-bottom: px2vw-sm(55px);
      }
    }

    &-cards {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-xl(20px);
      grid-row-gap: px2vw-xl(20px);
      padding-bottom: px2vw-xl(72px);

      @include lg {
        grid-column-gap: px2vw-lg(10px);
        grid-row-gap: px2vw-lg(20px);
        padding-bottom: px2vw-lg(72px);
      }

      @include md {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-column-gap: px2vw-md(10px);
        grid-row-gap: px2vw-md(10px);
        padding-bottom: px2vw-md(72px);
      }

      @include sm {
        grid-column-gap: px2vw-sm(10px);
        grid-row-gap: px2vw-sm(10px);
        padding-bottom: px2vw-sm(72px);
      }

      app-article-item {
        width: 100%;
      }
    }
  }

  &-back {
    @extend %global-Text;
    @extend %u-dfCenterBtw;
    z-index: 1;
    font-family: "stc-forward-light", sans-serif;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include sm {
      display: none;
    }

    img {
      margin-right: 16px;
      margin-bottom: 2px;
    }
  }
}
