<div class="ct-HeaderTop">
  <div class="SelectGame">
    <div class="SelectGame-container">
      <h2 class="SelectGame-title global-Title3">
        {{ "CREATE_TOURNAMENT.SELECT_GAME.TITLE" | translate }}
      </h2>
      <p class="SelectGame-subtitle mb-hide">
        {{ "CREATE_TOURNAMENT.SELECT_GAME.SUBTITLE" | translate }}
      </p>
      <div class="SelectGame-search">
        <input [placeholder]="            'CREATE_TOURNAMENT.SELECT_GAME.SEARCH_PLACEHOLDER' | translate
          " [(ngModel)]="text" (onTextChange)="onTextChange($event)" class="game-salect-search" />
          <span class="search-icon"><img src="../../../../../assets/icons/create-tournament/icon-Search.png"></span>
      </div>
      <ul *ngIf="games.length" class="SelectGame-list">
        <ng-container *ngFor="let game of filterGame();">
          <li class="SelectGame-item" [class.is-active]="game?._id === isSelectedGameId">
            <div class="SelectGame-card-image-block image-block" (click)="onSelectGame(game)">
              <div class="SelectGame-card-image">
                <img class="SelectGame-item-image image" [src]="game.image" [alt]="game.name"  />
                <span class="icon">
                  <mat-icon class="SelectGame-card-selected-icon">
                    done
                  </mat-icon>
                </span>
              </div>
            </div>
            <p class="SelectGame-item-name name global-Text">
              {{ game.name }}
            </p>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<footer class="footers-selection">
  <div class="inner">
    <div class="box-item box-item-left">
      <div class="wap-step">
       {{ "CREATE_TOURNAMENT.STEPONE" | translate }}
      </div>
      <div class="progressBarContainer mb-hide">
        <div class="app-progressBar">
          <ul class="lists">
            <li class="item active"></li>
            <li class="item"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-item box-item-right">
      <button class="selectgame-button button-primary" [disabled]="!isSelectedGameId" (click)="next()">Next</button>
    </div>
  </div>
</footer>
