
<div *ngIf="data" class="CardItem" [class.active]="data?.is_selected" [class.isGame]="isImage" (click)="onSelect()">
  <div class="CardItem-icon-block icon-block">
    <div *ngIf="isIcon" class="CardItem-icon icon" [class]="data.name|lowercase" [inlineSVG]="getIcon(data.name)"></div>
    <img class="ProfileSettings-card-image" *ngIf="isImage" style="height: 80px;width:80px;" [lazyLoad]="data.image" />
  </div>
  <p class="CardItem-label label " style="word-wrap: normal;"> {{ data.name| capitalizeFirst }}</p>
</div>
