@import "shared";

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid var(--white-light);
  background: var(--gradient-bg);
}

section.ss-header-page {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--white);
  width: 100%;
  border-bottom: 1px solid var(--tolopea-medium-color);
  font-family: "Avenir Next" !important;
  .inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding: 0 40px 0 32px;
    min-height: 80px;
    @include lg {
      min-height: 70px;
    }
    @include md {
      min-height: 64px;
      padding: 0 25px;
    }

    a.btn-back {
      width: 48px;
      height: 48px;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      border: 2px solid var(--secondary-color);
      border-radius: 100%;
      padding: 0;
      @include lg {
        width: 35px;
        height: 35px;
      }
      @include md {
        width: 20px;
        height: 20px;
        border: none;
        img {
          width: 100%;
        }
      }
      &.m-first-step {
        display: none;
        @include sm {
          display: inline-flex;
        }
      }
      .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
    .box-center {
      padding: 0 76px 0 0;
      @include sm {
        padding: 0 0 0 0;
      }
      h2 {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--blackcurrant-color-medium);
        margin-bottom: 0;
      }
    }
    .box-right {
      min-width: 48px;
      @include sm {
        min-width: 81px;
        text-align: right;
      }
      .btn-close {
        width: 48px;
        height: 48px;
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--secondary-color);
        border-radius: 100%;
        padding: 0;
        @include lg {
          width: 35px;
          height: 35px;
        }
        @include md {
          width: 20px;
          height: 20px;
          border: none;
          img {
            width: 100%;
          }
        }
        .icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .box-left {
      min-width: 123px;
      text-align: right;
      .img-logo {
        img {
          @include sm {
            width: 81px;
          }
        }
      }
      @include sm {
        min-width: 81px;
      }
    }
  }
}
