<header class="HeaderSpark">
  <section class="ss-header-page">
    <div class="full-container">
      <div class="wrapper">
        <div class="inner">
          <div class="box-left">
            <a class="link-to logo-link" [routerLink]="AppHtmlRoutes.home">
              <div class="img-logo" id="Logo" inlineSVG="assets/images/LogReg/Logo-login.svg"></div>
            </a>
            <!-- <div class="mb-show">
              <a class="btn btn-back">
                <span class="icon">
                  <img
                    src="../../../../assets/images/Tournament/arrow-pre.png"
                    alt=""
                  />
                </span>
              </a>
            </div> -->
          </div>
          <div class="box-center">
            <h2 class="title" *ngIf="checkReg">
              {{ "LOG_REG.HEADING.HEADING_REG" | translate }}
            </h2>
            <h2 class="title" *ngIf="!checkReg">
              {{ "LOG_REG.HEADING.HEADING_LOG" | translate }}
            </h2>
          </div>
          <div class="box-right">
            <a (click)="goToLandingPage()" class="btn btn-close">
              <span class="icon">
                <img src="../../../../assets/icons/create-tournament/Icon.png" alt="" />
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
