@import "shared";

:host {
  @extend %u-dfStretch;
  padding-top: px2vw-xl(24px);
  padding-bottom: px2vw-xl(10px);
  height: 100%;

  @include xl {
    padding-top: px2vw-xl(24px);
    padding-bottom: px2vw-xl(10px);
  }

  @include lg {
    padding-top: px2vw-lg(24px);
    padding-bottom: px2vw-lg(10px);
  }

  @include md {
    padding-top: px2vw-md(24px);
    padding-bottom: px2vw-md(10px);
  }

  @include sm {
    padding-top: px2vw-sm(24px);
    padding-bottom: px2vw-sm(10px);
  }
}

.SelectPlatform-aside {
  padding-top: px2vw-xl(25px);
  flex-shrink: 0;
  margin-right: px2vw-xl(15px);

  @include xl {
    margin-right: px2vw-xl(15px);
  }

  @include lg {
    margin-right: px2vw-lg(15px);
  }

  @include md {
    margin-right: px2vw-md(15px);
  }

  @include sm {
    margin-right: px2vw-sm(15px);
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    height: px2vw-xl(56px);
    width: px2vw-xl(97px);

    @include xl {
      height: px2vw-xl(56px);
      width: px2vw-xl(97px);
    }

    @include lg {
      height: px2vw-lg(56px);
      width: px2vw-lg(97px);
    }

    @include md {
      height: px2vw-md(56px);
      width: px2vw-md(97px);
    }

    @include sm {
      height: px2vw-sm(56px);
      width: px2vw-sm(97px);
    }
  }

  &-icon {
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);

    @include xl {
      height: px2vw-xl(32px);
      width: px2vw-xl(32px);
    }

    @include lg {
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }
}

.SelectPlatform-main {
  @extend %u-dfStart;
  flex-direction: column;
  max-width: px2vw-xl(666px);
  padding-top: px2vw-xl(58px);
  padding-bottom: px2vw-xl(164px);
  padding-left: px2vw-xl(30px);
  padding-right: px2vw-xl(30px);
  margin: 0 auto;
  width: 100%;
  @include sm{
    max-width: 100%;
  }
}

.SelectPlatform-header {
  margin-bottom: px2vw-xl(30px);
  @include xl {
    margin-bottom: px2vw-xl(30px);
  }

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(16px);
    color: var(--white);
    text-transform: capitalize;
    //styleName: 💻 Desktop/Header S;
    font-family: "Paralucent-Demi", sans-serif;
    font-size: px2vw-xl(40px);
    font-style: normal;
    font-weight: 600;
    line-height: px2vw-xl(48px);
    letter-spacing: 0.5px;
    text-align: left;


    @include xl {
      margin-bottom: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }
  }

  &-subtitle {
    @extend %subtitle-1;
    margin-bottom: 0;
  }
}

.SelectPlatform-items {
  margin-bottom: px2vw-xl(32px);
  width: 100%;

  @include xl {
    margin-bottom: px2vw-xl(32px);
  }

  @include lg {
    margin-bottom: px2vw-lg(32px);
  }

  @include md {
    margin-bottom: px2vw-md(32px);
  }

  @include sm {
    margin-bottom: px2vw-sm(32px);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-block {
    margin-bottom: px2vw-xl(50px);

    @include xl {
      margin-bottom: px2vw-xl(50px);
    }

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-title {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    //styleName: 💻 Desktop/Body S Demi;
    font-family: "Paralucent-Demi", sans-serif;
    font-size: px2vw-xl(16px);
    font-style: normal;
    font-weight: 600;
    line-height: px2vw-xl(24px);
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--txt-secondry-active);

    @include xl {
      margin-bottom: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }

  &-cards {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 208px);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
      grid-row-gap: px2vw-xl(16px);

    @include lg {
      grid-template-columns: repeat(3, px2vw-lg(208px));
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
    }

    @include md {
      grid-template-columns: repeat(3, px2vw-md(208px));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      grid-template-columns: repeat(2, 46.347245vw);
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(16px);
    }
  }

  &-card {
    @extend %u-dfCenter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: px2vw-xl(32px) 0px;
    width: px2vw-xl(189px);
    height: px2vw-xl(132px);
    background: var(--color-secondary-disabled);
    cursor: pointer;
/* Grey colours/Wet Clay */
    border: px2vw-xl(2px) solid var(--color-secondary);
    box-sizing: border-box;
    border-radius: px2vw-xl(8px);
    transition: $global-transition2;


    @include lg {
      border-radius: px2vw-lg(4px);
      border-width: px2vw-lg(1px);
      padding: px2vw-lg(16px);
      width: px2vw-lg(189px);
    height: px2vw-lg(132px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      border-width: px2vw-md(1px);
      padding: px2vw-md(16px);
      width: px2vw-md(189px);
      height: px2vw-md(132px);
    }

    @include sm {
      border-radius: px2vw-sm(8px);
      border-width: px2vw-sm(1px);
      padding: px2vw-sm(16px);
      width: 46.876461vw;
      height: 29.69783vw;
    }

    
    &.active {
      
      background-color: var(--txt-secondry-border);

      .card-icon ::ng-deep svg path {
        fill: var(--white);
      }

      .card-name {
        color: var(--white);
      }
    }
  }

  &-card-icon-block {
    @extend %u-dfCenterCenter;
    height: px2vw-xl(52px);
      width: px2vw-xl(100px);

    @include xl {
      height: px2vw-xl(52px);
      width: px2vw-xl(100px);
    }

    @include lg {
      height: px2vw-lg(52px);
      width: px2vw-lg(100px);
    }

    @include md {
      height: px2vw-md(52px);
      width: px2vw-md(100px);
    }

    @include sm {
      height: px2vw-sm(52px);
      width: px2vw-sm(100px);
    }
  }

  &-card-icon {
    ::ng-deep svg path {
      transition: $global-transition2;
    }

    &.pc ::ng-deep svg {
      height: px2vw-xl(32px);
        width: px2vw-xl(52.77px);

      @include xl {
        height: px2vw-xl(32px);
        width: px2vw-xl(52.77px);
      }

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(52.77px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(52.77px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(52.77px);
      }
    }

    &.console ::ng-deep svg {
      height: px2vw-xl(32px);
        width: px2vw-xl(45.71px);

      @include xl {
        height: px2vw-xl(32px);
        width: px2vw-xl(45.71px);
      }

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(45.71px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(45.71px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(45.71px);
      }
    }

    &.mobile ::ng-deep svg {
      height: px2vw-xl(16px);
      width: px2vw-xl(28px);

      

      @include lg {
        height: px2vw-lg(37px);
        width: px2vw-lg(21px);
      }

      @include md {
        height: px2vw-md(37px);
        width: px2vw-md(21px);
      }

      @include sm {
        height: px2vw-sm(37px);
        width: px2vw-sm(50px);
      }
    }

    &.individual ::ng-deep svg {
      height: px2vw-xl(26px);
      width: px2vw-xl(22px);

      @include lg {
        height: px2vw-lg(35px);
        width: px2vw-lg(31px);
      }

      @include md {
        height: px2vw-md(35px);
        width: px2vw-md(31px);
      }

      @include sm {
        height: px2vw-sm(35px);
        width: px2vw-sm(31px);
      }
    }

    &.team ::ng-deep svg {
      height: px2vw-xl(18.67px);
        width: px2vw-xl(29.33px);

      

      @include lg {
        height: px2vw-lg(35px);
        width: px2vw-lg(63px);
      }

      @include md {
        height: px2vw-md(35px);
        width: px2vw-md(63px);
      }

      @include sm {
        height: px2vw-sm(35px);
        width: px2vw-sm(63px);
      }
    }
  }

  &-card-name {
    @extend %body-2;
    //styleName: 💻 Desktop/Body S Demi;
    font-family: "Paralucent-Demi", sans-serif;
    font-size: px2vw-xl(16px);
    font-style: normal;
    font-weight: 600;
    line-height: px2vw-xl(24px);
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--white);
    margin-top: px2vw-xl(10px);
    @include lg {
      margin-top: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      line-height: px2vw-sm(24px);
      font-size: px2vw-sm(16px);
    }
  }
}

.SelectPlatform-buttons {
  @extend %u-dfCenter;
  margin-top: auto;
}

.SelectPlatform-button {
  margin-right: px2vw-xl(8px);

  

  @include lg {
    margin-right: px2vw-lg(8px);
  }

  @include md {
    margin-right: px2vw-md(8px);
  }

  @include sm {
    margin-right: px2vw-sm(8px);
  }

  &:last-child {
    margin-right: 0;
  }
}
::ng-deep .SelectPlatform-aside{
  display: none;
}

.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.2008005337vw 1.6010673783vw;
}
.box-item-left{
  justify-content: flex-start;
  @include sm{
    justify-content: center;
  }
}
.box-item{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 50%;
  @include sm{
    max-width: 100%;
  }
}
.box-item-right{
  justify-content: flex-end;
  @include sm{
    justify-content: center;
  }
}

.selectgame-button:last-child{
margin-right: 0;
  border-radius: 0.4002668446vw;
  box-shadow: none;
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-white-medium);
  width: px2vw-xl(163px);
  height: px2vw-xl(48px);

  @include lg{
    width: px2vw-lg(163px);
    height: px2vw-lg(48px);
  }
  @include lg{
    width: px2vw-md(327px);
    height: px2vw-md(48px);
  }
  @include sm{
      width: 100%;
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      padding: px2vw-sm(13px) 0;
  }
}
.progressBarContainer ul.lists {
display: inline-flex;
justify-content: space-between;
align-items: center;
width: 100%;
margin: 0;
padding: 0;
}
.box-item .wap-step{
  font-family: "Paralucent-Demi", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9339559706vw;
  line-height: 1.3342228152vw;
  color: var(--white);
  margin-right: 1.0673782522vw;
  @include sm{
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(20px);
    margin:px2vw-sm(10px) 0;
  }
}
.progressBarContainer ul.lists li.item:first-child {
border-radius: 0.4002668446vw 0px 0px 0.4002668446vw;
}
.progressBarContainer ul.lists li.item:last-child {
background: var(--color-secondary);
border-radius: 0px px2vw-xl(6px) px2vw-xl(6px) 0px;
}
.progressBarContainer ul.lists li.item.active {
background: var(--txt-secondry-border);
}
.progressBarContainer ul.lists li.item {
width: 100%;
max-width: calc(100% / 2 - 3px);
height: 0.8005336891vw;
background: var(--tertiary-color);
}
.progressBarContainer{
  width: 100%;
  max-width: 9.1394262842vw;
}
.footers-selection{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--color-secondary-disabled);
  z-index: 9;
}
@include sm{
  ::ng-deep .side_ttl_bg{
    display: none!important;
  }
}
