@import "shared";
.platform-fee {
  margin-top: px2vw-xl(100px);
  @include lg {
    margin-top: px2vw-lg(100px);
  }
  @include md {
    margin-top: px2vw-md(100px);
  }
  @include sm {
    margin-top: px2vw-sm(100px);
  }
}
