@import "shared";

.form-group {
  position: relative;
  margin: 0;

  .labeltext {
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 5px;
    margin: 0;
    background-color: var(--base-white);
    padding: 0 10px 0 5px;
    font-family: "stc-forward-regular", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: var(--base-black-pearl);
    transition: all 0.3s;
  }

  .form-control:focus ~ .labeltext,
  .labeltext.active {
    z-index: 2;
    top: -25px;
    left: -5px;
    color: var(--base-submarine);
    @include lg{
      background-color: transparent;
    }
  }

  @include sm {
    .labeltext {
      font-size: 12px;
    }
  }

  @include md {
    .labeltext {
      font-size: 12px;
    }
  }

  @include lg {
    .labeltext {
      font-size: 12px;
    }
  }
}

textarea {
  border-radius: 5px !important;
  margin-bottom: 5px !important;
}

.dropdown-item,
.selected-tags span {
  color: var(--base-black-pearl) !important;
}

.selected-tags {
  border-radius: 28px;
  text-align: center;
  padding: 0.3em 1em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 400;
  background: transparent;
  border: 1px solid var(--ui-dim-gray);
  width: auto !important;
}

.btn-align {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  padding-bottom: 139px;
  margin-top: 50px;

  button:first-child {
    margin-right: 44px;
  }
}

.form-container {
  background: transparent !important;
  padding: 0 !important;

  > .row {
    margin-bottom: 48px;
  }
}

.add-section {
  max-width: 1140px;
  margin: auto;
  padding: 0 !important;
  padding-top: 129px !important;
}

section {
  min-height: 100vh;
}

.form-group {
  &.form-select {
    .form-control {
      width: 100%;
      text-align: left;
      font-size: 16px;
      line-height: 21px;
      color: rgba(245, 245, 245, 0.6);

      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      left: auto !important;
      box-shadow: 4px 4px 6px var(--base-black);
      overflow-x: auto;
      max-height: 198px;
      width: 100%;
      padding: 21px 0 17px;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: rgba(112, 112, 112, 0.6);
        height: 10px;
      }

      button {
        border-bottom: 0.5px solid var(--ui-dim-gray);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        font-size: 16px;
        line-height: 21px;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }

        &:hover,
        &:active,
        &:focus {
          background: transparent;
        }
      }
    }

    .row {
      margin-bottom: 0 !important;
      padding-left: 23px;

      .selected-tags {
        align-items: center;
        margin: 0;
        margin-right: 30px;
        margin-top: 18px;
        border: 1px solid var(--base-white);
        border-radius: 23px;
        font-family: "stc-forward-light" !important;
        padding: 5px 17px;

        &:last-child {
          margin-right: 0;
        }

        span:last-child {
          margin-left: 12px;
        }
      }
    }
  }
}

.edit-icon {
  position: absolute;
  right: 15px;
  top: 10px;

  cursor: pointer;
  z-index: 9;

  img {
    width: 15px;
  }
}

.dropdown-language {
  margin-bottom: 15px;
  width: 120px;
  float: right;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  section {
    .add-section {
      max-width: 960px;
    }

    .form-group {
      .labeltext {
        font-size: 14px;
        line-height: normal;
      }

      &.form-select {
        .form-control {
          font-size: 14px;
          line-height: normal;
        }

        &:before {
          width: 10px;
          height: 7px;
          top: 14px;
          background-size: cover;
        }

        .dropdown-menu {
          padding: 14px 0 14px;
          max-height: 158px;

          button {
            font-size: 14px;
            line-height: normal;
          }
        }
      }
    }

    .btn-align {
      button {
        font-size: 14px;

        &:first-child {
          margin-right: 22px;
        }
      }
    }

    .form-container > .row {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .add-section {
    padding-top: 50px !important;

    .form-container {
      > .row {
        margin-bottom: 25px;

        &:not(:nth-child(2)) {
          > div:not(:last-child) {
            margin-bottom: 25px;
          }
        }

        .row {
          .error {
            left: 20px;
          }

          .selected-tags {
            padding: 5px 10px;
            margin-right: 15px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .btn-align {
    padding: 0 20px;
    justify-content: space-around;

    button {
      margin: 0 !important;
      font-size: 14px;
      padding: 10px 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .add-section {
    padding-top: 50px !important;
    max-width: 720px;

    .form-container {
      > .row {
        margin-bottom: 25px;

        .row {
          .error {
            left: 20px;
          }

          .selected-tags {
            padding: 5px 10px;
            margin-right: 15px;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .btn-align {
    padding: 0 20px;
  }
}
