@import "shared";

$--Pagination-border-color: rgba(255, 255, 255, 0.2);
$--Pagination-background-color: #151515;
$--LeaderBoardPlayer-sectionB-card-border-color: #000;
$--LeaderBoardPlayer-sectionB-card-background-color: #171717;

:host {
  .mat-menu-content:not(:empty) {
    max-height: 100px !important;
  }
}

.Leaderboard-sectionA {
  padding: px2vw-xl(220px) 0 px2vw-xl(356px);
  background-size: cover;
  background-position: center;

  @include lg {
    padding-top: px2vw-lg(220px);
    padding-bottom: px2vw-lg(356px);
  }

  @include md {
    padding-top: px2vw-md(160px);
    padding-bottom: px2vw-md(300px);
  }

  @include sm {
    padding-top: px2vw-sm(160px);
    padding-bottom: px2vw-sm(356px);
  }

  &-title {
    margin-bottom: 0;
  }
}

.Leaderboard-sectionB {
  position: relative;
  height: px2vw-xl(200px);

  @include lg {
    height: px2vw-lg(200px);
  }

  @include md {
    height: px2vw-md(200px);
  }

  @include sm {
    height: px2vw-sm(200px);
  }

  .u-wp {
    position: absolute;
    top: -70%;
    right: 0;
    left: 0;
  }

  &-title {
    margin-bottom: px2vw-xl(40px);
    text-transform: uppercase;
    font-family: "HKGrotesk", sans-serif;
    font-size: px2vw-xl(21px);
    line-height: px2vw-xl(27px);
    color: #fff;

    @include lg {
      margin-bottom: px2vw-lg(40px);
      font-size: px2vw-lg(21px);
      line-height: px2vw-lg(27px);
    }

    @include md {
      text-align: center;
      margin-bottom: px2vw-md(40px);
      font-size: px2vw-md(21px);
      line-height: px2vw-md(27px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
      font-size: px2vw-sm(21px);
      line-height: px2vw-sm(27px);
    }
  }

  &-cards {
    display: block;
    position: relative;
  }

  &-card {
    @include btnEvents();
    @extend %u-dfCenterCenter;
    width: px2vw-xl(185px);
    height: px2vw-xl(185px);
    border-radius: px2vw-xl(4px);
    background: #171616;
    // background: none;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;

    @include lg {
      min-width: px2vw-lg(180px);
      width: px2vw-lg(185px);
      height: px2vw-lg(185px);
      border-radius: px2vw-lg(4px);
    }

    @include md {
      min-width: px2vw-md(180px);
      width: px2vw-md(185px);
      height: px2vw-md(185px);
      border-radius: px2vw-md(4px);
    }

    @include sm {
      min-width: px2vw-sm(180px);
      width: px2vw-sm(185px);
      height: px2vw-sm(185px);
      border-radius: px2vw-sm(4px);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    span {
      font-size: px2vw-xl(16px);
      padding: px2vw-xl(14px) 0;
      font-family: "dynasty-primary-semibold", sans-serif;
      display: block;
      position: absolute;
      text-align: center;
      bottom: 0;
      left: 0;
      width: 100%;
      color: var(--whitecolor);
      background: rgba(23, 22, 22, 0.58);

      @include lg {
        font-size: px2vw-lg(16px);
        padding: px2vw-lg(14px) 0;
      }

      @include md {
        font-size: px2vw-md(16px);
        padding: px2vw-md(14px) 0;
      }

      @include sm {
        font-size: px2vw-sm(16px);
        padding: px2vw-sm(14px) 0;
      }
    }

    &.is-all {
      box-shadow: inset 0 0 0 4px var(--orange-color-main);

      @include lg {
        box-shadow: inset 0 0 0 px2vw-lg(4px) var(--orange-color-main);
      }

      @include md {
        box-shadow: inset 0 0 0 px2vw-md(4px) var(--orange-color-main);
      }

      @include sm {
        box-shadow: inset 0 0 0 px2vw-sm(4px) var(--orange-color-main);
      }
    }
  }

  ::ng-deep {
    .swiper-wrapper {
      height: auto !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: 100% !important;
      width: px2vw-xl(50px);

      &::after {
        color: transparent;
        width: px2vw-xl(12px);
        height: px2vw-xl(12px);
        display: inline-block;
        border-right: none !important;
        border-bottom: none !important;
        border: px2vw-xl(4px) solid #fff;

        @include lg {
          width: px2vw-lg(12px);
          height: px2vw-lg(12px);
          border-width: px2vw-lg(4px);
        }

        @include md {
          width: px2vw-md(12px);
          height: px2vw-md(12px);
          border-width: px2vw-md(4px);
        }

        @include sm {
          width: px2vw-sm(12px);
          height: px2vw-sm(12px);
          border-width: px2vw-sm(4px);
        }
      }

      &.swiper-button-disabled::after {
        border-color: var(--orange-color-main);
      }
    }

    .swiper-button-prev {
      &::after {
        transform: rotate(320deg);
        position: absolute;

        @include md {
          left: px2vw-md(10px);
        }

        @include sm {
          left: px2vw-sm(10px);
        }
      }
    }

    .swiper-button-next {
      &::after {
        position: absolute;
        right: px2vw-xl(10px);
        transform: rotate(135deg);

        @include lg {
          right: px2vw-lg(10px);
        }

        @include md {
          right: px2vw-md(10px);
        }

        @include sm {
          right: px2vw-sm(10px);
        }
      }
    }

    .swiper-slide {
      margin: 0 px2vw-xl(21px);
      width: px2vw-xl(180px);

      @include lg {
        margin: 0 px2vw-lg(19.5px);
        width: px2vw-lg(180px);
      }

      @include md {
        margin: 0 px2vw-md(22px);
        width: px2vw-md(180px);
      }

      @include sm {
        margin: 0 px2vw-sm(38px);
        width: px2vw-sm(160px);
      }

      &:first-child {
        margin-left: px2vw-xl(54px);

        @include lg {
          margin-left: px2vw-lg(40px);
        }

        @include md {
          margin-left: px2vw-md(40px);
        }

        @include sm {
          margin-left: px2vw-sm(40px);
        }
      }

      &:last-child {
        margin-right: px2vw-xl(54px);

        @include lg {
          margin-right: px2vw-lg(40px);
        }

        @include md {
          margin-right: px2vw-md(40px);
        }

        @include sm {
          margin-right: px2vw-sm(40px);
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .pagination {
      margin-bottom: 0;
    }

    .pagination-prev {
      padding: 0;
      border-top-left-radius: px2vw-xl(5px);
      border-bottom-left-radius: px2vw-xl(5px);
    }
    .pagination-next {
      padding: 0;
      border-top-right-radius: px2vw-xl(5px);
      border-bottom-right-radius: px2vw-xl(5px);
    }

    .page-item {
      padding: 0 !important;
    }

    .page-link {
      border: 2px solid #373737 !important;
      padding: 0 !important;
      background-color: #171616 !important;
      height: px2vw-xl(41px);
      width: px2vw-xl(41px);
      font-size: px2vw-xl(16px);
      line-height: 1.2;

      display: flex;
      align-items: center;
      justify-content: center;

      @include lg {
        height: px2vw-lg(41px);
        width: px2vw-lg(41px);
        font-size: px2vw-lg(16px);
      }

      @include md {
        height: px2vw-md(55px);
        width: px2vw-md(55px);
        font-size: px2vw-md(20px);
      }

      @include sm {
        height: px2vw-sm(55px);
        width: px2vw-sm(55px);
        font-size: px2vw-sm(20px);
      }
    }

    .page-item.active .page-link {
      z-index: 5;
      border-radius: 0;
      padding: 0 !important;
      border: 2px solid #373737 !important;
      color: var(--orange-color-main) !important;
      font-weight: 600;
    }

    .navigation-link {
      &:hover {
        border: none !important;
      }

      &::after {
        width: px2vw-xl(12px);
        height: px2vw-xl(12px);
        border-width: px2vw-xl(4px);

        @include lg {
          width: px2vw-lg(12px);
          height: px2vw-lg(12px);
          border-width: px2vw-lg(4px);
        }

        @include md {
          width: px2vw-md(12px);
          height: px2vw-md(12px);
          border-width: px2vw-md(4px);
        }

        @include sm {
          width: px2vw-sm(12px);
          height: px2vw-sm(12px);
          border-width: px2vw-sm(4px);
        }
      }

      &.is-prev {
        &::after {
          left: px2vw-xl(3px) !important;
        }
      }

      &.is-next {
        &::after {
          right: px2vw-xl(3px) !important;
        }
      }
    }
  }
}

.Leaderboard-sectionC {
  padding-bottom: px2vw-xl(35px);

  @include lg {
    padding-bottom: px2vw-lg(35px);
  }

  @include md {
    padding-bottom: px2vw-md(35px);
  }

  @include sm {
    padding-bottom: px2vw-sm(35px);
  }

  &-title {
    margin-bottom: px2vw-xl(64px);
    font-size: px2vw-xl(40px);
    line-height: px2vw-xl(43px);

    @include lg {
      margin-bottom: px2vw-lg(64px);
      font-size: px2vw-lg(40px);
      line-height: px2vw-lg(43px);
    }

    @include md {
      margin-bottom: px2vw-md(64px);
      font-size: px2vw-md(40px);
      line-height: px2vw-md(43px);
    }

    @include sm {
      margin-bottom: px2vw-sm(64px);
      font-size: px2vw-sm(40px);
      line-height: px2vw-sm(43px);
    }
  }

  &-header-button {
    position: relative;
    margin-left: px2vw-xl(24px);
    padding-right: 44px;
    border: 1px solid var(--orange-color-main);
    border-radius: 4px;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(21px);
    text-transform: uppercase;

    @include lg {
      margin-left: px2vw-lg(24px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(21px);
    }
    @include md {
      margin-left: auto;
      font-size: px2vw-md(16px);
      line-height: px2vw-md(21px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(21px);
    }

    &::after {
      position: absolute;
      content: "";
      top: 40%;
      right: 15px;
      width: px2vw-xl(9px);
      height: px2vw-xl(9px);
      transform: rotate(-45deg) translateY(-50%);
      background-color: transparent;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transition: all 100ms ease-in-out;

      @include lg {
        width: px2vw-lg(9px);
        height: px2vw-lg(9px);
      }
      @include md {
        width: px2vw-md(9px);
        height: px2vw-md(9px);
      }
      @include sm {
        width: px2vw-sm(9px);
        height: px2vw-sm(9px);
      }
    }

    &[aria-expanded="true"]::after {
      right: 18px;
      transform: rotate(140deg);
    }
  }
  &-header-menu {
  }
  &-header-menu-item {
  }

  &-cards {
    @include md {
      flex-direction: column;
    }
  }
}

.Leaderboard-sectionD {
  &-table {
    ::ng-deep {
      .datatable-body-row {
        border: none !important;
      }

      .datatable-player-name {
        display: flex;
        align-items: center;

        img {
          margin-right: px2vw-xl(15px);
          width: px2vw-xl(66px) !important;
          height: px2vw-xl(66px);
          object-fit: cover;

          @include lg {
            margin-right: px2vw-lg(15px);
            width: px2vw-lg(66px);
            min-width: px2vw-lg(66px);
            height: px2vw-lg(66px);
          }

          @include md {
            margin-right: px2vw-md(15px);
            width: px2vw-md(66px);
            min-width: px2vw-md(66px);
            height: px2vw-md(66px);
          }

          @include sm {
            margin-right: px2vw-sm(15px);
            width: px2vw-sm(66px);
            min-width: px2vw-sm(66px);
            height: px2vw-sm(66px);
          }
        }

        span {
          text-align: left;
        }
      }

      .datatable-body-cell-label {
        font-family: "dynasty-primary-regular", sans-serif;
        font-size: px2vw-xl(22px);
        line-height: px2vw-xl(29px);
        text-transform: capitalize !important;

        @include lg {
          font-size: px2vw-lg(20px);
          line-height: px2vw-lg(26px);
        }

        @include md {
          font-size: px2vw-md(20px);
          line-height: px2vw-md(26px);
        }

        @include sm {
          font-size: px2vw-sm(18px);
          line-height: px2vw-sm(24px);
        }
      }

      .datatable-row-odd {
        background: #0f0f0f;
      }

      .datatable-icon-left,
      .datatable-icon-right {
        width: px2vw-xl(12px) !important;
        height: px2vw-xl(12px) !important;
        border-left: px2vw-xl(4px) solid #fff !important;
        border-top: px2vw-xl(4px) solid #fff !important;

        @include lg {
          width: px2vw-lg(12px) !important;
          height: px2vw-lg(12px) !important;
          border-left-width: px2vw-lg(4px) !important;
          border-top-width: px2vw-lg(4px) !important;
        }

        @include md {
          width: px2vw-md(12px) !important;
          height: px2vw-md(12px) !important;
          border-left-width: px2vw-md(4px) !important;
          border-top-width: px2vw-md(4px) !important;
        }

        @include sm {
          width: px2vw-sm(14px) !important;
          height: px2vw-sm(14px) !important;
          border-left-width: px2vw-sm(5px) !important;
          border-top-width: px2vw-sm(5px) !important;
        }
      }

      .pager {
        border: px2vw-xl(2px) solid $--Pagination-border-color;
        border-right-width: px2vw-xl(1px);
        border-radius: px2vw-xl(4px);
        overflow: hidden;
        background-color: $--Pagination-background-color;

        a {
          margin: 0 !important;
          border-radius: 0 !important;
          border-right: px2vw-xl(2px) solid $--Pagination-border-color;
          font-family: "dynasty-primary-semibold", sans-serif;
        }

        .disabled i {
          opacity: 0.3;
        }

        .pages.active a {
          color: var(--orange-color-main) !important;
        }
      }
    }
  }
}
.selectedGame span {
  background-color: var(--orange-color-main);
}

.LeaderBoardPlayer-sectionB {
  font-family: "dynasty-primary-regular", sans-serif;
  padding-top: px2vw-xl(63px);
  padding-bottom: px2vw-xl(50px);

  @include lg {
    padding-top: px2vw-lg(63px);
    padding-bottom: px2vw-lg(50px);
  }
  @include md {
    padding-top: px2vw-md(40px);
    padding-bottom: px2vw-md(40px);
  }
  @include sm {
    padding-top: px2vw-sm(40px);
    padding-bottom: px2vw-sm(40px);
  }

  &-header {
  }
  &-header-date {
    font-size: px2vw-xl(21px);
    line-height: px2vw-xl(27px);
    text-transform: uppercase;

    @include lg {
      font-size: px2vw-lg(21px);
      line-height: px2vw-lg(27px);
    }
    @include md {
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
    }
    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }
  }
  &-header-statistics {
    display: flex;
    margin-bottom: px2vw-xl(38px);

    @include lg {
      margin-bottom: px2vw-lg(38px);
    }
    @include md {
      margin-bottom: px2vw-md(38px);
    }
    @include sm {
      margin-bottom: px2vw-sm(38px);
    }
  }
  &-header-title {
    margin-bottom: 0;
    font-family: "dynasty-primary-large", sans-serif;
    font-size: px2vw-xl(40px);
    line-height: px2vw-xl(43px);
    text-transform: uppercase;

    @include lg {
      font-size: px2vw-lg(40px);
      line-height: px2vw-lg(43px);
    }
    @include md {
      font-size: px2vw-md(40px);
      line-height: px2vw-md(43px);
    }
    @include sm {
      font-size: px2vw-sm(40px);
      line-height: px2vw-sm(43px);
    }
  }
  &-header-button {
    position: relative;
    margin-left: px2vw-xl(24px);
    padding-right: 44px;
    border: 1px solid var(--orange-color-main);
    border-radius: 4px;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(21px);
    text-transform: uppercase;

    @include lg {
      margin-left: px2vw-lg(24px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(21px);
    }
    @include md {
      margin-left: auto;
      font-size: px2vw-md(16px);
      line-height: px2vw-md(21px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(21px);
    }

    &::after {
      position: absolute;
      content: "";
      top: 40%;
      right: 15px;
      width: px2vw-xl(9px);
      height: px2vw-xl(9px);
      transform: rotate(-45deg) translateY(-50%);
      background-color: transparent;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transition: all 100ms ease-in-out;

      @include lg {
        width: px2vw-lg(9px);
        height: px2vw-lg(9px);
      }
      @include md {
        width: px2vw-md(9px);
        height: px2vw-md(9px);
      }
      @include sm {
        width: px2vw-sm(9px);
        height: px2vw-sm(9px);
      }
    }

    &[aria-expanded="true"]::after {
      right: 18px;
      transform: rotate(140deg);
    }
  }
  &-header-menu {
  }
  &-header-menu-item {
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(2, px2vw-xl(260px)) repeat(4, 1fr);
    grid-template-rows: repeat(3, px2vw-xl(150px));
    grid-column-gap: px2vw-xl(12px);
    grid-row-gap: px2vw-xl(2px);

    @include lg {
      grid-template-columns: repeat(2, px2vw-lg(260px)) repeat(4, 1fr);
      grid-template-rows: repeat(3, px2vw-lg(150px));
      grid-column-gap: px2vw-lg(12px);
      grid-row-gap: px2vw-lg(2px);
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: px2vw-md(12px);
      grid-row-gap: px2vw-md(2px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(12px);
      grid-row-gap: px2vw-sm(2px);
    }
  }
  &-content-card {
    padding: px2vw-xl(27px) px2vw-xl(30px) px2vw-xl(30px);
    text-transform: uppercase;
    border: 1px solid $--LeaderBoardPlayer-sectionB-card-border-color;
    background-color: $--LeaderBoardPlayer-sectionB-card-background-color;

    @include lg {
      padding: px2vw-lg(27px) px2vw-lg(30px) px2vw-lg(30px);
    }
    @include md {
      padding: px2vw-md(27px) px2vw-md(30px) px2vw-md(30px);
    }
    @include sm {
      padding: px2vw-sm(27px) px2vw-sm(30px) px2vw-sm(30px);
    }
  }
  &-content-card-title {
    margin-bottom: px2vw-xl(7px);
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(23px);

    @include lg {
      margin-bottom: px2vw-lg(7px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(23px);
    }
    @include md {
      margin-bottom: px2vw-md(7px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(23px);
    }
    @include sm {
      margin-bottom: px2vw-sm(7px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(23px);
    }
  }
  &-content-card-value {
    margin-bottom: 0;
    font-family: "dynasty-primary-large", sans-serif;
    font-size: px2vw-xl(50px);
    line-height: px2vw-xl(60px);

    @include lg {
      font-size: px2vw-lg(56px);
      line-height: px2vw-lg(60px);
    }
    @include md {
      font-size: px2vw-md(56px);
      line-height: px2vw-md(60px);
    }
    @include sm {
      font-size: px2vw-sm(56px);
      line-height: px2vw-sm(60px);
    }
  }
  &-content-graphic {
    display: flex;
    flex-direction: column;

    grid-area: 1 / 3 / 4 / 7;
    border: 1px solid $--LeaderBoardPlayer-sectionB-card-border-color;
    background-color: $--LeaderBoardPlayer-sectionB-card-background-color;
    padding: px2vw-xl(30px) px2vw-xl(62px) px2vw-xl(15px);

    @include lg {
      padding: px2vw-lg(30px) px2vw-lg(62px) px2vw-lg(15px);
    }
    @include md {
      grid-area: 1 / 1 / 4 / 3;
      padding: px2vw-md(30px) px2vw-md(30px) px2vw-md(15px);
    }
    @include sm {
      padding: px2vw-sm(30px) px2vw-sm(30px) px2vw-sm(15px);
    }
  }
  &-content-graphic-title {
    text-transform: uppercase;
    margin-bottom: auto;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(23px);
    text-align: center;

    @include lg {
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(23px);
    }
    @include md {
      font-size: px2vw-md(18px);
      line-height: px2vw-md(23px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(23px);
    }
  }
  &-graphic-chart {
  }
}
