@import "shared";

:host {
  display: block;
}

.SearchAll {
  &-item {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }

    ::ng-deep {
      section.noResult {
        border-bottom: 1px solid rgb(218 218 218 / 30%);
      }
    }
  }
}
