<div class="BracketMatch-items">
  <div class="BracketMatch-items-block">
    <div class="BracketMatch-items-number">
      <!-- {{ match?.currentMatch?.round }} -->
      {{ seedId }}
    </div>
    <div class="BracketMatch-items-info">
      <div class="BracketMatch-items-avatar">
        <ng-container *ngIf="isShowCountryFlag">
          <img class="Team-avatar" *ngIf="!countryCode" [lazyLoad]="'assets/images/Match/no_flag.png'" />
          <div class="global-flag-icon" *ngIf="countryCode">
            <flag-icon [country]="countryCode" squared></flag-icon>
          </div>
        </ng-container>
        <ng-container *ngIf="!isShowCountryFlag">
          <img class="Team-avatar"
            [lazyLoad]="bye ? 'assets/images/Match/bye.jpg' : logo || 'assets/images/Match/gamer-image.png' " />
        </ng-container>
      </div>
      <p class="BracketMatch-items-player global-Elipsess">
        {{ bye ? "BYE" : teamName }}
      </p>
    </div>

    <div class="BracketMatch-items-score">
      {{ setScore}}
    </div>
  </div>
</div>