@import "shared";

$--Home-text-color: var(--whitecolor);
$--Home-bgGradient: transparent
  linear-gradient(79deg, #02205f 0%, #c71b00 42%, #e77302 73%, #ffda6c 100%) 0 0
  no-repeat padding-box;

$--Home-sectionB-background: #171616;
$--Home-sectionB-card-border-color: var(--orange-color-main);
$--Home-sectionB-card-background: rgba(23, 22, 22, 0.85);
$--Home-sectionB-card-info-h2-color: #f4f9ff;
$--Home-sectionB-card-info-hover-color: var(--orange-color-main);
$--Home-sectionB-card-info-h3-color: var(--whitecolor);

$--Home-sectionD-background: #171616;

$--Home-sectionE-background: #232120;
$--Home-sectionE-border-color: #707070;
$--Home-sectionE-box-title-color: var(--whitecolor);
$--Home-sectionE-video-background: url(/assets/images/Home/video-bg.png) 0 0
  no-repeat;

$--Home-sectionF-background: #232120;

$--Home-sectionG-color: var(--whitecolor);

.Home-sectionA {
  background: $--Home-bgGradient;
  padding: px2vw-xl(45px);

  @include lg {
    padding: px2vw-lg(45px);
  }

  @include md {
    padding: px2vw-md(45px) 0;
  }

  @include sm {
    padding: px2vw-sm(45px) 0;
  }

  &-bannerWp {
    box-shadow: 0 px2vw-xl(19px) px2vw-xl(25px) #00000082;

    @include lg {
      box-shadow: 0 px2vw-lg(19px) px2vw-lg(25px) #00000082;
    }

    @include md {
      box-shadow: 0 px2vw-md(19px) px2vw-md(25px) #00000082;
    }

    @include sm {
      box-shadow: 0 px2vw-sm(19px) px2vw-sm(25px) #00000082;
    }
  }

  &-banner {
    text-align: center;
    padding: px2vw-xl(55px) px2vw-xl(20px) px2vw-xl(75px);
    background: #000000;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    @include lg {
      background-position: center;
      box-shadow: 0 px2vw-lg(19px) px2vw-lg(25px) #00000082;
      padding: px2vw-lg(55px) px2vw-lg(20px) px2vw-lg(75px);
    }

    @include md {
      box-shadow: 0 px2vw-md(19px) px2vw-md(25px) #00000082;
      padding: px2vw-md(55px) px2vw-md(20px) px2vw-md(75px);
    }

    @include sm {
      box-shadow: 0 px2vw-sm(19px) px2vw-sm(25px) #00000082;
      padding: px2vw-sm(55px) px2vw-sm(20px) px2vw-sm(75px);
    }

    &-title {
      font-size: px2vw-xl(80px);
      letter-spacing: px2vw-xl(0.4px);
      margin-bottom: px2vw-xl(5px);
      font-family: "dynasty-primary-large", sans-serif;
      color: var(--whitecolor);
      text-transform: uppercase;

      @include lg {
        font-size: px2vw-lg(50px);
        letter-spacing: px2vw-lg(0.4px);
        margin-bottom: px2vw-lg(5px);
      }

      @include md {
        font-size: px2vw-md(50px);
        letter-spacing: px2vw-md(0.4px);
        margin-bottom: px2vw-md(5px);
      }

      @include sm {
        font-size: px2vw-sm(50px);
        letter-spacing: px2vw-sm(0.4px);
        margin-bottom: px2vw-sm(5px);
      }

      span {
        color: var(--orange-color-main);
      }
    }

    &-subtitle {
      font-size: px2vw-xl(30px);
      font-family: "dynasty-primary-regular", sans-serif;
      color: var(--whitecolor);
      text-transform: uppercase;

      @include lg {
        font-size: px2vw-lg(30px);
      }

      @include md {
        font-size: px2vw-md(30px);
      }

      @include sm {
        font-size: px2vw-sm(30px);
      }
    }
  }
}

.Home-sectionB {
  background: $--Home-sectionB-background;
  padding: px2vw-xl(92px) 0 px2vw-xl(94px);

  @include lg {
    padding: px2vw-lg(60px) 0;
  }

  @include md {
    padding: px2vw-md(60px) 0;
  }

  @include sm {
    padding: px2vw-sm(60px) 0;
  }

  &-title {
    @extend %mesf-Title;
    font-size: px2vw-xl(30px);
    width: 50%;
    font-family: "dynasty-primary-semibold", sans-serif;

    @include lg {
      font-size: px2vw-lg(30px);
      width: 100%;
    }

    @include md {
      font-size: px2vw-md(30px);
    }

    @include sm {
      font-size: px2vw-sm(30px);
    }
  }

  &-box {
    @extend %u-dfStartBtw;
    align-items: stretch;

    &-left {
      padding: 0 px2vw-xl(20px);
      max-width: px2vw-xl(632px);
      display: flex;
      flex-flow: column;
      justify-content: center;
      width: 100%;

      @include lg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 px2vw-lg(20px);
        max-width: 100%;
      }

      @include md {
        flex-flow: column;
        padding: 0 px2vw-md(20px);
      }

      @include sm {
        padding: 0 px2vw-sm(20px);
      }

      &-bg {
        background: url(/assets/images/Profile/bg.png) center no-repeat;
        background-size: cover;

        @include lg {
          min-height: auto;
          background: none;
        }
      }
    }

    &-right {
      padding: 0 px2vw-xl(15px);
      max-width: px2vw-xl(988px);
      width: 100%;

      @include lg {
        padding: 0 px2vw-lg(15px);
        max-width: 100%;
        width: 100%;
      }

      @include md {
        padding: 0 px2vw-md(15px);
      }

      @include sm {
        padding: 0 px2vw-sm(15px);
      }
    }

    &-title {
      margin-bottom: px2vw-xl(47px);

      @include lg {
        margin-bottom: px2vw-lg(47px);
      }

      @include md {
        margin-bottom: px2vw-md(47px);
      }

      @include sm {
        margin-bottom: px2vw-sm(47px);
      }
    }
  }

  &-card {
    @extend %u-dfCenterBtw;
    background: $--Home-sectionB-card-background;
    border-left: px2vw-xl(4px) solid $--Home-sectionB-card-border-color;
    border-radius: px2vw-xl(5px);
    margin-bottom: px2vw-xl(45px);
    padding: px2vw-xl(33px) px2vw-xl(33px) px2vw-xl(16px);
    position: relative;
    overflow: hidden;
    cursor: pointer;

    @include lg {
      border-left: px2vw-lg(4px) solid $--Home-sectionB-card-border-color;
      border-radius: px2vw-lg(5px);
      padding: px2vw-lg(33px) px2vw-lg(33px) px2vw-lg(16px);
      margin-bottom: px2vw-lg(45px);
      width: 100%;
    }

    @include md {
      width: 100%;
      border-left: px2vw-md(4px) solid $--Home-sectionB-card-border-color;
      border-radius: px2vw-md(5px);
      padding: px2vw-md(33px) px2vw-md(33px) px2vw-md(16px);
      margin-bottom: px2vw-md(45px);
    }

    @include sm {
      border-left: px2vw-sm(4px) solid $--Home-sectionB-card-border-color;
      border-radius: px2vw-sm(5px);
      padding: px2vw-sm(20px);
      margin-bottom: px2vw-sm(45px);
    }

    &-img {
      width: px2vw-xl(132px);
      height: px2vw-xl(132px);
      margin-right: px2vw-xl(45px);
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;

      @include lg {
        width: px2vw-lg(132px);
        height: px2vw-lg(132px);
        margin-right: px2vw-lg(45px);
      }

      @include md {
        width: px2vw-md(132px);
        height: px2vw-md(132px);
        margin-right: px2vw-md(45px);
      }

      @include sm {
        width: px2vw-sm(90px);
        height: px2vw-sm(90px);
        margin-right: px2vw-sm(30px);
      }
    }

    &-info {
      position: relative;
      flex: 1;

      &::after {
        width: px2vw-xl(26px);
        height: px2vw-xl(26px);
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
        border: 2px solid #fff;
        border-right: none;
        border-bottom: none;

        @include lg {
          width: px2vw-lg(26px);
          height: px2vw-lg(26px);
        }

        @include md {
          width: px2vw-md(26px);
          height: px2vw-md(26px);
        }

        @include sm {
          width: px2vw-sm(26px);
          height: px2vw-sm(26px);
        }
      }
    }

    &-info h2 {
      color: $--Home-sectionB-card-info-h2-color;
      font-size: px2vw-xl(57px);
      letter-spacing: px2vw-xl(0.28px);
      font-family: "dynasty-primary-large", sans-serif;
      text-transform: uppercase;
      margin: 0;

      @include lg {
        font-size: px2vw-lg(57px);
        letter-spacing: px2vw-lg(0.28px);
      }

      @include md {
        font-size: px2vw-md(57px);
        letter-spacing: px2vw-md(0.28px);
      }

      @include sm {
        font-size: px2vw-sm(57px);
        letter-spacing: px2vw-sm(0.28px);
      }
    }

    &-info h3 {
      color: $--Home-sectionB-card-info-h3-color;
      font-size: px2vw-xl(21px);
      font-family: "dynasty-primary-regular", sans-serif;
      margin: 0;

      @include lg {
        font-size: px2vw-lg(21px);
      }

      @include md {
        font-size: px2vw-md(21px);
      }

      @include sm {
        font-size: px2vw-sm(21px);
      }
    }

    &:hover &-info h2 {
      color: $--Home-sectionB-card-info-hover-color;
    }

    &:hover &-info::after {
      border-color: $--Home-sectionB-card-info-hover-color;
    }

    &:last-child {
      margin-bottom: 0;

      @include lg {
        margin-bottom: px2vw-lg(45px);
      }

      @include md {
        margin-bottom: px2vw-md(45px);
      }

      @include sm {
        margin-bottom: px2vw-sm(45px);
      }
    }
  }

  &-right-top {
    @extend %u-dfCenterEnd;
    width: 50%;

    @include lg {
      display: none;
    }
  }

  &-right-mid {
    display: none;

    @include lg {
      display: flex;
      align-items: center;
      margin-bottom: px2vw-lg(47px);
    }

    @include md {
      justify-content: center;
      margin-bottom: px2vw-md(47px);
    }

    @include sm {
      flex-flow: column;
      margin-bottom: px2vw-sm(47px);
    }
  }

  &-right-title {
    //margin-right: px2vw-xl(100px);
    margin-right: px2vw-xl(20px);
    text-align: right;
    flex: 1;

    @include lg {
      //margin-right: px2vw-lg(40px);
      margin-right: px2vw-lg(20px);
    }

    @include md {
      //margin-right: px2vw-md(40px);
      margin-right: px2vw-md(20px);
    }

    @include sm {
      margin: 0 0 px2vw-sm(20px);
    }
  }

  &.is-loggedIn {
    .Home-sectionB-box-title {
      justify-content: flex-end;
    }

    .Home-sectionB-right-top {
      width: 100%;
    }

    .Home-sectionB-box-right {
      padding: 0;
      max-width: initial;
      width: 100%;
    }
  }
}

.Home-sectionBV2 {
  display: none;
  background: $--Home-sectionB-background;
  padding: px2vw-xl(92px) 0 px2vw-xl(94px);

  @include lg {
    padding: px2vw-lg(60px) 0;
  }

  @include md {
    padding: px2vw-md(60px) 0;
  }

  @include sm {
    padding: px2vw-sm(60px) 0;
  }

  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(38px);

    @include lg {
      margin-bottom: px2vw-lg(38px);
    }

    @include md {
      margin-bottom: px2vw-md(38px);
    }

    @include sm {
      margin-bottom: px2vw-sm(38px);
    }
  }

  &-buttons {
    margin-bottom: px2vw-xl(42px);

    @include lg {
      margin-bottom: px2vw-lg(42px);
    }

    @include md {
      margin-bottom: px2vw-md(42px);
    }

    @include sm {
      margin-bottom: px2vw-sm(42px);
    }
  }

  &-cards {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(25px);

    @include lg {
      margin-bottom: px2vw-lg(25px);
      overflow-y: scroll;
    }

    @include md {
      margin-bottom: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
    }
  }

  &-card {
    @include btnEvents();
    @extend %u-dfCenterCenter;
    margin: 0 0 px2vw-xl(20px);
    min-width: px2vw-xl(160px);
    width: px2vw-xl(160px);
    height: px2vw-xl(160px);
    border-radius: px2vw-xl(4px);
    background: none;
    overflow: hidden;
    text-transform: uppercase;

    @include lg {
      margin: 0 px2vw-lg(10px) px2vw-lg(20px);
      min-width: px2vw-lg(160px);
      width: px2vw-lg(160px);
      height: px2vw-lg(160px);
      border-radius: px2vw-lg(4px);
    }

    @include md {
      margin: 0 px2vw-lg(10px) px2vw-md(20px);
      min-width: px2vw-md(160px);
      width: px2vw-md(160px);
      height: px2vw-md(160px);
      border-radius: px2vw-md(4px);
    }

    @include sm {
      margin: 0 px2vw-lg(10px) px2vw-sm(20px);
      min-width: px2vw-sm(160px);
      width: px2vw-sm(160px);
      height: px2vw-sm(160px);
      border-radius: px2vw-sm(4px);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.is-all {
      box-shadow: inset 0 0 0 4px var(--orange-color-main);

      @include lg {
        box-shadow: inset 0 0 0 px2vw-lg(4px) var(--orange-color-main);
      }

      @include md {
        box-shadow: inset 0 0 0 px2vw-md(4px) var(--orange-color-main);
      }

      @include sm {
        box-shadow: inset 0 0 0 px2vw-sm(4px) var(--orange-color-main);
      }
    }
  }

  &-box {
    flex-flow: column;
  }
}

.Home-sectionC {
  background: $--Home-bgGradient;
  padding: px2vw-xl(58px) 0 px2vw-xl(39px);

  @include lg {
    padding: px2vw-lg(58px) 0 px2vw-lg(39px);
  }

  @include md {
    padding: px2vw-md(58px) 0 px2vw-md(39px);
  }

  @include sm {
    padding: px2vw-sm(58px) 0 px2vw-sm(39px);
  }
}

.Home-sectionD {
  background: $--Home-sectionD-background;
  padding: px2vw-xl(50px) 0 0;

  @include lg {
    padding: px2vw-lg(50px) 0 0;
  }

  @include md {
    padding: px2vw-md(50px) 0 0;
  }

  @include sm {
    padding: px2vw-sm(50px) 0 0;
  }

  &-top {
    @extend %u-dfCenterBtw;
    padding: 0 px2vw-xl(4px);
    margin-bottom: px2vw-xl(66px);

    @include lg {
      padding: 0 px2vw-lg(4px);
      margin-bottom: px2vw-lg(66px);
    }

    @include md {
      padding: 0 px2vw-md(4px);
      margin-bottom: px2vw-md(66px);
    }

    @include sm {
      flex-flow: column;
      padding: 0 px2vw-sm(4px);
      margin-bottom: px2vw-sm(66px);
    }
  }
}

.Home-sectionE {
  background: $--Home-sectionE-background;
  border-bottom: px2vw-xl(1px) solid $--Home-sectionE-border-color;
  padding: px2vw-xl(60px) 0;

  @include lg {
    border-bottom: px2vw-lg(1px) solid $--Home-sectionE-border-color;
    padding: px2vw-lg(60px) 0;
  }

  @include md {
    border-bottom: px2vw-md(1px) solid $--Home-sectionE-border-color;
    padding: px2vw-md(60px) 0;
  }

  @include sm {
    border-bottom: px2vw-sm(1px) solid $--Home-sectionE-border-color;
    padding: px2vw-sm(60px) 0;
  }

  &-title {
    margin-bottom: px2vw-xl(62px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-subtitle {
    padding-right: px2vw-xl(40px);
    margin-bottom: px2vw-xl(40px);

    @include lg {
      padding-right: 0;
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-info {
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-video {
    @extend %u-dfCenterCenter;
    // background: $--Home-sectionE-video-background;
    min-height: px2vw-xl(550px);
    width: 100%;

    @include lg {
      min-height: px2vw-lg(550px);
    }

    @include md {
      background-position: 35%;
      background-size: cover;
      min-height: px2vw-md(400px);
    }

    @include sm {
      min-height: px2vw-sm(400px);
    }
  }
}

.Home-sectionF {
  background: $--Home-sectionF-background;
  padding: px2vw-xl(60px) 0;

  @include lg {
    padding: px2vw-lg(60px) 0;
  }

  @include md {
    padding: px2vw-md(60px) 0;
  }

  @include sm {
    padding: px2vw-sm(60px) 0;
  }

  &-title {
    margin-bottom: px2vw-xl(55px);
    text-align: left;

    @include lg {
      margin-bottom: px2vw-lg(55px);
    }

    @include md {
      margin-bottom: px2vw-md(55px);
    }

    @include sm {
      margin-bottom: px2vw-sm(55px);
    }
  }

  &-item {
    margin-bottom: px2vw-xl(20px);
    width: 24.5%;

    @include lg {
      margin-bottom: px2vw-lg(20px);
      width: 32.5%;
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      width: 49%;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      width: 100%;
    }
  }

  &-footer {
    margin-top: px2vw-xl(56px);
    text-align: center;

    @include lg {
      margin-top: px2vw-lg(56px);
    }

    @include md {
      margin-top: px2vw-md(56px);
    }

    @include sm {
      margin-top: px2vw-sm(56px);
    }
  }
}

.Home-sectionG {
  background: $--Home-bgGradient;
  color: $--Home-sectionG-color;
  padding: px2vw-xl(55px) 0 px2vw-xl(103px);
  text-align: center;

  @include lg {
    padding: px2vw-lg(55px) 0 px2vw-lg(103px);
  }

  @include md {
    padding: px2vw-md(55px) 0 px2vw-md(103px);
  }

  @include sm {
    padding: px2vw-sm(55px) 0 px2vw-sm(103px);
  }

  &-wp {
    max-width: px2vw-xl(1088px);

    @include lg {
      max-width: px2vw-lg(1088px);
    }

    @include md {
      max-width: px2vw-md(1088px);
    }

    @include sm {
      max-width: px2vw-sm(1088px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(34px);

    @include lg {
      margin-bottom: px2vw-lg(34px);
    }

    @include md {
      margin-bottom: px2vw-md(34px);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
    }
  }

  &-text {
    margin-bottom: px2vw-xl(19px);

    @include lg {
      margin-bottom: px2vw-lg(19px);
    }

    @include md {
      margin-bottom: px2vw-md(19px);
    }

    @include sm {
      margin-bottom: px2vw-sm(19px);
    }
  }
}
