<!-- <section class="Home-sectionA">
  <div class="u-wp">
    <div style="height: 300px;">
      <iframe
        src="https://chat.exaltaretech.com/static/getInitials"
        width="100%"
        height="100%"
        style="border: none;"
      ></iframe>
    </div>
  </div>
</section> -->
<section class="Home-sectionA">
  <div class="u-wp">
    <ngb-carousel [showNavigationArrows]="false" class="Home-sectionA-bannerWp">
      <ng-template ngbSlide>
        <div
          class="Home-sectionA-banner"
          [style.backgroundImage]="
            'url(/assets/images/Home/banner_ICHALLENGE.png)'
          "
        >
          <h1 class="Home-sectionA-banner-title">
            {{ "HOME.BANNER.BANNER6.TITLE1" | translate }}

            <span>{{ "HOME.BANNER.BANNER6.TITLE2" | translate }}</span>

            {{ "HOME.BANNER.BANNER6.TITLE3" | translate }}
          </h1>

          <h2 class="Home-sectionA-banner-subtitle">
            {{ "HOME.BANNER.BANNER6.SUBTITLE" | translate }}
          </h2>

          <button
            routerLink="/tournament/5f4f958b136009000879d19e"
            class="btn btn-outline-light Home-sectionA-banner-btn"
          >
            {{ "HOME.BANNER.BANNER6.BUTTON" | translate }}
          </button>

          <div class="Home-sectionA-banner-dots"></div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div
          class="Home-sectionA-banner"
          [style.backgroundImage]="'url(/assets/images/Home/banner1.png)'"
        >
          <h1 class="Home-sectionA-banner-title">
            {{ "HOME.BANNER.BANNER1.TITLE1" | translate }}

            <span>{{ "HOME.BANNER.BANNER1.TITLE2" | translate }}</span>
          </h1>

          <h2 class="Home-sectionA-banner-subtitle">
            {{ "HOME.BANNER.BANNER1.SUBTITLE" | translate }}
          </h2>

          <button
            [routerLink]="AppHtmlRoutes.article"
            class="btn btn-outline-light Home-sectionA-banner-btn"
          >
            {{ "HOME.BANNER.BANNER1.BUTTON" | translate }}
          </button>

          <div class="Home-sectionA-banner-dots"></div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div
          class="Home-sectionA-banner"
          [style.backgroundImage]="'url(/assets/images/Home/banner2.png)'"
        >
          <h1 class="Home-sectionA-banner-title">
            {{ "HOME.BANNER.BANNER2.TITLE1" | translate }}

            <span>{{ "HOME.BANNER.BANNER2.TITLE2" | translate }}</span>
          </h1>

          <h2 class="Home-sectionA-banner-subtitle">
            {{ "HOME.BANNER.BANNER2.SUBTITLE" | translate }}
          </h2>

          <button
            [routerLink]="AppHtmlRoutes.tournament"
            class="btn btn-outline-light"
          >
            {{ "HOME.BANNER.BANNER2.BUTTON" | translate }}
          </button>

          <div class="Home-sectionA-banner-dots"></div>
        </div>
      </ng-template>

      <!-- <ng-template ngbSlide>

        <div

          class="Home-sectionA-banner"

          [style.backgroundImage]="'url(/assets/images/Home/banner3.png)'"

        >

          <h1 class="Home-sectionA-banner-title">

            {{ "HOME.BANNER.BANNER3.TITLE1" | translate }} <span>{{ "HOME.BANNER.BANNER3.TITLE2" | translate }}</span> {{ "HOME.BANNER.BANNER3.TITLE3" | translate }}

          </h1>

          <h2 class="Home-sectionA-banner-subtitle">

            {{ "HOME.BANNER.BANNER3.SUBTITLE" | translate }}

          </h2>


          <button

            routerLink="/search/shop"

            class="btn btn-outline-light is-big Home-sectionA-banner-btn"

          >

            {{ "HOME.BANNER.BANNER3.BUTTON" | translate }}

          </button>


          <div class="Home-sectionA-banner-dots"></div>

        </div>

      </ng-template> -->

      <ng-template ngbSlide>
        <div
          class="Home-sectionA-banner"
          [style.backgroundImage]="'url(/assets/images/Home/banner4_1.png)'"
        >
          <h1 class="Home-sectionA-banner-title">
            <span>{{ "HOME.BANNER.BANNER4.TITLE1" | translate }}</span>

            {{ "HOME.BANNER.BANNER4.TITLE2" | translate }}
          </h1>

          <h2 class="Home-sectionA-banner-subtitle">
            {{ "HOME.BANNER.BANNER4.SUBTITLE" | translate }}
          </h2>

          <button
            [routerLink]="AppHtmlRoutes.aboutUs"
            class="btn btn-outline-light Home-sectionA-banner-btn"
          >
            {{ "HOME.BANNER.BANNER4.BUTTON" | translate }}
          </button>

          <div class="Home-sectionA-banner-dots"></div>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div
          class="Home-sectionA-banner"
          [style.backgroundImage]="'url(/assets/images/Home/banner5.png)'"
        >
          <h1 class="Home-sectionA-banner-title">
            {{ "HOME.BANNER.BANNER5.TITLE1" | translate }}

            <span>{{ "HOME.BANNER.BANNER5.TITLE2" | translate }}</span>
          </h1>

          <h2 class="Home-sectionA-banner-subtitle">
            {{ "HOME.BANNER.BANNER5.SUBTITLE" | translate }}
          </h2>

          <button
            [routerLink]="[
              AppHtmlRoutes.userPageType,

              AppHtmlRoutesLoginType.phoneLogin
            ]"
            class="btn btn-outline-light Home-sectionA-banner-btn"
          >
            {{ "HOME.BANNER.BANNER5.BUTTON" | translate }}
          </button>

          <div class="Home-sectionA-banner-dots"></div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</section>

<section [class.is-loggedIn]="currentUser" class="Home-sectionB">
  <div class="container-fluid u-wp">
    <div class="row Home-sectionB-box Home-sectionB-box-title">
      <div *ngIf="!currentUser" class="Home-sectionB-title">
        {{ "HOME.SECTIONB.TITLE1" | translate }}
      </div>

      <div class="Home-sectionB-right-top">
        <div
          class="btn-group btn-group-toggle"
          ngbRadioGroup
          name="radioGame"
          [(ngModel)]="tournamentFilter"
        >
          <label class="btn" ngbButtonLabel>
            <input
              type="radio"
              ngbButton
              [value]="TournamentFilter.upcomingTournaments"
            />
            {{ "HOME.TOURNAMENT.UPCOMING_TOURNAMENT" | translate }}
          </label>
          <label class="btn" ngbButtonLabel>
            <input
              type="radio"
              ngbButton
              [value]="TournamentFilter.allTournaments"
              [routerLink]="[AppHtmlRoutes.tournament]"
            />
            {{ "HOME.TOURNAMENT.ALL_TOURNAMENT" | translate }}
          </label>
        </div>
      </div>
    </div>

    <div class="row Home-sectionB-box">
      <div
        class="Home-sectionB-box-left Home-sectionB-box-left-bg"
        *ngIf="!currentUser"
      >
        <div
          class="Home-sectionB-card"
          [routerLink]="[
            AppHtmlRoutes.userPageType,
            AppHtmlRoutesLoginType.phoneLogin
          ]"
        >
          <div class="Home-sectionB-card-bg"></div>

          <img
            class="Home-sectionB-card-img"
            src="./assets/images/Home/sign-in.png"
            alt=""
          />
          <div class="Home-sectionB-card-info">
            <h2>{{ "HOME.SECTIONB.CARD.SIGNIN.H1" | translate }}</h2>
            <h3>{{ "HOME.SECTIONB.CARD.SIGNIN.H3" | translate }}</h3>
          </div>
        </div>

        <div
          class="Home-sectionB-card"
          [routerLink]="[
            AppHtmlRoutes.userPageType,
            AppHtmlRoutesLoginType.registration
          ]"
        >
          <div class="Home-sectionB-card-bg"></div>

          <img
            class="Home-sectionB-card-img"
            src="./assets/images/Home/register.png"
            alt=""
          />
          <div class="Home-sectionB-card-info">
            <h2>{{ "HOME.SECTIONB.CARD.SIGNUP.H1" | translate }}</h2>
            <h3>{{ "HOME.SECTIONB.CARD.SIGNUP.H3" | translate }}</h3>
          </div>
        </div>
      </div>

      <div class="Home-sectionB-box-right">
        <div class="Home-sectionB-right-mid">
          <div
            class="btn-group btn-group-toggle"
            ngbRadioGroup
            name="radioGame"
            [(ngModel)]="tournamentFilter"
          >
            <label class="btn" ngbButtonLabel>
              <input
                type="radio"
                ngbButton
                [value]="TournamentFilter.ongoingTournaments"
              />
              {{ "HOME.TOURNAMENT.ONGOING_TOURNAMENT" | translate }}
            </label>
            <label class="btn" ngbButtonLabel>
              <input
                type="radio"
                ngbButton
                [value]="TournamentFilter.allTournaments"
                [routerLink]="[AppHtmlRoutes.tournament]"
              />
              {{ "HOME.TOURNAMENT.ALL_TOURNAMENT" | translate }}
            </label>
          </div>
        </div>

        <app-tournament-item
          *ngFor="let item of upcomingTournaments"
          [data]="item"
        ></app-tournament-item>
      </div>
    </div>
  </div>
</section>

<section class="Home-sectionBV2">
  <div class="container-fluid u-wp">
    <div class="Home-sectionBV2-header">
      <div class="mesf-Title">
        {{ "HOME.TOURNAMENT.ONGOING_TOURNAMENT" | translate }}
      </div>
      <div>
        <button class="mesf-IconBtn">
          <img src="./assets/icons/search-yellow.svg" alt="" />
        </button>
      </div>
    </div>

    <div class="Home-sectionBV2-cards">
      <button class="Home-sectionBV2-card is-all">
        <span class="mesf-Text"
          >{{ "HOME.TOURNAMENT.All" | translate }} <br />
          {{ "HOME.TOURNAMENT.GAMES" | translate }}</span
        >
      </button>
      <button class="Home-sectionBV2-card">
        <img src="./assets/images/Home/top1.png" alt="" />
      </button>
      <button class="Home-sectionBV2-card">
        <img src="./assets/images/Home/top1.png" alt="" />
      </button>
      <button class="Home-sectionBV2-card">
        <img src="./assets/images/Home/top1.png" alt="" />
      </button>
      <button class="Home-sectionBV2-card">
        <img src="./assets/images/Home/top1.png" alt="" />
      </button>
      <button class="Home-sectionBV2-card">
        <img src="./assets/images/Home/top1.png" alt="" />
      </button>
      <button class="Home-sectionBV2-card">
        <img src="./assets/images/Home/top1.png" alt="" />
      </button>
      <button class="Home-sectionBV2-card">
        <img src="./assets/images/Home/top1.png" alt="" />
      </button>
      <button class="Home-sectionBV2-card">
        <img src="./assets/images/Home/top1.png" alt="" />
      </button>
    </div>

    <div class="Home-sectionBV2-buttons">
      <div
        class="btn-group btn-group-toggle"
        ngbRadioGroup
        name="radioGame"
        [(ngModel)]="topOffersFilter"
      >
        <label class="btn" ngbButtonLabel>
          <input
            type="radio"
            ngbButton
            [value]="OngoingTournamentFilter.upcoming"
          />
          {{ "HOME.TOURNAMENT.UPCOMING" | translate }}
        </label>
        <label class="btn" ngbButtonLabel>
          <input
            type="radio"
            ngbButton
            [value]="OngoingTournamentFilter.ongoing"
          />
          {{ "HOME.TOURNAMENT.ONGOING" | translate }}
        </label>
        <label class="btn" ngbButtonLabel>
          <input
            type="radio"
            ngbButton
            [value]="OngoingTournamentFilter.completed"
          />
          {{ "HOME.TOURNAMENT.COMPLETED" | translate }}
        </label>
      </div>
    </div>

    <div class="row Home-sectionBV2-box">
      <app-tournament-item
        *ngFor="let item of upcomingTournaments"
        [data]="item"
      ></app-tournament-item>
    </div>
  </div>
</section>

<section class="Home-sectionC">
  <div class="u-wp">
    <app-jumbotron
      *ngIf="postData"
      [backgroundUrl]="(postData?.data)[0]?.image || ''"
      [data]="jumbotron"
    >
    </app-jumbotron>
  </div>
</section>

<!-- <section class="Home-sectionD">
  <div class="container-fluid u-wp">
    <div class="Home-sectionD-top">
      <div class="mesf-Title">top up offers</div>

      <div
        class="btn-group btn-group-toggle"
        ngbRadioGroup
        name="radioGame"
        [(ngModel)]="topOffersFilter"
      >
        <label class="btn" ngbButtonLabel>
          <input type="radio" ngbButton [value]="TopOffersFilter.vouchers" />
          Game vouchers
        </label>
        <label class="btn" ngbButtonLabel>
          <input type="radio" ngbButton [value]="TopOffersFilter.other" /> Other
        </label>
      </div>
    </div>

    <div class="row">
      <app-top-up-item
        *ngFor="let item of topOffers"
        [value]="item"
        class="col-xl-3 col-lg-4 col-md-6 col-sm-12"
        >>
      </app-top-up-item>
    </div>
  </div>
</section> -->

<section class="Home-sectionE" [hidden]="!recentVideo">
  <div class="container-fluid u-wp">
    <div class="row">
      <div class="col-xl-4">
        <div class="Home-sectionE-info">
          <h2 class="mesf-Title Home-sectionE-title">
            {{ "HOME.SECTIONE.TITLE1" | translate }}
          </h2>
          <h3 class="mesf-SubTitle Home-sectionE-subtitle">
            {{
              recentVideo?.title
                | customTranslate: (languageService?.language | async)
            }}
          </h3>
          <button
            class="btn btn-outline-light Home-sectionA-banner-btn"
            routerLink="/videos"
          >
            {{ "HOME.ALL_VIDEOS" | translate }}
          </button>
        </div>
      </div>

      <div class="col-xl-8">
        <iframe
          class="Home-sectionE-video"
          [src]="recentVideo?.youtubeUrl | safe: 'url'"
          allowfullscreen="true"
          webkitallowfullscreen="true"
          mozallowfullscreen="true"
        ></iframe>
        <!-- <div class="Home-sectionE-video">
          <button class="mesf-VideoBtn"></button>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="Home-sectionF">
  <div class="container-fluid u-wp">
    <div class="mesf-Title Home-sectionF-title">
      {{ "HOME.SECTIONF.TITLE1" | translate }}
    </div>

    <div class="row justify-content-between">
      <app-article-item
        *ngFor="let item of trendingPosts"
        [data]="item"
        class="Home-sectionF-item"
      ></app-article-item>
    </div>

    <div class="Home-sectionF-footer">
      <a routerLink="/article/more" class="btn btn-outline-light">{{
        "HOME.SECTIONF.BTN1" | translate
      }}</a>
    </div>
  </div>
</section>

<section class="Home-sectionG">
  <div class="u-wp Home-sectionG-wp">
    <h2 class="mesf-Title Home-sectionG-title">
      {{ "HOME.SECTIONG.TITLE1" | translate }}
    </h2>
    <p class="mesf-Text Home-sectionG-text">
      {{ "HOME.SECTIONG.P" | translate }}
    </p>
    <button
      [routerLink]="[AppHtmlRoutes.aboutUs]"
      class="btn btn-outline-light Home-sectionA-banner-btn"
    >
      {{ "HOME.SECTIONG.BTN1" | translate }}
    </button>
  </div>
</section>
