@import "shared";

:host {
  display: block;
}
.SeasonSelectTeam {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 80px);
  &-container {
    width: 100%;
    max-width: 756px;
    padding: 0 24px;
    margin: 0 auto;
  }
  &-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &-inner {
    padding-top: 72px;
    width: 100%;
    @include md {
      padding-top: 56px;
    }
  }
  &-heading {
    margin-bottom: 32px;
    @include md {
      margin-bottom: 16px;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include md {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &-content {
    p {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-medium-color);
      margin-bottom: 12px;
    }
  }
  &-lists {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    @include md {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    .item {
      text-align: center;
      width: 100%;
      max-width: calc(100% / 3 - 16px);
      height: 205px;
      background: var(--blackcurrant-color-medium);
      border: 1px solid var(--color-black-medium);
      border-radius: 20px;
      padding: 0;
      cursor: pointer;
      margin-bottom: 20px;
      overflow: hidden;
      @include md {
        height: 176px;
      }

      &:hover {
        border-color: var(--main-color);
      }

      &.active {
        border-color: var(--main-color);
  
        .team-name {
          color: var(--main-color);
        }
  
        .number-player {
          color: var(--main-color);
        }
      }

      &.item-last {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        flex-direction: column;
        .icon {
          border: 2px solid var(--tertiary-color);
          box-sizing: border-box;
          border-radius: 24px;
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          width: 48px;
          height: 48px;
          margin-bottom: 16px;
          @include md {
            border: none;
            width: auto;
            height: auto;
            margin-bottom: 20px;
            ::ng-deep svg {
              width: 24px;
              height: 24px;
            }
            ::ng-deep svg path {
              fill: var(--main-color);
            }
          }
        }
        p {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: var(--white);
        }
      }
      @include md {
        max-width: calc(100% / 2 - 8px);
        margin-bottom: 16px;
      }
      &:nth-child(3n + 2) {
        margin: 0 24px 20px;
        @include md {
          margin: 0;
        }
      }
      .backgroup-top {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 109px;
        @include md {
          height: 77px;
        }
      }
      .avatar-team {
        width: 56px;
        height: 56px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin-top: -28px;
        margin-bottom: 8px;
        margin-right: auto;
        margin-left: auto;
        filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.12))
          drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
      }
      .team-name {
        width: 100%;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: var(--white);
        margin-bottom: 0;
      }
      .number-player {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: var(--tolopea-medium-color);
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
}
.ss-footer-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--blackcurrant-color-medium);
  z-index: 9;
  .inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 24px;
    .box-item {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      max-width: 50%;
      &-left {
        justify-content: flex-start;
        @include md {
          display: none;
        }
      }
      &-right {
        justify-content: flex-end;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        span {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-align: right;
          color: var(--tolopea-color);
          display: inline-block;
          margin-right: 16px;
          @include md {
            text-align: left;
            margin-right: 0;
            margin-bottom: 16px;
          }
        }
      }
      @include md {
        max-width: 100%;
        justify-content: center;
      }

      @include sm {
        max-width: 100%;
      }
      button {
        margin-right: 0;
        background: var(--tertiary-color);
        border-radius: 6px;
        box-shadow: none;
        text-transform: none;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--color-white-medium);
        padding: 0 32px;
        height: 48px;
        @include md {
          width: 100%;
          max-width: 100%;
        }
        &.active {
          background-color: var(--secondary-color);
        }
      }
    }
  }
}
