@import "shared";

:host {
  display: block;
}

.BracketMatch-manage {
  @extend %u-dfCenterBtw;
  margin-bottom: px2vw-xl(8px);

  @include lg {
    margin-bottom: px2vw-lg(8px);
  }

  @include md {
    margin-bottom: px2vw-md(8px);
  }

  @include sm {
    margin-bottom: px2vw-sm(8px);
  }

  &-item {
    @extend %u-dfCenterBtw;
    border-radius: px2vw-xl(4px);
    border: px2vw-xl(1px) solid var(--white-smoke);
    padding: px2vw-xl(8px);
    width: px2vw-xl(102px);
    background-color: var(--color-background);

    @include lg {
      border-radius: px2vw-lg(4px);
      border-width: px2vw-lg(1px);
      padding: px2vw-lg(8px);
      width: px2vw-lg(102px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      border-width: px2vw-md(1px);
      padding: px2vw-md(8px);
      width: px2vw-md(102px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      border-width: px2vw-sm(1px);
      padding: px2vw-sm(8px);
      width: px2vw-sm(102px);
    }
  }

  &-input {
    @extend %caption;
    width: px2vw-xl(62px);
    background-color: transparent;

    @include lg {
      width: px2vw-lg(62px);
    }

    @include md {
      width: px2vw-md(62px);
    }

    @include sm {
      width: px2vw-sm(62px);
    }
  }

  &-icon {
    @extend %u-dfCenterCenter;
    margin-left: px2vw-xl(5px);
    width: px2vw-xl(16px);
    height: px2vw-xl(16px);
    font-size: px2vw-xl(16px);
    color: var(--color-primary);
    cursor: pointer;
    transition: $global-transition2;

    @include lg {
      margin-left: px2vw-lg(5px);
      width: px2vw-lg(16px);
      height: px2vw-lg(16px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(5px);
      width: px2vw-md(16px);
      height: px2vw-md(16px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(5px);
      width: px2vw-sm(16px);
      height: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.BracketMatch-items {
  position: relative;
  display: flex;
  flex-direction: column;
  height: px2vw-xl(66px);
  width: px2vw-xl(212px);

  @include lg {
    width: px2vw-lg(212px);
    height: px2vw-lg(66px);
  }

  @include md {
    width: px2vw-md(212px);
    height: px2vw-md(66px);
  }

  @include sm {
    width: px2vw-sm(212px);
    height: px2vw-sm(66px);
  }

  &-match {
    @extend %body-1;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: px2vw-xl(-20px);
    margin-bottom: 0;
    color: var(--white-medium);

    @include lg {
      left: px2vw-lg(-20px);
    }

    @include md {
      left: px2vw-md(-20px);
    }

    @include sm {
      left: px2vw-sm(-20px);
    }
  }

  &-block {
    @extend %u-dfCenter;
    width: 100%;
    height: px2vw-xl(32px);
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background-color: var(--black-drk-new);

    @include lg {
      height: px2vw-lg(32px);
    }

    @include md {
      height: px2vw-md(32px);
    }

    @include sm {
      height: px2vw-sm(32px);
    }

    &:first-of-type {
      margin-bottom: px2vw-xl(2px);
      border-top-right-radius: px2vw-xl(4px);
      border-top-left-radius: px2vw-xl(4px);

      @include lg {
        margin-bottom: px2vw-lg(2px);
        border-top-right-radius: px2vw-lg(4px);
        border-top-left-radius: px2vw-lg(4px);
      }

      @include md {
        margin-bottom: px2vw-mdlg(2px);
        border-top-right-radius: px2vw-md(4px);
        border-top-left-radius: px2vw-md(4px);
      }

      @include sm {
        margin-bottom: px2vw-sm(2px);
        border-top-right-radius: px2vw-sm(4px);
        border-top-left-radius: px2vw-sm(4px);
      }
    }

    &:last-of-type {
      margin-top: px2vw-xl(2px);
      border-bottom-right-radius: px2vw-xl(4px);
      border-bottom-left-radius: px2vw-xl(4px);

      @include lg {
        margin-top: px2vw-lg(2px);
        border-bottom-right-radius: px2vw-lg(4px);
        border-bottom-left-radius: px2vw-lg(4px);
      }

      @include md {
        margin-top: px2vw-md(2px);
        border-bottom-right-radius: px2vw-md(4px);
        border-bottom-left-radius: px2vw-md(4px);
      }

      @include sm {
        margin-top: px2vw-sm(2px);
        border-bottom-right-radius: px2vw-sm(4px);
        border-bottom-left-radius: px2vw-sm(4px);
      }
    }
  }

  &-number {
    @extend %u-dfCenterCenter;
    @extend %subtitle-1;
    flex-shrink: 0;
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);
    background-color: var(--black-drk-new1);
    color: var(--white);

    @include lg {
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-player {
    @extend %caption;
    margin: px2vw-xl(8px) px2vw-xl(12px);
    width: 100%;
    background-color: var(--black-drk-new);
    color: var(--white-disabled);
    font-family: "maxis-light";

    @include lg {
      margin: px2vw-lg(8px) px2vw-lg(12px);
    }

    @include md {
      margin: px2vw-md(8px) px2vw-md(12px);
    }

    @include sm {
      margin: px2vw-sm(8px) px2vw-sm(12px);
    }
  }

  &-score {
    @extend %u-dfCenterCenter;
    @extend %subtitle-1;
    flex-shrink: 0;
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);
    background-color: var(--black-drk-new1);
    color: var(--white-medium);

    @include lg {
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }
}
