<div class="tools">
  <br>
  <h3>{{"tools.Manage_tools" | translate }}</h3>
</div>
<div class="Photo-fields-item-country country d-md-none">
  <mat-form-field class="global-MatField" appearance="outline">
    <mat-label>
      {{
      "tools.Notifications"| translate
      }}
    </mat-label>
    <mat-select>
      <mat-option value="Participant requests">{{"drop.Participant_requests"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.Brackets"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.user_reports"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.Discussion"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.Notifications"|translate}}</mat-option>
      <mat-option value="Participant requests">{{"tools.scoring"|translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<header class="Inbox-header">
  <h1 class="Inbox-header-title">
    {{"tools.Notifications"| translate}}
  </h1>
  <button class="Inbox-header-button button-primary" [routerLink]="'add-notification'">
    {{'new notification'|uppercase}}
  </button>
</header>
<div class="SelectGame-search">
  <app-inputt-search [placeholder]="'Search for notifications '" [text]="" (onTextChange)="onTextChange($event)">
  </app-inputt-search>
</div>
<section class="Inbox-content" *ngIf="slicesMessages.length; else noMessages">
  <div class="Inbox-content-header">
    <div class="Inbox-content-message">
      <mat-checkbox class="Inbox-content-message-checkbox" (click)="onSelectAll()"></mat-checkbox>
      <p class="Inbox-content-message-date main global-Elipses">
        {{ "PROFILE.INBOX.DATE_AND_TIME" | translate }}
      </p>
      <span class="Inbox-content-message-text main">
        {{ "PROFILE.INBOX.MESSAGE" | translate }}
      </span>
    </div>
  </div>

  <ul class="Inbox-content-messages">
    <ng-container *ngFor="let item of slicesMessages">
      <li class="Inbox-content-message">
        <mat-checkbox class="Inbox-content-message-checkbox" [(ngModel)]="item.isChecked">
        </mat-checkbox>
        <p class="Inbox-content-message-date global-Elipses">
          {{ item?.createdAt | date: "short" }}
        </p>
        <span class="Inbox-content-message-text global-Elipses">
          {{ item?.message }}
        </span>
      </li>
    </ng-container>
  </ul>

  <div class="Inbox-content-pagination">
    <mat-paginator [length]="messages.length" [pageSize]="messagesPerPage[0]" [pageSizeOptions]="messagesPerPage"
      (page)="onPageChange($event)"></mat-paginator>
  </div>
</section>

<ng-template #noMessages>
  <div class="Inbox-empty">
    <h2 class="Inbox-empty-title">
      <!-- {{ "PROFILE.INBOX.EMPTY_TITLE" | translate }} -->
    </h2>
  </div>
</ng-template>

<app-fullscreen-loading *ngIf="false"></app-fullscreen-loading>