@import "shared";

:host {
  display: block;
}
.PopupEdit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--white);
  height: 100vh;
  width: 100%;
  max-width: 456px;
  overflow: hidden;
  overflow-y: auto;
  &-form {
    padding: 36px 53px 32px;
    @include md {
      padding: 24px;
    }
    .form-group {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      .form-label {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--blackcurrant-color-medium);
        margin-bottom: 4px;
        width: 100%;
      }
      ::ng-deep .form-label {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--blackcurrant-color-medium);
        margin-bottom: 0;
        width: 100%;
      }
      ::ng-deep .TournamentTimeInput,
      ::ng-deep .TournamentDateInput {
        background: transparent;
        border: 2px solid var(--tolopea-color);
        border-radius: 4px;
      }
      .input-group {
        border: 2px solid var(--tolopea-color);
        padding: 10px 16px;
        border-radius: 4px;
        width: 100%;
        align-items: center;
        @include sm {
          max-width: 100%;
        }
        .icon {
          display: inline-block;
          margin: 0 18px 0 0;
          line-height: 1;
        }
        .form-field {
          @extend %global-textSm;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: transparent;
          color: var(--blackcurrant-color-medium);
          width: 100%;
          &::placeholder {
            color: var(--tertiary-color);
          }
        }
      }
      .textarea-group {
        border: 2px solid var(--tolopea-color);
        border-radius: 4px;
        width: 100%;
        .form-field {
          @extend %global-textSm;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: transparent;
          color: var(--blackcurrant-color-medium);
          width: 100%;
          height: 228px;
          min-height: auto;
          max-height: none;
          padding: 12px 16px;
          &::placeholder {
            color: var(--tertiary-color);
          }
        }
      }
    }
  }
  &-heading {
    width: 100%;
    z-index: 9;
    padding: 24px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.28);
    background-color: var(--white);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(
        90deg,
        var(--ui-win) 20%,
        #ff8e26 20%,
        #ff8e26 40%,
        #f12ba3 40%,
        #de2bb5 60.02%,
        var(--secondary-color) 60.02%
      );
    }
    .title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      display: flex;
      align-items: center;
      letter-spacing: -0.5px;
      color: var(--blackcurrant-color-medium);
      margin-bottom: 0;
      @include sm {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .btn-close {
      width: 48px;
      height: 48px;
      padding: 0;
      border: 2px solid var(--tolopea-color);
      border-radius: 50%;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      .icon {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
  }
  &-ButtonGroup {
    padding: 0 53px 60px;
    @include md {
      padding: 0 24px 16px;
    }
    .btn {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-transform: none;
      @include md {
        width: 100%;
      }
    }
  }
}

::ng-deep.mat-checkbox .mat-checkbox-label {
  @include md {
    color: var(--blackcurrant-color-medium);
  }
}
