<section class="PopupEdit">

  <div class="PopupEdit-container">
    <div class="PopupEdit-wrapper">
      <div class="PopupEdit-inner">
        <div class="PopupEdit-heading">
          <h2 class="title">{{ "MANAGE_TOURNAMENT.CLIPS.POPUP.TITLE" | translate }}</h2>
          <button class="btn btn-close" (click)="hidePopup.emit()">
            <span class="icon" inlineSVG="assets/icons/Icon-close-blu.svg"></span>
          </button>
        </div>
        <div class="PopupEdit-form">
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "MANAGE_TOURNAMENT.CLIPS.POPUP.TITLE_CLIP" | translate }}
              </label>
              <div class="input-group">
                <input class="form-field" matInput type="text"
                  placeholder="{{ 'MANAGE_TOURNAMENT.CLIPS.POPUP.TITLE_CLIP' | translate }}" />
              </div>

            </div>
          </div>
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "MANAGE_TOURNAMENT.CLIPS.POPUP.VIDEO_URL" | translate }}
              </label>
              <div class="input-group">
                <input class="form-field" matInput type="text"
                  placeholder="{{ 'MANAGE_TOURNAMENT.CLIPS.POPUP.VIDEO_URL' | translate }}" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "MANAGE_TOURNAMENT.CLIPS.POPUP.SHORT_DESCRIPTION" | translate }}
              </label>
              <div class="textarea-group">
                <textarea class="form-field form-field-textarea" matInput></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="PopupEdit-ButtonGroup">
          <button type="button" class="btn button-primary" (click)="hidePopup.emit()">{{ "BUTTON.ADD_CLIP" | translate
            }}</button>
        </div>
      </div>
    </div>
  </div>

</section>