<section
  class="game-sectionC imgmargin"
  [style.background-image]="'url(' + gameBanner + ')'"
>
  <div class="u-wp">
    <div class="game-sectionC-content">
      <h2 class="game-sectionC-title">
        {{ "GAME.GAMES" | translate }}
      </h2>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-sm-4">
    <div class="Games-sectionA-content">
      <div class="Games-sectionA-steps">
        <h3 class="Games-sectionA-steps-title global-Title2">
          {{ "GAME.START_STEPS" | translate }}
        </h3>
        <ul class="Games-sectionA-steps-list" *ngIf="true">
          <li class="Games-sectionA-steps-item">
            <span class="Games-sectionA-steps-number">1.</span>
            {{ "GAME.STEPS_1" | translate }}
          </li>
          <li class="Games-sectionA-steps-item">
            <span class="Games-sectionA-steps-number">2.</span>
            {{ "GAME.STEPS_2" | translate }}
          </li>
          <li class="Games-sectionA-steps-item">
            <span class="Games-sectionA-steps-number">3.</span>
            {{ "GAME.STEPS_3" | translate }}
          </li>
        </ul>
        <button
          class="Home-sectionB-left-header-button btn btn-outline-light"
          routerLink="/profile/profile-setting"
        >
          {{ "GAME.SELECT" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="Games-sectionB">
      <div class="Games-sectionB-cards" *ngIf="gameList.length">
        <div
          class="Games-sectionB-card"
          *ngFor="let game of gameList; let i = index"
        >
          <div class="Games-sectionB-card-image-block">
            <img
              class="Games-sectionB-card-image"
              [src]="game.logo ? game.logo : './assets/images/Home/top1.png'"
              alt="image"
            />
            <div class="Games-sectionB-card-image-block-button text-center">
              <button class="mesf-EditBtn btnmob" (click)="openDialog(game)">
                {{ "GAMES.HOVER.BTN1" | translate }}
              </button>
            </div>
          </div>
          <p class="Games-sectionB-card-game global-Elipses">
            {{ game.name | uppercase }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-1"></div>
