@import "shared";

.mesf-EditBtn {
  
    padding: px2vw-xl(14px) px2vw-xl(24px) !important;
  
}

.btn {
font-size: px2vw-xl(20px);

@include lg {
  font-size: px2vw-lg(14px);
}

@include md {
  font-size: px2vw-md(16px);
}

@include sm {
  font-size: px2vw-sm(16px);
  margin-bottom: px2vw-sm(18px);
}

}
.Games-sectionA {
  margin-bottom: px2vw-xl(60px);

  @include lg {
    margin-bottom: px2vw-lg(60px);
  }

  @include md {
    margin-bottom: px2vw-md(60px);
  }

  @include sm {
    margin-bottom: px2vw-sm(60px);
  }

  &-title {
    margin-bottom: px2vw-xl(26px);

    @include lg {
      margin-bottom: px2vw-lg(26px);
    }

    @include md {
      margin-bottom: px2vw-md(26px);
    }

    @include sm {
      margin-bottom: px2vw-sm(26px);
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include md {
      flex-direction: column;
    }
  }

  &-image-banner {
    border-radius: px2vw-xl(10px);
    height: px2vw-xl(650px);
    object-fit: cover;
    width: 100%;
    background-repeat: no-repeat;

    @include lg {
      border-radius: px2vw-lg(10px);
      width: 100%;
      height: px2vw-lg(500px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
      border-radius: px2vw-md(10px);
      width: 100%;
      height: px2vw-md(360px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(360px);
      width: 100%;
    }
  }

  &-steps {
    margin-left: px2vw-xl(100px);
    margin-right: px2vw-xl(100px);
    @include lg {
      margin-left: px2vw-lg(30px);
    }

    @include md {
      margin-left: 0;
    }
  }

  &-steps-title {
    margin-bottom: px2vw-xl(30px);
    border-bottom: 2px solid var(--primary-purple);
    padding-bottom: px2vw-xl(10px);
    font-size: px2vw-xl(50px);
    line-height: px2vw-xl(48px);
    text-transform: uppercase !important;
    font-family: "dynasty-primary-large", sans-serif;
    

    @include lg {
      margin-bottom: px2vw-lg(30px);
      padding-bottom: px2vw-lg(10px);
      font-size: px2vw-lg(40px);
      line-height: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
      padding-bottom: px2vw-md(10px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
      padding-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(32px);
      line-height: px2vw-sm(48px);
    }
  }

  &-steps-list {
    margin-bottom: px2vw-xl(35px);

    @include lg {
      margin-bottom: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(35px);
    }

    @include sm {
      margin-bottom: px2vw-sm(35px);
    }
  }

  &-steps-item {
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(32px);
    }

    &:not(:last-child) {
      margin-bottom: px2vw-xl(15px);

      @include lg {
        margin-bottom: px2vw-lg(15px);
      }

      @include md {
        margin-bottom: px2vw-md(15px);
      }

      @include sm {
        margin-bottom: px2vw-sm(15px);
      }
    }
  }

  &-steps-number {
    display: inline-block;
    margin-right: px2vw-xl(28px);
    min-width: px2vw-xl(20px);
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(24px);
    color: var(--primary-sunset-light);

    @include lg {
      margin-right: px2vw-lg(28px);
      min-width: px2vw-lg(20px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(28px);
      min-width: px2vw-md(20px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(28px);
      min-width: px2vw-sm(20px);
      font-size: px2vw-sm(24px);
    }
  }
}

.Games-sectionB {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-title {
    margin-bottom: px2vw-xl(48px);

    @include lg {
      margin-bottom: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(48px);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, px2vw-xl(260px));
    grid-column-gap: px2vw-xl(20px);
    grid-row-gap: px2vw-xl(30px);

    @include lg {
      grid-template-columns: repeat(3, px2vw-lg(230px));
      grid-column-gap: px2vw-lg(25px);
      grid-row-gap: px2vw-lg(30px);
    }

    @include md {
      grid-template-columns: repeat(3, px2vw-md(230px));
      grid-column-gap: px2vw-md(15px);
      grid-row-gap: px2vw-md(30px);
    }

    @include sm {
      grid-template-columns: 1fr;
      grid-column-gap: px2vw-sm(15px);
      grid-row-gap: px2vw-sm(30px);
    }
  }

  &-card {
    width: 100%;
    transition: 100ms linear;

    &:hover {
      opacity: 0.9;
    }
  }

  &-card-image-block {
    overflow: hidden;
    position: relative;
    height: px2vw-xl(263px);
    border-radius: px2vw-xl(10px);
    background-color: var(--base-black-pearl);

    @include lg {
      border-radius: px2vw-lg(10px);
      height: px2vw-lg(202px);
    }

    @include md {
      border-radius: px2vw-md(10px);
      height: px2vw-md(230px);
    }

    @include sm {
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(274px);
    }

    &-button {
      position: absolute;
      left: 0;
      right: 0;
      top: 85px;
      opacity: 0;
      transition: opacity 0.35s ease;
      padding: px2vw-xl(16px);
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      @include lg {
        padding: px2vw-lg(16px);
      }

      @include md {
        padding: px2vw-md(16px);
      }

      @include sm {
        padding: px2vw-sm(16px);
      }
    }

    &:hover &-button {
      bottom: 0;
      opacity: 1;
    }

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      background-color: var(--whitecolor) 0% 0% no-repeat padding-box;

      opacity: 0.2;
    }
  }

  &-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include sm {
      object-position: top;
    }
  }

  &-card-game {
    margin-top: px2vw-xl(24px);
    margin-bottom: 0;
    text-align: center;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);
    font-family: "stc-forward-regular", sans-serif;
    color: var(--base-black-pearl);

    @include lg {
      margin-top: px2vw-lg(24px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      margin-top: px2vw-md(24px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      margin-top: px2vw-sm(24px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }
}

::ng-deep .matchMaking {
  width: 506px;

  mat-dialog-container {
    padding: 0;
  }
}

.game-sectionC{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .u-wp {
    padding-top: px2vw-xl(282px);
    padding-bottom: px2vw-xl(220px);

    @include lg {
      padding-top: px2vw-lg(214px);
      padding-bottom: px2vw-lg(200px);
    }
  }

  &-content {
    max-width: px2vw-xl(400px);

    @include lg {
      max-width: px2vw-lg(400px);
    }

    @include md {
      max-width: px2vw-md(400px);
    }

    @include sm {
      max-width: px2vw-sm(400px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(27px);
    font-family: "dynasty-primary-large", sans-serif;
    font-size: px2vw-xl(64px);
    line-height: px2vw-xl(72px);
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(27px);
      font-size: px2vw-lg(64px);
      line-height: px2vw-lg(72px);
    }

    @include md {
      margin-bottom: px2vw-md(27px);
      font-size: px2vw-md(64px);
      line-height: px2vw-md(72px);
    }

    @include sm {
      margin-bottom: px2vw-sm(27px);
      font-size: px2vw-sm(64px);
      line-height: px2vw-sm(72px);
    }
  }
}

.imgmargin{
  margin-bottom: 30px;
}

.btnmob{
@include sm {
  margin: px2vw-sm(5px);
  padding: px2vw-sm(20px) !important;
}
}