<div class="TournamentCard">
  <div class="TournamentCard-image" [lazyLoad]="data.gameDetail.image"></div>

  <div class="TournamentCard-content">
    <header class="TournamentCard-header">
      <h4 class="TournamentCard-header-title global-Elipses">
        {{ data?.name }}
      </h4>

      <a class="TournamentCard-header-link global-link" *ngIf="isManage" (click)="startManage()" routerLink="/manage-tournament/{{data.slug}}" >
        {{ "BUTTON.MANAGE" | translate }}
      </a>

      <a class="TournamentCard-header-link global-link" *ngIf="!isManage">
        {{ "BUTTON.VIEW" | translate }}
      </a>
    </header>

    <p class="TournamentCard-date">
      {{ data.startDate |date }}
    </p>
  </div>
</div>
