<ng-container *ngIf="!componentLoader; else that">
  <span
    *ngIf="
      winner.isDisbursed &&
      winner.winnerUser?.accountDetail?.paymentType == 'stcpay'
    "
  >
    <img [src]="'assets/images/Special-offer/right-mark.svg'" />
  </span>

  <span>
    <button
      *ngIf="
        !(
          winner.winnerUser?.accountDetail?.paymentType == 'stcpay' &&
          winner.isDisbursed
        )
      "
      [disabled]="status != ''"
      (click)="
        disburseAmount(index, winner.winnerUser?.accountDetail?.paymentType)
      "
      class="ml-2 btn btn btn-primary btn-primary-paidia"
    >
      {{
        status
          ? status
          : ("ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.DISBURSE" | translate)
      }}
    </button>
  </span>

  <br />

  <span *ngIf="!winner.winnerUser?.accountDetail?.paymentType">
    {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.NO_PAYMENT" | translate }}
  </span>
</ng-container>

<ng-template #that>
  <span>
    <fa-icon [icon]="faSpinner" size="4x" spin="true"></fa-icon>
  </span>
</ng-template>
