@import "shared";

app-leaderboard-table{
  @include sm {
  width: 100%;
  overflow: scroll;
  }
}

.Leaderboard {
  background: var(--darkest-night);
  &-wrpr{
    position: relative;
    width: 100%;
    max-width: 1308px;
    padding: 32px 24px;
    margin: 0 auto;
  }

  &-header {
    &-title{
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.5px;
      color: var(--color-white-medium);
    }
    &-subtitle{
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: var(--tertiary-color);
      mix-blend-mode: normal;
      margin-bottom: 0;
    }
  }

  &-table {



    position: relative;

    &-toggles,
    &-toggle {
      @extend %u-dfCenter;
    }

    &-content {
      margin-top: px2vw-xl(34px);

      @include lg {
        margin-top: px2vw-lg(34px);
      }

      @include md {
        margin-top: px2vw-md(34px);
      }

      @include sm {
        margin-top: px2vw-sm(34px);
      }
    }
  }
}

.RoundedTabs {
  &-tabs {
    border: 2px solid var(--wet-clay);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 6px;
    margin: 0;
    @include sm {
      margin-right: 0;
      padding: 3px;
      width: 100%;
    }
  }

  &-tab {
    min-width: 107px;
    border: 0;
    border-radius: 18px;
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
    justify-content: center;

    @include lg {
      min-width: px2vw-lg(146px);
    }

    @include md {
      min-width: px2vw-md(146px);
    }

    @include sm {
      min-width: px2vw-sm(146px);
    }

    &.active {
      background: var(--googly-yellow);
      border-radius: 18px;
      color: var(--darkest-night);
    }
  }
}

.Leaderboard-table-pagination{
  margin-top: 10px;
}

.Leaderboard-banner{
  background: url(../../../assets/images/leaderboard-banner.jpg) no-repeat center center / cover;
  min-height: px2vw-xl(480px);
  position: relative;
  .Leaderboard-wrpr{
    position: relative;
    min-height: px2vw-xl(480px);
    span{      
      font-family: var(--selected-font-family);
      font-size: 60px;
      line-height: 68px;
      letter-spacing: 0.5px;
      max-width: px2vw-xl(596px);
      font-weight: 600;
      display: block;
      position: absolute;
      bottom: px2vw-xl(64px);
      left: 0;
    }
  }
}

.SortBy {
  width: 100%;
  max-width: px2vw-xl(280px);
  min-width: px2vw-xl(280px);
  @include sm {
    max-width: 100%;
  }
  .Select-teamDropdown {
    &:hover,
    &.show {
      .Select-teamBtn {
        border: 2px solid var(--wet-clay);
      }
    }
    .Select-teamBtn {
      border: 2px solid var(--wet-clay);
      box-sizing: border-box;
      border-radius: 24px;
      width: 100%;
      text-align: left;
      padding: px2vw-xl(11px) px2vw-xl(17px) px2vw-xl(11px) px2vw-xl(14px);
      @extend %global-textSm;
      color: var(--spacesuit);
      text-transform: none;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      @include sm {
        max-width: 100%;
        padding: px2vw-sm(6px) px2vw-sm(24px);
        font-weight: 500;
      }
      &::after {
        display: inline-block;
        margin-left: 0;
        vertical-align: 0;
        content: "";
        border-top: 2px solid var(--spacesuit);
        border-right: 2px solid var(--spacesuit);
        border-bottom: 0;
        border-left: 0;
        width: 12px;
        height: 12px;
        transform: rotate(135deg);
        transition: $global-transition2;
        position: relative;
        top: -3px;
      }
    }
    .Select-teamDropdownItem {
      top: 55px !important;
      transform: none !important;
      width: 100%;
      z-index: 2;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px 16px;
      background: var(--midnight-express-color);
      border: 0px solid transparent;
      border-right: 4px solid transparent;
      padding-left: 0;
      padding-right: 0;
      max-height: 156px;
      overflow: hidden;
      overflow-y: auto;
      @include sm {
        top: 45px !important;
      }
      &::-webkit-scrollbar {
        width: 8px;
        border-radius: 4px;
      }
      &::-webkit-scrollbar-thumb {
        height: 8px;
        border-radius: 4px;
        background-color: var(--tertiary-color);
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      button {
        font-family: var(--selected-font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: var(--white);
        padding: px2vw-xl(10px) px2vw-xl(16px);
        &:hover {
          background: var(--color-black-medium);
        }
      }
    }
    &.show {
      .Select-teamBtn {
        &::after {
          transform: rotate(315deg);
          transition: $global-transition2;
          top: 4px;
        }
      }
    }
  }
}

.RoundedTabs{
  width: 100%;
  max-width: px2vw-xl(245px);
  min-width: px2vw-xl(245px);
}

.Leaderboard-right{
  margin-top:px2vw-xl(83px)
}