@import "shared";

:host {
  display: block;
}

.InputText {
  &-title {
    margin-bottom: 3px;
  }
  &-input:focus {
    outline: 2px solid var(--main-color);
  }

  // &-input {
  //   flex-grow: 1;
  //   background-color: transparent;
  //   color: var(--base-white);

  //   @include sm {
  //     font-size: px2vw-sm(24px);
  //     line-height: px2vw-sm(32px);
  //   }

  //   &::placeholder {
  //     color: var(--base-white);
  //     opacity: 0.2;
  //   }
  // }

  // &-icon {
  //   margin-left: px2vw-xl(20px);
  //   width: px2vw-xl(27px);

  //   @include lg {
  //     margin-left: px2vw-lg(20px);
  //     width: px2vw-lg(27px);
  //   }

  //   @include md {
  //     margin-left: px2vw-md(20px);
  //     width: px2vw-md(20px);
  //   }

  //   @include sm {
  //     margin-left: px2vw-sm(20px);
  //     width: px2vw-sm(24px);
  //   }
  // }
}

.InputText.basic {
  border-bottom: none;
  padding-bottom: 0;

  .title {
    margin-bottom: px2vw-xl(10px);
    color: var(--base-submarine);

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(20px);
    }
  }

  // .input {
  //   cursor: pointer;
  //   border-radius: px2vw-xl(4px);
  //   background-color: rgba(0, 0, 0, 0.3);
  //   padding: px2vw-xl(16px) px2vw-xl(22px);
  //   transition: 100ms linear;

  //   @include lg {
  //     border-radius: px2vw-lg(4px);
  //     padding: px2vw-lg(16px) px2vw-lg(22px);
  //   }

  //   @include md {
  //     border-radius: px2vw-md(4px);
  //     padding: px2vw-md(16px) px2vw-md(22px);
  //   }

  //   @include sm {
  //     border-radius: px2vw-sm(4px);
  //     padding: px2vw-sm(16px) px2vw-sm(22px);
  //     font-size: px2vw-sm(20px);
  //   }

  //   &:disabled {
  //     cursor: default;

  //     &:hover {
  //       opacity: 1;
  //     }
  //   }

  //   &::placeholder {
  //     opacity: 1;
  //   }
  // }

  // .icon {
  //   display: none;
  // }
}
::ng-deep h3,
::ng-deep .h3 {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--concrete);
}

.InputText-block {
  position: relative;
  width: 100%;
  background: var(--blackcurrant-color-medium);
  border: 2px solid var(--midnight-express-color);
  border-radius: 4px;

  .form-field {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    padding: px2vw-xl(10px) px2vw-xl(16px);
    width: 100%;
    background: transparent;
    &::placeholder {
      color: var(--tertiary-color);
    }
  }
  &-field {
    cursor: pointer;
    transition: $global-transition;
  }
  input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
    color: var(--white) !important;
    -webkit-text-fill-color: var(--white) !important;
  }
  input:-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 50px 50px var(--blackcurrant-color-medium) inset !important;
  }
}
