@import "shared";

:host {
  display: block;
}

.ShopReports {
  &-title {
    margin-bottom: px2vw-xl(10px);
    font-family: "maxis-bold";
    font-size: 25px;
    line-height: 56px;
    color: var(--color-black-shade5);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }
}
table {
  width: 100%;
}
.account-tabl{
  width: 100%;
  overflow: scroll;
  height: 49vh;
}
.filter {
  h3 {
    margin-bottom: px2vw-xl(10px);
    font-family: "maxis-bold";
    font-size: 20px;
    line-height: 32px;
    color: var(--color-black-shade5);
  }
}
.filter .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: var(--color-black-shade6) !important;
}
.btn-apply {
  background: var(--white-solid2);
  border-radius: 4px;
  // padding: 16px 24px;
}
.btn-export {
  background: var(--color-primary);
  border-radius: 4px;
  color: var(--white);
}
::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--black-disabled1) !important;
  }
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 10px !important;
}
  .mat-select-panel {
    background-color: var(--white);
  }
  .mat-select-panel .mat-option .mat-option-text {
    font-family: "maxis-semibold" !important;
    font-size: 0.9722222222vw;
    line-height: 1.3888888889vw;
    letter-spacing: 0;
    color: rgb(80 77 77 / 87%);
  }
  .mat-dialog-container {
    background-color: var(--white) !important;
  }
  .mat-select-panel {
    background: linear-gradient(
0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), linear-gradient(
0deg, #f3f4f3, #fafafa) !important;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.25em 0;
  padding-bottom: 0;
}

::-webkit-scrollbar {
  height: 5px;
  width: 9px;
}
.mat-select-panel {
  background-color: var(--white) !important;
}

.mat-calendar {
  background: linear-gradient(
0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), linear-gradient(
0deg, #f3f4f3, #fafafa) !important;
  border: 0.0694444444vw solid var(--white-light);
}
.mat-calendar-arrow {
  border-top-color: rgb(89 87 87 / 77%);
}
.mat-calendar-previous-button::after, .mat-calendar-next-button::after {
  border-color: #000 !important;
}
.mat-calendar-table-header {
  font-family: "redhat-regular";
  color: rgb(6 6 6 / 60%);
}
.mat-calendar-body-cell-content {
  font-family: "redhat-regular";
  color: #000;
}
.global-Tabs button, .mat-calendar-period-button, .global-MainTabs .mat-tab-label, .subtitle-2 {
  font-family: "maxis-bold";
  font-size: 1.1111111111vw;
  line-height: 1.6666666667vw;
  letter-spacing: 0.0069444444vw;
  color: rgb(8 8 8 / 87%);
}
.mat-calendar-body-label {
  font-family: "redhat-regular";
  color: rgb(10 10 10 / 60%);
}
.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #00000070;
}

}

.date-col
{
  width: 100px;
}

