@import "shared";

.Message {
    margin: px2vw-xl(35px) 0;


    &-textarea {
      resize: none;
      width: 100%;
      border: 1px solid var(--base-gainsboro);
      border-radius: px2vw-xl(4px);
      height: px2vw-xl(135px);
      padding: px2vw-xl(24px);
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(24px);
      color: var(--base-black-pearl);
  
      @include lg {
        border-radius: px2vw-lg(4px);
        height: px2vw-lg(135px);
        padding: px2vw-lg(24px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }
  
      @include md {
        border-radius: px2vw-md(4px);
        height: px2vw-md(135px);
        padding: px2vw-md(24px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
      }
  
      @include sm {
        border-radius: px2vw-sm(4px);
        height: px2vw-sm(135px);
        padding: px2vw-sm(24px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }
    }

    &-text {
      margin-bottom: px2vw-xl(16px);
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);
      letter-spacing: 0.9px;

      @include lg {
        margin-bottom: px2vw-lg(16px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(16px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
      }
    }

    &-submit {
        margin-top: px2vw-xl(16px);
        text-align: right;

        @include lg {
          margin-top: px2vw-lg(16px);
        }

        @include md {
          margin-top: px2vw-md(16px);
        }

        @include sm {
          margin-top: px2vw-sm(16px);
        }
  
        button {
          width: px2vw-xl(170px);

          @include md {
           width: px2vw-md(150px);

          }


          @include sm {
            width: 100%;
            font-size: px2vw-sm(20px);
          }

          &.is-proccesing {
            mat-spinner {
              margin: auto;
            }
          }
        }
    }

    &-cancel {
      margin-right: px2vw-xl(15px);

      @include lg {
        margin-right: px2vw-lg(15px);
      }

      @include md {
        margin-right: px2vw-md(15px);
      }

      @include sm {
        margin-right: px2vw-sm(15px);
        margin-bottom: px2vw-sm(20px);
      }

    }

}