<div *ngIf="isShow" class="shop_reload">
  <div class="header_mob">
    <div class="ac-header-container d-flex align-items-center">
      <div class="mob_game_icon">
        <img class="game_icon" src="assets/images/GGicon-green.png" alt="geng game icon" />
      </div>
      <h5 class="SettingsLightbox-title">{{ "HEADERS.RELOAD" | translate }}</h5>
    </div>
    <button class="btn_close_mobile" aria-label="Close" (click)="onClose();">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-header model_header">
    <h4 class="modal-title modal_title" id="modal-basic-title">{{ "HEADERS.RELOAD" | translate }}</h4>
    <button type="button" class="close btnmodel_close" aria-label="Close" (click)="onClose();">
      <img src="assets/wallet/modal_close_cross.svg" class="img-fluid" />
    </button>
  </div>
  <div class="modal-body modal_body">
    <h4 class="heading_body_title">{{ "HEADERS.RELOAD" | translate }}</h4>
    <div class="row currbal_pref">
      <div class="col-lg-12">
        <div class="balance-card">
          <div class="balance-card-inside">
            <div class="balance-card-coin-text">
              <h4>{{ "WALLET.BALANCE.CURRENT_BALANCE" | translate }}</h4>
            </div>
            <!-- <div class="balance-card-coin balance_card">
              <p>{{ "HEADERS.COIN" | translate }}</p>
            </div> -->
          </div>
          <!-- <hr class="line border_top" /> -->
          <div class="balance-card-inner balance">
            <div>
              <div class="display_amount">
                <img class="Header-logo" src="assets/wallet/icon-gc.svg" alt="logo" />
                <div class="amountdisplay">
                  {{amount | number}}
                </div>
                <!-- <div class="subforamout">
                  {{ "HEADERS.GENG_COINS" | translate }}
                </div> -->
              </div>
              <div class="balance_preference_limit">
                <div class="balance-pin-setup">
                  <p *ngIf="firtstimeflag != false">{{amount | number}} {{ "HEADERS.EXPIRING" | translate }}
                    {{expdate |
                    date:'mediumDate'}}</p>
                </div>
                <div class="balance-pin-setup">
                  <p>{{ "HEADERS.ACCOUNT_LIMIT" | translate }} {{maxLimit |number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" |
                    translate }}</p>
                </div>
                <div class="balance-card-coin balance_card">
                  <p>{{ "HEADERS.COIN" | translate }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="modal_subheading">
      <div class="select_top_up_amount">
        {{ "HEADERS.RELOAD_AMOUNT" | translate }}
      </div>
      <!-- <div class="coin_text" *ngIf="isSelected">
        {{ "HEADERS.COIN" | translate }}
      </div> -->
    </div>
    <!-- <div class="stmsg for_web">
      <p class="text-muted">*{{ "USER.SSTMSG" | translate }}</p>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="top_up_itemcontainer">
          <div class="item" *ngFor="let D of datafortopupmoney;">
            <div class="select_top_up_amount-card" (click)="selectedvaluefun(D)" *ngIf="D.selectflag == false">
              <div class="select_top_up_amount-prize">
                RM {{D.topUpValue | number}}
              </div>
              <div class="select_top_up_amount-coins">
                {{D.dpwDisplayValue | number}} GC
              </div>
            </div>
            <div class="select_top_up_amount-card1" *ngIf="D.selectflag == true">
              <div class="select_top_up_amount-prize1">
                RM {{D.topUpValue | number}}
              </div>
              <div class="select_top_up_amount-coins1">
                {{D.dpwDisplayValue | number}} GC
              </div>
            </div>
          </div>
        </div>
        <div class="stmsg">
          <p class="text-muted">*{{ "USER.SSTMSG" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="select_top_up_amount-box">
      <div class="select_top_up_amount">
        {{ "HEADERS.RELOAD_METHOD" | translate }}
      </div>
    </div>
    <div *ngIf="showwalletthings == true">
      <div *ngFor="let M of datafortopupmethod">
        <div class="topup-method-row-first" *ngIf="M.selectflag == false && M.paymentMethod == 'Credit/Debit card'"
          (click)="selectedvaluefun1(M)">
          <div class="topup-method-item">
            <div class="topup-method-item-icon">
              <svg class="credit_debit" width="24" height="20" viewBox="0 0 24 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.3333 5.33463H2.66665V3.0013H21.3333V5.33463ZM21.3333 17.0013H2.66665V10.0013H21.3333V17.0013ZM21.3333 0.667969H2.66665C1.37165 0.667969 0.333313 1.7063 0.333313 3.0013V17.0013C0.333313 17.6201 0.579146 18.2136 1.01673 18.6512C1.45432 19.0888 2.04781 19.3346 2.66665 19.3346H21.3333C21.9522 19.3346 22.5456 19.0888 22.9832 18.6512C23.4208 18.2136 23.6666 17.6201 23.6666 17.0013V3.0013C23.6666 2.38246 23.4208 1.78897 22.9832 1.35139C22.5456 0.913801 21.9522 0.667969 21.3333 0.667969Z"
                  fill="#00FA00" />
              </svg>
            </div>
            <div class="topup-method-item-info">
              <div class="topup-method-item-info-label">
                <!-- {{M.paymentMethod}} --> Credit and Debit Cards
              </div>
              <!-- <div class="topup-method-item-info-text">
                Use Visa, Mastercard and more
              </div> -->
            </div>
          </div>
        </div>
        <div class="topup-method-row-first1" *ngIf="M.selectflag == true && M.paymentMethod == 'Credit/Debit card'">
          <div class="topup-method-item">
            <div class="topup-method-item-icon">
              <svg class="credit_debit" width="24" height="20" viewBox="0 0 24 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.3333 5.33463H2.66665V3.0013H21.3333V5.33463ZM21.3333 17.0013H2.66665V10.0013H21.3333V17.0013ZM21.3333 0.667969H2.66665C1.37165 0.667969 0.333313 1.7063 0.333313 3.0013V17.0013C0.333313 17.6201 0.579146 18.2136 1.01673 18.6512C1.45432 19.0888 2.04781 19.3346 2.66665 19.3346H21.3333C21.9522 19.3346 22.5456 19.0888 22.9832 18.6512C23.4208 18.2136 23.6666 17.6201 23.6666 17.0013V3.0013C23.6666 2.38246 23.4208 1.78897 22.9832 1.35139C22.5456 0.913801 21.9522 0.667969 21.3333 0.667969Z"
                  fill="#00FA00" />
              </svg>
            </div>
            <div class="topup-method-item-info">
              <div class="topup-method-item-info-label1">
                <!-- {{M.paymentMethod}} --> Credit and Debit Cards
              </div>
              <!-- <div class="topup-method-item-info-text1">
                Use Visa, Mastercard and more
              </div> -->
            </div>
          </div>
        </div>
        <div class="topup-method-row-first" *ngIf="M.selectflag == false && M.paymentMethod == 'Online banking'"
          (click)="selectedvaluefun1(M)">
          <div class="topup-method-item">
            <div class="topup-method-item-icon">
              <svg class="online_banking" width="20" height="21" viewBox="0 0 20 21" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.15649 9V16H5.15649V9H2.15649ZM8.15649 9V16H11.1565V9H8.15649ZM0.156494 21H19.1565V18H0.156494V21ZM14.1565 9V16H17.1565V9H14.1565ZM9.65649 0L0.156494 5V7H19.1565V5L9.65649 0Z"
                  fill="#00FA00" />
              </svg>
            </div>
            <div class="topup-method-item-info">
              <div class="topup-method-item-info-label net_banking">
                {{M.paymentMethod}}
              </div>
              <!-- <div class="topup-method-item-info-text">
                Use Visa, Mastercard and more
              </div> -->
            </div>
          </div>
        </div>
        <div class="topup-method-row-first1" *ngIf="M.selectflag == true && M.paymentMethod == 'Online banking'">
          <div class="topup-method-item">
            <div class="topup-method-item-icon">
              <svg class="online_banking" width="20" height="21" viewBox="0 0 20 21" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M2.15649 9V16H5.15649V9H2.15649ZM8.15649 9V16H11.1565V9H8.15649ZM0.156494 21H19.1565V18H0.156494V21ZM14.1565 9V16H17.1565V9H14.1565ZM9.65649 0L0.156494 5V7H19.1565V5L9.65649 0Z"
                  fill="#00FA00" />
              </svg>
            </div>
            <div class="topup-method-item-info">
              <div class="topup-method-item-info-label1 net_banking">
                {{M.paymentMethod}}
              </div>
              <!-- <div class="topup-method-item-info-text1">
                Use Visa, Mastercard and more
              </div> -->
            </div>
          </div>
        </div>

        <div class="topup-method-row-first" *ngIf="M.selectflag == false && M.paymentMethod == 'DCB'"
          (click)="selectedvaluefun1(M)">
          <div class="topup-method-item">
            <div class="topup-method-item-icon">
              <svg class="pay_with_maxis" width="18" height="28" viewBox="0 0 18 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.16667 22.9091H14.8333V5.09091H3.16667V22.9091ZM3.16667 0H14.8333C15.4522 0 16.0457 0.268181 16.4833 0.745546C16.9208 1.22291 17.1667 1.87036 17.1667 2.54545V25.4545C17.1667 26.1296 16.9208 26.7771 16.4833 27.2545C16.0457 27.7318 15.4522 28 14.8333 28H3.16667C2.54783 28 1.95433 27.7318 1.51675 27.2545C1.07916 26.7771 0.833332 26.1296 0.833332 25.4545V2.54545C0.833332 1.13273 1.87167 0 3.16667 0ZM6.9 16.3333H5.5C5.5 17.7256 6.529 18.9078 7.95 19.3044V21H10.05V19.3044C11.471 18.9078 12.5 17.7256 12.5 16.3333C12.5 14.1711 10.652 13.6578 9.168 13.2456C7.628 12.8333 6.9 12.5222 6.9 11.6667C6.9 10.8267 7.859 10.1111 9 10.1111C10.141 10.1111 11.1 10.8267 11.1 11.6667H12.5C12.5 10.2744 11.471 9.09222 10.05 8.69556V7H7.95V8.69556C6.529 9.09222 5.5 10.2744 5.5 11.6667C5.5 13.8289 7.348 14.3422 8.832 14.7544C10.372 15.1667 11.1 15.4778 11.1 16.3333C11.1 17.1733 10.141 17.8889 9 17.8889C7.859 17.8889 6.9 17.1733 6.9 16.3333Z"
                  fill="#00FA00" />
              </svg>
            </div>
            <div class="topup-method-item-info">
              <div class="topup-method-item-info-label">
                {{ "HEADERS.TOPUP_METHOD" | translate }}
              </div>
              <div class="topup-method-item-info-text">
                {{ "HEADERS.BILL" | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="topup-method-row-first1" *ngIf="M.selectflag == true && M.paymentMethod == 'DCB'">
          <div class="topup-method-item">
            <div class="topup-method-item-icon">
              <svg class="pay_with_maxis" width="18" height="28" viewBox="0 0 18 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.16667 22.9091H14.8333V5.09091H3.16667V22.9091ZM3.16667 0H14.8333C15.4522 0 16.0457 0.268181 16.4833 0.745546C16.9208 1.22291 17.1667 1.87036 17.1667 2.54545V25.4545C17.1667 26.1296 16.9208 26.7771 16.4833 27.2545C16.0457 27.7318 15.4522 28 14.8333 28H3.16667C2.54783 28 1.95433 27.7318 1.51675 27.2545C1.07916 26.7771 0.833332 26.1296 0.833332 25.4545V2.54545C0.833332 1.13273 1.87167 0 3.16667 0ZM6.9 16.3333H5.5C5.5 17.7256 6.529 18.9078 7.95 19.3044V21H10.05V19.3044C11.471 18.9078 12.5 17.7256 12.5 16.3333C12.5 14.1711 10.652 13.6578 9.168 13.2456C7.628 12.8333 6.9 12.5222 6.9 11.6667C6.9 10.8267 7.859 10.1111 9 10.1111C10.141 10.1111 11.1 10.8267 11.1 11.6667H12.5C12.5 10.2744 11.471 9.09222 10.05 8.69556V7H7.95V8.69556C6.529 9.09222 5.5 10.2744 5.5 11.6667C5.5 13.8289 7.348 14.3422 8.832 14.7544C10.372 15.1667 11.1 15.4778 11.1 16.3333C11.1 17.1733 10.141 17.8889 9 17.8889C7.859 17.8889 6.9 17.1733 6.9 16.3333Z"
                  fill="#00FA00" />
              </svg>
            </div>
            <div class="topup-method-item-info">
              <div class="topup-method-item-info-label1">
                {{ "HEADERS.TOPUP_METHOD" | translate }}
              </div>
              <div class="topup-method-item-info-text1">
                {{ "HEADERS.BILL" | translate }}
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="select_top_up_amount-box">
      <button class="top-up-bottom btn_first_reload w-100" (click)="senddatatobackend();"
        [ngClass]="{'button-primary' : isSelected && isPaymentmethod}">
        <span class="top-up-bottom-text">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 0V2H0V3.33333H2V5.33333H3.33333V3.33333H5.33333V2H3.33333V0H2ZM6 2V4H4V6H2V12.6667C2 13.0203 2.14048 13.3594 2.39052 13.6095C2.64057 13.8595 2.97971 14 3.33333 14H12.6667C13.4067 14 14 13.4067 14 12.6667V12H8C7.64638 12 7.30724 11.8595 7.05719 11.6095C6.80714 11.3594 6.66667 11.0203 6.66667 10.6667V5.33333C6.66667 4.97971 6.80714 4.64057 7.05719 4.39052C7.30724 4.14048 7.64638 4 8 4H14V3.33333C14 2.97971 13.8595 2.64057 13.6095 2.39052C13.3594 2.14048 13.0203 2 12.6667 2H6ZM8 5.33333V10.6667H14.6667V5.33333H8ZM10.6667 7C11.22 7 11.6667 7.44667 11.6667 8C11.6667 8.55333 11.22 9 10.6667 9C10.1133 9 9.66667 8.55333 9.66667 8C9.66667 7.44667 10.1133 7 10.6667 7Z"
              fill="black" />
          </svg>
          {{ "HEADERS.RELOAD" | translate }}</span>
      </button>
    </div>
    <button id="myCheck" class="d-none" (click)="open(content2)"></button>
    <button id="myCheck5" class="d-none" (click)="open(content5)"></button>
    <button id="myCheck1" class="d-none" (click)="open3(content3)"></button>
    <button id="myCheck2" class="d-none" (click)="open3(content4)"></button>
  </div>
</div>
<ng-template #content2 let-modal>
  <button id="myCheck1" class="d-none" (click)="open3(content3);modal.dismiss('Cross click');"></button>
  <button id="myCheck2" class="d-none" (click)="open3(content4);modal.dismiss('Cross click');"></button>
  <div class="header_mob">
    <div class="ac-header-container d-flex align-items-center">
      <div class="mob_game_icon">
        <img class="game_icon" src="assets/images/GGicon-green.png" alt="geng game icon" />
      </div>
      <h5 class="SettingsLightbox-title">Reload</h5>
    </div>
    <button class="btn_close_mobile" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-header model_header">
    <h4 class="modal-title modal_title" id="modal-basic-title">Reload</h4>
    <button type="button" class="close btnmodel_close" aria-label="Close"
      (click)="modal.dismiss('Cross click');onCloseAndRedirect()">
      <img src="assets/wallet/modal_close_cross.svg" class="img-fluid" />
    </button>
  </div>
  <div class="modal-body modal_body">
    <div class="row mb-1">
      <div class="col-sm-12 col-12 balance-card-coin font_small">
        {{ "HEADERS.CONFIRM_RELOAD" | translate }}:
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6 col-6 balance-card-coin font_small">
        {{ "HEADERS.RELOAD_AMOUNTS" | translate }}
      </div>
      <div class="col-sm-6 col-6 balance-card-coin font_small">
        {{dcbSSTDetails?.reloadCoins | number}} {{'TRANSACTIONS.RELOAD_VIEW.GC' |translate}}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{ "HEADERS.RELOAD_PRICE" | translate }}
      </div>
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{'TRANSACTIONS.RELOAD_VIEW.RM' |translate}} {{dcbSSTDetails?.reloadPrice | number: '1.2-2' }}
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{ "USER.SERVICE_TEX" | translate }}@ {{dcbSSTDetails?.taxPercentage}}%:
      </div>
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{'TRANSACTIONS.RELOAD_VIEW.RM' |translate}} {{dcbSSTDetails?.tax |number: '1.2-2'}}
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small total_amount">
        <b> {{ "USER.TOTAL_AMOUNT" | translate }}</b>
      </div>
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small total_amount">
        <b>{{'TRANSACTIONS.RELOAD_VIEW.RM' |translate}} {{dcbSSTDetails?.totalPrice |number: '1.2-2'}}</b>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{ "USER.MOBILE_FIBER_NUM" | translate }}
      </div>
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{dcbSSTDetails?.customervalue }}
      </div>
    </div>
    <div class="btn_bottom">
      <div class="select_top_up_amount-box small_box" *ngIf="type != 'DCB'">
        <button class="top-up-bottom button-primary w-100" type="submit" (click)="senddatatobackend1()">
          <span class="top-up-bottom-text"> Confirm</span>
        </button>
      </div>
      <div class="select_top_up_amount-box small_box" *ngIf="type == 'DCB'">
        <button class="top-up-bottom button-primary w-100" type="submit" [disabled]="showwalletthings == false"
          (click)="submitfordcb()">
          <span class="top-up-bottom-text"> Confirm</span>
        </button>
      </div>
      <div class="select_top_up_amount-box small_box">
        <button class="top-up-bottom button-secondary w-100 bg-transparent" type="submit"
          [disabled]="showwalletthings == false" (click)="modal.dismiss('Cross click');;onCloseAndRedirect()">
          <span class="top-up-bottom-text color_white"> Cancel</span>
        </button>
      </div>
    </div>
    <app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
  </div>
</ng-template>
<ng-template #content5 let-modal>
  <button id="myCheck1" class="d-none" (click)="open3(content3);modal.dismiss('Cross click');"></button>
  <button id="myCheck2" class="d-none" (click)="open3(content4);modal.dismiss('Cross click');"></button>
  <div class="header_mob">
    <div class="ac-header-container d-flex align-items-center">
      <div class="mob_game_icon">
        <img class="game_icon" src="assets/images/GGicon-green.png" alt="geng game icon" />
      </div>
      <h5 class="SettingsLightbox-title">Reload</h5>
    </div>
    <button class="btn_close_mobile" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-header model_header">
    <h4 class="modal-title modal_title" id="modal-basic-title">Reload</h4>
    <button type="button" class="close btnmodel_close" aria-label="Close"
      (click)="modal.dismiss('Cross click');onCloseAndRedirect()">
      <img src="assets/wallet/modal_close_cross.svg" class="img-fluid" />
    </button>
  </div>
  <div class="modal-body modal_body">
    <div class="row mb-1">
      <div class="col-sm-6 col-6 balance-card-coin font_small">
        {{ "HEADERS.CONFIRM_RELOAD" | translate }}:
      </div>
      <div class="col-sm-6 col-6 balance-card-coin font_small">
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-sm-6 col-6 balance-card-coin font_small">
        {{ "HEADERS.RELOAD_AMOUNTS" | translate }}
      </div>
      <div class="col-sm-6 col-6 balance-card-coin font_small">
        {{onlineBankingSSTDetails?.reloadCoins | number}} {{'TRANSACTIONS.RELOAD_VIEW.GC' |translate}}
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{ "HEADERS.RELOAD_PRICE" | translate }}
      </div>
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{'TRANSACTIONS.RELOAD_VIEW.RM' |translate}} {{onlineBankingSSTDetails?.reloadPrice | number: '1.2-2' }}
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{ "USER.SERVICE_TEX" | translate }}@ {{onlineBankingSSTDetails?.taxPercentage}}%:
      </div>
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
        {{'TRANSACTIONS.RELOAD_VIEW.RM' |translate}} {{onlineBankingSSTDetails?.tax |number: '1.2-2'}}
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small total_amount">
        <b> {{ "USER.TOTAL_AMOUNT" | translate }}</b>
      </div>
      <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small total_amount">
        <b>{{'TRANSACTIONS.RELOAD_VIEW.RM' |translate}} {{onlineBankingSSTDetails?.totalPrice |number: '1.2-2'}}</b>
      </div>
    </div>
    <div class="row mt-2">
      <ng-container *ngIf="validateEmail(onlineBankingSSTDetails?.customervalue); else elseTemplate">
        <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
          {{ "USER.EMAIL" | translate }}
        </div>
        <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
          {{onlineBankingSSTDetails?.customerEmail}}
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
          {{ "USER.MOBILE_FIBER_NUM" | translate }}
        </div>
        <div class="col-sm-6 col-6 pt-0 balance-card-coin font_small">
          {{onlineBankingSSTDetails?.customervalue}}
        </div>
      </ng-template>
    </div>
    <form ngNoForm action="https://pay-staging.maxis.com.my/maxis-web-adapter-sit/paymentByDIDToken.do" method="POST"
      *ngIf="type != 'DCB'">
      <input name="didToken" value="{{uidtoken}}" class="d-none" />
      <div class="select_top_up_amount-box">
        <button class="top-up-bottom button-primary w-100 d-none" id="myCheck3" type="submit">
          <span class="top-up-bottom-text"> Confirm</span>
        </button>
      </div>
    </form>
    <div class="btn_bottom">
      <div class="select_top_up_amount-box small_box" *ngIf="type != 'DCB'">
        <button class="top-up-bottom button-primary w-100" type="submit" (click)="onlineBanking(false)">
          <span class="top-up-bottom-text"> Confirm</span>
        </button>
      </div>
      <div class="select_top_up_amount-box small_box" *ngIf="type == 'DCB'">
        <button class="top-up-bottom button-primary w-100" type="submit" [disabled]="showwalletthings == false"
          (click)="submitfordcb()">
          <span class="top-up-bottom-text"> Confirm</span>
        </button>
      </div>
      <div class="select_top_up_amount-box small_box">
        <button class="top-up-bottom button-secondary w-100 bg-transparent" type="submit"
          [disabled]="showwalletthings == false" (click)="modal.dismiss('Cross click');;onCloseAndRedirect()">
          <span class="top-up-bottom-text color_white"> Cancel</span>
        </button>
      </div>
    </div>
    <app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
  </div>
</ng-template>
<ng-template #content3 let-modal>
  <div class="header_mob">
    <div class="ac-header-container d-flex align-items-center">
      <div class="mob_game_icon">
        <img class="game_icon" src="assets/images/GGicon-green.png" alt="geng game icon" />
      </div>
      <h5 class="SettingsLightbox-title">Reload</h5>
    </div>
    <button class="btn_close_mobile" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-header model_header">
    <h4 class="modal-title modal_title" id="modal-basic-title">Reload</h4>
    <button type="button" class="close btnmodel_close" aria-label="Close"
      (click)="modal.dismiss('Cross click');onCloseAndRedirect()">
      <img src="assets/wallet/modal_close_cross.svg" class="img-fluid" />
    </button>
  </div>
  <div class="modal-body modal_body">
    <div>
      <div class="modal_logo">
        <img class="Header-logo modal_icon" src="assets/wallet/tic.svg" alt="logo" />
      </div>
      <div class="model_details">
        <span class="model_text">
          You have successfully reloaded
        </span>
      </div>
      <div class="model_topup_coin">
        <span class="model_topup_coin_value">
          {{coinsfordisplay | number}} Geng Coins
        </span>
      </div>
      <hr class="model-line">
      <div class="select_top_up_amount-box">
        <span class="wallet_balance">
          Current balance:
        </span>
        <span class="wallet_balance_coins">
          {{amount | number}} Geng Coins
        </span>
      </div>
      <div class="wallet_balance_close">
        <button class="top-up-bottom button-primary w-100" type="submit"
          (click)="modal.dismiss('Cross click');onCloseAndRedirect()">
          <span class="top-up-bottom-text"> CLOSE</span>
        </button>
        <!-- <div class="wallet_balance_close_btn" (click)="modal.dismiss('Cross click');onCloseAndRedirect()">
          <span class="wallet_balance_close_text">
            Close
          </span>
        </div> -->
      </div>
    </div>
  </div>
  <app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
</ng-template>
<ng-template #content4 let-modal>
  <app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
  <div class="header_mob">
    <div class="ac-header-container d-flex align-items-center">
      <div class="mob_game_icon">
        <img class="game_icon" src="assets/images/GGicon-green.png" alt="geng game icon" />
      </div>
      <h5 class="SettingsLightbox-title">Reload</h5>
    </div>
    <button class="btn_close_mobile" aria-label="Close" (click)="modal.dismiss('Cross click');onCloseAndRedirect()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="modal-header model_header">
    <h4 class="modal-title modal_title" id="modal-basic-title">Reload</h4>
    <button type="button" class="close btnmodel_close" aria-label="Close"
      (click)="modal.dismiss('Cross click');onCloseAndRedirect()">
      <img src="assets/wallet/modal_close_cross.svg" class="img-fluid" />
    </button>
  </div>
  <div class="modal-body modal_body">
    <div>
      <div class="modal_logo1">
        <img src="assets/wallet/wallet_expired_close.svg" alt="logo" />
      </div>
      <div class="model_details wallet_expired">
        <span class="model_text" *ngIf="error_text1 != ''">
          {{error_text1}}
        </span>

        <span class="model_text" *ngIf="error_text1 == ''">
          {{error_text}}
        </span>
      </div>
      <div class="model_topup_coin" *ngIf="error_text1 != ''">
        <span class="model_topup_coin_value error_text">
          {{error_text}}
        </span>
      </div>
      <div class="select_top_up_amount-box small_box">
        <button class="top-up-bottom button-primary w-100" (click)="modal.dismiss('Cross click');onCloseAndRedirect()">
          <span>Close</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>