:host {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  &,
  &::after {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  // &::after {
  //   z-index: -1;
  //   content: "";
  //   background: rgba(255, 255, 255, 0.9);
  // }
}
