@import "shared";

.match-making-dialog-wrapper {
  position: relative;

  & img {
    width: 100%;
  }

  &-info {
    padding-left: px2vw-lg(40px);
    padding-right: px2vw-lg(40px);
    padding-bottom: px2vw-lg(40px);

    & h3 {
      margin-top: px2vw-lg(48px);

      @include lg {
        margin-top: px2vw-lg(48px);
      }

      @include md {
        margin-top: px2vw-md(38px);
      }

      @include sm {
        margin-top: px2vw-sm(28px);
      }
    }

    & p {
      color: var(--black);
      margin-top: px2vw-lg(24px);

      @include lg {
        margin-top: px2vw-lg(24px);
      }

      @include md {
        margin-top: px2vw-md(20px);
      }

      @include sm {
        margin-top: px2vw-sm(18px);
      }
    }
  }

  &-match {
    padding-top: px2vw-lg(60px);

    @include lg {
      padding-top: px2vw-lg(60px);
    }

    @include md {
      padding-top: px2vw-md(60px);
    }

    @include sm {
      padding-top: px2vw-sm(60px);
    }

    & h1 {
      margin-bottom: px2vw-lg(30px);

      @include lg {
        margin-bottom: px2vw-lg(30px);
      }

      @include md {
        margin-bottom: px2vw-md(30px);
      }

      @include sm {
        margin-bottom: px2vw-sm(30px);
      }
    }

    & img {
      width: px2vw-lg(88px);
      height: px2vw-lg(88px);
      border-radius: 50%;

      @include lg {
        width: px2vw-lg(88px);
        height: px2vw-lg(88px);
      }

      @include md {
        width: px2vw-md(88px);
        height: px2vw-md(88px);
      }

      @include sm {
        width: px2vw-sm(88px);
        height: px2vw-sm(88px);
      }
    }

    & h3 {
      margin-top: px2vw-lg(25px);
      margin-bottom: 0px;

      @include lg {
        margin-top: px2vw-lg(25px);
      }

      @include md {
        margin-top: px2vw-md(25px);
      }

      @include sm {
        margin-top: px2vw-sm(25px);
      }
    }

    & p {
      margin-top: px2vw-lg(0px);
    }
  }

  & .close {
    position: absolute;
    right: px2vw-lg(10px);
    top: px2vw-lg(10px);
    color: var(--color-primary);
  }
}
