@import "shared";

:host {
  margin: 0 auto;
}

section {
  background: var(--base-white);
  margin-top: 60px;
}

.add-section {
  padding: 2em 10em;
}
.row1 {
  width: 100%;
  opacity: 0.6;
  background: transparent;
  padding-left: 0.5em;
  padding-top: 1em;
  font-size: 15px;
  line-height: 20px;
  color: var(--textcolorurl);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.direction1 {
  direction: ltr;
}

.direction2 {
  direction: rtl;
}

.first-row {
  background: var(--ui-nero) 0% 0% no-repeat padding-box;
}

hr {
  border-top: 1px solid var(--ui-mischka);
}

.upload-file {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  background-color: var(--base-white-dark);
  padding: 2em 0;
  text-align: center;

  span {
    color: var(--base-black-pearl);
  }
}

.selected-tags {
  border-radius: 28px;
  text-align: center;
  padding: 0.3em 1em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 400;
  background: transparent;
  border: 1px solid var(--ui-dim-gray);
}

.ckeditor-container ckeditor {
  width: 100%;
  background: var(--base-black-pearl) 0% 0% no-repeat padding-box;
}

.article-lang .WYSIWYG-editor .WYSIWYG-editor-wrapper .WYSIWYG-editor-textarea {
    text-align: right;
  }

.btn-outline-primary {
  border-color: var(--base-gainsboro);
  color: var(--ui-nobel);
  text-align: start;
  width: 100%;
}

.btn-outline-primary:hover {
  border-color: var(--base-gainsboro);
  background-color: var(--primary-sunset-light);
  color: var(--base-white);
}

.dropdown-menu.show {
  box-shadow: 4px 4px 6px var(--base-black);
  border-radius: 5px;
  padding: 0.5rem;
  max-height: 141px;
  overflow: scroll;
}

.dropdown-item {
  opacity: 0.6;
  border-bottom: 1px solid var(--ui-dim-gray);
  padding: 0.5rem 1rem;
  font-family: "stc-forward-light", sans-serif;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: inherit;
}

.after-right-arrow::after {
  float: right;
  margin-top: 10px;
}

.d-inline-block {
  width: 100%;
}

.btn {
  box-shadow: 0 0 0 var(--ui-nero);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  border-color: var(--base-gainsboro);
  background-color: var(--base-black-pearl);
  color: var(--base-white);
}

// custom modal style
.auth-logo {
  width: 4em;
}

.tags-img {
  width: 11%;
}

.sub-title,
.description-text {
  color: var(profile-select-tag-bg-color);
}

.description-text {
  color: var(profile-select-tag-bg-color);
  font-size: 1.1em;
  margin-left: 1em;
}

.selected-btn {
  margin-right: 1em;
  border: 2px solid var(--base-black);
  border-radius: 28px;
  padding: 0.5em 1.2em;
  text-align: center;
  font-size: 0.8em;
  color: var(--base-submarine);
}

.review-container hr {
  margin-left: 6em;
  margin-right: 3em;
}

.close {
  color: var(--ui-nobel);
  padding: 0.5em;
  font-size: 30px;
  font-weight: 100;
}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.colorWhite {
  margin-bottom: 4px;
  font-family: "stc-forward-regular", sans-serif;
  font-size: 14px;
  color: var(--base-submarine) !important;
}

@media (max-width: 1100px) {
  .add-section {
    padding: 2em 10em;
  }
}

@media (max-width: 992px) {
  .add-section {
    padding: 2em 0;
  }
  .align {
    margin-bottom:24px;
  }
}

.articleBanner {
  max-width: 95%;
  width: auto;
  max-height: 425px;
}

.binIcon {
  float: right;
  color: var(--ui-error) !important;
  margin-left: 11px;
}

#gameDropDown span {
  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis;
  display: inline-flex;
}

.nav-tabs .nav-link {
  font-family: "stc-forward-regular", sans-serif;
  color: var(--base-submarine);
  font-size: px2vw-xl(16px);
  line-height: px2vw-xl(31px);

  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(31px);
  }

  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(31px);
  }

  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(31px);
  }
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: transparent;
  background: transparent;
  color: var(--base-black-pearl);
}

@media (max-width: 1199px) {
  .articleBanner {
    max-width: 90%;
  }
}

.language {
  padding: 0;
  &-dropdown {
    margin-bottom: 15px;
    width: 120px;
    float: right;
  }
}
.Article{
  &-approve{
    margin-right: px2vw-xl(15px);
    @include md{
      margin-right: px2vw-md(15px);
      margin-bottom: px2vw-sm(15px);
    }
    @include md{
      margin-right:0;
    }
  }
}
::ng-deep{
  .WYSIWYG-editor-toolbar button i {
    font-family: FontAwesome !important;
    color: var(--base-black);
    }
    .WYSIWYG-editor-textarea{
      & img{
        width: 100%;
      }
    }
}
