<esports-loading *ngIf="isLoading"></esports-loading>

<div
  *ngIf="!showAdList"
  class="SiteConfigurations-main SiteConfigurations-boxC"
>
  <div class="SiteConfigurations-boxC-info">
    <form [formGroup]="ownerForm" novalidate (ngSubmit)="addData()">
      <div style="width: 70%;">
        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>
            {{ "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.NAME" | translate }}
          </mat-label>

          <input
            matInput
            id="languageName"
            autocomplete="off"
            type="text"
            formControlName="languageName"
          />
          <mat-error *ngIf="hasError('languageName', 'required')">
            {{ "ADMIN_NEW.NAME_IS" | translate }} *
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>
            {{ "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.KEY" | translate }}
          </mat-label>

          <input
            matInput
            id="keyName"
            autocomplete="off"
            type="text"
            formControlName="keyName"
          />
          <mat-error *ngIf="hasError('keyName', 'required')">
            {{ "ADMIN_NEW.KEY_IS" | translate }} *
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>
            {{
              "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.DISPLAY_KEY" | translate
            }}
          </mat-label>
          <input
            matInput
            id="displayKeyName"
            autocomplete="off"
            formControlName="displayKeyName"
            type="text"
          />
          <mat-error *ngIf="hasError('displayKeyName', 'required')">
            {{ "ADMIN_NEW.DISPLAY_KEY_IS" | translate }} *
          </mat-error>
        </mat-form-field>
      </div>

      <div class="SiteConfigurations-footer-btns">
        <button
          class="global-EditBtn is-sm is-edit"
          (click)="toggleLanguageList()"
        >
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
        </button>

        <button class="global-EditBtn is-sm" type="submit">
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.SAVE" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>

<div class="SiteConfigurations-main SiteConfigurations-boxB" *ngIf="showAdList">
  <div class="SiteConfigurations-footer-btns">
    <button class="global-EditBtn is-sm" (click)="toggleLanguageList()">
      + {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_LANGUAGE" | translate }}
    </button>
  </div>

  <div class="global-scrollbar">
    <ngx-datatable
      #table
      class="global-DataTable"
      [columnMode]="'force'"
      [footerHeight]="'auto'"
      [headerHeight]="'auto'"
      [limit]="50"
      [rowHeight]="'auto'"
      [rows]="languageList"
    >
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ITEM' | translate }}"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.NAME' | translate }}"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.KEY' | translate }}"
      >
        <ng-template
          let-rowIndex="rowIndex"
          let-row="row"
          ngx-datatable-cell-template
        >
          {{ row.key }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{
          'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.DISPLAY_KEY' | translate
        }}"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.display_key }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="">
        <ng-template
          #buttonsTemplate
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <button
            class="SiteConfigurations-tableBtn"
            (click)="clickHandler('view', row)"
            mat-icon-button
            color="primary"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            class="SiteConfigurations-tableBtn"
            (click)="clickHandler('delete', row)"
            mat-icon-button
            color="primary"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
