@import "shared";

:host {
  display: block;
}

.TournamentTime {
  @extend %u-dfCenterBtw;
  border-bottom: px2vw-xl(2px) solid var(--white-light);
  padding: px2vw-xl(20px) px2vw-xl(15px) px2vw-xl(24px) 0;

  @include lg {
    border-bottom-width: px2vw-lg(2px);
    padding: px2vw-lg(20px) px2vw-lg(15px) px2vw-lg(24px) 0;
  }

  @include md {
    border-bottom-width: px2vw-md(2px);
    padding: px2vw-md(20px) px2vw-md(15px) px2vw-md(24px) 0;
  }

  @include sm {
    border-bottom-width: px2vw-sm(2px);
    padding: px2vw-sm(20px) px2vw-sm(15px) px2vw-sm(24px) 0;
  }

  &-field {
    width: 85%;
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(24px);
    line-height: 1;
    letter-spacing: px2vw-xl(0.18px);
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    transition: $global-transition;

    @include lg {
      font-size: px2vw-lg(24px);
      letter-spacing: px2vw-lg(0.18px);
    }

    @include md {
      font-size: px2vw-md(24px);
      letter-spacing: px2vw-md(0.18px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      letter-spacing: px2vw-sm(0.18px);
    }

    &::placeholder {
      color: var(--white-medium);
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }

  &-icon {
    height: px2vw-xl(23px);
    width: px2vw-xl(23px);
    cursor: pointer;
    transition: $global-transition;

    @include lg {
      height: px2vw-lg(23px);
      width: px2vw-lg(23px);
    }

    @include md {
      height: px2vw-md(23px);
      width: px2vw-md(23px);
    }

    @include sm {
      height: px2vw-sm(23px);
      width: px2vw-sm(23px);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
