<div class="HeaderInfo-Top small">
    <div class="TeamRegistration">
      <div class="TeamRegistration-container">
        <app-season-new-team
          *ngIf="teamRegistrationActiveStep === 0"
          [team]="teamList"
          (submit)="selectedTeam($event)"
        ></app-season-new-team>

        <app-season-select-teammates
          *ngIf="teamRegistrationActiveStep === 1 && teamMemberList"
          [team]="teamSelected"
          [members]="teamMemberList"
          [tournament]="tournament"
        >
        </app-season-select-teammates>
      </div>

      <!-- <app-about-tournament [tournament]="tournament"></app-about-tournament> -->
    </div>
</div>
