<a
  class="VideoItem"
  [routerLink]="[AppHtmlRoutes.videosView, data?.slug]"
  (click)="onclick()"
  (auxclick)="onclick()"
>
  <div class="VideoItem-box">
    <div class="VideoItem-image-block">
      <img class="VideoItem-image" [src]="data?.thumbnailUrl" alt="image" />
      <button class="VideoItem-videoBtn global-VideoBtn is-sm"></button>
    </div>

    <h2 class="VideoItem-title global-Elipses2">
      {{
        data?.title
          | customTranslate: (languageService?.language | async)
          | capitalizeFirst
      }}
    </h2>

    <h3 class="VideoItem-text global-Elipses2">
      {{ data?.updatedOn | date: "MMMM dd" }}
    </h3>
  </div>
</a>
