@import "shared";

.lowercase {
  text-transform: lowercase;
}

.prefix {
  vertical-align: super;
}

.SubmitForm {
  @media (max-width: 576px) {
    .LogReg-error {
      font-size: 16px;
      color: #ff5722;
      font-weight: 600;
      font-family: Avenir Next;
    }
  }
  width: 100%;
  max-width: 404px;
  padding-top: 48px;
  @include sm {
    padding: 15px 9px 0;
    max-width: 100%;
  }
  .form-heading {
    padding-bottom: 24px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    @include sm {
      padding-bottom: 17px;
      margin-bottom: 26px;
    }
  }
  .form-content {
    h3.-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: var(--white);
      margin-bottom: 16px;
    }
  }
  .LogReg-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 24px;
    @include sm {
      font-size: 20px;
      line-height: 28px;
    }

    &.login-title {
      margin-bottom: 0;
    }
  }
  &-arrow-icon {
    position: absolute;
    width: 50px;
    height: 44px;
    left: 100px;
    top: 476px;
    .text-hl {
      color: var(--main-color);
    }
  }
  .LogReg-subtitle {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-white-medium);
    margin-bottom: 0;
    .text-hl {
      color: #f12ba3;
    }
  }
  .text-hl {
    color: var(--main-color);
  }
  .error-icon {
    color: var(--color-tertiary);
  }

  &-span {
    position: absolute;
    right: 10px;
    bottom: 3px;
    margin-top: 10px;
    font-size: 90%;
    cursor: pointer;
  }

  &-checkbox {
    margin-bottom: 24px;
    color: var(--white-high);
    text-align: left;
    @include sm {
      margin-bottom: 10px;
    }
    .mat-checkbox-label {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);
      white-space: normal;
      margin-left: 16px;
      display: inline-block;
    }
    &-text {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      text-align: right;
    }

    &.is-forgotPass {
      @extend %u-dfCenterBtw;
    }
  }
  &-checkbox-remember-me {
    .text {
      font-weight: 600;
    }
  }
  &-input {
    border-color: var(--white-medium);
    // color: var(--white);
  }

  &-submit {
    text-align: center;
    margin-bottom: 20px;
  }

  &-or {
    margin-bottom: px2vw-xl(6px);
    color: var(--black-medium);

    @include lg {
      margin-bottom: px2vw-lg(6px);
    }

    @include md {
      margin-bottom: px2vw-md(6px);
    }

    @include sm {
      margin-bottom: px2vw-sm(6px);
    }
  }

  &-or-label {
    margin-bottom: px2vw-xl(60px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(60px);
    }

    @include md {
      margin-bottom: px2vw-md(60px);
    }

    @include sm {
      margin-bottom: px2vw-sm(60px);
    }
  }

  &-social {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }

    &-btn {
      width: px2vw-xl(55px);
      height: px2vw-xl(55px);
      line-height: px2vw-xl(60px);
      text-align: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.38);

      @include lg {
        width: px2vw-lg(55px);
        height: px2vw-lg(55px);
        line-height: px2vw-lg(60px);
      }

      @include md {
        width: px2vw-md(55px);
        height: px2vw-md(55px);
        line-height: px2vw-md(60px);
      }

      @include sm {
        width: px2vw-sm(55px);
        height: px2vw-sm(55px);
        line-height: px2vw-sm(60px);
      }

      fa-icon {
        font-size: px2vw-xl(27px);
        color: var(--black);

        @include lg {
          font-size: px2vw-lg(27px);
        }

        @include md {
          font-size: px2vw-md(27px);
        }

        @include sm {
          font-size: px2vw-sm(27px);
        }
      }
    }
  }

  &-footer {
    text-align: center;
    margin-right: 0;
    a.global-IconBtn {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      display: inline-block;
    }
    &-link {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--secondary-color);
    }
  }

  &-privacy-policy {
    text-align: center;
  }

  .header-tab {
    min-width: px2vw-xl(226px);
    margin-bottom: 30px;

    @include lg {
      min-width: px2vw-lg(226px);
    }

    @include md {
      min-width: px2vw-md(226px);
    }

    @include sm {
      min-width: px2vw-sm(226px);
    }
  }
}

.underline {
  text-decoration: none;
  border-bottom: var(--color-primary) 2px solid;
}
.submitt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0px;
  top: 0px;
  padding: 16px 32px;
  border-radius: 6px;
  @include sm {
    padding: 11px 32px;
  }
  span {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--tolopea-color);
    text-transform: none;
  }
}
.reg {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #736cff;
}
.pry {
  color: rgba(255, 255, 255, 0.6);
}
.pledge {
  height: 217px;
  width: 408px;
  left: 875px;
  top: 544px;
  font-family: "redhat-regular";
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding: 7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: var(--white-disabled);
  font-size: 16px;
}
.pledge2 {
  height: 135px;
  width: 408px;
  left: 875px;
  top: 544px;
  font-family: "redhat-regular";
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding: 7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: var(--white-disabled);
  font-size: 16px;
}

.button-icon-primary {
  border-color: var(--secondary-color);
  background: var(--secondary-color);
}
.button-icon-primary:disabled {
  border-color: var(--tertiary-color);
  background: var(--tertiary-color);
}

.button-icon-primary:valid {
  border-color: var(--secondary-color);
  background: var(--secondary-color);
  span {
    color: var(--white);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-text-fill-color: white;
}
.form-group {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
  &.group-password {
    margin-bottom: 20px;

    @include sm {
      margin-bottom: 0;
    }
    .mat-error {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
    }
  }
  .form-item {
    position: relative;
    width: 100%;

    &.item-half {
      max-width: calc(50% - 8px);
      @include sm {
        max-width: 100%;
      }
    }
  }
  .form-label {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    display: block;
    width: 100%;
    padding: 0;
  }
  .form-field {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    width: 100%;
    border-radius: 4px;
    margin: 0;
    &::placeholder {
      color: var(--tolopea-color);
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }
}
::ng-deep .mat-form-field-appearance-outline {
  margin-bottom: 0 !important;
  .mat-form-field-outline {
    top: 4px !important;
  }
  .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0 0 15px;
  }
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end,
  .mat-form-field-outline-start {
    border-color: var(--tolopea-color) !important;
    border-width: 2px !important;
  }
  .mat-form-field-outline-thick {
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end,
    .mat-form-field-outline-start {
      background: var(--blackcurrant-color-medium);
      border-width: 2px !important;
    }
  }
  .mat-form-field-flex {
    padding: 0 !important;
    margin-top: 0 !important;
  }
  .mat-form-field-infix {
    padding: 14px 16px;
    width: 100%;
    margin: 0;
    border: none;
    @include sm {
      padding: 15px 16px;
    }
    .icon {
      position: absolute;
      right: 16px;
    }
  }
}
::ng-deep .mat-checkbox {
  .mat-checkbox-layout {
    align-items: flex-start !important;
    .mat-checkbox-inner-container {
      margin-top: 0 !important;
      height: 24px !important;
      width: 24px !important;
      box-sizing: border-box;
      border-radius: 4px;
    }
    .mat-checkbox-ripple {
      left: 0;
      top: 0;
      height: 24px;
      width: 24px;
    }
  }
  .mat-checkbox-label {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    white-space: normal;
    margin-left: 16px;
    display: inline-block;
  }
  &-text {
    //styleName: 1440px/Body 2;
    // font-family:  'redhat-regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    color: #736cff;
  }
}
.mat-calendar-controls {
  button {
    .mat-button-wrapper {
      color: #9e9e9e !important;
    }
  }
}
.group-birthday {
  mat-form-field {
    input {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);
      width: 100%;
      border-radius: 4px;
      margin: 0;
      &::placeholder {
        color: var(--tolopea-color) !important;
      }
    }
  }
  ::ng-deep mat-form-field {
    .mat-form-field-suffix {
      right: 12px;
    }
  }
}
.mat-datepicker-content .mat-calendar {
  height: 372px !important;
  color: rgb(206, 37, 37);
}

::ng-deep.mat-datepicker-content .mat-calendar {
  height: auto !important;
  width: 296px !important;
  background: var(--midnight-express-color);
  border: 1px solid var(--color-black-medium);
  box-sizing: border-box;
  box-shadow: 0px 6px 17px rgb(0 0 0 / 16%);
  border-radius: 4px;
}
::ng-deep.mat-datepicker-content .mat-calendar-table-header th {
  padding: 0 0 0px 0 !important;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--tolopea-medium-color);
}
::ng-deep.mat-datepicker-content .mat-calendar-controls {
  margin: 8px 0 16px !important;
}

::ng-deep.mat-datepicker-content .mat-button .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > * {
  vertical-align: middle;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--tolopea-medium-color);
}
::ng-deep.mat-datepicker-content
  .mat-calendar-body-disabled
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--tertiary-color);
}
::ng-deep.mat-datepicker-content .mat-calendar-body-selected {
  background: var(--secondary-color);
}
::ng-deep.mat-datepicker-content .mat-calendar-body-cell-content {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}
::ng-deep.mat-button .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > * {
  vertical-align: middle;
  color: gray;
}
