<app-header-paidia
  [currentPageLink]="AppHtmlRoutes.play"
  [title]="'CREATE_TOURNAMENT.SELECT_TYPE.HEADER_TITLE' | translate"
></app-header-paidia>
<div class="bg-grad"></div>
<div
  class="SelectType"
  lazyLoad="assets/images/create-tournament/Bottom-assets.svg"
>
  <div class="SelectType-container u-wp">
    <main class="SelectType-main">

      <h1 class="SelectType-title">
        {{ "CREATE_TOURNAMENT.SELECT_TYPE.TITLE" | translate }}
      </h1>
      <h1 class="SelectType-title2">
        {{ "CREATE_TOURNAMENT.SELECT_TYPE.TITLE2" | translate }}
      </h1>

      <div class="SelectType-cards">
        <!-- QUICK TOURNAMENT CARD -->
        <div (click)="selectType(0)" class="SelectType-card">
          <div class="SelectType-card-content">
            <div class="SelectType-card-image-block">
              <span
                class="SelectType-card-image card-image"
                inlineSVG="assets/icons/create-tournament/joystick.svg"
              ></span>
            </div>
            <h3 class="SelectType-card-title card-title">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TITLE_QUICK" | translate }}
            </h3>
            <p class="SelectType-card-text card-text">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TEXT_QUICK" | translate }}
            </p>
          </div>

          <footer class="SelectType-card-footer card-footer">
            <p class="SelectType-card-footer-text card-footer-text">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SETUP_TIME_QUICK" | translate }}
            </p>
            <mat-icon class="SelectType-card-footer-icon card-footer-icon">
              arrow_forward
            </mat-icon>
          </footer>
        </div>

        <!-- ADVANCE TOURNAMENT CARD -->
        <div (click)="selectType(1)" class="SelectType-card ">
          <div class="SelectType-card-content">
            <div class="SelectType-card-image-block">
              <span
                class="SelectType-card-image card-image"
                inlineSVG="assets/icons/create-tournament/prize.svg"
              ></span>
            </div>
            <h3 class="SelectType-card-title card-title">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TITLE_ADVANCE" | translate }}
            </h3>
            <p class="SelectType-card-text card-text">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TEXT_ADVANCE" | translate }}
            </p>
          </div>

          <footer class="SelectType-card-footer card-footer">
            <!-- <p class="SelectType-card-footer-text card-footer-text">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.COMING_SOON" | translate }}
            </p> -->

            <p class="SelectType-card-footer-text card-footer-text">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SETUP_TIME_ADVANCE" | translate }}
            </p>
            <mat-icon class="SelectType-card-footer-icon card-footer-icon">
              arrow_forward
            </mat-icon>
          </footer>
        </div>
      </div>
    </main>
  </div>
</div>
