@import "shared";

:host {
  display: block;
}

.PrizesStatistic {
  @extend %u-dfCenterBtw;

  &-list {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(32px);
    padding-left: 370px;
    position: relative;
    bottom: 8px;
    @include lg {
      grid-column-gap: px2vw-lg(32px);
      grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      grid-column-gap: px2vw-md(32px);
      grid-row-gap: px2vw-md(32px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(32px);
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-item {
    @extend %u-dfCenter;
  }

  &-item-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(64px);
    width: px2vw-xl(64px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(64px);
      width: px2vw-lg(64px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(64px);
      width: px2vw-md(64px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(64px);
      width: px2vw-sm(64px);
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-value {
    @extend %global-H5;
  }

  &-rank {
    @extend %u-dfCenter;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-rank-title {
    @extend %body-1;
    margin-right: px2vw-xl(16px);
    margin-bottom: 0;
    color: var(--white-medium);

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-rank-value {
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(48px);
    line-height: 1;
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(48px);
    }

    @include md {
      font-size: px2vw-md(48px);
    }

    @include sm {
      font-size: px2vw-sm(48px);
    }
  }
}
