@import "shared";

.avatar {
  &-popup {
    padding: px2vw-xl(24px) px2vw-xl(60px);
    text-align: left;
  }
  &-fileUpload {
    display: none;
    &-label {
      width: 100%;
      min-width: px2vw-xl(844px);
      min-height: px2vw-xl(143px);
      text-align: center;
      padding: px2vw-xl(25px) 0;
      border: 1px solid var(--base-03);
      background-color: var(--base-05);
    }
    &-image {
      margin-bottom: px2vw-xl(15px);
      @include sm {
        margin-bottom: px2vw-sm(20px);
        margin-top: px2vw-sm(20px);
      }
    }
  }
  &-imagesWrapper {
    padding: px2vw-xl(15px) 0;
    margin: px2vw-xl(15px) 0;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @include lg {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    @include md {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    @include sm {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
  &-avatarImages {
    width: px2vw-xl(90px);
    height: px2vw-xl(90px);
    margin-right: px2vw-xl(10px);
    margin-bottom: px2vw-xl(25px);
    border-radius:50%;
    @include sm {
      width: px2vw-sm(50px);
      height: px2vw-sm(50px);
    }
  }
}
.hideFileLable {
  input[type="file"] {
    font-size: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }
}
.close {
  position: absolute;
  z-index: 9;
  transform: translateY(-50%);
  cursor: pointer;
}
.content {
  position: relative;
  width: 90%;
  max-width: 80px;
  margin: auto;
  overflow: hidden;

  &-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &-title {
    color: var(--base-black);
    font-weight: 700;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
}

.content:hover .content-overlay {
  opacity: 1;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content:hover .content-image {
  opacity: 0.5;
}
.fadeIn-bottom {
  top: 80%;
}
