@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.ViewUserDetails {
  &-box {
    @extend %u-dfCenterBtw;
    border-radius: px2vw-xl(5px);

    @include lg {
      flex-flow: column;
      border-radius: px2vw-lg(5px);
    }

    @include md {
      border-radius: px2vw-md(5px);
    }

    @include sm {
      border-radius: px2vw-sm(5px);
    }

    &-A,
    &-B,
    &-C,
    &-D {
      padding: px2vw-xl(40px) px2vw-xl(30px);

      @include lg {
        flex: initial;
        min-width: 100%;
        padding: px2vw-lg(20px);
      }

      @include md {
        padding: px2vw-md(20px);
      }

      @include sm {
        flex-direction: column;
        align-items: flex-start;
        padding: px2vw-sm(20px);
      }
    }

    &-A,
    &-B,
    &-C {
      border-right: 1px solid var(--base-white-dark);

      @include lg {
        border: none;
      }
    }

    &-A {
      @extend %u-dfCenterBtw;
      padding-left: px2vw-xl(85px);
      flex: 2;

      @include lg {
        padding-left: px2vw-lg(20px);
      }

      @include md {
        padding-left: px2vw-md(20px);
      }

      @include sm {
        padding-left: px2vw-sm(20px);
      }
    }

    &-B {
      flex: 1;
    }

    &-C {
      flex: 1;
    }

    &-D {
      padding-right: px2vw-xl(85px);
      flex: 2;

      @include lg {
        padding-right: px2vw-lg(85px);
      }

      @include md {
        padding-right: px2vw-md(85px);
      }

      @include sm {
        padding-right: px2vw-sm(85px);
      }
    }

    &-ava {
      flex-shrink: 0;
      overflow: hidden;
      margin-right: px2vw-xl(33px);
      border-radius: 50%;
      width: px2vw-xl(99px);
      height: px2vw-xl(99px);
      background-color: var(--base-black-pearl);

      @include lg {
        margin-right: px2vw-lg(33px);
        width: px2vw-lg(99px);
        height: px2vw-lg(99px);
      }

      @include md {
        margin-right: px2vw-md(33px);
        width: px2vw-md(99px);
        height: px2vw-md(99px);
      }

      @include sm {
        margin-right: 0;
        margin-bottom: px2vw-sm(33px);
        width: px2vw-sm(99px);
        height: px2vw-sm(99px);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-info {
      width: 100%;
    }

    &-item {
      &-label {
        margin-bottom: px2vw-xl(5px);
        font-size: px2vw-xl(15px);
        font-family: "stc-forward-regular", sans-serif;

        @include lg {
          margin-bottom: px2vw-lg(5px);
          font-size: px2vw-lg(15px);
        }

        @include md {
          margin-bottom: px2vw-md(5px);
          font-size: px2vw-md(15px);
        }

        @include sm {
          margin-bottom: px2vw-sm(5px);
          font-size: px2vw-sm(15px);
        }
      }

      &-title {
        font-size: px2vw-xl(19px);
        border-bottom: 1px solid var(--base-white);
        margin-bottom: px2vw-xl(30px);
        font-family: "stc-forward-medium", sans-serif;

        @include lg {
          margin-bottom: px2vw-lg(30px);
          font-size: px2vw-lg(19px);
        }

        @include md {
          margin-bottom: px2vw-md(30px);
          font-size: px2vw-md(19px);
        }

        @include sm {
          margin-bottom: px2vw-sm(30px);
          font-size: px2vw-sm(19px);
        }
      }

      &-text {
        font-size: px2vw-xl(19px);
        font-family: "stc-forward-medium", sans-serif;

        @include lg {
          font-size: px2vw-lg(19px);
        }

        @include md {
          font-size: px2vw-md(19px);
        }

        @include sm {
          font-size: px2vw-sm(19px);
        }
      }

      &-textB {
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        font-family: "stc-forward-light", sans-serif;

        @include lg {
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(20px);
        }

        @include md {
          font-size: px2vw-md(14px);
          line-height: px2vw-md(20px);
        }

        @include sm {
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(20px);
        }

        b {
          font-family: "stc-forward-medium", sans-serif;
        }

        &-row {
          margin-bottom: px2vw-xl(10px);

          @include lg {
            margin-bottom: px2vw-lg(10px);
          }

          @include md {
            margin-bottom: px2vw-md(10px);
          }

          @include sm {
            margin-bottom: px2vw-sm(10px);
          }
        }
      }
    }
  }

  &-table {
    margin-top: px2vw-xl(27px);

    @include lg {
      margin-top: px2vw-lg(27px);
    }

    @include md {
      margin-top: px2vw-md(27px);
    }

    @include sm {
      margin-top: px2vw-sm(27px);
    }

    ::ng-deep.mat-tab-header {
      border-radius: px2vw-xl(5px);
      padding: px2vw-xl(30px);

      @include lg {
        border-radius: px2vw-lg(5px);
        padding: px2vw-lg(30px);
      }

      @include md {
        border-radius: px2vw-md(5px);
        padding: px2vw-md(30px);
      }

      @include sm {
        border-radius: px2vw-sm(5px);
        padding: px2vw-sm(30px);
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: px2vw-xl(20px);

    @include lg {
      margin-top: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      flex-flow: column-reverse;
      align-items: center;
    }

    @include sm {
      margin-top: px2vw-sm(20px);
    }

    button {
      margin-left: px2vw-xl(20px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin: 0 0 px2vw-md(10px);
        width: auto;
      }

      @include sm {
        margin: 0 0 px2vw-sm(10px);
      }
    }
  }
}
