<section
  class="Leaderboard-preview global-imgDistance"
  [lazyLoad]="teamDatails?.teamBanner"
>
  <div class="Leaderboard-preview-wrapper u-wp">
    <header class="Play-ongoing-header">
      <button
        class="Leaderboard-preview-button button-icon-secondary top-header"
        routerBack
      >
        <mat-icon> arrow_back </mat-icon>
        <span>
          {{ "BUTTON.BACK" | translate }}
        </span>
      </button>
      <button
        class="Play-ongoing-header-button button-primary top-header"
        [routerLink]="['/manage-team/team-members/', teamId]"
      >
        {{ "Manage team" | uppercase }}
      </button>
    </header>
  </div>
</section>

<header class="Leaderboard-header u-wp">
  <div class="Dashboard-user-photo">
    <!-- <div class="Dashboard-user-photo-image" lazyLoad="assets/images/Home/avatar-prelogin.png"></div> -->
    <div
      class="Dashboard-user-photo-image"
      [lazyLoad]="teamDatails?.logo"
    ></div>
  </div>
</header>
<div class="Leaderboard-header-center">
  <h1 class="Leaderboard-header-title">
    {{ teamDatails?.teamName | uppercase }}
  </h1>
</div>

<div class="mcenter position-relative">
  <div class="m-auto text-center">
    <a
      *ngIf="teamDatails?.social?.facebook"
      href="{{ teamDatails?.social?.facebook }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/icons/view-team/fb.png" class="icon-img" />
    </a>
    <a
      *ngIf="teamDatails?.social?.twitter"
      href="{{ teamDatails?.social?.twitter }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/icons/view-team/twiter.png" class="icon-img" />
    </a>
    <a
      *ngIf="teamDatails?.social?.twitch"
      href="{{ teamDatails?.social?.twitch }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/icons/view-team/chat.png" class="icon-img" />
    </a>
  </div>
  <!-- <img src="assets/icons/view-team/youtube.png" class="icon-img">
  <img src="assets/icons/view-team/tetu.png" class="icon-img"> -->
</div>

<div class="container">
  <!-- <hr style="    border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  left: 35px;
  width: 1055px;
  bottom: -10px;"/> -->

  <section class="MyStats-about">
    <section class="about" *ngIf="teamDatails?.shortDescription">
      <h3 class="MyStats-about-title about-title">
        {{ "About" | uppercase }}
      </h3>
      <div class="content col-lg">
        <p>{{ teamDatails?.shortDescription }}</p>
      </div>
    </section>

    <!-- Team Achievements -->
    <!-- <h3 class="MyStats-about-title" style="padding-left: 376px;">
      {{ "Team Achievements" | uppercase }}
    </h3> -->
    <!--
    <app-prizes-statistic></app-prizes-statistic> -->
    <section class="team-members">
      <!-- Team members  (4) -->
      <h3 class="MyStats-about-title">
        {{ "Team members " | uppercase }}({{ teamList.length }})
      </h3>
      <div class="Content-table">
        <div class="Content-table-header">
          <!-- DATE -->
          <div class="Content-table-header-item date">{{ "CREATE_TEAM.DETAILS.NO" | translate }}</div>
          <div class="Content-table-header-item title">{{ "CREATE_TEAM.DETAILS.PLAYER_NAME" | translate }}</div>
          <!-- <div class="Content-table-header-item views">
          Games
        </div>
        <div class="Content-table-header-item likes">
          Wins
        </div>
        <div class="Content-table-header-item status">
          points
        </div> -->
        </div>

        <div class="Content-table-cards">
          <ng-container *ngFor="let team of teamList; let i = index">
            <div class="Content-table-card">
              <div
                class="Content-table-card-item views global-Elipses text-left"
              >
                {{ i + 1 }}
              </div>
              <div class="Content-table-card-item title global-Elipses">
                <div class="flex">
                  <img
                    *ngIf="team.image"
                    src="{{ team.image }}"
                    alt="img"
                  /><span>{{ team.name }}</span>
                </div>
              </div>
              <!-- <div class="Content-table-card-item views global-Elipses">
                1234
              </div>
              <div class="Content-table-card-item views global-Elipses">
                1234
              </div>
              <div class="Content-table-card-item views global-Elipses">
                1234
              </div> -->
              <!-- <div class="Content-table-card-item views global-Elipses">
                <button class="TeamCard-manage-button-menu" [matMenuTriggerFor]="matchMenu" #t="matMenuTrigger">
                  <mat-icon class="TeamCard-manage-button-menu-icon"> more_vert </mat-icon>
                </button>
              </div> -->
            </div>
          </ng-container>
        </div>
      </div>
    </section>

    <!-- Upcoming matches -->
    <!-- <section class="Dashboard-matches">
      <h2 class="Dashboard-matches-title">
        {{ "PROFILE.DASHBOARD.MATCHES.TITLE" | translate }}
      </h2>

      <ng-container *ngIf="!matches.length">
        <div class="Dashboard-matches-empty" lazyLoad="assets/images/dashboard/no-matches-bg.png">
          <div class="Dashboard-matches-empty-card">
            <h4 class="Dashboard-matches-empty-title">
              {{ "PROFILE.DASHBOARD.MATCHES.EMPTY_TITLE" | translate }}
            </h4>
            <p class="Dashboard-matches-empty-message">
              {{ "PROFILE.DASHBOARD.MATCHES.EMPTY_MESSAGE" | translate }}
            </p>
            <button class="Dashboard-matches-empty-button button-primary">
              {{ "BUTTON.VIEW_TOURNAMENTS" | translate }}
            </button>
          </div>
        </div>
      </ng-container>

      <div class="Dashboard-matches-cards" *ngIf="matches.length">
        <ng-container *ngFor="let match of matches">
          <app-match-card [data]="match"></app-match-card>
        </ng-container>
      </div>
    </section> -->

    <!--Past results   -->
    <!-- <h3 class="MyStats-about-title">
      {{ "Past results" | uppercase }}
    </h3>
    <div class="TournamentsCreated-table-toggle">
      <ng-container *ngFor="let item of tournaments;let i=index">
        <app-tournament-card [data]="item" [index]=i [isManage]="true"></app-tournament-card>
      </ng-container>
    </div> -->
    <!-- <button class="button-more">
      {{ "BUTTON.LOAD_MORE" | translate }}
    </button> -->
  </section>
</div>
