@import "shared";

:host {
  display: block;
}

.Leaderboard-preview {
  height: px2vw-xl(419px);
  background-color: var(--black);
  background-position: top center;
  background-size: cover;

  @include lg {
    height: px2vw-lg(419px);
  }

  @include md {
    height: px2vw-md(340px);
  }

  @include sm {
    height: px2vw-sm(290px);
  }

  &-wrapper {
    position: relative;
    z-index: 1;
  }
}

.Leaderboard-header {
  position: relative;
  margin-bottom: px2vw-xl(20px);
  margin-top: px2vw-xl(-100px);
  justify-content: center;
  display: flex;

  @include lg {
    margin-bottom: px2vw-lg(20px);
    margin-top: px2vw-lg(100px);
  }

  @include md {
    margin-bottom: px2vw-md(20px);
    margin-top: px2vw-md(100px);
  }

  @include sm {
    margin-bottom: px2vw-sm(-32px);
    margin-top: px2vw-sm(-35px);
    bottom: px2vw-sm(58px);
  }

  &-center {
    display: flex;
    justify-content: center;
  }

  &-title {
    margin-bottom: 0;
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(48px);
    text-transform: uppercase;

    @include lg {
      font-size: px2vw-lg(48px);
    }

    @include md {
      font-size: px2vw-md(48px);
    }

    @include sm {
      font-size: px2vw-sm(34px);
    }
  }
}

.Dashboard-user {
  @extend %u-dfCenter;
  z-index: 1;
  position: relative;
  margin-bottom: px2vw-xl(48px);

  @include lg {
    margin-bottom: px2vw-lg(48px);
  }

  @include md {
    margin-bottom: px2vw-md(48px);
  }

  @include sm {
    margin-bottom: px2vw-sm(48px);
  }

  &-photo {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    position: relative;
    margin-right: px2vw-xl(24px);
    border-radius: 50%;
    height: px2vw-xl(166px);
    width: px2vw-xl(166px);
    background: var(--user-photo-bg);

    @include lg {
      margin-right: px2vw-lg(24px);
      height: px2vw-lg(166px);
      width: px2vw-lg(166px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      height: px2vw-md(166px);
      width: px2vw-md(166px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      height: px2vw-sm(166px);
      width: px2vw-sm(166px);
      margin-top: px2vw-sm(-30px);
    }
  }

  &-photo-image {
    border-radius: 50%;
    height: px2vw-xl(150px);
    width: px2vw-xl(150px);
    background-size: cover;

    @include lg {
      height: px2vw-lg(150px);
      width: px2vw-lg(150px);
    }

    @include md {
      height: px2vw-md(150px);
      width: px2vw-md(150px);
    }

    @include sm {
      height: px2vw-sm(150px);
      width: px2vw-sm(150px);
    }
  }
}

.Play-ongoing {
  margin-bottom: px2vw-xl(80px);
  margin-top: 20px;

  @include lg {
    margin-bottom: px2vw-lg(80px);
  }

  @include md {
    margin-bottom: px2vw-md(80px);
  }

  @include sm {
    margin-bottom: px2vw-sm(80px);
  }

  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-header-title {
    @extend %global-H5;
    margin-bottom: 0;
  }

  &-header-button {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
      margin-left: 0;
    }
  }
}

.top-header {
  margin-top: 34px !important;
}

.icon-img {
  width: 24px;
  height: 24px;
  margin: 10px;
}

.MyStats-about {
  position: relative;
  z-index: 1;
  margin-bottom: px2vw-xl(72px) !important;
  margin: 20px;

  // bottom: 165px;
  @include lg {
    margin-bottom: px2vw-lg(72px);
  }

  @include md {
    margin-bottom: px2vw-md(72px);
  }

  @include sm {
    margin-bottom: px2vw-sm(72px);
  }

  &-title {
    margin-bottom: px2vw-xl(20px);
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(56px);
    text-transform: uppercase;
    margin-top: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(20px);
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(24px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(56px);
    }
  }

  &-content {
    @extend %u-dfCenterBtw;
  }

  &-prizes {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(32px);

    @include lg {
      grid-column-gap: px2vw-lg(32px);
      grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      grid-column-gap: px2vw-md(32px);
      grid-row-gap: px2vw-md(32px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(32px);
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-prize {
    @extend %u-dfCenter;
  }

  &-prize-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(64px);
    width: px2vw-xl(64px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(64px);
      width: px2vw-lg(64px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(64px);
      width: px2vw-md(64px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(64px);
      width: px2vw-sm(64px);
    }
  }

  &-prize-block {
  }

  &-prize-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-prize-value {
    @extend %global-H5;
  }

  &-rank {
    @extend %u-dfCenter;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-rank-title {
    @extend %body-1;
    margin-right: px2vw-xl(16px);
    margin-bottom: 0;
    color: var(--white-medium);

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-rank-value {
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(48px);
    line-height: 1;
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(48px);
    }

    @include md {
      font-size: px2vw-md(48px);
    }

    @include sm {
      font-size: px2vw-sm(48px);
    }
  }
}

.Content-table {
  &-header {
  }

  &-header-item {
    @extend %subtitle-2;
    color: var(--white-medium);
  }

  &-cards {
  }

  &-card {
  }

  &-card-item {
    @extend %body-2;
  }

  &-card-comment {
    @extend %u-dfCenterEnd;
    color: var(--color-secondary);

    mat-icon {
      flex-shrink: 0;
      margin-right: px2vw-xl(4px);
      width: px2vw-xl(16px);
      height: px2vw-xl(16px);
      font-size: px2vw-xl(16px);
      color: inherit;

      @include lg {
        margin-right: px2vw-lg(4px);
        width: px2vw-lg(16px);
        height: px2vw-lg(16px);
        font-size: px2vw-lg(16px);
      }

      @include md {
        margin-right: px2vw-md(4px);
        width: px2vw-md(16px);
        height: px2vw-md(16px);
        font-size: px2vw-md(16px);
      }

      @include sm {
        margin-right: px2vw-sm(4px);
        width: px2vw-sm(16px);
        height: px2vw-sm(16px);
        font-size: px2vw-sm(16px);
      }
    }
  }

  &-card-status {
    border-radius: px2vw-xl(2px);
    display: inline-block;
    padding: px2vw-xl(4px) px2vw-xl(8px);
    font-family: "archivo", sans-serif;
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(16px);
    text-transform: uppercase;

    @include lg {
      border-radius: px2vw-lg(2px);
      padding: px2vw-xl(4px) px2vw-lg(8px);
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(2px);
      padding: px2vw-xl(4px) px2vw-md(8px);
      font-size: px2vw-md(14px);
      line-height: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(2px);
      padding: px2vw-xl(4px) px2vw-sm(8px);
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(16px);
    }

    &.live {
      background-color: var(--rfg1);
      color: var(--color-primary);
    }

    &.draft {
      background-color: var(--white-smoke);
      color: var(--white-medium);
    }
  }

  &-card-pagination {
  }

  // common styles
  &-header,
  &-card {
    @extend %u-dfCenter;
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(12px) px2vw-xl(16px);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(12px) px2vw-lg(16px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(12px) px2vw-md(16px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(12px) px2vw-sm(16px);
    }
  }

  &-card-item,
  &-header-item {
    &.date {
      margin-right: px2vw-xl(24px);
      width: px2vw-xl(91px);

      @include lg {
        margin-right: px2vw-lg(24px);
        width: px2vw-lg(91px);
      }

      @include md {
        margin-right: px2vw-md(24px);
        width: px2vw-md(91px);
      }

      @include sm {
        margin-right: px2vw-sm(24px);
        width: px2vw-sm(91px);
      }
    }

    &.title {
      margin-right: px2vw-xl(40px);
      width: px2vw-xl(415px);

      @include lg {
        margin-right: px2vw-lg(40px);
        width: px2vw-lg(415px);
      }

      @include md {
        margin-right: px2vw-md(40px);
        width: px2vw-md(415px);
      }

      @include sm {
        margin-right: px2vw-sm(40px);
        width: px2vw-sm(415px);
      }
    }

    &.views,
    &.likes {
      margin-right: px2vw-xl(40px);
      width: px2vw-xl(72px);
      text-align: right;

      @include lg {
        margin-right: px2vw-lg(40px);
        width: px2vw-lg(72px);
      }

      @include md {
        margin-right: px2vw-md(40px);
        width: px2vw-md(72px);
      }

      @include sm {
        margin-right: px2vw-sm(40px);
        width: px2vw-sm(72px);
      }
    }

    &.comments {
      margin-right: px2vw-xl(50px);
      width: px2vw-xl(105px);
      text-align: right;

      @include lg {
        margin-right: px2vw-lg(50px);
        width: px2vw-lg(105px);
      }

      @include md {
        margin-right: px2vw-md(50px);
        width: px2vw-md(105px);
      }

      @include sm {
        margin-right: px2vw-sm(50px);
        width: px2vw-sm(105px);
      }
    }

    &.status {
      width: px2vw-xl(74px);
      text-align: right;

      @include lg {
        width: px2vw-lg(74px);
      }

      @include md {
        width: px2vw-md(74px);
      }

      @include sm {
        width: px2vw-sm(74px);
      }
    }
  }
}

.TeamCard {
  @extend %u-dfCenter;
  border-bottom: px2vw-xl(1px) solid var(--white-smoke);
  padding: px2vw-xl(16px);

  @include lg {
    border-bottom-widt: px2vw-lg(1px);
    padding: px2vw-lg(16px);
  }

  @include md {
    border-bottom-widt: px2vw-md(1px);
    padding: px2vw-md(16px);
  }

  @include sm {
    border-bottom-widt: px2vw-sm(1px);
    padding: px2vw-sm(16px);
  }

  &-info-name {
    // @extend %subtitle-1;
    // margin-bottom: 0;
    // color: var(--white);
  }

  &-manage {
    @extend %u-dfCenterEnd;
    flex-shrink: 0;
    margin-left: auto;
  }

  &-manage-button {
    margin-left: px2vw-xl(8px);

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-manage-button-menu {
    width: px2vw-xl(24px);
    height: px2vw-xl(24px);
    background-color: transparent;

    @include lg {
      width: px2vw-lg(24px);
      height: px2vw-lg(24px);
    }

    @include md {
      width: px2vw-md(24px);
      height: px2vw-md(24px);
    }

    @include sm {
      width: px2vw-sm(24px);
      height: px2vw-sm(24px);
    }
  }

  &-manage-button-menu-icon {
    font-size: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  &-manage-menu-link {
    .link,
    .icon {
      color: var(--white-medium);
    }

    &:hover .icon {
      color: var(--color-primary);
    }
  }
}

.Dashboard-matches {
  margin-bottom: px2vw-xl(48px);
  margin-top: px2vw-xl(48px);
  bottom: -15px;
  position: relative;

  @include lg {
    margin-bottom: px2vw-lg(48px);
  }

  @include md {
    margin-bottom: px2vw-md(48px);
  }

  @include sm {
    margin-bottom: px2vw-sm(48px);
  }

  &-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(24px);
    font-size: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(20px);
    }
  }

  &-empty {
    @extend %u-dfStartCenter;
    background-size: cover;
    padding: px2vw-xl(53px) 0 px2vw-xl(73px);

    @include lg {
      padding: px2vw-lg(53px) 0 px2vw-lg(73px);
    }

    @include md {
      padding: px2vw-md(53px) 0 px2vw-md(73px);
    }

    @include sm {
      padding: px2vw-sm(53px) 0 px2vw-sm(73px);
    }
  }

  &-empty-card {
    text-align: center;
  }

  &-empty-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(4px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-empty-message {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-empty-button {
  }
}

.TournamentsCreated-table {
  &-toggles {
    border-bottom: px2vw-xl(1px) solid var(--white-light);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
    }
  }

  &-content {
    padding-top: px2vw-xl(8px);

    @include lg {
      padding-top: px2vw-lg(8px);
    }

    @include md {
      padding-top: px2vw-md(8px);
    }

    @include sm {
      padding-top: px2vw-sm(8px);
    }
  }
}

$-button-more-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
  0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);

.button-more {
  @extend %button-label;
  box-shadow: $-button-more-shadow;
  width: 100%;
  padding: px2vw-xl(20px);
  background: var(--gradient-bg);
  color: var(--white-high);
  text-align: center;
  transition: $global-transition2;
  margin-top: 10px;
  margin-bottom: 10px;

  @include lg {
    padding: px2vw-lg(20px);
  }

  @include md {
    padding: px2vw-md(20px);
  }

  @include sm {
    padding: px2vw-sm(20px);
  }

  &:hover {
    background-color: var(--color-secondary);
  }
}

.about {
  position: relative;
  // top: 170px;
}

.about-title {
  padding-left: 16px;
  position: relative;
  bottom: -5px;
}

.team-members {
  position: relative;
  bottom: px2vw-xl(-10px);
  margin-top: px2vw-xl(210px) !important;

  @include lg {
    position: relative;
    bottom: px2vw-lg(-10px);
    margin-top: px2vw-lg(210px) !important;
  }
}

.content {
  font-family: "redhat-regular";
  font-style: normal;
  font-size: px2vw-xl(14px);
  color: var(--white-medium);

  @include lg {
    font-family: "redhat-regular";
    font-style: normal;
    font-size: px2vw-lg(14px);
    color: var(--white-medium);
  }

  @include md {
    font-family: "redhat-regular";
    font-style: normal;
    font-size: px2vw-md(14px);
    color: var(--white-medium);
  }

  @include sm {
    font-family: "redhat-regular";
    font-style: normal;
    font-size: px2vw-sm(14px);
    color: var(--white-medium);
  }
}

a:hover {
  cursor: pointer;
}

// @include sm{
//   .container{
//     hr{
//       width: 100%;
//     border: 1px solid var(--white-smoke);
//     }
//   }
// }
::ng-deep {
  .Content-table-card-item.title.global-Elipses {
    img {
      width: px2vw-xl(24px);

      @include lg {
        width: px2vw-lg(24px);
      }
      @include md {
        width: px2vw-md(24px);
      }
      @include sm {
        width: px2vw-md(24px);
      }
    }
    .span {
      margin-left: px2vw-xl(10px);

      @include lg {
        margin-left: px2vw-lg(10px);
      }
      @include md {
        margin-left: px2vw-md(10px);
      }
      @include sm {
        margin-left: px2vw-sm(10px);
      }
    }
  }
}
