<div class="VerificationForm">
  <h3 class="VerificationForm-title">
    {{ data.title | translate }}
  </h3>

  <p class="VerificationForm-subtitle">
    {{ data.subtitle | translate }}
    <span *ngIf="formValue?.mailPhone">
      {{ formValue.mailPhone }}
    </span>
  </p>

  <div class="VerificationForm-error" *ngIf="data.error">
    {{ data.error | translate }}
  </div>

  <div *ngIf="data.timerMs != 0" class="VerificationForm-input">
    <ng-otp-input class="VerificationForm-input-number" (onInputChange)="onOtpChange($event)"
      [config]="{ length: 4, allowNumbersOnly: true }"></ng-otp-input>
  </div>


  <div *ngIf="data.timerMs == 0" class="form-group" >
    {{"VERIFICATION.DIDNOT_RECEIVE_OTP" | translate }}
    <a class="resend" (click)="resendOtp(formValue.type)"> {{"VERIFICATION.RESEND" | translate }} </a>
  </div>


  <div *ngIf="data.timerMs != 0"  class="VerificationForm-expires">
    {{ "LOG_REG.FORGOT.Expires_in" | translate }}
    {{ data.timerMs | minuteSeconds }}
  </div>

  <div>
    <button class="VerificationForm-button submitt" (click)="onSubmitEvent()" [disabled]="!codeEntered"
      [class.is-edit]="!codeEntered">
      {{ data.submitBtn | translate }}
    </button>
  </div>

  <div class="VerificationForm-footer" *ngIf="data?.footerTitle && data.timerMs == 0">
    <p class="VerificationForm-footer-text">
      {{ data.footerTitle | translate }}
    </p>

    <a class="VerificationForm-footer-link" (click)="resendOtp(formValue.type)">
      {{ data.footerLinkTitle | translate }}
    </a>
  </div>
</div>
