@import "shared";

.SubmitForm {
  text-align: center;

  .error-icon {
    color: var(--orange-color-main);
  }

  &-span {
    cursor: pointer;
    margin-top: 10px;
    bottom: 3px;
    right: px2vw-xl(10px);
    font-size: 90%;

    @include lg {
      right: px2vw-lg(10px);
    }

    @include md {
      right: px2vw-md(10px);
    }

    @include sm {
      right: px2vw-sm(10px);
    }
  }

  &-checkbox {
    @extend %u-dfCenterCenter;
    margin-bottom: px2vw-xl(40px);
    margin-top: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
      margin-top: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      margin-top: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
      margin-top: px2vw-sm(32px);
    }

    &.is-forgotPass {
      @extend %u-dfCenterBtw;
    }
  }

  &-input {
    border-color: transparent;
  }

  &-submit {
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-or {
    margin-bottom: px2vw-xl(33px);
    line-height: px2vw-xl(40px);
    font-size: px2vw-xl(18px);
    font-family: "dynasty-primary-regular", sans-serif;
    opacity: 0.6;

    @include lg {
      margin-bottom: px2vw-lg(33px);
      line-height: px2vw-lg(40px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(33px);
      line-height: px2vw-md(40px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(33px);
      line-height: px2vw-sm(40px);
      font-size: px2vw-sm(18px);
    }
  }

  &-social {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }

    &-btn {
      width: px2vw-xl(55px);
      height: px2vw-xl(55px);
      line-height: px2vw-xl(60px);
      text-align: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.6);

      @include lg {
        width: px2vw-lg(55px);
        height: px2vw-lg(55px);
        line-height: px2vw-lg(60px);
      }

      @include md {
        width: px2vw-md(55px);
        height: px2vw-md(55px);
        line-height: px2vw-md(60px);
      }

      @include sm {
        width: px2vw-sm(55px);
        height: px2vw-sm(55px);
        line-height: px2vw-sm(60px);
      }

      fa-icon {
        font-size: px2vw-xl(27px);
        color: #000;

        @include lg {
          font-size: px2vw-lg(27px);
        }

        @include md {
          font-size: px2vw-md(27px);
        }

        @include sm {
          font-size: px2vw-sm(27px);
        }
      }
    }
  }

  &-footer {
    font-size: px2vw-xl(18px);
    letter-spacing: px2vw-xl(0.9px);
    margin-bottom: px2vw-xl(10px);
    color: #9e9c9c;
    font-family: "dynasty-primary-light", sans-serif;

    @include lg {
      font-size: px2vw-lg(18px);
      letter-spacing: px2vw-lg(0.9px);
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      font-size: px2vw-md(18px);
      letter-spacing: px2vw-md(0.9px);
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      letter-spacing: px2vw-sm(0.9px);
      margin-bottom: px2vw-sm(10px);
    }

    b {
      color: var(--orange-color-main);
    }
  }

  &-privacyPolicy {
    text-align: center;

    a {
      font-size: px2vw-xl(14px);
      font-family: "dynasty-primary-light", sans-serif;

      @include lg {
        font-size: px2vw-lg(14px);
      }

      @include md {
        font-size: px2vw-md(14px);
      }

      @include sm {
        font-size: px2vw-sm(14px);
      }
    }
  }
}

.underline {
  text-decoration: none;
  border-bottom: var(--orange-color-main) 2px solid;
}

.mesf-intlTel {
  // ngx-intl-tel-input {
  //   padding-bottom: 0;
  // }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-footer-error {
    position: static;
    margin-right: 10px;
  }

  &-footer-email {
    margin: 0 px2vw-xl(8px) 0 auto;
    font-size: 12px;

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }
  }
}
.textsize{
  text-align: initial !important;
  @include sm {
  line-height: px2vw-sm(8px) !important;

  }
}
.box-label-break {
  display: none;
  padding: 3px;

  @include sm {
    clear: both;
    width: 100%;
    display: block;
  }
}
