<form [formGroup]="form" (submit)="onSubmitEvent()" class="SubmitForm">
  <div class="LogReg-title">{{ data.title | translate }}</div>

  <div class="LogReg-subtitle">{{ data.subtitle | translate }}</div>

  <div class="LogReg-error" *ngIf="data.error">
    {{ data.error | uppercase | translate }}
  </div>

  <ng-container *ngIf="data.firstInputType === 'phone'; else notPhone">
    <div class="mesf-intlTel">
      <ngx-intl-tel-input
        [inputId]="'firstInput'"
        [preferredCountries]="preferredCountries"
        [searchCountryField]="[SearchCountryField.All]"
        [selectedCountryISO]="selectedCountryISO"
        [maxLength]="15"
        [enableAutoCountrySelect]="true"
        [selectFirstCountry]="false"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [separateDialCode]="true"
        [phoneValidation]="true"
        (countryChange)="onCountryChange($event)"
        name="firstInput"
        formControlName="firstInput"
      >
      </ngx-intl-tel-input>

      <span class="mesf-intlTel-rightText" (click)="changeLoginType('email')">{{
        "LOG_REG.LOGIN.LOGIN_BY_EMAIL" | translate
      }}</span>

      <mat-error
        class="error-font-size"
        *ngIf="
          form.get('firstInput').touched &&
          form.get('firstInput').hasError('required')
        "
        >{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
      >
      <mat-error
        class="error-font-size"
        *ngIf="form.get('firstInput').hasError('validatePhoneNumber')"
        >{{ "LOG_REG.LOGIN.VALIDATION1" | translate }}</mat-error
      >
    </div>
  </ng-container>

  <ng-template #notPhone>
    <mat-form-field
      class="mesf-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>{{ data.firstInputPlaceholder | translate }}</mat-label>
      <input
        class="SubmitForm-input"
        formControlName="firstInput"
        matInput
        [type]="data.firstInputType"
      />
      <button type="button" matSuffix mat-button>
        <span
          class="material-icons"
          *ngIf="
            !form.get('firstInput').touched || !form.get('firstInput').invalid
          "
          >{{ data.firstInputIcon }}</span
        >
        <span
          class="material-icons error-icon"
          *ngIf="
            form.get('firstInput').touched && form.get('firstInput').invalid
          "
          >error</span
        >
      </button>
      <span
        *ngIf="activeTypeValue === AppHtmlRoutesLoginType.emailLogin"
        class="mesf-MatInputOutline-hint"
        (click)="changeLoginType('phone')"
        >{{ "LOG_REG.LOGIN.LOGIN_BY_PHONE" | translate }}</span
      >
      <mat-error *ngIf="form.get('firstInput').hasError('required')">{{
        "LOG_REG.LOGIN.REQUIRED" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('firstInput').hasError('email')">{{
        "LOG_REG.LOGIN.VALIDATION2" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('firstInput').hasError('minlength')">{{
        "LOG_REG.LOGIN.VALIDATION3" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('firstInput').hasError('maxlength')">{{
        "LOG_REG.LOGIN.VALIDATION4" | translate
      }}</mat-error>
    </mat-form-field>
  </ng-template>

  <ng-container *ngIf="data.secondInputType === 'phone'; else secondNotPhone">
    <div class="mesf-intlTel">
      <ngx-intl-tel-input
        [inputId]="'secondInput'"
        [preferredCountries]="preferredCountries"
        [searchCountryField]="[SearchCountryField.All]"
        [selectedCountryISO]="selectedCountryISO"
        [maxLength]="15"
        [enableAutoCountrySelect]="true"
        [selectFirstCountry]="false"
        [enablePlaceholder]="true"
        [searchCountryFlag]="true"
        [separateDialCode]="true"
        [phoneValidation]="true"
        (countryChange)="onCountryChange($event)"
        name="firstInput"
        formControlName="secondInput"
      >
      </ngx-intl-tel-input>

      <div class="mesf-intlTel-footer">
        <mat-error
          class="mesf-intlTel-footer-error"
          *ngIf="
            form.get('secondInput').touched &&
            form.get('secondInput').hasError('required')
          "
        >
          {{ "LOG_REG.LOGIN.REQUIRED" | translate }}
        </mat-error>
        <mat-error
          class="mesf-intlTel-footer-error"
          *ngIf="form.get('secondInput').hasError('validatePhoneNumber')"
        >
          {{ "LOG_REG.LOGIN.VALIDATION1" | translate }}
        </mat-error>

        <span
          class="SubmitForm-span mesf-intlTel-footer-email"
          (click)="changeInput(data.secondInputType)"
        >
          {{ "LOG_REG.REGISTER.REGISTER_BY_EMAIL" | translate }}
        </span>
      </div>
    </div>
  </ng-container>

  <ng-template #secondNotPhone>
    <mat-form-field
      [class.is-forgotPass]="
        activeTypeValue === AppHtmlRoutesLoginType.phoneLogin
      "
      class="mesf-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>{{ data.secondInputPlaceholder | translate }}</mat-label>
      <input
        formControlName="secondInput"
        matInput
        [type]="data.secondInputType"
      />
      <button type="button" matSuffix mat-button>
        <span class="material-icons">{{ data.secondInputIcon }}</span>
      </button>
      <span
        *ngIf="activeTypeValue === AppHtmlRoutesLoginType.registration"
        class="mesf-MatInputOutline-hint"
        (click)="changeInput(data.secondInputType)"
        >{{ "LOG_REG.REGISTER.REGISTER_BY_PHONE" | translate }}</span
      >
      <mat-error *ngIf="form.get('secondInput').hasError('required')">{{
        "LOG_REG.LOGIN.REQUIRED" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('secondInput').hasError('email')">{{
        "LOG_REG.LOGIN.VALIDATION2" | translate
      }}</mat-error>
    </mat-form-field>
  </ng-template>
  <ng-container
    *ngIf="
      activeTypeValue === AppHtmlRoutesLoginType.phoneLogin ||
        activeTypeValue === AppHtmlRoutesLoginType.emailLogin;
      else registration
    "
  >
    <div class="SubmitForm-checkbox is-forgotPass">
      <mat-checkbox
        formControlName="privacyPolicy"
        (change)="onKeepLoggedIn()"
        color="primary"
        class="mesf-MatCheckBox"
        >{{ data.checkboxLabel | translate }}</mat-checkbox
      >

      <a (click)="forgot()" class="mesf-IconBtn">{{
        data?.forgotPass | translate
      }}</a>
    </div>
  </ng-container>
  <ng-template #registration>
    <div class="SubmitForm-checkbox textsize">
      <mat-checkbox
        formControlName="privacyPolicy"
        color="primary"
        class="mesf-MatCheckBox"
        ><span>{{ data.checkboxLabel | translate }} </span>
        <span>
          <a
            [routerLink]="AppHtmlRoutes.privacyPolicy"
            class="underline text-base2"
            ><b>{{ data.checkboxLabelpp | translate }}</b></a
          >
          and
        </span>
        <span class="box-label-break"></span>
        <span>
          <a
            [routerLink]="AppHtmlRoutes.termsandconditions"
            class="underline text-base2"
            ><b>{{ data.checkboxLabeltc | translate }}</b></a
          ></span
        >
      </mat-checkbox>
    </div>
  </ng-template>

  <div class="SubmitForm-submit">
    <button
      type="submit"
      [class.is-edit]="form.invalid"
      [disabled]="form.invalid"
      class="mesf-EditBtn is-sm"
    >
      {{ data.submitBtn | translate }}
    </button>
  </div>

  <div [innerHTML]="data.orLabel | translate" class="SubmitForm-or"></div>

  <app-social-media-login [referredBy]="referredBy"></app-social-media-login>

  <div class="SubmitForm-footer">
    {{ data.footerText | translate }}
    <a [routerLink]="data.footerLinkUrl" class="mesf-IconBtn"
      ><b>{{ data.footerLink | translate }}</b></a
    >
  </div>

  <!-- <div class="SubmitForm-privacyPolicy">
    <a [routerLink]="AppHtmlRoutes.privacyPolicy" class="mesf-IconBtn">{{
      "LOG_REG.LOGIN.PRIVACY" | translate
    }}</a>
  </div> -->
</form>
