<section class="TI-sectionA u-wp">
  <h3 class="TI-sectionA-title global-H3">
    {{ "ESPORTS.INFO.SECTIONA.TITLE" | translate }}
  </h3>
</section>

<section class="TI-sectionB u-wp">
  <div class="TI-sectionB-step-block">
    <div class="TI-sectionB-step-number">1</div>

    <p class="TI-sectionB-step-description global-H6">
      {{ "ESPORTS.INFO.SECTIONB.STEP_1" | translate }}
    </p>
  </div>

  <div class="TI-sectionB-step-block center">
    <div class="TI-sectionB-step-number">2</div>

    <p class="TI-sectionB-step-description global-H6">
      {{ "ESPORTS.INFO.SECTIONB.STEP_2" | translate }}
    </p>
  </div>

  <div class="TI-sectionB-step-block">
    <div class="TI-sectionB-step-number">3</div>

    <p class="TI-sectionB-step-description global-H6">
      {{ "ESPORTS.INFO.SECTIONB.STEP_3" | translate }}
    </p>
  </div>
</section>

<section class="TI-sectionC u-wp">
  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        [lazyLoad]="slide1"
        alt="step image"
      />
    </div>

    <p class="TI-sectionC-card-text global-text-body">
      {{ "ESPORTS.INFO.SECTIONB.DESC_1" | translate }}
    </p>
  </div>

  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        [lazyLoad]="slide2"
        alt="step image"
      />
    </div>

    <p class="TI-sectionC-card-text global-text-body">
      {{ "ESPORTS.INFO.SECTIONB.DESC_2" | translate }}
    </p>
  </div>

  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        [lazyLoad]="slide3"
        alt="step image"
      />
    </div>

    <p class="TI-sectionC-card-text global-text-body">
      {{ "ESPORTS.INFO.SECTIONB.DESC_3" | translate }}
    </p>
  </div>
</section>

<section class="TI-sectionD u-wp">
  <button
    class="TI-sectionC-button global-button primary"
    [routerLink]="AppHtmlRoutes.tournamentCreate"
  >
    {{ "ESPORTS.INFO.SECTIOND.BTN" | translate }}
  </button>
</section>
