@import "shared";

.ArticleMainA {
  margin-bottom: px2vw-xl(30px);
  display: flex;
  justify-content: space-between;

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    flex-flow: column;
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }

  &-item {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    background-size: cover;
    border-top: 1px solid var(--base-gainsboro);
    padding: px2vw-xl(24px) 0;
    cursor: pointer;

    @include lg {
      padding: px2vw-lg(24px) 0;
    }

    @include md {
      padding: px2vw-md(24px) 0;
    }

    @include sm {
      padding: px2vw-sm(24px) 0;
    }

    &-label {
      z-index: 1;
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: px2vw-xl(16px);
      border-radius: px2vw-xl(4px);
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(24px);
      font-weight: bold;
      color: var(--primary-sunset-light);

      @include lg {
        margin-bottom: px2vw-lg(16px);
        border-radius: px2vw-lg(4px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
        border-radius: px2vw-md(4px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        margin-bottom: px2vw-sm(16px);
        border-radius: px2vw-sm(4px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }

      .label-icon {
        margin-left: px2vw-xl(14px);

        @include lg {
          margin-left: px2vw-lg(14px);
        }

        @include md {
          margin-left: px2vw-md(14px);
        }

        @include sm {
          margin-left: px2vw-sm(14px);
        }
      }
    }

    &-title {
      z-index: 1;
      font-family: "stc-forward-medium", sans-serif;
      margin-bottom: 0;
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(32px);
      color: var(--base-black-pearl);

      @include lg {
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        font-size: px2vw-md(20px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(32px);
      }
    }

    &-text {
      z-index: 1;
      font-family: "stc-forward-regular", sans-serif;
      font-size: px2vw-xl(16px);

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }
    }

    &.is-img {
      border: none;
      border-radius: 5px;
    }
  }

  &-left {
    max-width: px2vw-xl(878px);
    margin-right: px2vw-xl(33px);
    width: 100%;
    cursor: pointer;

    @include lg {
      max-width: px2vw-lg(620px);
      margin-right: px2vw-lg(33px);
    }

    @include md {
      max-width: none;
      margin-bottom: px2vw-md(33px);
      margin-right: 0;
    }

    @include sm {
      margin-bottom: px2vw-sm(33px);
    }

    &-title {
      color: var(--base-black-pearl);
      font-family: "stc-forward-bold", sans-serif;
      font-size: px2vw-xl(40px);
      margin-bottom: px2vw-xl(20px);

      @include lg {
        font-size: px2vw-lg(40px);
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(40px);
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(40px);
        margin-bottom: px2vw-sm(20px);
      }
    }

    .ArticleMainA-item {
      margin-bottom: px2vw-xl(24px);
      height: px2vw-xl(418px);

      @include lg {
        margin-bottom: px2vw-lg(24px);
        height: px2vw-lg(418px);
      }

      @include md {
        margin-bottom: px2vw-md(24px);
        height: px2vw-md(418px);
      }

      @include sm {
        margin-bottom: px2vw-sm(24px);
        height: px2vw-sm(300px);
      }

      &-title {
        color: var(--base-black-pearl);
        font-size: px2vw-xl(24px);
        line-height: px2vw-xl(32px);

        @include lg {
          font-size: px2vw-lg(24px);
          line-height: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(20px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(20px);
          line-height: px2vw-sm(24px);
        }
      }
    }
  }

  &-right {
    display: flex;
    flex-flow: column;
    flex: 4;
    width: 100%;

    @include md {
      flex: 1;
    }

    &-title {
      margin-bottom: px2vw-xl(20px);
      color: var(--base-black-pearl);
      font-family: "stc-forward-bold", sans-serif;
      font-size: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(20px);
        font-size: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
        font-size: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(16px);
        font-size: px2vw-sm(24px);
        line-height: px2vw-sm(32px);
      }
    }

    &-no-posts {
      font-family: "stc-forward-regular", sans-serif;
      color: var(--base-black-pearl);
    }
  }
}

.ArticleMainB {
  margin-top: px2vw-xl(40px);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: px2vw-xl(20px);
  grid-row-gap: px2vw-xl(20px);
  padding-bottom: px2vw-xl(10px);

  @include lg {
    margin-top: 0;
    grid-column-gap: px2vw-lg(10px);
    grid-row-gap: px2vw-lg(20px);
    padding: px2vw-lg(30px) 0;
  }

  @include md {
    grid-template-columns: minmax(0, 1fr);
    grid-column-gap: px2vw-md(10px);
    grid-row-gap: px2vw-md(10px);
    padding: px2vw-md(30px) 0;
  }

  @include sm {
    grid-column-gap: px2vw-sm(10px);
    grid-row-gap: px2vw-sm(10px);
    padding: px2vw-sm(30px) 0;
  }

  &-create-button {
    padding-bottom: px2vw-xl(20px);
    font-family: "stc-forward-regular", sans-serif;

    &.is-active {
      background-color: transparent;
      color: var(--primary-sunset-light);
    }
  }
}

.ArticleMainD {
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: scroll;
  padding-bottom: px2vw-xl(72px);

  @include md {
    overflow-x: visible;
  }

  &-title {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-list {
    display: flex;
    align-items: flex-start;

    @include md {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(20px);
    }

    @include sm {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: 20px;
    }

    &-card {
      @include btnEvents();
      @extend %u-dfCenterCenter;
      display: flex;
      flex-direction: column;
      width: px2vw-xl(196px);
      background: none;
      transition: 100ms linear;

      @include lg {
        width: px2vw-lg(175px);
      }

      @include md {
        margin-bottom: px2vw-md(30px);
        width: px2vw-md(220px);
      }

      @include sm {
        margin-bottom: px2vw-sm(30px);
        width: auto;
        height: auto;
      }

      &-image {
        object-fit: cover;
        border-radius: px2vw-xl(8px);
        background-color: var(--base-black-pearl);
        height: px2vw-xl(196px);
        width: px2vw-xl(196px);

        @include lg {
          border-radius: px2vw-lg(8px);
          height: px2vw-lg(175px);
          width: px2vw-lg(175px);
        }

        @include md {
          border-radius: px2vw-md(8px);
          height: px2vw-md(220px);
          width: px2vw-md(220px);
        }

        @include sm {
          border-radius: px2vw-sm(8px);
          height: px2vw-sm(247px);
          width: 100%;
        }
      }

      &-text {
        width: 100%;
        margin-top: px2vw-xl(24px);
        margin-bottom: 0;
        display: block;
        text-align: center;
        font-size: px2vw-xl(18px);
        font-family: "stc-forward-regular", sans-serif;
        color: var(--base-black-pearl);

        @include lg {
          margin-top: px2vw-lg(24px);
          font-size: px2vw-lg(18px);
        }

        @include md {
          margin-top: px2vw-md(15px);
          font-size: px2vw-md(18px);
        }

        @include sm {
          margin-top: px2vw-sm(15px);
          font-size: px2vw-sm(18px);
        }
      }

      &:not(:last-child) {
        margin-right: px2vw-xl(32px);

        @include lg {
          margin-right: px2vw-lg(23px);
        }

        @include md {
          margin-right: 0;
        }
      }
    }
  }
}

.ArticleMainC {
  margin-top: px2vw-xl(30px);
  padding-top: px2vw-xl(50px);
  position: relative;

  @include lg {
    margin-top: 0;
    border-top-width: 1px;
    padding-top: px2vw-lg(50px);
  }

  @include md {
    position: absolute;
    left: 0;
    right: 0;
    padding-top: px2vw-md(30px);
  }

  @include sm {
    padding-top: px2vw-sm(30px);
  }

  &-title {
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(35px);
      padding: 0 px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(35px);
      padding: 0 px2vw-sm(20px);
    }
  }

  &-video {
    @extend %u-dfCenterBtw;
    align-items: stretch;
    justify-content: flex-start;

    @include md {
      flex-flow: column;
    }

    &-scroll {
      width: 100%;
      border-bottom: 1px solid var(--base-gainsboro);

      @include lg {
        max-width: initial;
      }
    }

    &-right {
      @extend %u-dfCenterCenter;
      background-size: cover;
      border-radius: px2vw-xl(8px);
      min-width: px2vw-xl(766px);
      height: px2vw-xl(416px);

      @include lg {
        margin-bottom: px2vw-lg(20px);
        border-radius: px2vw-lg(8px);
        min-width: px2vw-lg(766px);
        height: px2vw-lg(330px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
        border-radius: 0;
        height: px2vw-md(400px);
        min-width: auto;
        width: 100%;
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
        height: px2vw-sm(280px);
      }

      & h3 {
        color: var(--primary-sunset-light);
      }
    }

    &-container {
      margin-left: px2vw-xl(33px);

      @include lg {
        margin-left: px2vw-lg(16px);
      }

      @include md {
        margin-left: 0;
      }
    }

    &-item {
      @extend %u-dfCenterStart;
      padding: 0 px2vw-xl(20px) px2vw-xl(33px) 0;
      width: 100%;
      background: none;
      color: var(--base-black-pearl);
      transition: 100ms linear;

      &:hover {
        opacity: 0.9;
      }

      @include lg {
        padding: 0 px2vw-lg(20px) px2vw-lg(8px) 0;
      }

      @include md {
        padding: 0 px2vw-md(20px) px2vw-md(16px) 0;
      }

      @include sm {
        padding: 0 px2vw-sm(20px) px2vw-sm(16px) 0;
      }

      &-img-block {
        @extend %u-dfCenterCenter;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: px2vw-xl(8px);
        margin-right: px2vw-xl(32px);
        min-width: px2vw-xl(155px);
        height: px2vw-xl(90px);
        position: relative;

        @include lg {
          margin-right: px2vw-lg(15px);
          border-radius: px2vw-lg(8px);
          min-width: px2vw-lg(155px);
          height: px2vw-lg(90px);
        }

        @include md {
          margin-right: px2vw-md(15px);
          border-radius: 0;
          min-width: px2vw-md(155px);
          height: px2vw-md(90px);
        }

        @include sm {
          margin-right: px2vw-sm(15px);
          min-width: px2vw-sm(155px);
          height: px2vw-sm(90px);
        }
      }

      &-info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }

      &-title {
        margin-bottom: px2vw-xl(8px);
        text-align: left;
        font-family: "stc-forward-medium", sans-serif;
        font-size: px2vw-xl(20px);
        line-height: px2vw-xl(32px);
        color: var(--base-black-pearl);

        @include lg {
          margin-bottom: px2vw-lg(8px);
          font-size: px2vw-lg(20px);
          line-height: px2vw-lg(32px);
        }

        @include md {
          margin-bottom: px2vw-md(8px);
          font-size: px2vw-md(20px);
          line-height: px2vw-md(32px);
        }

        @include sm {
          margin-bottom: px2vw-sm(8px);
          font-size: px2vw-sm(20px);
          line-height: px2vw-sm(32px);
        }
      }

      &-author {
        margin-bottom: 0;
        text-align: left;
        text-transform: capitalize;
        font-size: px2vw-xl(18px);
        line-height: px2vw-xl(24px);
        color: var(--base-submarine);

        @include lg {
          font-size: px2vw-lg(18px);
          line-height: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(18px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(18px);
          line-height: px2vw-sm(24px);
        }
      }

      &-iframe {
        margin-right: px2vw-xl(26px);
        width: px2vw-xl(155px);
        height: px2vw-xl(88px);
        pointer-events: none;

        @include lg {
          margin-right: px2vw-lg(26px);
          width: px2vw-lg(155px);
          height: px2vw-lg(88px);
        }

        @include md {
          margin-right: px2vw-md(26px);
          width: px2vw-md(155px);
          height: px2vw-md(88px);
        }

        @include sm {
          margin-right: px2vw-sm(26px);
          width: px2vw-sm(155px);
          height: px2vw-sm(88px);
        }
      }
    }

    &-button {
      margin-top: px2vw-xl(10px);
      background-color: transparent;
      font-size: px2vw-xl(18px);
      font-weight: bold;
      line-height: px2vw-xl(24px);
      color: var(--primary-sunset-light);

      @include lg {
        margin-top: px2vw-lg(10px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        margin-top: px2vw-md(10px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        margin-top: px2vw-sm(10px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }

      &.padding {
        @include md {
          padding: 0 px2vw-md(20px);
        }

        @include sm {
          padding: 0 px2vw-sm(20px);
        }
      }
    }
  }
}

.ArticleMainE {
  margin-top: px2vw-xl(80px);

  @include lg {
    margin-top: px2vw-lg(45px);
  }

  @include md {
    margin-top: px2vw-md(980px);
  }

  @include sm {
    margin-top: px2vw-sm(860px);
  }

  &-title {
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(20px);
    grid-row-gap: px2vw-xl(20px);

    @include lg {
      grid-column-gap: px2vw-lg(10px);
      grid-row-gap: px2vw-lg(20px);
    }

    @include md {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: px2vw-md(10px);
      grid-row-gap: px2vw-md(10px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(10px);
      grid-row-gap: px2vw-sm(10px);
    }
  }

  &-create-buttons {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-create-button {
    margin-bottom: px2vw-xl(50px);
    font-family: "stc-forward-regular", sans-serif;

    &.is-active {
      background-color: transparent;
      color: var(--primary-sunset-light);
    }
  }
}

app-article-item ::ng-deep {
  .ArticleItem-content-title {
    @include md {
      font-size: px2vw-md(22px);
      line-height: px2vw-md(28px);
    }

    @include sm {
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(28px);
    }
  }
}

::ng-deep {
  .swiper-wrapper .swiper-slide {
    background-color: var(--base-black);
  }
}
