<header class="SelectTeams-header">
  <h1 class="SelectTeams-header-title">
    {{ "MATCHMAKING.SELECT_TEAMS.TITLE" | translate }}
  </h1>
  <p class="SelectTeams-header-subtitle">
    {{ "MATCHMAKING.SELECT_TEAMS.SUBTITLE" | translate }}
  </p>
</header>
<div class="SelectTeams-items">
  <!-- <h1 class="NewTeam-title global-H3">
    {{ "NEW_TEAM.TITLE" | translate }}
  </h1>
  <p class="NewTeam-subtitle">
    {{ "NEW_TEAM.SUBTITLE" | translate }}
  </p> -->

  <ul class="SelectTeams-items-cards">
    <ng-container *ngIf="teams.length">
      <li *ngFor="let team of teams; let i = index" class="SelectTeams-items-card" (click)="selectTeam(i)">
        <div class="SelectTeams-items-card-banner" [style.background-image]="'url(' + team?.logo + ')'"></div>
        <div class="SelectTeams-items-card-info">
          <div class="SelectTeams-items-card-image" [lazyLoad]="team.banner"></div>
          <p class="SelectTeams-items-card-name card-name">
            {{ team?.teamName }}
          </p>
          <p class="SelectTeams-items-card-members card-members">
            {{team?.teamSize}} {{ 'MATCHMAKING.GAME_LOBBY.CHAT.MEMBERS' | translate }} </p>
        </div>
      </li>
    </ng-container>

    <!-- New team button -->
    <li class="SelectTeams-items-card" [routerLink]="AppHtmlRoutes.createTeam">
      <div class="SelectTeams-items-card-image add-plus">
        <span class="SelectTeams-items-card-icon" inlineSVG="assets/icons/Icon-plus.svg"></span>
      </div>
      <p class="SelectTeams-items-card-name card-name">
        {{ "NEW_TEAM.NEW_TEAM" | translate }}
      </p>
    </li>

  </ul>
</div>
