@import "shared";

:host {
  display: block;
}

// .NewTeam {
//   &-title {
//     margin-bottom: px2vw-xl(16px);

//     @include lg {
//       margin-bottom: px2vw-lg(16px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(16px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(16px);
//     }
//   }

//   &-subtitle {
//     margin-bottom: 0;
//   }

//   &-list {
//     margin-top: px2vw-xl(40px);
//     margin-bottom: 0;
//     display: grid;
//     grid-template-columns: repeat(3, minmax(0, 1fr));
//     grid-template-rows: 1fr;
//     grid-column-gap: px2vw-xl(30px);
//     grid-row-gap: px2vw-xl(30px);

//     @include lg {
//       grid-template-columns: repeat(2, minmax(0, 1fr));
//       margin-top: px2vw-lg(40px);
//       grid-column-gap: px2vw-lg(30px);
//       grid-row-gap: px2vw-lg(30px);
//     }

//     @include md {
//       margin-top: px2vw-md(30px);
//       grid-column-gap: px2vw-md(30px);
//       grid-row-gap: px2vw-md(30px);
//     }

//     @include sm {
//       margin-top: px2vw-sm(25px);
//       grid-column-gap: px2vw-sm(20px);
//       grid-row-gap: px2vw-sm(20px);
//     }
//   }

//   &-item {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border: 1px solid var(--black-medium);
//     padding: px2vw-xl(40px) px2vw-xl(15px) px2vw-xl(25px);
//     cursor: pointer;
//     transition: $global-transition;

//     &:hover {
//       opacity: 0.85;
//     }

//     @include lg {
//       padding: px2vw-lg(50px) px2vw-lg(15px) px2vw-lg(35px);
//     }

//     @include md {
//       padding: px2vw-md(45px) px2vw-md(15px) px2vw-md(30px);
//     }

//     @include sm {
//       padding: px2vw-sm(35px) px2vw-sm(15px) px2vw-sm(25px);
//     }
//   }

//   &-item-logo {
//     border-radius: 50%;
//     margin-bottom: px2vw-xl(30px);
//     width: px2vw-xl(94px);
//     height: px2vw-xl(94px);
//     background-size: cover;
//     background-position: center center;
//     background-color: var(--color-primary);

//     @include lg {
//       margin-bottom: px2vw-lg(30px);
//       height: px2vw-lg(100px);
//       width: px2vw-lg(100px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(30px);
//       height: px2vw-md(100px);
//       width: px2vw-md(100px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(30px);
//       height: px2vw-sm(94px);
//       width: px2vw-sm(94px);
//     }
//   }

//   &-item-name {
//     margin-bottom: 0;
//     font-size: px2vw-xl(20px);
//     line-height: 1.2;
//     text-align: center;

//     @include lg {
//       font-size: px2vw-lg(20px);
//     }

//     @include md {
//       font-size: px2vw-md(20px);
//     }

//     @include sm {
//       font-size: px2vw-sm(20px);
//     }
//   }

//   &-item-add-icon {
//     height: px2vw-xl(32px);
//     width: px2vw-xl(32px);

//     @include lg {
//       height: px2vw-lg(32px);
//       width: px2vw-lg(32px);
//     }

//     @include md {
//       height: px2vw-md(32px);
//       width: px2vw-md(32px);
//     }

//     @include sm {
//       height: px2vw-sm(32px);
//       width: px2vw-sm(32px);
//     }
//   }
// }
.SelectTeams-header {
  margin-bottom: px2vw-xl(24px);

  @include lg {
    margin-bottom: px2vw-lg(24px);
  }

  @include md {
    margin-bottom: px2vw-md(24px);
  }

  @include sm {
    margin-bottom: 16px;
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--white);
    margin-bottom: px2vw-xl(32px);
    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
      font-size: 24px;
      line-height: 32px;
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  &-link {
    @extend %subtitle-1;
    color: var(--color-secondary);
    transition: $global-transition2;

    &:hover {
      color: var(--color-primary);
    }
  }
}
.SelectTeams-items {
  margin-bottom: px2vw-xl(30px);
  width: 100%;

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }

  &-title {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-cards {
    margin-bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include sm {
      justify-content: space-between;
    }
  }

  &-card {
    @extend %u-dfCenter;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: px2vw-xl(8px);
    border: px2vw-xl(1px) solid var(--midnight-express-color);
    background: var(--blackcurrant-color-medium);
    cursor: pointer;
    transition: $global-transition2;
    width: 100%;
    max-width: calc((100% / 3) - 48px);
    margin-bottom: px2vw-xl(24px);
    overflow: hidden;
    min-height: px2vw-xl(205px);

    @include lg {
      border-radius: px2vw-lg(8px);
      border-width: px2vw-lg(1px);
      margin-bottom: px2vw-lg(24px);
      min-height: px2vw-lg(205px);
    }

    @include md {
      border-radius: px2vw-md(8px);
      border-width: px2vw-md(1px);
      margin-bottom: px2vw-md(24px);
      min-height: px2vw-md(205px);
    }

    @include sm {
      max-width: calc((100% / 2) - 8px);
      border-radius: px2vw-sm(8px);
      border-width: px2vw-sm(1px);
      margin-bottom: px2vw-sm(24px);
      min-height: 176px;
    }
    &:nth-child(3n + 2) {
      margin-right: px2vw-xl(24px);
      margin-left: px2vw-xl(24px);
      @include lg {
        margin-right: px2vw-lg(24px);
        margin-left: px2vw-lg(24px);
      }

      @include md {
        margin-right: px2vw-md(24px);
        margin-left: px2vw-md(24px);
      }

      @include sm {
        margin-right: 0;
        margin-left: 0;
      }
    }

    &:last-child {
      border-style: dashed;
      justify-content: center;
    }
    &:hover {
      border-color: var(--main-color);
    }
    &.active {
      border-color: var(--main-color);

      .icon ::ng-deep svg path {
        fill: var(--color-primary);
      }

      .label {
        color: var(--white-high);
      }
    }
  }

  &-card-image {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: var(--black);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);
    margin: 0 auto 8px;
    @include lg {
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      height: px2vw-sm(86.016px);
      width: px2vw-sm(86.016px);
    }

    &.add-plus {
      @extend %u-dfCenterCenter;
      background-color: transparent;
      margin-bottom: px2vw-xl(28px);
      @include lg {
        margin-bottom: px2vw-lg(28px);
      }

      @include md {
        margin-bottom: px2vw-md(28px);
      }

      @include sm {
        margin-bottom: px2vw-sm(28px);
      }
    }
  }

  &-card-banner {
    background-color: var(--white);
    width: 100%;
    height: px2vw-xl(80px);
    margin-bottom: px2vw-xl(-30px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include lg {
      height: px2vw-lg(80px);
      margin-bottom: px2vw-lg(-30px);
    }

    @include md {
      height: px2vw-md(80px);
      margin-bottom: px2vw-md(-30px);
    }

    @include sm {
      height: px2vw-sm(80px);
      margin-bottom: px2vw-sm(-30px);
    }
  }
  &-card-icon {
    ::ng-deep svg {
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);

      @include lg {
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }

      @include md {
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }

      @include sm {
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }

      path {
        fill: var(--googly-yellow);
      }
    }
  }

  &-card-name {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    transition: inherit;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: px2vw-xl(6px);
  }
  &-card-members {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--tolopea-medium-color);
    margin-bottom: px2vw-xl(19px);
  }
}
