@import "shared";
@import "../../../../../../src/scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay;
}

.SelectGame {
  background-color: var(--color-background);
  position: relative;
  padding: px2vw-xl(80px) 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  background-image: url(../../../../../assets/images/create-tournament/bg-121212.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    padding: px2vw-lg(70px) 0 0 0;
  }

  @include md {
    padding: px2vw-md(64px) 0 0 0;
  }

  &-container {
    @extend %u-dfStart;
    flex-direction: column;
    max-width: 1304px;
    padding-top: px2vw-xl(87px);
    padding-bottom: px2vw-xl(164px);
    padding-left: px2vw-xl(24px);
    padding-right: px2vw-xl(24px);
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;

    @include lg {
      padding-top: px2vw-lg(70px);
    }

    @include md {
      padding-top: px2vw-md(60px);
    }

    @include sm {
      padding-top: px2vw-sm(57px);
    }
  }

  &-title {
    @extend %global-title;
    text-transform: none;
    margin-bottom: px2vw-xl(47px);

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(16px);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--concrete);
  }

  &-list {
    overflow-y: auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6 - 20px));
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 100%;

    @include lg {
      grid-template-columns: repeat(5, calc(100% / 5 - 16px));
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }

    @include md {
      grid-template-columns: repeat(4, calc(100% / 4 - 12px));
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }

    @include sm {
      grid-template-columns: repeat(2, calc(100% / 2 - 8px));
    }

    .icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: var(--white);
      opacity: 0;
      z-index: 9;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-item,
  &-item-image,
  &-item-name {
    transition: 150ms linear;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .SelectGame-card-image-block.image-block {
      width: 100%;
      .SelectGame-card-image {
        width: 100%;
        max-width: 100%;
        position: relative;
        height: 245px;
        overflow: hidden;
        border-radius: 20px;
        @include md {
          height: 220px;
        }

        @include sm {
          height: 206px;
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #782bcb83;
          z-index: 9;
          transform: translateY(101%);
          transition: all 100ms linear;
          opacity: 0;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          border: none;
          border-radius: 0;
        }
      }
    }
    &:hover {
      .SelectGame-card-image-block.image-block {
        .SelectGame-card-image {
          &::before {
            content: "";
            opacity: 1;
            transform: translateY(0);
            transition: all 100ms linear;
          }
        }
      }
      .name {
        color: var(--main-color);
      }
    }
    &.is-active {
      .SelectGame-card-image-block.image-block {
        .SelectGame-card-image {
          &::before {
            content: "";
            opacity: 1;
            transform: translateY(0);
            transition: all 100ms linear;
          }
        }
        .icon {
          opacity: 1;
        }
      }
      .name {
        color: var(--main-color);
      }
    }
  }

  &-item-image {
    border: 2px solid transparent;
    border-radius: px2vw-xl(10px);
    object-fit: cover;
    height: px2vw-xl(180px);
    width: 100%;

    @include lg {
      border-radius: px2vw-lg(10px);
      height: px2vw-lg(180px);
    }

    @include md {
      border-radius: px2vw-md(10px);
      height: px2vw-md(208px);
    }

    @include sm {
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(240px);
    }
  }

  &-item-name {
    margin-top: px2vw-xl(8px);
    margin-bottom: 0;
    @extend %global-textMd;
    color: var(--tolopea-color);
    text-align: center;
    text-transform: capitalize;
    @include md {
      font-size: 16px;
      line-height: 24px;
    }
  }

  app-page-switcher {
    margin-top: auto;
  }

  &-search {
    margin-bottom: px2vw-xl(48px);
    width: 100%;
    max-width: 642px;
    @include sm {
      max-width: 100%;
      margin-bottom: px2vw-sm(36px);
    }
    &-label {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(16px);
    }
  }
}
