<div class="ct-HeaderTop">
  <div class="SelectGame">
    <div class="SelectGame-container">
      <h2 class="SelectGame-title global-Title3">
        {{ "CREATE_TOURNAMENT.SELECT_GAME.TITLE" | translate }}
      </h2>
      <p class="SelectGame-subtitle mb-hide">
        {{ "CREATE_TOURNAMENT.SELECT_GAME.SUBTITLE" | translate }}
      </p>
      <div class="SelectGame-search">
        <app-input-game [placeholder]="
            'CREATE_TOURNAMENT.SELECT_GAME.SEARCH_PLACEHOLDER' | translate
          " [text]="text" (onTextChange)="onTextChange($event)"></app-input-game>
      </div>
      <app-loading *ngIf="showLoader"></app-loading>
      <ul *ngIf="games.length" class="SelectGame-list">
        <ng-container *ngFor="let game of filterGame() | customFilterPipe: Step2?.value?.type ">
          <li class="SelectGame-item" [class.is-active]="game?._id === Step2?.value?.gameDetail">
            <div class="SelectGame-card-image-block image-block" (click)="onSelectGame(game)">
              <div class="SelectGame-card-image">
                <img class="SelectGame-item-image image" [src]="game.image" [alt]="game.name" />
                <span class="icon">
                  <mat-icon class="SelectGame-card-selected-icon">
                    done
                  </mat-icon>
                </span>
              </div>
            </div>

            <p class="SelectGame-item-name name global-Text">
              {{ game.name }}
            </p>
          </li>
        </ng-container>
      </ul>
    </div>

    <app-page-switcher [step]="Step2?.value?.step" (onStepChange)="onStepChange($event)"></app-page-switcher>
  </div>
</div>