@import "shared";

:host {
  display: block;
  overflow: hidden;
}
.Profile-nav-link-lists {
  .is-add-member {
    mat-icon,
    span {
      color: var(--main-color);
    }
  }
}

.Profile {
  background-color: var(--color-background);
  position: relative;
  padding: 82px 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  @include lg {
    padding: 70px 0 0 0;
  }
  @include md {
    padding: 64px 0 0 0;
  }
  &-container {
    max-width: 1304px;
    padding: 62px 24px 146px;
    margin: 0 auto;
    width: 100%;
    @include md {
      padding-top: 56px;
    }
  }

  &-heading {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include md {
      margin-bottom: 24px;
    }
    @include sm {
      margin-bottom: 19px;
    }
    .title {
      font-family: "Avenir Next";
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      color: var(--white);
      margin-bottom: 0;
      @include md {
        font-size: 32px;
      }
      @include sm {
        font-size: 24px;
        line-height: 32px;
      }
    }
    .control {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .players {
        .btn-edit {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--secondary-color);
          text-transform: none;
        }
      }
      a.HeaderSpark-players-text {
        padding: 10px 32px;
        background: var(--white);
        border: 2px solid var(--secondary-color);
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--secondary-color);
      }
    }
  }
}
.Profile-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.Profile-nav {
  width: 100%;
  max-width: 297px;
  display: inline-block;

  @include md {
    max-width: 100%;
    margin-bottom: 24px;
  }

  &-links-collapsed {
    padding-bottom: px2vw-xl(8px);

    @include lg {
      padding-bottom: px2vw-lg(8px);
    }

    @include md {
      padding-bottom: px2vw-md(8px);
    }

    @include sm {
      padding-bottom: px2vw-sm(8px);
    }
  }

  &-links-tournaments {
    padding-left: px2vw-xl(16px);

    @include lg {
      padding-left: px2vw-lg(16px);
    }

    @include md {
      padding-left: px2vw-md(16px);
    }

    @include sm {
      padding-left: px2vw-sm(16px);
    }
  }

  &-link-main {
    @extend %u-dfCenter;
    padding: 0;
    margin-bottom: 20px;
    transition: all 100ms linear;

    mat-icon {
      @extend %u-dfCenterCenter;
      flex-shrink: 0;
      margin-right: px2vw-xl(20px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
      font-size: px2vw-xl(24px);
      color: var(--tertiary-color);
      transition: inherit;
    }

    span {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-white-medium);
      transition: inherit;
    }

    &.active {
      mat-icon {
        color: var(--main-color);
      }
      span {
        color: var(--main-color);
      }
    }

    &.first {
      margin-top: 0;
    }

    &:hover:not(.active) {
      mat-icon,
      span {
        color: var(--main-color);
      }
    }
  }

  &-link {
    @extend %u-dfCenterBtw;
    @extend %body-1;
    margin-top: px2vw-xl(4px);
    padding: px2vw-xl(8px) px2vw-xl(16px);
    width: 100%;
    color: var(--white-medium);
    transition: $global-transition;

    @include lg {
      margin-top: px2vw-lg(4px);
      padding: px2vw-lg(8px) px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(4px);
      padding: px2vw-md(8px) px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(4px);
      padding: px2vw-sm(8px) px2vw-sm(16px);
    }

    &:hover:not(.active) {
      color: var(--color-primary);
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--black);

      .inbox {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  &-link-inbox {
    @extend %caption;
    margin-left: px2vw-xl(10px);
    border-radius: px2vw-xl(20px);
    padding: px2vw-xl(2px) px2vw-xl(6px);
    background-color: var(--color-tertiary);
    transition: $global-transition;

    @include lg {
      margin-left: px2vw-lg(10px);
      border-radius: px2vw-lg(20px);
      padding: px2vw-lg(2px) px2vw-lg(6px);
    }

    @include md {
      margin-left: px2vw-md(10px);
      border-radius: px2vw-md(20px);
      padding: px2vw-md(2px) px2vw-md(6px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
      border-radius: px2vw-sm(20px);
      padding: px2vw-sm(2px) px2vw-sm(6px);
    }
  }

  &-bottom {
    margin-top: px2vw-xl(12px);
    border-top: px2vw-xl(1px) solid var(--white-smoke);
    padding-top: px2vw-xl(4px);

    @include lg {
      margin-top: px2vw-lg(12px);
      border-top-width: px2vw-lg(1px);
      padding-top: px2vw-lg(4px);
    }

    @include md {
      margin-top: px2vw-md(12px);
      border-top-width: px2vw-md(1px);
      padding-top: px2vw-md(4px);
    }

    @include sm {
      margin-top: px2vw-sm(12px);
      border-top-width: px2vw-sm(1px);
      padding-top: px2vw-sm(4px);
    }
  }
  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 26px;
  }

  &-subtitle {
    @extend %caption;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }
}
.Profile-content {
  width: 100%;
  max-width: calc(100% - 297px);
  padding-left: 48px;
  @include md {
    max-width: 100%;
    padding-left: 0;
  }
}
.Dashboard-cards {
  margin-top: 10px;
  &-item {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    background: var(--gradient-bg);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-value {
    @extend %subtitle-1;
    margin-bottom: 0;
  }
}

.border {
  border: 0.0694444444vw solid var(--white-light) !important;
  border-radius: px2vw-xl(4px);
  padding: px2vw-xl(16px);
  background: var(--gradient-bg);
  margin-bottom: 10px;
}
.Profile-nav-info {
  position: relative;
  padding-top: 12px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid #444;
  @include md {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 14px;
    border-bottom: none;
  }
  .inner {
    position: relative;
    @include md {
      // background: var(--midnight-express-color);
      background: var(--blackcurrant-color-medium);
      border-radius: 12px;
      padding: 14px 24px;
    }
    .info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @include md {
        justify-content: flex-start;
      }
      .logo {
        position: relative;
        width: 150px;
        height: 150px;
        border: 2px solid rgba(255, 255, 255, 0.12);
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-bottom: 2px;
        @include md {
          width: 40px;
          height: 40px;
          padding: 0px;
          border: none;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
        .edit {
          position: absolute;
          bottom: 0;
          width: 100%;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.38);
          padding: 10px 0;
          cursor: pointer;
          @include md {
            display: none;
          }
          .icon {
            .material-icons {
              color: var(--white);
              font-size: 12px;
            }
          }
          .text {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: var(--white);
          }
        }
      }
      .team-name {
        width: 100%;
        text-align: center;
        @include md {
          text-align: left;
          max-width: calc(100% - 40px);
          padding-left: 16px;
        }
        .name {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          text-align: center;
          letter-spacing: -0.5px;
          color: var(--white);
          margin-bottom: 8px;
          @include md {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
          }
        }
        .total-members {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          text-align: center;
          color: var(--tertiary-color);
          margin-bottom: 0;
          @include md {
            text-align: left;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
    .TeamCard-manage-button-menu {
      background: var(--blackcurrant-color-medium);
      border: 2px solid var(--tertiary-color);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      padding: 0;
      position: absolute;
      top: -13px;
      right: 0;
      @include md {
        border: none;
        border-radius: 50%;
        width: 20px;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        right: 28px;
        background: transparent;
      }
      .mat-icon {
        color: var(--tolopea-medium-color);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        @include md {
          color: var(--main-color);
        }
      }
    }
  }
}
.Profile-nav-mb {
  h4.title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: var(--tolopea-medium-color);
    margin-bottom: 4px;
  }
}
.Select-teamDropdown {
  &.show {
    .Select-teamBtn {
      border: 2px solid var(--main-color);
      &::after {
        transform: rotate(315deg);
        transition: $global-transition2;
        top: 3px;
      }
    }
  }
  .Select-teamBtn {
    background: var(--blackcurrant-color-medium);
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    padding: 10px 16px;
    @extend %global-textSm;
    font-weight: 500;
    color: var(--white);
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    &::after {
      display: inline-block;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: 2px solid var(--main-color);
      border-right: 2px solid var(--main-color);
      border-bottom: 0;
      border-left: 0;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      transition: $global-transition2;
      position: relative;
      top: -4px;
    }
  }
  .Select-teamDropdownItem {
    top: 55px !important;
    transform: none !important;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    background: var(--midnight-express-color);
    border: 2px solid var(--midnight-express-color);
    max-height: 360px;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    button {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
      padding: 10px 16px;
      &:hover {
        background: var(--color-black-medium);
      }
    }
  }
}
