@import "shared";

///// new css

.Home-sectionF {
  padding-top: px2vw-xl(30px);
  padding-bottom: px2vw-xl(106px);

  @include lg {
    padding-top: px2vw-lg(30px);
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-top: px2vw-md(30px);
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-top: px2vw-sm(30px);
    padding-bottom: px2vw-sm(40px);
  }

  &-tracker {
    overflow: hidden;
    grid-area: 1 / 3 / 2 / 4;
    max-width: px2vw-xl(535px);

    @include lg {
      grid-area: 2 / 1 / 3 / 4;
      max-width: none;
    }
  }

  &-tracker-header {
    background-color: var(--base-01);
    padding: px2vw-xl(25px);
    color: var(--base-white);
    text-transform: uppercase;

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(20px);
    }
  }

  &-tracker-matches {
    max-height: px2vw-xl(485px);
    padding-left: px2vw-xl(16px);
    padding-right: px2vw-xl(12px);

    @include lg {
      overflow-y: hidden;
      max-height: none;
      padding: px2vw-lg(35px) 0;
    }

    @include md {
      padding: px2vw-md(28px) 0;
    }

    @include sm {
      overflow-y: scroll;
      max-height: px2vw-sm(450px);
      flex-direction: column;
      align-items: flex-start;
      padding: 0 px2vw-sm(15px);
    }
  }

  &-tracker-match {
    flex-shrink: 0;
    border-bottom: 1px solid var(--base-02);
    padding: px2vw-xl(28px) 0;

    @include lg {
      border-bottom: none;
      margin-right: px2vw-lg(28px);
      min-width: px2vw-lg(264px);
      padding: 0 px2vw-lg(28px) 0 0;
      border-right: 1px solid var(--base-02);
    }

    @include md {
      margin-right: px2vw-md(28px);
      min-width: px2vw-md(264px);
      padding-right: px2vw-md(28px);
    }

    @include sm {
      margin-right: 0;
      border-right: 0;
      min-width: auto;
      width: 100%;
      padding: px2vw-sm(28px) 0;
      border-bottom: 1px solid var(--base-02);
    }

    &:last-child {
      @include lg {
        border-right: 0;
      }
    }
  }

  &-tracker-match-title {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      align-items: left;
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      text-align: left;
    }
  }

  &-tracker-match-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include sm {
      flex-direction: row;
    }
  }

  &-tracker-match-team {
    width: 40%;

    @include lg {
      width: auto;
    }

    @include sm {
      width: 40%;
    }
  }

  &-tracker-match-score {
    flex-shrink: 0;
    margin: 0 px2vw-xl(44px);
    min-width: px2vw-xl(60px);

    @include lg {
      margin: 0;
      min-width: auto;
    }

    @include sm {
      margin: 0 px2vw-sm(44px);
      min-width: px2vw-sm(60px);
    }
  }
}
