@import "shared";

.All-tournaments {
  border-radius: px2vw-xl(5px);
  padding: px2vw-xl(8px);
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #171616;

  @include lg {
    border-radius: px2vw-lg(5px);
    padding: px2vw-lg(8px);
  }

  @include md {
    border-radius: px2vw-md(5px);
    padding: px2vw-md(8px);
  }

  @include sm {
    border-radius: px2vw-sm(5px);
    padding: px2vw-sm(8px);
  }

  &-buttons {
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }

    &-button {
      padding: px2vw-xl(7px);
      font-size: px2vw-xl(16px);
      white-space: nowrap;
      transition: none;
      flex-grow: 1;

      @include md {
        font-size: px2vw-md(17px);
        border: px2vw-md(1px) solid var(--orange-color-main);
      }

      @include sm {
        font-size: px2vw-sm(17px);
      }

      &.active {
        border-color: var(--orange-color-main) !important;
        background: var(--orange-color-main) !important;
        color: #fff !important;
      }

      &.left {
        margin-right: px2vw-xl(10px);

        @include lg {
          margin-right: px2vw-lg(10px);
        }

        @include md {
          margin-right: px2vw-md(10px);
        }

        @include sm {
          margin-right: px2vw-sm(10px);
        }
      }
    }
  }

  &-card {
    padding: px2vw-xl(18px) px2vw-xl(21px) px2vw-xl(21px);
    transition: 200ms ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &:last-child {
      border-bottom-color: transparent;
    }

    @include lg {
      padding: px2vw-lg(18px) px2vw-lg(15px) px2vw-lg(10px);
      flex-direction: column;
    }

    @include md {
      padding: px2vw-md(18px) px2vw-md(15px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(18px) px2vw-sm(15px) px2vw-sm(20px);
    }

    &:hover {
      box-shadow: px2vw-xl(3px) px2vw-xl(3px) px2vw-xl(6px) #0000004d;
      background-color: #232120;
      border-bottom-color: transparent;
    }

    &-left {
      &-title {
        font-family: "dynasty-primary-semibold", sans-serif;
        font-size: px2vw-xl(18px);
        line-height: px2vw-xl(23px);

        @include lg {
          padding-right: px2vw-lg(10px);
          font-size: px2vw-lg(18px);
          line-height: px2vw-lg(23px);
        }

        @include md {
          padding-right: px2vw-md(10px);
          font-size: px2vw-md(18px);
          line-height: px2vw-md(23px);
        }

        @include sm {
          padding-right: px2vw-sm(10px);
          font-size: px2vw-sm(18px);
          line-height: px2vw-sm(23px);
        }
      }
      &-subtitle {
        font-family: "dynasty-primary-light", sans-serif;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(18px);
        opacity: 0.6;

        @include lg {
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(18px);
        }

        @include md {
          font-size: px2vw-md(14px);
          line-height: px2vw-md(18px);
        }

        @include sm {
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(18px);
        }
      }
    }

    &-details {
      font-size: px2vw-xl(15px);

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }

      &-item {
        position: relative;
        margin-bottom: px2vw-xl(8px);

        @include lg {
          margin-bottom: px2vw-lg(8px);
        }

        @include md {
          margin-bottom: px2vw-md(8px);
        }

        @include sm {
          margin-bottom: px2vw-sm(8px);
        }

        &-block {
          display: flex;
        }

        &-icon ::ng-deep svg {
          display: block;
          margin-right: px2vw-xl(16px);
          width: px2vw-xl(16px);
          height: px2vw-xl(16px);
          fill: #fff;

          @include lg {
            margin-right: px2vw-lg(16px);
            width: px2vw-lg(16px);
            height: px2vw-lg(16px);
          }

          @include md {
            margin-right: px2vw-md(16px);
            width: px2vw-md(16px);
            height: px2vw-md(16px);
          }

          @include sm {
            margin-right: px2vw-sm(16px);
            width: px2vw-sm(16px);
            height: px2vw-sm(16px);
          }
        }

        &.events {
          margin-right: px2vw-xl(16px);

          @include lg {
            margin-right: px2vw-lg(16px);
          }

          @include md {
            margin-right: px2vw-md(16px);
          }

          @include sm {
            margin-right: px2vw-sm(16px);
          }
        }
      }
    }

    &-right {
      position: relative;
      padding-top: px2vw-xl(40px);
      display: flex;

      @include lg {
        flex-direction: column-reverse;
        margin-top: px2vw-lg(5px);
        padding-top: px2vw-lg(35px);
      }

      @include md {
        margin-top: px2vw-md(5px);
        padding-top: px2vw-md(35px);
      }

      @include sm {
        margin-top: px2vw-sm(5px);
        padding-top: px2vw-sm(35px);
      }

      &-price {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: px2vw-xl(4px);
        background-color: #fff;
        padding: px2vw-xl(5px) px2vw-xl(13px);
        font-family: "dynasty-primary-semibold", sans-serif;
        font-size: px2vw-xl(12px);
        line-height: px2vw-xl(16px);
        color: #000;

        @include lg {
          left: 0;
          right: auto;
          margin-bottom: 0;
          border-radius: px2vw-lg(4px);
          padding: px2vw-lg(5px) px2vw-lg(13px);
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(18px);
        }

        @include md {
          border-radius: px2vw-md(4px);
          padding: px2vw-md(5px) px2vw-md(13px);
          font-size: px2vw-md(16px);
          line-height: px2vw-md(18px);
        }

        @include sm {
          border-radius: px2vw-sm(4px);
          padding: px2vw-sm(5px) px2vw-sm(13px);
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(18px);
        }
      }

      &-footer {
        @include lg {
          flex-direction: row-reverse;
        }

        @include md {
        }

        @include sm {
        }

        &-button {
          margin-left: px2vw-xl(16px);
          background-color: var(--orange-color-main);
          font-size: px2vw-xl(13px);
          line-height: px2vw-xl(15px);

          @include lg {
            margin-left: 0;
            margin-right: px2vw-lg(10px);
            font-size: px2vw-lg(13px);
            line-height: px2vw-lg(15px);
          }

          @include md {
            margin-right: px2vw-md(10px);
            font-size: px2vw-md(14px);
            line-height: px2vw-md(18px);
          }

          @include sm {
            margin-right: px2vw-sm(10px);
            font-size: px2vw-sm(14px);
            line-height: px2vw-sm(18px);
          }
        }
      }
    }
  }

  &-no {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    // text-transform: uppercase;
  }
}
