<header class="InboxMessage-header">
  <button
    class="InboxMessage-header-button button-icon-secondary"
    (click)="goBack()"
  >
    <mat-icon> arrow_back </mat-icon>
    <span>{{ "PROFILE.INBOX.BACK_TO_INBOX" | translate }}</span>
  </button>
</header>

<ng-container >
  <p class="InboxMessage-date">
    {{ message.createdAt | date: "medium" }}
  </p>

  <div class="InboxMessage-about">
    <div class="InboxMessage-about-image">
      <span class="InboxMessage-about-image-name"> pa </span>
    </div>

    <div class="InboxMessage-about-block">
      <h5 class="InboxMessage-about-name">Paidia admin</h5>

      <h3 class="InboxMessage-about-title">
        Full of surprises, 5 Free Fire Max leaks that you should know!
      </h3>

      <p class="InboxMessage-about-description">
        Aenean lectus ex, placerat sit amet porttitor et, faucibus vitae odio. Fusce quis bibendum eros. Aliquam volutpat gravida ultrices. Donec sed est felis. Pellentesque ultricies, quam vel porttitor hendrerit, ante sapien dignissim ipsum, vitae tempor mi libero eu massa. Nulla egestas nunc a metus porttitor, eu tincidunt diam facilisis.
        Quisque feugiat, tortor nec sollicitudin mollis, nibh nunc venenatis dui, in blandit nisl nulla eu libero. Integer pulvinar pellentesque nunc, id dignissim arcu euismod a. Vivamus auctor nec nulla id pharetra. Sed gravida purus vel odio varius consectetur.
        Aenean venenatis lacus in turpis posuere sagittis. Cras et lacinia lorem, varius venenatis nunc. Phasellus sodales urna quam, quis rutrum turpis lacinia pellentesque. Integer mattis est non sem dignissim tincidunt.
        Vivamus ullamcorper orci nunc, in sollicitudin erat feugiat ut. Phasellus tempor magna ac malesuada consequat.
      </p>

      <div class="InboxMessage-about-buttons">
        <button class="InboxMessage-about-button button-icon-secondary">
          <mat-icon> delete </mat-icon>
          <span>
            {{ "BUTTON.DELETE" | translate }}
          </span>
        </button>
        

        <button class="InboxMessage-about-button button-icon-primary">
          <mat-icon> reply </mat-icon>
          <span>
            {{ "BUTTON.REPLY" | translate }}
          </span>
        </button>
 
      </div>
    </div>
  </div>
</ng-container>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
