@import "shared";

.row-details-streaming {
  margin: 30px 0px;
  display: flex;
  flex-flow: wrap-reverse;

  @include lg {
    margin: 30px 0px;
    .col-6:first-child {
      margin-bottom: 15px;
    }
  }

  @include md {
    margin: 30px 0px;
    .col-6:first-child {
      margin-bottom: 15px;
    }

    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 !important;
    }
  }

  @include sm {
    flex-flow: column;
  }

  .col-6 {
    padding: 0 8px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  .selected-dial-code {
    color: var(--blackcolor);
  }
}

.add-participants__form {
  position: relative;

  .form-group {
    border: 1px solid var(--textcolor);
    border-radius: 5px;
    padding: 13px 22px;
    display: flex;
    justify-content: space-between;
    max-height: 90px;
    input {
      border: 0;
      padding: 0;
    }
    label {
      top: 22px;
      background-color: var(--labelbgColor);
      position: absolute;
      font-size: 14px;
      left: 19px;
      line-height: 21px;
      color: var(--inputplaceholdernonactive);
      margin: 0;
      padding: 0px 10px 0 5px;
      transition: all 0.3s;
      z-index: 1;
    }
    input:focus + label,
    label.active {
      top: -8px;
    }
    .selected-tags {
      // width: 70%;
      width: 100%;
      padding: 0;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
      }
      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: #fff;
        border-radius: 3px;
      }
      > div {
        margin-right: 13px;
        margin-bottom: 14px;
      }
    }
  }

  @include md {
    .form-group {
      flex-direction: column;
      .selected-tags {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
}
.add-participants {
  margin-bottom: 14px;
  .col-6 {
    margin-bottom: 0 !important;
  }
}

.row-platform-streaming {
  margin-bottom: 30px;
  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: #e2e2e2;
    font-family: "dynasty-primary-light" !important;
  }
}

.visibility-row {
  margin-top: 89px;
  label {
    &:first-child {
      font-size: 15px;
      line-height: 20px;
      font-family: "dynasty-primary-light";
      margin: 0;
      padding: 0;
      margin-right: 20px;
      display: flex;
      align-items: center;
    }
    &:not(:first-child) {
      font-family: "dynasty-primary-semibold";
      padding: 15px;
      border: 0.2px solid #707070;
      text-transform: capitalize;
    }
    &:nth-child(2) {
      border-radius: 6px 0 0 6px !important;
      font-size: 14px;
      line-height: 18px;
      color: white;
    }
    &:last-child {
      border-radius: 0 6px 6px 0 !important;
      font-size: 13px;
      line-height: 17px;
      color: white;
    }
    &.active {
      border-color: #da2c38 !important;
    }
    &.focus {
      outline: 0;
      box-shadow: 0 0 !important;
      transition: none;
    }
  }
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: var(--orange-color-main);
}

.platform-button {
  border-radius: 0 !important;
  min-width: 10rem;
  background: var(--create-tour-platform-bg-color);
  height: 50px;
}

.text {
  color: #fff;
}

.add-participants {
  margin-bottom: 14px;
  .col-6 {
    margin-bottom: 0 !important;
  }
}

/* chip */
.selected-tags {
  display: flex;
  flex-flow: wrap;
  width: 85%;
  padding: 0.2em;
  box-shadow: 4px 4px 6px 0000004d;
  border-radius: 5px;
}
.chip {
  padding: 0 1em;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 25px;
  background-color: transparent;
  text-transform: capitalize;
  border: 1px solid #707070;
  letter-spacing: 0.5px;
  font-family: "dynasty-primary-light" !important;
  color: #707070;
}

.input-explain-text {
  padding: 6px 0;
  color: var(--create-tour-input-info-color);
  font-size: 10px;
}

.Access {
  margin-top: 41px;
  .btn-group-toggle {
    border: 0.2px solid #707070 !important;
    border-radius: 6px;
    overflow: hidden;
    label {
      padding: 13px 0 14px 0;
      font-size: 16px;
      line-height: 21px;
      font-family: "dynasty-primary-light";
      border: 0 !important;
      width: 200px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      &.active {
        padding: 13px 0 14px 0;
        font-size: 18px;
        line-height: 23px;
        text-transform: capitalize;
        font-family: "dynasty-primary-semibold";
        box-shadow: 4px 4px 3px #0000004d;
        border: 0 !important;
        width: 200px;
        color: white;
      }
    }
    .btn:not(:first-child),
    .btn-group:not(:first-child) {
      margin-left: 0;
    }
  }

  @include md {
    margin-top: 20px;
    padding: 0;
    .btn-group-toggle {
      label,
      label.active {
        width: auto;
        min-width: 115px;
        font-size: 12px;
        line-height: normal;
        height: 45px;
        padding: 11px 0;
      }
    }
  }

  .text {
    margin-right: 15px;
  }
}
