<div class="news-all-page">
  <div class="news-all-container u-wp">
    <div class="news-all-sidebar" [class.filterShow]="filterShow">
      <div class="justify-content-between filter_title_Sect">
        <h4 class="title_filter">{{ "NEWS.NEWS_ALL.FILTER_TITLE" | translate }}</h4>
        <div (click)="filterCloseM()" class="filter_close">
          <img src="assets/images/Tournament/close.svg" />
        </div>
      </div>
      <!-- <hr /> -->
      <div class="category_wrapper">
        <div class="category_box">
          <h5>{{ "NEWS.NEWS_ALL.UPDATES_CATEGORIES" | translate }}</h5>
          <ul>
            <li *ngFor="let data of categoryList; let i = index">
              <a (click)="selectedCategory==data._id;getRecentPost('')" title="">{{data.name}}</a>
            </li>
          </ul>
        </div>
        <hr />
        <div class="category_box category_game">
          <h5>{{ "NEWS.NEWS_ALL.GAMES" | translate }}</h5>
          <ul>
            <li *ngFor="let data of gameList; let i = index">
              <label class="custom_checkbox">
                <input type="checkbox" value='{{data?._id}}' (change)="getRecentPost($event)" name='{{i}}' />
                <span>
                  <i></i>{{data?.name}}
                </span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="filter_button_sect">
        <div class="btn btn-link">
          <a href="Javascript:void(0)">
            {{ "NEWS.NEWS_ALL.RESET_FILTER" | translate }}
          </a>
        </div>
        <div class="btn btn-primary btn_apply">
          <a href="Javascript:void(0)">
            {{ "NEWS.NEWS_ALL.APPLY_FILTER" | translate }}
          </a>
        </div>
      </div>
    </div>
    <div class="news-all-right">
      <div class="news-all-filter">
        <!-- <div class="tournament_date_picker">
          <mat-form-field appearance="outline">
            <mat-label>{{ "NEWS.NEWS_ALL.SORT_BY" | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Publish date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div> -->
        <div class="icon-filter" (click)="filterShowM()">
          <img src="assets/icons/news/icon-filter.svg" />
          FILTERS
        </div>
      </div>
      <div class="news-all-banner">
        <img src="{{this.articles[0]?.image}}" alt="" />
        <figcaption>
          <div class="badge badge-primary badge-game">
            <img src="assets/icons/news/icon-promos.svg" alt="">
            <span>{{this.articles[0]?.game}}</span>
          </div>
          <h2>{{this.articles[0]?.title?.english}}</h2>
          <div class="by-share-sect">
            <div class="date">{{ "NEWS.NEWS_ALL.BY" | translate }} <span
                class="news-auth-det">{{this.articles[0]?.authorDetails?.fullName}}</span> •
              &nbsp;<span>{{this.articles[0]?.createdDate | date}}</span>
            </div>
            <div class="share-btn-sect">
              <!-- <img src="assets/icons/news/icon-save.svg" alt="" /> -->
              <a (click)="openSocialShareComponent()" title="Share">
                <img src="assets/icons/news/icon-share.svg" alt="" />
              </a>
            </div>
          </div>
        </figcaption>
      </div>

      <div class="news-all-header">
        <div class="title-sect">
          <h2>{{ "NEWS.NEWS_ALL.ALL_UPDATES" | translate }}</h2>
          <p>{{page?.totalItems}} {{ "NEWS.NEWS_ALL.UPDATES_FOUND" | translate }} </p>
        </div>
        <div class="sort_by">
          <mat-form-field appearance="outline">
            <mat-label>{{ "NEWS.NEWS_ALL.SORT_BY" | translate }}</mat-label>
            <mat-select [(ngModel)]="sortOrderType" class="text-white">
              <mat-option *ngFor="let item of sortOrderArray" [value]="item?.value">
                {{ item?.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div class="tournament_date_picker">
          <mat-form-field appearance="outline">
            <mat-label>Sort by</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Publish date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div> -->


      </div>

      <div class="news-all-row" *ngFor='let item of articles'>
        <div class="news-all-row-img">
          <a [routerLink]="[AppHtmlRoutes.news, item?.slug]"> <img src="{{item?.image}}" alt="" /></a>
        </div>

        <div class="news-all-row-details">
          <h2><a [routerLink]="[AppHtmlRoutes.news, item?.slug]" title="" class="style">
              {{item?.title?.english}}
            </a></h2>
          <p>{{item?.shortDescription?.english}}</p>
          <div class="by-share-sect">
            <div class="date-sec">{{ "NEWS.NEWS_ALL.BY" | translate }} <span
                class="news-auth-det">{{item?.authorDetails?.fullName}}</span> •
              &nbsp;{{item?.createdDate | date}}
            </div>
            <div class="share-btn-sect">
              <span class="news-type">
                <img src="assets/icons/news/type-game.svg" alt="" /> {{item?.game}}
              </span>
              <a (click)="openSocialShareComponent()" title="Share">
                <img src="assets/icons/news/icon-share.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="hasNextPage" class="btn news-all-btn-more" (click)="LoadMoreData()"> {{ "NEWS.NEWS_ALL.LOAD_MORE" |
        translate }}</button>
    </div>
  </div>
</div>
