<div class="Dashboard">
  <div class="Dashboard-container">
    <div class="Dashboard-wrapper">
      <div class="Dashboard-inner">
        <!-- <div class="Dashboard-left">
          <div class="Dashboard-left-about">
            <div class="Dashboard-left-heading">
              <h2 class="title">
                {{ "PROFILE.DASHBOARD.ABOUT.TITLE" | translate }}
              </h2>
            </div>
            <div class="Dashboard-user-location">
              <span class="icon" inlineSVG="assets/icons/profile/Icon-location_on.svg"></span>
              <span class="text"> {{ currentUser?.country }} </span>
              <span class="text"> {{ currentUser?.state }} </span>
              <span class="text" *ngIf="!currentUser?.country && !currentUser?.state"> {{"PROFILE.DASHBOARD.UNKNOWN"| translate}} </span>
            </div>
            <div class="Dashboard-user-subs">
              <span class="icon" inlineSVG="assets/icons/profile/Icon-people.svg"></span>
              <div class="Dashboard-user-subs-item followers">
                <p class="Dashboard-user-subs-item-text">
                  <span class="text" *ngIf="currentUser?.preference?.followersCount >= 0">{{ (currentUser?.preference?.followersCount || 0)|number }}</span>
                  <span class="text" *ngIf="currentUser?.preference?.followersCount<0">0</span>
                  <span class="text">{{ "PROFILE.DASHBOARD.INFO.FOLLOWERS" | translate }}</span>
                </p>
              </div>
              <span class="speach text"> • </span>
              <div class="Dashboard-user-subs-item following">
                <p class="Dashboard-user-subs-item-text">
                  <span class="text" *ngIf="currentUser?.preference?.followingCount >= 0">{{ (currentUser?.preference?.followingCount || 0)|number }}</span>
                  <span class="text" *ngIf="currentUser?.preference?.followingCount < 0">0</span>
                  <span class="text">
                    {{ "PROFILE.DASHBOARD.INFO.FOLLOWING" | translate }}
                  </span>
                </p>
              </div>
            </div>
            <div class="Dashboard-user-description" *ngIf="shortBioLessMore">
              <p class="text" [ngClass]="{'more': !showText}">
                <p class="text">
                {{ shortBioLessMore }}
              </p>
            </div>
            <a class="link-to" (click)="lessMore()" *ngIf="currentUser?.shortBio && currentUser?.shortBio.length > 200"   >{{ showText ? 'Show less': 'More' }}</a>
            <a class="link-to" (click)="lessMoreText()">{{ showText1 ? 'Show less': 'More' }}</a>

          </div>
          <div class="Dashboard-left-GameAccounts">
            <div class="Dashboard-left-heading">
              <h2 class="title">
                {{ "PROFILE.DASHBOARD.ABOUT.GAME_ACCOUNTS" | translate }}
              </h2>
            </div>
            <div class="Dashboard-left-GameAccounts-content">
              <ul class="lists">
                <ng-container *ngIf="allgames?.length">
                <div class="item"  *ngFor="let item of allgames">
                  <div class="info">
                    <div class="logo-game">
                      <span class="logo" [lazyLoad]="item?.image"></span>
                      <img class="logo"  [lazyLoad]="item?.image" alt="">
                    </div>
                    <div class="detail-game">
                      <p class="user-game">{{ item?.userGameId}}</p>
                      <p class="name-game">{{ item?.name| capitalizeFirst }}</p>
                    </div>
                  </div>
                  <div>
                    <button class="TeamCard-manage-button-menu" [matMenuTriggerFor]="matchMenu" #t="matMenuTrigger">
                      <mat-icon class="TeamCard-manage-button-menu-icon">
                        more_vert
                      </mat-icon>
                    </button>
                    <mat-menu class="global-MatMenu team-card" #matchMenu="matMenu" xPosition="before"></mat-menu>
                  </div>
                </div>
              </ng-container>
              </ul>
            </div>
            <a class="link-to" (click)="lessMore()">{{ showText ? 'Show less': 'More' }}</a>
            <br>
            <br>
            <a class="link-to" routerLink="/account_settings/gameAccounts">{{ "BUTTON.ADD_A_GAME_ACCOUNT" | translate }}</a>
          </div>
        </div> -->
        <div class="Dashboard-right">
          <section class="Dashboard-matches">
            <h2 class="title">
              {{ "PROFILE.DASHBOARD.ABOUT.MY_UPCOMING_MATCHES" | translate }}
            </h2>

            <div class="Dashboard-matches-cards" *ngIf="matches">
              <div class="MatchCard" *ngFor="let matche of matches"   >
                <div class="MatchCard-image" [routerLink]="[AppHtmlRoutes.tournamentView, matche?.tournament?.slug]">
                  <img [src]="matche?.tournament?.gameDetail?.logo" alt="">
                </div>
                <div class="MatchCard-content">
                  <h3 class="title">{{matche?.tournament?.name}}</h3>
                  <p class="detail">{{matche?.tournament?.gameDetail?.name}} • {{date | date :'MMM d, y • h:mm a (z)'}}</p>
                  <span class="status">{{upcomingMatch}}</span>
                </div>
                <span class="MatchCard-icon" inlineSVG="assets/icons/Icon-arrow-next.svg"></span>
              </div>

            </div>
            <span *ngIf="matches.length==0">{{ "MATCH_LIST.NO_DATA_FOUND" | translate }}</span>
          </section>
          <section class="Dashboard-requests">
            <h2 class="title">
              {{ "PROFILE.DASHBOARD.ABOUT.TEAM_INVITE_REQUESTS" | translate }}
            </h2>
            <ng-container>
              <div class="MyTeams-cards">
                <div class="MyTeams-cards-list">
                  <ng-container *ngIf="teamRequests.length>0">
                    <div class="TeamCard" *ngFor="let item of teamRequests">
                      <div class="TeamCard-detail">
                        <div class="TeamCard-image">
                          <img [src]="item.image" alt="" />
                        </div>
                        <div class="TeamCard-info">
                          <h3 class="TeamCard-info-nick-name">{{ item.name }}</h3>
                          <!-- <h4 class="TeamCard-info-name">Sydney </h4> -->
                        </div>
                      </div>
                      <div class="TeamCard-ButtonGroup">
                        <button type="button" class="btn button-default" (click)="acceptRejectfunction(item,'rejected')">{{ "BUTTON.REJECT" | translate }}</button>
                        <button type="button" class="btn button-primary" (click)="acceptRejectfunction(item,'active')" >{{ "BUTTON.APPROVE" | translate }}</button>
                      </div>
                      <div class="TeamCard-ButtonGroupMB">
                        <ng-container>
                          <button class="TeamCard-manage-button-menu" [matMenuTriggerFor]="matchMenu"
                            #t="matMenuTrigger">
                            <mat-icon class="TeamCard-manage-button-menu-icon">
                             {{ "MAT_ICONS.MORE_VERT" | translate }}
                            </mat-icon>
                          </button>
                          <mat-menu class="global-MatMenu team-card" #matchMenu="matMenu" xPosition="before">
                            <div class="TeamCard-manage-menu menu">
                              <a class="TeamCard-manage-menu-link link" routerLink="/manage-team/edit-team">
                                <mat-icon class="icon">{{ "MAT_ICONS.person_add" | translate }} </mat-icon>
                                <span class="text">{{ "BUTTON.REJECT" | translate }}</span>
                              </a>
                              <a class="TeamCard-manage-menu-link link">
                                <mat-icon class="icon">{{ "MAT_ICONS.DELETE" | translate }}</mat-icon>
                                <span class="text">{{ "BUTTON.APPROVE" | translate }}</span>
                              </a>
                            </div>
                          </mat-menu>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                  <span *ngIf="teamRequests?.length==0">{{ "MATCH_LIST.NO_DATA_FOUND" | translate }}</span>
                </div>
              </div>
            </ng-container>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
