<div class="Follow">
  <div class="Follow-main">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="Follow-main-nav global-MatToggles nav-tabs">
      <li class="Follow-main-nav-item" [ngbNavItem]="1">
        <a class="Follow-main-nav-item-link" ngbNavLink>{{ "PROFILE.DASHBOARD.INFO.FOLLOWERS" | translate }} (1257)</a>
        <ng-template ngbNavContent>
          <div class="Followers">
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar-1.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">Ramona Myers</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/img1.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">Mary Reid</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.REMOVE" | translate }}</button>
                <button type="button" class="btn button-nobg">{{ "BUTTON.FOLLOW" | translate }}</button>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li class="Follow-main-nav-item" [ngbNavItem]="2">
        <a class="Follow-main-nav-item-link" ngbNavLink>{{ "PROFILE.DASHBOARD.INFO.FOLLOWING" | translate }} (276)</a>
        <ng-template ngbNavContent>
          <div class="Following">
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar-1.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">Ramona Myers</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/img1.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">Mary Reid</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
            <div class="Follower">
              <div class="Follower-detail">
                <div class="Follower-image">
                  <img src="../../../../assets/images/Profile/avatar.png" alt="" />
                </div>
                <div class="Follower-info">
                  <h3 class="Follower-info-nick-name">volkanika98</h3>
                  <h4 class="Follower-info-name">Sydney </h4>
                </div>
              </div>
              <div class="Follower-ButtonGroup">
                <button type="button" class="btn button-nobg">{{ "BUTTON.UNFOLLOW" | translate }}</button>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li class="Follow-main-nav-item" [ngbNavItem]="3">
        <a class="Follow-main-nav-item-link" ngbNavLink>{{ "PROFILE.DASHBOARD.INFO.REQUESTS" | translate }} (4)</a>
        <ng-template ngbNavContent>
          <p>{{ "Requests will be back soon" | translate }}</p>
        </ng-template>
      </li>

    </ul>
  </div>
</div>
<div class="Wallet-contents">
  <div [ngbNavOutlet]="nav" class="nav-contents"></div>
</div>