<div>
    <form
      [formGroup]="emailForm"
      #form="ngForm"
      novalidate
      (ngSubmit)="sendEmail(emailForm)"
    >
      <div class="form-group">
        <div ngbDropdown class="form-select">
          <button
            type="button"
            class="form-control"
            id="drop_down"
            ngbDropdownToggle
          >
            {{ selectedParticipantType?.text || "Participant Type" }}
          </button>
          <div ngbDropdownMenu aria-labelledby="drop_down">
            <button
              type="button"
              (click)="selectParticipantType(item)"
              ngbDropdownItem
              *ngFor="let item of participantTypeArray"
            >
              {{ item.text }}
            </button>
          </div>
        </div>
        <mat-error *ngIf="emailForm.get('type').invalid && form.submitted">
          {{"ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.PARTICIPANT_TYPE" | translate  }}
          *
        </mat-error>
      </div>
      <mat-form-field
        class="global-MatInputOutline LogReg-input"
        appearance="outline"
      >
        <mat-label>
          {{ "ADMIN.USER_NOTIFICATION.LABEL.SUBJECT" | translate }}
        </mat-label>
  
        <textarea
          matInput 
          id="subject"
          type="text"
          formControlName="subject"
        ></textarea>
        <mat-error *ngIf="emailForm.get('subject').invalid && form.submitted">
          {{ "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.SUBJECT" | translate }}
          *
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="global-MatInputOutline LogReg-input"
        appearance="outline"
      >
        <mat-label>
          {{ "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE_HEADER" | translate }}
        </mat-label>
  
        <textarea
          matInput
          id="headerText"
          type="text"
          formControlName="headerText"
        ></textarea>
        <mat-error *ngIf="emailForm.get('headerText').invalid && form.submitted">
          {{
            "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE_HEADER"
              | translate
          }}
          *
        </mat-error>
      </mat-form-field>
      <div class="editor">
        <WYSIWYG-editor
          data-test-id="content"
          type="text"
          formControlName="content"
          [config]="editorConfig"
        >
        </WYSIWYG-editor>
        <mat-error *ngIf="emailForm.get('content').invalid && form.submitted">
          {{ "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.CONTENT" | translate }}
          *
        </mat-error>
      </div>
      <div>
        <button class="global-EditBtn is-sm" type="submit">
          {{ "ADMIN.USER_NOTIFICATION.BUTTON.SEND" | translate }}
        </button>
      </div>
    </form>
  </div>
  <esports-loading *ngIf="isLoading"></esports-loading>
  