<div class="TeamCard" *ngIf="data">
  <div class="TeamCard-image" [lazyLoad]="data.image"></div>

  <div class="TeamCard-info">
    <h3 class="TeamCard-info-name">
      {{ data.name }}
    </h3>
    <p class="TeamCard-info-description">
      {{ data.teamsLength }}
      {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} •

      <ng-container *ngIf="data.createtdAt === 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }}
      </ng-container>

      <ng-container *ngIf="data.createtdAt > 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAYS_AGO" | translate }}
      </ng-container>
    </p>
  </div>

  <div class="TeamCard-manage">
    <ng-container *ngIf="!isManage">
      <button class="TeamCard-manage-button button-secondary">
        {{ "BUTTON.REJECT" | translate }}
      </button>

      <button class="TeamCard-manage-button button-primary">
        {{ "BUTTON.ACCEPT" | translate }}
      </button>
    </ng-container>

    <ng-container *ngIf="isManage">
      <button
        class="TeamCard-manage-button-menu"
        [matMenuTriggerFor]="matchMenu"
        #t="matMenuTrigger"
      >
        <mat-icon class="TeamCard-manage-button-menu-icon"> more_vert </mat-icon>
      </button>

      <mat-menu
        class="global-MatMenu team-card"
        #matchMenu="matMenu"
        xPosition="before"
      >
        <div class="TeamCard-manage-menu menu">
          <!-- VIEW -->
          <a class="TeamCard-manage-menu-link link" [routerLink]="[AppHtmlRoutes.viewteam, data.id]">
            <mat-icon class="icon"> remove_red_eye </mat-icon>
            <span class="text">
              {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.VIEW" | translate }}
            </span>
          </a>

          <!-- MANAGE TEAM -->
          <a class="TeamCard-manage-menu-link link" [routerLink]="[AppHtmlRoutes.manageteam, data.id]">
            <mat-icon class="icon"> people_outline </mat-icon>
            <span class="text">
              {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.MANAGE_TEAM" | translate }}
            </span>
          </a>

          <!-- EDIT TEAM -->
          <a class="TeamCard-manage-menu-link link" [routerLink]="[AppHtmlRoutes.manageEdit, data.id]">
            <mat-icon class="icon"> mode_edit </mat-icon>
            <span class="text">
              {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.EDIT_TEAM" | translate }}
            </span>
          </a>

          <!-- DELETE TEAM -->
          <a class="TeamCard-manage-menu-link link last" (click)="deleteTeam(data.id)">
            <mat-icon class="icon"> delete </mat-icon>
            <span class="text">
              {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.DELETE_TEAM" | translate }}
            </span>
          </a>
        </div>
      </mat-menu>
    </ng-container>
  </div>
</div>
