@import "shared";

:host {
  display: block;
  padding-top: px2vw-xl(28px);
  padding-bottom: px2vw-xl(50px);

  @include lg {
    padding-top: px2vw-lg(28px);
    padding-bottom: px2vw-lg(50px);
  }

  @include md {
    padding-top: px2vw-md(28px);
    padding-bottom: px2vw-md(50px);
  }

  @include sm {
    padding-top: px2vw-sm(28px);
    padding-bottom: px2vw-sm(50px);
  }
}

.TransactionsTable {
  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(16px);
    padding: px2vw-xl(20px) 0;

    @include lg {
      margin-bottom: px2vw-lg(16px);
      padding: px2vw-lg(20px) 0;
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      padding: px2vw-md(20px) 0;
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      padding: px2vw-sm(20px) 0;
    }

    &-title {
      @extend %global-H5;
      margin-bottom: 0;
      color: var(--white);
    }

    &-button {
      flex-shrink: 0;
      margin-left: px2vw-xl(15px);

      @include lg {
        margin-left: px2vw-lg(15px);
      }

      @include md {
        margin-left: px2vw-md(15px);
      }

      @include sm {
        margin-left: px2vw-sm(15px);
      }
    }
  }

  &-header-item {
    @extend %subtitle-2;
    color: var(--white-medium);
  }

  &-cards {
  }

  &-card {
  }

  &-card-item {
    @extend %body-2;
  }

  &-card-status {
    border-radius: px2vw-xl(2px);
    display: inline-block;
    padding: px2vw-xl(4px) px2vw-xl(8px);
    font-family: "roboto-bold", sans-serif;
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(16px);
    text-transform: uppercase;

    @include lg {
      border-radius: px2vw-lg(2px);
      padding: px2vw-xl(4px) px2vw-lg(8px);
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(2px);
      padding: px2vw-xl(4px) px2vw-md(8px);
      font-size: px2vw-md(14px);
      line-height: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(2px);
      padding: px2vw-xl(4px) px2vw-sm(8px);
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(16px);
    }

    &.successful {
      background-color: var(--color-green-thk);
      color: var(--color-primary);
    }

    &.failed {
      background-color: var(--white-smoke);
      color: var(--white-medium);
    }
  }

  &-card-pagination {
  }

  // common styles
  &-header,
  &-card {
    @extend %u-dfCenter;
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(12px) px2vw-xl(16px);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(12px) px2vw-lg(16px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(12px) px2vw-md(16px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(12px) px2vw-sm(16px);
    }
  }

  &-card-item,
  &-header-item {
    &.date {
      margin-right: px2vw-xl(23px);
      width: px2vw-xl(91px);

      @include lg {
        margin-right: px2vw-lg(23px);
        width: px2vw-lg(91px);
      }

      @include md {
        margin-right: px2vw-md(24px);
        width: px2vw-md(91px);
      }

      @include sm {
        margin-right: px2vw-sm(23px);
        width: px2vw-sm(91px);
      }
    }

    &.item {
      margin-right: px2vw-xl(73px);
      width: px2vw-xl(184px);

      @include lg {
        margin-right: px2vw-lg(73px);
        width: px2vw-lg(184px);
      }

      @include md {
        margin-right: px2vw-md(73px);
        width: px2vw-md(184px);
      }

      @include sm {
        margin-right: px2vw-sm(73px);
        width: px2vw-sm(184px);
      }
    }

    &.order_id {
      margin-right: px2vw-xl(40px);
      width: px2vw-xl(120px);

      @include lg {
        margin-right: px2vw-lg(40px);
        width: px2vw-lg(120px);
      }

      @include md {
        margin-right: px2vw-md(40px);
        width: px2vw-md(120px);
      }

      @include sm {
        margin-right: px2vw-sm(40px);
        width: px2vw-sm(120px);
      }
    }

    &.tpa {
      margin-right: px2vw-xl(39px);
      width: px2vw-xl(192px);

      @include lg {
        margin-right: px2vw-lg(39px);
        width: px2vw-lg(192px);
      }

      @include md {
        margin-right: px2vw-md(39px);
        width: px2vw-md(192px);
      }

      @include sm {
        margin-right: px2vw-sm(39px);
        width: px2vw-sm(192px);
      }
    }

    &.payment_method {
      margin-right: px2vw-xl(32px);
      width: px2vw-xl(118px);

      @include lg {
        margin-right: px2vw-lg(32px);
        width: px2vw-lg(118px);
      }

      @include md {
        margin-right: px2vw-md(32px);
        width: px2vw-md(118px);
      }

      @include sm {
        margin-right: px2vw-sm(32px);
        width: px2vw-sm(118px);
      }
    }

    &.status {
      width: px2vw-xl(106px);
      text-align: right;

      @include lg {
        width: px2vw-lg(106px);
      }

      @include md {
        width: px2vw-md(106px);
      }

      @include sm {
        width: px2vw-sm(106px);
      }
    }
  }
}
