<div class="SelectPlatform">
  <div class="full-container">
    <!-- <div class="SelectPlatform-logo">
      <img class="SelectPlatform-logo-icon" src="assets/icons/create-tournament/laptop.svg" alt="icon" />
    </div> -->

    <main class="SelectPlatform-main">
      <!-- <h1 class="SelectPlatform-title">
        {{ "CREATE_TOURNAMENT.SELECT_PLATFORM.TITLE" | translate }}
      </h1> -->

      <header class="SelectTeams-header">
        <h1 class="SelectTeams-header-title">
          {{ "CREATE_TOURNAMENT.SELECT_PLATFORM.TITLE" | translate }}
        </h1>
        <!-- <p class="SelectTeams-header-subtitle">
          Select your platform and tournament format
        </p> -->
      </header>
      <!-- <a class="SelectTeams_header_link mt-5 mb-3"> -->
      <div class="ss-dlect-platform">
        <a class="SelectTeams_header_link">
          {{
          "CREATE_TOURNAMENT.SELECT_PLATFORM.HEADER_LINK.PLATFORM" | translate
          }}
        </a>
        <!-- <ul class="lists-cards">
          <li
            class="item"
            *ngFor="let item of dataDlectPlatform"
            (click)="clickEvent(item)"
            [ngClass]="item.text === dataFilter ? 'selected' : ' '"
          >
            <span class="iocn">
              <img src="{{ item.img }}" alt="" />
            </span>
            <span class="text">{{ item.text }}</span>
          </li>
        </ul> -->
        <ul class="lists-cards" *ngIf="platforms.length">
          <li class="item" *ngFor="let platform of platforms; let i = index" (click)="setPlatform(i)"
            [class.active]="selectedPlatformIndex == i">
            <span class="SelectPlatform-card-icon icon" [class]="platform.type" [inlineSVG]="platform.icon"></span>
            <p class="SelectPlatform-card-text text global-Text">
              {{ platform.name | translate }}
            </p>
          </li>
        </ul>
      </div>
      <div class="ss-tournament-type">
        <a class="SelectTeams_header_link">
          {{
          "CREATE_TOURNAMENT.SELECT_PLATFORM.HEADER_LINK.TOURNAMENT_TYPE"
          | translate
          }}
        </a>
        <ul class="lists-cards" *ngIf="gametype.length">
          <li class="item" (click)="setPlatform2(platform.type)" [class.active]="tournamentType == platform.type"
            *ngFor="let platform of gametype; let i = index">
            <span class="SelectPlatform-card-icon icon" [class]="platform.type" [inlineSVG]="platform.icon"></span>
            <!-- <span class="checkmark"></span> -->
            <p class="SelectPlatform-card-text text global-Text">
              {{ platform.name | translate }}
            </p>
            <!-- <span class="icon">
                <img
                  src="../../../../../assets/icons/create-tournament/Icon-i.png"
                  alt=""
                />
              </span> -->
          </li>
        </ul>
        <div [class]="
        valuePlatform2 === 'team'
              ? 'SelectPlatform-team-tournament-type active'
              : 'SelectPlatform-team-tournament-type'
          ">
          <div class="heading">
            <h4 class="title">
              {{
              "CREATE_TOURNAMENT.SELECT_PLATFORM.TEAM_OPTION.TITLE"
              | translate
              }}
            </h4>
          </div>
          <a class="SelectTeams_header_link">
            {{
            "CREATE_TOURNAMENT.SELECT_PLATFORM.HEADER_LINK.TEAM_FORMAT"
            | translate
            }}
          </a>
          <div ngbDropdown class="SelectPlatform-teamDropdown">
            <button class="btn SelectPlatform-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
              {{
              dataFilterTeamDropdownItem !== ""
              ? dataFilterTeamDropdownItem
              : "Select team format"
              }}
            </button>
            <div class="SelectPlatform-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor="let item of dataTeamDropdownItem" (click)="clickChange(item.text)"  [ngClass]="{ 'active' : activeButton == item.text }">
                {{ item.text }}
                <span>{{ item.subText }}</span>
              </button>
            </div>
            <div class="input-groud" *ngIf="activeButton == 'X vs X'">
              <label for="" class="vsPlaying" title="X vs X">X vs X</label>
              <div class="vsPlaying-input">
                <button type="button" class="btn btn-minus" (click)="minusNumber()">
                  <span class="icon"></span>
                </button>
                <input class="form-field" id="TournamentType" type="number" placeholder="" [(ngModel)]="number"
                  (change)="onChange()" placeholder="Enter no. of players per team" />
                <button type="button" class="btn btn-plus" (click)="plusNumber()">
                  <span class="icon"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="SelectPlatform-buttons">
        <!-- <button class="SelectPlatform-button button-secondary" [routerLink]="AppHtmlRoutes.play">
          {{ "BUTTON.CANCEL" | translate }}
        </button> -->

        <!-- <button class="SelectPlatform-button button-icon-secondary" routerBack>
          <mat-icon> arrow_back </mat-icon>
          <span>
            {{ "BUTTON.BACK" | translate }}
          </span>
        </button> -->
      </div>
    </main>
  </div>
  <div class="ss-footer-buttons">
    <!-- <button class="SelectGame-button button-secondary" [routerLink]="AppHtmlRoutes.play">
      {{ "BUTTON.CANCEL" | translate }}
    </button> -->
    <div class="wrapper">
      <div class="inner">
        <div class="box-item box-item-left">
          <div class="wap-step">
            {{ "CREATE_TOURNAMENT.STEP.STEP" | translate }}
            <span class="nth-step">3</span>
            {{ "CREATE_TOURNAMENT.STEP.OF" | translate }}
            4:
            {{ "CREATE_TOURNAMENT.SELECT_PLATFORM.TITLE2" | translate }}
          </div>
          <div class="progressBarContainer mb-hide">
            <div class="app-progressBar">
              <ul class="lists">
                <li class="item active"></li>
                <li class="item active"></li>
                <li class="item active"></li>
                <li class="item"></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box-item box-item-right">
          <span class="mb-hide">
            {{ "CREATE_TOURNAMENT.STEP.TEXT" | translate }}
          </span>
          <button class="SelectPlatform-button button-primary" (click)="next()">
            {{ "BUTTON.NEXT" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- <img class="SelectPlatform-person" src="assets/images/create-tournament/persons/4.png" alt="person image" /> -->
</div>