html[dir="rtl"] {
  .TeamGame {
    &-icon-block {
      margin-right: 0;
      margin-left: px2vw-xl(35px);

      @include lg {
        margin-left: px2vw-lg(35px);
      }

      @include md {
        margin-left: 0;
      }
    }
  }
}
