@import "shared";

.form-group {
  .dropdown {
    button {
      text-align: left;

      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      overflow-x: auto;
      box-shadow: 4px 4px 6px var(--base-black);
      max-height: 198px;
      top: 38px !important;
      left: auto !important;
      padding: 0;
      width: 100%;
      transform: none !important;
      background-color: var(--base-white-smoke);

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: rgba(112, 112, 112, 0.6);
        border-radius: 3px;
      }

      .dropdown-item {
        border-bottom: 0.5px solid var(--ui-dim-gray);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        font-size: 16px;
        line-height: 21px;
        color: var(--ui-dim-gray);

        &:last-child {
          border-bottom: 0;
        }

        &:hover,
        &:active,
        &:focus {
          background: transparent;
          color: var(--base-black);
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .form-group {
    .dropdown {
      .dropdown-menu {
        .dropdown-item {
          font-size: 14px;
          line-height: normal;
        }
      }
    }
  }
}

.common-label {
  margin-bottom: px2vw-xl(16px);
  padding: 0;

  @include lg {
    margin-bottom: px2vw-lg(16px);
  }

  @include md {
    margin-bottom: px2vw-md(16px);
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
  }
}

.form-control {

  overflow: hidden;
}
.label{
  margin-bottom: 0.8337675873vw;
  color:var(--black)
}
.form-control{
  height: 46px;
}
.form-select:before{
  bottom: 18px !important;
  @include lg{
    bottom: 15px !important;
  }
}

.pointer-event-none {
  pointer-events: none;
}
