<app-header [currentPageLink]="AppHtmlProfileRoutes.tournamentsCreated"
  [title]="'manage_TOURNAMENT.SELECT_TYPE.HEADER_TITLE' | translate" *ngIf="!haveHeaderWhite()"></app-header>

<section class="Profile">
  <div class="Profile-container">
    <div class="Profile-heading" *ngIf="!noHeading()">
      <h2 class="title">
        {{ "MANAGE_TOURNAMENT.TITLE" | translate }}
      </h2>
      <div class="content">
        <div class="control">
          <div class="players">
            <!-- <button type="button" class="btn button-notbg" (click)="isShowPopup()">{{ "BUTTON.EDIT" | translate
              }}</button> -->
              <button type="button" class="btn button-notbg" (click)="editInfo()">{{ "BUTTON.EDIT" | translate
              }}</button>

            <div *ngIf="showPopup">
              <app-edit-manage-tournament (HiddenPopup)="HiddenPopup()"></app-edit-manage-tournament>
            </div>
          </div>
          <button type="button" class="btn button-default" *ngIf="slug" [routerLink]="[AppHtmlRoutes.tournamentView,slug ]">{{ "MANAGE_TOURNAMENT.VIEW_TOURNAMENT" | translate
            }}</button>
        </div>
      </div>
    </div>
    <div class="Profile-main">
      <nav class="Profile-nav" [ngClass]="{ 'nav-update-score': isUpdateScoreRoute() }"
        *ngIf="!isScoringSuccessRoute()">
        <div class="Profile-nav-main" *ngIf="!isUpdateScoreRoute()">

          <a class="Profile-nav-link-main" [routerLink]="'participants-requests'" routerLinkActive="active">
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Participant-requests.svg"></span>
            <span class="global-Elipses">
              {{ "MANAGE_TOURNAMENT.NAV.PARTICIPANT_REQUESTS" | translate }}
            </span>
          </a>

          <a class="Profile-nav-link-main" [routerLink]="'brackets'" routerLinkActive="active">
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Brackets.svg"></span>
            <span class="global-Elipses">
              {{ "MANAGE_TOURNAMENT.NAV.BRACKETS" | translate }}
            </span>
          </a>

          <a class="Profile-nav-link-main" [routerLink]="'scoring'"      routerLinkActive="active">
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Scoring.svg"></span>
            <span class="global-Elipses">
              {{ "MANAGE_TOURNAMENT.NAV.SCORING" | translate }}
            </span>
          </a>
          <a class="Profile-nav-link-main" [routerLink]="['reports',tournament?._id]"  routerLinkActive="active">
            <!-- <mat-icon>library_books</mat-icon> -->
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-User-reports.svg"></span>
            <span class="global-Elipses">
              {{ "MANAGE_TOURNAMENT.NAV.USER_REPORTS" | translate }}
            </span>
          </a>
          <a class="Profile-nav-link-main" [routerLink]="'discussion'" routerLinkActive="active">
            <!-- <mat-icon>chat_bubble_outline</mat-icon> -->
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Discussion.svg"></span>
            <span class="global-Elipses">
              {{ "MANAGE_TOURNAMENT.NAV.DISCUSSION" | translate }}
            </span>
          </a>
          <!-- <a class="Profile-nav-link-main" [routerLink]="'clips'" routerLinkActive="active">
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Clips.svg"></span>
            <span class="global-Elipses">
              {{ "MANAGE_TOURNAMENT.NAV.CLIPS" | translate }}
            </span>
          </a> -->
          <!-- <a class="Profile-nav-link-main" [routerLink]="'notification'" routerLinkActive="active">
            <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Notifications.svg"></span>
            <span class="global-Elipses">
              {{ "MANAGE_TOURNAMENT.NAV.NOTIFICATIONS" | translate }}
            </span>
          </a> -->
        </div>
        <div class="Profile-nav-footer">
          <div class="TournamentThumbnail">
            <img [src]="tournament?.gameDetail?.image" alt="">
          </div>
          <div class="TournamentInfo">
            <div class="TournamentInfo-box">
              <h4 class="TournamentInfo-title">
                {{tournament?.gameDetail?.name}}
              </h4>
              <div class="TournamentInfo-box-price">
                <span>{{tournament?.startDate|date}} — {{tournament?.endDate|date}}</span>
              </div>
              <a class="link-to" *ngIf="registrationStatus?.notYetStarted" [routerLink]="[AppHtmlRoutes.tournamentView, tournament?.slug]">
                {{ "VIEW_TOURNAMENT.REGISTRATION_YET_TO_OPEN" | translate }}
              </a>

              <a class="link-to" *ngIf="registrationStatus?.isOpen" [routerLink]="[AppHtmlRoutes.tournamentView, tournament?.slug]">
              {{"HOME.UPCOMING_SLIDER.REGISTRATION_OPEN" | translate}}
            </a>


              <a class="link-to" *ngIf="registrationStatus?.isClosed" [routerLink]="[AppHtmlRoutes.tournamentView, tournament?.slug]">
              {{ "VIEW_TOURNAMENT.REGISTRATION_CLOSE" | translate }}
            </a>

            </div>
          </div>
        </div>
        <div class="Profile-nav-mainMB mb-show" *ngIf="!isUpdateScoreRoute()">
          <h2 class="title">
            {{ "MANAGE_TOURNAMENT.TITLE" | translate }}
          </h2>
          <div class="Profile-nav-mb ">
            <h4 class="title">
              {{ "Jump to:" | translate }}
            </h4>
            <div ngbDropdown class="Select-teamDropdown">
              <button class="btn Select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                {{ checkInvite() }}
              </button>
              <div class="Select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem class="DropdownItem" [routerLink]="'participants-requests'">
                  <span class="global-Elipses">
                    {{ "MANAGE_TOURNAMENT.NAV.PARTICIPANT_REQUESTS" | translate }}
                  </span>
                </button>
                <button ngbDropdownItem class="DropdownItem" [routerLink]="'brackets'">
                  <span class="global-Elipses">
                    {{ "MANAGE_TOURNAMENT.NAV.BRACKETS" | translate }}
                  </span>
                </button>
                <button ngbDropdownItem class="DropdownItem" [routerLink]="'scoring'">
                  <span class="global-Elipses">
                    {{ "MANAGE_TOURNAMENT.NAV.SCORING" | translate }}
                  </span>
                </button>
                <button ngbDropdownItem class="DropdownItem" [routerLink]="'reports'">
                  <span class="global-Elipses">
                    {{ "MANAGE_TOURNAMENT.NAV.USER_REPORTS" | translate }}
                  </span>
                </button>
                <button ngbDropdownItem class="DropdownItem" [routerLink]="'discussion'">
                  <span class="global-Elipses">
                    {{ "MANAGE_TOURNAMENT.NAV.DISCUSSION" | translate }}
                  </span>
                </button>
                <button ngbDropdownItem class="DropdownItem" [routerLink]="'clips'">
                  <span class="global-Elipses">
                    {{ "MANAGE_TOURNAMENT.NAV.CLIPS" | translate }}
                  </span>
                </button>
                <button ngbDropdownItem class="DropdownItem" [routerLink]="'notification'">
                  <span class="global-Elipses">
                    {{ "MANAGE_TOURNAMENT.NAV.NOTIFICATIONS" | translate }}
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="Profile-content"
        [ngClass]="{ 'content-update-score': isUpdateScoreRoute(),'content-scoring-success': isScoringSuccessRoute(),'scoring-mobile':isScoringRoute() }">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
