<div class="SelectToggle" >
  <header class="SelectToggle-header">
    <label class="SelectToggle-header-title">
      {{ title }}
    </label>

    <mat-icon
      *ngIf="tooltip.trim()"
      class="SelectToggle-header-icon material-icons-outlined"
      [ngbTooltip]="tooltip"
      placement="top-left"
    >
      info_outline
    </mat-icon>
  </header>

  <div
    class="SelectToggle-buttons btn-group"
    ngbRadioGroup
    name="radioBasic"
    [(ngModel)]="value"
  >
    <label class="SelectToggle-button" ngbButtonLabel>
      <input class="SelectToggle-input" ngbButton type="radio" [value]="1" (change)="handleChange($event)" />
      {{ leftValue }}
    </label>

    <label class="SelectToggle-button" ngbButtonLabel>
      <input class="SelectToggle-input" ngbButton type="radio" [value]="2" (change)="handleChange($event)" />
      {{ rightValue }}
    </label>
  </div>
</div>
