<div class="BookmarksTable">
  <div class="BookmarksTable-container">
    <div class="BookmarksTable-wrapper">
      <div class="BookmarksTable-inner">
        <div class="BookmarksTable-heading">
          <h2 class="title">{{ "PROFILE.BOOKMARKS.MY_BOOKMARKS_VIDEOS" | translate }}</h2>
        </div>
        <ng-container >
          <app-bookmarks-cardvideos [data]="slicesItems" [isVideo]="isVideo" ></app-bookmarks-cardvideos>
        </ng-container>
        <mat-paginator
        [length]="data.length"
        [pageSize]="itemsPerPage[0]"
        [pageSizeOptions]="itemsPerPage"
        (page)="onPageChange($event)"
      ></mat-paginator>
      </div>
    </div>
  </div>
</div>