@import "shared";

:host {
  display: block;
  background: radial-gradient(31.93% 73.7% at 100% 0%, rgba(115, 108, 255, 0.25) 0%, rgba(115, 108, 255, 0) 100%);
}

.TermsOfOus {
  padding-top: px2vw-xl(42px);
  padding-bottom: px2vw-xl(72px);

  @include lg {
    padding-bottom: px2vw-lg(32px);
    padding-bottom: px2vw-lg(60px);
  }

  @include md {
    max-width: none;
    padding-bottom: px2vw-md(32px);
    padding-bottom: px2vw-md(50px);
  }

  @include sm {
    padding-bottom: px2vw-sm(32px);
    padding-bottom: px2vw-sm(50px);
  }

  &-button {
    margin-bottom: px2vw-xl(42px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-title {
    @extend %global-H3;
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-descriptions {
    @extend %body-1;
    max-width: px2vw-xl(1134px);
    margin-bottom: 0;

    @include lg {
      max-width: none;
    }
  }

  &-description {
    margin-bottom: px2vw-xl(30px);
    color: var(--white-disabled);
    position: relative;
    bottom: 10px;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// .termsofus{
// padding-left: 20px;

// }
.TermsOfOus-title{
  font-family: "rock-salt-regular";

}
ol{
  list-style-type: number;
}
.new_li{
  margin-left:20px;
}

.termsofuslist{
  position: relative;
  bottom: -10px;
  font-family:'redhat-regular';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.87);
  height: 20px;
}

// .list{
//   a:hover {
//     color: #BBF55A;
//   }
// }
a:active {
  color: #BBF55A;
}
a[tabindex]:focus {
  color:#BBF55A;
  
}
.PrivacyPolicy-subtitle{
  font-family: redhat-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0px;
  padding-bottom: 34px;
  color: rgba(255, 255, 255, 0.6);
}
.overview-paragraph{
  font-family: 'redhat-regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 10px;

}
.overview-paragraph-list{
  font-family: 'redhat-regular';
  color: rgba(255, 255, 255, 0.6);
}

.termscontent{
  position: relative;
    bottom: 35px;
}

ol.roman {
  counter-reset: roman;
}
ol.alpha {
  counter-reset: alpha
}
ol li {
  list-style: none;
  position: relative;
}

ol.alpha > li:before {
  counter-increment: alpha;
  content:"(" counter(alpha, lower-alpha)") "
}
ol.roman > li:before {
  counter-increment: roman;
  content:"(" counter(roman, lower-roman)") "
}
.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 61.666667%;
}