@import "shared";

.shop-card-main {
  display: flex;
  padding: px2vw-xl(8px);
  @include xl {
    padding: px2vw-xl(8px);
  }
  @include lg {
    padding: px2vw-lg(8px);
  }
  @include md {
    padding: px2vw-md(8px);
  }
  @include sm {
    padding: px2vw-sm(8px);
  }
  .shop-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    padding-left: px2vw-xl(12px);
    word-break: break-word;
    @include xl {
      padding-left: px2vw-xl(12px);
    }
    @include lg {
      padding-left: px2vw-lg(12px);
    }
    @include md {
      padding-left: px2vw-md(12px);
    }
    @include sm {
      padding-left: px2vw-sm(12px);
    }
    .price {
      @extend %caption;
      margin-top: px2vw-xl(12px);
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: left;
      color: var(--white-medium);
      @include xl {
        margin-top: px2vw-xl(12px);
      }
      @include lg {
        margin-top: px2vw-lg(12px);
      }
      @include md {
        margin-top: px2vw-md(12px);
      }
      @include sm {
        margin-top: px2vw-sm(12px);
      }
      span {
        @extend %global-H7;

        color: var(--white);
    }
      img {
        margin: 0 px2vw-xl(6px) 0 px2vw-xl(8px);
        width: px2vw-xl(19px);
        @include xl {
          margin: 0 px2vw-xl(6px) 0 px2vw-xl(8px);
          width: px2vw-xl(19px);
        }
        @include lg {
          margin: 0 px2vw-lg(6px) 0 px2vw-lg(8px);
          width: px2vw-lg(19px);
        }
        @include md {
          margin: 0 px2vw-md(6px) 0 px2vw-md(8px);
          width: px2vw-md(19px);
        }
        @include sm {
          margin: 0 px2vw-sm(6px) 0 px2vw-sm(8px);
          width: px2vw-sm(19px);
        }
      }
    }
  }
}
.shop-card-topup {
  color: var(--black);
  position: absolute;
  background-color: var(--color-lgt-blue1);
  padding: 0 px2vw-xl(8px);
  font-size: px2vw-xl(10px);
  font-weight: bold;
  height: px2vw-xl(20px);
  display: flex;
  align-items: center;
  margin-bottom: 0;
  // font-family: "";
  letter-spacing: px2vw-xl(1px);
  @include xl {
    padding: 0 px2vw-xl(8px);
    font-size: px2vw-xl(10px);
    height: px2vw-xl(20px);
    letter-spacing: px2vw-xl(1px);
  }
  @include lg {
    padding: 0 px2vw-lg(8px);
    font-size: px2vw-lg(10px);
    height: px2vw-lg(20px);
    letter-spacing: px2vw-lg(1px);
  }
  @include md {
    padding: 0 px2vw-md(8px);
    font-size: px2vw-md(10px);
    height: px2vw-md(20px);
    letter-spacing: px2vw-md(1px);
  }
  @include sm {
    padding: 0 px2vw-sm(8px);
    font-size: px2vw-sm(10px);
    height: px2vw-sm(20px);
    letter-spacing: px2vw-sm(1px);
  }
}
.shop-card-host {
  @extend %overline;
  position: absolute;
  background-color: var(--color-secondary);
  padding: 0 px2vw-xl(8px);
  height: px2vw-xl(20px);
  display: flex;
  align-items: center;
  margin-bottom: 0;
  top:0;
  @include xl {
    padding: 0 px2vw-xl(8px);
    height: px2vw-xl(20px);
  }
  @include lg {
    padding: 0 px2vw-lg(8px);
    height: px2vw-lg(20px);
  }
  @include md {
    padding: 0 px2vw-md(8px);
    height: px2vw-md(20px);
  }
  @include sm {
    padding: 0 px2vw-sm(8px);
    font-size: px2vw-sm(10px);
    height: px2vw-sm(20px);
    letter-spacing: px2vw-sm(1px);
    width: 100%;
    justify-content: center;
  }
}
.shop-scard-main {
  background-color: var(--gray);
}
.shop-card-header {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: px2vw-xl(16px);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  // font-family: "";
  letter-spacing: px2vw-xl(0.15px);
  line-height: px2vw-xl(19px);
  word-wrap: break-word;
  @include xl {
    font-size: px2vw-xl(16px);
    letter-spacing: px2vw-xl(0.15px);
    line-height: px2vw-xl(19px);
  }
  @include lg {
    font-size: px2vw-lg(16px);
    letter-spacing: px2vw-lg(0.15px);
    line-height: px2vw-lg(19px);
  }
  @include md {
    font-size: px2vw-md(16px);
    letter-spacing: px2vw-md(0.15px);
    line-height: px2vw-md(19px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
    letter-spacing: px2vw-sm(0.15px);
    line-height: px2vw-sm(19px);
    margin-bottom: px2vw-sm(5px);
  }
}
.shop-card-footer {
  font-size: px2vw-xl(17px);
  background-color: var(--color-blackgray);
  border-top: px2vw-xl(1px) solid var(--color-bordergray);
  padding: 1rem;
  align-items: center;
  @include xl {
    font-size: px2vw-xl(17px);
    border-top: px2vw-xl(1px) solid var(--color-bordergray);
  }
  @include lg {
    font-size: px2vw-lg(17px);
    border-top: px2vw-lg(1px) solid var(--color-bordergray);
  }
  @include md {
    font-size: px2vw-md(17px);
    border-top: px2vw-md(1px) solid var(--color-bordergray);
  }
  @include sm {
    font-size: px2vw-sm(17px);
    border-top: px2vw-sm(1px) solid var(--color-bordergray);
  }
}
.shop-card-image {
  // margin: px2vw-xl(8px) px2vw-xl(12px) px2vw-xl(8px) px2vw-xl(8px);
  // height: px2vw-xl(114px);
  // min-width: px2vw-xl(114px);
  // background-size: cover;
  // background-position: center center;
  opacity: 1;
  // @include xl {
  //   margin: px2vw-xl(8px) px2vw-xl(12px) px2vw-xl(8px) px2vw-xl(8px);
  //   height: px2vw-xl(114px);
  //   min-width: px2vw-xl(114px);
  // }
  // @include lg {
  //   margin: px2vw-lg(8px) px2vw-lg(12px) px2vw-lg(8px) px2vw-lg(8px);
  //   height: px2vw-lg(114px);
  //   min-width: px2vw-lg(114px);
  // }
  // @include md {
  //   margin: px2vw-md(8px) px2vw-md(12px) px2vw-md(8px) px2vw-md(8px);
  //   height: px2vw-md(114px);
  //   min-width: px2vw-md(114px);
  // }
  // @include sm {
  //   margin: px2vw-sm(8px) px2vw-sm(12px) px2vw-sm(8px) px2vw-sm(8px);
  // }
  .discount_bar{
    position: relative;
  }
  img {
    height: px2vw-xl(114px);
    min-width: px2vw-xl(114px);
    width: px2vw-xl(114px);
    @include xl {
      height: px2vw-xl(114px);
      width: px2vw-xl(114px);
      min-width: px2vw-xl(114px);
    }
    @include lg {
      height: px2vw-lg(114px);
      width: px2vw-lg(136px);
      min-width: px2vw-lg(136px);
    }
    @include md {
      height: px2vw-md(114px);
      width: px2vw-md(114px);
      min-width: px2vw-md(114px);
    }
    @include sm {
      height: px2vw-sm(114px);
      width: px2vw-sm(114px);
      min-width: px2vw-sm(114px);
    }
  }
}
.shop-card-author-image {
  @extend %caption;
  color: var(--white-disabled);
  margin-bottom: px2vw-xl(10px);
  @include xl {
    margin-bottom: px2vw-xl(10px);
  }
  @include lg {
    margin-bottom: px2vw-lg(10px);
  }
  @include md {
    margin-bottom: px2vw-md(10px);
  }
  @include sm {
    margin-bottom: px2vw-sm(10px);
  }
}

.shop-card-from-text {
  // font-family: "";
  font-size: px2vw-xl(12px);
  line-height: px2vw-xl(16px);
  display: flex;
  align-items: center;
  letter-spacing: px2vw-xl(0.4px);
  color: var(--white-medium);
  padding-bottom: px2vw-xl(5px);
  @include xl {
    font-size: px2vw-xl(12px);
    line-height: px2vw-xl(16px);
    letter-spacing: px2vw-xl(0.4px);
    padding-bottom: px2vw-xl(5px);
  }
  @include lg {
    font-size: px2vw-lg(12px);
    line-height: px2vw-lg(16px);
    letter-spacing: px2vw-lg(0.4px);
    padding-bottom: px2vw-lg(5px);
  }
  @include md {
    font-size: px2vw-md(12px);
    line-height: px2vw-md(16px);
    letter-spacing: px2vw-md(0.4px);
    padding-bottom: px2vw-md(5px);
  }
  @include sm {
    font-size: px2vw-sm(12px);
    line-height: px2vw-sm(16px);
    letter-spacing: px2vw-sm(0.4px);
    padding-bottom: px2vw-sm(5px);
  }
}

.shop-card-game {
  background: var(--color-darkgray);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: px2vw-xl(10px) px2vw-xl(15px);
  position: absolute;
  float: right;
  right: 0;
  border: px2vw-xl(1px) solid var(--color-ash-med);
  box-sizing: border-box;
  // font-family: "";
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(16px);
  letter-spacing: px2vw-xl(0.5px);
  text-transform: uppercase;
  color: var(--fullwhite);
  flex: none;
  margin: 0px px2vw-xl(10px);
  height: px2vw-xl(36px);
  cursor: pointer;
  @include xl {
    padding: px2vw-xl(10px) px2vw-xl(15px);
    border: px2vw-xl(1px) solid var(--color-ash-med);
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(16px);
    letter-spacing: px2vw-xl(0.5px);
    margin: 0px px2vw-xl(10px);
    height: px2vw-xl(36px);
  }
  @include lg {
    padding: px2vw-lg(10px) px2vw-lg(15px);
    border: px2vw-lg(1px) solid var(--color-ash-med);
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(16px);
    letter-spacing: px2vw-lg(0.5px);
    margin: 0px px2vw-lg(10px);
    height: px2vw-lg(36px);
  }
  @include md {
    padding: px2vw-md(10px) px2vw-md(15px);
    border: px2vw-md(1px) solid var(--color-ash-med);
    font-size: px2vw-md(14px);
    line-height: px2vw-md(16px);
    letter-spacing: px2vw-md(0.5px);
    margin: 0px px2vw-md(10px);
    height: px2vw-md(36px);
  }
  @include sm {
    padding: px2vw-sm(10px) px2vw-sm(15px);
    border: px2vw-sm(1px) solid var(--color-ash-med);
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(16px);
    letter-spacing: px2vw-sm(0.5px);
    margin: 0px px2vw-sm(10px);
    height: px2vw-sm(36px);
  }
}
.swiper-container {
  overflow: hidden;
}
.Play-ongoing-card-author-name {
  display: flex;

  img {
    margin-right: px2vw-xl(5px);
    @include xl {
      margin-right: px2vw-xl(5px);
    }
    @include lg {
      margin-right: px2vw-lg(5px);
    }
    @include md {
      margin-right: px2vw-md(5px);
    }
    @include sm {
      margin-right: px2vw-sm(5px);
    }
  }
}

.shop-card-item {
  border-radius: px2vw-xl(8px);
  padding-bottom: px2vw-xl(8px);
  border: px2vw-xl(1px) solid var(--color-secondary-disabled);
  width: px2vw-xl(297px);
  height: px2vw-xl(339px);
  display: inline-block;
  margin-left: px2vw-xl(10px);
  margin-top: px2vw-xl(10px);

  @include lg{
    padding-bottom: px2vw-lg(8px);
    width: px2vw-lg(297px);
    height: px2vw-lg(339px);
  }
  @include md{
    padding-bottom: px2vw-md(8px);
    width: px2vw-md(297px);
    height: px2vw-md(339px);
  }
  @include sm{
    padding-bottom: px2vw-sm(8px);
    width: px2vw-sm(250px);
    height: px2vw-sm(339px);
    border: px2vw-sm(1px) solid var(--color-secondary-disabled);
    margin:px2vw-sm(2px);
  }
  &-image {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: px2vw-xl(64.5px);
      background: var(--color-linear-gradient-121212);
      @include lg{
        height: px2vw-lg(64.5px);
      }
      @include md{
        height: px2vw-md(64.5px);
      }
      @include sm{
        height: px2vw-sm(64.5px);
      }
    }
    img {
      width: 100%;
      height: px2vw-xl(158px);
      @include lg{
        height: px2vw-lg(158px);
      }
      @include md{
        height: px2vw-md(158px);
      }
      @include sm {
        height: px2vw-sm(120px);
      }
    }
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-title {
      padding-top: px2vw-xl(16px);
      font-family: "Paralucent-Demi", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--white);

      @include lg{
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
        padding-top: px2vw-lg(16px);
      }
      @include md{
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
        padding-top: px2vw-md(16px);
      }
      @include sm {
        text-align: center;
        max-width: px22vw-sm(140px);
        width: 100%;
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
        margin-top: px2vw-sm(15px);
      }
    }
    &-finger {
      font-family: "Paralucent-Medium", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(14px);
      line-height: px2vw-xl(20px);
      color: var(--color-fd-fixed);
      opacity: 0.38;

      @include lg{
        font-size: px2vw-lg(14px);
        line-height: px2vw-lg(20px);
      }
      @include md{
        font-size: px2vw-md(14px);
        line-height: px2vw-md(20px);
      }
      @include sm{
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);
      }
    }
    &-price {
      padding: px2vw-xl(8px) 0 px2vw-xl(2px) 0;
      font-family: "Paralucent-Medium", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(14px);
      line-height: px2vw-xl(20px);
      color: var(--color-fd-fixed);

      @include lg{
        font-size: px2vw-lg(14px);
        line-height: px2vw-lg(20px);
        padding: px2vw-lg(8px) 0 px2vw-lg(2px) 0;
      }
      @include md{
        font-size: px2vw-md(14px);
        line-height: px2vw-md(20px);
        padding: px2vw-md(8px) 0 px2vw-md(2px) 0;
      }
      @include sm{
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);
        padding: px2vw-sm(8px) 0 px2vw-sm(2px) 0;
      }
      span {
        //styleName: 💻 Desktop/Body S Demi;
        font-family: "Paralucent-Demi", sans-serif;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-align: center;
        color: var(--white);

@include lg{
  font-size: px2vw-lg(16px);
  line-height: px2vw-lg(24px);
}
@include md{
  font-size: px2vw-md(16px);
  line-height: px2vw-md(24px);
}
@include sm {
  font-size: px2vw-sm(16px);
  line-height: px2vw-sm(24px);
}

      }
    }
    &-btn {
      padding: px2vw-xl(12px) px2vw-xl(32px);
      font-family: "Paralucent-Demi", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
      color: var(--txt-primary);
      background-color: var(--color-primary);
      border-radius: px2vw-xl(6px);

      @include lg{
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
        padding: px2vw-lg(12px) px2vw-lg(32px);
        border-radius: px2vw-lg(6px);
      }
      @include md{
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }
      @include sm {
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
        margin-top: px2vw-sm(12px);
        width: px2vw-sm(174px);
        height: px2vw-sm(55px);
        padding: px2vw-xl(12px) px2vw-xl(22px);
      }
    }
  }
}
