@import "shared";

.Duration {
    width: 50px;
    display: inline-flex;
    margin-right: 10px;

    &-block {
      border:1px solid var(--base-03);
      text-align: center;
      padding: 10px 0;
      margin: 5px 0;
    }

    &-error {
        margin-top: px2vw-xl(5px);
        color: var(--ui-venetian-red);
        
        @include lg {
          margin-top: px2vw-lg(5px);
        }

        @include md {
          margin-top: px2vw-md(5px);
        }

        @include sm {
          margin-top: px2vw-sm(5px);
        }
    }
}
.DurationLabel{
  margin-top: px2vw-xl(20px);
  @include lg {
    margin-top: px2vw-lg(20px);
  }

  @include md {
    margin-top: px2vw-md(20px);
  }

  @include sm {
    margin-top: px2vw-sm(20px);
  }
}