.main-section {
  margin-top: 60px;
  width: 100%;
}

.article-banner-container {
  background: url("/assets/images/articles/banner-black.svg"),
    url("/assets/images/articles/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 15em;
  width: 100%;
  color: var(--base-white);
  .article-heading {
    font-size: 5em;
  }
  .article-description {
    font-size: 1.5em;
    width: 60%;
  }
  .reading-time {
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 4em;
  }
}
@media only screen and (min-width: 300px) and (max-width: 680px) {
  .article-banner-container {
    background: url("/assets/images/articles/banner-black-mb.svg"),
      url("/assets/images/articles/banner.png");
    background-size: cover;
    padding: 1em 3em;
    .article-heading {
      font-size: 2em;
    }
    .article-description {
      font-size: 1em;
      width: 100%;
    }
    .reading-time {
      font-size: 1em;
      margin-top: 2em;
    }
  }
}

.author-container {
  display: flex;
  flex-direction: column;
  background: var(--base-white);
  padding: 5em 15em;
  .author-basic {
    display: flex;
    flex-direction: row;
    .author-logo {
      width: 5em;
    }
    .author-info-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: var(--base-white);
      margin-left: 2em;
      .author-name {
        font-weight: 600;
        font-size: 2em;
      }
      .author-date {
        font-weight: 300;
        font-size: 1.5em;
      }
    }
  }
  .author-description {
    padding: 3em 5em;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--base-white);
    line-height: 2em;
    letter-spacing: 0px;
    text-align: left;
  }
}
@media only screen and (min-width: 300px) and (max-width: 680px) {
  .author-container {
    background: #31393c;
    padding: 2em 3em;
    .author-basic {
      .author-logo {
        width: 4em;
      }
      .author-info-container {
        margin-left: 1em;
        .author-name {
          font-size: 1.5em;
        }
        .author-date {
          font-size: 1.5em;
        }
      }
    }
    .author-description {
      padding: 0;
      font-size: 1.2em;
      line-height: 1.2em;
      margin-top: 1em;
    }
  }
}

.event-details-container {
  display: flex;
  flex-direction: column;
  background: var(--base-white);
  color: var(--base-white);
  padding: 0 22em 5em 22em;
  .event-description {
    padding: 3em 0em;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--base-white);
    line-height: 2em;
    letter-spacing: 0px;
    text-align: left;
  }
  .event-action {
    display: flex;
    flex-direction: row;
    padding: 3em 0em;
    width: 100%;
    .event-action-icon {
      width: 2.5em;
      margin-right: 3em;
      cursor: pointer;
    }
  }
  .event-tags {
    p {
      font-size: 1.5em;
    }
    .tags-list {
      display: flex;
      flex-direction: row;
      .tag-item {
        text-align: center;
        border: 2px solid var(--base-white);
        border-radius: 40px;
        background: transparent;
        color: var(--base-white);
        padding: 0.7em 1.5em;
        outline: none;
        margin-right: 2em;
        cursor: pointer;
      }
    }
  }
}
@media only screen and (min-width: 300px) and (max-width: 680px) {
  .event-details-container {
    background: #31393c;
    padding: 2em 3em;
    h2 {
      font-size: 1.5em;
    }
    img {
      height: 15em;
    }
    .event-description {
      padding: 0;
      font-size: 1.2em;
      line-height: 1.2em;
      margin-top: 1em;
    }
    .event-action {
      padding: 2em 0em;
      .event-action-icon {
        width: 2em;
        margin-right: 2em;
        height: 2em;
      }
    }
    .event-tags {
      .tags-list {
        flex-direction: column;
        flex-wrap: wrap;
        .tag-item {
          margin-bottom: 1em;
        }
      }
    }
  }
}

.comments-container {
  display: flex;
  flex-direction: column;
  padding: 5em 15em;
  background: #171a1c;
  color: var(--base-white);
  text-align: center;
  .add-comment-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em 0 1.5em 0;
    .user-logo {
      width: 5em;
    }
    .comment-input {
      margin-left: 1em;
      width: 70%;
      border: 3px solid var(--base-white);
      border-radius: 18px;
      opacity: 0.6;
      background: transparent;
      font-size: 1.5em;
      padding: 1.1em;
      line-height: 1.5em;
      color: var(--base-white);
    }
  }
  .submit-container {
    display: flex;
    justify-content: flex-end;
    button {
      border-radius: 40px;
      background: #da2c38;
      color: var(--base-white);
      box-shadow: 0px 6px 6px #00000029;
      padding: 1em 3em;
      text-align: center;
      text-transform: uppercase;
      margin-right: 8%;
      outline: none;
    }
  }
  .user-comments-container {
    display: flex;
    flex-direction: row;
    padding: 5em 8em;
    border-top: 2px solid #999999;
    margin-top: 5em;
    .user-comment-item {
      display: flex;
      flex-direction: row;
      .user-logo {
        width: 5em;
      }
      .user-details-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0em 0 0 2em;
        .comment {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
      .user-action-container {
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        span {
          width: 8em;
        }
      }
    }
  }
}
@media only screen and (min-width: 300px) and (max-width: 680px) {
  .comments-container {
    padding: 1em 3em;
    background: var(--base-white);
    h1 {
      font-size: 1.5em;
    }
    .add-comment-container {
      padding: 1.5em 0;
      .user-logo {
        width: 3em;
      }
      .comment-input {
        font-size: 1em;
        padding: 0.3em 1em;
        line-height: 0.3em;
      }
    }

    .user-comments-container {
      padding: 1em 0em;
      margin-top: 3em;
      .user-comment-item {
        .user-logo {
          width: 3em;
        }
        .user-details-container {
          margin: 0em 0 0 1em;
          width: 80%;
          h3 {
            font-size: 1.5em;
          }
          .comment {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .user-action-container {
          flex-wrap: wrap;
          margin-top: 2em;
          span {
            width: 50%;
            margin-bottom: 1.5em;
          }
        }
      }
    }
  }
}

.related-article {
  background: var(--base-white);
  padding: 5em 15em;
  text-align: center;
  color: var(--base-white);
  .articles-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2em 0;
    justify-content: space-between;
    .article-item {
      width: 23%;
    }
    .article-item a {
      text-decoration: none;
      background-repeat: no-repeat;
    }
    .textOverImage {
      position: relative;
      width: 100%;
      height: 15em;
      float: left;
      background-size: 100%;
      transition: 0.5s;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0 0 4px #000;
    }
    .textOverImage:hover {
      background-size: 100%;
    }
    .textOverImage:before {
      position: absolute;
      top: 0;
      bottom: 2em;
      left: 0;
      right: 0;
      transform: translateY(90%);
      color: var(--base-white);
      padding: 0 8px;
      content: attr(data-title);
      transition: 0.5s 0.1s;
      color: var(--base-white);
      font-size: 1.5em;
      text-align: center;
    }
    .textOverImage:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: var(--base-white);
      padding: 8px;
      content: attr(data-text);
      transition: 0.5s;
      padding-top: 2em;
      margin-top: 8px;
      transform: translateY(100%);
      opacity: 0;
    }
    .textOverImage:hover:after {
      transform: translateY(0);
      transition: 0.5s 0.1s;
      opacity: 1;
    }
    .textOverImage:hover:before {
      transform: translateY(0);
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.6);
      transition: 0.5s;
    }
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .textOverImage {
    background-size: cover !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 680px) {
  .related-article {
    padding: 1em 3em;
  }
}

.cursor {
  cursor: pointer;
}
.input-box {
  width: 100%;
  border: 3px solid var(--base-white);
  border-radius: 18px;
  opacity: 0.6;
  background: transparent;
  font-size: 1em;
  padding: 1em;
  line-height: 1em;
  color: var(--base-white);
}
.button-active {
  border-radius: 40px;
  background: #da2c38;
  color: var(--base-white);
  box-shadow: 0px 6px 6px #00000029;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  margin: 0.5em;
}

.thumbIcon {
  cursor: pointer;
}
.lang-tabs {
  background-color: var(--base-black) !important;
  color: var(--base-white) !important;
}
