<!-- <div class="progressCounter progressScroll" style="width: 100px; height: 100px; position: fixed; top: 20px; right: 20px;"><div class="progressScroll-border" style="position: relative; text-align: center; width: 100%; height: 100%; border-radius: 50%; background-color: rgb(57, 180, 204); background-image: linear-gradient(90deg, transparent 50%, rgb(162, 236, 251) 50%), linear-gradient(90deg, rgb(162, 236, 251) 50%, transparent 50%);"><div class="progressScroll-circle" style="position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 90px; height: 90px; border-radius: 50%; background-color: rgb(230, 244, 247);"><span class="progressScroll-text" style="top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; font-size: 30px;">0%</span></div></div></div> -->

<section class="main-section">
  <ul
    ngbNav
    #articleMultiLang="ngbNav"
    [(activeId)]="active"
    class="lang-tabs nav-tabs"
  >
    <li [ngbNavItem]="1">
      <a ngbNavLink>English</a>
      <ng-template ngbNavContent> </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Malay</a>
      <ng-template ngbNavContent> </ng-template>
    </li>
  </ul>

  <!-- <div [ngbNavOutlet]="articleMultiLang" class="mt-2"></div> -->
  <section class="article-banner-container">
    <div class="article-heading">
      <span>{{
        articleModel?.title
          | customTranslate: (languageService?.language | async)
      }}</span>
    </div>
    <div class="article-description">
      {{
        articleModel?.shortDescription
          | customTranslate: (languageService?.language | async)
      }}
    </div>
    <p class="reading-time">
      {{ articleModel?.minRead }} {{ "ARTICLE.MINUTES_READING" | translate }}
    </p>
  </section>

  <section class="author-container">
    <div class="author-basic">
      <img
        [src]="
          articleModel?.authorDetails?.profilePicture
            ? articleModel.authorDetails.profilePicture
            : 'assets/images/articles/author-logo.svg'
        "
        alt="author logo"
        class="author-logo"
      />
      <div class="author-info-container">
        <span class="author-name">{{
          articleModel?.authorDetails?.fullName
        }}</span>
        <span class="author-date">{{ articleModel?.createdDate | date }}</span>
      </div>
    </div>
    <div
      class="author-description"
      [innerHTML]="
        articleModel?.content
          | customTranslate: (languageService?.language | async)
          | safe: 'html':false
      "
    ></div>
  </section>

  <section class="event-details-container">
    <div class="event-action">
      <span *ngIf="articleModel.type != 1"
        ><img
          (click)="like(articleModel, 'article')"
          class="thumbIcon"
          src="assets/images/articles/thumb-up.svg"
          alt="up vote"
        />
        &nbsp;{{ articleModel?.totalLikes }}</span
      >
      <span *ngIf="articleModel.type == 1">
        <img
          (click)="like(articleModel, 'article')"
          class="thumbIcon"
          src="assets/images/articles/thumb-up-icon.svg"
        />
        &nbsp;{{ articleModel?.totalLikes }}
      </span>
      <img
        (click)="addBookmark()"
        src="assets/images/articles/bookmark-icon.svg"
        alt="bookmark"
        class="event-action-icon"
      />
      <img
        src="assets/images/articles/share-icon.svg"
        alt="share"
        class="event-action-icon"
      />
    </div>
    <div class="event-tags">
      <p>{{ "ARTICLE.TAGS" | translate }}</p>
      <div class="tags-list">
        <div *ngFor="let tag of articleModel?.tags" class="tag-item">
          {{ tag }}
        </div>
      </div>
    </div>
  </section>

  <section class="comments-container">
    <h1>
      {{ "ARTICLE.COMMENTS" | translate }}({{ articleModel?.comments?.length }})
    </h1>
    <div class="add-comment-container">
      <img
        src="assets/images/articles/author-logo.svg"
        alt="author logo"
        class="user-logo"
      />
      <input
        type="text"
        name=""
        value=""
        placeholder="Type Here"
        class="comment-input"
        [(ngModel)]="commentModel.comment"
      />
    </div>
    <div class="submit-container">
      <button (click)="saveComment()" name="button">
        {{ "ARTICLE.SUBMIT" | translate }}
      </button>
    </div>
    <div
      *ngFor="let comment of articleModel?.comments; let index = index"
      class="user-details-container"
      class="user-comments-container"
    >
      <div class="user-comment-item">
        <div class="">
          <img
            [src]="
              comment?.userDetails?.profilePicture
                ? comment.userDetails.profilePicture
                : 'assets/images/articles/author-logo.svg'
            "
            alt="author logo"
            class="user-logo"
          />
        </div>
        <div>
          <h3>{{ comment?.userDetails?.fullName }}</h3>
          <span class="comment">{{ comment.comment }}</span>
          <div class="user-action-container">
            <!-- <span>{{ comment?.createdOn | dateToDayAgo }}</span> -->
            <span *ngIf="comment.type != 1"
              ><img
                (click)="like(comment, 'comment')"
                class="thumbIcon"
                src="assets/images/articles/thumb-up.svg"
                alt="up vote"
              />
              &nbsp;{{ comment?.totalLikes }}</span
            >
            <span *ngIf="comment.type == 1">
              <img
                (click)="like(comment, 'comment')"
                class="thumbIcon"
                src="assets/images/articles/thumb-up-icon.svg"
              />
              &nbsp;{{ comment?.totalLikes }}
            </span>
            <!-- <span
              ><img
                (click)="dislike(comment._id)"
                src="assets/images/articles/thumb-down.svg"
                alt="down vote"
              />
              &nbsp;{{ comment?.like }}</span
            > -->
            <span (click)="isShowReplyButton(index)">{{
              "ARTICLE.REPLY" | translate
            }}</span>
          </div>
          <div
            *ngIf="commentsArray[index]['isShowReplyButton']"
            class="row mt-4"
          >
            <div class="col-8">
              <input
                [(ngModel)]="replyModel.comment"
                type="text"
                name=""
                value=""
                placeholder="Type Here"
                class="input-box"
              />
            </div>
            <div class="col-3 ml-1">
              <button
                (click)="saveReply(comment._id, index)"
                name="button"
                class="button-active"
              >
                {{ "ARTICLE.SUBMIT" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="related-article">
    <h1>{{ "ARTICLE.ARTICLE" | translate }}</h1>
    <div class="articles-container">
      <div class="article-item">
        <a
          href=""
          class="textOverImage"
          style="
            background-image: url(assets/images/articles/related-art1.png);
          "
          data-title="Article Name"
        >
        </a>
      </div>
      <div class="article-item">
        <a
          href=""
          class="textOverImage"
          style="
            background-image: url(assets/images/articles/related-art2.png);
          "
          data-title="Article Name"
        >
        </a>
      </div>
      <div class="article-item">
        <a
          href=""
          class="textOverImage"
          style="
            background-image: url(assets/images/articles/related-art3.png);
          "
          data-title="Article Name"
        >
        </a>
      </div>
      <div class="article-item">
        <a
          href=""
          class="textOverImage"
          style="
            background-image: url(assets/images/articles/related-art1.png);
          "
          data-title="Article Name"
        >
        </a>
      </div>
    </div>
  </section>
</section>
