<div class="Participant u-dfCenterStart" [ngClass]="{ isRemove: isRemove }">
  <img
    *ngIf="isRemove"
    class="Participant-trash trash"
    (click)="onHandle(data?._id)"
    src="assets/icons/tournament/trash.svg"
    alt="trash icon"
  />

  <img
    class="Participant-photo photo"
    [src]="data?.profilePicture || 'assets/images/Profile/avatar.png'"
    [alt]="data?.fullName"
  />

  <div class="Participant-info info">
    <h4 class="Participant-fullName">
      {{ data?.fullName }}
    </h4>

    <div class="Participant-details">
      <!-- <span class="Participant-detail email global-Text2">
        {{ data?.email }}
      </span> -->
      <span
        class="Participant-detail country global-Text2"
        *ngIf="data?.country"
      >
        &#183;{{ data?.country }}
      </span>
    </div>
  </div>

  <button *ngIf="!isRemove" class="Participant-button tournament-button">
    Add
  </button>
</div>
