@import "shared";

:host {
  display: block;
}

.Participant {
  padding: px2vw-xl(32px) 0;

  @include lg {
    padding: px2vw-lg(32px) 0;
  }

  @include md {
    padding: px2vw-md(32px) 0;
  }

  @include sm {
    flex-direction: column;
    padding: px2vw-sm(32px) 0;
  }

  &-trash {
    margin-right: px2vw-xl(16px);
    width: px2vw-xl(16px);
    cursor: pointer;
    transition: 100ms linear;

    @include lg {
      margin-right: px2vw-lg(16px);
      width: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      width: px2vw-md(20px);
    }

    @include sm {
      margin-right: 0;
      width: px2vw-sm(30px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-photo {
    border-radius: 50%;
    object-fit: cover;
    width: px2vw-xl(77px);
    height: px2vw-xl(77px);

    @include lg {
      width: px2vw-lg(77px);
      height: px2vw-lg(77px);
    }

    @include md {
      width: px2vw-md(77px);
      height: px2vw-md(77px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
      width: px2vw-sm(150px);
      height: px2vw-sm(150px);
    }
  }

  &-info {
    margin: 0 px2vw-xl(24px);
    color: var(--white);
    @include lg {
      margin: 0 px2vw-lg(24px);
    }

    @include md {
      margin: 0 px2vw-md(24px);
    }

    @include sm {
      margin: 0;
      text-align: center;
    }
  }

  &-fullName {
    margin-bottom: px2vw-xl(10px);
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);
    text-transform: capitalize;

    @include lg {
      margin-bottom: px2vw-lg(10px);
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(26px);
      line-height: px2vw-sm(36px);
    }
  }

  &-details {
    @include sm {
      margin-bottom: px2vw-sm(25px);
    }
  }

  &-detail {
    display: inline-block;

    @include lg {
      font-size: px2vw-lg(18px);
    }

    @include md {
      font-size: px2vw-md(18px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
    }

    &.country {
      text-transform: capitalize;
    }
  }

  &-button {
    margin-left: auto;
    min-width: px2vw-xl(116px);

    @include lg {
      min-width: px2vw-lg(116px);
    }

    @include md {
      min-width: px2vw-md(116px);
    }

    @include sm {
      margin-left: 0;
      min-width: px2vw-sm(116px);
    }
  }
}

.Participant.isRemove {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  .info {
    margin-right: 0;
  }

  .trash {
    @include sm {
      order: 1;
    }
  }
}
