<section
  class="Games-sectionA"
  [style.backgroundImage]="'url(assets/images/games/games-bg.png)'"
>
  <div class="u-wp">
    <h2 class="Games-sectionA-title global-H1">
      {{ "GAMES.GAMES" | translate }}
    </h2>
  </div>
</section>

<section class="Games-sectionB u-wp">
  <div>
    <div class="Games-sectionB-left">
      <div class="Games-sectionA-steps">
        <h3 class="Games-sectionA-steps-title global-H3">
          {{ "GAMES.START_STEPS" | translate }}
        </h3>
        <ul class="Games-sectionA-steps-list" *ngIf="true">
          <li class="Games-sectionA-steps-item">
            <span class="Games-sectionA-steps-number">1.</span>
            {{ "GAMES.STEPS_1" | translate }}
          </li>
          <li class="Games-sectionA-steps-item">
            <span class="Games-sectionA-steps-number">2.</span>
            {{ "GAMES.STEPS_2" | translate }}
          </li>
          <li class="Games-sectionA-steps-item">
            <span class="Games-sectionA-steps-number">3.</span>
            {{ "GAMES.STEPS_3" | translate }}
          </li>
        </ul>
        <button class="btn" [routerLink]="AppHtmlProfileRoutes.accountSetting">
          {{ "GAMES.SELECT" | translate }}
        </button>
      </div>
    </div>

    <div class="divider"></div>

    <div class="Games-sectionB-right">
      <div class="Games-sectionB">
        <div class="Games-sectionB-cards" *ngIf="gameList.length">
          <div
            class="Games-sectionB-card"
            *ngFor="let game of gameList; let i = index"
          >
            <div class="Games-sectionB-card-image-block">
              <img
                class="Games-sectionB-card-image"
                [src]="
                  game.image ? game.image : './assets/images/Home/top1.png'
                "
                alt="image"
              />
              <div class="Games-sectionB-card-image-block-button text-center">
                <button
                  class="Games-card-button is-small btn"
                  (click)="openDialog(game)"
                >
                  {{ "GAMES.HOVER.BTN1" | translate }}
                </button>
              </div>
            </div>
            <p class="Games-sectionB-card-game global-Elipses">
              {{ game.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
