<section class="ArticlePost-top">
  <div class="ArticlePost-top-bg" [lazyLoad]="article?.image"></div>

  <div class="ArticlePost-top-content">
    <!-- <div *ngIf="jumbotron.ribbon" class="ArticlePost-top-label">
      {{ jumbotron.ribbon }}
    </div> -->

    <div class="ArticlePost-top-info">
      <h2 class="global-H1">
        {{
          article?.title | customTranslate: (languageService?.language | async)
        }}
      </h2>
      <h2 class="ArticlePost-top-info-dateTitle global-text-body">
        {{ article?.createdDate | date: "dd LLLL" }}
      </h2>
    </div>
  </div>
</section>

<section class="ArticlePost-main">
  <div class="ArticlePost-wp">
    <div class="ArticlePost-main-left">
      <div class="ArticlePost-user">
        <img
          [lazyLoad]="
            article?.authorDetails?.profilePicture ||
            'assets/images/Profile/avatar.png'
          "
          alt="user image"
        />
        <span
          [innerHTML]="article?.authorDetails?.fullName"
          class="ArticlePost-user-name"
        ></span>
        <span class="ArticlePost-user-author">Author</span>
      </div>
    </div>

    <div
      [innerHTML]="article?.content | customTranslate | safe: 'html':false"
      class="ArticlePost-main-content global-text-body"
    ></div>

    <div class="ArticlePost-main-btns text-center">
      <button
        class="ArticlePost-btn"
        (click)="likeOrUnLikeArticle(article?._id, 'article', article?.type)"
      >
        <span class="global-thumbsUp"></span>
        <span class="ArticlePost-btn">
          <img
            *ngIf="article?.type == 1"
            [lazyLoad]="'assets/icons/thumbs-up-yellow.svg'"
            alt="active like icon"
          />
          <img
            *ngIf="article?.type != 1"
            [lazyLoad]="'assets/icons/thumbs-up.svg'"
            alt="active like icon"
          />
        </span>

        <span>{{ article?.totalLikes || 0 }}</span>
        <span>{{ "ARTICLE.LIKES" | translate }}</span>
      </button>

      <span class="global-text-body Article-Share-Text ml-1 mr-1">Share</span>
      <button class="Article-share-button" (click)="openSocialShareComponent()">
        <span class="material-icons">share</span>
      </button>

      <button class="Article-bookmark-button" (click)="upsertBookmark()">
        <span
          class="material-icons bookmark-color"
          [class.is-active]="article?.isBookmarked"
          >bookmark</span
        >
      </button>
    </div>
  </div>
</section>

<section class="ViewArticle">
  <div class="ViewArticle-wp">
    <app-discussion
      [userId]="user?._id"
      [allowComment]="true"
      [objectId]="article?._id"
      [type]="'article'"
    >
    </app-discussion>
  </div>

  <div *ngIf="relatedArticles.length" class="ViewArticle-trending">
    <div class="container-fluid u-wp">
      <header class="ViewArticle-trending-head u-dfCenterBtw">
        <div class="ViewArticle-trending-title global-H3">
          {{ "ARTICLE_MAIN.HEADING.TRENDING_POSTS" | translate | uppercase }}
        </div>

        <button
          [routerLink]="[
            AppHtmlRoutes.articleMore,
            AppHtmlRoutesArticleMoreType.trendingPost
          ]"
          class="btn global-btn-black"
        >
          {{ "ARTICLE.VIEW_MORE" | translate }}
        </button>
      </header>

      <div class="ViewArticle-list">
        <app-article-item
          *ngFor="let item of relatedArticles"
          [data]="item"
        ></app-article-item>
      </div>
    </div>
  </div>
</section>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
