@import "shared";

:host {
  display: block;
}

.TournamentsCreated-header {
  margin-bottom: px2vw-xl(16px);
  padding: px2vw-xl(20px) 0;

  @include lg {
    margin-bottom: px2vw-lg(16px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    padding: px2vw-md(20px) 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    padding: px2vw-sm(20px) 0;
  }

  &-title {
    @extend %global-H5;
    margin-bottom: 0;
    color: var(--white);
  }
}
.TournamentsCreated {
  &-inner {
    width: 100%;
    padding: px2vw-xl(24px) 0 0 0;
    @include lg {
      padding: px2vw-lg(24px) 0 0 0;
    }

    @include md {
      padding: px2vw-md(24px) 0 0 0;
    }

    @include sm {
      padding: px2vw-sm(24px) 0 0 0;
    }
  }
}
.TournamentsCreated-table {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  .title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-white-medium);
    margin-bottom: 0;
    @include sm {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &-toggles {
    width: 100%;
    max-width: 286px;
    @include sm {
      max-width: 100%;
    }
    &-heading {
      margin-bottom: px2vw-xl(27px);
      @include lg {
        margin-bottom: px2vw-lg(27px);
      }

      @include md {
        margin-bottom: px2vw-md(27px);
      }

      @include sm {
        display: none;
      }
    }
  }

  &-content {
    width: 100%;
    max-width: calc(100% - 286px);
    padding-left: px2vw-xl(48px);
    @include lg {
      padding-left: px2vw-lg(48px);
    }

    @include md {
      padding-left: px2vw-md(48px);
    }

    @include sm {
      max-width: 100%;
      padding-left: 0;
    }
    &-heading {
      margin-bottom: px2vw-xl(16px);
      @include lg {
        margin-bottom: px2vw-lg(16px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
      }

      @include sm {
        margin-bottom: 0;
        padding: 16px 0;
      }
    }
  }

  &-toggle {
    position: relative;
    width: 100%;
    @include sm {
      display: none;
    }
    &-link {
      width: 100%;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-align-items: center;
      align-items: center;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-white-medium);
      padding: 0;
      border: none;
      margin-right: 0;
      margin-bottom: px2vw-xl(16px);
      @include lg {
        margin-bottom: px2vw-lg(16px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
      }

      @include sm {
        margin-bottom: px2vw-sm(16px);
      }
      .icon {
        display: -webkit-inline-flex;
        display: inline-flex;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        margin-right: 16px;
        width: 32px;
        height: 32px;
        ::ng-deep svg path {
          fill: var(--tertiary-color);
        }
      }
      &:hover,
      &.active {
        color: var(--main-color);
        .icon {
          ::ng-deep svg path {
            fill: var(--main-color);
          }
        }
      }
    }
  }
}
.TournamentsCreated-tabBar-navMb {
  display: none;
  @include sm {
    display: block;
    width: 100%;
    margin-bottom: 9px;
  }
  .title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 8px;
  }
  &-nav {
    @include sm {
      display: none;
    }
    .nav-link-to {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-align-items: center;
      align-items: center;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(16px);
      @include lg {
        margin-bottom: px2vw-lg(16px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
      }

      @include sm {
        margin-bottom: px2vw-sm(16px);
      }
      .icon {
        display: -webkit-inline-flex;
        display: inline-flex;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        margin-right: 16px;
        width: 32px;
        height: 32px;
        ::ng-deep svg path {
          fill: var(--tertiary-color);
        }
      }
      &:hover,
      &.active {
        color: var(--main-color);
        .icon {
          ::ng-deep svg path {
            fill: var(--main-color);
          }
        }
      }
    }
  }
  &-navMb {
    display: none;
    @include sm {
      display: block;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);
      margin-bottom: 8px;
    }
  }
}
.Select-teamDropdown {
  &:hover,
  &.show {
    .Select-teamBtn {
      border: 2px solid var(--main-color);
    }
  }
  .Select-teamBtn {
    background: transparent;
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    padding: 10px 16px;
    @extend %global-textSm;
    font-weight: 500;
    color: var(--tolopea-color);
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    &::after {
      display: inline-block;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: 2px solid var(--main-color);
      border-right: 2px solid var(--main-color);
      border-bottom: 0;
      border-left: 0;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      transition: $global-transition2;
      position: relative;
      top: -4px;
    }
  }
  .Select-teamDropdownItem {
    top: 55px !important;
    transform: none !important;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    background: var(--midnight-express-color);
    border: 2px solid var(--midnight-express-color);
    overflow: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    z-index: 999;
    button {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
      padding: 10px 16px;
      .TournamentsCreated-table-toggle-link {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
        padding: 0;
        margin: 0;
      }
      &:hover {
        background: var(--color-black-medium);
      }
    }
  }
  &.show {
    .Select-teamBtn {
      &::after {
        top: 2px;
        transform: rotate(315deg);
        transition: $global-transition2;
      }
    }
  }
}
