<div class="carousel-row" [ngClass]="{'inactive': userDropdown}" *ngIf="!loading">
  <carousel
    (activeSlideChange)="slideChange($event)"
    [interval]="false"
    [isAnimated]="true"
    [showIndicators]="false"
  >
    <slide *ngFor="let l of list; let i = index">
      <div class="text-center bg-dark text-white">
        <h4 class="h4">
          {{ title | translate }} {{ i + 1 }}/{{ list?.length }}
        </h4>
      </div>
    </slide>
  </carousel>
</div>
<div class="loading" *ngIf="loading">
  <!-- <app-loading></app-loading> -->
</div>

<div class="form-field-item form-field-select" [ngClass]="{'inactive': !userDropdown}"  *ngIf="!loading && list?.length" >
  <div ngbDropdown class="select-teamDropdown">
    <button
      class="btn select-teamBtn active"
      ngbDropdownToggle
    >
      {{ title | translate }} {{ value + 1 }}/{{ list?.length }}
    </button>
    <div
      class="select-teamDropdownItem"
      ngbDropdownMenu
      aria-labelledby="dropdownBasic1"
    >
      <button
        ngbDropdownItem
        *ngFor="let l of list; let i = index"
        (click)="selectionChange(i)"
      >
        {{ title | translate }} {{ i + 1 }}
      </button>
    </div>
  </div>
</div>
