<div *ngIf="user" class="BasicInfo">
  <div class="BasicInfo-title global-H3">
    {{ "PROFILE.BASIC_INFO.TITLE" | translate }}
    <button
      *ngIf="user.accountDetail.referralId"
      class="global-button primary btnRef"
      (click)="open(mymodal)"
    >
      <img
        src=".\assets\images\Profile\invite friends.svg"
        class="ref-icon"
        alt=""
      />
      {{ "PROFILE.BASIC_INFO.REFERRAL_INVITE" | translate | uppercase }}
    </button>
  </div>
  <form class="form-start" (ngSubmit)="saveProfile()" #f="ngForm">
    <div class="BasicInfo-box u-dfCenterStart">
      <div class="BasicInfo-box-left">
        <div class="BasicInfo-box-cell">
          <!-- <div
            (click)="!isDisabled && avatar.click()"
            class="BasicInfo-box-img"
          > -->
          <div
            (click)="!isDisabled && uploadAvatar()"
            class="BasicInfo-box-img"
          >
            <img
              [className]="!user.isVerified ? 'imgCircle' : 'imgCircleRmv'"
              [lazyLoad]="'assets/images/Profile/article01.png'"
              alt=""
              *ngIf="!user.profilePicture && !base64textString"
            />
            <img
              [className]="!user.isVerified ? 'imgCircle' : 'imgCircleRmv'"
              [lazyLoad]="user.profilePicture"
              [alt]="user.fullName"
              *ngIf="user.profilePicture && !base64textString"
            />
            <img
              [className]="!user.isVerified ? 'imgCircle' : 'imgCircleRmv'"
              [lazyLoad]="base64textString"
              [alt]="user.fullName"
              *ngIf="base64textString"
            />
            <span class="material-icons" *ngIf="!user.isVerified">done</span>
          </div>
          <!-- <input
            #avatar
            type="file"
            class="BasicInfo-box-file"
            (change)="handleFileSelect($event)"
            accept="image/*"
          /> -->

          <img
            *ngIf="!user.isInfluencer"
            [lazyLoad]="'assets/icons/library-yellow.svg'"
            class="BasicInfo-box-lib"
            alt=""
          />
          <div
            class="BasicInfo-box-status global-H5"
            *ngIf="!user.isInfluencer"
          >
            {{ "PROFILE.BASIC_INFO.INFLUENCER" | translate }}
          </div>
        </div>

        <div class="BasicInfo-box-cell">
          <div class="BasicInfo-box-cell-item">
            <div class="BasicInfo-text BasicInfo-box-title global-text-body">
              {{ "PROFILE.BASIC_INFO.FORM.FULL_NAME.NAME" | translate }}
              <span *ngIf="!isDisabled">*</span>
            </div>
            <input
              [(ngModel)]="user.fullName"
              [class.disabled]="isDisabled"
              name="fullName"
              #fullName="ngModel"
              placeholder="{{
                'PROFILE.BASIC_INFO.FORM.FULL_NAME.NAME' | translate
              }}"
              type="text"
              class="BasicInfo-box-input global-H5"
              [ngClass]="{
                bordered: f.submitted && fullName.invalid && !isDisabled
              }"
              required
            />
            <div
              *ngIf="f.submitted && fullName.invalid && !isDisabled"
              class="error"
            >
              <div *ngIf="fullName.errors.required">
                {{ "PROFILE.BASIC_INFO.FORM.FULL_NAME.ERROR" | translate }}
              </div>
            </div>
          </div>

          <div class="BasicInfo-box-cell-item">
            <div class="BasicInfo-text BasicInfo-box-title global-text-body">
              {{ "PROFILE.BASIC_INFO.FORM.REWARD.NAME" | translate }}
            </div>
            <input
              [value]="user?.accountDetail?.reward"
              type="text"
              value="2000"
              class="BasicInfo-box-input disabled global-H5"
            />
          </div>
        </div>
        <div class="BasicInfo-box-cell">
          <div class="BasicInfo-box-cell-item">
            <div class="BasicInfo-text BasicInfo-box-title global-text-body">
              USER TYPE
            </div>
            <input
              type="text"
              value="{{ user.accountType }}"
              class="BasicInfo-box-input disabled global-H5"
            />
          </div>
        </div>
        <div class="BasicInfo-box-cell-item">
          <div class="BasicInfo-text BasicInfo-box-title global-Body-Text">
            {{ "HEADER.FOLLOWING" | translate }}
          </div>
          <input
            [value]="
              user.preference?.followingCount
                ? user.preference?.followingCount
                : 0
            "
            type="text"
            value="2000"
            class="BasicInfo-box-input disabled global-H5"
          />
        </div>
        <div class="BasicInfo-box-cell-item">
          <div class="BasicInfo-text BasicInfo-box-title global-Body-Text">
            {{ "HEADER.FOLLOWERS" | translate }}
          </div>
          <input
            [value]="
              user.preference?.followersCount
                ? user.preference?.followersCount
                : 0
            "
            type="text"
            value="2000"
            class="BasicInfo-box-input disabled global-H5"
          />
        </div>
      </div>

      <div class="BasicInfo-box-right">
        <div class="BasicInfo-box-cell is-last">
          <div class="BasicInfo-box-progress">
            <circle-progress
              [backgroundColor]="'#F4F5F7'"
              [backgroundGradientStopColor]="'#F4F5F7'"
              [backgroundOpacity]="1"
              [backgroundPadding]="0"
              [maxPercent]="100"
              [outerStrokeColor]="'#ffce07'"
              [outerStrokeLinecap]="'butt'"
              [outerStrokeWidth]="8"
              [percent]="user?.progress"
              [radius]="32"
              [showInnerStroke]="false"
              [showSubtitle]="false"
              [space]="-20"
              [titleColor]="'#1d252d'"
              [toFixed]="0"
              [unitsColor]="'#053C83'"
            ></circle-progress>
          </div>
          <div class="BasicInfo-box-completion global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.COMPLETION.NAME1" | translate }}
            {{ "PROFILE.BASIC_INFO.FORM.COMPLETION.NAME2" | translate }}
          </div>
          <a
            class="BasicInfo-box-completion global-text-body red"
            *ngIf="user?.progress < 100"
            (click)="complete()"
          >
            {{ "PROFILE.BASIC_INFO.FORM.COMPLETION.COMPLETE" | translate }}
          </a>
        </div>
        <button
          *ngIf="isDisabled"
          (click)="onToggleEdit()"
          class="BasicInfo-box-right-edit global-button secondary"
        >
          {{ "BUTTON.EDIT" | translate }}
        </button>
      </div>
    </div>

    <div class="BasicInfo-form-wrapper">
      <div class="BasicInfo-row">
        <!-- nick name  -->
        <div class="BasicInfo-row-cell">
          <label class="BasicInfo-text global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.NICKNAME.NAME" | translate }}

            <span *ngIf="!isDisabled">*</span>
          </label>
          <div class="BasicInfo-username">
             <span class="BasicInfo-username-attherate">@</span>
            <input
              [(ngModel)]="user.username"
              name="username"
              #username="ngModel"
              placeholder="{{
                'PROFILE.BASIC_INFO.FORM.NICKNAME.NAME' | translate
              }}"
              type="text"
              class="global-text-body BasicInfo-username-input"
              [ngClass]="{
                bordered: f.submitted && username.invalid && !isDisabled
              }"
              (keydown.space)="$event.preventDefault()"
              (keyup)="isUniqueName($event?.target?.value)"
              [class.disabled]="isDisabled"
              required
            />
          </div>

          <div
            *ngIf="f.submitted && username.invalid && !isDisabled"
            class="error"
          >
            <div *ngIf="username.errors.required">
              {{ "PROFILE.BASIC_INFO.FORM.NICKNAME.ERROR" | translate }}
            </div>
            <div *ngIf="isExist">
              {{ "LOG_REG.LOGIN.ERROR9" | translate }}
            </div>
            <div *ngIf="username.errors.minlength">
              {{ "LOG_REG.LOGIN.VALIDATION3" | translate }}
            </div>
            <div *ngIf="username.errors.pattern">
              {{ "LOG_REG.LOGIN.VALIDATION5" | translate }}
            </div>
          </div>
        </div>

        <div class="BasicInfo-row-cell">
          <label class="BasicInfo-text global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.FULL_NAME.NAME" | translate }}

            <span *ngIf="!isDisabled">*</span>
          </label>
          <input
            [(ngModel)]="user.fullName"
            [class.disabled]="isDisabled"
            name="fullName"
            #fullName="ngModel"
            placeholder="{{
              'PROFILE.BASIC_INFO.FORM.FULL_NAME.NAME' | translate
            }}"
            type="text"
            class="BasicInfo-box-input global-text-body"
            [ngClass]="{
              bordered: f.submitted && fullName.invalid && !isDisabled
            }"
            (keyup)="isFullName()"
            required
          />
          <div
            *ngIf="f.submitted && fullName.invalid && !isDisabled"
            class="error"
          >
            <div *ngIf="fullName.errors.required">
              {{ "PROFILE.BASIC_INFO.FORM.FULL_NAME.ERROR" | translate }}
            </div>
            <div *ngIf="fullName.errors.minlength">
              {{ "LOG_REG.LOGIN.VALIDATION3" | translate }}
            </div>
            <div *ngIf="fullName.errors.maxlength">
              {{ "LOG_REG.LOGIN.VALIDATION4" | translate }}
            </div>
            <div *ngIf="fullName.errors.pattern">
              {{ "LOG_REG.LOGIN.VALIDATION6" | translate }}
            </div>
          </div>
          <div *ngIf="!isDisabled && !fullName?.value" class="error">
            {{ "PROFILE.BASIC_INFO.FORM.PROFILE_COMPLETE" | translate }}
          </div>
        </div>

        <div class="BasicInfo-row-cell">
          <label class="BasicInfo-text global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.DOB.NAME" | translate }}
          </label>
          <input
            (focus)="picker.open()"
            (keydown)="(false)"
            [(ngModel)]="user.dob"
            [class.disabled]="isDisabled"
            [matDatepicker]="picker"
            [max]="todayDate"
            #dobpick="ngModel"
            autocomplete="off"
            class="BasicInfo-box-input date-input"
            matInput
            name="dob"
            placeholder="DD/MM/YYYY"
          />
          <mat-datepicker #picker></mat-datepicker>

          <div
            *ngIf="f.submitted && dobpick.invalid && !isDisabled"
            class="error"
          >
            <div *ngIf="dateformat(user.dob) > todayDate">
              {{ "PROFILE.BASIC_INFO.FORM.DOB.ERROR" | translate }}
            </div>
          </div>
        </div>

        <!-- <div class="BasicInfo-row-cell" [hidden]="true">
          <label class="BasicInfo-text global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.TIMEZONE.NAME" | translate }}
            <span *ngIf="!isDisabled">*</span>
          </label>

          <select
            [attr.disabled]="isDisabled ? isDisabled : null"
            class="selectpicker is-profile border selectdropdown pl-2"
            data-live-search="true"
            name="timezone"
            #timezone="ngModel"
            id="timezone"
            placeholder="TIMEZONE"
            [(ngModel)]="user.timezone"
            required
          >
            <option [value]="tz" *ngFor="let tz of tzNames">
              {{ tz }}
            </option>
          </select>
          <div
            *ngIf="f.submitted && country.invalid && !isDisabled"
            class="error"
          >
            <div *ngIf="country.errors.required">
              {{ "PROFILE.BASIC_INFO.FORM.COUNTRY.ERROR" | translate }}
            </div>
          </div>
          <div *ngIf="!isDisabled && !country?.value" class="error">
            {{ "PROFILE.BASIC_INFO.FORM.PROFILE_COMPLETE" | translate }}
          </div>
        </div> -->
      </div>

      <div class="BasicInfo-row">
        <div class="BasicInfo-row-cell"></div>
      </div>

      <div class="BasicInfo-row">
        <div class="BasicInfo-row-cell">
          <label class="BasicInfo-text global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.COUNTRY.NAME" | translate }}
            <span *ngIf="!isDisabled">*</span>
          </label>

          <select
            (change)="onChangeCountry($event.target.value)"
            [(ngModel)]="user.country"
            [attr.disabled]="isDisabled ? isDisabled : null"
            #country="ngModel"
            class="selectpicker is-profile border selectdropdown"
            data-live-search="true"
            id="country"
            name="country"
            placeholder="COUNTRY"
            required
          >
            <option
              [value]="single_country.name"
              *ngFor="let single_country of countries"
            >
              {{ single_country.name }}
            </option>
          </select>
          <div
            *ngIf="f.submitted && country.invalid && !isDisabled"
            class="error"
          >
            <div *ngIf="country.errors.required">
              {{ "PROFILE.BASIC_INFO.FORM.COUNTRY.ERROR" | translate }}
            </div>
          </div>
          <div *ngIf="!isDisabled && !country?.value" class="error">
            {{ "PROFILE.BASIC_INFO.FORM.PROFILE_COMPLETE" | translate }}
          </div>
        </div>
        <div class="BasicInfo-row-cell">
          <label class="BasicInfo-text global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.STATE.NAME" | translate }}
            <span *ngIf="!isDisabled">*</span>
          </label>

          <select
            class="selectpicker is-profile border selectdropdown"
            [(ngModel)]="user.state"
            [attr.disabled]="isDisabled ? isDisabled : null"
            #state="ngModel"
            data-live-search="true"
            id="state"
            name="state"
            placeholder="STATE"
            required
          >
            <option
              [value]="single_state.name"
              *ngFor="let single_state of states"
            >
              {{ single_state.name }}
            </option>
          </select>
          <div
            *ngIf="f.submitted && state.invalid && !isDisabled"
            class="error"
          >
            <div *ngIf="state.errors.required">
              {{ "PROFILE.BASIC_INFO.FORM.STATE.ERROR" | translate }}
            </div>
          </div>
          <div *ngIf="!isDisabled && !state?.value" class="error">
            {{ "PROFILE.BASIC_INFO.FORM.PROFILE_COMPLETE" | translate }}
          </div>
        </div>

        <div class="BasicInfo-row-cell">
          <label class="BasicInfo-text global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.POSTAL_CODE.NAME" | translate }}
            <span *ngIf="!isDisabled">*</span>
          </label>

          <input
            class="BasicInfo-box-input"
            [(ngModel)]="user.postalCode"
            [class.disabled]="isDisabled"
            #postalCode="ngModel"
            name="postalCode"
            OnlyNumber
            placeholder="412741"
            type="number"
            [ngClass]="{
              bordered: f.submitted && postalCode.invalid && !isDisabled
            }"
            required
          />
          <div
            *ngIf="f.submitted && postalCode.invalid && !isDisabled"
            class="error"
          >
            <div *ngIf="postalCode.errors.required">
              {{ "PROFILE.BASIC_INFO.FORM.POSTAL_CODE.ERROR" | translate }}
            </div>
          </div>
          <div *ngIf="!isDisabled && !postalCode?.value" class="error">
            {{ "PROFILE.BASIC_INFO.FORM.PROFILE_COMPLETE" | translate }}
          </div>
        </div>
      </div>

      <div class="short-bio row">
        <div class="">
          <div class="BasicInfo-text global-text-body">
            {{ "PROFILE.BASIC_INFO.FORM.SHORT_BIO.NAME" | translate }}
          </div>

          <textarea
            [class.disabled]="isDisabled"
            class="BasicInfo-textarea"
            rows="4"
            name="shortBio"
            #shortBio="ngModel"
            [(ngModel)]="user.shortBio"
          ></textarea>
          <div *ngIf="!isDisabled && !shortBio?.value" class="error">
            {{ "PROFILE.BASIC_INFO.FORM.PROFILE_COMPLETE" | translate }}
          </div>
          <span class="material-icons error-icon"></span>
        </div>
      </div>
      <div class="">
        <div class="form-group">
          <label class="game-account global-text-body mb-2" for="">
            {{ "PROFILE.BASIC_INFO.FORM.GAME.NAME" | translate }}
          </label>
          <div
            class="searchDropdown"
          >
            <div
              (click)="hideDropdown = !hideDropdown"
              *ngIf="!isDisabled"
              class="form-control text-left u-dfCenterBtw dropDownSize box"
            >
              <span class="global-text-body text-base2">{{
                "PROFILE.BASIC_INFO.FORM.SELECT_GAME.NAME" | translate
              }}</span>
              <span class="selectdropdown"></span>
            </div>
            <div
              *ngIf="hideDropdown"
              id="myDropdown"
              class="searchDropdown-wrapper"
            >
              <input
                type="text"
                class="searchDropdown-filter"
                placeholder="Search.."
                id="myInput"
                (keyup)="filterFunction()"
              />
              <ng-container *ngFor="let game of gameList; let i = index">
                <a class="searchDropdown-list" (click)="addGame(game, i)">{{
                  game.name
                }}</a>
              </ng-container>
            </div>

            <div
              *ngIf="selectedGame.length"
              class="searchDropdown-bunchWrapper mt-2 row"
            >
              <div
                class="col-sm-4"
                *ngFor="let g of selectedGame; let i = index"
              >
                <span class="global-text-body text-base2">{{ g.name }}</span>
                <div class="searchDropdown-group">
                  <span>
                    <input
                      class="form-control game-input BasicInfo-box-input"
                      [class.disabled]="isDisabled"
                      type="text"
                      [name]="g._id"
                      [(ngModel)]="user.preference.gameDetails[i].userGameId"
                      placeholder="Game Id"
                    />
                  </span>
                  <i (click)="removeGame(i, g)" *ngIf="!isDisabled">
                    <img
                      class="searchDropdown-group-close"
                      src="./assets/icons/close.svg"
                    />
                  </i>
                </div>
                <div
                  *ngIf="g.errorMsg && !isDisabled && f.submitted"
                  class="error"
                >
                  {{ g.errorMsg }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="BasicInfo-footer text-right">
        <button
          (click)="cancel()"
          *ngIf="!isDisabled"
          class="btn global-btn-black cancel"
        >
          {{ "BUTTON.CANCEL" | translate }}
        </button>
        <button type="submit" *ngIf="!isDisabled" class="btn global-btn-yellow">
          {{ "BUTTON.SAVE" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title ref-title global-H4" id="modal-basic-title">
      {{ "PROFILE.BASIC_INFO.REFERRAL_MESSAGE" | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" id="modal-basic-title">
    {{ "PROFILE.BASIC_INFO.REFERRAL_INSTRUCTION" | translate }}
  </div>

  <div class="modal-footer ref-footer">
    <div class="popupBody">
      <span class="popupBody-url">{{
        URL | limitString: 30:"...":innerWidth
      }}</span>
      <button
        id="myDIV"
        type="button"
        [disabled]="clicked"
        (click)="copyToClipboard($event); clicked = true"
        class="btn global-btn-black popupBody-popupButton"
      >
        <span
          class="material-icons copy"
          *ngIf="!clicked"
          ngbTooltip=" {{
            'PROFILE.BASIC_INFO.REFERRAL_CODE_MESSAGE' | translate
          }}"
        >
          content_copy
        </span>
        <span class="btn-copy" *ngIf="!clicked">{{
          "PROFILE.BASIC_INFO.REFERRAL_OK" | translate | uppercase
        }}</span>
        <span class="material-icons done" *ngIf="clicked"> done </span>
        <span class="btn-copy1" *ngIf="clicked">{{
          "PROFILE.BASIC_INFO.REFERRAL_COPIED" | translate | uppercase
        }}</span>
      </button>
    </div>
  </div>
</ng-template>
<app-loading *ngIf="!user"></app-loading>
