@import "shared";

:host {
  display: block;
}

.MatchCard {
  @extend %u-dfCenter;
  border-bottom: 1px solid var(--white-light);
  padding: 24px 0;

  @include xl {
    border-bottom-width: px2vw-xl(1px);
    padding: px2vw-xl(24px) 0;
  }

  @include lg {
    border-bottom-width: px2vw-lg(1px);
    padding: px2vw-lg(24px) 0;
  }

  @include md {
    border-bottom-width: px2vw-md(1px);
    padding: px2vw-md(24px) 0;
  }

  @include sm {
    border-bottom-width: px2vw-sm(1px);
    padding: px2vw-sm(24px) 0;
    flex-direction: column;
    align-items: baseline;
  }

  &-image {
    flex-shrink: 0;
    margin-right: 24px;
    height: 135px;
    width: 258px;
    background-size: contain;
    background-color: var(--black);
    background-repeat: no-repeat;
    background-position: center;

    @include xl {
      margin-right: px2vw-xl(24px);
      height: px2vw-xl(135px);
      width: px2vw-xl(258px);
    }

    @include lg {
      margin-right: px2vw-lg(24px);
      height: px2vw-lg(135px);
      width: px2vw-lg(258px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      height: px2vw-md(135px);
      width: px2vw-md(258px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      height: px2vw-sm(210px);
      width: 100%;
    }
  }

  &-content {
    flex-grow: 1;
  }

  &-header {
    @extend %u-dfCenter;
    margin-bottom: 8px;

    @include xl {
      margin-bottom: px2vw-xl(8px);
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-header-title {
    @extend %global-H7;
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 18px;

    @include xl {
      margin-right: px2vw-xl(15px);
    }

    @include lg {
      margin-right: px2vw-lg(15px);
    }

    @include md {
      margin-right: px2vw-md(15px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      width: px2vw-sm(365px);
      font-size: px2vw-sm(15px);
      margin-top: px2vw-sm(5px);
    }
  }

  &-header-control {
    @extend %u-dfCenter;
    margin-left: auto;
    flex-shrink: 0;
  }

  &-header-button {
    @extend %u-dfCenterCenter;
    margin-left: 16px;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    transition: $global-transition;

    @include xl {
      margin-left: px2vw-xl(16px);
      border-radius: px2vw-xl(2px);
      height: px2vw-xl(30px);
      width: px2vw-xl(30px);
    }

    @include lg {
      margin-left: px2vw-lg(16px);
      border-radius: px2vw-lg(2px);
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
    }

    @include md {
      margin-left: px2vw-md(16px);
      border-radius: px2vw-md(2px);
      height: px2vw-md(30px);
      width: px2vw-md(30px);
    }

    @include sm {
      margin-left: px2vw-sm(75px);
      border-radius: px2vw-sm(2px);
      height: px2vw-sm(30px);
      width: px2vw-sm(125px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-header-button-icon {
    height: auto;
    width: auto;
    font-size: 24px;
    color: var(--white);

    @include xl {
      font-size: px2vw-xl(24px);
    }

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  &-header-menu-link {
    &:hover .icon {
      color: var(--color-primary);
    }
  }

  &-header-menu-icon {
    color: var(--white-medium);
  }

  &-subtitle {
    @extend %body-1;
    margin-bottom: 12px;
    color: var(--white-medium);
    font-size: 16px;
    line-height: 24px;

    @include xl {
      margin-bottom: px2vw-xl(12px);
    }

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }

    &-div-details {
      display: grid;
      grid-template-columns: auto auto auto;

      &-items {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        padding-left: 2vw;
      }
      &-items,
      &-item {
        .title {
          font-family: Red Hat Text;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.6);
        }
        .detail {
          font-family: Red Hat Text;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.2px;
          &.scoring-status {
            font-size: 12px;
            line-height: 16px;
            border-radius: 2px;
            padding: 8px;
            width: fit-content;
            text-transform: uppercase;
            &[title="pending"] {
              color: rgba(255, 255, 255, 0.6);
              background: rgba(255, 255, 255, 0.2);
            }
            &[title="conflict"] {
              color: #fc483a;
              background: rgba(255, 255, 255, 0.2);
            }
            &[title="updated"] {
              color: #bbf55a;
              background: rgba(252, 72, 58, 0.2);
            }
          }
        }
      }
    }
  }

  &-items {
    @extend %u-dfCenter;
    margin-bottom: 0;
  }

  &-item {
    padding: 0 24px;

    @include xl {
      padding: 0 px2vw-xl(24px);
    }

    @include lg {
      padding: 0 px2vw-lg(24px);
    }

    @include md {
      padding: 0 px2vw-md(24px);
    }

    @include sm {
      padding: 0 px2vw-sm(24px);
    }

    &:first-child {
      border-right: 1px solid var(--white-smoke);
      padding-left: 0;

      @include xl {
        border-right-width: px2vw-xl(1px);
      }

      @include lg {
        border-right-width: px2vw-lg(1px);
      }

      @include md {
        border-right-width: px2vw-md(1px);
      }

      @include sm {
        border-right-width: px2vw-sm(1px);
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: 4px;
    color: var(--white-medium);

    @include xl {
      margin-bottom: px2vw-xl(4px);
    }

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-date {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white);
  }
}

::ng-deep {
  .global-MatMenu .link .text {
    color: var(--white-medium) !important;
  }
}
