<esports-loading *ngIf="isLoading"></esports-loading>

<div *ngIf="showGameTable" class="GameConfigurations-main">
  <div class="GameConfigurations-boxB">
    <div class="GameConfigurations-footer-btns">
      <button (click)="toggleGamePanel()" class="global-EditBtn is-sm">
        <span class="material-icons">add</span>
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_GAME" | translate }}
      </button>
    </div>

    <div class="GameConfigurations-searchBox">
      <div class="GameConfigurations-search Admin-search">
        <mat-icon>search</mat-icon>
        <input
          (keyup)="searchByValueFilter($event)"
          type="search"
          placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
        />
      </div>
    </div>

    <div class="global-scrollbar">
      <div *ngIf="showGameTable">
        <ngx-datatable
          #table
          class="global-DataTable"
          [columnMode]="'flex'"
          [columns]="columnsFirstTab"
          [footerHeight]="'auto'"
          [headerHeight]="'auto'"
          [limit]="50"
          [rowHeight]="'auto'"
          [rows]="rowsFirstTab"
        >
          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.NAME' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.name }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [flexGrow]="3"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.BRACKET_TYPES' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <ng-container
                *ngFor="
                  let item of row['bracketTypes'] | keyvalue;
                  let isFirst = first;
                  let isLast = last
                "
              >
                <span *ngIf="item.value">
                  {{ item.key | bracket | translate }}
                  {{ !isFirst && isLast ? "" : "," }}
                </span>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.PLATFORMS' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngFor="let item of row['platform']; let isLast = last">
                {{ item.name }}{{ isLast ? "" : ", " }}
              </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ORDER' | translate
            }}"
          >
            <ng-template
              let-rowIndex="rowIndex"
              let-row="row"
              ngx-datatable-cell-template
            >
              <input
                class="GameConfigurations-boxB-item-input-order"
                (focusout)="updateGameOrder($event?.target?.value, row)"
                [disabled]="!row?.isEdit"
                [value]="row.order ? row.order : ''"
                id="orderInput"
                type="number"
              />
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [flexGrow]="2" name="">
            <ng-template
              let-row="row"
              let-rowIndex="rowIndex"
              ngx-datatable-cell-template
            >
              <button
                class="Admin-tableBtn"
                [matMenuTriggerFor]="menu"
                mat-icon-button
                color="primary"
              >
                <mat-icon>more_horiz</mat-icon>
              </button>
              <mat-menu #menu="matMenu" yPosition="above">
                <button
                  class="GameConfigurations-tableBtn w-100"
                  mat-icon-button
                  ngbTooltip="{{ 'ADMIN_TOOLTIP.MANAGE' | translate }}"
                  color="primary"
                  (click)="toggleGamePanel(row)"
                >
                  <mat-icon class="GameConfigurations-tableBtn"
                    >settings</mat-icon
                  >
                </button>
                <button
                  class="GameConfigurations-tableBtn w-100"
                  mat-icon-button
                  ngbTooltip="{{ 'ADMIN_TOOLTIP.EDIT' | translate }}"
                  color="primary"
                  (click)="row.isEdit = !row.isEdit"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-menu>
              <!-- <button
                class="GameConfigurations-tableBtn"
                (click)="onRemoveGame(row['_id'])"
                mat-icon-button
                color="primary"
              >
                <mat-icon>remove_circle</mat-icon>
              </button> -->
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<upsert-game
  *ngIf="!showGameTable"
  [platformList]="platformList"
  [gameDetails]="editableGame"
  (valueEmit)="getChildResponse($event)"
>
</upsert-game>