@import "shared";
hr {
  border: 1px solid var(--color-black-medium);
}

.AccountItem {
  &-field {
    ::ng-deep {
      .mat-button-wrapper .mat-icon {
        color: var(--main-color);
      }
    }
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(8px);
    border-radius: px2vw-xl(4px);
    height: px2vw-xl(58px);
    width: px2vw-xl(58px);
    background: var(--midnight-express-color);

    @include xl {
      height: px2vw-xl(78px);
      width: px2vw-xl(78px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      height: px2vw-lg(64px);
      width: px2vw-lg(64px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      height: px2vw-md(72px);
      width: px2vw-md(72px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      height: px2vw-sm(82px);
      width: px2vw-sm(82px);
    }
  }

  &-content {
    ::ng-deep .mat-form-field-wrapper {
      padding: 0;
    }
  }
}

@include sm {
  .Passwords-manage-button {
    width: 100%;
  }
}

.CreateTeam {
  max-width: 648px;
  margin: 0 auto;
  padding: 0px 15px;
  padding-top: 144px;
  padding-bottom: 122px;
  @include sm {
    padding: 0px 24px;
    padding-top: 130px;
  }
  &--title {
    padding-top: 16px;
    padding-bottom: 32px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
    @include sm {
      font-size: 24px;
      line-height: 32px;
    }
    &--section {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      margin: 0px;
      padding: 16px 0px;
      @include sm {
        font-size: 20px;
        line-height: 28px;
      }
      &.about {
        padding-top: 25px;
      }
      &.social-media {
        padding-top: 26px;
      }
    }
  }
  button {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    min-height: 48px;
  }
  .field--title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white-medium);
  }
  .field--required {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--tertiary-color);
  }
  &--field__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  .input-file-recommend {
    display: block;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--tolopea-medium-color);
  }
  &--divide {
    height: 1px;
    width: 100%;
    background-color: var(--color-black-medium);
  }
  &--field {
    margin-bottom: 28px;
    .field-team-description {
      margin-bottom: 16px;
    }
    .field-team-name {
      margin-bottom: 25px;
    }
    &__input {
      &.input-file {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &--action {
        width: 119px;
        position: relative;
        @include sm {
          width: 100%;
          margin-top: 16px;
          margin-bottom: 4px;
        }
        input {
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .btn_upload {
          padding: 14px;
          width: 100%;
        }
        .btn-add-platform {
          padding: 14px;
          width: 100%;
          text-transform: capitalize;
        }
      }
      &--file {
        width: calc(100% - 127px);
        @include sm {
          width: 100%;
        }
        &__label {
          display: flex;
          position: relative;
          align-items: center;
          padding-left: 16px;
          width: 100%;
          border: 2px solid var(--tolopea-color);
          box-sizing: border-box;
          border-radius: 4px;
          height: 48px;
          input {
            position: absolute;
            width: 100%;
            // opacity: 0;
          }
          .input-file-placeholder {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: var(--tolopea-color);
            padding-left: 16px;

            @include sm {
              padding-left: 0;
            }
          }
        }
      }
      input {
        background-color: transparent;
        width: 100%;
        border: 2px solid #767676;
        box-sizing: border-box;
        border-radius: 4px;
        height: 48px;
        padding-left: 16px;
        color: var(--white);
        &::placeholder {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--tertiary-color);
        }
      }
      textarea {
        background-color: transparent;
        width: 100%;
        border: 2px solid #767676;
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 16px;
        padding-top: 16px;
        height: 96px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        &::placeholder {
          color: var(--tertiary-color);
        }
      }
      select {
        background-color: transparent;
        width: 100%;
        border: 2px solid #767676;
        box-sizing: border-box;
        border-radius: 4px;
        height: 48px;
        padding-left: 16px;
        color: var(--tolopea-color);
      }
      &.field-selelect-media {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .CreateTeam--field__input--action {
          width: 164px;
          @include sm {
            width: 100%;
            margin-top: 16px;
          }
        }
        .CreateTeam--field__input--select {
          width: calc(100% - 172px);
          @include sm {
            width: 100%;
          }
        }
      }
    }
  }
  .media-lists {
    margin-top: -7px;

    @include sm {
      padding-bottom: 170px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
      &--icon {
        width: 72px;
        height: 72px;
        background-color: var(--midnight-express-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        &.facebook ::ng-deep svg {
          width: 13px;
          height: 26px;
        }
        &.twitter ::ng-deep svg {
          width: 32px;
          height: 32px;
        }
      }
      &--field {
        width: calc(100% - 91px);
        @include sm {
          width: 100%;
        }
        .CreateTeam--field__input {
          margin-bottom: 0px;
          position: relative;
          .mat-button-base {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: none;
            .mat-icon {
              color: var(--secondary-color);
            }
          }
          &.active .mat-button-base {
            display: block;
          }
        }
      }
    }
  }
  &--action {
    margin-top: 40px;
    @include sm {
      display: flex;
      flex-wrap: wrap;
      position: fixed;
      bottom: 0;
      left: 0;
      background: #1d1d1d;
      box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%), 0px -12px 10px rgb(0 0 0 / 2%),
        0px -4px 4px rgb(0 0 0 / 2%);
      width: 100%;
      box-sizing: border-box;
      padding: 16px 24px;

      .btn-cancel {
        order: 2;
        margin-bottom: 0;
      }
    }
    button {
      margin-right: 19px;
      @include sm {
        margin-bottom: 16px;
        width: 100%;
        margin-right: 0px;
      }
    }
  }
}
.visibility {
  visibility: hidden;
}

button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
