<h2 class="Home-sectionD-title global-Title2">
    {{ "HOME.SECTIONC.TITLE" | translate }}
  </h2>

  <div class="Home-sectionD-video">
    <ng-container *ngIf="activeVideo?.youtubeUrl; else noVideoAvailable">
      <iframe
        class="Home-sectionD-video-right"
        [src]="activeVideo?.youtubeUrl | safe: 'url'"
        allowfullscreen="true"
        webkitallowfullscreen="true"
        mozallowfullscreen="true"
        appIframeTracker (iframeClick)="onIframeClick()"
      ></iframe>
    </ng-container>
    <ng-template #noVideoAvailable>
      <div class="Home-sectionD-video-right">
        <button class="global-VideoBtn is-sm"></button>
        <h3>{{ "HOME.SECTIONE.VIDEO_ADMIN_TEXT" | translate }}</h3>
      </div>
    </ng-template>
    <div class="Home-sectionD-video-container">
      <div class="Home-sectionD-video-scroll">
        <button
          class="Home-sectionD-video-item"
          *ngFor="let video of videoLibrary; let i = index"
          [class.is-active]="video._id == activeVideo?._id"
          (click)="gmtEvntLogVideo(i, video)"
        >
          <div
            class="Home-sectionD-video-item-img-block"
            [style.backgroundImage]="
              'url(' +
              (video?.thumbnailUrl || 'assets/images/AboutUs/company.png') +
              ')'
            "
          >
            <span
              class="Home-sectionD-video-item-play global-VideoBtn is-sm"
            ></span>
          </div>
          <div class="Home-sectionD-video-item-info">
            <span
              class="Home-sectionD-video-item-title global-Text global-Elipses2"
            >
              {{
                video?.title
                  | customTranslate: (languageService?.language | async)
                  | capitalizeFirst
              }}
            </span>
            <span class="Home-sectionD-video-item-author global-Elipses">
              {{ "HOME.SECTIONB.BY" | translate }}
              {{ video?.createdBy?.fullName }}
            </span>
          </div>
        </button>
      </div>
      <button class="Home-sectionD-video-button" [routerLink]="['../videos']">
        {{ "HOME.SECTIONE.VIEW_ALL_VIDEOS" | translate }}
      </button>
    </div>
  </div>