@import "shared";

.payment {
  margin-top: px2vw-xl(50px);

  @include lg {
    margin-top: px2vw-lg(30px);
  }

  @include md {
    margin-top: px2vw-md(30px);
  }

  @include sm {
    margin-top: px2vw-sm(30px);
  }

  &-methods {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;
    border-bottom: 1px solid var(--ui-light-grey);
    padding: px2vw-xl(20px) 0;

    & img {
      padding-right: px2vw-xl(50px);
      height: px2vw-xl(30px);

      @include lg {
        height: px2vw-lg(30px);
      }

      @include md {
        height: px2vw-md(30px);
      }

      @include sm {
        height: px2vw-sm(30px);
      }
    }

    button {
      @include md {
        font-size: 12px;
      }

      @include sm {
        font-size: 12px;
      }
    }
  }

  &-type {
    margin-top: px2vw-xl(30px);

    @include lg {
      margin-top: px2vw-lg(30px);
    }

    @include md {
      margin-top: px2vw-md(30px);
    }

    @include sm {
      margin-top: px2vw-sm(30px);
    }
  }

  &-pool {
    border-bottom: 1px solid var(--ui-light-grey);
    padding: px2vw-xl(10px) 0;

    & img {
      margin-right: px2vw-xl(30px);
      width: px2vw-xl(25px);
      height: px2vw-xl(25px);

      @include lg {
        width: px2vw-lg(25px);
        height: px2vw-lg(25px);
      }

      @include md {
        width: px2vw-md(25px);
        height: px2vw-md(25px);
      }

      @include sm {
        width: px2vw-sm(25px);
        height: px2vw-sm(25px);
      }
    }
  }

  &-prize-pool {
    & h2 {
      margin-bottom: px2vw-xl(31px);
    }

    & p {
      color: var(--base-01);
    }

    &-totalAmount {
      & .totalCalc {
        &:last-child {
          background-color: var(--base-01);
          color: var(--base-05);
          padding: px2vw-xl(10px) px2vw-xl(5px);
        }
      }
    }
  }
}

.country {
  margin-top: px2vw-xl(50px);
  text-align: center;

  @include lg {
    margin-top: px2vw-lg(30px);
  }

  @include md {
    margin-top: px2vw-md(30px);
  }

  @include sm {
    margin-top: px2vw-sm(30px);
  }
}
