.container-fluid {
  position: relative;
  top: 150px;
}
.title {
  text-align: center;
  position: relative;
  // padding-left: 500px;
  font-size: 50px;
  font-family: "archivo-bold";
}
.subtitle {
  position: relative;
  // padding-left: 500px;
  text-align: center;
}
.InputSearch {
  padding: 0.625vw 0.8333333333vw;
  padding-bottom: 0.625vw;
  padding-left: 0.833333vw;

  padding-bottom: 0.8333333333vw;
  width: 590px;
  position: relative;
  padding-left: 555px;
  left: 50px;
}
.h-card {
  border: 1px solid var(--white-light);
  background: var(--black-dark1);
  padding: 10px 12px 10px 12px;
  margin-left: 0.5rem;
}
.ph-card {
  font-size: 18px;
  font-weight: 900;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
.display-align {
  display: inline-block;
  vertical-align: middle;
}
.page-not {
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 700px;
  background-position: center;
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  margin-top: 6rem;
}
.page-under {
  font-size: 40px;
  text-align: center;
  width: 100%;
  display: block;
  color: var(--white);
  position: absolute;
  top: 10%;
}
.sorry {
  font-size: 18px;
  text-align: center;
  width: 100%;
  display: block;
  color: var(--white);
  position: absolute;
  top: 20%;
}
.vertical-menu {
  text-align: center;
  position: relative;
  top: 47%;
  left: 0;
}
.vertical-menu a {
  color: var(--white);
  display: block;
  padding: 12px;
  text-decoration: none;
}
.vertical-menu a:hover {
  background-color: transparent;
}
.vertical-menu a.active {
  background-color: var(--color-lgt-green1);
  color: var(--white);
}
.input-sarch {
  position: absolute;
  top: 35%;
  width: 90%;
  left: 5%;
}
.input-sarch input {
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-size: 14px;
  letter-spacing: 0.2rem;
  position: relative;
}

.icon-search {
  position: absolute;
  right: 0;
  margin-right: 0 !important;
}
.page-not-logo img {
  height: 3vw;

  width: 3vw;
}
@import "shared";

:host {
  display: block;
}

.InputSearch {
  @extend %u-dfCenter;

  padding: 0.625vw 0.8333333333vw;
  background: var(--gradient-bg);
  padding-bottom: px2vw-xl(12px);
  width: 590px;
  position: relative;
  /* text-align: center; */
  padding-left: 555px;
  left: 350px;

  @include lg {
    padding-bottom: px2vw-lg(12px);
  }

  @include md {
    padding-bottom: px2vw-md(12px);
  }

  @include sm {
    padding-bottom: px2vw-sm(12px);
  }

  &-icon {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(20px);
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);
    font-size: px2vw-xl(24px);
    color: var(--white);
    cursor: pointer;
    transition: $global-transition;

    @include lg {
      margin-right: px2vw-lg(20px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(20px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(20px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
      font-size: px2vw-sm(24px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-field {
    width: 100%;
    background-color: transparent;
    transition: $global-transition;
    cursor: pointer;

    &,
    &::placeholder {
      @extend %subtitle-1;
    }

    &::placeholder {
      color: var(--white-disabled);
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }
}
