@import "shared";

.App {
  display: block;
  height: max-content;

  &-main {
    padding-top: 64px;
    min-height: 100%;

    @include lg {
      padding-top: 64px;
    }

    @include sm {
      padding-top: 54px;
    }
  }
}

@keyframes wave {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 30px;
    opacity: 0.2;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.cookie-policy {
  width: 700px;
  position: fixed;
  background-color: var(--color-primary);
  bottom: 0;
  right: 0;
  z-index: 99;

  @include lg {
    width: auto;
  }

  &-wrapper {
    padding: 38px;
    position: relative;

    @include sm {
      padding: 33px;
    }

    & .close {
      position: absolute;
      top: 30px;
      right: 15px;
      height: auto;

      @include md {
        top: 5px;
        right: 0;
      }

      & .close-icon {
        width: 45px;
      }
    }
  }
}
lib-esportschatsidebar {
  width: 100%;
  position: sticky;
  max-width: 1308px;
  padding: 0 24px;
  margin: 0 auto;
  display: block;
  z-index: 9999;
  top: 0;
  right: 0;
}
