<ng-container *ngIf="
    isRootPage || (isAdminPage && router.url.startsWith('/admin'));
    else isPageWithHeaderFooter
  ">
  <app-toasts></app-toasts>
  <router-outlet (activate)="onActivate()"></router-outlet>
</ng-container>

<ng-template #isPageWithHeaderFooter>
  <div class="App">
    <lib-esportschatsidebar isShowBlockUser="true" *ngIf="isBrowser" ></lib-esportschatsidebar >
    <app-header *ngIf="
        !router.url.match(
          'register|login|register-email|/admin/|login-email|web-view|landing-page|/platforms|/platforms-single|/team-game|/game-loading|/casual-matchmaking|/game-lobby|/match-lobby-api|/match-lobby-non-api|/match-detail|/match-completed|/tournament-scoring|/update-score|/scoring-success|/season/select-team|/join|/matchmaking/|get-match/team-registration/|/profile/edit-video|/profile/add-video|/content/create|/content/edit/|ladder-card'
        )
      " ></app-header>

    <app-toasts *ngIf="isBrowser"></app-toasts>

    <div [ngClass]="{ 'App-main': !router.url.match('web-view') }" (click)="onChatSidenavToggle()">
      <router-outlet (activate)="onActivate()"></router-outlet>
    </div>

    <app-footer *ngIf="
        isBrowser &&
        !router.url.match(
          'register|login|web-view|landing-page|get-match|season|view-team'
        ) &&
        checkSmTeamView()
      "></app-footer>
  </div>
</ng-template>

<!-- <app-scroll-top></app-scroll-top> -->
