@import "shared";

// $Width: 263px;

.View-Team {
  display: grid;
  grid-row: auto;

  div {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 100;
    line-height: 26px;
    color: var(--base-black-pearl);
    background-color: var(--base-white-smoke);
    border: 1px solid var(--base-gainsboro);
    height: 60px;
    img[class$="Img"] {
      width: 35px;
      height: 35px;
    }
    div[class$="Details"] {
      display: grid;
      grid-template-rows: auto auto;
      span[class$="Name"] {
        // padding: 0 0.5rem;
      }
      span[class$="GamerId"] {
        font-size: 10px;
      }
    }
  }

  &-Result {
    // @extend .View-Team-A;
    height: 100px;
  }

  &-Result-Icon {
    width: 35px;
    color: var(--primary-sunset-light);
    text-align: center;
  }

  &-Result-Text {
    // @extend .global-Text;
    padding: 0 0.5rem;
  }

  &-Title {
    // @extend .global-Title4;
    background-color: var(--base-white);
    color: var(--base-black-pearl);
    font-weight: 700;
    width: 100%;
  }
}
