<div class="ct-HeaderTop">
  <div class="SelectDate">
    <div class="SelectDate-container">
      <h1 class="SelectDate-title">
        {{ "CREATE_TOURNAMENT.SELECT_DATE.TITLE" | translate }}
      </h1>
      <!-- <app-input-date
        [title]="'Now tell us what’s the date and time for your tournament'"
        [placeholder]="'Select date and time'"
        [customFormControlName]="'startDate'"
        [customFormGroup]="Step5" 
        [minDate]="minDate"
        (submit)="onEnter($event)"
      ></app-input-date> -->
      <div class="SelectDate-form">
        <form class="SelectDate-fields">
          <div class="SelectDate-DateTime">
            <div class="box-item box-date">
              <app-tournament-date
                [title]="
                  'Tournament start date'
                "
                [types]="3"
                [placeholder]="'Select date and time'"
                [customFormControlName]="'startDate'"
                [customFormGroup]="Step5"
                [minDate]="minDate"
              ></app-tournament-date>
            </div>
            <div class="box-item box-time">
              <app-tournament-time
                [time]="time"
                [types]="2"
                [customFormControlName]="'startTime'"
                (timeChange)="onTimeChange($event)"
                [customFormGroup]="Step5"
              ></app-tournament-time>
            </div>
          </div>

          <div class="SelectDate-NumberPlayer">
            <app-tournament-numberplayer [customFormGroup]="Step5"></app-tournament-numberplayer>
          </div>
        </form>
      </div>
      <!-- <app-input-tooltip (onEnter)="onEnter($event)"></app-input-tooltip> -->
    </div>
    <div class="SelectDate-switcher-container">
      <app-page-switcher
        [step]="Step5?.value?.step"
        (onStepChange)="onStepChange($event)"
        [noOfParticipants] = "Step5?.value?.noOfParticipants"
        [startDate] = "Step5?.value?.startDate"
        [startTime] = "Step5?.value?.startTime"
      ></app-page-switcher>
    </div>
  </div>
</div>
