@import "shared";
// .pr_40 {
//   padding-right: px2vw-xl(40px);
//   @include xxl {
//     padding-right: px2vw-xxl(40px);
//   }
//   @include lg {
//     padding-right: px2vw-lg(40px);
//   }
//   @include md {
//     padding-right: px2vw-md(40px);
//   }
//   @include sm {
//     padding-right: px2vw-sm(15px);
//   }
// }
::ng-deep .terms_conditions {
  @include sm {
    max-width: 100% !important;
    overflow: hidden;
    height: 100vh;
  }
}
.terms_condition {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #171a17;
  max-width: px2vw-xl(525px);
  width: 100%;
  height: 85vh;
  padding: px2vw-xl(12px) 0;
  @include xxl {
    max-width: px2vw-xxl(525px);
    padding: px2vw-xxl(12px) 0;
  }
  @include lg {
    max-width: px2vw-lg(525px);
    padding: px2vw-lg(12px) 0;
  }
  @include md {
    max-width: px2vw-md(525px);
    padding: px2vw-md(12px) 0;
  }
  @include sm {
    max-width: 100%;
    padding: px2vw-sm(15px) 0;
    height: calc(100vh - 38px);
    overflow-y: auto;
  }
}
.btn_back {
  padding: 0 px2vw-xl(24px);
  @include xxl {
    padding: 0 px2vw-xxl(24px);
  }
  @include lg {
    padding: 0 px2vw-lg(24px);
  }
  @include md {
    padding: 0 px2vw-md(24px);
  }
  @include sm {
    padding: 0 px2vw-sm(9px);
  }
  .arrow {
    color: #ff5799;
    font-size: px2vw-xl(18px);
    @include xxl {
      font-size: px2vw-xxl(18px);
    }
    @include lg {
      font-size: px2vw-lg(18px);
    }
    @include md {
      font-size: px2vw-md(18px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
    }
  }
  img {
    height: px2vw-xl(16px);
    width: px2vw-xl(16px);
    @include xxl {
      height: px2vw-xxl(16px);
      width: px2vw-xxl(16px);
    }
    @include lg {
      height: px2vw-lg(16px);
      width: px2vw-lg(16px);
    }
    @include md {
      height: px2vw-md(16px);
      width: px2vw-md(16px);
    }
    @include sm {
      height: px2vw-sm(16px);
      width: px2vw-sm(16px);
    }
  }
  a {
    display: flex;
    .back-button {
      margin-left: px2vw-xl(6px);
      color: #ff5799;
      font-family: "maxis-bold";
      font-size: px2vw-xl(14px);
      letter-spacing: px2vw-xl(0.5px);
      text-transform: uppercase;
      line-height: px2vw-xl(16px);
      @include xxl {
        margin-left: px2vw-xxl(6px);
        line-height: px2vw-xxl(16px);
        letter-spacing: px2vw-xxl(0.5px);
        font-size: px2vw-xxl(14px);
      }
      @include lg {
        margin-left: px2vw-lg(6px);
        line-height: px2vw-lg(16px);
        letter-spacing: px2vw-lg(0.5px);
        font-size: px2vw-lg(14px);
      }
      @include md {
        margin-left: px2vw-md(6px);
        line-height: px2vw-md(16px);
        letter-spacing: px2vw-md(0.5px);
        font-size: px2vw-md(14px);
      }
      @include sm {
        margin-left: px2vw-sm(6px);
        line-height: px2vw-sm(16px);
        letter-spacing: px2vw-sm(0.5px);
        font-size: px2vw-sm(14px);
      }
    }
  }
}
.terms_heading {
  margin-top: px2vw-xl(24px);
  padding: 0 px2vw-xl(24px);
  @include xxl {
    margin-top: px2vw-xxl(24px);
    padding: 0 px2vw-xxl(24px);
  }
  @include lg {
    margin-top: px2vw-lg(24px);
    padding: 0 px2vw-lg(24px);
  }
  @include md {
    margin-top: px2vw-md(24px);
    padding: 0 px2vw-md(24px);
  }
  @include sm {
    margin-top: px2vw-sm(24px);
    padding: 0 px2vw-sm(9px);
    margin-bottom: px2vw-sm(15px);
  }
  h3 {
    font-family: "maxis-black";
    font-size: px2vw-xl(20px);
    letter-spacing: px2vw-xl(0.15px);
    color: #ffffff;
    line-height: px2vw-xl(24px);
    margin-bottom: 0;
    @include xxl {
      font-size: px2vw-xxl(20px);
      letter-spacing: px2vw-xxl(0.15px);
      line-height: px2vw-xxl(24px);
    }
    @include lg {
      font-size: px2vw-lg(20px);
      letter-spacing: px2vw-lg(0.15px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(20px);
      letter-spacing: px2vw-md(0.15px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
      letter-spacing: px2vw-sm(0.15px);
      line-height: px2vw-sm(24px);
    }
  }
}
.description_txt {
  @include sm {
    height: calc(100vh - 208px);
    overflow-y: auto;
    padding-bottom: px2vw-sm(25px);
  }
}
.terms_description {
  margin-top: px2vw-xl(26px);
  padding: 0 px2vw-xl(24px);
  max-height: 85vh - px2vh-xl(325px);
  overflow-y: auto;
  @include xxl {
    margin-top: px2vw-xxl(26px);
    padding: 0 px2vw-xxl(24px);
    max-height: 75vh - px2vh-xxl(250px);
  }
  @include lg {
    margin-top: px2vw-lg(26px);
    padding: 0 px2vw-lg(24px);
    max-height: 75vh - px2vh-lg(250px);
  }
  @include md {
    margin-top: px2vw-md(26px);
    padding: 0 px2vw-md(24px);
    max-height: 75vh - px2vh-md(250px);
  }
  @include sm {
    margin-top: px2vw-sm(0);
    padding: 0 px2vw-sm(9px);
    max-height: 100%;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8de4ff !important;
  }
  p {
    font-family: "maxis-semibold";
    font-size: px2vw-xl(14px);
    letter-spacing: px2vw-xl(0.25px);
    color: rgba(255, 255, 255, 0.87);
    line-height: px2vw-xl(20px);
    margin-bottom: 0;
    @include xxl {
      font-size: px2vw-xxl(14px);
      letter-spacing: px2vw-xxl(0.25px);
      line-height: px2vw-xxl(20px);
    }
    @include lg {
      font-size: px2vw-lg(14px);
      letter-spacing: px2vw-lg(0.25px);
      line-height: px2vw-lg(20px);
    }
    @include md {
      font-size: px2vw-md(14px);
      letter-spacing: px2vw-md(0.25px);
      line-height: px2vw-md(20px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      letter-spacing: px2vw-sm(0.25px);
      line-height: px2vw-sm(20px);
    }
  }
}

// .container-fluid {
//   max-width: px2vw-xl(525px);
//   width: px2vw-xl(525px);
//   height: 85vh;
//   padding: px2vw-xl(12px) 0;
//   @include xxl {
//     max-width: px2vw-xxl(525px);
//     padding: px2vw-xxl(12px) 0;
//   }
//   @include lg {
//     max-width: px2vw-lg(525px);
//     padding: px2vw-lg(12px) 0;
//   }
//   @include md {
//     max-width: px2vw-md(525px);
//     padding: px2vw-md(12px) 0;
//   }
//   @include sm {
//     max-width: 100%;
//     width: 100%;
//     padding: px2vw-sm(15px) 0;
//     height: calc(100vh - 42px);
//     overflow-y: auto;
//   }
// }

.popup_heading_mob {
  display: none;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #171a17;
  height: px2vw-sm(65px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  @include sm {
    display: block;
  }
  .header {
    display: flex;
    align-items: center;
    height: px2vw-sm(65px);
    img {
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
      margin: 0 px2vw-sm(24px);
    }
    h5 {
      font-family: "maxis-bold";
      font-size: px2vw-sm(16px);
      letter-spacing: px2vw-sm(0.15px);
      margin-left: px2vw-sm(24px);
      color: rgba(255, 255, 255, 0.87);
      margin-bottom: 0;
    }
    .line {
      height: 100%;
      border-left: 1px solid rgba(255, 255, 255, 0.12);
    }
  }
}
