<div class="popup_heading_mob">
    <div class="header">
        <img src="assets/images/GGicon-green.png" class="img-fluid" />
        <div class="line"></div>
        <h5>{{ "USER.PROFILE_SETUP" | translate }}</h5>
    </div>
</div>
<div class="terms_condition">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-12">
                <div class="btn_back">
                    <a (click)="onClose()">
                        <img src="assets/icons/home/term_of_use_arrowicon.svg" class="img-fluid" />
                        <span class="back-button">{{ "BUTTON.BACK" | translate }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="terms_heading">
                    <h3 class="service"> {{ "USER.TERMS" | translate }}</h3>

                </div>
            </div>
        </div>
        <div class="row description_txt">
            <div class="col-12 pr_40">
                <div class="terms_description">
                    <p> {{ "USER.CONTENT" | translate }}  </p>
                </div>
            </div>
        </div>
    </div>
</div>
