@import "shared";

:host {
  display: block;
}

.MyTeamsView {
  &-header {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-header-title {
    margin-right: px2vw-xl(20px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(20px);
    }
  }

  &-header-button {
    flex-shrink: 0;
  }

  &-card,
  &-table {
    margin-bottom: px2vw-xl(72px);

    @include lg {
      margin-bottom: px2vw-lg(72px);
    }

    @include md {
      margin-bottom: px2vw-md(72px);
    }

    @include sm {
      margin-bottom: px2vw-sm(72px);
    }
  }
}
