<div>
  <form
    [formGroup]="pushNotificationForm"
    #form="ngForm"
    novalidate
    (ngSubmit)="updatePush(pushNotificationForm)"
  >
    <div class="form-group">
      <div ngbDropdown class="form-select">
        <button type="button" class="form-control" id="drop_down" ngbDropdownToggle>
          {{ selectedParticipantType?.text || "Participant Type" }}
        </button>
        <div ngbDropdownMenu aria-labelledby="drop_down">
          <button type="button"
            (click)="selectParticipantType(item)"
            ngbDropdownItem
            *ngFor="let item of participantTypeArray"
          >
            {{ item.text }}
          </button>
        </div>
      </div>
      <mat-error *ngIf="pushNotificationForm.get('type').invalid && form.submitted">
        {{
          "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.PARTICIPANT_TYPE" | translate
        }}
        *
      </mat-error>
    </div>
    <mat-form-field
      class="global-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>
        {{ "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE" | translate }}
      </mat-label>

      <textarea
        matInput
        id="title"
        type="text"
        formControlName="title"
      ></textarea>
      <mat-error *ngIf="pushNotificationForm.get('title').invalid && form.submitted">
        {{ "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE" | translate }}
        *
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="global-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>
        {{ "ADMIN.USER_NOTIFICATION.LABEL.TYPE_MESSAGE" | translate }}
      </mat-label>
      <textarea
        matInput
        id="message"
        type="text"
        formControlName="message"
      ></textarea>
      <mat-error *ngIf="pushNotificationForm.get('message').invalid && form.submitted">
        {{
          "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.TYPE_MESSAGE" | translate
        }}
        *
      </mat-error>
    </mat-form-field>
    <div>
      <button class="global-EditBtn is-sm" type="submit">
        {{ "ADMIN.USER_NOTIFICATION.BUTTON.SEND" | translate }}
      </button>
    </div>
  </form>
</div>
<esports-loading *ngIf="isLoading"></esports-loading>
