// Archivo
@font-face {
  font-family: "archivo";
  src: url(../../assets/fonts/Archivo/Archivo-Bold.woff) format("woff2"),
    url(../../assets/fonts/Archivo/Archivo-Bold.woff2) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "archivo-black";
  src: url(../../assets/fonts/Archivo/Archivo-Black.woff2) format("woff2"),
    url(../../assets/fonts/Archivo/Archivo-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// RedHatText
@font-face {
  font-family: "redhat-bold";
  src: url(../../assets/fonts/RedHatText/RedHatText-Bold.woff2) format("woff2"),
    url(../../assets/fonts/RedHatText/RedHatText-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "redhat-medium";
  src: url(../../assets/fonts/RedHatText/RedHatText-Medium.woff2) format("woff2"),
    url(../../assets/fonts/RedHatText/RedHatText-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "redhat-regular";
  src: url(../../assets/fonts/RedHatText/RedHatText-Regular.woff2) format("woff2"),
    url(../../assets/fonts/RedHatText/RedHatText-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Roboto
@font-face {
  font-family: "archivo";
  src: url(../../assets/fonts/Roboto/Roboto-Bold.woff2) format("woff2"),
    url(../../assets/fonts/Roboto/Roboto-Bold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rock-salt-regular";
  src: url(../../assets/fonts/RockSalt/RockSalt-Regular.woff2) format("woff2"),
    url(../../assets//fonts/RockSalt/RockSalt-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




