@function px2vw-xl($target) {
  $vw-context: ($screen-xl * 0.01) * 1px;

  @return ($target/$vw-context) * 1vw;
}

@function px2vw-lg($target) {
  $vw-context: ($screen-lg * 0.01) * 1px;

  @return ($target/$vw-context) * 1vw;
}

@function px2vw-md($target) {
  $vw-context: ($screen-md * 0.01) * 1px;

  @return ($target/$vw-context) * 1vw;
}

@function px2vw-sm($target) {
  $vw-context: ($screen-sm * 0.01) * 1px;

  @return ($target/$vw-context) * 1vw;
}
