@mixin xl {
  @media (max-width: #{$screen-xl}px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg}px) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md}px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm}px) {
    @content;
  }
}

// Button events
@mixin btnEvents() {
  user-select: none;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
    box-shadow: none;
  }
}

@mixin textClamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

// border radius
@mixin border-radius($r) {
  border-radius: $r;
}

// shadow
@mixin shadow() {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    background: linear-gradient(
      180deg,
      rgba(11, 8, 36, 0) 0%,
      rgba(11, 8, 36, 0.75) 53.12%,
      #0b0824 100%
    );
  }
}
