<div class="Order-thanks">
  <div class="u-wp">
    <div class="Order-thanks-content">
      <img
        class="Order-thanks-icon"
        src="assets/images/Shop/check-circle.svg"
        alt="image"
      />
      <h2 class="Order-thanks-title mesf-Title">
        {{ "SHOP.THANKS" | translate }}
      </h2>
      <p class="Order-thanks-text">
        {{ "SHOP.HERE_THE" | translate }}
      </p>
    </div>
  </div>
</div>
