<div class="carousel-row" *ngIf="!loading">
  <carousel (activeSlideChange)="slideChange($event)" [interval]="false" [isAnimated]="true" [showIndicators]="false">
    <slide *ngFor="let l of list; let i = index">
      <div class="text-center bg-transparent text-white">
        <h4>{{ title | translate }} {{ i + 1 }}/{{ list?.length }}</h4>
      </div>
    </slide>
  </carousel>
</div>
<div class="loading" *ngIf="loading">
  <app-loading></app-loading>
</div>
