<a class="VideoItem" [routerLink]="[AppHtmlRoutes.videosView, data?.slug]">
  <div class="VideoItem-box" [lazyLoad]="data?.thumbnailUrl">
    <button class="global-VideoBtn is-sm VideoItem-box-videoBtn"></button>

    <h4 class="VideoItem-title global-H4 text-limit">
      {{
        data?.description | customTranslate: (languageService?.language | async)
      }}
    </h4>

    <h2 class="global-text-body VideoItem-box-text">
      {{ data?.title | customTranslate: (languageService?.language | async) }}
      <b>{{ data?.updatedOn | date: "dd MMMM" }}</b>
    </h2>
  </div>
</a>
