@import "shared";

$--overlay-bg: var(--color-newblue-bg);

:host {
  display: block;
  @include sm{
    margin-top: px2vw-sm(28px);
  }
}

.container-fluid {
  // padding-top: 90px;
  max-width: px2vw-xl(1308px);
  padding-left: px2vw-xl(24px);
  padding-right: px2vw-xl(24px);

  @include lg{
    max-width: px2vw-lg(1308px);
    padding-left: px2vw-lg(14px);
    padding-right: px2vw-lg(14px);
  }
  @include md{
    // max-width: px2vw-md(1308px);
    padding-left: px2vw-md(14px);
    padding-right: px2vw-md(14px);
  }
  @include sm{
    // max-width: px2vw-sm(1308px);
    padding-left: px2vw-sm(14px);
    padding-right: px2vw-sm(14px);
  }
  height: 100%;

  .row {
    height: 100%;
  }
}
.UpcomingSlider {
  overflow: hidden;
  position: relative;

  &-bg-image {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(px2vw-xl(20px));
    background-position: top left;
    background-size: cover;
    transition: $global-transition2;

    @include lg {
      filter: blur(px2vw-lg(20px));
    }

    @include md {
      filter: blur(px2vw-md(20px));
    }

    @include sm {
      filter: blur(px2vw-sm(20px));
    }
  }

  &-overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: px2vw-xl(-1px);
    left: 0;
    // background: $--overlay-bg;
    transition: $global-transition2;
    transform: rotate(-180deg);

    @include lg {
      bottom: px2vw-lg(-1px);
    }

    @include md {
      bottom: px2vw-md(-1px);
    }

    @include sm {
      bottom: px2vw-sm(-1px);
    }
  }

  &-container {
    z-index: 3;
    position: relative;
  }

  &-content {
    @extend %u-dfCenter;
  }

  &-image {
    height: px2vw-xl(228px);
    width: px2vw-xl(430px);
    background-size: cover;

    @include lg {
      height: px2vw-lg(228px);
      width: px2vw-lg(430px);
    }

    @include md {
      height: px2vw-md(228px);
      width: px2vw-md(430px);
    }

    @include sm {
      height: px2vw-sm(228px);
      width: px2vw-sm(430px);
    }
  }

  &-info {
    padding: 0 px2vw-xl(25px);
    padding-right: px2vw-xl(62px);

    @include lg {
      padding: 0 px2vw-lg(25px);
      padding-right: px2vw-lg(62px);
    }

    @include md {
      padding: 0 px2vw-md(25px);
      padding-right: px2vw-md(62px);
    }

    @include sm {
      padding: 0 px2vw-sm(25px);
      padding-right: px2vw-sm(62px);
    }
  }

  &-heading {
    @extend %global-H7;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-subtitle {
    @extend %body-2;
    margin-bottom: px2vw-xl(8px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(16px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-about {
    @extend %u-dfCenter;
    padding-right: px2vw-xl(30px);

    @include lg {
      padding-right: px2vw-lg(30px);
    }

    @include md {
      padding-right: px2vw-md(30px);
    }

    @include sm {
      padding-right: px2vw-sm(30px);
    }
  }

  &-about-registered {
    @extend %caption;
    margin-bottom: 0;
    border-radius: px2vw-xl(2px);
    padding: px2vw-xl(4px);
    background-color: var(--color-secondary);

    @include lg {
      border-radius: px2vw-lg(2px);
      padding: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(2px);
      padding: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(2px);
      padding: px2vw-sm(4px);
    }
  }

  &-points {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-smoke);
    border-radius: px2vw-xl(2px);
    padding: px2vw-xl(2px);
    padding-right: px2vw-xl(6px);
    background-color: var(--white-light);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(2px);
      padding: px2vw-lg(2px);
      padding-right: px2vw-lg(6px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(2px);
      padding: px2vw-md(2px);
      padding-right: px2vw-md(6px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(2px);
      padding: px2vw-sm(2px);
      padding-right: px2vw-sm(6px);
    }
  }

  &-close {
    position: absolute;
    top: px2vw-xl(32px);
    right: px2vw-xl(32px);
    background-color: transparent;
    height: px2vw-xl(28px);
    width: px2vw-xl(28px);

    @include lg {
      top: px2vw-lg(32px);
      right: px2vw-lg(32px);
      height: px2vw-lg(28px);
      width: px2vw-lg(28px);
    }

    @include md {
      top: px2vw-md(32px);
      right: px2vw-md(32px);
      height: px2vw-md(28px);
      width: px2vw-md(28px);
    }

    @include sm {
      top: px2vw-sm(32px);
      right: px2vw-sm(32px);
      height: px2vw-sm(28px);
      width: px2vw-sm(28px);
    }
  }
}

.Play-slider {
  margin-bottom: px2vw-xl(24px);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) px2vw-xl(388px);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  @include lg {
    margin-bottom: px2vw-lg(24px);
    grid-template-columns: repeat(2, minmax(0, 1fr)) px2vw-lg(388px);
  }

  @include md {
    margin-bottom: px2vw-md(24px);
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr);
  }

  @include sm {
    margin-bottom: px2vw-sm(24px);
  }

  &-carousel {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--black);

    @include md {
      grid-area: auto;
    }
  }

  &-detail-name {
    display: flex;
  }

  &-image {
    background-size: cover;
    min-height: px2vw-xl(550px);

    @include lg {
      height: px2vw-lg(550px);
    }

    @include md {
      height: px2vw-md(388px);
      min-height: auto;
    }

    @include sm {
      height: px2vw-sm(300px);
    }
  }

  &-card {
    @extend %u-dfStart;
    align-items: stretch;
    flex-direction: column;
    grid-area: 1 / 3 / 2 / 4;
    padding: px2vw-xl(24px);
    padding-right: px2vw-xl(56px);

    @include lg {
      padding: px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(32px) px2vw-md(24px);
      grid-area: auto;
    }

    @include sm {
      padding: px2vw-sm(32px) px2vw-sm(24px);
    }
  }

  &-header {
    margin-bottom: px2vw-xl(26px);
    border-bottom: 1px solid var(--white-smoke);
    padding-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(26px);
      padding-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(34px);
      padding-bottom: px2vw-md(34px);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
      padding-bottom: px2vw-sm(34px);
    }
  }

  &-subhead {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--color-primary);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      min-height: px2vw-sm(48px);
    }
  }

  &-starts {
    @extend %u-dfCenterBtw;
    border: 1px solid var(--white-smoke);
    padding: px2vw-xl(9px) px2vw-xl(12px);
    background: var(--gradient-bg);

    @include lg {
      padding: px2vw-lg(9px) px2vw-lg(12px);
    }

    @include md {
      padding: px2vw-md(9px) px2vw-md(12px);
    }

    @include sm {
      padding: px2vw-sm(9px) px2vw-sm(12px);
    }
  }

  &-starts-label {
    @extend %body-2;
    margin-right: px2vw-xl(10px);
    margin-bottom: 0;
    color: var(--white-medium);

    @include lg {
      margin-right: px2vw-lg(10px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
    }
  }

  &-starts-time {
    @extend %subtitle-1;
    color: var(--color-secondary);
  }

  &-details {
    margin-bottom: 0;

    @include md {
      margin-bottom: px2vw-md(32px);
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-md(44px);
      grid-row-gap: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
      grid-column-gap: px2vw-sm(44px);
      grid-row-gap: px2vw-sm(24px);
    }
  }

  &-detail {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: 0;

      &.team-size {
        grid-area: 2 / 1 / 3 / 2;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-detail-icon {
    margin-right: px2vw-xl(16px);
    width: px2vw-xl(48px);
    height: px2vw-xl(48px);
    border-radius: 100%;

    @include lg {
      margin-right: px2vw-lg(16px);
      width: px2vw-lg(48px);
      height: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(20px);
      width: px2vw-md(52px);
      height: px2vw-md(52px);
    }

    @include sm {
      margin-right: px2vw-sm(19px);
      width: px2vw-sm(48px);
      height: px2vw-sm(48px);
    }
  }

  &-detail-icons {
    margin-right: px2vw-xl(-5px);
    width: px2vw-xl(48px);
    height: px2vw-xl(48px);
    border-radius: 100%;

    @include lg{
      margin-right: px2vw-lg(-5px);
      width: px2vw-lg(48px);
      height: px2vw-lg(48px);
    }
    @include md{
      margin-right: px2vw-md(-5px);
      width: px2vw-md(48px);
      height: px2vw-md(48px);
    }
    @include sm{
      margin-right: px2vw-sm(-5px);
      width: px2vw-sm(48px);
      height: px2vw-sm(48px);
    }

    &-hidden {
      width: px2vw-xl(48px);
      height: px2vw-xl(48px);
      border-radius: 100%;
      background: var(--main-color);
      border: px2vw-xl(3px) solid var(--color-background);
      box-sizing: border-box;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include lg{
        width: px2vw-lg(48px);
        height: px2vw-lg(48px);
        border: px2vw-lg(3px) solid var(--color-background);
      }
      @include md{
        width: px2vw-md(48px);
        height: px2vw-md(48px);
        border: px2vw-md(3px) solid var(--color-background);
      }
      @include sm{
        width: px2vw-sm(48px);
        height: px2vw-sm(48px);
        border: px2vw-sm(3px) solid var(--color-background);
      }

      & .count {
        display: contents;
      }
    }
  }

  &-detail-info {
    @extend %u-dfStart;
    flex-direction: column;
    margin-bottom: 0;
  }

  &-toggles {
    @extend %u-dfCenterBtw;
    margin-top: auto;
  }

  &-button-default{
    background-color: var(--color-primary) !important;
  }

  &-button {
    // margin-right: px2vw-xl(10px);
    margin-right: px2vw-xl(18px);
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: var(--white) !important;
    width:auto;
    height: px2vw-xl(48px);
    justify-content: center;
    align-items: center;
    text-transform: none;
    padding:px2vw-xl(9px) px2vw-xl(18px);
    background-color: var(--color-background);
    border-radius: px2vw-xl(50px);
    @include lg {
      // margin-right: px2vw-lg(10px);
      margin-right: px2vw-lg(18px);
      font-size: px2vw-lg(14px);
      height: px2vw-lg(48px);
      padding:px2vw-lg(9px) px2vw-lg(8px);
      border-radius: px2vw-lg(50px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      font-size: px2vw-md(19px);
      height: px2vw-md(48px);
      padding:px2vw-md(25px) px2vw-md(35px);
      border-radius: px2vw-md(50px);
      width: auto;
      text-align: left;
      position: absolute;
      left:0px;
      border:px2vw-sm(2px) solid var(--color-secondary)
    }

    @include sm {
      margin-top: px2vw-sm(26px);
      font-size: px2vw-sm(24px);
      height: px2vw-sm(75px);
      padding:px2vw-sm(9px) px2vw-sm(26px);
      border-radius: px2vw-sm(50px);
      width: auto;
      text-align: left;
      border:px2vw-sm(4px) solid var(--color-secondary)
      // margin: 0 auto;
    }
  }

  &-arrows {
    @extend %u-dfCenter;
    margin-left: auto;
  }

  &-arrow {
    @extend %u-dfCenterCenter;
    background-color: transparent;
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);

    @include lg {
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
    }

    @include md {
      height: px2vw-md(30px);
      width: px2vw-md(30px);
    }

    @include sm {
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
    }

    &.next {
      margin-left: px2vw-xl(4px);

      @include lg {
        margin-left: px2vw-lg(4px);
      }

      @include md {
        margin-left: px2vw-md(4px);
      }

      @include sm {
        margin-left: px2vw-sm(4px);
      }

      ::ng-deep svg {
        transform: rotate(180deg);
      }
    }

    ::ng-deep svg {
      height: px2vw-xl(15px);
      width: px2vw-xl(9.26px);

      @include lg {
        height: px2vw-lg(15px);
        width: px2vw-lg(9.26px);
      }

      @include md {
        height: px2vw-md(15px);
        width: px2vw-md(9.26px);
      }

      @include sm {
        height: px2vw-sm(15px);
        width: px2vw-sm(9.26px);
      }
    }
  }
}
.ViewTournament-sectionA {

  @include shadow();
  min-height: px2vw-xl(338px);
  height: 100%;
  background-size: contain;
  margin-bottom: 0;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;


  @include lg {
    // height: px2vw-lg(428px);
  }

  @include md {
    min-height: px2vw-md(275px);
  }

  @include sm {
    min-height: px2vw-sm(345px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  &::before {
    background: var(--color-newblak-bg);
    transform: rotate(-180deg);

    @include sm{
      // background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.14) 100%);
      background:var(--color-newblak2-bg);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: px2vw-xl(338px);
    height: 100%;
    max-width: px2vw-xl(1308px);
    padding: px2vw-xl(30px) px2vw-xl(24px) px2vw-xl(24px) px2vw-xl(24px);
    height: 100%;
    margin: 0 auto;
    position: relative;

    @include lg {
      min-height: px2vw-lg(375px);
      max-width: px2vw-lg(1308px);
      padding: px2vw-lg(30px) px2vw-lg(24px) px2vw-lg(24px) px2vw-lg(24px);
    }
    @include md {
      // max-width: px2vw-md(1308px);
      min-height: px2vw-md(280px);
      padding: px2vw-md(30px) px2vw-md(18px) px2vw-md(0px) px2vw-md(18px);
    }
    @include sm {
      min-height: px2vw-sm(345px);
      padding: px2vw-sm(30px) px2vw-sm(20px) px2vw-sm(0px) px2vw-sm(20px);
      // padding-bottom: px2vw-sm(32px);
    }

    &-button {
      @include lg{
        width:90%;
        margin: 0 auto;
      }
      @include md{
        width:97%;
        margin: 0 auto;
      }
      &-back {
        width: px2vw-xl(48px);
        height: px2vw-xl(48px);
        // background: var(--white-smoke);
        // border: px2vw-xl(2px) solid var(--white-medium);
        background: var(--color-bg-drkgry) !important;
        border:  px2vw-xl(2px) solid var(--border-color-rnd);
        box-sizing: border-box;
        border-radius: px2vw-xl(50px);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        @include lg{
          // background: rgba(163, 161, 167, 0.15);
          // border: px2vw-xl(2px) solid rgb(163 161 167);
          width: px2vw-lg(48px);
          height: px2vw-lg(48px);
          border-width: 0.11vw;
          border-radius: px2vw-lg(50px);
        }

        @include md {
          // border: px2vw-md(2px) solid var(--tolopea-medium-color);
          border-width: px2vw-md(2px);
          width: px2vw-md(54px);
          height: px2vw-md(54px);
          border-radius: px2vw-ms(50px);
        }

        @include sm {
          width: px2vw-sm(56px);
          height: px2vw-sm(56px);
          border-radius: px2vw-sm(50px);
          border-width: px2vw-sm(2px);
        }

        &:hover {
          background-color: var(--gray-hover);
        }

        & .icon {
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;

          & ::ng-deep svg {
            width: px2vw-xl(10px);
            @include lg{
              width: px2vw-lg(10px);
            }
            @include md{
              width: px2vw-md(12px);
            }
            @include sm{
              width: px2vw-sm(13px);
            }

            path{
              fill: var(--color-primary-disabled);
            }
          }

          & ::ng-deep svg path {

            @include sm {
              fill: var(--white);
            }
          }
        }
      }
    }

    &-header {
      display: flex;
      justify-content: space-between;
      max-width: px2vw-xl(1308px);
        @include lg{
          width: 90%;
          margin: 0 auto;
        }
        @include md{
          width:auto;
        }
      .res_dropdown{
        display: none;
        p {
          @include md{
            font-size: px2vw-md(20px);
            color:var(--txt-secondry-active);
            margin-bottom:px2vw-md(-7px);
          }
          @include sm{
            font-size: px2vw-sm(25px);
            margin-bottom:px2vw-md(0px);
            color:var(--txt-secondry-active);
          }
        }

        @include md{
          display: block;
          margin-top:px2vw-md(42px);
          width:100%;
        }
        @include sm{
          display: block;
          margin-top:px2vw-sm(160px);
          width:100%;
        }

        .mat-form-field {
          @include md{
            width: 100%;
          }
          @include sm{
            width: 100%;
          }

          .mat-select{
            @include md{
              border: px2vw-md(3px) solid var(--color-secondary);
              padding: px2vw-md(23px);
              border-radius: px2vw-md(8px);
            }
            @include sm{
              border: px2vw-sm(3px) solid var(--color-secondary);
              padding: px2vw-sm(26px);
              border-radius: px2vw-sm(8px);
            }

            .mat-select-value-text{
              @include md{
                color:var(--white);
                font-size: px2vw-md(16px);
              }
              @include sm{
                color:var(--white);
                font-size: px2vw-sm(16px);
              }
            }
            // .mat-select-value{
            //   @include sm{
            //     color:var(--color-primary-disabled);
            //   }
            // }
          }
        }
      }

      @include md {
        // flex-wrap: wrap;
        position: absolute;
        bottom: px2vw-md(-437px);
        width: 100%;
        display:block;
        z-index:3;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      @include sm{
        display: block;
        width: 100%;
        position: absolute;
        bottom: px2vw-sm(-590px);
        left: 0;
        right: 0;
        margin: 0 auto;
        // min-height: px2vw-sm(300px);
      }

      &-contentRight {
        width: 50%;

        @include md {
          width: 100%;
          margin-bottom: px2vw-md(0px);
        }

        @include sm{
          width: 100%;
        }

        &-title {
          font-family: 'Paralucent-Light';
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(50px);
          line-height: px2vw-xl(58px);
          letter-spacing: px2vw-xl(-0.5px);
          color: var(--white);
          margin-bottom: 0;

          @include lg{
            font-size: px2vw-lg(47px);
            line-height: px2vw-lg(58px);
            letter-spacing: px2vw-lg(-0.5px);
          }

          @include md{
            font-size: px2vw-md(45px);
            line-height: px2vw-md(57px);
            letter-spacing: px2vw-md(-0.5px);
            min-height: px2vw-md(90px);
          }

          @include sm {
            font-size: px2vw-sm(46px);
            line-height: px2vw-sm(55px);
            min-height: px2vw-sm(90px);
          }
        }

        &-date {
          font-family: 'Paralucent-Demi';
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(18px);
          line-height: px2vw-xl(28px);
          color: var(--white);
          margin-bottom: px2vw-xl(2px);

          @include lg{
            font-size: px2vw-lg(18px);
            line-height: px2vw-lg(28px);
            margin-bottom: px2vw-lg(2px);
          }

          @include md{
            font-size: px2vw-md(18px);
            line-height: px2vw-md(31px);
            margin-bottom: px2vw-md(2px);
            min-height: px2vw-md(45px);
          }

          @include sm {
            font-size: px2vw-sm(24px);
            line-height: px2vw-sm(37px);
            margin-bottom: px2vw-sm(12px);
            min-height: px2vw-sm(45px);
          }
        }
      }

      &-contentLeft {
        align-self: end;
        display: flex;
        width: 43%;
        justify-content: flex-end;
        margin-bottom: px2vw-xl(4px);

        @include lg{
          margin-bottom: px2vw-lg(4px);
        }

        @include md {
          width: 100%;
          justify-content: end;
        }

        @include sm {
          flex-wrap: wrap;
          justify-content: unset;
          position: relative;
          width: 100%;
          display: flex;
        }

        &-btn {
          width:100%;
          @include sm{
            display: block;
            width: 100%;
          }
          & button {
            width: px2vw-xl(186px);
            padding: px2vw-xl(12px) px2vw-xl(32px);
            display: flex;
            justify-content: center;

            @include sm{
              display: block;
              width: 100%;
            }

          }

        }

        &-time {
          display: flex;
          align-items: center;

          @include sm {
            margin-bottom: px2vw-sm(16px);
          }

          &-img {
            background: var(--blackcurrant-color-medium);
            border-radius: px2vw-xl(24px) px2vw-xl(0px) px2vw-xl(0px) px2vw-xl(24px);
            width: px2vw-xl(59px);
            height: px2vw-xl(48px);
            display: flex;
            justify-content: center;
            align-items: center;
            @include lg{
              border-radius: px2vw-lg(24px) px2vw-lg(0px) px2vw-lg(0px) px2vw-lg(24px);
              width: px2vw-lg(59px);
              height: px2vw-lg(48px);
            }
            @include md{
              border-radius: px2vw-md(24px) px2vw-md(0px) px2vw-md(0px) px2vw-md(24px);
              width: px2vw-md(59px);
              height: px2vw-md(48px);
            }
            @include sm{
              border-radius: px2vw-sm(24px) px2vw-sm(0px) px2vw-md(0px) px2vw-sm(24px);
              width: px2vw-sm(59px);
              height: px2vw-sm(48px);
            }
          }

          &-text {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: px2vw-xl(19px);
            line-height: px2vw-xl(28px);
            text-align: right;
            color: var(--white);
            padding: px2vw-xl(10px) px2vw-xl(24px) px2vw-xl(10px) px2vw-xl(16px);
            background: var(--color-background);
            border-radius: px2vw-xl(0px) px2vw-xl(24px) px2vw-xl(24px) px2vw-xl(0px);
            margin-right: px2vw-xl(18px);
            @include lg{
              font-size: px2vw-lg(19px);
              line-height: px2vw-lg(28px);
              padding: px2vw-lg(10px) px2vw-lg(24px) px2vw-lg(10px) px2vw-lg(16px);
              background: var(--color-background);
              border-radius: px2vw-lg(0px) px2vw-lg(24px) px2vw-lg(24px) px2vw-lg(0px);
              margin-right: px2vw-lg(18px);
            }
            @include md{
              font-size: px2vw-md(19px);
              line-height: px2vw-md(28px);
              padding: px2vw-md(10px) px2vw-md(24px) px2vw-md(10px) px2vw-md(16px);
              background: var(--color-background);
              border-radius: px2vw-md(0px) px2vw-md(24px) px2vw-md(24px) px2vw-md(0px);
              margin-right: px2vw-md(18px);
            }
            @include sm {
              border: px2vw-sm(1px) solid var(--midnight-express-color);
              font-size: px2vw-sm(24px);
            }
          }
        }

        &-btn {
          align-self: center;

          @include sm {
            width: 100%;
          }

          & button {
            @include sm {
              width: 100%;
            }
          }

          & button span {
            font-family: 'Paralucent-Demi';
            font-style: normal;
            font-weight: 600;
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
            display: flex;
            align-items: center;
            text-align: center;
            color: var(--white);
            text-transform: none;
            @include lg{
              font-size: px2vw-lg(16px);
              line-height: px2vw-lg(24px);
            }
            @include md{
              font-size: px2vw-md(16px);
              line-height: px2vw-md(24px);
            }
            @include sm{
              font-size: px2vw-sm(16px);
              line-height: px2vw-sm(24px);
            }
          }
        }

        &-btnShare {
          align-self: center;
          @include md {
            position: absolute;
            right: px2vw-md(10px);
            // top: px2vw-sm(10px);
            // bottom:px2vw-md(0px)
          }

          @include sm {
            position: absolute;
            right: px2vw-sm(55px);
            // top: px2vw-sm(10px);
            bottom:px2vw-sm(-72px)
          }

          & button {
            // background-color: transparent;
            width: px2vw-xl(48px);
            height: px2vw-xl(48px);
            background: var(--color-bg-drkgry) !important;
            border:  px2vw-xl(2px) solid var(--border-color-rnd);
            border-radius: px2vw-xl(50px);

            @include lg{
              // background: rgba(163, 161, 167, 0.15);
              // border: px2vw-xl(2px) solid rgb(163 161 167);
              width: px2vw-lg(48px);
              height: px2vw-lg(48px);
              border: px2vw-lg(2px) solid var(--white-medium);
              border-radius: px2vw-lg(50px);
            }

            @include md {
              border: transparent;
              // width: px2vw-sm(64px);
              // height: px2vw-sm(64px);
              background: transparent !important;
            }

            @include sm {
              border: transparent;
              // width: px2vw-sm(64px);
              // height: px2vw-sm(64px);
              background: transparent !important;
            }
            & ::ng-deep svg {
              width: px2vw-xl(24px);
              @include lg{
                width: px2vw-lg(22px);
              }
              @include md{
                width: px2vw-md(35px);
              }
              @include sm{
                width: px2vw-sm(42px);
              }
              & path{
                fill: var(--color-primary-disabled);
              }
            }
          }
        }
      }
    }
  }
}
.new_title {
  /* 1440px/Custom/Headline 7 */

  font-family: "archivo-black";
  font-style: normal;
  font-weight: 900;
  font-size: px2vw-xl(16px);
  line-height:  px2vw-xl(18px);
  /* identical to box height, or 112% */

  text-transform: uppercase;

  /* Custom/Colour/White */

  color: var(--white);

  mix-blend-mode: normal;
  display: none;
}
.nav-mobile-wrap {
  overflow: hidden;
  overflow-x: auto;
  margin-left: px2vw-xl(24px);

    @include lg{
      display: none;
      }
    @include md{
      display: block;
    }
    @include sm{
      display: block;
    }

  &::-webkit-scrollbar {
    display: none;
  }
}
.ViewTournament-sectionB {
  @extend %u-dfStart;
  position: relative;
  flex-direction: row;
  max-width: px2vw-xl(1308px);
  padding-right: px2vw-xl(24px);
  padding-left: px2vw-xl(24px);
  margin-top: px2vw-xl(25px);
  margin-bottom: px2vw-xl(24px);

  @include lg{
    //
    // max-width: px2vw-lg(1200px);
    margin-bottom: px2vw-lg(24px);
    padding-right: px2vw-lg(2px);
    padding-left: px2vw-lg(2px);
  }
  @include md {
    flex-direction: column;
    // max-width: px2vw-xl(1308px);
    margin-bottom: px2vw-md(24px);
    padding-right: px2vw-md(2px);
    padding-left: px2vw-md(2px);
    margin-top: px2vw-md(470px);
    flex-direction: column-reverse;
    // margin-top: px2vw-md(400px);

  }

  @include sm {
    margin-bottom: px2vw-sm(32px);
    flex-direction: column-reverse;
    margin-top: px2vw-sm(605px);
    padding-right: px2vw-sm(0px);
    padding-left: px2vw-sm(0px);
  }


  // LEFT BLOCK

  &-info {
    // flex-grow: 1;
    padding-left: px2vw-xl(49px);
    width: 100%;
    max-width: calc(100% - 403px);

    @include lg {
      margin-right: px2vw-lg(50px);
      max-width: calc(100% - 0px);
    }

    @include md {
      margin-right: 0;
      max-width: unset;
      padding-left: 0;
    }
    @include sm {
      margin-right: px2vw-sm(50px);
    }
  }

  &-time{
    border: 1px solid var(--white) 33;
    background: var(--white) 1f;
    height: px2vw-xl(35px);
    padding: px2vw-xl(9px);
    margin-bottom: px2vw-xl(15px);
    display: flex;
    justify-content: space-between;
    display: none;
    @include lg{
      height: px2vw-lg(35px);
      padding: px2vw-lg(9px);
      margin-bottom: px2vw-lg(15px);
    }
    @include md{
      height: px2vw-md(35px);
      padding: px2vw-md(9px);
      margin-bottom: px2vw-md(15px);
    }
    @include sm{
      height: px2vw-sm(35px);
      padding: px2vw-sm(9px);
      margin-bottom: px2vw-sm(15px);
    }
  }

  &-start{
    color: var(--white) 99;
    font-size: px2vw-xl(12px);
    @include lg{
      font-size: px2vw-lg(12px);
    }
    @include md{
      font-size: px2vw-md(12px);
    }
    @include sm{
      font-size: px2vw-sm(12px);
    }
  }

  &-countDown{
    color: var(--color-secondary);
  }

  &-header {
    // margin-bottom: px2vw-xl(40px);

    @include lg {
      // margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-header-title {
    @extend %global-H2;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-header-date {
    margin-bottom: 0;
  }

  &-navigation {
    margin-bottom: px2vw-xl(23px);
    display: flex;
    flex-direction: column;

    @include lg {
      margin-bottom: px2vw-lg(44px);
    }

    @include md {
      // margin-bottom: px2vw-md(44px);
      display: none;
    }

    @include sm {
      // margin-bottom: px2vw-sm(44px);
      display: none;
    }

    &.nav-mobile {
      display: none;
      @include md{
        display: flex;
        flex-direction: row;
        overflow: auto;
        width: px2vw-md(750px);
        margin-bottom: 0;
        // margin-top: px2vw-sm(20px);
        // padding:px2vw-md(15px) 0 px2vw-md(0px) 0;
      }
      @include sm {
        display: flex;
        flex-direction: row;
        overflow: auto;
        width: px2vw-sm(750px);
        margin-bottom: 0;
        // margin-top: px2vw-sm(20px);
        // padding:px2vw-sm(15px) 0 px2vw-sm(0px) 0;
      }
    }

    &-link {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(28px);
      color: var(--tolopea-color);
      display: flex;
      align-items: center;
      padding: px2vw-xl(13px) 0 px2vw-xl(13px) 0 ;
      @include lg {
        font-size: px2vw-lg(22px);
        line-height: px2vw-lg(24px);
        padding: px2vw-lg(13px) 0 px2vw-lg(13px) 0 ;
      }
      @include md {
        font-size: px2vw-md(19px);
        line-height: px2vw-md(24px);
        padding: px2vw-md(16px) 0 px2vw-md(13px) 0 ;
      }
      @include sm {
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(24px);
        padding: px2vw-sm(18px) 0 px2vw-sm(20px) 0 ;
      }
      &:hover {
        color: var(--color-skyblue);
        .icon {
          ::ng-deep svg path {
            fill: var(--color-skyblue);
          }
        }
      }
      .icon {
        margin-right: px2vw-xl(18px);
        @include md {
          display: block;
          margin-right: px2vw-md(14px);
          // width: 100px;
        }
        @include sm {
          display: none;
        }
        & ::ng-deep svg {
          width: px2vw-xl(29px);
          margin-top: px2vw-xl(-3px);
          @include lg{
            width: px2vw-lg(29px);
            margin-top: px2vw-lg(-3px);
            color:var(--color-skyblue);
          }
          @include md{
            width: px2vw-md(30px);
            margin-top: px2vw-md(-3px);
            color:var(--color-skyblue);
          }
        }
      }
    }
  }

  &-navigation-item {
    &:last-child a {
      margin-right: 0;
    }
  }

  // RIGHT BLOCK

  &-about {
    // flex-shrink: 0;
    width: 100%;
    max-width: px2vw-xl(403px);

    @include lg {
      // width: px2vw-lg(416px);
    }

    @include md {
      width: 100%;
      max-width: unset;
    }
  }

  &-card {
    margin-bottom: px2vw-xl(24px);
    margin-top: px2vw-xl(15px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      margin-top:px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      margin-top: px2vw-sm(16px);
    }
  }

  &-card-image {
    height: px2vw-xl(220px);
    width: 100%;
    background-size: cover;
    background-color: var(--black-medium);

    @include lg {
      height: px2vw-lg(220px);
    }

    @include md {
      height: px2vw-md(300px);
    }

    @include sm {
      height: px2vw-sm(260px);
    }
  }

  &-card-content {
    border: px2vw-xl(1px) solid var(--black-medium);
    border-top: none;
  }

  &-card-main {
    padding: px2vw-xl(20px);

    @include lg {
      padding: px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }

  &-card-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  // &-card-items {
  // }

  &-card-item {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-card-item-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(10px);
    height: px2vw-xl(21px);
    width: px2vw-xl(25px);

    @include lg {
      margin-right: px2vw-lg(10px);
      height: px2vw-lg(21px);
      width: px2vw-lg(25px);
    }

    @include md {
      margin-right: px2vw-md(10px);
      height: px2vw-md(21px);
      width: px2vw-md(25px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
      height: px2vw-sm(21px);
      width: px2vw-sm(25px);
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-card-item-title {
    margin-right: px2vw-xl(10px);
    color: var(--white-disabled);

    @include lg {
      margin-right: px2vw-lg(10px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
    }
  }

  &-card-item-value {
    margin-bottom: 0;
    margin-left: auto;
  }

  &-card-footer {
    @extend %u-dfStart;
    border-top: px2vw-xl(1px) solid var(--black-medium);
    padding: px2vw-xl(16px) px2vw-xl(20px);

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(20px);
    }
  }

  &-card-start {
    margin-right: px2vw-xl(10px);

    @include lg {
      margin-right: px2vw-lg(10px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
    }
  }

  &-card-start-title {
    margin-bottom: px2vw-xl(5px);

    @include lg {
      margin-bottom: px2vw-lg(5px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
    }
  }

  &-card-start-time {
    @extend %global-H5;
    margin-bottom: 0;
  }

  &-card-button {
    margin-left: auto;
  }

  &-platforms {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-platforms-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(16px);
    border-bottom: px2vw-xl(1px) solid var(--black-medium);
    padding-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      padding-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      padding-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      padding-bottom: px2vw-sm(12px);
    }
  }

  &-platforms-list {
    @extend %u-dfStart;
    flex-wrap: wrap;
  }

  &-platforms-item {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(15px);
    margin-bottom: px2vw-xl(15px);
    background-color: var(--black);
    min-width: px2vw-xl(90px);
    padding: px2vw-xl(13px) px2vw-xl(16px);

    @include lg {
      margin-right: px2vw-lg(15px);
      margin-bottom: px2vw-lg(15px);
      min-width: px2vw-lg(90px);
      padding: px2vw-lg(13px) px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(15px);
      margin-bottom: px2vw-md(15px);
      min-width: px2vw-md(90px);
      padding: px2vw-md(13px) px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      margin-bottom: px2vw-sm(15px);
      min-width: px2vw-sm(90px);
      padding: px2vw-sm(13px) px2vw-sm(16px);
    }
  }

  &-platforms-item-image {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(26px);
    width: px2vw-xl(21px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(26px);
      width: px2vw-lg(21px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(26px);
      width: px2vw-md(21px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(26px);
      width: px2vw-sm(21px);
    }

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-platforms-item-name {
    @extend %global-H6;
  }

  &-author {
    margin-top: px2vw-xl(41px);

    @include lg{
      margin-top: px2vw-lg(35px);
    }
    @include md{
      margin-top: px2vw-md(30px);
      margin-bottom:px2vw-md(12px);
    }
    @include sm{
      margin-top: px2vw-sm(38px);
      margin-bottom:px2vw-sm(12px);
    }


    &-title {
      text-transform: none;
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(-0.5px);
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(13px);

      @include lg {
        font-size: px2vw-lg(24px);
        line-height: px2vw-lg(30px);
        margin-bottom: px2vw-lg(13px);
      }

      @include md {
        font-size: px2vw-md(25px);
        line-height: px2vw-md(30px);
        margin-bottom: px2vw-md(13px);
      }

      @include sm {
        font-size: px2vw-sm(30px);
        line-height: px2vw-sm(30px);
      }
    }

    &-subtitle {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--tertiary-color);
      padding: px2vw-xl(8px) px2vw-xl(16px) px2vw-xl(18px) px2vw-xl(0px);
      border-bottom: px2vw-xl(1px) solid var(--midnight-express-color);

      @include lg{
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
        padding: px2vw-lg(8px) px2vw-lg(16px) px2vw-lg(18px) px2vw-lg(0px);
        border-bottom: px2vw-lg(1px) solid var(--midnight-express-color);
      }
      @include md{
        font-size: px2vw-md(19px);
        line-height: px2vw-md(24px);
        padding: px2vw-md(8px) px2vw-md(16px) px2vw-md(18px) px2vw-md(0px);
        border-bottom: px2vw-md(1px) solid var(--midnight-express-color);
      }
      @include sm{
        font-size: px2vw-sm(24px);
        line-height: px2vw-sm(24px);
        padding: px2vw-sm(11px) px2vw-sm(16px) px2vw-sm(26px) px2vw-sm(0px);
        border-bottom: px2vw-sm(1px) solid var(--midnight-express-color);
      }
    }

    &-box {
      display: flex;
      justify-content: space-between;
      padding: px2vw-xl(18px) px2vw-xl(16px) px2vw-xl(18px) px2vw-xl(0px);
      border-bottom: px2vw-xl(1px) solid var(--midnight-express-color);
      align-items: center;
      @include lg{
        padding: px2vw-xl(18px) px2vw-xl(16px) px2vw-xl(18px) px2vw-xl(0px);
        border-bottom: px2vw-lg(1px) solid var(--midnight-express-color);
      }

      @include md{
        padding: px2vw-md(18px) 0 px2vw-md(24px) 0;
        border-bottom: px2vw-md(1px) solid var(--midnight-express-color);
      }

      @include sm {
        padding: px2vw-sm(8px) px2vw-sm(16px) px2vw-sm(22px) px2vw-sm(0px);
        border-bottom: px2vw-sm(1px) solid var(--midnight-express-color);
      }

      &-item {
        display: flex;
        align-items: center;

        // &-icon {

        // }

        &-state {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--tolopea-color);
          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm{
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }

        &-name {
          font-family: 'Paralucent-Demi';
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(18px);
          line-height: px2vw-xl(28px);
          color: var(--white);

          @include lg {
            font-size: px2vw-lg(20px);
            line-height: px2vw-lg(24px);
          }

          @include md {
            font-size: px2vw-md(22px);
            line-height: px2vw-md(24px);
          }

          @include sm {
            font-size: px2vw-sm(22px);
            line-height: px2vw-sm(24px);
          }

          &-wrap {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &-btn {
        & mat-icon {
          color: var(--main-color);
        }
      }
    }

    &-ava {
      padding-bottom: px2vw-xl(21px);
      border-bottom: px2vw-xl(1px) solid var(--midnight-express-color);

      &-img {
        display: flex;
      }
    }
  }

  &-sponsor {
    margin-top: px2vw-xl(41px);

    @include lg{
      margin-top: px2vw-lg(34px);
    }

    @include md{
      margin-top: px2vw-md(30px);
      margin-bottom:px2vw-md(12px);
    }

    @include sm{
      margin-top: px2vw-sm(38px);
      margin-bottom:px2vw-sm(12px);
    }


    &-title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(-0.5px);
      color: var(--white);
      margin-bottom: px2vw-xl(17px);
      @include lg {
        font-size: px2vw-lg(24px);
        line-height: px2vw-lg(32px);
        margin-bottom: px2vw-lg(17px);
      }
      @include md {
        font-size: px2vw-md(26px);
        line-height: px2vw-md(30px);
      }
      @include sm {
        font-size: px2vw-sm(30px);
        line-height: px2vw-sm(30px);
      }
    }

    &-box {
      &-item {
        display: flex;
        align-items: center;
        padding: px2vw-xl(16px);
        border-bottom: 1px solid var(--midnight-express-color);
        justify-content: space-between;
        width: 98%;

        &-info {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &-image {
          width: px2vw-xl(82px);
          height: px2vw-xl(82px);
          margin-right: px2vw-xl(16px);
          border-radius: 50%;
          @include lg{
            width: px2vw-lg(82px);
            height: px2vw-lg(82px);
            margin-right: px2vw-lg(16px);
          }
          @include md{
            width: px2vw-md(82px);
            height: px2vw-md(82px);
            margin-right: px2vw-md(16px);
          }
          @include sm {
            width: px2vw-sm(109px);
            height: px2vw-sm(109px);
          }

          & img {
            width: 100%;
            height: 100%;
          }
        }

        &-name {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          color: var(--white);
          @include lg {
            font-size: px2vw-lg(24px);
            line-height: px2vw-lg(36px);
          }
          @include md {
            font-size: px2vw-md(24px);
            line-height: px2vw-md(36px);
          }
          @include sm {
            font-size: px2vw-sm(24px);
            line-height: px2vw-sm(36px);
          }
        }

        &-share {
          & button {
            background-color: transparent;
            @include xl{
              // background: rgba(163, 161, 167, 0.15);
              // border: px2vw-xl(2px) solid #a3a1a7;
              background: var(--white-smoke);
              border: px2vw-xl(2px) solid var(--white-medium);
              width: px2vw-xl(48px);
              height: px2vw-xl(48px);
              box-sizing: border-box;
              border-radius: px2vw-xl(24px);
            }
            @include lg{
              width: px2vw-lg(48px);
              height: px2vw-lg(48px);
              border-radius: px2vw-sm(50px);
            }
            @include sm{
              width: px2vw-sm(54px);
              height: px2vw-sm(54px);
              border-radius: px2vw-sm(50px);
            }
          }
        }
      }
    }

    &-problem {
      margin-top: px2vw-xl(15px);

      @include lg{
        margin-top: px2vw-lg(15px);
      }
      @include md{
        margin-top: px2vw-md(15px);
      }
      @include sm{
        margin-top: px2vw-sm(15px);
      }

      &-title {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--color-skyblue);
        background-color: transparent;

      @include lg{
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }
      @include md{
        font-size: px2vw-md(19px);
        line-height: px2vw-md(24px);
      }
      @include sm{
        font-size: px2vw-sm(24px);
        line-height: px2vw-sm(24px);
      }

      &-icon {
        margin-right: px2vw-xl(15px);
        background-color: transparent;
      }
    }
  }

  // &-author-title {

  //   @include lg {
  //     margin-bottom: px2vw-lg(16px);
  //     padding-bottom: px2vw-lg(12px);
  //   }

  //   @include md {
  //     margin-bottom: px2vw-md(16px);
  //     padding-bottom: px2vw-md(12px);
  //   }

  //   @include sm {
  //     margin-bottom: px2vw-sm(16px);
  //     padding-bottom: px2vw-sm(12px);
  //   }
  // }

  &-author-block {
    @extend %u-dfCenter;
  }

  &-author-photo {
    margin-right: px2vw-xl(18px);
    border-radius: 50%;
    background-size: cover;
    height: px2vw-xl(55px);
    width: px2vw-xl(55px);

    @include lg {
      margin-right: px2vw-lg(18px);
      height: px2vw-lg(55px);
      width: px2vw-lg(55px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      height: px2vw-md(55px);
      width: px2vw-md(55px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      height: px2vw-sm(55px);
      width: px2vw-sm(55px);
    }
  }

  &-author-name {
    @extend %global-H6;
    margin-bottom: px2vw-xl(4px);
    @include lg{
      margin-bottom: px2vw-lg(4px);
    }
    @include md{
      margin-bottom: px2vw-md(4px);
    }
    @include sm{
      margin-bottom: px2vw-lg(4px);
    }
  }

  &-author-team {
    margin-bottom: 0;
    color: var(--white-disabled);
  }
}

// OLD STYLES

.ViewTournament-sectionV {
  margin-top: 700px;
  display: flex;
  margin-bottom: px2vw-xl(45px);
  padding: px2vw-xl(32px) 0 0;

  @include lg {
    border-radius: px2vw-lg(10px);
    padding: px2vw-lg(32px) 0 0;
  }

  @include md {
    padding: px2vw-md(20px) 0 0;
    flex-direction: column;
  }

  @include sm {
    padding: px2vw-sm(20px) 0 0;
  }

  &-image-block {
    overflow: hidden;
    margin-right: px2vw-xl(40px);
    height: px2vw-xl(272px);
    width: px2vw-xl(536px);

    @include lg {
      margin-right: px2vw-lg(20px);
      height: px2vw-lg(272px);
      width: px2vw-lg(300px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(10px);
      height: px2vw-md(240px);
      width: 100%;
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      height: px2vw-sm(240px);
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  &-about {
    flex-grow: 1;
  }

  &-header {
    margin-bottom: px2vw-xl(34px);

    @include lg {
      margin-bottom: px2vw-lg(34px);
    }

    @include md {
      margin-bottom: px2vw-md(34px);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(10px);
    margin-top: px2vw-xl(5px);
    @include textClamp(1);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      margin-top: px2vw-lg(5px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      margin-top: px2vw-md(5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      margin-top: px2vw-sm(5px);
    }
  }

  &-subtitle {
    margin-bottom: 0;
  }

  &-details {
    display: flex;
    margin-bottom: 0;
    justify-content: space-between;

    @include md {
      flex-direction: column;
    }
  }

  &-detail {
    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-detail-title {
    margin-bottom: px2vw-xl(-5px);

    @include lg {
      margin-bottom: px2vw-lg(-5px);
    }

    @include md {
      margin-bottom: px2vw-md(-5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(-5px);
    }
  }

  &-detail-text {
    margin-bottom: 0;
    max-width: px2vw-xl(300px);
    color: var(--white-high);
    line-height: px2vw-xl(32px);

    @include lg {
      max-width: px2vw-lg(300px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      max-width: 100%;
      line-height: px2vw-md(32px);
    }

    @include sm {
      line-height: px2vw-sm(32px);
    }
  }

  &-paid {
    align-self: flex-start;
    margin-left: auto;
    padding-left: px2vw-xl(20px);

    @include lg {
      padding-left: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      padding-left: 0;
      width: 100%;
    }

    @include sm {
      margin-top: px2vw-sm(20px);
    }
  }

  &-paid-text {
    margin-bottom: 0;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(24px);
    letter-spacing: px2vw-xl(1px);
    white-space: nowrap;
    background-color: var(--color-primary);
    display: inline-flex;
    padding: 0 px2vw-xl(5px);

    @include lg {
      font-size: px2vw-lg(13px);
      line-height: px2vw-lg(22px);
    }

    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(22px);
    }
  }
}

.ViewTournament-sectionW {
  margin-bottom: px2vw-xl(40px);

  &-link-block {
    margin-right: px2vw-xl(48px);

    @include lg {
      margin-right: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(48px);
    }

    @include sm {
      margin-right: px2vw-sm(48px);
    }
  }

  &-link {
    padding: px2vw-xl(8px) 0;
    line-height: px2vw-xl(32px);
    border-bottom: px2vw-xl(3px) solid transparent;
    color: var(--white-high);

    @include lg {
      padding: px2vw-lg(8px) 0;
      line-height: px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(8px) 0;
      line-height: px2vw-md(32px);
    }

    @include sm {
      padding: px2vw-sm(8px) 0;
      line-height: px2vw-sm(32px);
    }

    &.active {
      border-color: var(--color-primary);
      color: var(--black);
    }
  }
  .back {
    position: absolute;
    margin: px2vw-xl(30px);
  }
}

.global-MatToggles a.active {
  color: var(--color-skyblue);
  border-bottom: 0;
  @include md {
    border-bottom: px2vw-md(4px) solid var(--main-color);
    font-size: px2vw-md(18px);
  }

  @include sm {
    border-bottom: px2vw-xl(4px) solid var(--main-color);
    font-size: px2vw-sm(18px);
  }

  & .icon ::ng-deep svg path {
    fill: var(--color-skyblue);
  }
}
.TeamCard-manage-button-menu {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: px2vw-xl(30px);
  height: px2vw-xl(30px);
  background-color: transparent;

  @include lg{
      width: px2vw-lg(30px);
      height: px2vw-lg(30px);
  }

  @include md{
      width: px2vw-md(30px);
      height: px2vw-md(30px);
  }

  @include sm{
    width: px2vw-sm(32px);
    height: px2vw-sm(32px);
}
  .TeamCard-manage-button-menu-icon {
    font-size: px2vw-xl(25px);
    width: auto;
    height: auto;
    color: var(--tolopea-color);

    @include lg{
      font-size: px2vw-lg(25px);
    }
    @include md{
      font-size: px2vw-md(25px);
    }
    @include sm {
      font-size: px2vw-sm(32px);
    }
  }
}
.SectionFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;
  @include md {
    display: block;
  }
  &-inner {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    box-shadow: px2vw-xl(0px) px2vw-xl(4px) px2vw-xl(8px) var(--box-shadow-new1);

    @include lg{
      box-shadow: px2vw-lg(0px) px2vw-lg(4px) px2vw-lg(8px) var(--box-shadow-new2);
    }

  }
  &-left {
    width: 100%;
    max-width: 60%;
    background: var(--color-hover-button-primary);
    box-shadow: px2vw-xl(0px) px2vw-xl(1px) px2vw-xl(4px) var(--box-shadow-view);
    height: px2vw-xl(56px);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    padding-left: px2vw-xl(24px);

    @include lg{
      box-shadow: px2vw-lg(0px) px2vw-lg(1px) px2vw-lg(4px) var(--box-shadow-view);
      height: px2vw-lg(56px);
      padding-left: px2vw-lg(24px);
    }

    .logo {
      max-width: 50%;
      margin-right: px2vw-xl(17px);
      @include lg{
        margin-right: px2vw-lg(17px);
      }
    }
    .name {
      span {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        @include lg{
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(20px);
        }
        color: var(--white);
      }
    }
  }
  &-right {
    position: relative;
    .Header-bottom{
      width: 100%;
      max-width: 40%;
      }
    &::before {
      content: "";
      width: 100%;
      max-width: px2vw-xl(85px);
      height: px2vw-xl(56px);
      background: var(--webkit-background);
      background-position: bottom left, bottom right, top right, top left;
      background-size: px2vw-xl(43px) 100%;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      @include lg{
        max-width: px2vw-lg(85px);
        height: px2vw-lg(56px);
      }
    }
    &::after {
      content: "";
      width: 100%;
      max-width: calc(100% - 80px);
      height: px2vw-xl(56px);
      position: absolute;
      left: 0;
      background: var(--color-hover-button-primary);
      @include lg{
        height: px2vw-lg(56px);
      }
    }
    .btn {
      position: absolute;
      box-shadow: px2vw-xl(0px) px2vw-xl(3px) px2vw-xl(6px) rgb(0 0 0 / 10%), 0px 4px 8px rgb(0 0 0 / 8%), 0px 1px 12px rgb(0 0 0 / 4%);
      border-radius: px2vw-xl(56px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: px2vw-xl(8px);
      width: px2vw-xl(56px);
      height: px2vw-xl(56px);
      top: px2vw-xl(-28px);
      right: px2vw-xl(15px);
      @include lg{
        border-radius: px2vw-lg(56px);
        padding: px2vw-lg(8px);
        width: px2vw-lg(56px);
        height: px2vw-lg(56px);
        top: px2vw-lg(-28px);
        right: px2vw-lg(15px);
      }
      @include md{
        border-radius: px2vw-md(56px);
        padding: px2vw-md(8px);
        width: px2vw-md(56px);
        height: px2vw-md(56px);
        top: px2vw-md(-28px);
        right: px2vw-md(15px);
      }
      @include sm{
        border-radius: px2vw-sm(56px);
        padding: px2vw-sm(8px);
        width: px2vw-sm(56px);
      }
    }
  }
}
}


