<app-header-dynasty
  [routerLink]="AppHtmlRoutes.matchmaking"
  title="Manage Score"
></app-header-dynasty>


<section class="UpdateScore">
    <div class="UpdateScore-annoucement">
        <div class="UpdateScore-annoucement-title">{{"MATCHMAKING.UPDATE_SCORING.TITLE" | translate}}</div>
        <div class="UpdateScore-annoucement-subtitle">{{"MATCHMAKING.UPDATE_SCORING.SUBTITLE" | translate}}</div>
        <div class="UpdateScore-annoucement-button">
            <div class="UpdateScore-annoucement-button-back">
                <button>{{"BUTTON.BACK_TO" | translate}}</button>
            </div>
            <!-- <div class="UpdateScore-annoucement-button-endSeason">
                <button>End session</button>
            </div> -->
        </div>
    </div>
    <div class="UpdateScore-congra">
        <div class="UpdateScore-congra-bg">
        </div>
        <div class="UpdateScore-congra-cardTeam">
        </div>
        <div class="UpdateScore-congra-card" >
          <div class="UpdateScore-congra-card-wrap">
            <div class="UpdateScore-congra-card-wrap-image"></div>
            <div class="UpdateScore-congra-card-wrap-info">
              <div class="UpdateScore-congra-card-wrap-info-title">Ramona Myers</div>
              <div class="UpdateScore-congra-card-wrap-info-name">Player ID: volkanika98</div>
            </div>
            <div class="UpdateScore-congra-card-wrap-stats"><div class="UpdateScore-congra-card-wrap-stats-mobile">Winner</div></div>
          </div>
          <div class="UpdateScore-congra-card-rank">
            <div class="UpdateScore-congra-card-rank-set">
              <div class="UpdateScore-congra-card-rank-set-info">
                {{"MATCHMAKING.UPDATE_SCORING.SET" | translate}} 1
                <div class="UpdateScore-congra-card-rank-set-info-winner">{{"MATCHMAKING.UPDATE_SCORING.WINNER" | translate}}: volkanika98</div>
              </div>
              <div class="UpdateScore-congra-card-rank-set-match">
                3 - 1 
              </div>
            </div>
            <div class="UpdateScore-congra-card-rank-set">
              <div class="UpdateScore-congra-card-rank-set-info">
                {{"MATCHMAKING.UPDATE_SCORING.SET" | translate}} 2
                <div class="UpdateScore-congra-card-rank-set-info-winner">{{"MATCHMAKING.UPDATE_SCORING.WINNER" | translate}}: Rh3aliti99</div>
              </div>
              <div class="UpdateScore-congra-card-rank-set-match">
                1 - 3
              </div>
            </div>
            <div class="UpdateScore-congra-card-rank-set">
              <div class="UpdateScore-congra-card-rank-set-info">
                {{"MATCHMAKING.UPDATE_SCORING.SET" | translate}} 3
                <div class="UpdateScore-congra-card-rank-set-info-winner">{{"MATCHMAKING.UPDATE_SCORING.WINNER" | translate}}: volkanika98</div>
              </div>
              <div class="UpdateScore-congra-card-rank-set-match">
                3 - 1 
              </div>
            </div>
          </div>
        </div>
    </div>
</section>