<section class="SearchArticle u-wp">
  <div class="row">
    <div class="col-md-12">
      <div class="SearchArticle-count">
        <!-- <p>Showing 8 results for “mobile legends”, “All”</p> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="SearchArticle-title">
        {{ "SEARCH.PAGE_SECTION.ARTICLES" | translate }}
      </h3>
      <div class="SearchArticle-list">
        <app-article-item *ngFor="let item of (homeService.searchedArticle | async)?.docs" [data]="item">
        </app-article-item>

        <p *ngIf="(homeService.searchedArticle | async)?.docs ==0" class="SearchArticle-message">
          {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
        </p>
      </div>
    </div>
  </div>
  <!-- <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination> -->
</section>
