@import "shared";

$--Jumbotron-bg-background: url(/assets/images/Home/top2.png) center 22%
  no-repeat;

:host {
  @extend %u-dfCenterCenter;
  min-height: px2vw-xl(500px);
  width: 100%;
  position: relative;
  overflow: hidden;

  @include lg {
    min-height: px2vw-lg(500px);
  }

  @include md {
    min-height: px2vw-md(500px);
    padding: 0 px2vw-md(20px);
  }

  @include sm {
    min-height: px2vw-sm(500px);
    padding: 0 px2vw-sm(20px);
  }
}

.Jumbotron {
  &-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--black-dark9);
    }
  }

  &-content {
    position: relative;
  }

  &-label {
    top: px2vw-xl(73px);
    font-size: px2vw-xl(40px);
    padding: px2vw-xl(8px) px2vw-xl(5px) px2vw-xl(8px) px2vw-xl(29px);
    color: var(--white-high);
    position: absolute;
    left: 0;
    font-family: "maxis-regular";

    @include lg {
      top: px2vw-lg(73px);
      font-size: px2vw-lg(62px);
      padding: px2vw-lg(8px) px2vw-lg(5px) px2vw-lg(8px) px2vw-lg(29px);
    }

    @include md {
      top: px2vw-md(73px);
      font-size: px2vw-md(62px);
      padding: px2vw-md(8px) px2vw-md(5px) px2vw-md(8px) px2vw-md(29px);
    }

    @include sm {
      top: px2vw-sm(73px);
      font-size: px2vw-sm(62px);
      padding: px2vw-sm(8px) px2vw-sm(5px) px2vw-sm(8px) px2vw-sm(29px);
    }
  }

  &-title {
    color: var(--white-high);
  }

  &-subtitle {
    color: var(--white-high);
  }

  &-katty {
    @extend %u-dfCenterBtw;
    left: 5%;
    bottom: 12%;
    position: absolute;

    @include md {
      bottom: 5%;
    }

    @include sm {
      left: 25%;
    }

    img {
      width: px2vw-xl(100px);
      height: px2vw-xl(100px);
      margin-right: px2vw-xl(22px);
      border-radius: 50%;
      overflow: hidden;

      @include lg {
        width: px2vw-lg(100px);
        height: px2vw-lg(100px);
        margin-right: px2vw-lg(22px);
      }

      @include md {
        width: px2vw-md(100px);
        height: px2vw-md(100px);
        margin-right: px2vw-md(22px);
      }

      @include sm {
        width: px2vw-sm(100px);
        height: px2vw-sm(100px);
        margin-right: px2vw-sm(22px);
      }
    }
  }

  &-info {
    color: var(--white-high);
    max-width: px2vw-xl(1100px);
    padding: px2vw-xl(60px) px2vw-xl(100px) 0;
    text-align: center;
    margin: 0 auto;

    @include lg {
      max-width: px2vw-lg(1100px);
      padding: px2vw-xl(60px) px2vw-lg(100px) 0;
    }

    @include md {
      max-width: px2vw-md(1100px);
      padding: px2vw-xl(140px) px2vw-md(40px);
    }

    @include sm {
      max-width: px2vw-sm(1100px);
      padding: px2vw-xl(140px) px2vw-sm(40px);
    }

    h2 {
      margin-bottom: px2vw-xl(40px);

      @include lg {
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
      }
    }

    &-dateTitle {
      margin-bottom: px2vw-xl(20px);

      @include lg {
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }
    }
  }
}
