@import "shared";

:host {
  display: block;
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(24px);
  }
}

.MatchSeason-header {
  margin-bottom: px2vw-xl(30px);

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }

  &-link {
  }

  &-button {
    background-color: var(--burnt-orange);
    line-height: 1.15;
  }
}

.MatchSeason-wrapper {
  @include md {
    flex-direction: column;
  }
}

.MatchSeason-left {
  margin-right: px2vw-xl(24px);
  width: px2vw-xl(900px);
  flex-shrink: 0;

  @include lg {
    margin-right: px2vw-lg(24px);
    width: px2vw-lg(750px);
  }

  @include md {
    margin-right: 0;
    margin-bottom: px2vw-md(30px);
    width: 100%;
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }
}

.MatchSeason-banner {
  flex-direction: column;
  height: px2vw-xl(520px);
  width: 100%;
  margin-bottom: px2vw-xl(20px);
  padding: px2vw-xl(60px);
  background-size: cover;
  background-color: var(--base-black-pearl);

  @include lg {
    margin-bottom: px2vw-lg(20px);
    height: px2vw-lg(392px);
    padding: px2vw-lg(35px);
  }

  @include md {
    margin-bottom: px2vw-md(20px);
    height: px2vw-md(392px);
    padding: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(20px);
    height: px2vw-sm(284px);
    padding: px2vw-sm(20px);
  }

  &-title {
    margin-bottom: px2vw-xl(17px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(17px);
    }

    @include md {
      margin-bottom: px2vw-md(17px);
    }

    @include sm {
      margin-bottom: px2vw-sm(17px);
    }
  }

  &-text {
    margin-bottom: 0;
    font-size: px2vw-xl(20px);
    color: var(--base-white);
    line-height: 1.2;

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }
  }
}

.MatchSeason-table {
  .global-scrollbar {
    overflow: hidden;
  }

  .player-sn {
    min-width: px2vw-xl(30px);

    @include lg {
      min-width: px2vw-lg(30px);
    }

    @include md {
      min-width: px2vw-md(30px);
    }

    @include sm {
      min-width: px2vw-sm(30px);
    }
  }

  .player-image {
    margin-left: px2vw-xl(30px);
    border-radius: 50%;
    height: px2vw-xl(62px);
    width: px2vw-xl(62px);
    object-fit: cover;

    @include lg {
      margin-left: px2vw-lg(20px);
      height: px2vw-lg(62px);
      width: px2vw-lg(62px);
    }

    @include md {
      margin-left: px2vw-md(15px);
      height: px2vw-md(62px);
      width: px2vw-md(62px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
      height: px2vw-sm(62px);
      width: px2vw-sm(62px);
    }
  }

  ::ng-deep {
    .datatable-row-center {
      display: flex;
    }

    .datatable-header-cell {
      padding: px2vw-xl(20px) 0;

      @include lg {
        padding: px2vw-lg(20px) 0;
      }

      @include md {
        padding: px2vw-md(20px) 0;
      }

      @include sm {
        padding: px2vw-sm(20px) 0;
      }

      // SN
      &:first-child {
        display: flex;
        width: px2vw-xl(200px) !important;
        padding-left: px2vw-xl(35px);

        @include lg {
          width: px2vw-lg(170px) !important;
          padding-left: px2vw-lg(25px);
        }

        @include md {
          width: px2vw-md(150px) !important;
          padding-left: px2vw-md(15px);
        }

        @include sm {
          width: px2vw-sm(120px) !important;
          padding-left: px2vw-sm(5px);
        }
      }

      // Player Name
      &:nth-child(2) {
        display: flex;
        width: px2vw-xl(300px) !important;

        @include lg {
          width: px2vw-lg(275px) !important;
        }

        @include md {
          width: px2vw-md(270px) !important;
        }

        @include sm {
          width: px2vw-sm(200px) !important;
        }
      }

      // Games
      &:nth-child(3) {
        width: px2vw-xl(150px) !important;

        @include lg {
          width: px2vw-lg(100px) !important;
        }

        @include md {
          width: px2vw-md(100px) !important;
        }

        @include sm {
          width: px2vw-sm(70px) !important;
        }
      }

      // Wins
      &:nth-child(4) {
        width: px2vw-xl(120px) !important;

        @include lg {
          width: px2vw-lg(100px) !important;
        }

        @include md {
          width: px2vw-md(100px) !important;
        }

        @include sm {
          width: px2vw-sm(70px) !important;
        }
      }

      // Points
      &:nth-child(5) {
        width: px2vw-xl(130px) !important;

        @include lg {
          width: px2vw-lg(100px) !important;
        }

        @include md {
          width: px2vw-md(100px) !important;
        }

        @include sm {
          width: px2vw-sm(70px) !important;
        }

        .datatable-header-cell-template-wrap {
          justify-content: flex-end;
        }
      }
    }

    .datatable-header-cell-label {
      @extend %global-Text2;
      color: var(--base-submarine);
    }

    .datatable-body-cell {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: auto !important;
      padding: px2vw-xl(18px) 0;

      @include lg {
        padding: px2vw-lg(18px) 0;
      }

      @include md {
        padding: px2vw-md(18px) 0;
      }

      @include sm {
        padding: px2vw-sm(18px) 0;
      }

      // SN
      &:first-child {
        width: px2vw-xl(200px) !important;
        padding-left: px2vw-xl(35px);

        @include lg {
          width: px2vw-lg(170px) !important;
          padding-left: px2vw-lg(25px);
        }

        @include md {
          width: px2vw-md(150px) !important;
          padding-left: px2vw-md(15px);
        }

        @include sm {
          width: px2vw-sm(120px) !important;
          padding-left: px2vw-sm(5px);
        }
      }

      // Player Name
      &:nth-child(2) {
        display: flex;
        width: px2vw-xl(300px) !important;

        @include lg {
          width: px2vw-lg(275px) !important;
        }

        @include md {
          width: px2vw-md(270px) !important;
        }

        @include sm {
          width: px2vw-sm(200px) !important;
        }

        .datatable-body-cell-label {
          display: flex;
        }
      }

      // Games
      &:nth-child(3) {
        width: px2vw-xl(150px) !important;

        @include lg {
          width: px2vw-lg(100px) !important;
        }

        @include md {
          width: px2vw-md(100px) !important;
        }

        @include sm {
          width: px2vw-sm(70px) !important;
        }
      }

      // Wins
      &:nth-child(4) {
        width: px2vw-xl(120px) !important;

        @include lg {
          width: px2vw-lg(100px) !important;
        }

        @include md {
          width: px2vw-md(100px) !important;
        }

        @include sm {
          width: px2vw-sm(70px) !important;
        }
      }

      // Points
      &:nth-child(5) {
        width: px2vw-xl(130px) !important;

        @include lg {
          width: px2vw-lg(100px) !important;
        }

        @include md {
          width: px2vw-md(100px) !important;
        }

        @include sm {
          width: px2vw-sm(70px) !important;
        }

        .datatable-header-cell-template-wrap {
          justify-content: center;
        }
      }
    }

    .datatable-body-cell-label {
      padding: 0;
    }

    .pager {
      display: none;
    }

    // Solves the problem with freezes on chrome
    .datatable-row-group {
      will-change: transform;
    }
  }
}

.MatchSeason-right {
  flex-grow: 1;

  @include lg {
    width: 100%;
  }
}

.MatchSeason-sectionA {
  margin-bottom: px2vw-xl(16px);

  @include lg {
    margin-bottom: px2vw-lg(16px);
  }

  @include md {
    margin-bottom: px2vw-md(16px);
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
  }

  &-card-image-block {
    height: px2vw-xl(232px);
    width: 100%;
    background-size: cover;
    background-position: top;
    background-color: var(--base-black-pearl);

    @include lg {
      height: px2vw-lg(232px);
    }

    @include md {
      height: px2vw-md(232px);
    }

    @include sm {
      height: px2vw-sm(232px);
    }
  }

  &-card-icon {
    max-height: px2vw-xl(90px);
    max-width: px2vw-xl(242px);

    @include lg {
      max-height: px2vw-lg(90px);
      max-width: px2vw-lg(242px);
    }

    @include md {
      max-height: px2vw-md(70px);
      max-width: px2vw-md(200px);
    }

    @include sm {
      max-height: px2vw-sm(90px);
      max-width: px2vw-sm(242px);
    }
  }
}

.MatchSeason-sectionB {
  margin-bottom: px2vw-xl(40px);
  flex-direction: column;

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }

  &-list {
    margin-bottom: px2vw-xl(40px);
    width: 100%;

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-item {
    @extend %global-Text2;
    display: flex;
    margin-bottom: px2vw-xl(10px);

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-item-subtitle {
    margin-right: px2vw-xl(7px);
    font-family: "stc-forward-bold", sans-serif;

    @include lg {
      margin-right: px2vw-lg(7px);
    }

    @include md {
      margin-right: px2vw-md(7px);
    }

    @include sm {
      margin-right: px2vw-sm(7px);
    }
  }

  &-item-text {
    color: var(--base-submarine);
  }

  &-button {
    background-color: var(--burnt-orange);
    line-height: 1.15;
  }
}

.MatchSeason-sectionC {
  &-matches {
  }

  &-match {
    border-bottom: 2px solid var(--base-white-dark);
    padding: px2vw-xl(20px);

    @include lg {
      padding: px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }

  &-match-details {
    display: flex;
    margin-right: px2vw-xl(12px);

    @include lg {
      margin-right: px2vw-lg(12px);
    }

    @include md {
      margin-right: px2vw-md(12px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
    }
  }

  &-match-team {
    display: flex;
    flex-direction: column;

    &.teamA {
      align-items: flex-end;
    }

    &.teamB {
      align-items: flex-start;
    }
  }

  &-match-team-name {
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(18px);

    @include lg {
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(18px);
    }

    @include md {
      font-size: px2vw-md(14px);
      line-height: px2vw-md(18px);
    }

    @include sm {
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(18px);
    }
  }

  &-match-team-score {
    @extend %global-Text2;
    font-family: "stc-forward-bold", sans-serif;
  }

  &-match-war {
    flex-direction: column;
    margin: 0 px2vw-xl(15px);

    @include lg {
      margin: 0 px2vw-lg(15px);
    }

    @include md {
      margin: 0 px2vw-md(15px);
    }

    @include sm {
      margin: 0 px2vw-sm(15px);
    }
  }

  &-match-vs {
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(18px);
    color: var(--burnt-orange);

    @include lg {
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(18px);
    }

    @include md {
      font-size: px2vw-md(14px);
      line-height: px2vw-md(18px);
    }

    @include sm {
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(18px);
    }
  }

  &-match-dots {
    @extend %global-Text2;
    font-family: "stc-forward-bold", sans-serif;
  }

  &-match-score {
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(24px);
    color: var(--base-submarine);

    @include lg {
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(14px);
      line-height: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(24px);
    }
  }
}

.MatchSeason-heading {
  @extend %global-Title3;
  margin-bottom: 0;
  border-radius: 4px;
  width: 100%;
  padding: px2vw-xl(23px) px2vw-xl(25px);
  font-size: px2vw-xl(20px);
  background-color: var(--base-gainsboro);
  line-height: 1;

  @include lg {
    padding: px2vw-lg(23px) px2vw-lg(25px);
    font-size: px2vw-lg(20px);
  }

  @include md {
    padding: px2vw-md(23px) px2vw-md(25px);
    font-size: px2vw-md(20px);
  }

  @include sm {
    padding: px2vw-sm(23px) px2vw-sm(25px);
    font-size: px2vw-sm(20px);
  }

  &.game {
    margin-bottom: px2vw-xl(13px);

    @include lg {
      margin-bottom: px2vw-lg(13px);
    }

    @include md {
      margin-bottom: px2vw-md(13px);
    }

    @include sm {
      margin-bottom: px2vw-sm(13px);
    }
  }

  &.details {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }
}
