<div class="PrivacyPolicy u-wp">
  <header class="PrivacyPolicy-header">
    <button class="PrivacyPolicy-header-button button-icon-secondary" (click)="goBack()">
      <mat-icon> arrow_back </mat-icon>
      <span>
        {{ "BUTTON.BACK" | translate }}
      </span>
    </button>
  </header>
  <div class="row">
    <div class="overviewlist col-4">
      <ul class="list ">
        <li><a tabindex="1" (click)="changevalues('overview')">Overview & How information is collected</a></li><br />
        <li><a tabindex="1" (click)="changevalues('information')">Information which we may collect about you</a></li>
        <br />
        <li><a tabindex="1" (click)="changevalues('shareinformation')">How we use and share information</a></li><br />
        <li><a tabindex="1" (click)="changevalues('consumer')">Consumer control and opt-out options</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('cookies')">Cookies</a></li><br />
        <li><a tabindex="1" (click)="changevalues('dataretention')">Data retention</a></li><br />
        <li><a tabindex="1" (click)="changevalues('children')">Children</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('protection')">Information protection and security</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('compliance')">Compliance with legal processes</a></li><br />
        <li><a tabindex="1" (click)="changevalues('others')">Others</a></li><br />
        <li><a tabindex="1" (click)="changevalues('queries')">Queries / Notices / Complaints</a></li>
      </ul>

    </div>
    <div class="col-8">
      <section class="privacypolicy">
        <h1 class="PrivacyPolicy-title">
          {{ "PRIVACY_POLICY.TITLE" | translate }}
        </h1><br>
        <p class="PrivacyPolicy-subtitle">Updated on August 15th, 2021.</p>
        <p class="description" *ngIf="privacypolicy =='overview'">
          This privacy policy (“Privacy Policy”) applies to your use of the Services provided by Paidia Esports Inc. and
          explains what information we collect from you and what we do with this information.
          This Privacy Policy applies to all our interactions with you as well as other of the Services that has a
          reference or link to this Privacy Policy.
        </p>
        <p class="description1" *ngIf="privacypolicy =='overview'">
          We recognise the importance of safeguarding your personal data and take our responsibility to properly manage,
          protect and process your personal data seriously. We will comply with the Canadian and General Data Protection
          Regulation (GDPR) and applicable data protection and privacy laws.
        </p>
        <p class="description2" *ngIf="privacypolicy =='overview'">
          Unless otherwise defined herein, capitalised terms used in this Privacy Policy shall have the same meanings as
          those defined in the Terms and Conditions (“<span style="color: var(--white)">Terms</span>”).
        </p>

        <p class="subdescription" *ngIf="privacypolicy =='overview'">Please read this Privacy Policy carefully and
          should you have any questions about how we manage, protect, or process your personal data,
          please do not hesitate to contact our Data Protection Officer at the contact details provided below.
          By continuing to use our Services, you are deemed to have fully consented to the terms of this Privacy Policy.
          Please note that certain features of the Services require the provision of your personal data, and where you
          do not provide such requested information, we may not be able to provide you with the Services.
          Please notify us and stop using our Services immediately if you do not consent to this Privacy Policy.
        </p>
        <div class="overview" *ngIf="privacypolicy =='overview'">
          <h4 class="overview-title">
            1. How information is collected:
          </h4>
          <p class="overview-paragraph">
            Information that we collect typically comprises information that:
          </p>
          <ol type="a" class="overview-paragraph-list alpha" style="margin-left: 18px;">
            <li>you voluntarily provide to us such as by registering, creating an account, or signing up for email
              alerts.</li><br />
            <li>we automatically collect when you use the Services such as thorough cookies or our software.</li>
          </ol>
          <div class="paragraph">
            <p class="overview-paragraph">The type of information that we collect is described in more detail below, and
              some of it may qualify</p>
            <p style="font-family:'redhat-regular';color: rgba(255, 255, 255, 0.6);bottom: 15px;position: relative;">as
              personal data on a case-by-case basis.</p>
          </div>
        </div>

        <div class="policycontent">
          <div class="information" *ngIf="privacypolicy =='information'">
            <h4 class="overview-title">2. Information which we may collect about you:</h4>
            <p class="informationcontent">
              We collect and process the following information which may include your personal data.
              Personal data refers to any information that relates directly or indirectly to an individual,
              who is identified or identifiable from that information or from that and other information in
              the possession of Paidiagaming.com or any third parties engaged by Paidiagaming.com
            </p>
            <p class="informationdescription">
              The types of personal data we collect may include, but is not limited to your name, address,
              age, occupation, employment status, marital status, parental status, gender, address, national
              identity card or passport, photographic identification, other contact details, place of birth and
              your transaction history.
            </p>
            <h4 style="font-family:'redhat-regular';    position: relative;
              top: 30px;color: rgba(255, 255, 255, 0.6);font-size: 15px; ">
              The information which we may collect from you may comprise the following:
            </h4>

            <ol class="information-overview-paragraph-list alpha" style="margin-left: 20px;">
              <li>
                Registration and access information: In order to access restricted sections of the Services,
                you are required to provide information including but not limited to username, email, password,
                country, date of birth, first name, last name, contact numbers (e.g. for provision of OTP
                services) and national identity card / passport details. When you sign up or login to utilise
                the Services, we collect information including but not limited to type of device used,
                IP address, geolocation details including region, country, state, city, type of browser used,
                and identifiers associated with your devices.
              </li><br />
              <li>
                Optional information: At your election, following registration you may add the following information to
                your profile by using your User Account settings: full address, time zone, avatar picture, Twitch
                account, TikTok Account, Facebook profile, Twitter profile, YouTube profile, Discord profile, Google
                profile, gaming preference, game platform, game genre, preferred content type, short personal biography,
                marital status, and parental status.
              </li><br />
              <Li>
                Third party platforms information: You are also able to connect your User Account to third party
                platforms Steam, XBOX, and PSN, in which case we may collect information in respect of each third-party
                platform including but not limited to username/nickname, User ID, an access token, to allow us to
                connect to your third-party account and to ensure we are connecting to the correct third-party account,
                and a refresh token, which allows us to request additional access tokens, and therefore re-connect to
                third party accounts, until the refresh token is withdrawn (if, for example, you decide to disconnect
                your account from the third-party platform).
              </Li><br />
              <li>
                Games information: If you choose to link a game to your User Account, we may collect the following
                information in respect of each game including but not limited to nickname, ID, rank/skill level, which
                is based on your previous performance in games, basic profile statistics, bans information, and list of
                friends. Likewise, when you play a game we may collect certain information including but not limited to
                match statistics, match results, match replays, and event logs, which relate to your in-game behaviour.
                If you have installed anti-cheat software, we may also collect anti-cheat logs. This Privacy Policy
                should be read in conjunction with any other terms or notices applied to anti-cheat software.
              </li><br />
              <li>
                Attribution and contact information: When you sign up, we may record the IP address and/or web page from
                which you have accessed the Services. Likewise, when you contact us or use the support centre, we may
                ask you for, or you may submit, certain contact information to us whenever you contact us through the
                support centre. This may include but not limited to your email address, your phone number, and your
                name.
              </li><br />
              <li>
                Analytics information: We may collect technical information about your use of the Services through the
                use of tracking technologies and analytics. Information we may collect includes, but not limited to, how
                many times you utilise the Services, which pages you go to, traffic data, your IP and MAC address, your
                internet service provider, your console ID, your device operating system and version, your device brand
                and model, game play attempts, progression and results, session client time start, end and duration, the
                country of your device, and identification of crashes and defects.
              </li><br />
              <li>
                Mailing list information: We may ask you for, or you may submit, certain contact information to us
                whenever you sign up to our mailing list. This may include, but not limited to your email address and
                your name
              </li><br />
              <li>
                Payment information: When you make payment when utilising the Services, you will be asked to submit
                information to our payment processors including but not limited name and surname, email address, date of
                birth (if required), billing information.
              </li>

            </ol>
          </div>

          <div class="shareinformation" *ngIf="privacypolicy =='shareinformation'">
            <h4 class="overview-title">3. How we use and share information:</h4>
            <p class="description">
              We use and share the information we collect about you (either individually or in combination with other
              information as described in this Privacy Policy) with third parties such as our subsidiaries, affiliates,
              related corporations, partners, service providers, vendors or other third parties to help us implement,
              provide, improve, customise, analyse, and market the Services. Such third parties include such parties
              engaged to help support the Services by performing certain services on our behalf, for the purposes set
              out below, and providers of customer and technical support services, and technology development partners,
              and shall for the avoidance of doubt expressly include Paidia Esports Inc.
            </p>
            <p class="description">
              In certain cases, we may also share information we collect about you to provide assistance to law
              enforcement and governmental or regulatory authorities upon their instructions or for compliance with the
              laws of Canada court orders, or any other applicable laws.
            </p>
            <h4 style="font-family:'redhat-regular';color: rgba(255, 255, 255, 0.6);font-size: 15px; ">
              We or third-party data processor acting on our behalf, including but not limited to Paidia Esports Inc.
              may use information about you for the following purposes:
            </h4>
            <ol class="overview-paragraph-list alpha" style="margin-left: 25px;">
              <li>
                providing, maintaining, developing and improving your experience of the Services;
              </li><br />
              <li>
                improving and developing the content offered via the Services;
              </li><br />
              <li>
                personalising the Services based on your usage;
              </li><br />
              <li>
                providing relevant updates and upgrades;
              </li><br />
              <li>
                identifying, monitoring and improving technical issues with the Services;
              </li><br />
              <li>
                identifying any attempted circumvention of device security and taking action to stop such circumvention;
              </li><br />
              <li>
                protecting intellectual property rights (IPRs);
              </li><br />
              <li>
                providing technical support;
              </li><br />
              <li>
                reporting and analysis;
              </li><br />
              <li>
                providing device data to our affiliate internet service providers for inventory management, content
                optimisation, connection checking, remote customer support and account management purposes;
              </li><br />
              <li>
                providing third parties with aggregated information (which does not contain any personal data) for the
                development and/or promotion of their products or services;
              </li><br />
              <li>
                responding to your requests via our support centres;
              </li><br />
              <li>
                compliance with the terms of the Privacy Policy, Terms and applicable laws.
              </li><br />
            </ol>
            <p class="description">
              We will use and store information about you as set out in this Privacy Policy for so long as you use the
              Services and for as long as is necessary for the purposes set out here after you cease using the Services.
            </p>
            <p class="description">
              We will share information about you with third parties only in the ways that are described in this Privacy
              Policy and under strict duty of safeguards and confidentiality when processing your personal data.
            </p>
            <ol class="overview-paragraph-list alpha" style="margin-left: 20px;">
              <li>
                Affiliates, group members, personnel, suppliers or subcontractors: We disclose information about you to
                any member of our group (which means our affiliates, parent company, branches, subsidiaries, our
                ultimate holding company and its subsidiaries), our personnel, partners, suppliers or subcontractors
                insofar as it is reasonably necessary for the purposes set out in this Privacy Policy.
              </li><br />
              <li>
                Service providers: We share information about you with service providers that we have engaged to help
                support our provision of the Services by performing certain services on our behalf and under our
                instructions. These third parties are not authorised by us to use or disclose personal information
                except as necessary to perform the services on our behalf or comply with legal requirements.
              </li><br />
              <li>
                Merger or acquisition: If we are involved in a merger, acquisition, or sale of all or a portion of its
                assets (with relevance to your personal data), you will be notified via, account message and/or a
                prominent notice on our website of any change in ownership or uses of this information, as well as any
                choices you may have regarding this information.
              </li><br />
              <li>
                Required by law: In addition, we may disclose information about you to the extent that we are required
                to do so by law (which may include to government bodies and law enforcement agencies); in connection
                with any legal proceedings or prospective legal proceedings; in order to establish, exercise or defend
                our legal rights (including providing information to others for the purposes of fraud prevention); and
                to assist any government department or regulatory agency to prepare statistics or research provided that
                such personal data is not processed for any other purpose and that the resulting statistics or the
                results of the research are not made available in a form which identifies the data subject.
              </li><br />
              <li>
                Enforcement: We may also disclose information about you to third parties in order to enforce or apply
                the terms of agreements, to investigate potential breaches, or to protect the rights, property or safety
                of us, our customers, or others.
              </li><br />
              <li>
                Social features: We may share, or provide you with opportunities to share, information about you with
                other Users. We also provide services that allow our Users to communicate with Paidia Esports Inc. and
                each other, in which case personal information may be shared and account IDs may be displayed. For
                example, we may share information about you with your social contacts when you and they use the same
                social features of our games and applications.
              </li><br />
            </ol>
            <p class="description">
              Such third parties processing your personal data either on our behalf or otherwise may be located in a
              different country from the point of collection of your personal data (e.g. transfer to servers located
              outside of the country you are accessing the Services from), or may have multiple physical locations and
              backups (e.g. cloud based services).
            </p>
            <p class="description">
              Where your personal data must be shared with third parties in circumstances that are not reasonably
              contemplated herein or within the normal course of our dealings with you, we would usually first seek your
              consent unless the disclosure:
            </p>
            <ol class="overview-paragraph-list alpha" style="margin-left: 25px;">
              <li>
                is required or authorised based on the applicable laws and/or regulations;
              </li><br />
              <li>
                is clearly in your interests, and if consent cannot be obtained in a timely way;
              </li><br />
              <li>
                is necessary to respond to an emergency that threatens the life, health or safety of yourself or another
                individual;
              </li><br />
              <li>
                is necessary for any investigation or proceedings;
              </li><br />
              <li>
                is required by a law enforcement agency;
              </li><br />
              <li>
                is to a government department or public agency; and/or
              </li><br />
              <li>
                where such disclosure without your consent is permitted by law.
              </li><br />
            </ol>
            <p class="description">
              Where we disclose your personal data to third parties, we will employ our best efforts to require such
              third parties to protect your personal data and meet our data security standards, including ensuring they
              are bound by legally enforceable obligations to comply with all applicable personal data protection
              requirements while such personal data remains in its possession or under its control. We may also elect to
              anonymise your personal data before sharing it with third parties.
            </p>
          </div>

          <div class="consumer" *ngIf="privacypolicy =='consumer'">
            <h4 class="overview-title">
              4. Consumer control and opt-out options:
            </h4>
            <p class="overview-paragraph">
              If you do not wish to receive promotional or other marketing material from us or third parties then you
              can opt-out by clicking unsubscribe in any of our communications or changing your account settings via the
              Services at any time. Alternatively, you can contact us at the contact details provided below and let us
              know that you no longer wish to receive promotional or other marketing material from us or third parties.
            </p>
            <h4 style="font-family:'redhat-regular';color: rgba(255, 255, 255, 0.6);font-size: 15px; ">
              User rights in relation to personal data which we process related to you:
            </h4>
            <p class="overview-paragraph">
              You have the following rights over the way we process personal data relating to you. We aim to comply
              without undue delay, and within 14 working days at the latest. To make a request, please let us know by
              sending an email to the contact details provided below.
            </p>
            <ol class="overview-paragraph-list">
              <p class="overview-paragraph">
                Ask for a copy of the personal data we are processing about you and have inaccuracies corrected: we will
                use reasonable efforts to the extent required by law to supply, correct or delete personal information
                held about you on our files (and with any third parties to whom it has been disclosed to).
              </p><br />
              <ol>
                <p class="overview-paragraph">
                  Object to our processing of personal data related to you: you can ask us to restrict, stop processing,
                  to delete your personal data if:
                </p><br />
                <ol class="overview-paragraph-list " style="margin-left: 20px;">
                  <li>
                    you consented to our processing the personal data, and have withdrawn that consent;
                  </li><br />
                  <li>
                    we no longer need to process that personal data for the reason it was collected;
                  </li><br />
                  <li>
                    we are processing that personal data because it is in the public interest or it is in order to
                    pursue a legitimate interest of ours or a third party, you don’t agree with that processing, and
                    there is no overriding legitimate interest for us to continue processing it.
                  </li><br />
                  <li>
                    the personal data was unlawfully processed; and/or
                  </li><br />
                  <li>
                    you need the personal data to be deleted in order to comply with legal obligations or the personal
                    data is processed in relation to offering a service to a child.
                  </li><br />
                </ol>

              </ol>

              <p class="overview-paragraph">
                Please note that certain features of the Services require the provision of your personal data, and where
                you do not provide such requested information or should you object to or withdraw your consent, we may
                not be able to provide you with the Services.
              </p>
            </ol>
          </div>

          <div class="cookies" *ngIf="privacypolicy =='cookies'">
            <p class="overview-paragraph">
              Information that we collect typically comprises information that:
            </p>
            <ol class="overview-paragraph-list alpha" style="margin-left: 20px;">
              <li>
                Authentication: to log you into the Services and keep you logged in.
              </li><br />
              <li>
                Preferences: to remember information about you such as your preferred language and configuration.
              </li><br />
              <li>
                Analytics: to help us understand how you use the Services, and how often, so we can improve it to
                deliver a better experience for our Users.
              </li><br />
            </ol>
            <p class="overview-paragraph">
              The information we obtain from our use of cookies will not usually contain your personal data. Although we
              may obtain information about your device such as your IP address, your browser and/or other internet log
              information, this will not usually identify you personally.
            </p>
            <p class="overview-paragraph">
              Please note that if you choose to disable cookies, or similar technologies, on your device you may be
              unable to make full use of the Services.
            </p>
            <p class="overview-paragraph">
              We work with third parties who may also set cookies on the Services, for example Google Analytics,
              Facebook, Twitter, Twitch, Discord, YouTube, and our payment partners including PayPal Payments and Vimeo
              which we use to display video content, enable social networking functionality and sharing, and to monitor
              how visitors use the Services. These third-party suppliers are responsible for the cookies they set on
              your device.
            </p>


          </div>

          <div class="dataretention" *ngIf="privacypolicy =='dataretention'">
            <h4 class="overview-title">
              6. Data retention
            </h4>
            <p class="overview-paragraph">
              We will hold information about you on our systems for as long as is necessary for the relevant service, or
              as otherwise described in this Privacy Policy.
            </p>
          </div>

          <div class="children" *ngIf="privacypolicy =='children'">
            <h4 class="overview-title">
              7. Children
            </h4>
            <p class="overview-paragraph">
              We do not offer or provide the Services to knowingly solicit information from or market to children under
              the age of 18. Our Terms prohibit Users aged under 18 years from accessing the Services unless they have
              obtained consent from their parents or legal guardians. In the event we learn that we have collected
              personal information from a child under 10 years of age or under 18 years of age without permission we
              will be entitled to delete that information. If you believe that we might have any information from or
              about a child in contradiction with this provision, please contact us at the contact details provided
              below.
            </p>
          </div>

          <div class="protection" *ngIf="privacypolicy =='protection'">
            <h4 class="overview-title">
              8. Information protection and security
            </h4>
            <p class="overview-paragraph">
              In order to prevent data access by unauthorised parties, maintain data accuracy and ensure proper use of
              information, we are committed to safeguard the security by using physical, electronic and managerial
              procedures to protect the information we hold.
            </p>
          </div>

          <div class="compliance" *ngIf="privacypolicy =='compliance'">
            <h4 class="overview-title">
              9. Compliance with legal processes
            </h4>
            <p class="overview-paragraph">
              We can disclose personal information about you if ordered by law or it is considered that such a step is
              necessary to:
            </p>
            <ol class="overview-paragraph-list alpha" style="margin-left: 20px;">
              <li>
                comply with the law or court process;
              </li><br />
              <li>
                protect and defend our copyright and property rights (including IPRs);
              </li><br />
              <li>
                protect against abuse or unauthorised use of the Services;
              </li><br />
              <li>
                protect personal or property security against our Users or the public (among other things, this means
                that if you provide false information or pretend to be someone else, we can convey information about you
                as part of an investigation into your actions).
              </li><br />
            </ol>
          </div>

          <div class="others" *ngIf="privacypolicy =='others'">
            <h4 class="overview-title">
              10. Others
            </h4>
            <p class="overview-paragraph">
              The terms of this Privacy Policy can be changed or added any time. Any changes will be displayed on this
              page. Therefore, we encourage you to access this page periodically to find about the changes (if any). The
              English version of this agreement will always take precedence.
            </p>
            <p class="overview-paragraph">
              If you have provided Paidia Esports Inc. with personal data of a third party, please ensure that you have
              obtained the third party’s consent in relation to the processing and disclosure of their personal data and
              that this Privacy Policy is brought to the attention of any such third party.
            </p>
          </div>

          <div class="queries" *ngIf="privacypolicy =='queries'">
            <h4 class="overview-title">
              11. Queries / Notices / Complaints
            </h4>
            <p class="overview-paragraph">
              If you have any questions / comments / requests / notices in relation to this Privacy Policy, or if you do
              not consent to any of the terms of this Privacy Policy, our use of your personal data or have any
              complaint or grievance regarding about how we handle your personal data, please contact us at
              hello@paidiagaming.com
            </p>
          </div>
        </div>


        <!-- <h3 class="Section-title" style="font-family: 'archivo';font-style: normal; size: 34px;">
          SECTION TITLE
        </h3>

        <ul>
          <li>
            <P class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ex numquam autem nam consequuntur,
              consequatur veritatis velit minus reprehenderit delectus in ratione qui impedit. Quibusdam perferendis veritatis voluptatum tempora aspernatur minus ex, reprehenderit, quas fuga, error odio voluptates quam inventore?</P>
            </li>
        </ul>
      <ol type="1" class="description" style="font-family: 'redhat-regular';
      font-style: normal;
      font-weight: normal;">
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
      </ol>
      <p class="description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis dolor suscipit perspiciatis
        inventore? Perferendis, cupiditate et! Veritatis tempora nesciunt odit corporis doloremque aperiam sit unde
        magni amet libero. Natus aperiam, consequuntur quos a reprehenderit maxime,
        ullam repellat cumque nisi blanditiis libero ea qui, ducimus facere labore quia adipisci accusamus?</p>

        <h3 class="Section-title"style="font-family: 'archivo';font-style: normal; size: 34px;">
         SECTION TITLE
        </h3>

        <ul>
          <li>
            <P class="description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ex numquam autem nam consequuntur,
              consequatur veritatis velit minus reprehenderit delectus in ratione qui impedit. Quibusdam perferendis veritatis voluptatum tempora aspernatur minus ex, reprehenderit, quas fuga, error odio voluptates quam inventore?</P>
            </li>
        </ul>
      <ol type="1" class="description" style="font-family: 'redhat-regular';
      font-style: normal;
      font-weight: normal;">
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
      </ol>
      <p class="description"  style="font-family: 'redhat-regular';
      font-style: normal;
      font-weight: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis dolor suscipit perspiciatis
        inventore? Perferendis, cupiditate et! Veritatis tempora nesciunt odit corporis doloremque aperiam sit
        unde magni amet libero. Natus aperiam, consequuntur quos a reprehenderit maxime,
        ullam repellat cumque nisi blanditiis libero ea qui, ducimus facere labore quia adipisci accusamus?</p> -->
      </section>
    </div>
  </div>


</div>