@import "shared";

:host {
  display: block;
}

.SearchVideo {
  &-title {
    position: relative;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }

    h3.d-inline-block {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size:px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: -0.5px;

      @include lg{
        font-size:px2vw-lg(24px);
        line-height: px2vw-lg(32px);
        
      }
      @include md{
        font-size:px2vw-md(24px);
        line-height: px2vw-md(32px);
        
      }
      @include sm{
        font-size:px2vw-sm(24px);
        line-height: px2vw-sm(32px);
       
      }
    }
  }

  &-seemore {
    position: absolute;
    right: 0px;
    margin-bottom: px2vw-xl(24px);
    color: var(--main-color);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: px2vw-xl(300px) px2vw-xl(300px) px2vw-xl(300px) px2vw-xl(300px);
    grid-auto-rows: 18x;
    grid-gap: px2vw-xl(18px);
    place-content: center;

    @include lg{
      grid-template-columns: px2vw-lg(300px) px2vw-lg(300px) px2vw-lg(300px) px2vw-lg(300px);
      grid-gap: px2vw-lg(18px);
    }
    @include md{
      grid-template-columns: px2vw-md(300px) px2vw-md(300px) px2vw-md(300px) px2vw-md(300px);
      grid-gap: px2vw-md(18px);
    }

    @include sm {
      grid-template-columns: 41.041736vw 41.041736vw;
      grid-auto-rows: 15x;
      grid-gap: px2vw-sm(16px);

    }
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--tertiary-color);
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size:px2vw-xl(20px);
    line-height: px2vw-xl(28px);

    @include lg{
      font-size:px2vw-lg(20px);
      line-height: px2vw-lg(28px);
      
    }
    @include md{
      font-size:px2vw-md(20px);
      line-height: px2vw-md(28px);
      
    }
    @include sm{
      font-size:px2vw-sm(20px);
      line-height: px2vw-sm(28px);
     
    }
  }
}

.cards {
  padding: 0;

  &-image {
    background-size: cover;
    margin-bottom: px2vw-xl(10px);
    height: px2vw-xl(160px);
    width: 100%;
    background-color: var(--black);
    border-radius: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      height: px2vw-lg(160px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      height: px2vw-md(160px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      height: px2vw-sm(160px);
    }
  }

  &-info {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: start;
    align-items: start;

    @include sm {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-left {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: start;
      align-items: start;

      @include sm {
        -webkit-align-items: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: px2vw-sm(16px);
      }

      .avatar {
        width: px2vw-xl(32px);
        height: px2vw-xl(32px);
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-top: px2vw-xl(6px);
        margin-right: px2vw-xl(8px);

        @include lg{
          width: px2vw-lg(32px);
          height: px2vw-lg(32px);
          margin-top: px2vw-lg(6px);
          margin-right: px2vw-lg(8px);

        }
        @include md{
          width: px2vw-md(32px);
          height: px2vw-md(32px);
          margin-top: px2vw-md(6px);
          margin-right: px2vw-md(8px);

        }
        @include sm{
          width: px2vw-sm(32px);
          height: px2vw-sm(32px);
          margin-top: px2vw-sm(6px);
          margin-right: px2vw-sm(8px);

        }

        img {
          position: absolute;
          width: 100%;

          top: 0;
          left: 0;
          object-fit: cover;
        }
      }

      .info {
        .name {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size:px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          margin-bottom: px2vw-xl(8px);
          color: var(--white);

          @include lg{
            font-size:px2vw-lg(16px);
            line-height: px2vw-lg(24px);
            margin-bottom: px2vw-lg(8px);
          }
          @include md{
            font-size:px2vw-md(16px);
            line-height: px2vw-md(24px);
            margin-bottom: px2vw-md(8px);
          }
          @include sm{
            font-size:px2vw-sm(14px);
            line-height: px2vw-sm(20px);
            margin-bottom: px2vw-sm(8px);
          }
        }

        .id-infomore {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size:px2vw-xl(14px);
          line-height: px2vw-xl(20px);
          color: var(--tolopea-color);
          margin-bottom: 0;

          @include lg{
            font-size:px2vw-lg(14px);
            line-height: px2vw-lg(20px);
            
          }
          @include md{
            font-size:px2vw-md(14px);
            line-height: px2vw-md(20px);
            
          }
          @include sm{
            font-size:px2vw-sm(14px);
            line-height: px2vw-sm(20px);
           
          }
        }
      }
    }

    &-right {
      @include sm {
        width: 100%;
      }

      .Position {
        width: 107px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;

        @include sm {
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          width: 100%;
        }

        .label {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size:px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--tolopea-color);
          display: inline-block;
          margin-right: px2vw-xl(24px);

          @include lg{
            font-size:px2vw-lg(16px);
            line-height: px2vw-lg(24px);
            margin-right: px2vw-lg(24px);
          }
          @include md{
            font-size:px2vw-md(16px);
            line-height: px2vw-md(24px);
            margin-right: px2vw-md(24px);
          }
          @include sm{
            font-size:px2vw-sm(14px);
            line-height: px2vw-sm(20px);
            margin-right: px2vw-sm(16px);
          }
          

          
        }

        .score {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size:px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          color: var(--white);

          @include lg{
            font-size:px2vw-lg(20px);
            line-height: px2vw-lg(28px);
          }
          @include md{
            font-size:px2vw-md(20px);
            line-height: px2vw-md(28px);
          }
          @include sm{
            font-size:px2vw-sm(20px);
            line-height: px2vw-sm(28px);
          }

          
        }
      }
    }
  }
}

.videoCard {
  &-item {
    margin-bottom: px2vw-xl(28px);
    @include lg{
      margin-bottom: px2vw-lg(28px);
    }
    @include md{
      margin-bottom: px2vw-md(28px);
    }
    @include sm {
      width: 100%;
    }
    .avatar {
      width: px2vw-xl(40px);
      height:px2vw-xl(40px);
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin-right: px2vw-xl(21px);
      @include lg {
        width: px2vw-lg(24px);
        height: px2vw-lg(24px);
        margin-right: px2vw-lg(8px);
      }
      @include md {
        width: px2vw-md(24px);
        height: px2vw-md(24px);
        margin-right: px2vw-md(8px);
      }
      @include sm {
        width: px2vw-md(32px);
        height: px2vw-md(32px);
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    .description {
      width: 100%;
      max-width: calc(100% - 61px);
      @include md {
        max-width: calc(100% - 32px);
      }
      @include sm {
        max-width: calc(100% - 40px);
      }
    }
    .endDay {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size:px2vw-xl(14px);
        line-height: px2vw-xl(20px);
      color: var(--tolopea-color);
      margin-bottom: px2vw-xl(4px);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @include lg{
        font-size:px2vw-lg(14px);
        line-height: px2vw-lg(20px);
        margin-bottom: px2vw-lg(4px);
      }
      @include md{
        font-size:px2vw-md(14px);
        line-height: px2vw-md(20px);
        margin-bottom: px2vw-md(4px);
      }
      @include sm{
        font-size:px2vw-sm(14px);
        line-height: px2vw-sm(20px);
        margin-bottom: px2vw-sm(4px);
      }
    }
    .title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size:px2vw-xl(16px);
        line-height: px2vw-xl(24px);
      color: var(--white);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: px2vw-xl(7px);

      @include lg{
        font-size:px2vw-lg(16px);
        line-height: px2vw-lg(24px);
        margin-bottom: px2vw-lg(7px);
      }
      @include md{
        font-size:px2vw-md(16px);
        line-height: px2vw-md(24px);
        margin-bottom: px2vw-md(7px);
      }
      @include sm{
        font-size:px2vw-sm(16px);
        line-height: px2vw-sm(24px);
        margin-bottom: px2vw-sm(7px);
      }
    }
    .text {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size:px2vw-xl(14px);
      line-height: px2vw-xl(20px);
      color: var(--tolopea-color);
      margin-bottom: 0;
      @include lg{
        font-size:px2vw-lg(14px);
        line-height: px2vw-lg(20px);
      }
      @include md{
        font-size:px2vw-md(14px);
        line-height: px2vw-md(20px);
      }
      @include sm{
        font-size:px2vw-sm(14px);
        line-height: px2vw-sm(20px);
      }
    }
  }
  &-thumbnail {
    width: 100%;
    height: px2vw-xl(151px);
    overflow: hidden;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: px2vw-xl(21px);
    border-radius: px2vw-xl(20px);

    @include sm {
      border-radius: px2vw-sm(60px);
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 1;
    }
  }
  &-description {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
