@import "shared";

.avatar{
  &-popup{
    padding: px2vw-xl(24px) px2vw-xl(60px);
    text-align: left;
  }
  &-fileUpload{
    display: none;
    &-label{
      width: 100%;
      min-width: px2vw-xl(844px);
      min-height: px2vw-xl(143px);
      text-align: center;
      padding: px2vw-xl(25px) 0;
      border: 1px solid var(--base-03);
      background-color: var(--base-05);
    }
    &-image{
      margin-bottom: px2vw-xl(15px);
      @include sm{
        margin-bottom: px2vw-sm(20px);
        margin-top: px2vw-sm(20px);
      }
    }
  }
  &-imagesWrapper{
      padding:px2vw-xl(15px) 0;
      margin: px2vw-xl(15px) 0;
      border-top: 1px solid var(--base-03);
      border-bottom: 1px solid var(--base-03);
  }
  &-avatarImages{
    width: px2vw-xl(80px);
    height: px2vw-xl(80px);
    margin-right:px2vw-xl(24px);
    @include border-radius(50%);
    @include sm{
      width: px2vw-sm(60px);
      height: px2vw-sm(60px);
    }
  }
}
.selectedAvatar {
  border: 2px solid var(--base-yellow-border);
}