<div class="ct-HeaderTop">
  <div class="BracketType">
    <div class="BracketType-container">
      <h2 class="BracketType-title global-Title3">
        {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.BRACKET_FORMAT" | translate }}
      </h2>
      <div class="ss-dlect-format">
        <h4 class="SelectTeams_header_label">
          {{
          "CREATE_TOURNAMENT.TOURNAMENT_NAME.BRACKET_FORMAT_SELECT"
          | translate
          }}
        </h4>
        <ul class="lists-cards">
          <ng-container *ngFor="
              let b of eSportsTournamentService?.getBracketTypes | keyvalue;
              let i = index
            ">
            <li class="item" [hidden]="!b.value" (click)="onSelectBracketType(b?.key)"
              [class.selected]="b?.key === Step5?.value?.bracketType">
              <span class="icon" [inlineSVG]="b?.key | bracketPipe">
                <!-- <img class="BracketType-card-image" [src]="b?.key | bracketPipe" [alt]="b?.key | bracket | translate" /> -->
              </span>
              <span class="text">{{ b?.key | bracket | translate }}</span>
            </li>

          </ng-container>
        </ul>
        <!--<div class="select-bracket" [hidden]="!b.value" *ngIf="((checkShowTitle(i) == 2 && lengthList > 3) || (lengthList == 1 && checkShowTitle(i) == 0) || (lengthList == 2 && checkShowTitle(i) == 1) || (lengthList == 3 && checkShowTitle(i) == 2)) && Step5?.value?.bracketType"> -->
        <div class="select-bracket" *ngIf="Step5?.value?.bracketType">
          <a class="SelectTeams_header_link" *ngIf="Step5?.value?.bracketType == 'single'">
            {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.SINGLE" | translate }}
          </a>
          <a class="SelectTeams_header_link" *ngIf="Step5?.value?.bracketType == 'double'">
            {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.DOUBLE" | translate }}
          </a>
          <a class="SelectTeams_header_link" *ngIf="Step5?.value?.bracketType == 'round_robin'">
            {{
            "CREATE_TOURNAMENT.TOURNAMENT_NAME.ROUND_ROBIN" | translate
            }}
          </a>
          <a class="SelectTeams_header_link" *ngIf="Step5?.value?.bracketType == 'battle_royale'">
            {{
            "CREATE_TOURNAMENT.TOURNAMENT_NAME.BATTLE_ROYALE" | translate
            }}
          </a>
          <a class="SelectTeams_header_link" *ngIf="Step5?.value?.bracketType == 'swiss_safeis'">
            {{
            "CREATE_TOURNAMENT.TOURNAMENT_NAME.SWISS_SAFEIS" | translate
            }}
          </a>
          <a class="SelectTeams_header_link" *ngIf="Step5?.value?.bracketType == 'ladder'">
            {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.LADDER" | translate }}
          </a>
        </div>
      </div>

      <!-- <ul class="BracketType-cards">
        <li
          class="BracketType-card"
          *ngFor="let b of eSportsTournamentService?.getBracketTypes | keyvalue"
          [hidden]="!b.value"
          (click)="onSelectBracketType(b?.key)"
          [class.is-active]="b?.key === Step4?.value?.bracketType"
        >
          <div class="BracketType-card-image-block">
            <img
              class="BracketType-card-image"
              [src]="b?.key | bracketPipe"
              [alt]="b?.key | bracket | translate"
            />
          </div>

          <p class="BracketType-card-text text global-Text">
            {{ b?.key | bracket | translate }}
          </p>
        </li>
      </ul> -->

      <!-- <div
        class="BracketType-participant-limit"
        *ngIf="Step4?.value?.bracketType && Step4?.value?.isParticipantsLimit"
      >
        <app-counter
          [title]="'TOURNAMENT.CREATE.MAX_PARTICIPANT'"
          [customFormControlName]="'maxParticipants'"
          [customFormGroup]="Step4"
          (valueEmit)="maxParticipantHandler($event, Step4?.value?.bracketType)"
        >
        </app-counter>
      </div>

      <ng-container *ngIf="multiStage.includes(Step4?.value?.bracketType)">
        <div class="BracketType-participant-rule">
          <div class="BracketType-block-margin">
            <app-counter
              [title]="'TOURNAMENT.CREATE.NUMBER_OF_TEAMS_PER_GROUP'"
              [customFormControlName]="'noOfTeamInGroup'"
              [customFormGroup]="Step4"
              (valueEmit)="
                noOfTeamsPerGroupHandler($event, Step4?.value?.bracketType)
              "
            >
            </app-counter>
          </div>
          <div class="BracketType-block-margin">
            <app-counter
              [title]="'TOURNAMENT.CREATE.WINNING_TEAMS_PER_GROUP'"
              [customFormControlName]="'noOfWinningTeamInGroup'"
              [customFormGroup]="Step4"
            >
            </app-counter>
          </div>
          <div class="BracketType-block-margin">
            <app-counter
              *ngIf="Step4?.value?.bracketType == 'battle_royale'"
              [title]="'TOURNAMENT.CREATE.NUMBER_OF_MATCH_PER_GROUP'"
              [customFormControlName]="'noOfRoundPerGroup'"
              [customFormGroup]="Step4"
            >
            </app-counter>
            <app-drop-down class="BracketType-dropdown"
              *ngIf="Step4?.value?.bracketType == 'round_robin'"
              [showTopLabel]="'true'"
              [title]="'TOURNAMENT.CREATE.NUMBER_OF_ROUND'"
              [customFormControlName]="'noOfRoundPerGroup'"
              [customFormGroup]="Step4"
              [dropdownList]="rrFormat"
              [type]="'A'"
              [enableHiddenLabel]="true"
            ></app-drop-down>
          </div>
          <div
            class="BracketType-block-margin"
            *ngIf="Step4?.value?.bracketType == 'battle_royale'"
          >
            <app-counter
              data-test-id="tournament-noOfRoundPerGroup-noOfStage"
              [title]="'TOURNAMENT.CREATE.STAGES'"
              [customFormControlName]="'noOfStage'"
              [customFormGroup]="Step4"
              [alertMessage]="
                'TOURNAMENT.CREATE.ALERT_AUTO_GENERATED' | translate
              "
              [readOnly]="true"
            >
            </app-counter>
          </div>
        </div>
        <div
          class="BracketType-battle-royale-rule"
          *ngIf="Step4?.value?.bracketType == 'battle_royale'"
        >
          <h6>
            {{ "TOURNAMENT.CREATE.POINT_HEADING" | translate }}
          </h6>
          <div class="placement-position">
            <app-counter
              [title]="'TOURNAMENT.CREATE.NO_OF_PLACEMENT' | translate"
              [customFormControlName]="'noOfPlacement'"
              [customFormGroup]="Step4"
              (valueEmit)="placementCounter($event)"
            ></app-counter>
          </div>
          <div>
            <label>
              {{
                "TOURNAMENT.CREATE.INPUT_PP"
                  | translate
              }}
              *
            </label>
            <div class="placement-list">
              <div
                class="placement-item"
                formArrayName="placementPoints"
                *ngFor="
                  let item of Step4.get('placementPoints')?.controls;
                  let i = index
                "
              >
                <div class="placement-input">
                  <span class="placement-input-title"> {{ i + 1 }} </span>
                </div>
                <div [formGroupName]="i" class="placement-input">
                  <input
                    OnlyNumber
                    type="number"
                    placeholder="{{
                      'TOURNAMENT.CREATE.POINTS' | translate
                    }}"
                    formControlName="value"
                    class="placement-input-placeholder"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="Step4?.value?.bracketType == 'battle_royale'"
          class="BracketType-battle-royale-killPoint-rule"
        >
          <div>
            <app-toggle-switch
              [title]="'TOURNAMENT.CREATE.KILL_POINT_HEADING' | translate "
              [customFormControlName]="'isKillPointRequired'"
              [customFormGroup]="Step4"
              (valueEmit)="killingPointHandler($event.target.value)"
            ></app-toggle-switch>
          </div>
          <div *ngIf="Step4.value.isKillPointRequired">
            <app-counter
              [title]="'TOURNAMENT.CREATE.POINT_PER_KILL' | translate "
              [customFormControlName]="'pointsKills'"
              [customFormGroup]="Step4"
            ></app-counter>
          </div>
        </div>
      </ng-container>
      <div
        class="BracketType-swiss"
        *ngIf="Step4?.value?.bracketType == 'swiss_safeis'"
      >
        <div>
          <app-counter
            [title]="'TOURNAMENT.CREATE.NUMBER_OF_ROUND' | translate"
            [customFormControlName]="'noOfRound'"
            [customFormGroup]="Step4"
            (valueEmit)="roundHandler($event)"
          ></app-counter>
        </div>
        <div>
          <app-counter
            [title]="'TOURNAMENT.NUMBER_OF_LOSS' | translate"
            [customFormControlName]="'noOfLoss'"
            [customFormGroup]="Step4"
          ></app-counter>
        </div>
        <div>
          <app-toggle-switch
            [title]="'TOURNAMENT.TIEBREAKER_RULE' | translate"
            [customFormControlName]="'enableTiebreaker'"
            [customFormGroup]="Step4"
            [toolTipMessage]="'TOURNAMENT.TIEBREAKER_RULE_TOOLTIP'"
          >
          </app-toggle-switch>
        </div>
        <div>
          <app-duration-counter
            [title]="'TOURNAMENT.SET_DURATION' | translate"
            [customFormControlName]="'setDuration'"
            [customFormGroup]="Step4"
          >
          </app-duration-counter>
        </div>
      </div> -->
    </div>

    <div class="BracketType-swithcer-container">
      <app-page-switcher [step]="Step5?.value?.step" (onStepChange)="onStepChange($event)"></app-page-switcher>
    </div>
  </div>
</div>
