<div class="MatchCard u-dfCenter">
  <div
    class="MatchCard-image-block"
    [style.background-image]="'url(' + data.image + ')'"
  ></div>

  <div class="MatchCard-content u-dfStart">
    <header class="MatchCard-header u-dfCenterBtw">
      <h5 class="MatchCard-header-title global-H5 global-Elipses">
        {{ data?.tournamentName }}
      </h5>

      <!-- <button
        class="MatchCard-header-button"
        [matMenuTriggerFor]="menu"
        mat-icon-button
      >
        <mat-icon>more_horiz</mat-icon>
      </button> -->

      <mat-menu
        class="button-menu global-MatMenu"
        style="display: none"
        #menu="matMenu"
        xPosition="before"
      >
        <button
          mat-menu-item
          (click)="genrateReport()"
          class="MatchCard-header-button-option u-dfCenter"
        >
          <div class="image-block">
            <img
              class="image"
              src="assets/icons/my-matches/report-issue.svg"
              alt="make captain"
            />
          </div>

          <span class="text">
            {{ "PROFILE.MY_MATCHES.MATCH_CARD.OPTIONS.REPORT" | translate }}
          </span>
        </button>
      </mat-menu>
    </header>

    <ul class="MatchCard-details">
      <li class="MatchCard-detail u-dfStart">
        <span class="MatchCard-detail-text">
          {{ "PROFILE.MY_MATCHES.MATCH_CARD.MATCH" | translate }} :
        </span>

        <span>
          {{ data.title }}
        </span>
      </li>
      <li class="MatchCard-detail u-dfStart">
        <span class="MatchCard-detail-text">
          {{ "PROFILE.MY_MATCHES.MATCH_CARD.OPPONENT_NAME" | translate }} :
        </span>

        <span>
          {{ data.opponentName }}
        </span>
      </li>

      <li class="MatchCard-detail u-dfStart">
        <span class="MatchCard-detail-text">
          {{ "PROFILE.MY_MATCHES.MATCH_CARD.GAME_ACCOUNT" | translate }} :
        </span>

        <span>
          {{ data.gameAccount }}
        </span>
      </li>
    </ul>

    <div class="d-flex u-dfCenter">
      <button class="btn global-btn-yellow" (click)="openResult(openModel)">
        {{ "PROFILE.MY_MATCHES.MATCH_CARD.BUTTON" | translate }}
      </button>
      <a
        class="MatchCard-button-link global-text-body ml-2"
        (click)="viewMatch()"
      >
        {{ "PROFILE.MY_MATCHES.MATCH_CARD.VIEW_MATCH" | translate }}
      </a>
    </div>
  </div>
  <ng-template #openModel let-modal class="Logout-modal">
    <div class="modal-header">
      <h5 class="global-H4">
        {{ "ELIMINATION.REPORT_SCORE" | translate }}
      </h5>
    </div>
    <app-score-card
      *ngIf="data && data?.match && data?.participantId"
      [match]="data?.match"
      [isAdmin]="data?.isAdmin"
      [isShowTitle]="false"
      [isShowChat]="false"
      [isShowReportBtn]="false"
      [participantId]="data?.participantId"
      [tournament]="data?.match?.tournamentId"
      (exit)="exitFromScoreCard($event)"
    >
    </app-score-card>
  </ng-template>
</div>
