@import "shared";

:host {
  display: block;
}

.MatchCard {
  border-radius: px2vw-xl(8px);
  background-color: var(--base-03);
  padding: px2vw-xl(24px);

  @include lg {
    border-radius: px2vw-lg(8px);
    padding: px2vw-lg(24px);
  }

  @include md {
    border-radius: px2vw-md(8px);
    padding: px2vw-md(24px);
  }

  @include sm {
    flex-direction: column;
    border-radius: px2vw-sm(8px);
    padding: px2vw-sm(18px);
  }

  &-image-block {
    flex-shrink: 0;
    margin-right: px2vw-xl(25px);
    border-radius: px2vw-xl(8px);
    width: px2vw-xl(175px);
    height: px2vw-xl(175px);
    background-size: cover;
    background-position: center center;
    background-color: var(--base-01);

    @include lg {
      margin-right: px2vw-lg(20px);
      border-radius: px2vw-lg(8px);
      width: px2vw-lg(175px);
      height: px2vw-lg(175px);
    }

    @include md {
      margin-right: px2vw-md(20px);
      border-radius: px2vw-md(8px);
      width: px2vw-md(175px);
      height: px2vw-md(175px);
    }

    @include sm {
      margin-right: 0;
      margin-bottom: px2vw-sm(10px);
      border-radius: px2vw-sm(8px);
      width: 100%;
      height: px2vw-sm(245px);
    }
  }

  &-content {
    flex-direction: column;
    width: 100%;
  }

  &-header {
    margin-bottom: px2vw-xl(16px);
    width: 100%;

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-header-title {
    margin-bottom: 0;
    line-height: 1.1;
  }

  &-header-button-option {
    &:last-child {
      border-bottom: 0;
    }

    .image-block {
      margin-right: px2vw-xl(10px);
      width: px2vw-xl(40px);
      height: px2vw-xl(18px);

      @include lg {
        margin-right: px2vw-lg(10px);
        width: px2vw-lg(40px);
        height: px2vw-lg(18px);
      }

      @include md {
        margin-right: px2vw-md(10px);
        width: px2vw-md(40px);
        height: px2vw-md(18px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
        width: px2vw-sm(40px);
        height: px2vw-sm(18px);
      }
    }

    .image {
      display: block;
      height: 100%;
      max-width: 100%;
    }

    .text {
      color: var(--base-black);
    }
  }

  &-details {
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-detail {
    @extend %global-text-body;
    color: var(--base-black);
    @include textClamp(1);

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-detail-text {
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    color: var(--base-02);

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-button {
    line-height: 1;
    padding: px2vw-xl(8px) px2vw-xl(16px);

    @include lg {
      padding: px2vw-lg(8px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(8px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(16px);
      font-size: px2vw-sm(18px);
      width: 100%;
    }
  }
}
