@import "shared";

.Match {
    &-action {
    color: var(--white-high);
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    padding: 25px 8px;
    height: auto;
    width: 33px;
    margin-left: 7px;
    display: flex;
    align-items: center;

    path {
      fill: var(--color-primary);
    }

    fa-icon:hover {
      color: var(--color-tertiary);
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  app-team {
    &:first-child {
      margin-bottom: 8px;
    }
  }
}
