<app-header-spark [currentPageLink]="AppHtmlRoutes.play"
  [title]="'CREATE_TOURNAMENT.SELECT_TYPE.HEADER_TITLE' | translate"></app-header-spark>

<section class="ss-content-page">
  <div class="full-container">
    <div class="wrapper">
      <div class="inner">
        <div class="box-content">
          <div class="heading">
            <h1 class="SelectType-title title">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.TITLE" | translate }}
            </h1>
            <!-- <h1 class="SelectType-title2 title">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.TITLE2" | translate }}
            </h1> -->
            <!-- <h1 class="SelectType-title2 title">
              Which tournament do you want to create?
            </h1> -->
          </div>
          <div class="content">
            <div class="content-item content-left">
              <a (click)="selectType(0)" href="javascript:void(0)"
                class="btn btn-create-tournament btn-create-quick-tournament">
                <div class="icon" inlineSVG="assets/icons/create-tournament/icon-quick-tournament.svg">

                </div>
                <h2 class="title">
                  {{
                  "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TITLE_QUICK" | translate
                  }}
                </h2>

                <p class="des">
                  {{
                  "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TEXT_QUICK" | translate
                  }}
                </p>
                <div class="setup-time">
                  <span class="icon">
                    <img src="../../../assets/images/Tournament/icon-time.png" alt="" />
                  </span>
                  <span class="text">
                    {{
                    "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SETUP_TIME_QUICK"
                    | translate
                    }}
                  </span>
                </div>
              </a>


            </div>
            <div class="content-center">
              <div class="mb-hide">
                <span class="text">
                  {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.OR" | translate }}
                </span>
              </div>
            </div>
            <div class="content-item content-right">
              <a (click)="selectType(1)" href="javascript:void(0)"
                class="btn btn-create-tournament btn-create-quick-tournament">
                <div class="icon" inlineSVG="assets/icons/create-tournament/icon-adv-tournament.svg"></div>
                <h2 class="title">
                  {{
                  "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TITLE_ADVANCE"
                  | translate
                  }}
                </h2>

                <p class="des">
                  {{
                  "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TEXT_ADVANCE"
                  | translate
                  }}
                </p>
                <div class="setup-time">
                  <span class="icon">
                    <img src="../../../../assets/images/Tournament/icon-time.png" alt="" />
                  </span>
                  <span class="text">{{
                    "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SETUP_TIME_ADVANCE"
                    | translate
                    }}</span>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>