<header class="u-wp">
  <div class="Header-desktop">
    <div class="Header-logo-block">
      <a [routerLink]="AppHtmlRoutes.home">
        <img
          class="Header-logo"
          src="./assets/global-images/logo.svg"
          alt="logo"
        />
      </a>
    </div>

    <div class="Header-desktop-right" *ngIf="isBrowser">
      <app-search-input></app-search-input>

      <button
        *ngIf="isUserLoggedIn"
        class="Header-chat-button global-IconBtn is-chat Header-icon"
        (click)="onChatSidenavToggle()"
        mat-icon-button
      >
        <span
          matBadge="{{ matchcount }}"
          [matBadgeHidden]="matchcount == 0"
          class="material-icons"
          >chat</span
        >
      </button>

      <mat-menu
        class="global-Notification"
        #notification="matMenu"
        [overlapTrigger]="false"
      >
        <div class="global-Notification-title">Unread Notifications</div>
        <ng-container>
          <div class="global-Notification-list">
            <div
              *ngFor="let item of [0, 0, 0, 0, 0]"
              class="global-Notification-item is-active"
            >
              <img
                [src]="'/assets/images/AboutUs/about_us_vision.png'"
                class="global-Notification-item-img"
              />
              <div class="global-Notification-item-text">
                <h2>Lorem ipsum dolor sit amet consectetur</h2>
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-template>
          <div class="global-Notification-empty">
            You are all caught up!
          </div>
        </ng-template>

        <button class="global-EditBtn">View all</button>
      </mat-menu>
    </div>
  </div>

  <div class="Header-mob">
    <a [routerLink]="AppHtmlRoutes.home">
      <img
        class="Header-logo"
        src="./assets/global-images/logo.svg"
        alt="logo"
      />
    </a>

    <div class="Header-mob-user-panel" *ngIf="isBrowser">
      <button
        class="navbar-toggler Header-mob-search"
        [routerLink]="AppHtmlRoutes.search"
      >
        <span [inlineSVG]="'/assets/icons/search.svg'"></span>
      </button>

      <button
        *ngIf="isUserLoggedIn"
        class="Header-mob-chat-button global-IconBtn is-chat Header-icon"
        (click)="onChatSidenavToggle()"
        mat-icon-button
      >
        <span
          class="material-icons chat-icon"
          matBadge="{{ matchcount }}"
          [matBadgeHidden]="matchcount == 0"
        >
          chat
        </span>
      </button>

      <button
        class="Header-mob-aside-button navbar-toggler"
        (click)="onMenuOpen()"
      >
        <fa-icon [icon]="faBars" class="bar-class"></fa-icon>
      </button>
    </div>
  </div>
</header>
