@import "shared";

.App {
  display: block;
  height: 100%;

  &-main {
    padding-top: px2vw-xl(72.5px);
    min-height: 100%;

    @include lg {
      padding-top: px2vw-lg(72.5px);
    }

    @include md {
      padding-top: px2vw-md(72.5px);
    }

    @include sm {
      padding-top: px2vw-sm(72.5px);
      margin-top:px2vw-sm(48px);
    }
  }
}

@keyframes wave {
  0% {
    top: 0;
    opacity: 1;
  }

  50% {
    top: 30px;
    opacity: 0.2;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
.cookie-policy {
  width: 700px;
  position: fixed;
  background-color: var(--color-primary);
  bottom: 0;
  right: 0;
  z-index: 99;

  @include lg {
    width: auto;
  }

  &-wrapper {
    padding: 38px;
    position: relative;

    @include sm {
      padding: 33px;
    }

    & .close {
      position: absolute;
      top: 30px;
      right: 15px;
      height: auto;

      @include md {
        top: 5px;
        right: 0;
      }

      & .close-icon {
        width: 45px;
      }
    }
  }
}
