@import "shared";

.shop-card-topup {
  color: var(--black);
  position: absolute;
  background-color: var(--color_skyblue);
  height: px2vw-xl(20px);
  padding: 0 px2vw-xl(8px);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-size: px2vw-xl(10px);
  // font-family: "";
  letter-spacing: px2vw-xl(1px);
  text-transform: uppercase;
  @include xl {
    height: px2vw-xl(20px);
    padding: 0 px2vw-xl(8px);
    font-size: px2vw-xl(10px);
    letter-spacing: px2vw-xl(1px);
  }
  @include lg {
    height: px2vw-lg(20px);
    padding: 0 px2vw-lg(8px);
    font-size: px2vw-lg(10px);
    letter-spacing: px2vw-lg(1px);
  }
  @include md {
    height: px2vw-md(20px);
    padding: 0 px2vw-md(8px);
    font-size: px2vw-md(10px);
    letter-spacing: px2vw-md(1px);
  }
  @include sm {
    height: px2vw-sm(20px);
    padding: 0 px2vw-sm(8px);
    font-size: px2vw-sm(10px);
    letter-spacing: px2vw-sm(1px);
  }
}
.shop-card-host {
  @extend %overline;
  position: absolute;
  background-color: var(--color-secondary);
  height: px2vw-xl(20px);
  padding: 0 px2vw-xl(8px);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  @include xl {
    height: px2vw-xl(20px);
    padding: 0 px2vw-xl(8px);
  }
  @include lg {
    height: px2vw-lg(20px);
    padding: 0 px2vw-lg(8px);
  }
  @include md {
    height: px2vw-md(20px);
    padding: 0 px2vw-md(8px);
  }
  @include sm {
    height: px2vw-sm(20px);
    padding: 0 px2vw-sm(8px);
    font-size: px2vw-sm(10px);
    width: 100%;
    justify-content: center;
  }
}

.shop-card-header {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0;
  // font-family: "";
  line-height: px2vw-xl(19px);
  letter-spacing: px2vw-xl(0.15px);
  font-size: px2vw-xl(16px);
  color: var(--white-high);
  @include xl {
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(19px);
    letter-spacing: px2vw-xl(0.15px);
  }
  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(19px);
    letter-spacing: px2vw-lg(0.15px);
  }
  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(19px);
    letter-spacing: px2vw-md(0.15px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(19px);
    letter-spacing: px2vw-sm(0.15px);
  }
}
.txt_content {
  padding: 0 1rem;
  height: px2vw-xl(66px);
  @include xl {
    height: px2vw-xl(66px);
  }
  @include lg {
    height: px2vw-lg(66px);
  }
  @include md {
    height: px2vw-md(66px);
  }
  @include sm {
    height: px2vw-sm(70px);
  }
}
.shop-card-footer {
  font-size: px2vw-xl(17px);
  background-color: var(--color-blackgray);
  border-top: px2vw-xl(1px) solid var(--color-bordergray);
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  height: px2vw-xl(59px);
  justify-content: space-between;
  @include xl {
    font-size: px2vw-xl(17px);
    height: px2vw-xl(59px);
    border-top: px2vw-xl(1px) solid var(--color-bordergray);
  }
  @include lg {
    font-size: px2vw-lg(17px);
    height: px2vw-lg(59px);
    border-top: px2vw-lg(1px) solid var(--color-bordergray);
  }
  @include md {
    font-size: px2vw-md(17px);
    height: px2vw-md(59px);
    border-top: px2vw-md(1px) solid var(--color-bordergray);
  }
  @include sm {
    font-size: px2vw-sm(17px);
    height: px2vw-sm(34px);
    border-top: px2vw-sm(1px) solid var(--color-bordergray);
  }
  .card_mob {
    @include md {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.shop-card-image {
  margin: px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(8px) px2vw-xl(16px);
  height: px2vw-xl(170px);
  background-size: cover;
  background-position: center center;
  position: relative;
  opacity: 1;
  @include xl {
    margin: px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(8px) px2vw-xl(16px);
    height: px2vw-xl(170px);
  }
  @include lg {
    margin: px2vw-lg(16px) px2vw-lg(16px) px2vw-lg(8px) px2vw-lg(16px);
    height: px2vw-lg(170px);
  }
  @include md {
    margin: px2vw-md(16px) px2vw-md(16px) px2vw-md(8px) px2vw-md(16px);
    height: px2vw-md(170px);
  }
  @include sm {
    margin: px2vw-sm(16px) px2vw-sm(16px) px2vw-sm(8px) px2vw-sm(16px);
    height: px2vw-sm(98.2px);
  }
  .shop-card-topup {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.shop-card-author-image {
  @extend %caption;
  color: var(--white-disabled);
  margin-bottom: px2vw-xl(10px);
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  @include xl {
    margin-bottom: px2vw-xl(10px);
  }
  @include lg {
    margin-bottom: px2vw-lg(10px);
  }
  @include md {
    margin-bottom: px2vw-md(10px);
  }
  @include sm {
    margin-bottom: px2vw-sm(10px);
    font-size: px2vw-sm(14px);
  }
}

.shop-card-from-text {
  @extend %caption;
  display: flex;
  align-items: center;
  letter-spacing: px2vw-xl(0.4px);
  color: var(--white-medium);
  padding-bottom: px2vw-xl(5px);
  @include xl {
    padding-bottom: px2vw-xl(5px);
  }
  @include lg {
    padding-bottom: px2vw-lg(5px);
  }
  @include md {
    padding-bottom: 0;
  }
}

::ng-deep .shop-card-content {
  margin-bottom: px2vw-xl(16px) !important;
  @include xl {
    margin-bottom: px2vw-xl(16px) !important;
  }
  @include lg {
    margin-bottom: px2vw-lg(16px) !important;
  }
  @include md {
    margin-bottom: px2vw-md(16px) !important;
  }
  @include sm {
    margin-bottom: px2vw-sm(16px) !important;
  }
  &:hover {
    background-color: var(--color-hover-bg);
    .shop-card-main {
      .shop-card-footer {
        background-color: var(--color-primary);
        .shop-card-from-text {
          color: var(--black-medium1);
        }
        .Play-ongoing-card-author-name {
          color: var(--black);
          svg {
            path {
              fill: var(--black);
            }
          }
        }
        .shop-card-game {
          border-color: var(--black-disabled);
          color: var(--black);
        }
      }
    }
  }
}
::ng-deep .Matchmaking-game .shop-game-cards {
  margin-bottom: px2vw-xl(30px);
  @include xl {
    margin-bottom: px2vw-xl(30px) !important;
  }
  @include lg {
    margin-bottom: px2vw-lg(30px) !important;
  }
  @include md {
    margin-bottom: px2vw-md(30px) !important;
  }
  @include sm {
    margin-bottom: px2vw-sm(30px) !important;
  }
}
.shop-card-game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: px2vw-xl(10px) px2vw-xl(10px);
  border: 1px solid var(--color-ash-med);
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(16px);
  letter-spacing: 0.5px;
  color: var(--fullwhite);
  cursor: pointer;
  // font-family: "";
  @include xl {
    padding: px2vw-xl(10px) px2vw-xl(15px);
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(16px);
  }
  @include lg {
    padding: px2vw-lg(10px) px2vw-lg(15px);
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(16px);
  }
  @include md {
    padding: px2vw-md(10px) px2vw-md(15px);
    font-size: px2vw-md(14px);
    line-height: px2vw-md(16px);
    display: none;
  }
  @include sm {
    padding: px2vw-sm(10px) px2vw-sm(15px);
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(16px);
  }
}
.swiper-container {
  overflow: hidden;
}
.Play-ongoing-card-author-name {
  display: flex;
  // font-family: "";
  font-size: px2vw-xl(20px);
  align-items: center;
  @include xl {
    font-size: px2vw-xl(20px);
  }
  @include lg {
    font-size: px2vw-lg(20px);
  }
  @include md {
    font-size: px2vw-md(20px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
  }
  svg {
    margin-right: px2vw-xl(5px);
    width: px2vw-xl(20px);
    height: px2vw-xl(16px);
    @include xl {
      margin-right: px2vw-xl(5px);
      width: px2vw-xl(20px);
      height: px2vw-xl(16px);
    }
    @include lg {
      margin-right: px2vw-lg(5px);
      width: px2vw-lg(20px);
      height: px2vw-lg(16px);
    }
    @include md {
      margin-right: px2vw-md(5px);
      width: px2vw-md(20px);
      height: px2vw-md(16px);
    }
    @include sm {
      margin-right: px2vw-sm(5px);
      width: px2vw-sm(15px);
      height: px2vw-sm(12px);
    }
  }
}

@include sm {
  // ::ng-deep {
  //   .shop-card-content {
  //     .shop-card-header {
  //       font-size: px2vw-sm(14px) !important;
  //     }
  //     .shop-card-author-image {
  //       font-size: px2vw-sm(13px) !important;
  //     }
  //   }
  // }
  .shop-card-game {
    height: px2vw-sm(30px);
    font-size: px2vw-sm(13px);
    padding: px2vw-sm(10px) px2vw-sm(8px);
  }
}
.for_mobile {
  display: flex;
  @include sm {
    display: none;
  }
}
.mob_display {
  display: block;
  @include sm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
