<div class="TeamCard rahul" *ngIf="data">
  <div class="TeamCard-image" [lazyLoad]="data.logo"></div>

  <div class="TeamCard-info">
    <h3 class="TeamCard-info-name">
      {{ data.name }}
    </h3>
    <p class="TeamCard-info-description">
      {{ data.teamsLength }}
      {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} •

      <ng-container *ngIf="data.createtdAt === 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }}
      </ng-container>

      <ng-container *ngIf="data.createtdAt > 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAYS_AGO" | translate }}
      </ng-container>
    </p>
  </div>

  <div class="TeamCard-manage">
    <ng-container *ngIf="!isManage">
      <!-- <button (click)="updateParticipant(data?._id,'rejected')" class="TeamCard-manage-button button-secondary">
        {{ "BUTTON.REJECT" | translate }}
      </button> -->

      <button (click)="updateParticipant(data?._id,'approved')" class="TeamCard-manage-button button-primary">
        {{ "BUTTON.ACCEPT" | translate }}
      </button>
    </ng-container>

    <ng-container *ngIf="isManage">
      <button
        class="TeamCard-manage-button-menu"
        [matMenuTriggerFor]="matchMenu"
        #t="matMenuTrigger"
      >
        <mat-icon class="TeamCard-manage-button-menu-icon"> more_vert </mat-icon>
      </button>

      <mat-menu
        class="global-MatMenu team-card"
        #matchMenu="matMenu"
        xPosition="before"
      >
        <div class="TeamCard-manage-menu menu">
       

          <!-- DELETE TEAM -->
          <a class="TeamCard-manage-menu-link link last">
            <mat-icon class="icon"> delete </mat-icon>
            <span class="text">
              <!-- {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.DELETE_TEAM" | translate }} -->Remove
            </span>
          </a>
        </div>
      </mat-menu>
    </ng-container>
  </div>
</div>
