// stc select-type scss start

section.ss-content-page {
  min-height: 100vh;
  font-family: "stc-forward-regular" !important;
  background-color: var(--purple-bg);
  position: relative;
  padding: 80px 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-image: url(/assets/images/Tournament/create/create.png);
  background-size: contain;
  background-position: inherit;
  background-blend-mode: screen;
  background-repeat: round;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    // background-image: url("../../../../../assets/images/Tournament/bg-create-tournament-left.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: bottom;
    background-position-x: left;
    width: 100%;
    height: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    // background-image: url("../../../../../assets/images/Tournament/bg-create-tournament-right.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: 112%;
    background-position-x: right;
    width: 100%;
    height: 100%;
  }
  .full-container {
    position: relative;
    z-index: 2;
    height: 100%;
    .wrapper {
      height: 100%;
      .inner {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 80px);
        .box-content {
          width: 100%;
          padding: 5px 0 0 0;
          .heading {
            text-align: center;
            margin-bottom: 32px;
            .title {
              font-weight: normal;
              color: var(--white);
              margin-bottom: 0;
              text-transform: none;
              font-family: "stc-forward-regular";
              text-align: center;
              font-size: 24px;
              line-height: 32px;
            }
          }
          .content {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            width: 100%;
            max-width: 672px;
            margin: 0 auto;
            .content-item {
              width: 100%;
              max-width: 310px;
              max-height: 310px;

              &.content-left,
              &.content-right {
                background-color: #5b1294 !important;
                color: var(--white);
                border-radius: 8px;
              }

              a.btn-create-tournament {
                padding: 35px 24px 0;
                text-align: center;
                background-color: transparent;
                background-color: var(--blackcurrant-color-medium);
                letter-spacing: -0.5px;
                text-transform: none;
                position: relative;
                width: 300px;
                height: 237px;
                border: 1px solid var(--color-black-medium);
                box-sizing: border-box;
                border-radius: 20px;
                margin-bottom: 23px;
                &:hover {
                  background-color: var(--secondary-color);
                }
                .icon {
                }
                .title {
                  color: var(--white);
                  width: 100%;
                  font-family: "stc-forward-regular";
                  font-style: normal;
                  font-weight: normal;
                  font-size: 20px;
                  line-height: 32px;
                  text-align: center;
                  letter-spacing: 0.5px;
                  padding: 10px;
                  padding-bottom: 0;
                  margin-top: 1rem;
                }
                .des {
                  font-family: "stc-forward-regular";
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 20px;
                  text-align: center;
                  color: var(--white);
                  text-transform: none;
                  margin-bottom: 0;
                  padding: 15px;
                }
              }
              .setup-time {
                text-align: center;
                display: -webkit-inline-flex;
                display: inline-flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;
                width: 100%;
                margin-bottom: 23px;
                .icon {
                  display: -webkit-inline-flex;
                  display: inline-flex;
                  -webkit-align-items: center;
                  align-items: center;
                  margin-right: 15px;
                }
                .text {
                  @extend %global-textSm !optional;
                  font-family: "stc-forward-regular";
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 32px;
                  letter-spacing: 0.5px;
                  color: var(--grey-base3);
                }
              }
              &.content-right {
                a.btn-create-tournament {
                  .icon {
                  }
                  .des {
                    padding: 15px;
                  }
                }
              }
            }
            .content-center {
              .text {
                height: 243px;
                display: -webkit-inline-flex;
                display: inline-flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;
                text-align: center;
                @extend %global-textSm !optional;
                text-align: center;
                color: var(--white);
              }
            }
          }
        }
      }
    }
  }
}
