<!-- <div class="ArticleMain-head">
  <section class="ArticleMain-hottest" *ngIf="hottestArticle">
    <div class="ArticleMain-hottest-about">
      <div class="ArticleMain-hottest-block">
        <header class="ArticleMain-hottest-header">
          <div class="ArticleMain-hottest-header-icon" [inlineSVG]="getArticleIconByType(hottestArticle.type)"></div>

          <span class="ArticleMain-hottest-header-text">
            {{ hottestArticle.type }}
          </span>
        </header>

        <h2 class="ArticleMain-hottest-title global-Elipses3">
          {{ hottestArticle.title | customTranslate }}
        </h2>

        <p class="ArticleMain-hottest-created">
          {{ hottestArticle.authorDetails?.fullName }} •
          {{ hottestArticle.createdDate | date: "d MMMM, y" }}
        </p>

        <button class="ArticleMain-hottest-button button-primary"
          [routerLink]="[AppHtmlRoutes.article, hottestArticle.slug]">
          {{ "BUTTON.READ_MORE" | translate }}
        </button>
      </div>
    </div>
    <div class="ArticleMain-hottest-image-block" [lazyLoad]="hottestArticle.image"></div>
  </section>

  <section class="ArticleMain-slides u-wp" *ngIf="latestArticle.length">
    <h3 class="ArticleMain-slides-title">
      {{ "ARTICLE_MAIN.FEATURED_CONTENT" | translate }}
    </h3>
    <ul class="ArticleMain-slides-list">
      <li *ngFor="let article of latestArticle.slice(0, 3)" class="ArticleMain-slides-item"
        [routerLink]="[AppHtmlRoutes.article, article?.slug]">
        <div class="ArticleMain-slides-item-image" [lazyLoad]="article?.image"></div>

        <div class="ArticleMain-slides-item-info">
          <h4 class="ArticleMain-slides-item-title title global-Elipses3">
            {{ article?.title | customTranslate: (language?.language | async) }}
          </h4>

          <p class="ArticleMain-slides-item-created created global-Elipses">
            {{ article?.createdDate | date: "MMMM d, y" }}
          </p>

          <div class="ArticleMain-slides-item-label label">
             <div
              class="ArticleMain-slides-item-label-icon icon"
              [inlineSVG]="getArticleIconByType(article.type)"
            ></div>
            <span class="ArticleMain-slides-item-label-text text global-Elipses">
              {{ article?.category_name?.name }}

            </span>
          </div>
          <div class="ArticlePost-preview-type">
            <div class="ArticleMain-hottest-header-icon" [inlineSVG]="getArticleIconByType(hottestArticle.type)"></div>


            <span class="ArticlePost-preview-type-text">
               {{ article?.category?.name }}
              {{ hottestArticle.type }}
            </span>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div> -->
<!-- <section class="ArticleMain-search u-wp">
  <app-search-filter [formData]="searchFilterForm" placeholder="ARTICLE_MAIN.PLACEHOLDER"></app-search-filter>
</section> -->
<!-- <section class="ArticleMain-videos">
  <app-recent-videos></app-recent-videos>
</section> -->
<!-- <section class="ArticleMain-articles u-wp">
  <app-featured-content></app-featured-content>
</section> -->

<section class="BandicootContent">
  <div class="BandicootContent-container">
    <div class="BandicootContent-wrapper">
      <div class="BandicootContent-inner">
        <div class="BandicootContent-heading">
          <h2 class="BandicootContent-title">{{ "CONTENT.MAIN.TITLE" | translate }}</h2> 
        </div>
        <div class="BandicootContent-content">
          <div class="BandicootContent-content-left" *ngIf="hottestArticle">
            <div class="BandicootContent-content-left-thumnail" [routerLink]="[AppHtmlRoutes.article, hottestArticle?.slug]">
              <img [src]="hottestArticle?.image" alt="">
            </div>
            <div class="thumbnail-pera">
            <h3 class="title">{{ hottestArticle?.title | customTranslate }}</h3>
            <div class="detail">
              <!-- <div class="avatar">
                <img src="../../../../assets/images/Profile/image 66.png" alt="">
              </div> -->
              <div class="info">
                <p class="text"><span> {{ hottestArticle?.authorDetails?.username }}</span><span class="speach"> • </span><span>{{ hottestArticle?.createdDate | date: "d MMMM, y" }}</span></p>
              </div>
            </div>
          </div>
          </div>
          <div class="BandicootContent-content-right">
            <section class="ArticleMain-slides" *ngIf="trendingArticles.length">
              <ul class="ArticleMain-slides-list">
                <li *ngFor="let article of trendingArticles.slice(0, 4)" class="ArticleMain-slides-item"
                  [routerLink]="[AppHtmlRoutes.article, article?.slug]">
                  <div class="ArticleMain-slides-item-image" [lazyLoad]="article?.image"></div>
                  <div class="ArticleMain-slides-item-info">
                    <h4 class="ArticleMain-slides-item-title title global-Elipses3">
                      {{ article?.title | customTranslate: (language?.language | async) }}
                    </h4>
                    <p class="ArticleMain-slides-item-created created global-Elipses">
                      {{ article?.createdDate | date: "MMMM d, y" }}
                    </p>
                    <div class="ArticleMain-slides-item-label label">
                      <span class="ArticleMain-slides-item-label-text text global-Elipses">
                        {{ article?.category_name?.name }}
                      </span>
                    </div>
                  </div>
                </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="BrowseByCategories">
  <div class="BrowseByCategories-container">
    <div class="BrowseByCategories-wrapper">
      <div class="BrowseByCategories-inner">
        <div class="BrowseByCategories-heading">
          <h2 class="title">{{ "CONTENT.MAIN.BROWSE_BY_CATEGORIES" | translate }}</h2>
        </div>
        <div class="BrowseByCategories-content" >
          <a class="link-to games-button">{{ "CONTENT.MAIN.GAMES" | translate }} <span class="games-icon"><img src="../../../assets/icons/content/games.svg" alt="games-icon" /></span></a>
          <a class="link-to esports">{{ "CONTENT.MAIN.ESPORTS" | translate }} <span class="games-icon"><img src="../../../assets/icons/content/esports.svg" alt="games-icon" /></span></a>
          <a class="link-to top-pics">{{ "CONTENT.MAIN.TOP_PICKS" | translate }} <span class="games-icon"><img src="../../../assets/icons/content/top.svg" alt="games-icon" /></span></a>
          <a class="link-to shop-promos">{{ "CONTENT.MAIN.SHOP_PROMOS" | translate }} <span class="games-icon"><img src="../../../assets/icons/content/shop.svg" alt="games-icon" /></span></a>
          <!-- <ng-container *ngFor="let data of categoryList; let i = index">
            <a
            [routerLink]="AppHtmlRoutes.articleNews"
            class="link-to categories-butn"
            (click)="selectedCategory = data?._id; getRecentPost('')"
            [class.is_active]="selectedCategory == data?._id"
            >{{ data?.name }}</a
          >
          </ng-container> -->


        </div>
      </div>
    </div>
  </div>
</section>

<div class="clear"></div>

<section class="SectionPost">
  <div class="SectionPost-container">
    <div class="SectionPost-wrapper">
      <div class="SectionPost-inner">
        <div class="SectionPost-heading">
          <h2 class="title">{{ "CONTENT.MAIN.LATEST_POST" | translate }}</h2>
          <button class="btn button-default" [routerLink]="AppHtmlRoutes.articleNews">{{ "BUTTON.VIEW_ALL_POSTS" |
            translate
            }}</button>
        </div>
        <div class="SectionPost-content">
          <!-- <app-recent-videos></app-recent-videos> -->
          <div class="SectionPost-latest-lists">
            <ng-container *ngIf="trendingArticles.length">
              <div class="SectionPost-latest-item"  *ngFor="let article of trendingArticles.slice(0, 4)"
              [routerLink]="[AppHtmlRoutes.article, article?.slug]">
                <div class="SectionPost-latest-item-thumnail">
                  <img src="../../../../assets/images/content/Large.png" alt="">
                  <img [src]="article?.image" alt="">
                </div>
                <h3 class="title">{{ article?.title | customTranslate: (language?.language | async) }}</h3>
                <div class="SectionPost-latest-item-detail">
                  
                    <img src="../../../../assets/images/Profile/img1.png" alt="">
                  
                  <div class="info">
                    <p class="text"><span>{{ article?.author?.username }}</span><span class="speach"> • </span><span>{{ article?.createdDate | date: "MMMM d, y" }}</span></p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="button-group">
          <button class="btn button-default" [routerLink]="AppHtmlRoutes.articleNews">{{ "BUTTON.VIEW_ALL_POSTS" |
            translate
            }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="SectionPost">
  <div class="SectionPost-container">
    <div class="SectionPost-wrapper">
      <div class="SectionPost-inner">
        <div class="SectionPost-heading">
          <h2 class="title">{{ "CONTENT.MAIN.OLDER_POSTS" | translate }}</h2>
          <button class="btn button-default" [routerLink]="AppHtmlRoutes.articleNews">{{ "BUTTON.VIEW_ALL_POSTS" |
            translate }}</button>
        </div>
        <div class="SectionPost-content">
          <app-featured-content></app-featured-content>
        </div>
        <div class="button-group">
          <button class="btn button-default" [routerLink]="AppHtmlRoutes.articleNews">{{ "BUTTON.VIEW_ALL_POSTS" |
            translate
            }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-googly></app-footer-googly>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
