@import "shared";

:host {
  display: block;
}

.SelectGameStats {
  background-color: var(--base-white-smoke);

  &-slide {
    flex-direction: column;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: var(--base-white);
    transition: 100ms linear;

    &.active {
      background-color: var(--burnt-orange);
      cursor: default;

      .image {
        opacity: 1;

        ::ng-deep path {
          fill: var(--base-white);
        }
      }

      .name {
        color: var(--base-white);
      }
    }

    &:not(.active):hover {
      background-color: transparent;

      .name {
        color: var(--base-black);
      }
    }
  }

  &-slide-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: px2vw-xl(65px);
    width: px2vw-xl(140px);

    @include lg {
      height: px2vw-lg(65px);
      width: px2vw-lg(140px);
    }

    @include md {
      height: px2vw-md(65px);
      width: px2vw-md(140px);
    }

    @include sm {
      height: px2vw-sm(65px);
      width: px2vw-sm(140px);
    }
  }

  &-slide-image {
    opacity: 0.5;
    max-height: 100%;
    max-width: 100%;

    ::ng-deep svg {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &-slide-name {
    margin-top: px2vw-xl(20px);
    margin-bottom: 0;
    padding: 0 px2vw-xl(15px);
    color: var(--base-black);
    line-height: 1.1;

    @include lg {
      margin-top: px2vw-lg(20px);
      padding: 0 px2vw-lg(15px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      padding: 0 px2vw-md(15px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      padding: 0 px2vw-sm(15px);
    }
  }

  ::ng-deep {
    .p-carousel-items-container {
      justify-content: center;
      height: px2vw-xl(160px);

      @include lg {
        height: px2vw-lg(160px);
      }

      @include md {
        height: px2vw-md(160px);
      }

      @include sm {
        height: px2vw-sm(160px);
      }
    }

    .p-carousel-item {
      flex-grow: 0 !important;
      border-right: px2vw-xl(3px) solid var(--base-white-smoke);
      border-left: px2vw-xl(3px) solid var(--base-white-smoke);

      @include lg {
        border-right-width: px2vw-lg(3px);
        border-left-width: px2vw-lg(3px);
      }

      @include md {
        border-right-width: px2vw-md(3px);
        border-left-width: px2vw-md(3px);
      }

      @include sm {
        border-right-width: px2vw-sm(3px);
        border-left-width: px2vw-sm(3px);
      }
    }

    .p-carousel-prev,
    .p-carousel-next {
      margin: 0 px2vw-xl(5px);
      border: solid var(--silver);
      border-width: 0 px2vw-xl(4px) px2vw-xl(4px) 0;
      background-color: transparent;
      padding: px2vw-xl(6px);
      display: inline-block;

      @include lg {
        margin: 0 px2vw-lg(5px);
        border-width: 0 px2vw-lg(4px) px2vw-lg(4px) 0;
        padding: px2vw-lg(6px);
      }

      @include md {
        margin: 0 px2vw-md(5px);
        border-width: 0 px2vw-md(4px) px2vw-md(4px) 0;
        padding: px2vw-md(6px);
      }

      @include sm {
        margin: 0 px2vw-sm(5px);
        border-width: 0 px2vw-sm(4px) px2vw-sm(4px) 0;
        padding: px2vw-sm(6px);
      }
    }

    .p-carousel-prev.p-disabled,
    .p-carousel-next.p-disabled {
      opacity: 0.3;
    }

    .p-carousel-prev {
      margin-left: px2vw-xl(12px);
      transform: rotate(135deg);

      @include lg {
        margin-left: px2vw-lg(12px);
      }

      @include md {
        margin-left: px2vw-md(12px);
      }

      @include sm {
        margin-left: px2vw-sm(12px);
      }
    }

    .p-carousel-next {
      margin-right: px2vw-xl(12px);
      transform: rotate(310deg);

      @include lg {
        margin-right: px2vw-lg(12px);
      }

      @include md {
        margin-right: px2vw-md(12px);
      }

      @include sm {
        margin-right: px2vw-sm(12px);
      }
    }

    .p-carousel-indicators {
      display: none;
    }
  }
}
