<div class="SelectGameStats" *ngIf="games.length">
  <p-carousel
    [value]="games"
    [numVisible]="5"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-game pTemplate="item">
      <div
        class="SelectGameStats-slide u-dfCenterCenter"
        [ngClass]="{ active: game.isSelected }"
        (click)="onSelectGame(game.id, game.gameKey)"
      >
        <div class="SelectGameStats-slide-image-block u-dfCenterCenter">
          <span
            class="SelectGameStats-slide-image image"
            [inlineSVG]="game.image"
          ></span>
        </div>

        <p class="SelectGameStats-slide-name name global-Text global-Elipses">
          {{ game.name }}
        </p>
      </div>
    </ng-template>
  </p-carousel>
</div>
