@import "shared";
$form-border-color: var(--color-ash-med);
$content-bgcolor: var(--gradient-bg-drk4), var(--color-background);
$purchase-confirmation-bg: var(--gradient-bg-drk4), var(--color-background);
$active-color: var(--color-primary);
.GO-Container {
    .row {
        margin-bottom: px2vw-xl(20px);
        @include xxl {
            margin-bottom: px2vw-xxl(20px);
        }
        @include lg {
            margin-bottom: px2vw-lg(20px);
        }
        @include md {
            margin-bottom: px2vw-md(20px);
        }
        @include sm {
            margin-bottom: px2vw-sm(20px);
        }
    }
}
.bg_color{
    background-color: var(--black);
}
.clr_white{
    color: var(--white);
}
.badge_topup{
    color: var(--black); 
    background-color: var(--powderblue);
}
.badge_promotion{
    color: var(--white); 
    background-color: var(--pink);
}
.color_promotion{
    color: var(--pink);
}
.SI-FUID-Container {
    margin-bottom: px2vw-xl(50px);
    border: 1px solid $form-border-color;
    @include xxl {
        margin-bottom: px2vw-xxl(50px);
    }
    @include lg {
        margin-bottom: px2vw-lg(50px);
    }
    @include md {
        margin-bottom: px2vw-md(50px);
    }
    @include sm {
        margin-bottom: px2vw-sm(50px);
    }
    fieldset {
        border: 1px solid $form-border-color;
    }
}
.form-steps-header {
    background: $content-bgcolor;
    border-bottom: 1px solid var(--color-ash-med);
}
.form-steps-number {
    background: var(--color-background);
    color: $active-color;
    border-right: 1px solid $form-border-color;
}
.shop-item-divider {
    border-bottom: 1px solid $form-border-color;
}
.top-up-amt-card-link {
    .card_coins{
        margin-right: 15%;
        margin-top: 3%;
    }
    :hover {
        background-color: $active-color;
        color: var(--black);
    }
}
.btn_confirmation_modal{
    background-color: var(--white-disabled);
    color: var(--darkgrey);
}
.top-up-amt-card {
    background-color: var(--black);
}
.purchase-confirmation-popup {
    background: $purchase-confirmation-bg;
    .mat-icon {
        background-color: var( --pink);
        color: var(--white);
    }
}
.bg_black{
    background-color: var(--black);
}
#reloadModal {
    .modal-content{
        background-color: var(--color-black-shade3);
    }
    .close {
        background-color: var(--red);
    }
    .mat-icon {
        color: var(--white);
    }
}
.moreInfo {
    color: var(--pink) !important;
}
.mdStorecontainer {
    display: block;
}
.smStorecontainer {
    display: none;
}
@include sm {
    .GO-Container {
        .row {
            margin-bottom: px2vw-sm(5px);
        }
    }
    .mdStorecontainer {
        display: none;
    }
    .smStorecontainer {
        display: block;
    }
}
