<div class="container mt-5 bg_color">
    <button class="button-secondary ml-3 mb-5" [routerLink]="[AppHtmlRoutes.shop]"><mat-icon class="clr_white">arrow_back</mat-icon>&nbsp;{{ "VIEW_SHOP_ITEM.Back_TO_Shop" | translate }}</button>
    <div class="row">
        <div class="col-md-4 GO-Container">
            <div class="row">
                <div class="col-md-12 d-flex p-0">
                    <div class="mr-4">
                        <img src="assets/images/shop/image-game.png" alt="...">
                    </div>
                    <div>
                        <h3>{{ "VIEW_SHOP_ITEM.MOBILE_GAME" | translate }}</h3>
                        <p>{{ "VIEW_SHOP_ITEM.BANG" | translate }}</p>
                        <p class="text-muted">{{ "VIEW_SHOP_ITEM.MOOTON" | translate }}</p>
                    </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex p-0">
                    <div class="mr-3">
                        <h5><span class="badge badge_topup">{{ "VIEW_SHOP_ITEM.TOP_UP" | translate }}</span></h5>
                    </div>
                    <div>
                        <h5><span class="badge badge_promotion">{{ "VIEW_SHOP_ITEM.PROMOTION" | translate }}</span></h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>{{ "VIEW_SHOP_ITEM.CONTENT" | translate }}<br><font class="color_promotion">https://genggamer.shop/2VdEqhJ</font></p>
                <p>{{ "VIEW_SHOP_ITEM.CONTENT2" | translate }}<br>
                    <a class="smStorecontainer moreInfo" (click)="toggleDisplayStore()">{{ "VIEW_SHOP_ITEM.MORE_INFO" | translate }}</a>
                </p>
            </div>
            <div class="row mdStorecontainer">
                <app-store-container></app-store-container>
            </div>
            <div class="row smStorecontainer">
                <div *ngIf="toggleStoreContainer">
                    <app-store-container></app-store-container>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <ng-template [ngIf]="!isPurchaseSuccessful">
                <form>
                    <div class="row SI-FUID-Container">
                        <div class="col-md-12 p-0">
                            <div class="form-group row align-items-center form-steps-header">
                                <div class="col-xs-1 form-steps-number"><h1><span class="badge">1</span></h1></div>
                                <div class="col-xs-11 pl-4"><h4>{{ "VIEW_SHOP_ITEM.USER_ID" | translate }}</h4></div>
                            </div>
                            <div class="form-group row px-4">
                                <fieldset class="col-md-5 mr-4 p-2">
                                  <legend class="w-auto">{{ "VIEW_SHOP_ITEM.USER_ID" | translate }}</legend>
                                  <input type="email" class="form-control" id="inputEmail4">
                                </fieldset>
                                <fieldset class="col-md-5 p-2">
                                  <legend class="w-auto">{{ "VIEW_SHOP_ITEM.ZONE_ID" | translate }}</legend>
                                  <input type="password" class="form-control" id="inputPassword4">
                                </fieldset>
                            </div>
                            <div class="form-group row pl-4">
                                <p>{{ "VIEW_SHOP_ITEM.PARAGRAPH" | translate }}<br> {{ "VIEW_SHOP_ITEM.PARAGRAPH2" | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row SI-FUID-Container">
                        <div class="col-md-12 p-0">
                            <div class="form-group row align-items-center form-steps-header">
                                <div class="col-xs-1 form-steps-number"><h1><span class="badge">2</span></h1></div>
                                <div class="col-xs-9 pl-4 mr-auto"><h4>{{ "VIEW_SHOP_ITEM.SELECT_AMOUNT" | translate }}</h4></div>
                                <div class="col-xs-2">{{ "VIEW_SHOP_ITEM.COINS.GC_COIN" | translate }}</div>
                            </div>

                            <div class="row mb-4">
                                <div *ngFor="let topup of topUPS" class="col-4 text-center my-2">
                                    <a (click)="topupSelect(topup)" class="top-up-amt-card-link">
                                        <div class="d-flex justify-content-between top-up-amt-card">
                                            <div>
                                                <img *ngIf="topup.prevamount" src="assets/images/shop/label-promotion-discount.png">
                                            </div>
                                            <div class="card_coins">
                                                <p>{{topup?.prevamount}} {{topup?.amount}} {{ "VIEW_SHOP_ITEM.COINS.GC" | translate }}<br>{{topup?.diamonds}} {{ "VIEW_SHOP_ITEM.COINS.DIAMONDS" | translate }} + {{topup?.bonus}} {{ "VIEW_SHOP_ITEM.COINS.BONUS" | translate }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row SI-FUID-Container">
                        <div class="col-md-12 p-0">
                            <div class="form-group row align-items-center form-steps-header">
                                <div class="col-xs-1 form-steps-number"><h1><span class="badge">3</span></h1></div>
                                <div class="col-xs-11 pl-4"><h4>{{ "VIEW_SHOP_ITEM.EMAIL.ENTER_EMAIL" | translate }}</h4></div>
                            </div>
                            <div class="form-group row px-4">
                                <fieldset class="col-md-5 mr-4 p-2">
                                  <legend class="w-auto">{{ "VIEW_SHOP_ITEM.EMAIL.LEGEND" | translate }}</legend>
                                  <input type="email" class="form-control" id="inputEmail4">
                                </fieldset>
                            </div>
                            <div class="form-group row pl-4">
                                <p>{{ "VIEW_SHOP_ITEM.EMAIL.DISCRIP" | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row SI-FUID-Container">
                        <div class="col-md-12 p-0">
                            <div class="form-group row align-items-center form-steps-header">
                                <div class="col-xs-1 form-steps-number"><h1><span class="badge">4</span></h1></div>
                                <div class="col-xs-11 pl-4"><h4>{{ "VIEW_SHOP_ITEM.EMAIL.CONTENT" | translate }}</h4></div>
                            </div>

                            <div *ngIf="isUserLoggedID; then orderBalance else loginToOrder"></div>
                            <ng-template #loginToOrder>
                                <div class="form-group row justify-content-center">
                                    <p>{{ "VIEW_SHOP_ITEM.EMAIL.CONTENT2" | translate }}</p>
                                </div>
                            </ng-template>
                            <ng-template #orderBalance>
                                <div class="form-group row">
                                    <div class="col-md-10">{{ "VIEW_SHOP_ITEM.EMAIL.CURRENT_BALANCE" | translate }}</div>
                                    <div class="col-md-2 text-right">{{currentBalance}} {{ "VIEW_SHOP_ITEM.COINS.GC" | translate }}</div>
                                </div>

                                <div *ngIf="isTopUpSelected; then viewTopUpSelected else selectTopUp"></div>
                                <ng-template #viewTopUpSelected>
                                    <div class="form-group row">
                                        <div class="col-md-10">{{selectedTopUp?.diamonds}} {{ "VIEW_SHOP_ITEM.COINS.DIAMONDS" | translate }} + {{selectedTopUp?.bonus}} {{ "VIEW_SHOP_ITEM.COINS.BONUS" | translate }}</div>
                                        <div class="col-md-2 text-right">{{selectedTopUp?.amount}} {{ "VIEW_SHOP_ITEM.COINS.GC" | translate }}</div>
                                    </div>
                                </ng-template>
                                <ng-template #selectTopUp>
                                    <div class="form-group row">
                                        <div class="col-md-12"><p>{{ "VIEW_SHOP_ITEM.COINS.AMOUNT_BALANCE" | translate }}</p></div>
                                    </div>
                                </ng-template>

                                <div class="form-group row">
                                    <div class="col"><hr class="shop-item-divider"></div>
                                </div>

                                <div *ngIf="isInsuficientBalance; then reload else showBalance"></div>
                                <ng-template #reload>
                                    <div class="form-group row">
                                        <div class="col-xs-10 pl-4 mr-auto">{{ "VIEW_SHOP_ITEM.COINS.INSUFFICIENT_BALANCE" | translate }}</div>
                                        <div class="col-xs-2 text-right">
                                            <button type="button" class="button-primary" data-toggle="modal" data-target="#reloadModal">
                                                <img class="Header-logo imgstylefortable1" src="./assets/wallet/wallet_topup.png" alt="logo" /> {{ "VIEW_SHOP_ITEM.RELOAD" | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #showBalance>
                                    <div class="form-group row">
                                        <div class="col-md-10">{{ "VIEW_SHOP_ITEM.COINS.NEW_BALANCE" | translate }}</div>
                                        <div class="col-md-2 text-right">{{newBalance}} {{ "VIEW_SHOP_ITEM.COINS.GC" | translate }}</div>
                                    </div>
                                </ng-template>
                            </ng-template>
                            <div class="form-group row pl-4 justify-content-center">
                                <!-- Button BUY NOW -->
                                <button type="button btn_confirmation_modal" class="button-primary w-100" data-toggle="modal" data-target="#purchaseConfirmationModal">
                                  {{ "VIEW_SHOP_ITEM.COINS.BUY_NOW" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>

                <!-- Purchase successfull -->
                <ng-template [ngIf]="isPurchaseSuccessful">
                    <div>
                        <app-purchase-successful [shopItem]="shopItem"></app-purchase-successful>
                    </div>
                </ng-template>

                <!-- Purchase unsuccessfull -->
                <ng-template [ngIf]="isPurchaseUnSuccessful">
                    <div>
                        <app-purchase-un-successful></app-purchase-un-successful>
                    </div>
                </ng-template>


        </div>
    </div>
</div>

  <!-- Purchase confirmation pop-up -->
  <div id="purchaseConfirmationModal" class="modal"  data-backdrop="static" tabindex="-1" aria-labelledby="purchaseConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content purchase-confirmation-popup">
            <div class="modal-header p-0 border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
              </div>
            <div class="modal-body">
                <h5>{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.PURCHASE" | translate }}</h5>
                <p class="my-4">{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.CONTENT" | translate }}<br>{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.CONFIRM_INFORMATION" | translate }}</p>
                <hr class="mt-2 mb-4 shop-item-divider">
                <div class="row my-2">
                    <div class="col-4 text-muted">{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.ID" | translate }}</div>
                    <div class="col-7">{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.NUMBER" | translate }}</div>
                </div>
                <div class="row my-2">
                    <div class="col-4 text-muted">{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.TOP_UP_AMOUNT" | translate }}</div>
                    <div class="col-7">{{shopItem?.TopUp?.DisplayText}}</div>
                </div>
                  <div class="row my-2">
                    <div class="col-4 text-muted">{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.PRICE_GENG_COINS" | translate }}</div>
                    <div class="col-7">{{shopItem?.TopUp?.Amount}}</div>
                  </div>
                  <div class="row my-2">
                    <div class="col-4 text-muted">{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.EMAIL" | translate }}</div>
                    <div class="col-7">{{shopItem?.UserEmail}}</div>
                  </div>
                  <div class="row my-4">
                    <div class="col-2">
                        <button type="button" class="button-secondary" data-dismiss="modal">{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.CANCEL" | translate }}</button>
                    </div>
                    <div class="col-7 ml-3">
                        <button type="button" class="button-primary" (click)="confirmPurchase()">{{ "VIEW_SHOP_ITEM.SHOP_PURCHASE.CONFIRM" | translate }}</button>
                    </div>
                  </div>
            </div>
          </div>
      </div>
  </div>

<!-- Reload pop-up -->
<div id="reloadModal" class="modal"  data-backdrop="static" tabindex="-1" aria-labelledby="reloadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            <div class="modal-body">
                <h5>Reload</h5>
                <div class="row">
                    <div class="col-md-8">{{ "VIEW_SHOP_ITEM.SELECT_AMOUNT" | translate }}</div>
                    <div class="col-md-4 text-right">{{ "VIEW_SHOP_ITEM.COINS.GC_COIN" | translate }}</div>
                </div>
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="row">
                            <div *ngFor="let reload of reloadOptions" class="col-3 bg_black">
                                <p class="text-muted">{{ "VIEW_SHOP_ITEM.COINS.RM" | translate }} {{reload?.rm}}</p>
                                <p>{{reload?.gc}} {{ "VIEW_SHOP_ITEM.COINS.GC" | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">2{{ "HEADERS.RELOAD_METHOD" | translate }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">
                              <div class="d-flex w-100">
                                <mat-icon class="mr-4">{{ "HEADERS.SMART_PHONE" | translate }}</mat-icon>
                                <div>
                                    <h5 class="mb-1">{{ "HEADERS.TOPUP_METHOD" | translate }}</h5>
                                    <p class="mb-0">{{ "HEADERS.BILL" | translate }}</p>
                                </div>
                              </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100">
                                    <mat-icon class="mr-4">{{ "HEADERS.CREDIT_CARD" | translate }}</mat-icon>
                                    <div>
                                        <h5 class="mb-1">{{ "HEADERS.PAYMENT_METHOD" | translate }}</h5>
                                        <p class="mb-0">&nbsp;</p>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100">
                                    <mat-icon class="mr-4">{{ "HEADERS.ACCOUNT_BALANCE" | translate }}</mat-icon>
                                    <div>
                                        <h5 class="mb-1">{{ "HEADERS.ONLINE_BANKING" | translate }}</h5>
                                        <p class="mb-0">&nbsp;</p>
                                    </div>
                                  </div>
                            </a>
                          </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary w-100">{{ "HEADERS.RELOAD" | translate }}</button>
                    </div>
                </div>
            </div>
          </div>
      </div>
</div>
