<div
  class="InputText"
  [ngClass]="{ basic: isBasic }"
  [formGroup]="customFormGroup"
>
  <div class="heading_txt">
    <div class="ico-tt">
      <img src="assets/icons/tt.svg" alt=".." />
    </div>
    <h3
      class="InputText-title title"
      [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
    >
      {{ title }}
    </h3>
  </div>
  <div class="InputText-block block u-dfCenterStart border-bottom mlb">
    <input
      [formControlName]="customFormControlName"
      class="InputText-input input"
      [type]="type"
      [ngClass]="{ 'global-Text': isBasic, 'global-Title2': !isBasic }"
      [placeholder]="placeholder"
      [value]="value"
      [readonly]="isDisabled"
      (keyup)="onSubmit($event)"
    />

    <img
      class="InputText-icon icon"
      src="./../../../../../assets/icons/ionic-ios-return-left.svg"
      alt=".."
    />
  </div>
  <!-- <div class="img-text">
  <img src="assets/icons/text-t.svg" alt="..">
  </div> -->
</div>
