@import "shared";

// $--card-bg: linear-gradient(
//   180deg,
//   rgba(11, 8, 36, 0) 0%,
//   rgba(11, 8, 36, 0.75) 53.12%,
//   #0b0824 100%
// );

// $--card-active-bg: linear-gradient(
//   180deg,
//   rgba(187, 245, 90, 0) 0%,
//   rgba(187, 245, 90, 0.75) 53.12%,
//   #bbf55a 100%
// );

:host {
  display: block;
}

// .CreateTeam {
//   overflow: hidden;
//   position: relative;
//   background: $left-corner-light;

//   &-container {
//     @extend %u-dfStretch;
//     min-height: 100vh;
//     padding-top: px2vw-xl(144px);

//     @include lg {
//       padding-top: px2vw-lg(144px);
//     }

//     @include md {
//       padding-top: px2vw-md(144px);
//     }

//     @include sm {
//       padding-top: px2vw-sm(144px);
//     }
//   }

//   &-logo {
//     @extend %u-dfCenterCenter;
//     margin-right: px2vw-xl(40px);
//     height: px2vw-xl(48px);
//     width: px2vw-xl(48px);

//     @include lg {
//       margin-right: px2vw-lg(40px);
//       height: px2vw-lg(48px);
//       width: px2vw-lg(48px);
//     }

//     @include md {
//       margin-right: px2vw-md(40px);
//       height: px2vw-md(48px);
//       width: px2vw-md(48px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(40px);
//       height: px2vw-sm(48px);
//       width: px2vw-sm(48px);
//     }
//   }

//   &-main {
//     @extend %u-dfStart;
//     flex-direction: column;
//     flex-grow: 1;
//     max-width: px2vw-xl(690px);
//     padding-top: px2vw-xl(6px);
//     padding-bottom: px2vw-xl(40px);

//     @include lg {
//       max-width: px2vw-lg(690px);
//       padding-top: px2vw-lg(6px);
//       padding-bottom: px2vw-lg(40px);
//     }

//     @include md {
//       max-width: px2vw-md(690px);
//       padding-top: px2vw-md(6px);
//       padding-bottom: px2vw-md(40px);
//     }

//     @include sm {
//       max-width: px2vw-sm(690px);
//       padding-top: px2vw-sm(6px);
//       padding-bottom: px2vw-sm(40px);
//     }
//   }

//   &-title {
//     @extend %global-H4;
//     margin-bottom: px2vw-xl(30px);

//     @include lg {
//       margin-bottom: px2vw-lg(30px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(30px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(30px);
//     }
//   }

//   &-search {
//     margin-bottom: px2vw-xl(24px);
//     width: 500px;

//     margin-top: px2vw-xl(24px);
//     @include lg {
//       margin-bottom: px2vw-lg(24px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(24px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(24px);
//     }
//   }

//   &-buttons {
//     @extend %u-dfCenter;
//     margin-top: auto;
//     margin-top: 20px;
//   }

//   &-button {
//     margin-right: px2vw-xl(8px);

//     @include lg {
//       margin-right: px2vw-lg(8px);
//     }

//     @include md {
//       margin-right: px2vw-md(8px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(8px);
//     }

//     &:last-child {
//       margin-right: 0;
//     }
//   }

//   &-person {
//     position: absolute;
//     top: px2vw-xl(72px);
//     right: 0;
//     height: px2vw-xl(810px);

//     @include lg {
//       top: px2vw-lg(72px);
//       height: px2vw-lg(810px);
//     }

//     @include md {
//       top: px2vw-md(72px);
//       height: px2vw-md(810px);
//     }

//     @include sm {
//       top: px2vw-sm(72px);
//       height: px2vw-sm(810px);
//     }
//   }

//   &-form {
//     &-title {
//       @extend %global-H5;
//       margin-bottom: px2vw-xl(32px);

//       @include lg {
//         margin-bottom: px2vw-lg(32px);
//       }

//       @include md {
//         margin-bottom: px2vw-md(32px);
//       }

//       @include sm {
//         margin-bottom: px2vw-sm(32px);
//       }
//     }
//     &-image {
//       margin-bottom: px2vw-xl(26px);
//       // border-bottom: px2vw-xl(1px) solid var(--white-light);
//       padding-bottom: px2vw-xl(32px);

//       @include lg {
//         margin-bottom: px2vw-lg(26px);
//         // border-bottom-width: px2vw-lg(1px);
//         padding-bottom: px2vw-lg(32px);
//       }

//       @include md {
//         margin-bottom: px2vw-md(26px);
//         // border-bottom-width: px2vw-md(1px);
//         padding-bottom: px2vw-md(32px);
//       }

//       @include sm {
//         margin-bottom: px2vw-sm(26px);
//         // border-bottom-width: px2vw-sm(1px);
//         padding-bottom: px2vw-sm(32px);
//       }
//     }
//     &-banner {
//       width: 800px;
//       margin-bottom: px2vw-xl(26px);
//       // border-bottom: px2vw-xl(1px) solid var(--white-light);
//       padding-bottom: px2vw-xl(32px);

//       @include lg {
//         margin-bottom: px2vw-lg(26px);
//         // border-bottom-width: px2vw-lg(1px);
//         padding-bottom: px2vw-lg(32px);
//       }

//       @include md {
//         margin-bottom: px2vw-md(26px);
//         // border-bottom-width: px2vw-md(1px);
//         padding-bottom: px2vw-md(32px);
//       }

//       @include sm {
//         margin-bottom: px2vw-sm(26px);
//         // border-bottom-width: px2vw-sm(1px);
//         padding-bottom: px2vw-sm(32px);
//       }
//     }
//     &-field {
//       width: 500px;
//     }
//     &-input {
//       &-title {
//         @extend %subtitle-1;
//         margin-bottom: px2vw-xl(8px);

//         @include lg {
//           margin-bottom: px2vw-lg(8px);
//         }

//         @include md {
//           margin-bottom: px2vw-md(8px);
//         }

//         @include sm {
//           margin-bottom: px2vw-sm(8px);
//         }
//       }

//       &-subtitle {
//         @extend %caption;
//         margin-bottom: px2vw-xl(16px);
//         color: var(--white-medium);

//         @include lg {
//           margin-bottom: px2vw-lg(16px);
//         }

//         @include md {
//           margin-bottom: px2vw-md(16px);
//         }

//         @include sm {
//           margin-bottom: px2vw-sm(16px);
//         }
//       }
//     }
//     &-sm {
//       &-item {
//         @extend %u-dfCenter;
//         margin-bottom: px2vw-xl(22px);

//         @include lg {
//           margin-bottom: px2vw-lg(22px);
//         }

//         @include md {
//           margin-bottom: px2vw-md(22px);
//         }

//         @include sm {
//           margin-bottom: px2vw-sm(22px);
//         }

//         &:last-child {
//           margin-bottom: 0;
//         }

//         mat-form-field {
//           max-width: px2vw-xl(304px);

//           @include lg {
//             max-width: px2vw-lg(304px);
//           }

//           @include md {
//             max-width: px2vw-md(304px);
//           }

//           @include sm {
//             max-width: px2vw-sm(304px);
//           }
//         }

//         ::ng-deep .mat-form-field-wrapper {
//           padding-bottom: 0;
//         }
//       }
//       &-item-button {
//         @extend %u-dfCenter;
//         @extend %caption;
//         margin-left: px2vw-xl(20px);
//         margin-bottom: px2vw-xl(20px);
//         margin-top: px2vw-xl(20px);
//         background-color: transparent;
//         color: var(--white-medium);
//         transition: $global-transition2;

//         @include lg {
//           margin-left: px2vw-lg(20px);
//         }

//         @include md {
//           margin-left: px2vw-md(20px);
//         }

//         @include sm {
//           margin-left: px2vw-sm(20px);
//         }

//         &:hover {
//           color: var(--color-primary);

//           mat-icon {
//             color: var(--color-primary);
//           }
//         }
//       }

//       &-item-button-icon {
//         flex-shrink: 0;
//         margin-right: px2vw-xl(12px);
//         height: auto;
//         width: auto;
//         font-size: px2vw-xl(24px);
//         color: var(--white-high);
//         transition: $global-transition2;

//         @include lg {
//           margin-right: px2vw-lg(12px);
//           font-size: px2vw-lg(24px);
//         }

//         @include md {
//           margin-right: px2vw-md(12px);
//           font-size: px2vw-md(24px);
//         }

//         @include sm {
//           margin-right: px2vw-sm(12px);
//           font-size: px2vw-sm(24px);
//         }
//       }
//     }
//   }
// }
// p {
//   margin: 5px;
// }
// span {
//   margin-bottom: 0;
//   color: var(--color-secondary);
// }

// .createteam-member{
//   overflow: hidden;
//   margin-bottom: 0;
//   border: px2vw-xl(1px) solid var(--white-light);
//   border-radius: px2vw-xl(3px);
//   background: var(--gradient-bg);
//   width: 500px;
// }
// .subtitle{
//   font-family:  'redhat-regular';
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 24px;
// /* identical to box height, or 150% */

// /* On Surface/Medium Emphasis */

// color: rgba(255, 255, 255, 0.6);
// }
// .global-MatField{
//   width: 480px;
//   left: 8px;
// }

// .closebtn {
//   padding-left: 10px;
//   color: var(--ui-dim-gray);
//   font-weight: 700;
//   float: right;
//   font-size: 20px;
//   cursor: pointer;
// }

// @import "shared";

// :host {
//   display: block;
// }

// .InputSearch {
//   @extend %u-dfCenter;
//   border: 1px solid var(--white-smoke);
//   padding: 0.625vw 0.8333333333vw;
//   background: var(--gradient-bg);
//   padding-bottom: px2vw-xl(12px);
//   width: 100%;

//   @include lg {
//     border-bottom-width: px2vw-lg(1px);
//     padding-bottom: px2vw-lg(12px);
//   }

//   @include md {
//     border-bottom-width: px2vw-md(1px);
//     padding-bottom: px2vw-md(12px);
//   }

//   @include sm {
//     border-bottom-width: px2vw-sm(1px);
//     padding-bottom: px2vw-sm(12px);
//   }

//   &-icon {
//     @extend %u-dfCenterCenter;
//     flex-shrink: 0;
//     margin-right: px2vw-xl(20px);
//     height: px2vw-xl(24px);
//     width: px2vw-xl(24px);
//     font-size: px2vw-xl(24px);
//     color: var(--white);
//     cursor: pointer;
//     transition: $global-transition;

//     @include lg {
//       margin-right: px2vw-lg(20px);
//       height: px2vw-lg(24px);
//       width: px2vw-lg(24px);
//       font-size: px2vw-lg(24px);
//     }

//     @include md {
//       margin-right: px2vw-md(20px);
//       height: px2vw-md(24px);
//       width: px2vw-md(24px);
//       font-size: px2vw-md(24px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(20px);
//       height: px2vw-sm(24px);
//       width: px2vw-sm(24px);
//       font-size: px2vw-sm(24px);
//     }

//     &:hover {
//       opacity: 0.8;
//     }
//   }

//   &-field {
//     width: 100%;
//     background-color: transparent;
//     transition: $global-transition;
//     cursor: pointer;

//     &,
//     &::placeholder {
//       @extend %subtitle-1;
//     }

//     &::placeholder {
//       color: var(--white-disabled);
//     }

//     &:hover:not(:focus) {
//       opacity: 0.8;
//     }
//   }
// }

// @import "shared";

// :host {
//   display: block;
// }

// .SearchPlayers {
//   &-heading {
//     @extend %subtitle-1;
//     margin-bottom: px2vw-xl(32px);

//     @include lg {
//       margin-bottom: px2vw-lg(32px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(32px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(32px);
//     }
//   }

//   &-header {
//     @extend %u-dfCenter;
//     margin-bottom: px2vw-xl(31.5px);
//     border-bottom: px2vw-xl(2px) solid var(--white-light);
//     padding-bottom: px2vw-xl(16.5px);
//     width: 100%;

//     @include lg {
//       margin-bottom: px2vw-lg(31.5px);
//       border-bottom-width: px2vw-lg(2px);
//       padding-bottom: px2vw-lg(16.5px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(31.5px);
//       border-bottom-width: px2vw-md(2px);
//       padding-bottom: px2vw-md(16.5px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(31.5px);
//       border-bottom-width: px2vw-sm(2px);
//       padding-bottom: px2vw-sm(16.5px);
//     }
//   }

//   &-header-icon {
//     margin-right: px2vw-xl(19.5px);
//     height: px2vw-xl(17.5px);
//     width: px2vw-xl(17.5px);
//     cursor: pointer;

//     @include lg {
//       margin-right: px2vw-lg(19.5px);
//       height: px2vw-lg(17.5px);
//       width: px2vw-lg(17.5px);
//     }

//     @include md {
//       margin-right: px2vw-md(19.5px);
//       height: px2vw-md(17.5px);
//       width: px2vw-md(17.5px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(19.5px);
//       height: px2vw-sm(17.5px);
//       width: px2vw-sm(17.5px);
//     }
//   }

//   &-header-field {
//     @extend %subtitle-1;
//     flex-grow: 1;
//     background-color: transparent;
//     color: var(--white);
//   }

//   &-list {
//     width: 100%;
//   }

//   &-list-title {
//     @extend %body-2;
//     margin-bottom: px2vw-xl(16px);
//     color: var(--white-medium);

//     @include lg {
//       margin-bottom: px2vw-lg(16px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(16px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(16px);
//     }
//   }

//   &-items {
//     overflow: hidden;
//     margin-bottom: 0;
//     border: px2vw-xl(1px) solid var(--white-light);
//     border-radius: px2vw-xl(8px);

//     @include lg {
//       border-width: px2vw-lg(1px);
//       border-radius: px2vw-lg(8px);
//     }

//     @include md {
//       border-width: px2vw-md(1px);
//       border-radius: px2vw-md(8px);
//     }

//     @include sm {
//       border-width: px2vw-sm(1px);
//       border-radius: px2vw-sm(8px);
//     }
//   }

//   &-item {
//     @extend %u-dfCenterBtw;
//     border-bottom: px2vw-xl(1px) solid var(--white-light);
//     padding: px2vw-xl(12px);

//     @include lg {
//       border-bottom-width: px2vw-lg(1px);
//       padding: px2vw-lg(12px);
//     }

//     @include md {
//       border-bottom-width: px2vw-md(1px);
//       padding: px2vw-md(12px);
//     }

//     @include sm {
//       border-bottom-width: px2vw-sm(1px);
//       padding: px2vw-sm(12px);
//     }

//     &:last-child {
//       border-bottom: none;
//     }
//   }

//   &-item-info {
//     @extend %u-dfCenter;
//   }

//   &-item-image {
//     margin-right: px2vw-xl(8px);
//     border-radius: 50%;
//     height: px2vw-xl(32px);
//     width: px2vw-xl(32px);
//     background-size: cover;
//     background-position: center;
//     background-color: var(--black);

//     @include lg {
//       margin-right: px2vw-lg(8px);
//       height: px2vw-lg(32px);
//       width: px2vw-lg(32px);
//     }

//     @include md {
//       margin-right: px2vw-md(8px);
//       height: px2vw-md(32px);
//       width: px2vw-md(32px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(8px);
//       height: px2vw-sm(32px);
//       width: px2vw-sm(32px);
//     }
//   }

//   &-item-name {
//     @extend %body-2;
//     margin-bottom: 0;
//     color: var(--white);
//   }

//   &-item-toggle {
//     @extend %u-dfCenterCenter;
//     overflow: hidden;
//     border-radius: px2vw-xl(2px);
//     height: px2vw-xl(30px);
//     width: px2vw-xl(30px);
//     transition: $global-transition;
//     cursor: pointer;

//     @include lg {
//       border-radius: px2vw-lg(2px);
//       height: px2vw-lg(30px);
//       width: px2vw-lg(30px);
//     }

//     @include md {
//       border-radius: px2vw-md(2px);
//       height: px2vw-md(30px);
//       width: px2vw-md(30px);
//     }

//     @include sm {
//       border-radius: px2vw-sm(2px);
//       height: px2vw-sm(30px);
//       width: px2vw-sm(30px);
//     }

//     &.active {
//       background-color: var(--color-primary);
//     }

//     &:hover {
//       opacity: 0.8;
//     }
//   }

//   &-item-toggle-icon {
//     user-select: none;

//     &.plus {
//       height: px2vw-xl(14px);
//       width: px2vw-xl(14px);

//       @include lg {
//         height: px2vw-lg(14px);
//         width: px2vw-lg(14px);
//       }

//       @include md {
//         height: px2vw-md(14px);
//         width: px2vw-md(14px);
//       }

//       @include sm {
//         height: px2vw-sm(14px);
//         width: px2vw-sm(14px);
//       }
//     }

//     &.check {
//       height: px2vw-xl(13.41px);
//       width: px2vw-xl(17.59px);

//       @include lg {
//         height: px2vw-lg(13.41px);
//         width: px2vw-lg(17.59px);
//       }

//       @include md {
//         height: px2vw-md(13.41px);
//         width: px2vw-md(17.59px);
//       }

//       @include sm {
//         height: px2vw-sm(13.41px);
//         width: px2vw-sm(17.59px);
//       }
//     }
//   }
// }

// .friend_list{
//   height: 30px;padding-left: 10px;padding-top: 6px;border: 1px solid #4a4a4a;display: flex;justify-content: space-between;padding-right: 10px;position: relative;min-height: 56px;align-items: center;justify-content: flex-start;
// }

// .custom_checkbox{
//   width: 30px;
//   height: 30px;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 11px;
//   cursor: pointer;
//   input[type="checkbox"] , input[type="radio"]{
//     opacity: 0;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     z-index: 1;
//     cursor: pointer;
//   }
//   span{
//       display: block;
//       height: 100%;
//       width: 100%;
//       border: 1px solid #0b0824;
//       position: absolute;
//       top: 0;
//       left: 0;
//       border-radius: 4px;
//       i{
//         color: #000;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translateX(-50%) translateY(-50%);
//       }

//       &:after{
//         content:"+";
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translateY(-50%) translateX(-50%);
//         color: var(--white-high);
//         font-size: 23px;
//       }
//   }

//   input:checked + span{
//     background: var(--color-primary);
//     border-color: var(--color-primary);
//     i{
//       opacity: 1;
//     }
//     &:after{
//       display: none !important;
//     }
//   }

// }
.CreateTeam {
  max-width: 648px;
  margin: 0 auto;
  padding: 0px 15px;
  padding-top: 144px;
  padding-bottom: 122px;
  @include sm {
    padding: 0px 24px;
    padding-top: 130px;
  }
  &--title {
    padding-top: 16px;
    padding-bottom: 32px;
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
    @include sm {
      font-size: 24px;
      line-height: 32px;
    }
    &--section {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      margin: 0px;
      padding: 16px 0px;
      @include sm {
        font-size: 20px;
        line-height: 28px;
      }
      &.about {
        padding-top: 25px;
      }
      &.social-media {
        padding-top: 26px;
      }
    }
  }
  button {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    min-height: 48px;
  }
  .field--title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white-medium);
  }
  .field--required {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--tertiary-color);
  }
  &--field__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  .input-file-recommend {
    display: block;
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--tolopea-medium-color);
  }
  &--divide {
    height: 1px;
    width: 100%;
    background-color: var(--color-black-medium);
  }
  &--field {
    margin-bottom: 28px;
    .field-team-description {
      margin-bottom: 16px;
    }
    .field-team-name {
      margin-bottom: 25px;
    }
    &__input {
      &.input-file {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &--action {
        width: 119px;
        position: relative;
        @include sm {
          width: 100%;
          margin-top: 16px;
          margin-bottom: 4px;
        }
        input {
          position: absolute;
          opacity: 0;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .btn_upload {
          padding: 14px;
          width: 100%;
        }
        .btn-add-platform {
          padding: 14px;
          width: 100%;
          text-transform: capitalize;
        }
      }
      &--file {
        width: calc(100% - 127px);
        @include sm {
          width: 100%;
        }
        &__label {
          display: flex;
          position: relative;
          align-items: center;
          padding-left: 16px;
          width: 100%;
          border: 2px solid #767676;
          box-sizing: border-box;
          border-radius: 4px;
          height: 48px;
          input {
            position: absolute;
            width: 100%;
            opacity: 0;
          }
          .input-file-placeholder {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: var(--tolopea-color);
          }
        }
      }
      input {
        background-color: transparent;
        width: 100%;
        border: 2px solid #767676;
        box-sizing: border-box;
        border-radius: 4px;
        height: 48px;
        padding-left: 16px;
        color: var(--white);
        &::placeholder {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--tertiary-color);
        }
      }
      textarea {
        background-color: transparent;
        width: 100%;
        border: 2px solid #767676;
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 16px;
        padding-top: 16px;
        height: 96px;
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        &::placeholder {
          color: var(--tertiary-color);
        }
      }
      select {
        background-color: transparent;
        width: 100%;
        border: 2px solid #767676;
        box-sizing: border-box;
        border-radius: 4px;
        height: 48px;
        padding-left: 16px;
        color: var(--tolopea-color);
      }
      &.field-selelect-media {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .CreateTeam--field__input--action {
          width: 164px;
          @include sm {
            width: 100%;
            margin-top: 16px;
          }
        }
        .CreateTeam--field__input--select {
          width: calc(100% - 172px);
          @include sm {
            width: 100%;
          }
        }
      }
    }
  }
  .media-lists {
    margin-top: -7px;

    @include sm {
      padding-bottom: 170px;
    }
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
      &--icon {
        width: 72px;
        height: 72px;
        background-color: var(--midnight-express-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        &.facebook ::ng-deep svg {
          width: 13px;
          height: 26px;
        }
        &.twitter ::ng-deep svg {
          width: 32px;
          height: 32px;
        }
      }
      &--field {
        width: calc(100% - 91px);
        @include sm {
          width: 100%;
        }
        .CreateTeam--field__input {
          margin-bottom: 0px;
          position: relative;
          .mat-button-base {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: none;
            .mat-icon {
              color: var(--secondary-color);
            }
          }
          &.active .mat-button-base {
            display: block;
          }
        }
      }
    }
  }
  &--action {
    margin-top: 40px;
    @include sm {
      display: flex;
      flex-wrap: wrap;
      position: fixed;
      bottom: 0;
      left: 0;
      background: #1d1d1d;
      box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%), 0px -12px 10px rgb(0 0 0 / 2%),
        0px -4px 4px rgb(0 0 0 / 2%);
      width: 100%;
      box-sizing: border-box;
      padding: 16px 24px;

      .btn-cancel {
        order: 2;
        margin-bottom: 0;
      }
    }
    button {
      margin-right: 19px;
      @include sm {
        margin-bottom: 16px;
        width: 100%;
        margin-right: 0px;
      }
    }
    .btn-background{
      &:hover{
        background-color: var(--color-purple);
      }
    }
  }
}
.Select-teamDropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include md {
    flex-wrap: wrap;
  }
  &:hover,
  &.show {
    .Select-teamBtn {
      border: 2px solid var(--main-color);
    }
  }
  .Select-teamBtn {
    background: var(--blackcurrant-color-medium);
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    margin-right: 16px;
    text-align: left;
    padding: 12px 16px;
    @extend %global-textSm;
    font-weight: 500;
    color: var(--white);
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    @include md {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
    &::after {
      display: inline-block;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: 2px solid var(--main-color);
      border-right: 2px solid var(--main-color);
      border-bottom: 0;
      border-left: 0;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      transition: $global-transition2;
      position: relative;
      top: -4px;
    }
  }
  .Select-teamDropdownItem {
    top: 55px !important;
    transform: none !important;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    background: var(--midnight-express-color);
    border: 2px solid var(--midnight-express-color);
    max-height: 144px;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    button {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
      padding: 10px 16px;
      &:hover {
        background: var(--color-black-medium);
      }
    }
  }
  .form-field-btn {
    @include md {
      max-width: 100%;
      width: 100%;
    }
    .btn-add {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 30px;
      background: var(--white);
      border-radius: 6px;
      border: 2px solid var(--secondary-color);
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--secondary-color);
      text-transform: none;
      white-space: nowrap;
      @include md {
        max-width: 100%;
        width: 100%;
        justify-content: center;
      }
    }
  }
  &.show {
    .Select-teamBtn {
      &::after {
        transform: rotate(315deg);
        transition: $global-transition2;
      }
    }
  }
}

.CreateTeam--field{
  .logo {
    position: relative;
    width: 140px;
    height: 140px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    border-radius: 100%;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
    margin-right: 24px;
    @include md {
      width: 104px;
      height: 104px;
      padding: 5.945px;
      margin-right: 16px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      padding: 6px;
    }
    .edit {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.38);
      padding: 6px 0;
      cursor: pointer;
      @include md {
        padding: 4px 0 0;
      }
      .icon {
        .material-icons {
          color: var(--white);
          font-size: 12px;
          width: 15px;
        }
      }
      .text {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        margin-right: 7px;
        line-height: 20px;
        color: var(--white);
        @include md {
          margin-right: 16px;
        }
      }
    }
  }
}
