@import "../../../../lib//scss/shared.scss";
#turnament-main-div {
  max-width: 100%;
  margin: auto;
  padding: 0;

  ul.nav-tabs {
    padding: 0;
    margin: 0;
    margin-top: -172px;

    .nav-link {
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .navtab-text {
        margin: 0 0 14px;
        color: var(--base-black-pearl);
      }
    }

    .nav-item:last-child {
      display: none;
    }
  }

  .tab-content {
    margin-top: 143px !important;
    margin-bottom: 77px;

    .carousel-game {
      margin-top: 69px;
      position: relative;

      > p {
        font-size: 16px;
        line-height: 21px;
        color: var(--base-black-pearl);
        margin-left: 24px;
        margin-bottom: 23px;
      }

      swiper {
        width: 100%;
        display: block;
        margin-top: -67px;

        .swiper-slide.swiper-slide-prev {
          margin-right: 55px;
        }

        .swiper-slide.swiper-slide-next {
          margin-left: 50px;
        }

        .swiper-slide {
          width: 177px;
          height: 184px;
          padding: 0;
          background: transparent;
          margin-right: 15px;

          &:last-child {
            margin-right: 0 !important;
          }

          &.swiper-slide-active {
            width: 294px;
            height: 306px;
            overflow: inherit;
            margin: 0 !important;

            > div {
              cursor: pointer;
              height: 306px;
              background-size: cover !important;
              background-position: center !important;
              border: 2px solid var(--primary-sunset-light);
              box-shadow: 6px 6px 10px var(--base-black);

              div {
                padding: 21px 0;
                padding-left: 28px;

                p {
                  font-size: 24px;
                  line-height: 31px;
                }
              }
            }
          }

          > div {
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            height: 184px;
            background-size: cover !important;
            background-position: center !important;
            cursor: pointer;

            div {
              position: absolute;
              bottom: 0;
              background: rgba(23, 26, 28, 0.7);
              padding-top: 12px;
              padding-bottom: 17px;
              padding-left: 18px;
              width: 100%;

              p {
                margin: 0;
                font-size: 12px;
                line-height: 16px;
                color: var(--base-white-smoke);
              }
            }
          }
        }
      }
    }

    .tournament-url {
      .form-group {
        display: flex;
        align-items: center;
        margin: 0 !important;
        height: 100%;

        p {
          margin: 0;
          font-size: 15px;
          line-height: 20px;
          color: var(--base-white-smoke);
        }
      }
    }

    .tournament-type {
      @include md {
        margin-bottom: 25px;
      }

      @include sm {
        margin-bottom: 25px;
      }
      &-label {
        display: block;
        margin-top: 10px;
      }
      &-date {
        display: block;
        margin-top: 20px;
      }
    }
    .DateInput {
      margin-bottom: 50px;
      margin-top: 20px;
      @include md {
        margin-top: 20px;
      }
      @include sm {
        margin-top: 20px;
      }
    }
    .bracket-format {
      margin-top: 45px;

      > div > p {
        margin-bottom: 18px;
        font-family: "dynasty-primary-light", sans-serif !important;
        font-size: 16px;
        line-height: 21px;
        color: var(--base-white);
      }

      .row {
        margin: 0 -7px;

        > div {
          height: 50px;
          position: relative;
          padding: 0 8px;
          margin: 10px 0;

          &:focus {
            outline: 0;
            box-shadow: 0 0 0 transparent !important;
          }

          &.focus,
          &.active {
            box-shadow: 0 0 !important;
          }

          input {
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            cursor: pointer;
          }

          input:checked + div {
            border-color: var(--primary-sunset-light);

            p {
              color: var(--primary-sunset-light);
            }
          }

          input:checked + div svg rect {
            fill: var(--base-white-smoke);
          }

          input:checked + div svg path {
            stroke: var(--base-white-smoke);
          }

          div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 1px solid var(--base-gainsboro);
            border-radius: 4px;
            height: 100%;

            p {
              margin: 0;
              font-size: 18px;
              line-height: 23px;
              color: var(--base-black-pearl);
              text-align: center;
            }
          }
        }

        .double-elimination svg,
        .round-elimination svg {
          width: 88px;
          height: 86px;
        }
      }
    }

    .registration-tournament {
      margin-top: 60px;
      margin-left: -15px;

      .form-group {
        height: 100%;

        .form-check {
          padding: 0;
          display: flex;
          align-items: center;
          height: 100%;

          .form-check-label {
            font-size: 16px;
            margin-right: 16px;
            line-height: 21px;
            color: var(--base-black-pearl);
            padding: 0;
          }
        }
      }

      .paid-registration {
        .input-row {
          .dropdown {
            > button {
              border: 1px solid var(--base-white-dark);
              border-radius: 4px;
              width: 100%;

              &:before {
                right: 20px;
              }

              &:hover,
              &:visited,
              &:active {
                background: transparent !important;
                color: var(--base-white);
              }

              &:focus {
                border-color: var(--primary-cinnabar);
              }
            }

            &.show {
              button {
                background-color: transparent !important;
                color: var(--base-white);
              }
            }

            .dropdown-menu {
              max-width: 179px;
              width: 179px;
              min-width: 179px;

              button {
                padding-left: 10px;
                width: auto;
                padding-right: 10px;

                img {
                  width: 32px;
                  height: 16px;
                  margin-right: 12px;
                }
              }
            }
          }
        }
      }

      .input-row {
        margin-top: px2vw-xl(30px);

        > div {
          position: relative;
          padding: 0 8px;

          input {
            padding-left: 17px;
          }
        }
      }
    }

    .add-banner {
      margin-top: 64px;

      .custom-file {
        height: 200px;
      }
    }

    .form-group {
      .dropdown {
        button {
          text-align: left;

          &:after {
            display: none;
          }
        }

        .dropdown-menu {
          overflow-x: auto;
          width: 100%;
          top: 38px !important;
          left: auto !important;
          box-shadow: 4px 4px 6px var(--base-black);
          max-height: 198px;
          padding: 0;
          transform: none !important;

          &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
          }

          &::-webkit-scrollbar-track {
            width: 10px;
            height: 10px;
          }

          &::-webkit-scrollbar-thumb {
            height: 10px;
            background-color: rgba(112, 112, 112, 0.6);
            border-radius: 3px;
          }

          .dropdown-item {
            border-bottom: 0.5px solid var(--ui-dim-gray);
            padding-top: 15px;
            padding-bottom: 9px;
            padding-left: 19px;
            font-size: 16px;

            &:last-child {
              border-bottom: 0;
            }

            &:hover,
            &:active,
            &:focus {
              background: transparent;
            }
          }
        }
      }
    }
  }

  .button-control-tabs {
    margin-bottom: 72px;
    margin-top: 65px;

    .buttons-block {
      button {
        margin: 0 16px 0 0 !important;
      }
    }
  }
}
.checkboxmargin {
  margin-bottom: px2vw-xl(15px);
  @include lg {
    margin-bottom: px2vw-lg(15px);
  }

  @include md {
    margin-bottom: px2vw-md(15px);
  }

  @include sm {
    margin-bottom: px2vw-sm(15px);
  }
}

.tournament-type {
  @include md {
    margin-bottom: 25px;
  }

  @include sm {
    margin-bottom: 25px;
  }
  &-label {
    display: block;
    margin-top: 25px;
  }
}

.CreateSeason {
  &-box {
    .upload-file-input {
      display: none;
    }
  }
}
