@import "shared";

:host {
  display: block;
}

@mixin marginButtom($px) {
  margin-bottom: px2vw-xl($px);

  @include lg {
    margin-bottom: px2vw-lg($px);
  }

  @include md {
    margin-bottom: px2vw-md($px);
  }

  @include sm {
    margin-bottom: px2vw-sm($px);
  }
}

.BracketType {
  background-color: var(--purple-bg);
  position: relative;
  padding: 80px 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  background-image: url("../../../../../../assets/images/Tournament/create/quick.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    padding: 70px 0 0 0;
  }

  @include md {
    padding: 64px 0 0 0;
  }

  &-container {
    flex-direction: column;
    max-width: 666px;
    padding-top: 88px;
    padding-bottom: 164px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    @include md {
      padding: 56px 153px 0;
      max-width: 100%;
    }

    @include sm {
      padding: 60px 24px 0;
      max-width: 100%;
    }
  }

  &-title {
    text-transform: none;
    margin-bottom: 32px;
    color: var(--base-white);
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    @include md {
      margin-bottom: 16px;
    }
  }

  &-cards {
    margin-bottom: px2vw-xl(50px);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, px2vw-xl(260px)));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
      grid-template-columns: repeat(3, minmax(0, px2vw-lg(260px)));
      grid-column-gap: px2vw-lg(32px);
      grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      grid-template-columns: repeat(2, minmax(0, px2vw-md(260px)));
      grid-column-gap: px2vw-md(15px);
      grid-row-gap: px2vw-md(15px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: px2vw-sm(15px);
      grid-row-gap: px2vw-sm(15px);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: px2vw-xl(4px);
    border: 1px solid var(--white-light);
    padding: px2vw-xl(43px) px2vw-xl(22px) px2vw-xl(22px);
    background-color: var(--color-background);
    cursor: pointer;
    transition: 200ms linear;

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(43px) px2vw-lg(22px) px2vw-lg(22px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(43px) px2vw-md(22px) px2vw-md(22px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(50px) px2vw-sm(22px) px2vw-sm(34px);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &.is-active {
      border-color: var(--primary-sunset-light);

      .text {
        color: var(--primary-sunset-light);
      }
    }
  }

  &-card-image-block {
    margin-bottom: px2vw-xl(40px);
    min-height: px2vw-xl(110px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include lg {
      margin-bottom: px2vw-lg(40px);
      min-height: px2vw-lg(110px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      min-height: px2vw-md(110px);
    }

    @include sm {
      margin-bottom: px2vw-sm(45px);
      min-height: px2vw-sm(110px);
    }
  }

  &-card-image {
    max-height: px2vw-xl(110px);
    max-width: px2vw-xl(110px);

    @include lg {
      max-height: px2vw-lg(100px);
      max-width: px2vw-lg(110px);
    }

    @include md {
      max-height: px2vw-md(90px);
      max-width: px2vw-md(110px);
    }

    @include sm {
      max-height: px2vw-sm(110px);
      max-width: px2vw-sm(140px);
    }
  }

  &-card-text {
    margin-bottom: 0;
    text-align: center;
    color: var(--base-white);
    transition: 200ms linear;

    @include sm {
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(32px);
    }
  }

  &-participant-limit {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-participant-rule {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: px2vw-xl(30px);

    @include lg {
      grid-template-columns: auto auto auto;
    }

    @include md {
      grid-template-columns: auto auto;
    }

    @include sm {
      grid-template-columns: auto;
    }
  }

  &-block-margin {
    margin-right: px2vw-xl(15px);

    @include lg {
      margin-right: px2vw-lg(15px);
      margin-top: px2vw-lg(15px);
    }

    @include md {
      margin-right: px2vw-md(15px);
      margin-top: px2vw-md(15px);
    }

    @include sm {
      margin-right: 0;
      margin-top: px2vw-sm(15px);
    }
  }

  &-battle-royale-rule {
    @include marginButtom(30px);

    .placement-position {
      @include marginButtom(30px);
    }

    .placement-list {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-column-gap: px2vw-xl(10px);
      grid-row-gap: px2vw-xl(10px);

      @include lg {
        grid-template-columns: auto auto auto;
        grid-column-gap: px2vw-lg(10px);
        grid-row-gap: px2vw-lg(10px);
      }

      @include md {
        grid-template-columns: auto auto;
        grid-column-gap: px2vw-md(10px);
        grid-row-gap: px2vw-md(10px);
      }

      @include sm {
        grid-template-columns: auto;
        grid-column-gap: px2vw-sm(10px);
        grid-row-gap: px2vw-sm(10px);
      }
    }

    .placement-item {
      display: flex;
      position: relative;
      margin: 6px 0;
      min-height: 50px;
      width: 100%;
      padding: 6px;
      border: 2px solid var(--base-submarine) !important;
      border-radius: 10px;
    }

    .placement-input {
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .placement-input-title {
      display: inline-block;
      min-width: 45px;
      border-radius: 4px;
      background-color: var(--ui-dim-gray);
      padding: 10px;
      height: 100%;
      width: 100%;
      text-align: center;
      font-family: "stc-forward-light", sans-serif;
      color: var(--base-white);
    }

    .placement-input-placeholder {
      background-color: #0b0824;
      border-radius: 3px;
      color: var(--base-white);
      padding: px2vw-xl(10px);

      @include lg {
        padding: px2vw-lg(10px);
      }

      @include md {
        padding: px2vw-md(10px);
      }

      @include sm {
        padding: px2vw-sm(10px);
      }
    }
  }

  &-battle-royale-killPoint-rule {
    @include marginButtom(30px);
  }

  &-swiss {
    display: grid;
    grid-template-columns: px2vw-xl(350px) px2vw-xl(350px) auto;
    grid-column-gap: px2vw-xl(10px);
    grid-row-gap: px2vw-xl(10px);
    margin-bottom: px2vw-xl(30px);

    @include lg {
      grid-template-columns: px2vw-lg(350px) px2vw-lg(350px) auto;
      grid-column-gap: px2vw-lg(10px);
      grid-row-gap: px2vw-lg(10px);
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      grid-template-columns: auto auto;
      grid-column-gap: px2vw-md(10px);
      grid-row-gap: px2vw-md(10px);
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      grid-template-columns: auto;
      grid-column-gap: px2vw-sm(10px);
      grid-row-gap: px2vw-sm(10px);
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-swithcer-container {
    margin-top: auto;

    app-page-switcher {
      @include sm {
        padding: 0 px2vw-sm(20px);
      }
    }
  }
}

.placement-point-wrap {
  max-height: 242px;
  width: 190px;
  overflow: auto;
  padding: 0 10px 0 0 !important;

  & .block-points-of-placement {
    margin: 6px 0;
    min-height: 50px;
    width: 100%;
    padding: 6px;
    border: 2px solid var(--base-submarine) !important;
    border-radius: 10px;

    & .point-placement__input {
      height: 100%;
      display: inline-block;
      vertical-align: middle;

      span {
        display: inline-block;
        min-width: 45px;
        border-radius: 4px;
        background-color: var(--ui-dim-gray);
        padding: 10px;
        height: 100%;
        width: 100%;
        text-align: center;
        font-family: "stc-forward-light", sans-serif;
        color: var(--black-01);
      }

      input {
        background-color: var(--base-white);
        max-width: 100px;
        height: 30px;
        padding: 0 10px;
        color: var(--black-01);
      }
    }
  }
}
.ss-dlect-format {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  @include sm {
    margin-bottom: 16px;
  }
  .SelectTeams_header_label {
    display: flex;
    align-items: flex-end;
    color: var(--base-white);
    transition: $global-transition2;
    margin-bottom: 16px;
    display: none;
    @include md {
      margin-bottom: 12px;
    }
  }
  .SelectTeams_header_link {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    color: var(--white);
    transition: $global-transition2;
    margin-bottom: 16px;
    @include md {
      margin-bottom: 12px;
    }
  }
  .lists-cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -12px;
    padding: 0;
    width: calc(100% + 24px);
    gap: 20px 20px;
    @include md {
      margin-left: 10px;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    @include sm {
      margin-left: 3px;
    }
    .item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      max-width: 198px;
      height: 164px;
      background: var(--purple-4);
      border: 1px solid var(--purple-4);
      border-radius: 8px;
      padding: 29px 0px 12px;
      cursor: pointer;
      @include md {
        width: 138px;
        margin: 0 0 16px;
        height: 134px;
        padding: 24px 0px 16px;
      }
      @include sm {
        width: 155px;
        height: 132px;
      }
      .icon {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--base-white);
        }
        @include sm {
          margin-bottom: 8px;
        }
      }
      .text {
        text-align: center;
        color: var(--base-white);
      }
      &.active {
        background: var(--base-white);
        .text {
          color: var(--black);
        }
        .icon {
          ::ng-deep svg path {
            transition: 200ms linear;
            fill: var(--primary-purple);
          }
        }
      }
    }
  }
}

::ng-deep .ToggleSwitch {
  justify-content: left !important;
}
.select-bracket {
  text-align: center;
  width: 100%;
  .SelectTeams_header_link {
    display: flex;
    align-items: flex-end;
    color: var(--white);
    transition: $global-transition2;
    margin: 26px 0;
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    @include md {
      margin-bottom: 16px;
    }
  }
}
