@import "shared";

:host {
  display: block;
}

ngx-datatable *{
  color: var(--white);
  font-weight: 600;
  font-family: var(--selected-font-family);
}

::ng-deep .ngx-datatable {
  box-sizing: border-box;
  background-color: var(--boysenberry);
  border-radius: 8px;
  padding: 1px;

  .datatable-header{
    border-radius: 8px 8px 0px 0px;
  }
  .datatable-header-inner {
    .datatable-row-center{
      height: 64px;
      background: var(--boysenberry);
      display:flex;
      align-items: center;
    }
  }

  .datatable-body-row {
    &:hover {
      background: var(--white);
      .datatable-body-cell-label{
        //color: var(--white);
      }
      .LeaderboardTable-user-name{
        //color: var(--white);
      }

      .LeaderboardTable-place-text{
        //color: var(--white);
      }
      .LeaderboardTable-place{
        span {
          //color: var(--white);
        }
      }

      .lbview path {
        //fill: var(--white);
      }
    }
  }
}

.LeaderboardTable {
  @include sm {
   width: px2vw-sm(1000px);
  }

  &-user {
    @extend %u-dfCenter;
    padding-right: px2vw-xl(40px);

    @include lg {
      padding-right: px2vw-lg(30px);
    }

    @include md {
      padding-right: px2vw-md(15px);
    }

    @include sm {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-right: px2vw-sm(15px);
    }
  }

  &-user-image-block {
    margin-right: px2vw-xl(24px);

    @include lg {
      margin-right: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
      margin-right: 0;
    }

    &:hover ::ng-deep .LUC {
      display: block;
    }
  }

  &-user-image {
    flex-shrink: 0;
    position: relative;
    border-radius: 50%;
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);
    object-fit: cover;
    object-position: center;
    transition: 300ms ease;

    @include lg {
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-user-name {
    @extend %global-H7;
    text-transform: capitalize;
  }

  &-places {
    @extend %u-dfCenter;

    @include md {
      flex-wrap: wrap;
      padding-right: px2vw-md(10px);
    }

    @include sm {
      padding-right: px2vw-sm(10px);
    }
  }

  &-place {
    @extend %u-dfCenter;
    position: relative;
    margin-right: px2vw-xl(40px);

    @include lg {
      margin-right: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(10px);
      margin-bottom: px2vw-md(5px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
      margin-bottom: px2vw-sm(5px);
    }

    &:nth-child(2) {
      @include md {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover ::ng-deep .LTC {
      display: block;
    }
  }

  &-place-icon {
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    height: px2vw-xl(24px);
    width: px2vw-xl(22px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(24px);
      width: px2vw-lg(22px);
    }

    @include md {
      margin-right: px2vw-md(7px);
      height: px2vw-md(24px);
      width: px2vw-md(22px);
    }

    @include sm {
      margin-right: px2vw-sm(7px);
      height: px2vw-sm(24px);
      width: px2vw-sm(22px);
    }
  }

  &-place-text {
    @extend %global-H7;
    min-width: px2vw-xl(22px);

    @include lg {
      min-width: px2vw-lg(22px);
    }

    @include md {
      min-width: px2vw-md(22px);
    }

    @include sm {
      min-width: auto;
    }
  }

  &-pagination {
  }

  ::ng-deep {

    .datatable-scroll {
      width: 100%;
    }

    .datatable-body-row{
      /*border-bottom:1px solid var(--boysenberry);*/
      background: var(--darkest-night);
    }
    .datatable-header-cell,
    .datatable-body-cell {
      &:last-child{
        width: px2vw-xl(55px);
      }

      @extend %u-dfCenter;
      color: var(--blackcurrant-color-medium);
      // Rank
      &:first-child {
        @extend %body-1;
        width: px2vw-xl(110px);

        @include lg {
          width: px2vw-lg(110px);
        }

        @include md {
          width: px2vw-md(130px);
        }

        @include sm {
          width: px2vw-sm(110px);
        }
      }

      // Player name
      &:nth-child(2) {
        width: px2vw-xl(340px);

        @include lg {
          width: px2vw-lg(340px);
        }

        @include md {
          width: px2vw-md(340px);
        }

        @include sm {
          width: px2vw-sm(340px);
        }
      }

      // Region
      &:nth-child(3) {
        @extend %body-1;
        width: px2vw-xl(230px);

        @include lg {
          width: px2vw-lg(230px);
        }

        @include md {
          width: px2vw-md(230px);
        }

        @include sm {
          width: px2vw-sm(230px);
        }
      }

      // Trophies
      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        overflow: visible !important;
        width: px2vw-xl(150px);


      }


      // Points
      &:nth-child(7) {
        @extend %global-H7;
        width: px2vw-xl(140px);

        @include lg {
          width: px2vw-lg(120px);
        }

        @include md {
          display: flex;
          justify-content: flex-end;
          padding-right: 0;
          width: px2vw-md(120px);
        }

        @include sm {
          width: px2vw-sm(120px);
        }
      }

    }

    .datatable-header-cell {

      &-label {
        color: var(--spacesuit);
        font-family: var(--selected-font-family);
        font-weight: 600;
        text-transform: capitalize;
      }
      // Rank
      &:first-child {
        @include md {
          padding-left: 0;
        }
      }
    }

    .datatable-body-cell-label {
      color: var(--white);
      font-family: var(--selected-font-family);
      font-weight: 600;
      // Points
      &:nth-child(5) {
        @extend %global-H5;
      }
    }

    // Solves the problem with freezes on chrome
    .datatable-row-group {
      will-change: transform;
    }

    .datatable-footer {
      display: none;
    }
  }
}
