<ngx-datatable
  class="LeaderboardTable global-DataTable"
  *ngIf="data"
  [columnMode]="'flex'"
  [footerHeight]="'auto'"
  [headerHeight]="'auto'"
  [rowHeight]="'auto'"
  [rows]="leaderboardData"
>
  <ngx-datatable-column
    prop="rank"
    name="{{ 'LEADERBOARD.TABLE.COLUMNS.1' | translate }}"
  ></ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="data.page === 'leaderboard'"
    prop="img"
    name="{{ 'LEADERBOARD.TABLE.COLUMNS.2' | translate }}"
  >
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="LeaderboardTable-user">
        <div class="LeaderboardTable-user-image-block">
          <img
            class="LeaderboardTable-user-image"
            [src]="row?.img || './assets/images/Profile/formation.svg'"
            alt="image"
          />

          <!--<app-leaderboard-user-card [data]="row"></app-leaderboard-user-card>-->
        </div>

        <span class="LeaderboardTable-user-name global-Elipses">
          {{ row.name }}
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="data.page === 'home'"
    prop="img"
    name="{{ 'LEADERBOARD.TABLE.COLUMNS.2' | translate }}"
  >
    <ng-template ngx-datatable-cell-template let-row="row">
      <a [routerLink]="[AppHtmlRoutes.leaderBoard, row.userId]">
        <div class="LeaderboardTable-user">
          <img
            class="LeaderboardTable-user-image"
            [lazyLoad]="
              row?.profilePicture || './assets/images/Profile/formation.svg'
            "
            alt="icon"
          />

          <span class="LeaderboardTable-user-name global-Elipses">
            {{ row.name }}
          </span>
        </div>
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="data.page === 'leaderboard'"
    name="{{ 'LEADERBOARD.TABLE.COLUMNS.3' | translate }}"
    prop="region"
  ></ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="data.page === 'home'"
    prop="country"
    name="{{ 'LEADERBOARD.TABLE.COLUMNS.3' | translate }}"
  ></ngx-datatable-column>

  <ngx-datatable-column
    prop="trophies"
    name="{{ 'LEADERBOARD.TABLE.COLUMNS.7' | translate }}"
  >
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="LeaderboardTable-places">
        <!-- Gold -->
        <div class="LeaderboardTable-place">
          <!--<app-leaderboard-trophies-card
            [type]="'gold'"
          ></app-leaderboard-trophies-card>-->

          <img
            class="LeaderboardTable-place-icon"
            lazyLoad="assets/icons/trophies/gold_new.svg"
            alt="gold"
          />
          <span
            *ngIf="data.page === 'leaderboard'"
            class="LeaderboardTable-place-text"
          >
            {{ row.trophies.first }}
          </span>
          <span
            *ngIf="data.page === 'home'"
            class="LeaderboardTable-place-text"
          >
            {{ row.firstPosition }}
          </span>
        </div>

      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
  prop="Silver"
  name="{{ 'LEADERBOARD.TABLE.COLUMNS.8' | translate }}"
>
  <ng-template ngx-datatable-cell-template let-row="row">
    <div class="LeaderboardTable-places">


      <!-- Silver -->
      <div class="LeaderboardTable-place">
        <!--<app-leaderboard-trophies-card
          [type]="'silver'"
        ></app-leaderboard-trophies-card>-->

        <img
          class="LeaderboardTable-place-icon"
          lazyLoad="assets/icons/trophies/silver_new.svg"
          alt="silver"
        />

        <span
          *ngIf="data.page === 'leaderboard'"
          class="LeaderboardTable-place-text"
        >
          {{ row.trophies.second }}
        </span>

        <span
          *ngIf="data.page === 'home'"
          class="LeaderboardTable-place-text"
        >
          {{ row.secondPosition }}
        </span>
      </div>

    </div>
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column
prop="Bronze"
name="{{ 'LEADERBOARD.TABLE.COLUMNS.9' | translate }}"
>
<ng-template ngx-datatable-cell-template let-row="row">
  <div class="LeaderboardTable-places">

     <!-- Bronze -->
    <div class="LeaderboardTable-place">
      <!--<app-leaderboard-trophies-card
        [type]="'bronze'"
      ></app-leaderboard-trophies-card>-->

      <img
        class="LeaderboardTable-place-icon"
        lazyLoad="assets/icons/trophies/bronze_new.svg"
        alt="bronze"
      />

      <span *ngIf="data.page === 'leaderboard'">
        {{ row.trophies.third }}
      </span>

      <span *ngIf="data.page === 'home'">
        {{ row.thirdPosition }}
      </span>
    </div>
  </div>
</ng-template>
</ngx-datatable-column>


  <ngx-datatable-column
    prop="points"
    name="{{ 'LEADERBOARD.TABLE.COLUMNS.5' | translate }}"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
  name="   " [hidden]="teamFlag">
    <ng-template ngx-datatable-cell-template let-row="row">
      <a [routerLink]="[AppHtmlProfileRoutes.viewStats, row.id]"><svg class="lbview" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 0.5C6 0.5 1.73 3.61 0 8C1.73 12.39 6 15.5 11 15.5C16 15.5 20.27 12.39 22 8C20.27 3.61 16 0.5 11 0.5ZM11 13C8.24 13 6 10.76 6 8C6 5.24 8.24 3 11 3C13.76 3 16 5.24 16 8C16 10.76 13.76 13 11 13ZM11 5C9.34 5 8 6.34 8 8C8 9.66 9.34 11 11 11C12.66 11 14 9.66 14 8C14 6.34 12.66 5 11 5Z" fill="#A3A1A7"/>
        </svg>
        </a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

