@import "shared";

:host {
  display: block;
}

.Header-bottom {
  background-color: var(--color-background);
  padding: 0;
  width: 100%;

  @include md {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 32px;
  }
  @include sm {
    display: none;
  }
  &-inner {
    border-bottom: 1px solid var(--midnight-express-color);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: px2vw-xl(16px) 0 0;
    @include lg {
      padding:px2vw-lg(16px) 0 0;
    }
    @include md {
      padding: px2vw-md(16px) 0 0;
    }
    @include sm {
      padding: px2vw-sm(16px) 0 0;
    }
  }
  &-container {
    overflow: hidden;
    padding: 0 24px;
    max-width: 1308px;
    margin: 0 auto;
  }
  &-left {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;

    .Header-game-logo {
      display: inline-block;
      margin-right: 40px;
      width: 100%;
      max-width: 110px;
      height: 80px;
      position: relative;
      .Header-game-logo-icon {
        width: 100%;
        height: 100%;
        ::ng-deep svg {
          width: 100%;
        }
      }
    }
    .nav-season-matching {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      .Header-game-navigation-link {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        margin-right: 40px;
        position: relative;
        &::after {
          content: none;
          position: absolute;
          width: 100%;
          height: 4px;
          background: var(--main-color);
          border-radius: 2px;
          left: 0;
          bottom: -29px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .Header-game-navigation-link.is-active {
        color: var(--main-color);
        &::after {
          content: "";
        }
      }
    }
  }
  &-right {
    @include md {
      display: none;
    }
    button.btn {
      text-transform: none;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--white);
    }
  }
}
.Header-bottom::-webkit-scrollbar {
  display: none;
}
