@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "base/typography";
@import "abstract/functions";

.capitalize {
  text-transform: uppercase;
}

.ViewUserAccess {
  &-content {
    padding: px2vw-xl(50px);
    border-radius: px2vw-xl(5px);
    display: flex;
    justify-content: center;
    width: 100%;

    @include lg {
      padding: px2vw-lg(50px);
      border-radius: px2vw-lg(5px);
    }

    @include md {
      padding: px2vw-md(30px);
      border-radius: px2vw-md(5px);
    }

    @include sm {
      padding: px2vw-sm(20px);
      border-radius: px2vw-sm(5px);
      flex-flow: column;
      align-items: center;
    }
  }

  &-ava {
    min-width: px2vw-xl(99px);
    width: px2vw-xl(99px);
    min-height: px2vw-xl(99px);
    height: px2vw-xl(99px);
    margin-right: px2vw-xl(50px);
    border-radius: 50%;
    overflow: hidden;

    @include lg {
      min-width: px2vw-lg(99px);
      width: px2vw-lg(99px);
      min-height: px2vw-lg(99px);
      height: px2vw-lg(99px);
      margin-right: px2vw-lg(50px);
    }

    @include md {
      min-width: px2vw-md(99px);
      width: px2vw-md(99px);
      min-height: px2vw-md(99px);
      height: px2vw-md(99px);
      margin-right: px2vw-md(50px);
    }

    @include sm {
      min-width: px2vw-sm(99px);
      width: px2vw-sm(99px);
      min-height: px2vw-sm(99px);
      height: px2vw-sm(99px);
      margin: 0 0 px2vw-sm(20px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-box {
    max-width: px2vw-xl(882px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(882px);
    }

    @include md {
      max-width: px2vw-md(882px);
    }

    @include sm {
      max-width: px2vw-sm(882px);
    }
  }

  &-items {
    @extend %u-dfStartBtw;

    @include md {
      flex-flow: column;
    }

    mat-form-field {
      width: 46%;

      @include md {
        width: 100%;
      }
    }
  }

  .global-intlTel{
    width:px2vw-lg(252px) !important;

    @include lg {
      width: px2vw-lg(252px)!important;
    }

    @include md {
      width: px2vw-md(340px)!important;
    }

    @include sm {
     width: px2vw-sm(490px)!important;
    }

  }
  &-item {
    flex: 1;

    h2 {
      @extend %global-Text;
      margin: 0 0 px2vw-xl(2px);
      font-size: px2vw-xl(15px);
      color: var(--ui-nobel);

      @include lg {
        margin: 0 0 px2vw-lg(2px);
        font-size: px2vw-lg(15px);
      }

      @include md {
        margin: 0 0 px2vw-md(2px);
        font-size: px2vw-md(15px);
      }

      @include sm {
        margin: 0 0 px2vw-sm(2px);
        font-size: px2vw-sm(15px);
      }
    }

    h3 {
      @extend %global-Text;
      margin: 0 0 px2vw-xl(40px);
      font-size: px2vw-xl(19px);
      color: var(--base-white);

      @include lg {
        margin: 0 0 px2vw-lg(40px);
        font-size: px2vw-lg(19px);
      }

      @include md {
        margin: 0 0 px2vw-md(40px);
        font-size: px2vw-md(19px);
      }

      @include sm {
        margin: 0 0 px2vw-sm(40px);
        font-size: px2vw-sm(19px);
      }
    }
  }

  &-accessWp {
    @extend %u-dfStartBtw;
    flex-flow: wrap;

    @include md {
      flex-flow: column;
    }
  }

  &-access {
    @extend %u-dfCenterStart;
    margin: px2vw-xl(5px) 0 px2vw-xl(15px);
    width: 50%;

    @include lg {
      margin: px2vw-lg(5px) 0 px2vw-lg(15px);
    }

    @include md {
      margin: px2vw-md(5px) 0 px2vw-md(15px);
      width: 100%;
    }

    @include sm {
      margin: px2vw-sm(5px) 0 px2vw-sm(15px);
    }

    h2 {
      @extend %u-dfCenterCenter;
      width: px2vw-xl(40px);
      height: px2vw-xl(40px);
      font-size: px2vw-xl(14px);
      margin: 0 px2vw-xl(24px) 0 0;
      color: var(--primary-cinnabar);
      background: var(--base-white);
      border-radius: 50%;

      @include lg {
        width: px2vw-lg(40px);
        height: px2vw-lg(40px);
        font-size: px2vw-lg(14px);
        margin: 0 px2vw-lg(24px) 0 0;
      }

      @include md {
        width: px2vw-md(40px);
        height: px2vw-md(40px);
        font-size: px2vw-md(14px);
        margin: 0 px2vw-md(24px) 0 0;
      }

      @include sm {
        width: px2vw-sm(40px);
        height: px2vw-sm(40px);
        font-size: px2vw-sm(14px);
        margin: 0 px2vw-sm(24px) 0 0;
      }
    }

    h3 {
      @extend %global-Text;
      font-size: px2vw-xl(16px);
      flex: 4;
      margin: 0;

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
        flex: 1;
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }
    }

    mat-checkbox {
      margin: 0 px2vw-xl(15px);
      flex: 1;

      @include lg {
        margin: 0 px2vw-lg(15px);
      }

      @include md {
        margin: 0 px2vw-md(15px);
        flex: initial;
      }

      @include sm {
        margin: 0 px2vw-sm(15px);
      }

      ::ng-deep label {
        margin: 0;
      }
    }
  }

  &-footer {
    margin-top: px2vw-xl(60px);
    text-align: left;

    @include lg {
      margin-top: px2vw-lg(60px);
    }

    @include md {
      margin-top: px2vw-md(40px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    button {
      margin-right: px2vw-xl(20px);

      @include lg {
        margin-right: px2vw-lg(20px);
      }

      @include md {
        margin-right: px2vw-md(20px);
      }

      @include sm {
        margin: px2vw-sm(10px) 0;
      }
    }
  }

  &-xbs {
    border-radius: px2vw-xl(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: px2vw-xl(50px) px2vw-xl(30px);
    position: relative;
    margin-top: px2vw-xl(10px);

    @include lg {
      border-radius: px2vw-lg(5px);
      padding: px2vw-lg(50px) px2vw-lg(30px);
    }

    @include md {
      border-radius: px2vw-md(5px);
      padding: px2vw-md(50px) px2vw-md(30px);
    }

    @include sm {
      border-radius: px2vw-sm(5px);
      padding: px2vw-sm(50px) px2vw-sm(30px);
    }

    &-label {
      left: px2vw-xl(10px);
      top: px2vw-xl(-10px);
      padding: 0 px2vw-xl(10px);
      font-size: px2vw-xl(16px);
      position: absolute;
      display: inline-block;

      @include lg {
        left: px2vw-lg(10px);
        top: px2vw-lg(-10px);
        padding: 0 px2vw-lg(10px);
        font-size: px2vw-lg(16px);
      }

      @include md {
        left: px2vw-md(10px);
        top: px2vw-md(-10px);
        padding: 0 px2vw-md(10px);
        font-size: px2vw-md(16px);
      }

      @include sm {
        left: px2vw-sm(10px);
        top: px2vw-sm(-10px);
        padding: 0 px2vw-sm(10px);
        font-size: px2vw-sm(16px);
      }
    }
  }
}

::ng-deep {
  .iti {
    display: block;
  }

  .iti__country-name {
    display: none;
  }
}