<div class="ct-HeaderTop">
  <div class="Payment u-wp">
    <div class="Payment-container">
      <header class="Payment-header">
        <button
          routerBack
          class="Payment-header-button stc-btnBuck"
          (click)="goBack()"
        >
          <span class="material-icons">
            keyboard_arrow_left
          </span>
          <!-- {{ "BUTTON.BACK" | translate }} -->
          Back
        </button>
      </header>

      <main class="Payment-main u-dfStart">
        <div class="Payment-method">
          <h1 class="Payment-method-title global-Title2">
            Payment
          </h1>

          <h3 class="Payment-method-subtitle global-Title3">
            Select Payment Method
          </h3>

          <ul *ngIf="paymentMethods.length" class="Payment-method-list">
            <li
              class="Payment-method-item u-dfCenterStart"
              *ngFor="let payment of paymentMethods"
            >
              <div class="Payment-method-image-block u-dfCenterCenter">
                <img
                  class="Payment-method-image"
                  [src]="payment.img"
                  [alt]="payment.name"
                />
              </div>

              <span class="Payment-method-text global-Title3">
                {{ payment.name }}
              </span>

              <button class="Payment-method-button global-EditBtn" 
              (click) = "selectPayementMethod(true)">
                Select
              </button>
            </li>
          </ul>
        </div>

        <div class="Payment-pool">
          <h2 class="Payment-pool-title">
            {{tournament?.name}}
          </h2>

          <h3 class="Payment-pool-subtitle global-Title3">
            Prize Pool
          </h3>

          <div *ngIf="prizePools.length" class="Payment-pool-block">
            <ul class="Payment-pool-list">
              <li
                class="Payment-pool-item u-dfCenterBtw"
                *ngFor="let pool of prizePools"
              >
                <span class="Payment-pool-item-place global-Text2">
                  {{ pool.name }}
                </span>
                <p class="Payment-pool-item-amount global-Text">
                  {{ pool.value }} {{transaction?.prizeCurrency}}
                </p>
              </li>
            </ul>

            <div class="Payment-pool-amount">
              <div class="Payment-pool-amount-item prize u-dfCenterBtw">
                <span class="Payment-pool-amount-title global-Text2">
                  Total Prize Amount
                </span>
                <span class="Payment-pool-amount-value global-Text">
                  {{transaction?.baseCurrency}} {{transaction?.totalAmount}}/-
                </span>
              </div>

              <div class="Payment-pool-amount-item platform u-dfCenterBtw">
                <span class="Payment-pool-amount-title global-Text2">
                  Platform Fee
                </span>
                <span class="Payment-pool-amount-value global-Text">
                  {{transaction?.prizeCurrency}} {{transaction?.platformFee}}/-
                </span>
              </div>
            </div>

            <div class="Payment-pool-total u-dfCenterBtw">
              <span class="Payment-pool-total-title global-Text2">
                Total Amount
              </span>
              <span class="Payment-pool-total-value global-Title3">
                {{transaction?.baseCurrency}} {{ transaction?.totalAmount }} / -
              </span>
            </div>
          </div>
        </div>
        <div>
          <payment
          *ngIf = "paymentMethodSelected"
          [type]="'paypal'"
          [transaction]="transaction"
          (valueEmitAfterTransaction)="getPaymentResponse($event)"
        >
        </payment>
        </div>
      </main>
    </div>
  </div>
</div>
<esports-fullscreen-loading *ngIf="isProccesing"></esports-fullscreen-loading>