@import "shared";

.Admin {
  color: var(--whitecolor);
  height: 100vh;
  display: flex;
  flex-flow: column;

  &-sidenavContainer {
    flex: 1;
  }

  &-sidenavContent {
    background-color: #171821;
  }

  &-sidenav {
    background-color: #171821;
  }

  &-main {
    padding: px2vw-xl(50px);

    @include lg {
      padding: px2vw-lg(50px);
    }

    @include md {
      padding: px2vw-md(30px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }
}
