<section class="Participants-sectionA" *ngIf="approvedParticipants.length">
  <div
    class="Participants-sectionA-teams"
    *ngIf="tournament?.participantType == 'individual'"
  >
    <div
      class="Participants-sectionA-team"
      *ngFor="let team of approvedParticipants"
    >
      <div class="Participants-sectionA-team-image-block">
        <img
          class="Participants-sectionA-team-image"
          [lazyLoad]="team.logo"
          alt="team image"
        />
      </div>
      <div class="Participants-sectionA-team-info">
        <h3 class="Participants-sectionA-team-name global-Elipses global-H4">
          {{ team?.name }}
        </h3>
        <p class="Participants-sectionA-team-captain global-Body-Text">
          {{ team?.inGamerUserId || "N/A" }}
        </p>
      </div>
    </div>
  </div>
  
  <div
    *ngIf="!selectedTeam && tournament?.participantType == 'team'"
    class="Participants-sectionA-teams"
  >
    <div
      class="Participants-sectionA-team"
      *ngFor="let team of approvedParticipants"
      (click)="selectedTeam = team"
      [ngClass]="
        currentTab == 'approvedParticipants'
          ? 'approved-card'
          : 'reject-or-pending-card'
      "
    >
      <div class="Participants-sectionA-team-image-block">
        <img
          class="Participants-sectionA-team-image"
          [lazyLoad]="team?.logo || 'assets/images/Profile/avatar.png'"
          alt="team image"
        />
      </div>

      <div class="Participants-sectionA-team-info">
        <h3 class="Participants-sectionA-team-name global-Elipses global-H5">
          {{ team?.teamName || "N/A" }}
        </h3>

        <p class="Participants-sectionA-team-captain global-Body-Text">
          {{ team?.inGamerUserId || "N/A" }}
        </p>
      </div>
    </div>
  </div>

  <div
    *ngIf="selectedTeam && tournament?.participantType == 'team'"
    class="Participants-sectionA-teams"
  >
    <div class="Participants-sectionA-teams add-margin">
      <div
        class="Participants-sectionA-team"
        [ngClass]="
          currentTab == 'approvedParticipants'
            ? 'approved-card'
            : 'reject-or-pending-card'
        "
      >
        <div class="Participants-sectionA-team-image-block">
          <img
            class="sectionC-team-image"
            [lazyLoad]="selectedTeam?.logo"
            alt="team image"
          />
        </div>

        <div class="Participants-sectionA-team-info">
          <h3 class="Participants-sectionA-team-name global-Elipses global-H4">
            {{ selectedTeam.name || "N/A" }}
          </h3>

          <div class="Participants-sectionA-team-about global-Text">
            <span class="captain">
              {{ "MANAGE_TOURNAMENT.PARTICIPANT.CAPTAIN" | translate }}
            </span>

            <span class="region">
              {{ selectedTeam?.inGamerUserId || "N/A" }}
            </span>
          </div>
        </div>
      </div>

    <div class="Participants-sectionA-teams add-margin">
      <div
        class="Participants-sectionA-team"
        *ngFor="let team of selectedTeam?.teamMembers"
        [ngClass]="
          currentTab == 'approvedParticipants'
            ? 'approved-card'
            : 'reject-or-pending-card'
        "
      >
        <div class="Participants-sectionA-team-image-block">
          <img
            class="Participants-sectionA-team-image"
            [lazyLoad]="'assets/images/Tournament/team_member.jpg'"
            alt="team image"
          />
        </div>

        <div class="Participants-sectionA-team-info">
          <h3
            class="Participants-sectionA-team-name global-Elipses global-H4"
          >
            {{ team.name || "N/A" }}
          </h3>

          <div class="Participants-sectionA-team-about global-Text">
            <span class="captain">{{ team?.inGamerUserId || "N/A" }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="Participants-sectionA-teams add-margin">
      <div
        class="Participants-sectionA-team"
        *ngFor="let team of selectedTeam?.substituteMembers"
        [ngClass]="
          currentTab == 'approvedParticipants'
            ? 'approved-card'
            : 'reject-or-pending-card'
        "
      >
        <div class="Participants-sectionA-team-image-block">
          <img
            class="Participants-sectionA-team-image"
            [lazyLoad]="'assets/images/Tournament/substitute_member.jpg'"
            alt="team image"
          />
        </div>

        <div class="Participants-sectionA-team-info">
          <h3
            class="Participants-sectionA-team-name global-Elipses global-H4"
          >
            {{ team.name || "N/A" }}
          </h3>

          <div class="Participants-sectionA-team-about global-Text">
            <span class="captain">{{ team?.inGamerUserId || "N/A" }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<app-loading *ngIf="!isLoaded"></app-loading>
