@import "shared";

:host {
  display: block;
  padding-bottom: px2vw-xl(96px);

  @include lg {
    padding-bottom: px2vw-lg(96px);
  }

  @include md {
    padding-bottom: px2vw-md(96px);
  }

  @include sm {
    padding-bottom: px2vw-sm(96px);
  }
}

.MyStats-header {
  @extend %u-dfCenter;
  z-index: 1;
  position: relative;
  margin-bottom: px2vw-xl(-154px);
  height: px2vw-xl(300px);

  @include lg {
    margin-bottom: px2vw-lg(-165px);
    height: px2vw-lg(300px);
  }

  @include md {
    margin-bottom: px2vw-md(-165px);
    height: px2vw-md(300px);
  }

  @include sm {
    margin-bottom: px2vw-sm(-165px);
    height: px2vw-sm(300px);
  }

  &-image {
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 105.5%;
  }
}

.MyStats-about {
  position: relative;
  z-index: 1;
  margin-bottom: px2vw-xl(72px);

  @include lg {
    margin-bottom: px2vw-lg(72px);
  }

  @include md {
    margin-bottom: px2vw-md(72px);
  }

  @include sm {
    margin-bottom: px2vw-sm(72px);
  }

  &-title {
    margin-bottom: px2vw-xl(20px);
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(48px);
    line-height: px2vw-xl(56px);
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(20px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }
  }

  &-icon {
    position: absolute;
    bottom: 117%;
    left: px2vw-xl(14px);
    height: px2vw-xl(55px);
    width: px2vw-xl(167px);

    @include lg {
      left: px2vw-lg(14px);
      height: px2vw-lg(55px);
      width: px2vw-lg(167px);
    }

    @include md {
      left: px2vw-md(14px);
      height: px2vw-md(55px);
      width: px2vw-md(167px);
    }

    @include sm {
      left: px2vw-sm(14px);
      height: px2vw-sm(55px);
      width: px2vw-sm(167px);
    }
  }
}

.MyStats-statistic {
  margin-bottom: px2vw-xl(64px);

  @include lg {
    margin-bottom: px2vw-lg(64px);
  }

  @include md {
    margin-bottom: px2vw-md(64px);
  }

  @include sm {
    margin-bottom: px2vw-sm(64px);
  }
}

.MyStats-games {
  &-heading {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }
}
