@import "shared";

@mixin background-image-size {
  min-height: 350px !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.Advertising {
  position: relative;
  height: 100%;
  width: 100%;
  padding: px2vw-xl(48px) px2vw-xl(44px) px2vw-xl(60px);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;

  @include lg {
    padding: px2vw-lg(48px) px2vw-lg(44px) px2vw-lg(60px);
    @include background-image-size;
  }

  @include md {
    padding: px2vw-md(30px) px2vw-md(30px) px2vw-md(30px);
    @include background-image-size;
  }

  @include sm {
    padding: px2vw-sm(30px) px2vw-sm(30px) px2vw-sm(30px);
    @include background-image-size;
  }

  &-header {
    &-game-logo {
      height: px2vw-xl(106px);
      width: px2vw-xl(104px);
      object-fit: cover;

      @include lg {
        height: px2vw-lg(106px);
        width: px2vw-lg(104px);
      }

      @include md {
        height: px2vw-md(106px);
        width: px2vw-md(104px);
      }

      @include sm {
        height: px2vw-sm(106px);
        width: px2vw-sm(104px);
      }
    }

    &-ads {
      position: absolute;
      top: px2vw-xl(22px);
      right: px2vw-xl(20px);

      @include lg {
        top: px2vw-lg(22px);
        right: px2vw-lg(20px);
      }

      @include md {
        top: px2vw-md(22px);
        right: px2vw-md(20px);
      }

      @include sm {
        top: px2vw-sm(22px);
        right: px2vw-sm(20px);
      }

      &-text {
        margin-bottom: px2vw-xl(4px);

        @include lg {
          margin-bottom: px2vw-lg(4px);
        }

        @include md {
          margin-bottom: px2vw-md(4px);
        }

        @include sm {
          margin-bottom: px2vw-sm(4px);
        }
      }

      &-button {
        margin-right: px2vw-xl(5px);
        width: px2vw-xl(26px);
        height: px2vw-xl(26px);
        color: var(--ui-dodger-blue);

        @include lg {
          margin-right: px2vw-lg(5px);
          width: px2vw-lg(26px);
          height: px2vw-lg(26px);
        }

        @include md {
          margin-right: px2vw-md(5px);
          width: px2vw-md(26px);
          height: px2vw-md(26px);
        }

        @include sm {
          margin-right: px2vw-sm(5px);
          width: px2vw-sm(26px);
          height: px2vw-sm(26px);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-game-name {
    margin-top: px2vw-xl(84px);
    font-family: "stc-forward-bold";
    font-size: px2vw-xl(40px);
    line-height: px2vw-xl(52px);

    @include lg {
      margin-top: px2vw-lg(84px);
      font-size: px2vw-lg(40px);
      line-height: px2vw-lg(52px);
    }

    @include md {
      margin-top: px2vw-md(84px);
      font-size: px2vw-md(40px);
      line-height: px2vw-md(52px);
    }

    @include sm {
      margin-top: px2vw-sm(84px);
      font-size: px2vw-sm(40px);
      line-height: px2vw-sm(52px);
    }
  }

  &-download-button {
    border-radius: 4px;
    background: transparent
      linear-gradient(180deg, var(--primary-sunset-light) 0%, #401c00 100%) 0%
      0% no-repeat padding-box;
    font-size: px2vw-xl(22px);
    line-height: px2vw-xl(29px);
    color: var(--base-white);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    position: relative;

    @include lg {
      margin-top: 0;
      font-size: px2vw-lg(22px);
      line-height: px2vw-lg(29px);
    }

    @include md {
      font-size: px2vw-md(22px);
      line-height: px2vw-md(29px);
    }

    @include sm {
      margin-top: px2vw-sm(-20px);
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(29px);
    }
  }
}
