@import "shared";

.Discussion {
  margin-bottom: px2vw-xl(150px);

  @include lg {
    margin-bottom: px2vw-lg(150px);
  }

  @include md {
    margin-bottom: px2vw-md(150px);
  }

  @include sm {
    margin-bottom: px2vw-sm(150px);
  }

  &-title {
    margin-bottom: px2vw-xl(10px);
    // font-family: "dynasty-primary-semibold", sans-serif;

    @include lg {
      margin-bottom: px2vw-lg(10px);
      padding: 0 px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      padding: 0 px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      padding: 0 px2vw-sm(30px);
    }
  }

  &-subtitle {
    text-align: center;
    font-size: px2vw-xl(20px);

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }
  }

  &-comment {
    border-radius: px2vw-xl(4px);
    overflow: hidden;

    @include lg {
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
    }
  }
  
  &-show-hide-comment {
    margin-top: px2vw-xl(40px);
    padding: px2vw-xl(20px);
    font-family: "dynasty-primary-semibold", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(26px);
    // background: #171616;
    border: none;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    @include lg {
      margin-top: px2vw-lg(40px);
      padding: px2vw-lg(20px);
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(26px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      padding: px2vw-md(20px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(26px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      padding: px2vw-sm(20px);
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(26px);
    }

    &::after {
      @include angle();
      position: relative;
      transform: rotate(-315deg);
      transition: transform 300ms ease-in-out;
      left: px2vw-xl(15px);
      top: px2vw-xl(-2px);
      width: px2vw-xl(14px);
      height: px2vw-xl(14px);
      border-top: none;
      border-left: none;
      border-right: px2vw-xl(3px) solid var(--base-02);
      border-bottom: px2vw-xl(3px) solid var(--base-02);

      @include lg {
        left: px2vw-lg(15px);
        top: px2vw-lg(-2px);
        width: px2vw-lg(14px);
        height: px2vw-lg(14px);
        border-right-width: px2vw-lg(3px);
        border-bottom-width: px2vw-lg(3px);
      }

      @include md {
        left: px2vw-md(15px);
        top: px2vw-md(-2px);
        width: px2vw-md(14px);
        height: px2vw-md(14px);
        border-right-width: px2vw-md(3px);
        border-bottom-width: px2vw-md(3px);
      }

      @include sm {
        left: px2vw-sm(15px);
        top: px2vw-sm(-2px);
        width: px2vw-sm(14px);
        height: px2vw-sm(14px);
        border-right-width: px2vw-sm(3px);
        border-bottom-width: px2vw-sm(3px);
      }
    }

    &.is-active::after {
      transform: rotate(225deg);
      top: px2vw-xl(3px);
      left: px2vw-xl(22px);

      @include lg {
        top: px2vw-lg(3px);
        left: px2vw-lg(22px);
      }

      @include md {
        top: px2vw-md(3px);
        left: px2vw-md(22px);
      }

      @include sm {
        top: px2vw-sm(3px);
        left: px2vw-sm(22px);
      }
    }
  }

  &-comment-list {
    padding-right: px2vw-xl(100px);
    max-height: px2vw-xl(600px);
    overflow-y: scroll;

    @include lg {
      max-height: px2vw-lg(600px);
      padding-right: px2vw-lg(100px);
    }

    @include md {
      max-height: px2vw-md(600px);
      padding-right: px2vw-md(30px);
    }

    @include sm {
      max-height: px2vw-sm(600px);
      padding-right: px2vw-sm(30px);
    }
  }

  &-comment-item {
    display: flex;
    padding: px2vw-xl(28px) px2vw-xl(32px);

    @include lg {
      padding: px2vw-lg(28px) px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(28px) px2vw-md(32px);
    }

    @include sm {
      padding: px2vw-sm(28px) px2vw-sm(32px);
    }

    // &:not(:last-child) {
    //   border-bottom: 1px solid var(--base-03);
    // }
  }

  &-comment-image-block {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    width: px2vw-xl(82px);
    height: px2vw-xl(82px);

    @include lg {
      width: px2vw-lg(82px);
      height: px2vw-lg(82px);
    }

    @include md {
      width: px2vw-md(82px);
      height: px2vw-md(82px);
    }

    @include sm {
      width: px2vw-sm(82px);
      height: px2vw-sm(82px);
    }
  }

  &-comment-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-comment-description {
    margin-left: px2vw-xl(35px);
    width: 100%;

    @include lg {
      margin-left: px2vw-lg(35px);
    }

    @include md {
      margin-left: px2vw-md(35px);
    }

    @include sm {
      margin-left: px2vw-sm(35px);
    }
  }

  &-comment-author {
    margin-bottom: 8px;
    text-transform: capitalize;

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(32px);
    }
  }

  &-comment-date {
    margin-bottom: px2vw-xl(16px);
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: var(--base-02);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }

  &-comment-footer {
    display: flex;
    align-items: center;
  }

  &-comment-info {
    display: flex;
    // align-items: center;
    margin-right: px2vw-xl(12px);

    @include lg {
      margin-right: px2vw-lg(12px);
    }

    @include md {
      margin-right: px2vw-md(12px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
    }

    mat-icon {
      // margin-right: px2vw-xl(8px);
      font-size: px2vw-xl(18px);
      cursor: pointer;

      @include lg {
        // margin-right: px2vw-lg(8px);
        font-size: px2vw-lg(18px);
      }

      @include md {
        // margin-right: px2vw-md(8px);
        font-size: px2vw-md(18px);
      }

      @include sm {
        // margin-right: px2vw-sm(8px);
        font-size: px2vw-sm(18px);
      }

      &.is-active {
        color: var(--base-yellow);
      }
    }

    span {
      font-size: px2vw-xl(18px);
      line-height: 1;

      @include lg {
        font-size: px2vw-lg(18px);
      }

      @include md {
        font-size: px2vw-md(18px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
      }
    }
  }

  &-reply-btn {
    margin-left: px2vw-xl(15px);
    margin-top: px2vw-xl(-10px);
    background-color: transparent;
    font-family: "source-sans-pro";
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(24px);
    color: var(--base-yellow);

    @include lg {
      margin-left: px2vw-lg(15px);
      margin-top: px2vw-lg(-10px);
    }

    @include md {
      margin-left: px2vw-md(15px);
      margin-top: px2vw-md(-10px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
      margin-top: px2vw-sm(-10px);
    }
  }

  &-message {
    width: 100%;
  }

  &-load-more-comments {
    cursor: pointer;
  }

  &-load-more-replies {
    cursor: pointer;
  }

  .loading {
    display: flex;
    justify-content: center;
  }
}
