@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.popup {
  display: flex;
  &-img {
    display: flex;
    width: 30.33%;
    height: 270px;
    @include lg {
    }

    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }
  }
  &-box {
    flex-grow: 1;
    width: 66.66%;
    padding: px2vw-xl(14px) px2vw-xl(14px);

    @include lg {
      padding: px2vw-lg(14px) px2vw-lg(14px);
    }

    @include md {
      padding: px2vw-md(14px) px2vw-md(14px);
    }

    @include sm {
      padding: px2vw-sm(14px) px2vw-sm(14px);
    }

    &-close {
      position: absolute;
      right: 15px;
      height: auto;
      background-color: transparent;

      @include md {
        top: 5px;
        right: 0;
      }

      & .close-icon {
        width: 45px;
      }
    }
  }

  &-button {
    margin-left: px2vw-xl(10px);

    @include lg {
      margin-left: px2vw-lg(10px);
    }
    @include md {
      margin-left: 0;
    }
    @include sm {
      margin-left: px2vw-sm(10px);
    }
  }

  &-modal-header {
    padding: px2vw-xl(24px) px2vw-xl(24px);
    @include lg {
      padding: px2vw-lg(24px) px2vw-lg(24px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(24px) px2vw-md(24px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(24px) px2vw-sm(24px) px2vw-sm(16px);
    }
  }
  &-modal-body {
    padding: px2vw-xl(24px) px2vw-xl(24px);
    color: var(--base-black-pearl);
    text-align: left;
    @include lg {
      padding: px2vw-lg(24px) px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(24px) px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(24px) px2vw-sm(24px);
    }
  }
  &-modal-footer {
    padding: px2vw-xl(24px) px2vw-xl(24px);
    justify-content: space-between;
    text-align: left;
    @include lg {
      padding: px2vw-lg(24px) px2vw-lg(24px);

    }

    @include md {
      padding: px2vw-md(24px) px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(24px) px2vw-sm(24px);
    }
  }
}

.size{
  font-size: px2vw-xl(18px);
  @include lg{
    font-size: px2vw-lg(18px);
  }
  @include md{
    font-size: px2vw-md(18px);
  }
  @include sm{
    font-size: px2vw-sm(14px);
  }
}