<div class="SI-FUID-Container">
  <div class="col-md-12">
    <div class="form-group row align-items-center form-steps-header">
      <div class="purchase_header">
        <div class="form-steps-number">
          <mat-icon class="color-primary"> {{"PURCHASE_SUCCESSFUL.CHECK_CIRCLE" | translate }}</mat-icon>
        </div>
        <h4>{{"PURCHASE_SUCCESSFUL.PURCHASE_SUCCESSFUL_ONE" | translate }}</h4>
      </div>
    </div>
    <div class="purchase_content">
      <div class="form-group row">
        <div class="col-md-12">
          <div class="subheading">
            <h6>{{"PURCHASE_SUCCESSFUL.ORDER_SUMMARY" | translate }}</h6>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <div class="subheading1">
            <h3>[ {{shopItem?.productName}} ]
              <!-- {{"PURCHASE_SUCCESSFUL.ONE_X" | translate }} -->
              {{shopItem?.denominationName}}
            </h3>
          </div>
        </div>
      </div>
      <div class="order_details">
        <div class="form-group row">
          <div class="col-md-4 col-5">
            <h6 class="order_detals_text">{{ "TRANSACTIONS.RELOAD_VIEW.ORDER_ID"| translate }}</h6>
          </div>
          <div class="col-md-8 col-7">
            <h6 class="order_detals_value">{{shopItem?.purchaseOrderId}}</h6>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 col-5">
            <h6 class="order_detals_text">{{"SHOP_PRODUCT_SLIDE.PRICE_IN_GEN_COINS" | translate }}</h6>
          </div>
          <div class="col-md-8 col-7">
            <h6 class="order_detals_value">
              <s *ngIf="type=='promo'" class="text-muted"> {{shopItem?.actualGC}}</s>
              {{shopItem?.denominationCoins |number}} {{"TRANSACTIONS.RELOAD_VIEW.GC"
              | translate }}
            </h6>
          </div>
        </div>

        <div *ngIf="type=='cashback'" class="form-group row">
          <div class="col-md-4 col-5">
            <h6 class="order_detals_text">{{"PURCHASE_SUCCESSFUL.BOUNS_CASHBACK" | translate }} </h6>
          </div>
          <div class="col-md-8 col-7">
            <h6 class="order_detals_value">{{shopItem?.cashbackInGC}}</h6>
          </div>
        </div>
        <div *ngIf="type=='promo'" class="form-group row">
          <div class="col-md-4 col-5">
            <h6 class="order_detals_text">{{"PURCHASE_SUCCESSFUL.GENG_COINS_SAVED" | translate }} </h6>
          </div>
          <div class="col-md-8 col-7">
            <h6 class="order_detals_value">{{shopItem?.discountedGC}}</h6>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 col-5">
            <h6 class="order_detals_text">{{"PURCHASE_SUCCESSFUL.EMAIL_ADDRESS" | translate }}</h6>
          </div>
          <div class="col-md-8 col-7">
            <h6 class="order_detals_value">{{shopItem?.topupEmail}}</h6>
          </div>
        </div>
        <div *ngIf="type=='cashback'" class="form-group row shop-item-divider">
          <div class="col-md-4 col-5 mb-4">&nbsp;</div>
          <div class="col-md-8 col-7">
            <h6 class="transcation_receipt">
              {{"PURCHASE_SUCCESSFUL.TEXT1" | translate }} {{shopItem?.cashbackInGC}} {{"PURCHASE_SUCCESSFUL.TEXT2" |
              translate }}
              <br /><br />
              {{"PURCHASE_SUCCESSFUL.A_CONFIRM_EMAIL_SENT" | translate }} {{shopItem?.topupEmail}}
            </h6>
          </div>
        </div>
        <div *ngIf="type!='cashback'" class="form-group row shop-item-divider">
          <div class="col-md-4 col-5 mb-4">&nbsp;</div>
          <div class="col-md-8 col-7">
            <h6 class="transcation_receipt">
              {{"PURCHASE_SUCCESSFUL.TRANSACTION_EMAIL" | translate }}
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group d-flex mb_0">
      <div class="row">
        <div class="bottom_button">
          <button class="button-secondary" (click)="navigatefunc()">{{"PURCHASE_SUCCESSFUL.VIEW_TRANSACTION_HISTORY" |
            translate }}</button>
          <button class="button-primary"
            [routerLink]="[AppHtmlRoutes.shop]">{{"PURCHASE_SUCCESSFUL.MAKE_ANOTHER_PURCHASE"
            | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
