<section class="TI-sectionA u-wp">
  <h3 class="TI-sectionA-title">
    {{ "ESPORTS.SECTIONA.BUTTON1" | translate }}
  </h3>
</section>

<section class="TI-sectionB u-wp">
  <div class="TI-sectionB-step-block">
    <div class="TI-sectionB-step-number">
      1
    </div>
    <p class="TI-sectionB-step-description">
      {{ "ESPORTS.INFO.SECTIONB.STEP1" | translate }}
    </p>
  </div>
  <div class="TI-sectionB-step-block center">
    <div class="TI-sectionB-step-number">
      2
    </div>
    <p class="TI-sectionB-step-description">
      {{ "ESPORTS.INFO.SECTIONB.STEP2" | translate }}
    </p>
  </div>
  <div class="TI-sectionB-step-block">
    <div class="TI-sectionB-step-number">
      3
    </div>
    <p class="TI-sectionB-step-description">
      {{ "ESPORTS.INFO.SECTIONB.STEP3" | translate }}
    </p>
  </div>
</section>

<section class="TI-sectionC u-wp">
  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        src="assets/images/Tournament/slide-1.png"
        alt="step image"
      />
    </div>
    <p class="TI-sectionC-card-text mesf-Elipses2">
      {{ "ESPORTS.INFO.SECTIONB.TEXT" | translate }}
    </p>
  </div>

  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        src="assets/images/Tournament/slide-2.png"
        alt="step image"
      />
    </div>
    <p class="TI-sectionC-card-text mesf-Elipses2">
      {{ "ESPORTS.INFO.SECTIONC.TEXT" | translate }}
    </p>
  </div>

  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        src="assets/images/Tournament/slide-3.png"
        alt="step image"
      />
    </div>
    <p class="TI-sectionC-card-text mesf-Elipses2">
      {{ "ESPORTS.INFO.SECTIONB.STEP3" | translate }}
    </p>
  </div>
</section>

<section class="TI-sectionD u-wp">
  <button
    class="createtournamentbtn mesf-EditBtn"
    [routerLink]="[AppHtmlRoutes.tournamentCreate]"
  >
    {{ "ESPORTS.SECTIONA.BUTTON1" | translate }}
  </button>
</section>
