<section class="SeasonCheckbox">
  <div class="SeasonCheckbox-heading">
    <h2 class="title">{{ "SEASON.FILTERS.TITLE" | translate }}</h2>
    <button class="btn btn-close">
      <span class="icon" inlineSVG="assets/icons/Icon-close-blu.svg"></span>
    </button>
  </div>
  <div class="SeasonCheckbox-container">
    <div class="SeasonCheckbox-wrapper">
      <div class="SeasonCheckbox-inner">
        <div class="form-field-item form-field-checkbox">
          <label for="" class="form-label">{{ "SEASON.FILTERS.SEASON_TYPE" | translate }}</label>
          <div class="input-group" *ngFor="let item of seasonCkeck"  [ngSwitch]="item.season">
            <mat-checkbox *ngSwitchCase="'season'" [checked]='item.check' class="example-margin" (change)="onChangeSeason('seasonType',$event,item.id)"  >{{item.name}}</mat-checkbox>
          </div>
        </div>
        <div class="form-field-item form-field-checkbox">
          <label for="" class="form-label">{{ "SEASON.FILTERS.LENGTH" | translate }}</label>
          <div class="input-group" *ngFor="let item of seasonCkeck"  [ngSwitch]="item.season">
            <mat-checkbox *ngSwitchCase="'length'" [checked]='item.check' class="example-margin" (change)="onChangeSeason('duration',$event,item.id)" >{{item.name}}</mat-checkbox>
          </div>
        </div>
        <div class="form-field-item form-field-checkbox">
          <label for="" class="form-label">{{ "SEASON.FILTERS.PLATFORMS" | translate }}</label>
          <div class="input-group" *ngFor="let item of platformList" >
            <mat-checkbox [checked]='item.check' class="example-margin" (change)="onChangeSeason('platform',$event,item._id)" >{{item.name}}</mat-checkbox>
          </div>
        </div>
        <div class="form-field-item form-field-checkbox">
          <label for="" class="form-label">{{ "SEASON.FILTERS.GAMES" | translate }}</label>
         <div class="gamesListContainer">
          <div class="input-group" *ngFor="let item of gameList" >
            <mat-checkbox  [checked]='item.check' class="example-margin" (change)="onChangeSeason('game',$event,item._id)"  >{{item.name}}</mat-checkbox>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="SeasonCheckbox-ButtonGroup">
    <button type="button" class="btn button-primary">{{ "BUTTON.SHOW_FILTERS" | translate }}</button>
    <button type="button" class="btn button-default">{{ "BUTTON.CLEAR_FILTERS" | translate }}</button>
  </div>
</section>
