@import "shared";

:host {
  display: block;
}

.ConfirmationForm {
  text-align: center;

  &-title {
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(45px);
    color: var(--base-black-pearl);

    @include lg {
      margin-bottom: px2vw-lg(45px);
    }

    @include md {
      margin-bottom: px2vw-md(45px);
    }

    @include sm {
      margin-bottom: px2vw-sm(45px);
    }
  }

  &-input {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-error {
    margin-bottom: 20px;
    font-family: "stc-forward-semibold", sans-serif;
    font-size: 16px;
    color: var(--ui-venetian-red);
  }

  &-expires {
    margin-bottom: px2vw-xl(80px);
    font-family: "stc-forward-regular", sans-serif;
    font-size: px2vw-xl(19px);

    @include lg {
      margin-bottom: px2vw-lg(80px);
      font-size: px2vw-lg(19px);
    }

    @include md {
      margin-bottom: px2vw-md(80px);
      font-size: px2vw-md(19px);
    }

    @include sm {
      margin-bottom: px2vw-sm(80px);
      font-size: px2vw-sm(19px);
    }
  }

  &-footer {
    margin-top: px2vw-xl(20px);
    font-size: px2vw-xl(26px);
    font-family: "stc-forward-regular", sans-serif;

    @include lg {
      margin-top: px2vw-lg(20px);
      font-size: px2vw-lg(26px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      font-size: px2vw-md(26px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      font-size: px2vw-sm(26px);
    }

    a {
      color: var(--primary-cinnabar);
    }
  }
}
