@import "shared";

:host {
  display: block;
  width: 100%;
}

.ViewArticle {
  &-discussion {
    border-bottom: 1px solid var(--base-gainsboro);
    margin-bottom: px2vw-xl(50px);
    @include lg {
      margin-bottom: px2vw-lg(50px);
    }
    @include md {
      margin-bottom: px2vw-md(50px);
    }
    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }
  &-wp {
    max-width: px2vw-xl(800px);
    padding: px2vw-xl(63px) 0 px2vw-xl(70px);
    width: 100%;
    margin: 0 auto;

    @include lg {
      max-width: px2vw-lg(800px);
      padding: px2vw-lg(63px) 0 px2vw-lg(70px);
    }

    @include md {
      max-width: px2vw-md(800px);
      padding: px2vw-md(63px) 0 px2vw-md(70px);
    }

    @include sm {
      max-width: px2vw-sm(800px);
      padding: px2vw-sm(63px) 0 px2vw-sm(70px);
    }
  }

  &-top {
    position: relative;

    @include lg {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      align-items: center;
    }

    &-back {
      @include btnEvents;
      padding: px2vw-xl(20px);
      right: calc(100% + 20px);
      position: absolute;
      background: transparent;

      @include lg {
        padding: px2vw-lg(16px);
        order: 0;
        position: relative;
        right: 0;
      }

      @include md {
        padding: px2vw-md(16px);
      }

      @include sm {
        padding: px2vw-sm(16px);
      }

      &:after {
        @include angle();
        position: relative;
        top: px2vw-xl(2px);
        border-color: var(--primary-cinnabar);
        transform: rotate(-45deg);

        @include lg {
          top: px2vw-lg(2px);
        }

        @include md {
          top: px2vw-md(2px);
        }

        @include sm {
          top: px2vw-sm(2px);
        }
      }
    }

    &-jumbotron {
      margin-bottom: px2vw-xl(37px);

      @include lg {
        margin-bottom: px2vw-lg(37px);
        order: 3;
      }

      @include md {
        margin-bottom: px2vw-md(37px);

        ::ng-deep .Jumbotron-bg {
          background-size: cover;
          background-position: center center;
        }
      }

      @include sm {
        margin-bottom: px2vw-sm(37px);
      }
    }

    &-events {
      position: absolute;
      top: 0;
      left: calc(100% + 16px);

      @include lg {
        display: flex;
        flex-wrap: wrap;
        order: 1;
        position: relative;
        left: 0;
      }
    }
  }

  &-trending {
    padding-bottom: px2vw-xl(30px);

    @include lg {
      padding-bottom: px2vw-lg(30px);
    }

    @include md {
      padding-bottom: px2vw-md(30px);
    }

    @include sm {
      padding-bottom: px2vw-sm(30px);
    }

    &-title {
      margin-bottom: px2vw-xl(20px);

      @include lg {
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-xl(32px);
      grid-row-gap: px2vw-xl(32px);

      @include md {
        grid-template-columns: 1fr;
      }
    }
  }

  &-text {
    margin-bottom: px2vw-xl(52px);

    @include lg {
      margin-bottom: px2vw-lg(52px);
    }

    @include md {
      margin-bottom: px2vw-md(52px);
    }

    @include sm {
      margin-bottom: px2vw-sm(52px);
    }
  }

  &-comments {
    overflow: hidden;
    border-radius: px2vw-xl(4px);

    @include lg {
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
    }

    &-btn {
      @extend %global-Text;
      margin-top: px2vw-xl(23px);
      border: none;
      width: 100%;
      padding: px2vw-xl(20px);
      text-align: center;
      font-family: "stc-forward-regular", sans-serif;
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);
      color: var(--base-black-pearl);
      background-color: var(--base-white-smoke);

      @include lg {
        margin-top: px2vw-lg(23px);
        padding: px2vw-lg(20px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        margin-top: px2vw-md(20px);
        padding: px2vw-md(20px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        margin-top: px2vw-sm(20px);
        padding: px2vw-sm(20px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
      }

      &::after {
        @include angle();
        position: relative;
        left: px2vw-xl(15px);
        top: px2vw-xl(-2px);
        width: px2vw-xl(12px);
        height: px2vw-xl(12px);
        border-top: none;
        border-left: none;
        border-right: px2vw-xl(2px) solid var(--base-black-pearl);
        border-bottom: px2vw-xl(2px) solid var(--base-black-pearl);
        transform: rotate(-315deg);
        transition: transform 300ms ease-in-out;

        @include lg {
          left: px2vw-lg(15px);
          top: px2vw-lg(-2px);
          width: px2vw-lg(12px);
          height: px2vw-lg(12px);
          border-right-width: px2vw-lg(2px);
          border-bottom-width: px2vw-lg(2px);
        }

        @include md {
          left: px2vw-md(15px);
          top: px2vw-md(-2px);
          width: px2vw-md(12px);
          height: px2vw-md(12px);
          border-right-width: px2vw-md(2px);
          border-bottom-width: px2vw-md(2px);
        }

        @include sm {
          left: px2vw-sm(15px);
          top: px2vw-sm(-2px);
          width: px2vw-sm(12px);
          height: px2vw-sm(12px);
          border-right-width: px2vw-sm(2px);
          border-bottom-width: px2vw-sm(2px);
        }
      }

      &.is-active::after {
        transform: rotate(225deg);
        top: px2vw-xl(2px);
        left: px2vw-xl(18px);

        @include lg {
          top: px2vw-lg(3px);
          left: px2vw-lg(18px);
        }

        @include md {
          top: px2vw-md(3px);
          left: px2vw-md(18px);
        }

        @include sm {
          top: px2vw-sm(3px);
          left: px2vw-sm(18px);
        }
      }
    }

    &-list {
      background: transparent;
    }

    &-item {
      margin-bottom: px2vw-xl(15px);

      @include lg {
        margin-bottom: px2vw-lg(25px);
      }

      @include md {
        margin-bottom: px2vw-md(25px);
      }

      @include sm {
        margin-bottom: px2vw-sm(25px);
      }

      &-info {
        @extend %u-dfCenterStart;
        margin-bottom: px2vw-xl(10px);

        @include lg {
          margin-bottom: px2vw-lg(10px);
        }

        @include md {
          margin-bottom: px2vw-md(10px);
        }

        @include sm {
          margin-bottom: px2vw-sm(10px);
        }
      }

      &-img {
        width: px2vw-xl(60px);
        height: px2vw-xl(60px);
        margin-right: px2vw-xl(28px);
        border-radius: 50%;
        overflow: hidden;

        @include lg {
          width: px2vw-lg(60px);
          height: px2vw-lg(60px);
          margin-right: px2vw-lg(28px);
        }

        @include md {
          width: px2vw-md(60px);
          height: px2vw-md(60px);
          margin-right: px2vw-md(28px);
        }

        @include sm {
          width: px2vw-sm(60px);
          height: px2vw-sm(60px);
          margin-right: px2vw-sm(28px);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-name {
        font-family: "stc-forward-semibold", sans-serif;
        font-size: px2vw-xl(17px);
        color: var(--base-black-pearl);

        @include lg {
          font-size: px2vw-lg(17px);
        }

        @include md {
          font-size: px2vw-md(17px);
        }

        @include sm {
          font-size: px2vw-sm(17px);
        }
      }

      &-text {
        word-break: break-word;
        font-family: "stc-forward-regular", sans-serif;
        font-size: px2vw-xl(17px);
        line-height: px2vw-xl(22px);
        color: var(--base-black-pearl);

        @include lg {
          font-size: px2vw-lg(17px);
          line-height: px2vw-lg(22px);
        }

        @include md {
          font-size: px2vw-md(17px);
          line-height: px2vw-md(22px);
        }

        @include sm {
          font-size: px2vw-sm(17px);
          line-height: px2vw-sm(22px);
        }
      }

      &-events {
        font-size: 14px;
        color: var(--base-black-pearl);
      }
    }

    app-comment-item {
      display: contents;
    }
  }

  &-newComment {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
      padding: 0 px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      padding: 0 px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
      padding: 0 px2vw-sm(30px);
    }

    &-title {
      margin-bottom: px2vw-xl(10px);
      font-family: "stc-forward-semibold", sans-serif;
      color: var(--base-black-pearl);

      @include lg {
        margin-bottom: px2vw-lg(10px);
      }

      @include md {
        margin-bottom: px2vw-md(10px);
      }

      @include sm {
        margin-bottom: px2vw-sm(10px);
      }
    }

    &-box {
      position: relative;
      border-radius: px2vw-xl(4px);
      border: 1px solid var(--ui-tuna);
      min-height: px2vw-xl(215px);

      @include lg {
        border-radius: px2vw-lg(4px);
        min-height: px2vw-lg(215px);
      }

      @include md {
        border-radius: px2vw-md(4px);
        min-height: px2vw-md(215px);
      }

      @include sm {
        border-radius: px2vw-sm(4px);
        min-height: px2vw-sm(215px);
      }

      &-login {
        white-space: nowrap;
        position: absolute;
        left: 50%;
        top: 50%;
        color: var(--base-black-pearl);
        transform: translate(-50%, -50%);

        a {
          color: var(--primary-cinnabar);
          text-decoration: none;
        }
      }
    }
  }

  app-article-item {
    @include lg {
      border-width: 1px;
    }

    &-title {
      margin-bottom: px2vw-xl(55px);

      @include lg {
        margin-bottom: px2vw-lg(55px);
      }

      @include md {
        margin-bottom: px2vw-md(55px);
      }

      @include sm {
        margin-bottom: px2vw-sm(55px);
      }
    }

    &-item {
      width: 24.5%;

      @include lg {
        margin-bottom: px2vw-lg(20px);
        width: 32.5%;
      }

      @include md {
        margin-bottom: px2vw-md(20px);
        width: 49%;
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
        width: 100%;
      }
    }
  }

  &-reply {
    margin: px2vw-xl(35px) 0;

    @include lg {
      padding: 0 px2vw-lg(30px);
    }

    @include md {
      padding: 0 px2vw-md(30px);
    }

    @include sm {
      padding: 0 px2vw-sm(30px);
    }

    &-title {
      margin-bottom: px2vw-xl(28px);

      @include lg {
        margin-bottom: px2vw-lg(28px);
        padding: 0 px2vw-lg(30px);
      }

      @include md {
        margin-bottom: px2vw-md(28px);
        padding: 0 px2vw-md(30px);
      }

      @include sm {
        margin-bottom: px2vw-sm(28px);
        padding: 0 px2vw-sm(30px);
      }
    }

    &-subtitle {
      margin-bottom: px2vw-xl(8px);
      font-family: "stc-forward-regular", sans-serif;
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);
      color: var(--base-black-pearl);

      @include lg {
        margin-bottom: px2vw-lg(8px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(8px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(8px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
      }
    }

    &-textarea {
      border: 1px solid var(--base-gainsboro);
      min-height: px2vw-xl(135px);

      &::placeholder {
        color: var(--base-gainsboro);
      }
    }

    &-submit {
      margin-top: px2vw-xl(16px);
      text-align: right;

      @include lg {
        margin-top: px2vw-lg(16px);
      }

      @include md {
        margin-top: px2vw-md(16px);
      }

      @include sm {
        margin-top: px2vw-sm(16px);
      }

      button {
        margin-left: px2vw-xl(25px);

        @include sm {
          width: 100%;
          font-size: px2vw-sm(20px);
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

fa-icon {
  color: var(--base-black-pearl) !important;
}

.ArticlePost {
  &-wp {
    margin: 0 auto;
    max-width: px2vw-xl(880px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(880px);
    }

    @include md {
      max-width: none;
    }
  }

  &-top {
    margin-bottom: px2vw-xl(70px);

    @include lg {
      margin-bottom: px2vw-lg(70px);
    }

    @include md {
      margin-bottom: px2vw-md(70px);
    }

    @include sm {
      margin-bottom: px2vw-sm(70px);
    }

    &-hottest {
      display: flex;
      align-items: center;
      margin-bottom: px2vw-xl(11px);
      font-family: "stc-forward-medium", sans-serif;
      font-size: px2vw-xl(18px);
      color: var(--primary-sunset-light);

      @include lg {
        font-size: px2vw-lg(18px);
        margin-bottom: px2vw-lg(11px);
      }

      @include md {
        margin-bottom: px2vw-md(11px);
        font-size: px2vw-md(18px);
      }

      @include sm {
        margin-bottom: px2vw-sm(11px);
        font-size: px2vw-sm(18px);
      }

      img {
        display: block;
        margin-left: px2vw-xl(10px);
        width: 15px;
        height: 19px;

        @include lg {
          margin-left: px2vw-lg(10px);
        }

        @include md {
          margin-left: px2vw-md(10px);
        }

        @include sm {
          margin-left: px2vw-sm(10px);
        }
      }
    }

    &-title {
      margin-bottom: px2vw-xl(31px);
      font-family: "stc-forward-bold", sans-serif;
      font-size: px2vw-xl(40px);
      line-height: px2vw-xl(56px);

      @include lg {
        margin-bottom: px2vw-lg(31px);
        font-size: px2vw-lg(40px);
        line-height: px2vw-lg(56px);
      }

      @include md {
        margin-bottom: px2vw-md(31px);
        font-size: px2vw-md(40px);
        line-height: px2vw-md(56px);
      }

      @include sm {
        margin-bottom: px2vw-sm(31px);
        font-size: px2vw-sm(40px);
        line-height: px2vw-sm(56px);
      }
    }

    &-user {
      display: flex;
      align-items: center;
      margin-bottom: px2vw-xl(44px);

      @include lg {
        margin-bottom: px2vw-lg(44px);
      }

      @include md {
        margin-bottom: px2vw-md(44px);
      }

      @include sm {
        margin-bottom: px2vw-sm(44px);
      }

      &-img {
        width: px2vw-xl(60px);
        height: px2vw-xl(60px);
        margin-right: px2vw-xl(10px);
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;

        @include lg {
          margin-right: px2vw-lg(10px);
          width: px2vw-lg(60px);
          height: px2vw-lg(60px);
        }

        @include md {
          margin-right: px2vw-md(10px);
          width: px2vw-md(60px);
          height: px2vw-md(60px);
        }

        @include sm {
          margin-right: px2vw-sm(10px);
          width: px2vw-sm(60px);
          height: px2vw-sm(60px);
        }
      }

      &-info {
        margin-right: px2vw-xl(20px);
        font-size: px2vw-xl(18px);
        letter-spacing: 0.9px;

        @include lg {
          margin-right: px2vw-lg(20px);
          font-size: px2vw-lg(18px);
        }

        @include md {
          margin-right: px2vw-md(20px);
          font-size: px2vw-md(18px);
        }

        @include sm {
          margin-right: px2vw-sm(20px);
          font-size: px2vw-sm(18px);
        }

        h2 {
          margin: 0;
          font-size: inherit;
          color: var(--base-black-pearl);
        }

        h3 {
          margin: 0;
          font-size: inherit;
          color: var(--base-submarine);
        }
      }

      &-publisher {
        border: 1px solid var(--ui-info);
        border-radius: px2vw-xl(4px);
        padding: px2vw-xl(5px) px2vw-xl(8px);
        font-size: px2vw-xl(16px);
        color: var(--ui-info);
        letter-spacing: 0.8px;

        @include lg {
          border-radius: px2vw-lg(4px);
          padding: px2vw-lg(5px) px2vw-lg(8px);
          font-size: px2vw-lg(16px);
        }

        @include md {
          border-radius: px2vw-md(4px);
          padding: px2vw-md(5px) px2vw-md(8px);
          font-size: px2vw-md(16px);
        }

        @include sm {
          border-radius: px2vw-sm(4px);
          padding: px2vw-sm(5px) px2vw-sm(8px);
          font-size: px2vw-sm(16px);
        }
      }
    }

    &-bg {
      border-radius: px2vw-xl(5px);
      width: 100%;
      height: px2vw-xl(550px);
      background-size: cover;

      @include lg {
        border-radius: px2vw-lg(5px);
        height: px2vw-lg(550px);
      }

      @include md {
        border-radius: px2vw-md(5px);
        height: px2vw-md(390px);
      }

      @include sm {
        border-radius: px2vw-sm(5px);
        height: px2vw-sm(290px);
      }
    }
  }

  &-main {
    @extend %u-dfStartBtw;
    border-bottom: 1px solid var(--base-gainsboro);
    padding: 0 px2vw-xl(20px) px2vw-xl(64px);

    @include lg {
      padding: 0 px2vw-lg(20px) px2vw-lg(64px);
    }

    @include md {
      padding: 0 px2vw-md(20px) px2vw-md(64px);
    }

    @include sm {
      padding: 0 px2vw-sm(20px) px2vw-sm(64px);
    }

    &-content {
      width: 100%;
      max-width: 820px;
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(26px);
      color: var(--base-black-pearl);

      @include lg {
        margin: 0 px2vw-xl(50px);
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(26px);
      }

      @include md {
        margin: 0;
        order: 1;
        font-size: px2vw-md(20px);
        line-height: px2vw-md(26px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(26px);
      }

      ::ng-deep p {
        font-family: "stc-forward-regular", sans-serif !important;
        font-size: px2vw-xl(18px);
        line-height: px2vw-xl(32px);

        @include lg {
          font-size: px2vw-lg(18px);
          line-height: px2vw-lg(32px);
        }

        @include md {
          font-size: px2vw-md(18px);
          line-height: px2vw-md(32px);
        }

        @include sm {
          font-size: px2vw-sm(18px);
          line-height: px2vw-sm(32px);
        }
      }

      ::ng-deep a {
        font-family: "stc-forward-regular", sans-serif !important;
      }
      ::ng-deep span {
        font-family: "stc-forward-regular", sans-serif !important;
      }
    }

    &-buttons {
      @extend %u-dfCenterBtw;
      margin-top: px2vw-xl(38px);
      @include lg {
        margin-top: px2vw-lg(38px);
      }
      @include md {
        margin-top: px2vw-md(38px);
      }
      @include sm {
        margin-top: px2vw-sm(38px);
      }

      &-item {
        display: flex;

        &-divider {
          margin: 0 20px;
          height: 34px;
          border-right: 1px solid var(--base-gainsboro);

          &.hide {
            display: none;
          }
        }
      }
    }

    &-left {
      @include md {
        order: 3;
      }
    }
  }

  &-btn {
    @include btnEvents();
    display: flex;
    align-items: center;
    background: none;
    font-size: px2vw-xl(20px);
    color: var(--base-black-pearl);

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &-counter {
      margin-left: px2vw-lg(3px);

      @include lg {
        margin-left: px2vw-lg(3px);
      }

      @include md {
        margin-left: px2vw-md(3px);
      }

      @include sm {
        margin-left: px2vw-sm(3px);
      }
    }

    &-name {
      margin: 0 px2vw-lg(8px);
      color: var(--base-submarine);
      font-size: px2vw-xl(16px);

      @include lg {
        margin: 0 px2vw-lg(8px);
        font-size: px2vw-lg(16px);
      }

      @include md {
        margin: 0 px2vw-md(8px);
        font-size: px2vw-md(16px);
      }

      @include sm {
        margin: 0 px2vw-sm(8px);
        font-size: px2vw-sm(16px);
      }
    }

    &-icon {
      &.share,
      &.like,
      &.bookmark {
        ::ng-deep svg {
          height: 23px;
        }
      }
    }

    .material-icons {
      margin-right: px2vw-xl(10px);
      font-size: px2vw-xl(35px);

      @include lg {
        margin-right: px2vw-lg(10px);
        font-size: px2vw-lg(35px);
      }

      @include md {
        margin-right: px2vw-md(10px);
        font-size: px2vw-md(50px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
        font-size: px2vw-sm(40px);
      }

      &.is-active {
        color: var(--primary-sunset-light);
      }
    }
  }
}
