<div class="SettingsLightbox">
  <h2 class="SettingsLightbox-title">Account settings</h2>

  <mat-tab-group
    class="SettingsLightbox-tabs global-MainTabs"
    mat-align-tabs="center"
    animationDuration="0ms"
    [selectedIndex]="data.selectedTab"
  >
    <mat-tab [label]="'ACCOUNT_SETTINGS.PROFILE.TAB' | translate">
      <app-profile></app-profile>
    </mat-tab>

    <mat-tab [label]="'ACCOUNT_SETTINGS.ACCOUNTS.TAB' | translate">
      <app-accounts></app-accounts>
    </mat-tab>

    <mat-tab [label]="'ACCOUNT_SETTINGS.PREFERENCES.TAB' | translate">
      <app-preferences></app-preferences>
    </mat-tab>

    <!-- <mat-tab [label]="'ACCOUNT_SETTINGS.PASSWORDS.TAB' | translate">
      <app-passwords></app-passwords>
    </mat-tab> -->

    <mat-tab [label]="'ACCOUNT_SETTINGS.REFERRALS.TAB' | translate">
      <app-referrals></app-referrals>
    </mat-tab>
  </mat-tab-group>

  <button class="SettingsLightbox-close global-modal-close" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</div>
