<!-- <header class="Inbox-header">
  <h1 class="Inbox-header-title">
    Notifications
  </h1>

  <button class="Inbox-header-button button-primary" [routerLink]="'/manage-tournament/add-notification'">
    {{'new notification'|uppercase}}
  </button>
</header> -->
<!-- <div class="SelectGame-search">
  <app-inputt-search [placeholder]="'Search for notifications '" [text]="" (onTextChange)="onTextChange($event)">
  </app-inputt-search>
</div> -->
<!-- <section class="Inbox-content" *ngIf="slicesMessages.length; else noMessages">
  <div class="Inbox-content-header">
    <div class="Inbox-content-message">
      <mat-checkbox class="Inbox-content-message-checkbox" (click)="onSelectAll()"></mat-checkbox>
      <p class="Inbox-content-message-date main global-Elipses">
        {{ "PROFILE.INBOX.DATE_AND_TIME" | translate }}
      </p>
      <span class="Inbox-content-message-text main">
        {{ "PROFILE.INBOX.MESSAGE" | translate }}
      </span>
    </div>
  </div>

  <ul class="Inbox-content-messages">
    <ng-container *ngFor="let item of slicesMessages">
      <li class="Inbox-content-message">
        <mat-checkbox class="Inbox-content-message-checkbox" [(ngModel)]="item.isChecked"></mat-checkbox>
        <p class="Inbox-content-message-date global-Elipses">
          {{ item?.createdAt | date: "short" }}
        </p>
        <span class="Inbox-content-message-text global-Elipses">
          {{ item.message }}
        </span>


      </li>
    </ng-container>
  </ul>

  <div class="Inbox-content-pagination">
    <mat-paginator [length]="messages.length" [pageSize]="messagesPerPage[0]" [pageSizeOptions]="messagesPerPage"
      (page)="onPageChange($event)"></mat-paginator>
  </div>
</section> -->

<!--<ng-template #noMessages>
  <div class="Inbox-empty">
    <h2 class="Inbox-empty-title">
       {{ "PROFILE.INBOX.EMPTY_TITLE" | translate }}
    </h2>
  </div>
</ng-template> -->
<div class="Notifications">
  <div class="Notifications-container">
    <div class="Notifications-wrapper">
      <div class="Notifications-inner">
        <div class="Notifications-heading">
          <h1 class="title">
            {{ "MANAGE_TOURNAMENT.NOTIFICATIONS.TITLE" | translate }}
          </h1>
        </div>
        <div class="Notifications-content">
          <div class="Notifications-content-header">
            <div class="Notifications-content-header-left">
              <span class="noti">Showing 10 out of 11 notifications</span>
            </div>
            <div class="Notifications-content-header-right">
              <app-inputt-search [placeholder]="'Search notifications '" [text]=""
                (onTextChange)="onTextChange($event)">
              </app-inputt-search>
            </div>
          </div>
          <div class="Notifications-content-buttonGroup">
            <button class="btn button-primary" (click)="showPopup($event)">
              {{ "BUTTON.CREATE_NEW_NOTIFICATION" | translate }}
            </button>
          </div>
          <div class="Notifications-content-main">
            <section class="Notifications-content-mainTable" *ngIf="slicesMessages.length; else noMessages">
              <div class="Notifications-tableWap">
                <div class="Notifications-tableInner">
                  <div class="Notifications-table">
                    <div class="thead">
                      <div class="tr">
                        <div class="th">
                          <mat-checkbox class="Inbox-content-message-checkbox" (click)="onSelectAll()"></mat-checkbox>
                        </div>
                        <div class="th"><span class="text">{{ "MANAGE_TOURNAMENT.NOTIFICATIONS.DATE" | translate
                            }}</span>
                        </div>
                        <div class="th"><span class="text">{{ "MANAGE_TOURNAMENT.NOTIFICATIONS.NOTIFICATION_NAME" |
                            translate }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="tbody">
                      <ng-container *ngFor="let item of slicesMessages">
                        <div class="tr">
                          <div class="td">
                            <mat-checkbox class="Inbox-content-message-checkbox" [(ngModel)]="item.isChecked">
                            </mat-checkbox>
                          </div>
                          <div class="td"><span class="text">{{ item?.createdAt | date: "short" }}</span></div>
                          <div class="td"><span class="text">{{ item.message }}</span></div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <div class="Inbox-content-pagination">
                <mat-paginator [length]="messages.length" [pageSize]="messagesPerPage[0]"
                  [pageSizeOptions]="messagesPerPage" (page)="onPageChange($event)"></mat-paginator>
              </div>
            </section>
            <ng-template #noMessages>
              <div class="Inbox-empty">
                <!-- <h2 class="Inbox-empty-title">
                  {{ "PROFILE.INBOX.EMPTY_TITLE" | translate }}
                </h2> -->
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="Profile-popup" *ngIf="show">
  <app-add-notification (hidePopup)="hidePopup($event)"></app-add-notification>
</div>
<app-fullscreen-loading *ngIf="false"></app-fullscreen-loading>