@mixin bracket-container {
  display: block;
  position: relative;
  overflow: auto;
  background: #171A1C 0% 0% no-repeat padding-box;
  box-shadow: 4px 4px 6px #0000034D;
  border: 0.200000003px solid #171A1C;
  //for scroll bar
  &::-webkit-scrollbar { width: 8px; height: 8px;}
  &::-webkit-scrollbar-thumb { height: 10px; background-color: rgba(0, 0, 3, .3); border-radius: 11px;}
}