@import "variables";

// MATCH
.ngtt-de__match-component-container {
  display: flex;
  // height: $ngtt-match-wrapper-height;
  height: auto;
  width: $ngtt-match-wrapper-width;
  background-color: $ngtt-match-container-background;
  box-sizing: border-box !important;
}

.ngtt-de__winners-match-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: $ngtt-match-wrapper-height + 2 * $ngtt-vertical-match-padding;
  width: $ngtt-match-wrapper-width + 2 * $ngtt-round-gutters;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;

  // every bracket line
  & > .line {
    display: flex;
    flex-grow: 1;
    right: 0;
    position: absolute;
    width: $ngtt-round-gutters;
    height: 50%;
    //border-right: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    border-right: 1px solid #707070;
    content: "";
    box-sizing: border-box !important;
  }

  & > .join {
    display: flex;
    flex-grow: 1;
    position: absolute;
    width: $ngtt-round-gutters;
    //border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    border-top: 1px solid #707070;
    content: "";
    box-sizing: border-box !important;
  }

  &:nth-child(odd) {
    & > .line {
      top: 50%;
      border-top-right-radius: $ngtt-bracket-border-radius;
      //border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
      border-top: 1px solid #707070;
    }

    & > .join {
      width: 0px;
    }
  }

  &:nth-child(even) {
    & > .line {
      top: 0;
      border-bottom-right-radius: $ngtt-bracket-border-radius;
      //border-bottom: $ngtt-bracket-line-width solid $ngtt-line-color-main;
      border-bottom: 1px solid #707070;
    }

    & > .join {
      top: 0%;
      right: -25px;
    }
  }

  &:first-child:last-child {
    & > .line {
      border-right: none;
      border-radius: 0;
      width: $ngtt-round-gutters - $ngtt-bracket-line-width;
    }
  }

  .ngtt-de__winners-round-wrapper:first-child > & {
    &:nth-child(odd) {
      & > .join {
        right: 0px;
        width: 0px;
        top: 0px;
      }
    }
    &:nth-child(even) {
      & > .join {
        right: -25px;
        width: 25px;
        top: 0%;
      }
    }
  }

  .ngtt-de__winners-round-wrapper:not(:first-child):not(:nth-child(2)):not(:last-child)
    > & {
    & > .join {
      width: ($ngtt-match-wrapper-width) + 3 * $ngtt-round-gutters;
      left: -1 * ($ngtt-match-wrapper-width + 2 * $ngtt-round-gutters);
      top: 50%;
    }
  }
}

//final match
.ngtt-de__finale-match-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  height: $ngtt-match-wrapper-height;
  width: $ngtt-match-wrapper-width;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;

  &::before {
    box-sizing: border-box !important;
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: $ngtt-round-gutters;
    content: "";
    bottom: 50px;
    // bottom: ($ngtt-match-wrapper-height/2) + $ngtt-vertical-match-padding;
    // border-left: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    // border-bottom: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
  }

  &::after {
    box-sizing: border-box !important;
    display: flex;
    flex-grow: 1;
    // left: ($ngtt-match-wrapper-width + 3 * ($ngtt-round-gutters)) * -1;
    left: -24px;
    top: 50%;
    height: 2%;
    position: absolute;
    width: 25px;
    content: "";
    // border-right: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    // border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    border-top-right-radius: $ngtt-bracket-border-radius;
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
  }

  .ngtt-de__winners-round-wrapper:nth-of-type(2) > & {
    &::after {
      width: 25px;
      left: 0px;
    }
  }

  .ngtt-de__winners-round-wrapper:nth-of-type(1) > & {
    &::after {
      width: 50px;
      left: -25px;
    }

    &::before {
      width: 50px;
      left: -25px;
    }
  }
}

// winners bracket
.ngtt-de__winners-bracket-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box !important;
}

.ngtt-de__winners-round-wrapper, .winner-round-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box !important;
  min-width: 2 * ($ngtt-match-wrapper-width + 2 * ($ngtt-round-gutters));

  &:first-child {
    min-width: $ngtt-match-wrapper-width + 2 * ($ngtt-round-gutters);
  }

  &:last-child {
    justify-content: flex-end;
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    min-width: $ngtt-match-wrapper-width + 2 * $ngtt-round-gutters;
  }

  &:nth-last-child(1) {
    .ngtt-de__finale-match-wrapper::before {
      left: -25px;
      width: 50px;
      border-left: none;
    }

    .ngtt-de__finale-match-wrapper::after {
      left: 0px;
      width: 0px;
      border-right: none;
    }
  }
}

//losers bracket
.ngtt-de__losers-bracket-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box !important;
}

.ngtt-de__losers-round-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $ngtt-match-wrapper-width + 2 * ($ngtt-round-gutters);
  // padding-top: $ngtt-match-wrapper-height/2;
  box-sizing: border-box !important;

  &:nth-child(0) {
    margin-left: $ngtt-match-wrapper-width + 2 * ($ngtt-round-gutters);
  }
}

.ngtt-de__losers-match-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: $ngtt-match-wrapper-height + 2 * $ngtt-vertical-match-padding;
  width: $ngtt-match-wrapper-width + 2 * $ngtt-round-gutters;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;
  // every bracket line
  & > .line {
    display: flex;
    flex-grow: 1;
    right: 0;
    position: absolute;
    width: $ngtt-round-gutters;
    height: 50%;
    content: "";
    box-sizing: border-box !important;
  }

  & > .join {
    display: flex;
    flex-grow: 1;
    // right: -1 * $ngtt-bracket-line-width;
    // top: 50%;
    position: absolute;
    width: $ngtt-round-gutters;
    // border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    border-top: 1px solid #707070;
    content: "";
    box-sizing: border-box !important;
  }

  .ngtt-de__losers-round-wrapper:nth-child(even):not(:last-child) > & {
    &:nth-child(even) {
      & > .line {
        top: 50%;
        width: $ngtt-round-gutters;
        border-top-right-radius: $ngtt-bracket-border-radius;
        // border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
        // border-right: $ngtt-bracket-line-width solid $ngtt-line-color-main;
        border-right: 1px solid #707070;
        border-top: 1px solid #707070;
      }

      & > .join {
        right: -25px !important;
        bottom: -2px;
      }
    }

    &:nth-child(odd) {
      & > .line {
        top: $ngtt-bracket-line-width / 2;
        width: $ngtt-round-gutters;
        border-bottom-right-radius: $ngtt-bracket-border-radius;
        // border-bottom: $ngtt-bracket-line-width solid $ngtt-line-color-main;
        // border-right: $ngtt-bracket-line-width solid $ngtt-line-color-main;
        border-right: 1px solid #707070;
        border-bottom: 1px solid #707070;
      }

      & > .join {
        right: -25px !important;
        top: 1px;
      }
    }
  }

  .ngtt-de__losers-round-wrapper:nth-child(odd):not(:last-child) > & {
    &:nth-child(odd) {
      & > .line {
        top: 50%;
        border-top-right-radius: 0;
        // border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
        border-top: 1px solid #707070;
      }

      & > .join {
        right: -25px !important;
        top: 50%;
      }
    }

    &:nth-child(even) {
      & > .line {
        top: 1px;
        border-bottom-right-radius: 0;
        // border-bottom: $ngtt-bracket-line-width solid $ngtt-line-color-main;
        border-bottom: 1px solid #707070;
      }

      & > .join {
        right: -25px !important;
        top: calc(50% + 0.5px);
      }
    }
  }

  .ngtt-de__losers-round-wrapper:nth-child(1) {
    margin-left: 250px;
  }

  // .ngtt-de__losers-round-wrapper:first-child > & {
  //   & > .join {
  //     display: none;
  //   }
  // }

  // bracket line to match up to final
  .ngtt-de__losers-round-wrapper:last-child > & {
    & > .line {
      right: -1px;
      height: calc(100% + 25px);;
      width: 25px;
      top: calc(-50% + -25px);
      border-top: none;
      // border-bottom: $ngtt-bracket-line-width solid $ngtt-line-color-main;
      // border-right: $ngtt-bracket-line-width solid $ngtt-line-color-main;
      border-top-right-radius: 0;
      border-bottom-right-radius: $ngtt-bracket-border-radius;
      box-sizing: border-box !important;
      border-right: 1px solid #707070;
      border-bottom: 1px solid #707070;
    }

    & > .join {
      display: none;
    }
  }
}

.round-title {
  color: #fff;
  text-align: center;
}