//@import "ngtt-reset";
@import "variables";

.ngtt-se__match-component-container {
  display: flex;
  // height: $ngtt-match-wrapper-height;
  width: $ngtt-match-wrapper-width;
  background-color: $ngtt-match-container-background;
  box-sizing: border-box !important;
  align-items: center;
  margin-bottom: 24px;
  padding-top: 25px;
}

// winners bracket
.ngtt-se__bracket-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box !important;
}

.ngtt-se__round-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // min-width: $ngtt-match-wrapper-width + 2 * ($ngtt-round-gutters);
  min-width: 290px;
  box-sizing: border-box !important;
  // &:last-child {
  //   .ngtt-se__match-component-container {
  //     margin-top: auto;
  //   }
  // }
  &:nth-last-child(2){
    z-index: 4;
  }
}

.ngtt-se__match-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: $ngtt-match-wrapper-height + 2 * $ngtt-vertical-match-padding;
  // width: $ngtt-match-wrapper-width + 2 * $ngtt-round-gutters;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;
  /*New styles*/
  padding: 0;
  height: auto;
  width: 270px;
  
  // &:last-child .ngtt-se__match-component-container {
  //   margin-bottom: 0;
  // }
  // every bracket line
  & > .line {
    display: flex;
    flex-grow: 1;
    right: 0;
    position: absolute;
    // width: $ngtt-round-gutters;
    width: 19px;
    height: 50%;
    // border-right: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    border-right: 1px solid #707070;
    content: "";
    box-sizing: border-box !important;
  }

  // &::before {

  // }

  & > .join {
    display: flex;
    flex-grow: 1;
    position: absolute;
    // right: -25px;
    // width: $ngtt-round-gutters;
    right: -9px;
    width: 9px;
    // border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    border-top: 1px solid #707070;
    content: "";
    box-sizing: border-box !important;
  }

  &:nth-child(odd) {
    & > .line {
      top: 50%;
      border-top-right-radius: $ngtt-bracket-border-radius;
      // border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
      border-top: 1px solid #707070;
    }

    & > .join {
      bottom: -0.1%;
    }
  }

  &:nth-child(even) {
    & > .line {
      top: 0;
      border-bottom-right-radius: $ngtt-bracket-border-radius;
      // border-bottom: $ngtt-bracket-line-width solid $ngtt-line-color-main;
      border-bottom: 1px solid #707070;
    }

    & > .join {
      top: 0%;
    }
  }

  &:first-child:last-child {
    & > .line,
    & > .join {
      display: none;
    }
  }

  // .ngtt-se__round-wrapper:first-child > & {
  //   & > .join {
  //     display: none;
  //   }
  // }
}

//final match
.ngtt-se__finale-match-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  height: $ngtt-match-wrapper-height + 2 * $ngtt-vertical-match-padding;
  width: $ngtt-match-wrapper-width + 2 * $ngtt-round-gutters;
  padding: $ngtt-vertical-match-padding $ngtt-round-gutters;
  position: relative;
  box-sizing: border-box !important;

  & > .ngtt-se__finale-component-container {
    display: block;
    height: $ngtt-match-wrapper-height;
    width: $ngtt-match-wrapper-width;
    // background-color: $ngtt-match-container-background;
    margin-bottom: 2 * $ngtt-vertical-match-padding;
  }

  & > .join {
    display: flex;
    flex-grow: 1;
    left: 0;
    top: 50%;
    position: absolute;
    width: $ngtt-round-gutters;
    // border-top: $ngtt-bracket-line-width solid $ngtt-line-color-main;
    border-top: 1px solid #707070;
    content: "";
  }
}