@import "single-elimination-styles";
@import "double-elimination-styles";
@import "match-wrapper-styles";
@import "_mixins.scss";

.multiselect-class {
  color: #ccc;
}

.multiselect-class .cuppa-dropdown {
  border: 1px #5d5e64 solid;
  border-radius: 2px;
}

.multiselect-class .list-area {
  background: #171616;
}
.multiselect-class .list-filter > input {
  background: #171616;
  color: #ccc;
}

.multiselect-class .pure-checkbox input[type="checkbox"] + label:before {
  border: 1px solid;
}

.elimination__container {
  box-sizing: border-box;
  max-height: 100%;
  // background: #171A1C 0% 0% no-repeat padding-box;
  // box-shadow: 4px 4px 6px #0000034D;
  // border: 0.20000000298023224px solid #171A1C;
  border-radius: 5px;
  margin-top: 30px;
  // padding: 107px 40px 35px;
  padding: 35px 40px;
  position: relative;
  max-width: max-content;
  min-width: 1093px;
  width: max-content;
}

.hide-block {
  visibility: hidden;
}

.btn-row-round {
  // margin-top: 30px;
  padding: 35px 40px;
  flex-wrap: nowrap !important;
  .description {
    margin: 1px;
    background: #252729 0% 0% no-repeat padding-box;
    padding: 15px;
    // padding-left: 62px;
    text-align: left;
    color: #fbfbfb;
    min-width: 290px;
    p {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }
    fa-icon {
      margin-left: 33px;
      font-size: 15px;
    }
    .row {
      margin-top: 8px;
      p {
        font-size: 16px;
        line-height: 21px;
        font-weight: bold;
      }
    }
    // &:first-child {
    //   border-radius: 5px 0 0 5px;
    // }
    // &:last-child {
    //   border-radius: 0 5px 5px 0;
    // }
    &.active {
      background: rgba(23, 26, 28, 0.5);
      box-shadow: 4px 4px 6px #0000034d;
      border: 1px solid #707070;
    }
  }
  // &.round-double {
  //   .description {
  //     min-width: 300px;
  //   }
  // }
}

.btn-row-approve-round {
  margin-top: 18px;
  justify-content: flex-end;
  display: flex;
  .btn-light {
    padding: 12px 48px;
    margin-right: 27px;
    background: rgba(0, 0, 3, 0.2);
    border-radius: 18px;
    color: rgba(251, 251, 251, 0.6);
    font-size: 12px;
    line-height: 16px;
    font-family: "dynasty-primary-light" !important;
    transition: all 0.3s;
    &:hover {
      background: #f13030;
      color: #fbfbfb;
    }
  }
  .btn-primary {
    background: #f13030;
    border-radius: 20px;
    padding: 12px 48px;
    font-size: 12px;
    line-height: 16px;
    font-family: "dynasty-primary-semibold" !important;
    color: #fbfbfb;
  }
}

.btn-row-controll-container {
  margin-top: -24px;
  position: relative;
  button {
    background: #1c1f21;
    height: 48px;
    width: 73px;
    border-right: 2px solid #171a1c;
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
      border-right: 0;
    }
    &:hover {
      svg {
        .a {
          opacity: 0.8;
        }
      }
    }
  }
}

.modal-upload-screenshot {
  .modal-dialog {
    max-width: 400px;
    top: 0%;
    left: 0%;
  }
  .modal-content {
    background: #1c1c1c 0% 0% no-repeat padding-box;
    border: 1px dashed #707070;
    border-radius: 5px;
    .modal-header {
      border: 0;
      padding: 0;
      button {
        position: absolute;
        top: 22px;
        right: 30px;
        padding: 0;
        margin: 0;
        z-index: 9;
        opacity: 1;
      }
    }
    .modal-body {
      padding: 62px 70px 66px;
      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-size: 24px;
        line-height: 31px;
        color: #707070;
        text-align: center;
        .btn-upload {
          background: rgba(13, 15, 16, 0.8);
          border-radius: 25px;
          width: 100%;
          padding: 12px 0;
          font-size: 18px;
          line-height: 23px;
          color: var(--whitecolor);
          text-transform: uppercase;
          margin: 21px 0 28px;
          cursor: pointer;
          font-family: "dynasty-primary-light" !important;
        }
      }
      input {
        opacity: 0;
        position: absolute;
      }
    }
  }
}

.btn-open-modal {
  path {
    fill: rgba(251, 251, 251, 0.51);
  }
}

app-single-elimination,
app-double-elimination,
app-round-robin {
  @include bracket-container;
}

@media (max-width: 1199px) {
  .elimination__container {
    padding: 30px;
  }
}

@media (max-width: 1199px) {
  .elimination__container {
    max-height: 500px;
  }
  app-round-robin .elimination__container {
    min-width: auto;
    margin: auto;
  }
}
