//
// COLORS
//

$ngtt-background-primary: #141517;
$ngtt-accent-primary: goldenrod;
$ngtt-background-secondary: transparent;
$ngtt-match-action-background: #141517;

//
// NgttTournament Tree Configuration
//

// tournament tree colors
$ngtt-background-color: $ngtt-background-primary !default;
$ngtt-line-color-main: $ngtt-accent-primary !default;
$ngtt-bracket-separator-color: $ngtt-background-secondary !default;
$ngtt-match-container-background: $ngtt-background-secondary;

//tree scaling
$ngtt-match-wrapper-width: 250px !default;
$ngtt-match-wrapper-height: 100px !default;
$ngtt-vertical-match-padding: 15px !default;
$ngtt-round-gutters: 25px !default;
$ngtt-bracket-border-radius: 0 !default;
$ngtt-bracket-line-width: 2px !default;
