@import "shared";

:host {
  display: block;
}
.PrivacyPolicy {
  padding-top: px2vw-xl(56px);
  padding-bottom: px2vw-xl(56px);
  max-width: px2vw-xl(1100px);
  @include xxl {
    padding-top: px2vw-xxl(56px);
    padding-bottom: px2vw-xxl(56px);
    max-width: 1070px;
  }
  @include lg {
    padding-top: px2vw-lg(56px);
    padding-bottom: px2vw-lg(56px);
    max-width: px2vw-xl(1100px);
  }
  @include md {
    padding-top: px2vw-md(56px);
    padding-bottom: px2vw-md(56px);
    max-width: 100%;
  }
  @include sm {
    padding-top: 56px;
    padding-bottom: 56px;
    max-width: 100%;
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(20px);
    text-transform: capitalize;
    @include xxl {
      margin-bottom: px2vw-xxl(20px);
    }
    @include lg {
      margin-bottom: px2vw-lg(20px);
    }
    @include md {
      margin-bottom: px2vw-md(20px);
    }
    @include sm {
      margin-bottom: 20px;
    }
  }
  &-subtitle {
    @extend %body-1;
    padding-bottom: 34px;
    margin-bottom: 0;
  }
  .description {
    margin-bottom: 0;
    @extend %body-1;
  }
  .policycontent {
    bottom: 15px;
    counter-reset: section;
    .list_point {
      margin-top: px2vw-xl(40px);
      @include xxl {
        margin-top: px2vw-xxl(40px);
      }
      @include lg {
        margin-top: px2vw-lg(40px);
      }
      @include md {
        margin-top: px2vw-md(40px);
      }
      @include sm {
        margin-top: 40px;
      }
      .overview-title {
        font-family: "maxis-black";
        font-size: px2vw-xl(16px);
        color: var(--white);
        text-transform: uppercase;
        @include xxl {
          font-size: px2vw-xxl(16px);
        }
        @include lg {
          font-size: px2vw-lg(16px);
        }
        @include md {
          font-size: px2vw-md(16px);
        }
        @include sm {
          font-size: 16px;
        }
        &::before {
          counter-increment: section;
          content: counter(section) ". ";
        }
      }
      .paragraph {
        .overview-paragraph {
          @extend %body-1;
          padding-top: px2vw-xl(10px);
          @include xxl {
            padding-top: px2vw-xxl(10px);
          }
          @include lg {
            padding-top: px2vw-lg(10px);
          }
          @include md {
            padding-top: px2vw-md(10px);
          }
          @include sm {
            padding-top: 10px;
          }
          a {
            color: var(--color-primary);
            cursor: pointer;
          }
        }
      }
      .information-overview-paragraph-list {
        list-style-type: none;
        margin-left: px2vw-xl(30px);
        counter-reset: subsection;
        @include xxl {
          margin-left: px2vw-xxl(30px);
        }
        @include lg {
          margin-left: px2vw-lg(30px);
        }
        @include md {
          margin-left: px2vw-md(30px);
        }
        @include sm {
          margin-left: 30px;
        }
        li {
          @extend %body-1;
          margin-bottom: px2vw-xl(20px);
          padding-left: px2vw-xl(30px);
          position: relative;
          @include xxl {
            margin-bottom: px2vw-xxl(20px);
            padding-left: px2vw-xxl(30px);
          }
          @include lg {
            margin-bottom: px2vw-lg(20px);
            padding-left: px2vw-lg(30px);
          }
          @include md {
            margin-bottom: px2vw-md(20px);
            padding-left: px2vw-md(30px);
          }
          @include sm {
            margin-bottom: 20px;
            padding-left: 30px;
          }
          a {
            color: var(--color-primary);
            cursor: pointer;
          }
          ul {
            margin-top: 20px;
            li {
              list-style: none;
              padding-left: 0px;
              margin-left: 0px;
              &::before {
                content: "";
              }
              ol {
                li {
                  content: "";
                  list-style: none;
                }
              }
            }
            &.list_3 {
              > li {
                position: relative;
                padding-left: 40px;
                &::before {
                  position: absolute;
                  left: 0;
                }
              }
            }
          }
        }
        > li {
          &::before {
            counter-increment: subsection;
            content: counter(section) "." counter(subsection) " ";
            position: absolute;
            left: 0;
          }
          ul.list_3{
            counter-reset: endsection;
            > li {
              &::before {
                counter-increment: endsection;
                content: counter(section) "." counter(subsection) "." counter(endsection);
                position: absolute;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
.list-style-small-apha {
  li {
    list-style: lower-alpha !important;
  }
}
ol.roman {
  counter-reset: roman;
}
ol.alpha {
  counter-reset: alpha;
}
ol.alpha > li:before {
  counter-increment: alpha;
}
.roman > li:before {
  counter-increment: roman;
  content: "(" counter(roman, lower-roman) ") ";
}
.bg-graphics {
  position: fixed;
  top: 0;
  left: 0;
}
