@import "shared";

:host {
  display: block;
}

.TournamentsCard {
  border: 1px solid var(--white-smoke);
  border-radius: 4px;
  transition: $global-transition2;
  background-color: var(--color-background);
  cursor: pointer;

  @include xl {
    border-width: px2vw-xl(1px);
    border-radius: px2vw-xl(4px);
  }

  @include lg {
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(4px);
  }

  @include md {
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(4px);
  }

  @include sm {
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(4px);
  }

  &:hover {
    border-color: var(--white);
    background: var(--gradient-bg);
  }

  &-main {
    padding: 8px;
    padding-bottom: 22px;

    @include xl {
      padding: px2vw-xl(8px);
      padding-bottom: px2vw-xl(22px);
    }

    @include lg {
      padding: px2vw-lg(8px);
      padding-bottom: px2vw-lg(22px);
    }

    @include md {
      padding: px2vw-md(8px);
      padding-bottom: px2vw-md(22px);
    }

    @include sm {
      padding: px2vw-sm(8px);
      padding-bottom: px2vw-sm(22px);
    }
  }

  &-image {
    background-size: cover;
    margin-bottom: 10px;
    height: 160px;
    width: 100%;
    background-color: var(--black);

    @include xl {
      margin-bottom: px2vw-xl(10px);
      height: px2vw-xl(160px);
    }

    @include lg {
      margin-bottom: px2vw-lg(10px);
      height: px2vw-lg(160px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      height: px2vw-md(160px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      height: px2vw-sm(160px);
    }
  }

  &-title {
    @extend %global-H7;
    margin-bottom: 10px;
    min-height: 36px;

    @include xl {
      margin-bottom: px2vw-xl(10px);
      min-height: px2vw-xl(36px);
    }

    @include lg {
      margin-bottom: px2vw-lg(10px);
      min-height: px2vw-lg(36px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      min-height: px2vw-md(36px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      min-height: px2vw-sm(36px);
    }
  }

  &-details {
    margin-bottom: 0;
  }

  &-detail {
    @extend %u-dfCenter;
    margin-bottom: 8px;

    @include xl {
      margin-bottom: px2vw-xl(8px);
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      min-height:px2vw-sm(35px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    margin-right: 8px;
    height: 24px;
    width: 24px;

    @include xl {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
    }
  }

  &-icon {
    &.time {
      height: 13.3px;
      width: 13.3px;

      @include xl {
        height: px2vw-xl(13.3px);
        width: px2vw-xl(13.3px);
      }

      @include lg {
        height: px2vw-lg(13.3px);
        width: px2vw-lg(13.3px);
      }

      @include md {
        height: px2vw-md(13.3px);
        width: px2vw-md(13.3px);
      }

      @include sm {
        height: px2vw-sm(13.3px);
        width: px2vw-sm(13.3px);
      }
    }

    &.bracket {
      height: 16px;
      width: 12px;

      @include xl {
        height: px2vw-xl(16px);
        width: px2vw-xl(12px);
      }

      @include lg {
        height: px2vw-lg(16px);
        width: px2vw-lg(12px);
      }

      @include md {
        height: px2vw-md(16px);
        width: px2vw-md(12px);
      }

      @include sm {
        height: px2vw-sm(16px);
        width: px2vw-sm(12px);
      }
    }

    &.team {
      height: 9.33px;
      width: 14.67px;

      @include xl {
        height: px2vw-xl(9.33px);
        width: px2vw-xl(14.67px);
      }

      @include lg {
        height: px2vw-lg(9.33px);
        width: px2vw-lg(14.67px);
      }

      @include md {
        height: px2vw-md(9.33px);
        width: px2vw-md(14.67px);
      }

      @include sm {
        height: px2vw-sm(9.33px);
        width: px2vw-sm(14.67px);
      }
    }
  }

  &-text {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white-medium);
    // line-height: px2vw-sm(25px);
    // font-size: px2vw-sm(12px);
  }

  &-footer {
    @extend %u-dfCenterBtw;
    border-top: 1px solid var(--white-smoke);
    padding: 12px;

    @include xl {
      padding: px2vw-xl(12px);
    }

    @include lg {
      padding: px2vw-lg(12px);
    }

    @include md {
      padding: px2vw-md(12px);
    }

    @include sm {
      padding: px2vw-sm(12px);
    }
  }

  &-author {
    @extend %u-dfCenter;
  }

  &-author-image {
    border-radius: 50%;
    margin-right: 8px;
    height: 32px;
    width: 32px;
    background-size: cover;
    background-color: var(--color-secondary);
    background-position: center;

    @include xl {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(32px);
      width: px2vw-xl(32px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-author-name {
    @extend %caption;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-game {
    @extend %u-dfCenterEnd;
    height: 32px;
    width: 66px;

    @include xl {
      height: px2vw-xl(32px);
      width: px2vw-xl(66px);
    }

    @include lg {
      height: px2vw-lg(32px);
      width: px2vw-lg(66px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(66px);
    }

    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(66px);
    }
  }

  &-game-image {
    height: 100%;
    max-width: 100%;
  }
}

.text-transform{
  text-transform: uppercase !important;
}

@include lg{
  .ArticlePost.u-wp {
    padding-bottom: px2vw-lg(50px);
  }
}

@include md {
  section.SearchTournaments {
    .SearchTournaments-list{
      .TournamentsCard{
        .TournamentsCard-main{

          h3.TournamentsCard-title.global-Elipses2.text-transform {
          line-height:px2vw-md(25px);
          font-size: px2vw-md(20px);
          min-height: px2vw-md(50px);
          padding-left: px2vw-md(6px);
          text-transform: uppercase !important;
        }

        ul.TournamentsCard-details{
          li.TournamentsCard-detail {
            min-height:px2vw-md(30px);
            // img{
            //   min-width:px2vw-sm(26px);
            // }
            p.TournamentsCard-text{
              line-height: px2vw-md(25px);
              font-size: px2vw-md(10px);
            }
          }
        }

        }
     }
    }
  }
}

@include sm {
  section.SearchTournaments {
    padding: 0 1.6075619296vw !important;
    .SearchTournaments-list{
      .TournamentsCard{
        .TournamentsCard-main{

          h3.TournamentsCard-title.global-Elipses2.text-transform {
          line-height:px2vw-sm(25px);
          font-size: px2vw-sm(20px);
          min-height: px2vw-sm(50px);
          padding-left: px2vw-sm(6px);
          text-transform: uppercase !important;
        }

        ul.TournamentsCard-details{
          li.TournamentsCard-detail {
            min-height:px2vw-sm(30px);
            // img{
            //   min-width:px2vw-sm(26px);
            // }
            p.TournamentsCard-text{
              line-height: px2vw-sm(25px);
              font-size: px2vw-sm(20px) !important;
            }
          }
        }

        }
     }
    }
  }
  .ArticlePost{
    padding-bottom: px2vw-sm(30px) !important;
  }
}