<div
  class="TournamentsCard"
  [routerLink]="[AppHtmlRoutes.tournamentView, params?.slug]"
>
  <div class="TournamentsCard-main">
    <div
      *ngIf="params?.banner"
      class="TournamentsCard-image"
      [lazyLoad]="params?.banner"
    ></div>
    <div
      *ngIf="!params?.banner"
      class="TournamentsCard-image"
      [lazyLoad]="params?.gameDetail?.image"
    ></div>

    <h3 class="TournamentsCard-title global-Elipses2 text-transform">
      {{ params?.name }}
    </h3>

    <ul class="TournamentsCard-details">
      <li class="TournamentsCard-detail">
        <div class="TournamentsCard-icon-block">
          <img
            class="TournamentsCard-icon time"
            lazyLoad="assets/icons/esports/ongoing/time.svg"
            alt="icon"
          />
        </div>
        <p class="TournamentsCard-text">
          {{ params?.startDate | date: "d MMMM, y" }} •
          {{
            (!isNumber(timezone)
              ? (params?.startDate | date: "shortTime")
              : (params?.startDate | date: "longTime")
            ) | lowercase
          }}
        </p>
      </li>

      <li class="TournamentsCard-detail">
        <div class="TournamentsCard-icon-block">
          <img
            class="TournamentsCard-icon bracket"
            lazyLoad="assets/icons/esports/ongoing/bracket.svg"
            alt="icon"
          />
        </div>
        <!-- <p class="TournamentsCard-text">{{ params?.bracketType}}</p> -->
        <p class="TournamentsCard-text" *ngIf="params?.bracketType == 'single'">
          {{ "Tournaments_Card.player_status.Single_bracketType" | translate }}
        </p>
        <p
          class="TournamentsCard-text"
          *ngIf="params?.bracketType == 'battle_royale'"
        >
          {{ "Tournaments_Card.player_status.Battle_bracketType" | translate }}
        </p>
        <p class="TournamentsCard-text" *ngIf="params?.bracketType == 'double'">
          {{ "Tournaments_Card.player_status.Double_bracketType" | translate }}
        </p>
        <p
          class="TournamentsCard-text"
          *ngIf="params?.bracketType == 'round_robin'"
        >
          {{ "Tournaments_Card.player_status.Round_bracketType" | translate }}
        </p>
        <p
          class="TournamentsCard-text"
          *ngIf="params?.bracketType == 'swiss_system'"
        >
          {{ "Tournaments_Card.player_status.Swiss_bracketType" | translate }}
        </p>
      </li>

      <li class="TournamentsCard-detail">
        <div class="TournamentsCard-icon-block">
          <img
            class="TournamentsCard-icon team"
            lazyLoad="assets/icons/esports/ongoing/team.svg"
            alt="icon"
          />
        </div>
        <!-- <p class="TournamentsCard-text">Team • 3v3 • 28 Out 140 teams</p> -->

        <p
          class="TournamentsCard-text"
          *ngIf="params?.participantType == 'individual'"
        >
          <!-- Team • {{ item.batle }} • {{ item.players }} -->
          {{ params?.participantType }} • Solo •
          <span *ngIf="params?.approvedParticipants == ''">0</span>
          <span *ngIf="params?.approvedParticipants != ''">
            {{ params?.approvedParticipants }}</span
          >
          Out {{ params?.maxParticipants }} {{ "PLAY.ONGOING.PLAYER" | translate }}
        </p>
        <p
          class="TournamentsCard-text"
          *ngIf="params?.participantType != 'individual'"
        >
          <!-- Team • {{ item.batle }} • {{ item.players }} -->
          {{ params?.participantType }} • {{ params?.teamSize }}V{{
            params?.teamSize
          }}
          •
          <span *ngIf="params?.approvedParticipants == ''">0</span>
          <span *ngIf="params?.approvedParticipants != ''">
            {{ params?.approvedParticipants }}</span
          >
          Out {{ params?.maxParticipants }} teams
        </p>
      </li>
    </ul>
  </div>

  <footer class="TournamentsCard-footer">
    <div class="TournamentsCard-author">
      <div
        *ngIf="!params?.organizerDetail?.profilePicture"
        class="TournamentsCard-author-image"
        lazyLoad="assets/images/Tournament/sponsor.png"
      ></div>

      <div
        *ngIf="params?.organizerDetail?.profilePicture"
        class="TournamentsCard-author-image"
        [lazyLoad]="params?.organizerDetail?.profilePicture"
      ></div>

      <p class="TournamentsCard-author-name">
        By {{ params?.organizerDetail?.fullName }}
      </p>
    </div>

    <div class="TournamentsCard-game" *ngIf="params?.gameDetail?.logo">
      <img
        class="TournamentsCard-game-image"
        [lazyLoad]="params?.gameDetail?.logo"
        alt="icon"
      />
    </div>
  </footer>
</div>
