<div class="form-check" *ngIf="showRegCloseBtn">
  <label class="form-check-label switch-text-label">
    {{ "TOURNAMENT.CLOSE_REGISTRATION_HEADER" | translate }}
  </label>

  <label class="switch">
    <input
      class="form-check-input"
      type="checkbox"
      [checked]="isEnable"
      (change)="closeRegistration(!isEnable)"
      [disabled]="buttonDisabled"
    />
    <span class="slider round"></span>
  </label>
</div>
<div class="participantsCard" *ngIf="isLoaded">
  <ng-container [ngSwitch]="tournamentDetails?.participantType">
    <div *ngSwitchCase="'individual'">
      <div class="ArticleMainB-trending-footer" *ngIf="selectedList.length > 0">
        <button (click)="exportToCSV()" class="btn">
          {{ "PARTICIPANT_EXPORT.EXPORT" | translate }}
        </button>
      </div>

      <div class="title-tab-players global-H3"></div>

      <div class="sectionA" *ngIf="selectedList.length">
        <header class="sectionA-header">
          <h2 class="sectionA-title global-H3">
            {{ currentTab | pStatus | translate }}
          </h2>

          <p class="sectionA-subtitle">
            {{ selectedList.length }}
            {{
              tournamentDetails?.participantType
                | pType: selectedList?.length
                | translate
            }}
          </p>
        </header>

        <div class="sectionA-teams">
          <div
            class="sectionA-team"
            *ngFor="let team of selectedList"
            (click)="
              isOngoingOrCompletedTournament
                ? null
                : openModelOrUpdateTeam(updateParticipant, team)
            "
            [ngClass]="
              currentTab == 'approvedParticipants'
                ? 'approved-card'
                : 'reject-or-pending-card'
            "
          >
            <div class="sectionA-team-image-block">
              <img
                class="sectionA-team-image"
                [lazyLoad]="team?.logo || 'assets/images/Profile/avatar.png'"
                alt="team image"
              />
            </div>

            <div class="sectionA-team-info">
              <h3 class="sectionA-team-name global-Elipses global-H5">
                {{ team?.name || "N/A" }}
              </h3>

              <p class="sectionA-team-captain">
                {{ team?.inGamerUserId || "N/A" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'team'">
      <div class="ArticleMainB-trending-footer" *ngIf="selectedList.length > 0">
        <button (click)="exportToCSV()" class="btn">
          {{ "PARTICIPANT_EXPORT.EXPORT" | translate }}
        </button>
      </div>

      <!-- NEW STYLES SELECTED TEAM -->
      <header class="sectionA-header">
        <h2 class="sectionA-title global-H4">
          {{ currentTab | pStatus | translate }}
        </h2>
        <p class="sectionA-subtitle">
          {{ selectedList.length }}
          {{
            tournamentDetails?.participantType
              | pType: selectedList?.length
              | translate
          }}
        </p>
      </header>

      <div *ngIf="!selectedTeam" class="sectionA">
        <div class="sectionA-teams">
          <div
            class="sectionA-team"
            *ngFor="let team of selectedList"
            (click)="selectedTeam = team"
            [ngClass]="
              currentTab == 'approvedParticipants'
                ? 'approved-card'
                : 'reject-or-pending-card'
            "
          >
            <div class="sectionA-team-image-block">
              <img
                class="sectionA-team-image"
                [lazyLoad]="team?.logo || 'assets/images/Profile/avatar.png'"
                alt="team image"
              />
            </div>

            <div class="sectionA-team-info">
              <h3 class="sectionA-team-name global-Elipses global-H5">
                {{ team?.teamName || "N/A" }}
              </h3>

              <p class="sectionA-team-captain">
                {{ team?.inGamerUserId || "N/A" }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="selectedTeam" class="sectionС">
        <div class="sectionC-teams add-margin">
          <div
            class="sectionC-team"
            [ngClass]="
              currentTab == 'approvedParticipants'
                ? 'approved-card'
                : 'reject-or-pending-card'
            "
          >
            <div class="sectionC-team-image-block">
              <img
                class="sectionC-team-image"
                [lazyLoad]="selectedTeam?.logo"
                alt="team image"
              />
            </div>

            <div class="sectionC-team-info">
              <h3 class="sectionC-team-name global-Elipses global-H4">
                {{ selectedTeam.name || "N/A" }}
              </h3>

              <div class="sectionC-team-about">
                <span class="captain">
                  {{ "MANAGE_TOURNAMENT.PARTICIPANT.CAPTAIN" | translate }}
                </span>

                <span class="region">
                  {{ selectedTeam?.inGamerUserId || "N/A" }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="sectionC-teams add-margin">
          <div
            class="sectionC-team"
            *ngFor="let team of selectedTeam?.teamMembers"
            [ngClass]="
              currentTab == 'approvedParticipants'
                ? 'approved-card'
                : 'reject-or-pending-card'
            "
          >
            <div class="sectionC-team-image-block">
              <img
                class="sectionC-team-image"
                [lazyLoad]="'assets/images/Tournament/team_member.jpg'"
                alt="team image"
              />
            </div>

            <div class="sectionC-team-info">
              <h3 class="sectionC-team-name global-Elipses global-H4">
                {{ team.name || "N/A" }}
              </h3>

              <div class="sectionC-team-about">
                <span class="captain">{{ team?.inGamerUserId || "N/A" }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sectionC-teams add-margin">
          <div
            class="sectionC-team"
            *ngFor="let team of selectedTeam?.substituteMembers"
            [ngClass]="
              currentTab == 'approvedParticipants'
                ? 'approved-card'
                : 'reject-or-pending-card'
            "
          >
            <div class="sectionC-team-image-block">
              <img
                class="sectionC-team-image"
                [lazyLoad]="'assets/images/Tournament/substitute_member.jpg'"
                alt="team image"
              />
            </div>

            <div class="sectionC-team-info">
              <h3 class="sectionC-team-name global-Elipses global-H4">
                {{ team.name || "N/A" }}
              </h3>

              <div class="sectionC-team-about">
                <span class="captain">{{ team?.inGamerUserId || "N/A" }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="sectionC-buttons add-margin row">
          <div class="btn-align">
            <button class="btn" (click)="selectedTeam = null">
              {{ "BUTTON.BACK" | translate }}
            </button>

            <button
              class="btn"
              (click)="openModelOrUpdateTeam('edit', selectedTeam, false)"
            >
              {{ "BUTTON.EDIT" | translate }}
            </button>

            <button
              class="btn"
              (click)="openModelOrUpdateTeam('rejected', selectedTeam, false)"
              [hidden]="
                selectedTeam?.participantStatus == 'rejected' ||
                isOngoingOrCompletedTournament
              "
            >
              {{ "BUTTON.REJECT" | translate }}
            </button>

            <button
              class="btn"
              (click)="openModelOrUpdateTeam('approved', selectedTeam, false)"
              [hidden]="
                selectedTeam?.participantStatus == 'approved' ||
                isOngoingOrCompletedTournament
              "
            >
              {{ "BUTTON.APPROVE" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchDefault></div>
  </ng-container>

  <ng-container [ngSwitch]="currentTab">
    <p
      class="no-participant"
      [hidden]="selectedList?.length"
      *ngSwitchCase="'approvedParticipants'"
    >
      {{ "MANAGE_TOURNAMENT.PARTICIPANT.NO_APPROVED_PARTICIPANT" | translate }}
    </p>

    <p
      class="no-participant"
      [hidden]="selectedList?.length"
      *ngSwitchCase="'rejectedParticipants'"
    >
      {{ "MANAGE_TOURNAMENT.PARTICIPANT.NO_REJECTED_PARTICIPANT" | translate }}
    </p>

    <p
      class="no-participant"
      [hidden]="selectedList?.length"
      *ngSwitchCase="'pendingParticipants'"
    >
      {{ "MANAGE_TOURNAMENT.PARTICIPANT.NO_PENDING_PARTICIPANT" | translate }}
    </p>
  </ng-container>
</div>

<ng-template #updateParticipant let-modal>
  <div class="updateParticipant">
    <div class="modal-header">
      <ng-container [ngSwitch]="selectedParticipantStatus">
        <h4 class="modal-title global-H4" *ngSwitchCase="'approved'">
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.TITLE_01" | translate }}
        </h4>

        <h4 class="modal-title global-H4" *ngSwitchCase="'rejected'">
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.TITLE_02" | translate }}
        </h4>

        <h4 class="modal-title global-H4" *ngSwitchDefault>
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.TITLE_03" | translate }}
        </h4>
      </ng-container>

      <button class="close" aria-label="Close" (click)="modal.close('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <ng-container [ngSwitch]="selectedParticipantStatus">
        <p class="" *ngSwitchCase="'approved'">
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.BODY_01" | translate }}
        </p>

        <p class="" *ngSwitchCase="'rejected'">
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.BODY_02" | translate }}
        </p>

        <p class="" *ngSwitchDefault>
          {{ "MANAGE_TOURNAMENT.PARTICIPANT.POPUP_MODAL.BODY_03" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="modal-footer">
      <div class="btn-align">
        <button class="btn" (click)="modal.close('close')">
          {{ "BUTTON.CANCEL" | translate }}
        </button>

        <button class="btn" (click)="modal.close('edit')">
          {{ "BUTTON.EDIT" | translate }}
        </button>

        <button
          class="btn"
          (click)="modal.close('rejected')"
          [hidden]="selectedParticipantStatus == 'rejected'"
        >
          {{ "BUTTON.REJECT" | translate }}
        </button>

        <button
          (click)="modal.close('approved')"
          class="btn"
          [hidden]="selectedParticipantStatus == 'approved'"
        >
          {{ "BUTTON.APPROVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<app-loading *ngIf="!isLoaded"></app-loading>
