<div class="tournament-details-table">
  <section
    class="mt-2 text-left"
    *ngIf="sportDetail.length > 0 || isLoading == false"
  >
    <button class="stc-btnBuck" (click)="cancel()">
      <span class="material-icons">
        keyboard_arrow_left
      </span>
      {{ "BUTTON.BACK" | translate }}
    </button>
  </section>
  <ngx-datatable
    #table
    class="global-DataTableAdmin global-DataTable is-admin"
    [columnMode]="'flex'"
    [columns]="columnsFirstTab"
    [footerHeight]="'auto'"
    [headerHeight]="'auto'"
    [limit]="1"
    [rowHeight]="'auto'"
    [rows]="tournamentDetails"
  >
    <ngx-datatable-column
      [flexGrow]="2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TOURNAMENT_NAME' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["name"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGISTRATION' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["isPaid"] | registrationType }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.GAME' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ sportDetail[0].game?.name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TYPE' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["tournamentType"] | titlecase }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="3"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGION' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["regionsAllowed"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.START_DATE' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["startDate"] | date: "dd MMM yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.END_DATE' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["endDate"] | date: "dd MMM yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.PARTICIPANT' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["participants"].length }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<div
  class="row organizer-details"
  *ngIf="sportDetail && sportDetail.length > 0"
>
  <div class="col-sm-2 align-items-center d-flex justify-content-center">
    <img
      class="organizer-details-image"
      [src]="sportDetail[0].tournament?.organizerDetail?.profilePicture"
      alt=""
      *ngIf="sportDetail[0].tournament?.organizerDetail?.profilePicture"
    />
    <img
      class="organizer-details-image"
      [src]="'assets/images/Profile/stc_avatar.png'"
      alt=""
      *ngIf="!sportDetail[0].tournament?.organizerDetail?.profilePicture"
    />
  </div>
  <div class="col-sm-4 organizer-details-border organizer-details-detail">
    <ul>
      <li>
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.ORGANIZER_NAME"
              | translate
          }}
        </p>
        <span>{{ sportDetail[0].tournament?.organizerDetail?.fullName }}</span>
      </li>
      <li>
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.EMAIL_ADDRESS"
              | translate
          }}
        </p>
        <span>{{ sportDetail[0].tournament?.organizerDetail?.email }}</span>
      </li>
      <li>
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.MOBILE_NO" | translate
          }}
        </p>
        <span>{{
          sportDetail[0].tournament?.organizerDetail?.phoneNumber
        }}</span>
      </li>
    </ul>
  </div>
  <div
    class="col-sm-6 col-xs-12 organizer-details-border organizer-details-detail"
  >
    <ul>
      <li>
        <p>
          {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.STATUS" | translate }}
        </p>
        <span>{{ organizer.status }}</span>
      </li>
      <li
        *ngIf="sportDetail[0].tournament?.paymentType"
        class="organizer-details-paymentImage"
      >
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.PAYMENT_METHOD"
              | translate
          }}
        </p>
        <img
          src="assets/images/payment/paypal.png"
          *ngIf="sportDetail[0].tournament?.paymentType == 'paypal'"
        />
        <img
          src="assets/images/payment/stc_play.png"
          *ngIf="sportDetail[0].tournament?.paymentType == 'stcpay'"
        />
      </li>
    </ul>
  </div>
</div>

<esports-loading *ngIf="isLoading"></esports-loading>

<div>
  <h3 class="global-Title2">
    {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.WINNERS" | translate }}
  </h3>
</div>

<section>
  <div class="row winner">
    <div class="col-sm-4" *ngFor="let winner of sportDetail; let i = index">
      <div class="row winner-card">
        <div
          class="col-sm-4 winner-card-image align-items-center d-flex justify-content-center"
        >
          <img
            [src]="
              winner.winnerUser.profilePicture
                ? winner.winnerUser.profilePicture
                : 'assets/images/Profile/stc_avatar.png'
            "
            alt=""
          />
        </div>
        <div class="col-sm-8 winner-card-details">
          <ul>
            <li>
              <p>{{ winner.winnerUser.fullName }}</p>
              <app-prize-disbursal
                [winner]="winner"
                [tournamentId]="tournamentId"
                [sportDetail]="sportDetail"
                [index]="i"
              ></app-prize-disbursal>
            </li>

            <li>
              <p>
                {{
                  "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.RANK" | translate
                }}
                {{ winner.awardPosition }}
              </p>
            </li>

            <li class="winner-card-paymentImage">
              <p>{{ winner.awardAmount }}</p>
              <div>
                <img
                  [src]="
                    winner.winnerUser?.accountDetail?.paymentType == 'paypal'
                      ? 'assets/images/payment/paypal.png'
                      : 'assets/images/payment/stc_play.png'
                  "
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #openModel let-modal class="temp">
  <div class="modal-header">
    <button class="close" (click)="modal.dismiss(); isTransRequired = false">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <div class="pl-5 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-4">
          <h4>
            {{
              "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.DISBURSE_MODEL_LABEL"
                | translate
            }}
          </h4>
        </div>
      </div>

      <div class="row mt-2 ml-3 pl-2 mr-5">
        <span class="description-text">
          <span>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="transactionValue"
            />
          </span>
        </span>
      </div>

      <div *ngIf="isTransRequired" class="d-flex flex-column ml-4">
        {{
          "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.TRANSACTION_ISREQ"
            | translate
        }}
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="global-EditBtn dark-text"
      (click)="update()"
      name="button"
      data-dismiss="modal"
    >
      {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.SUBMIT" | translate }}
    </button>
  </div>
</ng-template>
