@import "shared";

.carousel-row {
  carousel {
    display: block;
    margin-top: 25px;

    h4 {
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0;
      color: var(--base-black-pearl);
    }

    slide {
      height: 60px;
    }

    .text-center {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--base-black);
      border-radius: 5px;
      background: var(--base-white) !important;
      height: 100%;
    }
  }

  .carousel-control {
    border-radius: 5px;
    border: 0 !important;
    width: 60px !important;

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      background: url("../../../../../assets/icons/arrow.svg");
      background-size: contain;
      background-position: center;
    }

    .carousel-control-prev-icon {
      transform: rotate(180deg);
    }
  }

  div.item {
    height: 100%;
  }
}

.loading {
  margin-top: px2vw-xl(50px);
  
  @include lg {
    margin-top: px2vw-lg(50px);
  }

  @include md {
    margin-top: px2vw-md(50px);
  }

  @include sm {
    margin-top: px2vw-sm(50px);
  }
}
