.preview-banner {
  margin-top: 3rem;

  h4 {
    font-size: 1.2rem;
    margin-top: 0.1em;
  }

  h6 {
    margin-bottom: 1rem;
  }

  .text-color {
    color: var(--base-white);
  }
}

.preview-banner {
  margin-top: 0;

  .row {
    > .col-4 {
      padding-right: 64px;
      padding-left: 8px;

      div {
        height: 235px;
        background-size: cover !important;
        background-position: center !important;
        border-radius: 5px;
        box-shadow: 4px 4px 6px var(--base-black);
      }
    }

    > .col-8 {
      padding: 0 8px;
      position: relative;
      padding-top: 13px;

      span {
        position: absolute;
        right: 0;
        top: 0;
        font-family: "stc-forward-light", sans-serif !important;
        font-size: 20px;
        line-height: 31px;
      }

      h3 {
        margin-bottom: 11px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 40px;
        line-height: 47px;
      }

      h6 {
        margin-bottom: 32px;
        font-family: "stc-forward-light", sans-serif !important;
        font-size: 18px;
        line-height: 30px;
      }

      .text-color {
        margin-bottom: 16px;
        font-family: "stc-forward-light", sans-serif !important;
        font-size: 16px;
        line-height: 26px;
        color: var(--ui-nobel);
      }

      h4 {
        margin: 0;
        font-size: 18px;
        line-height: normal;
        font-family: "stc-forward-light" !important;
      }
    }

    .col-game {
      margin-right: 58px;
      max-width: 120px;
    }

    .col-checkIn {
      margin-right: 66px;
      max-width: 150px;
    }

    .col-when {
      margin-right: 44px;
      max-width: 225px;
    }
  }
}

@media (max-width: 767px) {
  .preview-banner {
    > .row {
      position: relative;

      > .col-4 {
        position: absolute;
        padding: 0;
        top: 84px;
        flex: 0 0 40%;
        max-width: 40%;

        div {
          height: 110px;
        }
      }

      > .col-8 {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;

        span {
          font-size: 12px;
          line-height: normal;
        }

        h3 {
          font-size: 40px;
          line-height: normal;
          margin-bottom: 0;
        }

        h6 {
          font-size: 15px;
          line-height: normal;
          margin-bottom: 20px;
        }

        > .row:last-child {
          flex-direction: column;
          width: 55%;
          margin-left: auto;

          .col-game,
          .col-checkIn,
          .col-when {
            margin-right: 0;
            max-width: 100%;
            margin-bottom: 25px;

            .text-color {
              font-size: 14px;
              line-height: normal;
              margin-bottom: 0;
            }
          }

          .col-type {
            position: absolute;
            left: 0;
            bottom: 20px;

            .text-color {
              font-size: 14px;
              line-height: normal;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .preview-banner {
    > .row {
      position: relative;

      > .col-4 {
        position: absolute;
        padding: 0;
        max-width: 40%;
        top: 84px;
        flex: 0 0 40%;

        div {
          height: 110px;
        }
      }

      > .col-8 {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0;

        span {
          font-size: 12px;
          line-height: normal;
        }

        h3 {
          margin-bottom: 0;
          font-size: 40px;
          line-height: normal;
        }

        h6 {
          margin-bottom: 20px;
          font-size: 15px;
          line-height: normal;
        }

        > .row:last-child {
          flex-direction: column;
          margin-left: auto;
          width: 55%;
          
          .col-game,
          .col-checkIn,
          .col-when {
            margin-right: 0;
            max-width: 100%;
            margin-bottom: 25px;

            .text-color {
              font-size: 14px;
              line-height: normal;
              margin-bottom: 0;
            }
          }

          .col-type {
            position: absolute;
            left: 0;
            bottom: 25px;

            .text-color {
              font-size: 14px;
              line-height: normal;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .preview-banner {
    .row {
      > .col-4 {
        flex: 0 0 30%;
        max-width: 30%;
        padding-right: 40px;

        div {
          height: 230px;
        }
      }

      .col-8 {
        flex: 0 0 70%;
        max-width: 70%;

        span {
          font-size: 16px;
          line-height: normal;
        }

        .col-game {
          margin-right: 40px;
          max-width: 120px;
        }

        .col-checkIn {
          margin-right: 40px;
          max-width: 190px;
        }

        .col-when {
          margin-right: 40px;
          max-width: 200px;
        }
      }
    }
  }
}
