<div class="Preferences">
  <h3 class="Preferences-title">
    {{ "ACCOUNT_SETTINGS.PREFERENCES.TITLE" | translate }}
  </h3>
  <div class="Photo-fields-item-country country">
    <mat-form-field class="global-MatField" appearance="outline">
      <mat-label>
        {{
        "drop.Prefer"| translate
        }}
      </mat-label>
      <mat-select >
          <mat-option value="Profile">{{"dropdown.profile"|translate}}</mat-option>
          <mat-option value="Profile">{{"dropdown.Linked_Account"|translate}}</mat-option>
          <mat-option value="Profile">{{"dropdown.Preferences"|translate}}</mat-option>
          <mat-option value="Profile">{{"dropdown.Credentials"|translate}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <p class="Preferences-subtitle">
    {{ "ACCOUNT_SETTINGS.PREFERENCES.SUBTITLE" | translate }}
  </p>

  <div class="Preferences-cards">
    <mat-tab-group
      class="global-SecondTabs"
      mat-align-tabs="left"
      animationDuration="0ms"
      (selectedIndexChange)="onSelectedIndexChange($event)"
    >
      <mat-tab
        [label]="'ACCOUNT_SETTINGS.PREFERENCES.LABELS.GAMES' | translate"
      >
        <div class="Preferences-games-block">
          <div class="Preferences-search" *ngIf="games.length ;let i=index">
            <mat-icon class="Preferences-search-icon"> search </mat-icon>
            <input
              class="Preferences-search-input"
              [(ngModel)]="searchGame"
              [placeholder]="
                'ACCOUNT_SETTINGS.PREFERENCES.PLACEHOLDER' | translate
              "
              type="text"
            />
          </div>

          <div class="Preferences-cards-list card-list-games" *ngIf="games.length;let p=index"  #itemGames>
            <ng-container *ngFor="let game of filteredGames()">
              <app-card-item [data]="game" [isImage]="true" [index]="p" (onItemSelect)="onGameItemSelect($event)"></app-card-item>
            </ng-container>
          </div>
        </div>
      </mat-tab>

      <mat-tab
        [label]="'ACCOUNT_SETTINGS.PREFERENCES.LABELS.PLATFORMS' | translate"
      >
        <div class="Preferences-cards-list card-list-platforms"  *ngIf="platforms.length" >
          <ng-container *ngFor="let platform of platforms;let i=index">
            <app-card-item [data]="platform"  [isName]="true"  [isIcon]="true" [index]="i" (onItemSelect)="onPlatformItemSelect($event)">
            </app-card-item>
          </ng-container>
        </div>
      </mat-tab>

      <mat-tab
        [label]="'ACCOUNT_SETTINGS.PREFERENCES.LABELS.CONTENT' | translate"
      >
        <div class="Preferences-cards-list card-list-content" *ngIf="content.length">
          <ng-container *ngFor="let item of content;let i=index">
            <app-card-item [data]="item"  [isContent]="true" [isName]="true" [isImage]="false" [isSvg]="true" [index]="i" (onItemSelect)="onContentItemSelect($event)">
            </app-card-item>
          </ng-container>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="Preferences-manage">
    <button class="Preferences-manage-button button-secondary" type="reset" (click)="cancelButton()" >
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button class="Preferences-manage-button button-secondary" (click)="onSubmit()">
      {{ "BUTTON.SAVE_CHANGES" | translate }}
    </button>
  </div>
</div>
