<section class="SearchArticle u-wp">
  <div class="row">
    <div class="col-md-12">
      <div class="SearchArticle-count">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="SearchArticle-title">
        {{ "SEARCH.PAGE_SECTION.SHOP" | translate }}
      </h3>
      <div class="SearchArticle-list">
        <div *ngFor="let shop of (homeService.searchedShop | async)?.docs" class="shops">
          <div class="shop-card-content" (click)="redirectToupOrVoucher(shop?.type,shop?._id)">
            <app-shop-card [shop]="shop"></app-shop-card>
          </div>
        </div>
        <p *ngIf="(homeService.searchedShop | async)?.docs ==0" class="SearchArticle-message">
          {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
