@import "shared";

:host {
  display: block;
}

.SocialShare {
  border-radius: 2px;
  width: 480px;
  padding: 48px 48px 40px;
  background-color: var(--color-midnight-express);

  @include xl {
    border-radius: px2vw-xl(2px);
    width: px2vw-xl(480px);
    padding: px2vw-xl(48px) px2vw-xl(48px) px2vw-xl(40px);
  }

  @include lg {
    border-radius: px2vw-lg(2px);
    width: px2vw-lg(480px);
    padding: px2vw-lg(48px) px2vw-lg(48px) px2vw-lg(40px);
  }

  @include md {
    border-radius: px2vw-md(2px);
    width: px2vw-md(480px);
    padding: px2vw-md(48px) px2vw-md(48px) px2vw-md(40px);
  }

  @include sm {
    border-radius: px2vw-sm(2px);
    width: px2vw-sm(480px);
    padding: px2vw-sm(48px) px2vw-sm(48px) px2vw-sm(40px);
  }

  &-title {
    @extend %global-H5;
    margin-bottom: 32px;

    @include xl {
      margin-bottom: px2vw-xl(32px);
    }

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 20px;

    @include xl {
      grid-column-gap: px2vw-xl(32px);
      grid-row-gap: px2vw-xl(20px);
    }

    @include lg {
      grid-column-gap: px2vw-lg(32px);
      grid-row-gap: px2vw-lg(20px);
    }

    @include md {
      grid-column-gap: px2vw-md(32px);
      grid-row-gap: px2vw-md(20px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(32px);
      grid-row-gap: px2vw-sm(20px);
    }
  }

  &-link {
    text-align: center;
    transition: $global-transition2;

    &:hover {
      opacity: 0.8;
    }
  }

  &-link-icon {
    height: 72px;
    width: 72px;

    @include xl {
      height: px2vw-xl(72px);
      width: px2vw-xl(72px);
    }

    @include lg {
      height: px2vw-lg(72px);
      width: px2vw-lg(72px);
    }

    @include md {
      height: px2vw-md(72px);
      width: px2vw-md(72px);
    }

    @include sm {
      height: px2vw-sm(72px);
      width: px2vw-sm(72px);
    }
  }

  &-link-text {
    @extend %subtitle-2;
    margin-top: 4px;
    margin-bottom: 0;
    color: var(--white-medium);

    @include xl {
      margin-top: px2vw-xl(4px);
    }

    @include lg {
      margin-top: px2vw-lg(4px);
    }

    @include md {
      margin-top: px2vw-md(4px);
    }

    @include sm {
      margin-top: px2vw-sm(4px);
    }
  }

  &-copy {
    margin-top: 32px;

    @include xl {
      margin-top: px2vw-xl(32px);
    }

    @include lg {
      margin-top: px2vw-lg(32px);
    }

    @include md {
      margin-top: px2vw-md(32px);
    }

    @include sm {
      margin-top: px2vw-sm(32px);
    }
  }

  &-copy-title {
    @extend %subtitle-1;
    margin-bottom: 12px;

    @include xl {
      margin-bottom: px2vw-xl(12px);
    }

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-copy-block {
    @extend %u-dfCenterBtw;
    border-radius: 4px;
    padding: 16px;
    background-color: var(--color-tolopea);

    @include xl {
      border-radius: px2vw-xl(4px);
      padding: px2vw-xl(16px);
    }

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-copy-link {
    @extend %body-1;
    margin-bottom: 0;
    user-select: none;
  }

  &-copy-button {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-left: 16px;
    height: 24px;
    width: 24px;
    background-color: transparent;

    @include xl {
      margin-left: px2vw-xl(16px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
    }

    @include lg {
      margin-left: px2vw-lg(16px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-left: px2vw-md(16px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
    }

    ::ng-deep svg {
      height: 16px;
      width: 13px;
      cursor: pointer;

      @include xl {
        height: px2vw-xl(16px);
        width: px2vw-xl(13px);
      }

      @include lg {
        height: px2vw-lg(16px);
        width: px2vw-lg(13px);
      }

      @include md {
        height: px2vw-md(16px);
        width: px2vw-md(13px);
      }

      @include sm {
        height: px2vw-sm(16px);
        width: px2vw-sm(13px);
      }

      path {
        transition: $global-transition2;
      }
    }

    &:hover ::ng-deep svg path {
      fill: var(--color-primary);
    }
  }
}
