@import "shared";
.heading {
  padding: 18px 0;

  @include xl {
    padding: px2vw-xl(18px) px2vw-xl(0px);
  }

  @include lg {
    padding: px2vw-lg(18px) px2vw-lg(0px);
  }

  @include md {
    padding: px2vw-md(18px) px2vw-md(0px);
  }

  @include sm {
    padding: px2vw-sm(18px) px2vw-sm(0px);
  }

  .box-info {
    .user-name {
      margin: 0 auto;
      .text {
        font-family: "Archivo";
        font-weight: bold;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--white-high);
        letter-spacing: 0.15px;

        @include xl {
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
        }

        @include lg {
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }

        p {
          color: var(--white-medium);
          display: inline;
        }
      }
    }
    .time-online-and-action {
      font-family: "redhat-regular";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white-medium);

      @include xl {
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
      }

      @include lg {
        font-size: px2vw-lg(14px);
        line-height: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(14px);
        line-height: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);
      }
    }
    .btn-open-action {
      float: right;
    }
  }
  .box-avatar {
    margin-right: 12px;
    @include xl {
      margin-right: px2vw-xl(12px);
    }

    @include lg {
      margin-right: px2vw-lg(12px);
    }

    @include md {
      margin-right: px2vw-md(12px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
    }
    img {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;

      @include lg {
        width: px2vw-lg(40px);
        height: px2vw-lg(40px);
      }

      @include md {
        width: px2vw-md(40px);
        height: px2vw-md(40px);
      }

      @include sm {
        width: px2vw-sm(40px);
        height: px2vw-sm(40px);
      }
    }
  }
}
.contents {
  .box-contents-post {
    .wap-text-status {
      a {
        font-size: 14px;

        @include xl {
          font-size: px2vw-xl(14px);
        }

        @include lg {
          font-size: px2vw-lg(14px);
        }

        @include md {
          font-size: px2vw-md(14px);
        }

        @include sm {
          font-size: px2vw-sm(14px);
        }
      }
    }
  }
}
.heading {
  border-bottom: none;
  .box-info__comment {
    position: relative;
    background-color: var(--color-background);
    border-radius: 19px 19px;
    border: 1px solid var(--white-light);

    @include xl {
      border-radius: px2vw-xl(19px) px2vw-xl(19px);
      border-width: px2vw-xl(1px);
    }

    @include lg {
      border-radius: px2vw-lg(19px) px2vw-lg(19px);
      border-width: px2vw-lg(1px);
    }

    @include md {
      border-radius: px2vw-md(19px) px2vw-md(19px);
      border-width: px2vw-md(1px);
    }

    @include sm {
      border-radius: px2vw-sm(19px) px2vw-sm(19px);
      border-width: px2vw-sm(1px);
    }
    .input-comment {
      display: flex;
      .comment-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 1em;
        margin-right: 16px;
        top: 25%;
        right: 0;

        @include xl {
          margin-right: px2vw-xl(16px);
        }

        @include lg {
          margin-right: px2vw-lg(16px);
        }

        @include md {
          margin-right: px2vw-md(16px);
        }

        @include sm {
          margin-right: px2vw-sm(16px);
        }
        .icon_images {
          cursor: pointer;
        }
      }
    }
    .image-posts {
      width: 15em;
      height: 10em;
      margin: 5px 0 5px 20px;
      @include xl {
        margin: px2vw-xl(5px) px2vw-xl(0px) px2vw-xl(5px) px2vw-xl(20px);
      }

      @include lg {
        margin: px2vw-lg(5px) px2vw-lg(0px) px2vw-lg(5px) px2vw-lg(20px);
      }

      @include md {
        margin: px2vw-md(5px) px2vw-md(0px) px2vw-md(5px) px2vw-md(20px);
      }

      @include sm {
        margin: px2vw-sm(5px) px2vw-sm(0px) px2vw-sm(5px) px2vw-sm(20px);
        width: 10em;
        height: 8em;
      }
      .image-wrapper {
        position: relative;
        height: inherit;
      }
      .img-close.close-image {
        position: absolute;
        top: 4px;
        background: var(--black-disabled);
        border-radius: 4px;
        cursor: pointer;
        width: 24px;
        text-align: center;
        height: 24px;
        right: 4px;
        z-index: 999;

        @include xl {
          top: px2vw-xl(4px);
          right: px2vw-xl(4px);
          border-radius: px2vw-xl(4px);
          width: px2vw-xl(24px);
          height: px2vw-xl(24px);
        }

        @include lg {
          top: px2vw-lg(4px);
          right: px2vw-lg(4px);
          border-radius: px2vw-lg(4px);
          width: px2vw-lg(24px);
          height: px2vw-lg(24px);
        }

        @include md {
          top: px2vw-md(4px);
          right: px2vw-md(4px);
          border-radius: px2vw-md(4px);
          width: px2vw-md(24px);
          height: px2vw-md(24px);
        }

        @include sm {
          top: px2vw-sm(4px);
          right: px2vw-sm(4px);
          border-radius: px2vw-sm(4px);
          width: px2vw-sm(24px);
          height: px2vw-sm(24px);
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 0 auto;
  padding: 16px 0;

  @include xl {
    padding: px2vw-xl(16px) px2vw-xl(0px);
  }

  @include lg {
    padding: px2vw-lg(16px) px2vw-lg(0px);
  }

  @include md {
    padding: px2vw-md(16px) px2vw-md(0px);
  }

  @include sm {
    padding: px2vw-sm(16px) px2vw-sm(0px);
  }
  .box-post-avatar {
    margin: 0 16px;

    @include xl {
      padding: px2vw-xl(0px) px2vw-xl(16px);
    }

    @include lg {
      padding: px2vw-lg(0px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(0px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(0px) px2vw-sm(16px);
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 100px;
      object-fit: cover;

      @include xl {
        width: px2vw-xl(40px);
        height: px2vw-xl(40px);
        border-radius: px2vw-xl(100px);
      }

      @include lg {
        width: px2vw-lg(40px);
        height: px2vw-lg(40px);
        border-radius: px2vw-lg(100px);
      }

      @include md {
        width: px2vw-md(40px);
        height: px2vw-md(40px);
        border-radius: px2vw-md(100px);
      }

      @include sm {
        width: px2vw-sm(40px);
        height: px2vw-sm(40px);
        border-radius: px2vw-sm(100px);
      }
    }
  }
  .box-info {
    width: 100%;
    .name {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      .text {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: var(--white-high);
        letter-spacing: 0.2px;

        @include xl {
          font-size: px2vw-xl(18px);
          line-height: px2vw-xl(24px);
        }

        @include lg {
          font-size: px2vw-lg(18px);
          line-height: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(18px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(18px);
          line-height: px2vw-sm(24px);
        }
        a {
          font-weight: 550;
        }
        p {
          display: inline;
          font-size: 16px;
          font-weight: 700;
          line-height: 18px;
          margin-left: 5px;
          color: var(--white-medium);

          @include xl {
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(18px);
            margin-left: px2vw-xl(5px);
          }

          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(18px);
            margin-left: px2vw-lg(5px);
          }

          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(18px);
            margin-left: px2vw-md(5px);
          }

          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(18px);
            margin-left: px2vw-sm(5px);
          }
          span {
            font-weight: 400;
          }
        }
      }
      .btn-open-action {
        padding: 0;
      }
    }
    .input-post {
      background-color: var(--color-background);
      padding: 8px 16px;
      position: static;
      width: 624px;
      height: 43px;
      background: var(--color-background);
      border: 1px solid var(--white-light);
      box-sizing: border-box;
      border-radius: 20px;
      flex: none;
      order: 1;
      flex-grow: 0;
      font-size: 16px;
      font-style: normal !important;
      font-weight: normal !important;
      line-height: 24px !important;
      font-family: "redhat-regular";

      @include xl {
        padding: px2vw-xl(8px) px2vw-xl(16px);
        width: px2vw-xl(624px);
        height: px2vw-xl(43px);
        border-width: px2vw-xl(1px);
        border-radius: px2vw-xl(20px);
        line-height: px2vw-xl(24px) !important;
      }

      @include lg {
        padding: px2vw-lg(8px) px2vw-lg(16px);
        width: px2vw-lg(624px);
        height: px2vw-lg(43px);
        border-width: px2vw-lg(1px);
        border-radius: px2vw-lg(20px);
        line-height: px2vw-lg(24px) !important;
      }

      @include md {
        padding: px2vw-md(8px) px2vw-md(16px);
        width: px2vw-md(624px);
        height: px2vw-md(43px);
        border-width: px2vw-md(1px);
        border-radius: px2vw-md(20px);
        line-height: px2vw-md(24px) !important;
      }

      @include sm {
        padding: px2vw-sm(8px) px2vw-sm(16px);
        width: px2vw-sm(624px);
        height: px2vw-sm(43px);
        border-width: px2vw-sm(1px);
        border-radius: px2vw-sm(20px);
        line-height: px2vw-sm(24px) !important;
      }
    }
    .input-post::placeholder {
      color: var(--white-medium) !important;
    }
    .icon_images {
      float: right;
      z-index: 2;
      width: 16px;
      height: auto;
      @include xl {
        width: px2vw-xl(16px);
      }

      @include lg {
        width: px2vw-lg(16px);
      }

      @include md {
        width: px2vw-md(16px);
      }

      @include sm {
        width: px2vw-sm(16px);
      }
      img {
        cursor: pointer;
        width: 100%;
      }
    }
  }
  .time-online-and-action {
    display: block;
    line-height: 1;
    margin-top: 2px;

    @include xl {
      margin-top: px2vw-xl(2px);
    }

    @include lg {
      margin-top: px2vw-lg(2px);
    }

    @include md {
      margin-top: px2vw-md(2px);
    }

    @include sm {
      margin-top: px2vw-sm(2px);
    }
    .text {
      font-family: "redhat-regular";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: var(--white-medium);

      @include xl {
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
      }

      @include lg {
        font-size: px2vw-lg(14px);
        line-height: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(14px);
        line-height: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);
      }
    }
    .icon {
      margin-left: 8px;

      @include xl {
        margin-left: px2vw-xl(8px);
      }

      @include lg {
        margin-left: px2vw-lg(8px);
      }

      @include md {
        margin-left: px2vw-md(8px);
      }

      @include sm {
        margin-left: px2vw-sm(8px);
      }
    }
  }
}
.input-add-comment {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  font-size: 1em;
  height: 40px;
  color: aliceblue !important;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;

  @include xl {
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    height: px2vw-xl(40px);
    border-radius: px2vw-xl(20px);
    padding: px2vw-xl(8px) px2vw-xl(16px);
  }

  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(24px);
    height: px2vw-lg(40px);
    border-radius: px2vw-lg(20px);
    padding: px2vw-lg(8px) px2vw-lg(16px);
  }

  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(24px);
    height: px2vw-md(40px);
    border-radius: px2vw-md(20px);
    padding: px2vw-md(8px) px2vw-md(16px);
  }

  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(24px);
    height: px2vw-sm(40px);
    border-radius: px2vw-sm(20px);
    padding: px2vw-sm(8px) px2vw-sm(16px);
  }
}

textarea {
  outline: none;
  resize: none;
}
textarea::placeholder {
  margin: auto;
}
textarea::-webkit-scrollbar {
  display: none;
}

.file {
  display: none;
}
.emoji-wraper {
  position: absolute;
  top: 52px;
  right: 0;
  z-index: 1111;

  @include xl {
    top: px2vw-xl(52px);
  }

  @include lg {
    top: px2vw-lg(52px);
  }

  @include md {
    top: px2vw-md(52px);
  }

  @include sm {
    top: px2vw-sm(52px);
  }
}
.emoji-mart-dark {
  background-color: var(--gradient-bg);
}
