#register-section {
  background: var(--login-bg-image);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3em 0;
  width: 100%;
  min-height: 100vh;
  color: var(--base-white);
  font-family: "stc-forward-regular";
}

.logo {
  width: 22%;
}

.resend {
  color: var(--ui-venetian-red) !important;
}

.error {
  float: left;
}

.width-100 {
  width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 11px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  left: 0;
}

.register-row {
  width: 65%;
  margin: 0 auto;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  top: 10px;
  background-color: var(--base-black-pearl);
  left: 9px;
  padding: 0 3px;
  font-size: 1em;
}

.usericon {
  position: absolute;
  top: 11px;
  right: 8px;
  color: var(--base-white);
}

.form-control {
  opacity: 0.6;
  border-color: var(--base-black-pearl);
  border-radius: 6px;
  background: transparent;
  color: var(--base-white);
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.form-control:focus + .user-color {
  color: var(--ui-venetian-red);
}

.form-control:focus + .mail {
  display: none;
}

.link-img {
  padding: 0 0.9rem;

  img {
    width: 30px;
  }
}

.col6 {
  margin-top: 3rem;
}

.regis-red-color {
  font-family: "stc-forward-large";
  color: var(--ui-venetian-red);
}

.wel-text {
  padding-bottom: 1.5rem;
  font-family: "stc-forward-semibold";
  font-style: normal;
}

.wel-text1 {
  padding-bottom: 1.5rem;
  font-style: normal;
}

.red-color {
  color: var(--ui-venetian-red);
}

.mr-top {
  margin-top: 2rem;
}

// progress step css
.progress-step-main-div {
  display: flex;
  flex-wrap: nowrap;
  margin: 2rem 0;

  .prog-main-inner-div {
    margin: 0 auto;
    position: relative;
    width: 100%;
    text-align: center;
  }

  .prog-tittle {
    color: var(--base-white-smoke);
    margin: 0.5em;
    font-family: "stc-forward-light";
  }

  .active-font {
    font-family: "stc-forward-medium";
  }

  .prog-outer-div {
    border-radius: 50%;
    left: 42%;
    position: relative;
    border: 0;
    background: var(--base-black-pearl);
    height: 15px;
    width: 15px;
    z-index: 1;
  }

  .active-outer-div {
    border: 2px solid var(--ui-venetian-red) !important;
  }

  .prog-inner-div {
    position: relative;
    border-radius: 50%;
    background: var(--base-black-pearl);
    top: 27%;
    left: 27%;
    height: 5px;
    width: 5px;
  }

  .active-inner-div {
    background-color: var(--ui-venetian-red) !important;
  }

  .prog-inner-active-icon {
    font-size: 12px;
    background: var(--ui-venetian-red);
    height: 11px;
    width: 11px;
    position: relative;

    .fa {
      font-size: 10px;
    }
  }

  .prog-right-border {
    position: relative;
    top: -14%;
    left: 52%;
    border: 1px solid var(--base-black-pearl);
    width: 100%;
  }

  .active-border-right {
    border: 1px solid var(--ui-venetian-red) !important;
  }
}

// progress step css end

.second-form {
  input {
    margin-right: 25px;
    border: 1px solid var(--base-white);
    border-radius: 5px;
    width: 45px;
    height: 45px;
    background: transparent;
    text-align: center;
    padding: 0;
    color: var(--base-white);

    &:last-child {
      margin-right: 0;
    }
  }
}

.padd-congr {
  padding: 3rem;
}

.home-btn-right {
  margin-right: 3rem;
}

.div-keep-me {
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  #register-section {
    padding: 1.9em 0;
  }

  .btn {
    width: auto;
  }

  .col6 {
    margin-top: 3rem;
  }

  .register-row {
    width: 100%;
  }

  #statusOrder .track {
    margin-bottom: 45px;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  #register-section {
    background-size: cover;
    padding: 1em 0;
    background-position: right;
  }

  .logo {
    width: 30%;
  }
}

@media (max-width: 390px) {
  .prog-tittle {
    font-size: 10px;
  }

  .form-group > label {
    font-size: 0.9em;
  }
}

@media (max-width: 320px) {
  .float-left,
  .float-right {
    font-size: 12px;
  }

  .form-group p {
    font-size: 12px;
  }
}
