#register-section {
  background: var(--login-bg-image);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3em 0;
  width: 100%;
  min-height: 100vh;
  color: var(--base-white);
  font-family: "stc-forward-regular";
}

.logo {
  width: 22%;
}

.resend {
  color: var(--ui-venetian-red) !important;
}

.error {
  float: left;
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.width-100 {
  width: 100%;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 11px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  left: 0;
}

.register-row {
  width: 65%;
  margin: 0 auto;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  top: 10px;
  left: 9px;
  background-color: var(--base-black-pearl);
  padding: 0 3px;
  font-size: 1em;
}

.usericon {
  position: absolute;
  top: 11px;
  right: 8px;
  color: var(--base-white);
}

.form-control {
  border-radius: 6px;
  border-color: var(---base-black-pearl);
  background: transparent;
  color: var(--base-white);
  opacity: 0.6;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.form-control:focus + .user-color {
  color: var(--ui-venetian-red) !important;
}

.form-control:focus + .mail {
  display: none;
}

.link-img {
  padding: 0 0.9rem;

  img {
    width: 30px;
  }
}

.col6 {
  margin-top: 3rem;
}

.regis-red-color {
  font-family: "stc-forward-large";
  color: var(--ui-venetian-red);
}

.wel-text {
  padding-bottom: 1.5rem;
  font-family: "stc-forward-semibold";
  font-style: normal;
}

.wel-text1 {
  padding-bottom: 1.5rem;
  font-family: "stc-forward-semibold";
  font-style: normal;
}

.red-color {
  color: var(--ui-venetian-red);
}

.mr-top {
  margin-top: 2rem;
}

.padd-congr {
  padding: 3rem;
}

.home-btn-right {
  margin-right: 3rem;
}

.div-keep-me {
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  #register-section {
    padding: 1.9em 0;
  }

  .btn {
    width: auto;
  }

  .col6 {
    margin-top: 0;
  }

  .register-row {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #register-section {
    background-size: cover;
    padding: 1em 0;
    background-position: right;
  }

  .logo {
    width: 30%;
  }
}

@media (max-width: 320px) {
  .float-left,
  .float-right {
    font-size: 12px;
  }

  .form-group p {
    font-size: 12px;
  }
}

.second-form {
  input {
    margin-right: 25px;
    border: 1px solid var(--base-white);
    border-radius: 5px;
    height: 45px;
    width: 45px;
    padding: 0;
    background: transparent;
    text-align: center;
    color: var(--base-white);

    &:last-child {
      margin-right: 0;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }

    &:focus,
    &.focus {
      border-color: var(--base-white);
      outline: none;
      box-shadow: none;
    }
  }
}
