<div class="TournamentDetails">
  <div class="TournamentDetails-container u-wp">
    <header class="TournamentDetails-header">
      <h1 class="TournamentDetails-header-title global-Elipses">
        {{ "CREATE_TOURNAMENT.DETAILS.TITLE" | translate }}
      </h1>

      <button class="TournamentDetails-header-button button-primary" (click)="showCreatedPopup()">
        {{ "BUTTON.PUBLISH_TOURNAMENT" | translate }}
      </button>
    </header>

    <main class="TournamentDetails-main">
      <section class="TournamentDetails-form">
        <mat-accordion>
          <!-- OVERVEW -->
          <mat-expansion-panel *ngFor="let item of [0]; first as isFirst" [expanded]="isFirst">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ "CREATE_TOURNAMENT.DETAILS.ITEMS.OVERVIEW" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <WYSIWYG-editor [(ngModel)]="description" [config]="editorConfig">
            </WYSIWYG-editor>
          </mat-expansion-panel>

          <!-- BRACKET PREVIEW -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{
                "CREATE_TOURNAMENT.DETAILS.ITEMS.BRACKET_PREVIEW" | translate
                }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="TournamentDetails-brackets">
              <div class="row">
                <div class="col-lg-5">
                  <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
                    <mat-label> End Date </mat-label>
                    <input matInput type="text" [(ngModel)]="date1" [min]="minDate" (ngModelChange)="onDateChange()"
                      [matDatepicker]="picker" />
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  </mat-form-field>
                </div>
                <div class="col-lg-5">
                  <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
                    <mat-label> End Time </mat-label>
                    <input matInput [(ngModel)]="time1" [ngxTimepicker]="fullTime" (ngModelChange)="datefun1()" />
                    <ngx-material-timepicker #fullTime [timepickerClass]="'PaidiaTimeTheme'"></ngx-material-timepicker>
                    <mat-datepicker-toggle matSuffix [for]="fullTime">
                      <mat-icon matDatepickerToggleIcon>schedule</mat-icon>
                    </mat-datepicker-toggle>
                  </mat-form-field>
                </div>
              </div>
              <app-bracket-tree [structure]="structure"></app-bracket-tree>
            </div>
          </mat-expansion-panel>

          <!-- TOURNAMENT SETTINGS -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{
                "CREATE_TOURNAMENT.DETAILS.ITEMS.TOURNAMENT_SETTINGS"
                | translate
                }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="TournamentDetails-settings">
              <div class="TournamentDetails-settings-manage">
                <div class="TournamentDetails-settings-switchers">
                  <!-- SCREENSHOT REQUIRED -->
                  <app-toggle-switch [customFormControlName]="'isScreenshotRequired'" [title]="
                      'CREATE_TOURNAMENT.SETTINGS.SWITCHERS.SCREENSHOT'
                        | translate
                    " [toolTipMessage]="
                      'CREATE_TOURNAMENT.SETTINGS.SWITCHERS.TOOLTIP' | translate
                    " [select]="false" (valueEmit)="getNotification($event)"></app-toggle-switch>

                  <!-- SHOW COUNTRY FLAGS -->
                  <!-- <app-toggle-switch [customFormControlName]="'isCountryFlags'" [title]="
                      'CREATE_TOURNAMENT.SETTINGS.SWITCHERS.FLAGS' | translate
                    " [select]="false" (valueEmit)="getNotification2($event)"></app-toggle-switch> -->

                  <!-- PARTICIPANTS LIMIT -->
                  <app-toggle-switch [customFormControlName]="'isParticipantsLimit'" [title]="
                      'CREATE_TOURNAMENT.SETTINGS.SWITCHERS.LIMIT' | translate
                    " [select]="isParticipantsLimit" (valueEmit)="getNotification1($event)"></app-toggle-switch>

                  <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
                    <mat-label>
                      {{ "Enter participant limit" }}
                    </mat-label>

                    <input matInput type="number" min="2" [(ngModel)]="par_limit" (ngModelChange)="onDateChange2()" />
                  </mat-form-field>

                  <!-- <app-toggle-switch [customFormControlName]="'isSpecifyAllowedRegions'" [title]="
                      'CREATE_TOURNAMENT.SETTINGS.REGIONS.HEADING' | translate
                    " [toolTipMessage]="
                      'CREATE_TOURNAMENT.SETTINGS.REGIONS.TOOLTIP' | translate
                    " [select]="false" (valueEmit)="getNotification5($event)"></app-toggle-switch> -->

                  <div class="divider">
                  </div>

                  <app-multiple-select [fields]="games1" style="margin-bottom: 12rem"
                    *ngIf="isSpecifyAllowedRegions == true" (valueEmit)="getNotification6($event)">
                  </app-multiple-select>
                </div>

                <div class="TournamentDetails-settings-selects"></div>
              </div>

              <div class="TournamentDetails-settings-manage">
                <div class="TournamentDetails-settings-switchers">
                  <!-- SCORE REPORTING -->
                  <app-select-toggle [title]="
                      'CREATE_TOURNAMENT.SETTINGS.SELECTS.SCORE.TITLE'
                        | translate
                    " [tooltip]="
                      'CREATE_TOURNAMENT.SETTINGS.SELECTS.SCORE.TOOLTIP'
                        | translate
                    " [leftValue]="
                      'CREATE_TOURNAMENT.SETTINGS.SELECTS.SCORE.RIGHT_VALUE'
                        | translate
                    " [rightValue]="
                      'CREATE_TOURNAMENT.SETTINGS.SELECTS.SCORE.LEFT_VALUE'
                        | translate
                    " [value]="2" (valueEmit)="getNotification3($event)"></app-select-toggle>
                </div>

                <div class="TournamentDetails-settings-selects">
                  <!-- VISIBILITY -->
                  <app-select-toggle [title]="
                      'CREATE_TOURNAMENT.SETTINGS.SELECTS.VISIBILITY.TITLE'
                        | translate
                    " [tooltip]="
                      'CREATE_TOURNAMENT.SETTINGS.SELECTS.VISIBILITY.TOOLTIP'
                        | translate
                    " [leftValue]="
                      'CREATE_TOURNAMENT.SETTINGS.SELECTS.VISIBILITY.PUBLIC'
                        | translate
                    " [rightValue]="
                      'CREATE_TOURNAMENT.SETTINGS.SELECTS.VISIBILITY.PRIVATE'
                        | translate
                    " [value]="1" (valueEmit)="getNotification4($event)"></app-select-toggle>
                </div>
              </div>

              <!-- <div class="TournamentDetails-settings-region">
                <div class="TournamentDetails-settings-region-block">
                  <h4 class="TournamentDetails-settings-region-title">
                    {{
                      "CREATE_TOURNAMENT.SETTINGS.REGIONS.HEADING" | translate
                    }}
                  </h4>

                  <mat-icon
                    class="TournamentDetails-settings-region-icon"
                   [ngbTooltip]="
                        'CREATE_TOURNAMENT.SETTINGS.REGIONS.TOOLTIP'
                        | translate
                    "
                    placement="top-left"
                  >
                    info_outline
                  </mat-icon>
                </div>
                <app-toggle-switch
                    [customFormControlName]="'isSpecifyAllowedRegions'"
                    [title]="
                      'CREATE_TOURNAMENT.SETTINGS.REGIONS.HEADING' | translate
                    "
                    [select]=false
                    (valueEmit)="getNotification5($event)"
                  ></app-toggle-switch>
              </div> -->
            </div>
          </mat-expansion-panel>

          <!-- RULES AND INFO -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{
                "CREATE_TOURNAMENT.DETAILS.ITEMS.RULES_AND_INFO" | translate
                }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="TournamentDetails-rules">
              <!-- <ckeditor [editor]="Editor" [config]="ckConfig" (change)="ckEditorChange($event)"
                (ready)="onReady($event)"></ckeditor> -->
                <WYSIWYG-editor [(ngModel)]="rules" [config]="editorConfig">
                </WYSIWYG-editor>
            </div>
          </mat-expansion-panel>
          <!-- PARTICIPANTS -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ "CREATE_TOURNAMENT.DETAILS.ITEMS.PARTICIPANTS" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="TournamentDetails-participants">
              <div class="TournamentDetails-participants-players">
                <!-- <app-search-players [heading]="'CREATE_TOURNAMENT.DETAILS.PARTICIPANTS.HEADING'" [listTitle]="
                    'CREATE_TOURNAMENT.DETAILS.PARTICIPANTS.SEARCH_RESULTS'" [members]=" participants"
                  (submitData)="bracket1($event)"></app-search-players> -->
                <app-send-invite (submitData)="bracket1($event)"   [isOnPreviewPage]="true"> </app-send-invite>
              </div>

              <div class="TournamentDetails-participants-invite">
                <app-input-invite (emitValue)="emitValuefor($event)"></app-input-invite>
                <div *ngFor="let d of emailsforinvite; let i = index" style="margin-top: 15px">
                  <span style="
                      color: white;
                      padding: 5px;
                      border: 1px solid #b6abab;
                    ">{{ d }}
                  </span>
                  <span *ngIf="i != emailsforinvite.length"> ,</span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- Description -->
          <!-- <mat-expansion-panel class="disable-space">
              <mat-expansion-panel-header>
                 <mat-panel-title class="TD-form-title global-Title3">
                     {{"TOURNAMENT.CREATE.DESCRIPTION"|translate}}
                  </mat-panel-title>
              </mat-expansion-panel-header>
                <WYSIWYG-editor [(ngModel)]="description" [config]="editorConfig">
                </WYSIWYG-editor>
           </mat-expansion-panel> -->
        </mat-accordion>
      </section>

      <aside class="TournamentDetails-aside">
        <h3 class="TournamentDetails-aside-title">
          {{ "CREATE_TOURNAMENT.DETAILS.ASIDE.TITLE" | translate }}
        </h3>

        <div class="TournamentDetails-aside-image">
          <app-tournament-image [customFormGroup]="form" [customFormControlName]="'teamLogo'"
            [dimension]="{ width: 1000, height: 1000 }" [id]="'LOGO'" [size]="1534 * 750"
            (imgurltosave)="datatoimg($event)"></app-tournament-image>
        </div>

        <div class="TournamentDetails-aside-fields">
          <!-- TOURNAMENT NAME -->
          <div class="TournamentDetails-aside-field">
            <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
              <mat-label>
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.NAME" | translate }}
              </mat-label>
              <input matInput [(ngModel)]="name" />
            </mat-form-field>
          </div>

          <!-- DATE -->
          <div class="TournamentDetails-aside-field">
            <app-input-date></app-input-date>
          </div>

          <!-- TIME -->
          <div class="TournamentDetails-aside-field">
            <app-input-time></app-input-time>
          </div>

          <!-- GAME -->
          <div class="TournamentDetails-aside-field">
            <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
              <mat-label>
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.GAME" | translate }}
              </mat-label>
              <mat-select [(ngModel)]="gameid" disabled>
                <mat-option *ngFor="let item of games" [value]="item._id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <!-- PLATFORM -->
          <div class="TournamentDetails-aside-field">
            <mat-form-field class="global-MatField" appearance="outline">
              <mat-label>
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.PLATFORM" | translate }}
              </mat-label>
              <mat-select [ngModel]="platformId" disabled>
                <mat-option *ngFor="let item of platforms" [value]="item._id">
                  {{createTournament.selected_platform.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--tornment type-->

          <!-- <div class="TournamentDetails-aside-field">
            <mat-form-field class="global-MatField" appearance="outline">
              <mat-label>
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.Tournament-type" | translate }}
              </mat-label>
              <mat-select [ngModel]='TournamentID'>
                <mat-option *ngFor="let item of Tournmenttype" [value]="item._id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        </div>
        <div class="new_image">
          <img src="assets/images/image.svg" />
        </div>
      </aside>
    </main>
  </div>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
