<div class="VerificationForm">
  <!-- <h3 class="VerificationForm-title">
    {{ data.title | translate }}
  </h3> -->
<br>
<br>
  <h3 class="VerificationForm-title" *ngIf="formValue?.regType=='email'">
    {{ 'LOG_REG.LOGIN.TITLE3'| translate }}
  </h3>
  <h3 class="VerificationForm-title" *ngIf="formValue?.regType=='phone'">
    {{ 'LOG_REG.LOGIN.TITLE3'| translate }}
  </h3>

  <p class="VerificationForm-subtitle">
    {{ data.subtitle | translate }}
    <span *ngIf="formValue?.mailPhone">
      {{ formValue.mailPhone }}
    </span>
  </p>

  <div class="VerificationForm-error" *ngIf="data.error">
    {{ data.error | translate }}
  </div>

  <div *ngIf="data.timerMs != 0" class="VerificationForm-input">
    <ng-otp-input class="VerificationForm-input-number" (onInputChange)="onOtpChange($event)"
      [config]="{ length: 4, allowNumbersOnly: true }"></ng-otp-input>
  </div>


  <div *ngIf="data.timerMs == 0" class="form-group" >
    Didn't receive OTP?
    <a class="resend" (click)="resendOtp(formValue.type)"> Resend </a>
  </div>


  <div *ngIf="data.timerMs != 0"  class="VerificationForm-expires">
    {{ "LOG_REG.FORGOT.Expires_in" | translate }}
    {{ data.timerMs | minuteSeconds }}
  </div>

  <div>
    <button class="button-icon-primary submitt" (click)="onSubmitEvent()" [disabled]="!codeEntered"
      [class.is-edit]="!codeEntered">
      <span>{{ data.submitBtn | translate }}</span>
      <mat-icon> arrow_forward </mat-icon>
    </button>
  </div>

  <div class="VerificationForm-footer" *ngIf="data?.footerTitle && data.timerMs == 0">
    <p class="VerificationForm-footer-text">
      {{ data.footerTitle | translate }}
    </p>

    <a class="VerificationForm-footer-link" (click)="resendOtp(formValue.type)">
      {{ data.footerLinkTitle | translate }}
    </a>
  </div>
</div>
