<div class="Comment" *ngIf="currentUser"  #f>
    <div class="Comment-image" [lazyLoad]="currentUser.profilePicture"></div>
<form class="w-100" #commentForm='ngForm'>
    <div class="Comment-content">
      <textarea
        class="Comment-field"
        [(ngModel)]="text"
        [class.isReplying]="isReplying"
        [placeholder]="placeholder"
        name="text"
      required ngModel></textarea>

      <div class="Comment-buttons">
        <button class="Comment-button button-secondary" *ngIf="isReplying">
          {{ "BUTTON.CANCEL" | translate }}
        </button>

        <button (click)="comment()" class="Comment-button button-primary"
        [disabled]="commentForm.invalid">
          {{ (isReplying ? "BUTTON.REPLY" : "BUTTON.SUBMIT") | translate }}
        </button>
      </div>
    </div>
  </form>
  </div>
