<section class="MyTeams">
  <header class="MyTeams-header u-dfStartBtw">
    <h2 class="MyTeams-header-title global-H3 global-Elipses">
      {{ "PROFILE.TEAMS.HEADER.TITLE" | translate }}
    </h2>
    <form class="MyTeams-header-control u-dfCenterStart" [formGroup]="form">
      <!-- <app-drop-down
        class="MyTeams-header-dropdown"
        (valueEmit)="selectType($event)"
        [customFormControlName]="'view'"
        [customFormGroup]="form"
        [dropdownList]="mock_select"
        [type]="'H'"
      ></app-drop-down> -->

      <button
        class="MyTeams-header-button btn global-btn-yellow"
        [routerLink]="AppHtmlRoutes.createTeam"
      >
        {{ "PROFILE.TEAMS.HEADER.BUTTON" | translate }}
      </button>
    </form>
  </header>

  <div class="MyTeams-list" *ngIf="mock_teams_control?.length">
    <ng-container *ngFor="let team of mock_teams_control">
      <app-team-card-control
        class="MyTeams-list-item"
        [data]="team"
      ></app-team-card-control>
    </ng-container>

    <app-pagination [page]="page" (currentPage)="pageChanged($event)">
    </app-pagination>
  </div>
</section>

<section class="MyTeams">
  <header class="MyTeams-header u-dfCenterBtw">
    <h2 class="MyTeams-header-title global-H3 global-Elipses">
      {{ "PROFILE.TEAMS.HEADER.TITLE2" | translate }}
    </h2>
  </header>

  <div class="MyTeams-list" *ngIf="mock_teams_invites?.length">
    <ng-container *ngFor="let team of mock_teams_invites">
      <app-team-card-invite
        class="MyTeams-list-item"
        [data]="team"
      ></app-team-card-invite>
    </ng-container>
    <app-pagination
      [page]="page2"
      (currentPage)="pageChanged2($event)"
    ></app-pagination>
  </div>
</section>
