@import "shared";

.Swiss-standing {
  &-wrapper {
    @include lg {
      width: 1024px;
    }

    @include sm {
      width: 768px;
    }
  }

  overflow-y: auto;
  &-pI {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 25px;
  }

  &-body {
    & tr {
      line-height: 45px;
      border-bottom: 1px solid var(--black-medium);
      color: var(--black);

      &:hover {
        cursor: pointer;
      }
    }
    & td {
      line-height: 45px;
      border-bottom: 1px solid var(--ui-03);
      color: var(--black);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-no-data {
    color: var(--ui-nobel);
    text-align: center;
  }

  &-disq {
    background-color: var(--white-high);
  }
}
