<header class="Inbox-header">
  <h1 class="Inbox-header-title">
    {{ "PROFILE.INBOX.TITLE" | translate }}
  </h1>

  <button class="Inbox-header-button button-icon-secondary" 
  (click)="removeSelectedRows()">
    <mat-icon> delete </mat-icon>
    <span>
      {{ "BUTTON.DELETE" | translate }}
    </span>
  </button>
</header>

<section class="Inbox-content" *ngIf="slicesMessages.length; else noMessages ;let i=index" >
  <table mat-table [dataSource]="dataSource">
    <div class="Inbox-content-header">
      <div class="Inbox-content-message">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox class="Inbox-content-message-checkbox" (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()" 
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      (click)="onSelect(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  </div>
</div>
    <!-- Position Column -->
     <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>  {{ "PROFILE.INBOX.MESSAGE" | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{ element.message }} </td>
    </ng-container>
   
    <!-- Name Column -->
     <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{ "PROFILE.INBOX.DATE_AND_TIME" | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{ element?.createdAt | date: "short" }} </td>
    </ng-container>
  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
  <div class="Inbox-content-pagination">
    <mat-paginator
      [length]="messages.length"
      [pageSize]="messagesPerPage[0]"
      [pageSizeOptions]="messagesPerPage"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</section>

<ng-template #noMessages>
  <div class="Inbox-empty">
    <h2 class="Inbox-empty-title">
      {{ "PROFILE.INBOX.EMPTY_TITLE" | translate }}
    </h2>
  </div>
</ng-template>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>