<app-manageteam-header> </app-manageteam-header>

<header class="InvitesSent-header">
  <h1 class="InvitesSent-cards-title">
    {{ "MANAGE_TEAM.INVITES_SENT.TITLE" | translate }}
  </h1>
</header>

<section class="InvitesSent-control">
  <div class="InvitesSent-control-toggles global-MatToggles">
    <div class="InvitesSent-control-toggle">
      <a class="InvitesSent-control-link">
        {{ totalInvitesSent.length }}
        {{ "MANAGE_TEAM.INVITES_SENT.TOTAL_PENDING_INVITE" | translate }}
      </a>
      <div class="MyTeams-cards">
        <div class="MyTeams-cards-list">
          <ng-container *ngFor="let item of totalInvitesSent; let i = index">
            <div class="TeamCard">
              <div
                class="TeamCard-image"
                *ngIf="item?.userId?.profilePicture"
                [lazyLoad]="item?.userId?.profilePicture"
              >
                <div
                  class="TeamCard-image"
                  *ngIf="!item?.userId?.profilePicture"
                  lazyLoad="assets/images/Home/sparkavatar.png"
                ></div>
              </div>
              <div class="TeamCard-info">
                <h3 class="TeamCard-info-name borbosa">
                  {{ item?.userId?.username }}
                </h3>
                <p>
                  {{ item?.role }}
                </p>
              </div>
              <div class="TeamCard-manage">
                <ng-container>
                  <button
                    class="TeamCard-manage-button-menu"
                    [matMenuTriggerFor]="matchMenu"
                    #t="matMenuTrigger"
                    (click)="isSelectedRow(item)"
                  >
                    <mat-icon class="TeamCard-manage-button-menu-icon">
                      more_vert
                    </mat-icon>
                  </button>

                  <mat-menu
                    class="global-MatMenu team-card"
                    #matchMenu="matMenu"
                    xPosition="before"
                  >
                    <div class="TeamCard-manage-menu menu">
                      <a
                        class="TeamCard-manage-menu-link link"
                        (click)="followUser(item, i)"
                      >
                        <!-- routerLink="/manage-team/edit-team" -->
                        <mat-icon class="icon"> person_add </mat-icon>
                        <span class="text">{{
                          (item.followingStatus == 0
                            ? "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.FOLLOW"
                            : "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.UNFOLLOW"
                          ) | translate
                        }}</span>
                      </a>
                      <!--<a class="TeamCard-manage-menu-link link" (click)="deleteTeam(item, 'deleted')">-->
                      <a
                        class="TeamCard-manage-menu-link link"
                        (click)="isShowPopup()"
                      >
                        <mat-icon class="icon"> delete </mat-icon>
                        <span class="text">{{
                          "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.REMOVE" | translate
                        }}</span>
                      </a>
                    </div>
                  </mat-menu>
                  <div class="Profile-popup" *ngIf="show">
                    <app-popup
                      (showPopup)="showPopup($event)"
                      [isRemove]="isRemove"
                      [isRemovePerson]="isRemovePerson"
                    ></app-popup>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
