<form [formGroup]="form" (submit)="onSubmitEvent()" class="SubmitForm">
  <div class="global-intlTel" *ngIf="!isOTP">
    <ngx-intl-tel-input
      [inputId]="'phoneNumber'"
      [preferredCountries]="preferredCountries"
      [searchCountryField]="[SearchCountryField.All]"
      [selectedCountryISO]="selectedCountryISO"
      [maxLength]="15"
      [enableAutoCountrySelect]="true"
      [selectFirstCountry]="false"
      [enablePlaceholder]="true"
      [searchCountryFlag]="true"
      [searchCountryPlaceholder]="'PLACEHOLDER.PHONE_SEARCH_CONTRY' | translate"
      [separateDialCode]="true"
      [phoneValidation]="true"
      name="phoneNumber"
      formControlName="phoneNumber"
    >
    </ngx-intl-tel-input>

    <mat-error
      *ngIf="
        form.get('phoneNumber').touched &&
        form.get('phoneNumber').hasError('required')
      "
    >
      {{ "STC_PAYMENT.STC_MOBILE" | translate }}
    </mat-error>
    <mat-error
      *ngIf="form.get('phoneNumber').hasError('validatePhoneNumber')"
      >{{ "STC_PAYMENT.STC_PHONE_VALIDATION" | translate }}</mat-error
    >
  </div>
  <mat-form-field
    class="global-MatInputOutline LogReg-input"
    appearance="outline"
    *ngIf="isOTP"
  >
    <mat-label>{{ "STC_PAYMENT.STC_OTP" | translate }}</mat-label>
    <input formControlName="otpInput" matInput />
    <mat-error *ngIf="form.get('otpInput').hasError('required')">{{
      "STC_PAYMENT.STC_OTP_VALIDATION" | translate
    }}</mat-error>
  </mat-form-field>
  <div class="SubmitForm-submit">
    <button
      type="submit"
      [disabled]="form.invalid"
      class="global-EditBtn is-sm"
    >
      {{ "STC_PAYMENT.STC_BUTTON" | translate }}
    </button>
  </div>
</form>
