<header class="TournamentsJoined-header">
  <h1 class="TournamentsJoined-header-title">
    {{ "PROFILE.TOURNAMENT_JOINED.TITLE" | translate }}
  </h1>
</header>

<section class="TournamentsJoined-table">
  <div class="TournamentsJoined-table-toggles global-MatToggles" ngbNav #nav="ngbNav" (navChange)="navChanges($event)"
    [(activeId)]="active">
    <!-- ONGOING -->
    <div class="TournamentsJoined-table-toggle" [ngbNavItem]="1">
      <a class="TournamentsJoined-table-toggle-link" ngbNavLink>
        {{ "PROFILE.TOURNAMENT_JOINED.TABLE.ONGOING" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <ul class="mt-5 ">
          <li *ngFor="let item of ongoingList">

            <img class='imgTable1' src="{{item.gameDetail.image}}">
            <h3 class="h3">
              {{item.name}}
            </h3>
            <span class="span">
              {{ item.startDate|date: "d MMMM, y" }}

              -<span class="ml-2">{{item.startTime}}</span>
            </span>
            <a class="p" [routerLink]="['/tournament/',item?.slug]"> View </a>

          </li>

        </ul>
      </ng-template>
    </div>

    <!-- UPCOMING -->
    <div class="TournamentsJoined-table-toggle" [ngbNavItem]="2">
      <a class="TournamentsJoined-table-toggle-link" ngbNavLink>
        {{ "PROFILE.TOURNAMENT_JOINED.TABLE.UPCOMING" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <ul class="mt-5 ">
          <li *ngFor="let item of upcomingList">

            <img class='imgTable1' src="{{item.gameDetail.image}}">
            <h3 class="h3">
              {{item.name}}
            </h3>
            <span class="span">
              {{ item.startDate|date: "d MMMM, y" }}

              -<span class="ml-2">{{item.startTime}}</span>
            </span>
            <a class="p" [routerLink]="['/tournament/',item?.slug]"> View </a>

          </li>

        </ul>

      </ng-template>
    </div>

    <!-- PAST -->
    <div class="TournamentsJoined-table-toggle" [ngbNavItem]="3">
      <a class="TournamentsJoined-table-toggle-link" ngbNavLink>
        {{ "PROFILE.TOURNAMENT_JOINED.TABLE.PAST" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <ul class="mt-5 ">
          <li *ngFor="let item of pastList">

            <img class='imgTable1' src="{{item.gameDetail.image}}">
            <h3 class="h3">
              {{item.name}}
            </h3>
            <span class="span">
              {{ item.startDate|date: "d MMMM, y" }}

              -<span class="ml-2">{{item.startTime}}</span>
            </span>
            <a class="p" [routerLink]="['/tournament/',item?.slug]"> View </a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
  <div class="TournamentsJoined-table-content" [ngbNavOutlet]="nav"></div>
</section>


<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
