<ng-container *ngIf="!componentLoader; else that">
  <span>
    <button
      mat-flat-button
      color="warn"
      [disabled]="status != ''"
      (click)="
        disburseAmount(index, winner.winnerUser?.accountDetail?.paymentType)
      "
      class="ml-2"
    >
      {{
        status
          ? status
          : ("ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.DISBURSE" | translate)
      }}
    </button>
  </span>

  <span *ngIf="!winner.winnerUser?.accountDetail?.paymentType">
    {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.NO_PAYMENT" | translate }}
  </span>
</ng-container>

<ng-template #that>
  <span>
    <fa-icon [icon]="faSpinner" size="4x" spin="true"></fa-icon>
  </span>
</ng-template>
