<div *ngIf="!isChangePassword" class="ProfileSettings">
  <div class="">
    {{ "PROFILE.PROFILE_SETTING.TITLE" | translate }}
  </div>

  <!-- <ngb-tabset
    type="pills"
    class="global-PillsTabs is-tournamentPage"
    (tabChange)="fetchNews($event)"
    [(activeId)]="selectedPrefrence"
  >
    <ngb-tab id="tab1">
      <ng-template ngbTabTitle>
        {{ ProfileSettingComponentTab.content | translate }}</ng-template
      >
      <ng-template ngbTabContent>
        <div class="ProfileSettings-content">
          <div *ngIf="error" class="LogReg-error">
            <strong>{{ error }}</strong>
          </div>
          <div>
            <div class="ProfileSettings-box">
              <div class="first-title global-text-body">
                {{ "PROFILE.PROFILE_SETTING.PREFER.TEXT1" | translate }}
              </div>
              <h2 class="global-text-body text-base2">
                {{ "PROFILE.PROFILE_SETTING.PREFER.TEXT2" | translate }}
              </h2>
            </div>

            <div class="ProfileSettings-box">
              <div class="ProfileSettings-box-title global-text-body">
                {{ "PROFILE.PROFILE_SETTING.PREFER.TEXT3" | translate }}
              </div>
              <div class="ProfileSettings-cards">
                <div
                  class="ProfileSettings-card"
                  *ngFor="let item of game"
                  (click)="onToggleItem(item)"
                  [class.is-checked]="item.isChecked"
                >
                  <div class="checked">
                    <div></div>
                  </div>
                  <img
                    class="ProfileSettings-card-image"
                    [lazyLoad]="item.logo"
                    alt="image"
                  />
                  <p class="ProfileSettings-card-game global-H5">
                    {{ item.name }}
                  </p>
                </div>
              </div>
              <app-loading *ngIf="isLoading"></app-loading>
            </div>

            <div class="ProfileSettings-box">
              <div class="ProfileSettings-box-title global-text-body">
                {{ "PROFILE.PROFILE_SETTING.PREFER.TEXT4" | translate }}
              </div>
              <button
                *ngFor="let item of platform"
                (click)="onToggleItem(item)"
                [class.is-active]="item.isChecked"
                class="ProfileSettings-platformbtn global-text-body"
              >
                <fa-icon
                  [icon]="faDesktop"
                  *ngIf="item.name === 'PC'"
                ></fa-icon>
                <fa-icon
                  [icon]="faMobileAlt"
                  *ngIf="item.name === 'Mobile'"
                ></fa-icon>
                <fa-icon
                  [icon]="faGamepad"
                  *ngIf="item.name != 'Mobile' && item.name != 'PC'"
                ></fa-icon>
                {{ item.name }}
              </button>
              <app-loading *ngIf="isLoading"></app-loading>
            </div>

            <div class="ProfileSettings-box">
              <div class="global-text-body ProfileSettings-box-title">
                {{ "PROFILE.PROFILE_SETTING.PREFER.TEXT5" | translate }}
              </div>
              <div class="ProfileSettings-cards">
                <div
                  class="ProfileSettings-card"
                  *ngFor="let item of genre"
                  (click)="onToggleItem(item)"
                  [class.is-checked]="item.isChecked"
                >
                  <div class="checked">
                    <div></div>
                  </div>
                  <img
                    class="ProfileSettings-card-image"
                    [lazyLoad]="item.image"
                    alt="image"
                  />
                  <p class="ProfileSettings-card-game global-H5">
                    {{ item.name }}
                  </p>
                </div>
              </div>
              <app-loading *ngIf="isLoading"></app-loading>
            </div>

            <div class="ProfileSettings-box">
              <div class="global-text-body ProfileSettings-box-title">
                {{ "PROFILE.PROFILE_SETTING.PREFER.TEXT6" | translate }}
              </div>

              <div class="ProfileSettings-cards">
                <div
                  class="ProfileSettings-card"
                  *ngFor="let item of prefer"
                  (click)="onToggleItem(item)"
                  [class.is-checked]="item.isChecked"
                >
                  <div class="checked">
                    <div></div>
                  </div>
                  <img
                    class="ProfileSettings-card-image"
                    [lazyLoad]="item.image"
                    alt="image"
                  />
                  <p class="ProfileSettings-card-game global-H5">
                    {{ item.name }}
                  </p>
                </div>
              </div>

              <app-loading *ngIf="isLoading"></app-loading>
            </div>

            <button
              *ngIf="
                game.length != 0 && genre.length != 0 && prefer.length != 0
              "
              (click)="savePrefrences()"
              class="ProfileSettings-save-button btn global-btn-yellow"
            >
              {{ "BUTTON.SAVE" | translate }}
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab2">
      <ng-template ngbTabTitle>
        {{ ProfileSettingComponentTab.account | translate }}
      </ng-template>
      <ng-template ngbTabContent>
        <div class="ProfileSettings-content">
          <div class="ProfileSettings-items">
            <div class="ProfileSettings-item">
              <h2 class="global-text-body">
                {{ "PROFILE.PROFILE_SETTING.ACCOUNT.INPUT2" | translate }}
              </h2>
              <div
                class="global-text-body textColor"
                *ngIf="user?.emailisVerified"
              >
                {{ user.email }} &nbsp;
              </div>
              <a class="global-text-body" (click)="add_Email()">
                <fa-icon [icon]="faEdit"></fa-icon>
              </a>
            </div>
            <div class="ProfileSettings-item">
              <div
                (click)="onChangePassword()"
                matRipple
                class="global-text-body curp"
              >
                {{
                  "PROFILE.PROFILE_SETTING.ACCOUNT.CHANGE_PASSWORD" | translate
                }}
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab3">
      <ng-template ngbTabTitle (click)="onToggle()">
        {{ ProfileSettingComponentTab.payment | translate }}
      </ng-template>
      <ng-template ngbTabContent>
        <div class="ProfileSettings-content">
          <form
            class="form-start"
            [formGroup]="form"
            (submit)="savePaymentAccount()"
          >
            <div class="ProfileSettings-items">
              <div class="ProfileSettings-item d-flex">
                <h2 class="global-text-body">
                  {{ "PROFILE.PROFILE_SETTING.PAYMENT.INPUT1" | translate }}
                </h2>
                <div
                  class="globall-Body-Text ProfileSettings-payment-dropdown col-sm-4 pl-0 pr-0"
                >
                  <select
                    [attr.disabled]="isDisabled ? isDisabled : null"
                    class="ProfileSettings-item selectpicker is-profile"
                    formControlName="paymentType"
                    id="paymentType"
                    [(ngModel)]="selected.type"
                    (change)="onChangePaymentType($event.target.value)"
                  >
                    <option class="global-text-body" value="paypal">{{
                      "PROFILE.PROFILE_SETTING.PAYMENT.PAYMENT_METHOD.PAYPAL"
                        | translate
                    }}</option>
                  </select>

                  <mat-error
                    *ngIf="
                      form.get('paymentType').touched &&
                      form.get('paymentType').invalid
                    "
                  >
                    {{
                      "PROFILE.PROFILE_SETTING.PAYMENT.ERROR.ERROR1" | translate
                    }}
                  </mat-error>
                </div>
              </div>
              <div class="ProfileSettings-item d-flex">
                <div
                  class="d-flex"
                  *ngIf="selected.type === 'paypal'"
                >
                  <h2 class="global-text-body">
                    {{ "PROFILE.PROFILE_SETTING.PAYMENT.INPUT2" | translate }}
                  </h2>
                  <div class="global-text-body col-sm-4 pl-0 pr-0">
                    <input
                      [class.disabled]="isDisabled"
                      type="text"
                      name="paymentAccountId"
                      formControlName="paymentAccountId"
                      [(ngModel)]="selected.paymentAccountId"
                      placeholder="{{
                        'PROFILE.PROFILE_SETTING.PAYMENT.INPUT2' | translate
                      }}"
                      class="ProfileSettings-box-input"
                    />
                    <mat-error
                      *ngIf="form.get('paymentAccountId').hasError('required')"
                      >{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
                    >
                    <mat-error
                      *ngIf="form.get('paymentAccountId').hasError('email')"
                      >{{ "LOG_REG.LOGIN.VALIDATION2" | translate }}</mat-error
                    >
                  </div>
                </div>
                <app-loading *ngIf="isLoading"></app-loading>
              </div>
            </div>
            <div class="ProfileSettings-footer">
              <button
                *ngIf="isDisabled"
                (click)="onToggleEdit()"
                class="btn global-btn-black"
              >
                {{ "BUTTON.EDIT" | translate }}
              </button>
              <button
                (click)="cancel()"
                *ngIf="!isDisabled"
                class="cancel btn global-btn-black"
              >
                {{ "BUTTON.CANCEL" | translate }}
              </button>
              <button
                *ngIf="!isDisabled"
                type="submit"
                class="btn global-btn-yellow"
              >
                {{ "BUTTON.SAVE" | translate }}
              </button>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset> -->

  <ng-template #EmailContent let-c="close" let-d="dismiss">
    <div class="modal-body">
      <button class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="container">
        <div class="row">
          <div class="LogReg-main-popup w-100">
            <ng-container>
              <app-phone-no-form
                *ngIf="!stepTwo"
                (submit)="addEmailNext($event)"
                [data]="emailData"
              >
              </app-phone-no-form>
              <app-verification-form
                *ngIf="stepTwo"
                [data]="emailVerification"
                [formValue]="emailOutputData"
                (submit)="submitEmail($event)"
              ></app-verification-form>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<app-change-password
  *ngIf="isChangePassword"
  (changePassword)="onChangePasswordSubmit()"
></app-change-password>

<app-loading *ngIf="loading"></app-loading>
