@import "shared";

.textColor {
  color: var(--base-01);
}

.cancel {
  margin-right: 10px;
}

.ProfileSettings {
  &-footer {
    display: flex;
    padding-bottom: px2vw-xl(20px);

    @include lg {
      padding-bottom: px2vw-lg(20px);
    }

    @include md {
      padding-bottom: px2vw-md(20px);
    }

    @include sm {
      padding-bottom: px2vw-sm(20px);
    }
  }

  &-box {
    &-input {
      border: 1px solid var(--base-02);
      padding: 5px 5px;
      background: none;
      max-width: 200px;
      font-size: 14px;
      color: var(--base-01);
      transition: 100ms linear;
      font-family: "source-sans-pro" !important;

      @include lg {
        font-size: px2vw-lg(18px);
      }

      @include md {
        font-size: px2vw-md(18px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
      }

      &.disabled {
        pointer-events: none;
        border-color: transparent;

        @include lg {
          border-bottom-width: 1px;
        }
      }

      &.is-sm {
        font-size: px2vw-xl(20px);

        @include lg {
          font-size: px2vw-lg(20px);
        }

        @include md {
          font-size: px2vw-md(20px);
        }

        @include sm {
          font-size: px2vw-sm(20px);
        }
      }

      &.is-error {
        border-bottom-color: var(--base-yellow);
      }
    }
  }

  &-content {
    padding-top: px2vw-xl(32px);
    padding-bottom: px2vw-xl(80px);

    @include lg {
      padding-top: px2vw-lg(32px);
      padding-bottom: px2vw-lg(80px);
    }

    @include md {
      margin-top: px2vw-md(32px);
      margin-bottom: px2vw-md(80px);
    }

    @include sm {
      margin-top: px2vw-sm(32px);
      margin-bottom: px2vw-sm(80px);
    }
  }

  &-item {
    @extend %u-dfCenterStart;
    margin-bottom: px2vw-xl(2px);
    padding: px2vw-xl(15px) 0;
    font-family: "source-sans-pro";

    @include lg {
      margin-bottom: px2vw-lg(2px);
      padding: px2vw-lg(15px) 0;
    }

    @include md {
      justify-content: space-between;
      margin-bottom: px2vw-md(2px);
      padding: px2vw-md(15px) 0;
    }

    @include sm {
      margin-bottom: px2vw-sm(2px);
      padding: px2vw-sm(15px) 0;
    }

    h2 {
      min-width: px2vw-xl(320px);
      color: var(--base-02);
      margin: 0;

      @include lg {
        min-width: px2vw-lg(320px);
      }

      @include md {
        min-width: initial;
      }
    }

    button {
      margin-right: px2vw-xl(16px);

      @include lg {
        margin-right: px2vw-lg(16px);
      }

      @include md {
        margin-right: px2vw-md(16px);
      }

      @include sm {
        margin-right: px2vw-sm(16px);
      }
    }

    &.is-footer {
      @include md {
        justify-content: flex-start;
      }
    }

    &.social-media {
      border-top: 1px solid var(--base-03);
      margin-top: 30px;
      padding-top: 32px;
    }
  }

  &-btn {
    @include btnEvents();
    @extend %u-dfCenterCenter;
    width: px2vw-xl(34px);
    height: px2vw-xl(34px);
    border-radius: 50%;
    color: var(--base-white);

    @include lg {
      width: px2vw-lg(34px);
      height: px2vw-lg(34px);
    }

    @include md {
      width: px2vw-md(34px);
      height: px2vw-md(34px);
    }

    @include sm {
      width: px2vw-sm(34px);
      height: px2vw-sm(34px);
    }

    &.is-fb {
      background-color: var(--ui-mariner);
    }

    &.is-fb-gray {
      background-color: var(--dim-gray);
    }

    &.is-tw {
      background-color: var(--ui-twitter);
    }

    &.is-go {
      background-color: var(--ui-go);
    }

    &.is-go-gray {
      background-color: var(--dim-gray);
    }
  }

  &-box {
    margin-bottom: px2vw-xl(35px);
    padding-bottom: px2vw-xl(40px);
    border-bottom: 2px dashed var(--base-04);

    @include lg {
      margin-bottom: px2vw-lg(35px);
      padding-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(35px);
      padding-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(35px);
      padding-bottom: px2vw-sm(40px);
    }

    h2 {
      color: var(--base-02);
    }

    &-title {
      margin-bottom: px2vw-xl(32px);
      font-family: "source-sans-pro";
      color: var(--base-01);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }

    .first-title {
      margin-bottom: px2vw-xl(16px);
      color: var(--base-01);

      @include lg {
        margin-bottom: px2vw-lg(16px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
      }

      @include sm {
        margin-bottom: px2vw-sm(16px);
      }
    }
  }

  &-platformbtn {
    margin-right: px2vw-xl(30px);
    border: 1px solid var(--base-03);
    padding: px2vw-xl(15px) px2vw-xl(35px);
    background: transparent;
    color: var(--base-02);

    @include lg {
      margin-right: px2vw-lg(30px);
      padding: px2vw-xl(15px) px2vw-xl(35px);
    }

    @include md {
      margin-right: px2vw-md(25px);
      padding: px2vw-xl(15px) px2vw-xl(35px);
    }

    @include sm {
      margin-right: px2vw-sm(11px);
      padding: px2vw-xl(15px) px2vw-xl(35px);
    }

    &:last-child {
      margin-right: 0;
    }

    fa-icon {
      margin-right: px2vw-xl(10px);
      font-size: px2vw-xl(18px);
      vertical-align: middle;

      @include lg {
        margin-right: px2vw-lg(10px);
        font-size: px2vw-lg(18px);
      }

      @include md {
        margin-right: px2vw-md(10px);
        font-size: px2vw-md(18px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
        font-size: px2vw-sm(18px);
      }
    }

    img {
      margin-right: px2vw-xl(10px);
      color: var(--base-white);
      height: px2vw-xl(20px);

      @include lg {
        margin-right: px2vw-lg(10px);
        height: px2vw-lg(20px);
      }

      @include md {
        margin-right: px2vw-md(10px);
        height: px2vw-md(20px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
        height: px2vw-sm(20px);
      }
    }

    &.is-active {
      border: 1px solid var(--base-yellow);
      color: var(--base-yellow);
    }
  }

  &-cards {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    min-height: px2vw-xl(274px);
    padding-bottom: px2vw-xl(15px);

    @include lg {
      min-height: px2vw-lg(260px);
      padding-bottom: px2vw-lg(15px);
    }

    @include md {
      min-height: px2vw-md(260px);
      padding-bottom: px2vw-md(15px);
    }

    @include sm {
      min-height: px2vw-sm(230px);
      padding-top: px2vw-sm(30px);
      padding-bottom: px2vw-sm(30px);
    }
  }

  &-card {
    @include btnEvents();
    @extend %u-dfCenterCenter;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: px2vw-xl(196px);
    background: none;
    transition: 100ms linear;
    cursor: pointer;

    @include lg {
      min-width: px2vw-lg(196px);
    }

    @include md {
      min-width: px2vw-md(196px);
    }

    @include sm {
      min-width: px2vw-sm(196px);
      width: px2vw-sm(196px) !important;
      height: px2vw-sm(196px) !important;
    }

    .checked {
      position: absolute;
      top: px2vw-xl(16px);
      right: px2vw-xl(16px);
      display: none;
      align-items: center;
      justify-content: center;
      width: px2vw-xl(24px);
      height: px2vw-xl(24px);
      background-color: var(--base-yellow);
      overflow: hidden;

      @include lg {
        top: px2vw-lg(16px);
        right: px2vw-lg(16px);
        width: px2vw-lg(24px);
        height: px2vw-lg(24px);
      }

      @include md {
        top: px2vw-md(16px);
        right: px2vw-md(16px);
        width: px2vw-md(24px);
        height: px2vw-md(24px);
      }

      @include sm {
        top: px2vw-sm(16px);
        right: px2vw-sm(16px);
        width: px2vw-sm(24px);
        height: px2vw-sm(24px);
      }

      div {
        width: px2vw-xl(9px);
        height: px2vw-xl(13px);
        margin-top: px2vw-xl(-4px);
        transform: rotate(220deg);
        border-left: 3px solid var(--base-white);
        border-top: 3px solid var(--base-white);

        @include lg {
          width: px2vw-lg(9px);
          height: px2vw-lg(13px);
          margin-top: px2vw-lg(-4px);
        }

        @include md {
          width: px2vw-md(9px);
          height: px2vw-md(13px);
          margin-top: px2vw-md(-4px);
        }

        @include sm {
          width: px2vw-sm(9px);
          height: px2vw-sm(13px);
          margin-top: px2vw-sm(-4px);
        }
      }
    }

    &.is-checked .checked {
      display: flex;
    }

    &:not(:last-child) {
      margin-right: px2vw-xl(32px);

      @include lg {
        margin-right: px2vw-lg(32px);
      }

      @include md {
        margin-right: px2vw-md(32px);
      }

      @include sm {
        margin-right: px2vw-sm(32px);
      }
    }
  }

  &-card-image {
    width: px2vw-xl(196px);
    height: px2vw-xl(196px);
    object-fit: cover;

    @include lg {
      width: px2vw-lg(196px);
      height: px2vw-lg(196px);
    }

    @include md {
      width: px2vw-md(196px);
      height: px2vw-md(196px);
    }

    @include sm {
      width: px2vw-sm(196px);
      height: px2vw-sm(196px);
    }
  }

  &-card-game {
    width: 100%;
    margin-top: px2vw-xl(24px);
    margin-bottom: 0;
    display: block;
    text-align: center;
    color: var(--base-01);

    @include lg {
      margin-top: px2vw-lg(24px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      margin-top: px2vw-md(24px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-top: px2vw-sm(24px);
      font-size: px2vw-sm(18px);
    }
  }
}

.check {
  color: var(--ui-success);
}
