@import "../../scss/shared.scss";

$success-background: #04c48c;
$info-background: #1bced8;
$error-background: #f22f55;
$promo-background: #fff;
$text-font-family: "dynasty-primary-regular", sans-serif;
$text-color: #fff;
$promo-text-color: #000;
$promo-subText-color: #8F9AA0;

:host {
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  background-color: transparent;
}

.Snack {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: px2vw-xl(14px) px2vw-xl(22px);
  &.success-message {
    background-color: $success-background;
  }

  &.info-message {
    background-color: $info-background;
  }

  &.error-message {
    background-color: $error-background;
  }

  &.promo-message{
    background-color: $promo-background;

    .Snack-text{
      color: $promo-subText-color !important;
    }
    .material-icons{
       color: $promo-text-color !important;
    }
  }

  @include lg {
    padding: px2vw-lg(14px) px2vw-lg(22px);
  }

  @include md {
    padding: px2vw-md(14px) px2vw-md(22px);
  }

  @include sm {
    padding: px2vw-sm(14px) px2vw-sm(22px);
  }

  &-text {
    flex: 1;
    font-family: $text-font-family;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(28px);
    color: $text-color;

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(28px);
    }

    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(28px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(28px);
    }
  }

  &-close-block {
    height: 100%;
    margin-left: auto;

    // @include lg {
    //   margin-left: px2vw-lg(13px);
    // }

    // @include md {
    //   margin-left: px2vw-md(13px);
    // }

    // @include sm {
    //   margin-left: px2vw-sm(13px);
    // }
  }

  &-close {
    background-color: transparent;

    .material-icons {
      font-size: px2vw-xl(20px);
      color: rgba(255, 255, 255, 0.75);

      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }
  }
}
::ng-deep {
  .mat-snack-bar-container {
    background: transparent;
    @include sm {
      margin-top: px2vw-sm(60px) !important;
    }
  }
}

.Promo{
  &-head{
    color: #000;
    font-weight: bold;
  }
  &-subTitle{
    color: #000;
    font-size: 85%;
    word-break: break-word;
    margin-bottom: 0;
  }
}
