<div [formGroup]="subForm">
  <ng-container
    *ngIf="subForm?.value?.bracketType && subForm?.value?.isParticipantsLimit"
  >
    <div class="GameConfigurations-boxA">
      <div class="GameConfigurations-boxA-item">
        <app-counter
          [title]="'TOURNAMENT.MAX_PARTICIPANT'"
          [customFormControlName]="'maxParticipants'"
          [customFormGroup]="subForm"
          (valueEmit)="
            maxParticipantHandler($event, subForm?.value?.bracketType)
          "
        >
        </app-counter>
      </div>
    </div>
    <div
      class="GameConfigurations-boxA"
      *ngIf="
        ['battle_royale', 'round_robin'].includes(subForm?.value?.bracketType)
      "
    >
      <div class="GameConfigurations-boxA-item">
        <app-counter
          [title]="'CREATE_TOURNAMENT.NUMBER_OF_TEAMS_PER_GROUP'"
          [customFormControlName]="'noOfTeamInGroup'"
          [customFormGroup]="subForm"
          (valueEmit)="
            noOfTeamsPerGroupHandler($event, subForm?.value?.bracketType)
          "
        >
        </app-counter>
      </div>
      <div class="GameConfigurations-boxA-item">
        <app-counter
          [title]="'CREATE_TOURNAMENT.WINNING_TEAMS_PER_GROUP'"
          [customFormControlName]="'noOfWinningTeamInGroup'"
          [customFormGroup]="subForm"
        >
        </app-counter>
      </div>

      <div class="GameConfigurations-boxA-item">
        <app-counter
          *ngIf="subForm?.value?.bracketType == 'battle_royale'"
          [title]="'CREATE_TOURNAMENT.NUMBER_OF_MATCH_PER_GROUP'"
          [customFormControlName]="'noOfRoundPerGroup'"
          [customFormGroup]="subForm"
        >
        </app-counter>
        <app-drop-down
          *ngIf="subForm?.value?.bracketType == 'round_robin'"
          [title]="'TOURNAMENT.NUMBER_OF_ROUND'"
          [customFormControlName]="'noOfRoundPerGroup'"
          [customFormGroup]="subForm"
          [dropdownList]="rrFormat"
          [type]="'A'"
          [enableHiddenLabel]="true"
        ></app-drop-down>
      </div>

      <div
        class="GameConfigurations-boxA-item"
        *ngIf="subForm?.value?.bracketType == 'battle_royale'"
      >
        <app-counter
          [title]="'CREATE_TOURNAMENT.STAGES'"
          [customFormControlName]="'noOfStage'"
          [customFormGroup]="subForm"
          [alertMessage]="'CREATE_TOURNAMENT.ALERT_AUTO_GENERATED' | translate"
          [readOnly]="true"
        >
        </app-counter>
      </div>
    </div>
    <ng-container *ngIf="subForm?.value?.bracketType == 'battle_royale'">
      <div class="GameConfigurations-boxA">
        <h6 class="remove-padding-left">
          {{ "TOURNAMENT.PLACEMENT_POINT_HEADING" | translate }}
        </h6>
      </div>
      <div class="GameConfigurations-boxA">
        <div class="GameConfigurations-boxA-item">
          <app-counter
            [title]="
              'CREATE_TOURNAMENT.CREATE_TOURNAMENT_NO_OF_PLACEMENT' | translate
            "
            [customFormControlName]="'noOfPlacement'"
            [customFormGroup]="subForm"
            (valueEmit)="placementCounter($event)"
          ></app-counter>
        </div>
      </div>
      <div class="GameConfigurations-boxA">
        <label class="margin-bottom">
          {{
            "CREATE_TOURNAMENT.CREATE_TOURNAMENT_INPUT_PLACEMENT" | translate
          }}
          *
        </label>
      </div>
      <div class="GameConfigurations-boxA">
        <div class="placement-list">
          <div
            class="placement-item"
            formArrayName="placementPoints"
            *ngFor="
              let item of subForm?.get('placementPoints')?.controls;
              let i = index
            "
          >
            <div class="placement-input">
              <span class="placement-input-title"> {{ i + 1 }} </span>
            </div>
            <div [formGroupName]="i" class="placement-input">
              <input
                OnlyNumber
                type="number"
                placeholder="{{
                  'CREATE_TOURNAMENT.TYPE_PLACEMENT_POINTS' | translate
                }}"
                formControlName="value"
                class="placement-input-placeholder"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="GameConfigurations-boxA">
        <div class="GameConfigurations-boxA-item">
          <app-toggle-switch
            [title]="'TOURNAMENT.KILL_POINT_HEADING'"
            [customFormControlName]="'isKillPointRequired'"
            [customFormGroup]="subForm"
            (valueEmit)="killingPointHandler($event.target.value)"
          ></app-toggle-switch>
        </div>
      </div>
      <div
        class="GameConfigurations-boxA"
        *ngIf="subForm.value.isKillPointRequired"
      >
        <div class="GameConfigurations-boxA-item">
          <app-counter
            [title]="'CREATE_TOURNAMENT.CREATE_TOURNAMENT_POINT_PER_KILL'"
            [customFormControlName]="'pointsKills'"
            [customFormGroup]="subForm"
          ></app-counter>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container
    *ngIf="
      subForm?.value?.bracketType == 'swiss_safeis' &&
      !subForm?.value?.isParticipantsLimit
    "
  >
    <div class="GameConfigurations-boxA">
      <div class="GameConfigurations-boxA-item">
        <app-counter
          data-test-id="tournament-noOfRound"
          [title]="'TOURNAMENT.NUMBER_OF_ROUND'"
          [customFormControlName]="'noOfRound'"
          [customFormGroup]="subForm"
          (valueEmit)="roundHandler($event)"
        ></app-counter>
      </div>
      <div class="GameConfigurations-boxA-item">
        <app-counter
          data-test-id="tournament-noOfRound"
          [title]="'TOURNAMENT.NUMBER_OF_LOSS'"
          [customFormControlName]="'noOfLoss'"
          [customFormGroup]="subForm"
        ></app-counter>
      </div>
      <div class="GameConfigurations-boxA-item">
        <app-toggle-switch
          data-test-id="tournament-enableTiebreaker"
          [title]="'TOURNAMENT.TIEBREAKER_RULE'"
          [customFormControlName]="'enableTiebreaker'"
          [customFormGroup]="subForm"
          [toolTipMessage]="'TOURNAMENT.TIEBREAKER_RULE_TOOLTIP'"
        >
        </app-toggle-switch>
      </div>
    </div>
    <div class="GameConfigurations-boxA">
      <div class="GameConfigurations-boxA-item">
        <app-duration-counter
          [title]="'TOURNAMENT.SET_DURATION'"
          [customFormControlName]="'setDuration'"
          [customFormGroup]="subForm"
        >
        </app-duration-counter>
      </div>
    </div>
  </ng-container>
</div>
