@import "shared";

.Discussion {
    margin-bottom: px2vw-xl(150px);

    @include lg {
      margin-bottom: px2vw-lg(150px);
    }

    @include md {
      margin-bottom: px2vw-md(150px);
    }

    @include sm {
      margin-bottom: px2vw-sm(150px);
    }

    &-title {
      margin-bottom: px2vw-xl(10px);
      // font-family: "dynasty-primary-semibold", sans-serif;

      @include lg {
        margin-bottom: px2vw-lg(10px);
        padding: 0 px2vw-lg(30px);
      }

      @include md {
        margin-bottom: px2vw-md(10px);
        padding: 0 px2vw-md(30px);
      }

      @include sm {
        margin-bottom: px2vw-sm(10px);
        padding: 0 px2vw-sm(30px);
      }
    }

    &-subtitle {
      text-align: center;
      font-size: px2vw-xl(20px);

      @include lg {
        font-size: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
      }
    }

    &-comment {
      border-radius: px2vw-xl(4px);
      overflow: hidden;

      @include lg {
        border-radius: px2vw-lg(4px);
      }

      @include md {
        border-radius: px2vw-md(4px);
      }

      @include sm {
        border-radius: px2vw-sm(4px);
      }
    }

    &-show-hide-comment {
          @extend %mesf-Text;
          margin-top: px2vw-xl(40px);
          padding: px2vw-xl(20px);
          font-family: "dynasty-primary-semibold", sans-serif;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(26px);
          background: #171616;
          border: none;
          text-transform: uppercase;
          text-align: center;
          width: 100%;
    
          @include lg {
            margin-top: px2vw-lg(40px);
            padding: px2vw-lg(20px);
            font-size: px2vw-lg(20px);
            line-height: px2vw-lg(26px);
          }
    
          @include md {
            margin-top: px2vw-md(20px);
            padding: px2vw-md(20px);
            font-size: px2vw-md(20px);
            line-height: px2vw-md(26px);
          }
    
          @include sm {
            margin-top: px2vw-sm(20px);
            padding: px2vw-sm(20px);
            font-size: px2vw-sm(20px);
            line-height: px2vw-sm(26px);
          }
    
          &::after {
            @include angle();
            position: relative;
            transform: rotate(-315deg);
            transition: transform 300ms ease-in-out;
            left: px2vw-xl(15px);
            top: px2vw-xl(-2px);
            width: px2vw-xl(14px);
            height: px2vw-xl(14px);
            border-top: none;
            border-left: none;
            border-right: px2vw-xl(3px) solid #fff;
            border-bottom: px2vw-xl(3px) solid #fff;
    
            @include lg {
              left: px2vw-lg(15px);
              top: px2vw-lg(-2px);
              width: px2vw-lg(14px);
              height: px2vw-lg(14px);
              border-right-width: px2vw-lg(3px);
              border-bottom-width: px2vw-lg(3px);
            }
    
            @include md {
              left: px2vw-md(15px);
              top: px2vw-md(-2px);
              width: px2vw-md(14px);
              height: px2vw-md(14px);
              border-right-width: px2vw-md(3px);
              border-bottom-width: px2vw-md(3px);
            }
    
            @include sm {
              left: px2vw-sm(15px);
              top: px2vw-sm(-2px);
              width: px2vw-sm(14px);
              height: px2vw-sm(14px);
              border-right-width: px2vw-sm(3px);
              border-bottom-width: px2vw-sm(3px);
            }
          }
    
          &.is-active::after {
            transform: rotate(225deg);
            top: px2vw-xl(3px);
            left: px2vw-xl(22px);
    
            @include lg {
              top: px2vw-lg(3px);
              left: px2vw-lg(22px);
            }
    
            @include md {
              top: px2vw-md(3px);
              left: px2vw-md(22px);
            }
    
            @include sm {
              top: px2vw-sm(3px);
              left: px2vw-sm(22px);
            }
          }
    }

    &-comment-list {
      background: transparent;
    }

    &-comment-item {
      display: flex;
      padding: px2vw-xl(40px) 0 px2vw-xl(50px);

      @include lg {
        padding-top: px2vw-lg(40px);
        padding-bottom: px2vw-xl(50px);
      }

      @include md {
        padding-top: px2vw-md(40px);
        padding-bottom: px2vw-md(50px);
      }

      @include sm {
        padding-top: px2vw-sm(40px);
        padding-bottom: px2vw-sm(50px);
      }

      &:last-child {
        padding-bottom: 0;
      }

      .img-player {
        flex-shrink: 0;
        width: px2vw-xl(80px);
        height: px2vw-xl(80px);
        border-radius: 50%;
        margin-right: 35px;
        background-size: cover !important;
        background-position: center !important;

        @include lg {
          width: px2vw-lg(80px);
          height: px2vw-lg(80px);
        }

        @include md {
          width: px2vw-md(80px);
          height: px2vw-md(80px);
        }

        @include sm {
          width: px2vw-sm(80px);
          height: px2vw-sm(80px);
        }
      }
      .text-msg {
        width: 100%;
        .name,
        .text {
          font-size: px2vw-xl(17px);
          line-height: px2vw-xl(22px);

          @include lg {
            font-size: px2vw-lg(18px);
            line-height: px2vw-lg(24px);
          }

          @include md {
            font-size: px2vw-md(18px);
            line-height: px2vw-md(24px);
          }

          @include sm {
            font-size: px2vw-sm(18px);
            line-height: px2vw-sm(24px);
          }
        }

        .name {
          margin-bottom: 10px;
          font-family: "dynasty-primary-medium" !important;

          @include lg {
            margin-bottom: px2vw-lg(10px);
          }

          @include md {
            margin-bottom: px2vw-md(10px);
          }

          @include sm {
            margin-bottom: px2vw-sm(10px);
          }
        }
        .text {
          margin-bottom: px2vw-xl(10px);
          color: rgba(255, 255, 255, 0.8);

          @include lg {
            margin-bottom: px2vw-lg(10px);
          }

          @include md {
            margin-bottom: px2vw-md(10px);
          }

          @include sm {
            margin-bottom: px2vw-sm(10px);
          }
        }
        .row {
          span {
            cursor: pointer;
            margin-right: px2vw-xl(20px);
            font-size: px2vw-xl(14px);

            @include lg {
              font-size: px2vw-lg(16px);
            }

            @include md {
              font-size: px2vw-md(16px);
            }

            @include sm {
              font-size: px2vw-sm(16px);
            }

            fa-icon {
              margin-right: px2vw-xl(9px);
            }
            .is-active {
              color: #da2c38;
            }
            &.reply-msg {
              font-family: "dynasty-primary-medium" !important;
            }

            &.like {
              display: flex;
              & .like-icon {
                font-size: 15px;
              } 
              & .like-text {
                font-size: 15px;
              }
            }

            &.edit {
              margin: 0;
              & .edit-icon {
                font-size: 15px;
              } 
            }

            &.delete {
              margin: 0;
              & .delete-icon {
                font-size: 15px;
              } 
            }

            &.more-replies {
              font-family: "dynasty-primary-light" !important;
              fa-icon {
                margin-right: 0;
                margin-left: px2vw-xl(20px);
              }
            }
          }
        }
      }

      .view-replies {
        display: flex;
        & .icon {
          font-size: 15px;
          cursor: pointer;
        }
        & .text {
          margin-left: px2vw-xl(-5px);
          cursor: pointer;
          font-size: 12px;
        }
      }

      app-message {
        width: 100%;
      }
    }

    &-load-more-comments {
       cursor: pointer;
    }

    &-load-more-replies {
      cursor: pointer;
    }

    .loading {
      display: flex;
      justify-content: center;
    }
}