@import "shared";

.userReport{
  & tr{
    & td{
    @extend %global-Text;
    color:var(--base-black-pearl);
    border-bottom: 1px solid var(--base-gainsboro);
    cursor: pointer;
    }
  }
}
:host ::ng-deep .ngx-datatable .datatable-body{
  display: flex;
}