@import "shared";

.brackets {
  margin: 40px;
}

carousel {
  display: block;
  margin-top: 25px;

  h4 {
    margin: 0;
    letter-spacing: 0;
    color: var(--white-medium);
    font-size: 16px;
    line-height: 21px;
    padding: 0;
  }

  slide {
    height: 60px;
  }

  .text-center {
    background: var(--white-high) !important;
    border: 1px solid var(--black);
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-high) !important;

    h4 {
      color: var(--black);
    }
  }
}

.round {
  &-edit {
    color: var(--color-primary);
  }

  &-completed {
    color: var(--color-primary);
  }
}

fa-icon {
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }
}

.content-align-right {
  text-align: end;
}

button {
  margin: 0 5px;
}

.button-row {
  margin-top: 56px;

  @media (max-width: 767px) {
    padding: 0;
  }

  button {
    width: 20%;
    height: 60px;

    @media (max-width: 767px) {
      width: 46%;
      height: 50px;
    }

    &.btn-primary {
      background: var(--black);
    }
  }
}

$color: (
  "r": var(--color-tertiary),
  "g": var(--ui-green),
);

.completed-match {
  color: map-get($color, g);
}

.active-match {
  color: map-get($color, r);
}

.loading {
  margin-top: px2vw-xl(50px);

  @include lg {
    margin-top: px2vw-lg(50px);
  }

  @include md {
    margin-top: px2vw-md(50px);
  }

  @include sm {
    margin-top: px2vw-sm(50px);
  }
}
th {
  color: var(--white-high) !important;
}
::ng-deep {
  .global-TabGroup .mat-ink-bar {
    background-color: var(--secondary-color) !important;
  }
  .mat-tab-label-content,
  .mat-tab-group {
    text-transform: none;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }
  table th,
  table tr {
    text-transform: none;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .mat-tab-label-container {
    border-bottom: 1px solid var(--midnight-express-color);
  }
  .mat-tab-label-active .mat-tab-label-content {
    color: var(--home-text-link2);
  }
}
