<div class="Report-Score" *ngIf="!isLoaded">
  <div class="Report-Score-Header">
    <!-- <div
      *ngIf="isShowReportBtn && !router.url.match('web-view')"
      class="Report-Issue"
    >
      <button
        (click)="genrateReport(match?._id)"
        *ngIf="!showResultLog"
        class="Report-Issue-Button"
      >
        <span class="Report-Issue-Text">
          {{ "ELIMINATION.REPORT_ISSUE" | translate }}
        </span>
        <span class="pl-2 pr-2"
          ><img src="./assets/icons/report_share.svg"
        /></span>
      </button>
    </div> -->
    <!-- <button *ngIf="!showResultLog && !enableWebview "
      (click)="chatFunction(match?._id)"
      class="Report-Issue-Button-chat Report-Issue-Text"
    >
      {{ "ELIMINATION.CHAT.TITLE" | translate }}

      <span class="material-icons chat-icon-margin"> chat </span>
    </button> -->
    <!-- <lib-esportschat
      #chatcomponent
      *ngIf="isBrowser"
      [matchdetails]="matchdetails"
      [showChatComponent]="showChat"
      [typeofchat]="typeofchat"
    ></lib-esportschat> -->
    <!-- <div *ngIf="matchDetails && !enableWebview && isShowChat">
      <lib-esportschatwindow
        [matchdetails]="matchDetails"
      ></lib-esportschatwindow>
    </div> -->

    <!-- <div *ngIf="matchDetails && !enableWebview && !showResultLog && showLog">
      <lib-esportschatlog
        [matchDetails]="matchDetails"
        [chats]="chats"
        (submit)="onChatClick($event)"
      ></lib-esportschatlog>
    </div> -->
    <button *ngIf="user?.accountType == 'admin' || currentUserID == tournamentOrganiserID"
      class="Resultlog"
      (click)="!logButton.status ? getMatchResultLogs() : resetLogButton()"
    >
      {{
        logButton.status
          ? ("ELIMINATION.RESULT_LOGS.BUTTON2" | translate)
          : ("ELIMINATION.RESULT_LOGS.BUTTON1" | translate)
      }}
    </button>
  </div>
  <ng-container *ngIf="!showResultLog; else logs">
    <div class="Report-Score-Body">
      <div class="Report-Score-Table">
        <view-team
          [teamA]="matchDetails?.teamA"
          [teamB]="matchDetails?.teamB"
          [hasDisqualified]="!!matchDetails?.disQualifiedTeam?.team"
        >
        </view-team>
        <view-set
          *ngFor="let s of matchDetails?.sets; let i = index"
          [matchSet]="s"
          [setIndex]="i"
          [teamA]="matchDetails?.teamA"
          [teamB]="matchDetails?.teamB"
          [hasEoORAdminUpdateAccess]="
            isEventOrganizerOrAdmin && ( !isLadderTournament ? !matchDetails?.isNextMatchStart : true )
          "
          [hasParticipantUpdateAccess]="
            ![matchDetails?.matchStatus, s?.status].includes('completed') &&
            (isLadderTournament || tournament?.scoreReporting == 2)
          "
          [enableScreenshot]="tournament?.isScreenshotRequired"
          [params]="{
            participantId: participantId,
            isScoreUpdatedByParticipant:
              matchDetails?.isScoreUpdatedByParticipant,
            scoreUpdateByParticipant: matchDetails?.scoreUpdateByParticipant,
            matchUpdatedByTeamACount: matchDetails?.matchUpdatedByTeamACount,
            matchUpdatedByTeamBCount: matchDetails?.matchUpdatedByTeamBCount
          }"
          [hasDisqualified]="!!matchDetails?.disQualifiedTeam?.team"
          (updatedSet)="getUpdatedSet($event, i)"
          (submitScore)="saveSetScore($event, s)"
          (refreshScoreBoard)="refreshScoreBoard($event)"
        >
        </view-set>
      </div>

      <div class="Report-Score-Disqualify" *ngIf="isEventOrganizerOrAdmin">
        <p class="Report-Score-Disqualify-Text">
          {{ "ELIMINATION.DISQUALIFY_TITLE" | translate }}
        </p>
        <div class="Report-Score-Disqualify-Table">
          <div class="Report-Score-Disqualify-Table-Cell">
            <select
              class="form-control Report-Score-Drop-Down"
              [(ngModel)]="disQualifiedTeam.team"
            >
              <option value="null" selected disabled *ngIf="tournament?.participantType=='individual'">
                {{ "ELIMINATION.SELECT_PLAYER" | translate }}

              </option>
              <option value="null" selected disabled *ngIf="tournament?.participantType=='team'">
                {{ "ELIMINATION.SELECT_TEAM" | translate }}

              </option>
              <option *ngFor="let team of teamList" [value]="team?._id">
                {{ team.teamName | limitString: 12:"..." }}
              </option>
            </select>
          </div>
          <div class="Report-Score-Disqualify-Table-Cell">
            <select
              class="form-control Report-Score-Drop-Down"
              [(ngModel)]="disQualifiedTeam.reason"
            >
              <option value="" selected disabled>
                {{ "ELIMINATION.SELECT_REASON" | translate }}
              </option>
              <option *ngFor="let option of disQualifyStatus" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
          <div class="Report-Score-Disqualify-Table-Cell">
            <button
              type="submit"
              class="global-EditBtn dark-text tab-content"
              (click)="disqualify()"
            >
              {{ "BUTTON.SUBMIT" | translate }}
            </button>
          </div>
        </div>
      </div>

      <match-final-result
        *ngIf="matchDetails?.matchStatus == 'completed'"
        [match]="matchDetails"
        [pType]="tournament?.participantType"
      >
      </match-final-result>
    </div>
    <div class="Report-Score-Footer">
      <button
        type="submit"
        class="global-EditBtn dark-text tab-content"
        (click)="exitFromPage()"
      >
        {{ "BUTTON.BACK" | translate }}
      </button>
    </div>
  </ng-container>
  <ng-template #logs>
    <div class="global-scrollbar">
      <ngx-datatable
        [rows]="logRowData"
        [columnMode]="'flex'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [limit]="5"
        class="global-DataTable"
      >
        <ngx-datatable-column
          name="{{ 'ELIMINATION.RESULT_LOGS.TABLE_HEADER.TIME' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.createdAt | date: "medium" }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'ELIMINATION.RESULT_LOGS.TABLE_HEADER.ROUND' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.setId }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'ELIMINATION.RESULT_LOGS.TABLE_HEADER.TEAMA' | translate }}"
          [flexGrow]="1.5"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.teamA.name }} <br />
            {{ row.teamA.inGamerUserId }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'ELIMINATION.RESULT_LOGS.TABLE_HEADER.TEAMB' | translate }}"
          [flexGrow]="1.5"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.teamB.name }} <br />
            {{ row.teamB.inGamerUserId }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'ELIMINATION.RESULT_LOGS.TABLE_HEADER.SCORE' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.teamAscore || 0}} : {{ row.teamBscore || 0 }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ELIMINATION.RESULT_LOGS.TABLE_HEADER.UPDATED_BY' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.createdBy.username }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </ng-template>
</div>
<esports-loading *ngIf="isLoaded"></esports-loading>
