<section *ngIf="isLoaded">
  <div class="add-section">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div ngbDropdown class="dropdown-language">
          <button class="form-control" ngbDropdownToggle>
            {{ currLanguageDisplay | titlecase }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              (click)="changeLocalLanguage(l)"
              ngbDropdownItem
              *ngFor="let l of language"
            >
              {{ l?.value | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="videoLibraryForm" class="form-container">
      <div class="row">
        <div class="col-lg-6 col-md-6" formGroupName="title">
          <div
            class="form-group"
            *ngFor="let l of language"
            [hidden]="currLangauge !== l?.key"
          >
            <input
              type="text"
              [formControlName]="l?.key"
              name=""
              class="form-control"
            />
            <label
              for="usr"
              class="labeltext"
              [class.active]="videoLibraryForm?.controls?.title?.value"
              >{{ "VIDEO.FORM.TITLE" | translate }} *</label
            >
            <!-- <div class="edit-icon">
              <img src="/assets/images/articles/edit.svg" alt="edit" />
            </div> -->
            <div
              class="error"
              *ngIf="
                videoLibraryForm?.controls?.title?.touched &&
                videoLibraryForm?.controls?.title?.errors?.required
              "
            >
              <strong>{{ "VIDEO.REQUIRED.TITLE" | translate }}</strong>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="form-group">
            <input
              type="text"
              formControlName="youtubeUrl"
              name=""
              class="form-control"
            />
            <label for="usr" class="labeltext" [class.active]="true"
              >{{ "VIDEO.FORM.YOUTUBE_URL" | translate }} *</label
            >
            <!-- <div class="edit-icon">
              <img src="/assets/images/articles/edit.svg" alt="edit" />
            </div> -->
            <div
              class="error"
              *ngIf="
                videoLibraryForm?.controls?.youtubeUrl?.touched &&
                videoLibraryForm?.controls?.youtubeUrl?.errors?.required
              "
            >
              <strong>{{ "VIDEO.REQUIRED.YOUTUBE_URL" | translate }}</strong>
            </div>
            <div
              class="error"
              *ngIf="
                videoLibraryForm?.controls?.youtubeUrl?.touched &&
                videoLibraryForm?.controls?.youtubeUrl?.errors?.invalidUrl
              "
            >
              <strong>{{
                "VIDEO.REQUIRED.YOUTUBE_URL_INVALID" | translate
              }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" formGroupName="description">
          <div
            class="form-group"
            *ngFor="let l of language"
            [hidden]="currLangauge !== l?.key"
          >
            <textarea
              id="description"
              type="text"
              [formControlName]="l?.key"
              rows="3"
              class="form-control"
            ></textarea>
            <label
              for="usr"
              class="labeltext"
              [class.active]="videoLibraryForm?.controls?.description?.value"
              >{{ "VIDEO.FORM.DESCRIPTION" | translate }} *</label
            >
            <div
              class="error"
              *ngIf="
                videoLibraryForm?.controls?.description?.touched &&
                videoLibraryForm?.controls?.description?.errors?.required
              "
            >
              <strong>{{ "VIDEO.REQUIRED.DESCRIPTION" | translate }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_CATEGORY'"
            [customFormControlName]="'category'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="categoryList"
            [type]="'E'"
          >
          </app-drop-down>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_GAME'"
            [customFormControlName]="'game'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="gameList"
            [type]="'E'"
            (valueEmit)="onChangePlatform($event, gameList)"
          >
          </app-drop-down>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_TAGS'"
            [customFormControlName]="'tags'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="tagsList"
            [type]="'F'"
          >
          </app-drop-down>
          <div class="row">
            <div
              class="selected-tags cursor d-flex flex-row justify-content-between"
              *ngFor="let tag of videoLibraryForm.value.tags"
            >
              <span>{{ tag | nameById: "name":tagsList }}</span>
              <span
                (click)="removeItem('tags', tag)"
                class="CVL-cross-mark ml-3"
                >X</span
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_PLATFORM'"
            [customFormControlName]="'platforms'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="platformList"
            [type]="'F'"
          >
          </app-drop-down>
          <div class="row">
            <div
              class="selected-tags cursor d-flex flex-row justify-content-between"
              *ngFor="let platform of videoLibraryForm.value.platforms"
            >
              <span>{{ platform | nameById: "name":platformList }}</span>
              <span
                (click)="removeItem('platforms', platform)"
                class="CVL-cross-mark ml-3"
                >X</span
              >
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_GENRE'"
            [customFormControlName]="'genres'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="genreList"
            [type]="'F'"
          >
          </app-drop-down>
          <div class="row">
            <div
              class="selected-tags cursor d-flex flex-row justify-content-between"
              *ngFor="let genre of videoLibraryForm.value.genres"
            >
              <span>{{ genre | nameById: "name":genreList }}</span>
              <span
                (click)="removeItem('genres', genre)"
                class="CVL-cross-mark ml-3"
                >X</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row btn-align">
        <ng-container *ngIf="!isProcessing; else spinner">
          <button
            type="submit"
            class="btn global-btn-black"
            [routerLink]="AppHtmlProfileRoutes.myContent"
            [queryParams]="{ activeTab: 'video-library' }"
          >
            {{ "BUTTON.CANCEL" | translate }}
          </button>
          <button
            type="submit"
            class="btn global-btn-yellow"
            (click)="submit()"
          >
            {{ "BUTTON.SAVE" | translate }}
          </button>
        </ng-container>
        <ng-template #spinner>
          <button class="btn-primary spinner_pointer_event_none">
            <mat-spinner [diameter]="20"></mat-spinner>
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</section>
<app-fullscreen-loading *ngIf="!isLoaded"></app-fullscreen-loading>
