@import "shared";

.Admin {
  height: 100vh;
  display: flex;
  flex-flow: column;

  &-sidenavContainer {
    flex: 1;
  }

  &-main {
    background-color: #fbfbfb;
    padding: 2.472222vw;

    @include lg {
      padding: px2vw-lg(50px);
    }

    @include md {
      padding: px2vw-md(30px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }
}
::ng-deep {
  .global-TabGroup .mat-tab-label {
    font-size: 14px;
    opacity: 1;
    font-family: "Archivo";
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .global-DataTable datatable-body-row,
  .global-DataTable datatable-header {
    border-bottom: 1px solid #ecebeb;
    cursor: default;
  }
  .Navigation pagination .pagination-prev.page-item,
  .Navigation pagination .pagination-next.page-item,
  .Navigation pagination .page-item .page-link {
    border-color: #00000059 !important;
    background-color: transparent;
    margin: 0 0.5555555556vw;
    height: 3.0555555556vw;
    width: 3.0555555556vw;
    font-weight: bold;
    color: #030303 !important;
  }
  .Navigation pagination .pagination-prev.page-item .page-link::before,
  .Navigation pagination .pagination-next.page-item .page-link::before {
    position: absolute;
    content: "";
    display: inline-block;
    border: 0.2777777778vw solid #797676 !important;
    border-right: none !important;
    border-bottom: none !important;
    width: 10px !important;
    height: 10px !important;
  }
  .mat-checkbox .mat-checkbox-frame {
    border-color: rgb(162 161 161 / 38%) !important;
  }
  .datatable-body-cell:first-child .datatable-body-cell-label,
  .global-H6 {
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-size: 14px !important;
  }
  .TeamManagement-title {
    margin-bottom: 1.472222vw !important;
  }
  .global-H3 {
    font-size: 1.75vw !important;
    line-height: 2.888889vw !important;
  }
  .ViewUserAccessPopup {
    padding: 1.3888888889vw;
    background-color: #fff;
  }
  .ViewUserAccessPopup-access h2 {
    margin: 0 1.6666666667vw 0 0;
    width: 2.7777777778vw;
    height: 2.7777777778vw;
    font-size: 0.9722222222vw;
    color: #323332 !important;
    background: var(--color-primary);
    border-radius: 50%;
  }
}
