@import "shared";
.heading {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 11px 0;

  @include xl {
    padding: px2vw-xl(11px) px2vw-xl(0px);
  }

  @include lg {
    padding: px2vw-lg(11px) px2vw-lg(0px);
  }

  @include md {
    padding: px2vw-md(11px) px2vw-md(0px);
  }

  @include sm {
    padding: px2vw-sm(11px) px2vw-sm(0px);
  }
  .box-avatar {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    z-index: 1;

    @include xl {
      margin-right: px2vw-xl(15px);
      width: px2vw-xl(40px);
      height: px2vw-xl(40px);
    }

    @include lg {
      margin-right: px2vw-lg(15px);
      width: px2vw-lg(40px);
      height: px2vw-lg(40px);
    }

    @include md {
      margin-right: px2vw-md(15px);
      width: px2vw-md(40px);
      height: px2vw-md(40px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      width: px2vw-sm(40px);
      height: px2vw-sm(40px);
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 100px;
      object-fit: cover;
    }
    .icon-avatar {
      z-index: 2;
      position: absolute;
      max-width: 20px;
      left: 2em;
      top: 2em;

      @include xl {
        max-width: px2vw-xl(20px);
      }

      @include lg {
        max-width: px2vw-lg(20px);
      }

      @include md {
        max-width: px2vw-md(20px);
      }

      @include sm {
        max-width: px2vw-sm(20px);
      }
    }
  }
  .box-info {
    width: 92%;
    .name {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      .text {
        font-style: normal;
        font-weight: 700;
        font-family: "Archivo";
        line-height: 24px;
        font-size: 14px;
        color: var(--white-medium);
        letter-spacing: 0.1px;

        @include xl {
          line-height: px2vw-xl(24px);
          font-size: px2vw-xl(14px);
        }

        @include lg {
          line-height: px2vw-lg(24px);
          font-size: px2vw-lg(14px);
        }

        @include md {
          line-height: px2vw-md(24px);
          font-size: px2vw-md(14px);
        }

        @include sm {
          line-height: px2vw-sm(24px);
          font-size: px2vw-sm(14px);
        }
        a {
          color: var(--white-high);
        }
      }
    }
    .btn-open-action {
      padding: 0;
    }
  }
  .icon_images {
    position: absolute;
    float: right;
    z-index: 2;
    right: 0;
    padding: 6px 17px;

    @include xl {
      padding: px2vw-xl(6px) px2vw-xl(17px);
    }

    @include lg {
      padding: px2vw-lg(6px) px2vw-lg(17px);
    }

    @include md {
      padding: px2vw-md(6px) px2vw-md(17px);
    }

    @include sm {
      padding: px2vw-sm(6px) px2vw-sm(17px);
    }
  }
}
.time-online-and-action {
  display: block;
  line-height: 1;
  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: var(--white-disabled);
    font-family: "redhat-regular";
    letter-spacing: 0.2px;

    @include xl {
      font-size: px2vw-xl(12px);
    }

    @include lg {
      font-size: px2vw-lg(12px);
    }

    @include md {
      font-size: px2vw-md(12px);
    }

    @include sm {
      font-size: px2vw-sm(12px);
    }
  }
  .icon {
    margin-left: 8px;

    @include xl {
      margin-left: px2vw-xl(8px);
    }

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }
  }
}
