@import "shared";

.Team {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--white-high);
  height: 31px;
  padding: 2px 5px;
  border: 0;
  width: 217px;
  border: 1px solid var(--black-medium);

  &-disq {
    text-decoration: line-through var(--color-primary);
  }

  &-avatar {
    margin: 35px 0;
    height: 27px;
    width: 27px;
    background-color: var(--black-medium);
    display: inline-block;
    flex-shrink: 1;
    cursor: pointer;
  }

  &-title {
    font-weight: lighter;
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    margin-left: 20px;
    color: var(--black);
    font-size: 12px;
    line-height: 16px;
  }

  &-set-score {
    text-align: initial;
    margin: 0;
  }
}
