<app-header-spark
  [currentPageLink]="AppHtmlRoutes.play"
  [title]="'CREATE_TOURNAMENT.SELECT_TYPE.HEADER_TITLE' | translate"
></app-header-spark>

<div
  class="SelectType"
  lazyLoad="assets/images/create-tournament/select-type-bg.png"
>
  <div class="SelectType-container u-wp">
    <main class="SelectType-main">

      <h1 class="SelectType-title">
        {{ "CREATE_TOURNAMENT.SELECT_TYPE.TITLE" | translate }}
      </h1>

      <div class="SelectType-cards">
        <!-- QUICK TOURNAMENT CARD -->
        <div (click)="selectType(0)" class="SelectType-card">
          <div class="SelectType-card-content">
            <div class="SelectType-card-image-block">
              <span
                class="SelectType-card-image card-image"
                inlineSVG="assets/icons/create-tournament/joystick.svg"
              ></span>
            </div>
            <h3 class="SelectType-card-title card-title">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TITLE_QUICK" | translate }}
            </h3>
            <p class="SelectType-card-text card-text">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TEXT_QUICK" | translate }}
            </p>
          </div>

          <footer class="SelectType-card-footer">
            <div class="SelectType-card-info card-info">
              <img
                class="SelectType-card-info-icon"
                lazyLoad="assets/global-images/p-logo.svg"
                alt="icon"
              />
              <p class="SelectType-card-info-text">
                {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SUBTEXT_START_QUICK" | translate }}
                <span class="points">
                  {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SUBTEXT_VALUE_QUICK" | translate }}
                </span>
                {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SPARK_POINTS" | translate }}
              </p>
            </div>

            <div class="SelectType-card-setup card-setup">
              <p class="SelectType-card-setup-text">
                {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SETUP_TIME_QUICK" | translate }}
              </p>
              <mat-icon class="SelectType-card-setup-icon">
                arrow_forward
              </mat-icon>
            </div>
          </footer>
        </div>

        <!-- ADVANCE TOURNAMENT CARD -->
        <div (click)="selectType(1)" class="SelectType-card">
          <div class="SelectType-card-content">
            <div class="SelectType-card-image-block">
              <span
                class="SelectType-card-image card-image"
                inlineSVG="assets/icons/create-tournament/prize.svg"
              ></span>
            </div>
            <h3 class="SelectType-card-title card-title">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TITLE_ADVANCE" | translate }}
            </h3>
            <p class="SelectType-card-text card-text">
              {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.TEXT_ADVANCE" | translate }}
            </p>
          </div>

          <footer class="SelectType-card-footer">
            <div class="SelectType-card-info card-info">
              <img
                class="SelectType-card-info-icon"
                lazyLoad="assets/global-images/p-logo.svg"
                alt="icon"
              />
              <p class="SelectType-card-info-text">
                {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SUBTEXT_START_ADVANCE" | translate }}
                <span class="points">
                  {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SUBTEXT_VALUE_ADVANCE" | translate }}
                </span>
                {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SPARK_POINTS" | translate }}
              </p>
            </div>

            <div class="SelectType-card-setup card-setup">
              <p class="SelectType-card-setup-text">
                {{ "CREATE_TOURNAMENT.SELECT_TYPE.CARD.SETUP_TIME_ADVANCE" | translate }}
              </p>
              <mat-icon class="SelectType-card-setup-icon">
                arrow_forward
              </mat-icon>
            </div>
          </footer>
        </div>
      </div>
    </main>
  </div>
</div>
