@import "shared";
.switch-text-label {
    vertical-align: top;
    margin-right: 0.5em;
    position: relative;
}

.form-group {
    height: 100%;
    max-height: 38px;

 .form-check {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .form-check-label {
        font-size: 16px;
        margin-right: 16px;
        line-height: 21px;
        color: var(--textcolor);
        padding: 0;

        @include sm {
          font-size: 12px;
          display: flex;
          margin-right:auto;
        }  
    }

    @media (max-width: 992px) {
      .form-check-label  {
        font-size: 12px;
        display: flex;
        margin-right:auto;
      }
    }
    img {
        width: 13px;
        margin-right: 10px;
    }
    @include sm {
      display: flex;
      justify-content: space-between;
      margin-right:auto;
    }
 }
}

// .prize-block {
//   margin-top: 60px;
//   .form-check {
//     display: flex;
//     align-items: center;
//     padding-left: 32px;
//     label {
//       padding: 0;
//       margin: 0;
//       font-size: 20px;
//       line-height: 26px;
//       margin-right: 18px;
//       text-transform: uppercase;
//     }
//   }
// }

/* toggle button */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    border-radius: 167px;
    width: 45px;
    height: 25px;
    margin-bottom: 0;
  }
  .switch-text-label {
    vertical-align: top;
    margin-right: 0.5em;
    position: relative;

    @include sm {
      display: flex;
      justify-content: space-between;
      margin-right:auto;
    }
  }
  @media (max-width: 992px) {
    .switch-text-label  {
      font-size: 12px;
      display: flex;
      margin-right:auto;
    }
  }
  .form-check {
    margin-left: 0;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondarybtnbgcolor);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 19px;
    left: 5px;
    bottom: 4px;
    background-color: var(--textcolor);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: var(--orange-color-main);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  