@import "shared";

$--ViewArticleV2-host-background: var(--white-high);
$--ViewArticleV2-trending-background: var(--white-high);

:host {
  background: $--ViewArticleV2-host-background;
  display: block;
}

.ViewArticleV2 {
  padding: px2vw-xl(75px) 0 px2vw-xl(149px);

  @include lg {
    padding: px2vw-lg(75px) 0 px2vw-lg(149px);
  }

  @include md {
    padding: px2vw-md(75px) 0 px2vw-md(149px);
  }

  @include sm {
    padding: px2vw-sm(75px) 0 px2vw-sm(149px);
  }

  &-top {
    position: relative;

    &-jumbotron {
      margin-bottom: px2vw-xl(37px);

      @include lg {
        order: 3;
        margin-bottom: px2vw-lg(37px);
      }

      @include md {
        margin-bottom: px2vw-md(37px);
      }

      @include sm {
        margin-bottom: px2vw-sm(37px);
      }
    }
  }

  &-trending {
    background: $--ViewArticleV2-trending-background;
    border-top: px2vw-xl(1px) solid var(--black);
    padding: px2vw-xl(56px) 0 px2vw-xl(113px);

    @include lg {
      border-width: px2vw-lg(1px);
      padding: px2vw-lg(50px) 0;
    }

    @include md {
      border-width: px2vw-md(1px);
      padding: px2vw-md(50px) 0;
    }

    @include sm {
      border-width: px2vw-sm(1px);
      padding: px2vw-sm(50px) 0;
    }

    &-title {
      margin-bottom: px2vw-xl(55px);
      text-align: center;
      position: relative;

      @include lg {
        margin-bottom: px2vw-lg(55px);
      }

      @include md {
        margin-bottom: px2vw-md(55px);
      }

      @include sm {
        margin-bottom: px2vw-sm(55px);
      }
    }

    &-item {
      margin-bottom: px2vw-xl(60px);
      width: 24.5%;

      @include lg {
        margin-bottom: px2vw-lg(60px);
        width: 32.5%;
      }

      @include md {
        margin-bottom: px2vw-md(60px);
        width: 49%;
      }

      @include sm {
        margin-bottom: px2vw-sm(60px);
        width: 100%;
      }
    }
  }

  &-back {
    @extend %u-dfCenterBtw;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include sm {
      display: none;
    }

    img {
      margin-right: 16px;
      margin-bottom: 2px;
    }
  }
}
