<div class="ct-HeaderTop">
  <div class="SelectPlatform">
    <div class="SelectPlatform-container">
      <h2 class="SelectPlatform-title global-Title3">
        {{ "CREATE_TOURNAMENT.SELECT_PLATFORM.TITLE" | translate }}
      </h2>
      <div class="ss-dlect-platform">
        <a class="SelectTeams_header_link">
          {{
          "CREATE_TOURNAMENT.SELECT_PLATFORM.HEADER_LINK.PLATFORM" | translate
          }}
        </a>
        <ul class="lists-cards">
          <li class="item" *ngFor="let platform of eSportsTournamentService?.getPlatformList"
            (click)="onSelectPlatform(platform?._id)" [class.active]="platform?._id === Step3?.value?.platform">
            <span class="SelectPlatform-card-icon icon" [inlineSVG]="platform?.name | platformPipe"></span>

            <p class="SelectPlatform-card-text text global-Text">
              {{ platform.name }}
            </p>
          </li>
        </ul>
      </div>
      <div class="ss-tournament-type">
        <a class="SelectTeams_header_link">
          {{
          "CREATE_TOURNAMENT.SELECT_PLATFORM.HEADER_LINK.TOURNAMENT_TYPE"
          | translate
          }}
        </a>
        <ul class="lists-cards" *ngIf="gametype.length">
          <li class="item" (click)="setPlatform2(i)" [class.active]="selectedPlatformIndex1 == i"
            *ngFor="let platform of gametype; let i = index">
            <span class="SelectPlatform-card-icon icon" [class]="platform.type" [inlineSVG]="platform.icon"></span>
            <p class="SelectPlatform-card-text text global-Text">
              {{ platform.name | translate }}
            </p>
          </li>
        </ul>
        <div [class]="
            valuePlatform2 === 1
              ? 'SelectPlatform-team-tournament-type active'
              : 'SelectPlatform-team-tournament-type'
          ">
          <div class="heading">
            <h4 class="title">
              {{
              "CREATE_TOURNAMENT.SELECT_PLATFORM.TEAM_OPTION.TITLE"
              | translate
              }}
            </h4>
          </div>
          <a class="SelectTeams_header_link">
            {{
            "CREATE_TOURNAMENT.SELECT_PLATFORM.HEADER_LINK.TEAM_FORMAT"
            | translate
            }}
          </a>
          <div ngbDropdown class="SelectPlatform-teamDropdown">
            <div class="SelectPlatform-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem *ngFor="let item of dataTeamDropdownItem" (click)="clickChange(item.text)"
                [ngClass]="{ 'active' : activeButton == item.text }">
                {{ item.text }}
                <span>{{ item.subText }}</span>
              </button>
              <div class="input-groud" *ngIf="activeButton == 'X vs X'">
                <label for="" class="vsPlaying" title="X vs X">X vs X</label>
                <app-tournament-numberplayer [customFormGroup]="Step3" [label]="false"></app-tournament-numberplayer>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="SelectPlatform-switcher-container">
        <app-page-switcher [step]="Step3?.value?.step" (onStepChange)="onStepChange($event)"></app-page-switcher>
      </div>
    </div>
  </div>
