<div class="ct-HeaderTop">
  <div class="BracketType u-wp">
    <div class="BracketType-container">
      <h2 class="BracketType-title global-Title3">
        Finally, tell us your tournament type
      </h2>

      <ul class="BracketType-cards">
        <li
          class="BracketType-card"
          *ngFor="let b of eSportsTournamentService?.getBracketTypes | keyvalue"
          [hidden]="!b.value"
          (click)="onSelectBracketType(b?.key)"
          [class.is-active]="b?.key === Step4?.value?.bracketType"
        >
          <div class="BracketType-card-image-block">
            <img
              class="BracketType-card-image"
              [src]="b?.key | bracketPipe"
              [alt]="b?.key | bracket | translate"
            />
          </div>

          <p class="BracketType-card-text text global-Text">
            {{ b?.key | bracket | translate }}
          </p>
        </li>
      </ul>

      <div
        class="BracketType-participant-limit"
        *ngIf="Step4?.value?.bracketType && Step4?.value?.isParticipantsLimit"
      >
        <app-counter
          [title]="'TOURNAMENT.MAX_PARTICIPANT'"
          [customFormControlName]="'maxParticipants'"
          [customFormGroup]="Step4"
          (valueEmit)="maxParticipantHandler($event, Step4?.value?.bracketType)"
        >
        </app-counter>
      </div>

      <ng-container *ngIf="multiStage.includes(Step4?.value?.bracketType)">
        <div class="BracketType-participant-rule">
          <div class="BracketType-block-margin">
            <app-counter
              [title]="'CREATE_TOURNAMENT.NUMBER_OF_TEAMS_PER_GROUP'"
              [customFormControlName]="'noOfTeamInGroup'"
              [customFormGroup]="Step4"
              (valueEmit)="
                noOfTeamsPerGroupHandler($event, Step4?.value?.bracketType)
              "
            >
            </app-counter>
          </div>
          <div class="BracketType-block-margin">
            <app-counter
              [title]="'CREATE_TOURNAMENT.WINNING_TEAMS_PER_GROUP'"
              [customFormControlName]="'noOfWinningTeamInGroup'"
              [customFormGroup]="Step4"
            >
            </app-counter>
          </div>
          <div class="BracketType-block-margin">
            <app-counter
              *ngIf="Step4?.value?.bracketType == 'battle_royale'"
              [title]="'CREATE_TOURNAMENT.NUMBER_OF_MATCH_PER_GROUP'"
              [customFormControlName]="'noOfRoundPerGroup'"
              [customFormGroup]="Step4"
            >
            </app-counter>
            <app-drop-down
              *ngIf="Step4?.value?.bracketType == 'round_robin'"
              [title]="'TOURNAMENT.NUMBER_OF_ROUND'"
              [customFormControlName]="'noOfRoundPerGroup'"
              [customFormGroup]="Step4"
              [dropdownList]="rrFormat"
              [type]="'A'"
              [enableHiddenLabel]="true"
            ></app-drop-down>
          </div>
          <div
            class="BracketType-block-margin"
            *ngIf="Step4?.value?.bracketType == 'battle_royale'"
          >
            <app-counter
              data-test-id="tournament-noOfRoundPerGroup-noOfStage"
              [title]="'CREATE_TOURNAMENT.STAGES'"
              [customFormControlName]="'noOfStage'"
              [customFormGroup]="Step4"
              [alertMessage]="
                'CREATE_TOURNAMENT.ALERT_AUTO_GENERATED' | translate
              "
              [readOnly]="true"
            >
            </app-counter>
          </div>
        </div>
        <div
          class="BracketType-battle-royale-rule"
          *ngIf="Step4?.value?.bracketType == 'battle_royale'"
        >
          <h6>
            {{ "TOURNAMENT.PLACEMENT_POINT_HEADING" | translate }}
          </h6>
          <div class="placement-position">
            <app-counter
              [title]="'CREATE_TOURNAMENT.CREATE_TOURNAMENT_NO_OF_PLACEMENT'"
              [customFormControlName]="'noOfPlacement'"
              [customFormGroup]="Step4"
              (valueEmit)="placementCounter($event)"
            ></app-counter>
          </div>
          <div>
            <label>
              {{
                "CREATE_TOURNAMENT.CREATE_TOURNAMENT_INPUT_PLACEMENT"
                  | translate
              }}
              *
            </label>
            <div class="placement-list">
              <div
                class="placement-item"
                formArrayName="placementPoints"
                *ngFor="
                  let item of Step4.get('placementPoints')?.controls;
                  let i = index
                "
              >
                <div class="placement-input">
                  <span class="placement-input-title"> {{ i + 1 }} </span>
                </div>
                <div [formGroupName]="i" class="placement-input">
                  <input
                    OnlyNumber
                    type="number"
                    placeholder="{{
                      'CREATE_TOURNAMENT.TYPE_PLACEMENT_POINTS' | translate
                    }}"
                    formControlName="value"
                    class="placement-input-placeholder"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="Step4?.value?.bracketType == 'battle_royale'"
          class="BracketType-battle-royale-killPoint-rule"
        >
          <div>
            <app-toggle-switch
              [title]="'TOURNAMENT.KILL_POINT_HEADING'"
              [customFormControlName]="'isKillPointRequired'"
              [customFormGroup]="Step4"
              (valueEmit)="killingPointHandler($event.target.value)"
            ></app-toggle-switch>
          </div>
          <div *ngIf="Step4.value.isKillPointRequired">
            <app-counter
              [title]="'CREATE_TOURNAMENT.CREATE_TOURNAMENT_POINT_PER_KILL'"
              [customFormControlName]="'pointsKills'"
              [customFormGroup]="Step4"
            ></app-counter>
          </div>
        </div>
      </ng-container>
      <div
        class="BracketType-swiss"
        *ngIf="Step4?.value?.bracketType == 'swiss_safeis'"
      >
        <div>
          <app-counter
            [title]="'TOURNAMENT.NUMBER_OF_ROUND'"
            [customFormControlName]="'noOfRound'"
            [customFormGroup]="Step4"
            (valueEmit)="roundHandler($event)"
          ></app-counter>
        </div>
        <div>
          <app-counter
            [title]="'TOURNAMENT.NUMBER_OF_LOSS'"
            [customFormControlName]="'noOfLoss'"
            [customFormGroup]="Step4"
          ></app-counter>
        </div>
        <div>
          <app-toggle-switch
            [title]="'TOURNAMENT.TIEBREAKER_RULE'"
            [customFormControlName]="'enableTiebreaker'"
            [customFormGroup]="Step4"
            [toolTipMessage]="'TOURNAMENT.TIEBREAKER_RULE_TOOLTIP'"
          >
          </app-toggle-switch>
        </div>
        <div>
          <app-duration-counter
            [title]="'TOURNAMENT.SET_DURATION'"
            [customFormControlName]="'setDuration'"
            [customFormGroup]="Step4"
          >
          </app-duration-counter>
        </div>
      </div>
    </div>

    <div class="BracketType-swithcer-container">
      <app-page-switcher
        [step]="Step4?.value?.step"
        (onStepChange)="onStepChange($event)"
      ></app-page-switcher>
    </div>
  </div>
</div>
