@import "shared";

.purchaseSummary {
  @include md {
    margin-top: 37.27px;
  }
  &-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    background-image: url(../../../../../assets/images/card-wallet.svg);
    width: 100%;
    height: 181px;
  }
  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--tolopea-medium-color);
    padding: 15.71px 0;
  }
  &-content {
    &-row {
      padding: 18.81px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--tolopea-medium-color);
        max-width: 300px;
        width: 100%;
      }
      &-value {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: right;
        color: var(--full-white);
      }
      &.total {
        padding: 24px 0;
        border-top: 1px solid var(--midnight-express-color);
        .purchaseSummary-content-row-title,
        .purchaseSummary-content-row-value {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }
  &-viewBtn {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color);
  }
}
