@import "shared";
@import "variables";

.ngtt-se__match-component-container {
  display: flex;
  margin-right: 10px;
  margin-bottom: 24px;
  align-items: center;
  padding-top: 25px;
  background-color: $ngtt-match-container-background;
}

.ngtt-se__bracket-wrapper {
  display: flex;
  flex-direction: row;
}

.ngtt-se__round-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.ngtt-se__match-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  height: auto;

  & > .line {
    display: flex;
    flex-grow: 1;
    position: absolute;
    right: 0;
    content: "";
    width: 14px;
    height: 50%;
    border-right: 1px solid var(--base-black-pearl);
  }

  & > .join {
    display: flex;
    flex-grow: 1;
    position: absolute;
    right: -9px;
    width: 9px;
    border-top: 1px solid var(--base-black-pearl);
    content: "";
  }

  &:nth-child(odd) {
    & > .line {
      top: 50%;
      border-top-right-radius: $ngtt-bracket-border-radius;
      border-top: 1px solid var(--base-black-pearl);
    }

    & > .join {
      display: none;
    }
  }

  &:nth-child(even) {
    & > .line {
      top: 0;
      border-bottom-right-radius: $ngtt-bracket-border-radius;
      border-bottom: 1px solid var(--ui-dim-gray);
    }

    & > .join {
      top: 0%;
    }
  }

  &:first-child:last-child {
    & > .line,
    & > .join {
      display: none;
    }
  }
}

.ngtt-se__finale-match-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  & > .ngtt-se__finale-component-container {
    display: block;
  }

  & > .join {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    display: flex;
    flex-grow: 1;
    border-top: 1px solid var(--base-black-pearl);
  }
}

.round-title {
  margin: 0;
  padding-left: 30px;
}