@import "shared";
@import "single-elimination-styles";
@import "double-elimination-styles";
@import "match-wrapper-styles";
@import "_mixins.scss";

.multiselect-class {
  color: var(--ui-light-grey);
}

.multiselect-class .cuppa-dropdown {
  border: 1px var(--ui-tuna) solid;
  border-radius: 2px;
}

.multiselect-class .list-area {
  background: var(--base-white);
  color: var(--base-black-pearl);
  overflow-y: scroll;
  height: 200px;
}

.multiselect-class .list-filter > input {
  background: var(--base-white);
  color: var(--base-black-pearl);
}

.multiselect-class .pure-checkbox input[type="checkbox"] + label:before {
  border: 1px solid;
}

.elimination__container {
  position: relative;
  box-sizing: border-box;
}

.hide-block {
  visibility: hidden;
}

.btn-row-round {
  padding: 35px 40px;
  flex-wrap: nowrap !important;

  .description {
    margin: 1px;
    min-width: 290px;
    padding: 15px;
    background: var(--base-black-pearl) 0% 0% no-repeat padding-box;
    font-family: "stc-forward-regular", sans-serif;
    text-align: left;
    color: var(--base-white);

    p {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }

    fa-icon {
      margin-left: 33px;
      font-size: 15px;
    }

    .row {
      margin-top: 8px;

      p {
        font-size: 16px;
        line-height: 21px;
        font-weight: bold;
      }
    }

    &.active {
      background: rgba(23, 26, 28, 0.5);
      box-shadow: 4px 4px 6px var(--base-black);
      border: 1px solid var(--ui-dim-gray);
    }
  }
}

.btn-row-approve-round {
  margin-top: 18px;
  justify-content: flex-end;
  display: flex;

  .btn-light {
    padding: 12px 48px;
    margin-right: 27px;
    background: rgba(0, 0, 3, 0.2);
    border-radius: 18px;
    color: rgba(251, 251, 251, 0.6);
    font-size: 12px;
    line-height: 16px;
    font-family: "stc-forward-light" !important;
    transition: all 0.3s;

    &:hover {
      background: var(--ui-venetian-red);
      color: var(--base-white-smoke);
    }
  }

  .btn-primary {
    background: var(--ui-venetian-red);
    border-radius: 20px;
    padding: 12px 48px;
    font-size: 12px;
    line-height: 16px;
    font-family: "stc-forward-semibold" !important;
    color: var(--base-white-smoke);
  }
}

.btn-row-controll-container {
  margin-top: -24px;
  position: relative;

  button {
    background-color: var(--ui-nero);
    height: 48px;
    width: 73px;
    border-right: 2px solid var(--ui-nero);

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
      border-right: 0;
    }

    &:hover {
      svg {
        .a {
          opacity: 0.8;
        }
      }
    }
  }
}

.modal-upload-screenshot {
  .modal-dialog {
    max-width: 400px;
    top: 0%;
    left: 0%;
  }
  .modal-content {
    border: 1px dashed var(--ui-dim-gray);
    border-radius: 5px;

    .modal-header {
      border: 0;
      padding: 0;

      button {
        position: absolute;
        top: 22px;
        right: 30px;
        padding: 0;
        margin: 0;
        z-index: 9;
        opacity: 1;
      }
    }

    .modal-body {
      padding: 62px 70px 66px;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        font-size: 24px;
        line-height: 31px;
        color: var(--ui-dim-gray);
        text-align: center;

        .btn-upload {
          background: rgba(13, 15, 16, 0.8);
          border-radius: 25px;
          width: 100%;
          padding: 12px 0;
          font-size: 18px;
          line-height: 23px;
          color: var(--base-white);
          margin: 21px 0 28px;
          cursor: pointer;
          font-family: "stc-forward-light" !important;
        }
      }

      input {
        opacity: 0;
        position: absolute;
      }
    }
  }
}

.btn-open-modal {
  path {
    fill: rgba(251, 251, 251, 0.51);
  }
}

app-single-elimination,
app-double-elimination,
app-round-robin {
  @include bracket-container;
}

@media (max-width: 1199px) {
  .elimination__container {
    padding: 30px;
  }
}

@media (max-width: 1199px) {
  // .elimination__container {
  //   max-height: 400px;
  // }

  app-round-robin .elimination__container {
    min-width: auto;
    margin: auto;
  }
}
