<div class="QitafConfigurations-boxB">
  <form [formGroup]="form">
    <div class="QitafConfigurations-boxA-item">
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label switch-text-label">
            {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.QITAF_NEW" | translate }}
          </label>
          <div class="form-check">
            <input
              class="QitafConfigurations-boxB-item-input switch-text-label"
              type="number"
              min="1"
              name="registrationPoints"
              [formControlName]="'registrationPoints'"
            />
            <div class="sort">
              <fa-icon
                [icon]="['fas', 'sort-up']"
                (click)="increment('registrationPoints')"
              ></fa-icon>
              <fa-icon
                [icon]="['fas', 'sort-down']"
                (click)="decrement('registrationPoints')"
              ></fa-icon>
            </div>
            <label class="switch">
              <input
                class="form-check-input"
                [formControlName]="'IsRegistrationPointsActive'"
                type="checkbox"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <button class="global-EditBtn is-sm ml-25" (click)="saveNewRegistration()" type="submit">
            {{ "ADMIN.QITAF.SAVE_BUTTON" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="QitafConfigurations-boxA-item">
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label switch-text-label">
            {{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.QITAF_AFFILIATED" | translate
            }}
          </label>
          <div class="form-check">
            <input
              class="QitafConfigurations-boxB-item-input switch-text-label"
              name="referralPoints"
              [formControlName]="'referralPoints'"
              type="number"
              min="1"
            />
            <div class="sort">
              <fa-icon
                [icon]="['fas', 'sort-up']"
                (click)="increment('referralPoints')"
              ></fa-icon>
              <fa-icon
                [icon]="['fas', 'sort-down']"
                (click)="decrement('referralPoints')"
              ></fa-icon>
            </div>
            <label class="switch">
              <input
                class="form-check-input"
                [formControlName]="'IsReferralPointsActive'"
                type="checkbox"
              />
              <span class="slider round"></span>
            </label>
          </div>
          <button class="global-EditBtn is-sm ml-25" (click)="saveRefrral()" type="submit">
            {{ "ADMIN.QITAF.SAVE_BUTTON" | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>

  <esports-loading *ngIf="isLoading"></esports-loading>
</div>
