@import "shared";

:host {
  display: block;
}

.SelectTeammates {
  &-title {
    margin-bottom: px2vw-xl(24px);
    font-size: px2vw-xl(56px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(45px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(38px);
    }
  }

  &-subtitle {
    margin-bottom: 0;
    color: var(--base-black);
  }

  &-form {
    margin-top: px2vw-xl(58px);

    @include lg {
      margin-top: px2vw-lg(58px);
    }

    @include md {
      margin-top: px2vw-md(58px);
    }

    @include sm {
      margin-top: px2vw-sm(58px);
    }
  }

  &-search {
    position: relative;
    margin-bottom: px2vw-xl(28px);

    @include lg {
      margin-bottom: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(28px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
    }
  }

  &-search-icon {
    position: absolute;
    top: 50%;
    left: px2vw-xl(18px);
    transform: translateY(-50%);
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);

    @include lg {
      left: px2vw-lg(18px);
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
    }

    @include md {
      left: px2vw-md(18px);
      width: px2vw-md(18px);
      height: px2vw-md(18px);
    }

    @include sm {
      left: px2vw-sm(18px);
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
    }
  }

  &-search-input {
    padding-left: px2vw-xl(55px);

    @include lg {
      padding-left: px2vw-lg(55px);
    }

    @include md {
      padding-left: px2vw-md(55px);
    }

    @include sm {
      padding-left: px2vw-sm(55px);
    }
  }

  &-players {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(20px);
    grid-row-gap: px2vw-xl(20px);

    @include lg {
      grid-column-gap: px2vw-lg(20px);
      grid-row-gap: px2vw-lg(20px);
    }

    @include md {
      grid-column-gap: px2vw-md(20px);
      grid-row-gap: px2vw-md(20px);
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: px2vw-sm(20px);
      grid-row-gap: px2vw-sm(20px);
    }
  }

  &-player {
    position: relative;
    border: 1px solid var(--base-gainsboro);
    border-radius: px2vw-xl(5px);
    padding: px2vw-xl(20px) px2vw-xl(30px);
    padding-right: px2vw-xl(80px);
    cursor: pointer;
    transition: 100ms linear;

    &:hover {
      opacity: 0.85;
    }

    @include lg {
      border-radius: px2vw-lg(5px);
      padding: px2vw-lg(20px) px2vw-lg(30px);
      padding-right: px2vw-lg(80px);
    }

    @include md {
      border-radius: px2vw-md(5px);
      padding: px2vw-md(20px);
      padding-right: px2vw-md(80px);
    }

    @include sm {
      border-radius: px2vw-sm(5px);
      padding: px2vw-sm(20px) px2vw-sm(30px);
      padding-right: px2vw-sm(80px);
    }

    &.selected {
      background-color: var(--persian-indigo);

      &:hover {
        opacity: 1;
      }

      .name {
        color: var(--base-white);
      }

      .checked {
        visibility: visible;
      }
    }
  }

  &-player-photo {
    flex-shrink: 0;
    margin-right: px2vw-xl(25px);
    width: px2vw-xl(68px);
    height: px2vw-xl(68px);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: var(--base-black-pearl);

    @include lg {
      margin-right: px2vw-lg(25px);
      width: px2vw-lg(68px);
      height: px2vw-lg(68px);
    }

    @include md {
      margin-right: px2vw-md(25px);
      width: px2vw-md(68px);
      height: px2vw-md(68px);
    }

    @include sm {
      margin-right: px2vw-sm(25px);
      width: px2vw-sm(68px);
      height: px2vw-sm(68px);
    }
  }

  &-player-name {
    margin-bottom: 0;
    font-family: "stc-forward-medium", sans-serif;
    color: var(--base-black);
  }

  &-player-checked {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: px2vw-xl(23px);
    transform: translateY(-50%);
    width: px2vw-xl(31px);
    height: px2vw-xl(31px);

    @include lg {
      right: px2vw-lg(23px);
      width: px2vw-lg(31px);
      height: px2vw-lg(31px);
    }

    @include md {
      right: px2vw-md(23px);
      width: px2vw-md(31px);
      height: px2vw-md(31px);
    }

    @include sm {
      right: px2vw-sm(23px);
      width: px2vw-sm(31px);
      height: px2vw-sm(31px);
    }
  }

  &-buttons {
    margin-top: px2vw-xl(75px);

    @include lg {
      margin-top: px2vw-lg(60px);
      justify-content: flex-start;
    }

    @include md {
      margin-top: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(40px);
    }
  }

  &-button {
    margin-left: px2vw-xl(20px);

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }

    &:first-child {
      margin-left: 0;
    }

    &.back {
      min-width: px2vw-xl(110px);

      @include lg {
        min-width: px2vw-lg(110px);
      }

      @include md {
        min-width: px2vw-md(110px);
      }

      @include sm {
        min-width: px2vw-sm(110px);
      }
    }

    &.confirm {
      min-width: px2vw-xl(152px);

      @include lg {
        min-width: px2vw-lg(152px);
      }

      @include md {
        min-width: px2vw-md(152px);
      }

      @include sm {
        min-width: px2vw-sm(152px);
      }
    }
  }
}
.teamGame-button {
  // box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%), 0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
  padding: px2vw-xl(12px) px2vw-xl(20px) px2vw-xl(12px);
  display: flex;
  justify-content: end;
  background-color: var(--blackcurrant-color-medium);
  margin-top: -8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;

  @include sm {
      flex-wrap: wrap;
      justify-content: center;
      margin-top: px2vw-sm(37px);
  }

  &-guide {
      margin-bottom: 0;
      align-self: center;
      margin-right: 16px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--tolopea-color);

      @include sm {
          margin-bottom: 16px;
          margin-right: 0;
      }
  }
  &-next {
      background: var(--secondary-color);
      border-radius: 6px;
      padding: px2vw-xl(12px) px2vw-xl(32px);
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-white-medium);

      &:hover{
        background:var(--color-hover-button-primary)
      }

      @include sm {
          width: 100%;
          height: 48px;
      }
      &.disabled{
        background: var(--tertiary-color);
        color: var(--tolopea-color);
      }
  }
}
.teamGame {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // margin-left: 8.05vw;
  // padding-top: 168px;

  @include md {
      margin-left: 0;
      padding-left: px2vw-md(24px);
      padding-right: px2vw-md(24px);
      flex-direction: column-reverse;
      padding-top: px2vw-md(53px);
  }

  @include sm {
  }

  &-manage {
      width: 29.7vw;

      @media only screen and (min-width: 1600px) {
          width: 30%;
      }

      @include md {
          width: 100%;
          margin-bottom: px2vw-md(120px);
      }

      @include sm {
          // padding-bottom: 16px;
          // border-bottom: 1px solid var(--midnight-express-color);
      }

      &-title {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.87);
          margin-bottom: 16px;
          mix-blend-mode: normal;
          margin-left: px2vw-xl(6px);
          margin-top: px2vw-xl(3px);

          @include sm {
              margin-left: 0;
              margin-bottom: px2vw-sm(8px);
          }
      }

      &-logo {
          display: flex;
          flex-direction: column;
          margin-bottom: px2vw-xl(20.5px);

          @include sm {
              margin-bottom: px2vw-sm(8.5px);
          }

          &-background {
              height: 112px;
              width: 100%;
              background-image: url(../../../../../assets/images/banner-team-game.png);
              background-color: #111111;
              border-radius: 20px 20px 0px 0px;
              background-repeat: no-repeat;
              background-size: cover;

              @include sm {
                  display: none;
              }
          }

          &-content {
              height: 112px;
              width: 100%;
              position: relative;
              padding-left: 27px;
              background: var(--midnight-express-color);
              border-radius: 0px 0px 20px 20px;

              @include sm {
                  padding: px2vw-sm(16px) px2vw-sm(24px);
                  height: 72px;
                  display: flex;
                  border-radius: 12px;
              }

              &-image {
                  width: 56px;
                  height: 56px;
                  border-radius: 999px;
                  position: absolute;
                  top: -19px;
                  left: 34px;
                  background-image: url(../../../../../assets/images/image-team-game.png);
                  background-position: center;
                  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.12))
                      drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;

                  @include md {
                      left: auto;
                  }
                  @include sm {
                      width: 40px;
                      height: 40px;
                      position: static;
                  }
              }

              &-card-name {
                  font-family: Avenir Next;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: var(--white);
                  margin-top: 44px;
                  padding-left: px2vw-xl(5px);

                  @include sm {
                      margin-top: 0;
                      padding-left: px2vw-sm(15px);
                      line-height: 21px;
                      font-weight: 600;
                  }
              }

              &-card-no-member {
                  font-family: Avenir Next;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 20px;
                  color: var(--tertiary-color);

                  @include sm {
                      padding-left: px2vw-sm(15px);
                  }
              }
          }
      }

      &-descrip {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16.2px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.87);
          padding-left: 4px;
          margin-bottom: px2vw-xl(14px);

          @include sm {
              padding-left: 0;
              margin-bottom: px2vw-sm(15px);
          }
      }

      &-button-manage {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--main-color);
          background-color: transparent;

          @include sm {
              // background: var(--white);
              // border: 2px solid var(--secondary-color);
              // box-sizing: border-box;
              // border-radius: 6px;
              // width: 100%;
              // padding: 10px;
          }
      }
  }
  &-member {
    width: 63.3vw;
    margin-top: 0px;
    padding-right: px2vw-xl(15px);
    padding-left: px2vw-xl(30px);
    @media only screen and (min-width: 1600px) {
        width: 70%;
    }

    @include md {
        width: 100%;
        margin-top: -0;
    }

    @include sm {
        padding-right: 0;
    }

    &-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.5px;
        color: var(--white);
        margin-bottom: px2vw-xl(8px);
        margin-left: px2vw-xl(3px);

        @include md {
        }

        @include md {
            font-size: 24px;
            line-height: 32px;
            margin: px2vw-md(1px) 0 px2vw-md(23.5px);
        }
    }

    &-subtitle {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16.2px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.87);
        mix-blend-mode: normal;
        margin-bottom: px2vw-xl(51px);
        margin-left: px2vw-xl(3px);

        @include md {
        }

        @include sm {
            margin-left: 0;
            margin-bottom: px2vw-sm(16px);
        }
    }

    &-count-member {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--tolopea-color);
        margin-bottom: px2vw-xl(8px);

        @include md {
        }

        @include md {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &-list {
        // padding-left: 15px;
        margin-bottom: px2vw-xl(100px);

        @include md {
            padding-left: 0;
            margin-bottom: 0;
        }

        @include md {
            margin-bottom: px2vw-md(24px);
        }

        &-wrapp {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 16px;
            border-bottom: 1px solid var(--midnight-express-color);
            padding-top: 16px;
            position: relative;
            padding-left: px2vw-xl(15px);
            padding-right: px2vw-xl(15px);
            justify-content: space-between;

            @include md {
            }

            @include sm {
                padding: px2vw-sm(16px) 0 px2vw-sm(15px);
            }
        }

        &-wrapp:last-child {
            border-bottom: 0;
            padding-bottom: px2vw-xl(17px);

            @include sm {
                border-bottom: 1px solid var(--midnight-express-color);
            }
        }

        &-wrapp:first-child .teamGame-member-list-add {
            @include sm {
                display: none;
            }
        }

        &-wrapp:first-child .teamGame-member-list-info-id {
            @include sm {
                display: none;
            }
        }

        &-contentLeft {
            width: 80%;
            display: flex;
            align-items: center;
        }

        &-contentRight {
            display: flex;
            align-items: center;
        }

        &-ava {
            background-image: url(../../../../../assets/icons/ava-image.svg);
            width: 49px;
            height: 49px;
            border-radius: 999px;
            margin-right: px2vw-xl(16px);
            margin-top: px2vw-xl(2px);
            background-size: cover;

            @include sm {
                margin-top: 0;
            }
        }

        &-info {
            align-self: center;

            &-name {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                color: var(--white);

                @include sm {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &-id {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: var(--tolopea-color);
            }
        }

        &-btn {
            width: 20px;
            height: 20px;
            background-color: var(--black-dark);
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 8px;
            // position: absolute;
            // top: 33px;
            // right: 38px;

            @include sm {
                background-image: url(../../../../../assets/icons/three-dots-vertical-team.svg);
                width: 32px;
                height: 32px;
                top: 23px;
                right: 0px;
            }

            &-text {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;

                @include sm {
                    display: none;
                }

                &.add {
                    color: var(--spacesuit);
                }

                &.added {
                    color: var(--green);
                }
            }

            &.add {
                background-image: url(../../../../../assets/icons/join-tournament/Icon-plus.svg);
            }

            &.added {
                background-image: url(../../../../../assets/icons/join-tournament/Icon-check.svg);
            }
        }
    }
  }
}
.SearchPlayers-item-toggle {
  @extend %u-dfCenterCenter;
  overflow: hidden;
  border-radius: px2vw-xl(2px);
  transition: $global-transition;
  cursor: pointer;
  display: flex;
  align-self: center;

  &:hover {
    opacity: 0.8;
  }
}
