.card-img-overlay {
  top: unset !important;
  text-align: left;
}

.card-title {
  font-weight: 600;
  font-size: 1.3em;
}

.card-text {
  line-height: 12px;
  font-size: 12px;
}

.container {
  padding: 100px;
}
