@import "shared";

:host {
  display: block;
  // margin-top: -72px;

  @include md {
    margin-top: 0;
  }
}
.ss-banner {
  width: 100%;
  position: relative;
  padding-top: px2vw-xl(17px);
  height: px2vw-xl(452px);
  @include lg {
    height: px2vw-lg(452px);
    padding-top: px2vw-lg(17px);
  }
  @include md {
    height: px2vw-md(452px);
    padding-top: px2vw-md(17px);
  }
  @include sm {
    padding-top: px2vw-sm(16.32px);
    height: px2vw-sm(348.672px);
  }

  .container {
    padding: 0 24px;
    height: 100%;
    position: relative;
    z-index: 2;
    max-width: 1308px;
    margin: 0 auto;
  }
  .warpper {
    height: 100%;
  }
  .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
  .heading {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: px2vw-xl(260px);
    @include lg {
      height: px2vw-lg(260px);
    }
    @include md {
      height: px2vw-md(260px);
    }
    @include sm {
      height: px2vw-sm(348.672px);
    }
    .container {
      width: 100%;
      max-width: 1268px;
      margin: 0 auto;
      position: relative;
      z-index: 9;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @include sm {
        -webkit-align-items: flex-end;
        align-items: flex-end;
        padding-bottom: px2vw-sm(24.576px);
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180.24deg,
        rgba(18, 18, 18, 0) 13.1%,
        rgba(29, 29, 29, 0) 13.11%,
        #121212 99.79%
      );
    }

    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-left: 8px;
      margin-top: 20px;

      @include sm {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin-left: 0;
      }
    }
    .icon-game {
      margin-top: 10px;
      width: px2vw-xl(108px);
      height: px2vw-xl(45px);
      position: relative;
      @include lg {
        width: px2vw-lg(108px);
        height: px2vw-lg(45px);
      }
      @include md {
        width: px2vw-md(108px);
        height: px2vw-md(45px);
      }
      @include sm {
        display: none;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
  .content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;

    &-wrap {
      width: 100%;
    }
    .avatar-player {
      width: 64px;
      height: 64px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin: 0 0 8px;
      padding: 0;

      @include sm {
        width: 48px;
        height: 48px;
        margin: 0 auto;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    .name-player {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: var(--white);
      margin-bottom: 0;
    }
  }
  .content-center {
    margin: 0 64px;
    min-height: 92px;
    .match-score {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 58px;
      text-align: right;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 8px;
      min-height: 64px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;

      @include sm {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 0;
      }

      .match-score-speach {
        display: inline-block;
        margin: 0 17px;
      }
    }
    .final-score {
      text-align: center;
      .text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--tolopea-color);
      }
    }
  }
}
section.ss-infomation-match {
  padding: 40px 0 0 0;
  margin: 0 0 40px;

  @include sm {
    padding: 17px 0 0 0;
    margin: 0 0 23px;
  }

  .container {
    max-width: 1308px;
    padding: 0 24px;
  }
  .inner {
    border-bottom: 1px solid var(--color-black-medium);
    padding-bottom: 24px;

    @include sm {
      border-bottom: 1px solid var(--color-black-medium);
      padding-bottom: 8px;
      padding-top: 22px;
      border-top: 1px solid var(--color-black-medium);
    }
  }
  .match-info {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 554px;
    margin: 0 auto;
    .item {
      @include sm {
        width: 47%;
        margin-bottom: 14px;
      }
      h5 {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--tolopea-color);
        margin-bottom: 8px;
        text-transform: capitalize;

        @include sm {
          margin-bottom: 2px;
        }
      }
      p {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: var(--white);
        margin-bottom: 0;

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
section.ss-match-summary {
  padding: 0 0 90px;
  margin: 0;
  .container {
    max-width: 1292px;
    padding: 0 24px;

    @include sm {
      padding: 0 0 0 24px;
    }
  }
  .heading {
    padding: 0 16px;

    @include sm {
      padding: 0;
    }
    h2.title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 24px;

      @include sm {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
      }
    }
  }
  .content {
    .lists {
      @include sm {
        overflow: hidden;
        overflow-x: auto;
      }
      .item {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 5px 8.5px 16px;
        margin-bottom: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);

        @include sm {
          width: 700px;
          flex-wrap: nowrap;
          padding: 0 5px 17.5px 16px;
          padding-left: 0;
          margin-bottom: 16px;
        }

        .info-player {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          .box-image {
            position: relative;
            width: 110px;
            height: 76px;
            margin-right: 22px;

            @include sm {
              width: 143px;
              height: 72px;
              margin-right: 17px;
            }

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              object-fit: cover;
              z-index: 2;
            }
            .lever {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              padding: 2px 4px 2px 5px;
              position: absolute;
              z-index: 3;
              bottom: 0;
              left: 0;
              background: var(--ui-win);
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #171a17;
            }
          }
          .name-status {
            @include sm {
              width: 192px;
              margin-right: 15px;
            }
          }
          h5.name {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: var(--white);
            margin-bottom: 0;

            @include sm {
              font-size: 19.4px;
              margin-bottom: 4px;
            }
          }
          p.status {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: var(--tolopea-color);
            margin-bottom: 0;

            @include sm {
              margin-bottom: -4px;
            }
            .text-hl-win {
              color: var(--ui-win);
              text-transform: capitalize;
              margin-left: 6px;
            }
            .text-hl-lose {
              color: #f12ba3;
              text-transform: capitalize;
            }
          }
        }
        .info-matching {
          width: 100%;
          max-width: 409px;
          .matching-lists {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            .matching {
              text-align: center;
              .th {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: var(--tolopea-color);
                margin-bottom: 12px;
              }
              .td {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: var(--white);
              }
            }
          }
        }
      }
    }
  }
}
