<app-header-spark [title]="(('HEADER.MATCHMAKING' | translate)+titleText+(matchSeason.title ? matchSeason?.title : '') )"></app-header-spark>

<section class="ss-banner">
  <div class="heading" [lazyLoad]="matchSeason?.matchmakingBanner">
    <div class="container">
      <h2 class="title">{{"MATCHMAKING.MATCH_DETAILS.MATCH_STATS" | translate}}</h2>
      <span class="icon-game">
        <img [lazyLoad]="matchSeason?.logo" alt="" />
      </span>
    </div>
  </div>
  <div class="container">
    <div class="warpper">
      <div class="inner">
        <div class="content-wrap" *ngIf="gameInfo.matches">
          <div class="content">
            <div class="content-left">
              <div class="avatar-player" *ngIf=" gameInfo.matches?.teamA">
                <img src="{{  gameInfo.matches?.teamA?.logo }}" alt="" />
              </div>
              <h4 class="name-player">{{  gameInfo.matches?.teamA?.teamName }}</h4>
            </div>
            <div class="content-center">
              <div class="match-score">
                <span class="match-score-nth-1"> {{  gameInfo.matches?.teamAWinSet }} </span>
                <span class="match-score-speach"> - </span>
                <span class="match-score-nth-2"> {{  gameInfo.matches?.teamBWinSet }} </span>
              </div>
              <div class="final-score">
                <span class="text"> {{"MATCHMAKING.MATCH_DETAILS.FINAL_SCORE" | translate}} </span>
              </div>
            </div>
            <div class="content-right">
              <div class="avatar-player" *ngIf=" gameInfo.matches?.teamB">
                <img src="{{  gameInfo.matches?.teamB?.logo }}" alt="" />
              </div>
              <h4 class="name-player">{{  gameInfo.matches?.teamB?.teamName }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="ss-infomation-match">
  <div class="container">
    <div class="wrapper">
      <div class="inner">
        <div class="match-info">
          <div class="item">
            <h5>{{"MATCHMAKING.MATCH_DETAILS.MATCH_TYPE" | translate}}</h5>
            <p>Ranked</p>
          </div>
          <div class="item">
            <h5>{{"MATCHMAKING.MATCH_DETAILS.MATCH_ID" | translate}}</h5>
            <p>{{((matchSeason && matchSeason.matchId) ? matchSeason?.matchId : '-') }}</p>
          </div>
          <div class="item">
            <h5>{{"MATCHMAKING.MATCH_DETAILS.GAME_MOD" | translate}}</h5>
            <p>{{((matchSeason && matchSeason.gameMod) ? matchSeason?.gameMod : '-') }}</p>
          </div>
          <div class="item">
            <h5>{{"MATCHMAKING.MATCH_DETAILS.DURATION" | translate}}</h5>
            <p>{{((matchSeason && matchSeason.duration) ? matchSeason?.duration : '-')}}</p>
          </div>
          <div class="item">
            <h5>{{"MATCHMAKING.MATCH_DETAILS.MAP" | translate}}</h5>
            <p>{{((matchSeason && matchSeason.map) ? matchSeason?.map : '-') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <section class="ss-match-summary">
  <div class="container">
    <div class="wrapper">
      <div class="inner">
        <div class="heading">
          <h2 class="title">{{"MATCHMAKING.MATCH_DETAILS.MATCH_SUMMARY" | translate}}</h2>
        </div>
        <div class="content"  *ngFor="let match of gameInfo.matches">
          <div class="lists">
            <div class="item">
              <div class="info-player">
                <div class="box-image">
                  <img
                    src="{{ match?.teamA?.logo }}"
                    alt=""
                  />
                  <span class="lever" >{{ match?.teamAWinSet }}</span>
                </div>
                <div class="name-status" *ngIf="match?.teamA">
                  <h5 class="name">{{ match?.teamA?.name }}</h5>
                  <p class="status" >
                    {{ "SEASON.DETAIL.PLAYER_ID" | translate }}: {{ match?.teamA?.inGamerUserId }} <span class="text-hl-win"> Win</span>
                  </p>
                </div>
              </div>
             <div class="info-matching">
                <div class="matching-lists">
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.KDA" | translate}}</div>
                    <div class="td">8 / 4 / 11</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MONEY" | translate}}</div>
                    <div class="td">22,107</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.$ / K" | translate}}</div>
                    <div class="td">$231</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MVP" | translate}}</div>
                    <div class="td">8 Stars</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.SCORE" | translate}}</div>
                    <div class="td">109</div>
                  </div>
                </div>
              </div>
            </div>
             <div class="item">
              <div class="info-player">
                <div class="box-image">
                  <img
                  src="{{ match?.teamB?.logo }}"
                    alt=""
                  />
                  <span class="lever">{{ match?.teamBWinSet }}</span>
                </div>
                <div class="name-status" *ngIf="match?.teamB">
                  <h5 class="name">{{ match?.teamB?.name }}</h5>
                  <p class="status">
                    {{ "SEASON.DETAIL.PLAYER_ID" | translate }}: {{ match?.teamB?.inGamerUserId }} <span class="text-hl-win"> Win</span>
                  </p>
                </div>
              </div>
              <div class="info-matching">
                <div class="matching-lists">
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.KDA" | translate}}</div>
                    <div class="td">8 / 4 / 11</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MONEY" | translate}}</div>
                    <div class="td">22,107</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.$ / K" | translate}}</div>
                    <div class="td">$231</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MVP" | translate}}</div>
                    <div class="td">8 Stars</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.SCORE" | translate}}</div>
                    <div class="td">109</div>
                  </div>
                </div>
              </div>
            </div> -->
<!-- <div class="item">
              <div class="info-player">
                <div class="box-image">
                  <img
                    src="../../../../assets/images/Profile/avatar-2.png"
                    alt=""
                  />
                  <span class="lever">25</span>
                </div>
                <div class="name-status">
                  <h5 class="name">Naga Siren</h5>
                  <p class="status">
                    Player ID: Catwoman <span class="text-hl-lose"> Lost</span>
                  </p>
                </div>
              </div>
              <div class="info-matching">
                <div class="matching-lists">
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.KDA" | translate}}</div>
                    <div class="td">8 / 4 / 11</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MONEY" | translate}}</div>
                    <div class="td">22,107</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.$ / K" | translate}}</div>
                    <div class="td">$231</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MVP" | translate}}</div>
                    <div class="td">8 Stars</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.SCORE" | translate}}</div>
                    <div class="td">109</div>
                  </div>
                </div>
              </div>
            </div> -->
<!-- <div class="item">
              <div class="info-player">
                <div class="box-image">
                  <img
                    src="../../../../assets/images/Profile/avatar-3.png"
                    alt=""
                  />
                  <span class="lever">25</span>
                </div>
                <div class="name-status">
                  <h5 class="name">Naga Siren</h5>
                  <p class="status">
                    Player ID: Catwoman <span class="text-hl-win"> Win</span>
                  </p>
                </div>
              </div>
              <div class="info-matching">
                <div class="matching-lists">
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.KDA" | translate}}</div>
                    <div class="td">8 / 4 / 11</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MONEY" | translate}}</div>
                    <div class="td">22,107</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.$ / K" | translate}}</div>
                    <div class="td">$231</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MVP" | translate}}</div>
                    <div class="td">8 Stars</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.SCORE" | translate}}</div>
                    <div class="td">109</div>
                  </div>
                </div>
              </div>
            </div> -->
<!-- <div class="item">
              <div class="info-player">
                <div class="box-image">
                  <img
                    src="../../../../assets/images/Profile//image 66 (4).png"
                    alt=""
                  />
                  <span class="lever">25</span>
                </div>
                <div class="name-status">
                  <h5 class="name">Naga Siren</h5>
                  <p class="status">
                    Player ID: Catwoman <span class="text-hl-win"> Win</span>
                  </p>
                </div>
              </div>
              <div class="info-matching">
                <div class="matching-lists">
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.KDA" | translate}}</div>
                    <div class="td">8 / 4 / 11</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MONEY" | translate}}</div>
                    <div class="td">22,107</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.$ / K" | translate}}</div>
                    <div class="td">$231</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MVP" | translate}}</div>
                    <div class="td">8 Stars</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.SCORE" | translate}}</div>
                    <div class="td">109</div>
                  </div>
                </div>
              </div>
            </div> -->
<!-- <div class="item">
              <div class="info-player">
                <div class="box-image">
                  <img
                    src="../../../../assets/images/Profile/avatar-2.png"
                    alt=""
                  />
                  <span class="lever">25</span>
                </div>
                <div class="name-status">
                  <h5 class="name">Naga Siren</h5>
                  <p class="status">
                    Player ID: Catwoman <span class="text-hl-win"> Win</span>
                  </p>
                </div>
              </div>
              <div class="info-matching">
                <div class="matching-lists">
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.KDA" | translate}}</div>
                    <div class="td">8 / 4 / 11</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MONEY" | translate}}</div>
                    <div class="td">22,107</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.$ / K" | translate}}</div>
                    <div class="td">$231</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.MVP" | translate}}</div>
                    <div class="td">8 Stars</div>
                  </div>
                  <div class="matching">
                    <div class="th">{{"MATCHMAKING.MATCH_DETAILS.SCORE" | translate}}</div>
                    <div class="td">109</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
