<section #mainContainer class="Tournament-sectionA">
  <ngb-carousel
    [showNavigationArrows]="showNavigationArrows"
    [showNavigationIndicators]="showNavigationIndicators"
  >
    <ng-template ngbSlide *ngFor="let slide of bannerList">
      <div
        class="Tournament-sectionA-banner"
        [style.backgroundImage]="'url(' + slide?.banner + ')'"
      >
        <div class="u-wp">
          <h1 class="Tournament-sectionA-title">
            {{ slide.title | translate }}
          </h1>
          <span>{{ slide.desc | translate }}</span>
          <br />
          <span>{{ slide.desc1 | translate }}</span>
          <br />
          <span>{{ slide.desc2 | translate }}</span>
          <br />
          <span>{{ slide.desc3 | translate }}</span>
          <div class="Tournament-sectionA-dots"></div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<section class="Tournament-sectionBV2">
  <div class="container-fluid u-wp">
    <div class="Tournament-sectionBV2-header">
      <div class="mesf-Title">
        {{ "GenerasiBijak.SECTIONA.XOX_TITLE1" | translate }}
      </div>
    </div>

    <div class="Tournament-sectionBV2-buttons">
      <div
        *ngIf="currentTab"
        class="btn-group btn-group-toggle"
        ngbRadioGroup
        name="radioGame"
        (change)="changeTab($event?.target?.value)"
        [(ngModel)]="currentTab"
      >
        <label id="regionalTab" class="btn" ngbButtonLabel>
          <input type="radio" ngbButton [value]="'Primary schools'" />
          {{ "GenerasiBijak.SECTIONBV2.XOX_TAB3" | translate }}
        </label>
        <label id="grandMasterTab" class="btn" ngbButtonLabel>
          <input type="radio" ngbButton [value]="'Secondary schools'" />
          {{ "GenerasiBijak.SECTIONBV2.XOX_TAB4" | translate }}
        </label>
        <!-- <label id="grandFinalTab" class="btn" ngbButtonLabel>
            <input type="radio" ngbButton [value]="'grandFinal'" />
            {{ "GenerasiBijak.SECTIONBV2.XOX_TAB2" | translate }}
          </label> -->
      </div>

      <!-- <div class="Tournament-sectionBV2-buttons-right">
          <button [routerLink]="[AppHtmlRoutes.search]" class="mesf-IconBtn">
            <fa-icon [icon]="faSearch" class="Header-icon-fa"></fa-icon>
          </button>
          <button
            [routerLink]="[AppHtmlRoutes.tournamentInfo]"
            class="btn btn-outline-light is-smallTor is-filled is-active"
          >
            <span class="material-icons">control_point</span>
            {{ "GenerasiBijak.SECTIONA.BUTTON1" | translate }}
          </button>
        </div> -->
    </div>
  </div>

  <div class="u-wp" *ngIf="tournamentData">
    <div class="Tournament-sectionBV2-tournaments u-dfBtw">
      <app-tournaments-card
        *ngFor="let item of tournamentData"
        [params]="item"
      ></app-tournaments-card>
    </div>
  </div>
</section>

<div class="Tournament-trending">
  <div class="u-wp">
    <div class="u-dfBtw">
      <div class="Tournament-trending-left">
        <h4 class="Tournament-trending-title mesf-Title2">
          {{ "GenerasiBijak.SECTIONBV2.XOX_ABOUT" | translate }}
        </h4>
        <div class="Tournament-trending-desc1 mesf-Text">
          <p>
            {{ "GenerasiBijak.SECTIONBV2.XOX_ABOUT_DESC" | translate }}
          </p>
          <p>
            {{ "GenerasiBijak.SECTIONBV2.XOX_ABOUT_DESC1" | translate }}
          </p>
          <p>
            {{ "GenerasiBijak.SECTIONBV2.XOX_ABOUT_DESC2" | translate }}
          </p>
        </div>
      </div>

      <!-- <div>
          <div class="Tournament-trending-right">
            <h4 class="Tournament-trending-title mesf-Title2">
              {{ "GenerasiBijak.SECTIONBV2.XOX_ABOUT" | translate }}
            </h4>
  
            <div>
              <img
                class="Tournament-trending-image"
                [src]="'/assets/images/Home/xox-about.png'"
                alt="image"
              />
            </div>
          </div>
        </div> -->
    </div>
  </div>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
