<app-manageteam-header>

</app-manageteam-header>

<header class="InvitesSent-header">
  <h1 class="InvitesSent-cards-title">
    <!-- {{ "MANAGE_TEAM.Team_Members.TITLE" | translate |uppercase }} -->
    {{ "Invites sent" |uppercase }}
  </h1>
</header>

<section class="InvitesSent-control">
  <div class="InvitesSent-control-toggles global-MatToggles">
    <div class="InvitesSent-control-toggle">
      <a class="InvitesSent-control-link">
        <!-- {{ 'InvitesSent.length invites sent' | capitalizeFirst }} -->{{totalInvitesSent?.length}}  invites sent
      </a>
      <div class="InvitesSent-cards">
        <div class="InvitesSent-cards-list" *ngIf="InvitesSent?.length">
          <ng-container *ngFor="let item of InvitesSent">
            <app-team-card [isManage]="true"  [data]="item"></app-team-card>
          </ng-container>
        </div>
      </div>

    </div>

  </div>


</section>
<app-fullscreen-loading *ngIf="false"></app-fullscreen-loading>
