<div class="popup_heading_mob">
  <div class="header">
    <img src="assets/images/GGicon-green.png" class="img-fluid" />
    <div class="line"></div>
    <h5>{{ "USER.PROFILE_SETUP" | translate }}</h5>
  </div>
</div>
<div class="terms_condition">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <div class="btn_back">
          <a (click)="onClose()">
            <img
              src="assets/icons/home/term_of_use_arrowicon.svg"
              class="img-fluid"
            />
            <span class="back-button">{{ "BUTTON.BACK" | translate }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="terms_heading">
          <h3 class="service">{{ "USER.TERMS" | translate }}</h3>
        </div>
      </div>
    </div>
    <div class="row description_txt">
      <div class="col-12 pr_40">
        <!-- <div class="terms_description">
                    <p> {{ "USER.CONTENT" | translate }}  </p>
                </div> -->
        <div class="PrivacyPolicy u-wp">
          <div class="row">
            <div class="col-12">
              <section class="privacypolicy">
                <div class="policycontent">
                  <div class="point_1 list_point">
                    <h4 class="overview-title">INTRODUCTION</h4>
                    <ol class="information-overview-paragraph-list alpha">
                      <li>
                        Services: Geng Gamer, which is an online platform
                        provided by Maxis, and includes all services offered in
                        Geng Gamer.
                      </li>
                      <li>
                        Geng Gamer is accessible via the website:
                        <a href="https://genggamer.gg">https://genggamer.gg </a>
                      </li>
                      <li>
                        The Services is subject to (a) the General Terms &
                        Conditions ("GTC"); (b) this Service Specific Terms &
                        Conditions – Geng Gamer ("SSTC"); (c) Maxis Fair Usage
                        Policy; and (d) any other terms and conditions, all at
                        (<a
                          href="https://www.maxis.com.my/terms-conditions/personal/"
                          >https://www.maxis.com.my/terms-conditions/personal/</a
                        >) and (<a
                          href="https://www.hotlink.com.my/en/terms-conditions/hotlink/"
                          >https://www.hotlink.com.my/en/terms-conditions/hotlink/</a
                        >), where applicable.
                      </li>
                      <li>
                        Unless otherwise defined herein, the capitalised terms
                        are that as defined in the GTC.
                      </li>
                      <li>
                        Any conflict or inconsistency between this SSTC, the GTC
                        and Summary Terms and Conditions ("STC"), shall be
                        construed in the following order of precedence: (a)
                        SSTC; (b) GTC; and (c) STC.
                      </li>
                    </ol>
                  </div>
                  <div class="point_2 list_point">
                    <h4 class="overview-title">DEFINITIONS</h4>
                    <ol class="information-overview-paragraph-list alpha">
                      <li>
                        What the following words mean in the SSTC:
                        <ul>
                          <li>
                            “Account Limit” has the meaning as prescribed in
                            Clause 3.3.1.
                          </li>
                          <li>
                            “Content” means products and/or services offered by
                            Content Partners in Geng Gamer, including direct
                            top-ups and vouchers for online and digital games.
                          </li>
                          <li>
                            “Geng Gamer Account” means a user account in Geng
                            Gamer signed up and registered by a User using the
                            User’s Maxis ID.
                          </li>
                          <li>
                            “Content Partner” means any legal entity or natural
                            persons with an arrangement, agreement and/or
                            contract with Maxis and/or Maxis’ partner to use
                            Geng Gamer in connection with offering and/or
                            selling the Contents through Geng Gamer, either
                            individually or collectively on wholesale basis.
                          </li>
                          <li>
                            “Geng Gamer” has the meaning as prescribed in Clause
                            1.1.
                          </li>
                          <li>
                            “Restricted Activities” has the meaning as
                            prescribed in Clause 5.1.
                          </li>
                          <li>
                            “Services” has the meaning as prescribed in Clause
                            1.1.
                          </li>
                          <li>
                            “TAC” means the 6-digit temporary authentication
                            code that is sent via SMS to validate your
                            registered mobile number.
                          </li>
                          <li>
                            “User” or “you” or “your” means the person signing
                            up and registering for Geng Gamer Account.
                          </li>
                          <li>
                            “User Details” has the meaning as prescribed in
                            Clause 3.1.4.
                          </li>
                          <li>
                            “Geng Coins” or “GC” means the unified platform
                            currency in Geng Gamer.
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </div>
                  <div class="point_3 list_point">
                    <h4 class="overview-title">SERVICES</h4>
                    <ol class="information-overview-paragraph-list alpha">
                      <li>
                        Geng Gamer Account & Services
                        <ul class="list_3">
                          <li>
                            You will require a Maxis ID in order to sign up and
                            register for a Geng Gamer Account. If you do not
                            have a Maxis ID, you can sign up for it during your
                            registration for a Geng Gamer Account, or via any
                            other methods made available by Maxis, from time to
                            time, subject to the applicable terms and
                            conditions.
                          </li>
                          <li>
                            By signing up and registering for a Geng Gamer
                            Account, you hereby accept without limitation or
                            qualification, that you will be creating a user ID,
                            and you shall comply with this SSTC and all
                            applicable laws and regulations in relation to the
                            use of the Geng Gamer Account and Services.
                          </li>
                          <li>
                            In order to sign up and register for a Geng Gamer
                            Account, you warrant and represent that:
                            <ol class="list-style-small-apha">
                              <li>
                                you are at least eighteen (18) years old and
                                have the ability to contract. If you are under
                                the age of 18, your parent or legal guardian
                                must read and agree to this SSTC on your behalf.
                                If you are the parent or legal guardian of a
                                minor who registering for a Geng Gamer Account
                                and/or is using the Services, you consent to the
                                registration of the Geng Gamer Account and/or
                                use of the Services by your child in accordance
                                with this SSTC, and agree that you will be
                                responsible for any and all use of the Services
                                by your child;
                              </li>
                              <li>you are using your actual identity; and</li>
                              <li>
                                the personal particulars that you have provided
                                upon request in Geng Gamer for use of the
                                Services are true, accurate, complete and
                                current.
                              </li>
                            </ol>
                          </li>
                          <li>
                            You hereby accept that by accessing and using the
                            Services, you may be required to login to your Geng
                            Gamer Account by entering your requisite login
                            identification not limited to, password, registered
                            mobile number, email address chosen by or owned by
                            you, user authentication details, and TAC
                            (collectively as “User Details”) every time you
                            login to your Geng Gamer Account. You are
                            responsible for maintaining the confidentiality of
                            your User Details, and shall be responsible and
                            liable for all activities that occur under your User
                            Details.
                          </li>
                          <li>
                            You agree and acknowledge that any use or purported
                            use of or access to or purported access to your Geng
                            Gamer Account and the Services (other than due to
                            Maxis’ gross negligence) shall be deemed to be use
                            of and/or access to your Geng Gamer Account and/or
                            the Services by you and you agree to be bound by any
                            such use of and/or access (whether such access or
                            use are uthorized by you or not).
                          </li>
                          <li>
                            You agree to observe with due care, all security
                            measures prescribed by Maxis concerning your User
                            Details in respect of the use of your Geng Gamer
                            Account and the Services. Should you have any reason
                            to believe that your Geng Gamer Account and/or User
                            Details have been misused and/or compromised whether
                            by theft, fraud or otherwise, you shall inform Maxis
                            immediately upon becoming aware of the same.
                          </li>
                          <li>
                            You agree to immediately notify us by contacting our
                            Customer Care Support (at 123 (from Maxis lines) or
                            1-800-821-123 (from other lines) in the event there
                            is any fraudulent or unauthorized use of your User
                            Details or Geng Gamer Account or any other breach of
                            security. Our Customer Care Support shall
                            immediately suspend your Geng Gamer Account and
                            investigate your complaint and respond to you as
                            soon as possible. However, Maxis shall not be liable
                            to compensate your loss as it is your duty to take
                            the necessary precautions to safeguard your User
                            Details.
                          </li>
                          <li>
                            Maxis shall investigate and upon you lodging a
                            report with the relevant authorities, Maxis shall
                            assist the authorities by providing the relevant
                            information to accommodate the investigation however
                            Maxis shall not be liable to compensate your losses
                            due to any activities not limited to hacking,
                            spamming and manipulation of customer data, payment
                            information by any external third party.
                          </li>
                          <li>
                            The Services may contain links to other websites
                            including third party websites which are neither
                            maintained nor controlled by Maxis. You acknowledge
                            and agree that each of those websites are governed
                            by their respective terms and conditions which you
                            agree to abide by when using or accessing those
                            websites. Maxis shall not be responsible for the
                            condition, content and/or information of and as
                            contained in those websites as they are not under
                            the control of Maxis. The link(s) from or to
                            websites apart from the Services shall not be
                            construed, expressly or impliedly, as authorization,
                            endorsement, sponsorship or any partnership by Maxis
                            for those websites, the products or services and/or
                            information provided or contained therein. You agree
                            to bear all risks in accessing those websites and in
                            using the products and services contained therein.
                            Maxis shall not be responsible for any transactions
                            you may perform on those third party websites.
                          </li>
                        </ul>
                      </li>
                      <li>
                        Geng Coins (GC)
                        <ul class="list_3">
                          <li>
                            You can refer to the “Reload” section in Geng Gamer
                            for information on the Account Balance and Geng Coin
                            Summary You can purchase GC in Geng Gamer by using
                            mobile billing methods (for e.g: prepaid reload
                            airtime or postpaid charge to bill) where applicable
                            and any other payment methods that are available in
                            Game Gamer from time to time. Your purchased GC will
                            be stored in the Geng Gamer Account, which can be
                            used to purchase any Contents available in Geng
                            Gamer.
                          </li>
                          <li>
                            You agree and acknowledge that GC is not a legal
                            tender and cannot be withdrawn out from Geng Gamer
                            (i.e. no cash out available), reloaded, resold,
                            transferred for value, redeemed for cash or applied
                            to any other account, except to the extent described
                            herein or as required by applicable law. Maxis
                            prohibits and does not recognize any purported
                            transfers of GC outside of Geng Gamer, or the
                            purported sale, lease, gift or trade of GC with
                            anything that appears or originates outside of Geng
                            Gamer.
                          </li>
                          <li>
                            Any GC available in your Geng Gamer Account are not
                            refundable and non-transferable. The GC have no
                            value outside of Geng Gamer and can only be used to
                            purchase Contents available in Geng Gamer. The GC
                            have no cash value and are not exchangeable for
                            cash. All transactions made using your GC are final
                            and are non-refundable.
                          </li>
                          <li>
                            The GC in your Geng Gamer Account will automatically
                            expire if:
                            <ol>
                              <li>
                                within twenty-four (24) months from the day when
                                such GC was credited into your Geng Gamer
                                Account, you do not use it or that there has not
                                been any new purchase of GC; or
                              </li>
                              <li>
                                you terminate your Maxis or Hotlink mobile
                                number or Port out from Maxis or Hotlink, if you
                                use a Maxis or Hotlink mobile number to register
                                for your Maxis ID (which was used to register
                                for a Geng Gamer Account).
                              </li>
                            </ol>
                          </li>
                        </ul>
                      </li>
                      <li>
                        Geng Gamer Account Limits
                        <ul class="list_3">
                          <li>
                            Your GC balance available in your Geng Gamer Account
                            is subject to a maximum value limit of RM1,500.00 at
                            any one time (“Account Limit”) and Maxis reserves
                            the right to amend the Account Limits at its sole
                            discretion from time to time.
                          </li>
                          <li>
                            Any attempt to purchase GC which exceed the Account
                            Limit will not be successful.
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </div>
                  <div class="point_4 list_point">
                    <h4 class="overview-title">TRANSACTIONS</h4>
                    <ol class="information-overview-paragraph-list alpha">
                      <li>
                        Purchase of GC
                        <ul class="list_3">
                          <li>
                            When you initiate a transaction for the purchase of
                            GC, you may be required to provide Maxis (or a
                            payment operator appointed by Maxis) information
                            relating to your chosen method of payment. In
                            providing such information, you represent and
                            warrant to Maxis that you are the authorised user of
                            the credit or debit card, PIN, key, and/or account
                            associated with that payment, and you authorize
                            Maxis to charge your credit or debit card or account
                            in order to process your payment.
                          </li>
                          <li>
                            For mobile billing method (i.e. prepaid reload
                            airtime or postpaid charge to bill), you will be
                            further subject to the relevant terms and conditions
                            from Maxis and Hotlink websites and Maxis Group
                            Privacy Notice, all available at (<a
                              href="https://www.maxis.com.my/terms-conditions/personal/"
                              >https://www.maxis.com.my/terms-conditions/personal/</a
                            >) and (<a
                              href="https://www.hotlink.com.my/en/terms-conditions/hotlink/"
                              >https://www.hotlink.com.my/en/terms-conditions/hotlink/</a
                            >).
                          </li>
                          <li>
                            You agree to pay all fees or charges, if any,
                            associated with your chosen method of payment. Maxis
                            reserves the right at any time to change its fees or
                            charges, if any, and payment methods available in
                            Geng Gamer.
                          </li>
                        </ul>
                      </li>
                      <li>
                        Purchase of Content
                        <ul class="list_3">
                          <li>
                            You shall ensure that you have sufficient GC in your
                            Geng Gamer Account before you initiate a transaction
                            for the purchase of Content in Geng Gamer. If you
                            have insufficient GC in your Geng Gamer Account to
                            complete a transaction, You will not be able to
                            proceed with the purchase transaction and will be
                            prompted to reload.
                          </li>
                          <li>
                            If the Content purchased by you in Geng Gamer cannot
                            be delivered or rendered to you at the close of the
                            transaction, Maxis will investigate the case with
                            the relevant Content Partner but in no case later
                            than fourteen (14) days following the close of the
                            transaction.
                          </li>
                        </ul>
                      </li>
                      <li>
                        Transaction History
                        <ul class="list_3">
                          <li>
                            You may view your transaction history for the past
                            six (6) months by accessing the "Transactions"
                            section on the Geng Gamer.
                          </li>
                          <li>
                            If you notice any discrepancies in your transactions
                            in Geng Gamer, you should notify Maxis immediately.
                            Maxis will commence investigation of the discrepancy
                            as soon as it acknowledges receipt of your case, and
                            you will be informed of the results of Maxis'
                            investigation as soon as practicable after the date
                            of completion of the investigation. All decisions of
                            Maxis in respect of such investigations are final.
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </div>
                  <div class="point_5 list_point">
                    <h4 class="overview-title">RESTRICTED ACTIVITIES</h4>
                    <ol class="information-overview-paragraph-list alpha">
                      <li>
                        In accessing and/or using the Services, you shall not at
                        any time, directly or indirectly engage in any of the
                        following activities ("Restricted Activities"):
                        <ul class="list-style-small-apha">
                          <li>
                            breach this SSTC or any other legally binding
                            agreement that you have entered into with Maxis;
                          </li>
                          <li>
                            violate any law, statute, ordinance, or regulation;
                          </li>
                          <li>
                            infringe Maxis’ or any third party's copyright,
                            patent, trademark, trade secret or other
                            intellectual property rights, or rights of publicity
                            or privacy;
                          </li>
                          <li>
                            provide false, inaccurate or misleading information
                            about yourself;
                          </li>
                          <li>
                            refuse to cooperate in an investigation or provide
                            confirmation of your identity;
                          </li>
                          <li>
                            use an anonymizing proxy to disguise the place of
                            your residence, whether to bypass geographical
                            restrictions on the Contents, to purchase or redeem
                            at pricings or currencies not applicable to your
                            geographical residence, or for any other purpose;
                          </li>
                          <li>
                            engage in potentially fraudulent or suspicious
                            activities;
                          </li>
                          <li>
                            use your Geng Gamer Account in a manner that Maxis
                            reasonably believes to be an abuse of the Services;
                          </li>
                          <li>
                            control a Geng Gamer Account that Maxis reasonably
                            believes is linked to another Geng Gamer Account
                            that is engaging in any of these Restricted
                            Activities;
                          </li>
                          <li>
                            defame, make libellous statements against, threaten,
                            or harass any Maxis staff or any other personnel
                            engaged by Maxis in relation to the Services;
                          </li>
                          <li>
                            disclose or distribute another user’s information to
                            a third party, or use the information for any
                            purposes unless you receive the user's express
                            consent to do so;
                          </li>
                          <li>
                            take any action that imposes an unreasonable or
                            disproportionately large load on Maxis’
                            infrastructure;
                          </li>
                          <li>
                            access any Maxis system in any way that is not
                            expressly authorized by Maxis;
                          </li>
                          <li>
                            reproduce, attempt to reproduce, or counterfeit, any
                            GC;
                          </li>
                          <li>
                            facilitate or allow any viruses, Trojan horses,
                            worms or other computer programming routines that
                            may damage, detrimentally interfere with,
                            surreptitiously intercept or expropriate any system,
                            data, or information;
                          </li>
                          <li>
                            use any robot, spider, other automatic devices, or
                            manual process to monitor or copy Maxis without
                            Maxis’ prior written permission;
                          </li>
                          <li>
                            use any device, software or routine to bypass Maxis’
                            robot exclusion headers, or interfere or attempt to
                            interfere with the Services;
                          </li>
                          <li>
                            take any action that may cause Maxis to lose any of
                            the services from its internet service providers,
                            payment operators, or other third parties;
                          </li>
                          <li>
                            alter, remove, cover, or otherwise deface any
                            identification, trademark, copyright, or other
                            notice from any part of the Services; and/or
                          </li>
                          <li>
                            in Maxis’ absolute discretion, reflect poorly or
                            tarnish Maxis’ reputation.
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </div>
                  <div class="point_6 list_point">
                    <h4 class="overview-title">
                      SUSPENSION & TERMINATION OF SERVICES
                    </h4>
                    <ol class="information-overview-paragraph-list alpha">
                      <li>
                        Suspension or Termination initiated by Maxis on Geng
                        Gamer
                        <ul class="list_3">
                          <li>
                            Maxis may in its sole discretion suspend or
                            terminate your access to the Services with immediate
                            effect (without entitling you to receive any
                            compensation in respect of such suspension or
                            termination) if:
                            <ol class="list-style-small-apha">
                              <li>
                                you have created, or are likely to create,
                                imminent harm (including an interruption,
                                disruption or congestion) to Maxis’ network or
                                computer systems;
                              </li>
                              <li>
                                you have engaged, are engaging, or are suspected
                                to be engaging, whether directly or indirectly,
                                in the Restricted Activities;
                              </li>
                              <li>
                                you have attempted to defraud Maxis, or any
                                third party using GC;
                              </li>
                              <li>
                                your Geng Gamer Account is terminated for any
                                reason;
                              </li>
                              <li>
                                Maxis is acting in compliance with a requirement
                                of any relevant regulatory authority or law
                                enforcement body;
                              </li>
                              <li>
                                you are in breach of any clauses of this SSTC;
                              </li>
                              <li>
                                you have at any time provided any false or
                                incomplete information to Maxis, and have failed
                                to provide Maxis with such true and complete
                                information within ten (10) days of written
                                notice from Maxis requesting for such
                                information;
                              </li>
                              <li>
                                the requirements of any relevant regulatory
                                authority resulting in Maxis having to stop
                                making available the Services or to make
                                available the Services in a manner that is
                                unacceptable to Maxis; and/or
                              </li>
                              <li>
                                in the sole discretion of Maxis, Maxis suspects
                                that your Geng Gamer Account has been accessed
                                in an unauthorised manner or that the security
                                of your Geng Gamer Account has been compromised
                                in any way, and you fail to adopt such remedial
                                steps as may be prescribed by Maxis within five
                                (5) days from Maxis specifying such steps.
                              </li>
                            </ol>
                          </li>
                          <li>
                            Where Maxis has suspended your access to the
                            Services in accordance with Clause 6.1.1, Maxis may
                            in its sole discretion restore such suspended access
                            if you have sufficiently demonstrated to Maxis that
                            the initial cause for the suspension has been
                            resolved.
                          </li>
                          <li>
                            In addition to the above, Maxis may upon providing
                            you with at least thirty (30) days' written notice:
                            <ol class="list-style-small-apha">
                              <li>
                                suspend your access to the Services if Maxis, in
                                its sole discretion, determines that such
                                suspension or termination is necessary to
                                repair, maintain or improve the Services; and/or
                              </li>
                              <li>
                                terminate your access to the Services if Maxis,
                                in its sole discretion, decides to cease
                                provision of the Services.
                              </li>
                            </ol>
                          </li>
                          <li>
                            Where Maxis has suspended your access to the
                            Services for any reason, you will not be able to
                            utilise any GC that are in your Geng Gamer Account
                            during the period of suspension. You will be able to
                            resume use of your GC if your access has been
                            restored in accordance with Clause 6.1.2.
                          </li>
                          <li>
                            Where Maxis has terminated your access to the
                            Services for any reason, notwithstanding anything to
                            the contrary in this SSTC, all unused GC will
                            immediately expire, and be removed from your Geng
                            Gamer Account.
                          </li>
                          <li>
                            You will not be entitled to any compensation from
                            Maxis arising from any expiry and removal of GC from
                            your Geng Gamer Account pursuant to this SSTC.
                          </li>
                          <li>
                            Under no circumstances is Maxis liable to you or any
                            third party for any suspension or termination of
                            your access to your Geng Gamer Account or the
                            Services.
                          </li>
                          <li>
                            You understand that in addition to Maxis’ suspension
                            or termination of your access to the Services, Maxis
                            reserves the right to commence legal action against
                            you in relation to your breach of this SSTC.
                          </li>
                        </ul>
                      </li>
                      <li>
                        Termination Initiated by User
                        <ul class="list_3">
                          <li>
                            Please contact our Customer Care Support (at 123
                            (from Maxis lines) or 1-800-821-123 (from other
                            lines) if you wish to request the termination of
                            your Geng Gamer Account..
                          </li>
                          <li>
                            Upon termination of your Geng Gamer Account, all
                            unused GC will immediately expire and be removed
                            from your Geng Gamer Account and you will not be
                            entitled to any compensation from Maxis arising from
                            such expiry and removal of your GC
                          </li>
                        </ul>
                      </li>
                    </ol>
                  </div>
                  <div class="point_7 list_point">
                    <h4 class="overview-title">CONTENT PARTNERS</h4>
                    <ol class="information-overview-paragraph-list alpha">
                      <li>
                        All Content provided by the Content Partners do not
                        belong to us and is made available by the Content
                        Partners. Accordingly, we do not endorse and assume no
                        responsibility to:
                        <ul class="list-style-small-apha">
                          <li>
                            the safety, quality, accuracy, reliability,
                            integrity, or legality of any Content of any Content
                            Partners;
                          </li>
                          <li>
                            the functionality, reliability and performance of
                            the related gaming platform; and
                          </li>
                          <li>
                            terms and conditions as may be introduced by the
                            Content Partners while you access such Content and
                            the related gaming platform.
                          </li>
                        </ul>
                      </li>
                      <li>
                        We are not the agent of the Content Partners and assume
                        no responsibility and liability for:
                        <ul class="list-style-small-apha">
                          <li>
                            any act of omission of the Content Partners; and
                          </li>
                          <li>
                            the truth or accuracy of the description of any
                            product or service of any Content Partners.
                          </li>
                        </ul>
                      </li>
                      <li>
                        Any dispute about the Content and access to the related
                        gaming platform is to be resolved directly with the
                        Content Partners.
                      </li>
                    </ol>
                  </div>
                  <div class="point_8 list_point">
                    <h4 class="overview-title">THINGS WE MAY DO</h4>
                    <ol class="information-overview-paragraph-list alpha">
                      <li>
                        We reserve the rights at any time without being liable
                        to you or any third party to interrupt, bar, suspend,
                        restrict the Service for such time as we see fit or
                        terminate, discontinue or disconnect the Service if your
                        usage:
                        <ul class="list-style-small-apha">
                          <li>
                            is suspected to be for unlawful or fraudulent
                            activities; or
                          </li>
                          <li>is for commercial/non-personal purposes.</li>
                        </ul>
                      </li>
                      <li>
                        We will exercise reasonable care, skill and diligence in
                        respect of the Service and in our dealings with you.
                      </li>
                      <li>
                        In the event there is any legitimate dispute pertaining
                        to the Service, Maxis shall use best efforts to
                        investigate and resolve the dispute in a prompt and
                        timely manner.
                      </li>
                    </ol>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
