@import "shared";

:host {
  display: block;
}

.InputInvite {
  &-title {
    margin-bottom: px2vw-xl(16px);
    color: var(--base-submarine);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-block {
    border-radius: px2vw-xl(10px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: px2vw-xl(25px) px2vw-xl(33px);

    @include lg {
      border-radius: px2vw-lg(10px);
      padding: px2vw-lg(25px) px2vw-lg(33px);
    }

    @include md {
      border-radius: px2vw-md(10px);
      padding: px2vw-md(25px) px2vw-md(33px);
    }

    @include sm {
      border-radius: px2vw-sm(10px);
      padding: px2vw-sm(25px) px2vw-sm(33px);
    }
  }

  &-icon {
    margin-right: px2vw-xl(16px);
    width: px2vw-xl(25px);

    @include lg {
      margin-right: px2vw-lg(16px);
      width: px2vw-lg(25px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      width: px2vw-md(25px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      width: px2vw-sm(25px);
    }
  }

  &-input {
    flex-grow: 1;
    background-color: transparent;
    cursor: pointer;

    &,
    &::placeholder {
      color: var(--base-white);
    }
  }
}

.InputInvite.basic {
  .block {
    background-color: rgba(0, 0, 0, 0.3);
    max-width: px2vw-xl(556px);

    @include lg {
      max-width: px2vw-lg(556px);
    }

    @include md {
      max-width: px2vw-md(556px);
    }

    @include sm {
      max-width: px2vw-sm(556px);
    }
  }
}
