@import "shared";

$--Tournament-bgGradient: transparent
  linear-gradient(79deg, #02205f 0%, #c71b00 42%, #e77302 73%, #ffda6c 100%) 0 0
  no-repeat padding-box;

$--Tournament-sectionB-background: #171616;

$--Tournament-trending-background: #232120;
$--Tournament-trending-border-color: #4c5055;

.Tournament-sectionA {
  //background: $--Tournament-bgGradient;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  //height: 520px;

  @include lg {
    background-position: 85%;
  }

  @include md {
    background-position: 75%;
  }

  @include sm {
    background-position: 75%;
  }
  &-banner{
    background-size: cover;
  }
  &-title {
    margin-bottom: px2vw-xl(45px);
    max-width: px2vw-xl(440px);
    font-family: "dynasty-primary-large", sans-serif;
    font-size: px2vw-xl(64px);
    line-height: px2vw-xl(72px);
    letter-spacing: px2vw-xl(0.4px);
    color: var(--whitecolor);
    text-transform: uppercase;

    @include lg {
      max-width: px2vw-lg(440px);
      font-size: px2vw-lg(64px);
      line-height: px2vw-lg(72px);
      letter-spacing: px2vw-lg(0.4px);
    }

    @include md {
      max-width: none;
      font-size: px2vw-md(64px);
      line-height: px2vw-md(72px);
      letter-spacing: px2vw-md(0.4px);
    }

    @include sm {
      font-size: px2vw-sm(64px);
      line-height: px2vw-sm(72px);
      letter-spacing: px2vw-sm(0.4px);
    }
  }

  &-banner {
    padding-top: px2vw-xl(214px);
    padding-bottom: px2vw-xl(200px);
    min-height: px2vw-xl(612px);

    @include lg {
      min-height: px2vw-xl(612px);
      padding-top: px2vw-lg(214px);
      padding-bottom: px2vw-lg(200px);
    }

    @include md {
      min-height: auto;
      padding-top: px2vw-md(120px);
      padding-bottom: px2vw-md(100px);
    }

    @include sm {
      text-align: center;
      padding-top: px2vw-sm(120px);
      padding-bottom: px2vw-md(100px);
    }
  }

  .btn {
    margin-right: px2vw-xl(18px);
    font-size: px2vw-xl(16px);
    line-height: 3;

    @include lg {
      margin-right: px2vw-lg(18px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      font-size: px2vw-sm(16px);
    }
  }
}

.Tournament-sectionBV2 {
  background: $--Tournament-trending-background;
  padding: px2vw-xl(32px) 0 px2vw-xl(36px);

  @include lg {
    padding: px2vw-lg(60px) 0 px2vw-lg(36px);
  }

  @include md {
    padding: px2vw-md(60px) 0 px2vw-md(36px);
  }

  @include sm {
    padding: px2vw-sm(60px) 0 px2vw-sm(36px);
  }

  &-header {
    margin-bottom: px2vw-xl(70px);

    @include lg {
      margin-bottom: px2vw-lg(70px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-buttons {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(42px);

    @include lg {
      margin-bottom: px2vw-lg(42px);
    }

    @include md {
      margin-bottom: px2vw-md(42px);
      flex-flow: column-reverse;
      align-items: normal;
    }

    @include sm {
      margin-bottom: px2vw-sm(42px);
    }

    label {
      border: 1px solid var(--orange-color-main);
    }

    &-right {
      text-align: center;

      @include md {
        margin: 0 0 px2vw-md(20px);
      }

      @include sm {
        margin: 0 0 px2vw-sm(20px);
      }

      button {
        margin-left: px2vw-xl(20px);

        @include lg {
          margin: 0 px2vw-lg(20px);
        }

        @include md {
          margin: 0 px2vw-md(20px);
        }

        @include sm {
          margin: 0 px2vw-sm(20px);
        }
      }
    }
  }

  &-cards {
    margin-bottom: px2vw-xl(96px);
    display: block;

    @include lg {
      margin-bottom: px2vw-lg(60px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-card {
    @include btnEvents();
    @extend %u-dfCenterCenter;
    min-width: px2vw-xl(180px);
    width: px2vw-xl(180px);
    height: px2vw-xl(180px);
    border-radius: px2vw-xl(4px);
    background: none;
    overflow: hidden;
    text-transform: uppercase;
    position: relative;
    background-color: var(--blackcolor);

    @include lg {
      min-width: px2vw-lg(180px);
      width: px2vw-lg(180px);
      height: px2vw-lg(180px);
      border-radius: px2vw-lg(4px);
    }

    @include md {
      min-width: px2vw-md(180px);
      width: px2vw-md(180px);
      height: px2vw-md(180px);
      border-radius: px2vw-md(4px);
    }

    @include sm {
      min-width: px2vw-sm(180px);
      width: px2vw-sm(180px);
      height: px2vw-sm(180px);
      border-radius: px2vw-sm(4px);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    span {
      font-size: px2vw-xl(16px);
      padding: px2vw-xl(14px) 0;
      font-family: "dynasty-primary-semibold", sans-serif;
      display: block;
      position: absolute;
      text-align: center;
      bottom: 0;
      left: 0;
      width: 100%;
      color: var(--whitecolor);
      background: rgba(23, 22, 22, 0.58);

      @include lg {
        font-size: px2vw-lg(16px);
        padding: px2vw-lg(14px) 0;
      }

      @include md {
        font-size: px2vw-md(16px);
        padding: px2vw-md(14px) 0;
      }

      @include sm {
        font-size: px2vw-sm(16px);
        padding: px2vw-sm(14px) 0;
      }
    }

    &.is-all {
      box-shadow: inset 0 0 0 4px var(--orange-color-main);

      @include lg {
        box-shadow: inset 0 0 0 px2vw-lg(4px) var(--orange-color-main);
      }

      @include md {
        box-shadow: inset 0 0 0 px2vw-md(4px) var(--orange-color-main);
      }

      @include sm {
        box-shadow: inset 0 0 0 px2vw-sm(4px) var(--orange-color-main);
      }
    }
  }

  &-box {
    flex-flow: column;
    display: none;
  }

  &-tournaments {
    flex-wrap: wrap;
    justify-content: flex-start;

    @include md {
      justify-content: center;
    }

    app-tournaments-card {
      margin-right: px2vw-xl(33px);
      margin-bottom: px2vw-xl(24px);

      @include lg {
        margin-right: px2vw-lg(35px);
        margin-bottom: px2vw-lg(24px);
      }

      @include md {
        margin-right: 0;
        margin-bottom: px2vw-md(24px);
      }

      @include sm {
        margin-bottom: px2vw-sm(24px);
      }

      ::ng-deep {
        .Tournaments-card {
          width: px2vw-xl(524px);

          @include lg {
            width: px2vw-lg(360px);
          }

          @include md {
            width: 100%;
          }
        }

        .Tournaments-card-preview-image {
          width: 100%;
          height: px2vw-xl(266px);

          @include md {
            height: px2vw-md(345px);
          }

          @include sm {
            height: px2vw-sm(270px);
          }
        }
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  ::ng-deep {
    .swiper-wrapper {
      padding-left: px2vw-xl(50px);

      @include lg {
        padding-left: px2vw-lg(50px);
      }

      @include md {
        padding-left: px2vw-md(50px);
      }

      @include sm {
        padding-left: px2vw-sm(50px);
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: px2vw-xl(180px);

      @include lg {
        height: px2vw-lg(180px);
      }

      @include md {
        height: px2vw-md(180px);
      }

      @include sm {
        height: px2vw-sm(180px);
      }

      &::after {
        color: transparent;
        width: px2vw-xl(12px);
        height: px2vw-xl(12px);
        display: inline-block;
        border-right: none !important;
        border-bottom: none !important;
        border: px2vw-xl(4px) solid #fff;

        @include lg {
          width: px2vw-lg(12px);
          height: px2vw-lg(12px);
          border-width: px2vw-lg(4px);
        }

        @include md {
          width: px2vw-md(12px);
          height: px2vw-md(12px);
          border-width: px2vw-md(4px);
        }

        @include sm {
          width: px2vw-sm(12px);
          height: px2vw-sm(12px);
          border-width: px2vw-sm(4px);
        }
      }

      &.swiper-button-disabled::after {
        border-color: var(--orange-color-main);
      }
    }

    .swiper-button-prev {
      &::after {
        transform: rotate(320deg);
        position: absolute;

        @include md {
          left: px2vw-md(10px);
        }

        @include sm {
          left: px2vw-sm(10px);
        }
      }
    }

    .swiper-button-next {
      width: px2vw-xl(100px);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(35, 33, 32, 0.6) 24%,
        rgba(35, 33, 32, 0.85) 47%,
        rgba(35, 33, 32, 1) 100%
      );

      &::after {
        position: absolute;
        right: px2vw-xl(10px);
        transform: rotate(135deg);

        @include lg {
          right: px2vw-lg(10px);
        }

        @include md {
          right: px2vw-md(10px);
        }

        @include sm {
          right: px2vw-sm(10px);
        }
      }
    }

    .swiper-slide {
      @include lg {
        margin-right: px2vw-lg(20px) !important;
      }

      @include md {
        margin-right: px2vw-md(20px) !important;
      }

      @include sm {
        margin-right: px2vw-sm(20px) !important;
      }
    }
  }
}

.Tournament-trending {
  background: $--Tournament-trending-background;
  border-top: px2vw-xl(1px) solid $--Tournament-trending-border-color;
  padding: px2vw-xl(64px) 0 px2vw-xl(72px);

  @include lg {
    border-width: px2vw-lg(1px);
    padding: px2vw-lg(50px) 0;
  }

  @include md {
    border-width: px2vw-md(1px);
    padding: px2vw-md(50px) 0;
  }

  @include sm {
    border-width: px2vw-sm(1px);
    padding: px2vw-sm(50px) 0;
  }

  &-title {
    margin-bottom: px2vw-xl(24px);
    text-align: left;
    text-transform: uppercase;
    font-size: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(40px);
    }
  }

  &-item {
    width: 24.5%;

    @include lg {
      margin-bottom: px2vw-lg(20px);
      width: 32.5%;
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      width: 49%;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      width: 100%;
    }
  }

  &-footer {
    margin-top: px2vw-xl(56px);
    text-align: center;

    @include lg {
      margin-top: px2vw-lg(56px);
    }

    @include md {
      margin-top: px2vw-md(56px);
    }

    @include sm {
      margin-top: px2vw-sm(45px);
    }

    button {
      font-family: "dynasty-primary-regular", sans-serif;
    }
  }

  &-left {
    padding-right: 60px;
    max-width: 40%;
    width: 40%;
    // flex-direction: column;

    @include lg {
      width: 100%;
      max-width: 100%;
    }

    @include md {
      width: 100%;
      max-width: 100%;
    }

    @include sm {
      padding-right: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &-right {
    width: 60%;
    max-width: 60%;
    // flex-direction: column;

    @include lg {
      width: 100%;
      max-width: 100%;
    }

    @include md {
      width: 100%;
      max-width: 100%;
    }

    @include sm {
      width: 100%;
      max-width: 100%;
    }
  }
  & .u-dfBtw {
    @include lg {
      flex-direction: column;
    }
    @include md {
      flex-direction: column;
    }
    @include sm {
      flex-direction: column;
    }
  }

  &-image {
    width: px2vw-xl(960px);
    object-fit: cover;
    @include lg {
      width: 100%;
    }
    @include md {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
  }

  &-desc1 {
    margin-top: px2vw-xl(30px);
    margin-bottom: px2vw-xl(10px);
    line-height: 1px;
    letter-spacing: 1.2px;

    @include lg {
      margin-top: px2vw-lg(30px);
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-top: px2vw-md(30px);
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-top: px2vw-sm(30px);
      margin-bottom: px2vw-sm(10px);
    }

    & p {
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(22px);
      margin-bottom: px2vw-xl(20px);

      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(22px);
        margin-bottom: px2vw-lg(20px);
      }
      @include md {
        font-size: px2vw-md(16px);
        line-height: px2vw-md(22px);
        margin-bottom: px2vw-md(20px);
      }
      @include sm {
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(22px);
        margin-bottom: px2vw-sm(20px);
      }
    }
  }
}

.selectedGame span {
  background-color: var(--orange-color-main);
}
