@import "shared";

:host {
  display: block;
  padding-top: px2vw-xl(28px);
  padding-bottom: px2vw-xl(50px);

  @include lg {
    padding-top: px2vw-lg(28px);
    padding-bottom: px2vw-lg(50px);
  }

  @include md {
    padding-top: px2vw-md(28px);
    padding-bottom: px2vw-md(50px);
  }

  @include sm {
    padding-top: px2vw-sm(28px);
    padding-bottom: px2vw-sm(50px);
  }
}

.Matches-header {
  margin-bottom: px2vw-xl(16px);
  padding: px2vw-xl(20px) 0;

  @include lg {
    margin-bottom: px2vw-lg(16px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    padding: px2vw-md(20px) 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    padding: px2vw-sm(20px) 0;
  }

  &-title {
    @extend %global-H5;
    margin-bottom: 0;
    color: var(--white);
  }
}

.Matches-table {
  &-toggles {
    // border-bottom: px2vw-xl(1px) solid var(--white-light);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
    }
  }

  &-content {
    padding-top: px2vw-xl(8px);

    @include lg {
      padding-top: px2vw-lg(8px);
    }

    @include md {
      padding-top: px2vw-md(8px);
    }

    @include sm {
      padding-top: px2vw-sm(8px);
    }
  }
}

.Select-teamDropdown {
  &:hover,
  &.show {
    .Select-teamBtn {
      border: 2px solid var(--txt-secondry-border);
    }
  }
  .Select-teamBtn {
    background: var(--color-background);
    border: 2px solid var(--midnight-express-color);
    box-sizing: border-box;
    border-radius: 24px;
    width: 100%;
    text-align: left;
    padding: 10px 17px 10px 14px;
    @extend %global-textSm;
    color: var(--tertiary-color);
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    @include sm {
      max-width: 100%;
      padding: 6px 24px;
      font-weight: 500;
    }
    &::after {
      display: inline-block;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: 2px solid var(--txt-secondry-border);
      border-right: 2px solid var(--txt-secondry-border);
      border-bottom: 0;
      border-left: 0;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      transition: $global-transition2;
      position: relative;
      top: -3px;
    }
  }
  .Select-teamDropdownItem {
    top: 55px !important;
    transform: none !important;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 16px;
    background: var(--midnight-express-color);
    border: 0px solid transparent;
    border-right: 4px solid transparent;
    padding-left: 0;
    padding-right: 0;
    max-height: 156px;
    overflow: hidden;
    overflow-y: auto;
    @include sm {
      top: 45px !important;
    }
    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      height: 8px;
      border-radius: 4px;
      background-color: var(--tertiary-color);
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    button {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
      padding: 10px 16px;
      &:hover {
        background: var(--color-black-medium);
      }
    }
  }
  &.show {
    .select-teamBtn {
      &::after {
        transform: rotate(315deg);
        transition: $global-transition2;
      }
    }
  }
}
.SortBy{
  margin-left: auto;
    width: px2vw-xl(320px);

    @include lg {
      width: px2vw-lg(320px);
    }

    @include md {
      width: px2vw-md(320px);
    }

    @include sm {
      width: px2vw-sm(320px);
    }

}
