@import "shared";

$--ArticleItem-box-after-background: transparent
  linear-gradient(180deg, #00000000 0%, #000000 100%) 0 0 no-repeat padding-box;
$--ArticleItem-box-text-color: var(--whitecolor);

:host {
  display: block;
  transition: all 100ms linear;

  &:hover {
    background: #171616;
  }
}

.ArticleItem {
  @include btnEvents();
  display: block;

  &-box {
    min-height: px2vw-xl(269px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include lg {
      min-height: px2vw-lg(269px);
    }

    @include md {
      min-height: px2vw-md(269px);
    }

    @include sm {
      min-height: px2vw-sm(350px);
    }
  }

  &-content {
    padding: px2vw-xl(16px);

    @include lg {
      padding: px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(16px);
    }

    h4 {
      font-family: "dynasty-primary-regular", sans-serif;
      position: relative;
      z-index: 1;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-content-title {
    margin-bottom: px2vw-xl(18px);
    text-transform: uppercase;
    font-family: "dynasty-primary-semibold", sans-serif;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(22px);

    @include lg {
      margin-bottom: px2vw-lg(18px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(22px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(22px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(22px);
    }
  }
  &-content-date {
    margin-bottom: px2vw-xl(8px);
    font-family: "dynasty-primary-regular", sans-serif;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(22px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(22px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(22px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(22px);
    }
  }

  &-content-text {
    opacity: 0.6;
    font-family: "dynasty-primary-light", sans-serif;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(22px);

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(22px);
    }

    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(24px);
    }
  }
}
.text-clamp {
  @include textClamp(3);
}
