<section class="Info-sectionA" *ngIf="tournamentDetails">
  <div class="Info-sectionA-list">
    <div class="Info-sectionA-item">
      <h3 class="Info-sectionA-item-title global-Title3">
        {{ "VIEW_TOURNAMENT.INFO.DESCRIPTION" | translate }}
      </h3>
      <p
        class="Info-sectionA-item-description"
        [innerHtml]="tournamentDetails?.description || 'N/A'"
      ></p>
    </div>
    <div class="Info-sectionA-item">
      <h3 class="Info-sectionA-item-title global-Title3">
        {{ "VIEW_TOURNAMENT.INFO.RULES" | translate }}
      </h3>
      <p
        class="Info-sectionA-item-description"
        [innerHtml]="tournamentDetails?.rules || 'N/A'"
      ></p>
    </div>
    <div
      class="Info-sectionA-item"
      *ngIf="tournamentDetails?.placementPoints?.length"
    >
      <h3 class="Info-sectionA-item-title global-Title3">
        {{ "VIEW_TOURNAMENT.INFO.CRITICAL_RULES" | translate }}
      </h3>
      <ng-container *ngTemplateOutlet="critical_rules"></ng-container>
    </div>
  </div>
</section>

<ng-template #critical_rules>
  <table class="Info-sectionB-table table">
    <thead>
      <tr class="Info-sectionB-table-row">
        <th class="Info-sectionB-table-head" scope="col">
          {{ "VIEW_TOURNAMENT.INFO.SR_NO" | translate }}
        </th>
        <th class="Info-sectionB-table-head" scope="col">
          {{ "VIEW_TOURNAMENT.INFO.POSITION" | translate }}
        </th>
        <th class="Info-sectionB-table-head" scope="col">
          {{ "VIEW_TOURNAMENT.INFO.POINTS" | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="Info-sectionB-table-row"
        *ngFor="let item of tournamentDetails?.placementPoints; let i = index"
      >
        <th class="Info-sectionB-table-cell" scope="row">{{ i + 1 }}.</th>
        <td class="Info-sectionB-table-cell">
          {{ item?.position || "N/A" }}
        </td>
        <td class="Info-sectionB-table-cell">
          {{ item?.value || "N/A" }}
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="tournamentDetails?.isKillPointRequired" class="Info-sectionB-hint">
    {{ "VIEW_TOURNAMENT.INFO.KILL_POINTS" | translate }}:
    {{ tournamentDetails?.pointsKills }}
  </p>
</ng-template>
