<app-header-spark [title]="'MATCHMAKING.SELECT_PLATFORM.TITLE' | translate"></app-header-spark>
<section class="GameLoading-bgImage"></section>
<ng-container>
  <section class="GameLoading-nav-foot">
    <div class="GameLoading-nav-foot-title">{{ "MATCHMAKING.GAME_LOADING.TITLE" | translate}}</div>
    <div class="GameLoading-nav-foot-process">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </section>
</ng-container>