@import "shared";

:host {
  display: block;
}

.InvitesSent-header {
  @extend %u-dfCenterBtw;
  margin-bottom: 23px;
  margin-top: 0;
  @include md {
    margin-top: 0;
    margin-bottom: 19px;
  }
  &-title {
    @extend %global-H5;
    margin-bottom: 0;
    color: var(--white);
  }

  &-subtitle {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-button {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }
}

.InvitesSent-control {
  // &-toggles {
  // }
  &-link {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--tertiary-color);
    display: inline-block;
    margin-bottom: 12px;
    @include sm {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px;
      padding-bottom: 0;
    }
  }
  // &-toggle {
  // }

  &-content {
    padding-top: px2vw-xl(40px);

    @include lg {
      padding-top: px2vw-lg(40px);
    }

    @include md {
      padding-top: px2vw-md(40px);
    }

    @include sm {
      padding-top: px2vw-sm(40px);
    }
  }
}

.InvitesSent-cards {
  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 0;
    padding: 16px 0;
    @include sm {
      font-size: 20px;
      line-height: 28px;
    }
  }
}
.mat-icon {
  color: #bbf55a;
}
.TeamCard {
  @extend %u-dfCenter;
  border-bottom: 1px solid var(--midnight-express-color) !important;
  padding-bottom: 17px;
  margin-bottom: 15px;
  padding-left: 18px !important;
  padding-right: 18px !important;
  @include md {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &-image {
    margin-right: 16px;
    flex-shrink: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: var(--black);
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // &-info {
  // }

  &-info-name {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 0;
    @include sm {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &-manage {
    @extend %u-dfCenterEnd;
    flex-shrink: 0;
    margin-left: auto;
  }

  &-manage-button {
    margin-left: px2vw-xl(8px);

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-manage-button-menu {
    width: 32px;
    height: 32px;
    background-color: transparent;
  }

  &-manage-button-menu-icon {
    font-size: 24px;
    color: var(--main-color);
    @include sm {
      font-size: 24px;
      width: 32px;
      height: 32px;
    }
  }

  &-manage-menu-link {
    .link,
    .icon {
      color: var(--white-medium);
    }

    &:hover .icon {
      color: var(--color-primary);
    }
  }
}
