<div class="TournamentCard">
  <div class="TournamentCard-image" [lazyLoad]="data.image"></div>

  <div class="TournamentCard-content">
    <header class="TournamentCard-header">
      <h4 class="TournamentCard-header-title global-Elipses">
        {{ data.title }}
      </h4>

      <a class="TournamentCard-header-link global-link" *ngIf="isManage">
        {{index+1 }} <sup>{{'st'|lowercase}}</sup>
      </a>

      <a class="TournamentCard-header-link global-link" *ngIf="!isManage">
        {{ "BUTTON.VIEW" | translate }}
      </a>
    </header>

    <p class="TournamentCard-date">
      {{ data.date }}
    </p>
  </div>
</div>
