//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

/*
We using 2 fonts
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
