@function px2vw-xxl($target) {
  @return $target;
}

@function px2vw-xl($target) {
  $vw-context: ($screen-xl * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function px2vw-lg($target) {
  $vw-context: ($screen-lg * 0.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function px2vw-md($target) {
  // $vw-context: ($screen-md * 0.01) * 1px;
  // @return ($target/$vw-context) * 1vw;
  @return  $target;
}

@function px2vw-sm($target) {
  // $vw-context: ($screen-sm * 0.01) * 1px;
  // @return ($target/$vw-context) * 1vw;
  @return  $target;
}

@function px2vh-xl($target) {
  $vh-context: ($screen-xl * 0.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}

@function px2vh-lg($target) {
  $vh-context: ($screen-lg * 0.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}

@function px2vh-md($target) {
  $vh-context: ($screen-md * 0.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}

@function px2vh-sm($target) {
  $vh-context: ($screen-sm * 0.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}
