// App colors

// Screen size
$screen-sm: 575;
$screen-md: 767;
$screen-lg: 1199;
$screen-xl: 1440;
$screen-xxl: 1600;

// Buttons transition
$global-transition: all 100ms linear;
$global-transition2: all 200ms linear;

$global-gradient: radial-gradient(
  31.93% 73.7% at 0% 100%,
  rgba(115, 108, 255, 0.25) 0%,
  rgba(115, 108, 255, 0) 100%
);

$left-corner-light: radial-gradient(
  54% 70% at 0% 0%,
  rgba(115, 108, 255, 0.25) -25%,
  rgba(115, 108, 255, 0) 100%
);

$modal-gradient: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.07),
    rgba(255, 255, 255, 0.07)
  ),
  #0b0824;
