@import "shared";

:host {
  display: block;
}
$gradient-bg: var(--gengcoin--bg);
.NeedLogin {
  @extend %u-dfCenter;
  border: 1px solid var(--white-light);
  border-radius: px2vw-xl(4px);
  padding: px2vw-xl(24px);
  padding-left: px2vw-xl(30.5px);
  background: $gradient-bg;
  @include xxl {
    border-radius: px2vw-xxl(4px);
    padding: px2vw-xxl(24px);
    padding-left: px2vw-xxl(30.5px);
  }
  @include lg {
    border-radius: px2vw-lg(4px);
    padding: px2vw-lg(24px);
    padding-left: px2vw-lg(30.5px);
  }

  @include md {
    border-radius: px2vw-md(4px);
    padding: px2vw-md(24px);
    padding-left: px2vw-md(30.5px);
  }

  @include sm {
    border-radius: px2vw-sm(4px);
    padding: px2vw-sm(24px);
    padding-left: px2vw-sm(30.5px);
  }

  &-icon {
    margin-right: px2vw-xl(16px);
    height: px2vw-xl(35px);
    width: px2vw-xl(26px);
    @include xxl {
      margin-right: px2vw-xxl(16px);
      height: px2vw-xxl(35px);
      width: px2vw-xxl(26px);
    }
    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(35px);
      width: px2vw-lg(26px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(35px);
      width: px2vw-md(26px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(35px);
      width: px2vw-sm(26px);
    }
  }

  &-content {
    margin-right: px2vw-xl(16px);
    @include xxl {
      margin-right: px2vw-xxl(16px);
    }
    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-title {
    @extend %global-H7;
    margin-bottom: 0;
  }

  &-subtitle {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white);
  }

  &-button {
    margin-left: auto;
  }
}
