<div class="UserNotification-main">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="UserNotification-boxC-footer">
    <div class="UserNotification-boxC-footer-left">
      <form [formGroup]="emailNotificationForm" novalidate>
        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE" | translate
          }}</mat-label>
          <input
            matInput
            id="emailTitle"
            autocomplete="off"
            type="text"
            formControlName="emailTitle"
          />
          <mat-error *ngIf="hasError('emailTitle', 'required')"
            >{{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE" | translate
            }}
            *</mat-error
          >
        </mat-form-field>

        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE_HEADER" | translate
          }}</mat-label>
          <input
            matInput
            id="headerText"
            autocomplete="off"
            type="text"
            formControlName="headerText"
          />
          <mat-error *ngIf="hasError('headerText', 'required')"
            >{{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE_HEADER"
                | translate
            }}
            *</mat-error
          >
        </mat-form-field>
        <div class="global-text-body">
          {{
            "ADMIN.USER_NOTIFICATION.LABEL.ADD_HEADER_BANNER_IMAGE" | translate
          }}
        </div>
        <input
          type="file"
          id="bannerUploader"
          style="opacity: 0; height: 0px; width: 0px"
        />
        <mat-error *ngIf="!headerImageUri"
          >{{
            "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_HEADER_BANNER_IMAGE"
              | translate
          }}
          *</mat-error
        >
        <div
          #bannerUpload
          id="bannerUpload"
          class="UserNotification-boxC-banner"
        >
          <div class="UserNotification-boxC-banner-info global-text-body">
            {{ "ADMIN.USER_NOTIFICATION.LABEL.BANNER_SIZE" | translate }} <br />
            <button (click)="uploadImage()" class="btn btn-primary">
              {{ "ADMIN.USER_NOTIFICATION.BUTTON.UPLOAD_IMAGE" | translate }}
            </button>
          </div>
        </div>
        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.USER_NOTIFICATION.LABEL.TYPE_MESSAGE" | translate
          }}</mat-label>
          <textarea
            matInput
            id="message"
            type="text"
            formControlName="message"
          ></textarea>
          <mat-error *ngIf="hasError('message', 'required')"
            >{{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.TYPE_MESSAGE"
                | translate
            }}
            *</mat-error
          >
        </mat-form-field>
        <div
          class="col-xl-4 col-lg-12 global-text-body"
          style="margin-left: -15px"
        >
          <app-drop-down-select
            [title]="
              'ADMIN.USER_NOTIFICATION.LABEL.SELECT_USER_SEGMENT' | translate
            "
            [customFormControlName]="'userSegment'"
            [customFormGroup]="emailNotificationForm"
            [dropdownList]="userSegementValues"
            [type]="'A'"
            (valueEmit)="selectType($event)"
          ></app-drop-down-select>
        </div>
        <div class="UserNotification-footer-btns">
          <button
            class="btn global-btn-black cancel is-sm"
            (click)="toggleEditPane(); resetControls()"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.CANCEL" | translate }}
          </button>
          <button
            type="submit"
            (click)="updateEmail()"
            class="btn global-btn-yellow is-sm"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.SEND" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
