@import "shared";

:host {
  display: block;
  padding-top: px2vw-xl(20px);
  padding-bottom: px2vw-xl(50px);

  @include lg {
    padding-top: px2vw-lg(20px);
    padding-bottom: px2vw-lg(50px);
  }

  @include md {
    padding-top: px2vw-md(20px);
    padding-bottom: px2vw-md(50px);
  }

  @include sm {
    padding-top: px2vw-sm(20px);
    padding-bottom: px2vw-sm(50px);
  }
}

.Inbox-header {
  @extend %u-dfCenterBtw;
  margin-bottom: px2vw-xl(16px);
  padding: px2vw-xl(20px) 0;
  margin-top: px2vw-xl(120px);
  @include lg {
    margin-bottom: px2vw-lg(16px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    padding: px2vw-md(20px) 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    padding: px2vw-sm(20px) 0;
  }

  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(15px);
    color: var(--white);
    font-weight: bold;
  }

  &-button {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }
}
.Dashboard-cards {
  margin: 10px;
  &-item {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    background: var(--gradient-bg);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-value {
    @extend %subtitle-1;
    margin-bottom: 0;
  }
}
.MyTeams-control {
  &-toggles {
    border-bottom: px2vw-xl(1px) solid var(--white-light);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
    }
  }

  &-content {
    padding-top: px2vw-xl(40px);

    @include lg {
      padding-top: px2vw-lg(40px);
    }

    @include md {
      padding-top: px2vw-md(40px);
    }

    @include sm {
      padding-top: px2vw-sm(40px);
    }
  }
}

.MyTeams-cards {
  &-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(24px);
    color: var(--white);
    font-weight: bold;

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }
}

.Banner {
  margin-top: px2vw-xl(26px);
  margin-bottom: px2vw-xl(26px);
  // border-bottom: px2vw-xl(1px) solid var(--white-light);
  padding-bottom: px2vw-xl(32px);

  @include lg {
    margin-bottom: px2vw-lg(26px);
    // border-bottom-width: px2vw-lg(1px);
    padding-bottom: px2vw-lg(32px);
  }

  @include md {
    margin-bottom: px2vw-md(26px);
    // border-bottom-width: px2vw-md(1px);
    padding-bottom: px2vw-md(32px);
  }

  @include sm {
    margin-bottom: px2vw-sm(26px);
    // border-bottom-width: px2vw-sm(1px);
    padding-bottom: px2vw-sm(32px);
  }
}
.Content-table {
  &-header-item {
    @extend %subtitle-2;
    color: var(--white-medium);
  }

  &-card-item {
    @extend %body-2;
  }

  &-card-comment {
    @extend %u-dfCenterEnd;
    color: var(--color-secondary);

    mat-icon {
      flex-shrink: 0;
      margin-right: px2vw-xl(4px);
      width: px2vw-xl(16px);
      height: px2vw-xl(16px);
      font-size: px2vw-xl(16px);
      color: inherit;

      @include lg {
        margin-right: px2vw-lg(4px);
        width: px2vw-lg(16px);
        height: px2vw-lg(16px);
        font-size: px2vw-lg(16px);
      }

      @include md {
        margin-right: px2vw-md(4px);
        width: px2vw-md(16px);
        height: px2vw-md(16px);
        font-size: px2vw-md(16px);
      }

      @include sm {
        margin-right: px2vw-sm(4px);
        width: px2vw-sm(16px);
        height: px2vw-sm(16px);
        font-size: px2vw-sm(16px);
      }
    }
  }

  &-card-status {
    border-radius: px2vw-xl(2px);
    display: inline-block;
    padding: px2vw-xl(4px) px2vw-xl(8px);
    font-family: "roboto-bold", sans-serif;
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(16px);
    text-transform: uppercase;

    @include lg {
      border-radius: px2vw-lg(2px);
      padding: px2vw-xl(4px) px2vw-lg(8px);
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(2px);
      padding: px2vw-xl(4px) px2vw-md(8px);
      font-size: px2vw-md(14px);
      line-height: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(2px);
      padding: px2vw-xl(4px) px2vw-sm(8px);
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(16px);
    }

    &.live {
      background-color: rgba(187, 245, 90, 0.2);
      color: var(--color-primary);
    }

    &.draft {
      background-color: var(--white-smoke);
      color: var(--white-medium);
    }
  }

  // common styles
  &-header,
  &-card {
    @extend %u-dfCenter;
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(12px) px2vw-xl(16px);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(12px) px2vw-lg(16px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(12px) px2vw-md(16px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(12px) px2vw-sm(16px);
    }
  }

  &-card-item,
  &-header-item {
    &.date {
      margin-right: px2vw-xl(24px);
      width: px2vw-xl(91px);

      @include lg {
        margin-right: px2vw-lg(24px);
        width: px2vw-lg(91px);
      }

      @include md {
        margin-right: px2vw-md(24px);
        width: px2vw-md(91px);
      }

      @include sm {
        margin-right: px2vw-sm(24px);
        width: px2vw-sm(91px);
      }
    }

    &.title {
      margin-right: px2vw-xl(40px);
      width: px2vw-xl(415px);

      @include lg {
        margin-right: px2vw-lg(40px);
        width: px2vw-lg(415px);
      }

      @include md {
        margin-right: px2vw-md(40px);
        width: px2vw-md(415px);
      }

      @include sm {
        margin-right: px2vw-sm(40px);
        width: px2vw-sm(415px);
      }
    }

    &.views,
    &.likes {
      margin-right: px2vw-xl(40px);
      width: px2vw-xl(72px);
      text-align: right;

      @include lg {
        margin-right: px2vw-lg(40px);
        width: px2vw-lg(72px);
      }

      @include md {
        margin-right: px2vw-md(40px);
        width: px2vw-md(72px);
      }

      @include sm {
        margin-right: px2vw-sm(40px);
        width: px2vw-sm(72px);
      }
    }

    &.comments {
      margin-right: px2vw-xl(50px);
      width: px2vw-xl(105px);
      text-align: right;

      @include lg {
        margin-right: px2vw-lg(50px);
        width: px2vw-lg(105px);
      }

      @include md {
        margin-right: px2vw-md(50px);
        width: px2vw-md(105px);
      }

      @include sm {
        margin-right: px2vw-sm(50px);
        width: px2vw-sm(105px);
      }
    }

    &.status {
      width: px2vw-xl(74px);
      text-align: right;

      @include lg {
        width: px2vw-lg(74px);
      }

      @include md {
        width: px2vw-md(74px);
      }

      @include sm {
        width: px2vw-sm(74px);
      }
    }
  }
}
.TeamCard {
  @extend %u-dfCenter;
  border-bottom: px2vw-xl(1px) solid var(--white-smoke);
  padding: px2vw-xl(16px);

  @include lg {
    border-bottom-width: px2vw-lg(1px);
    padding: px2vw-lg(16px);
  }

  @include md {
    border-bottom-width: px2vw-md(1px);
    padding: px2vw-md(16px);
  }

  @include sm {
    border-bottom-width: px2vw-sm(1px);
    padding: px2vw-sm(16px);
  }

  &-manage {
    @extend %u-dfCenterEnd;
    flex-shrink: 0;
    margin-left: auto;
  }

  &-manage-button {
    margin-left: px2vw-xl(8px);

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-manage-button-menu {
    width: px2vw-xl(24px);
    height: px2vw-xl(24px);
    background-color: transparent;

    @include lg {
      width: px2vw-lg(24px);
      height: px2vw-lg(24px);
    }

    @include md {
      width: px2vw-md(24px);
      height: px2vw-md(24px);
    }

    @include sm {
      width: px2vw-sm(24px);
      height: px2vw-sm(24px);
    }
  }

  &-manage-button-menu-icon {
    font-size: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  &-manage-menu-link {
    .link,
    .icon {
      color: var(--white-medium);
    }

    &:hover .icon {
      color: var(--color-primary);
    }
  }
}
.CreateTeam {
  overflow: hidden;
  position: relative;
  background: $left-corner-light;

  &-buttons {
    @extend %u-dfCenter;
    margin-top: auto;
    margin-top: 20px;
  }

  &-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
