<div class="SelectToggle" [formGroup]="customFormGroup">
  <header class="SelectToggle-header u-dfCenterStart">
    <label class="SelectToggle-header-title global-Text">
      {{ title }}
    </label>

    <img
      *ngIf="tooltip.trim()"
      class="SelectToggle-header-icon"
      [ngbTooltip]="tooltip"
      placement="top-left"
      src="assets/images/Tournament/info.png"
      alt="info"
    />
  </header>

  <div
    class="SelectToggle-buttons btn-group"
    [formControlName]="customFormControlName"
    ngbRadioGroup
    name="radioBasic"
  >
    <label class="SelectToggle-button global-Text" ngbButtonLabel>
      <input class="SelectToggle-input" ngbButton type="radio" [value]="1" />
      {{ leftValue }}
    </label>

    <label class="SelectToggle-button global-Text" ngbButtonLabel>
      <input class="SelectToggle-input" ngbButton type="radio" [value]="2" />
      {{ rightValue }}
    </label>
  </div>
</div>
