<ng-container *ngIf="isLoaded">
  <div *ngIf="!(isSeeded || tournament?.isSeeded); else bracket">
    <div [hidden]="!allApprovedParticipants?.length">
      <div *ngIf="!tournament?.isSeeded && !isSeeded" class="mt-3 row">
        <div class="row Seed-header">
          <div
            class="Seed-toggle"
            (click)="fetchAllApprovedParticipants(); showInfo('reset')"
          >
            <input type="checkbox" name="reset" />
            <label class="reset" for="reset">{{
              "MANAGE_TOURNAMENT.SEED_BRACKET.RESET" | translate
            }}</label>
          </div>
          <div ngbDropdown class="Seed-dropdown">
            <button ngbDropdownToggle>
              {{
                selectFilterType?.name ||
                  "MANAGE_TOURNAMENT.SEED_BRACKET.FILTER" | translate
              }}
            </button>
            <div ngbDropdownMenu aria-labelledby="">
              <button
                ngbDropdownItem
                *ngFor="let f of filterList"
                (click)="selectFilterType = f; filterByType(selectFilterType)"
              >
                {{ f?.name | translate }}
              </button>
            </div>
          </div>
          <div
            class="Seed-toggle"
            (click)="seedRandomly(); showInfo('shuffle')"
          >
            <input type="checkbox" name="shuffle" />
            <label for="shuffle">{{
              "MANAGE_TOURNAMENT.SEED_BRACKET.SHUFFLE" | translate
            }}</label>
          </div>
          <div ngbDropdown class="Seed-dropdown">
            <button
              class="btn seedingMethodButton btn-outline-primary"
              id="seedingMethod"
              ngbDropdownToggle
            >
              {{
                selectedSeedingMethod?.name ||
                  "MANAGE_TOURNAMENT.SEED_BRACKET.AUTO_SEED" | translate
              }}
            </button>
            <div ngbDropdownMenu aria-labelledby="seedingMethod">
              <button
                ngbDropdownItem
                *ngFor="let m of seedingMethodList"
                (click)="selectedSeedingMethod = m; assignSeedValue(m)"
              >
                {{ m?.name | translate }}
              </button>
            </div>
          </div>
          <div ngbDropdown class="Seed-dropdown">
            <button
              class="btn seedingMethodButton btn-outline-primary"
              id="seedingMethod"
              ngbDropdownToggle
            >
              {{ pageSize }}
              {{ "MANAGE_TOURNAMENT.SEED_BRACKET.ITEMS_PER_PAGE" | translate }}
            </button>
            <div ngbDropdownMenu aria-labelledby="seedingMethod">
              <button
                ngbDropdownItem
                *ngFor="let p of itemPerPageList"
                (click)="pageSize = p; pageSizeChanged(p)"
              >
                {{ p }}
                {{
                  "MANAGE_TOURNAMENT.SEED_BRACKET.ITEMS_PER_PAGE" | translate
                }}
              </button>
            </div>
          </div>
          <div class="Seed-searchBox">
            <div class="Seed-search">
              <mat-icon>search</mat-icon>
              <input
                (keyup)="onSearch($event?.target?.value)"
                (mouseup)="onClearSearch($event)"
                type="search"
                placeholder="{{
                  'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate
                }}"
              />
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th sortable="reg" scope="col">
              {{ "MANAGE_TOURNAMENT.SEED_BRACKET.REG" | translate }}
            </th>
            <th sortable="checkedIn" scope="col">
              {{ "MANAGE_TOURNAMENT.SEED_BRACKET.CHECKED_IN" | translate }}
            </th>
            <th sortable="teamName" scope="col">
              {{ "MANAGE_TOURNAMENT.SEED_BRACKET.TEAM_NAME" | translate }}
            </th>
            <th sortable="seed" scope="col">
              {{ "MANAGE_TOURNAMENT.SEED_BRACKET.SEED" | translate }} #
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of participantList; let i = index">
            <th scope="row">{{ team.reg }}</th>
            <td>
              <fa-icon
                [icon]="[
                  'fas',
                  team.checkedIn ? 'check-circle' : 'times-circle'
                ]"
              >
              </fa-icon>
            </td>
            <td *ngIf="team?.participantType == 'individual'">
              {{ team.name | limitString: 17:"..." }}
            </td>
            <td *ngIf="team?.participantType == 'team'">
              {{ team.teamName | limitString: 17:"..." }}
            </td>
            <td>
              <input
                class="seed-input"
                type="number"
                (keyup)="manualSeedValidation(i, team._id, $event.target.value)"
                [max]="allApprovedParticipants.length"
                [min]="1"
                [(ngModel)]="team['seed']"
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <app-pagination
          [page]="page"
          [activePage]="activePage"
          (currentPage)="pageChanged($event)"
        >
        </app-pagination>
      </div>
      <div class="row btn-row-bracket Seed-bracket-buttons">
        <button
          (click)="saveAllSeeds()"
          type="button"
          class="global-EditBtn dark-text tab-content"
        >
          {{ "MANAGE_TOURNAMENT.SEED_BRACKET.SAVE_ALL" | translate }}
        </button>
        <button
          [disabled]="isDisableCreateBracket"
          (click)="generateBracket()"
          type="button"
          class="global-EditBtn tab-content"
        >
          {{ "MANAGE_TOURNAMENT.SEED_BRACKET.CREATE_BRACKET" | translate }}
        </button>
      </div>
    </div>
    <p [hidden]="allApprovedParticipants?.length">
      {{
        "MANAGE_TOURNAMENT.SEED_BRACKET.APPROVED_PARTICIPANT_NOT_AVAILABLE"
          | translate
      }}
    </p>
  </div>
  <ng-template #bracket>
    <div class="input-explain-text" [hidden]="!tournament?.isSeeded" *ngIf="tournament?.bracketType !== 'ladder'">
      <img src="assets/images/Tournament/info.png" alt="info" />
      {{ "SEED.HOVER" | translate }}
    </div>
    <app-elimination
      [structure]="structure"
      [isSeeded]="tournament?.isSeeded"
      [type]="tournament?.bracketType"
      [isAdmin]="true"
      [isLoaded]="isLoaded"
      [tournament]="tournament"
      [hideMockStructure]="true"
      (isRefresh)="getResponseMessage($event)"
    >
    </app-elimination>
    <div class="row seeding-btn" *ngIf="!tournament?.isSeeded && isSeeded">
      <button
        type="button"
        class="btn btn-primary tab-content"
        (click)="openModal(generateBracketConfirm)"
      >
        {{ "BUTTON.CONFIRM" | translate }}
      </button>
      <button
        type="button"
        class="btn btn-primary tab-content"
        (click)="isSeeded = false"
      >
        {{ "BUTTON.EDIT" | translate }}
      </button>
    </div>
  </ng-template>
</ng-container>

<esports-loading *ngIf="!isLoaded"></esports-loading>

<ng-template #generateBracketConfirm let-modal>
  <div class="modal-header pb-0">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div [ngClass]="arebicText ? 'modal-body rtl-text pt-0' : 'modal-body pt-0'">
    <h4>{{ "MANAGE_TOURNAMENT.SEED_BRACKET.MODEL.TITLE" | translate }}</h4>
    <p>{{ "MANAGE_TOURNAMENT.SEED_BRACKET.MODEL.BODY" | translate }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary tab-content"
      (click)="modal.close('Close click')"
    >
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button
      (click)="confirmBracket(); modal.close('Close click')"
      type="button"
      class="btn active-btn"
    >
      {{ "BUTTON.GENERATE" | translate }}
    </button>
  </div>
</ng-template>
