@import "shared";
$--settings-lightbox-bg: var(--gradient-bg-drk4)
    var(--color-background);

.SettingsLightbox {
    position: relative;
    bottom: px2vw-xl(36px);
    border-radius: px2vw-xl(2px);
    height: 100vh;
    width: auto;
    background: $--settings-lightbox-bg;
    @include xxl {
        bottom: px2vw-xxl(36px);
        border-radius: px2vw-xxl(2px);
    }

    @include lg {
        bottom: px2vw-lg(36px);
        border-radius: px2vw-lg(2px);
    }

    @include md {
        bottom: px2vw-md(36px);
        border-radius: px2vw-md(2px);
    }

    @include sm {
        bottom: px2vw-sm(36px);
        border-radius: px2vw-sm(2px);
    }
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: var(--white) !important;
    font-family: "maxis-regular";
    font-size: px2vw-xl(14px);
    @include xxl {
        font-size: px2vw-xxl(14px);
    }
    @include lg {
        font-size: px2vw-lg(14px);
    }

    @include md {
        font-size: px2vw-md(14px);
    }

    @include sm {
        font-size: px2vw-sm(14px);
    }
}
::ng-deep .mat-tab-label {
    min-width: auto !important;
    padding: 0 px2vw-xl(15px) !important;
    @include xxl {
        padding: 0 px2vw-xxl(15px) !important;
    }
    @include lg {
        padding: 0 px2vw-lg(15px) !important;
    }
    @include md {
        padding: 0 px2vw-md(15px) !important;
    }
    @include sm {
        padding: 0 px2vw-sm(15px) !important;
    }
    &:first-child {
        padding-left: 0 !important;
    }
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--color-primary);
}

::ng-deep #mat-tab-account-setting .mat-tab-nav-bar,
::ng-deep #mat-tab-account-setting .mat-tab-header {
    border-bottom: 0.7px solid var(--white-light);
}
.ac-header-container {
    display: none !important;
}
.account-settings-popup-container {
    background: $--settings-lightbox-bg;
    padding: px2vw-xl(40px) px2vw-xl(35px);
    position: relative;
    border-radius: px2vw-xl(2px);
    @include xxl {
        padding: px2vw-xxl(40px) px2vw-xxl(35px);
        border-radius: px2vw-xxl(2px);
    }
    @include lg {
        padding: px2vw-lg(40px) px2vw-lg(35px);
        border-radius: px2vw-lg(2px);
    }
    @include md {
        padding: px2vw-md(40px) px2vw-md(15px);
        border-radius: px2vw-md(2px);
    }
    @include sm {
        padding: 0;
        border-radius: 0;
    }
    .account_heading {
        h4 {
            color: var(--white);
            font-family: "maxis-black";
            letter-spacing: px2vw-xl(0.18px);
            margin-bottom: 0;
            font-size: px2vw-xl(24px);
            @include xxl {
                font-size: px2vw-xxl(24px);
                letter-spacing: px2vw-xxl(0.18px);
            }
            @include lg {
                font-size: px2vw-lg(24px);
                letter-spacing: px2vw-lg(0.18px);
            }
            @include md {
                font-size: px2vw-md(24px);
                letter-spacing: px2vw-md(0.18px);
            }
            @include sm {
                font-size: px2vw-sm(24px);
                letter-spacing: px2vw-sm(0.18px);
            }
        }
    }
}
.SettingsLightbox-close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--color-close-btn);
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);
    border-radius: 0px 2px 0px 0px;
    @include xxl {
        height: px2vw-xxl(30px);
        width: px2vw-xxl(30px);
    }
    @include lg {
        height: px2vw-lg(30px);
        width: px2vw-lg(30px);
    }
    @include md {
        height: px2vw-md(30px);
        width: px2vw-md(30px);
    }
    @include sm {
        height: px2vw-sm(30px);
        width: px2vw-sm(30px);
    }
    .icon_close {
        font-size: px2vw-xl(25px);
        @include xxl {
            font-size: px2vw-xxl(25px);
        }
        @include lg {
            font-size: px2vw-lg(25px);
        }
        @include md {
            font-size: px2vw-md(25px);
        }
        @include sm {
            font-size: px2vw-sm(25px);
        }
    }
}
::ng-deep .mat-tab-group[for="tab_account_setting"] {
    margin-top: px2vw-xl(16px) !important;
    @include xxl {
        margin-top: px2vw-xxl(16px) !important;
    }
    @include lg {
        margin-top: px2vw-lg(16px) !important;
    }
    @include md {
        margin-top: px2vw-md(16px) !important;
    }
    @include sm {
        margin-top: px2vw-sm(16px) !important;
    }
    .mat-tab-header {
        height: px2vw-xl(48px);
        @include xxl {
            height: px2vw-xxl(48px);
        }
        @include lg {
            height: px2vw-lg(48px);
        }
        @include md {
            height: px2vw-md(48px);
        }
        @include sm {
            height: px2vw-sm(48px);
        }
        .mat-tab-label-container {
            align-items: center !important;
            .mat-tab-list {
                display: flex !important;
                align-items: center !important;
                position: static !important;
                height: px2vw-xl(48px);
                @include xxl {
                    height: px2vw-xxl(48px);
                }
                @include lg {
                    height: px2vw-lg(48px);
                }
                @include md {
                    height: px2vw-md(48px);
                }
                @include sm {
                    height: px2vw-sm(48px);
                }
            }
        }
    }
}
.account_heading,
.account_tab ::ng-deep .mat-tab-header {
    margin: 0 px2vw-xl(15px);
    @include xxl {
        margin: 0 px2vw-xxl(15px);
    }
    @include lg {
        margin: 0 px2vw-lg(15px);
    }
    @include md {
        margin: 0 px2vw-md(15px);
    }
    @include sm {
        margin: 0 px2vw-sm(15px);
    }
    ::ng-deep .mat-tab-list {
        .mat-tab-labels {
            .mat-tab-label {
                .mat-tab-label-content {
                    font-family: "maxis-bold";
                    font-size: px2vw-xl(14px);
                    letter-spacing: px2vw-xl(0.1px);
                    line-height: px2vw-xl(24px);
                    color: var(--white-high);
                    @include xxl {
                        font-size: px2vw-xxl(14px);
                        letter-spacing: px2vw-xxl(0.1px);
                        line-height: px2vw-xxl(24px);
                    }
                    @include lg {
                        font-size: px2vw-lg(14px);
                        letter-spacing: px2vw-lg(0.1px);
                        line-height: px2vw-lg(24px);
                    }
                    @include md {
                        font-size: px2vw-md(14px);
                        letter-spacing: px2vw-md(0.1px);
                        line-height: px2vw-md(24px);
                    }
                    @include sm {
                        font-size: px2vw-sm(14px);
                        letter-spacing: px2vw-sm(0.1px);
                        line-height: px2vw-sm(24px);
                    }
                }
            }
        }
    }
}

@include sm {
    .SettingsLightbox {
        position: relative;
        bottom: px2vw-sm(26px);
    }
    .ac-header-container {
        display: flex !important;
        height: 100%;
    }
    .account_tab ::ng-deep .mat-tab-header-pagination {
        display: none;
    }
    .btn_close_mobile {
        display: block;
        background-color: transparent;
    }
    .btn_close_mobile ::ng-deep .mat-icon {
        color: var(--white-medium) !important;
    }
    .btn_close_web {
        display: none;
    }
    .accounts_topheading {
        justify-content: space-between;
        padding: 0px px2vw-sm(15px);
        border-bottom: 1px solid var(--white-light);
        height: px2vw-sm(70px);
        .mob_game_icon {
            height: 100%;
            border-right: 1px solid var(--white-light);
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: px2vw-sm(48px);
                width: px2vw-sm(48px);
                margin-right: px2vw-sm(15px);
            }
        }
        h5 {
            font-size: px2vw-sm(16px);
            margin-bottom: 0;
            color: var(--white-high);
            font-family: "maxis-semibold";
        }
        .btn_close_mobile {
            background-color: transparent;
            .mat-icon {
                color: var( --white-medium);
                font-size: px2vw-sm(25px);
                height: 24px;
                width: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .account_heading.mob {
        margin-top: px2vw-sm(30px);
        h4 {
            font-size: px2vw-sm(24px);
        }
    }
}

@media (min-width: 600px) {
    .btn_close_mobile {
        display: none;
    }
    .accounts_topheading .game_icon {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }
    .accounts_topheading {
        .mob_game_icon {
            img {
                width: 17%;
            }
        }
    }
}
