@import "shared";

:host {
  display: block;
}

.PrizeMoney {
  background-color: var(--blackcurrant-color-medium);
  position: relative;
  padding: 80px 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;

  &-container {
    flex-direction: column;
    max-width: 666px;
    padding-top: 88px;
    padding-bottom: 164px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
  }

  &-title {
    text-transform: none;
    margin-bottom: 30px;
  }

  &-items {
    margin-bottom: px2vw-xl(50px);
    max-width: px2vw-xl(410px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
      max-width: px2vw-lg(410px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      max-width: none;
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-item {
    margin-bottom: px2vw-xl(12px);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(22px);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 200ms linear;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    @include lg {
      margin-bottom: px2vw-lg(12px);
      border-radius: px2vw-lg(4px);
      padding: x2vw-lg(22px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(22px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(22px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.selected {
      .icon {
        background-image: url("/assets/icons/tournament/checked/on.svg");
      }
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(36px);
    width: px2vw-xl(35px);
    height: px2vw-xl(35px);
    background-image: url("/assets/icons/tournament/checked/off.svg");
    background-size: cover;

    @include lg {
      margin-right: px2vw-lg(36px);
      width: px2vw-lg(35px);
      height: px2vw-lg(35px);
    }

    @include md {
      margin-right: px2vw-md(36px);
      width: px2vw-md(35px);
      height: px2vw-md(35px);
    }

    @include sm {
      margin-right: px2vw-sm(36px);
      width: px2vw-sm(42px);
      height: px2vw-sm(42px);
    }
  }

  &-item-text {
    margin-bottom: 0;
    color: var(--base-white);
    transition: 200ms linear;

    @include sm {
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(32px);
    }
  }

  &-switcher-container {
    margin-top: auto;
  }
}
.ss-dlect-format {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  @include sm {
    margin-bottom: 16px;
  }
  .SelectTeams_header_link {
    display: flex;
    align-items: flex-end;
    color: var(--tolopea-medium-color);
    transition: $global-transition2;
    margin-bottom: 16px;
  }
  .lists-cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    @include md {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      max-width: calc(100% / 3 - 16px);
      height: 160px;
      background: var(--midnight-express-color);
      border-radius: 20px;
      padding: 31px 0px 0;
      cursor: pointer;
      margin-bottom: 24px;
      border: 2px solid transparent;
      @include md {
        max-width: calc(100% / 2 - 8px);
        margin-bottom: 16px;
        height: 104px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .iocn {
        display: inline-block;
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
      }
      .text {
        text-align: center;
        color: var(--tolopea-color);
      }
      &.selected {
        border-color: var(--secondary-color);

        .text {
          color: var(--secondary-color);
        }
      }
      &:hover {
        border-color: var(--secondary-color);

        .text {
          color: var(--secondary-color);
        }
      }
    }
  }
}
