<!-- <app-gameheader></app-gameheader> -->

<!-- <header class="GameLobby-header">
  <h1 class="GameLobby-header-title global-Elipses">
    {{ "MATCHMAKING.GAME_LOBBY.TITLE" | translate }}
  </h1> -->
<!-- <button class="GameLobby-header-button button-secondary">
    {{ "MATCHMAKING.GAME_LOBBY.BUTTON" | translate }}
  </button> -->
<!-- <button *ngIf="isImReady" class="GameLobby-header-button button-icon-secondary" (click)="participantReady()">
    <mat-icon> done </mat-icon>
    <span>{{"MATCHMAKING.GAME_LOBBY.READY" | translate}}</span>
  </button> -->
<!-- <button *ngIf="reportScore" class="GameLobby-header-button button-icon-secondary"
    [routerLink]="['/get-match/manage-score',{matchId:matchId}]">
    <span>{{ "MATCHMAKING.GAME_LOBBY.REPORT_SCORE" | translate }}</span>
  </button>
</header> -->

<!-- <ul class="GameLobby-opportunities"> -->
<!-- Team size -->
<!--<li class="GameLobby-opportunities-item">
    <header class="GameLobby-opportunities-header">
      <div class="GameLobby-opportunities-image-block">
        <img class="GameLobby-opportunities-image members" src="assets/icons/matchmaking/members.svg" alt="image" />
      </div>
     <h3 class="GameLobby-opportunities-title">
        {{ "MATCHMAKING.GAME_LOBBY.TEAM_SIZE.TITLE" | translate }}
      </h3>
    </header>
    <p class="GameLobby-opportunities-text">
      {{ "MATCHMAKING.GAME_LOBBY.TEAM_SIZE.TEXT" | translate }}
    </p>
  </li>-->

<!-- Registration -->
<!-- <li class="GameLobby-opportunities-item">
    <header class="GameLobby-opportunities-header">
      <div class="GameLobby-opportunities-image-block">
        <img class="GameLobby-opportunities-image edit" src="assets/icons/matchmaking/edit.svg" alt="image" />
      </div>
      <h3 class="GameLobby-opportunities-title">
        {{ "MATCHMAKING.GAME_LOBBY.REGISTRATION.TITLE" | translate }}
      </h3>
    </header>
    <p class="GameLobby-opportunities-text">
      {{ "MATCHMAKING.GAME_LOBBY.REGISTRATION.TEXT" | translate }}
    </p>
  </li>
</ul> -->

<!-- <mat-tab-group class="GameLobby-tabs" mat-align-tabs="start" animationDuration="0ms"> -->
<!-- <mat-tab [label]="'MATCHMAKING.GAME_LOBBY.PLAYERS.TITLE' | translate">
    <app-players [isSingle]="isSingle" [playersData]="playersData" [teamsData]="teamsData"></app-players>
  </mat-tab> -->
<!-- <mat-tab [label]="'MATCHMAKING.GAME_LOBBY.CHAT.TITLE' | translate">
    <app-matchroom-chat></app-matchroom-chat>
  </mat-tab>
  <mat-tab [label]="'MATCHMAKING.GAME_LOBBY.STATS.TITLE' | translate">
    <app-postgame-stats></app-postgame-stats>
  </mat-tab> -->
<!-- </mat-tab-group> -->
<!-- Matchroom chat -->
<!-- <button class="button-primary mt-5" (click)="chatFunction(matchId)">
  <span class="text">
    Matchroom chat
  </span>
</button> -->
<!-- <lib-esportschat></lib-esportschat> -->
<app-header-spark></app-header-spark>

<div class="CasualMatchmaking-wrap" [lazyLoad]="selectedGame?.matchmakingBanner">
  <div class="CasualMatchmaking-inner">
    <section class="CasualMatchmaking">
      <div class="CasualMatchmaking-title">
        {{ "MATCHMAKING.GAME_LOBBY.TITLE" | translate }}
        <div class="CasualMatchmaking-title-info" #btnShowPopup>
          <button class="CasualMatchmaking-title-info-btn" (click)="show = !show">
            <span class="icon" inlineSVG="../../../../assets/icons/icon-info.svg"></span>
            <span class="text">{{ "BUTTON.HELP" | translate }} </span>
          </button>
        </div>
      </div>
      <div class="CasualMatchmaking-subtitle">
        {{ "MATCHMAKING.GAME_LOBBY.SUB_TITLE" | translate }}
      </div>
      <div class="CasualMatchmaking-teams">
        <app-players [isSingle]="isSingle" [playersData]="playersData" [teamsData]="teamsData" [matchData]="matchData">
        </app-players>
      </div>
    </section>
    <div class="CasualMatchmaking-gameReady" *ngIf="showPopup">
      <div class="CasualMatchmaking-gameReady-title">
        {{ "MATCHMAKING.GAME_LOBBY.POPUP.TITLE_POPUP" | translate }}
      </div>
      <div class="CasualMatchmaking-gameReady-description">
        {{ "MATCHMAKING.GAME_LOADING.POPUP.CONTENT" | translate }}
      </div>
      <button class="CasualMatchmaking-gameReady-btn-confirm">
        {{ "BUTTON.CLOSE" | translate }}
      </button>
    </div>
  </div>
</div>
<div class="CasualMatchmaking-group-chat">
  <button (click)="chatFunction(matchId)">
    {{ "ELIMINATION.CHAT.TITLE" | translate }}
  </button>
  <lib-esportschat #chatcomponent *ngIf="isBrowser && esportsChatService.getCurrentMatch()"
    [matchdetails]="matchdetails" [showChatComponent]="showChat" [typeofchat]="matchdetails?.typeofchat">
  </lib-esportschat>
</div>
<div class="MatchLobby-guideBar">
  <div class="MatchLobby-guideBar-htplay">
    <button class="MatchLobby-guideBar-htplay-btn" (click)="show = !show" #btnShowPopupfoot>
      {{ "MATCHMAKING.GAME_LOBBY.HOW_TO_PLAY.TITLE" | translate }}
    </button>
  </div>
  <!-- <button class="button-primary" (click)="chatFunction(matchId)">
    <span class="text">
      {{ "MATCHMAKING.GAME_LOBBY.HOW_TO_PLAY.Matchroom_chat" | translate}}
    </span>
  </button> -->
  <!-- <div class="MatchLobby-guideBar-playerReady">
    <span class="MatchLobby-guideBar-playerReady-svg" inlineSVG="assets/icons/match-lobby/player-ready.svg"></span>
    {{"MATCHMAKING.MATCH_LOBBY.PLAYERS_READY" | translate}}: 3 out of 4
  </div> -->
  <div class="MatchLobby-guideBar-btn-ready" [class.is-show]="show">
    <!-- (click)="showPopup = !showPopup"  -->
    <!-- <button (click)="participantReady()" *ngIf="isImReady" >{{"BUTTON.IM_READY" | translate}}</button> -->
    <button [disabled]="!reportScore" [class.not-allowed]="!reportScore"
      [routerLink]="['/get-match/manage-score', { matchId: matchId }]">
      {{ "MATCHMAKING.GAME_LOBBY.REPORT_SCORE" | translate }}
    </button>
  </div>
</div>
<div class="MatchLobby-guideBar-htplay-content-wrap" *ngIf="show">
  <div class="MatchLobby-guideBar-htplay-content" #popup>
    <div class="MatchLobby-guideBar-htplay-content-title">
      {{ "MATCHMAKING.GAME_LOBBY.HOW_TO_PLAY.POPUP_TITLE" | translate }}
    </div>
    <div class="MatchLobby-guideBar-htplay-content-step">
      <div class="MatchLobby-guideBar-htplay-content-step-fimg"></div>
      <div class="MatchLobby-guideBar-htplay-content-step-text">
        <span class="bolder">{{"MATCHMAKING.MATCH_LOBBY.STEP" | translate}} 1</span> : {{
        "MATCHMAKING.GAME_LOBBY.HOW_TO_PLAY.STEP_1" | translate}}
      </div>
    </div>
    <div class="MatchLobby-guideBar-htplay-content-step">
      <div class="MatchLobby-guideBar-htplay-content-step-simg"></div>
      <div class="MatchLobby-guideBar-htplay-content-step-text">
        <span class="bolder">{{"MATCHMAKING.MATCH_LOBBY.STEP" | translate}} 2</span> : {{
        "MATCHMAKING.GAME_LOBBY.HOW_TO_PLAY.STEP_2" | translate}}
      </div>
    </div>
    <div class="MatchLobby-guideBar-htplay-content-step">
      <div class="MatchLobby-guideBar-htplay-content-step-timg"></div>
      <div class="MatchLobby-guideBar-htplay-content-step-text">
        <span class="bolder">{{"MATCHMAKING.MATCH_LOBBY.STEP" | translate}} 3</span> : {{
        "MATCHMAKING.GAME_LOBBY.HOW_TO_PLAY.STEP_3" | translate}}
      </div>
    </div>
  </div>
</div>
