<app-loading *ngIf="isLoading"></app-loading>
<div class="GameConfigurations-main" *ngIf="showGameTable">
  <div class="GameConfigurations-boxB">
    <div class="GameConfigurations-footer-btns">
      <button (click)="toggleGamePanel()" class="mesf-EditBtn is-sm">
        <span class="material-icons">add</span>
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_GAME" | translate }}
      </button>
    </div>
    <div class="GameConfigurations-searchBox">
      <div class="GameConfigurations-search">
        <mat-icon>search</mat-icon>
        <input
          (keyup)="searchByValueFilter($event)"
          type="search"
          placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
        />
      </div>
    </div>
    <div class="mesf-scrollbar">
      <div *ngIf="showGameTable">
        <ngx-datatable
          #table
          class="mesf-DataTableAdmin dark is-viewRemoveRow is-admin"
          [columns]="columnsFirstTab"
          [rows]="rowsFirstTab"
          [columnMode]="'flex'"
          [headerHeight]="'auto'"
          [footerHeight]="'auto'"
          [rowHeight]="'auto'"
          [limit]="50"
        >
          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.NAME' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="3"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.BRACKET_TYPES' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <ng-container
                *ngFor="
                  let item of row['bracketTypes'] | keyvalue;
                  let isFirst = first;
                  let isLast = last
                "
              >
                <span *ngIf="item.value">
                  {{ item.key | bracket | translate }} {{ isLast ? "" : "," }}
                </span>
              </ng-container>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.PLATFORMS' | translate
            }}"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngFor="let item of row['platform']; let isLast = last">
                {{ item.name }}{{ isLast ? "" : ", " }}
              </span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="2"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ORDER' | translate
            }}"
          >
            <ng-template
              let-rowIndex="rowIndex"
              let-row="row"
              ngx-datatable-cell-template
            >
              <input
                type="number"
                id="orderInput"
                (focusout)="updateRow($event, 'order', row)"
                class="GameConfigurations-boxB-item-input"
                [value]="row.order ? row.order : ''"
                [disabled]="!isEditable[rowIndex]"
              />
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ACTIVE' | translate
            }}"
          >
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row"
            >
              <mat-checkbox
                color="primary"
                (change)="updateRow($event, 'status', row['_id'])"
                [checked]="row.status == 1"
                class="is-small"
              ></mat-checkbox>
            </ng-template>
          </ngx-datatable-column> -->
          <ngx-datatable-column [flexGrow]="2" name="">
            <ng-template
              let-row="row"
              let-rowIndex="rowIndex"
              ngx-datatable-cell-template
            >
              <button
                mat-icon-button
                color="primary"
                (click)="editGame(row['_id'])"
              >
                <mat-icon class="advertisement-tableBtn is-view"
                  >visibility</mat-icon
                >
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="
                  this.isEditable = {};
                  this.isEditable[rowIndex] = !this.isEditable[rowIndex]
                "
                class="AccessManagement-tableBtn"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <!-- <button
                (click)="onRemoveGame(row['_id'])"
                mat-icon-button
                color="primary"
                class="AccessManagement-tableBtn"
              >
                <mat-icon>remove_circle</mat-icon>
              </button> -->
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>

<div class="GameConfigurations-main" *ngIf="!showGameTable">
  <div class="GameConfigurations-boxA">
    <div class="GameConfigurations-boxA-item is-first">
      <div class="mesf-Text">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_LOGO" | translate }}
      </div>
      <input
        type="file"
        id="logofileUpload"
        style="opacity: 0; height: 0px; width: 0px;"
      />
      <div
        #logoUpload
        id="logoUpload"
        class="GameConfigurations-boxA-item-upload"
      >
        <div class="GameConfigurations-boxA-item-upload-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_LOGO" | translate }} <br />
          <button (click)="logoUploader()" class="mesf-EditBtn is-sm is-edit">
            {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="GameConfigurations-boxA-item is-first">
      <div class="mesf-Text">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_IMAGE" | translate }}
      </div>
      <input
        type="file"
        id="imagefileUpload"
        style="opacity: 0; height: 0px; width: 0px;"
      />
      <div
        #imageUpload
        id="imageUpload"
        class="GameConfigurations-boxA-item-upload"
      >
        <div class="GameConfigurations-boxA-item-upload-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.IMAGE" | translate }} <br />
          <button (click)="imageUploader()" class="mesf-EditBtn is-sm is-edit">
            {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="GameConfigurations-boxA-item">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label switch-text-label">
              {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.SINGLE" | translate }}
            </label>
            <label class="switch">
              <input
                class="form-check-input"
                type="checkbox"
                [checked]="type.single"
                (change)="emitChangedValue($event, 'single')"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="GameConfigurations-boxA-item">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label switch-text-label">
              {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.DOUBLE" | translate }}
            </label>
            <label class="switch">
              <input
                class="form-check-input"
                type="checkbox"
                [checked]="type.double"
                (change)="emitChangedValue($event, 'double')"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="GameConfigurations-boxA-item">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label switch-text-label">
              {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ROUND_ROBIN" | translate }}
            </label>
            <label class="switch">
              <input
                class="form-check-input"
                type="checkbox"
                [checked]="type.round_robin"
                (change)="emitChangedValue($event, 'round_robin')"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="GameConfigurations-boxA-item">
        <div class="form-group">
          <div class="form-check">
            <label class="form-check-label switch-text-label">
              {{
                "ADMIN.SITE_CONFIGURATION.SUB_PAGE.BATTLE_ROYALE" | translate
              }}
            </label>
            <label class="switch">
              <input
                class="form-check-input"
                type="checkbox"
                [checked]="type.battle_royale"
                (change)="emitChangedValue($event, 'battle_royale')"
              />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="GameConfigurations-boxC">
    <div class="GameConfigurations-boxB-item">
      <mat-form-field
        class="mesf-MatInputOutline LogReg-input"
        appearance="outline"
      >
        <mat-label>{{
          "ADMIN.SITE_CONFIGURATION.SUB_PAGE.NAME" | translate
        }}</mat-label>
        <input
          matInput
          id="name"
          [(ngModel)]="name"
          autocomplete="off"
          type="text"
        />
      </mat-form-field>
    </div>
    <div class="GameConfigurations-boxB-item" style="margin-top: 5px;">
      <label class="form-check-label switch-text-label">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.PLATFORMS" | translate }} </label
      ><span *ngIf="platformsError" class="platformsError">*</span>
      <div style="width: 100%;">
        <angular2-multiselect
          [data]="platformList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="OnItemDeSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          (onDeSelectAll)="onDeSelectAll($event)"
        >
        </angular2-multiselect>
      </div>
    </div>
  </div>
  <div class="GameConfigurations-boxA">
    <div class="GameConfigurations-boxA-item">
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label switch-text-label">
            {{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.AVAIL_FOR_TOURNAMENT"
                | translate
            }}
          </label>
          <label class="switch">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="isTournamentAllowed"
              (change)="emitChangedValue($event, 'isTournamentAllowed')"
            />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="GameConfigurations-footer-btns">
    <button
      class="mesf-EditBtn is-sm is-admin-cancel"
      (click)="toggleGamePanel()"
    >
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.CANCEL" | translate }}
    </button>
    <button class="mesf-EditBtn is-sm" (click)="saveGame()">
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.SAVE" | translate }}
    </button>
  </div>
</div>
