<div>
  <div class="counter-container">
    <div class="form-group">
      <input
        type="number"
        class="form-control"
        [min]="min"
        [(ngModel)]="value"
        (change)="counterChangeHandler()"
      />
    </div>
    <div class="sort">
      <fa-icon
        [icon]="['fas', 'sort-up']"
        class="custom-file-upload-icon"
        (click)="increment()"
        matTooltip="{{ 'ELIMINATION.TOOLTIP.04' | translate }}"
      ></fa-icon>
      <fa-icon
        [icon]="['fas', 'sort-down']"
        class="custom-file-upload-icon"
        (click)="decrement()"
        matTooltip="{{ 'ELIMINATION.TOOLTIP.05' | translate }}"
      ></fa-icon>
    </div>
  </div>
</div>
