@import "shared";

:host {
  display: block;
}
.example-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: px2vw-xl(16px);
  @include lg {
    padding: px2vw-lg(16px);
  }
  @include md {
    padding: px2vw-md(16px);
  }
  @include sm {
    padding: px2vw-sm(24.576px);
  }
  .mat-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: px2vw-xl(24px);
    height: px2vw-xl(24px);
    @include lg {
      width: px2vw-lg(24px);
      height: px2vw-lg(24px);
    }
    @include md {
      width: px2vw-md(24px);
      height: px2vw-md(24px);
    }
    @include sm {
      width: px2vw-sm(36.864px);
      height: px2vw-sm(36.864px);
    }
  }
}
::ng-deep .mat-button-wrapper {
  display: inline-flex;
}
::ng-deep .mat-icon {
  color: var(--main-color);
  font-size: px2vw-xl(36px);
  width: auto;
  height: auto;
  @include lg {
    font-size: px2vw-lg(24px);
  }
  @include md {
    font-size: px2vw-md(24px);
  }
  @include sm {
    font-size: px2vw-sm(36.864px);
  }
}
