@import "shared";

:host {
  display: block;
}

.AccountItem {
  &-title {
    @extend %subtitle-2;
    margin-bottom: px2vw-xl(6px);

    @include lg {
      margin-bottom: px2vw-lg(6px);
    }

    @include md {
      margin-bottom: px2vw-md(6px);
    }

    @include sm {
      margin-bottom: px2vw-sm(6px);
    }
  }

  &-content {
    @extend %u-dfCenter;
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(8px);
    border-radius: px2vw-xl(4px);
    border: px2vw-xl(1px) solid var(--white-smoke);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(8px);
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-icon {
    max-height: px2vw-xl(30px);
    max-width: px2vw-xl(30px);

    @include lg {
      max-height: px2vw-lg(30px);
      max-width: px2vw-lg(30px);
    }

    @include md {
      max-height: px2vw-md(30px);
      max-width: px2vw-md(30px);
    }

    @include sm {
      max-height: px2vw-sm(30px);
      max-width: px2vw-sm(30px);
    }
  }

  &-field {
    width: 450px;
    ::ng-deep {
      .mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
          margin-bottom: 0;
        }
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-flex > .mat-form-field-infix {
        padding: 1.2em 0 1.2em 0;
      }
    }
  }
}
