@import "shared";

.Basic-info {
  .url {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    color: var(--textcolorurl);
    padding: 10px 0px;
  }

  .start-date {
    margin: 0 -10px;
    margin-top: 30px;
    padding-top: 15px;

    & .error {
      margin-top: 30px !important;
      position: relative;
    }

    @include xl {
      margin: 20px 0px 0px 0px;
    }

    @include lg {
      margin: 20px 0px 0px 0px;
    }

    @include md {
      margin: 20px 0px 0px 0px;
    }

    @include sm {
      margin: 30px 0px 0px 0px;
    }

    &-time {
      label {
        position: initial;
        margin-bottom: 0;
        margin-right: 15px;
        padding: 0;
        color: var(--inputplaceholdernonactive);
        font-family: "dynasty-primary-light" !important;
      }

      @include sm {
        margin: 30px 0;
      }
    }
  }

  .end-date {
    @extend .start-date;
  }

  .carousel-game {
    margin-top: 69px;
    position: relative;

    @include lg {
      margin-top: 50px;
    }

    @include md {
      margin-top: 30px;
    }

    p {
      font-size: 16px;
      line-height: 21px;
      color: #181c1e;
      margin-bottom: 25px;

      @include lg {
        margin-bottom: 75px;
      }
    }

    swiper {
      width: 100%;
      display: block;
      margin-top: -67px;

      .swiper-slide.swiper-slide-prev {
        margin-right: 55px;
      }
      .swiper-slide.swiper-slide-next {
        margin-left: 50px;
      }
      .swiper-slide.swiper-slide-active {
        margin: 0 !important;
      }

      .swiper-slide {
        width: 177px;
        height: 184px;
        padding: 0;
        background: transparent;
        margin-right: 15px;

        &:last-child {
          margin-right: 0 !important;
        }

        &.swiper-slide-active {
          width: 294px;
          height: 306px;
          overflow: inherit;
          > div {
            cursor: pointer;
            height: 306px;
            background-size: cover !important;
            background-position: center !important;
            border: 2px solid var(--orange-color-main);
            box-shadow: 6px 6px 10px #000000b3;
            div {
              text-align: center;
              p {
                font-size: 24px;
                line-height: 31px;
              }
            }
          }
        }
        > div {
          border-radius: 5px;
          cursor: pointer;
          overflow: hidden;
          position: relative;
          height: 184px;
          background-size: cover !important;
          background-position: center !important;
          div {
            background: rgba(23, 26, 28, 0.7);
            padding-top: 12px;
            padding-bottom: 17px;
            padding-left: 18px;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            p {
              font-size: 12px;
              line-height: 16px;
              color: var(--textcolor);
              margin: 0;
            }
          }
        }

        @include lg {
          height: 150px;
          margin-left: 0 !important;
          &.swiper-slide-active {
            height: 150px;
            margin-right: 15px !important;
            overflow: hidden;
            border-radius: 5px;
            > div {
              height: 150px;
              div {
                background: rgba(23, 26, 28, 0.9);
                padding: 10px 5px !important;
                p {
                  font-size: 15px;
                  line-height: normal;
                }
              }
            }
          }
          > div {
            height: 150px;
            div {
              background: rgba(23, 26, 28, 0.9);
              padding: 10px 5px;
            }
          }
        }

        @include md {
          height: 100px;
          margin-left: 0 !important;
          &.swiper-slide-active {
            height: 100px;
            margin-right: 15px !important;
            overflow: hidden;
            border-radius: 5px;
            > div {
              height: 100px;
              div {
                background: rgba(23, 26, 28, 0.9);
                padding: 10px 5px !important;
                p {
                  font-size: 15px;
                  line-height: normal;
                }
              }
            }
          }
          > div {
            height: 100px;
            div {
              background: rgba(23, 26, 28, 0.9);
              padding: 10px 5px;
            }
          }
        }
      }

      .s-wrapper.swiper-container {
        position: inherit;
        padding: 0 0 15px;

        .swiper-wrapper {
          align-items: center;
          height: 100% !important;
        }

        .swiper-pagination {
          display: none;
          position: relative;
          margin-top: 41px;

          .swiper-pagination-handle {
            padding: 0;
            margin: 0;
            margin-right: 17px;

            &:last-child {
              margin-right: 0;
            }

            .swiper-pagination-bullet {
              background: transparent;
              border: 3px solid #fcfcfc;
              width: 24px;
              height: 24px;
              margin: 0 !important;

              &.swiper-pagination-bullet-first,
              &.swiper-pagination-bullet-last {
                border: 3px solid #fcfcfc;
              }

              &.swiper-pagination-bullet-active {
                width: 25px;
                height: 25px;
                border: 3px solid #da2c38;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &:before {
                  content: "";
                  width: 13px;
                  height: 13px;
                  background: #da2c38;
                  border-radius: 50%;
                  margin: auto;
                  position: absolute;
                  left: 0;
                  right: 0;
                  bottom: 6px;
                }
              }
            }
          }
        }

        .swiper-button-prev,
        .swiper-button-next {
          width: 39px;
          height: 40px;
          overflow: hidden;
          margin-top: -40px;

          @include lg {
            width: 18px;
            height: 18px;
            margin-top: 15px;
          }

          @include md {
            width: 18px;
            height: 18px;
            margin-top: 15px;
          }

          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 50%;
            width: 100%;
            height: 100%;
            border: 2px solid white;
            transform: rotate(45deg);

            @include md {
              border-width: 1px;
            }
          }
        }

        .swiper-button-prev {
          transform: rotate(180deg);
          left: -45px;

          @include lg {
            left: -30px;
          }

          @include md {
            left: -20px;
          }
        }

        .swiper-button-next {
          right: -38px;

          @include lg {
            right: -30px;
          }

          @include md {
            right: -20px;
          }
        }
      }
    }
  }

  .tournament-type {
    .item {
      margin-top: 30px;
    }
  }

  .platform {
    margin-top: 30px;
    margin-left: 5px;
    width: 100%;

    p {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 1rem;
      margin-left: 10px;
      font-family: "dynasty-primary-light" !important;
      text-transform: capitalize;
    }

    img {
      width: 13px;
      margin-right: 10px;
    }

    .list {
      &-item {
        height: 45px;
        position: relative;
        padding: 0 8px;
        margin: 10px 0px;
        &:focus {
          outline: 0;
          box-shadow: 0 0 0 transparent !important;
        }
        &.focus,
        &.active {
          box-shadow: 0 0 !important;
        }
        input {
          opacity: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          cursor: pointer;
        }
        input:checked + div {
          background: var(--orange-color-main);
          border-color: var(--orange-color-main);

          p {
            color: var(--textcolor);
          }
        }

        &-body {
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 100%;
          border: 2px solid var(--textcolor);
          border-radius: 5px;

          p {
            margin: 0;
            font-size: 18px;
            line-height: 23px;
            color: var(--textcolor);
            text-align: center;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .bracket-format {
    @extend .platform;
  }

  .placement-point {
    margin-top: 15px;
    h6 {
      color: var(--textcolor);
      @include xl {
        width: 150%;
      }

      @include lg {
        width: 150%;
      }

      @include md {
        width: 100%;
      }

      @include sm {
        width: 100%;
      }
    }

    &-wrap {
      max-height: 242px;
      width: 100%;
      overflow: auto;

      & .block-points-of-placement {
        margin: 6px 0;
        min-height: 50px;
        width: 100%;
        padding: 6px;
        border: 2px solid var(--textcolor);
        border-radius: 10px;
        display: flex;
        flex-direction: row;

        & .point-placement__input {
          height: 100%;
          display: inline-block;
          vertical-align: middle;

          span {
            font-family: Montserrat-Bold;
            background: #3e424b;
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            color: #fff;
            padding: 10px;
            text-align: center;
            min-width: 45px;
          }

          input {
            background-color: var(--create-tour-cardbody-bg-color);
            color: white;
            padding: 0px 10px;
            max-width: 100px;
            height: 30px;
          }
        }
      }
    }
  }

  .margin-bt {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .upload-margin {
    margin-top: 40px;
  }
}

.pointerEvent {
  pointer-events: none;
}
