@import "shared";

.SelectTeammates {
  padding-left: px2vw-xl(106px);
  position: relative;
  @include lg {
    padding-left: px2vw-lg(106px);
  }

  @include md {
    padding-left: px2vw-md(106px);
  }

  @include sm {
    padding-left: px2vw-sm(106px);
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: px2vw-xl(35px);
    width: px2vw-xl(34px);
    height: px2vw-xl(34px);
    background: url(../../assets//images/Tournament/swords.svg);
    background-size: 34px;

    @include lg {
      left: px2vw-lg(35px);
      width: px2vw-lg(34px);
      height: px2vw-lg(34px);
    }

    @include md {
      left: px2vw-md(35px);
      width: px2vw-md(34px);
      height: px2vw-md(34px);
    }

    @include sm {
      left: px2vw-sm(35px);
      width: px2vw-sm(34px);
      height: px2vw-sm(34px);
    }
  }
  .SelectTeammates-title {
    font-family: "archivo-black", sans-serif;
    font-size: 2.3611111111vw !important;
    line-height: 2.5vw;
    letter-spacing: 0;
    color: var(--white-high);
    text-transform: uppercase;
    margin-bottom: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }
  .SelectTeammates-subtitle {
    font-family: "archivo-bold", sans-serif;
    font-size: 1.1111111111vw;
    line-height: 1.6666666667vw;
    letter-spacing: 0.0104166667vw;
    color: var(--white-high);
  }

  .SelectTeammates-title {
    font-family: "archivo-black", sans-serif;
    font-size: 2.3611111111vw !important;
    line-height: 2.5vw;
    letter-spacing: 0;
    color: var(--white-high);
    text-transform: uppercase;
    margin-bottom: 20px !important;
  }
  .SelectTeammates-subtitle {
    font-family: "archivo", sans-serif;
    font-size: 1.1111111111vw;
    line-height: 1.6666666667vw;
    letter-spacing: 0.0104166667vw;
    color: var(--white-high);
  }

  .SelectTeammates-subtitle {
    font-family: "archivo-bold", sans-serif;
    font-size: 1.1111111111vw;
    line-height: 1.6666666667vw;
    letter-spacing: 0.0104166667vw;
    color: var(--white-high);
  }

  .SelectTeammates-buttons {
    justify-content: flex-start !important;
    margin-top: 45px !important;

    .global-EditBtn {
      -webkit-user-select: none;
      user-select: none;
      background: var(--white-high);
      padding: 10px;
      color: var(--black);
      border-radius: 5px;
      width: 270px;
      text-transform: uppercase;
      max-width: 100%;

      &.confirm {
        background: var(--color-primary);
      }
    }
  }
}

@include lg {
  .SelectTeammates {
    &:after {
      top: px2vw-lg(-72px);
      left: px2vw-lg(0px);
    }

    padding-left: px2vw-lg(0px);
    margin-top: px2vw-lg(160px);

    h1.SelectTeammates-title {
      font-size: 2.8vw !important;
    }

    p.SelectTeammates-subtitle {
      font-size: px2vw-lg(18px);
      font-weight: 200;
      margin-top: px2vw-lg(-10px);
    }
  }
}

@include md {
  .SelectTeammates {
    &:after {
      top: px2vw-md(-72px);
      left: px2vw-md(0px);
    }

    padding-left: px2vw-md(0px);
    margin-top: px2vw-md(30px);

    h1.SelectTeammates-title {
      font-size: 4.3611111111vw !important;
    }

    p.SelectTeammates-subtitle {
      font-size: px2vw-md(18px);
      font-weight: 200;
      margin-top: px2vw-md(-10px);
    }
  }
}

@include sm {
  .SelectTeammates {
    &:after {
      top: px2vw-sm(-72px);
      left: px2vw-sm(0px);
    }

    padding-left: px2vw-sm(0px);
    margin-top: px2vw-sm(40px);

    h1.SelectTeammates-title {
      font-size: 5.3611111111vw !important;
    }

    p.SelectTeammates-subtitle {
      font-size: px2vw-sm(18px);
      font-weight: 200;
      margin-top: px2vw-sm(-10px);
    }
  }
}
