<div class="ct-HeaderTop">
  <div class="EntranceFee">
    <div class="EntranceFee-container">
      <h2 class="EntranceFee-title global-Title3">
        {{ "CREATE_TOURNAMENT.ENTRANCE_FEE.TITLE" | translate }}
      </h2>
      <div class="SelectDate-form">
        <div class="form-field form-field-2 bodernone">
          <ul class="lists-cards">
            <li class="item" *ngFor="let item of dataCashPrizes" [ngClass]="{ active: dataCashPrizesIDItem == item.id }"
              (click)="clickChecked(item)">
              <span class="icon" [inlineSVG]="item.img">
              </span>
              <div class="text">
                {{ item.textTitle }}
              </div>
            </li>
          </ul>
          <div class="form-field-hide form-field-hide-option-1" *ngIf="dataCashPrizesPool">
            <div class="form-field form-field-1">
              <h4 class="form-heading">
                {{
                "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.TITLE"
                | translate
                }}
              </h4>
              <div class="form-field-box">
                <div class="form-field-item form-field-text">
                  <label class="form-label">
                    {{
                    "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.ENTRANCE_FEE_LABEL"
                    | translate
                    }}
                  </label>
                  <div class="input-group">
                    <input [(ngModel)]="entranceFee" [ngModelOptions]="{ standalone: true }" name="entranceFee"
                      type="number" class="input-field" placeholder="Entrance fee"
                      (change)="handleChangeComponent1($event)" autocomplete="off" />
                  </div>
                </div>
                <div class="form-field-item form-field-select">
                  <label class="form-label">
                    {{
                    "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.PAYOUT_METHOD_LABEL"
                    | translate
                    }}
                  </label>
                  <div ngbDropdown class="select-teamDropdown">
                    <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                      {{
                      selectPayC1 === ""
                      ? "Select payout method"
                      : selectPayC1
                      }}
                    </button>
                    <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let pay of payoutsMethodC1"
                        (click)="onToggleChangePayoutsC1(pay)">
                        {{ pay }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-field-item form-field-text">
                  <label class="form-label">
                    {{
                    "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.CURRENCY_LABEL"
                    | translate
                    }}
                  </label>
                  <div ngbDropdown class="select-teamDropdown">
                    <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                      {{ selectCurrencyWagger === "" ? "Currency" : selectCurrencyWagger }}
                    </button>
                    <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let currency of currencies"
                        (click)="onToggleChangeCurrencyWagger(currency)">
                        {{ currency }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-field-item form-field-text">
                  <label class="form-label">
                    {{
                    "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.PARTICIPANTS_LABEL"
                    | translate
                    }}
                  </label>
                  <div class="input-group">
                    <input [(ngModel)]="numberOfParticipants" [ngModelOptions]="{ standalone: true }" type="number"
                      name="participants" class="input-field" (change)="handleChangeComponent1($event)"
                      placeholder="Number of participants " autocomplete="off" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-preview">
              <div class="wap">
                <div class="inner">
                  <div class="inner-left">
                    <h2 class="title">
                      {{
                      "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.MAX_PRICE_POOL.TITLE"
                      | translate
                      }}
                      <br>
                      <span class="price">{{ (selectCurrencyWagger && selectCurrencyWagger=="USD") ? '$' : (
                        (selectCurrencyWagger && selectCurrencyWagger=="VND" ) ? '₫' : ((selectCurrencyWagger &&
                        selectCurrencyWagger=="DKK" ) ? 'Kr.' : ''))}}{{calculatedWaggerPoolAmount}}</span>
                    </h2>
                    <p>
                      {{
                      "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.MAX_PRICE_POOL.CAPTION"
                      | translate
                      }}
                    </p>
                  </div>
                  <div class="inner-right">
                    <div class="item-preview">
                      <span class="item-text">{{
                        "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.ENTRANCE_FEE_LABEL"
                        | translate
                        }}</span>
                      <span class="item-price">{{ (selectCurrencyWagger && selectCurrencyWagger=="USD") ? '$' : (
                        (selectCurrencyWagger && selectCurrencyWagger=="VND" ) ? '₫' : ((selectCurrencyWagger &&
                        selectCurrencyWagger=="DKK" ) ? 'Kr.' : ''))}}{{ entranceFee }}</span>
                    </div>
                    <div class="item-preview">
                      <span class="item-text">
                        {{
                        "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.PARTICIPANTS_LABEL"
                        | translate
                        }}</span>
                      <span class="item-price">{{ numberOfParticipants }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-field form-field-2">
              <h4 class="form-heading">
                {{
                "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.PRIZE_PAYOUTS.TITLE"
                | translate
                }}
              </h4>
              <div class="form-content">
                <!-- COM 1 -->
                <div class="item-prize-payouts" *ngFor="let payout of payouts;let i=index">
                  <div class="field-item-prize-payouts">
                    <div class="prize-payout-label">
                      <label class="form-label">
                        {{
                        "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.PRIZE_PAYOUTS.PLACEMENT_LABEL"
                        | translate
                        }}
                      </label>
                      <label class="form-label">
                        {{
                        "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.PRIZE_PAYOUTS.WEIGHTAGE_LABEL"
                        | translate
                        }}
                        <span class="icon">
                          <img src="../../../../../assets/icons/create-tournament/Icon-i.svg" alt="" />
                        </span>
                      </label>
                    </div>
                    <div class="prize-payout-form">
                      <div class="input-group">
                        <input type="text" name="fromNth" (change)="handleChangeWeightC1($event,i)" class="input-field"
                          placeholder="nth" autocomplete="off" />
                        <span class="speach"></span>
                        <input type="text" name="toNth" (change)="handleChangeWeightC1($event,i)" class="input-field"
                          placeholder="nth" autocomplete="off" />
                      </div>
                      <div class="input-group">
                        <input type="text" class="input-field" placeholder="%" name="weightage"
                          (change)="handleChangeWeightC1($event,i)" autocomplete="off" />
                        <div class="btn btn-del" (click)="onToggleDelete(payout)">
                          <span class="icon">
                            <img src="../../../../../assets/icons/create-tournament/delete.svg" alt="" />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a (click)="addPayout()" class="btn btn-add-another-venue">
                {{ "add another prize" | translate }}
              </a>
            </div>
          </div>
          <div class="form-field-hide form-field-hide-option-2" *ngIf="dataCashPrizesSponsors">
            <div class="form-field form-field-1">
              <h4 class="form-heading">
                {{
                "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.TITLE2" | translate
                }}
              </h4>
              <div class="form-field-box">
                <div class="form-field-item form-field-select">
                  <label class="form-label">
                    {{
                    "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.CURRENCY_LABEL"
                    | translate
                    }}
                  </label>
                  <div ngbDropdown class="select-teamDropdown">
                    <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                      {{ selectCurrency === "" ? "Currency" : selectCurrency }}
                    </button>
                    <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let currency of currencies"
                        (click)="onToggleChangeCurrency(currency)">
                        {{ currency }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-field-item form-field-select">
                  <label class="form-label">
                    {{
                    "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.PAYOUT_METHOD_LABEL"
                    | translate
                    }}
                  </label>
                  <div ngbDropdown class="select-teamDropdown">
                    <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                      {{
                      selectPay === "" ? "Select payout method" : selectPay
                      }}
                    </button>
                    <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem *ngFor="let pay of payoutsMethod" (click)="onToggleChangePayouts(pay)">
                        {{ pay }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-field form-field-2">
              <div class="form-content">
                <div class="prize-payouts-lists">
                  <div class="item-prize-payouts">
                    <div class="field-item-prize-payouts">
                      <label class="form-label">
                        {{
                        "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.PRIZE_PAYOUTS.PLACEMENT_LABEL"
                        | translate
                        }}
                      </label>
                    </div>
                    <div class="field-item-prize-payouts">
                      <label class="form-label">
                        {{
                        "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.PRIZE_PAYOUTS.AMOUNT_LABEL"
                        | translate
                        }}
                      </label>
                    </div>
                  </div>
                  <div class="item-prize-payouts" *ngFor="let sponsor of sponsors;let i=index">
                    <div class="field-item-prize-payouts">
                      <div class="input-group">
                        <input type="text" name="fromNth" class="input-field" placeholder="nth"
                          (change)="handleChangeWeightC2($event,i)" autocomplete="off" />
                        <span class="speach"></span>
                        <input type="text" name="toNth" class="input-field" placeholder="nth"
                          (change)="handleChangeWeightC2($event,i)" autocomplete="off" />
                      </div>
                    </div>
                    <div class="field-item-prize-payouts">
                      <div class="input-group">
                        <input type="text" name="weightage" class="input-field" placeholder="%"
                          (change)="handleChangeWeightC2($event,i)" autocomplete="off" />
                        <div class="btn btn-del" (click)="onToggleDeleteSponsor(sponsor)">
                          <span class="icon">
                            <img src="../../../../../assets/icons/create-tournament/delete.svg" alt="" />
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-preview">
                  <div class="wap">
                    <div class="inner">
                      <div class="inner-left">
                        <h2 class="title">
                          {{
                          "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.MAX_PRICE_POOL.TITLE2"
                          | translate
                          }}
                        </h2>
                        <span class="price">{{ (selectCurrency && selectCurrency=="USD") ? '$' : ( (selectCurrency &&
                          selectCurrency=="VND" ) ? '₫' : ((selectCurrency && selectCurrency=="DKK" ) ? 'Kr.' : ''))}}{{
                          fromSponpors.entranceFee }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <a (click)="addSponsor()" class="btn btn-add-another-venue">
                {{ "add another prize" | translate }}
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="EntranceFee-switcher-container">
      <app-page-switcher [step]="Step6?.value?.step" (onStepChange)="onStepChange($event)" [waggerPool]="waggerPool"
        [fromSponpors]="fromSponpors" [typeOfChecked]="typeOfChecked"></app-page-switcher>
    </div>
  </div>
</div>
