@import "shared";

:host {
  display: block;
}

.EntranceFee {
  background-color: var(--purple-bg);
  position: relative;
  padding: 80px 0 150px 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  background-image: url("../../../../../../assets/images/Tournament/create/quick.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    padding: 70px 0 0 0;
  }

  @include md {
    padding: 64px 0 0 0;
  }

  &-container {
    min-height: 100vh;
    flex-direction: column;
    max-width: 666px;
    padding-top: 88px;
    padding-bottom: 164px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 100%;
    @include lg {
      padding-left: 24px;
      padding-right: 24px;
    }

    @include md {
      max-width: 100%;
      padding-top: 56px;
      padding-bottom: 270px;
    }

    @include sm {
      max-width: 100%;
    }
  }

  &-title {
    text-transform: none;
    margin-bottom: 6px;
    color: var(--base-white);
    @include md {
      margin-bottom: 0;
    }
  }

  &-items {
    margin-bottom: px2vw-xl(50px);
    max-width: px2vw-xl(410px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
      max-width: px2vw-lg(410px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      max-width: none;
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-item {
    margin-bottom: px2vw-xl(12px);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(22px);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 200ms linear;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    @include lg {
      margin-bottom: px2vw-lg(12px);
      border-radius: px2vw-lg(4px);
      padding: x2vw-lg(22px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(22px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(22px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.selected {
      .icon {
        background-image: url("/assets/icons/tournament/checked/on.svg");
      }
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(36px);
    width: px2vw-xl(35px);
    height: px2vw-xl(35px);
    background-image: url("/assets/icons/tournament/checked/off.svg");
    background-size: cover;

    @include lg {
      margin-right: px2vw-lg(36px);
      width: px2vw-lg(35px);
      height: px2vw-lg(35px);
    }

    @include md {
      margin-right: px2vw-md(36px);
      width: px2vw-md(35px);
      height: px2vw-md(35px);
    }

    @include sm {
      margin-right: px2vw-sm(36px);
      width: px2vw-sm(42px);
      height: px2vw-sm(42px);
    }
  }

  &-item-text {
    margin-bottom: 0;
    color: var(--base-white);
    transition: 200ms linear;

    @include sm {
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(32px);
    }
  }

  &-switcher-container {
    margin-top: auto;
  }
}
.SelectDate-form {
  width: 100%;
  .form-field-hide {
    margin-top: 3px;
    width: inherit;
    border-top: 2 px solid var(--purple-bar);
    @include sm {
      margin-top: 9px;
    }
    &.form-field-hide-option-1 {
      .form-heading {
        color: var(--base-white);
      }
    }
  }
  .form-field {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid var(--color-black-medium);
    padding-top: 25px;
    @include sm {
      padding-top: 16px;
    }
    .form-heading {
      font-family: "stc-forward-regular";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: var(--white);
      margin-bottom: 26px;
      width: 100%;
      @include sm {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 18px;
      }
    }
    .form-label {
      display: flex;
      align-items: flex-end;
      color: var(--white);
      display: block;
      margin-bottom: 18px;
      .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: transparent;
        border: 1px solid transparent;
        position: relative;
        margin-left: 11px;
        font-size: 0;
        line-height: 1;
        img {
          position: relative;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }
  .form-field-hide-option-2 {
    .form-content {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      .prize-payouts-lists {
        width: 100%;
        max-width: calc(100% - 193px);
        padding-right: 25px;
        @include sm {
          max-width: 100%;
          padding-right: 0;
        }
        .item-prize-payouts {
          .field-item-prize-payouts {
            &:last-child {
              label.form-label {
                padding-right: 135px;
                @include md {
                  padding-right: 100px;
                }
                @include sm {
                  padding-right: 46px;
                }
              }
            }
            .input-group {
              .input-field {
                width: 80px;
                @include md {
                  width: 60px;
                }
                @include sm {
                  width: 57px;
                  padding: 10px 14px;
                }
              }
            }
            &:last-child {
              .input-group {
                .input-field {
                  width: 134px;
                  @include md {
                    width: 100px;
                  }
                  @include sm {
                    width: 75px;
                  }
                }
              }
            }
          }
        }
      }
      .form-preview {
        width: 100%;
        max-width: 192px;
        margin-top: 45px;
        @include sm {
          max-width: 100%;
          margin-top: 12px;
        }
        .wap {
          padding: 20px 40px 20px 16px;
          margin: 0;
          @include sm {
            padding: 16px;
          }
          .inner {
            .inner-left {
              @include sm {
                margin-bottom: 0;
                text-align: center;
              }
              .title {
                font-family: "stc-forward-regular";
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                color: var(--grey-base1);
                margin-bottom: 14px;
                max-width: 100%;
              }
              span.price {
                font-family: "stc-forward-regular";
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: -0.5px;
                color: var(--grey-base1);
              }
            }
          }
        }
      }
    }
    &.form-field-1 {
      border: none;
    }
    .form-field.form-field-2 {
      padding-top: 24px;
      @include sm {
        padding-top: 18px;
      }
      .form-heading {
        margin-bottom: 24px;
        @include sm {
          margin-bottom: 20px;
          color: var(--base-white);
        }
      }
      .form-content {
        .item-prize-payouts {
          .input-group {
            .btn-del {
              @include sm {
              }
            }
          }
        }
      }
    }
    a.btn-add-another-venue {
      padding: 20px 0 4px;
      @include sm {
        padding: 20px 0 11px;
      }
    }
  }
}

.ss-footer-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--midnight-express-color);
  z-index: 9;
  .inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 24px;

    .box-item {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      max-width: 50%;
      &-left {
        max-width: px2vw-xl(393px);
        justify-content: flex-start;
        @include md {
          margin-bottom: 16px;
        }
      }
      &-right {
        max-width: px2vw-xl(430px);
        justify-content: flex-end;
        &-header-button {
          margin-left: 0;
          color: var(--base-white);
          @include md {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
        }
        span {
          font-family: "stc-forward-regular";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-align: right;
          color: var(--base-white);
          display: inline-block;
          margin-right: 16px;
          @include md {
            margin-right: 0;
            margin-bottom: 16px;
            text-align: center;
            width: 100%;
          }
        }
      }
      .wap-step {
        font-family: "stc-forward-regular";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
        margin-right: 16px;
        @include sm {
          margin-right: 0;
          font-weight: 500;
        }
      }
      .progressBarContainer {
        width: 100%;
        max-width: 137px;
        ul.lists {
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          width: 100%;
          margin: 0;
          padding: 0;
          li.item {
            width: 100%;
            max-width: calc(100% / 6 - 3px);
            height: 12px;
            background: var(--tertiary-color);
            &.active {
              background: var(--ui-win);
            }
            &:first-child {
              border-radius: 6px 0px 0px 6px;
            }
            &:last-child {
              border-radius: 0px 6px 6px 0px;
            }
          }
        }
      }

      @include md {
        max-width: 100%;
        justify-content: center;
      }

      @include sm {
        max-width: 100%;
      }
    }
  }
}
.form-field-radio {
  width: 100%;
  @include md {
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  @include sm {
    padding-right: 0;
  }

  .input-group {
    position: relative;
    &:first-child {
      @include md {
        order: 2;
      }
    }
    &:last-child {
      @include md {
        order: 1;
      }
    }
    &:nth-child(2) {
      @include md {
        order: 3;
      }
    }

    @include sm {
      padding-right: 30px;
    }
    label {
      background: var(--white);
      border: 2px solid var(--base-white);
      box-sizing: border-box;
      border-radius: 8px;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      padding: 12px 16px;
      margin-bottom: 8px;
      @include sm {
        margin-bottom: 8px;
      }
      input[type="radio"] {
        display: none;
      }
      .checkmark {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        background: var(--white);
        border: 2px solid var(--tertiary-color);
        box-sizing: border-box;
        border-radius: 50px;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        &::before {
          content: none;
          width: 12px;
          height: 12px;
          display: inline-block;
          background-color: transparent;
          border-radius: 100%;
        }
        &.checked {
          background: var(--blackcurrant-color-medium);
          border: 2px solid var(--secondary-color);
          &::before {
            content: "";
            background-color: var(--secondary-color);
          }
        }
      }
      .detail-radio {
        width: 100%;
        max-width: calc(100% - 42px);
      }
      .text-title {
        color: var(--blackcurrant-color-medium);
      }
      .text-des {
        font-weight: 500;
        color: var(--blackcurrant-color-medium);
      }
    }
    .icon {
      position: absolute;
      top: calc(50% - 2px);
      transform: translateY(-50%);
      right: -32px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: var(--white);
      border: 1px solid var(--secondary-color);
      @include sm {
        background-color: transparent;
        right: 0;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
}
.lists-cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  @include md {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: calc(100% / 3 - 16px);
    height: 128px;
    background: var(--purple-4);
    border: 1px solid var(--purple-4);
    border-radius: 20px;
    padding: 25px 0px 28px;
    cursor: pointer;
    margin-bottom: 20px;
    @include md {
      max-width: calc(100% / 2 - 8px);
      margin-bottom: 16px;
      height: 104px;
      padding: 24px 0px 16px;
    }
    &:nth-child(3n + 2) {
      margin: 0 24px 20px;
      @include md {
        margin: 0;
      }
    }
    .icon {
      display: inline-block;
      margin-bottom: 16px;
      width: 100%;
      text-align: center;
      ::ng-deep svg path {
        transition: 200ms linear;
        fill: var(--base-white);
      }
      @include sm {
        margin-bottom: 8px;
      }
    }
    .text {
      text-align: center;
      color: var(--base-white);
    }
    &.active {
      background: var(--base-white);
      .text {
        color: var(--black);
      }
      .icon {
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--primary-purple);
        }
      }
    }
  }
}
.form-field-1 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  .form-heading {
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--base-white);
    margin-bottom: 8px;
    width: 100%;
  }
  .form-field-box {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    .form-field-item {
      width: 100%;
      max-width: calc(50% - 12px);
      margin-bottom: 15px;
      @include sm {
        max-width: 100%;
      }
      .form-label {
        margin-bottom: 4px;
      }
    }
  }
  .form-label {
    display: flex;
    align-items: flex-end;
    color: var(--base-white);
    display: block;
    margin-bottom: 8px;
  }
  .form-field-text {
    .input-group {
      background: var(--purple-2);
      border: 2px solid var(--purple-2);
      box-sizing: border-box;
      border-radius: 8px;
      width: 100%;
      text-align: left;
      padding: 20px 24px;
      text-transform: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 24px;
      .input-field {
        font-weight: 500;
        color: var(--white);
        background-color: transparent;
        &::placeholder {
          color: var(--tertiary-color);
        }
      }
    }
  }
  .select-teamDropdown {
    &.show {
      .select-teamBtn {
        border: 2px solid var(--secondary-color);
      }
    }
    .select-teamBtn {
      background: var(--purple-2);
      border: 2px solid var(--purple-2);
      box-sizing: border-box;
      border-radius: 8px;
      width: 100%;
      text-align: left;
      padding: 20px 24px;
      font-weight: 500;
      color: var(--base-white);
      text-transform: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include sm {
        max-width: 100%;
      }
      &::after {
        display: inline-block;
        margin-left: 0;
        vertical-align: 0;
        content: "";
        border-top: 2px solid var(--base-white);
        border-right: 2px solid var(--base-white);
        border-bottom: 0;
        border-left: 0;
        width: 12px;
        height: 12px;
        transform: rotate(135deg);
        transition: $global-transition2;
      }
    }
    .select-teamDropdownItem {
      top: 55px !important;
      transform: none !important;
      width: 100%;
      z-index: 2;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px 16px;
      background: var(--purple-4);
      border: 2px solid var(--purple-4);
      padding-left: 0;
      padding-right: 0;
      max-height: 144px;
      overflow: hidden;
      overflow-y: auto;
      button {
        font-family: "stc-forward-regular";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
        padding: 10px 16px;
        &:hover {
          background: var(--base-white);
          color: var(--black);
        }
      }
    }
    &.show {
      .select-teamBtn {
        &::after {
          transform: rotate(315deg);
          transition: $global-transition2;
        }
      }
    }
  }
}
.form-field-2 {
  .form-content {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    .form-field-item {
      margin-right: 24px;
      width: 100%;
      max-width: calc(100% / 2);
      @include sm {
        max-width: 100%;
        margin-right: 0;
      }
    }
    label.form-label {
      display: flex;
      align-items: center;
      color: var(--base-white);
      margin-bottom: 0px;
    }
    .item-prize-payouts {
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      max-width: 842px;
      margin-top: 24px;
      &:nth-child(n + 2) {
        .field-item-prize-payouts {
          label.form-label {
            display: none !important;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
        @include sm {
          margin-bottom: 16px;
        }
      }
      .input-group {
        align-items: center;
        .input-field {
          background: var(--purple-2);
          border: 2px solid var(--purple-2);
          box-sizing: border-box;
          border-radius: 4px;
          width: 90px;
          text-align: left;
          padding: 20px 24px;
          font-weight: 500;
          color: var(--white);
          text-transform: none;
          &::placeholder {
            color: var(--tertiary-color);
          }
          @include sm {
            width: 57px;
          }
        }
        .speach {
          display: inline-block;
          margin: 0 20px;
          width: 5px;
          height: 2px;
          background-color: var(--white);
        }
        .btn-del {
          border-radius: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 3px;
          background: transparent;
          border: 1px solid var(--tertiary-color);
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          @include sm {
            width: auto;
            height: auto;
            background: transparent;
            margin: 0 0 0 8px;
            border: none;
          }
          .icon {
            position: relative;
            border: none;
            transform: none;
            right: auto;
            top: auto;
          }
        }
      }
      .field-item-prize-payouts {
        .prize-payout-form {
          display: inline-flex;
          .input-group {
            width: 45%;
            display: grid;
            grid-template-columns: auto auto auto;
          }
        }
        .prize-payout-label {
          display: grid;
          grid-template-columns: auto auto;
        }
        &:last-child {
          .input-group {
            .input-field {
              width: 5vw;
              @include sm {
                max-width: 75px;
              }
            }
            .input-field[name="weightage"] {
              width: 16vw;
            }
          }
        }
      }
    }
  }
}
a.btn-add-another-venue {
  color: var(--orange-text);
  text-transform: none;
  padding: 33px 0;
  @include sm {
    padding: 0;
  }
}
.form-preview {
  background: var(--base-white);
  border-radius: 8px;
  .wap {
    padding: 33px 25px 22px 30px;
    margin: 14px 0 28px;
    @include sm {
      padding: 14px 16px 15px;
      margin: 0 0 15px;
    }
    .inner {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      &-left {
        width: 100%;
        max-width: 218px;
        @include sm {
          margin-bottom: 40px;
          max-width: 100%;
        }
        .title {
          font-family: "stc-forward-regular";
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: -0.5px;
          color: var(--grey-base1);
          margin-bottom: 10px;
          @include sm {
            font-size: 24px;
            line-height: 32px;
            max-width: 200px;
          }
        }
        p {
          font-family: "stc-forward-regular";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: var(--grey-base1);
          margin-bottom: 0;
          @include sm {
            max-width: 200px;
          }
        }
      }
      &-right {
        width: 100%;
        max-width: 265px;
        @include sm {
          max-width: 100%;
        }
        .item-preview {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: flex-start;
          align-items: flex-start;
          padding-bottom: 24px;
          margin-bottom: 18px;
          padding-top: 10px;
          border-bottom: 1px solid var(--grey-base3);
          @include sm {
            margin-bottom: 15px;
          }
          &:last-child {
            margin: 0;
          }
          .item-text {
            color: var(--grey-base1);
          }
          .item-price {
            text-align: right;
            color: var(--grey-base1);
          }
        }
      }
    }
  }
}
.bodernone {
  border: none !important;
}
