<div class="TournamentDateLabel">
  <label class="form-label" for="TournamentDate"> {{title}} </label>
</div>
<div class="TournamentDateInput"  (click)="picker.open()">
  <input
    class="form-field"
    id="TournamentDate"
    [placeholder]="'CREATE_TOURNAMENT.SELECT_DATE.DATE_PLACEHOLDER' | translate"
    [matDatepicker]="picker"
    [(ngModel)]="date"
    (ngModelChange)="onDateChange()"
    [disabled]="true"
    [min]="minDate"
  />

  <mat-datepicker #picker disabled="false" class="datepicker"></mat-datepicker>

  <img
    class="TournamentDate-icon"
    src="../../../../../assets/images/create-tournament/icon-calendar.png"
    alt="date"
  />
</div>
<!-- {{date}} -->
