<div class="Snack">
  <div
    *ngIf="data.type === SnackComponentType.info"
    class="Snack-badge is-info"
  >
    <span class="material-icons">info</span>
  </div>
  <div
    *ngIf="data.type === SnackComponentType.error"
    class="Snack-badge is-error"
  >
    <span class="material-icons">cancel</span>
  </div>
  <div
    *ngIf="data.type === SnackComponentType.success"
    class="Snack-badge is-success"
  >
    <span class="material-icons">check_circle</span>
  </div>
  <ng-template [ngIf]="isTemplate(data.text)" [ngIfElse]="text">
    <ng-template
      class="Snack-text"
      [ngTemplateOutlet]="data.text"
    ></ng-template>
  </ng-template>

  <ng-template #text></ng-template>
  <div class="Snack-text" [innerHTML]="data.text"></div>

  <button (click)="onClose()" mat-button class="Snack-close">
    <span class="material-icons">clear</span>
  </button>
</div>
