<div class="transactionDetail">
  <h2 class="transactionDetail-title">{{"WALLET.TRANSACTION_DETAIL" | translate}}</h2>
  <div class="transactionDetail-table">
      <div class="transactionDetail-table-info-wrap">
          <div class="transactionDetail-table-info">
              <h4 class="transactionDetail-table-info-title">{{"WALLET.TRANSACTION_TYPE" | translate}}</h4>
              <p class="transactionDetail-table-info-content">{{"TRANSACTIONS.PURCHASES" | translate}}</p>
          </div>
          <div class="transactionDetail-table-info">
              <h4 class="transactionDetail-table-info-title">{{"WALLET.ORDER_ID" | translate}}</h4>
              <p class="transactionDetail-table-info-content" *ngIf="showdata?.reloadOrderId">{{showdata?.reloadOrderId}}</p>
              <p class="transactionDetail-table-info-content" *ngIf="showdata?.orderId">{{showdata?.orderId}}</p>
          </div>
          <div class="transactionDetail-table-info">
              <h4 class="transactionDetail-table-info-title">{{"WALLET.AMOUNT" | translate}}</h4>
              <p class="transactionDetail-table-info-content">{{showdata?.denominationCoins}}</p>
              <p class="transactionDetail-table-info-content">{{showdata?.transactionAmount}}</p>
          </div>
          <div class="transactionDetail-table-info">
              <h4 class="transactionDetail-table-info-title">{{"WALLET.PAYMENT_METHOD" | translate}}</h4>
              <p class="transactionDetail-table-info-content">{{showdata?.paymentMethod}}</p>
          </div>
          <div class="transactionDetail-table-info">
              <h4 class="transactionDetail-table-info-title">{{"WALLET.DATE_TIME" | translate}}</h4>
              <p class="transactionDetail-table-info-content">{{showdata?.createdAt|date}}</p>
          </div>
          <div class="transactionDetail-table-info">
              <h4 class="transactionDetail-table-info-title">{{"WALLET.STATUS" | translate}}</h4>
              <p class="transactionDetail-table-info-content status success" *ngIf="showdata?.transactionStatus=='1'">{{"TRANSACTIONS.RELOAD_VIEW.SUCCESSFUL" | translate}}</p>
              <p class="transactionDetail-table-info-content status success" *ngIf="showdata?.transactionStatus=='2'">{{"TRANSACTIONS.RELOAD_VIEW.UNSUCCESSFUL" | translate}}</p>
              <p class="transactionDetail-table-info-content status success" *ngIf="showdata?.transactionStatus=='0'">{{"TRANSACTIONS.RELOAD_VIEW.PROCESSING" | translate}}</p>

              <p class="transactionDetail-table-info-content status success" *ngIf="showdata?.processStatus=='1'">{{"TRANSACTIONS.RELOAD_VIEW.SUCCESSFUL" | translate}}</p>
              <p class="transactionDetail-table-info-content status success" *ngIf="showdata?.processStatus=='2'">{{"TRANSACTIONS.RELOAD_VIEW.UNSUCCESSFUL" | translate}}</p>
              <p class="transactionDetail-table-info-content status success" *ngIf="showdata?.processStatus=='0'">{{"TRANSACTIONS.RELOAD_VIEW.PROCESSING" | translate}}</p>
          </div>

      </div>
      <!-- <p class="transactionDetail-table-titleFooter">{{"WALLET.PURCHASE_CONFIRMMATION" | translate}}
          sitikus96@gmail.com</p> -->
  </div>
  <div class="transactionDetail-button">
      <button class="transactionDetail-button-print button-default" (click)="myPrint()">{{"WALLET.PRINT" | translate}}</button>
      <!-- <a class="transactionDetail-button-report">{{"WALLET.HAVE_A_PROBLEM" | translate}}</a> -->
  </div>
</div>



<div [hidden]="!isPrint" id="myElementId">
<div class="print_view">
  <div class="heading">
    <img src="../../../../../../assets/icons/geng_logopng.png" class="img-fluid" />
  </div>
  <div class="main_content">
    <ng-container>
      <div class="thanks_msg">
        <h3>{{"TRANSACTIONS.THANKU" | translate}}</h3>
        <p>
          {{"TRANSACTIONS.HEY" | translate}} {{currenUser?.username}} {{"TRANSACTIONS.YOUR_PURCHASE" | translate}} {{showdata?.purchaseOrderId}}).<br />
          {{"TRANSACTIONS.HOPE" | translate}}

        </p>
      </div>
      <div class="msg_content">
        <div class="geng_coins">
          <img [src]="showdata?.productIconUrl" class="img-fluid" />
          <div class="game_details">
            <h4>{{showdata?.denominationName}}</h4>
            <p>{{showdata?.productId?.name}}</p>
          </div>
        </div>
        <div *ngIf="showdata?.category == 'VOUCHER'" class="voucher_code">
          <p class="text_center"> Your voucher code: {{"TRANSACTIONS.CASHBACK_AMOUNT" | translate}} </p>
          <h1 class="text_center">{{showdata?.order}}</h1>
        </div>
        <div class="purchase_details">
          <h6>{{"TRANSACTIONS.PURCHASE_DETAILS" | translate}}</h6>
          <table>
            <tr>
              <td>{{"TRANSACTIONS.ORDERID" | translate}}</td>
              <td>{{showdata?.purchaseOrderId}}</td>
            </tr>
            <tr>
              <td>{{"TRANSACTIONS.DATE_AND_TIME" | translate}}</td>
              <td> {{showdata?.createdAt | date:'dd LLL YYYY HH:mm:ss'}}</td>
            </tr>
            <tr>
              <td>{{"TRANSACTIONS.GAME_TYPE" | translate}}</td>
              <td *ngIf="showdata?.category == 'TOPUP'"> {{"TRANSACTIONS.DIRECT_TOP_UP" | translate}}</td>
              <td *ngIf="showdata?.category == 'VOUCHER'"> {{"TRANSACTIONS.VOUCHER" | translate}}</td>
            </tr>
            <tr>
              <td>{{"TRANSACTIONS.GAME_TITTLE" | translate}}</td>
              <td>{{showdata?.productId?.name}}</td>
            </tr>
          </table>
        </div>
        <div class="item_description">
          <h6>{{"TRANSACTIONS.ITEM_DESCRIPTION" | translate}}</h6>
          <table>
            <tr>
              <td>[{{showdata?.productId?.name}}] {{showdata?.denominationName}}</td>
              <td>{{showdata?.actualGC | number}} {{ "TRANSACTIONS.RELOAD_VIEW.GC" |
                translate }}</td>
            </tr>
            <tr *ngIf="showdata?.discountedGC">
              <td>{{"TRANSACTIONS.DISCOUNTS_PROMO" | translate}}</td>
              <td>{{showdata?.discountedGC | number}} {{ "TRANSACTIONS.RELOAD_VIEW.GC" |
                translate }}</td>
            </tr>
            <tr>
              <td>{{"TRANSACTIONS.TOTAL_AMOUNT" | translate}} </td>
              <td>{{showdata?.denominationCoins | number}} {{
                "TRANSACTIONS.RELOAD_VIEW.GC" | translate }}</td>
            </tr>
          </table>
        </div>
        <div *ngIf="showdata?.cashbackInGC" class="item_description">
          <h6>{{"TRANSACTIONS.CASHBACK" | translate}}</h6>
          <table>
            <tr>
              <td>{{"TRANSACTIONS.CASHBACK_AMOUNT" | translate}} ({{ "TRANSACTIONS.RELOAD_VIEW.GC" |
                translate }})</td>
              <td>{{showdata?.cashbackInGC |number}} {{ "TRANSACTIONS.RELOAD_VIEW.GC" | translate }}</td>
            </tr>
          </table>
        </div>
        <div class="conversation_rate">
          <p>{{"TRANSACTIONS.CONVERSION" | translate}} </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
</div>
