@import "shared";

.transactionDetail {
  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #dadada;
    margin-bottom: 0;
    padding: 26px 0 16px;
    @include sm {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &-table {
    background: #1d1d1d;
    border: 1px solid #303030;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 35.43px 28px 20.82px;
    @include sm {
      padding: 16px 19.16px 20.32px;
    }
    &-info {
      &-wrap {
        padding-bottom: 33.53px;
        border-bottom: 1px solid #303030;
        display: grid;
        grid-template-rows: repeat(2, 60px);
        grid-template-columns: max-content max-content max-content;
        grid-column-gap: px2vw-xl(100px);
        grid-row-gap: px2vw-xl(43.62px);
        @include lg {
          grid-column-gap: px2vw-xl(60px);
          grid-row-gap: px2vw-xl(23.62px);
        }
        @include md {
          grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        }
        @include sm {
          grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
          grid-column-gap: px2vw-sm(36.864px);
          grid-row-gap: px2vw-sm(24.576px);
        }
      }
      &-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--tertiary-color);
        margin-bottom: 8px;
      }
      &-content {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--tolopea-medium-color);
        margin-bottom: 0;
        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
        &.status {
          font-size: 14px;
          line-height: 20px;
          color: var(--full-white);
          &.success {
            background: var(--green-light);
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 4px 8px;
            width: fit-content;
          }
        }
      }
    }
    &-titleFooter {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
      margin-top: 22.76px;
    }
  }
  &-button {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin-top: 44.38px;
    &-print {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--secondary-color);
      text-transform: none;
    }
    &-report {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
    }
  }
}
