@import "../../../../../scss/shared";

.ChangePassword {
  &-input {
    margin-bottom: 40px;
    display: block !important;
    width: 40%;

    @include lg {
      width: 100%;
    }
  }
}

.cancelBtn {
  margin-left: px2vw-xl(20px);

  @include lg {
    margin-left: px2vw-lg(20px);
  }

  @include md {
    margin-left: px2vw-md(20px);
  }

  @include sm {
    margin-left: px2vw-sm(20px);
  }
}
