@import "shared";

// :host {
//   display: block;
// }

// .MyTeams-header {
//   @extend %u-dfCenter;
//   z-index: 1;
//   position: relative;
//   margin-bottom: px2vw-xl(-95px);
//   height: px2vw-xl(250px);

//   @include lg {
//     margin-bottom: px2vw-lg(-95px);
//     height: px2vw-lg(250px);
//   }

//   @include md {
//     margin-bottom: px2vw-md(-95px);
//     height: px2vw-md(250px);
//   }

//   @include sm {
//     margin-bottom: px2vw-sm(-95px);
//     height: px2vw-sm(250px);
//   }

//   &-image {
//     position: absolute;
//     background-size: cover;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 105.5%;
//   }
// }

// .MyTeams-about {
//   position: relative;
//   z-index: 1;
//   margin-bottom: px2vw-xl(74px);

//   @include lg {
//     margin-bottom: px2vw-lg(74px);
//   }

//   @include md {
//     margin-bottom: px2vw-md(74px);
//   }

//   @include sm {
//     margin-bottom: px2vw-sm(74px);
//   }

//   &-header {
//     @extend %u-dfCenterBtw;
//     margin-bottom: px2vw-xl(20px);

//     @include lg {
//       margin-bottom: px2vw-lg(20px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(20px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(20px);
//     }
//   }

//   &-header-title {
//     @extend %global-H4;
//     margin-bottom: 0;
//     font-size: px2vw-xl(48px);

//     @include lg {
//       font-size: px2vw-lg(48px);
//     }

//     @include md {
//       font-size: px2vw-md(48px);
//     }

//     @include sm {
//       font-size: px2vw-sm(48px);
//     }
//   }

//   &-header-button {
//     margin-left: px2vw-xl(15px);
//     flex-shrink: 0;

//     @include lg {
//       margin-left: px2vw-lg(15px);
//     }

//     @include md {
//       margin-left: px2vw-md(15px);
//     }

//     @include sm {
//       margin-left: px2vw-sm(15px);
//     }
//   }

//   &-subtitle {
//     @extend %body-1;
//     margin-bottom: 0;
//     color: var(--white-medium);
//   }

//   &-icon {
//     position: absolute;
//     bottom: 140%;
//     left: px2vw-xl(14px);
//     height: px2vw-xl(56px);
//     width: px2vw-xl(197px);

//     @include lg {
//       left: px2vw-lg(14px);
//       height: px2vw-lg(56px);
//       width: px2vw-lg(197px);
//     }

//     @include md {
//       left: px2vw-md(14px);
//       height: px2vw-md(56px);
//       width: px2vw-md(197px);
//     }

//     @include sm {
//       left: px2vw-sm(14px);
//       height: px2vw-sm(56px);
//       width: px2vw-sm(197px);
//     }
//   }
// }

// .MyTeams-control {
//   &-toggles {
//     border-bottom: px2vw-xl(1px) solid var(--white-light);

//     @include lg {
//       border-bottom-width: px2vw-lg(1px);
//     }

//     @include md {
//       border-bottom-width: px2vw-md(1px);
//     }

//     @include sm {
//       border-bottom-width: px2vw-sm(1px);
//     }
//   }

//   &-toggle {
//   }

//   &-content {
//     padding-top: px2vw-xl(40px);

//     @include lg {
//       padding-top: px2vw-lg(40px);
//     }

//     @include md {
//       padding-top: px2vw-md(40px);
//     }

//     @include sm {
//       padding-top: px2vw-sm(40px);
//     }
//   }
// }

// .MyTeams-cards {
//   &-title {
//     @extend %global-H5;
//     margin-bottom: px2vw-xl(24px);
//     color: var(--white);

//     @include lg {
//       margin-bottom: px2vw-lg(24px);
//     }

//     @include md {
//       margin-bottom: px2vw-md(24px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(24px);
//     }
//   }

//   &-list {
//   }
// }

// .TeamCard {
//   @extend %u-dfCenter;
//   border-bottom: px2vw-xl(1px) solid var(--white-smoke);
//   padding: px2vw-xl(16px);

//   @include lg {
//     border-bottom-width: px2vw-lg(1px);
//     padding: px2vw-lg(16px);
//   }

//   @include md {
//     border-bottom-width: px2vw-md(1px);
//     padding: px2vw-md(16px);
//   }

//   @include sm {
//     border-bottom-width: px2vw-sm(1px);
//     padding: px2vw-sm(16px);
//   }

//   &-image {
//     margin-right: px2vw-xl(15px);
//     flex-shrink: 0;
//     height: px2vw-xl(40px);
//     width: px2vw-xl(40px);
//     border-radius: 50%;
//     background-size: cover;
//     background-position: center center;
//     background-color: var(--black);

//     @include lg {
//       margin-right: px2vw-lg(15px);
//       height: px2vw-lg(40px);
//       width: px2vw-lg(40px);
//     }

//     @include md {
//       margin-right: px2vw-md(15px);
//       height: px2vw-md(40px);
//       width: px2vw-md(40px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(15px);
//       height: px2vw-sm(40px);
//       width: px2vw-sm(40px);
//     }
//   }

//   &-info {
//     margin-right: px2vw-xl(15px);

//     @include lg {
//       margin-right: px2vw-lg(15px);
//     }

//     @include md {
//       margin-right: px2vw-md(15px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(15px);
//     }
//   }

//   &-info-name {
//     @extend %subtitle-1;
//     margin-bottom: 0;
//     color: var(--white);
//   }

//   &-info-description {
//     @extend %body-2;
//     margin-bottom: 0;
//     color: var(--white-medium);
//   }

//   &-manage {
//     @extend %u-dfCenterEnd;
//     flex-shrink: 0;
//     margin-left: auto;
//   }

//   &-manage-button {
//     margin-left: px2vw-xl(8px);

//     @include lg {
//       margin-left: px2vw-lg(8px);
//     }

//     @include md {
//       margin-left: px2vw-md(8px);
//     }

//     @include sm {
//       margin-left: px2vw-sm(8px);
//     }

//     &:first-child {
//       margin-left: 0;
//     }
//   }

//   &-manage-button-menu {
//     width: px2vw-xl(24px);
//     height: px2vw-xl(24px);
//     background-color: transparent;

//     @include lg {
//       width: px2vw-lg(24px);
//       height: px2vw-lg(24px);
//     }

//     @include md {
//       width: px2vw-md(24px);
//       height: px2vw-md(24px);
//     }

//     @include sm {
//       width: px2vw-sm(24px);
//       height: px2vw-sm(24px);
//     }
//   }

//   &-manage-button-menu-icon {
//     font-size: px2vw-xl(24px);
//     color: var(--white);

//     @include lg {
//       font-size: px2vw-lg(24px);
//     }

//     @include md {
//       font-size: px2vw-md(24px);
//     }

//     @include sm {
//       font-size: px2vw-sm(24px);
//     }
//   }

//   &-manage-menu-link {
//     .link,
//     .icon {
//       color: var(--white-medium);
//     }

//     &:hover .icon {
//       color: var(--color-primary);
//     }
//   }
// }
.MyTeams {
  margin-top: 24px;
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px;
    flex-wrap: wrap;
    &--title {
      margin: 0px;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      color: var(--tolopea-medium-color);
      @include sm {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .btn-create-team {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: capitalize;
      color: var(--white);
    }
  }
}
.MyTeams-cards-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;
  width: 100%;
  margin-top: 23px;
  @include md {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    margin-top: 0px;
  }
  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }
  &--item {
    width: 100%;
  }
}
