@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "base/typography";
@import "abstract/functions";

:host {
  width: 100%;
  display: block;
}

.global-scrollbar {
  width: 100%;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: var(--ui-nero);
  text-align: center;
  border: 2px solid var(--base-white-smoke);
  border-radius: 4px;
  opacity: 1;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--base-white) transparent transparent transparent;
}

.select-selected {
  color: var(--base-white-smoke);
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items div {
  box-shadow: 4px 4px 6px var(--base-black);
  border: 0.5px solid var(--ui-dim-gray);
  padding: 8px 16px;
  color: var(--base-white-dark);
  opacity: 60%;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: var(--base-black-pearl);
  top: 100%;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 100%;
}

.UserNotification {
  &-main {
    padding: px2vw-xl(60px) px2vw-xl(70px);
    background: transparent;

    @include lg {
      padding: px2vw-lg(60px) px2vw-lg(70px);
      margin-top: px2vw-lg(70px);
    }

    @include md {
      padding: px2vw-md(60px) px2vw-md(70px);
      margin-top: px2vw-md(70px);
    }

    @include sm {
      padding: px2vw-sm(60px) px2vw-sm(70px);
      margin-top: px2vw-sm(70px);
    }

    &-editView {
      padding: px2vw-xl(60px) px2vw-xl(70px);
      margin-top: px2vw-xl(70px);
      background-color: var(--ui-nero);
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: px2vw-xl(60px);

    @include lg {
      margin-top: px2vw-lg(60px);
    }

    @include md {
      margin-top: px2vw-md(60px);
    }

    @include sm {
      margin-top: px2vw-sm(30px);
      flex-flow: column;
    }

    &-btns {
      width: 100%;
      text-align: end;

      @include sm {
        margin-top: px2vw-sm(30px);
      }

      button {
        margin-left: px2vw-xl(30px);

        @include lg {
          margin-left: px2vw-lg(30px);
        }

        @include md {
          margin-left: px2vw-md(30px);
        }

        @include sm {
          margin-left: px2vw-sm(30px);
        }

        &:first-child {
          margin: 0;
        }
      }
    }

    &.is-btw {
      justify-content: space-between;
    }
  }

  &-boxA {
    @extend %u-dfEndBtw;

    @include md {
      flex-flow: wrap;
    }

    @include sm {
      align-items: center;
      flex-flow: column;
    }

    &-item {
      @extend %u-dfCenterBtw;
      margin-bottom: px2vw-xl(85px);

      @include lg {
        margin-bottom: px2vw-lg(85px);
      }

      @include md {
        margin-bottom: px2vw-md(85px);
      }

      @include sm {
        flex-flow: column;
        margin-bottom: px2vw-sm(85px);
      }

      &.is-first {
        flex-flow: column;
        align-items: flex-start;
      }

      &.is-last {
        flex-flow: column;
        align-items: flex-end;
        width: 30%;
        text-align: -webkit-center;
      }

      &-select {
        font-size: px2vw-xl(24px);
        font-weight: 100;

        @include lg {
          font-size: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(24px);
        }

        &-option {
          font-size: px2vw-xl(16px) !important;

          @include lg {
            font-size: px2vw-lg(16px) !important;
          }

          @include md {
            font-size: px2vw-md(16px) !important;
          }

          @include sm {
            font-size: px2vw-sm(16px) !important;
          }

          &.mat-selected:not(.mat-option-disabled) {
            color: var(--base-white);
          }
        }

        ::ng-deep {
          .mat-form-field-underline {
            display: none;
          }

          .mat-form-field-infix {
            padding: 0;
            border: 0;
          }

          .mat-select-arrow {
            margin: px2vw-xl(5px) px2vw-xl(4px);
            border: px2vw-xl(3px) solid var(--primary-cinnabar);
            width: px2vw-xl(12px);
            height: px2vw-xl(12px);
            display: inline-block;
            border-right: none;
            border-bottom: none;
            transform: rotate(-135deg);

            @include lg {
              margin: px2vw-lg(5px) px2vw-lg(4px);
              border-width: px2vw-lg(3px);
              width: px2vw-lg(12px);
              height: px2vw-lg(12px);
            }

            @include md {
              margin: px2vw-md(5px) px2vw-md(4px);
              border-width: px2vw-md(3px);
              width: px2vw-md(12px);
              height: px2vw-md(12px);
            }

            @include sm {
              margin: px2vw-sm(5px) px2vw-sm(4px);
              border-width: px2vw-sm(3px);
              width: px2vw-sm(12px);
              height: px2vw-sm(12px);
            }
          }

          .mat-select-value {
            padding-right: px2vw-xl(5px);
            display: initial;

            @include lg {
              padding-right: px2vw-lg(5px);
            }

            @include md {
              padding-right: px2vw-md(5px);
            }

            @include sm {
              padding-right: px2vw-sm(5px);
            }
          }
        }
      }

      &-color {
        width: px2vw-xl(50px);
        height: px2vw-xl(50px);
        margin-left: px2vw-xl(10px);
        border: none;
        color: transparent;

        @include lg {
          width: px2vw-lg(50px);
          height: px2vw-lg(50px);
          margin-left: px2vw-lg(10px);
        }

        @include md {
          width: px2vw-md(50px);
          height: px2vw-md(50px);
          margin-left: px2vw-md(10px);
        }

        @include sm {
          width: px2vw-sm(50px);
          height: px2vw-sm(50px);
          margin: px2vw-sm(10px) 0 0;
        }
      }

      &-upload {
        @extend %global-Text;
        @extend %u-dfCenterCenter;
        margin-top: px2vw-xl(13px);
        border: 1px dashed var(--ui-dim-gray);
        border-radius: px2vw-xl(5px);
        background-color: var(--base-black-pearl);
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        width: px2vw-xl(180px);
        height: px2vw-xl(180px);
        color: var(--ui-dim-gray);

        @include lg {
          margin-top: px2vw-lg(13px);
          width: px2vw-lg(180px);
          height: px2vw-lg(180px);
          border-radius: px2vw-lg(5px);
        }

        @include md {
          margin-top: px2vw-md(13px);
          width: px2vw-md(180px);
          height: px2vw-md(180px);
          border-radius: px2vw-md(5px);
        }

        @include sm {
          margin-top: px2vw-sm(13px);
          width: px2vw-sm(180px);
          height: px2vw-sm(180px);
          border-radius: px2vw-sm(5px);
        }

        &-info {
          width: 86%;
          margin: 0 auto;
          text-align: center;

          button {
            margin-top: px2vw-xl(13px);
            background-color: var(--ui-nero);
            width: 100%;
            padding: 0;

            @include lg {
              margin-top: px2vw-lg(13px);
            }

            @include md {
              margin-top: px2vw-md(13px);
            }

            @include sm {
              margin-top: px2vw-sm(13px);
            }
          }
        }
      }
    }
  }

  &-boxB {
    @extend %u-dfEndBtw;
    flex-flow: wrap;

    @include md {
      flex-flow: column;
    }

    &-item {
      @extend %u-dfCenterBtw;
      margin-bottom: px2vw-xl(85px);
      width: 38%;

      @include lg {
        margin-bottom: px2vw-lg(85px);
      }

      @include md {
        margin-bottom: px2vw-md(85px);
        width: 100%;
      }

      @include sm {
        margin-bottom: px2vw-sm(85px);
      }

      &-input {
        width: px2vw-xl(154px);
        height: px2vw-xl(64px);
        border: px2vw-xl(2px) solid var(--base-white-smoke);
        border-radius: px2vw-xl(10px);
        padding: 0 px2vw-xl(15px);
        font-size: px2vw-xl(20px);
        background: transparent;
        color: var(--base-white);

        @include lg {
          width: px2vw-lg(154px);
          height: px2vw-lg(64px);
          border-width: px2vw-lg(2px);
          border-radius: px2vw-lg(10px);
          padding: 0 px2vw-lg(15px);
          font-size: px2vw-lg(20px);
        }

        @include md {
          width: px2vw-md(154px);
          height: px2vw-md(64px);
          border-width: px2vw-md(2px);
          border-radius: px2vw-md(10px);
          padding: 0 px2vw-md(15px);
          font-size: px2vw-md(20px);
        }

        @include sm {
          width: px2vw-sm(154px);
          height: px2vw-sm(64px);
          border-width: px2vw-sm(2px);
          border-radius: px2vw-sm(10px);
          padding: 0 px2vw-sm(15px);
          font-size: px2vw-sm(20px);
        }
      }
    }
  }

  &-boxC {
    @extend %u-dfStartBtw;
    padding-bottom: px2vw-xl(30px);

    @include lg {
      padding-bottom: px2vw-lg(30px);
    }

    @include md {
      flex-flow: column;
      align-items: center;
      padding-bottom: px2vw-md(30px);
    }

    @include sm {
      padding-bottom: px2vw-sm(30px);
    }

    &-title {
      @extend %global-Text;
      font-size: px2vw-xl(24px);
      padding: px2vw-xl(50px) 0 0;
      font-family: "stc-forward-light", sans-serif;
      flex: 2;

      @include lg {
        font-size: px2vw-lg(24px);
        padding: px2vw-lg(50px) 0 0;
      }

      @include md {
        font-size: px2vw-md(24px);
        padding: 0 0 px2vw-md(30px);
        text-align: center;
        flex: initial;
      }

      @include sm {
        font-size: px2vw-sm(24px);
        padding: 0 0 px2vw-sm(30px);
      }
    }

    &-info {
      flex: 10;

      @include md {
        width: 100%;
        flex: initial;
      }

      &-title {
        padding-left: px2vw-xl(20px);

        @include lg {
          padding-left: px2vw-lg(20px);
        }

        @include md {
          padding-left: 0;
          text-align: center;
        }
      }
    }

    &-banner {
      @extend %global-Text;
      @extend %u-dfCenterCenter;
      border: 1px dashed var(--ui-dim-gray);
      margin: px2vw-xl(13px) 0 px2vw-xl(50px);
      height: px2vw-xl(400px);
      border-radius: px2vw-xl(5px);
      background-repeat: no-repeat !important;
      background-size: 100% 100% !important;

      @include lg {
        border-radius: px2vw-lg(5px);
        margin: px2vw-lg(13px) 0 px2vw-lg(50px);
        height: px2vw-lg(400px);
      }

      @include md {
        border-radius: px2vw-md(5px);
        margin: px2vw-md(13px) 0 px2vw-md(50px);
        height: px2vw-md(400px);
      }

      @include sm {
        border-radius: px2vw-sm(5px);
        margin: px2vw-sm(13px) 0 px2vw-sm(50px);
        height: px2vw-sm(400px);
      }

      &-info {
        width: 86%;
        margin: 0 auto;
        text-align: center;

        button {
          margin-top: px2vw-xl(13px);
          background-color: var(--ui-nero);

          @include lg {
            margin-top: px2vw-lg(13px);
          }

          @include md {
            margin-top: px2vw-md(13px);
          }

          @include sm {
            margin-top: px2vw-sm(13px);
          }
        }
      }
    }

    &-footer {
      @extend %u-dfEndBtw;

      @include md {
        flex-flow: column;
        align-items: flex-end;
      }

      &-left {
        flex: 10;

        @include md {
          width: 100%;
          flex: initial;
        }
      }

      &-right {
        padding: 0 0 px2vw-xl(35px);
        flex: 2;
        text-align: right;

        @include lg {
          padding: 0 0 px2vw-lg(35px);
        }

        @include md {
          padding: 0 0 px2vw-md(35px);
          flex: initial;
        }

        @include sm {
          padding: 0 0 px2vw-sm(35px);
        }

        &-btn {
          @extend %global-Text;
          color: rgba(245, 245, 245, 0.58);
        }
      }
    }
  }
  &-tableBtn {
    color: var(--ui-dim-gray);

    mat-icon {
      font-size: px2vw-xl(26px);

      @include lg {
        font-size: px2vw-lg(26px);
      }

      @include md {
        font-size: px2vw-md(26px);
      }

      @include sm {
        font-size: px2vw-sm(26px);
      }
    }

    &:hover {
      color: var(--primary-cinnabar);
    }
  }
}
