@import "shared";

:host {
  display: block;
}

.otp-title {
  font-family: 'redhat-regular';
  font-style: normal;
  font-weight: normal;
  font-size: px2vw-xl(16px);
  line-height: px2vw-xl(24px);
  color: var(--white);
  margin-bottom: px2vw-xl(30px);

  @include lg {
    font-family: 'redhat-regular';
    font-style: normal;
    font-weight: normal;
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(24px);
    color: var(--white);
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    font-family: 'redhat-regular';
    font-style: normal;
    font-weight: normal;
    font-size: px2vw-md(16px);
    line-height: px2vw-md(24px);
    color: var(--white);
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    font-family: 'redhat-regular';
    font-style: normal;
    font-weight: normal;
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(24px);
    color: var(--white);
    margin-bottom: px2vw-md(30px);
  }
}

.resend-otp {
  font-family: 'redhat-regular';
  font-style: normal;
  font-weight: 500;
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(20px);
  color: var(--color-secondary);

  @include lg {
    font-family: 'redhat-regular';
    font-style: normal;
    font-weight: 500;
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(20px);
    color: var(--color-secondary);
  }

  @include md {
    font-family: 'redhat-regular';
    font-style: normal;
    font-weight: 500;
    font-size: px2vw-md(14px);
    line-height: px2vw-md(20px);
    color: var(--color-secondary);
  }

  @include sm {
    font-family: 'redhat-regular';
    font-style: normal;
    font-weight: 500;
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(20px);
    color: var(--color-secondary);
  }
}

.hr-botm {
  margin-bottom: px2vw-xl(30px);
  width: px2vw-xl(728px);
  height: px2vw-xl(1px);
  left: px2vw-xl(56px);
  top: px2vw-xl(409px);
  background: var(--white-light);

  @include lg {
    margin-bottom: px2vw-lg(30px);
    width: px2vw-lg(728px);
    height: px2vw-lg(1px);
    left: px2vw-lg(56px);
    top: px2vw-lg(409px);
    background: var(--white-light);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
    width: px2vw-md(728px);
    height: px2vw-md(1px);
    left: px2vw-md(56px);
    top: px2vw-md(409px);
    background: var(--white-light);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
    width: px2vw-sm(728px);
    height: px2vw-sm(1px);
    left: px2vw-sm(56px);
    top: px2vw-sm(409px);
    background: var(--white-light);
  }
}

.Passwords {
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(18px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);

    }
  }

  &-items {
    margin-bottom: px2vw-xl(28px);

    @include lg {
      margin-bottom: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(28px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
    }
  }

  &-item {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(22px);

    @include lg {
      margin-bottom: px2vw-lg(22px);
    }

    @include md {
      margin-bottom: px2vw-md(22px);
    }

    @include sm {
      margin-bottom: px2vw-sm(22px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    mat-form-field {
      max-width: px2vw-xl(304px);

      @include lg {
        max-width: px2vw-lg(304px);
      }

      @include md {
        max-width: px2vw-md(304px);
      }

      @include sm {
        max-width: px2vw-sm(304px);
      }
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }

  &-item-button {
    @extend %u-dfCenter;
    @extend %caption;
    margin-left: px2vw-xl(20px);
    background-color: transparent;
    color: var(--white-medium);
    transition: $global-transition2;

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }

    &:hover {
      color: var(--color-primary);

      mat-icon {
        color: var(--color-primary);
      }
    }
  }

  &-item-button-icon {
    flex-shrink: 0;
    margin-right: px2vw-xl(12px);
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);
    color: var(--white-high);
    transition: $global-transition2;

    @include lg {
      margin-right: px2vw-lg(12px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      font-size: px2vw-sm(24px);
    }
  }

  &-change-password {}

  &-manage {
    @extend %u-dfCenter;
    margin-top: px2vw-xl(68px);

    @include lg {
      margin-top: px2vw-lg(68px);
    }

    @include md {
      margin-top: px2vw-md(68px);
    }

    @include sm {
      margin-top: px2vw-sm(68px);
    }
  }

  &-manage-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.notcnfrmerror {
  margin-left: px2vw-xl(327px);
  margin-top: px2vw-xl(-20px);

  @include lg {
    margin-left: px2vw-lg(327px);
    margin-top: px2vw-lg(-20px);
  }

  @include md {
    margin-left: px2vw-md(327px);
    margin-top: px2vw-md(-20px);
  }

  @include sm {
    margin-left: px2vw-sm(327px);
    margin-top: px2vw-sm(-20px);
  }
}

@include sm {
  .Account_settings {
    max-width: 100vw !important;
    height: 100% !important;
  }
}

@include sm {
  .Passwords-item {
    width: 75vw !important;
  }
}