@import "shared";

.mainDiv {
  padding: 0;
  padding-top: 104px;
  padding-bottom: 140px;
}

.a {
  stroke: transparent;
}

.back-page {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  background: transparent;
  font-size: 14px;
  line-height: 18px;
  font-family: "stc-forward-light" !important;
  color: var(--base-black-pearl);

  svg {
    margin-right: 6px;

    path:last-child {
      fill: var(--base-black-pearl);
    }
  }
}

.banner {
  width: 100%;
  height: 190px;
  background: linear-gradient(rgba(181, 0, 0, 0.5), rgba(97, 91, 91, 0.5));
}

.conatiner {
  background-color: var(--base-white);
  color: var(--base-black-pearl);
  min-height: 100vh;
}

table {
  color: var(--base-black-pearl);
}

.menuBar {
  padding: 27px 0;
  border-radius: 5px;
  justify-content: space-between;

  .menuSearch {
    position: relative;
    display: flex;
    align-items: center;

    input {
      background: rgba(0, 0, 3, 0.1);
      border-radius: 21px;
      border: 0;
      margin: 0 !important;
      padding-left: 56px;
      width: 158px;
      height: 41px;
      font-size: 14px;
      line-height: 18px;
      font-family: "stc-forward-light" !important;
      color: var(--base-black-pearl);

      &::-moz-placeholder {
        color: var(--base-black-pearl);
      }

      &::-webkit-input-placeholder {
        color: var(--base-black-pearl);
      }

      &:-ms-input-placeholder {
        color: var(--base-black-pearl);
      }

      &::-ms-input-placeholder {
        color: var(--base-black-pearl);
      }

      &::placeholder {
        color: var(--base-black-pearl);
      }
    }

    svg {
      position: absolute;
      left: 22px;

      .c {
        fill: var(--base-black-pearl);
      }
    }
  }

  .nav-tabs {
    border: 0;
    align-items: center;
    min-height: 44px;

    li {
      margin: 0;

      a {
        border: 0;
        padding: 0;
        font-family: "stc-forward-light" !important;
        font-size: px2vw-xl(18px);
        line-height: px2vw-xl(24px);
        color: var(--base-black-pearl);

        @include lg {
          font-size: px2vw-lg(18px);
          line-height: px2vw-gl(24px);
        }

        @include md {
          font-size: px2vw-md(18px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(20px);
          line-height: px2vw-sm(28px);
        }

        &:hover {
          border: 0;
        }

        &.active {
          background: transparent;
          position: relative;

          &:before {
            content: "";
            width: 100%;
            height: 4px;
            background: var(--primary-sunset-light);
            position: absolute;
            bottom: -3px;
          }
        }

        &:after {
          display: none;
        }
      }

      &:not(:last-child) {
        margin-right: px2vw-xl(60px);

        @include lg {
          margin-right: px2vw-lg(60px);
        }

        @include md {
          margin-right: px2vw-md(60px);
        }

        @include sm {
          margin-right: px2vw-sm(60px);
        }
      }

      &.show {
        a {
          background: transparent;
          background: transparent;
          position: relative;

          &:before {
            content: "";
            width: 100%;
            height: 4px;
            background: var(--primary-sunset-light);
            position: absolute;
            bottom: -3px;
          }
        }

        .dropdown-menu {
          margin-top: 4px;
          border-radius: 5px;
          padding: 0;

          .dropdown-item {
            padding: 11px 16px 18px;
            font-size: 14px;
            line-height: 18px;
            font-family: "stc-forward-light" !important;
            border-top: 1px solid var(--base-gainsboro);

            &:first-child {
              border-top: 0;
            }

            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
}

.menuItems div {
  align-self: center;
}

.title-tab {
  margin-bottom: 27px;
  display: flex;
  align-items: center;

  h3 {
    font-family: "stc-forward-light" !important;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    color: var(--base-white-smoke);

    &:first-child {
      margin-right: 58px;
    }
  }
}

.pending-participant {
  cursor: pointer;
}

.seedingMethodButton {
  font-size: 12px;
}

.about-manage-tournament {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 40px 36px 35px 32px;
  border-radius: 5px;
  background-size: cover !important;
  background-position: 100% 30% !important;
  height: 282px;

  &:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .row {
    position: relative;
    z-index: 1;

    &:first-child {
      p {
        flex: auto;
        font-family: "stc-forward-light" !important;
        margin: 0;
        text-align: center;
        font-size: 16px;
        line-height: 21px;
        color: var(--base-white-smoke);

        &:first-child {
          font-size: 18px;
          line-height: 23px;
          margin-right: 23px;
          max-width: 341px;
        }

        &:nth-child(2) {
          font-size: 18px;
          line-height: 23px;

          fa-icon {
            margin-right: 7px;
          }
        }

        &.registeredTeams {
          margin-right: 51px;
        }

        &.checkedInTeams {
          margin-right: 44px;
        }
      }
    }

    &:last-child {
      margin-top: auto;
      align-items: flex-end;

      .date-tournament {
        padding-left: 8px;
        align-items: flex-end;

        div {
          border-right: 1px solid var(--base-white-smoke);
          padding-right: 14px;
          margin-right: 12px;
          text-align: center;

          span {
            display: block;
            font-family: "stc-forward-regular" !important;

            &.month {
              font-size: 16px;
              line-height: 21px;
              color: var(--base-white-smoke);
            }

            &.date {
              font-size: 34px;
              line-height: 22px;
              margin-top: 5px;
              color: var(--base-white);
            }
          }
        }

        > p {
          font-size: 20px;
          line-height: 26px;
          color: var(--base-white-smoke);
          font-family: "stc-forward-regular" !important;
          margin-bottom: -6px;
        }
      }

      .startsIn {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        margin-right: 38px;

        p {
          margin: 0;
          font-size: 18px;
          line-height: 23px;
          color: var(--base-white-smoke);

          &:last-child {
            font-family: "stc-forward-light" !important;
            border-left: 1px solid var(--base-white-smoke);
            padding-left: 11px;
            margin-left: 11px;
            padding-top: 21px;
          }
        }
      }

      button {
        background: transparent;

        path:last-child {
          fill: var(--base-white);
        }
      }
    }
  }
}

.form-group {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .labeltext {
    margin: 0;
    position: absolute;
    background-color: var(--base-white);
    font-size: 16px;
    left: 19px;
    line-height: 21px;
    color: var(--base-black-pearl);
    top: 10px;
    padding: 0 10px 0 5px;
    transition: all 0.3s;
    z-index: 1;
  }

  .form-control:focus ~ .labeltext,
  .labeltext.active {
    font-size: 12px;
    line-height: 16px;
    top: -7px;
    z-index: 2;
  }
}

.edit-manage-tournament {
  margin-top: 39px;

  .form-group {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    button {
      z-index: 2;
      position: absolute;
      right: 0;
      margin-right: 24px;
      background: transparent;

      path.a,
      rect.a {
        opacity: 1;
      }
    }

    .col-6 {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 4px;

      i {
        margin-right: 24px;
        background: transparent;
        position: absolute;
        right: 0;

        g .a {
          opacity: 1;
          stroke: var(--base-white-smoke);
        }
      }
    }

    span {
      position: absolute;
      right: 0;
      bottom: -23px;
      opacity: 0.4;
      font-family: "stc-forward-light" !important;
      font-size: 14px;
      line-height: 18px;
      color: var(--base-white-smoke);

      a {
        text-decoration: underline;
      }
    }

    &.row {
      margin-left: -4px;
      margin-right: -4px;
    }

    &.teamsSize {
      input {
        width: 276px;
      }
    }

    &.startsIn {
      width: 276px;

      i {
        background: transparent;
        position: absolute;
        right: 0;
        margin-right: 24px;

        g .a {
          opacity: 1;
          stroke: var(--base-white-smoke);
        }
      }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      color: transparent;
      opacity: 1;
      background: url("/assets/images/Tournament/calendar-input.svg") no-repeat
        center;
      background-size: 20px 22px;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }

    input[type="date"]::-webkit-datetime-edit,
    input[type="time"]::-webkit-datetime-edit {
      color: var(--base-white);
    }

    input[type="date"]:focus::-webkit-datetime-edit,
    input[type="time"]:focus::-webkit-datetime-edit {
      color: var(--base-white-smoke) !important;
    }
  }

  .btn-save-manage {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      margin-left: 10px;
    }
  }
}

.approved-card {
  border-left: 5px solid var(--primary-cinnabar);

  .cardInfo:after {
    background: var(--primary-cinnabar) !important;
  }

  .cardInfo:before {
    background: var(--primary-cinnabar) !important;
  }
}

.reject-or-pending-card {
  border-left: 5px solid var(--grey-color-main) !important;

  .cardInfo:after,
  .cardInfo:before {
    background: var(--grey-color-main) !important;
  }
}

::ng-deep html[dir="rtl"] {
  .approved-card {
    border-right: 5px solid var(--primary-cinnabar) !important;
    border-left: 0 !important;
  }
  .reject-or-pending-card {
    border-right: 5px solid var(--grey-color-main);
    border-left: 0 !important;
  }
}

.card-team-gamer {
  margin-bottom: 54px;
  max-width: 369px;
  min-height: 74px;
  padding: 0;
  flex: 0 0 369px;
  background: var(--base-white);
  cursor: pointer;

  &:nth-child(odd) {
    margin-right: 112px;
  }

  > .row {
    flex-wrap: nowrap;
    height: 100%;
    border: 1px solid var(--base-black-pearl);
    border-radius: 5px;
  }

  .photoPlayer {
    padding-left: 12px;
  }

  .cardInfo {
    padding: 8px 35px 15px 40px;
    width: 100%;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      background-color: var(--base-black-pearl);
      opacity: 0.97;
      position: absolute;
      right: 43px;
      top: -20px;
      height: 155%;
      width: 13px;
      transform: rotate(44deg);
    }

    &:before {
      position: absolute;
      content: "";
      opacity: 0.97;
      right: 21px;
      top: 0;
      height: 136%;
      width: 13px;
      transform: rotate(44deg);
      background-color: var(--base-black-pearl);
    }

    .nameTeam {
      margin-bottom: 4px;
      border-bottom: 1px solid var(--primary-cinnabar);
      padding-bottom: 3px;
      max-width: 130px;
      font-family: "stc-forward-regular" !important;
      font-size: 14px;
      line-height: 18px;
      color: var(--base-black-pearl);
      letter-spacing: 0;
    }

    .namePlayer {
      margin-bottom: 2px;
      font-size: 11px;
      font-weight: bold;
      line-height: 14px;
      color: var(--base-black-pearl);
    }

    .regionTeam {
      margin-bottom: px2vw-lg(2px);
      font-size: px2vw-lg(11px);
      line-height: px2vw-lg(14px);
      font-weight: bold;
      color: var(--base-black-pearl);
    }

    .row {
      z-index: 1;
      position: relative;

      .teamPosition {
        color: var(--base-black-pearl);
        font-family: "stc-forward-light" !important;
        font-size: 8px;
        line-height: 10px;
      }

      .regionTeam {
        color: var(--base-black-pearl) !important;
        font-family: "stc-forward-light" !important;
        font-size: px2vw-lg(8px);
        line-height: px2vw-lg(10px);
        margin-left: px2vw-lg(79px);
      }
    }
  }

  .avatar {
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-size: cover !important;
  }
}

.content-tab-gamer {
  max-height: 512px;
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 3, 0.4);
    border-radius: 11px;
    height: 10px;
  }
}

.content-tab-sinlegamer {
  max-height: 512px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 44px;

  &::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgba(0, 0, 3, 0.4);
    border-radius: 11px;
  }
}

.card-player-gamer {
  margin-bottom: 54px;
  margin-right: 90px;
  background-color: var(--ui-midnight-express);
  border-radius: 5px;
  border: 0.2px solid var(--ui-dim-gray);
  padding: 0;
  position: relative;
  overflow: hidden;
  max-width: 287px;
  flex: 0 0 287px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:after {
    content: "";
    background-color: var(--base-black-pearl);
    opacity: 0.97;
    position: absolute;
    right: 81px;
    top: -6px;
    height: 155%;
    width: 13px;
    transform: rotate(65deg);
  }

  &:before {
    content: "";
    background: var(--base-black-pearl);
    opacity: 0.97;
    position: absolute;
    right: 40px;
    top: 9px;
    height: 136%;
    width: 8px;
    transform: rotate(65deg);
  }

  > .row {
    flex-wrap: nowrap;
    align-items: center;
    border-left: 6px solid var(--base-black-pearl);
    padding: 26px 0 38px;
  }

  .photoPlayer {
    padding-left: 8px;

    .avatar {
      border-radius: 50%;
      width: 88px;
      height: 88px;
      margin: 0;
    }
  }

  .cardInfo {
    padding-left: 18px;
    width: 100%;

    .nameTeam {
      max-width: 146px;
      margin-bottom: 4px;
      border-bottom: 1px solid var(--primary-cinnabar);
      padding-bottom: 3px;
      font-family: "stc-forward-semibold" !important;
      letter-spacing: 0;
      font-size: 16px;
      line-height: 21px;
      color: var(--base-black-pearl);
    }

    .namePlayer {
      margin-bottom: 2px;
      font-size: 13px;
      font-weight: bold;
      line-height: 16px;
      color: var(--base-black-pearl);
    }

    .regionTeam {
      margin-bottom: px2vw-lg(2px);
      font-size: px2vw-lg(13px);
      font-weight: bold;
      line-height: px2vw-lg(16px);
      color: var(--base-black-pearl);
    }

    .teamPosition {
      font-family: "stc-forward-light" !important;
      font-size: 10px;
      line-height: 12px;
      color: var(--base-black-pearl);
    }
  }
}

.title-tab-players {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  justify-content: space-between;
  padding-right: 49px;

  h3 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    color: var(--base-black-pearl);
    font-family: "stc-forward-light" !important;
    margin: 0;
  }

  button {
    margin: 0;
    font-size: 21px;
    left: 27px;
  }
}

.modal-header,
.modal-footer {
  border: none;
}

.btn-row-approved {
  justify-content: flex-end;
  margin-top: 125px;

  .btn-light {
    margin-right: 27px;
    background: rgba(0, 0, 3, 0.2);
    border-radius: 0.25rem;
    border: 0;
    padding: 12px 48px;
    font-family: "stc-forward-light" !important;
    font-size: 12px;
    line-height: 16px;
    color: rgba(251, 251, 251, 0.6);
    transition: all 0.3s;

    &:hover {
      background-color: var(--ui-venetian-red);
      color: var(--base-black-pearl);
    }
  }

  .btn-primary {
    padding: 12px 48px;
    color: var(--base-white-smoke);
    font-size: 12px;
    line-height: 16px;
    background-color: var(--ui-venetian-red);
    border-radius: 0.25rem;
    font-family: "stc-forward-semibold" !important;
  }
}

@media (max-width: 767px) {
  .mainDiv {
    padding: 20px;
  }

  .about-manage-tournament {
    margin-bottom: 10px;
    padding: 20px;
    height: auto;
    background-size: cover !important;

    > .row {
      &:first-child {
        p {
          line-height: normal !important;
          margin-right: 0 !important;
          margin-bottom: 15px !important;

          &:first-child {
            max-width: 85% !important;
            flex: 0 0 85% !important;
            margin-left: auto !important;
            margin-right: auto !important;
          }

          &:nth-child(2) {
            max-width: 100% !important;
            flex: 0 0 100% !important;
          }
        }
      }

      &:last-child {
        position: initial;

        .col-lg-3 {
          max-width: 100% !important;
          flex: 0 0 100% !important;
          margin-bottom: 20px;
          padding: 0;
          justify-content: center;

          div {
            display: flex;
            align-items: center;

            span.date {
              font-size: 16px;
              line-height: normal;
              margin-top: 0;
              margin-left: 5px;
            }
          }

          p {
            font-size: 16px;
            line-height: normal;
            margin-bottom: 0;
            text-align: left;
            max-width: fit-content;
          }
        }

        .startsIn {
          margin-right: 0;
          text-align: center;
          margin-left: 0;
          width: 100%;
          justify-content: center;

          p {
            font-size: 16px;
            line-height: normal;

            &:last-child {
              padding-top: 0;
            }
          }
        }

        button {
          position: absolute;
          top: 10px;
          right: 10px;

          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .participantsCard {
    .content-tab-sinlegamer {
      padding-right: 10px;
    }
  }

  .menuBar {
    padding: 15px 0 !important;

    .menuItems {
      overflow: hidden;
      margin-bottom: 20px;
      width: 100%;

      .nav-tabs {
        flex-wrap: wrap;

        li {
          margin-right: 30px;
          position: inherit;

          @include sm {
            margin-right: 0;
            padding: px2vw-sm(10px);
          }

          a {
            width: max-content;
            line-height: 1.2;

            @include sm {
              font-size: 18px;
            }
          }
        }
      }
    }

    .menuSearch {
      width: 100%;

      @include md {
        margin-bottom: px2vw-md(10px);
      }

      @include sm {
        margin-bottom: px2vw-md(10px);
      }

      input {
        width: 100%;
      }
    }
  }

  .card-player-gamer {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 15px;

    .row {
      padding: 5px 0;
    }

    &:after {
      right: 65px;
      top: -13px;
      height: 167%;
    }
  }

  .card-team-gamer {
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 25px;

    &:nth-child(odd) {
      margin-right: 0;
    }

    .cardInfo {
      padding: 8px 35px 15px 15px;

      &:after {
        right: 32px;
      }

      &:before {
        right: 9px;
      }
    }
  }

  .mainContainerDiscussions {
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .mainDiv {
    padding: 20px;
  }

  .about-manage-tournament {
    padding: 20px;
    height: auto;
    background-position: center !important;

    > .row {
      &:first-child {
        p {
          line-height: normal !important;
          margin-right: 0 !important;
          margin-bottom: 15px !important;
          width: 33%;

          &:first-child {
            max-width: 40% !important;
            flex: 0 0 40% !important;
            text-align: left;
          }

          &:nth-child(2) {
            max-width: 60% !important;
            flex: 0 0 60% !important;
            text-align: left;
          }
        }
      }

      &:last-child {
        margin-top: 50px;

        .col-lg-3 {
          div {
            span.date {
              font-size: 16px;
              line-height: normal;
              margin-top: 0;
            }
          }

          p {
            font-size: 16px;
            line-height: normal;
            margin-bottom: 0;
            text-align: left;
            max-width: fit-content;
          }
        }

        .startsIn {
          p {
            font-size: 16px;
            line-height: normal;

            &:last-child {
              padding-top: 0;
            }
          }
        }
      }
    }
  }

  .participantsCard {
    .content-tab-sinlegamer {
      padding-right: 10px;
    }
  }

  .menuBar {
    padding: 15px;

    .menuItems {
      overflow: hidden;
      margin-bottom: 20px;

      .nav-tabs {
        flex-wrap: wrap;

        li {
          margin-right: 30px;
          position: inherit;

          a {
            width: max-content;
          }
        }
      }
    }
    .menuSearch {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }

  .card-player-gamer {
    max-width: 45%;
    flex: 0 0 45%;
    margin-bottom: 15px;

    .row {
      padding: 5px 0;
    }

    &:after {
      right: 65px;
      top: -13px;
      height: 167%;
    }
  }

  .card-team-gamer {
    max-width: 45%;
    flex: 0 0 45%;
    margin-bottom: 25px;

    &:nth-child(odd) {
      margin-right: 0;
    }

    .cardInfo {
      padding: 8px 35px 15px 15px;

      &:after {
        right: 32px;
      }

      &:before {
        right: 9px;
      }
    }
  }

  .content-tab-gamer {
    justify-content: space-between;
  }

  .mainContainerDiscussions {
    padding-bottom: 50px;
  }

  .edit-manage-tournament {
    .form-group {
      flex-wrap: wrap;
    }
  }
}

.hide-edit {
  visibility: hidden;
}

.not-available {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.ManageTournament-sectionA {
  display: flex;
  align-items: center;
  margin-bottom: px2vw-xl(48px);
  border-radius: px2vw-xl(10px);
  padding: px2vw-xl(32px);
  background-color: var(--base-white-smoke);

  @include lg {
    margin-bottom: px2vw-lg(48px);
    border-radius: px2vw-lg(10px);
    padding: px2vw-lg(32px);
  }

  @include md {
    margin-bottom: px2vw-md(48px);
    border-radius: px2vw-md(10px);
    padding: px2vw-md(20px);
    flex-direction: column;
  }

  @include sm {
    margin-bottom: px2vw-sm(48px);
    border-radius: px2vw-sm(10px);
    padding: px2vw-sm(20px);
  }

  &-image-block {
    overflow: hidden;
    margin-right: px2vw-xl(40px);
    border-radius: px2vw-xl(10px);
    height: px2vw-xl(200px);
    width: px2vw-xl(200px);
    flex-shrink: 0;

    @include lg {
      margin-right: px2vw-lg(20px);
      border-radius: px2vw-lg(10px);
      height: px2vw-lg(200px);
      width: px2vw-lg(200px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(10px);
      border-radius: px2vw-md(10px);
      height: px2vw-md(300px);
      width: 100%;
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(240px);
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-about {
    flex-grow: 1;
    @include md {
      width: 100%;
    }
  }

  &-header {
    margin-bottom: px2vw-xl(34px);

    @include lg {
      margin-bottom: px2vw-lg(34px);
    }

    @include md {
      margin-bottom: px2vw-md(34px);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(10px);
    @include textClamp(1);

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-subtitle {
    margin-bottom: 0;
  }

  &-details {
    display: flex;
    margin-bottom: 0;

    @include md {
      flex-direction: column;
    }
  }

  &-detail {
    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }

    &:not(:first-child) {
      margin-left: auto;

      @include md {
        margin-left: 0;
      }
    }
  }

  &-detail-title {
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-detail-text {
    margin-bottom: 0;
    max-width: px2vw-xl(300px);
    color: var(--base-black-pearl);
    line-height: px2vw-xl(32px);

    @include lg {
      max-width: px2vw-lg(300px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      max-width: 100%;
      line-height: px2vw-md(32px);
    }

    @include sm {
      line-height: px2vw-sm(32px);
    }
  }

  &-paid {
    align-self: flex-start;
    margin-left: auto;
    padding-left: px2vw-xl(20px);
    text-align: right;

    @include lg {
      padding-left: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      padding-left: 0;
      width: 100%;
      text-align: left;
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      text-align: left;
    }
  }

  &-paid-text {
    margin-bottom: 0;
    display: contents;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(24px);
    letter-spacing: px2vw-xl(0.9px);
    white-space: nowrap;
    color: var(--base-black-pearl);

    @include lg {
      font-size: px2vw-lg(13px);
      line-height: px2vw-lg(22px);
      letter-spacing: px2vw-lg(0.9px);
    }

    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(22px);
      letter-spacing: px2vw-md(0.9px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(22px);
      letter-spacing: px2vw-sm(0.9px);
    }
    & fa-icon {
      color: var(--primary-sunset-light);
    }
  }
}

::ng-deep {
  .mat-snack-bar-container {
    background: none !important;
  }
}
