<div class="conatiner tManagement" *ngIf="hasRequiredAccess">
  <div class="container-block" *ngIf="tournament; else notAvailable">
    <div class="ManageTournament-sectionA">
      <div class="ManageTournament-sectionA-image-block">
        <img
          class="ManageTournament-sectionA-image"
          *ngIf="tournament?.banner"
          [src]="tournament?.banner"
          [alt]="tournament?.name"
        />
        <img
          class="ManageTournament-sectionA-image"
          *ngIf="!tournament?.banner"
          [src]="tournament?.gameDetail?.image"
          [alt]="tournament?.name"
        />
      </div>
      <div class="ManageTournament-sectionA-about">
        <div class="ManageTournament-sectionA-paid">
          <p class="ManageTournament-sectionA-paid-text global-Text">
            <fa-icon [icon]="['fas', 'trophy']"></fa-icon>
            {{ tournament?.maxParticipants }}
            {{
              !tournament?.participantType
                ? "N/A"
                : tournament?.participantType == "individual"
                ? ("MANAGE_TOURNAMENT.PARTICIPANT_TYPE.PLAYER" | translate)
                : ("MANAGE_TOURNAMENT.PARTICIPANT_TYPE.TEAM" | translate)
            }}
            {{ tournament?.bracketType | bracket | translate }}
          </p>
          <button
            (click)="active = 6"
            [class.hide-edit]="tournament?.isFinished"
            matTooltip="{{ 'BUTTON.EDIT' | translate }}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35.5"
              height="35.5"
              viewBox="0 0 35.5 35.5"
            >
              <defs>
                <style>
                  .a {
                    fill: none;
                  }

                  .b {
                    fill: #ff6a39;
                  }
                </style>
              </defs>
              <path class="a" d="M0,0H35.5V35.5H0Z" />
              <path
                class="b"
                d="M3,21.27v4.808H7.808L21.987,11.9,17.18,7.09ZM25.705,8.18a1.277,1.277,0,0,0,0-1.808l-3-3a1.277,1.277,0,0,0-1.808,0L18.551,5.719l4.808,4.808L25.705,8.18Z"
                transform="translate(3.213 3.21)"
              />
            </svg>
          </button>
        </div>
        <header class="ManageTournament-sectionA-header">
          <h1 class="ManageTournament-sectionA-title global-Title2">
            {{ tournament?.name || "N/A" }}
          </h1>
          <p class="ManageTournament-sectionA-subtitle global-Text">
            <span *ngIf="noStart"
              >{{ "MANAGE_TOURNAMENT.START_IN" | translate }}:</span
            >
            {{ tournamentStartTime }} |
            {{ "MANAGE_TOURNAMENT.ORGANISED_BY" | translate }}:
            {{
              (tournament?.organizerDetail?.fullName | limitString: 17:"...") ||
                "N/A"
            }}
          </p>
        </header>
        <ul class="ManageTournament-sectionA-details">
          <li class="ManageTournament-sectionA-detail">
            <h3 class="ManageTournament-sectionA-detail-title global-Text">
              {{ "MANAGE_TOURNAMENT.DATE_AND_TIME" | translate }}
            </h3>
            <p
              class="ManageTournament-sectionA-detail-text global-Text global-Elipses"
            >
              {{
                !isNumber(timezone)
                  ? (tournament?.startDate | date: "medium")
                  : (tournament?.startDate | date: "MMM d, y, h:mm:ss a z")
              }}
              {{ !isNumber(timezone) ? timezone : "" }}
            </p>
          </li>
          <li class="ManageTournament-sectionA-detail">
            <h3 class="ManageTournament-sectionA-detail-title global-Text">
              {{ "MANAGE_TOURNAMENT.REGISTERED_TEAMS" | translate }}
            </h3>
            <p
              class="ManageTournament-sectionA-detail-text global-Text global-Elipses"
            >
              {{ registeredParticipantCount }}/{{ tournament?.maxParticipants }}
            </p>
          </li>
          <li
            class="ManageTournament-sectionA-detail"
            *ngIf="tournament?.isCheckInRequired"
          >
            <h3 class="ManageTournament-sectionA-detail-title global-Text">
              {{ "MANAGE_TOURNAMENT.CHECKED_IN_TEAMS" | translate }}
            </h3>
            <p
              class="ManageTournament-sectionA-detail-text global-Text global-Elipses"
            >
              {{ checkedInParticipantCount | number: "1.0-0" }}/{{
                registeredParticipantCount
              }}
            </p>
          </li>

          <li class="ManageTournament-sectionA-detail">
            <h3 class="ManageTournament-sectionA-detail-title global-Text">
              {{ "MANAGE_TOURNAMENT.TEAMS_SIZE" | translate }}
            </h3>
            <p
              class="ManageTournament-sectionA-detail-text global-Text global-Elipses"
            >
              {{
                !tournament?.participantType
                  ? "N/A"
                  : tournament?.participantType == "individual"
                  ? ("TEAM.ONE" | translate)
                  : ("TOURNAMENT.TEAM" | translate)
              }}
              {{
                tournament?.participantType == "team"
                  ? tournament?.teamSize + "v" + tournament?.teamSize
                  : ""
              }}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row menuBar">
      <div class="row menuItems">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li ngbDropdown [ngbNavItem]="1">
            <a href (click)="(false)" class="nav-link" ngbDropdownToggle>{{
              "MANAGE_TOURNAMENT.TABS.PARTICIPANTS" | translate
            }}</a>
            <div ngbDropdownMenu>
              <button
                (click)="
                  currentDropdownTab = 'approvedParticipants'; active = 1
                "
                ngbDropdownItem
              >
                {{ "MANAGE_TOURNAMENT.SUB_TABS.APPROVED" | translate }}
              </button>
              <button
                (click)="
                  currentDropdownTab = 'rejectedParticipants'; active = 1
                "
                ngbDropdownItem
              >
                {{ "MANAGE_TOURNAMENT.SUB_TABS.REJECTED" | translate }}
              </button>
              <button
                (click)="currentDropdownTab = 'pendingParticipants'; active = 1"
                ngbDropdownItem
              >
                {{ "MANAGE_TOURNAMENT.SUB_TABS.PENDING_APPROVAL" | translate }}
              </button>
            </div>
            <ng-template ngbNavContent *ngIf="tournament">
              <app-participants
                [currentTab]="currentDropdownTab"
                [tournament]="tournament"
                [user]="user"
              >
              </app-participants>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>{{
              "MANAGE_TOURNAMENT.TABS.SEED_BRACKETS" | translate
            }}</a>
            <ng-template ngbNavContent>
              <app-seed
                [tournament]="tournament"
                (message)="getComponentResponse($event)"
              >
              </app-seed>
            </ng-template>
          </li>
          <li
            [ngbNavItem]="3"
            *ngIf="tournament?.bracketType !== 'battle_royale'"
          >
            <a ngbNavLink>{{ "MANAGE_TOURNAMENT.TABS.MATCHES" | translate }}</a>
            <ng-template ngbNavContent>
              <app-match-list
                [tournament]="tournament"
                [isAdmin]="true"
                [isScoreEdit]="true"
                (message)="getComponentResponse($event)"
              ></app-match-list>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>{{ "MANAGE_TOURNAMENT.TABS.STREAMS" | translate }}</a>
            <ng-template ngbNavContent>
              
            </ng-template>
          </li>
          <li [ngbNavItem]="5">
            <a ngbNavLink>{{
              "MANAGE_TOURNAMENT.TABS.DISCUSSION" | translate
            }}</a>
            <ng-template ngbNavContent>
              <app-discussion
                [userId]="user?._id"
                [allowComment]="true"
                [objectId]="tournament?._id"
                [type]="'tournament'"
                [creatorId]="tournament?.organizerDetail?._id"
              >
              </app-discussion>
            </ng-template>
          </li>
          <li
            [ngbNavItem]="7"
            *ngIf="tournament.isSeeded && tournament.isFinished"
          >
            <a ngbNavLink>{{
              "MANAGE_TOURNAMENT.TABS.PRIZE_DISTRIBUTION" | translate
            }}</a>
            <ng-template ngbNavContent>
              <app-winners [tournamentId]="tournament?._id"></app-winners>
            </ng-template>
          </li>
          <li [ngbNavItem]="8">
            <a ngbNavLink>{{
              "MANAGE_TOURNAMENT.TABS.USER_REPORT" | translate
            }}</a>
            <ng-template ngbNavContent>
              <app-show-user-report
                [tournamentId]="tournament?._id"
              ></app-show-user-report>
            </ng-template>
          </li>
          <li
            [ngbNavItem]="9"
            *ngIf="hasRequiredAccess"
          >
            <a ngbNavLink>{{
              "MANAGE_TOURNAMENT.TABS.PUSH_NOTIFICATION" | translate
            }}</a>
            <ng-template ngbNavContent>
              <app-notification
                [tournamentId]="tournament?._id"
                [tournamentName]="tournament?.name"
                [tournamentUrl]="tournament?.url"
              ></app-notification>
            </ng-template>
          </li>
          <li [ngbNavItem]="6" *ngIf="!tournament?.isFinished">
            <a ngbNavLink style="display: none">{{
              "BUTTON.EDIT" | translate
            }}</a>
            <ng-template ngbNavContent>
              <app-edit
                [tournament]="tournament"
                [minParticipant]="registeredParticipantCount"
                (response)="getComponentResponse($event)"
              >
              </app-edit>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
    <div [ngbNavOutlet]="nav"></div>
  </div>
  <ng-template #notAvailable>
    <h3 class="not-available" [hidden]="hideMessage">
      {{ "VIEW_TOURNAMENT.NOT_AVAILABLE" | translate }}
    </h3>
  </ng-template>
</div>

<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
