@import "shared";

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid var(--white-light);
  background: var(--gradient-bg);
}

.HeaderPaidia {
  &-container {
    @extend %u-dfCenter;
  }

  &-logo {
    margin-right: px2vw-xl(24px);
    border-right: 1px solid var(--white-light);
    padding: px2vw-xl(13px);
    padding-left: 0;
    padding-right: 22px;
    @include xl {
      margin-right: px2vw-xl(24px);
      padding: px2vw-xl(17px);
      padding-left: 0;
      padding-right: 22px;
    }

    @include lg {
      margin-right: px2vw-lg(24px);
      padding: px2vw-lg(24.5px);
      padding-left: 0;
    }

    @include md {
      margin-right: px2vw-md(24px);
      padding: px2vw-md(24.5px);
      padding-left: 0;
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      padding: px2vw-sm(24.5px);
      padding-left: 0;
    }
  }

  &-logo-link {
    display: block;
  }

  &-logo-icon {
    height: px2vw-xl(30px);
     width: px2vw-xl(130px);

    position: relative;
    @include lg {
      height: px2vw-xl(30px);
      width: px2vw-xl(130px);
    }

    @include md {
      height: px2vw-xl(30px);
     width: px2vw-xl(130px);
    }

    @include sm {
      height: px2vw-xl(30px);
      width: px2vw-xl(130px);
    }
  }

  &-title {
    @extend %subtitle-1;
    margin-right: 14px;
    margin-top: 2px;
    margin-bottom: 0;

    @include xl {
      margin-right: px2vw-xl(14px);
    }

    @include lg {
      margin-right: px2vw-lg(14px);
    }

    @include md {
      margin-right: px2vw-md(14px);
    }

    @include sm {
      margin-right: px2vw-sm(14px);
    }
  }

  &-content {
    @extend %u-dfCenter;
    flex-shrink: 0;
    margin-left: auto;
  }

  &-control {
    @extend %u-dfCenter;
    margin-right: 24px;

    @include xl {
      margin-right: px2vw-xl(24px);
    }

    @include lg {
      margin-right: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
    }
  }

  &-players {
    @extend %u-dfCenter;
    margin-right: 16px;

    @include xl {
      margin-right: px2vw-xl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-players-icon {
    margin-right: 8px;
    height: 20px;
    width: 24px;

    @include xl {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(20px);
      width: px2vw-xl(24px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(20px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(20px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(20px);
      width: px2vw-sm(24px);
    }
  }

  &-players-text {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white);
  }

  &-button {
    position: relative;

    &.ready {
      margin-right: 8px;
      padding-left: 41px;

      @include xl {
        margin-right: px2vw-xl(8px);
        padding-left: px2vw-xl(41px);
      }

      @include lg {
        margin-right: px2vw-lg(8px);
        padding-left: px2vw-lg(41px);
      }

      @include md {
        margin-right: px2vw-md(8px);
        padding-left: px2vw-md(41px);
      }

      @include sm {
        margin-right: px2vw-sm(8px);
        padding-left: px2vw-sm(41px);
      }

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 17px;
        width: 12px;
        height: 9px;
        background-image: url(/assets/icons/check.svg);
        background-size: cover;

        @include xl {
          left: px2vw-xl(17px);
          width: px2vw-xl(12px);
          height: px2vw-xl(9px);
        }

        @include lg {
          left: px2vw-lg(17px);
          width: px2vw-lg(12px);
          height: px2vw-lg(9px);
        }

        @include md {
          left: px2vw-md(17px);
          width: px2vw-md(12px);
          height: px2vw-md(9px);
        }

        @include sm {
          left: px2vw-sm(17px);
          width: px2vw-sm(12px);
          height: px2vw-sm(9px);
        }
      }
    }
  }

  &-close {
    @extend %u-dfCenter;
    background-color: transparent;
  }

  &-close-icon {
    height: auto;
    width: auto;
    font-size: 24px;
    color: var(--white-medium);
    transition: $global-transition;

    @include xl {
      font-size: px2vw-xl(24px);
    }

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }
}
.HeaderPaidia-logo-subicon{
display: block;
margin-inline-start: -3px;
}
