%u,
.u {
  &-wp {
    margin: 0 auto;
    max-width: px2vw-xl(1330px);
    width: 100%;
    padding: 0;

    @include lg {
      max-width: px2vw-lg(1330px);
      padding: 0 px2vw-lg(20px);
    }

    @include md {
      max-width: px2vw-md(1330px);
      padding: 0 px2vw-md(20px);
    }

    @include sm {
      max-width: px2vw-sm(1330px);
      padding: 0 px2vw-sm(20px);
    }
  }

  &-dfCenter {
    display: flex;
    align-items: center;
  }

  &-dfStart {
    display: flex;
    align-items: flex-start;
  }

  &-dfStretch {
    display: flex;
    align-items: stretch;
  }

  &-dfStretchStart {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }

  &-dfStartCenter {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &-dfStartBtw {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-dfStartEnd {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &-dfCenterBtw {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-dfCenterAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &-dfCenterStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-dfCenterCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-dfCenterEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-dfEnd {
    display: flex;
    align-items: flex-end;
  }

  &-dfEndBtw {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &-dfEndCenter {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
