@import "shared";

:host {
  display: block;
  padding-top: px2vw-xl(50px);
  padding-bottom: px2vw-xl(32px);
  // background-color: var(--blackcurrant-color-medium);
  background: var(--color-secondary-disabled);

  @include lg {
    padding-top: px2vw-lg(32px);
    padding-bottom: px2vw-lg(32px);
  }

  @include md {
    padding-top: px2vw-md(48px);
    padding-bottom: px2vw-md(39px);
  }

  @include sm {
    padding-top: px2vw-sm(52px);
    padding-bottom: px2vw-sm(52px);
  }
}

.Inbox-header {
  @extend %u-dfCenterBtw;
  margin-bottom: px2vw-xl(10px);
  max-width: px2vw-xl(841px);
  padding: 0 px2vw-xl(24px);
  margin: 0 auto;
  justify-content: center;
  // padding: px2vw-xl(20px) 0;
  // margin-top: px2vw-xl(120px);
  @include lg {
    // margin-bottom: px2vw-lg(16px);
    // padding: px2vw-lg(20px) 0;
    margin-bottom: px2vw-md(30px);
  }

  @include md {
    // margin-bottom: px2vw-md(16px);
    // padding: px2vw-md(20px) 0;
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    // margin-bottom: px2vw-sm(16px);
    // padding: px2vw-sm(20px) 0;
    margin-bottom: px2vw-sm(30px);
  }

  &-title {
    // @extend %global-H4;
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(26px);
    letter-spacing: px2vw-xl(-1px);
    color: var(--tolopea-medium-color);
    text-transform: inherit;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
      letter-spacing: px2vw-lg(-1px);
    }
    @include md {
      font-size: px2vw-md(28px);
      line-height: px2vw-md(28px);
      letter-spacing: px2vw-md(-1px);
    }
    @include sm {
      font-size: px2vw-sm(33px);
      line-height: px2vw-sm(38px);
      letter-spacing: px2vw-sm(-1px);
    }
  }

  &-button {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }
}

.scoringSection {
  max-width: px2vw-xl(841px);
  padding: 0 px2vw-xl(24px);
  margin: 0 auto;
  @include lg {
    max-width: px2vw-lg(841px);
    padding: 0 px2vw-lg(24px);
    margin-top: px2vw-lg(-15px);
  }
  @include md {
    max-width: px2vw-md(841px);
    padding: 0 px2vw-md(24px);
    margin-top: px2vw-md(-15px);
  }
  @include sm {
    margin-left: 0;
    margin-top: px2vw-sm(-15px);
  }

  &-btnExpaned {
    background-color: transparent;
  }

  &-contact {
    padding: 0 px2vw-xl(24px);
    &-title {
      text-align: center;
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--color-skyblue);

      @include lg{
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }

      @include md{
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
        max-width: 80%;
        margin: 0 auto;
        padding-top:px2vw-md(13px);
      }

      @include sm {
        text-align: center;
        font-size: px2vw-sm(25px);
        line-height: px2vw-sm(35px);
        max-width: 80%;
        margin: 0 auto;
        padding-top:px2vw-sm(13px);
      }
    }
  }

  &-title {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(40px);
    line-height: px2vw-xl(48px);
    letter-spacing: px2vw-xl(-1px);
    color: var(--white);
    margin-bottom: px2vw-xl(41px);

    @include lg{
      font-size: px2vw-lg(40px);
      line-height: px2vw-lg(48px);
      letter-spacing: px2vw-lg(-1px);
      margin-bottom: px2vw-lg(41px);
    }

    @include md{
      font-size: px2vw-md(42px);
      line-height: px2vw-md(48px);
      letter-spacing: px2vw-md(-1px);
      margin-bottom: px2vw-md(41px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
      letter-spacing: px2vw-sm(-1px);
      margin-bottom: px2vw-sm(25px);
    }
  }

  &-round {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(28px);
    color: var(--color-white-medium);
    width: px2vw-xl(625px);
    margin-bottom: px2vw-xl(25px);

    @include lg{
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
      color: var(--color-white-medium);
      width: px2vw-lg(625px);
      margin-bottom: px2vw-lg(25px);
    }

    @include md{
      font-size: px2vw-md(20px);
      line-height: px2vw-md(28px);
      color: var(--color-white-medium);
      width: px2vw-md(625px);
      margin-bottom: px2vw-md(25px);
    }

    @include sm {
      width: 100%;
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }

    &-accordion {
      &-item-header {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--color-white-medium);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: px2vw-xl(16px) px2vw-xl(24px);
        position: static;
        left: px2vw-xl(0px);
        top: px2vw-xl(0px);
        background: var(--color-secondary);
        border-radius: px2vw-xl(4px);
        margin-bottom: px2vw-xl(24px);

        @include lg{
          font-size: px2vw-lg(18px);
          line-height: px2vw-lg(24px);
          border-radius: px2vw-lg(4px);
          margin-bottom: px2vw-lg(24px);
          left: px2vw-lg(0px);
          top: px2vw-lg(0px);
          padding: px2vw-lg(16px) px2vw-lg(24px);
        }

        @include md{
          font-size: px2vw-md(19px);
          line-height: px2vw-md(24px);
          border-radius: px2vw-md(4px);
          margin-bottom: px2vw-md(24px);
          left: px2vw-md(0px);
          top: px2vw-md(0px);
          padding: px2vw-md(16px) px2vw-md(24px);
        }

        @include sm {
          padding: px2vw-sm(24px) px2vw-sm(22px);
          font-size: px2vw-sm(23px);
          border-radius: px2vw-sm(7px);
          margin-bottom: px2vw-sm(19px) !important;
        }
      }

      &-item-body {
        // margin-top: 22px;
        padding-bottom: px2vw-xl(24px);

        &-score {
          @include sm {
            margin-top: px2vw-sm(-21px);
          }

          // &-wrap {

          // }

          &-wrap ::ng-deep .mat-paginator-container {
            padding: 0;
            margin-top: px2vw-xl(17px);
            margin-bottom: px2vw-xl(20px);

            @include lg{
              margin-top: px2vw-lg(17px);
             margin-bottom: px2vw-lg(20px);
            }
            @include md{
              margin-top: px2vw-md(17px);
             margin-bottom: px2vw-md(20px);
            }
            @include sm{
              margin-top: px2vw-sm(17px);
             margin-bottom: px2vw-sm(20px);
            }
          }
        }

        &-wrap {
          font-size: px2vw-xl(14px);
          line-height: px2vw-xl(26px);
          font-weight: 500;
          font-family: 'Paralucent-Demi';
          color: var(--color-white-medium);
          @include lg{
            font-size: px2vw-lg(14px);
            line-height: px2vw-lg(26px);
          }
          @include md{
            font-size: px2vw-md(14px);
            line-height: px2vw-md(26px);
          }
          @include sm{
            font-size: px2vw-sm(20px);
            line-height: px2vw-sm(26px);
          }
        }

        &-date {
          font-family: 'Paralucent-Demi';
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(25px);
          line-height: px2vw-xl(32px);
          letter-spacing: px2vw-xl(-1px);
          color: var(--white);
          margin-bottom: px2vw-xl(15px);

          @include lg{
            font-size: px2vw-lg(25px);
            line-height: px2vw-lg(32px);
            margin-bottom: px2vw-lg(15px);
          }

          @include md{
            font-size: px2vw-md(25px);
            line-height: px2vw-md(32px);
            margin-bottom: px2vw-md(15px);
          }

          @include sm {
            display: none;
          }
        }

        &-search {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-bottom: px2vw-xl(16px);

          @include sm {
            display: none;
          }

          &-left {
            width: 100%;
            max-width: calc(100% - 280px);
            .text {
              font-family: 'Paralucent-Demi';
              font-style: normal;
              font-weight: 600;
              font-size: px2vw-xl(20px);
              line-height: px2vw-xl(28px);
              color: var(--tertiary-color);
            }
          }
          &-right {
            width: 100%;
            max-width: px2vw-xl(280px);
          }
        }

        &-scores:nth-child(2n + 1) {
          @include sm {
            display: none;
          }
        }

        &-scores {
          display: flex;
          align-items: center;
          padding: px2vw-xl(15.5px) px2vw-xl(0px);
          border-bottom: px2vw-xl(1px) solid var(--midnight-express-color);

          @include lg {
            padding: px2vw-lg(15.5px) px2vw-lg(0px);
            border-bottom: px2vw-lg(1px) solid var(--midnight-express-color);
          }
          @include md {
            padding: px2vw-md(15.5px) px2vw-md(0px);
            border-bottom: px2vw-md(1px) solid var(--midnight-express-color);
          }
          @include sm {
            flex-direction: column-reverse;
            border-bottom: 0;
            margin-bottom: px2vw-sm(-28px);
          }

          &-time {
            width: 102px;
            text-align: center;
            font-family: 'Paralucent-Demi';
            font-style: normal;
            font-weight: 600;
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
            color: var(--tolopea-color);

            @include sm {
              display: none;
            }
          }

          &-btn {
            @include sm {
              width: 100%;
              text-align: end;
              border-radius: px2vw-sm(8px) px2vw-sm(8px) px2vw-sm(0px) px2vw-sm(0px);
              border: px2vw-sm(1px) solid var(--midnight-express-color);
              padding: px2vw-sm(11px) px2vw-sm(19px);
            }

            & button {
              background-color: transparent;
            }

            & button ::ng-deep svg path {
              @include sm {
                fill: rgba(0, 0, 0, 0.87);
              }
            }
          }

          &-content {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            position: relative;

            @include sm {
              border: px2vw-sm(1px) solid var(--midnight-express-color);
              padding: px2vw-sm(12px) px2vw-sm(16px);
              border-radius: px2vw-sm(0px) px2vw-sm(0px) px2vw-sm(8px) px2vw-xl(8px);
            }

            .avatar-player {
              width: px2vw-xl(64px);
              height: px2vw-xl(64px);
              overflow: hidden;
              border-radius: 50%;
              position: relative;
              margin: 0 0 px2vw-xl(8px);
              padding: 0;

              @include lg{
                width: px2vw-lg(64px);
                height: px2vw-lg(64px);
                margin: 0 0 px2vw-lg(8px);
              }

              @include md{
                width: px2vw-md(64px);
                height: px2vw-md(64px);
                margin: 0 0 px2vw-md(8px);
              }

              @include sm {
                width: px2vw-sm(48px);
                height: px2vw-sm(48px);
              }
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
              }
            }
            &-right {
              display: flex;
              align-items: center;
              flex-direction: row;
              width: 38%;

              @include sm {
                width: 100%;
              }

              &-name-player {
                font-family: 'Paralucent-Demi';
                font-style: normal;
                font-weight: 600;
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(24px);
                color: var(--white);
                margin-left: px2vw-xl(8px);
                margin-bottom: 0;

                @include lg{
                  font-size: px2vw-lg(16px);
                  line-height: px2vw-lg(24px);
                  margin-left: px2vw-lg(8px);
                }

                @include md{
                  font-size: px2vw-md(16px);
                  line-height: px2vw-md(24px);
                  margin-left: px2vw-md(8px);
                }

                @include sm {
                  font-size: px2vw-sm(14px);
                  line-height: px2vw-sm(20px);
                  margin-left: 0;
                }
              }

              &-avatar-player {
                width: px2vw-xl(47px);
                height: px2vw-xl(48px);

                @include lg{
                  width: px2vw-lg(47px);
                  height: px2vw-lg(48px);
                }

                @include md{
                  width: px2vw-md(47px);
                  height: px2vw-md(48px);
                }

                @include sm {
                  margin-right: px2vw-sm(8px);
                  width: px2vw-sm(32px);
                  height: px2vw-sm(32px);
                }

                & img {
                  width: 100%;
                  height: 100%;
                }
              }
            }

            &-left {
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
              width: 29%;

              @include sm {
                flex-direction: row;
                margin-bottom: px2vw-sm(20px);
                width: 100%;
              }

              &-name-player {
                font-family: 'Paralucent-Demi';
                font-style: normal;
                font-weight: 600;
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(24px);
                color: var(--white);
                margin-right: px2vw-xl(8px);
                margin-bottom: 0;

                @include lg {
                  font-size: px2vw-lg(16px);
                  line-height: px2vw-lg(24px);
                  margin-right: px2vw-lg(8px);
                }

                @include md {
                  font-size: px2vw-md(16px);
                  line-height: px2vw-md(24px);
                  margin-right: px2vw-md(8px);
                }

                @include sm {
                  font-size: px2vw-sm(14px);
                  line-height: px2vw-sm(20px);
                  margin-right: 0;
                }
              }

              &-avatar-player {
                width: px2vw-xl(47px);
                height: px2vw-xl(48px);

                @include lg{
                  width: px2vw-lg(47px);
                  height: px2vw-lg(48px);
                }

                @include md{
                  width: px2vw-md(47px);
                  height: px2vw-md(48px);
                }

                @include sm {
                  margin-right: px2vw-sm(8px);
                  width: px2vw-sm(32px);
                  height: px2vw-sm(32px);
                }

                & img {
                  width: 100%;
                  height: 100%;
                }
              }
            }

            &-center {
              margin: 0 px2vw-xl(21px);
              // min-height: 92px;
              display: flex;
              align-items: center;

              &-match-score {
                font-family: 'Paralucent-Demi';
                font-style: normal;
                font-weight: 600;
                font-size: px2vw-xl(14px);
                line-height: px2vw-xl(20px);
                text-align: center;
                color: var(--tertiary-color);

                @include lg{
                  font-size: px2vw-lg(14px);
                  line-height: px2vw-lg(20px);
                }

                @include md{
                  font-size: px2vw-md(14px);
                  line-height: px2vw-md(20px);
                }


                @include sm {
                  display: flex;
                  flex-direction: column;
                  position: absolute;
                  right: px2vw-sm(20px);
                  top: px2vw-sm(18px);
                }

                &-nth-1 {
                  margin-bottom: px2vw-xl(45px);

                  @include sm {
                    margin-bottom: px2vw-sm(30px);
                  }
                }

                &-speach {
                  display: inline-block;
                  margin: 0 px2vw-xl(14px);

                  @include sm {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      &-item-description {
        .scoringSection-btnExpaned {
          width: px2vw-xl(32px);
          height: px2vw-xl(32px);
          background-color: transparent;
          border: px2vw-xl(2px) solid var(--white-smoke);
          box-sizing: border-box;
          border-radius: px2vw-xl(24px);
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;

          @include lg{
            width: px2vw-lg(32px);
            height: px2vw-lg(32px);
            border: px2vw-lg(3px) solid var(--white-smoke);
            box-sizing: border-box;
            border-radius: px2vw-lg(24px);
          }

          @include md{
            width: px2vw-md(42px);
            height: px2vw-md(42px);
            border: px2vw-md(2px) solid var(--white-smoke);
            border-radius: px2vw-md(24px);
          }

          @include sm{
            width: px2vw-sm(42px);
            height: px2vw-sm(42px);
            border: px2vw-sm(3px) solid var(--white-smoke);
            border-radius: px2vw-sm(24px);
          }

          & ::ng-deep svg {
            width: px2vw-xl(12px);
            height: px2vw-xl(12px);

            @include lg{
              width: px2vw-lg(15px);
              height: px2vw-lg(15px);
            }
            @include md{
              width: px2vw-md(26px);
              height: px2vw-md(26px);
            }
            @include sm{
              width: px2vw-sm(24px);
              height: px2vw-sm(24px);
            }
          }
        }

        .scoringSection-btnColapsed {
          width: px2vw-xl(32px);
          height: px2vw-xl(32px);
          background-color: transparent;
          border: px2vw-xl(2px) solid var(--white-smoke);
          box-sizing: border-box;
          border-radius: px2vw-xl(24px);
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;

          @include lg{
            width: px2vw-lg(32px);
            height: px2vw-lg(32px);
            border: px2vw-lg(2px) solid var(--white-smoke);
            border-radius: px2vw-lg(24px);
          }

          @include md{
            width: px2vw-md(40px);
            height: px2vw-md(40px);
            border: px2vw-md(2px) solid var(--white-smoke);
            border-radius: px2vw-md(24px);
          }

          @include sm{
            width: px2vw-sm(32px);
            height: px2vw-sm(32px);
            border: px2vw-sm(2px) solid var(--white-smoke);
            border-radius: px2vw-sm(24px);
          }

          & ::ng-deep svg {
            width: px2vw-xl(12px);
            height: px2vw-xl(12px);

            @include lg{
              width: px2vw-lg(12px);
              height: px2vw-lg(12px);
            }

            @include md{
              width: px2vw-md(15px);
              height: px2vw-md(15px);
            }

            @include sm{
              width: px2vw-sm(12px);
              height: px2vw-sm(12px);
            }
          }
        }
      }
    }

    // &-accordion-item-header {
    //     font-family: 'Paralucent-Demi';
    //     font-style: normal;
    //     font-weight: 600;
    //     font-size: 16px;
    //     line-height: 24px;
    //     color: var(--color-white-medium);
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 16px 24px;
    //     position: static;
    //     left: 0px;
    //     top: 0px;
    //     background: var(--midnight-express-color);
    //     border-radius: 4px;
    //     margin-bottom: 22px;
    // }
  }

  &-set {
    &-date {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(-1px);
      color: var(--white);
      margin-bottom: px2vw-xl(14px);

      @include lg{
        font-size: px2vw-lg(24px);
        line-height: px2vw-lg(32px);
        margin-bottom: px2vw-lg(14px);
      }

      @include md{
        font-size: px2vw-md(24px);
        line-height: px2vw-md(32px);
        margin-bottom: px2vw-md(14px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(28px);
        margin-bottom: px2vw-lg(14px);
      }
    }
  }

  &-titleUploadScreen {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(32px);
    letter-spacing: px2vw-xl(-1px);
    color: var(--color-white-medium);
    margin-top: px2vw-xl(40px);
    margin-bottom: px2vw-xl(16px);

    @include lg{
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(32px);
      margin-top: px2vw-lg(40px);
      margin-bottom: px2vw-lg(16px);
    }

    @include md{
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
      margin-top: px2vw-md(40px);
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
      margin-top: px2vw-sm(30px);
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-table {
    border: px2vw-xl(1px) solid var(--tolopea-medium-color);
    border-radius: px2vw-xl(8px);
    width: px2vw-xl(618px);
    height: px2vw-xl(232px);
    margin-bottom: px2vw-xl(24px);

    @include lg{
      border: px2vw-lg(1px) solid var(--tolopea-medium-color);
      border-radius: px2vw-lg(8px);
      width: px2vw-lg(618px);
      height: px2vw-lg(232px);
      margin-bottom: px2vw-lg(24px);
    }

    @include md{
      border: px2vw-md(1px) solid var(--tolopea-medium-color);
      border-radius: px2vw-md(8px);
      width: px2vw-md(618px);
      height: px2vw-md(232px);
      margin-bottom: px2vw-md(24px);
      width: 100%;
    }

    @include sm {
      width: px2vw-sm(540px);
      margin-bottom: 0;
    }

    &-wrapp {
      overflow: hidden;
      overflow-x: auto;
      border-radius: px2vw-xl(8px);
      margin-bottom: px2vw-xl(3px);

      @include lg{
        border-radius: px2vw-lg(8px);
        margin-bottom: px2vw-lg(3px);
      }
      @include md{
        border-radius: px2vw-md(8px);
        margin-bottom: px2vw-md(3px);
      }

      @include sm {
        margin-bottom: px2vw-sm(17px);
      }
    }

    &-rowTitle {
      display: flex;
      height: px2vw-xl(64px);
      align-items: center;
      background: var(--color-white-medium);
      border-radius: px2vw-xl(8px) px2vw-xl(8px) px2vw-xl(0px) px2vw-xl(0px);

      @include lg{
        height: px2vw-lg(64px);
        border-radius: px2vw-lg(8px) px2vw-lg(8px) px2vw-lg(0px) px2vw-lg(0px);
      }

      @include md{
        height: px2vw-md(64px);
        border-radius: px2vw-md(8px) px2vw-md(8px) px2vw-md(0px) px2vw-md(0px);
      }

      @include sm{
        height: px2vw-sm(64px);
        border-radius: px2vw-sm(8px) px2vw-sm(8px) px2vw-sm(0px) px2vw-sm(0px);
      }

      &-uploadBy {
        width: px2vw-xl(108px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        padding-left: px2vw-xl(17px);
        color: var(--blackcurrant-color-medium);

        @include lg{
          width: px2vw-lg(108px);
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(20px);
          padding-left: px2vw-lg(17px);
        }
        @include md{
          width: px2vw-md(70px);
          font-size: px2vw-md(14px);
          line-height: px2vw-md(20px);
          padding-left: px2vw-md(17px);
        }
        @include sm{
          width: px2vw-sm(70px);
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(20px);
          padding-left: px2vw-sm(17px);
        }
      }







      &-fileName {
        width: px2vw-xl(184px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        padding-left: px2vw-xl(17px);
        color: var(--blackcurrant-color-medium);
      }

      &-fileSize {
        width: px2vw-xl(105px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        padding-left: px2vw-xl(17px);
        color: var(--blackcurrant-color-medium);
      }

      &-timeDate {
        width: px2vw-xl(152px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        padding-left: px2vw-xl(17px);
        color: var(--blackcurrant-color-medium);
      }
    }

    &-rowContent {
      height: px2vw-xl(168px);
      overflow: auto;
      // border-radius: 0px 0px 8px 8px;
    }

    &-rowContents {
      display: flex;
      height: px2vw-xl(56px);
      align-items: center;
      background-color: var(--white);
      border: px2vw-xl(1px) solid var(--tolopea-medium-color);

      &-uploadBy {
        width: px2vw-xl(108px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        padding-left: px2vw-xl(17px);
        color: var(--blackcurrant-color-medium);
      }

      &-fileName {
        width: px2vw-xl(184px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(20px);
        display: flex;
        align-items: flex-end;
        padding-left: px2vw-xl(17px);
        color: var(--blackcurrant-color-medium);
      }

      &-fileSize {
        width: px2vw-xl(105px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        padding-left: px2vw-xl(17px);
        color: var(--blackcurrant-color-medium);
      }

      &-timeDate {
        width: px2vw-xl(172px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(20px);
        color: var(--blackcurrant-color-medium);
        padding-left: px2vw-xl(17px);
      }

      &-option {
        background-color: transparent;
      }
    }
  }

  &-btn-uploadScreen {
    & button {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--secondary-color);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: px2vw-xl(15px) ​px2vw-xl(32px) px2vw-xl(12px) px2vw-xl(28px);
      width: px2vw-xl(238px);
      height: px2vw-xl(48px);
      background: var(--white);
      border-radius: px2vw-xl(6px);

      @include md {
        margin: 0 auto;
      }

      @include sm {
        width: 100%;
      }
    }
  }

  &-guideBar {
    padding: px2vw-xl(12px) px2vw-xl(27px) px2vw-xl(17px) px2vw-xl(29px);
    background: var(--blackcurrant-color-medium);
    box-shadow: 0px px2vw-xl(-40px) px2vw-xl(80px) rgb(0 0 0 / 2%), px2vw-xl(0px) px2vw-xl(-30px) px2vw-xl(24px) rgb(0 0 0 / 1%), px2vw-xl(0px) px2vw-xl(-12px) px2vw-xl(10px) rgb(0 0 0 / 2%),
    px2vw-xl(0px) px2vw-xl(-4px) px2vw-xl(4px) rgb(0 0 0 / 2%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: px2vw-xl(72px);
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    left: 0;
    right: 0;

    @include sm {
      height: px2vw-xl(80px);
    }

    &-btn-ready {
      @include sm {
        width: 100%;
      }
      &-descrip {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--white);
        margin-right: px2vw-xl(17px);
      }

      & button {
        background: var(--secondary-color);
        border-radius: px2vw-xl(6px);
        width: px2vw-xl(158px);
        height: px2vw-xl(48px);
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--color-white-medium);

        @include sm {
          width: 100%;
        }
      }
    }
  }
}
