<button mat-dialog-close mat-icon-button class="global-Dialog-close">
  <span class="material-icons">clear</span>
</button>

<div class="InfoPopup">
  <div class="InfoPopup-title">{{ data.title | translate }}</div>
  <div class="InfoPopup-text" [hidden]="!data?.text">{{ data?.text }}</div>
  <ng-container [ngSwitch]="data?.type">
    <app-rating
      *ngSwitchCase="InfoPopupComponentType.rating"
      [currentRate]="data?.rate"
      [maxStar]="5"
      [fontSize]="'2rem'"
      [readonly]="false"
      (rating)="message($event)"
    ></app-rating>
    <share-buttons
      *ngSwitchCase="InfoPopupComponentType.socialSharing"
      [theme]="'material-dark'"
      [exclude]="[
        'print',
        'messenger',
        'sms',
        'tumblr',
        'xing',
        'pinterest',
        'linkedin',
        'mix',
        'vk',
        'line',
        'viber'
      ]"
      image="https://loremflickr.com/320/240"
    >
    </share-buttons>
  </ng-container>
  <div
    *ngIf="data.type !== InfoPopupComponentType.info"
    class="InfoPopup-footer"
  >
    <button
      (click)="onConfirm()"
      class="global-EditBtn is-small"
      [hidden]="!data?.btnText"
    >
      {{ data.btnText }}
    </button>
  </div>
</div>
