<div class="View-Team">
  <div class="View-Team-Title">
    {{ "ELIMINATION.REPORT_SCORE" | translate }}
  </div>
  <div class="base View-Team-A">
    <img [src]="teamA?.logo || guestImgUrl" class="View-Team-A-Img" />
    <div class="View-Team-Details">
      <span class="View-Team-A-Name">
        {{ teamA?.name | limitString: 12:"..." }}
      </span>
      <span class="View-Team-A-GamerId">
        Gamer ID:{{ teamA?.inGamerUserId | limitString: 29:"..." }}
      </span>
    </div>
  </div>
  <div class="base View-Team-B">
    <img [src]="teamB?.logo || guestImgUrl" class="View-Team-B-Img" />
    <div class="View-Team-Details">
      <span class="View-Team-B-Name">
        {{ teamB?.name | limitString: 12:"..." }}
      </span>
      <span class="View-Team-B-GamerId">
        Gamer ID:{{ teamB?.inGamerUserId | limitString: 29:"..." }}
      </span>
    </div>
  </div>
  <div class="View-Team-Result" *ngIf="!hasDisqualified">
    <fa-icon class="View-Team-Result-Icon" [icon]="['fas', 'trophy']"></fa-icon>
    <span class="View-Team-Result-Text">{{
      "ELIMINATION.WINNERS" | translate
      }}</span>
  </div>
</div>
