<section class="Profile u-wp">
  <nav class="Profile-nav">
    <div class="border">
      <h2 class="Profile-nav-title" style=" padding-bottom: 10px;">
        RESULT OVERVIEW
      </h2>
      <div class="row" style="margin-bottom: 10px;">
        <img [src]="data?.winnerTeam?.logo" width="75px">
        <span *ngIf="data?.winnerTeam" class="description" style="padding-left: 10px; padding-top: 10px;">
          Overall Winner
          <h5 style=" padding-top: 10px;">{{data?.winnerTeam?.teamName}}</h5>
        </span>
        <mat-icon></mat-icon>
      </div>
      <!-- <div class="row">
        <h5 style=" padding-top: 10px;">Set</h5>
        <h5 style="padding-left: 55px; padding-top: 10px;">Winner</h5>
      </div> -->
      <!-- <div class="Profile-nav-bottom">
        <div class="row">
          <h5 style=" padding-top: 10px;">set 1</h5>
          <span class="global-Elipses" style=" padding-top: 5px;padding-left: 50px;">
            <img src="https://i115.fastpic.ru/big/2021/0711/d5/e284e76b3d0de8760861e2d97642e5d5.png" width="32px">
          </span>
          <h5 style="padding-left: 10px; padding-top: 10px;">Not declared</h5>
        </div>
      </div> -->
      <!-- <div class="Profile-nav-bottom">
        <div class="row">
          <h5 style=" padding-top: 10px;">set 2</h5>
          <span class="global-Elipses" style=" padding-top: 5px;padding-left: 50px;">
            <img src="https://i115.fastpic.ru/big/2021/0711/bc/3c1e95f844d101e292be66deca3b09bc.png" width="32px">
          </span>
          <h5 style="padding-left: 10px; padding-top: 10px;">Lapeanmz_01</h5>
        </div>
      </div> -->

      <!-- <div class="Profile-nav-bottom">
        <div class="row">
          <h5 style=" padding-top: 10px;">set 3</h5>
          <span class="global-Elipses" style=" padding-top: 5px;padding-left: 50px;">
            <img src="https://i115.fastpic.ru/big/2021/0711/d5/e284e76b3d0de8760861e2d97642e5d5.png" width="32px">
          </span>
          <h5 style="padding-left: 10px; padding-top: 10px;">Ketchup_02</h5>
        </div>
      </div> -->
    </div>

    <div class="Dashboard-cards-item">
      <div class="Dashboard-cards-item-info">
        <img style="width: 120px;" [src]="tReport?.image">
        <p class="Dashboard-cards-item-value global-Elipses">{{tReport?.tournamentName}}</p>
        <p class="Dashboard-cards-item-value global-Elipses"> OpponentName - {{tReport?.opponentName}}</p><br />
        <p class="description">{{tReport?.game?.name}} </p>
      </div>
    </div>
  </nav>
</section>
