<section class="TI-sectionA">
  <h1 class="TI-sectionA-title global-Title2">
    {{ "ESPORTS.INFO.SECTIONA.TITLE" | translate }}
  </h1>
  <p class="TI-sectionA-subtitle global-Text">
    {{ "ESPORTS.INFO.SECTIONA.SUBTITLE" | translate }}
  </p>
</section>

<section class="TI-sectionB">
  <div class="TI-sectionB-step-block">
    <div class="TI-sectionB-step-number">
      1
    </div>
    <p class="TI-sectionB-step-description">
      {{ "ESPORTS.INFO.SECTIONB.STEP_1" | translate }}
    </p>
  </div>
  <div class="TI-sectionB-step-block center">
    <div class="TI-sectionB-step-number">
      2
    </div>
    <p class="TI-sectionB-step-description">
      {{ "ESPORTS.INFO.SECTIONB.STEP_2" | translate }}
    </p>
  </div>
  <div class="TI-sectionB-step-block">
    <div class="TI-sectionB-step-number">
      3
    </div>
    <p class="TI-sectionB-step-description">
      {{ "ESPORTS.INFO.SECTIONB.STEP_3" | translate }}
    </p>
  </div>
</section>

<section class="TI-sectionC">
  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        src="assets/images/Tournament/create/slide-1.png"
        alt="step image"
      />
    </div>
    <p class="TI-sectionC-card-text">
      {{ "ESPORTS.INFO.SECTIONB.DESC_1" | translate }}
    </p>
  </div>

  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        src="assets/images/Tournament/create/slide-2.png"
        alt="step image"
      />
    </div>
    <p class="TI-sectionC-card-text">
      {{ "ESPORTS.INFO.SECTIONB.DESC_2" | translate }}
    </p>
  </div>

  <div class="TI-sectionC-card">
    <div class="TI-sectionC-card-image-block">
      <img
        class="TI-sectionC-card-image"
        src="assets/images/Tournament/create/slide-3.png"
        alt="step image"
      />
    </div>
    <p class="TI-sectionC-card-text">
      {{ "ESPORTS.INFO.SECTIONB.DESC_3" | translate }}
    </p>
  </div>
</section>

<section class="TI-sectionD">
  <button
    class="TI-sectionC-button global-EditBtn"
    data-test-id="tournament-button-createTournament-step2"
    [routerLink]="[AppHtmlRoutes.tournamentCreate]"
  >
    {{ "ESPORTS.INFO.SECTIOND.BTN" | translate }}
  </button>
</section>
