<!-- <div class="InputSearch">
  <mat-icon class="InputSearch-icon"> search </mat-icon>

  <input
    class="InputSearch-field"
    type="text"
    [(ngModel)]="text"
    (change)="onTextChang()"
    [placeholder]="placeholder"
  />
</div> -->

<div class="SearchPlayers">
  <p class="SearchPlayers-heading" *ngIf="heading">
    {{ heading | translate }}
  </p>

  <header class="SearchPlayers-header">
    <img
      class="SearchPlayers-header-icon"
      lazyLoad="assets/icons/search.svg"
      alt="icon"
    />

    <input
      class="SearchPlayers-header-field"
      type="text"
      (change)="onTextChang()"
      [placeholder]="
        'CreateTeam.SELECT_MEMBERS.SEARCH_PLACEHOLDER' | translate
      "
      [(ngModel)]="text"
    />
  </header>

  <div class="SearchPlayers-list">
    <h3 class="SearchPlayers-list-title" *ngIf="listTitle">
      {{ listTitle | translate }}
    </h3>

    <ul class="SearchPlayers-items" *ngIf="players.length">
      <li
        class="SearchPlayers-item"
        *ngFor="let player of filteredPlayer(); let idx = index"
      >
        <div class="SearchPlayers-item-info">
          <div class="SearchPlayers-item-image" [lazyLoad]="player.image"></div>
          <p class="SearchPlayers-item-name">
            {{ player.nickname }}
          </p>
        </div>
        <div
          class="SearchPlayers-item-toggle"
          [class.active]="player.isSelected"
          (click)="addPlayer(idx)"
        >
          <img
            *ngIf="!player.isSelected"
            class="SearchPlayers-item-toggle-icon icon plus"
            src="assets/icons/plus.svg"
            alt="icon"
          />
          <img
            *ngIf="player.isSelected"
            class="SearchPlayers-item-toggle-icon icon check"
            src="assets/icons/check.svg"
            alt="icon"
          />
        </div>
      </li>
    </ul>
  </div>
</div>

