<section class="Overview-sectionA">
  <div class="Overview-sectionA-text-block global-Text">
    <p class="Overview-sectionA-text">
      {{ "VIEW_TOURNAMENT.OVERVIEW.REGION" | translate }}
      <span class="Overview-sectionA-text-separator">:</span>
      {{
        tournamentDetails?.regionsAllowed | merge: "arrayOfString" | translate
      }}
    </p>
    <p class="Overview-sectionA-text">
      {{ "VIEW_TOURNAMENT.OVERVIEW.VENUE" | translate }}
      <span class="Overview-sectionA-text-separator">: </span>
      <span
      *ngIf="tournamentDetails?.tournamentType != 'online'"
        [innerHtml]="
          tournamentDetails?.venueAddress
            | merge: 'arrayOfObject'
            | translate
            | titlecase
        "
      ></span>
      <span *ngIf="tournamentDetails?.tournamentType == 'online'">
        {{ tournamentDetails?.tournamentType | tournamentType | translate }}
      </span>
    </p>
  </div>
  <div class="Overview-sectionA-text-block global-Text">
    <p class="Overview-sectionA-text">
      {{ "VIEW_TOURNAMENT.OVERVIEW.BRACKET_FORMAT" | translate }}
      <span class="Overview-sectionA-text-separator">:</span>
      <span>{{ tournamentDetails?.bracketType | bracket | translate }}</span>
    </p>
    <p class="Overview-sectionA-text">
      {{ "VIEW_TOURNAMENT.OVERVIEW.TOURNAMENT_TYPE" | translate }}
      <span class="Overview-sectionA-text-separator">:</span>
      {{ tournamentDetails?.tournamentType | tournamentType | translate }}
    </p>
  </div>
</section>

<section class="Overview-sectionB" *ngIf="tournamentDetails?.isIncludeSponsor">
  <h2 class="Overview-sectionB-title global-Title3">
    {{ "VIEW_TOURNAMENT.OVERVIEW.SPONSORS" | translate }}
  </h2>
  <div
    class="Overview-sectionB-banner"
    *ngFor="let s of tournamentDetails.sponsors"
  >
    <div
      class="Overview-sectionB-image-block"
      [style.background-image]="'url(' + s?.sponsorBanner + ')'"
    >
      <img class="Overview-sectionB-sponsor-logo" [src]="s?.sponsorLogo" />
      <h3 class="Overview-sectionB-sponsor-name">
        {{ s.sponsorName }}
      </h3>
      <p class="Overview-sectionB-sponsor-url">
        {{
          "CREATE_TOURNAMENT.CREATE_TOURNAMENT_VISIT_US"
            | translate
            | capitalizeFirst
        }}
        :
        {{ s.website }}
      </p>
    </div>
    <div class="Overview-sectionB-sponsors">
      <a
        class="Overview-sectionB-sponsor-link"
        [hidden]="!s?.playStoreUrl"
        [href]="s?.playStoreUrl"
        target="_blank"
      >
        <img
          class="Overview-sectionB-sponsor-image"
          src="assets/images/Tournament/google-play.png"
          alt="google play"
        />
      </a>
      <a
        class="Overview-sectionB-sponsor-link"
        [hidden]="!s?.appStoreUrl"
        [href]="s?.appStoreUrl"
        target="_blank"
      >
        <img
          class="Overview-sectionB-sponsor-image"
          src="assets/images/Tournament/app-store.png"
          alt="app store"
        />
      </a>
    </div>
  </div>
</section>

<section class="Overview-sectionC" *ngIf="tournamentDetails?.isPrize">
  <h2 class="Overview-sectionC-title global-Title3">
    {{ "VIEW_TOURNAMENT.OVERVIEW.PRIZE_POOL" | translate }}
  </h2>
  <div class="Overview-sectionC-prizes">
    <div
      class="Overview-sectionC-prize"
      *ngFor="let prize of tournamentDetails.prizeList; let idx = index"
    >
      <div class="Overview-sectionC-prize-image-block">
        <img
          *ngIf="idx < 3"
          [src]="'assets/images/Tournament/' + (idx + 1) + '-prize.png'"
          class="Overview-sectionC-prize-image"
          alt="prize place"
        />
      </div>
      <p class="Overview-sectionC-prize-reward">
        {{ tournamentDetails?.prizeCurrency }} {{ prize.value }}
      </p>
      <span class="Overview-sectionC-prize-place">
        {{ idx | prizePool | translate }}
      </span>
    </div>
  </div>
</section>
<app-stream [tournament]="tournamentDetails" [isAdmin]="false"></app-stream>
