<form
  [formGroup]="tournamentForm"
  class="row no-gutters edit-manage-tournament"
>
  <div class="col-lg-5 col-sm-12">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="name"
        (keyup)="createTournamentUrl()"
      />
      <label
        for=""
        class="labeltext"
        [class.active]="tournamentForm?.controls?.name?.value"
        >{{ "MANAGE_TOURNAMENT.EDIT.FORM.TOURNAMENT_NAME" | translate }}</label
      >
    </div>
    <div
      class="error"
      *ngIf="
        tournamentForm?.controls?.name?.touched &&
        tournamentForm?.controls?.name?.errors?.required
      "
    >
      <strong>{{
        "MANAGE_TOURNAMENT.EDIT.REQUIRED.TOURNAMENT_NAME" | translate
      }}</strong>
    </div>
    <div class="form-group row no-gutters">
      <div class="col-6">
        <input
          type="date"
          class="form-control"
          [min]="minStartDateValue"
          formControlName="startDate"
        />
        <label
          for=""
          class="labeltext"
          [class.active]="tournamentForm?.controls?.startDate?.value"
          >{{ "MANAGE_TOURNAMENT.EDIT.FORM.PICK_A_DATE" | translate }}</label
        >
      </div>
      <div class="col-6">
        <ngb-timepicker
          [meridian]="true"
          formControlName="startTime"
          class="changeSize"
        >
        </ngb-timepicker>
      </div>
    </div>
    <div class="error" *ngIf="tournamentForm?.errors?.invalidTime">
      <strong>{{
        "MANAGE_TOURNAMENT.EDIT.REQUIRED.PICK_A_DATE" | translate
      }}</strong>
    </div>
    <div class="form-group teamsSize">
      <input
        type="number"
        class="form-control"
        formControlName="maxParticipants"
      />
      <label
        for=""
        class="labeltext"
        [class.active]="tournamentForm?.controls?.maxParticipants?.value"
        >{{
          "MANAGE_TOURNAMENT.EDIT.FORM.PARTICIPANT_LIMIT" | translate
        }}</label
      >
    </div>
    <div
      class="error"
      *ngIf="
        tournamentForm?.controls?.maxParticipants?.touched &&
        tournamentForm?.controls?.maxParticipants?.errors?.required
      "
    >
      <strong>{{
        "MANAGE_TOURNAMENT.EDIT.REQUIRED.PARTICIPANT_LIMIT" | translate
      }}</strong>
    </div>
    <div
      class="error"
      *ngIf="
        tournamentForm?.controls?.maxParticipants?.touched &&
        tournamentForm?.controls?.maxParticipants?.errors?.min
      "
    >
      <strong
        >{{ "MANAGE_TOURNAMENT.EDIT.REQUIRED.PARTICIPANT_MIN.P0" | translate }}
        {{ minParticipant >= 2 ? minParticipant : 2 }}
        {{
          "MANAGE_TOURNAMENT.EDIT.REQUIRED.PARTICIPANT_MIN.P1" | translate
        }}</strong
      >
    </div>
    <div
      class="error"
      *ngIf="
        tournamentForm?.controls?.maxParticipants?.touched &&
        tournamentForm?.controls?.maxParticipants?.errors?.max
      "
    >
      <strong
        >{{ "BRACKET.REQUIRED.MAX_PARTICIPANT_LIMIT_1" | translate }}
        {{ maximumParticipants }}</strong
      >
    </div>
  </div>
  <div class="col-lg-5 col-sm-12 offset-lg-2">
    <div class="form-group">
      <label for="tournamentUrl"
        >{{ "MANAGE_TOURNAMENT.EDIT.FORM.TOURNAMENT_URL" | translate }} -</label
      >
      <label> {{ tournamentForm?.controls?.url?.value || origin }}</label>
    </div>
    <div class="form-group">
      <label for="organisedBy"
        >{{ "MANAGE_TOURNAMENT.EDIT.FORM.ORGANISED_BY" | translate }}:
      </label>
      <label>
        {{ tournamentForm?.controls?.organiserName?.value || "N/A" }}
      </label>
    </div>
    <div class="form-group">
      <label for="tournamentType"
        >{{ "MANAGE_TOURNAMENT.EDIT.FORM.TOURNAMENT_TYPE" | translate }}:
      </label>
      <label>
        {{
          !tournamentForm?.controls?.participantType?.value
            ? "N/A"
            : tournamentForm?.controls?.participantType?.value == "individual"
            ? "1 VS 1"
            : "TEAM VS TEAM"
        }}</label
      >
    </div>
  </div>
  <div class="btn-save-manage">
    <button type="cancel" class="cancel" (click)="cancel()">
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button type="submit" class="save" (click)="submit()">
      {{ "BUTTON.SAVE" | translate }}
    </button>
  </div>
</form>
