<nav class="Sidebar">
  <div class="Sidebar-mob">
    <button
      *ngIf="currentUser"
      class="Sidebar-user"
      [matMenuTriggerFor]="menu"
      mat-button
    >
      <img [lazyLoad]="currentUser.profilePicture" alt="profile avatar" />
      <span>
        {{ currentUser.fullName }}
      </span>
    </button>
    <mat-menu #menu="matMenu" class="global-MatMenu">
      <button (click)="onLogOut()" mat-menu-item>
        <span>{{ "BUTTON.LOGOUT" | translate }}</span>
      </button>
    </mat-menu>
  </div>
  <a
    *ngIf="isAllowed('em')"
    [routerLink]="AppHtmlAdminRoutes.esportsManagement"
    routerLinkActive="active"
    class="Sidebar-item esports"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/esportsmangement.svg'"
    ></div>
    <span class="Sidebar-item-name">
      {{ "SIDEBAR.ESPORTS_MANAGEMENT" | translate }}
    </span>
  </a>
  <a
    *ngIf="isAllowed('cm')"
    [routerLink]="AppHtmlAdminRoutes.contentManagement"
    [queryParams]="{ activeTab: 0 }"
    routerLinkActive="active"
    class="Sidebar-item content"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/contentmangement.svg'"
    ></div>
    <span class="Sidebar-item-name">
      {{ "SIDEBAR.CONTENT_MANAGEMENT" | translate }}
    </span>
  </a>
  <a
    *ngIf="isAllowed('um')"
    [routerLink]="AppHtmlAdminRoutes.userManagement"
    routerLinkActive="active"
    class="Sidebar-item user"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/usermanagement.svg'"
    ></div>
    <span class="Sidebar-item-name">
      {{ "SIDEBAR.USER_MANAGEMENT" | translate }}
    </span>
  </a>
  <a
    *ngIf="isAllowed('acm')"
    [routerLink]="AppHtmlAdminRoutes.accessManagement"
    routerLinkActive="active"
    class="Sidebar-item access"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/accessmanagement.svg'"
    ></div>
    <span class="Sidebar-item-name">
      {{ "SIDEBAR.ACCESS_MANAGEMENT" | translate }}
    </span>
  </a>

  <a
    *ngIf="isAllowed('un')"
    [routerLink]="AppHtmlAdminRoutes.userNotifications"
    routerLinkActive="active"
    class="Sidebar-item user-notification"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/usermanagement.svg'"
    ></div>
    <span class="Sidebar-item-name">
      {{ "SIDEBAR.USER_NOTIFICATION" | translate }}
    </span>
  </a>
  <a
    *ngIf="isAllowed('sc')"
    [routerLink]="AppHtmlAdminRoutes.siteConfiguration"
    routerLinkActive="active"
    class="Sidebar-item user-notification"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/site-confirmation.svg'"
    ></div>
    <span class="Sidebar-item-name">
      {{ "SIDEBAR.SITE_CONFIGURATION" | translate }}
    </span>
  </a>

  <a
    *ngIf="isAllowed('tm')"
    [routerLink]="AppHtmlAdminRoutes.teamManagement"
    routerLinkActive="active"
    class="Sidebar-item team-management"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/team-management.svg'"
    ></div>
    <span class="Sidebar-item-name">
      {{ "SIDEBAR.TEAM_MANAGEMENT" | translate }}
    </span>
  </a>
  <a
    [routerLink]="AppHtmlAdminRoutes.seasonManagement"
    routerLinkActive="active"
    class="Sidebar-item spam"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/esportsmangement.svg'"
    ></div>
    <span class="Sidebar-item-name">{{
      "SIDEBAR.SEASON_MANAGEMENT" | translate
    }}</span>
  </a>
</nav>
