@import "shared";

:host {
  display: block;
  overflow: hidden;
}
.ProfileBanner {
  position: relative;
  width: 100%;
  padding-top: px2vw-xl(18px);
  margin-bottom: px2vw-xl(42px);
  @include lg {
    padding-top: px2vw-lg(18px);
    margin-bottom: px2vw-lg(42px);
  }
  @include md {
    padding-top: px2vw-xl(18px);
    margin-bottom: px2vw-xl(42px);
  }
  @include sm {
    padding-top: px2vw-xl(14px);
    margin-bottom: px2vw-xl(30px);
  }
  &-image {
    position: absolute;
    width: 100%;
    min-height: px2vw-xl(250px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    // background: linear-gradient(110.44deg, #6013b4 16.09%, #27054b 90.11%);
    @include lg {
      min-height: px2vw-lg(250px);
    }

    @include md {
      min-height: px2vw-md(250px);
    }

    @include sm {
      min-height: px2vw-sm(511.488px);
    }
  }
  &-container {
    width: 100%;
    position: relative;
    z-index: 2;
    max-width: px2vw-xl(1308px);
    margin: 0 auto;
    padding: 0 px2vw-xl(24px);
    min-height: px2vw-xl(250px);
    @include lg {
      max-width: px2vw-lg(1308px);
      padding: 0 px2vw-lg(24px);
      min-height: px2vw-lg(250px);
      max-width: px2vw-lg(1308px);
      padding: 0 px2vw-lg(24px);
    }

    @include md {
      min-height: px2vw-md(250px);
      max-width: px2vw-md(1308px);
      padding: 0 px2vw-md(14px);
    }

    @include sm {
      min-height: px2vw-sm(511px);
      
    }
  }
  &-content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: px2vw-xl(250px);
    @include lg {
      min-height: px2vw-lg(250px);
    }

    @include md {
      min-height: px2vw-md(250px);
    }

    @include sm {
      min-height: px2vw-sm(511px);
      -webkit-justify-content: center;
      justify-content: center;
      flex-direction: column;
    }
    &-info {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @include sm {
        -webkit-justify-content: center;
        justify-content: center;
      }
      &--avata {
        position: relative;
        border-radius: 50%;
        border: px2vw-xl(2px) solid var(--white);
        overflow: hidden;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        padding: px2vw-xl(3px);
        margin-right: px2vw-xl(40px);
        width: px2vw-xl(108px);
        height: px2vw-xl(108px);
        @include lg {
          padding: px2vw-lg(3px);
          margin-right: px2vw-lg(40px);
          width: px2vw-lg(108px);
          height: px2vw-lg(108px);
          border: px2vw-lg(2px) solid var(--white);
        }

        @include md {
          width: px2vw-md(108px);
          height: px2vw-md(108px);
          padding: px2vw-md(3px);
          margin-right: px2vw-md(40px);
          border: px2vw-md(2px) solid var(--white);
        }

        @include sm {
          width: px2vw-sm(153px);
          height: px2vw-sm(153px);
          padding: px2vw-sm(4px);
          margin-right: 0;
          border: px2vw-sm(1px) solid var(--colo-success);
          margin-bottom: px2vw-sm(5px);
          border: px2vw-sm(2px) solid var(--white);
        }
        &-action {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.38);
          width: 100%;
          text-align: center;
          height: px2vw-xl(25px);
          @include lg {
            height: px2vw-lg(25px);
          }

          @include md {
            height: px2vw-md(25px);
          }

          @include sm {
            height: px2vw-sm(40px);
          }
          .mat-icon {
            width: auto;
            height: auto;
            color: var(--white);
            font-size: px2vw-xl(16px);
            margin-right: px2vw-xl(4px);
            @include lg {
              font-size: px2vw-lg(16px);
              margin-right: px2vw-lg(4px);
            }
            @include md {
              font-size: px2vw-md(16px);
              margin-right: px2vw-md(4px);
            }
            @include sm {
              font-size: px2vw-sm(16px);
              margin-right: px2vw-sm(4px);
            }
          }
          .text {
            font-family: "Paralucent-Medium";
            font-style: normal;
            font-weight: 600;
            font-size: px2vw-xl(14px);
            line-height: px2vw-xl(20px);
            color: var(--white);
            text-transform: none;
            @include lg {
              font-size: px2vw-lg(14px);
              line-height: px2vw-lg(20px);
            }
            @include md {
              font-size: px2vw-md(14px);
              line-height: px2vw-md(20px);
            }
            @include sm {
              font-size: px2vw-sm(14px);
              line-height: px2vw-sm(20px);
            }
          }
        }
      }
      &-image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
      }
      &-content__title {
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: px2vw-xl(7px);
        @include lg {
          margin-bottom: px2vw-lg(7px);
        }
        @include md {
          margin-bottom: px2vw-md(7px);
        }
        @include sm {
          -webkit-justify-content: center;
          justify-content: center;
          margin-bottom: px2vw-sm(3px);
        }
        .profile-name {
          font-family: "Paralucent-Medium";
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(32px);
          line-height: px2vw-xl(38px);
          align-items: center;
          text-align: center;
          letter-spacing: px2vw-xl(1px);
          color: var(--white);
          display: flex;
          margin-right: px2vw-xl(24px);

          @include lg {
            font-size: px2vw-lg(50px);
            line-height: px2vw-lg(58px);
            letter-spacing: px2vw-lg(1px);
            margin-right: px2vw-lg(24px);
          }
          @include md {
            font-size: px2vw-md(50px);
            line-height: px2vw-md(58px);
            letter-spacing: px2vw-md(0.5px);
            margin-right: px2vw-md(24px);
          }
          @include sm {
            margin-right: 0;
            width: 100%;
            font-size: px2vw-sm(32px);
            line-height: px2vw-sm(40px);
            -webkit-justify-content: center;
            justify-content: center;
          }
        }
        .profile-logo {
          @include sm {
            display: none;
          }
        }
      }
      &-content__status {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: baseline;
        align-items: baseline;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 44%;
        margin: 0 auto;
        @include sm {
          -webkit-justify-content: center;
          justify-content: center;
          margin-bottom: px2vw-sm(16px);
        }
        &--icon {
          position: relative;
          width: px2vw-xl(16px);
          height: px2vw-xl(16px);
          background: var(--colo-success);
          border: px2vw-xl(2px) solid var(--white);
          border-radius: 50%;
          margin-right: px2vw-xl(16px);
          @include lg {
            width: px2vw-lg(16px);
            height: px2vw-lg(16px);
            border: px2vw-lg(2px) solid var(--white);
            margin-right: px2vw-lg(16px);
          }
          @include md {
            width: px2vw-md(16px);
            height: px2vw-md(16px);
            border: px2vw-md(2px) solid var(--white);
            margin-right: px2vw-md(16px);
          }
          @include sm {
            width: px2vw-sm(16px);
            height: px2vw-sm(16px);
            border: px2vw-sm(2px) solid var(--white);
            margin-right: px2vw-sm(16px);
          }
        }
        &--text {
          font-family: "Paralucent-Medium";
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          display: flex;
          align-items: center;
          color: var(--color-white-medium);
          margin-bottom: 0;
          margin-right: px2vw-xl(12px);
          @include lg {
            font-size: px2vw-lg(20px);
            line-height: px2vw-lg(28px);
            margin-right: px2vw-lg(12px);
          }
          @include md {
            font-size: px2vw-md(20px);
            line-height: px2vw-md(28px);
            margin-right: px2vw-md(2px);
          }
          @include sm {
            margin-right: 0;
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
        &--active-date {
          font-family: "Paralucent-Medium";
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          display: flex;
          align-items: center;
          color: var(--tolopea-medium-color);
          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }
    }
    &-action {
      .Dashboard-header-button {
        font-family: "Paralucent-Medium";
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        text-transform: none;
        background-color: var(--color-secondary);
        color: var(--white);
        @include lg {
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
          padding: px2vw-sm(12px) px2vw-sm(24px);
        }
      }
    }
  }
  &-vertical {
    position: absolute;
    right: 0;
    z-index: 2;
    background: var(--color-background);
    width: px2vw-xl(394px);
    height: px2vw-xl(26px);
    -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0% 100%);
    padding: 0 px2vw-xl(40px);
    @include lg {
      width: px2vw-lg(394px);
      height: px2vw-lg(26px);
      padding: 0 px2vw-lg(40px);
    }

    @include md {
      width: px2vw-md(394px);
      height: px2vw-md(26px);
      padding: 0 px2vw-md(40px);
    }

    @include sm {
      width: px2vw-sm(457px);
      height: px2vw-sm(38px);
      padding: 0 px2vw-sm(40px);
      right: auto;
      bottom: px2vw-sm(-7px);
      left: 50%;
      transform: translateX(-50%);
    }
    &-wap {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      height: 100%;
      @include sm {
        padding-top: px2vw-sm(15px);
      }
      .text {
        font-family: "Paralucent-Medium";
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        display: flex;
        align-items: center;
        color: var(--color-white-medium);
        @include lg {
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
          padding: px2vw-sm(12px) px2vw-sm(24px);
        }
        &:first-child {
          @include sm {
            margin-right: px2vw-sm(25px);
          }
        }
      }
      .lists {
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 60%;
        @include sm {
          margin-right: px2vw-sm(12px);
        }
        .item {
          width: 100%;
          max-width: calc(100% / 6);
          height: px2vw-xl(8px);
          background-color: var(--color-background);
          border-right: px2vw-xl(2px) solid var(--color-background);
          position: relative;
          @include lg {
            height: px2vw-lg(8px);
            border-right: px2vw-lg(2px) solid var(--color-background);
          }
          @include md {
            height: px2vw-md(8px);
            border-right: px2vw-md(2px) solid var(--color-background);
          }
          @include sm {
            height: px2vw-sm(8px);
            border-right: px2vw-s(2px) solid var(--color-background);
          }
          &:first-child {
            border-radius: px2vw-xl(2px) 0px 0 px2vw-xl(2px);
            @include lg {
              border-radius: px2vw-lg(2px) 0px 0 px2vw-lg(2px);
            }
            @include md {
              border-radius: px2vw-md(2px) 0px 0 px2vw-md(2px);
            }
            @include sm {
              border-radius: px2vw-sm(2px) 0px 0 px2vw-sm(2px);
            }
          }
          &.active {
            background-color: var(--tolopea-medium-color);
          }
          &.last {
            &:after {
              content: "";
              position: absolute;
              width: px2vw-xl(3px);
              height: 200%;
              top: -50%;
              right: 0;
              border-radius: px2vw-xl(2px);
              background-color: var(--tolopea-medium-color);
              @include lg {
                width: px2vw-lg(3px);
                border-radius: px2vw-lg(2px);
              }
              @include md {
                width: px2vw-md(3px);
                border-radius: px2vw-md(2px);
              }
              @include sm {
                width: px2vw-sm(3px);
                border-radius: px2vw-sm(2px);
              }
            }
          }
        }
      }
    }
  }
}
.Profile {
  &.haveBg {
    background-image: url(../../../assets/images/create-tournament/bg-121212.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  // &-container {
  //   width: 100%;
  //   max-width: px2vw-xl(1308px);
  //   margin: 0 auto;
  //   padding: 0 px2vw-xl(24px);
  //   @include lg {
  //     max-width: px2vw-lg(1410px);
  //     padding: 0 px2vw-lg(24px);
  //   }
  //   @include md {
  //     // max-width: px2vw-md(1410px);
  //     max-width: 100%;
  //     padding: 0 px2vw-md(24px);
  //   }
  //   @include sm {
  //     // max-width: px2vw-sm(1410px);
  //     max-width: 100%;
  //     padding: 0 px2vw-sm(24px);
  //   }
  // }
  &-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 1.0430247718vw;
  }
  // &-left {
  //   width: 100%;
  //   max-width: px2vw-xl(320px);
  //   padding-right: px2vw-xl(10px);
  //   padding-bottom: px2vw-xl(50px);

  //   @include lg {
  //     max-width: px2vw-lg(320px);
  //     padding-right: px2vw-lg(10px);
  //     padding-bottom: px2vw-lg(50px);
  //   }
  //   @include md {
  //     max-width: 100%;
  //     padding-right: 0;
  //   }
  //   @include sm {
  //     max-width: 100%;
  //     padding-right: 0;
  //   }
  // }
  &-step {
    position: relative;
    background: var(--color-prof_bg);
    backdrop-filter: blur(16px);
    border-radius: px2vw-xl(16px);
    margin: 0 auto;
    text-align: center;
    margin-top: px2vw-xl(-150px);
    z-index: 3;
    padding: px2vw-xl(32px);
    @include lg {
      border-radius: px2vw-lg(16px);
      margin-top: px2vw-lg(-150px);
      padding: px2vw-lg(32px);
    }
    @include md {
      border-radius: px2vw-md(16px);
      margin-top: px2vw-md(-150px);
      padding: px2vw-md(32px);
    }
    @include sm {
      border-radius: px2vw-sm(16px);
      margin-top: 0;
      padding: px2vw-sm(32px);
    }
  }
  // &-right {
  //   max-width: calc(100% - 320px);
  //   width: 100%;
  //   @include lg {
  //     max-width: calc(100% - 320px);
  //   }
  //   @include md {
  //     max-width: px2vw-md(1000px);
  //   }

  //   @include sm {
  //     max-width: 100%;
  //   }
  // }
  &-nav {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 0;
    }
    &-lists {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      position: relative;
      width: 100%;
      white-space: nowrap;
      min-width: px2vw-xl(620px);
      @include lg {
        min-width: px2vw-lg(620px);
      }
      @include md {
        min-width: px2vw-md(620px);
      }
      @include sm {
        min-width: px2vw-sm(620px);
      }
      &::after {
        content: "";
        width: 100%;
        height: px2vw-xl(3px);
        border-radius: px2vw-xl(2px);
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--midnight-express-color);
        @include lg {
          height: px2vw-lg(4px);
          border-radius: px2vw-lg(2px);
        }
        @include md {
          height: px2vw-md(4px);
          border-radius: px2vw-md(2px);
        }
        @include sm {
          height: px2vw-sm(4px);
          border-radius: px2vw-sm(2px);
        }
      }
      @include md{
        height: px2vw-md(3px);
       border-radius: px2vw-md(2px)
      }
      @include sm{
        height: px2vw-sm(4px);
       border-radius: px2vw-sm(2px)
      }
    }
    &-link {
      font-family: "Paralucent-Medium";
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(1px);
      color: var(--white);
      display: inline-block;
      position: relative;
      margin-right: px2vw-xl(44px);
      padding: px2vw-xl(21px) 0;
      position: relative;
      z-index: 2;

      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
        letter-spacing: px2vw-lg(1px);
        margin-right: px2vw-lg(64px);
        padding: px2vw-lg(24px) 0;
        letter-spacing: px2vw-lg(1px);
      }

      @include md {
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
        letter-spacing: px2vw-md(1px);
        margin-right: px2vw-md(64px);
        padding: px2vw-md(24px) 0;
      }

      @include sm {
        margin-right: px2vw-sm(49px);
        padding: px2vw-sm(18px) 0;
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(28px);
      }
      &:hover {
        color: var(--color-primary);
      }
      &.active {
        color: var(--color-primary);
        &::after {
          content: "";
          width: 100%;
          height: px2vw-xl(3px);
          border-radius: px2vw-xl(2px);
          position: absolute;
          bottom: 0;
          left: 0;
          background: var(--color-primary);
          @include lg {
            height: px2vw-lg(4px);
            border-radius: px2vw-lg(2px);
          }
          @include md {
            height: px2vw-md(4px);
            border-radius: px2vw-md(2px);
          }
          @include sm {
            height: px2vw-sm(4px);
            border-radius: px2vw-sm(2px);
          }
        }
      }
    }
  }
}

.cursor {
  cursor: pointer;
}

.Dashboard {
  width: 100%;
  padding: px2vw-xl(42px) 0 0;
  margin: 0;
  position: relative;
  @include lg {
    padding: px2vw-lg(42px) 0 0;
  }
  @include md {
    padding: px2vw-md(42px) 0 0;
  }
  @include sm {
    padding: 0;
  }
  &-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .title {
    font-family: "Paralucent-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(32px);
    letter-spacing: px2vw-xl(0.5px);
    color: var(--color-white-medium);
    margin-bottom: 0;
    @include lg {
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(32px);
      letter-spacing: px2vw-lg(0.5px);
    }
    @include md {
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
      letter-spacing: px2vw-md(0.5px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(28px);
      padding: px2vw-sm(16px) 0;
    }
  }
  .text {
    font-family: "Paralucent-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    display: flex;
    align-items: center;
    color: var(--white-high);
    margin-bottom: 0;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
    &.show-text {
      display: block;
    }
  }
  .link-to {
    color: var(--main-color);
    font-family: "Paralucent-Medium";
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }
  &-left {
    width: 100%;
    max-width: px2vw-xl(325px);
    @include lg {
      max-width: px2vw-lg(325px);
    }
    @include md {
      max-width: px2vw-md(325px);
    }
    @include sm {
      max-width: 100%;
    }
    &-about {
      margin-bottom: px2vw-xl(28px);
      @include lg {
        margin-bottom: px2vw-lg(28px);
      }
      @include md {
        margin-bottom: px2vw-md(28px);
      }
      @include sm {
        margin-bottom: px2vw-sm(28px);
      }
      .Dashboard-left-heading {
        margin-bottom: px2vw-xl(34px);
        @include lg {
          margin-bottom: px2vw-lg(34px);
        }
        @include md {
          margin-bottom: px2vw-md(34px);
        }
        @include sm {
          margin-bottom: px2vw-sm(8px);
          padding: px2vw-sm(16px) 0;
        }
      }
    }
    &-GameAccounts {
      @include sm {
        margin-bottom: px2vw-sm(8px);
      }
      .Dashboard-left-heading {
        margin-bottom: px2vw-xl(16px);
        @include lg {
          margin-bottom: px2vw-lg(16px);
        }
        @include md {
          margin-bottom: px2vw-md(16px);
        }
        @include sm {
          margin-bottom: 0;
        }
      }
      &-content {
        .lists {
          margin: 0;
          padding: 0;
          width: 100%;
          .item {
            padding-right: px2vw-xl(16px);
            padding-left: 0;
            padding-bottom: px2vw-xl(12px);
            margin-bottom: px2vw-xl(12px);
            border-bottom: px2vw-xl(1px) solid var(--midnight-express-color);
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            @include lg {
              padding-right: px2vw-lg(16px);
              padding-bottom: px2vw-lg(12px);
              margin-bottom: px2vw-lg(12px);
              border-bottom: px2vw-lg(1px) solid var(--midnight-express-color);
            }
            @include md {
              padding-right: px2vw-md(16px);
              padding-bottom: px2vw-md(12px);
              margin-bottom: px2vw-md(12px);
              border-bottom: px2vw-md(1px) solid var(--midnight-express-color);
            }

            @include sm {
              padding-left: px2vw-sm(12px);
              padding-right: 0;
            }
            .info {
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: space-between;
              justify-content: space-between;
              -webkit-align-items: center;
              align-items: center;
              .logo-game {
                width: px2vw-xl(56px);
                height: px2vw-xl(56px);
                background: var(--midnight-express-color);
                border-radius: px2vw-xl(4px);
                display: -webkit-inline-flex;
                display: inline-flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;
                margin-right: px2vw-xl(16px);
                @include lg {
                  width: px2vw-lg(56px);
                  height: px2vw-lg(56px);
                  border-radius: px2vw-lg(4px);
                  margin-right: px2vw-lg(16px);
                }
                @include md {
                  width: px2vw-md(56px);
                  height: px2vw-md(56px);
                  border-radius: px2vw-md(4px);
                  margin-right: px2vw-md(16px);
                }
                @include sm {
                  width: px2vw-sm(56px);
                  height: px2vw-sm(56px);
                  border-radius: px2vw-sm(4px);
                  margin-right: px2vw-sm(16px);
                }
                img {
                  width: px2vw-xl(40px);
                  @include lg {
                    width: px2vw-lg(40px);
                  }
                  @include md {
                    width: px2vw-md(40px);
                  }
                  @include sm {
                    width: px2vw-sm(40px);
                  }
                }
                .logo {
                  ::ng-deep svg {
                    width: px2vw-xl(30px);
                    height: px2vw-xl(30px);
                    display: inline-block;
                    @include lg {
                      width: px2vw-lg(30px);
                      height: px2vw-lg(30px);
                    }
                    @include md {
                      width: px2vw-md(30px);
                      height: px2vw-md(30px);
                    }
                    @include sm {
                      width: px2vw-sm(30px);
                      height: px2vw-sm(30px);
                    }
                  }
                }
              }
              .detail-game {
                .user-game {
                  font-family: "Paralucent-Medium";
                  font-style: normal;
                  font-weight: 600;
                  font-size: px2vw-xl(16px);
                  line-height: px2vw-xl(24px);
                  color: var(--wwhite);
                  margin-bottom: 0;
                  @include lg {
                    font-size: px2vw-lg(16px);
                    line-height: px2vw-lg(24px);
                  }
                  @include md {
                    font-size: px2vw-md(16px);
                    line-height: px2vw-md(24px);
                  }
                  @include sm {
                    font-size: px2vw-sm(16px);
                    line-height: px2vw-sm(24px);
                  }
                }
                .name-game {
                  font-family: "Paralucent-Medium";
                  font-style: normal;
                  font-weight: 600;
                  font-size: px2vw-xl(14px);
                  line-height: px2vw-xl(20px);
                  color: var(--tolopea-color);
                  margin-bottom: 0;
                  @include lg {
                    font-size: px2vw-lg(14px);
                    line-height: px2vw-lg(20px);
                  }
                  @include md {
                    font-size: px2vw-md(14px);
                    line-height: px2vw-md(20px);
                  }
                  @include sm {
                    font-size: px2vw-sm(14px);
                    line-height: px2vw-sm(20px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-right {
    width: 100%;
    max-width: calc(100% - 282px);
    padding-left: px2vw-xl(46.67px);
    @include lg {
      padding-left: px2vw-lg(40px);
    }

    @include md {
      padding-left: px2vw-md(32px);
    }

    @include sm {
      max-width: 100%;
      padding-left: 0;
    }
  }
  &-matches {
    .title {
      margin-bottom: px2vw-xl(28px);
      @include lg {
        margin-bottom: px2vw-lg(28px);
      }
      @include md {
        margin-bottom: px2vw-md(28px);
      }
      @include sm {
        margin-bottom: px2vw-sm(28px);
      }
    }
    &-cards {
      display: -webkit-flex;
      display: flex;
      // -webkit-justify-content: space-between;
      // justify-content: space-between;
      // -webkit-align-items: flex-start;
      // align-items: flex-start;
      // -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
    }
    .MatchCard {
      width: 100%;
      margin-right: px2vw-xl(29px);
      max-width: calc((100% / 3) - 38px);
      position: relative;
      @include lg {
        margin-right: px2vw-lg(29px);
      }
      @include md {
        max-width: calc((100% / 2) - 8px);
        margin-right: px2vw-md(29px);
      }

      @include sm {
        max-width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
      }
      &-image {
        overflow: hidden;
        width: 100%;
        border-radius: px2vw-xl(20px) px2vw-xl(20px) 0px 0px;
        height: px2vw-xl(145.71px);
        position: relative;
        @include lg {
          border-radius: px2vw-lg(20px) px2vw-lg(20px) 0px 0px;
          height: px2vw-lg(145.71px);
        }
        @include md {
          border-radius: px2vw-md(20px) px2vw-md(20px) 0px 0px;
          height: px2vw-md(145.71px);
        }
        @include sm {
          width: 100%;
          max-width: px2vw-sm(100px);
          height: px2vw-sm(52.55px);
          background: var(--bg-linear-grad);
          border-radius: 0;
          margin: px2vw-sm(16px) 0;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      &-content {
        width: 100%;
        position: relative;
        background-color: var(--white);
        border-radius: 0 0 px2vw-xl(20px) px2vw-xl(20px);
        padding: px2vw-xl(22px) px2vw-xl(16px) px2vw-xl(18px);
        @include lg {
          border-radius: 0 0 px2vw-lg(20px) px2vw-lg(20px);
          padding: px2vw-lg(22px) px2vw-lg(16px) px2vw-lg(18px);
        }
        @include md {
          border-radius: 0 0 px2vw-md(20px) px2vw-md(20px);
          padding: px2vw-md(22px) px2vw-md(16px) px2vw-md(18px);
        }
        @include sm {
          max-width: calc(100% - 121px);
          background-color: transparent;
          padding: px2vw-sm(16px) px2vw-sm(40px) px2vw-sm(16px) 0;
          border-bottom: 1px solid var(--midnight-express-color);
          border-radius: 0;
        }
        .title {
          font-family: "Paralucent-Medium";
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          color: var(--blackcurrant-color-medium);
          margin-bottom: px2vw-xl(8px);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          padding: 0;
          @include lg {
            font-size: px2vw-lg(20px);
            line-height: px2vw-lg(28px);
            margin-bottom: px2vw-lg(8px);
          }
          @include md {
            font-size: px2vw-md(20px);
            line-height: px2vw-md(28px);
            margin-bottom: px2vw-md(8px);
          }
          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
            color: var(--white);
            margin-bottom: 0;
          }
        }
        .detail {
          font-family: "Paralucent-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--color-black-medium);
          margin-bottom: px2vw-xl(12px);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
            margin-bottom: px2vw-lg(12px);
          }
          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
            margin-bottom: px2vw-md(12px);
          }
          @include sm {
            color: var(--tolopea-color);
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
            margin-bottom: 0;
          }
        }
        .status {
          font-family: "Paralucent-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--color-successful);
          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }
      &-icon {
        display: none;
        @include sm {
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
  &-requests {
    & .title {
      padding: px2vw-xl(16px) 0;
      @include lg {
        padding: px2vw-lg(16px) 0;
      }
      @include md {
        padding: px2vw-md(16px) 0;
      }
      @include sm {
        padding: px2vw-sm(16px) 0;
      }
    }
  }
}
.level {
  background: var(--bg-linear-gradbg);
  border-radius: px2vw-xl(16px);
  position: relative;
  margin-top: px2vw-xl(25px);
  margin-bottom: px2vw-xl(25px);
  padding: px2vw-xl(32px);
  @include lg {
    border-radius: px2vw-lg(16px);
    margin-top: px2vw-lg(25px);
    margin-bottom: px2vw-lg(25px);
    padding: px2vw-lg(32px);
  }
  @include md {
    border-radius: px2vw-md(16px);
    margin-top: px2vw-md(25px);
    margin-bottom: px2vw-md(25px);
    padding: px2vw-md(32px);
  }
  @include sm {
    border-radius: px2vw-sm(16px);
    margin-top: px2vw-sm(25px);
    margin-bottom: px2vw-sm(25px);
    padding: px2vw-sm(32px);
  }
}
.Dashboard-user-description .text {
  margin-top: px2vw-xl(16px);
  margin-bottom: px2vw-xl(42px);
  @include lg {
    margin-top: px2vw-lg(16px);
    margin-bottom: px2vw-lg(42px);
  }
  @include md {
    margin-top: px2vw-md(16px);
    margin-bottom: px2vw-md(42px);
  }
  @include sm {
    margin-top: px2vw-sm(16px);
    margin-bottom: px2vw-sm(42px);
  }
}
.social {
  ul {
  }
  li {
    list-style: none;
    float: left;
    margin-bottom: px2vw-xl(42px);
    @include lg {
      margin-bottom: px2vw-lg(42px);
    }
    @include md {
      margin-bottom: px2vw-md(42px);
    }
    @include sm {
      margin-bottom: px2vw-sm(42px);
    }
  }
  a {
    text-decoration: none;
    margin-right: px2vw-xl(29px);
    @include lg {
      margin-right: px2vw-lg(29px);
    }
    @include md {
      margin-right: px2vw-md(29px);
    }
    @include sm {
      margin-right: px2vw-sm(29px);
    }
  }
}
