@import "shared";

:host {
  display: block;
  position: relative;
}

.Loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .spinner-grow {
    background-color: var(--color-primary);
  }
}
