@import "shared";

:host {
  display: block;
}

.carousel-indicators {
  top: 0px;
}

.home-view-more {
  left: 50%;
  bottom: -12px;
  z-index: 3;
  @include sm {
    display: none;
  }
}

.col-lg-6{
  @include sm {
    padding: 0px;
  }
}

.p-lg-5{
  @include sm {
    padding: 0px !important;
  }
}

.banner {
  position: relative;
  /* top: 0; */
  height: 80vh;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;

  @include sm {
    height: 80vh;
    padding: 0px px2vw-sm(24px);
  }

  &-info {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1200px;

    @include sm {
      top: 72px;
    }
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;

    font-size: 60px;
    font-weight: 600;
    line-height: 68px;
    max-width: 506px;
    /* or 113% */

    letter-spacing: -0.5px;
    margin-bottom: 13px;

    @include sm {
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 12px;
      padding-top: px2vw-sm(20.88px);
    }
  }

  &-content {
    font-family: Avenir Next;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    max-width: 387px;

    color: var(--home-whitetext);
    margin-bottom: 40px;

    @include sm {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
      font-weight: 600;
    }
  }

  &-button {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    display: flex;
    max-width: 242px;
    /* Fill accent / Lupin */

    color: var(--home-text-link);
    background: var(--white);
    border-radius: 6px;
    @include md {
        font-size: 16px;
        max-width: 100%;
        line-height: 24px;
        margin: 0px;
        font-weight: 600;
    }

    @include sm {
      font-size: 16px;
      max-width: 100%;
      // margin: 0px px2vw-sm(24px);
      line-height: 24px;
      margin: 0px;
      font-weight: 600;
    }
  }

  &-hint {
    margin-top: 20px;
    font-family: Avenir Next;
    font-style: normal;

    font-size: 14px;
    line-height: 20px;
    color: var(--header-lightwhite);

    @include sm {
      font-size: 16px;

      padding: 0px px2vw-sm(24px);
    }
  }
}

.PreviewSlider {
  &-block {
    .slider-text {
      position: relative;
      padding: 32px 24px;
      max-width: 1260px;
      margin: 0px auto;
      @include sm {
        padding: 0px;
      }
    }

    ::ng-deep .carousel-indicators {
      top: 30px;
      height: 30px;
      justify-content: right;

      @include sm {
        justify-content: left;
        padding: 0 px2vw-sm(24px);
        margin-right: 0;
        margin-left: 0;
      }

      /*@include lg {
        top: 80px;
        margin-right: 10%;
        margin-left: 77%;
      }*/
    }

    ::ng-deep .carousel-indicators li.active {
      background-color: var(--home-text-link);
    }

    ::ng-deep .carousel-indicators li {
      border-radius: 0%;
      background-color: var(--header-lightwhite);
      opacity: 1;
      @include sm {
        width: px2vw-sm(12px);
        height: px2vw-sm(12px);
      }
    }
  }

  &-slide {
    @extend %u-dfEnd;
    height: 621px;
    padding: px2vw-xl(24px);
    background-size: cover;

    @include lg {
      height: px2vw-lg(723px);
      padding: px2vw-lg(24px);
    }

    @include md {
      height: px2vw-md(723px);
      padding: px2vw-md(24px);
    }

    @include sm {
      /*height:100vh;*/
      padding: px2vw-sm(24px);
    }
  }

  &-manage {
    @extend %u-dfCenterBtw;
    margin-top: px2vw-xl(16px);

    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }

  &-manage-arrow {
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);
    font-size: px2vw-xl(30px);
    color: var(--white);
    cursor: pointer;
    transition: $global-transition2;

    @include lg {
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
      font-size: px2vw-lg(30px);
    }

    @include md {
      height: px2vw-md(30px);
      width: px2vw-md(30px);
      font-size: px2vw-md(30px);
    }

    @include sm {
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
      font-size: px2vw-sm(30px);
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  .crop-text-2 {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
