.global-scrollbar {
  width: 100%;
}

input[id="orderInput"] {
  text-align: center;
}

input[id="orderInput"]:disabled {
  border: 0;
}

.admin-bg{
        background-image: url(/../assets/images/admin-menu/banner-bg.png);
}
