@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.Inbox {
  margin-bottom: px2vw-xl(100px);

  &-checkbox {
    margin: 0 px2vw-xl(26px) 1px 0;

    @include lg {
      margin-right: px2vw-lg(26px);
    }

    @include md {
      margin-right: px2vw-md(26px);
    }

    @include sm {
      margin-right: px2vw-sm(26px);
    }
  }

  &-empty {
    text-align: center;
  }

  &-item {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(5px);
    border-bottom: 1px solid var(--base-white-smoke);
    border-left: px2vw-xl(6px) solid transparent;
    padding: px2vw-xl(18px) px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(5px);
      border-left-width: px2vw-lg(6px);
      padding: px2vw-lg(18px) px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
      border-left-width: px2vw-md(6px);
      padding: px2vw-md(18px) px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
      border-left-width: px2vw-sm(6px);
      padding: px2vw-sm(18px) px2vw-sm(30px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-data {
      margin-right: px2vw-xl(24px);
      font-size: px2vw-xl(14px);

      @include lg {
        margin-right: px2vw-lg(24px);
        font-size: px2vw-lg(14px);
      }

      @include md {
        margin-right: px2vw-md(24px);
        font-size: px2vw-md(14px);
      }

      @include sm {
        margin-right: px2vw-sm(24px);
        font-size: px2vw-sm(14px);
      }
    }

    &-coll {
      &.is-first {
        @extend %u-dfCenterStart;
        max-width: px2vw-xl(500px);
        overflow: hidden;

        @include lg {
          max-width: px2vw-lg(500px);
        }

        @include md {
          max-width: px2vw-md(500px);
        }

        @include sm {
          max-width: px2vw-sm(500px);
        }
      }

      &.is-last {
        @extend %u-dfCenterBtw;
      }
    }

    .global-Text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: inherit;
    }

    &:hover,
    &.is-active {
      border-color: var(--base-white-smoke);
    }

    &.is-header {
      background: none;

      &:hover,
      &.is-active {
        border-color: transparent;
      }
    }
  }
}
