@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

p {
  color: var(--base-white) !important;
}

.MyContent {
  &-create {
    @extend %u-dfStartEnd;
  }

  &-table {
    margin-top: px2vw-xl(20px);

    @include lg {
      margin-top: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(15px);
    }

    @include sm {
      margin-top: px2vw-sm(15px);
    }

    & .text-limit {
      color: var(--base-black-pearl) !important;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      margin-bottom: 0 !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-word;
    }

    ::ng-deep .datatable-body-row {
      cursor: default;
    }
  }
}

fa-icon {
  margin-right: 10px;
  cursor: pointer;
}

.btn-row {
  justify-content: flex-end;
  button {
    margin: 5px;
    cursor: pointer;
  }
}

.modal-header,
.modal-body {
  border: none !important;
}
