@import "shared";

// .bg-black {
// 	background: #1D1D1D;
// 	border-radius: 0px 0px 16px 16px;
// 	img {
// 		border-radius: 16px 16px 0px 0px;
// 	}
// }
// .gray {
// 	color: #BABABA;
// }
// .text-green {
// 	color: #00A851;
// }
// .fw-600 {
// 	font-weight: 600;
// }
.article-left-container {
  font-family: "Paralucent-Light",  san-serif;
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin: 0px;
    padding: 16px 0px;
  }
}
.actions_list {
  margin-top: 15px;
  padding: 0;
}
.actions_list li {
  list-style: none;
  padding: 5px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white-medium);
}
.actions_list li img {
  width: 26px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 10px;
}
.actions_list li.delete {
  color: #c92d00;
}
.more_articles_blk {
  background: #1d1d1d;
  border-radius: 0px 0px 16px 16px;
  overflow: hidden;
  margin-top: 50px;
}
.more_articles_blk .sub_head {
  padding: 24px 24px 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white-medium);
}
.more_articles_blk .date {
  padding: 0 24px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #bababa;
}
.more_articles_blk .published {
  padding: 0 24px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #00a851;
}
