<div class="MyReferral">
  <div class="Profile-title d-flex">
    {{ "PROFILE.BASIC_INFO.REFERRAL_TITLE" | translate }}

    <button
      *ngIf="user?.accountDetail?.referralId"
      class="btn global-EditBtn btnRef"
      (click)="open(mymodal)"
    >
      <!-- <span inlineSVG="assets/icons/navigations/referral.svg">

            </span> -->
      <img src=".\assets\images\Profile\referral.png" class="ref-icon" alt="" />
      {{ "PROFILE.BASIC_INFO.REFERRAL_INVITE" | translate | titlecase }}
    </button>
    <ng-template #mymodal let-modal>
      <div class="modal-header divider-ref">
        <h3 class="modal-title ref-title global-Title3" id="modal-basic-title">
          {{ "PROFILE.BASIC_INFO.REFERRAL_MESSAGE" | translate }}
        </h3>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" id="modal-basic-title">
        {{ "PROFILE.BASIC_INFO.REFERRAL_INSTRUCTION" | translate }}
      </div>

      <div class="modal-footer ref-footer divider-ref">
        <div class="popupBody">
          <span class="popupBody-url">{{
            URL | limitString: 30:"...":innerWidth
          }}</span>
          <button
            id="myDIV"
            type="button"
            [disabled]="clicked"
            (click)="copyToClipboard($event); clicked = true"
            class="btn global-EditBtn rtlmargin"
          >
            <span
              class="material-icons copy"
              *ngIf="!clicked"
              matTooltip=" {{
                'PROFILE.BASIC_INFO.REFERRAL_CODE_MESSAGE' | translate
              }}"
            >
              content_copy
            </span>
            <span class="btn-copy" *ngIf="!clicked">{{
              "PROFILE.BASIC_INFO.REFERRAL_OK" | translate | uppercase
            }}</span>
            <span class="material-icons done" *ngIf="clicked"> done </span>
            <span class="btn-copy1" *ngIf="clicked">{{
              "PROFILE.BASIC_INFO.REFERRAL_COPIED" | translate | uppercase
            }}</span>
          </button>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="MyTransactions-table">
    <ngx-datatable
      [rows]="referral.rows"
      [columns]="referral.columns"
      [columnMode]="'force'"
      [headerHeight]="'auto'"
      [rowHeight]="'auto'"
      [footerHeight]="'auto'"
      [limit]="5"
      class="global-DataTable"
      [externalPaging]="true"
      [offset]="1"
      [limit]="50"
      [count]="50"
      (page)="setPage1($event)"
    >
      <ngx-datatable-column
        name="{{ 'PROFILE.BASIC_INFO.DATE' | translate }}"
        prop="DATE"
      >
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'PROFILE.BASIC_INFO.INV' | translate }}"
        prop="Invitation"
      >
      </ngx-datatable-column>
      <ngx-datatable-column 
        name="{{ 'PROFILE.BASIC_INFO.REWARD_POINT' | translate }}"
        prop="points">
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<app-pagination [page]="page" (currentPage)="setPage1($event)">
</app-pagination>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
