.about{
    &_banner{
        position: relative;
        & > img{
            width: 100%;
        }

        .bug_bot{
            position: absolute;
            bottom:-5%;
            right: 4%;
            width: 260px;
            @media (max-width: 768px) {
                right: 0%;
                width: 176px;
                img{
                    width: 100%;
                }
            }

            @media (max-width: 556px){
                width: 28%;
            }
        }

        figcaption{
            position: absolute;
            width: 100%;
            bottom: 0%;
            transform: translateY(-80%);
            left: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;



            strong{
                text-transform: uppercase;
                font-size: 24px;
                margin-bottom: 25px;
            }

            .scroll_down{
                width: 80px;
                height: 80px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: var(--color-secondary);
                border-radius: 50%;
                margin-top: 22px;

                @media (max-width: 768px){
                    width: 45px;
                    height: 45px;
                    img{
                        width: 10px;
                    }
                }
            }


            @media (max-width: 768px){
                transform: translateY(-50%);
                & > img{
                    width: 180px
                }
            }

            @media (max-width: 450px){
                transform: translateY(-26%);
                strong{
                    font-size: 14px;
                    margin-bottom: 16px;
                }
                & > img{
                    width: 116px;
                }
                .scroll_down{
                    width: 35px;
                    height: 35px;
                    margin-top: 16px;
                }
            }
        }
    }

    .about_content{
        position: relative;
        overflow: hidden;
        padding: 95px 0px 40px 0px;
        & > figure{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            margin: 0;
            & > img{
                opacity: 0.2;
                width: 1070px;
                float: right;
                margin-top: -3px;
                height: 100%;
                object-fit: contain;
            }
        }

        & > figcaption{
            position: relative;
        }
        .about_box{
            width: 652px;
            max-width: calc(100%);
            margin: 0 auto;
            position: relative;

            @media (max-width: 600px){
                max-width: calc(100% - 60px);
            }


            .top_arrow{
                position: absolute;
                top: -30px;
                left: -30px;
                width: 50px;
                height: 50px;
                &:after, &:before{
                    content:"";
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:after{
                    height: 100%;
                    border-left: 1px solid var(--color-secondary);
                    left: 10px;
                    top: -10px
                }

                &:before{
                    width: 100%;
                    border-top: 1px solid var(--color-secondary);
                }
            }

            .bottom_arrow{
                position: absolute;
                bottom: -30px;
                right: -30px;
                width: 50px;
                height: 50px;
                &:after, &:before{
                    content:"";
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                }

                &:after{
                    height: 100%;
                    border-right: 1px solid var(--color-secondary);
                    right: 10px;
                    bottom: 0px
                }

                &:before{
                    width: 100%;
                    border-top: 1px solid var(--color-secondary);
                }
            }

            h2{
                font-size: 24px;
                color: var(--color-secondary);
                text-transform: uppercase;
                margin-bottom: 35px;
                line-height:24px;
                span{
                    display: block;
                    color: var(--color-primary);
                }

                @media (max-width: 600px){
                    font-size: 13px;
                    line-height: 19px;
                    margin-bottom: 18px;
                    & > span{
                        display: inline-block;
                    }
                }
            }

            p{
                color: rgba(250,250,250,0.87);
                @media (max-width: 600px){
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }

    .teams_section{
        position: relative;
        padding: 20px 0px 80px;
        .teams_header{
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            @media (max-width: 768px){
                margin-bottom: 30px;
            }
            strong{
                font-size: 17px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            img{
                @media (max-width: 600px)
                {
                    width: 116px;
                }
            }
        }
        .team_bg{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
            img{
                width: 100%;
            }
        }
    }
}

.testinomial_box{
    .testinomial_header{
        display: none;
        padding: 10px 15px;
        h6{
            font-size: 24px;
            text-transform: uppercase;
            color: var(--color-primary);
            strong{
                font-size: 14px;
                display: block;
            }
        }
    }

    .testinomial_user{
        text-align: center;
        margin-top: 0px;
        position: relative;
        transform: translateY(-100%);
        span{
            display: inline-block;
            width: 124px;
            height: 124px;
            padding: 7px;
            background: linear-gradient(168.39deg, #736CFF 9.25%, rgba(115, 108, 255, 0) 91.48%);
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }

        &:after{
            content: "";
            width: 100%;
            position: absolute;
            background: radial-gradient(96.66% 83.41% at 0% 0%, #054B52 0%, rgba(5, 75, 82, 0) 100%);
            top: -29px;
            left: 0;
            height: 272px;
            z-index: -1;
            opacity: 0;
        }
    }

    .testinomial_bio{
        display: none;
        padding: 24px;

        small{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
            img{
                width: auto;
            }
        }

        strong{
            display: block;
            margin-bottom: 16px;
        }

        p{
            @media (max-width: 600px){
                font-size: 13px;
                line-height: 19px;
            }
        }
    }
}
