<h6 *ngIf="match?.isThirdPlaceMatch" class="Match-Third-Place">
  {{ "ELIMINATION.BRONZE_MATCH" | translate }}
</h6>
<div class="Match" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)" [class.scoreConflict]="match?.isScoreConflict === true">
  <div
    (click)="scoreCard()"
    [ngClass]="{ 'Match-Action': isActionEnable }"
    *ngIf="isActionEnable"
  >
    <mat-icon [ngClass]="{ 'Match-Action-Hide': !isActionEnable }">
      edit
    </mat-icon>
  </div>
  <div class="Match-Container">
    <app-team
      [bye]="false"
      [country]="match?.teamA?.userId?.country"
      [countryList]="countryList"
      [isDisqualify]="
        match?.teamA && match?.teamA?._id === match?.disQualifiedTeam?.team
      "
      [isShowCountryFlag]="isShowCountryFlag"
      [logo]="match?.teamA?.logo"
      [setScore]="
        (totalSet == 1 && match?.sets &&
          (match?.sets[1]?.teamAScore || match?.sets[0]?.teamAScore || 0)) ||
        match?.teamAWinSet
      "
      [teamName]="
        participantType == 'individual'
          ? match?.teamA?.name || match?.placeHolderA || match?.teamA?.teamName
          : match?.teamA?.teamName || match?.placeHolderA
      "
    >
    </app-team>
    <app-team
      [bye]="match?.bye"
      [country]="match?.teamB?.userId?.country"
      [countryList]="countryList"
      [isDisqualify]="
        match?.teamB && match?.teamB?._id === match?.disQualifiedTeam?.team
      "
      [isShowCountryFlag]="isShowCountryFlag"
      [logo]="match?.teamB?.logo"
      [setScore]="
        (totalSet == 1 && match?.sets &&
          (match?.sets[1]?.teamBScore || match?.sets[0]?.teamBScore || 0)) ||
        match?.teamBWinSet
      "
      [teamName]="
        participantType == 'individual'
          ? match?.teamB?.name || match?.placeHolderB || match?.teamB?.teamName
          : match?.teamB?.teamName || match?.placeHolderB
      "
    >
    </app-team>
  </div>
</div>
