<section class="ArticleListing">
  <div class="ArticleListing-header">
    <div class="global-Title2">{{ "ARTICLE.NEWS" | translate }}</div>
  </div>

  <div class="collapse ArticleListing-search-box" id="collapseExample">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
    anderson cred nesciunt sapiente ea proident.
  </div>

  <div class="ArticleListing-list">
    <app-article-item
      *ngFor="let item of articles"
      [data]="item"
    ></app-article-item>
  </div>

  <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
</section>
