@import "shared";

:host {
  display: block;
  overflow: hidden;
}

.Profile {
  background: var(--color-background);
  position: relative;
  padding: 97px 0 120px 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;

  @include md {
    padding: 75px 0 0 0;
  }
  &-container {
    max-width: px2vw-md(650px);
    padding: px2vw-md(24px) px2vw-md(12px) 0;
    margin: 0 auto;
    width: 100%;
    @include md {
      padding: px2vw-md(8px) px2vw-md(12px) px2vw-md(16px);
    }
  }

  &-heading {
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include md {
      display: none;
    }
    .title {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      color: var(--white);
      margin-bottom: 0;
    }
    .control {
      display: inline-flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .players {
        margin-right: 24px;
      }
      .btn {
        text-transform: none;
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
.button-default{
        background-color: var(--color-secondary);
        color: var(--white);
}
.button-notbg{
  color: var(--txt-secondry-border);
}
.Profile-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.Profile-nav {
  width: 100%;
  max-width: 295px;
  display: inline-block;
  position: relative;
  @include md {
    max-width: 100%;
  }
  &-main {
    margin-bottom: 64px;
    @include md {
      display: none;
    }
  }

  &-links-collapsed {
    padding-bottom: px2vw-xl(8px);

    @include lg {
      padding-bottom: px2vw-lg(8px);
    }

    @include md {
      padding-bottom: px2vw-md(8px);
    }

    @include sm {
      padding-bottom: px2vw-sm(8px);
    }
  }

  &-links-tournaments {
    padding-left: px2vw-xl(16px);

    @include lg {
      padding-left: px2vw-lg(16px);
    }

    @include md {
      padding-left: px2vw-md(16px);
    }

    @include sm {
      padding-left: px2vw-sm(16px);
    }
  }

  &-link-main {
    @extend %u-dfCenter;
    padding: 0;
    margin-bottom: 13px;
    transition: all 100ms linear;
    &:last-child {
      margin-bottom: 0;
    }
    mat-icon {
      @extend %u-dfCenterCenter;
      flex-shrink: 0;
      margin-right: 24px;
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
      font-size: px2vw-xl(32px);
      color: var(--tolopea-color);
      transition: inherit;
    }
    .icon {
      display: inline-block;
      margin-right: 16px;
      ::ng-deep svg path {
        fill: var(--tertiary-color);
      }
    }

    span {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-white-medium);
      transition: inherit;
    }

    &.active {
      .icon {
        ::ng-deep svg path {
          fill: var(--txt-secondry-border);
        }
      }

      mat-icon {
        color: var(--txt-secondry-border);
      }
      span {
        color: var(--txt-secondry-border);
      }
    }

    &.first {
      margin-top: 0;
    }

    &:hover:not(.active) {
      .icon {
        ::ng-deep svg path {
          fill: var(--txt-secondry-border);
        }
      }
      mat-icon,
      span {
        color: var(--txt-secondry-border);
        &.global-Elipses {
          color: var(--color-white-medium)
        }
      }
    }
  }

  &-link {
    @extend %u-dfCenterBtw;
    @extend %body-1;
    margin-top: px2vw-xl(4px);
    padding: px2vw-xl(8px) px2vw-xl(16px);
    width: 100%;
    color: var(--white-medium);
    transition: $global-transition;

    @include lg {
      margin-top: px2vw-lg(4px);
      padding: px2vw-lg(8px) px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(4px);
      padding: px2vw-md(8px) px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(4px);
      padding: px2vw-sm(8px) px2vw-sm(16px);
    }

    &:hover:not(.active) {
      color: var(--color-primary);
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--black);

      .inbox {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  &-link-inbox {
    @extend %caption;
    margin-left: px2vw-xl(10px);
    border-radius: px2vw-xl(20px);
    padding: px2vw-xl(2px) px2vw-xl(6px);
    background-color: var(--color-tertiary);
    transition: $global-transition;

    @include lg {
      margin-left: px2vw-lg(10px);
      border-radius: px2vw-lg(20px);
      padding: px2vw-lg(2px) px2vw-lg(6px);
    }

    @include md {
      margin-left: px2vw-md(10px);
      border-radius: px2vw-md(20px);
      padding: px2vw-md(2px) px2vw-md(6px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
      border-radius: px2vw-sm(20px);
      padding: px2vw-sm(2px) px2vw-sm(6px);
    }
  }

  &-bottom {
    margin-top: px2vw-xl(12px);
    border-top: px2vw-xl(1px) solid var(--white-smoke);
    padding-top: px2vw-xl(4px);

    @include lg {
      margin-top: px2vw-lg(12px);
      border-top-width: px2vw-lg(1px);
      padding-top: px2vw-lg(4px);
    }

    @include md {
      margin-top: px2vw-md(12px);
      border-top-width: px2vw-md(1px);
      padding-top: px2vw-md(4px);
    }

    @include sm {
      margin-top: px2vw-sm(12px);
      border-top-width: px2vw-sm(1px);
      padding-top: px2vw-sm(4px);
    }
  }

  &-title {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 21px;
  }

  &-subtitle {
    @extend %caption;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }
  &.nav-update-score {
    margin-top: 35px;
    margin-left: 15px;

    @include sm {
      display: none;
    }
  }
}

.Dashboard-cards {
  margin-top: 10px;
  &-item {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    background: var(--gradient-bg);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-value {
    @extend %subtitle-1;
    margin-bottom: 0;
  }
}

.Profile-content {
  width: 100%;
  max-width: calc(100% - 295px);
  padding-left: 50px;
  @include md {
    max-width: 100%;
    padding-left: 0px;
  }
  &.content-update-score {
    max-width: calc(100% - 310px);
    padding-left: 35px;

    @include md {
      padding-left: 0;
      max-width: unset;
    }

    @include sm {
      max-width: unset;
      width: 100%;
      padding-left: 0;
    }
  }

  &.content-scoring-success {
    max-width: unset;
    width: 100%;
    padding-left: 0;
  }
  &.scoring-mobile {
    @include sm {
      max-width: unset;
      padding-left: 0;
      margin-top: -12px;
    }
  }
}

.border {
  border: 0.0694444444vw solid var(--white-light) !important;
  border-radius: px2vw-xl(4px);
  padding: px2vw-xl(16px);
  background: var(--gradient-bg);
  margin-bottom: 10px;
}

.tournament_box {
  border: 0.0694444444vw solid var(--white-light);
  border-radius: 0.2777777778vw;
  padding: 1.1111111111vw;
  background: var(--gradient-bg);
  margin-top: 10px;
  .this_image {
    width: 97px;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }

  h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
  }
  small {
    color: rgba(255, 255, 255, 0.6);
  }
}
.Profile-nav-footer {
  position: sticky;
  top: calc(100% - 329.31px);
  left: 0;
  @include md {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px;
    position: relative;
    top: auto;
  }
  .TournamentThumbnail {
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
    width: 100%;
    height: 164px;
    position: relative;
    @include md {
      width: 100%;
      max-width: 155px;
      height: 88px;
      border-radius: 8px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
  .TournamentInfo {
    @include md {
      width: 100%;
      max-width: calc(100% - 155px);
    }
    .TournamentInfo-box {
      padding: 24px;
      background: var(--blackcurrant-color-medium);
      @include md {
        width: 100%;
        padding: 0 0 0 16px;
        background: transparent;
      }
      .TournamentInfo-title {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--color-white-medium);
        margin-bottom: 8px;
        @include md {
          font-size: 16px;
          line-height: 24px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .TournamentInfo-box-price {
        margin-bottom: 24px;
        @include md {
          display: none;
        }
        span {
          font-family: 'Paralucent-Demi';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--tolopea-color);
        }
      }
      .link-to {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--ui-win);
        @include md {
          font-weight: 500;
        }
      }
    }
  }
}
.Profile-nav-mainMB {
  margin-bottom: 24px;
  .title {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 16px;
  }
  .Profile-nav-mb {
    .title {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: flex-end;
      color: var(--color-white-medium);
      @include md {
        margin-bottom: 4px;
      }
    }
  }
}
.Select-teamDropdown {
  &:hover,
  &.show {
    .Select-teamBtn {
      border: 2px solid var(--main-color);
    }
  }
  .Select-teamBtn {
    background: transparent;
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    padding: 10px 16px;
    @extend %global-textSm;
    font-weight: 500;
    color: var(--white);
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    &::after {
      display: inline-block;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: 2px solid var(--main-color);
      border-right: 2px solid var(--main-color);
      border-bottom: 0;
      border-left: 0;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      transition: $global-transition2;
      position: relative;
      top: -4px;
    }
  }
  .Select-teamDropdownItem {
    top: 55px !important;
    transform: none !important;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    background: var(--midnight-express-color);
    border: 2px solid var(--midnight-express-color);
    overflow: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    button {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
      padding: 10px 16px;
      &:hover {
        background: var(--color-black-medium);
      }
    }
  }
  &.show {
    .Select-teamBtn {
      &::after {
        top: 2px;
        transform: rotate(315deg);
        transition: $global-transition2;
      }
    }
  }
}
