<button class="Chat-Icon" (click)="toggleChat()">
  <span class="pl-2 pr-2"><img src="assets/icons/chat.svg" alt="chat" /></span>
  <span class="Chat-Text">
    {{ "ELIMINATION.CHAT.TITLE" | translate }}
  </span>
</button>
  