@import "shared";

$--card-top-gradient: linear-gradient(
  180deg,
  #0b0824 11.8%,
  rgba(11, 8, 36, 0) 126.97%
);

$--card-bottom-gradient: linear-gradient(
  180deg,
  rgba(115, 108, 255, 0) 0%,
  rgba(115, 108, 255, 0.8) 100%
);

:host {
  display: block;
  // background-color: var(--blackcurrant-color-medium);
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf");
  src: url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-Bold.woff")
      format("woff"),
    url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-Bold.woff2")
      format("woff2");
  font-weight: blod;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf");
  src: url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-Regular.woff")
      format("woff"),
    url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-Regular.woff2")
      format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-It.otf");
  src: url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-It.woff")
      format("woff"),
    url("../../../assets/fonts/AvenirNext/AvenirNextLTPro-It.woff2")
      format("woff2");
  font-style: italic;
}

.GetMatch {
  position: relative;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;

  @include lg {
    padding: 0;
  }

  @include md {
    padding: 0;
  }

  @include sm {
    padding: 0;
  }

  &.bg-image-game {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    & .GetMatch-content {
      position: relative;
      z-index: 2;
    }
  }

  &.full-wd {
    // max-width: 1500px;
    padding-bottom: 0;
    // padding-top: 72px;/*modify-better*/
    padding-left: 0px;
    padding-right: 0px;
    // padding-top: 143px;
    background-position: top;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: unset;

    // @include xl {
    //   padding-left: 24px;
    //   padding-right: 24px;
    // }

    @include md {
      margin: 0 auto;
      padding-top: 56px;
    }
    @include sm {
      padding: 0;
    }
  }

  &.nomax-width {
    max-width: unset;
  }

  // &-content {
  //   background-position: right;
  //   background-size: contain;
  //   background-repeat: no-repeat;

  //   @include sm {
  //     background-size: 100% 69%;
  //     background-position: top;
  //   }
  // }

  &-card {
    position: relative;
    max-height: px2vw-xl(676px);
    height: 80vh;
    background-size: cover;
    background-position: top center;

    @include lg {
      height: px2vw-lg(676px);
    }

    @include md {
      height: px2vw-md(676px);
    }

    @include sm {
      height: px2vw-sm(676px);
    }

    &::after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      left: 0;
      max-height: px2vw-xl(286px);
      height: 36vh;
      background: $--card-bottom-gradient;

      @include lg {
        max-height: px2vw-lg(286px);
      }

      @include md {
        max-height: px2vw-md(286px);
      }

      @include sm {
        max-height: px2vw-sm(286px);
      }
    }
  }

  &-card-header {
    @extend %u-dfCenter;
    padding: px2vw-xl(20px);
    background: $--card-top-gradient;

    @include lg {
      padding: px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }

  &-card-icon {
    flex-shrink: 0;
    margin-right: px2vw-xl(24px);
    max-height: px2vw-xl(48px);

    @include lg {
      margin-right: px2vw-lg(24px);
      max-height: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      max-height: px2vw-md(48px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      max-height: px2vw-sm(48px);
    }
  }

  &-card-title {
    @extend %caption;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-card-about {
    @extend %u-dfCenter;
  }

  &-card-game {
    @extend %subtitle-2;
    margin-right: px2vw-xl(8px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }
  }

  &-card-link {
    @extend %subtitle-2;
    color: var(--color-primary);
    transition: $global-transition;

    &:hover {
      opacity: 0.8;
    }
  }
}
.Header-bottom {
  background-color: var(--color-background);
  padding: 0;
  width: 100%;

  @include lg {
    //   display: none;
  }
  @include md {
    display: none;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  @include sm {
    display: none;
  }
  &-inner {
    padding: 20px 0 16px;
    border-bottom: 1px solid var(--midnight-express-color);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  &-container {
    overflow: hidden;
    padding: 0 24px;
    max-width: 1308px;
    margin: 0 auto;
  }
  &-left {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;

    .Header-game-logo {
      display: inline-block;
      margin-right: 40px;
      .Header-game-logo-icon {
        width: 108.35px;
        ::ng-deep svg {
          width: 100%;
        }
      }
    }
    .nav-season-matching {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      .Header-game-navigation-link {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        margin-right: 40px;
        position: relative;
        &::after {
          content: none;
          position: absolute;
          width: 100%;
          height: 4px;
          background: var(--main-color);
          border-radius: 2px;
          left: 0;
          bottom: -29px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .Header-game-navigation-link.is-active {
        color: var(--main-color);
        &::after {
          content: "";
        }
      }
    }
  }
  &-right {
    @include md {
      display: none;
    }
    button.btn {
      text-transform: none;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--white);
    }
  }
}
.Header-bottom::-webkit-scrollbar {
  display: none;
}
