<app-header-bottom [gameDetail]="selectedGameLogo" *ngIf="
!router.url.match(
  'get-match/team-registration/|get-match/game-lobby|/get-match/match-detail'
)
"></app-header-bottom>


<ng-container *ngIf="selectedGame">
  <div class="GetMatch u-wp"
    [ngClass]="{ 'full-wd': !isGetMatchRoute(),'nomax-width': isTeamGameRoute(),'bg-image-game': isBgImageGame() }"
    [lazyLoad]="selectedGame.image" *ngIf="isBgImageGame()">
    <div class="GetMatch-content">
      <router-outlet></router-outlet>
    </div>
    <!-- <ng-container *ngIf="selectedGame">
      <div class="GetMatch-card" >
        <header class="GetMatch-card-header">
          <img
            class="GetMatch-card-icon"
            [lazyLoad]="selectedGame.icon"
            alt="icon"
          />

          <div class="GetMatch-card-info">
            <h4 class="GetMatch-card-title">
              {{ "GET_MATCH.CARD.TITLE" | translate }}
            </h4>

            <div class="GetMatch-card-about">
              <p class="GetMatch-card-game">
                {{ selectedGame.name }}
              </p>

              <a
                class="GetMatch-card-link"
                [routerLink]="AppHtmlRoutes.matchmaking"
              >
                {{ "GET_MATCH.CARD.LINK" | translate }}
              </a>
            </div>
          </div>
        </header>
      </div>
    </ng-container> -->
    <!-- <div class="GetMatch-image" [lazyLoad]="selectedGame.image">
      <div class="getImage_header">
        <span class="image"><img src="../../../assets/images/games/game-icon.png" alt="game icon"></span>
        <div class="heading_texting">
          <div>
            <small>Selected game</small>
            <p><b>Dota 2</b><a routerLink="">Reselect game</a></p>
          </div>
        </div>
      </div>
      <div class="game_image">
        <img src="../../../assets/images/games/dota-2-game.png" alt="game image" />
      </div>
    </div> -->
  </div>
  <div class="GetMatch u-wp" [ngClass]="{ 'full-wd': !isGetMatchRoute(),'nomax-width': isTeamGameRoute() }"
    *ngIf="!isBgImageGame()">
    <div class="GetMatch-content">
      <router-outlet></router-outlet>
    </div>
    <!-- <ng-container *ngIf="selectedGame">
      <div class="GetMatch-card" >
        <header class="GetMatch-card-header">
          <img
            class="GetMatch-card-icon"
            [lazyLoad]="selectedGame.icon"
            alt="icon"
          />

          <div class="GetMatch-card-info">
            <h4 class="GetMatch-card-title">
              {{ "GET_MATCH.CARD.TITLE" | translate }}
            </h4>

            <div class="GetMatch-card-about">
              <p class="GetMatch-card-game">
                {{ selectedGame.name }}
              </p>

              <a
                class="GetMatch-card-link"
                [routerLink]="AppHtmlRoutes.matchmaking"
              >
                {{ "GET_MATCH.CARD.LINK" | translate }}
              </a>
            </div>
          </div>
        </header>
      </div>
    </ng-container> -->
    <!-- <div class="GetMatch-image" [lazyLoad]="selectedGame.image">
      <div class="getImage_header">
        <span class="image"><img src="../../../assets/images/games/game-icon.png" alt="game icon"></span>
        <div class="heading_texting">
          <div>
            <small>Selected game</small>
            <p><b>Dota 2</b><a routerLink="">Reselect game</a></p>
          </div>
        </div>
      </div>
      <div class="game_image">
        <img src="../../../assets/images/games/dota-2-game.png" alt="game image" />
      </div>
    </div> -->
  </div>
</ng-container>
<ng-container *ngIf="!selectedGame">
  <div class="GetMatch" [ngClass]="{ 'full-wd': !isGetMatchRoute() }">
    <div class="GetMatch-content">
      <router-outlet></router-outlet>
    </div>
    <!-- <ng-container *ngIf="selectedGame">
      <div class="GetMatch-card" >
        <header class="GetMatch-card-header">
          <img
            class="GetMatch-card-icon"
            [lazyLoad]="selectedGame.icon"
            alt="icon"
          />

          <div class="GetMatch-card-info">
            <h4 class="GetMatch-card-title">
              {{ "GET_MATCH.CARD.TITLE" | translate }}
            </h4>

            <div class="GetMatch-card-about">
              <p class="GetMatch-card-game">
                {{ selectedGame.name }}
              </p>

              <a
                class="GetMatch-card-link"
                [routerLink]="AppHtmlRoutes.matchmaking"
              >
                {{ "GET_MATCH.CARD.LINK" | translate }}
              </a>
            </div>
          </div>
        </header>
      </div>
    </ng-container> -->
    <!-- <div class="GetMatch-image" [lazyLoad]="selectedGame.image">
      <div class="getImage_header">
        <span class="image"><img src="../../../assets/images/games/game-icon.png" alt="game icon"></span>
        <div class="heading_texting">
          <div>
            <small>Selected game</small>
            <p><b>Dota 2</b><a routerLink="">Reselect game</a></p>
          </div>
        </div>
      </div>
      <div class="game_image">
        <img src="../../../assets/images/games/dota-2-game.png" alt="game image" />
      </div>
    </div> -->
  </div>
</ng-container>
<app-footer-spark *ngIf="isFooter()"></app-footer-spark>