@import "shared";

.Sports-federation {
  position: relative;
  padding-top: px2vw-xl(40px);
  padding-bottom: px2vw-xl(100px);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80% auto;

  @include lg {
    padding-top: px2vw-lg(40px);
    padding-bottom: px2vw-lg(100px);
    background-size: cover;
  }

  @include md {
    padding-top: px2vw-md(40px);
    padding-bottom: px2vw-md(100px);
    background-position: 80%;
  }

  @include sm {
    padding-top: px2vw-sm(40px);
    padding-bottom: px2vw-sm(100px);
  }

  .shadow {
    z-index: 25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      90deg,
      var(--ui-nero) 0%,
      var(--ui-nero) 30%,
      rgba(105, 108, 255, 0) 50%
    );
  }

  &-container {
    position: relative;
    &-left,
    &-heading {
      z-index: 50;
    }

    &-left {
      max-width: px2vw-xl(536px);
      width: 100%;
      font-size: px2vw-xl(16px);

      @include lg {
        max-width: px2vw-lg(536px);
        font-size: px2vw-lg(16px);
      }

      @include md {
        max-width: px2vw-md(536px);
        font-size: px2vw-md(16px);
      }

      @include sm {
        max-width: px2vw-sm(536px);
        font-size: px2vw-sm(16px);
      }

      &-title {
        max-width: px2vw-xl(490px);
        font-family: "stc-forward-large", sans-serif;
        font-size: px2vw-xl(64px);
        line-height: px2vw-xl(72px);

        @include lg {
          max-width: px2vw-lg(490px);
          font-size: px2vw-lg(64px);
          line-height: px2vw-lg(72px);
        }

        @include md {
          max-width: px2vw-md(490px);
          font-size: px2vw-md(64px);
          line-height: px2vw-md(72px);
        }

        @include sm {
          max-width: px2vw-sm(490px);
          font-size: px2vw-sm(64px);
          line-height: px2vw-sm(72px);
        }
      }

      &-text {
        font-family: "stc-forward-regular", sans-serif;
        line-height: px2vw-xl(24px);

        @include lg {
          line-height: px2vw-lg(24px);
        }

        @include md {
          line-height: px2vw-md(24px);
        }

        @include sm {
          line-height: px2vw-sm(24px);
        }
      }
      
      &-button {
        padding: px2vw-xl(10px);
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(21px);
        background-color: var(--primary-cinnabar);
        color: var(--base-white);

        @include lg {
          padding: px2vw-lg(10px);
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(21px);
        }

        @include md {
          padding: px2vw-md(10px);
          font-size: px2vw-md(16px);
          line-height: px2vw-md(21px);
        }

        @include sm {
          padding: px2vw-sm(10px);
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(21px);
        }
      }
    }

    .to-top {
      z-index: 50;
      position: absolute;
      bottom: px2vw-xl(-68px);
      right: px2vw-xl(15px);

      @include lg {
        bottom: px2vw-lg(-68px);
        right: px2vw-lg(15px);
      }

      @include md {
        bottom: px2vw-md(-68px);
        right: px2vw-md(15px);
      }

      @include sm {
        bottom: px2vw-sm(-68px);
        right: px2vw-sm(15px);
      }

      &-button {
        position: relative;
        height: px2vw-xl(62px);
        width: px2vw-xl(62px);
        border-radius: 50%;
        background-color: var(--primary-cinnabar);

        @include lg {
          height: px2vw-lg(62px);
          width: px2vw-lg(62px);
        }

        @include md {
          height: px2vw-md(62px);
          width: px2vw-md(62px);
        }

        @include sm {
          height: px2vw-sm(62px);
          width: px2vw-sm(62px);
        }

        &::before {
          position: absolute;
          content: "";
          transform: rotate(45deg) translate(-50%, 18%);
          height: px2vw-xl(18px);
          width: px2vw-xl(18px);
          border-top: px2vw-xl(3px) solid var(--base-white);
          border-left: px2vw-xl(3px) solid var(--base-white);

          @include lg {
            height: px2vw-lg(18px);
            width: px2vw-lg(18px);
            border-top: px2vw-lg(3px) solid var(--base-white);
            border-left: px2vw-lg(3px) solid var(--base-white);
          }

          @include md {
            height: px2vw-md(18px);
            width: px2vw-md(18px);
            border-top: px2vw-md(3px) solid var(--base-white);
            border-left: px2vw-md(3px) solid var(--base-white);
          }

          @include sm {
            height: px2vw-sm(18px);
            width: px2vw-sm(18px);
            border-top: px2vw-sm(3px) solid var(--base-white);
            border-left: px2vw-sm(3px) solid var(--base-white);
          }
        }
      }
    }
  }
}
