// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl}px) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg}px) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md}px) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm}px) {
    @content;
  }
}

// angle
@mixin angle() {
  border: px2vw-xl(2px) solid var(--base-white);
  width: px2vw-xl(18px);
  height: px2vw-xl(18px);
  content: "";
  display: inline-block;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
  transition: all 100ms linear;

  @include lg {
    border-width: px2vw-lg(2px);
    width: px2vw-lg(18px);
    height: px2vw-lg(18px);
  }

  @include md {
    border-width: px2vw-md(2px);
    width: px2vw-md(18px);
    height: px2vw-md(18px);
  }

  @include sm {
    border-width: px2vw-sm(2px);
    width: px2vw-sm(18px);
    height: px2vw-sm(18px);
  }
}

// Button events
@mixin btnEvents() {
  user-select: none;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
    box-shadow: none;
  }
}

@mixin textClamp($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

// border radius
@mixin border-radius($r) {
  border-radius: $r;
}

// shadow
@mixin shadow() {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    background: linear-gradient(180deg, transparent, var(--base-01) 100%);
  }
}
