@import "shared";

:host {
  display: block;
}
.PopupEdit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: var(--txt-primary);
  height: 100vh;
  width: 100%;
  max-width: 456px;
  overflow: hidden;
  overflow-y: auto;

  &-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-light);
    z-index: 999;
  }

  &-heading {
    width: 100%;
    z-index: 9;
    padding: 24px 48px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.28);
    background-color: var(--txt-primary);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(
        90deg,
        var(--color-successful) 20%,
        #ff8e26 20%,
        #ff8e26 40%,
        #f12ba3 40%,
        #de2bb5 60.02%,
        var(--secondary-color) 60.02%
      );
    }
    .title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      display: flex;
      align-items: center;
      letter-spacing: -0.5px;
      color: var(--blackcurrant-color-medium);
    }
    .btn-close {
      width: 48px;
      height: 48px;
      padding: 0;
      border: 2px solid var(--tolopea-color);
      border-radius: 50%;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      .icon {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
    }
  }
  &-ButtonGroup {
    padding: px2vw-xl(41px) px2vw-xl(48px) px2vw-xl(70px);

    @include sm {
      padding-left: px2vw-sm(36.864px);
      padding-right: px2vw-sm(36.864px);
      padding-bottom: 70px;
    }

    & .input-file-recommend {
      display: block;
      font-family: Maxis;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: var(--color-black-medium);
    }

    & .btn {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--color-white-medium);
      text-transform: none;
      margin-top: 40px;

      @include sm {
        width: 100%;
        justify-content: center;
      }
    }

    &-selectReason {
      background-color: transparent;
      border: 2px solid var(--tolopea-color);
      box-sizing: border-box;
      border-radius: 8px;
      padding: 16px 15px;
      display: flex;
      margin-bottom: 5px;
      width: 100%;

      @include md {
        width: 100%;
      }

      &:hover {
        border-color: var(--main-color) !important;
      }

      &:focus {
        outline: var(--main-color) !important;
      }

      &-title {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        color: var(--blackcurrant-color-medium);
      }

      & label {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--blackcurrant-color-medium);

        @include sm {
          margin-left: 15px;
        }
      }

      & input {
        width: 24px;
        height: 24px;
        margin-right: 16px;

        &:after {
          width: 24px;
          height: 24px;
          border-radius: 15px;
          top: 0;
          left: 0;
          position: relative;
          // background-color: #111111;
          content: "";
          display: inline-block;
          visibility: visible;
          border: 2px solid var(--tertiary-color);
        }

        &:checked:after {
          width: 24px;
          height: 24px;
          border-radius: 15px;
          top: 0;
          left: 0;
          position: relative;
          background-color: var(--secondary-color);
          content: "";
          display: inline-block;
          visibility: visible;
          border: 2px solid white;
        }
      }
      // .second-input::after {
      //     background-color: var(--color-black-medium);
      //     @include sm {
      //         background-color: var(--color-background);
      //     }
      // }
    }

    &-description {

      &-textarea.focus-visible {
        &::-webkit-input-placeholder { /* Edge */
          color:transparent;
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color:transparent;
        }
        
        &::placeholder {
          color:transparent;
        }
      }
      &-textarea {
        background: var(--white);
        border: 2px solid var(--tolopea-color);
        box-sizing: border-box;
        border-radius: 4px;
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--blackcurrant-color-medium);
        max-width: 359px;
        width: 100%;
        height: 228px;
        padding: 12px 16px;
        margin-bottom: 24px;

        &:hover {
          border-color: var(--main-color) !important;
        }

        &.focus-visible {
          border: 2px solid var(--main-color) !important;
        }

        &::-webkit-input-placeholder { /* Edge */
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--blackcurrant-color-medium);
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--blackcurrant-color-medium);
        }
        
        &::placeholder {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--blackcurrant-color-medium);
          display: none;
        }

      }
      &-title {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        color: var(--blackcurrant-color-medium);
        margin-top: 24px;
      }
    }
    &-file {
      &-title {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        color: var(--blackcurrant-color-medium);
      }
      &__input {
        &.input-file {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        &--action {
          width: 119px;
          background: var(--white);
          border: 2px solid var(--secondary-color);
          box-sizing: border-box;
          border-radius: 6px;
          display: flex;
          
          @include sm {
            width: 100%;
            max-width: 119px;
          }
          .btn_upload {
            width: 100%;
            text-transform: none;
            padding: 10px 14px;
            min-height: auto;
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
          }
          .btn-add-platform {
            padding: 14px;
            width: 100%;
            text-transform: capitalize;
          }
        }
        &--file {
          width: calc(100% - 127px);
          @include sm {
            width: 100%;
            max-width: 200px;
          }
          &__label {
            display: flex;
            position: relative;
            align-items: center;
            padding-left: 16px;
            width: 100%;
            border: 2px solid #767676;
            box-sizing: border-box;
            border-radius: 4px;
            height: 48px;
            &:hover {
              border-color: var(--main-color) !important;
            }
            input {
              position: absolute;
              width: 100%;
              opacity: 0;
            }
            .input-file-placeholder {
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: var(--tolopea-color);
            }
          }
        }
        input {
          background-color: transparent;
          width: 100%;
          border: 2px solid #767676;
          box-sizing: border-box;
          border-radius: 4px;
          height: 48px;
          padding-left: 16px;
          &::placeholder {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: var(--tertiary-color);
          }
        }
        textarea {
          background-color: transparent;
          width: 100%;
          border: 2px solid #767676;
          box-sizing: border-box;
          border-radius: 4px;
          padding-left: 16px;
          padding-top: 16px;
          height: 96px;
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--white);
          &::placeholder {
            color: var(--tertiary-color);
          }
        }
        select {
          background-color: transparent;
          width: 100%;
          border: 2px solid #767676;
          box-sizing: border-box;
          border-radius: 4px;
          height: 48px;
          padding-left: 16px;
          color: var(--tolopea-color);
        }
        &.field-selelect-media {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .CreateTeam--field__input--action {
            width: 164px;
            @include sm {
              width: 100%;
              margin-top: 16px;
            }
          }
          .CreateTeam--field__input--select {
            width: calc(100% - 172px);
            @include sm {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

::ng-deep.mat-checkbox .mat-checkbox-label {
  @include md {
    color: var(--blackcurrant-color-medium);
  }
}
.SelectPlatform-teamDropdownItem {
  transform: none !important;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  background: transparent;
  color: var(--bas);
  overflow: hidden;
  overflow-y: auto;
  padding-left: 0;
  padding-right: 0;
  button {
    padding: 16px;
    background-color: transparent;
    border: 2px solid var(--base-submarine);
    border-radius: 8px;
    text-align: left;
    display: inherit;
    margin-bottom: 8px;
    display: flex;
    width: 100%;
    & .text {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--home-backdrak);
      margin-left: 13px;
    }
    &.active {
      background: transparent;
      border: 2px solid var(--secondary-color);
      & .circle {
         background: url('../../../../assets/icons/tournament/circle-checked.svg') no-repeat;
      }
    }
    & .circle {
      background: url('../../../../assets/images/create-tournament/radioouter.svg') no-repeat;
      width: 30px;
      height: 24px;
      display: block;
    }
    &.active::before {
       background: url('../../../../assets/icons/tournament/circle-purple.svg') no-repeat;
    }
    &:hover {
      border-color: var(--main-color);
    }
    span {
      color: var(--base-submarine);
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-color);
  }
}