/*
- Follow this style guide in architecture https://matthewelsom.com/blog/simple-scss-playbook.html
- Follow SUIT CSS naming conventions https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
*/

// TODO: split this old scss to new structure
@import "./scss/root";

/*Abstracts*/
@import "scss/abstract/_abstracts-dir";

/*Vendor*/
@import "scss/vendor/_vendors-dir";

/*Base Styles*/
@import "scss/base/_base-dir";

/*Components*/
@import "scss/components/_components-dir";

/*Layout*/
@import "scss/layouts/_layouts-dir";

/*pages*/
@import "scss/pages/_pages-dir";

@import "~@ctrl/ngx-emoji-mart/picker";
$green: #bbf55a;
body {
  overflow: visible;
  overflow-y: visible;
}
//tournament detail libary
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background: rgba(0, 0, 0, 0.04);
}
.emoji-wraper {
  .emoji-mart-dark {
    background: var(--gradient-bg);
  }
}
.emoji-mart-dark .emoji-mart-search input {
  background-color: var(--color-background);
}
.emoji-mart-dark .emoji-mart-category-label span {
  background: var(--gradient-bg);
}
@media screen and(max-width:576px) {
  .emoji-mart {
    width: 100% !important;
  }
}
.collaspe-tournament,
.tournament-about {
  .mat-form-field-label-wrapper {
    top: -2em;
    .mat-form-field-label {
      background: var(--color-background);
      width: max-content !important;
      padding: 0 5px;
    }
  }
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
    .mat-expansion-panel-header:hover {
    background: rgba(0, 0, 0, 0.04);
  }
  .mat-expansion-panel-body {
    padding: 0 10px !important;
  }
  .mat-form-field-label {
    color: var(--white) !important;
  }
  .mat-icon-button {
    color: var(--white) !important;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--white-smoke);
  }
  .mat-form-field-ripple:hover {
    border-color: var(--white-smoke);
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: var(--white);
  }
  .mat-form-field-flex {
    background-color: var(--color-background);
    border: 1px solid var(--white-smoke);
    border-bottom: 3px solid var(--white-smoke);
    &:hover {
      border-color: var(--white-smoke);
    }
    input {
      color: var(--white);
      font-size: 15px;
    }
    .mat-input-element {
      caret-color: var(--white);
    }
  }
  .mat-select-arrow {
    color: var(--white);
  }
  .select-slide {
    margin: 44px 0 24px 0;
  }
  .mat-expansion-indicator::after {
    color: var(--white);
  }
  .select-slide-another {
    margin-bottom: 20px;
  }
  .mat-slide-toggle-label {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 375px;
    color: var(--white);
  }
  .mat-expansion-panel-body {
    background: var(--color-background);
  }
}
//Slider homepage
.slider-compoent {
  .carousel-control-prev,
  .carousel-control-next {
    width: 36px !important;
    background-color: var(--black);
    height: 72px;
    top: 50%;
    z-index: 9999999;
    // @media only screen and (max-width: 575px) {
    //   background-color: #00000000;
    // }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 15px;
    height: 15px;
  }
  .carousel-indicators {
    justify-content: flex-start;
    margin-left: 10% !important;
    margin-bottom: 3.736111vw;
    .active {
      // background-color: #bbf55a !important;
      // border-color: #bbf55a !important;
    }
    li {
      border-radius: 100% !important;
      width: 10px !important;
      height: 10px !important;
      padding: 0;
    }
  }
  .carousel-control-next {
    padding-left: 7px;
    border-radius: 100px 0 0 100px;
    @media only screen and (max-width: 575px) {
      // position: relative;
      // left: 37.5em;
      // top: -10.3em;
      display: none;
    }
  }
  .carousel-control-prev {
    padding-right: 7px;
    border-radius: 0 100px 100px 0;
    @media only screen and (max-width: 575px) {
      // position: relative;
      // left: 35em;
      // top: -5em;
      display: none;
    }
  }
  .carousel-indicators {
    display: inline-flex;
    @media only screen and (max-width: 575px) {
      display: none;
    }
  }
}
// COMPONENT PERSONPROFILE
.abouts {
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .mat-expansion-panel {
    background: #ffffff00;
    color: var(--white);
  }
  .mat-expansion-panel-body {
    padding: 0 0 0 0 !important;
  }
  .mat-expansion-panel-header {
    padding: 0 0 !important;
    margin-bottom: 10px;
  }
  .mat-expansion-panel-header-title {
    color: var(--white) !important;
    align-items: center;
    p {
      margin: 0;
    }
    p:nth-child(2) {
      margin: 0;
      font-size: 16px;
    }
    p:nth-child(1) {
      color: var(--white-medium);
      margin: 0;
      font-size: 14px;
    }
  }
  .mat-expansion-panel-header-description {
    color: var(--white) !important;
  }
  .mat-expansion-indicator {
    color: var(--white) !important;
    padding-right: 10px;
    &:after {
      color: var(--white) !important;
    }
  }
  .mat-expansion-panel {
    box-shadow: none !important;
  }
  .mat-expansion-panel-header.mat-expanded {
    height: auto !important;
  }
}
.box-item-slide {
  .carousel-indicators {
    display: none !important;
  }
}
.spinnerMat {
  .mat-progress-spinner {
    circle {
      stroke: $green;
    }
    svg {
    }
  }
  &__home {
    position: relative;
    left: 30%;
    padding: 20px 0;
    margin-bottom: 20px;
    width: max-content;
  }
  &__private {
    justify-content: center;
    display: flex;
  }
  &__public {
    position: relative;
    right: 500%;
  }
  &__comment {
    position: relative;
    left: 50%;
    padding: 20px 0;
    margin-bottom: 10px;
    width: max-content;
  }
  &__reply {
    position: relative;
    left: 0%;
    padding: 20px 0;
    margin-bottom: 10px;
    width: max-content;
  }
  &__search-user {
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: max-content;
  }
}
.cdk-overlay-pane {
  .mat-dialog-container {
    background: var(--gradient-bg);
    // width: 35em;
    height: max-content;
    border-radius: 10px !important;
    padding-bottom: 28px !important;
    overflow: visible;
  }
}
.modal-post {
  .mat-form-field-wrapper {
    height: 100%;
  }
  .mat-form-field-label-wrapper {
    display: none;
  }
  .mat-form-field.mat-focused .mat-form-field-ripple,
  .mat-form-field-underline {
    display: none;
  }
  .mat-form-field-ripple:hover {
    display: none;
  }
  .mat-input-element {
    caret-color: $green;
  }
  .mat-form-field-infix {
    height: 9em;
  }
}
.modal-post__showIcon {
  .mat-tab-label-container {
    border-bottom: 1px solid var(--white-light);
  }
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }
  .mat-tab-label-content {
    span {
      padding-left: 5px;
      color: var(--white);
      font-family: "redhat-medium";
    }
  }
  .mat-tab-label {
    opacity: 1;
    min-width: auto;
  }
  .mat-tab-group.mat-primary .mat-ink-bar,
  .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    width: 90px;
    background-color: $green;
  }
  .mat-tab-body-wrapper {
    margin: 20px;
  }
}
.carousel-caption {
  left: 10% !important;
}

.post-action {
  border: 1px solid var(--white-medium);
  background: var(--gradient-bg-highest);
  width: 256px;
  min-width: 124px;
  border: none;
  .share-via {
    position: relative;
    padding: 0 !important;
    margin: 0 20px;
    .icon {
      width: 24px;
    }
    border-bottom: 1px solid var(--white-smoke);
  }
  .mat-menu-item,
  .share-via {
    display: flex;
    align-items: center;
    color: var(--white-medium);
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-family: Red Hat Text !important;
    min-width: 127px;
    max-width: 254px;
    min-height: 48px;
    padding: 0 20px;
    mat-icon {
      color: var(--white-medium) !important;
      margin-right: 23px;
    }
  }
  .mat-menu-item:hover {
    background: var(--gradient-bg-highest-hover);
  }
}
