@import "shared";

:host {
  display: block;
}

.TournamentImage {
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(8px);
    @include xxl {
      margin-bottom: px2vw-xxl(8px);
    }
    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-subtitle {
    @extend %caption;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);
    @include xxl {
      margin-bottom: px2vw-xxl(16px);
    }
    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-label {
    @extend %u-dfStretch;
    overflow: hidden;
    position: relative;
    border: px2vw-xl(2px) solid var(--white-light);
    border-radius: px2vw-xl(6px);
    min-height: px2vw-xl(208px);
    padding: px2vw-xl(8px);
    width: 100%;
    transition: $global-transition;
    cursor: pointer;
    text-align: center;
    @include xxl {
      border-width: px2vw-xxl(2px);
      border-radius: px2vw-xxl(6px);
      min-height: px2vw-xxl(208px);
      padding: px2vw-xxl(8px);
    }
    @include lg {
      border-width: px2vw-lg(2px);
      border-radius: px2vw-lg(6px);
      min-height: px2vw-lg(208px);
      padding: px2vw-lg(8px);
    }

    @include md {
      border-width: px2vw-md(2px);
      border-radius: px2vw-md(6px);
      min-height: px2vw-md(208px);
      padding: px2vw-md(8px);
    }

    @include sm {
      border-width: px2vw-sm(2px);
      border-radius: px2vw-sm(6px);
      min-height: px2vw-sm(208px);
      padding: px2vw-sm(8px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-label-block {
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    background-color: var(--black-medium);
    width: 100%;
    padding: px2vw-xl(16px);
    height: px2vw-xl(351px);
    position: relative;
    @include xxl {
      border-width: px2vw-xxl(1px);
      border-radius: px2vw-xxl(4px);
      padding: px2vw-xxl(16px);
      height: px2vw-xxl(351px);
    }
    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
      height: px2vw-lg(351px);
    }
    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
      height: px2vw-md(351px);
    }
    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
      height: px2vw-sm(351px);
    }
    .btn_edit {
      padding: px2vw-xl(10px) px2vw-xl(15px);
      font-family: "maxis-bold";
      font-size: px2vw-xl(14px);
      letter-spacing: px2vw-xl(0.5px);
      text-transform: uppercase;
      line-height: px2vw-xl(16px);
      border: px2vw-xl(1px) solid var(--white-smoke);
      background-color: var(--black-disabled);
      position: absolute;
      right: px2vw-xl(12px);
      top: px2vw-xl(12px);
      display: flex;
      align-items: center;
      @include xxl {
        padding: px2vw-xxl(10px) px2vw-xxl(15px);
        font-size: px2vw-xxl(14px);
        letter-spacing: px2vw-xxl(0.5px);
        line-height: px2vw-xxl(16px);
        border-width: px2vw-xxl(1px);
        right: px2vw-xxl(12px);
        top: px2vw-xxl(12px);
      }
      @include lg {
        padding: px2vw-lg(10px) px2vw-lg(15px);
        font-size: px2vw-lg(14px);
        letter-spacing: px2vw-lg(0.5px);
        line-height: px2vw-lg(16px);
        border-width: px2vw-lg(1px);
        right: px2vw-lg(12px);
        top: px2vw-lg(12px);
      }
      @include md {
        padding: px2vw-md(10px) px2vw-md(15px);
        font-size: px2vw-md(14px);
        letter-spacing: px2vw-md(0.5px);
        line-height: px2vw-md(16px);
        border-width: px2vw-md(1px);
        right: px2vw-md(12px);
        top: px2vw-md(12px);
      }
      @include sm {
        padding: px2vw-sm(10px) px2vw-sm(15px);
        font-size: px2vw-sm(14px);
        letter-spacing: px2vw-sm(0.5px);
        line-height: px2vw-sm(16px);
        border-width: px2vw-sm(1px);
        right: px2vw-sm(12px);
        top: px2vw-sm(12px);
      }
      img {
        margin-right: px2vw-xl(12px);
        @include xxl {
          margin-right: px2vw-xxl(12px);
        }
        @include lg {
          margin-right: px2vw-lg(12px);
        }
        @include md {
          margin-right: px2vw-md(12px);
        }
        @include sm {
          margin-right: px2vw-sm(12px);
        }
      }
    }
  }

  &-label-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    border-radius: px2vw-xl(4px);
    height: 100%;
    @include xxl {
      border-radius: px2vw-xxl(4px);
    }
    @include lg {
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
    }
  }

  &-info-icon {
    margin-bottom: px2vw-xl(38.6px);
    height: px2vw-xl(66.6px);
    width: px2vw-xl(53.3px);
    @include xxl {
      margin-bottom: px2vw-lxxlg(38.6px);
      height: px2vw-xxl(66.6px);
      width: px2vw-xxl(53.3px);
    }
    @include lg {
      margin-bottom: px2vw-lg(38.6px);
      height: px2vw-lg(66.6px);
      width: px2vw-lg(53.3px);
    }

    @include md {
      margin-bottom: px2vw-md(38.6px);
      height: px2vw-md(66.6px);
      width: px2vw-md(53.3px);
    }

    @include sm {
      margin-bottom: px2vw-sm(38.6px);
      height: px2vw-sm(66.6px);
      width: px2vw-sm(53.3px);
    }
  }

  &-info-title {
    @extend %overline;
    margin-bottom: 0;
  }

  &-info-text {
    @extend %overline;
    margin-bottom: 0;
  }
}
.upload_block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  img {
    margin-bottom: px2vw-xl(18px);
    @include xxl {
      margin-bottom: px2vw-xxl(18px);
    }
    @include lg {
      margin-bottom: px2vw-lg(18px);
    }
    @include md {
      margin-bottom: px2vw-md(18px);
    }
    @include sm {
      margin-bottom: px2vw-sm(18px);
    }
  }
  p {
    font-family: "maxis-bold";
    font-size: px2vw-xl(10px);
    letter-spacing: px2vw-xl(1px);
    line-height: px2vw-xl(16px);
    text-transform: uppercase;
    color: var(--white-medium);
    margin: 0;
    @include xxl {
      font-size: px2vw-xxl(10px);
      letter-spacing: px2vw-xxl(1px);
      line-height: px2vw-xxl(16px);
    }
    @include lg {
      font-size: px2vw-lg(10px);
      letter-spacing: px2vw-lg(1px);
      line-height: px2vw-lg(16px);
    }
    @include md {
      font-size: px2vw-md(10px);
      letter-spacing: px2vw-md(1px);
      line-height: px2vw-md(16px);
    }
    @include sm {
      font-size: px2vw-sm(10px);
      letter-spacing: px2vw-sm(1px);
      line-height: px2vw-sm(16px);
    }
  }
}
