@import "shared";

:host {
  display: block;
  transition: $global-transition;

  &:hover {
    opacity: 0.8;
  }
}

.VideoItem {
  cursor: pointer;

  &-image {
    @extend %u-dfEnd;
    position: relative;
    margin-bottom: px2vw-xl(16px);
    padding: px2vw-xl(16px);
    height: px2vw-xl(179.75px);
    background-size: 108%;
    background-position: center;

    @include lg {
      margin-bottom: px2vw-lg(16px);
      padding: px2vw-lg(16px);
      height: px2vw-lg(150px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      padding: px2vw-md(16px);
      height: px2vw-md(185px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      padding: px2vw-sm(16px);
      height: px2vw-sm(145px);
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &-icon {
    z-index: 1;
    width: px2vw-xl(48px);
    height: px2vw-xl(48px);

    @include lg {
      width: px2vw-lg(48px);
      height: px2vw-lg(48px);
    }

    @include md {
      width: px2vw-md(48px);
      height: px2vw-md(48px);
    }

    @include sm {
      width: px2vw-sm(48px);
      height: px2vw-sm(48px);
    }
  }

  &-title {
    @extend %global-H8;
    margin-bottom: px2vw-xl(8px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-info {
    @extend %subtitle-2;
    margin-bottom: 0;
    color: var(--white-medium);
  }
}
