@import "shared";

:host {
  display: block;
}

.Info-sectionA {
  &-item {
    // if we will receive arabic-text,
    // need to remove this property
    direction: ltr;

    &:not(:last-child) {
      margin-bottom: px2vw-xl(40px);

      @include lg {
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
      }
    }
  }

  &-item-title {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-item-description {
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);
    color: var(--base-black-pearl);
    white-space: pre-wrap;
    opacity: 0.8;

    @include lg {
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }
}

.Info-sectionB {
  &-table-head {
    color: var(--base-black-pearl);
  }

  &-table-cell {
    color: var(--base-black-pearl);
  }

  &-hint {
    margin-bottom: 0;
    color: var(--base-black-pearl);
  }
}
