<div class="Bookmarks">
  <div class="Bookmarks-container">
    <div class="Bookmarks-wrapper">
      <div class="Bookmarks-inner">
        <section class="Bookmarks-table">
          <div class="Bookmarks-table-toggles global-MatToggles" ngbNav #nav="ngbNav" [(activeId)]="active">
            <!-- Articles -->
            <div class="Bookmarks-table-toggle" [ngbNavItem]="1">
              <a class="Bookmarks-table-toggle-link" id="nn1" ngbNavLink (click)="getBookmarks()">
                <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-User-reports.svg"></span>
                <span class="text">{{ "PROFILE.BOOKMARKS.ARTICLES" | translate | capitalizeFirst }}</span>
              </a>
              <ng-template ngbNavContent>
                <app-bookmarks-table *ngIf="articles.length>0" [data]="articles "></app-bookmarks-table>
                <span *ngIf="articles.length==0">{{ "MATCH_LIST.NO_DATA_FOUND" | translate }}</span>
              </ng-template>

            </div>

            <!-- Videos -->
            <div class=" Bookmarks-table-toggle" [ngbNavItem]="2">
              <a class="Bookmarks-table-toggle-link" ngbNavLink>
                <span class="icon" inlineSVG="assets/icons/manage-tournament/Icon-Clips.svg"></span>
                {{ "PROFILE.BOOKMARKS.VIDEOS" | translate | capitalizeFirst }}
              </a>
              <ng-template ngbNavContent>
                <!-- <app-bookmarks-table *ngIf="videos.length" [data]="videos" [isVideo]="true"></app-bookmarks-table> -->
                <app-bookmarks-videos *ngIf="videos.length>0" [data]="videos" [isVideo]="true"></app-bookmarks-videos>
                <span *ngIf="videos.length==0">{{ "MATCH_LIST.NO_DATA_FOUND" | translate }}</span>
              </ng-template>
            </div>

            <div class="Bookmarks-table-navMb">
              <h4 class="title">
                {{ "Jump to:" | translate }}
              </h4>
              <div ngbDropdown class="Select-teamDropdown">
                <button class="btn Select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                  {{ ( data || "PROFILE.BOOKMARKS.BOOKMARKS-TYPE") | translate }}
                </button>
                <div class="Select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem class="DropdownItem" [ngbNavItem]="1" (click)="isCheck()">
                    <a class="global-Elipses" id="nn1" ngbNavLink (click)="getBookmarks()">
                      {{ "PROFILE.BOOKMARKS.ARTICLES" | translate | capitalizeFirst }}
                    </a>
                  </button>
                  <button ngbDropdownItem class="DropdownItem" [ngbNavItem]="2" (click)="isCheckVideo()">
                    <a class="global-Elipses" ngbNavLink>
                      {{ "PROFILE.BOOKMARKS.VIDEOS" | translate | capitalizeFirst }}
                    </a>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="Bookmarks-table-content" [ngbNavOutlet]="nav"></div>
        </section>
      </div>
    </div>
  </div>
</div>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
