@import "shared";

.Games-sectionA {
  padding: px2vw-xl(220px) 0 px2vw-xl(356px);
  background-size: cover;
  background-position: center;

  @include lg {
    padding-top: px2vw-lg(220px);
    padding-bottom: px2vw-lg(356px);
  }

  @include md {
    padding-top: px2vw-md(120px);
    padding-bottom: px2vw-md(150px);
  }

  @include sm {
    padding-top: px2vw-sm(120px);
    padding-bottom: px2vw-sm(120px);
  }

  &-title {
    color: var(--base-white);
    @include md {
      text-align: center;
    }
  }
}
.Games-sectionA {
  margin-bottom: px2vw-xl(60px);

  @include lg {
    margin-bottom: px2vw-lg(60px);
  }

  @include md {
    margin-bottom: px2vw-md(60px);
  }

  @include sm {
    margin-bottom: px2vw-sm(60px);
  }

  &-title {
    margin-bottom: px2vw-xl(26px);

    @include lg {
      margin-bottom: px2vw-lg(26px);
    }

    @include md {
      margin-bottom: px2vw-md(26px);
    }

    @include sm {
      margin-bottom: px2vw-sm(26px);
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include md {
      flex-direction: column;
    }
  }

  &-image-banner {
    border-radius: px2vw-xl(10px);
    max-width: px2vw-xl(884px);
    height: px2vw-xl(360px);
    object-fit: cover;
    width: 100%;

    @include lg {
      border-radius: px2vw-lg(10px);
      max-width: px2vw-lg(670px);
      height: px2vw-lg(360px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
      border-radius: px2vw-md(10px);
      max-width: none;
      width: 100%;
      height: px2vw-md(360px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(360px);
    }
  }

  &-steps-title {
    margin-bottom: px2vw-xl(30px);
    border-bottom: 2px solid var(--base-01);
    padding-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
      padding-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
      padding-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
      padding-bottom: px2vw-sm(30px);
    }
  }

  &-steps-list {
    margin-bottom: px2vw-xl(35px);

    @include lg {
      margin-bottom: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(35px);
    }

    @include sm {
      margin-bottom: px2vw-sm(35px);
    }
  }

  &-steps-item {
    @extend %global-text-body;

    &:not(:last-child) {
      margin-bottom: px2vw-xl(15px);

      @include lg {
        margin-bottom: px2vw-lg(15px);
      }

      @include md {
        margin-bottom: px2vw-md(15px);
      }

      @include sm {
        margin-bottom: px2vw-sm(15px);
      }
    }
  }

  &-steps-number {
    @extend %global-H6;
    display: inline-block;
    margin-right: px2vw-xl(28px);
    min-width: px2vw-xl(20px);
    color: var(--base-yellow);

    @include lg {
      margin-right: px2vw-lg(28px);
      min-width: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(28px);
      min-width: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(28px);
      min-width: px2vw-sm(20px);
    }
  }
}

.Games-sectionB {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }
  &-left {
    max-width: 25%;
    width: 100%;
    margin-bottom: 25px;
    @include lg {
      max-width: 100%;
    }
    @include md {
      max-width: 100%;
    }
    @include sm {
      max-width: 100%;
    }
  }
  &-right {
    max-width: 75%;
    @include lg {
      max-width: 100%;
    }
    @include md {
      max-width: 100%;
    }
    @include sm {
      max-width: 100%;
    }
  }
  & .u-dfBtw {
    @include lg {
      flex-direction: column;
    }
    @include md {
      flex-direction: column;
    }
    @include sm {
      flex-direction: column;
    }
  }
  &-title {
    margin-bottom: px2vw-xl(48px);

    @include lg {
      margin-bottom: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(48px);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, px2vw-xl(240px));
    grid-column-gap: px2vw-xl(25px);
    grid-row-gap: px2vw-xl(30px);

    @include lg {
      grid-template-columns: repeat(4, px2vw-lg(240px));
      grid-column-gap: px2vw-lg(25px);
      grid-row-gap: px2vw-lg(30px);
    }

    @include md {
      grid-template-columns: repeat(3, px2vw-md(230px));
      grid-column-gap: px2vw-md(15px);
      grid-row-gap: px2vw-md(30px);
    }

    @include sm {
      grid-template-columns: 1fr;
      grid-column-gap: px2vw-sm(15px);
      grid-row-gap: px2vw-sm(30px);
    }
  }

  &-card {
    width: 100%;
    transition: 100ms linear;

    &:hover {
      opacity: 0.9;
    }
  }

  &-card-image-block {
    overflow: hidden;
    position: relative;
    height: px2vw-xl(222px);
    background-color: var(--base-01);

    @include lg {
      height: px2vw-lg(222px);
    }

    @include md {
      height: px2vw-md(222px);
    }

    @include sm {
      height: px2vw-sm(222px);
    }

    &-button {
      position: absolute;
      left: 0;
      right: 0;
      top: 95px;
      opacity: 0;
      transition: opacity 0.35s ease;
      padding: px2vw-xl(16px);
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      @include lg {
        padding: px2vw-lg(16px);
      }

      @include md {
        padding: px2vw-md(16px);
      }

      @include sm {
        padding: px2vw-sm(16px);
      }
    }

    &:hover &-button {
      bottom: 0;
      opacity: 1;
    }

    &::before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      background-color: var(--base-black);
      opacity: 0.2;
    }
  }

  &-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include sm {
      object-position: top;
    }
  }

  &-card-game {
    margin-top: px2vw-xl(24px);
    margin-bottom: 0;
    text-align: center;
    color: var(--base-01);

    @include lg {
      margin-top: px2vw-lg(24px);
    }

    @include md {
      margin-top: px2vw-md(24px);
    }

    @include sm {
      margin-top: px2vw-sm(24px);
    }
  }
}
.divider {
  border-left: 1px dashed var(--base-03);
}

::ng-deep .matchMaking {
  width: 506px;

  mat-dialog-container {
    padding: 0;
    border-radius: 10px;
  }
}
