<div class="LeaderBoardCard">
  <div class="LeaderBoardCard-left">
    <div class="LeaderBoardCard-image-block">
      <img class="LeaderBoardCard-image" [src]="params.image" alt="image" />
    </div>
    <div class="LeaderBoardCard-place-block">
      <img
        [src]="addImageToPlace(params.place)"
        class="LeaderBoardCard-place-image"
        alt="image"
      />
      <span class="LeaderBoardCard-place-text">
        {{ addEndingToPlace(params.place) }}
      </span>
    </div>
  </div>
  <div class="LeaderBoardCard-right">
    <h3 class="LeaderBoardCard-name">
      {{ params.name }}
    </h3>
    <div class="LeaderBoardCard-about">
      <div class="LeaderBoardCard-about-prize">
        <span class="first">Prizeد.إ</span>
        <span class="second">
          {{ params.myr }}
        </span>
      </div>
      <div class="LeaderBoardCard-about-games">
        <span class="first">
          Games
        </span>
        <span class="second">
          {{ params.games }}
        </span>
      </div>
    </div>
  </div>
</div>
