<section class="container">
  <form [formGroup]="form" (submit)="onSubmitEvent()" class="SubmitForm">
    <!-- <div class="form-heading">
      <h1 class="LogReg-title" [ngClass]="
          activeTypeValue !== AppHtmlRoutesLoginType.emailLogin
            ? 'register-title'
            : 'login-title'
        ">
        {{ data.title | translate }}
      </h1>
      <p class="LogReg-subtitle" *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.emailLogin">
        {{ data.subtitle | translate }}
        <span class="text-hl">{{
          "LOG_REG.REGISTER.SUBTITLE_REG_2" | translate
          }}</span>.
      </p>
    </div> -->

    <!-- <div class="ss-social-media-login">
      <app-social-media-login></app-social-media-login>
    </div> -->

    <!-- <ng-container> </ng-container> -->
    <!-- <div class="form-content">
      <h3 class="-title" *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.emailLogin">
        {{ "LOG_REG.REGISTER.orLabel" | translate }}
      </h3>
      <h3 class="-title" *ngIf="activeTypeValue === AppHtmlRoutesLoginType.emailLogin">
        {{ "LOG_REG.LOGIN.orLabel" | translate }}
      </h3>
    </div> -->
    <!-- <ng-container
      *ngIf="
        activeTypeValue == AppHtmlRoutesLoginType.emailLogin ||
        activeTypeValue == AppHtmlRoutesLoginType.phoneLogin
      "
    >
      <div class="header-tabs global-Tabs">
        <button
          type="button"
          class="header-tab"
          routerLinkActive="is-active"
          routerLink="/user/email-login"
        >
          Email
        </button>
        <button
          type="button"
          class="header-tab"
          routerLinkActive="is-active"
          routerLink="/user/phone-login"
        >
          Mobile
        </button>
      </div>
    </ng-container> -->

    <!-- <ng-container
      *ngIf="activeTypeValue == AppHtmlRoutesLoginType.registration"
    >
      <div class="header-tabs global-Tabs">
        <button
          type="button"
          class="header-tab"
          [ngClass]="regType == 'email' ? 'is-active' : ''"
          (click)="updateRegType('email')"
        >
          Email
        </button>
        <button
          type="button"
          class="header-tab"
          [ngClass]="regType == 'phone' ? 'is-active' : ''"
          (click)="updateRegType('phone')"
        >
          Mobile
        </button>
      </div>
    </ng-container> -->
    <div class="LogReg-error" *ngIf="data.error">
      {{ data.error | translate }}
    </div>

    <ng-container  *ngIf="activeTypeValue == AppHtmlRoutesLoginType.phoneLogin">
      <div class="form-group cust-form">
      
       <div class="form-item one-third">
              
          <label class="form-label">Country code</label>
          <select class="form-control">
            <option selected>+91</option>
            <option>+1</option>
            <option>+2</option>
          </select>
        </div>
        <div class="form-item one-seven">
   
          <label class="form-label">{{ data?.firstInputPlaceholder | translate }}
          <mat-form-field
            class="global-MatField LogReg-input"
            appearance="outline"
          >
            <input
              class="SubmitForm-input"
              formControlName="firstInput"
              matInput
              [type]="data?.firstInputType"
            />
            <!-- <div matSuffix mat-button>
              <span class="material-icons" *ngIf="
                  !form.get('firstInput').touched || !form.get('firstInput').invalid
                ">{{ data.firstInputIcon }}</span>
              <span class="material-icons error-icon" *ngIf="
                  form.get('firstInput').touched && form.get('firstInput').invalid
                ">error</span>
            </div> -->

            <!-- <span class="global-intlTel-rightText"  styl (click)="changeLoginType('email')">{{ "LOG_REG.LOGIN.LOGIN_BY_EMAIL" |
              translate }}</span> -->

            <mat-error
              *ngIf="
                form.get('firstInput').touched &&
                form.get('firstInput').hasError('required')
              "
              >{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
            >
            <mat-error
              *ngIf="form.get('firstInput').hasError('validatePhoneNumber')"
              >{{ "LOG_REG.LOGIN.VALIDATION1" | translate }}</mat-error
            >
          </mat-form-field>
        </label>
      </div>
     
    </div>
    </ng-container>

    <div class="form-group group-name">
      <div class="form-item item-half" *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.emailLogin &&
      activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin;">
        <label for="" class="form-label">
          {{ "LOG_REG.REGISTER.FIRST_NAME" | translate }}
          <div class="input-group">
            <mat-form-field class="global-MatField LogReg-input" appearance="outline">
              <input class="SubmitForm-input form-field" formControlName="firstNameInput" matInput type="text"
                placeholder="{{
                  'LOG_REG.REGISTER.PLACEHODER_FIRST_NAME' | translate
                }}" />
              <mat-error *ngIf="
                  form.get('firstNameInput').touched &&
                  form.get('firstNameInput').hasError('required')
                ">{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error>
              <mat-error *ngIf="
                  form.get('firstNameInput').hasError('validatePhoneNumber')
                ">{{ "LOG_REG.LOGIN.VALIDATION1" | translate }}</mat-error>
            </mat-form-field>
          </div>
        </label>
      </div>
      <div class="form-item item-half" *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.emailLogin &&
      activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin;">
        <label for="" class="form-label">
          {{ "LOG_REG.REGISTER.LAST_NAME" | translate }}
          <div class="input-group">
            <mat-form-field class="global-MatField LogReg-input" appearance="outline">
              <input class="SubmitForm-input form-field" formControlName="lastNameInput" matInput type="text"
                placeholder="{{
                  'LOG_REG.REGISTER.PLACEHODER_LAST_NAME' | translate
                }}" />
              <!-- <div matSuffix mat-button>
                <span class="material-icons" *ngIf="
                    !form.get('firstInput').touched || !form.get('firstInput').invalid
                  ">{{ data.firstInputIcon }}</span>
                <span class="material-icons error-icon" *ngIf="
                    form.get('firstInput').touched && form.get('firstInput').invalid
                  ">error</span>
              </div> -->

              <!-- <span class="global-intlTel-rightText"  styl (click)="changeLoginType('email')">{{ "LOG_REG.LOGIN.LOGIN_BY_EMAIL" |
                translate }}</span> -->

              <mat-error *ngIf="
                  form.get('lastNameInput').touched &&
                  form.get('lastNameInput').hasError('required')
                ">{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error>
            </mat-form-field>
          </div>
        </label>
      </div>
    </div>
    <ng-container>
      <div class="form-group group-email" *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin;">
      <div class="form-item">
        <label for="" class="form-label">
          {{ "LOG_REG.REGISTER.EMAIL" | translate }}
          <div class="input-group">

            <!-- [class.is-forgotPass]="
                activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin
              " -->
            <mat-form-field  class="global-MatField LogReg-input" appearance="outline">
              <input class="form-field" formControlName="firstInput" matInput [type]="data.firstInputType" placeholder="{{
                  'LOG_REG.REGISTER.PLACEHODER_EMAIL' | translate
                }}" />
              <!-- <div matSuffix mat-button>
                <span class="material-icons">{{ data.firstInputIcon }}</span>
              </div> -->
              <mat-error *ngIf="form.get('firstInput').hasError('required')">{{
                "LOG_REG.LOGIN.REQUIRED" | translate
                }}</mat-error>
              <mat-error *ngIf="form.get('firstInput').hasError('email')">{{
                "LOG_REG.LOGIN.VALIDATION2" | translate
                }}</mat-error>
            </mat-form-field>
          </div>
        </label>
      </div>
    </div>
    <div class="form-group group-password">
      <div class="form-item">
        <label for="" class="form-label">
          {{ "LOG_REG.REGISTER.PASSWORD" | translate }}
          <div class="input-group">
            <mat-form-field  [class.is-forgotPass]="
            activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin
          " class="global-MatField LogReg-input" appearance="outline">
              <input class="form-field" formControlName="secondInput" matInput [type]="show ? 'text' : 'password'"
                placeholder="{{
                  'LOG_REG.REGISTER.PLACEHODER_PASSWORD' | translate
                }}" />
              <span class="icon" (click)="password()" inlineSVG="assets/icons/log-reg/Password-hidden.svg"></span>
            </mat-form-field>
            <span>
              <mat-error *ngIf="form.get('secondInput').hasError('required')">{{ "LOG_REG.LOGIN.REQUIRED" | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('secondInput').hasError('pattern')">{{ "LOG_REG.REGISTER.VALIDATION7" |
                translate }}</mat-error>
            </span>
          </div>
        </label>
      </div>
    </div>
   </ng-container>
    <!--<ng-container *ngIf="data.firstInputType === 'phone'; else notPhone">
        <div class="global-intlTel">
          <mat-label>
            {{ data.firstInputPlaceholder | translate }}
          </mat-label>
          <mat-form-field
            class="global-MatField LogReg-input"
            appearance="outline"
          >
            <input
              class="SubmitForm-input"
              formControlName="firstInput"
              matInput
              type="text"
            />
             <div matSuffix mat-button>
            <span class="material-icons" *ngIf="
                !form.get('firstInput').touched || !form.get('firstInput').invalid
              ">{{ data.firstInputIcon }}</span>
            <span class="material-icons error-icon" *ngIf="
                form.get('firstInput').touched && form.get('firstInput').invalid
              ">error</span>
          </div> -->

    <!-- <span class="global-intlTel-rightText"  styl (click)="changeLoginType('email')">{{ "LOG_REG.LOGIN.LOGIN_BY_EMAIL" |
            translate }}</span> 

            <mat-error
              *ngIf="
                form.get('firstInput').touched &&
                form.get('firstInput').hasError('required')
              "
            >
              {{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
            >
            <mat-error
              *ngIf="form.get('firstInput').hasError('validatePhoneNumber')"
            >
              {{ "LOG_REG.LOGIN.VALIDATION1" | translate }}</mat-error
            >
          </mat-form-field>
        </div>
      </ng-container>-->

    <ng-template #notPhone>
      <mat-form-field class="global-MatField LogReg-input global-MatField-Register" appearance="outline">
        <mat-label>{{ data.firstInputPlaceholder | translate }} </mat-label>
        <input class="SubmitForm-input" formControlName="firstInput" matInput [type]="data.firstInputType" />
        <div matSuffix mat-button>
          <!-- <span class="material-icons" *ngIf="
              !form.get('firstInput').touched || !form.get('firstInput').invalid
            ">{{ data.firstInputIcon }}</span>
          <span class="material-icons error-icon" *ngIf="
              form.get('firstInput').touched && form.get('firstInput').invalid
            ">error</span> -->
        </div>
        <!-- <span
          *ngIf="activeTypeValue === AppHtmlRoutesLoginType.emailLogin"
          class="global-MatField-hint"
          (click)="changeLoginType('phone')"
          >{{ "LOG_REG.LOGIN.LOGIN_BY_PHONE" | translate }}</span
        > -->
        <mat-error *ngIf="form.get('firstInput').hasError('required')">{{
          "LOG_REG.LOGIN.REQUIRED" | translate
          }}</mat-error>
        <mat-error *ngIf="form.get('firstInput').hasError('email')">{{
          "LOG_REG.LOGIN.VALIDATION2" | translate
          }}</mat-error>
        <mat-error *ngIf="form.get('firstInput').hasError('minlength')">{{
          "LOG_REG.LOGIN.VALIDATION3" | translate
          }}</mat-error>
        <mat-error *ngIf="form.get('firstInput').hasError('maxlength')">{{
          "LOG_REG.LOGIN.VALIDATION4" | translate
          }}</mat-error>
        <mat-error *ngIf="form.get('firstInput').hasError('pattern')">{{
          "LOG_REG.LOGIN.VALIDATION6" | translate
          }}</mat-error>
      </mat-form-field>
    </ng-template>

    <!--<ng-container *ngIf="data.fifthInputType === 'text'">
      <mat-form-field class="global-MatField LogReg-input" appearance="outline">
        <mat-label style="font-family: 'redhat-regular'; font-size: 15px"
          >{{ data.fifthInputPlaceholder | translate }}
        </mat-label>
         <span matPrefix class="prefix">@</span> 
        <input
          class="SubmitForm-input"
          formControlName="fifthInput"
          matInput
          [type]="data.fifthInputType"
          (keydown.space)="$event.preventDefault()"
          (keyup)="isUniqueName($event?.target?.value)"
        />-->
    <!--<div matSuffix mat-button>
           <span class="material-icons" *ngIf=" !form.get('fifthInput').touched || !form.get('fifthInput').invalid
            ">{{ data.fifthInputIcon }}</span>
          <span class="material-icons error-icon" *ngIf="
              form.get('fifthInput').touched && form.get('fifthInput').invalid
            ">error</span> 
        </div>

        <mat-error *ngIf="isExist">{{
          "LOG_REG.LOGIN.ERROR9" | translate
        }}</mat-error>

        <mat-error *ngIf="form.get('fifthInput').hasError('required')">{{
          "LOG_REG.LOGIN.REQUIRED" | translate
        }}</mat-error>
        <mat-error *ngIf="form.get('fifthInput').hasError('minlength')">{{
          "LOG_REG.LOGIN.VALIDATION3" | translate
        }}</mat-error>
        <mat-error *ngIf="form.get('fifthInput').hasError('pattern')"
          >{{ "LOG_REG.LOGIN.VALIDATION5" | translate }}
        </mat-error>
      </mat-form-field>
    </ng-container>-->

    <!--<ng-container *ngIf="data.secondInputType === 'phone'; else secondNotPhone">
      <div class="global-intlTel">
        <mat-form-field
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label style="font-family: 'redhat-regular'; font-size: 15px">
            {{ data.secondInputPlaceholder | translate }}
          </mat-label>
          <input
            class="SubmitForm-input"
            required
            maxlength="10"
            minlength="10"
            formControlName="secondInput"
            matInput
            type="number"
          />
          <div matSuffix mat-button>
             <span class="material-icons" *ngIf="
                !form.get('secondInput').touched ||
                !form.get('secondInput').invalid
              ">{{ data.secondInputIcon }}</span>
            <span class="material-icons error-icon" *ngIf="
                form.get('secondInput').touched && form.get('secondInput').invalid
              ">error</span> 
          </div>-->

    <!-- <mat-error *ngIf="
              form.get('secondInput').touched &&
              form.get('secondInput').hasError('required')
            ">{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error> 
          <mat-error *ngIf="form.get('secondInput').hasError('required')">{{
            "LOG_REG.LOGIN.REQUIRED" | translate
          }}</mat-error>
          <mat-error *ngIf="form.get('secondInput').hasError('number')">{{
            "LOG_REG.LOGIN.VALIDATION1" | translate
          }}</mat-error>
        </mat-form-field>
      </div>
    </ng-container>-->

    <!--<ng-template #secondNotPhone>
      <mat-form-field
        [class.is-forgotPass]="
          activeTypeValue === AppHtmlRoutesLoginType.phoneLogin
        "
        class="global-MatField LogReg-input"
        appearance="outline"
      >
        <mat-label style="font-family: 'redhat-regular'; font-size: 15px"
          >{{ data.secondInputPlaceholder | translate }}
        </mat-label>
        <input
          formControlName="secondInput"
          matInput
          [type]="data.secondInputType"
        />
        <div matSuffix mat-button>
          <span class="material-icons">{{ data.secondInputIcon }}</span>
        </div>
         <span
          *ngIf="activeTypeValue === AppHtmlRoutesLoginType.registration"
          class="global-MatField-hint"
          (click)="changeInput(data.secondInputType)"
          >{{ "LOG_REG.REGISTER.REGISTER_BY_PHONE" | translate }}</span
        > 

        <mat-error *ngIf="form.get('secondInput').hasError('required')">{{
          "LOG_REG.LOGIN.REQUIRED" | translate
        }}</mat-error>
        <mat-error *ngIf="form.get('secondInput').hasError('email')">{{
          "LOG_REG.LOGIN.VALIDATION2" | translate
        }}</mat-error>
      </mat-form-field>
    </ng-template>-->

    <!-- <ng-container *ngIf="data.thirdInputType === 'email'">
      <mat-form-field
        class="global-MatField LogReg-input"
        appearance="outline"
      >
        <mat-label>{{ data.thirdInputPlaceholder | translate }}</mat-label>
        <input
          class="SubmitForm-input"
          formControlName="thirdInput"
          matInput
          [type]="data.thirdInputType"
        />
        <button  matSuffix mat-button>
          <span
            class="material-icons"
            *ngIf="
              !form.get('thirdInput').touched || !form.get('thirdInput').invalid
            "
            >{{ data.thirdInputIcon }}</span
          >
          <span
            class="material-icons error-icon"
            *ngIf="
              form.get('thirdInput').touched && form.get('thirdInput').invalid
            "
            >error</span
          >
        </button>
        <mat-error *ngIf="form.get('thirdInput').hasError('required')">{{
          "LOG_REG.LOGIN.REQUIRED" | translate
        }}</mat-error>
        <mat-error *ngIf="form.get('thirdInput').hasError('email')">{{
          "LOG_REG.LOGIN.VALIDATION2" | translate
        }}</mat-error>
        <mat-error *ngIf="form.get('thirdInput').hasError('minlength')">{{
          "LOG_REG.LOGIN.VALIDATION3" | translate
        }}</mat-error>
        <mat-error *ngIf="form.get('thirdInput').hasError('maxlength')">{{
          "LOG_REG.LOGIN.VALIDATION4" | translate
        }}</mat-error>
      </mat-form-field>
    </ng-container> -->

    <!--<ng-container *ngIf="data.fourthInputType === 'dob'">
      <mat-form-field class="global-MatField LogReg-input" appearance="outline">
        <mat-label style="font-family: 'redhat-regular'; font-size: 15px"
          >{{ data.fourthInputPlaceholder | translate }}
        </mat-label>
        <input
          (focus)="picker.open()"
          (dateChange)="parentalCheckBox($event)"
          [matDatepicker]="picker"
          class="SubmitForm-input"
          formControlName="fourthInput"
          matInput
          [type]="data.fourthInputType"
          [max]="todayDate"
        />
        <div matSuffix mat-button>
          <span
            class="material-icons"
            *ngIf="
              !form.get('fourthInput').touched ||
              !form.get('fourthInput').invalid
            "
            style="color: var(--white-disabled)"
            >event
            {{ data.fourthInputIcon }} 
          </span>
          <span
            class="material-icons error-icon"
            *ngIf="
              form.get('fourthInput').touched && form.get('fourthInput').invalid
            "
            >error</span
          >
        </div>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('fourthInput').hasError('required')">{{
          "LOG_REG.LOGIN.REQUIRED" | translate
        }}</mat-error>
      </mat-form-field>
    </ng-container>-->

    <ng-container *ngIf="
        activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin &&
        activeTypeValue === AppHtmlRoutesLoginType.emailLogin;
        else registration
      ">
      <div class="form-group">
        <div class="SubmitForm-checkbox SubmitForm-checkbox-remember-me">
          <mat-checkbox formControlName="privacyPolicy" color="primary" class="global-MatCheckBox pry">
            <span class="text">{{
              "LOG_REG.LOGIN.REMEMBER_ME" | translate
              }}</span>
          </mat-checkbox>
        </div>
        <div class="SubmitForm-checkbox is-forgotPass">
          <mat-checkbox *ngIf="data.checkboxLabel" formControlName="privacyPolicy" (change)="onKeepLoggedIn()"
            color="primary" class="global-MatCheckBox">
            {{ data.checkboxLabel | translate }}
          </mat-checkbox>

          <a (click)="forgot()" class="SubmitForm-checkbox-text global-IconBtn SubmitForm-forgot">
            {{ data?.forgotPass | translate }}
          </a>
        </div>
      </div>
    </ng-container>

    <ng-template #registration>
      <div>
        <!-- <img
          class="SubmitForm-arrow-icon"
          lazyLoad="assets/icons/sentences/reg.svg"
          alt="icon"
        /> -->
        <!-- <h6 style="text-align: left">Paidia pledge</h6>
        <p class="pledge">
          By creating an account on paidiagaming.com, I commit to uphold the
          values of Paidia for a brighter future in gaming: inclusion,
          integration, diversity, and kindness. I also acknowledge Paidia is a
          site that prioritizes the safety and respect of its members, and any
          form of racism, sexism, queerphobia, ableism, or other prejudices will
          not be tolerated.  Engaging in any of the listed behaviours will
          result in the termination of my account.
        </p> -->
      </div>
      <div>
        <!-- <img
          class="SubmitForm-arrow-icon"
          lazyLoad="assets/icons/sentences/reg.svg"
          alt="icon"
        /> -->
        <!-- <h6 style="text-align: left">Beta Acknowledgement</h6>
        <p class="pledge2">
          I understand that I am entering a new portal that is currently in
          build mode, and I am happy to accept the fact that I will see bugs,
          glitches, typos and everything that comes with a beta platform, and I
          am OK with that because I get to be a part of something new!
        </p> -->
      </div>
      <ng-container *ngIf="parental">
        <div class="SubmitForm-checkbox">
          <mat-checkbox formControlName="dobPolicy" (change)="onKeepdob($event)" color="primary"
            class="global-MatCheckBox">{{ "LOG_REG.REGISTER.checkboxLabelP" | translate }}</mat-checkbox>
        </div>
      </ng-container>
      <!--  <div class="SubmitForm-checkbox">
        <mat-checkbox formControlName="privacyPolicy" color="primary" class="global-MatCheckBox pry">
         {{ data.checkboxLabelP | translate }} -->
      <!-- &nbsp;
        </mat-checkbox> -->
      <!-- <mat-checkbox
          formControlName="privacyPolicy"
          color="primary"
          class="global-MatCheckBox"
          >{{ "LOG_REG.REGISTER.checkboxLabelP" | translate }}</mat-checkbox
        > 
      </div>-->
      <div class="SubmitForm-checkbox" *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin" >
        <mat-checkbox formControlName="privacyPolicy" color="primary" class="global-MatCheckBox pry">
          {{ data.checkboxLabel | translate }}
          <br class="mb-show" />
          <a (click)="goto(1)" class="text-hl">
            {{ data.checkboxLabelpp | translate }}
          </a>
          {{ "LOG_REG.REGISTER.AND" | translate }}
          <a (click)="goto(2)" class="text-hl">{{
            "LOG_REG.REGISTER.checkboxLabelpp2" | translate
            }}</a>.
        </mat-checkbox>
      </div>
    </ng-template>

    <div class="SubmitForm-submit">
      <button type="submit" class="button-icon-primary submitt" [disabled]="form.invalid"
        [class.is-edit]="form.invalid">
        <span *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.emailLogin && activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin">
          {{ "BUTTON.CREATE_MY_ACCOUNT" | translate }}
        </span>
        <span *ngIf="activeTypeValue === AppHtmlRoutesLoginType.emailLogin">
          {{ "BUTTON.LOGIN" | translate }}
        </span>
        <span *ngIf="activeTypeValue === AppHtmlRoutesLoginType.phoneLogin">
          {{ "BUTTON.LOGIN" | translate }}
        </span>
        <!-- <mat-icon> arrow_forward </mat-icon> -->
      </button>
      <!-- <div class="col">
        <img src="assets/icons/arrows/cross.svg" style="margin-left: -130%" />
      </div> -->
    </div>

    <div class="SubmitForm-footer">
      <a [routerLink]="data.footerLinkUrl" class="global-IconBtn"
        *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.emailLogin && activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin">
        {{ data.footerText | translate }}
        {{ data.footerLink | translate }}
      </a>
      <a [routerLink]="data.footerLinkUrl" class="global-IconBtn"
        *ngIf="activeTypeValue !== AppHtmlRoutesLoginType.phoneLogin && activeTypeValue === AppHtmlRoutesLoginType.emailLogin">
        {{ "LOG_REG.REGISTER.footerText2" | translate }}
      </a>
      <a [routerLink]="data.footerLinkUrl" class="global-IconBtn"
      *ngIf="activeTypeValue === AppHtmlRoutesLoginType.phoneLogin">
      {{ "LOG_REG.REGISTER.footerText2" | translate }}
    </a>
    </div>

    <!-- <div class="SubmitForm-privacyPolicy">
      <a [routerLink]="AppHtmlRoutes.privacyPolicy" class="global-IconBtn">{{
        "LOG_REG.LOGIN.PRIVACY" | translate
      }}</a>
    </div> -->
  </form>
</section>