@import "shared";

.lowercase {
   text-transform: lowercase;
}

.prefix {
   vertical-align: super;
}

.SubmitForm {
   @media (max-width: 576px) {
      .LogReg-error {
        @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
         color: var(--error-message);
      }
   }
   width: 100%;
   max-width: px2vw-xl(404px);
   @include sm {
      padding: px2vw-sm(15px) px2vw-sm(9px) 0;
      max-width: 100%;
   }
   .form-heading {
      padding-bottom: px2vw-xl(24px);
      margin-bottom: px2vw-xl(32px);
      border-bottom: px2vw-xl(1px) solid var(--full-white);
      @include sm {
         padding-bottom: px2vw-sm(17px);
         margin-bottom: px2vw-sm(26px);
      }
   }
   .form-content {
      h3.-title {
        @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
         color: var(--white);
         margin-bottom: px2vw-xl(16px);
      }
   }
   .LogReg-title {
    @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(-0.5px));
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(24px);
      @include sm {
         font-size: px2vw-sm(20px);
         line-height: px2vw-sm(28px);
      }

      &.login-title {
         margin-bottom: 0;
      }
   }
   &-arrow-icon {
      position: absolute;
      width: px2vw-xl(50px);
      height: px2vw-xl(44px);
      left: px2vw-xl(100px);
      top: px2vw-xl(476px);
      .text-hl {
         color: var(--main-color);
      }
   }
   .LogReg-subtitle {
    @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
      margin-bottom: 0;
      .text-hl {
         color: var(--light-preview-color);
      }
   }
   .text-hl {
      color: var(--googly-blue);
   }
   .error-icon {
      color: var(--color-tertiary);
   }

   &-span {
      position: absolute;
      right: px2vw-xl(10px);
      bottom: px2vw-xl(3px);
      margin-top: px2vw-xl(10px);
      font-size: 90%;
      cursor: pointer;
   }

   &-checkbox {
      margin-bottom: px2vw-xl(24px);
      color: var(--white-high);
      text-align: left;
      @include sm {
         margin-bottom: px2vw-sm(10px);
      }
      .mat-checkbox-label {
        @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
         color: var(--white);
         white-space: normal;
         margin-left: px2vw-xl(16px);
         display: inline-block;
      }
      &-text {
           @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
         color: var(--googly-blue);
         text-align: right;
      }

      &.is-forgotPass {
         @extend %u-dfCenterBtw;
      }
   }
   &-checkbox-remember-me {
      .text {
         font-weight: 600;
      }
   }
   &-input {
      border-color: var(--wet-clay);
   }

   &-submit {
      text-align: center;
      margin-bottom: px2vw-xl(20px);
   }

   &-or {
      margin-bottom: px2vw-xl(6px);
      color: var(--black-medium);

      @include lg {
         margin-bottom: px2vw-lg(6px);
      }

      @include md {
         margin-bottom: px2vw-md(6px);
      }

      @include sm {
         margin-bottom: px2vw-sm(6px);
      }
   }

   &-or-label {
      margin-bottom: px2vw-xl(60px);
      color: var(--white);

      @include lg {
         margin-bottom: px2vw-lg(60px);
      }

      @include md {
         margin-bottom: px2vw-md(60px);
      }

      @include sm {
         margin-bottom: px2vw-sm(60px);
      }
   }

   &-social {
      @extend %u-dfCenterBtw;
      margin-bottom: px2vw-xl(50px);

      @include lg {
         margin-bottom: px2vw-lg(50px);
      }

      @include md {
         margin-bottom: px2vw-md(50px);
      }

      @include sm {
         margin-bottom: px2vw-sm(50px);
      }

      &-btn {
         width: px2vw-xl(55px);
         height: px2vw-xl(55px);
         line-height: px2vw-xl(60px);
         text-align: center;
         border-radius: 50%;
         background: var(--full-white);

         @include lg {
            width: px2vw-lg(55px);
            height: px2vw-lg(55px);
            line-height: px2vw-lg(60px);
         }

         @include md {
            width: px2vw-md(55px);
            height: px2vw-md(55px);
            line-height: px2vw-md(60px);
         }

         @include sm {
            width: px2vw-sm(55px);
            height: px2vw-sm(55px);
            line-height: px2vw-sm(60px);
         }

         fa-icon {
            font-size: px2vw-xl(27px);
            color: var(--black);

            @include lg {
               font-size: px2vw-lg(27px);
            }

            @include md {
               font-size: px2vw-md(27px);
            }

            @include sm {
               font-size: px2vw-sm(27px);
            }
         }
      }
   }

   &-footer {
      text-align: center;
      margin-right: 0;
      a.global-IconBtn {
        @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
         color: var(--googly-blue);
         display: inline-block;
      }
      &-link {
        @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
         color: var(--secondary-color);
      }
   }

   &-privacy-policy {
      text-align: center;
   }

   .header-tab {
      min-width: px2vw-xl(226px);
      margin-bottom: px2vw-xl(30px);

      @include lg {
         min-width: px2vw-lg(226px);
      }

      @include md {
         min-width: px2vw-md(226px);
      }

      @include sm {
         min-width: px2vw-sm(226px);
      }
   }
}

.underline {
   text-decoration: none;
   border-bottom: var(--color-primary) px2vw-xl(2px) solid;
}
.submitt {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   left: 0px;
   top: 0px;
   padding: px2vw-xl(16px) px2vw-xl(32px);
   border-radius: px2vw-xl(6px);
   @include sm {
      padding: px2vw-sm(11px) px2vw-sm(32px);
   }
   span {
    @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
      color: var(--swamp-fog);
      text-transform: none;
   }
}
.reg {
  @include textStyleSet(var(--selected-font-family),normal,500,px2vw-xl(14px),px2vw-xl(20px),px2vw-xl(0.5px));
   color: var(--color-secondary);
}
.pry {
   color: var(--full-white);
}
.pledge {
   height: px2vw-xl(217px);
   width: px2vw-xl(408px);
   left: px2vw-xl(875px);
   top: px2vw-xl(544px);
   @include textStyleSet(var(--selected-font-family),normal,400,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0px));
   text-align: left;
   padding: px2vw-xl(7px);
   border: px2vw-xl(1px) solid var(--full-white);
   border-radius: px2vw-xl(4px);
   color: var(--white-disabled);
}
.pledge2 {
   height: px2vw-xl(135px);
   width: px2vw-xl(408px);
   left: px2vw-xl(875px);
   @include textStyleSet(var(--selected-font-family),normal,400,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0px));
   text-align: left;
   padding: px2vw-xl(7px);
   border: px2vw-xl(1px) solid var(--full-white);
   border-radius: px2vw-xl(4px);
   color: var(--white-disabled);
}

.button-icon-primary {
   border-color: var(--googly-yellow);
   background: var(--googly-yellow);
}
.button-icon-primary:disabled {
   border-color: var(--spacesuit);
   background: var(--spacesuit);
}

.button-icon-primary:valid {
   border-color: var(--googly-yellow);
   background: var(--googly-yellow);
   span {
      color: var(--darkest-night);
   }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
   -webkit-text-fill-color:var(--full-white);
}
.form-group {
   display: -webkit-flex;
   display: flex;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   width: 100%;
   margin-bottom: 0;
   &.group-password {
      margin-bottom: px2vw-xl(20px);

      @include sm {
         margin-bottom: 0;
      }
      .mat-error {
        @include textStyleSet(var(--selected-font-family),normal,500,px2vw-xl(14px),px2vw-xl(20px),px2vw-xl(0.5px));
           color: var(--white);
      }
   }
   .form-item {
      position: relative;
      width: 100%;

      &.item-half {
         max-width: calc(50% - 8px);
         @include sm {
            max-width: 100%;
         }
      }
   }
   .form-label {
    @include textStyleSet(var(--selected-font-family),normal,600,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
      display: flex;
      align-items: flex-end;
      color: var(--concrete);
      display: block;
   }
   .form-field {
    @include textStyleSet(var(--selected-font-family),normal,400,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
      color: var(--spacesuit);
      width: 100%;
      border-radius: px2vw-xl(4px);
      margin: 0;
      &::placeholder {
         color: var(--spacesuit);
      }

      &:hover:not(:focus) {
         opacity: 0.8;
      }
   }
}
::ng-deep .mat-form-field-appearance-outline {
   margin-bottom: 0 !important;
   .mat-form-field-outline {
      top: px2vw-xl(4px) !important;
   }
   .mat-form-field-wrapper {
      margin: 0 !important;
      padding: 0 0 px2vw-xl(15px);
   }
   .mat-form-field-outline-gap,
   .mat-form-field-outline-end,
   .mat-form-field-outline-start {
      border-color: var(--wet-clay) !important;
      border-width: px2vw-xl(2px) !important;
   }
   .mat-form-field-outline-thick {
      .mat-form-field-outline-gap,
      .mat-form-field-outline-end,
      .mat-form-field-outline-start {
         background: var(--wet-clay);
         border-width: px2vw-xl(2px) !important;
      }
   }
   .mat-form-field-flex {
      padding: 0 !important;
      margin-top: 0 !important;
   }
   .mat-form-field-infix {
      padding: px2vw-xl(14px) px2vw-xl(16px);
      width: 100%;
      margin: 0;
      border: none;
      @include sm {
         padding: px2vw-sm(15px) px2vw-sm(16px);
      }
      .icon {
         position: absolute;
         right: px2vw-xl(16px);
      }
   }
}
::ng-deep .mat-checkbox {
   .mat-checkbox-layout {
      align-items: flex-start !important;
      .mat-checkbox-inner-container {
         margin-top: 0 !important;
         height: px2vw-xl(24px) !important;
         width: px2vw-xl(24px) !important;
         box-sizing: border-box;
         border-radius: px2vw-xl(4px);
      }
      .mat-checkbox-ripple {
         left: 0;
         top: 0;
         height: px2vw-xl(24px);
         width: px2vw-xl(24px);
      }
   }
   .mat-checkbox-label {
    @include textStyleSet(var(--selected-font-family),normal,500,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
      color: var(--full-white);
      white-space: normal;
      margin-left: px2vw-xl(16px);
      display: inline-block;
   }
   &-text {
     @include textStyleSet(var(--selected-font-family),normal,500,px2vw-xl(14px),px2vw-xl(20px),px2vw-xl(0px));
      text-align: right;
      color: var(--color-secondary);
   }
}

.form-group .form-item.one-third {
	max-width: calc(30% - 8px);
}
.form-group .form-item.one-seven {
   max-width: calc(70% - 8px);
}
.cust-form .form-control {
   border: px2vw-xl(2px) solid var(--wet-clay);
   @include textStyleSet(var(--selected-font-family),normal,500,px2vw-xl(16px),px2vw-xl(24px),px2vw-xl(0.5px));
    color: var(--full-white);
    width: 100%;
    border-radius: px2vw-xl(5px);
    margin: 0;
    padding: px2vw-xl(4px) px2vw-xl(12px);
    height: px2vw-xl(44px);
}
.cust-form {
   padding: 0 0 px2vw-xl(2px);
}
.cust-form .form-label {
   margin-bottom: px2vw-xl(4px);
   padding: 0;
}
.cust-form .form-control:focus {
    border-color: var(--wet-clay) !important;
    background: var(--blackcurrant-color-medium);
}
.cust-form select option {
   color: var(--full-white);
}
