@import "shared";

:host {
  display: block;
}

.CardsStatistic {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: px2vw-xl(8px);
  grid-row-gap: px2vw-xl(8px);

  @include lg {
    grid-column-gap: px2vw-lg(8px);
    grid-row-gap: px2vw-lg(8px);
  }

  @include md {
    grid-column-gap: px2vw-md(8px);
    grid-row-gap: px2vw-md(8px);
  }

  @include sm {
    grid-column-gap: px2vw-sm(8px);
    grid-row-gap: px2vw-sm(8px);
  }

  &-item {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(15px);
    background: var(--gradient-bg);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(15px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(15px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(15px);
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-value {
    @extend %subtitle-1;
    margin-bottom: 0;
  }
}
