@import "shared";

.container-winners {
  margin-top: 10px;
  border-radius: 5px;
  padding: 44px 0 116px;
  .title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--tertiary-color);
    padding: 8px 0;
  }

  .award {
    display: flex;
    gap: 16px 16px;
    @include sm {
      width: 100%;
      margin: 0 auto;
      flex-direction: column;
    }
    &-item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 8px;
      border: 2px solid;
      width: 208px;
      @include sm{
        width: 100%;
      }
      &-header{
        padding-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--blackcurrant-color-medium);
        width: 100%;
        border-radius: 8px 8px 0 0;
        &-image{
          width: 44px;
          height: 48px;
          background-repeat: no-repeat;
          background-size: 100%;
        }
        .award-item-place {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          color: var(--white);
          padding: 8px 0 16px;
        }
      }
      .award-user-infor {
        padding: 8px 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 8px;
        &-image {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: 100%;
        }
        .user-infor {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          margin: 0 auto;
          color: var(--white);
        }
      }

    }
    .gold {
      border-color: var(--first-place);
      background-color: var(--first-place);
    }
    .silver {
      border-color: var(--color-black-medium);
      background-color: var(--color-black-medium);
    }
    .bronzed {
      border-color: var(--third-place);
      background-color: var(--third-place);
    }
  }
}
