<div class="elimination__container">
  <div class="ngtt-se__bracket-wrapper">
    <ng-container
      *ngFor="let round of tournament | keyvalue | numberSort; let i = index"
    >
      <div class="ngtt-se__round-wrapper">
        <ng-container *ngFor="let match of round.value">
          <div
            class="ngtt-se__match-wrapper"
            [class.thirdPlaceMatch]="match.isThirdPlaceMatch"
          >
            <div class="ngtt-se__match-component-container">
              <div
                class="match__no"
                [ngClass]="{ 'hide-block': !match?.matchNo }"
              >
                *{{ match?.matchNo || 0 }}
              </div>
              <ng-container
                *ngTemplateOutlet="matchTemplate; context: { $implicit: match }"
              ></ng-container>
            </div>
            <div class="line"></div>
            <div class="join"></div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
