<div class="Logout-modal">
  <div class="modal-header">
    <h5 class="global-Title2">
      {{ "ELIMINATION.REPORT_SCORE" | translate }}
    </h5>
  </div>
  <div class="report">
    <mat-icon class="icon-info">info</mat-icon>
    <p class="info">{{ "ELIMINATION.REPORT_SCORE_TEXT" | translate }}</p>
  </div>
  <app-score-card
    *ngIf="data && data?.match"
    [match]="data?.match"
    [isEventOrganizerOrAdmin]="data?.isEventOrganizerOrAdmin"
    [isShowTitle]="false"
    [isShowChat]="false"
    [isShowReportBtn]="false"
    [isShowDisqualifySection]="false"
    [participantId]="data?.participantId"
    [tournament]="data?.match?.tournamentId"
    (exit)="exitFromScoreCard($event)"
  >
  </app-score-card>
</div>
