@import "shared";

:host {
  display: block;
}

.GameStatistic {
  border-top: 1px solid var(--white-smoke);
  border-bottom: 1px solid var(--white-smoke);

  @include xl {
    border-top-width: px2vw-xl(1px);
    border-bottom-width: px2vw-xl(1px);
  }

  @include lg {
    border-top-width: px2vw-lg(1px);
    border-bottom-width: px2vw-lg(1px);
  }

  @include md {
    border-top-width: px2vw-md(1px);
    border-bottom-width: px2vw-md(1px);
  }

  @include sm {
    border-top-width: px2vw-sm(1px);
    border-bottom-width: px2vw-sm(1px);

  }

  &-preview {
    @extend %u-dfCenter;
    padding: 24px 0;
    width: 100%;

    @include xl {
      padding: px2vw-xl(24px) 0;
    }

    @include lg {
      padding: px2vw-lg(24px) 0;
    }

    @include md {
      padding: px2vw-md(24px) 0;
    }

    @include sm {
      padding: px2vw-sm(24px) 0;
    }

    &:hover {
      .about {
        opacity: 0.8;
      }
    }
  }

  &-preview-image-block {
    @extend %u-dfCenterCenter;
    margin-right: 24px;
    padding: 5px 7px;
    height: 72px;
    width: 72px;

    @include xl {
      margin-right: px2vw-xl(24px);
      padding: px2vw-xl(5px) px2vw-xl(7px);
      height: px2vw-xl(72px);
      width: px2vw-xl(72px);
    }

    @include lg {
      margin-right: px2vw-lg(24px);
      padding: px2vw-lg(5px) px2vw-lg(7px);
      height: px2vw-lg(72px);
      width: px2vw-lg(72px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      padding: px2vw-md(5px) px2vw-md(7px);
      height: px2vw-md(72px);
      width: px2vw-md(72px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      padding: px2vw-sm(5px) px2vw-sm(7px);
      height: px2vw-sm(72px);
    }
  }

  &-preview-image {
    ::ng-deep svg {
      width: 100%;

      path {
        fill: var(--white-medium);
        transition: $global-transition2;
      }
    }

    &.active ::ng-deep svg path {
      fill: var(--color-secondary);
    }
  }

  &-preview-about {
    transition: $global-transition2;
  }

  &-preview-name {
    @extend %global-H6;
    margin-bottom: 8px;
    color: var(--white);

    @include xl {
      margin-bottom: px2vw-xl(8px);
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-preview-statistic {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-content {
    padding-top: 32px;

    @include xl {
      padding-top: px2vw-xl(32px);
    }

    @include lg {
      padding-top: px2vw-lg(32px);
    }

    @include md {
      padding-top: px2vw-md(32px);
    }

    @include sm {
      padding-top: px2vw-sm(32px);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin-bottom: 56px;

    @include xl {
      grid-template-columns: repeat(3, px2vw-xl(320px));
      grid-column-gap: px2vw-xl(16px);
      grid-row-gap: px2vw-xl(16px);
      margin-bottom: px2vw-xl(56px);
    }

    @include lg {
      grid-template-columns: repeat(3, px2vw-lg(320px));
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
      margin-bottom: px2vw-lg(56px);
    }

    @include md {
      grid-template-columns: repeat(3, px2vw-md(320px));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
      margin-bottom: px2vw-md(56px);
    }

    @include sm {
      grid-template-columns: repeat(2, px2vw-sm(320px));
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(16px);
      margin-bottom: px2vw-sm(56px);
    }
  }

  &-card {
    border: 1px solid var(--white-light);
    border-radius: 4px;
    background: var(--gradient-bg);

    @include xl {
      border-width: px2vw-xl(1px);
      border-radius: px2vw-xl(4px);
    }

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
    }

    &.number-of-losses .icon {
      color: var(--color-sunset-orange);
    }
  }

  &-card-header {
    @extend %u-dfCenter;
    border-bottom: 1px solid var(--white-light);
    padding: 14px 16px;

    @include xl {
      border-bottom-width: px2vw-xl(1px);
      padding: px2vw-xl(14px) px2vw-xl(16px);
    }

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(14px) px2vw-lg(16px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(14px) px2vw-md(16px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(14px) px2vw-sm(16px);
    }
  }

  &-card-header-icon {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: 12px;
    height: 28px;
    width: 28px;
    font-size: 24px;
    color: var(--color-primary);

    @include xl {
      margin-right: px2vw-xl(12px);
      height: px2vw-xl(28px);
      width: px2vw-xl(28px);
      font-size: px2vw-xl(24px);
    }

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(28px);
      width: px2vw-lg(28px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(28px);
      width: px2vw-md(28px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(28px);
      width: px2vw-sm(28px);
      font-size: px2vw-sm(24px);
    }
  }

  &-card-header-image {
    &.swords {
      height: 20px;
      width: 21px;

      @include xl {
        height: px2vw-xl(20px);
        width: px2vw-xl(21px);
      }

      @include lg {
        height: px2vw-lg(20px);
        width: px2vw-lg(21px);
      }

      @include md {
        height: px2vw-md(20px);
        width: px2vw-md(21px);
      }

      @include sm {
        height: px2vw-sm(20px);
        width: px2vw-sm(21px);
      }
    }

    &.acid {
      height: 24px;
      width: 21px;

      @include xl {
        height: px2vw-xl(24px);
        width: px2vw-xl(21px);
      }

      @include lg {
        height: px2vw-lg(24px);
        width: px2vw-lg(21px);
      }

      @include md {
        height: px2vw-md(24px);
        width: px2vw-md(21px);
      }

      @include sm {
        height: px2vw-sm(24px);
        width: px2vw-sm(21px);
      }
    }

    &.gold-star {
      height: 24px;
      width: 24px;

      @include xl {
        height: px2vw-xl(24px);
        width: px2vw-xl(24px);
      }

      @include lg {
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }

      @include md {
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }

      @include sm {
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }
    }
  }

  &-card-header-title {
    @extend %subtitle-1;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-card-info {
    padding: 23px;

    @include xl {
      padding: px2vw-xl(23px);
    }

    @include lg {
      padding: px2vw-lg(23px);
    }

    @include md {
      padding: px2vw-md(23px);
    }

    @include sm {
      padding: px2vw-sm(23px);
    }
  }

  &-card-value {
    @extend %global-H4;
    margin-bottom: 0;
  }

  &-chart {
    margin-bottom: 56px;

    @include xl {
      margin-bottom: px2vw-xl(56px);
    }

    @include lg {
      margin-bottom: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(56px);
    }
  }

  &-chart-title {
    @extend %global-H5;
    margin-bottom: 40px;

    @include xl {
      margin-bottom: px2vw-xl(40px);
    }

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-chart-block {
    position: relative;
    margin-bottom: 16px;
    padding-left: 35px;

    @include xl {
      margin-bottom: px2vw-xl(16px);
      padding-left: px2vw-xl(35px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
      padding-left: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      padding-left: px2vw-md(35px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      padding-left: px2vw-sm(35px);
    }
  }

  &-chart-heading {
    @extend %global-H8;
    margin-bottom: 0;
    color: var(--white-medium);

    &.matches {
      position: absolute;
      left: -32px;
      top: 50%;
      transform: rotate(270deg) translateX(50%);

      @include xl {
        left: px2vw-xl(-32px);
      }

      @include lg {
        left: px2vw-lg(-32px);
      }

      @include md {
        left: px2vw-md(-32px);
      }

      @include sm {
        left: px2vw-sm(-32px);
      }
    }

    &.kills {
      text-align: center;
    }
  }

  &-matches-title {
    @extend %global-H5;
    margin-bottom: 8px;

    @include xl {
      margin-bottom: px2vw-xl(8px);
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-match {
    @extend %u-dfCenter;
    border-bottom: 1px solid var(--white-smoke);
    padding: 24px 0;

    @include xl {
      border-bottom-width: px2vw-xl(1px);
      padding: px2vw-xl(24px) 0;
    }

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(24px) 0;
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(24px) 0;
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(24px) 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &-match-image {
    flex-shrink: 0;
    margin-right: 16px;
    height: 72px;
    width: 143px;
    background-size: cover;
    background-color: var(--black);

    @include xl {
      margin-right: px2vw-xl(16px);
      height: px2vw-xl(72px);
      width: px2vw-xl(143px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(72px);
      width: px2vw-lg(143px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(72px);
      width: px2vw-md(143px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(72px);
      width: px2vw-sm(143px);
    }
  }

  &-match-about {
    margin-right: 18px;
    max-width: 320px;
    width: 100%;

    @include xl {
      margin-right: px2vw-xl(18px);
      max-width: px2vw-xl(320px);
    }

    @include lg {
      margin-right: px2vw-lg(18px);
      max-width: px2vw-lg(320px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      max-width: px2vw-md(320px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      max-width: px2vw-sm(320px);
    }
  }

  &-match-head {
    @extend %u-dfCenter;
    margin-bottom: 8px;

    @include xl {
      margin-bottom: px2vw-xl(8px);
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-match-level {
    @extend %subtitle-1;
    margin-right: 12px;
    margin-bottom: 0;
    background-color: var(--color-secondary);
    padding: 4px;
    line-height: 1;
    color: var(--black);

    @include xl {
      margin-right: px2vw-xl(12px);
      padding: px2vw-xl(4px);
    }

    @include lg {
      margin-right: px2vw-lg(12px);
      padding: px2vw-lg(4px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      padding: px2vw-md(4px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      padding: px2vw-sm(4px);
    }
  }

  &-match-title {
    @extend %global-H6;
    margin-bottom: 0;
  }

  &-match-subtitle {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-match-details {
    margin-right: 18px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: 1fr;
    grid-column-gap: 32px;
    grid-row-gap: 0;

    @include xl {
      margin-right: px2vw-xl(18px);
      grid-column-gap: px2vw-xl(32px);
    }

    @include lg {
      margin-right: px2vw-lg(18px);
      grid-column-gap: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      grid-column-gap: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      grid-column-gap: px2vw-sm(32px);
    }
  }

  &-match-detail {
    text-align: center;
  }

  &-match-detail-title {
    @extend %subtitle-2;
    margin-bottom: 12px;
    color: var(--white-medium);

    @include xl {
      margin-bottom: px2vw-xl(12px);
    }

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-match-detail-value {
    @extend %global-H6;
  }

  &-match-result {
    @extend %u-dfCenter;
    margin-left: auto;
    align-self: flex-start;
  }

  &-match-result-icon {
    &.win {
      margin-right: 12px;
      height: 21px;
      width: 16px;

      @include xl {
        margin-right: px2vw-xl(12px);
        height: px2vw-xl(21px);
        width: px2vw-xl(16px);
      }

      @include lg {
        margin-right: px2vw-lg(12px);
        height: px2vw-lg(21px);
        width: px2vw-lg(16px);
      }

      @include md {
        margin-right: px2vw-md(12px);
        height: px2vw-md(21px);
        width: px2vw-md(16px);
      }

      @include sm {
        margin-right: px2vw-sm(12px);
        height: px2vw-sm(21px);
        width: px2vw-sm(16px);
      }
    }

    &.lose {
      margin-right: 10px;
      height: 21px;
      width: 20px;

      @include xl {
        margin-right: px2vw-xl(10px);
        height: px2vw-xl(21px);
        width: px2vw-xl(20px);
      }

      @include lg {
        margin-right: px2vw-lg(10px);
        height: px2vw-lg(21px);
        width: px2vw-lg(20px);
      }

      @include md {
        margin-right: px2vw-md(10px);
        height: px2vw-md(21px);
        width: px2vw-md(20px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
        height: px2vw-sm(21px);
        width: px2vw-sm(20px);
      }
    }
  }

  &-match-result-text {
    @extend %global-H6;

    &.win {
      color: var(--color-primary);
    }

    &.lose {
      color: var(--white-disabled);
    }
  }

  ::ng-deep {
    .mat-accordion .mat-expansion-indicator::after {
      color: var(--white);
    }
  }

  @include sm {
    .GameStatistic-chart {
      margin-left: px2vw-sm(-4px);
    }

    .GameStatistic-matches-title {
      margin-left: px2vw-sm(-4px);
    }

    .GameStatistic-preview {
      margin-left: px2vw-sm(2px);
    }

    // .GameStatistic{
    //   margin-left: px2vw-sm(-62px);
    // }
  }

  @include sm {
    .GameStatistic .GameStatistic-card {
      height: px2vw-sm(75px);
      width: 72%;
    }
  }

  @include sm {
    .GameStatistic-cards {
      grid-template-columns: repeat(2, 49%);
      grid-column-gap: px2vw-sm(8px);
      width: 100%;
    }

    .GameStatistic {
      width: 100%;
    }
  }
}