<header class="TournamentsCreated-header">
  <h1 class="TournamentsCreated-header-title">
    {{ "PROFILE.TOURNAMENT_CREATED.TITLE" | translate }}
  </h1>
</header>

<section class="TournamentsCreated-table">
  <div class="TournamentsCreated-table-toggles global-MatToggles" ngbNav (navChange)="navChanges($event)" #nav="ngbNav"
    [(activeId)]="active">
    <!-- ONGOING -->
    <div class="TournamentsCreated-table-toggle" [ngbNavItem]="2">
      <a class="TournamentsCreated-table-toggle-link" ngbNavLink>
        {{ "PROFILE.TOURNAMENT_CREATED.TABLE.ONGOING" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <app-tournaments-table *ngIf="tournaments.length" [tournaments]="tournaments" [isCardManage]="true">
        </app-tournaments-table>
      </ng-template>
    </div>

    <!-- UPCOMING -->
    <div class="TournamentsCreated-table-toggle" [ngbNavItem]="1">
      <a class="TournamentsCreated-table-toggle-link" ngbNavLink>
        {{ "PROFILE.TOURNAMENT_CREATED.TABLE.UPCOMING" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <app-tournaments-table *ngIf="tournaments.length" [tournaments]="tournaments" [isCardManage]="true">
        </app-tournaments-table>
      </ng-template>
    </div>

    <!-- PAST -->
    <div class="TournamentsCreated-table-toggle" [ngbNavItem]="3">
      <a class="TournamentsCreated-table-toggle-link" ngbNavLink>
        {{ "PROFILE.TOURNAMENT_CREATED.TABLE.PAST" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <app-tournaments-table *ngIf="tournaments.length" [tournaments]="tournaments" [isCardManage]="true">
        </app-tournaments-table>
      </ng-template>
    </div>
  </div>

  <div class="TournamentsCreated-table-content" [ngbNavOutlet]="nav"></div>
</section>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
