<div class="TournamentImage" [formGroup]="customFormGroup">
  <h2 class="TournamentImage-title">
    {{ (title ? title : "CREATE_TEAM.ICON.TITLE") | translate }}
  </h2>

  <h3 class="TournamentImage-subtitle">
    {{
     "Recommended size: 1000px by 1000px"
        | translate
    }}
  </h3>

  <label class="TournamentImage-label" [for]="id">
    <div class="TournamentImage-label-block">
      <img
        class="TournamentImage-label-preview"
        *ngIf="(customFormGroup?.controls)[customFormControlName]?.value"
        [src]="imgurl"
        formationLazyImage
      />

      <ng-container
        *ngIf="
          !isProcessing &&
          !(customFormGroup?.controls)[customFormControlName]?.value
        "
      >
        <div class="TournamentImage-info">
          <img
            class="TournamentImage-info-icon"
            src="assets/icons/thumbnail.svg"
            alt="upload icon"
          />
          <h3 class="TournamentImage-info-title">
            {{ "CREATE_TOURNAMENT.DETAILS.IMAGE.INFO_TEXT_1" | translate }}
          </h3>

          <p class="TournamentImage-info-text">
            {{ "CREATE_TOURNAMENT.DETAILS.IMAGE.INFO_TEXT_2" | translate }}
          </p>
        </div>
      </ng-container>
    </div>
  </label>

  <input
    (change)="eventChange($event)"
    style="display: none"
    [id]="id"
    #banner
    type="file"
    accept="image/jpeg, image/jpg, image/png"
    aria-describedby="inputGroupFileAddon01"
  />
</div>

<div
  *ngIf="
    (customFormGroup?.controls)[customFormControlName]?.touched &&
    (customFormGroup?.controls)[customFormControlName].errors
  "
>
  {{
    (customFormGroup?.controls)[customFormControlName].errors
      | errorPipe
      | translate
  }}
</div>
