<div clas="Comments">
  <h3 class="Comments-title">
    {{ "DISCUSSION.COMMENTS" | translate }} ({{ comments.length }})
  </h3>

  <button class="Comments-show-hide" (click)="
      collapseOrExpand =
        collapseOrExpand == VisibilityState.Visible
          ? VisibilityState.Hidden
          : VisibilityState.Visible
    " [class.is-active]="collapseOrExpand == VisibilityState.Visible" [disabled]="!comments.length">
    {{
    (collapseOrExpand == VisibilityState.Visible
    ? "DISCUSSION.HIDE_CMT"
    : "DISCUSSION.SHOW_CMT"
    ) | translate
    }}
  </button>

  <ul class="Comments-list" *ngIf="comments.length" [@toggleOpacity]="collapseOrExpand">
    <ng-template #recursiveList let-comments>
      <ng-container *ngFor="let comment of comments">
        <li class="Comments-item" [class.replies]="comment.replies">
          <div class="Comments-item-image" [lazyLoad]="comment.user.profilePicture"></div>

          <div class="Comments-item-content">
            <header class="Comments-item-header">
              <div class="Comments-item-header-author">
                <h4 class="Comments-item-header-name">
                  {{ comment.user.fullName }}
                </h4>

                <p class="Comments-item-header-date">
                  {{ comment?.modifiedOn | amTimeAgo }}
                </p>
              </div>

              <button class="Comments-item-header-menu" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <!-- <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>
                  <mat-icon>person_add</mat-icon>
                  <span>Follow</span>
                </button>
                <button mat-menu-item >
                  <mat-icon>chat_bubble_outline</mat-icon>
                  <span>Remove comment</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>delete</mat-icon>
                  <span>Remove comment</span>
                </button>
              </mat-menu> -->

              <mat-menu class="global-MatMenu team-card" #menu="matMenu" xPosition="before">
                <div class="Comments-manage-menu menu">
                  <!-- chat  -->
                  <a class="Comments-manage-menu-link link" >
                    <mat-icon class="icon"> chat_bubble_outline </mat-icon>
                    <span class="text">
                      Chat
                    </span>
                  </a>
                  <!-- follow -->
                  <a class="Comments-manage-menu-link link" >
                    <mat-icon class="icon">person_add </mat-icon>
                    <span class="text">
                      Follow
                    </span>
                  </a>
                </div>
              </mat-menu>
            </header>

            <div class="Comments-item-block">
              <p class="Comments-item-message">
                {{ comment.comment }}
              </p>

              <div class="Comments-item-controls">
                <!-- Like -->
                <div class="Comments-item-control">
                  <mat-icon class="Comments-item-control-icon like" [class.is-active]="comment.type === 1">
                    {{ comment?.type === 1 ? "favorite" : "favorite_border" }}
                  </mat-icon>

                  <span class="Comments-item-control-value">
                    {{ comment?.totalLikes }}
                  </span>
                </div>

                <!-- Comments -->
                <div class="Comments-item-control">
                  <mat-icon class="Comments-item-control-icon">
                    chat_bubble_outline
                  </mat-icon>
                  <span class="Comments-item-control-value">
                    {{ comment?.totalReplies }}
                  </span>
                </div>

                <!-- Replies -->
                <div class="Comments-item-control">
                  <button class="Comments-item-control-reply" (click)="comment.openReply = !comment?.openReply">
                    {{ "BUTTON.REPLY" | translate }}
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf="comment.replies?.length">
              <ng-container *ngTemplateOutlet="
                  recursiveList;
                  context: { $implicit: comment.replies }
                "></ng-container>
            </div>

            <!-- REPLY COMMENT -->
            <div class="Comments-comment-reply" *ngIf="comment.openReply">
              <app-comment [isReplying]="true"></app-comment>
            </div>
          </div>
        </li>
      </ng-container>
    </ng-template>

    <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: comments }"></ng-container>
  </ul>

  <!-- <div class="Comments-please-login" *ngIf="false">
    <app-need-login></app-need-login>
  </div> -->

  <!-- <div class="Comments-add">
    <h3 class="Comments-add-title">
      {{ "DISCUSSION.POST_COMMENT" | translate }}
    </h3>

    <app-comment></app-comment>
  </div> -->
</div>
