<div class="Games-sectionA" *ngIf="isBrowser">
  <h2 class="Games-sectionA-title global-Title2">
    {{ "GAME.GAMES" | translate }}
  </h2>
  <div class="Games-sectionA-content">
    <img
      class="Games-sectionA-image-banner"
      src="assets/images/Games/gamer-top-banner.png"
      alt="games"
    />
    <div class="Games-sectionA-steps">
      <h3 class="Games-sectionA-steps-title global-Title2">
        {{ "GAME.START_STEPS" | translate }}
      </h3>
      <ul class="Games-sectionA-steps-list" *ngIf="false">
        <li class="Games-sectionA-steps-item">
          <span class="Games-sectionA-steps-number">1.</span>
          {{ "GAME.STEPS_1" | translate }}
        </li>
        <li class="Games-sectionA-steps-item">
          <span class="Games-sectionA-steps-number">2.</span>
          {{ "GAME.STEPS_2" | translate }}
        </li>
        <li class="Games-sectionA-steps-item">
          <span class="Games-sectionA-steps-number">3.</span>
          {{ "GAME.STEPS_3" | translate }}
        </li>
      </ul>
      <button
        class="Games-sectionA-steps-button global-EditBtn"
        (click)="pushGTMTags('View_Game_Preference')"
        routerLink="/profile/profile-setting"
      >
        {{ "GAME.SELECT" | translate }}
      </button>
    </div>
  </div>
</div>

<div class="Games-sectionB" *ngIf="isBrowser">
  <h2 class="Games-sectionB-title global-Title2">
    {{ "GAMES.TITLE" | translate }}
  </h2>
  <div class="Admin-searchBox">
    <div class="Admin-search searchButton">
      <mat-icon>search</mat-icon>
      <input
        (keyup)="searchByValueFilter($event)"
        placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
      />
    </div>
  </div>
  <div class="Games-sectionB-cards" *ngIf="gameList.length">
    <div
      class="Games-sectionB-card"
      *ngFor="let game of gameList; let i = index"
    >
      <div class="Games-sectionB-card-image-block">
        <img
          class="Games-sectionB-card-image"
          [src]="game.image ? game.image : './assets/images/Home/top1.png'"
          alt="image"
        />
        <div class="Games-sectionB-card-image-block-button text-center">
          <button
            class="Games-card-button global-EditBtn is-small"
            (click)="openDialog(game, i)"
          >
            {{ "GAMES.HOVER.BTN1" | translate }}
          </button>
        </div>
      </div>
      <p class="Games-sectionB-card-game global-Elipses">
        {{ game.name }}
      </p>
    </div>
  </div>
  <p *ngIf="!gameList?.length" class="Ladder-standing-no-data">
    {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
  </p>
</div>
