@import "shared";
.create-post {
  position: relative;
  background: var(--gradient-bg);
  border: 1px solid var(--white-light);
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 16px;

  @include xl {
    border-width: px2vw-xl(1px);
    border-radius: px2vw-xl(8px);
    margin-bottom: px2vw-xl(16px);
  }

  @include lg {
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(8px);
    margin-bottom: px2vw-lg(16px);
  }

  @include md {
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(8px);
    margin-bottom: px2vw-md(16px);
  }

  @include sm {
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(8px);
    margin-bottom: px2vw-sm(16px);
  }
  &-content {
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid var(--white-light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 16px;
    margin: 0 16px;
    max-width: calc(100% - 32px);

    @include xl {
      padding: px2vw-xl(16px) px2vw-xl(0px);
      border-bottom-width: px2vw-xl(1px);
      margin: px2vw-xl(0px) px2vw-xl(16px);
      gap: px2vw-xl(0px) px2vw-xl(16px);
    }

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(0px);
      border-bottom-width: px2vw-lg(1px);
      margin: px2vw-lg(0px) px2vw-lg(16px);
      gap: px2vw-lg(0px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(0px);
      border-bottom-width: px2vw-md(1px);
      margin: px2vw-md(0px) px2vw-md(16px);
      gap: px2vw-md(0px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(0px);
      border-bottom-width: px2vw-sm(1px);
      margin: px2vw-sm(0px) px2vw-sm(16px);
      gap: px2vw-sm(0px) px2vw-sm(16px);
      border: none;
    }

    .box-avatar {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;

        @include lg {
          width: px2vw-lg(40px);
          height: px2vw-lg(40px);
        }

        @include md {
          width: px2vw-md(40px);
          height: px2vw-md(40px);
        }

        @include sm {
          width: px2vw-sm(40px);
          height: px2vw-sm(40px);
        }
      }
    }
    .input-post {
      background-color: var(--color-background);
      padding: 8px 16px;
      width: 624px;
      height: 43px;
      background: var(--color-background);
      border: 1px solid var(--white-light);
      box-sizing: border-box;
      border-radius: 20px;

      @include xl {
        height: px2vw-xl(43px);
        padding: px2vw-xl(8px) px2vw-xl(16px);
        border-width: px2vw-xl(1px);
        border-radius: px2vw-xl(20px);
      }

      @include lg {
        height: px2vw-lg(43px);
        padding: px2vw-lg(8px) px2vw-lg(16px);
        border-width: px2vw-lg(1px);
        border-radius: px2vw-lg(20px);
      }

      @include md {
        height: px2vw-md(43px);
        padding: px2vw-md(8px) px2vw-md(16px);
        border-width: px2vw-md(1px);
        border-radius: px2vw-md(20px);
      }

      @include sm {
        height: px2vw-sm(43px);
        padding: px2vw-sm(8px) px2vw-sm(16px);
        border-width: px2vw-md(1px);
        border-radius: px2vw-sm(20px);
      }

      input {
        font-size: 16px;
        font-style: normal !important;
        font-weight: normal !important;
        font-family: "redhat-regular";
        color: var(--white-medium);
        width: 100%;
        background-color: transparent;

        @include xl {
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
        }

        @include lg {
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }
      }
      .input::placeholder {
        color: var(--white-medium) !important;
      }
    }
  }
  .wap-action {
    width: 100%;
    max-width: calc(100% - 32px);
    padding: 16px 0;
    margin: 0 auto;

    @include xl {
      padding: px2vw-xl(16px) px2vw-xl(0px);
    }

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(0px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(0px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(0px);
      display: none;
    }

    .action-ground {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      align-items: center;
      .action-item {
        margin-right: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @include xl {
          margin-right: px2vw-xl(24px);
        }

        @include lg {
          margin-right: px2vw-lg(24px);
        }

        @include md {
          margin-right: px2vw-md(24px);
        }

        @include sm {
          margin-right: px2vw-xl(24px);
        }

        &:last-child {
          margin: 0;

          @include xl {
            margin-right: px2vw-xl(0px);
          }

          @include lg {
            margin-right: px2vw-lg(0px);
          }

          @include md {
            margin-right: px2vw-md(0px);
          }

          @include sm {
            margin-right: px2vw-xl(0px);
          }
        }
        .icon {
          display: inline-block;
          margin-right: 9px;

          @include xl {
            margin-right: px2vw-xl(9px);
          }

          @include lg {
            margin-right: px2vw-lg(9px);
          }

          @include md {
            margin-right: px2vw-md(9px);
          }

          @include sm {
            margin-right: px2vw-xl(9px);
          }
          img {
            width: 24px;
            height: 24px;

            @include xl {
              width: px2vw-xl(24px);
              height: px2vw-xl(24px);
            }

            @include lg {
              width: px2vw-lg(24px);
              height: px2vw-lg(24px);
            }

            @include md {
              width: px2vw-md(24px);
              height: px2vw-md(24px);
            }

            @include sm {
              width: px2vw-sm(24px);
              height: px2vw-sm(24px);
            }
          }
        }
        .text {
          // font-style: normal;
          font-weight: normal;
          font-family: "redhat-regular";
          font-size: 16px;
          line-height: 24px;
          color: var(--white-medium);

          @include xl {
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
          }

          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }

          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }

          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
        .action-react {
          display: flex;
          align-items: center;
          cursor: pointer;
          .icon {
            border: 2px solid var(--color-secondary);
            padding: 7px 3px;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            height: 24px;
            width: 24px;

            @include xl {
              border-width: px2vw-xl(2px);
              padding: px2vw-xl(7px) px2vw-xl(3px);
              border-radius: px2vw-xl(5px);
              height: px2vw-xl(24px);
              width: px2vw-xl(24px);
            }

            @include lg {
              border-width: px2vw-lg(2px);
              padding: px2vw-lg(7px) px2vw-lg(3px);
              border-radius: px2vw-lg(5px);
              height: px2vw-lg(24px);
              width: px2vw-lg(24px);
            }

            @include md {
              border-width: px2vw-md(2px);
              padding: px2vw-md(7px) px2vw-md(3px);
              border-radius: px2vw-md(5px);
              height: px2vw-md(24px);
              width: px2vw-md(24px);
            }

            @include sm {
              border-width: px2vw-sm(2px);
              padding: px2vw-sm(7px) px2vw-sm(3px);
              border-radius: px2vw-sm(5px);
              height: px2vw-sm(24px);
              width: px2vw-sm(24px);
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
