<div *ngIf="currentUser" class="create-post">
  <div class="create-post-content">
    <span class="box-avatar">
      <img
        src="{{ currentUser?.profilePicture }}"
        (error)="onLoadImgError($event, typeImgLoad.AVATAR)"
        loading="lazy"
      />
    </span>
    <span class="input-post">
      <input
        type="text"
        placeholder="{{ 'SOCIAL_FEED.PLACE_HOLDER.POST' | translate }}{{
          currentUser?.username
        }}?"
        (click)="onCreatePost()"
      />
    </span>
  </div>
  <div class="wap-action">
    <div class="action-ground">
      <div class="action-item" (click)="onCreatePost()">
        <span class="icon">
          <img src="assets/icons/profile/image-post.svg" />
        </span>
        <span class="text">{{ "SOCIAL_FEED.BUTTON.MEDIA" | translate }}</span>
      </div>
      <div class="action-item" (click)="onCreatePost()">
        <div class="action-react">
          <span class="icon">
            <img src="assets/icons/profile/gif-text.svg" />
          </span>
          <span class="text">{{ "SOCIAL_FEED.BUTTON.GIF" | translate }}</span>
        </div>
      </div>
      <div class="action-item" (click)="onCreatePost(true)">
        <span class="icon">
          <img src="assets/icons/profile/link.svg" />
        </span>
        <span class="text">{{ "SOCIAL_FEED.BUTTON.LINK" | translate }}</span>
      </div>
      <div class="action-item" *ngIf="enableGoLive" (click)="navGoLive.click()">
        <span class="icon">
          <img src="assets/icons/profile/broadcast.svg" />
        </span>
        <span class="text">{{ "SOCIAL_FEED.BUTTON.GO_LIVE" | translate }}</span>
        <a
          [hidden]="true"
          #navGoLive
          [href]="AppHtmlBroadcastRoutes.goLive"
        ></a>
      </div>
    </div>
  </div>
</div>
