<section class="PageBanner">
  <div class="PageBanner-container">
    <div class="PageBanner-content">
      <div class="PageBanner-content-info">
        <div>
          <div class="header-b-text"> {{ "SEARCH.SHOWINGRESULT" | translate }} "{{text}}"</div>
          <div class="header-s-text"> {{ "SEARCH.RESULT_TEXT_1" | translate }} {{(homeService.searchedTournament | async)?.docs?.length}} {{ "SEARCH.RESULT_TEXT_2" | translate }}</div>
        </div>
      </div>
    </div>
    <!--<div class="PageBanner-vertical"></div>-->
  </div>
</section>

<section class="Search-container search-wp">
  <div class="InnerTab">
    <nav class="InnerTab-nav">
      <div class="InnerTab-nav-lists" ngbNav #nav="ngbNav" [(activeId)]="active">
        <!-- SEARCH.ALL -->
        <a class="InnerTab-nav-link" [ngbNavItem]=1 ngbNavLink routerLink="{{AppHtmlRoutes.search}}">
          {{ "SEARCH.ALL" | translate }}  
        </a>

        <!-- shop -->
        <!-- <a class="InnerTab-nav-link" [ngbNavItem]=5 ngbNavLink routerLink="{{AppHtmlRoutes.searchShop}}">
          {{ "SEARCH.SHOPITEMS" | translate }} (8)
        </a> -->

        <!-- TOURNAMENT -->
        <a class="InnerTab-nav-link" [ngbNavItem]=2 ngbNavLink routerLink="{{AppHtmlRoutes.searchTournament}}">
          {{ "SEARCH.TOURNAMENT" | translate }}  ({{(homeService.searchedTournament | async)?.docs?.length}})
        </a>

        <!-- ARTICLE -->
        <a class="InnerTab-nav-link" [ngbNavItem]=3 ngbNavLink routerLink="{{AppHtmlRoutes.searchArticle}}">
          {{ "SEARCH.NEWS" | translate }} ({{(homeService.searchedArticle | async)?.docs?.length}})
        </a>

        <a class="InnerTab-nav-link" [ngbNavItem]=4 ngbNavLink routerLink="{{AppHtmlRoutes.searchVideo}}">
          {{ "SEARCH.VIDEO" | translate }} ({{(homeService.searchedVideo | async)?.docs?.length}})
        </a>
      </div>
    </nav>
  </div>
  <div class="" [ngbNavOutlet]="nav"></div>
</section>
<router-outlet></router-outlet>

<app-footer-spark></app-footer-spark>