<form [formGroup]="form" (submit)="onSubmitEvent()" class="UpdateForm">
  <div class="UpdateForm-title">{{ data.title | translate }}</div>

  <div *ngIf="data?.subtitle" class="UpdateForm-subtitle">
    {{ data?.subtitle | translate }}
    <span *ngIf="formValue?.mailPhone">{{ formValue.mailPhone }}</span>
  </div>
  <div class="UpdateForm-error" *ngIf="data.error">
    {{ data.error | translate }}
  </div>

  <mat-form-field class="global-MatField UpdateForm-input" appearance="outline">
    <mat-label>{{ data.firstInputPlaceholder | translate }}</mat-label>
    <input
      formControlName="password"
      #firstInput
      matInput
      [type]="data.firstInputType"
      placeholder="{{ 'LOG_REG.REGISTER.PLACEHODER_PASSWORD' | translate }}"
    />
    <div (click)="onVisibilityToggle(firstInput)" matSuffix mat-button>
      <span class="material-icons"
        >visibility{{ firstInput.type === "text" ? "_off" : "" }}</span
      >
    </div>
    <mat-error *ngIf="form.get('password').hasError('required')">
      {{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
    >
    <mat-error
      *ngIf="
        form.get('password').hasError('minlength') ||
        form.get('password').hasError('required')
      "
      >{{ "LOG_REG.REGISTER.VALIDATION1" | translate }}</mat-error
    >
    <mat-error
      *ngIf="
        form.get('password').hasError('hasNumber') ||
        form.get('password').hasError('required')
      "
      >{{ "LOG_REG.REGISTER.VALIDATION2" | translate }}</mat-error
    >
    <mat-error
      *ngIf="
        form.get('password').hasError('hasCapitalCase') ||
        form.get('password').hasError('required')
      "
      >{{ "LOG_REG.REGISTER.VALIDATION3" | translate }}</mat-error
    >
    <mat-error
      *ngIf="
        form.get('password').hasError('hasSmallCase') ||
        form.get('password').hasError('required')
      "
      >{{ "LOG_REG.REGISTER.VALIDATION4" | translate }}</mat-error
    >
    <mat-error
      *ngIf="
        form.get('password').hasError('hasSpecialCharacters') ||
        form.get('password').hasError('required')
      "
      >{{ "LOG_REG.REGISTER.VALIDATION5" | translate }}</mat-error
    >
  </mat-form-field>

  <mat-form-field
    class="global-MatField UpdateForm-input"
    style="margin-top: 45px"
    appearance="outline"
  >
    <mat-label>{{ data.secondInputPlaceholder | translate }}</mat-label>
    <input
      formControlName="certainPassword"
      #secondInput
      matInput
      [type]="data.secondInputType"
      class="passwordInput"
    />
    <div (click)="onVisibilityToggle(secondInput)" matSuffix mat-button>
      <span class="material-icons"
        >visibility{{ secondInput.type === "text" ? "_off" : "" }}</span
      >
    </div>
    <mat-error *ngIf="form.get('certainPassword').hasError('required')">{{
      "LOG_REG.LOGIN.REQUIRED" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('certainPassword').hasError('equalTo')">{{
      "LOG_REG.REGISTER.VALIDATION6" | translate
    }}</mat-error>
  </mat-form-field>

  <!-- [disabled]="form.invalid" -->
  <!-- <p *ngIf="password1" class="text-warning">Your Password doesn't match</p> -->

  <div class="UpdateForm-submit">
    <button
      type="submit"
      class="button-icon-primary submitt"
      [class.is-edit]="form.invalid"
      style="justify-content: space-between"
    >
      <span style="font-size: 15px; color: #9d9faa">{{
        data.submitBtn | translate | uppercase
      }}</span>
      <mat-icon style="color: #83858d"> arrow_forward </mat-icon>
    </button>
  </div>
</form>
