<div *ngIf="!isChangePassword" class="ProfileSettings">
  <div class="Profile-title">
    {{ "PROFILE.PROFILE_SETTING.TITLE" | translate }}
  </div>

  <!-- <ngb-tabset
    type="pills"
    (tabChange)="fetchNews($event)"
    [(activeId)]="selectedPrefrence"
    class="mesf-PillsTabs is-tournamentPage"
  >
    <ngb-tab id="tab1">
      <ng-template ngbTabTitle>{{
        ProfileSettingComponentTab.content | translate
      }}</ng-template>
      <ng-template ngbTabContent>
        <div class="ProfileSettings-content">
          <div *ngIf="error" class="LogReg-error">
            <strong>{{ error | uppercase }}</strong>
          </div>
          <div>
            <div class="ProfileSettings-box">
              <div class="mesf-Text">CONTENT PREFERENCES</div>
              <h2 class="mesf-Text">
                Let us know your favourite games, genres and platform
                preferences and we will tailor the tournaments, news and
                articles you see.
              </h2>
            </div>

            <div class="ProfileSettings-box">
              <div class="mesf-Text ProfileSettings-box-title">
                CHOOSE YOUR GAME
              </div>
              <swiper [config]="swiperConfig" class="ProfileSettings-swiper">
                <div
                  *ngFor="let item of game"
                  (click)="onToggleItem(item)"
                  [style.backgroundImage]="'url(' + item.logo + ')'"
                  [class.is-checked]="item.isChecked"
                  class="ProfileSettings-swiper-item swiper-slide"
                >
                  <div class="ProfileSettings-swiper-item-title">
                    {{ item.name }}
                  </div>
                </div>
              </swiper>
              <app-loading *ngIf="game.length == 0"></app-loading>
            </div>

            <div class="ProfileSettings-box">
              <div class="mesf-Text ProfileSettings-box-title">
                YOUR FAVORITE GAME PLATFORM
              </div>
              <button
                *ngFor="let item of platform"
                (click)="onToggleItem(item)"
                [class.is-active]="item.isChecked"
                class="ProfileSettings-platformbtn mesf-Text"
              >
                <fa-icon
                  [icon]="faDesktop"
                  *ngIf="item.name === 'PC'"
                ></fa-icon>
                <fa-icon
                  [icon]="faMobileAlt"
                  *ngIf="item.name === 'Mobile'"
                ></fa-icon>
                <img
                  *ngIf="item.name != 'Mobile' && item.name != 'PC'"
                  src="./assets/icons/joystick.svg"
                  alt=""
                />
                {{ item.name }}
              </button>
            </div>

            <div class="ProfileSettings-box" *ngIf="genre.length > 0">
              <div class="mesf-Text ProfileSettings-box-title">
                HOW ABOUT YOUR GAME GENRE
              </div>
              <swiper [config]="swiperConfig" class="ProfileSettings-swiper">
                <div
                  *ngFor="let item of genre"
                  (click)="onToggleItem(item)"
                  [style.backgroundImage]="'url(' + item.image + ')'"
                  [class.is-checked]="item.isChecked"
                  class="ProfileSettings-swiper-item swiper-slide"
                >
                  <div class="ProfileSettings-swiper-item-title">
                    {{ item.name }}
                  </div>
                </div>
              </swiper>
              <app-loading *ngIf="genre.length == 0"></app-loading>
            </div>

            <div class="ProfileSettings-box">
              <div class="mesf-Text ProfileSettings-box-title">
                YOUR PREFERED CONTENT TYPE
              </div>
              <swiper [config]="swiperConfig" class="ProfileSettings-swiper">
                <div
                  *ngFor="let item of prefer"
                  (click)="onToggleItem(item)"
                  [style.backgroundImage]="'url(' + item.image + ')'"
                  [class.is-checked]="item.isChecked"
                  class="ProfileSettings-swiper-item swiper-slide"
                >
                  <div class="ProfileSettings-swiper-item-title">
                    {{ item.name }}
                  </div>
                </div>
              </swiper>
              <app-loading *ngIf="prefer.length == 0"></app-loading>
            </div>

            <button
              *ngIf="
                game.length != 0 && genre.length != 0 && prefer.length != 0
              "
              (click)="savePrefrences()"
              class="btn btn-outline-light"
            >
              {{ "BUTTON.SAVE" | translate }}
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab2">
      <ng-template ngbTabTitle>{{
        ProfileSettingComponentTab.account | translate
      }}</ng-template>
      <ng-template ngbTabContent>
        <div class="ProfileSettings-content">
          <div class="ProfileSettings-items">
            <div class="ProfileSettings-item">
              <h2 class="mesf-Text">
                {{ "PROFILE.PROFILE_SETTING.ACCOUNT.INPUT1" | translate }}
              </h2>
              <div class="mesf-Text" *ngIf="user?.phoneisVerified">
                {{ user.phoneNumber }}
                &nbsp;<fa-icon [icon]="faCheck" class="check"></fa-icon>
              </div>
            </div>
            <div class="ProfileSettings-item">
              <h2 class="mesf-Text">
                {{ "PROFILE.PROFILE_SETTING.ACCOUNT.INPUT2" | translate }}
              </h2>
              <div class="mesf-Text" *ngIf="user?.emailisVerified">
                {{ user.email }} &nbsp;<fa-icon
                  [icon]="faCheck"
                  class="check"
                ></fa-icon>
              </div>
              <a
                class="mesf-Text"
                *ngIf="!user?.emailisVerified"
                (click)="add_Email()"
              >
                {{ "PROFILE.PROFILE_SETTING.ACCOUNT.ADD_EMAIL" | translate }}
              </a>
            </div>
            <div class="ProfileSettings-item">
              <div
                (click)="onChangePassword()"
                matRipple
                class="mesf-Text curp"
              >
                {{
                  "PROFILE.PROFILE_SETTING.ACCOUNT.CHANGE_PASSWORD" | translate
                }}
              </div>
            </div>
            <div class="ProfileSettings-item">
              <div class="mesf-Text">
                {{ "PROFILE.PROFILE_SETTING.ACCOUNT.FOOTER_LINK" | translate }}
              </div>
            </div>
            <div class="ProfileSettings-item is-footer">

              <button class="ProfileSettings-btn is-fb" *ngIf="social.facebook">
                <fa-icon [icon]="faFacebookF"></fa-icon>
              </button>
              <button
                class="ProfileSettings-btn is-fb-gray"
                *ngIf="!social.facebook"
                (click)="socialConnect('facebook')"
              >
                <fa-icon [icon]="faFacebookF"></fa-icon>
              </button>
              <button class="ProfileSettings-btn is-go" *ngIf="social.google">
                <fa-icon [icon]="faGoogle"></fa-icon>
              </button>
              <button
                class="ProfileSettings-btn is-go-gray"
                *ngIf="!social.google"
                (click)="socialConnect('google')"
              >
                <fa-icon [icon]="faGoogle"></fa-icon>
              </button>

            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="tab3">
      <ng-template ngbTabTitle (click)="onToggle()">
        {{ ProfileSettingComponentTab.payment | translate }}
      </ng-template>
      <ng-template ngbTabContent>
        <div class="ProfileSettings-content">
          <form
            class="form-start"
            [formGroup]="form"
            (submit)="savePaymentAccount()"
          >
            <div class="ProfileSettings-items">
              <div class="ProfileSettings-item d-flex">
                <h2 class="mesf-Text">
                  {{ "PROFILE.PROFILE_SETTING.PAYMENT.INPUT1" | translate }}
                </h2>
                <div
                  class="mesf-Text ProfileSettings-payment-dropdown col-sm-4 pl-0 pr-0"
                >
                  <select
                    [attr.disabled]="isDisabled ? isDisabled : null"
                    class="selectpicker is-profile"
                    formControlName="paymentType"
                    id="paymentType"
                    [(ngModel)]="selected.type"
                    (change)="onChangePaymentType($event.target.value)"
                  >
                    <option value="paypal">paypal</option>
                  </select>

                  <mat-error
                    *ngIf="
                      form.get('paymentType').touched &&
                      form.get('paymentType').invalid
                    "
                  >
                    {{
                      "PROFILE.PROFILE_SETTING.PAYMENT.ERROR.ERROR1" | translate
                    }}
                  </mat-error>
                </div>
              </div>
              <div class="ProfileSettings-item">
                <div
                  class="mesf-Text d-flex"
                  *ngIf="selected.type === 'paypal'"
                >
                  <h2 class="mesf-Text mt-3">
                    {{ "PROFILE.PROFILE_SETTING.PAYMENT.INPUT2" | translate }}
                  </h2>
                  <div>
                    <input
                      [class.disabled]="isDisabled"
                      type="text"
                      name="paymentAccountId"
                      formControlName="paymentAccountId"
                      [(ngModel)]="selected.paymentAccountId"
                      placeholder="{{
                        'PROFILE.PROFILE_SETTING.PAYMENT.INPUT2' | translate
                      }}"
                      class="ProfileSettings-box-input pl-2"
                    />
                    <mat-error
                      *ngIf="form.get('paymentAccountId').hasError('required')"
                      >{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
                    >
                    <mat-error
                      *ngIf="form.get('paymentAccountId').hasError('email')"
                      >{{ "LOG_REG.LOGIN.VALIDATION2" | translate }}</mat-error
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="ProfileSettings-footer">
              <button
                *ngIf="isDisabled"
                (click)="onToggleEdit()"
                class="mesf-EditBtn is-sm"
              >
                {{ "BUTTON.EDIT" | translate }}
              </button>
              <button
                type="button"
                (click)="cancel()"
                *ngIf="!isDisabled"
                class="cancel mesf-EditBtn is-sm"
              >
                {{ "BUTTON.CANCEL" | translate }}
              </button>
              <button
                *ngIf="!isDisabled"
                type="submit"
                class="mesf-EditBtn is-sm"
              >
                {{ "BUTTON.SAVE" | translate }}
              </button>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset> -->
  <ng-template #EmailContent let-c="close" let-d="dismiss">
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="LogReg-main">
            <ng-container>
              <app-phone-no-form
                *ngIf="!stepTwo"
                (submit)="addEmailNext($event)"
                [data]="emailData"
              >
              </app-phone-no-form>
              <app-verification-form
                *ngIf="stepTwo"
                [data]="emailVerification"
                [formValue]="emailOutputData"
                (submit)="submitEmail($event)"
              ></app-verification-form>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<app-change-password
  *ngIf="isChangePassword"
  (changePassword)="onChangePasswordSubmit()"
></app-change-password>
<app-loading *ngIf="loading"></app-loading>
