<div class="NewTeam">
  <h1 class="NewTeam-title global-Title">
    {{ "NEW_TEAM.TITLE" | translate }}
  </h1>
  <p class="NewTeam-subtitle global-Text">
    {{ "NEW_TEAM.SUBTITLE" | translate }}
  </p>

  <ul class="NewTeam-list">
    <ng-container *ngIf="team.length">
      <li
        *ngFor="let team of team; let i = index"
        class="NewTeam-item"
        (click)="selectTeam(i)"
      >
        <div
          class="NewTeam-item-logo"
          [style.background-image]="'url(' + team?.logo + ')'"
        ></div>
        <h3 class="NewTeam-item-name global-Title3">
          {{ team?.teamName | limitString: 13:"..." }}
        </h3>
      </li>
    </ng-container>

    <!-- New team button -->
    <li class="NewTeam-item" [routerLink]="AppHtmlRoutes.createTeam">
      <div class="NewTeam-item-logo u-dfCenterCenter">
        <img
          class="NewTeam-item-add-icon"
          src="assets/icons/add-team.svg"
          alt="add team icon"
        />
      </div>
      <h3 class="NewTeam-item-name global-Title3">
        {{ "NEW_TEAM.NEW_TEAM" | translate }}
      </h3>
    </li>
  </ul>
</div>
