.SelectTeammates{
    padding-left: 106px;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 35px;
            width: 34px;
            height: 34px;
            background: url(../../assets//images/Tournament/swords.svg);
            background-size: 34px;
        }
    .SelectTeammates-title{
        font-family: "archivo-black", sans-serif;
            font-size: 2.3611111111vw !important;
            line-height: 2.5vw;
            letter-spacing: 0;
            color: var(--white-high);
            text-transform: uppercase;
            margin-bottom: 20px !important;
    }
    .SelectTeammates-subtitle{
        font-family: "archivo-bold", sans-serif;
            font-size: 1.1111111111vw;
            line-height: 1.6666666667vw;
            letter-spacing: 0.0104166667vw;
            color: var(--white-high);
    }

    .SelectTeammates-buttons{
        justify-content: flex-start !important;
        margin-top: 45px !important;
        .global-EditBtn {
            -webkit-user-select: none;
            user-select: none;
            background: var(--white-high);
            padding: 10px;
            color: var(--black);
            border-radius: 5px;
            width: 270px;
            text-transform: uppercase;
            max-width: 100%;
            &.confirm{
                background: var(--color-primary);
            }
        }
    }
    
}