.tournament_registration {
    .form-control {
        border: 1px solid var(--tertiary-color);
        height: 48px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--tolopea-color);

        &:hover,&:focus {
            border-color: var(--main-color) !important;
        }
    }
    .labeltext {
        font-family: inherit !important;
        background: #0b0824 !important;
        color: var(--white) !important;
    }

    ngx-intl-tel-input {
        width: 100%;
        padding-bottom: 0px !important;

        .iti.iti--allow-dropdown {
            height: 56px;
            width: 100%;
            .iti__arrow {
                border-top-color: var(--white-high);
            }
            .iti__flag-container {
                padding-left: 9px;
                display: none;
            }
            input {
                height: 48px;
                width: 100%;
                background: transparent;
                color: var(--tolopea-color);
                border-radius: 4px;
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                &:hover,&:focus {
                    border-color: var(--main-color) !important;
                }
            }
        }
    }

    .btn-primary {
        background: var(--color-primary);
    }

    .team_participant_logo {
        width: 100% !important;
        height: 165px !important;
        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
    }
}

.datatable-body-cell-label {
    display: flex;
}

.registration {
    .registration-form-item {
        font-family: inherit !important;
        .form-control {
            border-color: var(--white);
            height: 50px;
        }
    }
    .labeltext {
        font-family: inherit !important;
        background-color: rgb(11 8 36) !important;
        color: var(--white) !important;
    }

    .ViewTournament-sectionB-header-title,
    .global-H2 {
        font-size: 28px !important;
        margin-bottom: 20px !important;
    }
}
