<div class="ConfirmationForm">
  <div class="ConfirmationForm-title global-Title">
    {{ data.title | translate }}
  </div>

  <div class="global-Text ConfirmationForm-subtitle global-Text">
    {{ data.subtitle | translate }}
    <span *ngIf="formValue?.mailPhone" class="u-phone">{{
      formValue.mailPhone
    }}</span>
  </div>

  <div class="ConfirmationForm-error" *ngIf="data.error">
    {{ data.error | translate }}
  </div>

  <div class="ConfirmationForm-input">
    <ng-otp-input
      (onInputChange)="onOtpChange($event)"
      [config]="{ length: 6, allowNumbersOnly: true }"
      class="NgOptInput"
    >
    </ng-otp-input>
  </div>

  <div class="ConfirmationForm-expires">
    {{ "LOG_REG.FORGOT.Expires_in" | translate }}
    {{ data.timerMs | minuteSeconds }}
  </div>

  <div>
    <button
      (click)="onSubmitEvent()"
      [disabled]="!codeEntered"
      [class.is-edit]="!codeEntered"
      class="global-EditBtn is-sm"
    >
      {{ data.submitBtn | translate }}
    </button>
  </div>

  <div
    *ngIf="data?.footerTitle && data.timerMs == 0"
    class="ConfirmationForm-footer"
  >
    {{ data.footerTitle | translate }}
    <a (click)="resendOtp(formValue.type)">{{
      data.footerLinkTitle | translate
    }}</a>
  </div>
</div>
