<div class="code-of-conduct">
  <h1 class="global-Title2">
    {{ "CODE_OF_CONDUCT.TITLE" | translate }}
  </h1>
  <p>
    {{ "CODE_OF_CONDUCT.DESCRIPTION1" | translate }}
  </p>
  <ul>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION2" | translate }}
    </li>
    <li>{{ "CODE_OF_CONDUCT.DESCRIPTION3" | translate }}</li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION4" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION5" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION6" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION7" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION8" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION9" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION10" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION11" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION12" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION13" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION14" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION15" | translate }}
    </li>
    <li>
      {{ "CODE_OF_CONDUCT.DESCRIPTION16" | translate }}
    </li>
    <li>{{ "CODE_OF_CONDUCT.DESCRIPTION17" | translate }}</li>
    <li>{{ "CODE_OF_CONDUCT.DESCRIPTION18" | translate }}</li>
    <li>{{ "CODE_OF_CONDUCT.DESCRIPTION19" | translate }}</li>
    <li>{{ "CODE_OF_CONDUCT.DESCRIPTION20" | translate }}</li>
    <li>{{ "CODE_OF_CONDUCT.DESCRIPTION21" | translate }}</li>
    <li>{{ "CODE_OF_CONDUCT.DESCRIPTION22" | translate }}</li>
    <li>{{ "CODE_OF_CONDUCT.DESCRIPTION23" | translate }}</li>
  </ul>

  <p>
    {{ "CODE_OF_CONDUCT.DESCRIPTION24" | translate }}
  </p>

  <p>
    {{ "CODE_OF_CONDUCT.DESCRIPTION25" | translate }}
    <a href="mailto:support@stcplay.gg">{{
      "FOOTER_LINKS.LINK_4" | translate
    }}</a
    >.
  </p>
</div>
