@import "shared";

$--card-bg: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.3) 0%,
  rgba(0, 0, 0, 0) 100%
);

:host {
  display: block;
  max-width: px2vw-xl(406px);
  border-radius: px2vw-xl(20px);
  background: $--card-bg;
  padding: px2vw-xl(125px) px2vw-xl(40px) px2vw-xl(32px);
  text-align: center;
  transition: 300ms linear;
  cursor: pointer;

  &:hover {
    transform: translateY(-5%);
  }

  @include lg {
    max-width: px2vw-lg(400px);
    border-radius: px2vw-lg(20px);
    padding: px2vw-lg(80px) px2vw-lg(40px) px2vw-lg(32px);

    &:hover {
      transform: translateY(0);
    }
  }

  @include md {
    max-width: px2vw-md(330px);
    border-radius: px2vw-md(20px);
    padding: px2vw-md(50px) px2vw-md(40px) px2vw-md(32px);
  }

  @include sm {
    max-width: none;
    border-radius: px2vw-sm(20px);
    padding: px2vw-sm(50px) px2vw-sm(40px) px2vw-sm(32px);
  }
}

.TypeCard {
  &-image {
    margin-bottom: px2vw-xl(60px);
    max-height: px2vw-xl(105px);

    @include lg {
      margin-bottom: px2vw-lg(45px);
      max-height: px2vw-lg(80px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      max-height: px2vw-md(80px);
    }

    @include sm {
      margin-bottom: px2vw-sm(52px);
      max-height: px2vw-sm(90px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(16px);
    font-family: "stc-forward-bold", sans-serif;
    font-size: px2vw-xl(28px);
    line-height: px2vw-xl(48px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(26px);
      line-height: px2vw-md(38px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: px2vw-sm(30px);
      line-height: px2vw-sm(40px);
    }
  }

  &-text {
    margin-bottom: 0;
    opacity: 0.8;

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: 1.8;
    }
  }
}
