@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: block;
  width: 100%;
  max-width: px2vw-xl(410px);
  padding: px2vw-xl(52px) px2vw-xl(24px) px2vw-xl(24px);
  color: var(--base-submarine);

  @include lg {
    max-width: none;
    width: px2vw-lg(340px);
    padding: px2vw-lg(52px) px2vw-lg(24px) px2vw-lg(24px);
  }

  @include md {
    width: px2vw-md(320px);
    padding: px2vw-md(52px) px2vw-md(24px) px2vw-md(24px);
  }

  @include sm {
    width: px2vw-sm(400px);
    padding: px2vw-sm(52px) px2vw-sm(24px) px2vw-sm(24px);
  }
}

.Aside {
  font-family: "stc-forward-regular", sans-serif;
}

.sectionA {
  border-bottom: 1px solid var(--base-gainsboro);
  padding-bottom: px2vw-xl(40px);
  padding-top: px2vw-xl(20px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
    padding-top: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
    padding-top: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
    padding-top: px2vw-sm(40px);
  }

  .User-info-about {
    text-align: center;
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  .User-info-avatar-block {
    display: inline-block;
    border-radius: 50%;
    margin-bottom: px2vw-xl(16px);
    height: px2vw-xl(104px);
    width: px2vw-xl(104px);
    overflow: hidden;

    @include lg {
      margin-bottom: px2vw-lg(16px);
      height: px2vw-lg(104px);
      width: px2vw-lg(104px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      height: px2vw-md(104px);
      width: px2vw-md(104px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      height: px2vw-sm(104px);
      width: px2vw-sm(104px);
    }
  }

  .User-info-avatar {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .User-info-fullName-block {
    margin-bottom: px2vw-xl(12px);
    overflow: hidden;

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  .User-info-fullName {
    margin-left: px2vw-xl(50px);
    word-break: break-word;
    @extend %u-dfCenterCenter;
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(32px);
    font-weight: bold;
    color: var(--base-black-pearl);

    @include lg {
      margin-left: px2vw-xl(100px);
      word-break: break-word;
      margin-bottom: px2vw-lg(12px);
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      margin-left: px2vw-xl(150px);
      word-break: break-word;
      margin-bottom: px2vw-md(12px);
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      margin-left: px2vw-xl(160px);
      word-break: break-word;
      margin-bottom: px2vw-sm(12px);
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }
  }

  .check-mark {
    width: 1.599vw;
    @include lg {
      width: 4.599vw;
    }
    @include md {
      width: 7.599vw;
    }
  }
  .User-info-location {
    margin-bottom: 0;
    color: var(--base-black-pearl);
  }

  .User-info-statistic {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .User-info-card {
    text-align: center;

    &.middle {
      @include lg {
        margin: 0 px2vw-lg(10px);
      }

      @include md {
        margin: 0 px2vw-md(10px);
      }

      @include sm {
        margin: 0 px2vw-sm(10px);
      }
    }
  }

  .User-info-card-count {
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(32px);
    font-weight: bold;
    color: var(--base-black-pearl);

    @include lg {
      font-size: px2vw-lg(24px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(24px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }
  }
}

.sectionB {
  &-button-block {
    padding-bottom: px2vw-xl(22px);
    padding-top: px2vw-xl(30px);
    border-bottom: 1px solid var(--base-gainsboro);

    @include lg {
      padding-bottom: px2vw-lg(22px);
      padding-top: px2vw-lg(30px);
    }

    @include md {
      padding-bottom: px2vw-md(22px);
      padding-top: px2vw-md(30px);
    }

    @include sm {
      padding-bottom: px2vw-sm(22px);
      padding-top: px2vw-sm(30px);
    }
  }

  &-button {
    width: 100%;
    transition: 100ms linear;
  }
}

.User-navigation {
  display: flex;
  flex-direction: column;
  padding: px2vw-xl(38px) 0;

  @include lg {
    padding: px2vw-lg(38px) 0;
  }

  @include md {
    padding: px2vw-md(38px) 0;
  }

  @include sm {
    padding: px2vw-sm(38px) 0;
  }

  &-link {
    color: var(--base-submarine);
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(24px);
    display: flex;
    align-items: center;

    @include lg {
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(18px);
      line-height: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(24px);
    }

    &-icon {
      margin-right: px2vw-xl(32px);

      @include lg {
        margin-right: px2vw-lg(32px);
      }

      @include md {
        margin-right: px2vw-md(32px);
      }

      @include sm {
        margin-right: px2vw-sm(32px);
      }

      ::ng-deep svg {
        width: px2vw-xl(27px);

        @include lg {
          width: px2vw-lg(27px);
        }

        @include md {
          width: px2vw-md(27px);
        }

        @include sm {
          width: px2vw-sm(27px);
        }
      }
    }

    &-text {
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(24px);

      @include lg {
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }
    }

    &.is-active & {
      &-icon ::ng-deep path {
        fill: var(--primary-sunset-light);
      }
    }

    &.is-active {
      font-weight: bold;
      color: var(--base-black-pearl);
    }

    &:not(:last-child) {
      margin-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }
  }

  &.divider {
    border-bottom: 1px solid var(--base-gainsboro);
  }
}

.Logout-modal {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--base-gainsboro);
    padding: px2vw-xl(24px) px2vw-xl(24px) px2vw-xl(16px);

    @include lg {
      padding: px2vw-lg(24px) px2vw-lg(24px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(24px) px2vw-md(24px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(24px) px2vw-sm(24px) px2vw-sm(16px);
    }
  }

  &-title {
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(32px);
    }
  }

  &-close {
    align-self: flex-start;
    background-color: transparent;
  }

  &-message {
    padding: px2vw-xl(16px) px2vw-xl(24px);
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(24px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(24px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(24px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: px2vw-xl(24px);

    @include lg {
      padding: px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(24px);
    }
  }

  &-button {
    margin-left: px2vw-xl(16px);

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }
  }
}

.popupBody {
  background-color: var(--base-white-smoke);
  border: 1px solid var(--ui-light-grey);
  padding: px2vw-xl(10px);
  border-radius: 4px;
  @extend %u-dfCenterBtw;
  @include lg {
    padding: px2vw-lg(15px);
  }
  &-url {
    word-break: break-all;
    padding-right: px2vw-xl(5px);
    @include lg {
      padding-right: px2vw-lg(5px);
    }
    @include sm {
      font-size: 12px !important;
    }
  }
  fa-icon {
    margin-right: 5px;
  }
}
.copy {
  color: var(--base-white-smoke);
  display: inline;
}

.done {
  color: var(--base-submarine);
  display: inline;
  @include sm {
    font-size: 10px !important;
  }
}

.ref {
  &-title {
    font-weight: bolder;
  }

  &-footer {
    display: block !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start !important;
  }
}

.btnRef {
  margin-right: 0 !important;
  margin-left: auto !important;
}

.btn-copy {
  display: inline;
  margin: 0;
  color: var(--base-white);
  font-family: "stc-forward-regular";
  font-size: 14px;
  @include sm {
    font-size: 8px !important;
  }
}

.btn-copy1 {
  display: inline;
  margin: 0;
  color: var(--base-submarine);
  font-size: 14px;

  @include sm {
    font-size: 8px !important;
  }
}
.disableBtn {
  background-color: var(--base-gainsboro);
  color: var(--base-black-pearl);
  box-sizing: border-box;
  opacity: 1;
  min-width: px2vw-xl(230px);

  @include lg {
    min-width: px2vw-lg(230px);
  }
  @include md {
    min-width: px2vw-md(200px);
  }
  @include sm {
    min-width: px2vw-sm(230px);
  }
}
.divider-ref {
  border-bottom: none !important;
  border-top: none !important ;
}
