<div class="Admin-searchBox">
  <div class="Admin-tournament-access" [hidden]="activeTab != 3">
    <app-toggle-switch
      [title]="'ADMIN.ESPORTS_MANAGEMENT.ADMIN_APPROVAL'"
      [customFormGroup]="optionForm"
      [customFormControlName]="'IAMAFFTournament'"
      (valueEmit)="IAMAFFTournamentHandler($event?.target?.checked)"
    >
    </app-toggle-switch>
  </div>
  <div class="Admin-tournament-access" [hidden]="activeTab != 0">
    <label class="form-check-label switch-text-label">
      {{ "ADMIN.ESPORTS_MANAGEMENT.HIDE_PARTICIPANT_DETAILS" | translate }}
    </label>

    <label class="switch">
      <input
        class="form-check-input"
        type="checkbox"
        [checked]="isShowParticipants"
        (change)="updateShowParticipantStatus(!isShowParticipants)"
      />
      <span class="slider round"></span>
    </label>
  </div>
  <div class="Admin-search">
    <mat-icon>search</mat-icon>
    <!-- <input
      (keyup)="searchByValueFilter($event)"
      type="search"
      placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
    /> -->
    <input
      #searchInput
      type="text"
      placeholder="{{ 'ADMIN.USER_MANAGEMENT.LABEL.SEARCH' | translate }}"
    />
    <button
      class="searchButton"
      *ngIf="searchInput.value"
      (click)="clearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="global-scrollbar">
  <ngx-datatable
    #table
    class="global-DataTable"
    [columnMode]="'flex'"
    [columns]="columnsFirstTab"
    [footerHeight]="'auto'"
    [headerHeight]="'auto'"
    [limit]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
  >
    <ngx-datatable-column
      *ngIf="isFeatureEditable"
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.FEATURE' | translate }}"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-row="row"
        let-isSelected="row.isFeature"
      >
        <mat-checkbox
          class="is-big"
          (change)="updateValue($event, row['_id'])"
          [checked]="row.isFeature"
          color="primary"
        ></mat-checkbox>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      *ngIf="isGWB"
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.GWB' | translate }}"
    >
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-row="row"
        let-isSelected="row?.level==2"
      >
        <mat-checkbox
          class="is-big"
          (change)="updateValueGWB($event, row['_id'])"
          [checked]="row?.level == 2"
          color="primary"
        ></mat-checkbox>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="3"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TOURNAMENT_NAME' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["name"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1.2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGISTRATION' | translate
      }}"
      prop="isPaid"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["isPaid"] | registrationType }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.GAME' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["game"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGION' | translate }}"
      [flexGrow]="1.5"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["region"] }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TYPE' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["tournamentType"] | titlecase }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.START_DATE' | translate
      }}"
      prop="startDate"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["startDate"] | date: "dd MMM yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1.2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.PARTICIPANT' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["maxParticipants"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="2" name="">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button
          class="Admin-tableBtn"
          [matMenuTriggerFor]="menu"
          mat-icon-button
          color="primary"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>

        <mat-menu #menu="matMenu" yPosition="above">
          <a
            *ngIf="editIconShow"
            class="Admin-tableBtn w-100"
            [routerLink]="[AppHtmlRoutes.tournamentEdit, row['slug']]"
            [queryParams]="{
              id: row._id,
              fallback: true,
              activeTab: activeTab
            }"
            mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.EDIT' | translate }}"
            color="primary"
          >
            <mat-icon class="Admin-tableBtn is-view">edit</mat-icon>
          </a>

          <button
            *ngIf="viewIconShow"
            class="Admin-tableBtn w-100"
            (click)="viewTournament(viewModel, row['_id'], 'view')"
            mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
            color="primary"
          >
            <mat-icon class="Admin-tableBtn is-view">visibility</mat-icon>
          </button>

          <button
            *ngIf="checkIconShow"
            class="Admin-tableBtn w-100"
            (click)="viewTournament(viewModel, row['_id'], 'check')"
            mat-icon-button
          >
            <mat-icon
              class="Admin-tableBtn is-remove"
              matTooltip="{{ 'ADMIN_TOOLTIP.APPROVED' | translate }}"
              color="accent"
            >
              check_box
            </mat-icon>
          </button>

          <button
            *ngIf="deleteIconShow && (!type || type != 'approval')"
            class="Admin-tableBtn w-100"
            (click)="open(openModel, row['_id'], 'delete')"
            mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
          >
            <mat-icon class="Admin-tableBtn is-remove" color="accent">
              cancel
            </mat-icon>
          </button>

          <a
            *ngIf="!type || type != 'approval'"
            class="Admin-tableBtn is-view w-100"
            [routerLink]="[AppHtmlRoutes.tournament, row['slug']]"
            mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.VIEW_TOURNAMENT' | translate }}"
            color="primary"
          >
            <mat-icon class="Admin-tableBtn is-view">arrow_right_alt</mat-icon>
          </a>
          <a
            *ngIf="manageIconShow"
            mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.MANAGE' | translate }}"
            color="primary"
            [routerLink]="['/tournament/manage/', row['slug']]"
            class="Admin-tableBtn w-100"
          >
            <mat-icon class="Admin-tableBtn is-view">settings</mat-icon>
          </a>
          <button
            class="Admin-tableBtn w-100"
            (click)="export(row)"
            mat-icon-button
          >
            <mat-icon
              color="accent"
              matTooltip="{{ 'ADMIN_TOOLTIP.DOWNLOAD' | translate }}"
              class="Admin-tableBtn is-remove"
            >
              print
            </mat-icon>
          </button>

          <button
            *ngIf="tournamentType && tournamentType == 'ongoing'"
            (click)="endTournament(row['_id'])"
            class="Admin-tableBtn w-100"
            mat-icon-button
          >
            <mat-icon
              color="accent"
              matTooltip="{{ 'ADMIN_TOOLTIP.END' | translate }}"
              class="Admin-tableBtn is-remove"
            >
              lock
            </mat-icon>
          </button>
        </mat-menu>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <app-pagination
    [page]="page"
    [activePage]="activePage?.page"
    (currentPage)="pageChanged($event)"
  >
  </app-pagination>
</div>

<!-- ABORT MODEL/ REQUEST EDIT -->
<ng-template #openModel let-modal class="temp">
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <div class="pl-5 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-4">
          <h4>{{ modelHeader }}</h4>
          <hr class="hr-margin" />
        </div>
      </div>

      <div class="row mt-2 ml-3 pl-2 mr-5">
        <span class="description-text">
          <h5>
            {{ modelTitle }}
          </h5>
          <span *ngIf="!showRequestEditBtn">{{ modelDesc }}</span>
          <span *ngIf="showRequestEditBtn">
            <input
              class="form-control"
              [(ngModel)]="changeRequestModel"
              type="text"
            />
          </span>
          <hr />
        </span>
      </div>
    </div>
  </div>

  <div class="modal-footer" *ngIf="hideBtn">
    <button
      class="global-EditBtn dark-text"
      (click)="modal.dismiss()"
      name="button"
      data-dismiss="modal"
    >
      {{ "BUTTON.CANCEL" | translate }}
    </button>

    <button
      *ngIf="!showRequestEditBtn"
      class="global-EditBtn"
      (click)="abort()"
      name="button"
    >
      {{ "BUTTON.SUBMIT" | translate }}
    </button>

    <button
      *ngIf="showRequestEditBtn && !showRequestTrashBtn"
      class="global-EditBtn"
      (click)="requestEdit()"
      name="button"
    >
      {{ "BUTTON.SUBMIT" | translate }}
    </button>

    <button
      *ngIf="showRequestTrashBtn && showRequestTrashBtn"
      class="global-EditBtn"
      (click)="trash()"
      name="button"
    >
      {{ "BUTTON.SUBMIT" | translate }}
    </button>
  </div>
</ng-template>

<!-- VIEW MODEL -->
<ng-template #viewModel let-modal class="temp">
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>

  <div class="modal-body">
    <div class="pl-4 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-3">
          <h5>
            {{
              "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.TOURNAMENT_DETAILS"
                | translate
            }}
          </h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <span class="description-text">
            <label>
              {{
                "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.BASIC_DETAILS" | translate
              }}
            </label>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="lableFontBold">
            {{
              "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.TOURNAMENT_DETAILS"
                | translate
            }}
          </label>
          <div>
            <span>{{ tournamentDetails?.name }}</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="lableFontBold">
            {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.USER_NAME" | translate }}
          </label>
          <div class>
            <span>
              {{ tournamentDetails?.organizerDetail?.fullName || "NA" }}
            </span>
            <hr />
          </div>
        </div>

        <div class="col-md-6">
          <label class="lableFontBold">
            {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.PLATFORM" | translate }}
          </label>

          <!-- <div
            *ngIf="
              tournamentDetails?.gameDetail?.platform &&
              tournamentDetails?.gameDetail?.platform.length > 0
            "
          >
            <ng-container
              *ngFor="
                let item of tournamentDetails?.gameDetail?.platform;
                let isLast = last
              "
            >
              <span> {{ item.name }}{{ isLast ? "" : ", " }} </span>
            </ng-container>
            <hr />
          </div> -->
          <div class="">
            <span>{{
              tournamentDetails?.platform | nameById: "name":platformList
            }}</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label class="lableFontBold">
            {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.GAME_NAME" | translate }}
          </label>

          <div>
            <span>{{ tournamentDetails?.gameDetail?.name }}</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label class="lableFontBold">
            {{
              "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.HIGHLIGHTED_DETAILS"
                | translate
            }}
          </label>
        </span>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="lableFontBold">
            {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.REGION" | translate }}
          </label>

          <div>
            <span>
              {{
                tournamentDetails?.regionsAllowed
                  ? tournamentDetails?.regionsAllowed
                  : "-"
              }}
            </span>
            <hr />
          </div>
        </div>

        <div class="col-md-6">
          <label class="lableFontBold">
            {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.START_TIME" | translate }}
          </label>

          <div>
            <span>{{ tournamentDetails?.startTime }}</span>
            <hr />
          </div>
        </div>

        <div class="col-md-6">
          <label class="lableFontBold">
            {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.START_DATE" | translate }}
          </label>

          <div>
            <span>{{ tournamentDetails?.startDate | date: "dd MMM yy" }}</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label class="lableFontBold">
            {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.DESCRIPTION" | translate }}
          </label>

          <div>
            <span
              class="author-description"
              [innerHTML]="tournamentDetails?.description"
            ></span>
          </div>
        </span>
      </div>

      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label class="lableFontBold">
            {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.RULES" | translate }}
          </label>
        </span>
      </div>

      <div class="row">
        <div class="col-md-12">
          <span
            class="author-description"
            [innerHTML]="tournamentDetails?.rules"
          >
          </span>
        </div>
      </div>

      <div class="row mt-2">
        <span class="d-flex flex-column ml-3">
          <label class="lableFontBold">
            {{
              "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.BRACKET_DETAILS" | translate
            }}
          </label>
        </span>
      </div>

      <div class="row mt-2">
        <div class="col-md-6">
          <label class="labelFontNormal">
            {{
              "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.BRACKET_TYPE" | translate
            }}
          </label>

          <div>
            <span>{{
              tournamentDetails?.bracketType | bracket | translate
            }}</span>
            <hr />
          </div>
        </div>

        <div class="col-md-6">
          <label class="lableFontBold">
            {{
              "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.TOTAL_PARTICIPANTS"
                | translate
            }}
          </label>
          <div class>
            <span>{{ tournamentDetails?.participantJoined }}</span>
            <span *ngIf="tournamentDetails?.participantType == 'team'">
              {{ "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.TEAMS" | translate }}
            </span>
            <hr />
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-6" *ngIf="activeTab == 3">
          <label class="lableFontBold">{{
            "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.PRIZE_DETAILS" | translate
          }}</label>
          <br />
          <label class="labelFontNormal"
            >{{
              "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.PRIZE_STATUS" | translate
            }}
            : {{ statusForPaidPrize }}</label
          >
          <br />
          <label class="labelFontNormal"
            >{{
              "ADMIN.ESPORTS_MANAGEMENT.MODEL_POPUP.PRIZE_CURRENCY" | translate
            }}
            : {{ tournamentDetails?.prizeCurrency }}</label
          >

          <div
            class
            *ngIf="
              tournamentDetails?.prizeList &&
              tournamentDetails?.prizeList.length > 0
            "
          >
            <ng-container
              *ngFor="
                let item of tournamentDetails?.prizeList;
                let isLast = last
              "
            >
              <span>
                {{ item.name }} : {{ item.value }}{{ isLast ? "" : ", " }}
              </span>
            </ng-container>
            <hr />
          </div>
        </div>
      </div>
      <div *ngIf="!viewModelBtnDisable" class="modal-footer">
        <button
          class="btn-primary"
          (click)="open(openModel, tournamentDetails?._id, 'trash')"
          name="button"
        >
          {{ "BUTTON.TRASH" | translate }}
        </button>

        <button
          class="btn-primary"
          (click)="open(openModel, tournamentDetails._id, 'requestEdit')"
          name="button"
        >
          {{ "BUTTON.REQUEST_EDIT" | translate }}
        </button>

        <button class="btn-primary" (click)="approveTournament()">
          {{ "BUTTON.APPROVED" | translate }} &
          {{ "BUTTON.PUBLISH" | translate }}
        </button>
      </div>

      <div class="row" *ngIf="viewModelBtnDisable">
        <div class="col-md-8"></div>

        <div class="col-md-4 model-footer">
          <button
            class="global-EditBtn dark-text"
            (click)="modal.dismiss()"
            name="button"
          >
            {{ "BUTTON.CLOSE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
