<div class="TeamCard" *ngIf="data">
  <div class="TeamCard-image" [lazyLoad]="data.image"></div>

  <div class="TeamCard-info">
    <h3 class="TeamCard-info-name">
      {{ data.name }}
    </h3>
    <p class="TeamCard-info-description">
      {{ data.teamsLength }}
      {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} •

      <ng-container *ngIf="data.createtdAt === 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }}
      </ng-container>

      <ng-container *ngIf="data.createtdAt > 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAYS_AGO" | translate }}
      </ng-container>
    </p>
  </div>

  <div class="TeamCard-manage">
    <h4 class="TeamCard-info-name name">
      {{ data.name }}
    </h4>
    <h4 class="TeamCard-info-name name">
      {{ data.name }}
    </h4>
    <button class="TeamCard-manage-button-menu">
      <mat-icon style="color: #736CFF;" class="TeamCard-manage-button-menu-icon"> filter  </mat-icon>
    </button>
    <h5 style="color: #736CFF;margin-left: 2px;"> 1</h5>
  </div>
</div>

<style>
  .name{
    margin-right: 10px;
  }
</style>
