@import "shared";

:host {
  display: block;
}

.TeamCard {
  @extend %u-dfCenter;
  border-bottom: px2vw-xl(1px) solid var(--white-smoke);
  padding: px2vw-xl(16px);

  @include lg {
    border-bottom-width: px2vw-lg(1px);
    padding: px2vw-lg(16px);
  }

  @include md {
    border-bottom-width: px2vw-md(1px);
    padding: px2vw-md(16px);
  }

  @include sm {
    border-bottom-width: px2vw-sm(1px);
    padding: px2vw-sm(16px);
  }

  &-image {
    margin-right: px2vw-xl(15px);
    flex-shrink: 0;
    height: px2vw-xl(40px);
    width: px2vw-xl(40px);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(15px);
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }

    @include md {
      margin-right: px2vw-md(15px);
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
    }
  }

  &-info {
    margin-right: px2vw-xl(15px);

    @include lg {
      margin-right: px2vw-lg(15px);
    }

    @include md {
      margin-right: px2vw-md(15px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
    }
  }

  &-info-name {
    @extend %subtitle-1;
    margin-bottom: 0;
    color: var(--white);
  }

  &-info-description {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-manage {
    @extend %u-dfCenterEnd;
    flex-shrink: 0;
    margin-left: auto;
  }

  &-manage-button {
    margin-left: px2vw-xl(8px);

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-manage-button-menu {
    width: px2vw-xl(24px);
    height: px2vw-xl(24px);
    background-color: transparent;

    @include lg {
      width: px2vw-lg(24px);
      height: px2vw-lg(24px);
    }

    @include md {
      width: px2vw-md(24px);
      height: px2vw-md(24px);
    }

    @include sm {
      width: px2vw-sm(24px);
      height: px2vw-sm(24px);
    }
  }

  &-manage-button-menu-icon {
    font-size: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  &-manage-menu-link {
    .link,
    .icon {
      color: var(--white-medium);
    }

    &:hover .icon {
      color: var(--color-primary);
    }
  }
}
