<section *ngIf="isLoaded">
  <div class="add-section">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div ngbDropdown class="dropdown-language">
          <button class="form-control" ngbDropdownToggle>
            {{ currLangauge | translate | capitalizeFirst }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              (click)="currLangauge = l?.key"
              ngbDropdownItem
              *ngFor="let l of language"
            >
              {{ l?.value | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="videoLibraryForm" class="form-container">
      <div class="row">
        <div
          class="col-lg-6 col-md-6 col-sm-12"
          *ngFor="let l of language"
          [hidden]="currLangauge !== l?.key"
        >
          <app-input
            [title]="'VIDEO.FORM.TITLE'"
            [type]="'STRING'"
            [customFormGroup]="videoLibraryForm?.controls?.title"
            [customFormControlName]="l?.key"
            [enableFormGroupValidation]="true"
          >
          </app-input>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-input
            [title]="'VIDEO.FORM.YOUTUBE_URL'"
            [type]="'STRING'"
            [customFormGroup]="videoLibraryForm"
            [customFormControlName]="'youtubeUrl'"
          >
          </app-input>
        </div>
      </div>
      <div
        class="row description"
        *ngFor="let l of language"
        [hidden]="currLangauge !== l?.key"
      >
        <app-text-area
          [title]="'VIDEO.FORM.DESCRIPTION'"
          [type]="'STRING'"
          [customFormGroup]="videoLibraryForm?.controls?.description"
          [customFormControlName]="l?.key"
          [row]="3"
          [enableFormGroupValidation]="true"
        >
        </app-text-area>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_CATEGORY'"
            [customFormControlName]="'category'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="categoryList"
            [type]="'E'"
          >
          </app-drop-down>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_GAME'"
            [customFormControlName]="'game'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="gameList"
            [type]="'E'"
            (valueEmit)="onChangePlatform($event, gameList)"
          >
          </app-drop-down>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_TAGS'"
            [customFormControlName]="'tags'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="tagsList"
            [type]="'F'"
          >
          </app-drop-down>
          <div class="row">
            <div
              class="selected-tags cusror d-flex flex-row justify-content-between"
              *ngFor="let tag of videoLibraryForm.value.tags"
            >
              <span>{{ tag | nameById: "name":tagsList }}</span>
              <span (click)="removeItem('tags', tag)" class="ml-3">X</span>
            </div>
            <div
              class="error"
              *ngIf="
                videoLibraryForm?.controls?.tags?.touched &&
                videoLibraryForm?.controls?.tags?.errors?.required
              "
            >
              <strong>{{ "VIDEO.REQUIRED.ADD_TAGS" | translate }}</strong>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_PLATFORM'"
            [customFormControlName]="'platforms'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="platformList"
            [type]="'F'"
          >
          </app-drop-down>
          <div class="row">
            <div
              class="selected-tags cusror d-flex flex-row justify-content-between"
              *ngFor="let platform of videoLibraryForm.value.platforms"
            >
              <span>{{ platform | nameById: "name":platformList }}</span>
              <span (click)="removeItem('platforms', platform)" class="ml-3"
                >X</span
              >
            </div>
            <div
              class="error"
              *ngIf="
                videoLibraryForm?.controls?.platforms?.touched &&
                videoLibraryForm?.controls?.platforms?.errors?.required
              "
            >
              <strong>{{ "VIDEO.REQUIRED.ADD_PLATFORM" | translate }}</strong>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <app-drop-down
            [title]="'VIDEO.FORM.ADD_GENRE'"
            [customFormControlName]="'genres'"
            [customFormGroup]="videoLibraryForm"
            [dropdownList]="genreList"
            [type]="'F'"
          >
          </app-drop-down>
          <div class="row">
            <div
              class="selected-tags cusror d-flex flex-row justify-content-between"
              *ngFor="let genre of videoLibraryForm.value.genres"
            >
              <span>{{ genre | nameById: "name":genreList }}</span>
              <span (click)="removeItem('genres', genre)" class="ml-3">X</span>
            </div>
            <div
              class="error"
              *ngIf="
                videoLibraryForm?.controls?.genres?.touched &&
                videoLibraryForm?.controls?.genres?.errors?.required
              "
            >
              <strong>{{ "VIDEO.REQUIRED.ADD_GENRE" | translate }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="row btn-align">
        <ng-container *ngIf="!isProcessing; else spinner">
          <button
            type="submit"
            class="btn btn-primary"
            routerLink="/profile/my-content"
          >
            {{ "BUTTON.CANCEL" | translate }}
          </button>
          <button type="submit" class="btn btn-primary" (click)="submit()">
            {{ "BUTTON.SAVE" | translate }}
          </button>
        </ng-container>
        <ng-template #spinner>
          <button type="button" class="btn-primary spinner_pointer_event_none">
            <mat-spinner [diameter]="20"></mat-spinner>
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</section>
<app-fullscreen-loading *ngIf="!isLoaded"></app-fullscreen-loading>
