textarea {
    border-radius: 5px !important;
}

.dropdown-item, .selected-tags span {
    color: var(--whitecolor) !important;
}

.selected-tags{
    width: auto !important;
}

.btn-align {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    padding-bottom: 139px;
    margin-top: 50px;
    button:first-child {
    	margin-right: 44px;
    }
}

.form-container {
	background: transparent !important;
	padding: 0 !important;
	> .row {
		margin-bottom: 48px;
	}
}
.add-section {
	max-width: 1140px;
	margin: auto;
	padding: 0 !important;
	padding-top: 129px !important;
}

section {
	background: #171616;
	min-height: 100vh;
}

.edit-icon {
	position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    z-index: 9;
    img {
      width: 15px;
      margin-right: 7px;
    }
}

.dropdown-language {
	margin-bottom: 15px;
	width: 120px;
    float: right;
}

@media (min-width: 1200px) and (max-width: 1600px) {
	section {
		.add-section {
			max-width: 960px;
		}
		.btn-align {
			button {
				font-size: 14px;
				&:first-child {
					margin-right: 22px;
				}
			}
		}
		.form-container >.row {
		    margin-bottom: 30px;
		}
	}
}

@media (max-width: 767px) {
	.add-section {
	    padding-top: 50px !important;
	    .form-container {
	    	> .row {
		    	margin-bottom: 25px;
		    	&:not(:nth-child(2)) {
			    	> div:not(:last-child) {
			    		margin-bottom: 25px;
			    	}
			    }
			    .row {
			    	.error {
				    	left: 20px;
				    }
				    .selected-tags {
					    padding: 5px 10px;
					    margin-right: 15px;
					    margin-top: 10px;
					}
			    }
		    }
		}
  }
	.btn-align {
		padding: 0 20px;
    	justify-content: space-around;
    	button {
    		margin: 0 !important;
    		font-size: 14px;
    		padding: 10px 40px;
    	}
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.add-section {
	    padding-top: 50px !important;
	    max-width: 720px;
	    .form-container {
	    	> .row {
		    	margin-bottom: 25px;
			    .row {
			    	.error {
				    	left: 20px;
				    }
				    .selected-tags {
					    padding: 5px 10px;
					    margin-right: 15px;
					    margin-top: 10px;
					}
			    }
		    }
		}
  }
	.btn-align {
		padding: 0 20px;
	}
}


.description {
	display: block;
    margin: 15px !important;
}
