@import "shared";

:host {
  display: block;
}

.SelectDate {
  overflow: hidden;
  position: relative;
  background: $left-corner-light;

  &-container {
    @extend %u-dfStretch;
    min-height: 100vh;
    padding-top: px2vw-xl(144px);

    @include lg {
      padding-top: px2vw-lg(144px);
    }

    @include md {
      padding-top: px2vw-md(144px);
    }

    @include sm {
      padding-top: px2vw-sm(144px);
    }
  }

  &-logo {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(40px);
    height: px2vw-xl(48px);
    width: px2vw-xl(48px);

    @include lg {
      margin-right: px2vw-lg(40px);
      height: px2vw-lg(48px);
      width: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(40px);
      height: px2vw-md(48px);
      width: px2vw-md(48px);
    }

    @include sm {
      margin-right: px2vw-sm(40px);
      height: px2vw-sm(48px);
      width: px2vw-sm(48px);
    }
  }

  &-main {
    @extend %u-dfStart;
    flex-direction: column;
    flex-grow: 1;
    max-width: px2vw-xl(718px);
    padding-top: px2vw-xl(6px);
    padding-bottom: px2vw-xl(72px);

    @include lg {
      max-width: px2vw-lg(718px);
      padding-top: px2vw-lg(6px);
      padding-bottom: px2vw-lg(72px);
    }

    @include md {
      max-width: px2vw-md(718px);
      padding-top: px2vw-md(6px);
      padding-bottom: px2vw-md(72px);
    }

    @include sm {
      max-width: px2vw-sm(718px);
      padding-top: px2vw-sm(6px);
      padding-bottom: px2vw-sm(72px);
    }
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(44px);

    @include lg {
      margin-bottom: px2vw-lg(44px);
    }

    @include md {
      margin-bottom: px2vw-md(44px);
    }

    @include sm {
      margin-bottom: px2vw-sm(44px);
    }
  }

  &-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(48px);
    margin-bottom: px2vw-xl(30px);
    width: 100%;

    @include lg {
      grid-column-gap: px2vw-lg(48px);
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      grid-column-gap: px2vw-md(48px);
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(48px);
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-buttons {
    @extend %u-dfCenter;
    margin-top: auto;
  }

  &-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-person {
    position: absolute;
    top: px2vw-xl(72px);
    right: 0;
    height: px2vw-xl(773px);

    @include lg {
      top: px2vw-lg(72px);
      height: px2vw-lg(773px);
    }

    @include md {
      top: px2vw-md(72px);
      height: px2vw-md(773px);
    }

    @include sm {
      top: px2vw-sm(72px);
      height: px2vw-sm(773px);
    }
  }
}
