@import "shared";
@import "../../../../../../scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.SelectDate {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container,
  &-switcher-container {
    max-width: px2vw-xl(994px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(620px);
    }

    @include md {
      max-width: none;
    }
  }

  &-container {
    margin-top: px2vw-xl(190px);
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(190px);
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(190px);
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(90px);
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-switcher-container {
    margin-top: auto;
  }
}
