<div class="UserNotification-main">
  <esports-loading *ngIf="isLoading"></esports-loading>

  <div class="UserNotification-boxC-footer">
    <div class="UserNotification-boxC-footer-left">
      <form [formGroup]="inboxNotificationForm" novalidate>
        <div class="col-xl-4 col-lg-12" style="margin-left: -15px;">
          <app-drop-down-select
            (valueEmit)="selectType($event)"
            [customFormControlName]="'userSegment'"
            [customFormGroup]="inboxNotificationForm"
            [dropdownList]="userSegementValues"
            [type]="'A'"
            [title]="
              'ADMIN.USER_NOTIFICATION.LABEL.SELECT_USER_SEGMENT' | translate
            "
          ></app-drop-down-select>
        </div>

        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>
            {{ "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE" | translate }}
          </mat-label>
          <input
            matInput
            id="title"
            autocomplete="off"
            type="text"
            formControlName="title"
          />
          <mat-error *ngIf="hasError('title', 'required')">
            {{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE" | translate
            }}
            *
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="global-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>
            {{ "ADMIN.USER_NOTIFICATION.LABEL.TYPE_MESSAGE" | translate }}
          </mat-label>
          <textarea
            matInput
            id="message"
            type="text"
            formControlName="message"
          ></textarea>
          <mat-error *ngIf="hasError('message', 'required')">
            {{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.TYPE_MESSAGE"
                | translate
            }}
            *
          </mat-error>
        </mat-form-field>

        <div class="UserNotification-footer-btns">
          <button
            class="global-EditBtn is-sm dark-text"
            (click)="toggleEditPane(); resetControls()"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.CANCEL" | translate }}
          </button>

          <button
            class="global-EditBtn is-sm"
            (click)="updateInbox()"
            type="submit"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.SEND" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
