<div class="Voucher-pay">
  <div class="Voucher-pay-game">
    <img class="Voucher-pay-game-logo" [src]="productInfo.logo" alt="image" />
    <p class="Voucher-pay-game-text">
      {{ productInfo.longDesc }}
    </p>
    <!-- <h4 class="Voucher-pay-game-subtitle">
      Garena Shells
    </h4>
    <p class="Voucher-pay-game-text">
      Top Up Garena Shells to increase the depth of your hero pool fasters and
      get that awesome Lee Sin skin you always wanted. You will need to convert
      the Garena Shells into Riot points in your Garena Dashboard.
    </p> -->

    <footer class="Voucher-pay-game-footer">
      <h4 class="Voucher-pay-game-share mesf-Title2">
        {{ "SHOP.SHARE_ITEM" | translate }}
      </h4>
      <div class="Voucher-pay-game-socials">
        <a
          class="Voucher-pay-game-social-link"
          href="https://www.facebook.com/"
        >
          <img src="assets/images/Shop/facebook.svg" alt="facebook" />
        </a>
        <a class="Voucher-pay-game-social-link" href="https://twitter.com/">
          <img src="assets/images/Shop/twitter.svg" alt="twitter" />
        </a>
        <a class="Voucher-pay-game-social-link" href="https://www.google.com">
        </a>
      </div>
    </footer>
  </div>
  <div class="Voucher-pay-details">
    <h2 class="Voucher-pay-title mesf-Title">
      {{ "SHOP.BOOST_GAME" | translate }}
    </h2>

    <section class="Voucher-pay-step-block">
      <div class="Voucher-pay-step">
        <p class="Voucher-pay-step-amount">1</p>
        <h3 class="Voucher-pay-step-title">
          {{ "SHOP.SELECT_PRODUCT" | translate }}
        </h3>
      </div>
      <div class="Voucher-pay-amount-cards">
        <div
          class="Voucher-pay-amount-card"
          *ngFor="let item of productList; let i = index"
          (click)="onToggleAmountCard(item)"
          [ngClass]="{ selected: item.selected }"
        >
          <span class="Voucher-pay-amount-card-value">{{
            item.description
          }}</span>
          <!-- <span class="Voucher-pay-amount-card-shells">Garena Shells</span> -->
        </div>
      </div>
    </section>

    <section class="Voucher-pay-step-block">
      <div class="Voucher-pay-step">
        <p class="Voucher-pay-step-amount">2</p>
        <h3 class="Voucher-pay-step-title">
          {{ "SHOP.CHOOSE_PAYMENT" | translate }}
        </h3>
      </div>
      <div class="Voucher-pay-methods">
        <!-- <div
          class="Voucher-pay-method"
          *ngFor="let item of TEST_payment; let i = index"
          (click)="onTogglePayMethod(i)"
          [ngClass]="{ selected: item.selected }"
        >
          <img class="Voucher-pay-method-logo" [src]="item.logo" alt="image" />
          <p class="Voucher-pay-method-cost">
            Rp. <span class="Voucher-pay-method-price">{{ item.price }}</span>
          </p>
          <button class="Voucher-pay-method-button"></button>
        </div> -->
        <div class="Voucher-pay-method" [ngClass]="{ selected: true }">
          <img
            class="Voucher-pay-method-logo"
            src="/assets/images/Shop/boost_wallet.png"
            alt="image"
          />
          <p class="Voucher-pay-method-cost">
            {{ selectedProduct.price.currency }}
            <span class="Voucher-pay-method-price">{{
              selectedProduct.price.amount
            }}</span>
          </p>
          <button class="Voucher-pay-method-button"></button>
        </div>
      </div>
    </section>

    <section class="Voucher-pay-step-block">
      <div class="Voucher-pay-step">
        <p class="Voucher-pay-step-amount">3</p>
        <h3 class="Voucher-pay-step-title">
          <!-- {{ "SHOP.INPUT_GAME_ID" | translate }} eg- 13482_22001 -->
          {{
            productType === "TOPUP"
              ? "Input your game ID"
              : "Input your email ID"
          }}
        </h3>
      </div>
      <div class="Voucher-pay-email-block">
        <input
          class="Voucher-pay-email-field"
          placeholder="{{
            productType === 'TOPUP'
              ? 'Input your game ID'
              : 'Input your email ID'
          }}"
          type="email"
          [(ngModel)]="userAccount"
        />
        <input
          class="Voucher-pay-email-field"
          placeholder="Zone ID"
          [(ngModel)]="userAccountZone"
          *ngIf="productInfo.zoneId"
        />
        <p class="Voucher-pay-email-hint">
          <!-- {{ "SHOP.EMAIL_MSG" | translate }} -->
          {{
            productType === "TOPUP"
              ? "Make sure your game Id is correct."
              : "Make sure your e-mail address is correct, we will use it to deliver your voucher code."
          }}
        </p>
      </div>
    </section>

    <section class="Voucher-pay-step-block" *ngIf="productType === 'TOPUP'">
      <div class="Voucher-pay-step">
        <p class="Voucher-pay-step-amount">4</p>
        <h3 class="Voucher-pay-step-title">
          {{ "SHOP.CONFIRM_DETAIL" | translate }}
        </h3>
      </div>
      <div class="Voucher-pay-step">
        <h3 class="Voucher-pay-step-title">
          {{ "SHOP.USERNAME" | translate }} -
          {{ userValidateResult.message.username }}
        </h3>
      </div>
    </section>

    <!-- <button
      [routerLink]="[AppHtmlRoutes.shopOrder]"
      class="Voucher-pay-button mesf-EditBtn"
    >
      Confirm
    </button> -->
    <section *ngIf="productType === 'TOPUP'">
      <button
        *ngIf="!userValidated"
        (click)="validatePaymentDetail()"
        class="Voucher-pay-button mesf-EditBtn"
      >
        {{ "SHOP.VALIDATE_DETAIL" | translate }}
      </button>
      <button
        *ngIf="userValidated"
        (click)="initiateTransaction()"
        class="Voucher-pay-button mesf-EditBtn"
      >
        {{ "SHOP.CONFIRM" | translate }}
      </button>
    </section>
    <section *ngIf="productType === 'VOUCHER'">
      <button
        (click)="initiateVoucherTransaction()"
        class="Voucher-pay-button mesf-EditBtn"
      >
        Place Order
      </button>
    </section>
  </div>
</div>
