@import "../../scss/abstract/mixins";
@import "../../scss/abstract/variables";
@import "../../scss/base/wrappers";
@import "../../scss/abstract/functions";


  .App {
    display: block;
    height: 100%;
    &-sidenav ::ng-deep {
      .mat-drawer-backdrop.mat-drawer-shown {
        z-index: 101;
      }
    }
    &-main {
      padding-top: 55px;
      min-height: 100%;
      @include lg {
        padding-top: 61px;
      }
      @include md {
        padding-top: 61px;
      }
      @include sm {
        padding-top: 61px;
      }
    }
    &-chat {
      padding: px2vw-xl(45px) px2vw-xl(15px);
      @include lg {
        padding: px2vw-lg(45px) px2vw-lg(15px);
      }
      @include md {
        padding: px2vw-md(45px) px2vw-md(15px);
      }
      @include sm {
        padding: px2vw-sm(45px) px2vw-sm(15px);
      }
      &-search {
        @extend %u-dfCenterStart;
        margin-bottom: px2vw-xl(40px);
        border-radius: px2vw-xl(5px);
        padding: px2vw-xl(9px);
        @include lg {
          margin-bottom: px2vw-lg(40px);
          border-radius: px2vw-lg(5px);
          padding: px2vw-lg(9px);
        }
        @include md {
          margin-bottom: px2vw-md(40px);
          border-radius: px2vw-md(5px);
          padding: px2vw-md(9px);
        }
        @include sm {
          margin-bottom: px2vw-sm(40px);
          border-radius: px2vw-sm(5px);
          padding: px2vw-sm(9px);
        }
        input {
          margin-left: px2vw-xl(10px);
          border: none;
          background: none;
          color: var(--base-black);
          @include lg {
            margin-left: px2vw-lg(10px);
          }
          @include md {
            margin-left: px2vw-md(10px);
          }
          @include sm {
            margin-left: px2vw-sm(10px);
          }
        }
      }
      &-item {
        @extend %u-dfStartBtw;
        margin-bottom: px2vw-xl(40px);
        border-radius: px2vw-xl(5px);
        padding: px2vw-xl(10px) 0;
        transition: all 100ms linear;
        cursor: pointer;
        @include lg {
          margin-bottom: px2vw-lg(40px);
          border-radius: px2vw-lg(5px);
          padding: px2vw-lg(10px) 0;
        }
        @include md {
          margin-bottom: px2vw-md(40px);
          border-radius: px2vw-md(5px);
          padding: px2vw-md(10px) 0;
        }
        @include sm {
          margin-bottom: px2vw-sm(40px);
          border-radius: px2vw-sm(5px);
          padding: px2vw-sm(10px) 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &-ava {
          img {
            margin-right: px2vw-xl(40px);
            overflow: hidden;
            min-width: px2vw-xl(72px);
            width: px2vw-xl(72px);
            height: px2vw-xl(72px);
            border-radius: 50%;
            object-fit: cover;
            @include lg {
              margin-right: px2vw-lg(40px);
              min-width: px2vw-lg(72px);
              width: px2vw-lg(72px);
              height: px2vw-lg(72px);
            }
            @include md {
              margin-right: px2vw-md(40px);
              min-width: px2vw-md(72px);
              width: px2vw-md(72px);
              height: px2vw-md(72px);
            }
            @include sm {
              margin-right: px2vw-sm(40px);
              min-width: px2vw-sm(72px);
              width: px2vw-sm(72px);
              height: px2vw-sm(72px);
            }
          }
        }
        &-info {
          width: 100%;
          &-title {
            margin-bottom: .260552371vw;
            font-size: 1.1464304325vw;
            font-family: dynasty-primary-semibold,sans-serif;
            @include lg {
              margin-bottom: px2vw-lg(5px);
              font-size: px2vw-lg(22px);
            }
            @include md {
              margin-bottom: px2vw-md(5px);
              font-size: px2vw-md(22px);
            }
            @include sm {
              margin-bottom: px2vw-sm(5px);
              font-size: px2vw-sm(22px);
            }
          }
          &-text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: px2vw-xl(20px);
            margin-bottom: px2vw-xl(5px);
            max-width: px2vw-xl(200px);
            font-size: px2vw-xl(17px);
            font-family: "dynasty-primary-regular", sans-serif;


            @include lg {
              margin-bottom: px2vw-lg(5px);
              margin-right: px2vw-lg(15px);
              max-width: px2vw-lg(120px);
              font-size: px2vw-lg(17px);
            }
            @include md {
              margin-bottom: px2vw-md(5px);
              margin-right: px2vw-md(20px);
              max-width: px2vw-md(120px);
              font-size: px2vw-md(17px);
            }
            @include sm {
              margin-right: px2vw-sm(10px);
              margin-bottom: px2vw-sm(5px);
              max-width: px2vw-sm(120px);
              font-size: px2vw-sm(17px);
            }
          }
          &-date {
            font-size: 14px;
            font-family: dynasty-primary-light,sans-serif;
          }
        }
        &-notification {
          border-radius: 50%;
          min-width: px2vw-xl(18px);
          width: px2vw-xl(18px);
          height: px2vw-xl(18px);
          margin: px2vw-xl(30px) 0 px2vw-xl(20px);
          @include lg {
            margin: px2vw-lg(30px) 0 px2vw-lg(20px);
            min-width: px2vw-lg(18px);
            width: px2vw-lg(18px);
            height: px2vw-lg(18px);
          }
          @include md {
            min-width: px2vw-md(18px);
            margin: px2vw-md(30px) 0 px2vw-md(20px);
            width: px2vw-md(18px);
            height: px2vw-md(18px);
          }
          @include sm {
            min-width: px2vw-sm(18px);
            margin: px2vw-sm(30px) 0 px2vw-sm(20px);
            width: px2vw-sm(18px);
            height: px2vw-sm(18px);
          }
        }
      }
    }
  }
  .chat-item-wrapper{
    display: flex;
    flex-direction: column;
  }


  .mat-drawer-content {
    width: 62px !important;
    // border: 1px solid red;
    z-index:100000;
  }


