@import "shared";

:host {
  display: block;
  margin-left: auto;
}

.hide-btn {
  display: none;
}

.not-allowed {
  cursor: not-allowed !important;
}

.registered {
  cursor: default;
  padding: 0;
  background-color: transparent;
  font-family: "source-sans-pro";
  color: var(--base-01) !important;

  &:hover {
    opacity: 1;
  }
}
