@import "shared";

:host {
  display: block;
}

.Wallet {
  .btn {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
  }
  &-container {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    padding: 0 24px;
  }
  &-inner {
    @include sm {
      margin-top: px2vw-sm(58.368px);
    }
  }
  &-header {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: px2vw-xl(48px) 0;

    @include lg {
      padding: px2vw-lg(48px) 0;
    }

    @include md {
      padding: px2vw-md(48px) 0;
    }

    @include sm {
      padding: px2vw-sm(36.864px) 0;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 58px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include sm {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .btn {
      @include sm {
        display: none;
      }
    }
  }
  &-banner {
    background-image: url("../../../assets/images/wallet/banner-wallet-pc.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-top-right-radius: px2vw-xl(40px);
    border-bottom-right-radius: px2vw-xl(20px);
    min-height: px2vw-xl(252px);
    padding-top: px2vw-xl(10px);
    padding-left: px2vw-xl(135px);
    margin-bottom: px2vw-xl(20px);
    @include lg {
      min-height: px2vw-lg(252px);
      padding-top: px2vw-lg(10px);
      padding-left: px2vw-lg(135px);
      margin-bottom: px2vw-lg(20px);
      border-top-right-radius: px2vw-lg(40px);
      border-bottom-right-radius: px2vw-lg(20px);
    }

    @include md {
      min-height: px2vw-md(252px);
      padding-top: px2vw-md(10px);
      padding-left: px2vw-md(135px);
      margin-bottom: px2vw-md(20px);
      border-top-right-radius: px2vw-md(40px);
      border-bottom-right-radius: px2vw-md(20px);
    }

    @include sm {
      background-image: url("../../../assets/images/wallet/banner-wallet-mb.png");
      min-height: px2vw-sm(501.4272px);
      margin-bottom: px2vw-sm(20px);
      border-top-right-radius: px2vw-sm(40px);
      border-bottom-right-radius: px2vw-sm(20px);
      padding-top: px2vw-sm(162.816px);
      padding-left: px2vw-sm(49.152px);
    }
    &-heading {
      padding: px2vw-xl(16px) 0;
      margin-bottom: px2vw-xl(16px);
      @include lg {
        padding: px2vw-lg(16px) 0;
        margin-bottom: px2vw-lg(16px);
      }

      @include md {
        padding: px2vw-md(16px) 0;
        margin-bottom: px2vw-md(16px);
      }

      @include sm {
        padding: px2vw-sm(24.576px) 0;
        margin-bottom: 0;
      }
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--color-white-medium);
        margin-bottom: 0;
        @include sm {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    &-content-BalanceCard-text {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
    }
    &-content {
      width: 100%;
      max-width: px2vw-xl(310.12px);
      padding-top: px2vw-xl(24px);
      @include lg {
        max-width: px2vw-lg(310.12px);
        padding-top: px2vw-lg(24px);
      }

      @include md {
        max-width: px2vw-md(310.12px);
        padding-top: px2vw-md(24px);
      }

      @include sm {
        max-width: px2vw-sm(376.32px);
        padding-top: px2vw-sm(36.864px);
      }
      &-BalanceCard {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: px2vw-xl(16px);
        @include lg {
          margin-bottom: px2vw-lg(16px);
        }
        @include md {
          margin-bottom: px2vw-md(16px);
        }
        @include sm {
          margin-bottom: px2vw-sm(24.576px);
        }
        .count {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 60px;
          line-height: 68px;
          letter-spacing: -0.5px;
          color: var(--white);
          @include sm {
            font-size: 40px;
            line-height: 48px;
          }
        }
        .text {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: var(--white);
          margin: 0 px2vw-xl(8px);
          @include lg {
            margin: 0 px2vw-lg(8px);
          }
          @include md {
            margin: 0 px2vw-md(8px);
          }
          @include sm {
            margin: 0 px2vw-sm(12.288px);
          }
        }
        .icon {
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          ::ng-deep svg {
            width: 22px;
            height: 22px;
          }
          ::ng-deep svg path {
            fill: var(--white);
            @include sm {
              fill: var(--main-color);
            }
          }
        }
      }
    }
  }
  &-content {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    padding: 0 24px;
    @include sm {
      padding: 0 0;
    }
    &-heading {
      padding: px2vw-xl(16px) 0;
      @include lg {
        padding: px2vw-lg(16px) 0;
      }

      @include md {
        padding: px2vw-md(16px) 0;
      }

      @include sm {
        padding: px2vw-sm(24.576px) px2vw-sm(36.864px);
      }
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: var(--tolopea-medium-color);
        margin-bottom: 0;
        @include sm {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    &-SegmentedControl {
      .SegmentedControl-header-tabs {
        border: 2px solid var(--tertiary-color);
        box-sizing: border-box;
        display: inline-flex;
        padding: px2vw-xl(6px);
        border-radius: px2vw-xl(24px);
        margin-bottom: px2vw-xl(8px);
        @include lg {
          border-radius: px2vw-lg(24px);
          padding: px2vw-lg(6px);
          margin-bottom: px2vw-lg(8px);
        }

        @include md {
          border-radius: px2vw-md(24px);
          padding: px2vw-md(6px);
          margin-bottom: px2vw-md(8px);
        }

        @include sm {
          border-radius: px2vw-sm(24px);
          padding: px2vw-sm(6px);
          margin-bottom: px2vw-sm(8px);
        }
      }

      .SegmentedControl-header-tab {
        border: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
        background-color: transparent;
        transition: $global-transition;
        padding: px2vw-xl(8px) px2vw-xl(16px);
        border-radius: px2vw-xl(24px);
        @include lg {
          padding: px2vw-lg(8px) px2vw-lg(16px);
          border-radius: px2vw-lg(24px);
        }

        @include md {
          padding: px2vw-md(8px) px2vw-md(16px);
          border-radius: px2vw-md(24px);
        }

        @include sm {
          padding: px2vw-sm(8px) px2vw-sm(16px);
          border-radius: px2vw-sm(24px);
        }
        &.active {
          transition: all 100ms linear;
          background-color: var(--secondary-color);
        }
      }
    }
    &-table {
      @include sm {
        padding: 0 px2vw-sm(36.864px);
      }

      &-tr {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding: px2vw-xl(16px) 0;
        border-bottom: 1px solid var(--midnight-express-color);
        @include lg {
          padding: px2vw-lg(16px) 0;
        }

        @include md {
          padding: px2vw-md(16px) 0;
        }

        @include sm {
          -webkit-align-items: flex-start;
          align-items: flex-start;
          padding: px2vw-sm(24.576px) 0;
        }
      }
      &-item {
        width: 100%;
        &:first-child {
          max-width: 100%;
          @include sm {
            max-width: 100%;
            padding-right: px2vw-sm(26.112px);
          }
        }
        &:nth-child(2) {
          max-width: px2vw-xl(210px);
          @include lg {
            max-width: px2vw-lg(210px);
          }
          @include md {
            max-width: px2vw-md(210px);
          }
          @include sm {
            max-width: px2vw-sm(121.66656px);
          }
        }
        &:nth-child(3) {
          max-width: px2vw-xl(174px);
          @include lg {
            max-width: px2vw-lg(174px);
          }
          @include md {
            max-width: px2vw-md(174px);
          }
          @include sm {
            max-width: px2vw-sm(111.80544px);
          }
        }
        &:last-child {
          max-width: px2vw-xl(103px);
          text-align: right;
          @include lg {
            max-width: px2vw-lg(103px);
          }
          @include md {
            max-width: px2vw-md(103px);
          }
          @include sm {
            max-width: px2vw-sm(111.80544px);
            text-align: center;
          }
        }
        &.th {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: var(--color-white-medium);
          @include sm {
            font-size: 16px;
            line-height: 24px;
          }
        }
        &.td {
          .speach {
            display: inline-block;
            margin: 0 5px;
          }
          .des {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--white);

            .approved {
              color: var(--color-successful);
            }
            .unsuccessful {
              color: var(--red-light);
            }
            .processing {
              color: var(--orange-color);
            }
          }
          .info {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: var(--tertiary-color);
          }
          .game-name {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--white);
          }
          .amount {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
            background-color: var(--color-black-medium);
            border-radius: px2vw-xl(4px);
            padding: px2vw-xl(4px) px2vw-xl(8px);
            @include lg {
              border-radius: px2vw-lg(4px);
              padding: px2vw-lg(4px) px2vw-lg(8px);
            }

            @include md {
              border-radius: px2vw-md(4px);
              padding: px2vw-md(4px) px2vw-md(8px);
            }

            @include sm {
              border-radius: px2vw-sm(4px);
              padding: px2vw-sm(4px) px2vw-sm(8px);
            }
          }
          .btn {
            color: var(--main-color);
            @include sm {
              padding: px2vw-sm(12.288px) 0 0;
            }
          }
        }
      }
    }
    &-pagination {
      padding: px2vw-xl(16px) 0;

      @include lg {
        padding: px2vw-lg(16px) 0;
      }

      @include md {
        padding: px2vw-md(16px) 0;
      }

      @include sm {
        padding: px2vw-sm(24.576px);
      }
    }
    .Content {
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      @include sm {
        margin-bottom: px2vw-sm(49.152px);
        padding-left: px2vw-sm(36.864px);
      }
    }
    .Content-main {
      @include sm {
        display: table;
        width: max-content;
      }
    }
  }
  &-NavContent-pc {
    display: block;
    @include sm {
      display: none;
    }
  }
  &-NavContent-mb {
    display: none;
    @include sm {
      display: block;
    }
  }
}
.Content-main-nav {
  display: -webkit-inline-flex;
  display: inline-flex;
  border: 2px solid var(--tertiary-color);
  border-radius: px2vw-xl(24px);
  padding: px2vw-xl(6px);
  @include lg {
    padding: px2vw-lg(6px);
    border-radius: px2vw-lg(24px);
  }

  @include md {
    padding: px2vw-md(6px);
    border-radius: px2vw-md(24px);
  }

  @include sm {
    padding: px2vw-sm(9.216px);
    border-radius: px2vw-sm(36.864px);
    display: flex;
  }
  &-item-link {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
    margin: 0;
    padding: px2vw-xl(8px) px2vw-xl(16px);
    border-radius: px2vw-xl(24px);
    border: none;
    @include lg {
      padding: px2vw-lg(8px) px2vw-lg(16px);
      border-radius: px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(8px) px2vw-md(16px);
      border-radius: px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(6.144px) px2vw-sm(24.576px);
      border-radius: px2vw-sm(24px);
    }
    &:hover {
      border: none;
    }
    &.active {
      border: none;
      color: var(--white);
      background-color: var(--secondary-color);
    }
  }
}
