<header class="Inbox-header">
  <button class="button-icon-secondary" routerBack>
    <mat-icon> arrow_back </mat-icon>
    <span>
      {{ "BUTTON.BACK" | translate }}
    </span>
  </button>

  <div style="margin-right: -440px;">
    <button class="button-icon-secondary " routerBack style="float: left;">
      <mat-icon style="color: orange;"> error_outline </mat-icon>
      <span>
        {{ "REPORT ISSUE" | uppercase }}
      </span>
    </button>
    <button class="Inbox-header-button button-secondary" [routerLink]="'/manage-tournament/add-notification'">
      {{'CHAT LOG '|uppercase}}
    </button>
  </div>
  <button class="Inbox-header-button button-primary" [routerLink]="'/manage-tournament/add-notification'">
    {{'CHAT '|uppercase}}
  </button>
</header>

<h1 class="Inbox-header-title">
  Match 1
</h1>

<div class="row Dashboard-cards-item " style="margin-bottom: 20px;">
  <div class="col">
    <div class="Dashboard-cards-item-info">
      <h4 class="Dashboard-cards-item-title">
        {{ "PROFILE.DASHBOARD.CARDS.SPARK_POINTS" | translate }}
      </h4>
      <a class="Dashboard-cards-item-value global-Elipses" routerLink="/manage-tournament/manage-score" style="color: #736CFF;">Manage score</a>
    </div>
  </div>
  <div class="col ml-auto" style="position: absolute;  left: 1000px;">
    <div class="Dashboard-cards-item-info" style="float: left; margin-right: 10px;">
      <h4 class="Dashboard-cards-item-title ">
        {{ "PROFILE.DASHBOARD.CARDS.SPARK_POINTS" | translate }}
      </h4>
      <p class="Dashboard-cards-item-value global-Elipses">-</p>
    </div>
    <img src="https://i115.fastpic.ru/big/2021/0711/d5/e284e76b3d0de8760861e2d97642e5d5.png" width="32px" alt="">
  </div>
</div>


<section class="MyTeams-control">
  <h3 class="MyTeams-cards-title">
    {{ "Sets" | uppercase }}
  </h3>


  <div class="MyTeams-control-toggles global-MatToggles" ngbNav #nav="ngbNav" (navChange)="navChanges($event)"
    [(activeId)]="active">
    <!-- set  -->
    <div class="MyTeams-control-toggle" [ngbNavItem]="1">
      <a class="MyTeams-control-link" ngbNavLink>
        {{ "Set 1" | capitalizeFirst }}
      </a>

      <ng-template ngbNavContent>
        <div class="row Dashboard-cards-item " style="margin-bottom: 20px;">
          <div class="col">
            <div class="Dashboard-cards-item-info">
              <h4 class="Dashboard-cards-item-title">
                {{ "PROFILE.DASHBOARD.CARDS.SPARK_POINTS" | translate }}
              </h4>
              <p class="Dashboard-cards-item-value global-Elipses">1 score pending</p>
            </div>
          </div>
          <div class="col ml-auto" style="position: absolute;  left: 1000px;">
            <div class="Dashboard-cards-item-info" style="float: left; margin-right: 10px;">
              <h4 class="Dashboard-cards-item-title ">
                {{ "PROFILE.DASHBOARD.CARDS.SPARK_POINTS" | translate }}
              </h4>
              <p class="Dashboard-cards-item-value global-Elipses">-</p>
            </div>
            <img src="https://i115.fastpic.ru/big/2021/0711/d5/e284e76b3d0de8760861e2d97642e5d5.png" width="32px"
              alt="">
          </div>
        </div>
        <div class="MyTeams-cards">
          <div class="MyTeams-cards-list" *ngIf="myTeams.length">
            <ng-container *ngFor="let item of myTeams">
              <app-team-card [isManage]="true" [data]="item"></app-team-card>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </div>

    <!-- set  -->
    <div class="MyTeams-control-toggle" [ngbNavItem]="2">
      <a class="MyTeams-control-link" ngbNavLink>
        {{ "Set 2" | capitalizeFirst }}
      </a>

      <ng-template ngbNavContent>
        <div class="row Dashboard-cards-item " style="margin-bottom: 20px;">
          <div class="col">
            <div class="Dashboard-cards-item-info">
              <h4 class="Dashboard-cards-item-title">
                {{ "PROFILE.DASHBOARD.CARDS.SPARK_POINTS" | translate }}
              </h4>
              <p class="Dashboard-cards-item-value global-Elipses">1 score pending</p>
            </div>
          </div>
          <div class="col ml-auto" style="position: absolute;  left: 1000px;">
            <div class="Dashboard-cards-item-info" style="float: left; margin-right: 10px;">
              <h4 class="Dashboard-cards-item-title ">
                {{ "PROFILE.DASHBOARD.CARDS.SPARK_POINTS" | translate }}
              </h4>
              <p class="Dashboard-cards-item-value global-Elipses">-</p>
            </div>
            <img src="https://i115.fastpic.ru/big/2021/0711/d5/e284e76b3d0de8760861e2d97642e5d5.png" width="32px"
              alt="">
          </div>
        </div>
        <div class="MyTeams-cards">
          <div class="MyTeams-cards-list" *ngIf="myTeams.length">
            <ng-container *ngFor="let item of myTeams">
              <app-team-card [isManage]="true" [data]="item"></app-team-card>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </div>

    <!-- set  -->
    <div class="MyTeams-control-toggle" [ngbNavItem]="3">
      <a class="MyTeams-control-link" ngbNavLink>
        {{ "Set 3" | capitalizeFirst }}
      </a>

      <ng-template ngbNavContent>
        <div class="row Dashboard-cards-item " style="margin-bottom: 20px;">
          <div class="col">
            <div class="Dashboard-cards-item-info">
              <h4 class="Dashboard-cards-item-title">
                {{ "PROFILE.DASHBOARD.CARDS.SPARK_POINTS" | translate }}
              </h4>
              <p class="Dashboard-cards-item-value global-Elipses">1 score pending</p>
            </div>
          </div>
          <div class="col ml-auto" style="position: absolute;  left: 1000px;">
            <div class="Dashboard-cards-item-info" style="float: left; margin-right: 10px;">
              <h4 class="Dashboard-cards-item-title ">
                {{ "PROFILE.DASHBOARD.CARDS.SPARK_POINTS" | translate }}
              </h4>
              <p class="Dashboard-cards-item-value global-Elipses">-</p>
            </div>
            <img src="https://i115.fastpic.ru/big/2021/0711/d5/e284e76b3d0de8760861e2d97642e5d5.png" width="32px"
              alt="">
          </div>
        </div>
        <div class="MyTeams-cards">
          <div class="MyTeams-cards-list" *ngIf="myTeams.length">
            <ng-container *ngFor="let item of myTeams">
              <app-team-card [isManage]="true" [data]="item"></app-team-card>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="MyTeams-control-content" [ngbNavOutlet]="nav"></div>
</section>
