@import "shared";

:host {
  display: block;
}

.BookmasksTable {
  @include sm{
    margin-top: px2v2-sm(20px);
  }
  &-heading {
    margin-bottom: px2vw-xl(28px);
    @include lg{
      margin-bottom: px2vw-lg(38px);
    }
    @include md{
      margin: 0;
      padding: px2vw-md(16px) 0;
    }
    @include sm {
      margin-bottom: 0;
      padding: px2vw-sm(16px) 0;
    }
    .title {
      margin: 0;
      font-family: "Paralucent-Demi",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(34px);
      line-height: px2vw-xl(40px);
      color: var(--white);
      @include lg{
        font-size: px2vw-lg(32px);
        line-height: px2vw-lg(40px);
      }
      @include md{
        font-size: px2vw-md(30px);
        line-height: px2vw-md(40px);
      }
      @include sm {
        font-size: px2vw-sm(34px);
        line-height: px2vw-sm(28px);
        padding: px2vw-sm(14px) 0;
      }
    }
  }
  &-pagination {
    & ::ng-deep .mat-paginator-page-size {
      display: none;
    }
  }
}
