
<div class="BookmasksTable">
  <div class="BookmasksTable-container">
    <div class="BookmasksTable-wrapper">
      <div class="BookmasksTable-inner">
        <div class="BookmasksTable-heading">
          <h2 class="title">{{ "PROFILE.BOOKMARKS.MY_BOOKMARKS_ARTICLES" | translate }}</h2>
        </div>
        <ng-container *ngIf="data">
          <app-bookmark-card *ngFor="let item of data"
          [data]="item"
          [isVideo]="isVideo"
          (refresh)="refresh($event)"></app-bookmark-card>
        </ng-container>

        <div class="BookmasksTable-pagination">
          
        </div>
      </div>
    </div>
  </div>
</div>
