@import "shared";

.Ladder-match {
  margin-bottom: px2vw-xl(65px);

  @include lg {
    margin-bottom: px2vw-lg(65px);
  }

  @include md {
    margin-bottom: px2vw-md(65px);
  }

  @include sm {
    margin-bottom: px2vw-sm(65px);
  }

  &-item {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    margin-bottom: px2vw-xl(10px);
    text-transform: capitalize;

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-table {
    .player-sn {
      min-width: px2vw-xl(100px);

      @include lg {
        min-width: px2vw-lg(100px);
      }

      @include md {
        min-width: px2vw-md(100px);
      }

      @include sm {
        min-width: px2vw-sm(100px);
      }
    }
    .player-participant-wrapper {
      min-width: px2vw-xl(450px);

      @include lg {
        min-width: px2vw-lg(450px);
      }

      @include md {
        min-width: px2vw-md(450px);
      }

      @include sm {
        min-width: px2vw-sm(300px);
      }
      &-left {
        width: px2vw-xl(150px);
        word-break: break-all;
        @include lg {
          width: px2vw-lg(150px);
        }

        @include md {
          width: px2vw-md(160px);
        }

        @include sm {
          width: px2vw-sm(160px);
        }
      }
      &-right {
        width: px2vw-xl(150px);
        word-break: break-all;
        @include lg {
          width: px2vw-lg(150px);
        }

        @include md {
          width: px2vw-md(160px);
        }

        @include sm {
          width: px2vw-sm(160px);
        }
      }
      &-vs {
        margin: 0 px2vw-xl(70px);
        @include lg {
          margin: 0 px2vw-lg(65px);
        }

        @include md {
          margin: 0 px2vw-md(50px);
        }

        @include sm {
          margin: 0 px2vw-sm(50px);
        }
      }
    }

    .player-image {
      border-radius: 50%;
      height: px2vw-xl(48px);
      width: px2vw-xl(48px);
      object-fit: cover;
      margin-right: px2vw-xl(10px);

      @include lg {
        height: px2vw-lg(48px);
        width: px2vw-lg(48px);
        margin-right: px2vw-lg(10px);
      }

      @include md {
        height: px2vw-md(48px);
        width: px2vw-md(48px);
        margin-right: px2vw-md(10px);
      }

      @include sm {
        height: px2vw-sm(48px);
        width: px2vw-sm(48px);
        margin-right: px2vw-sm(10px);
      }
    }

    .eye-image {
      height: px2vw-xl(30px);
      width: px2vw-xl(23px);

      @include lg {
        height: px2vw-lg(22px);
        width: px2vw-lg(15px);
      }

      @include md {
        height: px2vw-md(22px);
        width: px2vw-md(15px);
      }

      @include sm {
        height: px2vw-sm(22px);
        width: px2vw-sm(15px);
      }
    }
    .view {
      color: var(--primary-sunset-light);
      cursor: pointer;
    }

    .gamerId-text {
      margin-bottom: 0;
    }

    .gamerId-icon {
      margin-left: px2vw-xl(20px);
      height: px2vw-xl(20px);
      width: px2vw-xl(20px);
      cursor: pointer;

      @include lg {
        margin-left: px2vw-lg(20px);
        height: px2vw-lg(20px);
        width: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
        height: px2vw-md(20px);
        width: px2vw-md(20px);
      }

      @include sm {
        margin-left: px2vw-sm(20px);
        height: px2vw-sm(20px);
        width: px2vw-sm(20px);
      }
    }

    &-options {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &-option {
      min-width: px2vw-xl(230px);
      padding: px2vw-xl(20px);
      background-color: var(--base-white-smoke);
      border-bottom: 1px solid var(--base-gainsboro);

      @include lg {
        min-width: px2vw-lg(230px);
        padding: px2vw-xl(20px);
      }

      @include md {
        min-width: px2vw-md(230px);
        padding: px2vw-xl(40px);
      }

      @include sm {
        min-width: px2vw-sm(230px);
        padding: px2vw-xl(40px);
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &-option-image-block {
      margin-right: px2vw-xl(20px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);

      @include lg {
        margin-right: px2vw-lg(14px);
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }

      @include md {
        margin-right: px2vw-md(14px);
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }

      @include sm {
        margin-right: px2vw-sm(18px);
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }
    }

    &-option-image {
      max-width: 100%;
      max-height: 100%;
    }

    &-option-text {
      font-size: px2vw-xl(16px);
      line-height: 1;

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }
    }

    ::ng-deep {
      .datatable-row-center {
        display: flex;
      }

      .datatable-header-cell {
        padding: px2vw-xl(20px) 0;

        @include lg {
          padding: px2vw-lg(20px) 0;
        }

        @include md {
          padding: px2vw-md(20px) 0;
        }

        @include sm {
          padding: px2vw-sm(20px) 0;
        }

        // SN
        &:first-child {
          display: flex;
          width: px2vw-xl(500px) !important;
          padding-left: px2vw-xl(35px);

          @include lg {
            width: px2vw-lg(500px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(350px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(350px) !important;
            padding-left: px2vw-sm(5px);
          }
        }

        // Player Name
        &:nth-child(2) {
          display: flex;
          width: px2vw-xl(950px) !important;

          @include lg {
            width: px2vw-lg(950px) !important;
          }

          @include md {
            width: px2vw-md(600px) !important;
          }

          @include sm {
            width: px2vw-sm(600px) !important;
          }
        }

        // Gamer Id
        &:nth-child(3) {
          display: flex;
          width: px2vw-xl(275px) !important;

          @include lg {
            width: px2vw-lg(230px) !important;
          }

          @include md {
            width: px2vw-md(230px) !important;
          }

          @include sm {
            width: px2vw-sm(170px) !important;
          }
        }

        // Menu
        &:nth-child(4) {
          width: px2vw-xl(200px) !important;

          @include lg {
            width: px2vw-lg(200px) !important;
          }

          @include md {
            width: px2vw-md(150px) !important;
          }

          @include sm {
            width: px2vw-sm(150px) !important;
          }
        }
      }

      .datatable-header-cell-label {
        // @extend %global-Text2;
        color: var(--base-submarine);
      }

      .datatable-body-cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto !important;
        padding: px2vw-xl(18px) 0;

        @include lg {
          padding: px2vw-lg(18px) 0;
        }

        @include md {
          padding: px2vw-md(18px) 0;
        }

        @include sm {
          padding: px2vw-sm(18px) 0;
        }

        // SN
        &:first-child {
          width: px2vw-xl(500px) !important;
          padding-left: px2vw-xl(35px);

          @include lg {
            width: px2vw-lg(500px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(350px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(350px) !important;
            padding-left: px2vw-sm(5px);
          }
        }

        // Player Name
        &:nth-child(2) {
          display: flex;
          width: px2vw-xl(950px) !important;

          @include lg {
            width: px2vw-lg(950px) !important;
          }

          @include md {
            width: px2vw-md(600px) !important;
          }

          @include sm {
            width: px2vw-sm(600px) !important;
          }

          .datatable-body-cell-label {
            display: flex;
          }
        }

        // Gamer Id
        &:nth-child(3) {
          width: px2vw-xl(275px) !important;

          @include lg {
            width: px2vw-lg(230px) !important;
          }

          @include md {
            width: px2vw-md(230px) !important;
          }

          @include sm {
            width: px2vw-sm(170px) !important;
          }
        }

        // Menu
        &:nth-child(4) {
          width: px2vw-xl(200px) !important;

          @include lg {
            width: px2vw-lg(200px) !important;
          }

          @include md {
            width: px2vw-md(150px) !important;
          }

          @include sm {
            width: px2vw-sm(150px) !important;
          }
        }
      }

      .datatable-body-cell-label {
        padding: 0;
      }

      // .datatable-footer {
      //   display: none;
      // }

      // .pager {
      //   display: none;
      // }

      // Solves the problem with freezes on chrome
      .datatable-row-group {
        will-change: transform;
      }
    }
  }
}
.mat-icon {
  padding: px2vw-xl(20px);

  @include lg {
    padding: px2vw-lg(20px);
  }

  @include md {
    padding: px2vw-md(20px);
  }

  @include sm {
    padding: px2vw-sm(20px);
  }
}

::ng-deep .scoreConflict {
  background-color: lightpink;
}

.team {
  word-break: break-word;
}
