@import "shared";

:host {
  display: block;
}
.textclass{
  text-transform: none !important;
}

.TournamentNameInput {
  @extend %u-dfCenterBtw;
  border-bottom: px2vw-xl(2px) solid var(--white-light);
  padding: px2vw-xl(20px) 0 px2vw-xl(24px);

  @include lg {
    border-bottom-width: px2vw-lg(2px);
    padding: px2vw-lg(20px) 0 px2vw-lg(24px);
  }

  @include md {
    border-bottom-width: px2vw-md(2px);
    padding: px2vw-md(20px) 0 px2vw-md(24px);
  }

  @include sm {
    border-bottom-width: px2vw-sm(2px);
    padding: px2vw-sm(20px) 0 px2vw-sm(24px);
  }

  &-field {
    @extend %global-H5;
    flex-grow: 1;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    transition: $global-transition;

    &::placeholder {
      color: var(--white-medium);
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }

  &-icon {
    margin-left: px2vw-xl(15px);
    height: px2vw-xl(15px);
    width: px2vw-xl(28px);
    cursor: pointer;
    transition: $global-transition;

    @include lg {
      margin-left: px2vw-lg(15px);
      height: px2vw-lg(15px);
      width: px2vw-lg(28px);
    }

    @include md {
      margin-left: px2vw-md(15px);
      height: px2vw-md(15px);
      width: px2vw-md(28px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
      height: px2vw-sm(15px);
      width: px2vw-sm(28px);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
