@import "shared";

:host {
  display: block;
}
.SeasonCheckbox {
  position: relative;
  @include md {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 9999;
    display: none;
  }

  &-inner {
    @include md {
      padding: 97px 24px 16px;
      height: calc(100vh - 140px);
      overflow: hidden;
      overflow-y: auto;
    }
  }
  &-heading {
    display: none;
    position: relative;
    @include md {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9;
      padding: 16px 24px 19px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      box-shadow: 0px 2px 8px rgba(29, 29, 29, 0.28);
      background-color: var(--white);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(
        90deg,
        var(--ui-win) 20%,
        #ff8e26 20%,
        #ff8e26 40%,
        #f12ba3 40%,
        #de2bb5 60.02%,
        var(--secondary-color) 60.02%
      );
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      display: flex;
      align-items: center;
      letter-spacing: -0.5px;
      color: var(--blackcurrant-color-medium);
    }
    button.btn-close {
      width: 48px;
      height: 48px;
      padding: 0;
      border: 2px solid var(--tolopea-color);
      border-radius: 50%;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
    }
  }
  &-ButtonGroup {
    display: none;
    @include md {
      background-color: var(--white);
      position: absolute;
      width: 100%;
      height: 140px;
      bottom: 0;
      left: 0;
      border-top: 1px solid var(--tolopea-medium-color);
      padding: 16px 24px;
      display: block;
      z-index: 9;
    }
    button.btn {
      width: 100%;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-transform: none;
      &.button-primary {
        margin-bottom: 12px;
      }
    }
  }
}

.form-field-checkbox {
  width: 100%;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-black-medium);
  @include md {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 8px;
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  & > div:empty {
    display: none;
  }
  .field-checkbox {
    display: none;
  }
  .input-group {
    margin-bottom: 16px;
    @include md {
      width: 100%;
      max-width: 50%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-label {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: var(--tolopea-color);
    margin-bottom: 12px;
    @include md {
      width: 100%;
      color: var(--blackcurrant-color-medium);
      margin-bottom: 16px;
    }
  }
  .checkmark {
    background: transparent;
    border: 2px solid var(--tolopea-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    position: relative;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    &::before {
      content: none;
      width: 15px;
      height: 8px;
      display: inline-block;
      position: absolute;
      top: 4px;
      border-left: 2px solid var(--white);
      border-bottom: 2px solid var(--white);
      transform: rotate(315deg);
    }
    &.checked {
      background: var(--main-color);
      border: 2px solid var(--main-color);
      &::before {
        content: "";
      }
    }
  }
  .text {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: var(--white);
    @include md {
      color: var(--blackcurrant-color-medium);
    }
  }
}
::ng-deep.mat-checkbox .mat-checkbox-label {
  @include md {
    color: var(--blackcurrant-color-medium);
  }
}
