@import "shared";

:host {
  display: block;
  margin-top: px2vw-xl(40px);
  margin-bottom: px2vw-xl(40px);

  @include lg {
    margin-top: px2vw-lg(40px);
    margin-bottom: px2vw-lg(40px);
  }

  @include md {
    margin-top: px2vw-md(40px);
    margin-bottom: px2vw-md(40px);
  }

  @include sm {
    margin-top: px2vw-sm(40px);
    margin-bottom: px2vw-sm(40px);
  }
}

.hide-btn {
  display: none;
}

.not-allowed {
  cursor: not-allowed;
  // font-family: "stc-forward-medium", sans-serif;
}

.startTime{
  margin-top: px2vw-xl(20px);
  @include lg{
    margin-top: px2vw-lg(20px);
  }
  @include md{
    margin-top: px2vw-md(20px);
  }
  @include sm{
    margin-top: px2vw-sm(20px);
  }
}

html[dir="rtl"] {
  :host {
    text-align: right;
  }
}