<!--<header class="BookmarkCard-header">
    <h4 class="BookmarkCard-header-title global-Elipses">
      Clips
       {{
      currentLang === "english"
      ? data.title?.english
      : data.title?.english
      }} 
    </h4>
  
     <div class="BookmarkCard-header-control">
      <mat-icon class="BookmarkCard-header-control-icon bookmark">
        bookmark
      </mat-icon>
      <mat-icon (click)="openSocialShareComponent()" class="BookmarkCard-header-control-icon"> share </mat-icon>
    </div> 
  </header>-->

<!-- <div class="BookmarkCard-content">
    <div class="BookmarkCard-content-image" >
      <img class="BookmarkCard-content-image-icon"  lazyLoad="assets/icons/video-player/play-button.svg"
        alt="icon" />
    </div>
  
    <div class="BookmarkCard-content-info">
      <p class="BookmarkCard-content-description global-Elipses2">
        {{
        !isVideo?
        currentLang === "english"
        ? data.shortDescription?.english
        : data.shortDescription?.english
        :currentLang === "english"
        ? data.description?.english
        : data.description?.english
        }}
      </p>
  
  
  
      <div class="BookmarkCard-content-details">
        <span class="BookmarkCard-content-detail">
          {{ data.author }}
        </span>
  
        <span class="BookmarkCard-content-detail" >
          {{ data.views || 0 }}
          {{ "PROFILE.BOOKMARKS.VIEWS" | translate }}
        </span>
        <p class="BookmarkCard-content-dot"></p>
        <span class="BookmarkCard-content-detail">
          {{ data.createdDate|date }}
        </span>
      </div>
    </div>
  </div> -->
<div class="Clips">
  <div class="Clips-container">
    <div class="Clips-wrapper">
      <div class="Clips-inner">
        <div class="Clips-heading">
          <h1 class="title">
            {{ "MANAGE_TOURNAMENT.CLIPS.TITLE" | translate }}
          </h1>
        </div>
        <div class="Clips-main">
          <div class="Clips-main-wap">
            <div class="Clips-main-inner">
              <div class="Clips-main-lists">
                <div class="Clips-main-item">
                  <div class="Clips-main-thumbnail">
                    <img src="../../../../../assets/images/Tournament/clips/image.png" alt="">
                    <span class="icon" inlineSVG="assets/icons/video-player/play-button.svg"></span>
                  </div>
                  <div class="Clips-main-description">
                    <div class="avatar">
                      <img src="../../../../../assets/images/Profile/avatar-2.png" alt="">
                    </div>
                    <div class="description">
                      <h4 class="title">Geguri – the First Female Pro Signed to an Overwat...</h4>
                      <p class="text hostBy">Stylosa</p>
                      <p class="text views-time">145K views • 2 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="Clips-main-item">
                  <div class="Clips-main-thumbnail">
                    <img src="../../../../../assets/images/Tournament/clips/image (1).png" alt="">
                    <span class="icon" inlineSVG="assets/icons/video-player/play-button.svg"></span>
                  </div>
                  <div class="Clips-main-description">
                    <div class="avatar">
                      <img src="../../../../../assets/images/Profile/avatar-5.png" alt="">
                    </div>
                    <div class="description">
                      <h4 class="title">Game Scoop! Summer of Gaming Specials</h4>
                      <p class="text hostBy">IGN</p>
                      <p class="text views-time">145K views • 2 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="Clips-main-item">
                  <div class="Clips-main-thumbnail">
                    <img src="../../../../../assets/images/Tournament/clips/image (2).png" alt="">
                    <span class="icon" inlineSVG="assets/icons/video-player/play-button.svg"></span>
                  </div>
                  <div class="Clips-main-description">
                    <div class="avatar">
                      <img src="../../../../../assets/images/Profile/avatar-4.png" alt="">
                    </div>
                    <div class="description">
                      <h4 class="title">CARMILLA | Updated Guide 2021 | Best Build | Top Ga...</h4>
                      <p class="text hostBy">Strongwill Game Theory</p>
                      <p class="text views-time">145K views • 2 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="Clips-main-item">
                  <div class="Clips-main-thumbnail">
                    <img src="../../../../../assets/images/Tournament/clips/image (3).png" alt="">
                    <span class="icon" inlineSVG="assets/icons/video-player/play-button.svg"></span>
                  </div>
                  <div class="Clips-main-description">
                    <div class="avatar">
                      <img src="../../../../../assets/images/Profile/avatar-2.png" alt="">
                    </div>
                    <div class="description">
                      <h4 class="title">Geguri – the First Female Pro Signed to an Overwat...</h4>
                      <p class="text hostBy">Stylosa</p>
                      <p class="text views-time">145K views • 2 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="Clips-main-item">
                  <div class="Clips-main-thumbnail">
                    <img src="../../../../../assets/images/Tournament/clips/image (4).png" alt="">
                    <span class="icon" inlineSVG="assets/icons/video-player/play-button.svg"></span>
                  </div>
                  <div class="Clips-main-description">
                    <div class="avatar">
                      <img src="../../../../../assets/images/Profile/avatar-5.png" alt="">
                    </div>
                    <div class="description">
                      <h4 class="title">Game Scoop! Summer of Gaming Specials</h4>
                      <p class="text hostBy">IGN</p>
                      <p class="text views-time">145K views • 2 hours ago</p>
                    </div>
                  </div>
                </div>
                <div class="Clips-main-item">
                  <div class="Clips-main-thumbnail">
                    <img src="../../../../../assets/images/Tournament/clips/image (5).png" alt="">
                    <span class="icon" inlineSVG="assets/icons/video-player/play-button.svg"></span>
                  </div>
                  <div class="Clips-main-description">
                    <div class="avatar">
                      <img src="../../../../../assets/images/Profile/avatar-4.png" alt="">
                    </div>
                    <div class="description">
                      <h4 class="title">CARMILLA | Updated Guide 2021 | Best Build | Top Ga...</h4>
                      <p class="text hostBy">Strongwill Game Theory</p>
                      <p class="text views-time">145K views • 2 hours ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>