@import "shared";
.banner-profile {
  .img-banner {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .information-person {
    justify-content: center;
    text-align: center;
    margin-top: -10em;
    .img-person {
      width: px2vw-xl(150px);
      height: px2vw-xl(150px);
      margin: 0 auto;
      margin-bottom: px2vw-xl(32px);
      @include xl {
        width: px2vw-xl(150px);
        height: px2vw-xl(150px);
        margin-bottom: px2vw-xl(32px);
      }

      @include lg {
        width: px2vw-lg(150px);
        height: px2vw-lg(150px);
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        width: px2vw-md(150px);
        height: px2vw-md(150px);
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        width: px2vw-sm(150px);
        height: px2vw-sm(150px);
        margin-bottom: px2vw-sm(32px);
      }
      .img-personal {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: var(--user-photo-bg);
        border-radius: 50%;
        padding: px2vw-xl(7px);

        @include xl {
          padding: px2vw-xl(7px);
        }

        @include lg {
          padding: px2vw-lg(7px);
        }

        @include md {
          padding: px2vw-md(7px);
        }

        @include sm {
          padding: px2vw-sm(7px);
        }
      }
      .text {
        display: flex;
        justify-content: center;
        font-size: px2vw-xl(12px);
        align-items: center;
        background: var(--black-medium);
        width: max-content;
        margin: 0 auto;
        margin-top: px2vw-xl(-31px);
        @include xl {
          font-size: px2vw-xl(12px);
          margin-top: px2vw-xl(-31px);
        }

        @include lg {
          font-size: px2vw-lg(12px);
          margin-top: px2vw-lg(-31px);
        }

        @include md {
          font-size: px2vw-md(12px);
          margin-top: px2vw-md(-31px);
        }

        @include sm {
          font-size: px2vw-sm(12px);
          margin-top: px2vw-sm(-31px);
        }
        img {
          width: px2vw-xl(11px);
          height: px2vw-xl(11px);
          @include xl {
            width: px2vw-xl(11px);
            height: px2vw-xl(11px);
          }

          @include lg {
            width: px2vw-lg(11px);
            height: px2vw-lg(11px);
          }

          @include md {
            width: px2vw-md(11px);
            height: px2vw-md(11px);
          }

          @include sm {
            width: px2vw-sm(11px);
            height: px2vw-sm(11px);
          }
        }
        p {
          margin: 0 px2vw-xl(10px);
          @include xl {
            width: px2vw-xl(0px) px2vw-xl(10px);
          }

          @include lg {
            width: px2vw-lg(0px) px2vw-lg(10px);
          }

          @include md {
            width: px2vw-md(0px) px2vw-md(10px);
          }

          @include sm {
            width: px2vw-sm(0px) px2vw-sm(10px);
          }
        }
        span {
          width: px2vw-xl(11px);
          height: px2vw-xl(11px);
          background-color: var(--color-primary);
          border-radius: 50%;
          @include xl {
            width: px2vw-xl(11px);
            height: px2vw-xl(11px);
          }

          @include lg {
            width: px2vw-lg(11px);
            height: px2vw-lg(11px);
          }

          @include md {
            width: px2vw-md(11px);
            height: px2vw-md(11px);
          }

          @include sm {
            width: px2vw-sm(11px);
            height: px2vw-sm(11px);
          }
        }
      }
    }
    .box-text {
      p:nth-child(1) {
        font-size: px2vw-xl(34px);
        font-weight: 900;
        font-family: "archivo";
        margin-bottom: px2vw-xl(15px);
        color: var(--white-high);
        @include xl {
          font-size: px2vw-xl(34px);
          margin-bottom: px2vw-xl(15px);
        }

        @include lg {
          font-size: px2vw-lg(34px);
          margin-bottom: px2vw-lg(15px);
        }

        @include md {
          font-size: px2vw-md(34px);
          margin-bottom: px2vw-md(15px);
        }

        @include sm {
          font-size: px2vw-sm(34px);
          margin-bottom: px2vw-sm(15px);
        }
      }
      p:nth-child(2) {
        font-size: px2vw-xl(16px);
        font-weight: 700;
        color: var(--white-medium);
        font-family: "redhat-regular";
        margin-bottom: 0;
        @include xl {
          font-size: px2vw-xl(16px);
        }

        @include lg {
          font-size: px2vw-lg(16px);
        }

        @include md {
          font-size: px2vw-md(16px);
        }

        @include sm {
          font-size: px2vw-sm(16px);
        }
      }
    }
  }
}
@media only screen and (max-width: 720px) {
  .banner-profile {
    .img-banner {
      height: 300px;
      img {
      }
    }
    .information-person {
      .img-person {
        .img-personal {
        }
        .text {
          img {
          }
          p {
          }
          span {
          }
        }
      }
      .box-text {
        h1 {
        }
        p {
        }
      }
    }
  }
}
