<div
  class="Message"
  [formGroup]="messageForm"
  [id]="DOM_ID"
  *ngIf="enableInput"
>
  <textarea
    name="text"
    formControlName="text"
    class="mesf-textarea Message-textarea"
    placeholder="{{ placeholder | translate }}"
  ></textarea>

  <div class="Message-submit">
    <button
      *ngIf="!isProcessing"
      type="submit"
      name="button"
      class="btn btn-outline-light is-smallTor is-active mesf-TextBtn"
      [disabled]="messageForm.invalid"
      (click)="onSubmit()"
    >
      {{ "BUTTON.SUBMIT" | translate }}
    </button>
    <button *ngIf="isProcessing" class="btn btn-outline-light is-proccesing">
      <mat-spinner [diameter]="25"></mat-spinner>
    </button>
  </div>
</div>
<ng-container *ngIf="!enableInput">
  {{ text }}
</ng-container>
