@import "shared";

.Message {
    margin: px2vw-xl(35px) 0;

    @include lg {
      padding: 0 px2vw-lg(30px);
    }

    @include md {
      padding: 0 px2vw-md(30px);
    }

    @include sm {
      padding: 0 px2vw-sm(30px);
    }

    &-textarea {
        min-height: px2vw-xl(135px);
    }

    &-submit {
        margin-top: px2vw-xl(18px);
        text-align: right;
  
        @include lg {
          margin-top: px2vw-lg(18px);
        }
  
        @include md {
          margin-top: px2vw-md(18px);
        }
  
        @include sm {
          margin-top: px2vw-sm(18px);
        }
  
        button {
          width: px2vw-xl(120px);

          @include sm {
            width: 100%;
            font-size: px2vw-sm(20px);
          }

          &.is-proccesing {
            mat-spinner {
              margin: auto;
            }
          }
        }
      }

}