<section class="Leaderboard-sectionB" *ngIf="isBrowser">
  <header class="Leaderboard-sectionB-header">
    <h2 class="Leaderboard-sectionB-header-title global-Title2">
      {{ "HOME.SECTIONM.TITLE" | translate }}
    </h2>
    <p class="Leaderboard-sectionB-header-subtitle global-Text">
      {{ "LEADERBOARD.SELECT_GAME.SECTIONB.TITLE" | translate }}
    </p>
  </header>

  <div class="Leaderboard-sectionB-cards">
    <div
      class="Leaderboard-sectionB-card"
      *ngFor="let game of gameList.slice(0, 6); let i = index"
    >
      <div class="Leaderboard-sectionB-card-image-block">
        <img
          [src]="game.image ? game.image : './assets/images/Home/top1.png'"
          class="Leaderboard-sectionB-card-image"
          alt="image"
        />
      </div>
      <p class="Leaderboard-sectionB-card-game global-Text">
        {{ game.name | limitString: 17:"..." }}
      </p>
    </div>
  </div>
</section>

<section class="Leaderboard-sectionC" *ngIf="isBrowser">
  <h3 class="Leaderboard-sectionC-title global-Title">
    {{ "LEADERBOARD.SELECT_GAME.SECTIONC.TITLE" | translate }}
  </h3>
  <div class="Leaderboard-sectionC-cards u-dfCenterBtw">
    <app-leader-board-card
      *ngFor="let board of boardCardsData"
      [params]="board"
    ></app-leader-board-card>
  </div>
</section>

<section class="Leaderboard-sectionD" *ngIf="isBrowser">
  <header class="Leaderboard-sectionD-header u-dfCenterBtw">
    <h2 class="Leaderboard-sectionD-header-title global-Title2">
      {{ "header.LEADERBOARD" | translate }}
    </h2>
    <div class="Leaderboard-sectionD-header-buttons">
      <mat-form-field
        class="Leaderboard-sectionD-header-button stc-select"
        appearance="fill"
      >
        <mat-select
          matNativeControl
          required
          [ngModel]="selectedRegions"
          (ngModelChange)="changeTab($event, 'regions')"
        >
          <mat-option [value]="''">
            {{ "LEADERBOARD.PLAYER_DETAILS.SECTIOND.ALL_REGIONS" | translate }}
          </mat-option>
          <mat-option *ngFor="let state of stateList" [value]="state?.name">
            {{ state?.name | region: currentLang:stateList:"state" }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="Leaderboard-sectionD-header-button stc-select"
        appearance="fill"
      >
        <mat-select
          matNativeControl
          required
          [ngModel]="selectedGames"
          (ngModelChange)="changeTab($event, 'games')"
        >
          <mat-option value="all">
            {{ "LEADERBOARD.PLAYER_DETAILS.SECTIOND.ALL_GAMES" | translate }}
          </mat-option>
          <mat-option *ngFor="let game of gameList" [value]="game._id">
            {{ game.name | limitString: 17:"..." }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </header>

  <div class="Leaderboard-sectionD-table">
    <div class="global-scrollbar">
      <ngx-datatable
        [rows]="leaderboardData"
        [columns]="leaderBoardColumns"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [limit]="10"
        (activate)="onRowClick($event)"
        [externalPaging]="true"
        [count]="page?.totalItems"
        [offset]="page?.activePage"
        [limit]="page?.itemsPerPage"
        (page)="pageChanged($event)"
        class="global-DataTable"
      >
        <ngx-datatable-column
          prop="rank"
          name="{{ 'HOME.SECTIONM.COLUMNS.1' | translate }}"
        >
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="name"
          name="{{ 'HOME.SECTIONM.COLUMNS.3' | translate }}"
        >
          <ng-template ngx-datatable-cell-template let-row="row">
            <div class="datatable-player-name">
              <img [src]="row?.img" alt="image" class="datatable-ava" />
              <span class="global-Elipses">{{
                row.name | limitString: 17:"..."
              }}</span>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="region"
          name="{{ 'HOME.SECTIONM.COLUMNS.4' | translate }}"
        >
          <ng-template ngx-datatable-cell-template let-row="row">
            <p class="m-0">
              {{ row.region | region: currentLang:stateList:"state" }}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="trophies"
          name="{{ 'HOME.SECTIONM.COLUMNS.5' | translate }}"
        >
          <ng-template ngx-datatable-cell-template let-row="row">
            <div class="datatable-places">
              <div class="datatable-place">
                <img
                  class="datatable-place-image"
                  src="/assets/icons/gold.svg"
                  alt="first place"
                />
                <span class="datatable-place-count">
                  {{ row.trophies.first }}
                </span>
              </div>
              <div class="datatable-place">
                <img
                  class="datatable-place-image"
                  src="/assets/icons/silver.svg"
                  alt="second place"
                />
                <span class="datatable-place-count">
                  {{ row.trophies.second }}
                </span>
              </div>
              <div class="datatable-place">
                <img
                  class="datatable-place-image"
                  src="/assets/icons/bronze.svg"
                  alt="third place"
                />
                <span class="datatable-place-count">
                  {{ row.trophies.third }}
                </span>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          prop="points"
          name="{{ 'HOME.SECTIONM.COLUMNS.6' | translate }}"
        >
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</section>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
