@import "shared";

:host {
  display: block;
}

$--hero-button-bg: linear-gradient(
  91.25deg,
  rgba(221, 80, 255, 0.45) 0%,
  rgba(221, 80, 255, 0.45) 0.01%,
  #0bf7ad 100%
);

.GwbHome-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: var(--saphire);
  background-image: url(/assets/images/Gwb/bg/hero/desktop-en.png);
  padding-top: px2vw-xl(55px);
  padding-bottom: px2vw-xl(24px);
  color: var(--base-white);

  @include lg {
    padding-top: px2vw-lg(55px);
    padding-bottom: px2vw-lg(24px);
  }

  @include md {
    padding-top: px2vw-md(50px);
    padding-bottom: px2vw-md(20px);
  }

  @include sm {
    background-image: url(/assets/images/Gwb/bg/hero/hero-mobile.jpg);
    padding-top: px2vw-sm(85px);
    padding-bottom: px2vw-sm(20px);
  }

  &-wrapper {
    @extend %u-dfEndBtw;

    @include md {
      padding: 0;
    }

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &-title {
    margin-bottom: px2vw-xl(22px);
    font-size: px2vw-lg(50px);
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(42px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
      font-size: px2vw-sm(72px);
      text-align: center;
    }
  }

  &-subheader {
    margin-bottom: px2vw-xl(20px);
    font-family: "avenir-black", sans-serif;
    font-size: px2vw-xl(32px);
    font-weight: 800;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(20px);
      font-size: px2vw-lg(26px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(26px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(28px);
      text-align: center;
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(20px);
    font-family: "avenir-black", sans-serif;
    font-size: px2vw-xl(36px);
    font-weight: 800;
    letter-spacing: 1px;
    width: 55%;

    @include lg {
      margin-bottom: px2vw-lg(20px);
      font-size: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(34px);
      text-align: center;
      width: 100%;
    }
  }

  &-date {
    margin-bottom: px2vw-xl(210px);
    font-family: "avenir-roman";
    font-size: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(142px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(160px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(720px);
      font-size: px2vw-sm(22px);
      text-align: center;
    }
  }

  &-tip {
    font-family: "myriad-pro";
    font-size: px2vw-xl(16px);
    color: var(--base-gainsboro);
    opacity: 0.75;

    @include lg {
      font-size: px2vw-lg(12px);
    }

    @include md {
      font-size: px2vw-md(12px);
    }

    @include sm {
      display: none;
    }
  }

  &-gamers {
    margin-bottom: px2vw-xl(40px);
    min-width: px2vw-xl(540px);
    text-transform: uppercase;
    font-family: "avenir-roman", sans-serif;
    font-style: italic;
    color: var(--base-gainsboro);

    @include lg {
      margin-bottom: px2vw-lg(40px);
      min-width: px2vw-lg(300px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      min-width: px2vw-md(260px);
    }

    @include sm {
      margin-bottom: 0;
      min-width: auto;
      text-align: center;
    }
  }

  &-gamers-head {
    font-size: px2vw-xl(19px);

    @include lg {
      font-size: px2vw-lg(14px);
    }

    @include md {
      font-size: px2vw-md(14px);
    }

    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-gamers-subhead {
    text-shadow: 2px 2px 0 var(--heliotrope);
    font-size: px2vw-xl(28px);
    font-weight: 800;
    color: var(--base-white);

    @include lg {
      font-size: px2vw-lg(21px);
    }

    @include md {
      font-size: px2vw-md(21px);
    }

    @include sm {
      font-size: px2vw-sm(32px);
    }
  }

  &-button {
    position: absolute;
    bottom: 13%;
    left: 0;
    min-width: px2vw-xl(460px);
    background: $--hero-button-bg;
    text-align: left;
    text-transform: uppercase;
    padding: px2vw-xl(20px);
    padding-left: 5vw;
    font-family: "avenir-roman", sans-serif;
    color: var(--base-white);
    cursor: default;

    @include lg {
      min-width: px2vw-lg(400px);
      padding: px2vw-lg(15px);
      padding-left: 4.5vw;
    }

    @include md {
      min-width: px2vw-md(340px);
      padding: px2vw-md(15px);
      padding-left: 3vw;
    }

    @include sm {
      min-width: auto;
      bottom: 99vw;
      width: 100%;
      padding: px2vw-sm(20px);
      text-align: center;
    }
  }

  &-button-title {
    margin-bottom: px2vw-xl(10px);
    font-size: px2vw-xl(18px);
    font-weight: 800;

    @include lg {
      margin-bottom: px2vw-lg(5px);
      font-size: px2vw-lg(14px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
      font-size: px2vw-md(14px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
      font-size: px2vw-sm(18px);
    }
  }

  &-button-text {
    margin-bottom: 0;
    font-size: px2vw-xl(50px);
    line-height: 1;
    font-weight: 900;
    text-shadow: px2vw-xl(2px) px2vw-xl(2px) 0 var(--violet);

    @include lg {
      text-shadow: px2vw-lg(2px) px2vw-lg(2px) 0 var(--violet);
      font-size: px2vw-lg(38px);
    }

    @include md {
      text-shadow: px2vw-md(2px) px2vw-md(2px) 0 var(--violet);
      font-size: px2vw-md(38px);
    }

    @include sm {
      text-shadow: px2vw-sm(2px) px2vw-sm(2px) 0 var(--violet);
      font-size: px2vw-sm(44px);
    }
  }
}

.GwbHome-about {
  background-size: cover;
  background-position: center;
  background-color: var(--saphire);
  background-image: url(/assets/images/Gwb/bg/about/hero-desktop.jpg);
  padding: px2vw-xl(72px) 0;

  @include lg {
    padding: px2vw-lg(72px) 0;
  }

  @include md {
    background-image: none;
    background-color: var(--base-white);
    padding: px2vw-md(74px) 0 0;
  }

  @include sm {
    padding-top: px2vw-sm(74px);
  }

  &-wrapper {
    @include md {
      padding: 0;
    }
  }

  &-content {
    max-width: px2vw-xl(720px);
    color: var(--base-white);

    @include lg {
      max-width: px2vw-lg(540px);
    }

    @include md {
      max-width: none;
    }
  }

  &-title {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(52px);
      color: var(--saphire);
      text-shadow: none;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(52px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(42px);
    font-family: "avenir-black", sans-serif;
    font-size: px2vw-xl(25px);
    line-height: px2vw-xl(39px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
      font-size: px2vw-lg(21px);
      line-height: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(38px);
      font-size: px2vw-md(22px);
      line-height: px2vw-md(34px);
      color: var(--saphire);

      br {
        display: none;
      }
    }

    @include sm {
      margin-bottom: px2vw-sm(38px);
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(34px);
    }
  }

  &-items {
    margin-bottom: 0;
  }

  &-item {
    margin-bottom: px2vw-xl(25px);
    font-family: "myriad-pro", sans-serif;
    font-size: px2vw-xl(19px);
    line-height: px2vw-xl(27px);

    @include lg {
      margin-bottom: px2vw-lg(22px);
      font-size: px2vw-lg(19px);
      line-height: px2vw-lg(27px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(19px);
      line-height: px2vw-md(32px);
      color: var(--saphire);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
      font-size: px2vw-sm(19px);
      line-height: px2vw-sm(32px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-bg-image {
    display: none;

    @include md {
      margin-top: px2vw-md(48px);
      display: block;
      background-size: cover;
      background-position: center;
      background-image: url(/assets/images/Gwb/bg/about/mobile.jpg);
      height: px2vw-md(364px);
      width: 100%;
    }

    @include sm {
      margin-top: px2vw-sm(48px);
      height: px2vw-sm(364px);
      display: none;
    }
  }
}

.GwbHome-tournaments {
  margin-bottom: px2vw-lg(80px);

  @include lg {
    margin-bottom: px2vw-lg(56px);
  }

  @include md {
    margin-bottom: px2vw-md(56px);
    padding: 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(56px);
  }
}

.GwbHome-watch {
  margin-bottom: px2vw-xl(98px);

  @include lg {
    margin-bottom: px2vw-lg(98px);
  }

  @include md {
    margin-bottom: px2vw-md(70px);
    padding: 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(70px);
  }

  &-title {
    margin-bottom: px2vw-xl(34px);
    font-family: "avenir-black", sans-serif;
    font-size: px2vw-xl(51px);
    line-height: 1;
    color: var(--saphire);
    text-transform: capitalize;

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(42px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(42px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(42px);
    }
  }

  &-streams {
    overflow-x: scroll;
    display: flex;
    padding-bottom: px2vw-xl(32px);

    &::-webkit-scrollbar-thumb {
      background-color: var(--scooter);
    }

    @include lg {
      padding-bottom: px2vw-lg(32px);
    }

    @include md {
      padding-bottom: px2vw-md(32px);
    }

    @include sm {
      padding-bottom: px2vw-sm(32px);
    }
  }

  &-stream {
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    height: px2vw-xl(290px);
    width: px2vw-xl(564px);
    background-size: cover;
    background-color: var(--saphire);

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(200px);
      width: px2vw-lg(350px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(200px);
      width: px2vw-md(350px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(200px);
      width: px2vw-sm(380px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-stream-iframe {
    height: 100%;
    width: 100%;
  }
}

.GwbHome-donate {
  background-size: cover;
  background-position: center;
  background-color: var(--saphire);
  background-image: url(/assets/images/Gwb/bg/donate/donate-desktop.jpg);
  padding: px2vw-xl(100px) 0;

  @include lg {
    padding: px2vw-xl(76px) 0;
  }

  @include md {
    background-image: none;
    background-color: transparent;
    padding: 0;
  }

  &-wrapper {
    @extend %u-dfCenter;

    @include md {
      margin: 0 auto;
      padding: 0;
      max-width: none;
      flex-direction: column;
    }
  }

  &-content {
    margin-right: px2vw-xl(200px);
    max-width: px2vw-xl(536px);

    @include lg {
      margin-right: px2vw-lg(150px);
      max-width: px2vw-lg(400px);
    }

    @include md {
      margin-right: 0;
      max-width: none;
      background-image: url(/assets/images/Gwb/bg/donate/donate-mobile.jpg);
      background-position: center;
      background-size: cover;
      padding: px2vw-md(86px) px2vw-md(20px);
      text-align: center;
    }

    @include sm {
      padding: px2vw-sm(86px) px2vw-sm(20px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(52px);
    }

    @include md {
      width: 74%;
      margin: 0 auto px2vw-md(36px);
      font-size: px2vw-md(52px);
    }

    @include sm {
      margin-bottom: px2vw-sm(36px);
      font-size: px2vw-sm(52px);
    }
  }

  &-items {
    margin-bottom: 0;
  }

  &-item {
    margin-bottom: px2vw-xl(28px);
    font-family: "myriad-pro", sans-serif;
    color: var(--base-white);
    font-size: px2vw-xl(21px);
    line-height: 1.5;

    @include lg {
      margin-bottom: px2vw-lg(28px);
      font-size: px2vw-lg(22px);
    }

    @include md {
      margin-bottom: px2vw-md(28px);
      font-size: px2vw-md(22px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
      font-size: px2vw-sm(22px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-list {
    margin-bottom: 0;

    @include md {
      width: 100%;
      padding: px2vw-md(120px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(60px) px2vw-sm(20px) px2vw-sm(120px);
    }
  }

  &-list-item {
    @extend %u-dfCenterCenter;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-link {
    @extend %u-dfCenterCenter;
    flex-direction: column;
    margin: 0 px2vw-xl(12px);
    border-radius: px2vw-xl(6px);
    border: 1px solid var(--base-gainsboro);
    padding: px2vw-xl(25px) px2vw-xl(10px) px2vw-xl(10px);
    width: px2vw-xl(210px);
    height: px2vw-xl(180px);
    background-color: var(--base-white);
    transition: 100ms linear;

    @include lg {
      margin: 0 px2vw-lg(8px);
      border-radius: px2vw-lg(6px);
      padding: px2vw-lg(20px) px2vw-lg(10px) px2vw-lg(10px);
      width: px2vw-lg(160px);
      height: px2vw-lg(130px);
    }

    @include md {
      margin: 0 px2vw-md(8px);
      border-radius: px2vw-md(6px);
      padding: px2vw-md(20px) px2vw-md(10px) px2vw-md(10px);
      width: px2vw-md(200px);
      height: px2vw-md(170px);
    }

    @include sm {
      margin: 0 px2vw-sm(8px);
      border-radius: px2vw-sm(6px);
      padding: px2vw-sm(20px) px2vw-sm(10px) px2vw-sm(10px);
      width: px2vw-sm(164px);
      height: px2vw-sm(145px);
    }

    &:hover {
      box-shadow: px2vw-xl(6px) px2vw-xl(6px) 0 var(--heliotrope);
      border-color: var(--heliotrope);

      @include lg {
        box-shadow: px2vw-lg(6px) px2vw-lg(6px) 0 var(--heliotrope);
      }

      @include md {
        box-shadow: px2vw-md(6px) px2vw-md(6px) 0 var(--heliotrope);
      }

      @include sm {
        box-shadow: px2vw-sm(6px) px2vw-sm(6px) 0 var(--heliotrope);
      }

      .text {
        color: var(--scooter);
      }
    }
  }

  &-link-image-block {
    @extend %u-dfCenterCenter;
    width: px2vw-xl(170px);
    height: px2vw-xl(54px);

    @include lg {
      width: px2vw-lg(140px);
      height: px2vw-lg(54px);
    }

    @include md {
      width: px2vw-md(180px);
      height: px2vw-md(64px);
    }

    @include sm {
      width: px2vw-sm(145px);
      height: px2vw-sm(50px);
    }
  }

  &-link-image {
    max-width: 100%;
    max-height: 100%;
  }

  &-link-text {
    margin-top: px2vw-xl(24px);
    margin-bottom: 0;
    font-family: "avenir-roman", sans-serif;
    font-size: px2vw-xl(18px);
    color: var(--ui-mischka);
    text-transform: capitalize;
    transition: 100ms linear;

    @include lg {
      margin-top: px2vw-lg(20px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      font-size: px2vw-sm(20px);
    }
  }
}

.GwbHome-games {
  background-size: cover;
  background-position: center;
  background-color: var(--saphire);
  background-image: url(/assets/images/Gwb/bg/games/games-desktop.jpg);
  padding: px2vw-xl(115px) 0;

  @include lg {
    padding: px2vw-lg(105px) 0;
  }

  @include md {
    background-image: none;
    background-color: var(--base-black);
    padding: px2vw-md(74px) 0 0;
  }

  @include sm {
    padding-top: px2vw-sm(44px);
  }

  &-wrapper {
    @include md {
      padding: 0;
      padding-bottom: px2vw-md(30px);
    }

    @include sm {
      padding-bottom: px2vw-sm(20px);
    }
  }

  &-content {
    max-width: px2vw-xl(520px);
    color: var(--base-white);

    @include lg {
      max-width: px2vw-lg(540px);
    }

    @include md {
      max-width: none;
    }

    @include sm {
      background-color: var(--base-black);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(54px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(38px);
      font-size: px2vw-md(52px);
    }

    @include sm {
      margin-bottom: px2vw-sm(38px);
      font-size: px2vw-sm(52px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(42px);
    font-family: "avenir-black", sans-serif;
    font-size: px2vw-xl(25px);
    line-height: px2vw-xl(39px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
      font-size: px2vw-lg(21px);
      line-height: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(38px);
      font-size: px2vw-md(22px);
      line-height: px2vw-md(34px);
      color: var(--saphire);

      br {
        display: none;
      }
    }

    @include sm {
      margin-bottom: px2vw-sm(38px);
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(34px);
    }
  }

  &-items {
    margin-bottom: 0;
  }

  &-item {
    margin-bottom: px2vw-xl(40px);
    font-family: "myriad-pro", sans-serif;
    font-size: px2vw-xl(19px);
    line-height: px2vw-xl(27px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
      font-size: px2vw-lg(19px);
      line-height: px2vw-lg(27px);
    }

    @include md {
      margin-bottom: px2vw-md(34px);
      font-size: px2vw-md(19px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
      font-size: px2vw-sm(19px);
      line-height: px2vw-sm(32px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-bg-image {
    display: none;

    @include md {
      position: relative;
      display: block;
      background-size: cover;
      background-position: top;
      background-image: url(/assets/images/Gwb/bg/games/games-mobile.jpg);
      height: px2vw-md(532px);
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: px2vw-md(100px);
        background: linear-gradient(
          to bottom,
          var(--base-black) 0%,
          transparent 20%
        );
      }
    }

    @include sm {
      height: px2vw-sm(375px);

      &::before {
        height: px2vw-sm(64px);
        background: linear-gradient(
          to bottom,
          var(--base-black) 0%,
          transparent 40%
        );
      }
    }
  }
}

.GwbHome-socials {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/Gwb/bg/socials/socials-desktop.jpg);
  background-color: var(--saphire);
  padding: px2vw-xl(87px) 0;

  @include lg {
    background-position: right;
    padding: px2vw-lg(34px) 0;
  }

  @include md {
    background-image: url(/assets/images/Gwb/bg/socials/socials-mobile.jpg);
    padding: px2vw-md(84px) 0;
  }

  @include sm {
    padding: px2vw-sm(84px) 0;
  }

  &-header {
    @extend %u-dfCenterCenter;
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
      font-size: px2vw-lg(42px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(40px);
      font-size: px2vw-md(42px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
      font-size: px2vw-sm(42px);
    }
  }

  &-header-title {
    margin-bottom: 0;
    font-size: px2vw-xl(38px);

    @include lg {
      font-size: px2vw-lg(42px);
    }

    @include md {
      font-size: px2vw-md(42px);
    }

    @include sm {
      font-size: px2vw-sm(42px);
    }
  }

  &-lists {
    @extend %u-dfCenter;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;

    @include lg {
      margin-right: 0;
      align-items: center;
      flex-direction: column;
    }

    @include md {
      align-items: center;
    }
  }

  &-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(40px);
    grid-row-gap: px2vw-xl(15px);
    transition: 100ms linear;

    @include lg {
      margin-right: 0;
      grid-column-gap: px2vw-lg(32px);
      grid-row-gap: px2vw-lg(15px);
    }

    @include md {
      grid-column-gap: px2vw-md(24px);
      grid-row-gap: px2vw-md(10px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(10px);
    }

    &.primary {
      margin-right: px2vw-xl(46px);
      grid-template-columns: repeat(4, minmax(0, 1fr));

      @include lg {
        margin-right: 0;
      }

      @include md {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
    }

    &.secondary {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      margin-block-end: auto;

      @include lg {
        margin-top: px2vw-lg(24px);
      }

      @include md {
        margin-top: px2vw-md(36px);
      }

      @include sm {
        margin-top: px2vw-sm(36px);
      }
    }
  }

  &-link {
    @extend %u-dfCenter;
    background-color: transparent;
    border: 2px solid var(--base-white);
    border-radius: px2vw-xl(14px);

    @include md {
      border: 1px solid var(--base-white);
      border-radius: px2vw-md(10px);
    }

    &:hover {
      border-color: var(--base-white);

      .icon ::ng-deep svg path {
        fill: var(--heliotrope);
        transition: 140ms linear;
      }

      .text {
        color: var(--heliotrope);
        transition: 140ms linear;
      }
    }

    &.primary {
      @include md {
        padding: px2vw-md(18px) px2vw-md(28px);
      }

      @include sm {
        padding: px2vw-sm(18px) px2vw-sm(28px);
      }
    }

    &.secondary {
      @include md {
        padding: px2vw-sm(18px);
      }

      @include sm {
        padding: px2vw-sm(18px);
      }
    }
  }

  &-link-icon-block {
    flex-shrink: 0;
    height: px2vw-xl(40px);
    width: px2vw-xl(40px);

    @include lg {
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
    }

    @include md {
      height: px2vw-md(36px);
      width: px2vw-md(36px);
    }

    @include sm {
      height: px2vw-sm(36px);
      width: px2vw-sm(36px);
    }
  }

  &-link-icon {
    height: 100%;
    width: 100%;

    ::ng-deep svg {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &-link-text {
    margin-left: 0;
    font-family: "myriad-pro", sans-serif;
    font-size: px2vw-xl(19px);
    color: var(--base-white);

    @include lg {
      font-size: px2vw-lg(19px);
    }

    @include md {
      font-size: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(22px);
    }
  }
}

.GwbHome-support {
  @extend %u-dfCenterCenter;
  display: flex;
  flex-direction: column;
  padding: px2vw-xl(40px) 0;

  @include lg {
    padding: px2vw-lg(30px) 0;
  }

  @include md {
    justify-content: space-between;
    padding: px2vw-md(30px) 0;
  }

  @include sm {
    flex-direction: column;
    padding: px2vw-sm(30px) 0;
  }

  &-text {
    font-size: px2vw-xl(15px);
    color: var(--ui-mischka);

    @include lg {
      font-size: px2vw-lg(15px);
    }

    @include md {
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-right: 0;
      margin-bottom: px2vw-sm(30px);
      font-size: px2vw-sm(18px);
    }
  }

  &-images {
    @extend %u-dfCenter;
  }

  &-image {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-right: 0;
      margin-bottom: px2vw-sm(43px);
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    &.saudi {
      height: px2vw-xl(93px);
      width: px2vw-xl(266px);

      @include lg {
        height: px2vw-lg(74px);
        width: px2vw-lg(204px);
      }

      @include md {
        height: px2vw-md(64px);
        width: px2vw-md(194px);
      }

      @include sm {
        height: px2vw-sm(88px);
        width: px2vw-sm(277px);
      }
    }

    &.ministry {
      height: px2vw-xl(47px);
      width: px2vw-xl(158px);
      margin-right: px2vw-xl(30px);

      @include lg {
        height: px2vw-lg(35px);
        width: px2vw-lg(118px);
        margin-right: px2vw-lg(30px);
      }

      @include md {
        height: px2vw-md(35px);
        width: px2vw-md(118px);
        margin-right: px2vw-md(30px);
      }

      @include sm {
        height: px2vw-sm(53px);
        width: px2vw-sm(176px);
        margin-right: px2vw-sm(30px);
      }
    }

    &.olimpic {
      height: px2vw-xl(87px);
      width: px2vw-xl(70px);

      @include lg {
        height: px2vw-lg(65px);
        width: px2vw-lg(52px);
      }

      @include md {
        height: px2vw-md(65px);
        width: px2vw-md(52px);
      }

      @include sm {
        height: px2vw-sm(112px);
        width: px2vw-sm(90px);
      }
    }
  }
}
