@import "shared";

:host {
  display: block;
}

.scBtn {
  margin-left: px2vw-xl(10px);

  @include lg {
    margin-left: px2vw-lg(10px);
  }

  @include md {
    margin-left: px2vw-md(10px);
  }

  @include sm {
    margin-left: px2vw-sm(10px);
  }
}

.Congratulation {
  width: 100%;
  padding: 35px;
  text-align: center;
  .submitt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 16px 32px;
    border-radius: 6px;
    @include sm {
      padding: 11px 32px;
    }
    span {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-color);
      text-transform: none;
    }
  }
  .button-icon-primary {
    border-color: var(--secondary-color);
    background: var(--secondary-color);
  }
  .button-icon-primary:disabled {
    border-color: var(--tertiary-color);
    background: var(--tertiary-color);
  }

  .button-icon-primary:valid {
    border-color: var(--secondary-color);
    background: var(--secondary-color);
    span {
      color: var(--white);
    }
  }
  &-title {
    margin-bottom: px2vw-xl(22px);
    font-family: "bebas-neue-regular";
    font-size: px2vw-xl(50px);
    color: var(--color-primary);
    line-height: auto;

    @include lg {
      margin-bottom: px2vw-lg(22px);
      font-size: px2vw-lg(60px);
      line-height: auto;
    }

    @include md {
      margin-bottom: px2vw-md(22px);
      font-size: px2vw-md(60px);
      line-height: auto;
    }

    @include sm {
      margin-bottom: px2vw-sm(22px);
      font-size: px2vw-sm(60px);
      line-height: inherit;
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(80px);
    font-size: px2vw-xl(26px);
    font-family: "source-sans-pro";
    line-height: auto;
    color: var(--black);

    @include lg {
      margin-bottom: px2vw-lg(80px);
      font-size: px2vw-lg(26px);
    }

    @include md {
      margin-bottom: px2vw-md(80px);
      font-size: px2vw-md(26px);
    }

    @include sm {
      margin-bottom: px2vw-sm(80px);
      font-size: px2vw-sm(26px);
    }
  }

  &-btns {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }
  .Congratulation-btns {
    display: flex;
    button {
      margin: 5px;
    }
  }
}
