@import "shared";

:host {
  display: block;
}

.FeaturedContent {
  margin-bottom: px2vw-xl(55px);

  @include lg {
    margin-bottom: px2vw-lg(55px);
  }

  @include md {
    margin-bottom: px2vw-md(50px);
  }

  @include sm {
    margin-bottom: px2vw-sm(50px);
  }

  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-header-title {
    @extend %global-H4;
    margin-right: px2vw-xl(24px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
    }
  }

  &-floor {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  &-floor.primary {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include md {
      margin-bottom: px2vw-md(24px);
      grid-template-columns: minmax(0, 1fr);
      grid-row-gap: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      grid-row-gap: px2vw-sm(30px);
    }

    .card {
      @include shadow();
      height: px2vw-xl(384px);
      padding: px2vw-xl(25px);
      background-color: var(--black);

      @include lg {
        height: px2vw-lg(350px);
        padding: px2vw-lg(25px);
      }

      @include md {
        height: px2vw-md(320px);
        padding: px2vw-md(25px);
      }

      @include sm {
        height: px2vw-sm(250px);
        padding: px2vw-sm(25px);
      }
    }

    .card-about {
      z-index: 1;
      max-width: px2vw-xl(450px);

      @include lg {
        max-width: px2vw-lg(450px);
      }

      @include md {
        max-width: none;
      }
    }

    .card-title {
      margin-bottom: px2vw-xl(18px);

      @include lg {
        margin-bottom: px2vw-lg(18px);
      }

      @include md {
        margin-bottom: px2vw-md(18px);
      }

      @include sm {
        margin-bottom: px2vw-sm(18px);
      }
    }
  }

  &-floor.secondary {
    grid-template-columns: repeat(4, 1fr);

    @include md {
      grid-template-columns: minmax(0, 1fr);
    }

    @include sm {
    }
  }

  &-card {
    background-size: cover;
    border: none;
    transition: $global-transition;
    cursor: pointer;

    // &:hover {
    //   opacity: 0.8;
    // }
  }

  &-card-image {
    margin-bottom: px2vw-xl(16px);
    height: px2vw-xl(170px);
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: var(--black);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      height: px2vw-lg(170px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      height: px2vw-md(170px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16.896px);
      height: px2vw-sm(263.02464px);
    }
  }

  // &-card-details {
  //   @extend %u-dfCenter;
  //   padding-right: px2vw-xl(25px);

  //   @include lg {
  //     padding-right: px2vw-lg(25px);
  //   }

  //   @include md {
  //     padding-right: px2vw-md(25px);
  //   }

  //   @include sm {
  //     padding-right: px2vw-sm(25px);
  //   }
  // }

  // &-card-icon {
  //   margin-right: px2vw-xl(16px);
  //   height: px2vw-xl(48px);
  //   width: px2vw-xl(48px);

  //   @include lg {
  //     margin-right: px2vw-lg(16px);
  //     height: px2vw-lg(48px);
  //     width: px2vw-lg(48px);
  //   }

  //   @include md {
  //     margin-right: px2vw-md(16px);
  //     height: px2vw-md(48px);
  //     width: px2vw-md(48px);
  //   }

  //   @include sm {
  //     margin-right: px2vw-sm(16px);
  //     height: px2vw-sm(48px);
  //     width: px2vw-sm(48px);
  //   }
  // }

  &-card-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 8px;
    -webkit-line-clamp: 2;
  }

  &-card-text {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    color: var(--tertiary-color);
  }
}
