<div class="shop-card-main">
  <div class="shop-card-image" [lazyLoad]="shop?.iconUrl">
    <P *ngIf="shop?.isDiscounted" class="shop-card-host">
      {{ "SEARCH_SHOP_CARD.HOT_DEALS" | translate }}
    </P>
  </div>
  <div class="text-center txt_content">
    <h6 class="shop-card-header">{{ shop?.categoryName }}</h6>
    <p class="shop-card-author-image">{{ shop?.publisher }}</p>
  </div>
  <div class="shop-card-footer d-flex">
    <div class="mob_display">
      <div class="shop-card-from-text">{{ "SEARCH_SHOP_CARD.FROM" | translate }}</div>
      <div class="Play-ongoing-card-author-name">
        <svg
          width="20"
          height="16"
          viewBox="0 0 20 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.9214 11.2158C19.6316 11.0114 19.3448 10.8024 19.061 10.5886C18.9638 10.5152 18.9394 10.519 18.8651 10.6196C18.7201 10.818 18.5579 11.0026 18.3805 11.1712C17.3497 12.131 16.1422 12.513 14.7659 12.288C13.8553 12.146 13.0189 11.691 12.3943 10.9978C11.4389 9.95163 11.0605 8.70489 11.2744 7.28696C11.4077 6.33566 11.8617 5.46204 12.5578 4.81739C13.5722 3.86902 14.7653 3.47446 16.1326 3.68315C16.7831 3.78109 17.4011 4.03756 17.9347 4.43098C18.2928 4.69636 18.6103 5.01489 18.8768 5.37609C18.9347 5.45272 18.9649 5.4625 19.0291 5.41413C19.332 5.18696 19.6378 4.96413 19.9463 4.74565C20.0121 4.69891 20.0148 4.66631 19.9686 4.59783C19.9591 4.5837 19.949 4.57011 19.9384 4.55598C19.6707 4.19087 19.361 3.86021 19.0159 3.5712C18.1481 2.84183 17.0854 2.3978 15.967 2.29728C15.9087 2.29903 15.8504 2.29114 15.7945 2.27391H15.1454C15.0874 2.29168 15.027 2.29958 14.9665 2.29728C13.7659 2.42011 12.7043 2.87772 11.7961 3.6913C10.888 4.50489 10.3099 5.52011 10.0313 6.71957C10.0069 6.825 9.98883 6.93207 9.96972 7.03913C9.96335 7.075 9.95432 7.09348 9.9108 7.09348C9.11887 7.09348 8.32747 7.09348 7.53554 7.09348C6.871 7.09348 6.20663 7.09239 5.54244 7.09022C5.44106 7.09022 5.414 7.11794 5.414 7.22228C5.414 7.73533 5.414 8.24819 5.414 8.76087C5.414 8.86467 5.44266 8.88913 5.5589 8.88913H8.13798C8.64966 8.88913 9.16133 8.88913 9.67301 8.88913C9.73458 8.88913 9.74572 8.90489 9.73404 8.96304C9.67755 9.25695 9.58499 9.54237 9.45857 9.8125C8.83171 11.1315 7.81685 11.9685 6.41717 12.2625C4.97397 12.5663 3.70274 12.1538 2.63321 11.1283C1.92125 10.4551 1.47076 9.5412 1.36464 8.55489C1.19479 7.1125 1.62366 5.86902 2.63587 4.85272C3.27805 4.19889 4.11557 3.78408 5.01485 3.67446C5.18886 3.65208 5.3639 3.6392 5.53925 3.63587H5.68841C6.7383 3.65326 7.67248 4.0462 8.49095 4.81468C8.66893 4.98558 8.8323 5.17176 8.97927 5.3712C9.05039 5.46576 9.07216 5.46957 9.16557 5.39946C9.45485 5.18207 9.74625 4.96956 10.0419 4.76196C10.1226 4.70489 10.1284 4.67011 10.07 4.5913C9.22785 3.44927 8.12453 2.72192 6.76006 2.40924C6.64594 2.38315 6.53076 2.36196 6.41505 2.34402V0.115761C6.41505 0.100559 6.41213 0.0855056 6.40644 0.0714609C6.40076 0.0574161 6.39244 0.0446538 6.38194 0.0339044C6.37144 0.023155 6.35898 0.0146311 6.34527 0.00881361C6.33155 0.00299608 6.31684 0 6.302 0H4.77599C4.76115 0 4.74644 0.00299608 4.73272 0.00881361C4.71901 0.0146311 4.70655 0.023155 4.69605 0.0339044C4.68555 0.0446538 4.67723 0.0574161 4.67155 0.0714609C4.66587 0.0855056 4.66294 0.100559 4.66294 0.115761V2.35978C3.72218 2.51602 2.83756 2.92104 2.0966 3.53478C1.03821 4.40435 0.382695 5.53206 0.105625 6.8913C0.0582182 7.12955 0.0271797 7.3709 0.0127383 7.61359C0.0127383 7.62772 0.0185774 7.64457 0 7.65326V8.34456C0.0179853 8.39439 0.0255751 8.44753 0.0222888 8.50055C0.0789507 9.18321 0.257791 9.84937 0.549885 10.4658C1.08297 11.6211 1.98486 12.5559 3.10668 13.1158C3.59712 13.3669 4.12179 13.5408 4.66294 13.6315V15.8826C4.66294 15.9137 4.67502 15.9436 4.69652 15.9656C4.71802 15.9876 4.74718 16 4.77759 16H6.29987C6.33028 16 6.35944 15.9876 6.38094 15.9656C6.40244 15.9436 6.41453 15.9137 6.41453 15.8826V13.6451C6.94106 13.5649 7.45301 13.405 7.93363 13.1707C9.05252 12.6272 9.91876 11.806 10.5079 10.6859L10.5244 10.6565C10.5499 10.663 10.5515 10.6875 10.5605 10.7043C11.2746 12.0261 12.3296 12.9301 13.7255 13.4163C14.1921 13.5774 14.6781 13.6721 15.1698 13.6978C15.1836 13.6978 15.2006 13.6908 15.2086 13.7109H15.7176C15.7261 13.6913 15.7431 13.6984 15.7563 13.6978C16.1081 13.6808 16.4573 13.628 16.7988 13.5402C18.0602 13.229 19.1751 12.4745 19.949 11.4082C20.0228 11.3082 20.0185 11.2837 19.9214 11.2158Z"
            fill="url(#paint0_linear)"
          />
          <defs>
            <linearGradient
              id="paint0_linear"
              x1="0"
              y1="0"
              x2="22.7887"
              y2="8.67107"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="#009900" />
              <stop offset="1" stop-color="#5BFD4A" />
            </linearGradient>
          </defs>
        </svg>
        {{ shop?.least }}
      </div>
    </div>
    <div class="shop-card-game ml-md-auto for_mobile">{{ "SEARCH_SHOP_CARD.TOP_UP" | translate }}</div>
  </div>
</div>
