<div class="u-wp">
  <header class="HeaderInfo">
    <a
      class="HeaderInfo-logo-link"
      [routerLink]="AppHtmlRoutes.home"
      [ngClass]="{ noTitle: !title.trim().length }"
    >
      <!-- <img
        class="HeaderInfo-logo-image"
        src="assets/global-images/formation-header-logo.svg"
        alt="logo"
      /> -->
    </a>
    <div class="HeaderPaidia-logo">
      <a class="HeaderPaidia-logo-link">
        <img class="HeaderPaidia-logo-icon" src="assets/global-images/logo.svg" alt="logo" />
      </a>
      <a class="HeaderPaidia-logo-link">
        <img class="HeaderPaidia-logo-subicon" src="assets/global-images/beta2.svg" alt="logo"/>
      </a>
    </div>
    <h2 class="HeaderInfo-title global-Elipses">
      {{ title }}
    </h2>

    <button class="HeaderInfo-button u-dfCenterStart" (click)="cancel()">
      <img
        class="HeaderInfo-button-icon"
        src="assets/icons/header-info/close.svg"
        alt="close button"
      />
    </button>
  </header>
</div>
