<div class="tournament-details-table">
  <ngx-datatable
    #table
    class="global-DataTableAdmin global-DataTable is-admin"
    [columns]="columnsFirstTab"
    [rows]="tournamentDetails"
    [columnMode]="'flex'"
    [headerHeight]="'auto'"
    [footerHeight]="'auto'"
    [rowHeight]="'auto'"
    [limit]="1"
  >
    <ngx-datatable-column
      [resizeable]="false"
      [draggable]="false"
      [flexGrow]="2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TOURNAMENT_NAME' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["name"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [resizeable]="false"
      [draggable]="false"
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGISTRATION' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["isPaid"] | registrationType }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [resizeable]="false"
      [draggable]="false"
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.GAME' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ sportDetail[0].game.name }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [resizeable]="false"
      [draggable]="false"
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TYPE' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["tournamentType"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [resizeable]="false"
      [draggable]="false"
      [flexGrow]="3"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGION' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["regionsAllowed"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [resizeable]="false"
      [draggable]="false"
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.START_DATE' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["startDate"] | date: "dd MMM yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [resizeable]="false"
      [draggable]="false"
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.END_DATE' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["endDate"] | date: "dd MMM yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [resizeable]="false"
      [draggable]="false"
      [flexGrow]="1"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.SLOTS' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["maxParticipants"] }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<div class="row organizer-details" *ngIf="sportDetail.length > 0">
  <div class="col-sm-2 align-items-center d-flex justify-content-center">
    <img
      class="organizer-details-image"
      [lazyLoad]="sportDetail[0].tournament.organizerDetail.profilePicture"
      alt=""
    />
  </div>
  <div class="col-sm-4 organizer-details-border organizer-details-detail">
    <ul>
      <li>
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.ORGANIZER_NAME"
              | translate
          }}
        </p>
        <span>{{ sportDetail[0].tournament.organizerDetail.fullName }}</span>
      </li>
      <li>
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.EMAIL_ADDRESS"
              | translate
          }}
        </p>
        <span>{{ sportDetail[0].tournament.organizerDetail.email }}</span>
      </li>
    </ul>
  </div>
  <div
    class="col-sm-6 col-xs-12 organizer-details-border organizer-details-detail"
  >
    <ul>
      <li>
        <p>
          {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.STATUS" | translate }}
        </p>
        <span>{{ organizer.status }}</span>
      </li>
      <li class="organizer-details-paymentImage">
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.PAYMENT_METHOD"
              | translate
          }}
        </p>
        <img [lazyLoad]="organizer.paymentMethod" />
      </li>
    </ul>
  </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>

<section>
  <div class="row winner">
    <div class="col-sm-4" *ngFor="let winner of sportDetail; let i = index">
      <div class="row winner-card">
        <div
          class="col-sm-4 winner-card-image align-items-center d-flex justify-content-center"
        >
          <img
            [lazyLoad]="winner.winnerUser.profilePicture"
            alt=""
            *ngIf="winner.winnerUser.profilePicture"
          />

          <img
            [src]="'assets/images/Profile/avatar.png'"
            alt=""
            *ngIf="!winner.winnerUser.profilePicture"
          />
        </div>
        <div class="col-sm-8 winner-card-details">
          <ul>
            <li>
              <p>{{ winner.winnerUser.fullName }}</p>
              <app-prize-disbursal
                [winner]="winner"
                [tournamentId]="tournamentId"
                [sportDetail]="sportDetail"
                [index]="i"
              ></app-prize-disbursal>
            </li>
            <li>
              <span *ngIf="winner.winnerUser?.accountDetail?.paymentAccountId"
                >{{ winner.winnerUser.accountDetail.paymentAccountId }}
              </span>
            </li>
            <li>
              <p>
                {{
                  "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.RANK" | translate
                }}
                {{ winner.awardPosition }}
              </p>
            </li>
            <li class="winner-card-paymentImage">
              <p>{{ winner.awardAmount }}</p>
              <div>
                <img
                  [lazyLoad]="
                    winner.winnerUser?.accountDetail?.paymentType == 'paypal'
                      ? 'assets/images/payment/paypal.png'
                      : ''
                  "
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="mt-5 text-left"
  *ngIf="sportDetail.length > 0 || isLoading == false"
>
  <button class="btn global-btn-black" (click)="cancel()">
    {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.BACK" | translate }}
  </button>
</section>

<ng-template #openModel let-modal class="temp">
  <div class="modal-header">
    <button class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="pl-5 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-4">
          <h4>
            {{
              "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.DISBURSE_MODEL_LABEL"
                | translate
            }}
          </h4>
        </div>
      </div>
      <div class="row mt-2 ml-3 pl-2 mr-5">
        <span class="description-text">
          <span>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="transactionValue"
            />
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      name="button"
      class="btn global-btn-yellow is-sm"
      data-dismiss="modal"
      (click)="update()"
    >
      {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.SUBMIT" | translate }}
    </button>
  </div>
</ng-template>
