<div class="bg-white p-4">

<div class="AccessManagement-header">
  <button
    class="AccessManagement-header-button btn is-sm"
    [routerLink]="['view', '0123456789ab']"
  >
    <!-- <span class="material-icons">add</span> -->
    + {{ "ADMIN.ACCESS_MANAGEMENT.LABEL.ADD_NEW" | translate }}
  </button>
</div>

<mat-tab-group mat-align-tabs="start" class="global-TabGroup">
  <mat-tab
    label="{{ 'ADMIN.ACCESS_MANAGEMENT.TABS.CURRENT_ACCESS' | translate }}"
  >
    <div class="global-scrollbar">
      <ngx-datatable
        #table
        class="global-DataTable"
        [columns]="columnsFirstTab"
        [rows]="rowsFirstTab"
        [columnMode]="'flex'"
        [headerHeight]="'auto'"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [limit]="50"
      >
        <ngx-datatable-column
          name="{{
            'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.USER_ID' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.id }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.NAME' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.ACCESS_LEVEL' | translate
          }}"
          [flexGrow]="3"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              *ngFor="let item of row['accessLevel']"
              mat-mini-fab
              disabled
              class="AccessManagement-access"
            >
              {{ item }}
            </button>
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column
          name="{{ 'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.PHONE' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.phone }}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              [matMenuTriggerFor]="menu"
              mat-icon-button
              color="primary"
              class="Admin-tableBtn"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button
                (click)="onViewUserAccess(row)"
                mat-button
                color="primary"
                ngbTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
                class="Admin-tableBtn w-100"
              >
                <mat-icon>visibility</mat-icon>
              </button>

              <button
                [routerLink]="['view', row['id']]"
                mat-button
                color="primary"
                ngbTooltip="{{ 'ADMIN_TOOLTIP.EDIT' | translate }}"
                class="Admin-tableBtn w-100"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                (click)="onRemoveUser(row['id'])"
                mat-button
                color="primary"
                ngbTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
                class="Admin-tableBtn w-100"
              >
                <mat-icon>remove_circle</mat-icon>
              </button>
            </mat-menu>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </mat-tab>
</mat-tab-group>
<app-loading *ngIf="isLoading"></app-loading>
</div>
