@import "shared";

.AccessManagement {
  &-header {
    text-align: right;
  }

  &-accessWp {
    @extend %u-dfCenterCenter;
    flex-wrap: wrap;
    width: 100%;
  }

  &-access {
    margin: px2vw-xl(5px) px2vw-xl(10px);
    font-size: px2vw-xl(14px);
    text-transform: uppercase;

    @include lg {
      margin: px2vw-lg(5px) px2vw-lg(10px);
      font-size: px2vw-lg(14px);
    }

    @include md {
      margin: px2vw-md(5px) px2vw-md(10px);
      font-size: px2vw-md(14px);
    }

    @include sm {
      margin: px2vw-sm(5px) px2vw-sm(10px);
      font-size: px2vw-sm(14px);
    }

    ::ng-deep .mat-button-wrapper {
      padding: px2vw-xl(8px) 0;
      line-height: px2vw-xl(24px);

      @include lg {
        padding: px2vw-lg(8px) 0;
        line-height: px2vw-lg(24px);
      }

      @include md {
        padding: px2vw-md(8px) 0;
        line-height: px2vw-md(24px);
      }

      @include sm {
        padding: px2vw-sm(8px) 0;
        line-height: px2vw-sm(24px);
      }
    }

    &[disabled] {
      background-color: var(--color-primary);
      color: var(--black);
      font-family: "source-sans-pro";
    }
  }
}
::ng-deep{
  .mat-tab-label-active {
    color: #bbf55a !important;
}
.mat-button-wrapper {
  color: var(--black-01) !important;
}
.global-TabGroup .mat-tab-label{
  color: #000;
}
.global-DataTable .datatable-header-cell-label{
  color: #a1a1a1;
}
.global-DataTable datatable-body-row:hover {
  background: linear-gradient(
0deg
, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #ececee;
}
}
