@import "shared";

$green: #bbf55a;

:host {
  display: block;
}

.SearchFilter-input {
  font-family: "redhat-regular";
}

.SearchFilter {
  @extend %u-dfCenter;
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--white-smoke);
  background-color: var(--white-light);
  padding-left: px2vw-xl(18px);

  height: 64px;
  @include lg {
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(4px);
    padding-left: px2vw-lg(18px);
  }

  @include md {
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(4px);
    padding-left: px2vw-md(18px);
  }

  @include sm {
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(4px);
    padding-left: px2vw-sm(18px);
    height: px2vw-sm(65px);
  }

  &-icon {
    @extend %u-dfCenterCenter;
    margin-right: 22.5px;
    height: 30px;
    width: 30px;
    font-size: 24px;
    color: var(--white-high);
    transition: $global-transition;
    cursor: pointer;

    @include xl {
      margin-right: px2vw-xl(22.5px);
      height: px2vw-xl(20px);
      width: px2vw-xl(20px);
      font-size: px2vw-xl(20px);
    }

    @include lg {
      margin-right: px2vw-lg(22.5px);
      height: px2vw-lg(20px);
      width: px2vw-lg(20px);
      font-size: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(22.5px);
      height: px2vw-md(20px);
      width: px2vw-md(20px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(22.5px);
      height: px2vw-sm(20px);
      width: px2vw-sm(20px);
      font-size: px2vw-sm(20px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-input {
    @extend %body-1;
    background-color: transparent;
    padding: 16px 0;
    width: 100%;
    cursor: pointer;
    transition: $global-transition;

    @include xl {
      padding: px2vw-xl(16px) 0;
    }

    @include lg {
      padding: px2vw-xl(16px) 0;
    }

    @include md {
      padding: px2vw-md(16px) 0;
    }

    @include sm {
      padding: px2vw-sm(16px) 0;
    }

    &::placeholder {
      color: var(--white-medium);
    }

    &:hover:not(:focus) {
      opacity: 0.6;
    }
  }

  &-select {
    margin-left: 20px;

    @include xl {
      margin-left: px2vw-xl(20px);
    }

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      position: absolute;
      z-index: 2;
      top: 100%;
      right: 0;
      left: px2vw-md(-1px);
      margin-left: 0;
      border: px2vw-md(1px) solid var(--white-smoke);
      border-radius: 0 0 px2vw-md(4px) px2vw-md(4px);
      background-color: var(--color-tolopea);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: 0 0 px2vw-sm(4px) px2vw-sm(4px);
      left: px2vw-sm(-1px);
    }

    &.desktop {
      @include md {
        display: none;
      }
    }
  }

  &-select-filters {
    @extend %u-dfCenter;

    @include md {
      flex-direction: column;
      align-items: flex-start;
      padding-top: px2vw-md(10px);
    }

    @include sm {
      padding-top: px2vw-sm(10px);
    }

    mat-form-field {
      margin-right: 14px;

      @include xl {
        margin-right: px2vw-xl(14px);
      }

      @include lg {
        margin-right: px2vw-lg(14px);
      }

      @include md {
        margin-right: 0;
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-right: 4px;

        @include xl {
          border-top-right-radius: px2vw-xl(4px);
          border-bottom-right-radius: px2vw-xl(4px);
          padding-right: px2vw-xl(4px);
        }

        @include lg {
          border-top-right-radius: px2vw-lg(4px);
          border-bottom-right-radius: px2vw-lg(4px);
          padding-right: px2vw-lg(4px);
        }

        @include md {
          padding-right: 0;
        }
      }
    }
  }

  &-select-buttons {
    display: none;

    @include md {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: px2vw-md(20px);
      border-top: px2vw-md(1px) solid var(--white-smoke);
      padding: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
      border-top-width: px2vw-sm(1px);
      padding: px2vw-sm(16px);
    }
  }

  &-select-button {
    background-color: transparent;
  }

  &-button {
    display: none;

    @include md {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-left: px2vw-md(15px);
      border-top-right-radius: px2vw-md(4px);
      border-bottom-right-radius: px2vw-md(4px);
      height: px2vw-md(63px);
      width: px2vw-md(63px);
      background-color: var(--color-primary);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
      border-top-right-radius: px2vw-sm(4px);
      border-bottom-right-radius: px2vw-sm(4px);
      height: px2vw-sm(60px);
      width: px2vw-sm(59px);
    }
  }

  &-button-icon {
    @include md {
      height: px2vw-md(15px);
      width: px2vw-md(22.5px);
    }

    @include sm {
      height: px2vw-sm(15px);
      width: px2vw-sm(22.5px);
    }
  }
}

::ng-deep {
  .global-SearchSelect {
    .mat-form-field-infix {
      padding: 3px 0 10px;
      border-top: 0;
      padding-bottom: 20px;
    }
    .mat-select-arrow-wrapper {
      transform: translateY(-50%) !important;
      .mat-select-arrow {
        display: block;
        border: solid var(--white-medium);
        border-width: 0px 0.1041666667vw 0.1041666667vw 0;
        padding: 3px;
        transform: rotate(45deg);
        transition: all 100ms linear;
        margin-bottom: -5px;
        margin-right: 6px;
      }
    }
  }
}
.gameslabel1 {
  display: block;

  color: rgb(245, 245, 245);
}
.gameslabel {
  display: block;
  color: $green;
}
@include sm {
  .cdk-global-overlay-wrapper {
    width: 96%;
  }
}
