<section class="ParticipantRequests">
  <div class="ParticipantRequests-container">
    <div class="ParticipantRequests-wrapper">
      <div class="ParticipantRequests-inner">
        <div class="ParticipantRequests-heading">
          <h2 class="title">
            {{ "MANAGE_TOURNAMENT.NAV.PARTICIPANT_REQUESTS" | translate }}
          </h2>
        </div>
        <div class="ParticipantRequests-content" *ngIf="participantData?.docs?.length">
          <ng-container>
            <h3 class="title">
              {{ "Pending approvals" | translate }}
            </h3>
            <div class="ParticipantRequests-ListsPendingApproval">

              <div class="MyTeams-cards-list" *ngIf="participantData?.docs?.length">
                <ng-container *ngFor="let item of participantData?.docs">
                  <app-teamscard (onReload)="onReload($event)" [data]="item"></app-teamscard>
                </ng-container>
              </div>

            </div>
          </ng-container>

          <h3 class="title" *ngIf="participantData?.docs?.length==0">
            {{ "MATCH_LIST.NO_DATA_FOUND" | translate }}
          </h3>
        </div>
        <div class="ParticipantRequests-content" *ngIf="!participantData?.docs?.length">
          <div class="ParticipantRequests-Blank d-flex justify-content-between align-items-center">

            <!-- <h2 class="title"> {{ "MANAGE_TOURNAMENT.BLANK.TITLE_PARTICIPANT_REQUESTS" | translate }}</h2> -->
            <p class="SubTitle">
              <img src="assets/icons/manage-tournament/users.svg" class="icon" alt="..">
              {{ "MANAGE_TOURNAMENT.BLANK.SUBTITLE_PARTICIPANT_REQUESTS" | translate }} </p>
            <div class="ButtonGroup">
              <button type="button" class="btn button-default">{{ "BUTTON.ADD_PARTICIPANTS" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<esports-fullscreen-loading *ngIf="false"></esports-fullscreen-loading>
