<div class="TeamManagementEdit">
  <header class="TeamManagementEdit-header u-dfCenterBtw">
    <h1 class="TeamManagementEdit-header-title global-Title2">
      {{ "ADMIN.TEAM_MANAGEMENT.TITLE" | translate }}
    </h1>

    <button class="TeamManagementEdit-header-button stc-btnBuck" routerBack>
      <span class="material-icons">
        keyboard_arrow_left
      </span>
      {{ "BUTTON.BACK" | translate }}
    </button>
  </header>
  <div *ngIf="showMe">
    <app-team-card-invite
      class="TeamManagementEdit-card"
      [data]="mock_team"
    ></app-team-card-invite>
  </div>
  <div class="TeamManagementEdit-details">
    <header class="TeamManagementEdit-details-header u-dfCenterBtw">
      <h3 class="TeamManagementEdit-details-title global-Title4">
        {{ "ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.TITLE" | translate }}
      </h3>

      <button
        class="TeamManagementEdit-details-button global-EditBtn u-dfCenterStart"
        [matMenuTriggerFor]="menu"
      >
        <img class="icon" src="assets/icons/settings.svg" alt="settings icon" />
        {{ "ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.BUTTON" | translate }}
      </button>

      <mat-menu
        class="global-MatMenu"
        #menu="matMenu"
        yPosition="below"
        xPosition="before"
      >
        <div class="TeamManagementEdit-options">
          <!-- Delete -->
          <button
            *ngIf="!isTeamDeleted"
            class="TeamManagementEdit-option u-dfCenterStart"
            (click)="deleteTeam()"
          >
            <div class="TeamManagementEdit-option-image-block">
              <img
                class="TeamManagementEdit-option-image"
                src="assets/icons/team-management/delete.svg"
                alt="make captain"
              />
            </div>

            <span class="TeamManagementEdit-option-text">
              {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.DELETE" | translate }}
            </span>
          </button>

          <!-- Public profile -->
          <button
            class="TeamManagementEdit-option u-dfCenterStart"
            [routerLink]="[AppHtmlProfileRoutes.teamsView, mock_team?.id]"
          >
            <div class="TeamManagementEdit-option-image-block">
              <img
                class="TeamManagementEdit-option-image"
                src="assets/icons/team-management/user.svg"
                alt="make captain"
              />
            </div>

            <span class="TeamManagementEdit-option-text">
              {{
                "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.PUBLIC_PROFILE" | translate
              }}
            </span>
          </button>

          <!-- Edit team -->
          <button
            *ngIf="!isTeamDeleted"
            class="TeamManagementEdit-option u-dfCenterStart"
            [routerLink]="[AppHtmlAdminRoutes.editTeam, mock_team?.id]"
          >
            <div class="TeamManagementEdit-option-image-block">
              <img
                class="TeamManagementEdit-option-image"
                src="assets/icons/team-management/users.svg"
                alt="make captain"
              />
            </div>

            <span class="TeamManagementEdit-option-text">
              {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.EDIT_TEAM" | translate }}
            </span>
          </button>

          <!-- Assign owner-->
          <button
            [routerLink]="[AppHtmlRoutes.manageTeam, mock_team?.id]"
            class="TeamManagementEdit-option u-dfCenterStart"
          >
            <div class="TeamManagementEdit-option-image-block">
              <img
                class="TeamManagementEdit-option-image"
                src="assets/icons/team-management/owner.svg"
                alt="make captain"
              />
            </div>

            <span class="TeamManagementEdit-option-text">
              {{ "ADMIN.TEAM_MANAGEMENT.TEAM_OPTION.ASSIGN_OWNER" | translate }}
            </span>
          </button>
        </div>
      </mat-menu>
    </header>

    <div class="TeamManagementEdit-table" *ngIf="mock_members.length">
      <div class="global-scrollbar">
        <ngx-datatable
          [rows]="mock_members"
          [columnMode]="'force'"
          [headerHeight]="'auto'"
          [rowHeight]="'auto'"
          [footerHeight]="'auto'"
          [limit]="10"
          class="global-DataTable"
        >
          <ngx-datatable-column
            prop="description"
            name="{{
              'ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.TABLE.DESCRIPTION' | translate
            }}"
          >
          </ngx-datatable-column>

          <ngx-datatable-column
            prop="createdOn"
            name="{{
              'ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.TABLE.DATE' | translate
            }}"
          ></ngx-datatable-column>

          <ngx-datatable-column
            prop="createdBy.fullName"
            name="{{
              'ADMIN.TEAM_MANAGEMENT.PAGE_EDIT.TABLE.MEMBER' | translate
            }}"
          ></ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
