<div class="row popup">
    <div class="popup-img">
    <img src="assets/images/payment/popup-pay.png" alt="" />
  </div>
    <div class="popup-box">
    <!-- <button class="popup-box-close" (click)="onClose()">
      <span class="material-icons">clear</span>
    </button> -->
    <div class="popup-modal-header global-Title3">
      {{ data.title }}
    </div>
    <div class="popup-modal-body global-text">
      {{ data.body | translate }}
    </div>
    <div class="popup-modal-footer">
      <button class="global-EditBtn popup-button size" (click)="goToUrl()">
        {{ data.button1 | translate }}
      </button>
      <button
        class="global-EditBtn dark-text tab-content popup-button size"
        (click)="onClose()"
        type="button"
      >
        {{ data.button2 | translate }}
      </button>
    </div>
  </div>

</div>
