@import "shared";

:host {
  display: block;
}

.UploadImage {
  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-label {
    overflow: hidden;
    position: relative;
    border: 1px solid var(--black-medium);
    text-align: center;
    min-height: px2vw-xl(260px);
    width: 100%;
    background-color: var(--black);
    padding: px2vw-xl(50px);
    cursor: pointer;
    transition: $global-transition;

    &:hover {
      opacity: 0.8;
    }

    @include lg {
      min-height: px2vw-lg(200px);
      padding: px2vw-lg(50px);
    }

    @include md {
      min-height: px2vw-md(200px);
      padding: px2vw-md(50px);
    }

    @include sm {
      min-height: px2vw-sm(200px);
      padding: px2vw-sm(50px);
    }
  }

  &-label-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  &-info-image {
    margin-bottom: px2vw-xl(34px);
    width: px2vw-xl(72px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      width: px2vw-lg(54px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      width: px2vw-md(54px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      width: px2vw-sm(54px);
    }
  }

  &-info-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(11px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-info-text {
    margin-bottom: 0;
  }
}
