<div class="SingleElimination">
  <div class="SingleElimination-bracket">
    <ng-container *ngFor="let round of tournament | keyvalue | numberSort; let i = index">
      <div class="SingleElimination-round">
        <ng-container *ngFor="let match of round.value; let index = index">
        <div class="SingleElimination-match">
          <div class="SingleElimination-match-container">
            <ng-container *ngTemplateOutlet="matchTemplate; context: { $implicit: match }"></ng-container>
          </div>
        </div>
      </ng-container>
      </div>
    </ng-container>
  </div>
</div> 