// team_slider css

html,
body {
    overflow: hidden;
    overflow-y: auto;
}

.testimonial_slider {
    .owl-stage {
        display: flex;
        align-items: center;
        .owl-item {
            min-height: 100% !important;
            &.active.center {
                .item {
                    opacity: 1;
                    transform: scale3d(1, 1, 1);
                    margin: 0px -89px;
                    min-width: 400px;
                    position: relative;
                    z-index: 1;
                    border: 1px solid rgba(255, 255, 255, 0.6);
                    text-align: left;

                    @media (max-width: 767px) {
                        margin: 0px 0px 70px 0px;
                        border: 0px;
                        padding: 0px 0px 0px 2px;
                        min-width: unset;
                    }

                    .testinomial_box {
                        .testinomial_header {
                            display: block;
                            border-bottom: 1px solid var(--white);
                        }
                        .testinomial_user {
                            margin-top: 29px;
                            transform: none;
                            span {
                                width: 184px;
                                height: 184px;
                                background: linear-gradient(142.39deg, #f1a663 8.28%, #c8f87a 37.76%, #f1a663 73.42%);

                                @media (max-width: 600px) {
                                    width: 140px;
                                    height: 140px;
                                }
                            }
                            &:after {
                                opacity: 1;
                            }
                        }
                        .testinomial_bio {
                            display: block;
                        }

                        @media (max-width: 768px) {
                            border: 1px solid rgba(255, 255, 255, 0.6);
                        }
                    }
                }
            }

            img {
                transform-style: preserve-3d;
            }
        }

        .item {
            opacity: 0.6;
            height: 100%;
            -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1024px) {
                -webkit-transition: none;
                -moz-transition: none;
                transition: none;
            }
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin: 0px;
        min-width: 550px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 767px) {
            min-width: unset;
            transform: none;
            position: static;
            display: block;
        }

        & > div {
            background: url(../../assets/images/AboutUs/arrow.png) !important;
            color: transparent !important;
            width: 45px;
            height: 27px;
            &.owl-next {
                transform: rotate(180deg);
            }

            &:hover,
            &:active {
                background: url(../../assets/images/AboutUs/colored-arrow.png) !important;

                @media (max-width: 600px) {
                    background-size: contain !important;
                }
            }

            @media (max-width: 600px) {
                width: 30px !important;
                height: 19px !important;
                background-size: contain !important;
            }
        }
    }
}
