.TeamCard {
    border: 0px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 0px !important;
}