<div class="TournamentImage">
  <h2 class="TournamentImage-title">
    {{ (title ? title : "CREATE_TOURNAMENT.DETAILS.IMAGE.TITLE") | translate }}
  </h2>

  <h3 class="TournamentImage-subtitle">
    {{
    (subtitle ? subtitle : "CREATE_TOURNAMENT.DETAILS.IMAGE.SUBTITLE")
    | translate
    }}
  </h3>

  <label class="TournamentImage-label" [for]="id">
    <div class="TournamentImage-label-block">
      <img class="TournamentImage-label-preview" *ngIf="imgurl != ''" [src]="imgurl" formationLazyImage />
      <img class="TournamentImage-label-preview" *ngIf="data && imgurl == ''" [src]="data" formationLazyImage />
      <ng-container *ngIf="
          !isProcessing &&
          !(customFormGroup?.controls)[customFormControlName]?.value && imgurl == ''
        ">
        <div class="TournamentImage-info">
          <img class="TournamentImage-info-icon" src="assets/icons/thumbnail.svg" alt="upload icon" />
          <h3 class="TournamentImage-info-title">
            {{ "CREATE_TOURNAMENT.DETAILS.IMAGE.INFO_TEXT_1" | translate }}
          </h3>

          <p class="TournamentImage-info-text">
            {{ "CREATE_TOURNAMENT.DETAILS.IMAGE.INFO_TEXT_2" | translate }}
          </p>
        </div>
      </ng-container>
    </div>
  </label>

  <input (change)="eventChangee($event)" style="display: none" [id]="id" #banner type="file"
    accept="image/jpeg, image/jpg, image/png" aria-describedby="inputGroupFileAddon01" />
</div>

<div *ngIf="
    (customFormGroup?.controls)[customFormControlName]?.touched &&
    (customFormGroup?.controls)[customFormControlName].errors
  ">
  {{
  (customFormGroup?.controls)[customFormControlName].errors
  | errorPipe
  | translate
  }}
</div>
