@import "shared";

:host {
  display: block;
}

.TournamentImage {
  &-title {
    @extend %subtitle-1;
    margin-bottom: 8px;

    @include xl {
      margin-bottom: px2vw-xl(8px);
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-subtitle {
    font-family: "redhat-regular";
    @extend %caption;
    margin-bottom: 16px;
    color: var(--white-medium);

    @include xl {
      margin-bottom: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-label {
    @extend %u-dfStretch;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--white-light);
    border-radius: 6px;
    min-height: 208px;
    padding: 8px;
    width: 100%;
    transition: $global-transition;
    cursor: pointer;
    text-align: center;

    @include xl {
      border-width: px2vw-xl(2px);
      border-radius: px2vw-xl(6px);
      min-height: px2vw-xl(208px);
      padding: px2vw-xl(8px);
    }

    @include lg {
      border-width: px2vw-lg(2px);
      border-radius: px2vw-lg(6px);
      min-height: px2vw-lg(208px);
      padding: px2vw-lg(8px);
    }

    @include md {
      border-width: px2vw-md(2px);
      border-radius: px2vw-md(6px);
      min-height: px2vw-md(208px);
      padding: px2vw-md(8px);
    }

    @include sm {
      border-width: px2vw-sm(2px);
      border-radius: px2vw-sm(6px);
      min-height: px2vw-sm(208px);
      padding: px2vw-sm(8px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-label-block {
    border: 1px solid var(--white-light);
    border-radius: 4px;
    background-color: var(--color-blackcurrant);
    width: 100%;
    padding: 38px 16px 16px;

    @include xl {
      border-width: px2vw-xl(1px);
      border-radius: px2vw-xl(4px);
      padding: px2vw-xl(38px) px2vw-xl(16px) px2vw-xl(16px);
    }

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(38px) px2vw-lg(16px) px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(38px) px2vw-md(16px) px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(38px) px2vw-sm(16px) px2vw-sm(16px);
    }
  }

  &-label-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;

    @include xl {
      border-radius: px2vw-xl(4px);
    }

    @include lg {
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
    }
  }

  &-info-icon {
    margin-bottom: 38.6px;
    height: 66.6px;
    width: 53.3px;

    @include xl {
      margin-bottom: px2vw-xl(38.6px);
      height: px2vw-xl(66.6px);
      width: px2vw-xl(53.3px);
    }

    @include lg {
      margin-bottom: px2vw-lg(38.6px);
      height: px2vw-lg(66.6px);
      width: px2vw-lg(53.3px);
    }

    @include md {
      margin-bottom: px2vw-md(38.6px);
      height: px2vw-md(66.6px);
      width: px2vw-md(53.3px);
    }

    @include sm {
      margin-bottom: px2vw-sm(38.6px);
      height: px2vw-sm(66.6px);
      width: px2vw-sm(53.3px);
    }
  }

  &-info-title {
    @extend %overline;
    margin-bottom: 0;
  }

  &-info-text {
    @extend %overline;
    margin-bottom: 0;
  }
}
