<div class="form-group form-select" [formGroup]="customFormGroup">
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'A'">
      <ng-container *ngTemplateOutlet="type_1"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'B'">
      <ng-container *ngTemplateOutlet="type_2"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'C'">
      <ng-container *ngTemplateOutlet="type_3"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'D'">
      <ng-container *ngTemplateOutlet="type_4"></ng-container>
    </ng-container>
  </ng-container>

  <label class="labeltext" [class.active]="customFormGroup.value[customFormControlName]" for="drop_down">
    {{ title }}
  </label>

  <div class="error" *ngIf="
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      (customFormGroup?.controls)[customFormControlName]?.errors?.required
    ">
    <strong>{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</strong>
  </div>

  <div class="error" *ngIf="
      (customFormGroup?.controls)[customFormControlName]?.errors &&
      (customFormGroup?.controls)[customFormControlName]?.errors?.checkInExpired
    ">
    <strong>Check In Time Should Be greater than Current Time</strong>
  </div>
</div>

<ng-template #type_1>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_1" ngbDropdownToggle>
      {{
      customFormGroup.value[customFormControlName]
      ? dropdownList[customFormGroup.value[customFormControlName]]
      : ""
      }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_1">
      <button *ngFor="let item of dropdownList | keyvalue" (click)="setValue(item.key)" ngbDropdownItem>
        {{ item.value }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_2>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_2" ngbDropdownToggle>
      {{ customFormGroup.value[customFormControlName] || "" }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_2">
      <button *ngFor="let item of dropdownList" (click)="setValue(item.name)" ngbDropdownItem>
        <img [lazyLoad]="item?.flag" [hidden]="!item?.flag" />
        {{ item.name }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_3>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_3" ngbDropdownToggle>
      {{ customFormGroup.value[customFormControlName] || "" }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_3">
      <button *ngFor="let item of dropdownList" (click)="setValue(item)" ngbDropdownItem>
        {{ item }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #type_4>
  <div ngbDropdown>
    <button class="form-control" id="drop_down_4" ngbDropdownToggle>
      {{ customFormGroup.value[customFormControlName] || "" }}
    </button>

    <div ngbDropdownMenu aria-labelledby="drop_down_4">
      <button *ngFor="let item of dropdownList" (click)="setValue(item?.city)" ngbDropdownItem>
        {{ item?.city }}
      </button>
    </div>
  </div>
</ng-template>
