<section class="SectionFooter">
    <div class="SectionFooter-container">
      <div class="SectionFooter-wrapper">
        <div class="SectionFooter-inner">
          <div class="SectionFooter-left">
            <div class="logo">
              <span class="logo-game">
                <img src="../../../../assets/images/season/game/CS-GO.png" alt="">
              </span>
            </div>
            <div class="name">
              <span>CS:GO</span>
            </div>
          </div>
          <div class="SectionFooter-right">
            <button type="button" class="btn button-default" (click)="show = !show">
              <img *ngIf="!show" class="icon" src="../../../../assets/icons/Icon-chevron-up.svg">
              <img *ngIf="show" class="icon" src="../../../../assets/icons/Icon-chevron-down.svg">
            </button>
          </div>
        </div>
        <div class="SectionFooter-bottom" *ngIf="show">
            <button> Back to CS:GO homepage</button>
            <div class="SectionFooter-bottom-menu">
                <div class="SectionFooter-bottom-menu-wrap">
                    <div class="SectionFooter-bottom-menu-boxs" routerLink='/tournament'>
                        <img class="icon" src="../../../../assets/icons/tournaments.svg">
                        <p class="text">{{"CARDS_STATISTICS.TOURNAMENTS" | translate}}</p>
                    </div>
                    <div class="SectionFooter-bottom-menu-boxs" routerLink='/get-match/season'>
                        <img class="icon" src="../../../../assets/icons/seasons.svg">
                        <p class="text">{{"SEASON.HOME.TITLE" | translate}}</p>
                    </div>
                    <div class="SectionFooter-bottom-menu-boxs" routerLink='/get-match/matchmaking'>
                        <img class="icon" src="../../../../assets/icons/matchmakings.svg">
                        <p class="text">{{"HEADER.MATCHMAKING" | translate}}</p>
                    </div>
                    <div class="SectionFooter-bottom-menu-boxs">
                        <img class="icon" src="../../../../assets/icons/leaderboards.svg">
                        <p class="text">{{"HEADER.LEADERBOARD" | translate}} </p>
                    </div>
                    <div class="SectionFooter-bottom-menu-boxs" [routerLink]="AppHtmlRoutes.createTournament">
                        <img class="icon" src="../../../../assets/icons/Icon-plus-mini.svg">
                        <p class="text">{{"HEADER_CREATE-TOURNAMENT" | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>