@import "shared";

.Order-thanks {
  border-top: 1px solid var(--grey-border-color);
  border-bottom: 1px solid var(--grey-border-color);
  background-color: var(--blackcolor);

  .u-wp {
    text-align: center;
    padding-top: px2vw-xl(52px);
    padding-bottom: px2vw-xl(72px);

    @include lg {
      padding-top: px2vw-lg(52px);
      padding-bottom: px2vw-lg(72px);
    }

    @include md {
      padding-top: px2vw-md(35px);
      padding-bottom: px2vw-md(50px);
    }

    @include sm {
      padding-top: px2vw-sm(20px);
      padding-bottom: px2vw-sm(30px);
    }
  }

  &-content {
  }

  &-icon {
    margin-bottom: px2vw-xl(32px);
    width: px2vw-xl(40px);
    height: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
      width: px2vw-lg(40px);
      height: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
      width: px2vw-md(40px);
      height: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
      width: px2vw-sm(40px);
      height: px2vw-sm(40px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(30px);
    font-size: px2vw-xl(64px);
    line-height: px2vw-xl(72px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
      font-size: px2vw-lg(64px);
      line-height: px2vw-lg(72px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(64px);
      line-height: px2vw-md(72px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(64px);
      line-height: px2vw-sm(72px);
    }
  }

  &-text {
    font-family: "dynasty-primary-regular";
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);

    @include lg {
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }
}
