@import "shared";

:host {
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  background-color: transparent;
}

.Snack {
  height: 100%;
  display: flex;
  align-items: center;
  padding: px2vw-xl(14px) px2vw-xl(22px);

  &.error {
    background-color: var(--color-tertiary);
  }

  &.success {
    background-color: var(--color-primary);
  }

  &.info {
    background-color: var(--ui-info);
  }

  &.warning {
    background-color: var(--ui-warning);
  }

  @include lg {
    padding: px2vw-lg(14px) px2vw-lg(22px);
  }

  @include md {
    padding: px2vw-md(14px) px2vw-md(22px);
  }

  @include sm {
    padding: px2vw-sm(14px) px2vw-sm(22px);
  }

  &-text {
    flex: 1;
    font-family: "source-sans-pro";
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(28px);
    color: var(--black);

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(28px);
    }

    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(28px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(28px);
    }
  }

  &-close-block {
    height: 100%;
    margin-left: px2vw-xl(13px);

    @include lg {
      margin-left: px2vw-lg(13px);
    }

    @include md {
      margin-left: px2vw-md(13px);
    }

    @include sm {
      margin-left: px2vw-sm(13px);
    }
  }

  &-close {
    background-color: transparent;

    .material-icons {
      font-size: px2vw-xl(20px);
      color: rgba(66, 59, 59, 0.75);

      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }
  }
}
