<footer class="u-wp" *ngIf="isBrowser">
  <div class="Header-desktop">
    <section>
      <h6 class="h7">{{ "STICKYBAR.MSG" | translate }}</h6>
      <h6 class="h8">
        {{ "STICKYBAR.MESSAGE" | translate }}
      </h6>
    </section>
    <section>
      <div>
        <button
        class="global-EditBtn dark-text margin-signup-btn"
          [routerLink]="AppHtmlProfileRoutes.basicInfo"
        >
          {{ "STICKYBAR.LOGIN" | translate }}
        </button>
        <button
        type="submit"
          class="global-EditBtn margin-signup-btn"
          [routerLink]="gameCenterDataforRegister.footerLinkUrl"
        >
          {{ "STICKYBAR.SIGNUP" | translate }}
        </button>
      </div>
    </section>
  </div>
</footer>
