@import "shared";

:host {
  display: block;
}

.Message {
  @extend %u-dfStart;
  transition: $global-transition;

  &-author-image {
    flex-shrink: 0;
    border-radius: 50%;
    height: px2vw-xl(40px);
    width: px2vw-xl(40px);
    background-color: var(--black);
    background-size: cover;
    background-position: center;
    @include xxl {
      height: px2vw-xxl(40px);
      width: px2vw-xxl(40px);
    }
    @include lg {
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }

    @include md {
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }

    @include sm {
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
    }
  }

  &-content {
    flex-grow: 1;
    margin-left: px2vw-xl(16px);
    @include xxl {
      margin-left: px2vw-xxl(16px);
    }
    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }
  }

  &-textarea {
    @extend %body-1;
    resize: none;
    width: 100%;
    border: 1px solid var(--white-light);
    min-height: px2vw-xl(132px);
    padding: px2vw-xl(16px);
    color: var(--white);
    background: var(--gengcoin--bg);
    max-height: px2vw-xl(132px);
    @include xxl {
      min-height: px2vw-xxl(132px);
      padding: px2vw-xxl(16px);
      max-height: px2vw-xxl(132px);
    }
    @include lg {
      min-height: px2vw-lg(132px);
      padding: px2vw-lg(16px);
      max-height: px2vw-lg(132px);
    }

    @include md {
      min-height: px2vw-md(132px);
      padding: px2vw-md(16px);
      max-height: px2vw-md(132px);
    }

    @include sm {
      min-height: px2vw-sm(132px);
      padding: px2vw-sm(16px);
      max-height: px2vw-sm(132px);
    }
  }

  &-footer {
    margin-top: px2vw-xl(16px);
    display: flex;
    @include xxl {
      margin-top: px2vw-xxl(16px);
    }
    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }

  &-footer-button {
    margin-right: px2vw-xl(8px);
    // background-color: var(--color-primary);
    // color: var(--black);
    @include xxl {
      margin-right: px2vw-xxl(8px);
    }
    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-text {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white-high);
  }

}
