@import "shared";

$--box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14),
0 2px 1px rgba(0, 0, 0, 0.12),
0 1px 3px rgba(0, 0, 0, 0.2);

:host {
  display: block;
}

.CardItem {
  @extend %u-dfCenter;
  flex-direction: column;
  box-shadow: $--box-shadow;
  border-radius: 4px;
  border: 1px solid var(--white-light);
  height: 120px;
  width: 100% !important;
  padding: 16px 10px;
  background: var(--gradient-bg);
  transition: $global-transition;
  cursor: pointer;

  @include xl {
    border-radius: px2vw-xl(4px);
    border-width: px2vw-xl(1px);
    height: px2vw-xl(120px);
    padding: px2vw-xl(16px) px2vw-xl(10px);
  }

  @include lg {
    border-radius: px2vw-lg(4px);
    border-width: px2vw-lg(1px);
    height: px2vw-lg(120px);
    padding: px2vw-lg(16px) px2vw-lg(10px);
  }

  @include md {
    border-radius: px2vw-md(4px);
    border-width: px2vw-md(1px);
    height: px2vw-md(120px);
    padding: px2vw-md(16px) px2vw-md(10px);
  }

  @include sm {
    border-radius: px2vw-sm(4px);
    border-width: px2vw-sm(1px);
    height: px2vw-sm(120px);
    padding: px2vw-sm(16px) px2vw-sm(10px);
  }

  &.isGame {
    padding-top: 24px;
    justify-content: space-between;

    // height:100% !important;
    @include xl {
      padding-top: px2vw-xl(24px);
    }

    @include lg {
      padding-top: px2vw-lg(24px);
    }

    @include md {
      padding-top: px2vw-md(24px);
    }

    @include sm {
      padding-top: px2vw-sm(24px);
    }

    .icon ::ng-deep svg path {
      fill: var(--white-medium);
    }

    .icon-block {
      // height: px2vw-xl(42px);
      width: px2vw-xl(90px);
      height: 4.916667vw;

      @include lg {
        // height: px2vw-lg(42px);
        width: px2vw-lg(90px);
      }

      @include md {
        // height: px2vw-md(42px);
        width: px2vw-md(90px);
      }

      @include sm {
        width: px2vw-sm(90px);
          height: px2vw-sm(100px)!important;

      }
    }
  }

  .Content-list-svg ::ng-deep svg path {
    fill: var(--color-secondary);
  }

  &.active .Content-list-svg ::ng-deep svg path {
    fill: var(--color-primary);
  }

  &.content {
    height: 120px !important;

    p {
      margin-top: 10px;
    }
  }

  &.active {
    border-color: var(--white-high);

    .icon ::ng-deep svg path {
      fill: var(--color-primary);
    }

    .label {
      color: var(--white-high);
    }
  }

  &:hover {
    border-color: var(--white-high);
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    height: 52px;
    width: 66px;

    @include xl {
      height: px2vw-xl(52px);
      width: px2vw-xl(66px);
    }

    @include lg {
      height: px2vw-lg(52px);
      width: px2vw-lg(66px);
    }

    @include md {
      height: px2vw-md(52px);
      width: px2vw-md(66px);
    }

    @include sm {
      height: px2vw-sm(52px);
      width: px2vw-sm(66px);
    }
  }

  &-icon {
    ::ng-deep svg path {
      transition: $global-transition;
    }

    &.thesims4 ::ng-deep svg {
      height: 32px;
      width: 89px;

      @include xl {
        height: px2vw-xl(32px);
        width: px2vw-xl(89px);
      }

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(89px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(89px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(89px);
      }
    }

    &.valorant ::ng-deep svg {
      height: 42px;
      width: 53px;

      @include xl {
        height: px2vw-xl(42px);
        width: px2vw-xl(53px);
      }

      @include lg {
        height: px2vw-lg(42px);
        width: px2vw-lg(53px);
      }

      @include md {
        height: px2vw-md(42px);
        width: px2vw-md(53px);
      }

      @include sm {
        height: px2vw-sm(42px);
        width: px2vw-sm(53px);
      }
    }

    &.fortnine ::ng-deep svg {
      height: 37px;
      width: 42px;

      @include xl {
        height: px2vw-xl(37px);
        width: px2vw-xl(42px);
      }

      @include lg {
        height: px2vw-lg(37px);
        width: px2vw-lg(42px);
      }

      @include md {
        height: px2vw-md(37px);
        width: px2vw-md(42px);
      }

      @include sm {
        height: px2vw-sm(37px);
        width: px2vw-sm(42px);
      }
    }

    &.minecraft ::ng-deep svg {
      height: 38.6px;
      width: 47.5px;

      @include xl {
        height: px2vw-xl(38.6px);
        width: px2vw-xl(47.5px);
      }

      @include lg {
        height: px2vw-lg(38.6px);
        width: px2vw-lg(47.5px);
      }

      @include md {
        height: px2vw-md(38.6px);
        width: px2vw-md(47.5px);
      }

      @include sm {
        height: px2vw-sm(38.6px);
        width: px2vw-sm(47.5px);
      }
    }

    &.rust ::ng-deep svg {
      height: 42px;
      width: 40px;

      @include xl {
        height: px2vw-xl(42px);
        width: px2vw-xl(40px);
      }

      @include lg {
        height: px2vw-lg(42px);
        width: px2vw-lg(40px);
      }

      @include md {
        height: px2vw-md(42px);
        width: px2vw-md(40px);
      }

      @include sm {
        height: px2vw-sm(42px);
        width: px2vw-sm(40px);
      }
    }

    &.cod ::ng-deep svg {
      height: 17px;
      width: 89px;

      @include xl {
        height: px2vw-xl(17px);
        width: px2vw-xl(89px);
      }

      @include lg {
        height: px2vw-lg(17px);
        width: px2vw-lg(89px);
      }

      @include md {
        height: px2vw-md(17px);
        width: px2vw-md(89px);
      }

      @include sm {
        height: px2vw-sm(17px);
        width: px2vw-sm(89px);
      }
    }

    &.overwatch ::ng-deep svg {
      height: 42px;
      width: 42px;

      @include xl {
        height: px2vw-xl(42px);
        width: px2vw-xl(42px);
      }

      @include lg {
        height: px2vw-lg(42px);
        width: px2vw-lg(42px);
      }

      @include md {
        height: px2vw-md(42px);
        width: px2vw-md(42px);
      }

      @include sm {
        height: px2vw-sm(42px);
        width: px2vw-sm(42px);
      }
    }

    &.pc ::ng-deep svg {
      height: px2vw-xl(32px);
      width: px2vw-xl(52.7px);

      @include xl {
        height: px2vw-xl(32px);
        width: px2vw-xl(52.7px);
      }

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(52.7px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(52.7px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(52.7px);
      }
    }

    &.ps5 ::ng-deep svg {
      height: px2vw-xl(32px);
      width: px2vw-xl(52.7px);

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(52.7px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(52.7px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(52.7px);
      }
    }

    &.ps5 ::ng-deep svg {
      height: px2vw-xl(32px);
      width: px2vw-xl(52.7px);

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(52.7px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(52.7px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(52.7px);
      }
    }

    &.ps4 ::ng-deep svg {
      height: px2vw-xl(32px);
      width: px2vw-xl(52.7px);

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(52.7px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(52.7px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(52.7px);
      }
    }

    &.xbox ::ng-deep svg {
      height: px2vw-xl(32px);
      width: px2vw-xl(52.7px);

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(52.7px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(52.7px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(52.7px);
      }
    }

    &.other ::ng-deep svg {
      height: 101px;
      width: 52px;

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(45.7px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(45.7px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(45.7px);
      }
    }

    &.CardItem-icon.icon ::ng-deep svg {
      height: unset;
      width: unset;

      // @include xl {
      //   height: px2vw-xl(37px);
      //   width: px2vw-xl(21px);
      // }

      @include lg {
        height: px2vw-lg(37px);
        width: px2vw-lg(21px);
      }

      @include md {
        height: px2vw-md(37px);
        width: px2vw-md(21px);
      }

      @include sm {
        height: px2vw-sm(75px);
        width: px2vw-sm(75px);
      }
    }

    &.games ::ng-deep svg {
      height: 32px;
      width: 45.7px;

      @include xl {
        height: px2vw-xl(32px);
        width: px2vw-xl(45.7px);
      }

      @include lg {
        height: px2vw-lg(32px);
        width: px2vw-lg(45.7px);
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(45.7px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(45.7px);
      }
    }

    &.influencer ::ng-deep svg {
      height: 39px;
      width: 39px;

      @include xl {
        height: px2vw-xl(39px);
        width: px2vw-xl(39px);
      }

      @include lg {
        height: px2vw-lg(39px);
        width: px2vw-lg(39px);
      }

      @include md {
        height: px2vw-md(39px);
        width: px2vw-md(39px);
      }

      @include sm {
        height: px2vw-sm(39px);
        width: px2vw-sm(39px);
      }
    }

    &.storeoffers ::ng-deep svg {
      height: 26px;
      width: 38px;

      @include xl {
        height: px2vw-xl(26px);
        width: px2vw-xl(38px);
      }

      @include lg {
        height: px2vw-lg(26px);
        width: px2vw-lg(38px);
      }

      @include md {
        height: px2vw-md(26px);
        width: px2vw-md(38px);
      }

      @include sm {
        height: px2vw-sm(26px);
        width: px2vw-sm(38px);
      }
    }

    &.tournament ::ng-deep svg {
      height: 36px;
      width: 28.8px;

      @include xl {
        height: px2vw-xl(36px);
        width: px2vw-xl(28.8px);
      }

      @include lg {
        height: px2vw-lg(36px);
        width: px2vw-lg(28.8px);
      }

      @include md {
        height: px2vw-md(36px);
        width: px2vw-md(28.8px);
      }

      @include sm {
        height: px2vw-sm(36px);
        width: px2vw-sm(28.8px);
      }
    }
  }

  &-label {
    @extend %body-2;
    margin-top: auto;
    margin-bottom: -15px;
    color: var(--white-medium);
    text-align: center;
    word-wrap: normal;
    // width: 118px;
  }
}

.content {
  // height: 120px;
  // width: 120px;
}