@import "shared";

.lowercase {
  text-transform: lowercase;
}

.prefix {
  vertical-align: super;
}
.login_form {
  height: 100vh;
  overflow: auto;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.SubmitForm {
  text-align: center;
  width: 40rem;
  margin:0 auto;
  padding: 35px;
  color: var(--white);
  padding-bottom: 50px;
  line-height: 34px;

  .LogReg-title {
    margin-bottom: px2vw-xl(16px);
    text-align: center;
    // margin-left: inherit;
    padding-top: 30px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 36px;

    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: 34px;
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: 34px;
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: 34px;
      margin-top: 30px;
      line-height: 50px;
      margin-bottom: px2vw-sm(64px);
    }
  }
  &-arrow-icon {
    position: absolute;
    width: 50px;
    height: 44px;
    left: -65px;
    top: -30px;

    // @include xl {
    //   left: 110px;
    //   top: 525px;
    // }

    // @include lg {
    //   left: 110px;
    //   top: 525px;
    // }

    // @include md {
    //   left: 110px;
    //   top: 525px;
    // }

    // @include sm {
    //   left: 110px;
    //   top: 525px;
    // }
  }
  .LogReg-subtitle {
    margin-bottom: px2vw-xl(25px);
    color: var(--black);
    @include lg {
      margin-bottom: px2vw-lg(25px);
    }
  }

  .error-icon {
    color: var(--color-tertiary);
  }

  &-span {
    position: absolute;
    right: 10px;
    bottom: 3px;
    margin-top: 10px;
    font-size: 90%;
    cursor: pointer;
  }

  &-checkbox {
    margin-bottom: px2vw-xl(15px);
    color: var(--white-high);
    text-align: left;

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start !important;
      margin-bottom: px2vw-sm(30px);

      .global-IconBtn {
        align-self: flex-end;
        margin-bottom: px2vw-sm(20px);
      }
    }

    &-text {
      //styleName: 1440px/Body 2;
      // font-family:  'redhat-regular';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: right;
      color: #736cff;
    }

    &.is-forgotPass {
      @extend %u-dfCenterBtw;
    }
  }

  &-input {
    border-color: var(--white-medium);
    // color: var(--white);
  }

  &-submit {
    margin-bottom: px2vw-xl(20px);
    text-align: center;

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-or {
    margin-bottom: px2vw-xl(6px);
    color: var(--black-medium);

    @include lg {
      margin-bottom: px2vw-lg(6px);
    }

    @include md {
      margin-bottom: px2vw-md(6px);
    }

    @include sm {
      margin-bottom: px2vw-sm(6px);
    }
  }

  &-or-label {
    margin-bottom: px2vw-xl(60px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(60px);
    }

    @include md {
      margin-bottom: px2vw-md(60px);
    }

    @include sm {
      margin-bottom: px2vw-sm(60px);
    }
  }

  &-social {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }

    &-btn {
      width: px2vw-xl(55px);
      height: px2vw-xl(55px);
      line-height: px2vw-xl(60px);
      text-align: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.38);

      @include lg {
        width: px2vw-lg(55px);
        height: px2vw-lg(55px);
        line-height: px2vw-lg(60px);
      }

      @include md {
        width: px2vw-md(55px);
        height: px2vw-md(55px);
        line-height: px2vw-md(60px);
      }

      @include sm {
        width: px2vw-sm(55px);
        height: px2vw-sm(55px);
        line-height: px2vw-sm(60px);
      }

      fa-icon {
        font-size: px2vw-xl(27px);
        color: var(--black);

        @include lg {
          font-size: px2vw-lg(27px);
        }

        @include md {
          font-size: px2vw-md(27px);
        }

        @include sm {
          font-size: px2vw-sm(27px);
        }
      }
    }
  }

  &-footer {
    font-family: 'redhat-regular';
    font-weight: 500;
    line-height: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: px2vw-xl(10px);
    padding-top: px2vw-xl(32px);

    letter-spacing: px2vw-xl(0.9px);
    color: rgba(255, 255, 255, 0.6);;

    @include lg {
      margin-bottom: px2vw-lg(10px);
      padding-top: px2vw-lg(32px);
      letter-spacing: px2vw-lg(0.9px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      padding-top: px2vw-md(32px);
      letter-spacing: px2vw-md(0.9px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      padding-top: px2vw-sm(32px);
      letter-spacing: px2vw-sm(0.9px);
    }

    &-link {
      font-size: inherit;
      line-height: inherit;
      color: var(--black);
    }
  }

  &-privacy-policy {
    text-align: center;
  }

  .header-tab {
    min-width: 50%;
    margin-bottom: 30px;

    @include lg {
      min-width: px2vw-lg(226px);
    }

    @include md {
      min-width: px2vw-md(226px);
    }

    @include sm {
      min-width: px2vw-sm(226px);
    }
  }
}

.underline {
  text-decoration: none;
  border-bottom: var(--color-primary) 2px solid;
}
.submitt {
  height: 56px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 20px, 16px, 20px, 16px;
  border:none;
  ::ng-deep .mat-icon{
    margin-right: 0;
  }
}
.reg {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #736cff;
}
.pry {
  color: rgba(255, 255, 255, 0.6);
}
.pledge {
  height: 217px;
  width:35.3rem;
  left: 875px;
  top: 544px;
  font-family: "redhat-regular";
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding: 7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: var(--white-disabled);
  font-size: 15px;
}
.pledge2 {
  height: 135px;
  width: 35.3rem;
  left: 875px;
  top: 544px;
  font-family: "redhat-regular";
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding: 7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: var(--white-disabled);
  font-size: 16px;
}

.button-icon-primary {
  border-color: white;
  background: rgba(255, 255, 255, 0.38);
}
.button-icon-primary:disabled {
  border-color: white;
  background: rgba(255, 255, 255, 0.38);
}

.button-icon-primary:valid {
  background-color: var(--color-primary);
}




.button-icon-primary:valid {
  color: var(--color-primary);
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-text-fill-color: white;
}

.paidiaPledge{
  text-align: left;
 font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.2rem;
}

::ng-deep.mat-checkbox .mat-checkbox-label{
margin-left: 0.8rem;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
color: rgba(255, 255, 255, 0.6);
}
::ng-deep{
  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 1em !important;
    margin-top: -0.25em;
    position: relative;
}
.mat-datepicker-content-container {
  background: linear-gradient(
0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)), #0B0824;
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 4px 5px rgb(0 0 0 / 14%), 0px 1px 10px rgb(0 0 0 / 12%), 0px 2px 4px rgb(0 0 0 / 20%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mat-button-wrapper {
  letter-spacing: 0.1px;
  color: rgba(255, 255, 255, 0.6) !important;
}
.mat-calendar-body-cell-content {
  font-family: "redhat-regular";
  color: rgba(255, 255, 255, 0.87);
  font-weight: 500;
}
}
.SubmitForm-checkbox{
  margin-bottom: -6.5px;
}

.SubmitForm-submit{
  margin-top: 2rem;
}

.nextText{
  font-size: 18px;
  color:var(--color-background)
}
.nextIcon{
  color:#83858d;
  font-size: 1.8rem;

}
.er{
  color: var(--color-tertiary) !important;
    margin-left: -25rem;
    margin-top: -2.5rem;
    font-size: 11px;
}


.textColorBlack{
  font-family: Archivo;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
  color:var(--black)
}

.textColorGrey{
  font-family: Archivo;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
  color:#83858d
}


.iconColorGrey{
  font-size: 24px;
  color:#83858d
}

.iconColorBlack{
  font-size: 24px;
  color:var(--black) !important;
}
::ng-deep .secondNotPhone{
  font-family:  'redhat-regular'!important;
  font-size: 15px !important;
}
::ng-deep .fl-right{
  float: right !important;
}
.img-arrow{
  position: absolute;
  left: -16%;
  top: -5%;
}
.login_form ::ng-deep{
  .material-icons {
    color: var(--black-disabled) !important;
}

.mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  color: #fff;
  opacity: 38%;
}
}

.curser_pointerhover{
    cursor: pointer;
}

@include lg{
  p.pledge, p.pledge2 {
    height:auto;
    width: 100%;
  }
  .SubmitForm-footer {
    font-size:px2vw-lg(30px);
  }
  .login_form{
    form{
      h1{
        margin-bottom: 4.08605vw;
        font-size: px2vw-lg(34px);
      }
    }
  }
  .header-tabs {
    button.header-tab {
      min-width:50%;
    }
  }
  .SubmitForm-submit{
    button{
      height: px2vw-lg(67px);
      margin-top: px2vw-lg(41px);
    }
  }
}

@include md{
  .login_form{
    height:100%;
    form{
      width: auto;
      h1{
        margin-bottom: 6.08605vw;
        font-size: px2vw-md(35px);
        padding-top: 13vw;
      }
    }
  }
  p.pledge, p.pledge2 {
    height:auto;
    width: 100%;
  }
  .SubmitForm-footer {
    font-size:px2vw-md(21px);
  }
  h6.paidiaPledge {
    margin-top: px2vw-md(29px);
  }
  .SubmitForm-checkbox {
      margin-bottom:px2vw-md(5px);
      margin-top: px2vw-md(10px);
  }
  .header-tabs {
    button.header-tab {
      min-width:50%;
    }
  }
  img.SubmitForm-arrow-icon
  {
    display:none;
  }
  .SubmitForm-submit{
    button{
      height: px2vw-md(67px);
      margin-top: px2vw-md(41px);
    }
  }
}

@include sm{
  .login_form{
    height:100%;
    form{
      width: auto;
      padding:px2vw-sm(25px);
      h1{
        font-size: px2vw-sm(30px);
        margin-bottom: 8vw;
        line-height:px2vw-sm(50px);
      }
    }
  }
  .SubmitForm-footer {
    font-size: px2vw-sm(21px);
  }
  p.pledge, p.pledge2 {
    height:auto;
    width: 100%;
    padding:px2vw-sm(21px);
    font-size: px2vw-sm(22px);
  }
  h6.paidiaPledge {
    margin-top: px2vw-sm(29px);
  }
  .SubmitForm-checkbox {
      margin-bottom: px2vw-sm(5px);
      margin-top: px2vw-sm(19px);
  }
  .header-tabs {
    button.header-tab {
      min-width:50%;
    }
  }
  img.SubmitForm-arrow-icon
  {
    display:none;
  }
  .SubmitForm-checkbox {
    span{
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width:100%;
    }
  }
  .SubmitForm-submit{
    button{
      height: px2vw-sm(58px);
      margin-top: px2vw-sm(51px);
    }
  }

}
