html,
body {
  @extend %body-2;
  margin: 0;
  height: 100%;
  background-color: var(--color-background);
  color: var(--white-high);
}

html {
  overflow-y: scroll;
}

app-root {
  display: block;
  height: 100%;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;

  &-track {
    width: 10px;
    height: 10px;
  }

  &-thumb {
    height: 10px;
    background-color: var(--color-primary);
  }
}
