@import "shared";

:host {
  display: block;
}

.TournamentCard {
  &-image-block {
    height: px2vw-xl(220px);
    background-size: cover;

    @include lg {
      height: px2vw-lg(220px);
    }

    @include md {
      height: px2vw-md(220px);
    }

    @include sm {
      height: px2vw-sm(220px);
    }
  }

  &-about {
    background-color: var(--base-02);
  }

  &-info {
    padding: px2vw-xl(16px);

    @include lg {
      padding: px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(16px);
    }
  }

  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(5px);

    @include lg {
      margin-bottom: px2vw-lg(5px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
    }
  }

  &-subtitle {
    @extend %global-text-base;
    margin-bottom: px2vw-xl(5px);

    @include lg {
      margin-bottom: px2vw-lg(5px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
    }
  }

  &-details-list {
    margin-bottom: 0;
  }

  &-details-item {
    @extend %global-text-base;
    margin-bottom: px2vw-xl(10px);
    color: var(--base-05);

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-details-item-icon {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(14px);
    width: px2vw-xl(17px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(14px);
      width: px2vw-lg(17px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(14px);
      width: px2vw-md(17px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(14px);
      width: px2vw-sm(17px);
    }
  }

  &-footer {
    border-top: 1px solid var(--base-charcoal);
    padding: px2vw-xl(10px) px2vw-xl(16px);

    @include lg {
      padding: px2vw-lg(10px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(10px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(10px) px2vw-sm(16px);
    }
  }

  &-author-block {
    margin-right: px2vw-xl(16px);
    border-right: 1px solid var(--base-charcoal);
    padding: px2vw-xl(8px) px2vw-xl(16px);
    padding-left: 0;

    @include lg {
      margin-right: px2vw-lg(16px);
      padding: px2vw-lg(8px) px2vw-lg(16px);
      padding-left: 0;
    }

    @include md {
      margin-right: px2vw-md(16px);
      padding: px2vw-md(8px) px2vw-md(16px);
      padding-left: 0;
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      padding: px2vw-sm(8px) px2vw-sm(16px);
      padding-left: 0;
    }
  }

  &-author-image {
    border-radius: 50%;
    object-fit: cover;
    height: px2vw-xl(27px);
    width: px2vw-xl(27px);

    @include lg {
      height: px2vw-lg(27px);
      width: px2vw-lg(27px);
    }

    @include md {
      height: px2vw-md(27px);
      width: px2vw-md(27px);
    }

    @include sm {
      height: px2vw-sm(27px);
      width: px2vw-sm(27px);
    }
  }

  &-prize {
    margin-right: px2vw-xl(5px);

    @include lg {
      margin-right: px2vw-lg(5px);
    }

    @include md {
      margin-right: px2vw-md(5px);
    }

    @include sm {
      margin-right: px2vw-sm(5px);
    }
  }

  &-prize-icon {
    margin-right: px2vw-xl(5px);
    height: px2vw-xl(21px);
    width: px2vw-xl(20px);

    @include lg {
      margin-right: px2vw-lg(5px);
      height: px2vw-lg(21px);
      width: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(5px);
      height: px2vw-md(21px);
      width: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(5px);
      height: px2vw-sm(21px);
      width: px2vw-sm(20px);
    }
  }

  &-prize-text {
    @extend %global-text-base;
    color: var(--base-05);
  }

  &-button {
    margin-left: auto;
  }
}
