@import "shared";

:host {
  display: block;
}

.MatchCard {
  @extend %u-dfCenter;
  border-bottom: px2vw-xl(1px) solid var(--white-light);
  padding: px2vw-xl(24px) 0;

  @include lg {
    border-bottom-width: px2vw-lg(1px);
    padding: px2vw-lg(24px) 0;
  }

  @include md {
    border-bottom-width: px2vw-md(1px);
    padding: px2vw-md(24px) 0;
  }

  @include sm {
    border-bottom-width: px2vw-sm(1px);
    padding: px2vw-sm(24px) 0;
  }

  &-image {
    flex-shrink: 0;
    margin-right: px2vw-xl(24px);
    height: px2vw-xl(135px);
    width: px2vw-xl(258px);
    background-size: cover;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(24px);
      height: px2vw-lg(135px);
      width: px2vw-lg(258px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      height: px2vw-md(135px);
      width: px2vw-md(258px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      height: px2vw-sm(135px);
      width: px2vw-sm(258px);
    }
  }

  &-content {
    flex-grow: 1;
  }

  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-header-title {
    @extend %global-H7;
    margin-right: px2vw-xl(15px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(15px);
    }

    @include md {
      margin-right: px2vw-md(15px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
    }
  }

  &-header-control {
    @extend %u-dfCenter;
    margin-left: auto;
    flex-shrink: 0;
  }

  &-header-button {
    @extend %u-dfCenterCenter;
    margin-left: px2vw-xl(16px);
    border-radius: px2vw-xl(2px);
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);
    background-color: var(--color-primary);
    transition: $global-transition;

    @include lg {
      margin-left: px2vw-lg(16px);
      border-radius: px2vw-lg(2px);
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
    }

    @include md {
      margin-left: px2vw-md(16px);
      border-radius: px2vw-md(2px);
      height: px2vw-md(30px);
      width: px2vw-md(30px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
      border-radius: px2vw-sm(2px);
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-header-button-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  &-header-menu-link {
    &:hover .icon {
      color: var(--color-primary);
    }
  }

  &-header-menu-icon {
    color: var(--white-medium);
  }

  &-subtitle {
    @extend %body-1;
    margin-bottom: px2vw-xl(12px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-items {
    @extend %u-dfCenter;
    margin-bottom: 0;
  }

  &-item {
    padding: 0 px2vw-xl(24px);

    @include lg {
      padding: 0 px2vw-lg(24px);
    }

    @include md {
      padding: 0 px2vw-md(24px);
    }

    @include sm {
      padding: 0 px2vw-sm(24px);
    }

    &:first-child {
      padding-left: 0;
      border-right: px2vw-xl(1px) solid var(--white-smoke);

      @include lg {
        border-right-width: px2vw-lg(1px);
      }

      @include md {
        border-right-width: px2vw-md(1px);
      }

      @include sm {
        border-right-width: px2vw-sm(1px);
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-date {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white);
  }
}
