<div class="MatchCard">
  <div class="MatchCard-image" [lazyLoad]="data?.image"></div>

  <div class="MatchCard-content">
    <header class="MatchCard-header">
      <h3 class="MatchCard-header-title global-Elipses">
        {{ "PROFILE.COMPONENTS.MATCH_CARD.MATCH" | translate }}
        {{ data?.title || 0 }},
        <!-- {{ "PROFILE.COMPONENTS.MATCH_CARD.SET" | translate }} -->
        <!-- {{ data?.set || 0 }} -->
          &nbsp; {{data?.opponentName}}
      </h3>

      <div class="MatchCard-header-control">
        <!-- <a class="MatchCard-header-link global-link">
          {{ "BUTTON.VIEW_MATCH" | translate }}
        </a> -->

        <ng-container *ngIf="isEditable">
          <button class="MatchCard-header-button" [matMenuTriggerFor]="matchMenu" #t="matMenuTrigger">
            <mat-icon class="MatchCard-header-button-icon">
              more_horiz
            </mat-icon>
          </button>

          <mat-menu class="global-MatMenu match-card" #matchMenu="matMenu" xPosition="before">
            <div class="MatchCard-header-menu menu">
              <a class="MatchCard-header-menu-link link" (click)="reportScore(data)">
                <mat-icon class="MatchCard-header-menu-icon icon">
                  border_color
                </mat-icon>
                <span class="MatchCard-header-menu-text text">
                  {{ "PROFILE.COMPONENTS.MATCH_CARD.REPORT_SCORE" | translate }}
                </span>
              </a>

              <a  [routerLink]="[AppHtmlRoutes.tournamentView, data?.tournamentSlug]" class="MatchCard-header-menu-link link">
                <mat-icon class="MatchCard-header-menu-icon icon">
                  remove_red_eye
                </mat-icon>
                <span class="MatchCard-header-menu-text text">
                  {{
                  "PROFILE.COMPONENTS.MATCH_CARD.VIEW_TOURNAMENT" | translate
                  }}
                </span>
              </a>

              <!-- <a class="MatchCard-header-menu-link link">
                <mat-icon class="MatchCard-header-menu-icon icon">
                  report
                </mat-icon>
                <span class="MatchCard-header-menu-text text">
                  {{ "PROFILE.COMPONENTS.MATCH_CARD.REPORT_ISSUE" | translate }}
                </span>
              </a> -->
            </div>
          </mat-menu>
        </ng-container>
      </div>
    </header>

    <h5 class="MatchCard-subtitle">
      {{ "PROFILE.COMPONENTS.MATCH_CARD.TOURNAMENT" | translate }}:
      {{ data?.tournamentName }}
    </h5>

    <h5 class="MatchCard-subtitle">
     Game :
     {{ data?.gameAccount }}
    </h5>



    <!-- <ul class="MatchCard-items">
      <li class="MatchCard-item">
        <h5 class="MatchCard-item-title">
          {{ "PROFILE.COMPONENTS.MATCH_CARD.WHEN" | translate }}
        </h5>
        <p class="MatchCard-item-date">
          {{ data?.date.when }}
        </p>
      </li>

      <li class="MatchCard-item">
        <h5 class="MatchCard-item-title">
          {{ "PROFILE.COMPONENTS.MATCH_CARD.REPORT" | translate }}
        </h5>
        <p class="MatchCard-item-date">
          {{ data?.date.report }}
        </p>
      </li>
    </ul> -->
  </div>
</div>

