<section class="container">

  <form [formGroup]="form" (submit)="onSubmitEvent()" class="Phone">
    <h1 class="Phone-title">
      {{ data.title | translate }}
    </h1>

    <div class="Phone-subtitle">
      {{ data.subtitle | translate }}
    </div>

    <div class="LogReg-error" *ngIf="data.error">
      {{ data.error | translate }}
    </div>

    <ng-container *ngIf="data.InputType === 'phone'; else notPhone" >
      <div class="global-intlTel">
        <mat-form-field class="global-MatField LogReg-input" appearance="outline">
          <mat-label>{{ data.InputPlaceholder | translate }}</mat-label>
          <input formControlName="firstInput" matInput [type]="data?.InputType" />
          <div matSuffix mat-button></div>
          <!-- <span class="global-intlTel-rightText" *ngIf="activeTypeValue === AppHtmlRoutesLoginType.forgotPass"
            (click)="changeInput(data.InputType)">{{ "LOG_REG.FORGOT.FORGOT_BY_EMAIL" | translate }}</span> -->

            <span class="global-intlTel-rightText" *ngIf="activeTypeValue === AppHtmlRoutesLoginType.forgotPass"
            (click)="changeInput(data?.InputType)"></span>
            <mat-error *ngIf="
            form.get('firstInput').touched &&
            form.get('firstInput').hasError('required')
          ">{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error>
          <mat-error *ngIf="form.get('firstInput').hasError('validatePhoneNumber')" >{{ "LOG_REG.LOGIN.VALIDATION1" |
            translate }}</mat-error>
        </mat-form-field>
      </div>
    </ng-container>

    <ng-template #notPhone>
      <mat-form-field class="global-MatField LogReg-input" appearance="outline" >
        <mat-label>{{ data.InputPlaceholder | translate }}</mat-label>
        <input formControlName="firstInput" matInput [type]="data?.InputType" />
        <div matSuffix mat-button></div>
         <!-- <span
        *ngIf="activeTypeValue === AppHtmlRoutesLoginType.forgotPass"
        class="global-MatField-hint fix-overflow-right"
        (click)="changeInput(data.InputType)" required pattern="\[0-9]{10}"
        >{{ "LOG_REG.FORGOT.FORGOT_BY_PHONE" | translate }}</span
      > -->

      <span
      *ngIf="activeTypeValue === AppHtmlRoutesLoginType.forgotPass"
      class="global-MatField-hint fix-overflow-right"
      (click)="changeInput(data?.InputType)" required pattern="\[0-9]{10}"></span>
        <mat-error *ngIf="form.get('firstInput').hasError('required')">{{
          "LOG_REG.LOGIN.REQUIRED" | translate
          }}</mat-error>
        <mat-error *ngIf="form.get('firstInput').hasError('email')">{{
          "LOG_REG.LOGIN.VALIDATION2" | translate
          }}</mat-error>
      </mat-form-field>
    </ng-template>

    <div class="Phone-submit" >
      <button type="submit" class="button-icon-primary submitt" [class.is-edit]="form.invalid" [disabled]="form.invalid"
        style="justify-content: space-between">
        <span style="font-size: 15px;color:#9d9faa">{{ data.submitBtn | translate | uppercase }}</span>
        <mat-icon style="color:#83858d"> arrow_forward </mat-icon>
      </button>
    </div>

  </form>
</section>
