@import "shared";

:host {
  display: block;
}

.PrizesStatistic {
  @extend %u-dfCenterBtw;

  &-list {
    margin-bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include md {
      justify-content: flex-start;
    }

    @include sm {
      display: grid;
      grid-template-columns: repeat(2, 142px);
      grid-column-gap: px2vw-x(12px);
      grid-row-gap: px2vw-xl(24px);
    }
  }
  &-item {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 41%;
    margin-bottom: px2vw-xl(24px);
    @include lg{
      margin-bottom: px2vw-lg(24px);
    }
    @include md {
      margin-bottom: 0;
      max-width: px2vw-md(97px);
      margin-right: px2vw-md(16px);
      &:last-child {
        margin-right: 0;
      }
    }
    @include sm {
      max-width: px2vw-sm(135px);
      padding:px2vw-sm(10px) 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-box-icon {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background: var(--midnight-express-color);
    border-radius: px2vw-xl(4px);
    width: px2vw-xl(32px);
    height: px2vw-xl(32px);
    margin-right: px2vw-xl(12px);
    @include lg{
      border-radius: px2vw-lg(4px);
      width: px2vw-lg(32px);
      height: px2vw-lg(32px);
      margin-right: px2vw-lg(12px);
    }
    @include md{
      border-radius: px2vw-md(4px);
      width: px2vw-md(42px);
      height: px2vw-md(42px);
      margin-right: px2vw-md(12px);
    }
    @include sm{
      border-radius: px2vw-sm(4px);
      width: px2vw-sm(56px);
      height: px2vw-sm(56px);
      margin-right: px2vw-sm(18px);
    }
  }

  &-item-icon {
    min-width: px2vw-xl(18px);
    @include lg{
      min-width: px2vw-lg(18px);
    }
    @include md{
      min-width: px2vw-md(14px);
    }
    @include sm{
      min-width: px2vw-sm(16px);
    }
  }
  &-item-heading {
    width: 100%;
  }

  &-item-title {
    font-family: "Paralucent-Demi",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: var(--color-primary-disabled);
    margin-bottom: px2vw-xl(8px);
    @include lg{
      font-size: px2vw-lg(19px);
      line-height: px2vw-lg(24px);
      margin-bottom: px2vw-lg(8px);
    }
    @include md{
      font-size: px2vw-md(19px);
      line-height: px2vw-md(24px);
      margin-bottom: px2vw-md(14px);
    }
    @include sm{
      font-size: px2vw-sm(26px);
      line-height: px2vw-sm(46px);
    }
  }

  &-item-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  &-item-value {
    font-family: "Paralucent-Demi",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(32px);
    letter-spacing: px2vw-xl(1px);
    color: var(--white);
    @include lg{
      font-size: px2vw-lg(28px);
      line-height: px2vw-lg(32px);
      letter-spacing: px2vw-lg(1px);
    }
    @include md {
      font-size: px2vw-md(33px);
      line-height: px2vw-md(28px);
    }
    @include sm  {
      font-size: px2vw-sm(36px);
      line-height: px2vw-sm(30px);
    }
  }

  &-rank {
    @extend %u-dfCenter;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-rank-title {
    @extend %body-1;
    margin-right: px2vw-xl(16px);
    margin-bottom: 0;
    color: var(--white-medium);

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-rank-value {
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(48px);
    line-height: 1;
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(48px);
    }

    @include md {
      font-size: px2vw-md(48px);
    }

    @include sm {
      font-size: px2vw-sm(48px);
    }
  }
}
