<div
  class="card"
  (click)="isCollapsed = !isCollapsed; fetchRoundMatches(); fetchRoundDetails()"
  [ngClass]="{ expand: isCollapsed }"
  [attr.aria-expanded]="!isCollapsed"
>
  {{
    round > 0
      ? ("MANAGE_TOURNAMENT.MATCHES.ROUND" | translate) + " " + round
      : ("MANAGE_TOURNAMENT.MATCHES.LOSER_ROUND" | translate) + " " + -round
  }}
  <fa-icon [icon]="['fas', 'sort-down']"></fa-icon>
</div>
<div id="{{ 'collapse_' + round }}" [ngbCollapse]="!isCollapsed">
  <ng-container>
    <div class="page-alignment" *ngIf="isAdmin">
      <app-toggle-switch
        [title]="'Enable participant scoring'"
        [customFormGroup]="roundDetailsForm"
        [customFormControlName]="'enableParticipantScoring'"
        (valueEmit)="participantScoringHandler($event?.target?.checked)"
      >
      </app-toggle-switch>
    </div>
    <div class="page-alignment" *ngIf="matchData?.docs?.length">
      <esports-pagination
        [page]="page"
        (currentPage)="pageChanged($event)"
      ></esports-pagination>
    </div>
    <table *ngIf="matchData?.docs?.length; else noMatch">
      <thead>
        <tr>
          <th scope="col">
            {{ "MANAGE_TOURNAMENT.MATCHES.MATCHES" | translate }}
          </th>
          <th scope="col">
            {{ "MANAGE_TOURNAMENT.MATCHES.TEAMS" | translate }}
          </th>
          <th scope="col" *ngFor="let h of setHeader; let i = index">
            {{ "ELIMINATION.SET" | translate }} {{ i + 1 }}
          </th>
          <th>
            {{ "MANAGE_TOURNAMENT.MATCHES.F_SCORE" | translate }}
          </th>
          <th scope="col">
            {{ "MANAGE_TOURNAMENT.MATCHES.RESULT" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let m of matchData?.docs"
          [class.scoreConflict]="m?.isScoreConflict === true"
        >
          <th scope="row">
            {{ "MANAGE_TOURNAMENT.MATCHES.MATCH" | translate }}
            {{ m.matchNo }}
            <mat-icon
              matTooltip="{{ 'ELIMINATION.TOOLTIP.09' | translate }}"
              *ngIf="isScoreEdit"
              (click)="openScoreCard(m)"
              class="EditScore"
            >
              edit
            </mat-icon>
          </th>
          <td>
            <div>
              {{
                (tournament?.participantType == "individual"
                  ? m?.teamA?.name
                  : m?.teamA?.teamName
                ) | limitString: 10:"..."
              }}
            </div>
            <div>
              {{
                (tournament?.participantType == "individual"
                  ? m?.teamB?.name
                  : m?.teamB?.teamName
                ) | limitString: 10:"..."
              }}
            </div>
          </td>
          <td *ngFor="let s of setHeader; let i = index">
            <div>
              {{ m?.sets[i] ? m?.sets[i]?.teamAScore || 0 : "-" }}
            </div>
            <div>
              {{ m?.sets[i] ? m?.sets[i]?.teamBScore || 0 : "-" }}
            </div>
          </td>
          <td *ngFor="let s of []">
            <div>-</div>
            <div>-</div>
          </td>
          <td>
            <div>
              {{ m?.teamAWinSet || 0 }}
            </div>
            <div>
              {{ m?.teamBWinSet || 0 }}
            </div>
          </td>
          <td>
            <div>
              <button
                [ngClass]="{
                  winner: m?.teamA?._id == m?.winnerTeam,
                  loser: m?.teamA?._id == m?.loserTeam
                }"
              >
                {{
                  !m?.winnerTeam
                    ? "-"
                    : m?.teamA?._id == m?.winnerTeam
                    ? ("MANAGE_TOURNAMENT.MATCHES.WINNER" | translate)
                    : m?.teamA?._id == m.disQualifiedTeam?.team
                    ? m.disQualifiedTeam?.reason
                    : ("MANAGE_TOURNAMENT.MATCHES.LOSER" | translate)
                }}
              </button>
            </div>
            <div>
              <button
                [ngClass]="{
                  winner: m?.teamB?._id == m?.winnerTeam,
                  loser: m?.teamB?._id == m?.loserTeam
                }"
              >
                {{
                  !m?.winnerTeam
                    ? "-"
                    : m?.teamB?._id == m?.winnerTeam
                    ? ("MANAGE_TOURNAMENT.MATCHES.WINNER" | translate)
                    : m?.teamB?._id == m.disQualifiedTeam?.team
                    ? m.disQualifiedTeam?.reason
                    : ("MANAGE_TOURNAMENT.MATCHES.LOSER" | translate)
                }}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noMatch>
    <p class="pl-3" *ngIf="isProcessing">
      <esports-loading></esports-loading>
    </p>
    <p class="message-alignment" *ngIf="!isProcessing">
      {{ "MANAGE_TOURNAMENT.MATCHES.NO_MATCH" | translate }}
    </p>
  </ng-template>
</div>
