<div class="Brackets">
  <div class="Brackets-wrapper">
    <div class="Brackets-inner">
      <div class="Brackets-heading">
        <h1 class="title">
          {{ "VIEW_TOURNAMENT.BRACKETS.TITLE" | translate }}
        </h1>
      </div>
      <div class="Brackets-tree">
          <app-elimination
          [structure]="structure"
          [isSeeded]="tournamentDetails?.isSeeded"
          [isAdmin]="false"
          [type]="tournamentDetails?.bracketType"
          [participantId]="participantId"
          [isLoaded]="isLoaded"
          [tournament]="tournamentDetails"
          [hideMockStructure]="true"
          (isRefresh)="getResponseMessage($event)"
          ></app-elimination>
      </div>
    </div>
  </div>
</div>
