<div class="row button-control-tabs">
  <div class="text-center col-12">
    <button
      class="btn m-2"
      [disabled]="
        active <= 1 || tournamentService?.isTournamentPaymentProcessing
      "
      (click)="nav.select(active - 1)"
    >
      {{ "BUTTON.BACK" | translate }}
    </button>

    <button
      [hidden]="true"
      (click)="isStepValid(active) && submitTournament('draft')"
      class="btn btn-primary m-2"
    >
      {{ "BUTTON.DRAFT" | translate }}
    </button>

    <button
      class="btn m-2"
      [disabled]="active >= 3"
      (click)="isStepValid(active) && nav.select(active + 1)"
    >
      {{ "BUTTON.NEXT" | translate }}
    </button>

    <button
      *ngIf="active == 3"
      (click)="isStepValid(active) && nav.select(4)"
      class="btn"
    >
      {{ "BUTTON.PREVIEW" | translate }}
    </button>

    <button
      *ngIf="active == 4 && form?.value?.step < 5"
      (click)="submitTournament('submitted_for_approval')"
      class="btn"
    >
      {{ "BUTTON.PUBLISH" | translate }}
    </button>
  </div>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
