<div class="GwbTournaments">
  <header class="GwbTournaments-header">
    <h2 class="GwbTournaments-header-title">
      {{ "GWB.COMPONENTS.TOURNAMENTS.TITLE" | translate }}
    </h2>
    <p class="GwbTournaments-header-subtitle">
      {{ "GWB.COMPONENTS.TOURNAMENTS.SUBTITLE" | translate }}
    </p>
  </header>

  <swiper
    id="3wb"
    [config]="config"
    (indexChange)="setGameOnSlide($event)"
    class="swiper-game"
    [index]="selectedGameIndex"
    *ngIf="games.length > 1"
  >
    <div
      class="GwbTournaments-game"
      [class.is-active]="games[0].isSelected"
      (click)="onSelectGame(0)"
    >
      <div
        class="GwbTournaments-game-image"
        [style.background-image]="'url(' + games[0].image + ')'"
      >
        <img
          class="GwbTournaments-game-image-selected selected"
          src="assets/icons/gwb/checked-game.svg"
          alt="selected icon"
        />
      </div>

      <p class="GwbTournaments-game-name global-Elipses2">
        {{ games[0].name | translate }}
      </p>
    </div>
    <div
      *ngFor="let game of games.slice(1); let idx = index"
      class="GwbTournaments-game"
      [class.is-active]="game.isSelected"
      (click)="onSelectGame(idx + 1)"
    >
      <div
        class="GwbTournaments-game-image"
        [style.background-image]="'url(' + game?.image + ')'"
      >
        <img
          class="GwbTournaments-game-image-selected selected"
          src="assets/icons/gwb/checked-game.svg"
          alt="selected icon"
        />
      </div>

      <p class="GwbTournaments-game-name global-Elipses2">
        {{ game.name }}
      </p>
    </div>
  </swiper>

  <ng-container *ngIf="selectedGame && tournaments.length">
    <section class="GwbTournaments-events">
      <h3 class="GwbTournaments-events-title" id="gwb_game">
        {{ "GWB.COMPONENTS.TOURNAMENTS.ALL_TOURNAMENTS" | translate }}
      </h3>

      <ul class="GwbTournaments-events-list">
        <a
          *ngFor="let tournament of tournaments"
          [routerLink]="AppHtmlRoutes.tournamentView + '/' + tournament?.slug"
          class="GwbTournaments-event"
        >
          <div
            *ngIf="tournament.banner != ''"
            class="GwbTournaments-event-image"
            [style.background-image]="'url(' + tournament.banner + ')'"
          ></div>
          <div
            *ngIf="tournament.banner == ''"
            class="GwbTournaments-event-image"
            [style.background-image]="
              'url(' + tournament.gameDetail.image + ')'
            "
          ></div>
          <h3 class="GwbTournaments-event-title global-Elipses2">
            {{ tournament.name }}
          </h3>

          <p class="GwbTournaments-event-date">
            <span *ngIf="isArabic"
              >{{ getTranslatedDate(tournament.startDate) }} |
              {{ getTranslatedTime(tournament.startTime) }}</span
            >
            <span *ngIf="!isArabic"
              >{{ tournament.startDate | date: "MMMM d, y" }} |
              {{ tournament.startTime }}</span
            >
            <br />
            <span *ngIf="isShowParticipants">
              {{ tournament.participantJoined }}
              {{ "HOME.SECTIONB.OF" | translate }}
              {{ tournament.maxParticipants }}
              {{
                tournament.participantType === "individual"
                  ? ("HOME.SECTIONB.PLAYER_TOURNAMENT_CARD" | translate)
                  : ("HOME.SECTIONB.TEAM_TOURNAMENT_CARD" | translate)
              }}</span
            >
          </p>
        </a>
      </ul>

      <div class="GwbTournaments-events-pagination">
        <app-pagination
          [page]="page"
          [activePage]="page?.activePage"
          (currentPage)="pageChanged('gwb_game', $event)"
        >
        </app-pagination>
      </div>
    </section>
  </ng-container>
  <!-- <ng-container *ngIf="selectedGame && turkiTournaments.length">
    <section class="GwbTournaments-events">
      <h3 class="GwbTournaments-events-title" id="gwb_turki">
        {{ "GWB.COMPONENTS.TOURNAMENTS.TURKI_TOURNAMENTS" | translate }}
      </h3>

      <ul class="GwbTournaments-events-list">
        <li *ngFor="let tournament of turkiTournaments" [routerLink]="AppHtmlRoutes.tournamentView + '/' + tournament?.slug"
          class="GwbTournaments-event">
          <div *ngIf="tournament.banner != ''" class="GwbTournaments-event-image"
            [style.background-image]="'url(' + tournament.banner + ')'"></div>
          <div *ngIf="tournament.banner == ''" class="GwbTournaments-event-image" [style.background-image]="
              'url(' + tournament.gameDetail.image + ')'
            "></div>
          <h3 class="GwbTournaments-event-title global-Elipses2">
            {{ tournament.name }}
          </h3>

          <p class="GwbTournaments-event-date">
            <span *ngIf="isArabic">{{getTranslatedDate(tournament.startDate)}} |
              {{getTranslatedTime(tournament.startTime)}}</span>
            <span *ngIf="!isArabic">{{ tournament.startDate | date: "MMMM d, y" }} | {{ tournament.startTime }}</span>
            <br /> -->
  <!-- {{ tournament.participantJoined }}
            {{ "HOME.SECTIONB.OF" | translate }}
            {{ tournament.maxParticipants }}
            {{
              tournament.participantType === "individual"
                ? ("HOME.SECTIONB.PLAYER_TOURNAMENT_CARD" | translate)
                : ("HOME.SECTIONB.TEAM_TOURNAMENT_CARD" | translate)
            }} -->
  <!-- </p>
        </li>
      </ul>

      <div class="GwbTournaments-events-pagination">
        <app-pagination [page]="page1" [activePage]="page1?.activePage" (currentPage)="pageChanged('gwb_turki', $event, 'turki')">
        </app-pagination>
      </div>
    </section>
  </ng-container> -->
</div>
