@import "shared";

:host {
  display: block;
}

.GwbTournaments {
  padding-top: px2vw-xl(85px);

  @include lg {
    padding-top: px2vw-lg(74px);
  }

  @include md {
    padding-top: px2vw-md(64px);
  }

  @include sm {
    padding-top: px2vw-sm(56px);
  }

  &-header {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-header-title {
    margin-bottom: px2vw-xl(24px);
    font-family: "avenir-black", sans-serif;
    font-size: px2vw-xl(51px);
    line-height: 1;

    @include lg {
      margin-bottom: px2vw-lg(18px);
      font-size: px2vw-lg(42px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
      font-size: px2vw-md(42px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
      font-size: px2vw-sm(42px);
    }
  }

  &-header-subtitle {
    margin-bottom: 0;
    font-family: "myriad-pro", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: 1.2;
    color: var(--saphire);

    @include lg {
      font-size: px2vw-lg(22px);
    }

    @include md {
      font-size: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-games {
    overflow-x: scroll;
    display: flex;
    margin-bottom: px2vw-xl(48px);
    padding-bottom: px2vw-xl(24px);

    &::-webkit-scrollbar-thumb {
      background-color: var(--scooter);
    }

    @include lg {
      margin-bottom: px2vw-lg(34px);
      padding-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(34px);
      padding-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(34px);
      padding-bottom: px2vw-sm(18px);
    }
  }

  &-game {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &.is-active .selected {
      display: inline-block;
    }
  }

  &-game-image {
    position: relative;
    border-radius: px2vw-xl(12px);
    height: px2vw-xl(333.59px);
    width: 100%;
    padding: px2vw-xl(10px);
    text-align: right;
    background-size: cover;
    background-color: var(--saphire);

    @include lg {
      border-radius: px2vw-lg(12px);
      height: px2vw-lg(204.4px);
      padding: px2vw-lg(10px);
    }

    @include md {
      border-radius: px2vw-md(12px);
      height: px2vw-md(228px);
      padding: px2vw-md(10px);
    }

    @include sm {
      border-radius: px2vw-sm(12px);
      height: px2vw-sm(168px);
      padding: px2vw-sm(10px);
    }
  }

  &-game-image-selected {
    display: none;
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);

    @include lg {
      height: px2vw-lg(28px);
      width: px2vw-lg(28px);
    }

    @include md {
      height: px2vw-md(28px);
      width: px2vw-md(28px);
    }

    @include sm {
      height: px2vw-sm(28px);
      width: px2vw-sm(28px);
    }
  }

  &-game-name {
    margin-top: px2vw-xl(16px);
    margin-bottom: 0;
    font-family: "myriad-pro", sans-serif;
    font-size: px2vw-xl(18px);
    color: var(--saphire);
    text-align: center;

    @include lg {
      margin-top: px2vw-lg(12px);
      font-size: px2vw-lg(14px);
    }

    @include md {
      margin-top: px2vw-md(12px);
      font-size: px2vw-md(17px);
    }

    @include sm {
      margin-top: px2vw-sm(12px);
      font-size: px2vw-sm(17px);
    }
  }

  &-events-title {
    margin-bottom: px2vw-xl(32px);
    font-family: "avenir-black", sans-serif;
    font-size: px2vw-xl(38px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(28px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(28px);
    }
  }

  &-events-list {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(20px);
    grid-row-gap: px2vw-xl(60px);

    @include lg {
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(60px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(15px);
      grid-row-gap: px2vw-md(24px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(15px);
      grid-row-gap: px2vw-sm(24px);
    }
  }

  &-event {
    transition: 100ms linear;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &-event-image {
    margin-bottom: px2vw-xl(16px);
    height: px2vw-xl(416px);
    width: 100%;
    background-color: var(--saphire);
    background-size: cover;

    @include lg {
      margin-bottom: px2vw-lg(12px);
      height: px2vw-lg(260px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
      height: px2vw-md(315px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
      height: px2vw-sm(240px);
    }
  }

  &-event-title {
    margin-bottom: px2vw-xl(12px);
    min-height: px2vw-xl(62px);
    font-family: "avenir-black", sans-serif;
    font-size: px2vw-xl(28px);
    line-height: 1.1;

    @include lg {
      margin-bottom: px2vw-lg(12px);
      min-height: px2vw-lg(60px);
      font-size: px2vw-lg(25px);
      line-height: 1.2;
    }

    @include md {
      margin-bottom: px2vw-md(12px);
      min-height: px2vw-md(60px);
      font-size: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
      min-height: px2vw-sm(60px);
      font-size: px2vw-sm(25px);
    }
  }

  &-event-date {
    margin-bottom: 0;
    font-family: "myriad-pro", sans-serif;
    color: var(--mortar);
    font-size: px2vw-xl(22px);
    line-height: 1.3;

    @include lg {
      font-size: px2vw-lg(19px);
    }

    @include md {
      font-size: px2vw-md(19px);
    }

    @include sm {
      font-size: px2vw-sm(19px);
    }
  }

  &-events-pagination {
    ::ng-deep {
      .Navigation {
        padding-top: px2vw-xl(36px);

        @include lg {
          padding-top: px2vw-lg(36px);
        }

        @include md {
          justify-content: center;
          padding-top: px2vw-md(36px);
        }

        @include sm {
          padding-top: px2vw-sm(36px);
        }
      }

      .page-item.active .page-link {
        background-color: var(--scooter) !important;
      }
    }
  }

  &-events {
    margin-top: px2vw-xl(55px);
    @include lg {
      margin-top: px2vw-lg(50px);
    }
    @include md {
      margin-top: px2vw-md(45px);
    }
    @include sm {
      margin-top: px2vw-sm(45px);
    }
  }
}

::ng-deep {
  .GwbTournaments {
    & .swiper-button-next,
    & .swiper-button-prev {
      box-shadow: inset 0 0 10px var(--heliotrope), 0 0 10px var(--heliotrope);
      border: 2px solid var(--base-white);
      background: rgba(0, 0, 0, 0.7);
      display: block !important;
      width: 40px !important;
      text-align: center;
      padding: 10px;
    }
    & .swiper-button-next:after,
    & .swiper-button-prev:after {
      color: var(--base-white);
      font-size: 21px;
    }
  }
}

a {
  color: #1d1d1d;
}

a:hover {
  color: #1d1d1d;
}
