@import "shared";

:host {
  display: block;
}

.MyMatches {
  padding-bottom: px2vw-xl(30px);

  @include lg {
    padding-bottom: px2vw-lg(30px);
  }

  @include md {
    padding-bottom: px2vw-md(30px);
  }

  @include sm {
    padding-bottom: px2vw-sm(30px);
  }

  &-title {
    margin-bottom: px2vw-xl(35px);

    @include lg {
      margin-bottom: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(35px);
    }

    @include sm {
      margin-bottom: px2vw-sm(35px);
    }
  }

  &-tabs {
  }

  &-tab {
  }

  &-tab.current-matches {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(16px);

    @include lg {
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
    }

    @include md {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: 0;
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      grid-row-gap: px2vw-sm(24px);
    }
  }

  ::ng-deep {
    .mat-tab-header {
      margin-bottom: px2vw-xl(40px);
      border-bottom: none;

      @include lg {
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
      }
    }

    .mat-tab-label {
      margin-right: px2vw-xl(25px);
      min-width: px2vw-xl(70px);
      padding: 0;

      @include lg {
        margin-right: px2vw-lg(25px);
        min-width: px2vw-xllg(70px);
      }

      @include md {
        margin-right: px2vw-md(25px);
        min-width: px2vw-md(70px);
      }

      @include sm {
        margin-right: px2vw-sm(25px);
        min-width: px2vw-sm(70px);
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .mat-tab-label-active {
      .mat-tab-label-content {
        color: var(--base-yellow);
        @extend %global-H5;
      }
    }

    .mat-ink-bar {
      background-color: var(--base-yellow);
      height: 1px;
      display: none;
    }
  }
}
