<div class="Tournament-tracker-card">
  <h3 class="Tournament-tracker-card-title global-Elipses2">
    {{ params?.tournamentId?.name }}
  </h3>
  <div class="Tournament-tracker-card-content u-dfStartBtw">
    <div class="Tournament-tracker-card-content-left">
      <div class="Tournament-tracker-card-about">
        <span class="Tournament-tracker-card-gamer-name">{{
          params?.teamA?.teamName
        }}</span>
        <span class="Tournament-tracker-card-vs">{{
          "HOME_SOCER_TRACKER.vs" | translate
        }}</span>
        <span class="Tournament-tracker-card-gamer-name">{{
          params?.teamB?.teamName
        }}</span>
      </div>
    </div>
    <div class="Tournament-tracker-card-content-right">
      <p class="Tournament-tracker-card-results">
        {{ "HOME_SOCER_TRACKER.RESULT" | translate }}
      </p>
      <div class="Tournament-tracker-card-score">
        <span class="Tournament-tracker-card-gamer-score">{{
          params?.teamAWinSet
        }}</span>
        <span class="Tournament-tracker-card-gamer-score-vs">:</span>
        <span class="Tournament-tracker-card-gamer-score">{{
          params?.teamBWinSet
        }}</span>
      </div>
    </div>
  </div>
</div>
