.error {
  margin-bottom: 20px !important;
}

.form-group {
  margin-bottom: 35px !important;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent !important;
}

input[type="date"]:focus::-webkit-datetime-edit {
  color: var(--white-medium) !important;
}
