<div class="">
  <div class="ShopReports">
    <h1 class="ShopReports-title">
      {{ "Maxis User Management" }}
    </h1>
    <div class="filter">
      <h3>Filter by:</h3>
      <div class="d-flex align-items-center no-wrap mb-3">
        <div class="mr-3 mb-1">
          <mat-form-field appearance="outline">
            <mat-label>
              {{ "User Type" }}
            </mat-label>
            <mat-select [(ngModel)]="selectedSubscriberType">
              <mat-option
                *ngFor="let item of subscriberTypesList"
                [value]="item"
                >{{ item }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="mr-3 mb-2">
          <mat-form-field appearance="outline">
            <mat-label>Transaction Date Range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                [(ngModel)]="startDate"
                placeholder="Start date"
              />
              <input matEndDate [(ngModel)]="endDate" placeholder="End date" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div>
          <button
            type="button"
            (click)="getUserManagementUserReport()"
            class="btn btn-apply"
          >
            Apply
          </button>
        </div>
      </div>
      <div class="d-flex align-items-center no-wrap mb-3 float-right">
        <button class="btn btn-apply mr-3" (click)="openDialog()">
          Edit Columns
        </button>
        <button type="button" (click)="exportCSV()" class="btn btn-export">
          Export as CSV
        </button>
      </div>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>

  <div class="account-tabl">
    <table mat-table [dataSource]="dataSource" class="">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date / Time</th>
        <td mat-cell *matCellDef="let element">
          <div class="date-col">
            {{ element?.date }}
          </div>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="activity_type">
        <th mat-header-cell *matHeaderCellDef> Activity Type </th>
        <td mat-cell *matCellDef="let element"> {{element.activity_type}} </td>
      </ng-container> -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <ng-container matColumnDef="customerID">
        <th mat-header-cell *matHeaderCellDef>Customer ID</th>
        <td mat-cell *matCellDef="let element">{{ element.customerID }}</td>
      </ng-container>
      <ng-container matColumnDef="UUID">
        <th mat-header-cell *matHeaderCellDef>UUID</th>
        <td mat-cell *matCellDef="let element">{{ element.UUID }}</td>
      </ng-container>
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Full Name</th>
        <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
      </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>User Name</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>
      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>DOB</th>
        <td mat-cell *matCellDef="let element">{{ element.dob }}</td>
      </ng-container>
      <ng-container matColumnDef="subscriberType">
        <th mat-header-cell *matHeaderCellDef>Subscriber Type</th>
        <td mat-cell *matCellDef="let element">{{ element.subscriberType }}</td>
      </ng-container>
      <ng-container matColumnDef="subscriberSegment">
        <th mat-header-cell *matHeaderCellDef>Subscriber Segment</th>
        <td mat-cell *matCellDef="let element">
          {{ element.subscriberSegment }}
        </td>
      </ng-container>
      <ng-container matColumnDef="planType">
        <th mat-header-cell *matHeaderCellDef>Plan Type</th>
        <td mat-cell *matCellDef="let element">{{ element.planType }}</td>
      </ng-container>
      <ng-container matColumnDef="serviceType">
        <th mat-header-cell *matHeaderCellDef>Service Type</th>
        <td mat-cell *matCellDef="let element">{{ element.serviceType }}</td>
      </ng-container>
      <ng-container matColumnDef="paymentMethod">
        <th mat-header-cell *matHeaderCellDef>Payment Method</th>
        <td mat-cell *matCellDef="let element">{{ element.paymentMethod }}</td>
      </ng-container>
      <ng-container matColumnDef="notificationMethod">
        <th mat-header-cell *matHeaderCellDef>Notification Method</th>
        <td mat-cell *matCellDef="let element">
          {{ element.notificationMethod }}
        </td>
      </ng-container>

      <ng-container matColumnDef="MSISDN">
        <th mat-header-cell *matHeaderCellDef>MSISDN</th>
        <td mat-cell *matCellDef="let element">{{ element.MSISDN }}</td>
      </ng-container>
      <ng-container matColumnDef="modemID">
        <th mat-header-cell *matHeaderCellDef>Modem ID</th>
        <td mat-cell *matCellDef="let element">{{ element.modemID }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email Address</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="walletBalance">
        <th mat-header-cell *matHeaderCellDef>Wallet Balance</th>
        <td mat-cell *matCellDef="let element">{{ element.walletBalance }}</td>
      </ng-container>
      <ng-container matColumnDef="walletMinBalance">
        <th mat-header-cell *matHeaderCellDef>Wallet Min Balance</th>
        <td mat-cell *matCellDef="let element">
          {{ element.walletMinBalance }}
        </td>
      </ng-container>
      <ng-container matColumnDef="walletMaxBalance">
        <th mat-header-cell *matHeaderCellDef>Wallet Max Balance</th>
        <td mat-cell *matCellDef="let element">
          {{ element.walletMaxBalance }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf="dataSource.length === 0">No records found</div>
  </div>
</div>
