<div class="All-tournaments">
  <div class="All-tournaments-buttons u-dfCenterBtw">
    <button
      class="All-tournaments-buttons-button btn global-btn-yellow left active"
    >
      {{ "HOME.TOURNAMENT.ONGOING_TOURNAMENT" | translate }}
    </button>
    <button class="All-tournaments-buttons-button btn global-btn-black right">
      {{ "HOME.TOURNAMENT.ALL_TOURNAMENT" | translate }}
    </button>
  </div>
  <div
    *ngFor="let tournament of tournaments"
    class="All-tournaments-card u-dfBtw"
  >
    <div class="All-tournaments-card-left">
      <h3 class="All-tournaments-card-left-title">{{ tournament?.name }}</h3>
      <p class="All-tournaments-card-left-subtitle">
        {{ tournament?.bracketType.replace("_", " ") | uppercase }}
      </p>
      <div class="All-tournaments-card-details">
        <div class="All-tournaments-card-details-item u-dfCenterStart">
          <div
            class="All-tournaments-card-details-item-icon"
            [inlineSVG]="'assets/images/Tournament/calendar-v2.svg'"
            aria-label="My icon"
          ></div>
          {{ tournament?.startDate | date: "MMMM d, y" }} |
          {{ !isNumber(timezone) ? (tournament?.startDate | date: "shortTime") : ( tournament?.startDate | date: "longTime") }} {{ !isNumber(timezone) ? timezone : '' }}
        </div>
        <div
          class="All-tournaments-card-details-item u-dfCenterStart"
          *ngIf="tournament?.regionsAllowed.toString().length > 0"
        >
          <div
            class="All-tournaments-card-details-item-icon"
            [inlineSVG]="'assets/images/Tournament/location.svg'"
            aria-label="My icon"
          ></div>
          {{
            tournament?.regionsAllowed.toString().length > 10
              ? (tournament?.regionsAllowed.toString() | slice: 0:10) + "..."
              : tournament?.regionsAllowed.toString()
          }}
        </div>
        <div class="All-tournaments-card-details-item-block">
          <div
            class="All-tournaments-card-details-item u-dfCenterStart events"
            *ngIf="tournament?.totalPrice > 0"
          >
            <div
              class="All-tournaments-card-details-item-icon"
              [inlineSVG]="'assets/images/Tournament/trophy.svg'"
              aria-label="My icon"
            ></div>
            {{ tournament?.prizeCurrency }} {{ tournament?.totalPrice }}
          </div>
          <div class="All-tournaments-card-details-item u-dfCenterStart">
            <div
              class="All-tournaments-card-details-item-icon"
              [inlineSVG]="'assets/images/Tournament/participants.svg'"
              aria-label="My icon"
            ></div>
            {{ tournament?.participantJoined }} of
            {{ tournament?.maxParticipants }}
            {{ "HOME.SECTIONB.TEAMS" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="All-tournaments-card-right">
      <p class="All-tournaments-card-right-price" *ngIf="tournament?.isPaid">
        {{ "HOME.SECTIONB.PAID" | translate }}
      </p>
      <p class="All-tournaments-card-right-price" *ngIf="!tournament?.isPaid">
        {{ "HOME.SECTIONB.FREE" | translate }}
      </p>
      <div class="All-tournaments-card-right-footer u-dfCenterEnd">
        <!-- <div
          class="All-tournaments-card-right-footer-share"
          [inlineSVG]="'assets/images/Tournament/share.svg'"
          (click)="openSocialShareComponent()"
        ></div> -->
        <button
          class="All-tournaments-card-right-footer-button btn btn-outline-light"
          [routerLink]="AppHtmlRoutes.tournamentView + '/' + tournament?._id"
          *ngIf="
            getRegistrationStatus(
              tournament?.startDate,
              tournament?.startTime,
              tournament?.isSeeded,
              tournament?.isFinished,
              tournament?.maxParticipants,
              tournament?.participantJoined
            ) == 'Open'
          "
        >
          {{ "HOME.SECTIONB.BTN5" | translate }}
        </button>
        <button
          class="All-tournaments-card-right-footer-button btn btn-outline-light"
          [routerLink]="AppHtmlRoutes.tournamentView + '/' + tournament?._id"
          *ngIf="
            getRegistrationStatus(
              tournament?.startDate,
              tournament?.startTime,
              tournament?.isSeeded,
              tournament?.isFinished,
              tournament?.maxParticipants,
              tournament?.participantJoined
            ) == 'Closed'
          "
        >
          {{ "HOME.SECTIONB.BTN3" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
