<div class="Team" [ngClass]="{ 'Team-disqualify': isDisqualify }">
    <ng-container *ngIf="isShowCountryFlag">
        <img
          class="Team-avatar"
          *ngIf="!countryCode"
          [lazyLoad]="'assets/images/Match/no_flag.png'"
        />
    
        <div class="global-flag-icon" *ngIf="countryCode">
          <flag-icon [country]="countryCode" squared></flag-icon>
        </div>
      </ng-container>
    
      <ng-container *ngIf="!isShowCountryFlag">
        <img
          class="Team-avatar"
          [lazyLoad]="
            bye
              ? 'assets/images/Match/bye.jpg'
              : logo || 'assets/images/Match/gamer-image.png'
          "
        />
      </ng-container>
    
      <h6 class="Team-title">
        {{ (bye ? "BYE" : teamName | limitString: 14:"...": null) }}
      </h6>
    
      <h6 class="Team-set-score" [hidden]="bye">
        {{ setScore }}
      </h6>
</div>
