@import "shared";

.Profile {
  margin-top: 76px;

  @include md {
    margin-top: 0;
  }

  &-nav {
    margin-bottom: 60px;

    @include lg {
      flex-wrap: wrap;
    }

    @include md {
      display: none;
    }

    &-link {
      @extend %global-text-body;
      letter-spacing: px2vw-xl(0.18px);
      transition: all 100ms linear;

      @include lg {
        letter-spacing: initial;
      }

      &:hover,
      &.is-active {
        color: var(--darkgray);
        background: transparent;
      }

      &.is-dropdown {
        font-size: px2vw-xl(20px);
        background-color: var(--base-white);
        color: var(--base-black);

        @include lg {
          font-size: px2vw-lg(20px);
        }

        @include md {
          font-size: px2vw-md(20px);
        }

        @include sm {
          font-size: px2vw-sm(20px);
        }
      }
    }

    &-item {
      padding-bottom: px2vw-xl(3px);
      border-bottom: px2vw-xl(6px) solid transparent;

      @include lg {
        padding-bottom: px2vw-lg(3px);
        border-bottom-width: px2vw-lg(6px);
      }

      @include md {
        padding-bottom: px2vw-md(3px);
        border-bottom-width: px2vw-md(6px);
        margin: 0 0 px2vw-md(4px);
        display: inline-block;
      }

      @include sm {
        padding-bottom: px2vw-sm(3px);
        border-bottom-width: px2vw-sm(6px);
        margin: 0 0 px2vw-sm(4px);
      }

      &::after {
        display: none;
      }

      &:hover,
      &[aria-expanded="true"],
      &.is-active {
        color: var(--base-yellow);
        border-bottom-color: var(--base-yellow);
      }
    }

    &-links {
      @extend %global-H4;
      margin-right: px2vw-xl(56px);

      @include lg {
        margin-right: px2vw-lg(46px);
        margin-bottom: px2vw-lg(30px);
      }

      @include md {
        margin-right: px2vw-md(36px);
      }

      @include sm {
        margin-right: px2vw-sm(26px);
      }
    }
  }

  &-mob {
    margin-bottom: 20px;
    border-radius: px2vw-xl(10px);
    background: rgba(0, 0, 0, 0.2);
    display: none;

    @include md {
      display: block;
    }

    &-wp {
      padding: 30px 30px 0;
    }

    &-btn {
      color: var(--base-white);

      &-menu {
        display: block;
      }

      &-close {
        display: none;
      }

      &[aria-expanded="true"] &-menu {
        display: none;
      }

      &[aria-expanded="true"] &-close {
        display: block;
      }
    }
  }

  &-box {
    border-radius: px2vw-xl(10px);
    color: var(--base-black);

    @include lg {
      border-radius: px2vw-lg(10px);
    }

    @include md {
      border-radius: px2vw-md(10px);
    }

    @include sm {
      border-radius: px2vw-sm(10px);
    }
  }
}
