@import "shared";

:host {
  display: block;
}

.Comments {
  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-show-hide {
    @extend %global-H7;
    margin-bottom: px2vw-xl(22px);
    position: relative;
    border: none;
    padding: px2vw-xl(20px);
    width: 100%;
    text-align: center;
    background: var(--gradient-bg);

    @include lg {
      margin-bottom: px2vw-lg(22px);
      padding: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(22px);
      padding: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(22px);
      padding: px2vw-sm(20px);
    }

    &::after {
      position: absolute;
      content: "";
      right: 39%;
      top: 47%;
      height: px2vw-xl(5px);
      width: px2vw-xl(10px);
      transition: $global-transition;
      background-image: url(/assets/icons/arrow-down.svg);

      @include lg {
        height: px2vw-lg(5px);
        width: px2vw-lg(10px);
      }

      @include md {
        height: px2vw-md(5px);
        width: px2vw-md(10px);
      }

      @include sm {
        height: px2vw-sm(5px);
        width: px2vw-sm(10px);
      }
    }

    &.is-active::after {
      top: 44%;
      transform: rotate(180deg);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &-list {
    margin-bottom: 0;
  }

  &-item {
    @extend %u-dfStart;
    position: relative;

    &.replies::before {
      position: absolute;
      content: "";
      top: px2vw-xl(50px);
      left: px2vw-xl(20px);
      bottom: px2vw-xl(34px);
      width: px2vw-xl(1px);
      background-color: var(--white-smoke);

      @include lg {
        top: px2vw-lg(50px);
        left: px2vw-lg(20px);
        bottom: px2vw-lg(34px);
        width: px2vw-lg(1px);
      }

      @include md {
        top: px2vw-md(50px);
        left: px2vw-md(20px);
        bottom: px2vw-md(34px);
        width: px2vw-md(1px);
      }

      @include sm {
        top: px2vw-sm(50px);
        left: px2vw-sm(20px);
        bottom: px2vw-sm(34px);
        width: px2vw-sm(1px);
      }
    }
  }

  &-item-image {
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    border-radius: 50%;
    height: px2vw-xl(40px);
    width: px2vw-xl(40px);
    background-size: cover;
    background-position: center;

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
    }
  }

  &-item-content {
    width: 100%;
  }

  &-item-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(18px);

    @include lg {
      margin-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
    }
  }

  &-item-header-name {
    @extend %subtitle-1;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  &-item-header-date {
    @extend %caption;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-item-header-menu {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);
    background-color: transparent;

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }

    mat-icon {
      height: auto;
      width: auto;
      font-size: px2vw-xl(24px);
      color: var(--white);

      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }
  }

  &-item-block {
    padding-right: px2vw-xl(40px);

    @include lg {
      padding-right: px2vw-lg(40px);
    }

    @include md {
      padding-right: px2vw-md(40px);
    }

    @include sm {
      padding-right: px2vw-sm(40px);
    }
  }

  &-item-message {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    max-width: px2vw-xl(710px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      max-width: none;
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-item-controls {
    @extend %u-dfCenter;
    padding-bottom: px2vw-xl(32px);

    @include lg {
      padding-bottom: px2vw-lg(32px);
    }

    @include md {
      padding-bottom: px2vw-md(32px);
    }

    @include sm {
      padding-bottom: px2vw-sm(32px);
    }
  }

  &-item-control {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(16px);

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-item-control-icon {
    height: auto;
    width: auto;
    color: var(--white);
    cursor: pointer;
    font-size: px2vw-xl(20px);
    transition: $global-transition;

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &.like.is-active {
      &,
      &:hover {
        color: var(--color-sunset-orange) !important;
      }
    }
  }

  &-item-control-value {
    @extend %body-2;
    margin-left: px2vw-xl(4px);

    @include lg {
      margin-left: px2vw-lg(4px);
    }

    @include md {
      margin-left: px2vw-md(4px);
    }

    @include sm {
      margin-left: px2vw-sm(4px);
    }
  }

  &-item-control-reply {
    @extend %body-2;
    background-color: transparent;
    transition: $global-transition;
    color: var(--color-secondary);
    cursor: pointer;

    &:hover {
      color: var(--color-primary);
    }
  }

  &-comment-reply {
    padding-bottom: px2vw-xl(32px);

    @include lg {
      padding-bottom: px2vw-lg(32px);
    }

    @include md {
      padding-bottom: px2vw-md(32px);
    }

    @include sm {
      padding-bottom: px2vw-sm(32px);
    }
  }

  &-please-login {
    margin-top: px2vw-xl(22px);

    @include lg {
      margin-top: px2vw-lg(22px);
    }

    @include md {
      margin-top: px2vw-md(22px);
    }

    @include sm {
      margin-top: px2vw-sm(22px);
    }
  }

  &-add {
    margin-top: px2vw-xl(34px);
    border-top: px2vw-xl(2px) solid var(--white-light);
    padding-top: px2vw-xl(56px);

    @include lg {
      margin-top: px2vw-lg(34px);
      border-top-width: px2vw-lg(2px);
      padding-top: px2vw-lg(56px);
    }

    @include md {
      margin-top: px2vw-md(34px);
      border-top-width: px2vw-md(2px);
      padding-top: px2vw-md(56px);
    }

    @include sm {
      margin-top: px2vw-sm(34px);
      border-top-width: px2vw-sm(2px);
      padding-top: px2vw-sm(56px);
    }
  }

  &-add-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-xl(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-manage {
    @extend %u-dfCenterEnd;
    flex-shrink: 0;
    margin-left: auto;
  }

  &-manage-button {
    margin-left: px2vw-xl(8px);

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-manage-button-menu {
    width: px2vw-xl(24px);
    height: px2vw-xl(24px);
    background-color: transparent;

    @include lg {
      width: px2vw-lg(24px);
      height: px2vw-lg(24px);
    }

    @include md {
      width: px2vw-md(24px);
      height: px2vw-md(24px);
    }

    @include sm {
      width: px2vw-sm(24px);
      height: px2vw-sm(24px);
    }
  }

  &-manage-button-menu-icon {
    font-size: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  &-manage-menu-link {
    .link,
    .icon {
      color: var(--white-medium);
    }

    &:hover .icon {
      color: var(--color-primary);
    }
  }
}
