
<div
  class="SiteConfigurations-main SiteConfigurations-boxC"
  *ngIf="!showAdList"
>
  <div class="SiteConfigurations-boxC-info">
    <div class="SiteConfigurations-boxC-info-title">
      {{
        "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_HEADER_BANNER_IMAGE" | translate
      }}
    </div>
    <form [formGroup]="ownerForm" novalidate (ngSubmit)="upload()">
      <input
        type="file"
        id="bannerFileUpload"
        style="opacity: 0; height: 0px; width: 0px"
      />
      <div
        #bannerUpload
        id="bannerUpload"
        class="SiteConfigurations-boxC-banner"
      >
        <div class="SiteConfigurations-boxC-banner-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.BANNER" | translate }} 1038px X
          400px <br />
          <button
            type="button"
            (click)="bannerUploader()"
            class="btn btn-primary filebrowser-btn"
          >
            {{ "ADMIN.SITE_CONFIGURATION.BUTTON.UPLOAD_IMAGE" | translate }}
          </button>
        </div>
      </div>
      <div class="SiteConfigurations-boxC-footer">
        <div class="SiteConfigurations-boxC-footer-left">
          <div formGroupName="title">
            <mat-form-field
              class="global-MatField LogReg-input"
              appearance="outline"
              *ngFor="let l of language"
            >
              <mat-label
                >{{
                  "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_TITLE" | translate
                }}
                ( {{ l?.value }} )</mat-label
              >
              <input
                matInput
                type="text"
                [formControlName]="l?.key"
                id="title"
              />
              <mat-error
                *ngIf="
                  (ownerForm?.get('title')?.controls)[l?.key].touched &&
                  (ownerForm?.get('title')?.controls)[l?.key].errors
                "
                >{{
                  (ownerForm?.get("title")?.controls)[l?.key].errors
                    | errorPipe
                    | translate
                }}</mat-error
              >
            </mat-form-field>
          </div>
          <div formGroupName="sub_title">
            <mat-form-field
              class="global-MatField LogReg-input"
              appearance="outline"
              *ngFor="let l of language"
            >
              <mat-label
                >{{
                  "ADMIN.SITE_CONFIGURATION.SUB_PAGE.SUB_TITLE" | translate
                }}
                ( {{ l?.value }} )
              </mat-label>
              <input
                matInput
                type="text"
                [formControlName]="l?.key"
                id="description"
              />
              <mat-error
                *ngIf="
                  (ownerForm?.get('sub_title')?.controls)[l?.key].touched &&
                  (ownerForm?.get('sub_title')?.controls)[l?.key].errors
                "
                >{{
                  (ownerForm?.get("sub_title")?.controls)[l?.key].errors
                    | errorPipe
                    | translate
                }}</mat-error
              >
            </mat-form-field>
          </div>
          <div formGroupName="button_text">
            <mat-form-field
              class="global-MatField LogReg-input"
              appearance="outline"
              *ngFor="let l of language"
            >
              <mat-label
                >{{
                  "ADMIN.SITE_CONFIGURATION.SUB_PAGE.BUTTON_TEXT" | translate
                }}
                ( {{ l?.value }} )
              </mat-label>
              <input matInput type="text" [formControlName]="l?.key" />
              <mat-error
                *ngIf="
                  (ownerForm?.get('button_text')?.controls)[l?.key].touched &&
                  (ownerForm?.get('button_text')?.controls)[l?.key].errors
                "
                >{{
                  (ownerForm?.get("button_text")?.controls)[l?.key].errors
                    | errorPipe
                    | translate
                }}</mat-error
              >
            </mat-form-field>
          </div>
          <mat-form-field
            class="global-MatField LogReg-input"
            appearance="outline"
          >
            <mat-label>{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_DESTINATION" | translate
            }}</mat-label>
            <input matInput type="url" formControlName="destination" id="url" />
            <mat-error *ngIf="hasError('destination', 'required')">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.DESTINATION_REQUIRED"
                | translate
            }}</mat-error>
            <mat-error *ngIf="hasError('destination', 'pattern')">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UNFORMATTED_URL_FORMAT"
                | translate
            }}</mat-error>
          </mat-form-field>
          <mat-form-field
            class="global-MatField LogReg-input"
            appearance="outline"
          >
            <mat-label>{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ORDER_NUMBER" | translate
            }}</mat-label>
            <input matInput type="number" formControlName="order" />
            <mat-error *ngIf="hasError('order', 'required')">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ORDER_REQUIRED" | translate
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="SiteConfigurations-footer-btns">
        <button class="btn btn-cancel" (click)="toggleBannerList()">
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
        </button>
        <button type="submit" class="btn is-sm btn-theme">
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.SAVE" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<div class="SiteConfigurations-main SiteConfigurations-boxB" *ngIf="showAdList">
  <div class="SiteConfigurations-footer-btns">
    <button class="btn is-sm btn-theme" (click)="toggleBannerList()">
      + {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_BANNER" | translate }}
    </button>
  </div>
  <div class="global-scrollbar">
    <ngx-datatable
      #table
      class="global-DataTable"
      [rows]="advertisementList"
      [columnMode]="'force'"
      [headerHeight]="'auto'"
      [footerHeight]="'auto'"
      [rowHeight]="'auto'"
      [limit]="50"
    >
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ITEM' | translate }}"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.TITLE' | translate }}"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.title | customTranslate: (languageService?.language | async) }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ORDER' | translate }}"
      >
        <ng-template
          let-rowIndex="rowIndex"
          let-row="row"
          ngx-datatable-cell-template
        >
          <input
            type="number"
            id="orderInput"
            (focusout)="updateRow($event, 'order', row['_id'], rowIndex)"
            class="SiteConfigurations-boxB-item-input-order"
            [value]="row.order"
            [disabled]="!isEditable[rowIndex]"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="">
        <ng-template
          #buttonsTemplate
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <button
            mat-icon-button
            color="primary"
            ngbTooltip="{{ 'ADMIN_TOOLTIP.CONFIGURE_BANNER' | translate }}"
            (click)="advertisementAction('view', row)"
          >
            <mat-icon class="SiteConfigurations-tableBtn">settings</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            ngbTooltip="{{ 'ADMIN_TOOLTIP.EDIT_ORDER' | translate }}"
            (click)="
              this.isEditable = {};
              this.isEditable[rowIndex] = !this.isEditable[rowIndex]
            "
            class="SiteConfigurations-tableBtn"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="updateRow($event, 'status', row['_id'], rowIndex)"
            mat-icon-button
            color="primary"
            ngbTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
            class="SiteConfigurations-tableBtn"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>

</div>
