@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.Team-details {
  padding: px2vw-xl(30px);
  color: var(--black);
  text-align: center;

  @include lg {
    padding: px2vw-lg(30px);
  }

  @include md {
    padding: 0;
  }

  &-title {
    font-size: px2vw-xl(24px);
    margin-bottom: px2vw-xl(40px);
    border-bottom: px2vw-xl(2px) solid var(--color-primary);
    text-transform: uppercase;
    display: inline-block;

    @include lg {
      font-size: px2vw-lg(24px);
      margin-bottom: px2vw-lg(40px);
      border-bottom: px2vw-lg(2px) solid var(--color-primary);
    }

    @include md {
      font-size: px2vw-md(24px);
      margin-bottom: px2vw-md(40px);
      border-bottom: px2vw-md(2px) solid var(--color-primary);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      margin-bottom: px2vw-sm(40px);
      border-bottom: px2vw-sm(2px) solid var(--color-primary);
    }
  }

  &-text {
    font-size: px2vw-xl(24px);
    max-width: px2vw-xl(400px);

    @include lg {
      font-size: px2vw-lg(24px);
      max-width: px2vw-lg(400px);
    }

    @include md {
      font-size: px2vw-md(24px);
      max-width: px2vw-md(400px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      max-width: px2vw-sm(400px);
    }
  }

  &-footer {
    margin-top: px2vw-xl(40px);

    @include lg {
      margin-top: px2vw-lg(40px);
    }

    @include md {
      margin-top: px2vw-md(40px);
    }

    @include sm {
      margin-top: px2vw-sm(40px);
    }

    button {
      margin: 0 px2vw-xl(20px);

      @include lg {
        margin: 0 px2vw-lg(20px);
      }

      @include md {
        margin: 0 px2vw-md(20px);
      }

      @include sm {
        margin: 0 px2vw-sm(20px);
      }
    }
  }

  &-bullet {
    text-align: initial;

    li {
      list-style-type: circle;
    }
  }
}
