<div class="TournamentDate" [formGroup]="customFormGroup">
  <input
    class="TournamentDate-field"
    [matDatepicker]="picker"
    [placeholder]="'CREATE_TOURNAMENT.SELECT_DATE.DATE_PLACEHOLDER' | translate" [formControlName]="customFormControlName"
    [min]="minDate"
    (ngModelChange)="onSubmit()"
    [disabled]="true"
    [min]="minDate"
  />

  <mat-datepicker #picker  disabled="false" class="datepicker" ></mat-datepicker>

  <img
    class="TournamentDate-icon"
    (click)="picker.open()"
    src="assets/icons/calendar.svg"
    alt="date"
  />
</div>
<!-- {{date}} -->
