<div class="abouts">
  <div class="about-container">
    <!-- about -->
    <div class="about">
      <h2>{{ "SOCIAL_FEED.LABELS.ABOUT" | translate }}</h2>
      <div class="mexico">
        <img src="assets/images/Profile/position.png" />
        <p>
          {{ user?.country }} {{ user?.country && user?.state ? " • " : null }}
          {{ user?.state }}
        </p>
      </div>
      <div class="friends">
        <img src="assets/images/Profile/friend.png" />
        <p>
          <span> {{ user?.preference?.followersCount | number }}</span>
          {{ "SOCIAL_FEED.LABELS.FOLLOWER" | translate }} •
          <span>{{ user?.preference?.followingCount | number }}</span>
          {{ "SOCIAL_FEED.LABELS.FOLLOWING" | translate }}
        </p>
      </div>
      <div class="bio">
        <p>{{ "SOCIAL_FEED.LABELS.BIO" | translate }}</p>
        <p>{{ user?.shortBio | translate }}</p>
        <div>
          <button
            *ngIf="isShowFollow"
            class="Header-button button-primary register"
            (click)="changeFollowUserStatus(user?._id)"
          >
            <img src="assets/images/Profile/icon-addfr.png" />
            <span>{{
              isFollow
                ? ("SOCIAL_FEED.BUTTON.UNFOLLOW" | translate)
                : ("SOCIAL_FEED.BUTTON.FOLLOW" | translate)
            }}</span>
          </button>
        </div>
      </div>
    </div>
    <!-- liked -->
    <div class="liked about">
      <h2>{{ "SOCIAL_FEED.LABELS.LINKED_ACCOUNTS" | translate }}</h2>
      <div class="social" *ngIf="user?.socialAccounts?.length != 0">
        <h3>{{ "SOCIAL_FEED.LABELS.SOCIAL" | translate }}</h3>
        <div class="icon-socials" *ngFor="let item of user?.socialAccounts">
          <span *ngIf="item?.media">
            <a href="{{ item?.profileUrlLink }}">
              <img [src]="getIconSocialAccountSrc(item?.media)" />
            </a>
          </span>
        </div>
      </div>
      <!-- BOX GAMES -->
      <div class="games">
        <h3>{{ "SOCIAL_FEED.LABELS.GAME" | translate }}</h3>
        <div
          class="box-games"
          *ngFor="let item of user?.preference?.gameDetails"
        >
          <div class="boxgame-left">
            <div class="img-box-games">
              <img src="{{ item?.image }}" />
            </div>
            <div class="text-box-games">
              <p>{{ item?.userGameId }}</p>
              <p>{{ item?.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- country -->
    <!-- <div class="country about"> -->
    <!-- EPAND 1 -->
    <!-- <h2>{{ "My contributions" | translate }}</h2>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="img-kiem">
              <img src="../../../../assets/images/Profile/kiem.png" />
            </div>
            <div class="">
              <p>Tournaments hosted</p>
              <p>120</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header> -->
    <!-- BOX GAMES -->
    <!-- <div class="games">
          <div class="box-games" *ngFor="let item of boxGamesExpand">
            <div class="boxgame-left">
              <div class="img-box-games">
                <img src="{{ item.img }}" />
              </div>
              <div class="text-box-games">
                <p>{{ item.text_1 | translate }}</p>
                <p>{{ item.text_2 | translate }}</p>
              </div>
            </div>
          </div>
          <p>VIEW ALL</p>
        </div>
      </mat-expansion-panel> -->

    <!-- EPAND 2 -->
    <!-- <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="img-lich">
              <img src="../../../../assets/images/Profile/lich.png" />
            </div>
            <div class="">
              <p>Articles created</p>
              <p>24</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header> -->
    <!-- BOX GAMES -->
    <!-- <div class="games">
          <div class="box-games" *ngFor="let item of boxGamesExpand">
            <div class="boxgame-left">
              <div class="img-box-games">
                <img src="{{ item.img }}" />
              </div>
              <div class="text-box-games">
                <p>{{ item.text_1 | translate }}</p>
                <p>{{ item.text_2 | translate }}</p>
              </div>
            </div>
          </div>
          <p>VIEW ALL</p>
        </div>
      </mat-expansion-panel> -->

    <!-- EPAND 3 -->
    <!-- <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="img-star">
              <img src="../../../../assets/images/Profile/star.png" />
            </div>
            <div class="">
              <p>Articles read</p>
              <p>100</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header> -->
    <!-- BOX GAMES -->
    <!-- <div class="games">
          <div class="box-games" *ngFor="let item of boxGamesExpand">
            <div class="boxgame-left">
              <div class="img-box-games">
                <img src="{{ item.img }}" />
              </div>
              <div class="text-box-games">
                <p>{{ item.text_1 | translate }}</p>
                <p>{{ item.text_2 | translate }}</p>
              </div>
            </div>
          </div>
          <p>VIEW ALL</p>
        </div>
      </mat-expansion-panel>
    </div> -->

    <!-- SUGGESTED -->
    <!-- <div class="country about"> -->
    <!-- EPAND 1 -->
    <!-- <h2>Suggested for you</h2>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="mat-expand-suggested"
      >
        <mat-expansion-panel-header class="mat-head-suggested">
          <mat-panel-title>
            <div>
              <p>Tournaments</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header> -->
    <!-- BOX GAMES -->
    <!-- <div class="games">
          <div class="box-games" *ngFor="let item of suggestedExpand">
            <div class="boxgame-left">
              <div class="img-box-games">
                <img src="{{ item.img }}" />
              </div>
              <div class="text-box-games">
                <p>{{ item.text_1 | translate }}</p>
                <p>{{ item.text_2 | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel> -->

    <!-- EPAND 2 -->
    <!-- <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        class="mat-expand-suggested"
      >
        <mat-expansion-panel-header class="mat-head-suggested">
          <mat-panel-title>
            <div class="">
              <p>Guides</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header> -->
    <!-- BOX GAMES -->
    <!-- <div class="games">
          <div class="box-games" *ngFor="let item of boxGamesExpand">
            <div class="boxgame-left">
              <div class="img-box-games">
                <img src="{{ item.img }}" />
              </div>
              <div class="text-box-games">
                <p>{{ item.text_1 | translate }}</p>
                <p>{{ item.text_2 | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel> -->

    <!-- EPAND 3 -->
    <!-- <mat-expansion-panel
        (opened)="panelOpenState = true"
        class="mat-expand-suggested"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header class="mat-head-suggested">
          <mat-panel-title>
            <div class="">
              <p>Articles / Videos</p>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header> -->
    <!-- BOX GAMES -->
    <!-- <div class="games">
          <div class="box-games" *ngFor="let item of boxGamesExpand">
            <div class="boxgame-left">
              <div class="img-box-games">
                <img src="{{ item.img }}" />
              </div>
              <div class="text-box-games">
                <p>{{ item.text_1 | translate }}</p>
                <p>{{ item.text_2 | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel> -->
    <!-- </div> -->
  </div>
</div>
