<div class="spotlight-wrpr homewrpr">
  <div class="spotlight-title1">
    <img src="../../assets/images/Home/Featured.png" alt="" />
  </div>
  <div class="spotlight-title2">
    <img src="../../assets/images/Home/Articles.png" alt="" />
  </div>
  <div class="spotlight-title1_m d-none hidden-lg-down hidden">
    <img src="../../assets/images/Home/Featured_m.png" alt="" />
  </div>
  <div class="spotlight-title2_m d-none hidden-lg-down hidden">
    <img src="../../assets/images/Home/Articles_m.png" alt="" />
  </div>
  <div class="spotlight-box">
    <div class="spotlight-info-left">
      <div class="bnrimg mockupimage">
        <div class="info">
          <div class="name">
            {{ spoLightList[0]?.fullText }}
          </div>
          <div>{{ spoLightList[0]?.createdDate | date }}</div>
        </div>
      </div>
    </div>
    <div class="spotlight-info-right">
      <div class="spotlight-info-right-list" *ngIf="spoLightList.length">
        <div class="spotlight-card" *ngFor="let spoLight of spoLightList" >
          <div
           [routerLink]="[AppHtmlRoutes.article, spoLight?.slug]"
            class="spotlight-card-image curserPointer"
            [lazyLoad]="spoLight?.authorDetails?.profilePicture"
          ></div>
          <div>
            <div class="info">
              <h4 class="name">{{ spoLight?.fullText }}</h4>
              <p>{{ spoLight?.createdDate | date }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
