<div
  *ngIf="showBox"
  class="bts-popup is-visible popup-wrapper global-dialog-wrapper"
>
  <button class="close" (click)="closeModal()">
    <img class="close-icon" src="/assets/icons/close-white.svg" />
  </button>
  <div class="mt-3">
    <img [src]="data?.image" height="80" width="80" />
  </div>
  <h4 class="mt-3 mb-3">{{ data.header }}</h4>
  <p class="mt-3">{{ data.description }}</p>
  <button
    (click)="redirectLink(data.destination)"
    class="Tournament-slider-button btn is-sm mt-3"
  >
    {{ "HOME.OK" | translate }}
  </button>
</div>
