@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

::ng-deep .carousel-indicators {
  left: px2vw-xl(108px);
  bottom: px2vw-xl(74px);

  @include lg {
    left: px2vw-lg(60px);
    bottom: px2vw-lg(30px);
  }

  @include md {
    left: px2vw-md(28px);
    bottom: px2vw-md(30px);
  }

  @include sm {
    left: px2vw-sm(28px);
    bottom: px2vw-sm(20px);
  }
}

.Tournament-slider {
  position: relative;
  padding: px2vw-xl(125px) px2vw-xl(110px) px2vw-xl(58px);
  border-radius: px2vw-xl(8px);
  height: px2vw-xl(560px);
  overflow: hidden;

  @include lg {
    border-radius: px2vw-lg(8px);
    height: px2vw-lg(440px);
    padding: px2vw-lg(50px) px2vw-lg(62px) px2vw-lg(60px);
  }

  @include md {
    border-radius: px2vw-md(8px);
    height: px2vw-md(440px);
    padding: px2vw-md(50px) px2vw-md(30px) px2vw-md(60px);
  }

  @include sm {
    border-radius: px2vw-sm(8px);
    height: px2vw-sm(320px);
    padding: px2vw-sm(15px) px2vw-sm(28px) px2vw-sm(40px);
  }

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-block {
    position: relative;
    text-align: left;
    max-width: px2vw-xl(510px);
    width: 100%;
    z-index: 1;

    @include lg {
      max-width: px2vw-lg(520px);
    }

    @include md {
      max-width: px2vw-md(500px);
    }

    @include sm {
      max-width: none;
    }
  }

  &-title {
    margin-bottom: px2vw-xl(24px);
    font-family: "stc-forward-bold", sans-serif;
    font-size: px2vw-xl(56px);
    line-height: px2vw-xl(72px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(56px);
      line-height: px2vw-lg(72px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(56px);
      line-height: px2vw-md(64px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
      font-size: px2vw-sm(40px);
      line-height: px2vw-sm(50px);
    }
  }

  &-text {
    margin-bottom: px2vw-xl(30px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-button {
    color: var(--base-white);
  }
  &-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
  }
}
