<label [hidden]="hideTitle" class="global-text-body">
  {{ title | translate }} {{ !readOnly ? "*" : "" }}
  <span [hidden]="!alertMessage">{{ alertMessage | translate }}</span></label
>

<div class="counter" [formGroup]="customFormGroup">
  <div class="counter__container" [class.pointer-event-none]="readOnly">
    <button (click)="decrement()" class="counter__button">-</button>

    <input
      class="counter__input"
      (change)="counter($event.target.value)"
      [formControlName]="customFormControlName"
      type="number"
      OnlyNumber
    />

    <button (click)="increment()" class="counter__button">+</button>
  </div>
</div>

<div
  class="error"
  *ngIf="
    (customFormGroup?.controls)[customFormControlName]?.touched &&
    (customFormGroup?.controls)[customFormControlName]?.errors?.required
  "
>
  <strong>{{ "ERROR.REQUIRED" | translate }}</strong>
</div>

<div
  class="error"
  *ngIf="(customFormGroup?.controls)[customFormControlName]?.errors?.max"
>
  <strong>
    {{ "ERROR.MAX_LIMIT" | translate }}
    {{ (customFormGroup?.controls)[customFormControlName].errors?.max?.max }}
  </strong>
</div>

<div
  class="error"
  *ngIf="(customFormGroup?.controls)[customFormControlName]?.errors?.min"
>
  <strong>
    {{ "ERROR.MIN_LIMIT" | translate }}
    {{ (customFormGroup?.controls)[customFormControlName].errors?.min?.min }}
  </strong>
</div>
<div
  class="error"
  *ngIf="
    (customFormGroup?.controls)[customFormControlName]?.touched &&
    (customFormGroup?.controls)[customFormControlName]?.errors
      ?.multiStageConfigError
  "
>
  <strong>{{ "ERROR.WIN_PER_GROUP" | translate }}</strong>
</div>
