@import "shared";

:host {
  display: block;
}

.AboutTournament {
  @include lg {
    margin-top: px2vw-lg(130px);
  }

  @include md {
    margin-top: 0;
  }

  &-image-block {
    flex-shrink: 0;
    margin-bottom: px2vw-xl(22px);
    padding: px2vw-xl(16px);
    height: px2vw-xl(200px);
    width: 100%;
    background-size: cover;
    background-color: var(--base-01);

    @include lg {
      margin-bottom: px2vw-lg(22px);
      padding: px2vw-lg(16px);
      height: px2vw-lg(200px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
      height: px2vw-md(200px);
      padding: px2vw-md(16px);
      background-position: center;
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
      padding: px2vw-sm(16px);
      height: px2vw-sm(308px);
    }

    .paid-block {
      display: none;
    }

    &.paid .paid-block {
      display: block;
      min-width: px2vw-xl(50px);
      padding: px2vw-xl(6px);
      font-family: "source-sans-pro";
      font-size: px2vw-xl(12px);
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      background-color: var(--base-white);

      @include lg {
        min-width: px2vw-lg(50px);
        padding: px2vw-l (6px);
        font-size: px2vw-lg(12px);
      }

      @include md {
        min-width: px2vw-md(50px);
        padding: px2vw-md(6px);
        font-size: px2vw-md(12px);
      }

      @include sm {
        min-width: px2vw-sm(50px);
        padding: px2vw-sm(6px);
        font-size: px2vw-sm(12px);
      }
    }
  }

  &-wrapper {
  }

  &-info {
    margin-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-info-title {
    margin-bottom: px2vw-xl(4px);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-info-detail {
    margin-bottom: 0;
    color: var(--base-02);
  }

  &-content {
    margin-bottom: px2vw-xl(28px);

    @include lg {
      margin-bottom: px2vw-lg(28px);
      display: flex;
      align-items: flex-end;
    }

    @include md {
      margin-bottom: px2vw-md(28px);
      flex-direction: column;
      align-items: flex-start;
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
    }
  }

  &-about {
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-xl(15px);
    }

    @include md {
      margin-right: 0;
    }
  }

  &-about-item {
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    .prize {
      margin-right: px2vw-xl(20px);

      @include lg {
        margin-right: px2vw-lg(20px);
      }

      @include md {
        margin-right: px2vw-md(20px);
      }

      @include sm {
        margin-right: px2vw-sm(20px);
      }
    }
  }

  &-about-icon-block {
    margin-right: 10px;
    width: 20px;
    height: 15px;
  }

  &-about-icon {
    display: block;
    max-width: 100%;
  }

  &-about-text {
    @extend %global-text-base;

    .separator {
      margin: 0 px2vw-xl(15px);

      @include lg {
        margin: 0 px2vw-lg(15px);
      }

      @include md {
        margin: 0 px2vw-md(15px);
      }

      @include sm {
        margin: 0 px2vw-sm(15px);
      }
    }
  }

  &-author-image-block {
    flex-shrink: 0;
    width: px2vw-xl(32px);
    height: px2vw-xl(32px);
    border-radius: 50%;
    background-color: var(--base-01);
    background-size: cover;
    background-position: center center;

    @include lg {
      width: px2vw-lg(32px);
      height: px2vw-lg(32px);
    }

    @include md {
      width: px2vw-md(32px);
      height: px2vw-md(32px);
    }

    @include sm {
      width: px2vw-sm(32px);
      height: px2vw-sm(32px);
    }
  }

  &-author-content {
    margin-left: px2vw-xl(22px);

    @include lg {
      margin-left: px2vw-lg(22px);
    }

    @include md {
      margin-left: px2vw-md(22px);
    }

    @include sm {
      margin-left: px2vw-sm(22px);
    }
  }

  &-author-title {
    margin-bottom: 0;
    font-size: px2vw-xl(16px);
    color: var(--base-02);
    text-transform: capitalize;

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }
  }

  &-author-subtitle {
    margin-bottom: 0;
  }
}
