<div class="SelectPlatform">
  <div class="SelectPlatform-container u-wp">
    <div class="SelectPlatform-logo">
      <img class="SelectPlatform-logo-icon" src="assets/icons/create-tournament/laptop.svg" alt="icon" />
    </div>

    <main class="SelectPlatform-main">
      <!-- <h1 class="SelectPlatform-title">
        {{ "CREATE_TOURNAMENT.SELECT_PLATFORM.TITLE" | translate }}
      </h1> -->

      <header class="SelectTeams-header">
        <h1 class="SelectTeams-header-title">
          {{"set tournament type "|uppercase}}
        </h1>
        <p class="SelectTeams-header-subtitle">
          {{"Create_Tournament.Select_Platform.Platform_subtitle" | translate }}
        </p>
      </header>
      <!-- <a class="SelectTeams_header_link mt-5 mb-3"> -->
          <a class="SelectTeams_header_link mt-9 fonFamilyheader" >
            {{"Create_Tournament.Select_Platform.Platform_Link" | translate }}
      </a>
      <ul class="SelectPlatform-cards" *ngIf="platforms.length">
        <ng-container *ngFor="let platform of platforms; let i=index">
          <li class="SelectPlatform-card" (click)="setPlatform(i)" [class.active]="selectedPlatformIndex == i">
            <div class="SelectPlatform-card-icon-block">
              <div class="SelectPlatform-card-icon card-icon" [class]="platform.type" [inlineSVG]="platform.icon"></div>
            </div>
            <p class="SelectPlatform-card-name card-name fonFamily">
              {{ platform.name | translate }}
            </p>
          </li>
        </ng-container>
      </ul>
      <a class="SelectTeams_header_link mt-lg-5 fonFamilyheader">
        {{"Create_Tournament.Select_Platform.Tournament_Link" | translate }}
      </a>
      <ul class="SelectPlatform-cards" *ngIf="gametype.length">
        <ng-container *ngFor="let platform of gametype; let i=index">
          <li class="SelectPlatform-card" (click)="setPlatform2(i)"
            [class.active]="selectedPlatformIndex1 == i">
            <div class="SelectPlatform-card-icon-block">
              <div class="SelectPlatform-card-icon card-icon" [class]="platform.type" [inlineSVG]="platform.icon"
                style="width: 70px;"></div>
            </div>
            <p class="SelectPlatform-card-name card-name fonFamily">
              {{ platform.name | translate }}
            </p>
          </li>
        </ng-container>
      </ul>

      <div class="SelectPlatform-buttons">
        <!-- <button class="SelectPlatform-button button-secondary" [routerLink]="AppHtmlRoutes.play">
          {{ "BUTTON.CANCEL" | translate }}
        </button> -->

        <button class="SelectPlatform-button button-icon-secondary" routerBack>
          <mat-icon> arrow_back </mat-icon>
          <span>
            {{ "BUTTON.BACK" | translate }}
          </span>
        </button>

        <button class="SelectPlatform-button button-primary" (click)="next()" [disabled]="isplatform">
          {{ "BUTTON.NEXT" | translate }}
        </button>
      </div>
    </main>
  </div>

  <img class="SelectPlatform-person" src="assets/images/create-tournament/persons/4.png" alt="person image" />
</div>
