@import "shared";

:host {
  display: block;
}

.SelectPlatform {
  overflow: hidden;
  position: relative;
  background: $left-corner-light;

  &-container {
    overflow: scroll;
    height: 34rem;
    @extend %u-dfStretch;
    min-height: 100vh;
    padding-top: px2vw-xl(144px);
    padding-bottom: px2vw-xl(72px);

    @include xl {
      padding-top: px2vw-xl(144px);
      padding-bottom: px2vw-xl(72px);
    }

    @include lg {
      padding-top: px2vw-lg(144px);
      padding-bottom: px2vw-lg(72px);
    }

    @include md {
      padding-top: px2vw-md(144px);
      padding-bottom: px2vw-md(72px);
      flex-direction: column;
    }

    @include sm {
      padding-top: px2vw-sm(144px);
      padding-bottom: px2vw-sm(72px);
      flex-direction: column;
    }
  }

  &-logo {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(40px);
    // height: px2vw-xl(48px);
    // width: px2vw-xl(48px);
    width: 48px;
    height: 48px;

    @include xl {
      margin-right: px2vw-xl(40px);
      height: px2vw-xl(48px);
      width: px2vw-xl(48px);
    }

    @include lg {
      margin-right: px2vw-lg(40px);
      height: px2vw-lg(48px);
      width: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(40px);
      margin-bottom: px2vw-md(24px);
      height: px2vw-md(48px);
      width: px2vw-md(48px);
    }

    @include sm {
      margin-right: px2vw-sm(40px);
      margin-bottom: px2vw-sm(24px);
      height: px2vw-sm(48px);
      width: px2vw-sm(48px);
    }
  }

  &-main {
    @extend %u-dfStart;
    flex-direction: column;
    flex-grow: -1;
    max-width: px2vw-xl(808px);
    padding-top: px2vw-xl(6px);

    @include lg {
      max-width: px2vw-lg(808px);
      padding-top: px2vw-lg(6px);
    }

    @include md {
      max-width: px2vw-md(808px);
      padding-top: px2vw-md(6px);
    }

    @include sm {
      max-width: px2vw-sm(808px);
      padding-top: px2vw-sm(6px);
    }
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(56px);

    @include xl {
      margin-bottom: px2vw-xl(56px);
    }

    @include lg {
      margin-bottom: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(56px);
    }
  }

  &-cards {
    margin-bottom: px2vw-xl(10px);
    display: grid;
    grid-template-columns: repeat(3, 208px);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(16px);

    @include xl {
      margin-bottom: px2vw-xl(30px);
      grid-template-columns: repeat(3, px2vw-xl(208px));
      grid-column-gap: px2vw-xl(16px);
      grid-row-gap: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(30px);
      grid-template-columns: repeat(3, px2vw-lg(208px));
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
      grid-template-columns: repeat(2, 168px);
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
      grid-template-columns: repeat(2, 168px);
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(16px);
    }
  }

  &-card {
    @extend %u-dfCenter;
    flex-direction: column;
    border-radius: px2vw-xl(4px);
    border: 1px solid var(--white-light);
    padding: px2vw-xl(16px);
    background: var(--gradient-bg);
    cursor: pointer;
    transition: $global-transition2;

    @include xl {
      border-radius: px2vw-xl(4px);
      border-width: px2vw-xl(1px);
      padding: px2vw-xl(16px);
    }

    @include lg {
      border-radius: px2vw-lg(4px);
      border-width: px2vw-lg(1px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      border-width: px2vw-md(1px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      border-width: px2vw-sm(1px);
      padding: px2vw-sm(16px);
    }

    &:hover,
    &.active {
      border-color: var(--white);

      .card-icon ::ng-deep svg path {
        fill: var(--color-primary);
      }

      .card-name {
        color: var(--white);
      }
    }
  }

  &-card-icon-block {
    @extend %u-dfCenterCenter;
    height: px2vw-xl(52px);
    width: px2vw-xl(100px);

    @include xl {
      height: px2vw-xl(52px);
      width: px2vw-xl(100px);
    }

    @include lg {
      height: px2vw-lg(52px);
      width: px2vw-lg(100px);
    }

    @include md {
      height: px2vw-md(52px);
      width: px2vw-md(100px);
    }

    @include sm {
      height: px2vw-sm(52px);
      width: px2vw-sm(100px);
    }
  }

  &-card-icon {
    ::ng-deep svg path,
    ::ng-deep svg stroke {
      transition: $global-transition2;
    }

    &.pc ::ng-deep svg {
      height: px2vw-xl(52px);
      width: px2vw-xl(101px);

      @include xl {
        height: px2vw-xl(52px);
        width: px2vw-xl(101px);
      }

      @include lg {
        height: px2vw-lg(52px);
        width: px2vw-lg(101px);
      }

      @include md {
        height: px2vw-md(52px);
        width: px2vw-md(101px);
      }

      @include sm {
        height: px2vw-sm(52px);
        width: px2vw-sm(101px);
      }
    }

    &.console ::ng-deep svg {
      height: px2vw-xl(52px);
      width: px2vw-xl(101px);

      @include xl {
        height: px2vw-xl(52px);
        width: px2vw-xl(101px);
      }

      @include lg {
        height: px2vw-lg(52px);
        width: px2vw-lg(101px);
      }

      @include md {
        height: px2vw-md(52px);
        width: px2vw-md(101px);
      }

      @include sm {
        height: px2vw-sm(52px);
        width: px2vw-sm(101px);
      }
    }

    &.mobile ::ng-deep svg {
      height: px2vw-xl(52px);
      width: px2vw-xl(101px);

      @include xl {
        height: px2vw-xl(52px);
        width: px2vw-xl(101px);
      }

      @include lg {
        height: px2vw-lg(52px);
        width: px2vw-lg(101px);
      }

      @include md {
        height: px2vw-md(52px);
        width: px2vw-md(101px);
      }

      @include sm {
        height: px2vw-sm(52px);
        width: px2vw-sm(101px);
      }
    }

    &.xbox ::ng-deep svg,
    &.Xbox ::ng-deep svg {
      height: px2vw-xl(52px);
      width: px2vw-xl(101px);

      @include xl {
        height: px2vw-xl(52px);
        width: px2vw-xl(101px);
      }

      @include lg {
        height: px2vw-lg(52px);
        width: px2vw-lg(101px);
      }

      @include md {
        height: px2vw-md(52px);
        width: px2vw-md(101px);
      }

      @include sm {
        height: px2vw-sm(52px);
        width: px2vw-sm(101px);
      }
    }

    &.ps4 ::ng-deep svg,
    &.ps5 ::ng-deep svg {
      height: px2vw-xl(52px);
      width: px2vw-xl(101px);

      @include xl {
        height: px2vw-xl(52px);
        width: px2vw-xl(101px);
      }

      @include lg {
        height: px2vw-lg(52px);
        width: px2vw-lg(101px);
      }

      @include md {
        height: px2vw-md(52px);
        width: px2vw-md(101px);
      }

      @include sm {
        height: px2vw-sm(52px);
        width: px2vw-sm(101px);
      }
    }
  }

  &-card-name {
    @extend %body-2;
    margin-top: px2vw-xl(20px);
    margin-bottom: px2vw-xl(0px);
    line-height: 1;
    color: var(--white-medium);
    transition: inherit;

    @include xl {
      margin-top: px2vw-xl(20px);
    }

    @include lg {
      margin-top: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
    }
  }

  &-buttons {
    @extend %u-dfCenter;
    margin-top: auto;
    padding-bottom: px2vw-xl(64px);
  }

  &-button {
    margin-right: px2vw-xl(8px);
    margin-top: px2vw-xl(64px);
    font-family: "Archivo";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-person {
    position: fixed;
    bottom: 0px;
    right: 0;
    height: calc(100% - 70px);

    @include xl {
      height: calc(100% - 100px);
    }

    @include lg {
      height: calc(100% - 200px);
    }

    @include md {
      display: none;
    }
  }

  &-subtitle {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(13px);

    @include lg {
      margin-bottom: px2vw-lg(13px);
    }

    @include md {
      margin-bottom: px2vw-md(13px);
    }

    @include sm {
      margin-bottom: px2vw-sm(13px);
    }
  }
}

.SelectTeams-header {
  margin-bottom: px2vw-xl(30px);

  @include lg {
    margin-bottom: px2vw-lg(25px);
  }

  @include md {
    margin-bottom: px2vw-md(25px);
  }

  @include sm {
    margin-bottom: px2vw-sm(25px);
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(16px);
    color: var(--white);
    font-size: 34px;
    line-height: 36px;

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(34px);
      line-height: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(34px);
      line-height: px2vw-sm(16px);
    }
  }

  &-subtitle {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(0px);
    font-size: 16px;
    line-height: 24px;

    @include lg {
      margin-bottom: px2vw-lg(13px);
    }

    @include md {
      margin-bottom: px2vw-md(13px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(16px);
      margin-top: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(16px);
      margin-top: px2vw-sm(24px);
      margin-bottom: px2vw-sm(13px);
    }
  }
}
.SelectTeams_header_link {
  color: rgba(255, 255, 255, 0.6);
  transition: $global-transition2;
  margin-bottom: 16px;
}

// .SelectPlatform-person{
//   height: 590px;
//   width: 420px;
//   left: 950px;
//   border-radius: 0px;

// }

.fonFamily {
  font-family: redhat-regular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.fonFamilyheader {
  font-family: redhat-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.SelectPlatform-container::-webkit-scrollbar {
  display: none;
}
::ng-deep {
  .SelectPlatform-card-icon.xbox svg {
    height: auto !important;
    width: auto !important;
  }
  .SelectPlatform-card-icon.ps5 svg {
    height: auto !important;
    width: auto !important;
  }
}
// @include sm{
//   .SelectPlatform-title-div{
//     font-size:px2vw-sm(16px);
//   }
// }
