@import "shared";

:host {
  display: block;
  padding-bottom: px2vw-xl(46px);

  @include lg {
    padding-bottom: px2vw-lg(46px);
  }

  @include md {
    padding-bottom: px2vw-md(46px);
  }

  @include sm {
    padding-bottom: px2vw-sm(46px);
  }
}

.TI-sectionA {
  margin-top: px2vw-xl(78px);
  margin-bottom: px2vw-xl(72px);

  @include lg {
    margin-top: px2vw-lg(78px);
    margin-bottom: px2vw-lg(72px);
  }

  @include md {
    margin-top: px2vw-md(50px);
    margin-bottom: px2vw-md(72px);
  }

  @include sm {
    margin-top: px2vw-sm(50px);
    margin-bottom: px2vw-sm(72px);
  }

  &-title {
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    margin-bottom: 0;
    color: var(--black);
  }
}

.TI-sectionB {
  justify-content: space-evenly;
  margin-bottom: px2vw-xl(70px);

  @include lg {
    margin-bottom: px2vw-lg(70px);
  }

  @include md {
    justify-content: space-between;
    margin-bottom: px2vw-md(70px);
  }

  @include sm {
    margin-bottom: px2vw-sm(70px);
  }

  &,
  &-step-block,
  &-step-number {
    display: flex;
    align-items: center;
  }

  &-step-block {
    flex-direction: column;
    min-width: px2vw-xl(196px);
    font-family: "source-sans-pro";
    line-height: px2vw-xl(32px);

    @include lg {
      min-width: px2vw-lg(196px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      min-width: px2vw-md(160px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      min-width: px2vw-sm(160px);
      line-height: px2vw-sm(32px);
    }
  }

  &-step-block.center {
    position: relative;
    margin: 0 px2vw-xl(200px);

    @include lg {
      margin: 0 px2vw-lg(200px);
    }

    @include md {
      margin: 0;
    }

    &::before,
    &::after {
      position: absolute;
      top: 27%;
      content: "";
      border-top: 1px dashed var(--white-high);
      width: px2vw-xl(430px);

      @include lg {
        width: px2vw-lg(258px);
      }

      @include md {
        width: px2vw-md(182px);
      }

      @include sm {
        width: px2vw-sm(80px);
      }
    }

    &::before {
      right: 90%;

      @include md {
        right: 80%;
      }
    }

    &::after {
      left: 90%;

      @include md {
        left: 80%;
      }
    }
  }

  &-step-number {
    justify-content: center;
    margin-bottom: px2vw-xl(33px);
    border: 1px solid var(--white-high);
    border-radius: 50%;
    width: px2vw-xl(67px);
    height: px2vw-xl(67px);
    font-size: px2vw-xl(24px);
    color: var(--white-high);

    @include lg {
      margin-bottom: px2vw-lg(33px);
      width: px2vw-lg(67px);
      height: px2vw-lg(67px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(33px);
      width: px2vw-md(67px);
      height: px2vw-md(67px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(33px);
      width: px2vw-sm(67px);
      height: px2vw-sm(67px);
      font-size: px2vw-sm(24px);
    }
  }

  &-step-description {
    margin-bottom: 0;
  }
}

.TI-sectionC {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: px2vw-xl(32px);
  grid-row-gap: px2vw-xl(32px);

  @include lg {
    grid-column-gap: px2vw-lg(32px);
    grid-row-gap: px2vw-lg(32px);
  }

  @include md {
    grid-column-gap: px2vw-md(32px);
    grid-row-gap: px2vw-md(32px);
  }

  @include sm {
    grid-template-columns: 1fr;
    grid-column-gap: px2vw-sm(32px);
    grid-row-gap: px2vw-sm(60px);
  }

  &-card-image-block {
    margin-bottom: px2vw-xl(100px);
    height: px2vw-xl(330px);

    @include lg {
      margin-bottom: 0;
      height: px2vw-lg(330px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
      height: px2vw-md(180px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
      height: auto;
    }
  }

  &-card-image {
    object-fit: cover;
    width: 100%;
  }

  &-card-text {
    margin-bottom: 0;
    text-align: center;
  }
}

.TI-sectionD {
  margin-top: px2vw-xl(94px);

  @include lg {
    margin-top: px2vw-lg(94px);
  }

  @include md {
    margin-top: px2vw-md(40px);
    text-align: center;
  }

  @include sm {
    margin-top: px2vw-sm(40px);
  }
}
