
<div class="TournamentsCard-item curserPointer" *ngIf="params">
  <div class="TournamentsCard-thumbnail">
    <img
      [src]="params?.gameDetail ? params?.gameDetail?.image : params?.image"
      alt=""
    />
  </div>
  <div class="TournamentsCard-description">
    <!-- <div class="avatar">
      <img
        [src]="params?.gameDetail ? params?.gameDetail?.logo : params?.image"
        alt=""
      />
    </div> -->
    <div class="description">
      <h4 class="title">{{params?.name}}</h4>
      <p class="text profile views-time">
        <span class="profile"><img [src]="params?.organizerDetail?.profilePicture" alt="" class="img-fluid"></span>
        {{ "HOME.TOURNAMENT.BY" | translate }} {{ params?.organizerDetail?.userName }}
      </p>
      <p class="text views-time">
        <span><img src="../../assets/icons/videogame-asset-icon.png" alt=""></span>
        {{params?.gameDetail?.name}}
      </p>
      <p class="text views-time">
        <span><img src="../../assets/icons/brackets-icon.png" alt=""></span>
        {{ params?.bracketType | bracket | translate }}
      </p>
      <p class="text views-time" *ngIf="params?.endDate && params?.startDate" >
        <span><img src="../../assets/icons/access-time-icon.png" alt=""></span>
        {{ "SEASON_CARD.CONTENT.END" | translate  }} {{params?.endDate | date: 'medium' }}
      </p>
      <p class="text views-time" *ngIf="!params?.endDate && params?.startDate">{{ "SEASON_CARD.CONTENT.START" | translate  }} {{params?.startDate | date: 'medium' }}</p>

    </div>
  </div>
</div>

<div class="TournamentsCard-item" *ngIf="ongoing?.gameDetail && !params">
  <div class="TournamentsCard-thumbnail">
    <img
      [src]="ongoing?.gameDetail?.image"
      alt=""
    />
  </div>

  <div class="TournamentsCard-description">
    <div class="avatar">
      <img
        [src]=" ongoing?.gameDetail?.logo"
        alt=""
      />
    </div>
    <div class="description">
      <h4 class="title">{{ongoing?.name}}</h4>
      <p class="text views-time">{{ongoing?.type }} </p>
      <p class="text views-time">{{ "SEASON_CARD.CONTENT.START" | translate  }} {{ongoing?.startDate | date: 'medium' }}</p>

    </div>
  </div>
</div>


<ng-container *ngIf="dataList">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of dataList">
      <div
        class="TournamentsCard-item"
        [routerLink]="[AppHtmlRoutes.tournamentView, item?.slug]"
      >
        <div class="TournamentsCard-thumbnail">
          <img src="{{ item.banner }}" alt="" />
        </div>
        <div class="TournamentsCard-description">
          <div class="avatar">
            <img
            [src]="item?.gameDetail ? item?.gameDetail?.logo : item?.image"
            alt=""
          />
          </div>
          <div class="description">
            <h4 class="title">{{ item.name }}</h4>
            <p class="text views-time">
              {{ item?.bracketType | bracket | translate }} •
              {{ "ADMIN.SEASON_MANAGEMENT.TABLE_HEADER.PRIZE" | translate }}:
              ${{ item.totalPrice }}
            </p>
            <p class="text views-time">
              {{ "SEASON_CARD.CONTENT.END" | translate }}
              {{ item.endDate | date: "medium" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
