<app-header-dynasty-white></app-header-dynasty-white>

    <section class="updateScore">
      <div class="updateScore-wrap">
        <div class="updateScore-title">
          {{ "MANAGE_TOURNAMENT.SCORING.REPORT_SCORE" | translate }}
        </div>
        <!-- <ng-container *ngFor="let rounds of roundMatches; let matchIndex = index"> -->
          <div class="updateScore-round">Round {{roundMatches?.matchIndex +1}}</div>
          <ng-container *ngFor="let round of rounds?.sets; let index = index">


        <div class="updateScore-set">
          <!-- <div class="updateScore-set-date">Saturday, 18 Sept 2021</div> -->
          <div class="updateScore-round">
            <cdk-accordion class="updateScore-round-accordion">
              <cdk-accordion-item
                #accordionItem="cdkAccordionItem"
                class="updateScore-round-accordion-item"
                role="button"
                tabindex="0"
                [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index"
              >
                <div
                  class="updateScore-round-accordion-item-header"
                  (click)="accordionItem.toggle()"
                >
                {{ "MATCH_LIST.SET" | translate }} {{ round?.id }}
                  <span class="updateScore-round-accordion-item-description">
                    <ng-container
                      *ngIf="accordionItem.expanded; then open; else close"
                    ></ng-container>
                    <ng-template #close>
                      <button
                        class="updateScore-btnExpaned"
                        inlineSVG="../../../assets/icons/manage-tournament/Icon-plus.svg"
                      ></button>
                    </ng-template>
                    <ng-template #open>
                      <button
                        class="updateScore-btnExpaned"
                        inlineSVG="../../../assets/icons/manage-tournament/Icon-min.svg"
                      ></button>
                    </ng-template>
                  </span>
                </div>
                <div
                  class="updateScore-round-accordion-item-body"
                  role="region"
                  [style.display]="accordionItem.expanded ? '' : 'none'"
                  [attr.id]="'accordion-body-' + index"
                  [attr.aria-labelledby]="'accordion-header-' + index"
                >


                <!-- teamA -->


                  <div class="updateScore-round-accordion-item-body-member">
                    <div
                      class="
                        updateScore-round-accordion-item-body-member-author
                      "
                    >
                      <div
                        class="updateScore-round-accordion-item-body-member-ava"
                        [lazyLoad]="rounds?.teamA?.logo"
                      ></div>
                      <div
                        class="
                          updateScore-round-accordion-item-body-member-info
                        "
                      >
                        <div
                          class="
                            updateScore-round-accordion-item-body-member-name
                          "
                        >
                          {{ rounds?.teamA?.name }}
                        </div>
                        <div
                          class="
                            updateScore-round-accordion-item-body-member-id
                          "
                        >
                          {{ "MANAGE_TOURNAMENT.SCORING.GAME_ID:" | translate }}
                          {{ rounds?.teamA?.inGamerUserId }}
                        </div>
                      </div>
                    </div>
                    <div
                      class="
                        updateScore-round-accordion-item-body-member-score-wrap
                      "
                    >
                      <div
                        class="
                          updateScore-round-accordion-item-body-member-score-title
                        "
                      >
                        {{ "MANAGE_TOURNAMENT.SCORING.SCORE" | translate }}
                      </div>
                      <div
                        class="
                          updateScore-round-accordion-item-body-member-score
                        "
                      >
                        <div
                          class="
                            updateScore-round-accordion-item-body-member-score-btnBlock
                          "
                        >
                          <button
                            class="btn btn-default"
                            (click)="onDecrement(rounds?.teamA?._id,round?.teamAScore,'teamAScore',roundMatches?.matchIndex,index,round?.id)"
                          >
                            <i class="material-icons">remove</i>
                          </button>
                        </div>
                        <div class="input-group">
                          <input
                            [value]="votes"
                            type="number"
                            [(ngModel)]="round.teamAScore"
                            (input)="
                              updateScoree(
                                round,
                                round?.teamAScore,
                                'teamAScore',
                                1,
                                rounds?.teamA?._id
                              )
                            "
                            class="form-control"
                          />
                        </div>
                        <div
                          class="
                            updateScore-round-accordion-item-body-member-score-btnBlock
                          "
                        >
                          <button
                            class="btn btn-default"
                            (click)="onIncrement(rounds?.teamA?._id,round?.teamAScore,'teamAScore',roundMatches?.matchIndex,index,round?.id)"
                          >
                            <i class="material-icons">add</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- teamB -->


                  <div class="updateScore-round-accordion-item-body-member">
                    <div
                      class="
                        updateScore-round-accordion-item-body-member-author
                      "
                    >
                      <div
                        class="updateScore-round-accordion-item-body-member-ava"
                        [lazyLoad]="rounds?.teamB?.logo"
                      ></div>
                      <div
                        class="
                          updateScore-round-accordion-item-body-member-info
                        "
                      >
                        <div
                          class="
                            updateScore-round-accordion-item-body-member-name
                          "
                        >
                          {{ rounds?.teamB?.name }}
                        </div>
                        <div
                          class="
                            updateScore-round-accordion-item-body-member-id
                          "
                        >
                          {{ "MANAGE_TOURNAMENT.SCORING.GAME_ID:" | translate }}
                          {{ rounds?.teamB?.inGamerUserId }}
                        </div>
                      </div>
                    </div>
                    <div
                      class="
                        updateScore-round-accordion-item-body-member-score-wrap
                      "
                    >
                      <div
                        class="
                          updateScore-round-accordion-item-body-member-score-title
                        "
                      >
                        {{ "MANAGE_TOURNAMENT.SCORING.SCORE" | translate }}
                      </div>
                      <div
                        class="
                          updateScore-round-accordion-item-body-member-score
                        "
                      >
                        <div
                          class="
                            updateScore-round-accordion-item-body-member-score-btnBlock
                          "
                        >
                          <button
                            class="btn btn-default"
                            (click)="onDecrement(rounds?.teamB?._id,round.teamBScore,'teamBScore',roundMatches?.matchIndex,index,round?.id)"
                          >
                            <i class="material-icons">remove</i>
                          </button>
                        </div>
                        <div class="input-group">
                          <input
                            [value]="votes1"
                            type="number"
                            [(ngModel)]="round.teamBScore"
                            (input)="
                              updateScoree(
                                round,
                                round.teamBScore,
                                'teamBScore',
                                1,
                                rounds?.teamB?._id
                              )
                            "
                            class="form-control"
                          />
                        </div>
                        <div
                          class="
                            updateScore-round-accordion-item-body-member-score-btnBlock
                          "
                        >
                          <button
                            class="btn btn-default"
                            (click)="onIncrement(rounds?.teamB?._id,round.teamBScore,'teamBScore',roundMatches?.matchIndex,index,round?.id)"
                          >
                            <i class="material-icons">add</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>
        </div>
        <br>
        <div class="updateScore-guideBar-btn-ready"
        >
          <button
          [ngClass]="{'no-drop': (rounds.matchStatus == 'completed' || rounds.sets[index].status == 'completed')}"
          [disabled]="rounds.matchStatus == 'completed' || rounds.sets[index].status == 'completed'"
            (click)="submitScore(rounds.sets[index],rounds)">
            {{ "BUTTON.UPDATE_SCORE" | translate }}
          </button>
        </div>
        <br>

      </ng-container>
     <!--</ng-container> -->

        <!-- <div class="updateScore-titleUploadScreen">
          {{ "MATCHMAKING.TOURNAMENT_SCORING.UPLOAD" | translate }}
        </div>
        <div class="updateScore-table-wrapp">
          <div class="updateScore-table">
            <div class="updateScore-table-rowTitle">
              <div class="updateScore-table-rowTitle-uploadBy">
                {{ "MATCHMAKING.TOURNAMENT_SCORING.UPLOAD_BY" | translate }}
              </div>
              <div class="updateScore-table-rowTitle-fileName">
                {{ "MATCHMAKING.TOURNAMENT_SCORING.FILE_NAME" | translate }}
              </div>
              <div class="updateScore-table-rowTitle-fileSize">
                {{ "MATCHMAKING.TOURNAMENT_SCORING.FILE_SIZE" | translate }}
              </div>
              <div class="updateScore-table-rowTitle-timeDate">
                {{ "MATCHMAKING.TOURNAMENT_SCORING.TIME&DATE" | translate }}
              </div>
            </div>
            <div class="updateScore-table-rowContent">
          <div class="updateScore-table-rowContents">
            <div class="updateScore-table-rowContents-uploadBy">
              volkanika98
            </div>
            <div class="updateScore-table-rowContents-fileName">
              fortnite-210821-01
            </div>
            <div class="updateScore-table-rowContents-fileSize">157 KB</div>
            <div class="updateScore-table-rowContents-timeDate">
              08/30/2021 12:01
            </div>
            <button
              class="updateScore-table-rowContents-option"
              inlineSVG="assets/icons/three-dots-vertical.svg"
            ></button>
          </div>
          <div class="updateScore-table-rowContents">
            <div class="updateScore-table-rowContents-uploadBy">Rh3aliti99</div>
            <div class="updateScore-table-rowContents-fileName">
              results-21aug-1
            </div>
            <div class="updateScore-table-rowContents-fileSize">20 KB</div>
            <div class="updateScore-table-rowContents-timeDate">
              08/30/2021 02:30
            </div>
            <button
              class="updateScore-table-rowContents-option"
              inlineSVG="assets/icons/three-dots-vertical.svg"
            ></button>
          </div>
          <div class="updateScore-table-rowContents">
            <div class="updateScore-table-rowContents-uploadBy">Rh3aliti99</div>
            <div class="updateScore-table-rowContents-fileName">
              results-21aug-1
            </div>
            <div class="updateScore-table-rowContents-fileSize">20 KB</div>
            <div class="updateScore-table-rowContents-timeDate">
              08/30/2021 02:30
            </div>
            <button
              class="updateScore-table-rowContents-option"
              inlineSVG="assets/icons/three-dots-vertical.svg"
            ></button>
          </div>
          <div class="updateScore-table-rowContents">
            <div class="updateScore-table-rowContents-uploadBy">Rh3aliti99</div>
            <div class="updateScore-table-rowContents-fileName">
              results-21aug-1
            </div>
            <div class="updateScore-table-rowContents-fileSize">20 KB</div>
            <div class="updateScore-table-rowContents-timeDate">
              08/30/2021 02:30
            </div>
            <button
              class="updateScore-table-rowContents-option"
              inlineSVG="assets/icons/three-dots-vertical.svg"
            ></button>
          </div>
        </div>
          </div>
        </div>

        <div class="updateScore-btn-uploadScreen">
          <input type="file" id="updateScore" (input)="updateScore($event)" />
          <label for="updateScore"
            >{{ "BUTTON.UPLOAD_NEW_SCREENSHOT" | translate }}
          </label>
          <img [src]="src" [hidden]="!src" />
        </div> -->

      </div>
    </section>


    <!-- <div class="updateScore-guideBar">
      <div class="updateScore-guideBar-btn-ready">
        <button
          [disabled]="
            roundMatches[matchIndex].matchStatus == 'completed' ||
            roundMatches[matchIndex].sets[index].status == 'completed'
          "
          (click)="
            submitScore(
              roundMatches[matchIndex].sets[index],
              roundMatches[matchIndex]
            )
          "
        >
          {{ "BUTTON.UPDATE_SCORE" | translate }}
        </button>
      </div>
    </div> -->

