<div *ngIf="!isLoaded">
  <h5 class="global-H4">
    {{ "ELIMINATION.REPORT_SCORE" | translate }}
  </h5>

  <div class="container-repostStore">
    <div class="container-table-score">
      <table>
        <tr>
          <th></th>
          <th
            *ngFor="let s of matchDetails?.sets; let i = index"
            [hidden]="
              matchDetails?.matchStatus == 'completed' && s.status == 'active'
            "
          >
            {{ "ELIMINATION.SET" | translate }} {{ i + 1 }}
          </th>
        </tr>

        <tr>
          <td>
            <img
              class="avatar"
              [src]="
                matchDetails?.teamA?.logo ||
                'assets/images/Match/gamer-image.png'
              "
            />
            {{ matchDetails?.teamA?.teamName }}
          </td>

          <td
            *ngFor="let s of matchDetails?.sets"
            [hidden]="
              matchDetails?.matchStatus == 'completed' && s.status == 'active'
            "
          >
            <div class="score">
              <h6 class="global-H6">
                {{ s?.teamAScore }}
              </h6>

              <div class="sort">
                <fa-icon
                  [icon]="['fas', 'sort-up']"
                  (click)="
                    updateScore(
                      s,
                      s?.teamAScore,
                      'teamAScore',
                      1,
                      matchDetails?.teamA?._id
                    )
                  "
                  ngbTooltip="{{ 'ELIMINATION.TOOLTIP.04' | translate }}"
                ></fa-icon>

                <fa-icon
                  [icon]="['fas', 'sort-down']"
                  (click)="
                    updateScore(
                      s,
                      s?.teamAScore,
                      'teamAScore',
                      -1,
                      matchDetails?.teamA?._id
                    )
                  "
                  ngbTooltip="{{ 'ELIMINATION.TOOLTIP.05' | translate }}"
                ></fa-icon>
              </div>
              <span class="upload-wrapper">
                <button
                  *ngIf="tournament?.isScreenshotRequired"
                  class="score-upload-icon"
                  mat-icon-button
                  (click)="open(content, s, 'teamAScreenShot')"
                  [hidden]="
                    isAdmin || s?.status == 'completed'
                      ? !s?.teamAScreenShot
                      : !(matchDetails?.teamA?._id == participantId)
                  "
                >
                  <mat-icon>cloud_upload</mat-icon>
                </button>
              </span>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <img
              class="avatar"
              [src]="
                matchDetails?.teamB?.logo ||
                'assets/images/Match/gamer-image.png'
              "
            />
            {{ matchDetails?.teamB?.teamName }}
          </td>
          <td
            *ngFor="let s of matchDetails?.sets"
            [hidden]="
              matchDetails?.matchStatus == 'completed' && s.status == 'active'
            "
          >
            <div class="score">
              <h6 class="global-H6">{{ s?.teamBScore }}</h6>

              <div class="sort">
                <fa-icon
                  [icon]="['fas', 'sort-up']"
                  (click)="
                    updateScore(
                      s,
                      s?.teamBScore,
                      'teamBScore',
                      1,
                      matchDetails?.teamB?._id
                    )
                  "
                  ngbTooltip="{{ 'ELIMINATION.TOOLTIP.04' | translate }}"
                ></fa-icon>
                <fa-icon
                  [icon]="['fas', 'sort-down']"
                  (click)="
                    updateScore(
                      s,
                      s?.teamBScore,
                      'teamBScore',
                      -1,
                      matchDetails?.teamB?._id
                    )
                  "
                  ngbTooltip="{{ 'ELIMINATION.TOOLTIP.05' | translate }}"
                ></fa-icon>
              </div>
              <span class="upload-wrapper">
                <button
                  *ngIf="tournament?.isScreenshotRequired"
                  class="score-upload-icon"
                  mat-icon-button
                  (click)="open(content, s, 'teamBScreenShot')"
                  [hidden]="
                    isAdmin || s.status == 'completed'
                      ? !s?.teamBScreenShot
                      : !(matchDetails?.teamB?._id == participantId)
                  "
                >
                  <mat-icon outline>cloud_upload</mat-icon>
                </button>
              </span>
            </div>
          </td>
        </tr>

        <tr>
          <td class="global-H5">
            <fa-icon [icon]="['fas', 'trophy']"></fa-icon>
            {{ "ELIMINATION.WINNERS" | translate }}
          </td>
          <td
            *ngFor="let s of matchDetails?.sets"
            [hidden]="
              matchDetails?.matchStatus == 'completed' && s.status == 'active'
            "
          >
            <h6>
              {{
                getPlayerName(s?.winner) ||
                  (s?.status === "completed"
                    ? ("ELIMINATION.DRAW" | translate)
                    : "")
              }}
            </h6>

            <button
              class="btn tab-content"
              (click)="isAdmin ? submitScore(s) : null"
              [hidden]="!isAdmin || matchDetails?.disQualifiedTeam?.team"
              type="submit"
              [ngClass]="{
                'set-winner': s?.status == 'completed' && !s?.modify
              }"
            >
              {{
                !(s?.status === "completed")
                  ? ("ELIMINATION.SUBMIT_SCORE" | translate)
                  : s.modify
                  ? ("ELIMINATION.RESUBMIT_SCORE" | translate)
                  : ("ELIMINATION.SUBMITTED" | translate)
              }}
            </button>

            <button
              *ngIf="
                tournament?.scoreReporting == 2 &&
                !isAdmin &&
                s.status == 'active'
              "
              class="btn tab-content"
              type="submit"
              (click)="submitParticipantScore()"
            >
              {{ "ELIMINATION.SUBMIT_SCORE" | translate }}
            </button>
          </td>
        </tr>
      </table>

      <ng-container *ngIf="isAdmin">
        <p>
          {{ "ELIMINATION.DISQUALIFY_TITLE" | translate }}
        </p>
        <table>
          <tr>
            <td>
              <select class="form-control" [(ngModel)]="disQualifiedTeam.team">
                <option value="null" selected disabled>
                  {{ "ELIMINATION.SELECT_TEAM" | translate }}
                </option>
                <option *ngFor="let team of teamList" [value]="team?._id">
                  {{ team.teamName }}
                </option>
              </select>
            </td>

            <td>
              <select
                class="form-control"
                [(ngModel)]="disQualifiedTeam.reason"
              >
                <option value="" selected disabled>
                  {{ "ELIMINATION.SELECT_REASON" | translate }}
                </option>

                <option
                  *ngFor="let option of disQualifyStatus"
                  [value]="option"
                >
                  {{ option }}
                </option>
              </select>
            </td>

            <td>
              <button
                class="btn tab-content"
                (click)="disqualify()"
                type="submit"
              >
                {{ "BUTTON.SUBMIT" | translate }}
              </button>
            </td>
          </tr>
        </table>
      </ng-container>
    </div>

    <div class="result" *ngIf="matchDetails?.matchStatus == 'completed'">
      <button *ngIf="matchDetails?.winnerTeam?.teamName" class="scoreBar">
        {{ matchDetails?.winnerTeam?.teamName }}
      </button>

      <div class="loser">
        <button class="scoreBar">
          {{ matchDetails?.loserTeam?.teamName }}
          {{
            matchDetails?.disQualifiedTeam?.team
              ? "(" + matchDetails?.disQualifiedTeam?.reason + ")"
              : ""
          }}
        </button>
      </div>
    </div>

    <div class="back">
      <button class="btn tab-content" (click)="exitFromPage()" type="submit">
        {{ "BUTTON.BACK" | translate }}
      </button>
    </div>
  </div>
</div>

<app-loading *ngIf="isLoaded"></app-loading>

<ng-template #content let-modal>
  <div class="modal-header">
    <button class="close" (click)="modal.close(false)" aria-label="Close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
      >
        <defs>
          <style>
            .a {
              opacity: 0.7;
            }

            .b {
              fill: none;
            }

            .c {
              fill: #fff;
            }
          </style>
        </defs>
        <g class="a">
          <path class="b" d="M0,0H40V40H0Z" />
          <path
            class="c"
            d="M28.333,7.35,25.983,5l-9.317,9.317L7.35,5,5,7.35l9.317,9.317L5,25.983l2.35,2.35,9.317-9.317,9.317,9.317,2.35-2.35-9.317-9.317Z"
            transform="translate(3.333 3.333)"
          />
        </g>
      </svg>
    </button>
  </div>

  <div class="modal-body">
    <div
      class="screenshot"
      [ngbTooltip]="
        isAdmin || participantSet?.status == 'completed'
          ? null
          : participantSet[screenShot]
          ? ('ELIMINATION.TOOLTIP.06' | translate)
          : ('ELIMINATION.TOOLTIP.07' | translate)
      "
    >
      <img
        *ngIf="participantSet[screenShot]"
        class="BasicInfo-box-img"
        [src]="participantSet[screenShot]"
        alt="logo"
      />
      <label
        for="screenshot-score"
        [class.hide-upload-box]="participantSet[screenShot]"
        [hidden]="isAdmin || participantSet?.status == 'completed'"
      >
        {{ "ELIMINATION.POPUP.01" | translate }}<br />
        <div class="btn-upload">
          {{ "ELIMINATION.POPUP.02" | translate }}
        </div>
        {{ "ELIMINATION.POPUP.03" | translate }}
      </label>

      <input
        type="file"
        id="screenshot-score"
        name="screenshot-score"
        (change)="participantScreenshot($event)"
        accept="image/*"
        single
      />
    </div>

    <div
      class="participant-btn"
      [hidden]="
        !participantSet[screenShot] ||
        isAdmin ||
        participantSet?.status == 'completed'
      "
    >
      <button
        class="btn tab-content"
        (click)="submitParticipantScore(); modal.close(false)"
      >
        {{ "BUTTON.SUBMIT" | translate }}
      </button>
    </div>
  </div>
</ng-template>
