<ngx-datatable class="LeaderboardTable global-DataTable" *ngIf="leaderboardData.length && data" [columnMode]="'flex'"
  [footerHeight]="'auto'" [headerHeight]="'auto'" [rowHeight]="'auto'" [rows]="leaderboardData">
  <ngx-datatable-column prop="rank" name="{{ 'LEADERBOARD.TABLE.COLUMNS.1' | translate }}"></ngx-datatable-column>

  <ngx-datatable-column *ngIf="data?.page === 'leaderboard'" prop="img"
    [name]="playerTeam">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="LeaderboardTable-user">
        <div class="LeaderboardTable-user-image-block">
          <img class="LeaderboardTable-user-image" [src]="row?.img || './assets/images/Profile/formation.svg'"
            alt="image" />
          <!-- <app-leaderboard-trophies-card></app-leaderboard-trophies-card> -->
          <!-- <app-leaderboard-user-card [data]="row"></app-leaderboard-user-card> -->
        </div>
        <span class="LeaderboardTable-user-name global-Elipses">
          {{ row?.name }}
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="data?.page === 'home'" prop="img" name="{{ 'LEADERBOARD.TABLE.COLUMNS.2' | translate }}">
    <ng-template ngx-datatable-cell-template let-row="row">
      <a [routerLink]="[AppHtmlRoutes.leaderBoard, row.userId]">
        <div class="LeaderboardTable-user">
          <img class="LeaderboardTable-user-image" [lazyLoad]="
              row?.profilePicture || './assets/images/Profile/formation.svg'
            " alt="icon" />

          <span class="LeaderboardTable-user-name global-Elipses">
            {{ row?.name }}
          </span>
        </div>
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="data?.page === 'leaderboard'" name="{{ 'LEADERBOARD.TABLE.COLUMNS.3' | translate }}"
    prop="region"></ngx-datatable-column>

  <ngx-datatable-column *ngIf="data?.page === 'home'" prop="country"
    name="{{ 'LEADERBOARD.TABLE.COLUMNS.3' | translate }}"></ngx-datatable-column>

  <ngx-datatable-column prop="trophies" name="{{ 'LEADERBOARD.TABLE.COLUMNS.4' | translate }}">
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="LeaderboardTable-places">
        <!-- Gold -->
        <div class="LeaderboardTable-place">
          <app-leaderboard-trophies-card [row]="row" [type]="'gold'" *ngIf="row?.trophies.first > 0"></app-leaderboard-trophies-card>

          <img class="LeaderboardTable-place-icon" lazyLoad="assets/icons/trophies/gold.svg" alt="gold" />
          <span *ngIf="data?.page === 'leaderboard'" class="LeaderboardTable-place-text">
            {{ row?.trophies.first }}
          </span>
          <span *ngIf="data?.page === 'home'" class="LeaderboardTable-place-text">
            {{ row?.firstPosition }}
          </span>
        </div>

        <!-- Silver -->
        <div class="LeaderboardTable-place">
          <app-leaderboard-trophies-card [row]="row" [type]="'silver'" *ngIf="row?.trophies.second > 0"></app-leaderboard-trophies-card>

          <img class="LeaderboardTable-place-icon" lazyLoad="assets/icons/trophies/silver.svg" alt="silver" />
          <span *ngIf="data?.page === 'leaderboard'" class="LeaderboardTable-place-text">
            {{ row?.trophies?.second }}
          </span>
          <span *ngIf="data?.page === 'home'" class="LeaderboardTable-place-text">
            {{ row?.secondPosition }}
          </span>
        </div>

        <!-- Bronze -->
        <div class="LeaderboardTable-place">
          <app-leaderboard-trophies-card [row]="row" [type]="'bronze'" *ngIf="row?.trophies.third > 0"></app-leaderboard-trophies-card>

          <img class="LeaderboardTable-place-icon" lazyLoad="assets/icons/trophies/bronze.svg" alt="bronze" />
          <span *ngIf="data?.page === 'leaderboard'">
            {{ row?.trophies?.third }}
          </span>

          <span
            *ngIf="data.page === 'home'"
            class="LeaderboardTable-place-text"
          >
            {{ row?.thirdPosition }}
          </span>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="points" name="{{ 'LEADERBOARD.TABLE.COLUMNS.5' | translate }}"></ngx-datatable-column>
</ngx-datatable>
