@import "shared";
// $Width: 263px;

view-set {
  background: rgb(255 255 255 / 20%);
}
.View-Set {
  display: grid;
  grid-row: auto;

  &-Title {
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    background-color: transparent;
    color: var(--white);
    width: 100%;
    line-height: px2vw-xl(48px);

    @include lg {
      line-height: px2vw-lg(48px);
    }

    @include md {
      line-height: px2vw-md(48px);
    }

    @include sm {
      line-height: px2vw-sm(48px);
    }
  }

  &-A {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 100;
    color: var(--base-black-pearl);
    background-color: var(--base-white-smoke);
    border: 1px solid var(--base-gainsboro);
    line-height: px2vw-xl(24px);
    height: 60px;
    @include lg {
      line-height: px2vw-lg(24px);
    }

    @include md {
      line-height: px2vw-md(24px);
    }

    @include sm {
      line-height: px2vw-sm(24px);
    }
  }

  &-B {
    @extend .View-Set-A;
  }

  &-Result {
    @extend .View-Set-A;
    height: 100px;
  }

  &-Result-Submit {
    margin: auto;
    width: 100%;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 10px 15px;
    text-transform: unset;
  }

  &-Winner {
    @extend .View-Set-Result-Submit;
    text-align: center;
    color: var(--black);
    & a {
      color: var(--color-secondary);
    }
  }

  &-Winner-Text {
    margin: auto;
  }

  &-ReadOnly {
    pointer-events: none;
  }

  &-Counter {
    @extend .global-Elipses;
    @extend .global-Text !optional;
    padding: 0 0.5rem;
    -webkit-line-clamp: 2;
    font-size: 12px;
    margin: 0;
  }

  &-Active {
    text-align: center;
    margin: auto;
  }
}
