@import "shared";

:host {
  display: block;
}

.SearchShop {
  padding: 96px 0 83px;

  @include xl {
    padding: px2vw-xl(70px) 0 px2vw-xl(40px);
  }

  @include lg {
    padding: px2vw-lg(70px) 0 px2vw-lg(40px);
  }

  @include md {
    padding: px2vw-md(70px) 0 px2vw-md(40px);
  }

  @include sm {
    padding: px2vw-sm(70px) 0 px2vw-sm(40px);
  }

  &-top {
    @extend %u-dfCenterBtw;
    margin-bottom: 66px;
    padding: 0 4px;

    @include xl {
      margin-bottom: px2vw-xl(66px);
      padding: 0 px2vw-xl(4px);
    }

    @include lg {
      margin-bottom: px2vw-lg(66px);
      padding: 0 px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(66px);
      padding: 0 px2vw-md(4px);
    }

    @include sm {
      flex-flow: column;
      margin-bottom: px2vw-sm(66px);
      padding: 0 px2vw-sm(4px);
    }
  }
}
