@import "shared";
@import "../../../../../../scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.EntranceFee {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container,
  &-switcher-container {
    max-width: px2vw-xl(994px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(620px);
    }

    @include md {
      max-width: none;
    }
  }

  &-container {
    margin-top: px2vw-xl(218px);

    @include lg {
      margin-top: px2vw-lg(218px);
    }

    @include md {
      margin-top: px2vw-md(218px);
    }

    @include sm {
      margin-top: px2vw-sm(90px);
      padding-bottom: px2vw-sm(72px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(42px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(42px);
    }

    @include md {
      margin-bottom: px2vw-md(42px);
    }

    @include sm {
      margin-bottom: px2vw-sm(42px);
      line-height: 2;
    }
  }

  &-items {
    margin-bottom: px2vw-xl(50px);
    max-width: px2vw-xl(410px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
      max-width: px2vw-lg(410px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      max-width: none;
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-item {
    margin-bottom: px2vw-xl(12px);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(22px);
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 200ms linear;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    @include lg {
      margin-bottom: px2vw-lg(12px);
      border-radius: px2vw-lg(4px);
      padding: x2vw-lg(22px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(22px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(22px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.selected {
      .icon {
        background-image: url("/assets/icons/tournament/checked/on.svg");
      }
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(36px);
    width: px2vw-xl(35px);
    height: px2vw-xl(35px);
    background-image: url("/assets/icons/tournament/checked/off.svg");
    background-size: cover;

    @include lg {
      margin-right: px2vw-lg(36px);
      width: px2vw-lg(35px);
      height: px2vw-lg(35px);
    }

    @include md {
      margin-right: px2vw-md(36px);
      width: px2vw-md(35px);
      height: px2vw-md(35px);
    }

    @include sm {
      margin-right: px2vw-sm(36px);
      width: px2vw-sm(42px);
      height: px2vw-sm(42px);
    }
  }

  &-item-text {
    margin-bottom: 0;
    color: var(--base-white);
    transition: 200ms linear;

    @include sm {
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(32px);
    }
  }

  &-switcher-container {
    margin-top: auto;
  }
}
