.mesf-textarea {
  @extend %mesf-Text;
  padding: px2vw-xl(20px) px2vw-xl(25px);
  border-radius: px2vw-xl(10px);
  min-height: px2vw-xl(60px);
  border: px2vw-xl(1px) solid var(--whitecolor);
  width: 100%;
  background: none;
  box-sizing: border-box;

  @include lg {
    padding: px2vw-lg(20px) px2vw-lg(25px);
    border-radius: px2vw-lg(10px);
    min-height: px2vw-lg(60px);
    border-width: px2vw-lg(1px);
  }

  @include md {
    padding: px2vw-md(20px) px2vw-md(25px);
    border-radius: px2vw-md(10px);
    min-height: px2vw-md(60px);
    border-width: px2vw-md(1px);
  }

  @include sm {
    padding: px2vw-sm(20px) px2vw-sm(25px);
    border-radius: px2vw-sm(10px);
    min-height: px2vw-sm(60px);
    border-width: px2vw-sm(1px);
  }
}
