<div
  class="row mb-4 payment"
  *ngIf="paymentMethods.length; else providerNotAvailable"
>
  <div class="col-md-7 col-sm-12">
    <h2 class="global-Title3">
      {{ "PROFILE.TOURNAMENTS.PAYMENT.PAYMENT_TITLE1" | translate }}
    </h2>
    <div class="payment-methods" *ngFor="let paymentMethod of paymentMethods">
      <div>
        <img [src]="paymentMethod.img" />
      </div>
      <div>
        <button
          type="button"
          class="btn btn-primary global-EditBtn"
          (click)="selectPaymentType = paymentMethod?.value"
          [ngClass]="{
            'active-btn': selectPaymentType == paymentMethod?.value
          }"
        >
          {{ "PROFILE.TOURNAMENTS.PAYMENT.SELECT_BUTTON" | translate }}
        </button>
      </div>
    </div>
    <div
      class="payment-type"
      *ngIf="selectPaymentType == 'paypal' && transaction"
    >
      <payment
        [type]="selectPaymentType"
        [transaction]="transaction"
        (valueEmitAfterTransaction)="getPaymentResponse($event)"
      >
      </payment>
    </div>
    <div
      class="payment-type"
      *ngIf="selectPaymentType == 'stcpay' && !isOtpValid"
    >
      <payment
        [type]="selectPaymentType"
        [transaction]="transaction"
        (valueEmitForOtp)="getStcPaymentResponse($event)"
        (valueEmitForAfterOtp)="getStcOtpVerify($event)"
      >
      </payment>
    </div>

    <div></div>
  </div>
  <div class="col-md-5 col-sm-12 payment-prize-pool">
    <h2 class="global-Title3 lineheight">
      {{ "PROFILE.TOURNAMENTS.PAYMENT.PAYMENT_TITLE3" | translate }}
    </h2>

    <div
      class="d-flex align-items-center payment-pool"
    >
      <!-- <div><img [src]="prizePool.img" /></div> -->
      <p class="global-Text lineheight prize mb-0">
        {{ "PROFILE.TOURNAMENTS.PAYMENT.PAYMENT_TITLE3" | translate }}
        <!-- {{  | translate }} -->
      </p>
      <p class="global-Text lineheight mb-0">
        {{ tournament?.regFee }} {{ tournament?.regFeeCurrency }}
      </p>
    </div>

    <div class="payment-prize-pool-totalAmount mt-5">
      <div
        class="d-flex align-items-center mb-4 totalCalc"
      >
        <div class="prize">{{ "PROFILE.TOURNAMENTS.PAYMENT.TOTAL_AMOUNT" | translate }}</div>
        <div>
          {{ tournament?.regFee }} {{ tournament?.regFeeCurrency }}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #providerNotAvailable>
  <p class="country">
    {{ "PROFILE.TOURNAMENTS.PAYMENT.PROVIDER_NOT_AVAILABLE" | translate }}
  </p>
</ng-template>
<esports-fullscreen-loading *ngIf="isProccesing"></esports-fullscreen-loading>
