<div class="AccountItem">
  <h3 class="AccountItem-title">
    {{ data.label }}
  </h3>
  <div class="AccountItem-content">
    <div class="AccountItem-icon-block">
      <img class="AccountItem-icon" [src]="data.icon" alt="icon" />
    </div>
  <form [formGroup]="form">
    <mat-form-field
      class="AccountItem-field global-MatField"
      appearance="outline"
      autocomplete="off"
    >
      <mat-label>
        {{ data.label }} ID
      </mat-label>
      <input formControlName="firstInput"  (input)="savevalue($event,data)" matInput type="text" [(ngModel)]="value" />
      <mat-error *ngIf="
      form.get('firstInput').touched &&
      form.get('firstInput').hasError('required')
    "> </mat-error>

      <button  matSuffix mat-icon-button aria-label="Clear"   (click)="removeSocial(data.label)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  </div>
</div>
