@import "shared";

:host {
  display: block;
  height: 100%;
}

.ArticleListing {
  padding-top: px2vw-xl(57px);
  padding-bottom: px2vw-xl(94px);

  @include lg {
    padding: 0 32px;
  }

  @include md {
    padding-top: px2vw-md(57px);
    padding-bottom: px2vw-md(94px);
  }

  @include sm {
    padding: 60px 23px 0 23px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @include lg {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include sm {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  &-header {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    padding: 0 24px;
    @include lg{
      padding: 0;
    }
    h3 {
      font-family: "Paralucent-Light",  san-serif;
      letter-spacing: -0.5px;
      font-weight: 600;
      font-size: 50px;
      line-height: 40px;
      color: var(--white);
      @include sm{
        font-size: 32px
      }
    }
    @extend %u-dfCenterBtw;
    margin-bottom: 20px;

    @include lg {
      margin-bottom: px2vw-lg(55px);
    }

    @include md {
      margin-bottom: px2vw-md(55px);
    }
  }

  &-search {
    position: relative;

    &-btn {
      background: none;
      border: none;
    }

    &-box {
    }
  }

  &-item {
    margin-bottom: px2vw-xl(10px);
    width: 24.5%;

    @include lg {
      margin-bottom: px2vw-lg(10px);
      width: 32.5%;
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      width: 49%;
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      width: 100%;
    }
  }
}
.ArticleListing-container {
  display: flex;
  width: 100%;
  max-width: 1308px;
  margin: 0 auto;
  padding: 0 24px;
  @include lg {
    flex-direction: column;
    padding: 0;
  }
  @include sm{
    padding: 0px;
  }
  .ArticleListing-hero-left {
    width: 100%;
    max-width: 775px;
    @include lg{
      max-width: 100%;
    }
    .hero-container {
      width: 100%;
      margin-bottom: 28px;
      cursor: pointer;
      .hero-image {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        border: none;
        padding-bottom: 2.3px;
        @include sm {
          height: 184px;
        }
      }
      .hero-title {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: var(--white);
        padding-bottom: 10px;
        @include lg {
          width: 100%;
          max-width: 460px;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
        }
        @include sm {
          font-size: 20px;
          line-height: 28px;
        }
      }
      .hero-info {
        display: flex;
        align-items: center;
        .hero-info-avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          border: none;
          @include sm {
            width: 32px;
            height: 32px;
          }
        }
        .hero-info-user {
          padding-right: 20px;
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.5px;
          color: var(--white);
          padding: 0 0 0 20px;
          opacity: 0.6;
          @include lg {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 26px;
          }
          @include sm {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
    .post-container {
      .post-header {
        padding: 16px 0 26px 0;
        &-title {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: -0.5px;
          color: var(--white);
          @include sm {
            font-size: 24px;
          }
        }
      }
      .post-filter {
        display: -webkit-flex;
        display: none;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-bottom: 27.5px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--color-black-medium);
        @include lg {
          display: flex;
        }
        @include md {
          padding-bottom: 18px;
          margin-bottom: 24px;
        }
        &-Group {
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          -webkit-align-items: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          @include sm {
            display: none;
            margin-bottom: 35px;
            overflow: hidden;
            overflow-x: auto;
            flex-wrap: nowrap;
            &::-webkit-scrollbar {
              width: 0;
              height: 0;
            }
          }
        }
        &-btn {
          @include sm {
            display: table-cell;
            white-space: nowrap;
          }
        }
        &-Button {
          display: none;
          width: 100%;
          max-width: 151px;

          @include md {
            display: block;
          }
          @include sm {
            max-width: 100%;
          }
          .btn {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: var(--secondary-color);
            text-transform: none;
            width: 100%;
            padding: 10px 0;
            @include sm {
              width: 100%;
              padding: 11px 16px;
            }
          }
        }
        &-label {
          margin-right: 8px;
          @include sm {
            display: table-cell;
            white-space: nowrap;
          }
          .text {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--tolopea-color);
          }
        }
        &-lists {
          display: flex;
          align-items: center;
          .item {
            background: var(--midnight-express-color);
            border: 1px solid var(--color-black-medium);
            box-sizing: border-box;
            border-radius: 18px;
            padding: 4px 6px 4px 10px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            .text {
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: var(--color-white-medium);
            }
            .icon-remove {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 16px;
              height: 16px;
              margin-left: 4px;
              &::before,
              &::after {
                content: "";
                position: absolute;
                width: 9.33px;
                height: 1px;
                background-color: var(--tertiary-color);
              }
              &::before {
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              &::after {
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
            }
          }
        }
        &-btn {
          .btn-clear {
            padding: 0;
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--main-color);
            text-transform: none;
            margin-left: 8px;
          }
        }
      }
      .post-main {
        &-heading {
          display: -webkit-flex;
          display: none;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-bottom: 24px;
          @include lg {
            display: flex;
          }
          @include sm {
            margin-bottom: 17px;
          }
          .ShowingEntries {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: var(--tolopea-color);
            margin-bottom: 0;
            @include md {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 8px;
            }
          }
          .SortBy {
            width: 100%;
            max-width: 280px;
            @include sm {
              max-width: 100%;
            }
            .Select-teamDropdown {
              &:hover,
              &.show {
                .Select-teamBtn {
                  border: 2px solid var(--main-color);
                }
              }
              .Select-teamBtn {
                background: var(--color-background);
                border: 2px solid var(--midnight-express-color);
                box-sizing: border-box;
                border-radius: 24px;
                width: 100%;
                text-align: left;
                padding: 10px 17px 10px 14px;
                @extend %global-textSm;
                color: var(--tertiary-color);
                text-transform: none;
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                -webkit-align-items: center;
                align-items: center;
                @include sm {
                  max-width: 100%;
                  padding: 6px 24px;
                  font-weight: 500;
                }
                &::after {
                  display: inline-block;
                  margin-left: 0;
                  vertical-align: 0;
                  content: "";
                  border-top: 2px solid var(--secondary-color);
                  border-right: 2px solid var(--secondary-color);
                  border-bottom: 0;
                  border-left: 0;
                  width: 12px;
                  height: 12px;
                  transform: rotate(135deg);
                  transition: $global-transition2;
                  position: relative;
                  top: -3px;
                }
              }
              .Select-teamDropdownItem {
                top: 55px !important;
                transform: none !important;
                width: 100%;
                z-index: 2;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 10px 16px;
                background: var(--midnight-express-color);
                border: 0px solid transparent;
                border-right: 4px solid transparent;
                padding-left: 0;
                padding-right: 0;
                max-height: 156px;
                overflow: hidden;
                overflow-y: auto;
                @include sm {
                  top: 45px !important;
                }
                &::-webkit-scrollbar {
                  width: 8px;
                  border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb {
                  height: 8px;
                  border-radius: 4px;
                  background-color: var(--tertiary-color);
                }
                &::-webkit-scrollbar-track {
                  background: transparent;
                }
                button {
                  font-family: "Paralucent-Light",  san-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  color: var(--white);
                  padding: 10px 16px;
                  &:hover {
                    background: var(--color-black-medium);
                  }
                }
              }
              &.show {
                .Select-teamBtn {
                  &::after {
                    transform: rotate(315deg);
                    transition: $global-transition2;
                  }
                }
              }
            }
          }
        }
        &-header{
          display: none;
          &-title{
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            color: var(--white);
            padding: 16px 0 24px 0;
          }
          @include sm{
            display: block;
          }
        }
      }
      .post-main-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 35px 30px;
        @include lg {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        @include sm {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .post-cart {
          width: 100%;
          max-width: 370px;
          cursor: pointer;
          @include lg {
            width: 100%;
            gap: 24px 20px;
          }
          @include sm {
            width: 100%;
            gap: 16px 0px;
          }
          &-image {
            width: 100%;
            height: 222px;
            border-radius: 20px;
            @include md {
              height: 132px;
            }
            @include sm {
              height: 172px;
            }
          }
          &-title {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--white);
            padding-top: 14px;
            @include sm {
              padding: 10px 0 12px;
              width: 100%;
              max-width: 305px;
            }
          }
          &-infor {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--tolopea-color);
          }
        }
      }
      .post-footer {
        .mat-paginator-outer-container {
          .mat-paginator-container {
            .mat-paginator-page-size {
              .mat-paginator-page-size-label {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
  .ArticleListing-hero-right {
    padding: 0 0 0 52px;
    width: 100%;
    max-width: calc(100% - 775px);
    @include lg {
      max-width: 100%;
      padding: 0;
    }
    .ArticleListing-right-heading {
      &-title {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--tolopea-color);
        padding-bottom: 10px;
      }
      &-list {
        .item-categories {
          padding-top: 10px;
          .link-to-item {
            font-family: "Paralucent-Light",  san-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: var(--white);
            &:hover {
              color: var(--secondary-color);
            }
          }
        }
      }
      @include lg {
        display: none;
      }
    }
    .ArticleListing-right-group {
      &-title {
        padding: 16px 0;
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--tolopea-color);
      }
      &-container {
        padding: 10px ;
        height: 355px;
        overflow-y: scroll;
        .ArticleListing-right-group-item {
          padding-bottom: 10px;
          .item-check-box {
            .mat-checkbox-layout {
              .mat-checkbox-label {
                font-family: "Paralucent-Light",  san-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--white);
              }
            }
          }
        }
      }
      &-btn {
        margin: 35px 0px 0px 20px;
        padding: 12px 32px;
        color: var(--secondary-color);
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        width: 110px;
        height: 48px;
        background-color: var(--white);
        border-radius: 6px;
      }
      @include lg {
        display: none;
      }
    }
    .ArticleListing-right-group-type {
      padding: 24px 0 0 0;
      .ArticleListing-right-group-type-title {
        padding: 16px 0;
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--tolopea-color);
        @include lg {
          font-size: 28px;
          line-height: 36px;
          color: var(--white);
        }
      }
      .ArticleListing-right-group-type-container {
        padding-bottom: 28px;
        .ArticleListing-right-group-type-item {
          padding-bottom: 10px;
          .item-check-box {
            .mat-checkbox-layout {
              .mat-checkbox-label {
                font-family: "Paralucent-Light",  san-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--white);
              }
            }
          }
        }
      }
      .type {
        margin: 0 0 0 20px;
      }
      &-trending {
        padding-top: 10px;
        @include lg {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 24px;
        }
        @include sm {
          display: grid;
          grid-template-columns: 1fr;
        }
        &-item {
          display: flex;
          padding: 0 0 20px 0;
          @include lg {
            padding: 0;
          }
          .trending-item-image {
            width: 135px;
            height: 75px;
            border-radius: 8px;
            @include lg {
              width: 121px;
            }
            @include sm {
              width: 155px;
            }
          }
          .trending-item-infor {
            padding: 0 0 0 24px;
            @include lg {
              padding: 0 0 0 16px;
            }
            @include sm {
              padding: 0 0 0 24px;
            }
            .trending-item-title {
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 28px;
              color: var(--white);
              opacity: 0.87;
              @include lg {
                font-size: 16px;
                line-height: 24px;
              }
              @include sm {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
              }
            }
            .trending-item-infor-user {
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: var(--white);
              opacity: 0.6;
              @include lg {
                font-size: 14px;
                line-height: 20px;
              }
              @include sm {
                font-size: 14px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
    .content-type {
      @include lg {
        display: none;
      }
    }
  }
}
.custom_checkbox {
  position: relative;
  cursor: pointer;
  color: var(--white);
  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
  span {
    @extend %body-2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    i {
      display: inline-block;
      width: px2vw-xl(21px);
      height: px2vw-xl(21px);
      border: 1px solid rgba(255, 255, 255, 0.38);
      margin-right: px2vw-xl(8px);
      border-radius: px2vw-xl(2px);

      @include lg {
        width: px2vw-lg(21px);
        height: px2vw-lg(21px);
        margin-right: px2vw-lg(8px);
        border-radius: px2vw-lg(2px);
      }
      @include md {
        width: px2vw-md(21px);
        height: px2vw-md(21px);
        margin-right: px2vw-md(8px);
        border-radius: px2vw-md(2px);
      }
      @include sm {
        width: px2vw-sm(21px);
        height: px2vw-sm(21px);
        margin-right: px2vw-sm(8px);
        border-radius: px2vw-sm(2px);
      }
    }
  }
  input:checked ~ span i {
    background: var(--color-primary);
    border-color: var(--color-primary);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: px2vw-xl(6px);
      top: px2vw-xl(2px);
      width: px2vw-xl(7px);
      height: px2vw-xl(14px);
      border: solid var(--black);
      border-width: 0 px2vw-xl(3px) px2vw-xl(3px) 0;
      transform: rotate(45deg);

      @include lg {
        left: px2vw-lg(6px);
        top: px2vw-lg(2px);
        width: px2vw-lg(7px);
        height: px2vw-lg(14px);
        border-width: 0 px2vw-lg(3px) px2vw-lg(3px) 0;
      }
      @include md {
        left: px2vw-md(6px);
        top: px2vw-md(2px);
        width: px2vw-md(7px);
        height: px2vw-md(14px);
        border-width: 0 px2vw-md(3px) px2vw-md(3px) 0;
      }
      @include sm {
        left: px2vw-sm(6px);
        top: px2vw-sm(2px);
        width: px2vw-sm(7px);
        height: px2vw-sm(14px);
        border-width: 0 px2vw-sm(3px) px2vw-sm(3px) 0;
      }
    }
  }
}
