@import "shared";

:host {
  background: var(--base-white);
  display: block;
  height: 100%;
}

.ArticleListing {
  padding-top: px2vw-xl(57px);
  padding-bottom: px2vw-xl(94px);

  @include lg {
    padding-top: px2vw-lg(57px);
    padding-bottom: px2vw-lg(94px);
  }

  @include md {
    padding-top: px2vw-md(57px);
    padding-bottom: px2vw-md(94px);
  }

  @include sm {
    padding-top: px2vw-sm(57px);
    padding-bottom: px2vw-sm(94px);
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @include lg {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include sm {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(55px);

    @include lg {
      margin-bottom: px2vw-lg(55px);
    }

    @include md {
      margin-bottom: px2vw-md(55px);
    }

    @include sm {
      margin-bottom: px2vw-sm(55px);
    }
  }

  &-search {
    position: relative;

    &-btn {
      background: none;
      border: none;
    }

    &-box {
    }
  }

  &-item {
    margin-bottom: px2vw-xl(10px);
    width: 24.5%;

    @include lg {
      margin-bottom: px2vw-lg(10px);
      width: 32.5%;
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      width: 49%;
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      width: 100%;
    }
  }
}
