<header class="AdminHeader-wp" *ngIf="isBrowser">
  <div class="AdminHeader-desktop">
    <div class="AdminHeader-left">
      <a [routerLink]="[AppHtmlRoutes.home]">
        <img
          class="AdminHeader-logo"
          src="./assets/global-images/logo.svg"
          alt="logo image"
        />
      </a>
      <!-- <span class="beta-text">beta</span> -->
    </div>

    <div class="AdminHeader-right">
      <button
        class="Header-user"
        [matMenuTriggerFor]="langMenu"
        mat-icon-button
      >
        {{ activeLang | uppercase }}
      </button>

      <mat-menu #langMenu="matMenu" class="global-MatMenu">
        <button
          *ngFor="let item of AppLanguage"
          (click)="onLanguageChange(item.code)"
          mat-menu-item
        >
          {{ item.code | uppercase }}
        </button>
      </mat-menu>

      <button
        mat-button
        *ngIf="currentUser"
        class="AdminHeader-user"
        [matMenuTriggerFor]="menu"
      >
        <img
          *ngIf="currentUser.profilePicture"
          [src]="currentUser.profilePicture"
          alt="profile picture"
        />

        <img
          *ngIf="!currentUser.profilePicture"
          src="./assets/images/Profile/stc_avatar.png"
          alt="profile picture"
        />

        <span class="global-Text">{{
          currentUser?.username
            ? (currentUser.fullName | limitString: 17:"...")
            : (currentUser.username | limitString: 17:"...")
        }}</span>
      </button>

      <mat-menu #menu="matMenu" class="global-MatMenu">
        <button (click)="onLogOut()" mat-menu-item>
          <span>{{ "ADMIN_NEW.LOGOUT" | translate }}</span>
        </button>
      </mat-menu>
    </div>

    <div class="AdminHeader-mob">
      <button
        class="Header-user"
        [matMenuTriggerFor]="langMenu"
        mat-icon-button
      >
        {{ activeLang | uppercase }}
      </button>

      <mat-menu #langMenu="matMenu" class="global-MatMenu">
        <button
          *ngFor="let item of AppLanguage"
          (click)="onLanguageChange(item.code)"
          mat-menu-item
        >
          {{ item.code | uppercase }}
        </button>
      </mat-menu>
      <button (click)="onMenuToggle()" mat-button>
        <span *ngIf="!isMenuOpened" class="material-icons">menu</span>
        <span *ngIf="isMenuOpened" class="material-icons">menu_open</span>
      </button>
    </div>
  </div>
</header>
