@import "shared";

:host {
  width: 100%;
}

.FormInput {
  display: flex;
  flex-direction: column;

  &-label {
    margin-bottom: px2vw-xl(16px);
    color: var(--nobel);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-field {
    border: 1px solid var(--base-gainsboro);
    border-radius: 3px;
    padding: px2vw-xl(20px) px2vw-xl(25px);
    background: transparent;
    font-family: "stc-forward-light", sans-serif;
    color: var(--base-black-pearl);
    font-size: 16px;

    @include lg {
      padding: px2vw-lg(20px) px2vw-lg(25px);
      font-size: 16px;
    }

    @include md {
      padding: px2vw-md(20px) px2vw-md(25px);
      font-size: 14px;
    }

    @include sm {
      padding: px2vw-sm(20px) px2vw-sm(25px);
      font-size: 14px;
    }
  }

  &-error,
  &-available {
    margin-top: px2vw-xl(5px);
    font-family: "stc-forward-light", sans-serif;

    @include lg {
      margin-top: px2vw-lg(5px);
    }

    @include md {
      margin-top: px2vw-md(5px);
    }

    @include sm {
      margin-top: px2vw-sm(5px);
    }
  }

  &-error {
    color: var(--ui-error);
  }

  &-available {
    color: var(--ui-success);
  }
}
