<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Edit Columns</h5>
    <button (click)="onClose(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="mb-4">Select columns to show</h4>
    <div class="row">
      <div class="col-sm-4">
        <ng-container *ngFor="let item of columnList;let i=index">
          <mat-checkbox class="example-margin mb-3" (change)="(columnList[i].isSelected= $event.checked)"
            [checked]="item?.isSelected">{{item?.label}}</mat-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="onClose(false)" class="btn btn-apply">Cancel</button>
    <button type="button" (click)="onClose(true)" class="btn btn-export">Confirm</button>
  </div>
</div>
