

.Popup {
    &-confirmClose {
        background-color: var(--white);
        box-shadow: 0px 24px 38px rgb(0 0 0 / 10%), 0px 11px 15px rgb(0 0 0 / 10%);
        border-radius: 20px;
        left: calc(50% - 400px / 2);
    
        @include sm {
          left: calc(50% - 359px / 2);
        }
    
        &.join {
          background: var(--midnight-express-color);
          box-shadow: -4px -4px 20px rgb(0 0 0 / 8%), 4px 4px 20px rgb(0 0 0 / 8%);
          padding: 48px;

          @include sm {
            padding: 30px;
          }
        }
    
        &-title {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.5px;
          color: var(--blackcurrant-color-medium);
          margin-bottom: 16px;
    
          &.join {
            color: var(--white);
          }
        }
    
        &-description {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--tertiary-color);
          margin-bottom: 32px;
    
          &.join {
            color: var(--tolopea-medium-color);
          }
        }

        &-input {
          margin-bottom: 32px;

          .input_label{
            color:white;
            display: block;
        }
        
        .input-data{
            background-color:rgb(255,255,255,0.4);
            display: block;
            padding: 10px;
        }
        }
    
        &-btn-cancel {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--secondary-color);
          background-color: var(--white);
          margin-right: 24px;
          padding: 12px 32px;
    
          &.join {
            border-radius: 6px;

            @include sm {
              padding: 10px 25px;
            }
          }
        }
        &-btn-confirm {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: var(--color-white-medium);
          background-color: var(--main-color);
          background: var(--secondary-color);
          border-radius: 6px;
          padding: 12px 32px;
    
          &.join {
            line-height: 24px;

            @include sm {
              padding: 10px 25px;
            }
          }
        }
      }
}
.mat-dialog-container {
  border-radius: 20px!important;
}