.global-scrollbar {
  width: 100%;
}

input[id="orderInput"] {
  text-align: center;
}

input[id="orderInput"]:disabled {
  border: 0;
}

.imageError {
  color: var(--color-tertiary);
  font-size: 20px;
  font-weight: bold;
}
