<div
  [ngClass]="windowposition"
  (clickOutside)="onClickedOutside($event)"
  [@openClose]="showChatComponent ? 'open' : 'closed'"
>
  <div class="top_menu">
    <div class="buttons">
      <a class="button close" (click)="closeChat()">
        <img src="assets/images/Tournament/close.png" alt="chat" />
      </a>
    </div>
    <div class="title">
      {{ chattitle }}
    </div>
    <div class="subtitle" *ngIf="typeofchat == 'tournament'">
      {{ "CHAT.TOURNAMENT_OWNER" | translate }} :
      {{ this.currentTournamentOwner }}
    </div>
    <div class="subtitle" *ngIf="matchtitle != ''">
      {{ matchtitle }}
    </div>
    <div class="subtitle">
      {{ subtitle }}
    </div>
  </div>
  <ul id="messagesul" #messagesul class="messages">
    <li
      [ngClass]="
        userObject['_id'] == chat.userid ? 'message-self' : 'message-opponent'
      "
      *ngFor="let chat of chats; index as i; last as isLast"
    >
      <div
        class="message-i"
        *ngIf="userObject['_id'] == chat.userid && chat.msg != ''"
      >
        <span class="message-i-first"
          >{{ chat.chatusername }}
          {{ chat.chatusername == currentTournamentOwner ? "(O)" : "" }}</span
        ><span class="message-i-second">{{
          chat.updatedAt | date: "dd-MM-yyyy h:mm a"
        }}</span>
      </div>
      <div
        class="message-i"
        *ngIf="userObject['_id'] != chat.userid && chat.msg != ''"
      >
        <span class="message-i-first"
          >{{ chat.chatusername }}
          {{ chat.chatusername == currentTournamentOwner ? "(O)" : "" }}</span
        ><span class="message-i-second">{{
          chat.updatedAt | date: "dd-MM-yyyy h:mm a"
        }}</span>
      </div>

      <div
        class="msg chatmessage-{{ chat._id }}"
        id="lastelement"
        #lastelement
        *ngIf="
          isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'no'
        "
        (mouseenter)="showDelete($event, chat._id)"
        (mouseleave)="hideDelete($event, chat._id)"
      >
        <div class="overlay delete-{{ chat._id }}">
          <a
            href="javascript:void(0);"
            (click)="deleteChat(openModel, chat._id)"
            class="trashicon"
            title="Delete Chat"
          >
            <img
              src="assets/images/chat/trash.png"
              alt="Trash"
              class="trashimage"
            />
          </a>
        </div>
        {{ chat.msg }}<br />
        <img
          src="{{ chat.thumbnailurl }}"
          *ngIf="chat.messagetype == 'image'"
        />
        <ul></ul>
      </div>

      <div
        class="msg chatmessage-{{ chat._id }}"
        id="lastelement"
        #lastelement
        *ngIf="
          isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'yes'
        "
      >
        Message Deleted!<br />
        <img
          src="{{ chat.thumbnailurl }}"
          *ngIf="chat.messagetype == 'image'"
        />
        <ul></ul>
      </div>

      <div
        class="msg chatmessage-{{ chat._id }}"
        id="lastelement"
        #lastelement
        *ngIf="isLast && chat.msg != '' && userObject['_id'] != chat.userid"
      >
        {{ chat.msg }}<br />
        <img
          src="{{ chat.thumbnailurl }}"
          *ngIf="chat.messagetype == 'image'"
        />
        <ul></ul>
      </div>

      <div
        class="msg chatmessage-{{ chat._id }}"
        *ngIf="
          !isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'no'
        "
        (mouseenter)="showDelete($event, chat._id)"
        (mouseleave)="hideDelete($event, chat._id)"
      >
        <div
          class="overlay delete-{{ chat._id }}"
          *ngIf="userObject['_id'] == chat.userid && chat.msg != ''"
        >
          <a
            href="javascript:void(0);"
            (click)="deleteChat(openModel, chat._id)"
            class="trashicon"
            title="Delete Chat"
          >
            <img
              src="assets/images/chat/trash.png"
              alt="Trash"
              class="trashimage"
            />
          </a>
        </div>
        {{ chat.msg }}<br />
        <img
          src="{{ chat.thumbnailurl }}"
          *ngIf="chat.messagetype == 'image'"
        />
      </div>

      <div
        class="msg chatmessage-{{ chat._id }}"
        *ngIf="
          !isLast &&
          chat.msg != '' &&
          userObject['_id'] == chat.userid &&
          chat.deleteflag == 'yes'
        "
      >
        Message Deleted!<br />
        <img
          src="{{ chat.thumbnailurl }}"
          *ngIf="chat.messagetype == 'image'"
        />
      </div>

      <div
        class="msg chatmessage-{{ chat._id }}"
        *ngIf="!isLast && chat.msg != '' && userObject['_id'] != chat.userid"
      >
        {{ chat.msg }}<br />
        <img
          src="{{ chat.thumbnailurl }}"
          *ngIf="chat.messagetype == 'image'"
        />
      </div>

      <ul *ngIf="chat.messagetype == 'textwithfiles'">
        <li *ngFor="let attachment of chat.filesattached" class="attachment">
          <a target="_blank" href="{{ attachment }}">{{
            attachment.substr(attachment.lastIndexOf("/") + 1)
          }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="bottom_wrapper clearfix">
    <div id="typing" class="typing" *ngIf="typingmessage != ''">
      {{ typingmessage }}
    </div>
    <form id="form" enctype="multipart/form-data">
      <div class="message_input_wrapper" #messageinputwrapper>
        <input
          id="message"
          #messageinput
          class="message_input"
          (keydown.enter)="onEnterKey($event)"
          (keypress)="onTyping($event)"
          (focus)="onTyping($event)"
          (focusout)="hideTyping($event)"
          (keyup)="hideTyping($event)"
          placeholder="{{ 'CHAT.SAY' | translate }}"
        />
      </div>

      <div class="bottompad">
        <div class="senddiv">
          <a
            class="btn btn-light is-smallTor is-active"
            (click)="onEnterKey($event)"
          >
            {{ "BUTTON.SEND" | translate }}
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #openModel let-modal class="Logout-modal">
  <header class="Logout-modal-header">
    <h3 class="Logout-modal-title">
      Confirm Chat Delete?
    </h3>
    <button class="Logout-modal-close" (click)="modal.dismiss()">
      <span class="material-icons">clear</span>
    </button>
  </header>
  <div class="Logout-modal-message">
    Are you sure you want to delete?
  </div>
  <div class="Logout-modal-buttons">
    <button
      class="mesf-EditBtn is-sm is-admin-cancel btnspace"
      (click)="modal.dismiss()"
    >
      CANCEL
    </button>
    <button class="mesf-EditBtn is-sm" (click)="onConfirmDelete()">
      CONFIRM
    </button>
  </div>
</ng-template>
