<div class="InputText basic" [formGroup]="customFormGroup">
  <h3 class="InputText-title title global-Text">
    {{ title | translate }}
  </h3>

  <div class="InputText-block block u-dfCenterStart">
    <input
      [formControlName]="customFormControlName"
      class="InputText-input input global-Text"
      type="number"
      [readonly]="isDisabled"
      (keyup)="onSubmit($event)"
    />

    <img
      class="InputText-icon icon"
      src="assets/icons/tournament/arrow-left.svg"
      alt="icon"
    />
  </div>
</div>
