<div class="VideoView" *ngIf="isLoaded">
  <div class="container-fluid u-wp">
    <button class="stc-btnBuck" (click)="submit()">
      <span class="material-icons">
        keyboard_arrow_left
      </span>
      {{ "BUTTON.BACK" | translate }}
    </button>

    <div class="VideoView-info">
      <div class="VideoView-info-ava">
        <img
          [src]="
            videoDetails?.createdBy?.profilePicture ||
            'assets/images/Profile/stc_avatar.png'
          "
          alt="Image"
        />
      </div>

      <div class="VideoView-info-box">
        <div class="VideoView-info-title">
          {{
            videoDetails?.title
              | customTranslate: (languageService?.language | async)
              | capitalizeFirst
          }}
        </div>
        <div class="VideoView-info-name">
          {{ videoDetails?.createdBy?.fullName || "N/A" }}
        </div>
        <div class="VideoView-info-date">
          {{ "VIDEO.VIEW.POST_ON" | translate }}
          <b>{{ videoDetails?.updatedOn | date: "MMMM dd" }}</b>
        </div>
        <div class="VideoView-info-text">
          {{
            videoDetails?.description
              | customTranslate: (languageService?.language | async)
              | capitalizeFirst
          }}
        </div>

        <div class="VideoView-info-tags">
          <div class="VideoView-info-tags-title">
            {{ "VIDEO.VIEW.TAGS" | translate }}
          </div>
          <div>
            <div
              class="VideoView-info-tags-tag"
              *ngFor="let tag of videoDetails?.tags"
            >
              {{ tag?.name }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="VideoView-video">
      <div class="VideoView-video-iframe">
        <iframe
          width="560"
          height="315"
          [src]="videoDetails?.youtubeUrl | safe: 'url'"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen="true"
          webkitallowfullscreen="true"
          mozallowfullscreen="true"
        ></iframe>
      </div>

      <footer class="VideoView-video-footer">
        <button class="VideoView-video-footer-item is-active">
          <span class="material-icons">visibility</span>
          {{ videoDetails?.views || 0 }}
          {{ "VIDEO_VIEW.VIEWS" | translate }}
        </button>
        <button
          class="VideoView-video-footer-item"
          (click)="openSocialShareComponent()"
        >
          <span class="material-icons">share</span>
          {{ "VIDEO_VIEW.SHARE" | translate }}
        </button>
        <button
          class="VideoView-video-footer-item"
          (click)="
            isBookmarked
              ? removeBookmark(videoDetails?._id)
              : addBookmark(videoDetails?._id)
          "
          [hidden]="!userId"
        >
          <span class="material-icons">{{
            isBookmarked ? "bookmark" : "bookmark_border"
          }}</span>
          {{
            isBookmarked
              ? ("VIDEO.VIEW.UNBOOKMARK" | translate)
              : ("VIDEO.VIEW.BOOKMARK" | translate)
          }}
        </button>
      </footer>
    </div>
  </div>
</div>

<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
