<ng-container *ngIf="tournamentsSlides?.length && currentSlide">
  <div class="UpcomingSlider">
    <div class="UpcomingSlider-bg-image" [lazyLoad]="currentSlide?.banner"></div>

    <div class="UpcomingSlider-overlay"></div>

    <div class="UpcomingSlider-container">
      <div class="UpcomingSlider-content">
        <ngb-carousel
          #slider
          class="UpcomingSlider-carousel"
          [showNavigationArrows]="false"
          [showNavigationIndicators]="false"
          (slide)="setCurrentSlide($event)"
        >
          <ng-template
            ngbSlide
            *ngFor="let slide of tournamentsSlides; let idx = index"
            [id]="'slideId' + idx"
          >
            <div class="UpcomingSlider-image" [lazyLoad]="slide?.banner"></div>
          </ng-template>
        </ngb-carousel>

        <div class="UpcomingSlider-info">
          <h3 class="UpcomingSlider-heading global-Elipses">
            {{ "HOME.UPCOMING_SLIDER.TITLE" | translate }}
          </h3>

          <p class="UpcomingSlider-subtitle global-Elipses">
            {{ currentSlide?.startDate |date }}
          </p>

          <h2 class="UpcomingSlider-title global-Elipses2">
            {{ currentSlide?.name?.english }}
          </h2>

          <div class="UpcomingSlider-about">
            <p class="UpcomingSlider-about-registered global-Elipses">
              {{ "HOME.UPCOMING_SLIDER.REGISTERED" | translate }}
            </p>
          </div>
        </div>
      </div>

      <button
        class="UpcomingSlider-close"
        (click)="tournamentsSlides.length = 0"
      >
        <mat-icon class="UpcomingSlider-close-icon"> close </mat-icon>
      </button>

      <div class="UpcomingSlider-arrows">
        <mat-icon class="UpcomingSlider-arrow" (click)="this.slider.prev()">
          chevron_left
        </mat-icon>

        <mat-icon class="UpcomingSlider-arrow" (click)="this.slider.next()">
          chevron_right
        </mat-icon>
      </div>
    </div>
  </div>
</ng-container>
