<div class="registration">
  <header
    class="banner-header"
    [style.background-image]="'url(' + tournament?.gameDetail?.logo + ')'"
  >
    <div class="banner-block">
      <div
        class="banner-image-block"
        [style.background-image]="
          'url(' +
          (tournament?.gameDetail?.logo ||
            'assets/images/Tournament/ava-reg.png') +
          ')'
        "
      ></div>
      <div class="banner-titles">
        <h3 class="banner-title global-Title2 global-Elipses">
          {{ tournament?.name || "N/A" }}
        </h3>
        <h6 class="banner-subtitle global-Title3 global-Elipses">
          {{ tournament?.gameDetail?.name || "N/A" }}
        </h6>
      </div>
    </div>
  </header>
  <esports-fullscreen-loading *ngIf="requestProcessing"></esports-fullscreen-loading>

  <div>
    <div *ngIf="showParticipantForm; else hideForm">
      <ng-container [ngSwitch]="tournament?.participantType">
        <ng-container *ngSwitchCase="'team'">
          <ng-container *ngTemplateOutlet="team"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'individual'">
          <ng-container *ngTemplateOutlet="individual"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <p>
            {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.NO_FORM" | translate }}
          </p>
        </ng-container>
      </ng-container>
    </div>
    <ng-template #hideForm>
      <div *ngIf="isLoaded">
        <div [ngSwitch]="participantRS">
          <h5 *ngSwitchCase="'region-not-allowed'">
            {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.NOT_ALLOWED_1" | translate }}
            {{
              user?.state ||
                ("VIEW_TOURNAMENT.JOIN_PARTICIPANT.EMPTY" | translate)
            }}
            {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.NOT_ALLOWED_2" | translate }}
          </h5>
          <h5 *ngSwitchCase="'tournament-started'">
            {{
              "VIEW_TOURNAMENT.JOIN_PARTICIPANT.TOURNAMENT_START" | translate
            }}
          </h5>
          <h5 *ngSwitchCase="'tournament-finished'">
            {{
              "VIEW_TOURNAMENT.JOIN_PARTICIPANT.FINISHED_TOURNAMENT" | translate
            }}
          </h5>
          <h5 *ngSwitchCase="'registration-full'">
            {{ "VIEW_TOURNAMENT.JOIN_BUTTON.REGISTRATION_FULL" | translate }}
          </h5>
          <h5 *ngSwitchDefault>
            {{ "N/A" | translate }}
          </h5>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #individual>
  <form [formGroup]="participantForm">
    <div>
      <h4 class="registration-title global-Title2">
        {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.INDIVIDAUL_HEADER" | translate }}
      </h4>
      <div class="form-group">
        <div class="registration-photo-block">
          <app-upload
            [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.1VS1_LOGO'"
            [customFormGroup]="participantForm"
            [customFormControlName]="'logo'"
            [dimension]="logoDimension"
            [size]="logoSize"
            [type]="'LOGO'"
            [addMessage]="'TOOLTIP.ADD_PARTICIPANT_LOGO'"
            [changeMessage]="'TOOLTIP.CHANGE_PARTICIPANT_LOGO'"
            [id]="'LOGO'"
            [customClass]="'Participant-logo'"
            [required]="true"
          >
          </app-upload>
        </div>
        <div class="registration-form">
          <div class="registration-form-item">
            <app-input
              [customFormControlName]="'name'"
              [customFormGroup]="participantForm"
              [readOnly]="true"
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.NAME'"
              [type]="'STRING'"
            >
            </app-input>
          </div>
          <div class="registration-form-item">
            <app-input
              [customFormControlName]="'email'"
              [customFormGroup]="participantForm"
              [readOnly]="user?.emailisVerified"
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.EMAIL_ADDRESS'"
              [type]="'STRING'"
            >
            </app-input>
          </div>
          <div class="registration-form-item">
            <app-input
              [customFormControlName]="'inGamerUserId'"
              [customFormGroup]="participantForm"
              [enableSearch]="true"
              [searchMessage]="
                'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
              "
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.IN_GAME_USERID'"
              [type]="'STRING'"
              [readOnly]="false"
              (valueEmit)="isUniqueName($event, 'inGamerUserId')"
            >
            </app-input>
          </div>
          <div class="registration-form-item">
            <app-phone-no
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.PHONE_NUMBER'"
              [customFormGroup]="participantForm"
              [customFormControlName]="'phoneNumber'"
              [readOnly]="true"
              [separateDialCode]="false"
            >
            </app-phone-no>
          </div>
        </div>
      </div>
    </div>

    <div class="registration-buttons row btn-row-reg">
      <ng-container *ngIf="!isProcessing; else spinner">
        <button
          type="reset"
          class="registration-button global-EditBtn dark-text"
          (click)="cancel()"
        >
          {{ "BUTTON.CANCEL" | translate }}
        </button>
        <button
          class="registration-button global-EditBtn"
          (click)="submit()"
          type="submit"
        >
          {{ "BUTTON.JOIN" | translate }}
        </button>
      </ng-container>
      <ng-template #spinner>
        <button type="button" class="btn-primary spinner_pointer_event_none">
          <mat-spinner [diameter]="20"></mat-spinner>
        </button>
      </ng-template>
    </div>
  </form>
</ng-template>

<ng-template #team>
  <form [formGroup]="participantForm">
    <div>
      <h4 class="registration-title global-Title2">
        {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.TEAM_HEADER" | translate }}
      </h4>
      <div class="registration-team-captain"></div>
      <div class="form-group">
        <div class="registration-photo-block">
          <app-upload
            [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.TEAMVSTEAM_LOGO'"
            [customFormGroup]="participantForm"
            [customFormControlName]="'logo'"
            [dimension]="logoDimension"
            [size]="logoSize"
            [type]="'LOGO'"
            [addMessage]="'TOOLTIP.ADD_PARTICIPANT_LOGO'"
            [changeMessage]="'TOOLTIP.CHANGE_PARTICIPANT_LOGO'"
            [id]="'LOGO'"
            [customClass]="'Participant-logo'"
            [required]="true"
          >
          </app-upload>
        </div>
        <div class="registration-form-item">
          <app-input
            [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.TEAM_NAME'"
            [type]="'STRING'"
            [customFormGroup]="participantForm"
            [customFormControlName]="'teamName'"
            [enableSearch]="true"
            [searchMessage]="
              'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.TEAM_NAME_03'
            "
            (valueEmit)="isUniqueName($event, 'teamName')"
          >
          </app-input>
        </div>
      </div>

      <div style="display: none;" class="registration-team-captain">
        {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.TEAM_CAPTAIN" | translate }}
      </div>

      <div class="form-group">
        <div class="registration-team-member">
          {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.MEMBER" | translate }} 01 (
          {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.CAPTAIN" | translate }}
          )
        </div>

        <div class="registration-form">
          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.NAME'"
              [type]="'STRING'"
              [customFormGroup]="participantForm"
              [customFormControlName]="'name'"
              [readOnly]="true"
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.EMAIL_ADDRESS'"
              [type]="'STRING'"
              [customFormGroup]="participantForm"
              [customFormControlName]="'email'"
              [readOnly]="user?.emailisVerified"
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.IN_GAME_USERID'"
              [type]="'STRING'"
              [customFormGroup]="participantForm"
              [customFormControlName]="'inGamerUserId'"
              [enableSearch]="true"
              [searchMessage]="
                'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
              "
              (valueEmit)="isUniqueName($event, 'inGamerUserId')"
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-phone-no
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.PHONE_NUMBER'"
              [customFormGroup]="participantForm"
              [customFormControlName]="'phoneNumber'"
              [readOnly]="true"
              [separateDialCode]="false"
            >
            </app-phone-no>
          </div>
        </div>
      </div>

      <div
        class="form-group teamMember"
        formArrayName="teamMembers"
        *ngFor="
          let item of participantForm.get('teamMembers')?.controls;
          let i = index
        "
      >
        <div class="registration-team-member">
          {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.MEMBER" | translate }} 0{{
            i + 2
          }}
        </div>
        <div class="registration-form" [formGroupName]="i">
          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.NAME'"
              [type]="'STRING'"
              [customFormGroup]="
                (participantForm?.get('teamMembers')?.controls)[i]
              "
              [customFormControlName]="'name'"
              [readOnly]="true"
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.EMAIL_ADDRESS'"
              [type]="'STRING'"
              [customFormGroup]="
                (participantForm?.get('teamMembers')?.controls)[i]
              "
              [customFormControlName]="'email'"
              [readOnly]="true"
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.IN_GAME_USERID'"
              [type]="'STRING'"
              [customFormGroup]="
                (participantForm?.get('teamMembers')?.controls)[i]
              "
              [customFormControlName]="'inGamerUserId'"
              [enableSearch]="true"
              [searchMessage]="
                'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
              "
              (valueEmit)="
                isUniqueName($event, 'inGamerUserId', i, 'teamMembers')
              "
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-phone-no
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.PHONE_NUMBER'"
              [customFormGroup]="
                (participantForm?.get('teamMembers')?.controls)[i]
              "
              [customFormControlName]="'phoneNumber'"
              [readOnly]="true"
              [separateDialCode]="!participantForm?.value?.id"
            >
            </app-phone-no>
          </div>
        </div>
      </div>

      <div
        class="teamMember"
        formArrayName="substituteMembers"
        *ngFor="
          let item of participantForm.get('substituteMembers')?.controls;
          let i = index
        "
      >
        <div class="registration-team-member">
          {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.SUBSTITUTE" | translate }}
          0{{ i + 1 }}
        </div>
        <div class="registration-form" [formGroupName]="i">
          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.NAME'"
              [type]="'STRING'"
              [customFormGroup]="
                (participantForm?.get('substituteMembers')?.controls)[i]
              "
              [customFormControlName]="'name'"
              [readOnly]="true"
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.EMAIL_ADDRESS'"
              [type]="'STRING'"
              [customFormGroup]="
                (participantForm?.get('substituteMembers')?.controls)[i]
              "
              [customFormControlName]="'email'"
              [readOnly]="true"
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-input
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.IN_GAME_USERID'"
              [type]="'STRING'"
              [customFormGroup]="
                (participantForm?.get('substituteMembers')?.controls)[i]
              "
              [customFormControlName]="'inGamerUserId'"
              [enableSearch]="true"
              [searchMessage]="
                'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
              "
              (valueEmit)="
                isUniqueName($event, 'inGamerUserId', i, 'substituteMembers')
              "
            >
            </app-input>
          </div>

          <div class="registration-form-item">
            <app-phone-no
              [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.PHONE_NUMBER'"
              [customFormGroup]="
                (participantForm?.get('substituteMembers')?.controls)[i]
              "
              [customFormControlName]="'phoneNumber'"
              [readOnly]="true"
              [separateDialCode]="!participantForm?.value?.id"
            >
            </app-phone-no>
          </div>
        </div>
      </div>
    </div>
    <div class="registration-buttons row btn-row-reg">
      <ng-container *ngIf="!isProcessing; else spinner">
        <button
          class="registration-button global-EditBtn dark-text"
          (click)="cancel()"
        >
          {{ "BUTTON.CANCEL" | translate }}
        </button>
        <button
          class="registration-button global-EditBtn"
          (click)="submit()"
          type="submit"
        >
          {{ "BUTTON.JOIN" | translate }}
        </button>
      </ng-container>
      <ng-template #spinner>
        <button type="button" class="btn-primary spinner_pointer_event_none">
          <mat-spinner [diameter]="20"></mat-spinner>
        </button>
      </ng-template>
    </div>
  </form>
</ng-template>

<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
