@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap");
@import "shared";

:host {
  @extend %u-dfStretch;
  //   padding-top: 9px;
  padding-bottom: 0;
  //   min-height: 647.5px;
  height: 100%;
  display: block;
  position: relative;
  //   max-width: 1308px;
  //   margin: 0 auto;

  @include lg {
    // height: px2vw-lg(658px);
    // padding-top: 9px;
    padding-bottom: 0;
  }

  @include md {
    // height: px2vw-md(658px);
    // padding-top: px2vw-md(24px);
    padding-bottom: px2vw-md(10px);
  }

  @include sm {
    // height: px2vw-sm(658px);
    // padding-top: px2vw-sm(24px);
    padding-bottom: px2vw-sm(10px);
  }
}

.CasualMatchmaking {
  max-width: 619px;
  margin-left: 4px;
  padding-top: 87px;

  @include md {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
    padding-top: 56px;
  }

  &-wrap {
    background: var(--color-background);
    // opacity: 0.6;
    background-image: url(../../../../assets/images/match-lobby/image-172.svg);
    background-size: contain;
    // background-position: center;
    background-repeat: no-repeat;

    @include sm {
      background-image: none;
    }
  }

  &-inner {
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 30px;

    @include sm {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
    }
    &-info {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      align-self: center;
      display: none;

      @include sm {
        display: flex;
        flex-direction: row-reverse;
      }

      &-btn {
        background-color: transparent;
        margin-right: 17px;
        display: flex;
        align-self: center;
      }
    }
  }

  &-subtitle {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16.1px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 44px;
    width: 83%;

    @include sm {
      width: 100%;
      color: var(--tolopea-color);
      margin-bottom: 33px;
    }
  }

  &-team {
    margin-bottom: 19px;

    &-info {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20.4px;
      line-height: 28px;
      color: var(--white);
      margin-bottom: 13px;

      @include sm {
        font-size: 16px;
        line-height: 24px;
        color: var(--tolopea-color);
        margin-bottom: 8px;
      }
    }

    &-member {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 18px;
      border-bottom: 1px solid var(--midnight-express-color);
      padding-top: 14px;
      position: relative;
      padding-left: 13px;

      @include sm {
        padding-left: 0;
      }

      &-ava {
        background-image: url(../../../../assets/icons/ava-image.svg);
        width: 49px;
        height: 49px;
        border-radius: 999px;
        margin-right: 16px;
        margin-top: 2px;
        display: flex;
        align-self: center;
      }

      &-info {
        @include sm {
          width: 65%;
        }
      }

      &-name {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20.3px;
        line-height: 28px;
        color: var(--white);

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-id {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16.3px;
        line-height: 24px;
        color: var(--tolopea-color);

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-option {
        background-color: transparent;
        position: absolute;
        right: 29px;
        top: 28px;

        @include sm {
          border: 0;
          align-self: center;
          width: 40px;
          text-align: end;
          position: static;
        }
      }

      &-option ::ng-deep svg path {
        fill: var(--main-color) !important;
      }

      &-slug {
        width: 159px;
        height: 44px;
        border: 2px solid var(--tertiary-color);
        box-sizing: border-box;
        border-radius: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        padding: 10px 20px;
        justify-content: space-between;
        position: absolute;
        right: 88px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--tolopea-color);

        @include sm {
          display: none;
        }
      }

      &-caption {
        color: var(--ui-win);

        &.caption-mobile {
          display: none;

          @include sm {
            display: block;
          }
        }
      }
      &-divider {
        &.divider-mobile {
          display: none;

          @include sm {
            display: block;
          }
        }
      }
    }
  }

  &-group-chat {
    width: 360px;
    background: var(--midnight-express-color);
    border-radius: 20px 20px 0px 0px;
    position: fixed;
    bottom: 0;
    right: calc(50% - 1155px / 2 - 31px);

    @include sm {
      left: calc(50% - 297px / 2 - 31px);
      right: unset;
      bottom: -425px;
    }

    &-header {
      background: var(--white);
      border-radius: 20px 20px 0px 0px;
      display: flex;
      flex-direction: row;
      height: 72px;
      padding: 16px;

      &-ava-team {
        width: 40px;
        height: 40px;
        background: var(--ui-win);
        margin-right: 12px;
        border-radius: 999px;
        background-image: url(../../../../assets/icons/group-chat.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
      }

      &-info {
        margin-right: 102px;

        &-title {
          font-family: Archivo;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.1px;
          color: var(--blackcurrant-color-medium);
        }

        &-count-member {
          font-family: Red Hat Text;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2px;
          color: var(--tertiary-color);
        }
      }

      &-btn-mini {
        background-color: var(--white);
        width: 14px;
        height: 2px;
        margin-right: 17px;
      }

      &-btn-close {
        width: 14px;
        height: 14px;
        background-color: var(--white);
      }
    }

    &-content {
      padding: 12px;
      height: 372px;

      &-right {
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;

        &-time {
          font-family: "Red Hat Text";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          text-align: right;
          letter-spacing: 0.2px;
          color: rgba(255, 255, 255, 0.6);
        }

        &-text {
          background: var(--ui-win);
          box-shadow: 0px 2px 2px rgb(0 0 0 / 14%), 0px 3px 1px rgb(0 0 0 / 12%),
            0px 1px 5px rgb(0 0 0 / 20%);
          border-radius: 12px 12px 0px 12px;
          width: fit-content;
          padding: 8px;
          align-self: end;
          margin-bottom: 4px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-align: right;
          color: var(--white);
        }
      }

      &-left {
        margin-bottom: 8px;
        text-align: left;
        display: flex;
        flex-direction: row;

        &-ava {
          background-image: url(../../../../assets/icons/chat-ava.svg);
          width: 24px;
          height: 24px;
          border-radius: 9999px;
          margin-right: 9px;
        }

        &-text {
          background: var(--white);
          box-shadow: 0px 2px 2px rgb(0 0 0 / 14%), 0px 3px 1px rgb(0 0 0 / 12%),
            0px 1px 5px rgb(0 0 0 / 20%);
          border-radius: 12px 12px 12px 0px;
          width: fit-content;
          padding: 8px;
          margin-bottom: 4px;

          &-name {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: var(--secondary-color);
            margin-bottom: 4px;
          }

          &-mess {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--blackcurrant-color-medium);
          }
        }

        &-time {
          font-family: "Red Hat Text";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          text-align: left;
          letter-spacing: 0.2px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
    &-boxSend {
      height: 56px;
      border-top: 1px solid rgba(255, 255, 255, 0.12);

      & form {
        height: 100%;
      }

      & input,
      & input::placeholder {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.38);
      }
      & form ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0 12px;
        background-color: var(--midnight-express-color);
      }
      & form ::ng-deep .mat-form-field {
        width: 88%;
      }
      & form ::ng-deep .mat-form-field-underline {
        display: none;
      }
      & form ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0.75em 0 0.75em 0;
        display: flex;
      }
      & form ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 5px;
        padding-top: 8px;
      }
      & form ::ng-deep .mat-form-field-infix {
        border-top: 0;
      }
      &
        form
        ::ng-deep
        .mat-form-field-appearance-fill
        .mat-form-field-underline::before {
        display: none;
      }
      &-submit {
        background-color: var(--midnight-express-color);
        /* width: 17.5px; */
        /* height: 15px; */
        padding-left: 10px;
        border-left: 1px solid var(--tolopea-color);

        & ::ng-deep svg {
          width: 17.5px;
          height: 15px;
          margin-bottom: 5px;
        }
      }

      &-tool {
        width: 39%;
        display: flex;
        justify-content: space-between;
      }

      &-tools {
        background-color: var(--midnight-express-color);
      }
    }
  }
}
