<div class="MyContent">
  <div class="Profile-title">{{ "PROFILE.CONTENTS.TITLE" | translate }}</div>
 
  <mat-tab-group class="global-TabGroup" (selectedTabChange)="onTabChanged($event)" #tabs>
    <mat-tab label="{{ 'PROFILE.CONTENTS.TAB1' | translate }}">
      <ng-template matTabContent>
        <div class="MyContent-create">
          <button
            [routerLink]="AppHtmlRoutes.articleCreate"
            mat-button class="global-MatButton is-dark"
          >
            <span class="material-icons">add_circle_outline</span>
            {{ "PROFILE.CONTENTS.BTN1" | translate }}
          </button>
        </div>

        <div class="MyContent-table">
          <div class="global-scrollbar">
            <ngx-datatable
              [rows]="rows"
              [columns]="columns"
              [columnMode]="'force'"
              [headerHeight]="'auto'"
              [rowHeight]="'auto'"
              [footerHeight]="'auto'"
              [limit]="5"
              class="global-DataTable"
            >
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.DATE' | translate }}"
                prop="createdDate"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row?.createdDate | date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.TABLE_TITLE' | translate }}"
                prop="title"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  <p class="text-limit">
                    {{
                      row?.title
                        | customTranslate: (languageService?.language | async)
                    }}
                  </p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.VIEWS' | translate }}"
                prop="views"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.TOTAL_LIKES' | translate }}"
                prop="totalLikes"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                [width]="200"
                name="{{ 'PROFILE.CONTENTS.ARTICLE_STATUS' | translate }}"
                prop="articleStatus"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row?.articleStatus | articleStatus | translate }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.ACTION' | translate }}"
                prop="action"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  <fa-icon
                    *ngIf="
                      [
                        'draft',
                        'submitted_for_approval',
                        'request_edit',
                        'publish'
                      ].includes(row.articleStatus)
                    "
                    class="MyBracket-item-btn"
                    [icon]="['fas', 'edit']"
                    [routerLink]="['/article/edit', row?._id]"
                    matTooltip="{{ 'EDIT.EDIT' | translate }}"
                  ></fa-icon>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'PROFILE.CONTENTS.TAB2' | translate }}">
      <ng-template matTabContent>
        <div class="MyContent-create">
          <button
            routerLink="/videos/create-video-library"
            mat-button class="global-MatButton is-dark"
          >
            <span class="material-icons">add_circle_outline</span>
            {{ "PROFILE.CONTENTS.BTN2" | translate }}
          </button>
        </div>

        <div class="MyContent-table">
          <div class="global-scrollbar">
            <ngx-datatable
              class="global-DataTable"
              [rows]="videoLibraryDetails?.data?.docs || []"
              [columns]="videoLibraryColumns"
              [columnMode]="'force'"
              [headerHeight]="'auto'"
              [rowHeight]="'auto'"
              [footerHeight]="'auto'"
              [externalPaging]="true"
              [offset]="videoLibraryPagination?.page - 1"
              [limit]="videoLibraryPagination?.limit"
              [count]="videoLibraryDetails?.data?.totalDocs"
              (page)="onPageChange($event)"
            >
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.TABLE_TITLE' | translate }}"
                prop="title"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  <p class="text-limit">
                    {{
                      row?.title
                        | customTranslate: (languageService?.language | async)
                    }}
                  </p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.DESCRIPTION' | translate }}"
                prop="description"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  <p class="text-limit">
                    {{
                      row?.description
                        | customTranslate: (languageService?.language | async)
                    }}
                  </p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.LAST_UPDATE' | translate }}"
                prop="updatedOn"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  {{ row?.updatedOn | date: "MMM d, y, h:mm a" }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'PROFILE.CONTENTS.ACTION' | translate }}"
                prop="action"
              >
                <ng-template ngx-datatable-cell-template let-row="row">
                  <fa-icon
                    class="MyBracket-item-btn"
                    [icon]="['fas', 'eye']"
                    [routerLink]="['../../videos/view', row?.slug]"
                    matTooltip="{{ 'PROFILE.CONTENTS.VIEW' | translate }}"
                  ></fa-icon>
                  <fa-icon
                    class="MyBracket-item-btn"
                    [icon]="['fas', 'edit']"
                    [routerLink]="['../../videos/edit-video-library', row?._id]"
                    matTooltip="{{ 'PROFILE.CONTENTS.EDIT' | translate }}"
                  ></fa-icon>
                  <fa-icon
                    class="MyBracket-item-btn"
                    [icon]="['fas', 'trash']"
                    matTooltip="{{ 'PROFILE.CONTENTS.REMOVE' | translate }}"
                    (click)="deleteVideo(row)"
                  ></fa-icon>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
