@import "shared";

:host {
  display: block;
}

.SelectTeammates {
  &-title {
    margin-bottom: px2vw-xl(24px);
    font-size: px2vw-xl(56px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(45px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(38px);
    }
  }

  &-subtitle {
    margin-bottom: 0;
    color: var(--base-black);
  }

  &-form {
    margin-top: px2vw-xl(58px);

    @include lg {
      margin-top: px2vw-lg(58px);
    }

    @include md {
      margin-top: px2vw-md(58px);
    }

    @include sm {
      margin-top: px2vw-sm(58px);
    }
  }

  &-search {
    position: relative;
    margin-bottom: px2vw-xl(28px);

    @include lg {
      margin-bottom: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(28px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
    }
  }

  &-search-icon {
    position: absolute;
    top: 50%;
    left: px2vw-xl(18px);
    transform: translateY(-50%);
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);

    @include lg {
      left: px2vw-lg(18px);
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
    }

    @include md {
      left: px2vw-md(18px);
      width: px2vw-md(18px);
      height: px2vw-md(18px);
    }

    @include sm {
      left: px2vw-sm(18px);
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
    }
  }

  &-search-input {
    padding-left: px2vw-xl(55px);

    @include lg {
      padding-left: px2vw-lg(55px);
    }

    @include md {
      padding-left: px2vw-md(55px);
    }

    @include sm {
      padding-left: px2vw-sm(55px);
    }
  }

  &-players {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(20px);
    grid-row-gap: px2vw-xl(20px);

    @include lg {
      grid-column-gap: px2vw-lg(20px);
      grid-row-gap: px2vw-lg(20px);
    }

    @include md {
      grid-column-gap: px2vw-md(20px);
      grid-row-gap: px2vw-md(20px);
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: px2vw-sm(20px);
      grid-row-gap: px2vw-sm(20px);
    }
  }

  &-player {
    position: relative;
    border: px2vw-xl(1px) solid var(--base-gainsboro);
    border-radius: px2vw-xl(5px);
    padding: px2vw-xl(20px) px2vw-xl(30px);
    padding-right: px2vw-xl(80px);
    cursor: pointer;
    transition: 100ms linear;

    &:hover {
      opacity: 0.85;
    }

    @include lg {
      border-radius: px2vw-lg(5px);
      padding: px2vw-lg(20px) px2vw-lg(30px);
      padding-right: px2vw-lg(80px);
    }

    @include md {
      border-radius: px2vw-md(5px);
      padding: px2vw-md(20px);
      padding-right: px2vw-md(80px);
    }

    @include sm {
      border-radius: px2vw-sm(5px);
      padding: px2vw-sm(20px) px2vw-sm(30px);
      padding-right: px2vw-sm(80px);
    }

    &.selected {
      background-color: var(--persian-indigo);

      &:hover {
        opacity: 1;
      }

      .name {
        color: var(--base-white);
      }

      .checked {
        visibility: visible;
      }
    }
  }

  &-player-photo {
    flex-shrink: 0;
    margin-right: px2vw-xl(25px);
    width: px2vw-xl(68px);
    height: px2vw-xl(68px);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: var(--base-black-pearl);

    @include lg {
      margin-right: px2vw-lg(25px);
      width: px2vw-lg(68px);
      height: px2vw-lg(68px);
    }

    @include md {
      margin-right: px2vw-md(25px);
      width: px2vw-md(68px);
      height: px2vw-md(68px);
    }

    @include sm {
      margin-right: px2vw-sm(25px);
      width: px2vw-sm(68px);
      height: px2vw-sm(68px);
    }
  }

  &-player-name {
    margin-bottom: 0;
    font-family: "stc-forward-medium", sans-serif;
    color: var(--base-black);
  }

  &-player-checked {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: px2vw-xl(23px);
    transform: translateY(-50%);
    width: px2vw-xl(31px);
    height: px2vw-xl(31px);

    @include lg {
      right: px2vw-lg(23px);
      width: px2vw-lg(31px);
      height: px2vw-lg(31px);
    }

    @include md {
      right: px2vw-md(23px);
      width: px2vw-md(31px);
      height: px2vw-md(31px);
    }

    @include sm {
      right: px2vw-sm(23px);
      width: px2vw-sm(31px);
      height: px2vw-sm(31px);
    }
  }

  &-buttons {
    margin-top: px2vw-xl(75px);

    @include lg {
      margin-top: px2vw-lg(60px);
      justify-content: flex-start;
    }

    @include md {
      margin-top: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(40px);
    }
  }

  &-button {
    margin-left: px2vw-xl(20px);

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }

    &:first-child {
      margin-left: 0;
    }

    &.back {
      min-width: px2vw-xl(110px);

      @include lg {
        min-width: px2vw-lg(110px);
      }

      @include md {
        min-width: px2vw-md(110px);
      }

      @include sm {
        min-width: px2vw-sm(110px);
      }
    }

    &.confirm {
      min-width: px2vw-xl(152px);

      @include lg {
        min-width: px2vw-lg(152px);
      }

      @include md {
        min-width: px2vw-md(152px);
      }

      @include sm {
        min-width: px2vw-sm(152px);
      }
    }
  }
}
.teamGame-button {
  // box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%), 0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
  padding: px2vw-xl(12px) px2vw-xl(20px) px2vw-xl(12px);
  display: flex;
  justify-content: end;
  background-color: var(--color-secondary-disabled);
  margin-top: px2vw-xl(-8px);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;
  @include lg{
    padding: px2vw-lg(12px) px2vw-lg(20px) px2vw-lg(12px);
    margin-top: px2vw-lg(-8px);
  }
  @include md {
    flex-wrap: wrap;
    justify-content: right;
    margin-top: px2vw-md(37px);
    padding: px2vw-md(16px) px2vw-md(20px) px2vw-md(16px);
  }
  @include sm {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: px2vw-lg(37px);
  }

  &-guide {
    margin-bottom: 0;
    align-self: center;
    margin-right: px2vw-xl(16px);
    font-family: "Paralucent-Demi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(20px);
    color: var(--white);
    @include lg{
      margin-right: px2vw-lg(18px);
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(20px);
    }
    @include md {
      // margin-bottom: px2vw-md(16px);
      margin-right: 0;
      font-size: px2vw-md(18px);
      line-height: px2vw-md(20px);
      margin-right: px2vw-md(20px);
    }
    @include sm {
      margin-bottom: px2vw-sm(26px);
      margin-top: px2vw-sm(26px);
      margin-right: 0;
      font-size: px2vw-sm(22px);
      line-height: px2vw-sm(20px);
    }
  }
  &-next {
    background: var(--color-primary);
    border-radius: px2vw-xl(6px);
    padding: px2vw-xl(12px) px2vw-xl(32px);
    font-family: "Paralucent-Demi", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: var(--color-background);

    @include lg{
      border-radius: px2vw-lg(6px);
      padding: px2vw-lg(12px) px2vw-lg(32px);
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(24px);
    }
    @include md{
      border-radius: px2vw-md(6px);
      padding: px2vw-md(12px) px2vw-md(32px);
      font-size: px2vw-md(19px);
      line-height: px2vw-md(24px);
    }
    @include sm{
      border-radius: px2vw-sm(6px);
      padding: px2vw-sm(23px) px2vw-sm(32px);
      font-size: px2vw-sm(26px);
      line-height: px2vw-sm(29px);
    }

    &:hover {
      background: var(--color-primary);
    }

    @include sm {
      width: 100%;
      // height: px2vw-sm(48px);
      margin-bottom:px2vw-sm(15px);
    }
    &.disabled {
      // background: var(--tertiary-color);
      // color: var(--tolopea-color);
    }
  }
}
.teamGame {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include md {
    flex-direction: column-reverse;
    padding-top: px2vw-md(53px);
  }

  @include sm {
    padding-top: px2vw-sm(10px);
    flex-direction:column;
  }

  &-manage {
    width: 100%;
    max-width: px2vw-xl(220px);
    @include lg{
      max-width: px2vw-lg(220px);
    }
    @include md {
      width: 100%;
      margin-bottom: px2vw-md(120px);
    }

    @include sm {
      width: 100%;
      max-width: 100%;
      margin-bottom: px2vw-md(20px);
    }

    &-title {
      font-family: "Paralucent-Demi", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--txt-secondry-active);
      margin-bottom: px2vw-xl(16px);
      mix-blend-mode: normal;
      margin-left: px2vw-xl(6px);
      margin-top: px2vw-xl(3px);
      @include lg{
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
        margin-bottom: px2vw-lg(16px);
        margin-left: px2vw-lg(6px);
        margin-top: px2vw-lg(3px);
      }
      @include md{
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
        margin-bottom: px2vw-md(16px);
        margin-left: px2vw-md(6px);
        margin-top: px2vw-md(3px);
      }
      @include sm {
        margin-left: 0;
        margin-bottom: px2vw-sm(8px);
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
        margin-top: px2vw-sm(3px);
      }
    }

    &-logo {
      display: flex;
      flex-direction: column;
      margin-bottom: px2vw-xl(32px);
      @include lg{
        margin-bottom: px2vw-lg(32px);
      }
      @include md {
        margin-bottom: px2vw-md(8px);
      }
      @include sm {
        margin-bottom: px2vw-sm(8px);
      }

      &-background {
        height: px2vw-xl(109px);
        width: 100%;
        background-image: url(../../../../../assets/images/banner-team-game.png);
        background-color: var(--black-dark);
        border-radius: px2vw-xl(20px) px2vw-xl(20px) 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        @include lg{
          height: px2vw-lg(109px);
          border-radius: px2vw-lg(20px) px2vw-lg(20px) 0 0;
        }
        @include sm {
          display: none;
        }
      }

      &-content {
        height: px2vw-xl(96px);
        width: 100%;
        position: relative;
        background: var(--color-secondary-disabled);
        border-radius: 0 0 px2vw-xl(20px) px2vw-xl(20px);
        text-align: center;
        @include lg{
          height: px2vw-lg(96px);
          border-radius: 0 0 px2vw-lg(20px) px2vw-lg(20px);
        }
        @include md {
          padding: px2vw-md(16px) px2vw-md(24px);
          height: px2vw-md(72px);
          display: flex;
          border-radius: px2vw-md(12px);
        }
        @include sm {
          padding: px2vw-sm(16px) px2vw-sm(24px);
          height: px2vw-sm(72px);
          display: flex;
          border-radius: px2vw-sm(12px);
        }

        &-image {
          width: px2vw-xl(56px);
          height: px2vw-xl(56px);
          border-radius: px2vw-xl(999px);
          position: absolute;
          top: px2vw-xl(-30px);
          left: px2vw-xl(82px);
          background-image: url(../../../../../assets/images/image-team-game.png);
          background-position: center;
          filter: drop-shadow(0px 6px 10px var(--blc-new-set)) drop-shadow(0px 1px 18px var(--blc-new-set))
            drop-shadow(0px 3px 5px var(--blc-new-set));
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          @include lg{
            width: px2vw-lg(56px);
            height: px2vw-lg(56px);
            border-radius: px2vw-lg(999px);
            top: px2vw-lg(-30px);
            left: px2vw-lg(82px);
          }
          @include md {
            left: auto;
            width: px2vw-md(56px);
            height: px2vw-md(56px);
            border-radius: px2vw-md(999px);
            top: px2vw-md(-30px);
          }
          @include sm {
            width: px2vw-sm(40px);
            height: px2vw-sm(40px);
            position: static;
            border-radius: px2vw-sm(999px);
          }
        }

        &-card-name {
          font-family: "Paralucent-Medium", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--white);
          margin-top: px2vw-xl(32px);
          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
            margin-top: px2vw-lg(32px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
            margin-top: px2vw-md(32px);
          }
          @include sm {
            margin-top: 0;
            padding-left: px2vw-sm(15px);
            line-height: px2vw-sm(21px);
            font-weight: 600;
          }
        }

        &-card-no-member {
          font-family: "Paralucent-Demi", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(14px);
          line-height: px2vw-xl(20px);
          color: var(--txt-secondry-active);
          @include lg{
            font-size: px2vw-lg(14px);
           line-height: px2vw-lg(20px);
          }
          @include md{
            font-size: px2vw-md(14px);
           line-height: px2vw-md(20px);
          }
          @include sm {
            padding-left: px2vw-sm(15px);
            font-size: px2vw-sm(14px);
           line-height: px2vw-sm(20px);
          }
        }
      }
    }

    &-descrip {
      font-family: "Paralucent-Demi", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--white-high);
      padding-left: px2vw-xl(4px);
      margin-bottom: px2vw-xl(14px);
      color: var(--txt-secondry-active);
      @include lg{
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
        padding-left: px2vw-lg(4px);
        margin-bottom: px2vw-lg(14px);
      }
      @include md{
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
        padding-left: px2vw-md(4px);
        margin-bottom: px2vw-md(14px);
      }
      @include sm{
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
        padding-left: px2vw-sm(4px);
        margin-bottom: px2vw-sm(14px);
      }
    }
    &-member {
      width: 63.3vw;
      margin-top: 0;
      padding-right: px2vw-xl(15px);
      @include lg{
        padding-right: px2vw-lg(15px);
      }
      @include md {
        padding-left: 0;
        margin-bottom: px2vw-md(15px);
      }
      @include sm {
        padding-left: 0;
        margin-bottom: px2vw-sm(15px);
      }
    }

    &-button-manage {
      font-family: "Paralucent-Demi", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--txt-secondry-border);
      background-color: transparent;
      @include lg{
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
      }
      @include sm {
        // background: var(--white);
        // border: 2px solid var(--secondary-color);
        // box-sizing: border-box;
        // border-radius: 6px;
        // width: 100%;
        // padding: 10px;
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }
      @include sm{
        font-size: px2vw-sm(16px);
       line-height: px2vw-sm(24px);
      }
    }
  }
  &-member {
    width: 100%;
    max-width: 50.641761vw;
    @include lg{
      max-width: px2vw-lg(939px);
    }
    @include md {
      width: 100%;
      // margin-top: 0;
      max-width: px2vw-md(939px);
      margin-top: px2vw-md(30px);
    }

    @include sm {
      padding-right: 0;
      margin-top: px2vw-sm(20px);
    }

    &-title {
      font-family: "Paralucent-Demi", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(40px);
      line-height: px2vw-xl(48px);
      color: var(--white);
      margin-bottom: px2vw-xl(40px);
      margin-left: px2vw-xl(3px);

      @include lg{
        font-size: px2vw-lg(40px);
        line-height: px2vw-lg(48px);
        margin-bottom: px2vw-lg(40px);
      }
      @include md {
        font-size: px2vw-md(35px);
        line-height: px2vw-md(40px);
        margin-bottom: px2vw-sm(40px);
      }
      @include sm {
        font-size: px2vw-sm(34px);
        line-height: px2vw-sm(40px);
        margin-bottom: px2vw-sm(58px);
      }
    }

    &-subtitle {
      font-family: "Paralucent-Demi", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--txt-secondry-active);
      mix-blend-mode: normal;
      margin-bottom: px2vw-xl(35px);
      margin-left: px2vw-xl(3px);
      @include lg{
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
        margin-bottom: px2vw-lg(25px);
      }
      @include md {
        font-size: px2vw-md(20px);
        line-height: px2vw-md(40px);
        margin-bottom: px2vw-md(36px);
      }
      @include sm {
        font-size: px2vw-sm(23px);
        line-height: px2vw-sm(34px);
        margin-bottom: px2vw-sm(41px);
      }
    }

    &-count-member {
      font-family: "Paralucent-Demi", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(28px);
      color: var(--txt-secondry-active);
      margin-bottom: px2vw-xl(8px);

      @include lg {
        font-size: px2vw-lg(19px);
        line-height: px2vw-lg(28px);
        margin-bottom: px2vw-lg(8px);
      }

      @include md {
        font-size: px2vw-md(20px);
        line-height: px2vw-md(24px);
        margin-bottom: px2vw-md(12px);
      }
      @include sm {
        font-size: px2vw-sm(22px);
        line-height: px2vw-sm(24px);
      }
    }

    &-list {
      // padding-left: 15px;
      margin-bottom: px2vw-xl(100px);
      @include lg{
        margin-bottom: px2vw-lg(100px);
      }
      @include md {
        padding-left: 0;
        margin-bottom: 0;
      }

      @include sm {
        margin-bottom: px2vw-sm(24px);
      }

      &-wrapp {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: px2vw-xl(16px);
        border-bottom: px2vw-xl(2px) solid var(--midnight-express-color);
        padding-top: px2vw-xl(16px);
        position: relative;
        padding-left: px2vw-xl(15px);
        padding-right: px2vw-xl(15px);
        justify-content: space-between;

        @include lg {
          padding-bottom: px2vw-lg(16px);
          border-bottom: px2vw-lg(2px) solid var(--midnight-express-color);
          padding-top: px2vw-lg(16px);
          padding-left: px2vw-lg(15px);
          padding-right: px2vw-lg(15px);
        }
        @include md {
          border-bottom: px2vw-md(2px) solid var(--midnight-express-color);
          padding: px2vw-md(16px) 0 px2vw-md(15px);
        }
        @include sm {
          padding: px2vw-sm(16px) 0 px2vw-sm(15px);
          border-bottom: px2vw-sm(2px) solid var(--midnight-express-color);
        }
      }

      &-wrapp:last-child {
        border-bottom: 0;
        padding-bottom: px2vw-xl(17px);
        @include lg{
          padding-bottom: px2vw-lg(17px);
        }
        @include md {
          padding-bottom: px2vw-md(17px);
          border-bottom: px2vw-md(2px) solid var(--midnight-express-color);
        }
        @include sm {
          border-bottom: px2vw-sm(2px) solid var(--midnight-express-color);
          padding-bottom: px2vw-sm(17px);
        }
      }

      &-wrapp:first-child .teamGame-member-list-add {
        @include sm {
          display: none;
        }
      }

      &-wrapp:first-child .teamGame-member-list-info-id {
        @include sm {
          display: none;
        }
      }

      &-contentLeft {
        width: 80%;
        display: flex;
        align-items: center;
      }

      &-contentRight {
        display: flex;
        align-items: center;
      }

      &-ava {
        background-image: url(../../../../../assets/icons/ava-image.svg);
        width: px2vw-xl(50px);
        height: px2vw-xl(50px);
        border-radius: px2vw-xl(999px);
        margin-right: px2vw-xl(18px);
        margin-top: px2vw-xl(2px);
        background-size: cover;
        @include lg{
          width: px2vw-lg(49px);
          height: px2vw-lg(49px);
          border-radius: px2vw-lg(999px);
          margin-right: px2vw-lg(16px);
          margin-top: px2vw-lg(2px);
        }
        @include md{
          width: px2vw-md(62px);
          height: px2vw-md(62px);
          border-radius: px2vw-md(999px);
          margin-right: px2vw-md(20px);
          margin-top: px2vw-md(2px);
        }
        @include sm {
          width: px2vw-sm(76px);
          height: px2vw-sm(76px);
          border-radius: px2vw-sm(999px);
          margin-right: px2vw-sm(26px);
          margin-top: px2vw-sm(2px);
        }
      }

      &-info {
        align-self: center;

        &-name {
          font-family: "Paralucent-Demi", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          color: var(--white);
          @include lg{
            font-size: px2vw-lg(20px);
            line-height: px2vw-lg(28px);
          }
          @include md {
            font-size: px2vw-md(21px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            font-size: px2vw-sm(26px);
            line-height: px2vw-sm(24px);
          }
        }

        &-id {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--tolopea-color);
          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm{
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }

      &-btn {
        width: px2vw-xl(20px);
        height: px2vw-xl(20px);
        background-color: var(--black-dark);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: px2vw-xl(8px);
        // position: absolute;
        // top: 33px;
        // right: 38px;
        // @include lg{
        //   width: px2vw-lg(20px);
        //   height: px2vw-lg(20px);
        //   margin-right: px2vw-lg(8px);
        // }
        // @include lg{
        //   width: px2vw-md(20px);
        //   height: px2vw-md(20px);
        //   margin-right: px2vw-md(8px);
        // }
        // @include sm {
        //   background-image: url(../../../../../assets/icons/three-dots-vertical-team.svg);
        //   width: px2vw-sm(32px);
        //   height: px2vw-sm(32px);
        //   top: px2vw-sm(23px);
        //   right: 0;
        // }

        &-text {
          font-family: "Paralucent-Medium", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(14px);
          line-height: px2vw-xl(20px);
          @include lg{
            font-size: px2vw-lg(15px);
            line-height: px2vw-lg(20px);
          }
          @include md {
            font-size: px2vw-md(17px);
          }
          @include sm {
            display: none;
          }

          &.add {
            color: var(--color-primary-disabled);
          }

          &.added {
            color: var(--green);
          }
        }

        &.add {
          background-image: url(../../../../../assets/icons/join-tournament/Icon-plus2.svg);
          width: px2vw-xl(48px);
          background-color: transparent;
          height: px2vw-xl(48px);
          background-size: cover;
          background-repeat: no-repeat;
          @include md{
            width:px2vw-md(38px);
            height:px2vw-md(38px);
            margin-right: px2vw-sm(12px);
          }
          @include sm{
            width:px2vw-sm(38px);
            height:px2vw-sm(38px);
            margin-right: px2vw-sm(12px);
          }
        }

        &.added {
          background-image: url(../../../../../assets/icons/join-tournament/Icon-check2.svg);
          width: px2vw-xl(48px);
          background-color: transparent;
          height: px2vw-xl(48px);
          background-size: cover;
          background-repeat: no-repeat;
          @include md{
            width:px2vw-md(34px);
            height:px2vw-md(34px);
            margin-right: px2vw-sm(12px);
          }
          @include sm{
            width:px2vw-sm(34px);
            height:px2vw-sm(34px);
            margin-right: px2vw-sm(12px);
          }
        }
      }
    }
  }
}
.SearchPlayers-item-toggle {
  @extend %u-dfCenterCenter;
  overflow: hidden;
  border-radius: px2vw-xl(2px);
  transition: $global-transition;
  cursor: pointer;
  display: flex;
  align-self: center;
  @include lg{
    border-radius: px2vw-lg(2px);
  }
  @include md{
    border-radius: px2vw-md(2px);
  }
  @include sm{
    border-radius: px2vw-sm(2px);
  }
  &:hover {
    opacity: 0.8;
  }
}
::ng-deep .TeamRegistration-container{
  width: 100%;
  max-width: 74.258172vw;
  margin: 0 auto;
  padding: 0 1.6010673783vw;
}
::ng-deep .SelectTeams-main{
  max-width: 73.703135vw!important;
  width: 100%;
  @include sm{
    max-width: 88.703135vw!important;
  }
}
