@import "shared";

.shop-display-wrpr {
  position: relative;
  padding: 32px 24px;
  max-width: 1260px;
  margin: 0px auto;

  #image1{
    @include sm {
      margin-top: -40px;
      margin-bottom: -10px;
    }
  }
  
  .row {
    @include sm {
    max-width: 576px;
    }
  }

  .row.no-gutters{
    @include sm {
      display: flex;
      flex-flow: column;
      align-items: flex-start !important;
      
    }    
  }

  .pl-xl-0{
    @include sm {
      padding: 0px !important;
    }
  }

  .pr-xl-0{
    @include sm {
        place-items: center;
        padding: 0px !important;
      }

    .col-md-6{
      @include sm {
      width: 50%;
      padding: 0px;
      }
      #card-1{
        @include sm {
          margin-right: 7.5px;
        }
      }
      #card-2{
        @include sm {
          margin-left: 7.5px;
        }
      }
     } 
  }

  h3 {
      font-size:40px;
      @include sm {
        margin-bottom: px2vw-sm(25px);
      }
  }

  h6 {
      font-size:20px;
      font-weight:600;
      color:var(--tolopea-color);
      @include sm {
        margin-bottom: px2vw-sm(12.28px);
        line-height: px2vw-sm(43px);
      }
  }

  .button {
      cursor: pointer;
      justify-content: center;
      align-items: center;
      padding: 12px;
      display: flex;
      max-width: 120px;
      color: var(--home-text-link);
      background: var(--white);
      border-radius: 6px;
      font-family: Avenir Next;
      font-size: 14px;
      font-weight: 600;
      @include sm {
        max-width: 100%;
        height: px2vw-sm(73.72px);
        margin-bottom: px2vw-sm(38.40px);
        font-size: px2vw-sm(25px);
        line-height: px2vw-sm(36.86px);
      }
  }

  .card-shop {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background:var(--color-background);
    border:1px solid var(--midnight-express-color);
    img{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      @include sm {
        height: px2vw-sm(132px);
      }
    }
    .button {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 12px;
        display: flex;
        max-width: 120px;
        color: var(--white);
        background: var(--home-text-link);
        border-radius: 6px;
        font-family: Avenir Next;
        font-size: 14px;
        @include sm {
          width: 250px;
          max-width: 100%;
          margin-bottom: 0px;
        }
    }

    .card-body {
      // background:var(--color-background);
      @include sm {
        padding-top: px2vw-sm(24.58px);
        padding-bottom: px2vw-sm(30.72px);
      }

      h5 {
          font-size:16px;
          color: var(--white);

          @include sm {
            text-align: center;
            line-height: px2vw-sm(36.86px);
          }
      }
      h6 {
          font-size:12px;
          color: var(--tertiary-color);
          @include sm {
            font-size: px2vw-sm(21.5px);
            line-height: px2vw-sm(30.72px);
          }
      }
      p {
          color: var(--purple-chat);
            @include sm {
              font-size: px2vw-sm(24.58px);
              line-height: px2vw-sm(36.86px);
            }
      }
    }
  }
}
