@import "shared";

h5 {
  text-align: center;
}

.scoreBar{
  @include textClamp(1);
}

.chat {
  margin-bottom: 35px;
  text-align: right;

  span {
    font-size: 18px;
    line-height: 23px;
    font-family: "bebas-neue-regular" !important;
  }

  fa-icon {
    margin-right: 14px;
  }
}

table {
  margin-bottom: 43px;
  overflow: scroll;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  display: table;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--base-05);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--ui-nobel);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--ui-tuna);
  }

  tr {
    th,
    td {
      border: 3px solid var(--base-03);
      padding: 10px 18px;
      text-align: center;
      background-color: var(--base-white);
      font-size: 20px;
      font-weight: 100;
      line-height: 26px;
      color: var(--base-01);

      & img {
        margin-bottom: 15px;
        width: 40px;
        height: 40px;
      }
    }

    &:first-child {
      th {
        display: none;
        background-color: var(--base-white);
        color: var(--base-01);
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        padding: 0 0 15px;
      }
    }

    td:first-child {
      padding-right: 70px;
      text-align: left;
      width: 263px;
    }

    td:not(:first-child) {
      width: 263px;
    }

    &:last-child {
      td:not(:first-child) {
        vertical-align: bottom;
        padding: 40px 0 21px;

        h6 {
          font-size: 16px;
          line-height: 21px;
          margin-bottom: 16px;
        }

        button {
          &.set-winner {
            background: var(--base-yellow);
            border: 1px solid var(--base-yellow);
          }
        }
      }

      td:first-child {
        fa-icon {
          margin-right: 5px;
        }
      }
    }
  }

  &:last-child {
    tr {
      th {
        text-align: left;
      }

      td {
        padding: 30px !important;
      }

      select option {
        color: var(--base-white) !important;
        background-color: var(--base-01) !important;
      }
    }
  }
}

.sort {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h6 {
    margin: 0;
    font-size: 22px;
    line-height: 29px;
  }

  fa-icon {
    height: 0.8em;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.back {
  float: right;
}

.set-winner {
  background-color: var(--ui-venetian-red);
  pointer-events: none;
}

.result {
  display: flex;
  justify-content: center;
  padding: 0;

  button {
    background-color: var(--base-yellow);
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--base-black);
    padding: 10px 94px;
    line-height: 21px;
    border: 1px solid var(--dim-gray);
  }

  & .loser {
    button {
      background-color: var(--base-white);
      color: var(--base-black);
    }
  }
}

.container-repostStore {
  background: var(--base-white) 0% 0% no-repeat padding-box;
  padding: 20px 48px 114px 40px;
}

.btn-open-modal {
  margin-left: 20px;
  background: var(--base-01);
  border: 0;

  path {
    fill: var(--base-05);
  }
}

.hide-upload-box {
  opacity: 0;
  margin-top: -163px !important;
}

.screenshot {
  img {
    width: 250px !important;
    height: 160px !important;
  }
}

.participant-btn {
  text-align: center;

  button {
    margin: 10px 0 -40px;
    width: 100%;
  }
}

.container-table-score {
  & p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .container-repostStore {
    padding: 10px;
  }

  .container-table-score {
    overflow-x: scroll;

    & p {
      text-align: center;
    }
  }

  table {
    tr {
      th,
      td {
        padding: 10px;
        font-size: 14px;
        line-height: normal;
      }

      &:last-child {
        td {
          &:not(:first-child) {
            padding-left: 10px;
            padding-right: 10px;

            button {
              padding: 9px 0;
              width: 120px;
            }
          }

          &:first-child {
            padding-right: 10px;

            fa-icon {
              margin-right: 5px;
            }
          }
        }
      }

      td:first-child {
        padding-right: 10px;
        min-width: 150px;
      }
    }
  }

  .score {
    h6 {
      font-size: 18px;
      line-height: normal;
    }
  }

  .back {
    float: none;
    text-align: right;
  }

  .result {
    margin: auto;
    margin-bottom: 20px;
    width: 80%;

    button {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 100%;
      width: 50%;
      padding: 10px;
      font-size: 14px;
      line-height: normal;
    }

    .loser {
      width: 50%;

      button {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }

  table select {
    width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container-repostStore {
    padding: 20px;
  }

  .container-table-score {
    overflow: scroll;
  }

  table {
    tr {
      th,
      td {
        padding: 10px;
        font-size: 14px;
        line-height: normal;
      }

      &:last-child {
        td {
          &:not(:first-child) {
            padding-left: 10px;
            padding-right: 10px;

            button {
              padding: 9px 0;
              width: 120px;
            }
          }

          &:first-child {
            padding-right: 10px;

            fa-icon {
              margin-right: 5px;
            }
          }
        }
      }

      td:first-child {
        padding-right: 10px;
        min-width: 150px;
      }
    }
  }

  .score {
    h6 {
      font-size: 18px;
      line-height: normal;
    }
  }

  .back {
    float: none;
    text-align: right;
  }

  .result {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;

    button {
      width: 50%;
      padding: 10px;
    }

    .loser {
      width: 50%;

      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  table {
    tr {
      th,
      td {
        font-size: 18px;
        line-height: normal;

        &:first-child {
          padding-right: 18px;
        }
      }

      &:last-child {
        td:first-child {
          fa-icon {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .result {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;

    button {
      width: 50%;
      padding: 10px;
      font-size: 14px;
      line-height: normal;
      height: 100%;
    }

    .loser {
      width: 50%;

      button {
        width: 100%;
      }
    }
  }
}
.upload-wrapper {
  width: 30px;
  margin-left: 10px;
}

.score-upload-icon {
  background: var(--base-white);
  margin-left: 10px;
}
