<div class="bg-white p-4">
<mat-tab-group
  mat-align-tabs="start"
  class="global-TabGroup"
  (selectedTabChange)="onTabChanged($event)"
  [(selectedIndex)]="activeTabIndex"
>
  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.ONGOING_TOURNAMENT' | translate }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-tournament-details
      *ngIf="activeTabIndex == 0"
      [viewIconShow]="viewIconShow"
      [activeTab]="activeTabIndex"
      (isModified)="modifyTournamentHandler($event)"
      [deleteIconShow]="deleteIconShow"
      [page]="page"
      [activePage]="paginationData"
      (currentPage)="pageChanged($event)"
      [checkIconShow]="checkIconShow"
      [tournamentList]="tournamentList"
      [manageIconShow]="manageIconShow"
    >
    </app-tournament-details>
  </mat-tab>

  <mat-tab
    label="{{
      'ADMIN.ESPORTS_MANAGEMENT.TABS.UPCOMING_TOURNAMENT' | translate
    }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-tournament-details
      *ngIf="activeTabIndex == 1"
      [viewIconShow]="viewIconShow"
      [activeTab]="activeTabIndex"
      [editIconShow]="editIconShow"
      [isFeatureEditable]="true"
      (isModified)="modifyTournamentHandler($event)"
      [deleteIconShow]="deleteIconShow"
      [page]="page"
      [activePage]="paginationData"
      (currentPage)="pageChanged($event)"
      [checkIconShow]="checkIconShow"
      [tournamentList]="tournamentList"
      [manageIconShow]="manageIconShow"
    >
    </app-tournament-details>
  </mat-tab>
  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.PAST_TOURNAMENT' | translate }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-tournament-details
      *ngIf="activeTabIndex == 2"
      [viewIconShow]="viewIconShow"
      [activeTab]="activeTabIndex"
      (isModified)="modifyTournamentHandler($event)"
      [page]="page"
      [activePage]="paginationData"
      (currentPage)="pageChanged($event)"
      [deleteIconShow]="deleteIconShow"
      [checkIconShow]="checkIconShow"
      [tournamentList]="tournamentList"
      [manageIconShow]="manageIconShow"
    ></app-tournament-details>
  </mat-tab>
  <mat-tab
    label="{{
      'ADMIN.ESPORTS_MANAGEMENT.TABS.APPROVAL_TOURNAMENT' | translate
    }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-tournament-details
      *ngIf="activeTabIndex == 3"
      [type]="'approval'"
      [viewIconShow]="viewIconShow"
      [activeTab]="activeTabIndex"
      [editIconShow]="editIconShow"
      (isModified)="modifyTournamentHandler($event)"
      [deleteIconShow]="deleteIconShow"
      [checkIconShow]="checkIconShow"
      [tournamentList]="tournamentList"
      [manageIconShow]="manageIconShow"
      [activeTabIndex]="activeTabIndex"
      [deleteIconShow]="deleteIconShow"
    ></app-tournament-details>
  </mat-tab>
  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.PRIZE_TOURNAMENT' | translate }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-esports-payment
      *ngIf="activeTabIndex == 4"
      (isModified)="modifyTournamentHandler($event)"
      [tournamentList]="finishedTournament"
    ></app-esports-payment>
  </mat-tab>
  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.PLATFORM_FEE' | translate }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-platform-fee-configuration
      *ngIf="activeTabIndex == 5"
    ></app-platform-fee-configuration>
  </mat-tab>

  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.REG_FEE_DISBURSAL' | translate }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-reg-fee-disbursal *ngIf="activeTabIndex == 6"></app-reg-fee-disbursal>
  </mat-tab>
  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.PRIZE_MONEY_REFUND' | translate }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-prize-money-refund
      *ngIf="activeTabIndex == 7"
    ></app-prize-money-refund>
  </mat-tab>
  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.REG_FEE_REFUND' | translate }}"
  >
    <app-loading *ngIf="isLoading"></app-loading>
    <app-reg-fee-refund *ngIf="activeTabIndex == 8"></app-reg-fee-refund>
  </mat-tab>
</mat-tab-group>
</div>
