@import "shared";

.shop-display-wrpr {
  position: relative;
  padding: 32px 24px;
  max-width: 1260px;
  margin: 0px auto;

  h3 {
      font-size:40px;
  }

  h6 {
      font-size:20px;
      font-weight:600;
      color:var(--tolopea-color);
  }

  .button {
      cursor: pointer;
      justify-content: center;
      align-items: center;
      padding: 12px;
      display: flex;
      max-width: 120px;
      color: var(--home-text-link);
      background: var(--white);
      border-radius: 6px;
      font-family: "Paralucent-Light",  san-serif;
      font-size: 14px;
      font-weight: 600;
  }

  .card-shop {
    background:var(--color-background);
    border:1px solid var(--midnight-express-color);

    .button {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        padding: 12px;
        display: flex;
        max-width: 120px;
        color: var(--white);
        background: var(--home-text-link);
        border-radius: 6px;
        font-family: "Paralucent-Light",  san-serif;
        font-size: 14px;
    }

    .card-body {
      background:var(--color-background);

      h5 {
          font-size:16px;
          color: var(--white);
      }
      h6 {
          font-size:12px;
          color: var(--tertiary-color);
      }
      p {
        span {
            color: var(--home-text-link);
        }
      } 
    }
  }
}