<div class="InputSearch">
  <mat-icon class="InputSearch-icon"> search </mat-icon>

  <input
    class="InputSearch-field"
    type="text"
    [(ngModel)]="text"
    (change)="onTextChang()"
    [placeholder]="placeholder"
  />
</div>
