<div class="AccessManagement-header">
  <button [routerLink]="['view', '0123456789ab']" class="mesf-EditBtn is-sm">
    <span class="material-icons">add</span>
    {{ "ADMIN.ACCESS_MANAGEMENT.LABEL.ADD_NEW" | translate }}
  </button>
</div>

<mat-tab-group mat-align-tabs="start" class="mesf-TabGroup">
  <mat-tab
    label="{{ 'ADMIN.ACCESS_MANAGEMENT.TABS.CURRENT_ACCESS' | translate }}"
  >
    <div class="mesf-scrollbar">
      <ngx-datatable
        #table
        class="mesf-DataTableAdmin dark is-viewRemoveRow is-admin"
        [columns]="columnsFirstTab"
        [rows]="rowsFirstTab"
        [columnMode]="'flex'"
        [headerHeight]="'auto'"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [limit]="50"
      >
        <ngx-datatable-column
          name="{{ 'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.NAME' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.ACCESS_LEVEL' | translate
          }}"
          [flexGrow]="3"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="AccessManagement-accessWp">
              <button
                *ngFor="let item of row['accessLevel']"
                mat-mini-fab
                disabled
                class="AccessManagement-access"
              >
                {{ item }}
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.PHONE' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.phone }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              (click)="onViewUserAccess(row)"
              mat-icon-button
              color="primary"
              class="AccessManagement-tableBtn"
            >
              <mat-icon>visibility</mat-icon>
            </button>

            <button
              [routerLink]="['view', row['id']]"
              mat-icon-button
              color="primary"
              class="AccessManagement-tableBtn"
            >
              <mat-icon>edit</mat-icon>
            </button>

            <button
              (click)="onRemoveUser(row['id'])"
              mat-icon-button
              color="primary"
              class="AccessManagement-tableBtn"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </mat-tab>
</mat-tab-group>
<app-loading *ngIf="isLoading"></app-loading>
