html[dir="rtl"] {
  .Sidebar {
    &-mob {
      @include lg {
        padding-right: 0;
        padding-left: px2vw-lg(10px);
      }

      @include md {
        padding-right: 0;
        padding-left: px2vw-md(10px);
      }

      @include sm {
        padding-right: 0;
        padding-left: px2vw-sm(10px);
      }
    }

    &-item-icon {
      margin-right: 0;
      margin-left: px2vw-xl(15px);

      @include lg {
        margin-left: px2vw-lg(15px);
      }

      @include md {
        margin-left: px2vw-md(15px);
      }

      @include sm {
        margin-left: px2vw-sm(15px);
      }
    }
  }
}
