html[dir="rtl"] {
  .Dashboard {
    &-progress-card-bar {
      margin-right: 0;
      margin-left: px2vw-xl(32px);

      @include lg {
        margin-left: px2vw-lg(25px);
      }

      @include md {
        margin-left: px2vw-md(25px);
      }

      @include sm {
        margin-left: px2vw-sm(25px);
      }
    }

    &-progress-card-count {
      margin-right: 0;
      margin-left: px2vw-xl(23px);
      text-align: right;

      @include lg {
        margin-left: px2vw-lg(23px);
      }

      @include md {
        margin-left: px2vw-md(23px);
      }

      @include sm {
        margin-left: px2vw-sm(23px);
      }
    }

    &-statistic-block {
      margin-right: px2vw-xl(58px);
      margin-left: 0;

      @include lg {
        margin-right: px2vw-lg(55px);
      }

      @include md {
        margin-right: 0;
      }
    }

    &-statistic-title {
      text-align: right;
    }

    &-statistic-card {
      &.narrow {
        padding-right: px2vw-xl(30px);
      }
    }

    &-statistic-card-count {
      margin-right: 0;
      margin-left: px2vw-xl(20px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
      }

      @include sm {
        margin-left: px2vw-sm(20px);
      }
    }
  }
}
