html[dir="rtl"] {
  .ViewUserDetails {
    &-box {
      text-align: right;

      &-A,
      &-B,
      &-C {
        border-right: 0;
        border-left: 1px solid var(--base-white-dark);
      }

      &-A {
        padding-right: px2vw-xl(85px);
        padding-left: px2vw-xl(30px);

        @include lg {
          padding-right: px2vw-lg(20px);
          padding-left: px2vw-lg(30px);
        }

        @include md {
          padding-right: px2vw-md(20px);
          padding-left: px2vw-md(30px);
        }

        @include sm {
          padding-right: px2vw-sm(20px);
          padding-left: px2vw-sm(30px);
        }
      }

      &-D {
        padding-right: px2vw-xl(30px);
        padding-left: px2vw-xl(85px);

        @include lg {
          padding-right: px2vw-lg(20px);
          padding-left: px2vw-lg(85px);
        }

        @include md {
          padding-right: px2vw-md(20px);
          padding-left: px2vw-md(85px);
        }

        @include sm {
          padding-right: px2vw-sm(20px);
          padding-left: px2vw-sm(85px);
        }
      }

      &-ava {
        margin-right: 0;
        margin-left: px2vw-xl(33px);

        @include lg {
          margin-left: px2vw-lg(33px);
        }

        @include md {
          margin-left: px2vw-md(33px);
        }

        @include sm {
          margin-left: 0;
        }
      }
    }
  }
}
