@import "shared";

:host {
  display: block;
  //background: $left-corner-light;
  //  background: radial-gradient(54% 70% at 0% 0%, rgba(115, 108, 255, 0) -25%, rgba(115, 108, 255, 0.15) 100%);
  // background: radial-gradient(31.93% 73.7% at 100% 0%, rgba(115, 108, 255, 0.25) 0%, rgba(115, 108, 255, 0) 100%);
}

.ArticlePost {
  .btn {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
  }
  padding-top: px2vw-xl(40px);
  @include lg {
    padding-top: px2vw-lg(40px);
  }
  @include md {
    padding-top: px2vw-md(40px);
  }
  @include sm {
    padding-top: px2vw-sm(61.44px);
  }
  &-container {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    padding: 0 24px;
  }
  &-heading {
    margin-bottom: px2vw-xl(20px);
    @include lg {
      margin-bottom: px2vw-lg(20px);
    }
    @include md {
      margin-bottom: px2vw-md(20px);
    }
    @include sm {
      margin-bottom: 0;
    }
    .title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 58px;
      letter-spacing: -0.5px;
      color: var(--white);
      max-width: 903.71px;
      margin-bottom: px2vw-xl(16px);
      @include lg {
        margin-bottom: px2vw-lg(16px);
      }
      @include md {
        margin-bottom: px2vw-md(16px);
      }
      @include sm {
        font-size: 38px;
        line-height: 46px;
        padding: px2vw-sm(36.864px) 0;
        margin-bottom: 0;
      }
    }
    .detail {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      @include sm {
        display: none;
      }
      .avatar {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-right: 20px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .text {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--tertiary-color);
        margin-bottom: 0;
      }
    }
  }
  &-thumnail {
    border-radius: 40px;
    height: px2vw-xl(561.21px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: px2vw-xl(50px);
    @include lg {
      margin-bottom: px2vw-lg(50px);
      height: px2vw-xl(561.21px);
    }
    @include md {
      margin-bottom: px2vw-md(50px);
      height: px2vw-xl(561.21px);
    }
    @include sm {
      height: px2vw-sm(282.73152px);
      margin-bottom: px2vw-sm(50px);
      border-radius: 0px;
    }
  }
}

.ArticlePost-header {
  margin-bottom: px2vw-xl(32px);

  @include lg {
    margin-bottom: px2vw-lg(32px);
  }

  @include md {
    margin-bottom: px2vw-md(32px);
  }

  @include sm {
    margin-bottom: px2vw-sm(32px);
  }
}

.ArticlePost-main {
  flex-shrink: 0;
  margin-right: px2vw-xl(56px);
  width: px2vw-xl(950px);

  @include lg {
    margin-right: px2vw-xl(56px);
    width: px2vw-lg(950px);
  }

  @include md {
    margin-right: 0;
    width: 100%;
  }
}

.ArticlePost-preview {
  &-title {
    margin-top: 4vw;
    margin-bottom: px2vw-xl(50px);
    font-family: "archivo-black";
    font-size: px2vw-xl(48px);
    line-height: px2vw-xl(56px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }
  }

  &-info {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-type {
    @extend %u-dfCenter;
  }

  &-type-icon {
    margin-right: px2vw-xl(7px);

    @include lg {
      margin-right: px2vw-lg(7px);
    }

    @include md {
      margin-right: px2vw-md(7px);
    }

    @include sm {
      margin-right: px2vw-sm(7px);
    }

    ::ng-deep svg {
      display: block;
      height: px2vw-xl(16px);
      width: px2vw-xl(12px);

      @include lg {
        height: px2vw-lg(16px);
        width: px2vw-lg(12px);
      }

      @include md {
        height: px2vw-md(16px);
        width: px2vw-md(12px);
      }

      @include sm {
        height: px2vw-sm(16px);
        width: px2vw-sm(12px);
      }

      path {
        fill: var(--color-secondary);
      }
    }
  }

  &-type-text {
    @extend %overline;
    color: var(--color-secondary);
  }

  &-divider {
    margin: 0 px2vw-xl(24px);
    background-color: var(--white-light);
    height: px2vw-xl(20px);
    width: px2vw-xl(1px);

    @include lg {
      margin: 0 px2vw-lg(24px);
      height: px2vw-lg(20px);
      width: px2vw-lg(1px);
    }

    @include md {
      margin: 0 px2vw-md(24px);
      height: px2vw-md(20px);
      width: px2vw-md(1px);
    }

    @include sm {
      margin: 0 px2vw-sm(24px);
      height: px2vw-sm(20px);
      width: px2vw-sm(1px);
    }
  }

  &-created {
    @extend %body-2;
    color: var(--white-medium);
  }

  &-comments {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--color-primary);
    border-bottom: px2vw-xl(2px) solid var(--color-primary);

    @include lg {
      border-bottom-width: px2vw-lg(2px);
    }

    @include md {
      border-bottom-width: px2vw-md(2px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(2px);
    }
  }

  &-image-block {
    margin-bottom: px2vw-xl(55px);
    position: relative;
    left: -6%;
    height: px2vw-xl(580px);
    width: 106%;
    background-color: var(--black);
    background-size: cover;

    @include lg {
      margin-bottom: px2vw-lg(55px);
      height: px2vw-lg(420px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      height: px2vw-md(420px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
      height: px2vw-sm(320px);
      background-position: center;
    }
  }
}

.ArticlePost-description {
  position: relative;
  width: 100%;
  margin-bottom: px2vw-xl(24px);
  @include lg {
    margin-bottom: px2vw-lg(24px);
  }
  @include md {
    margin-bottom: px2vw-md(24px);
  }
  @include sm {
    margin-bottom: px2vw-sm(24px);
  }
  &-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 282px;
    @include md {
      position: relative;
      max-width: 100%;
    }
  }

  &-link {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 16px;
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-white-medium);
    @include sm {
      font-size: 16px;
      line-height: 24px;
    }
    &-icon {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      margin-right: 16px;
      ::ng-deep svg {
        height: px2vw-xl(32px);
        width: px2vw-xl(32px);

        @include lg {
          height: px2vw-lg(32px);
          width: px2vw-lg(32px);
        }

        @include md {
          height: px2vw-md(32px);
          width: px2vw-md(32px);
        }

        @include sm {
          height: px2vw-sm(32px);
          width: px2vw-sm(32px);
        }

        &,
        path {
          transition: $global-transition2;
        }
      }
    }
    &:hover {
      color: var(--main-color);
      .ArticlePost-description-link-icon ::ng-deep svg {
        fill: var(--main-color);

        path {
          fill: var(--main-color);
        }
      }
    }
  }

  &-text {
    width: 100%;
    max-width: 792px;
    margin: 0 auto;
    ::ng-deep {
      ul,
      p,
      h1,
      h2,
      h3 {
        background-color: transparent !important;
        max-width: 585.7px;
        margin-left: auto;
        margin-right: auto;
      }
      span,
      li,
      p {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: var(--white) !important;
        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }
      h1,
      h2,
      h3 {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: var(--white) !important;
        @include sm {
          font-size: 20px;
          line-height: 28px;
        }
      }
      figure {
        margin: 40px 0;
        @include sm {
          margin: 24px 0;
        }
      }
      img {
        max-width: 100%;
        border-radius: 8px;
        @include sm {
          border-radius: 0;
        }
      }
    }
  }
}

.ArticlePost-author {
  @extend %u-dfCenterBtw;
  margin-top: px2vw-xl(48px);
  border-top: 1px solid var(--white-light);
  border-bottom: 1px solid var(--white-light);
  padding: px2vw-xl(24px) px2vw-xl(74px) px2vw-xl(24px) px2vw-xl(155px);

  @include lg {
    margin-top: px2vw-lg(48px);
    padding: px2vw-lg(24px);
  }

  @include md {
    margin-top: px2vw-md(48px);
    padding: px2vw-md(24px);
  }

  @include sm {
    margin-top: px2vw-sm(48px);
    padding: px2vw-sm(24px) px2vw-sm(14px);
  }

  &-block {
    @extend %u-dfCenter;
  }

  &-image-block {
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: px2vw-xl(16px);
    height: px2vw-xl(64px);
    width: px2vw-xl(64px);
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(64px);
      width: px2vw-lg(64px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(64px);
      width: px2vw-md(64px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(64px);
      width: px2vw-sm(64px);
    }
  }

  &-title {
    @extend %overline;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-name {
    @extend %subtitle-1;
    margin-bottom: 0;
  }

  &-follow {
    margin-left: px2vw-xl(20px);

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }
  }
}

.ArticlePost-discussion {
  width: 100%;
  max-width: 585.7px;
  margin: 0 auto;
}

.ArticlePost-aside {
  width: 100%;

  @include md {
    margin-top: px2vw-md(50px);
  }

  @include sm {
    margin-top: px2vw-sm(50px);
  }

  &-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
    padding: px2vw-xl(16px) 0 px2vw-xl(32px);
    @include lg {
      padding: px2vw-lg(16px) 0 px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(16px) 0 px2vw-md(32px);
    }

    @include sm {
      font-size: 28px;
      line-height: 36px;
      padding: px2vw-sm(24.576px) 0 px2vw-sm(36.864px);
    }
  }

  &-posts {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(24px);
    grid-row-gap: px2vw-xl(24px);
    padding-bottom: px2vw-xl(47px);

    @include lg {
      grid-column-gap: px2vw-lg(24px);
      grid-row-gap: px2vw-lg(24px);
      padding-bottom: px2vw-lg(47px);
    }

    @include md {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: px2vw-md(24px);
      grid-row-gap: px2vw-md(24px);
      padding-bottom: px2vw-md(47px);
    }

    @include sm {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
      padding-bottom: 0;
    }
  }

  &-post {
    transition: $global-transition;
    cursor: pointer;
    @include sm {
      margin-bottom: px2vw-sm(24.576px);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-post-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--black);
    width: 100%;
    height: px2vw-xl(170px);
    margin-bottom: px2vw-xl(16px);
    border-radius: 20px;
    @include lg {
      margin-bottom: px2vw-lg(16px);
      height: px2vw-lg(170px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      height: px2vw-md(170px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16.896px);
      height: px2vw-sm(263.02464px);
    }
  }

  &-post-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 0;
  }

  &-post-date {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--tertiary-color);
    margin-bottom: 0;
  }
}
.ArticlePost-preview-read-icon {
  margin-left: auto;
  background-color: hover;
}
.ArticlePost-preview-read-icon:hover {
  background: hsl(236, 96%, 46%);
}
.bookmark{
  color: greenYellow !important;
  cursor: pointer;
}
.bookmarkborder{
  color: whitesmoke !important;
  cursor: pointer
}
::ng-deep .mat-icon {
  color: var(--color-primary);
}
