<div class="TermsOfOus u-wp">
  <button class="TermsOfOus-button button-icon-secondary" (click)="goBack()">
    <mat-icon> arrow_back </mat-icon>
    <span>
      {{ "BUTTON.BACK" | translate }}
    </span>
  </button>
  <div class="row">
    <div class=" termsofuslist col-4">
      <ul class="list">
        <li><a tabindex="1" (click)="changevalues('keydefinitions')">Overview & Key Definitions</a></li><br />
        <li><a tabindex="1" (click)="changevalues('terms')">Terms and Conditions of Use; Privacy Policy</a></li><br />
        <li><a tabindex="1" (click)="changevalues('account')">Account, Password and Security</a></li><br />
        <li><a tabindex="1" (click)="changevalues('content')">Content</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('tournament')">Tournament</a></li><br />
        <li><a tabindex="1" (click)="changevalues('store')">Store </a></li><br />
        <li><a tabindex="1" (click)="changevalues('promotions')">Promotions</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('points')">Spark Esports Inc. Reward Points</a></li> <br />
        <li><a tabindex="1" (click)="changevalues('rights')">Intellectual Property Rights</a></li><br />
        <li><a tabindex="1" (click)="changevalues('liability')">Warranty Disclaimer; Limitation of Liability</a></li>
        <br />
        <li><a tabindex="1" (click)="changevalues('force')">Force Majeure</a></li><br />
        <li><a tabindex="1" (click)="changevalues('law')">Governing Law and Jurisdiction</a></li><br />
        <li><a tabindex="1" (click)="changevalues('questions')">Notices, Support & Questions</a></li><br />
      </ul>
    </div>
    <div class="col-8">
      <section class="termsofus">
        <h1 class="TermsOfOus-title"
          style="font-family: 'archivo-bold';font-style: normal; font-size: 35px;line-height: 36px;">
          {{ "TERMS.TITLE" | translate }}
        </h1>
        <p class="PrivacyPolicy-subtitle">Updated on August 15th, 2021.</p>
        <ul class="TermsOfOus-descriptions" style="font-family: 'redhat-regular';
      font-style: normal;
      font-weight: normal;" *ngIf="privacypolicy =='keydefinitions'">
          <li class="TermsOfOus-description">
            Spark Esports Inc. welcomes you to use and access our Services. We ask that you review these Terms and the
            Privacy Policy, which are collectively intended to constitute a binding agreement that describes when and
            the terms under which you are allowed to access or use the Services.
            Spark Esports Inc. reserves the right to change, modify, add or remove any of the Terms and Privacy Policy,
            at any time, for any reason. The latest Terms and Privacy Policy will be posted on the Website, (and
            changing the “Updated on” date reflected in the top left-hand corner of these Terms accordingly) only
            (unless otherwise determined at Spark Esports Inc.’s sole discretion), and such amendments shall apply to
            your continued access to or use of the Services. You acknowledge and agree that by continuing to access or
            use our Services, you accept fully and shall abide by the latest Terms and Privacy Policy.
          </li>
        </ul><br />

        <div class="overview" *ngIf="privacypolicy =='keydefinitions'">
          <h4 class="overview-title">
            1. Key Definitions
          </h4>
          <p class="overview-paragraph">
            “<span style="color: var(--white);">Spark Esports Inc.</span>” (or “<span
              style="color: var(--white);">we</span>”, “<span style="color: var(--white);">our</span>”, or “<span
              style="color: var(--white);">us</span>”)
          </p>
          <p class="overview-paragraph">
            “<span style="color: var(--white);">Privacy Policy</span>” means our privacy policy located at
            Sparkgaming.com
          </p>
          <p class="overview-paragraph">
            “<span style="color: var(--white);">Services</span>” means the Website; all other applications, services
            and/or products provided, operated and owned by Spark Esports Inc. that are presently offered, or will be
            offered in the future; any information, materials, software, products, services (e.g., tournament creation,
            and bracket generation) and content provided by Spark Esports Inc. or otherwise available through the
            Website (including linked information); artwork, photos, video and audio content; and all updates to the
            aforementioned items.
          </p>
          <p class="overview-paragraph">
            “<span style="color: var(--white);">Terms</span>” means these terms and conditions of use.
          </p>
          <p class="overview-paragraph">
            “<span style="color: var(--white);">User</span>” means the party that uses the Services, including but not
            limited to: (a) Content Contributor: a party who makes content articles in the form of text, images or
            videos to be displayed via the Services; (b) Tournament Creator or Organiser: a party who makes or organises
            a tournament through the dedicated tournament page via the Services; (c) Tournament Participant: a party who
            participates in a tournament that is available through dedicated tournament page via the Services; (d) Team
            Leader: a party who registers a group of team members to participate in a tournament through the dedicated
            tournament registration page via the Services; and (e) Buyer: a party who makes purchase via the Services
            using the available payment methods, where a User can have 1 or more of the defined roles as mentioned
            above.
          </p>
          <p class="overview-paragraph">
            “<span style="color: var(--white);">Website</span>” means our website located at <a
              href="https://www.sparkgaming.com">www.sparkgaming.com</a> all affiliated websites (including mobile
            websites) and any applications published by us or our affiliates for access to or use of the website or any
            Services owned and operated by us, our predecessors or successors in interests or our affiliates.
          </p>
        </div>
        <div class="termscontent">
          <div class="overview" *ngIf="privacypolicy =='terms'">
            <h4 class="overview-title">
              2. Terms and Conditions of Use; Privacy Policy
            </h4>
            <p class="overview-paragraph">
              By registering and/or using the Services, User agrees to be contractually bound to these Terms and the
              Privacy Policy, which shall have the same legal effect as if the Terms and Privacy Policy had been
              personally signed by you. By using our Services, you represent and warrant that: (i) you are not
              prohibited by the laws of your country (you are residing in) from accessing or using the Website, in
              accordance with these Terms. To the extent permitted by law, the Terms are intended to supersede any
              provisions of applicable law which might otherwise limit its enforceability or effect. If you do not agree
              to these Terms or the Privacy Policy, as updated from time to time, you should stop accessing or using the
              Services immediately.
            </p>

          </div>

          <div class="account" *ngIf="privacypolicy =='account'">
            <h4 class="overview-title">
              3. Account, Password and Security
            </h4>
            <p class="overview-paragraph">
              Users who have registered a User Account may utilise the Services, with the following conditions:
            </p>
            <h4 class="overview-paragraph">
              Content Contributor
            </h4>
            <p class="overview-paragraph">
              Users who act as Content Contributor are required to register and receive approval from Spark Esports
              Inc. as a contributor to submit content. Once registered, Content Contributor can create content in the
              form of text, images, audio or videos. Any content created will go through a review process by Spark
              Esports Inc. before it will be displayed on the Website or Services. Any content created must comply with
              Spark Esports Inc. rules regarding content and applicable laws and regulations.
            </p>
            <p class="overview-paragraph">
              You recognize that by creating an account on Sparkgaming.com, you commit to uphold the values of Spark
              for a brighter future in gaming: inclusion, integration, diversity, and kindness. You acknowledge Spark
              is a site that prioritizes the safety and respect of its members, and any form of racism, sexism,
              queerphobia, ableism, or other prejudices will not be tolerated. Engaging in any of the listed behaviours
              will result in the termination of my account.
            </p>
            <p class="overview-paragraph">
              Tournament Creator / Organiser
            </p>
            <p class="overview-paragraph">
              Users who act as Tournament Creator are required to register and receive approval from Spark Esports Inc.
              as the creator of the registered tournament, where: (i) the Tournament Participants are required to pay
              for their participation in the tournament; or (ii) the tournament involves prize money. After being
              registered, tournament creator can create game tournament by providing clear information and rules while
              complying with Spark Esports Inc. rules regarding tournament. Tournament Creator is fully responsible to
              the Tournament Participants on conducting the tournament. Every tournament must comply with Spark Esports
              Inc. rules regarding tournaments and applicable laws and regulations.
            </p>
            <p class="overview-paragraph">
              Tournament Participant
            </p>
            <p class="overview-paragraph">
              Users who act as Tournament Participant are required to comply with Spark Esports Inc. rules regarding
              tournament and also the rules imposed by the Tournament Creator. Tournament Participant is fully
              responsible for participating in tournament conforming the information and rules that apply to each
              tournament. Spark Esports Inc. is not responsible for incompatibility of the tournament conducted by the
              Tournament Creator.
            </p>
            <p class="overview-paragraph">
              Team Leader
            </p>
            <p class="overview-paragraph">
              Users who act as Team Leader are required to comply with Spark Esports Inc. rules regarding tournaments
              and also the rules imposed by the Tournament Creator. Team Leader is fully responsible to obtain consent
              from the team members for their respective personal details provided during tournament registration, and
              parental/guardian consent for team members under 18 years old. Upon successful team registration, the team
              members are to comply with the Tournament Participant’s Spark Esports Inc. rules and regulations.
            </p>
            <p class="overview-paragraph">
              Games Voucher Buyer
            </p>
            <p class="overview-paragraph">
              Users who act as buyer shall make payment according to the available payment method via the Services (if
              applicable).
            </p>
            <p class="overview-paragraph">
              In order to access and use the Services, you must possess a registered User Account approved by Spark
              Esports Inc. (“<span style="color: var(--white);">User Account</span>”). You agree to: (a) provide
              accurate, current and complete information when creating or updating the User Account; (b) maintain and
              promptly update the User Account information; (c) maintain the security and confidentiality of your login
              credentials and restrict access to your User Account and your computer (and other devices on which
              Services are accessed); (d) promptly notify Spark Esports Inc. if you discover or otherwise suspect any
              security breaches related to the Services; and (e) take responsibility for all activities that occur under
              your User Account and accept all risks of unauthorised access.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. without prior notice to User, has the authority to take actions deemed necessary for
              any suspected violations of the Terms and/or applicable law. Actions that can be taken include but are not
              limited to deleting content, removing tournament, deleting applications, suspending accounts, deleting
              User Accounts and/or in accordance with applicable legal provisions.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. has the authority to suspend or terminate User Account at its sole discretion if there
              is or is reason to believe that there has been any violation of these Terms and/or applicable laws and
              regulations.
            </p>
            <p class="overview-paragraph">
              User is prohibited from creating and/or using devices, software, features and/or other tools intended to
              manipulate Spark Esports Inc. system, including but not limited to: (i) manipulation of User data; (ii)
              spamming activities; (iii) manipulation of engagement content (vi) other activities that can reasonably be
              considered as acts of system manipulation.
            </p>
            <p class="overview-paragraph">
              User is fully responsible for maintaining the confidentiality of the account and password for all
              activities carried out using the User's User Account, including but not limited to any risks and/or losses
              that arise as a result of misuse of account by third parties. Spark Esports Inc. reserves the right to
              assume that User access to Spark Esports Inc. services using User Account and password as legitimate
              access made by User himself. The User hereby releases Spark Esports Inc. from any claims that may arise
              in any form and from any party in connection with User’s use of the Services (whether authorised or
              otherwise).
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. will not ask for username, password or SMS verification code or OTP code belonging to
              the User Account for any reason other than for the purposes of logging in to the Services, therefore
              Spark Esports Inc. urges User not to provide such data or other important data to any parties claiming as
              Spark Esports Inc. or other parties whose security cannot be guaranteed, in the event that login action
              is not carried out directly by the User.
            </p>
            <p class="overview-paragraph">
              User agrees to ensure that at the end of each session User will log out and notify Spark Esports Inc. if
              there is any unauthorised use of the account and/or password.
            </p>
            <p class="overview-paragraph">
              User hereby declares that Spark Esports Inc. is not responsible for any loss or obstacles arising from
              misuse of User Account caused by User negligence, including but not limited to lending or giving account
              access to other parties, accessing links or links provided by other parties, provide or show a
              verification code (OTP), password or email to other parties, or other User negligence that results in loss
              or obstacles to the User Account.
            </p>
            <p class="overview-paragraph">
              User understands and agrees that to use the one-time password (OTP) security facility, the relevant
              telecommunication service provider may at any time charge Users with a certain nominal according to the
              policies of each operator.
            </p>
          </div>

          <div class="content" *ngIf="privacypolicy =='content'">
            <h4 class="overview-title">
              4. Content
            </h4>
            <p class="overview-paragraph">
              In using any of Spark Esports Inc. features and/or Services, User is prohibited from uploading or using
              any words, comments, images or content that contain any form of racism, sexism, queerphobia, ableism, or
              other prejudices and violating morality, pornography, discrimination, initiating gambling, humiliation,
              demeaning or cornering other people, vulgar, threatening, extortion, defamation, violation of intellectual
              property rights or in contravention of applicable laws and regulations as well as other matters that may
              be considered not in accordance with social values and norms or based on self-determined policies by
              Spark Esports Inc.. Spark Esports Inc. has the right to take necessary actions for violations of these
              provisions, including but not limited to the removal of content, content moderation, account blocking, and
              other things that are possible under the laws and regulations.
            </p>
            <p class="overview-paragraph">
              User is prohibited from using photos/images that have watermark which indicate ownership rights of others.
              If the User is going to use other people's content, the User must include the source and/or permission of
              the content owner.
            </p>
            <p class="overview-paragraph">
              User hereby understands and agrees that misuse of photos/images uploaded becomes the personal
              responsibility of the User. Spark Esports Inc. is not responsible for violations committed by Users on
              other people's intellectual property rights in Spark Esports Inc. service.
            </p>
            <p class="overview-paragraph">
              By uploading content to Website or via its Services, User gives Spark Esports Inc. non-exclusive rights,
              throughout the world, continuously, irrevocably, royalty-free, sublicensed (through several levels), the
              right to carry out any and all copyright, publicity, trademark, database rights and intellectual property
              rights that the User has for the content, in any media known now or in the future. Furthermore, to be
              fully permitted under the applicable legal provisions, User excludes moral rights and is willing to not
              claim those rights to Spark Esports Inc..
            </p>
            <p class="overview-paragraph">
              Content or material that will be displayed or displayed via the Services will be subjected to these Terms,
              legal regulations, and applicable content ethics.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. has the right to at any time reduce the content or material contained in Spark
              Esports Inc. which is considered to violate these Terms, applicable legal regulations, and applicable
              content ethics.
            </p>
          </div>

          <div class="tournament" *ngIf="privacypolicy =='tournament'">
            <h4 class="overview-title">
              5. Tournament
            </h4>
            <p class="overview-paragraph">
              Spark Esports Inc. provides a dedicated page to display games tournaments created by Tournament Creators.
              User can become Tournament Creator or Tournament Participant referring to the applicable terms and
              conditions.
            </p>
            <p class="overview-paragraph">
              Tournament Creators can create tournaments by following the steps available via the Services. Tournament
              Creator must complete the information and rules of the tournament and then submit them for approval by
              Spark Esports Inc.. Where Tournament Creators charge any entry fees to the Tournament Participants, such
              fees will be collected by Spark Esports Inc. and shall only be released to the Tournament Creators upon
              the administration and completion of the tournament in accordance with Spark Esports Inc. rules regarding
              tournaments and applicable laws and regulations, as determined by Spark Esports Inc. in its sole
              discretion. Tournament Creator must update the information regarding the tournament since the tournament
              information publicly available until all tournament matches are completed.
            </p>
            <p class="overview-paragraph">
              Tournament Participants can take part in tournaments available via the Services by conforming to the terms
              and rules that apply to each tournament. Tournament Participant is responsible for participating in
              tournaments conforming to information and rules that apply to each tournament.
            </p>
            <p class="overview-paragraph">
              Tournament Prize Money distribution: Upon complete submission of tournament scores and required supporting
              documentation by the Tournament Participants and/or the Tournament Creator, Spark Esports Inc. will
              provide [30] days for any dispute from other participants to be raised and resolved in relation to the
              tournament scores. Once Spark Esports Inc. has validated the tournament completion and the winners, at
              its sole discretion, the Tournament Creator will be permitted to disburse the prize monies through a
              dedicated Prize Money distribution function via the Services.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. or any other parties involved in application distribution are not responsible for any
              losses or obstacles arising from the incompatibility of the tournament by the Tournament Creator.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. without prior notice to User, has the authority to take actions that are deemed
              necessary for any suspected violations of Terms and/or applicable law. Actions that can be taken include
              but are not limited to the removal of tournament, User Account suspension, deletion of User Accounts
              and/or in accordance with applicable legal provisions.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. has the authority to close User Account both temporarily and permanently if there is
              any violation of these Terms.
            </p>
          </div>

          <div class="store" *ngIf="privacypolicy =='store'">
            <h4 class="overview-title">
              6. Store
            </h4>
            <p class="overview-paragraph">
              Spark Esports Inc. provides a Store feature, which provides Games Vouchers, Merchandise, and Partner
              products.
            </p>
            <p class="overview-paragraph">
              User can purchase the available items in Spark Esports Inc. Store. Payment can be made with the available
              payment method via third party service providers, for example through PayPal.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. without prior notice to User, has the authority to take actions deemed necessary for
              any suspected violations of the Terms and/or applicable law. Actions that can be taken include but are not
              limited to deletion of applications, User Account suspension, deletion of User Accounts and/or in
              accordance with applicable legal provisions.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. has the authority to close User Accounts both temporarily and permanently if there is
              any violation of these Terms.
            </p>
            <p class="overview-paragraph">
              Payments can be made by User using payment methods via our payment partners, including but not limited to
              e-wallets. Subject to Section 10 (Warranty Disclaimer; Limitation of Liability) of these terms, in the
              event of any error and/or discrepancy in payment, you may contact us at hello@Sparkgaming.com and we will
              endeavour to assist you in the resolution of your dispute or query with our relevant payment partners. For
              the avoidance of doubt, any assistance provided by Spark Esports Inc. is merely to facilitate the
              resolutions of disputes between the User and our payment partners, and the User hereby releases the Spark
              Esports Inc. from the responsibility to provide compensation for losses incurred due to the error of the
              payment partner. The User can also directly contact our payment partners for resolution of the dispute
              and/or for further clarification.
            </p>
          </div>

          <div class="promotions" *ngIf="privacypolicy =='promotions'">
            <h4 class="overview-title">
              7. Promotions
            </h4>
            <p class="overview-paragraph">
              Spark Esports Inc. may at any time hold promotional activities (hereinafter referred to as "<span
                style="color: var(--white);">Promo</span>") with terms and conditions that may differ in each Promo
              activity. User is encouraged to read carefully the terms and conditions applicable to each Promo.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. reserves the right, without prior notice, to take necessary actions including but not
              limited to withdrawing subsidies or cashback, cancelling Spark Esports Inc. Point benefits, revoking
              Promo, cancelling transactions, holding funds, reducing reputation, closing accounts, and other things if
              there is found manipulation, violation or utilization of the Promo for the personal benefit of the User,
              as well as an indication of fraud or violation to Spark Esports Inc. Terms and/or applicable law.
            </p>
            <p class="overview-paragraph">
              User can only use one (1) Spark Esports Inc. account to participate in every Spark Esports Inc. promo.
              Where Spark Esports Inc. has identified the creation of more than one (1) account by an individual User
              and/or the same mobile number and/or the same email address and/or the same customer ID and/or the same
              payment identity and/or the same transaction history, the User shall not entitled to benefit from Spark
              Esports Inc. promo and Spark Esports Inc. has the right to take other actions deemed necessary, at Spark
              Esports Inc.’s sole discretion.
            </p>
          </div>

          <div class="points" *ngIf="privacypolicy =='points'">
            <h4 class="overview-title">
              8. Spark Esports Inc. Reward Points
            </h4>
            <p class="overview-paragraph">
              Spark Esports Inc. provides a loyalty feature for its User by way of Spark Esports Inc. Reward Points,
              which include and are not limited to Loyalty Points and Experience Points (collectively, the “<span
                style="color: var(--white);">Spark Esports Inc. Points</span>”).
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. Points can be used to get benefits such as but not limited to discounts, avatar
              package, unique graphics, partner product and merchandise.
            </p>
            <p class="overview-paragraph">
              User will get Spark Esports Inc. Points when certain transactions or activities have been completed by
              the User. The number of Spark Esports Inc. Points given can vary for each User and at a certain time.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. reserves the right, without prior notice, to change the number of Spark Esports Inc.
              Points given.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. has the right, without prior notice, to take necessary actions including but not
              limited to cancelling discount, withdrawing game items, cancelling Spark Esports Inc. Points benefits,
              cancelling transactions, holding funds, and other actions if manipulation, violation for personal gain of
              the User, as well as indications of fraud or violations of these Terms and applicable laws and
              regulations.
            </p>
          </div>

          <div class="rights" *ngIf="privacypolicy =='rights'">
            <h4 class="overview-title">
              9. Intellectual Property Rights
            </h4>
            <p class="overview-paragraph">
              Spark Esports Inc. has a variety of brands, logos, and trademarks. User acknowledges and agrees that
              Spark Esports Inc.'s intellectual property rights (“<span style="color: var(--white);">IPR</span>”)
              through content that is used or displayed via the Services, or any intellectual property rights owned by
              third parties contained in the Services, may not be copied, used, applied and implemented in whole or in
              part, without prior written permission from Spark Esports Inc. and/or other parties that have IPR
              contained in the Services. Spark Esports Inc. has the right to claim illegal use of IPR based on
              applicable law.
            </p>
            <p class="overview-paragraph">
              All forms of images, logos, videos and other forms found on the Services that are owned by partners are
              partner assets.
            </p>
            <p class="overview-paragraph">
              Users guarantee that they do not violate IPRs in uploading User content via the Services. Each User hereby
              is personally responsible for violations of IPR in uploading content via the Services. Spark Esports Inc.
              is not responsible for violations committed by Users of third party IPR by way of the User’s use of the
              Services.
            </p>
          </div>

          <div class="liability" *ngIf="privacypolicy =='liability'">
            <h4 class="overview-title">
              10. Warranty Disclaimer; Limitation of Liability
            </h4>
            <p class="overview-paragraph">
              The Services are provided on an ‘as is’ and ‘as available’ basis by Spark Esports Inc., without any
              express or implied warranty. Spark Esports Inc. provides no guarantee as to the performance or the
              uninterrupted, or secure availability of the Services. Spark Esports Inc. disclaims all warranties,
              express or implied, relating to the Services including, without limitation, implied warranties of
              merchantability, fitness for a particular purpose, title and non-infringement as to the site and the
              information, content and materials contained therein. Spark Esports Inc. does not represent or warrant
              that the Services are accurate, complete, reliable, current or error-free. Further, Spark Esports Inc.
              does not warrant that any errors in the Services will be corrected. While Spark Esports Inc. attempts to
              make your access and use of the Services safe, Spark Esports Inc. cannot and does not represent or
              warrant that the Services or its server(s) are free of defects, viruses, malware, or other harmful
              components. Spark Esports Inc. shall not be liable for any damages suffered as a result of using,
              modifying, contributing, copying, distributing, or downloading the Services.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. expressly disclaims all and any liability arising out of, related to or in connection
              with any of the following: (a) internet or connectivity interruptions or delays; (b) your or any third
              party's data, equipment, network, servers, applications, properties, cabling, systems, facilities or
              devices; (c) scheduled maintenance or other modification to the Services; (d) any act or omission by you
              or any third party; (e) use of the Services which is not permitted hereunder; (f) modifications to the
              Services by any person or entity, other than Spark Esports Inc.; and/or (g) force majeure.
            </p>
            <p class="overview-paragraph">
              Without limiting the generality of the foregoing, you acknowledge and agree that the Services will, from
              time to time, be subject to interruptions, delays and lag time arising from maintenance, servicing, User
              activity, User access, connectivity or otherwise and Spark Esports Inc. disclaims all liability arising
              therefrom.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. reserves the right to change any and all content contained in the Services at any
              time, without providing prior notice to you. Reference to any products, services, processes, or other
              information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply
              endorsement, sponsorship, or recommendation thereof, or any affiliation therewith, by Spark Esports Inc..
              User is responsible for and bears all risks to the content, language and applications that are consciously
              submitted so that they are available and displayed for Spark Esports Inc. service. In the event of a
              personal violation by a User including but not limited to IPR infringement, system manipulation, account
              misuse or other User's negligence, User is personally responsible for the violation and releases Spark
              Esports Inc. from claims arising from third parties.
            </p>
            <p class="overview-paragraph">
              Spark Esports Inc. is not responsible for inconsistencies that occur in the tournaments held by
              Tournament Creators through the User using the Services.
            </p>
            <p class="overview-paragraph">
              In order to provide a more varied payment method, Spark Esports Inc. collaborates with other parties to
              make it easier for User to choose the payment method that suits their needs. Therefore, in the event that
              there is a discrepancy and/or error in the payment method provided by the payment partner, both in the
              system and its usage, the User can directly file a complaint with the payment partner and hereby release
              the Spark Esports Inc. from the responsibility to provide compensation for losses incurred due to the
              error of the payment partner.
            </p>
          </div>

          <div class="force" *ngIf="privacypolicy =='force'">
            <h4 class="overview-title">
              11. Force Majeure
            </h4>
            <p class="overview-paragraph">
              A force majeure event (“<span style="color: var(--white);">FM Event</span>”) is an extraordinary event
              that occurs outside the control of Spark Esports Inc. which can cause User to not be able to use the
              Services (in full or in part), which includes but is not limited to: (a) acts of God and natural disasters
              such as earthquakes, storms, accidents, floods; (b) wars, riots, civil or military disturbances, acts of
              terrorism, epidemics, pandemics, power failures, computer failures; (c) Other parties’ actions that makes
              Spark Esports Inc. unable to provide its Services to the User; and (d) Technical disturbances/other
              reasons beyond the control of Spark Esports Inc..
            </p>
            <p class="overview-paragraph">
              Upon the occurrence of an FM Event, Spark Esports Inc. is exempt from its responsibilities.
            </p>
          </div>

          <div class="law" *ngIf="privacypolicy =='law'">
            <h4 class="overview-title">
              12. Governing Law and Jurisdiction
            </h4>
            <p class="overview-paragraph">
              These Terms (and the Privacy Policy) shall be governed and construed in accordance with the laws of Canada
              without regard to its conflict of law provisions, and the parties submit to the non-exclusive jurisdiction
              of the courts of Canada over any claim, matter or dispute arising out of or in connection with these Terms
              and the Privacy Policy.
            </p>

          </div>

          <div class="questions" *ngIf="privacypolicy =='questions'">
            <h4 class="overview-title">
              13. Notices, Support & Questions
            </h4>
            <p class="overview-paragraph">
              Any notice, request, consent, or approval required or permitted to be given under these Terms or pursuant
              to law shall be sufficient if in writing, and in your case, when sent by email and/or registered mail to
              the relevant address provided by you, and in the case of Spark Esports Inc., to the email address as set
              out below:
            </p>
          </div>
        </div>







        <!-- <h3 class="Section-title"  style="font-family: 'archivo';font-style: normal; size: 34px;">
        SECTION TITLE
      </h3>

      <ul>
        <li class="TermsOfOus-description">
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ex numquam autem nam consequuntur,
            consequatur veritatis velit minus reprehenderit delectus in ratione qui impedit. Quibusdam perferendis veritatis voluptatum tempora aspernatur minus ex, reprehenderit, quas fuga, error odio voluptates quam inventore?</P>
        </li>
        <ol type="1" class="TermsOfOus-description">
          <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
          <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
          <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        </ol>
    </ul>
    <p class="TermsOfOus-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis dolor suscipit perspiciatis inventore? Perferendis, cupiditate et! Veritatis tempora nesciunt odit corporis doloremque aperiam sit unde magni amet libero. Natus aperiam, consequuntur quos a reprehenderit maxime,
      ullam repellat cumque nisi blanditiis libero ea qui, ducimus facere labore quia adipisci accusamus?</p>

      <h3 class="Section-title"  style="font-family: 'archivo';font-style: normal; size: 34px;">
     SECTION TITLE
      </h3>

    <ul>
        <li class="TermsOfOus-description">
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ex numquam autem nam consequuntur,
            consequatur veritatis velit minus reprehenderit delectus in ratione qui impedit. Quibusdam perferendis veritatis voluptatum tempora aspernatur minus ex, reprehenderit, quas fuga, error odio voluptates quam inventore?</P>
        </li>
        <ol type="1" class="TermsOfOus-description">
          <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
          <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
          <li class="new_li">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, consequatur?</li>
        </ol>
    </ul>
    <p class="TermsOfOus-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quis dolor suscipit perspiciatis inventore? Perferendis, cupiditate et! Veritatis tempora nesciunt odit corporis doloremque aperiam sit unde magni amet libero. Natus aperiam, consequuntur quos a reprehenderit maxime,
      ullam repellat cumque nisi blanditiis libero ea qui, ducimus facere labore quia adipisci accusamus?</p> -->
      </section>
    </div>
  </div>
</div>
