<a class="ArticleItem" (click)="onTop.emit()" [routerLink]="[AppHtmlRoutes.news, data?.slug]">
  <div class="ArticleItem-image-block">
    <img src="{{data?.image}}" />
  </div>

  <h3 class="ArticleItem-title global-Elipses2">
    {{ data?.title | customTranslate: (languageService?.language | async) }}
  </h3>

  <p class="ArticleItem-created global-Elipses">
    {{ "NEWS.NEWS_ALL.BY" | translate }} {{data?.author?.username}} •
    {{ data?.createdDate | date: "MMMM d, y" }}
  </p>
</a>
