@import "shared";

:host {
  display: block;
  transition: $global-transition;

  &:hover {
    opacity: 0.8;
  }
}

.ArticleItem {
  &-image-block {
    margin-bottom: px2vw-xl(16px);
    width: 100%;
    background-color: var(--black);
    @include xxl {
      margin-bottom: px2vw-xxl(16px);
    }
    @include lg {
      margin-bottom: px2vw-lg(16px);
    }
    @include md {
      margin-bottom: px2vw-md(16px);
    }
    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
    img{
      height: px2vw-xl(185px);
      width: 100%;
      @include xxl {
        height: px2vw-xxl(185px);
      }
      @include lg {
        height: px2vw-lg(185px);
      }
      @include md {
        height: px2vw-md(185px);
      }
      @include sm {
        height: px2vw-sm(120px);
      }
    }
  }

  &-title {
    @extend %global-H8;
    margin-bottom: px2vw-xl(8px);
    text-transform: capitalize;
    @include xxl {
      margin-bottom: px2vw-xxl(8px);
    }
    @include lg {
      margin-bottom: px2vw-lg(8px);
    }
    @include md {
      margin-bottom: px2vw-md(8px);
    }
    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-created {
    @extend %subtitle-2;
    text-transform: capitalize;
    margin-bottom: 0;
    color: var(--white-medium);
  }
}
