@import "shared";

:host {
  display: block;
}

.BookmarkCard-header {
  @extend %u-dfCenterBtw;
  margin-bottom: px2vw-xl(12px);

  @include lg {
    margin-bottom: px2vw-lg(12px);
  }

  @include md {
    margin-bottom: px2vw-md(12px);
  }

  @include sm {
    margin-bottom: px2vw-sm(12px);
  }

  &-title {
    @extend %subtitle-1;
    margin-bottom: 0;
    font-family: "archivo-black";
    text-transform: uppercase;
  }

  &-control {
    @extend %u-dfCenter;
    flex-shrink: 0;
    margin-left: px2vw-xl(12px);

    @include lg {
      margin-left: px2vw-lg(12px);
    }

    @include md {
      margin-left: px2vw-md(12px);
    }

    @include sm {
      margin-left: px2vw-sm(12px);
    }
  }

  &-control-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);
    font-size: px2vw-xl(24px);
    color: var(--white-high);
    cursor: pointer;
    transition: $global-transition;

    &.bookmark {
      color: var(--color-primary);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
      font-size: px2vw-sm(24px);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.8;
      color: var(--color-primary);
    }
  }
}

.BookmarkCard-content {
  @extend %u-dfCenter;

  &-image {
    @extend %u-dfStartEnd;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    padding: px2vw-xl(8px);
    height: px2vw-xl(118px);
    width: px2vw-xl(210px);
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(16px);
      padding: px2vw-lg(8px);
      height: px2vw-lg(118px);
      width: px2vw-lg(210px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      padding: px2vw-md(8px);
      height: px2vw-md(118px);
      width: px2vw-md(210px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      padding: px2vw-sm(8px);
      height: px2vw-sm(118px);
      width: px2vw-sm(210px);
    }
  }

  &-image-icon {
    height: px2vw-xl(38px);
    width: px2vw-xl(38px);

    @include lg {
      height: px2vw-lg(38px);
      width: px2vw-lg(38px);
    }

    @include md {
      height: px2vw-md(38px);
      width: px2vw-md(38px);
    }

    @include sm {
      height: px2vw-sm(38px);
      width: px2vw-sm(38px);
    }
  }

  &-info {
    max-width: px2vw-xl(552px);

    @include lg {
      max-width: px2vw-lg(552px);
    }

    @include md {
      max-width: px2vw-md(552px);
    }

    @include sm {
      max-width: px2vw-sm(552px);
    }
  }

  &-description {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-details {
    @extend %u-dfCenter;
  }

  &-detail {
    @extend %caption;
    color: var(--white-medium);
  }

  &-dot {
    margin: 0 px2vw-xl(10px);
    border-radius: px2vw-xl(2px);
    width: px2vw-xl(3px);
    height: px2vw-xl(3px);
    background-color: var(--white-medium);

    @include lg {
      margin: 0 px2vw-lg(10px);
      border-radius: px2vw-lg(2px);
      width: px2vw-lg(3px);
      height: px2vw-lg(3px);
    }

    @include md {
      margin: 0 px2vw-md(10px);
      border-radius: px2vw-md(2px);
      width: px2vw-md(3px);
      height: px2vw-md(3px);
    }

    @include sm {
      margin: 0 px2vw-sm(10px);
      border-radius: px2vw-sm(2px);
      width: px2vw-sm(3px);
      height: px2vw-sm(3px);
    }
  }
}
.BookmarkCard {
  padding: 24px 0 25px;
  border-bottom: 1px solid var(--color-black-medium);
  &-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  &-content {
    width: 100%;
    max-width: calc(100% - 82px);
    padding-right: 24px;
    align-items: flex-start;
    @include md {
      max-width: 100%;
      padding-right: 0;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    &-image {
      background-repeat: no-repeat;
      background-size: cover !important;
      background-position: center;
      width: 100%;
      max-width: 271px;
      height: 156px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      border-radius: 16px;
      overflow: hidden;
      margin-right: 30px;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      @include md {
        max-width: 100%;
        margin-bottom: 16px;
      }
      .icon {
        display: inline-block;
        width: 60px;
        ::ng-deep svg path {
          fill: var(--white);
        }
      }
    }
    &-details-avatar {
      width: 24px;
      height: 24px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 8px;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    &-detail-info {
      .text {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--tolopea-color);
      }
    }
  }
  &-manage {
    width: 100%;
    max-width: 82px;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    @include md {
      position: absolute;
      top: 225px;
      right: 0;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      max-width: 24px;
    }
    .TeamCard-manage-button-menu {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      width: 32px;
      height: 32px;
      background-color: transparent;
    }
    .TeamCard-manage-button-menu-icon {
      font-size: 28px;
      width: auto;
      height: auto;
      color: var(--main-color);
      @include sm {
        font-size: 18px;
        width: 32px;
        height: 32px;
      }
    }
  }
  &-CategoryName {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #f12ba3;
    margin-bottom: 8px;
  }
  &-header-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 8px;
    text-transform: capitalize;
    @include md {
      max-width: 279px;
      font-size: 20px;
      line-height: 28px;
      -webkit-line-clamp: 2;
    }
  }
  &-content-description {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--tolopea-medium-color);
    margin-bottom: 8px;
  }
}
