@import "shared";
@import "../../../../../../src/scss/components/create-tournament";


:host {
  position: relative;
  display: block;
  overflow: hidden;
  @extend %ct-overlay;
  background-image: url("/assets/images/Tournament/create/overlays/1.png");
}

.SelectType {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container {
    margin-top: px2vw-xl(140px);

    @include lg {
      margin-top: px2vw-lg(74px);
    }

    @include md {
      margin-top: px2vw-md(60px);
    }

    @include sm {
      margin-top: px2vw-sm(60px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(74px);
    font-family: "stc-forward-bold", sans-serif;
    font-size: px2vw-xl(56px);
    line-height: 1.2;
    text-align: center;

    @include lg {
      margin-bottom: px2vw-lg(50px);
      font-size: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      font-size: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
      font-size: px2vw-sm(28px);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);

    @include lg {
      grid-column-gap: px2vw-lg(32px);
    }

    @include md {
      grid-column-gap: px2vw-md(20px);
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: 0;
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-card {
    &:first-child {
      justify-self: end;
    }

    &:last-child {
      justify-self: start;
    }
  }

  &-heroes-block {
    margin-top: auto;

    @include md {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &-heroes {
    z-index: 5;
    position: absolute;
    bottom: 0;

    @include md {
      position: static;
    }

    &.left {
      left: 0;
      width: px2vw-xl(600px);

      @include lg {
        left: -7%;
        width: px2vw-lg(350px);
      }

      @include md {
        width: px2vw-md(340px);
      }

      @include sm {
        margin-left: -16%;
        width: px2vw-sm(380px);
      }
    }

    &.right {
      right: 0;
      width: px2vw-xl(500px);

      @include lg {
        right: -7%;
        width: px2vw-lg(300px);
      }

      @include md {
        width: px2vw-md(300px);
      }

      @include sm {
        margin-right: -20%;
        width: px2vw-sm(320px);
      }
    }
  }
}
