@import "shared";

$--card-bg: radial-gradient(
  50.13% 129.55% at 0% 100%,
  rgba(115, 108, 255, 0.25) 0%,
  rgba(115, 108, 255, 0) 100%
);

$--card-matrix: matrix(1, 0, 0, -1, 0, 0);

:host {
  display: block;
}

.Referrals-card {
  margin-bottom: px2vw-xl(40px);
  border: px2vw-xl(1px) solid var(--white-smoke);
  border-radius: px2vw-xl(4px);
  background: $--card-bg;
  padding: px2vw-xl(40px) px2vw-xl(32px);
  transform: $--card-matrix;

  @include lg {
    margin-bottom: px2vw-lg(40px);
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(4px);
    padding: px2vw-lg(40px) px2vw-lg(32px);
  }

  @include md {
    margin-bottom: px2vw-md(40px);
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(4px);
    padding: px2vw-md(40px) px2vw-md(32px);
  }

  @include sm {
    margin-bottom: px2vw-sm(40px);
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(4px);
    padding: px2vw-sm(40px) px2vw-sm(32px);
  }

  &-container {
    transform: $--card-matrix;
  }

  &-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-link-block {
    @extend %u-dfCenterBtw;
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    background-color: var(--color-secondary);

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-link {
    @extend %body-1;
    margin-bottom: 0;
  }

  &-link-button {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-left: px2vw-xl(16px);
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);
    background-color: transparent;

    @include lg {
      margin-left: px2vw-lg(16px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-left: px2vw-md(16px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
    }

    ::ng-deep svg {
      height: px2vw-xl(16px);
      width: px2vw-xl(13px);
      cursor: pointer;

      @include lg {
        height: px2vw-lg(16px);
        width: px2vw-lg(13px);
      }

      @include md {
        height: px2vw-md(16px);
        width: px2vw-md(13px);
      }

      @include sm {
        height: px2vw-sm(16px);
        width: px2vw-sm(13px);
      }

      path {
        transition: $global-transition2;
      }
    }

    &:hover ::ng-deep svg path {
      fill: var(--color-primary);
    }
  }
}

.Referrals-history {
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(40px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  app-referral-card:first-child {
    ::ng-deep .ReferralCard {
      padding-top: 0;
    }
  }
}
