<div class="Referrals">
  <section class="Referrals-card">
    <div class="Referrals-card-container">
      <h4 class="Referrals-card-title">
        {{ "ACCOUNT_SETTINGS.REFERRALS.CARD.TITLE" | translate }}
      </h4>
      <p class="Referrals-card-subtitle">
        {{ "ACCOUNT_SETTINGS.REFERRALS.CARD.SUBTITLE" | translate }}
      </p>

      <div class="Referrals-card-link-block">
        <p class="Referrals-card-link global-Elipses">
          {{ cardLink }}
        </p>
        <button
          class="Referrals-card-link-button"
          inlineSVG="assets/icons/copy.svg"
          [cdkCopyToClipboard]="cardLink"
        ></button>
      </div>
    </div>
  </section>

<!-- Drop - 2 -->

<!-- <section class="Referrals-rewards">
    <h3 class="Referrals-rewards-title">
      {{ "ACCOUNT_SETTINGS.REFERRALS.REWARDS.TITLE" | translate }}
    </h3>

    <div class="Referrals-rewards-info">
      <div class="Referrals-rewards-icon-block">
        <img
          class="Referrals-rewards-icon"
          src="assets/global-images/p-logo.svg"
          alt="icon"
        />
      </div>
      <span class="Referrals-rewards-value global-Elipses"> {{this.currentUser.accountDetail.reward}} </span>
    </div>
  </section> -->

  <section class="Referrals-history">
    <h3 class="Referrals-history-title">
      {{ "ACCOUNT_SETTINGS.REFERRALS.HISTORY.TITLE" | translate }}
    </h3>

    <div class="Referrals-history-cards">
      <mat-tab-group
        class="global-SecondTabs"
        mat-align-tabs="left"
        animationDuration="0ms"
      >
        <mat-tab
        [label]="('ACCOUNT_SETTINGS.REFERRALS.HISTORY.ACCEPTED' | translate) + ' (' + accepted.length + ')'"
        >
          <div class="Preferences-cards-list" *ngIf="accepted.length">
            <ng-container *ngFor="let item of accepted">
              <app-referral-card [data]="item"></app-referral-card>
            </ng-container>
          </div>
        </mat-tab>

        <mat-tab
          [label]="('ACCOUNT_SETTINGS.REFERRALS.HISTORY.SENT' | translate) + ' (' + sended.length + ')'" >
          <div class="Preferences-cards-list" *ngIf="sended.length">
            <ng-container *ngFor="let item of sended">
              <app-referral-card [data]="item"></app-referral-card>
            </ng-container>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>
