.global-Text {
  margin-bottom: 0.8337675873vw;
  color: var(--nobel);
}

.Phone-No {
  input {
    padding-left: 32px;
    border: 0.5px solid rgba(245, 245, 245, 0.5);
    opacity: 1;
    color: var(--textcolor);
    z-index: 1;
    position: relative;
  }
  label {
    position: absolute;
    left: 35px;
    top: 14px;
    margin: 0;
    background: #171a1c;
    padding: 0 10px 0 7px;
    transition: all 0.3s;
    z-index: 0;
    font-size: 16px;
    color: var(--textcolor);
    font-family: "dynasty-primary-light" !important;
    &.active {
      top: -7px;
      z-index: 2;
      font-size: 12px;
      color: rgba(245, 245, 245, 0.6);
    }
  }
  input:focus ~ label {
    top: -7px;
    z-index: 2;
    font-size: 14px;
    color: rgba(245, 245, 245, 0.6);
  }
  .error {
    // position: absolute;
    // top: 43px;
    padding-top: 5px;
    font-size: 0.9rem;
    line-height: 1;
  }
  .readOnly {
    pointer-events: none;
  }
}
