<app-manageteam-header>
  [currentPageLink]="AppHtmlRoutes.profile"
</app-manageteam-header>
<header class="MyTeams-header">
  <h1 class="MyTeams-cards-title">
    {{ "MANAGE_TEAM.Team_Members.TITLE" | translate }}
  </h1>

  <button
    class="MyTeams-header-button button-primary"
    [routerLink]="[AppHtmlManageTeams.addMembers, id]"
  >
    {{ "BUTTON.ADD_MEMBER" | translate }} 
  </button>
</header>

<section class="MyTeams-control">
  <div class="MyTeams-control-toggles">
    <div class="MyTeams-control-toggle">
      <a class="MyTeams-control-link">
        {{myTeams.length}} {{ "MANAGE_TEAM.Team_Members.TOTAL_MEMBER" | translate }}
      </a>
      <div class="MyTeams-cards">
        <div class="MyTeams-cards-list" *ngIf="myTeams.length">
          <ng-container *ngFor="let item of myTeams">
            <app-team-card [isManage]="true" [data]="item" [teamId]="id" (showPopup)="showPopup($event)" (click)="getMData(item)"></app-team-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="Profile-popup" *ngIf="show">
  <app-popup (showPopup)="showPopup($event,isRemovePerson)" [isRemove]="isRemove" [memberData]="mData" [isRemovePerson]="isRemovePerson"></app-popup>
</div>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>