<app-header
  [currentPageLink]="AppHtmlRoutes.tournamentcreated"
  [title]="'manage_TOURNAMENT.SELECT_TYPE.HEADER_TITLE' | translate"
></app-header>

<section
  class="Profile u-wp"
  *ngIf="tournament && hasRequiredAccess; else notAvailable"
>
  <nav class="Profile-nav">
    <div class="border">
      <h2 class="Profile-nav-title">
        {{ "Manage tools" | uppercase }}
      </h2>

      <h3 class="Profile-nav-subtitle">Tournament settings</h3>

      <a
        class="Profile-nav-link-main"
        [routerLink]="'participants-requests'"
        routerLinkActive="active"
        [state]="tournament"
      >
        <mat-icon>people_outline</mat-icon>
        <span class="global-Elipses"> Participant requests </span>
      </a>

      <a
        class="Profile-nav-link-main"
        [routerLink]="'brackets'"
        routerLinkActive="active"
      >
        <mat-icon>
          <svg
            width="15"
            height="20"
            viewBox="0 0 15 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 1.51378H5.18643V6.82898H0V8.34276H5.42837C6.09645 8.34276 6.63803 7.77797 6.63803 7.08128V4.92616H10.1833V14.8291H6.63803V12.9187C6.63803 12.222 6.09645 11.6572 5.42837 11.6572H0V13.171H5.18643V18.4862H0V20H5.42837C6.09645 20 6.63803 19.4352 6.63803 18.7385V16.3429H10.4252C11.0933 16.3429 11.6349 15.7781 11.6349 15.0814V10.6373H15V9.12354H11.6349V4.67386C11.6349 3.97717 11.0933 3.41238 10.4252 3.41238H6.63803V1.26148C6.63803 0.564785 6.09645 0 5.42837 0H0V1.51378Z"
              fill="white"
              fill-opacity="0.6"
            />
          </svg>
        </mat-icon>

        <span class="global-Elipses"> Brackets </span>
      </a>

      <a
        class="Profile-nav-link-main"
        [routerLink]="'scoring'"
        routerLinkActive="active"
      >
        <mat-icon>show_chart</mat-icon>
        <span class="global-Elipses"> Scoring </span>
      </a>
      <a
        class="Profile-nav-link-main"
        [routerLink]="['reports', tournament?._id]"
        routerLinkActive="active"
      >
        <mat-icon>library_books</mat-icon>
        <span class="global-Elipses"> User reports </span>
      </a>
      <a
        class="Profile-nav-link-main"
        [routerLink]="'discussion'"
        routerLinkActive="active"
      >
        <mat-icon>chat_bubble_outline</mat-icon>
        <span class="global-Elipses"> Discussion </span>
      </a>
      <!-- <a class="Profile-nav-link-main" [routerLink]="'clips'"  routerLinkActive="active">
        <mat-icon>video_library</mat-icon>
        <span class="global-Elipses">
          Clips
        </span>
      </a> -->
      <a
        class="Profile-nav-link-main"
        [routerLink]="'notification'"
        routerLinkActive="active"
      >
        <mat-icon>notifications_none</mat-icon>
        <span class="global-Elipses"> Notifications </span>
      </a>

      <div class="Profile-nav-bottom">
        <a
          class="Profile-nav-link-main"
          [routerLink]="'edit'"
          routerLinkActive="active"
          (click)="editTournament()"
        >
          <mat-icon>edit</mat-icon>
          <span class="global-Elipses">
            {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_EDIT" | translate }}
          </span>
        </a>
        <!-- <a *ngIf="!allowEdit" (click)="showEditError()" class="Profile-nav-link-main">
          <mat-icon>edit</mat-icon>
          <span class="global-Elipses">  {{"CREATE_TOURNAMENT.CREATE_TOURNAMENT_EDIT" | translate}} </span></a
        > -->
      </div>
    </div>

    <!-- <div class="Dashboard-cards-item">
      <img class="Dashboard-cards-item-icon" lazyLoad="assets/icons/profile/dashboard/paidia-points.svg" alt="icon" />
      <div class="Dashboard-cards-item-info">
        <h4 class="Dashboard-cards-item-title">
          {{ "PROFILE.DASHBOARD.CARDS.PAIDIA_POINTS" | translate }}
        </h4>
        <p class="Dashboard-cards-item-value global-Elipses">0</p>
      </div>
    </div> -->

    <div class="tournament_box">
      <div class="this_image">
        <img [src]="tournament?.gameDetail?.logo" alt="" />
      </div>
      <h5>{{ tournament?.name }}</h5>
      <small
        >{{ tournament?.startDate | date }} •
        {{ tournament?.gameDetail?.name | uppercase }}</small
      >
    </div>
  </nav>

  <div class="Profile-content">
    <router-outlet></router-outlet>
  </div>
</section>

<ng-template #notAvailable>
  <h3 class="not-available" [hidden]="hideMessage">
    {{ "VIEW_TOURNAMENT.NOT_AVAILABLE" | translate }}
  </h3>
  <h3 class="not-available" *ngIf="!hasRequiredAccess">
    {{ "VIEW_TOURNAMENT.ACCESS_DENIED" | translate }}
  </h3>
</ng-template>

<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
