<header class="u-wp gwb-Header">
  <div class="gwb-Header-desktop">
    <div class="gwb-Header-images">
      <a *ngIf="activeLang === 'en'" (click)="goToUrl()">
        <img class="gwb-Header-images-planet" src="assets/global-images/header/planet.png" alt="planet image" />
      </a>
      <a *ngIf="activeLang === 'ar'" (click)="goToArUrl()">
        <img class="gwb-Header-images-planet" src="assets/global-images/header/planet-ar.png" alt="planet image" />
      </a>

      <a class="gwb-Header-images-logo-link" [routerLink]="AppHtmlGwbegRoutes.home">
        <img class="gwb-Header-images-logo" src="assets/global-images/logo.svg" alt="logo image" />
      </a>
    </div>

    <nav class="gwb-Header-navigation">
      <span class="gwb-Header-navigation-link" *ngFor="let link of homeLinks">
        <a class="gwb-Header-navigation-link" *ngIf="link.liveLink && activeLang != 'ar'" routerLinkActive="is-active"
          [href]="link.liveLink" [target]="link.target">
          <span>{{ link.title | translate }}</span>
        </a>
        
        <a class="gwb-Header-navigation-link" routerLinkActive="is-active"
          *ngIf="link.arLiveLink && activeLang === 'ar'" [href]="link.arLiveLink" [target]="link.target">
          <span>{{ link.title | translate }}</span>
        </a>
      </span>

      <span class="gwb-Header-navigation-link" *ngFor="let link of links">
        <a class="gwb-Header-navigation-link" *ngIf="link.liveLink && activeLang != 'ar'" routerLinkActive="is-active"
          [href]="link.liveLink" [target]="link.target">
          <span class="translateAbout" *ngIf="
          link.title == 'GWB.COMPONENTS.HEADER.LINKS.ABOUT' &&
          activeLang === 'ar'
        ">{{ link.title | translate }}</span>
          <span *ngIf="
          link.title == 'GWB.COMPONENTS.HEADER.LINKS.ABOUT' &&
          activeLang != 'ar'
        ">{{ link.title | translate }}</span>
          <span *ngIf="link.title != 'GWB.COMPONENTS.HEADER.LINKS.ABOUT'">{{
        link.title | translate
      }}</span>
        </a>


        <a class="gwb-Header-navigation-link" *ngIf="link.arLiveLink && activeLang === 'ar'"
          routerLinkActive="is-active" [href]="link.arLiveLink" [target]="link.target">
          <span class="translateAbout" *ngIf="
        link.title == 'GWB.COMPONENTS.HEADER.LINKS.ABOUT' &&
        activeLang === 'ar'
      ">{{ link.title | translate }}</span>
          <span *ngIf="
        link.title == 'GWB.COMPONENTS.HEADER.LINKS.ABOUT' &&
        activeLang != 'ar'
      ">{{ link.title | translate }}</span>
          <span *ngIf="link.title != 'GWB.COMPONENTS.HEADER.LINKS.ABOUT'">{{
      link.title | translate
    }}</span>
        </a>



        <a class="gwb-Header-navigation-link" *ngIf="!link.liveLink" routerLinkActive="is-active"
          (click)="anchorGwb(link.id)">
          <span class="translateAbout" *ngIf="
        link.title == 'GWB.COMPONENTS.HEADER.LINKS.ABOUT' &&
        activeLang === 'ar'
      ">{{ link.title | translate }}</span>
          <span *ngIf="
        link.title == 'GWB.COMPONENTS.HEADER.LINKS.ABOUT' &&
        activeLang != 'ar'
      ">{{ link.title | translate }}</span>
          <span *ngIf="link.title != 'GWB.COMPONENTS.HEADER.LINKS.ABOUT'">{{
      link.title | translate
    }}</span>
        </a>
      </span>

    </nav>

    <div class="gwb-Header-language">
      <img *ngIf="activeLang === 'en'" class="gwb-Header-language-image" src="assets/icons/gwb/languages/arabic.svg"
        alt="arabic icon" />
      <img *ngIf="activeLang === 'ar'" class="gwb-Header-language-image" src="assets/icons/gwb/languages/english.svg"
        alt="english icon" />

      <span class="gwb-Header-language-text" *ngFor="let item of AppLanguage" (click)="onLanguageChange(item.code)"
        [hidden]="activeLang === item?.code">
        {{ item?.value }}
      </span>
    </div>

    <div class="gwb-Header-buttons">
      <!-- <button
        class="gwb-Header-button gwb-button"
        *ngIf="!currentUser"
        [routerLink]="AppHtmlProfileRoutes.basicInfo"
      > -->
      <button class="gwb-Header-button gwb-button" *ngIf="!currentUser" (click)="onLogin()">
        <span class="text loginText">{{
          "BUTTON.REGISTER_AND_LOGIN" | translate
        }}</span>
      </button>
      <button *ngIf="currentUser" class="sectionB-button global-EditBtn" (click)="onConfirmLogout(openModel)"
        id="logout-test">
        {{ "header.LOGOUT" | translate }}
      </button>
    </div>
  </div>

  <div class="gwb-Header-mob">
    <div class="gwb-Header-images">
      <a *ngIf="activeLang === 'en'" (click)="goToUrl()">
        <img class="gwb-Header-images-planet" src="assets/global-images/header/planet.png" alt="planet image" />
      </a>

      <a *ngIf="activeLang === 'ar'" (click)="goToArUrl()">
        <img class="gwb-Header-images-planet" src="assets/global-images/header/planet-ar.png" alt="planet image" />
      </a>


      <a class="gwb-Header-images-logo-link" [routerLink]="AppHtmlGwbegRoutes.home">
        <img class="gwb-Header-images-logo" src="assets/global-images/logo.svg" alt="logo image" />
      </a>
    </div>

    <div class="gwb-Header-mob-navigation-block" id="HeaderMobNav" [isAnimated]="true" [collapse]="!mobMenuOpened"
      [class.collapse]="!mobMenuOpened">
      <nav class="gwb-Header-mob-navigation">
        <span class="gwb-Header-mob-navigation-link gwb-text-shadow" *ngFor="let link of links">
          <a class="gwb-Header-mob-navigation-link gwb-text-shadow" *ngIf="link.liveLink && activeLang != 'ar'"
            routerLinkActive="is-active" [href]="link.liveLink" [target]="link.target">
            <span>{{ link.title | translate }}</span>
          </a>

          <a class="gwb-Header-mob-navigation-link gwb-text-shadow" *ngIf="link.arLiveLink && activeLang === 'ar'"
            routerLinkActive="is-active" [href]="link.arLiveLink" [target]="link.target">
            <span>{{ link.title | translate }}</span>
          </a>

          <a class="gwb-Header-mob-navigation-link gwb-text-shadow" *ngIf="!link.liveLink" routerLinkActive="is-active"
            (click)="anchorGwb(link.id)">
            <span>{{ link.title | translate }}</span>
          </a>
        </span>
      </nav>
    </div>

    <div class="gwb-Header-language">
      <img *ngIf="activeLang === 'en'" class="gwb-Header-language-image" src="assets/icons/gwb/languages/arabic.svg"
        alt="arabic icon" />
      <img *ngIf="activeLang === 'ar'" class="gwb-Header-language-image" src="assets/icons/gwb/languages/english.svg"
        alt="english icon" />
      <span class="gwb-Header-language-text" *ngFor="let item of AppLanguage" (click)="onLanguageChange(item.code)"
        [hidden]="activeLang === item?.code">
        {{ item?.value }}
      </span>
    </div>

    <button class="gwb-Header-mob-menu navbar-toggler" (click)="mobMenuOpened = !mobMenuOpened"
      [attr.aria-expanded]="!mobMenuOpened" aria-controls="HeaderMobNav">
      <fa-icon *ngIf="!mobMenuOpened" class="bar-class" [icon]="faBars"></fa-icon>

      <fa-icon *ngIf="mobMenuOpened" class="bar-class" [icon]="faTimes"></fa-icon>
    </button>
  </div>

  <ng-template #openModel let-modal class="Logout-modal">
    <header class="Logout-modal-header">
      <h3 class="Logout-modal-title">
        {{ "ASIDE.CONFIRMATION" | translate }}
      </h3>
      <button class="Logout-modal-close" (click)="modal.dismiss()">
        <span class="material-icons">clear</span>
      </button>
    </header>

    <div class="Logout-modal-message">
      {{ "ASIDE.LOGOUT" | translate }}
    </div>

    <div class="Logout-modal-buttons">
      <button class="Logout-modal-button global-EditBtn dark-text" (click)="modal.dismiss()">
        {{ "ASIDE.CANCEL" | translate }}
      </button>

      <button class="Logout-modal-button global-EditBtn" (click)="onLogOut()">
        {{ "ASIDE.CONFIRM" | translate }}
      </button>
    </div>
  </ng-template>
</header>