@import "shared";
@import "../../../../../../src/scss/components/create-tournament";


:host {
  display: block;
  @extend %ct-overlay;
}

.Payment {
  padding: px2vw-xl(70px) 0 px2vw-xl(40px);

  @include lg {
    padding: px2vw-lg(70px) 0 px2vw-lg(40px);
  }

  @include md {
    padding: px2vw-md(70px) 0 px2vw-md(40px);
  }

  @include sm {
    padding: px2vw-sm(70px) 0 px2vw-sm(40px);
  }

  &-container {
    margin-top: px2vw-xl(72px);
    width: 100%;

    @include lg {
      margin-top: px2vw-lg(72px);
    }

    @include md {
      margin-top: px2vw-md(72px);
    }

    @include sm {
      margin-top: px2vw-sm(72px);
    }
  }

  &-header {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-header-button {
    font-size: px2vw-xl(22px);

    @include lg {
      font-size: px2vw-lg(22px);
    }

    @include md {
      font-size: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-main {
    display: grid;
    grid-template-columns: minmax(0, 1fr) px2vw-xl(405px);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(150px);
    grid-row-gap: 0;

    @include lg {
      grid-template-columns: minmax(0, 1fr) px2vw-lg(405px);
      grid-column-gap: px2vw-lg(40px);
    }

    @include md {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: 0;
      grid-row-gap: px2vw-md(120px);
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-row-gap: px2vw-sm(120px);
    }
  }

  &-method {
    &-title {
      margin-bottom: px2vw-xl(32px);
      color: var(--base-white);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }

    &-subtitle {
      margin-bottom: 0;
      color: var(--base-white);
    }

    &-list {
      margin-top: px2vw-xl(110px);
      margin-bottom: 0;

      @include lg {
        margin-top: px2vw-lg(110px);
      }

      @include md {
        margin-top: px2vw-md(70px);
      }

      @include sm {
        margin-top: px2vw-sm(70px);
      }
    }

    &-item {
      border-bottom: 1px solid var(--base-gainsboro);
      padding: px2vw-xl(25px) 0;

      @include lg {
        padding: px2vw-lg(25px) 0;
      }

      @include md {
        padding: px2vw-md(25px) 0;
      }

      @include sm {
        padding: px2vw-sm(25px) 0;
      }
    }

    &-image-block {
      overflow: hidden;
      border-radius: px2vw-xl(5px);
      margin-right: px2vw-xl(32px);
      width: px2vw-xl(115px);
      height: px2vw-xl(60px);
      padding: px2vw-xl(8px);
      background-color: var(--base-white);

      @include lg {
        margin-right: px2vw-lg(25px);
        border-radius: px2vw-lg(5px);
        width: px2vw-lg(115px);
        height: px2vw-lg(60px);
        padding: px2vw-lg(8px);
      }

      @include md {
        margin-right: px2vw-md(22px);
        border-radius: px2vw-md(5px);
        width: px2vw-md(115px);
        height: px2vw-md(60px);
        padding: px2vw-md(8px);
      }

      @include sm {
        margin-right: px2vw-sm(18px);
        border-radius: px2vw-sm(5px);
        width: px2vw-sm(115px);
        height: px2vw-sm(60px);
        padding: px2vw-sm(8px);
      }
    }

    &-image {
      max-width: 100%;
    }

    &-text {
      margin-right: px2vw-xl(15px);
      color: var(--base-white);

      @include lg {
        margin-right: px2vw-lg(15px);
      }

      @include md {
        margin-right: px2vw-md(15px);
      }

      @include sm {
        margin-right: px2vw-sm(15px);
      }
    }

    &-button {
      margin-left: auto;
    }
  }

  &-pool {
    &-title {
      margin-bottom: px2vw-xl(38px);
      font-family: "stc-forward-bold", sans-serif;
      font-size: px2vw-xl(28px);
      line-height: px2vw-xl(40px);

      @include lg {
        margin-bottom: px2vw-lg(38px);
        font-size: px2vw-lg(28px);
        line-height: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(38px);
        font-size: px2vw-md(28px);
        line-height: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(50px);
        font-size: px2vw-sm(28px);
        line-height: px2vw-sm(40px);
      }
    }

    &-subtitle {
      margin-bottom: px2vw-xl(30px);
      color: var(--base-white);

      @include lg {
        margin-bottom: px2vw-lg(30px);
      }

      @include md {
        margin-bottom: px2vw-md(30px);
      }

      @include sm {
        margin-bottom: px2vw-sm(30px);
      }
    }

    &-list {
      margin-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(60px);
      }

      @include sm {
        margin-bottom: px2vw-sm(60px);
      }
    }

    &-item {
      padding: px2vw-xl(20px) px2vw-xl(10px);
      border-bottom: 1px solid var(--base-white);

      @include lg {
        padding: px2vw-lg(22px) px2vw-lg(10px);
      }

      @include md {
        padding: px2vw-md(22px) px2vw-md(10px);
      }

      @include sm {
        padding: px2vw-sm(22px) px2vw-sm(10px);
      }
    }

    &-item-place {
      font-family: "stc-forward-medium", sans-serif;

      @include md {
        font-size: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
      }
    }

    &-item-amount {
      margin-bottom: 0;
      color: var(--base-white);

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }

    &-amount-item {
      &.prize {
        margin-bottom: px2vw-xl(38px);

        @include lg {
          margin-bottom: px2vw-lg(38px);
        }

        @include md {
          margin-bottom: px2vw-md(55px);
        }

        @include sm {
          margin-bottom: px2vw-sm(55px);
        }
      }
    }

    &-amount-title {
      font-family: "stc-forward-medium", sans-serif;

      @include md {
        font-size: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
      }
    }

    &-amount-value {
      color: var(--base-white);

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }

    &-total {
      margin-top: px2vw-xl(40px);
      border-radius: px2vw-xl(10px);
      width: 100%;
      padding: px2vw-xl(32px) px2vw-xl(28px);
      background-color: #4F0E8C;
      color: var(--base-white);

      @include lg {
        margin-top: px2vw-lg(40px);
        border-radius: px2vw-lg(10px);
        padding: px2vw-lg(32px) px2vw-lg(28px);
      }

      @include md {
        margin-top: px2vw-md(60px);
        border-radius: px2vw-md(10px);
        padding: px2vw-md(32px);
      }

      @include sm {
        margin-top: px2vw-sm(60px);
        border-radius: px2vw-sm(10px);
        padding: px2vw-sm(40px) px2vw-sm(32px);
      }
    }

    &-total-title {
      @include md {
        font-size: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
      }
    }

    &-total-value {
      font-size: px2vw-xl(20px);
      line-height: 1.2;
      color: var(--base-white);

      @include lg {
        font-size: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }
  }
}
