@import "shared";

:host {
  display: block;
}

.GameStatistic {
  // border-top: px2vw-xl(1px) solid var(--white-smoke);
  border-bottom: px2vw-xl(1px) solid var(--white-smoke);

  @include lg {
    border-top-width: px2vw-lg(1px);
    border-bottom-width: px2vw-lg(1px);
  }

  @include md {
    border-top-width: px2vw-md(1px);
    border-bottom-width: px2vw-md(1px);
  }

  @include sm {
    border-top-width: px2vw-sm(1px);
    border-bottom-width: px2vw-sm(1px);
  }

  &-preview {
    @extend %u-dfCenter;
    padding: px2vw-xl(24px) 0;
    width: 100%;

    @include lg {
      padding: px2vw-lg(24px) 0;
    }

    @include md {
      padding: px2vw-md(24px) 0;
    }

    @include sm {
      padding: px2vw-sm(24px) 0;
    }

    &:hover {
      .about {
        opacity: 0.8;
      }
    }
  }

  &-preview-image-block {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(24px);
    padding: px2vw-xl(5px) px2vw-xl(7px);
    height: px2vw-xl(72px);
    width: px2vw-xl(72px);

    @include lg {
      margin-right: px2vw-lg(24px);
      padding: px2vw-lg(5px) px2vw-lg(7px);
      height: px2vw-lg(72px);
      width: px2vw-lg(72px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      padding: px2vw-md(5px) px2vw-md(7px);
      height: px2vw-md(72px);
      width: px2vw-md(72px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      padding: px2vw-sm(5px) px2vw-sm(7px);
      height: px2vw-sm(72px);
      width: px2vw-sm(72px);
    }
  }

  &-preview-image {
    ::ng-deep svg {
      width: 100%;

      path {
        fill: var(--white-medium);
        transition: $global-transition2;
      }
    }

    &.active ::ng-deep svg path {
      fill: var(--color-secondary);
    }
  }

  &-preview-about {
    transition: $global-transition2;
  }

  &-preview-name {
    @extend %global-H6;
    margin-bottom: px2vw-xl(8px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-preview-statistic {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-content {
    padding-top: px2vw-xl(32px);

    @include lg {
      padding-top: px2vw-lg(32px);
    }

    @include md {
      padding-top: px2vw-md(32px);
    }

    @include sm {
      padding-top: px2vw-sm(32px);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 222px);
    grid-template-rows: repeat(3, 84px);
    grid-column-gap: 85px;
    grid-row-gap: 30.5px;
    margin-bottom: 78px;

    @include lg {
      grid-template-columns: repeat(3, px2vw-lg(320px));
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
      margin-bottom: px2vw-lg(56px);
    }

    @include md {
      grid-template-columns: repeat(3, px2vw-md(320px));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
      margin-bottom: px2vw-md(56px);
    }

    @include sm {
      grid-template-columns: repeat(3, 108px);
      grid-template-rows: auto;
      grid-column-gap: 0;
      grid-row-gap: 12px;
      margin-bottom: px2vw-sm(56px);
    }
  }

  &-card {
    // border: px2vw-xl(1px) solid var(--white-light);
    // border-radius: px2vw-xl(4px);
    // background: var(--gradient-bg);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
    }

    &.number-of-losses .icon {
      color: var(--color-sunset-orange);
    }
  }

  &-card-header {

    @include lg {
    }

    @include md {
    }

    @include sm {
    }
  }

  &-card-header-icon {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(28px);
    width: px2vw-xl(28px);
    font-size: px2vw-xl(24px);
    color: var(--color-primary);
    display: none;

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(28px);
      width: px2vw-lg(28px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(28px);
      width: px2vw-md(28px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(28px);
      width: px2vw-sm(28px);
      font-size: px2vw-sm(24px);
    }
  }

  &-card-header-image {
    &.swords {
      height: px2vw-xl(20px);
      width: px2vw-xl(21px);

      @include lg {
        height: px2vw-lg(20px);
        width: px2vw-lg(21px);
      }

      @include md {
        height: px2vw-md(20px);
        width: px2vw-md(21px);
      }

      @include sm {
        height: px2vw-sm(20px);
        width: px2vw-sm(21px);
      }
    }

    &.acid {
      height: px2vw-xl(24px);
      width: px2vw-xl(21px);

      @include lg {
        height: px2vw-lg(24px);
        width: px2vw-lg(21px);
      }

      @include md {
        height: px2vw-md(24px);
        width: px2vw-md(21px);
      }

      @include sm {
        height: px2vw-sm(24px);
        width: px2vw-sm(21px);
      }
    }

    &.gold-star {
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);

      @include lg {
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }

      @include md {
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }

      @include sm {
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }
    }
  }

  &-card-header-title {
    margin-bottom: 6px;
    color: var(--white-medium);
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--tertiary-color);

    @include sm {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &-card-info {
    // padding: px2vw-xl(23px);

    @include lg {
      // padding: px2vw-lg(23px);
    }

    @include md {
      // padding: px2vw-md(23px);
    }

    @include sm {
      // padding: px2vw-sm(23px);
    }
  }

  &-card-value {
    margin-bottom: 0;
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--white);

    @include sm {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &-chart {
    margin-bottom: 30px;

    @include lg {
      margin-bottom: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(56px);
    }
  }

  &-chart-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 72px;

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-chart-nameGame {
    margin-top: 50px;
    margin-bottom: 24px;
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    text-transform: capitalize;
  }

  &-chart-canvas {
    max-height: 257px!important;
    width: 100%!important;
    color: var(--tolopea-color);
    font-weight: 500;
    font-family: "Paralucent-Light",  san-serif;
  }

  &-chart-block {
    position: relative;
    margin-bottom: px2vw-xl(16px);
    padding-left: px2vw-xl(35px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      padding-left: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      padding-left: px2vw-md(35px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      padding-left: px2vw-sm(35px);
    }
  }

  &-chart-canvas {
  }

  &-chart-heading {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--tolopea-color);
    text-transform: none;

    &.matches {
      position: absolute;
      left: -17px;
      top: 51%;
      transform: rotate(270deg) translateX(50%);

      @include lg {
        left: px2vw-lg(-32px);
      }

      @include md {
        left: px2vw-md(-32px);
      }

      @include sm {
        left: px2vw-sm(-32px);
      }
    }

    &.kills {
      text-align: center;
      margin-top: 34px;
      margin-left: 72px;
    }
  }

  &-matches {
  }

  &-matches-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    text-transform: none;
    margin-bottom: 21px;

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-match {
    @extend %u-dfCenter;
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    padding: 16px 0;

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(24px) 0;
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(24px) 0;
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(24px) 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &-match-image {
    flex-shrink: 0;
    margin-right: 20px;
    height: 88px;
    width: 167px;
    background-size: cover;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(72px);
      width: px2vw-lg(143px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(72px);
      width: px2vw-md(143px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(72px);
      width: px2vw-sm(143px);
      align-self: baseline;
      margin-top: 8px;
    }
  }

  &-match-about {
    margin-right: px2vw-xl(18px);
    max-width: px2vw-xl(320px);
    width: 100%;

    @include lg {
      margin-right: px2vw-lg(18px);
      max-width: px2vw-lg(320px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      max-width: px2vw-md(320px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      max-width: px2vw-sm(320px);
    }
  }

  &-match-head {
    @extend %u-dfCenter;
    margin-bottom: 0;

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-match-level {
    @extend %subtitle-1;
    margin-right: px2vw-xl(12px);
    margin-bottom: 0;
    background-color: var(--color-secondary);
    padding: px2vw-xl(4px);
    line-height: 1;
    color: var(--black);

    @include lg {
      margin-right: px2vw-lg(12px);
      padding: px2vw-lg(4px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      padding: px2vw-md(4px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      padding: px2vw-sm(4px);
    }
  }

  &-match-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(20px);
    line-height: 28px;
    color: var(--white);
    margin-bottom: 0;
    text-transform: capitalize;

    @include sm {
      font-size: px2vw-sm(24.576px);
    }
  }

  &-match-subtitle {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--tolopea-color);
    margin-bottom: 0;
  }

  &-match-details {
    margin-right: px2vw-xl(18px);
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: 0;
    display: none;

    @include lg {
      margin-right: px2vw-lg(18px);
      grid-column-gap: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      grid-column-gap: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      grid-column-gap: px2vw-sm(32px);
    }
  }

  &-match-detail {
    text-align: center;
  }

  &-match-detail-title {
    @extend %subtitle-2;
    margin-bottom: px2vw-xl(12px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-match-detail-value {
    @extend %global-H6;
  }

  &-match-result {
    @extend %u-dfCenter;
    margin-left: auto;
    // align-self: flex-start;

    &-title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      background-color: transparent;

      &-text {
        @include sm {
          display: none;
        }
      }
      &-icon {
        display: none;
        @include sm {
          display: block;
          color: var(--main-color);
        }
      }
    }
  }

  &-match-result-icon {
    display: none;
    &.win {
      margin-right: px2vw-xl(12px);
      height: px2vw-xl(21px);
      width: px2vw-xl(16px);

      @include lg {
        margin-right: px2vw-lg(12px);
        height: px2vw-lg(21px);
        width: px2vw-lg(16px);
      }

      @include md {
        margin-right: px2vw-md(12px);
        height: px2vw-md(21px);
        width: px2vw-md(16px);
      }

      @include sm {
        margin-right: px2vw-sm(12px);
        height: px2vw-sm(21px);
        width: px2vw-sm(16px);
      }
    }

    &.lose {
      margin-right: px2vw-xl(10px);
      height: px2vw-xl(21px);
      width: px2vw-xl(20px);

      @include lg {
        margin-right: px2vw-lg(10px);
        height: px2vw-lg(21px);
        width: px2vw-lg(20px);
      }

      @include md {
        margin-right: px2vw-md(10px);
        height: px2vw-md(21px);
        width: px2vw-md(20px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
        height: px2vw-sm(21px);
        width: px2vw-sm(20px);
      }
    }
  }

  &-match-result-text {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--green);
    text-transform: capitalize;

    // &.win {
    //   color: var(--color-primary);
    // }

    // &.lose {
    //   color: var(--white-disabled);
    // }
  }

  ::ng-deep {
    .mat-accordion .mat-expansion-indicator::after {
      color: var(--white);
    }
  }
}
.accordionvv {
  &-item-header {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white-medium);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16.5px;
    position: static;
    left: 0px;
    top: 0px;

    @include sm {
      padding: 16px;
      margin-bottom: 15px !important;
    }

    &-info {
      display: flex;
      width: 80%;
      align-items: center;
  
      &-ava {
        width: 101px;
        height: 84px;
  
        & ::ng-deep svg {
          max-width: 101px;
          width: 100%;
          max-height: 84px;
          height: 100%;
        }
      }
    }
  }

  &-item-body {
    // margin-top: 22px;
    // margin-bottom: 22px;

    @include sm {
      margin-bottom: 0;
    }

    &-form {
      &-wrap {
        color: var(--black);
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-column-gap: 12px;
        grid-row-gap: 16px;
        justify-content: space-between;
        padding: 24px 0;

        @include lg {
          display: block;
        }

        @include md {
          display: block;
        }

        & ::ng-deep .mat-form-field-flex {
          border: 2px solid var(--tolopea-color);
          border-radius: 4px;
          width: 350px;
          height: 48px;
          padding: 0;

          @include lg {
            width: 100%;
          }
        }

        & ::ng-deep .mat-form-field-underline {
          display: none;
        }

        & ::ng-deep .mat-form-field-subscript-wrapper {
          display: none;
        }

        & ::ng-deep .mat-form-field-label {
          display: none;
        }

        & ::ng-deep .mat-form-field-label-wrapper {
          padding-top: 0;
        }

        & ::ng-deep .mat-form-field-infix {
          padding: 0;
          border-top: 0;
        }

        & ::ng-deep input.mat-input-element {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--white);
          padding: 12px 16px;
          width: calc(100% - 32px);

          &:-internal-autofill-selected {
            appearance: menulist-button;
            background-image: none !important;
            background-color: transparent !important;
            color: var(--white) !important;
            -webkit-text-fill-color: var(--white) !important;
          }
          &:-webkit-autofill {
            background-color: transparent !important;
            // box-shadow: 0 0 50px 50px var(--blackcurrant-color-medium) inset !important;
          }
        }

        & ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
      &-field {
        display: flex;
        flex-direction: column;

        @include lg {
          margin-bottom: 16px;
        }

        @include md {
          margin-bottom: 16px;
        }

        &:last-child {
          @include md {
            margin-bottom: 0;
          }
        }

        & mat-label {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: flex-end;
          color: var(--white);
          margin-bottom: 4px;
        }
      }
    }

    &-member {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 18px;
      border-bottom: 1px solid var(--midnight-express-color);
      padding-top: 14px;
      position: relative;
      padding-left: 13px;
      height: 112px;

      @include sm {
        padding-left: 0;
        height: 164px;
        margin-bottom: 0;
        padding-top: 18px;
      }

      &-ava {
        background-image: url(../../../../../assets/icons/ava-image.svg);
        width: 49px;
        height: 49px;
        border-radius: 999px;
        margin-right: 16px;
        margin-top: 2px;
        display: flex;
        align-self: center;
        background-size: cover;
      }

      &-score {
        display: flex;
        border: 2px solid var(--tertiary-color);
        box-sizing: border-box;
        border-radius: 4px;
        width: 200px;
        height: 48px;
        padding: 12px 13px;
        align-items: center;
        margin-top: 8px;

        @include sm {
          width: 100%;
        }

        &-wrap {
          @include sm {
            width: 100%;
          }
        }

        &-btnBlock {
          & button {
            color: var(--main-color);
            display: flex;
            padding: 1px 0px 4px 0px;
          }
        }

        &-title {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--color-white-medium);
          margin-bottom: 3px;
          margin-top: 3px;
        }
      }

      &-info {
        width: 53.5%;

        @include sm {
          width: 65%;
        }
      }

      &-name {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20.3px;
        line-height: 28px;
        color: var(--white);

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-id {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16.3px;
        line-height: 24px;
        color: var(--tolopea-color);

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-option {
        background-color: transparent;
        position: absolute;
        right: 29px;
        top: 28px;

        @include sm {
          border: 0;
          align-self: center;
          width: 40px;
          text-align: end;
          position: static;
        }
      }

      &-option ::ng-deep svg path {
        fill: var(--main-color) !important;
      }

      &-slug {
        width: 159px;
        height: 44px;
        border: 2px solid var(--tertiary-color);
        box-sizing: border-box;
        border-radius: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        padding: 10px 20px;
        justify-content: space-between;
        position: absolute;
        right: 88px;
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--tolopea-color);

        @include sm {
          display: none;
        }
      }

      &-caption {
        color: var(--green);

        &.caption-mobile {
          display: none;

          @include sm {
            display: block;
          }
        }
      }
      &-divider {
        &.divider-mobile {
          display: none;

          @include sm {
            display: block;
          }
        }
      }
    }
  }

  &-item-description {
    & button {
      background-color: transparent;
      border-radius: 90%;
      border: 2px solid var(--purple-light);
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include sm {
        width: 32px;
        height: 32px;
      }

      & ::ng-deep svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  
}

.accordiovv-item-header-info {
  
  display: flex;
  width: 80%;
  align-items: center;

  &-ava {
    margin-right: 16px;
    width: 101px;
    height: 84px;
    background-color: var(--home-backdrak);
    display: flex;
    align-items: center;
    justify-content: center;

    & ::ng-deep svg {
      max-width: 50px;
      width: 100%;
      max-height: 65px;
      height: 100%;
    }

    & ::ng-deep svg g{
      fill: var(--white);
    }
  }

  &-name {

    &-text {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--white);
      text-transform: capitalize;
      
      @include sm {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 0;
      }
    }

    &-statistic {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-color);
    }
  }
}