@import "shared";

:host {
  display: block;
}

.PrizesStatistic {
  @extend %u-dfCenterBtw;

  &-list {
    margin-bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include md {
      justify-content: flex-start;
    }

    @include sm {
      display: grid;
      grid-template-columns: repeat(3, 120px);
      grid-column-gap: 12px;
      grid-row-gap: 24px;
    }
  }
  &-item {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 41%;
    margin-bottom: 24px;
    @include md {
      margin-bottom: 0;
      max-width: 97px;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
    }
    @include sm {
      max-width: 135px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-box-icon {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background: var(--midnight-express-color);
    border-radius: 4px;
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  &-item-icon {
    min-width: 18.67px;
  }
  &-item-heading {
    width: 100%;
  }

  &-item-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--tertiary-color);
    margin-bottom: 8px;
  }

  &-item-content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }

  &-item-value {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--white);
    @include md {
      font-size: 20px;
      line-height: 28px;
    }
    @include sm  {
      font-size: 22px;
      line-height: 30px;
    }
  }

  &-rank {
    @extend %u-dfCenter;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-rank-title {
    @extend %body-1;
    margin-right: px2vw-xl(16px);
    margin-bottom: 0;
    color: var(--white-medium);

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-rank-value {
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(48px);
    line-height: 1;
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(48px);
    }

    @include md {
      font-size: px2vw-md(48px);
    }

    @include sm {
      font-size: px2vw-sm(48px);
    }
  }
}
