<div class="UploadImage" [formGroup]="customFormGroup">
  <h2 class="UploadImage-title">
    {{ title }}
  </h2>

  <h3 class="UploadImage-subtitle">
    {{ subtitle }}
  </h3>

  <label class="UploadImage-label" [for]="id">
    <img class="UploadImage-label-preview" *ngIf="(customFormGroup?.controls)[customFormControlName]?.value"
      [src]="(customFormGroup?.controls)[customFormControlName]?.value" formationLazyImage />

    <ng-container *ngIf="
        !isProcessing &&
        !(customFormGroup?.controls)[customFormControlName]?.value
      ">
      <div class="UploadImage-info">
        <img class="UploadImage-info-image" src="assets/icons/upload-image.svg" alt="upload icon" />
        <h3 class="UploadImage-info-title">
          {{ "UPLOAD_IMAGE.TITLE" | translate }}
        </h3>
        <p class="UploadImage-info-text">
          {{ "UPLOAD_IMAGE.SUBTITLE" | translate }}
        </p>
      </div>
    </ng-container>
  </label>

  <input (change)="eventChange($event)" style="display: none" [id]="id" #banner type="file"
    accept="image/jpeg, image/jpg, image/png" aria-describedby="inputGroupFileAddon01" />
</div>

<div *ngIf="
    (customFormGroup?.controls)[customFormControlName]?.touched &&
    (customFormGroup?.controls)[customFormControlName].errors
  ">
  {{
  (customFormGroup?.controls)[customFormControlName].errors
  | errorPipe
  | translate
  }}
</div>
