@import "shared";

:host {
  display: block;
}

// .PageSwitcher {
//   display: flex;

//   &-button {
//     background-color:rgba(255, 255, 255, 0.1);
//     transition: 100ms linear;
//     padding: px2vw-xl(20px);

//     @include lg {
//       padding: px2vw-lg(20px);
//     }

//     @include md {
//       padding: px2vw-md(20px);
//     }

//     @include sm {
//       padding: px2vw-sm(20px);
//     }

//     &:hover {
//       opacity: 0.8;
//     }

//     &:disabled {
//       .icon {
//         opacity: 0.3;
//       }

//       &:hover {
//         opacity: 1;
//       }
//     }

//     &.first {
//       margin-right: 2px;
//       min-width: px2vw-xl(310px);
//       border-top-left-radius: px2vw-xl(10px);
//       border-bottom-left-radius: px2vw-xl(10px);
//       text-align: left;
//       padding-left: px2vw-xl(24px);

//       @include lg {
//         min-width: px2vw-lg(310px);
//         border-top-left-radius: px2vw-lg(10px);
//         border-bottom-left-radius: px2vw-lg(10px);
//         padding-left: px2vw-lg(24px);
//       }

//       @include md {
//         min-width: px2vw-md(310px);
//         border-top-left-radius: px2vw-md(10px);
//         border-bottom-left-radius: px2vw-md(10px);
//         padding-left: px2vw-md(24px);
//       }

//       @include sm {
//         min-width: px2vw-sm(310px);
//         border-top-left-radius: px2vw-sm(10px);
//         border-bottom-left-radius: px2vw-sm(10px);
//         padding-left: px2vw-sm(24px);
//       }
//     }

//     &.second {
//       padding-right: px2vw-xl(24px);
//       border-top-right-radius: px2vw-xl(10px);
//       border-bottom-right-radius: px2vw-xl(10px);

//       @include lg {
//         padding-right: px2vw-lg(24px);
//         border-top-right-radius: px2vw-lg(10px);
//         border-bottom-right-radius: px2vw-lg(10px);
//       }

//       @include md {
//         padding-right: px2vw-md(24px);
//         border-top-right-radius: px2vw-md(10px);
//         border-bottom-right-radius: px2vw-md(10px);
//       }

//       @include sm {
//         padding-right: px2vw-sm(24px);
//         border-top-right-radius: px2vw-sm(10px);
//         border-bottom-right-radius: px2vw-sm(10px);
//       }
//     }
//   }

//   &-button-text {
//     font-size: px2vw-xl(20px);
//     line-height: 1.6;
//     color: var(--base-white);

//     @include lg {
//       font-size: px2vw-lg(20px);
//     }

//     @include md {
//       font-size: px2vw-md(20px);
//     }

//     @include sm {
//       font-size: px2vw-sm(20px);
//     }
//   }

//   &-button-icon {
//     width: px2vw-xl(23px);

//     @include lg {
//       width: px2vw-lg(23px);
//     }

//     @include md {
//       width: px2vw-md(23px);
//     }

//     @include sm {
//       width: px2vw-sm(23px);
//     }

//     &.first {
//       margin-left: px2vw-xl(15px);
//       transform: rotate(180deg);

//       @include lg {
//         margin-left: px2vw-lg(15px);
//       }

//       @include md {
//         margin-left: px2vw-md(15px);
//       }

//       @include sm {
//         margin-left: px2vw-sm(15px);
//       }
//     }
//   }
// }
.ss-footer-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--blackcurrant-color-medium);
  z-index: 9;
  .inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 12px 24px;

    .box-item {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      max-width: 50%;
      &-left {
        justify-content: flex-start;
        @include md {
          margin-bottom: 16px;
        }
      }
      &-right {
        justify-content: flex-end;
        span {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-align: right;
          color: var(--tolopea-color);
          display: inline-block;
          margin-right: 16px;
        }
      }
      .wap-step {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
        margin-right: 16px;
        @include md {
          margin-right: 0;
          font-weight: 500;
          color: var(--tolopea-color);
        }
      }
      .progressBarContainer {
        width: 100%;
        max-width: 207px;
        ul.lists {
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          width: 100%;
          margin: 0;
          padding: 0;
          li.item {
            width: 100%;
            max-width: calc(100% / 6 - 3px);
            height: 12px;
            background: var(--tertiary-color);
            &.active {
              background: var(--ui-win);
            }
            &:first-child {
              border-radius: 6px 0px 0px 6px;
            }
            &:last-child {
              border-radius: 0px 6px 6px 0px;
            }
          }
        }
      }

      @include md {
        max-width: 100%;
        justify-content: center;
      }

      @include sm {
        max-width: 100%;
      }
      .PageSwitcher-button {
        margin-right: 0;
        background: var(--secondary-color);
        border-radius: 6px;
        box-shadow: none;
        text-transform: none;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--color-white-medium);
        padding: 0 32px;
        height: 48px;
        &:disabled{
          background-color: var(--tertiary-color);
        }
        @include md {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
