<div class="Tournaments-card">
  <div class="Tournaments-card-preview">
    <a [routerLink]="[AppHtmlRoutes.tournamentView, params?.slug]">

      <p class="Tournaments-card-preview-wager" *ngIf="params?.isWager">
        {{ "ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.WAGER" | translate }}
      </p>

      <img
        class="Tournaments-card-image"
        [src]="params?.banner || params?.gameDetail?.image"
        [alt]="params?.name"
    /></a>
    <div class="Tournaments-card-desc">
      <div class="Tournaments-card-prize" *ngIf="params?.totalPrice">
        <img
          class="Tournaments-card-prize-icon"
          src="assets/images/Tournament/trophy.svg"
          alt="icon"
        />
        <span class="Tournaments-card-prize-text global-Text">
          {{ params?.prizeCurrency }} {{ params?.totalPrice }}
        </span>
      </div>
      <div class="Tournaments-card-info global-Text">
        <span class="Tournaments-card-info-date">{{
          params?.startDate | date: "MMMM d, y"
        }}</span>
        |
        <span
          class="Tournaments-card-info-team"
          *ngIf="params?.isParticipantsLimit"
        >
          {{ params?.participantJoined }}

          {{
            params?.participantType === "individual"
              ? ("HOME.SECTIONB.PLAYERS" | translate)
              : ("HOME.SECTIONB.TEAMS" | translate)
          }}
        </span>
        <span
          class="Tournaments-card-info-team"
          *ngIf="!params?.isParticipantsLimit"
        >
          {{ params?.participantJoined }}
          {{
            params?.participantType
              | pType: params?.participantJoined
              | translate
          }}
        </span>
      </div>
      <a
        class="Tournaments-card-button global-EditBtn is-small"
        [routerLink]="[AppHtmlRoutes.tournamentView, params?.slug]"
      >
        {{ "HOME.SECTIONB.BTN3" | translate }}
      </a>
    </div>
  </div>
  <div class="Tournaments-card-about">
    <h2 class="Tournaments-card-title global-Elipses">
      {{ params?.name | capitalizeFirst }}
    </h2>
    <p class="Tournaments-card-subtitle global-Text">
      {{ params?.bracketType | bracket | translate }}
    </p>
  </div>
</div>
