@import "shared";

:host {
  display: block;
}

.SearchShop {
  &-title {
    position: relative;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-seemore {
    position: absolute;
    right: 0px;
    margin-bottom: px2vw-xl(24px);
    color: var(--main-color);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: px2vw-xl(300px) px2vw-xl(300px) px2vw-xl(300px) px2vw-xl(300px);
    grid-gap: px2vw-xl(16px);
    place-content: center;

    @include lg{
      grid-template-columns: px2vw-lg(300px) px2vw-lg(300px) px2vw-lg(300px) px2vw-lg(300px);
      grid-gap: px2vw-lg(16px);
    }
    @include md{
      grid-template-columns: px2vw-md(300px) px2vw-md(300px) px2vw-md(300px) px2vw-md(300px);
      grid-gap: px2vw-md(16px);
    }
    @include sm {
      grid-template-columns: 42.205342vw 42.041736vw;
      grid-gap: px2vw-sm(16px);
    }
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--color-primary);
  }
}

.cards {
  width: 100%;
  padding: 0;
  border-radius: px2vw-xl(6px);
  background-color: var(--color-background);
  border:1px solid var(--midnight-express-color);
  
  @include sm{
    border-radius: px2vw-xl(32px);
    margin-bottom: px2vw-xl(72px);
  }

  &-image {
    background-image: url('/assets/images/Tournament/Rectangle 140515.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: px2vw-xl(10px);
    height: px2vw-xl(160px);
    width: 100%;
    border-top-right-radius: px2vw-xl(6px);
    border-top-left-radius: px2vw-xl(6px);
    
    @include lg {
      margin-bottom: px2vw-lg(10px);
      height: px2vw-lg(160px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      height: px2vw-md(160px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      height: px2vw-sm(160px);
      border-top-right-radius: px2vw-xl(24px);
      border-top-left-radius: px2vw-xl(24px);
    }
  }

  &-info {
    text-align: center;

    @include sm {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-left {
      @include sm {
        -webkit-align-items: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: px2vw-sm(16px);
      }

      .avatar {
        width: px2vw-xl(32px);
        height: px2vw-xl(32px);
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-top: px2vw-xl(6px);
        margin-right: px2vw-xl(8px);

        @include lg{
          width: px2vw-lg(32px);
          height: px2vw-lg(32px);
          margin-top: px2vw-lg(6px);
          margin-right: px2vw-lg(8px);
        }
        @include md{
          width: px2vw-md(32px);
          height: px2vw-md(32px);
          margin-top: px2vw-md(6px);
          margin-right: px2vw-md(8px);
        }
        @include sm{
          width: px2vw-sm(32px);
          height: px2vw-sm(32px);
          margin-top: px2vw-sm(6px);
          margin-right: px2vw-sm(8px);
        }

        img {
          position: absolute;
          width: 100%;

          top: 0;
          left: 0;
          object-fit: cover;
        }
      }

      .info {
        .name {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          margin-bottom: px2vw-xl(8px);
          color: var(--white);

          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
            margin-bottom: px2vw-lg(8px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
            margin-bottom: px2vw-md(8px);
          }
          @include sm{
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
            margin-bottom: px2vw-sm(8px);
          }
        }

        .id-infomore {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(14px);
          line-height: px2vw-xl(20px);
          color: var(--tolopea-color);
          margin-bottom: 0;

          @include lg{
            font-size: px2vw-lg(14px);
            line-height: px2vw-lg(20px);
            
          }
          @include md{
            font-size: px2vw-md(14px);
            line-height: px2vw-md(20px);
            
          }
          @include sm{
            font-size: px2vw-sm(14px);
            line-height: px2vw-sm(20px);
           
          }

          span{
            font-weight:600;
            color: var(--home-text-link);
          }
        }
      }
    }

    &-right {
      @include sm {
        width: 100%;
      }

      .Position {
        width: px2vw-xl(107px);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;

        @include lg{
          width: px2vw-lg(107px);
        }
        @include md{
          width: px2vw-md(107px);
        }

        @include sm {
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          width: 100%;
        }

        .label {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--tolopea-color);
          display: inline-block;
          margin-right: px2vw-xl(24px);

          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
            margin-right: px2vw-lg(24px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
            margin-right: px2vw-md(24px);
          }
          @include sm{
            font-size: px2vw-sm(14px);
            line-height: px2vw-sm(20px);
            margin-right: px2vw-sm(16px);
          }

          
        }

        .score {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          color: var(--white);

          @include lg{
            font-size: px2vw-lg(20px);
            line-height: px2vw-lg(28px);
          }
          @include md{
            font-size: px2vw-md(20px);
            line-height: px2vw-md(28px);
          }

          @include sm {
            font-size: px2vw-sm(20px);
            line-height: px2vw-sm(28px);
          }
        }
      }
    }
  }
}

.button {
  padding: px2vw-xl(12px) px2vw-xl(32px);
  background: var(--secondary-color);
  border: px2vw-xl(1px) solid var(--midnight-express-color);
  box-sizing: border-box;
  border-radius: px2vw-xl(6px);
  font-family: "Paralucent-Light",  san-serif;
  font-style: normal;
  font-weight: 600;
  font-size: px2vw-xl(18px);
  line-height: px2vw-xl(24px);
  color: var(--white);
  @include lg {
    font-size: px2vw-lg(18px);
    line-height: px2vw-lg(24px);
    padding: px2vw-lg(12px) px2vw-lg(32px);
  }

  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(20px);
    padding: px2vw-md(12px) px2vw-md(32px);
  }

  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(20px);
    padding: px2vw-sm(12px) px2vw-sm(32px);
  }
}

