<div class="popup_heading_mob">
  <div class="header">
    <img src="assets/images/GGicon-green.png" class="img-fluid" />
    <div class="line"></div>
    <h5>{{ "USER.PROFILE_SETUP" | translate }}</h5>
  </div>
</div>
<div class="PopupCreated popup">
  <div class="geng_logo">
    <img src="assets/images/Home/popup_GengGamer_logo.svg" class="img-fluid" />
    <img src="assets/images/Home/Popup_GENGGAMER_txt.svg" class="img-fluid" />
  </div>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)">
    <div class="PopupCreated-info">
      <h5 class="PopupCreated-info-title">
        {{ "USER.WELCOME" | translate }}
      </h5>
      <p class="PopupCreated-info-text">
        {{ "USER.INFO_TEXT" | translate }}
      </p>
      <div class="txt_textfield">
        <img src="assets/icons/profile.svg" class="image img-fluid" />
        <div class="mat_form">
          <mat-form-field class="global-MatField " appearance="outline">
            <mat-label>
              {{ "USER.USER_NAME" | translate }}
            </mat-label>
            <input matInput [formControl]="addForm.controls['username']"
              (keyup)="isUniqueName($event?.target?.value)" />

          </mat-form-field>
          <mat-error *ngIf="isExist">{{ "LOG_REG.LOGIN.ERROR9" | translate }}
          </mat-error>

          <mat-error *ngIf="addForm.get('username').hasError('required')">{{ "LOG_REG.LOGIN.MANDATORY" | translate }}
          </mat-error>
          <mat-error *ngIf="addForm.get('username').hasError('minlength')">{{ "LOG_REG.LOGIN.VALIDATION3" | translate }}
          </mat-error>
          <mat-error *ngIf="addForm.get('username').hasError('pattern')">{{ "LOG_REG.LOGIN.VALIDATION5" | translate }}
          </mat-error>
          <mat-error *ngIf="addForm.get('username').hasError('maxlength')">{{ "LOG_REG.LOGIN.LIMITATION" | translate }}
          </mat-error>
        </div>
      </div>
      <div class="SubmitForm-checkbox">
        <mat-checkbox color="primary" [formControl]="addForm.controls['privacyPolicy']"
          class="global-MatCheckBox pry checkbox">
          <span class="a">
            {{ "USER.AGREE" | translate }}
            <a class="txt_termscondition" (click)="termsofservice()" data-toggle="modal" data-target="#exampleModal">
              <strong class="terms"> {{ "USER.TERMS" | translate }}</strong>
            </a>
          </span>
        </mat-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn_bottom">
          <button type="submit" class="TermsOfOus-button button-primary" [disabled]="addForm.invalid"
          [class.is-edit]="addForm.invalid">{{ "USER.BUTTON" | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</div>
