html[dir="rtl"] {
  .GameConfigurations {
    &-main {
      .form-check-label {
        margin-right: 0 !important;
        margin-left: 16px;
      }
    }

    &-footer-btns {
      button {
        margin-left: 0 !important;
        margin-right: px2vw-xl(30px);

        @include lg {
          margin-right: px2vw-lg(30px);
        }

        @include md {
          margin-right: px2vw-md(30px);
        }

        @include sm {
          margin-right: px2vw-sm(30px);
        }
      }
    }
  }
}
