html[dir="rtl"] {
  .ShopConfigurations {
    &-footer-btns {
      button {
        margin-right: px2vw-xl(30px);
        margin-left: 0 !important;

        @include lg {
          margin-right: px2vw-lg(30px);
        }

        @include md {
          margin-right: px2vw-md(30px);
        }

        @include sm {
          margin-right: px2vw-sm(30px);
        }
      }
    }
  }
}
