html[dir="rtl"] {
  .TeamManagementEdit {
    &-details-title {
      margin-right: 0;
      margin-left: px2vw-xl(20px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
      }

      @include sm {
        margin-left: 0;
      }
    }

    &-details-button {
      margin-right: auto;
      margin-left: 0;

      @include sm {
        margin-right: 0;
      }

      .icon {
        margin-right: 0 !important;
        margin-left: px2vw-xl(15px);

        @include lg {
          margin-left: px2vw-lg(20px);
        }

        @include md {
          margin-left: px2vw-md(20px);
        }

        @include sm {
          margin-left: px2vw-sm(20px);
        }
      }
    }

    &-option-image-block {
      margin-right: 0;
      margin-left: px2vw-xl(20px);

      @include lg {
        margin-left: px2vw-lg(14px);
      }

      @include md {
        margin-left: px2vw-md(14px);
      }

      @include sm {
        margin-left: px2vw-sm(18px);
      }
    }
  }
}
