html[dir="rtl"] {
  .ChallengesCard {
    &-image-block {
      margin-right: 0;
      margin-left: px2vw-xl(25px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
      }

      @include sm {
        margin-left: 0;
      }
    }

    &-header-button-option {
      .image-block {
        margin-right: 0 !important;
        margin-left: px2vw-xl(10px);

        @include lg {
          margin-left: px2vw-lg(10px);
        }

        @include md {
          margin-left: px2vw-md(10px);
        }

        @include sm {
          margin-left: px2vw-sm(10px);
        }
      }
    }

    &-detail-text {
      margin-right: 0;
      margin-left: px2vw-xl(16px);

      @include lg {
        margin-left: px2vw-lg(16px);
      }

      @include md {
        margin-left: px2vw-md(16px);
      }

      @include sm {
        margin-left: px2vw-sm(16px);
      }
    }
      &-button {

    &-link {
    margin-right: px2vw-xl(15px);
  
    @include lg {
      margin-right: px2vw-lg(15px);
     
    }
    @include md {
      margin-right: px2vw-md(15px);
      
    }
    @include sm {
      margin-right: px2vw-sm(15px);
      
    }
  }
  }
  }
}
