<section
  class="LeaderBoardPlayer-sectionA"
  [style.background-image]="
    'url(assets/images/Leaderboard/leader-board-player-bg.png)'
  "
>
  <div class="LeaderBoardPlayer-sectionA-container u-wp">
    <div class="LeaderBoardPlayer-sectionA-player-info">
      <div class="LeaderBoardPlayer-sectionA-player-avatar-block">
        <img
          class="LeaderBoardPlayer-sectionA-player-avatar"
          [src]="
            leaderboardData.img
              ? leaderboardData.img
              : 'assets/images/Leaderboard/leader-board-card-image.png'
          "
          alt="player avatar"
        />
      </div>

      <div class="LeaderBoardPlayer-sectionA-player-about">
        <h3 class="LeaderBoardPlayer-sectionA-player-place">
          {{ leaderboardData.ordinalRank }}
        </h3>
        <p class="LeaderBoardPlayer-sectionA-player-name">
          {{ leaderboardData.name }}
          <button
            (click)="followUser()"
            class="btn btn-outline-light ml-3"
            *ngIf="followStatus == 'follow'"
          >
            {{ "LEADERBOARD.PLAYER_DETAILS.FOLLOW" | translate }}
          </button>
          <button
            (click)="followUser()"
            class="btn btn-outline-light ml-3"
            *ngIf="followStatus == 'unfollow'"
          >
            {{ "LEADERBOARD.PLAYER_DETAILS.UNFOLLOW" | translate }}
          </button>
        </p>
      </div>

      <div class="LeaderBoardPlayer-sectionA-player-details">
        <!-- <div class="LeaderBoardPlayer-sectionA-player-details-block">
          <button
            (click)="followUser()"
            class="mesf-EditBtn"
            *ngIf="followStatus == 'follow'"
          >
            {{ "LEADERBOARD.PLAYER_DETAILS.FOLLOW" | translate }}
          </button>
          <button
            (click)="followUser()"
            class="mesf-EditBtn"
            *ngIf="followStatus == 'unfollow'"
          >
            {{ "LEADERBOARD.PLAYER_DETAILS.UNFOLLOW" | translate }}
          </button>
        </div> -->
        <div class="LeaderBoardPlayer-sectionA-player-details-block">
          <h3 class="LeaderBoardPlayer-sectionA-player-details-title">
            {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONA.RANKING" | translate }}
          </h3>
          <p class="LeaderBoardPlayer-sectionA-player-details-subtitle">
            {{ leaderboardData.rank }}
          </p>
        </div>
        <div class="LeaderBoardPlayer-sectionA-player-details-block">
          <h3 class="LeaderBoardPlayer-sectionA-player-details-title">
            {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONA.REGION" | translate }}
          </h3>
          <p class="LeaderBoardPlayer-sectionA-player-details-subtitle">
            {{ leaderboardData.region }}
          </p>
        </div>
        <!-- <div class="LeaderBoardPlayer-sectionA-player-details-block">
          <h3 class="LeaderBoardPlayer-sectionA-player-details-title">Game</h3>
          <p class="LeaderBoardPlayer-sectionA-player-details-subtitle"></p>
        </div> -->
      </div>

      <div class="LeaderBoardPlayer-sectionA-player-prizes">
        <div class="LeaderBoardPlayer-sectionA-player-prize">
          <img
            class="LeaderBoardPlayer-sectionA-player-prize-icon"
            src="assets/icons/gold.svg"
            alt="gold prize"
          />
          <span class="LeaderBoardPlayer-sectionA-player-prize-count">
            {{ leaderboardData.firstPosition }}
          </span>
        </div>
        <div class="LeaderBoardPlayer-sectionA-player-prize">
          <img
            class="LeaderBoardPlayer-sectionA-player-prize-icon"
            src="assets/icons/silver.svg"
            alt="silver prize"
          />
          <span class="LeaderBoardPlayer-sectionA-player-prize-count">
            {{ leaderboardData.secondPosition }}
          </span>
        </div>
        <div class="LeaderBoardPlayer-sectionA-player-prize">
          <img
            class="LeaderBoardPlayer-sectionA-player-prize-icon"
            src="assets/icons/bronze.svg"
            alt="bronze prize"
          />
          <span class="LeaderBoardPlayer-sectionA-player-prize-count">
            {{ leaderboardData.thirdPosition }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="LeaderBoardPlayer-sectionB u-wp">
  <header class="LeaderBoardPlayer-sectionB-header">
    <p class="LeaderBoardPlayer-sectionB-header-date">
      {{ this.leaderboardData.selectedMonth | translate }}
      {{ this.leaderboardData.selectedYear }}
    </p>
    <div class="LeaderBoardPlayer-sectionB-header-statistics">
      <h3 class="LeaderBoardPlayer-sectionB-header-title">
        {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONB.MONTH_STATS" | translate }}
      </h3>
      <button
        class="LeaderBoardPlayer-sectionB-header-button"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        {{ this.leaderboardData.selectedMonth | translate }}
        {{ this.leaderboardData.selectedYear }}
      </button>
      <mat-menu #menu="matMenu" class="LeaderBoardPlayer-sectionB-header-menu">
        <button
          *ngFor="let monthData of this.leaderboardData.previousData"
          class="LeaderBoardPlayer-sectionB-header-menu-item"
          mat-menu-item
          (click)="filterByUser(monthData.month, monthData.year)"
        >
          {{ monthData.textMonth | translate }}
          {{ monthData.textYear }}
        </button>
      </mat-menu>
    </div>
  </header>
  <div class="LeaderBoardPlayer-sectionB-content">
    <div class="LeaderBoardPlayer-sectionB-content-card first">
      <h4 class="LeaderBoardPlayer-sectionB-content-card-title">
        {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONB.WIN_RATE" | translate }}
      </h4>
      <p class="LeaderBoardPlayer-sectionB-content-card-value">
        {{ this.leaderboardData.winPercent }}%
      </p>
    </div>
    <div class="LeaderBoardPlayer-sectionB-content-card second">
      <h4 class="LeaderBoardPlayer-sectionB-content-card-title">
        {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONB.STREAK" | translate }}
      </h4>
      <p class="LeaderBoardPlayer-sectionB-content-card-value">
        {{ this.leaderboardData.streak }}
        {{ "ESPORTS.SECTIONBV2.GAMES" | translate }}
      </p>
    </div>
    <div class="LeaderBoardPlayer-sectionB-content-card third">
      <h4 class="LeaderBoardPlayer-sectionB-content-card-title">
        {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONB.TOTAL_GAMES" | translate }}
      </h4>
      <p class="LeaderBoardPlayer-sectionB-content-card-value">
        {{ this.leaderboardData.totalGameCount }}
      </p>
    </div>
    <div class="LeaderBoardPlayer-sectionB-content-card fourth">
      <h4 class="LeaderBoardPlayer-sectionB-content-card-title">
        {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONB.WINS" | translate }}
      </h4>
      <p class="LeaderBoardPlayer-sectionB-content-card-value">
        {{ this.leaderboardData.winCount }}
      </p>
    </div>
    <div class="LeaderBoardPlayer-sectionB-content-card fifth">
      <h4 class="LeaderBoardPlayer-sectionB-content-card-title">
        {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONB.DRAWS" | translate }}
      </h4>
      <p class="LeaderBoardPlayer-sectionB-content-card-value">0</p>
    </div>
    <div class="LeaderBoardPlayer-sectionB-content-card sixth">
      <h4 class="LeaderBoardPlayer-sectionB-content-card-title">
        {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONB.LOST" | translate }}
      </h4>
      <p class="LeaderBoardPlayer-sectionB-content-card-value">
        {{ this.leaderboardData.lossCount }}
      </p>
    </div>
    <div class="LeaderBoardPlayer-sectionB-content-graphic">
      <h3 class="LeaderBoardPlayer-sectionB-content-graphic-title">
        {{ "LEADERBOARD.PLAYER_DETAILS.SECTIONB.YOUR_STREAK" | translate }}
        {{ this.leaderboardData.selectedMonth | translate }}
      </h3>
      <div class="LeaderBoardPlayer-sectionB-content-graphic-chart">
        <canvas
          #lineChart
          style="position: relative; height: 320px; width: 100%;"
        >
          {{ chart }}
        </canvas>
      </div>
    </div>
  </div>
</section>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
