@import "shared";

:host {
  display: block;
  // margin-top: -72px;

  @include md {
    margin-top: 0;
  }
}
.ss-banner {
  width: 100%;
  position: relative;
  padding-top: px2vw-xl(17px);
  height: px2vw-xl(452px);
  @include lg {
    height: px2vw-lg(452px);
    padding-top: px2vw-lg(17px);
  }
  @include md {
    height: px2vw-md(452px);
    padding-top: px2vw-md(17px);
  }
  @include sm {
    padding-top: px2vw-sm(16.32px);
    height: px2vw-sm(348.672px);
  }

  .container {
    padding: 0 px2vw-xl(24px);
    margin: 0;
    height: 100%;
    position: relative;
    z-index: 2;
    max-width: px2vw-xl(1308px);
    margin: 0 auto;
    @include lg{
      padding: 0 px2vw-lg(24px);
      max-width: px2vw-lg(1308px);
    }
    @include md{
      padding: 0 px2vw-md(24px);
      max-width: px2vw-md(1308px);
    }
    @include sm{
      padding: 0 px2vw-md(24px);
      max-width: 100%;
    }
  }
  .warpper {
    height: 100%;
  }
  .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }
  .heading {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: px2vw-xl(260px);
    @include lg {
      height: px2vw-lg(260px);
    }
    @include md {
      height: px2vw-md(260px);
    }
    @include sm {
      height: px2vw-sm(348.672px);
    }
    .container {
      width: 100%;
      max-width: px2vw-xl(1268px);
      padding-top: px2vw-xl(137px);
      margin: 0 auto;
      position: relative;
      z-index: 9;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @include lg{
        max-width: px2vw-lg(1268px);
        padding-top: px2vw-lg(137px);
      }
      @include md{
        max-width: px2vw-md(1268px);
        padding-top: px2vw-md(137px);
      }
      @include sm {
        max-width: 100%;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        padding-bottom: px2vw-sm(24.576px);
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: px2vw-xl(-1px);
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--background-gradnew);
      @include lg{
        bottom: px2vw-sm(-1px);
      }
      @include md{
        bottom: px2vw-sm(-1px);
      }
      @include sm{
        bottom: px2vw-sm(-1px);
      }
    }

    .title {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(40px);
      line-height: px2vw-xl(48px);
      letter-spacing: px2vw-xl(-0.5px);
      color: var(--white);
      margin-left: px2vw-xl(8px);
      margin-top: px2vw-xl(20px);
@include lg{
  font-size: px2vw-lg(40px);
  line-height: px2vw-lg(48px);
  letter-spacing: px2vw-lg(0.5px);
  margin-left: px2vw-lg(8px);
  margin-top: px2vw-lg(20px);
}
@include md{
  font-size: px2vw-md(40px);
  line-height: px2vw-md(48px);
  letter-spacing: px2vw-md(0.5px);
  margin-left: px2vw-md(8px);
  margin-top: px2vw-md(20px);
}
      @include sm {
        font-weight: 600;
        font-size: px2vw-sm(24px);
        line-height: px2vw-sm(32px);
        margin-left: 0;
      }
    }
    .icon-game {
      margin-top: px2vw-xl(10px);
      width: px2vw-xl(108px);
      height: px2vw-xl(45px);
      position: relative;
      @include lg {
        margin-top: px2vw-xl(10px);
        width: px2vw-lg(108px);
        height: px2vw-lg(45px);
      }
      @include md {
        margin-top: px2vw-xl(10px);
        width: px2vw-md(108px);
        height: px2vw-md(45px);
      }
      @include sm {
        display: none;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
  }
  .content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;

    &-wrap {
      width: 100%;
    }
    .avatar-player {
      width: px2vw-xl(64px);
      height: px2vw-xl(64px);
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin: 0 0 px2vw-xl(8px);
      padding: 0;
      @include lg{
        width: px2vw-lg(64px);
        height: px2vw-lg(64px);
        margin: 0 0 px2vw-lg(8px);
      }
      @include md{
        width: px2vw-md(64px);
        height: px2vw-md(64px);
        margin: 0 0 px2vw-md(8px);
      }

      @include sm {
        width: px2vw-sm(48px);
        height: px2vw-sm(48px);
        margin: 0 auto;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    .name-player {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(14px);
      line-height: px2vw-xl(20px);
      text-align: center;
      color: var(--white);
      margin-bottom: 0;
      @include lg{
        font-size: px2vw-lg(14px);
        line-height: px2vw-lg(20px);
      }
      @include md{
        font-size: px2vw-md(14px);
        line-height: px2vw-md(20px);
      }
      @include sm{
        font-size: px2vw-sm(12px);
        line-height: px2vw-sm(18px);
      }
    }
  }
  .content-center {
    margin: 0 px2vw-xl(64px);
    min-height: px2vw-xl(92px);
    @include lg{
      margin: 0 px2vw-lg(64px);
      min-height: px2vw-lg(92px);
    }
    @include md{
      margin: 0 px2vw-md(64px);
      min-height: px2vw-md(92px);
    }
    @include sm{
      margin: 0 px2vw-sm(32px);
      min-height: px2vw-sm(50px);
    }
    .match-score {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(50px);
      line-height: px2vw-xl(58px);
      text-align: right;
      letter-spacing: px2vw-xl(-0.5px);
      color: var(--white);
      margin-bottom: px2vw-xl(8px);
      min-height: px2vw-xl(64px);
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @include lg{
        font-size: px2vw-lg(50px);
        line-height: px2vw-lg(58px);
        letter-spacing: px2vw-lg(-0.5px);
        margin-bottom: px2vw-lg(8px);
        min-height: px2vw-lg(64px);
      }
      @include md{
        font-size: px2vw-md(50px);
        line-height: px2vw-md(58px);
        letter-spacing: px2vw-md(-0.5px);
        margin-bottom: px2vw-md(8px);
        min-height: px2vw-md(64px);
      }
      @include sm {
        font-size: px2vw-sm(32px);
        line-height: px2vw-sm(40px);
        margin-bottom: 0;
      }

      .match-score-speach {
        display: inline-block;
        margin: 0 px2vw-xl(17px);
        @include lg{
          margin: 0 px2vw-lg(17px);
        }
        @include md{
          margin: 0 px2vw-md(17px);
        }
        @include sm{
          margin: 0 px2vw-sm(15px);
        }
      }
    }
    .final-score {
      text-align: center;
      .text {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 500;
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        color: var(--tolopea-color);
        @include lg{
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(20px);
        }
        @include md{
          font-size: px2vw-md(14px);
          line-height: px2vw-md(20px);
        }
        @include sm{
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(20px);
        }
      }
    }
  }
}
section.ss-infomation-match {
  padding: px2vw-xl(40px) 0 0 0;
  margin: 0 0 px2vw-xl(40px);
@include lg{
  padding: px2vw-lg(40px) 0 0 0;
  margin: 0 0 px2vw-lg(40px);
}
@include md{
  padding: px2vw-md(40px) 0 0 0;
  margin: 0 0 px2vw-md(40px);
}
  @include sm {
    padding: px2vw-sm(17px) 0 0 0;
    margin: 0 0 px2vw-sm(23px);
  }

  .container {
    max-width: px2vw-xl(1308px);
    padding: 0 px2vw-xl(24px);
    @include lg{
      max-width: px2vw-lg(1308px);
      padding: 0 px2vw-lg(24px);
    }
    @include md{
      max-width: px2vw-md(1308px);
      padding: 0 px2vw-md(24px);
    }
    @include sm{
      max-width: 100%;
      padding: 0 px2vw-sm(24px);
    }
  }
  .inner {
    border-bottom: px2vw-xl(1px) solid var(--color-black-medium);
    padding-bottom: px2vw-xl(24px);
    @include lg{
      border-bottom: px2vw-lg(1px) solid var(--color-black-medium);
      padding-bottom: px2vw-lg(24px);
    }
    @include md{
      border-bottom: px2vw-md(1px) solid var(--color-black-medium);
      padding-bottom: px2vw-md(24px);
    }

    @include sm {
      border-bottom: px2vw-sm(1px) solid var(--color-black-medium);
      padding-bottom: px2vw-sm(8px);
      padding-top: px2vw-sm(22px);
      border-top: px2vw-sm(1px) solid var(--color-black-medium);
    }
  }
  .match-info {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: px2vw-xl(554px);
    margin: 0 auto;
    @include lg{
      max-width: px2vw-lg(554px);
    }
    @include md{
      max-width: px2vw-md(554px);
    }
    @include sm{
      max-width: 100%;
    }
    .item {
      h5 {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 500;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--tolopea-color);
        margin-bottom: px2vw-xl(8px);
        text-transform: capitalize;
        @include lg{
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
          margin-bottom: px2vw-lg(8px);
        }
        @include md{
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
          margin-bottom: px2vw-md(8px);
        }
        @include sm {
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(18px);
          margin-bottom: px2vw-sm(2px);
        }
      }
      p {
        font-family: 'Paralucent-Demi';
        font-style: normal;
        font-weight: 500;
        font-size: px2vw-xl(20px);
        line-height: px2vw-xl(28px);
        color: var(--white);
        margin-bottom: 0;
        @include lg{
          font-size: px2vw-lg(20px);
          line-height: px2vw-lg(28px);
        }
        @include md{
          font-size: px2vw-md(20px);
          line-height: px2vw-md(28px);
        }
        @include sm {
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }
      }
    }
  }
  .match-info .item {
    @include xl {
      width: 47%;
      margin-bottom: px2vw-xl(14px);
    }
    @include lg {
      width: 47%;
      margin-bottom: px2vw-lg(14px);
    }
    @include md {
      width: 47%;
      margin-bottom: px2vw-md(14px);
    }
    @include sm {
      width: 47%;
      margin-bottom: px2vw-sm(14px);
    }
  }
}
section.ss-match-summary {
  padding: 0 0 px2vw-xl(90px);
  margin: 0;
  @include lg{
    padding: 0 0 px2vw-lg(90px);
  }
  @include md{
    padding: 0 0 px2vw-md(90px);
  }
  @include sm{
    padding: 0 0 px2vw-sm(90px);
  }
  .container {
    max-width: px2vw-xl(1292px);
    padding: 0 px2vw-xl(24px);
    @include lg{
      max-width: px2vw-lg(1292px);
      padding: 0 px2vw-lg(24px);
    }
    @include md{
      max-width: px2vw-md(1292px);
      padding: 0 px2vw-md(24px);
    }
    @include sm {
      max-width: 100%;
      padding: 0 0 0 24px;
    }
  }
  .heading {
    padding: 0 px2vw-xl(16px);
    @include lg{
      padding: 0 px2vw-lg(16px);
    }
    @include md{
      padding: 0 px2vw-md(16px);
    }
    @include sm {
      padding: 0;
    }
    h2.title {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(-0.5px);
      color: var(--white);
      margin-bottom: px2vw-xl(24px);
      @include lg{
        font-size: px2vw-lg(24px);
        line-height: px2vw-lg(32px);
        letter-spacing: px2vw-lg(-0.5px);
        margin-bottom: px2vw-lg(24px);
      }
      @include md{
        font-size: px2vw-md(24px);
        line-height: px2vw-md(32px);
        letter-spacing: px2vw-md(-0.5px);
        margin-bottom: px2vw-md(24px);
      }
      @include sm {
        font-weight: 600;
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(28px);
        margin-bottom: px2vw-sm(16px);
      }
    }
  }
  .content {
    .lists {
      @include sm {
        overflow: hidden;
        overflow-x: auto;
      }
      .item {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 px2vw-xl(5px) px2vw-xl(8.5px) px2vw-xl(16px);
        margin-bottom: px2vw-xl(8px);
        border-bottom: px2vw-xl(1px) solid var(--white-light);
        @include lg{
          padding: 0 px2vw-lg(5px) px2vw-lg(8.5px) px2vw-lg(16px);
          margin-bottom: px2vw-lg(8px);
          border-bottom: px2vw-lg(1px) solid var(--white-light);
        }
        @include md{
          padding: 0 px2vw-md(5px) px2vw-md(8.5px) px2vw-md(16px);
          margin-bottom: px2vw-md(8px);
          border-bottom: px2vw-md(1px) solid var(--white-light);
        }
        @include sm {
          width: px2vw-sm(700px);
          flex-wrap: nowrap;
          padding: 0 px2vw-sm(5px) px2vw-sm(17.5px) px2vw-sm(16px);
          padding-left: 0;
          margin-bottom: px2vw-sm(16px);
        }

        .info-player {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          .box-image {
            position: relative;
            width: px2vw-xl(110px);
            height: px2vw-xl(76px);
            margin-right: px2vw-xl(22px);
            @include lg{
              width: px2vw-lg(110px);
              height: px2vw-lg(76px);
              margin-right: px2vw-lg(22px);
            }
            @include md{
              width: px2vw-md(110px);
              height: px2vw-md(76px);
              margin-right: px2vw-md(22px);
            }
            @include sm {
              width: px2vw-sm(143px);
              height: px2vw-sm(72px);
              margin-right: px2vw-sm(17px);
            }

            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              object-fit: cover;
              z-index: 2;
            }
            .lever {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              padding: px2vw-xl(2px) px2vw-xl(4px) px2vw-xl(2px) px2vw-xl(5px);
              position: absolute;
              z-index: 3;
              bottom: 0;
              left: 0;
              background: var(--ui-win);
              font-family: 'Paralucent-Demi';
              font-style: normal;
              font-weight: 600;
              font-size: px2vw-xl(16px);
              line-height: px2vw-xl(24px);
              color: #171a17;
              @include lg{
                padding: px2vw-lg(2px) px2vw-lg(4px) px2vw-lg(2px) px2vw-lg(5px);
                font-size: px2vw-lg(16px);
                line-height: px2vw-lg(24px);
              }
              @include md{
                padding: px2vw-md(2px) px2vw-md(4px) px2vw-md(2px) px2vw-md(5px);
                font-size: px2vw-md(16px);
                line-height: px2vw-md(24px);
              }
              @include sm{
                padding: px2vw-sm(2px) px2vw-sm(4px) px2vw-sm(2px) px2vw-sm(5px);
                font-size: px2vw-sm(16px);
                line-height: px2vw-sm(24px);
              }
            }
          }
          .name-status {
              width: px2vw-xl(192px);
              margin-right: px2vw-xl(15px);
             @include lg {
              width: px2vw-lg(192px);
              margin-right: px2vw-lg(15px);
            }
            @include md {
              width: px2vw-md(192px);
              margin-right: px2vw-md(15px);
            }
            @include sm {
              width: px2vw-sm(192px);
              margin-right: px2vw-sm(15px);
            }
          }
          h5.name {
            font-family: 'Paralucent-Demi';
            font-style: normal;
            font-weight: 600;
            font-size: px2vw-xl(20px);
            line-height: px2vw-xl(28px);
            color: var(--white);
            margin-bottom: 0;
            @include lg{
              font-size: px2vw-lg(20px);
              line-height: px2vw-lg(28px);
            }
            @include md{
              font-size: px2vw-md(20px);
              line-height: px2vw-md(28px);
            }

            @include sm {
              font-size: px2vw-sm(19.4px);
              margin-bottom: px2vw-sm(4px);
            }
          }
          p.status {
            font-family: 'Paralucent-Demi';
            font-style: normal;
            font-weight: 500;
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
            color: var(--tolopea-color);
            margin-bottom: 0;
            @include lg{
              font-size: px2vw-md(16px);
              line-height: px2vw-md(24px);
            }
            @include md{
              font-size: px2vw-md(16px);
              line-height: px2vw-md(24px);
            }

            @include sm {
              font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
              margin-bottom: px2vw-sm(-4px);
            }
            .text-hl-win {
              color: var(--ui-win);
              text-transform: capitalize;
              margin-left: px2vw-xl(6px);
              @include lg{
                margin-left: px2vw-lg(6px);
              }
              @include md{
                margin-left: px2vw-md(6px);
              }
              @include sm{
                margin-left: px2vw-sm(6px);
              }
            }
            .text-hl-lose {
              color: var(--light-preview-color);
              text-transform: capitalize;
            }
          }
        }
        .info-matching {
          width: 100%;
          max-width: px2vw-xl(409px);
          @include lg{
            max-width: px2vw-lg(409px);
          }
          @include md{
            max-width: px2vw-md(409px);
          }
          @include sm{
            max-width: 100%;
          }
          .matching-lists {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            .matching {
              text-align: center;
              .th {
                font-family: 'Paralucent-Demi';
                font-style: normal;
                font-weight: 500;
                font-size: px2vw-xl(14px);
                line-height: px2vw-xl(20px);
                text-align: center;
                color: var(--tolopea-color);
                margin-bottom: px2vw-xl(12px);
                @include lg{
                  font-size: px2vw-lg(14px);
                  line-height: px2vw-lg(20px);
                  margin-bottom: px2vw-lg(12px);
                }
                @include md{
                  font-size: px2vw-md(14px);
                  line-height: px2vw-md(20px);
                  margin-bottom: px2vw-md(12px);
                }
                @include sm{
                  font-size: px2vw-sm(14px);
                  line-height: px2vw-sm(20px);
                  margin-bottom: px2vw-sm(12px);
                }
              }
              .td {
                font-family: 'Paralucent-Demi';
                font-style: normal;
                font-weight: 600;
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(24px);
                text-align: center;
                color: var(--white);
                @include lg{
                  font-size: px2vw-lg(16px);
                  line-height: px2vw-lg(24px);
                }
                @include md{
                  font-size: px2vw-md(16px);
                  line-height: px2vw-md(24px);
                }
                @include sm{
                  font-size: px2vw-sm(16px);
                  line-height: px2vw-sm(24px);
                }
              }
            }
          }
        }
      }
    }
  }
}
