@import "shared";

h1.main_heading {
    @extend %global-H4;
}
.shop_slider {
    // margin-bottom: 0px;
    margin-bottom: 0px;
    .slide {
        width: 100%;
        max-width: px2vw-xl(1152px);
        @include xxl {
            max-width: px2vw-xxl(1440px);
        }
        @include lg {
            max-width: px2vw-xl(1024px);
        }
        @media screen and (max-width: 1366px) and (min-width: 950px) {
            max-width: 1085px;
        }
    }
}

.shop-card-container {
    margin-top: px2vw-xl(64px);
    @include xxl {
        margin-top: px2vw-xxl(64px);
    }
    @include lg {
        margin-top: px2vw-lg(64px);
    }
    @include md {
        margin-top: px2vw-md(64px);
    }
    @include sm {
        margin-top: px2vw-sm(10px);
    }
    &.card_0 {
        margin-top: px2vw-xl(84px);
        @include xxl {
            margin-top: px2vw-xxl(84px);
        }
        @include lg {
            margin-top: px2vw-lg(84px);
        }
        @include md {
            margin-top: px2vw-md(84px);
        }
        @include sm {
            margin-top: px2vw-sm(55px) !important;
        }
    }
}
.shop-game-cards {
    margin-top: px2vw-xl(24px);
    overflow: hidden;
    @include xxl {
        margin-top: px2vw-xxl(24px);
    }
    @include lg {
        margin-top: px2vw-lg(24px);
    }
    @include md {
        margin-top: px2vw-md(24px);
    }
    @include sm {
        margin-top: px2vw-sm(24px);
    }
    ::ng-deep .swiper-wrapper {
        height: 100% !important;
    }
}

.shop-card-content {
    background-color: var(--color-darkgray);
    height: auto;
    text-align: left;
    border: px2vw-xl(1px) solid var(--color-bordergray);
    border-radius: px2vw-xl(4px);
    cursor: pointer;
    @include xxl {
        border: px2vw-xxl(1px) solid var(--color-bordergray);
        @include border-radius(4px);
    }
    @include lg {
        border: px2vw-lg(1px) solid var(--color-bordergray);
        border-radius: px2vw-lg(4px);
    }
    @include md {
        border: px2vw-md(1px) solid var(--color-bordergray);
        border-radius: px2vw-md(4px);
    }
    @include sm {
        border: px2vw-sm(1px) solid var(--color-bordergray);
        border-radius: px2vw-sm(4px);
    }
}

.shop-pagination-container {
    text-align: right;
    // padding: 0 px2vw-xl(56px) 0 0;
    // @include xxl {
    //     padding: 0 px2vw-xxl(56px) 0 0;
    // }
    // @include lg {
    //     padding: 0 px2vw-lg(56px) 0 0;
    // }
    // @include md {
    //     padding: 0 px2vw-md(56px) 0 0;
    // }
    @include sm {
        // padding: 0 px2vw-sm(56px) 0 0;
        display: none;
    }
}
.shop_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Matchmaking-game-arrows {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .Matchmaking-game-arrow {
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        cursor: pointer;
        height: px2vw-xl(34px);
        width: px2vw-xl(34px);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all linear 0.2s;
        font-size: px2vw-xl(23px);
        @include xxl {
            height: px2vw-xxl(34px);
            width: px2vw-xxl(34px);
            font-size: px2vw-xxl(23px);
        }
        @include lg {
            height: px2vw-lg(34px);
            width: px2vw-lg(34px);
            font-size: px2vw-lg(23px);
        }
        @include md {
            height: px2vw-md(34px);
            width: px2vw-md(34px);
            font-size: px2vw-md(23px);
        }
        @include sm {
            height: px2vw-sm(34px);
            width: px2vw-sm(34px);
            font-size: px2vw-sm(23px);
        }
        &:first-child {
            margin-right: px2vw-xl(8px);
            @include xxl {
                margin-right: px2vw-xxl(8px);
            }
            @include lg {
                margin-right: px2vw-lg(8px);
            }
            @include md {
                margin-right: px2vw-md(8px);
            }
            @include sm {
                margin-right: px2vw-sm(8px);
            }
        }
        &:hover {
            background-color: var(--color-primary);
            transition: all linear 0.2s;
            color: var(--black);
        }
    }
}
.top-up-container {
    margin-top: px2vw-xl(64px);
    @include xxl {
        margin-top: px2vw-xxl(64px);
    }
    @include lg {
        margin-top: px2vw-lg(64px);
    }
    @include md {
        margin-top: px2vw-md(64px);
    }
    @include sm {
        margin-top: px2vw-sm(10px);
    }
    h1 {
        margin-bottom: px2vw-xl(25px);
        @include xxl {
            margin-bottom: px2vw-xxl(25px);
        }
        @include lg {
            margin-bottom: px2vw-lg(25px);
        }
        @include md {
            margin-bottom: px2vw-md(25px);
        }
        @include sm {
            margin-bottom: px2vw-sm(25px);
        }
    }

    .global-Tabs {
        .Search-button {
            font-size: px2vw-xl(14px);
            line-height: px2vw-xl(17px);
            letter-spacing: px2vw-xl(0.1px);
            padding: 0px 0px;
            height: px2vw-xl(44px);
            width: px2vw-xl(147px);
            font-family: "maxis-bold";
            @include xxl {
                font-size: px2vw-xxl(14px);
                height: px2vw-xxl(44px);
                width: px2vw-xxl(147px);
                line-height: px2vw-xxl(17px);
                letter-spacing: px2vw-xxl(0.1px);
            }
            @include lg {
                font-size: px2vw-lg(14px);
                height: px2vw-lg(44px);
                width: px2vw-lg(147px);
                line-height: px2vw-lg(17px);
                letter-spacing: px2vw-lg(0.1px);
            }
            @include md {
                font-size: px2vw-md(14px);
                height: px2vw-md(44px);
                width: px2vw-md(147px);
                line-height: px2vw-md(17px);
                letter-spacing: px2vw-md(0.1px);
            }
            @include sm {
                font-size: px2vw-sm(14px);
                height: px2vw-sm(44px);
                width: auto;
                line-height: px2vw-sm(17px);
                letter-spacing: px2vw-sm(0.1px);
            }
        }
    }
}

.top-inputs {
    display: flex;
    justify-content: space-between;
    .input-select-container {
        @include sm {
            padding: px2vw-sm(24px) px2vw-sm(15px) !important;
            margin: 0 px2vw-sm(-15px);
        }
    }
}
.input-select-container {
    display: flex;
    align-items: center;

    .input-icons {
        margin-right: px2vw-xl(16px);
        position: relative;
        @include xxl {
            margin-right: px2vw-xxl(16px);
        }
        @include lg {
            margin-right: px2vw-lg(16px);
        }
        @include md {
            margin-right: px2vw-md(16px);
            margin-top: px2vw-md(15px);
        }
        @include sm {
            margin-right: px2vw-sm(16px);
            margin-top: px2vw-sm(28px);
        }
        .mat-icon {
            position: absolute;
            left: px2vw-xl(15px);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            @include xxl {
                left: px2vw-xxl(15px);
            }
            @include lg {
                left: px2vw-lg(15px);
            }
            @include md {
                left: px2vw-md(15px);
            }
            @include sm {
                left: px2vw-sm(15px);
            }
            img {
                height: px2vw-xl(13px);
                width: px2vw-xl(13px);
                @include xxl {
                    height: px2vw-xxl(13px);
                    width: px2vw-xxl(13px);
                }
                @include lg {
                    height: px2vw-lg(13px);
                    width: px2vw-lg(13px);
                }
                @include md {
                    height: px2vw-md(13px);
                    width: px2vw-md(13px);
                }
                @include sm {
                    height: px2vw-sm(13px);
                    width: px2vw-sm(13px);
                }
            }
        }
        .SearchInput-field {
            font-size: px2vw-xl(14px);
            padding: px2vw-xl(15px) px2vw-xl(10px) px2vw-xl(15px) px2vw-xl(50px);
            border-radius: px2vw-xl(2px);
            background-color: var(--color-darkgray);
            width: px2vw-xl(216px);
            height: px2vw-xl(44px);
            margin-top: 0px;
            @include xxl {
                font-size: px2vw-xxl(14px);
                padding: px2vw-xxl(15px) px2vw-xxl(10px) px2vw-xxl(15px) px2vw-xxl(50px);
                @include border-radius(2px);
                width: px2vw-xxl(216px);
                height: px2vw-xxl(44px);
            }
            @include lg {
                font-size: px2vw-xl(14px);
                padding: px2vw-xl(15px) px2vw-xl(10px) px2vw-xl(15px) px2vw-xl(50px);
                border-radius: px2vw-xl(2px);
                width: px2vw-xl(216px);
                height: px2vw-xl(44px);
            }
            @include md {
                font-size: px2vw-md(14px);
                padding: px2vw-md(15px) px2vw-md(10px) px2vw-md(15px) px2vw-md(50px);
                border-radius: px2vw-xl(2px);
                width: px2vw-md(216px);
                height: px2vw-md(50px);
            }
            @include sm {
                font-size: px2vw-sm(14px);
                padding: px2vw-sm(15px) px2vw-sm(10px) px2vw-sm(15px) px2vw-sm(36px);
                border-radius: px2vw-sm(2px);
                width: px2vw-sm(216px);
                height: px2vw-sm(56px);
            }
        }
    }

    .input-select {
        position: relative;
        min-width: px2vw-xl(150px);
        height: auto;
        margin-top: px2vw-xl(-15px);
        @include xxl {
            min-width: px2vw-xxl(150px);
            margin-top: px2vw-xxl(-15px);
        }
        @include lg {
            min-width: px2vw-lg(150px);
            margin-top: px2vw-lg(-15px);
        }
        @include md {
            min-width: px2vw-md(150px);
            margin-top: px2vw-md(-15px);
        }
        @include sm {
            min-width: px2vw-sm(150px);
            margin-top: px2vw-sm(-15px);
            height: px2vw-sm(70px);
        }
        fieldset {
            font-size: px2vw-xl(14px);
            border: px2vw-xl(1px) solid var(--color-ash-med);
            border-radius: px2vw-xl(4px);
            padding: 0px px2vw-xl(10px);
            cursor: pointer;
            width: px2vw-xl(168px);
            height: px2vw-xl(55px);
            @include xxl {
                font-size: px2vw-xxl(14px);
                border: px2vw-xxl(1px) solid var(--color-ash-med);
                @include border-radius(4px);
                padding: 0px px2vw-xxl(10px);
                width: px2vw-xxl(168px);
                height: px2vw-xxl(55px);
            }
            @include lg {
                font-size: px2vw-lg(14px);
                border: px2vw-lg(1px) solid var(--color-ash-med);
                border-radius: px2vw-lg(4px);
                padding: 0px px2vw-lg(10px);
                width: px2vw-lg(168px);
                height: px2vw-lg(55px);
            }
            @include md {
                font-size: px2vw-md(14px);
                border: px2vw-md(1px) solid var(--color-ash-med);
                border-radius: px2vw-md(4px);
                padding: 0px px2vw-md(10px);
                width: px2vw-md(168px);
                height: px2vw-md(55px);
            }
            @include sm {
                font-size: px2vw-sm(14px);
                border: 1px solid var(--color-ash-med);
                border-radius: px2vw-sm(4px);
                padding: 0px px2vw-sm(10px);
                width: px2vw-sm(168px);
                height: px2vw-sm(55px);
            }
            span {
                margin-left: px2vw-xl(5px);
                @include xxl {
                    margin-left: px2vw-xxl(5px);
                }
                @include lg {
                    margin-left: px2vw-lg(5px);
                }
                @include md {
                    margin-left: px2vw-md(5px);
                }
                @include sm {
                    margin-left: px2vw-sm(5px);
                }
            }

            .mat-icon {
                position: absolute;
                color: var(--white-disabled);
                right: px2vw-xl(5px);
                @include xxl {
                    right: px2vw-xxl(5px);
                }
                @include lg {
                    right: px2vw-lg(5px);
                }
                @include md {
                    right: px2vw-md(5px);
                }
                @include sm {
                    right: px2vw-sm(5px);
                }
            }

            legend {
                color: var();
                font-size: px2vw-xl(12px);
                margin: 0;
                width: auto;
                padding: 0 px2vw-xl(5px);
                @include xxl {
                    font-size: px2vw-xxl(12px);
                    padding: 0 px2vw-xxl(5px);
                }
                @include lg {
                    font-size: px2vw-lg(12px);
                    padding: 0 px2vw-lg(5px);
                }
                @include md {
                    font-size: px2vw-md(12px);
                    padding: 0 px2vw-md(5px);
                }
                @include sm {
                    font-size: px2vw-sm(12px);
                    padding: 0 px2vw-sm(5px);
                }
            }
        }
    }
}
.shop-top-cards-container {
    margin-top: px2vw-xl(40px);
    @include xxl {
        margin-top: px2vw-xxl(40px);
    }
    @include lg {
        margin-top: px2vw-lg(40px);
    }
    @include md {
        margin-top: px2vw-md(40px);
    }
    @include sm {
        margin-top: px2vw-sm(40px);
    }
    .games_item_container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-column-gap: px2vw-xl(15px);
        @include xxl {
            grid-column-gap: px2vw-xxl(15px);
        }
        @include lg {
            grid-column-gap: px2vw-lg(15px);
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        }
        @include md {
            grid-column-gap: px2vw-md(15px);
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        }
        @include sm {
            grid-column-gap: px2vw-sm(15px);
            grid-template-columns: minmax(0, 1fr);
        }
        .shop-topup-card-content {
            height: auto;
            text-align: left;
            border: px2vw-xl(1px) solid var(--color-bordergray);
            border-radius: px2vw-xl(4px);
            margin-bottom: px2vw-xl(16px);
            // margin-right: px2vw-xl(16px);
            cursor: pointer;
            @include xxl {
                border: px2vw-xxl(1px) solid var(--color-bordergray);
                @include border-radius(4px);
                margin-bottom: px2vw-xxl(16px);
                // margin-right: px2vw-xxl(16px);
            }
            @include lg {
                border: px2vw-lg(1px) solid var(--color-bordergray);
                border-radius: px2vw-lg(4px);
                margin-bottom: px2vw-lg(16px);
                // margin-right: px2vw-lg(16px);
            }
            @include md {
                border: px2vw-md(1px) solid var(--color-bordergray);
                border-radius: px2vw-md(4px);
                margin-bottom: px2vw-md(16px);
                // margin-right: px2vw-md(16px);
            }
            @include sm {
                border: px2vw-sm(1px) solid var(--color-bordergray);
                border-radius: px2vw-sm(4px);
                margin-bottom: px2vw-sm(16px);
                // margin-right: 0;
            }
        }
    }
}

@include md {
    .top-inputs {
        display: block;

        .media-responsive-btn {
            margin-bottom: px2vw-md(32px);

            .Search-button {
                padding: px2vw-md(10px) 0;
                flex-grow: 1;
            }
        }

        .input-select-container {
            background-color: var(--color-darkgray);
            padding: px2vw-md(15px);
            flex-direction: column;

            .input-icons {
                width: 100%;
                margin-right: 0;
                order: 2;
                position: relative;
                .mat-icon {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .SearchInput-field {
                    border: 1px solid var(--color-ash-med);
                    width: 100%;
                    border-radius: px2vw-md(4px);
                }
            }
            .input-select {
                width: 100%;
                order: 1;
                height: px2vw-md(76px);
                fieldset {
                    padding: px2vw-md(15px) px2vw-md(10px);
                }

                .mat-icon {
                    right: px2vw-md(5px);
                    top: px2vw-md(15px);
                }
            }
        }
    }
}

/* Slider */

::ng-deep .slick-dots {
    bottom: px2vw-xl(-25px);
    @include lg {
        bottom: px2vw-lg(-25px);
    }
    @include md {
        bottom: px2vw-md(-25px);
    }
    @include sm {
        padding: px2vw-sm(12px) 0;
        background: var(--gradient-bg-drk);
        bottom: px2vw-sm(-32px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
::ng-deep .slick-slide img {
    max-height: px2vw-xl(384px);
    height: px2vw-xl(384px);
    padding: 0 px2vw-xl(10px);
    @include xxl {
        max-height: px2vw-xxl(384px);
        height: px2vw-xxl(384px);
        padding: 0 px2vw-xxl(10px);
    }
    @include lg {
        max-height: px2vw-lg(384px);
        height: px2vw-lg(384px);
        padding: 0 px2vw-lg(10px);
    }
    @include md {
        max-height: px2vw-md(325px);
        height: px2vw-md(325px);
        padding: 0 px2vw-md(10px);
    }
    @include sm {
        max-height: px2vw-sm(125px);
        padding: 0 px2vw-md(0px);
    }
}
::ng-deep .slick-list.draggable {
    @include sm {
        padding: 0 0 !important;
    }
    @media (min-width: 768px) {
        padding: 0 px2vw-xl(125px) !important;
        @include lg {
            padding: 0 px2vw-lg(125px) !important;
        }
        @include md {
            padding: 0 px2vw-md(125px) !important;
        }
    }
    @media (min-width: 992px) {
        padding: 0 px2vw-xl(175px) !important;
        @include lg {
            padding: 0 px2vw-lg(175px) !important;
        }
        @include md {
            padding: 0 px2vw-md(175px) !important;
        }
    }
    @media (min-width: 1200px) {
        padding: 0 px2vw-xl(225px) !important;
        @include lg {
            padding: 0 px2vw-lg(225px) !important;
        }
    }
}
::ng-deep .home_slider {
    .slick-arrow {
        height: 100%;
        width: 15%;
        z-index: 1;
        @include sm {
            display: none !important;
        }
    }
    .slick-prev {
        background: linear-gradient(90deg, var(--black), transparent);
        &.slick-prev:before {
            position: absolute;
            left: px2vw-xl(65px);
            top: 50%;
            transform: translate(-50%, -50%);
            content: "\f104" !important;
            font-family: FontAwesome;
            font-size: px2vw-xl(70px);
            @include lg {
                left: px2vw-lg(65px);
                font-size: px2vw-lg(70px);
            }
            @include md {
                left: px2vw-md(65px);
                font-size: px2vw-md(70px);
            }
            @include sm {
                left: px2vw-sm(65px);
                font-size: px2vw-sm(70px);
            }
        }
    }
    .slick-next {
        background: linear-gradient(90deg, transparent, var(--black));
        &.slick-next:before {
            position: absolute;
            right: px2vw-xl(35px);
            top: 50%;
            transform: translate(-50%, -50%);
            content: "\f105" !important;
            font-family: FontAwesome;
            font-size: px2vw-xl(70px);
            @include lg {
                right: px2vw-lg(35px);
                font-size: px2vw-lg(70px);
            }
            @include md {
                right: px2vw-md(35px);
                font-size: px2vw-md(70px);
            }
            @include sm {
                right: px2vw-sm(35px);
                font-size: px2vw-sm(70px);
            }
        }
    }
    ::ng-deep .slick-dots li button,
    ::ng-deep .slick-dots li {
        height: px2vw-xl(8px);
        width: px2vw-xl(8px);
        @include lg {
            height: px2vw-lg(8px);
            width: px2vw-lg(8px);
        }
        @include md {
            height: px2vw-md(8px);
            width: px2vw-md(8px);
        }
        @include sm {
            height: px2vw-sm(8px);
            width: px2vw-sm(8px);
        }
    }
    ::ng-deep .slick-dots li {
        &.slick-active button:before {
            background-color: var(--color_skyblue);
        }
        button:before {
            content: "";
            height: px2vw-xl(8px);
            width: px2vw-xl(8px);
            background-color: var(--color-ash-med);
            border-radius: 0;
            @include lg {
                height: px2vw-lg(8px);
                width: px2vw-lg(8px);
            }
            @include md {
                height: px2vw-md(8px);
                width: px2vw-md(8px);
            }
            @include sm {
                height: px2vw-sm(8px);
                width: px2vw-sm(8px);
            }
        }
    }
}
.sort_by {
    @include md {
        width: 100%;
    }
    ::ng-deep .mat-form-field-flex {
        height: px2vw-xl(50px) !important;
        @include xxl {
            height: px2vw-xxl(50px) !important;
        }
        @include lg {
            height: px2vw-lg(50px) !important;
        }
        @include md {
            height: px2vw-md(50px) !important;
        }
        @include sm {
            height: px2vw-sm(50px) !important;
        }
    }
    ::ng-deep .mat-form-field {
        margin-top: 0;
        @include md {
            width: 100%;
        }
        .mat-form-field-wrapper {
            padding-bottom: 0 !important;
        }
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding-top: 0.5em !important;
        @include xxl {
            padding-top: 0.5em !important;
        }
        @include lg {
            padding-top: 0.5em !important;
        }
        @include md {
            padding-top: 0.5em !important;
        }
        @include sm {
            padding-top: 0.5em !important;
        }
    }
    ::ng-deep .mat-select-arrow {
        color: var(--white-disabled) !important;
        margin-bottom: px2vw-xl(-2px);
        @include xxl {
            margin-bottom: px2vw-xxl(-2px);
        }
        @include lg {
            margin-bottom: px2vw-xl(-2px);
        }
        @include md {
            margin-bottom: px2vw-md(-2px);
        }
        @include sm {
            margin-bottom: px2vw-sm(-2px);
        }
    }
    ::ng-deep .mat-form-field-label-wrapper {
        .mat-form-field-label {
            @extend %caption;
            color: var();
            @include md {
                font-size: px2vw-md(12px);
            }
            @include md {
                font-size: px2vw-sm(12px);
            }
        }
    }
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: var(--white) !important;
    }
    ::ng-deep .mat-select-value {
        font-family: "maxis-semibold";
        font-size: px2vw-xl(16px);
        letter-spacing: px2vw-xl(0.5px);
        line-height: px2vw-xl(24px);
        color: var(--white-high);
        @include xxl {
            font-size: px2vw-xxl(16px);
            letter-spacing: px2vw-xxl(0.5px);
            line-height: px2vw-xxl(24px);
        }
        @include lg {
            font-size: px2vw-lg(16px);
            letter-spacing: px2vw-lg(0.5px);
            line-height: px2vw-lg(24px);
        }
        @include md {
            font-size: px2vw-md(16px);
            letter-spacing: px2vw-md(0.5px);
            line-height: px2vw-md(24px);
        }
        @include sm {
            font-size: px2vw-sm(16px);
            letter-spacing: px2vw-sm(0.5px);
            line-height: px2vw-sm(24px);
        }
    }
    ::ng-deep .mat-select-trigger {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        .mat-select-value {
            max-width: inherit !important;
        }
    }
}
::ng-deep .mat-select-panel {
    background: var(--gradient-bg-drk6), var(--gradient-bg-drk3) !important;
    .mat-option {
        .mat-option-text {
            font-family: "maxis-semibold";
            font-size: px2vw-xl(16px);
            letter-spacing: px2vw-xl(0.5px);
            line-height: px2vw-xl(24px);
            color: var(--white-high);
            @include xxl {
                font-size: px2vw-xxl(16px);
                letter-spacing: px2vw-xxl(0.5px);
                line-height: px2vw-xxl(24px);
            }
            @include lg {
                font-size: px2vw-lg(16px);
                letter-spacing: px2vw-lg(0.5px);
                line-height: px2vw-lg(24px);
            }
            @include md {
                font-size: px2vw-md(16px);
                letter-spacing: px2vw-md(0.5px);
                line-height: px2vw-md(24px);
            }
            @include sm {
                font-size: px2vw-sm(16px);
                letter-spacing: px2vw-sm(0.5px);
                line-height: px2vw-sm(24px);
            }
        }
    }
}

/* End Slider */

/* loader spinner*/

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 4px;
    height: 13px;
    border-radius: 20%;
    background: var(--white);
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
