<section class="shop_slider">
  <ngx-slick-carousel class="carousel home_slider" #slickModal="slick-carousel" [config]="shop_slider">
    <ng-container *ngFor="let item of slides">
      <div ngxSlickItem class="slide">
        <img [src]="item?.bannerFileUrl" alt="" width="100%" />
      </div>
    </ng-container>
  </ngx-slick-carousel>
</section>

<!-- Dynamic category Wise Product List  -->
<section *ngFor="let item of categoryList; let indexOfelement=index;"
  class="shop-card-container card_{{indexOfelement}}">
  <app-product-slides [item]='item'></app-product-slides>
</section>

<!-- shopsList -->
<section class="top-up-container u-wp">
  <h1 class="main_heading">{{ "SHOP.TITLE" | translate }}</h1>
  <div class="top-inputs">
    <div class="global-Tabs media-responsive-btn">
      <button class="Search-button" [class.is-active]="isAllGames" (click)="!isAllGames ?showAllGames():''">
        {{ "SHOP.TITLE" | translate }}
      </button>
      <button class="Search-button" [class.is-active]="isDirectPopUp" (click)="!isDirectPopUp?showDirectPopUp():''">
        {{ "SHOP.DIRECT_TOP_UP" | translate }}
      </button>
      <button class="Search-button" [class.is-active]="isVouchers" (click)="!isVouchers?showVouchers():''">
        {{ "SHOP.VOUCHERS" | translate }}
      </button>
    </div>

    <div class="input-select-container">
      <div class="input-icons">
        <mat-icon class="text-muted"><img src="assets/icons/search.svg" class="img-fluid" /></mat-icon>
        <input class="SearchInput-field text-muted" [(ngModel)]="searchText" type="text" (input)="onFilter()"
          placeholder=" {{ 'Search game' | translate }}" />
      </div>
      <div class="sort_by">
        <mat-form-field appearance="outline">
          <mat-label>Sort by</mat-label>
          <mat-select [(ngModel)]="sortOrderType" (selectionChange)="onFilter()" class="text-white">
            <mat-option *ngFor="let item of sortOrderArray" [value]="item?.value">
              {{ item?.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="shop-top-cards-container">
    <div class="search-results" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50"
      (scrolled)="!isSpinner?onScroll():''">
      <div class="row">
        <div class="col-md-12">
          <div class="games_item_container">
            <ng-container *ngIf="shopsList?.length>0; else elseTemplate">
              <div *ngFor="let shop of shopsList" class="shops game_item_cards">
                <div class="shop-topup-card-content" (click)="redirectToupOrVoucher(shop?.type, shop?._id)">
                  <app-shop-topup-card [shop]="shop"></app-shop-topup-card>
                </div>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <p *ngIf="!isSpinner">{{ "SHOP.RECORD" | translate }}</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="isSpinner">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</section>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>