@import "shared";

:host {
  display: block;
}

.AccountItem {
  &-title {
    @extend %subtitle-2;
    margin-bottom: 6px;

    @include xl {
      margin-bottom: px2vw-xl(6px);
    }

    @include lg {
      margin-bottom: px2vw-lg(6px);
    }

    @include md {
      margin-bottom: px2vw-md(6px);
    }

    @include sm {
      margin-bottom: px2vw-sm(6px);
    }
  }

  &-content {
    @extend %u-dfCenter;
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid var(--white-smoke);
    height: 56px;
    width: 56px;

    @include xl {
      margin-right: px2vw-xl(8px);
      border-width: px2vw-xl(1px);
      border-radius: px2vw-xl(4px);
      height: px2vw-xl(56px);
      width: px2vw-xl(56px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-icon {
    max-height: 30px;
    max-width: 30px;

    @include xl {
      max-height: px2vw-xl(30px);
      max-width: px2vw-xl(30px);
    }

    @include lg {
      max-height: px2vw-lg(30px);
      max-width: px2vw-lg(30px);
    }

    @include md {
      max-height: px2vw-md(30px);
      max-width: px2vw-md(30px);
    }

    @include sm {
      max-height: px2vw-sm(30px);
      max-width: px2vw-sm(30px);
    }

    &.social {
      max-height: 22px;
      max-width: 22px;

      @include xl {
        max-height: px2vw-xl(22px);
        max-width: px2vw-xl(22px);
      }

      @include lg {
        max-height: px2vw-lg(22px);
        max-width: px2vw-lg(22px);
      }

      @include md {
        max-height: px2vw-md(22px);
        max-width: px2vw-md(22px);
      }

      @include sm {
        max-height: px2vw-sm(22px);
        max-width: px2vw-sm(22px);
      }
    }
  }

  &-field {
    ::ng-deep {
      .mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
          margin-bottom: 0;
        }
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-flex > .mat-form-field-infix {
        padding: 1.2em 0 1.2em 0;
      }
    }
  }
}
.AccountItem{
  color: white;
}


:ng-deep{.cdk-overlay-pane{
  min-width: 614.094px;
font-size: 13px;
top: 391.562px;
left: 342.766px;
/* transform: translateX(-40px) translateY(-12px); */
}
}