@import "shared";

:host {
  display: block;
}

.SelectTeammates {
  &-title {
    margin-bottom: px2vw-xl(24px);
    font-size: px2vw-xl(56px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(45px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(38px);
    }
  }

  &-subtitle {
    margin-bottom: 0;
    color: var(--base-black);
  }

  &-form {
    margin-top: px2vw-xl(58px);

    @include lg {
      margin-top: px2vw-lg(58px);
    }

    @include md {
      margin-top: px2vw-md(58px);
    }

    @include sm {
      margin-top: px2vw-sm(58px);
    }
  }

  &-search {
    position: relative;
    margin-bottom: px2vw-xl(28px);

    @include lg {
      margin-bottom: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(28px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
    }
  }

  &-search-icon {
    position: absolute;
    top: 50%;
    left: px2vw-xl(18px);
    transform: translateY(-50%);
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);

    @include lg {
      left: px2vw-lg(18px);
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
    }

    @include md {
      left: px2vw-md(18px);
      width: px2vw-md(18px);
      height: px2vw-md(18px);
    }

    @include sm {
      left: px2vw-sm(18px);
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
    }
  }

  &-search-input {
    padding-left: px2vw-xl(55px);

    @include lg {
      padding-left: px2vw-lg(55px);
    }

    @include md {
      padding-left: px2vw-md(55px);
    }

    @include sm {
      padding-left: px2vw-sm(55px);
    }
  }

  &-players {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(20px);
    grid-row-gap: px2vw-xl(20px);

    @include lg {
      grid-column-gap: px2vw-lg(20px);
      grid-row-gap: px2vw-lg(20px);
    }

    @include md {
      grid-column-gap: px2vw-md(20px);
      grid-row-gap: px2vw-md(20px);
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: px2vw-sm(20px);
      grid-row-gap: px2vw-sm(20px);
    }
  }

  &-player {
    position: relative;
    border: 1px solid var(--base-gainsboro);
    border-radius: px2vw-xl(5px);
    padding: px2vw-xl(20px) px2vw-xl(30px);
    padding-right: px2vw-xl(80px);
    cursor: pointer;
    transition: 100ms linear;

    &:hover {
      opacity: 0.85;
    }

    @include lg {
      border-radius: px2vw-lg(5px);
      padding: px2vw-lg(20px) px2vw-lg(30px);
      padding-right: px2vw-lg(80px);
    }

    @include md {
      border-radius: px2vw-md(5px);
      padding: px2vw-md(20px);
      padding-right: px2vw-md(80px);
    }

    @include sm {
      border-radius: px2vw-sm(5px);
      padding: px2vw-sm(20px) px2vw-sm(30px);
      padding-right: px2vw-sm(80px);
    }

    &.selected {
      background-color: var(--persian-indigo);

      &:hover {
        opacity: 1;
      }

      .name {
        color: var(--base-white);
      }

      .checked {
        visibility: visible;
      }
    }
  }

  &-player-photo {
    flex-shrink: 0;
    margin-right: px2vw-xl(25px);
    width: px2vw-xl(68px);
    height: px2vw-xl(68px);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: var(--base-black-pearl);

    @include lg {
      margin-right: px2vw-lg(25px);
      width: px2vw-lg(68px);
      height: px2vw-lg(68px);
    }

    @include md {
      margin-right: px2vw-md(25px);
      width: px2vw-md(68px);
      height: px2vw-md(68px);
    }

    @include sm {
      margin-right: px2vw-sm(25px);
      width: px2vw-sm(68px);
      height: px2vw-sm(68px);
    }
  }

  &-player-name {
    margin-bottom: 0;
    font-family: "stc-forward-medium", sans-serif;
    color: var(--base-black);
  }

  &-player-checked {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: px2vw-xl(23px);
    transform: translateY(-50%);
    width: px2vw-xl(31px);
    height: px2vw-xl(31px);

    @include lg {
      right: px2vw-lg(23px);
      width: px2vw-lg(31px);
      height: px2vw-lg(31px);
    }

    @include md {
      right: px2vw-md(23px);
      width: px2vw-md(31px);
      height: px2vw-md(31px);
    }

    @include sm {
      right: px2vw-sm(23px);
      width: px2vw-sm(31px);
      height: px2vw-sm(31px);
    }
  }

  &-buttons {
    margin-top: px2vw-xl(75px);

    @include lg {
      margin-top: px2vw-lg(60px);
      justify-content: flex-start;
    }

    @include md {
      margin-top: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(40px);
    }
  }

  &-button {
    margin-left: px2vw-xl(20px);

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }

    &:first-child {
      margin-left: 0;
    }

    &.back {
      min-width: px2vw-xl(110px);

      @include lg {
        min-width: px2vw-lg(110px);
      }

      @include md {
        min-width: px2vw-md(110px);
      }

      @include sm {
        min-width: px2vw-sm(110px);
      }
    }

    &.confirm {
      min-width: px2vw-xl(152px);

      @include lg {
        min-width: px2vw-lg(152px);
      }

      @include md {
        min-width: px2vw-md(152px);
      }

      @include sm {
        min-width: px2vw-sm(152px);
      }
    }
  }
}
