<div class="SelectTeammates">
  <h1 class="SelectTeammates-title global-Title">
    {{ "SELECT_TEAMMATES.TITLE" | translate }}
  </h1>
  <p class="SelectTeammates-subtitle global-Text">
    {{ "SELECT_TEAMMATES.SUBTITLE" | translate }}
  </p>

  <form class="SelectTeammates-form">
    <!-- <div class="SelectTeammates-search">
      <img
        class="SelectTeammates-search-icon"
        src="assets/icons/search-orange.svg"
        alt="search icon"
      />

      <input class="SelectTeammates-search-input form-control" type="text" />
    </div> -->

    <ul *ngIf="members.length" class="SelectTeammates-players">
      <li
        class="SelectTeammates-player u-dfCenterStart"
        *ngFor="let player of members; let idx = index"
        (click)="selectPlayer(idx, player)"
        [ngClass]="{ selected: player.isSelected }"
      >
        <div
          class="SelectTeammates-player-photo"
          [style.background-image]="'url(' + player.userId.profilePicture + ')'"
          *ngIf="player.userId.profilePicture"
        ></div>
        <div
          class="SelectTeammates-player-photo"
          [style.background-image]="
            'url(./assets/images/Profile/stc_avatar.png)'
          "
          *ngIf="!player.userId.profilePicture"
        ></div>
        <h3 class="SelectTeammates-player-name name global-Text">
          {{
            player.userId?.fullName
              ? (player.userId?.fullName  | limitString : 17:'...')
              : (player.userId?.username | limitString : 17:'...')
          }}
        </h3>

        <img
          class="SelectTeammates-player-checked checked"
          src="assets/icons/player-checked.svg"
          alt="checked"
        />
      </li>
    </ul>
  </form>

  <div class="SelectTeammates-buttons u-dfCenterEnd">
    <button
      class="SelectTeammates-button global-EditBtn dark-text back"
      (click)="goBack()"
    >
      {{ "BUTTON.BACK" | translate }}
    </button>

    <button
      [disabled]="isDisable"
      class="SelectTeammates-button global-EditBtn confirm"
      (click)="submitMember()"
    >
      {{ "BUTTON.CONFIRM" | translate }}
    </button>
  </div>
</div>
