@import "shared";

:host {
  display: block;
  overflow: hidden;
}

.Profile {
  display: grid;
  grid-template-columns: px2vw-xl(226px) minmax(0, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: px2vw-xl(64px);
  grid-row-gap: px2vw-xl(64px);

  @include lg {
    grid-template-columns: px2vw-lg(226px) minmax(0, 1fr);
    grid-column-gap: px2vw-lg(64px);
    grid-row-gap: px2vw-lg(64px);
  }

  @include md {
    grid-template-columns: px2vw-md(226px) minmax(0, 1fr);
    grid-column-gap: px2vw-md(64px);
    grid-row-gap: px2vw-md(64px);
  }

  @include sm {
    grid-template-columns: px2vw-sm(226px) minmax(0, 1fr);
    grid-column-gap: px2vw-sm(64px);
    grid-row-gap: px2vw-sm(64px);
  }
}

.Profile-nav {
  margin-top: px2vw-xl(120px);
  margin-bottom: px2vw-xl(10px);
  width: 280px;

  @include lg {
    margin-top: px2vw-lg(34px);
  }

  @include md {
    margin-top: px2vw-md(34px);
  }

  @include sm {
    margin-top: px2vw-sm(34px);
  }

  &-links-collapsed {
    padding-bottom: px2vw-xl(8px);

    @include lg {
      padding-bottom: px2vw-lg(8px);
    }

    @include md {
      padding-bottom: px2vw-md(8px);
    }

    @include sm {
      padding-bottom: px2vw-sm(8px);
    }
  }

  &-links-tournaments {
    padding-left: px2vw-xl(16px);

    @include lg {
      padding-left: px2vw-lg(16px);
    }

    @include md {
      padding-left: px2vw-md(16px);
    }

    @include sm {
      padding-left: px2vw-sm(16px);
    }
  }

  &-link-main {
    @extend %u-dfCenter;
    margin-top: px2vw-xl(8px);
    padding: px2vw-xl(12px) px2vw-xl(20px);
    transition: $global-transition;

    @include lg {
      margin-top: px2vw-lg(8px);
      padding: px2vw-lg(12px) px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(8px);
      padding: px2vw-md(12px) px2vw-md(20px);
    }

    @include sm {
      margin-top: px2vw-sm(8px);
      padding: px2vw-sm(12px) px2vw-sm(20px);
    }

    mat-icon {
      @extend %u-dfCenterCenter;
      flex-shrink: 0;
      margin-right: px2vw-xl(20px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
      font-size: px2vw-xl(24px);
      color: var(--white-medium);
      transition: inherit;

      @include lg {
        margin-right: px2vw-lg(24px);
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
        font-size: px2vw-lg(20px);
      }

      @include md {
        margin-right: px2vw-md(24px);
        height: px2vw-md(24px);
        width: px2vw-md(24px);
        font-size: px2vw-md(20px);
      }

      @include sm {
        margin-right: px2vw-sm(24px);
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
        font-size: px2vw-sm(20px);
      }
    }

    span {
      @extend %body-1;
      color: var(--white-medium);
      transition: inherit;
    }

    &.active {
      background-color: var(--color-primary);

      mat-icon,
      span {
        color: var(--black);
      }
    }

    &.first {
      margin-top: 0;
    }

    &:hover:not(.active) {
      mat-icon,
      span {
        color: var(--color-secondary);
      }
    }
  }

  &-link {
    @extend %u-dfCenterBtw;
    @extend %body-1;
    margin-top: px2vw-xl(4px);
    padding: px2vw-xl(8px) px2vw-xl(16px);
    width: 100%;
    color: var(--white-medium);
    transition: $global-transition;

    @include lg {
      margin-top: px2vw-lg(4px);
      padding: px2vw-lg(8px) px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(4px);
      padding: px2vw-md(8px) px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(4px);
      padding: px2vw-sm(8px) px2vw-sm(16px);
    }

    &:hover:not(.active) {
      color: var(--color-primary);
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--black);

      .inbox {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  &-link-inbox {
    @extend %caption;
    margin-left: px2vw-xl(10px);
    border-radius: px2vw-xl(20px);
    padding: px2vw-xl(2px) px2vw-xl(6px);
    background-color: var(--color-tertiary);
    transition: $global-transition;

    @include lg {
      margin-left: px2vw-lg(10px);
      border-radius: px2vw-lg(20px);
      padding: px2vw-lg(2px) px2vw-lg(6px);
    }

    @include md {
      margin-left: px2vw-md(10px);
      border-radius: px2vw-md(20px);
      padding: px2vw-md(2px) px2vw-md(6px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
      border-radius: px2vw-sm(20px);
      padding: px2vw-sm(2px) px2vw-sm(6px);
    }
  }

  &-bottom {
    margin-top: px2vw-xl(12px);
    border-top: px2vw-xl(1px) solid var(--white-smoke);
    padding-top: px2vw-xl(4px);

    @include lg {
      margin-top: px2vw-lg(12px);
      border-top-width: px2vw-lg(1px);
      padding-top: px2vw-lg(4px);
    }

    @include md {
      margin-top: px2vw-md(12px);
      border-top-width: px2vw-md(1px);
      padding-top: px2vw-md(4px);
    }

    @include sm {
      margin-top: px2vw-sm(12px);
      border-top-width: px2vw-sm(1px);
      padding-top: px2vw-sm(4px);
    }
  }
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-subtitle {
    @extend %caption;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }
}

.Dashboard-cards {
  margin-top: 10px;
  &-item {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    background: var(--gradient-bg);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-value {
    @extend %subtitle-1;
    margin-bottom: 0;
  }
}

.Profile-content {
  margin-left: 50px;
}

.border {
  border: 0.0694444444vw solid var(--white-light) !important;
  border-radius: px2vw-xl(4px);
  padding: px2vw-xl(16px);
  background: var(--gradient-bg);
  margin-bottom: 10px;
}


.tournament_box{
  border: 0.0694444444vw solid var(--white-light);
  border-radius: 0.2777777778vw;
  padding: 1.1111111111vw;
  background: var(--gradient-bg);
  margin-top: 10px;
  .this_image{
    width: 97px;
    margin-bottom: 10px;
    img{
      width: 100%;
    }
  }

  h5{
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
  }
  small{
    color: rgba(255, 255, 255, 0.6);
  }
}

.not-available {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}