@import "shared";

$--show-comments-bg: var(--gradient-bg-drk8), var(--gradient-bg-drk3);

.Discussion {
  &-title {
    margin-bottom: px2vw-xl(16px);
    @include xxl {
      margin-bottom: px2vw-xxl(16px);
    }
    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }
  .Discussion-comments,
  .Discussion-add-message {
    max-width: px2vw-xl(700px);
    margin: 0 auto;
    @include xxl {
      max-width: px2vw-xxl(700px);
    }
    @include lg {
      max-width: px2vw-xxl(700px);
    }
    @include md {
      max-width: px2vw-md(700px);
    }
    @include sm {
      max-width: px2vw-sm(700px);
    }
  }
  .Discussion-comments {
    margin-bottom: px2vw-xl(56px);
    @include xxl {
      margin-bottom: px2vw-xxl(56px);
    }
    @include lg {
      margin-bottom: px2vw-lg(56px);
    }
    @include md {
      margin-bottom: px2vw-md(56px);
    }
    @include sm {
      margin-bottom: px2vw-sm(56px);
    }
  }
  &-subtitle {
    text-align: center;
  }

  &-comments-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(32px);
    @include xxl {
      margin-bottom: px2vw-xxl(32px);
    }
    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-comment {
    overflow: hidden;
    border-radius: px2vw-xl(4px);
    @include xxl {
      border-radius: px2vw-xxl(4px);
    }
    @include lg {
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
    }
  }

  &-show-hide-comment {
    @extend %global-H7;
    position: relative;
    border: none;
    height: px2vw-xl(56px);
    width: 100%;
    text-align: center;
    background: $--show-comments-bg;
    text-transform: inherit;
    @include xxl {
      height: px2vw-xxl(56px);
    }
    @include lg {
      height: px2vw-lg(56px);
    }

    @include md {
      height: px2vw-md(56px);
    }

    @include sm {
      height: px2vw-sm(56px);
    }
    span {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        right: px2vw-xl(-20px);
        top: px2vw-xl(7px);
        height: px2vw-xl(5px);
        width: px2vw-xl(10px);
        transition: $global-transition;
        background-image: url(/assets/icons/arrow-down.svg);
        background-size: cover;
        @include xxl {
          height: px2vw-xxl(5px);
          width: px2vw-xxl(10px);
          right: px2vw-xxl(-20px);
          top: px2vw-xxl(7px);
        }
        @include lg {
          height: px2vw-lg(5px);
          width: px2vw-lg(10px);
          right: px2vw-lg(-20px);
          top: px2vw-lg(7px);
        }

        @include md {
          height: px2vw-md(5px);
          width: px2vw-md(10px);
          right: px2vw-md(-20px);
          top: px2vw-md(7px);
        }

        @include sm {
          height: px2vw-sm(6px);
          width: px2vw-sm(12px);
          right: px2vw-sm(-25px);
          top: px2vw-sm(7px);
        }
      }

      &.is-active::after {
        transform: rotate(180deg);
      }
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &-comment-list {
    overflow-y: scroll;
    padding-right: px2vw-xl(100px);
    max-height: px2vw-xl(600px);
    @include xxl {
      max-height: px2vw-xxl(600px);
      padding-right: px2vw-xxl(100px);
    }
    @include lg {
      max-height: px2vw-lg(600px);
      padding-right: px2vw-lg(100px);
    }

    @include md {
      max-height: px2vw-md(600px);
      padding-right: px2vw-md(30px);
    }

    @include sm {
      max-height: px2vw-sm(600px);
      padding-right: px2vw-sm(30px);
    }
  }

  &-comment-item {
    display: flex;
    margin-top: px2vw-xl(32px);
    @include xxl {
      margin-top: px2vw-xxl(32px);
    }
    @include lg {
      margin-top: px2vw-lg(32px);
    }

    @include md {
      margin-top: px2vw-md(32px);
    }

    @include sm {
      margin-top: px2vw-sm(32px);
    }
  }

  &-comment-image {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    height: px2vw-xl(40px);
    width: px2vw-xl(40px);
    background-size: cover;
    background-position: center;
    transition: $global-transition;
    @include xxl {
      height: px2vw-xxl(40px);
      width: px2vw-xxl(40px);
    }
    @include lg {
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }

    @include md {
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }

    @include sm {
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
    }
  }

  &-comment-description {
    margin-left: px2vw-xl(16px);
    width: 100%;
    @include xxl {
      margin-left: px2vw-xxl(16px);
    }
    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }

    ::ng-deep .Message {
      margin-top: px2vw-xl(20px);
      @include xxl {
        margin-top: px2vw-xxl(20px);
      }
      @include lg {
        margin-top: px2vw-lg(20px);
      }

      @include md {
        margin-top: px2vw-md(20px);
      }

      @include sm {
        margin-top: px2vw-sm(20px);
      }
    }
  }

  &-comment-header {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(18px);
    @include xxl {
      margin-bottom: px2vw-xxl(18px);
    }
    @include lg {
      margin-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
    }
  }

  &-comment-about {
    margin-right: px2vw-xl(16px);
    @include xxl {
      margin-right: px2vw-xxl(16px);
    }
    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-comment-header-author {
    @extend %subtitle-1;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  &-comment-header-date {
    @extend %caption;
    margin-bottom: 0;
    color: var(--white-medium);

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-comment-header-menu {
    flex-shrink: 0;
    background-color: transparent;

    mat-icon {
      height: auto;
      width: auto;
      font-size: px2vw-xl(24px);
      color: var(--white);
      @include xxl {
        font-size: px2vw-xxl(24px);
      }
      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }
  }

  &-comment-footer {
    @extend %u-dfCenter;
    margin-top: px2vw-xl(16px);
    @include xxl {
      margin-top: px2vw-xxl(16px);
    }
    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }

  &-comment-info {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(15px);
    min-width: px2vw-xl(40px);
    @include xxl {
      margin-right: px2vw-xxl(15px);
      min-width: px2vw-xxl(40px);
    }
    @include lg {
      margin-right: px2vw-lg(15px);
      min-width: px2vw-lg(40px);
    }

    @include md {
      margin-right: px2vw-md(15px);
      min-width: px2vw-md(40px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      min-width: px2vw-sm(40px);
    }

    &.edit {
      min-width: auto;
    }
  }

  &-comment-info-icon {
    @extend %u-dfCenter;
    height: auto;
    width: auto;
    font-size: px2vw-xl(20px);
    color: var(--white);
    transition: $global-transition;
    cursor: pointer;
    @include xxl {
      font-size: px2vw-xxl(20px);
    }
    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &.like.is-active {
      color: var(--color-sunset-orange);
    }
  }

  &-comment-info-value {
    margin-left: px2vw-xl(8px);
    font-weight: bold;
    @include xxl {
      margin-left: px2vw-xxl(8px);
    }
    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }
  }

  &-comment-reply {
    @extend %body-2;
    background-color: transparent;
    color: var(--color-secondary);
  }

  &-message {
    width: 100%;
  }

  &-load-more-comments {
    cursor: pointer;
  }

  &-load-more-replies {
    cursor: pointer;
  }

  &-add-message {
    margin-top: px2vw-xl(56px);
    border-top: 1px solid var(--white-light);
    padding-top: px2vw-xl(56px);
    @include xxl {
      margin-top: px2vw-xxl(56px);
      padding-top: px2vw-xxl(56px);
    }
    @include lg {
      margin-top: px2vw-lg(56px);
      padding-top: px2vw-lg(56px);
    }

    @include md {
      margin-top: px2vw-md(56px);
      padding-top: px2vw-md(56px);
    }

    @include sm {
      margin-top: px2vw-sm(56px);
      padding-top: px2vw-sm(56px);
    }
  }

  &-add-message-title {
    @extend %global-H6;
    text-transform: inherit;
    margin-bottom: px2vw-xl(24px);
    @include xxl {
      margin-bottom: px2vw-xxl(24px);
    }
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  .loading {
    display: flex;
    justify-content: center;
  }
}
::ng-deep {
  .mat-menu-panel {
    background: var(--gradient-bg-drk8), var(--gradient-bg-drk3);
    border: 1px solid var(--color-ash-med);
    box-sizing: border-box;
    border-radius: 4px;
  }
  .mat-menu-item {
    background: transparent;
    color: var(--white-medium);
  }
  .mat-menu-item[disabled],
  .mat-menu-item[disabled]::after,
  .mat-menu-item[disabled] .mat-icon-no-color {
    color: var(--white-medium);
  }
  .mat-menu-item .mat-icon-no-color,
  .mat-menu-item-submenu-trigger::after {
    color: var(--white-medium);
  }
  
}

.matMenuIconName {
  font-family: "maxis-regular";
  font-style: normal;
  font-weight: normal;
  font-size: px2vw-xl(16px);
  line-height: px2vw-xl(24px);
  @include xxl {
    font-size: px2vw-xxl(16px);
    line-height: px2vw-xxl(24px);
  }
  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(24px);
  }

  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(24px);
  }

  @include sm {
    font-size: 16px;
    line-height: 24px;
  }
}
.Discussion-comments-list .Discussion-comment-image-block {
  position: relative;
  &::after {
    content: "";
    height: 100%;
    width: 1px;
    background-color: var(--white-light);
    top: 50px;
    left: 50%;
    position: absolute;
  }
}
.Discussion-comment-image-block {
  &::after {
    background-color: transparent;
  }
}
