@import "shared";

:host {
  display: block;
}
.lowercase {
  text-transform: lowercase;
}
.prefix {
  vertical-align: super;
}
.SubmitForm {
  .error-icon {
    color: var(--ui-error);
  }
  ::ng-deep .mat-form-field {
    width: 100%;
    margin-bottom: 0;
    .mat-input-element {
      @extend %body-S-Medium;
      -webkit-text-fill-color: var(--color-primary-disabled);
      color: var(--color-primary-disabled) !important;
      @include md {
        font-size: px2vw-md(21px);
        font-family: "Paralucent-Light", san-serif;
      }
      @include sm {
        font-size: px2vw-sm(24px);
        font-family: "Paralucent-Light", san-serif;
      }
    }
    .mat-input-element {
      caret-color: var(--cart-color) !important;
      line-height: inherit;
    }
    &.mat-form-field-appearance-outline .mat-form-field-flex {
      align-items: center !important;
      @include sm {
        padding: px2vw-sm(13px) px2vw-sm(16px) px2vw-sm(13px) px2vw-sm(20px);
      }
    }
  }
  &-span {
    position: absolute;
    right: px2vw-xl(10px);
    bottom: px2vw-xl(3px);
    margin-top: px2vw-xl(10px);
    font-size: 90%;
    cursor: pointer;
    @include lg {
      right: px2vw-lg(10px);
      bottom: px2vw-lg(3px);
      margin-top: px2vw-lg(10px);
    }
    @include md {
      right: px2vw-md(10px);
      bottom: px2vw-md(3px);
      margin-top: px2vw-md(10px);
    }
    @include sm {
      right: px2vw-sm(10px);
      bottom: px2vw-sm(3px);
      margin-top: px2vw-sm(10px);
    }
  }
  &-checkbox {
    margin-bottom: px2vw-xl(15px);
    color: var(--base-submarine);
    text-align: left;
    @include lg {
      margin-bottom: px2vw-lg(30px);
    }
    @include md {
      margin-bottom: px2vw-md(30px);
    }
    @include sm {
      display: block;
      // flex-direction: column-reverse;
      align-items: flex-start !important;
      margin-bottom: px2vw-sm(30px);
      margin-top: px2vw-sm(14px);
      .global-IconBtn {
        align-self: flex-end;
        margin-bottom: px2vw-sm(20px);
        b.reg {
          font-size: px2vw-xl(15px) !important;
        }
      }
    }
    ::ng-deep .mat-checkbox-inner-container {
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
      @include lg {
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }
      @include md {
        height: px2vw-md(28px);
        width: px2vw-md(28px);
        margin-right: px2vw-md(12px);
        margin-top: px2vw-md(-3px);
      }
      @include sm {
        height: px2vw-sm(30px);
        width: px2vw-sm(30px);
        margin-right: px2vw-sm(15px);
        margin-top: px2vw-sm(-3px);
      }
    }
    ::ng-deep .mat-checkbox-label {
      @extend %body-S-Demi;
      margin-left: px2vw-xl(12px);
      display: inline-block;
      white-space: initial;
      @include lg {
        margin-left: px2vw-lg(12px);
      }
      @include md {
        margin-left: px2vw-md(12px);
      }
      @include sm {
        margin-left: px2vw-sm(12px);
      }
      a {
        color: var(--txt-secondry-border);
      }
    }

    &.is-forgotPass {
      @extend %u-dfCenterBtw;
      @include sm {
        display: block;
      }
    }
  }
  &-submit {
    margin-bottom: px2vw-xl(28px);
    margin-top: px2vw-xl(27px);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    @include lg {
      margin-bottom: px2vw-lg(16px);
      margin-top: px2vw-lg(27px);
    }
    @include md {
      margin-top: px2vw-md(34px);
      margin-bottom: px2vw-md(32px);
    }
    @include sm {
      margin-top: px2vw-sm(42px);
      margin-bottom: px2vw-sm(41px);
    }
    button {
      width: 100%;
    }
  }
  .link_forgot {
    @extend %body-S-Demi;
    color: var(--color-skyblue);
    // letter-spacing: px2vw-xl(-1px);
    @include md {
      font-size: px2vw-md(18px);
    }
    @include sm {
      font-size: px2vw-sm(23px);
      width: 100%;
      display: inline-block;
      margin-top: px2vw-sm(16px);
    }
  }
  &-or,
  &-or-label {
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);
    @include lg {
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }
    @include md {
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  &-or {
    margin-bottom: px2vw-xl(6px);
    color: var(--base-gainsboro);
    @include lg {
      margin-bottom: px2vw-lg(6px);
    }
    @include md {
      margin-bottom: px2vw-md(6px);
    }
    @include sm {
      margin-bottom: px2vw-sm(6px);
    }
  }

  &-or-label {
    margin-bottom: px2vw-xl(60px);
    color: var(--base-black-pearl);
    @include lg {
      margin-bottom: px2vw-lg(60px);
    }
    @include md {
      margin-bottom: px2vw-md(60px);
    }
    @include sm {
      margin-bottom: px2vw-sm(60px);
    }
  }

  &-social {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(50px);
    @include lg {
      margin-bottom: px2vw-lg(50px);
    }
    @include md {
      margin-bottom: px2vw-md(50px);
    }
    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
    &-btn {
      width: px2vw-xl(55px);
      height: px2vw-xl(55px);
      line-height: px2vw-xl(60px);
      text-align: center;
      border-radius: 50%;
      background: var(--white-medium);
      @include lg {
        width: px2vw-lg(55px);
        height: px2vw-lg(55px);
        line-height: px2vw-lg(60px);
      }
      @include md {
        width: px2vw-md(55px);
        height: px2vw-md(55px);
        line-height: px2vw-md(60px);
      }
      @include sm {
        width: px2vw-sm(55px);
        height: px2vw-sm(55px);
        line-height: px2vw-sm(60px);
      }
      fa-icon {
        font-size: px2vw-xl(27px);
        color: var(--base-black);
        @include lg {
          font-size: px2vw-lg(27px);
        }
        @include md {
          font-size: px2vw-md(27px);
        }
        @include sm {
          font-size: px2vw-sm(27px);
        }
      }
    }
  }

  &-footer {
    @extend %body-S-Demi;
    border-top: 1px solid var(--base-gainsboro);
    margin-bottom: px2vw-xl(50px);
    color: var(--txt-secondry-border);
    text-align: center;
    @include lg {
      margin-bottom: px2vw-lg(10px);
    }
    @include md {
      margin-top: px2vw-md(24px);
      margin-bottom: px2vw-md(10px);
    }
    @include sm {
      margin-bottom: px2vw-sm(10px);
      margin-top: px2vw-sm(28px);
    }
    &-link {
      @extend %body-S-Demi;
      color: var(--txt-secondry-border);
      @include md {
        font-size: px2vw-md(19px);
        margin-top: px2vw-md(20px);
      }
      @include sm {
        font-size: px2vw-sm(24px);
        margin-top: px2vw-sm(20px);
      }
    }
  }
  &-privacy-policy {
    text-align: center;
  }
  .underline {
    text-decoration: none;
    color: var(--primary-sunset-light);
  }
  .txt_field {
    margin-top: px2vw-xl(16px);
    @include lg {
      margin-top: px2vw-lg(16px);
    }
    @include md {
      margin-top: px2vw-md(16px);
    }
    @include sm {
      margin-top: px2vw-sm(16px);
    }
    label {
      @extend %body-S-Demi;
      color: var(--txt-secondry-active);
    }
  }
}
.date_calendar {
  color: var(--txt-secondry-active);
}
.login_form {
  .login_link {
    @extend %body-S-Medium;
  }
}
.captcha {
  margin-bottom: px2vw-xl(15px);
  @include lg {
    margin-bottom: px2vw-lg(15px);
  }
  @include md {
    margin-bottom: px2vw-md(15px);
  }
  @include sm {
    margin-bottom: px2vw-sm(15px);
  }
}
.link-loginby {
  margin-bottom: 16px;
  @include lg {
    margin-bottom: px2vw-lg(34px);
  }
  @include md {
    margin-bottom: px2vw-md(30px);
  }
  @include sm {
    margin-bottom: px2vw-sm(40px);
  }
  span {
    @extend %body-M-Medium;
    font-size: px2vw-xl(17px);
    @include lg {
      font-size: px2vw-lg(18px);
    }
    @include md {
      font-size: px2vw-md(22px);
    }
    @include sm {
      font-size: px2vw-sm(26px);
    }
  }
}
.form_field {
  span.label {
    @extend %body-S-Demi;
    color: var(--txt-secondry-active);
    @include md {
      font-size: px2vw-md(19px);
      line-height: px2vw-md(34px);
    }
    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(44px);
    }
  }
}
