<header class="BookmarkCard-header">
    <h4 class="BookmarkCard-header-title global-Elipses">
      Clips
      <!-- {{
      currentLang === "english"
      ? data.title?.english
      : data.title?.english
      }} -->
    </h4>

    <!-- <div class="BookmarkCard-header-control">
      <mat-icon class="BookmarkCard-header-control-icon bookmark">
        bookmark
      </mat-icon>
      <mat-icon (click)="openSocialShareComponent()" class="BookmarkCard-header-control-icon"> share </mat-icon>
    </div> -->
  </header>

  <!-- <div class="BookmarkCard-content">
    <div class="BookmarkCard-content-image" >
      <img class="BookmarkCard-content-image-icon"  lazyLoad="assets/icons/video-player/play-button.svg"
        alt="icon" />
    </div>

    <div class="BookmarkCard-content-info">
      <p class="BookmarkCard-content-description global-Elipses2">
        {{
        !isVideo?
        currentLang === "english"
        ? data.shortDescription?.english
        : data.shortDescription?.english
        :currentLang === "english"
        ? data.description?.english
        : data.description?.english
        }}
      </p>



      <div class="BookmarkCard-content-details">
        <span class="BookmarkCard-content-detail">
          {{ data.author }}
        </span>

        <span class="BookmarkCard-content-detail" >
          {{ data.views || 0 }}
          {{ "PROFILE.BOOKMARKS.VIEWS" | translate }}
        </span>
        <p class="BookmarkCard-content-dot"></p>
        <span class="BookmarkCard-content-detail">
          {{ data.createdDate|date }}
        </span>
      </div>
    </div>
  </div> -->


