<div class="container-winners">
  <h2>{{ "ELIMINATION.AWARD_TITLE" | translate }}</h2>
  <div class="row">
    <div class="col-lg-3 col-md-4" [hidden]="!championList[1]">
      <div class="row">
        <div
          class="img-winner"
          [ngStyle]="{
            'background-image':
              'url(' + championList[1]?.logo ||
              'assets/images/profile/avatar.png' + ')'
          }"
        ></div>
        <p>{{ championList[1]?.teamName }}</p>
      </div>
      <div class="place second">
        <div></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4" [hidden]="!championList[0]">
      <div class="row">
        <div
          class="img-winner"
          [ngStyle]="{
            'background-image':
              'url(' + championList[0]?.logo ||
              'assets/images/profile/avatar.png' + ')'
          }"
        ></div>
        <p>{{ championList[0]?.teamName }}</p>
      </div>
      <div class="place first">
        <div></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4" [hidden]="!championList[2]">
      <div class="row">
        <div
          class="img-winner"
          [ngStyle]="{
            'background-image':
              'url(' + championList[2]?.logo ||
              'assets/images/profile/avatar.png' + ')'
          }"
        ></div>
        <p>{{ championList[2]?.teamName }}</p>
      </div>
      <div class="place three">
        <div></div>
      </div>
    </div>
  </div>
</div>
