@import "shared";

:host {
  display: block;
  height: 100%;
}

.LogReg {
  max-width: px2vw-xl(1836px);
  padding: px2vw-xl(40px) 0;
  display: flex;
  align-items: center;
  margin: auto;
  height: 100%;

  @include lg {
    max-width: none;
    padding: px2vw-lg(20px) px2vw-lg(15px);
    height: auto;
  }

  @include md {
    flex-direction: column;
    padding: px2vw-md(15px);
  }

  @include sm {
    padding: px2vw-sm(18px);
  }

  &-image-block {
    position: relative;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    width: px2vw-xl(800px);
    height: px2vw-xl(900px);

    margin-top: auto;
    
   

    @include lg {
      width: px2vw-lg(800px);
      height: 90vh;
      margin-top: 0 !important;
    }

    @include md {
      background-position: top;
      margin-bottom: px2vw-md(20px);
      height: px2vw-md(160px);
      width: 100%;
      margin-top: 0 !important;
       display: none;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      height: px2vw-sm(150px);
      margin-top: 0 !important;
      display: none;
    }
  }

  

  &-logo-block {
    position: absolute;
    left: px2vw-xl(20px);
    top: px2vw-xl(20px);
    cursor: pointer;

    @include lg {
      left: px2vw-lg(20px);
      top: px2vw-lg(20px);
    }

    @include md {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-logo-image {
    width: px2vw-xl(200px);

    @include lg {
      width: px2vw-lg(200px);
    }

    @include md {
      width: px2vw-md(200px);
    }

    @include sm {
      width: px2vw-sm(200px);
    }
  }

  &-main {
    margin-left: px2vw-xl(150px);
    max-width: px2vw-xl(570px);
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: auto;
    padding-bottom: px2vw-xl(300px);

    @include lg {
      margin-left: px2vw-lg(20px);
      max-width: px2vw-lg(570px);
      padding-bottom: px2vw-lg(300px);
    }

    @include md {
      margin-left: 0;
      max-width: px2vw-md(570px);
      padding-bottom: px2vw-md(200px);
      margin-top: px2vw-md(70px);
    }

    @include sm {
      max-width: none;
      padding-bottom: px2vw-sm(200px);
      margin-top: px2vw-sm(70px);
    }

    &-logo {
      margin: 0 auto px2vw-xl(80px);
      display: block;
      text-align: center;

      @include lg {
        margin: 0 auto px2vw-lg(80px);
      }

      @include md {
        margin: 0 auto px2vw-md(80px);
      }

      @include sm {
        margin: 0 auto px2vw-sm(80px);
      }

      img {
        width: px2vw-xl(190px);

        @include lg {
          width: px2vw-lg(190px);
        }

        @include md {
          width: px2vw-md(190px);
        }

        @include sm {
          width: px2vw-sm(190px);
        }
      }
    }
  }
}


.SubmitForm {
  &-footer {
    text-align: center;
    border-top: 1px solid var(--base-gainsboro);
    margin-bottom: px2vw-xl(10px);
    padding-top: px2vw-xl(32px);
    font-family: "stc-forward-regular", sans-serif;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(24px);
    letter-spacing: 0.9px;
    color: var(--base-black-pearl);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      padding-top: px2vw-lg(32px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      padding-top: px2vw-md(32px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      padding-top: px2vw-sm(32px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(24px);
    }

    &-link {
      color: var(--primary-sunset-light);
    }
  }

  &-privacy-policy {
    text-align: center;
  }
}
.underline {
  text-decoration: none;
  color: var(--base-submarine);
  border-bottom: var(--primary-sunset-light) 2px solid;
}
