<div class="InputTooltip u-dfCenterStart">
  <button class="btn btn-back">
    <img src="assets/icons/icon-back.svg" alt="..">
    Back</button>
  <div class="InputTooltip-button" (click)="ok()">
   NEXT
  </div>
  <!-- <div class="InputTooltip-button" (click)="ok()">
    {{ buttonText }}
  </div> -->

  <!-- <p class="InputTooltip-title">
    {{ title }}
  </p> -->

  <!-- <img
    *ngIf="showIcon"
    class="InputTooltip-icon"
    src="assets/icons/tournament/arrow-left.svg"
    alt="arrow icon"
  /> -->
</div>
