@import "shared";

:host {
  display: block;
}

.AboutTournament {
  @include lg {
    display: flex;
    align-items: center;
  }

  @include md {
    align-items: flex-start;
  }

  @include sm {
    flex-direction: column;
  }

  &-image-block {
    flex-shrink: 0;
    margin-bottom: px2vw-xl(22px);
    border-radius: px2vw-xl(10px);
    height: px2vw-xl(308px);
    width: px2vw-xl(308px);
    background-size: cover;
    background-color: var(--base-black-pearl);

    @include lg {
      margin-bottom: 0;
      border-radius: px2vw-lg(10px);
      height: px2vw-lg(308px);
      width: px2vw-lg(308px);
    }

    @include md {
      border-radius: px2vw-md(10px);
      height: px2vw-md(390px);
      width: px2vw-md(308px);
      background-position: center;
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(308px);
      width: 100%;
    }
  }

  &-wrapper {
    @include lg {
      flex-grow: 1;
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: 0;
      width: 100%;
    }
  }

  &-info {
    margin-bottom: px2vw-xl(25px);
    border-bottom: 1px solid var(--base-gainsboro);
    padding-bottom: px2vw-xl(25px);

    @include lg {
      margin-bottom: px2vw-lg(20px);
      padding-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(25px);
      padding-bottom: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
      padding-bottom: px2vw-sm(25px);
    }
  }

  &-info-title {
    margin-bottom: px2vw-xl(14px);
    font-size: px2vw-xl(20px);
    @include textClamp(2);

    @include lg {
      margin-bottom: px2vw-lg(14px);
      font-size: px2vw-lg(20px);
      line-height: 1.2;
    }

    @include md {
      margin-bottom: px2vw-md(14px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(14px);
      font-size: px2vw-sm(24px);
    }
  }

  &-info-detail {
    @extend %global-Text;
    margin-bottom: 0;
    line-height: 1.4;

    @include md {
      line-height: 1.7;
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &.date {
    }

    &.players {
    }
  }

  &-content {
    @include lg {
      display: flex;
      align-items: flex-end;
    }

    @include md {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-about {
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-xl(15px);
    }

    @include md {
      margin-right: 0;
    }
  }

  &-about-item {
    margin-bottom: px2vw-xl(10px);

    @include lg {
      margin-bottom: px2vw-lg(17px);
    }

    @include md {
      margin-bottom: px2vw-md(17px);
    }

    @include sm {
      margin-bottom: px2vw-sm(19px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-about-icon-block {
    margin-right: px2vw-xl(22px);
    width: px2vw-xl(30px);

    @include lg {
      margin-right: px2vw-lg(22px);
      width: px2vw-lg(30px);
    }

    @include md {
      margin-right: px2vw-md(22px);
      width: px2vw-md(30px);
    }

    @include sm {
      margin-right: px2vw-sm(22px);
      width: px2vw-sm(30px);
    }
  }

  &-about-icon {
    max-width: 100%;
  }

  &-about-icon-hide {
    opacity: 0;
  }

  &-about-text {
    @extend %global-Text;
    color: var(--base-black);

    @include sm {
      font-size: px2vw-sm(20px);
    }
  }

  &-time {
    margin-top: px2vw-xl(25px);

    @include lg {
      margin-top: 0;
      margin-left: auto;
    }

    @include md {
      margin-top: px2vw-md(15px);
      margin-left: 0;
    }

    @include sm {
      margin-top: px2vw-sm(25px);
      width: 100%;
    }
  }

  &-time-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: px2vw-xl(45px);

    @include lg {
      min-width: px2vw-lg(45px);
    }

    @include md {
      min-width: px2vw-md(45px);
    }

    @include sm {
      min-width: px2vw-sm(45px);
    }
  }

  &-time-number {
    @extend %global-Title4;
    margin-bottom: px2vw-xl(10px);
    line-height: 1;

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-time-title {
    @extend %global-Text;
    font-family: "stc-forward-medium", sans-serif;
    color: var(--base-black);
  }

  &-time-separator {
    @extend %global-Title4;
    margin: 0 auto;
    line-height: 1;

    @include lg {
      margin: 0 px2vw-lg(7px);
    }

    @include md {
      margin: 0 px2vw-md(10px);
    }

    @include sm {
      margin: 0 auto;
    }
  }
}
