<div class="PreviewSlider">
  <div class="PreviewSlider-block position-relative">
    <ngb-carousel class="UpcomingSlider-carousel" #slider *ngIf="slides">
      <ng-template ngbSlide *ngFor="let slide of slides">
        <div class="container-fluid banner py-5" [lazyLoad]="slide?.bannerFileUrl">
          <div class="row align-items-center slider-text">
            <div class="col-lg-6 mt-5 mt-md-0">
              <!--<div class="PreviewSlider-slide"></div>-->
              <div class="p-lg-5 p-2">
                <div class="banner-title crop-text-2">
                  {{slide?.title?.english}}
                </div>
                <div class="banner-content">
                  {{slide?.sub_title?.english}}
                </div>
                <a [href]="slide?.destination">
                <div class="banner-button">
                  <div>{{slide?.button_text?.english}}</div>
                </div>
              </a>
                <div class="banner-hint">
                  <!-- {{ "HOME.BUTTON.DOLOR_ELEMENTUM" | translate }} -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
    <!-- <a (click)="scroll()"  class="home-view-more position-absolute">
      <img src="../../assets/images/Home/icon_home_more_dark.svg">
    </a> -->
  </div>
</div>
