@import "shared";

.styleforbut{
  display: flex;
  float: right;
}

button{
  z-index: 1;
  margin-top: -32px;
  margin-right: 65px;
}



.mar{
  margin-right: 10px;

}
#bg {
  position: fixed;
  top: 0;

  display: inline-block;
  // z-index: 1;
  /* Preserve aspet ratio */
  min-width: 80%;
  min-height: 80%;
  cursor: default;
}
