<div class="BookmarkCard" *ngFor="let item of data" [routerLink]="[AppHtmlRoutes.videosView, item?.slug]">
  <div class="BookmarkCard-thumbnail">
    <img [src]="item?.thumbnailUrl" alt="">
    <span class="icon" inlineSVG="assets/icons/video-player/play-button.svg"></span>
  </div>
  <div class="BookmarkCard-description">
    <div class="avatar">
      <img src="../../../../../assets/images/Profile/avatar-2.png" alt="">
    </div>
    <div class="description">
      <h4 class="title">{{item?.title?.english}}</h4>
      <p class="text hostBy">{{item?.description?.english}}</p>
      <p class="text views-time">{{ item?.views || 0 }} {{ "MANAGE_TEAM.VIEWS" | translate }} </p>
    </div>
  </div>
</div>
