<app-header-paidia [currentPageLink]="AppHtmlRoutes.play"
  [title]="'CREATE_TOURNAMENT.SELECT_TYPE.HEADER_TITLE' | translate"></app-header-paidia>

<div class="SelectDate">
  <div class="SelectDate-container u-wp">
    <div class="SelectDate-logo">
      <img class="SelectDate-logo-icon" src="assets/icons/create-tournament/calendar.svg" alt="icon" />
    </div>

    <main class="SelectDate-main">
      <h1 class="SelectDate-title">
        {{ "CREATE_TOURNAMENT.SELECT_DATE.TITLE" | translate }}
      </h1>

      <form class="SelectDate-fields">
        <app-tournament-date [date]='date' (dateChange)="onDateChange($event)"></app-tournament-date>

        <app-tournament-time [time]='time' (timeChange)="onTimeChange($event)"></app-tournament-time>
      </form>

      <div class="SelectDate-buttons">
        <button class="SelectDate-button button-secondary" [routerLink]="AppHtmlRoutes.play">
          {{ "BUTTON.CANCEL" | translate }}
        </button>

        <button class="SelectDate-button button-icon-secondary" routerBack> 
          <mat-icon> arrow_back </mat-icon>
          <span>
            {{ "BUTTON.BACK" | translate }}
          </span>
        </button>

        <button class="SelectDate-button button-primary" (click)="next()">
          {{ "BUTTON.NEXT" | translate }}
        </button>
      </div>
    </main>
  </div>

  <img class="SelectDate-person" src="assets/images/create-tournament/persons/1.png" alt="person image" />
</div>
