<div class="UserNotification-main">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="UserNotification-boxC-footer">
    <div class="UserNotification-boxC-footer-left">
      <form [formGroup]="inboxNotificationForm" novalidate>
        <div class="col-xl-4 col-lg-12" style="margin-left: -15px">
          <app-drop-down-select
            [title]="
              'ADMIN.USER_NOTIFICATION.LABEL.SELECT_USER_SEGMENT' | translate
            "
            [customFormControlName]="'userSegment'"
            [customFormGroup]="inboxNotificationForm"
            [dropdownList]="userSegementValues"
            [type]="'A'"
            (valueEmit)="selectType($event)"
          ></app-drop-down-select>
        </div>
        <mat-form-field
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE" | translate
          }}</mat-label>
          <input matInput id="title" type="text" formControlName="title" />
          <mat-error *ngIf="hasError('title', 'required')"
            >{{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE" | translate
            }}
            *</mat-error
          >
        </mat-form-field>

        <mat-form-field
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.USER_NOTIFICATION.LABEL.TYPE_MESSAGE" | translate
          }}</mat-label>
          <textarea
            matInput
            id="message"
            type="text"
            formControlName="message"
          ></textarea>
          <mat-error *ngIf="hasError('message', 'required')"
            >{{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.TYPE_MESSAGE"
                | translate
            }}
            *</mat-error
          >
        </mat-form-field>

        <div class="UserNotification-footer-btns">
          <button
            class="btn cancel is-sm"
            (click)="toggleEditPane(); resetControls()"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.CANCEL" | translate }}
          </button>
          <button type="submit" (click)="updateInbox()" class="btn is-sm">
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.SEND" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
