@import "shared";

.sectionA {
  margin-bottom: px2vw-xl(48px);

  @include lg {
    margin-bottom: px2vw-lg(48px);
  }

  @include md {
    margin-bottom: px2vw-md(48px);
  }

  @include sm {
    margin-bottom: px2vw-sm(48px);
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-header-reset {
    background-color: transparent;
    color: var(--base-yellow);
  }

  &-header-select {
    margin-left: px2vw-xl(16px);
    max-width: px2vw-xl(182px);

    @include lg {
      margin-left: px2vw-lg(16px);
      max-width: px2vw-lg(182px);
    }

    @include md {
      margin-left: px2vw-md(16px);
      max-width: px2vw-md(182px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
      max-width: px2vw-sm(182px);
    }
  }

  &-table {
    ::ng-deep {
      .datatable-body-row {
        border: none !important;
      }

      .global-DataTableAdmin.dark .datatable-body-row:hover {
        box-shadow: none;
      }

      .datatable-teamName {
        text-transform: lowercase;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .datatable-seed {
        &-input {
          border: 1px solid var(--base-03);
          border-radius: 4px;
          width: 100%;
          padding: 5px 10px;
        }
      }

      .pager {
        display: none;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: px2vw-xl(32px);

    @include lg {
      margin-top: px2vw-lg(32px);
    }

    @include md {
      margin-top: px2vw-md(32px);
    }

    @include sm {
      margin-top: px2vw-sm(32px);
    }
  }

  &-footer-button {
    margin-left: px2vw-xl(16px);

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }
  }
}

// OLD STYLES
.seeding-btn {
  display: flex;
  flex-direction: row-reverse;

  button {
    margin: 10px !important;
  }
}

.modal-header,
.modal-footer {
  border: none;
}

.closeBtn {
  border: none;
}

.Header {
  margin-bottom: px2vw-xl(20px);
  width: 100%;
  align-items: center;
  display: contents;

  @include lg {
    margin-bottom: px2vw-lg(20px);
  }

  @include md {
    margin-bottom: px2vw-md(20px);
    flex-direction: column;
    align-items: flex-start;
  }

  @include sm {
    margin-bottom: px2vw-sm(20px);
    flex-direction: column;
    align-items: flex-start;
  }

  &-reset {
    position: relative;
    margin-right: 21px;

    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
    }

    label {
      border-radius: 5px;
      background: var(--base-03);
      color: var(--base-01);
      font-family: "source-sans-pro";
      font-size: 14px;
      line-height: 18px;
      padding: 12px 26px;
      margin: 0;
      cursor: pointer;

      &.btn {
        background: transparent;
        color: var(--base-yellow);
      }
    }

    @include md {
      margin-bottom: 10px;
    }
    @include sm {
      margin-bottom: 10px;
    }
  }

  &-filter {
    margin-right: 26px;

    .dropdown-toggle {
      border: 0;
      border-radius: 5px;
      background: var(--base-03);
      color: var(--base-01);
      font-family: "source-sans-pro";
      font-size: 14px;
      line-height: 18px;
      padding: 12px 26px;
    }

    .dropdown-menu {
      border-radius: 5px;
      padding: 0;

      button {
        border-bottom: 1px solid var(--base-01);
        padding: 8px 17px;
        font-family: "source-sans-pro";
        font-size: 14px;
        line-height: 17px;
        color: var(--base-01);

        &:hover,
        &.dropdown-item.active,
        &.dropdown-item:active {
          background-color: transparent;
          font-weight: bold;
        }

        &:last-child {
          border-bottom: var(--base-black);
        }
      }
    }
    @include md {
      margin-bottom: 10px;
    }
    @include sm {
      margin-bottom: 10px;
    }
  }

  &-shuffle {
    @extend .Header-reset;
  }

  &-seeding-method {
    &-btn {
      border: 0;
      border-radius: 5px;
      background: var(--base-03);
      color: var(--base-01);
      font-family: "source-sans-pro";
      font-size: 14px;
      line-height: 18px;
      padding: 12px 26px;
      @include md {
        margin-bottom: 10px;
      }
      @include sm {
        margin-bottom: 10px;
      }
    }

    .dropdown-menu {
      box-shadow: 4px 4px 4px var(--base-black);
      border-radius: 5px;
      padding: 0;

      button {
        border-bottom: 1px solid var(--base-black);
        padding: 8px 17px;
        font-family: "source-sans-pro" !important;
        font-size: 14px;
        line-height: 17px;

        &:hover,
        &.dropdown-item.active,
        &.dropdown-item:active {
          background-color: transparent;
          font-weight: bold;
        }

        &:last-child {
          border-bottom: var(--base-black);
        }
      }
    }
  }

  &-search {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    @include sm {
      margin-left: 0;
      margin-top: px2vw-sm(20px);
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 8px 10px;
      border-radius: 5px;
      color: var(--base-01);
      background: var(--base-03);

      input {
        border: none;
        min-width: 200px;
        background: none;
        font-size: 17px;
        font-family: "source-sans-pro";
      }
    }
  }
}

.table-striped {
  thead {
    th {
      border-bottom: 0;
      padding: 0;
      padding-bottom: 14px;
      padding-left: 32px;
      text-align: center;
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
      color: var(--base-01);

      &:nth-child(2) {
        padding-left: 80px;
      }

      &:last-child {
        padding-right: 417px;
        background-color: transparent;
      }
    }
  }

  tbody {
    background: var(--base-white) 0% 0% no-repeat padding-box;
    border: 0.2px solid var(--base-03);

    tr {
      &:nth-of-type(odd) {
        background-color: transparent;
      }

      td {
        border-bottom: 0.5px solid var(--base-03);
        padding: 18px 0 13px;
        padding-left: 32px;
        text-align: center;
        vertical-align: middle;
        font-family: "source-sans-pro";
        font-size: px2vw-xl(18px);
        line-height: px2vw-xl(24px);
        font-weight: normal;
        color: var(--base-01);
        @include lg {
          font-size: px2vw-lg(18px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          font-size: px2vw-md(18px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          font-size: px2vw-sm(18px);
          line-height: px2vw-sm(24px);
        }

        &:nth-child(2) {
          padding-left: 80px;
        }

        &:nth-child(3) {
          min-width: 200px;
        }

        &:last-child {
          padding-right: 417px;
          background-color: transparent;
        }

        input {
          border-radius: 5px;
          height: 40px;
          width: 100%;
          font-size: 16px;
          line-height: 21px;
          text-align: center;
          background-color: var(--base-white);
          color: var(--base-01);
        }
      }

      th {
        border-bottom: 0.5px solid var(--base-03);
        padding-left: 32px;
        text-align: right;
        width: 35px;
        vertical-align: middle;
        font-family: "source-sans-pro";
        font-size: px2vw-xl(18px);
        line-height: px2vw-xl(24px);
        font-weight: normal;
        color: var(--base-01);
        @include lg {
          font-size: px2vw-lg(18px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          font-size: px2vw-md(18px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          font-size: px2vw-sm(18px);
          line-height: px2vw-sm(24px);
        }
      }

      &:hover {
        th {
          position: relative;
          background: var(--base-white);
          color: var(--base-01);

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 9px;
            height: 100%;
            background: var(--base-yellow);
          }
        }

        td {
          background: var(--base-white);

          input {
            background: var(--base-white);
            color: var(--base-black);
          }
        }
      }

      &:last-child {
        th,
        td {
          border-bottom: 0;
        }
      }
    }
  }
}

.page-item {
  .page-link {
    background-color: rgba(18, 20, 22, 0.5);
    border: 1px solid var(--dim-gray);
    color: var(--base-05);
  }
}

.btn-row-bracket {
  justify-content: flex-end;
  margin-bottom: 25px;

  button {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#select-per-page {
  margin-left: 20px;
  border: none !important;
  border-radius: 5px !important;
  background: var(--base-03) !important;
  padding: 5px 26px;
  height: 41px;
  font-family: "source-sans-pro";
  font-size: 16px;
  line-height: 24px;
  color: var(--base-01) !important;

  option {
    background: var(--base-white);
    color: var(--base-01);
  }
  @include sm {
    margin-left: 0;
  }
  @include sm {
    margin-left: 0;
  }
}

.seed-input {
  border: 1px solid var(--base-03);
}

@media (max-width: 767px) {
  .table-striped {
    margin-top: 20px;

    thead {
      th {
        padding-bottom: 14px;
        font-size: 14px;
        line-height: normal;
        padding-left: 20px;

        &:last-child {
          padding-right: 10px;
        }

        &:nth-child(2) {
          padding-left: 10px;
        }
      }
    }

    tbody {
      tr {
        th {
          padding-left: 10px;
          width: 40px;
          font-size: 14px;
          line-height: normal;
          border-left: 0;
        }

        td {
          padding-left: 10px;
          font-size: 14px;
          line-height: normal;

          &:nth-child(2) {
            padding-left: 10px;
          }

          &:nth-child(3) {
            min-width: 111px;
          }

          &:last-child {
            padding-right: 10px;
          }

          input {
            font-size: 14px;
            line-height: normal;
          }
        }

        &:first-child {
          th {
            &:before {
              width: 5px;
            }
          }
        }
      }
    }
  }

  .btn-table-pag {
    flex-direction: column-reverse;
    padding: 0 !important;

    pagination {
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }
  }

  .btn-row-bracket {
    padding-right: 0;
    display: block;

    button {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

.input-explain-text {
  margin: 10px 35px;
}

.searchBox {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;

  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 10px;
    border-radius: 10px;
    color: var(--base-01);
    background: var(--base-03);

    input {
      border: none;
      min-width: 200px;
      background: none;
      font-size: 17px;
      font-family: "source-sans-pro";
    }
  }
}
.Seed {
  &-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: px2vw-xl(20px);
    width: 100%;

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-toggle {
    position: relative;
    margin-right: px2vw-xl(20px);

    @include lg {
      margin-right: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(20px);
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(20px);
      margin-bottom: px2vw-sm(20px);
    }

    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
    }

    label {
      border-radius: px2vw-xl(5px);
      background: var(--base-gainsboro);
      color: var(--base-black-pearl);
      font-family: "stc-forward-regular", sans-serif;
      font-size: 14px;
      line-height: 18px;
      padding: px2vw-xl(12px) px2vw-xl(26px);
      margin: 0;
      cursor: pointer;

      @include lg {
        border-radius: px2vw-lg(5px);
        padding: px2vw-lg(12px) px2vw-lg(26px);
      }
  
      @include md {
        border-radius: px2vw-md(5px);
        padding: px2vw-md(12px) px2vw-md(26px);
      }
  
      @include sm {
        border-radius: px2vw-sm(5px);
        padding: px2vw-sm(12px) px2vw-sm(26px);
      }
    }
  }

  &-dropdown {
    margin-right: px2vw-xl(25px);

    @include lg {
      margin-right: px2vw-lg(25px);
    }

    @include md {
      margin-right: px2vw-md(25px);
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(25px);
      margin-bottom: px2vw-sm(20px);
    }

    .dropdown-toggle {
      border: 0;
      border-radius: px2vw-xl(5px);
      background: var(--base-gainsboro);
      color: var(--base-black-pearl);
      font-family: "stc-forward-regular", sans-serif;
      font-size: 14px;
      line-height: 18px;
      padding: px2vw-xl(12px) px2vw-xl(26px);

      @include lg {
        border-radius: px2vw-lg(5px);
        padding: px2vw-lg(12px) px2vw-lg(26px);
      }
  
      @include md {
        border-radius: px2vw-md(5px);
        padding: px2vw-md(12px) px2vw-md(26px);
      }
  
      @include sm {
        border-radius: px2vw-sm(5px);
        padding: px2vw-sm(12px) px2vw-sm(26px);
      }
    }

    .dropdown-menu {
      border-radius: 5px;
      padding: 0;

      button {
        border-bottom: 1px solid var(--base-black-pearl);
        padding: 8px 17px;
        font-family: "stc-forward-regular", sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: var(--base-black-pearl);

        &:hover,
        &.dropdown-item.active,
        &.dropdown-item:active {
          background-color: transparent;
          font-weight: bold;
        }

        &:last-child {
          border-bottom: var(--base-black);
        }
      }
    }
  }

  &-searchBox {
    display: flex;
    justify-content: flex-end;
  }

  &-search {
    @extend %u-dfCenterBtw;
    border-radius: px2vw-xl(5px);
    padding: px2vw-xl(5px) px2vw-xl(10px);
    color: var(--base-black-pearl);
    background: var(--base-gainsboro);

    @include lg {
      border-radius: px2vw-lg(5px);
      padding: px2vw-lg(5px) px2vw-lg(10px);
    }

    @include md {
      border-radius: px2vw-md(5px);
      padding: px2vw-md(5px) px2vw-md(10px);
    }

    @include sm {
      border-radius: px2vw-sm(5px);
      padding: px2vw-sm(5px) px2vw-sm(10px);
    }

    mat-icon {
      margin: 0;
      color: var(--ui-nobel);
    }

    input {
      border: none;
      min-width: 150px;
      background: none;
      font-size: 17px;
      font-family: "stc-forward-regular", sans-serif;
    }
  }
}