<div class="adv-header">
  <div class="u-wp">
    <header class="Header u-dfCenterStart">
      <a class="Header-logo-link" (click)="navigateToInfoPage('../../')">
    <div class="outer">
      <img class="Header-logo-image" src="assets/global-images/logo.svg" alt="logo"
      /><img class="HeaderPaidia-logo-subicon" src="assets/global-images/beta2.svg" alt="logo"/>
    </div>      </a>
      <h2 *ngIf="!isFirstPage" class="Header-title global-Title3">
        {{
          isAdvance ? "Create advanced tournament"  : "Quick tournament creation" | translate
        }}
      </h2>
      <h2 *ngIf="isFirstPage" class="Header-title global-Title3">
        Create tournament
      </h2>
      <div class="HeaderPaidia-content">
        <button class="Header-button HeaderPaidia-close" (click)="navigateToInfoPage('play')">
          <mat-icon class="HeaderPaidia-close-icon"> close </mat-icon>
        </button>
      </div>
    </header>
  </div>
</div>
