<app-header-dynasty
  [currentPageLink]="AppHtmlRoutes.play"
  [title]="'CREATE_TOURNAMENT.SELECT_TYPE.HEADER_TITLE' | translate"
></app-header-dynasty>

<div class="SelectPlatform">
  <div class="SelectPlatform-container u-wp">
    <div class="SelectPlatform-logo">
      <img
        class="SelectPlatform-logo-icon"
        src="assets/icons/create-tournament/laptop.svg"
        alt="icon"
      />
    </div>

    <main class="SelectPlatform-main">
      <h1 class="SelectPlatform-title">
        {{ "CREATE_TOURNAMENT.SELECT_PLATFORM.TITLE" | translate }}
      </h1>

      <ul class="SelectPlatform-cards" *ngIf="platforms.length">
        <ng-container *ngFor="let platform of platforms; let i=index">
          <li
            class="SelectPlatform-card"
            (click)="selectedPlatformIndex = i"
            [class.active]="selectedPlatformIndex === i"
          >
            <div class="SelectPlatform-card-icon-block">
              <div
                class="SelectPlatform-card-icon card-icon"
                [class]="platform.type"
                [inlineSVG]="platform.icon"
              ></div>
            </div>
            <p class="SelectPlatform-card-name card-name">
              {{ platform.name | translate }}
            </p>
          </li>
        </ng-container>
      </ul>

      <div class="SelectPlatform-buttons">
        <button class="SelectPlatform-button button-secondary" [routerLink] ="AppHtmlRoutes.play">
          {{ "BUTTON.CANCEL" | translate }}
        </button>

        <button class="SelectPlatform-button button-icon-secondary" routerBack>
          <mat-icon> arrow_back </mat-icon>
          <span>
            {{ "BUTTON.BACK" | translate }}
          </span>
        </button>

        <button class="SelectPlatform-button button-primary" (click)="next()">
          {{ "BUTTON.NEXT" | translate }}
        </button>
      </div>
    </main>
  </div>

  <img
    class="SelectPlatform-person"
    src="assets/images/create-tournament/persons/1.png"
    alt="person image"
  />
</div>
