<div class="TournamentDetails">
  <div class="full-container">
    <!-- <header class="TournamentDetails-header">

    </header> -->

    <main class="TournamentDetails-main">
      <div class="TournamentDetails-header">
        <h1 class="TournamentDetails-header-title global-Elipses">
          {{ "CREATE_TOURNAMENT.DETAILS.TITLE" | translate }}
          <!-- Review tournament -->
        </h1>
      </div>
      <div class="TournamentDetails-content">
        <aside class="TournamentDetails-aside">
          <!-- <h3 class="TournamentDetails-aside-title">
          {{ "CREATE_TOURNAMENT.DETAILS.ASIDE.TITLE" | translate }}
        </h3> -->

          <div class="TournamentDetails-aside-image">
            <esports-tournament-image [customFormGroup]="form" [customFormControlName]="'teamLogo'"
              [dimension]="{ width: 1000, height: 1000 }" [id]="'LOGO'" [size]="1534 * 750" [img]="this.imgurl"
              (imgurltosave)="datatoimg($event)"></esports-tournament-image>
          </div>

          <div class="TournamentDetails-aside-fields">
            <div class="TournamentDetails-aside-fields-header">
              <h2 class="TournamentDetails-aside-fields-header-title">
                {{ name }}
              </h2>
            </div>
            <div class="TournamentDetails-aside-fields-detail">
              <div class="TournamentDetails-aside-fields-detail-info">
                <div class="TournamentDetails-aside-fields-detail-info-box">
                  <div class="TournamentDetails-aside-fields-detail-info-box-left">
                    <div class="TournamentDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.GAME" | translate
                        }}</span>
                      <span class="text-detail gamename">{{ game.name }}</span>
                    </div>
                    <div class="TournamentDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.PLATFORM" | translate
                        }}</span>
                      <span class="text-detail">{{
                        this.selected_platform?.name
                        }}</span>
                    </div>
                    <div class="TournamentDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.SELECT_PLATFORM.HEADER_LINK.TEAM_FORMAT"
                        | translate
                        }}</span>
                      <span class="text-detail">{{ platformId1 }} </span>
                    </div>
                  </div>
                  <div class="TournamentDetails-aside-fields-detail-info-box-right">
                    <div class="TournamentDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_START_DATE"
                        | translate
                        }}</span>
                      <span class="text-detail">{{ date | date }}</span>
                    </div>
                    <div class="TournamentDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_START_TIME"
                          | translate
                      }}</span>
                      <span class="text-detail">{{ time }}</span>
                    </div>

                    <div
                      class="TournamentDetails-aside-fields-detail-info-item"
                    >
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.VISIBILITY"
                          | translate
                      }}</span>
                      <span class="text-detail">{{
                        (visibility == 1
                          ? "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.PUBLIC"
                          : "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.PRIVATE"
                        ) | translate
                      }}</span>
                    </div>
                  </div>
                </div>
                <div class="TournamentDetails-aside-fields-detail-info-box">
                  <div class="heading">
                    <span class="label-detail">{{
                      "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_OVERVIEW"
                      | translate
                      }}</span>
                  </div>
                  <div class="description">
                    <p class="text-detail">
                      {{ this.tournamentNameTextarea }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="TournamentDetails-aside-fields-btn">
              <a (click)="edit()" class="link-action">
                {{ "CREATE_TOURNAMENT.DETAILS.BTN_EDIT" | translate }}
              </a>
            </div>
            <!-- TOURNAMENT NAME -->
            <!-- <div class="TournamentDetails-aside-field">
              <mat-form-field
                class="global-MatField"
                appearance="outline"
                autocomplete="off"
              >
                <mat-label>
                  {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.NAME" | translate }}
                </mat-label>
                <input matInput [(ngModel)]="name" />
              </mat-form-field>
            </div> -->

            <!-- DATE -->
            <!-- <div class="TournamentDetails-aside-field">
              <app-input-date></app-input-date>
            </div> -->

            <!-- TIME -->
            <!-- <div class="TournamentDetails-aside-field">
              <app-input-time></app-input-time>
            </div> -->

            <!-- GAME -->
            <!-- <div class="TournamentDetails-aside-field">
              <mat-form-field class="global-MatField" appearance="outline">
                <mat-label>
                  {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.GAME" | translate }}
                </mat-label>
                <mat-select [ngModel]="gameid">
                  <mat-option *ngFor="let item of games" [value]="item._id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

            <!-- PLATFORM -->
            <!-- <div class="TournamentDetails-aside-field">
              <mat-form-field class="global-MatField" appearance="outline">
                <mat-label>
                  {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.PLATFORM" | translate }}
                </mat-label>
                <mat-select [ngModel]="platformId">
                  <mat-option *ngFor="let item of platforms" [value]="item._id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->
            <!--tornment type-->

            <!-- <div class="TournamentDetails-aside-field">
            <mat-form-field class="global-MatField" appearance="outline">
              <mat-label>
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.Tournament-type" | translate }}
              </mat-label>
              <mat-select [ngModel]='TournamentID'>
                <mat-option *ngFor="let item of Tournmenttype" [value]="item._id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          </div>
          <!-- <div class="new_image">
          <img src="assets/images/image.svg" />
        </div> -->
        </aside>

        <section class="TournamentDetails-form">
          <div class="TournamentDetails-form-header">
            <h2 class="title">
              {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.TITLE" | translate }}
            </h2>
          </div>
          <div class="TournamentDetails-form-box">
            <div class="TournamentDetails-form-box-item">
              <div class="heading" (click)="clickEvent()">
                <span class="text">
                  {{ "CREATE_TOURNAMENT.DETAILS.BTN_TOGGLE1" | translate }}
                </span>
                <span class="icon icon-toggle" [ngClass]="{ active: toggle }"></span>
              </div>
              <div class="content" [ngClass]="{ active: toggle }">
                <div class="form-field">
                  <div class="form-field-item form-field-select">
                    <label class="form-label mb-color">
                      {{
                      "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SELECT_ALLOWED_REGIONS2"
                      | translate
                      }}
                    </label>
                    <div ngbDropdown class="AllowedRegions-teamDropdown" (click)="eventshowDropdown()"
                      [ngClass]="showDropdown ? 'show' : ''">
                      <button [class]="dataFilterTeamDropdownItem ? 'btn AllowedRegions-teamBtn active' : 'btn AllowedRegions-teamBtn' " id="AllowedRegionsBasic" ngbDropdownToggle>
                        {{
                        dataFilterTeamDropdownItem !== ""
                        ? dataFilterTeamDropdownItem
                        : "Select participating regions"
                        }}
                      </button>
                      <div class="AllowedRegions-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem *ngFor="let item of regionList"
                          (click)="clickChange(item.name)">
                          {{ item.name }}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="
                      form-field-item form-field-checked form-field-checkbox
                    ">
                    <label for="" class="form-label">
                      {{
                      "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.ADDITIONAL_SETTINGS"
                      | translate
                      }}
                    </label>
                    <div class="input-group" (click)="
                        getNotification(
                          this.isScreenshotRequired === true ? false : true
                        )
                      ">
                      <span [class]="
                          this.isScreenshotRequired
                            ? 'checkmark checked'
                            : 'checkmark'
                        "></span>
                      <input type="checkbox" class="field-checkbox" [checked]="" />
                      <span class="text">{{
                        "CREATE_TOURNAMENT.SETTINGS.SWITCHERS.SCREENSHOT"
                        | translate
                        }}</span>
                    </div>
                    <div [hidden]="locationFlag" class="input-group" (click)="
                        getNotification2(
                          this.isShowCountryFlag === true ? false : true
                        )
                      ">
                      <span [class]="
                          this.isShowCountryFlag
                            ? 'checkmark checked'
                            : 'checkmark'
                        "></span>
                      <input type="checkbox" class="field-checkbox" [checked]="" />
                      <span class="text">{{
                        "CREATE_TOURNAMENT.SETTINGS.SWITCHERS.FLAGS" | translate
                      }}</span>
                    </div>
                  </div>
                  <div class="form-field-item form-field-checked form-field-radio">
                    <label for="" class="form-label">
                      {{
                      "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SCORE_REPORTING"
                      | translate
                      }}
                    </label>
                    <div class="input-group" *ngFor="let item of dataScoreReporting"
                      (click)="clickCheckedScoreReporting(item)">
                      <span [class]="
                          item.id === dataScore
                            ? 'checkmark checked'
                            : 'checkmark'
                        "></span>
                      <input type="radio" name="score_reporting" id="" class="field-radio" />
                      <span class="text">{{ item.textTitle }}</span>
                    </div>
                  </div>
                  <div [hidden]="locationFlag" class="form-field-item form-field-checked form-field-radio">
                    <label for="" class="form-label">
                      <label for="" class="form-label">
                        {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.PARTICIPANT_LIMIT"
                        | translate
                        }}
                      </label>
                    </label>
                    <div class="input-group" *ngFor="let item of dataParticipantLimit"
                      (click)="clickCheckedParticipantLimit(item)">
                      <span [class]="
                          item.id === dataParticipant
                            ? 'checkmark checked'
                            : 'checkmark'
                        "></span>
                      <input type="radio" name="participant_limit" id="" class="field-radio" />
                      <span class="text">{{ item.textTitle }}</span>
                    </div>
                  </div>
                  <!-- <div
                    class="form-field-item form-field-checked form-field-radio"
                  >
                    <label for="" class="form-label">
                      {{
                      "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.VISIBILITY"
                      | translate
                      }}
                    </label>
                    <div class="input-group" *ngFor="let item of dataVisibilitySetting"
                      (click)="clickCheckedVisibility(item)">
                      <span [class]="
                          item.id === dataVisibility
                            ? 'checkmark checked'
                            : 'checkmark'
                        "></span>
                      <input type="radio" name="visibility" id="" class="field-radio" />
                      <span class="text">{{ item.textTitle }}</span>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="TournamentDetails-form-box-item">
              <div class="heading" (click)="clickEvent2()">
                <span class="text">
                  {{ "CREATE_TOURNAMENT.DETAILS.BTN_TOGGLE2" | translate }}
                </span>
                <span class="icon icon-toggle" [ngClass]="{ active: toggle2 }"></span>
              </div>
              <div class="content" [ngClass]="{ active: toggle2 }">
                <div class="form-field form-field-textarea">
                  <ng-container>
                    <WYSIWYG-editor [config]="editorConfig" [ngClass]="ediDirection" [(ngModel)]="rules" [placeholder]="placeHolder">
                    </WYSIWYG-editor>
                  </ng-container>
                  <!-- <ckeditor
                    class="form-textarea"
                    placeholder="Input text"
                    [editor]="Editor"
                    [config]="ckConfig"
                    (change)="ckEditorChange($event)"
                    (ready)="onReady($event)"
                  ></ckeditor> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <mat-accordion>
             OVERVEW
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ "CREATE_TOURNAMENT.DETAILS.ITEMS.OVERVIEW" | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="TournamentDetails-Overview">
                <h4 class="text-white mt-3">Tournament description</h4>-->
          <!-- <h1> {{ "CREATE_TOURNAMENT.DETAILS.OVERVIEW.HEADING" | translate }}</h1> -->
          <!-- <div class="TournamentDetails-Overview">
                <app-search-players [heading]="'CREATE_TOURNAMENT.DETAILS.OVERVIEW.HEADING'" [listTitle]="
                    'CREATE_TOURNAMENT.DETAILS.OVERVIEW.SEARCH_RESULTS'
                  " (list)="bracket1($event)"></app-search-players> -->
          <!-- </div>
                <div style="width: 800px">
                  <mat-form-field
                    class="global-MatField"
                    appearance="outline"
                    autocomplete="off"
                  >
                    <mat-label>
                      {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.DESCRIPTION"
                          | translate
                      }}
                    </mat-label>
                    <textarea matInput>
                   Fortnite League 2021 - Alpha phase -
                   Season 5 is back! In partnership with Fortnite and Paida,
                    amateur #fortnite teams from around North America will face off in a Battle Royale for a piece of the $5000 prize and a chance at competing against amateur teams.
               Registrations for next months qualifiers are open now until May 31 (10am)

              </textarea
                    >
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>-->

          <!-- BRACKET PREVIEW
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{
                    "CREATE_TOURNAMENT.DETAILS.ITEMS.BRACKET_PREVIEW"
                      | translate
                  }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="TournamentDetails-brackets">
                <div class="row">
                  <div class="col-lg-5">
                    <mat-form-field
                      class="global-MatField"
                      appearance="outline"
                      autocomplete="off"
                    >
                      <mat-label> End Date </mat-label>
                      <input
                        matInput
                        type="text"
                        [(ngModel)]="date1"
                        [min]="minDate"
                        (ngModelChange)="onDateChange()"
                        [matDatepicker]="picker"
                      />
                      <mat-datepicker #picker disabled="false"></mat-datepicker>
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-5">
                    <mat-form-field
                      class="global-MatField"
                      appearance="outline"
                      autocomplete="off"
                    >
                      <mat-label> End Time </mat-label>
                      <input
                        matInput
                        [(ngModel)]="time1"
                        [ngxTimepicker]="fullTime"
                        (ngModelChange)="datefun1()"
                      />
                      <ngx-material-timepicker
                        #fullTime
                        [timepickerClass]="'PaidiaTimeTheme'"
                      ></ngx-material-timepicker>
                      <mat-datepicker-toggle matSuffix [for]="fullTime">
                        <mat-icon matDatepickerToggleIcon>schedule</mat-icon>
                      </mat-datepicker-toggle>
                    </mat-form-field>
                  </div>
                </div>
                <app-bracket-tree
                  [structure]="structure"
                  (valueEmit)="bracket($event)"
                ></app-bracket-tree>
              </div>
            </mat-expansion-panel> -->

          <!-- PARTICIPANTS
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{
                    "CREATE_TOURNAMENT.DETAILS.ITEMS.PARTICIPANTS" | translate
                  }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="TournamentDetails-participants">
                <div class="TournamentDetails-participants-players">
                  <app-search-players
                    [heading]="'CREATE_TOURNAMENT.DETAILS.PARTICIPANTS.HEADING'"
                    [listTitle]="
                      'CREATE_TOURNAMENT.DETAILS.PARTICIPANTS.SEARCH_RESULTS'
                    "
                    (list)="bracket1($event)"
                  ></app-search-players>
                </div>

                <div class="TournamentDetails-participants-invite">
                  <app-input-invite
                    (emitValue)="emitValuefor($event)"
                  ></app-input-invite>
                  <div
                    *ngFor="let d of emailsforinvite; let i = index"
                    style="margin-top: 15px"
                  >
                    <span
                      style="
                        color: white;
                        padding: 5px;
                        border: 1px solid #b6abab;
                      "
                      >{{ d }}
                    </span>
                    <span *ngIf="i != emailsforinvite.length"> ,</span>
                  </div>
                </div>
              </div>
            </mat-expansion-panel> -->

          <!-- TOURNAMENT SETTINGS
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{
                    "CREATE_TOURNAMENT.DETAILS.ITEMS.TOURNAMENT_SETTINGS"
                      | translate
                  }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="TournamentDetails-settings">
                <div class="TournamentDetails-settings-manage">
                  <div class="TournamentDetails-settings-switchers"> -->
          <!-- SCREENSHOT REQUIRED
                    <app-toggle-switch
                      [customFormControlName]="'isScreenshotRequired'"
                      [title]="
                        'CREATE_TOURNAMENT.SETTINGS.SWITCHERS.SCREENSHOT'
                          | translate
                      "
                      [toolTipMessage]="
                        'CREATE_TOURNAMENT.SETTINGS.SWITCHERS.TOOLTIP'
                          | translate
                      "
                      [select]="false"
                      (valueEmit)="getNotification($event)"
                    ></app-toggle-switch> -->

          <!-- SHOW COUNTRY FLAGS
                    <app-toggle-switch
                      [customFormControlName]="'isCountryFlags'"
                      [title]="
                        'CREATE_TOURNAMENT.SETTINGS.SWITCHERS.FLAGS' | translate
                      "
                      [select]="false"
                      (valueEmit)="getNotification2($event)"
                    ></app-toggle-switch> -->

          <!-- PARTICIPANTS LIMIT
                    <app-toggle-switch
                      [customFormControlName]="'isParticipantsLimit'"
                      [title]="
                        'CREATE_TOURNAMENT.SETTINGS.SWITCHERS.LIMIT' | translate
                      "
                      [select]="isParticipantsLimit"
                      (valueEmit)="getNotification1($event)"
                    ></app-toggle-switch>

                    <mat-form-field
                      class="global-MatField"
                      appearance="outline"
                      autocomplete="off"
                    >
                      <mat-label>
                        {{ "Enter participant limit" }}
                      </mat-label>

                      <input
                        matInput
                        type="number"
                        min="2"
                        [(ngModel)]="par_limit"
                        (ngModelChange)="onDateChange2()"
                      />
                    </mat-form-field>

                    <app-toggle-switch
                      [customFormControlName]="'isSpecifyAllowedRegions'"
                      [title]="
                        'CREATE_TOURNAMENT.SETTINGS.REGIONS.HEADING' | translate
                      "
                      [toolTipMessage]="
                        'CREATE_TOURNAMENT.SETTINGS.REGIONS.TOOLTIP' | translate
                      "
                      [select]="false"
                      (valueEmit)="getNotification5($event)"
                    ></app-toggle-switch>

                    <app-multiple-select
                      [fields]="games1"
                      style="margin-bottom: 12rem"
                      *ngIf="isSpecifyAllowedRegions == true"
                      (valueEmit)="getNotification6($event)"
                    >
                    </app-multiple-select>
                  </div>

                  <div class="TournamentDetails-settings-selects"></div>
                </div>

                <div class="TournamentDetails-settings-manage">
                  <div class="TournamentDetails-settings-switchers">-->
          <!-- SCORE REPORTING
                    <app-select-toggle
                      [title]="
                        'CREATE_TOURNAMENT.SETTINGS.SELECTS.SCORE.TITLE'
                          | translate
                      "
                      [tooltip]="
                        'CREATE_TOURNAMENT.SETTINGS.SELECTS.SCORE.TOOLTIP'
                          | translate
                      "
                      [leftValue]="
                        'CREATE_TOURNAMENT.SETTINGS.SELECTS.SCORE.LEFT_VALUE'
                          | translate
                      "
                      [rightValue]="
                        'CREATE_TOURNAMENT.SETTINGS.SELECTS.SCORE.RIGHT_VALUE'
                          | translate
                      "
                      [value]="1"
                      (valueEmit)="getNotification3($event)"
                    ></app-select-toggle>
                  </div>

                  <div class="TournamentDetails-settings-selects">-->
          <!-- VISIBILITY
                    <app-select-toggle
                      [title]="
                        'CREATE_TOURNAMENT.SETTINGS.SELECTS.VISIBILITY.TITLE'
                          | translate
                      "
                      [tooltip]="
                        'CREATE_TOURNAMENT.SETTINGS.SELECTS.VISIBILITY.TOOLTIP'
                          | translate
                      "
                      [leftValue]="
                        'CREATE_TOURNAMENT.SETTINGS.SELECTS.VISIBILITY.PRIVATE'
                          | translate
                      "
                      [rightValue]="
                        'CREATE_TOURNAMENT.SETTINGS.SELECTS.VISIBILITY.PUBLIC'
                          | translate
                      "
                      [value]="2"
                      (valueEmit)="getNotification4($event)"
                    ></app-select-toggle>
                  </div>
                </div>-->

          <!-- <div class="TournamentDetails-settings-region">
                <div class="TournamentDetails-settings-region-block">
                  <h4 class="TournamentDetails-settings-region-title">
                    {{
                      "CREATE_TOURNAMENT.SETTINGS.REGIONS.HEADING" | translate
                    }}
                  </h4>

                  <mat-icon
                    class="TournamentDetails-settings-region-icon"
                   [ngbTooltip]="
                        'CREATE_TOURNAMENT.SETTINGS.REGIONS.TOOLTIP'
                        | translate
                    "
                    placement="top-left"
                  >
                    info_outline
                  </mat-icon>
                </div>
                <app-toggle-switch
                    [customFormControlName]="'isSpecifyAllowedRegions'"
                    [title]="
                      'CREATE_TOURNAMENT.SETTINGS.REGIONS.HEADING' | translate
                    "
                    [select]=false
                    (valueEmit)="getNotification5($event)"
                  ></app-toggle-switch>
              </div>
              </div>
            </mat-expansion-panel>-->

          <!-- RULES AND INFO
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{
                    "CREATE_TOURNAMENT.DETAILS.ITEMS.RULES_AND_INFO" | translate
                  }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="TournamentDetails-rules">
                <ckeditor
                  [editor]="Editor"
                  [config]="ckConfig"
                  (change)="ckEditorChange($event)"
                  (ready)="onReady($event)"
                ></ckeditor>
              </div>
            </mat-expansion-panel>
          </mat-accordion>-->
        </section>
      </div>
    </main>
  </div>
  <div class="ss-footer-buttons">
    <!-- <button class="SelectGame-button button-secondary" [routerLink]="AppHtmlRoutes.play">
      {{ "BUTTON.CANCEL" | translate }}
    </button> -->
    <div class="wrapper">
      <div class="inner">
        <div class="box-item box-item-left mb-hide"></div>
        <div class="box-item box-item-right">
          <span class="">
            {{ "CREATE_TOURNAMENT.DETAILS.TITLE2" | translate }}
          </span>
          <button class="TournamentDetails-header-button button-primary" (click)="showCreatedPopup()">
            {{ "CREATE_TOURNAMENT.DETAILS.CREATE_TOURNAMENT_BTN" | translate }}
          </button>
          <!-- <button
            class="TournamentDetails-header-button button-primary"
            routerLink="/create-tournament/CreateQuick8"
          >
            {{ "CREATE_TOURNAMENT.DETAILS.CREATE_TOURNAMENT_BTN" | translate }}
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
