@import "shared";

$--TopUpItem-box-title-color: var(--whitecolor);

:host {
  display: block;
  margin-bottom: px2vw-xl(66px);
  padding: 0 px2vw-xl(4px);
  text-align: center;

  @include lg {
    margin-bottom: px2vw-lg(40px);
    padding: 0 px2vw-lg(4px);
  }

  @include md {
    margin-bottom: px2vw-md(40px);
    padding: 0 px2vw-md(4px);
  }

  @include sm {
    margin-bottom: px2vw-sm(40px);
    padding: 0 px2vw-sm(4px);
  }
}

.TopUpItem {
  @include btnEvents();
  padding-bottom: px2vw-xl(13px);
  border-radius: 0 0 px2vw-xl(6px) px2vw-xl(6px);
  display: block;
  background: #171616;
  transition: all 200ms linear;
  overflow: hidden;

  @include lg {
    padding-bottom: px2vw-lg(13px);
    border-radius: 0 0 px2vw-lg(6px) px2vw-lg(6px);
  }

  @include md {
    padding-bottom: px2vw-md(13px);
    border-radius: 0 0 px2vw-md(6px) px2vw-md(6px);
  }

  @include sm {
    padding-bottom: px2vw-sm(13px);
    border-radius: 0 0 px2vw-sm(6px) px2vw-sm(6px);
  }

  &:hover {
    background: var(--orange-color-main);
  }

  &-img {
    margin-bottom: px2vw-xl(13px);
    width: 100%;

    @include lg {
      margin-bottom: px2vw-lg(13px);
    }

    @include md {
      margin-bottom: px2vw-md(13px);
    }

    @include sm {
      margin-bottom: px2vw-sm(13px);
    }
  }

  &-title {
    color: $--TopUpItem-box-title-color;
    font-size: px2vw-xl(20px);
    font-family: "dynasty-primary-semibold", sans-serif;
    margin: 0;
    opacity: 0.6;

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(26px);
    }
  }
}
