<a
  class="ArticleItem"
  (click)="onTop.emit()"
  [routerLink]="[AppHtmlRoutes.article, data?.slug]"
>
  <div class="ArticleItem-image-block" [lazyLoad]="data?.image"></div>

  <h3 class="ArticleItem-title global-Elipses2">
    {{ data?.title | customTranslate: (languageService?.language | async) }}
  </h3>

  <p class="ArticleItem-created global-Elipses">
     <!-- • -->
      {{ data?.createdDate | date: "MMMM d, y" }}
  </p>
</a>
