@import "shared";


// :host {

// }

p {
  color: white !important;
}

.MyContent {

  &-create {
    @extend %u-dfStartEnd;
  }

  &-table {
    margin-top: px2vw-xl(20px);

    @include lg {
      margin-top: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(15px);
    }

    @include sm {
      margin-top: px2vw-sm(15px);
    }

    & .text-limit {
      @include textClamp(2);
    }
  }
}

fa-icon {
  margin-right: 10px;
  cursor: pointer;
}

.btn-row {
  justify-content: flex-end;
  button {
    margin: 5px;
    cursor: pointer;
  }
}

.modal-header, .modal-body {
  border: none !important;
}
