<mat-sidenav-container [dir]="direction" class="App-sidenav">
  <mat-sidenav
    #menuSidenav
    position="start"
    *ngIf="isBrowser"
    class="App-sidenav-index"
  >
    <app-aside
      data-test-id="mobile-aside"
      (click)="onMenuOpenDash()"
    ></app-aside>
  </mat-sidenav>
  <mat-sidenav-content #appMainConatiner>
    <ng-container
      *ngIf="
        (isBrowser && isRootPage) ||
          (isAdminPage && router.url.startsWith('/admin'));
        else isPageWithHeaderFooter
      "
    >
      <router-outlet (activate)="onActivate()"></router-outlet>
    </ng-container>

    <ng-template #isPageWithHeaderFooter>
      <div class="App">
        <lib-esportschatsidebar *ngIf="isBrowser"></lib-esportschatsidebar>
        <app-header
          *ngIf="
            !router.url.match('register|login|web-view|/admin/|comingsoon')
          "
          (menuClick)="onMenuClick()"
        ></app-header>

        <app-sticky-footer class="sticky-footer" *ngIf="!currentUser && router.url.match('home')"></app-sticky-footer>
        <div [ngClass]="{ 'App-main': !router.url.match('web-view') }" >
          <app-aside
            *ngIf="
              isBrowser &&
              !router.url.match('register|login|web-view|/admin/|comingsoon')
            "
            data-test-id="desktop-aside"
          ></app-aside>
          <div class="u-right-container">
            <router-outlet (activate)="onActivate()"></router-outlet>
          </div>
        </div>
        <app-footer
          *ngIf="
            isBrowser && !router.url.match('register|login|web-view|comingsoon')
          "
        ></app-footer>
      </div>
    </ng-template>

    <app-scroll-top></app-scroll-top>
  </mat-sidenav-content>
</mat-sidenav-container>
