<div
  class="InputText"
  [ngClass]="{ basic: isBasic }"
  [formGroup]="customFormGroup"
>
  <h3
    class="InputText-title title"
    [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
  >
    {{ title }}
  </h3>

  <div class="InputText-block block u-dfCenterStart">
    <input
      [formControlName]="customFormControlName"
      class="InputText-input input"
      [type]="type"
      [ngClass]="{ 'global-Text': isBasic, 'global-Title2': !isBasic }"
      [placeholder]="placeholder"
      [value]="value"
      [readonly]="isDisabled"
      (keyup)="onSubmit($event)"
    />

    <img
      class="InputText-icon icon"
      src="assets/icons/tournament/arrow-left.svg"
      alt="icon"
    />
  </div>
</div>
