
  <div class="TeamCard" *ngFor="let data of dataList">
  <div class="TeamCard-left">
    <span class="icon-horizontal" inlineSVG="assets/icons/drag-horizontal.svg"></span>
    <div class="TeamCard-image">
      <img [lazyLoad]="data?.logo" alt="" />
    </div>
    <div class="TeamCard-info">
      <h3 class="TeamCard-info-nick-name" *ngIf="data.participantType === 'individual'">{{data?.name|uppercase}}</h3>
      <h3 class="TeamCard-info-nick-name" *ngIf="data.participantType === 'team'">{{data?.teamName|uppercase}}</h3>
      <h4 class="TeamCard-info-name">{{data.city}}</h4>
    </div>
  </div>
  <div class="TeamCard-right">
    <div class="TeamCard-manage">
      <ng-container>
        <button class="TeamCard-manage-button-menu" [matMenuTriggerFor]="matchMenu" #t="matMenuTrigger">
          <mat-icon class="TeamCard-manage-button-menu-icon">
            more_vert
          </mat-icon>
        </button>
        <mat-menu class="global-MatMenu team-card" #matchMenu="matMenu" xPosition="before">
          <div class="TeamCard-manage-menu menu">
            <!-- <a class="TeamCard-manage-menu-link link" routerLink="/manage-team/edit-team">
              <mat-icon class="icon"> person_add </mat-icon>
              <span class="text">{{ "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.FOLLOW" | translate }}</span>
            </a>
            <a class="TeamCard-manage-menu-link link">
              <mat-icon class="icon"> person_add </mat-icon>
              <span class="text">{{ "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.CHAT" | translate }}</span>
            </a> -->
            <a class="TeamCard-manage-menu-link link" (click)="reject(data)" >
              <mat-icon class="icon"> delete </mat-icon>
              <span class="text">{{ "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.REMOVE" | translate }}</span>
            </a>
          </div>
        </mat-menu>
      </ng-container>
    </div>
  </div>

</div>
<div>

</div>
<!-- <div class="Profile-popup" *ngIf="show">
  <app-popup (showPopup)="showPopup($event)" [isRemove]="isRemove"></app-popup>
</div> -->
