@import "variables";

.ngtt__match-wrapper {
  display: flex;
  flex-direction: column;
}

.ngtt__team-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--base-white);
  height: 31px;
  padding: 2px 5px;
  border: 0;
  width: 217px;
  border: 1px solid var(--base-03);
  &:first-child {
    margin-bottom: 8px;
  }
  &:last-child {
    background: var(--base-yellow);
  }
}

.ngtt__team-avatar {
  margin: 35px 0px;
  height: 27px;
  width: 27px;
  background-color: darkgray;
  display: inline-block;
  flex-shrink: 1;
  cursor: pointer;
}

.ngtt__team-title {
  font-weight: lighter;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  margin-left: 20px;
  color: var(--base-black);
  font-size: 12px;
  line-height: 16px;
}

.ngtt__team-score {
  padding: 0 20px 0 10px;
  flex-shrink: 1;
}

.match__no {
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  color: var(--base-black);
  width: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.match_action {
  color: var(--base-white);
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 25px 8px;
  height: auto;
  width: 33px;
  background: var(--base-03);
  margin-left: 7px;
  display: flex;
  align-items: center;
  path {
    fill: var(--base-yellow);
  }
}
