@import "shared";

$--card-bg: radial-gradient(
  50.13% 129.55% at 0% 100%,
  rgba(115, 108, 255, 0.25) 0%,
  rgba(115, 108, 255, 0) 100%
);

$--card-matrix: matrix(1, 0, 0, -1, 0, 0);

:host {
  display: block;
}
.Referrals{
  // max-width: px2vw-xl(582px);
  max-width: 100%;
  width: 100%;
  padding-top: px2vw-xl(40px);
  padding-bottom: px2vw-xl(40px);

  &-card {
    transform: $--card-matrix;
    margin-bottom: px2vw-xl(40px);
    @include lg {
      margin-bottom: px2vw-lg(30px);
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(20px) 0 0 0;
    }
  
    @include md {
      margin-bottom: px2vw-md(15px);
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: 0;
      margin-top:px2vw-md(35px);
      padding: px2vw-md(40px) px2vw-md(0px) px2vw-md(0px) px2vw-md(0px);
    }
  
    @include sm {
      margin-bottom: px2vw-sm(40px);
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      // padding: px2vw-sm(40px) px2vw-sm(32px);
      padding: 0;
      margin-top:px2vw-sm(45px);
    }
  
    &-container {
      transform: $--card-matrix;
      padding-bottom: px2vw-xl(24px);
      border-bottom: px2vw-xl(2px) solid var(--color-black-medium);
      @include lg{
        border-bottom: px2vw-lg(2px) solid var(--color-black-medium);
      }
      @include md{
        border-bottom: px2vw-md(2px) solid var(--color-black-medium);
        padding-bottom:px2vw-md(36px);
      }
      @include sm{
        border-bottom: px2vw-sm(2px) solid var(--color-black-medium);
        padding-bottom:px2vw-sm(26px);
      }
    }
  
    &-title {
      font-family: "Paralucent-Demi",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(32px);
      line-height: px2vw-xl(40px);
      letter-spacing: px2vw-xl(1px);
      color: var(--white);
      text-transform: inherit;
      margin-bottom: px2vw-xl(32px);
  
      @include lg {
        font-size: px2vw-lg(32px);
        line-height: px2vw-lg(40px);
        letter-spacing: px2vw-lg(1px);
        margin-bottom: px2vw-lg(32px);
      }
  
      @include md {
        font-size: px2vw-md(32px);
        line-height: px2vw-md(40px);
        letter-spacing: px2vw-md(1px);
        margin-bottom: px2vw-md(32px);
      }
  
      @include sm {
        font-weight: 600;
        font-size: px2vw-sm(32px);
        line-height: px2vw-sm(46px);   
        margin-bottom: px2vw-sm(38px); 
      }
    }
  
    &-subtitle {
      font-family: "Paralucent-Demi",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(1px);
      color: var(--white);
      margin-bottom: px2vw-xl(32px);
  
      @include lg {
        font-size: px2vw-lg(25px);
        line-height: px2vw-lg(32px);
        letter-spacing: px2vw-lg(1px);
        margin-bottom: px2vw-lg(32px);
      }
  
      @include md {
        font-size: px2vw-md(26px);
        line-height: px2vw-md(32px);
        letter-spacing: px2vw-md(1px);
        margin-bottom: px2vw-md(32px);
      }
  
      @include sm {
        font-weight: 600;
        font-size: px2vw-sm(28px);
        line-height: px2vw-sm(28px);
      }
    }
  
    &-link-block {
      background: var(--color-secondary-disabled);
      border-radius: px2vw-xl(3px);
      padding: px2vw-xl(17px) px2vw-xl(19px);
      display: flex;
      justify-content: space-between;
      width: 65%;
  
      @include lg {
        border-radius: px2vw-lg(4px);
        padding: px2vw-lg(22px);
      }
  
      @include md {
        border-radius: px2vw-md(4px);
        padding: px2vw-md(20px);
        height: px2vw-md(82px);
        width: 90%;
      }
  
      @include sm {
        border-radius: px2vw-sm(4px);
        padding: px2vw-sm(24px) px2vw-sm(19px);
        height: px2vw-sm(78px);
        align-items: center;
        border-radius: px2vw-sm(8px);
        width: 100%;
      }

      &.coppied {
        background-color: var(--green-light);
      }
    }
  
    &-link {
      @extend %body-1;
      margin-bottom: 0;
      font-family: "Paralucent-Medium",  san-serif;
      font-style: normal;
      font-weight: 500;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--color-txt-ref);
      @include lg{
        font-size: px2vw-lg(19px);
        line-height: px2vw-lg(29px);
      }
      @include md{
        font-size: px2vw-md(23px);
        line-height: px2vw-md(34px);
      }
      @include sm {
        display: flex;
        font-size: px2vw-sm(23px);
        line-height: px2vw-sm(36px);
      }

      &-string {

        @include sm {
          max-width: px2vw-xm(135px);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  
    &-link-button {
      @extend %u-dfCenterCenter;
      flex-shrink: 0;
      margin-left: px2vw-xl(16px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
      background-color: transparent;
  
      @include lg {
        margin-left: px2vw-lg(16px);
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }
  
      @include md {
        margin-left: px2vw-md(16px);
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }
  
      @include sm {
        margin-left: px2vw-sm(20px);
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }
  
      ::ng-deep svg {
        height: px2vw-xl(16px);
        width: px2vw-xl(13px);
        cursor: pointer;
  
        @include lg {
          height: px2vw-lg(16px);
          width: px2vw-lg(13px);
        }
  
        @include md {
          height: px2vw-md(16px);
          width: px2vw-md(13px);
        }
  
        @include sm {
          height: px2vw-sm(16px);
          width: px2vw-sm(13px);
        }
  
        path {
          transition: $global-transition2;
        }
      }
  
      &:hover ::ng-deep svg path {
        fill: var(--color-primary);
      }
    }
  }
  
  &-history {
    margin-top: px2vw-xl(15px);
    @include lg{
      margin-top: px2vw-lg(4px);
    }
    @include md{
      margin-top: px2vw-md(5px);
    }
    @include sm{
      margin-top: px2vw-sm(15px);
    }

    &-title {
      font-family: "Paralucent-Demi",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(1px);
      color: var(--white);
      margin-bottom: px2vw-xl(16px);
  
      @include lg {
        margin-bottom: px2vw-lg(40px);
        font-size: px2vw-lg(25px);
        line-height: px2vw-lg(32px);
        letter-spacing: px2vw-lg(1px);
      }
  
      @include md {
        margin-bottom: px2vw-md(40px);
        font-size: px2vw-md(26px);
        line-height: px2vw-md(32px);
        letter-spacing: px2vw-md(1px);
      }
  
      @include sm {
        margin-bottom: px2vw-sm(40px);
        font-weight: 600;
        font-size: px2vw-sm(28px);
        line-height: px2vw-sm(28px);    
      }
    }

    &-cards {

      &-info {
        padding-bottom: px2vw-xl(16px);
        padding-top: px2vw-xl(16px);
        border-bottom: px2vw-xl(1px) solid var(--color-black-medium);
        @include lg{
          padding-bottom: px2vw-lg(16px);
          padding-top: px2vw-lg(16px);
          border-bottom: px2vw-lg(1px) solid var(--color-black-medium);
        }
        @include md{
          padding-bottom: px2vw-md(16px);
          padding-top: px2vw-md(16px);
          border-bottom: px2vw-md(1px) solid var(--color-black-medium);
        }
        @include sm{
          padding-bottom: px2vw-sm(16px);
          padding-top: px2vw-sm(16px);
          border-bottom: px2vw-sm(1px) solid var(--color-black-medium);
        }
        &-email {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(20px);
          line-height: px2vw-xl(28px);
          color: var(--white);
          @include lg {
            font-size: px2vw-lg(20px);
            line-height: px2vw-lg(24px);
          }
          @include md {
            font-size: px2vw-md(18px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
  
        &-date {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--tolopea-color);
          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm{
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }
    }
  
    app-referral-card:first-child {
      ::ng-deep .ReferralCard {
        padding-top: 0;
      }
    }
  }
}
mat-icon#icon {
  color: var(--color-fd-fixed);
}
