<a
  class="white-text back-link"
  [routerLink]="['/profile/inbox/message', messageId]"
  >Back</a
>
<div class="dark-text date-text">{{ now | date: "MMM d y h:mm a" }}</div>
<div class="black-background">
  <div class="row">
    <div class="col-1">
      <div class="user-circle">
        {{ loggedInUser?.fullName?.charAt(0) || "N/A" }}
      </div>
    </div>
    <div class="col-11 dark-text username-text">
      {{ loggedInUser?.fullName || "N/A" }}
    </div>
  </div>
  <div class="row">
    <textarea
      [(ngModel)]="replyMessage"
      class="custom-textarea"
      placeholder="Type Here"
    ></textarea>
  </div>
</div>
<button class="btn btn-primary send-button" (click)="sendReply()">
  Send
</button>
