html,
body {
  margin: 0;
  // min-height: 100%;
  // height: 100%;
  // height: 100vh;
}

app-root {
  height: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: var(--orange-color-main);
}
::-webkit-scrollbar-track {
  background: #211c18;
}

.curp {
  cursor: pointer;
}
