@import "shared";

.header-cell {
  display: flex;
  justify-content: center;
  cursor: pointer;

  mat-icon {
    &.active {
      color: var(--orange-color-main);
    }
  }

  &.firstChild {
    justify-content: flex-start;
  }
}
