<div class="Log-Reg">
  <div class="Log-Reg-box">
    <div class="Log-Reg-box-login global-text-lead">
      <a
        [routerLink]="[
          AppHtmlRoutes.userPageType,
          AppHtmlRoutesLoginType.phoneLogin
        ]"
      >
        {{ "DISCUSSION.LOGIN" | translate }}
      </a>
      {{ "DISCUSSION.OR" | translate }}
      <a
        [routerLink]="[
          AppHtmlRoutes.userPageType,
          AppHtmlRoutesLoginType.registration
        ]"
      >
        {{ "DISCUSSION.REGISTER" | translate }}
      </a>
      {{ "DISCUSSION.TO_ADD" | translate }}
    </div>
  </div>
</div>
