@import "shared";

.Log-Reg {
    &-box {
      border-radius: px2vw-xl(4px);
      border: px2vw-xl(1px) solid var(--base-02);
      min-height: px2vw-xl(215px);
      position: relative;

      @include lg {
        border-radius: px2vw-lg(4px);
        border: px2vw-lg(1px) solid var(--base-02);
        min-height: px2vw-lg(215px);
      }

      @include md {
        border-radius: px2vw-md(4px);
        border: px2vw-md(1px) solid var(--base-02);
        min-height: px2vw-md(215px);
      }

      @include sm {
        border-radius: px2vw-sm(4px);
        border: px2vw-sm(1px) solid var(--base-02);
        min-height: px2vw-sm(215px);
      }

      &-login {
        white-space: nowrap;
        position: absolute;
        left: 50%;
        top: 50%;
        color: var(--dim-gray);
        transform: translate(-50%, -50%);

        a {
          color: var(--ui-error);
          text-decoration: none;
        }
      }
    }
  }