<esports-select-game *ngIf = "data.step == 1" (submit)="stepOne($event)"></esports-select-game>
<esports-tournament-name *ngIf = "data.step == 2" (submit)="stepTwo($event)"></esports-tournament-name>
<esports-select-platform *ngIf = "data.step == 3" [data] = "tournament" (submit)="stepThree($event)"></esports-select-platform>
<esports-select-date *ngIf = "data.step == 4" [data] = "tournament" (submit)="stepFour($event)"></esports-select-date>
<esports-tournament-details *ngIf = "data.step == 5" [data] = "tournament" (submit)="stepFive($event)"></esports-tournament-details>
