<div class="formtitle">{{ "ACCOUNT_SETTINGS.BLOCKED.TITLE" | translate }}</div>
<div class="formsubtitle">5 {{ "ACCOUNT_SETTINGS.BLOCKED.USERS_BLOCKED" | translate }}</div>

  <div class="people-blocked">
    <div class="blocked-user">
      <div class="row align-items-center py-3">
        <div class="col-2 col-lg-1">
          <img src="../../../../../assets/images/Profile/avatar-5.png" alt="user" class="profile-photo-lg">
        </div>
        <div class="col-7 col-lg-8">
          <h5 class="mb-0"><a href="#" class="profile-link">Sophia Page</a></h5>
          <p class="sub-text">sydeny</p>
        </div>
        <div class="col-3 text-right">
          <button class="button-default d-sm-block d-none text-capitalize float-right" (click)="unblock_Popup()">{{ "ACCOUNT_SETTINGS.BLOCKED.UNBLOCK" | translate }}</button>
          <mat-icon class="d-block d-sm-none">done</mat-icon>
        </div>
      </div>

    </div>
    <div class="blocked-user">
      <div class="row align-items-center py-3">
        <div class="col-2 col-lg-1">
          <img src="../../../../../assets/images/Profile/avatar-5.png" alt="user" class="profile-photo-lg">
        </div>
        <div class="col-7 col-lg-8">
          <h5 class="mb-0"><a href="#" class="profile-link">Sophia Page</a></h5>
          <p class="sub-text">sydeny</p>
        </div>
        <div class="col-3 text-right">
          <button class="button-default d-sm-block d-none text-capitalize float-right" (click)="unblock_Popup()">{{ "ACCOUNT_SETTINGS.BLOCKED.UNBLOCK" | translate }}</button>
          <mat-icon class="d-block d-sm-none">done</mat-icon>
        </div>
      </div>

    </div>
    <div class="blocked-user">
      <div class="row align-items-center py-3">
        <div class="col-2 col-lg-1">
          <img src="../../../../../assets/images/Profile/avatar-5.png" alt="user" class="profile-photo-lg">
        </div>
        <div class="col-7 col-lg-8">
          <h5 class="mb-0"><a href="#" class="profile-link">Sophia Page</a></h5>
          <p class="sub-text">sydeny</p>
        </div>
        <div class="col-3 text-right">
          <button class="button-default d-sm-block d-none text-capitalize float-right" (click)="unblock_Popup()">{{ "ACCOUNT_SETTINGS.BLOCKED.UNBLOCK" | translate }}</button>
          <mat-icon class="d-block d-sm-none">done</mat-icon>
        </div>
      </div>

    </div>

  </div>


