@import "shared";

.u-wp {
  max-width: px2vw-xl(1164px);
  @include xxl {
    max-width: 1370px;
  }
  @include lg {
    max-width: px2vw-lg(1164px);
  }
  @include md {
    max-width: px2vw-md(1164px);
  }
  @include sm {
    max-width: px2vw-sm(1164px);
  }
}

.news-all-page {
  background: url(../../../../assets/images/News/news-all-bg.svg) no-repeat 0 -80px;
  padding: px2vw-xl(48px) px2vw-xl(0px);
  background-attachment: scroll;
  background-size: 100%;
  @include xxl {
    padding: px2vw-xxl(48px) px2vw-xxl(0px);
  }
  @include lg {
    padding: px2vw-lg(48px) px2vw-lg(0px);
  }
  @include md {
    padding: 0;
    background: none;
  }
  @include sm {
    padding: 0;
  }
  .news-all-container {
    display: flex;
    @include md {
      padding: 0;
    }
    .news-all-sidebar {
      max-width: px2vw-xl(282.35px);
      width: 100%;
      padding-right: px2vw-xl(40px);
      min-width: px2vw-xl(282.35px);
      @include xxl {
        max-width: px2vw-xxl(262.35px);
        width: 100%;
        padding-right: px2vw-xxl(20px);
        min-width: px2vw-xxl(262.35px);
      }
      @include lg {
        max-width: px2vw-lg(282.35px);
        width: 100%;
        padding-right: px2vw-lg(40px);
        min-width: px2vw-lg(282.35px);
      }
      @include md {
        max-width: 100%;
        width: 90%;
        padding-right: 0px;
        min-width: inherit;
        position: fixed;
        top: 0;
        background: var(--gengcoin--bg);
        right: -100%;
        z-index: 5000;
        bottom: 0;
        transition: all 0.2s ease-in;
        box-shadow: var(--box_shadow);
      }
      &.filterShow {
        right: 0 !important;
      }
      .filter_title_Sect {
        display: none;
        @include md {
          display: flex;
          padding: px2vw-sm(20px) px2vw-sm(24px);
          font-size: px2vw-sm(24px);
          border-bottom: 1px solid var(--white-light);
        }
        .title_filter {
          font-family: "maxis-black";
          font-weight: 900;
          font-size: px2vw-xl(24px);
          line-height: px2vw-xl(24px);
          letter-spacing: px2vw-xl(0.18px);
          color: var(--white-high);
          @include xxl {
            font-size: px2vw-xxl(24px);
            line-height: px2vw-xxl(24px);
            letter-spacing: px2vw-xxl(0.18px);
          }
          @include lg {
            font-size: px2vw-lg(24px);
            line-height: px2vw-lg(24px);
            letter-spacing: px2vw-lg(0.18px);
          }
          @include md {
            font-size: px2vw-md(24px);
            line-height: px2vw-md(24px);
            letter-spacing: px2vw-md(0.18px);
            margin-bottom: 0;
          }
          @include sm {
            font-size: px2vw-sm(24px);
            line-height: px2vw-sm(24px);
            letter-spacing: px2vw-sm(0.18px);
          }
        }

        img {
          width: px2vw-xl(15px);
          @include xxl {
            width: px2vw-xxl(15px);
          }
          @include lg {
            width: px2vw-lg(15px);
          }
          @include md {
            width: px2vw-md(15px);
          }
          @include sm {
            width: px2vw-sm(15px);
          }
        }
      }
      .filter_button_sect {
        display: none;
        @include sm {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          border-top: 1px solid var(--black-low);
        }
        .btn {
          width: 50%;
          padding: px2vw-xl(15px);
          border-radius: 0;
          color: var(--white);
          text-transform: uppercase;
          font-size: px2vw-xl(14px);
          font-family: "maxis-regular";
          @include xxl {
            font-size: px2vw-xxl(14px);
            padding: px2vw-xxl(15px);
          }
          @include lg {
            font-size: px2vw-lg(14px);
            padding: px2vw-lg(15px);
          }
          @include md {
            font-size: px2vw-md(14px);
            padding: px2vw-md(15px);
          }
          @include sm {
            font-size: px2vw-sm(14px);
            padding: px2vw-sm(15px);
          }
          &.btn.btn_apply {
            background-color: var(--color-primary);
            a {
              color: var(--black);
            }
          }
        }
      }
      hr {
        border-top: 1px solid var(--white-light);
        margin-top: 32px;
        margin-bottom: px2vw-xl(25px);
        @include sm {
          margin: px2vw-sm(10px) px2vw-sm(0px);
        }
      }
      .category_wrapper {
        position: sticky;
        top: px2vw-xl(100px);
        @include xxl {
          top: px2vw-xxl(100px);
        }
        @include lg {
          top: px2vw-lg(100px);
        }
        @include md {
          top: px2vw-md(100px);
        }
        @include sm {
          position: static;
        }
        .category_box {
          @include md {
            padding-top: px2vw-md(15px);
          }
          @include sm {
            padding-top: px2vw-sm(15px);
          }
        }
        h5 {
          font-family: "maxis-semibold";
          font-size: px2vw-xl(17px);
          line-height: px2vw-xl(25px);
          letter-spacing: 0.15px;
          color: var(--white-high);
          margin-bottom: px2vw-xl(25px);
          @include xxl {
            font-size: px2vw-xxl(17px);
            line-height: px2vw-xxl(25px);
            margin-bottom: px2vw-xxl(17px);
          }
          @include lg {
            font-size: px2vw-xl(17px);
            line-height: px2vw-xl(25px);
            margin-bottom: px2vw-xl(17px);
          }
          @include md {
            font-size: px2vw-md(17px);
            line-height: px2vw-md(25px);
            margin-bottom: px2vw-md(17px);
            padding: 0 px2vw-md(24px);
          }
          @include sm {
            font-size: px2vw-sm(17px);
            line-height: px2vw-sm(25px);
            margin-bottom: px2vw-sm(17px);
            padding: 0 px2vw-sm(24px);
          }
        }
        ul {
          max-height: px2vw-xl(245px);
          overflow: hidden;
          overflow-y: auto;
          @include xxl {
            max-height: px2vw-xxl(245px);
          }
          @include lg {
            max-height: px2vw-xl(245px);
          }
          @include md {
            max-height: px2vw-md(245px);
            display: flex;
            flex-wrap: wrap;
            padding: 0 px2vw-md(24px);
          }
          @include sm {
            max-height: px2vw-sm(300px);
            padding: 0 px2vw-sm(24px);
          }
          &::-webkit-scrollbar-thumb {
            background-color: var(--color_skyblue);
          }

          li {
            margin-bottom: px2vw-xl(20px);
            @include xxl {
              margin-bottom: px2vw-xxl(20px);
            }
            @include lg {
              margin-bottom: px2vw-lg(20px);
            }
            @include md {
              margin-bottom: px2vw-md(20px);
              width: 50%;
            }
            @include sm {
              margin-bottom: px2vw-sm(20px);
            }

            a {
              color: var(--white-medium);
              @include xxl {
                font-size: px2vw-xxl(14px);
              }
              @include lg {
                font-size: px2vw-xl(14px);
              }
              @include md {
                font-size: px2vw-md(14px);
              }
              @include sm {
                font-size: px2vw-sm(14px);
              }
              &:hover,
              &.active {
                color: var(--color-primary);
              }
            }
            .custom_checkbox {
              position: relative;
              cursor: pointer;
              color: var(--white-medium);
              input {
                position: absolute;
                width: 0;
                height: 0;
                opacity: 0;
              }
              span {
                @extend %body-2;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--white-medium);
                i {
                  display: inline-block;
                  width: px2vw-xl(21px);
                  height: px2vw-xl(21px);
                  border: 1px solid rgba(255, 255, 255, 0.38);
                  margin-right: px2vw-xl(8px);
                  border-radius: px2vw-xl(2px);
                  @include xxl {
                    width: px2vw-xxl(21px);
                    height: px2vw-xxl(21px);
                    margin-right: px2vw-xxl(8px);
                    border-radius: px2vw-xxl(2px);
                  }
                  @include lg {
                    width: px2vw-lg(21px);
                    height: px2vw-lg(21px);
                    margin-right: px2vw-lg(8px);
                    border-radius: px2vw-lg(2px);
                  }
                  @include md {
                    width: px2vw-md(21px);
                    height: px2vw-md(21px);
                    margin-right: px2vw-md(8px);
                    border-radius: px2vw-md(2px);
                  }
                  @include sm {
                    width: px2vw-sm(21px);
                    height: px2vw-sm(21px);
                    margin-right: px2vw-sm(8px);
                    border-radius: px2vw-sm(2px);
                  }
                }
              }
              input:checked ~ span i {
                background: var(--color-primary);
                border-color: var(--color-primary);
                position: relative;
                &::after {
                  content: "";
                  position: absolute;
                  left: px2vw-xl(6px);
                  top: px2vw-xl(2px);
                  width: px2vw-xl(7px);
                  height: px2vw-xl(14px);
                  border: solid var(--black);
                  border-width: 0 px2vw-xl(3px) px2vw-xl(3px) 0;
                  transform: rotate(45deg);
                  @include xxl {
                    left: px2vw-xxl(6px);
                    top: px2vw-xxl(2px);
                    width: px2vw-xxl(7px);
                    height: px2vw-xxl(14px);
                    border-width: 0 px2vw-xxl(3px) px2vw-xxl(3px) 0;
                  }
                  @include lg {
                    left: px2vw-lg(6px);
                    top: px2vw-lg(2px);
                    width: px2vw-lg(7px);
                    height: px2vw-lg(14px);
                    border-width: 0 px2vw-lg(3px) px2vw-lg(3px) 0;
                  }
                  @include md {
                    left: px2vw-md(6px);
                    top: px2vw-md(2px);
                    width: px2vw-md(7px);
                    height: px2vw-md(14px);
                    border-width: 0 px2vw-md(3px) px2vw-md(3px) 0;
                  }
                  @include sm {
                    left: px2vw-sm(6px);
                    top: px2vw-sm(2px);
                    width: px2vw-sm(7px);
                    height: px2vw-sm(14px);
                    border-width: 0 px2vw-sm(3px) px2vw-sm(3px) 0;
                  }
                }
              }
            }
          }
        }
        .category_game {
          ul {
            li {
              margin-bottom: px2vw-xl(9px);
              @include xxl {
                margin-bottom: px2vw-xxl(9px);
              }
              @include lg {
                margin-bottom: px2vw-lg(9px);
              }
              @include md {
                margin-bottom: px2vw-md(9px);
              }
              @include sm {
                margin-bottom: px2vw-sm(13px);
              }
            }
          }
        }
      }
    }

    .custom_checkbox input:checked ~ span i {
      background: var(--color-primary);
      border-color: var(--color-primary);
    }

    /* Right Bar CSS */
    .news-all-right {
      border-left: 1px solid var(--white-smoke) !important;
      padding-left: px2vw-xl(25px);
      width: 100%;
      @include xxl {
        padding-left: px2vw-xxl(15px);
      }
      @include lg {
        padding-left: px2vw-lg(25px);
      }
      @include md {
        padding-left: px2vw-md(0px);
        border-left: none !important;
      }
      @include sm {
        padding-left: px2vw-sm(0px);
      }
      .news-all-filter {
        display: none;
        @include md {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--color-black-grydrk);
          padding: 0 px2vw-md(24px);
        }
        @include sm {
          padding: 0 px2vw-sm(24px);
        }
        .icon-filter {
          display: flex;
          align-items: center;
          justify-content: center;
          @include md {
            margin: px2vw-md(15px) 0;
            height: px2vw-md(35px);
            border: px2vw-md(1px) solid var(--white-smoke);
            width: 100%;
          }
          @include sm {
            margin: px2vw-sm(15px) 0;
            height: px2vw-sm(35px);
            border: px2vw-sm(1px) solid var(--white-smoke);
          }
          img {
            @include md {
              width: px2vw-md(12px);
              height: px2vw-md(8px);
              margin-right: px2vw-md(12px);
            }
            @include sm {
              width: px2vw-sm(12px);
              height: px2vw-sm(8px);
              margin-right: px2vw-sm(12px);
            }
          }
        }
      }

      .news-all-banner {
        width: 100%;
        position: relative;
        @include md {
          width: 100%;
        }
        @include sm {
          height:auto;
        }
        img {
          width: 100%;
          @include md {
            object-fit: cover;
          }
        }
        .overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--bx-shad6);
          bottom: -1px;
          left: 0;
          z-index: 9;
        }
        a {
          display: block;
          position: relative;
        }
        figcaption {
          position: absolute;
          bottom: px2vw-xl(25px);
          left: px2vw-xl(25px);
          right: px2vw-xl(25px);
          z-index: 50;
          @include xxl {
            position: static;
            bottom: px2vw-xxl(0px);
            padding: 0 px2vw-xxl(24px);
            left: px2vw-xxl(0px);
          }
          @include lg {
            position: static;
            bottom: px2vw-lg(0px);
            padding: 0 px2vw-lg(24px);
            left: px2vw-lg(0px);
          }
          @include md {
            position: static;
            bottom: px2vw-md(0px);
            padding: 0 px2vw-md(24px);
            left: px2vw-md(0px);
          }
          @include sm {
            position: static;
            bottom: px2vw-sm(0px);
            padding: 0 px2vw-sm(24px);
            left: px2vw-sm(0px);
          }
          .badge-game {
            display: inline-flex;
            border-radius: 0;
            align-items: center;
            height: px2vw-xl(26px);
            text-transform: uppercase;
            background-color: var(--color_skyblue);
            padding: px2vw-xl(8px);
            @include xxl {
              font-size: px2vw-xxl(17px);
              height: px2vw-xxl(26px);
              padding: px2vw-xxl(8px);
            }
            @include lg {
              font-size: px2vw-lg(17px);
              height: px2vw-lg(26px);
              padding: px2vw-lg(8px);
            }
            @include md {
              font-size: px2vw-md(17px);
              height: px2vw-md(26px);
              padding: px2vw-md(8px);
            }
            @include sm {
              font-size: px2vw-sm(17px);
              height: px2vw-sm(26px);
              padding: px2vw-sm(8px);
            }
            span {
              @extend %overline;
              color: var(--black);
            }
            .mat-icon {
              width: px2vw-xl(24px);
              height: px2vw-xl(24px);
              cursor: pointer;
              margin-right: px2vw-xl(5px);
              display: flex;
              @include xxl {
                width: px2vw-xxl(24px);
                height: px2vw-xxl(24px);
                margin-right: px2vw-xxl(5px);
              }
              @include lg {
                width: px2vw-lg(24px);
                height: px2vw-lg(24px);
                margin-right: px2vw-lg(5px);
              }
              @include md {
                width: px2vw-md(24px);
                height: px2vw-md(24px);
                margin-right: px2vw-md(5px);
              }
              @include sm {
                width: px2vw-sm(16px);
                height: px2vw-sm(16px);
                margin-right: px2vw-sm(5px);
              }
              &.Top.picks,
              &.Shop.promos {
                width: px2vw-xl(18px);
                height: px2vw-xl(18px);
                @include xxl {
                  width: px2vw-xxl(18px);
                  height: px2vw-xxl(18px);
                }
                @include lg {
                  width: px2vw-lg(18px);
                  height: px2vw-lg(18px);
                }
                @include md {
                  width: px2vw-md(18px);
                  height: px2vw-md(18px);
                }
                @include sm {
                  width: px2vw-sm(16px);
                  height: px2vw-sm(16px);
                }
              }
              ::ng-deep path {
                fill: black;
              }
            }
          }
          h2 {
            font-family: "maxis-black";
            font-size: px2vw-xl(28px);
            line-height: px2vw-xl(34px);
            letter-spacing: 0.15px;
            color: var(--white-high);
            text-shadow: var(--bx-shdow);
            max-width: px2vw-xl(508px);
            margin-top: px2vw-xl(17px);
            margin-bottom: px2vw-xl(0px);
            @include xxl {
              font-size: px2vw-xxl(28px);
              line-height: px2vw-xxl(34px);
              max-width: px2vw-xxl(508px);
              margin-top: px2vw-xxl(17px);
              margin-bottom: px2vw-xxl(0px);
            }
            @include lg {
              font-size: px2vw-lg(28px);
              line-height: px2vw-lg(34px);
              max-width: px2vw-lg(508px);
              margin-top: px2vw-lg(17px);
              margin-bottom: px2vw-lg(0px);
            }
            @include md {
              font-size: px2vw-md(28px);
              line-height: px2vw-md(34px);
              max-width: px2vw-md(508px);
              margin-top: px2vw-md(12px);
              margin-bottom: px2vw-md(0px);
            }
            @include sm {
              font-size: px2vw-sm(17px);
              line-height: px2vw-sm(24px);
              max-width: px2vw-sm(508px);
              margin-top: px2vw-sm(12px);
              margin-bottom: px2vw-sm(0px);
            }
          }
          .date {
            font-family: "maxis-bold";
            font-weight: normal;
            font-size: px2vw-xl(17px);
            line-height: px2vw-xl(25px);
            letter-spacing: 0.15px;
            color: var(--white-medium);
            @include xxl {
              font-size: px2vw-xxl(17px);
              line-height: px2vw-xxl(25px);
            }
            @include lg {
              font-size: px2vw-lg(17px);
              line-height: px2vw-lg(25px);
            }
            @include md {
              font-size: px2vw-md(17px);
              line-height: px2vw-md(25px);
            }
            @include sm {
              font-size: px2vw-sm(17px);
              line-height: px2vw-sm(25px);
            }
          }
          .by-share-sect {
            display: flex;
            white-space: pre;
            align-items: center;
            margin-top: px2vw-xl(21px);
            justify-content: space-between;
            @include xxl {
              margin-top: px2vw-xxl(21px);
            }
            @include lg {
              margin-top: px2vw-lg(21px);
            }
            @include md {
              margin-top: px2vw-md(21px);
            }
            @include sm {
              margin-top: px2vw-sm(15px);
              height: auto;
            }
            .news-auth-det {
              display: inline-block;
              margin: px2vw-xl(0px) px2vw-xl(5px);
              max-width: px2vw-xl(150px);
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              @include xxl {
                margin: px2vw-xxl(0px) px2vw-xxl(5px);
                max-width: px2vw-xxl(150px);
              }
              @include lg {
                margin: px2vw-lg(0px) px2vw-lg(5px);
                max-width: px2vw-lg(150px);
              }
              @include md {
                margin: px2vw-md(0px) px2vw-md(5px);
                max-width: px2vw-md(150px);
              }
              @include sm {
                margin: px2vw-sm(0px) px2vw-sm(5px);
                max-width: px2vw-sm(150px);
              }
            }
            .share-btn-sect {
              display: flex;
              margin-right: px2vw-xl(15px);
              height: px2vw-xl(20px);

              @include xxl {
                margin-right: px2vw-xxl(15px);
                height: px2vw-xxl(20px);
              }
              @include lg {
                margin-right: px2vw-lg(15px);
                height: px2vw-lg(20px);
              }
              @include md {
                margin-right: px2vw-md(15px);
                height: px2vw-md(20px);
              }
              @include sm {
                margin-right: px2vw-sm(15px);
                height: px2vw-sm(20px);
              }
              img {
                width: px2vw-xl(24px);
                height: px2vw-xl(24px);
                @include xxl {
                  width: px2vw-xxl(24px);
                  height: px2vw-xxl(24px);
                }
                @include lg {
                  width: px2vw-lg(24px);
                  height: px2vw-lg(24px);
                }
                @include md {
                  width: px2vw-md(24px);
                  height: px2vw-md(24px);
                }
                @include sm {
                  width: px2vw-sm(24px);
                  height: px2vw-sm(24px);
                }
              }
            }
          }
        }
      }
    }

    .news-all-header {
      margin-top: px2vw-xl(48px);
      margin-bottom: px2vw-xl(16px);
      border-bottom: 1px solid var(--white-light);
      display: flex;
      @include xxl {
        margin-top: px2vw-xxl(48px);
        margin-bottom: px2vw-xxl(16px);
      }
      @include lg {
        margin-top: px2vw-lg(48px);
        margin-bottom: px2vw-lg(16px);
      }
      @include md {
        margin-top: px2vw-md(48px);
        margin-bottom: px2vw-md(16px);
        padding: 0 px2vw-md(24px);
        padding-bottom: px2vw-md(16px);
      }
      @include sm {
        margin-top: px2vw-sm(48px);
        margin-bottom: px2vw-sm(16px);
        flex-direction: column;
        padding: 0 px2vw-sm(24px);
        padding-bottom: px2vw-sm(16px);
      }
      .title-sect {
        h2 {
          @extend %global-H5;
          text-transform: inherit;
          letter-spacing: 0.18px;
          color: var(--white-high);
        }
        p {
          font-weight: 600;
          font-size: px2vw-xl(14px);
          line-height: px2vw-xl(20px);
          letter-spacing: 0.25px;
          color: var(--white-medium);
          margin-top: px2vw-xl(12px);
          @include xxl {
            font-size: px2vw-xxl(14px);
            line-height: px2vw-xxl(20px);
            margin-top: px2vw-xxl(12px);
          }
          @include lg {
            font-size: px2vw-lg(14px);
            line-height: px2vw-lg(20px);
            margin-top: px2vw-lg(12px);
          }
          @include md {
            font-size: px2vw-md(14px);
            line-height: px2vw-md(20px);
            margin-top: px2vw-md(12px);
          }
          @include sm {
            font-size: px2vw-sm(14px);
            line-height: px2vw-sm(20px);
            margin-top: px2vw-sm(12px);
          }
        }
      }
      .tournament_date_picker {
        width: px2vw-xl(178px);
        margin-left: auto;
        @include xxl {
          width: px2vw-xxl(178px);
        }
        @include lg {
          width: px2vw-lg(178px);
        }
        @include md {
          width: px2vw-md(178px);
        }
        @include sm {
          display: none;
          width: 100%;
        }
        .mat-form-field-wrapper {
          margin: 0px;
        }
        .mat-form-field-flex {
          align-items: center;
          height: px2vw-xl(44px);
          @include xxl {
            height: px2vw-xxl(44px);
          }
          @include lg {
            height: px2vw-lg(44px);
          }
          @include md {
            height: px2vw-md(44px);
          }
          @include sm {
            height: px2vw-sm(44px);
          }
        }
      }
    }

    .news-all-row {
      padding: px2vw-xl(22px) px2vw-xl(0px);
      display: flex;
      border-bottom: 1px solid var(--white-light);
      @include xxl {
        padding: px2vw-xxl(22px) px2vw-xxl(0px);
      }
      @include lg {
        padding: px2vw-lg(22px) px2vw-lg(0px);
      }
      @include md {
        padding: px2vw-md(22px) px2vw-md(24px);
      }
      @include sm {
        padding: px2vw-sm(22px) px2vw-sm(24px);
      }
    }
    .news-all-row-img {
      width: px2vw-xl(277px);
      height: px2vw-xl(158px);
      @include xxl {
        width: px2vw-xxl(277px);
        height: px2vw-xxl(158px);
      }
      @include lg {
        width: px2vw-lg(277px);
        height: px2vw-lg(158px);
      }
      @include md {
        width: px2vw-md(277px);
        height: auto;
      }
      @include sm {
        width: px2vw-sm(115px);
        height: auto;
      }
      img {
        width: 100%;
        height: 100%;
        @include sm {
          width: 115px;
          height: auto;
        }
      }
    }
    .news-all-row-details {
      margin-left: px2vw-xl(24px);
      padding-right: px2vw-xl(22px);
      flex: auto;
      width: 68%;
      @include xxl {
        margin-left: px2vw-xxl(24px);
        padding-right: px2vw-xxl(22px);
      }
      @include lg {
        margin-left: px2vw-lg(24px);
        padding-right: px2vw-lg(22px);
      }
      @include md {
        margin-left: px2vw-md(0px);
        padding: 0 px2vw-md(15px);
        margin-top: px2vw-sm(0);
        width: 100%;
      }
      @include sm {
        margin-left: px2vw-sm(0px);
        padding: 0 0 0 px2vw-sm(15px);
        margin-top: px2vw-sm(0);
      }

      h2 {
        font-family: "maxis-bold";
        font-weight: normal;
        font-size: px2vw-xl(24px);
        line-height: px2vw-xl(26px);
        letter-spacing: 0.15px;
        color: var(--white-high);
        margin-bottom: px2vw-xl(12px);
        max-width: 85%;
        word-break: break-all;
        @include xxl {
          font-size: px2vw-xxl(24px);
          line-height: px2vw-xxl(26px);
          margin-bottom: px2vw-xxl(12px);
        }
        @include lg {
          font-size: px2vw-lg(24px);
          line-height: px2vw-lg(26px);
          margin-bottom: px2vw-lg(12px);
        }
        @include md {
          font-size: px2vw-md(24px);
          line-height: px2vw-md(26px);
          margin-bottom: px2vw-md(12px);
          max-width: 100%;
        }
        @include sm {
          font-size: px2vw-sm(20px);
          line-height: px2vw-sm(26px);
          margin-bottom: px2vw-sm(12px);
        }
      }
      p {
        font-size: px2vw-xl(14px);
        line-height: px2vw-xl(20px);
        letter-spacing: 0.25px;
        color: var(--white-medium);
        font-family: "maxis-semibold";
        max-width: 85%;
        word-break: break-all;
        @include xxl {
          font-size: px2vw-xxl(14px);
          line-height: px2vw-xxl(20px);
        }
        @include lg {
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(20px);
        }
        @include md {
          font-size: px2vw-md(14px);
          line-height: px2vw-md(20px);
        }
        @include sm {
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(20px);
          max-width: 100%;
          display: none;
        }
      }
      .by-share-sect {
        display: flex;
        align-items: center;
        margin-top: px2vw-xl(21px);
        @include xxl {
          margin-top: px2vw-xxl(21px);
        }
        @include lg {
          margin-top: px2vw-lg(21px);
        }
        @include md {
          margin-top: px2vw-md(21px);
        }
        @include sm {
          margin-top: px2vw-sm(18px);
          flex-direction: column;
          align-items: flex-start;
        }
        .news-auth-det {
          display: inline-block;
          margin: px2vw-xl(0px) px2vw-xl(5px);
          max-width: px2vw-xl(150px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          @include xxl {
            margin: px2vw-xxl(0px) px2vw-xxl(5px);
            max-width: px2vw-xxl(150px);
          }
          @include lg {
            margin: px2vw-lg(0px) px2vw-lg(5px);
            max-width: px2vw-lg(150px);
          }
          @include md {
            margin: px2vw-md(0px) px2vw-md(5px);
            max-width: px2vw-md(150px);
          }
          @include sm {
            margin: px2vw-sm(0px) px2vw-sm(5px);
            max-width: px2vw-sm(150px);
          }
          @media (max-width: 415px) {
            display: inline;
          }
        }
        .date_sec {
          @media (max-width: 415px) {
            width: 100%;
            display: block;
          }
        }
        .date-sec {
          @extend %subtitle-1;
          color: var(--white-medium);
          display: flex;
          white-space: pre;
        }
        .share-btn-sect {
          display: flex;
          margin-left: px2vw-xl(8px);
          width: 100%;
          justify-content: space-between;
          @include xxl {
            margin-left: px2vw-xxl(8px);
          }
          @include lg {
            margin-left: px2vw-lg(8px);
          }
          @include md {
            margin-left: px2vw-md(8px);
          }
          @include sm {
            margin-left: 0;
            margin-top: px2vw-sm(5px);
          }
          .news-type {
            @extend %overline;
            color: var(--color_skyblue);
            display: flex;
            align-items: center;
            .mat-icon {
              width: px2vw-xl(24px);
              height: px2vw-xl(24px);
              cursor: pointer;
              margin-right: px2vw-xl(5px);
              display: flex;
              @include xxl {
                width: px2vw-xxl(24px);
                height: px2vw-xxl(24px);
                margin-right: px2vw-xxl(5px);
              }
              @include lg {
                width: px2vw-lg(24px);
                height: px2vw-lg(24px);
                margin-right: px2vw-lg(5px);
              }
              @include md {
                width: px2vw-md(24px);
                height: px2vw-md(24px);
                margin-right: px2vw-md(5px);
              }
              @include sm {
                width: px2vw-sm(16px);
                height: px2vw-sm(16px);
                margin-right: px2vw-sm(5px);
              }
              &.Top.picks,
              &.Shop.promos {
                width: px2vw-xl(18px);
                height: px2vw-xl(18px);
                @include xxl {
                  width: px2vw-xxl(18px);
                  height: px2vw-xxl(18px);
                }
                @include lg {
                  width: px2vw-lg(18px);
                  height: px2vw-lg(18px);
                }
                @include md {
                  width: px2vw-md(18px);
                  height: px2vw-md(18px);
                }
                @include sm {
                  width: px2vw-sm(16px);
                  height: px2vw-sm(16px);
                }
              }
              ::ng-deep path {
                fill: var(--color-lgh-blue2);
              }
            }
          }
        }
      }
    }

    .news-all-btn-more {
      font-family: "maxis-bold";
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)), var(--color-background);
      box-shadow: var(--bx-shdow);
      font-size: px2vw-xl(14px);
      line-height: px2vw-xl(16px);
      letter-spacing: 0.5px;
      color: var(--white-high);
      display: block;
      text-align: center;
      padding: px2vw-xl(18px) px2vw-xl(0px);
      margin-top: px2vw-xl(32px);
      text-transform: uppercase;
      width: 100%;
      @include xxl {
        font-size: px2vw-xxl(14px);
        line-height: px2vw-xxl(16px);
        padding: px2vw-xxl(18px) px2vw-xxl(0px);
        margin-top: px2vw-xxl(32px);
      }
      @include lg {
        font-size: px2vw-lg(14px);
        line-height: px2vw-lg(16px);
        padding: px2vw-lg(18px) px2vw-lg(0px);
        margin-top: px2vw-lg(32px);
      }
      @include md {
        font-size: px2vw-md(14px);
        line-height: px2vw-md(16px);
        padding: px2vw-md(18px) px2vw-md(0px);
        margin: px2vw-md(24px);
        width: 90%;
      }
      @include sm {
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(16px);
        padding: px2vw-sm(18px) px2vw-sm(0px);
        margin: px2vw-sm(24px);
        width: 90%;
      }
      &:hover {
        background: var(--color-primary);
        color: var(--black);
      }
    }
  }
}

.style {
  width: 100%;
}
.sort_by {
  margin-left: auto;
  @include sm {
    width: 100%;
  }
  ::ng-deep .mat-form-field-flex {
    height: px2vw-xl(50px) !important;
    @include xxl {
      height: px2vw-xxl(50px) !important;
    }
    @include lg {
      height: px2vw-lg(50px) !important;
    }
    @include md {
      height: px2vw-md(50px) !important;
    }
    @include sm {
      height: px2vw-sm(50px) !important;
    }
  }
  ::ng-deep .mat-form-field {
    margin-top: 0;
    @include sm {
      width: 100%;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 0.5em !important;
    @include xxl {
      padding-top: 0.5em !important;
    }
    @include lg {
      padding-top: 0.5em !important;
    }
    @include md {
      padding-top: 0.5em !important;
    }
    @include sm {
      padding-top: 0.5em !important;
    }
  }
  ::ng-deep .mat-select-arrow {
    color: rgba(255, 255, 255, 0.38) !important;
    margin-bottom: px2vw-xl(-2px);
    @include xxl {
      margin-bottom: px2vw-xxl(-2px);
    }
    @include lg {
      margin-bottom: px2vw-lg(-2px);
    }
    @include md {
      margin-bottom: px2vw-md(-2px);
    }
    @include sm {
      margin-bottom: px2vw-sm(-2px);
    }
  }
  ::ng-deep .mat-form-field-label-wrapper {
    .mat-form-field-label {
      @extend %caption;
      color: var(--white-medium);
      @include sm {
        font-size: px2vw-sm(12px);
      }
    }
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--white) !important;
  }
  ::ng-deep .mat-select-value {
    font-family: "maxis-semibold";
    font-size: px2vw-xl(16px);
    letter-spacing: px2vw-xl(0.5px);
    line-height: px2vw-xl(24px);
    color: var(--white-high);
    @include xxl {
      font-size: px2vw-xxl(16px);
      letter-spacing: px2vw-xxl(0.5px);
      line-height: px2vw-xxl(24px);
    }
    @include lg {
      font-size: px2vw-lg(16px);
      letter-spacing: px2vw-lg(0.5px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      letter-spacing: px2vw-md(0.5px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      letter-spacing: px2vw-sm(0.5px);
      line-height: px2vw-sm(24px);
    }
  }
  ::ng-deep .mat-select-trigger {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    .mat-select-value {
      max-width: inherit !important;
    }
  }
}
.is_active {
  color: var(--color-primary) !important;
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background: var(--black-dark9);
}
.filter_overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-overlay);
  z-index: 999;
  top: 0;
  &.hide {
    display: none;
  }
}
