@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "base/typography";
@import "abstract/functions";

.platformsError {
  color: var(--ui-venetian-red);
  font-size: 20px;
  font-weight: bold;
}

input[id="orderInput"] {
  text-align: center;
}

input[id="orderInput"]:disabled {
  border: 0;
}

.select-hide {
  display: none;
}

.GameConfigurations {
  &-main {
    padding: px2vw-xl(60px) px2vw-xl(70px);
    background: transparent;

    @include lg {
      padding: px2vw-lg(60px) px2vw-lg(70px);
      margin-top: px2vw-lg(70px);
    }

    @include md {
      padding: px2vw-md(60px) px2vw-md(70px);
      margin-top: px2vw-md(70px);
    }

    @include sm {
      padding: px2vw-sm(60px) px2vw-sm(70px);
      margin-top: px2vw-sm(70px);
    }

    &-editView {
      padding: px2vw-xl(60px) px2vw-xl(70px);
      margin-top: px2vw-xl(70px);
      background-color: var(--ui-nero);
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: px2vw-xl(60px);

    @include lg {
      margin-top: px2vw-lg(60px);
    }

    @include md {
      margin-top: px2vw-md(60px);
    }

    @include sm {
      margin-top: px2vw-sm(30px);
      flex-flow: column;
    }

    &-btns {
      width: 100%;
      text-align: end;

      @include sm {
        margin-top: px2vw-sm(30px);
      }

      button {
        margin-left: px2vw-xl(30px);

        @include lg {
          margin-left: px2vw-lg(30px);
        }

        @include md {
          margin-left: px2vw-md(30px);
        }

        @include sm {
          margin-left: px2vw-sm(30px);
        }

        &:first-child {
          margin: 0;
        }
      }
    }

    &.is-btw {
      justify-content: space-between;
    }
  }

  &-boxA {
    @extend %u-dfEndBtw;

    @include md {
      flex-flow: wrap;
    }

    @include sm {
      align-items: center;
      flex-flow: column;
    }

    &-item {
      @extend %u-dfCenterBtw;
      margin-bottom: px2vw-xl(45px);

      @include lg {
        margin-bottom: px2vw-lg(45px);
      }

      @include md {
        margin-bottom: px2vw-md(45px);
      }

      @include sm {
        flex-flow: column;
        margin-bottom: px2vw-sm(45px);
      }

      & input {
        opacity: 0;
        height: 0px;
        width: 0px;
      }

      &.is-first {
        flex-flow: column;
        align-items: flex-start;
      }

      &.is-last {
        flex-flow: column;
        align-items: flex-end;
        width: 30%;
        text-align: -webkit-center;
      }

      &-select {
        font-size: px2vw-xl(24px);
        font-weight: 100;

        @include lg {
          font-size: px2vw-lg(24px);
        }

        @include md {
          font-size: px2vw-md(24px);
        }

        @include sm {
          font-size: px2vw-sm(24px);
        }

        &-option {
          font-size: px2vw-xl(16px) !important;

          @include lg {
            font-size: px2vw-lg(16px) !important;
          }

          @include md {
            font-size: px2vw-md(16px) !important;
          }

          @include sm {
            font-size: px2vw-sm(16px) !important;
          }

          &.mat-selected:not(.mat-option-disabled) {
            color: var(--base-white);
          }
        }

        ::ng-deep {
          .mat-form-field-underline {
            display: none;
          }

          .mat-form-field-infix {
            padding: 0;
            border: 0;
          }

          .mat-select-arrow {
            margin: px2vw-xl(5px) px2vw-xl(4px);
            border: px2vw-xl(3px) solid var(--primary-cinnabar);
            width: px2vw-xl(12px);
            height: px2vw-xl(12px);
            display: inline-block;
            border-right: none;
            border-bottom: none;
            transform: rotate(-135deg);

            @include lg {
              margin: px2vw-lg(5px) px2vw-lg(4px);
              border-width: px2vw-lg(3px);
              width: px2vw-lg(12px);
              height: px2vw-lg(12px);
            }

            @include md {
              margin: px2vw-md(5px) px2vw-md(4px);
              border-width: px2vw-md(3px);
              width: px2vw-md(12px);
              height: px2vw-md(12px);
            }

            @include sm {
              margin: px2vw-sm(5px) px2vw-sm(4px);
              border-width: px2vw-sm(3px);
              width: px2vw-sm(12px);
              height: px2vw-sm(12px);
            }
          }

          .mat-select-value {
            padding-right: px2vw-xl(5px);
            display: initial;

            @include lg {
              padding-right: px2vw-lg(5px);
            }

            @include md {
              padding-right: px2vw-md(5px);
            }

            @include sm {
              padding-right: px2vw-sm(5px);
            }
          }
        }
      }

      &-color {
        margin-left: px2vw-xl(10px);
        border: none;
        width: px2vw-xl(30px);
        height: px2vw-xl(30px);
        color: transparent;

        @include lg {
          width: px2vw-lg(30px);
          height: px2vw-lg(30px);
          margin-left: px2vw-lg(10px);
        }

        @include md {
          width: px2vw-md(30px);
          height: px2vw-md(30px);
          margin-left: px2vw-md(10px);
        }

        @include sm {
          width: px2vw-sm(30px);
          height: px2vw-sm(30px);
          margin: px2vw-sm(10px) 0 0;
        }
      }

      &-upload {
        @extend %u-dfCenterCenter;
        border: 1px dashed var(--ui-dim-gray);
        width: px2vw-xl(180px);
        height: px2vw-xl(180px);
        border-radius: px2vw-xl(5px);
        margin-top: px2vw-xl(13px);
        background: linear-gradient(
0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) ), #dadada;
        // background-color: var(--ui-nero);
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        color: var(--ui-dim-gray);

        @include lg {
          width: px2vw-lg(180px);
          height: px2vw-lg(180px);
          border-radius: px2vw-lg(5px);
          margin-top: px2vw-lg(13px);
        }

        @include md {
          width: px2vw-md(180px);
          height: px2vw-md(180px);
          border-radius: px2vw-md(5px);
          margin-top: px2vw-md(13px);
        }

        @include sm {
          width: px2vw-sm(180px);
          height: px2vw-sm(180px);
          border-radius: px2vw-sm(5px);
          margin-top: px2vw-sm(13px);
        }

        &-info {
          width: 86%;
          margin: 0 auto;
          text-align: center;

          button {
            margin-top: px2vw-xl(13px);
            padding: 0;
            width: 100%;
            background-color: var(--ui-nero);

            @include lg {
              margin-top: px2vw-lg(13px);
            }

            @include md {
              margin-top: px2vw-md(13px);
            }

            @include sm {
              margin-top: px2vw-sm(13px);
            }
          }
        }
      }
    }
  }

  &-boxB {
    @extend %u-dfEndBtw;
    flex-flow: wrap;

    @include md {
      flex-flow: column;
    }

    &-item {
      @extend %u-dfCenterBtw;
      width: 38%;

      @include md {
        width: 100%;
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(30px);
      }

      &-input {
        width: px2vw-xl(154px);
        height: px2vw-xl(64px);
        border: px2vw-xl(2px) solid var(--base-white-smoke);
        border-radius: px2vw-xl(10px);
        padding: 0 px2vw-xl(15px);
        font-size: px2vw-xl(20px);
        background: transparent;

        @include lg {
          width: px2vw-lg(154px);
          height: px2vw-lg(64px);
          border-width: px2vw-lg(2px);
          border-radius: px2vw-lg(10px);
          padding: 0 px2vw-lg(15px);
          font-size: px2vw-lg(20px);
        }

        @include md {
          border-width: px2vw-md(2px);
          border-radius: px2vw-md(10px);
          padding: 0 px2vw-md(15px);
          width: px2vw-md(154px);
          height: px2vw-md(64px);
          font-size: px2vw-md(20px);
        }

        @include sm {
          border-width: px2vw-sm(2px);
          border-radius: px2vw-sm(10px);
          padding: 0 px2vw-sm(15px);
          width: px2vw-sm(154px);
          height: px2vw-sm(64px);
          font-size: px2vw-sm(20px);
        }

        &-order {
          width: px2vw-xl(154px);
          height: px2vw-xl(64px);
          border: px2vw-xl(2px) solid var(--ui-dim-gray);
          border-radius: px2vw-xl(10px);
          padding: 0 px2vw-xl(15px);
          font-size: px2vw-xl(20px);
          background: transparent;

          @include lg {
            width: px2vw-lg(154px);
            height: px2vw-lg(64px);
            border-width: px2vw-lg(2px);
            border-radius: px2vw-lg(10px);
            padding: 0 px2vw-lg(15px);
            font-size: px2vw-lg(20px);
          }

          @include md {
            width: px2vw-md(154px);
            height: px2vw-md(64px);
            border-width: px2vw-md(2px);
            border-radius: px2vw-md(10px);
            padding: 0 px2vw-md(15px);
            font-size: px2vw-md(20px);
          }

          @include sm {
            width: px2vw-sm(154px);
            height: px2vw-sm(64px);
            border-width: px2vw-sm(2px);
            border-radius: px2vw-sm(10px);
            padding: 0 px2vw-sm(15px);
            font-size: px2vw-sm(20px);
          }
        }
      }
    }
    &-menu {
      width: 100%;
    }
  }

  &-boxC {
    @extend %u-dfStartBtw;

    @include md {
      flex-flow: column;
      align-items: center;
    }

    &-title {
      font-size: px2vw-xl(24px);
      padding: px2vw-xl(50px) 0 0;
      font-family: "stc-forward-light", sans-serif;
      flex: 2;

      @include lg {
        font-size: px2vw-lg(24px);
        padding: px2vw-lg(50px) 0 0;
      }

      @include md {
        font-size: px2vw-md(24px);
        padding: 0 0 px2vw-md(30px);
        text-align: center;
        flex: initial;
      }

      @include sm {
        font-size: px2vw-sm(24px);
        padding: 0 0 px2vw-sm(30px);
      }
    }

    &-info {
      flex: 10;

      @include md {
        width: 100%;
        flex: initial;
      }

      &-title {
        padding-left: px2vw-xl(20px);

        @include lg {
          padding-left: px2vw-lg(20px);
        }

        @include md {
          padding-left: 0;
          text-align: center;
        }
      }
    }

    &-banner {
      @extend %u-dfCenterCenter;
      height: px2vw-xl(400px);
      border: 1px dashed var(--ui-dim-gray);
      border-radius: px2vw-xl(5px);
      margin: px2vw-xl(13px) 0 px2vw-xl(50px);
      color: var(--ui-dim-gray);
      background-color: var(--base-black-pearl);
      background-size: cover;
      background-position: center;

      @include lg {
        height: px2vw-lg(400px);
        border-radius: px2vw-lg(5px);
        margin: px2vw-lg(13px) 0 px2vw-lg(50px);
      }

      @include md {
        height: px2vw-md(400px);
        border-radius: px2vw-md(5px);
        margin: px2vw-md(13px) 0 px2vw-md(50px);
      }

      @include sm {
        height: px2vw-sm(400px);
        border-radius: px2vw-sm(5px);
        margin: px2vw-sm(13px) 0 px2vw-sm(50px);
      }

      &-info {
        width: 86%;
        margin: 0 auto;
        text-align: center;

        button {
          margin-top: px2vw-xl(13px);
          background-color: var(--ui-nero);

          @include lg {
            margin-top: px2vw-lg(13px);
          }

          @include md {
            margin-top: px2vw-md(13px);
          }

          @include sm {
            margin-top: px2vw-sm(13px);
          }
        }
      }
    }

    &-footer {
      @extend %u-dfEndBtw;

      @include md {
        flex-flow: column;
        align-items: flex-end;
      }

      &-left {
        flex: 10;

        @include md {
          width: 100%;
          flex: initial;
        }
      }

      &-right {
        padding: 0 0 px2vw-xl(35px);
        flex: 2;
        text-align: right;

        @include lg {
          padding: 0 0 px2vw-lg(35px);
        }

        @include md {
          padding: 0 0 px2vw-md(35px);
          flex: initial;
        }

        @include sm {
          padding: 0 0 px2vw-sm(35px);
        }

        &-btn {
          color: rgba(245, 245, 245, 0.58);
        }
      }
    }
  }

  &-bracket-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: px2vw-xl(10px);

    @include lg {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: px2vw-lg(10px);
    }

    @include md {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: px2vw-md(10px);
    }

    @include sm {
      display: grid;
      grid-template-columns: auto;
      grid-gap: px2vw-sm(10px);
    }
  }

  &-label {
    vertical-align: top;
    margin-right: 0.5em;
    position: relative;
  }
}

::ng-deep {
  app-toggle-switch {
    .form-group {
      & .form-check {
        & .toggle-switch-label {
          color: var(--base-black-pearl) !important;
        }
      }
    }
  }

  app-drop-down {
    width: px2vw-xl(350px) !important;

    @include lg {
      width: px2vw-lg(350px) !important;
    }

    @include md {
      width: px2vw-md(350px) !important;
    }

    @include sm {
      width: px2vw-sm(350px) !important;
    }
  }
  .GameConfigurations-boxA .placement-item {
    border: 2px solid #ccc !important;
}
.Duration {
  width: 80px !important;
  display: inline-block !important;
  margin-right: 10px;
  .Duration-block {
    width: 82px !important;
}
}

}
.btn-theme {
  background-color: var(--color-primary);
}
.btn-back{
  background-color: var(--color-secondary);
}
