@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.searchButton{
  background: transparent;
}

.searchBox{
  display: flex;
  align-items: center;
  justify-content: space-between
}

.filterContainer{
  align-items: flex-start;
  display: flex;
  width: 50%;
  width: 100%;
}

.dropdown{
  margin-left: -15px
}

.AccessManagement {
  &-header {
    text-align: right;
    margin-top: px2vw-xl(20px);
  }

    &-tableBtn {
    color: var(--ui-dim-gray);

    mat-icon {
      font-size: px2vw-xl(26px);

      @include lg {
        font-size: px2vw-lg(26px);
      }

      @include md {
        font-size: px2vw-md(26px);
      }

      @include sm {
        font-size: px2vw-sm(26px);
      }
    }
  }
  &-accessWp {
    @extend %u-dfCenterCenter;
    flex-wrap: wrap;
    width: 100%;
  }

  &-access {
    margin: px2vw-xl(5px) px2vw-xl(10px);
    font-size: px2vw-xl(14px);
    text-transform: uppercase;

    @include lg {
      margin: px2vw-lg(5px) px2vw-lg(10px);
      font-size: px2vw-lg(14px);
    }

    @include md {
      margin: px2vw-md(5px) px2vw-md(10px);
      font-size: px2vw-md(14px);
    }

    @include sm {
      margin: px2vw-sm(5px) px2vw-sm(10px);
      font-size: px2vw-sm(14px);
    }

    ::ng-deep .mat-button-wrapper {
      padding: px2vw-xl(8px) 0;
      line-height: px2vw-xl(24px);

      @include lg {
        padding: px2vw-lg(8px) 0;
        line-height: px2vw-lg(24px);
      }

      @include md {
        padding: px2vw-md(8px) 0;
        line-height: px2vw-md(24px);
      }

      @include sm {
        padding: px2vw-sm(8px) 0;
        line-height: px2vw-sm(24px);
      }
    }

    &[disabled] {
      background-color: rgba(255, 106, 57, 0.1);
      color: var(--primary-sunset-light);
    }
  }
}
