<mat-tab-group
  mat-align-tabs="start"
  (selectedTabChange)="onTabChanged($event)"
  [(selectedIndex)]="activeTabIndex"
  class="global-TabGroup"
>
  <mat-tab
    label="{{ 'ADMIN.ACCESS_MANAGEMENT.TABS.CURRENT_ACCESS' | translate }}"
  >
    <div class="AccessManagement-header">
      <button
        class="AccessManagement-header-button global-EditBtn is-sm"
        [routerLink]="['view', '0123456789ab']"
      >
        <span class="material-icons">add</span>
        {{ "ADMIN.ACCESS_MANAGEMENT.LABEL.ADD_NEW" | translate }}
      </button>
    </div>
    <div class="global-scrollbar">
      <ngx-datatable
        #table
        *ngIf="rowsFirstTab?.length > 0"
        class="global-DataTable"
        [columnMode]="'flex'"
        [columns]="columnsFirstTab"
        [footerHeight]="'auto'"
        [headerHeight]="'auto'"
        [limit]="50"
        [rowHeight]="'auto'"
        [rows]="rowsFirstTab"
      >
        <ngx-datatable-column
          name="{{
            'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.USER_ID' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.id }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.NAME' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.ACCESS_LEVEL' | translate
          }}"
          [flexGrow]="3"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              *ngFor="let item of row['accessLevel']"
              mat-mini-fab
              disabled
              class="AccessManagement-access"
            >
              {{ item }}
            </button>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.PHONE' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.phone }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              class="Admin-tableBtn"
              [matMenuTriggerFor]="menu"
              mat-icon-button
              color="primary"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>

            <mat-menu #menu="matMenu" yPosition="above">
              <button
                class="Admin-tableBtn w-100"
                (click)="onViewUserAccess(row)"
                mat-button
                matTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
                color="primary"
              >
                <mat-icon class="AccessManagement-tableBtn"
                  >visibility</mat-icon
                >
              </button>

              <a
                class="AccessManagement-tableBtn Admin-tableBtn w-100"
                [routerLink]="['view', row['id']]"
                mat-button
                matTooltip="{{ 'ADMIN_TOOLTIP.EDIT' | translate }}"
                color="primary"
              >
                <mat-icon class="AccessManagement-tableBtn">edit</mat-icon>
              </a>

              <button
                class="Admin-tableBtn w-100"
                (click)="onRemoveUser(row['id'])"
                mat-button
                matTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
                color="primary"
              >
                <mat-icon class="AccessManagement-tableBtn"
                  >remove_circle</mat-icon
                >
              </button>
            </mat-menu>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'ADMIN.ACCESS_MANAGEMENT.TABS.AUDIT_LOG' | translate }}">
    <div class="filterContainer" *ngIf="showFilter">
      <div class="Admin-search">
        <div class="col-xl-4 col-lg-12 mt-3 dropdown" >
          <app-drop-down-select
            (valueEmit)="selectType($event)"
            [customFormControlName]="'events'"
            [customFormGroup]="eventsControl"
            [dropdownList]="customEventArray"
            [type]="'A'"
            [title]="'ADMIN.ACCESS_MANAGEMENT.LABEL.EVENT_TYPES' | translate"
          ></app-drop-down-select>
        </div>
        <div class="Admin-search">
          <mat-icon>search</mat-icon>
          <input
            #searchInput
            type="text"
            placeholder="{{ 'ADMIN.USER_MANAGEMENT.LABEL.SEARCH' | translate }}"
          />
          <button
            class="searchButton"
            *ngIf="searchInput.value"
            (click)="clearSearch()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="global-scrollbar">
      <ngx-datatable
        #table
        *ngIf="logData?.length > 0"
        class="global-DataTable"
        [columnMode]="'flex'"
        [columns]="columnsFirstTab"
        [footerHeight]="'auto'"
        [headerHeight]="'auto'"
        [limit]="50"
        [rowHeight]="'auto'"
        [rows]="logData"
      >
        <ngx-datatable-column
          name="{{ 'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.TIME' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{
              !isNumber(timezone)
                ? (row.time | date: "medium")
                : (row.time | date: "MMM d, y, h:mm:ss a z")
            }}
            {{ !isNumber(timezone) ? timezone : "" }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.ORIGINATOR' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.originator }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.TYPE' | translate }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.codes ? row.codes[currentlang].text : row.type }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.ACCESS_MANAGEMENT.TABLE_HEADER.EVENT_DESC' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.remark ? row.remark : row.codes[currentlang].remark }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <app-pagination
        *ngIf="logData.length > 0"
        [page]="page"
        [activePage]="paginationData?.page"
        (currentPage)="pageChanged($event)"
      >
      </app-pagination>
    </div>
  </mat-tab>
</mat-tab-group>

<esports-loading *ngIf="isLoading"></esports-loading>
