<app-header-bottom [gameDetail]="selectedGameLogo"></app-header-bottom>
<section class="Banner" *ngIf="selectedGame" [lazyLoad]="selectedGame?.gameBanner">
  <div class="Banner-container">
    <div class="Banner-wrapper">
      <div class="Banner-inner">
        <div class="Banner-content">
          <div class="Banner-content-left">
            <h2 class="title">{{ selectedGame?.name }}</h2>
            <p class="description">{{ "OVERVIEW.BANNER.DES" | translate }}</p>
            <button
              type="button"
              class="btn button-primary"
              [routerLink]="AppHtmlRoutes.createTournament"
            >
              {{ "BUTTON.CREATE_TOURNAMENT" | translate }}
            </button>
          </div>
          <div class="Banner-content-right"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="TournamentsList?.length > 0" class="FeaturedTournament">
  <div class="FeaturedTournament-container">
    <div class="FeaturedTournament-wrapper">
      <div class="FeaturedTournament-inner">
        <div class="FeaturedTournament-heading">
          <h2 class="title">
            {{ "OVERVIEW.FEATURED_TOURNAMENTS" | translate }}
          </h2>
          <!-- <button class="btn button-default" [routerLink]="['/tournament']">{{ "BUTTON.VIEW_ALL" | translate
            }}</button> -->
        </div>
        <div class="FeaturedTournament-content">
          <div class="FeaturedTournament-cards">
            <div class="row">
              <div
                class="col-md-3 col-sm-6"
                *ngFor="let item of TournamentsList.slice(0, 4)"
              >
                <app-tournament-card-overview
                  [params]="item"
                ></app-tournament-card-overview>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="onGoingTournaments?.length > 0" class="FeaturedTournament">
  <div class="FeaturedTournament-container">
    <div class="FeaturedTournament-wrapper">
      <div class="FeaturedTournament-inner">
        <div class="FeaturedTournament-heading">
          <h2 class="title">
            {{ "OVERVIEW.CURRENT_TOURNAMENTS" | translate }}
          </h2>
        </div>
        <div class="FeaturedTournament-content">
          <div class="FeaturedTournament-cards">
            <div class="row">
              <div
                class="col-md-3 col-sm-6"
                *ngFor="let item of onGoingTournaments.slice(0, 4)"
              >
                <app-tournament-card-overview
                  [params]="item"
                ></app-tournament-card-overview>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Matchmaking">
  <div class="Matchmaking-container">
    <div class="Matchmaking-wrapper" >
      <div class="Matchmaking-inner" *ngIf="selectedGame"  [lazyLoad]="selectedGame?.matchmakingBanner">
        <h5 class="subtitle">
          {{ "MATCHMAKING.SELECT_PLATFORM.TITLE" | translate }}
        </h5>
        <h2 class="title">
          {{ "MATCHMAKING.SELECT_PLATFORM.DESCRIP.FIND_A_MATCH" | translate }}
          <br />
          {{
            "MATCHMAKING.SELECT_PLATFORM.DESCRIP.HONE_YOUR_SKILLS" | translate
          }}
        </h2>
        <!-- <p class="text">
          {{ "MATCHMAKING.SELECT_PLATFORM.SUBTITLE" | translate }}
        </p> -->
        <div class="Matchmaking-SelectPlatform">
          <h3 class="SelectPlatform-title">
            {{ "MATCHMAKING.SELECT_PLATFORM.GAME_TYPE" | translate }}
          </h3>
          <ul class="SelectPlatform-items-cards">
            <ng-container>
              <li
                class="SelectPlatform-items-card"
                [routerLink]="['/get-match/platforms-single']"
              >
                <div class="SelectPlatform-items-card-icon-block">
                  <span
                    class="icon"
                    inlineSVG="assets/icons/matchmaking/platforms/single-player-2.svg"
                  ></span>
                </div>
                <p class="SelectPlatform-items-card-name card-name">
                  {{ "OVERVIEW.MATCH_TYPE.SINGLE" | translate }}
                </p>
              </li>
              <li
                class="SelectPlatform-items-card"
                [routerLink]="['/get-match/platforms']"
              >
                <div class="SelectPlatform-items-card-icon-block">
                  <span
                    class="icon"
                    inlineSVG="assets/icons/matchmaking/platforms/team-2.svg"
                  ></span>
                </div>
                <p class="SelectPlatform-items-card-name card-name">
                  {{ "OVERVIEW.MATCH_TYPE.TEAM" | translate }}
                </p>
              </li>
              <!-- <li
                class="SelectPlatform-items-card"
                [routerLink]="['/get-match/matchmaking']"
              >
                <div class="SelectPlatform-items-card-icon-block">
                  <span
                    class="icon"
                    inlineSVG="assets/icons/tournament/platforms/console.svg"
                  ></span>
                </div>
                <p class="SelectPlatform-items-card-name card-name">
                  {{ "OVERVIEW.MATCH_TYPE.API_MATCH_TYPE" | translate }}
                </p>
              </li> -->
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="FeaturedTournament" *ngIf="seasonsList?.length > 0">
  <div class="FeaturedTournament-container">
    <div class="FeaturedTournament-wrapper">
      <div class="FeaturedTournament-inner">
        <div class="FeaturedTournament-heading">
          <h2 class="title">{{ "OVERVIEW.FEATURED_SEASONS" | translate }}</h2>
          <!-- <button
            class="btn button-default"
            [routerLink]="AppHtmlGetMatchRoutes.season"
          >
            {{ "BUTTON.VIEW_ALL" | translate }}
          </button> -->
        </div>
        <div class="FeaturedTournament-content">
          <div class="FeaturedTournament-cards">
            <app-season-card-overview
              [dataList]="seasonsList"
            ></app-season-card-overview>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-spark></app-footer-spark>
<app-footer-menu-mobile [gameDetail]="selectedGameLogo"></app-footer-menu-mobile>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
