<section class="ArticleListing">
  <div class="ArticleListing-header">
    <div class="global-Title">
      {{ "ARTICLE_MAIN.HEADING.TRENDING_RECENT" | translate }}
    </div>
  </div>

  <div class="ArticleListing-list">
    <app-article-item
      *ngFor="let item of articles"
      [data]="item"
    ></app-article-item>
  </div>

  <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
</section>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
