@import "shared";

.barChart {
    margin-bottom: 39px;
    position: absolute;
    top: 95px;
    width: 462px;
    left: -117px;

    @include md {
        left: calc(50% - 453px / 2);
    }

    @include sm {
        top: 41px;
        width: 417px;
        left: calc(50% - 426px / 2);
    }
}

.chartjs-render-monitor {
    margin-top: px2vw-xl(-16px);
}
