<div class="SeasonCard" *ngFor="let item of dataList">
  <div class="SeasonCard-main">
    <div class="SeasonCard-thumbnail" [routerLink]="['/games/match-season/',item?._id]">
      <!-- <img
        src="../../../../../../../assets/images/season/image 59.png"
        alt=""
      /> --><img [src]="item?.image" alt="">
    </div>
    <div class="SeasonCard-info">
      <div class="mb-avatar">
        <span class="avatar">
          <!-- <img
            src="../../../../../../../assets/images/Profile/img2.png"
            alt=""
          /> -->
          <img [src]="item?.game?.logo" alt="">
        </span>
      </div>
      <div class="SeasonCard-info-content">
        <h2 class="title">
          {{item.name}}
        </h2>
        <p class="end-date">{{ "SEASON_CARD.CONTENT.END" | translate }} {{item.endDate | date: "dd MMMM, yyyy" }} </p>
        <div class="progressBarContainer">
          <div class="progressBarContainer-des">
            <div class="progressBarContainer-des-by">
              <span class="avatar">
                <!-- <img
                  src="../../../../../../../assets/images/Profile/img2.png"
                  alt=""
                /> -->
                <img [src]="item?.game?.logo" alt="">
              </span>
              <p class="td">{{item.name}}</p>
            </div>
            <div class="progressBarContainer-des-players">
              <!-- <span class="icon">
                <img
                  src="../../../../../../../assets/icons/season/players.svg"
                  alt=""
                />
              </span>
              <p class="number-player">{{ "SEASON_CARD.CONTENT.PLAYERS" | translate  }}</p> -->
            </div>
          </div>
          <div class="progressBarContainer-desMB">
            <span class="text">{{ item.game.name }} • {{ "SEASON_CARD.CONTENT.PLAYERS" | translate }}</span>
          </div>
          <!-- <div class="progressBarContainer-slider">
            <span class="active"></span>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <ng-container>
    <button
      class="TeamCard-manage-button-menu"
      [matMenuTriggerFor]="matchMenu"
      #t="matMenuTrigger"
    >
      <mat-icon class="TeamCard-manage-button-menu-icon"> more_vert </mat-icon>
    </button>

    <mat-menu
      class="global-MatMenu team-card"
      #matchMenu="matMenu"
      xPosition="before"
    >
      <div class="TeamCard-manage-menu menu">

        <a class="TeamCard-manage-menu-link link">
          <mat-icon class="icon"> person_pin </mat-icon>
          <span class="text">
            {{
              "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.ASSIGN_AS_CAPTAIN" | translate
            }}
          </span>
        </a>

        <a
          class="TeamCard-manage-menu-link link"

        >
          <mat-icon class="icon"> person_add </mat-icon>
          <span class="text">{{
            "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.FOLLOW" | translate
          }}</span>
        </a>


        <a class="TeamCard-manage-menu-link link">
          <mat-icon class="icon"> delete </mat-icon>
          <span class="text">{{
            "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.REMOVE_FROM_TEAM" | translate
          }}</span>
        </a>
      </div>
    </mat-menu>
  </ng-container> -->
</div>
