@import "shared";

$form-border-color: var(--color-ash-med);
$form-steps-header-bgcolor: var(--gradient-bg-drk4), var(--color-background);
$active-color: var(--color-primary);
.SI-FUID-Container {
    margin-bottom: 50px;
    border: 1px solid $form-border-color;
    fieldset {
        border: 1px solid $form-border-color;
    }
}
.form-steps-header {
    border-bottom: px2vw-xl(1px) solid var(--color-ash-med);
    @include xxl {
        border-width: px2vw-xxl(1px);
    }
    @include lg {
        border-width: px2vw-lg(1px);
    }
    @include md {
        border-width: px2vw-md(1px);
    }
    @include sm {
        border-width: px2vw-sm(1px);
    }
    .purchase_header {
        display: flex;
        align-items: center;
        height: px2vw-xl(61px);
        background: $form-steps-header-bgcolor;
        width: 100%;
        @include lg {
            height: px2vw-lg(61px);
        }
        @include lg {
            height: px2vw-lg(61px);
        }
        @include md {
            height: px2vw-md(61px);
        }
        @include sm {
            height: px2vw-sm(61px);
        }
        h4 {
            font-family: "maxis-black";
            font-size: px2vw-xl(20px);
            letter-spacing: px2vw-xl(0.15px);
            line-height: px2vw-xl(24px);
            color: var(--white-high);
            margin-left: px2vw-xl(16px);
            margin-bottom: 0;
            @include xxl {
                font-size: px2vw-xxl(20px);
                letter-spacing: px2vw-xxl(0.15px);
                line-height: px2vw-xxl(24px);
                margin-left: px2vw-xxl(16px);
            }
            @include lg {
                font-size: px2vw-lg(20px);
                letter-spacing: px2vw-lg(0.15px);
                line-height: px2vw-lg(24px);
                margin-left: px2vw-lg(16px);
            }
            @include md {
                font-size: px2vw-md(20px);
                letter-spacing: px2vw-md(0.15px);
                line-height: px2vw-md(24px);
                margin-left: px2vw-md(16px);
            }
            @include sm {
                font-size: px2vw-sm(20px);
                letter-spacing: px2vw-sm(0.15px);
                line-height: px2vw-sm(24px);
                margin-left: px2vw-sm(16px);
            }
        }
    }
}
.purchase_content {
    > form-group {
        margin-bottom: 0;
    }
    .subheading {
        h6 {
            font-family: "maxis-bold";
            font-size: px2vw-xl(16px);
            letter-spacing: px2vw-xl(0.15px);
            line-height: px2vw-xl(24px);
            color: var(--white-high);
            margin-bottom: px2vw-xl(16px);
            @include xxl {
                font-size: px2vw-xxl(16px);
                letter-spacing: px2vw-xxl(0.15px);
                line-height: px2vw-xxl(24px);
                margin-bottom: px2vw-xxl(16px);
            }
            @include lg {
                font-size: px2vw-lg(16px);
                letter-spacing: px2vw-lg(0.15px);
                line-height: px2vw-lg(24px);
                margin-bottom: px2vw-lg(16px);
            }
            @include md {
                font-size: px2vw-md(16px);
                letter-spacing: px2vw-md(0.15px);
                line-height: px2vw-md(24px);
                margin-bottom: px2vw-md(16px);
            }
            @include sm {
                font-size: px2vw-sm(16px);
                letter-spacing: px2vw-sm(0.15px);
                line-height: px2vw-sm(24px);
                margin-bottom: px2vw-sm(16px);
            }
        }
    }
    .subheading1 {
        h3 {
            font-family: "maxis-black";
            font-size: px2vw-xl(20px);
            letter-spacing: px2vw-xl(0.15px);
            line-height: px2vw-xl(24px);
            color: var(--white-high);
            margin-bottom: 0;
            @include xxl {
                font-size: px2vw-xxl(20px);
                letter-spacing: px2vw-xxl(0.15px);
                line-height: px2vw-xxl(24px);
            }
            @include lg {
                font-size: px2vw-lg(20px);
                letter-spacing: px2vw-lg(0.15px);
                line-height: px2vw-lg(24px);
            }
            @include md {
                font-size: px2vw-md(20px);
                letter-spacing: px2vw-md(0.15px);
                line-height: px2vw-md(24px);
            }
            @include sm {
                font-size: px2vw-sm(20px);
                letter-spacing: px2vw-sm(0.15px);
                line-height: px2vw-sm(24px);
            }
        }
    }
    .order_details {
        margin-top: px2vw-xl(32px);
        @include xxl {
            margin-top: px2vw-xxl(32px);
        }
        @include lg {
            margin-top: px2vw-lg(32px);
        }
        @include md {
            margin-top: px2vw-md(32px);
        }
        @include sm {
            margin-top: px2vw-sm(32px);
        }
        .form-group {
            margin-bottom: px2vw-xl(8px);
            @include xxl {
                margin-bottom: px2vw-xxl(8px);
            }
            @include lg {
                margin-bottom: px2vw-lg(8px);
            }
            @include md {
                margin-bottom: px2vw-md(8px);
            }
            @include sm {
                margin-bottom: px2vw-sm(8px);
            }
        }
        .order_detals_text {
            font-family: "maxis-semibold";
            font-size: px2vw-xl(14px);
            letter-spacing: px2vw-xl(0.25px);
            line-height: px2vw-xl(20px);
            color: var( --white-medium);
            margin-bottom: 0;
            @include xxl {
                font-size: px2vw-xxl(14px);
                letter-spacing: px2vw-xxl(0.25px);
                line-height: px2vw-xxl(20px);
            }
            @include lg {
                font-size: px2vw-lg(14px);
                letter-spacing: px2vw-lg(0.25px);
                line-height: px2vw-lg(20px);
            }
            @include md {
                font-size: px2vw-md(14px);
                letter-spacing: px2vw-md(0.25px);
                line-height: px2vw-md(20px);
            }
            @include sm {
                font-size: px2vw-sm(14px);
                letter-spacing: px2vw-sm(0.25px);
                line-height: px2vw-sm(20px);
            }
        }
        .order_detals_value {
            font-family: "maxis-semibold";
            font-size: px2vw-xl(14px);
            letter-spacing: px2vw-xl(0.25px);
            line-height: px2vw-xl(20px);
            color: var(--fullwhite);
            margin-bottom: 0;
            @include xxl {
                font-size: px2vw-xxl(14px);
                letter-spacing: px2vw-xxl(0.25px);
                line-height: px2vw-xxl(20px);
            }
            @include lg {
                font-size: px2vw-lg(14px);
                letter-spacing: px2vw-lg(0.25px);
                line-height: px2vw-lg(20px);
            }
            @include md {
                font-size: px2vw-md(14px);
                letter-spacing: px2vw-md(0.25px);
                line-height: px2vw-md(20px);
            }
            @include sm {
                font-size: px2vw-sm(14px);
                letter-spacing: px2vw-sm(0.25px);
                line-height: px2vw-sm(20px);
            }
        }
        .transcation_receipt {
            font-family: "maxis-bold";
            font-size: px2vw-xl(14px);
            letter-spacing: px2vw-xl(0.1px);
            line-height: px2vw-xl(24px);
            color:var( --color_skyblue);
            @include xxl {
                font-size: px2vw-xxl(14px);
                letter-spacing: px2vw-xxl(0.1px);
                line-height: px2vw-xxl(24px);
            }
            @include lg {
                font-size: px2vw-lg(14px);
                letter-spacing: px2vw-lg(0.1px);
                line-height: px2vw-lg(24px);
            }
            @include md {
                font-size: px2vw-md(14px);
                letter-spacing: px2vw-md(0.1px);
                line-height: px2vw-md(24px);
            }
            @include sm {
                font-size: px2vw-sm(14px);
                letter-spacing: px2vw-sm(0.1px);
                line-height: px2vw-sm(24px);
            }
        }
    }
}
.form-steps-number {
    background: var(--color-background);
    color: $active-color;
    border-right: px2vw-xl(1px) solid $form-border-color;
    width: px2vw-xl(56px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @include xxl {
        border-right-width: px2vw-xxl(1px);
        width: px2vw-xxl(56px);
    }
    @include lg {
        border-right-width: px2vw-lg(1px);
        width: px2vw-lg(56px);
    }
    @include md {
        border-right-width: px2vw-md(1px);
        width: px2vw-md(56px);
    }
    @include sm {
        border-right-width: px2vw-sm(1px);
        width: px2vw-sm(56px);
    }
    .mat-icon {
        color: $active-color;
        height: px2vw-xl(40px);
        width: px2vw-xl(40px);
        font-size: px2vw-xl(40px);
        @include xxl {
            width: px2vw-xxl(40px);
            height: px2vw-xxl(40px);
            font-size: px2vw-xxl(40px);
        }
        @include lg {
            width: px2vw-lg(40px);
            height: px2vw-lg(40px);
            font-size: px2vw-lg(40px);
        }
        @include md {
            width: px2vw-md(40px);
            height: px2vw-md(40px);
            font-size: px2vw-md(40px);
        }
        @include sm {
            width: px2vw-sm(40px);
            height: px2vw-sm(40px);
            font-size: px2vw-sm(40px);
        }
    }
}
.voucher_details {
    margin-top: px2vw-xl(25px);
    @include xxl {
        margin-top: px2vw-xxl(25px);
    }
    @include lg {
        margin-top: px2vw-lg(25px);
    }
    @include md {
        margin-top: px2vw-md(25px);
    }
    @include sm {
        margin-top: px2vw-sm(25px);
    }
    h6 {
        @extend %subtitle-1;
    }
}
.shop-item-divider {
    border-bottom: px2vw-xl(1px) solid $form-border-color;
    @include xxl {
        border-width: px2vw-xxl(1px);
    }
    @include lg {
        border-width: px2vw-lg(1px);
    }
    @include md {
        border-width: px2vw-md(1px);
    }
    @include sm {
        border-width: px2vw-sm(1px);
    }
}

.voucherContainer {
    .input-group {
        border-top-right-radius: px2vw-xl(4px);
        border-bottom-right-radius: px2vw-xl(4px);
        overflow: hidden;
        @include xxl {
            border-top-right-radius: px2vw-xxl(4px);
            border-bottom-right-radius: px2vw-xxl(4px);
        }
        @include lg {
            border-top-right-radius: px2vw-lg(4px);
            border-bottom-right-radius: px2vw-lg(4px);
        }
        @include md {
            border-top-right-radius: px2vw-md(4px);
            border-bottom-right-radius: px2vw-md(4px);
        }
        @include sm {
            border-top-right-radius: px2vw-sm(4px);
            border-bottom-right-radius: px2vw-sm(4px);
        }
    }
    input {
        @extend %body-1;
        background: $form-steps-header-bgcolor;
        height: px2vw-xl(56px);
        padding: 0 px2vw-xl(16px);
        border-color: #272A27;
        @include xxl {
            height: px2vw-xxl(56px);
            padding: 0 px2vw-xxl(16px);
        }
        @include lg {
            height: px2vw-lg(56px);
            padding: 0 px2vw-lg(16px);
        }
        @include md {
            height: px2vw-md(56px);
            padding: 0 px2vw-md(16px);
        }
        @include sm {
            height: px2vw-sm(56px);
            padding: 0 px2vw-sm(16px);
        }
    }
    .input-group-append {
        background-color: var(--powderblue);
        height: px2vw-xl(56px);
        width: px2vw-xl(56px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include xxl {
            height: px2vw-xxl(56px);
            width: px2vw-xxl(56px);
        }
        @include lg {
            height: px2vw-lg(56px);
            width: px2vw-lg(56px);
        }
        @include md {
            height: px2vw-md(56px);
            width: px2vw-md(56px);
        }
        @include sm {
            height: px2vw-sm(56px);
            width: px2vw-sm(56px);
        }
    }
}
.bottom_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: px2vw-xl(24px) px2vw-xl(24px);
    @include xxl {
        padding: px2vw-xxl(24px) px2vw-xxl(24px);
    }
    @include lg {
        padding: px2vw-lg(24px) px2vw-lg(24px);
    }
    @include md {
        padding: px2vw-md(24px) px2vw-md(24px);
        width: 100%;
    }
    @include sm {
        padding: px2vw-sm(24px) px2vw-sm(15px);
        flex-direction: column;
    }
    button {
        @include sm {
            width: 100%;
        }
        &:last-child {
            margin-left: 0.5rem;
            @include sm {
                margin: 0;
                margin-top: px2vw-sm(10px);
            }
        }
    }
}
.clr_pwdrblue{
    color: var(--powderblue) !important;
}
