@import "shared";

:host {
  display: flex;
  min-height: 60px;
  align-items: center;
  color: var(--black);
  box-shadow: 0 0.125rem 0.25rem var(--color-black-lgt1) !important;
  border-bottom: 1px solid var(--black-brown1);
}

.AdminHeader {
  &-wp {
    max-width: px2vw-xl(1820px);
    padding: 0 px2vw-xl(20px);
    width: 100%;
    margin: 0 auto;

    @include lg {
      max-width: px2vw-lg(1820px);
      padding: 0 px2vw-lg(20px);
    }

    @include md {
      max-width: px2vw-md(1820px);
      padding: 0 px2vw-md(20px);
    }

    @include sm {
      max-width: px2vw-sm(1820px);
      padding: 0 px2vw-sm(20px);
    }
  }

  &-logo {
    height: px2vw-xl(20px);

    @include lg {
      height: px2vw-lg(34px);
    }

    @include md {
      height: px2vw-md(34px);
    }

    @include sm {
      height: px2vw-sm(34px);
    }
  }

  &-desktop {
    @extend %u-dfCenterBtw;
  }

  &-left {
    @extend %u-dfCenterBtw;
  }

  &-mid {
    padding-left: px2vw-xl(215px);
    font-size: px2vw-xl(16px);
    flex: 1;
    color: var(--white-medium);
    font-family: "source-sans-pro";

    @include lg {
      padding-left: px2vw-lg(215px);
      font-size: px2vw-lg(16px);
      display: none;
    }

    @include md {
      padding-left: px2vw-md(215px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      padding-left: px2vw-sm(215px);
      font-size: px2vw-sm(16px);
    }
  }

  &-right {
    @extend %u-dfCenterBtw;

    @include lg {
      display: none;
    }
  }

  &-icon {
    margin-left: px2vw-xl(30px);

    @include lg {
      margin-left: px2vw-lg(30px);
    }

    @include md {
      margin-left: px2vw-md(30px);
    }

    @include sm {
      margin-left: px2vw-sm(30px);
    }

    &-fa {
      font-size: px2vw-xl(20px);

      @include lg {
        font-size: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
      }
    }
  }

  &-user {
    margin-left: px2vw-xl(30px);
    display: flex;
    align-items: center;
    color: var(--white-high);

    @include lg {
      margin-left: px2vw-lg(30px);
    }

    @include md {
      margin-left: px2vw-md(30px);
    }

    @include sm {
      margin-left: px2vw-sm(30px);
    }

    &:after {
      display: block;
    }

    img {
      border: 1px solid var(--white-high);
      border-radius: 50%;
      width: px2vw-xl(40px);
      height: px2vw-xl(40px);
      object-fit: cover;

      @include lg {
        width: px2vw-lg(40px);
        height: px2vw-lg(40px);
      }

      @include md {
        width: px2vw-md(40px);
        height: px2vw-md(40px);
      }

      @include sm {
        width: px2vw-sm(40px);
        height: px2vw-sm(40px);
      }
    }

    span {
      color: rgb(203 201 201 / 87%);
      margin-left: px2vw-xl(20px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
      }

      @include sm {
        margin-left: px2vw-sm(20px);
      }
    }
  }

  &-mob {
    @extend %u-dfCenterBtw;
    display: none;

    @include lg {
      display: flex;
    }

    &-box {
      &-links {
        display: flex;
        flex-flow: column;
      }

      &-link {
        margin: px2vw-xl(10px);
        text-align: center;

        @include lg {
          margin: px2vw-lg(10px);
        }

        @include md {
          margin: px2vw-md(10px);
        }

        @include sm {
          margin: px2vw-sm(10px);
        }
      }
    }

    &-btn {
      color: var(--white-high);

      &-menu {
        display: block;
      }

      &-close {
        display: none;
      }

      &[aria-expanded="true"] &-menu {
        display: none;
      }

      &[aria-expanded="true"] &-close {
        display: block;
      }
    }
  }
}
.sm-logo {
  // height: px2vw-xl(10px);
  display: block;
  margin-top: 4px;
}
::ng-deep {
  .languagedropdown::before {
    content: "";
    background-image: url(/assets/images/Profile/select.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -7px !important;
    top: 50%;
    transform: translateY(-50%);
    height: 0.5555555556vw;
    width: 0.8333333333vw;
  }
  header .mat-button-wrapper {
    color: rgb(203 201 201 / 87%) !important;
  }
  .global-MatMenu.mat-menu-panel {
    min-height: auto;
    border-radius: 5px;
    // padding: 10px 10px;
    // background: #fff;
    max-width: 69.4444444444vw !important;
  }
  .global-MatMenu button.mat-menu-item {
    text-align: left;
    font-size: 14px;
    color: var(--black);
    border-bottom: 1px solid var(--white-solid);
  }
}
