@import "shared";

:host {
  display: block;
}

// .TeamCard {
//   @extend %u-dfCenter;
//   border-bottom: px2vw-xl(1px) solid var(--white-smoke);
//   padding: px2vw-xl(16px);

//   @include lg {
//     border-bottom-widt: px2vw-lg(1px);
//     padding: px2vw-lg(16px);
//   }

//   @include md {
//     border-bottom-widt: px2vw-md(1px);
//     padding: px2vw-md(16px);
//   }

//   @include sm {
//     border-bottom-widt: px2vw-sm(1px);
//     padding: px2vw-sm(16px);
//   }

//   &-image {
//     margin-right: px2vw-xl(15px);
//     flex-shrink: 0;
//     height: px2vw-xl(40px);
//     width: px2vw-xl(40px);
//     border-radius: 50%;
//     background-size: cover;
//     background-position: center center;
//     background-color: var(--black);

//     @include lg {
//       margin-right: px2vw-lg(15px);
//       height: px2vw-lg(40px);
//       width: px2vw-lg(40px);
//     }

//     @include md {
//       margin-right: px2vw-md(15px);
//       height: px2vw-md(40px);
//       width: px2vw-md(40px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(15px);
//       height: px2vw-sm(40px);
//       width: px2vw-sm(40px);
//     }
//   }

//   &-info {
//     margin-right: px2vw-xl(15px);

//     @include lg {
//       margin-right: px2vw-lg(15px);
//     }

//     @include md {
//       margin-right: px2vw-md(15px);
//     }

//     @include sm {
//       margin-right: px2vw-sm(15px);
//     }
//   }

//   &-info-name {
//     @extend %subtitle-1;
//     margin-bottom: 0;
//     color: var(--white);
//   }

//   &-info-description {
//     @extend %body-2;
//     margin-bottom: 0;
//     color: var(--white-medium);
//   }

//   &-manage {
//     @extend %u-dfCenterEnd;
//     flex-shrink: 0;
//     margin-left: auto;
//   }

//   &-manage-button {
//     margin-left: px2vw-xl(8px);

//     @include lg {
//       margin-left: px2vw-lg(8px);
//     }

//     @include md {
//       margin-left: px2vw-md(8px);
//     }

//     @include sm {
//       margin-left: px2vw-sm(8px);
//     }

//     &:first-child {
//       margin-left: 0;
//     }
//   }

//   &-manage-button-menu {
//     width: px2vw-xl(24px);
//     height: px2vw-xl(24px);
//     background-color: transparent;

//     @include lg {
//       width: px2vw-lg(24px);
//       height: px2vw-lg(24px);
//     }

//     @include md {
//       width: px2vw-md(24px);
//       height: px2vw-md(24px);
//     }

//     @include sm {
//       width: px2vw-sm(24px);
//       height: px2vw-sm(24px);
//     }
//   }

//   &-manage-button-menu-icon {
//     font-size: px2vw-xl(24px);
//     color: var(--white);

//     @include lg {
//       font-size: px2vw-lg(24px);
//     }

//     @include md {
//       font-size: px2vw-md(24px);
//     }

//     @include sm {
//       font-size: px2vw-sm(24px);
//     }
//   }

//   &-manage-menu-link {
//     .link,
//     .icon {
//       color: var(--white-medium);
//     }

//     &:hover .icon {
//       color: var(--color-primary);
//     }
//   }
// }
.TeamCard {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  padding: 18px 0;
  border-bottom: 1px solid var(--midnight-express-color) !important;
  @include md {
    padding: 16px 0;
  }
  &-left {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    .icon-horizontal {
      width: 24px;
      height: 24px;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      margin-right: 8px;
    }
  }
  &-image {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    background-size: cover;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &-info {
    &-nick-name {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--white);
      margin-bottom: 0;
      @include md {
        font-size: 16px;
        line-height: 24px;
      }
    }
    &-name {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-color);
      margin-bottom: 0;
    }
  }
  &-manage-button-menu {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
  }
  &-manage-button-menu-icon {
    font-size: 28px;
    width: auto;
    height: auto;
    color: var(--spacesuit);
    @include md {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      font-size: 18px;
      width: 32px;
      height: 32px;
    }
  }
}
