<div
  class="row mb-4 payment"
  *ngIf="paymentMethods.length; else providerNotAvailable"
>
  <div class="col-md-7 col-sm-12">
    <h3 class="global-H3 text-base1">
      {{ "PROFILE.TOURNAMENTS.PAYMENT.PAYMENT_TITLE1" | translate }}
    </h3>
    <div class="payment-methods" *ngFor="let paymentMethod of paymentMethods">
      <div><img [src]="paymentMethod.img" /></div>
      <div>
        <button
          class="btn global-btn-black"
          (click)="selectPaymentType = paymentMethod?.value"
          [ngClass]="{
            'active-btn': selectPaymentType == paymentMethod?.value
          }"
        >
          {{ "PROFILE.TOURNAMENTS.PAYMENT.SELECT_BUTTON" | translate }}
        </button>
      </div>
    </div>
    <div
      class="payment-type"
      *ngIf="selectPaymentType == 'paypal' && transaction"
    >
      <payment
        [type]="selectPaymentType"
        [transaction]="transaction"
        (valueEmitAfterTransaction)="getPaymentResponse($event)"
        (isTransactionInProgress)="getPaymentProgressStatus($event)"
      >
      </payment>
    </div>
  </div>
  <div class="col-md-5 col-sm-12 payment-prize-pool">
    <h3 class="global-H3 text-base1">
      {{ "PROFILE.TOURNAMENTS.PAYMENT.PAYMENT_TITLE2" | translate }}
    </h3>
    <p class="global-text-lead mb-0">
      {{ "PROFILE.TOURNAMENTS.PAYMENT.PAYMENT_LABEL" | translate }}
    </p>
    <div
      class="d-flex align-items-center payment-pool"
      *ngFor="let prizePool of prizePools; let i = index"
    >
      <!-- <div><img [src]="prizePool.img" /></div> -->
      <p
        class="global-text-body text-base1 mr-auto mb-0 payment-prize-pool-title"
      >
        {{ i | prizePool: (languageService?.language | async) }}
      </p>
      <p class="global-text-body mb-0">
        {{ prizePool.value }} {{ transaction?.prizeCurrency }}
      </p>
    </div>
    <div class="d-flex align-items-center payment-pool">
      <p
        class="global-text-body text-base1 mr-auto mb-0 payment-prize-pool-title"
      >
        {{ "PROFILE.TOURNAMENTS.PAYMENT.PLAFORM_FEE" | translate }}
      </p>
      <p class="global-text-body mb-0">{{ platformFee }} %</p>
    </div>
    <div class="payment-prize-pool-totalAmount">
      <div class="d-flex align-items-center mb-4 totalCalc">
        <div class="mr-auto">
          {{ totalAmounts.prizeLabel | translate }}
        </div>
        <div>
          {{ totalAmounts.amount | number: "1.2-2" }}
          {{ transaction?.prizeCurrency }}
        </div>
      </div>
    </div>
    <div class="payment-prize-pool-totalAmount">
      <div class="d-flex align-items-center mb-4 totalCalc">
        <div class="mr-auto">
          {{ "PROFILE.TOURNAMENTS.PAYMENT.TOTAL_AMOUNT" | translate }}
        </div>
        <div>
          {{ totalAmountInclPlatformFee | number: "1.2-2" }}
          {{ transaction?.prizeCurrency }}
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #providerNotAvailable>
  <p class="country">
    {{ "PROFILE.TOURNAMENTS.PAYMENT.PROVIDER_NOT_AVAILABLE" | translate }}
  </p>
</ng-template>
<app-fullscreen-loading *ngIf="isProccesing"></app-fullscreen-loading>
