<div class="SingleElimination">
  <div class="SingleElimination-bracket">
    <ng-container *ngFor="let winner of winnersBracket; let round = index">
      <div class="SingleElimination-round">
        <ng-container *ngFor="let match of winner">
          <div class="SingleElimination-match">
            <div class="SingleElimination-match-container">
              <div class="match__no" [ngClass]="{ 'hide-block': !match?.matchNo }">
                {{ match?.matchNo || 0 }}
              </div>

              <ng-container *ngTemplateOutlet="matchTemplate; context: { $implicit: match }"></ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngFor="let final of finalBracket">
      <div class="SingleElimination-round">
        <ng-container *ngFor="let match of final">
          <div class="SingleElimination-match" [ngClass]="{ 'hide-block': match?.isHide }">
            <div class="ngtt-de__match-component-container">
              <div class="match__no" [ngClass]="{ 'hide-block': !match?.matchNo }">
                *{{ match?.matchNo || 0 }}
              </div>

              <ng-container *ngTemplateOutlet="matchTemplate; context: { $implicit: match }"></ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <div class="SingleElimination-bracket">
    <ng-container *ngFor="let loser of losersBracket; let i = index">
      <div class="SingleElimination-round">
        <ng-container *ngFor="let round of loser?.subround | keyvalue; let j = index">
          <div class="SingleElimination-round">
            <p class="round-title">
              {{ "ELIMINATION.LOSER_ROUND" | translate }} {{ i + 1 }} -
              {{ j + 1 }}
            </p>
            <ng-container *ngFor="let match of blockSettlement(i, round.key, round.value)">
              <div class="SingleElimination-match">
                <div class="SingleElimination-match-container" [ngClass]="{ 'hide-block': match?.bye }">
                  <div class="match__no" [ngClass]="{ 'hide-block': !match?.matchNo }">
                    {{ match?.matchNo || 0 }}
                  </div>
                  <ng-container *ngTemplateOutlet="
                      matchTemplate;
                      context: { $implicit: match }
                    "></ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      
    </ng-container>
  </div>
</div>