@import "shared";

$--home-gradient: linear-gradient(
  108.06deg,
  var(--banner-gradient3) 6.99%,
  var(--banner-gradient4) 46.45%
);

.playgame {
  background-image: url("/assets/images/Home/bg_playgame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 75vh;

  &-wrpr {
    position: relative;
    max-width: 960px;
    background-image: url("/assets/images/Home/image218.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 75vh;
    @include textStyleSet(Paralucent,normal,normal,138px,150px,0.5px);
    text-transform: uppercase;
    text-align: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include lg {
      font-size: px2vw-lg(138px);
    }

    @include md {
      font-size: px2vw-md(80px);
      line-height: normal;
    }

    @include sm {
      font-size: px2vw-sm(80px);
      line-height: normal;
    }
  }

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
}

.home_video_wrapper {
  height: 100vh;
  position: relative;

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.bannerGD {
  background: linear-gradient(
    110.44deg,
    var(--banner-gradient5) 16.09%,
    var(--banner-gradient6) 90.11%
  );
  height: 80vh;

  @include sm {
    height: 80vh;
  }
}

.homewrpr {
  position: relative;
  padding: 32px 24px;
  max-width: px2vw-xl(1260px);
  margin: 0px auto;

  @include sm {
    padding: 10px 24px;
  }
}

.about {
  align-items: flex-start;
  flex-direction: column;

  &-wrpr {
    position: relative;
    padding: 48px 24px;
    max-width: 1260px;
    margin: 0px auto;
  }

  &-image {
    @include sm {
      width: 75%;
    }
  }

  &-text {
    @include textStyleSet(Paralucent,normal,600,20px,28px,0.5px);
    width: px2vw-xl(582px);
    margin-left: auto;

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(20px);
      width: 100%;
    }
  }
}

.d-inline{
  @include textStyleSet(Paralucent,normal,600,40px,48px,0.5px);
  color: var(--full-white);
}

:host {
  display: block;
}

.banner {
  &-Image_titles {
    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    width: 100%;

    @include xl {
      top: -80px;
      width: max-content;
    }

    @include lg {
      top: -80px;
      width: max-content;
    }

    @include sm {
      width: auto;
      position: unset;
    }
  }

  &-Text_titles {
    position: relative;
    @include textStyleSet(Paralucent,normal,600,40px,48px,-0.5px);
    display: flex;
    align-items: center;
    color: var(--full-white);
    padding-bottom: 32px;

    @include md {
      font-size: px2vw-md(28px);
      line-height: px2vw-md(20px);
      top: px2vw-md(38px);
    }

    @include sm {
      font-size: px2vw-sm(28px);
      line-height: px2vw-sm(20px);
    }
  }
}

.Home {
  @include md {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
  }

  &-container {
    overflow: hidden;
    padding: 0 24px;
    max-width: 1260px;
    margin: 0 auto;
  }

  &-wrapper {
    padding: 9.55px 0 6.69px;

    @include md {
      padding: 20.38px 0 13.81px;
    }
  }

  &-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    position: relative;
  }

  @include lg {
    grid-template-columns: px2vw-lg(272px) minmax(0, 1fr);
    grid-column-gap: px2vw-lg(64px);
    padding-bottom: px2vw-lg(88px);
  }

  @include md {
    grid-template-columns: px2vw-md(272px) minmax(0, 1fr);
    grid-column-gap: px2vw-md(64px);
    padding-bottom: px2vw-md(88px);
  }

  @include sm {
    grid-template-columns: px2vw-sm(272px) minmax(0, 1fr);
    grid-column-gap: px2vw-sm(64px);
    padding-top: px2vw-sm(40px);
    padding-bottom: px2vw-sm(88px);
  }

  &-gradient {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: px2vw-xl(800px);
    width: px2vw-xl(328px);
    background: $--home-gradient;

    @include lg {
      height: px2vw-lg(800px);
      width: px2vw-lg(328px);
    }

    @include md {
      height: px2vw-md(800px);
      width: px2vw-md(328px);
    }

    @include sm {
      height: px2vw-sm(800px);
      width: px2vw-sm(328px);
    }
  }

  app-preview-slider {
    margin-bottom: px2vw-xl(45px);

    @include lg {
      margin-bottom: px2vw-lg(45px);
    }

    @include md {
      margin-bottom: px2vw-md(45px);
    }

    @include sm {
      margin-bottom: px2vw-sm(45px);
    }
  }

  app-upcoming-slider {
    ::ng-deep .UpcomingSlider {
      margin-bottom: px2vw-xl(64px);

      @include lg {
        margin-bottom: px2vw-lg(64px);
      }

      @include md {
        margin-bottom: px2vw-md(64px);
      }

      @include sm {
        margin-bottom: px2vw-sm(64px);
      }
    }
  }

  &-block {
    display: grid;
    grid-template-columns: px2vw-xl(656px) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(33px);

    @include lg {
      grid-template-columns: px2vw-lg(656px) 1fr;
      grid-column-gap: px2vw-lg(33px);
    }

    @include md {
      grid-template-columns: px2vw-md(656px) 1fr;
      grid-column-gap: px2vw-md(33px);
    }

    @include sm {
      grid-template-columns: px2vw-sm(656px) 1fr;
      grid-column-gap: px2vw-sm(33px);
    }
  }
}

.Home-aside-block {
  app-user-aside {
    position: sticky;
    top: px2vw-xl(114px);

    @include lg {
      top: px2vw-lg(114px);
    }

    @include md {
      top: px2vw-md(114px);
    }

    @include sm {
      top: px2vw-sm(114px);
    }
  }
}

.Home-featured {
  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-header-title {
    @extend %global-H5;
    margin-bottom: 0;
  }

  &-header-link {
    flex-shrink: 0;
    margin-left: px2vw-xl(16px);
    transition: $global-transition2;

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }
  }

  &-cards {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(16px);

    @include lg {
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
    }

    @include md {
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(16px);
    }
  }

  &-card {
    cursor: pointer;
    transition: $global-transition;

    &:hover {
      opacity: 0.8;
    }
  }

  &-card-image {
    margin-bottom: px2vw-xl(11px);
    height: px2vw-xl(185px);
    width: 100%;
    background-size: cover;

    @include lg {
      margin-bottom: px2vw-lg(11px);
      height: px2vw-lg(185px);
    }

    @include md {
      margin-bottom: px2vw-md(11px);
      height: px2vw-md(185px);
    }

    @include sm {
      margin-bottom: px2vw-sm(11px);
      height: px2vw-sm(185px);
    }
  }

  &-card-title {
    @extend %global-H7;
    margin-bottom: px2vw-xl(3px);

    @include lg {
      margin-bottom: px2vw-lg(3px);
    }

    @include md {
      margin-bottom: px2vw-md(3px);
    }

    @include sm {
      margin-bottom: px2vw-sm(3px);
    }
  }

  &-card-text {
    @extend %subtitle-2;
    margin-bottom: 0;
    color: var(--white-medium);
  }
}

.Home-suggested {
  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(28px);

    @include lg {
      margin-bottom: px2vw-lg(28px);
    }

    @include md {
      margin-bottom: px2vw-md(28px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
    }
  }

  &-header-icon {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    ::ng-deep svg {
      height: px2vw-xl(18.13px);
      width: px2vw-xl(25.6px);

      @include lg {
        height: px2vw-lg(18.13px);
        width: px2vw-lg(25.6px);
      }

      @include md {
        height: px2vw-md(18.13px);
        width: px2vw-md(25.6px);
      }

      @include sm {
        height: px2vw-sm(18.13px);
        width: px2vw-sm(25.6px);
      }

      path {
        fill: var(--color-primary);
      }
    }
  }

  &-header-title {
    @extend %global-H7;
    margin-bottom: 0;
  }

  &-cards {
    margin-bottom: 0;
  }

  &-card {
    @extend %u-dfCenter;
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    padding: px2vw-xl(10px) px2vw-xl(16px);
    padding-left: 0;

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(10px) px2vw-lg(16px);
      padding-left: 0;
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(10px) px2vw-md(16px);
      padding-left: 0;
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(10px) px2vw-sm(16px);
      padding-left: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &-card-image {
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    height: px2vw-xl(52px);
    width: px2vw-xl(100px);
    background-color: var(--black);
    background-size: cover;

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(52px);
      width: px2vw-lg(100px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(52px);
      width: px2vw-md(100px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(52px);
      width: px2vw-sm(100px);
    }
  }

  &-card-title {
    @extend %subtitle-1;
    margin-bottom: 0;
  }

  &-card-text {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white-medium);
  }
}

.spo-photo {
  @extend %u-dfCenterCenter;
  position: relative;
  border-radius: 50%;
  height: px2vw-xl(132px);
  width: px2vw-xl(132px);
  background: var(--user-photo-bg);

  @include lg {
    height: px2vw-lg(132px);
    width: px2vw-lg(132px);
  }

  @include md {
    height: px2vw-md(132px);
    width: px2vw-md(132px);
  }

  @include sm {
    height: px2vw-sm(132px);
    width: px2vw-sm(132px);
  }
}

.spo-username {
  font-family: "archivo-bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--white);
}

.spo-subtitle {
  font-family: "redhat-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: var(--white-medium);
}

.spo-follow {
  font-family: "archivo-bold";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-top: 2px;
}

.spo-details {
  font-family: "redhat-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: px2vw-xl(1px) solid var(--white-smoke);
  width: 100%;
  word-wrap: break-word;
}

.plus-icon {
  width: 10px;
  height: 10px;
  margin-right: 2px;
}

.title-feature {
  font-family: "redhat-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-secondary);
  margin-top: 2px;
}

.spo-h1 {
  font-family: "archivo-bold";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.feature-details {
  font-family: "redhat-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}

.spo-oops {
  font-family: "archivo-bold";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}

.spo-oops-link {
  color: var(--color-secondary);
}

.spo-oops-text {
  font-family: "archivo-black";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.Tournamentslist {
  &-title {
    position: relative;
    margin-bottom: 32px;
    @include textStyleSet(Paralucent,normal,600,40px,48px,0.5px);

    @include xl {
      margin-bottom: px2vw-xl(32px);
      font-size: px2vw-xl(40px);
      line-height: px2vw-xl(48px);
    }

    @include lg {
      font-size: px2vw-lg(40px);
      line-height: px2vw-lg(48px);
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(40px);
      line-height: px2vw-md(48px);
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: 24px;
      line-height: 32px;
    }
  }

  .title-text {
    @include sm {
      width: 75%;
    }
  }

  &-seemore {
    right: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;

    position: absolute;
    color: var(--home-text-link);
    background: var(--white);
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      font-size: 10px;
      line-height: 26px;
      padding: 1px 8px;
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      font-size: 10px;
      line-height: 26px;
      padding: 1px 8px;
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 282px 282px 282px 282px;
    grid-gap: 24px;

    @include xl {
      grid-template-columns: px2vw-xl(282px) px2vw-xl(282px) px2vw-xl(282px) px2vw-xl(282px);
      grid-gap: px2vw-xl(24px);
    }

    @include lg {
      grid-template-columns: px2vw-lg(282px) px2vw-lg(282px) px2vw-lg(282px) px2vw-lg(282px);
      grid-gap: px2vw-lg(24px);
    }

    @include md {
      grid-template-columns: px2vw-md(282px) px2vw-md(282px) px2vw-md(282px) px2vw-md(282px);
      grid-gap: px2vw-md(24px);
    }

    @include sm {
      grid-template-columns: px2vw-sm(219px) px2vw-sm(219px) px2vw-sm(282px) px2vw-sm(282px);
      grid-auto-rows: px2vw-sm(18px);
      grid-gap: 24px;
      overflow-x: scroll;
    }

    ::ng-deep .TournamentsCard-item {
      width: 100%;
    }

    ::ng-deep .TournamentsCard-item .endDay {
      display: none !important;
    }
  }

  &-list::-webkit-scrollbar {
    display: none !important;
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--color-primary);
  }
}

::ng-deep .mockupimage {
  background-image: url("../../../assets/images/Home/spotlightbanner.png");
}
