<div
  *ngIf="type === InboxMessageItemComponentType.default"
  class="InboxMessageItem"
>
  <div class="InboxMessageItem-img">
    <!-- {{ messageData?.senderDetails?.fullName.charAt(0) || "-" }} -->
  </div>

  <div class="InboxMessageItem-wp">
    <!-- <div class="InboxMessageItem-name">
      {{ messageData?.senderDetails?.fullName || "N/A" }}
    </div> -->
    <div class="global-H5 InboxMessageItem-title">
      {{ messageData?.subject || "N/A" }}
    </div>
    <div class="global-text-body InboxMessageItem-body">
      {{ messageData?.message || "N/A" }}
    </div>
  </div>
</div>

<div
  *ngIf="type === InboxMessageItemComponentType.full"
  class="InboxMessageItem"
>
  <div class="InboxMessageItem-img">
    <img src="./assets/images/Home/katty.png" alt="" />
  </div>

  <div class="InboxMessageItem-wp">
    <div class="InboxMessageItem-name">global_admin</div>
    <div class="InboxMessageItem-title">
      Full of Surprises, 5 Free Fire Max Leaks that You Should Know!
    </div>
    <div class="InboxMessageItem-body">
      Garena has been silent about the release of Free Fire’s new version, bet
      the new face of this Battle Royale game has started to circulate around
      the internet. Garena will improve the graphic quality of Free Fire that
      will allow survivors to enjoy the game more. If you are curious about the
      new face, these are the five Free Fire Max leaks that you should know.
    </div>
    <div class="InboxMessageItem-data">Jun 16 2020 11:30AM</div>

    <div class="InboxMessageItem-footer">
      <button class="global-IconBtn">
        View <fa-icon [icon]="faAngleUp"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="type === InboxMessageItemComponentType.preview"
  class="InboxMessageItem is-preview"
>
  <div class="InboxMessageItem-img">
    {{ messageData?.senderDetails?.fullName.charAt(0) || "-" }}
  </div>

  <div class="InboxMessageItem-wp">
    <div class="InboxMessageItem-body">
      {{ messageData?.message || "N/A" }}
    </div>
  </div>
</div>
