@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "base/typography";
@import "abstract/functions";

.placement-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: px2vw-xl(10px);
    grid-row-gap: px2vw-xl(10px);
    margin-bottom: px2vw-xl(60px);

    @include lg {
      grid-template-columns: auto auto auto;
      grid-column-gap: px2vw-lg(10px);
      grid-row-gap: px2vw-lg(10px);
    }

    @include md {
      grid-template-columns: auto auto;
      grid-column-gap: px2vw-md(10px);
      grid-row-gap: px2vw-md(10px);
    }

    @include sm {
      grid-template-columns: auto;
      grid-column-gap: px2vw-sm(10px);
      grid-row-gap: px2vw-sm(10px);
    }
  }

  .placement-item {
    display: flex;
    position: relative;
    margin: 6px 0;
    min-height: 50px;
    width: 100%;
    padding: 6px;
    border: 2px solid var(--base-submarine) !important;
    border-radius: 10px;
  }

  .placement-input {
    height: 100%;
    display: contents;
    vertical-align: middle;
  }
  
  .placement-input-title {
    display: inline-block;
    min-width: 45px;
    border-radius: 4px;
    background-color: var(--ui-dim-gray);
    padding: 10px;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: "stc-forward-light", sans-serif;
    color: var(--base-white);
  }

  .placement-input-placeholder {
    background-color: transparent;
    color: var(--base-black);
    padding: px2vw-xl(10px);

    @include lg {
      padding: px2vw-lg(10px);
    }

    @include md {
      padding: px2vw-md(10px);
    }

    @include sm {
      padding: px2vw-sm(10px);
    }
  }

  ::ng-deep app-counter{
    label {
      color: var(--black) !important;
    }
  }