@import "shared";

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid var(--white-light);
  background: var(--gradient-bg);
}

.HeaderSpark {
  &-container {
    @extend %u-dfCenter;
  }

  &-logo {
    margin-right: px2vw-xl(24px);
    border-right: 1px solid var(--white-light);
    padding: px2vw-xl(24.5px);
    padding-left: 0;

    @include lg {
      margin-right: px2vw-lg(24px);
      padding: px2vw-lg(24.5px);
      padding-left: 0;
    }

    @include md {
      margin-right: px2vw-md(24px);
      padding: px2vw-md(24.5px);
      padding-left: 0;
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      padding: px2vw-sm(24.5px);
      padding-left: 0;
    }
  }

  &-logo-link {
    display: block;
  }

  &-logo-icon {
    height: px2vw-xl(20px);
    width: px2vw-xl(97px);

    @include lg {
      height: px2vw-lg(20px);
      width: px2vw-lg(97px);
    }

    @include md {
      height: px2vw-md(20px);
      width: px2vw-md(97px);
    }

    @include sm {
      height: px2vw-sm(20px);
      width: px2vw-sm(97px);
    }
  }

  &-title {
    @extend %subtitle-1;
    margin-right: px2vw-xl(14px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(14px);
    }

    @include md {
      margin-right: px2vw-md(14px);
    }

    @include sm {
      margin-right: px2vw-sm(14px);
    }
  }

  &-content {
    @extend %u-dfCenter;
    flex-shrink: 0;
    margin-left: auto;
  }

  &-control {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(24px);

    @include lg {
      margin-right: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
    }
  }

  &-players {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(16px);

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-players-icon {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(20px);
    width: px2vw-xl(24px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(20px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(20px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(20px);
      width: px2vw-sm(24px);
    }
  }

  &-players-text {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white);
  }

  &-button {
    position: relative;

    &.ready {
      margin-right: px2vw-xl(8px);
      padding-left: px2vw-xl(41px);

      @include lg {
        margin-right: px2vw-lg(8px);
        padding-left: px2vw-lg(41px);
      }

      @include md {
        margin-right: px2vw-md(8px);
        padding-left: px2vw-md(41px);
      }

      @include sm {
        margin-right: px2vw-sm(8px);
        padding-left: px2vw-sm(41px);
      }

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: px2vw-xl(17px);
        width: px2vw-xl(12px);
        height: px2vw-xl(9px);
        background-image: url(/assets/icons/check.svg);
        background-size: cover;

        @include lg {
          left: px2vw-lg(17px);
          width: px2vw-lg(12px);
          height: px2vw-lg(9px);
        }

        @include md {
          left: px2vw-md(17px);
          width: px2vw-md(12px);
          height: px2vw-md(9px);
        }

        @include sm {
          left: px2vw-sm(17px);
          width: px2vw-sm(12px);
          height: px2vw-sm(9px);
        }
      }
    }
  }

  &-close {
    @extend %u-dfCenter;
    background-color: transparent;
  }

  &-close-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);
    color: var(--white-medium);
    transition: $global-transition;

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  &-confirmClose {
    width: 404px;
    height: 239px;
    padding: 32px;
    background-color: var(--white);
    box-shadow: 0px 24px 38px rgb(0 0 0 / 10%), 0px 11px 15px rgb(0 0 0 / 10%);
    border-radius: 20px;
    position: absolute;
    left: calc(50% - 400px / 2);

    @include sm {
      width: 358px;
      left: calc(50% - 359px / 2);
    }

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--blackcurrant-color-medium);
      margin-bottom: 16px;
    }

    &-description {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tertiary-color);
      margin-bottom: 32px;
    }

    &-btn-cancel {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--secondary-color);
      background-color: var(--white);
      margin-right: 24px;
      padding: 12px 32px;
    }
    &-btn-confirm {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: var(--color-white-medium);
      background: var(--secondary-color);
      border-radius: 6px;
      padding: 12px 32px;
    }
  }
}
section.ss-header-page {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: var(--white);
  width: 100%;
  border-bottom: 1px solid var(--tolopea-medium-color);
  font-family: "Avenir Next" !important;
  .inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    min-height: 80px;
    @include lg {
      min-height: 70px;
    }
    @include md {
      min-height: 64px;
      padding: 0 25px;
    }

    a.btn-back {
      width: 48px;
      height: 48px;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      border: 2px solid var(--secondary-color);
      border-radius: 100%;
      padding: 0;
      &.m-first-step {
        display: none;
      }
      .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      @include lg {
        width: 35px;
        height: 35px;
      }
      @include md {
        width: 20px;
        height: 20px;
        border: none;
        img {
          width: 100%;
        }
      }
    }
    .box-center {
      h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--blackcurrant-color-medium);
        margin-bottom: 0;
      }
    }
    .box-right {
      min-width: 48px;
      @include sm {
        min-width: 20px;
      }
      .btn-close {
        width: 48px;
        height: 48px;
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--secondary-color);
        border-radius: 100%;
        padding: 0;
        @include lg {
          width: 35px;
          height: 35px;
        }
        @include md {
          width: 20px;
          height: 20px;
          border: none;
          img {
            width: 100%;
          }
        }
        .icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .box-left {
      min-width: 48px;
      @include sm {
        min-width: 20px;
      }
    }
  }
}
