@import "shared";

:host {
  @extend %u-dfStart;
}

.SelectTeams-aside {
  flex-shrink: 0;
  margin-right: px2vw-xl(15px);

  @include lg {
    margin-right: px2vw-lg(15px);
  }

  @include md {
    margin-right: px2vw-md(15px);
  }

  @include sm {
    margin-right: px2vw-sm(15px);
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    height: px2vw-xl(56px);
    width: px2vw-xl(97px);

    @include lg {
      height: px2vw-lg(56px);
      width: px2vw-lg(97px);
    }

    @include md {
      height: px2vw-md(56px);
      width: px2vw-md(97px);
    }

    @include sm {
      height: px2vw-sm(56px);
      width: px2vw-sm(97px);
    }
  }

  &-icon {
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);

    @include lg {
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }
}

.SelectTeams-main {
  @extend %u-dfStart;
  flex-direction: column;
  flex-grow: 1;
}

.SelectTeams-header {
  margin-bottom: px2vw-xl(34px);

  @include lg {
    margin-bottom: px2vw-lg(34px);
  }

  @include md {
    margin-bottom: px2vw-md(34px);
  }

  @include sm {
    margin-bottom: px2vw-sm(34px);
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(16px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(13px);

    @include lg {
      margin-bottom: px2vw-lg(13px);
    }

    @include md {
      margin-bottom: px2vw-md(13px);
    }

    @include sm {
      margin-bottom: px2vw-sm(13px);
    }
  }

  &-link {
    @extend %subtitle-1;
    color: var(--color-secondary);
    transition: $global-transition2;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.SelectTeams-items {
  margin-bottom: px2vw-xl(30px);
  width: 100%;

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }

  &-title {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-cards {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, px2vw-xl(208px));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(16px);

    @include lg {
      grid-template-columns: repeat(3, px2vw-lg(208px));
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
    }

    @include md {
      grid-template-columns: repeat(3, px2vw-md(208px));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      grid-template-columns: repeat(3, px2vw-sm(208px));
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(16px);
    }
  }

  &-card {
    @extend %u-dfCenter;
    flex-direction: column;
    border-radius: px2vw-xl(4px);
    border: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(16px);
    background: var(--gradient-bg);
    cursor: pointer;
    transition: $global-transition2;

    @include lg {
      border-radius: px2vw-lg(4px);
      border-width: px2vw-lg(1px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      border-width: px2vw-md(1px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      border-width: px2vw-sm(1px);
      padding: px2vw-sm(16px);
    }

    &:hover {
      border-color: var(--white);

      .card-name {
        color: var(--white);
      }
    }
    &.active {
      border-color: var(--white-high);
  
      .icon ::ng-deep svg path {
        fill: var(--color-primary);
      }
  
      .label {
        color: var(--white-high);
      }
    }
  }

  &-card-image {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: var(--black);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }

    &.add-plus {
      @extend %u-dfCenterCenter;
      background-color: transparent;
    }
  }

  // CREATE TEAM PLUS ICON
  &-card-icon {
    ::ng-deep svg {
      height: px2vw-xl(23.33px);
      width: px2vw-xl(23.33px);

      @include lg {
        height: px2vw-lg(23.33px);
        width: px2vw-lg(23.33px);
      }

      @include md {
        height: px2vw-md(23.33px);
        width: px2vw-md(23.33px);
      }

      @include sm {
        height: px2vw-sm(23.33px);
        width: px2vw-sm(23.33px);
      }

      path {
        fill: var(--color-primary);
      }
    }
  }

  &-card-name {
    @extend %body-2;
    margin-top: px2vw-xl(16px);
    margin-bottom: 0;
    line-height: 1;
    color: var(--white-medium);
    transition: inherit;

    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }
}

.SelectTeams-buttons {
  @extend %u-dfCenter;
  margin-top: auto;
}

.SelectTeams-button {
  margin-right: px2vw-xl(8px);

  @include lg {
    margin-right: px2vw-lg(8px);
  }

  @include md {
    margin-right: px2vw-md(8px);
  }

  @include sm {
    margin-right: px2vw-sm(8px);
  }

  &:last-child {
    margin-right: 0;
  }
}
