<!-- <app-header-paidia

  [title]="'Join Tournament'"
></app-header-paidia> -->
<section class="SelectTeams-aside">
  <div class="SelectTeams-aside-icon-block">
    <img class="SelectTeams-aside-icon" src="assets/icons/matchmaking/swords.svg" alt="icon" />
  </div>
</section>

<main class="SelectTeams-main">
  <header class="SelectTeams-header">
    <h1 class="SelectTeams-header-title">
      {{ "MATCHMAKING.SELECT_TEAMS.TITLE" | translate }}
    </h1>
    <p class="SelectTeams-header-subtitle">
      {{ "MATCHMAKING.SELECT_TEAMS.SUBTITLE" | translate }}
    </p>
    <a class="SelectTeams-header-link" [routerLink]="'/create-team'">
      {{ "MATCHMAKING.SELECT_TEAMS.LINK" | translate }}
    </a>
  </header>

  <section class="SelectTeams-items">
    <h3 class="SelectTeams-items-title">
      {{ "MATCHMAKING.SELECT_TEAMS.YOUR_TEAMS" | translate }}
    </h3>
    <ul class="SelectTeams-items-cards">
      <ng-container *ngIf="teams.length">
        <li class="SelectTeams-items-card " *ngFor="let team of teams"
          [class.active]="selectedteam?._id == team._id" (click)="selectedteam = team">
          <div class="SelectTeams-items-card-image" [lazyLoad]="team.image"></div>
          <p class="SelectTeams-items-card-name card-name">
            {{ team.name }}
          </p>
        </li>
      </ng-container>

      <!-- ADD PLUS BUTTON -->
      <li class="SelectTeams-items-card" [routerLink]="AppHtmlRoutes.createTeam">
        <div class="SelectTeams-items-card-image add-plus">
          <span class="SelectTeams-items-card-icon" inlineSVG="assets/icons/plus.svg"></span>
        </div>
        <p class="SelectTeams-items-card-name card-name">
          {{ "MATCHMAKING.SELECT_TEAMS.CREATE_TEAM" | translate }}
        </p>
      </li>
    </ul>
  </section>

  <section class="SelectTeams-buttons">
    <button class="SelectTeams-button button-secondary" [routerLink]="AppHtmlRoutes.play">
      {{ "BUTTON.CANCEL" | translate }}
    </button>

    <button class="SelectTeams-button button-icon-secondary" [routerLink]="AppHtmlRoutes.play">
      <mat-icon> arrow_back </mat-icon>
      <span>
        {{ "BUTTON.BACK" | translate }}
      </span>
    </button>

    <button class="SelectTeams-button button-primary" (click)="confirm()">
      <!-- [routerLink]="AppHtmlJoinTournamentRoutes.teammembers" -->
      {{ "BUTTON.CONFIRM" | translate }}
    </button>
  </section>
</main>


<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
