<div
  class="custom-file"
  [formGroup]="customFormGroup"
  [ngbTooltip]="
    ((customFormGroup?.controls)[customFormControlName]?.value
      ? changeMessage
      : addMessage
    ) | translate
  "
  [ngClass]="customClass"
>
  <img
    class="bannerImage"
    [src]="(customFormGroup?.controls)[customFormControlName]?.value"
    *ngIf="(customFormGroup?.controls)[customFormControlName]?.value"
    formationLazyImage
  />
  <label
    class="custom-file-label"
    [for]="id"
    [style.opacity]="
      !(customFormGroup?.controls)[customFormControlName]?.value ? 1 : 0
    "
  >
    <ng-container *ngIf="!isProcessing">
      <b> {{ title | translate }} {{ required ? "*" : "" }} </b>
      <br />
      {{ dimension.width }}px X {{ dimension.height }}px
      <button
        *ngIf="btnTitle"
        class="btn btn-primary filebrowser-btn"
        (click)="banner.click()"
      >
        {{ btnTitle | translate }}
      </button>
    </ng-container>

    <esports-loading *ngIf="isProcessing"></esports-loading>
  </label>

  <input
    class="custom-file-input"
    (change)="eventChange($event)"
    [id]="id"
    #banner
    type="file"
    accept="image/jpeg, image/jpg, image/png"
    aria-describedby="inputGroupFileAddon01"
  />
</div>

<div
  class="error"
  *ngIf="
    (customFormGroup?.controls)[customFormControlName]?.touched &&
    (customFormGroup?.controls)[customFormControlName].errors
  "
>
  <strong>
    {{
      (customFormGroup?.controls)[customFormControlName].errors
        | errorPipe
        | translate
    }}
  </strong>
</div>
