<app-header-info
  [title]="'MANAGE_TEAM.HEADER_TITLE' | translate"
></app-header-info>

<div class="HeaderInfo-Top">
  <div class="u-wp">
    <div class="ManageTeam">
      <div class="ManageTeam-container u-dfStart">
        <img
          class="ManageTeam-image"
          src="assets/icons/create-team/participants.svg"
          alt="image"
        />

        <div class="ManageTeam-members">
          <h2 class="ManageTeam-members-title global-Title2">
            {{ "MANAGE_TEAM.TITLE" | translate }}
          </h2>

          <p class="ManageTeam-memebers-subtitle global-Title3">
            {{ "MANAGE_TEAM.SUBTITLE" | translate }} ({{ mock_members.length }})
          </p>

          <div class="ManageTeam-table">
            <div class="global-scrollbar">
              <ngx-datatable
                class="global-DataTable"
                [rows]="mock_members"
                [columnMode]="'force'"
                [headerHeight]="'auto'"
                [rowHeight]="'auto'"
                [footerHeight]="'auto'"
                [limit]="10"
              >
                <ngx-datatable-column
                  prop="s/n"
                  name="{{ 'MANAGE_TEAM.TABLE.HEADINGS.SN' | translate }}"
                >
                  <ng-template
                    ngx-datatable-cell-template
                    let-row="row"
                    let-rowIndex="rowIndex"
                  >
                    <div class="ManageTeam-table-item u-dfCenterStart">
                      <span class="ManageTeam-table-item-number global-Text">
                        {{ rowIndex + 1 }}
                      </span>

                      <div
                        class="ManageTeam-table-item-image"
                        [style.background-image]="
                          'url(' + row.userId.profilePicture + ')'
                        "
                        *ngIf="row.userId.profilePicture"
                      ></div>
                      <div
                        class="ManageTeam-table-item-image"
                        [style.background-image]="
                          'url(./assets/images/Profile/stc_avatar.png)'
                        "
                        *ngIf="!row.userId.profilePicture"
                      ></div>
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="name"
                  name="{{
                    'MANAGE_TEAM.TABLE.HEADINGS.PLAYER_NAME' | translate
                  }}"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{
                      row.userId?.fullName
                        ? row.userId?.fullName
                        : row.userId?.username
                    }}
                  </ng-template></ngx-datatable-column
                >

                <ngx-datatable-column
                  prop="role"
                  name="{{ 'MANAGE_TEAM.TABLE.HEADINGS.ROLE' | translate }}"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ translateRole(row.role) | translate }}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button
                     [matMenuTriggerFor]="menu"
                      [hidden]="row?.userId?.Status==3"
                      mat-icon-button
                      *ngIf="row.dots || (currentUser.accountType == 'admin' && (row.demoteCaptain||row.makeCaptain||row.removePlayer))"
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu
                      class="global-MatMenu"
                      #menu="matMenu"
                      yPosition="below"
                      xPosition="before"
                    >
                      <div class="ManageTeam-options">
                        <!-- Make Captain -->
                        <button
                          class="ManageTeam-option u-dfCenterStart"
                          (click)="changeRole(row.userId, 'captain')"
                          *ngIf="row.makeCaptain"
                        >
                          <div class="ManageTeam-option-image-block">
                            <img
                              class="ManageTeam-option-image"
                              src="assets/icons/create-team/manage/user-check.svg"
                              alt="make captain"
                            />
                          </div>

                          <span class="ManageTeam-option-text">
                            {{
                              "MANAGE_TEAM.TABLE.CONTROLS.MAKE_CAPTAIN"
                                | translate
                            }}
                          </span>
                        </button>
                        <!--Make Owner-->
                        <button
                          class="ManageTeam-option u-dfCenterStart"
                          (click)="updateTeam(row)"
                          *ngIf="
                            currentUser.accountType == 'admin' &&
                            row.role != 'owner'
                          "
                        >
                          <div class="ManageTeam-option-image-block">
                            <img
                              class="ManageTeam-option-image"
                              src="assets/icons/create-team/manage/user-check.svg"
                              alt="make captain"
                            />
                          </div>
                          <span class="ManageTeam-option-text">
                            {{
                              "MANAGE_TEAM.TABLE.CONTROLS.MAKE_OWNER"
                                | translate
                            }}
                          </span>
                        </button>
                        <!-- Demote captain -->
                        <button
                          class="ManageTeam-option u-dfCenterStart"
                          (click)="changeRole(row.userId, 'player')"
                          *ngIf="row.demoteCaptain"
                        >
                          <div class="ManageTeam-option-image-block">
                            <img
                              class="ManageTeam-option-image"
                              src="assets/icons/create-team/manage/user-check.svg"
                              alt="make captain"
                            />
                          </div>

                          <span class="ManageTeam-option-text">
                            {{
                              "MANAGE_TEAM.TABLE.CONTROLS.DEMOTE" | translate
                            }}
                          </span>
                        </button>

                        <!-- Remove Plyer -->
                        <button
                          class="ManageTeam-option u-dfCenterStart"
                          (click)="changeStatus(row?.userId, 'deleted')"
                          *ngIf="row.removePlayer"
                        >
                          <div class="ManageTeam-option-image-block">
                            <img
                              class="ManageTeam-option-image"
                              src="assets/icons/create-team/manage/add.svg"
                              alt="delete player"
                            />
                          </div>

                          <span class="ManageTeam-option-text">
                            {{
                              "MANAGE_TEAM.TABLE.CONTROLS.REMOVE_PLAYER"
                                | translate
                            }}
                          </span>
                        </button>
                      </div>
                    </mat-menu>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="ManageTeam-buttons u-dfStartEnd">
        <button class="ManageTeam-button global-EditBtn dark-text" [routerLink]="AppHtmlProfileRoutes.teams">
          {{ "CREATE_TEAM.BUTTONS.CANCEL" | translate }}
        </button>

        <button class="ManageTeam-button global-EditBtn" (click)="manage()">
          {{ "CREATE_TEAM.BUTTONS.CONFIRM" | translate }}
        </button>
      </div> -->
    </div>
  </div>
</div>
