<app-header-dynasty [currentPageLink]="AppHtmlProfileRoutes.matches" [title]="'Report score'"></app-header-dynasty>


<section class="container">
  <div class="col-10">
    <header class="Inbox-header">
      <h1 class="Inbox-header-title">
        Match 1
      </h1>
      <!-- <button class="button-icon-secondary" routerBack>
        <mat-icon> arrow_back </mat-icon>
        <span>
          {{ "BUTTON.BACK" | translate }}
        </span>
      </button> -->

      <!-- <div style="margin-right: -440px;">
        <button class="button-icon-secondary "  style="float: left;">
          <mat-icon style="color: orange;"> error_outline </mat-icon>
          <span>
            {{ "REPORT ISSUE" | uppercase }}
          </span>
        </button>
        <button class="Inbox-header-button button-secondary" >
          {{'CHAT LOG '|uppercase}}
        </button>
      </div> -->
      <!-- <button class="Inbox-header-button button-primary" >
        {{'CHAT '|uppercase}}
      </button> -->
    </header>



    <section class="MyTeams-control">
      <h3 class="MyTeams-cards-title">
        {{ "Sets" | uppercase }}
      </h3>


      <div class="MyTeams-control-toggles global-MatToggles" ngbNav #nav="ngbNav" (navChange)="navChanges($event)"
        [(activeId)]="active">
        <!-- set  -->
        <div *ngFor="let item of matchDetails?.sets; let i=index" class="MyTeams-control-toggle" [ngbNavItem]="i+1">
          <a class="MyTeams-control-link" ngbNavLink>
            {{ "Set "+(i+1) | capitalizeFirst }}
          </a>

          <ng-template ngbNavContent>
            <!-- <div class="row Dashboard-cards-item " style="margin-bottom: 20px;">
              <div class="col">
                <div class="Dashboard-cards-item-info">
                  <h4 class="Dashboard-cards-item-title">
                    {{ "PROFILE.DASHBOARD.CARDS.PAIDIA_POINTS" | translate }}
                  </h4>
                  <p class="Dashboard-cards-item-value global-Elipses">1 score pending</p>
                </div>
              </div>
              <div class="col ml-auto" style="position: absolute;  left: 727px;">
                <div class="Dashboard-cards-item-info" style="float: left; margin-right: 10px;">
                  <h4 class="Dashboard-cards-item-title ">
                    {{ "PROFILE.DASHBOARD.CARDS.PAIDIA_POINTS" | translate }}
                  </h4>
                  <p class="Dashboard-cards-item-value global-Elipses">-</p>
                </div>
                <img src="https://i115.fastpic.ru/big/2021/0711/d5/e284e76b3d0de8760861e2d97642e5d5.png" width="32px"
                  alt="">
              </div>
            </div> -->
            <div class="MyTeams-cards">
              <div class="MyTeams-cards-list">

                <app-team-card [set]="matchDetails.sets[i]" [isManage]="true" [team]="matchDetails.teamA"
                  (updateScore)="updateScoree($event)" [team_name]="'teamAScore'"
                  [score]="matchDetails.sets[i].teamAScore"></app-team-card>
                <app-team-card [set]="matchDetails.sets[i]" [isManage]="true" [team]="matchDetails.teamB"
                  (updateScore)="updateScoree($event)" [team_name]="'teamBScore'"
                  [score]="matchDetails.sets[i].teamBScore"></app-team-card>
              </div>
            </div>
            <div class="CreateTeam-buttons">
              <button class="CreateTeam-button button-secondary" [routerLink]="AppHtmlProfileRoutes.matches">
                {{ "BUTTON.CANCEL" | translate }}
              </button>
              <!--  -->
              <!-- <button *ngIf="tReport?.match?.tournamentId?.scoreReporting == 2 && !isAdmin"
              (click)="submitParticipantScore()" class="CreateTeam-button button-primary">
                {{ 'update score' |uppercase }}
              </button>
        
              <button (click)="isAdmin ? submitScore(matchDetails.sets[0]) : null"
              [hidden]="!isAdmin || matchDetails?.disQualifiedTeam?.team" class="CreateTeam-button button-primary">
                {{ 'update score' |uppercase }}
              </button> -->
              <button
              *ngIf="isupdatedscore"
              (click)="submitParticipantScore(matchDetails.sets[i])"
              class="CreateTeam-button button-primary"
            >
              {{ "update score" | uppercase }}
            </button>
              
            </div>
          </ng-template>
        </div>


      </div>

      <div class="MyTeams-control-content" [ngbNavOutlet]="nav"></div>
    </section>

    <!-- <div class="Banner">
      <app-team-banner [title]="'Uploaded screenshots'"
        [subtitle]="'We only support JPG or PNG images, under (size) mb'">
      </app-team-banner>
    </div> -->

    <!-- Team members  (4) -->
    <h3 class="MyTeams-cards-title">
      <!-- {{ "Uploaded files" | uppercase }} -->
    </h3>
    <div class="Content-table">
      <!-- <div class="Content-table-header">
        <div class="Content-table-header-item views" style="width: 12%;">
          Uploaded by
        </div>
        <div class="Content-table-header-item views" style="width: 8%;">
          Name
        </div>
        <div class="Content-table-header-item views" style="width: 8%;">
          Size
        </div>
        <div class="Content-table-header-item views" style="width: 20%;">
          Date and time received
        </div>
        <div class="Content-table-header-item views" style="width: 12%;">
        </div>
        <div class="Content-table-header-item status" style="width: 12%;">
        </div>
      </div> -->

      <!-- <div class="Content-table-cards">
        <ng-container *ngFor="let card of [1,2,3,4]; let i=index">
          <div class="Content-table-card">
            <div class="Content-table-card-item views global-Elipses" style="width: 12%;">
              Lazergazer
            </div>
            <div class="Content-table-card-item views global-Elipses" style="width: 8%;">
              Lazergazer
            </div>
            <div class="Content-table-card-item views global-Elipses" style="width: 8%;">
              5 Mb
            </div>
            <div class="Content-table-card-item views global-Elipses" style="width: 20%;">
              9/10/2021, 11:30 AM
            </div>
            <div class="Content-table-card-item title global-Elipses"
              style="width: 5%;margin-left: 60px; text-align: right;color: #736CFF;">
              View
            </div>
            <div class="Content-table-card-item views global-Elipses" style="width: 5%;">
              <button class="TeamCard-manage-button-menu" [matMenuTriggerFor]="matchMenu" #t="matMenuTrigger">
                <mat-icon class="TeamCard-manage-button-menu-icon"> more_vert </mat-icon>
              </button>
              <mat-menu class="global-MatMenu team-card" #matchMenu="matMenu" xPosition="before">
                <div class="TeamCard-manage-menu menu">
                  <a class="TeamCard-manage-menu-link link">
                    <mat-icon class="icon"> file_download </mat-icon>
                    <span class="text">
                      {{ "'Download" | translate }}
                    </span>
                  </a>
                  <a class="TeamCard-manage-menu-link link">
                    <mat-icon class="icon"> file_download </mat-icon>
                    <span class="text">
                      {{ "'Re-Upload" | translate }}
                    </span>
                  </a>
                  <a class="TeamCard-manage-menu-link link last">
                    <mat-icon class="icon"> delete </mat-icon>
                    <span class="text">
                      {{ "PROFILE.COMPONENTS.TEAM_CARD.MENU.DELETE_TEAM" | translate }}
                    </span>
                  </a>
                </div>
              </mat-menu>
            </div>
          </div>
        </ng-container>
      </div> -->
    </div>

  </div>
  <div class="col-4">
    <div class="overview">
      <app-result-overview [data]="matchDetails"></app-result-overview>
    </div>
  </div>
</section>

