@import "shared";

:host {
  display: block;
  padding-top: px2vw-xl(28px);
  padding-bottom: px2vw-xl(50px);
  padding-left: px2vw-xl(70px);
  padding-right: px2vw-xl(70px);

  @include lg {
    padding-top: px2vw-lg(28px);
    padding-bottom: px2vw-lg(50px);
  }

  @include md {
    padding-top: px2vw-md(28px);
    padding-bottom: px2vw-md(50px);
  }

  @include sm {
    padding-top: px2vw-sm(28px);
    padding-bottom: px2vw-sm(50px);
  }
}

.TournamentImage {
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-subtitle {
    @extend %caption;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-label {
    @extend %u-dfStretch;
    overflow: hidden;
    position: relative;
    border: px2vw-xl(2px) solid var(--white-light);
    border-radius: px2vw-xl(6px);
    min-height: px2vw-xl(208px);
    padding: px2vw-xl(8px);
    width: 100%;
    transition: $global-transition;
    cursor: pointer;
    text-align: center;

    @include lg {
      border-width: px2vw-lg(2px);
      border-radius: px2vw-lg(6px);
      min-height: px2vw-lg(208px);
      padding: px2vw-lg(8px);
    }

    @include md {
      border-width: px2vw-md(2px);
      border-radius: px2vw-md(6px);
      min-height: px2vw-md(208px);
      padding: px2vw-md(8px);
    }

    @include sm {
      border-width: px2vw-sm(2px);
      border-radius: px2vw-sm(6px);
      min-height: px2vw-sm(208px);
      padding: px2vw-sm(8px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-label-block {
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    background-color: var(--color-blackcurrant);
    width: 100%;
    padding: px2vw-xl(38px) px2vw-xl(16px) px2vw-xl(16px);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(38px) px2vw-lg(16px) px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(38px) px2vw-md(16px) px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(38px) px2vw-sm(16px) px2vw-sm(16px);
    }
  }

  &-label-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    border-radius: px2vw-xl(4px);

    @include lg {
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
    }
  }

  &-info-icon {
    margin-bottom: px2vw-xl(38.6px);
    height: px2vw-xl(66.6px);
    width: px2vw-xl(53.3px);

    @include lg {
      margin-bottom: px2vw-lg(38.6px);
      height: px2vw-lg(66.6px);
      width: px2vw-lg(53.3px);
    }

    @include md {
      margin-bottom: px2vw-md(38.6px);
      height: px2vw-md(66.6px);
      width: px2vw-md(53.3px);
    }

    @include sm {
      margin-bottom: px2vw-sm(38.6px);
      height: px2vw-sm(66.6px);
      width: px2vw-sm(53.3px);
    }
  }

  &-info-title {
    @extend %overline;
    margin-bottom: 0;
  }

  &-info-text {
    @extend %overline;
    margin-bottom: 0;
  }
}

.Matches-header {
  margin-bottom: px2vw-xl(16px);
  padding: px2vw-xl(20px) 0;

  @include lg {
    margin-bottom: px2vw-lg(16px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    padding: px2vw-md(20px) 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    padding: px2vw-sm(20px) 0;
  }

  &-title {
    @extend %global-H5;
    margin-bottom: 0;
    color: var(--white);
  }
}

.Matches-table {
  &-toggles {
    border-bottom: px2vw-xl(1px) solid var(--white-light);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
    }
  }

  &-content {
    padding-top: px2vw-xl(8px);

    @include lg {
      padding-top: px2vw-lg(8px);
    }

    @include md {
      padding-top: px2vw-md(8px);
    }

    @include sm {
      padding-top: px2vw-sm(8px);
    }
  }

}

.report-issue {
  h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 25px;
  }

  @include lg {
    font-size: px2vw-lg(24px);
  }

  @include md {
    font-size: px2vw-md(22px);
  }

  @include sm {
    font-size: px2vw-sm(22px) !important;
  }
}

.issue {
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
  width: 880px;

  .border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
    padding: 21px 25px;
  }

  .border-bottom:last-child {
    border-bottom: none;
  }

  .active {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #0B0824;
  }
}

h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

.grid-margin {
  margin-bottom: 2.5rem;
}

.btn-back {
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  border-color: #24213a;
}

.description {
  h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.87);
  }
}

.text {
  padding: 18px 20px;
  max-width: 600px;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
  }

  .btn-reg {
    background-color: #736CFF;
    color: #fff;
    border-radius: 0;
  }
}

.upload {
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.87);
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.6);
  }
}

::ng-deep {
  .mat-checkbox-inner-container {
    order: 1 !important;
    position: absolute !important;
    right: 7% !important;
  }

  .mat-checkbox .mat-checkbox-label {
    margin-left: 0;
  }

  textarea {
    background: #0B0824;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    color: #fff;
    border-bottom: rgba(255, 255, 255, 0.2);
  }

  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
  }
}

.btn-report {
  background-color: #BBF55A;
  color: #000;
  border-radius: 0;
  margin-left: 20px;
}

.btn-cancel {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 0;
}

@include sm {
  .grid-margin {
    max-width: 80vw !important;
  }
}