<section class="Matches-table u-wp">
  <div class="row grid-margin">
    <div class="col-md-12">
      <!-- <button class="btn btn-back" (click)="goBack()">
        <img src="assets/icons/arrow-left.svg" alt="..">
        Back</button> -->
        <button
        class="InboxMessage-header-button button-icon-secondary"
        (click)="goBack()"
      >
       <!-- <mat-icon> arrow_back </mat-icon> -->
        <span>BACK</span>
      </button>
    </div>
  </div>
  <!-- <div class="row grid-margin">
    <div class="col-md-5">
      <div class="game_image">
        <img [src]="tReport?.image" alt=".." class="img-fluid" />
      </div>
    </div>
    <div class="col-md-8 ">

      <div class="text">
        <p>Tomorrow at 16:50 GMT+8 • Fortnite</p>
          <h2>{{tReport?.tournamentName}}</h2>
        <button class="btn btn-reg">Registration open</button>
      </div>

    </div>
  </div> -->
  <div class="grid-margin report-issue">
    <div class="d-flex grid-margin">
      <button class="btn btn-back" (click)="goBack()" ><img src="assets/icons/arrow--.svg"> </button>
      <h3>Report an issue</h3>

    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="issue grid-margin">
          <div class="border-bottom active">
            <mat-checkbox (click)="selectType('incorrectOpponent')" class="report-slider btn"

              >My opponent has an incorrect gameaccount
            </mat-checkbox>
          </div>
          <div class="border-bottom">
            <mat-checkbox (click)="selectType('cheating')" class="report-slider btn"

              >My opponent was cheating</mat-checkbox>
          </div>
          <div class="border-bottom border-0">
            <mat-checkbox (click)="selectType('grievances')"
            class="report-slider btn"

            >Other grievances</mat-checkbox>
          </div>
        </div>
        <div class="description grid-margin">
          <h4>Description</h4>

          <!-- <mat-form-field  appearance="fill" class="w-100">
            <mat-label>Enter description</mat-label>
            <textarea
            matInput
            cols="50"
            placeholder="Enter description"
            (ngModel)="briefDescription"
            rows="4"
            name="briefDescription"></textarea>
          </mat-form-field> -->



          <form>
            <div class="form-group">
              <!-- <label for="exampleInputEmail1">Enter description</label> -->
              <textarea
              type="text"
              cols="50"
              rows="4"
              class="form-control"
              id="exampleInputEmail1"
               aria-describedby="emailHelp"
               placeholder="Enter description"
               #descrip
               ></textarea>
            </div>
            <div class="upload grid-margin">
              <h4>Attachments</h4>
              <p>Attach supporting image or videos</p>

              <app-report-banner class="TournamentRegistration-upload-photo" [customFormGroup]="form"
                [customFormControlName]="'teamLogo'" [dimension]="{ width: 1000, height: 1000 }" [id]="'LOGO'"
                [size]="1000 * 1000 * 5" (imgurltosave)="datatoimg($event)" [subtitle]="'TOURNAMENT_REGISTRATION.UPLOAD_PHOTO'">
              </app-report-banner>
              <!-- <div
      *ngIf="
        (customFormGroup?.controls)[customFormControlName]?.touched &&
        (customFormGroup?.controls)[customFormControlName].errors
      "
    >
      {{
        (customFormGroup?.controls)[customFormControlName].errors
          | errorPipe
          | translate
      }}
    </div> -->


            </div>
          </form>

          <!-- <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
            <mat-label>
              {{ "ACCOUNT_SETTINGS.PROFILE.FORM.SHORT_BIO.LABEL" | translate }}
            </mat-label>
            <textarea [formControl]="addForm.controls['shortBio']" matInput></textarea>
          </mat-form-field> -->

        </div>

        <div class="btn-grp">
          <button type="button" (click)="goBack()" class="btn btn-cancel">
            cancel
          </button>
          <button type="button" class="btn btn-report" (click)="reportsubmit(descrip.value)">
            REPORT ISSUE
          </button>
        </div>
      </div>
    </div>

  </div>
</section>
