@import "shared";

:host {
  display: block;
}
.Season {
  padding: 40px 0 0 0px;
  @include md {
    padding: 46px 0 0 0px;
  }
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }
  &-slider {
    width: 100%;
    position: relative;
    .heading {
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: var(--tolopea-medium-color);
        margin-bottom: 16px;
        @include md {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 32px;
        }
      }
    }
    .sliders {
      @include md {
        margin-bottom: 16px;
      }
      .slider-item {
        .slider-item-main {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          width: 100%;
          margin-bottom: 13px;
          @include md {
            margin-bottom: 24px;
          }
          .slider-thumbnail {
            width: 100%;
            max-width: 617px;
            height: 376px;
            border-radius: 40px;
            overflow: hidden;
            position: relative;
            @include lg {
              max-width: 50%;
              height: 279px;
            }
            @include md {
              max-width: 100%;
              height: 198px;
              border-radius: 20px;
              margin-bottom: 24px;
            }
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              object-fit: cover;
            }
          }
          .slider-info {
            width: 100%;
            max-width: calc(100% - 617px);
            padding-left: 24px;
            padding-right: 25px;
            @include lg {
              padding-left: 24px;
              padding-right: 0;
              max-width: 50%;
            }
            @include md {
              padding-left: 0;
              padding-right: 0;
              max-width: 100%;
              letter-spacing: -0.5px;
            }
            .title {
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: 50px;
              line-height: 58px;
              color: var(--white);
              margin-bottom: 38px;
              @include lg {
                font-size: 28px;
                line-height: 36px;
              }
              @include md {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 26px;
              }
              .text-hl {
                display: inline-block;
                background: var(--ui-win);
                padding: 0 10px;
                color: var(--color-background);
                margin: 0 0 0 -7px;
                @include md {
                  padding: 0 5px;
                  margin: 0 0 0 -4px;
                }
              }
            }
            .progressBarContainer {
              margin-bottom: 24px;
              @include md {
                margin-bottom: 16px;
              }
              .progressBarContainer-des {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 16px;
                .progressBarContainer-des-item {
                  width: 100%;
                  max-width: 173px;
                  .th {
                    font-family: Avenir Next;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--tolopea-color);
                    margin-bottom: 0;
                    @include md {
                      margin-bottom: 4px;
                    }
                  }
                  .td {
                    font-family: Avenir Next;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    color: var(--white);
                    margin-bottom: 0;
                    @include md {
                      font-size: 16px;
                      line-height: 24px;
                    }
                  }
                }
              }
              .progressBarContainer-slider {
                width: 100%;
                max-width: 496px;
                height: 16px;
                background: var(--color-black-medium);
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                @include md {
                  height: 8px;
                }
                .active {
                  display: inline-block;
                  width: 50%;
                  height: 16px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  background: var(--ui-win);
                  border-radius: 10px 0px 0px 10px;
                  @include md {
                    height: 8px;
                  }
                }
              }
            }
            .btn {
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: var(--white);
              text-transform: none;
              @include md {
                width: 100%;
                padding: 11px 24px;
              }
            }
          }
        }
        .slider-item-bottom {
          .slider-item-bottom-wap {
            display: flex;
            align-items: center;
            .avatar {
              position: relative;
              width: 48px;
              height: 48px;
              overflow: hidden;
              border-radius: 50%;
              margin-right: 24px;
              @include md {
                width: 32px;
                height: 32px;
                margin-right: 16px;
              }
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
              }
            }
            p {
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 28px;
              color: var(--white);
              margin-bottom: 0;
              @include md {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.5px;
              }
            }
          }
        }
      }
    }
    .sliders-group-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      @include md {
        position: relative;
        text-align: right;
        padding: 0 4px 0 0;
      }
      .btn {
        border: 2px solid var(--tertiary-color);
        box-sizing: border-box;
        border-radius: 24px;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        width: 48px;
        height: 48px;
        @include md {
          width: 32px;
          height: 32px;
        }
        &:hover {
          span.icon {
            ::ng-deep svg path {
              fill: var(--main-color);
            }
          }
        }
        &.btn-slider-pre {
          margin-right: 8px;
          @include md {
            margin-right: 16px;
          }
        }
        span.icon {
          ::ng-deep svg {
            @include md {
              width: 8.5px;
            }
          }
        }
      }
    }
  }
}
.Season-main {
  padding: 0 0 164px 0px;
  @include md {
    padding: 0 0 46px 0px;
  }
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }
  &-wrapper {
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid var(--color-black-medium);
    @include md {
      padding-top: 0;
      margin-top: 37px;
      border-top: none;
    }
  }
  &-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  &-content-left {
    max-width: calc(100% - 297px);
    width: 100%;
    padding-right: 57.2px;
    @include md {
      max-width: 100%;
      padding-right: 0;
    }
  }
  &-content-right {
    width: 100%;
    max-width: 297px;
    @include md {
      max-width: 100%;
    }
  }
}
.SeasonFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: none;
  @include md {
    display: block;
  }
  &-inner {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 4px 8px rgba(84, 110, 122, 0.24);
  }
  &-left {
    width: 100%;
    max-width: 60%;
    background: #5a12aa;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
    height: 56px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 24px;
    .logo {
      max-width: 50%;
      margin-right: 17px;
    }
    .name {
      span {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
      }
    }
  }
  &-right {
    position: relative;
    width: 100%;
    max-width: 40%;
    &::before {
      content: "";
      width: 100%;
      max-width: 85px;
      height: 56px;
      background: -webkit-radial-gradient(100% 0, circle, rgba(0, 0, 0, 0) 36px, #5a12aa 36px),
        -webkit-radial-gradient(0 0%, circle, rgba(0, 0, 0, 0) 36px, #5a12aa 36px);
      background-position: bottom left, bottom right, top right, top left;
      background-size: 43px 100%;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
    }
    &::after {
      content: "";
      width: 100%;
      max-width: calc(100% - 80px);
      height: 56px;
      position: absolute;
      left: 0;
      background: #5a12aa;
    }
    .btn {
      position: absolute;
      box-shadow: 0px 3px 6px rgb(0 0 0 / 10%), 0px 4px 8px rgb(0 0 0 / 8%), 0px 1px 12px rgb(0 0 0 / 4%);
      border-radius: 56px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      width: 56px;
      height: 56px;
      top: -28px;
      right: 15px;
    }
  }
}
