<!--
<div class="adv-header">
  <div class="u-wp">
    <header class="Header u-dfCenterStart">
      <a class="Header-logo-link" (click)="navigateToInfoPage('../../')">
        <img
          class="Header-logo-image"
          src="assets/global-images/logo.svg"
          alt="logo"
        />
      </a>
      <h2 *ngIf="!isFirstPage" class="Header-title global-Title3">
        {{
          isAdvance ? "Advance create tournament" : "Quick tournament creation"
        }}
      </h2>
      <h2 *ngIf="isFirstPage" class="Header-title global-Title3">
        Create tournament
      </h2>
      <div class="HeaderGoogly-content">
        <button class="Header-button HeaderGoogly-close" (click)="navigateToInfoPage('../play')">
          <mat-icon class="HeaderGoogly-close-icon"> close </mat-icon>
        </button>
      </div>
    </header>
  </div>
</div>
-->
<header class="HeaderGoogly">
  <section class="ss-header-page">
    <div class="full-container">
      <div class="wrapper">
        <div class="inner">
          <div class="box-left">
            <ng-container>
              <a (click)="onBackClick()" [ngClass]="checkQuick8 ? 'btn btn-back m-first-step' : 'btn btn-back'">
                <span class="icon">
                  <img
                    src="../../../../assets/images/Tournament/arrow-pre.png"
                    alt=""
                  />
                </span>
              </a>
            </ng-container>
          </div>
          <div class="box-center">
            <h2 class="title">
              {{
                isAdvance
                  ? "Advanced Tournament Setup"
                  : "Quick Tournament Setup"
              }}
            </h2>
          </div>
          <div class="box-right">
            <a
              href="javascript:void(0)"
              class="btn btn-close"
              [routerLink]="AppHtmlRoutes.createTournament"
            >
              <span class="icon">
                <img
                  src="../../../../assets/icons/create-tournament/Icon.png"
                  alt=""
                />
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
