@import "shared";

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

// .Header-beta-icon{

// }

.Header {
  position: relative;
  z-index: 2;
  background: var(--color-background);
  border-bottom: 1px solid var(--color-black-medium);
  transition: $global-transition2;

  .Header-buttons a {
    color: var(--main-color);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    &:hover {
      color: var(--white);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      width: px2vw-sm(60px);
    }
  }

  .Header-buttons span {
    color: var(--main-color);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 3px;
  }

  &.active {
    background-color: var(--color-primary);
  }

  &-container {
    overflow: hidden;
    padding: 0 24px;
    max-width: 1308px;
    margin: 0 auto;
  }
  &-wrapper {
    padding: 10px 0 6px;
    @include md {
      padding: 20.38px 0 13.81px;
    }
  }
  &-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  &-labels {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-color);
    @include sm {
      margin: px2vw-sm(8px);
    }
  }
  &-left {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    max-width: calc((100% - 388.3px) / 2);
  }
  &-right {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    max-width: calc((100% - 388.3px) / 2);
    .header-action {
      .lists {
        margin: 0;
        padding: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        .item {
          margin-right: 24px;

          &:last-child {
            margin-right: 0;
          }
          a.action-user {
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-align-items: center;
            align-items: center;
            span.avatar-user {
              display: -webkit-inline-flex;
              display: inline-flex;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-align-items: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: var(--midnight-express-color);
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
  &-center {
    width: 100%;
    max-width: 388.3px;
    position: relative;
    .wap-search {
      width: 100%;
      position: relative;
      .form-group {
        margin-bottom: 0;
        background: var(--white);
        border: 2px solid var(--tolopea-color);
        box-sizing: border-box;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        padding: 8px 24px;
        height: 44px;

        @include lg {
          max-height: px2vw-lg(44px);
          min-height: px2vw-lg(44px);
        }
        @include md {
          max-height: none;
          min-height: px2vw-lg(44px);
        }
        @include sm {
          max-height: px2vw-sm(61.447px);
          min-height: auto;
        }

        .input-field {
          width: 100%;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--blackcurrant-color-medium);
          &::placeholder {
            color: var(--tertiary-color);
          }
        }
        span.icon {
          position: absolute;
          right: 24.3px;
        }
      }
    }
  }

  .gameList {
    &-title {
      position: relative;
      margin-bottom: px2vw-xl(24px);
      margin-top: px2vw-xl(56px);
      font-size: 40px;
      line-height: 48px;
      text-align: center;

      @include lg {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: px2vw-lg(24px);
      }

      @include md {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: px2vw-md(24px);
      }

      @include sm {
        margin-bottom: px2vw-sm(24px);
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  .games-container {
    padding-bottom: 2vw;
  }

  .Games {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &-cards {
      display: grid;
      grid-template-columns: repeat(6, 180px);
      grid-column-gap: 20px;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 250px);
      overflow-y: scroll;

   @media screen and (min-width:1501px) and (max-width:1920px){
    height: calc(100vh - 270px);
   }
   @media screen and (min-width:1921px) and (max-width:2300px){
    height: calc(100vh - 300px);
   }
   @media screen and (min-width:2301px) and (max-width:2800px){
    height: calc(100vh - 325px);
   }
      @include xl {
        height: calc(100vh - 260px);
      }

      @include lg {
        height: calc(100vh - 250px);
      }

      @include md {
        height: calc(100vh - 250px);
        font-size: 40px;
        line-height: 48px;
        margin-bottom: px2vw-md(24px);
      }

      @include sm {
        grid-template-columns: repeat(2, 155px);
        height: calc(100vh - 250px);;
      }
    }

    &-card {
      &-imagebox {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--home-backdrak);
        cursor: pointer;
        border: 1px solid var(--header-thickgrey);
        box-sizing: border-box;
        border-radius: 8px;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;

        width: 180px;
        height: 124px;
        text-align: center;

        &-image {
          max-width: 100%;
        }

        @include sm {
          width: 155px;
        }

        &:hover {
          border: 1px solid var(--main-color);
          & + p {
            color: var(--main-color);
          }
        }
      }

      &-game {
        width: 180px;
        height: 48px;

        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;

        @include sm {
          width: 155px;
          font-size: 14px;
        }
      }
    }
  }

  .drag-vertical {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background: var(--color-background);
    width: 100%;
    max-width: 489.33px;
    height: 26.76px;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    cursor: grab;
    @include md {
      max-width: 320px;
      height: 15px;
      bottom: -14px;
      -webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
      clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: calc(100% - 1px);
      height: calc(100% + 1px);
      background: var(--color-black-medium);
    }
    span.icon {
      display: inline-block;
      position: relative;
      top: -2px;
      width: calc(100% - 1px);
      height: calc(100% + 1px);
      clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
      background-color: var(--color-background);
      @include md {
        top: -1px;
        max-width: 320px;
        height: 15px;
        -webkit-clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
        clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);
      }
      ::ng-deep svg {
        width: 18px;
        height: 6px;
        @include md {
          width: 19px;
          height: 6px;
          position: relative;
          top: -4px;
        }
      }
      ::ng-deep svg path {
        fill: var(--tolopea-medium-color);
      }
    }
  }

  .drag-vertical:active {
    cursor: grabbing;
  }

  &-logo {
    margin-right: 40px;
    &:hover .icon::ng-deep svg path {
      fill: var(--main-color);
    }
    @include md {
      margin-right: 0px;
    }
  }

  &-logo-icon {
    ::ng-deep svg {
      height: auto;
      width: 114px;

      @include md {
        width: 109px;
        height: auto;
      }

      path {
        transition: $global-transition2;
      }
    }

    &.active ::ng-deep svg path {
      fill: var(--black);
    }
  }

  &-home {
    @extend %u-dfCenterCenter;
    position: relative;
    @include lg {
      display: none;
    }

    &:hover,
    &.is-active {
      color: var(--color-primary);

      &::before {
        transform: translateX(-50%) translateY(3%);
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      content: "";
      opacity: 0;
      top: 0;
      bottom: 5px;
      left: 30%;
      width: px2vw-xl(90px);
      //   transform: translateX(-50%) translateY(100%);
      background: --active-link;
      transition: $global-transition2;

      @include lg {
        width: px2vw-lg(90px);
      }

      @include md {
        width: px2vw-md(90px);
      }

      @include sm {
        width: px2vw-sm(90px);
      }
    }
  }

  &-home-icon {
    ::ng-deep svg {
      height: px2vw-xl(17px);
      width: px2vw-xl(20px);

      @include lg {
        height: px2vw-lg(17px);
        width: px2vw-lg(20px);
      }

      @include md {
        height: px2vw-md(17px);
        width: px2vw-md(20px);
      }

      @include sm {
        height: px2vw-sm(17px);
        width: px2vw-sm(20px);
      }

      path {
        transition: $global-transition;
      }
    }
  }

  &-navigation {
    @extend %u-dfCenter;
    margin-right: auto;
    // margin-left: px2vw-xl(14px);

    @include sm {
      display: none;
    }
  }

  &-navigation-link {
    position: relative;
    margin-right: 40px;
    transition: $global-transition;
    text-align: center;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    &:hover,
    &.is-active {
      color: var(--main-color);

      // &::before {
      //   transform: translateX(-50%) translateY(3%);
      //   opacity: 1;
      // }
    }

    // &::before {
    //   position: absolute;
    //   opacity: 0;
    //   content: "";
    //   top: 0;
    //   bottom: 5px;
    //   left: 30%;
    //   width: px2vw-xl(90px);
    //   //   transform: translateX(-50%) translateY(100%);
    //   background: $--active-link;
    //   transition: $global-transition2;

    //   @include lg {
    //     width: px2vw-lg(90px);
    //   }

    //   @include md {
    //     width: px2vw-md(90px);
    //   }

    //   @include sm {
    //     width: px2vw-sm(90px);
    //   }
    // }
  }

  &-control {
    @extend %u-dfCenter;
  }

  &-toggles {
    @extend %u-dfCenter;
    margin-right: 24px;
    @include md {
      margin-right: 16px;
    }
    &.active .toggle-icon {
      color: var(--black);

      @include md {
        color: var(--main-color);
      }
    }
  }

  &-toggle {
    @extend %u-dfCenter;
    width: 24px;
    margin-right: 24px;
    background-color: transparent;

    &:last-child {
      margin-right: 0;
    }
    @include md {
      margin-right: 16px;
    }
  }

  &-toggle-icon {
    height: auto;
    width: auto;
    font-size: 24px;
    color: var(--color-white-medium);
    transition: $global-transition2;
  }

  &-buttons {
    @extend %u-dfCenter;
  }

  &-button {
    &.register {
      margin-left: px2vw-xl(8px);

      @include lg {
        margin-left: px2vw-lg(8px);
      }

      @include md {
        margin-left: px2vw-md(8px);
      }

      @include sm {
        margin-left: px2vw-sm(8px);
      }
    }
  }

  &-user {
    @extend %u-dfCenter;
    @include md {
      display: none;
    }
  }

  &-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--midnight-express-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  &-user-image-center {
    border-radius: 50%;
    background: var(--header-thickgrey);
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: px2vw-xl(120px);
    height: px2vw-xl(120px);
    margin-bottom: px2vw-xl(14px);
    padding: px2vw-xl(4px);
    border: 1px solid var(--white);
    @include lg {
      margin-bottom: px2vw-lg(14px);
      width: px2vw-lg(120px);
      height: px2vw-lg(120px);
      padding: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(14px);
      width: px2vw-md(120px);
      height: px2vw-md(120px);
      padding: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40.378368px);
      width: px2vw-sm(184.32px);
      height: px2vw-sm(184.32px);
      padding: px2vw-sm(8px);
    }
    &-edit {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      height: px2vw-xl(24px);
      background: var(--black-disabled);
      display: flex;
      align-items: center;
      color: var(--white);
      width: 100%;
      position: absolute;
      bottom: 4px;
      left: 0;

      @include lg {
        height: px2vw-lg(24px);
      }

      @include md {
        height: px2vw-md(24px);
      }

      @include sm {
        height: px2vw-sm(36.864px);
      }
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 4px solid var(--midnight-express-color);
      border-radius: 50%;
    }
  }

  &-user-arrow {
    height: auto;
    width: 12px;
    font-size: 24px;
    color: var(--home-text-link2);
    transition: $global-transition2;
    cursor: pointer;

    &.active {
      color: var(--black);
    }
  }

  &-user-menu {
    @extend %u-dfStretchStart;
    flex-direction: column;

    background: var(--header-thickgrey);

    border: 1px solid var(--header-darkgrey);
    box-sizing: border-box;

    border-radius: 8px;
    padding-bottom: px2vw-xl(8px);
    padding-top: px2vw-xl(36px);

    @include lg {
      border: 1px solid var(--header-darkgrey);
      box-sizing: border-box;

      border-radius: 8px;
      padding-bottom: px2vw-lg(8px);
      padding-top: px2vw-lg(36px);
    }

    @include md {
      border: 1px solid var(--header-darkgrey);
      box-sizing: border-box;

      border-radius: 8px;
      padding-bottom: px2vw-md(8px);
      padding-top: px2vw-md(36px);
    }

    @include sm {
      border: 1px solid var(--header-darkgrey);
      box-sizing: border-box;

      border-radius: 8px;
      padding-bottom: px2vw-sm(12.288px);
      padding-top: px2vw-sm(49.152px);
    }
  }

  &-user-points {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(8px);
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    padding: px2vw-xl(16px) px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
      padding: px2vw-lg(16px) px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      padding: px2vw-md(16px) px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      padding: px2vw-sm(16px) px2vw-sm(20px);
    }
  }

  &-user-points-title {
    margin-right: px2vw-xl(12px);
    margin-bottom: 0;
    font-family: "archivo-bold", sans-serif;
    font-size: px2vw-xl(12px);

    @include lg {
      margin-right: px2vw-lg(12px);
      font-size: px2vw-lg(12px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      font-size: px2vw-md(12px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      font-size: px2vw-sm(12px);
    }
  }

  &-user-points-info {
    @extend %u-dfCenter;
  }

  &-user-points-image {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-user-points-count {
    min-width: px2vw-xl(57px);
    font-family: "archivo-black", sans-serif;
    font-size: px2vw-xl(18px);

    @include lg {
      min-width: px2vw-lg(57px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      min-width: px2vw-md(57px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      min-width: px2vw-sm(57px);
      font-size: px2vw-sm(18px);
    }
  }

  &-user-links {
    @extend %u-dfStretchStart;
    flex-direction: column;
  }

  &-user-links-name {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: var(--header-lightwhite);
    width: 100%;
    margin: px2vw-xl(8px) 0;
    @include lg {
      margin: px2vw-lg(8px) 0;
    }

    @include md {
      margin: px2vw-md(8px) 0;
    }

    @include sm {
      margin: px2vw-sm(12.288px) 0;
    }
  }

  &-user-links-amount {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: var(--header-lightwhite);
  }

  &-user-links-walletlink {
    a {
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: var(--main-color);
    }
  }

  &-user-links-top {
    margin-bottom: px2vw-xl(35px);
    @include lg {
      margin-bottom: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(35px);
    }

    @include sm {
      margin-bottom: px2vw-sm(35px);
    }
  }

  &-user-links-bottom {
  }

  &-user-link-menutop {
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    margin-bottom: px2vw-xl(16px);
    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24.576px);
    }
  }

  &-user-link {
    @extend %u-dfCenter;

    width: 100%;
    font-family: Avenir Next;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: px2vw-xl(24px);
    padding-bottom: px2vw-xl(16px);
    @include lg {
      padding-left: px2vw-lg(24px);
      padding-bottom: px2vw-lg(16px);
    }

    @include md {
      padding-left: px2vw-md(24px);
      padding-bottom: px2vw-md(16px);
    }

    @include sm {
      padding-left: px2vw-sm(36.864px);
      padding-bottom: px2vw-sm(24.576px);
    }

    &:hover {
      &,
      .icon {
        color: var(--main-color);
      }
      span {
        color: var(--white);
      }
    }

    &.logout {
      .icon {
        color: var(--color-sunset-orange);
      }

      .text {
        transition: $global-transition;
      }

      &:hover {
        opacity: 0.75;

        .icon,
        .text {
          color: var(--color-sunset-orange);
        }
      }
    }
  }

  &-user-link-icon-block {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(16px);
    min-height: px2vw-xl(16px);
    min-width: px2vw-xl(22px);

    @include lg {
      margin-right: px2vw-lg(16px);
      min-height: px2vw-lg(16px);
      min-width: px2vw-lg(22px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      min-height: px2vw-md(16px);
      min-width: px2vw-md(22px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      min-height: px2vw-sm(16px);
      min-width: px2vw-sm(22px);
    }
  }

  &-user-link-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(22px);
    color: var(--white-medium);
    transition: $global-transition2;

    @include lg {
      font-size: px2vw-lg(22px);
    }

    @include md {
      font-size: px2vw-md(22px);
    }

    @include sm {
      font-size: px2vw-sm(22px);
    }
  }

  &-open {
    @extend %u-dfCenterCenter;
    display: none;
    background-color: transparent;

    @include md {
      display: block;
      width: 24px;
      height: 24px;
      margin: 0;
    }
  }

  &-open-icon {
    height: auto;
    width: auto;
    color: var(--color-white-medium);
    &.active {
      color: var(--main-color) !important;
    }
  }

  &-mob-menu {
    display: none;
    overflow-y: scroll;
    background-color: var(--color-background);
    background-image: url("/assets/images/bg_mob_menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;

    @include lg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      background-color: var(--color-background);
      transition: $global-transition;
    }
  }

  &-mob-container {
    @extend %u-dfStart;
    flex-direction: column;

    @include lg {
      padding: px2vw-lg(150px) px2vw-lg(40px) px2vw-lg(40px);
    }

    @include md {
      padding: px2vw-md(150px) px2vw-md(40px) px2vw-md(40px);
    }

    @include sm {
      padding: px2vw-sm(150px) px2vw-sm(40px) px2vw-sm(40px);
    }
  }

  &-mob-link {
    font-family: Avenir Next;
    color: var(--white);

    &:hover {
      color: var(--main-color);
    }

    @include lg {
      margin-bottom: px2vw-lg(40px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }

    &:last-child {
      margin-bottom: 0;

      @include md {
        margin-bottom: 4.0363269425vw;
      }

      @include sm {
        margin-bottom: 6.9444444444vw;
      }
    }
  }

  &-notification {
    border-radius: 50%;
    min-width: px2vw-xl(18px);
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);
    margin: px2vw-xl(30px) 0 px2vw-xl(20px);
    @include lg {
      margin: px2vw-lg(30px) 0 px2vw-lg(20px);
      min-width: px2vw-lg(18px);
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
    }
    @include md {
      min-width: px2vw-md(18px);
      margin: px2vw-md(30px) 0 px2vw-md(20px);
      width: px2vw-md(18px);
      height: px2vw-md(18px);
    }
    @include sm {
      min-width: px2vw-sm(18px);
      margin: px2vw-sm(30px) 0 px2vw-sm(20px);
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
    }
  }
  &-game-logo {
    margin-right: 47px;
  }
  &-game-container {
    background-color: var(--color-background);

    @include md {
      padding-top: 36px;
      padding-bottom: 20px;
      margin: 0;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
  &-game-logo-icon {
    width: 108.35px;
    height: 44.75px;
  }
  &-game-navigation-link {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: var(--white);
    position: relative;
    padding: 0;
    margin-right: 40px;
    @include md {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &-game-navigation-link.active {
    color: var(--main-color);
  }
  &-game-cards {
    // border-top: 8px solid var(--blackcurrant-color-medium);
    background-color: var(--blackcurrant-color-medium);
    padding: 0 15px;
  }
  &-game-cards swiper {
    display: none;

    @include sm {
      display: block;
    }
  }

  &-game-header {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-game-title {
    @extend %global-H5;
    margin-bottom: 0;
  }

  &-game-arrows {
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-game-arrow {
    height: auto;
    width: auto;
    font-size: px2vw-xl(28px);
    color: var(--white);
    cursor: pointer;
    user-select: none;

    @include lg {
      font-size: px2vw-lg(28px);
    }

    @include md {
      font-size: px2vw-md(28px);
    }

    @include sm {
      font-size: px2vw-sm(28px);
    }
  }

  &-game-card-image-block {
    width: 96px;
    height: 88px;
    background: var(--blackcurrant-color-medium);
    border: 1px solid var(--color-black-medium);
    box-sizing: border-box;
    border-radius: 20px;
    transition: $global-transition;

    &:hover {
      border-color: var(--white);

      .card-button {
        transform: translateY(0);
      }
    }
  }

  &-game-card-image {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--black);
    border-radius: 20px;
  }

  &-game-card-button {
    @extend %u-dfCenterBtw;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    padding: px2vw-xl(16px);
    background-color: var(--color-primary);
    transition: $global-transition;

    @include lg {
      padding: px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(16px);
    }
  }

  &-game-card-button-text {
    @extend %subtitle-2;
    text-transform: uppercase;
    color: var(--black);
  }

  &-game-card-button-icon {
    margin-left: px2vw-xl(10px);
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);

    @include lg {
      margin-left: px2vw-lg(10px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-left: px2vw-md(10px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
      font-size: px2vw-sm(24px);
    }
  }

  &-game-card-name {
    @extend %subtitle-1;
    margin-top: px2vw-xl(8px);
    margin-bottom: 0;
    cursor: default;

    @include lg {
      margin-top: px2vw-lg(8px);
    }

    @include md {
      margin-top: px2vw-md(8px);
    }

    @include sm {
      margin-top: px2vw-sm(8px);
    }
  }
  &-team-notification {
    width: 317px;
    height: 117px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px 17px;

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: var(--blackcurrant-color-medium);
    }

    &-description {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: var(--tolopea-color);
      margin-bottom: 13px;
    }

    &-btn-accept {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      background-color: var(--white);
      margin-right: 24px;
    }
    &-btn-reject {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-color);
      background-color: var(--white);
    }
  }
}

.notification {
  &-header {
    padding: 18px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: inline;
    color: var(--header-lightwhite);
  }

  &-title {
    float: left;
  }

  &-viewall {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    float: right;
    color: var(--home-text-link2);
  }

  &-content-list {
    width: 100%;
  }

  &-content {
    padding: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    border-bottom: 1px solid var(--header-darkgrey);
  }

  &-img {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-top: 6px;
    margin-right: 8px;
  }

  &-msg {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
    width: 242px;
  }

  &-time {
    font-size: 14px;
    line-height: 20px;
    color: var(--tolopea-color);
  }
}

.Footer-container-text_link {
  color: var(--main-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: block;
}
.cursor {
  cursor: pointer;
}
.Header-toggles.active {
  display: none;
}

.login-button {
  text-align: right;
}
img.Footer-social-link-icon {
  @include sm {
    width: auto;
    height: px2vw-sm(100px);
  }
}
