<header class="Header">
  <div class="Header-container">
    <div class="Header-wrapper">
      <div class="Header-inner">
        <div class="Header-item Header-left">
          <a class="Header-logo" [routerLink]="AppHtmlRoutes.home">
            <div class="Header-logo-icon icon" inlineSVG="assets/global-images/Logo-Spark_white.svg"></div>
            <!-- <div class="Header-beta-icon icon" [class.active]="mobMenuOpened" inlineSVG="assets/global-images/BETA.svg"></div> -->
          </a>

          <!--<a
            class="Header-home"
            [routerLink]="AppHtmlRoutes.home"
            routerLinkActive="is-active"
          >
             <div
              class="Header-home-icon home-icon"
              inlineSVG="assets/icons/header/home.svg"
            ></div>
            {{ "Home" | translate }}
          </a>-->

          <nav class="Header-navigation" *ngIf="isBrowser">
            <ng-container *ngFor="let item of navigation">
              <a class="Header-navigation-link" [routerLink]="item.url" routerLinkActive="is-active">
                {{ item.title | translate }}
              </a>

              <!-- <a routerLink="/about-us" routerLinkActive="is-active">About</a> -->
            </ng-container>
          </nav>
        </div>
        <div class="Header-item Header-center mb-hide">
          <div class="wap-search">
            <div class="form-group">
              <app-search-input></app-search-input>
            </div>
          </div>
        </div>
        <div class="Header-item Header-right">
          <div class="Header-control" *ngIf="isBrowser">
            <div class="Header-toggles" *ngIf="isUserLoggedIn" [class.active]="mobMenuOpened">
              <!-- Search -->
              <button class="Header-toggle mb-show" [routerLink]="AppHtmlRoutes.search">
                <!-- <mat-icon class="Header-toggle-icon toggle-icon search">
                  search
                </mat-icon> -->
                <span class="Header-toggle-icon toggle-icon" inlineSVG="assets/icons/header/Search.svg"></span>
              </button>

              <!-- Chat -->
              <ng-container *ngIf="isUserLoggedIn">
                <button class="Header-toggle" (click)="onChatSidenavToggle()">
                  <!-- <mat-icon class="Header-toggle-icon toggle-icon">
                    chat_bubble_outline
                  </mat-icon> -->
                  <span class="Header-toggle-icon toggle-icon" inlineSVG="assets/icons/header/Help.svg"></span>
                </button>
              </ng-container>

              <!-- Notification -->
              <ng-container *ngIf="isUserLoggedIn">
                <!--  <button class="Header-toggle">
                   <mat-icon class="Header-toggle-icon toggle-icon">
                    notifications_none
                  </mat-icon>

                  <mat-icon class="Header-toggle-icon" [matMenuTriggerFor]="userMenu">
                   {{ "MAT_ICONS.NOTIFICATION" | translate }}
                  </mat-icon>

                  <mat-menu class="global-MatMenu is-user" #userMenu="matMenu" xPosition="before">
                    <div class="notification Header-user-menu">
                      <div class="notification-header">
                        <div class="notification-title">{{ "HOME.TITLE.NOTIFICATIONS" | translate }} (13)</div>
                        <a routerLink="/notification" class="notification-viewall">{{ "BUTTON.VIEW_ALL" | translate
                          }}</a>
                      </div>
                      <div class="notification-content-list">
                        <div class="notification-content">
                          <div class="notification-img">
                            <div class="Header-user-image"
                              style="background-image: url('https://paidia-image.s3.ca-central-1.amazonaws.com/prod/avatar/1631780652100.png');">
                            </div>
                          </div>
                          <div class="notification-info">
                            <div class="notification-msg"> {{ "MAT_ICONS.FRIEND_REQUEST" | translate }}</div>
                            <div class="notification-time"> {{ "MAT_ICONS.FEW_SEC" | translate }}</div>
                          </div>

                        </div>
                      </div>


                      <header class="Header-user-points">
                    <p class="Header-user-points-title">My Points :</p>

                    <div class="Header-user-points-info">
                      <img class="Header-user-points-image" src="assets/icons/header/user/points-icon.svg" alt="icon" />
                      <div class="Header-user-points-count">2750</div>
                    </div>
                  </header>

                      <div class="Header-user-links">
                        <div class="Header-user-links-top">
                         <ng-container *ngFor="let link of userLinks">
                        <a class="Header-user-link" [routerLink]="link.url">

                          <span class="Header-user-link-text">
                            Notifications
                          </span>
                        </a>
                         </ng-container>
                          <h6 style="text-align: center">Notifications</h6>
                        </div>

                        <div class="Header-user-links-bottom">


                          <span class="Header-user-link-text text" style="text-align: center">
                            No Notifications</span>
                        </div>
                      </div>
                    </div>
                  </mat-menu>
                </button>-->
              </ng-container>
            </div>

            <!-- Login, Register buttons -->
            <ng-container *ngIf="!isUserLoggedIn">
              <div class="Header-buttons">
                <a class="login-button" [routerLink]="[
                    AppHtmlRoutes.userPageType,
                    AppHtmlRoutesLoginType.emailLogin
                  ]">
                  {{ "BUTTON.LOGIN" | translate }}
                </a>
                <span>/</span>
                <a class="signup-button" [routerLink]="[
                    AppHtmlRoutes.userPageType,
                    AppHtmlRoutesLoginType.registration
                  ]">
                  {{ "BUTTON.JOIN_NOW" | translate }}
                </a>
              </div>
            </ng-container>

            <div class="Header-user" *ngIf="isUserLoggedIn" [matMenuTriggerFor]="userMenu">
              <div *ngIf="currentUser?.profilePicture" class="Header-user-image"
                [lazyLoad]="currentUser.profilePicture"></div>

              <div *ngIf="!currentUser?.profilePicture" class="Header-user-image"
                lazyLoad="assets/images/Home/sparkavatar.png"></div>

              <mat-icon class="Header-user-arrow" [matMenuTriggerFor]="userMenu" [class.active]="mobMenuOpened"
                (click)="closeChat()">
                {{ "MAT_ICONS.EXPAND_MORE" | translate }}
              </mat-icon>

              <mat-menu class="global-MatMenu is-user" #userMenu="matMenu" xPosition="before">
                <div class="Header-user-menu">
                  <!-- <header class="Header-user-points">
                    <p class="Header-user-points-title">My Points :</p>

                    <div class="Header-user-points-info">
                      <img class="Header-user-points-image" src="assets/icons/header/user/points-icon.svg" alt="icon" />
                      <div class="Header-user-points-count">2750</div>
                    </div>
                  </header> -->

                  <div class="Header-user-links">
                    <div class="Header-user-links-top d-flex flex-column align-items-center">
                      <div *ngIf="currentUser?.profilePicture" class="Header-user-image-center"
                        [lazyLoad]="currentUser?.profilePicture">
                        <div (click)="file.click()" class="justify-content-center Header-user-image-center-edit cursor">
                          {{ "HOME.BUTTON.EDIT" | translate }}
                        </div>
                        <input type="file" accept="image/x-png,image/jpeg" #file (change)="fileChangeEvent($event)"
                          hidden />
                      </div>

                      <div *ngIf="!currentUser?.profilePicture" class="Header-user-image-center"
                        lazyLoad="assets/images/Home/sparkavatar.png"></div>

                      <div class="Header-user-links-name">
                        {{ currentUser?.username }}
                      </div>
                      <!-- <div class="Header-user-links-amount">20$</div> -->
                      <div class="Header-user-links-walletlink">
                        <a [routerLink]="AppHtmlWalletRoutes.wallet">
                          {{ "HOME.BUTTON.TOPUPWALLET" | translate }}</a>
                      </div>
                    </div>

                    <div class="Header-user-links-bottom">
                      <div class="Header-user-link-menutop">
                        <ng-container *ngFor="let link of userLinks">
                          <a class="Header-user-link" [routerLink]="link.url">
                            <div class="Header-user-link-icon-block">
                              <mat-icon class="Header-user-link-icon icon">
                                {{ link.icon }}
                              </mat-icon>
                            </div>
                            <span class="Header-user-link-text">
                              {{ link.title }}
                            </span>
                          </a>
                        </ng-container>
                      </div>
                      <a class="Header-user-link" (click)="openSettingsLightbox()"
                        [routerLink]="'/account_settings/gameAccounts'">
                        <div class="Header-user-link-icon-block">
                          <mat-icon class="Header-user-link-icon icon">
                            {{ "MAT_ICONS.SETTINGS" | translate }}
                          </mat-icon>
                        </div>
                        <span class="Header-user-link-text">
                          {{ "ACCOUNT_SETTINGS.MENU.ACCOUNT" | translate }}
                        </span>
                      </a>
                      <a *ngIf="currentUser && isAdmin" [routerLink]="'/admin/esports-management'"
                        class="Header-user-link">
                        <div class="Header-user-link-icon-block">
                          <mat-icon class="Header-user-link-icon icon">
                            settings_applications
                          </mat-icon>
                        </div>
                        <span class="Header-user-link-text">
                          {{ "HEADER.ADMIN" | translate }}
                        </span>
                      </a>
                      <!-- <a class="Header-user-link" (click)="openSettingsLightbox(4)">
                        <div class="Header-user-link-icon-block">
                          <mat-icon class="Header-user-link-icon icon">
                            {{ "MAT_ICONS.TAG_FACES" | translate }}
                          </mat-icon>
                        </div>
                        <span class="Header-user-link-text"> {{ 'HOME.ASIDE.SHORTCUTS.REFER' | translate }} </span>
                      </a> -->
                      <a class="Header-user-link logout" (click)="onLogOut()">
                        <div class="Header-user-link-icon-block">
                          <mat-icon class="Header-user-link-icon icon">
                            {{ "MAT_ICONS.EXIT_TO_APP" | translate }}
                          </mat-icon>
                        </div>
                        <span class="Header-user-link-text text">
                          {{ "BUTTON.LOGOUT" | translate }}
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </div>
            <label *ngIf="mobMenuOpened" class="Header-labels" (click)="mobMenuOpened = !mobMenuOpened; onScrollBody()">
              {{ "HEADER.CLOSE" | translate }}</label>
            <button *ngIf="isUserLoggedIn" class="Header-open" (click)="mobMenuOpened = !mobMenuOpened; onScrollBody()"
              [attr.aria-expanded]="!mobMenuOpened">
              <mat-icon class="Header-open-icon" [class.active]="mobMenuOpened">
                {{ mobMenuOpened ? "close" : "menu" }}
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="gameListShow && gameList && gameList.length" class="games-container">
    <div *ngIf="gameListShow && gameList && gameList.length" class="gameList-title">
      <div>
        {{ "HOME.TITLE.BROWSEBYGAMES" | translate }}
      </div>
    </div>
    <div class="Games-cards" *ngIf="gameListShow && gameList && gameList.length">
      <div class="Games-card" *ngFor="let game of gameList; let i = index"
        [routerLink]="[AppHtmlOverviewRoutes.overview]" (click)="onselectedGame(game?._id)">
        <div class="Games-card-imagebox">
          <img height="80" class="Games-card-imagebox-image"
            [src]="game.logo ? game.logo : './assets/images/Home/top1.png'" alt="image" />
        </div>
        <p class="Games-card-game global-Elipses">
          {{ game.name }}
        </p>
      </div>
    </div>
  </div>

  <div class="drag-vertical" (click)="gameListShow = !gameListShow">
    <span class="icon" inlineSVG="assets/icons/header/Vector-touch.svg"> </span>
  </div>
</header>

<div class="Header-mob-menu" [isAnimated]="true" [collapse]="!mobMenuOpened">
  <nav class="Header-mob-container d-flex flex-column align-items-center justify-content-between h-100">
    <!--<button class="Header-open" (click)="mobMenuOpened = !mobMenuOpened; onScrollBody()"
      [attr.aria-expanded]="!mobMenuOpened">
      <mat-icon class="Header-open-icon" [class.active]="mobMenuOpened">
        {{ mobMenuOpened ? "close" : "menu" }}
      </mat-icon>
    </button>-->
    <div class="Header-center my-3">
      <div class="wap-search">
        <div class="form-group">
          <app-search-input></app-search-input>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center m-auto py-5">
      <a class="Header-mob-link" [routerLink]="AppHtmlRoutes.home" routerLinkActive="is-active">{{ "BUTTON.HOME" |
        translate }}</a>
      <ng-container *ngFor="let item of navigation">
        <a class="Header-mob-link" (click)="mobMenuOpened = !mobMenuOpened; onScrollBody()" [routerLink]="item.url"
          routerLinkActive="is-active">
          {{ item.title | translate }}
        </a>
      </ng-container>
      <a class="Header-mob-link" *ngIf="isUserLoggedIn" (click)="mobMenuOpened = !mobMenuOpened; onScrollBody()"
        [routerLink]="AppHtmlRoutes.profile">{{ "BUTTON.USERPROFILE" | translate }}</a>
      <a class="Header-mob-link" *ngIf="isUserLoggedIn" (click)="mobMenuOpened = !mobMenuOpened; onScrollBody()">{{
        "BUTTON.USERACCOUNT" | translate }}</a>
      <a class="Header-mob-link" (click)="onLogOut()" *ngIf="isUserLoggedIn">{{
        "BUTTON.LOGOUT" | translate
        }}</a>
    </div>
    <footer class="Footer">
      <div class="Footer-container u-wp p-0">
        <div class="Footer-social mb-4 text-center">
          <div class="Footer-social-links">
            <a class="Footer-social-link" *ngFor="let social of socials" [href]="social.link">
              <img class="Footer-social-link-icon" [lazyLoad]="social.icon" alt="social icon" />
            </a>
          </div>
        </div>
        <div class="Footer-info mb-4">
          <h4 class="Footer-info-title text-center">
            {{ "FOOTER.COPYRIGHT" | translate }}
          </h4>
        </div>
        <a href="#" class="Footer-container-text_link">{{
          "FOOTER.INVITEFRIEND" | translate
          }}</a>
      </div>
    </footer>
  </nav>
</div>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>