@import "shared";

h1 {
  color: var(--white-high);
  text-align: center;
}


::ng-deep {
  esports-lader-standing {
    .Ladder-standing {
      &-wrapper {
        @include lg {
          width: 1024px;
        }

        @include sm {
          width: 768px;
        }
      }

      overflow-y: auto;
      &-pI {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 25px;
      }

      &-body {
        & tr {
          line-height: 45px;
          border-bottom: 1px solid var(--ui-light-grey);
          color: var(--base-black-pearl);

          &:hover {
            cursor: pointer;
          }
        }
        &-participant{
          max-width: 140px;
          word-break: break-all;
          line-height: normal;
        }
      }

      &-no-data {
        color: var(--ui-nobel);
        text-align: center;
      }

      &-disq {
        background-color: var(--ui-disqualified);
      }

      .Ladder-standing-body-participant {
        display: inline-grid;
        grid-template-columns: 80px 80px;
        align-items: center;
      }
      .text-capitalize{
        width:100px;
      }
    }

    .table thead th {
      color: var(--white);
  }
  table th, .table td {
    color:  var(--white);
}
  }
}
