<!-- <div class="MatchesTable" >
  <ng-container *ngFor="let item of object.docs">
    <app-match-card [data]="item" [isEditable]="true"></app-match-card>
  </ng-container>

  <div class="MatchesTable-pagination">
    <mat-paginator
      [length]="object.length"
      [pageSize]="matchesPerPage[0]"
      [pageSizeOptions]="matchesPerPage"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div> -->
<div class="MatchesTable">
  <ng-container *ngFor="let item of slicesMatches;let i=index">
    <app-match-card [data]="item" [index]="i" [isEditable]="true"></app-match-card>
  </ng-container>

  <div  class="MatchesTable-pagination">
    <mat-paginator [length]="matches.length" [pageSize]="matchesPerPage[0]" [pageSizeOptions]="matchesPerPage"
      (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>

