%global-Title,
.global-Title {
  font-size: px2vw-xl(50px);
  font-family: "stc-forward-bold", sans-serif;
  letter-spacing: 0.25px;
  color: var(--base-black-pearl);

  @include lg {
    font-size: px2vw-lg(50px);
  }

  @include md {
    font-size: px2vw-md(50px);
  }

  @include sm {
    font-size: px2vw-sm(50px);
  }

  &.underlined {
    display: inline-block;
    border-bottom: 5px solid var(--primary-cinnabar);
  }
}

%global-Title2,
.global-Title2 {
  font-family: "stc-forward-bold", sans-serif;
  font-size: px2vw-xl(40px);
  line-height: px2vw-xl(56px);
  letter-spacing: 0.25px;
  color: var(--base-black-pearl);

  @include lg {
    font-size: px2vw-lg(40px);
    line-height: px2vw-lg(56px);
  }

  @include md {
    font-size: px2vw-md(40px);
    line-height: px2vw-md(56px);
  }

  @include sm {
    font-size: px2vw-sm(40px);
    line-height: px2vw-sm(56px);
  }

  &.underlined {
    display: inline-block;
    border-bottom: 5px solid var(--ui-error);
  }
}

%global-Title3,
.global-Title3 {
  font-family: "stc-forward-medium", sans-serif;
  font-size: px2vw-xl(24px);
  line-height: px2vw-xl(32px);
  color: var(--base-black-pearl);

  @include lg {
    font-size: px2vw-lg(24px);
    line-height: px2vw-lg(56px);
  }

  @include md {
    font-size: px2vw-md(24px);
    line-height: px2vw-md(32px);
  }

  @include sm {
    font-size: px2vw-sm(24px);
    line-height: px2vw-sm(32px);
  }
}

%global-Title4,
.global-Title4 {
  font-family: "stc-forward-bold", sans-serif;
  font-size: px2vw-xl(32px);
  line-height: px2vw-xl(48px);
  color: var(--base-black-pearl);

  @include lg {
    font-size: px2vw-lg(32px);
    line-height: px2vw-lg(48px);
  }

  @include md {
    font-size: px2vw-md(32px);
    line-height: px2vw-md(48px);
  }

  @include sm {
    font-size: px2vw-sm(32px);
    line-height: px2vw-sm(48px);
  }
}

%global-SubTitle,
.global-SubTitle {
  font-family: "stc-forward-medium", sans-serif;
  font-size: px2vw-xl(40px);
  line-height: px2vw-xl(52px);
  color: var(--base-black-pearl);

  @include lg {
    font-size: px2vw-lg(40px);
    line-height: px2vw-lg(52px);
  }

  @include md {
    font-size: px2vw-md(40px);
    line-height: px2vw-md(52px);
  }

  @include sm {
    font-size: px2vw-sm(40px);
    line-height: px2vw-sm(52px);
  }
}

%global-Text,
.global-Text {
  font-family: "stc-forward-regular", sans-serif;
  font-size: px2vw-xl(18px);
  line-height: px2vw-xl(24px);
  font-weight: normal;
  color: var(--base-submarine);

  @include lg {
    font-size: px2vw-lg(18px);
    line-height: px2vw-lg(24px);
  }

  @include md {
    font-size: px2vw-md(18px);
    line-height: px2vw-md(24px);
  }

  @include sm {
    font-size: px2vw-sm(18px);
    line-height: px2vw-sm(24px);
  }
}

%global-Text2,
.global-Text2 {
  font-family: "stc-forward-regular", sans-serif;
  font-size: px2vw-xl(16px);
  line-height: px2vw-xl(32px);

  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(32px);
  }

  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(32px);
  }

  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(32px);
  }
}

%Profile-title,
.Profile-title {
  @extend %global-Title;
  margin-bottom: px2vw-xl(40px);

  @include lg {
    margin-bottom: px2vw-lg(40px);
  }

  @include md {
    margin-bottom: px2vw-md(40px);
  }

  @include sm {
    margin-bottom: px2vw-sm(40px);
  }
}

.global-Elipses {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.global-Elipses2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.global-Elipses3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.global-Elipses4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.global-Elipses5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
