@import "shared";

:host {
  display: block;
}

.VerificationForm {
  width: 100%;
  padding: 35px;
  text-align: center;
  .submitt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 16px 32px;
    border-radius: 6px;
    @include sm {
      padding: 11px 32px;
    }
    span {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #bababa;
      text-transform: none;
    }
  }

  &-title {
    @extend %global-H3;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(45px);

    @include lg {
      margin-bottom: px2vw-lg(45px);
    }

    @include md {
      margin-bottom: px2vw-md(45px);
    }

    @include sm {
      margin-bottom: px2vw-sm(45px);
    }
  }

  &-input {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-input-number {
    ::ng-deep input {
      border: 1px solid var(--color-primary);
      border-radius: 0;
      background-color: var(--black);
      color: var(--white-high);
    }
  }

  &-error {
    margin-bottom: px2vw-xl(28px);
    color: var(--color-tertiary);

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }

  &-expires {
    margin-bottom: px2vw-xl(80px);

    @include lg {
      margin-bottom: px2vw-lg(80px);
    }

    @include md {
      margin-bottom: px2vw-md(80px);
    }

    @include sm {
      margin-bottom: px2vw-sm(80px);
    }
  }

  &-footer {
    @extend %u-dfCenterCenter;

    margin-top: px2vw-xl(20px);

    @include lg {
      margin-top: px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(20px);
    }

    @include sm {
      margin-top: px2vw-sm(20px);
    }
  }

  &-footer-text {
    margin-right: px2vw-xl(11px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }
  }

  &-footer-link {
    color: var(--color-primary);
  }
}
