<app-manageteam-header></app-manageteam-header>
<form [formGroup]="form" autocomplete="off">
  <div class="EditTeam">
    <div class="EditTeam-container">
      <main class="EditTeam-main">
        <h1 class="EditTeam-title">
          {{ "MANAGE_TEAM.EDIT_TEAM.TITLE" | translate }}
        </h1>
        <div class="EditTeam-Appearance">
          <h3 class="EditTeam-form-input-subtitle">
            {{ "MANAGE_TEAM.EDIT_TEAM.APPEARANCE.TITLE" | translate }}
          </h3>
          <div class="form-field-item form-field-file">
            <div class="form-field-label">
              <label class="form-label">
                {{
                "MANAGE_TEAM.EDIT_TEAM.APPEARANCE.LABEL_BANNER_IMAGE"
                | translate
                }}
              </label>
              <span class="optional">
                {{
                "CREATE_TOURNAMENT.TOURNAMENT_NAME.OPTIONAL_BASIC_DETAILS.OPTIONAL"
                | translate
                }}
              </span>
            </div>
            <div class="input-group-file">
              <div class="box-input-file">
                <input
                  type="file"
                  name="TournamentNameFile"
                  id="TournamentNameFile"
                  class="form-file"
                  accept="image/x-png,image/jpeg,image/jpg"
                  (change)="handleFileInputBanner($event.target.files)"
                  #file
                />
                <span
                  class="form-file-btn"
                  [ngClass]="{
                    activeinputfile: toggleInputFileBanner
                  }"
                >
                  {{
                  checkFileNameBanner ? fileToUploadBanner.name : "File name"
                  }}</span>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="file.click()">
                  {{
                  "CREATE_TOURNAMENT.TOURNAMENT_NAME.OPTIONAL_BASIC_DETAILS.BUTTON"
                  | translate
                  }}
                </button>
              </div>
              <span class="notice">
                {{
                "CREATE_TOURNAMENT.DETAILS.FIELDS.IMAGE.NOTICE2" | translate
                }}
              </span>
            </div>
            <!--<div class="image-demo">
                <div class="box-image">
                  <img [lazyLoad]="(teamBannerSRCFile ? teamBannerSRCFile : teamData?.teamBanner)" alt="" />
                </div>
            </div>-->
          </div>
        </div>

        <!--<div
          class="fileinput Profile-photo fileinput-new"
          data-provides="fileinput"
        >
          <div>
            <div
              class="
                thumbnail
                fileinput-new
                Profile-photo-image-block Profile-photo-image
              "
              style="width: 150px; height: 150px"
            >
              <img
                [src]="
                  editImageUrl
                    ? editImageUrl
                    : 'assets/images/Home/avatar-prelogin.png'
                "
                alt=""
              />
            </div>
            <div
              class="
                fileinput-preview fileinput-exists
                thumbnail
                Profile-photo-image-block Profile-photo-image
              "
              style="width: 150px; height: 150px"
            ></div>
          </div>
          <div class="Profile-photo-manage">
            <div class="Profile-photo-buttons">
              <div class="Profile-photo-button btn-file">
                <button class="fileinput-new button-primary">
                  {{ "BUTTON.UPLOAD_NEW_AVATAR" | translate }}
                </button>
                 <span class="fileinput-exists button-primary">Change</span> -->
        <!-- <input
                  accept="image/x-png,image/jpeg"
                  (change)="fileChangeEvent($event)"
                  type="file"
                  file-model="myFile"
                />
              </div>
              <button
                (click)="removeFile()"
                class="fileinput-exists Profile-photo-button button-secondary"
                data-dismiss="fileinput"
              >
                {{ "BUTTON.DELETE" | translate }}
              </button>
            </div>
            <button (click)="removeFile()" class="Profile-photo-reset  fileinput-exists global-link">
            {{ "BUTTON.USE_DEFAULT_AVATAR" | translate }}
          </button> 
          </div>
        </div>-->

        <!-- <h2 class="EditTeam-form-input-title">
          {{ "CREATE_TEAM.DETAILS.TITLE" | translate | uppercase }}
        </h2> -->
        <div class="EditTeam-About-your-team">
          <h3 class="EditTeam-form-input-subtitle">
            {{ "MANAGE_TEAM.EDIT_TEAM.ABOUT_YOUR_TEAM.TITLE" | translate }}
          </h3>

          <div class="EditTeam-form-fields form-group">
            <div class="EditTeam-form-field form-field-item">
              <div class="form-field-label">
                <label for="" class="form-label">{{
                  "MANAGE_TEAM.EDIT_TEAM.ABOUT_YOUR_TEAM.LABEL_TEAM_NAME"
                  | translate
                  }}</label>
                <span class="optional">
                  {{
                  "CREATE_TOURNAMENT.TOURNAMENT_NAME.OPTIONAL_BASIC_DETAILS.OPTIONAL"
                  | translate
                  }}
                </span>
              </div>
              <div class="input-group">
                <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
                  <!-- <mat-label> Enter team name </mat-label> -->
                  <input class="form-field" matInput placeholder="{{
                      'MANAGE_TEAM.EDIT_TEAM.ABOUT_YOUR_TEAM.PLACEHODER_TEAM_NAME'
                        | translate
                    }}"
                    formControlName="teamName"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="EditTeam-form-fields form-group">
            <div class="EditTeam-form-field form-field-item">
              <div class="form-field-label">
                <label for="" class="form-label">{{
                  "MANAGE_TEAM.EDIT_TEAM.ABOUT_YOUR_TEAM.LABEL_TEAM_DESCRIPTION"
                  | translate
                  }}</label>
                <span class="optional">
                  {{
                  "CREATE_TOURNAMENT.TOURNAMENT_NAME.OPTIONAL_BASIC_DETAILS.OPTIONAL"
                  | translate
                  }}
                </span>
              </div>
              <div class="input-group">
                <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
                  <!-- <mat-label> Short bio </mat-label> -->
                  <textarea class="form-field" matInput row="2" placeholder="{{
                      'MANAGE_TEAM.EDIT_TEAM.ABOUT_YOUR_TEAM.PLACEHODER_TEAM_DESCRIPTION'
                        | translate
                    }}"
                    formControlName="shortDescription"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="EditTeam-Social-media">
          <!-- <h2 class="EditTeam-form-input-title">
            {{ "CREATE_TEAM.SOCIAL_MEADIA.TITLE" | translate }}
          </h2> -->

          <h3 class="EditTeam-form-input-subtitle">
            {{ "MANAGE_TEAM.EDIT_TEAM.SOCIAL_MEDIA.TITLE" | translate }}
          </h3>
          <div class="EditTeam-Add-social-media">
            <div class="form-field-item">
              <h4 class="title">
                {{
                "MANAGE_TEAM.EDIT_TEAM.SOCIAL_MEDIA.ADD_SOCIAL_MEDIA"
                | translate
                }}
              </h4>
              <div ngbDropdown class="Select-teamDropdown">
                <button class="btn Select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                  {{
                  selectedSpecial === "" ? "Select social media platform" : selectedSpecial
                  }}
                </button>
                <div class="form-field-btn">
                  <button type="button" class="btn button-default" (click)="onAddPlatform()" [disabled]="!selectedSpecial ? 'disabled': null"  [ngClass]="{'disabled': !selectedSpecial}">
                    {{ "VIDEO.FORM.ADD_PLATFORM" | translate }}
                  </button>
                </div>
                <div
                  class="Select-teamDropdownItem"
                  ngbDropdownMenu
                  aria-labelledby="dropdownBasic1"
                >
                  <button ngbDropdownItem *ngFor="let special of specialList" (click)="onToggleChangeSpecial(special)">
                    {{ special.label }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--<app-social-accounts [listData]="listData"></app-social-accounts>-->
          <div class="SocialAccounts">
            <div class="SocialAccounts-list">
              <ng-container *ngFor="let account of listData; let i=index">
                <app-account-item [data]="account" (removesocialmedia)="removeSocial($event,i)" (modalChange)="updateSocial($event,account)"></app-account-item>
              </ng-container>
            </div>
          </div>
          <!-- <button class="EditTeam-form-sm-item-button">
            <mat-icon class="EditTeam-form-sm-item-button-icon"> add </mat-icon>
            {{ "ACCOUNT_SETTINGS.PASSWORDS.FORM.EMAIL.BUTTON" | translate }}
          </button> -->
        </div>

        <div class="Accounts-manage">
          <button
            class="Accounts-manage-button button-secondary Accounts-manage-button-cancel" (click)="actionCancel();">
            {{ "BUTTON.CANCEL" | translate }}
          </button>
          <button class="Accounts-manage-button button-primary Accounts-manage-button-save" type="submit" (click)="updateTeam();">
            {{ "BUTTON.SAVE_CHANGES" | translate }}
          </button>
        </div>
      </main>
    </div>
  </div>
</form>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
