<section class="PrivacyPolicy u-wp">
  <!-- <button (click)="goBack()" class="btn PrivacyPolicy-back">
    <img src="./assets/icons/arrow.svg" alt="" />
    {{ "PRIVACY_POLICY.BACK" | translate }}
  </button> -->

  <h3
    [ngClass]="
      arebicText ? 'global-H2 mb-4 mt-5 rtl-text' : 'global-H2 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.HEAD" | translate }}
  </h3>

  <div [ngClass]="arebicText ? 'rtl-text' : ''">
    <p>{{ "PRIVACY_POLICY.DESC1" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC2" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC3" | translate }}</p>
  </div>

  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE2" | translate }}
  </h3>
  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC4" | translate }}
  </p>

  <ul [ngClass]="arebicText ? 'rtl-text' : ''">
    <li>{{ "PRIVACY_POLICY.DESC5" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC6" | translate }}</li>
  </ul>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC7" | translate }}
  </p>

  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE3" | translate }}
  </h3>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC8" | translate }}
  </p>

  <ul [ngClass]="arebicText ? 'rtl-text' : ''">
    <li>{{ "PRIVACY_POLICY.DESC9" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC10" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC11" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC12" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC13" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC14" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC15" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC16" | translate }}</li>
  </ul>

  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE4" | translate }}
  </h3>

  <div [ngClass]="arebicText ? 'rtl-text' : ''">
    <p>{{ "PRIVACY_POLICY.DESC17" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC18" | translate }}</p>
  </div>

  <ul [ngClass]="arebicText ? 'rtl-text' : ''">
    <li>{{ "PRIVACY_POLICY.DESC19" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC20" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC21" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC22" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC23" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC24" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC25" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC26" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC27" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC28" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC29" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC30" | translate }}</li>
  </ul>

  <div [ngClass]="arebicText ? 'rtl-text' : ''">
    <p>{{ "PRIVACY_POLICY.DESC31" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC32" | translate }}</p>
  </div>

  <ul [ngClass]="arebicText ? 'rtl-text' : ''">
    <li>{{ "PRIVACY_POLICY.DESC33" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC34" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC35" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC36" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC37" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC38" | translate }}</li>
  </ul>
  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE5" | translate }}
  </h3>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC39" | translate }}
    <a href="mailto:unsubscribe@Paidia.gg">{{
      "FOOTER_LINKS.LINK_5" | translate
    }}</a>
    {{ "PRIVACY_POLICY.DESC40" | translate }}
  </p>
  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE6" | translate }}
  </h3>
  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC42" | translate }}
    <a href="mailto:support@Paidia.gg">{{
      "FOOTER_LINKS.LINK_4" | translate
    }}</a
    >.
  </p>

  <ul [ngClass]="arebicText ? 'rtl-text' : ''">
    <li>{{ "PRIVACY_POLICY.DESC43" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC44" | translate }}</li>
  </ul>

  <div [ngClass]="arebicText ? 'rtl-text' : ''">
    <p>{{ "PRIVACY_POLICY.DESC45" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC46" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC47" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC48" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC49" | translate }}</p>
  </div>

  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE7" | translate }}
  </h3>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC51" | translate }}
  </p>

  <ul [ngClass]="arebicText ? 'rtl-text' : ''">
    <li>{{ "PRIVACY_POLICY.DESC52" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC53" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC54" | translate }}</li>
  </ul>

  <div [ngClass]="arebicText ? 'rtl-text' : ''">
    <p>{{ "PRIVACY_POLICY.DESC55" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC56" | translate }}</p>
    <p>{{ "PRIVACY_POLICY.DESC57" | translate }}</p>
  </div>

  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE8" | translate }}
  </h3>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC58" | translate }}
  </p>

  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE9" | translate }}
  </h3>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC59" | translate }}
    <a href="mailto:support@Paidia.gg">{{
      "FOOTER_LINKS.LINK_4" | translate
    }}</a
    >.
  </p>

  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE10" | translate }}
  </h3>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC60" | translate }}
  </p>

  <h3
    [ngClass]="
      arebicText ? 'global-H3 mb-4 mt-5 rtl-text' : 'global-H3 mb-4 mt-5'
    "
  >
    {{ "PRIVACY_POLICY.TITLE11" | translate }}
  </h3>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC62" | translate }}
  </p>

  <ul [ngClass]="arebicText ? 'rtl-text' : ''">
    <li>{{ "PRIVACY_POLICY.DESC63" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC64" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC65" | translate }}</li>
    <li>{{ "PRIVACY_POLICY.DESC66" | translate }}</li>
  </ul>

  <p [ngClass]="arebicText ? 'rtl-text' : ''">
    {{ "PRIVACY_POLICY.DESC67" | translate }}
    <a href="mailto:support@Paidia.gg">
      {{ "FOOTER_LINKS.LINK_4" | translate }} </a
    >.
  </p>
</section>
