<div class="TournamentAdvDetails">
  <div class="full-container header">
    <div class="TournamentAdvDetails-main header">
      <div class="TournamentAdvDetails-header">
        <h1 class="TournamentAdvDetails-header-title global-Elipses">
          {{ "CREATE_TOURNAMENT.DETAILS.TITLE" | translate }}
        </h1>
        <div class="TournamentAdvDetails-aside">
          <div class="TournamentAdvDetails-aside-image">
            <app-tournament-image [customFormGroup]="Step7" [customFormControlName]="'teamLogo'"
              [dimension]="{ width: 1000, height: 1000 }" [id]="'LOGO'" [size]="1534 * 750"
              (imgurltosave)="datatoimg($event)"></app-tournament-image>
            <div class="TournamentPrice">
              <div class="TournamentPrice-box">
                <h4 class="TournamentPrice-title">Total prize pool amount</h4>
                <div class="TournamentPrice-box-price">{{ Step7?.value?.isPaid.id==2 ? '$0' : (
                  Step7?.value?.isPaid.id==1 ? '$150' : ('$'+(Step7.value.waggerPoolDetails.prizeAmount ?
                  Step7.value.waggerPoolDetails.prizeAmount : '0'))) }}</div>
              </div>
            </div>
          </div>
          <div class="TournamentAdvDetails-aside-fields">
            <div class="TournamentAdvDetails-aside-fields-header">
              <h2 class="TournamentAdvDetails-aside-fields-header-title">
                {{ Step7?.value?.name }}
              </h2>
            </div>
            <div class="TournamentAdvDetails-aside-fields-detail">
              <div class="TournamentAdvDetails-aside-fields-detail-info">
                <div class="TournamentAdvDetails-aside-fields-detail-info-box">
                  <div class="
                      TournamentAdvDetails-aside-fields-detail-info-box-left
                    ">
                    <div class="TournamentAdvDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_GAME"
                        | translate
                        }}</span>
                      <span class="text-detail">{{ currentGame }} </span>
                    </div>
                    <div class="TournamentAdvDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_PLATFORM"
                        | translate
                        }}</span>
                      <span class="text-detail">{{ currentPlatform }} </span>
                    </div>
                    <div class="TournamentAdvDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_PARTICIPANTS"
                        | translate
                        }}</span>
                      <span class="text-detail">{{Step7?.value?.noOfParticipants}} </span>
                    </div>
                    <div class="TournamentAdvDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_TEAM_FORMAT"
                        | translate
                        }}</span>
                      <span class="text-detail">{{ (currentBracket ? (currentBracket | bracket | translate) :
                        (Step7?.value?.bracketType | bracket | translate)) }} </span>
                    </div>
                  </div>
                  <div class="
                      TournamentAdvDetails-aside-fields-detail-info-box-right
                    ">
                    <div class="TournamentAdvDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_START_TIME"
                        | translate
                        }}</span>
                      <span class="text-detail">{{Step7?.value?.startTime}}</span>
                    </div>

                    <div class="TournamentAdvDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_START_DATE"
                        | translate
                        }}</span>
                      <span class="text-detail">{{
                        Step7?.value?.startDate | date
                        }}</span>
                    </div>
                    <div class="TournamentAdvDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_FORMAT"
                        | translate
                        }}</span>
                      <span class="text-detail">{{Step7?.value?.tournamentType}} tournament</span>
                    </div>
                    <div class="TournamentAdvDetails-aside-fields-detail-info-item">
                      <span class="label-detail">{{
                        "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.VISIBILITY"
                        | translate
                        }}</span>
                      <span class="text-detail">{{Step7?.value?.visibility}}</span>
                    </div>
                  </div>
                </div>
                <div class="TournamentAdvDetails-aside-fields-detail-info-box">
                  <div class="heading">
                    <span class="label-detail">{{
                      "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_OVERVIEW"
                      | translate
                      }}</span>
                  </div>
                  <div class="description">
                    <p class="text-detail">
                      Tellus scelerisque a sit auctor ut pretium phasellus
                      tellus. Neque, elementum metus, faucibus condimentum dui
                      nunc magnis enim nisl. Pellentesque volutpat lorem lorem
                      fringilla odio egestas non interdum cursus. Aliquam a ut
                      malesuada erat ultrices orci. Nec, gravida adipiscing
                      iaculis non netus enim sollicitudin.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="TournamentAdvDetails-aside-fields-btn">
              <a href="javascript:void(0)" class="link-action" (click)="goTostepFirst()">
                {{ "CREATE_TOURNAMENT.DETAILS.BTN_EDIT" | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full-container content">
    <div class="TournamentAdvDetails-main content">
      <div class="TournamentAdvDetails-content">
        <section class="TournamentAdvDetails-form ss-tournament-details">
          <div class="TournamentAdvDetails-form-item">
            <div class="TournamentAdvDetails-form-item-header">
              <h2 class="title">
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.TITLE_ADV" | translate }}
              </h2>
              <p class="sub-title">
                {{ (Step7?.value?.bracketType | bracket | translate) }}
              </p>
              <!-- <div class="mb-show">
                <div class="wrapper-Select-round">
                  <div class="inner">
                    <div class="Select-round-content">
                      <div class="form-field-item form-field-select">
                        <label class="form-label">
                          {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SELECT_ROUND"
                              | translate
                          }}
                        </label>
                        <div ngbDropdown class="select-teamDropdown">
                          <button
                            class="btn select-teamBtn"
                            id="dropdownBasic1"
                            ngbDropdownToggle
                          >
                            Round 1/11
                          </button>
                          <div
                            class="select-teamDropdownItem"
                            ngbDropdownMenu
                            aria-labelledby="dropdownBasic1"
                          >
                            <button ngbDropdownItem>Round 1/11</button>
                            <button ngbDropdownItem>Round 2/11</button>
                            <button ngbDropdownItem>Round 3/11</button>
                          </div>
                        </div>
                      </div>
                      <div class="preview-brackets">
                        <p>
                          {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.NOTI" | translate
                          }}
                        </p>
                        <ul class="lists">
                          <li class="item">
                            <span class="nth">1*</span>
                            <div class="box-lists-player">
                              <div class="player-item">
                                <span class="nth-player">1</span>
                                <span class="name-palyer">Player 1</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">2</span>
                                <span class="name-palyer">Player 2</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">3</span>
                                <span class="name-palyer">Player 3</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">4</span>
                                <span class="name-palyer">Player 4</span>
                              </div>
                            </div>
                          </li>
                          <li class="item">
                            <span class="nth">2*</span>
                            <div class="box-lists-player">
                              <div class="player-item">
                                <span class="nth-player">1</span>
                                <span class="name-palyer">Player 1</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">2</span>
                                <span class="name-palyer">Player 2</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">3</span>
                                <span class="name-palyer">Player 3</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">4</span>
                                <span class="name-palyer">Player 4</span>
                              </div>
                            </div>
                          </li>
                          <li class="item">
                            <span class="nth">3*</span>
                            <div class="box-lists-player">
                              <div class="player-item">
                                <span class="nth-player">1</span>
                                <span class="name-palyer">Player 1</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">2</span>
                                <span class="name-palyer">Player 2</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">3</span>
                                <span class="name-palyer">Player 3</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">4</span>
                                <span class="name-palyer">Player 4</span>
                              </div>
                            </div>
                          </li>
                          <li class="item">
                            <span class="nth">4*</span>
                            <div class="box-lists-player">
                              <div class="player-item">
                                <span class="nth-player">1</span>
                                <span class="name-palyer">Player 1</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">2</span>
                                <span class="name-palyer">Player 2</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">3</span>
                                <span class="name-palyer">Player 3</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">4</span>
                                <span class="name-palyer">Player 4</span>
                              </div>
                            </div>
                          </li>
                          <li class="item">
                            <span class="nth">5*</span>
                            <div class="box-lists-player">
                              <div class="player-item">
                                <span class="nth-player">1</span>
                                <span class="name-palyer">Player 1</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">2</span>
                                <span class="name-palyer">Player 2</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">3</span>
                                <span class="name-palyer">Player 3</span>
                              </div>
                              <div class="player-item">
                                <span class="nth-player">4</span>
                                <span class="name-palyer">Player 4</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="TournamentAdvDetails-form-item-content">
              <div class="TournamentAdvDetails-form-item-content-detail">
                <div class="TournamentAdvDetails-form-item-content-detail-wrapper">
                  <form [formGroup]="battleRoyaleForm" autocomplete="off">
                    <div class="form-field form-field-1">
                      <div class="form-field-left">
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.NUMBER_OF_ROUNDS"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="select-teamDropdown">
                            <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                              {{ selectRound === "" ? "Select" : selectRound }}
                            </button>
                            <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let numberOfRound of numberOfRounds" (click)="
                                onToggleChangeNumberOfRounds(numberOfRound)
                              ">
                                {{ numberOfRound }}
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-field-item form-field-number">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.NO_OF_PARTICIPANTS"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <button type="button" class="btn btn-minus" (click)="onChangeNoOfParticipants(-1)"></button>
                            <input type="number" name="numberOfparticipants" id="" [value]="numberNoOfParticipants"
                              [(ngModel)]="numberNoOfParticipants" class="input-field"
                              (input)="getValueInputNoOfParticipants($event)" formControlName="numberOfparticipants" />
                            <button type="button" class="btn btn-plus" (click)="onChangeNoOfParticipants(1)"></button>
                          </div>
                        </div>
                        <div class="form-field-item form-field-number">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.WINNING_PARTICIPANTS"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <button type="button" class="btn btn-minus"
                              (click)="onChangeWinningParticipants(-1)"></button>
                            <input type="number" name="numberOfwinning" id="" [value]="numberWinningParticipants"
                              [(ngModel)]="numberWinningParticipants" class="input-field"
                              (input)="getValueInputWinningParticipants($event)" formControlName="numberOfwinning" />
                            <button type="button" class="btn btn-plus"
                              (click)="onChangeWinningParticipants(1)"></button>
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.PLACE_MATCH"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="select-teamDropdown">
                            <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                              {{
                              selectPlaceMatch === ""
                              ? "Select"
                              : selectPlaceMatch
                              }}
                            </button>
                            <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let placeMatch of placeMatchs"
                                (click)="onToggleChangePlaceMatchs(placeMatch)">
                                {{ placeMatch }}
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.MATCH_FORMAT"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="select-teamDropdown">
                            <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                              {{
                              selectMatchFormat === ""
                              ? "Select"
                              : selectMatchFormat
                              }}
                            </button>
                            <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let matchFormat of matchFormats"
                                (click)="onToggleChangeMatchFormats(matchFormat)">
                                {{ matchFormat }}
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-field-item form-field-number">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.NUMBER_OF_SUBSTITUTES"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <button type="button" class="btn btn-minus"
                              (click)="onChangeNumberSubstitutes(-1)"></button>
                            <input type="number" name="numberOfSubstitute" id="" [value]="numberSubstitutes"
                              [(ngModel)]="numberSubstitutes" class="input-field"
                              (input)="getValueInputNumberSubstitutes($event)" formControlName="numberOfSubstitute" />
                            <button type="button" class="btn btn-plus" (click)="onChangeNumberSubstitutes(1)"></button>
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SELECT_NEXT_STAGE_BRACKET"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="select-teamDropdown">
                            <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                              {{
                              selectStageBracket === ""
                              ? "Select"
                              : selectStageBracket
                              }}
                            </button>
                            <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let stageBracket of stageBrackets" (click)="
                                onToggleChangeStageBrackets(stageBracket)
                              ">
                                {{ stageBracket }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-field-right">
                        <div class="heading">
                          <h2 class="title">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.ADDITIONAL_SETTINGS.TITLE"
                            | translate
                            }}
                          </h2>
                        </div>
                        <div class="content">
                          <a class="btn btn-add" (click)="setShowAdvanceStage()">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.ADDITIONAL_SETTINGS.ITEM.ADD_ADV"
                            | translate
                            }}
                          </a>
                          <a class="btn btn-add" (click)="setShowCustomRegistrationEndDate()">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.ADDITIONAL_SETTINGS.ITEM.CUSTOM_REG"
                            | translate
                            }}
                          </a>

                          <a class="btn btn-add" (click)="setShowCustomTournamentEndDate()">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.ADDITIONAL_SETTINGS.ITEM.CUSTOM_TOURNAMENT"
                            | translate
                            }}
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>
                  <div class="form-field form-field-2">
                    <div class="form-field-item form-field-radio">
                      <h4 class="form-label">
                        {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.TOURNAMENT_TYPE"
                        | translate
                        }}
                      </h4>
                      <div class="input-group" *ngFor="let item of dataTournamentType">
                        <label for="" (click)="clickChecked(item)" [class]="
                            item.id === dataTournamentTypeValue ? 'checked' : ''
                          ">
                          <span class="checkmark"></span>
                          <div class="detail-radio">
                            <input type="radio" name="tournament_type" id="" />
                            <div class="text-title">{{ item.textTitle }}</div>
                            <div class="text-des">
                              {{ item.textDes }}
                            </div>
                          </div>
                        </label>
                        <span class="icon">
                          <img src="../../../../../assets/icons/create-tournament/Icon-i.svg" alt="" />
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-field-hide" [style.display]="
                      dataTournamentTypeValue === 2 ? '' : 'none'
                    ">
                    <div class="form-field form-field-3">
                      <h4 class="form-heading">
                        {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.OFFLINE_VENUE"
                        | translate
                        }}
                      </h4>
                      <div class="form-field-box" *ngFor="let offlineVenue of offlineVenues; index as i">
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.NAME_OF_VENUE"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" class="input-field" placeholder="{{
                                'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.NAME_OF_VENUE'
                                  | translate
                              }}" (change)="
                                onVentureNameTextChange($event.target.value, i)
                              " />
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.COUNTRY"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="select-teamDropdown">
                            <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                              {{
                              (offlineVenue.region != ""
                              ? offlineVenue.region
                              : "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SELECT_FORMAT"
                              ) | translate
                              }}
                            </button>
                            <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let region of regions; index as j"
                                (click)="onVentureRegionChange(region, i)">
                                {{ region }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a (click)="addAnotherVeture($event)" class="btn btn-add-another-venue">
                        {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.ADD_ANOTHER_VENTURE"
                        | translate
                        }}
                      </a>
                    </div>

                  </div>
                  <div class="form-field-hide">
                    <div class="form-field form-field-4" [hidden]="!showAdvanceStage">
                      <h4 class="form-heading">
                        {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.ADD_ADVANCE_STAGE"
                        | translate
                        }}
                      </h4>
                      <div class="form-field-box">
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SELECT_STAGE"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="select-teamDropdown">
                            <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                              {{
                              (selectStages === ""
                              ? "TOURNAMENT_DETAILS.SELECT_STAGES"
                              : selectStages
                              ) | translate
                              }}
                            </button>
                            <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let stage of stages"
                                (click)="getValueSelectStages(stage)">
                                {{ stage }}
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.NEXT_STAGE_MATCH_FORMATS"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="select-teamDropdown">
                            <button class="btn select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                              {{
                              (selectStageMatchFormats === ""
                              ? "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SELECT_FORMAT"
                              : selectStageMatchFormats
                              ) | translate
                              }}
                            </button>
                            <div class="select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let matchFormat of stageMatchFormats" (click)="
                                getValueNextStageMatchFormats(matchFormat)
                              ">
                                {{ matchFormat }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-field form-field-5" [hidden]="!showCustomRegistrationEndDate">
                      <h4 class="form-heading">
                        {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.CUSTOM_REGISTRATION_END_DATE"
                        | translate
                        }}
                      </h4>
                      <div class="form-field-box">
                        <div class="form-field-item form-field-calendar">
                          <!-- <label class="form-label">Tournament start date</label> -->
                          <div class="calendar">
                            <app-tournament-date [types]="1" [customFormControlName]="'custEndDate'"
                              [customFormGroup]="Step7" [minDate]="minDateSummary"></app-tournament-date>
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <!-- <label class="form-label">
                        Next stage match formats
                      </label> -->
                          <div class="time">
                            <app-tournament-time [types]="3" [customFormControlName]="'custEndTime'"
                              [customFormGroup]="Step7" [time]="custTime"></app-tournament-time>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-field form-field-6" [hidden]="!showCustomTournamentEndDate">
                      <h4 class="form-heading">
                        {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.CUSTOM_TOURNAMENT_END_DATE"
                        | translate
                        }}
                      </h4>
                      <div class="form-field-box">
                        <div class="form-field-item form-field-calendar">
                          <!-- <label class="form-label">Tournament start date</label> -->
                          <div class="calendar">
                            <app-tournament-date [page]=false [types]="2" [customFormControlName]="'endDate'"
                              [customFormGroup]="Step7" [minDate]="minDateSummary"></app-tournament-date>
                            <!-- <app-tournament-date
                            [title]="
                              'Now tell us what’s the date and time for your tournament'
                            "
                            [placeholder]="'Select date and time'"
                            [customFormControlName]="'startDate'"
                            [customFormGroup]="Step5"
                            [minDate]="minDate"
                          ></app-tournament-date> -->
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <!-- <label class="form-label">
                        Next stage match formats
                      </label> -->
                          <div class="time">
                            <app-tournament-time [page]=false [types]="4" [customFormControlName]="'endTime'"
                              [customFormGroup]="Step7" [time]="custTime"></app-tournament-time>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="TournamentAdvDetails-form-item ss-additional-configurations">
            <div class="TournamentAdvDetails-form-item-header">
              <h2 class="title">
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.TITLE" | translate }}
              </h2>
            </div>
            <div class="TournamentAdvDetails-form-item-content-additional">
              <div class="
                  TournamentAdvDetails-form-item-content-box
                  TournamentAdvDetails-form-prize-payout"
                [hidden]="(Step7?.value?.isPaid.id==2) || (Step7?.value?.isPaid.id==1)">
                <div class="heading" (click)="onToggleChangePrizePayout()">
                  <span class="text">
                    {{
                    "CREATE_TOURNAMENT.DETAILS.ITEMS.PRIZE_PAYOUTS_ADV"
                    | translate
                    }}
                  </span>
                  <span class="icon icon-toggle" [ngClass]="{ active: toggleChangePrizePayout }"></span>
                </div>
                <div class="content" [ngClass]="{ active: toggleChangePrizePayout }">
                  <!-- Wagered pool setting  -->
                  <form [formGroup]="poolSettingPrizeForm" autocomplete="off">
                    <div class="form-field form-field-wagered-pool">
                      <div class="form-field-heading">
                        <h2 class="title">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.WAGERED_POOL_SETTING"
                          | translate
                          }}
                        </h2>
                      </div>
                      <div class="form-content">
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.ENTRANCE_FEE_LABEL"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="number" name="enterenceFee" [(ngModel)]="waggerPool.entranceFee"
                              formControlName="enterenceFee" class="input-field" placeholder="Entrance fee" />
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.PAYOUT_METHOD_LABEL"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="AllowedRegions-teamDropdown">
                            <button class="btn AllowedRegions-teamBtn" id="dropdownBasic1" name="prizePaymentMethod"
                              ngbDropdownToggle>
                              <!-- {{
                              waggerPool.payout !== ""
                                ? waggerPool.payout
                                : selectPay === ""
                                ? "Select payout method"
                                : selectPay
                            }} -->
                              {{
                              selectPay === ""
                              ? "Select payout method"
                              : selectPay
                              }}
                            </button>
                            <div class="AllowedRegions-teamDropdownItem" ngbDropdownMenu
                              aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let pay of payoutsMethod"
                                (click)="onToggleChangePayouts(pay)">
                                {{ pay }}
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.ENTRANCE_FEE.FORM.WAGERED_POOL.CURRENCY_LABEL"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="AllowedRegions-teamDropdown">
                            <button class="btn AllowedRegions-teamBtn" id="dropdownBasic1" name="prizeCurrency"
                              ngbDropdownToggle>
                              <!-- {{
                              waggerPool.currency !== ""
                                ? waggerPool.currency
                                : selectCurrency === ""
                                ? "Select currency"
                                : selectCurrency
                            }} -->
                              {{
                              selectCurrency === ""
                              ? "Select currency"
                              : selectCurrency
                              }}
                            </button>
                            <div class="AllowedRegions-teamDropdownItem" ngbDropdownMenu
                              aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let currency of currencies"
                                (click)="onToggleChangeCurrency(currency)">
                                {{ currency }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Prize payouts -->
                    <div class="form-field form-field-prize-payouts">
                      <div class="form-field-heading">
                        <h2 class="title">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.ITEMS.PRIZE_PAYOUTS"
                          | translate
                          }}
                        </h2>
                      </div>
                      <div class="form-content">
                        <!-- payouts -->
                        <div class="item-prize-payouts" *ngFor="
                          let payout of waggerPool.amounts;let i=index">
                          <div class="field-item-prize-payouts">
                            <label class="form-label">
                              {{
                              "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.PLACEMENT"
                              | translate
                              }}
                            </label>
                            <div class="input-group">
                              <input type="text" name="enterenceInput11{{i}}" id="" class="input-field"
                                formControlName="enterenceInput1{{i}}" [(ngModel)]="payout.from" placeholder="nth" />
                              <span class="speach"></span>
                              <input type="text" name="enterenceInput22{{i}}" id="" class="input-field"
                                formControlName="enterenceInput2{{i}}" [(ngModel)]="payout.to" placeholder="nth" />
                            </div>
                          </div>
                          <div class="field-item-prize-payouts">
                            <label class="form-label">
                              {{
                              "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.WEIGHTAGE"
                              | translate
                              }}
                              <span class="icon">
                                <img src="../../../../../assets/icons/create-tournament/Icon-i.svg" alt="" />
                              </span>
                            </label>
                            <div class="input-group">
                              <input type="text" name="enterenceInput33{{i}}" id="" class="input-field"
                                formControlName="enterenceInput3{{i}}" [(ngModel)]="payout.weightage" placeholder="%" />
                              <div class="btn btn-del" (click)="onToggleDelete(payout)">
                                <span class="icon">
                                  <img src="../../../../../assets/icons/create-tournament/delete.svg" alt="" />
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- add another prize -->
                      <a (click)="addPayout()" class="btn btn-add">
                        {{
                        "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.ADD_ANOTHER_PRIZE"
                        | translate
                        }}
                      </a>
                    </div>
                  </form>
                </div>
              </div>
              <div class="
                  TournamentAdvDetails-form-item-content-box
                  TournamentAdvDetails-form-tournament-settings
                ">
                <div class="heading" (click)="onToggleChangeTournamentSettings()">
                  <span class="text">
                    {{
                    "CREATE_TOURNAMENT.DETAILS.ITEMS.TOURNAMENT_SETTINGS"
                    | translate
                    }}
                  </span>
                  <span class="icon icon-toggle" [ngClass]="{ active: toggleChangeTournamentSettings }"></span>
                </div>
                <div class="content" [ngClass]="{ active: toggleChangeTournamentSettings }">
                  <div class="form-field">
                    <div class="firstRow">
                      <div class="form-field-item form-field-select">
                        <label class="form-label">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SELECT_ALLOWED_REGIONS"
                          | translate
                          }}
                        </label>
                        <div ngbDropdown class="AllowedRegions-teamDropdown">
                          <button class="btn AllowedRegions-teamBtn radius-50" id="dropdownBasic1" ngbDropdownToggle>
                            {{
                            selectRegion === ""
                            ? "Select participating regions"
                            : selectRegion
                            }}
                          </button>
                          <div class="AllowedRegions-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem *ngFor="let region of regions"
                              (click)="onToggleChangeregion(region)">
                              {{ region }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="secondRow">
                      <div class="form-field-item form-field-checked form-field-checkbox">
                        <label for="" class="form-label">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.ADDITIONAL_SETTINGS"
                          | translate
                          }}
                        </label>
                        <div class="input-group" (click)="onCheckscreenshotRequired()">
                          <span class="checkmark" [ngClass]="{ checked: screenshotRequired }"></span>
                          <input type="checkbox" name="" id="" class="field-checkbox" />
                          <!-- <span class="text">Screenshot required</span> -->
                        </div>
                        <div class="input-group" (click)="onCheckShowCountryFlag()">
                          <span class="checkmark" [ngClass]="{ checked: showCountryFlag }"></span>
                          <input type="checkbox" name="" id="" class="field-checkbox" />
                          <!-- <span class="text">Show country flag</span> -->
                        </div>
                      </div>
                      <div class="form-field-item form-field-checked form-field-radio">
                        <label for="" class="form-label">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SCORE_REPORTING"
                          | translate
                          }}
                        </label>
                        <div class="input-group" (click)="onCheckScoreReporting()">
                          <span class="checkmark" [ngClass]="{ checked: participants }"></span>
                          <input type="radio" name="score_reporting" id="" class="field-radio" />
                          <!-- <span class="text">Admin & players </span> -->
                        </div>
                        <div class="input-group" (click)="onCheckScoreReporting()">
                          <span class="checkmark" [ngClass]="{ checked: myselfOnly }"></span>
                          <input type="radio" name="score_reporting" id="" class="field-radio" />
                          <!-- <span class="text">Admin only</span> -->
                        </div>
                      </div>
                    </div>
                    <div class="thirdRow">
                      <div class="form-field-item form-field-checked form-field-radio">
                        <label for="" class="form-label">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.PARTICIPANT_LIMIT"
                          | translate
                          }}
                        </label>
                        <div class="input-group" (click)="onCheckParticipantLimit()">
                          <span class="checkmark" [ngClass]="{ checked: noLimit }"></span>
                          <input type="radio" name="participant_limit" id="" class="field-radio" />
                          <!-- <span class="text">No limit</span> -->
                        </div>
                        <div class="input-group" (click)="onCheckParticipantLimit()">
                          <span class="checkmark" [ngClass]="{ checked: addLimit }"></span>
                          <input type="radio" name="participant_limit" id="" class="field-radio" />
                          <!-- <span class="text">Add limit (please specify)</span> -->
                        </div>
                      </div>
                      <!-- <div class="form-field-item form-field-checked form-field-radio">
                        <label for="" class="form-label">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.VISIBILITY"
                          | translate
                          }}
                        </label>
                        <div class="input-group" (click)="onCheckVisibility()">
                          <span class="checkmark" [ngClass]="{ checked: privateVisiblity }"></span>
                          <input type="radio" name="visibility" id="" class="field-radio" />
                          <span class="text">Private</span>
                        </div>
                        <div class="input-group" (click)="onCheckVisibility()">
                          <span class="checkmark" [ngClass]="{ checked: publicVisiblity }"></span>
                          <input type="radio" name="visibility" id="" class="field-radio" />
                          <span class="text">Public</span>
                        </div>
                      </div> -->
                      <div class="form-field-item form-field-checked form-field-radio">
                        <label for="" class="form-label">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.CHECK_IN"
                          | translate
                          }}
                        </label>
                        <div class="input-group" (click)="onCheckCheckInRequired()">
                          <span class="checkmark" [ngClass]="{ checked: noCheckIn }"></span>
                          <input type="checkbox" name="" id="" class="field-checkbox" />
                          <!-- <span class="text">No check-in</span> -->
                        </div>
                        <div class="input-group" (click)="onCheckCheckInRequired()">
                          <span class="checkmark" [ngClass]="{ checked: addCheckIn }"></span>
                          <input type="checkbox" name="" id="" class="field-checkbox" />
                          <!-- <span class="text">Add check-in (please specify)</span> -->
                        </div>
                      </div>
                      <div class="form-field-item form-field-checked form-field-radio">
                        <label for="" class="form-label">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.MANDATORY_SUBSTITUTE"
                          | translate
                          }}
                        </label>
                        <div class="input-group" (click)="onCheckMandatorySubstitute()">
                          <span class="checkmark" [ngClass]="{ checked: noSubstitute }"></span>
                          <input type="radio" name="score_reporting" id="" class="field-radio" />
                          <!-- <span class="text">No substitute </span> -->
                        </div>
                        <div class="input-group" (click)="onCheckMandatorySubstitute()">
                          <span class="checkmark" [ngClass]="{ checked: addSubstitute }"></span>
                          <input type="radio" name="score_reporting" id="" class="field-radio" />
                          <!-- <span class="text">Add substitute (please specify)</span> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <form [formGroup]="ruleInfoForm" autocomplete="off">
                <div class="
                  TournamentAdvDetails-form-item-content-box
                  TournamentAdvDetails-form-rules-and-info
                ">
                  <div class="heading" (click)="onToggleChangeRulesAndInfo()">
                    <span class="text">
                      {{
                      "CREATE_TOURNAMENT.DETAILS.ITEMS.RULES_AND_INFO"
                      | translate
                      }}
                    </span>
                    <span class="icon icon-toggle" [ngClass]="{ active: toggleChangeRulesAndInfo }"></span>
                  </div>
                  <div class="content" [ngClass]="{ active: toggleChangeRulesAndInfo }">
                    <div class="form-field form-field-textarea">
                      <ckeditor class="form-textarea" name="ruleInfoText" [editor]="Editor"
                        formControlName="ruleInfoText"></ckeditor>
                    </div>
                    <div class="form-field">
                      <div class="form-field-heading">
                        <h2 class="title">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.SOCIAL_MEDIA_LINKS"
                          | translate
                          }}
                        </h2>
                      </div>
                      <div class="form-content">
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.FACEBOOK"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" name="socialFacebookUrl" id="" class="input-field"
                              formControlName="socialFacebookUrl"
                              placeholder="{{'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.FACEBOOK' | translate}}" />
                            <ng-container
                              *ngIf="ruleInfoForm.controls.socialFacebookUrl.errors && ruleInfoForm.controls.socialFacebookUrl.errors.pattern ">
                              <mat-error>{{ "URL_VALIDATON.INVALID_URL_TEXT" | translate }}</mat-error>
                            </ng-container>
                          </div>
                        </div>
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.VIDEO_STREAMING_URL"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" name="videoStreemingUrl" id="" class="input-field"
                              formControlName="videoStreemingUrl"
                              placeholder="{{'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.VIDEO_STREAMING_URL' | translate}}" />
                            <ng-container
                              *ngIf="ruleInfoForm.controls.videoStreemingUrl.errors && ruleInfoForm.controls.videoStreemingUrl.errors.pattern ">
                              <mat-error>{{ "URL_VALIDATON.INVALID_URL_TEXT" | translate }}</mat-error>
                            </ng-container>
                          </div>
                        </div>
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.TWITCH_STREAMING_URL"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" name="twitchStreemingUrl" id="" class="input-field"
                              formControlName="twitchStreemingUrl"
                              placeholder="{{ 'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.TWITCH_STREAMING_URL' | translate }}" />
                            <ng-container
                              *ngIf="ruleInfoForm.controls.twitchStreemingUrl.errors && ruleInfoForm.controls.twitchStreemingUrl.errors.pattern ">
                              <mat-error>{{ "URL_VALIDATON.INVALID_URL_TEXT" | translate }}</mat-error>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-field">
                      <div class="form-field-heading">
                        <h2 class="title">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.CONTACT_OPTIONS"
                          | translate
                          }}
                        </h2>
                      </div>
                      <div class="form-content">
                        <div class="form-field-item form-field-select">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.CONTACT_OPTION"
                            | translate
                            }}
                          </label>
                          <div ngbDropdown class="AllowedRegions-teamDropdown">
                            <button class="btn AllowedRegions-teamBtn" id="dropdownBasic1" name="contactOption"
                              ngbDropdownToggle>
                              {{
                              selectContact === ""
                              ? "Select contact option"
                              : selectContact
                              }}
                            </button>
                            <div class="AllowedRegions-teamDropdownItem" ngbDropdownMenu
                              aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem *ngFor="let contact of contactOptions"
                                (click)="onToggleChangeContact(contact)">
                                {{ contact }}
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.CONTACT_URL"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" name="contactStreemingUrl" id="" class="input-field"
                              formControlName="contactStreemingUrl"
                              placeholder="{{ 'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.CONTACT_URL' | translate }}" />
                            <ng-container
                              *ngIf="ruleInfoForm.controls.contactStreemingUrl.errors && ruleInfoForm.controls.contactStreemingUrl.errors.pattern ">
                              <mat-error> {{ "URL_VALIDATON.INVALID_URL_TEXT" | translate }}</mat-error>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="
                  TournamentAdvDetails-form-item-content-box
                  TournamentAdvDetails-form-sponsors
                ">
                <div class="heading" (click)="onToggleChangeSponsors()">
                  <span class="text">
                    {{ "CREATE_TOURNAMENT.DETAILS.ITEMS.SPONSORS" | translate }}
                  </span>
                  <span class="icon icon-toggle" [ngClass]="{ active: toggleChangeSponsors }"></span>
                </div>
                <div class="content" [ngClass]="{ active: toggleChangeSponsors }">
                  <form [formGroup]="SponsorForm" autocomplete="off">
                    <div class="form-field" *ngFor="let sponsor of summarySponsorVo;let i=index">
                      <div class="form-field-heading">
                        <h2 class="title">
                          {{
                          "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_HEADER_ADV.SPONSOR"
                          | translate
                          }}
                          {{i+1}}
                        </h2>
                        <span class="btn btn-del" (click)="deleteMultipleSponsor(i)" *ngIf="i>0">
                          <span class="icon">
                            <img src="../../../../../assets/icons/create-tournament/delete.svg" alt="" />
                          </span>
                        </span>
                      </div>
                      <div class="form-content">
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SPONSOR_NAME"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" name="SponsorName{{i}}" id="" formControlName="SponsorName{{i}}"
                              class="input-field" [(ngModel)]="sponsor.SponsorName" placeholder="{{
                              'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SPONSOR_NAME'
                                | translate
                            }}" />
                          </div>
                        </div>
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SPONSOR_URL"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" name="SponsorURL{{i}}" id="" formControlName="SponsorURL{{i}}"
                              class="input-field" [(ngModel)]="sponsor.SponsorURL" placeholder="{{
                              'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SPONSOR_URL'
                                | translate
                            }}" />
                            <ng-container
                              *ngIf="SponsorForm.controls['SponsorURL'+i].errors && SponsorForm.controls['SponsorURL'+i].errors.pattern ">
                              <mat-error>{{ "URL_VALIDATON.INVALID_URL_TEXT" | translate }}</mat-error>
                            </ng-container>
                          </div>
                        </div>
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.APPLE_APP_STORE_LINK"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" name="SponsorAppleURL{{i}}" id="" formControlName="SponsorAppleURL{{i}}"
                              class="input-field" [(ngModel)]="sponsor.SponsorAppleURL" placeholder="{{
                              'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.APPLE_APP_STORE_LINK'
                                | translate
                            }}" />
                            <ng-container
                              *ngIf="SponsorForm.controls['SponsorAppleURL'+i].errors && SponsorForm.controls['SponsorAppleURL'+i].errors.pattern ">
                              <mat-error>{{ "URL_VALIDATON.INVALID_URL_TEXT" | translate }}</mat-error>
                            </ng-container>
                          </div>
                        </div>
                        <div class="form-field-item form-field-text">
                          <label class="form-label">
                            {{
                            "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.GOOGLE_PLAY_STORE_LINK"
                            | translate
                            }}
                          </label>
                          <div class="input-group">
                            <input type="text" name="SponsorGoogleURL{{i}}" id=""
                              formControlName="SponsorGoogleURL{{i}}" class="input-field"
                              [(ngModel)]="sponsor.SponsorGoogleURL" placeholder="{{
                              'CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.GOOGLE_PLAY_STORE_LINK'
                                | translate
                            }}" />
                            <ng-container
                              *ngIf="SponsorForm.controls['SponsorGoogleURL'+i].errors && SponsorForm.controls['SponsorGoogleURL'+i].errors.pattern ">
                              <mat-error>{{ "URL_VALIDATON.INVALID_URL_TEXT" | translate }}</mat-error>
                            </ng-container>
                          </div>
                        </div>
                        <div class="form-field-item form-field-file">
                          <div class="form-field-label">
                            <label class="form-label">
                              {{
                              "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SPONSOR_LOGO"
                              | translate
                              }}
                            </label>
                            <span class="optional">
                              {{
                              "CREATE_TOURNAMENT.TOURNAMENT_NAME.OPTIONAL_BASIC_DETAILS.OPTIONAL"
                              | translate
                              }}
                            </span>
                          </div>
                          <div class="input-group-file">
                            <div class="box-input-file">
                              <input type="file" name="TournamentNameFile{{i}}" id="TournamentNameFile"
                                formControlName="TournamentNameFile{{i}}" class="form-file" (change)="
                                handleFileInputLogo($event.target.files,i)
                              " />
                              <span class="form-file-btn" [ngClass]="{
                                activeinputfile: toggleInputFileLogo
                              }">
                                {{
                                checkFileNameLogo
                                ? fileToUploadLogo.name
                                : "File name"
                                }}
                              </span>
                            </div>
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">
                                {{
                                "CREATE_TOURNAMENT.TOURNAMENT_NAME.OPTIONAL_BASIC_DETAILS.BUTTON"
                                | translate
                                }}
                              </button>
                            </div>
                            <span class="notice">
                              {{
                              "CREATE_TOURNAMENT.DETAILS.FIELDS.IMAGE.NOTICE"
                              | translate
                              }}
                            </span>
                          </div>
                        </div>
                        <div class="form-field-item form-field-file">
                          <div class="form-field-label">
                            <label class="form-label">
                              {{
                              "CREATE_TOURNAMENT.DETAILS.FIELDS.FORM_LABEL.SPONSOR_BANNER"
                              | translate
                              }}
                            </label>
                            <span class="optional">
                              {{
                              "CREATE_TOURNAMENT.TOURNAMENT_NAME.OPTIONAL_BASIC_DETAILS.OPTIONAL"
                              | translate
                              }}
                            </span>
                          </div>
                          <div class="input-group-file">
                            <div class="box-input-file">
                              <input type="file" name="TournamentNameFile1{{i}}" id="TournamentNameFile"
                                formControlName="TournamentNameFile1{{i}}" class="form-file" (change)="
                                handleFileInputBanner($event.target.files,i)
                              " />
                              <span class="form-file-btn" [ngClass]="{
                                activeinputfile: toggleInputFileBanner
                              }">
                                {{
                                checkFileNameBanner
                                ? fileToUploadBanner.name
                                : "File name"
                                }}</span>
                            </div>
                            <div class="input-group-btn">
                              <button type="button" class="btn btn-default">
                                {{
                                "CREATE_TOURNAMENT.TOURNAMENT_NAME.OPTIONAL_BASIC_DETAILS.BUTTON"
                                | translate
                                }}
                              </button>
                            </div>
                            <span class="notice">
                              {{
                              "CREATE_TOURNAMENT.DETAILS.FIELDS.IMAGE.NOTICE2"
                              | translate
                              }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a href="javascript:void(0)" class="btn btn-add" (click)="addMultipleSponsor();">
                      {{
                      "CREATE_TOURNAMENT.DETAILS.ADD_ANOTHER_SPONSOR"
                      | translate
                      }}
                    </a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="ss-footer-buttons">
    <div class="wrapper">
      <div class="inner">
        <div class="box-item box-item-left mb-hide"></div>
        <div class="box-item box-item-right">
          <span> {{ "CREATE_TOURNAMENT.DETAILS.TITLE2" | translate }}</span>
          <button class="TournamentAdvDetails-header-button button-primary" (click)="tournamentPublish()">
            {{ "CREATE_TOURNAMENT.DETAILS.CREATE_TOURNAMENT_BTN" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
