<div class="ct-HeaderTop">
    <div class="TD u-wp rtl-no-align" *ngIf="isFormLoaded">
      <div class="TD-container u-dfStart">
        <section class="TD-details">
          <h2 class="TD-details-title desktop global-Title2">
            Tournament Details
          </h2>
  
          <div class="TD-form">
            <mat-accordion>
              <!-- Bracket Preview -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="TD-form-title global-Title3">
                    Bracket Preview
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="TD-form-brackets">
                  <div
                    class="TD-form-brackets-fields"
                    *ngIf="Step7?.value?.type == 'quick'"
                  >
                    <app-input-date-two
                      [customFormGroup]="Step7"
                      [customFormControlName]="'endDate'"
                      [isBasic]="true"
                      [title]="'Tournament end date'"
                      [placeholder]="'Select date'"
                      [minDate]="Step7?.value?.startDate"
                    ></app-input-date-two>
                  </div>
                  <div
                    *ngIf="Step7?.value?.type == 'advance'"
                    class="TD-form-brackets-fields"
                  >
                    <app-input-date-two
                      [customFormGroup]="Step7"
                      [customFormControlName]="'regStartDate'"
                      [isBasic]="true"
                      [title]="'Registration start date'"
                      [minDate]="currentDate"
                      [placeholder]="'Registration start date'"
                    ></app-input-date-two>
  
                    <app-input-date-two
                      [customFormGroup]="Step7"
                      [customFormControlName]="'regEndDate'"
                      [isBasic]="true"
                      [title]="'Registration end date'"
                      [minDate]="currentDate"
                      [placeholder]="'Registration end date'"
                    ></app-input-date-two>
  
                    <app-input-date-two
                      [customFormGroup]="Step7"
                      [customFormControlName]="'endDate'"
                      [isBasic]="true"
                      [title]="'Tournament end date'"
                      [placeholder]="'Select date'"
                      [minDate]="Step7?.value?.startDate"
                    ></app-input-date-two>
  
                    <app-input-text
                      [customFormGroup]="Step7"
                      [customFormControlName]="'bracketType'"
                      [isBasic]="true"
                      [title]="'Bracket type'"
                      [isDisabled]="true"
                    ></app-input-text>
                  </div>
  
                  <app-elimination
                    [structure]="structure"
                    [isSeeded]="false"
                    [type]="Step7?.value?.bracketType"
                    [isLoaded]="isBracketLoaded"
                  ></app-elimination>
                </div>
              </mat-expansion-panel>
  
              <!-- Tournament prize - ADVANCE -->
              <mat-expansion-panel
                *ngIf="Step7?.value?.type == 'advance' && Step7?.value?.isPrize"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title class="TD-form-title global-Title3">
                    Tournament prize
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div class="TD-form-prize">
                  <div class="TD-form-prize-list">
                    <div
                      *ngFor="
                        let prizeForm of Step7?.controls.prizeList?.controls;
                        let i = index
                      "
                    >
                      <app-input-number
                        [title]="i | prizePool"
                        [customFormGroup]="prizeForm"
                        [customFormControlName]="'value'"
                      >
                      </app-input-number>
                    </div>
                  </div>
                  <app-add-prizes-button
                    class="TD-form-prize-button"
                    [text]="'Add Prizes'"
                    (click)="addPrize(1)"
                  ></app-add-prizes-button>
                </div>
              </mat-expansion-panel>
  
              <!-- Participants -->
              <mat-expansion-panel *ngIf="Step7.value.type == 'quick'">
                <mat-expansion-panel-header>
                  <mat-panel-title class="TD-form-title global-Title3">
                    Participants
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="TD-form-participants">
                  <app-send-invite [isOnPreviewPage]="true"> </app-send-invite>
                </div>
              </mat-expansion-panel>
  
              <!-- Tournament Settings -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title class="TD-form-title global-Title3">
                    Tournament settings
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <div class="TD-form-settings u-dfCenterStart">
                  <!-- Tournament Settings - Switchers -->
                  <div class="TD-form-settings-switchers">
                    <app-toggle-switch
                      [customFormGroup]="Step7"
                      [customFormControlName]="'isScreenshotRequired'"
                      [title]="'Screenshot Required'"
                      [toolTipMessage]="
                        'CREATE_TOURNAMENT.CREATE_TOURNAMENT_COND6'
                      "
                    ></app-toggle-switch>
  
                    <app-toggle-switch
                      [customFormGroup]="Step7"
                      [customFormControlName]="'isParticipantsLimit'"
                      [title]="'Participants limit'"
                      [toolTipMessage]="
                        'CREATE_TOURNAMENT.CREATE_TOURNAMENT_COND6'
                      "
                    ></app-toggle-switch>
  
                    <app-toggle-switch
                      [customFormGroup]="Step7"
                      [customFormControlName]="'isShowCountryFlags'"
                      [title]="'Show Country Flags'"
                      [toolTipMessage]="
                        'CREATE_TOURNAMENT.CREATE_TOURNAMENT_COND6'
                      "
                    ></app-toggle-switch>
  
                    <app-toggle-switch
                      [customFormGroup]="Step7"
                      [customFormControlName]="'isSpecifyAllowedRegions'"
                      [title]="'Specify Allowed Regions'"
                      [toolTipMessage]="
                        'CREATE_TOURNAMENT.CREATE_TOURNAMENT_COND6'
                      "
                    ></app-toggle-switch>
                  </div>
  
                  <!-- Tournament Settings - Toggles -->
                  <div class="TD-form-settings-toggles">
                    <app-select-toggle
                      [customFormGroup]="Step7"
                      [customFormControlName]="'scoreReporting'"
                      [title]="'Score reporting'"
                      [tooltip]="'Score reporting tooltip message'"
                      [leftValue]="'Admins only'"
                      [rightValue]="'Admins & Players'"
                    ></app-select-toggle>
  
                    <app-select-toggle
                      [customFormGroup]="Step7"
                      [customFormControlName]="'visibility'"
                      [title]="'Visibility'"
                      [tooltip]="'Visibility tooltip message'"
                      [leftValue]="'Public'"
                      [rightValue]="'Private'"
                    ></app-select-toggle>
                  </div>
                </div>
  
                <!-- Tournament Settings - Tournament Type -->
                <app-tournament-type
                  *ngIf="Step7.value.type == 'advance'"
                  class="TD-form-type"
                  [customFormControlName]="'tournamentType'"
                ></app-tournament-type>
  
                <!-- Tournament Settings - Socials -->
                <div
                  *ngIf="Step7.value.type == 'advance'"
                  class="TD-form-socials"
                >
                  <div class="TD-form-socials-title global-Title3">
                    Social media links
                  </div>
  
                  <div class="TD-form-socials-list">
                    <app-input-text
                      [customFormGroup]="Step7"
                      [customFormControlName]="'facebookVideoLink'"
                      [isBasic]="true"
                      [title]="'Facebook video link'"
                      [placeholder]="'Add link'"
                    ></app-input-text>
  
                    <app-input-text
                      [customFormGroup]="Step7"
                      [customFormControlName]="'twitchVideoLink'"
                      [isBasic]="true"
                      [title]="'Twitch video link'"
                      [placeholder]="'Add link'"
                    ></app-input-text>
  
                    <app-input-text
                      [customFormGroup]="Step7"
                      [customFormControlName]="'youtubeVideoLink'"
                      [isBasic]="true"
                      [title]="'Add video streaming link'"
                      [placeholder]="'Youtube video link'"
                    ></app-input-text>
                  </div>
                </div>
              </mat-expansion-panel>
  
              <!-- Rules and Info -->
              <mat-expansion-panel class="disable-space">
                <mat-expansion-panel-header>
                  <mat-panel-title class="TD-form-title global-Title3">
                    Rules and Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <ckeditor
                  [editor]="Editor"
                  formControlName="description"
                ></ckeditor> -->
                <WYSIWYG-editor
                  formControlName="description"
                  [config]="editorConfig"
                >
                </WYSIWYG-editor>
              </mat-expansion-panel>
  
              <!-- Sponsors - ADVANCE -->
              <mat-expansion-panel *ngIf="Step7.value.type == 'advance'">
                <mat-expansion-panel-header>
                  <mat-panel-title class="TD-form-title global-Title3">
                    Sponsors
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <!-- Sponsors Fields -->
                <div
                  class="TD-form-sponsors"
                  *ngFor="
                    let sponsorForm of Step7?.controls?.sponsors?.controls;
                    let i = index
                  "
                >
                  <div class="TD-form-sponsors-list">
                    <app-input-text
                      [customFormGroup]="sponsorForm"
                      [customFormControlName]="'sponsorName'"
                      [isBasic]="true"
                      [title]="'Sponsor name'"
                      [placeholder]="'Add sponsor name'"
                    ></app-input-text>
  
                    <app-input-text
                      [customFormGroup]="sponsorForm"
                      [customFormControlName]="'website'"
                      [isBasic]="true"
                      [title]="'Sponsor URL'"
                      [placeholder]="'Add web URL'"
                    ></app-input-text>
  
                    <app-input-text
                      [customFormGroup]="sponsorForm"
                      [customFormControlName]="'playStoreUrl'"
                      [isBasic]="true"
                      [title]="'Google Play store'"
                      [placeholder]="'Add Google Play store URL'"
                    ></app-input-text>
  
                    <app-input-text
                      [customFormGroup]="sponsorForm"
                      [customFormControlName]="'appStoreUrl'"
                      [isBasic]="true"
                      [title]="'Apple App store'"
                      [placeholder]="'Add Apple app store URL'"
                    ></app-input-text>
                  </div>
  
                  <app-upload-image
                    class="TD-form-sponsors-logo"
                    [customFormGroup]="sponsorForm"
                    [customFormControlName]="'sponsorLogo'"
                    [dimension]="{ width: 1000, height: 1000 }"
                    [id]="'LOGO'"
                    [size]="1000 * 1000 * 5"
                    [title]="'Sponsor Logo'"
                    [subtitle]="
                      'This your sponsor logo, Use a high quality image: 1000x1000px (1:1 ratio).'
                    "
                  ></app-upload-image>
  
                  <app-upload-image
                    class="TD-form-sponsors-banner"
                    [customFormGroup]="sponsorForm"
                    [customFormControlName]="'sponsorBanner'"
                    [dimension]="{ width: 1200, height: 1200 }"
                    [id]="'BANNER'"
                    [size]="1200 * 1200 * 5"
                    [title]="'Sponsor Banner'"
                    [subtitle]="
                      'This your sponsor logo, Use a high quality image: 1200x1200px (1:1 ratio).'
                    "
                  ></app-upload-image>
                </div>
              </mat-expansion-panel>
  
              <!-- Add participants -->
              <mat-expansion-panel *ngIf="Step7.value.type == 'advance'">
                <mat-expansion-panel-header>
                  <mat-panel-title class="TD-form-title global-Title3">
                    Add participants
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="TD-form-addParticipants">
                  <app-send-invite [isOnPreviewPage]="true"> </app-send-invite>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </section>
  
        <section class="TD-info">
          <h2 class="TD-details-title mobile global-Title2">
            Tournament Details
          </h2>
  
          <header class="TD-info-header u-dfStartBtw">
            <h3 class="TD-info-title">Tournament Thumbnail</h3>
  
            <button class="TD-info-button u-dfCenterStart" (click)="onEdit()">
              <p class="TD-info-button-text global-Text">Edit</p>
              <img
                class="TD-info-button-icon"
                src="assets/icons/tournament/pencil.svg"
                alt="edit icon"
              />
            </button>
          </header>
  
          <p class="TD-info-subtitle global-Text">Recommended size : -</p>
  
          <div
            style="width: 368; height: 190"
            class="TD-info-image"
            [style.backgroundImage]="'url(' + selectedGameDetails.logo + ')'"
          ></div>
  
          <div class="TD-basic">
            <h3 class="TD-basic-title TD-info-title">Basic info</h3>
            <form class="TD-basic-form">
              <app-input-text
                [customFormGroup]="Step7"
                [customFormControlName]="'name'"
                [isBasic]="true"
                [title]="'Tournament name'"
              ></app-input-text>
  
              <app-input-date-two
                [customFormGroup]="Step7"
                [customFormControlName]="'startDate'"
                [isBasic]="true"
                [title]="'Start date & time'"
                [minDate]="minDate"
              ></app-input-date-two>
  
              <app-input-select
                [customFormGroup]="Step7"
                [customFormControlName]="'gameDetail'"
                [title]="'game'"
                [data]="gameList | customFilterPipe: Step7?.value?.type"
                (submit)="onGameChange($event)"
                [placeholder]="'League of Legends'"
                [readOnly]="Step7.value.type == 'advance'"
              ></app-input-select>
  
              <app-input-select
                [customFormGroup]="Step7"
                [customFormControlName]="'platform'"
                [title]="'platform'"
                [data]="platformList"
                [placeholder]="'select platform'"
                [readOnly]="Step7.value.type == 'advance'"
              ></app-input-select>
  
              <app-input-select
                *ngIf="Step7?.value?.bracketType != 'battle_royale'"
                [customFormGroup]="Step7"
                [customFormControlName]="'noOfSet'"
                [title]="'League match format *'"
                [data]="matchFormat"
                [placeholder]="'Select match format'"
              ></app-input-select>
  
              <app-input-number
                *ngIf="Step7.value?.isPaid"
                [customFormGroup]="Step7"
                [customFormControlName]="'regFee'"
                [title]="'Entrance fee'"
              ></app-input-number>
            </form>
          </div>
  
          <div class="TD-info-publish-buttons">
            <button
              class="TD-info-publish-button global-EditBtn"
              (click)="Submit()"
            >
              Publish Tournament
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
  
  <!-- <app-fullscreen-loading *ngIf="isFormLoaded"></app-fullscreen-loading> -->
  