<div class="Score-Counter">
  <div class="Score-Counter-Value">{{ score }}</div>
  <div class="Score-Counter-Keys">
    <mat-icon
      matTooltip="{{ 'ELIMINATION.TOOLTIP.04' | translate }}"
      class="Score-Counter-Up"
      (click)="scoreUpdate(score, 'inc')"
    >
      arrow_drop_up
    </mat-icon>
    <mat-icon
      matTooltip="{{ 'ELIMINATION.TOOLTIP.05' | translate }}"
      class="Score-Counter-Down"
      (click)="scoreUpdate(score, 'dec')"
      >arrow_drop_down</mat-icon
    >
  </div>
  <div class="Score-Counter">
    <button
      *ngIf="enableScreenshot"
      [hidden]="!hasScreenshotUpdateAccess && !screenshotUrl"
      class="Score-Counter global-EditBtn"
      (click)="openScreenshotUploadPopup()"
    >
      <img
        *ngIf="!screenshotUrl"
        class="upload-screenshot"
        src="assets/images/chat/uploadScreenshot.png"
        alt="upload"
      />

      <span *ngIf="!screenshotUrl">{{
        "ELIMINATION.TOOLTIP.10" | translate
      }}</span>
      <span *ngIf="screenshotUrl"
        >{{ "ELIMINATION.DOWNLOAD" | translate }}
      </span>
    </button>
    <button [hidden]="hasScreenshotUpdateAccess" class="upload-button-hide">
      <img
        class="upload-screenshot"
        src="assets/images/chat/uploadScreenshot.png"
        alt="upload"
      />
      {{ "ELIMINATION.TOOLTIP.10" | translate }}
    </button>
    <button
      *ngIf="!enableScreenshot"
      [hidden]="!hasScreenshotUpdateAccess"
      class="upload-button-hide"
    >
      <img
        class="upload-screenshot"
        src="assets/images/chat/uploadScreenshot.png"
        alt="upload"
      />
      {{ "ELIMINATION.TOOLTIP.10" | translate }}
    </button>
  </div>
</div>
