<div clas="Comments">
  <div class="Comments-container">
    <div class="Comments-wrapper">
      <div class="Comments-innner">
        <h2 class="Comments-title">
          {{ "DISCUSSION.TITLE" | translate }}
        </h2>
        <div class="Comments-add">
          <h3 class="Comments-add-title">
            {{ "DISCUSSION.POST_COMMENT" | translate }}
          </h3>
          <app-discussion-comments
          [enableInput]="true"
          [enableCancelEvent]="false"
          (onSaveComment)="onSaveCommentt($event)" 
          [placeholder]="('DISCUSSION.COMMENT_PLACEHOLDER' | translate)"
          ></app-discussion-comments>
        </div>
        <div class="Comments-lists">
          <h3 class="Comments-lists-title">{{ "DISCUSSION.DISCUSSION_FEED" | translate }}</h3>
          <ul class="lists lists-parent"
          *ngIf="comments.length"
          [@toggleOpacity]="'visible'"
          >
            <ng-template #recursiveList let-comments>
              <ng-container *ngFor="let comment of comments let i = index">
                <li class="item item-parent"  [class.replies]="comment.replies">
              <div class="item-header">
                <div class="item-header-left">
                  <div class="avatar">
                    <img [src]="comment?.user?.profilePicture" alt="">
                  </div>
                  <div class="info">
                    <h5 class="name">{{ ((comment && comment.user && comment.user.username) ? comment?.user?.username : '') }}</h5>
                    <p class="day-ago">{{ comment?.modifiedOn | amTimeAgo }}</p>
                  </div>
                </div>
                <div class="item-header-right" [hidden]="!comment.isParentComment">
                  <div class="TeamCard-manage">
                    <ng-container>
                      <button class="TeamCard-manage-button-menu" [matMenuTriggerFor]="menu" #t="matMenuTrigger">
                        <mat-icon class="TeamCard-manage-button-menu-icon">
                          more_vert
                        </mat-icon>
                      </button>
                      <mat-menu class="global-MatMenu team-card" #menu="matMenu" xPosition="before">
                        <div class="TeamCard-manage-menu menu">
                          <a class="TeamCard-manage-menu-link link" *ngIf="!comment?.isUserFollowed && (currentUserId && currentUserId != comment?.user?._id)"  (click)="followUser(comment)">
                            <mat-icon class="icon"> person_add </mat-icon>
                            <span class="text">{{
                              "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.FOLLOW"
                                | translate
                            }}</span>
                          </a>

                          <a class="TeamCard-manage-menu-link link" *ngIf="comment?.isUserFollowed && (currentUserId && currentUserId != comment?.user?._id)"  (click)="followUser(comment)">
                            <mat-icon class="icon"> person_add </mat-icon>
                            <span class="text">{{ "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.UNFOLLOW" | translate }}</span>
                          </a>

                          <a class="TeamCard-manage-menu-link link" *ngIf="(currentUserId && currentUserId != comment?.user?._id)" (click)="toggleChat(comment)">
                            <mat-icon class="icon"> person_add </mat-icon>
                            <span class="text">{{ "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.CHAT" | translate }}</span>
                          </a>
                          <a class="TeamCard-manage-menu-link link" *ngIf="(currentUserId && currentUserId == comment?.user?._id)" 
                          (click)="deleteCommentOrReply(comment?._id, i)" >
                            <mat-icon class="icon"> delete </mat-icon>
                            <span class="text">{{
                              "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.REMOVE"
                                | translate
                            }}</span>
                          </a>
                        </div>
                      </mat-menu>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="item-main">
                <p class="comment">
                  {{ comment?.comment }}
                </p>

                </div>
               <div class="item-action">
                <div class="action-group">
                  <div class="action-item">
                    <!-- <button type="button" class="btn button-nobg">
                      <span
                        class="icon"
                        inlineSVG="assets/icons/manage-tournament/favorite.svg"
                        [class.is-active]="comment.type === 1"
                    >

                      ></span>
                    </button> -->
                    <mat-icon class="Discussion-comment-info-icon like"
                      (click)="likeOrUnLikeComment(comment?._id, 'comment', comment?.type, i,0,comment.isParentComment)" [class.is-active]="comment?.type === 1">
                      {{ comment?.type === 1 ? "favorite" : "favorite_border" }}
                    </mat-icon>
                    <span class="count"> {{ comment?.totalLikes }}</span>
                  </div>
                  <div class="action-item" [hidden]="!comment.isParentComment">
                    <button type="button" class="btn button-nobg" (click)="
                    comment?.replies?.length
                          ? (comment.showReplies = !comment.showReplies)
                          : getAllReply(comment?._id, i)
                      ">
                      <span
                        class="icon"
                        inlineSVG="assets/icons/manage-tournament/Icon-comment.svg"
                      ></span>
                    </button>
                    <span class="count">{{ comment?.totalReplies }}</span>
                  </div>

                  <div class="action-item" [hidden]="!comment.isParentComment">
                    <button type="button" class="btn button-nobg"

                    (click)="comment.openReply = !comment?.openReply">
                      {{ "BUTTON.REPLY" | translate }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="item-reply" *ngIf="comment.replies?.length && comment.showReplies">
                <ng-container
                *ngTemplateOutlet="
                  recursiveList;
                  context: { $implicit: comment?.replies }
                "
              ></ng-container>
                <!--<div class="item-reply-box">
                  <div class="reply">
                    <div class="input-group" *ngIf="comment.openReply">
                      <app-discussion-comments (onSaveComment)="onReplyCommentt($event,comment)" [isReplying]="true"></app-discussion-comments>
                    </div>
                  </div>
                </div> -->
              </div>
            </li>
            <ng-container *ngIf="comment.openReply">
              <app-discussion-comments (onSaveComment)="onReplyCommentt($event,comment,i)" (onReplyComment)="onHideComment(i)" [isProcessing]="isProcessing" [placeholder]="(('DISCUSSION.REPLY_PLACEHOLDER' | translate)+comment?.user?.username)" [isReplying]="true"></app-discussion-comments>
            </ng-container>
          </ng-container>
            </ng-template>
        <ng-container
        *ngTemplateOutlet="recursiveList; context: { $implicit: comments }"
      ></ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="Comments-please-login" *ngIf="false">
    <app-need-login></app-need-login>
  </div>
</div>
<!-- <lib-chat></lib-chat> -->
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
