<div class="Photo-fields-item-country country">
  <mat-form-field class="global-MatField" appearance="outline">
    <mat-label>
      {{
      "DASHBOARD.BOOK"| translate
      }}
    </mat-label>
    <mat-select>
      <mat-option value="Profile">{{"DASHBOARD.MY"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.DAS"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.MAT"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.TOUR"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.CONT"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.BOOK"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.TRAN"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.INBOX"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.TEAM"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.STAT"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.SETTIN"| translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<header class="Transactions-header">
  <h1 class="Transactions-header-title">
    {{ "PROFILE.TRANSACTIONS.TITLE" | translate }}
  </h1>
</header>

<section class="Transactions-table">
  <div class="Transactions-table-toggles global-MatToggles" ngbNav #nav="ngbNav" (navChange)="navChanges($event)"
    [(activeId)]="active">
    <!-- PURCHASE HISTORY -->
    <div class="Transactions-table-toggle" [ngbNavItem]="1">
      <a class="Transactions-table-toggle-link" ngbNavLink>
        {{ "PROFILE.TRANSACTIONS.PURCHASE_HISTORY" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <app-transactions-table *ngIf="purchaseHistory.length" [pagination]="pagination" [data]="purchaseHistory"
          (PageOnChanges)="onPageChanges($event)">
        </app-transactions-table>
      </ng-template>
    </div>

    <!-- REWARDS HISTORY -->
    <div class="Transactions-table-toggle" [ngbNavItem]="2">
      <a class="Transactions-table-toggle-link" ngbNavLink>
        {{ "PROFILE.TRANSACTIONS.REWARDS_HISTORY" | translate | capitalizeFirst }}
      </a>
      <ng-template ngbNavContent>
        <app-transactions-table *ngIf="rewardseHistory.length" [pagination]="pagination" [data]="rewardseHistory"
          (PageOnChanges)="onPageChanges($event)">
        </app-transactions-table>
      </ng-template>
    </div>
  </div>

  <div class="Transactions-table-content" [ngbNavOutlet]="nav"></div>
</section>
<mat-paginator [length]="paginationDetails?.totalDocs" [pageSize]="paginationData?.limit"
  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"></mat-paginator>


<p *ngFor='let data of testingarray'>
  {{testingarray.orderId}}
</p>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>