<div class="container-tab container">
  <div class="row no-gutters">
    <div class="col-6">
      <p>
        {{ "TOURNAMENT.CREATE.REGIONS_ALLOWED" | translate }}
        :
        {{ tournament?.regionsAllowed | merge: "arrayOfString" | translate }}
      </p>
      <p>
        {{ "TOURNAMENT.CREATE.T_PLATFORM" | translate }}
        :
        {{ tournament?.tournamentType | tournamentType | translate }}
      </p>
    </div>
    <div class="col-6">
      <p>
        {{ "TOURNAMENT.CREATE.BRACKET_FORMAT" | translate }}
        : {{ tournament.bracketType | bracket | translate }}
      </p>
      <p>
        {{ "TOURNAMENT.CREATE.VENUE" | translate }}
        :
        <span
          [innerHtml]="
            tournament?.venueAddress | merge: 'arrayOfObject' | translate
          "
        ></span>
      </p>
    </div>
  </div>
  <div class="sponsor-block-about" [hidden]="!tournament?.sponsors?.length">
    <h4>{{ "VIEW_TOURNAMENT.OVERVIEW.SPONSORS" | translate }}</h4>
    <ng-container *ngFor="let s of tournament?.sponsors">
      <div class="sponsor-block-about__about-sponsor">
        <div
          class="about-sponsor__banner-sponsor"
          [style.background-image]="
            !s?.sponsorBanner
              ? 'url(assets/images/Tournament/banner-sponsor.png)'
              : 'url(' + s?.sponsorBanner + ')'
          "
        ></div>
        <div class="row">
          <div
            class="about-sponsor__logo-sponsor"
            [style.background-image]="
              !s?.sponsorLogo
                ? 'url(assets/images/Tournament/logo-sponsor.png)'
                : 'url(' + s?.sponsorLogo + ')'
            "
          ></div>
          <p class="about-sponsor__name-sponsor">
            {{ s?.sponsorName || "N/A" }}
          </p>
          <p class="about-sponsor__website-sponsor" [hidden]="!s?.website">
            {{ "VIEW_TOURNAMENT.OVERVIEW.VISIT_US" | translate }} :
            {{ s?.website || "N/A" }}
          </p>
        </div>
      </div>
      <div class="sponsor-block-about__btn-stories">
        <a
          [hidden]="!s?.playStoreUrl"
          [href]="s?.playStoreUrl"
          target="_blank"
          class="btn-stories__google-app"
        ></a>
        <a
          [hidden]="!s?.appStoreUrl"
          [href]="s?.appStoreUrl"
          target="_blank"
          class="btn-stories__ios-app"
        ></a>
      </div>
    </ng-container>
  </div>
  <div class="winner-prize-block" [hidden]="!tournament?.isPrize">
    <h4>{{ "VIEW_TOURNAMENT.OVERVIEW.WINNER_PRIZE" | translate }}</h4>
    <div class="row">
      <div
        *ngFor="let item of tournament?.prizeList; let i = index"
        class="col-4 winner-prize-block__place"
      >
        <div
          [style.background-image]="
            'url(' + 'assets/images/Prize_Pool/' + (i + 1) + '.png)'
          "
        ></div>
        <h3>{{ i | prizePool | translate }}</h3>
        <h4>
          {{ tournament?.prizeCurrency }}
          {{ item?.value }}
        </h4>
        <span class="prize__{{ i + 1 }}"></span>
      </div>
    </div>
  </div>
</div>
