<div class="InputSearch">
    <mat-icon class="InputSearch-icon"> search </mat-icon>

    <input
      class="InputSearch-field"
      type="text"
      [(ngModel)]="text"
      (input)="onTextChang()"
      [placeholder]="placeholder"
    />
  </div>
