@import "shared";

:host {
  display: block;
}

.SingleElimination {
  display: inline-block;

  &-match-container {
    display: flex;
    width: 212px;

    @include xl {
      width: px2vw-xl(212px);
    }

    @include lg {
      width: px2vw-lg(212px);
    }

    @include md {
      width: px2vw-md(212px);
    }

    @include sm {
      width: px2vw-sm(212px);
    }
  }

  &-bracket {
    display: flex;
    flex-direction: row;
  }

  &-round {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 290px;

    @include xl {
      min-width: px2vw-xl(290px);
    }

    @include lg {
      min-width: px2vw-lg(290px);
    }

    @include md {
      min-width: px2vw-md(290px);
    }

    @include sm {
      min-width: px2vw-sm(290px);
    }
  }

  &-match {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 188px;
    width: 270px;
    padding: 15px 0;
    padding-left: 25px;

    @include xl {
      height: px2vw-xl(188px);
      width: px2vw-xl(270px);
      padding: px2vw-xl(15px) 0;
      padding-left: px2vw-xl(25px);
    }

    @include lg {
      height: px2vw-lg(188px);
      width: px2vw-lg(270px);
      padding: px2vw-lg(15px) 0;
      padding-left: px2vw-lg(25px);
    }

    @include md {
      height: px2vw-md(188px);
      width: px2vw-md(270px);
      padding: px2vw-md(15px) 0;
      padding-left: px2vw-md(25px);
    }

    @include sm {
      height: px2vw-sm(188px);
      width: px2vw-sm(270px);
      padding: px2vw-sm(15px) 0;
      padding-left: px2vw-sm(25px);
    }

    // every bracket line
    &::after,
    &::before {
      display: flex;
      flex-grow: 1;
      position: absolute;
      content: "";
      width: 15px;
      transform: translateY(20px);

      @include xl {
        width: px2vw-xl(15px);
        transform: translateY(px2vw-xl(20px));
      }

      @include lg {
        width: px2vw-lg(15px);
        transform: translateY(px2vw-lg(20px));
      }

      @include md {
        width: px2vw-md(15px);
        transform: translateY(px2vw-md(20px));
      }

      @include sm {
        width: px2vw-sm(15px);
        transform: translateY(px2vw-sm(20px));
      }
    }

    &::after {
      border-right: 2px solid var(--white-light);
      right: 0;
      height: 50%;

      @include xl {
        border-right-width: px2vw-xl(2px);
      }

      @include lg {
        border-right-width: px2vw-lg(2px);
      }

      @include md {
        border-right-width: px2vw-md(2px);
      }

      @include sm {
        border-right-width: px2vw-sm(2px);
      }
    }

    &::before {
      border-top: 2px solid var(--white-light);
      top: 50%;
      left: -20px;

      @include xl {
        border-top-width: px2vw-xl(2px);
        left: px2vw-xl(-20px);
      }

      @include lg {
        border-top-width: px2vw-lg(2px);
        left: px2vw-lg(-20px);
      }

      @include md {
        border-top-width: px2vw-md(2px);
        left: px2vw-md(-20px);
      }

      @include sm {
        border-top-width: px2vw-sm(2px);
        left: px2vw-sm(-20px);
      }
    }

    &:nth-child(odd) {
      &::after {
        top: 50%;
        border-top-right-radius: 0;
        border-top: 2px solid var(--white-light);
        transform: translateY(20px);

        @include xl {
          border-top-width: px2vw-xl(2px);
          transform: translateY(px2vw-xl(20px));
        }

        @include lg {
          border-top-width: px2vw-lg(2px);
          transform: translateY(px2vw-lg(20px));
        }

        @include md {
          border-top-width: px2vw-md(2px);
          transform: translateY(px2vw-md(20px));
        }

        @include sm {
          border-top-width: px2vw-sm(2px);
          transform: translateY(px2vw-sm(20px));
        }
      }
    }

    &:nth-child(even) {
      &::after {
        top: 0;
        border-bottom-right-radius: 0;
        border-bottom: 2px solid var(--white-light);
        transform: translateY(20px);

        @include xl {
          border-bottom-width: px2vw-xl(2px);
          transform: translateY(px2vw-xl(20px));
        }

        @include lg {
          border-bottom-width: px2vw-lg(2px);
          transform: translateY(px2vw-lg(20px));
        }

        @include md {
          border-bottom-width: px2vw-md(2px);
          transform: translateY(px2vw-md(20px));
        }

        @include sm {
          border-bottom-width: px2vw-sm(2px);
          transform: translateY(px2vw-sm(20px));
        }
      }
    }

    &:first-child:last-child {
      &::after {
        display: none;
      }
    }

    .SingleElimination-round:first-child > & {
      &::before {
        display: none;
      }
    }
  }

  &-finaleMatch {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 188px;
    width: 262px;
    padding: 15px 0;

    @include xl {
      height: px2vw-xl(188px);
      width: px2vw-xl(262px);
      padding: px2vw-xl(15px) 0;
    }

    @include lg {
      height: px2vw-lg(188px);
      width: px2vw-lg(262px);
      padding: px2vw-lg(15px) 0;
    }

    @include md {
      height: px2vw-md(188px);
      width: px2vw-md(262px);
      padding: px2vw-md(15px) 0;
    }

    @include sm {
      height: px2vw-sm(188px);
      width: px2vw-sm(262px);
      padding: px2vw-sm(15px) 0;
    }

    & > .SingleElimination-finaleMatch-container {
      display: block;
      margin-bottom: 6px;
      height: 100px;
      width: 212px;

      @include xl {
        margin-bottom: px2vw-xl(6px);
        height: px2vw-xl(100px);
        width: px2vw-xl(212px);
      }

      @include lg {
        margin-bottom: px2vw-lg(6px);
        height: px2vw-lg(100px);
        width: px2vw-lg(212px);
      }

      @include md {
        margin-bottom: px2vw-md(6px);
        height: px2vw-md(100px);
        width: px2vw-md(212px);
      }

      @include sm {
        margin-bottom: px2vw-sm(6px);
        height: px2vw-sm(100px);
        width: px2vw-sm(212px);
      }
    }
  }
}
