@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: block;
  width: 100%;
}

.SearchInput {
  &-form {
    display: flex;
    transition: all 100ms linear;
    width: 100%;
    height: px2vw-xl(70px);

    @include lg {
      height: px2vw-lg(70px);
    }

    @include md {
      height: px2vw-md(70px);
    }

    @include sm {
      height: px2vw-sm(70px);
    }

    &-input {
      flex-grow: 1;
      font-family: "stc-forward-regular", sans-serif;
      color: var(--base-submarine);
      padding: 0 px2vw-xl(24px);
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(24px);

      @include lg {
        padding: 0 px2vw-lg(24px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        padding: 0 px2vw-md(24px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        padding: 0 px2vw-sm(24px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }
    }

    &-button {
      margin-left: -1px;
      height: 100%;
      background-color: var(--primary-sunset-light);
      transition: all 100ms linear;
      width: px2vw-xl(70px);
      transition: 100ms linear;

      @include lg {
        width: px2vw-lg(70px);
      }

      @include md {
        width: px2vw-md(70px);
      }

      @include sm {
        width: px2vw-sm(70px);
      }

      &:hover {
        background-color: var(--primary-cinnabar);
      }

      &-icon {
        height: px2vw-xl(27px);
        width: px2vw-xl(27px);

        @include lg {
          height: px2vw-lg(27px);
          width: px2vw-lg(27px);
        }

        @include md {
          height: px2vw-md(27px);
          width: px2vw-md(27px);
        }

        @include sm {
          height: px2vw-sm(27px);
          width: px2vw-sm(27px);
        }
      }
    }
  }
  &-input {
    position: relative;
    &-close {
      position: absolute;
      z-index: 9;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
