@import "shared";
$xl-height: 200px;
$lg-md-sm-height: 170px;

:host {
  width: 100%;
}

.custom-file {
  height: $xl-height;

  @include lg {
    height: $lg-md-sm-height;
  }

  @include md {
    height: $lg-md-sm-height;
  }

  img {
    height: $xl-height;
    width: 100%;
    object-fit: contain;

    @include lg {
      height: $lg-md-sm-height;
    }

    @include md {
      height: $lg-md-sm-height;
    }
  }

  &-label {
    height: $xl-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: var(--white-medium);
    border: 1px dashed var(--black);
    border-radius: 5px;
    font-size: 15px;
    line-height: 20px;
    color: var(--black);

    button {
      margin-top: 20px;
    }

    &:after {
      visibility: hidden;
    }

    @include lg {
      height: $lg-md-sm-height;
      padding-top: 15px;
    }

    @include md {
      height: $lg-md-sm-height;
      padding-top: 15px;
    }

    .filebrowser-btn {
      background-color: var(--black);
      border: 0;
      padding: 0.3rem;
      width: 212px;
      height: 42px;
      font-size: 16px;
      line-height: 21px;

      @include lg {
        width: 190px;
        height: 35px;
        font-size: 14px;
        line-height: normal;
      }

      @include md {
        width: 190px;
        height: 35px;
        font-size: 14px;
        line-height: normal;
      }
    }
  }

  &-input {
    &:focus {
      opacity: 0;
    }
  }
}

.Participant-logo {
  width: 163px;
  height: 163px;

  img {
    width: 163px;
    height: 163px;
  }
  .custom-file-label {
    width: 163px;
    height: 163px;
  }
}
