<div>
  <div class="ViewUserDetails-box">
    <div class="ViewUserDetails-box-A">
      <div class="ViewUserDetails-box-ava">
        <img
          *ngIf="!userObject?.profilePicture"
          src="assets/images/Profile/article01.png"
          alt="profile image"
        />

        <img
          *ngIf="userObject?.profilePicture"
          [lazyLoad]="userObject?.profilePicture"
          alt="profile image"
        />
      </div>

      <div class="ViewUserDetails-box-info">
        <div class="ViewUserDetails-box-item">
          <div class="ViewUserDetails-box-item-label">
            {{ "ADMIN.USER_MANAGEMENT.LABEL.NAME" | translate }}
          </div>
          <div class="ViewUserDetails-box-item-title">
            <b>{{ userObject?.fullName || "NA" }}</b>
          </div>
        </div>
        <div class="ViewUserDetails-box-item">
          <div class="ViewUserDetails-box-item-label">
            {{ "ADMIN.USER_MANAGEMENT.LABEL.GENDER" | translate }}
          </div>
          <div class="ViewUserDetails-box-item-text">
            <b> {{ userObject?.gender || "NA" }} </b>
          </div>
        </div>
      </div>
    </div>

    <div class="ViewUserDetails-box-B">
      <div class="ViewUserDetails-box-item">
        <div class="ViewUserDetails-box-item-label">
          {{ "ADMIN.USER_MANAGEMENT.LABEL.GAMER_ID" | translate }}:
          {{ userObject?.gamerId || "NA" }}
        </div>
        <div class="ViewUserDetails-box-item-title"></div>
      </div>
      <div class="ViewUserDetails-box-item">
        <div class="ViewUserDetails-box-item-label">
          {{ "ADMIN.USER_MANAGEMENT.LABEL.USERNAME" | translate }}
        </div>
        <div class="ViewUserDetails-box-item-text">
          <b> {{ userObject?.email || "NA" }}</b>
        </div>
      </div>
    </div>

    <div class="ViewUserDetails-box-C">
      <div class="ViewUserDetails-box-item">
        <div class="ViewUserDetails-box-item-label">
          {{ "ADMIN.USER_MANAGEMENT.LABEL.DOB" | translate }}
        </div>
        <div class="ViewUserDetails-box-item-title">
          <b>{{ userObject?.dob | date: "dd MMM yy" }}</b>
        </div>
      </div>
    </div>

    <div class="ViewUserDetails-box-D">
      <div class="ViewUserDetails-box-item">
        <div class="ViewUserDetails-box-item-label">
          {{ "ADMIN.USER_MANAGEMENT.LABEL.PREFERENCES" | translate }}
        </div>
        <div class="ViewUserDetails-box-item-textB">
          <div class="ViewUserDetails-box-item-textB-row">
            <b>{{ "ADMIN.USER_MANAGEMENT.LABEL.GAME_GENRE" | translate }}</b>
            :
            <ng-container *ngFor="let item of userObject?.gamegenre">
              <span>
                {{ item.name }}
              </span>
            </ng-container>
            <ng-container
              *ngIf="
                userObject &&
                userObject.gamegenre &&
                userObject.gamegenre.length == 0
              "
              >NA</ng-container
            >
          </div>
          <div class="ViewUserDetails-box-item-textB-row">
            <b>{{
              "ADMIN.USER_MANAGEMENT.LABEL.GAME_PREFERENCES" | translate
            }}</b>
            :
            {{
              userObject?.gamePreferences?.length > 0
                ? userObject?.gamePreferences
                : "NA"
            }}
          </div>
          <div class="ViewUserDetails-box-item-textB-row">
            <b>{{ "ADMIN.USER_MANAGEMENT.LABEL.PLATFORM" | translate }}</b>
            :
            <ng-container
              *ngFor="let item of userObject?.platform; let isLast = last"
            >
              <span> {{ item.name }}{{ isLast ? "" : ", " }} </span>
            </ng-container>
            <ng-container
              *ngIf="
                userObject &&
                userObject.platform &&
                userObject.platform.length == 0
              "
              >NA</ng-container
            >
          </div>
          <div class="ViewUserDetails-box-item-textB-row">
            <b>{{ "ADMIN.USER_MANAGEMENT.LABEL.GAME_TYPE" | translate }}</b>
            :
            <ng-container *ngFor="let item of userObject?.game">
              <span>
                {{ item.name }}
              </span>
            </ng-container>
            <ng-container
              *ngIf="
                userObject && userObject.game && userObject.game.length == 0
              "
              >NA</ng-container
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <mat-tab-group
      mat-align-tabs="start"
      class="global-TabGroup ViewUserDetails-table"
      (selectedTabChange)="onTabChanged($event)"
    >
      <mat-tab
        label="{{
          'ADMIN.USER_MANAGEMENT.TABS.REWARD_TRANSACTIONS' | translate
        }}"
      >
        <div class="global-scrollbar">
          <ngx-datatable
            #table
            class="global-DataTable"
            [columns]="rewardTransColumnTab"
            [rows]="rewardList"
            [columnMode]="'force'"
            [headerHeight]="'auto'"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'"
            [limit]="50"
          >
            <ngx-datatable-column
              name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.DATE' | translate }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["date"] | date: "dd MMM yy" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.REWARD_TYPE' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
                >{{ row.rewardType }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.DESCRIPTION' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
                >{{ row.description }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.BALANCE_REWARD' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
                >{{ row.balanceReward }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.STATUS' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["status"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.EXPIRY_DATE' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["expiryDate"] | date: "dd MMM yy" }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </mat-tab>
      <mat-tab
        label="{{
          'ADMIN.USER_MANAGEMENT.TABS.TOURNAMENTS_JOINED' | translate
        }}"
      >
        <div class="global-scrollbar">
          <ngx-datatable
            #table
            class="global-DataTable"
            [columns]="tournamentColumnTab"
            [rows]="joinedTournamentList"
            [columnMode]="'force'"
            [headerHeight]="'auto'"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'"
            [limit]="50"
          >
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.TOURNAMENT_NAME' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["tournamentName"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["registration"] | registrationType }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.GAME' | translate }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["game"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGION' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["region"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.TYPE' | translate }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["type"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.START_DATE' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["startDate"] | date: "dd MMM yy" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a
                  title="Tournament details"
                  target="_blank"
                  [routerLink]="[AppHtmlRoutes.tournament, row['slug']]"
                  mat-icon-button
                  color="primary"
                  class="UserManagement-tableBtn is-view"
                >
                  <mat-icon>arrow_right_alt</mat-icon>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <app-pagination [page]="page" (currentPage)="pageChanged($event)">
          </app-pagination>
        </div>
      </mat-tab>
      <mat-tab
        label="{{
          'ADMIN.USER_MANAGEMENT.TABS.TOURNAMENTS_CREATED' | translate
        }}"
      >
        <div class="global-scrollbar">
          <ngx-datatable
            #table
            class="global-DataTable"
            [columns]="tournamentColumnTab"
            [rows]="createdTournamentList"
            [columnMode]="'force'"
            [headerHeight]="'auto'"
            [footerHeight]="'auto'"
            [rowHeight]="'auto'"
            [limit]="50"
          >
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.TOURNAMENT_NAME' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["tournamentName"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["registration"] | registrationType }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.GAME' | translate }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["game"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGION' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["region"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.TYPE' | translate }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["type"] }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{
                'ADMIN.USER_MANAGEMENT.TABLE_HEADER.START_DATE' | translate
              }}"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                {{ row["startDate"] | date: "dd MMM yy" }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a
                  title="Tournament details"
                  target="_blank"
                  [routerLink]="[AppHtmlRoutes.tournament, row['slug']]"
                  mat-icon-button
                  color="primary"
                  class="UserManagement-tableBtn is-view"
                >
                  <mat-icon>arrow_right_alt</mat-icon>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </mat-tab>

      <mat-tab
        label="{{ 'ADMIN.USER_MANAGEMENT.TABS.PURCHASE_HISTORY' | translate }}"
      >
        <div class="global-scrollbar">
          <ngx-datatable
            class="global-DataTable"
            (page)="setPage($event)"
            [columnMode]="'force'"
            [columns]="purchase.columns"
            [count]="transactionDetail?.totalDocs"
            [externalPaging]="true"
            [footerHeight]="'auto'"
            [headerHeight]="'auto'"
            [limit]="paginationData?.limit"
            [offset]="paginationData?.page - 1"
            [rowHeight]="'auto'"
            [rows]="rows"
          >
            <ngx-datatable-column
              name="{{
                'PROFILE.TRANSACTIONS.COLUMN2.BILL_NUMBER' | translate
              }}"
              prop="BillNumber"
            >
            </ngx-datatable-column>

            <ngx-datatable-column
              name="{{
                'PROFILE.TRANSACTIONS.COLUMN2.TOURNAMENT_NAME' | translate
              }}"
              prop="tournamentId.name"
            >
            </ngx-datatable-column>

            <ngx-datatable-column
              name="{{ 'PROFILE.TRANSACTIONS.COLUMN2.PROVIDER' | translate }}"
              prop="provider"
            >
            </ngx-datatable-column>

            <ngx-datatable-column
              name="{{ 'PROFILE.TRANSACTIONS.COLUMN2.ENTRY_FEE' | translate }}"
              prop="amount"
            >
            </ngx-datatable-column>

            <ngx-datatable-column
              name="{{
                'PROFILE.TRANSACTIONS.COLUMN2.CURRENCY_CODE' | translate
              }}"
              prop="currencyCode"
            >
            </ngx-datatable-column>

            <ngx-datatable-column
              name="{{ 'PROFILE.TRANSACTIONS.COLUMN2.ORDER_ID' | translate }}"
              prop="orderId"
            >
            </ngx-datatable-column>

            <ngx-datatable-column
              name="{{
                'PROFILE.TRANSACTIONS.COLUMN2.CREATED_DATE' | translate
              }}"
              prop="createdOn"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row?.createdOn | date: "d MMM , y, h:mm a" }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              name="{{ 'PROFILE.TRANSACTIONS.COLUMN2.STATUS' | translate }}"
              prop="transactionStatus"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                {{ row?.transactionStatus | customStatus }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
          <!-- <app-pagination [page]="page" (currentPage)="pageChanged($event)">
          </app-pagination> -->
        </div>
      </mat-tab>
    </mat-tab-group>
    <app-loading *ngIf="isLoading"></app-loading>

    <div class="ViewUserDetails-footer">
      <button (click)="goBack()" class="btn cancel">
        {{ "BUTTON.CANCEL" | translate }}
      </button>
      <button *ngIf="isUserActive" (click)="onBlockUser()" class="btn cancel">
        {{ "BUTTON.BLOCK_USER" | translate }}
      </button>
      <button
        *ngIf="!isUserActive"
        (click)="onUnBlockUser()"
        class="btn cancel"
      >
        {{ "BUTTON.UNBLOCK_USER" | translate }}
      </button>
      <button *ngIf="isUserMarkEO" (click)="onEO(true)" class="btn btn-first">
        {{ "BUTTON.MARK_AS_EO" | translate }}
      </button>
      <button *ngIf="!isUserMarkEO" (click)="onEO(false)" class="btn btn-first">
        {{ "BUTTON.REVOKE_EO" | translate }}
      </button>
      <button
        *ngIf="isUserVerified"
        (click)="onVerify(true)"
        class="btn btn-first"
      >
        {{ "BUTTON.MARK_AS_VERIFIED" | translate }}
      </button>
      <button
        *ngIf="!isUserVerified"
        (click)="onVerify(false)"
        class="btn btn-first"
      >
        {{ "BUTTON.REVOKE_VERIFIER" | translate }}
      </button>
      <button
        *ngIf="isUserInfluencer"
        (click)="onInfluencer(true)"
        class="btn btn-first"
      >
        {{ "BUTTON.MARK_AS_INFLUENCER" | translate }}
      </button>
      <button
        *ngIf="!isUserInfluencer"
        (click)="onInfluencer(false)"
        class="btn btn-first"
      >
        {{ "BUTTON.REVOKE_UNINFLUENCER" | translate }}
      </button>
      <button
        *ngIf="isUserAuthor"
        (click)="onAuthor(true)"
        class="btn btn-first"
      >
        {{ "BUTTON.MARK_AS_AUTHOR" | translate }}
      </button>
      <button
        *ngIf="!isUserAuthor"
        (click)="onAuthor(false)"
        class="btn btn-first"
      >
        {{ "BUTTON.REVOKE_AUTHOR" | translate }}
      </button>
    </div>
  </div>
</div>
