@import "shared";

:host {
  display: block;
}

.SocialAccounts {
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-list {
    margin-bottom: 0;

    app-account-item {
      margin-bottom: px2vw-xl(28px);

      @include lg {
        margin-bottom: px2vw-lg(28px);
      }

      @include md {
        margin-bottom: px2vw-md(28px);
      }

      @include sm {
        margin-bottom: px2vw-sm(28px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.CreateTeam {
  overflow: hidden;
  position: relative;
  background: $left-corner-light;

  &-container {
    @extend %u-dfStretch;
    min-height: 100vh;
    padding-top: px2vw-xl(144px);

    @include lg {
      padding-top: px2vw-lg(144px);
    }

    @include md {
      padding-top: px2vw-md(144px);
    }

    @include sm {
      padding-top: px2vw-sm(144px);
    }
  }

  &-logo {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(40px);
    height: px2vw-xl(48px);
    width: px2vw-xl(48px);

    @include lg {
      margin-right: px2vw-lg(40px);
      height: px2vw-lg(48px);
      width: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(40px);
      height: px2vw-md(48px);
      width: px2vw-md(48px);
    }

    @include sm {
      margin-right: px2vw-sm(40px);
      height: px2vw-sm(48px);
      width: px2vw-sm(48px);
    }
  }

  &-main {
    @extend %u-dfStart;
    flex-direction: column;
    flex-grow: 1;
    max-width: px2vw-xl(690px);
    padding-top: px2vw-xl(6px);
    padding-bottom: px2vw-xl(40px);

    @include lg {
      max-width: px2vw-lg(690px);
      padding-top: px2vw-lg(6px);
      padding-bottom: px2vw-lg(40px);
    }

    @include md {
      max-width: px2vw-md(690px);
      padding-top: px2vw-md(6px);
      padding-bottom: px2vw-md(40px);
    }

    @include sm {
      max-width: px2vw-sm(690px);
      padding-top: px2vw-sm(6px);
      padding-bottom: px2vw-sm(40px);
    }
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-search {
    margin-bottom: px2vw-xl(24px);
    width: 500px;

    margin-top: px2vw-xl(24px);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-buttons {
    @extend %u-dfCenter;
    margin-top: auto;
    margin-top: 20px;
  }

  &-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-person {
    position: absolute;
    top: px2vw-xl(72px);
    right: 0;
    height: px2vw-xl(810px);

    @include lg {
      top: px2vw-lg(72px);
      height: px2vw-lg(810px);
    }

    @include md {
      top: px2vw-md(72px);
      height: px2vw-md(810px);
    }

    @include sm {
      top: px2vw-sm(72px);
      height: px2vw-sm(810px);
    }
  }

  &-form {
    &-title {
      @extend %global-H5;
      margin-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }
    &-image {
      margin-bottom: px2vw-xl(26px);
      // border-bottom: px2vw-xl(1px) solid var(--white-light);
      padding-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(26px);
        // border-bottom-width: px2vw-lg(1px);
        padding-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(26px);
        // border-bottom-width: px2vw-md(1px);
        padding-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(26px);
        // border-bottom-width: px2vw-sm(1px);
        padding-bottom: px2vw-sm(32px);
      }
    }
    &-banner {
      width: 800px;
      margin-bottom: px2vw-xl(26px);
      // border-bottom: px2vw-xl(1px) solid var(--white-light);
      padding-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(26px);
        // border-bottom-width: px2vw-lg(1px);
        padding-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(26px);
        // border-bottom-width: px2vw-md(1px);
        padding-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(26px);
        // border-bottom-width: px2vw-sm(1px);
        padding-bottom: px2vw-sm(32px);
      }
    }
    &-field {
      width: 500px;
    }
    &-input {
      &-title {
        @extend %subtitle-1;
        margin-bottom: px2vw-xl(8px);

        @include lg {
          margin-bottom: px2vw-lg(8px);
        }

        @include md {
          margin-bottom: px2vw-md(8px);
        }

        @include sm {
          margin-bottom: px2vw-sm(8px);
        }
      }

      &-subtitle {
        @extend %caption;
        margin-bottom: px2vw-xl(16px);
        color: var(--white-medium);

        @include lg {
          margin-bottom: px2vw-lg(16px);
        }

        @include md {
          margin-bottom: px2vw-md(16px);
        }

        @include sm {
          margin-bottom: px2vw-sm(16px);
        }
      }
    }
    &-sm {
      &-item {
        @extend %u-dfCenter;
        margin-bottom: px2vw-xl(22px);

        @include lg {
          margin-bottom: px2vw-lg(22px);
        }

        @include md {
          margin-bottom: px2vw-md(22px);
        }

        @include sm {
          margin-bottom: px2vw-sm(22px);
        }

        &:last-child {
          margin-bottom: 0;
        }

        mat-form-field {
          max-width: px2vw-xl(304px);

          @include lg {
            max-width: px2vw-lg(304px);
          }

          @include md {
            max-width: px2vw-md(304px);
          }

          @include sm {
            max-width: px2vw-sm(304px);
          }
        }

        ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
      &-item-button {
        @extend %u-dfCenter;
        @extend %caption;
        margin-left: px2vw-xl(20px);
        margin-bottom: px2vw-xl(20px);
        margin-top: px2vw-xl(20px);
        background-color: transparent;
        color: var(--white-medium);
        transition: $global-transition2;

        @include lg {
          margin-left: px2vw-lg(20px);
        }

        @include md {
          margin-left: px2vw-md(20px);
        }

        @include sm {
          margin-left: px2vw-sm(20px);
        }

        &:hover {
          color: var(--color-primary);

          mat-icon {
            color: var(--color-primary);
          }
        }
      }

      &-item-button-icon {
        flex-shrink: 0;
        margin-right: px2vw-xl(12px);
        height: auto;
        width: auto;
        font-size: px2vw-xl(24px);
        color: var(--white-high);
        transition: $global-transition2;

        @include lg {
          margin-right: px2vw-lg(12px);
          font-size: px2vw-lg(24px);
        }

        @include md {
          margin-right: px2vw-md(12px);
          font-size: px2vw-md(24px);
        }

        @include sm {
          margin-right: px2vw-sm(12px);
          font-size: px2vw-sm(24px);
        }
      }
    }
  }
}

  .pannel.mat-select-panel{
    font-size: 13px;
    margin-left: 30px;
    opacity: 1;
    margin-top: 41px;
    min-width: 477.094px !important;
    width:426.094px
  
  }
  
  .addPlatforms{
    background-color: transparent;
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;color: #736CFF;}
  
    .addIcon{
      color: #736CFF;
      font-size: 19px;
    }

    .mat-pseudo-checkbox{
      border: 1px solid white !important;
       
  }

  .footer-action{
    display: flex;
    justify-content: right;
    padding-bottom: 4px;
    padding-right: 10px
  }