<!-- <button class="CreateTeam-form-sm-item-button" (click)="addfunction5()">
  <mat-icon class="CreateTeam-form-sm-item-button-icon"> add </mat-icon>
  {{ "ADD SOCIAL MEADIA" }}
</button> -->
<!-- <button class="CreateTeam-button button-primary" (click)="addfunction5()" style="margin-bottom: 15px;display: flex;">
  <mat-icon class=""> add </mat-icon>
 <div style="padding-top: 5px;">{{ "ADD SOCIAL MEDIA" }}</div>
</button> -->
<!-- <mat-form-field class="global-MatField mx-2 mt-4" appearance="outline" style="width: 480px; top: -30px; ">
  <mat-label>
    Select social media platform
  </mat-label>
  <mat-select [formControl]="accounts" multiple>
    <mat-option  (click)=" addsocial('Twitter')" >
     Twitter
    </mat-option>
    <mat-option  (click)=" addsocial('Facebook')">
      Facebook
     </mat-option>
     <mat-option (click)=" addsocial('Fwitch')" >
      Twitch
     </mat-option>
  </mat-select>
</mat-form-field> -->

<!-- <mat-form-field class="global-MatField mx-2 mt-4" appearance="outline" style="width: 480px; top: -30px; ">
  <mat-label>Select social media platform</mat-label>
  <mat-select  [(ngModel)]="selectedAccounts" (ngModelChane)="selectedAccounts"  multiple>
    <mat-option *ngFor="let accounts2 of accounts2List; let i=index" [value]="accounts2" (click)=" addsocial(accounts2,i)">{{accounts2}}</mat-option>
  </mat-select>
</mat-form-field>

<div class="SocialAccounts">
  <div class="SocialAccounts-list" *ngIf="accounts.length">
    <ng-container *ngFor="let account of accounts; let i=index">
      <app-account-item [data]="account" (removesocialmedia)="remove($event,i)"></app-account-item>
    </ng-container>
  </div>
</div> -->



<mat-form-field class="global-MatField mx-2 mt-4" appearance="outline" style="width: 478px; top: -30px; padding-top: 1rem;">
  <mat-label>Select social media platform</mat-label>
  <mat-select  [(ngModel)]="selectedAccounts" (ngModelChane)="selectedAccounts"  multiple  panelClass="pannel"  >
    <mat-option *ngFor="let accounts2 of accounts2List; let i=index" [value]="accounts2" (click)="addsocial(accounts2,i)">{{accounts2}}</mat-option>
 
    <hr style="border: 1px solid rgba(255, 255, 255, 0.2);">
<div  class="footer-action">
    <mat-icon class="addIcon">add</mat-icon>
    <button class="addPlatforms" (click)="addPlatforms()">ADD PLATFORMS</button>
</div>
  </mat-select>
</mat-form-field>

<div class="SocialAccounts">
  <div class="SocialAccounts-list" *ngIf="addPlatform.length">
    <ng-container *ngFor="let account of addPlatform; let i=index">
      <app-account-item [data]="account" (removesocialmedia)="remove($event,i)"></app-account-item>
    </ng-container>
  </div>  
</div>