@import "shared";

$--card-bg: linear-gradient(0deg, var(--white-light), var(--white-light)), var(--color-background);

$--card-footer-bg: radial-gradient(94.18% 487.86% at -5.21% 100%, #736cff 0%, rgba(115, 108, 255, 0) 100%);

$--card-footer-bg-disable: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #0b0824;

:host {
  display: block;
}

.SelectType {
  @include lg {
    padding-top: px2vw-lg(210px);
  }

  @include md {
    padding-top: px2vw-md(210px);
  }

  @include sm {
    padding-top: px2vw-sm(210px);
  }

  &-main {
    @extend %u-dfCenter;
    flex-direction: column;
  }

  &-title {
    @extend %global-H4;
    // margin-top: px2vw-xl(10px);
    text-align: center;
    /* 1440px/Headline 4 */

    font-weight: 900;

    /* Custom/Colour/White */

    color: var(--white);
    @include lg {
      margin-bottom: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(48px);
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(2, px2vw-xl(288px));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(16px);
    padding-top: 0px;
    @include lg {
      grid-template-columns: repeat(2, px2vw-lg(288px));
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(16px);
    }

    @include md {
      grid-template-columns: repeat(2, px2vw-md(288px));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(16px);
    }

    @include sm {
      grid-template-columns: repeat(2, px2vw-sm(288px));
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(16px);
    }
  }

  &-card {
    @extend %u-dfCenter;
    flex-direction: column;
    overflow: hidden;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(8px);
    background: $--card-bg;
    cursor: pointer;
    transition: $global-transition2;
    user-select: none;

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(8px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(8px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(8px);
    }

    &:hover {
      background: var(--txt-secondry-border);

      .card-image ::ng-deep svg {
        path,
        rect {
          fill: var(--black);
        }
      }

      .card-footer {
        background: transparent;
      }

      .card-title,
      .card-text,
      .card-footer-text,
      .card-footer-icon {
        color: var(--black);
      }
    }

    &.disabled {
      pointer-events: none;

      .card-image ::ng-deep svg {
        path,
        rect {
          fill: var(--white-disabled);
        }
      }

      .card-title,
      .card-text {
        color: var(--white-disabled);
      }

      .card-footer {
        background: $--card-footer-bg-disable;
        justify-content: center;
      }

      .card-footer-text {
        color: var(--color-primary);
      }
    }
  }

  &-card-content {
    text-align: center;
    padding: px2vw-xl(33px) px2vw-xl(16px) px2vw-xl(16px);

    @include lg {
      padding: px2vw-lg(33px) px2vw-lg(16px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(33px) px2vw-md(16px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(33px) px2vw-sm(16px) px2vw-sm(16px);
    }
  }

  &-card-image-block {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-card-image {
    display: block;

    ::ng-deep svg {
      height: px2vw-xl(60px);

      @include lg {
        height: px2vw-lg(60px);
      }

      @include md {
        height: px2vw-md(60px);
      }

      @include sm {
        height: px2vw-sm(60px);
      }

      path,
      rect {
        transition: $global-transition2;
      }
    }
  }

  &-card-title {
    @extend %global-H7;
    margin-bottom: px2vw-xl(12px);
    color: var(--white);
    transition: $global-transition2;

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-card-text {
    @extend %body-2;
    margin-bottom: 0;
    min-height: px2vw-xl(95px);
    color: var(--white-medium);
    transition: $global-transition2;

    @include lg {
      min-height: px2vw-lg(95px);
    }

    @include md {
      min-height: px2vw-md(95px);
    }

    @include sm {
      min-height: px2vw-sm(95px);
    }
  }

  &-card-footer {
    @extend %u-dfCenterBtw;
    border-top-color: transparent;
    height: 100%;
    width: 100%;
    padding: px2vw-xl(20px) px2vw-xl(24px);
    background: $--card-footer-bg;
    transition: $global-transition2;

    @include lg {
      padding: px2vw-lg(20px) px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(20px) px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(20px) px2vw-sm(24px);
    }
  }

  &-card-footer-text {
    @extend %overline;
    margin-bottom: 0;
    color: var(--white);
    transition: $global-transition2;
  }

  &-card-footer-icon {
    margin-left: px2vw-xl(15px);
    height: auto;
    width: auto;
    font-size: px2vw-xl(20px);
    color: var(--white);
    transition: $global-transition2;

    @include lg {
      margin-left: px2vw-lg(15px);
      font-size: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(15px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
      font-size: px2vw-sm(20px);
    }
  }
}
.SelectType {
  // min-height: 100vh;
  // padding-top: px2vw-xl(210px);
  // background-size: 100%;
  // background-position: bottom;
  // background-repeat: no-repeat;

  @include lg {
    padding-top: px2vw-lg(210px);
  }

  @include md {
    padding-top: px2vw-md(210px);
  }

  @include sm {
    padding-top: px2vw-sm(210px);
  }

  &-main {
    @extend %u-dfCenter;
    flex-direction: column;
  }

  &-title2 {
    @extend %global-H4;
    margin-bottom: px2vw-xl(40px);
    text-align: center;
    /* 1440px/Headline 4 */

    font-weight: 900;

    /* Custom/Colour/White */

    color: var(--white);
    @include lg {
      margin-bottom: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(48px);
    }
  }
}

section.ss-content-page {
  min-height: 100vh;
  font-family: 'Paralucent-Demi' !important;
  // background-color: var(--blackcurrant-color-medium);
  position: relative;
  padding: px2vw-xl(80px) 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  // background-image: url(../../../../../assets/images/create-tournament/bg-121212.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    padding: px2vw-lg(80px) 0 0 0;
  }

  @include md {
    padding: px2vw-md(80px) 0 0 0;
  }
  @include sm {
    overflow: visible;
    padding: px2vw-sm(80px) 0;
  }
  &::before {
    // content: "";
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // // background-image: url("../../../../../assets/images/Tournament/bg-create-tournament-left.png");
    // background-repeat: no-repeat;
    // background-size: auto;
    // background-position-y: bottom;
    // background-position-x: left;
    // width: 100%;
    // height: 100%;
    @include lg {
      background-size: 26.533333333%;
    }
    @include md {
      content: none;
    }
  }
  &::after {
    // content: "";
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // // background-image: url("../../../../../assets/images/Tournament/bg-create-tournament-right.png");
    // background-repeat: no-repeat;
    // background-size: auto;
    // background-position-y: 112%;
    // background-position-x: right;
    // width: 100%;
    // height: 100%;
    @include lg {
      background-size: 26.533333333%;
    }
    @include md {
      content: none;
    }
  }
  .full-container {
    position: relative;
    z-index: 2;
    height: 100%;
    .wrapper {
      height: 100%;
      @include md {
        padding: 0 px2vw-md(24px);
      }
      .inner {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 80px);
        @include md {
          -webkit-align-items: flex-start;
          align-items: flex-start;
          padding-top: px2vw-md(51px);
          height: auto;
        }
        .box-content {
          width: 100%;
          padding: px2vw-xl(5px) 0 0 0;
          .heading {
            text-align: center;
            margin-bottom: px2vw-xl(32px);
            @include md {
              margin-bottom: px2vw-md(24px);
              padding: px2vw-md(150px) 0 0 0;
            }
            

            @include sm {
              padding: px2vw-sm(10px) 0 0 0;
            }
            .title {
              font-style: normal;
              font-weight: 600;
              font-size: px2vw-xl(40px);
              line-height: px2vw-xl(48px);
              text-align: center;
              color: var(--white);
              margin-bottom: 0;
              text-transform: none;
              font-family: 'Paralucent-Demi' !important;
              @include lg {
                font-size: px2vw-xl(30px);
                font-size: px2vw-lg(40px);
                line-height: px2vw-lg(48px);
              }
              @include md {
                font-size: px2vw-md(30px);
                font-size: px2vw-md(40px);
                line-height: px2vw-md(48px);
              }
              @include sm {
                font-size: px2vw-sm(24px);
                font-size: px2vw-sm(32px);
                letter-spacing: -0.5px;
                text-align: left;
              }
            }
          }
          .content {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            width: 100%;
            max-width: px2vw-xl(756px);
            margin: 0 auto;
            @include lg{
              max-width: px2vw-lg(756px);
            }
            @include md {
              width: 100%;
              max-width: 100%;
            }
            @include sm {
              flex-direction: column;
            }
            .content-item {
              width: 100%;
              max-width: px2vw-xl(342px);
              @include lg{
                max-width: px2vw-lg(342px);
              }
              @include md {
                margin-bottom: px2vw-md(24px);
                max-width: 100%;
                text-align: center;
              }
              @include sm {
                margin-bottom: 0;
              }

              a.btn-create-tournament {
                text-align: center;
                background-color: transparent;
                background-color: var(--color-secondary-disabled);
                letter-spacing: -0.5px;
                text-transform: none;
                position: relative;
                border: px2vw-xl(1px) solid var(--color-secondary);
                box-sizing: border-box;
                border-radius: px2vw-xl(20px);
                margin-bottom: 0;
                width: 100%;
                height: px2vw-xl(324px);
                max-height: 342px;
                padding: px2vw-xl(32px) px2vw-xl(24px);
                @include lg {
                  height: px2vw-lg(324px);
                  padding: px2vw-lg(32px) px2vw-lg(24px);
                }
                @include md {
                  -webkit-flex-wrap: wrap;
                  flex-wrap: wrap;
                  margin-bottom: 0;
                  height: px2vw-md(324px);
                  padding: px2vw-md(32px) px2vw-md(24px);
                }
                @include sm {
                  height: px2vw-sm(417.792px);
                  padding: px2vw-sm(49.152px) px2vw-sm(36.864px);
                }
                &:hover {
                  background-color: var(--txt-secondry-border);
                }
                .icon {
                  margin-bottom: px2vw-xl(25px);
                  @include lg{
                    margin-bottom: px2vw-lg(25px);
                  }
                  @include md{
                    margin-bottom: px2vw-md(25px);
                  }
                  @include sm {
                    margin-bottom: px2vw-sm(17px);
                  }
                }
                .title {
                  font-family: "Paralucent-Demi", sans-serif;
                  font-style: normal;
                  font-weight: 600;
                  font-size: px2vw-xl(24px);
                  line-height: px2vw-xl(32px);
                  color: var(--white);
                  width: 100%;
                  margin-bottom: px2vw-xl(16px);

                  @include lg{
                    font-size: px2vw-lg(24px);
                    line-height: px2vw-lg(32px);
                    margin-bottom: px2vw-lg(16px);
                  }
                  @include md{
                    font-size: px2vw-md(24px);
                    line-height: px2vw-md(32px);
                    margin-bottom: px2vw-md(16px);
                  }
                  @include sm {
                    font-size: px2vw-sm(20px);
                    line-height: px2vw-sm(28px);
                    margin-bottom: px2vw-sm(8px);
                  }
                }
                .des {
                  font-family: "Paralucent-Demi", sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: px2vw-xl(16px);
                  line-height: px2vw-xl(24px);
                  color: var(--white);
                  text-transform: none;
                  letter-spacing: 0;
                  max-width: px2vw-xl(260px);
                  margin: 0 auto px2vw-xl(24px);

                  @include lg{
                    font-size: px2vw-lg(16px);
                    line-height: px2vw-lg(24px);
                    max-width: px2vw-lg(253px);
                  }
                  @include md{
                    font-size: px2vw-md(16px);
                    line-height: px2vw-md(24px);
                    max-width: px2vw-md(253px);
                  }
                  @include sm {
                    margin: 0 auto px2vw-sm(16px);
                    font-size: px2vw-sm(16px);
                    line-height: px2vw-sm(24px);
                  }
                }
              }
              .setup-time {
                text-align: center;
                display: -webkit-inline-flex;
                display: inline-flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;
                width: 100%;
                .icon {
                  display: -webkit-inline-flex;
                  display: inline-flex;
                  -webkit-align-items: center;
                  align-items: center;
                  margin-right: px2vw-xl(15px);
                  margin-bottom: 0 !important;
                }
                .text {
                  @extend %global-textSm;
                  //styleName: 💻 Desktop/Body S Med;
                  font-family: "Paralucent-Medium", sans-serif;
                  font-size: px2vw-xl(16px);
                  font-style: normal;
                  font-weight: 400;
                  line-height: px2vw-xl(24px);
                  letter-spacing: 0.5px;
                  text-align: left;
                  color: var(--color-primary-disabled);

                  @include lg{
                    font-size: px2vw-lg(16px);
                    line-height: px2vw-lg(24px);
                  }

                  @include md{
                    font-size: px2vw-md(16px);
                    line-height: px2vw-md(24px);
                  }
                  @include sm{
                    font-size: px2vw-sm(16px);
                    line-height: px2vw-sm(24px);
                  }

                }
              }
            }
            .content-center {
              @include sm {
                width: 100%;
                height: px2vw-sm(1px);
                background: var(--color-black-medium);
                margin: px2vw-sm(22px) 0 px2vw-sm(24px);
              }
              .text {
                display: -webkit-inline-flex;
                display: inline-flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;
                @extend %global-textSm;
                text-align: center;
                color: var(--white);
                height: px2vw-xl(324px);
                max-height: px2vw-xl(324px);
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(24px);
                letter-spacing: 0.5px;
                font-family: "Paralucent-Demi", sans-serif;
                @include lg {
                  height: px2vw-lg(324px);
                  font-size: px2vw-lg(16px);
                  line-height: px2vw-lg(24px);
                }
                @include md {
                  height: px2vw-md(324px);
                  font-size: px2vw-md(16px);
                  line-height: px2vw-md(24px);
                }
                @include sm {
                  height: px2vw-sm(417.792px);
                  font-size: px2vw-sm(16px);
                  line-height: px2vw-sm(24px);
                }
              }
            }
          }
        }
      }
    }
  }
}
section.ss-header-page {
  .inner {
    a.btn-back {
      opacity: 0;
    }
  }
}
