<!-- <div
  class="SelectPlatform-wrap"
  *ngIf="selectedGame"
>
  <main class="SelectPlatform-main" [lazyLoad]="selectedGame?.image">
    <header class="SelectPlatform-header">
      <h1 class="SelectPlatform-header-title">
        {{ "MATCHMAKING.SELECT_PLATFORM.TITLE" | translate }}
      </h1>
      <h2 class="SelectPlatform-header-descrip">
        <p class="content-bg-w">
          {{ "MATCHMAKING.SELECT_PLATFORM.DESCRIP.FIND_A_MATCH" | translate }}
        </p>
        <p class="content-bg-p">
          {{
            "MATCHMAKING.SELECT_PLATFORM.DESCRIP.HONE_YOUR_SKILLS" | translate
          }}
        </p>
      </h2>
      <p class="SelectPlatform-header-subtitle">
        {{ "MATCHMAKING.SELECT_PLATFORM.SUBTITLE" | translate }}
      </p>
    </header>
    <div class="SelectPlatform-items-block">
      <section class="SelectPlatform-items">
        <h3 class="SelectPlatform-items-title">
          {{ "MATCHMAKING.SELECT_PLATFORM.GAME_TYPE" | translate }}
        </h3>
        <ul class="SelectPlatform-items-cards" *ngIf="gameTypes?.length">
          <ng-container *ngFor="let game of gameTypes">
            <li
              class="SelectPlatform-items-card"
              (click)="nextPage(game)"
              [class.active]="selectedGameType === game?.type"
            >
              <div class="SelectPlatform-items-card-wrap">
                <div class="SelectPlatform-items-card-icon-block">
                  <div
                    class="SelectPlatform-items-card-icon card-icon"
                    [class]="game?.type"
                    [inlineSVG]="game?.icon"
                  ></div>
                </div>
                <p class="SelectPlatform-items-card-name card-name">
                  {{ game?.title | translate }}
                </p>
              </div>
            </li>
          </ng-container>
        </ul>
      </section>
    </div>
  </main>
</div> -->

<app-header-dynasty
  [currentPageLink]="AppHtmlGetMatchRoutes.platforms"
  [title]="'MATCHMAKING.SELECT_PLATFORM.TITLE' | translate"
></app-header-dynasty>

<div class="ct-HeaderTop">
  <div class="SelectGame">
    <div class="SelectGame-container">
      <h2 class="SelectGame-title global-Title3">
        {{ "CREATE_TOURNAMENT.SELECT_GAME.TITLE" | translate }}
      </h2>
      <p class="SelectGame-subtitle mb-hide">
        {{ "CREATE_TOURNAMENT.SELECT_GAME.SUBTITLE" | translate }}
      </p>
      <div class="SelectGame-search">
        <div class="InputSearch">
          <input class="InputSearch-field" name="search" type="text" [(ngModel)]="text" 
            [placeholder]="'Select'" autocomplete="off" />
          <span class="icon">
            <img src="../../../../../assets/icons/create-tournament/icon-Search.png" alt="" />
          </span>
        </div>
      </div>
      <app-loading *ngIf="showLoader"></app-loading>
      <ul *ngIf="games.length" class="SelectGame-list">
        <ng-container *ngFor="let game of filterGame()">
          <li class="SelectGame-item" [class.is-active]="game?._id === selectedGame?._id">
            <div class="SelectGame-card-image-block image-block" (click)="onSelectGame(game)">
              <div class="SelectGame-card-image">
                <img class="SelectGame-item-image image" [src]="game.image" [alt]="game.name" />
                <span class="icon">
                  <mat-icon class="SelectGame-card-selected-icon">
                    done
                  </mat-icon>
                </span>
              </div>
            </div>

            <p class="SelectGame-item-name name global-Text">
              {{ game.name }}
            </p>
          </li>
        </ng-container>
      </ul>
    </div>
   
  </div>
</div>

<div class="ss-footer-buttons">
  <div class="wrapper">
    <div class="inner">
      <div class="box-item box-item-left">
        <div class="wap-step">
          Step <span class="nth-step">{{ step }}</span> of {{ totalPages }}:
          <span *ngIf="numberStep === 1">{{
            "CREATE_TOURNAMENT.PAGE_SWITCHER.STEP1" | translate
          }}</span>
          <span *ngIf="numberStep === 2">{{
            "MATCH_MAKING.MATCH_SETTING" | translate
          }}</span>
         
        </div>
        <div class="progressBarContainer mb-hide">
          <div class="app-progressBar">
            <ul class="lists" *ngIf="totalPages == 2">
              <li [class]="step >= 1 ? 'item active' : 'item'"></li>
              <li [class]="step >= 2 ? 'item active' : 'item'"></li>              
            </ul>
            <ul class="lists" *ngIf="totalPages == 4">
              <li [class]="step >= 1 ? 'item active' : 'item'"></li>
              <li [class]="step >= 2 ? 'item active' : 'item'"></li>  
              <li [class]="step >= 3 ? 'item active' : 'item'"></li>  
              <li [class]="step >= 4 ? 'item active' : 'item'"></li>              
            </ul>
          </div>
        </div>
      </div>
      <div class="box-item box-item-right">
        <button class="PageSwitcher-button second" (click)="next()">
          {{ "BUTTON.NEXT" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer-menu-mobile></app-footer-menu-mobile>
<!-- <esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading> -->