<nav class="Sidebar">
  <div class="Sidebar-mob">
    <button mat-button [matMenuTriggerFor]="menu" class="Sidebar-user">
      <img src="./assets/images/Home/katty.png" alt="" />
      <span class="mesf-Text">John Doe</span>
    </button>
    <mat-menu #menu="matMenu" class="mesf-MatMenu">
      <button (click)="onLogOut()" mat-menu-item>
        <span>{{ "BUTTON.LOGOUT" | translate }}</span>
      </button>
    </mat-menu>

    <button matBadge="4" class="mesf-IconBtn AdminHeader-icon">
      <fa-icon [icon]="faBell" class="AdminHeader-icon-fa"></fa-icon>
    </button>
  </div>

  <!-- TODO: Disabled dashboard -->
  <!-- <a
    [routerLink]="['/admin/dashboard']"
    routerLinkActive="active"
    class="Sidebar-item dashboard"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/dashboard.svg'"
    ></div>
    <span class="Sidebar-item-name">{{ "SIDEBAR.DASHBOARD" | translate }}</span>
  </a> -->
  <a
    *ngIf="isAllowed('em')"
    [routerLink]="['/admin/esports-management']"
    routerLinkActive="active"
    class="Sidebar-item esports"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/esportsmangement.svg'"
    ></div>
    <span class="Sidebar-item-name">{{
      "SIDEBAR.ESPORTS_MANAGEMENT" | translate
    }}</span>
  </a>
  <a
    *ngIf="isAllowed('cm')"
    [routerLink]="['/admin/content-management']"
    routerLinkActive="active"
    class="Sidebar-item content"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/contentmangement.svg'"
    ></div>
    <span class="Sidebar-item-name">{{
      "SIDEBAR.CONTENT_MANAGEMENT" | translate
    }}</span>
  </a>
  <a
    *ngIf="isAllowed('um')"
    [routerLink]="['/admin/user-management']"
    routerLinkActive="active"
    class="Sidebar-item user"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/usermanagement.svg'"
    ></div>
    <span class="Sidebar-item-name">{{
      "SIDEBAR.USER_MANAGEMENT" | translate
    }}</span>
  </a>
  <a
    *ngIf="isAllowed('acm')"
    [routerLink]="['/admin/access-management']"
    routerLinkActive="active"
    class="Sidebar-item access"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/accessmanagement.svg'"
    ></div>
    <span class="Sidebar-item-name">{{
      "SIDEBAR.ACCESS_MANAGEMENT" | translate
    }}</span>
  </a>

  <a
    *ngIf="isAllowed('un')"
    [routerLink]="['/admin/user-notifications']"
    routerLinkActive="active"
    class="Sidebar-item user-notification"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/usermanagement.svg'"
    ></div>
    <span class="Sidebar-item-name">{{
      "SIDEBAR.USER_NOTIFICATION" | translate
    }}</span>
  </a>
  <a
    *ngIf="isAllowed('sc')"
    [routerLink]="['/admin/site-configuration']"
    routerLinkActive="active"
    class="Sidebar-item user-notification"
  >
    <div
      class="Sidebar-item-icon"
      [inlineSVG]="'./assets/images/admin-menu/site-confirmation.svg'"
    ></div>
    <span class="Sidebar-item-name">{{
      "SIDEBAR.SITE_CONFIGURATION" | translate
    }}</span>
  </a>
</nav>
