<div class="AccountItem form-group">
  <!-- <h3 class="AccountItem-title">
    {{ data.label }}
  </h3> -->
  <div class="AccountItem-content">
    <div class="mb-hide">
      <div class="AccountItem-icon-block">
        <span class="AccountItem-icon" [inlineSVG]="data.icon"></span>
        <!-- <img class="AccountItem-icon" [src]="data.icon" alt="icon" /> -->
      </div>
    </div>

    <div class="form-field-item">
      <div class="form-field-label">
        <label class="form-label"> {{ data.label }} </label>
      </div>
      <div class="input-group">
        <mat-form-field class="AccountItem-field global-MatField" appearance="outline" autocomplete="off">
          <input matInput class="form-field" value="value" [placeholder]="data.placeHolder" [(ngModel)]="value" (change)="updateSocial(value)" />
          <button matSuffix mat-icon-button aria-label="Clear" (click)="removeSocial(value)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>