@import "shared";

.Phone {
  text-align: center;
  width: 38rem;
  margin-left: 8rem;
  padding: 35px;


  &-title {
    margin-bottom: px2vw-xl(16px);
    font-size: 34px;
    text-align: center;
    // margin-left: inherit;
    font-weight: bold;
    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: 34px;
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: 34px;
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: 34px;
      margin-top: 30px;
      line-height: 50px;
      margin-bottom: px2vw-sm(64px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(25px);

    @include lg {
      margin-bottom: px2vw-lg(25px);
    }
  }

  &-submit {
    margin-bottom: px2vw-xl(80px);
    text-align: center;

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }
}

.login-link {
  position: absolute;
  right: px2vw-xl(-10px);
  margin-top: px2vw-xl(40px);
  font-size: 90%;
  cursor: pointer;
}

.test1 {
  margin-top: px2vw-xl(75px);
  text-align: center;
}
.submitt {
  height: 45px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 20px, 16px, 20px, 16px;
}
.reg {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #736cff;
}
