<form
  [formGroup]="form"
  (submit)="onSubmitEvent()"
  class="SubmitForm"
  (click)="toast()"
>
  <div class="LogReg-title global-Title">{{ data.title | translate }}</div>

  <div class="LogReg-subtitle global-Text">{{ data.subtitle | translate }}</div>

  <div class="LogReg-error" *ngIf="data.error">
    {{ data.error | translate }}
  </div>
  <ng-container *ngIf="data.firstInputType === 'phone';">
    <div class="global-intlTel organizer-phone-valid">
      <ngx-intl-tel-input
        [inputId]="'firstInput'"
        [preferredCountries]="preferredCountries"
        [searchCountryField]="[SearchCountryField.All]"
        [selectedCountryISO]="selectedCountryISO"
        [maxLength]="15"
        [enableAutoCountrySelect]="true"
        [selectFirstCountry]="false"
        [enablePlaceholder]="true"
        [searchCountryPlaceholder]="
          'PLACEHOLDER.PHONE_SEARCH_CONTRY' | translate
        "
        [searchCountryFlag]="true"
        [separateDialCode]="true"
        [phoneValidation]="true"
        (countryChange)="onCountryChange($event)"
        name="firstInput"
        formControlName="firstInput"
        ngxIntlTelPlaceholder="5XXXXXXXX"
      >
      </ngx-intl-tel-input>

      <mat-error
        *ngIf="
          form.get('firstInput').touched &&
          form.get('firstInput').hasError('required')
        "
        >{{ "LOG_REG.LOGIN.REQUIRED" | translate }}</mat-error
      >
      <mat-error
        *ngIf="form.get('firstInput').hasError('validatePhoneNumber')"
        >{{ "LOG_REG.LOGIN.VALIDATION1" | translate }}</mat-error
      >
    </div>
  </ng-container>

  <ng-container *ngIf="data.secondInputType === 'email'">
    <mat-form-field
      class="global-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>{{ data.secondInputPlaceholder | translate }}</mat-label>
      <input
        class="SubmitForm-input"
        formControlName="secondInput"
        matInput
        [type]="data.secondInputType"
      />
      <button type="button" matSuffix mat-button>
        <span
          class="material-icons"
          *ngIf="
            !form.get('secondInput').touched || !form.get('secondInput').invalid
          "
          >{{ data.secondInputIcon }}</span
        >
        <span
          class="material-icons error-icon"
          *ngIf="
            form.get('secondInput').touched && form.get('secondInput').invalid
          "
          >error</span
        >
      </button>
      <mat-error *ngIf="form.get('secondInput').hasError('required')">{{
        "LOG_REG.LOGIN.REQUIRED" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('secondInput').hasError('email')">{{
        "LOG_REG.LOGIN.VALIDATION2" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('secondInput').hasError('minlength')">{{
        "LOG_REG.LOGIN.VALIDATION3" | translate
      }}</mat-error>
      <mat-error *ngIf="form.get('secondInput').hasError('maxlength')">{{
        "LOG_REG.LOGIN.VALIDATION4" | translate
      }}</mat-error>
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="data.thirdInputType === 'dob'">
    <mat-form-field
      class="global-MatInputOutline LogReg-input"
      appearance="outline"
    >
      <mat-label>{{ data.thirdInputPlaceholder | translate }}</mat-label>
      <input
        (focus)="picker.open()"
        [matDatepicker]="picker"
        class="SubmitForm-input"
        formControlName="thirdInput"
        matInput
        [type]="data.thirdInputType"
        [max]="todayDate"
      />
      <button type="button" matSuffix mat-button>
        <span
          class="material-icons"
          *ngIf="
            !form.get('thirdInput').touched || !form.get('thirdInput').invalid
          "
          >{{ data.thirdInputIcon }}</span
        >
        <span
          class="material-icons error-icon"
          *ngIf="
            form.get('thirdInput').touched && form.get('thirdInput').invalid
          "
          >error</span
        >
      </button>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('thirdInput').hasError('required')">{{
        "LOG_REG.LOGIN.REQUIRED" | translate
      }}</mat-error>
    </mat-form-field>
  </ng-container>

  <div class="SubmitForm-submit">
    <button
      type="submit"
      [class.is-edit]="form.invalid"
      [disabled]="form.invalid"
      class="global-EditBtn is-sm"
      id="log-reg"
    >
      {{ data.submitBtn | translate }}
    </button>
  </div>

  <!-- <div class="SubmitForm-footer">
    <span class="SubmitForm-footer-text">
      {{ data.footerText | translate }}
    </span>
    <a
      class="SubmitForm-footer-link global-IconBtn SubmitForm-footer-text"
      [routerLink]="data.footerLinkUrl"
      (click)="logViewReg()"
    >
      {{ data.footerLink | translate }}
    </a>
  </div> -->

  <!-- <div class="SubmitForm-privacy-policy">
    <a [routerLink]="AppHtmlRoutes.privacyPolicy" class="global-Text">{{
      "LOG_REG.LOGIN.PRIVACY" | translate
    }}</a>
  </div> -->
</form>

<esports-fullscreen-loading *ngIf="isLoading"></esports-fullscreen-loading>
