@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.Admin {
  height: 100%;
  display: flex;
  flex-flow: column;

  &-sidenavContainer {
    flex: 1;
  }

  &-main {
    padding: px2vw-xl(50px);

    @include lg {
      padding: px2vw-lg(50px);
    }

    @include md {
      padding: px2vw-md(30px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }
}
