@import "shared";

:host {
  app-counter {
    margin: 35px 0;
  }
}

.error {
  margin-bottom: 20px !important;
}

.form-group {
  margin: 35px 0 !important;
}

input[type="date"] {
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-year-field {
    color: var(--base-black-pearl);
  }

  &::-webkit-calendar-picker-indicator {
    filter: invert(0.65);
    position: relative;
    opacity: 1;
    cursor: pointer;
  }
}

.tournamentUrl-label {
  margin-bottom: 10px;
}

.tournamentUrl-link {
  white-space: nowrap;
}

.check-in-drop-down {
  margin-top: px2vw-lg(20px);
  margin-left: px2vw-lg(4px);
}

.tabs-rules {
  padding: 0;

  .nav-pills.vertical-tabs {
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;

    overflow: hidden;

    .nav-link {
      font-family: "stc-forward-regular", sans-serif;
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(24px);
      font-weight: normal;

      @include lg {
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(18px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }
      padding: 12px 14px;
      border-bottom: 1px solid var(--base-gainsboro);
      border-radius: 0;

      &.active {
        padding: 12px 14px;
      }
    }
  }

  .tab-content {
    margin: 0 !important;
  }

  .col-12 {
    padding: 0;
  }

  textarea.form-control {
    min-height: 178px;
    border: 1px solid var(--base-gainsboro);
  }

  button {
    width: 100%;
  }
}

.nav-pills .nav-link {
  color: var(--ui-nobel);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--base-white-smoke);
  border-radius: 0;
  color: var(--base-black-pearl);
}

.vertical-tabs {
  border: 1px solid var(--base-gainsboro);
  padding-right: 0;
}

.date-block {
  padding-left: 0;
  @include sm {
    margin-bottom: px2vw-sm(35px);
  }
}

.btn-save-manage {
  margin: 10px;
}

.pointerEventNone {
  pointer-events: none;
}
::ng-deep {
  .tournament-conditionsA {
    & .fa {
      color: var(--base-black);
    }
  }
}

::ng-deep {
  .WYSIWYG-editor-textarea {
    height: 500px !important;
  }
}
