<div class="InputText" [ngClass]="{ basic: isBasic }" [formGroup]="customFormGroup">
  <!-- <h3
    class="InputText-title title"
    [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
  >
    {{ title }}
  </h3> -->

  <mat-form-field class="InputText-title title" [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
    appearance="outline" autocomplete="off">
    <mat-label class="InputText-title title" [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }">
      {{ title }}
    </mat-label>

    <div class="InputText-block block u-dfCenterStart">

      <input matInput class="TournamentDate-field" [matDatepicker]="picker"
        [placeholder]="'CREATE_TOURNAMENT.SELECT_DATE.DATE_PLACEHOLDER' | translate"
        [formControlName]="customFormControlName" [min]="minDate" [readonly]="true" />

      <mat-datepicker #picker disabled="false" class="datepicker"></mat-datepicker>

      <img class="TournamentDate-icon" (click)="picker.open()" src="assets/icons/calendar.svg" alt="date" width="200" />

      <!-- <input
        matInput
        [placeholder]="placeholder"
        [formControlName]="customFormControlName"
        class="InputText-input input"
        [min]="minDate"
        [readonly]="true"
        [ngClass]="{ 'global-Text': isBasic, 'global-Title2': !isBasic }"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
      <!-- <ngx-mat-datetime-picker
        #picker
        [showSpinners]="true"
        [showSeconds]="false"
        [enableMeridian]="true"
        color="black"
      >
        <ng-template>
          <span>OK</span>
        </ng-template>
      </ngx-mat-datetime-picker> -->
    </div>
  </mat-form-field>
</div>
