@import "shared";

// .web-view {
//     padding: px2vw-xl(25px) 0;

//     @include lg {
//         padding: px2vw-lg(25px) 0;
//     }

//     @include md {
//         padding: px2vw-md(25px) 0;
//     }

//     @include sm {
//         padding: px2vw-sm(25px) 0;
//     }
// }