@import "shared";

.Tournament-tracker-card {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: px2vw-xl(16px) px2vw-xl(35px) px2vw-xl(16.5px) px2vw-xl(20px);
  font-family: "stc-forward-semibold", sans-serif;
  font-size: px2vw-xl(16px);
  line-height: px2vw-xl(18px);
  color: var(--base-white);

  @include lg {
    flex-direction: column;
    text-align: center;
    margin-bottom: px2vw-lg(3px);
    padding: px2vw-lg(10px);
    font-size: px2vw-lg(15px);
    line-height: px2vw-lg(18px);
  }

  @include md {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: px2vw-md(3px);
    padding: px2vw-md(12px);
    font-size: px2vw-md(16px);
    line-height: px2vw-md(18px);
  }

  @include sm {
    margin-bottom: px2vw-sm(3px);
    padding: px2vw-sm(12px);
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(18px);
  }

  &-title {
    min-height: px2vw-xl(42px);
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(21px);

    @include lg {
      min-height: px2vw-lg(42px);
      text-align: left;
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(21px);
    }

    @include md {
      min-height: px2vw-md(42px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(21px);
    }

    @include sm {
      min-height: px2vw-sm(42px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(21px);
    }
  }

  &-content-left {
    padding-right: px2vw-xl(8px);

    @include lg {
      text-align: left;
      padding-right: px2vw-lg(8px);
    }

    @include md {
      padding-right: px2vw-md(8px);
    }

    @include sm {
      padding-right: px2vw-sm(8px);
    }
  }

  &-about {
    margin-bottom: px2vw-xl(5px);

    @include lg {
      margin-bottom: px2vw-lg(5px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
    }
  }

  &-vs {
    display: inline-block;
    margin: 0 px2vw-xl(16px);
    color: var(--primary-cinnabar);

    @include lg {
      margin: 0 px2vw-lg(16px);
    }

    @include md {
      margin: 0 px2vw-md(16px);
    }

    @include sm {
      margin: 0 px2vw-sm(16px);
    }
  }

  &-city {
    margin-bottom: 0;
    opacity: 0.6;
    font-family: "stc-forward-light", sans-serif;
  }

  &-results {
    margin-bottom: px2vw-xl(7px);
    opacity: 0.6;
    font-family: "stc-forward-light", sans-serif;

    @include lg {
      margin-bottom: px2vw-lg(7px);
    }

    @include md {
      margin-bottom: px2vw-md(7px);
    }

    @include sm {
      margin-bottom: px2vw-sm(7px);
    }
  }

  &-gamer-score-vs {
    display: inline-block;
    margin: 0 px2vw-xl(3px);

    @include lg {
      margin: 0 px2vw-lg(3px);
    }

    @include md {
      margin: 0 px2vw-md(3px);
    }

    @include sm {
      margin: 0 px2vw-sm(3px);
    }
  }

  &:hover {
    box-shadow: 3px 3px 6px var(--base-black);
    border-bottom-color: transparent;
    background-color: var(--base-black-pearl);
  }
}
