<section>
  <div class="sidebar-margin-left">
    <div class="task-info-box padding top-banner">
      <div class="task-box bgimage-banner">
        <span>{{ currentDate | date: "MMM d, y" }}</span>
        <span class="padding-right">{{ currentDate | date: "h:mm:ss" }}</span>
      </div>
    </div>
    <div class="task-info-box padding">
      <div class="task-box bgimage-ongoing">
        <div class="task-content">
          <div class="task-content mt-3 ml-3">
            <span class="txt-size">Ongoing <br>Tournaments</span>
          </div>
        </div>
        <div class="task-content mt-4 ml-5">
          <div class="task-time bgimage-trophy">
            <span class="font-24 mt-6">299</span>
          </div>
          <div class="bgimage-status mt-3 ml-5">
            <span class="mr-left">1.55 Up from Yesterday</span>
          </div>
        </div>
      </div>
      <div class="task-box">
        <div class="task-content">
          <div class="task-content mt-3 ml-3">
            <span class="txt-size">Running <br>Campaigns</span>
          </div>
        </div>
        <div class="task-content mt-4 ml-5">
          <div class="task-time bgimage-running">
            <span class="font-24 mt-6">101</span>
          </div>
          <div class="bgimage-status mt-3 ml-5">
            <span class="mr-left">1.55 Up from Yesterday</span>
          </div>
        </div>
      </div>
      <div class="task-box">
        <div class="task-content">
          <div class="task-content mt-3 ml-3">
            <span class="txt-size">Overall <br>Sales</span>
          </div>
        </div>
        <div class="task-content mt-4 ml-5">
          <div class="task-time bgimage-overallsales">
            <span class="font-24 mt-6">12000</span>
          </div>
          <div class="bgimage-status mt-3 ml-5">
            <span class="mr-left">1.55 Up from Yesterday</span>
          </div>
        </div>
      </div>
    </div>
    <div class="task-info-box padding">
      <div class="task-box">
        <div class="task-content">
          <div class="task-content mt-3 ml-3">
            <span class="txt-size">Tournaments <br>Approval Pending</span>
          </div>
        </div>
        <div class="task-content mt-4 ml-5">
          <div class="task-time bgimage-tournamentapproval">
            <span class="font-24 mt-6 mr-4">299</span>
          </div>
          <div class="mt-5 mr-5">
            <span>View Details</span>
          </div>
        </div>
      </div>
      <div class="task-box">
        <div class="task-content">
          <div class="task-content mt-3 ml-3">
            <span class="txt-size">Campaigns <br>Approval Pending</span>
          </div>
        </div>
        <div class="task-content mt-4 ml-5">
          <div class="task-time bgimage-campapproval">
            <span class="font-24 mt-6 mr-4">299</span>
          </div>
          <div class="mt-5 mr-5">
            <span>View Details</span>
          </div>
        </div>
      </div>
      <div class="task-box">
        <div class="task-content">
          <div class="task-content mt-3 ml-3">
            <span class="txt-size">Articles <br>Approval Pending</span>
          </div>
        </div>
        <div class="task-content mt-4 ml-5">
          <div class="task-time bgimage-articlesapproval">
            <span class="font-24 mt-6 mr-4">101</span>
          </div>
          <div class="mt-5 mr-5">
            <span>View Details</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
