section {
  margin-left: 35px;
}

/* card */
.task-info-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 30px;
}

.task-info-box .task-box {
  border-radius: 10px;
  background-color: var(--graybgcolor);
  box-shadow: 0px 0px 8px 2px var(--blackcolor);
  padding: 30px;
  height: 250px !important;
}
.txt-size {
  font-size: 25px;
  margin-left: 40px;
  color: var(--whitecolor);
}

.task-content {
  display: flex;
  justify-content: space-between;
}

.padding {
  margin-top: 35px;
}

.task-time {
  height: 40px;
  width: 46px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 6px;
}

.font-24 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 6rem !important;
}

.bg {
  background: rgba(193, 39, 49, 0.1);
}


span {
  color: var(--whitecolor);
}

.mr-left {
  margin-left: 40px !important;
}

.bgimage-banner {
  background-image: url(../../../../../assets/images/dashboard/top-banner.png);
  background-repeat: no-repeat;
}

.bgimage-ongoing {
  background-image: url(../../../../../assets/images/dashboard/field-banner.png);
  background-repeat: no-repeat;
}

.bgimage-trophy {
  background-image: url(../../../../../assets/images/dashboard/ongoingtournament-active.svg);
  background-repeat: no-repeat;
}

.bgimage-running {
  background-image: url(../../../../../assets/images/dashboard/runningcampaign-active.svg);
  background-repeat: no-repeat;
}

.bgimage-overallsales {
  background-image: url(../../../../../assets/images/dashboard/overallsales-active.svg);
  background-repeat: no-repeat;
}
.bgimage-tournamentapproval {
  background-image: url(../../../../../assets/images/dashboard/tournamentapproval-nonactive.svg);
  background-repeat: no-repeat;
  width: 90px !important;
}

.bgimage-campapproval {
  background-image: url(../../../../../assets/images/dashboard/campaignapproval-nonactive.svg);
  background-repeat: no-repeat;
  width: 90px !important;
}

.bgimage-articlesapproval {
  background-image: url(../../../../../assets/images/dashboard/articlepending-active.svg);
  background-repeat: no-repeat;
  width: 90px !important;
}

.bgimage-status {
  background-image: url(../../../../../assets/images/dashboard/status.svg);
  background-repeat: no-repeat;
}
