@import "shared";

.updateScore {
  margin-top: 30px;
  margin-left: 78px;

  @include md {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
    margin-top: 5px;
  }

  &-wrap {
    @include md {
      padding-bottom: 60px;
    }
  }

  &-btnExpaned {
    background-color: transparent;
    border-radius: 90%;
    border: 2px solid var(--purple-light);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 41px;

    @include sm {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      margin-bottom: 25px;
    }
  }

  &-round {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-white-medium);
    width: 625px;
    margin-bottom: 25px;

    @include md {
      width: 100%;
    }

    @include sm {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
    }

    &-accordion {
      &-item-header {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white-medium);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        position: static;
        left: 0px;
        top: 0px;
        background: var(--midnight-express-color);
        border-radius: 4px;
        margin-bottom: 22px;

        @include sm {
          padding: 16px;
          margin-bottom: 15px !important;
        }
      }

      &-item-body {
        // margin-top: 22px;
        margin-bottom: 22px;

        @include sm {
          margin-bottom: 0;
        }

        &-member {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          flex-direction: column;
          padding-bottom: 18px;
          border-bottom: 1px solid var(--midnight-express-color);
          padding-top: 14px;
          position: relative;
          padding-left: 13px;
          height: 112px;
          justify-content: center;

          @include sm {
            padding-left: 0;
            height: 164px;
            margin-bottom: 0;
            padding-top: 18px;
            flex-direction: row;
          }

          &-author {
            display: flex;
            width: 62%;

            @include sm {
              width: 100%;
            }
          }

          &-ava {
            background-image: url(../../../../../assets/icons/ava-image.svg);
            width: 49px;
            height: 49px;
            background-size: cover;
            border-radius: 999px;
            margin-right: 16px;
            margin-top: 2px;
            display: flex;
            align-self: center;
          }

          &-score {
            display: flex;
            border: 2px solid var(--tertiary-color);
            box-sizing: border-box;
            border-radius: 4px;
            width: 200px;
            height: 48px;
            padding: 12px 13px;
            align-items: center;
            margin-top: 8px;

            @include sm {
              width: 100%;
            }

            &-wrap {
              @include sm {
                width: 100%;
              }
            }

            &-btnBlock {
              & button {
                color: var(--main-color);
                display: flex;
                padding: 1px 0px 4px 0px;
              }
            }

            &-title {
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: var(--color-white-medium);
              margin-bottom: 3px;
              margin-top: 3px;
            }

            & .form-control {
              border: 0;
              padding: 0;
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              color: var(--tolopea-color);

              @include sm {
                font-size: 16px;
                font-weight: 500;
              }
            }
          }

          &-info {
            width: 53.5%;

            @include sm {
              width: 65%;
            }
          }

          &-name {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 20.3px;
            line-height: 28px;
            color: var(--white);

            @include sm {
              font-size: 16px;
              line-height: 24px;
            }
          }

          &-id {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 16.3px;
            line-height: 24px;
            color: var(--tolopea-color);

            @include sm {
              font-size: 16px;
              line-height: 24px;
            }
          }

          &-option {
            background-color: transparent;
            position: absolute;
            right: 29px;
            top: 28px;

            @include sm {
              border: 0;
              align-self: center;
              width: 40px;
              text-align: end;
              position: static;
            }
          }

          &-option ::ng-deep svg path {
            fill: var(--main-color) !important;
          }

          &-slug {
            width: 159px;
            height: 44px;
            border: 2px solid var(--tertiary-color);
            box-sizing: border-box;
            border-radius: 24px;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            padding: 10px 20px;
            justify-content: space-between;
            position: absolute;
            right: 88px;
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--tolopea-color);

            @include sm {
              display: none;
            }
          }

          &-caption {
            color: var(--ui-win);

            &.caption-mobile {
              display: none;

              @include sm {
                display: block;
              }
            }
          }
          &-divider {
            &.divider-mobile {
              display: none;

              @include sm {
                display: block;
              }
            }
          }
        }
      }
    }

    // &-accordion-item-header {
    //     font-family: Avenir Next;
    //     font-style: normal;
    //     font-weight: 600;
    //     font-size: 16px;
    //     line-height: 24px;
    //     color: var(--color-white-medium);
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 16px 24px;
    //     position: static;
    //     left: 0px;
    //     top: 0px;
    //     background: var(--midnight-express-color);
    //     border-radius: 4px;
    //     margin-bottom: 22px;
    // }
  }

  &-set {
    &-date {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24.5px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 14px;

      @include sm {
        font-size: 20.5px;
        line-height: 28px;
      }
    }
  }

  &-titleUploadScreen {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24.3px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-top: 40px;
    margin-bottom: 16px;

    @include sm {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-top: 33px;
    }
  }

  &-table {
    border: 1px solid var(--tolopea-medium-color);
    border-radius: 8px;
    width: 618px;
    height: 232px;
    margin-bottom: 24px;
    background-color: var(--white);

    @include md {
      width: 100%;
    }
    @include sm {
      width: 595px;
      margin-bottom: 0;
    }

    &-wrapp {
      overflow: hidden;
      overflow-x: auto;
      border-radius: 8px;
      margin-bottom: 3px;

      @include sm {
        margin-bottom: 14px;
        background-color: var(--white);
      }

      &::-webkit-scrollbar {
        height: 8px;
        overflow: visible;
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--color-white-medium);
        border: 1px solid var(--tolopea-color);
        border-radius: 4px;
      }
    }

    &-rowTitle {
      display: flex;
      height: 64px;
      align-items: center;
      background: var(--color-white-medium);
      border-radius: 8px 8px 0px 0px;

      &-uploadBy {
        width: 108px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-fileName {
        width: 184px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);

        @include sm {
          width: 198px;
        }
      }

      &-fileSize {
        width: 105px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);

        @include sm {
          padding-left: 0;
        }
      }

      &-timeDate {
        width: 152px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);

        @include sm {
          padding-left: 0;
        }
      }
    }

    &-rowContent {
      height: 168px;
      overflow: auto;
      border-right: 8px solid transparent;

      &::-webkit-scrollbar {
        height: 8px;
        overflow: visible;
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--color-white-medium);
        border: 1px solid var(--tolopea-color);
        border-radius: 4px;
      }
    }

    &-rowContents {
      display: flex;
      height: 56px;
      align-items: center;
      background-color: var(--white);
      border: 1px solid var(--tolopea-medium-color);

      &-uploadBy {
        width: 108px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-fileName {
        width: 184px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);

        @include sm {
          width: 193px;
        }
      }

      &-fileSize {
        width: 105px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-timeDate {
        width: 172px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: var(--blackcurrant-color-medium);
        padding-left: 17px;
      }

      &-option {
        background-color: transparent;
      }
    }
  }

  &-btn-uploadScreen {
    & input[type="file"] {
      display: none;
    }
    & label {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--secondary-color);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px ​32px 12px 28px;
      width: 238px;
      height: 48px;
      background: var(--white);
      border-radius: 6px;

      @include md {
        margin: 0 auto;
      }

      @include sm {
        width: 100%;
      }
    }
  }

  &-guideBar {
    padding: 12px 27px 17px 29px;
    background: var(--blackcurrant-color-medium);
    box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%),
      0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    left: 0;
    right: 0;
    z-index: 9;

    @include sm {
      height: 80px;
    }

    &-btn-ready {
      @include sm {
        width: 100%;
      }
      &-descrip {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        margin-right: 17px;
      }

      & button {
        background: var(--secondary-color);
        border-radius: 6px;
        width: 158px;
        height: 48px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white-medium);

        @include sm {
          width: 100%;
        }
      }
    }
  }
}

.no-drop {
  cursor: no-drop;
}
