@import "shared";

:host {
  display: block;
}
textarea {
  border-radius: 5px !important;
}

.dropdown-item,
.selected-tags span {
  color: var(--black) !important;
}

.selected-tags {
  width: auto !important;
}

.btn-align {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  padding-bottom: 139px;
  margin-top: 50px;
  button:first-child {
    margin-right: 44px;
  }
}

.form-container {
  background: transparent !important;
  padding: 0 !important;
  .row {
    margin-bottom: 0;
  }
}
.add-section {
  max-width: 618px;
  margin: auto;
  padding: 0 !important;
  padding-top: 65px !important;
  @include sm {
    padding-bottom: 144px !important;
  }
  &-header {
    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(40px);
      line-height: px2vw-xl(48px);
      letter-spacing: -0.5px;
      color: var(--full-white);
      padding: 16px 0 32px;
      @include sm {
        font-size: px2vw-sm(36.864px);
        line-height: px2vw-sm(49.152px);
        padding: 16px 0;
      }
    }
    &-des {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      padding: 16px 0;
      @include sm {
        font-size: px2vw-sm(30.72px);
        line-height: px2vw-sm(43.008px);
      }
    }
  }
  .no-padding .columns {
    padding-left: 0;
    padding-right: 0;
  }
  .form-group,
  .select {
    margin-bottom: 24px;
  }
  .row div.select:nth-child(odd) {
    padding-left: 0;
  }
  .row div.select:nth-child(even) {
    padding-right: 0;
  }
  .row div.select {
    @include sm {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .video-detail {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-black-medium);
  }
  .video-detail .row:last-child .form-group {
    margin-bottom: 0;
  }
  .additional-information {
    margin-top: 8px;
    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      padding: 16px 0;
      @include sm {
        font-size: px2vw-sm(30.72px);
        line-height: px2vw-sm(43.008px);
      }
    }
  }
  .btn-option {
    display: flex;
    gap: 0 19px;
    margin-top: 16px;
    padding-bottom: 122px;
    @include sm {
      flex-direction: column-reverse;
      background: var(--home-backdrak);
      box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%), 0px -12px 10px rgb(0 0 0 / 2%),
        0px -4px 4px rgb(0 0 0 / 2%);
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 16px 24px;
      gap: 16px;
    }
    .btn {
      text-transform: unset;
      @include sm {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

section {
  background: transparent;
  min-height: 100vh;
}

.form-group {
  &.form-select {
    .form-control {
      width: 100%;
      text-align: left;
      font-size: 16px;
      line-height: 21px;
      color: var(--black);
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      background: var(--white-medium);
      box-shadow: 4px 4px 6px #--black-medium;
      padding: 21px 0 17px;
      left: auto !important;
      max-height: 198px;
      overflow-x: auto;
      width: 100%;
      color: var(--black);

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: rgba(112, 112, 112, 0.6);
        border-radius: 3px;
      }
      button {
        border-bottom: 0.5px solid var(--white-disabled);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        color: rgba(20, 19, 19, 0.6) !important;
        font-size: 16px;
        line-height: 21px;

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }
        &:hover,
        &:active,
        &:focus {
          background: transparent;
          color: var(--black) !important;
        }
      }
    }
    .row {
      margin-bottom: 0 !important;
      padding-left: 23px;
      .selected-tags {
        border-radius: 28px;
        text-align: center;
        padding: 0.3em 1em;
        margin: 0.5em;
        font-size: 1em;
        font-weight: 400;
        background: transparent;
        border: 1px solid var(--white-disabled);
        width: auto !important;
        &:last-child {
          margin-right: 0;
        }
        span:last-child {
          margin-left: 12px;
        }
      }
    }
  }
}

.edit-icon {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 9;
  img {
    width: 15px;
  }
}

.dropdown-language {
  margin-bottom: 15px;
  width: 120px;
  float: right;
}
.label {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-white-medium);
}
::ng-deep {
  .mat-form-field-appearance-outline.field-des .mat-form-field-outline {
    height: auto;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: unset !important;
    border: 2px solid var(--tertiary-color);
    border-radius: 4px;
    height: 48px;
  }
  .mat-form-field-appearance-outline:hover .mat-form-field-outline {
    border-color: var(--main-color);
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    border: 2px solid var(--main-color);
    color: unset !important;
  }
  .mat-form-field-appearance-outline input,
  .mat-form-field-appearance-outline input:-internal-autofill-selected,
  .mat-form-field-appearance-outline textarea,
  .mat-form-field-appearance-outline textarea:-internal-autofill-selected {
    font-family: Avenir Next !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--full-white) !important;
  }

  .mat-form-field-appearance-outline input::placeholder,
  .mat-form-field-appearance-outline textarea::placeholder {
    color: var(--tolopea-color) !important;
  }
  .mat-select-panel {
    background: var(--midnight-express-color) !important;
    box-shadow: 0px 2px 8px rgb(29 29 29 / 28%) !important;
    border-radius: 8px !important;
    border: 0;
    max-height: 152px !important;
  }
  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: var(--main-color) !important;
  }
  .mat-option-pseudo-checkbox {
    display: none !important;
  }
  .mat-option-multiple.mat-selected {
    background-color: var(--main-color) !important;
  }
  .mat-select-panel::-webkit-scrollbar-track {
    background: transparent;
  }
  .mat-select-panel::-webkit-scrollbar {
    background: var(--midnight-express-color);
    width: 8px;
    border-radius: 0px 8px 8px 0px;
  }
  .mat-select-panel::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 4px;
  }
  .mat-option-text {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--full-white);
  }
  .mat-form-field .mat-select-arrow {
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    content: "";
    border-top: 2px solid var(--main-color) !important;
    border-right: 2px solid var(--main-color) !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
    transition: all 200ms linear;
    position: relative;
    top: 5px;
  }
  .mat-form-field.mat-focused .mat-select-arrow {
    color: unset !important;
    transform: rotate(315deg) !important;
    transition: all 200ms linear !important;
    top: 8px !important;
  }
  .mat-form-field-infix {
    border-top: 0 !important;
  }
  .mat-form-field.field-select .mat-form-field-infix {
    margin-top: 5px;
  }
  .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0 !important;
  }
  .mat-select-placeholder {
    font-family: Avenir Next !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--tolopea-color) !important;
  }
}
.PopupReassign {
  background: rgb(29 29 29 / 80%);
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  &-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  &-inner {
    width: 100%;
    max-width: 423px;
    height: auto;
    background: var(--midnight-express-color);
    box-shadow: -4px -4px 20px rgb(0 0 0 / 8%), 4px 4px 20px rgb(0 0 0 / 8%);
    border-radius: 24px;
    padding: 48px;
    @include sm {
      max-width: 327px;
      height: auto;
      padding: 24px;
    }
  }
  .heading {
    margin-bottom: 32px;
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 16px;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .subtitle {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
    }
  }
  .content {
    margin-bottom: 32px;
    @include md {
      margin-bottom: 16px;
    }
    &-item {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      margin-bottom: 16px;
      @include sm {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      &:last-child {
        margin-bottom: 32px;
      }
    }
    .text-lable {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tolopea-color);
      margin-bottom: 0;
      display: inline-block;
      width: 100%;
      max-width: 185px;
      @include sm {
        max-width: 100%;
      }
    }
    .text {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);
      margin-bottom: 0;
      display: inline-block;
      width: 100%;
      max-width: calc(100% - 185px);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include sm {
        max-width: 100%;
      }
    }
    .line-throuth {
      color: var(--tertiary-color);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 1px;
        background-color: var(--tertiary-color);
        bottom: 7px;
        left: 0;
      }
    }
  }
  .btn-group {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include md {
      flex-direction: column-reverse;
    }
    .btn {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-transform: none;
      border-radius: 6px;
      flex: 0 0 auto;
      @include md {
        width: 100%;
        padding: 11px 0;
      }
      &.button-default {
        margin-right: 24px;
        @include md {
          margin-right: 0;
        }
      }
      &.button-primary {
        @include md {
          margin-bottom: 16px;
        }
      }
    }
  }
}
::ng-deep esports-info-popup .join {
  max-width: 423px;
  .Popup-confirmClose-btn-cancel {
    display: none;
  }
}
