@import "shared";

:host {
  display: block;
  padding-top: 0;
  padding-bottom: 0;

  @include lg {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include md {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include sm {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.Inbox-header {
  @extend %u-dfCenterBtw;
  margin-bottom: 10px;
  // padding: px2vw-xl(20px) 0;
  // margin-top: px2vw-xl(120px);
  @include lg {
    // margin-bottom: px2vw-lg(16px);
    // padding: px2vw-lg(20px) 0;
  }

  @include md {
    // margin-bottom: px2vw-md(16px);
    // padding: px2vw-md(20px) 0;
  }

  @include sm {
    // margin-bottom: px2vw-sm(16px);
    // padding: px2vw-sm(20px) 0;
    margin-bottom: 18px;
  }

  &-title {
    // @extend %global-H4;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.5px;
    color: var(--tolopea-medium-color);
    text-transform: inherit;

    @include sm {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.5px;
      color: var(--white);
    }
  }

  &-button {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }
}
.Dashboard-cards {
  margin: 10px;
  &-item {
    @extend %u-dfCenter;
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(16px);
    background: var(--gradient-bg);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(16px);
    }
  }

  &-item-icon {
    margin-right: px2vw-xl(12px);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(12px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-value {
    @extend %subtitle-1;
    margin-bottom: 0;
  }
}

.scoringSection {
  @include sm {
    margin-left: 0;
    margin-top: -15px;
  }

  &-btnExpaned {
    background-color: transparent;
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 41px;

    @include sm {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      margin-bottom: 25px;
    }
  }

  &-round {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-white-medium);
    width: 625px;
    margin-bottom: 25px;

    @include sm {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
    }

    &-accordion {
      &-item-header {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white-medium);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        position: static;
        left: 0px;
        top: 0px;
        background: var(--midnight-express-color);
        border-radius: 4px;
        margin-bottom: 24px;

        @include sm {
          padding: 16px;
          margin-bottom: 19px !important;
        }
      }

      &-item-body {
        // margin-top: 22px;
        margin-bottom: 22px;

        @include sm {
          margin-bottom: 0;
        }

        &-score {
          @include sm {
            margin-top: -21px;
          }

          &-wrap ::ng-deep .mat-paginator-container {
            padding: 0;
            margin-top: 17px;
            margin-bottom: 20px;
          }

          &-wrap ::ng-deep .mat-paginator-page-size {
            display: none;
          }
        }

        &-date {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 24.7px;
          line-height: 32px;
          letter-spacing: -0.5px;
          color: var(--white);
          margin-bottom: 15px;
          display: none;
        }

        &-search {
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-align-items: center;
          align-items: center;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-bottom: 16px;

          @include sm {
            display: none;
          }

          &-left {
            width: 100%;
            max-width: calc(100% - 280px);
            .text {
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: 20.5px;
              line-height: 28px;
              color: var(--tertiary-color);
            }
          }
          &-right {
            width: 100%;
            max-width: 280px;
            display: none;
          }
        }

        &-scores:nth-child(2n + 1) {
          @include sm {
            display: none;
          }
        }

        &-scores {
          display: flex;
          align-items: center;
          padding: 15.5px 0px;
          border-bottom: 1px solid var(--midnight-express-color);

          @include sm {
            flex-direction: column-reverse;
            border-bottom: 0;
            margin-bottom: -28px;
          }

          &-time {
            width: 102px;
            text-align: center;
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: var(--tolopea-color);

            @include sm {
              display: none;
            }
          }

          &-btn {
            @include sm {
              width: 100%;
              text-align: end;
              border-radius: 8px 8px 0px 0px;
              border: 1px solid var(--midnight-express-color);
              padding: 11px 19px;
            }

            & button {
              background-color: transparent;
            }

            & button ::ng-deep svg path {
              @include sm {
                fill: rgba(0, 0, 0, 0.87);
              }
            }
          }

          &-content {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            position: relative;

            @include sm {
              border: 1px solid var(--midnight-express-color);
              padding: 12px 16px;
              border-radius: 0px 0px 8px 8px;
            }

            .avatar-player {
              width: 64px;
              height: 64px;
              overflow: hidden;
              border-radius: 50%;
              position: relative;
              margin: 0 0 8px;
              padding: 0;

              @include sm {
                width: 48px;
                height: 48px;
              }
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
              }
            }
            &-right {
              display: flex;
              align-items: center;
              flex-direction: row;
              width: 38%;

              @include sm {
                width: 100%;
              }

              &-name-player {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--white);
                margin-left: 8px;
                margin-bottom: 0;

                @include sm {
                  font-size: 14px;
                  line-height: 20px;
                  color: var(--tolopea-color);
                  margin-left: 0;
                }
              }

              &-avatar-player {
                width: 47px;
                height: 48px;

                @include sm {
                  margin-right: 8px;
                  width: 32px;
                  height: 32px;
                }

                & img {
                  width: 100%;
                  height: 100%;
                }
              }
            }

            &-left {
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
              width: 29%;

              @include sm {
                flex-direction: row;
                margin-bottom: 20px;
                width: 100%;
              }

              &-name-player {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: var(--white);
                margin-right: 8px;
                margin-bottom: 0;

                @include sm {
                  font-size: 14px;
                  line-height: 20px;
                  color: var(--tolopea-color);
                  margin-right: 0;
                }
              }

              &-avatar-player {
                width: 47px;
                height: 48px;

                @include sm {
                  margin-right: 8px;
                  width: 32px;
                  height: 32px;
                }

                & img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                }
              }
            }

            &-center {
              margin: 0 21px;
              // min-height: 92px;
              display: flex;
              align-items: center;

              &-match-score {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: var(--tertiary-color);

                @include sm {
                  display: flex;
                  flex-direction: column;
                  position: absolute;
                  right: 20px;
                  top: 18px;
                }

                &-nth-1 {
                  margin-bottom: 45px;

                  @include sm {
                    margin-bottom: 30px;
                  }
                }

                &-speach {
                  display: inline-block;
                  margin: 0 14px;

                  @include sm {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      &-item-description {
        .scoringSection-btnExpaned {
          width: 32px;
          height: 32px;
          background-color: transparent;
          border: 2px solid var(--secondary-color);
          box-sizing: border-box;
          border-radius: 24px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;

          & ::ng-deep svg {
            width: 12px;
            height: 12px;
          }
        }

        .scoringSection-btnColapsed {
          width: 32px;
          height: 32px;
          background-color: transparent;
          border: 2px solid var(--secondary-color);
          box-sizing: border-box;
          border-radius: 24px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;

          & ::ng-deep svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }

    // &-accordion-item-header {
    //     font-family: Avenir Next;
    //     font-style: normal;
    //     font-weight: 600;
    //     font-size: 16px;
    //     line-height: 24px;
    //     color: var(--color-white-medium);
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 16px 24px;
    //     position: static;
    //     left: 0px;
    //     top: 0px;
    //     background: var(--midnight-express-color);
    //     border-radius: 4px;
    //     margin-bottom: 22px;
    // }
  }

  &-set {
    &-date {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24.5px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 14px;

      @include sm {
        font-size: 20.5px;
        line-height: 28px;
      }
    }
  }

  &-titleUploadScreen {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24.3px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-top: 40px;
    margin-bottom: 16px;

    @include sm {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-top: 30px;
    }
  }

  &-table {
    border: 1px solid var(--tolopea-medium-color);
    border-radius: 8px;
    width: 618px;
    height: 232px;
    margin-bottom: 24px;

    @include md {
      width: 100%;
    }
    @include sm {
      width: 540px;
      margin-bottom: 0;
    }

    &-wrapp {
      overflow: hidden;
      overflow-x: auto;
      border-radius: 8px;
      margin-bottom: 3px;

      @include sm {
        margin-bottom: 17px;
      }
    }

    &-rowTitle {
      display: flex;
      height: 64px;
      align-items: center;
      background: var(--color-white-medium);
      border-radius: 8px 8px 0px 0px;

      &-uploadBy {
        width: 108px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-fileName {
        width: 184px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-fileSize {
        width: 105px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-timeDate {
        width: 152px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }
    }

    &-rowContent {
      height: 168px;
      overflow: auto;
      // border-radius: 0px 0px 8px 8px;
    }

    &-rowContents {
      display: flex;
      height: 56px;
      align-items: center;
      background-color: var(--white);
      border: 1px solid var(--tolopea-medium-color);

      &-uploadBy {
        width: 108px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-fileName {
        width: 184px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-fileSize {
        width: 105px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        padding-left: 17px;
        color: var(--blackcurrant-color-medium);
      }

      &-timeDate {
        width: 172px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: var(--blackcurrant-color-medium);
        padding-left: 17px;
      }

      &-option {
        background-color: transparent;
      }
    }
  }

  &-btn-uploadScreen {
    & button {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--secondary-color);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px ​32px 12px 28px;
      width: 238px;
      height: 48px;
      background: var(--white);
      border-radius: 6px;

      @include md {
        margin: 0 auto;
      }

      @include sm {
        width: 100%;
      }
    }
  }

  &-guideBar {
    padding: 12px 27px 17px 29px;
    background: var(--blackcurrant-color-medium);
    box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%),
      0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    left: 0;
    right: 0;

    @include sm {
      height: 80px;
    }

    &-btn-ready {
      @include sm {
        width: 100%;
      }
      &-descrip {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        margin-right: 17px;
      }

      & button {
        background: var(--secondary-color);
        border-radius: 6px;
        width: 158px;
        height: 48px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white-medium);

        @include sm {
          width: 100%;
        }
      }
    }
  }
}
