<app-header-bottom [gameDetail]="gameDetail"></app-header-bottom>
<!-- <section class="Tournament-slider">
  <app-tournament-slider></app-tournament-slider>
</section> -->

<!-- <section class="Tournament-games u-wp">
  <app-games-cards></app-games-cards>
</section> -->
<section class="baner_iner2">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/icons/Home/thumbnail-banner.png" alt="First slide">
      </div>
    </div>
    <div class="carousel-caption">
      <h5>{{ "PLAYFILE.CREATE_TOURNAMENT" | translate }}</h5>
      <p>{{ "PLAYFILE.TOURNAMENT_WIZARD" | translate }}</p>
      <a class="banner-button button-primary" routerLink="/get-match/game">{{
        "Find a Match" | translate }}</a>
    </div>
  </div>
</section>
<section class="Tournaments">
  <div class="Tournaments-container">
    <div class="Tournaments-wrapper">
      <div class="Tournaments-inner">
        <div class="Tournaments-left">
          <div class="Tournaments-heading">
            <h2 class="title">
              {{ "ESPORTS.TOURNAMENT.TOURNAMENTS.TITLE" | translate }}
            </h2>
          </div>
          <div class="border-bottom-1 mb-3 pb-2">
            <div class="d-flex justify-content-between align-items-center">
              <h6>{{ "PLAYFILE.FILTERED_BY" | translate }}</h6>

              <div class=" row" *ngIf="showFilter">
                <div *ngFor="let item of listFilter" >
                  <div class="btn btn-filter" class="item" *ngIf="item.check" >
                     <span type="button" class="btn btn-filter">
                    {{item.value}} <img (click)="removeSortBy(item)" src="assets/icons/Home/cross.png" alt=".." />
                  </span>
                </div>
                </div>
              </div>
              <!-- <button type="button" class="btn btn-filter">{{ "PLAYFILE.CSGO" | translate }} <img
                  src="assets/icons/Home/cross.png" alt=".."></button>
              <button type="button" class="btn btn-filter">{{ "PLAYFILE.PUBGMOBILE" | translate }} <img
                  src="assets/icons/Home/cross.png" alt=".."></button>
              <button type="button" class="btn btn-filter">{{ "PLAYFILE.MOBILELEGENDS" | translate }} <img
                  src="assets/icons/Home/cross.png" alt=".."></button>
              <button type="button" class="btn btn-filter">{{ "PLAYFILE.CONSOLE" | translate }} <img
                  src="assets/icons/Home/cross.png" alt=".."></button>
              <button type="button" class="btn btn-filter">{{ "PLAYFILE.MOBILE" | translate }} <img
                  src="assets/icons/Home/cross.png" alt=".."></button> -->
              <button type="button" class="btn btn-clear" (click)="clearFilterBtn()">{{ "PLAYFILE.CLEARFILTERS" | translate }}</button>
            </div>
          </div>
          <!-- <div class="Tournaments-filter">
            <div class="Tournaments-filter-Group">
              <div class="Tournaments-filter-label" (click)="clearFilter()">
                <span class="text">{{
                  "SEASON.HOME.FILTERED_BY" | translate
                  }}</span>
              </div>
              <div class="Tournaments-filter-lists" *ngIf="showFilter">
                <div *ngFor="let item of listFilter" >
                  <div class="item" *ngIf="item.check" >
                     <span class="text">
                    {{item.value}}
                  </span>
                  <span class="icon-remove" (click)="removeSortBy(item)"></span>
                </div>
                </div>
              </div>
              <div class="Tournaments-filter-btn" (click)="clearFilterBtn()">
                <a class="btn btn-clear">{{
                  "BUTTON.CLEAR_FILTERS" | translate
                  }}</a>
              </div>
            </div>
            <div class="Tournaments-filter-Button">
              <button class="btn button-default" (click)="showPopup()">
                {{ "BUTTON.SELECT_FILTER" | translate }}
              </button>
            </div>
          </div> -->
          <div class="Tournaments-main">
            <div class="Tournaments-main-heading">
              <p class="ShowingEntries">
                {{ seasonData?.docs?.length }}
                {{ "ESPORTS.TOURNAMENT_FOUND" | translate }}
              </p>
              <!-- <div class="SortBy">
                <div ngbDropdown class="Select-teamDropdown">
                  <button class="btn Select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                    Sort by
                  </button>
                  <div class="Select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <ng-container *ngFor="let item of sortByList" >
                      <button ngbDropdownItem  (click)="onSortBy(item)">
                        {{
                        item?.label
                        | translate
                        }}
                      </button>
                    </ng-container>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="Tournaments-main-content">
              <div class="Tournaments-main-content-lists">
                <div class="row met">
                  <div class="col-md-4 met" *ngFor="let item of seasonData?.docs">
                    <div class="TournamentsCard-item" [routerLink]="['/games/match-season/',item?._id]">
                      <div class="TournamentsCard-thumbnail">
                        <img [src]="item?.banner|| item?.image" alt="" />
                      </div>
                      <div class="TournamentsCard-description">
                        <div class="avatar">
                          <img [src]="item?.gameDetail ? item?.gameDetail?.logo : item?.image" alt="" />
                        </div>
                        <div class="description">
                          <h4 class="title">{{ item.name }}</h4>

                          <!-- <p class="text views-time">
                             •
                            {{ "ADMIN.SEASON_MANAGEMENT.TABLE_HEADER.PRIZE" | translate }}:
                            ${{ item.totalPrice }}
                          </p> -->
                          <!-- <p class="text views-time">
                            {{ "SEASON_CARD.CONTENT.END" | translate }}
                            {{ item.endDate | date: "medium" }}
                          </p> -->
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <div class="mr-2">
                          <img src="assets/icons/tournament/brackets-clr.svg" alt="..">
                        </div>
                        <div class="text views-time">
                          {{ item?.bracketType | bracket | translate }}
                        </div>
                      </div>
                      <div class="d-flex mb-3">
                        <div class="mr-2">
                          <img src="assets/icons/tournament/watch.svg" alt="..">
                        </div>
                        <div class="text views-time">
                          {{ "SEASON_CARD.CONTENT.END" | translate }}
                          {{ item.endDate | date: "medium" }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="!hidePagination">
                <esports-pagination *ngIf="seasonData?.docs?.length" [activePage]="participantPage?.activePage"
                  [page]="participantPage" (currentPage)="currentPage($event)"></esports-pagination>
              </ng-container>

              <!-- <div class="Tournaments-main-ButtonGroup">
                <div class="pagination">
                  <span class="pagination-numberPage"> Page 1 of 10 </span>
                </div>
                <div class="ButtonGroup">
                  <button type="button" class="btn btn-slider-pre">
                    <span
                      class="icon"
                      inlineSVG="assets/icons/season/Icon-arrow-pre.svg"
                    ></span>
                  </button>
                  <button type="button" class="btn btn-slider-next">
                    <span
                      class="icon"
                      inlineSVG="assets/icons/season/Icon-arrow-next.svg"
                    ></span>
                  </button>
                </div>
              </div> -->
              <!-- <main class="Tournaments-main" *ngIf="seasonData?.docs">
                <div class="Tournaments-cards">
                  <app-tournaments-card *ngFor="let item of seasonData?.docs" [params]="item"></app-tournaments-card>
                </div>

                <div class="Tournaments-pagination">
                  <app-pagination (currentPage)="pageChanged($event)" [activePage]="paginationData.page" [page]="page">
                  </app-pagination>
                </div>
              </main> -->
            </div>
          </div>
        </div>
        <div class="Tournaments-right">
          <section class="Tournaments-right-checkbox">
            <div class="Tournaments-right-checkbox-heading">
              <h2 class="title">{{ "SEASON.FILTERS.TITLE" | translate }}</h2>
              <button class="btn btn-close">
                <span class="icon" inlineSVG="assets/icons/Icon-close-blu.svg"></span>
              </button>
            </div>
            <div class="Tournaments-right-checkbox-container">
              <div class="Tournaments-right-checkbox-wrapper">
                <div class="Tournaments-right-checkbox-inner">
                  <div class="form-field-item form-field-checkbox">
                    <label for="" class="form-label">{{
                      "SEASON.FILTERS.PLATFORMS" | translate
                      }}</label>
                    <ng-container *ngFor="let option of listFilter; let i = index">
                      <div class="input-group">
                        <mat-checkbox class="example-margin" [checked]="option.check"
                        (change)="platformFilters(option, i)">
                          {{
                          option?.label
                          | translate
                          }}
                        </mat-checkbox>
                      </div>
                    </ng-container>
                  </div>
                  <!-- <div class="form-field-item form-field-checkbox">
                    <label for="" class="form-label">{{
                      "SEASON.FILTERS.MODE" | translate
                    }}</label>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Competitive</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin">Casual</mat-checkbox>
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Deathmatch</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Arms Race</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Demolition</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Wingman</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Retakes</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Danger Zone</mat-checkbox
                      >
                    </div>
                    <div class="input-group">
                      <mat-checkbox class="example-margin"
                        >Flying Scoutsman</mat-checkbox
                      >
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="Tournaments-right-checkbox-ButtonGroup">
              <button type="button" class="btn button-primary">
                {{ "BUTTON.SHOW_FILTERS" | translate }}
              </button>
              <button type="button" class="btn button-default">
                {{ "BUTTON.CLEAR_FILTERS" | translate }}
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!-- <header class="Tournaments-header">
    <div class="Tournaments-header-left">
      <h2 class="Tournaments-header-title global-H3">
        {{ "ESPORTS.TOURNAMENT.TOURNAMENTS.TITLE" | translate }}
      </h2>

      <div class="Tournaments-header-dropdown global-Dropdown">
        <button class="Tournaments-header-dropdown-button" [matMenuTriggerFor]="tournamentMode">
          {{ currentTab | capitalizeFirst }}
        </button>

        <mat-menu #tournamentMode="matMenu" xPosition="before">
          <button (click)="currentTab = 'upcoming'; changeTab($event)" mat-menu-item>
            {{ "ESPORTS.SECTIONBV2.BUTTON1" | translate }}
          </button>

          <button (click)="currentTab = 'ongoing'; changeTab($event)" mat-menu-item>
            {{ "ESPORTS.SECTIONBV2.BUTTON2" | translate }}
          </button>

          <button (click)="currentTab = 'completed'; changeTab($event)" mat-menu-item>
            {{ "ESPORTS.SECTIONBV2.BUTTON3" | translate }}
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="Tournaments-header-right">
      <button class="Tournaments-header-search global-IconBtn" [routerLink]="AppHtmlRoutes.search">
        <fa-icon class="Tournaments-header-search-icon" [icon]="faSearch"></fa-icon>
      </button>

      <button class="Tournaments-header-create" [routerLink]="AppHtmlRoutes.tournamentInfo">
        <img class="Tournaments-header-create-icon" src="assets/icons/add-team.svg" alt="create icon" />
        <span class="Tournaments-header-create-text">
          {{ "BUTTON.CREATE_TOURNAMENT" | translate }}
        </span>
      </button>
    </div>
  </header> -->
</section>
<div *ngIf="isShown" class="popup" id="divshow">
  <app-popup (hidePopup)="hidePopup()"></app-popup>
</div>
<app-footer-menu-mobile></app-footer-menu-mobile>
<!-- <app-faq></app-faq> -->
<app-footer-googly></app-footer-googly>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
