<mat-tab-group
  class="global-TabGroup"
  [(selectedIndex)]="activeTabIndex"
  mat-align-tabs="start"
  #matTabGroup
>
  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.ONGOING_TOURNAMENT' | translate }}"
  >
    <esports-loading *ngIf="isLoading"></esports-loading>

    <app-tournament-details
      *ngIf="activeTabIndex == 0 "
      (currentPage)="pageChanged($event)"
      (isModified)="modifyTournamentHandler($event)"
      [activeTab]="activeTabIndex"
      [activePage]="paginationData"
      [isExportEnable]="true"
      [checkIconShow]="checkIconShow"
      [deleteIconShow]="deleteIconShow"
      [manageIconShow]="manageIconShow"
      [page]="page"
      [isGWB]="true"
      [tournamentList]="tournamentList"
      [viewIconShow]="viewIconShow"
    ></app-tournament-details>
  </mat-tab>

  <mat-tab
    label="{{
      'ADMIN.ESPORTS_MANAGEMENT.TABS.UPCOMING_TOURNAMENT' | translate
    }}"
  >
    <esports-loading *ngIf="isLoading"></esports-loading>

    <app-tournament-details
      *ngIf="activeTabIndex == 1 "
      (currentPage)="pageChanged($event)"
      [activeTab]="activeTabIndex"
      (isModified)="modifyTournamentHandler($event)"
      [activePage]="paginationData"
      [checkIconShow]="checkIconShow"
      [deleteIconShow]="deleteIconShow"
      [editIconShow]="editIconShow"
      [isFeatureEditable]="true"
      [isExportEnable]="true"
      [manageIconShow]="manageIconShow"
      [page]="page"
      [isGWB]="true"
      [tournamentList]="tournamentList"
      [viewIconShow]="viewIconShow"
    ></app-tournament-details>
  </mat-tab>

  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.PAST_TOURNAMENT' | translate }}"
  >
    <esports-loading *ngIf="isLoading"></esports-loading>
    <app-tournament-details
      *ngIf="activeTabIndex == 2 "
      (currentPage)="pageChanged($event)"
      [activeTab]="activeTabIndex"
      (isModified)="modifyTournamentHandler($event)"
      [activePage]="paginationData"
      [checkIconShow]="checkIconShow"
      [deleteIconShow]="deleteIconShow"
      [manageIconShow]="manageIconShow"
      [isExportEnable]="true"
      [page]="page"
      [isGWB]="true"
      [tournamentList]="tournamentList"
      [viewIconShow]="viewIconShow"
    ></app-tournament-details>
  </mat-tab>

  <mat-tab
    label="{{
      'ADMIN.ESPORTS_MANAGEMENT.TABS.APPROVAL_TOURNAMENT' | translate
    }}"
  >
    <esports-loading *ngIf="isLoading"></esports-loading>

    <app-tournament-details
      *ngIf="activeTabIndex == 3 "
      (currentPage)="pageChanged($event)"
      (isModified)="modifyTournamentHandler($event)"
      [activeTab]="activeTabIndex"
      [checkIconShow]="checkIconShow"
      [deleteIconShow]="deleteIconShow"
      [editIconShow]="editIconShow"
      [manageIconShow]="manageIconShow"
      [tournamentList]="tournamentList"
      [type]="'approval'"
      [isExportEnable]="true"
      [activePage]="paginationData"
      [page]="page"
      [viewIconShow]="viewIconShow"
      [IAMAFFTournament]="IAMAFFTournament"
      (modifiedOptions)="getModifiedOptions($event)"
    ></app-tournament-details>
  </mat-tab>
  <mat-tab
    label="{{
      'ADMIN.ESPORTS_MANAGEMENT.TABS.WAGER_TOURNAMNET' | translate
    }}"
  >
    <esports-loading *ngIf="isLoading"></esports-loading>

    <app-tournament-details
      *ngIf="activeTabIndex == 4 "
      (currentPage)="pageChanged($event)"
      (isModified)="modifyTournamentHandler($event)"
      [activeTab]="activeTabIndex"
      [deleteIconShow]="deleteIconShow"
      [manageIconShow]="manageIconShow"
      [tournamentList]="tournamentList"
      [activePage]="paginationData"
      [page]="page"
      [isExportEnable]="false"
      [viewIconShow]="viewIconShow"
      (modifiedOptions)="getModifiedOptions($event)"
    ></app-tournament-details>
  </mat-tab>

  <mat-tab
    label="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABS.PRIZE_TOURNAMENT' | translate }}"
  >
    <esports-loading *ngIf="isLoading"></esports-loading>

    <app-esports-payment
      *ngIf="activeTabIndex == 5 "
      (isModified)="modifyTournamentHandler($event)"
      [tournamentList]="tournamentList"
      (currentPage)="pageChanged($event)"
      [activeTab]="activeTabIndex"
      [activePage]="paginationData"
      [page]="page"
    ></app-esports-payment>
  </mat-tab>
</mat-tab-group>
