<section class="Profile">
  <nav class="Profile-nav">
    <div *ngFor="let item of navLinks">
      <ng-container *ngIf="item?.dropdown; else justLink">
        <div ngbDropdown>
          <a
            [class.is-active]="isTournamentPage"
            ngbDropdownToggle
            id="navDropdown"
            class="Profile-nav-link Profile-nav-item"
            >{{ item.title | translate }}</a
          >
          <div
            ngbDropdownMenu
            aria-labelledby="navDropdown"
            class="mesf-ProfileDropdown"
          >
            <a
              *ngFor="let dropdownItem of item.dropdown"
              [routerLink]="[dropdownItem.url]"
              ngbDropdownItem
              class="Profile-nav-link is-dropdown"
            >
              {{ dropdownItem.title | translate }}
            </a>
          </div>
        </div>
      </ng-container>

      <ng-template #justLink>
        <a
          [routerLink]="[item.url]"
          routerLinkActive="is-active"
          class="Profile-nav-link Profile-nav-item"
        >
          {{ item.title | translate }}
        </a>
      </ng-template>
    </div>
  </nav>

  <div class="Profile-mob">
    <div
      class="Profile-mob-wp"
      [isAnimated]="true"
      [collapse]="!mobMenuOpened"
      [class.collapse]="!mobMenuOpened"
    >
      <div *ngFor="let item of navLinks">
        <ng-container *ngIf="item?.dropdown; else justLink">
          <div *ngFor="let dropdownItem of item.dropdown">
            <a
              (click)="mobMenuOpened = !mobMenuOpened"
              [routerLink]="[dropdownItem.url]"
              routerLinkActive="is-active"
              class="Profile-nav-link Profile-nav-item"
            >
              {{ dropdownItem.title | translate }}
            </a>
          </div>
        </ng-container>

        <ng-template #justLink>
          <a
            (click)="mobMenuOpened = !mobMenuOpened"
            [routerLink]="[item.url]"
            routerLinkActive="is-active"
            class="Profile-nav-link Profile-nav-item"
          >
            {{ item.title | translate }}
          </a>
        </ng-template>
      </div>
    </div>
    <nav class="navbar">
      <button
        class="navbar-toggler Profile-mob-btn"
        type="button"
        (click)="mobMenuOpened = !mobMenuOpened"
        [attr.aria-expanded]="mobMenuOpened"
      >
        <fa-icon
          [icon]="faBars"
          class="bar-class Profile-mob-btn-menu"
        ></fa-icon>
        <fa-icon
          [icon]="faTimes"
          class="bar-class Profile-mob-btn-close"
        ></fa-icon>
      </button>
    </nav>
  </div>

  <div class="Profile-box">
    <router-outlet></router-outlet>
  </div>
</section>
