@import "shared";

.UserManagement {
  &-searchBox {
    display: flex;
    justify-content: flex-end;
  }

  &-search {
    @extend %u-dfCenterBtw;
    background: #171616;
    padding: 8px 10px;
    border-radius: 10px;
    margin-top: 20px;

    mat-icon {
      color: #8e8e93;
      margin-right: 10px;
    }

    input {
      font-family: "dynasty-primary-regular", sans-serif;
      font-size: 17px;
      background: none;
      border: none;
      min-width: 300px;
      color: var(--whitecolor);
    }
  }

  &-tableBtn {
    color: #5b6a6f;

    mat-icon {
      font-size: 26px;
    }

    &:hover {
      color: var(--orange-color-main);
    }
  }
}
