<div class="Hottest-posts">
  <header class="Hottest-posts-header u-dfCenterBtw">
    <h2 class="global-Title2">
      {{ "HOTTEST2_POST.HOTTEST_POSTS" | translate }}
    </h2>
    <button
      class="Hottest-posts-header-button btn btn-outline-light"
      [routerLink]="['/article']"
    >
      {{ "HOTTEST2_POST.VIEW_MORE" | translate }}
    </button>
  </header>
  <div class="Hottest-posts-block" [routerLink]="['/article', params?.slug]">
    <div
      class="Hottest-posts-player"
      frameborder="0"
      [style.background-image]="'url(' + params?.image + ')'"
    ></div>

    <div class="Hottest-posts-player-description">
      <header class="Hottest-posts-player-header">
        <span class="Hottest-posts-player-title">{{
          params?.title | customTranslate: (languageService?.language | async)
        }}</span>
        |
        <span class="Hottest-posts-player-date">{{
          params?.createdDate | date: "medium"
        }}</span>
      </header>
      <p class="Hottest-posts-player-text">
        {{ params?.text }}
      </p>
    </div>
  </div>
</div>
