@import "shared";

$form-border-color: var(--color-ash-med);
$form-steps-header-bgcolor: var(--gradient-bg-drk4), var(--color-background);
$active-color: var(--color-primary);
.SI-FUID-Container {
  margin-bottom: px2vw-xl(50px);
  @include xxl {
    margin-bottom: px2vw-xl(50px);
  }
  @include lg {
    margin-bottom: px2vw-lg(50px);
  }
  @include md {
    margin-bottom: px2vw-md(50px);
  }
  @include sm {
    margin-bottom: px2vw-sm(50px);
  }
  border: 1px solid $form-border-color;
  fieldset {
    border: 1px solid $form-border-color;
  }
}
.form-steps-header {
  background: $form-steps-header-bgcolor;
  border-bottom: 1px solid var(--color-ash-med);
}
.form-steps-number {
  background: var(--color-background);
  color: $active-color;
  border-right: px2vw-xl(1px) solid $form-border-color;
  width: px2vw-xl(56px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include xxl {
    border-right-width: px2vw-xxl(1px);
    width: px2vw-xxl(56px);
  }
  @include lg {
    border-right-width: px2vw-lg(1px);
    width: px2vw-lg(56px);
  }
  @include md {
    border-right-width: px2vw-md(1px);
    width: px2vw-md(56px);
  }
  @include sm {
    border-right-width: 1px;
    width: px2vw-sm(56px);
  }
  .mat-icon {
    color: var(--color-close-btn);
    height: px2vw-xl(26px);
    width: px2vw-xl(30px);
    font-size: px2vw-xl(29px);
    @include xxl {
      width: px2vw-xxl(26px);
      height: px2vw-xxl(30px);
      font-size: px2vw-xxl(29px);
    }
    @include lg {
      width: px2vw-lg(26px);
      height: px2vw-lg(30px);
      font-size: px2vw-lg(29px);
    }
    @include md {
      width: px2vw-md(26px);
      height: px2vw-md(30px);
      font-size: px2vw-md(29px);
    }
    @include sm {
      width: px2vw-sm(26px);
      height: px2vw-sm(30px);
      font-size: px2vw-sm(29px);
    }
  }
}
.purchase_header {
  display: flex;
  align-items: center;
  height: px2vw-xl(61px);
  background: $form-steps-header-bgcolor;
  width: 100%;
  @include xxl {
    height: px2vw-xxl(61px);
  }
  @include lg {
    height: px2vw-lg(61px);
  }
  @include md {
    height: px2vw-md(61px);
  }
  @include sm {
    height: px2vw-sm(61px);
  }
  h4 {
    font-family: "maxis-black";
    font-size: px2vw-xl(20px);
    letter-spacing: px2vw-xl(0.15px);
    line-height: px2vw-xl(24px);
    color: var(--white-high);
    margin-left: px2vw-xl(16px);
    margin-bottom: 0;
    @include xxl {
      font-size: px2vw-xxl(20px);
      letter-spacing: px2vw-xxl(0.15px);
      line-height: px2vw-xxl(24px);
      margin-left: px2vw-xxl(16px);
    }
    @include lg {
      font-size: px2vw-lg(20px);
      letter-spacing: px2vw-lg(0.15px);
      line-height: px2vw-lg(24px);
      margin-left: px2vw-lg(16px);
    }
    @include md {
      font-size: px2vw-md(20px);
      letter-spacing: px2vw-md(0.15px);
      line-height: px2vw-md(24px);
      margin-left: px2vw-md(16px);
    }
    @include sm {
      font-size: px2vw-sm(20px);
      letter-spacing: px2vw-sm(0.15px);
      line-height: px2vw-sm(24px);
      margin-left: px2vw-sm(16px);
    }
  }
}
.purchase_content {
  padding: px2vw-xl(24px) 0;
  border-bottom: 1px solid var(--color-ash-med);
  width: 100%;
  @include xxl {
    padding: px2vw-xxl(24px) 0;
  }
  @include lg {
    padding: px2vw-lg(24px) 0;
  }
  @include md {
    padding: px2vw-md(24px) 0;
  }
  @include sm {
    padding: px2vw-sm(24px) 0;
  }
  p {
    margin-bottom: 0;
    font-family: "maxis-bold";
    font-size: px2vw-xl(16px);
    letter-spacing: px2vw-xl(0.15px);
    color: var(--white-high);
    line-height: 35px;
    @include xxl {
      font-size: px2vw-xxl(16px);
      letter-spacing: px2vw-xxl(0.15px);
      line-height: px2vw-xxl(24px);
    }
    @include lg {
      font-size: px2vw-lg(16px);
      letter-spacing: px2vw-lg(0.15px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      font-size: px2vw-md(16px);
      letter-spacing: px2vw-md(0.15px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      letter-spacing: px2vw-sm(0.15px);
      line-height: px2vw-sm(24px);
    }
  }
}
.form-group {
  margin-bottom: 0;
}
.bottom_button {
  padding: px2vw-xl(24px) 0;
  @include xxl {
    padding: px2vw-xxl(24px) 0;
  }
  @include lg {
    padding: px2vw-lg(24px) 0;
  }
  @include md {
    padding: px2vw-md(24px) 0;
  }
  @include sm {
    padding: px2vw-sm(24px) 0;
  }
}
