<div class="MyBracket">
  <div class="Profile-title">{{ "PROFILE.BRACKETS.TITLE" | translate }}</div>
  <div class="MyBracket-create">
    <button
      mat-button
      class="mesf-MatButton is-dark"
      [routerLink]="['../../bracket/create']"
    >
      <span class="material-icons">add_circle_outline</span
      >{{ "PROFILE.BRACKETS.BTN1" | translate }}
    </button>
  </div>
  <div class="MyBracket-items">
    <div class="MyBracket-item">
      <div class="MyBracket-item-coll mesf-Text">
        <div class="mesf-Text">
          {{ "PROFILE.BRACKETS.TABLE_TITLE" | translate }}
        </div>
      </div>
      <div class="MyBracket-item-coll">
        <div class="MyBracket-item-info">
          <div class="mesf-Text">{{ "PROFILE.BRACKETS.TYPE" | translate }}</div>
        </div>
      </div>
      <div class="MyBracket-item-coll">
        <div class="MyBracket-item-info">
          <div class="mesf-Text">{{ "PROFILE.BRACKETS.SIZE" | translate }}</div>
        </div>
      </div>
      <div class="MyBracket-item-coll">
        <div class="MyBracket-item-info">
          <div class="mesf-Text">
            {{ "PROFILE.BRACKETS.LAST_UPDATE" | translate }}
          </div>
        </div>
      </div>
      <div class="MyBracket-item-coll">
        <div class="MyBracket-item-info">
          <div class="mesf-Text">
            {{ "PROFILE.BRACKETS.ACTION" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let b of bracketData?.data?.docs" class="MyBracket-item">
      <div class="MyBracket-item-coll mesf-Text">
        <div class="mesf-Text">{{ b?.name }}</div>
      </div>
      <div class="MyBracket-item-coll">
        <div class="MyBracket-item-info">
          <span>{{ b?.bracketType | bracket | translate }}</span>
        </div>
      </div>
      <div class="MyBracket-item-coll">
        <div class="MyBracket-item-info">
          <span
            >{{ b?.maximumParticipants
            }}{{ "PROFILE.BRACKETS.PLAYER" | translate }}</span
          >
        </div>
      </div>
      <div class="MyBracket-item-coll">
        <div class="MyBracket-item-info">
          <span>{{ b?.updatedOn | date: "longDate" }}</span>
        </div>
      </div>
      <div class="MyBracket-item-coll">
        <fa-icon
          class="MyBracket-item-btn"
          [icon]="['fas', 'edit']"
          [routerLink]="['../../bracket/edit', b?._id]"
          ngbTooltip="{{ 'PROFILE.BRACKETS.EDIT' | translate }}"
        ></fa-icon>
        |
        <fa-icon
          class="MyBracket-item-btn"
          [icon]="['fas', 'trash']"
          ngbTooltip="{{ 'PROFILE.BRACKETS.REMOVE' | translate }}"
          (click)="onRemoveBracket(b)"
        >
        </fa-icon>
      </div>
    </div>
    <p [hidden]="bracketData?.data?.totalDocs">
      {{ "PROFILE.BRACKETS.NO_DATA" | translate }}
    </p>
    <app-pagination [page]="page" (currentPage)="pageChanged($event)">
    </app-pagination>
  </div>
</div>
