<div class="ct-HeaderTop">
  <div class="SelectGame u-wp rtl-no-align">
    <div class="SelectGame-container">
      <img src="assets/icons/games-icon.svg" alt=".." class="icon-width" />
      <h2 class="SelectGame-title global-Title3">SELECT THE GAME</h2>
      <div class="SelectGame-search">
        <app-input-search
          [placeholder]="
            'CREATE_TOURNAMENT.SELECT_GAME.SEARCH_PLACEHOLDER' | translate
          "
          [text]="text"
          (onTextChange)="onTextChange($event)"
        ></app-input-search>
      </div>
      <div class="games-selection">
        <ul
          *ngIf="eSportsTournamentService?.getGameList?.length"
          class="SelectGame-list"
        >
          <ng-container *ngFor="let game of filterGame()">
            <li
              *ngIf="game?.isTournamentAllowed"
              class="SelectGame-item"
              [class.is-active]="game?._id === Step2?.value?.gameDetail"
            >
              <div class="game-box">
                <div class="game-image">
                  <img
                    class="SelectGame-item-image image"
                    (click)="onSelectGame(game)"
                    [src]="game.image"
                    [alt]="game.name"
                  />
                  <div class="game-selected">
                    <p class="SelectGame-card-selected-text global-Elipses">
                      {{ "CREATE_TOURNAMENT.SELECT_GAME.SELECTED" | translate }}
                    </p>
                  </div>
                </div>
                <p class="SelectGame-item-name name global-Text">
                  {{ game?.name }}
                </p>
              </div>
            </li>
          </ng-container>
        </ul>
        <div class="overlay"></div>
      </div>
    </div>

    <app-page-switcher
      [step]="Step2?.value?.step"
      (onStepChange)="onStepChange($event)"
      (handleBackClic)="handleBackClick($event)"
    ></app-page-switcher>
  </div>
</div>
