<div class="Accounts">
  <mat-tab-group
    class="global-SecondTabs"
    mat-align-tabs="left"
    animationDuration="0ms"
  >
    <mat-tab [label]="'ACCOUNT_SETTINGS.ACCOUNTS.GAME.LABEL' | translate">
      <app-game-accounts></app-game-accounts>
    </mat-tab>

    <mat-tab [label]="'ACCOUNT_SETTINGS.ACCOUNTS.SOCIAL.LABEL' | translate">
      <app-social-accounts></app-social-accounts>
    </mat-tab>
  </mat-tab-group>

  <!-- <div class="Accounts-manage">
    <button class="Accounts-manage-button button-secondary" (click)="onClose()">
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button class="Accounts-manage-button button-primary" type="submit">
      {{ "BUTTON.SAVE_CHANGES" | translate }}
    </button>
  </div> -->
</div>
