@import "shared";

:host {
  display: block;
}

.Accounts {
  &-manage {
    @extend %u-dfCenter;
    margin-top: px2vw-xl(52px);

    @include lg {
      margin-top: px2vw-lg(52px);
    }

    @include md {
      margin-top: px2vw-md(52px);
    }

    @include sm {
      margin-top: px2vw-sm(52px);
    }
  }

  &-manage-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
