<app-header-spark [currentPageLink]="AppHtmlGetMatchRoutes.platforms"
  [title]="'MATCHMAKING.SELECT_PLATFORM.TITLE' | translate"></app-header-spark>
<section class="SeasonSelectTeam" style="
    background-image: url('../../../../../assets/images/season/Play_Season_Team-02.png');
  ">
  <div class="SeasonSelectTeam-container">
    <div class="SeasonSelectTeam-wrapper">
      <div class="SeasonSelectTeam-inner">
        <div class="SeasonSelectTeam-heading">
          <h2 class="title">
            {{ "MATCHMAKING.SELECT_TEAMS.TITLE" | translate }}
          </h2>
        </div>
        <div class="SeasonSelectTeam-content">
          <p>{{ "MATCHMAKING.SELECT_TEAMS.SUBTITLE" | translate }}</p>
          <div class="SeasonSelectTeam-lists">
            <ng-container *ngIf="teams.length">
              <div class="item" (click)="activateClass(team)" *ngFor="let team of teams" [ngClass]="{'active': team.active}">
                <div class="backgroup-top" [lazyLoad]="team.image"></div>
                <div class="avatar-team">
                  <img src="../../../../../assets/images/season/thumbnail-team.png" alt="" />
                </div>
                <h5 class="team-name">{{ team.name }}</h5>
                <p class="number-player">12 members</p>
              </div>
            </ng-container>
            <!-- <div class="item">
              <div class="backgroup-top" style="
                  background-image: url('../../../../../assets/images/season/banner-team-2.png');
                "></div>
              <div class="avatar-team">
                <img src="../../../../../assets/images/season/thumbnail-team-2.png" alt="" />
              </div>
              <h5 class="team-name">P-Crown</h5>
              <p class="number-player">5 members</p>
            </div> -->
            <div class="item item-last" [routerLink]="'/create-team'">
              <div class="icon" inlineSVG="assets/icons/season/Icon-plus.svg"></div>
              <p>{{ "MATCHMAKING.SELECT_TEAMS.CREATE_TEAM" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="ss-footer-buttons">
  <div class="wrapper">
    <div class="inner">
      <div class="box-item box-item-left"></div>
      <div class="box-item box-item-right">
        <span class="text">
          {{ "MATCHMAKING.SELECT_PLATFORM.GUIDE" | translate }}
        </span>
        <button class="button button-primary" (click)="toTeamGame()" [disabled]="!ready ? 'disabled': null" [ngClass]="{'active': ready}">
          {{ "BUTTON.NEXT" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>