@import "shared";

.Duration {
  width: 100%;
  display: flex;
  margin-right: 10px;
  border: 1px solid var(--white);
  border-radius: 5px;

  &-block {
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    background: transparent;
    color: white;
    width: 5vw;
  }

  &-error {
    margin-top: px2vw-xl(5px);
    color: var(--color-tertiary);

    @include lg {
      margin-top: px2vw-lg(5px);
    }

    @include md {
      margin-top: px2vw-md(5px);
    }

    @include sm {
      margin-top: px2vw-sm(5px);
    }
  }

  a,
  p {
    align-self: center;
    margin-bottom: unset;
    padding-left: 10px;

    img {
      filter: invert(1);
    }
  }
}

.DurationLabel {
  margin-top: px2vw-xl(20px);

  @include lg {
    margin-top: px2vw-lg(20px);
  }

  @include md {
    margin-top: px2vw-md(20px);
  }

  @include sm {
    margin-top: px2vw-sm(20px);
  }
}

.Duration-counter {
  grid-gap: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

@include sm {
  .Duration-counter {
    grid-gap: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: inherit;
  }
}