@import "shared";

carousel {
  display: block;
  margin-top: 25px;

  h4 {
    margin: 0;
    letter-spacing: 0;
    color: var(--base-05);
    font-size: 16px;
    line-height: 21px;
    padding: 0;
  }

  slide {
    height: 60px;
  }

  .text-center {
    background: var(--base-white) !important;
    border: 1px solid var(--base-01);
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      color: var(--base-01);
    }
  }
}

.round {
  &-edit {
    color: var(--base-yellow);
  }

  &-completed {
    color: var(--ui-success);
  }
}

fa-icon {
  cursor: pointer;

  &:hover {
    color: var(--base-yellow);
  }
}

.content-align-right {
  text-align: end;
}

button {
  margin: 0 5px;
}

.button-row {
  margin-top: 56px;

  @media (max-width: 767px) {
    padding: 0;
  }

  button {
    width: 20%;
    height: 60px;

    @media (max-width: 767px) {
      width: 46%;
      height: 50px;
    }

    &.btn-primary {
      background: var(--base-01);
    }
  }
}

$color: (
  "r": var(--ui-venetian-red),
  "g": var(--ui-green)
);

.completed-match {
  color: map-get($color, g);
}

.active-match {
  color: map-get($color, r);
}

.loading {
  margin-top: px2vw-xl(50px);
  
  @include lg {
    margin-top: px2vw-lg(50px);
  }

  @include md {
    margin-top: px2vw-md(50px);
  }

  @include sm {
    margin-top: px2vw-sm(50px);
  }
}
