@import "shared";

$--card-bg: radial-gradient(
  50.13% 129.55% at 0% 100%,
  rgba(115, 108, 255, 0.25) 0%,
  rgba(115, 108, 255, 0) 100%
);

$--card-matrix: matrix(1, 0, 0, -1, 0, 0);

:host {
  display: block;
}
.Referrals{
  max-width: 582px;
  width: 100%;
  padding-top: 40px;

  &-card {
    transform: $--card-matrix;
  
    @include lg {
      margin-bottom: px2vw-lg(40px);
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(40px) px2vw-lg(32px);
    }
  
    @include md {
      margin-bottom: px2vw-md(40px);
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      // padding: px2vw-md(40px) px2vw-md(32px);
    }
  
    @include sm {
      margin-bottom: px2vw-sm(40px);
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      // padding: px2vw-sm(40px) px2vw-sm(32px);
      padding: 0;
    }
  
    &-container {
      transform: $--card-matrix;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--color-black-medium);
    }
  
    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      color: var(--white);
      text-transform: inherit;
      margin-bottom: 32px;
  
      @include lg {
      }
  
      @include md {
      }
  
      @include sm {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;    
      }
    }
  
    &-subtitle {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--tolopea-medium-color);
      margin-bottom: 32px;
  
      @include lg {
      }
  
      @include md {
      }
  
      @include sm {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
      }
    }
  
    &-link-block {
      background: var(--main-color);
      border-radius: 8px;
      padding: 17px 19px;
      display: flex;
      justify-content: space-between;
  
      @include lg {
        border-radius: px2vw-lg(4px);
        padding: px2vw-lg(16px);
      }
  
      @include md {
        border-radius: px2vw-md(4px);
        padding: px2vw-md(16px);
      }
  
      @include sm {
        border-radius: px2vw-sm(4px);
        padding: px2vw-sm(16px);
        height: 56px;
        align-items: center;
        border-radius: 8px;
      }

      &.coppied {
        background-color: var(--green-light);
      }
    }
  
    &-link {
      @extend %body-1;
      margin-bottom: 0;
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;

      @include sm {
        display: flex;
      }

      &-string {

        @include sm {
          max-width: 135px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  
    &-link-button {
      @extend %u-dfCenterCenter;
      flex-shrink: 0;
      margin-left: px2vw-xl(16px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
      background-color: transparent;
  
      @include lg {
        margin-left: px2vw-lg(16px);
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }
  
      @include md {
        margin-left: px2vw-md(16px);
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }
  
      @include sm {
        margin-left: px2vw-sm(16px);
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }
  
      ::ng-deep svg {
        height: px2vw-xl(16px);
        width: px2vw-xl(13px);
        cursor: pointer;
  
        @include lg {
          height: px2vw-lg(16px);
          width: px2vw-lg(13px);
        }
  
        @include md {
          height: px2vw-md(16px);
          width: px2vw-md(13px);
        }
  
        @include sm {
          height: px2vw-sm(16px);
          width: px2vw-sm(13px);
        }
  
        path {
          transition: $global-transition2;
        }
      }
  
      &:hover ::ng-deep svg path {
        fill: var(--color-primary);
      }
    }
  }
  
  &-history {
    margin-top: 15px;

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--tolopea-medium-color);
      margin-bottom: 16px;
  
      @include lg {
        margin-bottom: px2vw-lg(40px);
      }
  
      @include md {
        margin-bottom: px2vw-md(40px);
      }
  
      @include sm {
        margin-bottom: px2vw-sm(40px);
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;    
      }
    }

    &-cards {

      &-info {
        padding-bottom: 16px;
        padding-top: 16px;
        border-bottom: 1px solid var(--color-black-medium);
  
        &-email {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: var(--white);

          @include sm {
            font-size: 16px;
            line-height: 24px;
          }
        }
  
        &-date {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--tolopea-color);
        }
      }
    }
  
    app-referral-card:first-child {
      ::ng-deep .ReferralCard {
        padding-top: 0;
      }
    }
  }
}
mat-icon#icon {
  color: var(--white);
}
