<div class="carousel-row">
  <carousel
    [showIndicators]="false"
    [interval]="false"
    [isAnimated]="true"
    (activeSlideChange)="slideChange($event)"
  >
    <slide *ngFor="let l of list; let i = index">
      <div class="text-center bg-dark text-white">
        <h4>{{ title | translate }} {{ i + 1 }}/{{ list?.length }}</h4>
      </div>
    </slide>
  </carousel>
</div>
