@import "shared";

.Games-cards {
  border-bottom: 1px solid #707070;
  padding-top: px2vw-xl(47.5px);
  padding-bottom: px2vw-xl(28.5px);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  grid-column-gap: px2vw-xl(20px);
  grid-row-gap: px2vw-xl(26px);

  @include lg {
    padding-top: px2vw-lg(47.5px);
    padding-bottom: px2vw-lg(28.5px);
    grid-column-gap: px2vw-lg(20px);
    grid-row-gap: px2vw-lg(26px);
  }

  @include md {
    padding-top: px2vw-md(47.5px);
    padding-bottom: px2vw-md(28.5px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: px2vw-md(10px);
    grid-row-gap: px2vw-md(10px);
  }

  @include sm {
    padding-top: px2vw-sm(47.5px);
    padding-bottom: px2vw-sm(28.5px);
    grid-column-gap: px2vw-sm(10px);
    grid-row-gap: px2vw-sm(10px);
  }

  &-card {
    position: relative;
    max-width: px2vw-xl(397px);

    @include lg {
      max-width: px2vw-lg(397px);
    }

    @include md {
      max-width: px2vw-md(397px);
    }

    @include sm {
      max-width: px2vw-sm(397px);
    }

    &:hover {
      background-color: #171616;

      &-content {
        opacity: 0.7;
      }
    }

    &-image {
      height: px2vw-xl(269px);
      object-fit: cover;
      display: block;
      width: 100%;

      @include lg {
        height: px2vw-lg(269px);
      }

      @include md {
        height: px2vw-md(269px);
      }

      @include sm {
        height: px2vw-sm(269px);
      }
    }

    &-container {
      padding: px2vw-xl(16px);
      font-size: px2vw-xl(18px);
      color: #fff;
      transition: 250ms ease-in-out;

      @include lg {
        padding: px2vw-lg(16px);
        font-size: px2vw-lg(18px);
      }

      @include md {
        padding: px2vw-md(16px);
        font-size: px2vw-md(18px);
      }

      @include sm {
        padding: px2vw-sm(16px);
        font-size: px2vw-sm(18px);
      }
    }
    &-name {
      margin-bottom: px2vw-xl(18px);
      text-transform: uppercase;
      font-family: "dynasty-primary-semibold", sans-serif;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(22px);

      @include lg {
        margin-bottom: px2vw-lg(18px);
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(22px);
      }

      @include md {
        margin-bottom: px2vw-md(18px);
        font-size: px2vw-md(16px);
        line-height: px2vw-md(22px);
      }

      @include sm {
        margin-bottom: px2vw-sm(18px);
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(22px);
      }
    }
    &-date {
      margin-bottom: px2vw-xl(8px);
      font-family: "dynasty-primary-regular", sans-serif;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(22px);

      @include lg {
        margin-bottom: px2vw-lg(8px);
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(22px);
      }

      @include md {
        margin-bottom: px2vw-md(8px);
        font-size: px2vw-md(16px);
        line-height: px2vw-md(22px);
      }

      @include sm {
        margin-bottom: px2vw-sm(8px);
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(22px);
      }
    }
    &-description {
      opacity: 0.6;
      font-family: "dynasty-primary-light", sans-serif;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(22px);

      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(22px);
      }

      @include md {
        font-size: px2vw-md(16px);
        line-height: px2vw-md(22px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(24px);
      }
    }

    &.main {
      max-width: px2vw-xl(890px);
      grid-area: 1 / 1 / 2 / 3;

      @include lg {
        max-width: px2vw-lg(890px);
      }

      @include md {
        max-width: none;
      }

      @include sm {
      }

      .shadow {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          15deg,
          #000000 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }

    &.main &-name {
      font-family: "dynasty-primary-large", sans-serif;
      font-size: px2vw-xl(44px);
      line-height: px2vw-xl(48px);

      @include lg {
        font-size: px2vw-lg(44px);
        line-height: px2vw-lg(48px);
      }

      @include md {
        font-size: px2vw-md(44px);
        line-height: px2vw-md(48px);
      }

      @include sm {
        font-size: px2vw-sm(44px);
        line-height: px2vw-sm(48px);
      }
    }

    &.main &-image {
      min-height: 100%;
      max-height: px2vw-xl(450px);
    }

    &.main &-container {
      z-index: 20;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
