@import "shared";

:host {
  display: block;
}

.Preferences {
  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(8px);
    color: var(--tolopea-medium-color);
    font-size: 20px;

    @include xl {
      font-size: 18px;
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-subtitle {
    @extend %subtitle-2;
    margin-bottom: px2vw-xl(40px);
    color: var(--tolopea-color);
    font-size: 16px;

    @include xl {
      font-size: 13px;
    }

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-games-block {
  }

  &-search {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(36px);
    border: px2vw-xl(1px) solid var(--white-smoke);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(15px) px2vw-xl(10px);
    background-color: var(--white-light);

    @include lg {
      margin-bottom: px2vw-lg(36px);
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(15px) px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(36px);
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(15px) px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(36px);
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(15px) px2vw-sm(10px);
    }
  }

  &-search-icon {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);
    font-size: px2vw-xl(24px);
    color: var(--white-high);

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(30px);
      width: px2vw-md(30px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
      font-size: px2vw-sm(24px);
    }
  }

  &-search-input {
    @extend %body-1;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    transition: $global-transition2;

    &:hover:not(:focus) {
      opacity: 0.6;
    }
  }

  &-cards-list {
    overflow-y: auto;
    margin-right: px2vw-xl(15px);

    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(6, 134px);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(12px);
    grid-row-gap: px2vw-xl(24px);
    place-content: center;

    @include lg {
      margin-right: px2vw-lg(15px);

      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(15px);

      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      grid-template-columns: repeat(3, 101px);
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(24px);
    }
  }

  &-cards-iconlist {
    overflow-y: auto;
    margin-right: px2vw-xl(15px);

    display: grid;
    grid-template-columns: repeat(4, 189px);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(24px);

    @include sm {
      grid-template-columns: repeat(2, 160px);
      grid-column-gap: px2vw-xl(32px);
      grid-row-gap: px2vw-xl(48px);
    }
  }

  &-manage {
    @extend %u-dfCenter;
    margin-top: px2vw-xl(68px);

    @include lg {
      margin-top: px2vw-lg(68px);
    }

    @include md {
      margin-top: px2vw-md(68px);
    }

    @include sm {
      margin-top: px2vw-sm(68px);
    }
  }

  &-manage-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

::ng-deep .global-SecondTabs .mat-tab-label-active .mat-tab-label-content {
  color: var(--main-color);
}

::ng-deep .global-SecondTabs .mat-tab-label-content {
  color: var(--white);
}

::ng-deep .global-SecondTabs .mat-tab-label {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin-right: 54px;
  color: var(--white);
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--main-color);
}

::ng-deep .global-SecondTabs .mat-tab-label-active {
  background-color: transparent;
  border: 0;
}

::ng-deep .mat-tab-labels {
  border-bottom: 2px solid var(--white-disabled);
}

::ng-deep .mat-tab-label-container {
  margin-bottom: 22px;
}

.Preferences-manage {

  @include sm {
    button {
      width:100%
    }
  }
}
