@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--primary-purple);
  align-items: center;
  min-height: px2vw-xl(79px);
  transition: all 100ms linear;

  @include lg {
    min-height: px2vw-lg(79px);
  }

  @include md {
    min-height: px2vw-md(79px);
  }

  @include sm {
    min-height: px2vw-sm(79px);
  }
}

.chat-icon {
  font-size: 20px;
  top: 0 !important;
}

.Header {
  &-logo {
    height: px2vw-xl(52px);

    @include lg {
      height: px2vw-lg(52px);
    }

    @include md {
      height: px2vw-md(52px);
    }

    @include sm {
      height: px2vw-sm(52px);
    }
  }

  &-desktop {
    @extend %u-dfCenterBtw;
    padding: px2vw-xl(15px) 0;

    @include lg {
      display: none;
    }

    &-right {
      display: flex;
      align-items: center;
      flex: 1;
      max-width: px2vw-xl(1289px);
    }
  }

  &-logo-block {
    @extend %u-dfCenterBtw;
    margin-left: px2vw-xl(20px);

    @include lg {
      margin-left: px2vw-lg(20px);
    }
  }

  &-nav {
    margin-left: px2vw-xl(110px);

    @include lg {
      margin-left: px2vw-lg(110px);
    }

    @include md {
      margin-left: px2vw-md(110px);
    }

    @include sm {
      margin-left: px2vw-sm(110px);
    }

    &-item {
      font-size: px2vw-xl(15px);
      padding: 0 px2vw-xl(15px);
      margin: 0 px2vw-xl(10px);
      line-height: px2vw-xl(79px);
      display: inline-block;
      font-family: "stc-forward-regular", sans-serif;
      transition: all 100ms linear;

      @include lg {
        font-size: px2vw-lg(15px);
        padding: 0 px2vw-lg(15px);
        margin: 0 px2vw-lg(10px);
        line-height: px2vw-lg(79px);
      }

      @include md {
        font-size: px2vw-md(15px);
        padding: 0 px2vw-md(15px);
        margin: 0 px2vw-md(10px);
        line-height: px2vw-md(79px);
      }

      @include sm {
        font-size: px2vw-sm(15px);
        padding: 0 px2vw-sm(15px);
        margin: 0 px2vw-sm(10px);
        line-height: px2vw-sm(79px);
      }

      &:hover,
      &:focus,
      &.is-active {
        box-shadow: inset 0 -2px 0 0 var(--primary-cinnabar) !important;
        font-family: "stc-forward-semibold", sans-serif;
      }
    }
  }

  &-icon {
    margin: 0 px2vw-xl(10px);
    color: var(--base-white);

    @include lg {
      margin: 0 px2vw-lg(10px);
    }

    @include md {
      margin: 0 px2vw-md(10px);
    }

    @include sm {
      margin: 0 px2vw-sm(10px);
    }
  }

  &-user {
    margin-left: px2vw-xl(5px);
    font-size: px2vw-xl(15px);
    color: var(--base-white);

    @include lg {
      margin-left: px2vw-lg(5px);
      font-size: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(5px);
      font-size: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(5px);
      font-size: px2vw-sm(15px);
    }

    &:after {
      display: none;
    }

    img {
      border-radius: 50%;
      border: 1px solid var(--base-white);
      width: px2vw-xl(32px);
      height: px2vw-xl(32px);

      @include lg {
        width: px2vw-lg(32px);
        height: px2vw-lg(32px);
      }

      @include md {
        width: px2vw-md(32px);
        height: px2vw-md(32px);
      }

      @include sm {
        width: px2vw-sm(32px);
        height: px2vw-sm(32px);
      }
    }
  }

  &-mob {
    @extend %u-dfCenterBtw;
    display: none;

    @include lg {
      display: flex;
    }
    @include sm {
      padding: px2vw-sm(5px) px2vw-sm(11px);
      flex-direction: row-reverse;
    }

    &-user-panel {
      display: flex;
      align-items: center;
      @include sm {
        flex-direction: inherit;
      }
    }

    &-aside-button {
      color: var(--base-white);
    }

    &-chat-button {
      margin: 0;
    }

    &-search {
      span {
        line-height: 1;

        ::ng-deep svg {
          position: relative;
          width: 19px;
          height: 19px;
          top: px2vw-xl(-2px);

          @include lg {
            top: px2vw-lg(-2px);
          }

          @include md {
            top: px2vw-md(-2px);
          }

          @include sm {
            top: px2vw-sm(-2px);
          }
        }
      }
    }
  }

  &-btn {
    transition: all 100ms linear;
  }

  &-notificatioBtn {
    position: relative;
    margin-left: 20px;

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }

    ::ng-deep {
      ellipse,
      path {
        stroke: var(--base-white);
      }
    }

    &.is-active {
      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: px2vw-xl(16px);
        height: px2vw-xl(16px);
        border-radius: 50%;
        background: var(--primary-sunset-light);

        @include lg {
          width: px2vw-lg(16px);
          height: px2vw-lg(16px);
        }

        @include md {
          width: px2vw-md(16px);
          height: px2vw-md(16px);
        }

        @include sm {
          width: px2vw-sm(16px);
          height: px2vw-sm(16px);
        }
      }
    }
  }
}

.App-chat-search .searchbox {
  color: var(--base-black);
  background-color: #ededed !important;
}

.App-chat-search {
  background-color: #ededed !important;
}

beta-text {
  color: var(--base-white);
  margin-top: 23px;
}
