<div class="Photo-fields-item-country country">
  <mat-form-field class="global-MatField" appearance="outline">
    <mat-label>
      {{
      "DASHBOARD.TEAM"| translate
      }}
    </mat-label>
    <mat-select>
      <mat-option value="Profile">{{"DASHBOARD.MY"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.DAS"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.MAT"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.TOUR"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.CONT"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.BOOK"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.TRAN"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.INBOX"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.TEAM"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.STAT"| translate}}</mat-option>
      <mat-option value="Profile">{{"DASHBOARD.SETTIN"| translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<header class="MyTeams-header">
  <div class="MyTeams-header-image" lazyLoad="assets/images/Profile/teams/header-bg.png"></div>
</header>

<section class="MyTeams-about">
  <div class="MyTeams-about-header">
    <h1 class="MyTeams-about-header-title global-Elipses">
      {{ "PROFILE.MY_TEAMS.ABOUT.TITLE" | translate }}
    </h1>

    <button class="MyTeams-about-header-button button-icon-primary" (click)="pushGTMTags('View_Create_New_Team')"
      [routerLink]="'/create-team'">
      <mat-icon> add </mat-icon>
      <span>
        {{ "BUTTON.CREATE_TEAM" | translate }}
      </span>
    </button>
  </div>

  <h4 class="MyTeams-about-subtitle">
    {{ "PROFILE.MY_TEAMS.ABOUT.SUBTITLE" | translate }}
  </h4>
  <div class="MyTeams-about-icon" style="display: flex;">
    <img lazyLoad="assets/icons/sentences/arrowAdventure.svg" style="margin-top: 32px;padding-right: 7px;" alt="icon" />
    <img lazyLoad="assets/icons/sentences/adventure.svg" alt="icon" />
  </div>

</section>

<section class="MyTeams-control">
  <div class="MyTeams-control-toggles global-MatToggles" ngbNav #nav="ngbNav" (navChange)="navChanges($event)"
    [(activeId)]="active">
    <!-- My teams -->
    <div class="MyTeams-control-toggle" [ngbNavItem]="1">
      <a class="MyTeams-control-link textDeco" ngbNavLink>
        {{ "PROFILE.MY_TEAMS.TOGGLES.MY_TEAMS" | translate | capitalizeFirst }}
      </a>

      <ng-template ngbNavContent>
        <div class="MyTeams-cards">
          <h3 class="MyTeams-cards-title">
            {{ "PROFILE.MY_TEAMS.CONTROL.YOUR_TEAMS" | translate }}
          </h3>
          <div class="MyTeams-cards-list" *ngIf="myTeams.length">
            <ng-container *ngFor="let item of myTeams">
              <app-team-card [isManage]="true" [data]="item" (refresh)="resfresh($event)"></app-team-card>
            </ng-container>
            <div class="BookmarksTable-pagination">
              <mat-paginator [length]="paginationDetails?.totalDocs" [pageSize]="paginationData?.limit"
                [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"></mat-paginator>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <!-- Team requests -->
    <div class="MyTeams-control-toggle" [ngbNavItem]="2">
      <a class="MyTeams-control-link textDeco" ngbNavLink>
        {{
        "PROFILE.MY_TEAMS.TOGGLES.TEAM_REQUESTS" | translate | capitalizeFirst
        }}
      </a>

      <ng-template ngbNavContent>
        <div class="MyTeams-cards">
          <h3 class="MyTeams-cards-title">
            {{ "PROFILE.MY_TEAMS.CONTROL.TEAM_REQUESTS" | translate }}
          </h3>
          <div class="MyTeams-cards-list">
            <ng-container *ngFor="let item of teamRequests">
              <div class="TeamCard">
                <div class="TeamCard-image" [lazyLoad]="item?.image"></div>

                <div class="TeamCard-info">
                  <h3 class="TeamCard-info-name">
                    {{ item?.name }}
                  </h3>
                  <p class="TeamCard-info-description">
                     {{ item?.teamMemberCount }}
                    {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} •

                    <ng-container>
                      {{ item?.createtdAt | amTimeAgo}}
                      <!-- {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }} -->
                    </ng-container>
                  </p>
                </div>

                <div class="TeamCard-manage">
                  <ng-container>
                    <button class="TeamCard-manage-button button-secondary" (click)="rejectfunction(item)">
                      {{ "BUTTON.REJECT" | translate }}
                    </button>

                    <button class="TeamCard-manage-button button-primary" (click)="acceptfunction(item)">
                      {{ "BUTTON.ACCEPT" | translate }}
                    </button>
                  </ng-container>

                </div>
              </div>
            </ng-container>
            <mat-paginator [length]="paginationDetails?.totalDocs" [pageSize]="paginationData?.limit"
              [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"></mat-paginator>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="MyTeams-control-content" [ngbNavOutlet]="nav"></div>
</section>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
