<div class="MyReferral">
  <div class="d-flex">
    {{ "PROFILE.BASIC_INFO.REFERRAL_TITLE" | translate }}

    <button
      *ngIf="user.accountDetail.referralId"
      class="btn global-btn-yellow btnRef global-text-base"
      (click)="open(mymodal)"
    >
      <img
        src=".\assets\images\Profile\invite friends.svg"
        class="ref-icon"
        alt=""
      />
      {{ "PROFILE.BASIC_INFO.REFERRAL_INVITE" | translate | uppercase }}
    </button>
  </div>

  <div class="MyReferral-table">
    <ngx-datatable
      [rows]="referral.rows"
      [columns]="referral.columns"
      [columnMode]="'force'"
      [headerHeight]="'auto'"
      [rowHeight]="'auto'"
      [footerHeight]="'auto'"
      [limit]="5"
      class="global-DataTable"
      [externalPaging]="true"
      [offset]="1"
      [limit]="5"
      [count]="5"
      (page)="setPage1($event)"
    >
      <ngx-datatable-column name="DATE" prop="DATE"> </ngx-datatable-column>

      <ngx-datatable-column name="Invitation" prop="Invitation">
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Reward points"
        prop="points"
      ></ngx-datatable-column>
    </ngx-datatable>
  </div>

  <ng-template #mymodal let-modal>
    <div class="modal-header divider-ref">
      <h3 class="modal-title ref-title global-H4" id="modal-basic-title">
        {{ "PROFILE.BASIC_INFO.REFERRAL_MESSAGE" | translate }}
      </h3>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body" id="modal-basic-title">
      {{ "PROFILE.BASIC_INFO.REFERRAL_INSTRUCTION" | translate }}
    </div>

    <div class="modal-footer ref-footer divider-ref">
      <div class="popupBody">
        <span class="popupBody-url">{{
          URL | limitString: 30:"...":innerWidth
        }}</span>
        <button
          id="myDIV"
          type="button"
          [disabled]="clicked"
          (click)="copyToClipboard($event); clicked = true"
          class="btn global-btn-black popupBody-popupButton"
        >
          <span
            class="material-icons copy"
            *ngIf="!clicked"
            ngbTooltip=" {{
              'PROFILE.BASIC_INFO.REFERRAL_CODE_MESSAGE' | translate
            }}"
          >
            content_copy
          </span>
          <span class="btn-copy" *ngIf="!clicked">{{
            "PROFILE.BASIC_INFO.REFERRAL_OK" | translate | uppercase
          }}</span>
          <span class="material-icons done" *ngIf="clicked"> done </span>
          <span class="btn-copy1" *ngIf="clicked">{{
            "PROFILE.BASIC_INFO.REFERRAL_COPIED" | translate | uppercase
          }}</span>
        </button>
      </div>
    </div>
  </ng-template>
  <app-pagination [page]="page" (currentPage)="setPage1($event)">
  </app-pagination>
  <app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
</div>
