@import "../../../../assets/styles/variables";
@import "shared";
.card {
  z-index: 9;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0;
  background: var(--base-white);
  padding: 24px 28px;
  font-family: "stc-forward-medium" !important;
  color: var(--base-black-pearl);
  font-size: 26px;
  line-height: 34px;
  cursor: pointer;

  fa-icon {
    margin: -4px 7px;
    opacity: 0.6;
  }

  &.expand,
  &:hover {
    background: var(--base-white);
  }
}

.card:hover {
  background: var(--base-white);
}

.collapse.show {
  margin-bottom: 93px;
  background: var(--base-white);
  border: 0.4px solid var(--base-gainsboro);
}

table {
  thead {
    tr {
      th {
        width: 1%;
        padding: 26px 20px;
        font-size: 22px;
        line-height: 29px;
        font-family: "stc-forward-light" !important;
        font-weight: 100;

        &:first-child {
          padding-left: 50px;
        }
      }

      th:not(:first-child) {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid var(--base-gainsboro);

      &:hover {
        background: var(--base-white);

        th {
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: 9px;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--primary-sunset-light);
          }
        }
      }

      th {
        border-right: 1px solid var(--base-gainsboro);
        width: 1%;
        padding: 17px;
        padding-left: 50px;
        font-family: "stc-forward-light" !important;
        font-weight: 100;
        font-size: 20px;
        line-height: 26px;
        color: var(--base-black-pearl);
      }

      td {
        div {
          padding: 17px 0;
          text-align: center;
          font-family: "stc-forward-light" !important;
          line-height: 26px;
          font-size: 20px;
          font-weight: 100;
          color: var(--base-black-pearl);

          &:first-child {
            border-bottom: 1px solid var(--base-gainsboro);
          }
        }

        &:nth-child(2) {
          width: 3%;
        }
      }
    }

    button {
      border: 1px solid transparent;
      border-radius: 4px;
      width: px2vw-xl(150px);
      height: px2vw-xl(41px);
      font-family: "stc-forward-regular" !important;
      color: var(--base-black-pearl);
      cursor: default;

      @include lg {
        width: px2vw-lg(150px);
        height: px2vw-lg(41px);
      }

      @include md {
        width: px2vw-md(150px);
        height: px2vw-md(41px);
      }

      @include sm {
        width: px2vw-sm(150px);
        height: px2vw-sm(41px);
      }

      &.winner {
        border-color: var(--primary-sunset-light);
        background-color: var(--primary-sunset-light);
        color: var(--base-white);
      }

      &.loser {
        border-color: var(--base-gainsboro);
        background-color: transparent;
      }
    }
  }
}

.match-not-available {
  padding: 10px 0 0 0;
  margin-left: -15px;
}

::ng-deep html[dir="rtl"] {
  .match-not-available {
    text-align: right;
  }
}

.container-match-list {
  padding-right: 12px;
  padding-right: 20px;

  &::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgba(0, 0, 3, 0.3);
    border-radius: 11px;
  }
}

.btn-row-round {
  border-radius: 5px;
  margin-top: 30px;
  overflow: hidden;

  .col-3 {
    background: var(--ui-valhalla) 0% 0% no-repeat padding-box;
    padding: 15px;
    padding-left: 62px;

    p {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }

    fa-icon {
      margin-left: 33px;
      font-size: 15px;
    }

    .row {
      p {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
}

.p-padding {
  padding: 30px;
}

@media (max-width: 767px) {
  .container-match-list {
    padding-right: 0;

    .card {
      padding: 10px 28px;
      font-size: 18px;
      line-height: normal;
      margin-top: 30px;
    }
  }

  .collapse.show {
    margin-bottom: 40px;
    overflow: scroll;
  }

  table {
    thead {
      tr {
        th {
          padding: 10px 20px;
          font-size: 14px;
          line-height: normal;

          &:first-child {
            padding-left: 30px;
          }
        }
      }
    }

    tbody {
      tr {
        th {
          padding-left: 30px;
          font-size: 14px;
          line-height: normal;
        }

        td {
          div {
            font-size: 14px;
            line-height: normal;
          }

          &:last-child {
            padding-right: 10px;

            div {
              padding: 10px 0;
            }
          }

          &:nth-child(2) {
            min-width: 160px;
          }
        }
      }

      button {
        width: 150px;
        height: 30px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container-match-list {
    padding-right: 0;

    .card {
      padding: 17px 28px;
      font-size: 18px;
      line-height: normal;
      margin-top: 30px;
    }
  }

  .collapse.show {
    margin-bottom: 40px;
    overflow: scroll;
  }
  table {
    thead {
      tr {
        th {
          padding: 10px 20px;
          font-size: 14px;
          line-height: normal;

          &:first-child {
            padding-left: 30px;
          }
        }
      }
    }

    tbody {
      tr {
        th {
          padding-left: 30px;
          font-size: 14px;
          line-height: normal;
        }

        td {
          div {
            font-size: 14px;
            line-height: normal;
          }

          &:last-child {
            padding-right: 10px;

            div {
              padding: 10px 0;
            }
          }

          &:nth-child(2) {
            min-width: 160px;
          }
        }
      }

      button {
        width: 150px;
        height: 30px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .card {
    padding: 16px 28px;
    font-size: 20px;
    line-height: normal;
  }

  table {
    thead {
      tr {
        th {
          font-size: 16px;
          line-height: normal;
        }
      }
    }

    tbody {
      tr {
        td {
          div {
            padding: 17px 0;
            font-size: 16px;
            line-height: normal;
          }

          &:last-child {
            div {
              padding: 10px 0;
            }
          }
        }

        th {
          font-size: 16px;
          line-height: normal;
        }
      }
    }
  }

  .collapse.show {
    margin-bottom: 70px;
  }
}

.table-td {
  border-right: 1px solid var(--base-black);
  width: 1%;
  padding: 17px;
  font-family: "stc-forward-light" !important;
  font-size: 15px;
  line-height: 26px;
  font-weight: 100;

  &:not(:first-child) {
    text-align: center;
  }

  &:first-child {
    padding-left: 50px;
  }
}

.standing {
  table {
    background-color: var(--ui-nero);
    border-radius: 5px;
    box-shadow: 0 0 0 1px var(--base-black);
    border-collapse: collapse;
    margin: 0;

    thead {
      th {
        border-bottom: 0.5px solid var(--base-black);
        padding: 26px;
        white-space: nowrap;
        text-align: center;
        font-size: 18px;
        font-weight: 100;
        line-height: normal;
        letter-spacing: 0;
        color: var(--base-white-smoke);

        &:first-child {
          text-align: left;
        }
      }
    }

    tbody {
      td,
      th {
        border-bottom: 0.5px solid var(--base-black);
        padding: 15px 28px;
        letter-spacing: 0;
        color: var(--base-white-smoke);
        font-size: 16px;
        text-align: center;
        font-weight: 100;
        vertical-align: inherit;
        text-transform: inherit;
        white-space: nowrap;
      }

      tr:last-child td,
      tr:last-child th {
        border-bottom: 0;
      }

      .standing tr {
        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          td,
          th {
            background-color: var(--base-black-pearl);
          }
        }
      }
    }
  }
}

.round-title {
  margin: 0;
  padding-left: 30px;
}

.battle-royale-standing {
  border-bottom: 1px solid #ddd;
  td {
    border-right: 1px solid #ddd;
    text-align: center;
    font-family: "stc-forward-light" !important;
  }
}

.scoreConflict {
  background-color: lightpink;
  padding: 4px;
  border-radius: 6px;
}
.scoreConflict:hover {
  background-color: lightpink !important;
}

.form-check {
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 10px;
  
  .form-check-label {
    font-size: 16px;
    margin-right: 16px;
    line-height: 21px;
    padding: 0;
  }

  img {
    width: 13px;
    margin-right: 10px;
  }
}

/* toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  border-radius: 167px;
  width: 45px;
  height: 25px;
  margin-bottom: 0;
}

.switch-text-label {
  vertical-align: top;
  margin-right: 0.5em;
  position: relative;
}

.form-check {
  margin-left: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--base-gainsboro);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 19px;
  left: 5px;
  bottom: 4px;
  background-color: var(--base-white-smoke);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-sunset-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--ui-dodger-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}