@import "../abstract/mixins";
@import "../abstract/variables";
@import "../base/wrappers";
@import "../abstract/functions";

  .top_menu {
    background-color: var(--primary-sunset-light);
    width: 100%;
    padding: 10px 0 10px;
    box-shadow: 0 1px 30px rgba(255, 0, 0, 0.1);
  }
  
  .top_menu .buttons {
    margin: 3px 0 0 20px;
    position: absolute;
    right: 0;
  }
  
  .top_menu .buttons .button {
    margin-top: 5px;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }
  
  .top_menu .close img {
    vertical-align: top;
    cursor: pointer;
  }
  
  .top_menu .close {
    opacity: 1;
  }
  
  .top_menu .title {
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--base-white);
  }
  
  .top_menu .subtitle {
    text-align: left;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 12px;
    font-size: 12px;
    line-height: 14px;
    color: var(--base-white);
  }
  
  .typing,
  .message_input_wrapper,
  .messageform {
    min-width: 100%;
  }
  
  .chat_window_right_drawer {
    right: 680px;
  }
  
  html[dir="rtl"] .chat_window_right_drawer {
    left: 695px !important;
    right: auto;
  }
  
  .chat_window_right_game_drawer {
    right: 0px;
  }
  
  .chat_window_history_drawer {
    right: 1000px !important;
  }
  
  .chat_window_reporter_drawer {
    right: 550px !important;
  }
  
  .chat_window_abuser_drawer {
    right: 0px !important;
  }
  
  .chat_window_right {
    right: 4px;
  }
  
  .chat_window {
    position: fixed;
    width: calc(100% - 20px);
    max-width: 500px;
    height: 500px;
    border-top-left-radius: px2vw-xl(5px);
    border-top-right-radius: px2vw-xl(5px);
    background-color: var(--base-white);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    bottom: 0;
    z-index: 100000;
  
    @include lg {
      border-top-left-radius: px2vw-lg(5px);
      border-top-right-radius: px2vw-lg(5px);
    }
  
    @include md {
      border-top-left-radius: px2vw-md(5px);
      border-top-right-radius: px2vw-md(5px);
    }
  
    @include sm {
      border-top-left-radius: px2vw-sm(5px);
      border-top-right-radius: px2vw-sm(5px);
    }
  }
  
  .messages {
    position: relative;
    list-style: none;
    padding: 10px;
    margin: 0;
    height: 350px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  .messages::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .messages .message.left .avatar {
    background-color: var(--chat-salmon);
    float: left;
  }
  
  .messages .message.left .text_wrapper {
    background-color: var(--chat-blanched-almond);
    margin-left: 20px;
  }
  
  .messages .message.left .text_wrapper::after,
  .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: var(--chat-blanched-almond);
  }
  
  .messages .message.left .text {
    color: var(--chat-anzac);
  }
  
  .messages .message.right .avatar {
    background-color: var(--chat-rajah);
    float: right;
  }
  
  .messages .message.right .text_wrapper {
    background-color: var(--chat-light-cyan);
    margin-right: 20px;
    float: right;
  }
  
  .messages .message.right .text_wrapper::after,
  .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: var(--chat-light-cyan);
  }
  
  .messages .message.right .text {
    color: var(--chat-hippie-blue);
  }
  
  .messages .message.appeared {
    opacity: 1;
  }
  
  .messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
  }
  
  .messages .message .text_wrapper::after,
  .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0;
  }
  
  .messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
  }
  
  .messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
  }
  
  .bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: var(--base-white);
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
  }
  
  .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid var(--base-gainsboro);
    width: 100%;
    position: relative;
    padding: 0 20px;
    background-color: transparent;
    height: auto;
    overflow: auto;
  }
  
  .bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 40px;
    box-sizing: border-box;
    width: 100%;
    outline-width: 0;
    color: var(--base-black);
    background: transparent;
    font-size: 12px;
  }
  
  .bottom_wrapper .send_message {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    width: 30px;
    height: 22px;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    color: var(--primary-sunset-light);
    transition: all 0.2s linear;
  }
  
  .bottom_wrapper .send_message:hover {
    background-color: transparent;
    color: var(--primary-sunset-light);
  }
  
  .bottom_wrapper .pin_message {
    width: 30px;
    height: 22px;
    cursor: pointer;
  }
  
  .bottom_wrapper .bottompad {
    width: 100%;
    border: 0;
    padding-top: 10px;
    color: var(--base-white) !important;
  }
  
  .bottom_wrapper .pindiv {
    padding-right: 15px;
  }
  
  .bottom_wrapper .pindiv,
  .bottom_wrapper .senddiv {
    margin-left: 80%;
  
    @include lg {
      margin-left: 80%;
    }
  
    @include md {
      margin-left: 80%;
    }
  
    @include sm {
      margin-left: 67%;
    }
  }
  
  #filesToUpload {
    display: none;
  }
  
  ​.message_input_wrapper img {
    width: 100px;
    height: 50px;
    clear: both;
    float: left;
  }
  
  .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }
  
  .message_template {
    display: none;
  }
  
  .messages > li {
    display: inline-block;
    margin-bottom: 18px;
    border-radius: 5px;
    background: var(--base-white);
    width: fit-content;
    font-size: 15px;
    color: var(--ui-mischka);
    clear: both;
  }
  
  .messages > span {
    font-size: 10px;
    font-style: italic;
  }
  
  .message-self {
    float: right;
  }
  
  .message-self .msg {
    background-color: var(--base-white-dark);
    border-radius: 5px;
    padding: 15px;
    font-size: 13px;
    text-align: left;
    color: var(--base-black);
  }
  
  .message-opponent .msg {
    background-color: var(--base-white-smoke);
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
    text-align: left;
    color: var(--base-black);
  }
  
  .message-i {
    font-size: 9px;
  }
  
  .message-opponent {
    float: left;
  }
  
  .message-self .message-i-second,
  .message-opponent .message-i-second {
    // margin-right: 25px;
    font-size: 12px;
    color: var(--ui-mischka);
    letter-spacing: 1px;
  }
  
  .message-self .message-i-first,
  .message-opponent .message-i-first {
    // margin-right: 25px;
    font-size: 12px;
    font-weight: bold;
    color: var(--base-black);
    letter-spacing: 1px;
  }
  
  .message-i-second {
    color: var(--ui-dim-gray);
  }
  
  .message-self .message-i {
    text-align: right;
    padding-bottom: 5px;
  }
  
  .message-opponent .message-i {
    text-align: left;
    padding-bottom: 5px;
  }
  
  .typing {
    color: var(--ui-mischka);
    font-size: 10px;
  }
  
  .attachment a {
    color: var(--ui-mischka);
    font-size: 10px;
  }
  
  .overlay {
    float: right;
    width: 10px;
    height: 10px;
    display: none;
  }
  
  .trashimage {
    width: 16px;
    height: 16px;
  }
  
  .Logout-modal {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--base-gainsboro);
      padding: px2vw-xl(24px) px2vw-xl(24px) px2vw-xl(16px);
  
      @include lg {
        padding: px2vw-lg(24px) px2vw-lg(24px) px2vw-lg(16px);
      }
  
      @include md {
        padding: px2vw-md(24px) px2vw-md(24px) px2vw-md(16px);
      }
  
      @include sm {
        padding: px2vw-sm(24px) px2vw-sm(24px) px2vw-sm(16px);
      }
    }
  
    &-title {
      font-family: "stc-forward-medium", sans-serif;
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(32px);
  
      @include lg {
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(32px);
      }
  
      @include md {
        font-size: px2vw-md(20px);
        line-height: px2vw-md(32px);
      }
  
      @include sm {
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(32px);
      }
    }
  
    &-close {
      align-self: flex-start;
      background-color: transparent;
    }
  
    &-message {
      padding: px2vw-xl(16px) px2vw-xl(24px);
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);
  
      @include lg {
        padding: px2vw-lg(16px) px2vw-lg(24px);
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }
  
      @include md {
        padding: px2vw-md(16px) px2vw-md(24px);
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }
  
      @include sm {
        padding: px2vw-sm(16px) px2vw-sm(24px);
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
      }
    }
  
    &-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: px2vw-xl(24px);
  
      @include lg {
        padding: px2vw-lg(24px);
      }
  
      @include md {
        padding: px2vw-md(24px);
      }
  
      @include sm {
        padding: px2vw-sm(24px);
      }
    }
  
    &-button {
      margin-left: px2vw-xl(16px);
  
      @include lg {
        margin-left: px2vw-lg(16px);
      }
  
      @include md {
        margin-left: px2vw-md(16px);
      }
  
      @include sm {
        margin-left: px2vw-sm(16px);
      }
    }
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .chat_window_right_drawer {
      right: 0;
    }
  
    html[dir="rtl"] .chat_window_right_drawer {
      left: 0 !important;
      right: auto;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .chat_window_right_drawer {
      right: 262px;
    }
  
    html[dir="rtl"] .chat_window_right_drawer {
      left: 250px !important;
      right: auto;
    }
  }
  
.link-img span {
    color:rgb(29,37,45);
}

.App-chat-search .searchbox {
    color: var(--base-black);
    background-color: #ededed !important;
  }
  
  .App-chat-search {
    background-color: #ededed !important;
  }
  
  .App-chat-item-info-text {
    max-width: 14.211047vw;
  }

  .with-icon {
    display: flex;
    align-items: center;
  }
  
  .chatseperator {
    display: flex;
    align-items: center;
    text-align: center;
    overflow: auto;
  }
  .chatseperator::before, .chatseperator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ff6744;
  }
  .chatseperator::before {
    margin-right: .25em;
  }
  .chatseperator::after {
    margin-left: .25em;
  }
  
  .blockimage {
  width: 12px;
  height: 12px;
  }
  .reportspam {
  color: var(--primary-sunset-light);
  font-weight:700;
  font-size:8px;
  margin-left:4px;
  }
  .blockuser {
  float: right;
  }
  
  .App-chat-item {
  margin-bottom:0px !important;
  }
  .commentbox {
    border: 1px solid grey;
    width: 100%;
    padding-top: px2vw-xl(10px);
    padding-left: px2vw-xl(15px);
    @include lg {
      padding-top: px2vw-lg(10px);
      padding-left: px2vw-lg(15px);
    }
    @include md {
      padding-top: px2vw-md(10px);
      padding-left: px2vw-md(15px);
    }
    @include sm {
      padding-top: px2vw-sm(10px);
      padding-left: px2vw-sm(15px);
    }
  }
  
  .spinnerblock1 {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #fe6a3a;
  }
  
  .spinnerblock2 {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #fe6a3a;
  }
  
  .spincontainer {
  clear: both;
  text-align: center;
  width: 100%;
  border: 0px solid red;
  overflow: auto;
  height: 70px;
  padding-left: 70px
  }
  
  .spinnerblock:nth-child(4n+1) { animation: wave 2s ease .0s infinite; }
  .spinnerblock:nth-child(4n+2) { animation: wave 2s ease .2s infinite; }
  .spinnerblock:nth-child(4n+3) { animation: wave 2s ease .4s infinite; }
  .spinnerblock:nth-child(4n+4) { animation: wave 2s ease .6s infinite; margin-right: 0; }
  
  .history-item {
    width:80%;
  }
  
  .chatsidetogglebuttonopen {
    margin-top: 133px;
    background-color: var(--primary-sunset-light);
    color: white;
    padding: 5px;
  }
  
  [dir=rtl] .chatsidetogglebuttonopen {
    margin-top: 133px;
    background-color: var(--primary-sunset-light);
    color: white;
    padding: 5px;
    left: 0px;
  }
  
  
  
  .chatsidetogglebuttonclose {
    background-color: var(--primary-sunset-light);
    color: white;
    padding: 5px;
  }

  #chatsidenavcontent {
    background-color: #EDEDED;
    color: #1B0505;
  }

  #chatsidematcontainer {
    height: 100%;
    background-color: var(--bgcolor);
    color: var(--blackcolor);
    position: absolute;
    z-index:auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    width: 1%;
    right: 0;
    background: transparent;
  }

  [dir=rtl] #chatsidematcontainer {
    left: 0;
    right: auto;
}


html[dir=rtl] #chatsidematcontainer {
  left: 0;
  right: auto;
}

  .App {
    &-sidenav {
        #chatsidenavcontent {
            background-color: var(--base-white);
            z-index: 102;
          }
          #chatsidenavcontent.mat-drawer-end {
            top: px2vw-xl(100px);
            max-width: px2vw-xl(500px);
            width: 100%;
            position: fixed;
            background-color: var(--base-white);
      
            @include lg {
              top: px2vw-lg(79px);
              max-width: px2vw-lg(500px);
            }
      
            @include md {
              top: px2vw-md(79px);
              max-width: 90%;
            }
      
            @include sm {
              top: px2vw-sm(79px);
            }
          }
    }
    &-chat {
        &-search {
            background-color: rgba(71, 67, 67, 0.5);
        }
    }
    &-item {
        &:hover {
            background-color: var(--base-white);
          }
    }
    &-notification {
        background: var(--primary-sunset-light);
    }
  }

  

  
  