@import "shared";

.global-bookmark,
.global-thumbsUp {
  display: inline-block;
  background: url(/assets/icons/thumbs-up.svg) 0 0 no-repeat;
  background-size: cover !important;
  width: px2vw-xl(22px);
  height: px2vw-xl(22px);

  @include lg {
    width: px2vw-lg(22px);
    height: px2vw-lg(22px);
  }

  @include md {
    width: px2vw-md(22px);
    height: px2vw-md(22px);
  }

  @include sm {
    width: px2vw-sm(22px);
    height: px2vw-sm(22px);
  }

  &.is-active,
  &:hover {
    background: url(/assets/icons/thumbs-up-filled.svg) 0 0 no-repeat;
  }

  &.is-sm {
    vertical-align: text-top;
    width: px2vw-xl(16px);
    height: px2vw-xl(16px);

    @include lg {
      width: px2vw-lg(16px);
      height: px2vw-lg(16px);
    }

    @include md {
      width: px2vw-md(16px);
      height: px2vw-md(16px);
    }

    @include sm {
      width: px2vw-sm(16px);
      height: px2vw-sm(16px);
    }
  }
}

.global-bookmark {
  background: url(/assets/icons/bookmark.svg) 0 0 no-repeat;
  width: px2vw-xl(28px);
  height: px2vw-xl(28px);

  @include lg {
    width: px2vw-lg(28px);
    height: px2vw-lg(28px);
  }

  @include md {
    width: px2vw-md(28px);
    height: px2vw-md(28px);
  }

  @include sm {
    width: px2vw-sm(28px);
    height: px2vw-sm(28px);
  }

  &.is-active,
  &:hover {
    background: url(/assets/icons/bookmark-filled.svg) 0 0 no-repeat;
  }
}
