@import "shared";

:host {
  display: block;
}

.edit-tournament {
  margin-top: px2vw-xl(140px);

  @include lg {
    margin-top: px2vw-lg(140px);
  }

 @include md {
     margin-top: px2vw-md(140px);
  }

  @include sm {
    margin-top: 10px;
  }
  h1 {
    font-weight: 900;
  }
  .input-div-grouping {
    .input-grid-1 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 20px;
      margin-top: 20px;

       @include md {
        grid-template-columns: 100%;
        grid-gap: 0px;
        }

        @include sm {
        grid-template-columns: 100%;
        grid-gap: 0px;
        }
    }
    .input-grid-2 {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 20px;
      margin-bottom: 20px;

      @include md {
        grid-template-columns: 100%;
        grid-gap: 0px;
        }

       @include sm {
        grid-template-columns: 100%;
        grid-gap: 0px;
        }
    }
    .input-grid-3 {
      display: grid;
      grid-template-rows: auto auto;
      grid-gap: 30px;

      @include md {
        grid-template-columns: 100%;
        grid-gap: 0px;
        }

       @include sm {
        grid-template-columns: 100%;
        grid-gap: 0px;
        }
    }
  }
  .button.button-primary {
    margin: 50px 0;
  }
}

::ng-deep {
  .WYSIWYG-editor-textarea {
    background-color: white !important;
    color: black !important;
  }
  .mat-datepicker-toggle {
    position: absolute;
    right: 0;
  }
}

::ng-deep .WYSIWYG-editor .WYSIWYG-editor-wrapper .WYSIWYG-editor-textarea {
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
