<a class="TopUpItem" [routerLink]="[AppHtmlRoutes.topUp, value.productName]">
  <img
    class="TopUpItem-img"
    [src]="_getImage(value.logo)"
    alt="top item image"
  />
  <h2 class="TopUpItem-title">
    {{ value.name }}
  </h2>
</a>
