@import "shared";

$--btn-player-background: rgba(0, 0, 0, 0.6);
$secondry-button-border: rgba(255, 255, 255, 0.87);

$primary-button-bg-hover: #00d200;

.global-VideoBtn {
  @extend %u-dfCenterCenter;
  @include btnEvents();
  background: var(--white-high);
  width: px2vw-xl(220px);
  height: px2vw-xl(220px);
  border-radius: 50%;
  border: none;

  @include lg {
    width: px2vw-lg(220px);
    height: px2vw-lg(220px);
  }

  @include md {
    width: px2vw-md(160px);
    height: px2vw-md(160px);
  }

  @include sm {
    width: px2vw-sm(160px);
    height: px2vw-sm(160px);
  }

  &:after {
    border-color: transparent transparent transparent $--btn-player-background;
    border-width: px2vw-xl(29.5px) 0 px2vw-xl(29.5px) px2vw-xl(42px);
    border-style: solid;
    margin: 0 0 0 15px;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;

    @include lg {
      border-width: px2vw-lg(29.5px) 0 px2vw-lg(29.5px) px2vw-lg(42px);
    }

    @include md {
      border-width: px2vw-md(29.5px) 0 px2vw-md(29.5px) px2vw-md(42px);
    }

    @include sm {
      border-width: px2vw-sm(29.5px) 0 px2vw-sm(29.5px) px2vw-sm(42px);
    }
  }

  &.is-sm {
    min-width: px2vw-xl(55px);
    width: px2vw-xl(55px);
    height: px2vw-xl(55px);

    @include lg {
      min-width: px2vw-lg(55px);
      width: px2vw-lg(55px);
      height: px2vw-lg(55px);
    }

    @include md {
      min-width: px2vw-md(55px);
      width: px2vw-md(55px);
      height: px2vw-md(55px);
    }

    @include sm {
      min-width: px2vw-sm(55px);
      width: px2vw-sm(55px);
      height: px2vw-sm(55px);
    }
  }

  &.is-sm:after {
    border-width: px2vw-xl(10px) 0 px2vw-xl(10px) px2vw-xl(16px);
    margin: 0 0 0 px2vw-xl(8px);

    @include lg {
      border-width: px2vw-lg(10px) 0 px2vw-lg(10px) px2vw-lg(16px);
      margin: 0 0 0 px2vw-lg(8px);
    }

    @include md {
      border-width: px2vw-md(10px) 0 px2vw-md(10px) px2vw-md(16px);
      margin: 0 0 0 px2vw-md(8px);
    }

    @include sm {
      border-width: px2vw-sm(10px) 0 px2vw-sm(10px) px2vw-sm(16px);
      margin: 0 0 0 px2vw-sm(8px);
    }
  }

  &.is-white {
    min-width: px2vw-xl(35px);
    width: px2vw-xl(35px);
    height: px2vw-xl(35px);
    background: rgba(255, 255, 255, 1);

    @include lg {
      min-width: px2vw-lg(35px);
      width: px2vw-lg(35px);
      height: px2vw-lg(35px);
    }

    @include md {
      min-width: px2vw-md(35px);
      width: px2vw-md(35px);
      height: px2vw-md(35px);
    }

    @include sm {
      min-width: px2vw-sm(35px);
      width: px2vw-sm(35px);
      height: px2vw-sm(35px);
    }

    &:after {
      border-width: px2vw-xl(7px) 0 px2vw-xl(7px) px2vw-xl(11px);
      margin: 0 0 0 px2vw-xl(3px);

      @include lg {
        border-width: px2vw-lg(7px) 0 px2vw-lg(7px) px2vw-lg(11px);
        margin: 0 0 0 px2vw-lg(3px);
      }

      @include md {
        border-width: px2vw-md(7px) 0 px2vw-md(7px) px2vw-md(11px);
        margin: 0 0 0 px2vw-md(3px);
      }

      @include sm {
        border-width: px2vw-sm(7px) 0 px2vw-sm(7px) px2vw-sm(11px);
        margin: 0 0 0 px2vw-sm(3px);
      }
    }
  }
}

.global-IconBtn {
  @include btnEvents();
  font-size: px2vw-xl(20px);
  background: none;
  color: var(--white-high);

  @include lg {
    font-size: px2vw-lg(20px);
  }

  @include md {
    font-size: px2vw-md(20px);
  }

  @include sm {
    font-size: px2vw-sm(20px);
  }

  &:hover {
    color: var(--color-primary);
  }

  .material-icons {
    font-size: px2vw-xl(24px);

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  img,
  i {
    height: px2vw-xl(30px);

    @include lg {
      height: px2vw-lg(30px);
    }

    @include md {
      height: px2vw-md(30px);
    }

    @include sm {
      height: px2vw-sm(30px);
    }
  }

  &.is-chat {
    .material-icons {
      top: px2vw-xl(3px);

      @include lg {
        top: px2vw-lg(3px);
      }

      @include md {
        top: px2vw-md(3px);
      }

      @include sm {
        top: px2vw-sm(3px);
      }
    }
  }
}

.global-EditBtn {
  @include btnEvents();
  background: var(--white-high);
  padding: 0.375rem 2rem;
  line-height: px2vw-xl(60px);
  color: var(--black);
  text-transform: uppercase;

  @include lg {
    line-height: px2vw-lg(60px);
    padding: 0 px2vw-lg(64px);
  }

  @include md {
    line-height: px2vw-md(60px);
    padding: 0 px2vw-md(64px);
  }

  @include sm {
    line-height: px2vw-sm(60px);
    padding: 0 px2vw-sm(64px);
  }

  .material-icons {
    font-size: px2vw-xl(26px);
    vertical-align: sub;

    @include lg {
      font-size: px2vw-lg(26px);
    }

    @include md {
      font-size: px2vw-md(26px);
    }

    @include sm {
      font-size: px2vw-sm(26px);
    }
  }

  &.is-edit {
    background: var(--white-high);

    &.is-active {
      background: var(--color-primary);
    }
  }

  &.is-admin-cancel {
    background: var(--white-high);
    border-color: var(--color-secondary);
    border-width: 1px;
    border-style: solid;
  }

  &.is-admin-cancel {
    background: var(--white-high);
    border-color: var(--color-secondary);
    border-width: 1px;
    border-style: solid;
  }

  &.is-void {
    background: transparent;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &.is-sm {
    line-height: px2vw-xl(54px);
    padding: 0 px2vw-xl(54px);

    @include lg {
      line-height: px2vw-lg(54px);
      padding: 0 px2vw-lg(54px);
    }

    @include md {
      line-height: px2vw-md(54px);
      padding: 0 px2vw-md(54px);
    }

    @include sm {
      line-height: px2vw-sm(54px);
      padding: 0 px2vw-sm(54px);
    }
  }

  &.is-small {
    line-height: px2vw-xl(30px);
    padding: 0 px2vw-xl(30px);
    font-size: px2vw-xl(16px);

    @include lg {
      line-height: px2vw-lg(30px);
      padding: 0 px2vw-lg(30px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      line-height: px2vw-md(30px);
      padding: 0 px2vw-md(30px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      line-height: px2vw-sm(30px);
      padding: 0 px2vw-sm(30px);
      font-size: px2vw-sm(16px);
    }
  }
}

.btn-player {
  position: relative;
  border-radius: 50%;
  width: px2vw-xl(74px);
  height: px2vw-xl(74px);
  background-color: $--btn-player-background;
  transition: $global-transition;

  &:hover {
    background-color: var(--color-tertiary);
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-top: px2vw-xl(15px) solid transparent;
    border-left: px2vw-xl(25px) solid var(--white-high);
    border-bottom: px2vw-xl(15px) solid transparent;
  }
}

.btn-triangle {
  position: relative;
  padding: px2vw-xl(7px);
  font-size: px2vw-xl(16px);
  white-space: nowrap;
  transition: none;

  @include lg {
    padding: px2vw-lg(7px);
    font-size: px2vw-lg(16px);
  }

  @include md {
    padding: px2vw-md(7px);
    font-size: px2vw-md(16px);
  }

  @include sm {
    padding: px2vw-sm(7px);
    font-size: px2vw-sm(16px);
  }

  &.active {
    background-color: #fc4500 !important;
    border-color: #fc4500 !important;
    color: #fff !important;
  }

  &:hover,
  &.active {
    &.left::after,
    &.right::before {
      background-color: var(--color-tertiary);
    }
  }

  &.left::after,
  &.right::before {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    width: 12px;
    background-color: transparent;
    border: px2vw-xl(1px) solid var(--color-tertiary);
    transform: skew(-15deg, 0deg);
    @include lg {
      width: px2vw-lg(12px);
    }

    @include md {
      width: px2vw-md(12px);
    }

    @include sm {
      width: px2vw-sm(12px);
    }
  }

  &.left {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;

    &::after {
      right: -5px;
      border-left: none;
    }
  }

  &.right {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;

    &::before {
      left: -6px;
      bottom: -1px;
      border-right: none;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: var(--color-tertiary);
    }
  }
}

%button-primary,
.button-primary {
  @extend %button-label;
  box-shadow: 0 px2vw-xl(4px) px2vw-xl(4px) rgba(0, 0, 0, 0.25);
  padding: px2vw-xl(10px) px2vw-xl(15px);
  background-color: var(--color-primary);
  border: px2vw-xl(1px) solid var(--color-primary);
  transition: $global-transition2;
  color: var(--black);
  cursor: pointer;
  white-space: nowrap;

  @include xxl {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: px2vw-xxl(10px) px2vw-xxl(15px);
  }

  @include lg {
    box-shadow: 0 px2vw-lg(4px) px2vw-lg(4px) rgba(0, 0, 0, 0.25);
    padding: px2vw-lg(10px) px2vw-lg(15px);
  }

  @include md {
    box-shadow: 0 px2vw-md(4px) px2vw-md(4px) rgba(0, 0, 0, 0.25);
    padding: px2vw-md(10px) px2vw-md(15px);
  }

  @include sm {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: px2vw-sm(12px) !important;
    padding: px2vw-sm(10px) px2vw-sm(12px) !important;
  }

  &:hover {
    background-color: $primary-button-bg-hover;
    border-color: $primary-button-bg-hover;
  }

  &:disabled {
    background-color: var(--white-disabled) !important;
    border-color: var(--white-disabled);
    color: var(--white-disabled);
    cursor: default;
  }
}

%button-secondary,
.button-secondary {
  @extend %u-dfCenter;
  @extend %button-label;
  border: px2vw-xl(1px) solid var(--white-smoke);
  padding: px2vw-xl(10px) px2vw-xl(15px);
  background-color: transparent;
  transition: $global-transition2;
  color: var(--white);
  cursor: pointer;
  white-space: nowrap;

  @include xxl {
    border-width: px2vw-xxl(1px);
    padding: px2vw-xxl(10px) px2vw-xxl(15px);
  }

  @include lg {
    border-width: px2vw-lg(1px);
    padding: px2vw-lg(10px) px2vw-lg(15px);
  }

  @include md {
    border-width: px2vw-md(1px);
    padding: px2vw-md(10px) px2vw-md(15px);
  }

  @include sm {
    font-size: px2vw-sm(12px) !important;
    border-width: px2vw-sm(1px);
    padding: px2vw-sm(10px) px2vw-sm(12px) !important;
  }

  &:hover {
    border-color: hsla(0, 0%, 100%, 0.87);
  }
}

%button-icon-primary,
.button-icon-primary {
  @extend %u-dfCenter;
  border: px2vw-xl(1px) solid var(--color-primary);
  padding: px2vw-xl(9px) px2vw-xl(15px);
  background-color: var(--color-primary);
  transition: $global-transition2;

  @include xxl {
    border-width: px2vw-xxl(1px);
    padding: px2vw-xxl(9px) px2vw-xxl(15px);
  }

  @include lg {
    border-width: px2vw-lg(1px);
    padding: px2vw-lg(9px) px2vw-lg(15px);
  }

  @include md {
    border-width: px2vw-md(1px);
    padding: px2vw-md(9px) px2vw-md(15px);
  }

  @include sm {
    border-width: px2vw-sm(1px);
    padding: px2vw-sm(9px) px2vw-sm(15px);
  }

  mat-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(10px);
    height: px2vw-xl(16px);
    width: px2vw-xl(16px);
    font-size: px2vw-xl(16px);
    color: var(--black);
    transition: inherit;

    @include xxl {
      margin-right: px2vw-xxl(10px);
      height: px2vw-xxl(16px);
      width: px2vw-xxl(16px);
      font-size: px2vw-xxl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(10px);
      height: px2vw-lg(16px);
      width: px2vw-lg(16px);
      font-size: px2vw-lg(16px);
    }
    @include md {
      margin-right: px2vw-md(10px);
      height: px2vw-md(16px);
      width: px2vw-md(16px);
      font-size: px2vw-md(16px);
    }
    @include sm {
      margin-right: px2vw-sm(10px);
      height: px2vw-sm(16px);
      width: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
    }
  }
  span {
    @extend %button-label;
    color: var(--black);
    text-transform: uppercase;
    transition: inherit;
  }
  &:hover {
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
  }
}

%button-img-primary,
.button-img-primary {
  @extend %button-label;
  border: px2vw-xl(1px) solid var(--color-primary);
  padding: px2vw-xl(9px) px2vw-xl(15px);
  background-color: var(--color-primary);
  transition: $global-transition2;
  display: flex;
  align-items: center;
  justify-content: center;
  @include xxl {
    border-width: px2vw-xxl(1px);
    padding: px2vw-xxl(9px) px2vw-xxl(15px);
  }
  @include lg {
    border-width: px2vw-lg(1px);
    padding: px2vw-lg(9px) px2vw-lg(15px);
  }
  @include md {
    border-width: px2vw-md(1px);
    padding: px2vw-md(9px) px2vw-md(15px);
  }
  @include sm {
    border-width: px2vw-sm(1px);
    padding: px2vw-sm(9px) px2vw-sm(15px);
  }
  img,
  svg {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(10px);
    height: px2vw-xl(16px);
    width: px2vw-xl(16px);
    transition: inherit;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    @include xxl {
      margin-right: px2vw-xxl(10px);
      height: px2vw-xxl(16px);
      width: px2vw-xxl(16px);
    }
    @include lg {
      margin-right: px2vw-lg(10px);
      height: px2vw-lg(16px);
      width: px2vw-lg(16px);
    }
    @include md {
      margin-right: px2vw-mdlg(10px);
      height: px2vw-md(16px);
      width: px2vw-md(16px);
    }
    @include sm {
      margin-right: px2vw-sm(10px);
      height: px2vw-sm(16px);
      width: px2vw-sm(16px);
    }
  }
  span {
    @extend %button-label;
    color: var(--black);
    text-transform: uppercase;
    transition: inherit;
  }
  &:hover {
    border-color: $primary-button-bg-hover;
    background-color: $primary-button-bg-hover;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
}

%button-icon-secondary,
.button-icon-secondary {
  @extend %u-dfCenter;
  border: px2vw-xl(1px) solid var(--white-smoke);
  padding: px2vw-xl(9px) px2vw-xl(15px);
  background-color: transparent;
  transition: $global-transition2;

  @include xxl {
    border-width: px2vw-xxl(1px);
    padding: px2vw-xxl(9px) px2vw-xxl(15px);
  }

  @include lg {
    border-width: px2vw-lg(1px);
    padding: px2vw-lg(9px) px2vw-lg(15px);
  }
  @include md {
    border-width: px2vw-md(1px);
    padding: px2vw-md(9px) px2vw-md(15px);
  }

  @include sm {
    border-width: px2vw-sm(1px);
    padding: px2vw-sm(9px) px2vw-sm(15px);
  }

  mat-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(10px);
    height: px2vw-xl(16px);
    width: px2vw-xl(16px);
    font-size: px2vw-xl(16px);
    color: var(--white);
    transition: inherit;

    @include xxl {
      margin-right: px2vw-xxl(10px);
      height: px2vw-xxl(16px);
      width: px2vw-xxl(16px);
      font-size: px2vw-xxl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(10px);
      height: px2vw-lg(16px);
      width: px2vw-lg(16px);
      font-size: px2vw-lg(16px);
    }
    @include md {
      margin-right: px2vw-mdlg(10px);
      height: px2vw-md(16px);
      width: px2vw-md(16px);
      font-size: px2vw-md(16px);
    }
    @include sm {
      margin-right: px2vw-sm(10px);
      height: px2vw-sm(16px);
      width: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
    }
  }

  span {
    @extend %button-label;
    color: var(--white);
    text-transform: uppercase;
    transition: inherit;
  }

  &:hover {
    border-color: var(--white-high);
  }
}

%global-link,
.global-link {
  @extend %button-label;
  background-color: transparent;
  color: var(--color-secondary);
  text-transform: uppercase;
  transition: $global-transition;
  white-space: nowrap;

  &:hover {
    color: var(--white);
  }
}

%global-link-right,
.global-link-right {
  @extend %global-link;
  position: relative;
  padding-right: px2vw-xl(20px);

  @include lg {
    padding-right: px2vw-lg(20px);
  }

  @include md {
    padding-right: px2vw-md(20px);
  }

  @include sm {
    padding-right: px2vw-sm(20px);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: px2vw-xl(11px);
    width: px2vw-xl(11px);
    background-image: url(/assets/icons/arrows/arrow-link.svg);
    transform: translateY(-50%);
  }
  &:hover::before {
    background-image: url(/assets/icons/arrows/arrow-link-white.svg);
    transition: $global-transition;
  }
}

.global-modal-close {
  @extend %u-dfCenterCenter;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: px2vw-xl(2px);
  width: px2vw-xl(30px);
  height: px2vw-xl(30px);
  background-color: var(--color-tertiary);

  @include lg {
    border-radius: px2vw-lg(2px);
    width: px2vw-lg(30px);
    height: px2vw-lg(30px);
  }

  @include md {
    border-radius: px2vw-md(2px);
    width: px2vw-md(30px);
    height: px2vw-md(30px);
  }

  @include sm {
    border-radius: px2vw-sm(2px);
    width: px2vw-sm(30px);
    height: px2vw-sm(30px);
  }

  mat-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }
}

.link-primary {
  @extend %button-label;
  color: var(--color-pink-primary);
  text-decoration: none;
  svg {
    margin-left: px2vw-xl(4px);
    fill: var(--color-pink-primary);
    height: px2vw-xl(11px);
    width: px2vw-xl(11px);
    @include xxl {
      margin-left: px2vw-xxl(4px);
      height: px2vw-xl(11px);
      width: px2vw-xl(11px);
    }
    @include lg {
      margin-left: px2vw-lg(4px);
      height: px2vw-lg(11px);
      width: px2vw-lg(11px);
    }
    @include md {
      margin-left: px2vw-md(4px);
      height: px2vw-md(11px);
      width: px2vw-md(11px);
    }

    @include sm {
      margin-left: px2vw-sm(4px);
      height: px2vw-sm(11px);
      width: px2vw-sm(11px);
    }
  }
  &:hover {
    color: var(--color-pink-secondary);
    text-decoration: none;
    svg {
      fill: var(--color-pink-secondary);
    }
  }
}
