.globalField {
  margin-bottom: px2vw-xl(22px);
  text-align: left;

  @include lg {
    margin-bottom: px2vw-lg(16px);
  }

  @include md {
    margin-bottom: px2vw-md(16px);
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
  }

  h3 {
    margin-bottom: px2vw-xl(11px);
    color: var(--white-medium) !important;
    cursor: pointer;

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  input,
  textarea,
  select,
  .bootstrap-select.border {
    border: 1px solid var(--black-medium);
    width: 100%;
    background-color: var(--black);
    padding: px2vw-xl(18px) px2vw-xl(20px);
    transition: $global-transition;

    @include lg {
      padding: px2vw-lg(14px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(14px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(14px) px2vw-sm(16px);
    }

    &:focus {
      border-color: var(--color-primary);
    }

    &.disabled {
      border-color: transparent !important;
      background-color: transparent;
      padding-left: 0;
      resize: none;
      pointer-events: none;
    }
  }

  .bootstrap-select.border {
    border: 1px solid var(--black-medium) !important;

    &.show {
      border-color: var(--color-primary) !important;
    }

    .button {
      padding: 0;
    }
  }

  p {
    margin-top: px2vw-xl(11px);
    margin-bottom: 0;
    color: var(--color-tertiary) !important;

    @include lg {
      margin-top: px2vw-lg(8px);
    }

    @include md {
      margin-top: px2vw-md(8px);
    }

    @include sm {
      margin-top: px2vw-sm(8px);
    }
  }
}
