@import "shared";

$--search-bg: radial-gradient(96.66% 83.41% at 0% 0%, #054b52 0%, rgba(5, 75, 82, 0) 100%);

:host {
  display: block;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.Search {
  padding-top: px2vw-xl(96px);
  @include xxl {
    padding-top: px2vw-xxl(96px);
  }
  @include lg {
    padding-top: px2vw-lg(96px);
  }
  @include md {
    padding-top: px2vw-md(25px);
  }
  @include sm {
    padding-top: px2vw-sm(15px);
  }
  &-container {
    .search_header {
      h2.Search-title {
        font-family: "maxis-black";
        font-size: px2vw-xl(60px);
        letter-spacing: px2vw-xl(-0.5px);
        line-height: px2vw-xl(72px);
        color: var(--white-high);
        text-shadow: var(--bx-shdow);
        text-transform: capitalize;
        margin-bottom: px2vw-xl(24px);
        @include xxl {
          font-size: px2vw-xxl(60px);
          letter-spacing: px2vw-xxl(-0.5px);
          line-height: px2vw-xxl(72px);
          margin-bottom: px2vw-xxl(24px);
        }
        @include lg {
          font-size: px2vw-lg(60px);
          letter-spacing: px2vw-lg(-0.5px);
          line-height: px2vw-lg(72px);
          margin-bottom: px2vw-lg(24px);
        }
        @include md {
          font-size: px2vw-md(40px);
          letter-spacing: px2vw-md(-0.5px);
          line-height: px2vw-md(72px);
          margin-bottom: px2vw-md(24px);
        }
        @include sm {
          font-size: px2vw-sm(40px);
          letter-spacing: px2vw-sm(-0.5px);
          line-height: px2vw-sm(72px);
          margin-bottom: px2vw-sm(24px);
        }
      }
    }
  }
  .SearchArticle-count {
    margin-bottom: 0;
    margin-top: px2vw-xl(16px);
    font-family: "maxis-semibold";
    font-size: px2vw-xl(14px);
    letter-spacing: px2vw-xl(0.25px);
    line-height: px2vw-xl(20px);
    color: var(--white-medium);
    @include xxl {
      margin-top: px2vw-xxl(16px);
      font-size: px2vw-xxl(14px);
      letter-spacing: px2vw-xxl(0.25px);
      line-height: px2vw-xxl(20px);
    }
    @include lg {
      margin-top: px2vw-lg(16px);
      font-size: px2vw-lg(14px);
      letter-spacing: px2vw-lg(0.25px);
      line-height: px2vw-lg(20px);
    }
    @include md {
      margin-top: px2vw-md(16px);
      font-size: px2vw-md(14px);
      letter-spacing: px2vw-md(0.25px);
      line-height: px2vw-md(20px);
    }
    @include sm {
      margin-top: px2vw-sm(16px);
      font-size: px2vw-sm(14px);
      letter-spacing: px2vw-sm(0.25px);
      line-height: px2vw-sm(20px);
    }
    p{
      margin-bottom: 0;
    }
  }
  &-field {
    margin-bottom: px2vw-xl(24px);
    @include xxl {
      margin-bottom: px2vw-xxl(24px);
    }
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }
    @include md {
      margin-bottom: px2vw-md(24px);
    }
    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }
  &-buttons {
    flex-shrink: 0;
  }
  &-button {
    min-width: px2vw-xl(194px);
    @include xxl {
      min-width: px2vw-xxl(194px);
    }
    @include lg {
      min-width: px2vw-lg(194px);
    }
    @include md {
      min-width: px2vw-md(194px);
    }
    @include md {
      min-width: 33.33%;
    }
  }
}
