<aside class="Aside">
  <section *ngIf="currentUser" class="sectionA">
    <div class="User-info-about">
      <div class="User-info-avatar-block">
        <img
          *ngIf="!currentUser.profilePicture"
          class="User-info-avatar"
          src="../../../assets/images/Profile/stc_avatar.png"
          alt="user info avatar"
        />

        <img
          *ngIf="currentUser.profilePicture"
          class="User-info-avatar"
          [src]="currentUser.profilePicture"
          [alt]="
            currentUser?.username ? currentUser.username : currentUser.fullName
          "
        />
      </div>

      <h2 class="User-info-fullName-block u-ltr">
        <span class="User-info-fullName">
          <!-- @{{
            currentUser?.username ? currentUser.username : currentUser.fullName
          }} -->
          {{ currentUser.fullName | limitString: 17:"...":innerWidth }}
        </span>
      </h2>

      <h4 class="User-info-fullName-block u-ltr">
        <span class="User-info-Username">
          @{{
            currentUser?.username
              ? (currentUser.username | limitString: 17:"...":innerWidth)
              : (currentUser.fullName | limitString: 17:"...":innerWidth)
          }}
          <span class="check-mark name" *ngIf="!currentUser.isVerified"></span>
        </span>
      </h4>

      <p class="User-info-location global-Text global-Elipses">
        {{ currentUser.country | region: activeLang:AllCountries:"country" }}
      </p>
    </div>

    <div class="User-info-statistic">
      <div
        *ngFor="let statistic of userStatistic; let idx = index"
        class="User-info-card"
        [ngClass]="{ middle: idx === 1 }"
      >
        <p class="User-info-card-count">
          {{ statistic.count | shortNumber }}
        </p>

        <span class="User-info-card-title">
          {{ statistic.title | translate | titlecase }}
        </span>
      </div>
    </div>
  </section>

  <section class="sectionB">
    <div class="sectionB-button-block">
      <div>
      <button
        *ngIf="!currentUser"
        class="sectionB-button global-EditBtn"
        [routerLink]="gameCenterDataforRegister.footerLinkUrl"
      >
        {{ "header.ACCOUNT_BUTTON.SIGN_IN_AND_REGISTER" | translate }}
      </button>
    </div>
      <button
        *ngIf="currentUser"
        class="sectionB-button global-EditBtn"
        (click)="onConfirmLogout(openModel)"
        id="logout-test"
      >
        {{ "header.LOGOUT" | translate }}
      </button>
    </div>

    <nav class="User-navigation divider">
      
      <span  class="User-navigation-link" *ngFor="let item of pageNavigation">
      <a
      *ngIf="!item.id" 
        class="User-navigation-link"
        [attr.data-test-id]="item.test_id"
        [routerLink]="item.url"
        [queryParams]="item.queryParam"
        routerLinkActive="is-active"
        (click)="pushGTMTags(item.gtmEvent)"
      >
        <span class="User-navigation-link-icon" [inlineSVG]="item.icon"></span>
        <span class="User-navigation-link-text">
          {{ item.name | translate }}
        </span>
      </a>

      <a
      *ngIf="item.id" 
      class="User-navigation-link"
      [attr.data-test-id]="item.test_id"
      [routerLink]="item.url"
      [queryParams]="item.queryParam"
      routerLinkActive="is-active"
      (click)="pushGTM(item.id, item.gtmEvent)"
    >
      <span class="User-navigation-link-icon" [inlineSVG]="item.icon"></span>
      <span class="User-navigation-link-text">
        {{ item.name | translate }}
      </span>
    </a>
    </span>

      <a
        *ngIf="currentUser"
        class="User-navigation-link"
        [routerLink]="AppHtmlProfileRoutes.basicInfo"
        routerLinkActive="is-active"
        (click)="pushGTMTags('View Profile')"
      >
        <span
          class="User-navigation-link-icon"
          inlineSVG="assets/icons/navigations/profile.svg"
        ></span>
        <span id="account-test" class="User-navigation-link-text">
          {{ "header.PROFILE" | translate }}
        </span>
      </a>
      <a
        *ngIf="currentUser"
        class="User-navigation-link"
        [routerLink]="AppHtmlRoutes.myMatches"
        routerLinkActive="is-active"
        (click)="pushGTMTags('View User Matches')"
      >
        <span
          class="User-navigation-link-icon"
          inlineSVG="assets/icons/navigations/my-matches.svg"
        ></span>
        <span id="account-test" class="User-navigation-link-text">
          {{ "header.MATCHES" | translate }}
        </span>
      </a>

      <a
        *ngIf="currentUser && isAdmin"
        class="User-navigation-link"
        (click)="gotoAdmin()"
        routerLinkActive="is-active"
      >
        <span
          class="User-navigation-link-icon"
          inlineSVG="assets/icons/navigations/settings-icon.svg"
        ></span>
        <span class="User-navigation-link-text">
          {{ "header.ADMIN" | translate }}
        </span>
      </a>
    </nav>

    <nav class="User-navigation">
      <a class="User-navigation-link language">
        <span
          class="User-navigation-link-icon"
          inlineSVG="assets/icons/navigations/language.svg"
        ></span>
        <span
          class="User-navigation-link-text"
          *ngFor="let item of AppLanguage"
          (click)="onLanguageChange(item.code)"
          [hidden]="activeLang === item?.code"
        >
          {{ item?.value }}
        </span>
      </a>
      <a
        *ngFor="let item of profileNavigation"
        [routerLink]="item.url"
        class="User-navigation-link"
        routerLinkActive="is-active"
      >
        <span class="User-navigation-link-icon" [inlineSVG]="item.icon"></span>
        <span class="User-navigation-link-text">
          {{ item.name | translate }}
        </span>
      </a>
      <a
        class="User-navigation-link"
        *ngIf="currentUser?.accountDetail.referralId"
        (click)="open(mymodal)"
      >
        <span
          inlineSVG="assets/icons/navigations/referral.svg"
          class="User-navigation-link-icon"
        ></span>
        <span class="User-navigation-link-text">
          {{ "PROFILE.BASIC_INFO.REFERRAL_INVITE" | translate }}
        </span>
      </a>
    </nav>
  </section>
</aside>

<ng-template #openModel let-modal class="Logout-modal">
  <header class="Logout-modal-header">
    <h3 class="Logout-modal-title">
      {{ "ASIDE.CONFIRMATION" | translate }}
    </h3>
    <button class="Logout-modal-close" (click)="modal.dismiss()">
      <span class="material-icons">clear</span>
    </button>
  </header>

  <div class="Logout-modal-message">
    {{ "ASIDE.LOGOUT" | translate }}
  </div>

  <div class="Logout-modal-buttons">
    <button
      class="Logout-modal-button global-EditBtn dark-text"
      (click)="modal.dismiss()"
    >
      {{ "ASIDE.CANCEL" | translate }}
    </button>

    <button class="Logout-modal-button global-EditBtn" (click)="onLogOut()">
      {{ "ASIDE.CONFIRM" | translate }}
    </button>
  </div>
</ng-template>
<ng-template #mymodal let-modal>
  <div class="modal-header divider-ref">
    <h3 class="modal-title ref-title global-Title3" id="modal-basic-title">
      {{ "PROFILE.BASIC_INFO.REFERRAL_MESSAGE" | translate }}
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" id="modal-basic-title">
    {{ "PROFILE.BASIC_INFO.REFERRAL_INSTRUCTION" | translate }}
  </div>
  <div class="modal-footer ref-footer divider-ref">
    <div class="popupBody">
      <span class="popupBody-url">{{
        URL | limitString: 30:".....":innerWidth
      }}</span>
      <button
        id="myDIV"
        type="button"
        [disabled]="clicked"
        (click)="copyToClipboard($event); clicked = true"
        class="btn global-EditBtn rtlmargin"
      >
        <span
          class="material-icons copy"
          *ngIf="!clicked"
          matTooltip=" {{
            'PROFILE.BASIC_INFO.REFERRAL_CODE_MESSAGE' | translate
          }}"
        >
          content_copy
        </span>
        <span class="btn-copy" *ngIf="!clicked">{{
          "PROFILE.BASIC_INFO.REFERRAL_OK" | translate | uppercase
        }}</span>
        <span class="material-icons done" *ngIf="clicked"> done </span>
        <span class="btn-copy1" *ngIf="clicked">{{
          "PROFILE.BASIC_INFO.REFERRAL_COPIED" | translate | uppercase
        }}</span>
      </button>
    </div>
  </div>
</ng-template>
