@import "shared";

:host {
  @include md {
    width: 100%;
  }
}

.Tournaments-card {
  overflow: hidden;
  border-radius: 3px;
  width: px2vw-xl(392px);
  font-family: "dynasty-primary-regular", sans-serif;
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(18px);

  @include lg {
    width: px2vw-lg(392px);
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(18px);
  }

  @include md {
    width: 100%;
    font-size: px2vw-md(14px);
    line-height: px2vw-md(18px);
  }

  @include sm {
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(18px);
  }

  &-preview {
    position: relative;

    &-image {
      height: px2vw-xl(199px);
      width: 100%;
      object-fit: cover;

      @include lg {
        height: px2vw-lg(199px);
      }

      @include md {
        height: px2vw-md(345px);
      }

      @include sm {
        height: px2vw-sm(270px);
      }
    }

    &-price {
      position: absolute;
      top: px2vw-xl(16px);
      right: px2vw-xl(14px);
      border-radius: px2vw-xl(4px);
      background-color: #fff;
      color: #000;
      padding: px2vw-xl(5px) px2vw-xl(13px);
      font-family: "dynasty-primary-semibold", sans-serif;
      font-size: px2vw-xl(12px);
      line-height: px2vw-xl(16px);

      @include lg {
        top: px2vw-lg(16px);
        right: px2vw-lg(14px);
        border-radius: px2vw-lg(4px);
        padding: px2vw-lg(5px) px2vw-lg(13px);
        font-size: px2vw-lg(12px);
        line-height: px2vw-lg(16px);
      }

      @include md {
        top: px2vw-md(16px);
        right: px2vw-md(14px);
        border-radius: px2vw-md(4px);
        padding: px2vw-md(5px) px2vw-md(13px);
        font-size: px2vw-md(12px);
        line-height: px2vw-md(16px);
      }

      @include sm {
        top: px2vw-sm(16px);
        right: px2vw-sm(14px);
        border-radius: px2vw-sm(4px);
        padding: px2vw-sm(5px) px2vw-sm(13px);
        font-size: px2vw-sm(12px);
        line-height: px2vw-sm(16px);
      }
    }
  }

  &-content {
    padding: px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(23px);
    color: #fff;
    font-size: px2vw-xl(15px);

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(16px) px2vw-lg(23px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(16px) px2vw-md(23px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(16px) px2vw-sm(23px);
      font-size: px2vw-sm(16px);
    }
  }

  &-header {
    &-title {
      margin-bottom: px2vw-xl(8px);
      min-height: px2vw-xl(42px);
      font-family: "dynasty-primary-semibold", sans-serif;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(21px);
      text-transform: uppercase;

      @include lg {
        margin-bottom: px2vw-lg(8px);
        min-height: px2vw-lg(42px);
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(21px);
      }

      @include md {
        margin-bottom: px2vw-md(8px);
        min-height: auto;
        font-size: px2vw-md(16px);
        line-height: px2vw-md(21px);
      }

      @include sm {
        margin-bottom: px2vw-sm(8px);
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(21px);
      }
    }
    &-share {
      background-color: transparent;
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-details {
    padding-bottom: px2vw-xl(27px);
    border-bottom: 1px solid #3b3b3b;
    min-height: px2vw-xl(106px);

    @include lg {
      padding-bottom: px2vw-lg(27px);
      min-height: px2vw-lg(106px);
    }

    @include md {
      padding-bottom: px2vw-md(27px);
      min-height: auto;
    }

    @include sm {
      padding-bottom: px2vw-sm(27px);
    }

    &-item {
      position: relative;
      margin-bottom: px2vw-xl(8px);

      &.account {
        span {
          text-transform: lowercase;

          &::first-letter {
            text-transform: uppercase;
          }
        }
      }

      @include lg {
        margin-bottom: px2vw-lg(8px);
      }

      @include md {
        margin-bottom: px2vw-md(8px);
      }

      @include sm {
        margin-bottom: px2vw-sm(8px);
      }

      &-block {
        display: flex;
      }

      &-icon ::ng-deep svg {
        display: block;
        margin-right: px2vw-xl(16px);
        width: px2vw-xl(16px);
        height: px2vw-xl(16px);
        fill: #fff;

        @include lg {
          margin-right: px2vw-lg(16px);
          width: px2vw-lg(16px);
          height: px2vw-lg(16px);
        }

        @include md {
          margin-right: px2vw-md(16px);
          width: px2vw-md(16px);
          height: px2vw-md(16px);
        }

        @include sm {
          margin-right: px2vw-sm(16px);
          width: px2vw-sm(16px);
          height: px2vw-sm(16px);
        }
      }

      &.events {
        margin-right: px2vw-xl(16px);

        @include lg {
          margin-right: px2vw-lg(16px);
        }

        @include md {
          margin-right: px2vw-md(16px);
        }

        @include sm {
          margin-right: px2vw-sm(16px);
        }
      }
    }
  }

  &-created {
    padding-top: px2vw-xl(20px);
    display: flex;
    align-items: center;

    @include lg {
      padding-top: px2vw-lg(20px);
    }

    @include md {
      padding-top: px2vw-lg(20px);
    }

    @include sm {
      padding-top: px2vw-sm(20px);
    }

    &-image {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(32px);
      width: px2vw-xl(32px);
      border-radius: 50%;
      object-fit: cover;

      @include lg {
        margin-right: px2vw-lg(8px);
        height: px2vw-lg(32px);
        width: px2vw-lg(32px);
      }

      @include md {
        margin-right: px2vw-md(8px);
        height: px2vw-md(32px);
        width: px2vw-md(32px);
      }

      @include sm {
        margin-right: px2vw-sm(8px);
        height: px2vw-sm(32px);
        width: px2vw-sm(32px);
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &-by {
      }

      &-sponsor {
      }
    }

    &-button {
      margin-left: auto;
      padding: px2vw-xl(7px) px2vw-xl(15px);
      font-size: px2vw-xl(13px);
      line-height: px2vw-xl(15px);
      text-transform: uppercase;

      @include lg {
        padding: px2vw-lg(7px) px2vw-lg(15px);
        font-size: px2vw-lg(13px);
        line-height: px2vw-lg(15px);
      }

      @include md {
        padding: px2vw-md(7px) px2vw-md(15px);
        font-size: px2vw-md(14px);
        line-height: px2vw-md(16px);
      }

      @include sm {
        padding: px2vw-sm(7px) px2vw-sm(15px);
        font-size: px2vw-sm(15px);
        line-height: px2vw-sm(17px);
      }
    }
  }

  &:hover {
    box-shadow: 3px 3px 10px #0000004d;
  }

  &:hover &-content {
    background: #171616;
  }
}
