@import "shared";

:host {
  display: block;
}

.TournamentRegistration {
  &-title {
    margin-bottom: px2vw-xl(24px);
    font-size: px2vw-xl(56px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(45px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(38px);
    }
  }

  &-team {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-team-image-block {
    flex-shrink: 0;
    width: px2vw-xl(94px);
    height: px2vw-xl(94px);
    border-radius: 50%;
    background-color: var(--base-01);
    background-size: cover;

    @include lg {
      width: px2vw-lg(94px);
      height: px2vw-lg(94px);
    }

    @include md {
      width: px2vw-md(94px);
      height: px2vw-md(94px);
    }

    @include sm {
      width: px2vw-sm(94px);
      height: px2vw-sm(94px);
    }
  }

  &-team-content {
    margin-left: px2vw-xl(28px);

    @include lg {
      margin-left: px2vw-lg(28px);
    }

    @include md {
      margin-left: px2vw-md(28px);
    }

    @include sm {
      margin-left: px2vw-sm(28px);
    }
  }

  &-team-title {
    margin-bottom: px2vw-xl(5px);
    color: var(--base-02);

    @include lg {
      margin-bottom: px2vw-lg(5px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
    }
  }

  &-team-name {
    margin-bottom: 0;
  }

  &-heading {
    margin-bottom: px2vw-xl(35px);

    @include lg {
      margin-bottom: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(35px);
    }

    @include sm {
      margin-bottom: px2vw-sm(35px);
    }
  }

  &-heading-title {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-heading-subtitle {
    margin-bottom: 0;
  }

  &-accordion {
    ::ng-deep {
      .mat-expansion-panel {
        margin-bottom: px2vw-xl(12px);
        box-shadow: none;
        border-radius: 0 !important;

        @include lg {
          margin-bottom: px2vw-lg(12px);
        }

        @include md {
          margin-bottom: px2vw-md(12px);
        }

        @include sm {
          margin-bottom: px2vw-sm(12px);
        }

        &,
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;

          .mat-expansion-panel-header {
            background-color: var(--base-05);

            &.captain {
              background-color: var(--base-yellow);
            }
          }
        }

        &-header {
          background-color: var(--base-05);
          height: px2vw-xl(82px) !important;

          @include lg {
            height: px2vw-lg(82px) !important;
          }

          @include md {
            height: px2vw-md(82px) !important;
          }

          @include sm {
            height: px2vw-sm(82px) !important;
          }
        }

        &-header-title {
          color: var(--base-01);
        }

        &-body {
          padding: 0;
          color: var(--base-01);
        }
      }

      .disable-space {
        .mat-expansion-panel-body {
          padding: 0;
        }
      }

      .mat-expansion-indicator {
        &::after {
          color: var(--base-01);
        }
      }

      .captain {
        .mat-expansion-indicator {
          &::after {
            color: var(--base-white);
          }
        }
      }
    }
  }

  &-accordion-title {
    @extend %global-H6;

    .team-member {
      margin-left: px2vw-xl(5px);

      @include lg {
        margin-left: px2vw-lg(5px);
      }

      @include md {
        margin-left: px2vw-md(5px);
      }

      @include sm {
        margin-left: px2vw-sm(5px);
      }
    }

    .captain {
      margin-left: px2vw-xl(10px);

      @include lg {
        margin-left: px2vw-lg(10px);
      }

      @include md {
        margin-left: px2vw-md(10px);
      }

      @include sm {
        margin-left: px2vw-sm(10px);
      }
    }
  }

  &-accordion-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(33px);
    grid-row-gap: px2vw-xl(24px);
    padding: px2vw-xl(40px) 0;

    @include lg {
      grid-column-gap: px2vw-lg(25px);
      grid-row-gap: px2vw-lg(25px);
      padding: px2vw-lg(40px) 0;
    }

    @include md {
      grid-column-gap: px2vw-md(15px);
      grid-row-gap: px2vw-md(15px);
      padding: px2vw-md(30px) 0;
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: 0;
      grid-row-gap: px2vw-sm(20px);
      padding: px2vw-sm(30px) 0;
    }
  }

  &-accordion-input {
    @extend %global-text-base;
    border-radius: px2vw-xl(4px);
    border: 1px solid var(--base-03);
    padding: px2vw-xl(20px) px2vw-xl(24px);
    cursor: pointer;
    transition: 100ms linear;

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(20px) px2vw-lg(24px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(20px) px2vw-md(24px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(20px) px2vw-sm(24px);
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &-buttons {
    margin-top: px2vw-xl(60px);
    border-top: 1px solid var(--base-03);
    padding-top: px2vw-xl(24px);

    @include lg {
      margin-top: px2vw-lg(60px);
      padding-top: px2vw-lg(24px);
    }

    @include md {
      margin-top: px2vw-md(60px);
      padding-top: px2vw-md(24px);
    }

    @include sm {
      margin-top: px2vw-sm(60px);
      padding-top: px2vw-sm(24px);
    }
  }

  &-button {
    margin-left: px2vw-xl(16px);

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
