@import "shared";

.pp {
  background-color: var(--modelbg);
  border: 0;
  overflow-y: scroll;
  // padding: px2vw-xl(40px);

  &-head{
    text-align: center;
      background-color: var(--modelbg);
  border: 0;

  &-title{
      text-align: center;
      font-family: "dynasty-primary-large";
      padding: px2vw-xl(70px);
      padding-bottom: 0;

      @include lg{
        padding: px2vw-lg(70px);
      }
      @include md{
        padding: px2vw-md(70px);
      }
      @include sm{
        padding: px2vw-sm(70px);
      }
  }
    
  }
  &-body{
      background-color: var(--modelbg);
  border: 0;
  padding: px2vw-xl(90px);
  padding-top: px2vw-xl(10px);
  padding-bottom: 0;

        @include lg{
        padding: px2vw-lg(90px);
        padding-top: px2vw-lg(10px);
      }
      @include md{
        padding: px2vw-md(60px);
        padding-top: px2vw-md(10px);
      }
      @include sm{
        padding: px2vw-sm(40px);
        padding-top: px2vw-sm(10px);
        word-break: break-all;
      }

  }
  &-footer{
      background-color: var(--modelbg);
  border: 0;
    display: flex;
    justify-content: center;

  }

    & ul {
    list-style-type: upper-roman;
    margin: 0;
    font-family: "dynasty-primary-light", sans-serif;
    padding-left: px2vw-xl(30px);
     

    & li {
      font-weight: normal;
      margin-bottom: px2vw-xl(10px);
    }
  }
}


.pp-btn{
   padding: px2vw-xl(5px) px2vw-xl(60px);
   border-radius: 4px;
        @include lg {
         padding: px2vw-lg(5px) px2vw-lg(60px);
      }

      @include md {
         padding: px2vw-md(5px) px2vw-md(60px);
      }

      @include sm {
         padding: px2vw-sm(5px) px2vw-sm(60px);
      }

  &[disabled] {
    pointer-events: none;
    opacity: 1;
    background-color: var(--ppcolor);
    color: var(--darkgray);
  }
}
.box-label-break {
  display: none;
  padding: 3px;

  @include sm {
    clear: both;
    width: 100%;
    display: block;
  }
}

