<section class="SearchTournaments search-wp" [ngClass]="{'noResult':!isTournamentFlag}">
  <div class="SearchTournaments-title">
    <h3 class="d-inline-block">
      {{ "SEARCH.PAGE_SECTION.TOURNAMENTS" | translate }} ({{(homeService.searchedTournament | async)?.docs?.length}})
    </h3>

    <!-- <a class="SearchTournaments-seemore">
      {{ "SEARCH.BUTTON.VIEWMORE" | translate }}</a
    > -->
  </div>

  <div class="cards">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of (homeService.searchedTournament | async)?.docs">
        <app-tournament-card-home

        [params]="item"
        [routerLink]="[AppHtmlRoutes.tournamentView, item?.slug]"
      >
      </app-tournament-card-home>

      </div>
    </div>
    <p *ngIf="!isTournamentFlag" class="SearchTournaments-message">
      {{ "MANAGE_TOURNAMENT.MATCHES.NO_TOURNAMENT_DATA" | translate }}
    </p>
    <!--  <div class="cards">
      <div  class="cards-image " ></div>

      <div class="cards-info"  >

        <div class="cards-info-left">
          <div class="avatar">
            <img src="../../../../../../../assets/images/Profile/img3.png" alt="" />
          </div>
          <div class="info">
            <h4 class="name"> Overwatch All-Stars 2021 Championships!!!</h4>
            <p class="id-infomore">Single Elimination</p>
            <p class="id-infomore">
              Ends Monday, Dec 11, 15:00
            </p>
            </div>
        </div>

      </div>
    <div></div>
      <p *ngIf="!isTournamentFlag" class="SearchTournaments-message">
      {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
    </p>
  </div> -->
  </div>
  <!-- <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination> -->
</section>
