@import "shared";

:host {
  display: block;
}

.GamesCards {
  &-card {
    @extend %u-dfCenterCenter;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid var(--base-03);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(8px);
    cursor: pointer;
    transition: 100ms linear;

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(8px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(8px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(8px);
    }

    &:hover {
      .name {
        font-weight: bold;
        color: var(--base-yellow);
      }
    }

    &.active {
      border-bottom-color: var(--base-yellow);

      .name {
        font-weight: bold;
        color: var(--base-white);
      }
    }
  }

  &-card-image-block {
    @extend %u-dfCenterCenter;
    height: px2vw-xl(42px);
    width: px2vw-xl(70px);

    @include lg {
      height: px2vw-lg(42px);
      width: px2vw-lg(70px);
    }

    @include md {
      height: px2vw-md(42px);
      width: px2vw-md(70px);
    }

    @include sm {
      height: px2vw-sm(42px);
      width: px2vw-sm(70px);
    }
  }

  &-card-image {
    max-height: 100%;
    max-width: 100%;
  }

  &-card-name {
    @extend %global-text-caption;
    margin-top: px2vw-xl(12px);
    margin-bottom: 0;
    color: var(--base-04);
    transition: 100ms linear;

    @include lg {
      margin-top: px2vw-lg(12px);
    }

    @include md {
      margin-top: px2vw-md(12px);
    }

    @include sm {
      margin-top: px2vw-sm(12px);
    }
  }

  ::ng-deep {
    .p-carousel-prev,
    .p-carousel-next {
      margin: 0 px2vw-xl(5px);
      border: solid var(--base-white);
      border-width: 0 px2vw-xl(2px) px2vw-xl(2px) 0;
      background-color: transparent;
      padding: px2vw-xl(4px);
      display: inline-block;

      @include lg {
        margin: 0 px2vw-lg(5px);
        border-width: 0 px2vw-lg(2px) px2vw-lg(2px) 0;
        padding: px2vw-lg(4px);
      }

      @include md {
        margin: 0 px2vw-md(5px);
        border-width: 0 px2vw-md(2px) px2vw-md(2px) 0;
        padding: px2vw-md(4px);
      }

      @include sm {
        margin: 0 px2vw-sm(5px);
        border-width: 0 px2vw-sm(2px) px2vw-sm(2px) 0;
        padding: px2vw-sm(4px);
      }
    }

    .p-carousel-prev.p-disabled,
    .p-carousel-next.p-disabled {
      opacity: 0.3;
    }

    .p-carousel-prev {
      margin-left: px2vw-xl(12px);
      transform: rotate(135deg);

      @include lg {
        margin-left: px2vw-lg(12px);
      }

      @include md {
        margin-left: px2vw-md(12px);
      }

      @include sm {
        margin-left: px2vw-sm(12px);
      }
    }

    .p-carousel-next {
      margin-right: px2vw-xl(12px);
      transform: rotate(310deg);

      @include lg {
        margin-right: px2vw-lg(12px);
      }

      @include md {
        margin-right: px2vw-md(12px);
      }

      @include sm {
        margin-right: px2vw-sm(12px);
      }
    }

    .p-carousel-items-container {
      padding-bottom: px2vw-xl(10px);

      @include lg {
        padding-bottom: px2vw-lg(10px);
      }

      @include md {
        padding-bottom: px2vw-md(10px);
      }

      @include sm {
        padding-bottom: px2vw-sm(10px);
      }
    }

    .p-carousel-item {
      flex-grow: 0 !important;
      height: px2vw-xl(125px);
      padding: 0 px2vw-xl(10px);

      @include lg {
        height: px2vw-lg(180px);
        padding: 0 px2vw-lg(10px);
      }

      @include md {
        height: px2vw-md(150px);
        padding: 0 px2vw-md(10px);
      }

      @include sm {
        height: px2vw-sm(135px);
        padding: 0 px2vw-sm(10px);
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .p-carousel-indicators {
      display: none;
    }
  }
}
