<section class="u-wp ArticleListing">
  <div class="ArticleListing-header">
    <div class="mesf-Title">
      {{ "ARTICLE_MAIN.HEADING.TRENDING_RECENT" | translate | uppercase }}
    </div>
  </div>

  <div class="ArticleListing-list">
    <app-article-item
      *ngFor="let item of articles"
      [data]="item"
    ></app-article-item>
  </div>

  <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination>
</section>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
