@import "shared";

h1.main_heading {
  @extend %global-H4;
}

.shop-card-container {
  margin-top: px2vw-xl(64px);

  // @include xl {
  //     margin-top: px2vw-xl(64px);
  // }
  @include lg {
    margin-top: px2vw-lg(64px);
  }

  @include md {
    margin-top: px2vw-md(64px);
  }

  @include sm {
    margin-top: px2vw-sm(10px);
  }

  &.card_0 {
    margin-top: px2vw-xl(84px);

    @include xl {
      margin-top: px2vw-xl(84px);
    }

    @include lg {
      margin-top: px2vw-lg(84px);
    }

    @include md {
      margin-top: px2vw-md(84px);
    }

    @include sm {
      margin-top: px2vw-sm(55px) !important;
    }
  }
}

.shop-game-cards {
  margin-top: px2vw-xl(24px);
  overflow: hidden;

  @include xl {
    margin-top: px2vw-xl(24px);
  }

  @include lg {
    margin-top: px2vw-lg(24px);
  }

  @include md {
    margin-top: px2vw-md(24px);
  }

  @include sm {
    margin-top: px2vw-sm(24px);
  }

  ::ng-deep .swiper-wrapper {
    height: 100% !important;
  }
}

.shop-card-content {
  background-color: var(--color-darkgray);
  height: auto;
  text-align: left;
  border: px2vw-xl(1px) solid var(--color-bordergray);
  border-radius: px2vw-xl(4px);
  cursor: pointer;

  @include xl {
    border: px2vw-xl(1px) solid var(--color-bordergray);
    @include border-radius(4px);
  }

  @include lg {
    border: px2vw-lg(1px) solid var(--color-bordergray);
    border-radius: px2vw-lg(4px);
  }

  @include md {
    border: px2vw-md(1px) solid var(--color-bordergray);
    border-radius: px2vw-md(4px);
  }

  @include sm {
    border: px2vw-sm(1px) solid var(--color-bordergray);
    border-radius: px2vw-sm(4px);
  }
}

.shop-pagination-container {
  text-align: right;

  // padding: 0 px2vw-xl(56px) 0 0;
  // @include xl {
  //     padding: 0 px2vw-xl(56px) 0 0;
  // }
  // @include lg {
  //     padding: 0 px2vw-lg(56px) 0 0;
  // }
  // @include md {
  //     padding: 0 px2vw-md(56px) 0 0;
  // }
  @include sm {
    // padding: 0 px2vw-sm(56px) 0 0;
    display: none;
  }
}

.shop_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Matchmaking-game-arrows {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .Matchmaking-game-arrow {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
    height: px2vw-xl(34px);
    width: px2vw-xl(34px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.2s;
    font-size: px2vw-xl(23px);

    @include xl {
      height: px2vw-xl(34px);
      width: px2vw-xl(34px);
      font-size: px2vw-xl(23px);
    }

    @include lg {
      height: px2vw-lg(34px);
      width: px2vw-lg(34px);
      font-size: px2vw-lg(23px);
    }

    @include md {
      height: px2vw-md(34px);
      width: px2vw-md(34px);
      font-size: px2vw-md(23px);
    }

    @include sm {
      height: px2vw-sm(34px);
      width: px2vw-sm(34px);
      font-size: px2vw-sm(23px);
    }

    &:first-child {
      margin-right: px2vw-xl(8px);

      @include xl {
        margin-right: px2vw-xl(8px);
      }

      @include lg {
        margin-right: px2vw-lg(8px);
      }

      @include md {
        margin-right: px2vw-md(8px);
      }

      @include sm {
        margin-right: px2vw-sm(8px);
      }
    }

    &:hover {
      background-color: var(--color-primary);
      transition: all linear 0.2s;
      color: var(--black);
    }
  }
}

.store-bandicoot {
  @include xl {
    margin-top: px2vw-xl(64px);
  }

  @include lg {
    margin-top: px2vw-lg(64px);
  }

  @include md {
    margin-top: px2vw-md(64px);
  }

  @include sm {
    margin-top: px2vw-sm(10px);
  }

  h1 {
    margin-bottom: px2vw-xl(25px);

    @include xl {
      margin-bottom: px2vw-xl(25px);
    }

    @include lg {
      margin-bottom: px2vw-lg(25px);
    }

    @include md {
      margin-bottom: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
    }
  }

  width: 100%;
  max-width: px2vw-xl(1308px);
  margin: 0 auto;
  padding: 0 px2vw-xl(24px);
  @include lg {
    padding: 0 px2vw-lg(24px);
    max-width: px2vw-lg(1308px);
  }
  @include xl {
    padding: 0 px2vw-xl(24px);
    max-width: px2vw-xl(1308px);
  }
  @include md {
    padding: 0 px2vw-md(24px);
    max-width: px2vw-md(1308px);
  }
  @include sm {
    padding: 0 px2vw-sm(24px);
    max-width: px2vw-sm(1308px);
  }

  &-container {
    @include sm {
      padding: 0;
    }

    &-header {
      padding: px2vw-xl(32px) 0 px2vw-xl(16px);
      @include lg {
        padding: px2vw-xl(32px) 0 px2vw-xl(16px);
      }
      @include lg {
        padding: px2vw-lg(32px) 0 px2vw-lg(16px);
      }
      @include md {
        padding: px2vw-md(32px) 0 px2vw-md(16px);
      }
      @include sm {
        padding: px2vw-sm(32px) 0 px2vw-sm(16px);
      }
      &-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(40px);
        line-height: px2vw-xl(48px);
        letter-spacing: -0.5px;
        color: var(--white);
        @include xl {
          font-size: px2vw-xl(40px);
          line-height: px2vw-xl(48px);
        }
        @include lg {
          font-size: px2vw-lg(28px);
          line-height: px2vw-lg(48px);
        }
        @include md {
          font-size: px2vw-md(28px);
          line-height: px2vw-md(48px);
        }
        @include sm {
          font-size: px2vw-sm(28px);
          line-height: px2vw-sm(48px);
        }
      }
    }

    &-filter {
      display: -webkit-flex;
      // display: none;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-bottom: px2vw-xl(27.5px);
      margin-bottom: px2vw-xl(20px);
      border-bottom: 1px solid var(--color-black-medium);

      @include xl {
        padding-bottom: px2vw-xl(27.5px);
        margin-bottom: px2vw-xl(20px);
      }
      @include lg {
        display: flex;
        padding-bottom: px2vw-lg(27.5px);
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-xl(24px);
        padding-bottom: px2vw-md(24px);
      }
      @include sm {
        margin-bottom: px2vw-xl(24px);
        padding-bottom: px2vw-sm(24px);
      }

      &-Group {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        @include sm {
          display: none;
        }
      }

      &-Button {
        // display: none;
        width: 100%;
        max-width: px2vw-xl(151px);
        @include xl {
          max-width: px2vw-xl(151px);
        }
        @include lg {
          max-width: px2vw-lg(151px);
        }
        @include md {
          display: block;
          max-width: px2vw-md(151px);
        }

        @include sm {
          max-width: 100%;
        }

        button.btn {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: var(--secondary-color);
          text-transform: none;
          width: 100%;
          padding: px2vw-xl(10px) 0;
          @include xl {
            padding: px2vw-xl(10px) 0;
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
          }
          @include lg {
            padding: px2vw-lg(10px) 0;
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md {
            padding: px2vw-md(10px) 0;
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            width: 100%;
            padding: px2vw-sm(11px) px2vw-sm(16px);
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }

      &-label {
        margin-right: px2vw-xl(8px);
        @include xl {
          margin-right: px2vw-xl(8px);
        }
        @include lg {
          margin-right: px2vw-lg(8px);
        }
        @include md {
          margin-right: px2vw-md(8px);
        }

        .text {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--tolopea-color);
          @include xl {
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
          }
          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }

      &-lists {
        display: flex;
        align-items: center;

        .item {
          background: var(--midnight-express-color);
          border: 1px solid var(--color-black-medium);
          box-sizing: border-box;
          border-radius: px2vw-xl(18px);
          padding: px2vw-xl(4px) px2vw-xl(6px) px2vw-xl(4px) px2vw-xl(8px);
          margin-right: px2vw-xl(8px);
          display: flex;
          align-items: center;
          @include xl {
            padding: px2vw-xl(4px) px2vw-xl(6px) px2vw-xl(4px) px2vw-xl(8px);
            margin-right: px2vw-xl(8px);
            border-radius: px2vw-xl(18px);
          }
          @include lg {
            padding: px2vw-lg(4px) px2vw-lg(6px) px2vw-lg(4px) px2vw-lg(8px);
            margin-right: px2vw-lg(8px);
            border-radius: px2vw-lg(18px);
          }
          @include md {
            padding: px2vw-md(4px) px2vw-md(6px) px2vw-md(4px) px2vw-md(8px);
            margin-right: px2vw-md(8px);
            border-radius: px2vw-md(18px);
          }
          @include sm {
            padding: px2vw-sm(4px) px2vw-sm(6px) px2vw-sm(4px) px2vw-sm(8px);
            margin-right: px2vw-sm(8px);
            border-radius: px2vw-sm(18px);
          }

          .text {
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 500;
            font-size: px2vw-xl(14px);
            line-height: px2vw-xl(20px);
            color: var(--color-white-medium);
            @include xl {
              font-size: px2vw-xl(14px);
              line-height: px2vw-xl(20px);
            }
            @include lg {
              font-size: px2vw-lg(14px);
              line-height: px2vw-lg(20px);
            }
            @include md {
              font-size: px2vw-md(14px);
              line-height: px2vw-md(20px);
            }
            @include sm {
              font-size: px2vw-sm(14px);
              line-height: px2vw-sm(20px);
            }
          }

          .icon-remove {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: px2vw-xl(16px);
            height: px2vw-xl(16px);
            margin-left: px2vw-xl(4px);
            @include xl {
              margin-left: px2vw-xl(4px);
              width: px2vw-xl(16px);
              height: px2vw-xl(16px);
            }
            @include lg {
              margin-left: px2vw-lg(4px);
              width: px2vw-lg(16px);
              height: px2vw-lg(16px);
            }
            @include md {
              margin-left: px2vw-md(4px);
              width: px2vw-md(16px);
              height: px2vw-md(16px);
            }
            @include sm {
              margin-left: px2vw-sm(4px);
              width: px2vw-sm(16px);
              height: px2vw-sm(16px);
            }

            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 9.33px;
              height: 1px;
              background-color: var(--tertiary-color);
            }

            &::before {
              -moz-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &::after {
              -moz-transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
          }
        }
      }

      &-btn {
        .btn-clear {
          padding: 0;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--main-color);
          text-transform: none;
          margin-left: px2vw-xl(8px);

          @include xl {
            margin-left: px2vw-xl(8px);
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
          }
          @include lg {
            margin-left: px2vw-lg(8px);
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }
          @include md {
            margin-left: px2vw-md(8px);
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            margin-left: px2vw-sm(8px);
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
        }
      }
    }

    &-content {
      &-content {
        &-listTitle {
          display: flex;
          gap: 0 64px;
          border-bottom: 2px solid var(--midnight-express-color);

          @include sm {
            justify-content: space-between;
            gap: 0;
          }

          .item-list {
            padding-bottom: px2vw-xl(28px);
            font-family: Avenir Next;
            font-style: normal;
            font-weight: 600;
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
            letter-spacing: -0.5px;
            color: var(--white);
            @include xl {
              padding-bottom: px2vw-xl(28px);
              font-size: px2vw-xl(16px);
              line-height: px2vw-xl(24px);
            }

            @include lg {
              font-size: px2vw-xl(22px);
              line-height: px2vw-xl(24px);
              padding-bottom: px2vw-lg(28px);
            }
            @include md {
              padding-bottom: px2vw-md(28px);
              font-size: px2vw-md(22px);
              line-height: px2vw-md(24px);
            }

            @include sm {
              font-size: px2vw-sm(20px);
              line-height: px2vw-sm(28px);
              padding-bottom: px2vw-sm(28px);
            }
          }

          .active {
            color: var(--secondary-color);
            border-bottom: 2px solid var(--secondary-color);
          }
        }
      }

      &-main {
        display: flex;

        &-left {
          width: 100%;
          max-width: px2vw-xl(280px);
          @include xl {
            max-width: px2vw-xl(280px);
          }
          @include lg {
            // display: none;
          }

          .store-search {
            width: 100%;

            .search-title {
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: px2vw-xl(16px);
              line-height: px2vw-xl(24px);
              color: var(--tolopea-color);
              padding: px2vw-xl(16px) 0;
              @include xl {
                padding: px2vw-xl(16px) 0;
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(24px);
              }
              @include lg {
                padding: px2vw-xg(16px) 0;
                font-size: px2vw-lg(16px);
                line-height: px2vw-lg(24px);
              }
              @include md {
                padding: px2vw-md(16px) 0;
                font-size: px2vw-md(16px);
                line-height: px2vw-md(24px);
              }
              @include sm {
                padding: px2vw-sm(16px) 0;
                font-size: px2vw-sm(16px);
                line-height: px2vw-sm(24px);
              }
            }

            .search-input {
              position: relative;

              input {
                width: 100%;
                border: 2px solid var(--tertiary-color);
                box-sizing: border-box;
                border-radius: px2vw-xl(24px);
                padding: px2vw-xl(12px) px2vw-xl(56px) px2vw-xl(12px)
                  px2vw-xl(24px);
                background-color: var(--color-background);
              }
              @include xl {
                padding: px2vw-xl(12px) px2vw-xl(56px) px2vw-xl(12px)
                  px2vw-xl(24px);
                border-radius: px2vw-xl(24px);
              }
              @include lg {
                padding: px2vw-lg(12px) px2vw-lg(56px) px2vw-lg(12px)
                  px2vw-lg(24px);
                border-radius: px2vw-lg(24px);
              }
              @include md {
                padding: px2vw-md(12px) px2vw-md(56px) px2vw-md(12px)
                  px2vw-md(24px);
                border-radius: px2vw-md(24px);
              }
              @include sm {
                padding: px2vw-sm(12px) px2vw-sm(56px) px2vw-sm(12px)
                  px2vw-sm(24px);
                border-radius: px2vw-sm(24px);
              }
              .search-icons {
                position: absolute;
                top: 50%;
                right: px2vw-xl(25px);
                transform: translateY(-50%);
                @include xl {
                  right: px2vw-xl(25px);
                }
                @include lg {
                  right: px2vw-lg(25px);
                }
                @include md {
                  right: px2vw-md(25px);
                }
                @include sm {
                  @include lg {
                    right: px2vw-sm(25px);
                  }
                }
              }
            }
          }

          .store-filter {
            padding-top: px2vw-xl(16px);
            @include xl {
              padding-top: px2vw-xl(16px);
            }
            @include lg {
              padding-top: px2vw-lg(16px);
            }
            @include md {
              padding-top: px2vw-md(16px);
            }
            @include sm {
              padding-top: px2vw-sm(16px);
            }

            &-title {
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: px2vw-xl(24px);
              line-height: px2vw-xl(32px);
              color: var(--tolopea-color);
              padding: px2vw-xl(16px) 0;
              @include xl {
                padding-top: px2vw-xl(16px) 0;
                font-size: px2vw-xl(24px);
                line-height: px2vw-xl(32px);
              }
              @include lg {
                padding-top: px2vw-lg(16px) 0;
                font-size: px2vw-lg(24px);
                line-height: px2vw-lg(32px);
              }
              @include md {
                padding-top: px2vw-md(16px) 0;
                font-size: px2vw-md(24px);
                line-height: px2vw-md(32px);
              }
              @include sm {
                padding-top: px2vw-sm(16px) 0;
                font-size: px2vw-sm(24px);
                line-height: px2vw-sm(32px);
              }
            }

            &-list {
              .store-filter-item {
                font-family: Avenir Next;
                font-style: normal;
                font-weight: 600;
                font-size: px2vw-xl(20px);
                line-height: px2vw-xl(28px);
                color: var(--white);
                padding-bottom: px2vw-xl(8px);
                @include xl {
                  font-size: px2vw-xl(20px);
                  line-height: px2vw-xl(28px);
                  padding-bottom: px2vw-xl(8px);
                }
                @include lg {
                  font-size: px2vw-lg(20px);
                  line-height: px2vw-lg(28px);
                  padding-bottom: px2vw-lg(8px);
                }
                @include md {
                  font-size: px2vw-md(20px);
                  line-height: px2vw-md(28px);
                  padding-bottom: px2vw-md(8px);
                }
                @include sm {
                  font-size: px2vw-sm(20px);
                  line-height: px2vw-sm(28px);
                  padding-bottom: px2vw-sm(8px);
                }
              }
            }
          }
        }

        &-right {
          width: 100%;
          padding-left: px2vw-xl(28px);
          @include xl {
            padding-left: px2vw-xl(28px);
          }
          @include lg {
            padding-left: px2vw-lg(28px);
          }
          @include md {
            padding-left: px2vw-md(28px);
          }

          @include lg {
            padding: 0;
          }

          .store-shop-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 px2vw-xl(20px) 0;
            @include xl {
              padding: 0 0 px2vw-xl(20px) 0;
            }
            @include lg {
              padding: 0 0 px2vw-lg(20px) 0;
            }
            @include md {
              padding: 0 0 px2vw-md(20px) 0;
            }
            @include sm {
              padding: 0 0 px2vw-sm(20px) 0;
              flex-direction: column;
              align-items: flex-start;
            }

            .store-shop-founded {
              font-family: Avenir Next;
              font-style: normal;
              font-weight: 600;
              font-size: px2vw-xl(20px);
              line-height: px2vw-xl(28px);
              color: var(--tolopea-color);
              @include xl {
                font-size: px2vw-xl(20px);
                line-height: px2vw-xl(28px);
              }
              @include lg {
                font-size: px2vw-lg(20px);
                line-height: px2vw-lg(28px);
              }
              @include md {
                font-size: px2vw-md(20px);
                line-height: px2vw-md(28px);
              }
              @include sm {
                font-size: px2vw-sm(20px);
                line-height: px2vw-sm(16px);
                padding: px2vw-sm(8px) 0;
              }
            }

            .SortBy {
              width: 100%;
              max-width: px2vw-xl(280px);
              @include xl {
                max-width: px2vw-xl(280px);
              }
              @include lg {
                max-width: px2vw-lg(280px);
              }
              @include md {
                max-width: px2vw-md(280px);
              }

              @include sm {
                max-width: 100%;
              }

              .Select-teamDropdown {
                &:hover,
                &.show {
                  .Select-teamBtn {
                    border: 2px solid var(--main-color);
                  }
                }

                .Select-teamBtn {
                  background: var(--color-background);
                  border: px2vw-xl(2px) solid var(--midnight-express-color);
                  box-sizing: border-box;
                  border-radius: px2vw-xl(24px);
                  width: 100%;
                  text-align: left;
                  padding: px2vw-xl(10px) px2vw-xl(17px) px2vw-xl(10px)
                    px2vw-xl(14px);
                  @extend %global-textSm;
                  color: var(--tertiary-color);
                  text-transform: none;
                  display: -webkit-flex;
                  display: flex;
                  -webkit-justify-content: space-between;
                  justify-content: space-between;
                  -webkit-align-items: center;
                  align-items: center;
                  @include xl {
                    padding: px2vw-xl(10px) px2vw-xl(17px) px2vw-xl(10px)
                      px2vw-xl(14px);
                    border-radius: px2vw-xl(24px);
                    border: px2vw-xl(2px) solid var(--midnight-express-color);
                  }
                  @include lg {
                    padding: px2vw-lg(10px) px2vw-lg(17px) px2vw-lg(10px)
                      px2vw-lg(14px);

                    border-radius: px2vw-lg(24px);
                    border: px2vw-lg(2px) solid var(--midnight-express-color);
                  }
                  @include md {
                    padding: px2vw-md(10px) px2vw-md(17px) px2vw-md(10px)
                      px2vw-md(14px);
                    border-radius: px2vw-sm(24px);
                    border: px2vw-md(2px) solid var(--midnight-express-color);
                  }
                  @include sm {
                    max-width: 100%;
                    padding: px2vw-sm(6px) px2vw-sm(24px);
                    font-weight: 500;
                    border-radius: px2vw-sm(24px);
                    border: px2vw-sm(2px) solid var(--midnight-express-color);
                  }

                  &::after {
                    display: inline-block;
                    margin-left: 0;
                    vertical-align: 0;
                    content: "";
                    border-top: 2px solid var(--secondary-color);
                    border-right: 2px solid var(--secondary-color);
                    border-bottom: 0;
                    border-left: 0;
                    width: px2vw-xl(12px);
                    height: px2vw-xl(12px);
                    transform: rotate(135deg);
                    transition: $global-transition2;
                    position: relative;
                    top: -3px;
                    @include xl {
                      width: px2vw-xl(12px);
                      height: px2vw-xl(12px);
                    }
                    @include lg {
                      width: px2vw-lg(12px);
                      height: px2vw-lg(12px);
                    }
                    @include md {
                      width: px2vw-md(12px);
                      height: px2vw-md(12px);
                    }
                    @include sm {
                      width: px2vw-sm(12px);
                      height: px2vw-sm(12px);
                    }
                  }
                }

                .Select-teamDropdownItem {
                  top: px2vw-xl(55px) !important;
                  transform: none !important;
                  width: 100%;
                  z-index: 2;
                  box-sizing: border-box;
                  border-radius: px2vw-xl(4px);
                  background: var(--midnight-express-color);
                  padding: px2vw-xl(10px) px2vw-xl(16px);
                  border: 0px solid transparent;
                  border-right: 4px solid transparent;
                  padding-left: 0;
                  padding-right: 0;
                  max-height: px2vw-xl(156px);
                  overflow: hidden;
                  overflow-y: auto;
                  @include xl {
                    padding: px2vw-xl(10px) px2vw-xl(16px);
                    border-radius: px2vw-xl(4px);
                    max-height: px2vw-xl(156px);
                    top: px2vw-xl(55px) !important;
                  }
                  @include lg {
                    padding: px2vw-lg(10px) px2vw-lg(16px);
                    border-radius: px2vw-lg(4px);
                    max-height: px2vw-lg(156px);
                    top: px2vw-lg(55px) !important;
                  }
                  @include md {
                    padding: px2vw-md(10px) px2vw-md(16px);
                    border-radius: px2vw-md(4px);
                    max-height: px2vw-md(156px);
                    top: px2vw-md(55px) !important;
                  }

                  @include sm {
                    padding: px2vw-sm(10px) px2vw-sm(16px);
                    border-radius: px2vw-sm(4px);
                    max-height: px2vw-sm(156px);
                    top: px2vw-sm(45px) !important;
                  }

                  &::-webkit-scrollbar {
                    width: px2vw-xl(8px);
                    border-radius: px2vw-xl(4px);
                    @include xl {
                      width: px2vw-xl(8px);
                      border-radius: px2vw-xl(4px);
                    }
                    @include lg {
                      width: px2vw-lg(8px);
                      border-radius: px2vw-lg(4px);
                    }
                    @include md {
                      width: px2vw-md(8px);
                      border-radius: px2vw-md(4px);
                    }
                    @include sm {
                      width: px2vw-sm(8px);
                      border-radius: px2vw-sm(4px);
                    }
                  }

                  &::-webkit-scrollbar-thumb {
                    height: px2vw-xl(8px);
                    border-radius: px2vw-xl(4px);
                    background-color: var(--tertiary-color);
                    @include xl {
                      height: px2vw-xl(8px);
                      border-radius: px2vw-xl(4px);
                    }
                    @include lg {
                      height: px2vw-lg(8px);
                      border-radius: px2vw-lg(4px);
                    }
                    @include md {
                      height: px2vw-md(8px);
                      border-radius: px2vw-md(4px);
                    }
                    @include sm {
                      height: px2vw-sm(8px);
                      border-radius: px2vw-sm(4px);
                    }
                  }

                  &::-webkit-scrollbar-track {
                    background: transparent;
                  }

                  button {
                    font-family: Avenir Next;
                    font-style: normal;
                    font-weight: 500;
                    font-size: px2vw-xl(14px);
                    line-height: px2vw-xl(20px);
                    color: var(--white);
                    padding: px2vw-xl(10px) px2vw-xl(16px);
                    @include xl {
                      padding: px2vw-xl(10px) px2vw-xl(16px);
                      font-size: px2vw-xl(14px);
                      line-height: px2vw-xl(20px);
                    }
                    @include lg {
                      padding: px2vw-lg(10px) px2vw-lg(16px);
                      font-size: px2vw-lg(14px);
                      line-height: px2vw-lg(20px);
                    }
                    @include md {
                      padding: px2vw-md(10px) px2vw-md(16px);
                      font-size: px2vw-md(14px);
                      line-height: px2vw-md(20px);
                    }
                    @include sm {
                      padding: px2vw-sm(10px) px2vw-sm(16px);
                      font-size: px2vw-sm(14px);
                      line-height: px2vw-sm(20px);
                    }

                    &:hover {
                      background: var(--color-black-medium);
                    }
                  }
                }

                &.show {
                  .select-teamBtn {
                    &::after {
                      transform: rotate(315deg);
                      transition: $global-transition2;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// .top-up-container {
//     margin-top: px2vw-xl(64px);
//     @include xl {
//         margin-top: px2vw-xl(64px);
//     }
//     @include lg {
//         margin-top: px2vw-lg(64px);
//     }
//     @include md {
//         margin-top: px2vw-md(64px);
//     }
//     @include sm {
//         margin-top: px2vw-sm(10px);
//     }
//     h1 {
//         margin-bottom: px2vw-xl(25px);
//         @include xl {
//             margin-bottom: px2vw-xl(25px);
//         }
//         @include lg {
//             margin-bottom: px2vw-lg(25px);
//         }
//         @include md {
//             margin-bottom: px2vw-md(25px);
//         }
//         @include sm {
//             margin-bottom: px2vw-sm(25px);
//         }
//     }

//     .global-Tabs {
//         .Search-button {
//             font-size: px2vw-xl(14px);
//             line-height: px2vw-xl(17px);
//             letter-spacing: px2vw-xl(0.1px);
//             padding: 0px 0px;
//             height: px2vw-xl(44px);
//             width: px2vw-xl(147px);
//             // font-family: "";
//             @include xl {
//                 font-size: px2vw-xl(14px);
//                 height: px2vw-xl(44px);
//                 width: px2vw-xl(147px);
//                 line-height: px2vw-xl(17px);
//                 letter-spacing: px2vw-xl(0.1px);
//             }
//             @include lg {
//                 font-size: px2vw-lg(14px);
//                 height: px2vw-lg(44px);
//                 width: px2vw-lg(147px);
//                 line-height: px2vw-lg(17px);
//                 letter-spacing: px2vw-lg(0.1px);
//             }
//             @include md {
//                 font-size: px2vw-md(14px);
//                 height: px2vw-md(44px);
//                 width: px2vw-md(147px);
//                 line-height: px2vw-md(17px);
//                 letter-spacing: px2vw-md(0.1px);
//             }
//             @include sm {
//                 font-size: px2vw-sm(14px);
//                 height: px2vw-sm(44px);
//                 width: auto;
//                 line-height: px2vw-sm(17px);
//                 letter-spacing: px2vw-sm(0.1px);
//             }
//         }
//     }
// }

.top-inputs {
  display: flex;
  justify-content: space-between;

  .input-select-container {
    @include sm {
      padding: px2vw-sm(24px) px2vw-sm(15px) !important;
      margin: 0 px2vw-sm(-15px);
    }
  }
}

.input-select-container {
  display: flex;
  align-items: center;

  .input-icons {
    margin-right: px2vw-xl(16px);
    position: relative;

    @include xl {
      margin-right: px2vw-xl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      margin-top: px2vw-md(15px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      margin-top: px2vw-sm(28px);
    }

    .mat-icon {
      position: absolute;
      left: px2vw-xl(15px);
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;

      @include xl {
        left: px2vw-xl(15px);
      }

      @include lg {
        left: px2vw-lg(15px);
      }

      @include md {
        left: px2vw-md(15px);
      }

      @include sm {
        left: px2vw-sm(15px);
      }

      img {
        height: px2vw-xl(13px);
        width: px2vw-xl(13px);

        @include xl {
          height: px2vw-xl(13px);
          width: px2vw-xl(13px);
        }

        @include lg {
          height: px2vw-lg(13px);
          width: px2vw-lg(13px);
        }

        @include md {
          height: px2vw-md(13px);
          width: px2vw-md(13px);
        }

        @include sm {
          height: px2vw-sm(13px);
          width: px2vw-sm(13px);
        }
      }
    }

    .SearchInput-field {
      font-size: px2vw-xl(14px);
      padding: px2vw-xl(15px) px2vw-xl(10px) px2vw-xl(15px) px2vw-xl(50px);
      border-radius: px2vw-xl(2px);
      background-color: var(--color-darkgray);
      width: px2vw-xl(216px);
      height: px2vw-xl(44px);
      margin-top: 0px;

      @include xl {
        font-size: px2vw-xl(14px);
        padding: px2vw-xl(15px) px2vw-xl(10px) px2vw-xl(15px) px2vw-xl(50px);
        @include border-radius(2px);
        width: px2vw-xl(216px);
        height: px2vw-xl(44px);
      }

      @include lg {
        font-size: px2vw-xl(14px);
        padding: px2vw-xl(15px) px2vw-xl(10px) px2vw-xl(15px) px2vw-xl(50px);
        border-radius: px2vw-xl(2px);
        width: px2vw-xl(216px);
        height: px2vw-xl(44px);
      }

      @include md {
        font-size: px2vw-md(14px);
        padding: px2vw-md(15px) px2vw-md(10px) px2vw-md(15px) px2vw-md(50px);
        border-radius: px2vw-xl(2px);
        width: px2vw-md(216px);
        height: px2vw-md(50px);
      }

      @include sm {
        font-size: px2vw-sm(14px);
        padding: px2vw-sm(15px) px2vw-sm(10px) px2vw-sm(15px) px2vw-sm(36px);
        border-radius: px2vw-sm(2px);
        width: px2vw-sm(216px);
        height: px2vw-sm(56px);
      }
    }
  }

  .input-select {
    position: relative;
    min-width: px2vw-xl(150px);
    height: auto;
    margin-top: px2vw-xl(-15px);

    @include xl {
      min-width: px2vw-xl(150px);
      margin-top: px2vw-xl(-15px);
    }

    @include lg {
      min-width: px2vw-lg(150px);
      margin-top: px2vw-lg(-15px);
    }

    @include md {
      min-width: px2vw-md(150px);
      margin-top: px2vw-md(-15px);
    }

    @include sm {
      min-width: px2vw-sm(150px);
      margin-top: px2vw-sm(-15px);
      height: px2vw-sm(70px);
    }

    fieldset {
      font-size: px2vw-xl(14px);
      border: px2vw-xl(1px) solid var(--color-ash-med);
      border-radius: px2vw-xl(4px);
      padding: 0px px2vw-xl(10px);
      cursor: pointer;
      width: px2vw-xl(168px);
      height: px2vw-xl(55px);

      @include xl {
        font-size: px2vw-xl(14px);
        border: px2vw-xl(1px) solid var(--color-ash-med);
        @include border-radius(4px);
        padding: 0px px2vw-xl(10px);
        width: px2vw-xl(168px);
        height: px2vw-xl(55px);
      }

      @include lg {
        font-size: px2vw-lg(14px);
        border: px2vw-lg(1px) solid var(--color-ash-med);
        border-radius: px2vw-lg(4px);
        padding: 0px px2vw-lg(10px);
        width: px2vw-lg(168px);
        height: px2vw-lg(55px);
      }

      @include md {
        font-size: px2vw-md(14px);
        border: px2vw-md(1px) solid var(--color-ash-med);
        border-radius: px2vw-md(4px);
        padding: 0px px2vw-md(10px);
        width: px2vw-md(168px);
        height: px2vw-md(55px);
      }

      @include sm {
        font-size: px2vw-sm(14px);
        border: 1px solid var(--color-ash-med);
        border-radius: px2vw-sm(4px);
        padding: 0px px2vw-sm(10px);
        width: px2vw-sm(168px);
        height: px2vw-sm(55px);
      }

      span {
        margin-left: px2vw-xl(5px);

        @include xl {
          margin-left: px2vw-xl(5px);
        }

        @include lg {
          margin-left: px2vw-lg(5px);
        }

        @include md {
          margin-left: px2vw-md(5px);
        }

        @include sm {
          margin-left: px2vw-sm(5px);
        }
      }

      .mat-icon {
        position: absolute;
        color: var(--white-disabled);
        right: px2vw-xl(5px);

        @include xl {
          right: px2vw-xl(5px);
        }

        @include lg {
          right: px2vw-lg(5px);
        }

        @include md {
          right: px2vw-md(5px);
        }

        @include sm {
          right: px2vw-sm(5px);
        }
      }

      legend {
        color: var();
        font-size: px2vw-xl(12px);
        margin: 0;
        width: auto;
        padding: 0 px2vw-xl(5px);

        @include xl {
          font-size: px2vw-xl(12px);
          padding: 0 px2vw-xl(5px);
        }

        @include lg {
          font-size: px2vw-lg(12px);
          padding: 0 px2vw-lg(5px);
        }

        @include md {
          font-size: px2vw-md(12px);
          padding: 0 px2vw-md(5px);
        }

        @include sm {
          font-size: px2vw-sm(12px);
          padding: 0 px2vw-sm(5px);
        }
      }
    }
  }
}

.shop-top-cards-container {
  margin-top: px2vw-xl(40px);

  @include xl {
    margin-top: px2vw-xl(40px);
  }

  @include lg {
    margin-top: px2vw-lg(40px);
  }

  @include md {
    margin-top: px2vw-md(40px);
  }

  @include sm {
    margin-top: px2vw-sm(40px);
  }

  .games_item_container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
        0,
        1fr
      );
    grid-column-gap: px2vw-xl(15px);

    @include xl {
      grid-column-gap: px2vw-xl(15px);
    }

    @include lg {
      grid-column-gap: px2vw-lg(15px);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }

    @include md {
      grid-column-gap: px2vw-md(15px);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @include sm {
      grid-column-gap: px2vw-sm(15px);
      grid-template-columns: minmax(0, 1fr);
    }

    .shop-topup-card-content {
      height: auto;
      text-align: left;
      border: px2vw-xl(1px) solid var(--color-bordergray);
      border-radius: px2vw-xl(4px);
      margin-bottom: px2vw-xl(16px);
      // margin-right: px2vw-xl(16px);
      cursor: pointer;

      @include xl {
        border: px2vw-xl(1px) solid var(--color-bordergray);
        @include border-radius(4px);
        margin-bottom: px2vw-xl(16px);
        // margin-right: px2vw-xl(16px);
      }

      @include lg {
        border: px2vw-lg(1px) solid var(--color-bordergray);
        border-radius: px2vw-lg(4px);
        margin-bottom: px2vw-lg(16px);
        // margin-right: px2vw-lg(16px);
      }

      @include md {
        border: px2vw-md(1px) solid var(--color-bordergray);
        border-radius: px2vw-md(4px);
        margin-bottom: px2vw-md(16px);
        // margin-right: px2vw-md(16px);
      }

      @include sm {
        border: px2vw-sm(1px) solid var(--color-bordergray);
        border-radius: px2vw-sm(4px);
        margin-bottom: px2vw-sm(16px);
        // margin-right: 0;
      }
    }
  }
}

@include md {
  .top-inputs {
    display: block;

    .media-responsive-btn {
      margin-bottom: px2vw-md(32px);

      .Search-button {
        padding: px2vw-md(10px) 0;
        flex-grow: 1;
      }
    }

    .input-select-container {
      background-color: var(--color-darkgray);
      padding: px2vw-md(15px);
      flex-direction: column;

      .input-icons {
        width: 100%;
        margin-right: 0;
        order: 2;
        position: relative;

        .mat-icon {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .SearchInput-field {
          border: 1px solid var(--color-ash-med);
          width: 100%;
          border-radius: px2vw-md(4px);
        }
      }

      .input-select {
        width: 100%;
        order: 1;
        height: px2vw-md(76px);

        fieldset {
          padding: px2vw-md(15px) px2vw-md(10px);
        }

        .mat-icon {
          right: px2vw-md(5px);
          top: px2vw-md(15px);
        }
      }
    }
  }
}

/* Slider */
.shop_slider {
  margin-bottom: 0px;

  .slide {
    width: 100%;
    max-width: px2vw-xl(1152px);

    @include xl {
      max-width: px2vw-xl(1440px);
    }

    @include lg {
      max-width: px2vw-lg(1024px);
    }

    @include md {
      max-width: 100vw;
    }

    @include sm {
      max-width: 100vw;
    }
  }

  ::ng-deep .slick-dots {
    bottom: px2vw-xl(60px);

    @include lg {
      bottom: px2vw-lg(60px);
    }

    @include md {
      bottom: px2vw-md(60px);
    }

    @include sm {
      padding: px2vw-sm(12px) 0;
      background: var(--gradient-bg-drk);
      bottom: px2vw-sm(-32px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ::ng-deep .slick-slide img {
    max-height: px2vw-xl(400.7px);
    height: px2vw-xl(400.7px);
    padding: 0 px2vw-xl(10px);
    border-radius: px2vw-xl(20px);
    object-fit: cover;
    object-position: top;

    @include lg {
      max-height: px2vw-lg(400.7px);
      height: px2vw-lg(400.7px);
      padding: 0 px2vw-lg(10px);
      border-radius: px2vw-lg(20px);
    }

    @include md {
      max-height: px2vw-md(400.7px);
      height: px2vw-md(400.7px);
      padding: 0 px2vw-md(10px);
      border-radius: px2vw-md(20px);
    }

    @include sm {
      height: px2vw-md(621.72672px);
      max-height: px2vw-sm(621.72672px);
      padding: 0 px2vw-md(0px);
      border-radius: px2vw-sm(20px);
    }
  }

  ::ng-deep .slick-list.draggable {
    @include sm {
      padding: 0 0 !important;
    }

    @media (min-width: 768px) {
      padding: 0 px2vw-xl(125px) !important;

      @include lg {
        padding: 0 px2vw-lg(125px) !important;
      }

      @include md {
        padding: 0 px2vw-md(125px) !important;
      }
    }

    @media (min-width: 992px) {
      padding: 0 px2vw-xl(175px) !important;

      @include lg {
        padding: 0 px2vw-lg(175px) !important;
      }

      @include md {
        padding: 0 px2vw-md(175px) !important;
      }
    }

    @media (min-width: 1200px) {
      padding: 0 px2vw-xl(225px) !important;

      @include lg {
        padding: 0 px2vw-lg(225px) !important;
      }
    }
  }

  ::ng-deep .home_slider {
    .slick-arrow {
      height: 100%;
      width: 15%;
      z-index: 1;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      @include sm {
        display: none !important;
      }
    }

    .slick-prev {
      background: linear-gradient(90deg, var(--black), transparent);
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      left: 0;
      &.slick-prev:before {
        position: relative;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        content: "" !important;
        background-image: url(../../../assets/icons/shop/chevron_left.png);
        background-repeat: no-repeat;
        background-position: center;
        width: px2vw-xl(80px);
        height: px2vw-xl(80px);

        @include lg {
          width: px2vw-lg(80px);
          height: px2vw-lg(80px);
        }

        @include md {
          width: px2vw-md(80px);
          height: px2vw-md(80px);
        }

        @include sm {
          width: px2vw-sm(80px);
          height: px2vw-sm(80px);
        }
      }
    }

    .slick-next {
      background: linear-gradient(90deg, transparent, var(--black));
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      right: 0;
      &.slick-next:before {
        position: relative;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        content: "" !important;
        background-image: url(../../../assets/icons/shop/chevron_right.png);
        background-repeat: no-repeat;
        background-position: center;
        width: px2vw-xl(80px);
        height: px2vw-xl(80px);

        @include lg {
          width: px2vw-lg(80px);
          height: px2vw-lg(80px);
        }

        @include md {
          width: px2vw-md(80px);
          height: px2vw-md(80px);
        }

        @include sm {
          width: px2vw-sm(80px);
          height: px2vw-sm(80px);
        }
      }
    }

    ::ng-deep .slick-dots li button {
      height: 100%;
      width: 100%;
      background: var(--color-black-medium);
      padding: 0;
      margin: 0;
      border: none;
      box-shadow: none;
    }
    ::ng-deep .slick-dots li {
      height: px2vw-xl(8px);
      width: px2vw-xl(8px);
      background: var(--color-black-medium);
      @include lg {
        height: px2vw-lg(8px);
        width: px2vw-lg(8px);
      }

      @include md {
        height: px2vw-md(8px);
        width: px2vw-md(8px);
      }

      @include sm {
        height: px2vw-sm(12.288px);
        width: px2vw-sm(12.288px);
      }
      &.slick-active {
        background: var(--color-successful);
      }
      &.slick-active button:before {
        background: var(--color-successful);
      }
      button:before {
        content: "";
        height: 100%;
        width: 100%;
        background: var(--color-black-medium);
        border-radius: 0;
        padding: 0;
        margin: 0;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.sort_by {
  @include md {
    width: 100%;
  }

  ::ng-deep .mat-form-field-flex {
    height: px2vw-xl(50px) !important;

    @include xl {
      height: px2vw-xl(50px) !important;
    }

    @include lg {
      height: px2vw-lg(50px) !important;
    }

    @include md {
      height: px2vw-md(50px) !important;
    }

    @include sm {
      height: px2vw-sm(50px) !important;
    }
  }

  ::ng-deep .mat-form-field {
    margin-top: 0;

    @include md {
      width: 100%;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding-top: 0.5em !important;

    @include xl {
      padding-top: 0.5em !important;
    }

    @include lg {
      padding-top: 0.5em !important;
    }

    @include md {
      padding-top: 0.5em !important;
    }

    @include sm {
      padding-top: 0.5em !important;
    }
  }

  ::ng-deep .mat-select-arrow {
    color: var(--white-disabled) !important;
    margin-bottom: px2vw-xl(-2px);

    @include xl {
      margin-bottom: px2vw-xl(-2px);
    }

    @include lg {
      margin-bottom: px2vw-xl(-2px);
    }

    @include md {
      margin-bottom: px2vw-md(-2px);
    }

    @include sm {
      margin-bottom: px2vw-sm(-2px);
    }
  }

  ::ng-deep .mat-form-field-label-wrapper {
    .mat-form-field-label {
      @extend %caption;
      color: var();

      @include md {
        font-size: px2vw-md(12px);
      }

      @include md {
        font-size: px2vw-sm(12px);
      }
    }
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--white) !important;
  }

  ::ng-deep .mat-select-value {
    // font-family: "";
    font-size: px2vw-xl(16px);
    letter-spacing: px2vw-xl(0.5px);
    line-height: px2vw-xl(24px);
    color: var(--white-high);

    @include xl {
      font-size: px2vw-xl(16px);
      letter-spacing: px2vw-xl(0.5px);
      line-height: px2vw-xl(24px);
    }

    @include lg {
      font-size: px2vw-lg(16px);
      letter-spacing: px2vw-lg(0.5px);
      line-height: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(16px);
      letter-spacing: px2vw-md(0.5px);
      line-height: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      letter-spacing: px2vw-sm(0.5px);
      line-height: px2vw-sm(24px);
    }
  }

  ::ng-deep .mat-select-trigger {
    display: flex !important;
    align-items: center;
    justify-content: space-between;

    .mat-select-value {
      max-width: inherit !important;
    }
  }
}

::ng-deep .mat-select-panel {
  background: var(--gradient-bg-drk6), var(--gradient-bg-drk3) !important;

  .mat-option {
    .mat-option-text {
      // font-family: "";
      font-size: px2vw-xl(16px);
      letter-spacing: px2vw-xl(0.5px);
      line-height: px2vw-xl(24px);
      color: var(--white-high);

      @include xl {
        font-size: px2vw-xl(16px);
        letter-spacing: px2vw-xl(0.5px);
        line-height: px2vw-xl(24px);
      }

      @include lg {
        font-size: px2vw-lg(16px);
        letter-spacing: px2vw-lg(0.5px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(16px);
        letter-spacing: px2vw-md(0.5px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
        letter-spacing: px2vw-sm(0.5px);
        line-height: px2vw-sm(24px);
      }
    }
  }
}

/* End Slider */

/* loader spinner*/

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 4px;
  height: 13px;
  border-radius: 20%;
  background: var(--white);
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
