<!-- <app-header-paidia
  
  [title]="'Join Tournament'"
></app-header-paidia> -->




 <section class="SelectMembers-aside" >
    <div class="SelectMembers-aside-icon-block" >
      <img
        class="SelectMembers-aside-icon"
        src="assets/icons/matchmaking/members.svg"
        alt="icon"
      />
    </div>
  </section>
  
  <main class="SelectMembers-main">
    <h1 class="SelectMembers-title">
      {{ "MATCHMAKING.SELECT_MEMBERS.TITLE" | translate }}
    </h1>
  
    <div class="SelectMembers-players" >
      <div class="SearchPlayers">
        <!-- <p class="SearchPlayers-heading" *ngIf="heading">
          {{ heading | translate }}
        </p> -->
      
        <header class="SearchPlayers-header">
          <img
            class="SearchPlayers-header-icon"
            lazyLoad="assets/icons/search.svg"
            alt="icon"
          />
      
          <input
            class="SearchPlayers-header-field"
            type="text"
            [placeholder]="
              'MATCHMAKING.SELECT_MEMBERS.SEARCH_PLACEHOLDER' | translate
            "
            [(ngModel)]="text"
          />
        </header>
      
        <div class="SearchPlayers-list">
          <!-- <h3 class="SearchPlayers-list-title" *ngIf="listTitle">
            {{ listTitle | translate }}
          </h3> -->
      
          <ul class="SearchPlayers-items" *ngIf="players.length">
            <li
              class="SearchPlayers-item"
              *ngFor="let player of filteredPlayer(); let idx = index"
            >
              <div class="SearchPlayers-item-info">
                <div class="SearchPlayers-item-image" [lazyLoad]="player.image"></div>
                <p class="SearchPlayers-item-name">
                  {{ player.nickname }}
                </p>
              </div>
              <div
                class="SearchPlayers-item-toggle"
                [class.active]="player.isSelected"
                (click)="addPlayer(idx)"
              >
                <img
                  *ngIf="!player.isSelected"
                  class="SearchPlayers-item-toggle-icon icon plus"
                  src="assets/icons/plus.svg"
                  alt="icon"
                />
                <img
                  *ngIf="player.isSelected"
                  class="SearchPlayers-item-toggle-icon icon check"
                  src="assets/icons/check.svg"
                  alt="icon"
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <section class="SelectMembers-buttons">
      <button class="SelectMembers-button button-secondary" [routerLink]="AppHtmlRoutes.play">
        {{ "BUTTON.CANCEL" | translate }}
      </button>
  
      <button class="SelectMembers-button button-icon-secondary" [routerLink]="AppHtmlJoinTournamentRoutes.registration">
        <mat-icon> arrow_back </mat-icon>
        <span>
          {{ "BUTTON.BACK" | translate }}
        </span>
      </button>
  
      <button
        class="SelectMembers-button button-primary" (click)="confirm()"
        
      >
      <!-- [routerLink]="AppHtmlJoinTournamentRoutes.teamdetails" -->
        {{ "BUTTON.CONFIRM" | translate }}
      </button>
    </section>
  </main>

  
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>

  
