@import "shared";

section {
  background: var(--base-white);
}
.add-section {
  padding: 2em 10em;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.first-row {
  background: var(--create-article-first-row-bg-color) 0% 0% no-repeat
    padding-box;
}
hr {
  border-top: 1px solid var(--create-article-hr-border);
}
.upload-file {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--base-04) 0% 0% no-repeat padding-box;
  padding: 2em 0;
  text-align: center;
  span {
    color: var(--base-01);
    font-size: 1.5em;
  }
}
.selected-tags {
  border-radius: 28px;
  text-align: center;
  padding: 0.3em 1em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 400;
  background: transparent;
  border: 1px solid var(--dim-gray);
}

.ckeditor-container ckeditor {
  width: 100%;
  background: var(--base-01) 0% 0% no-repeat padding-box;
}
.btn-outline-primary {
  color: var(--darkgray);
  border-color: var(--base-03);
  width: 100%;
  text-align: start;
}
.btn-outline-primary:hover {
  border-color: var(--base-03);
  background-color: var(--base-yellow);
  color: var(--base-black);
}
.dropdown-menu.show {
  padding: 0.5rem;
  overflow: scroll;
  max-height: 150px;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--dim-gray);
  font-family: "source-sans-pro";
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: inherit;
}
.after-right-arrow::after {
  float: right;
  margin-top: 10px;
}
.d-inline-block {
  width: 100%;
}
.btn {
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  border-color: var(--base-03);
  background-color: var(--base-01);
  color: var(--base-white);
}
// custom modal style
.auth-logo {
  width: 4em;
}
.tags-img {
  width: 11%;
}
.sub-title,
.description-text {
  color: var(profile-select-tag-bg-color);
}
.description-text {
  color: var(profile-select-tag-bg-color);
  font-size: 1.1em;
  margin-left: 1em;
}
.selected-btn {
  color: var(--base-02);
  border: 2px solid var(--base-black);
  border-radius: 28px;
  text-align: center;
  padding: 0.5em 1.2em;
  margin-right: 1em;
  font-size: 0.8em;
}
.review-container hr {
  margin-left: 6em;
  margin-right: 3em;
}

.close {
  color: var(--darkgray);
  padding: 0.5em;
  font-size: 30px;
  font-weight: 100;
}
.modal-footer {
  border-top: none;
}
.modal-header {
  border-bottom: none;
}

.colorWhite {
  font-family: "source-sans-pro";
  margin-bottom: 4px;
  font-size: 14px;
  color: var(--base-02) !important;
}

// mobile responsive
@media (max-width: 1100px) {
  .add-section {
    padding: 2em 10em;
  }
}
@media (max-width: 992px) {
  .add-section {
    padding: 2em 2em;
  }
}

.dropdown-item {
  color: var(--base-black) !important;
}

.selected-tags span {
  color: var(--base-01) !important;
}
.articleBanner {
  max-width: 95%;
  width: auto;
  max-height: 425px;
}
.binIcon {
  float: right;
  color: var(--ui-error) !important;
  margin-left: 11px;
}
#gameDropDown span {
  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis;
  display: inline-flex;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: transparent;
  background: transparent;
}

@media (max-width: 1199px) {
  .articleBanner {
    max-width: 90%;
  }
}
.create-article-btn {
  & button {
    @extend %u-dfBtw;
    width: 100%;
  }
}

.language-dropdown {
  margin-bottom: 22px;
  width: 120px;
}
.language {
  padding-left: 0px !important;
}
