@import "shared";

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: var(--purple-heart);
  border-bottom: 1px solid var(--midnight-blue);
  background: var(--primary-purple);
}

.Header {
  padding: px2vw-xl(21px) 0;

  @include lg {
    padding: px2vw-lg(21px) 0;
  }

  @include md {
    padding: px2vw-md(21px) 0;
  }

  @include sm {
    padding: px2vw-sm(21px) 0;
  }

  &-logo-link {
    border-right: 1px solid var(--base-black);
    margin-right: px2vw-xl(40px);
    padding: px2vw-xl(20px) px2vw-xl(30px) px2vw-xl(20px) 0;

    @include lg {
      margin-right: px2vw-lg(40px);
      padding: px2vw-lg(10px) px2vw-lg(30px) px2vw-lg(10px) 0;
    }

    @include md {
      margin-right: px2vw-md(40px);
      padding: px2vw-md(10px) px2vw-md(30px) px2vw-md(10px) 0;
    }

    @include sm {
      margin-right: px2vw-sm(20px);
      padding: px2vw-sm(10px) px2vw-sm(20px) px2vw-sm(10px) 0;
    }
  }

  &-logo-image {
    width: px2vw-xl(158px);

    @include lg {
      width: px2vw-lg(130px);
    }

    @include md {
      width: px2vw-md(120px);
    }

    @include sm {
      width: px2vw-sm(120px);
    }
  }

  &-title {
    margin-right: auto;
    margin-left: auto;
    color: var(--base-white);
    font-size: 18px;
    line-height: 32px;

    @include lg {
      margin-right: px2vw-lg(30px);
    }

    @include md {
      margin-right: px2vw-md(30px);
    }

    @include sm {
      margin-right: px2vw-sm(30px);
    }
  }

  &-button {
    background-color: transparent;
    transition: 100ms linear;

    &:hover {
      opacity: 0.6;
    }
  }

  &-button-icon {
    @include lg {
      width: px2vw-lg(16px);
      height: px2vw-lg(16px);
    }

    @include md {
      width: px2vw-md(16px);
      height: px2vw-md(16px);
    }

    @include sm {
      width: px2vw-sm(16px);
      height: px2vw-sm(16px);
    }
  }

  .close-button {
  }
}
