<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
    <label for="">Stage</label>
    <app-carousel
      (emitValue)="selectedStage($event)"
      [list]="stage"
      [title]="'MANAGE_TOURNAMENT.MATCHES.STAGE'"
      [loading]="stageLoading"
      [value]="selectedStageIndex"
      [userDropdown]="true"
    >
    </app-carousel>
  </div>

  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
    <label for="">Group</label>
    <app-carousel
      (emitValue)="selectedGroup($event)"
      [list]="stage[currStage - 1]?.group"
      [title]="'MANAGE_TOURNAMENT.MATCHES.GROUP'"
      [loading]="groupLoading"
      [value]="selectedGroupIndex"
      [userDropdown]="true"
    >
    </app-carousel>
  </div>
</div>

<div class="row score-table table-battle-royale" *ngIf="isAllDataLoaded">
  <div class="col-xl-12 col-lg-12 col-sm-12">
    <mat-tab-group
      class="global-TabGroup"
      (selectedTabChange)="tabChange($event)"
      [selectedIndex]="currRound"
    >
      <mat-tab>
        <ng-template mat-tab-label>
          {{ "MANAGE_TOURNAMENT.MATCHES.STANDING" | translate }}
        </ng-template>
        <ng-container *ngTemplateOutlet="group_standing"></ng-container>
      </mat-tab>
      <mat-tab
        *ngFor="
          let r of (stage[currStage - 1]?.group)[currGroup - 1]?.round;
          let i = index
        "
        [id]="i"
      >
        <ng-template mat-tab-label>
          <div class="d-flex justify-content-center align-items-center">
            {{ "MANAGE_TOURNAMENT.MATCHES.ROUND" | translate }} {{ i + 1 }}
          </div>
        </ng-template>
        <ng-container
          [ngTemplateOutlet]="group_round"
          [ngTemplateOutletContext]="{ data: { round: r, i: i } }"
        ></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #group_round let-data="data">
  <div class="row">
    <div class="col-12">
      <div class="round-name">
        {{ "MANAGE_TOURNAMENT.MATCHES.ROUND" | translate }} {{ data?.i + 1 }}

        <fa-icon
          [icon]="[
            'fas',
            data?.round.matchStatus == 'completed'
              ? 'check-circle'
              : 'pencil-alt'
          ]"
          (click)="
            data?.round.matchStatus == 'completed'
              ? null
              : enableEdit(data?.round)
          "
          [ngClass]="{
            'round-edit': isEdit && currRound == data?.i + 1,
            'round-completed': data?.round.matchStatus == 'completed'
          }"
          [hidden]="!isAdmin || !isSeeded"
        ></fa-icon>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" (click)="fieldSorting('name', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.NAME'"
                [activeField]="'name' == activeAttributeSorting"
                [sortOrder]="rSorting?.name"
                [isFirstChild]="true"
              >
              </table-header-cell>
            </th>

            <th scope="col" *ngIf="isEdit">
              <table-header-cell [title]="'MANAGE_TOURNAMENT.MATCHES.IS_PLAY'">
              </table-header-cell>
            </th>

            <th scope="col" (click)="fieldSorting('placement', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.PLACEMENT'"
                [activeField]="'placement' == activeAttributeSorting"
                [sortOrder]="rSorting?.placement"
              >
              </table-header-cell>
            </th>
            <th scope="col" (click)="fieldSorting('noOfKill', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.NO_OF_KILL'"
                [activeField]="'noOfKill' == activeAttributeSorting"
                [sortOrder]="rSorting?.noOfKill"
              >
              </table-header-cell>
            </th>
            <th scope="col" (click)="fieldSorting('score', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.SCORE'"
                [activeField]="'score' == activeAttributeSorting"
                [sortOrder]="rSorting?.score"
              >
              </table-header-cell>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!isEdit">
          <tr
            *ngFor="
              let m of ((stage[currStage - 1]?.group)[currGroup - 1]?.round)[
                currRound - 1
              ]?.battleRoyalTeams;
              let i = index
            "
          >
            <th scope="row">
              <div class="Player">
                <img
                  class="playerDP"
                  [src]="
                    m.playerId?.logo || 'assets/images/Match/gamer-image.png'
                  "
                />
                <h6>
                  {{ m.playerId | teamName: tournament?.participantType }}
                </h6>
              </div>
            </th>
            <td *ngIf="isEdit">
              <!-- <app-table-slider-cell
                [notPlaying]="m?.notPlaying"
                [readOnly]="true"
              >
              </app-table-slider-cell> -->
            </td>
            <td class="roundData">{{ m.placement }}</td>
            <td class="roundData">{{ m.noOfKill }}</td>
            <td class="roundData">{{ m.score | number: "1.2-2" }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="isEdit">
          <tr *ngFor="let m of refMatch?.battleRoyalTeams; let i = index">
            <th scope="row">
              <div class="Player">
                <img
                  class="playerDP-BattleRoyale"
                  [src]="
                    m.playerId?.logo || 'assets/images/Match/gamer-image.png'
                  "
                />
                <div class="details-grid">
                  <h6 class="gamer-name">
                    {{ m.playerId | teamName: tournament?.participantType }}
                  </h6>
                  <h6 class="gamer-ID">
                    <span> Gamer ID : </span>{{ m.gamerId }}
                  </h6>
                </div>
              </div>
            </th>
            <td>
              <app-table-slider-cell
                [notPlaying]="m?.notPlaying"
                (emitValue)="receiveSliderValue($event, i)"
              >
              </app-table-slider-cell>
            </td>
            <td>
              <app-table-counter-cell
                [value]="m.placement"
                [min]="0"
                [max]="refMatch?.battleRoyalTeams?.length"
                [notPlaying]="m?.notPlaying"
                (counterChange)="counterResponse($event, 'placement', i)"
              >
              </app-table-counter-cell>
            </td>
            <td>
              <app-table-counter-cell
                (counterChange)="counterResponse($event, 'noOfKill', i)"
                [min]="0"
                [value]="m?.noOfKill"
                [notPlaying]="m?.notPlaying"
              ></app-table-counter-cell>
            </td>
            <td>{{ m.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 content-align-left button-row" *ngIf="isEdit">
      <ng-container *ngIf="!isProcessRequest">
        <button
          type="button"
          class="btn btn-primary tab-content"
          (click)="isEdit = false"
        >
          {{ "BUTTON.CANCEL" | translate }}
        </button>
        <button (click)="SubmitScore()" class="Comment-button button-primary">
          {{ "BUTTON.UPDATE_SCORE" | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="isProcessRequest">
        <button type="button" class="btn-primary spinner_pointer_event_none">
          <mat-spinner [diameter]="20"></mat-spinner>
        </button>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #group_standing>
  <div class="row">
    <div class="col-12">
      <table
        class="table table-striped standing"
        *ngIf="!isProcessing && standings?.length"
      >
        <thead>
          <tr>
            <th scope="col" (click)="standingSorting('name', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.NAME'"
                [activeField]="'name' == activeAttributeStandingSorting"
                [sortOrder]="sSorting?.name"
                [isFirstChild]="true"
              >
              </table-header-cell>
            </th>
            <th
              scope="col"
              *ngFor="let r of standings[0]?.round; let i = index"
              (click)="standingSorting('round' + i + 1, true, i)"
            >
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.ROUND'"
                [subTitle]="i + 1"
                [activeField]="
                  'round' + i + 1 == activeAttributeStandingSorting
                "
                [sortOrder]="sSorting['round' + i + 1]"
              >
              </table-header-cell>
            </th>
            <th scope="col" (click)="standingSorting('totalScore', true)">
              <table-header-cell
                [title]="'MANAGE_TOURNAMENT.MATCHES.TOTAL'"
                [activeField]="'totalScore' == activeAttributeStandingSorting"
                [sortOrder]="sSorting?.totalScore"
              >
              </table-header-cell>
            </th>
          </tr>
        </thead>
        <tbody class="standing">
          <tr *ngFor="let m of standings; let i = index">
            <th scope="row">
              <div class="Player">
                <img
                  class="playerDP"
                  [src]="
                    m.player?.logo || 'assets/images/Match/gamer-image.png'
                  "
                />
                <h6>
                  {{ m.player | teamName: tournament?.participantType }}
                </h6>
              </div>
            </th>
            <td class="roundData" *ngFor="let r of m?.round || []">
              {{ r | number: "1.2-2" }}
            </td>
            <td class="roundData">{{ m.totalScore | number: "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
      <esports-loading *ngIf="isProcessing"></esports-loading>
      <p *ngIf="!isProcessing && !standings.length">
        {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
      </p>
    </div>
  </div>
</ng-template>
