@import "shared";
@import "../../../../../../src/scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.title {
  font-family: stc-forward-medium, sans-serif;
  font-size: 1.2506513809vw;
  line-height: 1.6675351746vw;
  @include sm {
    font-size: 16px;
  }
}

.inputs {
  display: flex;
  align-items: baseline;
  @include sm {
    display: block;
  }
}
.EntranceFeeAmount {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container,
  &-switcher-container {
    max-width: px2vw-xl(994px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(994px);
    }

    @include md {
      max-width: px2vw-md(500px);
    }
  }
  ::ng-deep {
    .mat-form-field-infix {
      width: 130px;
      height: 57px;
    }
    .InputSelect-input .mat-select-placeholder,
    .InputSelect-input .mat-select-value-text {
      color: var(--white) 3d;
      font-family: "stc-forward-bold", sans-serif;
      font-size: 2.0844189682vw;
      line-height: 2.9181865555vw;
      letter-spacing: 0.25px;
    }
    .InputSelect-input .mat-form-field-infix {
      background-color: transparent;
    }
    .InputSelect-input {
      border-bottom: 2px solid var(--base-white);
      padding-bottom: px2vw-xl(30px);
      margin-right: px2vw-xl(10px);
      @include lg {
        padding-bottom: px2vw-lg(4px);
        margin-right: px2vw-lg(10px);
      }
      @include md {
        padding-bottom: px2vw-md(0px);
      }
      @include sm {
        padding-bottom: px2vw-sm(0px);
      }
    }
  }
  &-container {
    margin-top: px2vw-xl(160px);
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(160px);
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(160px);
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(60px);
      margin-bottom: px2vw-sm(50px);
      max-width: none;
    }
  }

  &-switcher-container {
    margin-top: auto;
  }
}
