.wap {
  padding: 0 0 0 56px;
  @media only screen and (max-width: 992px) {
    padding: 0;
  }
  .box-item {
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      ),
      #0b0824;
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 16px;
    @media only screen and (max-width: 992px) {
      width: 100%;
    }

    .content {
      .lastest-article {
        width: 100%;
        padding: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        .box-image {
          width: 100%;
          height: 170px;
          margin-bottom: 10px;
          position: relative;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .feature {
          width: 100%;
          height: auto;
          cursor: pointer;
          .icon {
            margin-right: 10px;
            display: inline;
          }
          .text {
            display: inline;
            font-family: "redhat-medium";
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #736cff;
          }
        }
        .detail {
          margin-top: 10px;
          .title {
            margin-bottom: 8px;
            font-family: "archivo";
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: rgba(255, 255, 255, 0.87);
          }
          .timeline {
            font-family: "redhat-regular";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }

      .suggested-guides {
        font-family: "redhat-regular";
        font-size: 14px;
        font-style: normal;
        color: rgba(255, 255, 255, 0.87);
        margin-bottom: 0;
        padding: 16px 16px 8px 16px;
      }
      .content-item {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        .icon {
          width: 40px;
          height: 40px;
          display: -webkit-inline-flex;
          display: inline-flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          background: #0b0824;
          border: 1px solid rgba(255, 255, 255, 0.12);
          box-sizing: border-box;
          border-radius: 4px;
        }
        .detail {
          width: 100%;
          max-width: calc(100% - 40px);
          padding-block-end: 5px;
          padding-left: 10px;
          .trending-url {
            margin-bottom: 5px;
            white-space: pre-wrap;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .timeline {
            font-family: "redhat-regular";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
            .user-name {
              @extend .timeline;
            }
            .user-name:hover {
              color: var(--color-secondary);
            }
          }
          .title {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            //letter-spacing: 0.15px;
            color: rgba(255, 255, 255, 0.87);
            margin-bottom: 8px;
            word-wrap: break-word;
            a {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: rgba(255, 255, 255, 0.6);
              margin-bottom: 0;
              font-family: "redhat-regular";
            }
          }
          p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 0;
            font-family: "redhat-regular";
            padding-right: 10px;
          }
          a {
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 0;
            font-family: "redhat-regular";
          }
        }
      }
    }
  }
  .box-latest-articles {
    .content {
      .content-item {
        .box-image {
          width: 100%;
          height: 170px;
          margin-bottom: 10px;
          position: relative;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        a.link-to.link-title {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #736cff;
          margin-bottom: 10px;
          .icon {
            margin-right: 10px;
          }
        }
        .title {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.15px;
          color: rgba(255, 255, 255, 0.87);
          margin-bottom: 8px;
        }
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.6);
          margin-bottom: 0;
        }
      }
      .content-item.item-suggested-guides {
        padding: 0;
        .heading {
          p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 0;
            font-family: "redhat-regular";
          }
        }
        .content-item-child {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-wrap: wrap;
          padding: 16px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.12);
          .detail {
            width: 100%;
            max-width: calc(100% - 40px);
            padding-left: 10px;
            .title {
              font-family: "archivo";
              font-size: 16px;
              line-height: 24px;
              letter-spacing: 0.15px;
              color: rgba(255, 255, 255, 0.87);
              margin-bottom: 8px;
              word-wrap: break-word;
            }
            p {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: rgba(255, 255, 255, 0.6);
              margin-bottom: 0;
              font-family: "redhat-regular";
            }
            a {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: rgba(255, 255, 255, 0.6);
              margin-bottom: 0;
              font-family: "redhat-regular";
            }
            h4 {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: rgba(255, 255, 255, 0.6);
              margin-bottom: 0;
              font-family: "redhat-regular";
            }
          }
        }
      }
    }
  }
}
