<div class="wap">
  <div *ngIf="trendingPosts.length != 0" class="box-item">
    <app-heading
      [title]="'SOCIAL_FEED.TITLE.TRENDING_POSTS' | translate"
      [iconSrc]="iconSrc.trendingPosts"
    ></app-heading>
    <div class="content" *ngFor="let trending of trendingPosts">
      <div class="content-item">
        <div class="icon">
          <img
            *ngIf="trending?.postType == postType.LINK; else iconMedia"
            [src]="iconSrc.link"
          />
          <ng-template #iconMedia>
            <img [src]="iconSrc.gallery" alt="" />
          </ng-template>
        </div>
        <div class="detail">
          <div
            *ngIf="trending?.postType == postType.LINK; else message"
            class="trending-url"
          >
            <a class="title" [href]="trending?.url">
              <span>{{ trending?.url }}</span></a
            >
          </div>
          <ng-template #message>
            <div class="trending-url">
              <a
                class="title"
                href="public-profile/{{ trending?.createdBy?._id }}"
              >
                <span>
                  {{ getTrendingMessage(trending?.message) | translate }}
                </span>
              </a>
            </div>
          </ng-template>
          <p class="timeline">
            {{ trending?.createdOn | amTimeAgo }} • By
            <a
              href="public-profile/{{ trending?.createdBy?._id }}"
              class="title user-name"
              >{{ trending?.createdBy?.username }}</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Latest articles -->
  <div *ngIf="articles.length != 0" class="box-item">
    <app-heading
      [title]="'SOCIAL_FEED.TITLE.LATEST_ARTICLES' | translate"
      [iconSrc]="iconSrc.latestArticles"
    ></app-heading>
    <div class="content">
      <div class="lastest-article">
        <div class="box-image">
          <img [src]="articles[0]?.image" loading="lazy" />
        </div>
        <div class="feature">
          <div class="icon">
            <img [src]="iconSrc.star" alt="" />
          </div>
          <h6 class="text">
            {{ "SOCIAL_FEED.TITLE.FEATURE" | uppercase | translate }}
          </h6>
        </div>
        <div class="detail">
          <h4 class="title">
            {{ articles[0]?.title?.english | translate }}
          </h4>
          <p class="timeline">
            {{ articles[0]?.createdDate | amTimeAgo }} • By
            <a class="user-name" href="content">
              {{ articles[0]?.authorDetails?.username }}
            </a>
          </p>
        </div>
      </div>

      <p class="suggested-guides">
        {{ "SOCIAL_FEED.TITLE.SUGGESTED_GUIDES" | translate }}
      </p>
      <div *ngFor="let article of articles; let i = index">
        <div *ngIf="i != 0" class="content-item">
          <div class="icon">
            <img [src]="iconSrc.guide" alt="" />
          </div>
          <div class="detail">
            <h4 class="title">
              {{ article?.title?.english | translate }}
            </h4>
            <p class="timeline">
              {{ article?.createdDate | amTimeAgo }} • By
              <a class="title user-name" href="content">
                {{ article?.authorDetails?.username }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
