<div class="Inbox" *ngIf="parentMessage">
  <div class="">{{ "PROFILE.INBOX.TITLE" | translate }}</div>

  <button (click)="goBack()" class="btn global-btn-black mb-2">
    {{ "PROFILE.INBOX.BACK" | translate }}
  </button>

  <div class="InboxMessage-date">
    {{ parentMessage?.createdAt | date: "MMM d y h:mm a" }}
  </div>

  <div class="InboxMessage-box">
    <app-inbox-message-item
      [messageData]="parentMessage"
    ></app-inbox-message-item>
    <app-inbox-message-item
      [type]="InboxMessageItemComponentType.preview"
      *ngFor="let replyMessage of replyMessages"
      [messageData]="replyMessage"
    >
    </app-inbox-message-item>
    <app-inbox-message-item
      [type]="InboxMessageItemComponentType.create"
      [messageSender]="loggedInUser"
      (replyMessageEvent)="saveReplyMessage($event)"
      [messageText]="replyMessage"
    >
    </app-inbox-message-item>
  </div>

  <!-- <div class="InboxMessage-footer">
    <button class="global-EditBtn" (click)="sendReply()">
      {{ "PROFILE.INBOX.REPLAY" | translate }}
    </button>
  </div> -->
</div>
