<section>
  <div class="container">
    <div *ngIf="!bannerSRC" class="row">
      <div class="upload-file">
        <input
          (change)="selectFile($event)"
          type="file"
          class="upload-file-input"
          id="imgupload"
          aria-describedby="inputGroupFileAddon01"
          style="display: none;"
          accept="image/jpeg, image/jpg, image/png"
        />
        <label for="imgupload" class="d-flex flex-column">
          <img src="assets/images/articles/img-upload.svg" alt="image" />
          <span class="cursor global-Text">
            + {{ "ARTICLE.ADD_IMG" | translate }}
          </span>
        </label>
      </div>
    </div>

    <div *ngIf="bannerSRC" class="row">
      <div class="upload-file">
        <img class="articleBanner" id="bannerImage" [src]="bannerSRC" />
        <div class="binIcon">
          <a (click)="removeBanner()">
            <fa-icon class="sponsorDeleteIcon" [icon]="faTrash"> </fa-icon>
          </a>
        </div>
      </div>
    </div>

    <!-- <ul
      ngbNav
      #articleMultiLang="ngbNav"
      [(activeId)]="active"
      class="nav-tabs"
    >
      <li ngbDropdown [ngbNavItem]="1">
        <a href (click)="(false)" class="nav-link" ngbDropdownToggle>
          {{ currLangauge | translate }}
        </a>
        <div ngbDropdownMenu>
          <button
             (click)="currLangauge = l?.key"
             ngbDropdownItem
             *ngFor="let l of language"
          >
            {{ l?.key | translate }}
          </button>
        </div>
        <ng-template ngbNavContent> </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink style="display: none;">{{
          "ARTICLE.MAIAY" | translate
        }}</a>
        <ng-template ngbNavContent> </ng-template>
      </li>
    </ul> -->

    <div class="add-section">
      <div class="row">
        <div class="col-12 language">
          <div ngbDropdown class="language-dropdown">
            <button class="form-control" ngbDropdownToggle>
              {{ currLanguage | translate }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button
                (click)="changeLocalLanguage(l)"
                ngbDropdownItem
                *ngFor="let l of language"
              >
                {{ l?.key | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="articleForm">
        <div class="row" [ngClass]="direction" formGroupName="title">
          <input
            *ngFor="let l of language"
            [hidden]="currLanguage !== l?.key"
            type="text"
            [formControlName]="l?.key"
            (keyup)="setUrl()"
            class="input-box"
            placeholder="{{ 'ARTICLE.ENTER_TITLE' | translate }}"
          />
          <div
            class="error"
            *ngIf="
              articleForm?.controls?.title?.touched &&
              articleForm?.controls?.title?.errors
            "
          >
            <strong>{{
              articleForm?.controls?.title?.errors | errorPipe | translate
            }}</strong>
          </div>
        </div>
        <div
          class="row mt-5"
          [ngClass]="direction"
          formGroupName="shortDescription"
        >
          <textarea
            *ngFor="let l of language"
            [hidden]="currLanguage !== l?.key"
            [formControlName]="l?.key"
            rows="8"
            cols="80"
            class="textarea-box"
            placeholder="{{ 'ARTICLE.ADD_SHORT_DESCRIPTION' | translate }}"
          ></textarea>
          <div
            class="error"
            *ngIf="
              articleForm?.controls?.shortDescription?.touched &&
              articleForm?.controls?.shortDescription?.errors
            "
          >
            <strong>{{
              articleForm?.controls?.shortDescription?.errors
                | errorPipe
                | translate
            }}</strong>
          </div>
        </div>

        <div
          formGroupName="content"
          class="row mt-5"
          *ngIf="isEditorLoaded"
          [ngClass]="direction"
        >

          <ng-container *ngFor="let l of language">
            <WYSIWYG-editor
              *ngIf="currLanguage == l?.key"
              [formControlName]="l?.key"
              [config]="editorConfig"
              [ngClass]="ediDirection"
            ></WYSIWYG-editor>
          </ng-container>

          <div
            class="error"
            *ngIf="
              articleForm?.controls?.content?.touched &&
              articleForm?.controls?.content?.errors
            "
          >
            <strong>{{
              articleForm?.controls?.content?.errors | errorPipe | translate
            }}</strong>
          </div>
        </div>

        <div class="mt-5 mb-5">&nbsp;</div>
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div ngbDropdown class="d-inline-block align">
              <label class="colorWhite"
                >{{ "ARTICLE.CATEGORY" | translate }}*</label
              >
              <button
                class="btn btn-outline-primary after-right-arrow"
                id="category"
                (click)="setFomControlTouched('category')"
                ngbDropdownToggle
              >
                {{
                  (articleForm?.controls?.category?.value
                    | nameById: "name":categoryList) ||
                    ("ARTICLE.CATEGORY" | translate)
                }}
              </button>
              <div ngbDropdownMenu aria-labelledby="category">
                <button
                  (click)="addItem('category', cat._id, false)"
                  ngbDropdownItem
                  *ngFor="let cat of categoryList"
                >
                  {{ cat.name }}
                </button>
              </div>
              <div
                class="error"
                *ngIf="
                  articleForm?.controls?.category?.touched &&
                  articleForm?.controls?.category?.errors
                "
              >
                <strong>{{
                  articleForm?.controls?.category?.errors
                    | errorPipe
                    | translate
                }}</strong>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div ngbDropdown class="d-inline-block rtldirection align">
              <label class="colorWhite"
                >{{ "ARTICLE.GAME" | translate }}*</label
              >
              <button
                class="btn btn-outline-primary after-right-arrow"
                id="games"
                (click)="setFomControlTouched('gameDetails')"
                ngbDropdownToggle
              >
                <span>
                  {{
                    (articleForm?.controls?.gameDetails?.value
                      | nameById: "name":gameList) ||
                      ("ARTICLE.GAME" | translate)
                  }}
                </span>
              </button>
              <div ngbDropdownMenu aria-labelledby="gameDropDown">
                <button
                  (click)="
                    addItem('gameDetails', game._id, false, game.platform);
                    setDropdownValue('game', game.name);
                    onChangePlatform(game._id, gameList)
                  "
                  ngbDropdownItem
                  *ngFor="let game of gameList"
                >
                  {{ game.name }}
                </button>
              </div>
              <div
                class="error"
                *ngIf="
                  articleForm?.controls?.game?.touched &&
                  articleForm?.controls?.game?.errors
                "
              >
                <strong>{{
                  articleForm?.controls?.game?.errors | errorPipe | translate
                }}</strong>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div ngbDropdown class="d-inline-block align">
              <label class="colorWhite">{{
                "ARTICLE.TIME_TO_READ" | translate
              }}</label>
              <button
                class="btn btn-outline-primary after-right-arrow"
                id="readingMinutes"
                ngbDropdownToggle
              >
                {{
                  articleForm.value.minRead
                    ? articleForm.value.minRead
                    : ("ARTICLE.TIME_TO_READ" | translate)
                }}
              </button>
              <div ngbDropdownMenu aria-labelledby="readingMinutes">
                <button (click)="setMinRead(2)" class="dropdown-item">
                  2 {{ "ARTICLE.MINUTES" | translate }}
                </button>
                <button (click)="setMinRead(3)" class="dropdown-item">
                  3 {{ "ARTICLE.MINUTES" | translate }}
                </button>
                <button (click)="setMinRead(4)" class="dropdown-item">
                  4 {{ "ARTICLE.MINUTES" | translate }}
                </button>
                <button (click)="setMinRead(5)" class="dropdown-item">
                  5 {{ "ARTICLE.MINUTES" | translate }}
                </button>
                <button (click)="setMinRead(6)" class="dropdown-item">
                  6 {{ "ARTICLE.MINUTES" | translate }}
                </button>
                <button (click)="setMinRead(7)" class="dropdown-item">
                  7 {{ "ARTICLE.MINUTES" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div ngbDropdown class="d-inline-block">
              <label class="colorWhite">{{ "ARTICLE.TAGS" | translate }}</label>
              <button
                class="btn btn-outline-primary after-right-arrow"
                id="tag"
                (click)="setFomControlTouched('tags')"
                ngbDropdownToggle
              >
                {{ "ARTICLE.ADD_TAGS" | translate }}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  (click)="addItem('tags', tag._id, true)"
                  ngbDropdownItem
                  *ngFor="let tag of tagsList"
                >
                  {{ tag.name }}
                </button>
              </div>
            </div>
            <div class="row mb-3 mt-3">
              <div
                class="selected-tags cursor d-flex flex-row justify-content-between"
                *ngFor="let tag of articleForm.value.tags"
              >
                <span>{{ tag | nameById: "name":tagsList }}</span>
                <span
                  (click)="removeItem('tags', tag)"
                  class="ml-3 create-article-tag"
                  >X</span
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div ngbDropdown class="d-inline-block">
              <label class="colorWhite"
                >{{ "ARTICLE.PLATFORM" | translate }}*</label
              >
              <button
                class="btn btn-outline-primary after-right-arrow"
                id="platform"
                (click)="setFomControlTouched('platform')"
                ngbDropdownToggle
              >
                {{ "ARTICLE.PLATFORM" | translate }}
              </button>
              <div ngbDropdownMenu aria-labelledby="platform">
                <button
                  id="platforms"
                  (click)="addItem('platform', platform._id, true)"
                  ngbDropdownItem
                  *ngFor="let platform of platformList"
                >
                  {{ platform?.name }}
                </button>
              </div>
              <div
                class="error"
                *ngIf="
                  articleForm?.controls?.platform?.touched &&
                  articleForm?.controls?.platform?.errors
                "
              >
                <strong>{{
                  articleForm?.controls?.platform?.errors
                    | errorPipe
                    | translate
                }}</strong>
              </div>
            </div>
            <div class="row mb-3 mt-3">
              <div
                class="selected-tags cursor d-flex flex-row justify-content-between"
                *ngFor="let platform of articleForm.value.platform"
              >
                <span>{{ platform | nameById: "name":platformList }}</span>
                <span
                  (click)="removeItem('platform', platform)"
                  class="ml-3 create-article-tag"
                  >X</span
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <div ngbDropdown class="d-inline-block">
              <label class="colorWhite">{{
                "ARTICLE.GENRE" | translate
              }}</label>
              <button
                class="btn btn-outline-primary after-right-arrow"
                id="genres"
                (click)="setFomControlTouched('genre')"
                ngbDropdownToggle
              >
                {{ "ARTICLE.GENRE" | translate }}
              </button>
              <div ngbDropdownMenu aria-labelledby="genre">
                <button
                  (click)="addItem('genre', genre._id, true)"
                  ngbDropdownItem
                  *ngFor="let genre of genreList"
                >
                  {{ genre?.name }}
                </button>
              </div>
            </div>
            <div class="row mb-3 mt-3">
              <div
                class="selected-tags cursor d-flex flex-row justify-content-between"
                *ngFor="let genre of articleForm.value.genre"
              >
                <span>{{ genre | nameById: "name":genreList }}</span>
                <span
                  (click)="removeItem('genre', genre)"
                  class="ml-3 create-article-tag"
                  >X</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="Article col-md-12 col-lg-12 col-xl-12 text-center">
            <button
              type="button"
              name="button"
              class="btn active-btn Article-approve"
              (click)="open(content)"
              [disabled]="articleForm?.invalid"
            >
              {{ "ARTICLE.SUBMIT_FOR_APPROVAL" | translate }}
            </button>
            <button
              [disabled]="articleForm?.invalid || disableDraftButton"
              type="button"
              (click)="saveArticle('draft')"
              name="button"
              class="btn active-btn Article-approve"
              onclick="this.blur();"
            >
              {{ "ARTICLE.SAVE_AS_DRAFT" | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<ng-template #content let-modal class="temp">
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="pl-5 review-container">
      <div class="d-flex flex-row">
        <div class="" *ngIf="!userImageSrc">
          <img
            src="../../../../assets/images/Profile/stc_avatar.png"
            alt="author logo"
            class="auth-logo"
          />
        </div>
        <div class="" *ngIf="userImageSrc">
          <img [src]="userImageSrc" alt="author logo" class="auth-logo" />
        </div>
        <div class="d-flex flex-column ml-4" *ngIf="!display_user">
          <h5>{{ user?.fullName | limitString: 17:"..." }}</h5>
          <span class="sub-title">{{ getDate() | date }}</span>
        </div>
        <div class="d-flex flex-column ml-4" *ngIf="display_user">
          <h5>{{ display_user | limitString: 17:"..." }}</h5>
          <span class="sub-title">{{ getDate() | date }}</span>
        </div>
      </div>
      <div class="row mt-5 ml-5 pl-4 mr-5">
        <span class="description-text">
          {{ "ARTICLE.TELL_YOUR" | translate }}
        </span>
      </div>
      <div class="row mt-5 ml-5 pl-5 mr-5">
        <span>{{ "ARTICLE.TAGS" | translate }}</span>
      </div>
      <div class="d-flex flex-row mt-2 ml-5 pl-5 mr-5">
        <div *ngFor="let tag of articleForm.value.tags" class="selected-btn">
          <span>{{ tag | nameById: "name":tagsList }}</span>
        </div>
      </div>
      <hr />
      <div class="row mt-2 ml-5 pl-5 mr-5">
        <span>{{ "ARTICLE.CATEGORY" | translate }}</span>
      </div>
      <div class="d-flex flex-row mt-1 ml-5 pl-5 mr-5">
        <div *ngIf="articleForm.value.category" class="selected-btn">
          <span>{{
            articleForm.value.category | nameById: "name":categoryList
          }}</span>
        </div>
      </div>
      <hr />
      <div class="row mt-2 ml-5 pl-5 mr-5">
        <span>{{ "ARTICLE.GAME" | translate }}</span>
      </div>
      <div class="d-flex flex-row mt-2 ml-5 pl-5 mr-5">
        <div *ngIf="articleForm.value.gameDetails" class="selected-btn">
          <span>{{
            articleForm.value.gameDetails | nameById: "name":gameList
          }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      name="button"
      class="btn active-btn"
      data-toggle="modal"
      data-target="#reviewModal"
      data-dismiss="modal"
      (click)="saveArticle('submitted_for_approval', modal)"
    >
      {{ "ARTICLE.SUBMIT_FOR_APPROVAL" | translate }}
    </button>
  </div>
</ng-template>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
