@import "../../../../scss/old-main";
$header-slider-bg: linear-gradient(
  173.14deg,
  var(--color-sherpa-blue) 6.41%,
  var(--color-sherpa-blue) 82.61%
);
$img-personal-bg: linear-gradient(
  168.39deg,
  var(--color-secondary) 9.25%,
  var(--color-dolphin) 91.48%
);
$box-text-bg: linear-gradient(
  180deg,
  var(--color-background) 0%,
  var(--color-background) 100%
);
/* external css: flickity.css */
@import "shared";

$light-red: #db4437;
$darkens-gray: hsla(0, 0%, 100%, 0.12);
$queen-cl: #bbf55a;
$lighten-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$header-lgc: linear-gradient(
  173.14deg,
  #054b52 6.41%,
  rgba(5, 75, 82, 0) 82.61%
);
$header-lgab: linear-gradient(
  168.39deg,
  #736cff 9.25%,
  rgba(115, 108, 255, 0) 91.48%
);
$backlb: rgba(0, 0, 0, 0.7);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'redhat-medium';
}
h2.title {
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  margin-bottom: 8px;
  color: var(--white);
}
p {
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 16px;
}
.btn-slider {
  padding: 10px 15px;
  width: max-content;
  height: auto;
  font-family: "Archivo";
  font-style: normal;
  font-weight: bold;
  color: black;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: var(--color-primary);
  box-shadow: 0px 4px 4px var(--black-disabled);
}
.header-slider-responsive {
  .header-slider-respon {
    display: flex;
    align-items: center;
    padding: 37px 20px;
    justify-content: space-between;
    background: $header-lgc;
    padding-bottom: 7px;
    .left {
      align-items: center;
      display: flex;
      // @media only screen and (max-width: 375px) {
      //   flex-direction: column;
      //   text-align: center;
      // }
      .img-person {
        width: 22.464vw;
        // height: 22.464vw;
        .img-personal {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background: $header-lgab;
          border-radius: 100px;
          padding: 7px;
        }
        .text {
          display: flex;
          justify-content: center;
          font-size: 12px;
          align-items: center;
          background: $backlb;
          width: max-content;
          margin: 0 auto;
          margin-top: -31px;
          img {
            width: 11px;
            height: 11px;
          }
          p {
            margin: 0 10px;
          }
          span {
            width: 11px;
            height: 11px;
            background-color: $queen-cl;
            border-radius: 100px;
          }
        }
      }
      .text-respon-slider {
        h4 {
          text-transform: uppercase;
          // width: 12em;          
          font-size: 16px;
          font-family: "archivo";
          // @media only screen and (max-width: 375px) {
          //   width: 100%;
          // }

          @include sm {
            margin-left: px2vw-sm(30px); 
          }
        }

      @include sm {
        .Header-button{
          margin-left: px2vw-sm(30px); 
        }

    }

      }
    }
  }
  @include sm {
  .img-dow {
    text-align: center;
    margin-bottom: px2vw-sm(30px); 
  }
}
}
.slider-compoent__responsive {
  display: none;
}
.button-primary:hover {
  background-color: var(--color-secondary) !important;
}
a.btn {
  display: flex;
  width: 104px;
  height: 36px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $queen-cl;
  box-shadow: $lighten-shadow;
  font-family: "Archivo", sans-serif !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black);
}

.box-text {
  .text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  width: 372px;
  // position: absolute;
  // top: 30%;
  text-align: left;
  // @media only screen and (max-width: 1523px) {
  //   width: 50%;
  // }
  // @media only screen and (max-width: 1523px) {
  //   width: 50%;
  // }

  @include sm {
    .box-text h4 {
      text-align: center;
    }
    .box-text h1 {
      text-align: center;
      font-size: px2vw-sm(25px);
    }
  }
  h1 {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 36px;
    /* or 106% */
    text-transform: uppercase;
    /* On Surface/High Emphasis */
    color: var(--white-high);
  }
  p {
    height: 48px;
    color: var(--white);
    font-family: "redhat-regular";
    color: rgba(255, 255, 255, 0.87);
    line-height: 24px;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    line-height: 24px;
    @include sm{
      height: auto;
    }
  }
  a {
    font-size: 14px;
  }
  button {
    padding: 10px 15px;
    width: max-content;
    height: auto;
    font-family: "Archivo";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px var(--black-disabled);
  }
}

.picsum-img-wrapper {
  img {
    width: 100%;
    object-fit: cover;
    height: 31em;
    @include sm {
      height: px2vw-sm(195px);
      margin-left: px2vw-sm(10px);
    }
  }
}
.header-slider-responsive {
  display: none;
  @include sm {
    display: block;
    .picsum-img-wrapper {
      height: px2vw-sm(200px);
    }
  }
}
.carousel-caption {
  top: 16%;
  left: 18%;
}
.carousel-control-prev-icon {
  width: 66px !important;
  height: 66px !important;
  background-color: var(--black);
  opacity: 0.7 !important;
  border-radius: 100% 0 0 100% !important;
}
.item-post-5 {
  display: none;
}

.slider-compoent {
  ::ng-deep .carousel-indicators {
    @include sm {
      display: inline-flex;
      align-items: center;
      top: px2vw-sm(141px);
      justify-content: center;
      z-index: 1;
    }
  }
  ::ng-deep .carousel-control-next {
    @include sm {
      // position: relative;
      // left: 37.5em;
      // top: -10.3em;
      top: px2vw-sm(270px);
      margin-right: px2vw-sm(8px);
      background-color: unset;
      display: block !important;
      z-index: 1;
    }
  }
  ::ng-deep .carousel-control-prev {
    @include sm {
      // position: relative;
      // left: 35em;
      // top: -5em;
      display: block !important;
      top: px2vw-sm(270px);
      margin-left: px2vw-sm(8px);
      background-color: unset;
      z-index: 1;
    }
  }
}

@include sm {
  .slider-compoent {
    display: none;
  }
  .carousel-caption {
    top: px2vw-sm(-210px);
    left: 0%;
    text-align: center;

  }
  // *************************************************
  .slider-compoent__responsive {
    display: block;

    .box-text {
      text-align: center;
      &:after {
        content: "";
        background: $box-text-bg;
      }
      h4 {
        font-size: px2vw-sm(16px);
        text-transform: uppercase;
        margin-bottom: px2vw-sm(16px);
      }
      p {
        height: px2vw-sm(0px);
        font-size: px2vw-sm(12px);
      }
      h1 {
        font-size: px2vw-sm(19px);
        line-height: px2vw-sm(20px);
      }
    }
    @include sm {
    img{
      margin-left: px2vw-sm(0px);
          height: px2vw-sm(245px);
        }
      }
  }
  .div-btn-alre {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-alre {
      background-color: var(--color-secondary);
      color: var(--white);
      padding: px2vw-sm(3px);
      font-size: px2vw-sm(12px);
      margin-right: px2vw-sm(10px);
      border-radius: px2vw-sm(3px);
      letter-spacing: px2vw-sm(1.1px);
    }

    .btn-secon {
      display: flex;
      align-items: center;
      background: $darkens-gray;
      border: 1px solid var(--white-smoke);
      box-sizing: border-box;
      border-radius: px2vw-sm(2px);
      padding-right: px2vw-sm(4px);
      .padia-point {
        color: #bbf55a;
      }
      p {
        margin: 0;
        width: auto;
      }
      p:nth-child(1) {
        background-color: $light-red;
        padding: px2vw-sm(0px) px2vw-sm(5px) px2vw-sm(0px) px2vw-sm(3px);
        font-weight: bold;
        font-style: italic;
        margin: px2vw-sm(3px);
        border-radius: px2vw-sm(3px);
        font-size: px2vw-sm(14px);
      }
      @include sm {
        p {
          height: auto;
        }
      } 
    }
  }
  .carousel-caption {
    position: relative;
  }
}
::ng-deep .carousel-control-prev-icon {
  background-image: url("../../../../assets/icons/arrows/arrow-prev.svg");
}
::ng-deep .carousel-control-next-icon {
  background-image: url("../../../../assets/icons/arrows/arrow-next.svg");
}

@include sm {
  button {
    padding: px2vw-sm(10px) px2vw-sm(15px);
  }
}
ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
  position: absolute;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}

.carousel-indicators {
  z-index: 20;
}

