<div class="header-slider-responsive">
  <div class="header-slider-respon">
    <div class="left">
      <div class="img-person">
        <img class="img-personal" src="../../../../assets/images/Profile/follow-img.png" />
      </div>
      <div class="text-respon-slider">
        <h4>{{ "SOCIAL_FEED.LABELS.UNLOCK" | translate }}</h4>
        <button class="Header-button button-primary register">
      <span>{{ "SLIDER.JOIN-NOW" | translate }}</span>
    </button>
      </div>
    </div>
    
  </div>

  <div class="img-dow">
    <img src="../../../../assets/images/Profile/down.png" />
  </div>
</div>

<div class="slider-compoent">
  <ngb-carousel *ngIf="dataSlider" (slide)="onSilde($event)">
    <ng-template ngbSlide *ngFor="let item of dataSlider">
      <div class="picsum-img-wrapper">
        <img [src]="item.bannerFileUrl" />
        <div class="overlay"></div>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="carousel-caption">
    <div class="box-text">
      <h1 class="text-limit">{{ slideItem?.title?.english | translate}}</h1>
      <p class="text-limit">
        {{ slideItem?.sub_title?.english | translate }}
      </p>
      <a [href]="slideItem?.destination" (click)="pushViewBannerTag(slideItem)" class="btn-slider Header-button button-primary register">
        {{ slideItem?.button_text?.english | translate }}
      </a>
    </div>
  </div>
</div>

<!-- Slider Responsive -->
<div class="slider-compoent slider-compoent__responsive">
  <ngb-carousel *ngIf="dataSlider">
    <ng-template ngbSlide *ngFor="let item of dataSlider">
      <div class="picsum-img-wrapper">
        <img [src]="item.bannerFileUrl" />
      </div>
      <div class="carousel-caption">
        <div class="box-text">
          <h4 class="text-limit">{{ item?.title?.english }}</h4>
          <p class="text-limit">{{ item.time }}</p>
          <h1>{{ item?.sub_title?.english }}</h1>
          <div class="div-btn-alre">
            <button class="btn-alre">
              {{ "SOCIAL_FEED.LABELS.ALREADY_REGISTERED" | translate }}
            </button>
            <div class="btn-secon">
              <p>P</p>
              <p>
                {{ " " }} {{ "SOCIAL_FEED.LABELS.EARN" | translate }}
                <span class="padia-point">30</span>
                {{ "SOCIAL_FEED.LABELS.PAIDIA_POINTS" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
