@import "shared";

$--footer-matrix: matrix(-1, 0, 0, 1, 0, 0);
$--footer-bg: radial-gradient(
  13.79% 100% at 0% 0%,
  rgba(115, 108, 255, 0.1) 0%,
  rgba(115, 108, 255, 0) 100%
);

:host {
  position: relative;
  display: block;
  z-index: 100;
  max-width: 1308px;
  padding: 0 24px;
  margin: 0 auto;
}

.Footer {
  padding: px2vw-xl(32px) 0;
  //   background: $--footer-bg;
  transform: $--footer-matrix;

  @include lg {
    padding: px2vw-lg(32px) 0;
  }

  @include md {
    padding: px2vw-md(32px) 0;
  }

  @include sm {
    background: transparent;
    padding: px2vw-sm(24px) 0;
  }

  &-container {
    @extend %u-dfCenter;
    transform: $--footer-matrix;

    @include sm {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-logo {
    margin-right: 18px;
    // height: px2vw-xl(28px);
    // width: px2vw-xl(143px);
    width: 112px;
    margin-top: 4px;

    @include lg {
      margin-right: 20px;
      height: px2vw-lg(28px);
      width: px2vw-lg(143px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      height: 47px;
      width: 114px;
    }

    @include sm {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  &-info {
    margin-right: px2vw-xl(10px);

    @include lg {
      margin-right: px2vw-lg(10px);
    }

    @include md {
      margin-right: px2vw-md(20px);
    }

    @include sm {
      margin-right: 0;
    }
  }

  &-info-title {
    @extend %body-2;
    margin-bottom: 4px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 20px;
    color: var(--color-white-medium);
    margin-top: -1px;

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      font-size: 13.7px;
      line-height: 20px;
    }
  }

  &-info-links-block {
    @extend %u-dfCenter;

    @include sm {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-info-links {
    @extend %u-dfCenter;

    &.left {
      margin-right: px2vw-xl(10px);
      border-right: px2vw-xl(1.5px) solid var(--white-medium);
      padding-right: px2vw-xl(10px);

      @include lg {
        margin-right: px2vw-lg(10px);
        border-right-width: px2vw-lg(1.5px);
        padding-right: px2vw-lg(10px);
      }

      @include md {
        margin-right: px2vw-md(10px);
        border-right-width: px2vw-md(1.5px);
        padding-right: px2vw-md(10px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
        border-right: 0;
        padding-right: px2vw-sm(10px);
      }

      .link {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 14px;
        color: #c691ff;
        text-transform: capitalize;
        // margin-bottom: 10px;

        @include sm {
          font-size: 13px;
        }
      }

      .text-divider {
        background-color: #c691ff;
      }
    }

    &.right {
      .link {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: var(--tertiary-color);
        text-transform: capitalize;

        @include sm {
          font-size: 14px;
        }
      }
      .text-divider {
        background-color: var(--tertiary-color);
      }
    }
  }

  &-info-link {
    @extend %overline;
    line-height: 1;
    transition: $global-transition;

    &:hover {
      opacity: 0.8;
    }
  }

  &-social {
    @extend %u-dfCenter;
    margin-left: 246px;

    @include md {
      display: block;
    }

    @include sm {
      display: flex;
      margin-top: px2vw-sm(24px);
      margin-left: unset;
    }
  }

  &-social-title {
    @extend %body-2;
    // font-family: 'redhat-regular', sans-serif;
    margin-right: 34px;
    margin-bottom: 0;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--white-medium);
    margin-top: 3px;

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(10px);
      text-align: center;
    }

    @include sm {
      margin-bottom: 0;
      margin-right: px2vw-sm(24px);
      margin-left: 0;
      text-align: left;
      display: none;
    }
  }

  &-social-links {
    @extend %u-dfCenter;
  }

  &-social-link {
    margin-left: 19px;
    transition: $global-transition;

    @include lg {
      margin-left: 19px;
    }

    @include md {
      margin-left: px2vw-md(4px);
    }

    @include sm {
      margin-left: px2vw-sm(4px);
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &-social-link-icon {
    width: 15px;
    height: 15px;

    @include lg {
      width: 15px;
      height: 15px;
    }
  }
}
