@import "shared";

:host {
  display: block;
}

.GameAccounts {
  bottom: 50px;
  &-select {
    margin-bottom: px2vw-xl(52px);

    @include lg {
      margin-bottom: px2vw-lg(52px);
    }

    @include md {
      margin-bottom: px2vw-md(52px);
    }

    @include sm {
      margin-bottom: px2vw-sm(52px);
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  &-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom:27px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
  }

  &-add {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }

    ::ng-deep .mat-form-field .mat-form-field-wrapper {
      padding: 0 !important;
    }
  }

  &-right-button {
    color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary);
      color: var(--white-high);
    }
  }

  &-add-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    margin-bottom:27px;
    color: var(--color-white-medium);
  }

  &-add-message {
    @extend %body-1;
    margin-top: px2vw-xl(8px);
    margin-bottom: 0;
    color: var(--white);
    width: 90%;

    @include lg {
      margin-top: px2vw-lg(8px);
      width: auto;
    }

    @include md {
      margin-top: px2vw-md(8px);
    }

    @include sm {
      margin-top: px2vw-sm(8px);
    }
  }

  &-add-button {
    margin-top: px2vw-xl(16px);

    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }

  &-list {
    margin-bottom: 0;

    app-account-item {
      margin-bottom: px2vw-xl(28px);

      @include lg {
        margin-bottom: px2vw-lg(28px);
      }

      @include md {
        margin-bottom: px2vw-md(28px);
      }

      @include sm {
        margin-bottom: px2vw-sm(28px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.GameAccounts-title {
  font-family: "redhat-medium", sans-serif;
  font-size: 15px;
  line-height: 1.4888888889vw;
  letter-spacing: 0;
  color: var(--white-high);
}

.AccountItem {

  .mat-input-element {
    padding:0 10px;
  }

  &-title {
    @extend %subtitle-2;
    margin-bottom: px2vw-xl(6px);
    font-size: 16px;

    @include lg {
      margin-bottom: px2vw-lg(6px);
    }

    @include md {
      margin-bottom: px2vw-md(6px);
    }

    @include sm {
      margin-bottom: px2vw-sm(6px);
      font-size: 12px;
    }
  }

  &-content {
    @extend %u-dfCenter;
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(8px);
    border-radius: px2vw-xl(4px);
    height: px2vw-xl(58px);
    width: px2vw-xl(58px);
    background:var(--midnight-express-color);

    @include xl {
      height: px2vw-xl(78px);
      width: px2vw-xl(78px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      height: px2vw-lg(64px);
      width: px2vw-lg(64px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      height: px2vw-md(72px);
      width: px2vw-md(72px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      height: px2vw-sm(82px);
      width: px2vw-sm(82px);
    }
  }

  &-icon {
    height: px2vw-xl(48px);
    width: px2vw-xl(48px);

    @include xl {
      height: px2vw-xl(52px);
      width: px2vw-xl(52px);
    }
    @include lg {
      height: px2vw-lg(48px);
      width: px2vw-lg(48px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      height: px2vw-sm(52px);
      width: px2vw-sm(52px);
    }

    &.social {
      max-height: px2vw-xl(22px);
      max-width: px2vw-xl(22px);

      @include lg {
        max-height: px2vw-lg(22px);
        max-width: px2vw-lg(22px);
      }

      @include md {
        max-height: px2vw-md(22px);
        max-width: px2vw-md(22px);
      }

      @include sm {
        max-height: px2vw-sm(22px);
        max-width: px2vw-sm(22px);
      }
    }
  }

  &-field {
    ::ng-deep {
      .mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
          margin-bottom: 0;
        }
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-flex > .mat-form-field-infix {
        padding: 1.2em 0 1.2em 0;
      }

      .mat-button-wrapper .mat-icon{
        color: var(--main-color);
      }
    }
  }
}

.Accounts {
  &-manage {
    @extend %u-dfCenter;
    margin-top: px2vw-xl(52px);
    // float: right;
    @include lg {
      margin-top: px2vw-lg(52px);
    }

    @include md {
      margin-top: px2vw-md(52px);
    }

    @include sm {
      margin-top: px2vw-sm(52px);
    }
  }

  &-manage-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      width:100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
