@import "shared";

:host {
  display: block;
}

.FeaturedContent {
  margin-bottom: 100px;

  @include xl {
    margin-bottom: px2vw-xl(100px);
  }

  @include lg {
    margin-bottom: px2vw-lg(60px);
  }

  @include md {
    margin-bottom: px2vw-md(60px);
  }

  @include sm {
    margin-bottom: px2vw-sm(50px);
  }

  &-header {
    @extend %u-dfCenter;
    margin-bottom: 32px;

    @include xl {
      margin-bottom: px2vw-xl(32px);
    }

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-header-title {
    @extend %global-H4;
    margin-right: 24px;
    margin-bottom: 0;
    font-size: 30px;

    @include xl {
      margin-right: px2vw-xl(24px);
    }

    @include lg {
      margin-right: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
    }
  }

  &-floor {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  &-floor.primary {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    @include md {
      margin-bottom: px2vw-md(24px);
      grid-template-columns: minmax(0, 1fr);
      grid-row-gap: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      grid-row-gap: px2vw-sm(30px);
    }

    .card {
      @include shadow();
      height: 384px;
      padding: 25px;
      background-color: var(--black);

      @include xl {
        height: px2vw-xl(384px);
        padding: px2vw-xl(25px);
      }

      @include lg {
        height: px2vw-lg(350px);
        padding: px2vw-lg(25px);
      }

      @include md {
        height: px2vw-md(320px);
        padding: px2vw-md(25px);
      }

      @include sm {
        height: px2vw-sm(250px);
        padding: px2vw-sm(25px);
      }
    }

    .card-about {
      z-index: 1;
      max-width: 450px;

      @include xl {
        max-width: px2vw-xl(450px);
      }

      @include lg {
        max-width: px2vw-lg(450px);
      }

      @include md {
        max-width: none;
      }
    }

    .card-title {
      margin-bottom: 18px;

      @include xl {
        margin-bottom: px2vw-xl(18px);
      }

      @include lg {
        margin-bottom: px2vw-lg(18px);
      }

      @include md {
        margin-bottom: px2vw-md(18px);
      }

      @include sm {
        margin-bottom: px2vw-sm(18px);
      }
    }
  }

  &-floor.secondary {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include md {
      grid-template-columns: minmax(0, 1fr);
      grid-row-gap: px2vw-md(30px);
    }

    @include sm {
      grid-row-gap: px2vw-sm(30px);
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(16px);
    }

    .card-title {
      margin-bottom: 3px;
      font-size: 16px;

      @include xl {
        margin-bottom: px2vw-xl(3px);
        font-size: px2vw-xl(16px);
      }

      @include lg {
        margin-bottom: px2vw-lg(3px);
        font-size: px2vw-lg(16px);
      }

      @include md {
        margin-bottom: px2vw-md(3px);
        font-size: px2vw-md(16px);
      }

      @include sm {
        margin-bottom: px2vw-sm(3px);
        font-size: px2vw-sm(16px);
      }
    }
  }

  &-card {
    background-size: cover;
    border: none;
    transition: $global-transition;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &-card-image {
    margin-bottom: 15.5px;
    height: 254px;
    width: 100%;
    background-size: cover;
    background-color: var(--black);

    @include xl {
      margin-bottom: px2vw-xl(15.5px);
      height: px2vw-xl(254px);
    }

    @include lg {
      margin-bottom: px2vw-lg(15.5px);
      height: px2vw-lg(230px);
    }

    @include md {
      margin-bottom: px2vw-md(15.5px);
      height: px2vw-md(320px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
      height: px2vw-sm(250px);
    }
  }

  &-card-details {
    @extend %u-dfCenter;
    padding-right: 25px;

    @include xl {
      padding-right: px2vw-xl(25px);
    }

    @include lg {
      padding-right: px2vw-lg(25px);
    }

    @include md {
      padding-right: px2vw-md(25px);
    }

    @include sm {
      padding-right: px2vw-sm(25px);
    }
  }

  &-card-icon {
    margin-right: 16px;
    height: 48px;
    width: 48px;

    @include xl {
      margin-right: px2vw-xl(16px);
      height: px2vw-xl(48px);
      width: px2vw-xl(48px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(48px);
      width: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(48px);
      width: px2vw-md(48px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(48px);
      width: px2vw-sm(48px);
      // margin-right: px2vw-sm(-95px);
     

    }
  }

  &-card-title {
    @extend %global-H6;
  }

  &-card-text {
    @extend %subtitle-2;
    margin-bottom: 0;
    color: var(--white-medium);
  }
}
::ng-deep .FeaturedContent-floor.primary .card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  background: linear-gradient(
180deg, rgba(11, 8, 36, 0) 0%, rgb(11 8 36 / 10%) 53.12%, #0b08244f 100%);
opacity: 0.5;
}
@include sm{
.FeaturedContent-card-icon
{
  margin-top:px2vw-sm(-135px);
  margin-right: px2vw-sm(-49px);
  height:px2vw-sm(100px);
}
.FeaturedContent-card-image{
  height:px2vw-sm(125px);
}
.FeaturedContent-header{
  flex-direction: column;
  align-items: baseline;
  margin-bottom:  px2vw-sm(10px);
}
}
@include sm{
  .FeaturedContent-header-title
{
  margin-bottom: px2vw-sm(8px);
}
}

