@import "shared";

.VideoView {
  padding-bottom: px2vw-xl(96px);

  @include lg {
    padding-bottom: px2vw-lg(96px);
  }

  @include md {
    padding-bottom: px2vw-md(96px);
  }

  @include sm {
    padding-bottom: px2vw-sm(96px);
  }

  &-back {
    margin-left: px2vw-xl(120px);
    font-family: "source-sans-pro";
    color: var(--color-primary);

    @include lg {
      margin-left: px2vw-lg(120px);
    }

    @include md {
      margin-left: px2vw-md(120px);
    }

    @include sm {
      margin-left: px2vw-sm(70px);
    }
  }

  &-info {
    display: flex;
    justify-content: flex-start;
    @extend %u-dfStartBtw;
    margin-top: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(50px);
    }

    &-title {
      margin-bottom: px2vw-xl(16px);
      font-weight: 600;
      font-family: Avenir Next;
      font-style: normal;
      width: px2vw-xl(792px);
      font-size: px2vw-xl(50px);
      line-height: px2vw-xl(58px);
      letter-spacing: -0.5px;
      color: var(--full-white);

      @include lg {
        margin-bottom: px2vw-lg(16px);
        width: px2vw-lg(792px);
        font-size: px2vw-lg(50px);
        line-height: px2vw-lg(58px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
        width: px2vw-md(792px);
        font-size: px2vw-md(50px);
        line-height: px2vw-md(58px);
      }

      @include sm {
        margin-bottom: px2vw-sm(16px);
        width: px2vw-sm(792px);
        font-size: px2vw-sm(50px);
        line-height: px2vw-sm(58px);
      }
    }

    &-details{
      display: flex;
      margin-bottom: px2vw-xl(20px);

      @include lg {
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }

      .VideoView-info-ava {
        margin-right: px2vw-xl(20px);
        width: px2vw-xl(40px);
        height: px2vw-xl(40px);

        @include lg {
          margin-right: px2vw-lg(20px);
          width: px2vw-lg(40px);
          height: px2vw-lg(40px);
        }

        @include md {
          margin-right: px2vw-md(20px);
          width: px2vw-md(40px);
          height: px2vw-md(40px);
        }

        @include sm {
          margin-right: px2vw-sm(20px);
          width: px2vw-sm(50px);
          height: px2vw-sm(50px);
        }

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text{
        position: static;
        width: px2vw-xl(361px);
        height: px2vw-xl(32px);
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(24px);
        line-height: px2vw-xl(32px);
        letter-spacing: -0.5px;
        color: var(--tolopea-color);
        flex: none;
        order: 1;
        flex-grow: 0;

        @include lg {
          width: px2vw-lg(361px);
          height: px2vw-lg(32px);
          font-size: px2vw-lg(24px);
          line-height: px2vw-lg(32px);
        }

        @include md {
          width: px2vw-md(361px);
          height: px2vw-md(32px);
          font-size: px2vw-md(24px);
          line-height: px2vw-md(32px);
        }

        @include sm {
          width: px2vw-sm(361px);
          height: px2vw-sm(32px);
          font-size: px2vw-sm(24px);
          line-height: px2vw-sm(32px);
        }
      }
    }



    // &-text {
    //   margin-bottom: px2vw-xl(15px);
    //   font-family: "source-sans-pro";
    //   font-size: px2vw-xl(18px);
    //   line-height: px2vw-xl(32px);

    //   @include lg {
    //     margin-bottom: px2vw-lg(15px);
    //     font-size: px2vw-lg(18px);
    //     line-height: px2vw-lg(32px);
    //   }

    //   @include md {
    //     margin-bottom: px2vw-md(15px);
    //     font-size: px2vw-md(18px);
    //     line-height: px2vw-md(32px);
    //   }

    //   @include sm {
    //     margin-bottom: px2vw-sm(15px);
    //     font-size: px2vw-sm(18px);
    //     line-height: px2vw-sm(32px);
    //   }
    // }
  }

  &-video {
    &-iframe {
      width: 100%;
      margin-bottom: px2vw-xl(40px);

      @include lg {
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
      }

      iframe {
        width: 100%;
        height: px2vw-xl(612px);

        @include lg {
          height: px2vw-lg(600px);
        }

        @include md {
          height: px2vw-md(500px);
        }

        @include sm {
          height: px2vw-sm(400px);
        }
      }
    }

    &-descriptions{
      position: relative;
      width: 100%;
      margin-bottom: px2vw-xl(40px);
    }

    &-footer {
      // @extend %u-dfStartEnd;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: px2vw-xl(282px);

      @include lg {
        max-width: px2vw-lg(282px);
      }

      @include md {
        max-width: px2vw-md(282px);
      }

      @include sm {
        max-width: px2vw-sm(282px);
      }

      &-item {
        // @extend %u-dfCenterCenter;
        margin-left: px2vw-xl(6px);
        border: none;
        background: transparent;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: px2vw-xl(20px);
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(20px);
        line-height: px2vw-xl(28px);
        color: var(--color-white-medium);

        @include lg {
          margin-left: px2vw-lg(6px);
          margin-bottom: px2vw-lg(20px);
          font-size: px2vw-lg(20px);
          line-height: px2vw-lg(28px);
        }

        @include md {
          margin-left: px2vw-md(6px);
          margin-bottom: px2vw-md(20px);
          font-size: px2vw-md(20px);
          line-height: px2vw-md(28px);
        }

        @include sm {
          margin-left: px2vw-sm(6px);
          margin-bottom: px2vw-sm(20px);
          font-size: px2vw-sm(20px);
          line-height: px2vw-sm(28px);
        }

        .material-icons {
          margin-right: px2vw-xl(20px);
          font-size: px2vw-xl(30px);

          @include lg {
            margin-right: px2vw-lg(20px);
            font-size: px2vw-lg(30px);
          }

          @include md {
            margin-right: px2vw-md(20px);
            font-size: px2vw-md(30px);
          }

          @include sm {
            margin-right: px2vw-sm(20px);
            font-size: px2vw-sm(30px);
          }
        }

        &:hover,
        &.is-active {
          color: var(--main-color);
        }
      }
    }
  }
}

.VideoView-video-comments{
  width: 100%;
  max-width: px2vw-xl(588px);
  margin: 0 auto;

  .VideoView-video-discussion{
    &-info{
      font-family: Avenir Next;
      font-size: px2vw-xl(20px);
      font-style: normal;
      font-weight: 500;
      line-height: px2vw-xl(28px);
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: px2vw-xl(24px);

      @include lg {
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(28px);
        margin-bottom: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(20px);
        line-height: px2vw-md(28px);
        margin-bottom: px2vw-md(24px);

        @include sm {
          font-size: px2vw-sm(20px);
          line-height: px2vw-sm(28px);
          margin-bottom: px2vw-sm(24px);
        }
      }
    }
  }
  .VideoView-tags{
    display: flex;
    flex-direction: row;

    .VideoView-tags-title{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: rgba(255, 255, 255, 0.87);
    margin-right: px2vw-xl(16px);
    align-items: center;
    padding: px2vw-xl(4px) 0px;

    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
      margin-right: px2vw-lg(16px);
      padding: px2vw-lg(4px) 0px;
    }

    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
      margin-right: px2vw-md(16px);
      padding: px2vw-md(4px) 0px;
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      margin-right: px2vw-sm(16px);
      padding: px2vw-sm(4px) 0px;
    }
    }
    .VideoView-tags-tag{
      display: inline-block;
      align-items: center;
      padding: px2vw-xl(4px) px2vw-xl(10px);
      left: 122px;
      background: #303030;
      border: 1px solid #444444;
      box-sizing: border-box;
      border-radius: 18px;
      margin-right: px2vw-xl(8px);
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: px2vw-xl(14px);
      line-height: px2vw-xl(20px);
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(8px);

      @include lg {
        padding: px2vw-lg(4px) px2vw-lg(10px);
        margin-bottom: px2vw-lg(8px);
        margin-right: px2vw-lg(8px);
        line-height: px2vw-lg(20px);
        font-size: px2vw-lg(14px);
      }

      @include md {
        padding: px2vw-md(4px) px2vw-md(10px);
        margin-bottom: px2vw-md(8px);
        margin-right: px2vw-md(8px);
        line-height: px2vw-md(20px);
        font-size: px2vw-md(14px);
      }

      @include sm {
        padding: px2vw-sm(4px) px2vw-sm(10px);
        margin-bottom: px2vw-sm(8px);
        margin-right: px2vw-sm(8px);
        line-height: px2vw-sm(20px);
        font-size: px2vw-sm(14px);
      }
    }
  }
}
.SectionPost {
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }
  &-heading {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: px2vw-xl(16px) 0 px2vw-xl(32px);
    @include lg {
      padding: px2vw-lg(16px) 0 px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(16px) 0 px2vw-md(32px);
    }

    @include sm {
      padding: px2vw-sm(24.576px) 0 px2vw-sm(36.864px);
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include sm {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .btn {
      @include sm {
        display: none;
      }
    }
  }
}
