<app-header-spark [title]="'Join Tournament' | translate" [routerLink]="AppHtmlRoutes.play"></app-header-spark>
<div class="fixlayout">
  <div class="">
    <router-outlet></router-outlet>
  </div>
  <div class="col-lg-4" style="display: none;">
    <div class="Play-slider-card">
      <div class="ViewTournament-sectionB-card-image" style="margin-bottom: 25px;">
        <img src="{{tournamentDetails.gameDetail.image}}" style="width: 445px;">
      </div>
      <h3 class="ViewTournament-sectionB-card-title">
        {{ "VIEW_TOURNAMENT.CARD.TITLE" | translate }}
      </h3>
      <ul class="Play-slider-details">
        <!-- Check-in time -->
        <li class="Play-slider-detail" *ngIf="tournamentDetails.isCheckInRequired != false">
          <img class="Play-slider-detail-icon" lazyLoad="assets/icons/tournament/time.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "PLAY.SLIDER.CHECK_IN" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails.isCheckInRequired != false">
              40 mins before start time
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails.isCheckInRequired == false">
              No check-in required
            </span>
          </p>
        </li>

        <!-- Team size -->
        <li class="Play-slider-detail team-size" *ngIf="tournamentDetails.participantType != 'individual'">
          <img class="Play-slider-detail-icon" lazyLoad="assets/icons/tournament/team.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "PLAY.SLIDER.TEAM_SIZE" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails.participantType == 'individual'"> Solo
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails.participantType != 'individual'">
              {{tournamentDetails.teamSize}}V{{tournamentDetails.teamSize}} </span>
          </p>
        </li>

        <!-- Tournament type -->
        <li class="Play-slider-detail">
          <img class="Play-slider-detail-icon" lazyLoad="assets/icons/tournament/type.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "PLAY.SLIDER.TOURNAMENT_TYPE" | translate }}
            </span>
            <span class="Play-slider-detail-text"> {{tournamentDetails.tournamentType}} </span>
          </p>
        </li>

        <!-- Prize pool -->
        <li class="Play-slider-detail">
          <img class="Play-slider-detail-icon" src="assets/icons/tournament/price.svg" alt="icon" />
          <p class="Play-slider-detail-info">
            <span class="Play-slider-detail-title">
              {{ "PLAY.SLIDER.PRIZE_POOL" | translate }}
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails.prizeCurrency == ''"> No Prizes to win
            </span>
            <span class="Play-slider-detail-text" *ngIf="tournamentDetails.prizeCurrency != ''"> $
              {{tournamentDetails.prizeCurrency}} </span>


          </p>
        </li>
      </ul>
    </div>
  </div>
</div>