<app-header-spark [routerLink]="AppHtmlRoutes.matchmaking"></app-header-spark>


<section class="TournamentScoring">
    <div class="TournamentScoring-chapter">
        <div class="TournamentScoring-chapter-background"
            style="background-image: url(../../../../assets/images/tour-scoring1.svg);"></div>
        <div class="TournamentScoring-chapter-content">
            <div class="TournamentScoring-chapter-content-title-mobile">{{"MATCHMAKING.TOURNAMENT_SCORING.YOUR_TOURNAMENT" | translate}}</div>
            <div class="TournamentScoring-chapter-content-title">CS:GO Chapter 2 - Monthly Ladder </div>
            <div class="TournamentScoring-chapter-content-text">End Monday, December 11, 15:00 • Elimination</div>
        </div>
    </div>
    <div class="TournamentScoring-score">
        <div class="TournamentScoring-score-title">{{"BUTTON.REPORT_SCORE" | translate}}</div>
        <div class="TournamentScoring-score-title-selectWinner">{{"MATCHMAKING.TOURNAMENT_SCORING.SELECT_WINNER" | translate}}</div>
        <!-- <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button> -->
        <div class="TournamentScoring-score-title-selectTeam-wrap">
            <div class="TournamentScoring-score-title-selectTeam">
                <input type="radio" name="fav_language" value="HTML">
                <label for="html">P-Crown</label>
            </div>
            <div class="TournamentScoring-score-title-selectTeam">
                <input type="radio" name="fav_language" class="second-input" value="CSS">
                <label for="css">Pineapple Knight</label>
            </div>
        </div>
        <div class="TournamentScoring-score-title-uploadScreen">{{"MATCHMAKING.TOURNAMENT_SCORING.UPLOAD" | translate}}</div>
        <div class="TournamentScoring-score-table-wrapp">
            <div class="TournamentScoring-score-table">
                <div class="TournamentScoring-score-table-rowTitle">
                    <div class="TournamentScoring-score-table-rowTitle-uploadBy">{{"MATCHMAKING.TOURNAMENT_SCORING.UPLOAD_BY" | translate}}</div>
                    <div class="TournamentScoring-score-table-rowTitle-fileName">{{"MATCHMAKING.TOURNAMENT_SCORING.FILE_NAME" | translate}}</div>
                    <div class="TournamentScoring-score-table-rowTitle-fileSize">{{"MATCHMAKING.TOURNAMENT_SCORING.FILE_SIZE" | translate}}</div>
                    <div class="TournamentScoring-score-table-rowTitle-timeDate">{{"MATCHMAKING.TOURNAMENT_SCORING.TIME&DATE" | translate}}</div>
                </div>
                <div class="TournamentScoring-score-table-rowContent">
                    <div class="TournamentScoring-score-table-rowContents">
                        <div class="TournamentScoring-score-table-rowContents-uploadBy">volkanika98</div>
                        <div class="TournamentScoring-score-table-rowContents-fileName">fortnite-210821-01</div>
                        <div class="TournamentScoring-score-table-rowContents-fileSize">157 KB</div>
                        <div class="TournamentScoring-score-table-rowContents-timeDate">08/30/2021 12:01</div>
                        <button class="TournamentScoring-score-table-rowContents-option"
                            inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                    </div>
                    <div class="TournamentScoring-score-table-rowContents">
                        <div class="TournamentScoring-score-table-rowContents-uploadBy">Rh3aliti99</div>
                        <div class="TournamentScoring-score-table-rowContents-fileName">results-21aug-1</div>
                        <div class="TournamentScoring-score-table-rowContents-fileSize">20 KB</div>
                        <div class="TournamentScoring-score-table-rowContents-timeDate">08/30/2021 02:30</div>
                        <button class="TournamentScoring-score-table-rowContents-option"
                            inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                    </div>
                    <div class="TournamentScoring-score-table-rowContents">
                        <div class="TournamentScoring-score-table-rowContents-uploadBy">Rh3aliti99</div>
                        <div class="TournamentScoring-score-table-rowContents-fileName">results-21aug-1</div>
                        <div class="TournamentScoring-score-table-rowContents-fileSize">20 KB</div>
                        <div class="TournamentScoring-score-table-rowContents-timeDate">08/30/2021 02:30</div>
                        <button class="TournamentScoring-score-table-rowContents-option"
                            inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                    </div>
                    <div class="TournamentScoring-score-table-rowContents">
                        <div class="TournamentScoring-score-table-rowContents-uploadBy">Rh3aliti99</div>
                        <div class="TournamentScoring-score-table-rowContents-fileName">results-21aug-1</div>
                        <div class="TournamentScoring-score-table-rowContents-fileSize">20 KB</div>
                        <div class="TournamentScoring-score-table-rowContents-timeDate">08/30/2021 02:30</div>
                        <button class="TournamentScoring-score-table-rowContents-option"
                            inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="TournamentScoring-score-btn-uploadScreen">
            <input type="file" id="inputFile" (input)="getFile($event)" />
            <label for="inputFile" >{{"BUTTON.UPLOAD_NEW_SCREENSHOT" | translate}}</label>
            <span *ngIf="fileName">{{fileName}}</span>
        </div>
    </div>
</section>
<div class="TournamentScoring-guideBar">
    <!-- <div class="TournamentScoring-guideBar-htplay">
        <button class="TournamentScoring-guideBar-htplay-btn">
            How to play
        </button>
        <div class="TournamentScoring-guideBar-htplay-content" style="display:none">
            <div class="TournamentScoring-guideBar-htplay-content-title">Welcome to the game lobby Here’s how to get stared</div>
            <div class="TournamentScoring-guideBar-htplay-content-step">
                <div class="TournamentScoring-guideBar-htplay-content-step-fimg"></div>
                <div class="TournamentScoring-guideBar-htplay-content-step-text">Step 1: Add your opponent in the game by copying their gameID
                    beside their name</div>
            </div>
            <div class="TournamentScoring-guideBar-htplay-content-step">
                <div class="TournamentScoring-guideBar-htplay-content-step-simg"></div>
                <div class="TournamentScoring-guideBar-htplay-content-step-text">Step 2 : Create the in-game lobby, invite the players and play the <br> match
                </div>
            </div>
            <div class="TournamentScoring-guideBar-htplay-content-step">
                <div class="TournamentScoring-guideBar-htplay-content-step-timg"></div>
                <div class="TournamentScoring-guideBar-htplay-content-step-text">Step 3 : Enjoy the game and return back here to enter the result

                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="MatchLobby-guideBar-playerReady">
        <span class="MatchLobby-guideBar-playerReady-svg" inlineSVG="assets/icons/match-lobby/player-ready.svg"></span>
        Players ready: 3 out of 4
    </div> -->
    <div class="TournamentScoring-guideBar-btn-ready" routerLink="/get-match/update-score">
        <!-- <span class="TournamentScoring-guideBar-btn-ready-descrip">Match completed? Report score to update your season progress</span> -->
        <button>Update score </button>
    </div>
</div>