@import "shared";

:host {
  @extend %u-dfStretch;
  padding-top: px2vw-xl(128px);
  padding-bottom: 0;
  //   min-height: 647.5px;
  height: 100%;
  display: block;
  position: relative;

  @include lg {
    // height: px2vw-lg(658px);
    padding-top: px2vw-lg(40px);
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  @include md {
    // height: px2vw-md(658px);
    padding-top: px2vw-md(24px);
    padding-bottom: px2vw-md(10px);
  }

  @include sm {
    // height: px2vw-sm(658px);
    padding-top: px2vw-sm(24px);
    padding-bottom: px2vw-sm(10px);
  }
}

.TournamentScoring {
  display: flex;
  flex-wrap: wrap;
  width: 1234px;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 80px;

  @include md {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 1234px;
  }
  @include sm {
    padding-bottom: 130px;
  }

  &-chapter {
    width: 24%;

    @include md {
      width: fit-content;
      align-self: center;
    }
    @include sm {
      display: flex;
      flex-direction: row;
      height: 80px;
      width: calc(100% - -33px);
      position: fixed;
      bottom: 80px;
    }

    &-background {
      width: 295px;
      height: 164px;
      border-radius: 20px 20px 0px 0px;
      background-size: contain;

      @include md {
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      @include sm {
        width: 39.7%;
        height: 100%;
        background-size: cover;
        border-radius: 0px;
      }
    }

    &-content {
      padding: 24px 0px 0px 24px;
      background-color: var(--blackcurrant-color-medium);
      height: 160px;

      @include sm {
        padding: 6px 16px;
        width: 55%;
        height: 100%;
      }

      &-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20.3px;
        line-height: 28px;
        color: var(--color-white-medium);
        margin-bottom: 8px;

        @include sm {
          font-size: 16px;
          line-height: 24px;
          color: var(--white);
        }

        &-mobile {
          margin-bottom: -1px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--tolopea-color);
          display: none;

          @include sm {
            display: block;
          }
        }
      }

      &-text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16.4px;
        line-height: 24px;
        color: var(--tolopea-color);

        @include sm {
          display: none;
        }
      }
    }
  }

  &-score {
    width: 66.5%;
    margin-top: -15px;

    @include md {
      width: 100%;
      margin-top: 0;
      margin-bottom: 40px;
    }

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 42px;

      @include sm {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        margin-top: 47px;
        margin-bottom: 32px;
      }

      &-selectWinner {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20.3px;
        line-height: 28px;
        color: var(--color-white-medium);
        margin-bottom: 8px;

        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &-uploadScreen {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 24.3px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--color-white-medium);
        margin-top: 33px;
        margin-bottom: 16px;

        @include sm {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
        }
      }

      &-selectTeam {
        width: 618px;
        height: 56px;
        left: 545px;
        top: 365px;
        background: var(--color-background);
        border: 2px solid var(--midnight-express-color);
        box-sizing: border-box;
        border-radius: 8px;
        padding: 16px 15px;
        display: flex;
        margin-bottom: 5px;

        @include md {
          width: 100%;
        }
        @include sm {
          background-color: var(--color-background) !important;
        }

        &:last-child {
          background-color: var(--color-black-medium);
        }

        & label {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--white);
          margin-left: 13px;

          @include sm {
            margin-left: 15px;
          }
        }

        & input {
          width: 24px;
          height: 24px;

          &:after {
            width: 24px;
            height: 24px;
            border-radius: 15px;
            top: 0;
            left: 0;
            position: relative;
            background-color: #111111;
            content: "";
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
          }

          &:checked:after {
            width: 24px;
            height: 24px;
            border-radius: 15px;
            top: 0;
            left: 0;
            position: relative;
            background-color: var(--secondary-color);
            content: "";
            display: inline-block;
            visibility: visible;
            border: 2px solid white;
          }
        }
        .second-input::after {
          background-color: var(--color-black-medium);
          @include sm {
            background-color: var(--color-background);
          }
        }
      }
    }

    &-table {
      border: 1px solid var(--tolopea-medium-color);
      border-radius: 8px;
      width: 618px;
      height: 232px;
      margin-bottom: 24px;
      background-color: var(--white);

      @include md {
        width: 100%;
      }
      @include sm {
        width: 540px;
        margin-bottom: 0;
      }

      &-wrapp {
        overflow: hidden;
        overflow-x: auto;
        border-radius: 8px;
        margin-bottom: 2px;

        @include sm {
          margin-bottom: 14px;
          background-color: var(--white);
        }

        &::-webkit-scrollbar {
          height: 8px;
          overflow: visible;
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background: var(--color-white-medium);
          border: 1px solid var(--tolopea-color);
          border-radius: 4px;
        }
      }

      &-rowTitle {
        display: flex;
        height: 64px;
        align-items: center;
        background: var(--color-white-medium);
        border-radius: 8px 8px 0px 0px;

        &-uploadBy {
          width: 108px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          padding-left: 17px;
          color: var(--blackcurrant-color-medium);
        }

        &-fileName {
          width: 184px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          padding-left: 17px;
          color: var(--blackcurrant-color-medium);
        }

        &-fileSize {
          width: 105px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          padding-left: 17px;
          color: var(--blackcurrant-color-medium);

          @include sm {
            padding-left: 0;
          }
        }

        &-timeDate {
          width: 172px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          padding-left: 17px;
          color: var(--blackcurrant-color-medium);

          @include sm {
            padding-left: 0;
          }
        }
      }

      &-rowContent {
        height: 168px;
        overflow: auto;
        border-radius: 0px 0px 8px 8px;
        border-right: 8px solid transparent;

        &::-webkit-scrollbar {
          height: 8px;
          overflow: visible;
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background: var(--color-white-medium);
          border: 1px solid var(--tolopea-color);
          border-radius: 4px;
        }
      }

      &-rowContents {
        display: flex;
        height: 56px;
        align-items: center;
        background-color: var(--white);
        border: 1px solid var(--tolopea-medium-color);

        &-uploadBy {
          width: 108px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          padding-left: 17px;
          color: var(--blackcurrant-color-medium);
        }

        &-fileName {
          width: 184px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: flex-end;
          padding-left: 17px;
          color: var(--blackcurrant-color-medium);
        }

        &-fileSize {
          width: 105px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          padding-left: 17px;
          color: var(--blackcurrant-color-medium);
        }

        &-timeDate {
          width: 172px;
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: var(--blackcurrant-color-medium);
          padding-left: 17px;
        }

        &-option {
          background-color: transparent;
        }
      }
    }

    &-btn-uploadScreen {
      & input[type="file"] {
        display: none;
      }
      & label {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--secondary-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px ​32px 12px 28px;
        width: 238px;
        height: 48px;
        background: var(--white);
        border-radius: 6px;

        @include md {
          margin: 0 auto;
        }

        @include sm {
          width: 100%;
        }
      }
    }
  }

  &-guideBar {
    padding: 12px 27px 17px 29px;
    background: var(--blackcurrant-color-medium);
    box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%),
      0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    left: 0;
    right: 0;

    @include sm {
      height: 80px;
    }

    &-btn-ready {
      @include sm {
        width: 100%;
      }
      &-descrip {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        margin-right: 17px;
      }

      & button {
        background: var(--secondary-color);
        border-radius: 6px;
        width: 158px;
        height: 48px;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-white-medium);

        @include sm {
          width: 100%;
        }
      }
    }
  }
}
// .TournamentScoring-score .TournamentScoring-score-title-selectTeam:nth-child(2){
//     background-color: var(--color-black-medium);
// }
