<div class="main_content">
  <div class="btn_close" [mat-dialog-close]="true">
    <img src="assets/icons/profile/icon_close.svg" class="img-fluid" />
  </div>
  <div class="draft-content">
    <h5><img src="assets/icons/profile/icon_draft.svg" class="img-fluid" alt=""> {{ "NEWS.SAVE_AS_DRAFT.DRAFT" |
      translate }}</h5>
    <p>{{ "NEWS.SAVE_AS_DRAFT.ARTICLE_DRAFT" | translate }}</p>
    <button [mat-dialog-close]="true">{{ "NEWS.SAVE_AS_DRAFT.BACK_CONTENT" | translate }}</button>
  </div>
</div>
