<div class="main_content">
    <div class="btn_close" [mat-dialog-close]="true">
        <img src="../../../../../assets/icons/profile/icon_close.svg" class="img-fluid" />
    </div>
    <div class="draft-content">
        <h5><img src="../../../../../assets/icons/profile/icon_tick.svg" class="img-fluid" alt="">{{ "NEWS.SUBMIT.SUBMITTED_FOR_APPROVAL" | translate }} </h5>
        <p>{{ "NEWS.SUBMIT.YOUR_ARTICLE_CONTENT" | translate }} </p>
        <button class="button-secondary" [mat-dialog-close]="true">{{ "NEWS.SUBMIT.BACK_CONTENT" | translate }} </button>
    </div>
</div>