@import "shared";

::ng-deep .custom-dialog-container {
  mat-dialog-container {
    background-color: var(--ui-valhalla);
  }
}

.custom {
  .datatable-footer {
    display: none !important;
  }
}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.payment-distribution {
  & b {
    font-family: "source-sans-pro";
    font-size: px2vw-xl(16px);
    opacity: 1;
  }

  & span {
    font-family: "source-sans-pro";
    font-size: px2vw-xl(16px);
    opacity: 0.6;
  }
}

.payment-winner-cards {
  & span {
    font-family: "source-sans-pro";
    font-size: px2vw-xl(16px);
    opacity: 1;
  }
}

.dialog-container {
  position: relative;

  & .close {
    position: absolute;
    right: px2vw-xl(-10px);
    top: 0;
  }
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.flex-column {
  flex-direction: column;
}

.payment-distribution {
  background: transparent;
  box-shadow: inset 5px 0 0 0 var(--color-primary);
  align-items: center;
  padding: px2vw-xl(33px) 0;

  & img.organize-image {
    width: px2vw-xl(125px);
    height: px2vw-xl(125px);
    border-radius: 50%;
    margin: 0 px2vw-xl(44px);
  }

  & .organizer-details {
    display: inline-flex;
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
    padding-left: px2vw-xl(44px);
    padding-right: px2vw-xl(44px);

    & .d-flex {
      &.flex-column {
        min-width: auto;
      }
    }
  }

  & .organizer-sub-details {
    display: inline-flex;
    border-right: 1px solid var(--black);
    padding-left: px2vw-xl(44px);
    padding-right: px2vw-xl(44px);

    & .d-flex {
      &.flex-column {
        min-width: auto;
      }
    }
  }

  &.payment-method {
    display: flex;
    flex-wrap: wrap;
    padding-left: px2vw-xl(44px);
  }
}

.margin-0 {
  margin-left: px2vw-xl(-15px);
  margin-right: px2vw-xl(125px);
}

.payment-winner-cards {
  box-shadow: inset 5px 0 0 0 var(--color-primary);
  background-color: transparent;
  max-width: px2vw-xl(459px);
  display: flex;
  align-items: center;
  padding: px2vw-xl(25px);

  & .payment-winner-cards-image {
    img {
      width: px2vw-xl(88px);
      height: px2vw-xl(88px);
      border-radius: 50%;
      margin: 0 px2vw-xl(25px) 0 0;
    }
  }
}

.tournament-details-table {
  background-color: transparent;
  padding: px2vw-xl(30px);

  @media (max-width: 1024px) {
    overflow-x: auto;
    width: 100%;
  }
}

/* new organizer sass*/

.organizer-details {
  margin: px2vw-xl(30px) 0;
  padding: px2vw-xl(20px) px2vw-xl(20px) px2vw-xl(20px) 0;
  box-shadow: inset 5px 0 0 0 var(--color-primary);
  background-color: var(--white-medium);

  &-image {
    border-radius: 50%;
    width: px2vw-xl(125px);
    height: px2vw-xl(125px);
  }

  &-paymentImage {
    & img {
      width: px2vw-xl(75px);
    }
  }

  &-detail {
    & ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      & li {
        text-align: left;
        margin-right: px2vw-xl(30px);
        margin-bottom: px2vw-xl(25px);

        @include lg {
          margin-right: px2vw-lg(30px);
        }

        @include md {
          margin-right: px2vw-md(30px);
        }

        @include sm {
          margin-right: px2vw-sm(30px);
        }

        & P {
          margin-bottom: px2vw-xl(5px);
          font-weight: 700;
        }
      }
    }
  }
  &-border {
    border-left: 1px solid var(--ui-nobel);
    padding: px2vw-xl(20px) px2vw-xl(30px);

    @include sm {
      border-left: 0;
    }
  }
}

.winner {
  margin-left: px2vw-xl(-15px);

  &-card {
    margin-bottom: px2vw-xl(30px);
    box-shadow: inset 5px 0 0 0 var(--color-primary);
    min-height: px2vw-xl(150px);
    padding: px2vw-xl(20px) px2vw-xl(20px) px2vw-xl(20px) 0;
    background-color: var(--white-medium);

    &-image {
      & img {
        width: px2vw-xl(88px);
        height: px2vw-xl(88px);
        border-radius: 50%;
      }
    }

    &-details {
      & ul {
        margin: 0;
        padding: 0;

        & li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: px2vw-xl(10px);

          & p {
            margin-bottom: 0;
          }
        }
      }
    }

    &-paymentImage {
      & img {
        width: px2vw-xl(85px);
      }
    }
  }
}

.btn-primary-paidia {
  background-color: var(--color-primary);
  color: var(--black);
  border: unset;
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 15px;
}
