<div class="tournament-details-table">
  <ngx-datatable
    #table
    class="global-DataTableAdmin global-DataTable is-admin"
    [columns]="columns"
    [rows]="rows"
    [columnMode]="'flex'"
    [headerHeight]="'auto'"
    [footerHeight]="'auto'"
    [rowHeight]="'auto'"
    [limit]="1"
  >
    <ngx-datatable-column
      [flexGrow]="3"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TOURNAMENT_NAME' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["name"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGISTRATION' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["isPaid"] | registrationType }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.START_DATE' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["startDate"] | date: "MMM d, yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.END_DATE' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["endDate"] | date: "MMM d, yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.PARTICIPANT' | translate
      }}"
      [flexGrow]="2"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["maxParticipants"] }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<app-loading *ngIf="!organizerDetail || isLoading == true"></app-loading>
<div class="row organizer-details" *ngIf="organizerDetail">
  <div class="col-sm-3 align-items-center d-flex justify-content-center">
    <img
      class="organizer-details-image"
      [lazyLoad]="organizerDetail.profilePicture"
      alt=""
      *ngIf="organizerDetail.profilePicture"
    />

    <img
      class="organizer-details-image"
      [src]="'assets/images/Profile/avatar.png'"
      alt=""
      *ngIf="!organizerDetail.profilePicture"
    />
  </div>
  <div class="col-sm-3 organizer-details-border organizer-details-detail">
    <ul>
      <li>
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.ORGANIZER_NAME"
              | translate
          }}
        </p>
        <span>{{ organizerDetail.fullName }}</span>
      </li>
      <li>
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.EMAIL_ADDRESS"
              | translate
          }}
        </p>
        <span>{{ organizerDetail.email }}</span>
      </li>
    </ul>
  </div>

  <div class="col-sm-3 organizer-details-border organizer-details-detail">
    <ul>
      <li class="organizer-details-paymentImage">
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.PAYMENT_METHOD"
              | translate
          }}
        </p>
        <img *ngIf="paymentMethod" [lazyLoad]="paymentMethod" />
        <span *ngIf="!paymentMethod || paymentMethod == ''">
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.NO_PAYMENT" | translate
          }}
        </span>
      </li>
      <li *ngIf="accountDetail?.paymentType">
        <p>
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.PAYMENT_ACCOUNT_ID"
              | translate
          }}
        </p>
        <span *ngIf="organizerDetail?.accountDetail?.paymentAccountId"
          >{{ organizerDetail.accountDetail.paymentAccountId }}
        </span>
        <span *ngIf="!accountDetail?.paymentType">
          {{
            "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.NO_PAYMENT" | translate
          }}
        </span>
      </li>
    </ul>
  </div>

  <div class="col-sm-2 organizer-details-border organizer-details-detail">
    <ul>
      <li>
        <p>
          {{ "PROFILE.TOURNAMENTS.PAYMENT.TOTAL_AMOUNT" | translate }}
        </p>
        <span>
          {{ getTotalAmount() }} {{ tournamentDetails.regFeeCurrency }}
        </span>
      </li>
      <li>
        <p>
          {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.STATUS" | translate }}
        </p>
        <span>{{ status }}</span>
      </li>
      <li>
        <button
          *ngIf="
            !tournamentDetails.isRegFeeDisbursed &&
            status != 'PENDING' &&
            status != 'UNCLAIMED' &&
            status != 'SUCCESS'
          "
          [disabled]="isLoading == true || !accountDetail.paymentAccountId"
          (click)="initiateDisbursal()"
          class="btn btn-primary-paidia"
        >
          {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.DISBURSE" | translate }}
        </button>
      </li>
    </ul>
  </div>
</div>

<section class="mt-5 text-left" *ngIf="isLoading == false">
  <button class="btn btn-secondary" (click)="cancel()">
    {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.BACK" | translate }}
  </button>
</section>
