<div class="ladder-popup">
  <div class="ladder-popup-header u-dfCenterBtw">
    <div *ngIf="data?.isShowLoading || data?.isShowNotFound">
      {{ "LADDER_POPUP.HEADER" | translate }}
    </div>
    <div *ngIf="data?.isShowScheduler">
      {{ "LADDER_POPUP.HEADER_2" | translate }}
    </div>
    <div *ngIf="data?.isShowReportScoreCard">
      {{ "LADDER_POPUP.UPLOAD_RESULT" | translate }}
    </div>
    <div class="ladder-popup-close" mat-dialog-close>
      <img src="../assets/icons/icon-close-orange.svg" />
    </div>
  </div>

  <div *ngIf="data?.isShowLoading" class="ladder-popup-finding text-center">
    <div class="ladder-popup-loading">
    <img class="playNowLoader" src="../assets/images/Ladder/lottie.gif"/>
    </div>

    <div class="ladder-popup-time mb-2">
      <countdown
        [config]="{ leftTime: leftTime }"
        (event)="closePopupOnTimeout($event)"
      ></countdown>
    </div>
    <div class="ladder-popup-wait">
      {{ "LADDER_POPUP.WAIT" | translate }}
    </div>
  </div>

  <div *ngIf="data?.isShowNotFound" class="ladder-popup-notFound text-center">
    <img src="../assets/icons/no-found.svg" />
    <p class="ladder-popup-noOponent">
      {{ "LADDER_POPUP.NOT_FOUND" | translate }}
    </p>
    <p class="ladder-popup-wait">
      {{ "LADDER_POPUP.SCHEDULE_MATCH" | translate }}
    </p>
    <button class="global-EditBtn join-button mb-2" (click)="closeNotFound(0)">
      {{ "LADDER_POPUP.SCHEDULE_MATCH_BUTTON" | translate }}
    </button>
    <button
      class="global-EditBtn join-button ml-2 mr-2"
      (click)="closeNotFound(1)"
    >
      {{ "LADDER_POPUP.SEARCH_AGAIN_BUTTON" | translate }}
    </button>
  </div>

  <div *ngIf="data?.isShowScheduler" class="ladder-popup-newTime">
    <h4 class="global-Title4">
      {{ "LADDER_POPUP.ENTER_DATE_TIME" | translate }}
    </h4>
    <div class="row ladder-popup-row" [formGroup]="timeForm">
      <div class="col-sm-6">
        <label class="mb-4">{{ "LADDER_POPUP.MATCH_DATE" | translate }}</label>
        <div class="dateContainer ladder-popup-datePicker">
          <input
            matInput
            formControlName="startDate"
            [matDatepicker]="startDate"
            class="dateContainer-input"
            autocomplete="off"
            [min]="minStartDateValue"
            [max]="maxDateValue"
            (click)="startDate.open()"
            (keydown)="(false)"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="startDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </div>
        <div class="error" *ngIf="timeForm?.controls?.startDate?.touched">
          <strong>{{
            timeForm?.controls?.startDate?.errors | errorPipe | translate
          }}</strong>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="mb-4">{{ "LADDER_POPUP.SELECT_TIME" | translate }}</label>
        <ngb-timepicker
          [meridian]="true"
          data-test-id="tournament-startTimePicker"
          formControlName="startTime"
          class="changeSize"
        >
        </ngb-timepicker>
        <div
          class="error mt-4"
          *ngIf="
            timeForm?.controls?.startTime?.touched &&
            timeForm?.controls?.startTime?.errors
          "
        >
          <strong>{{
            timeForm?.controls?.startTime?.errors | errorPipe | translate
          }}</strong>
        </div>
      </div>
    </div>
    <button class="global-EditBtn mt-4" (click)="onSubmit()">
      {{ "LADDER_POPUP.CONFIRM_BUTTON" | translate }}
    </button>
  </div>

  <app-score-card
    *ngIf="data?.isShowReportScoreCard"
    [match]="data?.payload?.match"
    [isEventOrganizerOrAdmin]="!!data?.payload?.isEventOrganizerOrAdmin"
    [isLadderTournament]="data?.payload?.isLadderTournament"
    [tournament]="data?.payload?.tournament"
    [participantId]="data?.payload?.participantId"
    [isShowDisqualifySection]="false"
    (exit)="closePopup($event)"
  >
  </app-score-card>
</div>
