@import "shared";

:host {
  display: block;
}

.SearchVideo {
  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-list {
    // display: grid;
    // grid-template-columns: repeat(2, minmax(0, 1fr));
    // grid-column-gap: px2vw-xl(16px);
    // grid-row-gap: px2vw-xl(32px);
    display: flex;
    justify-content: space-between;
    @include lg {
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(32px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(32px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--color-primary);
  }
}
.list-users {
  margin-right: 10px;
  width: 70%;
  .box-games {
    display: flex;
    //      background: linear-gradient(
    // 0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), #0b0824;

    box-sizing: border-box;
    padding: 5px;
    justify-content: space-between;
    margin-bottom: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    cursor: pointer;
    .boxgame-left {
      display: flex;
      margin-right: 10px;
      .img-box-games {
        margin-right: 15px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 100px;
          object-fit: cover;
        }
      }
      .text-box-games {
        display: flex;
        align-items: center;
        p:nth-child(1) {
          margin: 0;
          font-size: 14px;
        }
        p:nth-child(2) {
          margin: 0;
          font-size: 14px;
        }
      }
    }
    .menuicon-box-games {
      display: block;
      align-items: center;
    }
  }
}

.detail-user {
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  width: 30%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #0b0824;
  .banner-profile {
    width: 100%;
    .img-banner {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 100px;
      }
    }
    .information-person {
      justify-content: center;
      text-align: center;
      margin-top: -5em;
      .img-person {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        margin-bottom: 22px;
        .img-personal {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background: linear-gradient(168.39deg, #736cff 9.25%, rgba(115, 108, 255, 0) 91.48%);
          border-radius: 100px;
          padding: 7px;
        }
        .text {
          display: flex;
          justify-content: center;
          font-size: 12px;
          align-items: center;
          background: rgba(0, 0, 0, 0.7);
          width: max-content;
          margin: 0 auto;
          margin-top: -31px;
          img {
            width: 11px;
            height: 11px;
          }
          p {
            margin: 0 10px;
          }
          span {
            width: 11px;
            height: 11px;
            background-color: #bbf55a;
            border-radius: 100px;
          }
        }
      }
      .box-text {
        h1 {
          font-size: 16px;
          font-family: "archivo";

          span {
            color: rgba(255, 255, 255, 0.6);
          }
        }
        p {
          font-size: 13px;
          font-weight: 800;
          color: rgba(255, 255, 255, 0.6);
          font-family: "redhat-regular";
          margin-bottom: 0;
        }
      }
    }
  }
}

.btn-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  padding-right: 10px;
  button {
    margin-left: 10px;
    height: 42px;
    padding: 0 20px;
    font-size: 14px;
    img {
      margin-right: 7px;
    }
  }
  button:nth-child(2) {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #0b0824;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }
}

@media only screen and (max-width: 720px) {
  .banner-profile {
    .img-banner {
      height: 300px;
      img {
      }
    }
    .information-person {
      .img-person {
        .img-personal {
        }
        .text {
          img {
          }
          p {
          }
          span {
          }
        }
      }
      .box-text {
        h1 {
        }
        p {
        }
      }
    }
  }
}
.user-search-information {
  display: inline-flex;
  margin-bottom: 5px;
  padding-right: 20px;
  width: 100%;
}
