<div class="Screenshot-Popup">
  <div class="Screenshot-Popup-Header">
    <div>
      <span class="Screenshot-Popup-Header-Text">{{ "ELIMINATION.TOOLTIP.08" | translate }}</span>
    </div>
    <div class="Screenshot-Popup-Cancel" (click)="onCancel()">
      <img src="../../../../../../assets/icons/Icon-close-blu.svg" alt="">
    </div>
  </div>

  <div class="Screenshot-Popup-Body">
    <div class="File-Upload">
      <img
        [src]="screenshotUrl || data?.screenshotUrl"
        *ngIf="screenshotUrl || data?.screenshotUrl"
        formationLazyImage
      />
      <label
        class="File-Upload-Label"
        for="screenShot"
        [ngClass]="{
          'File-Upload-Label-Hide': screenshotUrl || data?.screenshotUrl
        }"
      >
        <ng-container *ngIf="!isProcessing">
          {{ "ELIMINATION.SCREENSHOT_DISPLAY_TEXT_ONE" | translate }} <br />
          {{ "ELIMINATION.SCREENSHOT_DISPLAY_TEXT_TWO" | translate }}
        </ng-container>

        <esports-loading *ngIf="isProcessing"></esports-loading>
      </label>

      <input
        *ngIf="data?.hasScreenshotUpdateAccess"
        class="File-Upload-Input"
        (change)="screenShotUpload($event)"
        (click)="screenshot.value = null"
        id="screenShot"
        type="file"
        accept="image/jpeg, image/jpg, image/png"
        aria-describedby="inputGroupFileAddon01"
        #screenshot
        [ngClass]="{
          'File-Upload-Label-Hide': screenshotUrl || data?.screenshotUrl
        }"
      />
    </div>
  </div>

  <div class="Screenshot-Popup-Footer">
    <button (click)="onClose()" class="global-EditBtn is-small">
      {{ "BUTTON.CLOSE" | translate }}
    </button>
  </div>
</div>
