@import "shared";
@import "../../../../../../src/scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.TournamentName {
  padding-bottom: px2vw-xl(60px);
  
  @include lg {
    padding-bottom: px2vw-lg(60px);
  }

  @include md {
    padding-bottom: px2vw-md(60px);
  }

  @include sm {
    padding-bottom: px2vw-sm(60px);
  }

  &-container,
  &-switcher-container {
    max-width: px2vw-xl(994px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(620px);
    }

    @include md {
      max-width: none;
    }
  }

  &-container {
    margin-bottom: px2vw-xl(0px);
    width: 54vw;

    img {
      margin-left: 65px;
      width: 50%;

      @include sm {
        margin-left: px2vw-sm(5px);
        width: 82%;
      }
    }

    @include lg {
      // margin-top: px2vw-lg(60px);
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-top: px2vw-md(60px);
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      // margin-top: px2vw-sm(160px);
      margin-bottom: px2vw-sm(30px);
      width: 100%;
    }
  }

  &-switcher-container {
    margin-top: auto;
    margin-left: 63px;

    @include sm {
      margin-left: 0px;
    }
  }

  &-img {
    ::ng-deep {
      .InputText img {
        margin-bottom: unset !important;
      }
    }
  }
}

::ng-deep {
  .SelectGame-container {
    margin-top: 0 !important;
  }

  .SelectDate-container {
    margin-top: 0 !important;
  }
}
