<ng-container *ngIf="isLoaded">
  <ng-container>
    <ng-container *ngIf="type == 'single' && !isUpdateMatchScore">
      <app-single-elimination
        [tournament]="structure"
        [matchTemplate]="matchTemplate"
      ></app-single-elimination>
    </ng-container>
    <ng-container *ngIf="type == 'double' && !isUpdateMatchScore">
      <app-double-elimination
        [tournament]="structure"
        [matchTemplate]="matchTemplate"
      ></app-double-elimination>
    </ng-container>
    <ng-container *ngIf="type == 'round_robin' && !isUpdateMatchScore">
      <app-round-robin-multi
        [structure]="structure"
        [participantId]="participantId"
        [isSeeded]="isSeeded"
        [isAdmin]="isAdmin"
        [tournament]="tournament"
      ></app-round-robin-multi>
    </ng-container>
    <ng-container *ngIf="type == 'battle_royale'">
      <app-battle-royale-multi
        [structure]="structure"
        [isSeeded]="isSeeded"
        [isAdmin]="isAdmin"
        [tournament]="tournament"
        (isRefresh)="exitFromScoreCard($event)"
      >
      </app-battle-royale-multi>
    </ng-container>
    <ng-container *ngIf="type == 'swiss_safeis'">
      <app-swiss-system
        [matchList]="structure"
        [isSeeded]="isSeeded"
        [isAdmin]="isAdmin"
        [tournament]="tournament"
        [participantId]="participantId"
        [enableWebview]="enableWebview"
        [disableStanding]="disableStanding"
        [hideMockStructure]="hideMockStructure"
        (isRefresh)="exitFromScoreCard($event)"
      >
      </app-swiss-system>
    </ng-container>
    <ng-container *ngIf="type == 'ladder'">
      <esports-lader-standing
        [tournamentId]="tournament?._id"
        [tournamentType]="tournament?.bracketType"
        [api]="API"
      ></esports-lader-standing>
    </ng-container>
    <ng-template #matchTemplate let-match>
      <app-match
        [match]="match"
        [isSeeded]="isSeeded"
        [participantId]="participantId"
        [isAdmin]="isAdmin"
        [countryList]="countryList"
        [isShowCountryFlag]="tournament?.isShowCountryFlag"
        [participantType]="tournament?.participantType"
        [totalSet]= "tournament?.noOfSet"
        [openActionTab]="enableWebview"
        (openScoreCard)="updatedScoreCard($event)"
      ></app-match>
    </ng-template>
    <app-score-card
      [match]="match"
      [isEventOrganizerOrAdmin]="isAdmin"
      [participantId]="participantId"
      [enableWebview]="enableWebview"
      [tournament]="tournament"
      (exit)="exitFromScoreCard($event)"
      *ngIf="isUpdateMatchScore"
    >
    </app-score-card>
  </ng-container>
  <app-awards
    *ngIf="
      tournament?.isFinished && !isAdmin && !enableWebview && !disableStanding
    "
    [type]="type"
    [tournamentId]="tournament?._id"
  ></app-awards>
</ng-container>
<esports-loading *ngIf="!isLoaded"></esports-loading>
