textarea {
  border-radius: 5px !important;
}

.dropdown-item,
.selected-tags span {
  color: var(--black) !important;
}

.selected-tags {
  width: auto !important;
}

.btn-align {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  padding-bottom: 139px;
  margin-top: 50px;
  button:first-child {
    margin-right: 44px;
  }
}

.form-container {
  background: transparent !important;
  padding: 0 !important;
  > .row {
    margin-bottom: 48px;
  }
}
.add-section {
  max-width: 1140px;
  margin: auto;
  padding: 0 !important;
  padding-top: 129px !important;
}

section {
  // background: #171616;
  min-height: 100vh;
}

.form-group {
  &.form-select {
    .form-control {
      width: 100%;
      text-align: left;
      font-size: 16px;
      line-height: 21px;
      color: var(--black);
      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      background: var(--white-medium);
      box-shadow: 4px 4px 6px #--black-medium;
      padding: 21px 0 17px;
      left: auto !important;
      max-height: 198px;
      overflow-x: auto;
      width: 100%;
      color: var(--black);

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }
      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: rgba(112, 112, 112, 0.6);
        border-radius: 3px;
      }
      button {
        border-bottom: 0.5px solid var(--white-disabled);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        color: rgba(20, 19, 19, 0.6) !important;
        font-size: 16px;
        line-height: 21px;

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
          border-bottom: 0;
        }
        &:hover,
        &:active,
        &:focus {
          background: transparent;
          color: var(--black) !important;
        }
      }
    }
    .row {
      margin-bottom: 0 !important;
      padding-left: 23px;
      .selected-tags {
        border-radius: 28px;
        text-align: center;
        padding: 0.3em 1em;
        margin: 0.5em;
        font-size: 1em;
        font-weight: 400;
        background: transparent;
        border: 1px solid var(--white-disabled);
        width: auto !important;
        &:last-child {
          margin-right: 0;
        }
        span:last-child {
          margin-left: 12px;
        }
      }
    }
  }
}

.edit-icon {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  z-index: 9;
  img {
    width: 15px;
  }
}

.dropdown-language {
  margin-bottom: 15px;
  width: 120px;
  float: right;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  section {
    .add-section {
      max-width: 960px;
    }
    .form-group {
      .labeltext {
        font-size: 14px;
        line-height: normal;
      }
      &.form-select {
        .form-control {
          font-size: 14px;
          line-height: normal;
        }
        &:before {
          width: 10px;
          height: 7px;
          top: 14px;
          background-size: cover;
        }
        .dropdown-menu {
          padding: 14px 0 14px;
          max-height: 158px;
          button {
            font-size: 14px;
            line-height: normal;
          }
        }
      }
    }
    .btn-align {
      button {
        font-size: 14px;
        &:first-child {
          margin-right: 22px;
        }
      }
    }
    .form-container > .row {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .add-section {
    padding-top: 50px !important;
    .form-container {
      > .row {
        margin-bottom: 25px;
        &:not(:nth-child(2)) {
          > div:not(:last-child) {
            margin-bottom: 25px;
          }
        }
        .row {
          .error {
            left: 20px;
          }
          .selected-tags {
            padding: 5px 10px;
            margin-right: 15px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .btn-align {
    padding: 0 20px;
    justify-content: space-around;
    button {
      margin: 0 !important;
      font-size: 14px;
      padding: 10px 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .add-section {
    padding-top: 50px !important;
    max-width: 720px;
    .form-container {
      > .row {
        margin-bottom: 25px;
        .row {
          .error {
            left: 20px;
          }
          .selected-tags {
            padding: 5px 10px;
            margin-right: 15px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .btn-align {
    padding: 0 20px;
  }
}
.error {
  color: red;
}
