<div class="account-settings">

  <div class="account-settings-container">
    <header class="Inbox-header">
      <h1 class="Inbox-header-title">
        {{ "ACCOUNT_SETTINGS.MENU.ACCOUNT" | translate }}
      </h1>
    </header>
    <ng-container >
      <div class="row align-items-end">
        <div class="col-sm-9 px-0 pr-lg-2">
          <div class="icon-container">
            <mat-icon class="icon-section">mail_outline</mat-icon>
          </div>
          <div class="description-section">{{currentUser?.email}}</div>
          </div>

    <div class="col-sm-3 px-0 pl-lg-2">
      <a  [href]="emailChangeLink" class="accountSetting-edit-button mt-3 button-default btn-block text-capitalize">
        {{ "BUTTON.EDIT" | translate }}
      </a>
    </div>
    </div>

    </ng-container>
  </div>

<div class="account-settings-container">
  <header class="Inbox-header">
    <h1 class="Inbox-header-title">
      {{ "ACCOUNT_SETTINGS.MENU.CHANGEPASSWORD" | translate }}
    </h1>
  </header>
  <ng-container >
    <div class="row align-items-end">
      <div class="col-sm-9 px-0 pr-lg-2">
        <div class="icon-container">
          <mat-icon class="icon-section">vpn_key</mat-icon>
        </div>
        <div class="description-section password-placeholder">.........</div>
        </div>

  <div class="col-sm-3 px-0 pl-lg-2">
    <a [href]="passwordChangeLink"  class="accountSetting-edit-button mt-3 button-default btn-block text-capitalize">
      {{ "BUTTON.EDIT" | translate }}
    </a>
  </div>
  </div>
  </ng-container>
</div>
</div>
