@import "shared";

.account-settings {
  ::ng-deep .accountSetting-edit-button {
    width: 94px;
    font-weight: 600;
    font-size: 16px;
  }
  ::ng-deep header {
    h1 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }
  }
  ::ng-deep .account-settings-container {
    border-bottom: 1px solid #303030;
    width: 690px;
    margin-bottom: 20px;
    padding: 0px 0px 20px 0px;
  }
  ::ng-deep .mat-icon {
    color: white;
  }

  ::ng-deep .icon-container {
    width: 48px;
    height: 48px;
    background: #a168df;
    border-radius: 50%;
    .icon-section {
      position: absolute;
      top: 12px;
      left: 12px;
    }
  }

  .pr-lg-2 {
    display: flex;
  }
  .description-section {
    margin-left: 15px;
    align-self:center;
    font-weight: 600;
font-size: 20px;
line-height: 28px;
  }
  .password-placeholder{
    font-size: 90px;
   
    margin-top: -35px;
  }
}
