<div *ngIf="user" class="BasicInfo">
  <form
    class="form-start"
    (ngSubmit)="f.form.valid && saveProfile()"
    #f="ngForm"
  >
    <div class="Profile-title">
      {{ "PROFILE.BASIC_INFO.TITLE" | translate }}
    </div>

    <div class="BasicInfo-box">
      <div class="BasicInfo-box-cell">
        <div (click)="!isDisabled && avatar.click()" class="BasicInfo-box-img">
          <img
            [className]="!user.isVerified ? 'imgCircle' : 'imgCircleRmv'"
            src="./assets/images/Profile/article01.png"
            alt=""
            *ngIf="!user.profilePicture && !base64textString"
          />
          <img
            [className]="!user.isVerified ? 'imgCircle' : 'imgCircleRmv'"
            [src]="user.profilePicture"
            [alt]="user.fullName"
            *ngIf="user.profilePicture && !base64textString"
          />
          <img
            [className]="!user.isVerified ? 'imgCircle' : 'imgCircleRmv'"
            [src]="base64textString"
            [alt]="user.fullName"
            *ngIf="base64textString"
          />
          <span class="material-icons" *ngIf="!user.isVerified">Done</span>
          <span class="material-icons upload_icon" *ngIf="!isDisabled"
            >cloud_upload
          </span>
        </div>
        <input
          #avatar
          type="file"
          class="BasicInfo-box-file"
          (change)="handleFileSelect($event)"
          accept="image/*"
        />

        <img
          *ngIf="!user.isInfluencer"
          src="./assets/icons/library.svg"
          class="BasicInfo-box-lib"
          alt=""
        />
        <div class="BasicInfo-box-status" *ngIf="!user.isInfluencer">
          {{ "PROFILE.BASIC_INFO.INFLUENCER" | translate }}
        </div>
      </div>

      <div class="BasicInfo-box-cell">
        <div class="BasicInfo-box-cell-item">
          <div class="mesf-Text BasicInfo-text BasicInfo-box-title">
            {{ "PROFILE.BASIC_INFO.FORM.FULL_NAME.NAME" | translate }}
            <span *ngIf="!isDisabled">*</span>
          </div>
          <input
            [(ngModel)]="user.fullName"
            [class.disabled]="isDisabled"
            name="fullName"
            #fullName="ngModel"
            placeholder="{{
              'PROFILE.BASIC_INFO.FORM.FULL_NAME.NAME' | translate
            }}"
            type="text"
            class="BasicInfo-box-input"
            [ngClass]="{
              bordered: f.submitted && fullName.invalid && !isDisabled
            }"
            required
          />
          <div
            *ngIf="f.submitted && fullName.invalid && !isDisabled"
            class="error"
          >
            <div *ngIf="fullName.errors.required">
              {{ "PROFILE.BASIC_INFO.FORM.FULL_NAME.ERROR" | translate }}
            </div>
          </div>
        </div>

        <div class="BasicInfo-box-cell-item">
          <div class="mesf-Text BasicInfo-text BasicInfo-box-title">
            {{ "PROFILE.BASIC_INFO.FORM.REWARD.NAME" | translate }}
          </div>
          <input
            [value]="user?.accountDetail?.reward"
            type="text"
            value="2000"
            class="BasicInfo-box-input disabled"
          />
        </div>

        <div class="BasicInfo-box-cell-item" *ngIf="user.organizerRating">
          <div class="mesf-Text BasicInfo-text BasicInfo-box-title">
            {{ "PROFILE.BASIC_INFO.FORM.RATING.NAME" | translate }}
          </div>
          <ngb-rating
            [rate]="user.organizerRating"
            [max]="5"
            readonly="readonly"
            class="BasicInfo-box-stars"
          ></ngb-rating>
        </div>
      </div>

      <div class="BasicInfo-box-cell is-last">
        <div class="BasicInfo-box-progress">
          <circle-progress
            [percent]="user?.progress"
            [backgroundColor]="'#F4F5F7'"
            [backgroundGradientStopColor]="'#F4F5F7'"
            [backgroundOpacity]="1"
            [backgroundPadding]="0"
            [radius]="32"
            [space]="-20"
            [maxPercent]="100"
            [toFixed]="0"
            [outerStrokeWidth]="8"
            [titleColor]="'var(--orange-color-main)'"
            [unitsColor]="'var(--orange-color-main)'"
            [outerStrokeColor]="'var(--orange-color-main)'"
            [outerStrokeLinecap]="'butt'"
            [showSubtitle]="false"
            [showInnerStroke]="false"
          ></circle-progress>
        </div>
        <div class="BasicInfo-box-completion">
          {{ "PROFILE.BASIC_INFO.FORM.COMPLETION.NAME1" | translate }}<BR />
          {{ "PROFILE.BASIC_INFO.FORM.COMPLETION.NAME2" | translate }}
        </div>
      </div>
    </div>

    <div class="BasicInfo-row">
      <div class="BasicInfo-row-cell">
        <div class="mesf-Text BasicInfo-text">
          {{ "PROFILE.BASIC_INFO.FORM.MARITAL_STATUS.NAME" | translate }}
          <span *ngIf="!isDisabled">*</span>
        </div>

        <select
          [attr.disabled]="isDisabled ? isDisabled : null"
          class="selectpicker is-profile"
          name="martialStatus"
          #martialStatus="ngModel"
          id="martialStatus"
          placeholder="MARITAL STATUS"
          [(ngModel)]="user.martialStatus"
          required
        >
          <option value="SINGLE">{{
            "PROFILE.BASIC_INFO.FORM.MARITAL_STATUS.OPTION1" | translate
          }}</option>
          <option value="MARRIED">{{
            "PROFILE.BASIC_INFO.FORM.MARITAL_STATUS.OPTION2" | translate
          }}</option>
          <option value="PREFER NOT TO SAY">{{
            "PROFILE.BASIC_INFO.FORM.MARITAL_STATUS.OPTION3" | translate
          }}</option>
        </select>
        <div
          *ngIf="f.submitted && martialStatus.invalid && !isDisabled"
          class="error"
        >
          <div *ngIf="martialStatus.errors.required">
            {{ "PROFILE.BASIC_INFO.FORM.MARITAL_STATUS.ERROR" | translate }}
          </div>
        </div>
      </div>

      <div class="BasicInfo-row-cell">
        <div class="mesf-Text BasicInfo-text">
          {{ "PROFILE.BASIC_INFO.FORM.EMPLOYMENT_STATUS.NAME" | translate }}
        </div>

        <select
          [attr.disabled]="isDisabled ? isDisabled : null"
          class="selectpicker is-profile"
          name="profession"
          id="profession"
          placeholder="EMPLOYMENT STATUS"
          [(ngModel)]="user.profession"
        >
          <option value="STUDENT">{{
            "PROFILE.BASIC_INFO.FORM.EMPLOYMENT_STATUS.OPTION1" | translate
          }}</option>
          <option value="FULL-TIME EMPLOYED">{{
            "PROFILE.BASIC_INFO.FORM.EMPLOYMENT_STATUS.OPTION2" | translate
          }}</option>
          <option value="PART-TIME EMPLOYED">{{
            "PROFILE.BASIC_INFO.FORM.EMPLOYMENT_STATUS.OPTION3" | translate
          }}</option>
          <option value="RETIRED">{{
            "PROFILE.BASIC_INFO.FORM.EMPLOYMENT_STATUS.OPTION4" | translate
          }}</option>
          <option value="NOT WORKING">{{
            "PROFILE.BASIC_INFO.FORM.EMPLOYMENT_STATUS.OPTION5" | translate
          }}</option>
          <option value="PREFER NOT TO SAY">{{
            "PROFILE.BASIC_INFO.FORM.EMPLOYMENT_STATUS.OPTION6" | translate
          }}</option>
        </select>
      </div>

      <!-- <div class="BasicInfo-row-cell BasicInfo-radio">
        <label
          [class.disabled]="isDisabled"
          class="mesf-Text BasicInfo-text BasicInfo-radio-item"
          ><span>STUDENT</span
          ><input
            type="radio"
            name="profession"
            value="Student"
            [(ngModel)]="user.profession"
            checked /><i></i
        ></label>
        <label
          [class.disabled]="isDisabled"
          class="mesf-Text BasicInfo-text BasicInfo-radio-item"
          ><span>WORKING</span
          ><input
            type="radio"
            name="profession"
            value="Working"
            [(ngModel)]="user.profession"
            checked /><i></i
        ></label>
      </div> -->

      <div class="BasicInfo-row-cell">
        <div class="mesf-Text BasicInfo-text">
          {{ "PROFILE.BASIC_INFO.FORM.GENDER.NAME" | translate }}
        </div>

        <select
          [attr.disabled]="isDisabled ? isDisabled : null"
          class="selectpicker is-profile"
          name="gender"
          id="gender"
          placeholder="GENDER"
          [(ngModel)]="user.gender"
        >
          <option value="MALE">{{
            "PROFILE.BASIC_INFO.FORM.GENDER.OPTION1" | translate
          }}</option>
          <option value="FEMALE">{{
            "PROFILE.BASIC_INFO.FORM.GENDER.OPTION2" | translate
          }}</option>
          <option value="PREFER NOT TO SAY">{{
            "PROFILE.BASIC_INFO.FORM.GENDER.OPTION3" | translate
          }}</option>
        </select>
      </div>
      <!-- <div class="BasicInfo-row-cell BasicInfo-radio">
        <label
          [class.disabled]="isDisabled"
          class="mesf-Text BasicInfo-text BasicInfo-radio-item"
          ><span>MALE</span
          ><input
            type="radio"
            name="gender"
            value="Male"
            [(ngModel)]="user.gender"
            checked /><i></i
        ></label>
        <label
          [class.disabled]="isDisabled"
          class="mesf-Text BasicInfo-text BasicInfo-radio-item"
          ><span>FEMALE</span
          ><input
            type="radio"
            name="gender"
            value="Female"
            [(ngModel)]="user.gender"
            checked /><i></i
        ></label>
      </div> -->
    </div>

    <div class="BasicInfo-row">
      <div class="BasicInfo-row-cell">
        <div class="mesf-Text BasicInfo-text">
          {{ "PROFILE.BASIC_INFO.FORM.PARENTAL_STATUS.NAME" | translate }}
        </div>

        <select
          [attr.disabled]="isDisabled ? isDisabled : null"
          class="selectpicker is-profile"
          name="parentalStatus"
          id="parentalStatus"
          placeholder="PARENTAL STATUS"
          [(ngModel)]="user.parentalStatus"
        >
          <option value="PARENT">{{
            "PROFILE.BASIC_INFO.FORM.PARENTAL_STATUS.OPTION1" | translate
          }}</option>
          <option value="NOT A PARENT">{{
            "PROFILE.BASIC_INFO.FORM.PARENTAL_STATUS.OPTION2" | translate
          }}</option>
          <option value="PREFER NOT TO SAY">{{
            "PROFILE.BASIC_INFO.FORM.PARENTAL_STATUS.OPTION3" | translate
          }}</option>
        </select>
      </div>

      <div class="BasicInfo-row-cell">
        <div class="mesf-Text BasicInfo-text">
          {{ "PROFILE.BASIC_INFO.FORM.DOB.NAME" | translate }}
        </div>
        <input
          (focus)="picker.open()"
          matInput
          [matDatepicker]="picker"
          [class.disabled]="isDisabled"
          [(ngModel)]="user.dob"
          class="BasicInfo-box-input date-input"
          placeholder="DD/MM/YYYY"
          name="dob"
          #dobpick="ngModel"
          [max]="todayDate"
        />
        <mat-datepicker #picker></mat-datepicker>
        <div
          *ngIf="f.submitted && dobpick.invalid && !isDisabled"
          class="error"
        >
          <div *ngIf="dateformat(user.dob) > todayDate">
            {{ "PROFILE.BASIC_INFO.FORM.DOB.ERROR" | translate }}
          </div>
        </div>
      </div>

      <div class="BasicInfo-row-cell"></div>
    </div>

    <div class="BasicInfo-row">
      <div class="BasicInfo-row-cell">
        <div class="mesf-Text BasicInfo-text">
          {{ "PROFILE.BASIC_INFO.FORM.COUNTRY.NAME" | translate }}
          <span *ngIf="!isDisabled">*</span>
        </div>

        <select
          [attr.disabled]="isDisabled ? isDisabled : null"
          class="selectpicker is-profile"
          data-live-search="true"
          name="country"
          #country="ngModel"
          id="country"
          placeholder="COUNTRY"
          [(ngModel)]="user.country"
          required
          (change)="onChangeCountry($event.target.value)"
        >
          <option
            [value]="single_country.name"
            *ngFor="let single_country of countries"
          >
            {{ single_country.name }}
          </option>
          <!-- <option data-tokens="ketchup mustard" value="Malaysia"
            >Malaysia</option
          >
          <option data-tokens="mustard" value="India">India</option>
          <option data-tokens="frosting" value="USA">USA</option> -->
        </select>
        <div
          *ngIf="f.submitted && country.invalid && !isDisabled"
          class="error"
        >
          <div *ngIf="country.errors.required">
            {{ "PROFILE.BASIC_INFO.FORM.COUNTRY.ERROR" | translate }}
          </div>
        </div>
      </div>

      <div class="BasicInfo-row-cell">
        <div class="mesf-Text BasicInfo-text">
          {{ "PROFILE.BASIC_INFO.FORM.STATE.NAME" | translate }}
          <span *ngIf="!isDisabled">*</span>
        </div>

        <select
          [attr.disabled]="isDisabled ? isDisabled : null"
          class="selectpicker is-profile"
          data-live-search="true"
          name="state"
          #state="ngModel"
          id="state"
          placeholder="STATE"
          [(ngModel)]="user.state"
          required
        >
          <option
            [value]="single_state.name"
            *ngFor="let single_state of states"
          >
            {{ single_state.name }}
          </option>
          <!-- <option value="Pune">Pune</option>
          <option value="Delhi">Delhi</option>
          <option value="Delhi">Delhi</option>
          <option value="Jammu">Jammu</option> -->
        </select>
        <div *ngIf="f.submitted && state.invalid && !isDisabled" class="error">
          <div *ngIf="state.errors.required">
            {{ "PROFILE.BASIC_INFO.FORM.STATE.ERROR" | translate }}
          </div>
        </div>
      </div>

      <div class="BasicInfo-row-cell">
        <div class="mesf-Text BasicInfo-text">
          {{ "PROFILE.BASIC_INFO.FORM.POSTAL_CODE.NAME" | translate }}
          <span *ngIf="!isDisabled">*</span>
        </div>

        <input
          [class.disabled]="isDisabled"
          type="text"
          name="postalCode"
          #postalCode="ngModel"
          [(ngModel)]="user.postalCode"
          placeholder="412741"
          class="BasicInfo-box-input"
          [ngClass]="{
            bordered: f.submitted && postalCode.invalid && !isDisabled
          }"
          required
        />
        <div
          *ngIf="f.submitted && postalCode.invalid && !isDisabled"
          class="error"
        >
          <div *ngIf="postalCode.errors.required">
            {{ "PROFILE.BASIC_INFO.FORM.POSTAL_CODE.ERROR" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="mesf-Text BasicInfo-text">
        {{ "PROFILE.BASIC_INFO.FORM.SHORT_BIO.NAME" | translate }}
      </div>

      <textarea
        [class.disabled]="isDisabled"
        class="BasicInfo-textarea"
        rows="4"
        name="shortBio"
        [(ngModel)]="user.shortBio"
      ></textarea>
    </div>

    <div class="BasicInfo-footer">
      <button
        *ngIf="isDisabled"
        (click)="onToggleEdit()"
        class="btn btn-outline-light"
      >
        {{ "BUTTON.EDIT" | translate }}
      </button>
      <button
        type="button"
        (click)="cancel()"
        *ngIf="!isDisabled"
        class="btn btn-outline-light cancel"
      >
        {{ "BUTTON.CANCEL" | translate }}
      </button>
      <button *ngIf="!isDisabled" type="submit" class="btn btn-outline-light">
        {{ "BUTTON.SAVE" | translate }}
      </button>
    </div>
  </form>
</div>

<app-loading *ngIf="!user"></app-loading>
