<div class="global-scrollbar">
  <ngx-datatable
    #table
    class="global-DataTable"
    [columnMode]="'flex'"
    [columns]="columnsFirstTab"
    [footerHeight]="'auto'"
    [headerHeight]="'auto'"
    [limit]="50"
    [rowHeight]="'auto'"
    [rows]="advertisementList"
  >
    <ngx-datatable-column name="Campaign Number" [flexGrow]="1">
    </ngx-datatable-column>

    <ngx-datatable-column name="Campaign Name" [flexGrow]="3">
    </ngx-datatable-column>

    <ngx-datatable-column name="Advertisement Type" [flexGrow]="1">
    </ngx-datatable-column>

    <ngx-datatable-column name="" [flexGrow]="1">
      <ng-template #buttonsTemplate let-row="row" ngx-datatable-cell-template>
        <button
          *ngIf="viewIconShow"
          (click)="actionBannerAd(row)"
          mat-icon-button
          color="primary"
        >
          <mat-icon class="advertisement-tableBtn is-view">visibility</mat-icon>
        </button>

        <button
          *ngIf="deleteIconShow"
          (click)="onRemoveUser(row)"
          mat-icon-button
        >
          <mat-icon color="accent" class="advertisement-tableBtn is-remove">
            delete
          </mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
