@import "shared";

:host {
  display: flex;
}

.TournamentCard {
  width: 100%;
  max-width: 293px;
  background: var(--white);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 16px;
  @include md {
    max-width: 253px;
  }
  &-image {
    width: 100%;
    height: 153px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include md {
      height: 132px;
    }
  }

  &-content {
    padding: 24px 16px;
    width: 100%;
  }

  &-header {
    margin-bottom: 8px;
  }

  &-header-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--blackcurrant-color-medium);
    margin-bottom: 0px;
    @include md {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &-header-link {
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-date {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-black-medium);
    margin-bottom: 0;
  }
}
