<div class="TournamentCard" [routerLink]="['/tournament', data?.slug]">
  <div class="TournamentCard-image">
    <img [lazyLoad]="(data?.image)">
  </div>

  <div class="TournamentCard-content">
    <header class="TournamentCard-header">
      <h4 class="TournamentCard-header-title">
        {{ data.gameName }}
      </h4>

      <!-- <a class="TournamentCard-header-link global-link" *ngIf="isManage">
        {{index+1 }} <sup>{{'st'|lowercase}}</sup>
      </a>

      <a class="TournamentCard-header-link global-link" *ngIf="!isManage">
        {{ "BUTTON.VIEW" | translate }}
      </a> -->
    </header>

    <p class="TournamentCard-date">Fortnite • {{ data.startDate | date:'dd-MMM-yyyy' }}</p>
  </div>
</div>
