<div class="global-scrollbar">
  <ngx-datatable
    #table
    class="global-DataTable"
    (select)="onSelect($event)"
    [columnMode]="'force'"
    [columns]="columns"
    [footerHeight]="'auto'"
    [headerHeight]="'auto'"
    [limit]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
  >
    <ngx-datatable-column name="Id"></ngx-datatable-column>
    <ngx-datatable-column name="Full Name"></ngx-datatable-column>
    <ngx-datatable-column name="Email"></ngx-datatable-column>
    <ngx-datatable-column name="Phone Number"></ngx-datatable-column>
    <ngx-datatable-column name="Sign Up From"></ngx-datatable-column>

    <ngx-datatable-column name="Member Since">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["MembserSince"] | date: "dd MMM yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Amount Spend"></ngx-datatable-column>

    <ngx-datatable-column name="">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button
          class="UserManagement-tableBtn is-view"
          mat-icon-button
          color="primary"
        >
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon color="accent" class="UserManagement-tableBtn is-remove">
            remove_circle
          </mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
