<ng-container *ngIf="isLoaded">
  <ng-container>
    <ng-container *ngIf="type == 'single' && !isUpdateMatchScore">
      <app-single-elimination
        [matchTemplate]="matchTemplate"
        [tournament]="structure"
      ></app-single-elimination>
    </ng-container>

    <ng-container *ngIf="type == 'double' && !isUpdateMatchScore">
      <app-double-elimination
        [matchTemplate]="matchTemplate"
        [tournament]="structure"
      ></app-double-elimination>
    </ng-container>

    <ng-container *ngIf="type == 'round_robin' && !isUpdateMatchScore">
      <app-round-robin-multi
        (openScoreCard)="updatedScoreCard($event)"
        [countryList]="countryList"
        [isAdmin]="isAdmin"
        [isScreenshotRequired]="tournament?.isScreenshotRequired"
        [isSeeded]="isSeeded"
        [isShowCountryFlag]="isShowCountryFlag"
        [participantId]="participantId"
        [scoreReporting]="tournament?.scoreReporting"
        [stageBracketType]="tournament?.stageBracketType"
        [structure]="structure"
        [tournamentId]="tournament?._id"
        [participantType]="participantType"
      ></app-round-robin-multi>
    </ng-container>

    <ng-container *ngIf="type == 'battle_royale'">
      <app-battle-royale-multi
        (isRefresh)="exitFromScoreCard($event)"
        [isAdmin]="isAdmin"
        [isSeeded]="isSeeded"
        [participantType]="participantType"
        [structure]="structure"
        [tournamentId]="tournament?._id"
      ></app-battle-royale-multi>
    </ng-container>
    <ng-container *ngIf="type == 'swiss_safeis'">
      <app-swiss-system
        [matchList]="structure"
        [isSeeded]="isSeeded"
        [isAdmin]="isAdmin"
        [tournament]="tournament"
        [participantId]="participantId"
        [enableWebview]="enableWebview"
        [disableStanding]="disableStanding"
        [hideMockStructure]="hideMockStructure"
        (isRefresh)="exitFromScoreCard($event)"
      >
      </app-swiss-system>
    </ng-container>
    <ng-template #matchTemplate let-match>
      <app-match
        (openScoreCard)="updatedScoreCard($event)"
        [countryList]="countryList"
        [isAdmin]="isAdmin"
        [isSeeded]="isSeeded"
        [isShowCountryFlag]="tournament?.isShowCountryFlag"
        [match]="match"
        [participantType]="participantType"
        [participantId]="participantId"
      ></app-match>
    </ng-template>

    <app-score-card
      *ngIf="isUpdateMatchScore"
      (exit)="exitFromScoreCard($event)"
      [isAdmin]="isAdmin"
      [match]="match"
      [participantId]="participantId"
      [tournament]="tournament"
    ></app-score-card>
  </ng-container>

  <app-awards
    *ngIf="
      tournament?.isFinished && !isAdmin && !enableWebview && !disableStanding
    "
    [tournamentId]="tournament?._id"
    [type]="type"
  ></app-awards>
</ng-container>

<app-loading *ngIf="!isLoaded"></app-loading>
