<div class="Vouchers-slider">
  <div class="Vouchers-slider-swiper">
    <swiper [config]="swiperConfig" [disabled]="true">
      <div
        *ngFor="let item of slider.slice(0, 5); let index = index"
        (click)="onSetMainSlide(item, index)"
        [class.is-checked]="item.isSelected"
        class="Vouchers-slider-swiper-item swiper-slide"
      >
        <img [src]="item.logo" alt="image" />
      </div>
    </swiper>
  </div>

  <div
    [style.backgroundImage]="'url(' + activeSlide.img + ')'"
    class="Vouchers-slider-active"
  >
    <div class="Vouchers-slider-active-title">
      {{ activeSlide.title }}
    </div>
    <div class="Vouchers-slider-active-text mesf-Elipses4">
      {{ activeSlide.text }}
    </div>

    <button class="Vouchers-slider-swiper-item-button mesf-EditBtn">
      {{ "HOME_2.SHOP_NOW" | translate }}
    </button>
  </div>
</div>
