@import "shared";

:host {
  width: 100%;
  display: block;
}

.Vouchers-slider {
  border-radius: px2vw-xl(4px);
  background: #171616;

  .Vouchers-slider-swiper-prev,
  .Vouchers-slider-swiper-next {
    display: none;
  }

  @include lg {
    border-radius: px2vw-lg(4px);
  }

  @include md {
    border-radius: px2vw-md(4px);
  }

  @include sm {
    border-radius: px2vw-sm(4px);
  }

  &-swiper {
    position: relative;

    swiper {
      display: block;
    }

    &-item {
      margin: px2vw-xl(10px) px2vw-xl(9px);
      padding: px2vw-xl(10px);
      border-radius: px2vw-xl(4px);
      background: #232120;
      height: px2vw-xl(83px) !important;
      width: px2vw-xl(310px) !important;
      cursor: pointer;
      flex-grow: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      &.is-checked {
        background-color: transparent;
      }

      @include lg {
        margin: px2vw-lg(10px) px2vw-lg(5px);
        padding: px2vw-lg(10px);
        border-radius: px2vw-lg(4px);
        height: px2vw-lg(83px) !important;
        width: px2vw-lg(220.5px) !important;
      }

      @include md {
        margin: px2vw-md(10px);
        padding: px2vw-md(10px);
        border-radius: px2vw-md(4px);
        height: px2vw-md(83px) !important;
        width: px2vw-md(220.5px) !important;
      }

      @include sm {
        margin: px2vw-sm(10px) px2vw-sm(5px);
        padding: px2vw-sm(10px);
        border-radius: px2vw-sm(4px);
        height: px2vw-sm(83px) !important;
        width: px2vw-sm(254px) !important;
      }

      img {
        height: px2vw-xl(42px);
        object-fit: cover;

        @include lg {
          height: px2vw-lg(42px);
        }

        @include md {
          height: px2vw-md(42px);
        }

        @include sm {
          height: px2vw-sm(42px);
        }
      }

      &-button {
        z-index: 1;
        padding: px2vw-xl(10px);
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(21px);
        background-color: var(--orange-color-main);
        color: var(--whitecolor);

        @include lg {
          padding: px2vw-lg(10px);
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(21px);
        }

        @include md {
          padding: px2vw-md(10px);
          font-size: px2vw-md(16px);
          line-height: px2vw-md(21px);
        }

        @include sm {
          padding: px2vw-sm(10px);
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(21px);
        }
      }
    }

    &-prev,
    &-next {
      font-size: px2vw-xl(14px);
      width: px2vw-xl(30px);
      border: none;
      background: transparent;
      position: absolute;
      top: 0;
      font-family: swiper-icons;
      font-weight: 900;
      color: var(--whitecolor);
      height: 100%;

      @include lg {
        font-size: px2vw-lg(14px);
        width: px2vw-lg(30px);
      }

      @include md {
        font-size: px2vw-md(14px);
        width: px2vw-md(30px);
      }

      @include sm {
        font-size: px2vw-sm(14px);
        width: px2vw-sm(30px);
      }
    }

    &-prev {
      left: px2vw-xl(-30px);

      @include lg {
        left: px2vw-lg(-30px);
      }

      @include md {
        left: px2vw-md(-30px);
      }

      @include sm {
        left: px2vw-sm(-30px);
      }

      &:after {
        content: "prev";
      }
    }

    &-next {
      right: px2vw-xl(-30px);

      @include lg {
        right: px2vw-lg(-30px);
      }

      @include md {
        right: px2vw-md(-30px);
      }

      @include sm {
        right: px2vw-sm(-30px);
      }

      &:after {
        content: "next";
      }
    }
  }

  &-active {
    position: relative;
    border-bottom-left-radius: px2vw-xl(4px);
    border-bottom-right-radius: px2vw-xl(4px);
    padding: px2vw-xl(48px);
    min-height: px2vw-xl(415px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: self-start;

    @include lg {
      border-bottom-left-radius: px2vw-lg(4px);
      border-bottom-right-radius: px2vw-lg(4px);
      padding: px2vw-lg(48px);
      min-height: px2vw-lg(415px);
    }

    @include md {
      border-bottom-left-radius: px2vw-md(4px);
      border-bottom-right-radius: px2vw-md(4px);
      padding: px2vw-md(24px);
      min-height: px2vw-md(380px);
    }

    @include sm {
      border-bottom-left-radius: px2vw-sm(4px);
      border-bottom-right-radius: px2vw-sm(4px);
      padding: px2vw-sm(24px);
      min-height: px2vw-sm(320px);
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        140deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &-title {
      z-index: 1;
      margin-bottom: px2vw-xl(16px);
      font-size: px2vw-xl(56px);
      line-height: px2vw-xl(60px);
      font-family: "dynasty-primary-large", sans-serif;
      text-transform: uppercase;

      @include lg {
        margin-bottom: px2vw-lg(16px);
        font-size: px2vw-lg(56px);
        line-height: px2vw-lg(60px);
      }

      @include md {
        margin-bottom: px2vw-md(16px);
        font-size: px2vw-md(56px);
        line-height: px2vw-md(60px);
      }

      @include sm {
        margin-bottom: px2vw-sm(16px);
        font-size: px2vw-sm(56px);
        line-height: px2vw-sm(60px);
      }
    }

    &-text {
      z-index: 1;
      margin-bottom: px2vw-xl(26px);
      max-width: px2vw-xl(400px);
      font-family: "dynasty-primary-light", sans-serif;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      min-height: px2vw-xl(95px);

      @include lg {
        margin-bottom: px2vw-lg(26px);
        max-width: px2vw-lg(400px);
        min-height: px2vw-lg(95px);
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        margin-bottom: px2vw-md(26px);
        max-width: px2vw-md(400px);
        min-height: px2vw-md(95px);
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        margin-bottom: px2vw-sm(26px);
        max-width: px2vw-sm(400px);
        min-height: px2vw-sm(95px);
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
      }
    }
  }
}
