<app-header-info
  *ngIf="!isInEditMode"
  [title]="'CREATE_TEAM.HEADER_TITLE' | translate"
></app-header-info>
<app-header-info
  *ngIf="isInEditMode"
  [title]="'CREATE_TEAM.HEADER_TITLE1' | translate"
></app-header-info>

<div class="HeaderInfo-Top">
  <div class="u-wp">
    <div class="CreateTeam">
      <form
        focusInvalidInput
        class="CreateTeam-form"
        [formGroup]="form"
        (ngSubmit)="createTeam()"
      >
        <!-- Team logo -->
        <div class="CreateTeam-item u-dfStart">
          <div class="CreateTeam-item-image-block">
            <img
              class="CreateTeam-item-image"
              src="assets/icons/create-team/picture.svg"
              alt="picture"
            />
          </div>

          <div class="CreateTeam-item-container">
            <div class="CreateTeam-item-fields">
              <app-upload-image
                class="CreateTeam-item-field upload-photo"
                [customFormGroup]="form"
                [customFormControlName]="'teamLogo'"
                [dimension]="{ width: 1000, height: 1000 }"
                [id]="'LOGO'"
                [size]="1000 * 1000 * 5"
                [title]="'CREATE_TEAM.LOGO.TITLE' | translate"
                [subtitle]="'CREATE_TEAM.LOGO.SUBTITLE' | translate"
              ></app-upload-image>
            </div>
          </div>
        </div>

        <!-- Team details -->
        <div class="CreateTeam-item u-dfStart">
          <div class="CreateTeam-item-image-block">
            <img
              class="CreateTeam-item-image"
              src="assets/icons/create-team/font.svg"
              alt="picture"
            />
          </div>

          <div class="CreateTeam-item-container">
            <img
              class="CreateTeam-item-image1"
              src="assets/icons/create-team/font.svg"
              alt="picture"
            />
            <h3 class="CreateTeam-item-title global-Title2">
              {{ "CREATE_TEAM.DETAILS.TITLE" | translate }}
            </h3>

            <p class="CreateTeam-item-subtitle global-Text">
              {{ "CREATE_TEAM.DETAILS.SUBTITLE" | translate }}
            </p>

            <div class="CreateTeam-item-fields">
              <div class="CreateTeam-item-input-block">
                <input
                  class="CreateTeam-item-input form-control"
                  type="text"
                  formControlName="teamName"
                  id="teamName"
                  [placeholder]="
                    'CREATE_TEAM.DETAILS.TEAM_NAME_PLACEHOLDER' | translate
                  "
                />

                <div
                  *ngIf="
                    form.get('teamName').touched &&
                    form.get('teamName').errors?.required
                  "
                  class="error"
                >
                  {{ "PROFILE.TEAMS.ERRORS.ERROR1" | translate }}
                </div>
              </div>

              <div class="CreateTeam-item-input-block">
                <textarea
                  class="CreateTeam-item-textarea form-control"
                  [maxLength]="biographyLength"
                  formControlName="shortDescription"
                  id="shortDescription"
                  [placeholder]="
                    'CREATE_TEAM.DETAILS.SHORT_BIO_PLACEHOLDER' | translate
                  "
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <!-- Social Media -->
        <div class="CreateTeam-item u-dfStart">
          <div class="CreateTeam-item-image-block">
            <img
              class="CreateTeam-item-image"
              src="assets/icons/create-team/social.svg"
              alt="picture"
            />
          </div>

          <div class="CreateTeam-item-container">
            <img
              class="CreateTeam-item-image1"
              src="assets/icons/create-team/social.svg"
              alt="picture"
            />
            <h3 class="CreateTeam-item-title global-Title2">
              {{ "CREATE_TEAM.SOCIAL_MEADIA.TITLE" | translate }}
            </h3>

            <p class="CreateTeam-item-subtitle global-Text">
              {{ "CREATE_TEAM.SOCIAL_MEADIA.SUBTITLE" | translate }}
            </p>

            <div class="CreateTeam-item-fields">
              <div class="CreateTeam-item-input-block">
                <div class="searchDropdown">
                  <div
                    (click)="hideDropdown = !hideDropdown"
                    class="form-control text-left u-dfCenterBtw curp"
                  >
                    <span>{{
                      "CREATE_TEAM.SOCIAL_MEADIA.SELECT" | translate
                    }}</span>
                    <span><img src="./assets/icons/dropArrow.svg" /></span>
                  </div>
                  <div
                    *ngIf="hideDropdown"
                    id="myDropdown"
                    class="searchDropdown-wrapper"
                  >
                    <input
                      type="text"
                      class="searchDropdown-filter"
                      [placeholder]="
                        'CREATE_TEAM.ADD_PARTICIPANTS.SEARCH' | translate
                      "
                      id="myInput"
                      (keyup)="filterFunction()"
                    />
                    <ng-container *ngFor="let social of mock_select">
                      <a
                        class="searchDropdown-list"
                        (click)="getValue(social)"
                        >{{ social.name | translate | titlecase }}</a
                      >
                    </ng-container>
                  </div>

                  <div
                    *ngIf="removeSocial.length"
                    class="searchDropdown-bunchWrapper mt-2"
                  >
                    <ng-container
                      *ngFor="let g of selectedSocial; let i = index"
                    >
                      <div class="searchDropdown-group">
                        <span>
                          <input
                            id="socialMedia"
                            class="form-control"
                            type="text"
                            [formControlName]="g.name"
                            [placeholder]="g.placeholder | translate"
                            [value]="g.value"
                          />
                        </span>
                        <i (click)="removeSocial(i)">
                          <img
                            class="searchDropdown-group-close"
                            src="./assets/icons/close.svg"
                          />
                        </i>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Add participants -->
        <div class="CreateTeam-item u-dfStart">
          <div class="CreateTeam-item-image-block">
            <img
              class="CreateTeam-item-image"
              src="assets/icons/create-team/participants.svg"
              alt="picture"
            />
          </div>

          <div class="CreateTeam-item-container">
            <img
              class="CreateTeam-item-image1"
              src="assets/icons/create-team/participants.svg"
              alt="picture"
            />
            <h3 class="CreateTeam-item-title global-Title2">
              {{ "CREATE_TEAM.ADD_PARTICIPANTS.TITLE" | translate }}
            </h3>

            <p class="CreateTeam-item-input-heading global-Title3 add-user">
              {{ "CREATE_TEAM.ADD_PARTICIPANTS.SUBTITLE" | translate }}
            </p>

            <div class="CreateTeam-item-fields">
              <!-- Add participants input -->
              <div class="CreateTeam-item-input-block add-participants">
                <input
                  data-test-id="tournament-tournamentSearch"
                  [editable]="false"
                  type="text"
                  (change)="onChangeMembers()"
                  (ngModelChange)="addMembers()"
                  [ngbTypeahead]="search"
                  [resultFormatter]="formatter"
                  class="CreateTeam-item-input input form-control"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="membersObj"
                  [resultTemplate]="userList"
                />
                <div
                  class="selected-tags cursor"
                  *ngIf="form.value.members.length"
                >
                  <div
                    *ngFor="let user of form.value.members; let indx = index"
                  >
                    <div
                      [className]="
                        user.status == 'deleted' ? 'chipRed' : 'chip'
                      "
                      *ngIf="!user.teamMemberId"
                    >
                      <img
                        [src]="
                          user.profilePicture
                            ? user.profilePicture
                            : 'assets/images/Profile/stc_avatar.png'
                        "
                        class="mr-1"
                        style="width: 16px;"
                      />
                      {{ user.fullName | limitString: 17:"..."}}
                      <span (click)="removeMember(indx)" class="closebtn"
                        >&times;</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <p
                class="CreateTeam-item-input-heading global-Title3 email"
                *ngIf="!isInEditMode"
              >
                {{ "CREATE_TEAM.ADD_PARTICIPANTS.HEADING" | translate }}
              </p>

              <div
                class="CreateTeam-item-input-block email-address addButton"
              >
                <img
                  class="email-icon"
                  src="assets/icons/create-team/email.svg"
                  alt="email icon"
                />

                <input
                  class="CreateTeam-item-input input form-control"
                  type="email"
                  formControlName="email"
                  [placeholder]="
                    'CREATE_TEAM.ADD_PARTICIPANTS.INVITE_PLACEHOLDER'
                      | translate
                  "
                />
                <button
                  type="button"
                  class="CreateTeam-button global-EditBtn"
                  (click)="addEmails()"
                >
                  {{ "CREATE_TEAM.BUTTONS.ADD" | translate }}
                </button>
              </div>
            </div>
            <div class="selected-tags cursor" *ngIf="emailInvitation.length">
              <div *ngFor="let email of emailInvitation; let indx = index">
                &nbsp;&nbsp;
                <img
                  class="email-icon"
                  src="assets/icons/create-team/email.svg"
                  alt="email icon"
                />
                {{ email }}
                <span (click)="removeEmail(indx)" class="closebtn"
                  >&times;</span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="CreateTeam-buttons u-dfStartEnd">
          <button
            *ngIf="!isInEditMode"
            class="CreateTeam-button global-EditBtn dark-text"
            [routerLink]="AppHtmlProfileRoutes.teams"
            type="button"
          >
            {{ "CREATE_TEAM.BUTTONS.CANCEL" | translate }}
          </button>
          <button
            *ngIf="isInEditMode"
            class="CreateTeam-button global-EditBtn dark-text"
            (click)="cancel()"
            type="button"
          >
            {{ "CREATE_TEAM.BUTTONS.CANCEL" | translate }}
          </button>
          <button
            [disabled]="form.invalid || clicked"
            *ngIf="!isInEditMode"
            class="CreateTeam-button global-EditBtn"
            type="submit"
          >
            {{ "CREATE_TEAM.BUTTONS.CONFIRM" | translate }}
          </button>
          <button
            [disabled]="form.invalid || clicked"
            *ngIf="isInEditMode"
            class="CreateTeam-button global-EditBtn"
            type="submit"
          >
            {{ "BUTTON.SAVE" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #userList let-r="result" let-t="term">
  <img
    [src]="
      r.profilePicture
        ? r.profilePicture
        : 'assets/images/Profile/stc_avatar.png'
    "
    class="mr-1"
    style="width: 16px;"
  />
  <ngb-highlight [result]="r.fullName" [term]="t"></ngb-highlight>
</ng-template>
