@import "shared";
@import "../../../scss/components/create-team";

:host {
  display: block;
}

.bordered {
  border-color: var(--ui-error) !important;
}

.error {
  color: var(--ui-error) !important;
}
/* chip */
.selected-tags {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding: 0.2em;
  //box-shadow: 4px 4px 6px var(--base-gainsboro);
  border-radius: 4px;
}
.chip {
  padding: 0 1em;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid var(--ui-dim-gray);
  letter-spacing: 0.5px;
  font-family: "stc-forward-light", sans-serif !important;
  color: var(--ui-dim-gray);
}
.chipRed {
  padding: 0 1em;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid var(--ui-venetian-red);
  letter-spacing: 0.5px;
  font-family: "stc-forward-light", sans-serif !important;
  color: var(--ui-venetian-red);
}
.closebtn {
  padding-left: 10px;
  color: var(--ui-dim-gray);
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: var(--primary-cinnabar);
}

.CreateTeam {
  margin: 0 auto;
  max-width: px2vw-xl(1110px);

  @include lg {
    max-width: none;
  }

  &-form {
    padding-left: px2vw-xl(20px);
    padding-right: px2vw-xl(115px);

    @include lg {
      padding-left: px2vw-lg(20px);
      padding-right: px2vw-lg(115px);
    }

    @include md {
      padding: 0;
    }
  }

  &-item {
    margin-bottom: px2vw-xl(65px);

    @include lg {
      margin-bottom: px2vw-lg(65px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      flex-direction: column;
      margin-bottom: px2vw-sm(45px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-item-image-block {
    flex-shrink: 0;
    margin-right: px2vw-xl(35px);
    width: px2vw-xl(58px);

    @include lg {
      margin-right: px2vw-lg(35px);
      width: px2vw-lg(58px);
    }

    @include md {
      margin-right: px2vw-md(35px);
      width: px2vw-md(58px);
    }

    @include sm {
      margin-right: 0;
      margin-bottom: px2vw-sm(35px);
      width: px2vw-sm(58px);
    }
  }

  &-item-image {
    max-width: 100%;
    @include sm {
      display: none;
    }
  }
  &-item-image1 {
    display: none;
    @include sm {
      display: inline;
      height: px2vw-sm(40px);
      margin-bottom: px2vw-sm(15px);
    }
  }

  &-item-container {
    flex-grow: 1;

    @include sm {
      width: 100%;
    }
  }

  &-item-title {
    margin-bottom: px2vw-xl(25px);
    line-height: 1.1;

    @include lg {
      margin-bottom: px2vw-lg(25px);
    }

    @include md {
      margin-bottom: px2vw-md(25px);
    }

    @include sm {
      margin-bottom: px2vw-sm(25px);
      display: inline;
    }
  }

  &-item-subtitle {
    margin-bottom: px2vw-xl(40px);
    letter-spacing: 1px;
    color: var(--base-black);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
      margin-top: px2vw-sm(20px);
    }
  }

  &-item-input-block {
    position: relative;
    margin-top: px2vw-xl(40px);

    @include lg {
      margin-top: px2vw-lg(40px);
    }

    @include md {
      margin-top: px2vw-md(40px);
    }

    @include sm {
      margin-top: px2vw-sm(40px);
    }

    &:first-child {
      margin-top: 0;
    }

    &.add-participants {
      .input {
        padding-right: px2vw-xl(65px);

        @include lg {
          padding-right: px2vw-lg(65px);
        }

        @include md {
          padding-right: px2vw-md(65px);
        }

        @include sm {
          padding-right: px2vw-sm(65px);
        }
      }

      .add-button {
        position: absolute;
        z-index: 5;
        top: 50%;
        right: px2vw-xl(20px);
        transform: translateY(-50%);
        background-color: transparent;
        transition: 100ms;

        &:hover {
          opacity: 0.8;
        }

        @include lg {
          right: px2vw-lg(20px);
        }

        @include md {
          right: px2vw-md(20px);
        }

        @include sm {
          right: px2vw-sm(20px);
        }
      }

      .add-button-icon {
        width: px2vw-xl(30px);
        height: px2vw-xl(30px);

        @include lg {
          width: px2vw-lg(30px);
          height: px2vw-lg(30px);
        }

        @include md {
          width: px2vw-md(30px);
          height: px2vw-md(30px);
        }

        @include sm {
          width: px2vw-sm(30px);
          height: px2vw-sm(30px);
        }
      }
    }

    &.email-address {
      margin-top: px2vw-xl(20px);

      @include lg {
        margin-top: px2vw-lg(20px);
      }

      @include md {
        margin-top: px2vw-md(20px);
      }

      @include sm {
        margin-top: px2vw-sm(20px);
      }

      .input {
        padding-left: px2vw-xl(77px);

        @include lg {
          padding-left: px2vw-lg(77px);
        }

        @include md {
          padding-left: px2vw-md(77px);
        }

        @include sm {
          padding-left: px2vw-sm(77px);
        }
      }

      .email-icon {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: px2vw-xl(32px);
        height: px2vw-xl(20px);
        width: px2vw-xl(25px);

        @include lg {
          left: px2vw-lg(32px);
          height: px2vw-lg(20px);
          width: px2vw-lg(25px);
        }

        @include md {
          left: px2vw-md(32px);
          height: px2vw-md(20px);
          width: px2vw-md(25px);
        }

        @include sm {
          left: px2vw-sm(32px);
          height: px2vw-sm(20px);
          width: px2vw-sm(25px);
        }
      }
    }
  }

  &-item-input-tooltip {
    margin-top: px2vw-xl(15px);
    margin-bottom: 0;
    text-align: right;
    color: var(--base-black);

    @include lg {
      margin-top: px2vw-lg(15px);
    }

    @include md {
      margin-top: px2vw-md(15px);
    }

    @include sm {
      margin-top: px2vw-sm(15px);
    }
  }

  &-item-input-heading {
    margin-bottom: 0;
    font-size: px2vw-xl(20px);

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &.add-user {
      margin-bottom: px2vw-xl(25px);

      @include lg {
        margin-bottom: px2vw-lg(25px);
      }

      @include md {
        margin-bottom: px2vw-md(25px);
      }

      @include sm {
        margin-bottom: px2vw-sm(25px);
        margin-top: px2vw-sm(20px);
      }
    }

    &.email {
      margin-top: px2vw-xl(30px);

      @include lg {
        margin-top: px2vw-lg(30px);
      }

      @include md {
        margin-top: px2vw-md(30px);
      }

      @include sm {
        margin-top: px2vw-sm(30px);
      }
    }
  }

  &-item-textarea {
    resize: none;
    height: px2vw-xl(135px);

    @include lg {
      height: px2vw-lg(135px);
    }

    @include md {
      height: px2vw-md(135px);
    }

    @include sm {
      height: px2vw-sm(135px);
    }
  }

  &-buttons {
    margin-top: px2vw-xl(110px);
    border-top: 1px solid var(--base-gainsboro);
    padding: px2vw-xl(40px);
    padding-bottom: 0;

    @include lg {
      justify-content: flex-start;
      margin-top: px2vw-lg(110px);
      padding-top: px2vw-lg(40px);
    }

    @include md {
      margin-top: px2vw-md(60px);
      padding: px2vw-md(30px) 0 0;
    }

    @include sm {
      margin-top: px2vw-sm(50px);
      padding-top: px2vw-sm(25px);
    }
  }

  &-button {
    margin-left: px2vw-xl(16px);

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.searchDropdown {
  &-wrapper {
    box-shadow: 0px 1px 4px var(--base-submarine);
    border-radius: 5px;
    margin: 2px;
    padding: 0.5rem;
    max-height: 141px;
    overflow-y: auto;
  }
  &-filter {
    border: 1px solid var(--ui-dim-gray);
    height: 34px;
    padding: 10px;
    width: 100%;
  }
  &-list {
    display: block;
    opacity: 0.6;
    border-bottom: 1px solid var(--ui-dim-gray);
    padding: 0.5rem 1rem;
  }

  &-group {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    &-close {
      position: absolute;
      z-index: 9;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
  a {
    color: var(--base-black);
  }
}
::ng-deep {
  .dropdown-menu.show {
    display: block;
    height: 100px !important;
    overflow-y: scroll !important;
  }
}
.addButton{
  display: flex;
}