<a [routerLink]="['/leaderboard', params.id]">
  <div class="LeaderBoardCard">
    <div class="LeaderBoardCard-left">
      <div class="LeaderBoardCard-image-block">
        <img class="LeaderBoardCard-image" [src]="params.img" alt="image" />
      </div>
      <div class="LeaderBoardCard-place-block">
        <img
          [src]="addImageToPlace(params.rank)"
          class="LeaderBoardCard-place-image"
          alt="image"
        />
        <span class="LeaderBoardCard-place-text">
          {{ addEndingToPlace(params.rank) }}
        </span>
      </div>
    </div>
    <div class="LeaderBoardCard-right">
      <h3 class="LeaderBoardCard-name">{{ params.name }}</h3>
      <div class="LeaderBoardCard-about">
        <div class="LeaderBoardCard-about-myr">
          <span>Myr</span>
          <span>{{ params.amount }}</span>
        </div>
        <div class="LeaderBoardCard-about-games">
          <span>{{ "HOME.TOURNAMENT.GAMES" | translate }}</span>
          <span>{{ params.gamesCount }}</span>
        </div>
      </div>
    </div>
  </div>
</a>
