@import "shared";

$--ArticleItem-box-after-background: transparent
  linear-gradient(180deg, #00000000 0%, #000000 100%) 0 0 no-repeat padding-box;

:host {
  display: block;
  transition: all 100ms linear;

  &:hover {
    background: var(--graycolor);
  }
}

.ArticleItem {
  @include btnEvents();
  display: block;

  &-box {
    height: px2vw-xl(269px);
    width: 100%;

    @include lg {
      height: px2vw-lg(269px);
    }

    @include md {
      height: px2vw-md(269px);
    }

    @include sm {
      height: px2vw-sm(350px);
    }
  }

  &-content {
    padding: px2vw-xl(16px);
    padding-left: px2vw-xl(5px);

    @include lg {
      padding: px2vw-lg(16px);
      padding-left: px2vw-lg(5px);
    }

    @include md {
      padding: px2vw-md(16px);
      padding-left: px2vw-md(5px);
    }

    @include sm {
      padding: px2vw-sm(16px);
      padding-left: px2vw-sm(5px);
    }

    h2 {
      position: relative;
      z-index: 1;
      text-transform: uppercase;
      margin-bottom: 8px;
    }

    h3 {
      position: relative;
      z-index: 1;
      margin-bottom: 8px;
      color: var(--text-color);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-title {
      @include lg{
        min-height: 70px;
      }
      @include sm{
        min-height: 52px;
      }
      
    }
  }
}

.text-clamp {
  @include textClamp(3);
}
