<form [formGroup]="customFormGroup">
  <div class="TournamentDateLabel">
    <label class="form-label" for="TournamentDate" *ngIf="types === 1">
      {{ "TOURNAMENT_DATE.REGISTRATION" | translate }}
    </label>
    <label class="form-label" for="TournamentDate" *ngIf="types === 2">
      {{ "TOURNAMENT_DATE.TOURNAMENT" | translate }}
    </label>
    <label class="form-label" for="TournamentDate" *ngIf="types === 3">
      {{ title }}
    </label>
  </div>
  <div class="TournamentDateInput" (click)="picker.open()">
    <input class="TournamentDate-field form-field" [name]="customFormControlName" [matDatepicker]="picker"
      [placeholder]="'CREATE_TOURNAMENT.SELECT_DATE.DATE_PLACEHOLDER' | translate"
      [formControlName]="customFormControlName" [min]="minDate" (ngModelChange)="onSubmit()" [disabled]="true" />

    <mat-datepicker #picker disabled="false" class="datepicker"></mat-datepicker>
    <span class="icon" class="TournamentDate-icon"
      inlineSVG="assets/icons/Icon-Calendar-lupin.svg"></span>
    <!-- <img
    class="TournamentDate-icon"
    (click)="picker.open()"
    src="../../../../../assets/images/create-tournament/icon-calendar.png"
    alt="date"
  /> -->
  </div>
</form>
<!-- {{date}} -->