@import "shared";

:host {
  display: block;
}

// .TournamentDate {
//   @extend %u-dfCenterBtw;
//   border-bottom: px2vw-xl(2px) solid var(--white-light);
//   padding: px2vw-xl(20px) px2vw-xl(15px) px2vw-xl(24px) 0;

//   @include lg {
//     border-bottom-width: px2vw-lg(2px);
//     padding: px2vw-lg(20px) px2vw-lg(15px) px2vw-lg(24px) 0;
//   }

//   @include md {
//     border-bottom-width: px2vw-md(2px);
//     padding: px2vw-md(20px) px2vw-md(15px) px2vw-md(24px) 0;
//   }

//   @include sm {
//     border-bottom-width: px2vw-sm(2px);
//     padding: px2vw-sm(20px) px2vw-sm(15px) px2vw-sm(24px) 0;
//   }

//   &-field {
//     width: 85%;
//     font-family: "archivo-black", sans-serif;
//     font-size: px2vw-xl(24px);
//     line-height: 1;
//     letter-spacing: px2vw-xl(0.18px);
//     background-color: transparent;
//     color: var(--white);
//     cursor: pointer;
//     transition: $global-transition;

//     @include lg {
//       font-size: px2vw-lg(24px);
//       letter-spacing: px2vw-lg(0.18px);
//     }

//     @include md {
//       font-size: px2vw-md(24px);
//       letter-spacing: px2vw-md(0.18px);
//     }

//     @include sm {
//       font-size: px2vw-sm(24px);
//       letter-spacing: px2vw-sm(0.18px);
//     }

//     &::placeholder {
//       color: var(--white-medium);
//     }

//     &:hover:not(:focus) {
//       opacity: 0.8;
//     }
//   }

//   &-icon {
//     height: px2vw-xl(23px);
//     width: px2vw-xl(21px);
//     cursor: pointer;
//     transition: $global-transition;

//     @include lg {
//       height: px2vw-lg(23px);
//       width: px2vw-lg(21px);
//     }

//     @include md {
//       height: px2vw-md(23px);
//       width: px2vw-md(21px);
//     }

//     @include sm {
//       height: px2vw-sm(23px);
//       width: px2vw-sm(21px);
//     }

//     &:hover {
//       opacity: 0.8;
//     }
//   }
// }
.TournamentDateLabel {
  label.form-label {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: var(--txt-secondry-active);
    display: block;
    margin-bottom: 4px;
  }
}
.TournamentDateInput {
  position: relative;
  width: 100%;
  background: var(--blackcurrant-color-medium);
  border: 2px solid var(--midnight-express-color);
  border-radius: 4px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 16px;
  .form-field {
    font-family: 'Paralucent-Demi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    width: 100%;
    color: var(--white);
    background-color: transparent;
    &::placeholder {
      color: var(--tertiary-color);
    }
  }
  &:hover {
    border-color: var(--txt-secondry-border) !important;
  }
  &-field {
    cursor: pointer;
    transition: $global-transition;

    &::placeholder {
      font-family: 'Paralucent-Demi';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
    &:hover {
      border-color: var(--txt-secondry-border) !important;
    }
  }
}
.mat-datepicker-content .mat-calendar {
  height: 372px !important;
  color: rgb(206, 37, 37);
}

::ng-deep.mat-datepicker-content .mat-calendar {
  height: auto !important;
  width: 296px !important;
  background: var(--midnight-express-color);
  border: 1px solid var(--color-black-medium);
  box-sizing: border-box;
  box-shadow: 0px 6px 17px rgb(0 0 0 / 16%);
  border-radius: 4px;
}
::ng-deep.mat-datepicker-content .mat-calendar-table-header th {
  padding: 0 0 0px 0 !important;
  font-family: 'Paralucent-Demi';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--tolopea-medium-color);
}
::ng-deep.mat-datepicker-content .mat-calendar-controls {
  margin: 8px 0 16px !important;
}

// ::ng-deep .mat-datepicker-content .mat-calendar {
//   height: 314px !important;
// }
::ng-deep.mat-datepicker-content .mat-button .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > * {
  vertical-align: middle;
  font-family: 'Paralucent-Demi';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--tolopea-medium-color);
}
::ng-deep.mat-datepicker-content
  .mat-calendar-body-disabled
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  font-family: 'Paralucent-Demi';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--tertiary-color);
}
::ng-deep.mat-datepicker-content .mat-calendar-body-selected {
  background: var(--txt-secondry-border);
}
::ng-deep.mat-datepicker-content .mat-calendar-body-cell-content {
  font-family: 'Paralucent-Demi';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}
::ng-deep.mat-button .mat-button-wrapper > *,
.mat-flat-button .mat-button-wrapper > *,
.mat-stroked-button .mat-button-wrapper > *,
.mat-raised-button .mat-button-wrapper > *,
.mat-icon-button .mat-button-wrapper > *,
.mat-fab .mat-button-wrapper > *,
.mat-mini-fab .mat-button-wrapper > * {
  vertical-align: middle;
  color: gray;
}
