<app-header-googly [title]="'TOURNAMENT_CARD.JOIN' | translate"></app-header-googly>
<div class="registration">
  <!-- <header class="banner-header" [style.background-image]="'url(' + tournament?.gameDetail?.image + ')'">
    <div class="banner-block">
      <div class="banner-image-block" [style.background-image]="
          'url(' +
          (tournament?.gameDetail?.logo ||
            'assets/images/Tournament/ava-reg.png') +
          ')'
        "></div>
      <div class="banner-titles">
        <h3 class="banner-title global-Title2 global-Elipses">
          {{ tournament?.name || "N/A" }}
        </h3>
        <h6 class="banner-subtitle global-Title3 global-Elipses">
          {{ tournament?.gameDetail?.name || "N/A" }}
        </h6>
      </div>
    </div>
  </header>
  <esports-fullscreen-loading *ngIf="requestProcessing"></esports-fullscreen-loading> -->


  <div class="tournament_registration">
    <div *ngIf="showParticipantForm; else hideForm">
      <ng-container [ngSwitch]="tournament?.participantType">
        <ng-container *ngSwitchCase="'team'">
          <ng-container *ngTemplateOutlet="team"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'individual'">
          <ng-container *ngTemplateOutlet="individual"></ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <p>
            {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.NO_FORM" | translate }}
          </p>
        </ng-container>
      </ng-container>
    </div>
    <ng-template #hideForm>
      <div *ngIf="isLoaded">
        <div [ngSwitch]="participantRS">
          <h5 *ngSwitchCase="'region-not-allowed'">
            {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.NOT_ALLOWED_1" | translate }}
            {{
            user?.state ||
            ("VIEW_TOURNAMENT.JOIN_PARTICIPANT.EMPTY" | translate)
            }}
            {{ "VIEW_TOURNAMENT.JOIN_PARTICIPANT.NOT_ALLOWED_2" | translate }}
          </h5>
          <h5 *ngSwitchCase="'tournament-started'">
            {{
            "VIEW_TOURNAMENT.JOIN_PARTICIPANT.TOURNAMENT_START" | translate
            }}
          </h5>
          <h5 *ngSwitchCase="'tournament-finished'">
            {{
            "VIEW_TOURNAMENT.JOIN_PARTICIPANT.FINISHED_TOURNAMENT" | translate
            }}
          </h5>
          <h5 *ngSwitchCase="'registration-full'">
            {{ "VIEW_TOURNAMENT.JOIN_BUTTON.REGISTRATION_FULL" | translate }}
          </h5>
          <h5 *ngSwitchDefault>
            {{ "N/A" | translate }}
          </h5>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #individual>

  <div class="JoinTournament">
    <div class="JoinTournament-container">
      <div class="JoinTournament-wrapper">
        <div class="JoinTournament-inner">
          <div class="JoinTournamentAside">
            <div class="JoinTournamentAside-Thumbnail">
              <img [src]='tournament?.banner' alt="">
            </div>
            <div class="JoinTournamentAside-Info">
              <div class="JoinTournamentAside-Info-box">
                <h4 class="title">
                  {{tournament?.name}}
                </h4>
                <div class="price">
                  <span>{{tournament?.regStartDate |date}} — {{tournament?.regEndDate |date}}</span>
                </div>
                <a class="link-to" *ngIf="registrationStatus?.isOpen">
                  {{
                  "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_OPEN" | translate
                  }}</a>
                <a class="link-to" *ngIf="registrationStatus?.isClosed">{{
                  "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_HAS_ENDED"
                  | translate
                  }}</a>
                <a class="link-to" *ngIf="registrationStatus?.notYetStarted">{{
                  "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_YET_TO_OPEN"
                  | translate
                  }}</a>
              </div>
            </div>
          </div>
          <main class="JoinTournament-main">
            <h1 class="JoinTournament-main-title">{{"JOIN_TOURNAMENT.PARTICIPANT_TITLE" | translate}}</h1>
            <p class="JoinTournament-main-subtitle">{{"JOIN_TOURNAMENT.TEAM_DETAILS.SUBTITLE" | translate}}</p>
            <div class="JoinTournament-main-round">
              <cdk-accordion class="JoinTournament-main-round-accordion">
                <cdk-accordion-item *ngFor="let item of set_1; let index = index;" #accordionItem="cdkAccordionItem"
                  class="JoinTournament-main-round-accordion-item" role="button" tabindex="0"
                  [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                  [attr.aria-controls]="'accordion-body-' + index">
                  <div class="JoinTournament-main-round-accordion-item-header" (click)="accordionItem.toggle()">
                    {{ item }}
                    <span class="JoinTournament-main-round-accordion-item-description">
                      <ng-container *ngIf="accordionItem.expanded;then open else close"></ng-container>
                      <ng-template #close>
                        <button class="JoinTournament-main-btnExpaned"
                          inlineSVG="../../../assets/icons/manage-tournament/Icon-plus.svg"></button>
                      </ng-template>
                      <ng-template #open>
                        <button class="JoinTournament-main-btnExpaned"
                          inlineSVG="../../../assets/icons/manage-tournament/Icon-min.svg"></button>
                      </ng-template>
                    </span>
                  </div>
                  <div class="JoinTournament-main-round-accordion-item-body" role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                    [attr.aria-labelledby]="'accordion-header-' + index">
                    <div class="JoinTournament-main-round-accordion-item-body-member">
                      <div class="JoinTournament-main-round-accordion-item-body-member-ava"
                        [lazyLoad]="user.profilePicture"></div>
                      <div class="JoinTournament-main-round-accordion-item-body-member-info">
                        <div class="JoinTournament-main-round-accordion-item-body-member-name">{{user.fullName}}</div>
                        <div class="JoinTournament-main-round-accordion-item-body-member-id">
                          {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_ID" | translate}}: {{user.username}}</div>
                      </div>
                    </div>
                    <div class="JoinTournament-main-round-accordion-item-body-form">
                      <form class="JoinTournament-main-round-accordion-item-body-form-wrap"
                        [formGroup]="participantForm">
                        <div class="JoinTournament-main-round-accordion-item-body-form-field">
                          <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.USERNAME" | translate}}</mat-label>
                          <app-input class="example-full-width" [customFormControlName]="'name'"
                            [customFormGroup]="participantForm"
                            [readOnly]="isFieldReadOnly('participantForm', participantForm, 'name')" [type]="'STRING'">
                          </app-input>
                        </div>
                        <div class="JoinTournament-main-round-accordion-item-body-form-field">
                          <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.EMAIL" | translate}}</mat-label>
                          <app-input class="example-full-width" [customFormControlName]="'email'"
                            [customFormGroup]="participantForm"
                            [readOnly]="user?.emailisVerified && isFieldReadOnly('participantForm', participantForm, 'email')"
                            [type]="'STRING'">
                          </app-input>
                        </div>
                        <div class="JoinTournament-main-round-accordion-item-body-form-field">
                          <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.IN-GAME_ID" | translate}}</mat-label>
                          <app-input class="example-full-width" [customFormControlName]="'inGamerUserId'"
                            [customFormGroup]="participantForm" [enableSearch]="true" [searchMessage]="
                                      'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
                                    " [type]="'STRING'" [readOnly]="false"
                            (valueEmit)="isUniqueName($event, 'inGamerUserId')">
                          </app-input>
                        </div>
                        <!-- <div class="JoinTournament-main-round-accordion-item-body-form-field">
                          <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.MOBILE_NUMBER" | translate}}</mat-label>
                          <app-phone-no class="example-full-width" [title]="'Phone Number'"
                            [customFormGroup]="participantForm" [customFormControlName]="'phoneNumber'"
                            [readOnly]="true" [separateDialCode]="false">
                          </app-phone-no>
                        </div> -->
                        <div class="teamGame-button">
                          <div class=" row btn-row-reg" *ngIf="!tournament.isPaid">
                            <ng-container *ngIf="!isProcessing; else spinner">
                              <!-- <button type="reset" class="teamGame-button-next registration-button global-EditBtn dark-text auto_button" (click)="navigate()">
                                  {{ "BUTTON.CANCEL" | translate }}
                                </button> -->
                              <button class="teamGame-button-next auto_button btn_join" (click)="submit()"
                                type="submit">
                                {{ "JOIN_TOURNAMENT.TITLE" | translate }}
                              </button>
                            </ng-container>
                            <ng-template #spinner>
                              <button type="button" class="btn-primary spinner_pointer_event_none">
                                <mat-spinner [diameter]="20"></mat-spinner>
                              </button>
                            </ng-template>
                          </div>

                          <div class="row btn-row-reg" *ngIf="tournament.isPaid">
                            <ng-container *ngIf="!isProcessing; else spinner">
                              <!-- <button type="reset" class="teamGame-button-next registration-button global-EditBtn dark-text" (click)="navigate()">
                                  {{ "BUTTON.CANCEL" | translate }}
                                </button> -->
                              <button class="teamGame-button-next" (click)="submit()" type="submit"
                                *ngIf="!showPayment && participantJoinStatus == true">
                                {{ "JOIN_TOURNAMENT.TITLE" | translate }}
                              </button>
                            </ng-container>
                            <ng-template #spinner>
                              <button type="button" class="btn-primary spinner_pointer_event_none">
                                <mat-spinner [diameter]="20"></mat-spinner>
                              </button>
                            </ng-template>
                          </div>
                        </div>
                      </form>
                      <form [formGroup]="participantForm">
                        <div>
                          <!-- <h4 class="registration-title global-Title2">
                              {{"JOIN_TOURNAMENT.PARTICIPANT_TITLE" | translate}}
                            </h4> -->
                          <!-- <div class="form-group">
                              <div class="registration-photo-block mb-5">
                                <app-upload [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.1VS1_LOGO'" [customFormGroup]="participantForm"
                                  [customFormControlName]="'logo'" [dimension]="logoDimension" [size]="logoSize" [type]="'LOGO'"
                                  [addMessage]="'TOOLTIP.ADD_PARTICIPANT_LOGO'" [changeMessage]="'TOOLTIP.CHANGE_PARTICIPANT_LOGO'"
                                  [id]="'LOGO'" [customClass]="'Participant-logo'" [required]="true">
                                </app-upload>
                              </div>
                              <div class="registration-form">
                                <div class="registration-form-item">
                                  <div class="like_label">
                                  </div>
                                  <app-input [customFormControlName]="'name'" [customFormGroup]="participantForm"
                                    [readOnly]="isFieldReadOnly('participantForm', participantForm, 'name')"
                                    [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.NAME'" [type]="'STRING'">
                                  </app-input>
                                </div>
                                <div class="registration-form-item">
                                  <div class="like_label">
                                  </div>
                                  <app-input [customFormControlName]="'email'" [customFormGroup]="participantForm"
                                    [readOnly]="user?.emailisVerified && isFieldReadOnly('participantForm', participantForm, 'email')"
                                    [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.EMAIL_ADDRESS'" [type]="'STRING'">
                                  </app-input>
                                </div>
                                <div class="registration-form-item">
                                  <div class="like_label">
                                  </div>
                                  <app-input [customFormControlName]="'inGamerUserId'" [customFormGroup]="participantForm"
                                    [enableSearch]="true" [searchMessage]="
                                      'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
                                    " [title]="'VIEW_TOURNAMENT.JOIN_PARTICIPANT.FORM.IN_GAME_USERID'" [type]="'STRING'" [readOnly]="false"
                                    (valueEmit)="isUniqueName($event, 'inGamerUserId')">
                                  </app-input>
                                </div>
                                <div class="registration-form-item">
                                  <app-phone-no [title]="'Phone Number'" [customFormGroup]="participantForm"
                                    [customFormControlName]="'phoneNumber'" [readOnly]="true" [separateDialCode]="false">
                                  </app-phone-no>
                                </div>
                              </div>
                            </div> -->
                        </div>



                      </form>
                    </div>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #team>
  <div class="JoinTournament">
    <div class="JoinTournament-container">
      <div class="JoinTournament-wrapper">
        <div class="JoinTournament-inner">
          <div class="JoinTournamentAside">
            <div *ngIf="!teamData?.isSeasonTournament" class="JoinTournamentAside-Thumbnail">
              <img [src]='tournament?.banner' alt="">
            </div>
            <div *ngIf="!teamData?.isSeasonTournament" class="JoinTournamentAside-Info">
              <div class="JoinTournamentAside-Info-box">
                <h4 class="title">
                  {{tournament?.name}}
                </h4>
                <div class="price">
                  <span>{{tournament?.regStartDate |date}} — {{tournament?.regEndDate |date}}</span>
                </div>
                <a class="link-to" *ngIf="registrationStatus?.isOpen">
                  {{
                  "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_OPEN" | translate
                  }}</a>
                <a class="link-to" *ngIf="registrationStatus?.isClosed">{{
                  "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_HAS_ENDED"
                  | translate
                  }}</a>
                <a class="link-to" *ngIf="registrationStatus?.notYetStarted">{{
                  "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_YET_TO_OPEN"
                  | translate
                  }}</a>
              </div>
            </div>
          </div>
          <main class="JoinTournament-main">
            <h1 class="JoinTournament-main-title">{{"JOIN_TOURNAMENT.TEAM_DETAILS.TITLE" | translate}}</h1>
            <p class="JoinTournament-main-subtitle">{{"JOIN_TOURNAMENT.TEAM_DETAILS.SUBTITLE" | translate}}</p>
            <div class="JoinTournament-main-team">
              <div class="JoinTournament-main-team-logo"
                [lazyLoad]="teamData?.logo ? teamData?.logo: 'assets/images/Tournament/team-thumbnail.svg'"></div>
              <div class="JoinTournament-main-team-text">
                <span class="JoinTournament-main-team-text-name">{{"OVERVIEW.MATCH_TYPE.TEAM" | translate}}:
                  {{teamData?.teamName}}</span>
                <span
                  class="JoinTournament-main-team-text-players">({{teamData?.substituteMembers?.length+teamData?.teamMembers?.length+1}}
                  {{"HOME.SECTIONB.PLAYERS" | translate}})</span>
              </div>
            </div>
            <div class="JoinTournament-main-round">
              <form [formGroup]="participantForm">
                <cdk-accordion class="JoinTournament-main-round-accordion">
                  <cdk-accordion-item *ngFor="let item of set_1; let index = index;" #accordionItem="cdkAccordionItem"
                    class="JoinTournament-main-round-accordion-item" role="button" tabindex="0"
                    [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index">
                    <div class="JoinTournament-main-round-accordion-item-header" (click)="accordionItem.toggle()">
                      {{ item }}
                      <span class="JoinTournament-main-round-accordion-item-description">
                        <ng-container *ngIf="accordionItem.expanded;then open else close"></ng-container>
                        <ng-template #close>
                          <button class="JoinTournament-main-btnExpaned"
                            inlineSVG="../../../assets/icons/manage-tournament/Icon-plus.svg"></button>
                        </ng-template>
                        <ng-template #open>
                          <button class="JoinTournament-main-btnExpaned"
                            inlineSVG="../../../assets/icons/manage-tournament/Icon-min.svg"></button>
                        </ng-template>
                      </span>
                    </div>
                    <div class="JoinTournament-main-round-accordion-item-body" role="region"
                      [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                      [attr.aria-labelledby]="'accordion-header-' + index">
                      <div class="JoinTournament-main-round-accordion-item-body-member">
                        <div class="JoinTournament-main-round-accordion-item-body-member-ava"
                          [lazyLoad]="user.profilePicture"></div>
                        <div class="JoinTournament-main-round-accordion-item-body-member-info">
                          <div class="JoinTournament-main-round-accordion-item-body-member-name">{{user.fullName}}</div>
                          <div class="JoinTournament-main-round-accordion-item-body-member-id">
                            {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_ID" | translate}}: {{user.username}}</div>
                        </div>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form">
                        <div class="JoinTournament-main-round-accordion-item-body-form-wrap">
                          <div class="JoinTournament-main-round-accordion-item-body-form-field">
                            <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.USERNAME" | translate}}</mat-label>
                            <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="participantForm"
                              [customFormControlName]="'name'"
                              [readOnly]="isFieldReadOnly('participantForm', participantForm, 'name')">
                            </app-input>
                          </div>
                          <div class="JoinTournament-main-round-accordion-item-body-form-field">
                            <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.EMAIL" | translate}}</mat-label>
                            <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="participantForm"
                              [customFormControlName]="'email'"
                              [readOnly]="user?.emailisVerified && isFieldReadOnly('participantForm', participantForm, 'email')">
                            </app-input>
                          </div>
                          <div class="JoinTournament-main-round-accordion-item-body-form-field">
                            <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.IN-GAME_ID" | translate}}</mat-label>
                            <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="participantForm"
                              [customFormControlName]="'inGamerUserId'" [enableSearch]="true" [searchMessage]="
                                  'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
                                " (valueEmit)="isUniqueName($event, 'inGamerUserId')">
                            </app-input>
                          </div>
                          <!-- <div class="JoinTournament-main-round-accordion-item-body-form-field">
                            <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.MOBILE_NUMBER" | translate}}</mat-label>
                            <app-phone-no class="example-full-width" [customFormGroup]="participantForm"
                              [customFormControlName]="'phoneNumber'" [readOnly]="true" [separateDialCode]="false">
                            </app-phone-no>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </cdk-accordion-item>
                </cdk-accordion>
                <div class="form-group teamMember" formArrayName="teamMembers" *ngFor="
                  let item of participantForm.get('teamMembers')?.controls;
                  let i = index
                ">
                  <cdk-accordion class="JoinTournament-main-round-accordion">
                    <cdk-accordion-item *ngFor="let item of set_1; let index = index;" #accordionItem="cdkAccordionItem"
                      class="JoinTournament-main-round-accordion-item" role="button" tabindex="0"
                      [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                      [attr.aria-controls]="'accordion-body-' + index">
                      <div class="JoinTournament-main-round-accordion-item-header" (click)="accordionItem.toggle()">
                        {{ item }}
                        <span class="JoinTournament-main-round-accordion-item-description">
                          <ng-container *ngIf="accordionItem.expanded;then open else close"></ng-container>
                          <ng-template #close>
                            <button class="JoinTournament-main-btnExpaned"
                              inlineSVG="../../../assets/icons/manage-tournament/Icon-plus.svg"></button>
                          </ng-template>
                          <ng-template #open>
                            <button class="JoinTournament-main-btnExpaned"
                              inlineSVG="../../../assets/icons/manage-tournament/Icon-min.svg"></button>
                          </ng-template>
                        </span>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body" role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index">
                        <!-- <div class="JoinTournament-main-round-accordion-item-body-member">
                          <div class="JoinTournament-main-round-accordion-item-body-member-ava"
                            [lazyLoad]="user.profilePicture"></div>
                          <div class="JoinTournament-main-round-accordion-item-body-member-info">
                            <div class="JoinTournament-main-round-accordion-item-body-member-name">
                              {{(participantForm?.get('teamMembers')?.controls)[i]?.value?.name}}
                            </div>
                            <div class="JoinTournament-main-round-accordion-item-body-member-id">
                              {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_ID" | translate}}: {{user.username}}</div>
                          </div>
                        </div> -->
                        <div class="JoinTournament-main-round-accordion-item-body-form">
                          <div class="JoinTournament-main-round-accordion-item-body-form-wrap">
                            <div class="JoinTournament-main-round-accordion-item-body-form-field">
                              <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.USERNAME" | translate}}</mat-label>
                              <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="
                                  (participantForm?.get('teamMembers')?.controls)[i]
                                " [customFormControlName]="'name'"
                                [readOnly]="isFieldReadOnly('participantForm.teamMembers.'+i, (participantForm?.get('teamMembers')?.controls)[i] , 'name')">
                              </app-input>
                            </div>
                            <div class="JoinTournament-main-round-accordion-item-body-form-field">
                              <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.EMAIL" | translate}}</mat-label>
                              <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="
                                  (participantForm?.get('teamMembers')?.controls)[i]
                                " [customFormControlName]="'email'"
                                [readOnly]="isFieldReadOnly('participantForm.teamMembers.'+i, (participantForm?.get('teamMembers')?.controls)[i] , 'email')">
                              </app-input>
                            </div>
                            <div class="JoinTournament-main-round-accordion-item-body-form-field">
                              <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.IN-GAME_ID" | translate}}</mat-label>
                              <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="
                                  (participantForm?.get('teamMembers')?.controls)[i]
                                " [customFormControlName]="'inGamerUserId'" [enableSearch]="true" [searchMessage]="
                                  'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
                                " (valueEmit)="
                                  isUniqueName($event, 'inGamerUserId', i, 'teamMembers')
                                ">
                              </app-input>
                            </div>
                            <!-- <div class="JoinTournament-main-round-accordion-item-body-form-field">
                              <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.MOBILE_NUMBER" | translate}}</mat-label>
                              <app-phone-no class="example-full-width" [customFormGroup]="
                                  (participantForm?.get('teamMembers')?.controls)[i]
                                " [customFormControlName]="'phoneNumber'" [readOnly]="true"
                                [separateDialCode]="!participantForm?.value?.id">
                              </app-phone-no>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </cdk-accordion-item>
                  </cdk-accordion>
                </div>
                <div class="teamMember" formArrayName="substituteMembers" *ngFor="
                  let item of participantForm.get('substituteMembers')?.controls;
                  let i = index
                ">
                  <cdk-accordion class="JoinTournament-main-round-accordion">
                    <cdk-accordion-item *ngFor="let iteem of set_1; let index = index;" #accordionItem="cdkAccordionItem"
                      class="JoinTournament-main-round-accordion-item" role="button" tabindex="0"
                      [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                      [attr.aria-controls]="'accordion-body-' + index">
                      <div class="JoinTournament-main-round-accordion-item-header" (click)="accordionItem.toggle()">
                        {{ iteem }}
                        <span class="JoinTournament-main-round-accordion-item-description">
                          <ng-container *ngIf="accordionItem.expanded;then open else close"></ng-container>
                          <ng-template #close>
                            <button class="JoinTournament-main-btnExpaned"
                              inlineSVG="../../../assets/icons/manage-tournament/Icon-plus.svg"></button>
                          </ng-template>
                          <ng-template #open>
                            <button class="JoinTournament-main-btnExpaned"
                              inlineSVG="../../../assets/icons/manage-tournament/Icon-min.svg"></button>
                          </ng-template>
                        </span>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body" role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index">
                        <!-- <div class="JoinTournament-main-round-accordion-item-body-member">
                          <div class="JoinTournament-main-round-accordion-item-body-member-ava"
                            [lazyLoad]="user.profilePicture"></div>
                          <div class="JoinTournament-main-round-accordion-item-body-member-info">
                            <div class="JoinTournament-main-round-accordion-item-body-member-name">{{user.fullName}}
                            </div>
                            <div class="JoinTournament-main-round-accordion-item-body-member-id">
                              {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_ID" | translate}}: {{user.username}}</div>
                          </div>
                        </div> -->
                        <div class="JoinTournament-main-round-accordion-item-body-form">
                          <div class="JoinTournament-main-round-accordion-item-body-form-wrap">
                            <div class="JoinTournament-main-round-accordion-item-body-form-field">
                              <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.USERNAME" | translate}}</mat-label>
                              <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="
                                  (participantForm?.get('substituteMembers')?.controls)[i]
                                " [customFormControlName]="'name'"
                                [readOnly]="isFieldReadOnly('participantForm.substituteMembers.'+i, (participantForm?.get('substituteMembers')?.controls)[i] , 'name')">
                              </app-input>
                            </div>
                            <div class="JoinTournament-main-round-accordion-item-body-form-field">
                              <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.EMAIL" | translate}}</mat-label>
                              <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="
                                  (participantForm?.get('substituteMembers')?.controls)[i]
                                " [customFormControlName]="'email'"
                                [readOnly]="isFieldReadOnly('participantForm.substituteMembers.'+i, (participantForm?.get('substituteMembers')?.controls)[i] , 'email')">
                              </app-input>
                            </div>
                            <div class="JoinTournament-main-round-accordion-item-body-form-field">
                              <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.IN-GAME_ID" | translate}}</mat-label>
                              <app-input class="example-full-width" [type]="'STRING'" [customFormGroup]="
                                  (participantForm?.get('substituteMembers')?.controls)[i]
                                " [customFormControlName]="'inGamerUserId'" [enableSearch]="true" [searchMessage]="
                                  'VIEW_TOURNAMENT.JOIN_PARTICIPANT.REQUIRED.IN_GAME_USERID_03'
                                " (valueEmit)="
                                  isUniqueName($event, 'inGamerUserId', i, 'substituteMembers')
                                ">
                              </app-input>
                            </div>
                            <!-- <div class="JoinTournament-main-round-accordion-item-body-form-field">
                              <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.MOBILE_NUMBER" | translate}}</mat-label>
                              <app-phone-no class="example-full-width" [customFormGroup]="
                                  (participantForm?.get('substituteMembers')?.controls)[i]
                                " [customFormControlName]="'phoneNumber'" [readOnly]="true"
                                [separateDialCode]="!participantForm?.value?.id">
                              </app-phone-no>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </cdk-accordion-item>
                  </cdk-accordion>
                </div>
                <div class="teamGame-button">
                  <div class="row btn-row-reg" *ngIf="!tournament.isPaid">
                    <ng-container *ngIf="!isProcessing; else spinner">
                      <!-- <button class="registration-button global-EditBtn auto_button dark-text" (click)="navigate()">
                        {{ "BUTTON.CANCEL" | translate }}
                      </button> -->
                      <button class="teamGame-button-next" (click)="submit()" type="submit">
                        {{ "JOIN_TOURNAMENT.TITLE" | translate }}
                      </button>
                    </ng-container>
                    <ng-template #spinner>
                      <button type="button" class="btn-primary spinner_pointer_event_none">
                        <mat-spinner [diameter]="20"></mat-spinner>
                      </button>
                    </ng-template>
                  </div>

                  <div class="row btn-row-reg" *ngIf="tournament.isPaid">
                    <ng-container *ngIf="!isProcessing; else spinner">
                      <!-- <button type="reset" class="registration-button global-EditBtn dark-text" (click)="navigate()">
                        {{ "BUTTON.CANCEL" | translate }}
                      </button> -->
                      <button class="teamGame-button-next" (click)="showPaymentOptions()" type="button"
                        *ngIf="!showPayment && participantJoinStatus != 'already-registered'">
                        {{ "BUTTON.PAY" | translate }}
                      </button>
                      <button class="teamGame-button-next" (click)="submit()" type="submit"
                        *ngIf="!showPayment && participantJoinStatus == 'already-registered'">
                        {{ "BUTTON.SUBMIT" | translate }}
                      </button>
                    </ng-container>
                    <ng-template #spinner>
                      <button type="button" class="btn-primary spinner_pointer_event_none">
                        <mat-spinner [diameter]="20"></mat-spinner>
                      </button>
                    </ng-template>
                  </div>
                </div>
              </form>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
