

.Popup {
    &-confirmClose {
        background-color: var(--white);
        box-shadow: px2vw-xl(0px) px2vw-xl(24px) px2vw-xl(38px) rgb(0 0 0 / 10%), px2vw-xl(0px) px2vw-xl(11px) px2vw-xl(15px) rgb(0 0 0 / 10%);
        border-radius: px2vw-xl(20px);
        left: calc(50% - 400px / 2);
        @include lg{
          box-shadow: px2vw-lg(0px) px2vw-lg(24px) px2vw-lg(38px) rgb(0 0 0 / 10%), px2vw-lg(0px) px2vw-lg(11px) px2vw-lg(15px) rgb(0 0 0 / 10%);
          border-radius: px2vw-lg(20px);
        }
        @include md{
          box-shadow: px2vw-md(0px) px2vw-md(24px) px2vw-md(38px) rgb(0 0 0 / 10%), px2vw-md(0px) px2vw-md(11px) px2vw-md(15px) rgb(0 0 0 / 10%);
          border-radius: px2vw-md(20px);
        }
        @include sm {
          left: calc(50% - 359px / 2);
          box-shadow: px2vw-sm(0px) px2vw-sm(24px) px2vw-sm(38px) rgb(0 0 0 / 10%), px2vw-sm(0px) px2vw-sm(11px) px2vw-sm(15px) rgb(0 0 0 / 10%);
          border-radius: px2vw-sm(20px);
        }
    
        &.join {
          background: var(--color-secondary-disabled);
          box-shadow: px2vw-xl(-4px) px2vw-xl(-4px) px2vw-xl(20px) rgb(0 0 0 / 8%), px2vw-xl(4px) px2vw-xl(4px) px2vw-xl(20px) rgb(0 0 0 / 8%);
          padding: px2vw-xl(48px);
          width: px2vw-xl(400px);
          @include lg {
            box-shadow: px2vw-lg(-4px) px2vw-lg(-4px) px2vw-lg(20px) rgb(0 0 0 / 8%), px2vw-lg(4px) px2vw-lg(4px) px2vw-lg(20px) rgb(0 0 0 / 8%);
            padding: px2vw-lg(35px);
          }
          @include md {
            padding: px2vw-md(30px);
            box-shadow: px2vw-md(-4px) px2vw-md(-4px) px2vw-md(20px) rgb(0 0 0 / 8%), px2vw-md(4px) px2vw-md(4px) px2vw-md(20px) rgb(0 0 0 / 8%);
            width: px2vw-md(330px);
          }
          @include sm {
            box-shadow: px2vw-sm(-4px) px2vw-sm(-4px) px2vw-sm(20px) rgb(0 0 0 / 8%), px2vw-sm(4px) px2vw-sm(4px) px2vw-sm(20px) rgb(0 0 0 / 8%);
            padding: px2vw-sm(30px);
            width: 100%;
          }
        }
    
        &-title {
          font-family: "Paralucent-Demi",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(24px);
          line-height: px2vw-xl(32px);
          letter-spacing: px2vw-xl(1px);
          color: var(--blackcurrant-color-medium);
          margin-bottom: px2vw-xl(16px);
          @include lg{
            font-size: px2vw-lg(22px);
            line-height: px2vw-lg(32px);
            margin-bottom: px2vw-lg(16px);
            letter-spacing: px2vw-lg(1px);
          }
          @include md{
            font-size: px2vw-md(23px);
            line-height: px2vw-md(32px);
            margin-bottom: px2vw-md(16px);
          }
          @include sm{
            font-size: px2vw-sm(31px);
            line-height: px2vw-sm(32px);
            margin-bottom: px2vw-sm(16px);
          }
          &.join {
            color: var(--white);
          }
        }
    
        &-description {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          letter-spacing: px2vw-xl(1px);
          color: var(--txt-secondry-active);
          margin-bottom: px2vw-xl(32px);
          @include lg{
            font-size: px2vw-lg(15px);
            line-height: px2vw-lg(24px);
            margin-bottom: px2vw-lg(32px);
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
            margin-bottom: px2vw-md(32px);
          }
          @include sm{
            font-size: px2vw-sm(23px);
            line-height: px2vw-sm(33px);
            margin-bottom: px2vw-sm(32px);
          }
    
          &.join {
            color: var(--tolopea-medium-color);
          }
        }

        &-input {
          margin-bottom: px2vw-xl(32px);
          @include lg{
            margin-bottom: px2vw-lg(32px);
          }
          @include md{
            margin-bottom: px2vw-md(32px);
          }
          @include sm{
            margin-bottom: px2vw-sm(32px);
          }

          .input_label{
            color:white;
            display: block;
        }
        
        .input-data{
            background-color:rgb(255,255,255,0.4);
            display: block;
            padding: px2vw-xl(10px);
            @include lg{
              padding: px2vw-lg(10px);
            }
            @include md{
              padding: px2vw-md(10px);
            }
            @include sm{
              padding: px2vw-sm(10px);
            }
        }
        }
    
        &-btn-cancel {
          font-family: "Paralucent-Demi",  san-serif;
          font-style: normal;
          font-weight: 600;
          width: 44%;
          font-size: px2vw-xl(16px);
          line-height: px2vw-xl(24px);
          color: var(--white);
          background-color: var(--color-secondary);
          margin-right: px2vw-xl(24px);
          border-radius: px2vw-xl(6px);
          padding: px2vw-xl(12px) px2vw-xl(32px);
          @include lg{
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
            border-radius: px2vw-lg(6px);
            margin-right: px2vw-lg(24px);
            padding: px2vw-lg(12px) px2vw-lg(29px);
            width: auto;
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
            margin-right: px2vw-md(24px);
            border-radius: px2vw-md(6px);
            padding: px2vw-md(12px) px2vw-md(32px);
          }
          @include sm{
            font-size: px2vw-sm(24px);
            line-height: px2vw-sm(39px);
            margin-right: px2vw-sm(0px);
            padding: px2vw-sm(12px) px2vw-sm(32px);
            border-radius: px2vw-sm(6px);
            margin-bottom: px2vw-sm(24px);
            width: 100%;
          }
          // &.join {
          //   border-radius: px2vw-xl(6px);
          //   @include lg {
          //     padding: px2vw-lg(10px) px2vw-lg(25px);
          //     border-radius: px2vw-sm(6px);
          //   }
          //   @include md {
          //     padding: px2vw-md(10px) px2vw-md(25px);
          //     border-radius: px2vw-md(6px);
          //   }
          //   @include sm {
          //     padding: px2vw-sm(10px) px2vw-sm(25px);
          //     border-radius: px2vw-sm(6px);
          //   }
          // }
        }
        &-btn-confirm {
          font-family: "Paralucent-Demi",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: px2vw-xl(16px);
          width: 44%;
          color: var(--txt-primary);
          // background-color: var(--main-color);
          background: var(--color-primary);
          border-radius: px2vw-xl(6px);
          padding: px2vw-xl(12px) px2vw-xl(32px);

          @include lg{
            font-size: px2vw-lg(16px);
            border-radius: px2vw-lg(6px);
            padding: px2vw-lg(12px) px2vw-lg(28px);
            line-height: px2vw-lg(24px);
            width: auto;
          }
          @include md{
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
            border-radius: px2vw-md(6px);
            padding: px2vw-md(12px) px2vw-md(32px);
          }
          @include sm{
            font-size: px2vw-sm(24px);
            border-radius: px2vw-sm(6px);
            line-height: px2vw-sm(39px);
            padding: px2vw-sm(12px) px2vw-sm(32px);
            width: 100%;
          }
    
          // &.join {
          //   line-height: px2vw-xl(24px);
          //   @include md {
          //     padding: px2vw-md(10px) px2vw-md(25px);
          //   }
          //   @include sm {
          //     padding: px2vw-sm(10px) px2vw-sm(25px);
          //   }
          // }
        }
      }
}
.mat-dialog-container {
  border-radius: px2vw-xl(20px)!important;
  @include lg{
    border-radius: px2vw-lg(20px)!important;
  }
  @include md{
    border-radius: px2vw-md(20px)!important;
  }
  @include sm{
    border-radius: px2vw-sm(20px)!important;
  }
}