<esports-fullscreen-loading *ngIf="isLoading" ></esports-fullscreen-loading>
<header class="GameLobby-top">
  <a class="GameLobby-top-link stc-btnBuck" (click)="goBack()">
    <span class="material-icons"> keyboard_arrow_left </span>
    {{ "BUTTON.BACK" | translate }}
  </a>
</header>

<div class="GameLobby-wrapper u-dfStart">
  <div class="GameLobby-left">
    <!-- Game Lobby -->
    <header class="GameLobby-header u-dfCenterBtw">
      <div class="GameLobby-header-wrapper">
        <h1 class="GameLobby-header-title global-Title2">
          {{ "GAME_LOBBY.TITLE" | translate }}
        </h1>
        <h3 class="GameLobby-header-subtitle global-Text">
          {{ "GAME_LOBBY.SUBTITLE" | translate }}: {{ totalPlayers }}
        </h3>
      </div>

      <button
        class="GameLobby-header-button global-EditBtn u-dfCenter"
        (click)="participantReady()"
        [disabled]="isImReady"
      >
        <span
          class="GameLobby-header-button-icon icon"
          inlineSVG="assets/icons/check.svg"
        ></span>

        <span class="GameLobby-header-button-text text">
          {{ "BUTTON.IM_READY" | translate }}
        </span>
      </button>
    </header>

    <!-- Game Rules -->
    <div class="GameLobby-rules">
      <header class="GameLobby-rules-header u-dfCenterBtw">
        <h2 class="GameLobby-rules-header-title global-Title4">
          {{ "GAME_LOBBY.TITLE_RULES" | translate }}
        </h2>

        <button
          *ngIf="!isSingle"
          class="GameLobby-rules-header-button global-Text"
        >
          {{ "BUTTON.ADD_RULES" | translate }}
        </button>
      </header>

      <p class="GameLobby-rules-text global-Text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Bibendum est
        ultricies quis.
      </p>
    </div>

    <!-- Game Single Table -->
    <section *ngIf="isSingle && playersData.length" class="GameLobby-players">
      <h2 class="GameLobby-players-title global-Title4">
        {{ "GAME_LOBBY.TITLE_PLAYERS" | translate }}
      </h2>

      <div class="GameLobby-players-table">
        <div class="global-scrollbar">
          <ngx-datatable
            class="global-DataTable"
            [rows]="playersData"
            [columnMode]="'force'"
            [headerHeight]="'auto'"
            [rowHeight]="'auto'"
            [footerHeight]="'auto'"
            [limit]="10"
          >
            <ngx-datatable-column
              name="{{ 'GAME_LOBBY.TABLE.COLUMNS.SN' | translate }}"
            >
              <ng-template
                ngx-datatable-cell-template
                let-row="row"
                let-rowIndex="rowIndex"
              >
                <div class="player u-dfCenter">
                  <span class="player-sn">
                    {{ rowIndex + 1 }}
                  </span>
                  <img
                    class="player-image"
                    [src]="row.logo"
                    alt="player name"
                  />
                </div>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              prop="name"
              name="{{ 'GAME_LOBBY.TABLE.COLUMNS.PLAYER_NAME' | translate }}"
            ></ngx-datatable-column>

            <ngx-datatable-column
              prop="inGamerUserId"
              name="{{ 'GAME_LOBBY.TABLE.COLUMNS.GAMER_ID' | translate }}"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                <div class="gamerId u-dfCenter">
                  <p class="gamerId-text">{{ row.inGamerUserId }}</p>
                  <img
                    class="gamerId-icon"
                    src="assets/icons/match-making/link.svg"
                    alt="link"
                    [cdkCopyToClipboard]="row.inGamerUserId"
                    (click)="showCopySnackbar()"
                  />
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </section>

    <!-- Game Teams Tables -->
    <section *ngIf="!isSingle && teamsData.length" class="GameLobby-players">
      <ul class="GameLobby-players-list">
        <li *ngFor="let team of teamsData" class="GameLobby-players-item">
          <h3 class="GameLobby-players-title global-Title3">
            {{ team.name }}
          </h3>

          <div *ngIf="team.players" class="GameLobby-players-table">
            <div class="global-scrollbar">
              <ngx-datatable
                class="global-DataTable"
                [rows]="team.players"
                [columnMode]="'force'"
                [headerHeight]="'auto'"
                [rowHeight]="'auto'"
                [footerHeight]="'auto'"
                [limit]="10"
              >
                <ngx-datatable-column
                  name="{{ 'GAME_LOBBY.TABLE.COLUMNS.SN' | translate }}"
                >
                  <ng-template
                    ngx-datatable-cell-template
                    let-row="row"
                    let-rowIndex="rowIndex"
                  >
                    <div class="player u-dfCenter">
                      <span class="player-sn">
                        {{ rowIndex + 1 }}
                      </span>
                      <img
                        class="player-image"
                        [src]="row.image"
                        alt="player name"
                      />
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  prop="name"
                  name="{{
                    'GAME_LOBBY.TABLE.COLUMNS.PLAYER_NAME' | translate
                  }}"
                ></ngx-datatable-column>

                <ngx-datatable-column
                  prop="gamerId"
                  name="{{ 'GAME_LOBBY.TABLE.COLUMNS.GAMER_ID' | translate }}"
                >
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <div class="gamerId u-dfCenter">
                      <p class="gamerId-text">{{ row.gamerId }}</p>
                      <img
                        class="gamerId-icon"
                        src="assets/icons/match-making/link.svg"
                        [cdkCopyToClipboard]="row.inGamerUserId"
                        alt="link"
                        (click)="showCopySnackbar()"
                      />
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-cell-template let-row="row">
                    <button
                      class="button-menu"
                      [matMenuTriggerFor]="menu"
                      mat-icon-button
                    >
                      <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu
                      class="global-MatMenu"
                      #menu="matMenu"
                      yPosition="below"
                    >
                      <div class="GameLobby-players-table-options">
                        <!-- View profile -->
                        <button
                          class="GameLobby-players-table-option u-dfCenterStart"
                        >
                          <div
                            class="GameLobby-players-table-option-image-block"
                          >
                            <img
                              class="GameLobby-players-table-option-image"
                              src="assets/icons/match-making/menu/view.svg"
                              alt="make captain"
                            />
                          </div>

                          <span class="GameLobby-players-table-option-text">
                            {{ "GAME_LOBBY.TABLE.MENU.VIEW" | translate }}
                          </span>
                        </button>

                        <!-- Follow player -->
                        <button
                          class="GameLobby-players-table-option u-dfCenterStart"
                        >
                          <div
                            class="GameLobby-players-table-option-image-block"
                          >
                            <img
                              class="GameLobby-players-table-option-image"
                              s
                              src="assets/icons/match-making/menu/add.svg"
                              alt="make captain"
                            />
                          </div>

                          <span class="GameLobby-players-table-option-text">
                            {{ "GAME_LOBBY.TABLE.MENU.FOLLOW" | translate }}
                          </span>
                        </button>
                      </div>
                    </mat-menu>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </li>
      </ul>
    </section>

    <!-- Matchroom chat -->
    <button
    class="GameLobby-header-button global-EditBtn u-dfCenter"
    (click)="chatFunction(matchId)"
  >
    <span class="GameLobby-header-button-text text">
      {{
        "LADDER.MATCHROOM" | translate
      }}
    </span>
  </button>
  </div>

  <div class="GameLobby-right">
    <section class="GameLobby-sectionA">
      <h3 class="GameLobby-heading game">
        {{ "GAME_LOBBY.HEADING.GAME" | translate }}
      </h3>

      <div
        *ngIf="gameInfo"
        class="GameLobby-sectionA-image-block u-dfCenterCenter"
        [style.background-image]="'url(' + gameInfo.image + ')'"
      >
        <!-- <img class="GameLobby-sectionA-icon" [src]="gameInfo.icon" alt="icon" /> -->
      </div>
    </section>

    <section class="GameLobby-sectionB">
      <h3 class="GameLobby-heading works">
        {{ "GAME_LOBBY.HEADING.WORKS" | translate }}
      </h3>

      <ul class="GameLobby-sectionB-steps">
        <li
          *ngFor="let step of steps"
          class="GameLobby-sectionB-step"
          [ngClass]="{ active: step.isDone }"
        >
          <span
            class="GameLobby-sectionB-step-image-block image-block"
            [inlineSVG]="step.icon"
          ></span>
          <span class="GameLobby-sectionB-step-text global-Text text">
            {{ step.text | translate }}
          </span>
        </li>
      </ul>

      <div class="GameLobby-sectionB-buttons" *ngIf="isSingle">
        <button
          *ngIf="showUpdateScore"
          class="GameLobby-sectionB-button global-EditBtn"
          (click)="onUploadResult(uploadResult)"
        >
          {{ "BUTTON.UPLOAD_RESULT" | translate }}
        </button>
      </div>
    </section>
  </div>
</div>

<ng-template #uploadResult let-modal>
  <div class="GameLobby-modal">
    <header class="GameLobby-modal-header u-dfCenterBtw">
      <h2 class="GameLobby-modal-header-title global-Title3">
        {{ "GAME_LOBBY.MODAL.HEADING" | translate }}
      </h2>

      <button class="GameLobby-modal-header-close" (click)="modal.dismiss()">
        <span class="material-icons">clear</span>
      </button>
    </header>

    <div class="GameLobby-modal-wrapper u-dfStart">
      <div class="GameLobby-modal-image-block u-dfCenterCenter">
        <img
          class="GameLobby-modal-image"
          src="assets/icons/medal.svg"
          alt="image"
        />
      </div>

      <div class="GameLobby-modal-content">
        <h2 class="GameLobby-modal-title global-Title2">
          {{ "GAME_LOBBY.MODAL.INDICATE_TITLE" | translate }}
        </h2>

        <p class="GameLobby-modal-subtitle global-Text">
          {{ "GAME_LOBBY.MODAL.INDICATE_SUBTITLE" | translate }}
        </p>

        <div class="GameLobby-modal-toggles">
          <button
            class="GameLobby-modal-toggle u-dfCenter"
            [ngClass]="{ active: outcome == 'win' }"
            (click)="onOutcomeSelect('win', uploadScreenshot)"
          >
            <div class="GameLobby-modal-toggle-circle circle"></div>
            <span class="GameLobby-modal-toggle-text text">
              {{ "GAME_LOBBY.MODAL.TOGGLES.WIN" | translate }}
            </span>
          </button>

          <button
            class="GameLobby-modal-toggle u-dfCenter"
            [ngClass]="{ active: outcome == 'lose' }"
            (click)="onOutcomeSelect('lose', uploadScreenshot)"
          >
            <div class="GameLobby-modal-toggle-circle circle"></div>
            <span class="GameLobby-modal-toggle-text text">
              {{ "GAME_LOBBY.MODAL.TOGGLES.LOSE" | translate }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #uploadScreenshot let-modal>
  <div class="GameLobby-modal">
    <header class="GameLobby-modal-header u-dfCenterBtw">
      <h2 class="GameLobby-modal-header-title global-Title3">
        {{ "GAME_LOBBY.MODAL.HEADING" | translate }}
      </h2>

      <button class="GameLobby-modal-header-close" (click)="modal.dismiss()">
        <span class="material-icons">clear</span>
      </button>
    </header>

    <div class="GameLobby-modal-wrapper u-dfStart">
      <div class="GameLobby-modal-image-block u-dfCenterCenter">
        <img
          class="GameLobby-modal-image"
          src="assets/icons/image.svg"
          alt="image"
        />
      </div>

      <div class="GameLobby-modal-content">
        <h2 class="GameLobby-modal-title global-Title2">
          {{ "GAME_LOBBY.MODAL.UPLOAD_TITLE" | translate }}
        </h2>

        <p class="GameLobby-modal-subtitle global-Text">
          {{ "GAME_LOBBY.MODAL.UPLOAD_SUBTITLE" | translate }}
        </p>

        <div class="GameLobby-modal-upload">
          <app-upload-image
            class="CreateTeam-item-field upload-photo"
            [customFormGroup]="resultForm"
            [customFormControlName]="'screenShot'"
            [id]="'LOGO'"
            [size]="1000 * 1000 * 5"
          ></app-upload-image>
        </div>

        <div class="GameLobby-modal-buttons u-dfCenterEnd">
          <button class="GameLobby-modal-button global-EditBtn cancel" (click)="modal.dismiss()">
            {{ "BUTTON.CLOSE" | translate }}
          </button>
          <button class="GameLobby-modal-button global-EditBtn confirm" (click)="submitScore()" >
            {{ "BUTTON.CONFIRM" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
