@import "shared";

:host {
  display: block;
}

// .Profile-popup{
//   position: absolute;
//   width: 200px;
//   height: 200px;
//   border: white 1px solid;
//   left: calc(50% - 100px);
//   top: calc(50% - 100px);
//   text-align: center;
//   border-radius: 5%;
// }
.MyTeams-header {
  @extend %u-dfCenterBtw;
  margin-bottom: 20px;
  @include md {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  &-title {
    @extend %global-H5;
    margin-bottom: 0;
    color: var(--white);
  }

  &-subtitle {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-button {
    padding: 12px 32px;
    background: var(--secondary-color);
    border-radius: 6px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
    margin: 0;
    box-shadow: none;
    text-transform: none;
    @include sm {
      width: 100%;
      justify-content: center;
    }
  }
}

.MyTeams-control {
  // &-toggles {

  // }
  &-link {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--tertiary-color);
    display: inline-block;
    margin-bottom: 26px;
    @include sm {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }
  // &-toggle {
  // }

  &-content {
    padding-top: px2vw-xl(40px);

    @include lg {
      padding-top: px2vw-lg(40px);
    }

    @include md {
      padding-top: px2vw-md(40px);
    }

    @include sm {
      padding-top: px2vw-sm(40px);
    }
  }
}

.MyTeams-cards {
  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 0;
    @include sm {
      width: 100%;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }

  // &-list {
  // }
}
.mat-icon {
  color: #bbf55a;
}
