@import "shared";

carousel {
  display: block;
  margin-top: 25px;

  h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0;
    color: var(--base-black-pearl);
  }

  slide {
    height: 60px;
  }

  .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--base-black);
    border-radius: 5px;
    background: var(--base-white) !important;
    height: 100%;
  }
}

.round {
  &-edit {
    color: var(--primary-cinnabar);
  }

  &-completed {
    color: var(--ui-success);
  }
}

fa-icon {
  font-size: 20px;
  margin-left: 20px;

  &:not(.round-completed):hover {
    @extend .round-edit;
  }
}

.content-align-right {
  text-align: end;
}

button {
  margin: 0 5px;
}

.Player {
  display: flex;
  align-items: center;

  img {
    width: 51px;
    height: 51px;
  }

  h6 {
    margin: 0;
    margin-left: 31px;
    font-size: 16px;
    letter-spacing: 00;
    color: var(--base-black-pearl);
  }
}

.button-row {
  margin-top: 56px;

  button {
    &.btn-primary {
      background-color: var(--base-black-pearl);
    }

    &.spinner_pointer_event_none {
      padding: 10px 50px;
    }
  }
}

::ng-deep html[dir="rtl"] {
  .Player {
    h6 {
      margin-left: 0 !important;
      margin-right: 31px !important;
    }
  }
}

.hide-tab {
  display: none;
}

.loading {
  margin-top: px2vw-xl(60px);

  @include lg {
    margin-top: px2vw-lg(60px);
  }

  @include md {
    margin-top: px2vw-md(60px);
  }

  @include sm {
    margin-top: px2vw-sm(60px);
  }
}

td{
  text-align: center;
  vertical-align: middle;
}
