@import "shared";

.tournaments-tracker {
  border-radius: px2vw-xl(4px);
  background-color: #171616;
  padding: px2vw-xl(6px) px2vw-xl(5px) px2vw-xl(5px);

  @include lg {
    border-radius: px2vw-lg(4px);
    padding: px2vw-lg(6px) px2vw-lg(5px) px2vw-lg(5px);
  }

  @include md {
    border-radius: px2vw-md(4px);
    padding: px2vw-md(6px) px2vw-md(5px) px2vw-md(5px);
  }

  @include sm {
    border-radius: px2vw-sm(4px);
    padding: px2vw-sm(6px) px2vw-sm(5px) px2vw-sm(5px);
  }

  &-title {
    margin-bottom: px2vw-xl(6px);
    border: 1px solid var(--orange-color-main);
    border-radius: 0.25rem;
    padding: px2vw-xl(10px) px2vw-xl(18px);
    text-transform: uppercase;
    font-family: "dynasty-primary-semibold", sans-serif;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(21px);

    @include lg {
      margin-bottom: px2vw-lg(6px);
      padding: px2vw-lg(10px) px2vw-lg(9px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(21px);
    }

    @include md {
      margin-bottom: px2vw-md(6px);
      padding: px2vw-md(10px) px2vw-md(11px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(21px);
    }

    @include sm {
      margin-bottom: px2vw-sm(6px);
      padding: px2vw-sm(10px) px2vw-sm(11px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(21px);
    }

    &:hover {
      border-radius: px2vw-xl(4px);
      background: var(--orange-color-main);
      color: #fff;

      @include lg {
        border-radius: px2vw-lg(4px);
      }

      @include md {
        border-radius: px2vw-md(4px);
      }

      @include sm {
        border-radius: px2vw-sm(4px);
      }
    }
  }
}
