.global-Checkbox {
  margin: 0;
  display: flex;
  align-items: center;

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:checked + i,
  [type="checkbox"]:not(:checked) + i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);
    border: px2vw-xl(2px) solid var(--base-gainsboro);
    border-radius: px2vw-xl(2px);
    position: relative;
    cursor: pointer;

    @include lg {
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
      border-width: px2vw-lg(2px);
      border-radius: px2vw-lg(2px);
    }

    @include md {
      width: px2vw-md(18px);
      height: px2vw-md(18px);
      border-width: px2vw-md(2px);
      border-radius: px2vw-md(2px);
    }

    @include sm {
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
      border-width: px2vw-sm(2px);
      border-radius: px2vw-sm(2px);
    }
  }

  [type="checkbox"]:checked + i:after,
  [type="checkbox"]:not(:checked) + i:after {
    content: "";
    border-radius: 1px;
    width: px2vw-xl(10px);
    height: px2vw-xl(10px);
    background: var(--primary-sunset-light);
    transition: all 0.2s ease;

    @include lg {
      width: px2vw-lg(10px);
      height: px2vw-lg(10px);
    }

    @include md {
      width: px2vw-md(10px);
      height: px2vw-md(10px);
    }

    @include sm {
      width: px2vw-sm(10px);
      height: px2vw-sm(10px);
    }
  }

  [type="checkbox"]:not(:checked) + i:after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked + i:after {
    opacity: 1;
    transform: scale(1);
  }

  span {
    margin-left: 10px;
    opacity: 0.6;
    font-family: "stc-forward-light", sans-serif;
    font-size: 18px;
    color: var(--base-black-pearl);
  }
}

html[dir="rtl"] {
  .global-Checkbox {
    [type="checkbox"]:checked,
    [type="checkbox"]:not(:checked) {
      display: none;
    }
  }
}
