@import "shared";

.container-fluid {
  position: relative;
  top: px2vw-xl(150px);
  @include xxl {
    top: px2vw-xxl(150px);
  }
  @include lg {
    top: px2vw-lg(150px);
  }
  @include md {
    top: px2vw-md(150px);
  }
  @include sm {
    top: px2vw-sm(150px);
  }
}
.title {
  text-align: center;
  position: relative;
  font-size: px2vw-xl(50px);
  font-family: "maxis-bold";
  @include xxl {
    font-size: px2vw-xxl(50px);
  }
  @include lg {
    font-size: px2vw-lg(50px);
  }
  @include md {
    font-size: px2vw-md(50px);
  }
  @include sm {
    font-size: px2vw-sm(50px);
  }
}
.subtitle {
  position: relative;
  text-align: center;
}
.InputSearch {
  padding: 0.625vw 0.8333333333vw;
  padding-bottom: 0.8333333333vw;
  width: px2vw-xl(590px);
  position: relative;
  padding-left: px2vw-xl(555px);
  left: px2vw-xl(50px);
  @include xxl {
    width: px2vw-xxl(590px);
    padding-left: px2vw-xxl(555px);
    left: px2vw-xxl(50px);
  }
  @include lg {
    width: px2vw-lg(590px);
    padding-left: px2vw-lg(555px);
    left: px2vw-lg(50px);
  }
  @include md {
    width: px2vw-md(590px);
    padding-left: px2vw-md(555px);
    left: px2vw-md(50px);
  }
  @include sm {
    width: px2vw-sm(590px);
    padding-left: px2vw-sm(555px);
    left: px2vw-sm(50px);
  }
}
.h-card {
  border: 1px solid var(--white-light);
  background: var(--black-dark1);
  padding: px2vw-xl(10px) px2vw-xl(12px) px2vw-xl(10px) px2vw-xl(12px);
  margin-left: 0.5rem;
  @include xxl {
    padding: px2vw-xxl(10px) px2vw-xxl(12px) px2vw-xxl(10px) px2vw-xxl(12px);
  }
  @include lg {
    padding: px2vw-lg(10px) px2vw-lg(12px) px2vw-lg(10px) px2vw-lg(12px);
  }
  @include md {
    padding: px2vw-md(10px) px2vw-md(12px) px2vw-md(10px) px2vw-md(12px);
  }
  @include sm {
    padding: px2vw-sm(10px) px2vw-sm(12px) px2vw-sm(10px) px2vw-sm(12px);
  }
}
.ph-card {
  font-size: px2vw-xl(18px);
  font-weight: 900;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  @include xxl {
    font-size: px2vw-xxl(18px);
  }
  @include lg {
    font-size: px2vw-lg(18px);
  }
  @include md {
    font-size: px2vw-md(18px);
  }
  @include sm {
    font-size: px2vw-sm(18px);
  }
}
.display-align {
  display: inline-block;
  vertical-align: middle;
}
.page-not {
  background: url("https://maxis-stg-image.s3.ap-southeast-1.amazonaws.com/stage/home/MaskGroup.svg") no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: px2vw-xl(700px);
  width: px2vw-xl(700px);
  background-position: center;
  margin: 0 auto;
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
  @include xxl {
    height: px2vw-xxl(700px);
    width: px2vw-xxl(700px);
  }
  @include lg {
    height: px2vw-lg(700px);
    width: px2vw-lg(700px);
  }
  @include md {
    height: px2vw-md(700px);
    width: px2vw-md(700px);
  }
  @include sm {
    height: px2vw-sm(700px);
    width: px2vw-sm(700px);
  }
}
.page-under {
  text-align: center;
  padding-top: px2vw-xl(50px);
  @include xxl {
    padding-top: px2vw-xxl(50px);
  }
  @include lg {
    padding-top: px2vw-lg(50px);
  }
  @include md {
    padding-top: px2vw-md(50px);
  }
  @include sm {
    padding-top: px2vw-sm(50px);
  }
  .heading {
    @extend %global-H1;
    color: var(--white-high);
  }
  .sub_heading {
    @extend %global-H5;
    color: var(--white) !important;
    text-transform: inherit !important;
  }
}
.sorry {
  font-size: px2vw-xl(18px);
  text-align: center;
  width: 100%;
  display: block;
  color: var(--white);
  position: absolute;
  top: 20%;
  @include xxl {
    font-size: px2vw-xxl(18px);
  }
  @include lg {
    font-size: px2vw-lg(18px);
  }
  @include md {
    font-size: px2vw-md(18px);
  }
  @include sm {
    font-size: px2vw-sm(18px);
  }
}
.vertical-menu {
  text-align: center;
  margin-top: px2vw-xl(25px);
  @include xxl {
    margin-top: px2vw-xxl(25px);
  }
  @include lg {
    margin-top: px2vw-lg(25px);
  }
  @include md {
    margin-top: px2vw-md(25px);
  }
  @include sm {
    margin-top: px2vw-sm(25px);
  }
  a {
    color: var(--white);
    display: block;
    padding: px2vw-xl(12px);
    text-decoration: none;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    font-family: "maxis-bold";
    @include xxl {
      padding: px2vw-xxl(12px);
      font-size: px2vw-xxl(16px);
      line-height: px2vw-xxl(24px);
    }
    @include lg {
      padding: px2vw-lg(12px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
    }
    @include md {
      padding: px2vw-md(12px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
    }
    @include sm {
      padding: px2vw-sm(12px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
    }
  }
}
.vertical-menu a:hover {
  background-color: transparent;
}
.vertical-menu a.active {
  background-color: var(--color-lgt-green1);
  color: var(--white);
}
.input-sarch {
  position: relative;
  margin-top: px2vw-xl(50px);
  margin-right: px2vw-xl(35px);
  margin-left: px2vw-xl(35px);
  @include xxl {
    margin-top: px2vw-xxl(50px);
    margin-right: px2vw-xxl(35px);
    margin-left: px2vw-xxl(35px);
  }
  @include lg {
    margin-top: px2vw-lg(50px);
    margin-right: px2vw-lg(35px);
    margin-left: px2vw-lg(35px);
  }
  @include md {
    margin-top: px2vw-md(50px);
    margin-right: px2vw-md(35px);
    margin-left: px2vw-md(35px);
  }
  @include sm {
    margin-top: px2vw-sm(50px);
    margin-right: px2vw-sm(35px);
    margin-left: px2vw-sm(35px);
  }
  input {
    border-bottom: px2vw-xl(2px) solid var(--white-light);
    color: var(--white-medium);
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(24px);
    letter-spacing: 0.18px;
    background-color: transparent;
    width: 100%;
    padding-bottom: px2vw-xl(8px);
    font-family: "maxis-black";
    @include xxl {
      font-size: px2vw-xxl(24px);
      border-bottom: px2vw-xxl(2px) solid var(--white-light);
      line-height: px2vw-xxl(24px);
      padding-bottom: px2vw-xxl(8px);
    }
    @include lg {
      font-size: px2vw-lg(24px);
      border-bottom: px2vw-lg(2px) solid var(--white-light);
      line-height: px2vw-lg(24px);
      padding-bottom: px2vw-lg(8px);
    }
    @include md {
      font-size: px2vw-md(24px);
      border-bottom: px2vw-md(2px) solid var(--white-light);
      line-height: px2vw-md(24px);
      padding-bottom: px2vw-md(8px);
    }
    @include sm {
      font-size: px2vw-sm(24px);
      border-bottom: px2vw-sm(2px) solid var(--white-light);
      line-height: px2vw-sm(24px);
      padding-bottom: px2vw-sm(8px);
    }
  }
  .icon-search {
    position: absolute;
    right: 0;
    top: 0;
  }
}
