@import "shared";

:host {
  display: block;
  width: 100%;
}

.Search-sectionA {
  &-title {
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-search {
    display: none;
    margin-bottom: px2vw-xl(56px);

    @include lg {
      display: block;
      margin-bottom: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(56px);
    }

    &::ng-deep {
      input {
        border: 1px solid var(--base-gainsboro);
        -webkit-appearance: none;
        border-style: solid;
        box-shadow: none;
      }
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(48px);

    @include lg {
      margin-bottom: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(48px);
    }
  }

  &-buttons {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(46px);

    @include lg {
      margin-bottom: px2vw-lg(36px);
    }

    @include md {
      margin-bottom: px2vw-md(36px);
      flex-flow: column;
      align-items: flex-end;
    }

    @include sm {
      margin-bottom: px2vw-sm(36px);
    }
  }

  &-buttons-list {
    @include md {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &-button {
    border: 1px solid var(--base-gainsboro);
    border-radius: 0;
    min-width: px2vw-xl(204px);
    background-color: var(--base-white);
    font-size: px2vw-xl(18px);
    color: var(--base-submarine) !important;

    @include lg {
      min-width: px2vw-lg(204px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      min-width: 25%;
      font-size: px2vw-md(18px);
    }

    @include sm {
      min-width: 50%;
      font-size: px2vw-sm(18px);
    }

    &:first-child {
      border-top-left-radius: px2vw-xl(5px);
      border-bottom-left-radius: px2vw-xl(5px);

      @include lg {
        border-top-left-radius: px2vw-lg(5px);
        border-bottom-left-radius: px2vw-lg(5px);
      }

      @include md {
        border-top-left-radius: px2vw-md(5px);
        border-bottom-left-radius: px2vw-md(5px);
      }

      @include sm {
        border-top-left-radius: px2vw-sm(5px);
        border-bottom-left-radius: px2vw-sm(5px);
      }
    }

    &:last-child {
      border-top-right-radius: px2vw-xl(5px);
      border-bottom-right-radius: px2vw-xl(5px);

      @include lg {
        border-top-right-radius: px2vw-lg(5px);
        border-bottom-right-radius: px2vw-lg(5px);
      }

      @include md {
        border-top-right-radius: px2vw-md(5px);
        border-bottom-right-radius: px2vw-md(5px);
      }

      @include sm {
        border-top-right-radius: px2vw-sm(5px);
        border-bottom-right-radius: px2vw-sm(5px);
      }
    }

    &.is-active {
      border: 1px solid var(--primary-sunset-light);
      background-color: var(--primary-sunset-light);
      color: var(--base-white) !important;
    }
  }
}
