<div class="SocialAccounts">

  <mat-form-field class="global-MatField mx-2 mt-5" appearance="outline" style="width: 678px; top: -35px; ">
    <mat-label>
      Select social media
    </mat-label>
    <mat-select >
      <mat-option >
       Select social media
      </mat-option>
    </mat-select>
  </mat-form-field>


  <div class="GameAccounts-add" >
    <!-- <h4 class="GameAccounts-add-title">
     {{ "ACCOUNT_SETTINGS.ACCOUNTS.GAME.TITLE" | translate }}
   </h4> -->
   <h4 class="SocialAccounts-title">
    {{ "ACCOUNT_SETTINGS.ACCOUNTS.SOCIAL.TITLE" | translate }}
  </h4>
   <button class="GameAccounts-add-button button-primary">
     <!-- {{ "BUTTON.ADD_GAME" | translate }} --> ADD SOCIAL MEDIA
   </button>
 </div>


  <div class="SocialAccounts-list" *ngIf="accounts.length">
    <ng-container *ngFor="let account of accounts">
      <app-account-item [data]="account" [isSocial]="true"></app-account-item>
    </ng-container>
  </div>

  <div class="Accounts-manage">
    <button class="Accounts-manage-button button-secondary">
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button class="Accounts-manage-button button-primary" type="submit">
      {{ "BUTTON.SAVE_CHANGES" | translate }}
    </button>
  </div>
</div>
