<!-- <button mat-dialog-close mat-icon-button class="global-Dialog-close">
  <span class="material-icons">clear</span>
</button> -->

<section
  [ngClass]="{
    PopupVerify: data.type == InfoPopupComponentType.popUpEdit,
    PopupUnblock: data.type == InfoPopupComponentType.popUp
  }"
>
  <div
    class=""
    [ngClass]="{
      'PopupVerify-container': data.type == InfoPopupComponentType.popUpEdit,
      'PopupUnblock-container': data.type == InfoPopupComponentType.popUp,
      InfoPopup:
        data.type !== InfoPopupComponentType.popUp &&
        data.type !== InfoPopupComponentType.popUpEdit
    }"
  >
    <div
      [ngClass]="{
        'PopupVerify-wrapper': data.type == InfoPopupComponentType.popUpEdit,
        'PopupUnblock-wrapper': data.type == InfoPopupComponentType.popUp
      }"
    >
      <div
        [ngClass]="{
          'PopupVerify-inner': data.type == InfoPopupComponentType.popUpEdit,
          'PopupUnblock-inner': data.type == InfoPopupComponentType.popUp
        }"
      >
        <div class="heading">
          <h4 class="title">{{ data.title | translate }}</h4>
        </div>
        <div class="content">
          <div class="InfoPopup-text" [hidden]="!data?.text">
            <p>{{ data?.text | translate }}</p>
          </div>

          <ng-container [ngSwitch]="data?.type">
            <app-rating
              *ngSwitchCase="InfoPopupComponentType.rating"
              (rating)="message($event)"
              [currentRate]="data?.rate"
              [fontSize]="'2rem'"
              [maxStar]="5"
              [readonly]="false"
            ></app-rating>

            <share-buttons
              class="Referrals-card-link-block-shareIcons"
              style="padding-bottom: 18px"
              *ngSwitchCase="InfoPopupComponentType.socialSharing"
              [exclude]="[
                'print',
                'messenger',
                'sms',
                'tumblr',
                'xing',
                'pinterest',
                'viber',
                'linkedin'
              ]"
              image="https://loremflickr.com/320/240"
            ></share-buttons>
          </ng-container>

          <div class="Referrals-card-link-block-url">
            <span
              class="shareUrl"
              *ngIf="
                data.type !== InfoPopupComponentType.popUp &&
                data.type !== InfoPopupComponentType.popUpEdit
              "
            >
              Share via page URL:
            </span>
          </div>

          <div *ngIf="data.type == InfoPopupComponentType.popUpEdit">
            <label class="form-label">{{ data.title | translate }}</label>
            <div class="input-group">
              <input class="form-field" type="text" #userEditinput />
            </div>
          </div>
          <!-- <mat-icon class="InputSearch-icon" style="padding-left: 310px;"> content_copy </mat-icon>
              <mat-form-field class="global-MatField" appearance="outline" autocomplete="off" style="bottom:38px; ">
                <mat-label>
                  https://www.paidia.gg/article/Is-Valorant-F...
                </mat-label>
                <input  matInput />
              </mat-form-field> -->
          <div
            class="Referrals-card-link-block"
            *ngIf="
              data.type !== InfoPopupComponentType.popUp &&
              data.type !== InfoPopupComponentType.popUpEdit
            "
          >
            <!-- <p class="Referrals-card-link global-Elipses" #userinput>
                  https://www.paidia.gg/article/Is-Valorant-F...
                </p> -->
            <input
              class="Referrals-card-link global-Elipses"
              type="text"
              value="{{ currenturl }}"
              #userinput
            />
            <button
              (click)="copyInputMessage(userinput)"
              class="Referrals-card-link-button"
              inlineSVG="assets/icons/copy.svg"
            ></button>
          </div>

          <!-- <mat-form-field class="global-MatField  " appearance="outline" autocomplete="off">

              <mat-icon class="InputSearch-icon"> content_copy </mat-icon>
              <input  matInput placeholder="https://www.paidia.gg/article/Is-Valorant-F..." />

            </mat-form-field> -->
        </div>
        <div
          class="btn-group"
          *ngIf="data.type !== InfoPopupComponentType.info"
        >
          <div class="Referrals-card-link-block-close">
            <button
              class="button button-primary shareClose"
              (click)="onClose()"
              *ngIf="
                data.type !== InfoPopupComponentType.popUp &&
                data.type !== InfoPopupComponentType.popUpEdit
              "
            >
              Close
            </button>
          </div>

          <button
            class="btn button-primary popup-btn"
            (click)="onConfirm()"
            [hidden]="!data?.btnText"
          >
            {{ data.btnText | translate }}
          </button>

          <button
            (click)="onClose()"
            class="btn button-default popup-btn"
            [hidden]="!data?.btnText2"
            *ngIf="
              data.type == InfoPopupComponentType.popUp ||
              data.type == InfoPopupComponentType.popUpEdit
            "
          >
            {{ data.btnText2 | translate }}
          </button>
        </div>
        <!-- <button class="PopupCreated-close global-modal-close" (click)="onClose()" *ngIf="data.type !== InfoPopupComponentType.popUp && data.type !== InfoPopupComponentType.popUpEdit" >
            <mat-icon>close</mat-icon>
          </button> -->
      </div>
    </div>
  </div>
</section>
