<app-header-spark
  [title]="'Join Tournament - solo' | translate"
></app-header-spark>

<section class="SelectTeams-aside">
    <div class="SelectTeams-aside-icon-block">
      <img
        class="SelectTeams-aside-icon"
        src="assets/icons/matchmaking/swords.svg"
        alt="icon"
      />
    </div>
</section>

<main class="SelectTeams-main">
  <header class="SelectTeams-header">
    <h1 class="SelectTeams-header-title">
      <!-- {{ "MATCHMAKING.SELECT_TEAMS.TITLE" | translate }} --> ADD DETAILS
    </h1>
    <p class="SelectTeams-header-subtitle">
      <!-- {{ "MATCHMAKING.SELECT_TEAMS.SUBTITLE" | translate }} -->These are your details, please check before confirming
    </p>
  </header>

  <div class="row d-flex align-items-center" style="display: flex;">
    <div class="icon"><img src="assets/images/Tournament/Ellipse 545.png" alt="..." class="img-fluid" style="width: 75px;
      height: 75px;
      margin-right: 13px;"></div>
   <div>
    <a href="#" class="label"><strong class="d-block">XXINFINITY01</strong><span class="d-block">Mexico - North America</span></a>
   </div> 
  </div>


  <div class="row">
    <div class="row" style="margin-top: 15px;">
      <div class="col-lg-6" style="width: 300px;">
          <mat-form-field class="global-MatField LogReg-input" appearance="outline">
              <mat-label>{{ "UserName" | translate }}</mat-label>
              <input class="SubmitForm-input" matInput type="text" />
            </mat-form-field>
      </div>
      <div class="col-lg-6" style="width: 300px;">
          <mat-form-field class="global-MatField LogReg-input" appearance="outline">
              <mat-label>{{ "Email" | translate }}</mat-label>
              <input class="SubmitForm-input" matInput type="text"  />
            </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" style="width: 300px;">
          <mat-form-field class="global-MatField LogReg-input" appearance="outline">
              <mat-label>{{ "In-GameId" | translate }}</mat-label>
              <input class="SubmitForm-input" matInput type="text"/>
            </mat-form-field>
      </div>
      <div class="col-lg-6" style="width: 300px;">
          <mat-form-field class="global-MatField LogReg-input" appearance="outline">
              <mat-label>{{ "Mobile No" | translate }}</mat-label>
              <input class="SubmitForm-input" matInput type="text" />
            </mat-form-field>
      </div>
    </div>
  </div>


  <section class="SelectTeams-buttons" >
    <button class="SelectTeams-button button-secondary" >
      {{ "BUTTON.CANCEL" | translate }}
    </button>
  
  
  
    <button class="SelectTeams-button button-primary">
  
      <!-- {{ "BUTTON.CONFIRM" | translate }} --> CONFIRM & JOIN
    </button>
  </section>

</main>





