<app-header
  [isFirstPage]="tournamentForm?.value?.step == 0"
  [isAdvance]="tournamentForm?.value?.type == 'advance'"
></app-header>

<div class="TournamentCreate" [formGroup]="tournamentForm">
  <app-select-type
    *ngIf="tournamentForm?.value?.step == 0"
    (emitTournamentType)="tournamentTypeHandler($event)"
  >
  </app-select-type>
  <ng-container *ngIf="tournamentForm?.value?.type == 'quick'">
    <app-tournament-name
      *ngIf="tournamentForm?.value?.step == 1"
    ></app-tournament-name>
    <app-select-game *ngIf="tournamentForm?.value?.step == 2">
    </app-select-game>
    <app-select-platform
      *ngIf="tournamentForm?.value?.step == 3"
    ></app-select-platform>
    <!-- <app-bracket-type *ngIf="tournamentForm?.value?.step == 4"></app-bracket-type> -->
    <app-select-date *ngIf="tournamentForm?.value?.step == 4">
    </app-select-date>
    <app-send-invite *ngIf="tournamentForm?.value?.step == 5">
    </app-send-invite>
    <app-tournament-details
      *ngIf="tournamentForm?.value?.step == 6"
    ></app-tournament-details>
  </ng-container>
  <ng-container *ngIf="tournamentForm?.value?.type == 'advance'">
    <app-tournament-name
      *ngIf="tournamentForm?.value?.step == 1"
    ></app-tournament-name>
    <app-select-game *ngIf="tournamentForm?.value?.step == 2">
    </app-select-game>
    <app-select-platform
      *ngIf="tournamentForm?.value?.step == 3"
    ></app-select-platform>
    <app-select-date *ngIf="tournamentForm?.value?.step == 4">
    </app-select-date>
    <app-prize-money *ngIf="tournamentForm?.value?.step == 5"></app-prize-money>
    <app-entrance-fee
      *ngIf="tournamentForm?.value?.step == 6"
    ></app-entrance-fee>
    <app-bracket-type
      *ngIf="tournamentForm?.value?.step == 7"
    ></app-bracket-type>

    <ng-container
      *ngIf="tournamentForm?.value?.isPaid && tournamentForm?.value?.isPrize"
    >
      <app-entrance-fee-amount
        *ngIf="tournamentForm?.value?.step == 8"
      ></app-entrance-fee-amount>
      <app-add-prizes *ngIf="tournamentForm?.value?.step == 9">
      </app-add-prizes>
      <app-tournament-details
        *ngIf="tournamentForm?.value?.step == 10"
        (tournamentEvent)="setTournamentData($event)"
      ></app-tournament-details>
      <app-payment 
      *ngIf="tournamentForm?.value?.step == 11 && tournament?.enablePayment"
        [tournament]="tournament"
        ></app-payment>
    </ng-container>

    <ng-container
      *ngIf="tournamentForm?.value?.isPaid && !tournamentForm?.value?.isPrize"
    >
      <app-entrance-fee-amount
        *ngIf="tournamentForm?.value?.step == 8"
      ></app-entrance-fee-amount>
      <app-tournament-details
        *ngIf="tournamentForm?.value?.step == 9"
        (tournamentEvent)="setTournamentData($event)"
      ></app-tournament-details>
    </ng-container>

    <ng-container
      *ngIf="!tournamentForm?.value?.isPaid && tournamentForm?.value?.isPrize"
    >
      <app-add-prizes *ngIf="tournamentForm?.value?.step == 8">
      </app-add-prizes>
      <app-tournament-details
        *ngIf="tournamentForm?.value?.step == 9"
        (tournamentEvent)="setTournamentData($event)"
      ></app-tournament-details>
      <app-payment 
      *ngIf="tournamentForm?.value?.step == 11 && tournament?.enablePayment"
        [tournament]="tournament"
        ></app-payment>
    </ng-container>

    <ng-container
      *ngIf="!tournamentForm?.value?.isPaid && !tournamentForm?.value?.isPrize"
    >
      <app-tournament-details
        *ngIf="tournamentForm?.value?.step == 8"
      ></app-tournament-details>
    </ng-container>
  </ng-container>
</div>
