<div
  class="InputText"
  [ngClass]="{ basic: isBasic }"
  [formGroup]="customFormGroup"
>
    <mat-form-field
      class="InputText-title title"
      [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
      appearance="outline"
      autocomplete="off"
    >
      <mat-label> {{ title }} </mat-label>
      <input
        matInput
        [formControlName]="customFormControlName"
        class="InputText-input input"
        [type]="type"
        [placeholder]="placeholder"
        [value]="value"
        [readonly]="isDisabled"
        (keyup)="onSubmit($event)"
      />
    </mat-form-field>

</div>
