@import "shared";

:host {
  display: block;

  @include sm {
    padding-top: px2vw-sm(12px);
  }
}

.Custom-Streaming {
  width: 100%;

  &-Video {
    background-color: var(--base-01);
    width: 100%;
  }

  &-Loader {
    position: relative;
    left: 50%;

    @include xl {
      top: px2vw-xl(310px);
    }

    @include lg {
      top: px2vw-lg(300px);
    }

    @include md {
      top: px2vw-md(200px);
    }

    @include sm {
      top: px2vw-sm(150px);
    }
  }

  &-Icons {
    display: flex;
  }

  &-Icon {
    margin: px2vw-xl(10px);

    @include lg {
      margin: px2vw-lg(10px);
    }

    @include md {
      margin: px2vw-md(10px);
    }

    @include sm {
      margin: px2vw-sm(10px);
    }
  }
}
