

.button{

font-family: archivo-bold,sans-serif;
display: flex;
top: 35px;
position: relative;

margin: auto;

}

.paidia1{
  top: 90px;
position: relative;
}

#sect1 {
  // background-image: url(./bg.png);
  // background-size: 100%;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container-flex{
  display: flex;

  justify-content: center;
}

.img-paidia{
  margin: 5% 0% 15% 0%;

}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.img-page-not-found img{
  margin-top: 7%;
}
