@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.table-color {
  color: var(--base-white);
}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.headerText {
  font-size: medium;
  font-weight: bold;
}

.hr-margin {
  margin: 0;
  border-top: 1px solid var(--ui-venetian-red);
}

.tags-list {
  display: flex;
  flex-direction: row;

  .tag-item {
    text-align: center;
    border: 2px solid var(--ui-venetian-red);
    border-radius: 40px;
    background: transparent;
    color: var(--ui-venetian-red);
    padding: 0.7em 1.5em;
    outline: none;
    margin-right: 2em;
    cursor: pointer;
  }
}

.circle-span {
  color: var(--ui-venetian-red);
  background: var(--base-white);
  border-radius: 50%;
  margin: 0 20px 0 50px;
}
