<div class="TournamentTimeLabel">
  <label class="form-label" for="TournamentTime"> {{title}} </label>
</div>
<div class="TournamentTimeInput" (click)="fullTime.open()">
  <input
    class="form-field"
    id="TournamentTime"
    [ngxTimepicker]="fullTime"
    [placeholder]="'CREATE_TOURNAMENT.SELECT_DATE.TIME_PLACEHOLDER' | translate"
    [disabled]="true"
    [(ngModel)]="time"
    (ngModelChange)="onTimeChange()"
  />

  <ngx-material-timepicker
    #fullTime
    [timepickerClass]="'SparkTimeTheme'"
  ></ngx-material-timepicker>

  <img
    class="TournamentTime-icon"
    src="../../../../../assets/images/create-tournament/icon-time.png"
    alt="time"
  />
</div>
