@import "shared";

:host {
  display: block;
  padding-bottom: px2vw-xl(96px);

  @include lg {
    padding-bottom: px2vw-lg(96px);
  }

  @include md {
    padding-bottom: px2vw-md(96px);
  }

  @include sm {
    padding-bottom: px2vw-sm(96px);
  }
}

.MyStats-header {
  @extend %u-dfCenter;
  margin-top: 42.6px;

  @include lg {
  }

  @include md {
  }

  @include sm {
  }

  &-image {
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 105.5%;
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);

    @include sm {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

.MyStats-about {
  position: relative;
  z-index: 1;
  margin-bottom: px2vw-xl(72px);

  @include lg {
    margin-bottom: px2vw-lg(72px);
    display: flex;
    justify-content: space-between;
  }

  @include md {
    margin-bottom: px2vw-md(72px);
    display: block;
  }

  @include sm {
    margin-bottom: 22px;
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    text-transform: none;

    @include lg {
      margin-bottom: px2vw-lg(20px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }
  }

  &-icon {
    position: absolute;
    bottom: 117%;
    left: px2vw-xl(14px);
    height: px2vw-xl(55px);
    width: px2vw-xl(167px);

    @include lg {
      left: px2vw-lg(14px);
      height: px2vw-lg(55px);
      width: px2vw-lg(167px);
    }

    @include md {
      left: px2vw-md(14px);
      height: px2vw-md(55px);
      width: px2vw-md(167px);
    }

    @include sm {
      left: px2vw-sm(14px);
      height: px2vw-sm(55px);
      width: px2vw-sm(167px);
    }
  }

  &-rate {
    border-bottom: 1px solid var(--color-black-medium);
    position: relative;

    @include sm {
      padding-bottom: 22.5px;
    }

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      margin-bottom: 48px;
      margin-top: 9px;
      margin-bottom: 285px;

      @include md {
        text-align: center;
      }

      @include sm {
        text-align: left;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 233px;
      }
    }

    &-subtitle {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-white-medium);
      position: absolute;
      left: 77px;
      top: 148px;

      @include md {
        left: calc(50% - 61px / 2);
      }

      @include sm {
        font-size: 16px;
        line-height: 24px;
        top: 118px;
        left: calc(50% - 65px / 2);
      }

      &-percent {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 40px;
        letter-spacing: 0px;
        color: var(--white);
        text-align: center;

        @include sm {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }

    &-labels {
      display: flex;
      justify-content: space-between;
      max-width: 237px;
      width: 100%;

      @include md {
        margin: 0 auto;
      }
    }

    &-label {
      display: flex;

      &-title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
      }

      &-square {
        margin-right: 8px;

        &.win ::ng-deep svg rect {
        }
        &.draw ::ng-deep svg rect {
          fill: var(--secondary-color);
        }
        &.lose ::ng-deep svg rect {
          fill: var(--medium-orange-color);
        }
      }
    }
  }

  &-rank {
    padding-bottom: 32px;
    border-bottom: 1px solid var(--midnight-express-color);
    margin-top: 38px;

    @include lg {
      margin-top: 0;
    }

    @include md {
      margin-top: 20px;
    }

    @include sm {
      padding-bottom: 29px;
    }

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      margin-bottom: 27px;

      @include sm {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 21px;
      }
    }

    &-content {
      &-text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--tertiary-color);
        margin-bottom: 8px;
      }

      &-rankNo {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--white);

        @include sm {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }

  &-achievement {
    margin-top: 43px;

    @include lg {
      margin-top: 0;
    }

    @include md {
      margin-top: 20px;
    }

    @include sm {
      margin-top: 10px;
    }

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      text-transform: none;
      margin-bottom: 29px;

      @include sm {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 23px;
      }
    }
  }
}

.MyStats-statistic {
  margin-bottom: 40px;

  @include lg {
    margin-bottom: px2vw-lg(64px);
  }

  @include md {
    margin-bottom: px2vw-md(64px);
  }

  @include sm {
    margin-bottom: 32px;
  }
}

.MyStats {
  &-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 23.33px;

    @include lg {
      flex-wrap: wrap;
    }
  }

  &-leftContent {
    max-width: 282px;
    width: 100%;
    padding-left: 6px;

    @include lg {
      max-width: unset;
    }

    @include sm {
      padding-left: 0;
    }
  }

  &-rightContent {
    max-width: 908px;
    width: 100%;

    @include lg {
      max-width: unset;
    }
  }
}

.MyStats-games {
  &-heading {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 20px;

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: 24px;
      line-height: 32px;
    }
  }
}
