@import "shared";

:host {
  display: block;
}
img {
  max-width: 100%;
}
.SearchPlayers {
  // &-heading {
  //   @extend %subtitle-1;
  //   margin-bottom: px2vw-xl(32px);

  //   @include lg {
  //     margin-bottom: px2vw-lg(32px);
  //   }

  //   @include md {
  //     margin-bottom: px2vw-md(32px);
  //   }

  //   @include sm {
  //     margin-bottom: px2vw-sm(32px);
  //   }
  // }

  &-header {
    width: 100%;
    .form-label {
      margin-bottom: 11px;
    }
    .input-group {
      max-width: 100%;
      width: 100%;
      align-items: center;
      position: relative;
      // &:hover,
      // &:active {
      //   border: 2px solid var(--secondary-color);
      // }
      img.SearchPlayers-header-icon {
        position: absolute;
        right: 24px;
      }
      .input-field {
        @extend %global-textSm;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--white);
        padding: 10px 24px;
        background: var(--blackcurrant-color-medium);
        border: 2px solid var(--tolopea-color);
        border-radius: 50px;
        @include sm {
          padding: 6px 24px;
        }
        &::placeholder {
          color: var(--tolopea-color);
        }
        &:focus {
          border: 2px solid var(--txt-secondry-border);
        }
      }
    }
  }

  .form-label {
    @extend %global-textSm;
    color: var(--tolopea-medium-color);
    width: 100%;
  }
  &-header-icon {
    @extend %u-dfCenterCenter;
    ::ng-deep svg path {
      fill: var(--secondary-color);
    }
  }

  &-header-field {
    @extend %subtitle-1;
    flex-grow: 1;
    background-color: transparent;
    color: var(--white);
  }

  &-box {
    position: relative;
    width: 100%;
    height: 212px;
    background: var(--midnight-express-color);
    border: 2px solid var(--midnight-express-color);
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 5px;
  }

  &-list {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 5px;
    z-index: 99;
    padding: 16px 17px;
    overflow: hidden;
    overflow-y: auto;
  }

  &-list-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--white);
  }

  &-items {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &-item {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin: 16px 0;
    @include sm {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-item-info {
    @extend %u-dfCenter;
  }

  &-item-image {
    margin-right: px2vw-xl(8px);
    border-radius: 50%;
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-item-name {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--white);
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  &-item-toggle {
    @extend %u-dfCenterCenter;
    overflow: hidden;
    border-radius: px2vw-xl(2px);
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);
    transition: $global-transition;
    cursor: pointer;

    @include lg {
      border-radius: px2vw-lg(2px);
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
    }

    @include md {
      border-radius: px2vw-md(2px);
      height: px2vw-md(30px);
      width: px2vw-md(30px);
    }

    @include sm {
      border-radius: px2vw-sm(2px);
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
    }

    // &.active {
    //   // background-color: var(--color-primary);
    // }

    &:hover {
      opacity: 0.8;
    }
  }

  &-item-toggle-icon {
    user-select: none;

    &.plus {
      height: px2vw-xl(14px);
      width: px2vw-xl(14px);

      @include lg {
        height: px2vw-lg(14px);
        width: px2vw-lg(14px);
      }

      @include md {
        height: px2vw-md(14px);
        width: px2vw-md(14px);
      }

      @include sm {
        height: px2vw-sm(14px);
        width: px2vw-sm(14px);
      }
    }

    &.check {
      height: px2vw-xl(13.41px);
      width: px2vw-xl(17.59px);

      @include lg {
        height: px2vw-lg(13.41px);
        width: px2vw-lg(17.59px);
      }

      @include md {
        height: px2vw-md(13.41px);
        width: px2vw-md(17.59px);
      }

      @include sm {
        height: px2vw-sm(13.41px);
        width: px2vw-sm(17.59px);
      }
    }
  }
  .box-btn {
    .btn-invite {
      @extend %global-textSm;
      background: var(--secondary-color);
      border-radius: 6px;
      padding: 12px 32px;
      color: var(--white);
      text-transform: none;
      margin: px2vw-xl(16px) 0 px2vw-xl(32px);
    }
  }
  .form-invite {
    padding-top: 32px;
    border-bottom: 1px solid var(--color-black-medium);
    @include sm {
      padding-top: 16px;
    }
    ul.request-lists {
      width: 100%;
      margin: 0;
      padding: 0;
      .item {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid var(--color-black-medium);
        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }
        @include sm {
          padding-left: 0;
          padding-right: 0;
        }
        .item-left {
          display: -webkit-flex;
          display: flex;
          .avata {
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            overflow: hidden;
            margin-right: 16px;
            position: relative;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              object-fit: cover;
            }
          }
          .infomation {
            .name {
              @extend %global-textMd;
              color: rgba(255, 255, 255, 0.87);
              @include sm {
                font-size: 16px;
                line-height: 24px;
              }
            }
            .email {
              @extend %global-textSm;
              font-weight: 500;
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }
        .item-right {
          width: 100%;
          max-width: 125px;
          @include sm {
            max-width: 20px;
          }
          .btn-remove {
            .mb-hide-new {
              @media (max-width: 414px) {
                display: none;
              }
            }
            .mb-show-new {
              @media (min-width: 414px) {
                display: none;
              }
            }
            background: var(--color-white-medium);
            border: 2px solid var(--secondary-color);
            box-sizing: border-box;
            border-radius: 6px;
            @extend %global-textSm;
            display: flex;
            align-items: center;
            text-align: center;
            color: var(--secondary-color);
            justify-content: center;
            text-transform: none;
            padding: 10px 16px;
            @include sm {
              border: none;
              background-color: transparent;
              padding: 0;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
