@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.Footer {
  border-top: 1px solid var(--base-gainsboro);
  padding: px2vw-xl(25px) 0 px2vw-xl(30px);

  @include lg {
    padding: px2vw-lg(25px) 0 px2vw-lg(30px);
  }

  @include md {
    padding: px2vw-md(25px) 0 px2vw-md(30px);
  }

  @include sm {
    padding: px2vw-sm(24px) px2vw-sm(20px) px2vw-sm(35px);
  }

  .u-wp {
    @include lg {
      padding: 0;
    }
  }
}

.Footer-sectionA {
  margin-bottom: px2vw-xl(25px);
  display: flex;
  align-items: center;

  @include lg {
    margin-bottom: px2vw-lg(25px);
  }

  @include md {
    flex-direction: column;
    margin-bottom: px2vw-md(12px);
  }

  @include sm {
    align-items: flex-start;
    margin-bottom: px2vw-sm(25px);
  }

  &-logo {
    width: px2vw-xl(142px);
    align-items: baseline;

    @include lg {
      width: px2vw-lg(142px);
    }

    @include md {
      width: px2vw-md(165px);
    }

    @include sm {
      width: 155px;
      height: 70px;
    }
  }

  &-socials {
    margin-left: px2vw-xl(54px);
    display: none;

    @include lg {
      margin-left: px2vw-lg(28px);
    }

    @include md {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 0;
      margin-top: px2vw-md(20px);
      width: 100%;
    }

    @include sm {
      justify-content: space-between;
      margin-top: px2vw-sm(27px);
      width: 100%;
    }
  }

  &-social-link {
    display: inline-block;
    transition: 100ms linear;

    @include md {
      margin: 0 px2vw-md(20px);
    }

    @include sm {
      margin: 0;
    }

    &:hover {
      opacity: 0.8;
    }

    &:not(:last-child) {
      margin-right: px2vw-xl(32px);

      @include lg {
        margin-right: px2vw-lg(16px);
      }

      @include md {
        margin-right: 0;
      }
    }
  }

  &-stores {
    margin-left: auto;

    @include md {
      margin-top: px2vw-md(20px);
      margin-left: 0;
    }

    @include sm {
      margin-top: px2vw-sm(25px);
    }
  }

  &-store-link {
    display: inline-block;
    width: px2vw-xl(180px);

    @include lg {
      width: px2vw-lg(170px);
    }

    @include md {
      width: px2vw-md(170px);
    }

    @include sm {
      width: 50%;
    }

    &:not(:first-child) {

      @include lg {
        margin-left: px2vw-lg(10px);
      }

      @include md {
        margin-left: px2vw-md(10px);
      }

      @include sm {
        margin-left: 0;
      }
    }
  }

  &-store-image {
    width: 100%;
    transition: 100ms linear;

    &:hover {
      opacity: 0.85;
    }
  }
}
.Footer-sectionB {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include md {
    flex-direction: column;
  }

  &-navigation {
    @include md {
      margin-top: px2vw-md(10px);
    }

    @include sm {
      margin-top: px2vw-sm(10px);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &-navigation-link {
    font-size: px2vw-xl(16px);
    transition: 100ms linear;

    @include lg {
      font-size: px2vw-lg(15px);
    }

    @include md {
      font-size: px2vw-md(16.5px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(36px);
    }

    &:hover {
      opacity: 0.7;
    }

    &:not(:first-child) {
      position: relative;
      padding-left: px2vw-xl(32px);

      @include lg {
        padding-left: px2vw-lg(32px);
      }

      @include md {
        padding-left: px2vw-md(32px);
      }

      @include sm {
        padding-left: 0;
      }

      &::before {
        position: absolute;
        content: "";
        left: px2vw-xl(15px);
        top: px2vw-xl(3px);
        height: px2vw-xl(14px);
        width: 1px;
        background-color: var(--base-submarine);

        @include lg {
          left: px2vw-lg(15px);
          top: px2vw-lg(3px);
          height: px2vw-lg(14px);
        }

        @include md {
          left: px2vw-md(15px);
          top: px2vw-md(3px);
          height: px2vw-md(14px);
        }

        @include sm {
          left: px2vw-sm(-20px);
          top: px2vw-sm(8px);
          height: px2vw-sm(18px);
        }
      }
    }

    &:nth-child(4)::before {
      @include sm {
        display: none;
      }
    }
  }
}

.Copyright {
  margin-bottom: 0;
  font-size: px2vw-xl(18px);
  line-height: px2vw-xl(32px);

  @include lg {
    font-size: px2vw-lg(18px);
    line-height: px2vw-lg(32px);
  }

  @include md {
    font-size: px2vw-md(18px);
    line-height: px2vw-md(32px);
  }

  @include sm {
    width: 100%;
    font-size: px2vw-sm(24px);
    line-height: px2vw-sm(36px);
  }

  &.sectionA {
    display: none;

    @include sm {
      margin-top: px2vw-sm(40px);
      display: block;
    }
  }

  &.sectionB {
    @include sm {
      display: none;
    }
  }
}
