<div class="ArticlePost u-wp">
  <main class="ArticlePost-main">
    <header class="ArticlePost-header">
      <button class="ArticlePost-header-button button-icon-secondary" routerBack>
        <mat-icon> arrow_back </mat-icon>
        <span>
          {{ "BUTTON.BACK" | translate }}
        </span>
      </button>
    </header>
    <div class="Play-search u-wp">
      <h2 class="Play-search-title">ALL SEASONS</h2>
      <form class="Play-search-form">
        <img class="Play-search-form-icon" src="assets/icons/search.svg" alt="search"
          (click)="text ? getAllSeasons() : ''" />

        <input class="Play-search-form-input" type="text" [(value)]="text" (input)="onSearch($event)"
          [placeholder]="'Search for your favourite seasons'" />

        <div class="Play-search-form-select desktop">
          <div class="Play-search-form-select-filters">
            <!--Game   -->
            <mat-form-field class="global-SearchSelect" appearance="fill">
              <mat-label>Game </mat-label>
              <mat-select [(value)]="selected_game" (selectionChange)="getAllSeasons()" disableOptionCentering
                panelClass="global-SearchSelect-menu">
                <mat-option *ngFor="let option of gameList" [value]="option._id">
                  {{ option?.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- Season period -->
            <mat-form-field class="global-SearchSelect" appearance="fill">
              <mat-label> Season period </mat-label>
              <mat-select disableOptionCentering panelClass="global-SearchSelect-menu" [(value)]="season_period">
                <mat-option *ngFor="let option of season_period_list" [value]="option?.id">
                  {{ option?.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <button class="Play-search-form-button">
          <img class="Play-search-form-button-icon" src="assets/icons/tournament/filter.svg" alt="icon" />
        </button>
      </form>
    </div>
  </main>

  <div class="FeaturedContent-floor secondary">
    <div class="FeaturedContent-card" *ngFor="let card of seasonsList"
      [routerLink]="['/games/match-season/',card?._id]">
      <div class="FeaturedContent-card-image" [lazyLoad]="card?.image"></div>
      <div class="FeaturedContent-card-details">
        <img class="FeaturedContent-card-icon" [src]="card?.game?.logo" alt="icon" />
        <div class="FeaturedContent-card-about">
          <h3 class="FeaturedContent-card-title card-title global-Elipses">
            {{ card?.game?.name }}
          </h3>
          <p class="FeaturedContent-card-text card-text global-Elipses">
            {{ card?.startDate | date: "dd MMMM, yyyy" }}
          </p>
        </div>
      </div>
    </div>
    <p *ngIf="seasonsList.length <= 0">No Record Found</p>
  </div>
</div>
<mat-paginator [length]="paginationDetails?.totalDocs" [pageSize]="paginationData?.limit"
  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"></mat-paginator>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
