<section class="CardsStatistic">
  <!-- TOURNAMENTS -->
  <div class="CardsStatistic-item">
    <img
      class="CardsStatistic-item-icon"
      lazyLoad="assets/icons/profile/dashboard/sword.svg"
      alt="icon"
    />
    <div class="CardsStatistic-item-info">
      <h4 class="CardsStatistic-item-title">
        {{ "CARDS_STATISTICS.TOURNAMENTS" | translate }}
      </h4>
      <p class="CardsStatistic-item-value global-Elipses">07</p>
    </div>
  </div>

  <!-- My experience -->
  <div class="CardsStatistic-item">
    <img
      class="CardsStatistic-item-icon"
      lazyLoad="assets/icons/profile/dashboard/my-experience.svg"
      alt="icon"
    />
    <div class="CardsStatistic-item-info">
      <h4 class="CardsStatistic-item-title">
        <!-- {{ "CARDS_STATISTICS.RANK" | translate }} -->
        My experience
      </h4>
      <p class="CardsStatistic-item-value global-Elipses">04</p>
    </div>
  </div>

  <!-- MY TEAMS -->
  <div class="CardsStatistic-item">
    <img
      class="CardsStatistic-item-icon"
      lazyLoad="assets/icons/profile/dashboard/my-teams.svg"
      alt="icon"
    />
    <div class="CardsStatistic-item-info">
      <h4 class="CardsStatistic-item-title">
        {{ "CARDS_STATISTICS.TEAMS" | translate }}
      </h4>
      <p class="CardsStatistic-item-value global-Elipses">
        03 {{ "CARDS_STATISTICS.TEAMS_JOINED" | translate }}
      </p>
    </div>
  </div>

  <!-- Report score -->
  <div class="CardsStatistic-item">
    <img
      class="CardsStatistic-item-icon"
      lazyLoad="assets/icons/profile/dashboard/report-score.svg"
      alt="icon"
    />
    <div class="CardsStatistic-item-info">
      <h4 class="CardsStatistic-item-title">
        Report score
        <!-- {{ "CARDS_STATISTICS.MATCHES" | translate }} -->
      </h4>
      <p class="CardsStatistic-item-value global-Elipses">02</p>
    </div>
  </div>
</section>
