@import "shared";

:host {
  display: block;
}

.TeamCard {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--midnight-express-color) !important;
  padding: 16px !important;
  @include md {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &:last-child {
    // border-bottom: none !important;
    @include sm {
      border-bottom: 1px solid var(--white-smoke) !important;
    }
  }
  &-detail {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
  &-image {
    margin-right: 16px;
    flex-shrink: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-color: var(--black);
    overflow: hidden;
    position: relative;
    float: left;
    img {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-info-nick-name {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--white);
    margin-bottom: 0;
    @include md {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &-info-name {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--tolopea-color);
    margin-bottom: 0;
    display: inline;
    @include sm {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &-ButtonGroup {
    width: 100%;
    max-width: 263px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    @include md {
      display: none;
    }
    .btn {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      text-transform: none;
    }
  }
  &-ButtonGroupMB {
    display: none;
    @include md {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .TeamCard-manage-button-menu {
      width: 32px;
      height: 32px;
      background-color: transparent;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .TeamCard-manage-button-menu-icon {
      font-size: 24px;
      color: var(--main-color);
      @include sm {
        font-size: 24px;
        width: 32px;
        height: 32px;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }

    .TeamCard-manage-menu-link {
      .link,
      .icon {
        color: var(--white-medium);
      }

      &:hover .icon {
        color: var(--color-primary);
      }
    }
  }
}
.left{
  float: left;
}

