<div class="Inbox" *ngIf="parentMessage">
  <div class="Profile-title">{{ "PROFILE.INBOX.TITLE" | translate }}</div>

  <button routerBack class="stc-btnBuck">
    <span class="material-icons">
      keyboard_arrow_left
    </span>
    {{ "BUTTON.BACK" | translate }}
  </button>

  <div class="d-flex align-items-center justify-content-between mt-2">
    <div class="InboxMessage-date">
      {{ parentMessage.createdAt | date: "MMM d y h:mm a" }}
    </div>
  </div>

  <div class="InboxMessage-box">
    <app-inbox-message-item
      [messageData]="parentMessage"
    ></app-inbox-message-item>
    <app-inbox-message-item
      [type]="InboxMessageItemComponentType.preview"
      *ngFor="let replyMessage of replyMessages"
      [messageData]="replyMessage"
    >
    </app-inbox-message-item>
    <app-inbox-message-item
      [type]="InboxMessageItemComponentType.create"
      [messageSender]="loggedInUser"
      (replyMessageEvent)="saveReplyMessage($event)"
      [messageText]="replyMessage"
    >
    </app-inbox-message-item>
  </div>
</div>
