@import "shared";

:host {
  display: block;
  margin-left: auto;
}
.already-registered {
  display: flex;
  justify-self: center;
  align-items: center;

  @include sm {
    flex-wrap: wrap;
  }
}

.hide-btn {
  display: none;
}
.d_flex {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.not-allowed {
  cursor: not-allowed !important;
}

.registered {
  cursor: default;
  padding: 0;
  background-color: transparent;
  font-family: "source-sans-pro";
  color: var(--black) !important;

  &:hover {
    opacity: 1;
  }
}

.join-btn {
  width: auto;
  padding: 9px;
  display: flex;
  justify-content: space-between;
}

.time {
  display: flex;
  align-items: center;

  @include sm {
    margin-bottom: 16px;
  }

  &-img {
    background: var(--blackcurrant-color-medium);
    border-radius: 24px 0px 0px 24px;
    width: 59.13px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    & ::ng-deep svg {
      & path {
        fill: var(--spacesuit);
      }
    }

    @include sm {
      height: 46px;
      width: 54.74px;
    }
  }

  &-text {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 28px;
    text-align: right;
    color: var(--white);
    padding: 10px 24px 10px 16px;
    background: var(--color-background);
    border-radius: 0px 24px 24px 0px;
    margin-right: 18px;
    width: max-content;

    @include sm {
      border: 1px solid var(--midnight-express-color);
      height: 46px;
      width: 176px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

.button-default {
  background-color: var(--white-smoke) !important;
  color: var(--white-disabled);
}

.button-default1 {
  background-color: transparent;
  color: var(--black);
}

.margin-r {
  margin-right: 28px;
  @include sm {
    margin-right: 45px;
  }
}
