<mat-sidenav-container class="App-sidenav" id="chatsidematcontainer">
  <mat-sidenav
    #chatSidenav
    position="end"
    mode="over"
    *ngIf="isBrowser"
    id="chatsidenavcontent"
  >
    <button
      (click)="chatSidenav.toggle()"
      mat-icon-button
      class="chatsidetogglebuttonclose with-icon mat-b btn-light"
    >
    Close
      <!-- {{ "CHAT.CLOSE" | translate }} -->
      <span class="material-icons">keyboard_arrow_right</span>
    </button>
    <div class="App-chat">
      <div class="App-chat-search">
        <span class="material-icons">search</span>
        <input
          type="text"
          #searchinput
          (keyup)="searchUsers($event)"
          placeholder="{{ 'CHAT.SEARCH' | translate }}"
          class="searchbox"
          [(ngModel)]="currentsearch"
        />
      </div>
      <div
        class="chatseperator"
        *ngIf="showSearchListTitle && currentsearch != ''"
      >
        {{ "CHAT.SEARCH_LIST" | translate }}
      </div>
      <!-- <div class="chatspinner" *ngIf="isSpin">...</div> -->

      <div class="spinnercontainer1" *ngIf="!isSpin">
        <div class="spinnerblock"></div>
        <div class="spinnerblock"></div>
        <div class="spinnerblock"></div>
        <div class="spinnerblock"></div>
      </div>
      <ng-container *ngIf="currentsearch != ''">
        <div
          class="App-chat-item"
          *ngFor="let user of userlist; index as i; last as isLast"
          (click)="toggleChat(user)"
        >
          <div class="App-chat-item-ava">
            <img
              src="{{
                user.profilePicture || './assets/images/Profile/formation.svg'
              }}"
              alt=""
            />
          </div>
          <div class="App-chat-item-info">
            <div class="App-chat-item-info-title">
              {{ user.fullName }}
            </div>
            <div
              class="App-chat-item-info-date"
              *ngIf="user?.latestchat && user?.latestchat?.length > 0"
            >
              {{ (user?.latestchat)[0].updatedAt | date: "dd-MM-yyyy h:mm a" }}
            </div>
          </div>
        </div>
      </ng-container>
      <div
        class="App-chat-item"
        *ngIf="
          userlist?.length == 0 && currentsearch != '' && showSearchListTitle
        "
      >
        <div class="App-chat-item-info">
          {{ "CHAT.NO_USERS_FOUND" | translate }}
        </div>
      </div>

      <div class="chatseperator">{{ "CHAT.CHAT_HISTORY" | translate }}</div>
      <div class="spinnercontainer2" *ngIf="isSpin2">
        <div class="spinnerblock"></div>
        <div class="spinnerblock"></div>
        <div class="spinnerblock"></div>
        <div class="spinnerblock"></div>
      </div>
      <div
        class="App-chat-item"
        *ngFor="let chatwindow of chatWindows; index as i; last as isLast"
      >
        <div
          class="App-chat-item history-item"
          (click)="toggleChat(chatwindow)"
        >
          <div
            class="App-chat-item-ava"
            *ngIf="chatwindow.typeofchat === 'tournament'"
          >
            <img
              src="{{
                chatwindow?.tournamentid?.gameDetail
                  ? chatwindow?.tournamentid?.gameDetail?.logo
                  : './assets/images/Profile/formation.svg'

              }}"
              alt=""
            />
          </div>
          <div
            class="App-chat-item-ava"
            *ngIf="
              chatwindow.typeofchat === 'user' ||
              chatwindow.typeofchat === 'game' ||
              chatwindow.typeofchat === 'individual'
            "
          >
            <div *ngFor="let user of chatwindow?.users">
              <img
                *ngIf="user?._id !== currentUserId"
                src="{{
                  user?.profilePicture
                    ? user?.profilePicture
                    : './assets/images/Profile/formation.svg'
                }}"
                alt=""
              />
            </div>
          </div>
          <div class="App-chat-item-info">
            <div
              class="App-chat-item-info-title"
              *ngIf="chatwindow.typeofchat === 'tournament'"
            >
              {{ chatwindow?.tournamentid?.name }}
            </div>
            <div
              class="App-chat-item-info-title"
              *ngIf="
                chatwindow.typeofchat === 'user' ||
                chatwindow.typeofchat === 'game' ||
                chatwindow.typeofchat === 'individual'
              "
            >
              <div *ngFor="let user of chatwindow?.users">
                <div *ngIf="user?._id !== currentUserId">
                  {{ user?.fullName  }}
                </div>
              </div>
            </div>
            <!-- <div
              class="App-chat-item-info-text"
              *ngIf="chatwindow.type == 'tournament'"
            >
              {{ "CHAT.MATCH_NUMBER" | translate }} {{ chatwindow?.matchno }}
            </div> -->
            <div
              class="App-chat-item-info-text"
              *ngIf="chatwindow.typeofchat == 'tournament'"
            >
              <span *ngFor="let user of chatwindow?.users">
                {{ user?.fullName  }}
              </span>
            </div>
            <div class="App-chat-item-info-text" *ngIf="chatwindow?.latestchat">
              <div
                *ngIf="
                  currentUserId == chatwindow?.latestchat?.userid &&
                  chatwindow?.latestchat?.deleteflag == 'yes'
                "
              >
                {{ "CHAT.YOU_DELETED_THIS_MESSAGE" | translate }}
              </div>
              <div
                *ngIf="
                  currentUserId != chatwindow?.latestchat?.userid &&
                  chatwindow?.latestchat?.deleteflag == 'yes'
                "
              >
                {{ "CHAT.MESSAGE_WAS_DELETED" | translate }}
              </div>
              <div *ngIf="chatwindow?.latestchat?.deleteflag == 'no'">
                {{ chatwindow?.latestchat.msg }}
              </div>
            </div>
            <div class="App-chat-item-info-date">
              {{ chatwindow?.updatedAt | date: "dd-MM-yyyy h:mm a" }}
            </div>
          </div>
        </div>
        <div class="chat-item-wrapper">
          <div class="App-chat-item" *ngIf="isShowBlockUser">
            <div *ngFor="let user of chatwindow?.users">
              <div
                class="blockuser App-chat-item-info-text"
                *ngIf="
                  chatwindow.typeofchat != 'tournament' &&
                  user?._id !== currentUserId
                "
                (click)="
                  blockUser(blockUserModel, user?._id, chatwindow.matchid)
                "
              >
                <img
                  src="assets/images/chat/blockuser.svg"
                  alt="Trash"
                  class="blockimage"
                />
                <span class="reportspam btnspace"
                  >{{ "CHAT.BLOCK_USER" | translate }}
                </span>
              </div>
            </div>
          </div>
          <!-- (click)="blockUser(openModel, chatwindow?._id)" -->
          <div class="App-chat-item">
            <div *ngFor="let user of chatwindow?.users">
              <div
                class="blockuser App-chat-item-info-text"
                *ngIf="
                  chatwindow.typeofchat != 'tournament' &&
                  user?._id !== currentUserId
                "
                (click)="blockUser(openModel, user?._id, chatwindow.matchid)"
              >
                <img
                  src="assets/images/chat/reportSpam.svg"
                  alt="Trash"
                  class="blockimage"
                />
                <span class="reportspam btnspace">{{
                  "CHAT.REPORT_SPAM" | translate
                }}</span>
              </div>
            </div>
          </div>
          <div class="App-chat-item">
            <div
              class="App-chat-item-notification"
              *ngIf="chatwindow?.chatactivestatus == 1"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>

<lib-chat #chatcomponent
*ngIf="isBrowser && chatService.getCurrentMatch()"
[matchdetails]="matchdetails"
[showChatComponent]="showChat"
[typeofchat]="typeofchat"></lib-chat>


<ng-template #openModel let-modal class="Logout-modal">
  <header class="Logout-modal-header" *ngIf="isBrowser">
    <h3 class="Logout-modal-title">
      {{ "CHAT.REPORT_USER_SPAM" | translate }}
    </h3>
    <button class="Logout-modal-close" (click)="modal.dismiss()">
      <span class="material-icons">clear</span>
    </button>
  </header>
  <div class="Logout-modal-message" *ngIf="isBrowser">
    {{ "CHAT.DECISION" | translate }}
  </div>
  <div class="Logout-modal-message" *ngIf="isBrowser">
    {{ "CHAT.YOUR_COMMENTS" | translate }}<br />
    <textarea
      [value]=""
      (input)="spamcomment = $event.target.value"
      placeholder="{{ 'CHAT.SPAM_COMMENTS' | translate }}"
      class="commentbox"
    ></textarea>
  </div>
  <div class="Logout-modal-buttons" *ngIf="isBrowser">
    <button
      class="Logout-modal-button global-EditBtn dark-text"
      (click)="modal.dismiss()"
    >
      {{ "ASIDE.CANCEL" | translate }}
    </button>
    <button
      class="Logout-modal-button global-EditBtn"
      (click)="onConfirmSpam()"
    >
      {{ "ASIDE.CONFIRM" | translate }}
    </button>
  </div>
</ng-template>

<ng-template #blockUserModel let-modal class="Logout-modal">
  <header class="Logout-modal-header" *ngIf="isBrowser">
    <h3 class="Logout-modal-title">
      {{ "CHAT.BLOCK_USER" | translate }}
    </h3>
    <button class="Logout-modal-close" (click)="modal.dismiss()">
      <span class="material-icons">clear</span>
    </button>
  </header>
  <div class="Logout-modal-message" *ngIf="isBrowser">
    {{ "CHAT.BLOCK_DECISION" | translate }}
  </div>

  <div class="Logout-modal-buttons" *ngIf="isBrowser">
    <button
      class="Logout-modal-button global-EditBtn dark-text"
      (click)="modal.dismiss()"
    >
      {{ "ASIDE.CANCEL" | translate }}
    </button>
    <button
      class="Logout-modal-button global-EditBtn"
      (click)="onConfirmBlock()"
    >
      {{ "ASIDE.CONFIRM" | translate }}
    </button>
  </div>
</ng-template>
