@import "shared";

:host {
  display: block;
}

.Date {
  // border-bottom: 2px solid var(--base-white);
  // padding-bottom: px2vw-xl(32px);
  width: 100%;
  @include lg {
    padding-bottom: px2vw-lg(32px);
  }

  @include md {
    padding-bottom: px2vw-md(32px);
  }

  @include sm {
    padding-bottom: px2vw-sm(32px);
  }

  &-title {
    margin-bottom: px2vw-xl(50px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
      line-height: 2;
    }
  }

  &-box {
    width: 100%;

    &.mat-form-field {
      & .mat-form-field-underline {
        background-color: var(--base-white);
        height: 1.5px;
      }

      & .mat-form-field-label {
        font-size: px2vw-xl(30px);
        color: var(--base-white);
        font-weight: 1000;
      }
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      display: flex;
    }
  }

  &-input {
    width: 100%;
    flex-grow: 1;
    background-color: transparent;
    color: var(--base-white);

    .mat-form-field {
      .mat-form-field-underline {
        background-color: var(--base-white);
        height: 1.5px;
      }

      .mat-form-field-label {
        font-size: px2vw-xl(30px);
        color: var(--base-white);
        font-weight: 1000;
      }
    }

    @include sm {
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }

    &::placeholder {
      color: var(--base-white);
      opacity: 0.2;
    }
  }

  &-icon {
    margin-left: px2vw-xl(20px);
    width: px2vw-xl(27px);
    height: px2vw-xl(30px);
    cursor: pointer;

    @include lg {
      margin-left: px2vw-lg(20px);
      width: px2vw-lg(27px);
      height: px2vw-lg(30px);
    }

    @include md {
      margin-left: px2vw-md(20px);
      width: px2vw-md(27px);
      height: px2vw-md(30px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
      width: px2vw-sm(27px);
      height: px2vw-sm(30px);
    }
  }

  &-block {
    & .mat-form-field {
      width: 100%;
    }
  }
}

.InputDate.basic {
  border-bottom: none;
  padding-bottom: 0;

  .InputDate-title {
    margin-bottom: px2vw-xl(10px);
    color: var(--base-submarine);

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  .InputDate-block {
    border-radius: px2vw-xl(4px);
    background-color: rgba(0, 0, 0, 0.3);
    padding: px2vw-xl(18px) px2vw-xl(25px) px2vw-xl(22px);

    @include lg {
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(18px) px2vw-lg(25px) px2vw-lg(22px);
    }

    @include md {
      border-radius: px2vw-md(4px);
      padding: px2vw-md(18px) px2vw-md(25px) px2vw-md(22px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(18px) px2vw-sm(25px) px2vw-sm(22px);
    }
  }

  .InputDate-input {
    &::placeholder {
      opacity: 1;
    }
  }

  .InputDate-icon {
    display: none;
  }
}

.mat-form-field.Date-box {
  width: 100%;
  .mat-form-field-underline {
    background-color: var(--base-white);
    height: 1.5px;
  }

  .mat-form-field-label {
    font-size: px2vw-xl(30px);
    color: var(--base-white);
    font-weight: 1000;
  }
}

::ng-deep {
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    display: flex !important;
    padding: 1.438em 0;
  }
  .mat-datepicker-toggle-default-icon {
    color: white !important;
    width: 2em !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(255, 255, 255, 0.1);
    font-size: 29px;
    font-weight: 1000 !important;
    font-family: "stc-forward-bold", sans-serif;
    letter-spacing: 1.25px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--base-white);
    bottom: 0.25em;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.25em;
  }
}
