<div class="Phone" [formGroup]="customFormGroup">
  <div class="global-join-particpant-intlTel">

    <div
      class="Phone-error global-Text2"
      *ngIf="
        (customFormGroup?.controls)[customFormControlName]?.touched &&
        (customFormGroup?.controls)[customFormControlName]?.errors
      "
    > 
      {{
        (customFormGroup?.controls)[customFormControlName]?.errors
          | errorPipe
          | translate
      }}
    </div>
  </div>
</div>
