@import "shared";

.popup-wrapper {
  z-index: 99;
  position: fixed;
  right: px2vw-lg(15px);
  bottom: px2vw-lg(15px);
  box-shadow: 1px 1px px2vw-lg(7px) var(--ui-mischka);
  max-width: px2vw-lg(400px);
  width: 100%;
  padding: px2vw-lg(30px);
  background-color: var(--base-white);
  text-align: center;
  color: var(--base-black);

  @include md {
    max-width: px2vw-md(350px);
  }

  @include sm {
    max-width: px2vw-sm(300px);
  }

  & .global-Dialog-close {
    right: 0;
  }
}
.close {
  position: absolute;
  top: 30px;
  right: 15px;
  height: auto;
  @include md {
    top: 5px;
    right: 0;
  }
  @include sm {
    top: 5px;
    right: 0;
  }

  & .close-icon {
    width: 45px;
  }
}
