<!-- <app-header-dynasty

  [title]="'Join Tournament'"
></app-header-dynasty> -->
<div class="JoinTournament">
  <div class="JoinTournament-container">
    <div class="JoinTournament-wrapper">
      <div class="JoinTournament-inner">
        <div class="JoinTournamentAside">
          <div class="JoinTournamentAside-Thumbnail">
            <img src="../../../assets/images/manage-tournament/img.png" alt="">
          </div>
          <div class="JoinTournamentAside-Info">
            <div class="JoinTournamentAside-Info-box">
              <h4 class="title">
                Fortnite first strike tournament - Alpha phase
              </h4>
              <div class="price">
                <span>21 Aug 2021 — 28 Aug 2021</span>
              </div>
              <a class="link-to">Registration open</a>
            </div>
          </div>
        </div>
        <main class="SelectTeams-main">
          <header class="SelectTeams-header">
            <h1 class="SelectTeams-header-title">
              {{ "MATCHMAKING.SELECT_TEAMS.TITLE" | translate }}
            </h1>
            <p class="SelectTeams-header-subtitle">
              {{ "MATCHMAKING.SELECT_TEAMS.SUBTITLE" | translate }}
            </p>
            <!-- <a class="SelectTeams-header-link" [routerLink]="'/create-team'">
              {{ "MATCHMAKING.SELECT_TEAMS.LINK" | translate }}
            </a> -->
          </header>

          <section class="SelectTeams-items">
            <!-- <h3 class="SelectTeams-items-title">
              {{ "MATCHMAKING.SELECT_TEAMS.YOUR_TEAMS" | translate }}
            </h3> -->
            <ul class="SelectTeams-items-cards">
              <ng-container *ngIf="teams.length">
                <li class="SelectTeams-items-card " *ngFor="let team of teams"
                  [class.active]="selectedteam?._id == team._id" (click)="selectedteam = team">
                  <div class="SelectTeams-items-card-banner" [lazyLoad]="team.image"></div>
                  <div class="SelectTeams-items-card-info">
                    <div class="SelectTeams-items-card-image" [lazyLoad]="team.image"></div>
                    <p class="SelectTeams-items-card-name card-name">
                      {{ team.name }}
                    </p>
                    <p class="SelectTeams-items-card-members card-members">
                      12 members {{ team | json }}
                    </p>
                  </div>
                </li>
              </ng-container>

              <!-- ADD PLUS BUTTON -->
              <li class="SelectTeams-items-card" [routerLink]="AppHtmlRoutes.createTeam">
                <div class="SelectTeams-items-card-image add-plus">
                  <span class="SelectTeams-items-card-icon" inlineSVG="assets/icons/Icon-plus.svg"></span>
                </div>
                <p class="SelectTeams-items-card-name card-name">
                  {{ "MATCHMAKING.SELECT_TEAMS.CREATE_TEAM" | translate }}
                </p>
              </li>
            </ul>
          </section>

          <!--<section class="SelectTeams-buttons">
            <button class="SelectTeams-button button-secondary" [routerLink]="AppHtmlRoutes.play">
              {{ "BUTTON.CANCEL" | translate }}
            </button>

            <button class="SelectTeams-button button-icon-secondary" [routerLink]="AppHtmlRoutes.play">
              <mat-icon> arrow_back </mat-icon>
              <span>
                {{ "BUTTON.BACK" | translate }}
              </span>
            </button>

            <button class="SelectTeams-button button-primary" (click)="confirm()">
               [routerLink]="AppHtmlJoinTournamentRoutes.teammembers" 
              {{ "BUTTON.CONFIRM" | translate }}
            </button>
          </section>-->
        </main>
      </div>
    </div>
  </div>
</div>
<div class="ss-footer-buttons">
  <div class="wrapper">
    <div class="inner">
      <div class="box-item box-item-left">
      </div>
      <div class="box-item box-item-right">
        <button class="SelectGame-button button-primary" (click)="confirm()">
          {{ "BUTTON.JOIN_TOURNAMENT" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>