@import "shared";

:host {
  display: block;
}

.SelectTeams-aside {
  flex-shrink: 0;
  margin-right: px2vw-xl(15px);

  @include lg {
    margin-right: px2vw-lg(15px);
  }

  @include md {
    margin-right: px2vw-md(15px);
  }

  @include sm {
    margin-right: px2vw-sm(15px);
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    height: px2vw-xl(56px);
    width: px2vw-xl(97px);

    @include lg {
      height: px2vw-lg(56px);
      width: px2vw-lg(97px);
    }

    @include md {
      height: px2vw-md(56px);
      width: px2vw-md(97px);
    }

    @include sm {
      height: px2vw-sm(56px);
      width: px2vw-sm(97px);
    }
  }

  &-icon {
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);

    @include lg {
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }
}

.SelectTeams-main {
  width: 100%;
  max-width: calc(100% - 295px);
  padding-left: px2vw-xl(123px);
  @include lg {
    padding-left: px2vw-lg(123px);
  }

  @include md {
    padding-left: px2vw-md(123px);
  }

  @include sm {
    max-width: 100%;
    padding-left: 0;
  }
}

.SelectTeams-header {
  margin-bottom: px2vw-xl(24px);

  @include lg {
    margin-bottom: px2vw-lg(24px);
  }

  @include md {
    margin-bottom: px2vw-md(24px);
  }

  @include sm {
    margin-bottom: 16px;
  }

  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: var(--white);
    margin-bottom: px2vw-xl(32px);
    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
      font-size: 24px;
      line-height: 32px;
    }

    @include sm {
      margin-bottom: 16px;
    }
  }

  &-subtitle {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;

    // @include lg {
    //   margin-bottom: px2vw-lg(13px);
    // }

    // @include md {
    //   margin-bottom: px2vw-md(13px);
    // }

    // @include sm {
    //   margin-bottom: px2vw-sm(13px);
    // }
  }

  &-link {
    @extend %subtitle-1;
    color: var(--color-secondary);
    transition: $global-transition2;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.SelectTeams-items {
  margin-bottom: px2vw-xl(30px);
  width: 100%;

  @include lg {
    margin-bottom: px2vw-lg(30px);
  }

  @include md {
    margin-bottom: px2vw-md(30px);
  }

  @include sm {
    margin-bottom: px2vw-sm(30px);
  }

  &-title {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-cards {
    margin-bottom: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    @include sm {
      justify-content: space-between;
    }
    // display: grid;
    // grid-template-columns: repeat(3, px2vw-xl(220px));
    // grid-template-rows: 1fr;
    // grid-column-gap: px2vw-xl(24px);
    // grid-row-gap: px2vw-xl(24px);

    // @include lg {
    //   grid-template-columns: repeat(3, px2vw-lg(220px));
    //   grid-column-gap: px2vw-lg(24px);
    //   grid-row-gap: px2vw-lg(24px);
    // }

    // @include md {
    //   grid-template-columns: repeat(3, px2vw-md(220px));
    //   grid-column-gap: px2vw-md(24px);
    //   grid-row-gap: px2vw-md(24px);
    // }

    // @include sm {
    //   grid-template-columns: repeat(3, px2vw-sm(220px));
    //   grid-column-gap: px2vw-sm(24px);
    //   grid-row-gap: px2vw-sm(24px);
    // }
  }

  &-card {
    @extend %u-dfCenter;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: px2vw-xl(8px);
    border: px2vw-xl(1px) solid var(--midnight-express-color);
    background: var(--blackcurrant-color-medium);
    cursor: pointer;
    transition: $global-transition2;
    width: 100%;
    max-width: calc((100% / 3) - 48px);
    margin-bottom: px2vw-xl(24px);
    overflow: hidden;
    min-height: px2vw-xl(205px);
    &:nth-child(3n + 2) {
      margin-right: px2vw-xl(24px);
      margin-left: px2vw-xl(24px);
      @include lg {
        margin-right: px2vw-lg(24px);
        margin-left: px2vw-lg(24px);
      }

      @include md {
        margin-right: px2vw-md(24px);
        margin-left: px2vw-md(24px);
      }

      @include sm {
        margin-right: 0;
        margin-left: 0;
      }
    }

    &:last-child {
      border-style: dashed;
      justify-content: center;
    }

    @include lg {
      border-radius: px2vw-lg(8px);
      border-width: px2vw-lg(1px);
      margin-bottom: px2vw-lg(24px);
      min-height: px2vw-lg(205px);
    }

    @include md {
      border-radius: px2vw-md(8px);
      border-width: px2vw-md(1px);
      margin-bottom: px2vw-md(24px);
      min-height: px2vw-md(205px);
    }

    @include sm {
      max-width: calc((100% / 2) - 8px);
      border-radius: px2vw-sm(8px);
      border-width: px2vw-sm(1px);
      margin-bottom: px2vw-sm(24px);
      min-height: 176px;
    }

    &:hover {
      border-color: var(--main-color);

      // .card-name {
      //   color: var(--main-color);
      // }
    }
    &.active {
      border-color: var(--main-color);

      .icon ::ng-deep svg path {
        fill: var(--color-primary);
      }

      .label {
        color: var(--white-high);
      }
    }
  }

  &-card-image {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: var(--black);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);
    margin: 0 auto 8px;
    @include lg {
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      height: px2vw-sm(86.016px);
      width: px2vw-sm(86.016px);
    }

    &.add-plus {
      @extend %u-dfCenterCenter;
      background-color: transparent;
      margin-bottom: px2vw-xl(28px);
      @include lg {
        margin-bottom: px2vw-lg(28px);
      }

      @include md {
        margin-bottom: px2vw-md(28px);
      }

      @include sm {
        margin-bottom: px2vw-sm(28px);
      }
    }
  }

  &-card-banner {
    background-color: var(--white);
    width: 100%;
    height: px2vw-xl(109px);
    margin-bottom: px2vw-xl(-30px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include lg {
      height: px2vw-lg(109px);
      margin-bottom: px2vw-lg(-30px);
    }

    @include md {
      height: px2vw-md(109px);
      margin-bottom: px2vw-md(-30px);
    }

    @include sm {
      height: px2vw-sm(109px);
      margin-bottom: px2vw-sm(-30px);
    }
  }
  // CREATE TEAM PLUS ICON
  &-card-icon {
    ::ng-deep svg {
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);

      @include lg {
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }

      @include md {
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }

      @include sm {
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }

      path {
        fill: var(--main-color);
      }
    }
  }

  &-card-name {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    transition: inherit;
    margin-bottom: 0;
    text-align: center;
    // @include lg {
    //   margin-top: px2vw-lg(16px);
    // }

    // @include md {
    //   margin-top: px2vw-md(16px);
    // }

    // @include sm {
    //   margin-top: px2vw-sm(16px);
    // }
  }
  &-card-members {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--tolopea-medium-color);
    margin-bottom: 19px;
  }
}

.SelectTeams-buttons {
  @extend %u-dfCenter;
  margin-top: auto;
}

.SelectTeams-button {
  margin-right: px2vw-xl(8px);

  @include lg {
    margin-right: px2vw-lg(8px);
  }

  @include md {
    margin-right: px2vw-md(8px);
  }

  @include sm {
    margin-right: px2vw-sm(8px);
  }

  &:last-child {
    margin-right: 0;
  }
}
.JoinTournament {
  width: 100%;
  margin-top: px2vw-lg(100px);
  padding-bottom: px2vw-lg(100px);
  @include lg {
    margin-top: px2vw-lg(100px);
    padding-bottom: px2vw-lg(100px);
  }

  @include md {
    margin-top: px2vw-md(40px);
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    margin-top: px2vw-sm(43.008px);
    padding-bottom: px2vw-sm(43.008px);
  }
  &-container {
    width: 100%;
    max-width: 1308px;
    margin: 0 auto;
    padding: 0 24px;
  }
  &-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.JoinTournamentAside {
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 295px;
  @include md {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  @include sm {
    max-width: 100%;
  }
  &-Thumbnail {
    overflow: hidden;
    width: 100%;
    height: 164px;
    position: relative;
    @include md {
      width: 100%;
      max-width: 155px;
      height: 88px;
      border-radius: 8px;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &-Info {
    @include md {
      width: 100%;
      max-width: calc(100% - 155px);
    }
    &-box {
      padding: 24px;
      background: var(--blackcurrant-color-medium);
      @include md {
        width: 100%;
        padding: 0 0 0 16px;
        background: transparent;
      }
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: var(--color-white-medium);
        margin-bottom: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @include md {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .price {
        margin-bottom: 24px;
        @include md {
          display: none;
        }
        span {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: var(--tolopea-color);
        }
      }
      .link-to {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--green);
        @include md {
          font-weight: 500;
        }
      }
    }
  }
}
.ss-footer-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--midnight-express-color);
  z-index: 9;
  .inner {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 18px 24px;

    .box-item {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      max-width: 50%;
      &-left {
        justify-content: flex-start;
      }
      &-right {
        justify-content: flex-end;
        span {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-align: right;
          color: var(--tolopea-color);
          display: inline-block;
          margin-right: 16px;
        }
      }
      .SelectGame-button {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        color: var(--white);
        @include md {
          width: 100%;
          justify-content: center;
        }
      }
      @include md {
        max-width: 100%;
        justify-content: center;
      }
    }
  }
}
