@import "shared";

:host {
}

.InboxMessageItem {
  @extend %u-dfStartBtw;
  color: #707070;

  &-img {
    min-width: px2vw-xl(50px);
    width: px2vw-xl(50px);
    height: px2vw-xl(50px);
    background: #fff;
    border-radius: 50%;
    color: #000;
    text-transform: uppercase;
    font-weight: 600px;
    padding-top: px2vw-lg(5px);
    padding-left: px2vw-lg(10px);
    font-size: px2vw-lg(20px);

    @include lg {
      min-width: px2vw-lg(50px);
      width: px2vw-lg(50px);
      height: px2vw-lg(50px);
      margin-right: px2vw-lg(20px);
    }

    @include md {
      min-width: px2vw-md(50px);
      width: px2vw-md(50px);
      height: px2vw-md(50px);
      margin-right: px2vw-md(20px);
    }

    @include sm {
      min-width: px2vw-sm(50px);
      width: px2vw-sm(50px);
      height: px2vw-sm(50px);
      margin-right: px2vw-sm(20px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-name {
    padding-top: px2vw-xl(14px);
    font-size: px2vw-xl(18px);
    margin-bottom: px2vw-xl(37px);
    font-family: "dynasty-primary-light", sans-serif;

    @include lg {
      padding-top: px2vw-lg(14px);
      font-size: px2vw-lg(18px);
      margin-bottom: px2vw-lg(37px);
    }

    @include md {
      padding-top: px2vw-md(14px);
      font-size: px2vw-md(18px);
      margin-bottom: px2vw-md(37px);
    }

    @include sm {
      padding-top: px2vw-sm(14px);
      font-size: px2vw-sm(18px);
      margin-bottom: px2vw-sm(37px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(43px);
    font-family: "dynasty-primary-semibold", sans-serif;

    @include lg {
      margin-bottom: px2vw-lg(43px);
    }

    @include md {
      margin-bottom: px2vw-md(43px);
    }

    @include sm {
      margin-bottom: px2vw-sm(43px);
    }
  }

  &-body {
    margin-bottom: px2vw-xl(18px);
    color: inherit;

    @include lg {
      margin-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
    }
  }

  &-data {
    font-size: px2vw-xl(18px);
    margin-bottom: px2vw-xl(28px);
    font-family: "dynasty-primary-light", sans-serif;

    @include lg {
      font-size: px2vw-lg(18px);
      margin-bottom: px2vw-lg(28px);
    }

    @include md {
      font-size: px2vw-md(18px);
      margin-bottom: px2vw-md(28px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      margin-bottom: px2vw-sm(28px);
    }
  }

  &-footer {
    border-bottom: px2vw-xl(1px) solid rgba(255, 255, 255, 0.5);
    padding-bottom: px2vw-xl(21px);
    width: 70%;

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding-bottom: px2vw-lg(21px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding-bottom: px2vw-md(21px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding-bottom: px2vw-sm(21px);
    }

    .mesf-IconBtn {
      font-size: px2vw-xl(18px);
      color: inherit;

      @include lg {
        font-size: px2vw-lg(18px);
      }

      @include md {
        font-size: px2vw-md(18px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
      }

      fa-icon {
        margin-left: px2vw-xl(10px);

        @include lg {
          margin-left: px2vw-lg(10px);
        }

        @include md {
          margin-left: px2vw-md(10px);
        }

        @include sm {
          margin-left: px2vw-sm(10px);
        }
      }
    }
  }

  &-create {
    width: 100%;

    textarea {
      @extend %mesf-Text;
      padding: px2vw-xl(19px) px2vw-xl(30px);
      border-radius: px2vw-xl(10px);
      min-height: px2vw-xl(171px);
      border: px2vw-xl(2px) solid var(--textcolor);
      width: 100%;
      background: none;

      @include lg {
        padding: px2vw-lg(19px) px2vw-lg(30px);
        border-radius: px2vw-lg(10px);
        min-height: px2vw-lg(171px);
        border-width: px2vw-lg(2px);
      }

      @include md {
        padding: px2vw-md(19px) px2vw-md(30px);
        border-radius: px2vw-md(10px);
        min-height: px2vw-md(171px);
        border-width: px2vw-md(2px);
      }

      @include sm {
        padding: px2vw-sm(19px) px2vw-sm(30px);
        border-radius: px2vw-sm(10px);
        min-height: px2vw-sm(171px);
        border-width: px2vw-sm(2px);
      }
    }
  }

  &-top {
    @extend %u-dfStartBtw;
  }

  &.is-create {
    flex-flow: column;
    margin-top: px2vw-xl(30px);
  }

  &.is-create &-name {
    margin-bottom: px2vw-xl(61px);
    margin-left: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(61px);
    }

    @include md {
      margin-bottom: px2vw-md(61px);
    }

    @include sm {
      margin-bottom: px2vw-sm(61px);
    }
  }

  &.is-preview {
    padding-top: px2vw-xl(19px);

    @include lg {
      padding-top: px2vw-lg(19px);
    }

    @include md {
      padding-top: px2vw-md(19px);
    }

    @include sm {
      padding-top: px2vw-sm(19px);
    }
  }

  &.is-preview &-body {
    padding-top: px2vw-xl(14px);

    @include lg {
      padding-top: px2vw-lg(14px);
    }

    @include md {
      padding-top: px2vw-md(14px);
    }

    @include sm {
      padding-top: px2vw-sm(14px);
    }
  }

  &-wp {
    width: 100%;
    margin-left: px2vw-sm(10px);
  }
}
