@import "shared";

::ng-deep .cdk-global-scrollblock {
    top: unset !important;
}
::ng-deep .custom_dialog {
    background-color: var(--black-light);
    height: px2vw-xl(244px);
    max-height: px2vw-xl(244px);
    width: px2vw-xl(537px);
    max-width: px2vw-xl(537px);
    border-radius: px2vw-xl(2px);
    @include lg {
        height: px2vw-lg(244px);
        max-height: px2vw-lg(244px);
        width: px2vw-lg(537px);
        max-width: px2vw-lg(537px);
        border-radius: px2vw-lg(2px);
    }
    @include md {
        height: px2vw-md(244px);
        max-height: px2vw-md(244px);
        width: px2vw-md(537px);
        max-width: px2vw-md(537px);
        border-radius: px2vw-md(2px);
    }
    @include sm {
        height: px2vw-sm(244px);
        max-height: px2vw-sm(244px);
        width: px2vw-sm(537px);
        max-width: px2vw-sm(537px);
        border-radius: px2vw-sm(2px);
    }
}

.main_content {
    padding: px2vw-xl(35px);
    position: relative;
    @include lg {
        padding: px2vw-lg(35px);
    }
    @include md {
        padding: px2vw-md(35px);
    }
    @include sm {
        padding: px2vw-sm(35px);
    }
    .btn_close {
        position: absolute;
        right: 0;
        top: 0;
        height: px2vw-xl(30px);
        width: px2vw-xl(30px);
        background-color: var(--color-close-btn);
        border-radius: 0px px2vw-xl(2px) 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include lg {
            height: px2vw-lg(30px);
            width: px2vw-lg(30px);
            border-radius: 0px px2vw-lg(2px) 0px 0px;
        }
        @include md {
            height: px2vw-md(30px);
            width: px2vw-md(30px);
            border-radius: 0px px2vw-md(2px) 0px 0px;
        }
        @include sm {
            height: px2vw-sm(30px);
            width: px2vw-sm(30px);
            border-radius: 0px px2vw-sm(2px) 0px 0px;
        }
    }
    h5 {
        font-family: "maxis-black";
        font-size: px2vw-xl(24px);
        letter-spacing: px2vw-xl(0.18px);
        color: var(--white-high);
        margin-bottom: px2vw-xl(24px);
        display: flex;
        align-items: center;
        @include lg {
            font-size: px2vw-lg(24px);
            letter-spacing: px2vw-lg(0.18px);
            margin-bottom: px2vw-lg(24px);
        }
        @include md {
            font-size: px2vw-md(24px);
            letter-spacing: px2vw-md(0.18px);
            margin-bottom: px2vw-md(24px);
        }
        @include sm {
            font-size: px2vw-sm(24px);
            letter-spacing: px2vw-sm(0.18px);
            margin-bottom: px2vw-sm(24px);
        }
        img {
            margin-right: px2vw-xl(10px);
            @include lg {
                margin-right: px2vw-lg(10px);
            }
            @include md {
                margin-right: px2vw-md(10px);
            }
            @include sm {
                margin-right: px2vw-sm(10px);
            }
        }
    }
    p {
        font-family: "maxis-semibold";
        font-size: px2vw-xl(14px);
        letter-spacing: px2vw-xl(0.25px);
        line-height: px2vw-xl(20px);
        color: var(--white-medium);
        margin-bottom: px2vw-xl(40px);
        @include lg {
            font-size: px2vw-lg(14px);
            letter-spacing: px2vw-lg(0.25px);
            line-height: px2vw-lg(20px);
            margin-bottom: px2vw-lg(40px);
        }
        @include md {
            font-size: px2vw-md(14px);
            letter-spacing: px2vw-md(0.25px);
            line-height: px2vw-md(20px);
            margin-bottom: px2vw-md(40px);
        }
        @include sm {
            font-size: px2vw-sm(14px);
            letter-spacing: px2vw-sm(0.25px);
            line-height: px2vw-sm(20px);
            margin-bottom: px2vw-sm(40px);
        }
    }
}
