@import "shared";

.add-member {
  margin-top: 20px !important;
  button {
    margin-right: 0px !important;
  }
}

.remove-member {
  justify-content: flex-end;
  fa-icon {
    cursor: pointer;
  }
}

.add-file-individual,
.add-file {
  img {
    width: 163px;
    height: 163px;
  }
}

.hide-upload-box {
  opacity: 0;
  margin-top: -163px !important;
}

.add-file-individual {
  width: 163px;
  height: 163px;
}

.available-margin {
  margin-top: 40px !important;
}

.pointer-event-none {
  pointer-events: none;
}

h5 {
  text-align: center;
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .add-file-individual,
  .add-file {
    img {
      width: 130px;
      height: 130px;
    }
  }
}

@media (max-width: 767px) {
  .add-file-individual,
  .add-file {
    img {
      width: 100px;
      height: 100px;
    }
  }
  .container-fluid form .form-group .row {
    .error,
    .available {
      position: initial !important;
      margin: 10px 0px !important;
    }
  }
}

.upload {
  padding: 45px 35px;
}

.box-label-break {
  display: none;
  @include lg {
    clear: both;
    width: 100%;
    display: block;
  }
  @include md {
    clear: both;
    width: 100%;
    display: block;
  }
  @include sm {
    clear: both;
    width: 100%;
    display: block;
  }
}

.radiobutton {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  outline: none;
  border: 1px solid #fc4500 !important;
  padding-left: 0px !important;
  outline: none;
}

.radiobutton:checked {
  border: 1px solid #fc4500 !important;
  width: 15px;
  height: 15px;
  background: red 2px;
}
.btnspace {
  margin-left: 10px;
}

.mesf-EditBtn {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 0.260552371vw;
  line-height: 3.1266284523vw;
  padding: 0 3.3350703491vw;
  background: var(--orange-color-main) !important;
  text-transform: uppercase;

  &.is-admin-cancel {
    background: #181c1e !important;
    border: 1px solid var(--orange-color-main) !important;
  }
  &.is-sm {
    line-height: 2.8139656071vw;
    padding: 0 2.8139656071vw;
  }
}

.gray-text{
  margin-top: 3px;
  color: #707070;
  }
