@import "shared";

:host {
  display: block;
}

.Participants-sectionA {
  &-teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(24px);

    @include lg {
      grid-column-gap: px2vw-lg(24px);
      grid-row-gap: px2vw-lg(24px);
    }

    @include md {
      grid-template-columns: 1fr;
      grid-column-gap: px2vw-md(24px);
      grid-row-gap: px2vw-md(24px);
    }

    @include sm {
      grid-column-gap: px2vw-sm(24px);
      grid-row-gap: px2vw-sm(24px);
    }
  }

  &-team {
    display: flex;
    align-items: center;
    background-color: var(--base-white-smoke);
    padding: px2vw-xl(14px) px2vw-xl(24px);

    @include lg {
      padding: px2vw-lg(14px) px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(14px) px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(14px) px2vw-sm(24px);
    }
  }

  &-team-image-block {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--base-black-pearl);
    width: px2vw-xl(88px);
    height: px2vw-xl(88px);

    @include lg {
      width: px2vw-lg(88px);
      height: px2vw-lg(88px);
    }

    @include md {
      width: px2vw-md(88px);
      height: px2vw-md(88px);
    }

    @include sm {
      width: px2vw-sm(88px);
      height: px2vw-sm(88px);
    }
  }

  &-team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-team-info {
    margin-left: px2vw-xl(32px);

    @include lg {
      margin-left: px2vw-lg(32px);
    }

    @include md {
      margin-left: px2vw-md(32px);
    }

    @include sm {
      margin-left: px2vw-sm(32px);
    }
  }

  &-team-name {
    margin-bottom: px2vw-xl(8px);
    font-size: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
      font-size: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      font-size: px2vw-sm(20px);
    }
  }

  &-team-captain {
    margin-bottom: px2vw-xl(8px);
    font-size: px2vw-xl(18px);
    color: var(--base-black-pearl) !important;

    @include lg {
      margin-bottom: px2vw-lg(8px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      font-size: px2vw-sm(18px);
    }
  }

  &-team-about {
    display: flex;
    font-size: px2vw-xl(16px);
    letter-spacing: 0.8px;

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }

    .captain {
      margin-right: px2vw-xl(82px);

      @include lg {
        margin-right: px2vw-lg(82px);
      }

      @include md {
        margin-right: px2vw-md(82px);
      }

      @include sm {
        margin-right: px2vw-sm(82px);
      }
    }
  }
}

.switch-text-label {
  vertical-align: top;
  margin-right: 0.5em;
  position: relative;
}

  .form-check {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;

    .form-check-label {
      font-size: 16px;
      margin-right: 16px;
      line-height: 21px;
      padding: 0;
    }

    img {
      width: 13px;
      margin-right: 10px;
    }
  }

.switch-text-label {
  vertical-align: top;
  margin-right: 0.5em;
  position: relative;
}


/* toggle button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  border-radius: 167px;
  width: 45px;
  height: 25px;
  margin-bottom: 0;
}

.switch-text-label {
  vertical-align: top;
  margin-right: 0.5em;
  position: relative;
}

.form-check {
  margin-left: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--base-gainsboro);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 19px;
  left: 5px;
  bottom: 4px;
  background-color: var(--base-white-smoke);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-sunset-light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--ui-dodger-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sectionB {
  margin-bottom: px2vw-xl(48px);
  @include lg {
    margin-bottom: px2vw-lg(48px);
  }
  @include md {
    margin-bottom: px2vw-md(48px);
  }
  @include sm {
    margin-bottom: px2vw-sm(48px);
  }
  &-header {
    margin-bottom: px2vw-xl(40px);
    @include lg {
      margin-bottom: px2vw-lg(40px);
    }
    @include md {
      margin-bottom: px2vw-md(40px);
    }
    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }
  &-title {
    margin-bottom: px2vw-xl(16px);
    font-family: "stc-forward-regular";
    font-size: px2vw-xl(26px);
    line-height: px2vw-xl(34px);
    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: px2vw-lg(26px);
      line-height: px2vw-lg(34px);
    }
    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(26px);
      line-height: px2vw-md(34px);
    }
    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: px2vw-sm(26px);
      line-height: px2vw-sm(34px);
    }
  }
  &-subtitle {
    margin-bottom: 0;
  }
  &-teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(24px);
    @include lg {
      grid-column-gap: px2vw-lg(24px);
      grid-row-gap: px2vw-lg(24px);
    }
    @include md {
      grid-template-columns: 1fr;
      grid-column-gap: px2vw-md(24px);
      grid-row-gap: px2vw-md(24px);
    }
    @include sm {
      grid-column-gap: px2vw-sm(24px);
      grid-row-gap: px2vw-sm(24px);
    }
  }
  &-team {
    display: flex;
    align-items: center;
    background-color: var(--base-white-smoke);
    padding: px2vw-xl(14px) px2vw-xl(24px);
    cursor: pointer;
    @include lg {
      padding: px2vw-lg(14px) px2vw-lg(24px);
    }
    @include md {
      padding: px2vw-md(14px) px2vw-md(24px);
    }
    @include sm {
      padding: px2vw-sm(14px) px2vw-sm(24px);
    }
  }
  &-team-image-block {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--base-black-pearl);
    width: px2vw-xl(88px);
    height: px2vw-xl(88px);
    @include lg {
      width: px2vw-lg(88px);
      height: px2vw-lg(88px);
    }
    @include md {
      width: px2vw-md(88px);
      height: px2vw-md(88px);
    }
    @include sm {
      width: px2vw-sm(88px);
      height: px2vw-sm(88px);
    }
  }
  &-team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-team-info {
    margin-left: px2vw-xl(32px);
    @include lg {
      margin-left: px2vw-lg(32px);
    }
    @include md {
      margin-left: px2vw-md(32px);
    }
    @include sm {
      margin-left: px2vw-sm(32px);
    }
  }
  &-team-name {
    margin-bottom: px2vw-xl(8px);
    font-size: px2vw-xl(20px);
    text-transform: capitalize;
    @include lg {
      margin-bottom: px2vw-lg(8px);
      font-size: px2vw-lg(20px);
    }
    @include md {
      margin-bottom: px2vw-md(8px);
      font-size: px2vw-md(20px);
    }
    @include sm {
      margin-bottom: px2vw-sm(8px);
      font-size: px2vw-sm(20px);
    }
  }
  &-team-captain {
    margin-bottom: px2vw-xl(8px);
    font-size: px2vw-xl(18px);
    color: var(--base-black-pearl) !important;
    &::first-letter {
      text-transform: uppercase;
    }
    @include lg {
      margin-bottom: px2vw-lg(8px);
      font-size: px2vw-lg(18px);
    }
    @include md {
      margin-bottom: px2vw-md(8px);
      font-size: px2vw-md(18px);
    }
    @include sm {
      margin-bottom: px2vw-sm(8px);
      font-size: px2vw-sm(18px);
    }
  }
  &-team-about {
    display: flex;
    font-size: px2vw-xl(16px);
    letter-spacing: 0.8px;
    @include lg {
      font-size: px2vw-lg(16px);
    }
    @include md {
      font-size: px2vw-md(16px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
    }
    .captain {
      margin-right: px2vw-xl(82px);
      @include lg {
        margin-right: px2vw-lg(82px);
      }
      @include md {
        margin-right: px2vw-md(82px);
      }
      @include sm {
        margin-right: px2vw-sm(82px);
      }
    }
  }
  &-team-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--base-gainsboro);
    margin-top: px2vw-xl(16px);
    padding-top: px2vw-xl(16px);
    @include lg {
      margin-top: px2vw-lg(16px);
      padding-top: px2vw-lg(16px);
    }
    @include md {
      margin-top: px2vw-md(16px);
      padding-top: px2vw-md(16px);
    }
    @include sm {
      margin-top: px2vw-sm(16px);
      padding-top: px2vw-sm(16px);
    }
  }
  &-team-button {
    margin-left: px2vw-xl(16px);
    @include lg {
      margin-left: px2vw-lg(16px);
    }
    @include md {
      margin-left: px2vw-md(16px);
    }
    @include sm {
      margin-left: px2vw-sm(16px);
    }
  }
}

.sectionC {
  margin-bottom: px2vw-xl(48px);
  @include lg {
    margin-bottom: px2vw-lg(48px);
  }
  @include md {
    margin-bottom: px2vw-md(48px);
  }
  @include sm {
    margin-bottom: px2vw-sm(48px);
  }
  &-header {
    margin-bottom: px2vw-xl(40px);
    @include lg {
      margin-bottom: px2vw-lg(40px);
    }
    @include md {
      margin-bottom: px2vw-md(40px);
    }
    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }
  &-title {
    margin-bottom: px2vw-xl(16px);
    @include lg {
      margin-bottom: px2vw-lg(16px);
    }
    @include md {
      margin-bottom: px2vw-md(16px);
    }
    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }
  &-subtitle {
    margin-bottom: 0;
  }
  &-teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(24px);
    @include lg {
      grid-column-gap: px2vw-lg(24px);
      grid-row-gap: px2vw-lg(24px);
    }
    @include md {
      grid-template-columns: 1fr;
      grid-column-gap: px2vw-md(24px);
      grid-row-gap: px2vw-md(24px);
    }
    @include sm {
      grid-column-gap: px2vw-sm(24px);
      grid-row-gap: px2vw-sm(24px);
    }
  }
  &-team {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--base-white-smoke);
    padding: px2vw-xl(14px) px2vw-xl(24px);
    @include lg {
      padding: px2vw-lg(14px) px2vw-lg(24px);
    }
    @include md {
      padding: px2vw-md(14px) px2vw-md(24px);
    }
    @include sm {
      padding: px2vw-sm(14px) px2vw-sm(24px);
    }
  }
  &-back{
    margin-left: auto;
    display: flex;
  }
  &-team-image-block {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--base-black-pearl);
    width: px2vw-xl(88px);
    height: px2vw-xl(88px);
    @include lg {
      width: px2vw-lg(88px);
      height: px2vw-lg(88px);
    }
    @include md {
      width: px2vw-md(88px);
      height: px2vw-md(88px);
    }
    @include sm {
      width: px2vw-sm(88px);
      height: px2vw-sm(88px);
    }
  }
  &-team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-team-info {
    margin-left: px2vw-xl(32px);
    @include lg {
      margin-left: px2vw-lg(32px);
    }
    @include md {
      margin-left: px2vw-md(32px);
    }
    @include sm {
      margin-left: px2vw-sm(32px);
    }
  }
  &-team-name {
    margin-bottom: px2vw-xl(8px);
    font-size: px2vw-xl(20px);
    text-transform: capitalize;
    @include lg {
      margin-bottom: px2vw-lg(8px);
      font-size: px2vw-lg(20px);
    }
    @include md {
      margin-bottom: px2vw-md(8px);
      font-size: px2vw-md(20px);
    }
    @include sm {
      margin-bottom: px2vw-sm(8px);
      font-size: px2vw-sm(20px);
    }
  }
  &-team-captain {
    margin-bottom: px2vw-xl(8px);
    font-size: px2vw-xl(18px);
    color: var(--base-black-pearl) !important;
    &::first-letter {
      text-transform: uppercase;
    }
    @include lg {
      margin-bottom: px2vw-lg(8px);
      font-size: px2vw-lg(18px);
    }
    @include md {
      margin-bottom: px2vw-md(8px);
      font-size: px2vw-md(18px);
    }
    @include sm {
      margin-bottom: px2vw-sm(8px);
      font-size: px2vw-sm(18px);
    }
  }
  &-team-about {
    display: flex;
    font-size: px2vw-xl(16px);
    letter-spacing: 0.8px;
    @include lg {
      font-size: px2vw-lg(16px);
    }
    @include md {
      font-size: px2vw-md(16px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
    }
    .captain {
      margin-right: px2vw-xl(82px);
      @include lg {
        margin-right: px2vw-lg(82px);
      }
      @include md {
        margin-right: px2vw-md(82px);
      }
      @include sm {
        margin-right: px2vw-sm(82px);
      }
    }
  }
  &-team-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--base-gainsboro);
    margin-top: px2vw-xl(16px);
    padding-top: px2vw-xl(16px);
    @include lg {
      margin-top: px2vw-lg(16px);
      padding-top: px2vw-lg(16px);
    }
    @include md {
      margin-top: px2vw-md(16px);
      padding-top: px2vw-md(16px);
    }
    @include sm {
      margin-top: px2vw-sm(16px);
      padding-top: px2vw-sm(16px);
    }
  }
  &-team-button {
    margin-left: px2vw-xl(16px);
    @include lg {
      margin-left: px2vw-lg(16px);
    }
    @include md {
      margin-left: px2vw-md(16px);
    }
    @include sm {
      margin-left: px2vw-sm(16px);
    }
  }
}

.add-margin {
  margin: px2vw-xl(20px) 0;

  @include lg {
    margin: px2vw-lg(20px) 0;
  }

  @include md {
    margin: px2vw-md(20px) 0;
  }

  @include sm {
    margin: px2vw-sm(20px) 0;
  }
}

