<section class="PopupEdit">

  <div class="PopupEdit-container">
    <div class="PopupEdit-wrapper">
      <div class="PopupEdit-inner">
        <div class="PopupEdit-heading">
          <h2 class="title">{{ "CREATE_TOURNAMENT.DETAILS.EDIT_INFO" | translate }}</h2>
          <button class="btn btn-close" (click)="HiddenPopup.emit()">
            <span class="icon" inlineSVG="assets/icons/Icon-close-blu.svg"></span>
          </button>
        </div>
        <div class="PopupEdit-form">
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.NAME" | translate }}
              </label>
              <div class="input-group">
                <input class="form-field" matInput type="text"
                  placeholder="{{ 'CREATE_TOURNAMENT.DETAILS.FIELDS.NAME' | translate }}" />
              </div>

            </div>
          </div>
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.GAME" | translate }}
              </label>
              <div class="input-group">
                <input class="form-field" matInput type="text"
                  placeholder="{{ 'CREATE_TOURNAMENT.DETAILS.FIELDS.GAME' | translate }}" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.PLATFORM" | translate }}
              </label>
              <div class="input-group">
                <input class="form-field" matInput type="text"
                  placeholder="{{ 'CREATE_TOURNAMENT.DETAILS.FIELDS.PLATFORM' | translate }}" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "CREATE_TOURNAMENT.DETAILS.FIELDS.TEAM" | translate }}
              </label>
              <div ngbDropdown class="Select-teamDropdown">
                <button class="btn Select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                  Duo
                </button>
                <div class="Select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Single</button>
                  <button ngbDropdownItem>Duo</button>
                  <button ngbDropdownItem>Squad</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "Tournament Visibility" | translate }}
              </label>
              <div ngbDropdown class="Select-teamDropdown">
                <button class="btn Select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                  Duo
                </button>
                <div class="Select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Single</button>
                  <button ngbDropdownItem>Duo</button>
                  <button ngbDropdownItem>Squad</button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-item ">
              <label for="" class="form-label">
                {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.TOURNAMENT_REVIEWS.TITLE_OVERVIEW"| translate }}
              </label>
              <div class="textarea-group">
                <textarea class="form-field form-field-textarea" matInput></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="PopupEdit-ButtonGroup">
          <button type="button" class="btn button-primary" (click)="HiddenPopup.emit()">{{ "BUTTON.SAVE_CHANGES" |
            translate }}</button>
        </div>
      </div>
    </div>
  </div>

</section>