<div classs="row" *ngIf="!isLoading">
  <div class="avatar-popup">
    <div class="row avatar-imagesWrapper">
      <ng-container *ngFor="let avatar of avatars || []; let i = index">
        <div>
          <!-- <span>
                      <img class="avatar-avatarImages" [src]="avatar.avatarImg" />
                  </span>
                  <i (click)="deleteAvatar(i)">
                      <img
                        class="close"
                        src="./assets/icons/close.svg"
                      />
                    </i> -->
          <div class="content">
            <a (click)="deleteAvatar(i)">
              <img
                class="avatar-avatarImages content-image"
                [src]="avatar.avatarImg"
              />
              <div class="content-details fadeIn-bottom">
                <h2 class="content-title">X</h2>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <input
    style="display: none;"
    type="file"
    accept="image/*"
    (change)="handleFileSelect($event)"
    #avatarInput
  />
  <div class="row text-center">
    <button
      [disabled]="this.avatars.length >= 25"
      (click)="avatarInput.click()"
      class="btn global-btn-yellow"
    >
      <span>{{
        "ADMIN.SITE_CONFIGURATION.PROFILE.UPLOAD_AVATAR" | translate
      }}</span>
      <!-- <i class="material-icons right">upload</i> -->
    </button>
    <button (click)="uploadAvatar()" class="btn global-btn-yellow ml-2">
      <span>{{ "ADMIN.SITE_CONFIGURATION.PROFILE.SAVE" | translate }}</span>
      <!-- <i class="material-icons right">save</i> -->
    </button>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
