@import "shared";
.feed-option {
  width: 100%;
  margin: px2vw-xl(32px) 0;
  @include xl {
    margin: px2vw-xl(32px) px2vw-xl(0px);
  }

  @include lg {
    margin: px2vw-lg(32px) px2vw-lg(0px);
  }

  @include md {
    margin: px2vw-md(32px) px2vw-md(0px);
  }

  @include sm {
    margin: px2vw-sm(32px) px2vw-sm(0px);
  }
  .feed-option-container {
    display: flex;
    justify-content: space-between;
    border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    @include xl {
      border-bottom-width: px2vw-xl(1px);
    }

    @include lg {
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
    }
    .container-left {
      display: flex;
      ul {
        display: flex;
        margin-bottom: 0;
        li {
          cursor: pointer;
          margin-right: px2vw-xl(32px);
          color: var(--white-disabled);
          font-size: px2vw-xl(16px);
          font-weight: 700;
          font-family: "redhat-regular";
          padding-bottom: px2vw-xl(15px);
          @include xl {
            margin-right: px2vw-xl(32px);
            padding-bottom: px2vw-xl(15px);
            font-size: px2vw-xl(16px);
          }

          @include lg {
            margin-right: px2vw-lg(32px);
            padding-bottom: px2vw-lg(15px);
            font-size: px2vw-lg(16px);
          }

          @include md {
            margin-right: px2vw-md(32px);
            padding-bottom: px2vw-md(15px);
            font-size: px2vw-md(16px);
          }

          @include sm {
            margin-right: px2vw-sm(32px);
            padding-bottom: px2vw-sm(15px);
            font-size: px2vw-sm(16px);
          }
        }
      }
    }

    .img-menu {
      span {
        color: var(--white-disabled);
        font-size: px2vw-xl(16px);
        @include xl {
          font-size: px2vw-xl(16px);
        }

        @include lg {
          font-size: px2vw-lg(16px);
        }

        @include md {
          font-size: px2vw-md(16px);
        }

        @include sm {
          font-size: px2vw-sm(16px);
        }
      }
      img {
        padding-left: px2vw-xl(10px);
        @include xl {
          padding-left: px2vw-xl(10px);
        }

        @include lg {
          padding-left: px2vw-lg(10px);
        }

        @include md {
          padding-left: px2vw-md(10px);
        }

        @include sm {
          padding-left: px2vw-sm(10px);
        }
      }
    }
  }
}
.feed-respon {
  display: none;
  width: 100%;
  justify-content: space-between;
  padding: px2vw-xl(20px);
  background-color: var(--color-background);
  border: px2vw-xl(1px) solid var(--white-smoke);
  margin: px2vw-xl(50px) 0;
  border-radius: px2vw-xl(8px);
  @include xl {
    border-width: px2vw-xl(1px);
    border-radius: px2vw-xl(8px);
    padding: px2vw-xl(20px);
    margin: px2vw-xl(50px) px2vw-xl(0px);
  }

  @include lg {
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(8px);
    padding: px2vw-lg(20px);
    margin: px2vw-lg(50px) px2vw-lg(0px);
  }

  @include md {
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(8px);
    padding: px2vw-md(20px);
    margin: px2vw-md(50px) px2vw-md(0px);
  }

  @include sm {
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(8px);
    padding: px2vw-sm(20px);
    margin: px2vw-sm(50px) px2vw-sm(0px);
  }
  h2 {
    font-size: px2vw-xl(16px);
    font-family: "archivo";
    margin: 0;
    padding: 0;
    @include xl {
      font-size: px2vw-xl(16px);
    }

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }
  }
}

@media only screen and (max-width: 720px) {
  .feed-option {
    display: none;
  }
  .feed-respon {
    display: flex;
  }
}
