@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: block;
}

.ArticleItem {
  display: block;
  color: var(--base-submarine);
  width: 100%;
  overflow: hidden;
  border-top-left-radius: px2vw-xl(8px);
  border-top-right-radius: px2vw-xl(8px);
  transition: 100ms linear;

  &:hover {
    opacity: 0.9;
  }

  @include lg {
    border-top-left-radius: px2vw-lg(8px);
    border-top-right-radius: px2vw-lg(8px);
  }

  @include md {
    border-top-left-radius: px2vw-md(8px);
    border-top-right-radius: px2vw-md(8px);
  }

  @include sm {
    border-top-left-radius: px2vw-sm(8px);
    border-top-right-radius: px2vw-sm(8px);
  }

  &-image-block {
    border-radius: px2vw-xl(7px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: px2vw-xl(207px);
    width: 100%;
    object-fit: cover;
    object-position: top;

    @include lg {
      border-top-left-radius: px2vw-lg(8px);
      border-top-right-radius: px2vw-lg(8px);
      height: px2vw-lg(207px);
    }

    @include md {
      border-top-left-radius: px2vw-md(8px);
      border-top-right-radius: px2vw-md(8px);
      height: px2vw-md(375px);
    }

    @include sm {
      border-top-left-radius: px2vw-sm(8px);
      border-top-right-radius: px2vw-sm(8px);
      height: px2vw-sm(310px);
    }
  }

  &-content {
    padding: px2vw-xl(16px) 0;
    font-family: "stc-forward-regular", sans-serif;
    line-height: px2vw-xl(24px);

    @include lg {
      padding: px2vw-lg(16px) 0;
      line-height: px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(16px) 0;
      line-height: px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(16px) 0;
      line-height: px2vw-sm(24px);
    }
  }

  &-content-title {
    margin-bottom: px2vw-xl(16px);
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);
    color: var(--base-black-pearl);
    letter-spacing: 1px;

    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(32px);
    }
  }

  &-content-text {
    font-size: px2vw-xl(18px);
    line-height: inherit;
    letter-spacing: 0.9px;

    @include lg {
      font-size: px2vw-lg(18px);
    }

    @include md {
      font-size: px2vw-md(18px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
    }
  }

  &-content-date {
    margin-bottom: 0;
    font-size: px2vw-xl(16px);
    letter-spacing: 0.8px;
    color: inherit;

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }
  }
}
