@import "shared";


:host {
  display: block;
}


.SearchTournaments {
  padding: px2vw-xl(56px) 0 px2vw-xl(113px);

  @include lg {
    padding: px2vw-lg(50px) 0;
  }

  @include md {
    padding: px2vw-md(50px) 0;
  }

  @include sm {
    padding: px2vw-sm(50px) 0;
  }

  &-header {
    margin-bottom: px2vw-xl(38px);

    @include lg {
      margin-bottom: px2vw-lg(38px);
    }

    @include md {
      margin-bottom: px2vw-md(38px);
    }

    @include sm {
      margin-bottom: px2vw-sm(38px);
    }
  }

  &-buttons {
    margin-bottom: px2vw-xl(42px);

    @include lg {
      margin-bottom: px2vw-lg(42px);
    }

    @include md {
      margin-bottom: px2vw-md(42px);
    }

    @include sm {
      margin-bottom: px2vw-sm(42px);
    }

    label {
      border: 1px solid var(--orange-color-main);
    }
  }

  &-box {
    flex-wrap: wrap;
    justify-content: flex-start;

    @include md {
      justify-content: center;
    }

    app-tournaments-card {
      margin-right: px2vw-xl(33px);
      margin-bottom: px2vw-xl(24px);

      @include lg {
        margin-right: px2vw-lg(35px);
        margin-bottom: px2vw-lg(24px);
      }

      @include md {
        margin-right: 0;
        margin-bottom: px2vw-md(24px);
      }

      @include sm {
        margin-bottom: px2vw-sm(24px);
      }

      ::ng-deep {
        .Tournaments-card {
          width: px2vw-xl(524px);

          @include lg {
            width: px2vw-lg(360px);
          }

          @include md {
            width: 100%;
          }
        }

        .Tournaments-card-preview-image {
          width: 100%;
          height: px2vw-xl(266px);

          @include md {
            height: px2vw-md(345px);
          }

          @include sm {
            height: px2vw-sm(270px);
          }
        }
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &-item {
    border-radius: px2vw-xl(5px);
    margin-bottom: px2vw-xl(37px);
    padding: px2vw-xl(37px) px2vw-xl(28px) px2vw-xl(21px) px2vw-xl(44px);
    position: relative;
    overflow: hidden;

    @include lg {
      border-radius: px2vw-lg(5px);
      margin-bottom: px2vw-lg(37px);
      padding: px2vw-lg(37px) px2vw-lg(28px) px2vw-lg(21px) px2vw-lg(44px);
    }

    @include md {
      border-radius: px2vw-md(5px);
      margin-bottom: px2vw-md(37px);
      padding: px2vw-md(20px);
    }

    @include sm {
      border-radius: px2vw-sm(5px);
      margin-bottom: px2vw-sm(37px);
      padding: px2vw-sm(20px);
    }

    &-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-size: 93%;

      @include md {
        background-size: cover;
        background-position: center;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
      }
    }

    &-info {
      @extend %u-dfCenterBtw;
      position: relative;

      @include md {
        text-align: center;
        flex-flow: column;
      }

      &-wp {
        @extend %u-dfCenterBtw;

        @include sm {
          flex-flow: column;
        }
      }
    }

    &-title {
      margin-bottom: px2vw-xl(17px);
      font-size: px2vw-xl(30px);
      font-family: "dynasty-primary-semibold", sans-serif;
      text-transform: uppercase;

      @include lg {
        margin-bottom: px2vw-lg(17px);
        font-size: px2vw-lg(30px);
      }

      @include md {
        margin-bottom: px2vw-md(17px);
        font-size: px2vw-md(30px);
      }

      @include sm {
        margin-bottom: px2vw-sm(17px);
        font-size: px2vw-sm(30px);
      }
    }

    &-right-title,
    &-box-title {
      margin: 0 0 px2vw-xl(3px);
      text-transform: uppercase;

      @include lg {
        margin: 0 0 px2vw-lg(3px);
      }

      @include md {
        margin: 0 0 px2vw-md(3px);
      }

      @include sm {
        margin: 0 0 px2vw-sm(3px);
      }
    }

    &-box {

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }
    }

    &-box-text {
      font-size: px2vw-xl(20px);
      font-family: "dynasty-primary-semibold", sans-serif;
      text-transform: uppercase;
      margin: 0;

      @include lg {
        font-size: px2vw-lg(20px);
      }

      @include md {
        font-size: px2vw-md(20px);
      }

      @include sm {
        font-size: px2vw-sm(20px);
      }
    }

    &-right-title {
      margin-bottom: px2vw-xl(45px);
      text-align: center;

      @include lg {
        margin-bottom: px2vw-lg(45px);
      }

      @include md {
        margin: px2vw-md(45px) 0 px2vw-md(20px);
      }

      @include sm {
        margin: px2vw-sm(20px) 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
