@import "shared";

.Score-Counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 43.2px;
    position: relative;
    width: 110px;

    &-Value {
        font-size: 14px;
    }

    &-Keys {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
    }

    &-Up {
        height: 20px;
        cursor: pointer;
    }

    &-Down {
        @extend .Score-Counter-Up;
    }

    &-Upload {
       @extend .Score-Counter-Keys;
       cursor: pointer;
       position: absolute;
       right: 0;
    }
}

.upload-button-hide {
    background-color: #EDEDED 0% 0% no-repeat padding-box;
    border-radius: px2vw-xl(5px);
    padding: px2vw-xl(14px) px2vw-xl(24px);
    font-family: "stc-forward-regular", sans-serif;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(21px);
    color: #C6C6C6 !important;
    transition: 100ms linear;
}

.upload-screenshot {
    margin-right: 10px;
    top: 703px;
    left: 768px;
    width: 14px;
    height: 14px;
    opacity: 1;
}
