<div class="UserNotification-main">
  <div class="UserNotification-boxC-footer">
    <div class="UserNotification-boxC-footer-left">
      <form [formGroup]="pushNotificationForm" novalidate>
        <div class="col-xl-4 col-lg-12" style="margin-left: -15px;">
          <app-drop-down-select
            [title]="
              'ADMIN.USER_NOTIFICATION.LABEL.SELECT_USER_SEGMENT' | translate
            "
            [customFormControlName]="'userSegment'"
            [customFormGroup]="pushNotificationForm"
            [dropdownList]="userSegementValues"
            [type]="'A'"
            (valueEmit)="selectType($event)"
          ></app-drop-down-select>
        </div>
        <mat-form-field
          class="mesf-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.USER_NOTIFICATION.LABEL.ADD_TITLE" | translate
          }}</mat-label>
          <textarea
            matInput
            id="title"
            type="text"
            formControlName="title"
          ></textarea>
          <mat-error *ngIf="hasError('title', 'required')"
            >{{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_TITLE" | translate
            }}
            *</mat-error
          >
        </mat-form-field>
        <mat-form-field
          class="mesf-MatInputOutline LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.USER_NOTIFICATION.LABEL.TYPE_MESSAGE" | translate
          }}</mat-label>
          <textarea
            matInput
            id="message"
            type="text"
            formControlName="message"
          ></textarea>
          <mat-error *ngIf="hasError('message', 'required')"
            >{{
              "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.TYPE_MESSAGE"
                | translate
            }}
            *</mat-error
          >
        </mat-form-field>
        <div class="mesf-Text">
          {{
            "ADMIN.USER_NOTIFICATION.LABEL.ADD_HEADER_BANNER_IMAGE" | translate
          }}
        </div>
        <input
          type="file"
          id="bannerUploader"
          style="opacity: 0; height: 0px; width: 0px;"
        />
        <mat-error *ngIf="!headerImageUri"
          >{{
            "ADMIN.USER_NOTIFICATION.REQUIRED_MESSAGE.ADD_HEADER_BANNER_IMAGE"
              | translate
          }}
          *</mat-error
        >
        <div
          #bannerUpload
          id="bannerUpload"
          class="UserNotification-boxC-banner"
        >
          <div class="UserNotification-boxC-banner-info">
            {{ "ADMIN.USER_NOTIFICATION.LABEL.BANNER_SIZE" | translate }} <br />
            <button
              type="button"
              (click)="uploadImage()"
              class="mesf-EditBtn is-sm is-edit"
            >
              {{ "ADMIN.USER_NOTIFICATION.BUTTON.UPLOAD_IMAGE" | translate }}
            </button>
          </div>
        </div>
        <div class="UserNotification-footer-btns">
          <button
            class="mesf-EditBtn is-sm is-admin-cancel"
            (click)="toggleEditPane(); resetControls()"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.CANCEL" | translate }}
          </button>
          <button
            type="submit"
            (click)="updatePush()"
            class="mesf-EditBtn is-sm"
          >
            {{ "ADMIN.USER_NOTIFICATION.BUTTON.SEND" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
