<a routerLink="/videos/view/{{ data?.slug }}" class="VideoItem">
  <div class="VideoItem-box">
    <img class="VideoItem-image" [src]="data?.thumbnailUrl" alt="image" />
    <button class="mesf-VideoBtn is-sm VideoItem-box-videoBtn"></button>

    <h2 class="mesf-Text VideoItem-box-text">
      <span class="mesf-Elipses2">
        {{ data?.title | customTranslate: (languageService?.language | async) }}
      </span>
      <b>{{ data?.updatedOn | date: "MMMM dd" }}</b>
    </h2>
  </div>
</a>
