@import "shared";

:host {
  display: block;
  padding-bottom: px2vw-xl(96px);

  @include lg {
    padding-bottom: px2vw-lg(96px);
  }

  @include md {
    padding-bottom: px2vw-md(96px);
  }

  @include sm {
    padding-bottom: px2vw-sm(96px);
  }
}

.MyStats-header {
  @extend %u-dfCenter;
  margin-top: px2vw-xl(42px);

  @include lg {
    margin-top: px2vw-lg(42px);
  }

  @include md {
    margin-top: px2vw-md(32px);
  }

  @include sm {
    margin-top: px2vw-sm(38px);
  }

  &-image {
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 105.5%;
  }

  &-title {
    font-family: "Paralucent-Demi",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(34px);
    line-height: px2vw-xl(40px);
    color: var(--white);
    letter-spacing: px2vw-xl(1px);
    @include lg{
      font-size: px2vw-lg(31px);
      line-height: px2vw-lg(40px);
      letter-spacing: px2vw-xl(1px);
    }
    @include md{
      font-size: px2vw-md(29px);
      line-height: px2vw-md(40px);
    }
    @include sm {
      font-size: px2vw-sm(35px);
      line-height: px2vw-sm(28px);
      margin-bottom: px2vw-sm(18px);
      margin-top: px2vw-sm(18px);

    }
  }
}

.MyStats-about {
  position: relative;
  z-index: 1;
  margin-bottom: px2vw-xl(72px);

  @include lg {
    margin-bottom: px2vw-lg(72px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  @include md {
    margin-bottom: px2vw-md(18px);
    display: block;
  }

  @include sm {
    margin-bottom: px2vw-sm(22px);
  }

  &-title {
    font-family: "Paralucent-Demi",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(24px);
    line-height: px2vw-xl(32px);
    letter-spacing: px2vw-xl(1px);
    color: var(--color-white-medium);
    text-transform: none;

    @include lg {
      margin-bottom: px2vw-lg(20px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }
  }

  &-icon {
    position: absolute;
    bottom: 117%;
    left: px2vw-xl(14px);
    height: px2vw-xl(55px);
    width: px2vw-xl(167px);

    @include lg {
      left: px2vw-lg(14px);
      height: px2vw-lg(55px);
      width: px2vw-lg(167px);
    }

    @include md {
      left: px2vw-md(14px);
      height: px2vw-md(55px);
      width: px2vw-md(167px);
    }

    @include sm {
      left: px2vw-sm(14px);
      height: px2vw-sm(55px);
      width: px2vw-sm(167px);
    }
  }

  &-rate {
    border-bottom: px2vw-xl(2px) solid var(--color-black-medium);
    position: relative;
    @include lg{
      border-bottom: px2vw-lg(2px) solid var(--color-black-medium);
    }
    @include md{
      border-bottom: px2vw-md(2px) solid var(--color-black-medium);
    }
    @include sm {
      padding-bottom: px2vw-sm(205px);
      border-bottom: px2vw-sm(2px) solid var(--color-black-medium);
    }

    &-title {
      font-family: "Paralucent-Demi",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(1px);
      color: var(--color-white-medium);
      margin-top: px2vw-xl(9px);
      margin-bottom: px2vw-xl(285px);
      @include lg{
        font-size: px2vw-lg(23px);
        line-height: px2vw-lg(32px);
        letter-spacing: px2vw-lg(1px);
        margin-top: px2vw-lg(0px);
        margin-bottom: px2vw-lg(285px);
      }

      @include md {
        text-align: center;
        margin-top: px2vw-md(9px);
        margin-bottom: px2vw-md(305px);
        text-align: left;
        font-size: px2vw-md(27px);
        line-height: px2vw-md(32px);
        letter-spacing: px2vw-md(1px);
      }

      @include sm {
        text-align: left;
        font-size: px2vw-sm(34px);
        line-height: px2vw-sm(28px);
        margin-bottom: px2vw-sm(233px);
      }
    }

    &-subtitle {
      font-family: "Paralucent-Medium",  san-serif;
      font-style: normal;
      font-weight: 500;
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(28px);
      color: var(--color-primary-disabled);
      position: absolute;
      left: px2vw-xl(77px);
      top: px2vw-xl(148px);
      @include lg{
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(28px);
        left: px2vw-lg(77px);
        top: px2vw-lg(148px);
      }

      @include md {
        font-size: px2vw-md(21px);
        line-height: px2vw-md(28px);
        left: px2vw-md(77px);
        top: px2vw-md(148px);
        left: calc(50% - 61px / 2);
      }

      @include sm {
        font-size: px2vw-sm(24px);
        line-height: px2vw-sm(24px);
        top: px2vw-sm(155px);
        left: calc(50% - 65px / 2);
      }

      &-percent {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(32px);
        line-height: px2vw-xl(40px);
        letter-spacing: px2vw-xl(1px);
        color: var(--white);
        text-align: center;
        @include lg{
          font-size: px2vw-lg(32px);
          line-height: px2vw-lg(40px);
          letter-spacing: px2vw-lg(1px);
        }
        @include md{
          font-size: px2vw-md(32px);
          line-height: px2vw-md(40px);
          letter-spacing: px2vw-md(1px);
        }
        @include sm {
          font-size: px2vw-sm(35px);
          line-height: px2vw-sm(28px);
          margin-top:px2vw-sm(13px);
        }
      }
    }

    &-labels {
      display: flex;
      justify-content: space-between;
      max-width: px2vw-xl(237px);
      width: 100%;
      @include lg{
        max-width: px2vw-lg(237px);
      }
      @include md {
        margin: 0 auto;
        max-width: px2vw-md(237px);
      }
      @include sm{
        max-width: px2vw-sm(237px);
      }
    }

    &-label {
      display: flex;

      &-title {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 500;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--white);
        @include lg{
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }
        @include md{
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }
        @include sm{
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }
      }

      &-square {
        margin-right: px2vw-xl(8px);
        @include lg{
          margin-right: px2vw-lg(8px);
        }
        @include md{
          margin-right: px2vw-md(8px);
        }
        @include sm{
          margin-right: px2vw-sm(8px);
        }

        &.win ::ng-deep svg rect {
        }
        &.draw ::ng-deep svg rect {
          fill: var(--secondary-color);
        }
        &.lose ::ng-deep svg rect {
          fill: var(--medium-orange-color);
        }
      }
    }
  }

  &-rank {
    padding-bottom: px2vw-xl(32px);
    border-bottom: px2vw-xl(1px) solid var(--midnight-express-color);
    margin-top: px2vw-xl(38px);

    @include lg {
      margin-top: 0;
      padding-bottom: px2vw-lg(32px);
      border-bottom: px2vw-lg(1px) solid var(--midnight-express-color);
    }

    @include md {
      margin-top: px2vw-md(20px);
      padding-bottom: px2vw-md(32px);
      border-bottom: px2vw-md(1px) solid var(--midnight-express-color);
    }

    @include sm {
      padding-bottom: px2vw-sm(34px);
      margin-top: px2vw-sm(34px);
      border-bottom: px2vw-sm(1px) solid var(--midnight-express-color);
    }

    &-title {
      font-family: "Paralucent-Demi",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(32px);
      letter-spacing: px2vw-xl(1px);
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(27px);
      @include lg {
        font-size: px2vw-lg(23px);
        line-height: px2vw-lg(28px);
        margin-bottom: px2vw-lg(21px);
        letter-spacing: px2vw-lg(1px);
      }
      @include md {
        font-size: px2vw-md(27px);
        line-height: px2vw-md(32px);
        letter-spacing: px2vw-md(1px);
        margin-bottom: px2vw-md(28px);
        margin-top: px2vw-md(30px);
      }
      @include sm {
        font-size: px2vw-sm(34px);
        line-height: px2vw-sm(28px);
        margin-bottom: px2vw-sm(33px);
        margin-top: px2vw-sm(22px);
      }
    }

    &-content {
      &-text {
        font-family: "Paralucent-Demi",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--color-primary-disabled);
        margin-bottom: px2vw-xl(8px);
        @include lg{
          font-size: px2vw-lg(19px);
          line-height: px2vw-lg(24px);
          margin-bottom: px2vw-lg(8px);
        }
        @include md{
          font-size: px2vw-md(19px);
          line-height: px2vw-md(24px);
          margin-bottom: px2vw-md(8px);
        }
        @include sm{
          font-size: px2vw-sm(26px);
          line-height: px2vw-sm(46px);
        }
      }

      &-rankNo {
        font-family: "Paralucent-Demi",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: px2vw-xl(24px);
        line-height: px2vw-xl(32px);
        letter-spacing: px2vw-xl(1px);
        color: var(--white);
        @include lg {
          font-size: px2vw-lg(28px);
          line-height: px2vw-lg(28px);
          letter-spacing: px2vw-lg(1px);
        }
        @include md {
          font-size: px2vw-md(33px);
          line-height: px2vw-md(28px);
        }
        @include sm {
          font-size: px2vw-sm(36px);
          line-height: px2vw-sm(28px);
        }
      }
    }
  }

  &-achievement {
    margin-top: px2vw-xl(43px);

    @include lg {
      margin-top: px2vw-lg(0px);
    }

    @include md {
      margin-top: px2vw-md(20px);
      padding-bottom: px2vw-md(32px);
      border-bottom: px2vw-md(1px) solid var(--midnight-express-color);
    }

    @include sm {
      padding-bottom: px2vw-sm(34px);
      margin-top: px2vw-sm(34px);
      border-bottom: px2vw-sm(1px) solid var(--midnight-express-color);
      
    }

    &-title {
      font-family: "Paralucent-Demi",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(31px);
      letter-spacing: px2vw-xl(1px);
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(27px);
      @include lg {
        font-size: px2vw-lg(23px);
        line-height: px2vw-lg(28px);
        margin-bottom: px2vw-lg(23px);
        letter-spacing: px2vw-lg(1px);
      }
      @include md {
        font-size: px2vw-md(27px);
        line-height: px2vw-md(32px);
        letter-spacing: px2vw-md(1px);
        margin-bottom: px2vw-md(28px);
        margin-top: px2vw-md(30px);
      }
      @include sm {
        font-size: px2vw-sm(34px);
        line-height: px2vw-sm(28px);
        margin-bottom: px2vw-sm(33px);
        margin-top: px2vw-sm(22px);
      }
    }
  }
}

.MyStats-statistic {
  margin-bottom: px2vw-xl(40px);

  @include lg {
    margin-bottom: px2vw-lg(64px);
  }

  @include md {
    margin-bottom: px2vw-md(64px);
  }

  @include sm {
    // padding-bottom: px2vw-sm(34px);
    // margin-top: px2vw-sm(34px);
    // margin-bottom: 0;
  }
}

.MyStats {
  &-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: px2vw-xl(23px);

    @include lg {
      flex-wrap: wrap;
      margin-top: px2vw-lg(23px);
    }
    @include md {
      flex-wrap: wrap;
      margin-top: px2vw-md(23px);
    }
    @include sm {
      flex-wrap: wrap;
      margin-top: px2vw-sm(23px);
    }
  }

  &-leftContent {
    max-width: px2vw-xl(282px);
    width: 100%;
    // padding-left: 6px;

    @include lg {
      max-width: unset;
    }
    @include md {
      padding-left: 0;
      max-width: 100%;
    }
    @include sm {
      padding-left: 0;
      max-width: 100%;
    }
  }

  &-rightContent {
    max-width: px2vw-xl(735px);
    width: 100%;

    @include lg {
      max-width: unset;
    }
    @include sm {
      max-width: unset;
    }
    @include sm {
      max-width: unset;
    }
  }
}

.MyStats-games {
  &-heading {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-title {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(25px);
    line-height: px2vw-xl(32px);
    letter-spacing: px2vw-xl(1px);
    color: var(--color-white-medium);
    margin-bottom: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(25px);
      line-height: px2vw-lg(32px);
      letter-spacing: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(25px);
      line-height: px2vw-md(32px);
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(35px);
      line-height: px2vw-sm(28px);
    }
  }
}
