.form-group {
    position: relative;
    margin: 0;
  
    .labeltext {
      background-color: var(--labelbgColor);
      position: absolute;
      font-size: 14px;
      left: 19px;
      line-height: 21px;
      color: var(--inputplaceholdernonactive);
      margin: 0;
      top: 10px;
      padding: 0px 10px 0 5px;
      transition: all 0.3s;
      z-index: 1;
    }
    .form-control:focus ~ .labeltext,
    .labeltext.active {
      font-size: 12px;
      line-height: 16px;
      top: -7px;
      z-index: 2;
    }

    .error {
        color: var(--errorcolor);
        padding-top: 5px;
        font-size: 0.9rem;
        line-height: 1;
    }
}