<div class="form-group" [formGroup]="customFormGroup">
  <textarea
    id="description"
    type="text"
    [formControlName]="customFormControlName"
    [rows]="row"
    class="form-control"
  ></textarea>
  <label
    for="usr"
    class="labeltext"
    [class.active]="(customFormGroup?.controls)[customFormControlName]?.value"
  >
    {{ title | translate }} *
  </label>

  <!-- Error messages-->
  <ng-container *ngIf="enableFormGroupValidation">
    <div
      class="error"
      *ngIf="customFormGroup?.touched && customFormGroup?.errors"
    >
      <strong>
        {{ customFormGroup?.errors | errorPipe | translate }}
      </strong>
    </div>
  </ng-container>
  <ng-container *ngIf="!enableFormGroupValidation">
    <div
      class="error"
      *ngIf="
        (customFormGroup?.controls)[customFormControlName]?.touched &&
        (customFormGroup?.controls)[customFormControlName]?.errors
      "
    >
      <strong>
        {{
          (customFormGroup?.controls)[customFormControlName]?.errors
            | errorPipe
            | translate
        }}
      </strong>
    </div>
  </ng-container>
</div>
