@import "shared";

.Confirm {
  padding: px2vw-xl(30px);
  text-align: center;
  background-color: var(--color-midnight-express);
  color: var(--white);

  @include lg {
    padding: px2vw-lg(30px);
  }

  @include md {
    padding: 0;
  }

  share-buttons {
    max-width: 26vw;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  &-title {
    margin-bottom: px2vw-xl(40px);
    border-bottom: px2vw-xl(2px) solid var(--primary-cinnabar);
    font-size: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
      border-bottom: px2vw-lg(2px) solid var(--primary-cinnabar);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      border-bottom: px2vw-md(2px) solid var(--primary-cinnabar);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
      border-bottom: px2vw-sm(2px) solid var(--primary-cinnabar);
      font-size: px2vw-sm(24px);
    }
  }

  &-text {
    max-width: px2vw-xl(400px);
    font-size: px2vw-xl(24px);

    @include lg {
      max-width: px2vw-lg(400px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      max-width: px2vw-md(400px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      max-width: px2vw-sm(400px);
      font-size: px2vw-sm(24px);
    }
  }

  &-footer {
    margin-top: px2vw-xl(40px);

    @include lg {
      margin-top: px2vw-lg(40px);
    }

    @include md {
      margin-top: px2vw-md(40px);
    }

    @include sm {
      margin-top: px2vw-sm(40px);
    }

    button {
      margin: 0 px2vw-xl(20px);

      @include lg {
        margin: 0 px2vw-lg(20px);
      }

      @include md {
        margin: 0 px2vw-md(20px);
      }

      @include sm {
        margin: 0 px2vw-sm(20px);
      }
    }
  }
}

::ng-deep .global-Dialog-close .material-icons {
  color: var(--color-sunset-orange)!important;
}