@import "shared";

:host {
  display: block;
}

.TournamentsCard {
  border: px2vw-xl(1px) solid var(--white-smoke);
  border-radius: px2vw-xl(4px);
  transition: $global-transition2;
  background-color: var(--color-background);
  cursor: pointer;

  @include lg {
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(4px);
  }

  @include md {
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(4px);
  }

  @include sm {
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(4px);
  }

  &:hover {
    border-color: var(--white);
    background: var(--gradient-bg);
  }

  &-main {
    padding: px2vw-xl(8px);
    padding-bottom: px2vw-xl(22px);

    @include lg {
      padding: px2vw-lg(8px);
      padding-bottom: px2vw-lg(22px);
    }

    @include md {
      padding: px2vw-md(8px);
      padding-bottom: px2vw-md(22px);
    }

    @include sm {
      padding: px2vw-sm(8px);
      padding-bottom: px2vw-sm(22px);
    }
  }

  &-image {
    background-size: cover;
    margin-bottom: px2vw-xl(10px);
    height: px2vw-xl(160px);
    width: 100%;
    background-color: var(--black);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      height: px2vw-lg(160px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      height: px2vw-md(160px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      height: px2vw-sm(160px);
    }
  }

  &-title {
    @extend %global-H7;
    margin-bottom: px2vw-xl(10px);
    min-height: px2vw-xl(36px);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      min-height: px2vw-lg(36px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      min-height: px2vw-md(36px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      min-height: px2vw-sm(36px);
    }
  }

  &-details {
    margin-bottom: 0;
  }

  &-detail {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
    }
  }

  &-icon {
    &.time {
      height: px2vw-xl(13.3px);
      width: px2vw-xl(13.3px);

      @include lg {
        height: px2vw-lg(13.3px);
        width: px2vw-lg(13.3px);
      }

      @include md {
        height: px2vw-md(13.3px);
        width: px2vw-md(13.3px);
      }

      @include sm {
        height: px2vw-sm(13.3px);
        width: px2vw-sm(13.3px);
      }
    }

    &.bracket {
      height: px2vw-xl(16px);
      width: px2vw-xl(12px);

      @include lg {
        height: px2vw-lg(16px);
        width: px2vw-lg(12px);
      }

      @include md {
        height: px2vw-md(16px);
        width: px2vw-md(12px);
      }

      @include sm {
        height: px2vw-sm(16px);
        width: px2vw-sm(12px);
      }
    }

    &.team {
      height: px2vw-xl(9.33px);
      width: px2vw-xl(14.67px);

      @include lg {
        height: px2vw-lg(9.33px);
        width: px2vw-lg(14.67px);
      }

      @include md {
        height: px2vw-md(9.33px);
        width: px2vw-md(14.67px);
      }

      @include sm {
        height: px2vw-sm(9.33px);
        width: px2vw-sm(14.67px);
      }
    }
  }

  &-text {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-footer {
    @extend %u-dfCenterBtw;
    border-top: 1px solid var(--white-smoke);
    padding: px2vw-xl(12px);

    @include lg {
      padding: px2vw-lg(12px);
    }

    @include md {
      padding: px2vw-md(12px);
    }

    @include sm {
      padding: px2vw-sm(12px);
    }
  }

  &-author {
    @extend %u-dfCenter;
  }

  &-author-image {
    border-radius: 50%;
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);
    background-size: cover;
    background-color: var(--color-secondary);
    background-position: center;

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-author-name {
    @extend %caption;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-game {
    @extend %u-dfCenterEnd;
    height: px2vw-xl(32px);
    width: px2vw-xl(66px);

    @include lg {
      height: px2vw-lg(32px);
      width: px2vw-lg(66px);
    }

    @include md {
      height: px2vw-md(32px);
      width: px2vw-md(66px);
    }

    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(66px);
    }
  }

  &-game-image {
    height: 100%;
    max-width: 100%;
  }
}
.TournamentsCard {
  &-item {
     
    margin-bottom: 28px;
    @include sm {
      width: 100%;
    }
    .avatar {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin-right: 21px;
      @include md {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      @include sm {
        width: 32px;
        height: 32px;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    .description {
      width: 100%;
      max-width: calc(100% - 61px);
      @include md {
        max-width: calc(100% - 32px);
      }
      @include sm {
        max-width: calc(100% - 40px);
      }
    }
    .endDay {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #f12ba3;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 7px;
    }
    .text {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--tolopea-color);
      margin-bottom: 0;
    }
  }
  &-thumbnail {
    width: 100%;
    height: px2vw-xl(178px);
    overflow: hidden;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: px2vw-xl(21px);
    border-radius: px2vw-xl(20px);
    @include lg {
      height: px2vw-lg(178px);
      margin-bottom: px2vw-lg(21px);
      border-radius: px2vw-lg(20px);
    }
    @include md {
      height: px2vw-md(178px);
      margin-bottom: px2vw-md(21px);
      border-radius: px2vw-md(20px);
    }
    @include sm {
      height: px2vw-sm(273px);
      margin-bottom: px2vw-sm(24.576px);
      border-radius: px2vw-sm(30.72px);
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 1;
    }
  }
  &-description {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
::ng-deep  .TournamentsCard-item{
  width:100%;
}

::ng-deep  .TournamentsCard-item .endDay{
  display: none !important;
}
