@import "shared";

:host {
  display: block;
  padding-top: px2vw-xl(28px);
  padding-bottom: px2vw-xl(50px);

  @include lg {
    padding-top: px2vw-lg(28px);
    padding-bottom: px2vw-lg(50px);
  }

  @include md {
    padding-top: px2vw-md(28px);
    padding-bottom: px2vw-md(50px);
  }

  @include sm {
    padding-top: px2vw-sm(28px);
    padding-bottom: px2vw-sm(50px);
  }
}

.Matches-header {
  margin-bottom: px2vw-xl(16px);
  padding: px2vw-xl(20px) 0;

  @include lg {
    margin-bottom: px2vw-lg(16px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    padding: px2vw-md(20px) 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    padding: px2vw-sm(20px) 0;
  }

  &-title {
    @extend %global-H5;
    margin-bottom: 0;
    color: var(--white);
  }
}

.Matches-table {
  &-toggles {
    border-bottom: px2vw-xl(1px) solid var(--white-light);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
    }
  }

  &-content {
    padding-top: px2vw-xl(8px);

    @include lg {
      padding-top: px2vw-lg(8px);
    }

    @include md {
      padding-top: px2vw-md(8px);
    }

    @include sm {
      padding-top: px2vw-sm(8px);
    }
  }
}
