@import "shared";

:host {
  display: block;
  // border-bottom: px2vw-xl(1px) solid var(--white-smoke);
  // padding: px2vw-xl(24px) 0;

  // @include lg {
  //   border-bottom-width: px2vw-lg(1px);
  //   padding: px2vw-lg(24px) 0;
  // }

  // @include md {
  //   border-bottom-width: px2vw-md(1px);
  //   padding: px2vw-md(24px) 0;
  // }

  // @include sm {
  //   border-bottom-width: px2vw-sm(1px);
  //   padding: px2vw-sm(24px) 0;
  // }
}

.BookmarkCard-header {
  @extend %u-dfCenterBtw;
  margin-bottom: px2vw-xl(12px);

  @include lg {
    margin-bottom: px2vw-lg(12px);
  }

  @include md {
    margin-bottom: px2vw-md(12px);
  }

  @include sm {
    margin-bottom: px2vw-sm(12px);
  }

  &-title {
    @extend %subtitle-1;
    margin-bottom: 0;
    font-family: "archivo-black";
    text-transform: uppercase;
  }

  &-control {
    @extend %u-dfCenter;
    flex-shrink: 0;
    margin-left: px2vw-xl(12px);

    @include lg {
      margin-left: px2vw-lg(12px);
    }

    @include md {
      margin-left: px2vw-md(12px);
    }

    @include sm {
      margin-left: px2vw-sm(12px);
    }
  }

  &-control-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);
    font-size: px2vw-xl(24px);
    color: var(--white-high);
    cursor: pointer;
    transition: $global-transition;

    &.bookmark {
      color: var(--color-primary);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
      font-size: px2vw-sm(24px);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.BookmarkCard-content {
  @extend %u-dfCenter;

  &-image {
    @extend %u-dfStartEnd;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    padding: px2vw-xl(8px);
    height: px2vw-xl(118px);
    width: px2vw-xl(210px);
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(16px);
      padding: px2vw-lg(8px);
      height: px2vw-lg(118px);
      width: px2vw-lg(210px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      padding: px2vw-md(8px);
      height: px2vw-md(118px);
      width: px2vw-md(210px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      padding: px2vw-sm(8px);
      height: px2vw-sm(118px);
      width: px2vw-sm(210px);
    }
  }

  &-image-icon {
    height: px2vw-xl(38px);
    width: px2vw-xl(38px);

    @include lg {
      height: px2vw-lg(38px);
      width: px2vw-lg(38px);
    }

    @include md {
      height: px2vw-md(38px);
      width: px2vw-md(38px);
    }

    @include sm {
      height: px2vw-sm(38px);
      width: px2vw-sm(38px);
    }
  }

  &-info {
    max-width: px2vw-xl(552px);

    @include lg {
      max-width: px2vw-lg(552px);
    }

    @include md {
      max-width: px2vw-md(552px);
    }

    @include sm {
      max-width: px2vw-sm(552px);
    }
  }

  &-description {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-details {
    @extend %u-dfCenter;
  }

  &-detail {
    @extend %caption;
    color: var(--white-medium);
  }

  &-dot {
    margin: 0 px2vw-xl(10px);
    border-radius: px2vw-xl(2px);
    width: px2vw-xl(3px);
    height: px2vw-xl(3px);
    background-color: var(--white-medium);

    @include lg {
      margin: 0 px2vw-lg(10px);
      border-radius: px2vw-lg(2px);
      width: px2vw-lg(3px);
      height: px2vw-lg(3px);
    }

    @include md {
      margin: 0 px2vw-md(10px);
      border-radius: px2vw-md(2px);
      width: px2vw-md(3px);
      height: px2vw-md(3px);
    }

    @include sm {
      margin: 0 px2vw-sm(10px);
      border-radius: px2vw-sm(2px);
      width: px2vw-sm(3px);
      height: px2vw-sm(3px);
    }
  }
}

.Clips {
  &-heading {
    margin-bottom: 32px;
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  &-main {
    &-lists {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    &-item {
      width: calc(100% / 3 - 16px);
      margin-bottom: 24px;
      @include md {
        width: calc(100% / 2 - 16px);
      }
      @include sm {
        width: 100%;
      }
      .avatar {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-right: 8px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .description {
        width: 100%;
        max-width: calc(100% - 40px);
      }
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 8px;
      }
      .text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--tolopea-color);
        margin-bottom: 0;
      }
    }
    &-thumbnail {
      width: 100%;
      overflow: hidden;
      position: relative;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      cursor: pointer;
      height: px2vw-xl(132.82px);
      margin-bottom: px2vw-xl(16px);
      border-radius: px2vw-xl(20px);
      @include lg {
        height: px2vw-lg(132.82px);
        margin-bottom: px2vw-lg(22px);
        border-radius: px2vw-lg(20px);
      }

      @include md {
        height: px2vw-md(132.82px);
        margin-bottom: px2vw-md(16px);
        border-radius: px2vw-md(20px);
      }

      @include sm {
        height: px2vw-sm(242.37px);
        margin-bottom: px2vw-sm(24.576px);
        border-radius: px2vw-sm(30.72px);
      }
      .icon {
        position: relative;
        z-index: 2;
        width: 50px;
        height: 50px;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
      }
    }
    &-description {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: flex-start;
      align-items: flex-start;
    }
  }
}
