.form-group {
  .dropdown {
    button {
      text-align: left;

      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      padding: 0;
      left: auto !important;
      max-height: 198px;
      overflow-x: auto;
      width: 100%;
      transform: none !important;
      top: 40px !important;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: var( --black-ash1);
        border-radius: 3px;
      }

      .dropdown-item {
        border-bottom: 0.5px solid var(--black-medium);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        color: var(--black);
        font-size: 16px;
        line-height: 21px;

        &:last-child {
          border-bottom: 0;
        }

        &:hover,
        &:active,
        &:focus {
          background: transparent;
          color: var(--black);
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .form-group {
    .dropdown {
      .dropdown-menu {
        .dropdown-item {
          font-size: 14px;
          line-height: normal;
        }
      }
    }
  }
}

.form-control{
  background-color: var(--white-yellow2)!important;
  color: var(--black);
}

.form-select:before{
  z-index: 6;
}
.labeltext-top{
  position: relative!important;
  color: var(--white)!important;
  background: transparent!important;
  left: 0 !important;
  margin-top: 22px !important;
  font-size: 12px!important;
}

.label-top-icon:before{
  top: 60px!important;
  background: url(/assets/images/articles/select-arrow.svg);
}

#drop_down_1{
  min-height: 40px ;
}
