@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";
@import "base/typography";

.searchButton {
  background: transparent;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterContainer {
  align-items: flex-start;
  display: flex;
  width: 50%;
  width: 100%;
}

.dropdown {
  margin-left: -15px;
}

:host::ng-deep .form-group {
  margin-top: 20px;
  width: 30%;
  .dropdown {
    button {
      border: 1px solid #dbdbdb;
      color: #8f9aa0;
      text-align: left;

      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      padding: 0;
      left: auto !important;
      max-height: 198px;
      overflow-x: auto;
      width: 100%;
      transform: none !important;
      top: 38px !important;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: rgba(112, 112, 112, 0.6);
        border-radius: 3px;
      }

      .dropdown-item {
        border-bottom: 0.5px solid var(--ui-dim-gray);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        font-size: 16px;
        line-height: 21px;

        &:last-child {
          border-bottom: 0;
        }

        &:hover,
        &:active,
        &:focus {
          background: transparent;
        }
      }
    }
  }

  .labeltext {
    background-color: var(--base-white);
    position: absolute;
    font-size: 16px;
    left: 19px;
    line-height: 21px;
    color: var(--base-black-pearl);
    margin: 0;
    top: 10px;
    padding: 0 10px 0 5px;
    transition: all 0.3s;
    z-index: 1;
  }

  .form-control:focus ~ .labeltext,
  .labeltext.active {
    font-size: 12px;
    line-height: 16px;
    top: -7px;
    z-index: 2;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .form-group {
    .dropdown {
      .dropdown-menu {
        .dropdown-item {
          font-size: 14px;
          line-height: normal;
        }
      }
    }
  }
}

.AccessManagement {
  &-header {
    text-align: right;
    margin-top: px2vw-xl(20px);
  }

  &-tableBtn {
    color: var(--ui-dim-gray);

    mat-icon {
      font-size: px2vw-xl(26px);

      @include lg {
        font-size: px2vw-lg(26px);
      }

      @include md {
        font-size: px2vw-md(26px);
      }

      @include sm {
        font-size: px2vw-sm(26px);
      }
    }
  }
  &-accessWp {
    @extend %u-dfCenterCenter;
    flex-wrap: wrap;
    width: 100%;
  }

  &-access {
    margin: px2vw-xl(5px) px2vw-xl(10px);
    font-size: px2vw-xl(14px);
    text-transform: uppercase;

    @include lg {
      margin: px2vw-lg(5px) px2vw-lg(10px);
      font-size: px2vw-lg(14px);
    }

    @include md {
      margin: px2vw-md(5px) px2vw-md(10px);
      font-size: px2vw-md(14px);
    }

    @include sm {
      margin: px2vw-sm(5px) px2vw-sm(10px);
      font-size: px2vw-sm(14px);
    }

    ::ng-deep .mat-button-wrapper {
      padding: px2vw-xl(8px) 0;
      line-height: px2vw-xl(24px);

      @include lg {
        padding: px2vw-lg(8px) 0;
        line-height: px2vw-lg(24px);
      }

      @include md {
        padding: px2vw-md(8px) 0;
        line-height: px2vw-md(24px);
      }

      @include sm {
        padding: px2vw-sm(8px) 0;
        line-height: px2vw-sm(24px);
      }
    }

    &[disabled] {
      background-color: rgba(255, 106, 57, 0.1);
      color: var(--primary-sunset-light);
    }
  }
}

::ng-deep {
  esports-create-season {
    .CreateSeason {
      &-content {
        padding: px2vw-xl(50px);
        border-radius: px2vw-xl(5px);
        display: flex;
        justify-content: center;
        width: 100%;

        @include lg {
          padding: px2vw-lg(50px);
          border-radius: px2vw-lg(5px);
        }

        @include md {
          padding: px2vw-md(30px);
          border-radius: px2vw-md(5px);
        }

        @include sm {
          padding: px2vw-sm(20px);
          border-radius: px2vw-sm(5px);
          flex-flow: column;
          align-items: center;
        }
      }

      &-ava {
        min-width: px2vw-xl(99px);
        width: px2vw-xl(99px);
        min-height: px2vw-xl(99px);
        height: px2vw-xl(99px);
        margin-right: px2vw-xl(50px);
        border-radius: 50%;
        overflow: hidden;

        @include lg {
          min-width: px2vw-lg(99px);
          width: px2vw-lg(99px);
          min-height: px2vw-lg(99px);
          height: px2vw-lg(99px);
          margin-right: px2vw-lg(50px);
        }

        @include md {
          min-width: px2vw-md(99px);
          width: px2vw-md(99px);
          min-height: px2vw-md(99px);
          height: px2vw-md(99px);
          margin-right: px2vw-md(50px);
        }

        @include sm {
          min-width: px2vw-sm(99px);
          width: px2vw-sm(99px);
          min-height: px2vw-sm(99px);
          height: px2vw-sm(99px);
          margin: 0 0 px2vw-sm(20px);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-box {
        max-width: px2vw-xl(882px);
        width: 100%;

        @include lg {
          max-width: px2vw-lg(882px);
        }

        @include md {
          max-width: px2vw-md(882px);
        }

        @include sm {
          max-width: px2vw-sm(882px);
        }
      }

      &-items {
        @extend %u-dfStartBtw;

        @include md {
          flex-flow: column;
        }

        mat-form-field {
          width: 100%;

          @include md {
            width: 100%;
          }
        }
      }

      .global-intlTel {
        width: px2vw-lg(252px) !important;

        @include lg {
          width: px2vw-lg(252px) !important;
        }

        @include md {
          width: px2vw-md(340px) !important;
        }

        @include sm {
          width: px2vw-sm(490px) !important;
        }
      }
      &-item {
        flex: 1;

        h2 {
          // @extend %global-Text;
          margin: 0 0 px2vw-xl(2px);
          font-size: px2vw-xl(15px);
          color: var(--ui-nobel);

          @include lg {
            margin: 0 0 px2vw-lg(2px);
            font-size: px2vw-lg(15px);
          }

          @include md {
            margin: 0 0 px2vw-md(2px);
            font-size: px2vw-md(15px);
          }

          @include sm {
            margin: 0 0 px2vw-sm(2px);
            font-size: px2vw-sm(15px);
          }
        }

        h3 {
          // @extend %global-Text;
          margin: 0 0 px2vw-xl(40px);
          font-size: px2vw-xl(19px);
          color: var(--base-white);

          @include lg {
            margin: 0 0 px2vw-lg(40px);
            font-size: px2vw-lg(19px);
          }

          @include md {
            margin: 0 0 px2vw-md(40px);
            font-size: px2vw-md(19px);
          }

          @include sm {
            margin: 0 0 px2vw-sm(40px);
            font-size: px2vw-sm(19px);
          }
        }
      }

      &-accessWp {
        @extend %u-dfStartBtw;
        flex-flow: wrap;

        @include md {
          flex-flow: column;
        }
      }

      &-access {
        @extend %u-dfCenterStart;
        margin: px2vw-xl(5px) 0 px2vw-xl(15px);
        width: 50%;

        @include lg {
          margin: px2vw-lg(5px) 0 px2vw-lg(15px);
        }

        @include md {
          margin: px2vw-md(5px) 0 px2vw-md(15px);
          width: 100%;
        }

        @include sm {
          margin: px2vw-sm(5px) 0 px2vw-sm(15px);
        }

        h2 {
          @extend %u-dfCenterCenter;
          width: px2vw-xl(40px);
          height: px2vw-xl(40px);
          font-size: px2vw-xl(14px);
          margin: 0 px2vw-xl(24px) 0 0;
          color: var(--primary-cinnabar);
          background: var(--base-white);
          border-radius: 50%;

          @include lg {
            width: px2vw-lg(40px);
            height: px2vw-lg(40px);
            font-size: px2vw-lg(14px);
            margin: 0 px2vw-lg(24px) 0 0;
          }

          @include md {
            width: px2vw-md(40px);
            height: px2vw-md(40px);
            font-size: px2vw-md(14px);
            margin: 0 px2vw-md(24px) 0 0;
          }

          @include sm {
            width: px2vw-sm(40px);
            height: px2vw-sm(40px);
            font-size: px2vw-sm(14px);
            margin: 0 px2vw-sm(24px) 0 0;
          }
        }

        h3 {
          // @extend %global-Text;
          font-size: px2vw-xl(16px);
          flex: 4;
          margin: 0;

          @include lg {
            font-size: px2vw-lg(16px);
          }

          @include md {
            font-size: px2vw-md(16px);
            flex: 1;
          }

          @include sm {
            font-size: px2vw-sm(16px);
          }
        }

        mat-checkbox {
          margin: 0 px2vw-xl(15px);
          flex: 1;

          @include lg {
            margin: 0 px2vw-lg(15px);
          }

          @include md {
            margin: 0 px2vw-md(15px);
            flex: initial;
          }

          @include sm {
            margin: 0 px2vw-sm(15px);
          }

          ::ng-deep label {
            margin: 0;
          }
        }
      }

      &-footer {
        margin-top: px2vw-xl(60px);
        text-align: left;

        @include lg {
          margin-top: px2vw-lg(60px);
        }

        @include md {
          margin-top: px2vw-md(40px);
        }

        @include sm {
          margin-top: px2vw-sm(20px);
          display: flex;
          flex-flow: column;
          align-items: center;
        }

        button {
          margin-right: px2vw-xl(20px);

          @include lg {
            margin-right: px2vw-lg(20px);
          }

          @include md {
            margin-right: px2vw-md(20px);
          }

          @include sm {
            margin: px2vw-sm(10px) 0;
          }
        }
      }

      &-xbs {
        border-radius: px2vw-xl(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: px2vw-xl(50px) px2vw-xl(30px);
        position: relative;
        margin-top: px2vw-xl(10px);

        @include lg {
          border-radius: px2vw-lg(5px);
          padding: px2vw-lg(50px) px2vw-lg(30px);
        }

        @include md {
          border-radius: px2vw-md(5px);
          padding: px2vw-md(50px) px2vw-md(30px);
        }

        @include sm {
          border-radius: px2vw-sm(5px);
          padding: px2vw-sm(50px) px2vw-sm(30px);
        }

        &-label {
          left: px2vw-xl(10px);
          top: px2vw-xl(-10px);
          padding: 0 px2vw-xl(10px);
          font-size: px2vw-xl(16px);
          position: absolute;
          display: inline-block;

          @include lg {
            left: px2vw-lg(10px);
            top: px2vw-lg(-10px);
            padding: 0 px2vw-lg(10px);
            font-size: px2vw-lg(16px);
          }

          @include md {
            left: px2vw-md(10px);
            top: px2vw-md(-10px);
            padding: 0 px2vw-md(10px);
            font-size: px2vw-md(16px);
          }

          @include sm {
            left: px2vw-sm(10px);
            top: px2vw-sm(-10px);
            padding: 0 px2vw-sm(10px);
            font-size: px2vw-sm(16px);
          }
        }
      }
    }

    .upload-file {
      display: flex;
      justify-content: center;
      width: 100%;
      border-radius: 8px;
      background-color: var(--base-white-dark);
      padding: 2em 0;
      text-align: center;

      span {
        color: var(--base-black-pearl);
      }

      margin-bottom: px2vw-xl(20px);
      @include lg {
        margin-bottom: px2vw-lg(20px);
      }

      @include md {
        margin-bottom: px2vw-md(20px);
      }

      @include sm {
        margin-bottom: px2vw-sm(20px);
      }
    }

    .WYSIWYG-editor-toolbar button i {
      font-family: FontAwesome !important;
      color: var(--base-black);
    }
    .WYSIWYG-editor-textarea {
      & img {
        width: 100%;
      }
    }
  }
}

::ng-deep {
  esports-season-notification {
    .form-select::before {
      right: px2vw-xl(40px) !important;
      bottom: px2vw-xl(30px) !important;
    }
    .form-group {
      margin-top: px2vw-xl(8px) !important;
      width: 30% !important;
    }
  }
  .form-select::before {
    right: px2vw-xl(40px) !important;
    bottom: px2vw-xl(70px) !important;
  }
  .form-select::after {
    bottom: px2vw-xl(90px);
  }
  .form-control {
    padding: px2vw-xl(35px);
    margin-top: px2vw-xl(5px);
    border-radius: 6px;
    line-height: 0.5;
  }
  .form-group[_ngcontent-serverApp-c337] .labeltext[_ngcontent-serverApp-c337] {
    top: 17px !important;
    color: var(--base-submarine) !important;
  }
  .form-group[_ngcontent-serverApp-c337]
    .form-control[_ngcontent-serverApp-c337]:focus
    ~ .labeltext[_ngcontent-serverApp-c337],
  .form-group[_ngcontent-serverApp-c337]
    .labeltext.active[_ngcontent-serverApp-c337] {
    top: -7px !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    top: 2.281em;
  }
  mat-form-field.new-date-input {
    margin-top: px2vw-xl(30px);
    margin-bottom: px2vw-xl(40px);
  }
  .counter__container[_ngcontent-serverApp-c338] {
    margin-bottom: px2vw-xl(60px);
  }
  #mat-input-3 {
    color: var(--base-black);
  }
  .form-group {
    margin-top: px2vw-xl(8px) !important;
    width: 100% !important;
  }
}
::ng-deep{
  .global-TabGroup .mat-tab-label{
    flex-grow: 1 !important;
  }
  .mat-tab-label-active {
    color: #bbf55a !important;
}
.global-TabGroup .mat-tab-label{
  color: #000;
}
.global-DataTable .datatable-header-cell-label{
  color: #a1a1a1 !important;
}
.global-DataTable datatable-body-row:hover {
  background: linear-gradient(
0deg
, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #ececee;
}
.mat-checkbox .mat-checkbox-inner-container {
  margin-right: 0;
  height: 1.25vw;
  width: 1.25vw;
  // border: 1px solid #919191;
  border-radius: 2px;
}
.btn-theme .material-icons{
  margin-top: 5px !important;
  font-size: 14px !important;
}
}
.btn-theme{
  background-color: #bbf55a;
  margin-bottom: 20px;
}
