<div class="InputInvite" [ngClass]="{ basic: isBasic }">
  <h3 class="InputInvite-title global-Text">
    {{ title }}
  </h3>

  <div class="InputInvite-block block u-dfCenterStart">
    <img
      class="InputInvite-icon icon"
      src="assets/icons/tournament/email.svg"
      alt="email icon"
    />

    <input
      class="InputInvite-input input global-Text2"
      type="email"
      (keyup)="onChangeValue($event)"
      placeholder="Invite by email address"
    />
  </div>
</div>
