@import "shared";

:host {
  display: block;
  //background: $left-corner-light;
  //  background: radial-gradient(54% 70% at 0% 0%, rgba(115, 108, 255, 0) -25%, rgba(115, 108, 255, 0.15) 100%);
  background: radial-gradient(
    31.93% 73.7% at 100% 0%,
    rgba(115, 108, 255, 0.25) 0%,
    rgba(115, 108, 255, 0) 100%
  );
}

.ArticlePost-preview-read-icon {
  margin-left: auto;
}

.ArticlePost {
  @extend %u-dfStart;
  padding-top: 32px;
  padding-bottom: 0px;

  @include xl {
    padding-top: px2vw-xl(24px);
    padding-bottom: px2vw-xl(84px);
  }

  @include lg {
    padding-top: px2vw-lg(24px);
    padding-bottom: px2vw-lg(84px);
  }

  @include md {
    padding-top: px2vw-md(24px);
    padding-bottom: px2vw-md(30px);
  }

  @include sm {
    padding-top: px2vw-sm(24px);
    padding-bottom: px2vw-sm(30px);
  }
}

.ArticlePost-header {
  margin-bottom: 70px;

  @include xl {
    margin-bottom: px2vw-xl(70px);
  }

  @include lg {
    margin-bottom: px2vw-lg(70px);
  }

  @include md {
    margin-bottom: px2vw-md(70px);
  }

  @include sm {
    margin-bottom: px2vw-sm(70px);
  }
}

.ArticlePost-main {
  overflow-y: scroll;
  // height: 41rem;
  flex-shrink: 0;
  margin-right: 56px;
  width: 950px;

  @include xl {
    margin-right: px2vw-xl(56px);
    width: px2vw-xl(950px);
  }

  @include lg {
    margin-right: px2vw-xl(56px);
    width: px2vw-lg(950px);
  }

  @include md {
    margin-right: 0;
    width: 100%;
  }
}

.ArticlePost-preview {
  &-title {
    margin-top: 4vw;
    margin-bottom: px2vw-xl(50px);
    font-family: "archivo-black";
    font-size: 48px;
    line-height: 56px;

    @include xl {
      margin-bottom: px2vw-xl(50px);
      font-size: px2vw-xl(48px);
      line-height: px2vw-xl(56px);
    }

    @include lg {
      margin-bottom: px2vw-lg(50px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }
  }

  &-info {
    @extend %u-dfCenter;
    margin-bottom: 40px;

    @include xl {
      margin-bottom: px2vw-xl(40px);
    }

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-type {
    @extend %u-dfCenter;
  }

  &-type-icon {
    @extend %u-dfCenterCenter;
    margin-right: 8px;
    height: 18px;
    width: 18px;

    @include xl {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(18px);
      width: px2vw-xl(18px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(18px);
      width: px2vw-lg(18px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(18px);
      width: px2vw-md(18px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(18px);
      width: px2vw-sm(18px);
    }
  }

  &-type-text {
    @extend %overline;
    color: var(--color-secondary);
    font-family: "redhat-regular";
  }

  &-divider {
    margin: 0 24px;
    background-color: var(--white-light);
    height: 20px;
    width: 1px;

    @include xl {
      margin: 0 px2vw-xl(24px);
      height: px2vw-xl(20px);
      width: px2vw-xl(1px);
    }

    @include lg {
      margin: 0 px2vw-lg(24px);
      height: px2vw-lg(20px);
      width: px2vw-lg(1px);
    }

    @include md {
      margin: 0 px2vw-md(24px);
      height: px2vw-md(20px);
      width: px2vw-md(1px);
    }

    @include sm {
      margin: 0 px2vw-sm(24px);
      height: px2vw-sm(20px);
      width: px2vw-sm(1px);
    }
  }

  &-created {
    @extend %body-2;
    color: var(--white-medium);
    font-family: "redhat-regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  &-comments {
    @extend %body-2;
    margin-bottom: 0;
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);

    @include xl {
      border-bottom-width: px2vw-xl(2px);
    }

    @include lg {
      border-bottom-width: px2vw-lg(2px);
    }

    @include md {
      border-bottom-width: px2vw-md(2px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(2px);
    }
    &.like.is-active {
      color: var(--color-sunset-orange);
    }
  }

  &-image-block {
    margin-bottom: 55px;
    position: relative;
    left: -6%;
    height: 580px;
    width: 106%;
    background-color: var(--black);
    background-size: cover;
    transition: $global-transition;

    @include xl {
      margin-bottom: px2vw-xl(55px);
      height: px2vw-xl(420px);
    }

    @include lg {
      margin-bottom: px2vw-lg(55px);
      height: px2vw-lg(420px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      height: px2vw-md(420px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
      height: px2vw-sm(320px);
      background-position: center;
    }
  }
}

.ArticlePost-description {
  margin: 0 auto;
  max-width: 650px;

  @include xl {
    max-width: px2vw-xl(650px);
  }

  @include lg {
    max-width: px2vw-lg(650px);
  }

  @include md {
    max-width: px2vw-md(650px);
    margin-left: px2vw-md(0px);
  }

  @include sm {
    max-width: 100%;
    margin-left: px2vw-sm(0px);
  }
  // width: 650px;
  margin-left: 108px;
  &-links {
    flex-shrink: 0;
    // margin-right: px2vw-xl(24px);
    display: grid;
    grid-template-columns: repeat(3, auto) minmax(0, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(4px);
    grid-row-gap: px2vw-xl(4px);

    @include lg {
      margin-top: px2vw-lg(48px);
    }

    @include md {
      margin-top: px2vw-md(48px);
    }

    @include sm {
      margin-top: px2vw-sm(48px);
    }
  }

  &-link {
    margin-right: 8px;

    @include xl {
      margin-right: px2vw-xl(8px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }

    &.share {
      @extend %u-dfCenter;
      border: 1px solid var(--white-smoke);
      padding: 6px;
      padding-left: 16px;
      transition: $global-transition2;

      @include xl {
        border-width: px2vw-xl(1px);
        padding: px2vw-xl(6px);
        padding-left: px2vw-xl(16px);
      }

      @include lg {
        border-width: px2vw-lg(1px);
        padding: px2vw-lg(6px);
        padding-left: px2vw-lg(16px);
      }

      @include md {
        border-width: px2vw-md(1px);
        padding: px2vw-md(6px);
        padding-left: px2vw-md(16px);
      }

      @include sm {
        border-width: px2vw-sm(1px);
        padding: px2vw-sm(6px);
        padding-left: px2vw-sm(16px);
      }

      .text {
        @extend %caption;
        margin-right: 19px;
        text-transform: uppercase;
        transition: inherit;
        font-family: "redhat-regular";
        @include lg {
          margin-right: px2vw-lg(19px);
        }

        @include md {
          margin-right: px2vw-md(19px);
        }

        @include sm {
          margin-right: px2vw-sm(19px);
        }
      }

      .icon {
        @extend %u-dfCenter;

        ::ng-deep svg {
          height: 10px;
          width: 12px;
          transition: inherit;

          @include xl {
            height: px2vw-xl(10px);
            width: px2vw-xl(12px);
          }

          @include lg {
            height: px2vw-lg(10px);
            width: px2vw-lg(12px);
          }

          @include md {
            height: px2vw-md(10px);
            width: px2vw-md(12px);
          }

          @include sm {
            height: px2vw-sm(10px);
            width: px2vw-sm(12px);
          }
        }
      }

      &:hover {
        border-color: var(--color-primary);
        background-color: var(--color-primary);

        .text {
          color: var(--black);
        }

        .icon ::ng-deep svg path {
          fill: var(--black);
        }
      }
    }
  }

  &-link-icon {
    ::ng-deep svg {
      height: 30px;
      width: 30px;

      @include xl {
        height: px2vw-xl(30px);
        width: px2vw-xl(30px);
      }

      @include lg {
        height: px2vw-lg(30px);
        width: px2vw-lg(30px);
      }

      @include md {
        height: px2vw-md(30px);
        width: px2vw-md(30px);
      }

      @include sm {
        height: px2vw-sm(30px);
        width: px2vw-sm(30px);
      }

      path {
        transition: $global-transition2;
      }
    }

    &:hover ::ng-deep svg {
      fill: var(--color-primary);

      path {
        fill: var(--black);
      }
    }
  }

  &-text {
    ::ng-deep {
      ul,
      p,
      h1,
      h2,
      h3 {
        background-color: transparent !important;
        font-family: "redhat-regular";
      }

      ::ng-deep {
        h2 {
          background-color: transparent !important;
          font-family: Archivo;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
        }
      }

      ::ng-deep {
        p {
          font-family: "redhat-regular";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
        }
      }

      span,
      li,
      p {
        @extend %body-1;
        color: var(--white-high) !important;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

// ::ng-deep .ArticlePost-author[_ngcontent-serverApp-c486] {
//     border-top-width: 0.069444vw;
//     border-bottom-width: 0.069444vw;
// }

.ArticlePost-author {
  @extend %u-dfCenterBtw;
  margin-top: 48px;
  border-top: 1px solid var(--white-light);
  border-bottom: 1px solid var(--white-light);
  padding: 24px 74px 24px 155px;
  padding-inline-end: 4px;
  @include xl {
    margin-top: px2vw-xl(48px);
    border-top-width: px2vw-xl(1px);
    border-bottom-width: px2vw-xl(1px);
    padding: px2vw-xl(24px) px2vw-xl(74px) px2vw-xl(24px) px2vw-xl(155px);
    padding-inline-end: 4px;
  }

  @include lg {
    margin-top: px2vw-lg(48px);
    border-top-width: px2vw-lg(1px);
    border-bottom-width: px2vw-lg(1px);
    padding: px2vw-lg(24px);
  }

  @include md {
    margin-top: px2vw-md(48px);
    border-top-width: px2vw-md(1px);
    border-bottom-width: px2vw-md(1px);
    padding: px2vw-md(24px);
  }

  @include sm {
    margin-top: px2vw-sm(48px);
    border-top-width: px2vw-sm(1px);
    border-bottom-width: px2vw-sm(1px);
    padding: px2vw-sm(24px) px2vw-sm(14px);
  }

  &-block {
    margin-left: -145px;
    @extend %u-dfCenter;
  }

  &-image-block {
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 16px;
    height: 64px;
    width: 64px;
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include xl {
      margin-right: px2vw-xl(16px);
      height: px2vw-xl(64px);
      width: px2vw-xl(64px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(64px);
      width: px2vw-lg(64px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(64px);
      width: px2vw-md(64px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(64px);
      width: px2vw-sm(64px);
    }
  }

  &-title {
    @extend %overline;
    margin-bottom: 4px;
    color: var(--white-medium);

    @include xl {
      margin-bottom: px2vw-xl(4px);
    }

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-name {
    @extend %subtitle-1;
    margin-bottom: 0;
  }

  &-follow {
    margin-left: 20px;

    @include xl {
      margin-left: px2vw-xl(20px);
    }

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }
  }
}

.ArticlePost-discussion {
  margin-top: 56px;

  @include xl {
    margin-top: px2vw-xl(56px);
  }

  @include lg {
    margin-top: px2vw-lg(56px);
  }

  @include md {
    margin-top: px2vw-md(56px);
  }

  @include sm {
    margin-top: px2vw-sm(56px);
  }
}

.ArticlePost-aside {
  top: 105px;
  position: sticky;
  width: 100%;

  @include md {
    top: px2vw-md(105px);
    margin-top: px2vw-md(50px);
  }

  @include sm {
    top: px2vw-sm(105px);
    margin-top: px2vw-sm(50px);
  }

  &-title {
    @extend %global-H6;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--white-light);
    padding-bottom: px2vw-xl(16px);
    font-family: "archivo-black";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: 0.15px;
    text-transform: uppercase;

    /* On Surface/High Emphasis */

    color: rgba(255, 255, 255, 0.87);

    @include lg {
      margin-bottom: px2vw-lg(32px);
      border-bottom-width: px2vw-lg(1px);
      padding-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
      border-bottom-width: px2vw-md(1px);
      padding-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
      border-bottom-width: px2vw-sm(1px);
      padding-bottom: px2vw-sm(16px);
    }
  }

  &-posts {
    overflow-y: auto;
    margin-bottom: 0;
    max-height: 75vh;
    padding-right: 10px;

    @include xl {
      padding-right: px2vw-xl(10px);
    }

    @include lg {
      padding-right: px2vw-lg(10px);
    }

    @include md {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: 1fr;
      grid-column-gap: px2vw-md(15px);
      grid-row-gap: px2vw-md(20px);
      padding-right: px2vw-md(10px);
    }

    @include sm {
      grid-template-columns: minmax(2, 1fr);
      grid-row-gap: px2vw-sm(15px);
      grid-column-gap: 2;
      padding-right: px2vw-sm(10px);
    }
  }

  &-post {
    margin-bottom: px2vw-xl(32px);
    transition: $global-transition;
    cursor: pointer;

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.7;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-post-image {
    margin-bottom: 20px;
    background-size: cover;
    height: 200px;
    width: 100%;
    background-color: var(--black);

    @include xl {
      margin-bottom: px2vw-xl(20px);
      height: px2vw-xl(170px);
    }

    @include lg {
      margin-bottom: px2vw-lg(20px);
      height: px2vw-lg(170px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
      height: px2vw-md(170px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      height: px2vw-sm(200px);
    }
  }

  &-post-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(10px);
    font-family: "archivo-black";
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    text-transform: uppercase;

    /* On Surface/High Emphasis */

    color: rgba(255, 255, 255, 0.87);
    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      min-height: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      min-height: auto;
    }
  }

  &-post-date {
    margin-bottom: 0;
    color: var(--white-disabled);
  }
}
.ArticlePost-preview-read-icon {
  margin-left: auto;
  // background-color:hover
  // color: greenyellow;

  &.like.is-active {
    color: var(--color-sunset-orange);
  }
}
.ArticlePost-preview-read-icon:hover {
  // background-color:greenyellow;
  // border: 1px solid hsl(236, 96%, 46%) ;
  color: hsl(236, 96%, 46%);
}

.scrolling-article-post {
  overflow: hidden;
  margin-inline: -1.5rem;
  gap: inherit;
}

.scrolling-article-post:hover {
  overflow: scroll;
}
.gereenYellow {
  color: greenyellow;
}

.ArticlePost-header-button {
  border: 1px solid var(--white-smoke);
  margin-top: 40px;
}
.ArticlePost-description-tex,
p {
  font-family: "redhat-regular";
}

.ArticlePost-description-text p {
  font-family: "redhat-regular";
  font-size: 10rem;
}

.scrolling-article-post::-webkit-scrollbar {
  display: none;
}

.ArticlePost-main::-webkit-scrollbar {
  display: none;
}

strong {
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

@include sm{
.ArticlePost-header-button {
  margin-top: px2vw-sm(40px);
}
}
.ArticlePost{
  display: block;
}
.ArticlePost-main{
  width: 100%;
}
.ArticlePost-aside{
  position: unset;
}
@include sm{
  .ArticlePost-description-links{
  }
}
      // ul.ArticlePost-aside-posts{
      //   li{
      //     display: block;
      //     align-items: center;
      //     width: 100%;
      //     flex-direction: inherit;
      //     .ArticlePost-aside-post-image{
      //       width: 46%;
      //     }
      //     .ArticlePost-aside-post-title {
      //       width:53%;
      //       margin-left:10px;
      // @include sm {
      //   ul.ArticlePost-aside-posts{
      //     grid-template-columns: minmax(2, 1fr);
      //     grid-row-gap: px2vw-sm(15px);
      //     grid-column-gap: 2;
      //     padding-right: px2vw-sm(10px);
      //   }
      @include sm{
        .ArticlePost-aside-post
        {
          margin-left: px2vw-sm(12px);
        }
        .ArticlePost-aside-post-image{
          height:px2vw-sm(125px);
          width: 99%;
          margin-left: px2vw-sm(1px);
        }
        .scrolling-article-post{
          margin-inline: -1.5rem;
        }
        .ArticlePost-aside-post-date{
          margin-bottom:  px2vw-sm(7px);
        }

      }

      
    
  