<div class="ArticlePost u-wp">
  <main class="ArticlePost-main">
    <header class="ArticlePost-header">
      <button
        class="ArticlePost-header-button button-icon-secondary"
        (click)="goBack()"
      >
        <mat-icon> arrow_back </mat-icon>
        <span>
          {{ "BUTTON.BACK" | translate }}
        </span>
      </button>
    </header>

    <section class="ArticlePost-preview">
      <h1 class="ArticlePost-preview-title">
        {{
          article?.title | customTranslate: (languageService?.language | async)
        }}
      </h1>

      <div class="ArticlePost-preview-info">
        <div class="ArticlePost-preview-type">
          <div
            class="ArticlePost-preview-type-icon"
            inlineSVG="assets/icons/news/feature.svg"
          ></div>

          <!-- <span class="ArticlePost-preview-type-text">
            {{ "ARTICLE_MAIN.HOTTEST" | translate }}
          </span> -->
          <span class="ArticlePost-preview-type-text">
            <!-- {{ article?.category?.value }}  -->

            {{ "ARTICLE_MAIN.HOTTEST" | translate }}
          </span>
        </div>

        <p class="ArticlePost-preview-divider"></p>

        <span class="ArticlePost-preview-created">
          {{ article?.authorDetails?.fullName }} •
          {{ article?.createdDate | date: "MMMM d, y" }}
        </span>

        <div class=""></div>
        <!-- <p class="ArticlePost-preview-divider"></p> -->

        <!-- <p class="ArticlePost-preview-comments">3 comments</p> -->
        <!-- <a (click) = "onselect()"
        class="ArticlePost-preview-read-icon"
        inlineSVG="assets/images/articles/Read.svg">
      </a>-->
        <!-- <ng-template [ngIf]="article?.isBookmarked" [ngIfElse]="isNotBookmarked">
          <mat-icon  style="color: greenYellow; cursor: pointer;" class="material-icons ArticlePost-preview-read-icon">
          bookmark
            </mat-icon>
        </ng-template> -->

        <mat-icon
          *ngIf="article?.isBookmarked == true"
          style="color: greenYellow; cursor: pointer"
          (click)="upsertBookmark()"
          class="material-icons ArticlePost-preview-read-icon"
        >
          bookmark
        </mat-icon>

        <mat-icon
          *ngIf="article?.isBookmarked == false"
          class="material-icons ArticlePost-preview-read-icon"
          (click)="upsertBookmark()"
          style="color: whitesmoke; cursor: pointer"
          >bookmark_border</mat-icon
        >

        <!-- <ng-template #isNotBookmarked>
            <mat-icon  class="material-icons ArticlePost-preview-read-icon" style="color: whitesmoke;cursor: pointer">bookmark_border</mat-icon>
        </ng-template> -->
      </div>

      <div
        class="ArticlePost-preview-image-block"
        [style.background-image]="'url(' + article?.image + ')'"
      ></div>
    </section>

    <section class="ArticlePost-description">
      <div
        class="ArticlePost-description-text"
        style="font-family: redhat-regular"
        [innerHTML]="article?.content | customTranslate | safe: 'html':false"
      ></div>
    </section>

    <section class="ArticlePost-description">
      <nav
        class="ArticlePost-description-links"
        [class.guest]="!user"
        style="width: fit-content"
      >
        <!-- Twitter -->
        <a
          class="ArticlePost-description-link"
          href="http://www.twitter.com/share?url={{ currentUrl }}"
          target="_blank"
        >
          <div
            class="ArticlePost-description-link-icon"
            inlineSVG="assets/icons/socials/twitter.svg"
          ></div>
        </a>

        <!-- Facebook -->

        <a
          class="ArticlePost-description-link"
          href="https://www.facebook.com/sharer/sharer.php?u={{ currentUrl }}"
          target="_blank"
        >
          <div
            class="ArticlePost-description-link-icon"
            inlineSVG="assets/icons/socials/facebook.svg"
          ></div>
        </a>

        <!-- Instagram -->
        <a
          class="ArticlePost-description-link"
          href="https://www.instagram.com/sharer.php?u={{ currentUrl }}"
          target="_blank"
        >
          <div
            class="ArticlePost-description-link-icon"
            inlineSVG="assets/icons/socials/instagram.svg"
          ></div>
        </a>

        <!-- Share -->
        <a
          class="ArticlePost-description-link share"
          (click)="openSocialShareComponent()"
        >
          <span class="ArticlePost-description-link-text text">{{
            "Share" | translate
          }}</span>

          <div
            class="ArticlePost-description-link-icon icon"
            inlineSVG="assets/icons/socials/share.svg"
          ></div>
        </a>
      </nav>
    </section>
    <section class="ArticlePost-author">
      <div class="ArticlePost-author-block">
        <div
          class="ArticlePost-author-image-block"
          [lazyLoad]="article?.authorDetails?.profilePicture"
        ></div>

        <div class="ArticlePost-author-info">
          <h3 class="ArticlePost-author-title">
            {{ "ARTICLE_POST.AUTHOR" | translate }}
          </h3>
          <p class="ArticlePost-author-name">
            {{ article?.authorDetails?.fullName }}
          </p>
        </div>
      </div>
      <!-- <button class="ArticlePost-author-follow button-secondary" (click)="onFollow()">
        {{ "BUTTON.FOLLOW" | translate }}
      </button> -->

      <button
        (click)="followUser(user, article._id)"
        class="ArticlePost-author-follow button-secondary"
        *ngIf="followStatus == 'follow'"
      >
        {{ "BUTTON.FOLLOW" | translate }}
      </button>
      <button
        (click)="followUser(user, article._id)"
        class="ArticlePost-author-unfollow button-secondary"
        *ngIf="followStatus == 'unfollow'"
      >
        {{ "BUTTON.UNFOLLOW" | translate }}
      </button>
    </section>

    <section class="ArticlePost-discussion" *ngIf="user">
      <app-discussion
        [allowComment]="true"
        [objectId]="article?._id"
        [type]="'article'"
        [userId]="user?._id"
      ></app-discussion>
      <!--
      <app-comments></app-comments> -->
    </section>
  </main>

  <aside class="ArticlePost-aside" style="scroll-behavior: auto">
    <h3 class="ArticlePost-aside-title">
      {{ "ARTICLE_POST.RELATED_POSTS" | translate }}
    </h3>

    <ul
      class="ArticlePost-aside-posts scrolling-article-post"
      *ngIf="latestArticle.length"
    >
      <li
        class="ArticlePost-aside-post"
        *ngFor="let article of latestArticle"
        (click)="viewRelatedArticle()"
        [routerLink]="[AppHtmlRoutes.article, article?.slug]"
      >
        <div
          class="ArticlePost-aside-post-image"
          [lazyLoad]="article?.image"
        ></div>

        <h4 class="ArticlePost-aside-post-title global-Elipses2">
          {{
            article?.title
              | customTranslate: (languageService?.language | async)
          }}
        </h4>

        <p class="ArticlePost-aside-post-date global-Elipses">
          {{ article?.createdDate | date: "MMMM d, y" }}
          <!-- {{article?.authorDetails?.fullName}} • {{ article?.createdDate | date: "MMMM d, y" }} -->
        </p>
      </li>
    </ul>
  </aside>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
