<h2 class="Home-sectionE-title global-Title2">
    {{ "HOME.SECTIOND.ARTICLE" | translate }}
  </h2>
  <div class="Home-sectionE-cards">
    <app-article-item
      *ngFor="let item of latestArticle?.slice(0, 6); let i = index"
      [data]="item"
      (onArticleClick)="addLatestArticleGtmTag($event)"
    ></app-article-item>
  </div>
  <button
    class="Home-sectionD-video-button"
    [routerLink]="['/article/more']"
    (click)="addViewMoreArticleGTM($event)"
  >
    {{ "ARTICLE_MAIN.HEADING.MORE_ARTICLES" | translate }}
  </button>