@import "shared";

:host {
  display: block;
}

.InputText {
  &-title {
    margin-bottom: 3px;
    color: var(--base-white);
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  &-input:focus {
    outline: 2px solidvar(--main-color);
  }
}

.InputText.basic {
  border-bottom: none;
  padding-bottom: 0;

  .title {
    margin-bottom: px2vw-xl(10px);
    color: var(--base-submarine);

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(20px);
    }
  }
}
::ng-deep h3,
::ng-deep .h3 {
  font-family: "stc-forward-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}

.InputText-block {
  position: relative;
  width: 100%;
  background: var(--purple-2);
  border: 2px solid var(--purple-2);
  border-radius: 8px;

  .form-field {
    font-family: "stc-forward-regular";
    color: var(--white);
    padding: 20px 24px;
    width: 100%;
    background: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    &::placeholder {
      color: var(--tertiary-color);
    }
  }
  &-field {
    cursor: pointer;
  }
  input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
    color: var(--white) !important;
    -webkit-text-fill-color: var(--white) !important;
  }
  input:-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 50px 50px var(--blackcurrant-color-medium) inset !important;
  }
}
