@import "shared";

:host {
  display: block;
}

.MyTeams-header {
  @extend %u-dfCenter;
  z-index: 1;
  position: relative;

  &-image {
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 105.5%;
  }
}

.MyTeams-about {
  position: relative;
  z-index: 1;

  &-header {
    @extend %u-dfCenterBtw;
    margin-bottom: 24px;
  }

  &-header-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: var(--tolopea-medium-color);
    margin-bottom: 0;
    text-transform: none;
  }

  &-header-button {
    margin-left: px2vw-xl(15px);
    flex-shrink: 0;

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }

  &-subtitle {
    @extend %body-1;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-icon {
    position: absolute;
    bottom: 140%;
    left: px2vw-xl(14px);
    height: px2vw-xl(60px);
    width: px2vw-xl(170px);

    @include lg {
      left: px2vw-lg(14px);
      height: px2vw-lg(60px);
      width: px2vw-lg(170px);
    }

    @include md {
      left: px2vw-md(14px);
      height: px2vw-md(60px);
      width: px2vw-md(170px);
    }

    @include sm {
      left: px2vw-sm(14px);
      height: px2vw-sm(60px);
      width: px2vw-sm(170px);
    }
  }
}

.MyTeams-control {
  &-toggles {
    border-bottom: px2vw-xl(1px) solid var(--white-light);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
    }
  }

  // &-toggle {
  // }

  &-content {
    padding-top: px2vw-xl(40px);

    @include lg {
      padding-top: px2vw-lg(40px);
    }

    @include md {
      padding-top: px2vw-md(40px);
    }

    @include sm {
      padding-top: px2vw-sm(40px);
    }
  }
}

.MyTeams-cards {
  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  // &-list {
  // }
}
.ParticipantRequests {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  &-heading {
    margin-bottom: px2vw-xl(24px);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(36.864px);
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  &-content {
    padding: 0 0 0 0;
    position: relative;
    width: 100%;
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--tertiary-color);
      margin-bottom: 8px;
      @include md {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &-Blank {
    margin-top: px2vw-xl(50px);
    padding: px2vw-xl(116px) px2vw-xl(220px) px2vw-xl(50px) px2vw-xl(150px);
    background-image: url("../../../../assets/images/manage-tournament/bg-participants-requests-blank.png");
    background-repeat: no-repeat;
    background-size: contain;
    @include lg {
      margin-top: px2vw-lg(50px);
      padding: px2vw-lg(116px) px2vw-lg(220px) px2vw-lg(50px) px2vw-lg(150px);
    }

    @include md {
      margin-top: px2vw-md(50px);
      padding: px2vw-md(116px) px2vw-md(220px) px2vw-md(50px) px2vw-md(150px);
    }

    @include sm {
      background-image: url("../../../../assets/images/manage-tournament/whoops-no-data-mb.png");
      margin-top: px2vw-sm(50px);
      padding: px2vw-sm(268.8px) px2vw-sm(36.864px) px2vw-sm(95.232px) px2vw-sm(36.864px);
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 58px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 8px;
      width: 100%;
      max-width: 479.08px;
      @include sm {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .SubTitle {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 30px;
      @include sm {
        display: none;
      }
    }
    .ButtonGroup {
      padding: 0 0 0 12px;
      .btn {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--secondary-color);
        text-transform: none;
      }
    }
  }
}
