<app-loading *ngIf="isLoading"></app-loading>
<div
  class="SiteConfigurations-main SiteConfigurations-boxC"
  *ngIf="!showAdList"
>
  <div class="SiteConfigurations-boxC-info">
    <form [formGroup]="ownerForm" novalidate (ngSubmit)="addData()">
      <div style="width: 70%">
        <mat-form-field
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.GLOBAL_COUNTRY" | translate
          }}</mat-label>
          <input
            matInput
            id="globalCountryName"
            type="text"
            formControlName="globalCountryName"
          />
          <mat-error *ngIf="hasError('globalCountryName', 'required')"
            >{{ "ADMIN_NEW.COUNTRY_IS" | translate }} *
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LOCAL_COUNTRY" | translate
          }}</mat-label>
          <input
            matInput
            id="localCountryName"
            formControlName="localCountryName"
            type="text"
          />
          <mat-error *ngIf="hasError('localCountryName', 'required')"
            >{{ "ADMIN_NEW.COUNTRY_IS" | translate }} *
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="addNewRegion"
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.GLOBAL_REGION" | translate
          }}</mat-label>
          <input
            matInput
            id="globalRegionName"
            formControlName="globalRegionName"
            type="text"
          />
          <mat-error *ngIf="hasError('globalRegionName', 'required')"
            >{{ "ADMIN_NEW.REGION_IS" | translate }} *
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="addNewRegion"
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label>{{
            "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LOCAL_REGION" | translate
          }}</mat-label>
          <input
            matInput
            id="localRegionName"
            formControlName="localRegionName"
            type="text"
          />
          <mat-error *ngIf="hasError('localRegionName', 'required')"
            >{{ "ADMIN_NEW.REGION_IS" | translate }} *
          </mat-error>
        </mat-form-field>
        <button class="btn is-sm" (click)="addRegion()">
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_REGION" | translate }}
        </button>
        <div class="col-md-12 tags-list">
          <div *ngIf="addedRegions.length > 0">
            {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADDED_REGION" | translate }}
          </div>
          <br />
          <div *ngFor="let tag of addedRegions; index as i" class="tag-item">
            {{ tag.globalName }}
            <button
              mat-icon-button
              class="setCross"
              color="primary"
              (click)="removeRegion(i)"
            >
              <mat-icon class="SiteConfigurations-tableBtn">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="SiteConfigurations-footer-btns">
        <button class="btn" (click)="toggleBannerList()">
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
        </button>
        <button type="submit" class="btn is-sm">
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.SAVE" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<div class="SiteConfigurations-main SiteConfigurations-boxB" *ngIf="showAdList">
  <div class="SiteConfigurations-footer-btns">
    <button class="btn is-sm" (click)="toggleBannerList()">
      + {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_COUNTRY" | translate }}
    </button>
  </div>
  <div class="global-scrollbar">
    <ngx-datatable
      #table
      class="global-DataTable"
      [rows]="regionList"
      [columnMode]="'force'"
      [headerHeight]="'auto'"
      [footerHeight]="'auto'"
      [rowHeight]="'auto'"
      [limit]="50"
    >
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ITEM' | translate }}"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{
          'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.COUNTRY_NAME' | translate
        }}"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{
            currentLang === "english"
              ? row.countryName?.globalName
              : row.countryName?.localName
          }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{
          'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.REGION_NAME' | translate
        }}"
      >
        <ng-template
          let-rowIndex="rowIndex"
          let-row="row"
          ngx-datatable-cell-template
        >
          {{
            currentLang === "english"
              ? row.regionName[0]?.globalName
              : row.regionName[0]?.localName
          }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="">
        <ng-template
          #buttonsTemplate
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <button
            mat-icon-button
            color="primary"
            ngbTooltip="View"
            (click)="clickHandler('view', row)"
          >
            <mat-icon class="SiteConfigurations-tableBtn">visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            ngbTooltip="Delete"
            (click)="clickHandler('delete', row)"
            class="SiteConfigurations-tableBtn"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
