<header class="SelectProfile-header">
  <h1 class="SelectProfile-header-title global-Title">
    {{ data.title | translate }}
  </h1>
  <p class="SelectProfile-header-subtitle global-Text">
    {{ data.subtitle | translate }}
  </p>
</header>

<main class="SelectProfile-profiles" *ngIf="isBrowser">
  <div
    class="SelectProfile-profile"
    *ngFor="let profile of profiles; let idx = index"
    (click)="onSelectProfile(idx)"
    [ngClass]="{ selected: selectedProfile === idx }"
  >
    <div class="card-flip">
      <div class="flip">
        <div class="front">
          <div class="text-right">
            <img
              *ngIf="selectedProfile === idx"
              class="SelectProfile-profile-image"
              [src]="profile.whiteimage"
              [alt]="profile.name"
            />
            <img
              *ngIf="selectedProfile !== idx"
              class="SelectProfile-profile-image"
              [src]="profile.image"
              [alt]="profile.name"
            />
          </div>
          <p class="SelectProfile-profile-name global-Title3 text-left">
            {{
              profile.name
                | customTranslate: (languageService?.language | async)
            }}
          </p>
        </div>

        <div class="back">
          <p class="SelectProfile-profile-name global-Title3 text-left">
            {{ profile.profileText | translate }}
          </p>
        </div>
      </div>
    </div>

    <!-- <img
      class="SelectProfile-profile-checked checked-image"
      src="assets/images/Register/checked.svg"
      alt="checked image"
    /> -->
  </div>
</main>

<div class="SelectProfile-buttons">
  <button
    class="SelectProfile-button-next global-EditBtn is-sm"
    (click)="onSubmitEvent()"
  >
    {{ data.submitBtn | translate }}
  </button>
</div>
