<app-loading *ngIf="isLoading"></app-loading>
<div
  class="SiteConfigurations-main SiteConfigurations-boxC"
  *ngIf="!showAdList"
>
  <div class="SiteConfigurations-boxC-title">
    {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ANNOUNCEMENT" | translate }}
  </div>
  <div class="SiteConfigurations-boxC-info">
    <div class="mesf-Text SiteConfigurations-boxC-info-title">
      {{
        "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_HEADER_ANNOUNCEMENT_IMAGE"
          | translate
      }}<span *ngIf="imageError" class="imageError">*</span>
    </div>
    <form [formGroup]="ownerForm" novalidate (ngSubmit)="upload()">
      <input
        type="file"
        id="announcementFileUpload"
        style="opacity: 0; height: 0px; width: 0px;"
      />
      <div
        #announcementUpload
        id="announcementUpload"
        class="SiteConfigurations-boxC-banner"
      >
        <div class="SiteConfigurations-boxC-banner-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ANNOUNCEMENT" | translate }}
          1038px X 400px <br />
          <button
            type="button"
            (click)="announcementUploader()"
            class="mesf-EditBtn is-sm is-edit"
          >
            {{ "ADMIN.SITE_CONFIGURATION.BUTTON.UPLOAD_IMAGE" | translate }}
          </button>
        </div>
      </div>
      <div class="SiteConfigurations-boxC-footer">
        <div class="SiteConfigurations-boxC-footer-left">
          <mat-form-field
            class="mesf-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.NAME" | translate
            }}</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="hasError('name', 'required')">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.NAME_REQUIRED" | translate
            }}</mat-error>
          </mat-form-field>
          <mat-form-field
            class="mesf-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.HEADER" | translate
            }}</mat-label>
            <input matInput type="text" formControlName="header" id="header" />
            <mat-error *ngIf="hasError('header', 'required')">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.HEADER_REQUIRED" | translate
            }}</mat-error>
          </mat-form-field>
          <mat-form-field
            class="mesf-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.DESCRIPTION" | translate
            }}</mat-label>
            <input matInput type="text" formControlName="description" />
            <mat-error *ngIf="hasError('description', 'required')">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.DESCRIPTION_REQUIRED"
                | translate
            }}</mat-error>
          </mat-form-field>

          <mat-form-field
            class="mesf-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_DESTINATION" | translate
            }}</mat-label>
            <input matInput type="url" formControlName="destination" id="url" />
            <mat-error *ngIf="hasError('destination', 'required')">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.DESTINATION_REQUIRED"
                | translate
            }}</mat-error>
            <mat-error *ngIf="hasError('destination', 'pattern')">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UNFORMATTED_URL" | translate
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="SiteConfigurations-footer-btns">
        <button
          type="button"
          class="mesf-EditBtn is-sm is-admin-cancel"
          (click)="toggleAnnouncementList()"
        >
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
        </button>
        <button type="submit" class="mesf-EditBtn is-sm">
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.SAVE" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<div class="SiteConfigurations-main SiteConfigurations-boxB" *ngIf="showAdList">
  <div class="SiteConfigurations-footer-btns">
    <button class="mesf-EditBtn is-sm" (click)="toggleAnnouncementList()">
      + {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_ANNOUNCEMENT" | translate }}
    </button>
  </div>
  <div class="mesf-scrollbar">
    <ngx-datatable
      #table
      class="mesf-DataTableAdmin dark is-viewRemoveRow is-admin"
      [rows]="announcementList"
      [columnMode]="'force'"
      [headerHeight]="'auto'"
      [footerHeight]="'auto'"
      [rowHeight]="'auto'"
      [limit]="50"
    >
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ITEM' | translate }}"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.TITLE' | translate }}"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ACTIVE' | translate }}"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <mat-checkbox
            color="primary"
            (change)="updateRow($event, 'status', row['_id'])"
            [checked]="row.status == 1"
            class="is-small"
          ></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="">
        <ng-template
          #buttonsTemplate
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <button
            mat-icon-button
            color="primary"
            (click)="rowAction('view', row)"
          >
            <mat-icon class="advertisement-tableBtn is-view"
              >visibility</mat-icon
            >
          </button>
          <button
            (click)="updateRow($event, 'delete', row['_id'])"
            mat-icon-button
            color="primary"
            class="AccessManagement-tableBtn"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
