@import "shared";

::-webkit-scrollbar {
   width: px2vw-xl(10px);
}

.Article-list div:nth-of-type(1) .ArticleItem .ArticleItem-image-block {
   border-radius: px2vw-xl(20px) 0px 0px px2vw-xl(20px);

   @include sm {
      border-radius: px2vw-xl(20px);
   }
}

.Article-list div:nth-of-type(3) .ArticleItem .ArticleItem-image-block {
   border-radius: 0px px2vw-xl(20px) px2vw-xl(20px) 0px;

   @include sm {
      border-radius: px2vw-sm(20px);
   }
}

.Article-list {
   margin-bottom: 0;
   display: grid;
   grid-template-columns: repeat(3, 404px);
   grid-gap: 0px;
   grid-template-rows: 1fr;

   @include lg {
   }

   @include md {
   }

   @include sm {
      grid-template-columns: repeat(3, 220px);
      grid-column-gap: px2vw-sm(16px);
      overflow-x: scroll;
   }

   ::-webkit-scrollbar {
      width: px2vw-xl(10px);
   }
}

.ArticleItem {
   &-image-block {
      height: px2vw-xl(240px);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      @include sm {
         width: px2vw-sm(220px);
         height: px2vw-sm(133px);
         border-radius: px2vw-sm(20px);
      }
   }

   &:hover {
      color: var(--main-color);
   }

   &-title:hover {
      color: var(--main-color);
   }

   &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      font-family: "Avenir Next";
      height: px2vw-xl(48px);
      /* or 133% */

      /*letter-spacing: -0.5px;
    padding-right: 10px;*/

      @include sm {
         font-size: 16px;
         height: px2vw-xl(36px);
         padding-right: 0px;
      }
   }

   &-created {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      font-family: "Avenir Next";
      line-height: 1;
      color: var(--home-infotext);

      @include sm {
         font-size: 16px;
         line-height: 1;
      }
   }
}
.br-bg {
   background: rgba(46, 42, 56, 0.5);
   border-radius: px2vw-xl(4px);
}
.latest-news {
   font-style: normal;
   font-size: 14px;
   line-height: 20px;
   font-family: var(--selected-font-family);
   letter-spacing: 0.5px;
   color: var(--spacesuit);
   &.big {
      .content {
         padding: px2vw-xl(24px);
         h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: px2vw-xl(16px);
            color: var(--white);
         }
      }
   }
   &.small {
      max-height: px2vw-xl(84px);
      overflow: hidden;
      .images {
         min-height: px2vw-xl(84px);
      }
      .content {
         padding: px2vw-xl(16px);
         h3 {
            font-style: normal;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: px2vw-xl(8px);
            color: var(--white);
         }
      }
   }
}
