<div class="LeaderboardConfigurations-main">
  <esports-loading *ngIf="isLoading"></esports-loading>

  <div class="LeaderboardConfigurations-boxB">
    <div class="LeaderboardConfigurations-footer-btns">
      <button
        *ngIf="levelState > 0"
        class="global-EditBtn is-sm"
        (click)="resetLevelBoard()"
      >
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
      </button>

      <button class="global-EditBtn is-sm" (click)="addNewLevelRow()">
        {{ buttonTextArray[levelState] | translate }}
      </button>
    </div>

    <div class="global-scrollbar">
      <ngx-datatable
        #table
        class="global-DataTable"
        [columnMode]="'flex'"
        [footerHeight]="'auto'"
        [headerHeight]="'auto'"
        [limit]="50"
        [rowHeight]="'auto'"
        [rows]="levelboard"
      >
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LEVELS' | translate
          }}"
          [flexGrow]="1.5"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <ng-container
              *ngIf="row.newValue; then first_content; else second_content"
            >
            </ng-container>

            <ng-template #first_content>
              <input
                class="LeaderboardConfigurations-boxB-item-input-code"
                (focusout)="updateValue($event, 'levelName', row, 'level')"
                type="text"
                [value]="row.levelName"
              />
              <span
                >/
                {{ "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LEVEL" | translate }}
              </span>
              <input
                class="LeaderboardConfigurations-boxB-item-input-code"
                (focusout)="updateValue($event, 'code', row, 'level')"
                [value]="row.code"
                type="number"
              />
            </ng-template>

            <ng-template #second_content>
              {{ row.levelName }} /
              {{ "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LEVEL" | translate }}
              {{ row.code }}
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.SINGLE_WIN_PLAYER'
              | translate | limitString: 12:''
          }}"
          [flexGrow]="1.3"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              class="LeaderboardConfigurations-boxB-item-input"
              (focusout)="updateValue($event, 'singleWinPoints', row, 'level')"
              [value]="row.singleWinPoints"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.SINGLE_WIN_COACH' | translate | limitString: 12:''
          }}"
          [flexGrow]="1.3"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              class="LeaderboardConfigurations-boxB-item-input"
              (focusout)="
                updateValue($event, 'singleWinCoachPercent', row, 'level')
              "
              [value]="row.singleWinCoachPercent"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK3PLAYER' | translate | limitString: 13:''
          }}"
          [flexGrow]="1.3"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              class="LeaderboardConfigurations-boxB-item-input"
              (focusout)="updateValue($event, 'rankThirdPoints', row, 'level')"
              [value]="row.rankThirdPoints"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK3COACH' | translate 
          }}"
          [flexGrow]="1.3"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              class="LeaderboardConfigurations-boxB-item-input"
              (focusout)="
                updateValue($event, 'rankThirdCoachPercent', row, 'level')
              "
              [value]="row.rankThirdCoachPercent"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK2PLAYER' | translate 
          }}"
          [flexGrow]="1.2"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              class="LeaderboardConfigurations-boxB-item-input"
              (focusout)="updateValue($event, 'rankSecondPoints', row, 'level')"
              [value]="row.rankSecondPoints"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK2COACH' | translate 
          }}"
          [flexGrow]="1.3"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              class="LeaderboardConfigurations-boxB-item-input"
              (focusout)="
                updateValue($event, 'rankSecondCoachPercent', row, 'level')
              "
              [value]="row.rankSecondCoachPercent"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK1PLAYER' | translate 
          }}"
          [flexGrow]="1.3"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              class="LeaderboardConfigurations-boxB-item-input"
              (focusout)="updateValue($event, 'rankFirstPoints', row, 'level')"
              [value]="row.rankFirstPoints"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK1COACH' | translate 
          }}"
          [flexGrow]="1.3"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              class="LeaderboardConfigurations-boxB-item-input"
              (focusout)="
                updateValue($event, 'rankFirstCoachPercent', row, 'level')
              "
              [value]="row.rankFirstCoachPercent"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="1" name="">
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <button
              *ngIf="!row.newValue"
              class="LeaderboardConfigurations-tableBtn"
              (click)="onRemove(row, 'level')"
              mat-icon-button
              matTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
              color="primary"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <div class="LeaderboardConfigurations-boxB">
    <div class="LeaderboardConfigurations-footer-btns">
      <button
        *ngIf="badgeState > 0"
        class="global-EditBtn is-sm"
        (click)="resetBadgeBoard()"
      >
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
      </button>

      <button class="global-EditBtn is-sm" (click)="addNewBadgeRow()">
        {{ buttonTextArray[badgeState] | translate }}
      </button>
    </div>
  </div>

  <div class="global-scrollbar">
    <ngx-datatable
      #table
      class="global-DataTable"
      [columnMode]="'flex'"
      [footerHeight]="'auto'"
      [headerHeight]="'auto'"
      [limit]="50"
      [rowHeight]="'auto'"
      [rows]="badgesboard"
    >
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.BADGES' | translate }}"
        [flexGrow]="2"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <input
            *ngIf="row.newValue; else other_content"
            class="LeaderboardConfigurations-boxB-item-input"
            (focusout)="updateValue($event, 'badgeName', row, 'badge')"
            [value]="row.badgeName"
            type="text"
          />
          <ng-template #other_content>{{ row.badgeName }}</ng-template>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{
          'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.MATCH_WIN' | translate
        }}"
        [flexGrow]="1"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <input
            class="LeaderboardConfigurations-boxB-item-input"
            (focusout)="updateValue($event, 'minMatchWins', row, 'badge')"
            [value]="row.minMatchWins"
            type="number"
          />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LEVEL' | translate }}"
        [flexGrow]="1"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <input
            class="LeaderboardConfigurations-boxB-item-input"
            (focusout)="updateValue($event, 'minLevel', row, 'badge')"
            [value]="row.minLevel"
            type="number"
          />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK' | translate }}"
        [flexGrow]="1"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <input
            class="LeaderboardConfigurations-boxB-item-input"
            (focusout)="updateValue($event, 'minRank', row, 'badge')"
            [value]="row.minRank"
            type="number"
          />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [flexGrow]="1" name="">
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <button
            *ngIf="!row.newValue"
            class="LeaderboardConfigurations-tableBtn"
            (click)="onRemove(row, 'badge')"
            mat-icon-button
            matTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
            color="primary"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
