html[dir="rtl"] {
  .chat_window_right_drawer {
    left: 0 !important;
    right: auto;
  }

  .bottom_wrapper .pindiv,
  .bottom_wrapper .senddiv {
    margin-left: 15%;

  @include lg {
    margin-left: 15%;
  }

  @include md {
    margin-left: 15%;
  }

  @include sm {
    margin-left: 20%;
  }
  }
}
