html[dir="rtl"] {
  .Footer-sectionA {
    &-stores {
      margin-right: auto;
      margin-left: 0;

      @include md {
        margin-right: 0;
      }
    }

    &-socials {
      margin-left: 0;
      margin-right: px2vw-xl(54px);

      @include lg {
        margin-right: px2vw-lg(28px);
      }

      @include md {
        margin-right: 0;
      }
    }

    &-social-link {
      &:not(:last-child) {
        margin-right: 0;
        margin-left: px2vw-xl(32px);

        @include lg {
          margin-left: px2vw-lg(16px);
        }

        @include md {
          margin-left: 0;
        }
      }
    }
  }

  .Footer-sectionB {
    &-navigation-link {
      &:not(:first-child) {
        padding-left: 0;
        padding-right: px2vw-xl(32px);

        @include lg {
          padding-right: px2vw-lg(32px);
        }

        @include md {
          padding-right: px2vw-md(23px);
        }

        @include sm {
          padding-right: 0;
        }

        &::before {
          left: auto;
          right: px2vw-xl(15px);

          @include lg {
            right: px2vw-lg(15px);
          }

          @include md {
            right: px2vw-md(10px);
          }

          @include sm {
            right: px2vw-sm(-14px);
          }
        }
      }
    }
  }
}
