html[dir="rtl"] {
  .GameLobby-left {
    margin-right: 0;
    margin-left: px2vw-xl(24px);

    @include lg {
      margin-left: px2vw-lg(24px);
    }

    @include md {
      margin-left: 0;
    }
  }

  .GameLobby-header {
    &-button {
      margin-right: px2vw-xl(15px);
      margin-left: 0;

      @include lg {
        margin-right: px2vw-xl(15px);
      }

      @include md {
        margin-right: px2vw-xl(15px);
      }

      @include sm {
        margin-right: px2vw-xl(15px);
      }
    }

    &-button-icon {
      margin-right: 0;
      margin-left: px2vw-xl(18px);

      @include lg {
        margin-left: px2vw-lg(18px);
      }

      @include md {
        margin-left: px2vw-md(18px);
      }

      @include sm {
        margin-left: px2vw-sm(18px);
      }
    }
  }

  .GameLobby-rules {
    &-header-button {
      margin-right: px2vw-xl(10px);
      margin-left: 0;

      @include lg {
        margin-right: px2vw-lg(10px);
      }

      @include md {
        margin-right: px2vw-md(10px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
      }
    }
  }

  .GameLobby-players {
    &-table {
      .player-image {
        margin-right: px2vw-xl(30px);
        margin-left: 0 !important;

        @include lg {
          margin-right: px2vw-lg(20px);
        }

        @include md {
          margin-right: px2vw-md(15px);
        }

        @include sm {
          margin-right: px2vw-sm(10px);
        }
      }

      .gamerId-icon {
        margin-right: px2vw-xl(20px);
        margin-left: 0 !important;

        @include lg {
          margin-right: px2vw-lg(20px);
        }

        @include md {
          margin-right: px2vw-md(20px);
        }

        @include sm {
          margin-right: px2vw-sm(20px);
        }
      }
    }
  }

  .GameLobby-chat {
    &-title {
      text-align: right;
    }

    &-message-time {
      margin-right: px2vw-xl(10px);
      margin-left: 0;

      @include lg {
        margin-right: px2vw-lg(10px);
      }

      @include md {
        margin-right: px2vw-md(10px);
      }

      @include sm {
        margin-right: px2vw-sm(10px);
      }
    }

    &-message-text {
      text-align: right;
    }

    &-type-input {
      padding: px2vw-xl(24px);
      padding-left: px2vw-xl(160px);

      @include lg {
        padding: px2vw-lg(24px);
        padding-left: px2vw-lg(160px);
      }

      @include md {
        padding: px2vw-md(24px);
        padding-left: px2vw-md(160px);
      }

      @include sm {
        padding: px2vw-sm(24px);
        padding-left: px2vw-sm(160px);
      }
    }

    &-type-manage {
      right: auto;
      left: 5%;
      flex-direction: row-reverse;
    }

    .GameLobby-sectionB {
      &-step-image-block {
        margin-right: 0;
        margin-left: px2vw-xl(30px);

        @include lg {
          margin-left: px2vw-lg(30px);
        }

        @include md {
          margin-left: px2vw-md(30px);
        }

        @include sm {
          margin-left: px2vw-sm(30px);
        }
      }
    }

    .GameLobby-heading {
      text-align: right;
    }
  }

  .GameLobby-sectionB {
    &-step-image-block {
      margin-right: 0;
      margin-left: px2vw-xl(30px);

      @include lg {
        margin-left: px2vw-lg(30px);
      }

      @include md {
        margin-left: px2vw-md(30px);
      }

      @include sm {
        margin-left: px2vw-sm(30px);
      }
    }

    &-buttons {
      padding-right: px2vw-xl(80px);
      padding-left: 0 !important;
      text-align: right;

      @include lg {
        padding-right: px2vw-lg(80px);
      }

      @include md {
        padding-right: 0;
      }
    }
  }

  .GameLobby-heading {
    text-align: right;
  }

  .GameLobby-modal {
    &-image-block {
      margin-right: 0;
      margin-left: px2vw-xl(35px);

      @include lg {
        margin-left: px2vw-lg(35px);
      }

      @include md {
        margin-left: 0;
      }
    }

    &-toggle-circle {
      margin-right: 0;
      margin-left: px2vw-xl(20px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
      }

      @include sm {
        margin-left: px2vw-sm(20px);
      }
    }

    &-button {
      margin-right: px2vw-xl(10px);
      margin-left: 0;

      @include lg {
        margin-right: px2vw-lg(10px);
      }
  
      @include md {
        margin-right: px2vw-md(10px);
      }
  
      @include sm {
        margin-right: px2vw-sm(10px);
      }

      &:first-child {
        margin-right: 0;
      }
    }
  }
}
