html[dir="rtl"] {
  .HeaderInfo {
    &-logo-link {
      margin-right: 0;
      border-right: 0;
      border-left: 1px solid var(--ui-dim-gray);
      margin-left: px2vw-xl(40px);
      padding-right: 0;
      padding-left: px2vw-xl(30px);

      @include lg {
        margin-left: px2vw-lg(40px);
        padding-left: px2vw-lg(30px);
      }

      @include md {
        margin-left: px2vw-md(40px);
        padding-left: px2vw-md(30px);
      }

      @include sm {
        margin-left: px2vw-sm(20px);
        padding-left: px2vw-sm(20px);
      }

      &.noTitle {
        border-left-color: transparent;
      }
    }

    &-title {
      margin-right: 0;
      margin-left: px2vw-xl(30px);

      @include lg {
        margin-left: px2vw-lg(30px);
      }

      @include md {
        margin-left: px2vw-md(30px);
      }

      @include sm {
        margin-left: px2vw-sm(30px);
      }
    }

    &-button {
      margin-left: 0;
      margin-right: auto;
    }

    &-button-text {
      margin-right: 0;
      margin-left: px2vw-xl(34px);

      @include lg {
        margin-left: px2vw-lg(25px);
      }

      @include md {
        margin-left: px2vw-md(20px);
      }

      @include sm {
        margin-left: px2vw-sm(10px);
      }
    }
  }
}
