html[dir="rtl"] {
  .Jumbotron {
    &-subtitle,
    &-info-dateTitle {
      text-align: center !important;
    }

    &-katty {
      left: auto;
      right: 5%;

      @include sm {
        right: 25%;
      }

      img {
        margin-right: 0 !important;
        margin-left: px2vw-xl(22px);

        @include lg {
          margin-left: px2vw-lg(22px);
        }

        @include md {
          margin-left: px2vw-md(22px);
        }

        @include sm {
          margin-left: px2vw-sm(22px);
        }
      }
    }
  }
}
