html[dir="rtl"] {
  .LogReg {
    &-main {
      margin-left: 0;
      margin-right: px2vw-xl(150px);

      @include lg {
        margin-right: px2vw-lg(20px);
      }

      @include md {
        margin-right: 0;
      }
    }
  }
}
