html[dir="rtl"] {
  .MatchSeason-left {
    margin-right: 0;
    margin-left: px2vw-xl(24px);

    @include lg {
      margin-left: px2vw-lg(24px);
    }

    @include md {
      margin-left: 0;
    }
  }

  .MatchSeason-table {
    .player-image {
      margin-right: px2vw-xl(60px);
      margin-left: 0 !important;

      @include lg {
        margin-right: px2vw-lg(40px);
      }

      @include md {
        margin-right: px2vw-md(30px);
      }

      @include sm {
        margin-right: px2vw-sm(20px);
      }
    }
  }

  .MatchSeason-sectionB {
    &-item-subtitle {
      margin-right: 0;
      margin-left: px2vw-xl(7px);

      @include lg {
        margin-left: px2vw-lg(7px);
      }

      @include md {
        margin-left: px2vw-md(7px);
      }

      @include sm {
        margin-left: px2vw-sm(7px);
      }
    }
  }

  .MatchSeason-sectionC {
    &-match-details {
      margin-right: 0;
      margin-left: px2vw-xl(12px);

      @include lg {
        margin-left: px2vw-lg(12px);
      }

      @include md {
        margin-left: px2vw-md(12px);
      }

      @include sm {
        margin-left: px2vw-sm(12px);
      }
    }
  }

  .MatchSeason-heading {
    text-align: right;
  }
  
  .mat-tab-label {
    margin-left: px2vw-xl(20px);
    @include lg {
      margin-left: px2vw-lg(20px);
    }
    @include md {
      margin-left: px2vw-md(20px);
    }
    @include sm {
      margin-left: px2vw-sm(20px);
    }
  }
}
