
html[dir="rtl"] {
.MyTransactions {

  ::ng-deep {

        datatable-body-row {
      &:hover {
        background-color: var(--base-white-smoke);
        opacity: 1;
      }
    }

    .datatable-body-cell,
  .datatable-header-cell{
        &:first-child {
      padding-right: px2vw-xl(6px) !important;
      padding-left: 0;

      @include lg {
        padding-right: px2vw-lg(6px) !important;
      }

      @include md {
        padding-right: px2vw-md(10px) !important;
      }

      @include sm {
        padding-right: px2vw-sm(10px) !important;
      }
    }
  }
  }
}
}