html[dir="rtl"] {
  .Participants-sectionA {

    &-team-info {
      margin-left: 0;
      margin-right: px2vw-xl(32px);
  
      @include lg {
        margin-right: px2vw-lg(32px);
      }
  
      @include md {
        margin-right: px2vw-md(32px);
      }
  
      @include sm {
        margin-right: px2vw-sm(32px);
      }
    }
  }
}