html[dir="rtl"] {
  .Inbox {
    &-checkbox {
      margin-right: 0;
      margin-left: px2vw-xl(26px);

      @include lg {
        margin-left: px2vw-lg(26px);
      }

      @include md {
        margin-left: px2vw-md(26px);
      }

      @include sm {
        margin-left: px2vw-sm(26px);
      }
    }

    &-item-data {
      margin-right: 0;
      margin-left: px2vw-xl(24px);
      direction: ltr;

      @include lg {
        margin-left: px2vw-lg(24px);
      }

      @include md {
        margin-left: px2vw-md(24px);
      }

      @include sm {
        margin-left: px2vw-sm(24px);
      }
    }
  }
}
