html[dir="rtl"] {
  .Search-sectionA {
    &-button {
      &:first-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: px2vw-xl(5px);
        border-bottom-right-radius: px2vw-xl(5px);

        @include lg {
          border-top-right-radius: px2vw-lg(5px);
          border-bottom-right-radius: px2vw-lg(5px);
        }

        @include md {
          border-top-right-radius: px2vw-md(5px);
          border-bottom-right-radius: px2vw-md(5px);
        }

        @include sm {
          border-top-right-radius: px2vw-sm(5px);
          border-bottom-right-radius: px2vw-sm(5px);
        }
      }

      &:last-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: px2vw-xl(5px);
        border-bottom-left-radius: px2vw-xl(5px);

        @include lg {
          border-top-left-radius: px2vw-lg(5px);
          border-bottom-left-radius: px2vw-lg(5px);
        }

        @include md {
          border-top-left-radius: px2vw-md(5px);
          border-bottom-left-radius: px2vw-md(5px);
        }

        @include sm {
          border-top-left-radius: px2vw-sm(5px);
          border-bottom-left-radius: px2vw-sm(5px);
        }
      }
    }
  }
}
