html[dir="rtl"] {

  .popup-box-close{
     position: absolute;
      left: 15px;
      right: 0;
      height: auto;
      background-color: transparent;

      @include md {
        // top: 5px;
        left: 0;
      }

      & .close-icon {
        // width: 45px;
      }
  }
.popup-modal-body{
  text-align: right;  
}

.popup-modal-footer{
text-align: right;
}

}

