html[dir="rtl"] {
    .terms-of-use {
        & ul, h1, h2, .description, .shortDescription {
            list-style-type: decimal-leading-zero;
            margin: auto;
            padding-right: px2vw-lg(30px);
        
            & li {
              margin-bottom: px2vw-lg(10px);
              font-family: "stc-forward-regular", sans-serif;
              font-size: px2vw-xl(18px);
              line-height: px2vw-xl(32px);
              font-weight: normal;
        
              @include lg {
                font-size: px2vw-lg(18px);
                line-height: px2vw-lg(32px);
              }
        
              @include md {
                font-size: px2vw-md(18px);
                line-height: px2vw-md(32px);
              }
        
              @include sm {
                font-size: px2vw-sm(18px);
                line-height: px2vw-sm(32px);
              }
            }
        }
    }
}