html[dir="rtl"] {
  .Tournaments-card {
    text-align: right;

     &-info {

          &-date{
        margin-left: px2vw-xl(7px);
  
        @include lg {
        margin-left: px2vw-lg(7px);
      }
  
      @include md {
        margin-left: px2vw-md(7px);
      }
  
      @include sm {
       margin-left: px2vw-sm(7px);
      }
      }
      &-team{
        margin-right: px2vw-xl(7px);
  
        @include lg {
        margin-right: px2vw-lg(7px);
      } 
      @include md {
        margin-right: px2vw-md(7px);
      }
      @include sm {
       margin-right: px2vw-sm(7px);
      }
      }

  }
  }


}
