html[dir="rtl"] {
  .Tournament-slider {
    &-block {
      text-align: right;
    }
  }

  .carousel-indicators {
    right: px2vw-xl(108px);
    left: auto;

    @include lg {
      right: px2vw-lg(60px);
    }
  
    @include md {
      right: px2vw-md(28px);
    }
  
    @include sm {
      right: px2vw-sm(28px);
    }
  }
}
