html[dir="rtl"] {
  .ViewTournament-sectionA {
    &-image-block {
      margin-right: 0;
      margin-left: px2vw-xl(40px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin-left: 0;
      }
    }

    &-detail {
      &:not(:first-child) {
        margin-right: auto;

        @include md {
          margin-right: 0;
        }
      }
    }

    &-paid {
      margin-left: 0;
      margin-right: auto;
      padding-left: 0;
      padding-right: px2vw-xl(20px);

      @include lg {
        padding-right: px2vw-lg(20px);
      }

      @include md {
        padding-right: 0;
      }
    }
  }

  .ViewTournament-sectionB {
    &-link-block {
      margin-right: 0;
      margin-left: px2vw-xl(48px);

      @include lg {
        margin-left: px2vw-lg(48px);
      }

      @include md {
        margin-left: px2vw-md(48px);
      }

      @include sm {
        margin-left: px2vw-sm(48px);
      }
    }
  }

  .playNow {
    position: relative;
    &-button {
      position: absolute;
      left: 0;
      right: auto;
      bottom: 0;
    }
  }
  
}
