<!--
<div class="shop-card-main">
  <div class="shop-card-image">
    <div class="discount_bar">
      <img src="{{ shop.iconUrl }}" alt="" class="img-fluid" />
      <P *ngIf="shop?.isDiscounted" class="shop-card-host">{{
        "SEARCH_SHOP_CARD.HOT_DEALS" | translate
      }}</P>
    </div>
  </div>
  <div class="shop-card-body">
    <h6 class="shop-card-header">{{ shop?.categoryName }}</h6>
    <p class="shop-card-author-image">{{ shop?.products[0]?.publisher }}</p>
    <p class="price">
      {{ "SEARCH_SHOP_CARD.FROM" | translate }}
      <img src="assets/images/Home/icon-gc.svg" /><span>{{ shop?.least }}</span>
    </p>
  </div>
</div> -->
<div class="shop-card-item" [routerLink]="router">
  <!-- <div class="shop-card-item"> -->
  <div class="shop-card-item-image">
    <img src="{{shop.iconUrl}}" alt="" class="img-fluid" />
  </div>
  <div class="shop-card-item-content">
    <h2 class="shop-card-item-content-title">{{shop?.categoryName}}</h2>
    <label class="shop-card-item-content-finger">{{shop?.products[0]?.publisher}}</label>
    <label class="shop-card-item-content-price">from <span>{{shop?.least}}</span></label>
    <!-- <button class="shop-card-item-content-btn" [routerLink]="router">Top-up</button> -->
    <button class="shop-card-item-content-btn">Top-up</button>
  </div>
</div>
