@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";
.App {
  position: relative;
  display: block;
  height: 100%;

  &-main {
    display: flex;
    min-height: 100%;
    padding: px2vw-xl(124px) px2vw-xl(90px) 0;
    background-color: var(--base-white);

    @include lg {
      padding: px2vw-lg(124px) px2vw-lg(40px) 0;
    }

    @include md {
      padding: px2vw-md(124px) px2vw-md(20px) 0;
    }

    @include sm {
      padding: px2vw-sm(104px) px2vw-sm(20px) 0;
    }

    app-aside {
      @include lg {
        display: none;
      }
    }
  }

  &-chat {
    padding: px2vw-xl(45px) px2vw-xl(15px);

    @include lg {
      padding: px2vw-lg(45px) px2vw-lg(15px);
    }

    @include md {
      padding: px2vw-md(45px) px2vw-md(15px);
    }

    @include sm {
      padding: px2vw-sm(45px) px2vw-sm(15px);
    }

    &-search {
      @extend %u-dfCenterStart;
      margin-bottom: px2vw-xl(40px);
      border-radius: px2vw-xl(5px);
      padding: px2vw-xl(9px);
      background-color: rgba(55, 55, 55, 0.5);

      @include lg {
        margin-bottom: px2vw-lg(40px);
        border-radius: px2vw-lg(5px);
        padding: px2vw-lg(9px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
        border-radius: px2vw-md(5px);
        padding: px2vw-md(9px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
        border-radius: px2vw-sm(5px);
        padding: px2vw-sm(9px);
      }

      input {
        margin-left: px2vw-xl(10px);
        border: none;
        background: none;
        font-size: px2vw-xl(15px);
        color: var(--base-white);

        @include lg {
          margin-left: px2vw-lg(10px);
          font-size: px2vw-lg(15px);
        }

        @include md {
          margin-left: px2vw-md(10px);
          font-size: px2vw-md(15px);
        }

        @include sm {
          margin-left: px2vw-sm(10px);
          font-size: px2vw-sm(15px);
        }
      }
    }

    &-item {
      @extend %u-dfStartBtw;
      margin-bottom: px2vw-xl(40px);
      border-radius: px2vw-xl(5px);
      padding: px2vw-xl(10px) px2vw-xl(15px);
      transition: all 100ms linear;
      cursor: pointer;

      @include lg {
        margin-bottom: px2vw-lg(40px);
        border-radius: px2vw-lg(5px);
        padding: px2vw-lg(10px) px2vw-lg(15px);
      }

      @include md {
        margin-bottom: px2vw-md(40px);
        border-radius: px2vw-md(5px);
        padding: px2vw-md(10px) px2vw-md(15px);
      }

      @include sm {
        margin-bottom: px2vw-sm(40px);
        border-radius: px2vw-sm(5px);
        padding: px2vw-sm(10px) px2vw-sm(15px);
      }

      &:hover {
        background-color: var(--base-white);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-ava {
        img {
          margin-right: px2vw-xl(40px);
          overflow: hidden;
          min-width: px2vw-xl(72px);
          width: px2vw-xl(72px);
          height: px2vw-xl(72px);
          border-radius: 50%;
          object-fit: cover;

          @include lg {
            margin-right: px2vw-lg(40px);
            min-width: px2vw-lg(72px);
            width: px2vw-lg(72px);
            height: px2vw-lg(72px);
          }

          @include md {
            margin-right: px2vw-md(40px);
            min-width: px2vw-md(72px);
            width: px2vw-md(72px);
            height: px2vw-md(72px);
          }

          @include sm {
            margin-right: px2vw-sm(40px);
            min-width: px2vw-sm(72px);
            width: px2vw-sm(72px);
            height: px2vw-sm(72px);
          }
        }
      }

      &-info {
        width: 100%;

        &-title {
          margin-bottom: px2vw-xl(5px);
          font-size: px2vw-xl(22px);
          font-family: "stc-forward-semibold", sans-serif;

          @include lg {
            margin-bottom: px2vw-lg(5px);
            font-size: px2vw-lg(22px);
          }

          @include md {
            margin-bottom: px2vw-md(5px);
            font-size: px2vw-md(22px);
          }

          @include sm {
            margin-bottom: px2vw-sm(5px);
            font-size: px2vw-sm(22px);
          }
        }

        &-text {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: px2vw-xl(20px);
          margin-bottom: px2vw-xl(5px);
          max-width: px2vw-xl(100px);
          font-size: px2vw-xl(17px);
          font-family: "stc-forward-regular", sans-serif;

          @include lg {
            margin-bottom: px2vw-lg(5px);
            margin-right: px2vw-lg(15px);
            max-width: px2vw-lg(120px);
            font-size: px2vw-lg(17px);
          }

          @include md {
            margin-bottom: px2vw-md(5px);
            margin-right: px2vw-md(20px);
            max-width: px2vw-md(120px);
            font-size: px2vw-md(17px);
          }

          @include sm {
            margin-right: px2vw-sm(10px);
            margin-bottom: px2vw-sm(5px);
            max-width: px2vw-sm(120px);
            font-size: px2vw-sm(17px);
          }
        }

        &-date {
          font-size: 14px;
          font-family: "stc-forward-light", sans-serif;

          @include lg {
            font-size: px2vw-lg(14px);
          }

          @include md {
            font-size: px2vw-md(14px);
          }

          @include sm {
            font-size: px2vw-sm(14px);
          }
        }
      }

      &-notification {
        border-radius: 50%;
        background: var(--primary-cinnabar);
        min-width: px2vw-xl(18px);
        width: px2vw-xl(18px);
        height: px2vw-xl(18px);
        margin: px2vw-xl(30px) 0 px2vw-xl(20px);

        @include lg {
          margin: px2vw-lg(30px) 0 px2vw-lg(20px);
          min-width: px2vw-lg(18px);
          width: px2vw-lg(18px);
          height: px2vw-lg(18px);
        }

        @include md {
          min-width: px2vw-md(18px);
          margin: px2vw-md(30px) 0 px2vw-md(20px);
          width: px2vw-md(18px);
          height: px2vw-md(18px);
        }

        @include sm {
          min-width: px2vw-sm(18px);
          margin: px2vw-sm(30px) 0 px2vw-sm(20px);
          width: px2vw-sm(18px);
          height: px2vw-sm(18px);
        }
      }
    }
  }
}

.Reward {
  @extend %u-dfCenter;
  position: fixed;
  z-index: 999;
  bottom: 15px;
  left: 0;
  border: 2px solid var(--persian-indigo);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 0;
  padding: px2vw-xl(10px) px2vw-xl(22px);
  background-color: var(--base-white);
  cursor: pointer;

  @include lg {
    padding: px2vw-lg(10px) px2vw-lg(22px);
  }

  @include md {
    padding: px2vw-md(10px) px2vw-md(22px);
  }

  @include sm {
    padding: px2vw-s(10px) px2vw-s(22px);
  }

  &-icon {
    margin-right: px2vw-xl(16px);
    height: px2vw-xl(36px);
    width: px2vw-xl(37px);

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(36px);
      width: px2vw-lg(37px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(36px);
      width: px2vw-md(37px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(36px);
      width: px2vw-sm(37px);
    }
  }

  &-content {
    color: var(--persian-indigo);
  }

  &-title {
    margin-bottom: px2vw-xl(5px);
    font-family: "stc-forward-bold";
    font-size: px2vw-xl(18px);

    @include lg {
      margin-bottom: px2vw-lg(5px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(5px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(5px);
      font-size: px2vw-sm(22px);
    }
  }

  &-text {
    margin-bottom: 0;
    font-size: px2vw-xl(12px);

    @include lg {
      font-size: px2vw-lg(12px);
    }

    @include md {
      font-size: px2vw-md(14px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }
  }
}
.sticky-footer{
  padding-top: 6px;
}

.popupBody{
  background-color: var(--base-white-smoke);
  border: 1px solid var(--ui-light-grey);
  padding: px2vw-xl(10px);
  border-radius: 4px;
  @extend %u-dfCenterBtw;
  @include lg{
    padding: px2vw-lg(15px);
  }
  &-url{
    word-break: break-all;
    padding-right: px2vw-xl(5px);
    @include lg{
      padding-right: px2vw-lg(5px);
    }
    @include sm{
      font-size: 12px !important;
    }
  }
  fa-icon {
    margin-right: 5px;
  }
}
  .copy{
  color: var(--base-white-smoke);
  display: inline;
  }

  .done{
  color: var(--base-submarine);
  display: inline;
  @include sm{
    font-size: 10px !important;
  }
  }



.ref{

  &-title{
    font-weight: bolder;
  }

  &-footer{
        display: block !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start !important;
  }
}


.btnRef{
  margin-right:0 !important;
  margin-left: auto !important;
}

.btn-copy{
  display: inline;
  margin: 0 ;
  color: var(--base-white);
  font-family: "stc-forward-regular";
  font-size: 14px;
  @include sm{
    font-size: 8px !important;
  }
}

.btn-copy1{
  display: inline;
  margin: 0 ;
  color: var(--base-submarine);
  font-size: 14px;

  @include sm{
    font-size: 8px !important;
  }
}
.disableBtn {
  background-color: var(--base-gainsboro);
  color: var(--base-black-pearl);
  box-sizing: border-box;
  opacity: 1;
  min-width: px2vw-xl(230px);

  @include lg{
    min-width: px2vw-lg(230px);
  }
  @include md{
    min-width: px2vw-md(200px);
  }
  @include sm{
    min-width: px2vw-sm(230px);
  }
}
.divider-ref{
  border-bottom: none !important;
  border-top:none !important ;
}


@keyframes wave {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 30px;
    opacity: 0.2;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.sectionB {
  &-button-block {
    padding-bottom: px2vw-xl(22px);
    border-bottom: 1px solid var(--base-gainsboro);

    @include lg {
      padding-bottom: px2vw-lg(22px);
    }

    @include md {
      padding-bottom: px2vw-md(22px);
    }

    @include sm {
      padding-bottom: px2vw-sm(22px);
    }
  }

  &-button {
    width: 100%;
    transition: 100ms linear;
  }
}

.Logout-modal {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--base-gainsboro);
    padding: px2vw-xl(24px) px2vw-xl(24px) px2vw-xl(16px);

    @include lg {
      padding: px2vw-lg(24px) px2vw-lg(24px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(24px) px2vw-md(24px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(24px) px2vw-sm(24px) px2vw-sm(16px);
    }
  }

  &-title {
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(32px);
    }
  }

  &-close {
    align-self: flex-start;
    background-color: transparent;
  }

  &-message {
    padding: px2vw-xl(16px) px2vw-xl(24px);
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(24px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(24px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(24px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: px2vw-xl(24px);

    @include lg {
      padding: px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(24px);
    }
  }

  &-button {
    margin-left: px2vw-xl(16px);

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }
  }
}

.App-sidenav-index {
  z-index: 999;
}
