<mat-sidenav-container [dir]="direction" class="App-sidenav">
  <mat-sidenav
    #menuSidenav
    position="start"
    *ngIf="isBrowser"
    class="App-sidenav-index"
  >
    <app-aside class="App-aside"
      data-test-id="mobile-aside"
      (click)="onMenuOpenDash()"
    ></app-aside>
  </mat-sidenav>
  <mat-sidenav-content #appMainConatiner>
    <ng-container
      *ngIf="
        (isBrowser && isRootPage) ||
          (isAdminPage && router.url.startsWith('/admin'));
        else isPageWithHeaderFooter
      "
    >
      <router-outlet></router-outlet>
    </ng-container>

    <ng-template #isPageWithHeaderFooter>
      <div class="App">
        <lib-esportschatsidebar
          isShowBlockUser="true"
          *ngIf="isBrowser"
        ></lib-esportschatsidebar>
        <app-header
          *ngIf="
            !router.url.match('register|login|web-view|/admin/|comingsoon')
          "
          (menuClick)="onMenuClick()"
        ></app-header>
        <app-sticky-footer class="sticky-footer" *ngIf="!currentUser && router.url.match('home')"></app-sticky-footer>
        <div [ngClass]="{ 'App-main': !router.url.match('web-view') }">
          <app-aside class="App-aside"
            *ngIf="
              isBrowser &&
              !router.url.match('register|login|web-view|/admin/|comingsoon')
            "
            data-test-id="desktop-aside"
            (viewed)="mainMenuViewed()"
          ></app-aside>
          <div class="u-right-container">
            <router-outlet></router-outlet>
          </div>
        </div>
        <app-footer
          *ngIf="
            isBrowser && !router.url.match('register|login|web-view|comingsoon')
          "
        ></app-footer>
      </div>
    </ng-template>

    <app-scroll-top></app-scroll-top>
  </mat-sidenav-content>

</mat-sidenav-container>


<ng-template #mymodal let-modal>
  <div class="modal-header divider-ref">
    <h3 class="modal-title ref-title global-Title3" id="modal-basic-title">
      {{ "PROFILE.BASIC_INFO.REFERRAL_MESSAGE" | translate }}
    </h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" id="modal-basic-title">
    {{ "PROFILE.BASIC_INFO.REFERRAL_INSTRUCTION" | translate }}
  </div>
  <div class="modal-footer ref-footer divider-ref">
    <div class="popupBody">
      <span class="popupBody-url">{{
        URL | limitString: 30:".....":innerWidth
      }}</span>
      <button
        id="myDIV"
        type="button"
        [disabled]="clicked"
        (click)="copyToClipboard($event); clicked = true"
        class="btn global-EditBtn rtlmargin"
      >
        <span
          class="material-icons copy"
          *ngIf="!clicked"
          matTooltip=" {{
            'PROFILE.BASIC_INFO.REFERRAL_CODE_MESSAGE' | translate
          }}"
        >
          content_copy
        </span>
        <span class="btn-copy" *ngIf="!clicked">{{
          "PROFILE.BASIC_INFO.REFERRAL_OK" | translate | uppercase
        }}</span>
        <span class="material-icons done" *ngIf="clicked"> done </span>
        <span class="btn-copy1" *ngIf="clicked">{{
          "PROFILE.BASIC_INFO.REFERRAL_COPIED" | translate | uppercase
        }}</span>
      </button>
    </div>
  </div>
</ng-template>
