<div class="shop-card-main">
  <div class="shop-card-image" [lazyLoad]="shop?.iconUrl">
    <P class="shop-card-topup">{{shop?.category}}</P>
  </div>
  <div class="text-center txt_content">
    <h6 class="shop-card-header">{{shop?.name}}</h6>
    <p class="shop-card-author-image">{{shop?.name|slice:0:10}}</p>
  </div>
  <div class="shop-card-footer d-flex">
    <div>
      <div class="shop-card-from-text">
        {{ "HOME.SHOP.Shop_Card" | translate }}
      </div>
      <div class="Play-ongoing-card-author-name"> <img src="assets/images/Home/icon-gc.svg"> {{shop?.least}}</div>
    </div>
    <div class="shop-card-game">{{shop?.category}}</div>
  </div>
</div>
