<div>
  <button
    mat-fab
    shareButton="facebook"
    #fbBtn="shareButton"
    [style.backgroundColor]="fbBtn?.color"
  >
    <fa-icon [icon]="fbBtn?.icon" size="lg"></fa-icon>
  </button>

  <button
    class="m-3"
    mat-fab
    shareButton="twitter"
    #twtBtn="shareButton"
    [style.backgroundColor]="twtBtn?.color"
  >
    <fa-icon [icon]="twtBtn?.icon" size="lg"></fa-icon>
  </button>
  <div>
    <button (click)="onClose()" mat-raised-button color="primary">Close</button>
  </div>
</div>
