@import "shared";

:host {
  bottom: px2vw-xl(25px);
  right: px2vw-xl(25px);
  display: block;
  opacity: 0;
  position: fixed;
  z-index: 100;

  @include lg {
    bottom: px2vw-lg(25px);
    right: px2vw-lg(25px);
  }

  @include md {
    bottom: px2vw-md(25px);
    right: px2vw-md(25px);
  }

  @include sm {
    bottom: px2vw-sm(25px);
    right: px2vw-sm(25px);
  }
}

.ScrollTop-btn {
  background: var(--base-yellow);
  width: px2vw-xl(62px);
  height: px2vw-xl(62px);
  line-height: px2vw-xl(80px);
  text-align: center;
  border-radius: 50%;

  @include lg {
    width: px2vw-lg(62px);
    height: px2vw-lg(62px);
    line-height: px2vw-lg(80px);
  }

  @include md {
    width: px2vw-md(62px);
    height: px2vw-md(62px);
    line-height: px2vw-md(80px);
  }

  @include sm {
    width: px2vw-sm(62px);
    height: px2vw-sm(62px);
    line-height: px2vw-sm(80px);
  }

  span {
    border: px2vw-xl(3px) solid var(--base-black);
    width: px2vw-xl(20px);
    height: px2vw-xl(20px);
    display: inline-block;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);

    @include lg {
      border-width: px2vw-lg(3px);
      width: px2vw-lg(20px);
      height: px2vw-lg(20px);
    }

    @include md {
      border-width: px2vw-md(3px);
      width: px2vw-md(20px);
      height: px2vw-md(20px);
    }

    @include sm {
      border-width: px2vw-sm(3px);
      width: px2vw-sm(20px);
      height: px2vw-sm(20px);
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
