<section class="ArticleListing">
  <div class="ArticleListing-header">
    <h3>{{ "ARTICLE.ALL_POST" | translate }}</h3>

    <!-- <div class="ArticleListing-search">
      <button
        class="ArticleListing-search-btn"
        data-toggle="collapse"
        data-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        <img src="./assets/icons/search.svg" alt="" />
      </button>
    </div> -->
  </div>
  <main class="ArticleListing-container">
    <section class="ArticleListing-hero-left">
      <ng-container *ngIf="isContentApply">
        <ng-container *ngIf="hottestArticle">
          <div class="hero-container" [routerLink]="[AppHtmlRoutes.article, hottestArticle?.slug]">
            <img class="hero-image" [src]="hottestArticle?.image" alt="" />
            <h3 class="hero-title">
              {{ hottestArticle?.title | customTranslate }}
            </h3>
            <div class="hero-info">
              <!-- <img
              class="hero-info-avatar"
              alt="avatar"
              src="../../../../assets/images/news/avatar.png"
            /> -->
              <span class="hero-info-user">{{ hottestArticle?.authorDetails?.username }} •
                {{ hottestArticle?.createdDate | date: "d MMMM, y" }}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>


      <ng-container *ngIf="isVideoApply">
        <ng-container *ngIf="videoLibrary[0]">
          <div class="hero-container" [routerLink]="[AppHtmlRoutes.videosView,videoLibrary[0]?.slug]">
            <iframe class="hero-image" [src]="activeVideo?.youtubeUrl | safe: 'url'" allowfullscreen="true"
              webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            <h3 class="hero-title">
              {{ videoLibrary[0].title.english }}
            </h3>
            <div class="hero-info">
              <!-- <img
                class="hero-info-avatar"
                alt="avatar"
                src="../../../../assets/images/news/avatar.png"
              /> -->
              <span class="hero-info-user">{{ videoLibrary[0].createdBy.fullName }} </span>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <div class="post-container">
        <div class="post-header">
          <!-- Todo -->
          <h2 class="post-header-title">
            {{ "ARTICLE.LATEST_POST" | translate }}
          </h2>
        </div>
        <div class="post-filter">
          <div class="post-filter-Group">
            <div class="post-filter-label">
              <span class="text">{{
                "SEASON.HOME.FILTERED_BY" | translate
                }}</span>
            </div>
            <div class="post-filter-lists">
              <div *ngFor="let item of typeList">
                <div class="item">
                  <span class="text">
                    {{ item.title }}
                  </span>
                  <span class="icon-remove"></span>
                </div>
              </div>
            </div>
            <div class="post-filter-btn">
              <a class="btn btn-clear">{{
                "BUTTON.CLEAR_FILTERS" | translate
                }}</a>
            </div>
          </div>
          <div class="post-filter-Button">
            <button class="btn button-default">
              {{ "BUTTON.SHOW_FITLER" | translate }}
            </button>
          </div>
          <div class="post-filter-show">
            <button class="btn button-default">
              {{ "BUTTON.SHOW_FITLER_ACTIVE" | translate }}
            </button>
          </div>
        </div>
        <div class="post-main-heading">
          <p class="ShowingEntries">
            28
            {{ "ARTICLE.POST_FOUND" | translate }}
          </p>
          <div class="SortBy">
            <div ngbDropdown class="Select-teamDropdown">
              <button class="btn Select-teamBtn" id="dropdownBasic1" ngbDropdownToggle>
                {{ selectTypeList.title || "ADMIN.SHORT" | translate }}
              </button>
              <div class="Select-teamDropdownItem" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <ng-container *ngFor="let item of typeList">
                  <button ngbDropdownItem (click)="onSelect(item)">
                    {{ item?.title }}
                  </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="post-main-header">
          <h2 class="post-main-header-title">
            {{ "ARTICLE.LATEST_POST" | translate }}
          </h2>
        </div>
        <ng-container *ngIf="isContentApply">
          <ng-container *ngIf="articles.length">
            <div class="post-main-container">
              <div class="post-cart" *ngFor="let item of articles" [routerLink]="[AppHtmlRoutes.article, item?.slug]">
                <img class="post-cart-image" src="{{ item?.image }}" />
                <h5 class="post-cart-title">
                  {{
                  item?.title | customTranslate: (language?.language | async)
                  }}
                </h5>
                <span class="post-cart-infor">
                  {{ item?.author?.username }} •
                  {{ item?.createdDate | date: "MMMM d, y" }}
                </span>
              </div>
            </div>
          </ng-container>
        </ng-container>


        <ng-container *ngIf="isVideoApply">
          <ng-container *ngIf="videoLibrary?.length">
            <div class="post-main-container">
              <div class="post-cart" *ngFor="let video of videoLibrary"
                [routerLink]="[AppHtmlRoutes.videosView, video?.slug]">
                <img class="post-cart-image" [lazyLoad]="video?.thumbnailUrl" />
                <h5 class="post-cart-title">
                  {{ video.title.english }}
                </h5>
                <span class="post-cart-infor">
                  {{ video.createdBy.fullName }}

                </span>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="isContentApply">
          <esports-pagination *ngIf="articles?.length" [activePage]="participantPage?.activePage"
            [page]="participantPage" (currentPage)="currentPage($event)"></esports-pagination>
        </ng-container>

        <ng-container *ngIf="isVideoApply">
          <esports-pagination *ngIf="videoLibrary?.length" [activePage]="participantVideoPage?.activePage"
            [page]="participantVideoPage" (currentPage)="pageChanged($event)"></esports-pagination>
        </ng-container>
      </div>
    </section>
    <section class="ArticleListing-hero-right">
      <!-- <div class="ArticleListing-right-heading">
        <h4 class="ArticleListing-right-heading-title">
          {{ "ARTICLE.CATEGORIES" | translate }}
        </h4>
        <ul class="ArticleListing-right-heading-list">
          <li class="item-categories" *ngFor="let item of categories">
            <a class="link-to-item">{{ item?.name }}</a>
          </li>
        </ul>
      </div> -->
      <ng-container>
      <div class="ArticleListing-right-heading">
        <h4 class="ArticleListing-right-heading-title">
          {{ "ARTICLE.CATEGORIES" | translate }}
        </h4>
        <ul class="ArticleListing-right-heading-list">
          <li class="item-categories" *ngFor="let data of categoryList; let i = index">
            <a class="link-to-item"
              (click)="selectedCategory = data?._id;" 
              [class.is_active]="data?._id == selectedCategory">{{ data?.name }}</a>
          </li>
        </ul>
      </div>

      <div class="ArticleListing-right-group">
        <label class="ArticleListing-right-group-title">{{
          "ARTICLE.GAMES" | translate
          }}</label>
        <div class="ArticleListing-right-group-container">
          <div class="ArticleListing-right-group-item" *ngFor="let data of gameList; let i = index">
            <mat-checkbox class="item-check-box" value='{{ data?._id }}' (change)="getRecentPost($event)"
              name='{{ i }}'>
              {{ data?.name }}
            </mat-checkbox>
          </div>
        </div>
      </div></ng-container>

      <!-- <div class="ArticleListing-right-group">
        <label class="ArticleListing-right-group-title">{{
          "ARTICLE.GAMES" | translate
        }}</label>
        <div class="ArticleListing-right-group-container">
          <div
            class="ArticleListing-right-group-item"
            *ngFor="let item of checkList"
          >
            <mat-checkbox class="item-check-box">{{ item.title }}</mat-checkbox>
          </div>
        </div>
        <button class="ArticleListing-right-group-btn">Apply</button>
      </div> -->
      <div class="ArticleListing-right-group-type content-type">
        <label class="ArticleListing-right-group-type-title">{{
          "ARTICLE.CONTENT_TYPE" | translate
          }}</label>
        <div class="ArticleListing-right-group-type-container">
          <div class="ArticleListing-right-group-type-item">
            <mat-checkbox [checked]="isContent" class="item-check-box" 
            (click)="videoContent('content');getRecentPost($event)"> 
            {{ "PROFILE.CONTENT.ARTICLE" | translate }}</mat-checkbox>
          </div>
          <div class="ArticleListing-right-group-type-item">
            <mat-checkbox [checked]="!isContent" class="item-check-box"
              (click)="videoContent('video');"> 
              {{ "PROFILE.CONTENT.VIDEO" | translate }}
            </mat-checkbox>
          </div>
        </div>
        <button (click)="apply()" class="ArticleListing-right-group-btn type">
          {{ "PROFILE.CONTENT.APPLY" | translate  }}
        </button>
      </div>
      <div class="ArticleListing-right-group-type">
        <label class="ArticleListing-right-group-type-title">{{
          "ARTICLE.TRENDING_ARTICLES" | translate
          }}</label>
        <div class="ArticleListing-right-group-type-trending" *ngIf="trendingArticles.length">
          <div class="ArticleListing-right-group-type-trending-item"
            *ngFor="let article of trendingArticles.slice(0, 4)" [routerLink]="[AppHtmlRoutes.article, article?.slug]">
            <img class="trending-item-image" [src]="article?.image" />
            <div class="trending-item-infor">
              <label class="trending-item-title">
                {{
                article?.title | customTranslate: (language?.language | async)
                }}
              </label>
              <p class="trending-item-infor-user">
                {{ article?.author?.username }} •
                {{ article?.createdDate | date: "MMMM d, y" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- <div class="collapse ArticleListing-search-box" id="collapseExample">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
    anderson cred nesciunt sapiente ea proident.
  </div> -->

  <!-- <div class="ArticleListing-list">
    <app-article-item
      *ngFor="let item of articles"
      [data]="item"
    ></app-article-item>
  </div> -->
  <!-- <app-pagination [page]="page" (currentPage)="pageChanged($event)">
  </app-pagination> -->
</section>
<app-footer-spark></app-footer-spark>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
