<footer class="footer_main">
  <div class="u-wp footer-nav-container">
    <div class="row footer_reverse">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 site_map">
            <h5 class="footer_nav_header">{{ "FOOTER_LINKS.SITE_MAP" | translate }}</h5>
            <ul class="footer_ul">
              <li class="footer_li">
                <a [routerLink]="[AppHtmlRoutes.home]">{{ "FOOTER_LINKS.SHOP" | translate }}</a>
              </li>
              <li class="footer_li">
                <a [routerLink]="[AppHtmlRoutes.article]">{{ "FOOTER_LINKS.UPDATE" | translate }}</a>
              </li>
              <!-- <li class="footer_li"><a  [routerLink]="[AppHtmlRoutes.tournaments]">{{ "FOOTER_LINKS.TOURNAMENTS" | translate }}</a></li>
              <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.underconstruction]">{{ "FOOTER_LINKS.MATCHMAKING" | translate }}</a></li>
              <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.underconstruction]">{{ "FOOTER_LINKS.LEADERBOARD" | translate }}</a></li>
              <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.underconstruction]">{{ "FOOTER_LINKS.NEWS" | translate }}</a></li> -->
            </ul>
          </div>
          <div class="col-md-3">
            <h5 class="footer_nav_header">{{ "FOOTER_LINKS.QUICK_LINKS" | translate }}</h5>
            <ul class="footer_ul">
              <li class="footer_li"><a class="no-link" (click)="openRelod()">{{ "FOOTER_LINKS.RELOAD_WALLET" | translate
                  }}</a></li>
              <!-- <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.underconstruction]">Create tournament</a></li> -->
              <li class="footer_li"><a class="no-link" (click)="openSettingsLightbox()">{{
                  "FOOTER_LINKS.ACCOUNT_SETTINGS" | translate
                  }}</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h5 class="footer_nav_header">{{ "FOOTER_LINKS.HELP" | translate }}</h5>
            <ul class="footer_ul">
              <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.faq]">{{ "FOOTER_LINKS.FAQ" | translate }}</a></li>
              <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.contactUs]">{{ "FOOTER_LINKS.CONTACT_US" | translate
                  }}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <h5 class="footer_nav_header">{{ "FOOTER_LINKS.TERM_POLICY" | translate }}</h5>
            <ul class="footer_ul">
              <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.termsConditions]">{{ "FOOTER_LINKS.TERM_CONDITION" |
                  translate
                  }}</a></li>
              <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.privacyPolicy]">{{ "FOOTER_LINKS.PRIVACY_POLICY" |
                  translate }}</a>
              </li>
              <li class="footer_li"><a [routerLink]="[AppHtmlRoutes.termsOfUse]">{{ "FOOTER_LINKS.TERMS_USE" |
                  translate }}</a></li>
            </ul>
          </div>
          <div class="col-md-3 mob_footer">
            <div id="footer_accordian">
              <div class="accord_panel">
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <div class="accord_panel_header">
                          <a class="accord-link" data-toggle="collapse" href="#footerCollapse_1">
                            {{ "FOOTER_LINKS.SITE_MAP" | translate }}
                          </a>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accprd-texture">
                      <ul>
                        <li><a [routerLink]="[AppHtmlRoutes.home]">{{ "FOOTER_LINKS.SHOP" | translate }}</a></li>
                        <li><a [routerLink]="[AppHtmlRoutes.article]">{{ "FOOTER_LINKS.UPDATE" | translate }}</a></li>
                      </ul>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <div class="accord_panel_header">
                          <a class="collapsed accord-link" data-toggle="collapse" href="#footerCollapse_2">
                            {{ "FOOTER_LINKS.QUICK_LINKS" | translate }}
                          </a>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accprd-texture">
                      <ul>
                        <li><a class="no-link" (click)="openRelod()">{{ "FOOTER_LINKS.RELOAD_WALLET" | translate }}</a>
                        </li>
                        <!-- <li><a [routerLink]="[AppHtmlRoutes.underconstruction]">{{ "FOOTER_LINKS.CREATE_TOURNAMENT" | translate }}</a></li> -->
                        <li><a class="no-link" (click)="openSettingsLightbox()">{{ "FOOTER_LINKS.ACCOUNT_SETTINGS" |
                            translate }}</a></li>
                      </ul>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <div class="accord_panel_header">
                          <a class="collapsed accord-link" data-toggle="collapse" href="#footerCollapse_3">
                            {{ "FOOTER_LINKS.HELP" | translate }}
                          </a>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accprd-texture">
                      <ul>
                        <li><a [routerLink]="[AppHtmlRoutes.faq]">{{ "FOOTER_LINKS.FAQ" | translate }}</a></li>
                        <li><a [routerLink]="[AppHtmlRoutes.contactUs]">{{ "FOOTER_LINKS.CONTACT_US" | translate }}</a>
                        </li>
                      </ul>
                    </div>
                  </mat-expansion-panel>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <div class="accord_panel_header">
                          <a class="collapsed accord-link" data-toggle="collapse" href="#footerCollapse_4">
                            {{ "FOOTER_LINKS.TERM_POLICY" | translate }}
                          </a>
                        </div>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="accprd-texture">
                      <ul>
                        <li><a [routerLink]="[AppHtmlRoutes.termsConditions]">{{ "FOOTER_LINKS.TERM_CONDITION" | translate
                            }}</a></li>
                        <li><a [routerLink]="[AppHtmlRoutes.privacyPolicy]">{{ "FOOTER_LINKS.PRIVACY_POLICY" | translate
                            }}</a></li>
                        <li><a [routerLink]="[AppHtmlRoutes.termsOfUse]">{{ "FOOTER_LINKS.TERMS_USE" | translate }}</a>
                        </li>
                      </ul>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <!-- <div class="accord_panel">
                <mat-accordion>
                  
                </mat-accordion>
              </div>
              <div class="accord_panel">
                <mat-accordion>
                  
                </mat-accordion>
              </div>
              <div class="accord_panel">
                <mat-accordion>
                  
                </mat-accordion>
              </div> -->
            </div>
          </div>

        </div>
      </div>
      <div class="footer-smedia-container col-md-4 text-right">
        <div class="social_media_txt">
          <p class="footer_social_media_text"> {{ "FOOTER_LINKS.DISCRIP" | translate }} </p>
        </div>
        <div class="social_media_icon">
          <!-- <a class="footer_social_link ng-star-inserted" href="https://twitter.com/maxis/"><img alt="social icon"
              class="Footer-social-link-icon  footer_ng_lazyloaded" src="assets/icons/socials/twitter.svg"></a> -->
          <a class="footer_social_link ng-star-inserted" href="https://www.facebook.com/maxis/"><img alt="social icon"
              class="Footer-social-link-icon  footer_ng_lazyloaded" src="assets/icons/socials/facebook.svg"></a>
          <a class="footer_social_link ng-star-inserted" href="https://www.instagram.com/maxis/"><img alt="social icon"
              class="Footer-social-link-icon  footer_ng_lazyloaded" src="assets/icons/socials/instagram.svg"></a>
        </div>
        <div class="maxis_logo">
          <img alt="footer maxis logo" src="assets/images/footer-maxis-logo.svg" />
        </div>
      </div>
    </div>
    <hr>
    <div class="row footer_copyright">
      <div class="col-md-6">
        <div class="footer_copyright_container_2">
          <p class="footer_copyright_text">{{ "FOOTER_LINKS.SERVICE_TAX" | translate }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer_copyright_container">
          <p class="footer_copyright_text">{{ "FOOTER_LINKS.COPYRIGHT" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
