@import '../user-notifications.component.scss';

.UserNotification-boxC-banner {
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}
.errorMessage{
  color: var(--ui-error);
}
::ng-deep{
.UserNotification-main{
   min-height: 984px;
  & .fa {
  color: var(--base-black);
}
}
}
