<app-manageteam-header>
  [currentPageLink]="AppHtmlRoutes.profile"
</app-manageteam-header>

<section class="Profile u-wp">
  <nav class="Profile-nav">
    <div class="border">
      <h2 class="Profile-nav-title">
        {{ "Manage tools" | uppercase }}
      </h2>

      <h3 class="Profile-nav-subtitle">Team settings</h3>

      <a
        class="Profile-nav-link-main"
        [routerLink]="[AppHtmlManageTeams.teamMembers, teamId]"
        routerLinkActive="active"
      >
        <mat-icon>people_outline</mat-icon>
        <span class="global-Elipses"> Team members </span>
      </a>

      <a
        class="Profile-nav-link-main"
        [routerLink]="[AppHtmlManageTeams.invitesSent, teamId]"
        routerLinkActive="active"
      >
        <mat-icon>mail_outline</mat-icon>
        <span class="global-Elipses"> Invites sent </span>
      </a>

      <div class="Profile-nav-bottom">
        <a
          class="Profile-nav-link-main"
          [routerLink]="[AppHtmlManageTeams.editTeam, teamId]"
          routerLinkActive="active"
        >
          <mat-icon>edit</mat-icon>
          <span class="global-Elipses"> Edit team </span>
        </a>
        <a class="Profile-nav-link-main" [routerLink]="['/view-team', teamId]">
          <mat-icon>remove_red_eye</mat-icon>
          <span class="global-Elipses"> View team Page </span>
        </a>
      </div>
    </div>

    <div class="Dashboard-cards-item">
      <img
        class="Dashboard-cards-item-icon"
        [lazyLoad]="teamDetails?.logo"
        alt=""
      />
      <div class="Dashboard-cards-item-info">
        <h4 class="Dashboard-cards-item-title">
          {{ teamDetails?.name }}
        </h4>
        <!-- <p class="Dashboard-cards-item-value global-Elipses">0</p> -->
      </div>
    </div>
  </nav>

  <div class="Profile-content">
    <router-outlet></router-outlet>
  </div>
</section>
