@import "shared";

.row-details-streaming {
  margin-bottom: 30px;
  display: flex;
  flex-flow: wrap-reverse;

  .col-6 {
    padding: 0 8px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include sm {
      padding: 0;
    }
  }

  @include lg {
    margin: 30px 0px;

    .col-6:first-child {
      margin-bottom: 15px;
    }
  }

  @include md {
    margin: 30px 0px;

    .col-6:first-child {
      margin-bottom: 15px;
    }

    @include sm {
      flex-flow: column;
    }

    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 !important;
    }

    .input-explain-text {
      top: 45px;
    }
  }

  .selected-dial-code {
    color: var(--base-black);
  }

  @include sm {
    padding: 0;
  }
}

.add-participants__form {
  position: relative;

  .form-group {
    border: 1px solid var(--base-03);
    border-radius: 4px;
    padding: 13px 22px;
    display: flex;
    justify-content: space-between;
    max-height: 90px;
    margin-bottom: 0 !important;

    input {
      border: 0;
      padding: 0;
    }

    label {
      top: -9px;
      background-color: var(--base-white);
      position: absolute;
      font-size: 14px;
      left: 19px;
      line-height: 21px;
      color: var(--base-black);
      margin: 0;
      padding: 0px 10px 0 5px;
      transition: all 0.3s;
      z-index: 1;
    }

    input:focus + label,
    label.active{
      top: -8px;
    }

    .selected-tags {
      width: 65%;
      padding: 0;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
      }

      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: var(--base-white);
        border-radius: 4px;
      }

      > div {
        margin-right: 13px;
        margin-bottom: 14px;
      }
    }
  }

  .input-explain-text {
    position: relative;
    top: 9px;
    color: var(--base-02);
    font-size: 10px;
  }

  @include md {
    .form-group {
      flex-direction: column;

      .selected-tags {
        width: 100%;
        margin-top: 15px;
      }
    }
  }
}

.add-participants {
  margin-bottom: 14px;

  .col-6 {
    margin-bottom: 0 !important;
  }
}

.row-platform-streaming {
  margin-bottom: 30px;

  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 17px;
    text-transform: uppercase;
    color: var(--base-01);
    font-family: "source-sans-pro" !important;
  }
}

.visibility-row {
  margin-top: px2vw-xl(90px);

  @include lg {
    margin-top: px2vw-lg(50px);
  }

  @include md {
    margin-top: px2vw-md(35px);
  }

  @include sm {
    margin-top: px2vw-xl(25px);
  }

  label {
    &:first-child {
      font-size: 15px;
      line-height: 20px;
      font-family: "source-sans-pro";
      padding: 0;
      margin-right: 20px;
      display: flex;
      align-items: center;

      @include md {
        display: initial;
        margin-right: 0;
      }
    }

    &:not(:first-child) {
      font-family: "source-sans-pro";
      padding: 15px;
      border: 0.2px solid var(--base-03);
      text-transform: capitalize;
    }

    &:nth-child(2) {
      font-size: 14px;
      line-height: 18px;
      color: var(--base-black);
    }

    &:last-child {
      font-size: 13px;
      line-height: 17px;
      color: var(--base-black);
    }

    &.active {
      background-color: var(--base-yellow);
      color: var(--base-black);
    }

    &.focus {
      outline: 0;
      box-shadow: 0 0 !important;
      transition: none;
    }
  }
  &-group {
    @include sm {
      flex-direction: column;
      display: flex;
      margin-top: px2vw-sm(25px);
    }
  }
}

.platform-button {
  border-radius: 0 !important;
  min-width: 10rem;
  background: var(--base-white);
  height: 50px;
}

.text {
  color: var(--base-01);
}

.chip {
  padding: 0 1em;
  font-size: 0.8rem;
  line-height: 24px;
  border-radius: 25px;
  background-color: transparent;
  border: 1px solid var(--dim-gray);
  letter-spacing: 0.5px;
  font-family: "source-sans-pro" !important;
  color: var(--dim-gray);
}

.finalComponent {
  @include sm {
    & .col-sm-12,
    .col-12,
    .col-6 {
      padding: 0;
    }
  }
}
