<div class="row finalComponent">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <div class="col-12 row align-items-end row-details-streaming">
      <div class="col-6">
        <app-drop-down
          [title]="'TOURNAMENT.CREATE.CONTACT_OPTION'"
          [customFormControlName]="'contactOn'"
          [customFormGroup]="final"
          [dropdownList]="contactOptionsList"
          [type]="'C'"
          (valueEmit)="setContactOn($event)"
        ></app-drop-down>
      </div>
      <div class="col-6">
        <app-input
          *ngIf="
            ['Email', 'Facebook', 'Twitter', 'Discord'].includes(
              final.value.contactOn
            )
          "
          [type]="'STRING'"
          [customFormGroup]="final"
          [customFormControlName]="'contactDetails'"
        >
        </app-input>
        <div
          class="error"
          *ngIf="
            final?.controls?.contactDetails?.touched &&
            final?.controls?.contactDetails?.errors?.pattern
          "
        >
          <strong>{{
            "CREATE_TOURNAMENT.CREATE_TOURNAMENT_CORRECT_VALUE" | translate
          }}</strong>
        </div>
      </div>
    </div>
    <div class="col-12 add-participants">
      <div class="">
        <div class="add-participants__form">
          <div class="form-group">
            <input
              [editable]="true"
              type="text"
              (ngModelChange)="addParticipants()"
              [ngbTypeahead]="search"
              [resultFormatter]="formatter"
              class="form-control"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="participantObj"
              [resultTemplate]="userList"
              [autocomplete]="'off'"
            />
            <label
              class="labeltext input-explain-text"
              [class.active]="final.value.participants.length || participantObj"
              >{{ "TOURNAMENT.CREATE.SEARCH_P" | translate }}</label
            >
            <div
              class="selected-tags cusror"
              *ngIf="final.value.participants.length"
            >
              <div
                *ngFor="let user of final.value.participants; let indx = index"
              >
                <div class="chip">
                  {{ user?.fullName }}
                  <span (click)="removeParticipant(indx)" class="closebtn"
                    >&times;</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="input-explain-text">
            <img src="assets/images/Tournament/info.png" alt="info" />
            {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_IMG" | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
    <div class="col-12 row-platform-streaming">
      <div class="">
        <app-input
          [title]="'TOURNAMENT.CREATE.YOUTUBE_LINK'"
          [type]="'STRING'"
          [customFormGroup]="final"
          [customFormControlName]="'youtubeVideoLink'"
          [patternType]="'youtubeUrl'"
        >
        </app-input>
      </div>
    </div>
    <div class="col-12 row-platform-streaming">
      <div class="">
        <app-input
          [title]="'TOURNAMENT.CREATE.FB_LINK'"
          [type]="'STRING'"
          [customFormGroup]="final"
          [customFormControlName]="'facebookVideoLink'"
          [patternType]="'facebookVideoUrl'"
        >
        </app-input>
      </div>
    </div>
    <div class="col-12">
      <div class="">
        <app-input
          [title]="'TOURNAMENT.CREATE.TW_LINK'"
          [type]="'STRING'"
          [customFormGroup]="final"
          [customFormControlName]="'twitchVideoLink'"
          [patternType]="'twitchVideoUrl'"
        >
        </app-input>
      </div>
    </div>
  </div>
  <div class="col-12 text-center visibility-row">
    <div
      class="btn-group btn-group-toggle visibility-row-group"
      formControlName="visibility"
      ngbRadioGroup
      name="visibilty"
    >
      <label class="text visibility-row-group-text">{{
        "CREATE_TOURNAMENT.CREATE_TOURNAMENT_Visibility" | translate
      }}</label>
      <label ngbButtonLabel class="btn-outline-secondary platform-button">
        <input ngbButton type="radio" [value]="1" />
        {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_PUBLIC" | translate }}
      </label>
      <label ngbButtonLabel class="btn-outline-secondary platform-button">
        <input ngbButton type="radio" [value]="2" />
        {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_PRIVATE" | translate }}
      </label>
    </div>
  </div>
</div>

<ng-template #userList let-r="result" let-t="term">
  <img
    [lazyLoad]="r?.profilePicture || 'assets/images/Profile/avatar.png'"
    class="mr-1"
    style="width: 16px;"
  />
  <ngb-highlight [result]="r.fullName" [term]="t"></ngb-highlight>
</ng-template>
