@import "shared";

.Match {
  display: flex;
  flex-direction: row-reverse;

  &-action {
    color: var(--base-white);
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    padding: 25px 8px;
    height: auto;
    width: 33px;
    background: #1d1f20;
    margin-left: 7px;
    display: flex;
    align-items: center;

    path {
      fill: var(--base-yellow);
    }

    fa-icon:hover {
      color: var(--ui-venetian-red);
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  app-team {
    background: rgba(59, 59, 59, 0.4);

    &:first-child {
      margin-bottom: 8px;
    }

    &:last-child {
      background: var(--base-yellow) !important;
    }
  }
}
