@import "../../../../assets/styles/variables";

.card {
  padding: 24px 28px;
  background: #1d1f23;
  border-radius: 5px;
  // margin: 50px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.23);
  z-index: 9;
  font-size: 26px;
  line-height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "dynasty-primary-medium" !important;
  margin-top: 50px;
  color: var(--textcolor);
  fa-icon {
    //margin: -2px 5px;
    margin: -4px 7px;
    opacity: 0.6;
  }

  &.expand,
  &:hover {
    background: var(--orange-color-main);
  }
  &.expand {
    border-radius: 5px 5px 0 0;
  }
}

.card:hover {
  background: var(--orange-color-main);
}

.collapse.show {
  background: #171a1c;
  box-shadow: 4px 4px 6px #0000034d;
  border: 0.4000000059604645px solid #171a1c;
  border-radius: 5px;
  margin-bottom: 93px;
}

table {
  thead {
    tr {
      th {
        width: 1%;
        //padding: 10px 20px;
        padding: 26px 20px;
        font-size: 22px;
        line-height: 29px;
        font-family: "dynasty-primary-light" !important;
        font-weight: 100;
        &:first-child {
          padding-left: 50px;
        }
      }
      th:not(:first-child) {
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid #000003;
      &.highlight {
        background: rgba(6, 6, 6, 0.3);
        th {
          position: relative;
          &:before {
            content: "";
            position: absolute;
            width: 9px;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--orange-color-main);
          }
        }
      }
      th {
        width: 1%;
        // padding: 25px;
        padding: 17px;
        padding-left: 50px;
        font-size: 20px;
        line-height: 26px;
        font-family: "dynasty-primary-light" !important;
        font-weight: 100;
        border-right: 1px solid #000003;
      }
      td {
        // border-right: 1px solid #000003;
        div {
          //padding: 15px 20px;
          padding: 17px 0;
          font-size: 20px;
          line-height: 26px;
          text-align: center;
          font-family: "dynasty-primary-light" !important;
          font-weight: 100;
          &:first-child {
            border-bottom: 1px solid #000003;
          }
        }
        // &:last-child {
        //   border-right: 0;
        // }
        &:nth-child(2) {
          width: 3%;
        }
      }
    }
    button {
      // width: 150px;
      // height: 25px;
      // background-color: $ngtt-background-primary;
      // color: $ngtt-background-primary;
      border-radius: 5px;
      background-color: rgba(251, 251, 251, 0.02);
      color: transparent;
      width: 316px;
      height: 41px;
      font-family: "dynasty-primary-regular" !important;
      text-transform: uppercase;
      &.winner {
        background-color: var(--orange-color-main);
        color: var(--whitecolor);
      }
      &.loser {
        color: var(--whitecolor);
      }
    }
  }
}

p {
  padding: 10px 0px 0px 0px;
}

.container-match-list {
  // max-height: 793px;
  // overflow-y: scroll;
  padding-right: 12px;
  padding-right: 20px;
  &::-webkit-scrollbar {
    width: 8px;
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgba(0, 0, 3, 0.3);
    border-radius: 11px;
  }
}

.btn-row-round {
  border-radius: 5px;
  margin-top: 30px;
  overflow: hidden;
  .col-3 {
    background: #252729 0% 0% no-repeat padding-box;
    padding: 15px;
    padding-left: 62px;
    p {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }
    fa-icon {
      margin-left: 33px;
      font-size: 15px;
    }
    .row {
      p {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
}

.p-padding {
  padding: 30px;
  color: white;
}

@media (max-width: 767px) {
  .container-match-list {
    padding-right: 0;
    .card {
      padding: 10px 28px;
      font-size: 18px;
      line-height: normal;
      margin-top: 30px;
    }
  }
  .collapse.show {
    margin-bottom: 40px;
    overflow: scroll;
  }
  table {
    thead {
      tr {
        th {
          padding: 10px 20px;
          font-size: 14px;
          line-height: normal;
          &:first-child {
            padding-left: 30px;
          }
        }
      }
    }
    tbody {
      tr {
        th {
          padding-left: 30px;
          font-size: 14px;
          line-height: normal;
        }
        td {
          div {
            font-size: 14px;
            line-height: normal;
          }
          &:last-child {
            padding-right: 10px;
            div {
              padding: 10px 0;
            }
          }
          &:nth-child(2) {
            min-width: 160px;
          }
        }
      }
      button {
        width: 150px;
        height: 30px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container-match-list {
    padding-right: 0;
    .card {
      padding: 17px 28px;
      font-size: 18px;
      line-height: normal;
      margin-top: 30px;
    }
  }
  .collapse.show {
    margin-bottom: 40px;
    overflow: scroll;
  }
  table {
    thead {
      tr {
        th {
          padding: 10px 20px;
          font-size: 14px;
          line-height: normal;
          &:first-child {
            padding-left: 30px;
          }
        }
      }
    }
    tbody {
      tr {
        th {
          padding-left: 30px;
          font-size: 14px;
          line-height: normal;
        }
        td {
          div {
            font-size: 14px;
            line-height: normal;
          }
          &:last-child {
            padding-right: 10px;
            div {
              padding: 10px 0;
            }
          }
          &:nth-child(2) {
            min-width: 160px;
          }
        }
      }
      button {
        width: 150px;
        height: 30px;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .card {
    padding: 16px 28px;
    font-size: 20px;
    line-height: normal;
  }
  table {
    thead {
      tr {
        th {
          font-size: 16px;
          line-height: normal;
        }
      }
    }
    tbody {
      tr {
        td {
          div {
            padding: 17px 0;
            font-size: 16px;
            line-height: normal;
          }
          &:last-child {
            div {
              padding: 10px 0;
            }
          }
        }
        th {
          font-size: 16px;
          line-height: normal;
        }
      }
    }
  }
  .collapse.show {
    margin-bottom: 70px;
  }
}

.table-td {
  width: 1%;
  font-size: 15px;
  line-height: 26px;
  font-family: "dynasty-primary-light" !important;
  font-weight: 100;
  border-right: 1px solid #000003;
  padding: 17px;

  &:not(:first-child) {
    text-align: center;
  }

  &:first-child {
    padding-left: 50px;
  }
}

.standing {
  padding: 0;
  overflow-y: auto;

  table {
    background: #171a1c;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #000000;
    border-collapse: collapse;
    margin: 0;
    thead {
      th {
        border-bottom: 0.5px solid #000003;
        padding: 26px;
        letter-spacing: 0px;
        color: #fbfbfb;
        font-size: 18px;
        line-height: normal;
        text-align: center;
        font-weight: 100;
        // text-transform: inherit;
        text-transform: uppercase;
        white-space: nowrap;
        &:first-child {
          text-align: left;
        }
      }
    }
    tbody {
      td,
      th {
        border-bottom: 0.5px solid #000003;
        padding: 15px 28px;
        letter-spacing: 0px;
        color: #fbfbfb;
        font-size: 16px;
        text-align: center;
        font-weight: 100;
        vertical-align: inherit;
        text-transform: inherit;
        white-space: nowrap;
      }
      tr:last-child td,
      tr:last-child th {
        border-bottom: 0;
      }
      .standing tr {
        &:first-child,
        &:nth-child(2),
        &:nth-child(3) {
          td,
          th {
            background: #252729;
          }
        }
      }
    }
  }
}

.Player {
  cursor: pointer;
}
