@import "shared";

$--card-bg: linear-gradient(
  180deg,
  rgba(11, 8, 36, 0) 0%,
  rgba(11, 8, 36, 0.75) 53.12%,
  #0b0824 100%
);

$--card-active-bg: linear-gradient(
  180deg,
  rgba(187, 245, 90, 0) 0%,
  rgba(187, 245, 90, 0.75) 53.12%,
  #bbf55a 100%
);

:host {
  display: block;
}

.EditTeam {
  padding-top: 4px;
  @include md {
    padding-top: 0;
  }
  &-container {
    @extend %u-dfStretch;
    width: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 700px;
    @include md {
      max-width: 100%;
    }
  }

  &-logo {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(40px);
    height: px2vw-xl(48px);
    width: px2vw-xl(48px);

    @include lg {
      margin-right: px2vw-lg(40px);
      height: px2vw-lg(48px);
      width: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(40px);
      height: px2vw-md(48px);
      width: px2vw-md(48px);
    }

    @include sm {
      margin-right: px2vw-sm(40px);
      height: px2vw-sm(48px);
      width: px2vw-sm(48px);
    }
  }

  &-main {
    @extend %u-dfStart;
    flex-direction: column;
    flex-grow: 1;
    @include md {
      width: 100%;
      max-width: 100%;
    }
  }

  &-title {
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
    margin-bottom: 32px;
    @include sm {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &-search {
    margin-bottom: px2vw-xl(24px);
    width: 500px;

    margin-top: px2vw-xl(24px);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-buttons {
    @extend %u-dfCenter;
    margin-top: auto;
    margin-top: 20px;
  }

  &-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-person {
    position: absolute;
    top: px2vw-xl(72px);
    right: 0;
    height: px2vw-xl(810px);

    @include lg {
      top: px2vw-lg(72px);
      height: px2vw-lg(810px);
    }

    @include md {
      top: px2vw-md(72px);
      height: px2vw-md(810px);
    }

    @include sm {
      top: px2vw-sm(72px);
      height: px2vw-sm(810px);
    }
  }

  &-form {
    &-title {
      @extend %global-H5;
      margin-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }
    &-image {
      margin-bottom: px2vw-xl(26px);
      // border-bottom: px2vw-xl(1px) solid var(--white-light);
      padding-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(26px);
        // border-bottom-width: px2vw-lg(1px);
        padding-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(26px);
        // border-bottom-width: px2vw-md(1px);
        padding-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(26px);
        // border-bottom-width: px2vw-sm(1px);
        padding-bottom: px2vw-sm(32px);
      }
    }
    &-banner {
      width: 800px;
      margin-bottom: px2vw-xl(26px);
      // border-bottom: px2vw-xl(1px) solid var(--white-light);
      padding-bottom: px2vw-xl(32px);

      @include lg {
        margin-bottom: px2vw-lg(26px);
        // border-bottom-width: px2vw-lg(1px);
        padding-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(26px);
        // border-bottom-width: px2vw-md(1px);
        padding-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(26px);
        // border-bottom-width: px2vw-sm(1px);
        padding-bottom: px2vw-sm(32px);
      }
    }
    &-field {
      width: 500px;
    }
    &-input {
      &-title {
        @extend %subtitle-1;
        margin-bottom: px2vw-xl(8px);

        @include lg {
          margin-bottom: px2vw-lg(8px);
        }

        @include md {
          margin-bottom: px2vw-md(8px);
        }

        @include sm {
          margin-bottom: px2vw-sm(8px);
        }
      }

      &-subtitle {
        font-family: var(--selected-font-family);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--color-white-medium);
        margin-bottom: 17px;
        @include sm {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    &-sm {
      &-item {
        @extend %u-dfCenter;
        margin-bottom: px2vw-xl(22px);

        @include lg {
          margin-bottom: px2vw-lg(22px);
        }

        @include md {
          margin-bottom: px2vw-md(22px);
        }

        @include sm {
          margin-bottom: px2vw-sm(22px);
        }

        &:last-child {
          margin-bottom: 0;
        }

        mat-form-field {
          max-width: px2vw-xl(304px);

          @include lg {
            max-width: px2vw-lg(304px);
          }

          @include md {
            max-width: px2vw-md(304px);
          }

          @include sm {
            max-width: px2vw-sm(304px);
          }
        }

        ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
      &-item-button {
        @extend %u-dfCenter;
        @extend %caption;
        margin-left: px2vw-xl(20px);
        margin-bottom: px2vw-xl(20px);
        margin-top: px2vw-xl(20px);
        background-color: transparent;
        color: var(--white-medium);
        transition: $global-transition2;

        @include lg {
          margin-left: px2vw-lg(20px);
        }

        @include md {
          margin-left: px2vw-md(20px);
        }

        @include sm {
          margin-left: px2vw-sm(20px);
        }

        &:hover {
          color: var(--color-primary);

          mat-icon {
            color: var(--color-primary);
          }
        }
      }

      &-item-button-icon {
        flex-shrink: 0;
        margin-right: px2vw-xl(12px);
        height: auto;
        width: auto;
        font-size: px2vw-xl(24px);
        color: var(--white-high);
        transition: $global-transition2;

        @include lg {
          margin-right: px2vw-lg(12px);
          font-size: px2vw-lg(24px);
        }

        @include md {
          margin-right: px2vw-md(12px);
          font-size: px2vw-md(24px);
        }

        @include sm {
          margin-right: px2vw-sm(12px);
          font-size: px2vw-sm(24px);
        }
      }
    }
  }

  &-Appearance {
    padding-bottom: 21px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-black-medium);
    width: 100%;
  }
  &-About-your-team {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid var(--color-black-medium);
    width: 100%;
    .EditTeam-form-fields {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0%;
      }
    }
  }
  &-Social-media {
    width: 100%;
    margin-bottom: 40px;
    @include md {
      margin-bottom: 24px;
    }
  }
}
.form-field-item {
  width: 100%;
  .form-field-label {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    label.form-label {
      @extend %global-textSm;
      display: flex;
      align-items: flex-end;
      color: var(--color-white-medium);
      display: block;
      margin-bottom: 4px;
      @include sm {
        max-width: 100%;
      }
    }
    span.optional {
      @extend %global-textSm;
      font-weight: 500;
      display: -webkit-inline-flex;
      display: inline-flex;
      align-items: flex-end;
      text-align: right;
      color: var(--tertiary-color);
    }
  }
  .input-group-file {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    @include md {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .box-input-file {
      width: 100%;
      position: relative;
      max-width: calc(100% - 126px);
      padding: 10px 16px;
      background: var(--blackcurrant-color-medium);
      border: 2px solid var(--tertiary-color);
      border-radius: 4px;

      @include md {
        max-width: 100%;
        margin-bottom: 16px;
      }

      .form-file-btn {
        @extend %global-textSm;
        font-weight: 500;
        color: var(--tolopea-color);
        &.activeinputfile {
          color: var(--white);
        }
      }
    }
    .input-group-btn {
      @include md {
        width: 100%;
        max-width: 100%;
      }
      button.btn {
        padding: 12px 30px;
        background: var(--wet-clay);
        border-radius: 6px;
        @extend %global-textSm;
        text-transform: capitalize;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        color: var(--white);
        @include md {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    .form-file {
      width: 100%;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }
    .notice {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
      color: var(--tolopea-medium-color);
      white-space: nowrap;
      width: 100%;
    }
  }
}

.Profile-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .Profile-photo-image {
    margin-bottom: 0;
    padding: 12px 16px;
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    max-width: calc(100% - 100px);
    text-align: left;
    margin-right: 8px;
  }
  .Profile-photo-manage {
    width: 100%;
    max-width: 120px;
  }
}
.form-group {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
  .form-item {
    position: relative;
    width: 100%;
  }
  .form-label {
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: var(--color-white-medium);
    display: block;
  }
  .form-field {
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    width: 100%;
    border-radius: 4px;
    margin: 0;
    &::placeholder {
      color: var(--tolopea-color);
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }
}
::ng-deep .mat-form-field-appearance-outline {
  margin-bottom: 0 !important;
  .mat-form-field-outline {
    top: 4px !important;
  }
  .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0 0 15px;
    &:last-child {
      padding: 0;
    }
  }
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end,
  .mat-form-field-outline-start {
    border-color: var(--tertiary-color) !important;
    border-width: 2px !important;
  }
  .mat-form-field-outline-thick {
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end,
    .mat-form-field-outline-start {
      background: var(--blackcurrant-color-medium);
      border-width: 2px !important;
    }
  }
  .mat-form-field-flex {
    padding: 0 !important;
    margin-top: 0 !important;
  }
  .mat-form-field-infix {
    padding: 14px 16px;
    width: 100%;
    margin: 0;
    border: none;
    max-height: 98px;
    @include sm {
      padding: 12px 16px;
    }
    .icon {
      position: absolute;
      right: 16px;
    }
  }
}
::ng-deep .mat-checkbox {
  .mat-checkbox-layout {
    align-items: flex-start !important;
    .mat-checkbox-inner-container {
      margin-top: 0 !important;
      height: 24px !important;
      width: 24px !important;
      box-sizing: border-box;
      border-radius: 4px;
    }
    .mat-checkbox-ripple {
      left: 0;
      top: 0;
      height: 24px;
      width: 24px;
    }
  }
  .mat-checkbox-label {
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    white-space: normal;
    margin-left: 16px;
    display: inline-block;
  }
  &-text {
    //styleName: 1440px/Body 2;
    // font-family:  'redhat-regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    color: #736cff;
  }
}
.EditTeam-Add-social-media {
  margin-bottom: 21px;
  h4.title {
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: var(--color-white-medium);
    margin-bottom: 4px;
  }
}
.Select-teamDropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include md {
    flex-wrap: wrap;
  }
  &:hover,
  &.show {
    .Select-teamBtn {
      border: 2px solid var(--main-color);
    }
  }
  .Select-teamBtn {
    background: var(--blackcurrant-color-medium);
    border: 2px solid var(--tertiary-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    max-width: calc(100% - 180px);
    margin-right: 16px;
    text-align: left;
    padding: 10px 16px;
    @extend %global-textSm;
    font-weight: 500;
    color: var(--white);
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    @include md {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }
    &::after {
      display: inline-block;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: 2px solid var(--main-color);
      border-right: 2px solid var(--main-color);
      border-bottom: 0;
      border-left: 0;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      transition: $global-transition2;
      position: relative;
      top: -4px;
    }
  }
  .Select-teamDropdownItem {
    top: 55px !important;
    transform: none !important;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    background: var(--midnight-express-color);
    border: 2px solid var(--midnight-express-color);
    max-height: 144px;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    button {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
      padding: 10px 16px;
      &:hover {
        background: var(--color-black-medium);
      }
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--secondary-color);
    }
  }
  .form-field-btn {
    @include md {
      max-width: 100%;
      width: 100%;
    }
    .btn {
      padding: 12px 30px;
      border-radius: 6px;
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--white);
      text-transform: none;
      background-color: var(--wet-clay);
      @include md {
        max-width: 100%;
        width: 100%;
        justify-content: center;
      }
      &.disabled {
        background-color: var(--wet-clay);
        color: var(--white);
        opacity: 1;
      }
    }
  }
  &.show {
    .Select-teamBtn {
      &::after {
        transform: rotate(315deg);
        transition: $global-transition2;
        top: 4px;
      }
    }
  }
}
.Accounts-manage {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include md {
    flex-direction: column-reverse;
  }
  &-button-cancel {
    padding: 12px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--wet-clay);
    border-radius: 6px;
    margin-right: 24px;
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
    text-transform: none;
    @include md {
      width: 100%;
      margin-right: 0;
    }
  }
  &-button-save {
    padding: 12px 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--googly-yellow);
    border-radius: 6px;
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    text-transform: none;
    box-shadow: none;
    @include md {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}

.box-image img {
  width: 100px;
}
.profile-image {
  margin-bottom: 16px;
}
