@import "shared";

:host {
  display: block;
}

.prize {
  padding-top: 50px;
}
.overview-prize-position {
  background-color: #736cff;
  width: 100%;
  margin-bottom: 0px;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
}

.Overview {
  &-header {
    margin-bottom: 16px;
  }

  &-header-title {
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: var(--white);
    @include md {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &-header-subtitle {
    font-family: "archivo-bold";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: var(--white);

    @include lg {
      max-width: none;
    }
  }

  &-Summary {
    .lists {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      .item {
        width: calc(100% / 3 - 16px);
        height: 144px;
        background: var(--boysenberry);
        border-radius: 12px;
        padding: px2vw-xl(16px);
        margin-bottom: px2vw-xl(24px);
        @include lg {
          padding: px2vw-lg(16px);
          margin-bottom: px2vw-lg(24px);
          width: 48.5%;
        }
        @include md {
          width: calc(100% / 2 - 8px);
          padding: px2vw-md(16px);
          margin-bottom: px2vw-md(24px);
        }
        @include sm {
          height: auto;
          min-height: px2vw-md(184.32px);
          padding: px2vw-sm(24.576px);
          margin-bottom: px2vw-sm(24.576px);
        }

        .icon {
          width: px2vw-xl(32px);
          margin-bottom: px2vw-xl(22px);
          & ::ng-deep svg {
            & path {
              fill: var(--spacesuit);
            }
          }

          @include lg {
            width: px2vw-lg(32px);
            margin-bottom: px2vw-lg(22px);
          }
          @include md {
            width: px2vw-md(32px);
            margin-bottom: px2vw-md(22px);
          }
          @include sm {
            width: px2vw-sm(49.152px);
            margin-bottom: px2vw-sm(33.792px);
          }
        }
        .title {
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--white);
          margin-bottom: 4px;
          @include sm {
            font-size: 16px;
            line-height: 24px;
          }
        }
        .subtitle {
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--white);
          margin-bottom: 0;
        }
      }
    }
  }

  &-prizes {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(32px);
    border-bottom: 1px solid var(--black-medium);
    padding-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
      padding-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
      padding-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
      padding-bottom: px2vw-sm(24px);
    }
  }

  &-prize {
    margin-right: px2vw-xl(18px);
    min-width: px2vw-xl(200px);
    padding: px2vw-xl(26px) px2vw-xl(20px) px2vw-xl(20px);
    border: 0.0794444444vw solid var(--white-light);
    text-align: center;
    background: radial-gradient(
      25.03% 67.79% at 7.18% 79.53%,
      rgba(115, 108, 255, 0.25) 0%,
      rgba(115, 108, 255, 0) 100%
    );

    @include lg {
      margin-right: px2vw-lg(18px);
      min-width: px2vw-lg(200px);
      padding: px2vw-lg(26px) px2vw-lg(20px) px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(18px);
      min-width: px2vw-md(230px);
      padding: px2vw-md(26px) px2vw-md(10px) px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      min-width: px2vw-sm(165px);
      padding: px2vw-sm(26px) px2vw-sm(10px) px2vw-sm(20px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-prize-icon {
    margin-bottom: px2vw-xl(15px);
    height: px2vw-xl(40px);
    width: px2vw-xl(38px);

    @include lg {
      margin-bottom: px2vw-lg(15px);
      height: px2vw-lg(40px);
      width: px2vw-lg(38px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
      height: px2vw-md(40px);
      width: px2vw-md(38px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
      height: px2vw-sm(40px);
      width: px2vw-sm(38px);
    }
  }

  &-prize-text {
    @extend %global-H6;
    margin-bottom: 0;
  }

  &-Prize {
    .Prize-table {
      border: 1px solid var(--tolopea-medium-color);
      border-radius: 8px;
      overflow: hidden;
      background: var(--white);
      .thead {
        background: var(--color-white-medium);
        .th,
        .td {
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: flex-end;
          color: var(--blackcurrant-color-medium);
        }
      }
      .tbody {
        background: var(--white);
        max-height: 560px;
        overflow: hidden;
        overflow-y: auto;
        width: calc(100% - 8px);
        @include md {
          width: calc(100% - 4px);
        }
        &::-webkit-scrollbar {
          width: 8px;
          @include md {
            width: 4px;
          }
        }
        &::-webkit-scrollbar-thumb {
          background: var(--color-white-medium);
          border: 1px solid var(--tolopea-color);
          border-radius: 4px;
          @include md {
            border-radius: 2px;
          }
        }
        .tr {
          &:last-child {
            border: none;
          }
        }
        .td {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          font-family: var(--selected-font-family);
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: flex-end;
          color: var(--blackcurrant-color-medium);
          margin-bottom: 0;
          .place {
            font-family: var(--selected-font-family);
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: flex-end;
            color: var(--blackcurrant-color-medium);
            margin-bottom: 0;
          }
        }
      }
      .tr {
        border-bottom: 1px solid var(--tolopea-medium-color);
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        padding: 0 8px;
      }
      .td,
      .th {
        width: 100%;
        padding: 22px 8px;
      }
      .td,
      .th {
        &:first-child {
          max-width: 66px;
        }
        &:nth-child(2) {
          max-width: 434px;
        }
        &:last-child {
          min-width: 105px;
        }
        @include md {
          &:first-child {
            max-width: 36px;
          }
        }
      }
    }
  }

  &-Timeline {
    .content {
      .lists {
        position: relative;
        padding-left: 60px;
        // &::before {
        //   content: "";
        //   display: inline-block;
        //   position: absolute;
        //   top: 16px;
        //   left: 24px;
        //   width: 1px;
        //   height: calc(100% - 60px);
        //   background-color: var(--color-black-medium);
        // }
        .item {
          position: relative;
          margin-bottom: 31px;
          @include md {
            margin-bottom: 16px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -43px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: var(--color-black-medium);
          }
          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 1px;
            height: calc(100% + 25px);
            background-color: var(--color-black-medium);
            top: 14px;
            left: -36px;
            @include md {
              height: calc(100% + 20px);
            }
          }
          &:last-child {
            &::after {
              content: none;
            }
          }
          .title {
            font-family: var(--selected-font-family);
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            color: var(--white);
            margin-bottom: 8px;
            @include md {
              font-size: 16px;
              line-height: 24px;
            }
            .text-hl {
              color: var(--googly-yellow);
            }
          }
          .des {
            font-family: var(--selected-font-family);
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: var(--concrete);
            margin-bottom: 0;
            @include md {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }

  &-information-heading {
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 16px;
    text-transform: none;
    @include md {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &-information-text {
    font-family: var(--selected-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--concrete);
    margin-bottom: 0;
    @include md {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &-information-list {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }

    &.rules {
      width: 100%;
      padding: 0 0 0 32px;
      list-style-type: disc;
    }
  }

  &-information-item {
    &.additional {
      position: relative;
      padding-left: 12px;

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 5px;
        height: 2px;
        background-color: var(--white-high);
      }
    }

    &.rules {
      font-family: var(--selected-font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
      margin-bottom: 0;
      @include md {
        font-size: 16px;
        line-height: 24px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-About {
    margin: 16px 0 40px;
  }
  &-Prize,
  &-Rules {
    margin-bottom: 40px;
  }
}

// OLD STYLES
.Overview-sectionX {
  display: flex;
  margin-bottom: px2vw-xl(20px);
  padding: px2vw-xl(20px) 0;

  @include lg {
    margin-bottom: px2vw-lg(20px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(20px);
    padding: px2vw-md(20px) 0;
    flex-direction: column;
  }

  @include sm {
    margin-bottom: px2vw-sm(20px);
    padding: px2vw-sm(20px) 0;
  }

  &-text-block {
    margin-right: px2vw-xl(95px);
    border-right: 1px solid var(--black-medium);
    padding-right: px2vw-xl(52px);
    margin-right: px2vw-xl(32px);

    &:last-child {
      border-right: 0px;
    }

    @include lg {
      margin-right: px2vw-lg(95px);
    }

    @include md {
      margin-right: 0;
      width: 100%;
    }
  }

  &-text {
    margin-bottom: px2vw-xl(24px);
    color: var(--black);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }

    &-line {
      max-width: 100px;
    }
  }

  &-text-separator {
    margin: 0 px2vw-xl(4px);

    @include lg {
      margin: 0 px2vw-lg(4px);
    }

    @include md {
      margin: 0 px2vw-md(4px);
    }

    @include sm {
      margin: 0 px2vw-sm(4px);
    }
  }
}

.Overview-sectionY {
  margin-bottom: px2vw-xl(48px);

  @include lg {
    margin-bottom: px2vw-lg(48px);
  }

  @include md {
    margin-bottom: px2vw-md(48px);
  }

  @include sm {
    margin-bottom: px2vw-sm(48px);
  }

  &-title {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-banner {
    margin-bottom: px2vw-xl(15px);

    @include lg {
      margin-bottom: px2vw-lg(15px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
    }
  }

  &-image-block {
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
    background-color: var(--black);
    height: px2vw-xl(200px);
    width: 100%;
    display: flex;

    @include lg {
      height: px2vw-lg(300px);
    }

    @include md {
      height: px2vw-md(300px);
    }

    @include sm {
      height: px2vw-sm(240px);
    }

    img {
      margin: px2vw-xl(30px);
      width: px2vw-xl(120px);
      height: px2vw-xl(120px);

      @include lg {
        margin: px2vw-lg(30px);
        width: px2vw-lg(180px);
        height: px2vw-lg(180px);
      }

      @include md {
        margin: px2vw-md(30px);
        width: px2vw-md(180px);
        height: px2vw-md(180px);
      }

      @include sm {
        margin: px2vw-sm(30px);
        width: px2vw-sm(144px);
        height: px2vw-sm(144px);
      }
    }
  }

  &-sponsors {
    margin-top: px2vw-xl(17px);
    display: flex;
    justify-content: flex-end;

    @include lg {
      margin-top: px2vw-lg(17px);
    }

    @include md {
      margin-top: px2vw-md(17px);
    }

    @include sm {
      margin-top: px2vw-sm(17px);
    }
  }

  &-sponsor-name {
    color: var(--white-high);
    font-size: px2vw-xl(18px);
    margin: px2vw-xl(30px);

    @include lg {
      font-size: px2vw-lg(18px);
      margin: px2vw-lg(30px);
    }

    @include md {
      font-size: px2vw-md(18px);
      margin: px2vw-md(30px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      margin: px2vw-sm(30px);
    }
  }

  &-sponsor-url {
    margin-left: auto;
    margin-top: px2vw-xl(15px);
    margin-right: px2vw-xl(30px);
    color: var(--white-high);
    font-size: px2vw-xl(16px);

    @include lg {
      font-size: px2vw-lg(16px);
      margin-top: px2vw-lg(15px);
      margin-right: px2vw-lg(30px);
    }

    @include md {
      font-size: px2vw-md(16px);
      margin-top: px2vw-md(15px);
      margin-right: px2vw-md(30px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      margin-top: px2vw-sm(15px);
      margin-right: px2vw-sm(30px);
    }
  }

  &-sponsor-link {
    margin-left: px2vw-xl(8px);

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }
  }
}

.Overview-sectionZ {
  &-title {
    margin-bottom: px2vw-xl(32px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-prizes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(32px);
    grid-row-gap: px2vw-xl(32px);

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-prize {
    background-color: var(--white-medium);
    padding: px2vw-xl(40px) px2vw-xl(10px) px2vw-xl(30px);
    text-align: center;

    @include lg {
      padding: px2vw-lg(30px) px2vw-lg(10px);
    }

    @include md {
      padding: px2vw-md(25px) px2vw-md(10px) px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(25px) px2vw-sm(10px) px2vw-sm(20px);
    }
  }

  &-prize-image-block {
    display: inline-block;
    margin-bottom: px2vw-xl(32px);
    width: px2vw-xl(80px);
    height: px2vw-xl(85px);

    @include lg {
      margin-bottom: px2vw-lg(32px);
      width: px2vw-lg(80px);
      height: px2vw-lg(85px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
      width: px2vw-md(80px);
      height: px2vw-md(85px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
      width: px2vw-sm(80px);
      height: px2vw-sm(85px);
    }
  }

  &-prize-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &-prize-reward {
    position: relative;
    margin-bottom: 0;
    padding-bottom: px2vw-xl(18px);
    font-family: "bebas-neue-regular";
    font-size: px2vw-xl(32px);
    line-height: px2vw-xl(48px);

    @include lg {
      padding-bottom: px2vw-lg(18px);
      font-size: px2vw-lg(32px);
      line-height: px2vw-lg(48px);
    }

    @include md {
      padding-bottom: px2vw-md(18px);
      font-size: px2vw-md(32px);
      line-height: px2vw-md(48px);
    }

    @include sm {
      padding-bottom: px2vw-sm(18px);
      font-size: px2vw-sm(32px);
      line-height: px2vw-sm(48px);
    }

    &::before {
      position: absolute;
      content: "";
      left: 45%;
      right: 45%;
      bottom: 0;
      height: 2px;
      background-color: var(--color-primary);
    }
  }

  &-prize-place {
    margin-top: px2vw-xl(16px);
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(24px);
    color: var(--black);
    background-color: var(--color-primary);
    display: inline-flex;
    padding: px2vw-xl(7px);

    @include lg {
      margin-top: px2vw-lg(16px);
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(24px);
      padding: px2vw-xl(7px);
    }

    @include md {
      margin-top: px2vw-md(16px);
      font-size: px2vw-md(16px);
      line-height: px2vw-md(24px);
      padding: px2vw-xl(7px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      padding: px2vw-xl(7px);
    }
  }
}

.img2 {
  position: absolute;
  width: 204px;
  height: 0px;
  left: 116px;
  top: 670px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(173, 167, 167);
  background-color: #29263f;
  padding: 7px 10px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 45px;
  padding-right: 60px;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 1px solid #ada7a7;
    width: calc(100% - 122px);
    transform: translateX(-51%) translateY(-50%);
    z-index: 0;
  }
}

.progressbar li {
  flex-direction: column;
  position: relative;

  .text_part {
    position: absolute;
    bottom: -63px;
    width: 100%;
    left: 0px;
    min-width: 130px;
    display: flex;
    flex-direction: column;
    span {
      font-size: 14px;
    }
    small {
      color: var(--ui-dim-gray);
    }
  }
}

.progressbar li img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 9px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.11);
  border: 1px solid white;
}

.container {
  width: 800px;
  height: 64px;
}
.back {
  position: absolute;
  margin: 30px;
}
