<form [formGroup]="form" (submit)="onSubmitEvent()" class="UpdateForm">
  <div class="UpdateForm-title">{{ data.title | translate }}</div>

  <div *ngIf="data?.subtitle" class="UpdateForm-subtitle">
    {{ data?.subtitle | translate }}
    <span *ngIf="formValue?.mailPhone">{{ formValue.mailPhone }}</span>
  </div>
  <div class="UpdateForm-error" *ngIf="data.error">
    {{ data.error | uppercase | translate }}
  </div>

  <mat-form-field
    class="mesf-MatInputOutline UpdateForm-input"
    appearance="outline"
  >
    <mat-label>{{ data.firstInputPlaceholder | translate }}</mat-label>
    <input
      formControlName="password"
      #firstInput
      matInput
      [type]="data.firstInputType"
    />
    <button
      (click)="onVisibilityToggle(firstInput)"
      type="button"
      matSuffix
      mat-button
    >
      <span class="material-icons"
        >visibility{{ firstInput.type === "text" ? "_off" : "" }}</span
      >
    </button>
    <mat-error *ngIf="form.get('password').hasError('required')">{{
      "LOG_REG.LOGIN.REQUIRED" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('password').hasError('minlength')">{{
      "LOG_REG.REGISTER.VALIDATION1" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('password').hasError('hasNumber')">{{
      "LOG_REG.REGISTER.VALIDATION2" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('password').hasError('hasCapitalCase')">{{
      "LOG_REG.REGISTER.VALIDATION3" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('password').hasError('hasSmallCase')">{{
      "LOG_REG.REGISTER.VALIDATION4" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('password').hasError('hasSpecialCharacters')">{{
      "LOG_REG.REGISTER.VALIDATION5" | translate
    }}</mat-error>
  </mat-form-field>

  <mat-form-field
    class="mesf-MatInputOutline UpdateForm-input"
    appearance="outline"
  >
    <mat-label>{{ data.secondInputPlaceholder | translate }}</mat-label>
    <input
      formControlName="certainPassword"
      #secondInput
      matInput
      [type]="data.secondInputType"
    />
    <button
      (click)="onVisibilityToggle(secondInput)"
      type="button"
      matSuffix
      mat-button
    >
      <span class="material-icons"
        >visibility{{ secondInput.type === "text" ? "_off" : "" }}</span
      >
    </button>
    <mat-error *ngIf="form.get('certainPassword').hasError('required')">{{
      "LOG_REG.LOGIN.REQUIRED" | translate
    }}</mat-error>
    <mat-error *ngIf="form.get('certainPassword').hasError('equalTo')">{{
      "LOG_REG.REGISTER.VALIDATION6" | translate
    }}</mat-error>
  </mat-form-field>

  <div class="UpdateForm-submit">
    <button
      type="submit"
      [class.is-edit]="form.invalid"
      [disabled]="form.invalid"
      class="mesf-EditBtn is-sm"
    >
      {{ data.submitBtn | translate }}
    </button>
  </div>
</form>
