@import "shared";

:host {
  display: block;
}

.UpdateForm {
  text-align: center;

  &-title {
    font-size: px2vw-xl(60px);
    color: var(--orange-color-main);
    font-family: "dynasty-primary-large", sans-serif;

    @include lg {
      font-size: px2vw-lg(60px);
    }

    @include md {
      font-size: px2vw-md(60px);
    }

    @include sm {
      font-size: px2vw-sm(60px);
    }
  }

  &-subtitle {
    font-size: px2vw-xl(26px);
    margin-bottom: px2vw-xl(75px);
    color: var(--whitecolor);
    font-family: "dynasty-primary-semibold", sans-serif;

    @include lg {
      font-size: px2vw-lg(26px);
      margin-bottom: px2vw-lg(75px);
    }

    @include md {
      font-size: px2vw-md(26px);
      margin-bottom: px2vw-md(75px);
    }

    @include sm {
      font-size: px2vw-sm(26px);
      margin-bottom: px2vw-sm(75px);
    }
  }

  &-error {
    margin-bottom: 20px;
    font-size: 16px;
    color: red;
    font-family: "dynasty-primary-semibold", sans-serif;
  }

  &-input {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }

    &.is-forgotPass {
      margin-bottom: px2vw-xl(20px);

      @include lg {
        margin-bottom: px2vw-lg(50px);
      }

      @include md {
        margin-bottom: px2vw-md(50px);
      }

      @include sm {
        margin-bottom: px2vw-sm(50px);
      }
    }
  }

  &-checkbox {
    @extend %u-dfCenterCenter;
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }

    &.is-forgotPass {
      @extend %u-dfCenterBtw;
    }
  }

  &-submit {
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-or {
    margin-bottom: px2vw-xl(33px);
    line-height: px2vw-xl(40px);
    font-size: px2vw-xl(18px);
    font-family: "dynasty-primary-regular", sans-serif;
    opacity: 0.6;

    @include lg {
      margin-bottom: px2vw-lg(33px);
      line-height: px2vw-lg(40px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(33px);
      line-height: px2vw-md(40px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(33px);
      line-height: px2vw-sm(40px);
      font-size: px2vw-sm(18px);
    }
  }

  &-social {
    @extend %u-dfCenterBtw;
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }

    &-btn {
      line-height: px2vw-xl(60px);
      width: px2vw-xl(55px);
      height: px2vw-xl(55px);
      text-align: center;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.6);

      @include lg {
        line-height: px2vw-lg(60px);
        width: px2vw-lg(55px);
        height: px2vw-lg(55px);
      }

      @include md {
        line-height: px2vw-md(60px);
        width: px2vw-md(55px);
        height: px2vw-md(55px);
      }

      @include sm {
        line-height: px2vw-sm(60px);
        width: px2vw-sm(55px);
        height: px2vw-sm(55px);
      }

      fa-icon {
        font-size: px2vw-xl(27px);
        color: #000;

        @include lg {
          font-size: px2vw-lg(27px);
        }

        @include md {
          font-size: px2vw-md(27px);
        }

        @include sm {
          font-size: px2vw-sm(27px);
        }
      }
    }
  }

  &-footer {
    font-size: px2vw-xl(18px);
    letter-spacing: px2vw-xl(0.9px);
    color: #9e9c9c;
    font-family: "dynasty-primary-light", sans-serif;

    @include lg {
      font-size: px2vw-lg(18px);
      letter-spacing: px2vw-lg(0.9px);
    }

    @include md {
      font-size: px2vw-md(18px);
      letter-spacing: px2vw-md(0.9px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      letter-spacing: px2vw-sm(0.9px);
    }

    b {
      color: var(--orange-color-main);
    }
  }
}
