@import "shared";

:host {
    app-awards {
      display: block;
      padding: px2vw-xl(15px);

      @include lg {
        padding: px2vw-lg(15px);
      }
    
      @include md {
        padding: px2vw-md(15px);
      }
    
      @include sm {
        padding: px2vw-sm(15px);
      }
    }
}