<div class="LTC">
  <div class="LTC-container">
    <h4 class="LTC-title">
      {{ "LEADERBOARD.TROPHIES_CARD.LATEST" | translate }}
      {{ type }}
      {{ "LEADERBOARD.TROPHIES_CARD.TROPHIES_WON" | translate }}
    </h4>
    <ul class="LTC-tournaments" *ngIf="tournaments?.length">
      <li class="LTC-tournament" *ngFor="let tournament of tournaments">
        <div class="LTC-tournament-image" [lazyLoad]="tournament.banner"></div>

        <div class="LTC-tournament-info">
          <h3 class="LTC-tournament-title global-Elipses2">
            {{ tournament?.name }}
          </h3>
          <p class="LTC-tournament-game">
            {{ tournament?.game }}
          </p>
        </div>

        <div class="LTC-tournament-trophy">
          <img class="LTC-tournament-trophy-icon" [src]="getTrophyIcon(type)" alt="icon" />
          <span class="LTC-tournament-trophy-place">
            {{ getPlace(type) }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
