<header class="MyStats-header">
  <div class="MyStats-header-title" >{{"PROFILE.MY_STATS.TITLE" | translate}}</div>
</header>
<div class="MyStats-wrap">
  <div class="MyStats-leftContent">
    <section class="MyStats-about">

      <div class="MyStats-about-rate">
        <h1 class="MyStats-about-rate-title">{{ "PROFILE.MY_STATS.LIFETIME_WIN_RATE" | translate }}</h1>
        <h1 class="MyStats-about-rate-subtitle">{{ "MONTH_STATS.CARDS.WIN_RATE" | translate }} <div class="MyStats-about-rate-subtitle-percent">{{statisticsDetails?.winPercent+'%'}}</div></h1>
        <app-bar-chart [statisticsDetails] = "statisticsDetails"></app-bar-chart>
      </div>

      <div class="MyStats-about-rank">
        <h1 class="MyStats-about-rank-title">{{ "PROFILE.MY_STATS.MY_RANK" | translate }}</h1>
        <div class="MyStats-about-rank-content">
          <div class="MyStats-about-rank-content-text">{{"CARDS_STATISTICS.RANK" | translate}}</div>
          <div class="MyStats-about-rank-content-rankNo">{{statisticsDetails?.rank}}</div>
        </div>
      </div>

      <div class="MyStats-about-achievement">
        <h1 class="MyStats-about-achievement-title">
          {{ "PROFILE.MY_STATS.MY_ACHIEVEMENTS" | translate }}
        </h1>
        <app-prizes-statistic [statisticsDetails] = "statisticsDetails" ></app-prizes-statistic>
      </div>
    </section>
  </div>
  <div class="MyStats-rightContent">
    <section class="MyStats-statistic">
      <app-months-statistic (monthData)="monthData($event)" [statisticsDetails] = "statisticsDetails"></app-months-statistic>
    </section>
    <!-- <section class="MyStats-games">
      <h3 class="MyStats-games-title">
        {{ "GAME_STATISTIC.TITLE" | translate }}
      </h3>

      <div class="MyStats-games-cards" *ngIf="games.length">
        <ng-container *ngFor="let game of games">
          <app-game-statistic [data]="game"></app-game-statistic>
        </ng-container>
      </div>
    </section> -->
  </div>
</div>

<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
