<div class="u-wp shop-container">
  <p class="up-small ">
    {{ "HOME.SHOP.TITLE" | translate }}
  </p>
  <h1 class="for_web">
    {{ "HOME.SHOP.For_Web_Content" | translate }} <br />
    {{ "HOME.SHOP.For_Web_Content2" | translate }}
  </h1>
  <h1 class="for_mobile ">{{ "HOME.SHOP.For_Mobile_Content" | translate }}</h1>
  <button class="ArticleMain-hottest-button button-primary visit_theshop" (click)="visitShop()">{{ "HOME.SHOP.Button" | translate }}</button>
</div>
<img src="assets/images/Home/Vector.png" class="vector-image">

<section class="Matchmaking-game">
  <div class="shop-game-cards" *ngIf="shops.length">
    <swiper [config]="config" [index]="selectedGameIndex">
      <div *ngFor="let shop of shops,let i=index" class="shops">
        <div class="shop-card-content" (click)="redirectToupOrVoucher(shop)">

          <app-shop-card [shop]="shop"></app-shop-card>

        </div>
        <div class="shop-card-content d-none d-sm-block" (click)="redirectToupOrVoucher(shop)">

          <app-shop-card [shop]="shop"></app-shop-card>

        </div>
      </div>
    </swiper>
  </div>

  <header class="Matchmaking-game-header">
    <div class="Matchmaking-game-arrows">
      <mat-icon class="Matchmaking-game-arrow" (click)="prevSlide()">
        arrow_left
      </mat-icon>
      <mat-icon class="Matchmaking-game-arrow" (click)="nextSlide()">
        arrow_right
      </mat-icon>
    </div>
  </header>
</section>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
