<div class="ct-HeaderTop">
  <div class="SelectPlatform u-wp">
    <div *ngIf="flag">
      <div class="SelectPlatform-title-div">
        <img src="assets/icons/typeImage.svg" alt=".." class="icon-width" />
        <h2 class="SelectPlatform-title global-Title3">SET TOURNAMENT TYPE</h2>
      </div>
      <div class="SelectPlatform-subtitle-div">
        <p class="SelectPlatform-subtitle">
          Select your platform and tournament format
        </p>
      </div>
      <div class="SelectPlatform-container">
        <h2 class="SelectPlatform-header global-Title3">Select platform</h2>
        <ul class="SelectPlatform-cards">
          <li
            class="SelectPlatform-card"
            *ngFor="let platform of eSportsTournamentService?.getPlatformList"
            (click)="onSelectPlatform(platform?._id)"
            [class.is-active]="platform?._id === Step3?.value?.platform"
          >
            <span
              class="SelectPlatform-card-icon icon"
              [inlineSVG]="platform?.name | platformPipe"
            ></span>

            <p class="SelectPlatform-card-text text global-Text">
              {{ platform.name }}
            </p>
          </li>
        </ul>
      </div>
      <div class="SelectPlatform-container">
        <h2 class="SelectPlatform-header global-Title3">
          {{ "Tournament format" | translate }}
        </h2>
        <ul class="SelectPlatform-cards">
          <li
            class="SelectPlatform-card"
            *ngFor="let platform of tournamentFormat"
            (click)="onSelectFormate(platform?._id)"
            [class.is-active]="platform?._id === Step3?.value?.participantType"
          >
            <span class="SelectPlatform-card-icon icon">
              <ng-container *ngIf="platform.type == 'single'">
                <svg
                  viewBox="-13 0 59 36"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21.8501 8.71879C21.8489 8.90978 21.8418 9.09996 21.8287 9.29047C21.8222 9.38453 21.8123 9.47832 21.8023 9.57211C21.7686 9.89014 21.8434 9.30997 21.7941 9.62451C21.7323 10.0189 21.6318 10.4064 21.5081 10.7856C21.4799 10.8721 21.4485 10.9576 21.4172 11.043C21.3986 11.0936 21.2816 11.38 21.4028 11.0933C21.3325 11.2595 21.2532 11.4217 21.1713 11.5822C20.9946 11.9281 20.7852 12.2565 20.5576 12.5709C20.379 12.8177 20.7169 12.3737 20.527 12.6116C20.4714 12.6813 20.4132 12.749 20.3552 12.8167C20.2391 12.952 20.1159 13.0811 19.9906 13.2079C19.8653 13.3347 19.7333 13.4548 19.5994 13.5725C19.5324 13.6313 19.4633 13.6878 19.3943 13.7443C19.2911 13.8262 19.3015 13.8187 19.4254 13.7217C19.3778 13.7575 19.3298 13.7927 19.2814 13.8273C18.9909 14.0376 18.6822 14.2217 18.365 14.3885C18.2053 14.4725 18.0413 14.5478 17.8761 14.62C18.1608 14.4955 17.8767 14.615 17.8258 14.6345C17.7123 14.6777 17.597 14.716 17.4817 14.7537C17.1311 14.868 16.7706 14.9497 16.4073 15.0113C16.0935 15.0645 16.6725 14.9818 16.3549 15.0196C16.2613 15.0307 16.1674 15.0383 16.0734 15.0459C15.8513 15.064 15.6283 15.0681 15.4056 15.0667C15.2154 15.0655 15.0253 15.0537 14.8357 15.0383C14.7419 15.0307 14.6486 15.0196 14.5551 15.0084C14.8738 15.0463 14.5604 15.0052 14.5041 14.9957C14.1112 14.9291 13.7256 14.8241 13.3486 14.696C13.2625 14.6668 13.1776 14.6345 13.0927 14.6021C12.8038 14.4921 13.3269 14.7073 13.0443 14.5838C12.8792 14.5115 12.7181 14.4305 12.5586 14.3466C12.215 14.1659 11.8892 13.9528 11.5778 13.7216C11.8234 13.904 11.5818 13.722 11.5398 13.6878C11.4708 13.6312 11.4037 13.5724 11.3368 13.5136C11.2028 13.3959 11.0752 13.2713 10.9499 13.1445C10.8245 13.0176 10.706 12.8842 10.5899 12.749C10.5318 12.6813 10.4761 12.6116 10.4204 12.5418C10.6195 12.7911 10.3764 12.4749 10.3416 12.4256C10.1346 12.1324 9.95404 11.8214 9.79095 11.502C9.74998 11.4218 9.71187 11.3401 9.67377 11.2584C9.65065 11.2088 9.53408 10.9248 9.65154 11.2121C9.57123 11.0155 9.50282 10.8143 9.43947 10.6116C9.32927 10.2591 9.25183 9.89705 9.19464 9.53236C9.24444 9.84985 9.1969 9.53524 9.19088 9.4786C9.18089 9.3846 9.17439 9.29027 9.16796 9.196C9.1527 8.9734 9.15134 8.75005 9.15551 8.52704C9.15907 8.33727 9.17316 8.14792 9.19088 7.95904C9.19614 7.90281 9.24061 7.58649 9.19464 7.90528C9.20791 7.81313 9.2246 7.7216 9.24129 7.63007C9.31264 7.23864 9.42223 6.85493 9.55467 6.48006C9.58491 6.39448 9.61829 6.30999 9.65161 6.22558C9.53791 6.51365 9.65113 6.22961 9.67384 6.17927C9.74792 6.01516 9.8309 5.85515 9.91662 5.69685C10.002 5.5391 10.0958 5.38607 10.1921 5.23489C10.2402 5.15944 10.2909 5.08576 10.3416 5.01215C10.3756 4.96283 10.6169 4.64384 10.4205 4.89586C10.6398 4.61443 10.8836 4.35284 11.1401 4.10527C11.2684 3.98138 11.4031 3.8644 11.5398 3.74995C11.581 3.71548 11.8218 3.5305 11.5778 3.71602C11.6726 3.64392 11.7703 3.57572 11.8685 3.50813C12.1642 3.30448 12.4776 3.12757 12.7991 2.96818C12.8799 2.92816 12.9622 2.89095 13.0444 2.85387C13.3255 2.72691 12.8052 2.94903 13.0927 2.83554C13.2905 2.75742 13.4929 2.69147 13.6964 2.63052C13.8727 2.57778 14.0517 2.53482 14.2313 2.49514C14.3218 2.47517 14.413 2.45854 14.5042 2.44192C14.5597 2.4318 14.874 2.38726 14.5552 2.42913C14.9639 2.37543 15.3772 2.36284 15.7888 2.3757C15.9781 2.38158 16.1668 2.39807 16.3549 2.41805C16.673 2.45184 16.0929 2.377 16.4073 2.42632C16.4991 2.44069 16.5903 2.45848 16.6814 2.47626C17.0714 2.55233 17.4532 2.66644 17.8258 2.80318C17.8765 2.82179 18.1629 2.93891 17.8761 2.81762C17.9593 2.85278 18.0412 2.89095 18.123 2.92912C18.2861 3.00513 18.4449 3.08995 18.6021 3.17745C18.7587 3.26467 18.9106 3.36016 19.0605 3.45826C19.1353 3.50724 19.2084 3.55882 19.2814 3.6104C19.3251 3.64132 19.5666 3.82636 19.3246 3.63776C19.606 3.85708 19.8676 4.10089 20.1152 4.35735C20.2391 4.48562 20.3561 4.62038 20.4706 4.75706C20.505 4.79824 20.69 5.03904 20.5044 4.79503C20.5585 4.86617 20.6101 4.93916 20.6616 5.01215C20.8685 5.30528 21.0491 5.61627 21.2122 5.9356C21.2532 6.01591 21.2913 6.09759 21.3294 6.17934C21.3526 6.22893 21.4691 6.51289 21.3516 6.22565C21.4204 6.394 21.48 6.56605 21.5364 6.73891C21.6508 7.08951 21.7324 7.44995 21.7941 7.81327C21.8472 8.12712 21.7646 7.54805 21.8023 7.86567C21.8134 7.95932 21.8211 8.05331 21.8287 8.14723C21.8442 8.33727 21.8489 8.52813 21.8501 8.71879C21.8542 9.37133 22.3915 9.91593 23.0472 9.91593C23.6968 9.91593 24.2485 9.3714 24.2444 8.71879C24.2234 5.36097 22.248 2.17786 19.1674 0.786372C15.9468 -0.668329 12.2012 -0.0694836 9.57752 2.2906C7.05394 4.56073 6.12892 8.30916 7.21559 11.5083C7.74219 13.0585 8.70422 14.4698 9.98564 15.4929C11.3742 16.6015 12.9778 17.2363 14.7419 17.4237C17.175 17.6823 19.6259 16.7661 21.4258 15.147C23.2267 13.5269 24.2293 11.1255 24.2443 8.71879C24.2484 8.06617 23.6967 7.52164 23.0472 7.52164C22.3915 7.52164 21.8542 8.06631 21.8501 8.71879Z"
                    fill="#736CFF"
                  />
                  <path
                    d="M24.1449 17.1609C24.3126 17.2678 24.477 17.379 24.6387 17.4948C24.6705 17.5176 24.9333 17.7195 24.7127 17.547C24.7908 17.6081 24.8668 17.6716 24.9429 17.7351C25.2724 18.0102 25.578 18.3129 25.8664 18.6305C25.9997 18.7772 26.1258 18.9302 26.2494 19.085C26.075 18.8665 26.2782 19.1274 26.3014 19.1592C26.3601 19.2394 26.4161 19.3214 26.472 19.4033C26.7158 19.7602 26.9285 20.1374 27.1201 20.5244C27.1645 20.6142 27.2061 20.7054 27.2475 20.7966C27.3865 21.1019 27.1576 20.5692 27.2834 20.8809C27.3589 21.0683 27.4253 21.2592 27.4884 21.4511C27.627 21.8723 27.728 22.3052 27.8046 22.7416C27.8117 22.7824 27.86 23.1248 27.8222 22.8339C27.8357 22.9375 27.8457 23.0415 27.8556 23.1455C27.8758 23.3556 27.8852 23.5666 27.8912 23.7775C27.8942 23.8865 27.8936 23.9955 27.8936 24.1044C27.8936 25.9437 27.8936 27.7828 27.8936 29.622C27.8936 29.8173 27.8936 30.0126 27.8936 30.2079C27.8936 30.2853 27.8911 30.3236 27.8873 30.4007C27.8718 30.7192 27.9373 30.1458 27.8816 30.4558C27.8652 30.5469 27.8402 30.6362 27.8152 30.7252C27.8003 30.7779 27.6895 31.066 27.8097 30.7819C27.7392 30.9485 27.6458 31.1042 27.546 31.2543C27.3786 31.5065 27.7092 31.0654 27.5125 31.2947C27.4346 31.3855 27.3473 31.4675 27.2592 31.548C27.0359 31.7517 27.4656 31.4065 27.2188 31.5817C27.1453 31.6338 27.0672 31.679 26.9893 31.7241C26.9109 31.7694 26.8285 31.8074 26.7464 31.8452C27.0232 31.7178 26.7451 31.8332 26.6896 31.8507C26.6013 31.8785 26.5107 31.8978 26.4203 31.9171C26.1121 31.9828 26.683 31.8971 26.3652 31.9229C26.2993 31.9282 26.2322 31.9291 26.1661 31.9291C26.0846 31.9291 26.003 31.9291 25.9216 31.9291C24.6636 31.9291 23.4058 31.9291 22.1478 31.9291C17.8663 31.9291 13.5849 31.9291 9.30342 31.9291C7.94558 31.9291 6.58775 31.9291 5.22991 31.9291C5.113 31.9291 4.99603 31.9291 4.87912 31.9291C4.86304 31.9291 4.84696 31.9291 4.83089 31.9291C4.74634 31.9291 4.72301 31.927 4.6388 31.9229C4.32029 31.9073 4.89369 31.9728 4.58373 31.9171C4.49261 31.9008 4.40334 31.8757 4.31434 31.8507C4.25578 31.8333 4.19784 31.814 4.14044 31.7928C4.28499 31.858 4.29655 31.8627 4.17519 31.8073C4.01129 31.7317 3.85874 31.6338 3.71193 31.5295C3.95595 31.7027 3.72192 31.5271 3.67862 31.4875C3.6124 31.4271 3.55186 31.3608 3.49152 31.2947C3.2878 31.0714 3.63299 31.5011 3.45787 31.2543C3.40574 31.1808 3.36052 31.1027 3.31544 31.0248C3.27002 30.9464 3.23212 30.864 3.19429 30.7818C3.32652 31.069 3.18177 30.7001 3.16385 30.6364C3.13874 30.5468 3.12226 30.4552 3.10584 30.3638C3.16139 30.6729 3.115 30.3669 3.11199 30.3052C3.11008 30.2652 3.11042 30.2247 3.11042 30.1846C3.11042 30.0947 3.11042 30.0048 3.11042 29.915C3.11042 28.0487 3.11042 26.1825 3.11042 24.3161C3.11042 23.9949 3.112 23.6748 3.1319 23.3539C3.1384 23.249 3.14846 23.1443 3.15851 23.0398C3.16241 22.9992 3.20838 22.6534 3.1672 22.944C3.19614 22.7394 3.2354 22.5363 3.27795 22.3342C3.369 21.9021 3.49809 21.4786 3.64996 21.0643C3.68464 20.9696 3.72254 20.876 3.7603 20.7825C3.65427 21.0448 3.78397 20.736 3.80045 20.6998C3.88357 20.5175 3.97551 20.3393 4.07026 20.1628C4.27452 19.7823 4.51122 19.4201 4.76624 19.0719C4.9623 18.8042 4.61506 19.259 4.82213 19.0001C4.88411 18.9226 4.94855 18.8471 5.01299 18.7716C5.1418 18.6207 5.27773 18.4761 5.41578 18.3338C5.55389 18.1914 5.69871 18.0557 5.84559 17.9224C5.91906 17.8557 5.99465 17.7914 6.07017 17.7272C6.10807 17.6949 6.44156 17.4328 6.21595 17.605C6.40045 17.4641 6.59226 17.3333 6.78675 17.2067C7.33251 16.8513 7.55805 16.1522 7.21621 15.5688C6.89853 15.0265 6.12572 14.7828 5.57832 15.1393C2.58354 17.0894 0.716064 20.417 0.716064 24.0061C0.716064 25.7709 0.716064 27.5356 0.716064 29.3004C0.716064 30.3024 0.740486 31.2222 1.20512 32.1539C1.87757 33.5021 3.38693 34.3235 4.8653 34.3235C5.86447 34.3235 6.86364 34.3235 7.86281 34.3235C12.1015 34.3235 16.3403 34.3235 20.5791 34.3235C22.1529 34.3235 23.7268 34.3235 25.3007 34.3235C25.5868 34.3235 25.873 34.3235 26.1592 34.3235C27.8983 34.3235 29.413 33.2257 30.0332 31.6207C30.3449 30.8142 30.2879 29.9407 30.2879 29.0932C30.2879 28.0192 30.2879 26.945 30.2879 25.8709C30.2879 25.2442 30.2879 24.6174 30.2879 23.9907C30.2879 22.1369 29.7844 20.3031 28.8574 18.7C28.0088 17.2325 26.7782 16.0026 25.3535 15.0936C24.8028 14.7422 24.0355 14.9768 23.7156 15.523C23.376 16.1025 23.5959 16.8106 24.1449 17.1609Z"
                    fill="#736CFF"
                  />
                </svg>
              </ng-container>
              <ng-container *ngIf="platform.type == 'team'">
                <svg
                  viewBox="0 0 63 35"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M37.8501 8.71879C37.8489 8.90978 37.8418 9.09996 37.8287 9.29047C37.8222 9.38453 37.8123 9.47832 37.8023 9.57211C37.7686 9.89014 37.8434 9.30997 37.7941 9.62451C37.7323 10.0189 37.6318 10.4064 37.5081 10.7856C37.4799 10.8721 37.4485 10.9576 37.4172 11.043C37.3986 11.0936 37.2816 11.38 37.4028 11.0933C37.3325 11.2595 37.2532 11.4217 37.1713 11.5822C36.9946 11.9281 36.7852 12.2565 36.5576 12.5709C36.379 12.8177 36.7169 12.3737 36.527 12.6116C36.4714 12.6813 36.4132 12.749 36.3552 12.8167C36.2391 12.952 36.1159 13.0811 35.9906 13.2079C35.8653 13.3347 35.7333 13.4548 35.5994 13.5725C35.5324 13.6313 35.4633 13.6878 35.3943 13.7443C35.2911 13.8262 35.3015 13.8187 35.4254 13.7217C35.3778 13.7575 35.3298 13.7927 35.2814 13.8273C34.9909 14.0376 34.6822 14.2217 34.365 14.3885C34.2053 14.4725 34.0413 14.5478 33.8761 14.62C34.1608 14.4955 33.8767 14.615 33.8258 14.6345C33.7123 14.6777 33.597 14.716 33.4817 14.7537C33.1311 14.868 32.7706 14.9497 32.4073 15.0113C32.0935 15.0645 32.6725 14.9818 32.3549 15.0196C32.2613 15.0307 32.1674 15.0383 32.0734 15.0459C31.8513 15.064 31.6283 15.0681 31.4056 15.0667C31.2154 15.0655 31.0253 15.0537 30.8357 15.0383C30.7419 15.0307 30.6486 15.0196 30.5551 15.0084C30.8738 15.0463 30.5604 15.0052 30.5041 14.9957C30.1112 14.9291 29.7256 14.8241 29.3486 14.696C29.2625 14.6668 29.1776 14.6345 29.0927 14.6021C28.8038 14.4921 29.3269 14.7073 29.0443 14.5838C28.8792 14.5115 28.7181 14.4305 28.5586 14.3466C28.215 14.1659 27.8892 13.9528 27.5778 13.7216C27.8234 13.904 27.5818 13.722 27.5398 13.6878C27.4708 13.6312 27.4037 13.5724 27.3368 13.5136C27.2028 13.3959 27.0752 13.2713 26.9499 13.1445C26.8245 13.0176 26.706 12.8842 26.5899 12.749C26.5318 12.6813 26.4761 12.6116 26.4204 12.5418C26.6195 12.7911 26.3764 12.4749 26.3416 12.4256C26.1346 12.1324 25.954 11.8214 25.791 11.502C25.75 11.4218 25.7119 11.3401 25.6738 11.2584C25.6506 11.2088 25.5341 10.9248 25.6515 11.2121C25.5712 11.0155 25.5028 10.8143 25.4395 10.6116C25.3293 10.2591 25.2518 9.89705 25.1946 9.53236C25.2444 9.84985 25.1969 9.53524 25.1909 9.4786C25.1809 9.3846 25.1744 9.29027 25.168 9.196C25.1527 8.9734 25.1513 8.75005 25.1555 8.52704C25.1591 8.33727 25.1732 8.14792 25.1909 7.95904C25.1961 7.90281 25.2406 7.58649 25.1946 7.90528C25.2079 7.81313 25.2246 7.7216 25.2413 7.63007C25.3126 7.23864 25.4222 6.85493 25.5547 6.48006C25.5849 6.39448 25.6183 6.30999 25.6516 6.22558C25.5379 6.51365 25.6511 6.22961 25.6738 6.17927C25.7479 6.01516 25.8309 5.85515 25.9166 5.69685C26.002 5.5391 26.0958 5.38607 26.1921 5.23489C26.2402 5.15944 26.2909 5.08576 26.3416 5.01215C26.3756 4.96283 26.6169 4.64384 26.4205 4.89586C26.6398 4.61443 26.8836 4.35284 27.1401 4.10527C27.2684 3.98138 27.4031 3.8644 27.5398 3.74995C27.581 3.71548 27.8218 3.5305 27.5778 3.71602C27.6726 3.64392 27.7703 3.57572 27.8685 3.50813C28.1642 3.30448 28.4776 3.12757 28.7991 2.96818C28.8799 2.92816 28.9622 2.89095 29.0444 2.85387C29.3255 2.72691 28.8052 2.94903 29.0927 2.83554C29.2905 2.75742 29.4929 2.69147 29.6964 2.63052C29.8727 2.57778 30.0517 2.53482 30.2313 2.49514C30.3218 2.47517 30.413 2.45854 30.5042 2.44192C30.5597 2.4318 30.874 2.38726 30.5552 2.42913C30.9639 2.37543 31.3772 2.36284 31.7888 2.3757C31.9781 2.38158 32.1668 2.39807 32.3549 2.41805C32.673 2.45184 32.0929 2.377 32.4073 2.42632C32.4991 2.44069 32.5903 2.45848 32.6814 2.47626C33.0714 2.55233 33.4532 2.66644 33.8258 2.80318C33.8765 2.82179 34.1629 2.93891 33.8761 2.81762C33.9593 2.85278 34.0412 2.89095 34.123 2.92912C34.2861 3.00513 34.4449 3.08995 34.6021 3.17745C34.7587 3.26467 34.9106 3.36016 35.0605 3.45826C35.1353 3.50724 35.2084 3.55882 35.2814 3.6104C35.3251 3.64132 35.5666 3.82636 35.3246 3.63776C35.606 3.85708 35.8676 4.10089 36.1152 4.35735C36.2391 4.48562 36.3561 4.62038 36.4706 4.75706C36.505 4.79824 36.69 5.03904 36.5044 4.79503C36.5585 4.86617 36.6101 4.93916 36.6616 5.01215C36.8685 5.30528 37.0491 5.61627 37.2122 5.9356C37.2532 6.01591 37.2913 6.09759 37.3294 6.17934C37.3526 6.22893 37.4691 6.51289 37.3516 6.22565C37.4204 6.394 37.48 6.56605 37.5364 6.73891C37.6508 7.08951 37.7324 7.44995 37.7941 7.81327C37.8472 8.12712 37.7646 7.54805 37.8023 7.86567C37.8134 7.95932 37.8211 8.05331 37.8287 8.14723C37.8442 8.33727 37.8489 8.52813 37.8501 8.71879C37.8542 9.37133 38.3915 9.91593 39.0472 9.91593C39.6968 9.91593 40.2485 9.3714 40.2444 8.71879C40.2234 5.36097 38.248 2.17786 35.1674 0.786372C31.9468 -0.668329 28.2012 -0.0694836 25.5775 2.2906C23.0539 4.56073 22.1289 8.30916 23.2156 11.5083C23.7422 13.0585 24.7042 14.4698 25.9856 15.4929C27.3742 16.6015 28.9778 17.2363 30.7419 17.4237C33.175 17.6823 35.6259 16.7661 37.4258 15.147C39.2267 13.5269 40.2293 11.1255 40.2443 8.71879C40.2484 8.06617 39.6967 7.52164 39.0472 7.52164C38.3915 7.52164 37.8542 8.06631 37.8501 8.71879Z"
                    fill="#736CFF"
                  />
                  <path
                    d="M40.1449 17.1609C40.3126 17.2678 40.477 17.379 40.6387 17.4948C40.6705 17.5176 40.9333 17.7195 40.7127 17.547C40.7908 17.6081 40.8668 17.6716 40.9429 17.7351C41.2724 18.0102 41.578 18.3129 41.8664 18.6305C41.9997 18.7772 42.1258 18.9302 42.2494 19.085C42.075 18.8665 42.2782 19.1274 42.3014 19.1592C42.3601 19.2394 42.4161 19.3214 42.472 19.4033C42.7158 19.7602 42.9285 20.1374 43.1201 20.5244C43.1645 20.6142 43.2061 20.7054 43.2475 20.7966C43.3865 21.1019 43.1576 20.5692 43.2834 20.8809C43.3589 21.0683 43.4253 21.2592 43.4884 21.4511C43.627 21.8723 43.728 22.3052 43.8046 22.7416C43.8117 22.7824 43.86 23.1248 43.8222 22.8339C43.8357 22.9375 43.8457 23.0415 43.8556 23.1455C43.8758 23.3556 43.8852 23.5666 43.8912 23.7775C43.8942 23.8865 43.8936 23.9955 43.8936 24.1044C43.8936 25.9437 43.8936 27.7828 43.8936 29.622C43.8936 29.8173 43.8936 30.0126 43.8936 30.2079C43.8936 30.2853 43.8911 30.3236 43.8873 30.4007C43.8718 30.7192 43.9373 30.1458 43.8816 30.4558C43.8652 30.5469 43.8402 30.6362 43.8152 30.7252C43.8003 30.7779 43.6895 31.066 43.8097 30.7819C43.7392 30.9485 43.6458 31.1042 43.546 31.2543C43.3786 31.5065 43.7092 31.0654 43.5125 31.2947C43.4346 31.3855 43.3473 31.4675 43.2592 31.548C43.0359 31.7517 43.4656 31.4065 43.2188 31.5817C43.1453 31.6338 43.0672 31.679 42.9893 31.7241C42.9109 31.7694 42.8285 31.8074 42.7464 31.8452C43.0232 31.7178 42.7451 31.8332 42.6896 31.8507C42.6013 31.8785 42.5107 31.8978 42.4203 31.9171C42.1121 31.9828 42.683 31.8971 42.3652 31.9229C42.2993 31.9282 42.2322 31.9291 42.1661 31.9291C42.0846 31.9291 42.003 31.9291 41.9216 31.9291C40.6636 31.9291 39.4058 31.9291 38.1478 31.9291C33.8663 31.9291 29.5849 31.9291 25.3034 31.9291C23.9456 31.9291 22.5877 31.9291 21.2299 31.9291C21.113 31.9291 20.996 31.9291 20.8791 31.9291C20.863 31.9291 20.847 31.9291 20.8309 31.9291C20.7463 31.9291 20.723 31.927 20.6388 31.9229C20.3203 31.9073 20.8937 31.9728 20.5837 31.9171C20.4926 31.9008 20.4033 31.8757 20.3143 31.8507C20.2558 31.8333 20.1978 31.814 20.1404 31.7928C20.285 31.858 20.2966 31.8627 20.1752 31.8073C20.0113 31.7317 19.8587 31.6338 19.7119 31.5295C19.9559 31.7027 19.7219 31.5271 19.6786 31.4875C19.6124 31.4271 19.5519 31.3608 19.4915 31.2947C19.2878 31.0714 19.633 31.5011 19.4579 31.2543C19.4057 31.1808 19.3605 31.1027 19.3154 31.0248C19.27 30.9464 19.2321 30.864 19.1943 30.7818C19.3265 31.069 19.1818 30.7001 19.1638 30.6364C19.1387 30.5468 19.1223 30.4552 19.1058 30.3638C19.1614 30.6729 19.115 30.3669 19.112 30.3052C19.1101 30.2652 19.1104 30.2247 19.1104 30.1846C19.1104 30.0947 19.1104 30.0048 19.1104 29.915C19.1104 28.0487 19.1104 26.1825 19.1104 24.3161C19.1104 23.9949 19.112 23.6748 19.1319 23.3539C19.1384 23.249 19.1485 23.1443 19.1585 23.0398C19.1624 22.9992 19.2084 22.6534 19.1672 22.944C19.1961 22.7394 19.2354 22.5363 19.278 22.3342C19.369 21.9021 19.4981 21.4786 19.65 21.0643C19.6846 20.9696 19.7225 20.876 19.7603 20.7825C19.6543 21.0448 19.784 20.736 19.8005 20.6998C19.8836 20.5175 19.9755 20.3393 20.0703 20.1628C20.2745 19.7823 20.5112 19.4201 20.7662 19.0719C20.9623 18.8042 20.6151 19.259 20.8221 19.0001C20.8841 18.9226 20.9486 18.8471 21.013 18.7716C21.1418 18.6207 21.2777 18.4761 21.4158 18.3338C21.5539 18.1914 21.6987 18.0557 21.8456 17.9224C21.9191 17.8557 21.9946 17.7914 22.0702 17.7272C22.1081 17.6949 22.4416 17.4328 22.2159 17.605C22.4004 17.4641 22.5923 17.3333 22.7867 17.2067C23.3325 16.8513 23.5581 16.1522 23.2162 15.5688C22.8985 15.0265 22.1257 14.7828 21.5783 15.1393C18.5835 17.0894 16.7161 20.417 16.7161 24.0061C16.7161 25.7709 16.7161 27.5356 16.7161 29.3004C16.7161 30.3024 16.7405 31.2222 17.2051 32.1539C17.8776 33.5021 19.3869 34.3235 20.8653 34.3235C21.8645 34.3235 22.8636 34.3235 23.8628 34.3235C28.1015 34.3235 32.3403 34.3235 36.5791 34.3235C38.1529 34.3235 39.7268 34.3235 41.3007 34.3235C41.5868 34.3235 41.873 34.3235 42.1592 34.3235C43.8983 34.3235 45.413 33.2257 46.0332 31.6207C46.3449 30.8142 46.2879 29.9407 46.2879 29.0932C46.2879 28.0192 46.2879 26.945 46.2879 25.8709C46.2879 25.2442 46.2879 24.6174 46.2879 23.9907C46.2879 22.1369 45.7844 20.3031 44.8574 18.7C44.0088 17.2325 42.7782 16.0026 41.3535 15.0936C40.8028 14.7422 40.0355 14.9768 39.7156 15.523C39.376 16.1025 39.5959 16.8106 40.1449 17.1609Z"
                    fill="#736CFF"
                  />
                  <path
                    d="M56.6697 15.3757C56.6679 15.5654 56.6573 15.7535 56.6374 15.9421C56.6708 15.6244 56.6345 15.933 56.6239 15.9912C56.6073 16.0817 56.5857 16.1712 56.5641 16.2606C56.5213 16.4376 56.4637 16.6107 56.4015 16.7816C56.2963 17.0705 56.5091 16.5489 56.3833 16.8284C56.3342 16.9374 56.2781 17.0432 56.2212 17.1482C56.1362 17.3051 56.0384 17.4548 55.937 17.6014C55.7645 17.8506 56.0985 17.4063 55.9087 17.6422C55.8531 17.7114 55.7937 17.7776 55.7344 17.8436C55.6158 17.9758 55.4866 18.0981 55.3545 18.2167C55.2884 18.276 55.2191 18.3318 55.1499 18.3874C55.3984 18.1876 55.0826 18.4257 55.0311 18.46C54.8822 18.5591 54.7256 18.6458 54.5669 18.7281C54.4872 18.7694 54.4052 18.8064 54.3232 18.8433C54.6061 18.7159 54.3265 18.8361 54.2734 18.8555C54.1019 18.918 53.9256 18.9658 53.7483 19.0087C53.6587 19.0303 53.5678 19.0469 53.4772 19.0635C53.3412 19.0849 53.3551 19.0838 53.519 19.0604C53.4569 19.0676 53.3945 19.0734 53.3321 19.0783C53.1426 19.0946 52.9519 19.0945 52.7618 19.0891C52.6674 19.0864 52.5733 19.0783 52.4793 19.0702C52.1619 19.043 52.7401 19.1144 52.428 19.0635C52.2466 19.0339 52.068 18.989 51.8912 18.9392C51.8037 18.9146 51.7176 18.885 51.6317 18.8555C51.5749 18.8354 51.5184 18.8142 51.4623 18.792C51.6091 18.8558 51.6216 18.8606 51.4998 18.8063C51.3365 18.7327 51.1794 18.6458 51.0252 18.5548C50.9484 18.5095 50.8741 18.46 50.7999 18.4107C50.7547 18.3807 50.5122 18.1991 50.7552 18.3875C50.4508 18.1515 50.1817 17.8725 49.9407 17.573C50.1326 17.8115 49.949 17.5739 49.9175 17.5283C49.8667 17.455 49.82 17.379 49.7734 17.303C49.6795 17.1504 49.5984 16.9903 49.5219 16.8284C49.3909 16.5513 49.6142 17.0686 49.5036 16.7816C49.4709 16.697 49.4431 16.6106 49.4152 16.5243C49.3495 16.3204 49.303 16.1109 49.2647 15.9003C49.2078 15.5891 49.2912 16.1658 49.2579 15.849C49.248 15.7551 49.2435 15.6608 49.239 15.5665C49.23 15.3764 49.2372 15.1859 49.2498 14.9962C49.2537 14.939 49.2956 14.6236 49.2497 14.9428C49.2628 14.8512 49.2812 14.7605 49.2996 14.6699C49.3418 14.461 49.4035 14.2565 49.4726 14.055C49.4905 14.0028 49.6076 13.7188 49.4849 14.0052C49.5203 13.9226 49.5603 13.8421 49.6001 13.7616C49.6794 13.6014 49.7718 13.448 49.8682 13.2975C49.9162 13.2224 49.9682 13.1501 50.0202 13.0779C49.8422 13.3252 50.0172 13.0846 50.0533 13.0412C50.1861 12.8821 50.333 12.7353 50.4846 12.5942C50.5496 12.5337 50.6178 12.4767 50.6861 12.4199C50.7888 12.3376 50.7783 12.3455 50.6545 12.4436C50.7023 12.4085 50.7508 12.3743 50.7999 12.341C50.9714 12.2223 51.1533 12.1194 51.3383 12.0235C51.418 11.9822 51.5 11.9452 51.5819 11.9084C51.2874 12.041 51.6577 11.8872 51.7175 11.8666C51.9489 11.7872 52.1877 11.732 52.428 11.6881C52.7392 11.6312 52.1625 11.7147 52.4793 11.6814C52.6048 11.6682 52.731 11.6634 52.857 11.6598C53.0781 11.6535 53.2993 11.668 53.519 11.6912C53.2013 11.6578 53.5099 11.694 53.5682 11.7047C53.6888 11.7267 53.8077 11.7566 53.9261 11.7876C54.0435 11.8183 54.1587 11.8567 54.2734 11.8961C54.3303 11.9162 54.3867 11.9373 54.4428 11.9595C54.296 11.8958 54.2835 11.8911 54.4053 11.9453C54.5958 12.0311 54.778 12.1342 54.956 12.2435C55.0318 12.2902 55.1052 12.3409 55.1784 12.3917C55.2847 12.4697 55.2751 12.4605 55.1499 12.3642C55.1964 12.4009 55.2422 12.4384 55.2874 12.4768C55.4465 12.6096 55.5933 12.7564 55.7344 12.908C55.8151 12.9948 55.8902 13.0864 55.9644 13.1787C55.7645 12.9302 56.0027 13.246 56.037 13.2975C56.1527 13.4714 56.2523 13.6552 56.3449 13.8421C56.3697 13.8923 56.486 14.1732 56.3691 13.8857C56.4146 13.9977 56.4528 14.1124 56.4899 14.2274C56.5557 14.4313 56.6021 14.6408 56.6405 14.8514C56.6619 14.9874 56.6608 14.9734 56.6375 14.8095C56.6446 14.8717 56.6505 14.9339 56.6554 14.9964C56.6662 15.1224 56.6686 15.2492 56.6697 15.3757C56.6759 16.0282 57.2096 16.5729 57.8669 16.5729C58.5148 16.5729 59.0702 16.0283 59.064 15.3757C59.0474 13.6319 58.3053 11.9306 56.9804 10.7836C55.5484 9.54397 53.7379 9.09775 51.8831 9.36427C50.1772 9.60937 48.6666 10.7359 47.7528 12.164C46.805 13.6448 46.5979 15.5837 47.1345 17.2472C47.5818 18.6336 48.5194 19.7938 49.7409 20.5754C51.0208 21.3945 52.5433 21.5996 54.0221 21.3871C56.9265 20.9697 59.0368 18.2324 59.064 15.3757C59.0702 14.7231 58.5148 14.1786 57.8669 14.1786C57.2096 14.1786 56.6759 14.7232 56.6697 15.3757Z"
                    fill="#736CFF"
                  />
                  <path
                    d="M58.371 21.2339C58.4542 21.2873 58.5361 21.3419 58.6175 21.3979C58.6512 21.4211 58.9111 21.6214 58.6902 21.4471C58.8446 21.569 58.99 21.702 59.1318 21.8382C59.2736 21.9744 59.4054 22.1208 59.5334 22.2701C59.5602 22.3014 59.7587 22.5615 59.5901 22.3369C59.6689 22.442 59.7419 22.5516 59.8138 22.6616C59.9222 22.8274 60.0181 23.0008 60.1096 23.1763C60.1556 23.2644 60.1972 23.3548 60.2387 23.4451C60.1199 23.1868 60.2546 23.4889 60.2698 23.5287C60.3417 23.717 60.3993 23.9103 60.4519 24.1047C60.4784 24.203 60.5 24.3024 60.5215 24.4017C60.5329 24.4544 60.6003 24.8882 60.5618 24.5902C60.6739 25.4583 60.6056 26.3719 60.6056 27.2441C60.6056 27.7632 60.6056 28.2823 60.6056 28.8014C60.6056 28.9528 60.6056 29.1041 60.6056 29.2556C60.6056 29.2897 60.6056 29.3238 60.6056 29.3579C60.6056 29.3624 60.6056 29.367 60.6056 29.3714C60.6056 29.4344 60.6025 29.4972 60.5964 29.5599C60.6202 29.3953 60.6187 29.38 60.5921 29.5142C60.5788 29.5736 60.4693 29.8498 60.5925 29.5682C60.5568 29.6498 60.5097 29.726 60.4629 29.8017C60.3077 30.053 60.6289 29.6192 60.4305 29.8367C60.3902 29.881 60.1643 30.064 60.4063 29.8815C60.3352 29.935 60.2571 29.9784 60.1795 30.0214C59.9192 30.1658 60.4184 29.9431 60.1332 30.0365C60.0724 30.0565 59.7768 30.1037 60.0912 30.065C60.034 30.072 59.9577 30.0742 59.9004 30.0742C59.7703 30.0742 59.6401 30.0742 59.51 30.0742C56.1002 30.0742 52.6904 30.0742 49.2805 30.0742C49.2712 30.0742 49.2619 30.0742 49.2526 30.0742C48.5999 30.0742 48.0554 30.6188 48.0554 31.2714C48.0554 31.924 48.5999 32.4685 49.2526 32.4685C52.5996 32.4685 55.9466 32.4685 59.2935 32.4685C60.1372 32.4685 60.973 32.4331 61.6854 31.8955C62.492 31.287 62.9999 30.3936 62.9999 29.3655C62.9999 29.0701 62.9999 28.7748 62.9999 28.4794C62.9999 27.4938 62.9999 26.5083 62.9999 25.5226C62.9999 24.0163 62.6226 22.5454 61.7721 21.289C61.1923 20.4328 60.4487 19.7247 59.5796 19.1668C59.0299 18.8138 58.261 19.0512 57.9417 19.5962C57.6013 20.1768 57.823 20.8821 58.371 21.2339Z"
                    fill="#736CFF"
                  />
                  <path
                    d="M13.768 15.3757C13.7662 15.5654 13.7555 15.7535 13.7357 15.9421C13.7691 15.6244 13.7328 15.933 13.7221 15.9912C13.7057 16.0817 13.684 16.1712 13.6624 16.2606C13.6197 16.4376 13.5621 16.6107 13.4998 16.7816C13.3945 17.0705 13.6074 16.5489 13.4815 16.8284C13.4324 16.9374 13.3764 17.0432 13.3195 17.1482C13.2345 17.3051 13.1368 17.4548 13.0353 17.6014C12.8628 17.8506 13.1968 17.4063 13.0071 17.6422C12.9514 17.7114 12.892 17.7776 12.8327 17.8436C12.7141 17.9758 12.5849 18.0981 12.4528 18.2167C12.3867 18.276 12.3174 18.3318 12.2482 18.3874C12.4967 18.1876 12.1809 18.4257 12.1293 18.46C11.9805 18.5591 11.8238 18.6458 11.6652 18.7281C11.5854 18.7694 11.5035 18.8064 11.4216 18.8433C11.7044 18.7159 11.4248 18.8361 11.3717 18.8555C11.2003 18.918 11.0239 18.9658 10.8467 19.0087C10.757 19.0303 10.6662 19.0469 10.5755 19.0635C10.4395 19.0849 10.4535 19.0838 10.6174 19.0604C10.5552 19.0676 10.4929 19.0734 10.4305 19.0783C10.2408 19.0946 10.0502 19.0945 9.86022 19.0891C9.76582 19.0864 9.67169 19.0783 9.57763 19.0702C9.26021 19.043 9.83847 19.1144 9.52632 19.0635C9.3449 19.0339 9.16636 18.989 8.98959 18.9392C8.9021 18.9146 8.81604 18.885 8.73012 18.8555C8.6732 18.8354 8.61677 18.8142 8.56067 18.792C8.70747 18.8558 8.72006 18.8606 8.59823 18.8063C8.4348 18.7327 8.2778 18.6458 8.12361 18.5548C8.04679 18.5095 7.9725 18.46 7.89834 18.4107C7.85319 18.3807 7.61062 18.1991 7.8536 18.3875C7.54919 18.1515 7.28014 17.8725 7.03907 17.573C7.23102 17.8115 7.04748 17.5739 7.01594 17.5283C6.96519 17.455 6.91846 17.379 6.87181 17.303C6.77795 17.1504 6.69682 16.9903 6.62034 16.8284C6.48934 16.5513 6.71269 17.0686 6.60207 16.7816C6.56944 16.697 6.5416 16.6106 6.51376 16.5243C6.44802 16.3204 6.40157 16.1109 6.36313 15.9003C6.30628 15.5891 6.38974 16.1658 6.35635 15.849C6.3465 15.7551 6.34199 15.6608 6.33754 15.5665C6.32844 15.3764 6.33569 15.1859 6.34835 14.9962C6.35218 14.939 6.39405 14.6236 6.34821 14.9428C6.36135 14.8512 6.37968 14.7605 6.39808 14.6699C6.44029 14.461 6.50206 14.2565 6.57115 14.055C6.58908 14.0028 6.70612 13.7188 6.5834 14.0052C6.61877 13.9226 6.65872 13.8421 6.69853 13.7616C6.77795 13.6014 6.8703 13.448 6.96655 13.2975C7.01458 13.2224 7.06664 13.1501 7.11863 13.0779C6.9407 13.3252 7.11555 13.0846 7.1518 13.0412C7.28458 12.8821 7.43146 12.7353 7.58305 12.5942C7.64811 12.5337 7.71631 12.4767 7.78451 12.4199C7.88726 12.3376 7.87673 12.3455 7.75298 12.4436C7.80086 12.4085 7.84929 12.3743 7.89841 12.341C8.06991 12.2223 8.25174 12.1194 8.43672 12.0235C8.51648 11.9822 8.59843 11.9452 8.68032 11.9084C8.38575 12.041 8.75618 11.8872 8.8159 11.8666C9.04719 11.7872 9.28607 11.732 9.52639 11.6881C9.83751 11.6312 9.2609 11.7147 9.5777 11.6814C9.70316 11.6682 9.82937 11.6634 9.95538 11.6598C10.1765 11.6535 10.3976 11.668 10.6174 11.6912C10.2997 11.6578 10.6083 11.694 10.6666 11.7047C10.7871 11.7267 10.906 11.7566 11.0245 11.7876C11.1419 11.8183 11.2571 11.8567 11.3718 11.8961C11.4288 11.9162 11.4852 11.9373 11.5413 11.9595C11.3945 11.8958 11.3819 11.8911 11.5037 11.9453C11.6943 12.0311 11.8766 12.1342 12.0543 12.2435C12.1303 12.2902 12.2036 12.3409 12.2769 12.3917C12.383 12.4697 12.3735 12.4605 12.2484 12.3642C12.2949 12.4009 12.3406 12.4384 12.3858 12.4768C12.5449 12.6096 12.6918 12.7564 12.8328 12.908C12.9136 12.9948 12.9887 13.0864 13.063 13.1787C12.8631 12.9302 13.1012 13.246 13.1355 13.2975C13.2512 13.4714 13.3508 13.6552 13.4434 13.8421C13.4683 13.8923 13.5844 14.1732 13.4675 13.8857C13.5131 13.9977 13.5513 14.1124 13.5883 14.2274C13.6541 14.4313 13.7005 14.6408 13.739 14.8514C13.7603 14.9874 13.7592 14.9734 13.7359 14.8095C13.743 14.8717 13.749 14.9339 13.7537 14.9964C13.7643 15.1224 13.7667 15.2492 13.768 15.3757C13.7742 16.0282 14.3079 16.5729 14.9651 16.5729C15.613 16.5729 16.1685 16.0283 16.1623 15.3757C16.1456 13.6319 15.4035 11.9306 14.0787 10.7836C12.6468 9.54397 10.8362 9.09775 8.98138 9.36427C7.27555 9.60937 5.76496 10.7359 4.8511 12.164C3.90344 13.6448 3.6963 15.5837 4.23289 17.2472C4.68015 18.6336 5.61768 19.7938 6.83925 20.5754C8.11916 21.3945 9.64166 21.5996 11.1204 21.3871C14.0248 20.9697 16.1351 18.2324 16.1623 15.3757C16.1686 14.7231 15.6131 14.1786 14.9652 14.1786C14.3078 14.1786 13.7742 14.7232 13.768 15.3757Z"
                    fill="#736CFF"
                  />
                  <path
                    d="M13.7516 30.074C10.4046 30.074 7.05755 30.074 3.71047 30.074C3.52276 30.074 3.33505 30.074 3.14733 30.074C3.04739 30.074 2.75426 30.0296 3.04787 30.0805C2.95805 30.0649 2.87117 30.0365 2.78484 30.0081C3.06271 30.0992 2.81035 30.0134 2.74653 29.978C2.69043 29.9469 2.47119 29.7677 2.70124 29.9586C2.64809 29.9145 2.40209 29.6243 2.59117 29.8748C2.53754 29.8037 2.49424 29.7256 2.45121 29.648C2.3068 29.3878 2.52954 29.8869 2.43609 29.6017C2.41619 29.541 2.36892 29.2453 2.40764 29.5597C2.40107 29.5063 2.3984 29.4233 2.3984 29.3698C2.3984 29.2806 2.3984 29.1914 2.3984 29.1022C2.3984 28.6414 2.3984 28.1806 2.3984 27.7198C2.3984 26.9203 2.3984 26.1209 2.3984 25.3214C2.3984 25.1098 2.41106 24.8991 2.4311 24.6887C2.464 24.3431 2.38923 24.9354 2.44546 24.5953C2.46223 24.4938 2.48418 24.3932 2.50614 24.2926C2.54965 24.0936 2.60828 23.8981 2.67169 23.7047C2.70316 23.6088 2.73948 23.5145 2.77574 23.4202C2.67306 23.687 2.8356 23.295 2.85851 23.2476C2.94546 23.0679 3.04575 22.8951 3.15 22.725C3.20199 22.6403 3.25809 22.5582 3.31418 22.4761C3.33648 22.4434 3.53651 22.1801 3.36405 22.4001C3.62906 22.0621 3.93724 21.7598 4.26683 21.4853C4.52056 21.2739 4.07221 21.6257 4.33942 21.4313C4.41973 21.3728 4.50291 21.3183 4.58596 21.2639C5.13062 20.907 5.35795 20.2107 5.01543 19.626C4.69842 19.0849 3.9239 18.8385 3.37753 19.1966C1.79627 20.2327 0.634426 21.807 0.197297 23.6562C-0.0445261 24.679 0.0039753 25.7315 0.0039753 26.7732C0.0039753 27.6348 0.0039753 28.4963 0.0039753 29.3578C0.0039753 31.0751 1.42988 32.4684 3.13762 32.4684C6.55379 32.4684 9.97003 32.4684 13.3862 32.4684C13.5079 32.4684 13.6297 32.4684 13.7514 32.4684C14.404 32.4684 14.9486 31.9239 14.9486 31.2712C14.9486 30.6186 14.4042 30.074 13.7516 30.074Z"
                    fill="#736CFF"
                  />
                </svg>
              </ng-container>
            </span>
            <!-- <img class="SelectPlatform-card-icon icon" [src]="platform.icon" /> -->

            <p class="SelectPlatform-card-text text global-Text">
              {{ platform.name }}
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="this.Step3.get('participantType').value == 'team'">
      <div class="SelectPlatform-container">
        <h2 class="SelectPlatform-title global-Title3">Team Format</h2>
        <ul class="SelectPlatform-cards">
          <li
            class="SelectPlatform-card"
            *ngFor="let platform of teamFormat"
            (click)="onSelectTeamFormate(platform?.id)"
            [class.is-active]="platform?.id === Step3?.value?.teamFormat"
          >
            <span
              class="SelectPlatform-card-icon icon"
              [inlineSVG]="platform.icon | platformPipe"
            >
            </span>
            <p class="SelectPlatform-card-text text global-Text">
              {{ platform.name }}
            </p>
          </li>
        </ul>
        <div *ngIf="isTeamSize" class="xConfigure">
          <!-- <label style="color: rgba(255, 255, 255, 0.6)">
            Configure x vs x (x - no. of team members per team)
          </label>
          <br /> -->
          <!-- <mat-form-field style="width: 240px" class="global-MatField mt-3" appearance="outline">
            <mat-label> Team Size </mat-label>
            <input matInput type="number" [formControl]="Step3.controls['teamSize']" />
          </mat-form-field> -->
          <app-counter
            title="Configure x vs x (x - no. of team members per team)"
            [customFormControlName]="'teamSize'"
            [customFormGroup]="Step3"
          ></app-counter>
        </div>
      </div>
    </div>
    <div class="SelectPlatform-switcher-container">
      <app-page-switcher
        [step]="Step3?.value?.step"
        (onStepChange)="onStepChange($event)"
        (handleBackClic)="handleBackClick($event)"
      ></app-page-switcher>
    </div>
  </div>
</div>
