@import "../../../styles.scss";

.footer_logo_text {
  width: 80%;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer_main {
  background-color: var(--color-blackshade1);
  padding: px2vw-xl(48px) 0 0 0;
  @include xxl {
    padding: px2vw-xxl(48px) 0 0 0;
  }
  @include lg {
    padding: px2vw-lg(48px) 0 0 0;
  }
  @include md {
    padding: px2vw-md(30px) 0 px2vw-md(30px) 0;
    .footer_reverse {
      flex-direction: column-reverse;
    }
  }
  @include sm {
    padding: px2vw-sm(30px) 0 px2vw-sm(30px) 0;
  }
}
.footer_logo_container {
  margin-top: 5%;
  margin-left: 5%;
  align-items: center;
  .single-logo-img {
    margin-right: px2vw-xl(15px);
    @include xxl {
      margin-right: px2vw-xxl(15px);
    }
    @include lg {
      margin-right: px2vw-lg(15px);
    }
    @include md {
      margin-right: px2vw-md(15px);
    }
    @include sm {
      margin-right: px2vw-sm(15px);
    }
  }
}
.footer_social_media_container {
  margin-left: 5%;
  margin-bottom: 2%;
  align-items: center;
}
.footer_social_media_text {
  font-family: "maxis-bold";
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(16px);
  letter-spacing: px2vw-xl(0.5px);
  text-transform: uppercase;
  color: var(--white-medium);
  margin-bottom: px2vw-xl(16px);
  @include xxl {
    font-size: px2vw-xxl(14px);
    line-height: px2vw-xxl(16px);
    letter-spacing: px2vw-xxl(0.5px);
    margin-bottom: px2vw-xxl(16px);
  }
  @include lg {
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(16px);
    letter-spacing: px2vw-lg(0.5px);
    margin-bottom: px2vw-lg(16px);
  }
  @include md {
    font-size: px2vw-md(14px);
    line-height: px2vw-md(16px);
    letter-spacing: px2vw-md(0.5px);
    margin-bottom: px2vw-md(16px);
  }
  @include sm {
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(16px);
    letter-spacing: px2vw-sm(0.5px);
    margin-bottom: px2vw-sm(16px);
  }
}
hr {
  background: var(--white-light);
}
.footer_copyright_container {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: right;
  padding-left: 0;
  @include md {
    text-align: left;
  }
}
.footer_copyright_container_2 {
  margin-top: 2%;
  margin-bottom: 2%;
  padding-right: 0;
}

.footer_copyright_text {
  font-family: "maxis-semibold";
  letter-spacing: px2vw-xl(0.25px);
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(20px);
  color: var(--white-high);
  @include xxl {
    font-size: px2vw-xxl(14px);
    line-height: px2vw-xxl(20px);
    letter-spacing: px2vw-xxl(0.25px);
  }
  @include lg {
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(20px);
    letter-spacing: px2vw-lg(0.25px);
  }
  @include md {
    font-size: px2vw-md(14px);
    line-height: px2vw-md(20px);
    letter-spacing: px2vw-md(0.25px);
  }
  @include sm {
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(20px);
    letter-spacing: px2vw-sm(0.25px);
    margin-bottom: px2vw-sm(10px);
  }
}
.footer_nav_links {
  margin-top: 5%;
}
.footer_nav_header {
  font-family: "maxis-bold";
  font-style: normal;
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(16px);
  text-transform: uppercase;
  color: var(--white-medium);
  letter-spacing: px2vw-xl(0.5px);
  @include xxl {
    font-size: px2vw-xxl(14px);
    line-height: px2vw-xxl(16px);
    letter-spacing: px2vw-xxl(0.5px);
  }
  @include lg {
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(16px);
    letter-spacing: px2vw-lg(0.5px);
  }
  @include md {
    font-size: px2vw-md(14px);
    line-height: px2vw-md(16px);
    letter-spacing: px2vw-md(0.5px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(16px);
    letter-spacing: px2vw-sm(0.5px);
  }
  a {
    color: var(--white-high);
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(24px);
    letter-spacing: px2vw-xl(0.1px);
    font-family: "maxis-bold";
    @include xxl {
      font-size: px2vw-xxl(14px);
      line-height: px2vw-xxl(24px);
      letter-spacing: px2vw-xxl(0.1px);
    }
    @include lg {
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(24px);
      letter-spacing: px2vw-lg(0.1px);
    }
    @include md {
      font-size: px2vw-md(14px);
      line-height: px2vw-md(24px);
      letter-spacing: px2vw-md(0.1px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(24px);
      letter-spacing: px2vw-sm(0.1px);
    }
  }
}
.footer_li {
  a {
    font-family: "maxis-semibold";
    font-size: px2vw-xl(14px);
    line-height: px2vw-xl(27px);
    letter-spacing: px2vw-xl(0.1px);
    @include xxl {
      font-size: px2vw-xxl(14px);
      line-height: px2vw-xxl(27px);
      letter-spacing: px2vw-xxl(0.1px);
    }
    @include lg {
      font-size: px2vw-lg(14px);
      line-height: px2vw-lg(27px);
      letter-spacing: px2vw-lg(0.1px);
    }
    @include md {
      font-size: px2vw-md(14px);
      line-height: px2vw-md(27px);
      letter-spacing: px2vw-md(0.1px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      line-height: px2vw-sm(27px);
      letter-spacing: px2vw-sm(0.1px);
    }
  }
}
.footer_ul {
  margin-top: px2vw-xl(24px);
  @include lg {
    margin-top: px2vw-xxl(24px);
  }
  @include lg {
    margin-top: px2vw-lg(24px);
  }
  @include md {
    margin-top: px2vw-md(24px);
  }
  @include sm {
    margin-top: px2vw-sm(24px);
  }
}
.footer_ng_lazyloaded {
  opacity: 1;
  transition: all 0.1s linear;
  width: px2vw-xl(34px);
  @include xxl {
    width: px2vw-xxl(34px);
  }
  @include lg {
    width: px2vw-lg(34px);
  }
  @include md {
    width: px2vw-md(34px);
  }
  @include sm {
    width: px2vw-sm(34px);
  }
}
.footer_social_link {
  margin-left: px2vw-xl(16px);
  transition: all 0.1s linear;
  @include xxl {
    margin-left: px2vw-xxl(16px);
  }
  @include lg {
    margin-left: px2vw-lg(16px);
  }
  @include md {
    margin-left: px2vw-md(16px);
  }
  @include sm {
    margin-left: px2vw-sm(16px);
  }
}

.footer-nav-container {
  flex-direction: row;
}

.footer-smedia-container {
  flex-direction: column;
  align-items: flex-end;
  @include md {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .maxis_logo {
    margin-bottom: px2vw-xl(25px);
    @include xxl {
      margin-bottom: px2vw-xxl(25px);
    }
    @include lg {
      margin-bottom: px2vw-lg(25px);
    }
    @include md {
      margin-bottom: px2vw-md(25px);
    }
    @include sm {
      margin-bottom: px2vw-sm(25px);
    }
  }
}

@include sm {
  .footer-nav-container {
    flex-direction: column-reverse;
  }
  .footer_social_media_text {
    display: none;
  }
}

footer {
  .mob_footer {
    display: none;
    @include md {
      display: block;
    }
    #footer_accordian {
      .accord_panel {
        ::ng-deep .mat-expansion-panel-header {
          display: flex;
          border-bottom: px2vw-xl(1px) solid var(--white-light);
          @include xxl {
            border-bottom: px2vw-xxl(1px) solid var(--white-light);
          }
          @include lg {
            border-bottom: px2vw-lg(1px) solid var(--white-light);
          }
          @include md {
            border-bottom: px2vw-md(1px) solid var(--white-light);
          }
          @include sm {
            border-bottom: px2vw-sm(1px) solid var(--white-light);
          }
          .accord-link {
            font-family: "maxis-bold";
            line-height: px2vw-xl(16px);
            font-size: px2vw-xl(14px);
            letter-spacing: px2vw-xl(0.5px);
            text-transform: uppercase;
            color: var(--white-medium);
            display: block;
            width: 100%;
            padding: px2vw-xl(14px) 0px;
            @include xxl {
              font-size: px2vw-xxl(14px);
              letter-spacing: px2vw-xxl(0.5px);
              padding: px2vw-xxl(14px) 0px;
              line-height: px2vw-xxl(16px);
            }
            @include lg {
              font-size: px2vw-lg(14px);
              letter-spacing: px2vw-lg(0.5px);
              padding: px2vw-lg(14px) 0px;
              line-height: px2vw-lg(16px);
            }
            @include md {
              font-size: px2vw-md(14px);
              letter-spacing: px2vw-md(0.5px);
              padding: px2vw-md(14px) 0px;
              line-height: px2vw-md(16px);
            }
            @include sm {
              font-size: px2vw-sm(14px);
              letter-spacing: px2vw-sm(0.5px);
              padding: px2vw-sm(14px) 0px;
              line-height: px2vw-sm(16px);
            }
          }
        }

        .accprd-texture {
          padding-top: px2vw-xl(15px);
          @include xxl {
            padding-top: px2vw-xxl(15px);
          }
          @include lg {
            padding-top: px2vw-lg(15px);
          }
          @include md {
            padding-top: px2vw-md(15px);
          }
          @include sm {
            padding-top: px2vw-sm(15px);
          }
          li {
            font-size: px2vw-xl(14px);
            display: block;
            line-height: px2vw-xl(24px);
            margin-bottom: px2vw-xl(5px);
            color: var(--white-high);
            font-family: "maxis-semibold" !important;
            @include xxl {
              font-size: px2vw-xxl(14px);
              line-height: px2vw-xxl(24px);
              margin-bottom: px2vw-xxl(5px);
            }
            @include lg {
              font-size: px2vw-lg(14px);
              line-height: px2vw-lg(24px);
              margin-bottom: px2vw-lg(5px);
            }
            @include md {
              font-size: px2vw-md(14px);
              line-height: px2vw-md(24px);
              margin-bottom: px2vw-md(5px);
            }
            @include sm {
              font-size: px2vw-sm(14px);
              line-height: px2vw-sm(24px);
              margin-bottom: px2vw-sm(5px);
            }
          }
        }
      }
    }
  }

  @include md {
    .footer_nav_header,
    .footer_ul {
      display: none;
    }
  }

  @include md {
    hr {
      display: none;
    }
  }
}

.social_media_icon {
  margin-bottom: px2vw-xl(40px);
  @include xxl {
    margin-bottom: px2vw-xxl(40px);
  }
  @include lg {
    margin-bottom: px2vw-lg(40px);
  }
  @include md {
    margin-bottom: px2vw-md(40px);
  }
  @include sm {
    margin-top: px2vw-sm(30px);
    margin-bottom: px2vw-sm(40px);
  }
}

::ng-deep .cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
  left: 0px !important;
  height: 100%;
}

::ng-deep.mat-dialog-container {
  background-color: transparent !important;
}
a.no-link:hover {
  color: var(--color-primary);
}
.no-link:hover {
  color: var(--color-primary);
}
