@import "shared";

:host {
  display: block;
  padding-top: 24px;

  @include xl {
    padding-top: px2vw-xl(24px);
  }

  @include lg {
    padding-top: px2vw-lg(24px);
  }

  @include md {
    padding-top: px2vw-md(24px);
  }

  @include sm {
    padding-top: px2vw-sm(24px);
  }
}

.GameLobby-header {
  @extend %u-dfCenterBtw;
  margin-bottom: 39px;

  @include xl {
    margin-bottom: px2vw-xl(39px);
  }

  @include lg {
    margin-bottom: px2vw-lg(39px);
  }

  @include md {
    margin-bottom: px2vw-md(39px);
  }

  @include sm {
    margin-bottom: px2vw-sm(39px);
    display:block;
  }

  &-title {
    @extend %global-H4;
    margin-right: 10px;
    margin-bottom: 0;

    @include xl {
      margin-right: px2vw-xl(10px);
    }

    @include lg {
      margin-right: px2vw-lg(10px);
    }

    @include md {
      margin-right: px2vw-md(10px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
    }
  }

  &-button {
    flex-shrink: 0;
  }
}

.GameLobby-opportunities {
  margin-bottom: 35px;
  border-bottom: 1px solid var(--white-light);
  padding-bottom: 22px;

  @include xl {
    margin-bottom: px2vw-xl(35px);
    border-bottom-width: px2vw-xl(1px);
    padding-bottom: px2vw-xl(22px);
  }

  @include lg {
    margin-bottom: px2vw-lg(35px);
    border-bottom-width: px2vw-lg(1px);
    padding-bottom: px2vw-lg(22px);
  }

  @include md {
    margin-bottom: px2vw-md(35px);
    border-bottom-width: px2vw-md(1px);
    padding-bottom: px2vw-md(22px);
  }

  @include sm {
    margin-bottom: px2vw-sm(35px);
    border-bottom-width: px2vw-sm(1px);
    padding-bottom: px2vw-sm(22px);
  }

  &-item {
    margin-bottom: 24px;

    @include xl {
      margin-bottom: px2vw-xl(24px);
    }

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-header {
    @extend %u-dfCenter;
    margin-bottom: 16px;

    @include xl {
      margin-bottom: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-image-block {
    @extend %u-dfCenterCenter;
    margin-right: 8px;
    height: 24px;
    width: 24px;

    @include xl {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(24px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
    }
  }

  &-title {
    @extend %subtitle-1;
    margin-bottom: 0;
  }

  &-text {
    @extend %body-2;
    margin-bottom: 0;
    max-width: 656px;
    color: var(--white-medium);

    @include xl {
      max-width: px2vw-xl(656px);
    }

    @include lg {
      max-width: none;
    }
  }
}

.GameLobby-tabs {
  ::ng-deep {
    .mat-tab-label-content {
      @extend %global-H6;
      color: var(--white-disabled);
    }

    .mat-tab-header {
      margin-bottom: 32px;

      @include xl {
        margin-bottom: px2vw-xl(32px);
      }

      @include lg {
        margin-bottom: px2vw-lg(32px);
      }

      @include md {
        margin-bottom: px2vw-md(32px);
      }

      @include sm {
        margin-bottom: px2vw-sm(32px);
      }
    }

    .mat-tab-label {
      margin-right: 40px;
      height: auto;
      min-width: auto;
      padding: 0;
      transition: $global-transition;
      opacity: 1;

      @include xl {
        margin-right: px2vw-xl(40px);
      }

      @include lg {
        margin-right: px2vw-lg(40px);
      }

      @include md {
        margin-right: px2vw-md(40px);
      }

      @include sm {
        margin-right: px2vw-sm(40px);
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .mat-tab-header,
    .mat-ripple,
    .mat-tab-label-container {
      overflow: visible;
    }

    // RED DOT FOR MATCHROOM CHAT TAB
    .mat-tab-label:nth-child(2) {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: -2px;
        right: -12px;
        border-radius: 50%;
        height: 6px;
        width: 6px;
        background-color: var(--color-sunset-orange);

        @include xl {
          top: px2vw-xl(-2px);
          right: px2vw-xl(-12px);
          height: px2vw-xl(6px);
          width: px2vw-xl(6px);
        }

        @include lg {
          top: px2vw-lg(-2px);
          right: px2vw-lg(-12px);
          height: px2vw-lg(6px);
          width: px2vw-lg(6px);
        }

        @include md {
          top: px2vw-md(-2px);
          right: px2vw-md(-12px);
          height: px2vw-md(6px);
          width: px2vw-md(6px);
        }

        @include sm {
          top: px2vw-sm(-2px);
          right: px2vw-sm(-12px);
          height: px2vw-sm(6px);
          width: px2vw-sm(6px);
        }
      }
    }

    .mat-tab-label-active .mat-tab-label-content {
      color: var(--color-primary);
    }

    .mat-ripple-element,
    .mat-ink-bar {
      display: none;
    }
  }
}
@include sm{
  .GameLobby-header-button{
    margin-top:px2vw-sm(14px)!important;
  }
}


