<div class="LeaderboardConfigurations-main">
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="LeaderboardConfigurations-boxB">
    <div class="LeaderboardConfigurations-footer-btns">
      <button class="btn" *ngIf="levelState > 0" (click)="resetLevelBoard()">
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
      </button>
      <button class="btn is-sm" (click)="addNewLevelRow()">
        {{ buttonTextArray[levelState] | translate }}
      </button>
    </div>
    <div class="global-scrollbar">
      <ngx-datatable
        #table
        class="global-DataTable"
        [rows]="levelboard"
        [columnMode]="'flex'"
        [headerHeight]="'auto'"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [limit]="50"
      >
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LEVELS' | translate
          }}"
          [flexGrow]="2"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <ng-container
              *ngIf="row.newValue; then first_content; else second_content"
            >
            </ng-container>
            <ng-template #first_content>
              <input
                (focusout)="updateValue($event, 'levelName', row, 'level')"
                type="text"
                class="LeaderboardConfigurations-boxB-item-input-code"
                [value]="row.levelName"
              />
              <span
                >/
                {{ "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LEVEL" | translate }}
              </span>
              <input
                (focusout)="updateValue($event, 'code', row, 'level')"
                type="number"
                class="LeaderboardConfigurations-boxB-item-input-code"
                [value]="row.code"
              />
            </ng-template>
            <ng-template #second_content
              >{{ row.levelName }} /
              {{ "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LEVEL" | translate }}
              {{ row.code }}
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.SINGLE_WIN_PLAYER'
              | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              type="number"
              (focusout)="updateValue($event, 'singleWinPoints', row, 'level')"
              class="LeaderboardConfigurations-boxB-item-input"
              [value]="row.singleWinPoints"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.SINGLE_WIN_COACH' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              type="number"
              (focusout)="
                updateValue($event, 'singleWinCoachPercent', row, 'level')
              "
              class="LeaderboardConfigurations-boxB-item-input"
              [value]="row.singleWinCoachPercent"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK3PLAYER' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              type="number"
              (focusout)="updateValue($event, 'rankThirdPoints', row, 'level')"
              class="LeaderboardConfigurations-boxB-item-input"
              [value]="row.rankThirdPoints"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK3COACH' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              type="number"
              (focusout)="
                updateValue($event, 'rankThirdCoachPercent', row, 'level')
              "
              class="LeaderboardConfigurations-boxB-item-input"
              [value]="row.rankThirdCoachPercent"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK2PLAYER' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              type="number"
              (focusout)="updateValue($event, 'rankSecondPoints', row, 'level')"
              class="LeaderboardConfigurations-boxB-item-input"
              [value]="row.rankSecondPoints"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK2COACH' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              type="number"
              (focusout)="
                updateValue($event, 'rankSecondCoachPercent', row, 'level')
              "
              class="LeaderboardConfigurations-boxB-item-input"
              [value]="row.rankSecondCoachPercent"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK1PLAYER' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              type="number"
              (focusout)="updateValue($event, 'rankFirstPoints', row, 'level')"
              class="LeaderboardConfigurations-boxB-item-input"
              [value]="row.rankFirstPoints"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK1COACH' | translate
          }}"
          [flexGrow]="1"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              type="number"
              (focusout)="
                updateValue($event, 'rankFirstCoachPercent', row, 'level')
              "
              class="LeaderboardConfigurations-boxB-item-input"
              [value]="row.rankFirstCoachPercent"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="1" name="">
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <button
              *ngIf="!row.newValue"
              (click)="onRemove(row, 'level')"
              mat-icon-button
              ngbTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
              color="primary"
              class="LeaderboardConfigurations-tableBtn"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  <div class="LeaderboardConfigurations-boxB">
    <div class="LeaderboardConfigurations-footer-btns">
      <button class="btn" *ngIf="badgeState > 0" (click)="resetBadgeBoard()">
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
      </button>
      <button class="btn is-sm" (click)="addNewBadgeRow()">
        {{ buttonTextArray[badgeState] | translate }}
      </button>
    </div>
  </div>
  <div class="global-scrollbar">
    <ngx-datatable
      #table
      class="global-DataTable"
      [rows]="badgesboard"
      [columnMode]="'flex'"
      [headerHeight]="'auto'"
      [footerHeight]="'auto'"
      [rowHeight]="'auto'"
      [limit]="50"
    >
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.BADGES' | translate }}"
        [flexGrow]="2"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <input
            *ngIf="row.newValue; else other_content"
            (focusout)="updateValue($event, 'badgeName', row, 'badge')"
            type="text"
            class="LeaderboardConfigurations-boxB-item-input"
            [value]="row.badgeName"
          />
          <ng-template #other_content>{{ row.badgeName }}</ng-template>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{
          'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.MATCH_WIN' | translate
        }}"
        [flexGrow]="1"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <input
            type="number"
            (focusout)="updateValue($event, 'minMatchWins', row, 'badge')"
            class="LeaderboardConfigurations-boxB-item-input"
            [value]="row.minMatchWins"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.LEVEL' | translate }}"
        [flexGrow]="1"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <input
            type="number"
            (focusout)="updateValue($event, 'minLevel', row, 'badge')"
            class="LeaderboardConfigurations-boxB-item-input"
            [value]="row.minLevel"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.RANK' | translate }}"
        [flexGrow]="1"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <input
            type="number"
            (focusout)="updateValue($event, 'minRank', row, 'badge')"
            class="LeaderboardConfigurations-boxB-item-input"
            [value]="row.minRank"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="1" name="">
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <button
            *ngIf="!row.newValue"
            (click)="onRemove(row, 'badge')"
            mat-icon-button
            color="primary"
            ngbTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
            class="LeaderboardConfigurations-tableBtn"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
