@import "shared";

:host {
  display: block;
}

.Inbox-header {
  @extend %u-dfCenterBtw;
  margin-bottom: px2vw-xl(16px);
  padding: px2vw-xl(20px) 0;
  margin-top: px2vw-xl(120px);
  @include lg {
    margin-bottom: px2vw-lg(16px);
    padding: px2vw-lg(20px) 0;
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    padding: px2vw-md(20px) 0;
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    padding: px2vw-sm(20px) 0;
  }

  &-title {
    @extend %global-H4;
    margin-bottom: 0;
    font-family: "archivo-bold";
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    font-size: px2vw-xl(34px);
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
    mix-blend-mode: normal;
  }

  &-button {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);

    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
    }
  }
}

.Inbox-content {
  // &-header {
  // }

  &-message {
    @extend %u-dfCenter;
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding: px2vw-xl(15px);

    @include lg {
      border-bottom-width: px2vw-lg(1px);
      padding: px2vw-lg(15px);
    }

    @include md {
      border-bottom-width: px2vw-md(1px);
      padding: px2vw-md(15px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(1px);
      padding: px2vw-sm(15px);
    }
  }

  &-message-text {
    @extend %body-2;
    margin-right: px2vw-xl(64px);
    flex-grow: 1;
    cursor: pointer;
    transition: $global-transition2;

    @include lg {
      margin-right: px2vw-lg(64px);
    }

    @include md {
      margin-right: px2vw-md(64px);
    }

    @include sm {
      margin-right: px2vw-sm(64px);
    }

    &:hover {
      color: var(--color-mountain-meadow);
    }

    &.main {
      color: var(--white-medium);
      cursor: default;

      &:hover {
        opacity: 1;
      }
    }
  }

  &-message-date {
    @extend %body-2;
    flex-shrink: 0;
    margin-bottom: 0;
    width: px2vw-xl(170px);

    @include lg {
      width: px2vw-lg(170px);
    }

    @include md {
      width: px2vw-md(170px);
    }

    @include sm {
      width: px2vw-sm(170px);
    }

    &.main {
      color: var(--white-medium);
    }
  }
}

.Inbox-empty {
  &-title {
    @extend %global-H5;
  }
}

.SelectGame {
  overflow: hidden;
  position: relative;
  background: $left-corner-light;

  &-search {
    margin-bottom: px2vw-xl(24px);
    width: 100%;

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }
}
.Notifications {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  position: relative;
  &-heading {
    margin-bottom: 16px;
    @include md {
      margin-bottom: 24px;
    }
    .title {
      font-family: "Paralucent-Light",  san-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
      @include md {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  &-content {
    width: 100%;
    position: relative;
    &-header {
      margin-bottom: 16px;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      &-left {
        width: 100%;
        max-width: calc(100% - 280px);
        @include md {
          max-width: 100%;
        }
        .noti {
          font-family: "Paralucent-Light",  san-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: var(--tertiary-color);
          @include md {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      &-right {
        width: 100%;
        max-width: 280px;
        @include md {
          display: none;
        }
      }
    }
    &-buttonGroup {
      margin-bottom: 24px;
      .btn {
        font-family: "Paralucent-Light",  san-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: none;
        @include md {
          width: 100%;
          justify-content: center;
        }
      }
    }
    &-main {
      .Notifications-tableInner {
        @include md {
          border-radius: 8px;
          overflow: hidden;
          background: var(--white);
          max-height: 560px;
        }
      }
      .Notifications-table {
        border: 1px solid var(--tolopea-medium-color);
        border-radius: 8px;
        overflow: hidden;
        background: var(--white);
        @include md {
          overflow: auto;
          border: none;
        }
        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background: var(--color-white-medium);
          border: 1px solid var(--tolopea-color);
          border-radius: 4px;
        }
        .thead {
          background: var(--color-white-medium);
          @include md {
            width: 700px;
          }
          .th {
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            .text {
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              display: flex;
              align-items: flex-end;
              color: var(--blackcurrant-color-medium);
            }
          }
        }
        .tbody {
          background: var(--white);
          max-height: 560px;
          overflow: hidden;
          overflow-y: auto;
          width: calc(100% - 8px);
          @include md {
            width: 700px;
            max-height: none;
            overflow-y: hidden;
          }
          &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background: var(--color-white-medium);
            border: 1px solid var(--tolopea-color);
            border-radius: 4px;
          }
          .tr {
            &:last-child {
              border: none;
            }
          }
          .td {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            &:last-child {
              .text {
                font-weight: 500;
              }
            }
            .text {
              font-family: "Paralucent-Light",  san-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              display: flex;
              align-items: flex-end;
              color: var(--blackcurrant-color-medium);
            }
          }
        }
        .tr {
          border-bottom: 1px solid var(--tolopea-medium-color);
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          -webkit-align-items: center;
          align-items: center;
          padding: 0 6px;
        }
        .td,
        .th {
          width: 100%;
        }
        .td {
          padding: 16px 8px;
          &:first-child {
            width: 40px;
          }
          &:nth-child(2) {
            width: 180px;
          }
        }
        .th {
          padding: 18px 8px;
          &:first-child {
            width: 40px;
          }
          &:nth-child(2) {
            width: 180px;
          }
        }
      }
    }
  }
}
::ng-deep .mat-checkbox {
  .mat-checkbox-ripple {
    height: 24px;
    width: 24px;
  }
  .mat-checkbox-frame {
    background-color: var(--white);
  }
}
::ng-deep .mat-paginator {
  .mat-paginator-page-size {
    opacity: 0;
    visibility: hidden;
  }
}
