@import "shared";
.item-post {
  position: relative;
  background: var(--gradient-bg);
  border: 1px solid var(--white-light);
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 16px;

  @include xl {
    margin-bottom: px2vw-xl(16px);
    border-radius: px2vw-xl(8px);
    border-width: px2vw-xl(1px);
  }

  @include lg {
    margin-bottom: px2vw-lg(16px);
    border-radius: px2vw-lg(8px);
    border-width: px2vw-lg(1px);
  }

  @include md {
    margin-bottom: px2vw-md(16px);
    border-radius: px2vw-md(8px);
    border-width: px2vw-md(1px);
  }

  @include sm {
    margin-bottom: px2vw-sm(16px);
    border-radius: px2vw-sm(8px);
    border-width: px2vw-sm(1px);
  }
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    padding: 16px 0;
    border-bottom: 1px solid var(--white-light);

    @include xl {
      padding: px2vw-xl(16px) px2vw-xl(0px);
      border-bottom-width: px2vw-xl(1px);
    }

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(0px);
      border-bottom-width: px2vw-lg(1px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(0px);
      border-bottom-width: px2vw-md(1px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(0px);
      border-bottom-width: px2vw-sm(1px);
    }
    .box-post-avatar {
      margin: 0 16px;
      @include xl {
        margin: px2vw-xl(0px) px2vw-xl(16px);
      }

      @include lg {
        margin: px2vw-lg(0px) px2vw-lg(16px);
      }

      @include md {
        margin: px2vw-md(0px) px2vw-md(16px);
      }

      @include sm {
        margin: px2vw-sm(0px) px2vw-sm(16px);
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;

        @include xl {
          height: px2vw-xl(40px);
          width: px2vw-xl(40px);
        }

        @include lg {
          height: px2vw-lg(40px);
          width: px2vw-lg(40px);
        }

        @include md {
          height: px2vw-md(40px);
          width: px2vw-md(40px);
        }

        @include sm {
          height: px2vw-sm(40px);
          width: px2vw-sm(40px);
        }
      }
    }
    .box-info {
      width: 100%;
      .user-name {
        margin: 0 auto;
        .text {
          font-family: "Archivo";
          font-weight: bold;
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          color: var(--white-high);
          letter-spacing: 0.15px;

          @include xl {
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
          }

          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }

          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }

          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }
          p {
            color: var(--white-medium);
            display: inline;
          }
        }
      }
      .time-online-and-action {
        font-family: "redhat-regular";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--white-medium);

        @include xl {
          font-size: px2vw-xl(14px);
          line-height: px2vw-xl(20px);
        }

        @include lg {
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(20px);
        }

        @include md {
          font-size: px2vw-md(14px);
          line-height: px2vw-md(20px);
        }

        @include sm {
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(20px);
        }
      }
      .btn-open-action {
        float: right;
      }
    }
    .time-online-and-action {
      display: block;
      line-height: 1;
      margin-top: 2px;

      @include xl {
        margin-top: px2vw-xl(2px);
      }

      @include lg {
        margin-top: px2vw-lg(2px);
      }

      @include md {
        margin-top: px2vw-md(2px);
      }

      @include sm {
        margin-top: px2vw-sm(2px);
      }
      .text {
        font-family: "redhat-regular";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: var(--white-medium);

        @include xl {
          font-size: px2vw-xl(14px);
          line-height: px2vw-xl(20px);
        }

        @include lg {
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(20px);
        }

        @include md {
          font-size: px2vw-md(14px);
          line-height: px2vw-md(20px);
        }

        @include sm {
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(20px);
        }
      }
      .icon {
        margin-left: 8px;
        @include xl {
          margin-left: px2vw-xl(8px);
        }

        @include lg {
          margin-left: px2vw-lg(8px);
        }

        @include md {
          margin-left: px2vw-md(8px);
        }

        @include sm {
          margin-left: px2vw-sm(8px);
        }
      }
    }
  }
  .contents {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    .box-contents-post {
      width: 100%;
      .wap-text-status {
        padding: 16px 0;
        width: 100%;
        max-width: calc(100% - 32px);
        margin: 0 auto;
        font-family: "redhat-regular";
        word-wrap: break-word;
        white-space: pre-wrap;

        @include xl {
          padding: px2vw-xl(16px) px2vw-xl(0px);
        }

        @include lg {
          padding: px2vw-lg(16px) px2vw-lg(0px);
        }

        @include md {
          padding: px2vw-md(16px) px2vw-md(0px);
        }

        @include sm {
          padding: px2vw-sm(16px) px2vw-sm(0px);
        }
        p {
          margin: 0;
          font-style: normal;
          font-weight: 100;
          font-size: 18px;
          line-height: 24px;
          color: var(--white-high);

          @include xl {
            font-size: px2vw-xl(18px);
            line-height: px2vw-xl(24px);
          }

          @include lg {
            font-size: px2vw-lg(18px);
            line-height: px2vw-lg(24px);
          }

          @include md {
            font-size: px2vw-md(18px);
            line-height: px2vw-md(24px);
          }

          @include sm {
            font-size: px2vw-sm(18px);
            line-height: px2vw-sm(24px);
          }
        }
      }
      .video {
        .video-link {
          video {
            width: 100%;
            height: 100%;
          }
        }
      }
      .wap-image-or-video {
        width: 100%;
        margin: 0;
        padding: 0;
        .box-item {
          width: 100%;
          max-width: 100%;
          height: 389px;
          position: relative;

          @include xl {
            height: px2vw-xl(389px);
          }

          @include lg {
            height: px2vw-lg(389px);
          }

          @include md {
            height: px2vw-md(389px);
          }

          @include sm {
            height: px2vw-sm(389px);
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .box-item-share {
          height: auto;
          .content-share {
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            margin: 0 auto;
            max-width: 696px;
            width: 100%;
            position: relative;
            background: var(--gradient-bg);
            border: 1px solid var(--white-light);
            box-sizing: border-box;
            border-radius: 4px;
            padding: 8px;

            @include xl {
              max-width: px2vw-xl(696px);
              border-width: px2vw-xl(1px);
              border-radius: px2vw-xl(4px);
              padding: px2vw-xl(8px);
            }

            @include lg {
              max-width: px2vw-lg(696px);
              border-width: px2vw-lg(1px);
              border-radius: px2vw-lg(4px);
              padding: px2vw-lg(8px);
            }

            @include md {
              max-width: px2vw-md(696px);
              border-width: px2vw-md(1px);
              border-radius: px2vw-md(4px);
              padding: px2vw-md(8px);
            }

            @include sm {
              max-width: px2vw-sm(696px);
              border-width: px2vw-sm(1px);
              border-radius: px2vw-sm(4px);
              padding: px2vw-sm(8px);
              flex-direction: row-reverse;
              border-top: none;
            }
            .box-description {
              position: relative;
              width: 100%;
              max-width: calc(100% - 201px);
              padding-top: 10px;
              padding-left: 10px;

              @include xl {
                padding-top: px2vw-xl(10px);
                padding-left: px2vw-xl(10px);
              }

              @include lg {
                padding-top: px2vw-lg(10px);
                padding-left: px2vw-lg(10px);
              }

              @include md {
                padding-top: px2vw-md(10px);
                padding-left: px2vw-md(10px);
              }

              @include sm {
                padding-top: px2vw-sm(10px);
                padding-left: px2vw-sm(10px);
              }
              a.link-to.link-title {
                display: block;
                position: relative;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: var(--color-secondary);
                margin-bottom: 10px;

                @include xl {
                  margin-bottom: px2vw-xl(10px);
                  font-size: px2vw-xl(12px);
                  line-height: px2vw-xl(16px);
                  letter-spacing: px2vw-xl(1px);
                }

                @include lg {
                  margin-bottom: px2vw-lg(10px);
                  font-size: px2vw-lg(12px);
                  line-height: px2vw-lg(16px);
                  letter-spacing: px2vw-lg(1px);
                }

                @include md {
                  margin-bottom: px2vw-md(10px);
                  font-size: px2vw-md(12px);
                  line-height: px2vw-md(16px);
                  letter-spacing: px2vw-md(1px);
                }

                @include sm {
                  margin-bottom: px2vw-sm(10px);
                  font-size: px2vw-sm(12px);
                  line-height: px2vw-sm(16px);
                  letter-spacing: px2vw-sm(1px);
                  display: none;
                }
                .icon {
                  position: relative;
                  display: inline-block;
                  margin-right: 10px;
                  @include xl {
                    margin-right: px2vw-xl(10px);
                  }

                  @include lg {
                    margin-right: px2vw-lg(10px);
                  }

                  @include md {
                    margin-right: px2vw-md(10px);
                  }

                  @include sm {
                    margin-right: px2vw-sm(10px);
                  }
                  img {
                    position: relative;
                    width: auto;
                    height: auto;
                    top: auto;
                    left: auto;
                  }
                }
              }
              .title {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: var(--white-high);
                margin-bottom: 4px;

                @include xl {
                  margin-bottom: px2vw-xl(4px);
                  font-size: px2vw-xl(18px);
                  line-height: px2vw-xl(24px);
                }

                @include lg {
                  margin-bottom: px2vw-lg(4px);
                  font-size: px2vw-lg(18px);
                  line-height: px2vw-lg(24px);
                }

                @include md {
                  margin-bottom: px2vw-md(4px);
                  font-size: px2vw-md(18px);
                  line-height: px2vw-md(24px);
                }

                @include sm {
                  margin-bottom: px2vw-sm(4px);
                  font-size: px2vw-sm(18px);
                  line-height: px2vw-sm(24px);
                }
              }
              .excerpt {
                margin-bottom: 0;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: var(--white-medium);

                @include xl {
                  font-size: px2vw-xl(18px);
                  line-height: px2vw-xl(24px);
                }

                @include lg {
                  font-size: px2vw-lg(18px);
                  line-height: px2vw-lg(24px);
                }

                @include md {
                  font-size: px2vw-md(18px);
                  line-height: px2vw-md(24px);
                }

                @include sm {
                  font-size: px2vw-sm(18px);
                  line-height: px2vw-sm(24px);
                }
              }
            }
            .box-image {
              position: relative;
              width: 100%;
              max-width: 201px;
              height: 113px;

              @include xl {
                max-width: px2vw-xl(201px);
                height: px2vw-xl(113px);
              }

              @include lg {
                max-width: px2vw-lg(201px);
                height: px2vw-lg(113px);
              }

              @include md {
                max-width: px2vw-md(201px);
                height: px2vw-md(113px);
              }

              @include sm {
                max-width: px2vw-sm(201px);
                height: px2vw-sm(113px);
              }
            }
          }
        }
        .box-item-slide {
          .carousel-indicators {
            display: none !important;
          }
          .slider-compoent {
            ngb-carousel.slide {
              .ng-star-inserted {
                position: relative;
                height: 400px;
                @include xl {
                  height: px2vw-xl(400px);
                }

                @include lg {
                  height: px2vw-lg(400px);
                }

                @include md {
                  height: px2vw-md(400px);
                }

                @include sm {
                  height: px2vw-sm(400px);
                  display: none !important;
                }
              }
            }
          }
        }
      }
      .wap-image-or-video__multi {
        display: flex !important;
        flex-wrap: wrap;
      }
      .box-item__multi {
        width: 50%;
        position: relative;
        max-width: 100%;
        height: 389px;

        @include xl {
          height: px2vw-xl(389px);
        }

        @include lg {
          height: px2vw-lg(389px);
        }

        @include md {
          height: px2vw-md(389px);
        }

        @include sm {
          height: px2vw-sm(389px);
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .box-item__multi_lastchild {
        width: 50%;
        height: 389px;
        position: relative;
        max-width: 100%;
        @include xl {
          height: px2vw-xl(389px);
        }

        @include lg {
          height: px2vw-lg(389px);
        }

        @include md {
          height: px2vw-md(389px);
        }

        @include sm {
          height: px2vw-sm(389px);
        }
        &:last-child() {
          width: 100%;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .wap-user-action {
    width: 100%;
    position: relative;
    .user-action-ground {
      display: flex;
      align-items: center;
      z-index: 1;
      padding: 0 17px;
      @include xl {
        padding: px2vw-xl(0px) px2vw-xl(17px);
      }

      @include lg {
        padding: px2vw-lg(0px) px2vw-lg(17px);
      }

      @include md {
        padding: px2vw-md(0px) px2vw-md(17px);
      }

      @include sm {
        padding: px2vw-sm(0px) px2vw-sm(17px);
      }
      .user-action-comment {
        margin-right: 24px;
        padding: 25px 0;
        cursor: pointer;

        @include xl {
          padding: px2vw-xl(25px) px2vw-xl(0px);
          margin-right: px2vw-xl(24px);
        }

        @include lg {
          padding: px2vw-lg(25px) px2vw-lg(0px);
          margin-right: px2vw-lg(24px);
        }

        @include md {
          padding: px2vw-md(25px) px2vw-md(0px);
          margin-right: px2vw-md(24px);
        }

        @include sm {
          padding: px2vw-sm(25px) px2vw-sm(0px);
          margin-right: px2vw-sm(24px);
        }
        .icon {
          margin: 0 9px 17px 0;
          @include xl {
            margin: px2vw-xl(0px) px2vw-xl(9px) px2vw-xl(17px) px2vw-xl(0px);
          }

          @include lg {
            margin: px2vw-lg(0px) px2vw-lg(9px) px2vw-lg(17px) px2vw-lg(0px);
          }

          @include md {
            margin: px2vw-md(0px) px2vw-md(9px) px2vw-md(17px) px2vw-md(0px);
          }

          @include sm {
            margin: px2vw-sm(0px) px2vw-sm(9px) px2vw-sm(17px) px2vw-sm(0px);
          }
        }
      }
      .text {
        padding: 24px 0;

        @include xl {
          padding: px2vw-xl(24px) px2vw-xl(0px);
        }

        @include lg {
          padding: px2vw-lg(24px) px2vw-lg(0px);
        }

        @include md {
          padding: px2vw-md(24px) px2vw-md(0px);
        }

        @include sm {
          padding: px2vw-sm(24px) px2vw-sm(0px);
        }
      }
      .user-action-react {
        div {
          padding: 22px 0;
          @include xl {
            padding: px2vw-xl(22px) px2vw-xl(0px);
          }

          @include lg {
            padding: px2vw-lg(22px) px2vw-lg(0px);
          }

          @include md {
            padding: px2vw-md(22px) px2vw-md(0px);
          }

          @include sm {
            padding: px2vw-sm(22px) px2vw-sm(0px);
          }
          img {
            margin-right: 9px;
            cursor: pointer;
            @include xl {
              margin-right: px2vw-xl(9px);
            }

            @include lg {
              margin-right: px2vw-lg(9px);
            }

            @include md {
              margin-right: px2vw-md(9px);
            }

            @include sm {
              margin-right: px2vw-sm(9px);
            }
          }
        }
      }

      .icon-react {
        left: 6em;
        bottom: 4em;
        display: inline-block;
        position: absolute;
        z-index: 2;
        padding: 8px;
        background: var(--gradient-bg-high);
        border: 1px solid var(--white-light);
        box-sizing: border-box;
        border-radius: 36px;
        cursor: pointer;
        display: inline;

        @include xl {
          padding: px2vw-xl(8px);
          border-radius: px2vw-xl(36px);
          border-width: px2vw-xl(1px);
        }

        @include lg {
          padding: px2vw-lg(8px);
          border-radius: px2vw-lg(36px);
          border-width: px2vw-lg(1px);
        }

        @include md {
          padding: px2vw-md(8px);
          border-radius: px2vw-md(36px);
          border-width: px2vw-md(1px);
        }

        @include sm {
          padding: px2vw-sm(8px);
          border-radius: px2vw-sm(36px);
          border-width: px2vw-sm(1px);
        }

        img {
          min-width: 40px;
          min-height: 40px;
          object-fit: cover;
          margin-right: 8px;
          cursor: pointer;
          transition: width 2s;
          box-shadow: var(--image-shadow);
          border-radius: 100%;

          @include xl {
            min-width: px2vw-xl(40px);
            min-height: px2vw-xl(40px);
            margin-right: px2vw-xl(8px);
          }

          @include lg {
            min-width: px2vw-lg(40px);
            min-height: px2vw-lg(40px);
            margin-right: px2vw-lg(8px);
          }

          @include md {
            min-width: px2vw-md(40px);
            min-height: px2vw-md(40px);
            margin-right: px2vw-md(8px);
          }

          @include sm {
            min-width: px2vw-sm(40px);
            min-height: px2vw-sm(40px);
            margin-right: px2vw-sm(8px);
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .icon-react:hover img:hover {
        width: 60px;
        @include xl {
          margin-right: px2vw-xl(60px);
        }

        @include lg {
          margin-right: px2vw-lg(60px);
        }

        @include md {
          margin-right: px2vw-md(60px);
        }

        @include sm {
          margin-right: px2vw-sm(60px);
        }
      }
      .action-comment {
        cursor: pointer;
      }
      .action-react {
        cursor: pointer;
        padding: 5px;
        @include xl {
          padding: px2vw-xl(5px);
        }

        @include lg {
          padding: px2vw-lg(5px);
        }

        @include md {
          padding: px2vw-md(5px);
        }

        @include sm {
          padding: px2vw-sm(5px);
        }
        .feel-img {
          width: auto;
          height: 20px;
          object-fit: cover;
          @include xl {
            height: px2vw-xl(20px);
          }

          @include lg {
            height: px2vw-lg(20px);
          }

          @include md {
            height: px2vw-md(20px);
          }

          @include sm {
            height: px2vw-sm(20px);
          }
        }
        .hover-icon:hover {
          transform: scale(1.5);
        }
      }
      .action-save {
        cursor: pointer;
        margin: 5px;
        @include xl {
          margin: px2vw-xl(5px);
        }

        @include lg {
          margin: px2vw-lg(5px);
        }

        @include md {
          margin: px2vw-md(5px);
        }

        @include sm {
          margin: px2vw-sm(5px);
        }
      }
    }
  }
  .reply-comment {
    width: 100%;
    padding: 0;
    max-width: calc(100% - 32px);
    margin: 0 auto;
    ul.lists-reply-comment {
      width: 100%;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: calc(100% - 104px);
        top: 74px;
        left: 19px;
        background-color: var(--white-light);

        @include xl {
          width: px2vw-xl(1px);
          top: px2vw-xl(74px);
          left: px2vw-xl(19px);
        }

        @include lg {
          width: px2vw-lg(1px);
          top: px2vw-lg(74px);
          left: px2vw-lg(19px);
        }

        @include md {
          width: px2vw-md(1px);
          top: px2vw-md(74px);
          left: px2vw-md(19px);
        }

        @include sm {
          width: px2vw-sm(1px);
          top: px2vw-sm(74px);
          left: px2vw-sm(19px);
        }
      }
      li.item {
        position: relative;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        margin: 10px 0;

        @include xl {
          margin: px2vw-xl(10px) px2vw-xl(0px);
        }

        @include lg {
          margin: px2vw-lg(10px) px2vw-lg(0px);
        }

        @include md {
          margin: px2vw-md(10px) px2vw-md(0px);
        }

        @include sm {
          margin: px2vw-sm(10px) px2vw-sm(0px);
        }
        .heading-item {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          .box-avatar {
            img {
              border-radius: 50%;
              object-fit: cover;

              @include xl {
                height: px2vw-xl(40px);
                width: px2vw-xl(40px);
              }

              @include lg {
                height: px2vw-lg(40px);
                width: px2vw-lg(40px);
              }

              @include md {
                height: px2vw-md(40px);
                width: px2vw-md(40px);
              }

              @include sm {
                height: px2vw-sm(40px);
                width: px2vw-sm(40px);
              }
            }
          }
        }
        .content-comment {
          width: 90%;
          .text {
            font-size: 12px;
            font-weight: 700;
            color: var(--white-medium);

            @include xl {
              font-size: px2vw-xl(12px);
            }

            @include lg {
              font-size: px2vw-lg(12px);
            }

            @include md {
              font-size: px2vw-md(12px);
            }

            @include sm {
              font-size: px2vw-sm(12px);
            }
          }
        }
        .box-info {
          position: relative;
          width: 100%;
          margin-bottom: 10px;

          @include xl {
            margin-bottom: px2vw-xl(10px);
          }

          @include lg {
            margin-bottom: px2vw-lg(10px);
          }

          @include md {
            margin-bottom: px2vw-md(10px);
          }

          @include sm {
            margin-bottom: px2vw-sm(10px);
          }
          .name {
            display: -webkit-inline-flex;
            display: inline-flex;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-align-items: center;
            align-items: center;
            width: 100%;
            input {
              color: var(--white);
            }
            .text {
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              color: var(--white-high);

              @include xl {
                font-size: px2vw-xl(18px);
              }

              @include lg {
                font-size: px2vw-lg(18px);
              }

              @include md {
                font-size: px2vw-md(18px);
              }

              @include sm {
                font-size: px2vw-sm(18px);
              }
              a {
                font-weight: 550;
              }
              p {
                letter-spacing: 0.2px;
                display: inline;
                margin-left: 5px;
                font-size: 16px;
                font-weight: 800;
                color: var(--white-medium);

                @include xl {
                  margin-left: px2vw-xl(5px);
                  font-size: px2vw-xl(16px);
                }

                @include lg {
                  margin-left: px2vw-lg(5px);
                  font-size: px2vw-lg(16px);
                }

                @include md {
                  margin-left: px2vw-md(5px);
                  font-size: px2vw-md(16px);
                }

                @include sm {
                  margin-left: px2vw-sm(5px);
                  font-size: px2vw-sm(16px);
                }
                span {
                  font-weight: 200;
                }
              }
            }
            .btn-open-action {
              padding: 0;
              line-height: 1;
            }
          }
          .time-online-and-action {
            display: block;
            line-height: 1;
            margin-top: 2px;

            @include xl {
              margin-top: px2vw-xl(2px);
            }

            @include lg {
              margin-top: px2vw-lg(2px);
            }

            @include md {
              margin-top: px2vw-md(2px);
            }

            @include sm {
              margin-top: px2vw-sm(2px);
            }
            .text {
              font-family: "redhat-regular";
              font-style: normal;
              font-weight: 700;
              font-size: 12px;
              line-height: 16px;
              //letter-spacing: 0.2px;
              color: var(--white-medium);

              @include xl {
                line-height: px2vw-xl(16px);
                font-size: px2vw-xl(12px);
              }

              @include lg {
                line-height: px2vw-lg(16px);
                font-size: px2vw-lg(12px);
              }

              @include md {
                line-height: px2vw-md(16px);
                font-size: px2vw-md(12px);
              }

              @include sm {
                line-height: px2vw-sm(16px);
                font-size: px2vw-sm(12px);
              }
            }
          }
        }
        .box-comment {
          width: 100%;
          padding-bottom: 10px;
          margin: 0;
          @include xl {
            padding-bottom: px2vw-xl(10px);
          }

          @include lg {
            padding-bottom: px2vw-lg(10px);
          }

          @include md {
            padding-bottom: px2vw-md(10px);
          }

          @include sm {
            padding-bottom: px2vw-sm(10px);
          }
          .info-comment {
            white-space: pre-wrap;
            word-wrap: break-word;
            width: 95%;
            .image-posts {
              width: 40%;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                margin-top: 5px;

                @include xl {
                  margin-top: px2vw-xl(5px);
                }

                @include lg {
                  margin-top: px2vw-lg(5px);
                }

                @include md {
                  margin-top: px2vw-md(5px);
                }

                @include sm {
                  margin-top: px2vw-sm(5px);
                }
              }
            }
          }
          .box-info__comment {
            background-color: var(--colr-background);
            border-radius: 19px 19px;

            @include xl {
              border-radius: px2vw-xl(19px) px2vw-xl(19px);
            }

            @include lg {
              border-radius: px2vw-lg(19px) px2vw-lg(19px);
            }

            @include md {
              border-radius: px2vw-md(19px) px2vw-md(19px);
            }

            @include sm {
              border-radius: px2vw-sm(19px) px2vw-sm(19px);
            }
            .edit {
              display: flex;
              .name {
                flex-direction: column;
                .input-edit {
                  font-size: 15px;
                  width: 95%;
                  height: 35px;
                  color: aliceblue !important;
                  background-color: transparent;
                  padding: 5px;
                  border-radius: 20px;
                  border: none;

                  @include xl {
                    padding: px2vw-xl(5px);
                    border-radius: px2vw-xl(20px);
                    height: px2vw-xl(35px);
                    font-size: px2vw-xl(15px);
                  }

                  @include lg {
                    padding: px2vw-lg(5px);
                    border-radius: px2vw-lg(20px);
                    height: px2vw-lg(35px);
                    font-size: px2vw-lg(15px);
                  }

                  @include md {
                    padding: px2vw-md(5px);
                    border-radius: px2vw-md(20px);
                    height: px2vw-md(35px);
                    font-size: px2vw-md(15px);
                  }

                  @include sm {
                    padding: px2vw-sm(5px);
                    border-radius: px2vw-sm(20px);
                    height: px2vw-sm(35px);
                    font-size: px2vw-sm(15px);
                  }
                }
                .image-posts {
                  width: 100%;
                  height: 10em;
                  margin: 0 auto;
                  img {
                    height: 100%;
                    object-fit: contain;
                  }
                }
              }
              .image-comment {
                display: flex;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;

                @include xl {
                  padding: px2vw-xl(5px);
                }

                @include lg {
                  padding: px2vw-lg(5px);
                }

                @include md {
                  padding: px2vw-md(5px);
                }

                @include sm {
                  padding: px2vw-sm(5px);
                }
                span {
                  cursor: pointer;
                }
                input {
                  display: none;
                }
              }
            }
          }
        }
        .action-comment {
          display: -webkit-flex;
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          // padding: 16px 0 24px 0;
          margin-bottom: 20px;

          @include xl {
            margin-bottom: px2vw-xl(20px);
          }

          @include lg {
            margin-bottom: px2vw-lg(20px);
          }

          @include md {
            margin-bottom: px2vw-md(20px);
          }

          @include sm {
            margin-bottom: px2vw-sm(20px);
          }
          .action-item {
            margin-right: 16px;

            @include xl {
              margin-right: px2vw-xl(16px);
            }

            @include lg {
              margin-right: px2vw-lg(16px);
            }

            @include md {
              margin-right: px2vw-md(16px);
            }

            @include sm {
              margin-right: px2vw-sm(16px);
            }
            &:last-child {
              margin: 0;
              margin-bottom: 20px;

              @include xl {
                margin-bottom: px2vw-xl(20px);
              }

              @include lg {
                margin-bottom: px2vw-lg(20px);
              }

              @include md {
                margin-bottom: px2vw-md(20px);
              }

              @include sm {
                margin-bottom: px2vw-sm(20px);
              }
            }
            .icon {
              display: inline-block;
              margin-right: 5px;

              @include xl {
                margin-right: px2vw-xl(5px);
              }

              @include lg {
                margin-right: px2vw-lg(5px);
              }

              @include md {
                margin-right: px2vw-md(5px);
              }

              @include sm {
                margin-right: px2vw-sm(5px);
              }
            }
            .count {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: var(--white-high);

              @include xl {
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(20px);
              }

              @include lg {
                font-size: px2vw-lg(16px);
                line-height: px2vw-lg(20px);
              }

              @include md {
                font-size: px2vw-md(16px);
                line-height: px2vw-md(20px);
              }

              @include sm {
                font-size: px2vw-sm(16px);
                line-height: px2vw-sm(20px);
              }
            }
            .btn-reply {
              font-family: "redhat-medium", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: var(--color-secondary);
              padding: 0;
              border: none;
              text-transform: inherit;
              margin-top: 20px;

              @include xl {
                font-size: px2vw-xl(16px);
                line-height: px2vw-xl(20px);
                margin-top: px2vw-xl(20px);
              }

              @include lg {
                font-size: px2vw-lg(16px);
                line-height: px2vw-lg(20px);
                margin-top: px2vw-lg(20px);
              }

              @include md {
                font-size: px2vw-md(16px);
                line-height: px2vw-md(20px);
                margin-top: px2vw-md(20px);
              }

              @include sm {
                font-size: px2vw-sm(16px);
                line-height: px2vw-sm(20px);
                margin-top: px2vw-sm(20px);
              }
            }
          }
        }
        .box-comment-reply {
          .lists-reply-comment-child {
            &::before {
              position: relative;
              content: none;
            }
            li.item {
              .edit-image {
                cursor: pointer;
                input {
                  display: none;
                }
              }
            }
          }
          .text p {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.2px;
            color: var(--white-medium);
            font-family: "redhat-regular";

            @include xl {
              font-size: px2vw-xl(16px);
            }

            @include lg {
              font-size: px2vw-lg(16px);
            }

            @include md {
              font-size: px2vw-md(16px);
            }

            @include sm {
              font-size: px2vw-sm(16px);
            }
          }
        }
      }
    }
  }
}
.item-post-1 {
  .heading {
    .box-info {
      .user-name {
        margin: 0 auto;
        .text {
          font-family: "Archivo";
          font-weight: bold;
          font-style: normal;
          font-size: 16px;
          line-height: 24px;
          color: var(--white-high);
          letter-spacing: 0.15px;

          @include xl {
            font-size: px2vw-xl(16px);
            line-height: px2vw-xl(24px);
          }

          @include lg {
            font-size: px2vw-lg(16px);
            line-height: px2vw-lg(24px);
          }

          @include md {
            font-size: px2vw-md(16px);
            line-height: px2vw-md(24px);
          }

          @include sm {
            font-size: px2vw-sm(16px);
            line-height: px2vw-sm(24px);
          }

          p {
            color: var(--white-medium);
            display: inline;
          }
        }
      }
      .time-online-and-action {
        font-family: "redhat-regular";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--white-medium);

        @include xl {
          font-size: px2vw-xl(14px);
          line-height: px2vw-xl(20px);
        }

        @include lg {
          font-size: px2vw-lg(14px);
          line-height: px2vw-lg(20px);
        }

        @include md {
          font-size: px2vw-md(14px);
          line-height: px2vw-md(20px);
        }

        @include sm {
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(20px);
        }
      }
      .btn-open-action {
        float: right;
      }
    }
    .box-avatar {
      img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        border-radius: 50%;
        object-fit: cover;

        @include lg {
          width: px2vw-lg(40px);
          height: px2vw-lg(40px);
          margin-right: px2vw-lg(8px);
        }

        @include md {
          width: px2vw-md(40px);
          height: px2vw-md(40px);
          margin-right: px2vw-md(8px);
        }

        @include sm {
          width: px2vw-sm(40px);
          height: px2vw-sm(40px);
          margin-right: px2vw-sm(8px);
        }
      }
    }
  }
  .contents {
    .box-contents-post {
      .wap-text-status {
        a {
          font-size: 14px;

          @include xl {
            font-size: px2vw-xl(14px);
          }

          @include lg {
            font-size: px2vw-lg(14px);
          }

          @include md {
            font-size: px2vw-md(14px);
          }

          @include sm {
            font-size: px2vw-sm(14px);
          }
        }
      }
    }
  }
}

.item-post-an-article .item-post-4 {
  border: none !important;
  margin: -15px 0 0 0 !important;
  .heading {
    border-bottom: none;
    .box-info__comment {
      background-color: #0b0824;
      border-radius: 19px 19px;
      border: 1px solid var(--white-light);

      @include xl {
        border-radius: px2vw-xl(19px) px2vw-xl(19px);
        border-width: px2vw-xl(1px);
      }

      @include lg {
        border-radius: px2vw-lg(19px) px2vw-lg(19px);
        border-width: px2vw-lg(1px);
      }

      @include md {
        border-radius: px2vw-md(19px) px2vw-md(19px);
        border-width: px2vw-md(1px);
      }

      @include sm {
        border-radius: px2vw-sm(19px) px2vw-sm(19px);
        border-width: px2vw-sm(1px);
      }
      .input-comment {
        display: flex;
        div {
          display: flex;
          align-items: center;
          position: absolute;
          top: 38px;
          right: 0;

          @include xl {
            top: px2vw-xl(38px);
          }

          @include lg {
            top: px2vw-lg(38px);
          }

          @include md {
            top: px2vw-md(38px);
          }

          @include sm {
            top: px2vw-sm(38px);
          }
          .icon_images {
            cursor: pointer;
          }
        }
      }
      .image-posts {
        width: 15em;
        height: 10em;
        margin: 5px 0 5px 20px;
        @include xl {
          padding: px2vw-xl(5px) px2vw-xl(0px) px2vw-xl(5px) px2vw-xl(20px);
        }

        @include lg {
          padding: px2vw-lg(5px) px2vw-lg(0px) px2vw-lg(5px) px2vw-lg(20px);
        }

        @include md {
          padding: px2vw-md(5px) px2vw-md(0px) px2vw-md(5px) px2vw-md(20px);
        }

        @include sm {
          padding: px2vw-sm(5px) px2vw-sm(0px) px2vw-sm(5px) px2vw-sm(20px);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .contents {
    .box-contents-post {
      .wap-image-or-video {
        .box-item-share {
          .content-share {
            .box-description {
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
              -webkit-align-items: center;
              align-items: center;
              a.link-to.link-title {
                margin-bottom: 0;
                margin-right: 16px;

                @include xl {
                  margin-right: px2vw-xl(16px);
                }

                @include lg {
                  margin-right: px2vw-lg(16px);
                }

                @include md {
                  margin-right: px2vw-md(16px);
                }

                @include sm {
                  margin-right: px2vw-sm(16px);
                }
              }
              .excerpt {
                .text {
                  display: block;
                  margin-bottom: 4px;
                  @include xl {
                    margin-bottom: px2vw-xl(4px);
                  }

                  @include lg {
                    margin-bottom: px2vw-lg(4px);
                  }

                  @include md {
                    margin-bottom: px2vw-md(4px);
                  }

                  @include sm {
                    margin-bottom: px2vw-sm(4px);
                  }
                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.btn-showmore,
.show-post-more {
  color: var(--color-secondary);
  border: none;
  text-transform: inherit;
  cursor: pointer;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  right: 0;
  margin: -25px 15px 0 0;
}
.message-more {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
.show-post-more {
  margin: 0 15px 0 0;
  z-index: 1111;
}
.icon-via {
  float: right;
}
.mat-menu-item-submenu-trigger::after {
  color: var(--white-medium);
}
.icon {
  margin-right: 23px;
}
