@import "shared";
// @import "../../../scss/components/create-team";

:host {
  display: block;
}

.TeamRegistration {
  display: grid;
  grid-template-columns: px2vw-xl(870px) minmax(0, px2vw-xl(310px));
  grid-template-rows: 1fr;
  grid-column-gap: px2vw-xl(140px);
  justify-content: center;

  @include lg {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr);
    grid-column-gap: 0;
    grid-row-gap: px2vw-lg(50px);
  }

  @include md {
    grid-row-gap: px2vw-md(50px);
  }

  @include sm {
    grid-row-gap: px2vw-sm(50px);
  }

  &-container {
  }
}
