@import "shared";
@import "../../../../../../scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.AddPrizes {
  padding-bottom: px2vw-xl(40px);

  @include lg {
    padding-bottom: px2vw-lg(40px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }

  &-container,
  &-switcher-container {
    max-width: px2vw-xl(700px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(620px);
    }

    @include md {
      max-width: none;
    }
  }

  &-container {
    margin-top: px2vw-xl(180px);
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-top: px2vw-lg(180px);
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(180px);
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(90px);
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-title {
    margin-bottom: px2vw-xl(15px);
    color: var(--base-white);

    @include lg {
      margin-bottom: px2vw-lg(15px);
    }

    @include md {
      margin-bottom: px2vw-md(15px);
    }

    @include sm {
      margin-bottom: px2vw-sm(15px);
    }
  }

  &-item {
    border-bottom: 1px solid var(--base-white);
    padding: px2vw-xl(32px) 0;
    background-color: transparent;
    color: var(--base-white);

    @include lg {
      padding: px2vw-lg(32px) 0;
    }

    @include md {
      padding: px2vw-md(32px) 0;
    }

    @include sm {
      padding: px2vw-sm(28px) 0;
      font-size: px2vw-sm(24px);
      line-height: px2vw-sm(32px);
    }

    &:placeholder {
      color: rgba(255, 255, 255, 0.2);
    }
  }

  &-button {
    margin-top: px2vw-xl(30px);

    @include lg {
      margin-top: px2vw-lg(30px);
    }

    @include md {
      margin-top: px2vw-md(30px);
    }

    @include sm {
      margin-top: px2vw-sm(30px);
    }
  }

  &-tooltip {
    margin-top: px2vw-xl(76px);

    @include lg {
      margin-top: px2vw-lg(76px);
    }

    @include md {
      margin-top: px2vw-md(76px);
    }

    @include sm {
      margin-top: px2vw-sm(76px);
    }
  }

  &-switcher-container {
    margin-top: auto;
  }
}
