<a [href]="link" target="_blank">
  {{ link }}
  <div class="PreviewLink">
    <img
      [src]="metadata?.image"
      alt="image"
      (error)="onLoadImgError($event)"
      loading="lazy"
    />
    <div>
      <h5>{{ metadata?.title | translate }}</h5>
      <p>{{ metadata?.description | translate }}</p>
    </div>
  </div>
</a>
