@import "shared";

.mat-drawer-container {
  height: 100%;
  color: var(--black);
  position: absolute;
  z-index: 999;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  width: 1%;
  right: 0;
  background: transparent;
}

.App {
  display: block;
  height: 100%;

  &-sidenav {
    ::ng-deep {
      .mat-drawer-backdrop.mat-drawer-shown {
        background-color: initial;
      }
      .mat-drawer.mat-drawer-end {
        top: px2vw-xl(79px);
        max-width: px2vw-xl(500px);
        width: 100%;
        position: fixed;
        background: var(--white-disabled);

        @include lg {
          top: px2vw-lg(120px);
          max-width: px2vw-lg(500px);
        }
        @include md {
          top: px2vw-md(120px);
          max-width: px2vw-md(400px);
        }
        @include sm {
          top: px2vw-sm(150px);
          max-width: 92%;
        }
      }
    }
  }

  &-main {
    padding-top: 55px;
    min-height: 100%;
    @include lg {
      padding-top: 61px;
    }
    @include md {
      padding-top: 61px;
    }
    @include sm {
      padding-top: 61px;
    }
  }

  &-chat {
    padding: px2vw-xl(45px) px2vw-xl(15px);
    @include lg {
      padding: px2vw-lg(45px) px2vw-lg(15px);
    }
    @include md {
      padding: px2vw-md(45px) px2vw-md(15px);
    }
    @include sm {
      padding: px2vw-sm(45px) px2vw-sm(15px);
    }

    &-search {
      @extend %u-dfCenterStart;
      margin-bottom: px2vw-xl(40px);
      border-radius: px2vw-xl(5px);
      padding: px2vw-xl(9px);
      background-color: var(--brown-shade1);

      @include lg {
        margin-bottom: px2vw-lg(40px);
        border-radius: px2vw-lg(5px);
        padding: px2vw-lg(9px);
      }
      @include md {
        margin-bottom: px2vw-md(40px);
        border-radius: px2vw-md(5px);
        padding: px2vw-md(9px);
      }
      @include sm {
        margin-bottom: px2vw-sm(40px);
        border-radius: px2vw-sm(5px);
        padding: px2vw-sm(9px);
      }

      input {
        margin-left: px2vw-xl(10px);
        border: none;
        background: none;
        color: var(--black);
        @include lg {
          margin-left: px2vw-lg(10px);
        }
        @include md {
          margin-left: px2vw-md(10px);
        }
        @include sm {
          margin-left: px2vw-sm(10px);
        }
      }
    }

    &-item {
      @extend %u-dfStartBtw;
      border-radius: px2vw-xl(5px);
      padding: px2vw-xl(10px) 0;
      transition: $global-transition;
      margin-bottom: 0px !important;
      cursor: pointer;

      @include lg {
        margin-bottom: px2vw-lg(40px);
        border-radius: px2vw-lg(5px);
        padding: px2vw-lg(10px) 0;
      }
      @include md {
        margin-bottom: px2vw-md(40px);
        border-radius: px2vw-md(5px);
        padding: px2vw-md(10px) 0;
      }
      @include sm {
        margin-bottom: px2vw-sm(40px);
        border-radius: px2vw-sm(5px);
        padding: px2vw-sm(10px) 0;
      }
      &:hover {
        background-color: var(--color-dolly1) !important;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &-ava {
        img {
          margin-right: px2vw-xl(40px);
          overflow: hidden;
          min-width: px2vw-xl(72px);
          width: px2vw-xl(72px);
          height: px2vw-xl(72px);
          border-radius: 50%;
          object-fit: cover;
          @include lg {
            margin-right: px2vw-lg(40px);
            min-width: px2vw-lg(72px);
            width: px2vw-lg(72px);
            height: px2vw-lg(72px);
          }
          @include md {
            margin-right: px2vw-md(40px);
            min-width: px2vw-md(72px);
            width: px2vw-md(72px);
            height: px2vw-md(72px);
          }
          @include sm {
            margin-right: px2vw-sm(40px);
            min-width: px2vw-sm(72px);
            width: px2vw-sm(72px);
            height: px2vw-sm(72px);
          }
        }
      }

      &-info {
        width: 100%;

        &-title {
          margin-bottom: px2vw-xl(5px);
          font-size: px2vw-xl(22px);
          font-family: "maxis-regular";

          @include lg {
            margin-bottom: px2vw-lg(5px);
            font-size: px2vw-lg(22px);
          }

          @include md {
            margin-bottom: px2vw-md(5px);
            font-size: px2vw-md(22px);
          }

          @include sm {
            margin-bottom: px2vw-sm(5px);
            font-size: px2vw-sm(22px);
          }
        }

        &-text {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: px2vw-xl(20px);
          margin-bottom: px2vw-xl(5px);
          max-width: px2vw-xl(290px);
          font-family: "maxis-regular";

          @include lg {
            margin-bottom: px2vw-lg(5px);
            margin-right: px2vw-lg(20px);
            max-width: px2vw-lg(290px);
          }

          @include md {
            margin-bottom: px2vw-md(5px);
            margin-right: px2vw-md(20px);
            max-width: px2vw-md(290px);
          }

          @include sm {
            margin-right: px2vw-sm(20px);
            margin-bottom: px2vw-sm(5px);
            max-width: px2vw-sm(290px);
          }
        }

        &-date {
          font-family: "maxis-regular";
        }
      }

      &-notification {
        border-radius: 50%;
        background: var(--color-primary);
        min-width: px2vw-xl(18px);
        width: px2vw-xl(18px);
        height: px2vw-xl(18px);
        margin: px2vw-xl(30px) 0 px2vw-xl(20px);

        @include lg {
          margin: px2vw-lg(30px) 0 px2vw-lg(20px);
          min-width: px2vw-lg(18px);
          width: px2vw-lg(18px);
          height: px2vw-lg(18px);
        }

        @include md {
          min-width: px2vw-md(18px);
          margin: px2vw-md(30px) 0 px2vw-md(20px);
          width: px2vw-md(18px);
          height: px2vw-md(18px);
        }

        @include sm {
          min-width: px2vw-sm(18px);
          margin: px2vw-sm(30px) 0 px2vw-sm(20px);
          width: px2vw-sm(18px);
          height: px2vw-sm(18px);
        }
      }
    }
  }
}

.chatseperator {
  display: flex;
  align-items: center;
  text-align: center;
  overflow: auto;
}

.chatseperator::before,
.chatseperator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--color-primary);
}

.chatseperator::before {
  margin-right: 0.25em;
}

.chatseperator::after {
  margin-left: 0.25em;
}

.blockimage {
  width: 12px;
  height: 12px;
}

.reportspam {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 8px;
  margin-left: 4px;
}

.blockuser {
  float: right;
}
.App-chat-item:hover .reportspam {
  color: var(--white) !important;
  font-weight: 700;
  font-size: 8px;
  margin-left: 4px;
}
.commentbox {
  border: 1px solid var(--black);
  width: 100%;
}
.btn-light {
  border-radius: 5px;
  width: 80px;
  padding: 5px;
  font-size: 15px;
}
.btn-light .material-icons {
  font-size: 15px !important;
  line-height: 5px !important;
}
.spinnerblock1 {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: var(--color-primary);
}

.spinnerblock2 {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: var(--color-primary);
}

.spincontainer {
  clear: both;
  text-align: center;
  width: 100%;
  border: 0px solid var(--color-primary);
  overflow: auto;
  height: 70px;
  padding-left: 70px;
}

.spinnerblock:nth-child(4n + 1) {
  animation: wave 2s ease 0s infinite;
}

.spinnerblock:nth-child(4n + 2) {
  animation: wave 2s ease 0.2s infinite;
}

.spinnerblock:nth-child(4n + 3) {
  animation: wave 2s ease 0.4s infinite;
}

.spinnerblock:nth-child(4n + 4) {
  animation: wave 2s ease 0.6s infinite;
  margin-right: 0;
}
