@import "shared";

:host {
  display: block;
  width: 100%;
}

.counter__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--base-gainsboro);
  border-radius: 5px;
  max-width: 100%;
  width: 214px;
  height: 46px;
  background: var(--base-white) 0% 0% no-repeat padding-box;
  padding: 0 20px;

  @include lg {

  }

  @include md {

  }

  @include sm {
    margin-bottom: px2vw-sm(20px);
    width: 100%;
  }

  input {
    width: 40%;
    background: transparent;
    font-family: "stc-forward-light" !important;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: var(--base-black-pearl);
  }

  button {
    background-color: transparent;
    font-family: "stc-forward-light" !important;
    font-size: 18px;
    line-height: 23px;
    color: var(--base-black-pearl);
  }
}

label {
  margin-bottom: 0.8337675873vw;
  width: 105%;
  
  span {
    color: var(--ui-venetian-red);
  }
}

.pointer-event-none {
  pointer-events: none;
}

// @media (min-width: 1200px) and (max-width: 1600px) {
//   .counter__container {
//     width: 180px;
//     height: 35px;
//     button,
//     input {
//       font-size: 14px;
//       line-height: normal;
//     }
//   }
// }

// @media (min-width: 768px) and (max-width: 1199px) {
//   .counter__container {
//     height: 40px;
//   }
// }
