@import "shared";
.platform-fee {
  margin-top: px2vw-xl(100px);
  @include lg {
    margin-top: px2vw-lg(100px);
  }
  @include md {
    margin-top: px2vw-md(100px);
  }
  @include sm {
    margin-top: px2vw-sm(100px);
  }

  .btn-primary-paidia {
    background-color: var(--color-primary);
    color: var(--black);
    border: unset;
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 15px;
  }

  ::ng-deep {
    .global-MatField mat-label {
      color: var(--black);
    }
    .global-MatField .mat-input-element {
      font-family: "redhat-regular";
      color: var(--black);
      padding: 10px 15px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      border-bottom: 1px solid var(--black);
    }
  }
}
