<app-loading *ngIf="isLoading"></app-loading>
<div class="row platform-fee">
  <div class="col-md-5 col-sm-12">
    <form [formGroup]="platform" (ngSubmit)="updatePlatformFee()">
      <div class="ViewUserAccess-items">
        <mat-form-field class="global-MatField" appearance="outline">
          <mat-label>{{ "PLATFORM_FEE.PLATFORM_FEE" | translate }}</mat-label>
          <input matInput formControlName="platformFee" type="number" />
          <mat-error
            *ngIf="
              platform.get('platformFee').touched &&
              platform.get('platformFee').hasError('required')
            "
          >
            {{ "PLATFORM_FEE.EMPTY_ERROR" | translate }}
          </mat-error>
        </mat-form-field>
        <button class="btn btn-primary-paidia is-sm" type="submit">
          {{ "PLATFORM_FEE.UPDATE" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
