<div class="Tournament-tracker-card">
  <h3 class="Tournament-tracker-card-title mesf-Elipses2">
    {{ params?.tournamentId?.name }}
  </h3>
  <div
    class="Tournament-tracker-card-content u-dfStartBtw"
    *ngIf="params?.teamA && params?.teamB"
  >
    <div class="Tournament-tracker-card-content-left">
      <div class="Tournament-tracker-card-about">
        <span class="Tournament-tracker-card-gamer-name">{{
          params?.teamA?.teamName
        }}</span>
        <span class="Tournament-tracker-card-vs">{{
          "HOME_SOCER_TRACKER.vs" | translate
        }}</span>
        <span class="Tournament-tracker-card-gamer-name">{{
          params?.teamB?.teamName
        }}</span>
      </div>
      <!-- <p class="Tournament-tracker-card-city">{{ params.city }}</p> -->
    </div>
    <div class="Tournament-tracker-card-content-right">
      <p class="Tournament-tracker-card-results">
        {{ "HOME_SOCER_TRACKER.RESULT" | translate }}
      </p>
      <div class="Tournament-tracker-card-score">
        <span class="Tournament-tracker-card-gamer-score">{{
          params?.teamAWinSet
        }}</span>
        <span class="Tournament-tracker-card-gamer-score-vs">:</span>
        <span class="Tournament-tracker-card-gamer-score">{{
          params?.teamBWinSet
        }}</span>
      </div>
    </div>
  </div>
  <div
    class="Tournament-tracker-card-content-br u-dfStartBtw"
    *ngIf="!params?.teamA && !params?.teamB"
  >
    <div class="Tournament-tracker-card-content-left">
      <span class="Tournament-tracker-card-results">
        Round {{ params?.currentMatch.matchPosition + 1 }} - Stage
        {{ params?.currentMatch.stage }} - Group
        {{ params?.currentMatch.group }}
      </span>
    </div>
  </div>
  <div
    class="Tournament-tracker-card-content u-dfStartBtw"
    *ngIf="!params?.teamA && !params?.teamB"
  >
    <div class="Tournament-tracker-card-content-left">
      <span class="Tournament-tracker-card-gamer-name">
        Winner : {{ this.maxTeam.playerId.name }}
      </span>
    </div>
  </div>
</div>
