@import "shared";

:host {
  display: block;
  overflow: hidden;
}

.Profile {
  display: grid;
  grid-template-columns: 226px minmax(0, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 64px;

  @include xl {
    grid-template-columns: px2vw-xl(226px) minmax(0, 1fr);
    grid-column-gap: px2vw-xl(64px);
    grid-row-gap: px2vw-xl(64px);
  }

  @include lg {
    grid-template-columns: px2vw-lg(226px) minmax(0, 1fr);
    grid-column-gap: px2vw-lg(64px);
    grid-row-gap: px2vw-lg(64px);
  }

  @include md {
    grid-template-columns: px2vw-md(226px) minmax(0, 1fr);
    grid-column-gap: px2vw-md(64px);
    grid-row-gap: px2vw-md(64px);
  }

  @include sm {
    // grid-template-columns: px2vw-sm(350px) minmax(0, 1fr);
    grid-template-columns: 100% minmax(0, 1fr);
    grid-column-gap: px2vw-sm(64px);
    grid-row-gap: px2vw-sm(64px);
  }
}

.Profile-nav {
  margin-top: 34px;

  @include xl {
    margin-top: px2vw-xl(34px);
  }

  @include lg {
    margin-top: px2vw-lg(34px);
  }

  @include md {
    margin-top: px2vw-md(34px);
  }

  @include sm {
    margin-top: px2vw-sm(34px);
    display: none;
  }

  &-links-collapsed {
    padding-bottom: 8px;

    @include xl {
      padding-bottom: px2vw-xl(8px);
    }

    @include lg {
      padding-bottom: px2vw-lg(8px);
    }

    @include md {
      padding-bottom: px2vw-md(8px);
    }

    @include sm {
      padding-bottom: px2vw-sm(8px);
    }
  }

  &-links-tournaments {
    padding-left: 16px;

    @include xl {
      padding-left: px2vw-xl(16px);
    }

    @include lg {
      padding-left: px2vw-lg(16px);
    }

    @include md {
      padding-left: px2vw-md(16px);
    }

    @include sm {
      padding-left: px2vw-sm(16px);
    }
  }

  &-link-main {
    @extend %u-dfCenter;
    margin-top: 8px;
    padding: 12px 20px;
    transition: $global-transition;

    @include xl {
      margin-top: px2vw-xl(8px);
      padding: px2vw-xl(12px) px2vw-xl(20px);
    }

    @include lg {
      margin-top: px2vw-lg(8px);
      padding: px2vw-lg(12px) px2vw-lg(20px);
    }

    @include md {
      margin-top: px2vw-md(8px);
      padding: px2vw-md(12px) px2vw-md(20px);
    }

    @include sm {
      margin-top: px2vw-sm(8px);
      padding: px2vw-sm(12px) px2vw-sm(20px);
    }

    mat-icon {
      @extend %u-dfCenterCenter;
      flex-shrink: 0;
      margin-right: 20px;
      height: 24px;
      width: 24px;
      font-size: 24px;
      color: var(--white-medium);
      transition: inherit;

      @include xl {
        margin-right: px2vw-xl(24px);
        height: px2vw-xl(24px);
        width: px2vw-xl(24px);
        font-size: px2vw-xl(20px);
      }

      @include lg {
        margin-right: px2vw-lg(24px);
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
        font-size: px2vw-lg(20px);
      }

      @include md {
        margin-right: px2vw-md(24px);
        height: px2vw-md(24px);
        width: px2vw-md(24px);
        font-size: px2vw-md(20px);
      }

      @include sm {
        margin-right: px2vw-sm(24px);
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
        font-size: px2vw-sm(20px);
      }
    }

    span {
      @extend %body-1;
      color: var(--white-medium);
      transition: inherit;
      font-family: 'redhat-regular';
    }

    &.active {
      background-color: var(--color-primary);

      mat-icon,
      span {
        color: var(--black);
      }
    }

    &.first {
      margin-top: 0;
    }

    &:hover:not(.active) {

      mat-icon,
      span {
        color: var(--color-secondary);
      }
    }
  }

  &-link {
    @extend %u-dfCenterBtw;
    @extend %body-1;
    margin-top: 4px;
    padding: 8px 16px;
    width: 100%;
    color: var(--white-medium);
    transition: $global-transition;
    font-family: 'redhat-regular';

    @include xl {
      margin-top: px2vw-xl(4px);
      padding: px2vw-xl(8px) px2vw-xl(16px);
    }

    @include lg {
      margin-top: px2vw-lg(4px);
      padding: px2vw-lg(8px) px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(4px);
      padding: px2vw-md(8px) px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(4px);
      padding: px2vw-sm(8px) px2vw-sm(16px);
    }

    &:hover:not(.active) {
      color: var(--color-primary);
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--black);

      .inbox {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }

  &-link-inbox {
    @extend %caption;
    margin-left: 10px;
    border-radius: 20px;
    padding: 2px 6px;
    background-color: var(--color-tertiary);
    transition: $global-transition;

    @include xl {
      margin-left: px2vw-xl(10px);
      border-radius: px2vw-xl(20px);
      padding: px2vw-xl(2px) px2vw-xl(6px);
    }

    @include lg {
      margin-left: px2vw-lg(10px);
      border-radius: px2vw-lg(20px);
      padding: px2vw-lg(2px) px2vw-lg(6px);
    }

    @include md {
      margin-left: px2vw-md(10px);
      border-radius: px2vw-md(20px);
      padding: px2vw-md(2px) px2vw-md(6px);
    }

    @include sm {
      margin-left: px2vw-sm(10px);
      border-radius: px2vw-sm(20px);
      padding: px2vw-sm(2px) px2vw-sm(6px);
    }
  }

  &-bottom {
    margin-top: 12px;
    border-top: 1px solid var(--white-smoke);
    padding-top: 4px;

    @include xl {
      margin-top: px2vw-xl(12px);
      border-top-width: px2vw-xl(1px);
      padding-top: px2vw-xl(4px);
    }

    @include lg {
      margin-top: px2vw-lg(12px);
      border-top-width: px2vw-lg(1px);
      padding-top: px2vw-lg(4px);
    }

    @include md {
      margin-top: px2vw-md(12px);
      border-top-width: px2vw-md(1px);
      padding-top: px2vw-md(4px);
    }

    @include sm {
      margin-top: px2vw-sm(12px);
      border-top-width: px2vw-sm(1px);
      padding-top: px2vw-sm(4px);
    }
  }
}

::ng-deep {

  .CardsStatistic-item-title,
  .Dashboard-user-location-text,
  .Dashboard-user-subs-title,
  .Dashboard-user-bio,
  .MatchCard-subtitle {
    font-family: 'redhat-regular' !important;
  }
}