<div *ngIf="!isEditViewOpen" class="ShopConfigurations-main">
  <div class="ShopConfigurations-boxB">
    <div class="ShopConfigurations-footer-btns">
      <button class="btn is-sm" (click)="toggleEditPane()">
        + {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_GAME" | translate }}
      </button>
    </div>
    <div class="global-scrollbar">
      <ngx-datatable
        #table
        class="global-DataTable"
        [rows]="productsList"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [limit]="50"
      >
        <ngx-datatable-column
          name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.NAME' | translate }}"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            {{ row.name }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.TYPE' | translate }}"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            {{ row.type }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              mat-icon-button
              color="primary"
              ngbTooltip="{{ 'ADMIN_TOOLTIP.EDIT' | translate }}"
              (click)="editPane(row)"
              class="advertisement-tableBtn is-view"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
<div *ngIf="isEditViewOpen" class="ShopConfigurations-main">
  <div class="ShopConfigurations-boxC-footer">
    <div class="ShopConfigurations-boxC-footer-left">
      <form [formGroup]="ownerForm" novalidate>
        <div style="display: flex">
          <div style="width: 70%">
            <mat-form-field
              class="global-MatField LogReg-input"
              appearance="outline"
            >
              <mat-label>{{
                "ADMIN.SITE_CONFIGURATION.TABLE_HEADER.NAME" | translate
              }}</mat-label>
              <input
                matInput
                id="name"
                (keyup)="sync('name')"
                type="text"
                formControlName="name"
              />
              <mat-error *ngIf="hasError('name', 'required')"
                >{{ "ADMIN_NEW.NAME_IS" | translate }} *</mat-error
              >
            </mat-form-field>

            <mat-form-field
              class="global-MatField LogReg-input"
              appearance="outline"
            >
              <mat-label>{{ "ADMIN_NEW.PRODUCT" | translate }}</mat-label>
              <input
                matInput
                id="p_name"
                formControlName="p_name"
                type="text"
              />
              <mat-error *ngIf="hasError('p_name', 'required')"
                >{{ "ADMIN_NEW.NAME_IS" | translate }} *</mat-error
              >
            </mat-form-field>

            <div class="col-xl-4 col-lg-12" style="margin-left: -15px">
              <app-drop-down-select
                [title]="
                  'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.TYPE' | translate
                "
                [customFormControlName]="'type'"
                [customFormGroup]="ownerForm"
                [dropdownList]="typeValues"
                [type]="'A'"
                (valueEmit)="selectType($event)"
              ></app-drop-down-select>
            </div>
          </div>
          <div class="ShopConfigurations-boxA-item is-last">
            <div>
              <input
                type="file"
                id="bannerUploader"
                style="opacity: 0; height: 0px; width: 0px"
              />
              <div>
                {{ "ADMIN_NEW.ADD_BANNER" | translate
                }}<span *ngIf="bannerError" class="imageError">*</span>
              </div>
              <div
                #bannerUpload
                id="bannerUpload"
                class="ShopConfigurations-boxA-item-upload"
              >
                <div class="ShopConfigurations-boxA-item-upload-info">
                  {{ "ADMIN_NEW.IMAGE" | translate }}<br />
                  180px X 180px
                  <button
                    (click)="bannerUploader()"
                    class="global-EditBtn is-sm is-edit"
                  >
                    {{ "ADMIN_NEW.UPLOAD" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="ShopConfigurations-boxA-item is-last">
            <div>
              <input
                type="file"
                id="logoUploader"
                style="opacity: 0; height: 0px; width: 0px"
              />
              <div>
                {{ "ADMIN_NEW.ADD_LOGO" | translate }}
                <span *ngIf="logoError" class="imageError">*</span>
              </div>
              <div
                #logoUpload
                id="logoUpload"
                class="ShopConfigurations-boxA-item-upload"
              >
                <div class="ShopConfigurations-boxA-item-upload-info">
                  {{ "ADMIN_NEW.IMAGE" | translate }}<br />
                  180px X 180px
                  <button
                    (click)="logoUploader()"
                    class="global-EditBtn is-sm is-edit"
                  >
                    {{ "ADMIN_NEW.UPLOAD" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-form-field
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label>{{ "ADMIN_NEW.SHORT" | translate }}</mat-label>
          <input matInput id="s_descp" type="text" formControlName="s_descp" />
          <mat-error *ngIf="hasError('s_descp', 'required')"
            >{{ "ADMIN_NEW.SHORT_DESC" | translate }} *</mat-error
          >
        </mat-form-field>

        <mat-form-field
          class="global-MatField LogReg-input"
          appearance="outline"
        >
          <mat-label>{{ "ADMIN_NEW.LONG" | translate }}</mat-label>
          <textarea
            matInput
            id="l_descp"
            type="text"
            formControlName="l_descp"
          ></textarea>
          <mat-error *ngIf="hasError('l_descp', 'required')"
            >{{ "ADMIN_NEW.LONG_DESC" | translate }} *</mat-error
          >
        </mat-form-field>

        <div class="ShopConfigurations-footer-btns">
          <button
            class="btn cancel is-sm"
            (click)="toggleEditPane(); resetControls()"
          >
            {{ "ADMIN_NEW.CANCEL" | translate }}
          </button>
          <button type="submit" (click)="updateProduct()" class="btn is-sm">
            {{ "ADMIN_NEW.SAVE" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
