@import "shared";

:host {
  display: block;
}

.SearchVideo {
  &-title {
    position: relative;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }

    h3.d-inline-block {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
    }
  }

  &-seemore {
    position: absolute;
    right: 0px;
    margin-bottom: px2vw-xl(24px);
    color: var(--main-color);
    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-auto-rows: 18x;
    grid-gap: 16px;
    place-content: center;

    @include sm {
      grid-template-columns: 220px 220px 220px 220px;
      grid-auto-rows: 18x;
      grid-gap: 16px;

      overflow-x: scroll;
    }
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--tertiary-color);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }
}

.cards {
  padding: 0;

  &-image {
    background-size: cover;
    margin-bottom: px2vw-xl(10px);
    height: px2vw-xl(160px);
    width: 100%;
    background-color: var(--black);
    border-radius: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      height: px2vw-lg(160px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      height: px2vw-md(160px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      height: px2vw-sm(160px);
    }
  }

  &-info {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: start;
    align-items: start;

    @include sm {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &-left {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: start;
      align-items: start;

      @include sm {
        -webkit-align-items: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 16px;
      }

      .avatar {
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-top: 6px;
        margin-right: 8px;

        img {
          position: absolute;
          width: 100%;

          top: 0;
          left: 0;
          object-fit: cover;
        }
      }

      .info {
        .name {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 8px;
          color: var(--white);
        }

        .id-infomore {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--tolopea-color);
          margin-bottom: 0;
        }
      }
    }

    &-right {
      @include sm {
        width: 100%;
      }

      .Position {
        width: 107px;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;

        @include sm {
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          width: 100%;
        }

        .label {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--tolopea-color);
          display: inline-block;
          margin-right: 24px;

          @include sm {
            margin-right: 16px;
            font-size: 14px;
            line-height: 20px;
          }
        }

        .score {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          color: var(--white);

          @include sm {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
  }
}

.videoCard {
  &-item {
    margin-bottom: 28px;
    @include sm {
      width: 100%;
    }
    .avatar {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin-right: 21px;
      @include md {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
      @include sm {
        width: 32px;
        height: 32px;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    .description {
      width: 100%;
      max-width: calc(100% - 61px);
      @include md {
        max-width: calc(100% - 32px);
      }
      @include sm {
        max-width: calc(100% - 40px);
      }
    }
    .endDay {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--tolopea-color);
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--white);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 7px;
    }
    .text {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--tolopea-color);
      margin-bottom: 0;
    }
  }
  &-thumbnail {
    width: 100%;
    height: 151px;
    overflow: hidden;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: px2vw-xl(21px);
    border-radius: px2vw-xl(20px);

    @include sm {
      border-radius: px2vw-xl(60px);
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: 1;
    }
  }
  &-description {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
