<!--
<div class="shop-card-main">
  <P class="shop-card-topup">TOP-UP</P>
  <div class="shop-card-image" [lazyLoad]="shop?.image"> -->
<!-- <img class="shop-card-image" src="{{shop?.image}}" /> -->
<!-- </div>
  <div class="shop-card-body">
    <h6 class="shop-card-header">{{shop?.name}}</h6>
    <p class="shop-card-author-image">Garena</p>
    <p class="price">from <img src="assets/images/Home/icon-gc.png"> {{shop?.price}}</p>
  </div> -->
<!-- <div class="shop-card-footer d-flex">
    <div>
      <div class="shop-card-from-text">
        from
      </div>
      <div class="Play-ongoing-card-author-name"> <img src="assets/images/Home/icon-gc.png"> {{shop?.price}}</div>
    </div>
  </div> -->
<!-- </div> -->





<div class="shop-card-main">
  <div class="shop-card-image">
    <div class="discount_bar">
      <img src="{{shop.iconUrl}}" alt="" class="img-fluid" />
      <P *ngIf="shop?.isDiscounted" class="shop-card-host">{{ "SEARCH_SHOP_CARD.HOT_DEALS" | translate }}</P>
    </div>
  </div>
  <div class="shop-card-body">
    <h6 class="shop-card-header">{{shop?.categoryName}}</h6>
    <p class="shop-card-author-image">{{shop?.products[0]?.publisher}}</p>
    <p class="price">{{ "SEARCH_SHOP_CARD.FROM" | translate }} <img src="assets/images/Home/icon-gc.svg"><span>{{shop?.least}}</span></p>
  </div>
</div>
