<app-header-dynasty></app-header-dynasty>

<div class="CasualMatchmaking-wrap">
    <div class="CasualMatchmaking-inner">
        <section class="CasualMatchmaking">
            <div class="CasualMatchmaking-title">{{ "MATCHMAKING.GAME_LOBBY.TITLE" | translate}}
                <div class="CasualMatchmaking-title-info">
                    <button class="CasualMatchmaking-title-info-btn" (click)="show = !show">
                        <span class="icon" inlineSVG="../../../../assets/icons/icon-info.svg"></span>
                        <span class="text">{{ "BUTTON.HELP" | translate}} </span>
                    </button>
                </div>
            </div>
            <div class="CasualMatchmaking-subtitle">{{ "MATCHMAKING.GAME_LOBBY.SUB_TITLE" | translate}}</div>
            <div class="CasualMatchmaking-teams">
                <div class="CasualMatchmaking-team">
                    <div class="CasualMatchmaking-team-info">
                        Team:
                        <span class="CasualMatchmaking-team-info-name"> P-Crown </span>
                        <span class="casual-matchmaking-team-info-count-member">(3 players)</span>
                    </div>
                    <div class="CasualMatchmaking-team-members">
                        <div class="CasualMatchmaking-team-member">
                            <div class="CasualMatchmaking-team-member-ava"></div>
                            <div class="CasualMatchmaking-team-member-info">
                                <div class="CasualMatchmaking-team-member-name">Ramona Myers</div>
                                <div class="CasualMatchmaking-team-member-id">Player ID: Myer2303 | <span
                                        class="CasualMatchmaking-team-member-caption">Captain</span></div>
                            </div>
                            <div class="CasualMatchmaking-team-member-slug">
                                Myer2303
                                <span inlineSVG="assets/icons/btn-copy.svg"></span>
                            </div>
                            <button class="CasualMatchmaking-team-member-option"
                                inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                        </div>
                        <div class="CasualMatchmaking-team-member">
                            <div class="CasualMatchmaking-team-member-ava"></div>
                            <div class="CasualMatchmaking-team-member-info">
                                <div class="CasualMatchmaking-team-member-name">Ramona Myers</div>
                                <div class="CasualMatchmaking-team-member-id">Player ID: Myer2303</div>
                            </div>
                            <div class="CasualMatchmaking-team-member-slug">
                                Myer2303
                                <span inlineSVG="assets/icons/btn-copy.svg"></span>
                            </div>
                            <button class="CasualMatchmaking-team-member-option"
                                inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                        </div>
                        <div class="CasualMatchmaking-team-member">
                            <div class="CasualMatchmaking-team-member-ava"></div>
                            <div class="CasualMatchmaking-team-member-info">
                                <div class="CasualMatchmaking-team-member-name">Ramona Myers</div>
                                <div class="CasualMatchmaking-team-member-id">Player ID: Myer2303</div>
                            </div>
                            <div class="CasualMatchmaking-team-member-slug">
                                Myer2303
                                <span inlineSVG="assets/icons/btn-copy.svg"></span>
                            </div>
                            <button class="CasualMatchmaking-team-member-option"
                                inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                        </div>
                    </div>
                </div>
                <div class="CasualMatchmaking-team">
                    <div class="CasualMatchmaking-team-info">
                        Team:
                        <span class="CasualMatchmaking-team-info-name"> Pineapple Knight </span>
                        <span class="casual-matchmaking-team-info-count-member">(3 players)</span>
                    </div>
                    <div class="CasualMatchmaking-team-members">
                        <div class="CasualMatchmaking-team-member">
                            <div class="CasualMatchmaking-team-member-ava"></div>
                            <div class="CasualMatchmaking-team-member-info">
                                <div class="CasualMatchmaking-team-member-name">Ramona Myers</div>
                                <div class="CasualMatchmaking-team-member-id">Player ID: Myer2303 <span
                                        class="CasualMatchmaking-team-member-devider devider-mobile">|</span> <span
                                        class="CasualMatchmaking-team-member-caption caption-mobile">Captain</span>
                                </div>
                            </div>
                            <div class="CasualMatchmaking-team-member-slug">
                                Myer2303
                                <span inlineSVG="assets/icons/btn-copy.svg"></span>
                            </div>
                            <button class="CasualMatchmaking-team-member-option"
                                inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                        </div>
                        <div class="CasualMatchmaking-team-member">
                            <div class="CasualMatchmaking-team-member-ava"></div>
                            <div class="CasualMatchmaking-team-member-info">
                                <div class="CasualMatchmaking-team-member-name">Ramona Myers</div>
                                <div class="CasualMatchmaking-team-member-id">Player ID: Myer2303</div>
                            </div>
                            <div class="CasualMatchmaking-team-member-slug">
                                Myer2303
                                <span inlineSVG="assets/icons/btn-copy.svg"></span>
                            </div>
                            <button class="CasualMatchmaking-team-member-option"
                                inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                        </div>
                        <div class="CasualMatchmaking-team-member">
                            <div class="CasualMatchmaking-team-member-ava"></div>
                            <div class="CasualMatchmaking-team-member-info">
                                <div class="CasualMatchmaking-team-member-name">Ramona Myers</div>
                                <div class="CasualMatchmaking-team-member-id">Player ID: Myer2303</div>
                            </div>
                            <div class="CasualMatchmaking-team-member-slug">
                                Myer2303
                                <span inlineSVG="assets/icons/btn-copy.svg"></span>
                            </div>
                            <button class="CasualMatchmaking-team-member-option"
                                inlineSVG="assets/icons/three-dots-vertical.svg"></button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<!-- <div class="CasualMatchmaking-group-chat">
    <div class="CasualMatchmaking-group-chat-header">
        <div class="CasualMatchmaking-group-chat-header-ava-team"></div>
        <div class="CasualMatchmaking-group-chat-header-info">
            <div class="CasualMatchmaking-group-chat-header-info-title">Match group chat</div>
            <div class="CasualMatchmaking-group-chat-header-info-count-member">6 Members</div>
        </div>
        <button class="CasualMatchmaking-group-chat-header-btn-mini" inlineSVG="assets/icons/btn-mini.svg" (click)="contentChat = !contentChat"></button>
        <button class="CasualMatchmaking-group-chat-header-btn-close" inlineSVG="assets/icons/btn-close.svg"></button>
    </div>
    <div class="CasualMatchmaking-group-chat-content" *ngIf="contentChat">
        <div class="CasualMatchmaking-group-chat-content-right">
            <div class="CasualMatchmaking-group-chat-content-right-text">Hello! What time shall we play this match?
            </div>
            <div class="CasualMatchmaking-group-chat-content-right-time">11:30 pm</div>
        </div>
        <div class="CasualMatchmaking-group-chat-content-left">
            <div class="CasualMatchmaking-group-chat-content-left-ava"></div>
            <div class="CasualMatchmaking-group-chat-content-left-text-wrap">
                <div class="CasualMatchmaking-group-chat-content-left-text">
                    <div class="CasualMatchmaking-group-chat-content-left-text-name">Airbender</div>
                    <div class="CasualMatchmaking-group-chat-content-left-text-mess">I’m free now!</div>
                </div>
                <div class="CasualMatchmaking-group-chat-content-left-time">11:45 pm</div>
            </div>
        </div>
        <div class="CasualMatchmaking-group-chat-content-left">
            <div class="CasualMatchmaking-group-chat-content-left-ava"></div>
            <div class="CasualMatchmaking-group-chat-content-left-text-wrap">
                <div class="CasualMatchmaking-group-chat-content-left-text">
                    <div class="CasualMatchmaking-group-chat-content-left-text-name">Alegend</div>
                    <div class="CasualMatchmaking-group-chat-content-left-text-mess">How about in 10 mins?</div>
                </div>
                <div class="CasualMatchmaking-group-chat-content-left-time">11:45 pm</div>
            </div>

        </div>
        <div class="CasualMatchmaking-group-chat-content-right">
            <div class="CasualMatchmaking-group-chat-content-right-text">Sounds good, cy’all</div>
            <div class="CasualMatchmaking-group-chat-content-right-time">11:45 pm</div>
        </div>
    </div>
    <div class="CasualMatchmaking-group-chat-boxSend" *ngIf="contentChat">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Send a message">
                <div class="CasualMatchmaking-group-chat-boxSend-tool">
                    <button class="CasualMatchmaking-group-chat-boxSend-tools"
                        inlineSVG="../../../assets/icons/icon-chat.svg"></button>
                    <button class="CasualMatchmaking-group-chat-boxSend-tools"
                        inlineSVG="../../../assets/icons/image-chat.svg"></button>
                    <button class="CasualMatchmaking-group-chat-boxSend-tools"
                        inlineSVG="../../../assets/icons/gif-chat.svg"></button>
                </div>
            </mat-form-field>
            <button class="CasualMatchmaking-group-chat-boxSend-submit"
                inlineSVG="../../../assets/icons/btn-submit-mess.svg">
            </button>
        </form>
    </div>
</div> -->