<button class="AddPrizesButton u-dfCenterStart">
  <span
    class="AddPrizesButton-icon icon"
    inlineSVG="assets/icons/tournament/add-plus.svg"
  ></span>

  <span class="AddPrizesButton-text text global-Title3">
    {{ text }}
  </span>
</button>
