<div class="container-match-list container-tab container u-wp">
  <ng-container *ngIf="['single', 'double'].includes(tournament?.bracketType)">
    <div class="row" *ngIf="round?.length > 0">
      <div class="col-lg-4 col-md-4">
        <mat-form-field class="global-MatField" appearance="outline">
          <mat-label> Round </mat-label>
          <mat-select matNativeControl [ngModel]="selectedRound">
            <mat-option
              *ngFor="let item of round; let roundIndex = index"
              [value]="item"
              (click)="fetchMatches(item, roundIndex)"
            >
              {{
                item.id > 0
                  ? ("MANAGE_TOURNAMENT.MATCHES.ROUND" | translate) +
                    " " +
                    item.id
                  : ("MANAGE_TOURNAMENT.MATCHES.LOSER_ROUND" | translate) +
                    " " +
                    -item.id
              }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" style="background: none !important">
        <tbody class="Dashboard-cards-item-info">
          <!-- <ng-container *ngFor="let m of matchList; let i=index">
            <ng-container *ngFor="let s of m.sets"> -->
          <tr
            class="tbl-row fontfamily"
            *ngFor="let m of matchList; let i = index"
          >
            <td class="tbl-col align-right">
              {{ m?.teamA?.teamName }}
              <span style="padding-left: 20px">
                <img [src]="m?.teamA?.logo" width="32px" style="" alt="" />
              </span>
            </td>
            <ng-container *ngFor="let s of setHeader; let i = index">
              <td class="align-right">
                <span
                  [ngClass]="{
                    'high-core': m?.sets[i]?.teamAScore > m?.sets[i]?.teamBScore
                  }"
                >
                  {{ m?.sets[i] ? m?.sets[i]?.teamAScore || 0 : " " }}
                </span>
              </td>
            </ng-container>
            <td class="align-center">:</td>
            <ng-container *ngFor="let s of setHeader; let i = index">
              <td class="align-left">
                <span
                  [ngClass]="{
                    'high-core': m?.sets[i]?.teamBScore > m?.sets[i]?.teamAScore
                  }"
                >
                  {{ m?.sets[i]?.teamBScore }}
                </span>
              </td>
            </ng-container>
            <td class="tbl-col align-left">
              <span style="padding-right: 20px">
                <img [src]="m?.teamB?.logo" width="32px" alt="" />
              </span>
              {{ m?.teamB?.teamName }}
            </td>
            <td>
              <mat-icon
                color="primary"
                class="icon-clickable"
                (click)="navigateToReportScore(m, i)"
                >edit
              </mat-icon>
            </td>
          </tr>
          <!-- </ng-container>
          </ng-container> -->
        </tbody>
      </table>
    </div>

    <ng-container *ngIf="!round.length || (!matchList.length && isLoaded)">
      <p class="match-not-available">
        {{ "MANAGE_TOURNAMENT.MATCHES.NO_CURRENT_MATCH" | translate }}
      </p>
    </ng-container>
  </ng-container>

  <!-- battle_royale'-->
  <ng-container
    *ngIf="['battle_royale', 'round_robin'].includes(tournament?.bracketType)"
  >
    <app-elimination
      [tournament]="tournament"
      [structure]="stage"
      [type]="tournament?.bracketType"
      [isLoaded]="isLoaded"
      [participantType]="tournament?.participantType"
      [isSeeded]="tournament?.isSeeded"
      [isAdmin]="true"
      [hideMockStructure]="true"
    >
    </app-elimination>
  </ng-container>

  <ng-container *ngIf="tournament?.bracketType == 'swiss_safeis'">
    <app-elimination
      [type]="tournament?.bracketType"
      [structure]="matchList"
      [isSeeded]="tournament?.isSeeded"
      [isAdmin]="isAdmin"
      [isLoaded]="true"
      [tournament]="tournament"
      [participantId]="participantId"
      [disableStanding]="true"
    ></app-elimination>
    <!-- <p *ngIf="!tournament?.isSeeded">
      {{ "MANAGE_TOURNAMENT.MATCHES.NO_CURRENT_MATCH" | translate }}
    </p> -->
  </ng-container>
  <app-ladder-match *ngIf="tournament?.bracketType == 'ladder'"
    [mList]="ladderMatchList"
    [tournament]="tournament"
    [participantId]="participantId"
    [isEoOrAdmin]="isAdmin"
    (isRefresh)="getResponse($event)"
  >
  </app-ladder-match>
  <!-- <esports-pagination *ngIf="tournament?.bracketType == 'ladder'"
    [page]="page"
    (currentPage)="pageChanged($event)"
  >
  </esports-pagination> -->

</div>

<app-loading *ngIf="!isLoaded"></app-loading>
