@import "shared";
@import "../../../scss/components/create-team";

:host {
  display: block;
}

.ManageTeam {
  margin: 0 auto;
  overflow: hidden;
  max-width: px2vw-xl(1110px);

  @include lg {
    max-width: none;
  }

  &-container {
    @include md {
      flex-direction: column;
    }
  }

  &-members {
    flex-grow: 1;
  }

  &-members-title {
    @extend %global-H3;
  }

  &-members-title,
  &-members-subtitle {
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-table {
    ::ng-deep {
      .datatable-header-inner {
        background-color: var(--black);
      }

      .datatable-header-cell,
      .datatable-body-cell {
        // S/N
        &:first-child {
          width: px2vw-xl(220px) !important;

          @include lg {
            width: px2vw-lg(220px) !important;
          }

          @include md {
            width: px2vw-md(170px) !important;
          }

          @include sm {
            width: px2vw-sm(130px) !important;
            padding-left: px2vw-sm(10px);
          }
        }

        // Player Name
        &:nth-child(2) {
          width: px2vw-xl(480px) !important;

          @include lg {
            width: px2vw-lg(480px) !important;
          }

          @include md {
            width: px2vw-md(330px) !important;
          }

          @include sm {
            width: px2vw-sm(180px) !important;
          }
        }

        // Role
        &:nth-child(3) {
          width: px2vw-xl(300px) !important;

          @include lg {
            width: px2vw-lg(300px) !important;
          }

          @include md {
            width: px2vw-md(170px) !important;
          }

          @include sm {
            width: px2vw-sm(120px) !important;
          }
        }

        // Control
        &:nth-child(4) {
          width: px2vw-xl(100px) !important;

          @include lg {
            width: px2vw-lg(100px) !important;
          }

          @include md {
            width: px2vw-md(100px) !important;
          }

          @include sm {
            width: px2vw-sm(100px) !important;
          }
        }
      }

      .datatable-header-cell {
        padding: px2vw-xl(16px) 0;

        @include lg {
          padding: px2vw-lg(16px) 0;
        }

        @include md {
          padding: px2vw-md(16px) 0;
        }

        @include sm {
          padding: px2vw-sm(16px) 0;
        }
      }

      .datatable-header-cell-label {
        margin-left: px2vw-xl(35px);

        @include lg {
          margin-left: px2vw-lg(35px);
        }

        @include md {
          margin-left: px2vw-md(15px);
        }

        @include sm {
          margin-left: 0;
        }
      }

      .datatable-body-cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto !important;
        padding: px2vw-xl(18px) 0;

        @include lg {
          padding: px2vw-lg(18px) 0;
        }

        @include md {
          padding: px2vw-md(18px) 0;
        }

        @include sm {
          padding: px2vw-sm(18px) 0;
        }
      }

      .datatable-body-cell-label {
        display: flex;
        padding: 0;
        padding-left: px2vw-xl(35px);

        @include lg {
          padding-left: px2vw-lg(35px);
        }

        @include md {
          padding-left: px2vw-md(15px);
        }

        @include sm {
          padding-left: 0;
        }
      }

      .datatable-footer {
        display: none;
      }
    }
  }

  &-table-item-number {
    margin-right: px2vw-xl(40px);

    @include lg {
      margin-right: px2vw-lg(40px);
    }

    @include md {
      margin-right: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
    }
  }

  &-table-item-image {
    width: px2vw-xl(62px);
    height: px2vw-xl(62px);
    border-radius: 50%;
    background-size: cover;
    background-color: var(--black);
    background-position: center center;

    @include lg {
      width: px2vw-lg(62px);
      height: px2vw-lg(62px);
    }

    @include md {
      width: px2vw-md(62px);
      height: px2vw-md(62px);
    }

    @include sm {
      width: px2vw-sm(62px);
      height: px2vw-sm(62px);
    }
  }

  &-control-icon {
    font-size: px2vw-xl(50px);
    color: var(--white-high);

    @include lg {
      font-size: px2vw-lg(40px);
    }

    @include md {
      font-size: px2vw-md(40px);
    }

    @include sm {
      font-size: px2vw-sm(40px);
    }
  }

  &-options {
    display: flex;
    flex-direction: column;
  }

  &-option {
    border-bottom: 1px solid var(--white-disabled);
    min-width: px2vw-xl(300px);
    padding: px2vw-xl(20px);
    background-color: var(--black-medium);

    @include lg {
      min-width: px2vw-lg(230px);
      padding: px2vw-xl(20px);
    }

    @include md {
      min-width: px2vw-md(230px);
      padding: px2vw-xl(40px);
    }

    @include sm {
      min-width: px2vw-sm(230px);
      padding: px2vw-xl(40px);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &-option-image {
    margin-right: px2vw-xl(20px);
    width: px2vw-xl(32px);

    @include lg {
      margin-right: px2vw-lg(14px);
      width: px2vw-lg(24px);
    }

    @include md {
      width: px2vw-md(24px);
      margin-right: px2vw-md(14px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      width: px2vw-sm(24px);
    }
  }

  &-buttons {
    margin-top: px2vw-xl(110px);
    border-top: 1px solid var(--black-medium);
    padding: px2vw-xl(40px);
    padding-bottom: 0;

    @include lg {
      justify-content: flex-start;
      margin-top: px2vw-lg(110px);
      padding-top: px2vw-lg(40px);
    }

    @include md {
      margin-top: px2vw-md(70px);
      padding: px2vw-md(30px) 0 0;
    }

    @include sm {
      margin-top: px2vw-sm(70px);
      padding-top: px2vw-sm(25px);
    }
  }

  &-button {
    margin-left: px2vw-xl(16px);

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
