@import "shared";

.ladder-popup{
  &-header{

    // font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(16px);
    background-color: var(--white-medium);
    padding: 15px;
    @include lg{
      font-size: px2vw-lg(24px);
    }
    @include md{
      font-size: px2vw-md(24px);
    }

  }
  &-close{
    & img{
      width: 26px;
    }
  }
  &-finding{
    padding:px2vw-xl(48px);
    width: 423px;
    height: 312px;
    background: var(--boysenberry);
    border-radius: 24px;
    .countdown-title{
      @include textStyleSet(Paralucent,normal,600,24px,32px,0.5px);
      color: var(--white);
      margin-bottom: px2vw-xl(16px);
    }
   
  }
  &-loading{
    min-height: 200px;
  }
  &-time{
    margin-bottom: px2vw-xl(20px);
    @include textStyleSet(Paralucent,normal,600,40px,48px,0.5px);
    color: var(--counter-yellow);
    margin-bottom: px2vw-xl(16px) !important;
  }
  &-wait{
    @include textStyleSet(Paralucent,normal,normal,16px,24px,0.5px);
    color: var(--concrete);
    margin-bottom: px2vw-xl(32px);
  }
  &-notFound{
    padding:px2vw-xl(48px);
    width: 423px;
    height: 312px;
    background: var(--boysenberry);
    border-radius: 24px;
    
  }
  &-noOponent{
    @include textStyleSet(Paralucent,normal,600,24px,32px,0.5px);
    color: var(--white);
    margin-bottom: px2vw-xl(16px);
  }
  &-newTime{
    padding:20px 17px;
  }
  &-row{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;
  }
  &-datePicker{
    border: 1px solid var(--base-submarine);
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    border-color: var(--base-gainsboro);
  }
  &-reportScore{
    padding: 0 40px 40px 40px;
    &-darkRed{
      background-color: var(--dark-red);
      margin-right: 10px;
    }
    &-image{
        margin-top: 20px;
        margin-bottom: 40px;
      & img{
      width: 15px;
      height: auto;
      }
    }
  }
  .cancel-button{
    @include textStyleSet(Paralucent,normal,600,16px,24px,0.5px);
    display: inline-block;
    color: var(--white);
    background: var(--wet-clay);
    border-radius: 6px;
    width: 118px;
    height: 48px;
  }
  .search-again-button{
    width: 164px;
    height: 48px;
    background: var(--googly-yellow);
    border-radius: 6px;
    margin-left: px2vw-xl(16px) !important;
    @include textStyleSet(Paralucent,normal,600,16px,24px,0.5px);
    display: inline-block;
    color: var(--darkest-night);
    }
}
.playNowLoader{
  width: px2vw-xl(400px);
  height: px2vw-xl(400px);

  @include lg{
    width: px2vw-lg(350px);
    height: px2vw-lg(350px);
  }
  @include md{
    width: px2vw-md(250px);
    height: px2vw-md(250px);
  }
  @include sm{
    width: px2vw-sm(250px);
    height: px2vw-sm(250px);
  }
}

::ng-deep{
  .mat-dialog-container{
    padding: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    overflow: auto;
    height: auto;
  }
}
.dateContainer-input{
  width: 100%;
}
.Loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .spinner-grow {
    background-color: black;
  }
}

.Ladder-players {
  margin-bottom: px2vw-xl(65px);

  @include lg {
    margin-bottom: px2vw-lg(65px);
  }

  @include md {
    margin-bottom: px2vw-md(65px);
  }

  @include sm {
    margin-bottom: px2vw-sm(65px);
  }

  &-item {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-title {
    margin-bottom: px2vw-xl(10px);
    text-transform: capitalize;

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-table {

    .player-sn {
      min-width: px2vw-xl(100px);

      @include lg {
        min-width: px2vw-lg(100px);
      }

      @include md {
        min-width: px2vw-md(100px);
      }

      @include sm {
        min-width: px2vw-sm(100px);
      }
    }


    .player-image {

      height: px2vw-xl(35px);
      width: px2vw-xl(35px);
      object-fit: cover;

      @include lg {

        height: px2vw-lg(35px);
        width: px2vw-lg(35px);
      }

      @include md {

        height: px2vw-md(35px);
        width: px2vw-md(35px);
      }

      @include sm {

        height: px2vw-sm(35px);
        width: px2vw-sm(35px);
      }
    }

    .view{
      color: var(--primary-sunset-light)
    }


    .gamerId-text {
      margin-bottom: 0;
    }

    .gamerId-icon {
      margin-left: px2vw-xl(20px);
      height: px2vw-xl(20px);
      width: px2vw-xl(20px);
      cursor: pointer;

      @include lg {
        margin-left: px2vw-lg(20px);
        height: px2vw-lg(20px);
        width: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
        height: px2vw-md(20px);
        width: px2vw-md(20px);
      }

      @include sm {
        margin-left: px2vw-sm(20px);
        height: px2vw-sm(20px);
        width: px2vw-sm(20px);
      }
    }

    &-options {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &-option {
      min-width: px2vw-xl(230px);
      padding: px2vw-xl(20px);
      background-color: white;
      border-bottom: 1px solid var(--base-gainsboro);

      @include lg {
        min-width: px2vw-lg(230px);
        padding: px2vw-xl(20px);
      }

      @include md {
        min-width: px2vw-md(230px);
        padding: px2vw-xl(40px);
      }

      @include sm {
        min-width: px2vw-sm(230px);
        padding: px2vw-xl(40px);
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    &-option-image-block {
      margin-right: px2vw-xl(20px);
      height: px2vw-xl(24px);
      width: px2vw-xl(24px);

      @include lg {
        margin-right: px2vw-lg(14px);
        height: px2vw-lg(24px);
        width: px2vw-lg(24px);
      }

      @include md {
        margin-right: px2vw-md(14px);
        height: px2vw-md(24px);
        width: px2vw-md(24px);
      }

      @include sm {
        margin-right: px2vw-sm(18px);
        height: px2vw-sm(24px);
        width: px2vw-sm(24px);
      }
    }

    &-option-image {
      max-width: 100%;
      max-height: 100%;
    }

    &-option-text {
      font-size: px2vw-xl(16px);
      line-height: 1;

      @include lg {
        font-size: px2vw-lg(16px);
      }

      @include md {
        font-size: px2vw-md(16px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
      }
    }

    ::ng-deep {
      .datatable-row-center {
        display: flex;
      }

      .datatable-header-cell {
        padding: px2vw-xl(20px) 0;

        @include lg {
          padding: px2vw-lg(20px) 0;
        }

        @include md {
          padding: px2vw-md(20px) 0;
        }

        @include sm {
          padding: px2vw-sm(20px) 0;
        }

        // SN
        &:first-child {
          display: flex;
          width: px2vw-xl(600px) !important;
          padding-left: px2vw-xl(35px);

          @include lg {
            width: px2vw-lg(500px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(500px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(500px) !important;
            padding-left: px2vw-sm(5px);
          }
          & .datatable-header-cell-label{
            line-height: 19px;
          }
        }

        // Player Name
        &:nth-child(2) {
          display: flex;
          justify-content: center;
          width: px2vw-xl(500px) !important;

          @include lg {
            width: px2vw-lg(400px) !important;
          }

          @include md {
            width: px2vw-md(400px) !important;
          }

          @include sm {
            width: px2vw-sm(400px) !important;
          }
        }

        // Gamer Id
        &:nth-child(3) {
          display: flex;
          justify-content: center;

          width: px2vw-xl(500px) !important;

          @include lg {
            width: px2vw-lg(400px) !important;
          }

          @include md {
            width: px2vw-md(400px) !important;
          }

          @include sm {
            width: px2vw-sm(400px) !important;
          }
        }

        // Menu
        &:nth-child(4) {
          display: flex;
          justify-content: center;
          width: px2vw-xl(500px) !important;

          @include lg {
            width: px2vw-lg(400px) !important;
          }

          @include md {
            width: px2vw-md(400px) !important;
          }

          @include sm {
            width: px2vw-sm(400px) !important;
          }
        }
      }

      .datatable-header-cell-label {
        color: var(--base-submarine);
      }
      .datatable-body{
        background-color: white;
      }

      .datatable-body-cell {
        display: flex;
        justify-content: center;
        border: 1px solid var(--base-white-dark);
        padding: px2vw-xl(18px) 0;

        @include lg {
          padding: px2vw-lg(18px) 0;
        }

        @include md {
          padding: px2vw-md(18px) 0;
        }

        @include sm {
          padding: px2vw-sm(18px) 0;
        }

        // SN
        &:first-child {
          display: flex;
        justify-content: center;
          width: px2vw-xl(600px) !important;
          padding-left: px2vw-xl(35px);

          @include lg {
            width: px2vw-lg(500px) !important;
            padding-left: px2vw-lg(25px);
          }

          @include md {
            width: px2vw-md(500px) !important;
            padding-left: px2vw-md(15px);
          }

          @include sm {
            width: px2vw-sm(500px) !important;
            padding-left: px2vw-sm(5px);
          }
        }

        // Player Name
        &:nth-child(2) {
          display: flex;
        justify-content: center;
          width: px2vw-xl(500px) !important;

          @include lg {
            width: px2vw-lg(400px) !important;
          }

          @include md {
            width: px2vw-md(400px) !important;
          }

          @include sm {
            width: px2vw-sm(400px) !important;
          }

          .datatable-body-cell-label {
            display: flex;
            justify-content: center;
          }
        }

        // Gamer Id
        &:nth-child(3) {
          display: flex;
        justify-content: center;
          width: px2vw-xl(500px) !important;

          @include lg {
            width: px2vw-lg(400px) !important;
          }

          @include md {
            width: px2vw-md(400px) !important;
          }

          @include sm {
            width: px2vw-sm(400px) !important;
          }
          .datatable-body-cell-label {
            display: flex;
            justify-content: center;
          }
        }

        // Menu
        &:nth-child(4) {
          display: flex;
        justify-content: center;
          width: px2vw-xl(500px) !important;

          @include lg {
            width: px2vw-lg(400px) !important;
          }

          @include md {
            width: px2vw-md(400px) !important;
          }

          @include sm {
            width: px2vw-sm(400px) !important;
          }
          .datatable-body-cell-label {
            display: flex;
            justify-content: center;
          }
        }
      }

      .datatable-body-cell-label {
        padding: 0;
        display: flex;
      }

      .datatable-footer {
        display: none;
      }

      .pager {
        display: none;
      }

      // Solves the problem with freezes on chrome
      .datatable-row-group {
        will-change: transform;
      }
    }
  }
}

.Ladder-score-table{
  ::ng-deep {
  .datatable-header-cell{
    display: none !important;
  }
}
.column{
  flex-direction: column;
  text-align: center;
}

}



.inputNumber{
  position: relative;
  &-input{
    width: 72px;
    height: 58px;
    border-radius: 4px;
    border:1px solid var(--base-gainsboro);
    text-align: center;
    &-up{
      position: absolute;
      right: 8px;
      top: 30%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 7px 6px;
      border-color: transparent transparent var(--base-black) transparent;

    }
    &-down{
      position: absolute;
      right: 8px;
      bottom: 30%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 6px 0 6px;
      border-color: var(--base-black) transparent transparent transparent;
    }
  }

}

.ladder-popup-finding.text-left.ng-star-inserted {
  background: var(--boysenberry);
}
.ladder-popup-notFound.text-left.ng-star-inserted {
  background: var(--boysenberry);
}
