<section
  #mainContainer
  class="Tournament-sectionA"
  [style.backgroundImage]="'url(/assets/images/Home/banner2-new.jpg)'"
>
  <ngb-carousel
    [showNavigationArrows]="false"
    [showNavigationIndicators]="false"
  >
    <ng-template ngbSlide>
      <div class="Tournament-sectionA-container u-wp">
        <h1 class="Tournament-sectionA-title">
          {{ "ESPORTS.SECTIONA.TITLE" | translate }}
          <span>{{ "ESPORTS.SECTIONA.TITLE2" | translate }}</span>
        </h1>

        <button
          [routerLink]="[AppHtmlRoutes.tournamentInfo]"
          class="btn btn-light is-smallTor is-active"
        >
          {{ "ESPORTS.SECTIONA.BUTTON1" | translate }}
        </button>
        <button
          [routerLink]="[AppHtmlRoutes.bracketCreate]"
          class="btn btn-outline-light is-smallTor is-filled is-active"
        >
          {{ "ESPORTS.SECTIONA.BUTTON2" | translate }}
        </button>

        <div class="Tournament-sectionA-dots"></div>
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<section class="Tournament-sectionBV2">
  <div class="container-fluid u-wp">
    <div class="Tournament-sectionBV2-header">
      <div class="mesf-Title2">
        {{ "ESPORTS.SECTIONBV2.TITLE" | translate }}
      </div>
    </div>

    <swiper [config]="config" class="Tournament-sectionBV2-cards mesf-Swiper">
      <div>
        <button
          (click)="filterByGame('all')"
          [class.selectedGame]="slectedGame.all"
          class="Tournament-sectionBV2-card"
        >
          <span class="mesf-Text"
            >{{ "ESPORTS.SECTIONBV2.ALL" | translate }} <br />
            {{ "ESPORTS.SECTIONBV2.GAMES" | translate }}</span
          >
        </button>
      </div>
      <div *ngFor="let game of gameList; let i = index">
        <button
          (click)="filterByGame(game._id)"
          [class.selectedGame]="slectedGame[game._id]"
          class="Tournament-sectionBV2-card"
        >
          <img
            [src]="game.logo ? game.logo : './assets/images/Home/top1.png'"
            alt=""
          />

          <span>{{ game.name }}</span>
        </button>
      </div>
    </swiper>

    <div class="Tournament-sectionBV2-buttons">
      <div
        *ngIf="currentTab"
        class="btn-group btn-group-toggle"
        ngbRadioGroup
        name="radioGame"
        (change)="changeTab($event)"
        [(ngModel)]="currentTab"
      >
        <label id="upcomingTab" class="btn" ngbButtonLabel>
          <input type="radio" ngbButton [value]="'upcoming'" />
          {{ "ESPORTS.SECTIONBV2.BUTTON1" | translate }}
        </label>

        <label id="ongoingTab" class="btn" ngbButtonLabel>
          <input type="radio" ngbButton [value]="'ongoing'" />
          {{ "ESPORTS.SECTIONBV2.BUTTON2" | translate }}
        </label>
        <label id="completedTab" class="btn" ngbButtonLabel>
          <input type="radio" ngbButton [value]="'completed'" />
          {{ "ESPORTS.SECTIONBV2.BUTTON3" | translate }}
        </label>
      </div>

      <div class="Tournament-sectionBV2-buttons-right">
        <button [routerLink]="[AppHtmlRoutes.search]" class="mesf-IconBtn">
          <fa-icon [icon]="faSearch" class="Header-icon-fa"></fa-icon>
        </button>
        <button
          [routerLink]="[AppHtmlRoutes.tournamentInfo]"
          class="btn btn-outline-light is-smallTor is-filled is-active"
        >
          <span class="material-icons">control_point</span>
          {{ "ESPORTS.SECTIONA.BUTTON1" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="u-wp" *ngIf="tournamentData">
    <div class="Tournament-sectionBV2-tournaments u-dfBtw">
      <p *ngIf="!tournamentData?.docs?.length">
        {{ "MANAGE_TOURNAMENT.MATCHES.NO_DATA" | translate }}
      </p>
      <app-tournaments-card
        *ngFor="let item of tournamentData.docs"
        [params]="item"
      ></app-tournaments-card>
    </div>
  </div>

  <div class="u-wp">
    <app-pagination
      [page]="page"
      [activePage]="paginationData.page"
      (currentPage)="pageChanged($event)"
    >
    </app-pagination>
  </div>
</section>

<div class="Tournament-trending">
  <div class="u-wp">
    <div class="mesf-Title2 Tournament-trending-title">
      {{ "ESPORTS.NEWS" | translate }}
    </div>

    <div class="row justify-content-between">
      <app-article-item
        *ngFor="let item of trendingPosts"
        [data]="item"
        class="Tournament-trending-item"
      ></app-article-item>
    </div>

    <div class="Tournament-trending-footer">
      <button routerLink="/article/news" class="btn btn-outline-light">
        {{ "ESPORTS.MORE" | translate }}
      </button>
    </div>
  </div>
</div>

<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>
