@import "shared";

.round {
  &-edit {
    color: var(--color-primary);
  }

  &-completed {
    color: var(--color-primary);
  }
}

fa-icon {
  font-size: 20px;
  margin-left: 20px;

  &:not(.round-completed):hover {
    @extend .round-edit;
  }
}

.content-align-right {
  text-align: end;
}

button {
  margin: 0 5px;
}

.Player {
  display: flex;
  align-items: center;
  img {
    width: px2vw-xl(51px);
    height: px2vw-xl(51px);
  }

  .teamName {
    margin: 0;
    margin-left: 31px;
    letter-spacing: 0px;
    color: #fff3;
    font-size: 16px;
    text-align: initial;
  }

  .inGameUserId {
    @extend .teamName;
    font-size: 10px;
    margin-top: 5px;
    text-align: initial;
  }
}

.button-row {
  margin-top: 56px;

  button {
    &.btn-primary {
      background-color: var(--black);
    }

    &.spinner_pointer_event_none {
      padding: px2vw-xl(10px) px2vw-xl(50px);
    }
  }
}

.table {
  // color: #fff !important;
  color: var(--white-disabled);
}
.table-header th {
  border-top: none !important;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1x solid var(--white-disabled) !important;
}

.table-battle-royale {
  margin-top: px2vw-xl(50px);
}

.no-data {
  color: var(--white-disabled);
}

.loading {
  margin-top: px2vw-xl(60px);

  @include lg {
    margin-top: px2vw-lg(60px);
  }

  @include md {
    margin-top: px2vw-md(60px);
  }

  @include sm {
    margin-top: px2vw-sm(60px);
  }
}

.edit-icon {
  padding: 0px 0px 0px 10px;
}
.battle-header-cell {
  display: flex !important;
  justify-content: start !important;
  cursor: pointer !important;
}

.material-icons {
  font-size: 16px !important;
}

.btn-managescore {
  background-color: var(--color-primary);
  border-radius: 0;
  text-transform: uppercase;
  color: var(--black);
  font-family: "Archivo";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding: 10px;
}
.grid-margin {
  margin: 20px 0;
}
.round-text {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

::ng-deep {
  app-carousel {
    .carousel-control-next,
    .carousel-control-prev {
      bottom: 18px;
    }
  }
}
