<section>
  <div class="row winner">
    <div class="col-sm-4" *ngFor="let winner of sportDetail; let i = index">
      <div class="row winner-card">
        <div
          class="col-sm-4 winner-card-image align-items-center d-flex justify-content-center"
        >
          <img
            [src]="
              winner.winnerUser.profilePicture
                ? winner.winnerUser.profilePicture
                : 'assets/images/Profile/stc_avatar.png'
            "
            alt=""
          />
        </div>
        <div class="col-sm-8 winner-card-details">
          <ul>
            <li>
              <p>{{ winner.winnerUser.fullName }}</p>
              <app-prize-disbursal
                [winner]="winner"
                [tournamentId]="tournamentId"
                [sportDetail]="sportDetail"
                [index]="i"
              ></app-prize-disbursal>
            </li>

            <li>
              <p>
                {{
                  "ADMIN_ESPORTS_MANAGEMENT.ESPORT_ORGANIZER.RANK" | translate
                }}
                {{ winner.awardPosition }}
              </p>
            </li>

            <li class="winner-card-paymentImage">
              <p>{{ winner.awardAmount }}</p>
              <div>
                <img
                  [src]="
                    winner.winnerUser?.accountDetail?.paymentType == 'paypal'
                      ? 'assets/images/payment/paypal.png'
                      : 'assets/images/payment/stc_play.png'
                  "
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
