<div class="ConfirmationForm">
  <div class="ConfirmationForm-title">
    {{ data.title | translate | uppercase }}
  </div>

  <div class="mesf-Text ConfirmationForm-subtitle">
    {{ data.subtitle | translate }}
    <span *ngIf="formValue?.mailPhone">{{ formValue.mailPhone }}</span>
  </div>

  <div class="ConfirmationForm-error" *ngIf="data.error">
    {{ data.error | uppercase | translate }}
  </div>

  <div class="ConfirmationForm-input">
    <ng-otp-input
      (onInputChange)="onOtpChange($event)"
      [config]="{ length: 4, allowNumbersOnly: true }"
      class="NgOptInput"
    >
    </ng-otp-input>
  </div>

  <div class="ConfirmationForm-expires">
    {{ "LOG_REG.FORGOT.Expires_in" | translate }}
    {{ data.timerMs | minuteSeconds }}
  </div>

  <div>
    <button
      (click)="onSubmitEvent()"
      [disabled]="!codeEntered"
      [class.is-edit]="!codeEntered"
      class="mesf-EditBtn is-sm"
    >
      {{ data.submitBtn | translate }}
    </button>
  </div>

  <div
    *ngIf="data?.footerTitle && data.timerMs == 0"
    class="ConfirmationForm-footer"
  >
    {{ data.footerTitle | translate }}
    <a (click)="resendOtp()">{{ data.footerLinkTitle | translate }}</a>
  </div>
</div>
