<div class="form-group">
  <div class="Socials">
    <h1 class="or">OR</h1>
    <h3 class="Socials-title">
      {{ "SOCIAL.TITLE" | translate }}
    </h3>

    <div class="Socials-links">
      <a class="Socials-link facebook" (click)="socialSignIn('facebook')">
        <img
          class="Socials-link-icon"
          src="assets/icons/socials/media/facebook.svg"
          alt="facebook"
        />
      </a>
      <a class="Socials-link google" (click)="socialSignIn('google')">
        <img
          class="Socials-link-icon"
          src="assets/icons/socials/media/google.svg"
          alt="google"
        />
      </a>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 col6">
          <div class="login-main-div">
            <div class="first-register">
              <!-- two step start -->
              <div class="forthStep" *ngIf="stepOne">
                <h1 class="modal-header-color text-center">
                  LOGIN SUCCESSFUL USING YOUR SOCIAL ACCOUNT
                </h1>

                <h6 class="wel-text text-center">
                  Please verify your phone number
                </h6>

                <form
                  class="first-register"
                  [formGroup]="MobileVerificationForm"
                  (ngSubmit)="enableStepTwo(MobileVerificationForm.value)"
                >
                  <div class="row register-row">
                    <div class="col-md-12 text-center">
                      <div class="form-group">
                        <div class="global-intlTel">
                          <input
                            formControlName="phoneNo"
                            matInput
                            type="text"
                          />
                          <mat-error
                            *ngIf="
                              MobileVerificationForm.get('phoneNo').touched &&
                              MobileVerificationForm.get('phoneNo').hasError(
                                'required'
                              )
                            "
                          >
                            This field is required
                          </mat-error>

                          <mat-error
                            *ngIf="
                              MobileVerificationForm.get('phoneNo').hasError(
                                'validatePhoneNumber'
                              )
                            "
                          >
                            Please provide a valid phone no
                          </mat-error>
                        </div>

                        <div *ngIf="didFail" class="LogReg-error">
                          <strong>{{ message | uppercase }}</strong>
                        </div>
                      </div>

                      <div class="BasicInfo-footer">
                        <button
                          class="btn btn-outline-light cancel"
                          (click)="cancel()"
                        >
                          CANCEL
                        </button>

                        <button
                          class="btn btn-outline-light"
                          [disabled]="MobileVerificationForm.invalid"
                          type="submit"
                        >
                          NEXT
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <!-- two step end -->

              <!-- third Step start -->
              <div class="thirdstep" *ngIf="stepTwo">
                <h1 class="modal-header-color text-center">VERIFY MOBILE</h1>

                <h6 class="wel-text text-center">
                  Your phone no
                  {{
                    this.MobileVerificationForm.controls.phoneNo.value
                      .e164Number
                  }}
                </h6>

                <form
                  class="second-form text-center"
                  [formGroup]="confirmForm"
                  (ngSubmit)="onConfirm(confirmForm.value)"
                >
                  <div class="form-group">
                    <ng-otp-input
                      class="NgOptInput"
                      (onInputChange)="onOtpChange($event)"
                      [config]="{ length: 4, allowNumbersOnly: true }"
                    >
                    </ng-otp-input>
                  </div>

                  <div class="form-group">
                    <p>Expires in {{ timeLeft | minuteSeconds }}</p>
                  </div>

                  <div *ngIf="didFail" class="LogReg-error">
                    <strong>{{ message | uppercase }}</strong>
                  </div>

                  <div class="form-group">
                    <div>
                      <button
                        class="btn btn-outline-light"
                        [class.is-edit]="!codeEntered"
                        [disabled]="!codeEntered"
                        type="submit"
                      >
                        NEXT
                      </button>
                    </div>
                  </div>

                  <div class="form-group" *ngIf="timeLeft == 0">
                    Didn't receive OTP?
                    <a class="resend" (click)="resendOtp()"> Resend </a>
                  </div>
                </form>
              </div>
              <!-- third step end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-fullscreen-loading *ngIf="loading"></app-fullscreen-loading>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Launch demo modal
</button> -->
