<div class="TransactionsTable" *ngIf="slicesTransactions.length">
  <div class="TransactionsTable-header">
    <!-- DATE -->
    <div class="TransactionsTable-header-item date">
      {{ "PROFILE.COMPONENTS.TRANSACTIONS_TABLE.DATE" | translate }}
    </div>

    <!-- ITEM -->
    <div class="TransactionsTable-header-item item">
      {{ "PROFILE.COMPONENTS.TRANSACTIONS_TABLE.ITEM" | translate }}
    </div>

    <!-- ORDER ID -->
    <div class="TransactionsTable-header-item order_id">
      {{ "PROFILE.COMPONENTS.TRANSACTIONS_TABLE.ORDER_ID" | translate }}
    </div>

    <!-- TOTAL PAYABLE AMOUNT -->
    <div class="TransactionsTable-header-item tpa">
      {{ "PROFILE.COMPONENTS.TRANSACTIONS_TABLE.TPA" | translate }}
    </div>

    <!-- PAYMENT METHOD -->
    <div class="TransactionsTable-header-item payment_method">
      {{ "PROFILE.COMPONENTS.TRANSACTIONS_TABLE.PAYMENT_METHOD" | translate }}
    </div>

    <!-- STATUS -->
    <div class="TransactionsTable-header-item status">
      {{ "PROFILE.COMPONENTS.TRANSACTIONS_TABLE.STATUS" | translate }}
    </div>
  </div>

  <div class="TransactionsTable-cards">
    <ng-container *ngFor="let card of slicesTransactions">
      <div class="TransactionsTable-card">
        <!-- DATE -->
        <div class="TransactionsTable-card-item date global-Elipses">
          {{ card.date }}
        </div>

        <!-- ITEM -->
        <div class="TransactionsTable-card-item item global-Elipses">
          {{ card.item }}
        </div>

        <!-- ORDER ID -->
        <div class="TransactionsTable-card-item order_id global-Elipses">
          {{ card.orderId }}
        </div>

        <!-- TOTAL PAYABLE AMOUNT -->
        <div class="TransactionsTable-card-item tpa global-Elipses">
          {{ card.tpa }}
        </div>

        <!-- PAYMENT METHOD -->
        <div class="TransactionsTable-card-item payment_method global-Elipses">
          {{ card.paymentMethod }}
        </div>

        <!-- STATUS -->
        <div class="TransactionsTable-card-item status">
          <ng-container *ngIf="card.status === 'successful'">
            <div class="TransactionsTable-card-status successful">
              {{ "PROFILE.COMPONENTS.TRANSACTIONS_TABLE.SUCCESSFUL" | translate }}
            </div>
          </ng-container>

          <ng-container *ngIf="card.status === 'failed'">
            <div class="TransactionsTable-card-status failed">
              {{ "PROFILE.COMPONENTS.TRANSACTIONS_TABLE.FAILED" | translate }}
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="TransactionsTable-pagination">
    <mat-paginator
      [length]="pagination.totalDocs"
      [pageSize]="pagination.limit"
      [pageSizeOptions]="transactionsPerPage"
      [pageIndex]="pagination.page"
      [showFirstLastButtons]="false"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
