<div class="MembersTable">
  <h3 class="MembersTable-title global-H4">
    {{ "PROFILE.TEAMS.COMPONENTS.MEMBERS.TITLE" | translate }}
    ({{ data.length }})
  </h3>

  <div class="MembersTable-table" *ngIf="data.length">
    <div class="global-scrollbar">
      <ngx-datatable
        class="global-DataTable"
        [rows]="data"
        [columnMode]="'force'"
        [headerHeight]="'auto'"
        [rowHeight]="'auto'"
        [footerHeight]="'auto'"
        [limit]="10"
      >
        <!-- SN -->
        <ngx-datatable-column
          prop="rank"
          name="{{ 'PROFILE.TEAMS.COMPONENTS.MEMBERS.TABLE.SN' | translate }}"
        >
          <ng-template
            ngx-datatable-cell-template
            let-row="row"
            let-rowIndex="rowIndex"
          >
            <div class="MembersTable-table-item u-dfCenterStart">
              <span class="MembersTable-table-item-number global-text-base">
                {{ rowIndex + 1 }}
              </span>

              <div
                *ngIf="row.userId.profilePicture"
                class="MembersTable-table-item-image"
                [style.background-image]="
                  'url(' + row.userId.profilePicture + ')'
                "
              ></div>
              <div
                *ngIf="!row.userId.profilePicture"
                class="MembersTable-table-item-image"
                [style.background-image]="
                  'url(assets/images/Profile/avatar.png)'
                "
              ></div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- PLAYER NAME -->
        <ngx-datatable-column
          prop="name"
          name="{{
            'PROFILE.TEAMS.COMPONENTS.MEMBERS.TABLE.PLAYER_NAME' | translate
          }}"
        >
          <ng-template ngx-datatable-cell-template let-row="row">
            <div class="MembersTable-table-player u-dfCenterStart">
              <span class="MembersTable-table-player-name">
                {{ row.userId.fullName }}
              </span>

              <img
                *ngIf="row.role === 'captain' || row.role === 'owner'"
                class="MembersTable-table-player-icon"
                src="assets/icons/create-team/captain.svg"
                alt="captain icon"
              />
            </div>
          </ng-template>
        </ngx-datatable-column>

        <!-- GAMES -->
        <!-- <ngx-datatable-column
          prop="statistic.games"
          name="{{
            'PROFILE.TEAMS.COMPONENTS.MEMBERS.TABLE.GAMES' | translate
          }}"
        ></ngx-datatable-column> -->

        <!-- WINS -->
        <!-- <ngx-datatable-column
          prop="statistic.wins"
          name="{{ 'PROFILE.TEAMS.COMPONENTS.MEMBERS.TABLE.WINS' | translate }}"
        ></ngx-datatable-column> -->

        <!-- POINTS -->
        <!-- <ngx-datatable-column
          prop="statistic.points"
          name="{{
            'PROFILE.TEAMS.COMPONENTS.MEMBERS.TABLE.POINTS' | translate
          }}"
        ></ngx-datatable-column> -->
      </ngx-datatable>
    </div>
  </div>
</div>
