@import "shared";

:host {
  display: block;
  margin-bottom: px2vw-xl(24px);

  @include lg {
    margin-bottom: px2vw-lg(24px);
  }

  @include md {
    margin-bottom: px2vw-md(24px);
  }

  @include sm {
    margin-bottom: px2vw-sm(24px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.SelectToggle {
  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(10px);

    @include lg {
      margin-bottom: px2vw-lg(10px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
    }
  }

  &-header-title {
    @extend %body-2;
    margin-right: px2vw-xl(8px);
    color: var(--white);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }
  }

  &-header-icon {
    flex-shrink: 0;
    height: auto;
    width: auto;
    font-size: px2vw-xl(16px);
    color: var(--color-secondary);

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }
  }

  &-button {
    @extend %subtitle-2;
    border: px2vw-xl(1px) solid var(--color-primary);
    border-radius: px2vw-xl(4px);
    min-width: px2vw-xl(194px);
    padding: px2vw-xl(10px);
    color: var(--color-primary);

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      min-width: px2vw-lg(194px);
      padding: px2vw-lg(10px);
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      min-width: px2vw-md(194px);
      padding: px2vw-md(10px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      min-width: px2vw-sm(194px);
      padding: px2vw-sm(10px);
    }

    &.active {
      background-color: var(--color-primary);
      color: var(--black);
    }

    &.btn {
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  &-input {
    display: none;
  }
}
