
<div class="tools">
  <br>
  <h3>{{"tools.Manage_tools" | translate }}</h3></div>
  <div class="Photo-fields-item-country country d-md-none">
    <mat-form-field class="global-MatField" appearance="outline">
      <mat-label>
        {{
        "tools.Brackets"| translate
        }}
      </mat-label>
      <mat-select>
          <mat-option value="Participant requests">{{"drop.Participant_requests"|translate}}</mat-option>
          <mat-option value="Participant requests">{{"tools.Brackets"|translate}}</mat-option>
          <mat-option value="Participant requests">{{"tools.user_reports"|translate}}</mat-option>
          <mat-option value="Participant requests">{{"tools.Discussion"|translate}}</mat-option>
          <mat-option value="Participant requests">{{"tools.Notifications"|translate}}</mat-option>
          <mat-option value="Participant requests">{{"tools.scoring"|translate}}</mat-option>
        </mat-select>
    </mat-form-field>
  </div>

<section class="MyTeams-about" >
  <div class="MyTeams-about-header">
    <h1 class="MyTeams-about-header-title global-Elipses">{{"VIEW_TOURNAMENT.TABS.BRACKETS"|translate}}</h1>
  </div>
</section>

<section class="MyTeams-control">
  <div class="MyTeams-control-toggles global-MatToggles" ngbNav #nav="ngbNav" (navChange)="navChanges($event)"
    [(activeId)]="active">
    <!-- Team requests -->
    <div class="MyTeams-control-toggle" [ngbNavItem]="1">
      <a class="MyTeams-control-link" ngbNavLink>
        {{ "CREATE_TOURNAMENT.DETAILS.ITEMS.PARTICIPANTS" | translate }}
      </a>
      <ng-template ngbNavContent>
        <div class="MyTeams-cards">
          <h3 class="MyTeams-cards-title">
            {{
            "CREATE_TOURNAMENT.DETAILS.ITEMS.PARTICIPANTS"
            | translate
            | uppercase
            }}
          </h3>
          <div class="row" *ngIf="allApprovedParticipants?.length > 0">
            <button *ngIf="!tournament?.isSeeded" (click)="seedRandomly()" class="SelectTeams-button button-secondary">
              <mat-icon style="color: white">shuffle</mat-icon>
              {{'MANAGE_TOURNAMENT.SEED_BRACKET.SHUFFLE' |translate}}
            </button>

            <button *ngIf="!tournament?.isSeeded" (click)="fetchAllMatches()"
              class="SelectTeams-button button-primary ml-2">
              {{'BRACKET.FORM.BTN' |translate}}
            </button>
          </div>
          <!-- (refresh)='refresh($event)' -->
          <div class="MyTeams-cards">
            <div class="MyTeams-cards-list" *ngIf="allApprovedParticipants?.length">
              <ng-container *ngFor="let item of allApprovedParticipants; let i = index">
                <app-participant-card [isManage]="true" [index]="i"
                  (manualSeedValidation)="manualSeedValidation($event)" [allApprovedParticipants_length]="
                    allApprovedParticipants?.length"
                    (refresh)="refresh($event)"
                    [data]="item" [tournament]="tournament">
                </app-participant-card>
              </ng-container>
            </div>
            <div class="MyTeams-cards-list" *ngIf="!allApprovedParticipants?.length">
              <p>{{'MANAGE_TOURNAMENT.SEED_BRACKET.NoParticipantsHasBeenApproved' |translate}}</p>
            </div>

          </div>
        </div>
        <br />
      </ng-template>
    </div>

    <!-- My teams -->
    <div class="MyTeams-control-toggle" [ngbNavItem]="2" *ngIf="allApprovedParticipants?.length > 0">
      <a class="MyTeams-control-link" ngbNavLink (click)="fetchAllMatches()">
        {{'OPTIONS.Brackets'|translate}}
      </a>

      <ng-template ngbNavContent>
        <div class="MyTeams-cards">
          <h3 class="MyTeams-cards-title">
            <!-- {{ "PROFILE.MY_TEAMS.CONTROL.YOUR_TEAMS" | translate }} -->
            {{'OPTIONS.BRACKETSDETAILS'|translate}}
          </h3>
          <div>
            <p>Tournament format</p>
            <ng-container *ngIf="tournament?.bracketType == 'single'">
              <p><strong>{{'OPTIONS.BRACKET_TYPE.SINGLE'|translate}}</strong></p>
            </ng-container>

            <ng-container *ngIf="isBracketGenerated">
              
              <app-elimination [tournament]="tournament" [structure]="structure" [type]="tournament?.bracketType"
                [isLoaded]="isLoaded" [participantType] = "tournament?.participantType" [isSeeded]="tournament?.isSeeded" [hideMockStructure]="true"></app-elimination>
            </ng-container>

          </div>
          <button *ngIf="!tournament?.isSeeded && allApprovedParticipants?.length > 0" type="button"
            class="btn button-primary tab-content mr-2" (click)="confirmBracket()">
            {{ "BUTTON.CONFIRM" | translate }}
          </button>
          <button *ngIf="!tournament?.isSeeded  && allApprovedParticipants?.length > 0" type="button"
            class="btn button-primary tab-content" (click)="isSeeded = false; active = 1">
            {{ "BUTTON.EDIT" | translate }}
          </button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="MyTeams-control-content" [ngbNavOutlet]="nav"></div>
</section>
<app-fullscreen-loading *ngIf="!isLoaded"></app-fullscreen-loading>
