<div class="row popup">
  <div class="popup-img">
    <img src="assets/images/payment/popup-pay.png" alt="" />
  </div>

  <div class="popup-box">
    <button class="popup-box-close" (click)="onClose()">
      <span class="material-icons">clear</span>
    </button>
    <div class="popup-modal-header global-Title3">
      {{ "PAYMENT.TITLE" | translate }}
    </div>
    <div class="popup-modal-body global-text">
      {{ "PAYMENT.BODY" | translate }}
    </div>
    <div class="popup-modal-footer">
      <button
        class="global-EditBtn popup-button size"
        (click)="goToUrl()"
      >
        {{ "PAYMENT.BUTTON_1" | translate }}
      </button>
      <button
        class="global-EditBtn dark-text tab-content popup-button size"
        (click)="onClose()"
        type="button"
        [routerLink]="AppHtmlProfileRoutes.setting"
        [queryParams]="{ activeTab: 2 }"
      >
        {{ "PAYMENT.BUTTON_2" | translate }}
      </button>
    </div>
  </div>
</div>
