@import "shared";

:host {
  display: block;
}

.textclas{
  font-family: "archivo-black", sans-serif;
      font-size: 1.6666666667vw;
      line-height: 1;
      letter-spacing: 0.0125vw;
      // color: var(--white-high);
    opacity: 60%;
      flex-grow: 1;
    background-color: transparent;
    // color: var(--white);
    color: #FFFFFF;
    cursor: pointer;
    transition: all 100ms linear;

    @include md {
      font-size: px2vw-md(24px);
    }


    @include sm {
      font-size: px2vw-sm(30px);
    }
}



.TournamentNameInput {


  @extend %u-dfCenterBtw;
  border-bottom: 2px solid var(--white-light);
  padding: 20px 0 24px;

  @include xl {
    border-bottom-width: px2vw-xl(2px);
    padding: px2vw-xl(20px) 0 px2vw-xl(24px);
  }

  @include lg {
    border-bottom-width: px2vw-lg(2px);
    padding: px2vw-lg(20px) 0 px2vw-lg(24px);
  }

  @include md {
    border-bottom-width: px2vw-md(2px);
    padding: px2vw-md(20px) 0 px2vw-md(24px);
  }

  @include sm {
    border-bottom-width: px2vw-sm(2px);
    padding: px2vw-sm(20px) 0 px2vw-sm(24px);
  }

  &-field {
    flex-grow: 1;
    font-family: "archivo-black", sans-serif;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.18px;
    color: var(--white-high);
    cursor: pointer;
    transition: $global-transition;
    background-color: transparent;

    @include xl {
      font-size: px2vw-xl(24px);
      letter-spacing: px2vw-xl(0.18px);
    }

    @include lg {
      font-size: px2vw-lg(24px);
      letter-spacing: px2vw-lg(0.18px);
    }

    @include md {
      font-size: px2vw-md(24px);
      letter-spacing: px2vw-md(0.18px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
      letter-spacing: px2vw-sm(0.18px);
    }

    &::placeholder {
      color: var(--white-medium);
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }

  &-icon {
    margin-left: 15px;
    height: 15px;
    width: 28px;
    cursor: pointer;
    transition: $global-transition;

    @include xl {
      margin-left: px2vw-xl(15px);
      height: px2vw-xl(15px);
      width: px2vw-xl(28px);
    }

    @include lg {
      margin-left: px2vw-lg(15px);
      height: px2vw-lg(15px);
      width: px2vw-lg(28px);
    }

    @include md {
      margin-left: px2vw-md(15px);
      height: px2vw-md(15px);
      width: px2vw-md(28px);
    }

    @include sm {
      margin-left: px2vw-sm(15px);
      height: px2vw-sm(15px);
      width: px2vw-sm(28px);
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
