<div class="GameConfigurations-main" [formGroup]="gameForm">
  <div class="GameConfigurations-boxA">
    <div class="GameConfigurations-boxA-item is-first">
      <div class="global-Text">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_LOGO" | translate }}
      </div>

      <input type="file" id="logofileUpload" />

      <div
        #logoUpload
        id="logoUpload"
        class="GameConfigurations-boxA-item-upload"
      >
        <div class="GameConfigurations-boxA-item-upload-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_LOGO" | translate }} <br />
          <button (click)="logoUploader()" class="global-EditBtn is-sm is-edit">
            {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="GameConfigurations-boxA-item is-first">
      <div class="global-Text">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_IMAGE" | translate }}
      </div>

      <input id="imagefileUpload" type="file" />
      <div
        class="GameConfigurations-boxA-item-upload"
        #imageUpload
        id="imageUpload"
      >
        <div class="GameConfigurations-boxA-item-upload-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.IMAGE" | translate }} <br />
          <button
            class="global-EditBtn is-sm is-edit"
            (click)="imageUploader()"
          >
            {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="GameConfigurations-bracket-box" formGroupName="bracketTypes">
      <div
        class="GameConfigurations-boxA-item"
        *ngFor="let item of bracketList"
      >
        <app-toggle-switch
          [title]="item?.name | translate"
          [customFormControlName]="item?.value"
          [customFormGroup]="gameForm?.controls?.bracketTypes"
        >
        </app-toggle-switch>
      </div>
    </div>
  </div>
<div class="GameConfigurations-boxA">
  <div class="GameConfigurations-boxA-item is-first">
    <div class="global-Text">
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_THUMBNAIL" | translate }}
    </div>

    <input type="file" id="thumbnailfileUpload" />

    <div
      #thumbnailUpload
      id="thumbnailUpload"
      class="GameConfigurations-boxA-item-upload"
    >
      <div class="GameConfigurations-boxA-item-upload-info">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.THUMBNAIL" | translate }} <br />
        <button (click)="thumbnailUploader()" class="global-EditBtn is-sm is-edit">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="GameConfigurations-boxA-item is-first">
    <div class="global-Text">
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_GAME" | translate }}
    </div>

    <input type="file" id="gamefileUpload" />

    <div
      #gameUpload
      id="gameUpload"
      class="GameConfigurations-boxA-item-upload"
    >
      <div class="GameConfigurations-boxA-item-upload-info">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.GAMEBANNER" | translate }} <br />
        <button (click)="gameUploader()" class="global-EditBtn is-sm is-edit">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="GameConfigurations-boxA-item is-first">
    <div class="global-Text">
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_MATCHMAKING" | translate }}
    </div>

    <input type="file" id="matchmakingfileUpload" />

    <div
      #matchmakingUpload
      id="matchmakingUpload"
      class="GameConfigurations-boxA-item-upload"
    >
      <div class="GameConfigurations-boxA-item-upload-info">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.MATCHMAKING" | translate }} <br />
        <button (click)="matchmakingUploader()" class="global-EditBtn is-sm is-edit">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.UPLOAD" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

  <div class="GameConfigurations-boxC">
    <div class="GameConfigurations-boxB-item">
      <mat-form-field
        class="global-MatInputOutline LogReg-input"
        appearance="outline"
      >
        <mat-label>
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.NAME" | translate }}
        </mat-label>

        <input
          id="name"
          formControlName="name"
          autocomplete="off"
          matInput
          type="text"
        />
      </mat-form-field>
    </div>

    <div class="GameConfigurations-boxB-item">
      <label class="GameConfigurations-label">
        {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.PLATFORMS" | translate }}
      </label>

      <span
        *ngIf="
          gameForm?.controls.platform?.touched &&
          !gameForm?.value?.platform?.length
        "
        class="platformsError"
        >*</span
      >

      <div class="GameConfigurations-boxB-menu">
        <ng-select
          [items]="platformList"
          bindLabel="itemName"
          bindValue="id"
          formControlName="platform"
          [multiple]="true"
        >
        </ng-select>
      </div>
      <div></div>
    </div>
  </div>

  <div class="GameConfigurations-boxA">
    <div class="GameConfigurations-boxA-item">
      <app-toggle-switch
        [title]="
          'ADMIN.SITE_CONFIGURATION.SUB_PAGE.AVAIL_FOR_TOURNAMENT' | translate
        "
        [customFormControlName]="'isTournamentAllowed'"
        [customFormGroup]="gameForm"
      >
      </app-toggle-switch>
    </div>
  </div>

  <div class="GameConfigurations-boxA">
    <div class="GameConfigurations-boxA-item">
      <app-toggle-switch
        [title]="'Enable quick format' | translate"
        [customFormControlName]="'isQuickFormatAllow'"
        [customFormGroup]="gameForm"
        (valueEmit)="quickformatHandler($event?.checked)"
      >
      </app-toggle-switch>
    </div>
  </div>

  <div
    class="GameConfigurations-boxA"
    *ngIf="gameForm?.value?.isQuickFormatAllow"
  >
    <div class="GameConfigurations-boxA-item">
      <app-drop-down
        [title]="'Select bracket type'"
        [customFormControlName]="'bracketType'"
        [customFormGroup]="gameForm?.controls?.quickFormatConfig"
        [dropdownList]="bracketList"
        [type]="'I'"
      ></app-drop-down>
    </div>
  </div>
  <bracket-form
    *ngIf="gameForm?.value?.isQuickFormatAllow"
    [subForm]="gameForm?.controls?.quickFormatConfig"
    [bracketList]="bracketList"
    [bracketDetails]="gameDetails?.quickFormatConfig"
  >
  </bracket-form>
  <div class="GameConfigurations-footer-btns">
    <button class="btn btn-back" (click)="backToGameList()">
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.CANCEL" | translate }}
    </button>

    <button class="btn btn-theme" (click)="saveGame()">
      {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.SAVE" | translate }}
    </button>
  </div>
</div>
<!--         (valueEmit)="bracketChangeHandler($event)"
 -->
