<div class="dialog-container text-center p-4">
  <div class="mb-5 mt-4">
    <img [src]="paymentSuccessfull.successImage" />
  </div>
  <h6 class="mb-5">
    {{
      "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.PAYMENT_SUCCESSFULL"
        | translate
    }}
  </h6>
  <div class="divider mb-5"></div>
  <button class="close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
  <button mat-flat-button color="warn">
    {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.OK" | translate }}
  </button>
</div>
