@import "shared";

:host {
  display: block;
}

.Leaderboard-preview {
  height: px2vw-xl(289px);
  background-image: linear-gradient(180deg, rgba(23, 26, 23, 0) 10.57%, #171a17 63.21%),
    url("../../../assets/images/profile/dashboard-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  @include xxl {
    height: px2vw-xxl(289px);
  }
  @include lg {
    height: px2vw-lg(289px);
  }
  @include md {
    height: px2vw-md(289px);
  }
  @include sm {
    height: auto;
  }
  &-wrapper {
    position: relative;
    z-index: 1;
  }
  .btn_account_settings {
    @include sm {
      display: none;
    }
    svg {
      margin-right: px2vw-xl(11px);
      @include xxl {
        margin-right: px2vw-xxl(11px);
      }
      @include lg {
        margin-right: px2vw-lg(11px);
      }
      @include md {
        margin-right: px2vw-md(11px);
      }
      @include sm {
        margin-right: px2vw-sm(11px);
      }
    }
  }
  .btn_account_mob {
    display: none;
    @include sm {
      display: flex;
      margin-top: px2vw-sm(20px);
    }
    svg {
      margin-right: px2vw-xl(11px);
      @include xxl {
        margin-right: px2vw-xxl(11px);
      }
      @include lg {
        margin-right: px2vw-lg(11px);
      }
      @include md {
        margin-right: px2vw-md(11px);
      }
      @include sm {
        margin-right: px2vw-sm(11px);
      }
    }
  }
}
.account_mob {
  flex-direction: column;
  align-items: center;
}
.Leaderboard_profile_hrrow {
  border-top: px2vw-xl(1px) solid var(--white-light);
  margin-top: px2vw-xl(52px);
  @include xxl {
    border-width: px2vw-xxl(1px);
    margin-top: px2vw-xxl(52px);
  }
  @include lg {
    border-width: px2vw-lg(1px);
    margin-top: px2vw-lg(52px);
  }
  @include md {
    border-width: px2vw-md(1px);
    margin-top: px2vw-md(52px);
  }
  @include sm {
    border-width: px2vw-sm(1px);
    margin-top: px2vw-sm(52px);
  }
}
.btn_back {
  ::ng-deep .material-icons {
    font-size: px2vw-xl(18px);
    margin-right: px2vw-xl(10px);
    color: var(--white);
    height: auto;
    @include xxl {
      font-size: 18px;
      margin-right: 10px;
    }
    @include lg {
      font-size: px2vw-lg(18px);
      margin-right: px2vw-lg(10px);
    }
    @include md {
      font-size: px2vw-md(18px);
      margin-right: px2vw-md(10px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
      margin-right: px2vw-sm(10px);
    }
  }
}
.Leaderboard_content {
  margin-top: px2vw-xl(40px);
  @include xxl {
    margin-top: px2vw-xxl(40px);
  }
  @include lg {
    margin-top: px2vw-lg(40px);
  }
  @include md {
    margin-top: px2vw-md(40px);
  }
  @include sm {
    margin-top: px2vw-sm(40px);
  }
  .leaderboard_about {
    border: px2vw-xl(1px) solid var(--white-light);
    border-radius: px2vw-xl(6px);
    padding: px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(16px);
    @include xxl {
      border-width: px2vw-xxl(1px);
      border-radius: px2vw-xxl(6px);
      padding: px2vw-xxl(16px) px2vw-xxl(16px) px2vw-xxl(16px) px2vw-xxl(16px);
    }
    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(6px);
      padding: px2vw-lg(16px) px2vw-lg(16px) px2vw-lg(16px) px2vw-lg(16px);
    }
    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(6px);
      padding: px2vw-md(16px) px2vw-md(16px) px2vw-md(16px) px2vw-md(16px);
    }
    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(6px);
      padding: px2vw-sm(16px) px2vw-sm(16px) px2vw-sm(16px) px2vw-sm(16px);
    }
    .about-title {
      font-family: "maxis-black";
      font-size: px2vw-xl(20px);
      letter-spacing: px2vw-xl(0.15px);
      line-height: px2vw-xl(24px);
      color: var(--white-high);
      margin-bottom: px2vw-xl(16px);
      @include xxl {
        font-size: px2vw-xxl(20px);
        letter-spacing: px2vw-xxl(0.15px);
        line-height: px2vw-xxl(24px);
        margin-bottom: px2vw-xxl(16px);
      }
      @include lg {
        font-size: px2vw-lg(20px);
        letter-spacing: px2vw-lg(0.15px);
        line-height: px2vw-lg(24px);
        margin-bottom: px2vw-lg(16px);
      }
      @include md {
        font-size: px2vw-md(20px);
        letter-spacing: px2vw-md(0.15px);
        line-height: px2vw-md(24px);
        margin-bottom: px2vw-md(16px);
      }
      @include sm {
        font-size: px2vw-sm(20px);
        letter-spacing: px2vw-sm(0.15px);
        line-height: px2vw-sm(24px);
        margin-bottom: px2vw-sm(16px);
      }
    }
    span {
      font-family: "maxis-semibold";
      font-size: px2vw-xl(14px);
      letter-spacing: px2vw-xl(0.25px);
      line-height: px2vw-xl(20px);
      color: var(--white-high);
      margin-bottom: px2vw-xl(24px);
      display: flex;
      align-items: center;
      @include xxl {
        font-size: px2vw-xxl(14px);
        letter-spacing: px2vw-xxl(0.25px);
        line-height: px2vw-xxl(20px);
        margin-bottom: px2vw-xxl(24px);
      }
      @include lg {
        font-size: px2vw-lg(14px);
        letter-spacing: px2vw-lg(0.25px);
        line-height: px2vw-lg(20px);
        margin-bottom: px2vw-lg(24px);
      }
      @include md {
        font-size: px2vw-md(14px);
        letter-spacing: px2vw-md(0.25px);
        line-height: px2vw-md(20px);
        margin-bottom: px2vw-md(24px);
      }
      @include sm {
        font-size: px2vw-sm(14px);
        letter-spacing: px2vw-sm(0.25px);
        line-height: px2vw-sm(20px);
        margin-bottom: px2vw-sm(24px);
      }
      img {
        width: px2vw-xl(8px);
        height: px2vw-xl(13px);
        margin-right: px2vw-xl(13px);
        @include xxl {
          width: px2vw-xxl(8px);
          height: px2vw-xxl(13px);
          margin-right: px2vw-xxl(13px);
        }
        @include lg {
          width: px2vw-lg(8px);
          height: px2vw-lg(13px);
          margin-right: px2vw-lg(13px);
        }
        @include md {
          width: px2vw-md(8px);
          height: px2vw-md(13px);
          margin-right: px2vw-md(13px);
        }
        @include sm {
          width: px2vw-sm(8px);
          height: px2vw-sm(13px);
          margin-right: px2vw-sm(13px);
        }
      }
    }
    P {
      font-family: "maxis-semibold";
      font-size: px2vw-xl(14px);
      letter-spacing: px2vw-xl(0.25px);
      line-height: px2vw-xl(20px);
      color: var(--white-medium);
      margin-bottom: 0;
      @include xxl {
        font-size: px2vw-xxl(14px);
        letter-spacing: px2vw-xxl(0.25px);
        line-height: px2vw-xxl(20px);
      }
      @include lg {
        font-size: px2vw-lg(14px);
        letter-spacing: px2vw-lg(0.25px);
        line-height: px2vw-lg(20px);
      }
      @include md {
        font-size: px2vw-md(14px);
        letter-spacing: px2vw-md(0.25px);
        line-height: px2vw-md(20px);
      }
      @include sm {
        font-size: px2vw-sm(14px);
        letter-spacing: px2vw-sm(0.25px);
        line-height: px2vw-sm(20px);
      }
    }
  }
}
.Leaderboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-center {
    display: flex;
    justify-content: center;
  }
  &-title {
    font-family: "maxis-black";
    font-size: px2vw-xl(48px);
    margin-bottom: 0;
    line-height: px2vw-xl(56px);
    color: var(--white);
    margin-top: px2vw-xl(15px);
    @include xxl {
      font-size: px2vw-xxl(48px);
      line-height: px2vw-xxl(56px);
      margin-top: px2vw-xxl(15px);
    }
    @include lg {
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
      margin-top: px2vw-lg(15px);
    }
    @include md {
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
      margin-top: px2vw-md(15px);
    }
    @include sm {
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
      margin-top: px2vw-sm(15px);
    }
  }
}

.Dashboard-user {
  @extend %u-dfCenter;
  z-index: 1;
  position: relative;
  margin-bottom: px2vw-xl(48px);
  @include xxl {
    margin-bottom: px2vw-xxl(48px);
  }
  @include lg {
    margin-bottom: px2vw-lg(48px);
  }

  @include md {
    margin-bottom: px2vw-md(48px);
  }

  @include sm {
    margin-bottom: px2vw-sm(48px);
  }

  &-photo {
    border-radius: 50%;
    height: px2vw-xl(148px);
    width: px2vw-xl(148px);
    border: px2vw-xl(1px) solid var(--color-border-photogreen);
    display: flex;
    align-items: center;
    justify-content: center;
    @include xxl {
      height: px2vw-xxl(148px);
      width: px2vw-xxl(148px);
      border-width: px2vw-xxl(1px);
    }
    @include lg {
      height: px2vw-lg(148px);
      width: px2vw-lg(148px);
      border-width: px2vw-lg(1px);
    }
    @include md {
      height: px2vw-md(148px);
      width: px2vw-md(148px);
      border-width: px2vw-md(1px);
    }
    @include sm {
      height: px2vw-sm(148px);
      width: px2vw-sm(148px);
      border-width: px2vw-sm(1px);
    }
  }
  &-photo-image {
    border-radius: 50%;
    height: px2vw-xl(140px);
    width: px2vw-xl(140px);
    overflow: hidden;
    @include xxl {
      height: px2vw-xxl(140px);
      width: px2vw-xxl(140px);
    }
    @include lg {
      height: px2vw-lg(140px);
      width: px2vw-lg(140px);
    }
    @include md {
      height: px2vw-md(140px);
      width: px2vw-md(140px);
    }
    @include sm {
      height: px2vw-sm(140px);
      width: px2vw-sm(140px);
    }
    img {
      height: px2vw-xl(140px);
      width: px2vw-xl(140px);
      object-fit: cover;
      @include xxl {
        height: px2vw-xxl(140px);
        width: px2vw-xxl(140px);
      }
      @include lg {
        height: px2vw-lg(140px);
        width: px2vw-lg(140px);
      }
      @include md {
        height: px2vw-md(140px);
        width: px2vw-md(140px);
      }
      @include sm {
        height: px2vw-sm(140px);
        width: px2vw-sm(140px);
      }
    }
  }
}

.Play-ongoing {
  margin-bottom: px2vw-xl(80px);
  margin-top: 20px;
  @include xxl {
    margin-bottom: px2vw-xxl(80px);
  }
  @include lg {
    margin-bottom: px2vw-lg(80px);
  }

  @include md {
    margin-bottom: px2vw-md(80px);
  }

  @include sm {
    margin-bottom: px2vw-sm(80px);
  }

  &-header {
    display: flex;
    align-items: flex-start;
    padding-top: px2vw-xl(32px);
    @include xxl {
      padding-top: px2vw-xxl(32px);
    }
    @include lg {
      padding-top: px2vw-lg(32px);
    }
    @include md {
      padding-top: px2vw-md(32px);
    }
    @include sm {
      padding-top: px2vw-sm(32px);
      flex-direction: column;
    }
  }

  &-header-title {
    @extend %global-H5;
    margin-bottom: 0;
  }

  &-header-button {
    flex-shrink: 0;
    margin-left: px2vw-xl(15px);
    @include xxl {
      margin-left: px2vw-xxl(15px);
    }
    @include lg {
      margin-left: px2vw-lg(15px);
    }

    @include md {
      margin-left: px2vw-md(15px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
      margin-left: 0;
    }
  }
}
.icon-img {
  width: px2vw-xl(24px);
  height: px2vw-xl(24px);
  margin: px2vw-xl(10px);
  @include xxl {
    width: px2vw-xxl(24px);
    height: px2vw-xxl(24px);
    margin: px2vw-xxl(10px);
  }
  @include lg {
    width: px2vw-lg(24px);
    height: px2vw-lg(24px);
    margin: px2vw-lg(10px);
  }

  @include md {
    width: px2vw-md(24px);
    height: px2vw-md(24px);
    margin: px2vw-md(10px);
  }

  @include sm {
    width: px2vw-sm(24px);
    height: px2vw-sm(24px);
    margin: px2vw-sm(10px);
  }
}

.MyStats-about {
  position: relative;
  z-index: 1;
  margin: 20px;
  margin-bottom: px2vw-xl(72px) !important;
  @include xxl {
    margin-bottom: px2vw-xxl(72px);
  }
  @include lg {
    margin-bottom: px2vw-lg(72px);
  }

  @include md {
    margin-bottom: px2vw-md(72px);
  }

  @include sm {
    margin-bottom: px2vw-sm(72px);
  }
}

.for_web {
  @include sm {
    display: none;
  }
}
.for_mobile {
  display: none;
  @include sm {
    display: flex;
  }
}
.circle {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50px;
  background-color: var(--color-primary);
}
.circle-white {
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50px;
  background-color: var(--white);
  margin: 0 5px;
}
.edit {
  position: absolute;
  height: 40px;
  width: 81%;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 9px 0;
  background-image: url(./../../../assets/icons/Subtract.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "maxis-bold";
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(16px);
  letter-spacing: 0;
  text-transform: uppercase;

  @include xxl {
    font-size: 14px;
    line-height: 16px;
  }

  @include lg {
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(16px);
  }

  @include md {
    font-size: px2vw-md(14px);
    line-height: px2vw-md(16px);
  }

  @include sm {
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(16px);
  }
  &:hover {
    color: inherit;
  }
}
.edit .mat-icon {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit .material-icons {
  font-size: px2vw-xl(16px);
  @include xxl {
    font-size: px2vw-xxl(16px);
  }
  @include lg {
    font-size: px2vw-lg(16px);
  }
  @include md {
    font-size: px2vw-md(16px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
  }
}
