<header class="AddMember-header">
  <button class="button-icon-secondary" routerBack>
    <mat-icon> arrow_back </mat-icon>
    <span>
      {{ "BUTTON.BACK" | translate }}
    </span>
  </button><br>
</header>


<section class="MyTeams-control">
  <h3 class="AddMember-title">
    {{ "Create new notification" |uppercase }}
  </h3>
  <div class="AddMember-participants">
    
    <div class="EditTeam-form-fields">
      <div class="EditTeam-form-field">
        <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
          <mat-label>
            Enter Title
          </mat-label>
          <input matInput placeholder="Enter team name" />
        </mat-form-field>
      </div>
    </div>

    <div class="EditTeam-form-fields">
      <div class="EditTeam-form-field">
        <mat-form-field class="global-MatField" appearance="outline" autocomplete="off">
          <mat-label>
            Enter message
          </mat-label>
          <input matInput placeholder="Short bio" />
        </mat-form-field>
      </div>
    </div>

    <div class="EditTeam-buttons">
      <button class="EditTeam-button button-primary" routerBack>
        {{ "CREATE_TEAM.HEADER_TITLE" | translate |uppercase }}
      </button>
    </div>
  </div>
</section>