.heading {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  .icon {
    display: inline-block;
    margin-right: 18px;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 0;
  }
}
