<div class="Comment" *ngIf="currentUser">
  <div class="Comment-image" [lazyLoad]="currentUser.profilePicture"></div>
  <div class="Comment-content">
    <textarea class="Comment-field" [(ngModel)]="text" [class.isReplying]="isReplying"
      placeholder="{{ 'DISCUSSION.COMMENT_PLACEHOLDER' | translate }}"></textarea>
    <div class="Comment-buttons">
      <button class="Comment-button button-secondary" *ngIf="isReplying">
        {{ "BUTTON.CANCEL" | translate }}
      </button>
      <button (click)="comment()" class="Comment-button button-primary">
        {{ (isReplying ? "BUTTON.REPLY" : "BUTTON.SUBMIT") | translate }}
      </button>
    </div>
  </div>
</div>