@import "shared";

$--show-comments-bg: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  ),
  #0b0824;

.Discussion {
  &-title {
    margin-bottom: 16px;

    @include xl {
      margin-bottom: px2vw-xl(16px);
    }

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    text-align: center;
  }

  &-comments-title {
    @extend %global-H4;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;

    @include xl {
      margin-bottom: px2vw-xl(32px);
    }

    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }
  }

  &-comment {
    overflow: hidden;
    border-radius: 4px;

    @include xl {
      border-radius: px2vw-xl(4px);
    }

    @include lg {
      border-radius: px2vw-lg(4px);
    }

    @include md {
      border-radius: px2vw-md(4px);
    }

    @include sm {
      border-radius: px2vw-sm(4px);
    }
  }

  &-show-hide-comment {
    @extend %global-H7;
    position: relative;
    border: none;
    padding: 20px;
    width: 100%;
    text-align: center;
    background: $--show-comments-bg;

    @include xl {
      padding: px2vw-xl(20px);
    }

    @include lg {
      padding: px2vw-lg(20px);
    }

    @include md {
      padding: px2vw-md(20px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }

    &::after {
      position: absolute;
      content: "";
      right: 39%;
      top: 47%;
      height: 5px;
      width: 10px;
      transition: $global-transition;
      background-image: url(/assets/icons/arrow-down.svg);

      @include xl {
        height: px2vw-xl(5px);
        width: px2vw-xl(10px);
      }

      @include lg {
        height: px2vw-lg(5px);
        width: px2vw-lg(10px);
      }

      @include md {
        height: px2vw-md(5px);
        width: px2vw-md(10px);
      }

      @include sm {
        height: px2vw-sm(5px);
        width: px2vw-sm(10px);
      }
    }

    &.is-active::after {
      top: 44%;
      transform: rotate(180deg);
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &-comment-list {
    overflow-y: scroll;
    padding-right: 100px;
    max-height: 600px;

    @include xl {
      max-height: px2vw-xl(600px);
      padding-right: px2vw-xl(100px);
    }

    @include lg {
      max-height: px2vw-lg(600px);
      padding-right: px2vw-lg(100px);
    }

    @include md {
      max-height: px2vw-md(600px);
      padding-right: px2vw-md(30px);
    }

    @include sm {
      max-height: px2vw-sm(600px);
      padding-right: px2vw-sm(30px);
    }
  }

  &-comment-item {
    display: flex;
    margin-top: 32px;

    @include xl {
      margin-top: px2vw-xl(32px);
    }

    @include lg {
      margin-top: px2vw-lg(32px);
    }

    @include md {
      margin-top: px2vw-md(32px);
    }

    @include sm {
      margin-top: px2vw-sm(32px);
    }
  }

  &-comment-image {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    transition: $global-transition;

    @include xl {
      height: px2vw-xl(40px);
      width: px2vw-xl(40px);
    }

    @include lg {
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }

    @include md {
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }

    @include sm {
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
    }
  }

  &-comment-description {
    margin-left: 16px;
    width: 100%;

    @include xl {
      margin-left: px2vw-xl(16px);
    }

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }

    ::ng-deep .Message {
      margin-top: 20px;

      @include xl {
        margin-top: px2vw-xl(20px);
      }

      @include lg {
        margin-top: px2vw-lg(20px);
      }

      @include md {
        margin-top: px2vw-md(20px);
      }

      @include sm {
        margin-top: px2vw-sm(20px);
      }
    }
  }

  &-comment-header {
    @extend %u-dfCenterBtw;
    margin-bottom: 18px;

    @include xl {
      margin-bottom: px2vw-xl(18px);
    }

    @include lg {
      margin-bottom: px2vw-lg(18px);
    }

    @include md {
      margin-bottom: px2vw-md(18px);
    }

    @include sm {
      margin-bottom: px2vw-sm(18px);
    }
  }

  &-comment-about {
    margin-right: 16px;

    @include xl {
      margin-right: px2vw-xl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-comment-header-author {
    @extend %subtitle-1;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  &-comment-header-date {
    @extend %caption;
    margin-bottom: 0;
    color: var(--white-medium);

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-comment-header-menu {
    flex-shrink: 0;
    background-color: transparent;

    mat-icon {
      height: auto;
      width: auto;
      font-size: 24px;
      color: var(--white);

      @include xl {
        font-size: px2vw-xl(24px);
      }

      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }
  }

  &-comment-footer {
    @extend %u-dfCenter;
    margin-top: 16px;

    @include xl {
      margin-top: px2vw-xl(16px);
    }

    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }

  &-comment-info {
    @extend %u-dfCenter;
    margin-right: 15px;
    min-width: 40px;

    @include xl {
      margin-right: px2vw-xl(15px);
      min-width: px2vw-xl(40px);
    }

    @include lg {
      margin-right: px2vw-lg(15px);
      min-width: px2vw-lg(40px);
    }

    @include md {
      margin-right: px2vw-md(15px);
      min-width: px2vw-md(40px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
      min-width: px2vw-sm(40px);
    }

    &.edit {
      min-width: auto;
    }
  }

  &-comment-info-icon {
    @extend %u-dfCenter;
    height: auto;
    width: auto;
    font-size: 20px;
    color: var(--white);
    transition: $global-transition;
    cursor: pointer;

    @include xl {
      font-size: px2vw-xl(20px);
    }

    @include lg {
      font-size: px2vw-lg(20px);
    }

    @include md {
      font-size: px2vw-md(20px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
    }

    &.like.is-active {
      color: var(--color-sunset-orange);
    }
  }

  &-comment-info-value {
    margin-left: 8px;
    font-weight: bold;

    @include xl {
      margin-left: px2vw-xl(8px);
    }

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }
  }

  &-comment-reply {
    @extend %body-2;
    background-color: transparent;
    color: var(--color-secondary);
  }

  &-message {
    width: 100%;
  }

  &-load-more-comments {
    cursor: pointer;
  }

  &-load-more-replies {
    cursor: pointer;
  }

  &-add-message {
    margin-top: 56px;
    border-top: 1px solid var(--white-light);
    padding-top: 56px;

    @include xl {
      margin-top: px2vw-xl(56px);
      border-top-width: px2vw-xl(1px);
      padding-top: px2vw-xl(56px);
    }

    @include lg {
      margin-top: px2vw-lg(56px);
      border-top-width: px2vw-lg(1px);
      padding-top: px2vw-lg(56px);
    }

    @include md {
      margin-top: px2vw-md(56px);
      border-top-width: px2vw-md(1px);
      padding-top: px2vw-md(56px);
    }

    @include sm {
      margin-top: px2vw-sm(56px);
      border-top-width: px2vw-sm(1px);
      padding-top: px2vw-sm(56px);
    }
  }

  &-add-message-title {
    @extend %global-H6;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;

    @include xl {
      margin-bottom: px2vw-xl(24px);
    }

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  .loading {
    display: flex;
    justify-content: center;
  }
}
::ng-deep{
  .mat-menu-panel {
    background: linear-gradient(
0deg
, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #0B0824;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}
.mat-menu-item {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.mat-menu-item[disabled], .mat-menu-item[disabled]::after, .mat-menu-item[disabled] .mat-icon-no-color {
  color: rgba(255, 255, 255, 0.6);
}
.mat-menu-item .mat-icon-no-color, .mat-menu-item-submenu-trigger::after {
  color: rgba(255, 255, 255, 0.6);
}
.mat-menu-panel {
  width: 230px;
  // height: 175px;
}
}

.matMenuIconName{
font-family: "redhat-regular";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}

.yellowgreen{
  color: var(--color-primary);
}
