@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.anti-spam-policy {
  & h1 {
    margin-bottom: px2vw-lg(40px);
  }

  & p {
    color: var(--base-01);
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);
    font-family: "stc-forward-regular", sans-serif;
    font-weight: normal;
    text-align: initial;

    @include lg {
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  & ul {
    list-style-type: upper-roman;
    margin: auto;
    padding-left: px2vw-lg(30px);
    text-align: initial;
    padding-right: px2vw-lg(69px);

    & li {
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);
      font-family: "stc-forward-regular", sans-serif;
      font-weight: normal;
      margin-bottom: px2vw-lg(10px);

      @include lg {
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
        margin-left: px2vw-sm(12px);
        margin-right: px2vw-sm(12px);
      }
    }
  }

  & a {
    color: var(--primary-sunset-light);
  }
}
