<div class="u-wp">
  <div class="row">
    <div class="col-md-2 col-12">
      <aside class="Aside">
        <div class="for_mobile">
          <h5>{{ "WALLET.ASIDE.TITLE" | translate }}</h5>
        </div>
        <div class="dropdown_bal for_mobile">
          <mat-form-field appearance="fill" class="for_mobile">
            <mat-label>{{ "WALLET.ASIDE.LABEL" | translate }}</mat-label>
            <mat-select disableRipple [(ngModel)]="walletSelectedValue" (selectionChange)="navigateTo($event.value)">
              <ng-container *ngFor="let item of pageNavigation">
                <mat-option *ngIf="item.name != 'Reload Wallet'" [value]="item.name">
                  {{ item.name | translate }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>

        <section class="sectionB for_web">
          <nav class="User-navigation_heading">
            <a class="User-navigation-link">
              <img class="User-navigation-link-icon vector_wallet_icon" src="assets/wallet/Vector_wallet.svg" />
              <span class="User-navigation-link-text">
                {{ "WALLET.ASIDE.MY_BALANCE" | translate }}
              </span>
            </a>
          </nav>
          <nav class="User-navigation divider" *ngFor="let item of pageNavigation">
            <a *ngIf="item.name != 'Reload Wallet'" class="User-navigation-link" [attr.data-test-id]="item.test_id"
              [routerLink]="item.url" routerLinkActive="is-active">
              <span class="User-navigation-link-icon" [inlineSVG]="item.icon"></span>
              <span class="User-navigation-link-text">
                {{ item.name | translate }}
              </span>
            </a>
            <a *ngIf="item.name == 'Reload Wallet'" class="User-navigation-link color-white-gray"
              [attr.data-test-id]="item.test_id" routerLinkActive="is-active" (click)="openReloadPopup()">
              <span class="User-navigation-link-icon" [inlineSVG]="item.icon"></span>
              <span class="User-navigation-link-text">
                {{ item.name | translate }}
              </span>
            </a>
          </nav>
        </section>
      </aside>
    </div>
    <div class="col-md-10 col-12">
      <div class="balance_maincontent">
        <h1 class="header_style">{{ "Balance" | translate }}</h1>
        <div class="row currbal_pref">
          <div class="col-lg-7">
            <div class="balance-card">
              <div class="balance-card-inside">
                <div class="balance-card-coin-text">
                  <h4>{{ "WALLET.BALANCE.CURRENT_BALANCE" | translate }}</h4>
                </div>
                <div class="balance-card-coin balance_card">
                  <p>{{ "HEADERS.COIN" | translate }}</p>
                </div>
              </div>
              <hr class="line border_top" />
              <div class="balance-card-inner balance">
                <div>
                  <div class="display_amount">
                    <img class="Header-logo" src="assets/wallet/icon-gc.svg" alt="logo" />
                    <div class="amountdisplay">
                      {{amount | number}}
                    </div>
                    <div class="subforamout">
                      {{ "HEADERS.GENG_COINS" | translate }}
                    </div>
                  </div>
                  <div class="balance_preference_limit">
                    <div class="balance-pin-setup">
                      <p *ngIf="firtstimeflag != false">{{amount | number}} {{ "HEADERS.EXPIRING" | translate }}
                        {{expdate |
                        date:'mediumDate'}}</p>
                    </div>
                    <div class="balance-pin-setup">
                      <p>{{ "HEADERS.ACCOUNT_LIMIT" | translate }} {{maxLimit |number}} {{"TRANSACTIONS.RELOAD_VIEW.GC" |
                        translate }}</p>
                    </div>
                  </div>
                </div>
                <button class="button-primary balance-but" (click)="openReloadPopup()">
                  <img class="Header-logo" src="assets/wallet/wallet_topup.svg" alt="logo" /> {{ "HEADERS.RELOAD" |
                  translate }}
                </button>
                <div class="balance_coin_mob">
                  <p>{{ "HEADERS.COIN" | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spancetop" *ngIf="latesttransactions.length != 0">

          <div class="heading_style">
            {{ "Latest Transactions" | translate }}
          </div>
          <div class="set-pin-class" routerLink="/wallet/transactions">
            {{ "HEADERS.VIEW" | translate }} <img class="Header-logo imgstyleforview" src="assets/wallet/navi.svg"
              alt="logo" />
          </div>
        </div>
        <app-latest-transactions [latesttransactions]="latesttransactions">
        </app-latest-transactions>
      </div>
    </div>
  </div>
</div>
<app-fullscreen-loading *ngIf="!isLoaded"></app-fullscreen-loading>
