<div class="TeamCardControl" *ngIf="data && isBrowser">
  <div
    *ngIf="data.logo"
    class="TeamCardControl-image"
    [style.background-image]="'url(' + data?.logo + ')'"
  ></div>
  <div
    *ngIf="!data.logo"
    class="TeamCardControl-image"
    [style.background-image]="'url(assets/images/Profile/stc_avatar.png)'"
  ></div>

  <div class="TeamCardControl-container u-dfCenterStart">
    <div class="TeamCardControl-manage">
      <h3 class="TeamCardControl-manage-title global-Title2 global-Elipses">
        {{ data?.teamName | limitString: 37:"..." }}
      </h3>

      <nav class="TeamCardControl-nav">
        <a
          class="TeamCardControl-nav-link global-Text"
          [routerLink]="[AppHtmlProfileRoutes.teamsView, data._id]"
          (click)="controlClicked(teamControl.view)"
        >
          {{ "PROFILE.TEAMS.COMPONENTS.CONTROL.VIEW" | translate }}
        </a>
        <a
          class="TeamCardControl-nav-link global-Text"
          [routerLink]="[AppHtmlAdminRoutes.editTeam, data._id]"
          *ngIf="data?.detail.role == 'owner' || data?.detail.role == 'captain'"
          (click)="controlClicked(teamControl.edit)"
        >
          {{ "PROFILE.TEAMS.COMPONENTS.CONTROL.EDIT" | translate }}
        </a>
        <a
          class="TeamCardControl-nav-link global-Text"
          [routerLink]="[AppHtmlRoutes.manageTeam, data._id]"
          *ngIf="data?.detail.role == 'owner' || data?.detail.role == 'captain'"
          (click)="controlClicked(teamControl.manage)"
        >
          {{ "PROFILE.TEAMS.COMPONENTS.CONTROL.MANAGE" | translate }}
        </a>
        <a
          class="TeamCardControl-nav-link global-Text"
          *ngIf="data?.detail.role == 'owner'"
          (click)="deleteTeam('id')"
          (click)="controlClicked(teamControl.delete)"
        >
          {{ "PROFILE.TEAMS.COMPONENTS.CONTROL.DELETE" | translate }}
        </a>
        <a
          class="TeamCardControl-nav-link global-Text"
          *ngIf="data?.detail.role === 'player'"
          (click)="checkMemberTournamentStatus()"
        >
          {{ "PROFILE.TEAMS.COMPONENTS.CONTROL.LEAVE" | translate }}
        </a>
      </nav>
    </div>
  </div>
</div>
