@import "shared";
$form-border-color: var(--white-light);
$content-bgcolor: var(--gradient-bg-drk4), var(--color-background);
$purchase-confirmation-bg: var(--gradient-bg-drk4), var(--color-background);
$active-color: var(--color-primary);
.row {
  margin-right: px2vw-xl(-15px);
  margin-left: px2vw-xl(-15px);
  @include xxl {
    margin-right: px2vw-xxl(-15px);
    margin-left: px2vw-xxl(-15px);
  }
  @include lg {
    margin-right: px2vw-lg(-15px);
    margin-left: px2vw-lg(-15px);
  }
  @include md {
    margin-right: px2vw-md(-15px);
    margin-left: px2vw-md(-15px);
  }
  @include sm {
    margin-right: px2vw-sm(-15px);
    margin-left: px2vw-sm(-15px);
  }
  &::before,
  &::after {
    display: table;
    content: " ";
    clear: both;
  }
}
.top_amount_cards {
  .voucher_container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-column-gap: px2vw-xl(15px);
    padding: 0 px2vw-xl(15px);
    @include xxl {
      grid-column-gap: px2vw-xxl(15px);
      padding: 0 px2vw-xxl(15px);
    }
    @include lg {
      grid-column-gap: px2vw-lg(15px);
      padding: 0 px2vw-lg(15px);
    }
    @include md {
      grid-column-gap: px2vw-md(10px);
      padding: 0 px2vw-md(10px);
    }
    @include sm {
      grid-column-gap: px2vw-sm(10px);
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      padding: 0 px2vw-sm(10px);
    }
  }
}
h4,
h3 {
  font-family: "maxis-black";
}
p,
span {
  font-family: "maxis-semibold";
}
input {
  -webkit-text-fill-color: var(--white);
}
.txt_default {
  color: var(--white-medium);
}
.txt_white {
  color: var(--white-medium);
}
.btn_backtoshop {
  margin-top: px2vw-xl(40px);
  @include xxl {
    margin-top: px2vw-xxl(40px);
  }
  @include lg {
    margin-top: px2vw-lg(40px);
  }
  @include md {
    margin-top: px2vw-md(40px);
  }
  @include sm {
    font-size: px2vw-sm(14px);
    margin-top: px2vw-sm(20px);
  }
  ::ng-deep .material-icons {
    font-size: px2vw-xl(18px);
    margin-right: px2vw-xl(10px);
    color: var(--white);
    height: auto;
    @include xxl {
      font-size: px2vw-xxl(18px);
      margin-right: px2vw-xxl(10px);
    }
    @include lg {
      font-size: px2vw-lg(18px);
      margin-right: px2vw-lg(10px);
    }
    @include md {
      font-size: px2vw-md(18px);
      margin-right: px2vw-md(10px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
      margin-right: px2vw-sm(10px);
    }
  }
}
form.form-start {
  padding-left: px2vw-xl(26px);
  @include xxl {
    padding-left: px2vw-xxl(26px);
  }
  @include lg {
    padding-left: px2vw-lg(26px);
  }
  @include md {
    padding-left: 0;
  }
  @include sm {
    padding-left: 0;
  }
}
.GO-Container {
  > .row {
    margin-bottom: px2vw-xl(20px);
    @include xxl {
      margin-bottom: px2vw-xxl(20px);
    }
    @include lg {
      margin-bottom: px2vw-lg(20px);
    }
    @include md {
      margin-bottom: px2vw-md(20px);
    }
    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }
  .game_sect_img {
    margin-right: px2vw-xl(16px);
    width: px2vw-xl(136px);
    @include xxl {
      margin-right: px2vw-xxl(16px);
      width: 136px;
    }
    @include lg {
      margin-right: px2vw-lg(16px);
      width: px2vw-lg(136px);
    }
    @include md {
      margin-right: px2vw-md(16px);
      width: px2vw-md(136px);
    }
    @include sm {
      margin-right: px2vw-sm(16px);
      width: px2vw-sm(82px);
    }
    .game_image {
      max-width: px2vw-xl(136px);
      width: px2vw-xl(136px);
      @include xxl {
        max-width: px2vw-xxl(136px);
        width: px2vw-xxl(136px);
      }
      @include lg {
        max-width: px2vw-lg(136px);
        width: px2vw-lg(136px);
      }
      @include md {
        max-width: px2vw-md(136px);
        width: px2vw-lg(136px);
      }
      @include sm {
        max-width: px2vw-sm(82px);
        width: px2vw-sm(82px);
      }
    }
  }
  .game_title {
    h3 {
      font-size: px2vw-xl(24px);
      line-height: px2vw-xl(24px);
      color: var(--white-high);
      @include xxl {
        font-size: px2vw-xxl(24px);
        line-height: px2vw-xxl(24px);
      }
      @include lg {
        font-size: px2vw-lg(24px);
        line-height: px2vw-lg(24px);
      }
      @include md {
        font-size: px2vw-md(24px);
        line-height: px2vw-md(24px);
      }
      @include sm {
        font-size: px2vw-sm(24px);
        line-height: px2vw-sm(24px);
      }
    }
    p {
      @extend %subtitle-1;
      color: var(--white-disabled);
      margin-bottom: 0;
    }
  }
  .topup_badge {
    h5 {
      margin-right: px2vw-xl(8px);
      @include xxl {
        margin-right: px2vw-xxl(8px);
      }
      @include lg {
        margin-right: px2vw-lg(8px);
      }
      @include md {
        margin-right: px2vw-md(8px);
      }
      @include sm {
        margin-right: px2vw-sm(8px);
      }
      .badge {
        @extend %overline;
        background-color: var(--color_skyblue);
        color: var(--black);
        border-radius: 0;
        padding: px2vw-xl(2px) px2vw-xl(8px);
        @include xxl {
          padding: px2vw-xxl(2px) px2vw-xxl(8px);
        }
        @include lg {
          padding: px2vw-lg(2px) px2vw-lg(8px);
        }
        @include md {
          padding: px2vw-md(2px) px2vw-md(8px);
        }
      }
    }
  }
  .promotion_badge {
    h5 {
      .badge {
        @extend %overline;
        background-color: var(--color-secondary);
        color: var(--white);
        border-radius: 0;
        padding: px2vw-xl(2px) px2vw-xl(8px);
        @include xxl {
          padding: px2vw-xxl(2px) px2vw-xxl(8px);
        }
        @include lg {
          padding: px2vw-lg(2px) px2vw-lg(8px);
        }
        @include md {
          padding: px2vw-md(2px) px2vw-md(8px);
        }
        @include sm {
          padding: px2vw-sm(2px) px2vw-sm(8px);
        }
      }
    }
  }
  .game_description {
    pre {
      @extend %body-2;
      color: var(--white-high);
    white-space: pre-line;
      @include sm {
        max-height: px2vw-sm(64px);
        overflow: hidden;
        &.showfull {
          max-height: inherit;
        }
      }
      .game_link {
        color: var(--color-pink-primary);
      }
    }
    .more_info {
      display: none;
    }
  }
}
.SI-FUID-Container {
  margin-bottom: px2vw-xl(50px);
  border: px2vw-xl(1px) solid $form-border-color;
  @include xxl {
    margin-bottom: px2vw-xxl(50px);
    border: 1px solid $form-border-color;
  }
  @include lg {
    margin-bottom: px2vw-lg(50px);
    border: px2vw-lg(1px) solid $form-border-color;
  }
  @include md {
    margin-bottom: px2vw-md(50px);
    border: px2vw-md(1px) solid $form-border-color;
  }
  @include sm {
    margin-bottom: px2vw-sm(50px);
    border: 1px solid $form-border-color;
  }
  .user_id_content {
    p {
      @extend %body-2;
      color: var(--white-medium);
      max-width: px2vw-xl(725px);
      @include xxl {
        max-width: px2vw-xxl(725px);
      }
      @include lg {
        max-width: px2vw-lg(725px);
      }
      @include md {
        max-width: px2vw-md(725px);
      }
      @include sm {
        max-width: px2vw-sm(725px);
      }
    }
  }
  &.review_order {
    .bal_price {
      margin-bottom: px2vw-xl(26px);
      @include xxl {
        margin-bottom: px2vw-xxl(26px);
      }
      @include lg {
        margin-bottom: px2vw-lg(26px);
      }
      @include md {
        margin-bottom: px2vw-md(26px);
      }
      @include sm {
        margin-bottom: px2vw-sm(26px);
      }
      p {
        @extend %subtitle-1;
      }
    }
  }
  .form_field {
    label.field_mandatory {
      @extend %caption;
      color: var(--white-disabled);
    }
    //input outline color
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: var(--white-smoke) !important;
    }

    // mat-input error outline color
    ::ng-deep
      .mat-form-field-appearance-outline.isValid
      .mat-form-field-outline {
      color: var(--color-close-btn) !important;
    }
    ::ng-deep .mat-error {
      color: var(--color-close-btn) !important;
    }
    //mat-input focused color
    ::ng-deep
      .mat-form-field-appearance-outline.mat-focused
      .mat-form-field-outline-thick {
      color: var(--white-smoke) !important;
    }

    // mat-input carent color
    ::ng-deep .mat-input-element {
      caret-color: var(--fullwhite) !important;
      -webkit-text-fill-color: var(--white) !important;
    }

    // mat-label normal state style
    ::ng-deep .mat-form-field-label {
      @extend %caption;
      color: var(--white-medium) !important;
      letter-spacing: px2vw-xl(0.5px);
      font-size: px2vw-xl(16px);
      margin-top: px2vw-xl(-9px);
      @include xxl {
        letter-spacing: px2vw-xxl(0.5px);
        font-size: px2vw-xxl(16px);
        margin-top: px2vw-xxl(-9px);
      }
      @include lg {
        letter-spacing: px2vw-lg(0.5px);
        font-size: px2vw-lg(16px);
        margin-top: px2vw-lg(-9px);
      }
      @include md {
        letter-spacing: px2vw-md(0.5px);
        font-size: px2vw-md(16px);
        margin-top: px2vw-md(-9px);
      }
      @include sm {
        letter-spacing: px2vw-sm(0.5px);
        font-size: px2vw-sm(16px);
        margin-top: px2vw-sm(-9px);
      }
    }
    ::ng-deep .isValid .mat-form-field-label {
      color: var(--color-close-btn) !important;
    }
    ::ng-deep .mat-placeholder-required {
      display: none;
    }
    ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.5em 0px !important;
      height: px2vw-xl(60px);
      @include xxl {
        height: px2vw-xxl(55px);
      }
      @include lg {
        height: px2vw-lg(60px);
      }
      @include md {
        height: px2vw-md(60px);
      }
      @include sm {
        height: px2vw-sm(60px);
      }
    }
    &.zone_server {
      ::ng-deep .mat-form-field-flex > .mat-form-field-infix {
        padding: 0.7em 0px !important;
        @include xxl {
          padding: 0.7em 0px !important;
        }
        @include lg {
          padding: 0.7em 0px !important;
        }
        @include md {
          height: px2vw-md(60px);
        }
        @include sm {
          height: px2vw-sm(60px);
        }
      }
      ::ng-deep .mat-select-value-text {
        font-family: "maxis-regular";
        letter-spacing: px2vw-xl(0.5px);
        font-size: px2vw-xl(16px);
        line-height: px2vw-xl(24px);
        color: var(--white);
        @include xxl {
          letter-spacing: px2vw-xxl(0.5px);
          font-size: px2vw-xxl(16px);
          line-height: px2vw-xxl(24px);
        }
        @include lg {
          letter-spacing: px2vw-lg(0.5px);
          font-size: px2vw-lg(16px);
          line-height: px2vw-lg(24px);
        }
        @include md {
          letter-spacing: px2vw-md(0.5px);
          font-size: px2vw-md(16px);
          line-height: px2vw-md(24px);
        }
        @include sm {
          letter-spacing: px2vw-sm(0.5px);
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
        }
      }
      ::ng-deep {
        .mat-select-trigger {
          display: flex !important;
          align-items: center !important;
          justify-content: space-between !important;
        }
        .mat-select-value {
          overflow: inherit !important;
        }
      }
      ::ng-deep .mat-select-arrow {
        color: var(--white-disabled) !important;
        margin-bottom: px2vw-xl(-2px);
        @include xxl {
          margin-bottom: px2vw-xxl(-2px);
        }
        @include lg {
          margin-bottom: px2vw-xl(-2px);
        }
        @include md {
          margin-bottom: px2vw-md(-2px);
        }
        @include sm {
          margin-bottom: px2vw-sm(-2px);
        }
      }
    }
    ::ng-deep
      .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
      .mat-form-field-label,
    ::ng-deep
      .mat-form-field-appearance-outline.mat-form-field-can-float
      .mat-input-server:focus
      + .mat-form-field-label-wrapper
      .mat-form-field-label {
      transform: translateY(-1.4em) scale(0.75) !important;
    }
    ::ng-deep .mat-form-field {
      width: 100%;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
    input {
      font-family: "maxis-regular";
      letter-spacing: px2vw-xl(0.5px);
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      @include xxl {
        letter-spacing: px2vw-xxl(0.5px);
        font-size: px2vw-xxl(16px);
        line-height: px2vw-xxl(24px);
      }
      @include lg {
        letter-spacing: px2vw-lg(0.5px);
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
      }
      @include md {
        letter-spacing: px2vw-md(0.5px);
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }
      @include sm {
        letter-spacing: px2vw-sm(0.5px);
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
      }
    }
  }
  p {
    margin-bottom: 0;
  }
}
.review_form_insufbal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    @extend %subtitle-1;
  }
}
::ng-deep .mat-select-panel {
  background: var(--gradient-bg-drk6), var(--gradient-bg-drk3);
  .mat-option {
    .mat-option-text {
      font-family: "maxis-semibold";
      font-size: px2vw-xl(16px);
      letter-spacing: px2vw-xl(0.5px);
      line-height: px2vw-xl(24px);
      color: var(--white-high);
      @include xxl {
        font-size: px2vw-xxl(16px);
        letter-spacing: px2vw-xxl(0.5px);
        line-height: px2vw-xxl(24px);
      }
      @include lg {
        font-size: px2vw-lg(16px);
        letter-spacing: px2vw-lg(0.5px);
        line-height: px2vw-lg(24px);
      }
      @include md {
        font-size: px2vw-md(16px);
        letter-spacing: px2vw-md(0.5px);
        line-height: px2vw-md(24px);
      }
      @include sm {
        font-size: px2vw-sm(16px);
        letter-spacing: px2vw-sm(0.5px);
        line-height: px2vw-sm(24px);
      }
    }
  }
}
.form-steps-header {
  background: $content-bgcolor;
  border-bottom: px2vw-xl(1px) solid var(--color-ash-med);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include xxl {
    border-bottom: px2vw-xxl(1px) solid var(--color-ash-med);
  }
  @include lg {
    border-bottom: px2vw-lg(1px) solid var(--color-ash-med);
  }
  @include md {
    border-bottom: px2vw-md(1px) solid var(--color-ash-med);
  }
  @include sm {
    border-bottom: px2vw-sm(1px) solid var(--color-ash-med);
  }
  .form_heading {
    display: flex;
    align-items: center;
    h1 {
      margin-bottom: 0;
    }
    h4 {
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(24px);
      margin-bottom: 0;
      color: var(--white-high);
      @include xxl {
        font-size: px2vw-xxl(20px);
        line-height: px2vw-xxl(24px);
      }
      @include lg {
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(24px);
      }
      @include md {
        font-size: px2vw-md(20px);
        line-height: px2vw-md(24px);
      }
      @include sm {
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
      }
    }
  }
  .bdge_3 {
    p {
      color: var(--white-medium);
    }
  }
}
.txt_currconversion {
  margin: 0 px2vw-xl(16px);
  @include xxl {
    margin: 0 px2vw-xxl(16px);
  }
  @include lg {
    margin: 0 px2vw-lg(16px);
  }
  @include md {
    margin: 0 px2vw-md(16px);
  }
  @include sm {
    margin: 0 px2vw-sm(16px);
    display: none;
  }
}
.form-steps-number {
  background: #171a17;
  color: $active-color;
  border-right: px2vw-xl(1px) solid $form-border-color;
  @include xxl {
    border-right: px2vw-xxl(1px) solid $form-border-color;
  }
  @include lg {
    border-right: px2vw-lg(1px) solid $form-border-color;
  }
  @include md {
    border-right: px2vw-md(1px) solid $form-border-color;
  }
  @include sm {
    border-right: px2vw-sm(1px) solid $form-border-color;
  }
  h1 {
    span {
      font-family: "maxis-black";
      font-size: px2vw-xl(34px);
      line-height: px2vw-xl(36px);
      @include xxl {
        font-size: px2vw-xxl(34px);
        line-height: px2vw-xxl(36px);
      }
      @include lg {
        font-size: px2vw-lg(34px);
        line-height: px2vw-lg(36px);
      }
      @include md {
        font-size: px2vw-md(34px);
        line-height: px2vw-md(36px);
      }
      @include sm {
        font-size: px2vw-sm(34px);
        line-height: px2vw-sm(36px);
      }
    }
  }
}
.shop-item-divider {
  border-bottom: px2vw-xl(1px) solid $form-border-color;
  @include xxl {
    border-bottom: px2vw-xxl(1px) solid $form-border-color;
  }
  @include lg {
    border-bottom: px2vw-lg(1px) solid $form-border-color;
  }
  @include md {
    border-bottom: px2vw-md(1px) solid $form-border-color;
  }
  @include sm {
    border-bottom: px2vw-sm(1px) solid $form-border-color;
  }
}
.top-up-amt-card-link.active {
  .top-up-amt-card {
    background: var(--color-primary);
    path.label_bg {
      fill: #000;
    }
    p {
      color: #000;
      font-weight: bold;
      span {
        color: #000;
      }
    }
  }
}
.top-up-amt-card {
  background: rgba(0, 0, 0, 0.38);
  border: px2vw-xl(1px) solid var(--black-disabled);
  height: px2vw-xl(60px);
  align-items: center;
  border-radius: px2vw-xl(4px);
  width: 100%;
  position: relative;
  @include xxl {
    border: px2vw-xxl(1px) solid var(--black-disabled);
    height: px2vw-xxl(60px);
    @include border-radius(4px);
  }
  @include lg {
    border: px2vw-lg(1px) solid var(--black-disabled);
    height: px2vw-lg(60px);
    border-radius: px2vw-lg(4px);
  }
  @include md {
    border: 1px solid var(--black-disabled);
    height: px2vw-md(60px);
    border-radius: px2vw-md(4px);
  }
  @include sm {
    border: px2vw-sm(1px) solid var(--black-disabled);
    height: px2vw-sm(73px);
    border-radius: px2vw-sm(4px);
  }
  .topup_discount {
    width: 100%;
    padding: 0 px2vw-xl(6px);
    @include xxl {
      padding: 0 px2vw-xxl(6px);
    }
    @include lg {
      padding: 0 px2vw-lg(6px);
    }
    @include md {
      padding: 0 px2vw-md(6px);
    }
    @include sm {
      padding: 0 px2vw-sm(6px);
    }
    .dis_pr_coin {
      color: var(--color-secondary);
    }
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    height: px2vw-xl(32px);
    width: px2vw-xl(32px);
    @include xxl {
      height: px2vw-xxl(32px);
      width: px2vw-xxl(32px);
    }
    @include lg {
      height: px2vw-xl(32px);
      width: px2vw-xl(32px);
    }
    @include md {
      height: px2vw-xl(32px);
      width: px2vw-xl(32px);
    }
    @include sm {
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }
  &:hover {
    background-color: $active-color;
    path.label_bg {
      fill: var(--black);
    }
    p {
      color: var(--black);
      font-weight: bold;
      span {
        color: var(--black);
      }
    }
    .dis_pr_coin {
      color: var(--black) !important;
    }
  }
  p {
    @extend %body-2;
    color: var(--white-disabled);
    margin-bottom: 0;
    justify-content: center !important;
    span {
      color: var(--white-high);
    }
  }
}
.purchase-confirmation-popup {
  background: $purchase-confirmation-bg;
}
.btn_reload {
  color: var(--black) !important;
}
.payment_dcb {
  height: px2vw-xl(65px);
  @include xxl {
    height: px2vw-xxl(65px);
  }
  @include lg {
    height: px2vw-lg(65px);
  }
  @include md {
    height: px2vw-md(65px);
  }
  @include sm {
    height: px2vw-sm(65px);
  }
}
#reloadModal {
  .close {
    background-color: var(--red);
  }
  .mat-icon {
    color: var(--white);
  }
}
.moreInfo {
  color: var(--pink) !important;
}
.mdStorecontainer {
  display: block;
}
.smStorecontainer {
  display: none;
}
@include sm {
  .showLink {
    display: block;
  }
}
.btn_buynow {
  height: px2vw-xl(56px);
  font-size: px2vw-xl(14px);
  @include xxl {
    height: px2vw-xxl(56px);
    font-size: px2vw-xxl(14px);
  }
  @include lg {
    height: px2vw-lg(56px);
    font-size: px2vw-lg(14px);
  }
  @include md {
    height: px2vw-md(56px);
    font-size: px2vw-md(14px);
  }
  @include sm {
    height: px2vw-sm(56px);
    font-size: px2vw-sm(14px);
  }
  &[disabled] {
    background-color: var(--white-disabled);
    color: var(--darkgrey);
  }
}
@include sm {
  .mdStorecontainer {
    display: none;
  }
  .showmoreHide {
    display: block;
  }
  .select_top_up_amount {
    font-size: px2vw-xl(12px);
    color: var(--white-halfmedium);
    @include xxl {
      font-size: px2vw-xxl(12px);
    }
    @include lg {
      font-size: px2vw-lg(12px);
    }
    @include md {
      font-size: px2vw-md(12px);
    }
    @include sm {
      font-size: px2vw-sm(12px);
    }
  }

  .select_top_up_amount-box {
    margin-top: px2vw-xl(25px);
    @include xxl {
      margin-top: px2vw-xxl(25px);
    }
    @include lg {
      margin-top: px2vw-lg(25px);
    }
    @include md {
      margin-top: px2vw-md(25px);
    }
    @include sm {
      margin-top: px2vw-sm(25px);
    }
  }

  .select_top_up_amount-card {
    margin: px2vw-xl(10px);
    border: px2vw-xl(1px) solid;
    height: px2vw-xl(72px);
    text-align: center;
    background: var(--color-ash-thk);
    border-radius: px2vw-xl(5px);
    cursor: pointer;
    @include xxl {
      margin: px2vw-xxl(10px);
      border: px2vw-xxl(1px) solid;
      height: px2vw-xxl(72px);
      @include border-radius(5px);
    }
    @include lg {
      margin: px2vw-lg(10px);
      border: px2vw-lg(1px) solid;
      height: px2vw-lg(72px);
      border-radius: px2vw-lg(5px);
    }
    @include md {
      margin: px2vw-md(10px);
      border: px2vw-md(1px) solid;
      height: px2vw-md(72px);
      border-radius: px2vw-md(5px);
    }
    @include sm {
      margin: px2vw-sm(10px);
      border: 1px solid;
      height: px2vw-sm(72px);
      border-radius: px2vw-sm(5px);
    }
  }

  .select_top_up_amount-prize {
    font-size: px2vw-xl(12px);
    color: var(--white-halfmedium);
    padding-top: px2vw-xl(10px);
    @include xxl {
      font-size: px2vw-xxl(12px);
      padding-top: px2vw-xxl(10px);
    }
    @include lg {
      font-size: px2vw-lg(12px);
      padding-top: px2vw-lg(10px);
    }
    @include md {
      font-size: px2vw-md(12px);
      padding-top: px2vw-md(10px);
    }
    @include sm {
      font-size: px2vw-sm(12px);
      padding-top: px2vw-sm(10px);
    }
  }

  .select_top_up_amount-coins {
    font-size: px2vw-xl(13px);
    color: var(--white);
    padding-top: px2vw-xl(5px);
    @include xxl {
      font-size: px2vw-xxl(13px);
      padding-top: px2vw-xxl(5px);
    }
    @include lg {
      font-size: px2vw-lg(13px);
      padding-top: px2vw-lg(5px);
    }
    @include md {
      font-size: px2vw-md(13px);
      padding-top: px2vw-md(5px);
    }
    @include sm {
      font-size: px2vw-sm(13px);
      padding-top: px2vw-sm(5px);
    }
  }

  .select_top_up_amount-card1 {
    margin: px2vw-xl(10px);
    border: px2vw-xl(1px) solid;
    height: px2vw-xl(72px);
    text-align: center;
    background-color: var(--chartreuse);
    border-radius: px2vw-xl(5px);
    @include xxl {
      margin: px2vw-xxl(10px);
      border: px2vw-xxl(1px) solid;
      height: px2vw-xxl(72px);
      @include border-radius(5px);
    }
    @include lg {
      margin: px2vw-lg(10px);
      border: px2vw-lg(1px) solid;
      height: px2vw-lg(72px);
      border-radius: px2vw-lg(5px);
    }
    @include md {
      margin: px2vw-md(10px);
      border: px2vw-md(1px) solid;
      height: px2vw-md(72px);
      border-radius: px2vw-md(5px);
    }
    @include sm {
      margin: px2vw-sm(10px);
      border: 1px solid;
      height: px2vw-sm(72px);
      border-radius: px2vw-sm(5px);
    }
  }

  .select_top_up_amount-prize1 {
    font-size: px2vw-xl(12px);
    color: var(--black);
    padding-top: px2vw-xl(10px);
    @include xxl {
      font-size: px2vw-xxl(12px);
      padding-top: px2vw-xxl(10px);
    }
    @include lg {
      font-size: px2vw-lg(12px);
      padding-top: px2vw-lg(10px);
    }
    @include md {
      font-size: px2vw-md(12px);
      padding-top: px2vw-md(10px);
    }
    @include sm {
      font-size: px2vw-sm(12px);
      padding-top: px2vw-sm(10px);
    }
  }

  .select_top_up_amount-coins1 {
    font-size: px2vw-xl(13px);
    color: var(--black);
    padding-top: px2vw-xl(5px);
    @include xxl {
      font-size: px2vw-xxl(13px);
      padding-top: px2vw-xxl(5px);
    }
    @include lg {
      font-size: px2vw-lg(13px);
      padding-top: px2vw-lg(5px);
    }
    @include md {
      font-size: px2vw-md(13px);
      padding-top: px2vw-md(5px);
    }
    @include sm {
      font-size: px2vw-sm(13px);
      padding-top: px2vw-sm(5px);
    }
  }

  .select_top_up_amount-box2 {
    margin-top: px2vw-xl(10px);
    @include xxl {
      margin-top: px2vw-xxl(10px);
    }
    @include lg {
      margin-top: px2vw-lg(10px);
    }
    @include md {
      margin-top: px2vw-md(10px);
    }
    @include sm {
      margin-top: px2vw-sm(10px);
    }
  }

  .topup-method-row-first {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: px2vw-xl(20px);
    background: var(--color-ash-thk);
    cursor: pointer;
    @include xxl {
      margin-top: px2vw-xxl(20px);
    }
    @include lg {
      margin-top: px2vw-lg(20px);
    }
    @include md {
      margin-top: px2vw-md(20px);
    }
    @include sm {
      margin-top: px2vw-sm(20px);
    }
  }

  .topup-method-row-first1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: px2vw-lg(20px);
    background: var(--color-primary);
    @include xxl {
      margin-top: px2vw-xxl(20px);
    }
    @include lg {
      margin-top: px2vw-lg(20px);
    }
    @include md {
      margin-top: px2vw-md(20px);
    }
    @include sm {
      margin-top: px2vw-sm(20px);
    }
  }

  .topup-method-item {
    display: flex;
  }

  .topup-method-item-icon {
    width: px2vw-xl(48px);
    height: px2vw-xl(48px);
    text-align: center;
    @include xxl {
      width: px2vw-xxl(48px);
      height: px2vw-xxl(48px);
    }
    @include lg {
      width: px2vw-lg(48px);
      height: px2vw-lg(48px);
    }
    @include md {
      width: px2vw-md(48px);
      height: px2vw-md(48px);
    }
    @include sm {
      width: px2vw-sm(48px);
      height: px2vw-sm(48px);
    }
  }

  .topup-method-item-logo {
    padding-top: px2vw-xl(12px);
    @include xxl {
      padding-top: px2vw-xxl(12px);
    }
    @include lg {
      padding-top: px2vw-lg(12px);
    }
    @include md {
      padding-top: px2vw-md(12px);
    }
    @include sm {
      padding-top: px2vw-sm(12px);
    }
  }

  .topup-method-item-info {
    padding-top: px2vw-xl(10px);
    margin-left: px2vw-xl(10px);
    @include xxl {
      padding-top: px2vw-xxl(10px);
      margin-left: px2vw-xxl(10px);
    }
    @include lg {
      padding-top: px2vw-lg(10px);
      margin-left: px2vw-lg(10px);
    }
    @include md {
      padding-top: px2vw-md(10px);
      margin-left: px2vw-md(10px);
    }
    @include sm {
      padding-top: px2vw-sm(10px);
      margin-left: px2vw-sm(10px);
    }
  }

  .topup-method-item-info-label {
    font-size: px2vw-xl(16px);
    color: var(--white);
    @include xxl {
      font-size: px2vw-xxl(16px);
    }
    @include lg {
      font-size: px2vw-lg(16px);
    }
    @include md {
      font-size: px2vw-md(16px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
    }
  }

  .topup-method-item-info-text {
    font-size: px2vw-xl(14px);
    color: var(--white-halfmedium);
    margin-top: px2vw-xl(5px);
    @include xxl {
      font-size: px2vw-xxl(14px);
      margin-top: px2vw-xxl(5px);
    }
    @include lg {
      font-size: px2vw-lg(14px);
      margin-top: px2vw-lg(5px);
    }
    @include md {
      font-size: px2vw-md(14px);
      margin-top: px2vw-md(5px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      margin-top: px2vw-sm(5px);
    }
  }

  .topup-method-item-info-label1 {
    font-size: 16px;
    color: black;
    @include xxl {
      font-size: px2vw-xxl(16px);
    }
    @include lg {
      font-size: px2vw-lg(16px);
    }
    @include md {
      font-size: px2vw-md(16px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
    }
  }

  .topup-method-item-info-text1 {
    font-size: px2vw-xl(14px);
    color: var(--black);
    margin-top: px2vw-xl(5px);
    @include xxl {
      font-size: px2vw-xxl(14px);
      margin-top: px2vw-xxl(5px);
    }
    @include lg {
      font-size: px2vw-lg(14px);
      margin-top: px2vw-lg(5px);
    }
    @include md {
      font-size: px2vw-md(14px);
      margin-top: px2vw-md(5px);
    }
    @include sm {
      font-size: px2vw-sm(14px);
      margin-top: px2vw-sm(5px);
    }
  }

  .topup-method-item-right-icon {
    padding-top: px2vw-xl(5px);
    @include xxl {
      padding-top: px2vw-xxl(5px);
    }
    @include lg {
      padding-top: px2vw-lg(5px);
    }
    @include md {
      padding-top: px2vw-md(5px);
    }
    @include sm {
      padding-top: px2vw-sm(5px);
    }
  }

  .topup-method-item-right-logo {
    float: right;
  }

  .topup-method-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: px2vw-xl(10px);
    @include xxl {
      margin-top: px2vw-xxl(10px);
    }
    @include lg {
      margin-top: px2vw-lg(10px);
    }
    @include md {
      margin-top: px2vw-md(10px);
    }
    @include sm {
      margin-top: px2vw-sm(10px);
    }
  }

  .top-up-bottom {
    text-align: center;
    border: px2vw-xl(1px) solid;
    height: px2vw-xl(47px);
    background-color: var(--light-ash);
    cursor: pointer;
    @include xxl {
      border: px2vw-xxl(1px) solid;
      height: px2vw-xxl(47px);
    }
    @include lg {
      border: px2vw-lg(1px) solid;
      height: px2vw-lg(47px);
    }
    @include md {
      border: px2vw-md(1px) solid;
      height: px2vw-md(47px);
    }
    @include sm {
      border: px2vw-sm(1px) solid;
      height: px2vw-sm(47px);
    }
  }

  .top-up-bottom-text {
    font-size: px2vw-xl(18px);
    text-align: center;
    color: var(--color-gray-lt);
    @include xxl {
      font-size: px2vw-xxl(18px);
    }
    @include lg {
      font-size: px2vw-lg(18px);
    }
    @include md {
      font-size: px2vw-md(18px);
    }
    @include sm {
      font-size: px2vw-sm(18px);
    }
  }

  .top-up-bottom:hover {
    background-color: var(--color-primary);
    color: var(--black);
  }

  .modal_logo {
    width: px2vw-xl(105px);
    height: px2vw-xl(105px);
    text-align: center;
    background-color: var(--color-green-lgt2);
    border: px2vw-xl(5px) solid var(--white);
    border-radius: 50%;
    margin-left: 35%;
    margin-top: px2vw-xl(30px);
    margin-bottom: px2vw-xl(30px);
    @include xxl {
      width: px2vw-xxl(105px);
      height: px2vw-xxl(105px);
      border: px2vw-xxl(5px) solid var(--white);
      margin-top: px2vw-xxl(30px);
      margin-bottom: px2vw-xxl(30px);
    }
    @include lg {
      width: px2vw-lg(105px);
      height: px2vw-lg(105px);
      border: px2vw-lg(5px) solid var(--white);
      margin-top: px2vw-lg(30px);
      margin-bottom: px2vw-lg(30px);
    }
    @include md {
      width: px2vw-md(105px);
      height: px2vw-md(105px);
      border: px2vw-md(5px) solid var(--white);
      margin-top: px2vw-md(30px);
      margin-bottom: px2vw-md(30px);
    }
    @include sm {
      width: px2vw-sm(105px);
      height: px2vw-sm(105px);
      border: px2vw-sm(5px) solid var(--white);
      margin-top: px2vw-sm(30px);
      margin-bottom: px2vw-sm(30px);
    }
  }

  .modal_body {
    background: var(--gradient-bg-drk4), var(--gradient-bg-drk3);
  }

  .modal-content {
    background-color: var(--black);
    box-shadow: -1px -1px var(--black-brown);
  }

  .modal {
    width: 100%;
    left: 0;
    top: 0;
  }
  .insuficient-balance-red {
    color: var(--red);
  }
}
.insufficent_balance {
  color: var(--color-close-btn);
}
@include sm {
  .GO-Container {
    .game_title {
      h3 {
        font-size: px2vw-sm(18px);
      }
    }
    > .row {
      margin-bottom: px2vw-sm(16px);
    }
    .game_description {
      margin-top: px2vw-sm(12px);
      .more_info {
        display: block;
      }
    }
  }
  .SI-FUID-Container {
    fieldset {
      margin-bottom: px2vw-sm(16px);
      input {
        padding: 0px 0 px2vw-sm(12px) 0;
      }
    }
    .user_id_content {
      p {
        max-width: 100%;
        color: var(--white-medium);
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);
      }
    }
    .form-steps-number {
      h1 {
        span {
          font-size: px2vw-sm(22px);
        }
      }
    }
    .bdge_3 {
      p {
        color: var(--white-medium);
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);
      }
    }
    &.review_order {
      p {
        font-size: px2vw-sm(14px);
        line-height: px2vw-sm(20px);
      }
    }
    .bal_price {
      p {
        color: var(--white-high);
      }
    }
  }
  .form-steps-header {
    margin-bottom: px2vw-sm(16px);
  }
}
@media (min-width: 600px) {
  .user_input {
    fieldset {
      &:nth-of-type(2) {
        margin-left: 1.5rem;
      }
    }
  }
}

.insuficient-balance-red2 {
  color: var(--red);
}

::ng-deep .modal-backdrop.show {
  z-index: 0 !important;
}

.purchase_confirm_modal {
  background: rgba(0, 0, 0, 0.6);
  .modal-dialog {
    width: px2vw-xl(525px);
    max-width: px2vw-xl(525px);
    @include xxl {
      width: px2vw-xxl(525px);
      max-width: px2vw-xxl(525px);
    }
    @include lg {
      width: px2vw-lg(525px);
      max-width: px2vw-lg(525px);
    }
    @include md {
      width: px2vw-md(525px);
      max-width: px2vw-md(525px);
    }
    @include sm {
      width: 100%;
      max-width: 100%;
    }
  }
  .modal-content {
    position: relative;
    @include sm {
      height: 100vh;
      margin-top: px2vw-sm(0px);
      position: fixed;
      top: 0;
    }
    .modal-header {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      @include sm {
        display: none;
      }
      button {
        margin: 0;
        padding: 0;
        height: px2vw-xl(30px);
        width: px2vw-xl(30px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-close-btn);
        border-radius: 0px px2vw-xl(2px) 0px 0px;
        opacity: 1;
        @include xxl {
          height: px2vw-xxl(30px);
          width: px2vw-xxl(30px);
          @include border-radius(0px 2px 0px 0px);
        }
        @include lg {
          height: px2vw-lg(30px);
          width: px2vw-lg(30px);
          border-radius: 0px px2vw-lg(2px) 0px 0px;
        }
        @include md {
          height: px2vw-md(30px);
          width: px2vw-md(30px);
          border-radius: 0px px2vw-md(2px) 0px 0px;
        }
        @include sm {
          height: px2vw-sm(30px);
          width: px2vw-sm(30px);
          border-radius: 0px px2vw-sm(2px) 0px 0px;
        }
        .mat-icon {
          color: var(--white);
          text-shadow: none;
        }
      }
    }
    .modal-body {
      padding: px2vw-xl(30px) px2vw-xl(32px);
      @include xxl {
        padding: px2vw-xxl(30px) px2vw-xxl(32px);
      }
      @include lg {
        padding: px2vw-lg(30px) px2vw-lg(32px);
      }
      @include md {
        padding: px2vw-md(30px) px2vw-md(32px);
      }
      @include sm {
        padding: px2vw-sm(30px) px2vw-sm(32px);
        margin-top: px2vw-sm(60px);
      }
      .heading {
        h6 {
          font-family: "maxis-black";
          font-size: px2vw-xl(20px);
          letter-spacing: px2vw-xl(0.15px);
          line-height: px2vw-xl(24px);
          margin-bottom: px2vw-xl(48px);
          @include xxl {
            font-size: px2vw-xxl(20px);
            letter-spacing: px2vw-xxl(0.15px);
            line-height: px2vw-xxl(24px);
            margin-bottom: px2vw-xxl(48px);
          }
          @include lg {
            font-size: px2vw-xl(20px);
            letter-spacing: px2vw-xl(0.15px);
            line-height: px2vw-xl(24px);
            margin-bottom: px2vw-lg(48px);
          }
          @include md {
            font-size: px2vw-md(20px);
            letter-spacing: px2vw-md(0.15px);
            line-height: px2vw-md(24px);
            margin-bottom: px2vw-md(48px);
          }
          @include sm {
            font-size: px2vw-sm(20px);
            letter-spacing: px2vw-sm(0.15px);
            line-height: px2vw-sm(24px);
            margin-bottom: px2vw-sm(48px);
          }
        }
        p {
          font-family: "maxis-bold";
          font-size: px2vw-xl(16px);
          letter-spacing: px2vw-xl(0.15px);
          line-height: px2vw-xl(24px);
          color: var(--white-high);
          @include xxl {
            font-size: px2vw-xxl(16px);
            letter-spacing: px2vw-xxl(0.15px);
            line-height: px2vw-xxl(24px);
          }
          @include lg {
            font-size: px2vw-lg(16px);
            letter-spacing: px2vw-lg(0.15px);
            line-height: px2vw-lg(24px);
          }
          @include md {
            font-size: px2vw-md(16px);
            letter-spacing: px2vw-md(0.15px);
            line-height: px2vw-md(24px);
          }
          @include sm {
            font-size: px2vw-sm(16px);
            letter-spacing: px2vw-sm(0.15px);
            line-height: px2vw-sm(24px);
          }
        }
      }
      .main_content {
        .purchase_text {
          span {
            font-family: "maxis-semibold";
            font-size: px2vw-xl(14px);
            letter-spacing: px2vw-xl(0.25px);
            line-height: px2vw-xl(20px);
            color: var(--white-medium);
            @include xxl {
              font-size: px2vw-xxl(14px);
              letter-spacing: px2vw-xxl(0.25px);
              line-height: px2vw-xxl(20px);
            }
            @include lg {
              font-size: px2vw-lg(14px);
              letter-spacing: px2vw-lg(0.25px);
              line-height: px2vw-lg(20px);
            }
            @include md {
              font-size: px2vw-md(14px);
              letter-spacing: px2vw-md(0.25px);
              line-height: px2vw-md(20px);
            }
            @include sm {
              font-size: px2vw-sm(14px);
              letter-spacing: px2vw-sm(0.25px);
              line-height: px2vw-sm(20px);
            }
          }
        }
        .purchase_value {
          span {
            font-family: "maxis-semibold";
            font-size: px2vw-xl(14px);
            letter-spacing: px2vw-xl(0.25px);
            line-height: px2vw-xl(20px);
            color: var(--fullwhite);
            word-break: break-all;
            @include xxl {
              font-size: px2vw-xxl(14px);
              letter-spacing: px2vw-xxl(0.25px);
              line-height: px2vw-xxl(20px);
            }
            @include lg {
              font-size: px2vw-lg(14px);
              letter-spacing: px2vw-lg(0.25px);
              line-height: px2vw-lg(20px);
            }
            @include md {
              font-size: px2vw-md(14px);
              letter-spacing: px2vw-md(0.25px);
              line-height: px2vw-md(20px);
            }
            @include sm {
              font-size: px2vw-sm(14px);
              letter-spacing: px2vw-sm(0.25px);
              line-height: px2vw-sm(20px);
            }
          }
        }
      }
    }
  }
  .count-down {
    float: right;
  }
}
.purchaseConfirmationModal {
  .btn_purchase,
  .btn_cancel {
    width: 100% !important;
  }
  .btn_cancel {
    justify-content: center;
  }
}
.enter_email_section {
  .bdge_3 {
    p {
      @extend %body-2;
      color: var(--white-medium);
    }
  }
}
.top-up_text {
  @extend %subtitle-2;
  color: var(--white-medium);
}
.header_mob {
  justify-content: space-between;
  padding: 0px px2vw-sm(25px);
  border-bottom: 1px solid var(--white-light);
  height: px2vw-sm(65px);
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9;
  background-color: #272a27;
  top: 0;
  @include sm {
    display: flex;
  }
  .mob_game_icon {
    height: 100%;
    border-right: 1px solid var(--white-light);
    text-align: center;
    margin-left: px2vw-sm(-15px);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      padding: px2vw-sm(5px);
    }
  }
  h5 {
    font-size: px2vw-sm(16px);
    margin-bottom: 0;
    margin-left: px2vw-sm(15px);
    color: var(--white-high);
    font-family: "maxis-semibold";
  }
  .btn_close_mobile {
    background-color: transparent;
    .mat-icon {
      color: var(--white-medium);
      background-color: transparent;
    }
  }
}
.expire_modal {
  .model_header {
    background: var(--gradient-bg-drk4), var(--gradient-bg-drk3);
    border-top-right-radius: 0px;
    border-bottom: 0px;
    padding: 1rem px2vw-xl(32px);
    position: relative;
    @include xxl {
      padding: 1rem px2vw-xxl(32px);
    }
    @include lg {
      padding: 1rem px2vw-lg(32px);
    }
    @include md {
      padding: 1rem px2vw-md(32px);
    }
    @include sm {
      padding: 1rem px2vw-sm(32px);
    }
    .modal_title {
      color: var(--fullwhite);
      letter-spacing: px2vw-xl(0.15px);
      font-size: px2vw-xl(20px);
      line-height: px2vw-xl(24px);
      font-family: "maxis-black";
      @include xxl {
        letter-spacing: px2vw-xxl(0.15px);
        font-size: px2vw-xxl(20px);
        line-height: px2vw-xxl(24px);
      }
      @include lg {
        letter-spacing: px2vw-lg(0.15px);
        font-size: px2vw-lg(20px);
        line-height: px2vw-lg(24px);
      }
      @include md {
        letter-spacing: px2vw-md(0.15px);
        font-size: px2vw-md(20px);
        line-height: px2vw-md(24px);
      }
      @include sm {
        letter-spacing: px2vw-sm(0.15px);
        font-size: px2vw-sm(20px);
        line-height: px2vw-sm(24px);
      }
    }
    .btnmodel_close {
      position: absolute;
      top: 0;
      right: 0;
      height: px2vw-xl(30px);
      width: px2vw-xl(30px);
      padding: 0;
      margin: 0;
      background-color: var(--color-close-btn);
      border-radius: 0px px2vw-xl(2px) 0px 0px;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      @include xxl {
        height: px2vw-xxl(30px);
        width: px2vw-xxl(30px);
        border-radius: 0px px2vw-xxl(2px) 0px 0px;
      }
      @include lg {
        height: px2vw-lg(30px);
        width: px2vw-lg(30px);
        border-radius: 0px px2vw-lg(2px) 0px 0px;
      }
      @include md {
        height: px2vw-md(30px);
        width: px2vw-md(30px);
        border-radius: 0px px2vw-md(2px) 0px 0px;
      }
      @include sm {
        height: px2vw-sm(30px);
        width: px2vw-sm(30px);
        border-radius: 0px px2vw-sm(2px) 0px 0px;
      }
      img {
        height: px2vw-xl(14px);
        width: px2vw-xl(14px);
        @include xxl {
          height: px2vw-xxl(14px);
          width: px2vw-xxl(14px);
        }
        @include lg {
          height: px2vw-lg(14px);
          width: px2vw-lg(14px);
        }
        @include md {
          height: px2vw-md(14px);
          width: px2vw-md(14px);
        }
        @include sm {
          height: px2vw-sm(14px);
          width: px2vw-sm(14px);
        }
      }
    }
  }
  .modal-body {
    padding: 1rem px2vw-xl(32px);
    @include xxl {
      padding: 1rem px2vw-xxl(32px);
    }
    @include lg {
      padding: 1rem px2vw-lg(32px);
    }
    @include md {
      padding: 1rem px2vw-md(32px);
    }
    @include sm {
      padding: 1rem px2vw-sm(32px);
    }
    .error_icon {
      text-align: center;
      margin-bottom: px2vw-xl(24px);
      @include xxl {
        margin-bottom: px2vw-xxl(24px);
      }
      @include lg {
        margin-bottom: px2vw-lg(24px);
      }
      @include md {
        margin-bottom: px2vw-md(24px);
      }
      @include sm {
        margin-bottom: px2vw-sm(24px);
      }
    }
    p {
      text-align: center;
      margin: 0 auto px2vw-xl(40px) auto;
      max-width: px2vw-xl(282px);
      @include xxl {
        margin: 0 auto px2vw-xxl(40px) auto;
        max-width: px2vw-xxl(282px);
      }
      @include lg {
        margin: 0 auto px2vw-lg(40px) auto;
        max-width: px2vw-lg(282px);
      }
      @include md {
        margin: 0 auto px2vw-md(40px) auto;
        max-width: px2vw-md(282px);
      }
      @include sm {
        margin: 0 auto px2vw-sm(40px) auto;
        max-width: px2vw-sm(282px);
      }
    }
    button {
      width: 100%;
      margin-bottom: px2vw-xl(35px);
      @include xxl {
        margin-bottom: px2vw-xxl(35px);
      }
      @include lg {
        margin-bottom: px2vw-lg(35px);
      }
      @include md {
        margin-bottom: px2vw-md(35px);
      }
      @include sm {
        margin-bottom: px2vw-sm(35px);
      }
    }
  }
}
.countdown_session {
  @extend %body-2;
  color: var(--white-medium);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: px2vw-xl(32px);
  @include xxl {
    margin-top: px2vw-xxl(32px);
  }
  @include lg {
    margin-top: px2vw-lg(32px);
  }
  @include md {
    margin-top: px2vw-md(32px);
  }
  @include sm {
    margin-top: px2vw-sm(32px);
  }
  .session_timer {
    font-family: "maxis-black";
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(18px);
    color: var(--color-secondary);
    @include xxl {
      font-size: px2vw-xxl(16px);
      line-height: px2vw-xxl(18px);
    }
    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(18px);
    }
    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(18px);
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(18px);
    }
  }
}
.login-text {
  @extend %subtitle-1;
  color: var(--white-medium);
  padding: px2vw-xl(16px) 0;
  display: block;
  @include xxl {
    padding: px2vw-xxl(16px) 0;
  }
  @include lg {
    padding: px2vw-lg(16px) 0;
  }
  @include md {
    padding: px2vw-md(16px) 0;
  }
  @include sm {
    padding: px2vw-sm(16px) 0;
  }
  a {
    color: var(--color-primary);
    text-decoration: underline;
  }
}
.text {
  @include sm {
    font-size: px2vw-sm(22px);
    line-height: px2vw-sm(30px);
  }
}
::ng-deep .login_popup {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.07),
      rgba(255, 255, 255, 0.07)
    ),
    #171a17;
  box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.22),
    0px 19px 38px rgba(0, 0, 0, 0.3);
  border-radius: px2vw-xl(2px);
  width: px2vw-xl(410px) !important;
  max-width: px2vw-xl(410px) !important;
  padding: 0;
  @include xxl {
    width: px2vw-xxl(410px) !important;
    max-width: px2vw-xxl(410px) !important;
  }
  @include lg {
    width: px2vw-lg(410px) !important;
    max-width: px2vw-lg(410px) !important;
  }
  @include md {
    width: px2vw-md(410px) !important;
    max-width: px2vw-md(410px) !important;
  }
  @include sm {
    max-width: 80vw !important;
  }
  .mat-dialog-container {
    box-shadow: none;
    background-color: transparent;
    color: inherit;
    overflow: hidden;
  }
}
