@import "shared";

:host {
  display: block;
}

.LTC {
  display: none;
  z-index: 10;
  position: absolute;
  bottom: px2vw-xl(4px);
  left: px2vw-xl(30px);
  border-radius: px2vw-xl(4px);
  border: px2vw-xl(1px) solid var(--white-smoke);
  background: var(--gradient-bg);

  @include lg {
    bottom: px2vw-lg(4px);
    left: px2vw-lg(30px);
    border-radius: px2vw-lg(4px);
    border-width: px2vw-lg(1px);
  }

  @include md {
    bottom: px2vw-md(4px);
    left: px2vw-md(30px);
    border-radius: px2vw-md(4px);
    border-width: px2vw-md(1px);
  }

  @include sm {
    bottom: px2vw-sm(4px);
    left: px2vw-sm(30px);
    border-radius: px2vw-sm(4px);
    border-width: px2vw-sm(1px);
  }

  &-container {
    width: px2vw-xl(440px);
    padding: px2vw-xl(24px) px2vw-xl(16px);

    @include lg {
      width: px2vw-lg(440px);
      padding: px2vw-lg(24px) px2vw-lg(16px);
    }

    @include md {
      width: px2vw-md(440px);
      padding: px2vw-md(24px) px2vw-md(16px);
    }

    @include sm {
      width: px2vw-sm(440px);
      padding: px2vw-sm(24px) px2vw-sm(16px);
    }
  }

  &-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(24px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-tournaments {
    overflow-y: scroll;
    margin-bottom: 0;
    height: px2vw-xl(348px);

    @include lg {
      height: px2vw-lg(348px);
    }

    @include md {
      height: px2vw-md(348px);
    }

    @include sm {
      height: px2vw-sm(348px);
    }
  }

  &-tournament {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(16px);
    border-bottom: px2vw-xl(1px) solid var(--white-light);
    padding-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      border-bottom-width: px2vw-lg(1px);
      padding-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      border-bottom-width: px2vw-md(1px);
      padding-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      border-bottom-width: px2vw-sm(1px);
      padding-bottom: px2vw-sm(16px);
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &-tournament-image {
    flex-shrink: 0;
    margin-right: px2vw-xl(10px);
    height: px2vw-xl(62px);
    width: px2vw-xl(120px);
    background-size: cover;
    background-position: center;
    background-color: var(--black);

    @include lg {
      margin-right: px2vw-lg(10px);
      height: px2vw-xl(62px);
      width: px2vw-xl(120px);
    }

    @include md {
      margin-right: px2vw-md(10px);
      height: px2vw-md(62px);
      width: px2vw-md(120px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
      height: px2vw-sm(62px);
      width: px2vw-sm(120px);
    }
  }

  &-tournament-info {
    margin-right: px2vw-xl(12px);

    @include lg {
      margin-right: px2vw-lg(12px);
    }

    @include md {
      margin-right: px2vw-md(12px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
    }
  }

  &-tournament-title {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(8px);
    line-height: px2vw-xl(19px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
      line-height: px2vw-lg(19px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      line-height: px2vw-md(19px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      line-height: px2vw-sm(19px);
    }
  }

  &-tournament-game {
    @extend %caption;
    margin-bottom: 0;
    color: var(--white-medium);
  }

  &-tournament-trophy {
    flex-shrink: 0;
    margin-left: auto;
    padding-right: px2vw-xl(12px);

    @include lg {
      padding-right: px2vw-lg(12px);
    }

    @include md {
      padding-right: px2vw-md(12px);
    }

    @include sm {
      padding-right: px2vw-sm(12px);
    }
  }

  &-tournament-trophy-icon {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(24px);
    width: px2vw-xl(22px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-xl(24px);
      width: px2vw-xl(22px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(24px);
      width: px2vw-md(22px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(24px);
      width: px2vw-sm(22px);
    }
  }

  &-tournament-trophy-place {
  }
}
