<div class="Home  ">

  <main class="">
    <ng-container>
      <div class="full-width bannerGD">
        <app-preview-slider></app-preview-slider>
      </div>
    </ng-container>
    <div class="Home-content">
      <section class="Tournamentslist" *ngIf="featuredTournaments?.length>0">
        <div class="u-wp">
          <div class="Tournamentslist-title">
            <h1>{{ "HOME.TITLE.FEATURED_TOURNAMENT" | translate }}</h1>
            <a class="Tournamentslist-seemore"> {{ "BUTTON.VIEW_ALL" | translate }} </a>
          </div>
          <div class="Tournamentslist-list">
            <app-tournament-card-home *ngFor="let item of featuredTournaments" [params]="item"
              [routerLink]="[AppHtmlRoutes.tournamentView, item?.slug]">
            </app-tournament-card-home>
          </div>
        </div>
      </section>
      <section *ngIf="currentUser" class="Tournamentslist">
        <div class="u-wp">
          <div class="Tournamentslist-title">
            <h1>{{ "HOME.TITLE.CURRENT_TOURNAMENT" | translate }}</h1>
            <a class="Tournamentslist-seemore"> {{ "BUTTON.VIEW_ALL" | translate }}</a>
          </div>
          <div class="Tournamentslist-list" *ngIf="ongoingTournaments">
            <app-tournament-card-home *ngFor="let ongoingTournament of ongoingTournaments"
              [ongoingTournament]="ongoingTournament"
              [routerLink]="[AppHtmlRoutes.tournamentView, ongoingTournament?.slug]">
            </app-tournament-card-home>
          </div>
        </div>
      </section>
      <section class="Tournamentslist">
        <div class="u-wp">
          <div class="Tournamentslist-title">
            <h1>{{ "HOME.TITLE.LATEST_NEWS" | translate}}</h1>
            <a class="Tournamentslist-seemore" [routerLink]="AppHtmlRoutes.content"> {{ "BUTTON.VIEW_ALL" | translate}} </a>
          </div>
          <app-latest-news></app-latest-news>
        </div>
      </section>
      <section class="Tournamentslist">
        <div class="u-wp">
          <div class="Tournamentslist-title">
            <h1>{{ "HOME.LEADERBOARD_HEADING.LEADERBOARD_TOP" | translate }}</h1>
            <div class="drop_dum">
              
                

            </div>
          </div>
          <div class="tab_me">
            <app-leaderboard-table [data]="data" [leaderboardData]="leaderboardData"></app-leaderboard-table>
          </div>
        </div>
      </section>
      <section *ngIf="featuredSeasons?.length>0" class="Tournamentslist u-wp">
        <div class="u-wp">
          <div class="Tournamentslist-title">
            <h1>
              {{ "HOME.TITLE.FEATURED_SEASONS" | translate }}
            </h1>
            <a class="Tournamentslist-seemore"> {{ "BUTTON.VIEW_ALL" | translate }} </a>
          </div>
          <div class="Tournamentslist-list">
            <app-tournament-card-home *ngFor="let item of featuredSeasons" [params]="item"
              [routerLink]="AppHtmlGetMatchRoutes.season">
            </app-tournament-card-home>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
<app-footer-googly></app-footer-googly>
