<div class="Match-highlight" [routerLink]="['../videos', 'view', params?._id]">
  <img class="Match-highlight-image" [src]="params?.thumbnailUrl" />
  <div class="Match-highlight-container">
    <h3 class="Match-highlight-container-title global-Elipses">
      {{ utilsService.getLanguageWiseValue(params?.title, currlanguage) }}
    </h3>
    <p class="Match-highlight-container-date global-Elipses">
      {{ !isNumber(timezone) ? (params?.updatedOn | date: "medium") : ( params?.updatedOn | date: "MMM d, y, h:mm:ss a z") }} {{ !isNumber(timezone) ? timezone : '' }}
    </p>
    <p class="Match-highlight-container-description global-Elipses">
      {{ utilsService.getLanguageWiseValue(params.description, currlanguage) }}
    </p>
  </div>
  <!-- <button class="Match-highlight-button btn-player"></button> -->
</div>
