<section class="sectionA">
  <a (click)="back()" class="backButton mb-3">
    <span><img src="/assets/icons/arrow-back.svg" /></span>
    <span>{{ "USER_REPORT.REPORT_BACK" | translate }}</span>
  </a>
  <header class="">
    <h1 class="global-Title">{{ "REPORT.ISSUE" | translate }}</h1>
    <h5 class="global-Text">{{ "REPORT.ONE" | translate }}</h5>
    <button
      (click)="selectType('incorrectOpponent')"
      class="report-slider btn"
      [class]="type === 'incorrectOpponent' ? 'active' : null"
    >
      {{ "REPORT.INCORRECT" | translate }}
    </button>
    <button
      (click)="selectType('cheating')"
      class="report-slider btn"
      [class]="type === 'cheating' ? 'active' : null"
    >
      {{ "REPORT.CHEATING" | translate }}
    </button>
    <button
      (click)="selectType('grievances')"
      class="report-slider btn"
      [class]="type === 'grievances' ? 'active' : null"
    >
      {{ "REPORT.OTHER" | translate }}
    </button>
  </header>
</section>

<section class="sectionB">
  <div>
    <div class="report-info row">
      <div class="col-sm-12 p-0">
        <div class="form-group">
          <label class="global-Title3 w-100 mb-3" for="">
            {{ "REPORT.BRIEF" | translate }}
          </label>
          <textarea
            [(ngModel)]="briefDescription"
            class="form-control tarea"
            rows="4"
            name="briefDescription"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- <div class="reportDesc-item u-dfStart">
      <div class="reportDesc-item-container">
        <div class="reportDesc-item-fields">
          <input
            type="file"
            class="reportDesc-item-field upload-photo"
            (change)="handleFileSelect($event)"
          />
        </div>
      </div>
    </div> -->

    <h3 class="global-Title3">{{ "REPORT.SCREENSHOT" | translate }}</h3>
    <p class="global-Text">{{ "REPORT.INFO" | translate }}</p>
    <div class="uploadView">
      <label *ngIf="!base64textString" class="uploadView-block" for="upload">
        <img src="./assets/icons/upload-image.svg" />
        <div class="uploadView-block-title global-Text">
          {{ "USER_REPORT.UPLOAD_IMAGE" | translate }}
        </div>
        <div class="global-Text">
          {{ "USER_REPORT.UPLOAD_JPEG_TEXT" | translate }}
        </div>
      </label>
      <img
        class="uploadView-image"
        [src]="base64textString"
        (click)="avatar.click()"
        alt="chat image"
        *ngIf="base64textString"
      />
      <input
        #avatar
        class="uploadView-upload"
        id="upload"
        type="file"
        (change)="selectFile($event)"
      />
    </div>

    <button
      class="global-EditBtn mt-3"
      (click)="submitReport()"
      [disabled]="!briefDescription"
    >
      {{ "BUTTON.SUBMIT" | translate }}
    </button>
  </div>
</section>
<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
