<div class="Admin-searchBox">
  <div class="Admin-search">
    <mat-icon>search</mat-icon>
    <input
      [formControl]="search"
      type="search"
      placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
    />
  </div>
</div>
<div class="global-scrollbar" *ngIf="!showDetails">
  <ngx-datatable
    #table
    class="global-DataTableAdmin global-DataTable is-viewRemoveRow is-admin"
    [columns]="columns"
    [rows]="rows"
    [columnMode]="'force'"
    [count]="pageDetail?.totalDocs"
    [externalPaging]="true"
    [headerHeight]="'auto'"
    [footerHeight]="'auto'"
    [rowHeight]="'auto'"
    [limit]="pagination?.limit"
    [offset]="pagination?.page - 1"
    (page)="setPage($event)"
  >
    <ngx-datatable-column
      [flexGrow]="4"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.TOURNAMENT_NAME' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["name"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.REGISTRATION' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["isPaid"] | registrationType }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.START_DATE' | translate
      }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["startDate"] | date: "MMM d, yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.END_DATE' | translate }}"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["endDate"] | date: "MMM d, yy" }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="1"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.PARTICIPANT' | translate
      }}"
      [flexGrow]="1"
    >
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        {{ row["participantCount"] }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{
        'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.FUND_STATUS' | translate
      }}"
      prop="lastDisbursalRecord.status"
    >
    </ngx-datatable-column>

    <ngx-datatable-column
      [flexGrow]="2"
      name="{{ 'ADMIN.ESPORTS_MANAGEMENT.TABLE_HEADER.DETAILS' | translate }}"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <a
          (click)="navigate(row)"
          mat-icon-button
          color="primary"
          class="UserManagement-tableBtn is-view"
        >
          <mat-icon>arrow_right_alt</mat-icon>
        </a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<app-reg-fee-disbursal-details
  *ngIf="showDetails"
  [tournamentDetails]="tournamentDetails"
  (isToggle)="isToggle($event)"
>
</app-reg-fee-disbursal-details>
