@import "shared";

:host {
  display: block;
}

.InputSearch {
  @extend %u-dfCenter;
  border: 2px solid var(--tertiary-color);
  box-sizing: border-box;
  border-radius: 50px;
  max-width: 100%;
  width: 100%;
  padding: 10px 24px;
  @include lg {
    border: px2vw-xl(1px) solid var(--tolopea-color);
    padding: px2vw-xl(12px) px2vw-xl(24px);
  }

  @include md {
    max-width: 100%;
    padding: 10px 24px;
  }

  @include sm {
    max-width: 100%;
    padding: 7px 24px;
  }

  &-icon {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    height: px2vw-xl(24px);
    width: px2vw-xl(24px);
    font-size: px2vw-xl(24px);
    color: var(--secondary-color);
    cursor: pointer;
    transition: $global-transition;

    @include lg {
      height: px2vw-lg(24px);
      width: px2vw-lg(24px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      height: px2vw-md(24px);
      width: px2vw-md(24px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      height: px2vw-sm(24px);
      width: px2vw-sm(24px);
      font-size: px2vw-sm(24px);
    }
  }

  &-field {
    width: 100%;
    transition: $global-transition;
    cursor: pointer;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    background-color: transparent;
    &::placeholder {
      color: var(--tolopea-color);

      @include md {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
