<div class="InputSearch">
  <input
    class="InputSearch-field"
    name="search"
    type="text"
    [(ngModel)]="text"
    (input)="onSearchTextChange()"
    [placeholder]="placeholder" autocomplete="off"
  />
  <!-- <mat-icon class="InputSearch-icon"> search </mat-icon> -->
  <span class="icon">
    <img
      src="../../../../../assets/icons/create-tournament/icon-Search.png"
      alt=""
    />
  </span>
</div>
