$--navigation-link-color: #646464;
$--navigation-link-border-color: #646464;
$--navigation-link-active-color: #fff;
$--navigation-link-active-border-color: #fff;




.navigation {
  display: flex;
  justify-content: center;

  &-link {
    border: px2vw-xl(1px) solid transparent;
    font-size: px2vw-xl(20px);
    border-radius: px2vw-xl(4px);
    padding: px2vw-xl(12px) px2vw-xl(18px);
    background: none;
    line-height: initial;
    color: $--navigation-link-color;

    @include lg {
      border-width: px2vw-lg(1px);
      font-size: px2vw-lg(20px);
      border-radius: px2vw-lg(4px);
      padding: px2vw-lg(12px) px2vw-lg(18px);
    }

    @include md {
      border-width: px2vw-md(1px);
      font-size: px2vw-md(20px);
      border-radius: px2vw-md(4px);
      padding: px2vw-md(12px) px2vw-md(18px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      font-size: px2vw-sm(20px);
      border-radius: px2vw-sm(4px);
      padding: px2vw-sm(12px) px2vw-sm(18px);
    }

    &.is-prev,
    &.is-next {
      &::after {
        top: px2vw-xl(1px);
        border: px2vw-xl(2px) solid $--navigation-link-border-color;
        width: px2vw-xl(16px);
        height: px2vw-xl(16px);
        content: '';
        position: relative;
        display: inline-block;
        border-right: none;
        border-bottom: none;
        transform: rotate(135deg);

        @include lg {
          top: px2vw-lg(1px);
          border-width: px2vw-lg(2px);
          width: px2vw-lg(16px);
          height: px2vw-lg(16px);
        }

        @include md {
          top: px2vw-md(1px);
          border-width: px2vw-md(2px);
          width: px2vw-md(16px);
          height: px2vw-md(16px);
        }

        @include sm {
          top: px2vw-sm(1px);
          border-width: px2vw-sm(2px);
          width: px2vw-sm(16px);
          height: px2vw-sm(16px);
        }
      }

      &.disabled {
        pointer-events: none;
        opacity: .3;
      }
    }

    &.is-prev {
      // margin-right: px2vw-lg(15px);

      @include lg {
        // margin-right: px2vw-lg(15px);
      }

      @include md {
        // margin-right: px2vw-md(15px);
      }

      @include sm {
        // margin-right: px2vw-sm(15px);
      }

      &::after {
        transform: rotate(-45deg);
        left: px2vw-lg(3px);

        @include lg {
          left: px2vw-lg(3px);
        }

        @include md {
          left: px2vw-md(3px);
        }

        @include sm {
          left: px2vw-sm(3px);
        }
      }
    }

    &.is-next {
      // margin-left: px2vw-lg(15px);

      @include lg {
        // margin-left: px2vw-lg(15px);
      }

      @include md {
        // margin-left: px2vw-md(15px);
      }

      @include sm {
        // margin-left: px2vw-sm(15px);
      }

      &::after {
        right: px2vw-lg(3px);

        @include lg {
          right: px2vw-lg(3px);
        }

        @include md {
          right: px2vw-md(3px);
        }

        @include sm {
          right: px2vw-sm(3px);
        }
      }
    }

    &:hover,
    &.active,
    &.is-next:hover,
    &.is-prev:hover {
      color: $--navigation-link-active-color;
      border-color: $--navigation-link-active-border-color;

      &::after {
        border-color: $--navigation-link-active-border-color;
      }
    }
  }
}

