@import "shared";

$--btn-player-background: rgba(0, 0, 0, 0.6);

.global-IconBtn {
  @include btnEvents();
  font-size: 20px;
  background: none;
  color: var(--white-high);

  @include xl {
    font-size: px2vw-xl(20px);
  }

  @include lg {
    font-size: px2vw-lg(20px);
  }

  @include md {
    font-size: px2vw-md(20px);
  }

  @include sm {
    font-size: px2vw-sm(20px);
  }

  &:hover {
    color: var(--color-primary);
  }

  .material-icons {
    font-size: 24px;

    @include xl {
      font-size: px2vw-xl(24px);
    }

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  img,
  i {
    height: 30px;

    @include xl {
      height: px2vw-xl(30px);
    }

    @include lg {
      height: px2vw-lg(30px);
    }

    @include md {
      height: px2vw-md(30px);
    }

    @include sm {
      height: px2vw-sm(30px);
    }
  }

  &.is-chat {
    .material-icons {
      top: 3px;

      @include xl {
        top: px2vw-xl(3px);
      }

      @include lg {
        top: px2vw-lg(3px);
      }

      @include md {
        top: px2vw-md(3px);
      }

      @include sm {
        top: px2vw-sm(3px);
      }
    }
  }
}

.global-EditBtn {
  @include btnEvents();
  background: var(--white-high);
  // padding: 0.375rem 2rem;
  // line-height: px2vw-xl(60px);
  padding: 10px;
  color: var(--black);
  border-radius: 5px;
  width: 50%;
  text-transform: uppercase;

  @include lg {
    line-height: px2vw-lg(60px);
    padding: 0 px2vw-lg(64px);
  }

  @include md {
    line-height: px2vw-md(60px);
    padding: 0 px2vw-md(64px);
  }

  @include sm {
    line-height: px2vw-sm(60px);
    padding: 0 px2vw-sm(64px);
  }

  .material-icons {
    font-size: px2vw-xl(26px);
    vertical-align: sub;

    @include lg {
      font-size: px2vw-lg(26px);
    }

    @include md {
      font-size: px2vw-md(26px);
    }

    @include sm {
      font-size: px2vw-sm(26px);
    }
  }

  &.is-edit {
    background: var(--white-high);

    &.is-active {
      background: var(--color-primary);
    }
  }

  &.is-admin-cancel {
    background: var(--white-high);
    border-color: var(--color-secondary);
    border-width: 1px;
    border-style: solid;
  }

  &.is-admin-cancel {
    background: var(--white-high);
    border-color: var(--color-secondary);
    border-width: 1px;
    border-style: solid;
  }

  &.is-void {
    background: transparent;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &.is-sm {
    line-height: px2vw-xl(54px);
    padding: 0 px2vw-xl(54px);

    @include lg {
      line-height: px2vw-lg(54px);
      padding: 0 px2vw-lg(54px);
    }

    @include md {
      line-height: px2vw-md(54px);
      padding: 0 px2vw-md(54px);
    }

    @include sm {
      line-height: px2vw-sm(54px);
      padding: 0 px2vw-sm(54px);
    }
  }

  &.is-small {
    line-height: px2vw-xl(30px);
    padding: 0 px2vw-xl(30px);
    font-size: px2vw-xl(16px);

    @include lg {
      line-height: px2vw-lg(30px);
      padding: 0 px2vw-lg(30px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      line-height: px2vw-md(30px);
      padding: 0 px2vw-md(30px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      line-height: px2vw-sm(30px);
      padding: 0 px2vw-sm(30px);
      font-size: px2vw-sm(16px);
    }
  }
}

.btn-player {
  position: relative;
  border-radius: 50%;
  width: px2vw-xl(74px);
  height: px2vw-xl(74px);
  background-color: $--btn-player-background;
  transition: $global-transition;

  &:hover {
    background-color: var(--color-tertiary);
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-top: px2vw-xl(15px) solid transparent;
    border-left: px2vw-xl(25px) solid var(--white-high);
    border-bottom: px2vw-xl(15px) solid transparent;
  }
}

.btn-triangle {
  position: relative;
  padding: px2vw-xl(7px);
  font-size: px2vw-xl(16px);
  white-space: nowrap;
  transition: none;

  @include lg {
    padding: px2vw-lg(7px);
    font-size: px2vw-lg(16px);
  }

  @include md {
    padding: px2vw-md(7px);
    font-size: px2vw-md(16px);
  }

  @include sm {
    padding: px2vw-sm(7px);
    font-size: px2vw-sm(16px);
  }

  &.active {
    background-color: #fc4500 !important;
    border-color: #fc4500 !important;
    color: #fff !important;
  }

  &:hover,
  &.active {
    &.left::after,
    &.right::before {
      background-color: var(--color-tertiary);
    }
  }

  &.left::after,
  &.right::before {
    position: absolute;
    content: "";
    top: -1px;
    bottom: -1px;
    width: 12px;
    background-color: transparent;
    border: px2vw-xl(1px) solid var(--color-tertiary);
    transform: skew(-15deg, 0deg);
    @include lg {
      width: px2vw-lg(12px);
    }

    @include md {
      width: px2vw-md(12px);
    }

    @include sm {
      width: px2vw-sm(12px);
    }
  }

  &.left {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;

    &::after {
      right: -5px;
      border-left: none;
    }
  }

  &.right {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;

    &::before {
      left: -6px;
      bottom: -1px;
      border-right: none;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: var(--color-tertiary);
    }
  }
}

%button-primary,
.button-primary {
  @extend %button-label;
  box-shadow: 0 px 4px rgba(0, 0, 0, 0.25);
  padding: 11px 15px;
  background-color: var(--color-primary);
  transition: $global-transition2;
  color: var(--black);
  cursor: pointer;
  white-space: nowrap;

  @include xl {
    box-shadow: 0 px2vw-xl(4px) px2vw-xl(4px) rgba(0, 0, 0, 0.25);
    padding: px2vw-xl(11px) px2vw-xl(15px);
  }

  @include lg {
    box-shadow: 0 px2vw-lg(4px) px2vw-lg(4px) rgba(0, 0, 0, 0.25);
    padding: px2vw-lg(11px) px2vw-lg(15px);
  }

  @include md {
    box-shadow: 0 px2vw-md(4px) px2vw-md(4px) rgba(0, 0, 0, 0.25);
    padding: px2vw-md(11px) px2vw-md(15px);
  }

  @include sm {
    box-shadow: 0 px2vw-sm(4px) px2vw-sm(4px) rgba(0, 0, 0, 0.25);
    padding: px2vw-sm(11px) px2vw-sm(15px);
  }

  &:hover {
    background-color: var(--color-secondary);
  }

  &:disabled {
    background-color: var(--white-disabled);
    color: var(--white-disabled);
    cursor: default;
  }
}

%button-secondary,
.button-secondary {
  @extend %u-dfCenter;
  @extend %button-label;
  border: 2px solid var(--white-smoke);
  padding: 9px 15px;
  background-color: transparent;
  transition: $global-transition2;
  color: var(--white);
  cursor: pointer;
  white-space: nowrap;

  @include xl {
    border-width: px2vw-xl(2px);
    padding: px2vw-xl(9px) px2vw-xl(15px);
  }

  @include lg {
    border-width: px2vw-lg(2px);
    padding: px2vw-lg(9px) px2vw-lg(15px);
  }

  @include md {
    border-width: px2vw-md(2px);
    padding: px2vw-md(9px) px2vw-md(15px);
  }

  @include sm {
    border-width: px2vw-sm(2px);
    padding: px2vw-sm(9px) px2vw-sm(15px);
  }

  &:hover {
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: var(--black);
  }
}

%button-icon-primary,
.button-icon-primary {
  @extend %u-dfCenter;
  border: 2px solid var(--color-primary);
  padding: 9px 15px;
  background-color: var(--color-primary);
  transition: $global-transition2;

  @include xl {
    border-width: px2vw-xl(2px);
    padding: px2vw-xl(9px) px2vw-xl(15px);
  }

  @include lg {
    border-width: px2vw-lg(2px);
    padding: px2vw-lg(9px) px2vw-lg(15px);
  }

  @include md {
    border-width: px2vw-md(2px);
    padding: px2vw-md(9px) px2vw-md(15px);
  }

  @include sm {
    border-width: px2vw-sm(2px);
    padding: px2vw-sm(9px) px2vw-sm(15px);
  }

  mat-icon {
    @extend %u-dfCenterCenter;
    margin-right: 10px;
    height: 16px;
    width: 16px;
    font-size: 16px;
    color: var(--black);
    transition: inherit;

    @include xl {
      margin-right: px2vw-xl(10px);
      height: px2vw-xl(16px);
      width: px2vw-xl(16px);
      font-size: px2vw-xl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(10px);
      height: px2vw-lg(16px);
      width: px2vw-lg(16px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-mdlg(10px);
      height: px2vw-md(16px);
      width: px2vw-md(16px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
      height: px2vw-sm(16px);
      width: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
    }
  }

  span {
    @extend %button-label;
    color: var(--black);
    text-transform: uppercase;
    transition: inherit;
  }

  &:hover {
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
  }
}

%button-icon-secondary,
.button-icon-secondary {
  @extend %u-dfCenter;
  border: 2px solid var(--white-smoke);
  padding: 9px 15px;
  background-color: transparent;
  transition: $global-transition2;

  @include xl {
    border-width: px2vw-xl(2px);
    padding: px2vw-xl(9px) px2vw-xl(15px);
  }

  @include lg {
    border-width: px2vw-lg(2px);
    padding: px2vw-lg(9px) px2vw-lg(15px);
  }

  @include md {
    border-width: px2vw-md(2px);
    padding: px2vw-md(9px) px2vw-md(15px);
  }

  @include sm {
    border-width: px2vw-sm(2px);
    padding: px2vw-sm(9px) px2vw-sm(15px);
  }

  mat-icon {
    @extend %u-dfCenterCenter;
    margin-right: 10px;
    height: 16px;
    width: 16px;
    font-size: 16px;
    color: var(--white);
    transition: inherit;

    @include xl {
      margin-right: px2vw-xl(10px);
      height: px2vw-xl(16px);
      width: px2vw-xl(16px);
      font-size: px2vw-xl(16px);
    }

    @include lg {
      margin-right: px2vw-lg(10px);
      height: px2vw-lg(16px);
      width: px2vw-lg(16px);
      font-size: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-mdlg(10px);
      height: px2vw-md(16px);
      width: px2vw-md(16px);
      font-size: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(10px);
      height: px2vw-sm(16px);
      width: px2vw-sm(16px);
      font-size: px2vw-sm(16px);
    }
  }

  span {
    @extend %button-label;
    color: var(--white);
    text-transform: uppercase;
    transition: inherit;
  }

  &:hover {
    border-color: var(--color-primary);
    background-color: var(--color-primary);

    mat-icon,
    span {
      color: var(--black);
    }
  }
}

%global-link,
.global-link {
  @extend %button-label;
  background-color: transparent;
  color: var(--color-secondary);
  text-transform: uppercase;
  transition: $global-transition;
  white-space: nowrap;

  &:hover {
    color: var(--white);
  }
}

%global-link-right,
.global-link-right {
  @extend %global-link;
  position: relative;
  padding-right: 20px;

  @include xl {
    padding-right: px2vw-xl(20px);
  }

  @include lg {
    padding-right: px2vw-lg(20px);
  }

  @include md {
    padding-right: px2vw-md(20px);
  }

  @include sm {
    padding-right: px2vw-sm(20px);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 11px;
    width: 11px;
    background-image: url(/assets/icons/arrows/arrow-link.svg);
    transform: translateY(-50%);

    @include xl {
      height: px2vw-xl(11px);
      width: px2vw-xl(11px);
    }

    @include lg {
      height: px2vw-lg(11px);
      width: px2vw-lg(11px);
    }

    @include md {
      height: px2vw-md(11px);
      width: px2vw-md(11px);
    }

    @include sm {
      height: px2vw-sm(11px);
      width: px2vw-sm(11px);
    }
  }

  &:hover::before {
    background-image: url(/assets/icons/arrows/arrow-link-white.svg);
    transition: $global-transition;
  }
}

.global-modal-close {
  @extend %u-dfCenterCenter;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  background-color: var(--color-tertiary);

  @include xl {
    border-radius: px2vw-xl(2px);
    width: px2vw-xl(30px);
    height: px2vw-xl(30px);
  }

  @include lg {
    border-radius: px2vw-lg(2px);
    width: px2vw-lg(30px);
    height: px2vw-lg(30px);
  }

  @include md {
    border-radius: px2vw-md(2px);
    width: px2vw-md(30px);
    height: px2vw-md(30px);
  }

  @include sm {
    border-radius: px2vw-sm(2px);
    width: px2vw-sm(30px);
    height: px2vw-sm(30px);
  }

  mat-icon {
    height: auto;
    width: auto;
    font-size: 24px;
    color: var(--white);

    @include xl {
      font-size: px2vw-xl(24px);
    }

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }
}
