%HeaderInfo-Top,
.HeaderInfo-Top {
  .u-wp {
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 75px;

    @include xl {
      padding-top: px2vw-xl(160px);
      padding-bottom: px2vw-xl(75px);
    }

    @include lg {
      padding-top: px2vw-lg(160px);
      padding-bottom: px2vw-lg(75px);
    }

    @include md {
      padding-top: px2vw-md(140px);
      padding-bottom: px2vw-md(75px);
    }

    @include sm {
      padding-top: px2vw-sm(140px);
      padding-bottom: px2vw-sm(75px);
    }
  }

  &.small {
    .u-wp {
      padding-top: 160px;

      @include xl {
        padding-top: px2vw-xl(160px);
      }

      @include lg {
        padding-top: px2vw-lg(160px);
      }

      @include md {
        padding-top: px2vw-md(120px);
      }

      @include sm {
        padding-top: px2vw-sm(120px);
      }
    }
  }
}