.global-Tabs {
  @extend %u-dfCenter;
  flex-wrap: wrap;

  button {
    @extend %subtitle-2;
    border: 1px solid var(--color-primary);
    padding: 9px;
    transition: $global-transition;
    background-color: transparent;
    color: var(--color-primary);

    @include xl {
      border-width: px2vw-xl(1px);
      padding: px2vw-xl(9px);
    }

    @include lg {
      border-width: px2vw-lg(1px);
      padding: px2vw-lg(9px);
    }

    @include md {
      border-width: px2vw-md(1px);
      padding: px2vw-md(9px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      padding: px2vw-sm(9px);
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      @include xl {
        border-top-left-radius: px2vw-xl(4px);
        border-bottom-left-radius: px2vw-xl(4px);
      }

      @include lg {
        border-top-left-radius: px2vw-lg(4px);
        border-bottom-left-radius: px2vw-lg(4px);
      }

      @include md {
        border-top-left-radius: px2vw-md(4px);
        border-bottom-left-radius: px2vw-md(4px);
      }

      @include sm {
        border-top-left-radius: px2vw-sm(4px);
        border-bottom-left-radius: px2vw-sm(4px);
      }
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      @include xl {
        border-top-right-radius: px2vw-xl(4px);
        border-bottom-right-radius: px2vw-xl(4px);
      }

      @include lg {
        border-top-right-radius: px2vw-lg(4px);
        border-bottom-right-radius: px2vw-lg(4px);
      }

      @include md {
        border-top-right-radius: px2vw-md(4px);
        border-bottom-right-radius: px2vw-md(4px);
      }

      @include sm {
        border-top-right-radius: px2vw-sm(4px);
        border-bottom-right-radius: px2vw-sm(4px);
      }
    }

    &:not(:last-child) {
      border-right: 0;
    }

    &.is-active {
      background-color: var(--color-primary);
      color: var(--black);
    }
  }
}
