@import "shared";

:host {
  display: block;
}

.Comment {
  @extend %u-dfStart;

  &-image {
    flex-shrink: 0;
    margin-right: 16px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;

    @include xl {
      margin-right: px2vw-xl(16px);
      height: px2vw-xl(40px);
      width: px2vw-xl(40px);
    }

    @include lg {
      margin-right: px2vw-lg(16px);
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }

    @include md {
      margin-right: px2vw-md(16px);
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
    }
  }

  &-content {
    width: 100%;
  }

  &-field {
    @extend %body-1;
    border: 1px solid var(--white-light);
    height: 132px;
    width: 100%;
    padding: 16px;
    background: var(--gradient-bg);
    color: var(--white);
    resize: none;

    @include xl {
      border-width: px2vw-xl(1px);
      height: px2vw-xl(132px);
      padding: px2vw-xl(16px);
    }

    @include lg {
      border-width: px2vw-lg(1px);
      height: px2vw-lg(132px);
      padding: px2vw-lg(16px);
    }

    @include md {
      border-width: px2vw-md(1px);
      height: px2vw-md(132px);
      padding: px2vw-md(16px);
    }

    @include sm {
      border-width: px2vw-sm(1px);
      height: px2vw-sm(132px);
      padding: px2vw-sm(16px);
    }

    &::placeholder {
      color: va(--white-medium);
    }

    &.isReplying {
      height: 88px;

      @include xl {
        height: px2vw-xl(88px);
      }

      @include lg {
        height: px2vw-lg(88px);
      }

      @include md {
        height: px2vw-md(88px);
      }

      @include sm {
        height: px2vw-sm(88px);
      }
    }
  }

  &-buttons {
    @extend %u-dfCenter;
    margin-top: 16px;

    @include xl {
      margin-top: px2vw-xl(16px);
    }

    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }

  &-button {
    margin-left: 8px;

    @include xl {
      margin-left: px2vw-xl(8px);
    }

    @include lg {
      margin-left: px2vw-lg(8px);
    }

    @include md {
      margin-left: px2vw-md(8px);
    }

    @include sm {
      margin-left: px2vw-sm(8px);
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
