<div
  class="InputText"
  [ngClass]="{ basic: isBasic }"
  [formGroup]="customFormGroup"
>
  <h3
    class="InputText-title title"
    [ngClass]="{ 'global-Text': isBasic, 'global-Title3': !isBasic }"
  >
    {{ title }}
  </h3>

  <div class="InputText-block block u-dfCenterStart">
    <!-- <input
      [formControlName]="customFormControlName"
      class="InputText-input input"
      type="text"
      [ngClass]="{ 'global-Text': isBasic, 'global-Title2': !isBasic }"
      [placeholder]="placeholder"
      [value]="value"
      [owlDateTime]="startDateTrigger"
      [owlDateTimeTrigger]="startDateTrigger"
    />

    <mat-icon [owlDateTimeTrigger]="startDateTrigger" class="InputText-icon"
      >calendar_today</mat-icon
    >
    <owl-date-time [pickerType]="'both'" #startDateTrigger></owl-date-time> -->

      <input matInput [ngxMatDatetimePicker]="picker" [placeholder]="placeholder" [formControlName]="customFormControlName"
        class="InputText-input input"
        [ngClass]="{ 'global-Text': isBasic, 'global-Title2': !isBasic }"
        [min]="minDate" 
        [readonly]="true"
        [ngClass]="{ 'global-Text': isBasic, 'global-Title2': !isBasic }"
        >
     <mat-datepicker-toggle matSuffix [for]="picker"
      ></mat-datepicker-toggle>
     <ngx-mat-datetime-picker #picker
     [showSpinners]="true" [showSeconds]="false" [enableMeridian]="true" >
     <ng-template>
      <span>OK</span>
    </ng-template>
     </ngx-mat-datetime-picker>
  </div>
</div>
