<div clas="CommentsInfluence">
  <div *ngIf="comments.length">
    <ng-container *ngFor="let item of comments">
      <div class="CommentsInfluence-item main">
        <div class="CommentsInfluence-item-top">
          <div
            class="CommentsInfluence-item-image"
            [lazyLoad]="item.user.profilePicture"
          ></div>

          <header class="CommentsInfluence-item-header main">
            <div class="CommentsInfluence-item-header-author">
              <h4 class="CommentsInfluence-item-header-name">
                {{ item.user.fullName }}
              </h4>

              <p class="CommentsInfluence-item-header-date">
                {{ item?.modifiedOn | amTimeAgo }}
              </p>
            </div>

            <button
              class="CommentsInfluence-item-header-button"
              [matMenuTriggerFor]="menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu
              class="global-MatMenu comments"
              #menu="matMenu"
              xPosition="before"
            >
              <button mat-menu-item>
                <mat-icon>chat_bubble_outline</mat-icon>
                <span>Chat</span>
              </button>

              <button mat-menu-item>
                <mat-icon>person_add</mat-icon>
                <span>Follow</span>
              </button>
            </mat-menu>
          </header>
        </div>
        <div class="CommentsInfluence-item-post">
          
          <div class="CommentsInfluence-item-post-info">
            <h3 class="CommentsInfluence-item-post-title global-Elipses">
              {{ item.comment }}
            </h3>
          </div>
        </div>
        <div class="CommentsInfluence-item-post" *ngIf="item.post">
          <div
            class="CommentsInfluence-item-post-image"
            [lazyLoad]="item.post.image"
          ></div>

          <div class="CommentsInfluence-item-post-info">
            <h3 class="CommentsInfluence-item-post-title global-Elipses">
              {{ item.post.title }}
            </h3>

            <p class="CommentsInfluence-item-post-message">
              {{ item.post.text }}
            </p>

            <div class="CommentsInfluence-item-controls main">
              <!-- Like -->
              <div class="CommentsInfluence-item-control">
                <mat-icon
                  class="CommentsInfluence-item-control-icon like"
                  [class.is-active]="item.type === 1"
                >
                  {{ item?.type === 1 ? "favorite" : "favorite_border" }}
                </mat-icon>

                <span class="CommentsInfluence-item-control-value">
                  {{ item?.totalLikes }}
                </span>
              </div>

              <!-- Comments -->
              <div class="CommentsInfluence-item-control">
                <mat-icon class="CommentsInfluence-item-control-icon">
                  chat_bubble_outline
                </mat-icon>
                <span class="CommentsInfluence-item-control-value">
                  {{ item?.totalReplies }}
                </span>
              </div>

              <!-- Replies -->
              <div class="CommentsInfluence-item-control">
                <button
                  class="CommentsInfluence-item-control-reply"
                  (click)="currentUser && (item.openReply = !item?.openReply)"
                >
                  {{ "BUTTON.REPLY" | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ul class="CommentsInfluence-list" *ngIf="item.replies?.length">
        <ng-template #recursiveList let-item>
          <ng-container *ngFor="let comment of item.replies">
            <li
              class="CommentsInfluence-item"
              [class.isReplies]="comment.replies"
            >
              <div
                class="CommentsInfluence-item-image"
                [lazyLoad]="comment.user.profilePicture"
              ></div>

              <div class="CommentsInfluence-item-content">
                <header class="CommentsInfluence-item-header">
                  <div class="CommentsInfluence-item-header-author">
                    <h4 class="CommentsInfluence-item-header-name">
                      {{ comment.user.fullName }}
                    </h4>

                    <p class="CommentsInfluence-item-header-date">
                      {{ comment?.modifiedOn | amTimeAgo }}
                    </p>
                  </div>

                  <button
                    class="CommentsInfluence-item-header-button"
                    [matMenuTriggerFor]="menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>

                  <mat-menu
                    class="global-MatMenu comments"
                    #menu="matMenu"
                    xPosition="before"
                  >
                    <button mat-menu-item>
                      <mat-icon>chat_bubble_outline</mat-icon>
                      <span>Chat</span>
                    </button>

                    <button mat-menu-item>
                      <mat-icon>person_add</mat-icon>
                      <span>Follow</span>
                    </button>
                  </mat-menu>
                </header>

                <div class="CommentsInfluence-item-block">
                  <p class="CommentsInfluence-item-message">
                    {{ comment.comment }}
                  </p>

                  <div class="CommentsInfluence-item-controls">
                    <!-- Like -->
                    <div class="CommentsInfluence-item-control">
                      <mat-icon
                        class="CommentsInfluence-item-control-icon like"
                        [class.is-active]="comment.type === 1"
                      >
                        {{
                          comment?.type === 1 ? "favorite" : "favorite_border"
                        }}
                      </mat-icon>

                      <span class="CommentsInfluence-item-control-value">
                        {{ comment?.totalLikes }}
                      </span>
                    </div>

                    <!-- Comments -->
                    <div class="CommentsInfluence-item-control">
                      <mat-icon class="CommentsInfluence-item-control-icon">
                        chat_bubble_outline
                      </mat-icon>
                      <span class="CommentsInfluence-item-control-value">
                        {{ comment?.totalReplies }}
                      </span>
                    </div>

                    <!-- Replies -->
                    <div class="CommentsInfluence-item-control">
                      <button
                        class="CommentsInfluence-item-control-reply"
                        (click)="
                          currentUser &&
                            (comment.openReply = !comment?.openReply)
                        "
                      >
                        {{ "BUTTON.REPLY" | translate }}
                      </button>
                    </div>
                  </div>
                </div>

                <div *ngIf="comment.replies?.length">
                  <ng-container
                    *ngTemplateOutlet="
                      recursiveList;
                      context: { $implicit: comment.replies }
                    "
                  ></ng-container>
                </div>

                <!-- REPLY COMMENT -->
                <div
                  class="CommentsInfluence-comment-reply"
                  *ngIf="comment.openReply"
                >
                  <app-comment [isReplying]="true"></app-comment>
                </div>
              </div>
            </li>
          </ng-container>
        </ng-template>

        <ng-container
          *ngTemplateOutlet="recursiveList; context: { $implicit: item }"
        ></ng-container>
      </ul>

      <!-- REPLY MAIN COMMENT -->
      <div class="CommentsInfluence-comment-reply" *ngIf="item.openReply">
        <app-comment [isReplying]="true"></app-comment>
      </div>
    </ng-container>
  </div>

  <button class="CommentsInfluence-button-more" *ngIf="comments.length">
    {{ "BUTTON.LOAD_MORE" | translate }}
  </button>

  <div class="CommentsInfluence-please-login" *ngIf="false">
    <app-need-login></app-need-login>
  </div>
</div>
