@import "shared";

:host {
  display: block;
}

.LBPlayer-preview {
  background-size: cover;
  background-position: center;

  &-container {
    padding: px2vw-xl(32px) 0;
    min-height: px2vw-xl(308px);

    @include lg {
      padding: px2vw-lg(32px) 0;
      min-height: px2vw-lg(308px);
    }

    @include md {
      padding: px2vw-md(32px) 0;
      min-height: px2vw-md(308px);
    }

    @include sm {
      padding: px2vw-sm(32px) 0;
      min-height: px2vw-sm(308px);
    }
  }
}

.LBPlayer-main {
  padding: px2vw-xl(74px) px2vw-xl(110px);

  @include lg {
    padding: px2vw-lg(74px) px2vw-lg(110px);
  }

  @include md {
    padding: px2vw-md(74px) px2vw-md(110px);
  }

  @include sm {
    padding: px2vw-sm(74px) px2vw-sm(110px);
  }
}

.LBPlayer-about {
  @extend %u-dfEnd;

  &-image-block {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(24px);
    border-radius: 50%;
    height: px2vw-xl(180px);
    width: px2vw-xl(180px);
    background: var(--user-photo-bg);

    @include lg {
      margin-right: px2vw-lg(24px);
      height: px2vw-lg(180px);
      width: px2vw-lg(180px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      height: px2vw-md(180px);
      width: px2vw-md(180px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      height: px2vw-sm(180px);
      width: px2vw-sm(180px);
    }
  }

  &-image {
    border-radius: inherit;
    height: px2vw-xl(162px);
    width: px2vw-xl(162px);
    background-size: cover;
    background-position: center center;
    background-color: var(--black);

    @include lg {
      height: px2vw-lg(162px);
      width: px2vw-lg(162px);
    }

    @include md {
      height: px2vw-md(162px);
      width: px2vw-md(162px);
    }

    @include sm {
      height: px2vw-sm(162px);
      width: px2vw-sm(162px);
    }
  }

  &-info {
    margin-right: px2vw-xl(24px);
    max-width: px2vw-xl(425px);

    @include lg {
      margin-right: px2vw-lg(24px);
      max-width: px2vw-lg(425px);
    }

    @include md {
      margin-right: px2vw-md(24px);
      max-width: px2vw-md(425px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
      max-width: px2vw-sm(425px);
    }
  }

  &-name {
    @extend %global-H4;
    margin-bottom: px2vw-xl(6px);

    @include lg {
      margin-bottom: px2vw-lg(6px);
    }

    @include md {
      margin-bottom: px2vw-md(6px);
    }

    @include sm {
      margin-bottom: px2vw-sm(6px);
    }
  }

  &-location {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(12px);

    @include lg {
      margin-bottom: px2vw-lg(12px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-location-icon {
    margin-right: px2vw-xl(8px);
    font-size: px2vw-xl(24px);
    height: auto;
    width: auto;
    color: var(--color-primary);

    @include lg {
      margin-right: px2vw-lg(8px);
      font-size: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      font-size: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      font-size: px2vw-sm(24px);
    }
  }

  &-location-from {
    @extend %u-dfCenter;
    margin-bottom: 0;

    span {
      @extend %body-1;
    }
  }

  &-description {
    @extend %body-1;
    margin-bottom: px2vw-xl(12px);
    height: px2vw-xl(48px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(12px);
      height: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
      height: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
      height: px2vw-sm(48px);
    }
  }

  &-buttons {
    @extend %u-dfCenter;
  }

  &-button {
    margin-right: px2vw-xl(12px);

    @include lg {
      margin-right: px2vw-lg(12px);
    }

    @include md {
      margin-right: px2vw-md(12px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
    }
  }

  &-stats {
    position: relative;
    margin-left: auto;
  }

  &-stats-list {
    @extend %u-dfCenter;
  }

  &-stats-item {
    text-align: center;
    padding: 0 px2vw-xl(24px);

    @include lg {
      padding: 0 px2vw-lg(24px);
    }

    @include md {
      padding: 0 px2vw-md(24px);
    }

    @include sm {
      padding: 0 px2vw-sm(24px);
    }

    &:first-child {
      border-right: px2vw-xl(1px) solid var(--white-smoke);
      padding-left: 0;

      @include lg {
        border-right-width: px2vw-lg(1px);
      }

      @include md {
        border-right-width: px2vw-md(1px);
      }

      @include sm {
        border-right-width: px2vw-sm(1px);
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &-stats-value {
    @extend %global-H5;
    margin-bottom: px2vw-xl(4px);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-stats-title {
    @extend %body-1;
    margin-bottom: 0;
  }

  &-stats-image {
    position: absolute;
    bottom: 100%;
    right: 80%;
    height: px2vw-xl(74px);
    width: px2vw-xl(151px);

    @include lg {
      height: px2vw-lg(74px);
      width: px2vw-lg(151px);
    }

    @include md {
      height: px2vw-md(74px);
      width: px2vw-md(151px);
    }

    @include sm {
      height: px2vw-sm(74px);
      width: px2vw-sm(151px);
    }
  }
}

.LBPlayer-cards {
  margin-top: px2vw-xl(48px);

  @include lg {
    margin-top: px2vw-lg(48px);
  }

  @include md {
    margin-top: px2vw-md(48px);
  }

  @include sm {
    margin-top: px2vw-sm(48px);
  }
}

.LBPlayer-prizes {
  position: relative;
  margin-top: px2vw-xl(104px);

  @include lg {
    margin-top: px2vw-lg(104px);
  }

  @include md {
    margin-top: px2vw-md(104px);
  }

  @include sm {
    margin-top: px2vw-sm(104px);
  }

  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-image {
    position: absolute;
    bottom: 102%;
    left: px2vw-xl(35px);
    height: px2vw-xl(57px);
    width: px2vw-xl(156px);

    @include lg {
      left: px2vw-lg(35px);
      height: px2vw-lg(57px);
      width: px2vw-lg(156px);
    }

    @include md {
      left: px2vw-md(35px);
      height: px2vw-md(57px);
      width: px2vw-md(156px);
    }

    @include sm {
      left: px2vw-sm(35px);
      height: px2vw-sm(57px);
      width: px2vw-sm(156px);
    }
  }
}

.LBPlayer-statistic {
  margin-top: px2vw-xl(72px);

  @include lg {
    margin-top: px2vw-lg(72px);
  }

  @include md {
    margin-top: px2vw-md(72px);
  }

  @include sm {
    margin-top: px2vw-sm(72px);
  }
}

.LBPlayer-games {
  margin-top: px2vw-xl(72px);

  @include lg {
    margin-top: px2vw-lg(72px);
  }

  @include md {
    margin-top: px2vw-md(72px);
  }

  @include sm {
    margin-top: px2vw-sm(72px);
  }

  &-heading {
    @extend %body-1;
    margin-bottom: px2vw-xl(16px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }
}
