<div class="UploadImage" [formGroup]="customFormGroup">
  <img
    class="UploadImage-icon"
    src="assets/icons/create-team/picture.svg"
    alt="picture"
  />
  <h2 class="UploadImage-title global-Title2">
    {{ title }}
  </h2>
  <h3 class="UploadImage-subtitle global-Text">
    <span class="UploadImage-subtitle-text">
      {{ subtitle }}
    </span>
  </h3>

  <label class="UploadImage-label" [for]="id">
    <img
      class="UploadImage-label-preview"
      *ngIf="(customFormGroup?.controls)[customFormControlName]?.value"
      [src]="(customFormGroup?.controls)[customFormControlName]?.value"
      formationLazyImage
    />

    <ng-container
      *ngIf="
        !isProcessing &&
        !(customFormGroup?.controls)[customFormControlName]?.value
      "
    >
      <div class="UploadImage-info">
        <img
          class="UploadImage-info-image"
          src="assets/icons/upload-image.svg"
          alt="upload icon"
        />
        <h3 class="UploadImage-info-title global-Title3">
          {{ "UPLOAD_IMAGE.TITLE" | translate }}
        </h3>
        <p class="UploadImage-info-text global-Text2">
          {{ "UPLOAD_IMAGE.SUBTITLE" | translate }}
        </p>
      </div>
    </ng-container>
  </label>

  <input
    (change)="eventChange($event)"
    style="display: none;"
    [id]="id"
    #banner
    type="file"
    accept="image/jpeg, image/jpg, image/png"
    aria-describedby="inputGroupFileAddon01"
  />
</div>

<div
  *ngIf="
    (customFormGroup?.controls)[customFormControlName]?.touched &&
    (customFormGroup?.controls)[customFormControlName].errors
  "
>
  {{
    (customFormGroup?.controls)[customFormControlName].errors
      | errorPipe
      | translate
  }}
</div>
