@import "shared";

:host {
  display: block;
}

.SearchVideo {
  padding: px2vw-xl(56px) 0 px2vw-xl(113px);

  @include lg {
    padding: px2vw-lg(50px) 0;
  }

  @include md {
    padding: px2vw-md(50px) 0;
  }

  @include sm {
    padding: px2vw-sm(50px) 0;
  }

  &-title {
    margin-bottom: px2vw-xl(55px);

    @include lg {
      margin-bottom: px2vw-lg(55px);
    }

    @include md {
      margin-bottom: px2vw-md(55px);
    }

    @include sm {
      margin-bottom: px2vw-sm(55px);
    }
  }

  &-item {
    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }
}
