@import "shared";

:host {
  display: block;
}

.SelectGame {
  background-color: var(--purple-bg);
  position: relative;
  padding: 80px 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  background-image: url("../../../../../../assets/images/Tournament/create/quick.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    padding: 70px 0 0 0;
  }

  @include md {
    padding: 64px 0 0 0;
  }

  &-container {
    flex-direction: column;
    max-width: 1304px;
    padding-top: 87px;
    padding-bottom: 164px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;

    @include lg {
      padding-top: 70px;
    }

    @include md {
      padding-top: 60px;
    }

    @include sm {
      padding-top: 57px;
    }
  }

  &-title {
    text-transform: none;
    margin-bottom: 30px;
    color: var(--base-white);
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    @include sm {
      margin-bottom: 16px;
    }
  }

  &-subtitle {
    margin-bottom: 16px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--base-white);
    display: none;
  }

  &-list {
    overflow-y: auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6 - 20px));
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 100%;

    @include lg {
      grid-template-columns: repeat(5, calc(100% / 5 - 16px));
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }

    @include md {
      grid-template-columns: repeat(4, calc(100% / 4 - 12px));
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }

    @include sm {
      grid-template-columns: repeat(2, calc(100% / 2 - 8px));
    }

    .icon {
      display: none;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: var(--white);
      opacity: 0;
      z-index: 9;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-item,
  &-item-image,
  &-item-name {
    transition: 150ms linear;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .SelectGame-card-image-block.image-block {
      width: 100%;
      border-radius: 20px;
      height: 188px;
      width: 188px;
      overflow: hidden;
      .SelectGame-card-image {
        width: 100%;
        max-width: 100%;
        position: relative;
        height: 245px;
        overflow: hidden;
        border-radius: 20px;
        border: 3px solid transparent;
        @include md {
          height: 220px;
        }

        @include sm {
          height: 206px;
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #782bcb83;
          z-index: 9;
          transform: translateY(101%);
          transition: all 100ms linear;
          opacity: 0;
        }
        img {
          position: absolute;
          width: 100%;
          height: 78%;
          top: 0;
          left: 0;
          object-fit: cover;
          border: none;
          border-radius: 0;
        }
      }
    }
    &:hover {
      .name {
        color: var(--orange-bar);
      }
    }
    &.is-active {
      .SelectGame-card-image-block.image-block {
        .SelectGame-card-image {
          .icon {
            display: inline-flex;
          }
          &::before {
            content: "";
            opacity: 1;
            transform: translateY(0);
            transition: all 100ms linear;
          }
        }
        .icon {
          opacity: 1;
        }
      }
      .name {
        color: var(--orange-bar);
      }
    }
  }

  &-item-image {
    border: 2px solid transparent;
    border-radius: px2vw-xl(10px);
    object-fit: cover;
    height: px2vw-xl(180px);
    width: 100%;

    @include lg {
      border-radius: px2vw-lg(10px);
      height: px2vw-lg(180px);
    }

    @include md {
      border-radius: px2vw-md(10px);
      height: px2vw-md(208px);
    }

    @include sm {
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(240px);
    }
  }

  &-item-name {
    margin-top: px2vw-xl(8px);
    margin-bottom: 0;
    color: var(--base-white);
    text-align: center;
    text-transform: capitalize;
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    @include md {
      font-size: 16px;
      line-height: 24px;
    }
  }

  app-page-switcher {
    margin-top: auto;
  }

  &-search {
    margin-bottom: 48px;
    width: 100%;
    max-width: 642px;
    background: var(--purple-4);
    border-radius: 8px;
    @include sm {
      max-width: 100%;
      margin-bottom: 36px;
    }
    &-label {
      font-family: "stc-forward-regular";
      font-style: 400;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: var(--color-white-medium);
      margin-bottom: 16px;
    }
  }
}
