<button
  mat-dialog-close
  mat-icon-button
  class="mesf-Dialog-close"
  (click)="onClose()"
>
  <span class="material-icons">clear</span>
</button>

<div class="Team-details">
  <h4 class="Team-details-title global-H4">
    {{ "POPUP.TEAM_DETAILS" | translate }}
  </h4>

  <div class="Team-details-text global-Body-Text">
    <ul class="Team-details-bullet">
      <li>{{ data?.name }} ( {{ data?.inGamerUserId }} )</li>
      <li *ngFor="let m of data?.teamMembers">
        {{ m?.name }} ( {{ m?.inGamerUserId }} )
      </li>
    </ul>
  </div>

  <div class="Team-details-footer">
    <button class="mesf-EditBtn is-small" (click)="onClose()">
      {{ "BUTTON.CLOSE" | translate }}
    </button>
  </div>
</div>
