<div class="NotFound" id="sect1">
  <div class="NotFound-container">
    <div class="NotFound-wrapper">
      <div class="NotFound-inner">
        <div class="NotFound-heading">
          <h2 class="title">{{ "404_ERROR.TITLE" | translate }}</h2>
          <button type="button" class="btn button-default" routerLink="/home">{{ "BUTTON.BACK" | translate }}</button>
        </div>
        <div class="NotFound-content">
          <h4 class="content">{{ "404_ERROR.CONTENT" | translate }}</h4>
        </div>
        <div class="mb-show">
          <button type="button" class="btn button-default" routerLink="/home">{{ "BUTTON.BACK" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="sect1" class="container-flex">
  <div class="row">
    <div class="Spark1">
      <div class="img-page-not-found">
        <img class="four" src="assets/images/404/404.png" />
        <img src="assets/images/404/pgntfd.png" />
        <button class="button button-icon-primary" >
          <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
            data-mat-icon-type="font">arrow_back</mat-icon>
          <span> {{ "ADMIN_NEW.BACK_SPARK" | translate }} </span>
        </button>
      </div>
    </div>
  </div>
</div> -->
<app-footer-spark></app-footer-spark>