@import "shared";

:host {
  display: block;
}

.Overview {
  /* 1440px/Headline 5 */

  font-family: "archivo-black";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  letter-spacing: 0.18px;
  text-transform: uppercase;

  /* Custom/Colour/White */

  color: #ffffff;

  mix-blend-mode: normal;

  &-header {
    margin-bottom: px2vw-xl(24px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-header-title {
    @extend %global-H3;
    margin-bottom: px2vw-xl(16px);
    font-size: 24px;

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }
}

.tree {
  overflow-x: scroll;
}


