@import "shared";

:host {
  @extend %u-dfStretch;
  // padding-top: 7px;
  // padding-bottom: px2vw-xl(10px);
  min-height: 40vw;
  height: 100%;

  @include lg {
    // height: px2vw-lg(658px);
    // padding-top: px2vw-lg(24px);
    // padding-bottom: px2vw-lg(10px);
  }

  @include md {
    // height: px2vw-md(658px);
    // padding-top: px2vw-md(24px);
    // padding-bottom: px2vw-md(10px);
  }

  @include sm {
    // height: px2vw-sm(658px);
    // padding-top: px2vw-sm(24px);
    // padding-bottom: px2vw-sm(10px);
  }
}

// .SelectPlatform-aside {
//   flex-shrink: 0;
//   margin-right: px2vw-xl(15px);

//   @include lg {
//     margin-right: px2vw-lg(15px);
//   }

//   @include md {
//     margin-right: px2vw-md(15px);
//   }

//   @include sm {
//     margin-right: px2vw-sm(15px);
//   }

//   &-icon-block {
//     @extend %u-dfCenterCenter;
//     height: px2vw-xl(56px);
//     width: px2vw-xl(97px);

//     @include lg {
//       height: px2vw-lg(56px);
//       width: px2vw-lg(97px);
//     }

//     @include md {
//       height: px2vw-md(56px);
//       width: px2vw-md(97px);
//     }

//     @include sm {
//       height: px2vw-sm(56px);
//       width: px2vw-sm(97px);
//     }
//   }

//   &-icon {
//     height: px2vw-xl(32px);
//     width: px2vw-xl(32px);

//     @include lg {
//       height: px2vw-lg(32px);
//       width: px2vw-lg(32px);
//     }

//     @include md {
//       height: px2vw-md(32px);
//       width: px2vw-md(32px);
//     }

//     @include sm {
//       height: px2vw-sm(32px);
//       width: px2vw-sm(32px);
//     }
//   }
// }

// .SelectPlatform-main {
//   @extend %u-dfStart;
//   flex-direction: column;
// }

// .SelectPlatform-header {
//   margin-bottom:   29.5px;;

//   @include lg {
//     margin-bottom: 29.5px;
//   }

//   @include md {
//     margin-bottom: px2vw-md(30px);
//   }

//   @include sm {
//     margin-bottom: px2vw-sm(30px);
//   }

//   &-title {
//     @extend %global-H4;
//     margin-bottom: px2vw-xl(16px);
//     color: var(--white);
//     margin-bottom: 49px;
//     text-transform: capitalize;
//     font-size: 32px;
//     font-weight: 600;
//     font-family: 'Avenir Next';

//     @include lg {
//       margin-bottom: px2vw-lg(16px);
//       font-size: 32px;
//       margin-bottom: 52px;
//     }

//     @include md {
//       margin-bottom: px2vw-md(16px);
//       font-size: px2vw-md(32px);
//       margin-bottom: px2vw-md(48px);
//     }

//     @include sm {
//       margin-bottom: px2vw-sm(16px);
//       font-size: px2vw-sm(32px);
//       margin-bottom: px2vw-sm(48px);
//     }
//   }

//   &-subtitle {
//     @extend %subtitle-1;
//     margin-bottom: 0;
//     font-family: 'Avenir Next';
//     font-size: 23px;
//   }
//   &-descrip {
//     font-size: 50px;
//     font-weight: 600;
//     line-height: 58px;
//     margin-bottom: 25px;
//     font-family: 'Avenir Next';
//   }
//   &-descrip .content-bg-w{
//     margin-bottom: 0;
//     padding: 0px 14px;
//     background-color: var(--white);
//     color: var(--blackcurrant-color-medium);
//     width: fit-content;
//     font-family: 'Avenir Next';
//   }
//   &-descrip .content-bg-p{
//     background-color: #5A12AA;
//     padding: 1.5px 14px;
//     color: var(--white);
//     width: fit-content;
//     font-family: 'Avenir Next';
//   }
// }

.Header {
  display: none;
}

.SelectPlatform-items {
  margin-bottom: px2vw-xl(32px);
  width: 100%;
  font-family: "Avenir Next";

  @include lg {
    margin-bottom: px2vw-lg(32px);
  }

  @include md {
    margin-bottom: px2vw-md(32px);
  }

  @include sm {
    margin-bottom: px2vw-sm(32px);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-block {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-title {
    @extend %body-1;
    margin-bottom: px2vw-xl(13.212px);
    font-size: px2vw-xl(20px);
    color: var(--white-medium);
    font-family: "Avenir Next";

    @include lg {
      margin-bottom: px2vw-lg(13.212px);
    }

    @include md {
      margin-bottom: px2vw-md(12px);
      font-size: 24px;
      line-height: 32px;
    }

    @include sm {
      margin-bottom: px2vw-sm(12px);
    }
  }

  &-cards {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 189px);
    grid-auto-rows: 128px;
    grid-column-gap: 24px;
    grid-row-gap: 16px;

    @include lg {
    }

    @include md {
      grid-template-columns: repeat(2, 155px);
      grid-auto-rows: 112px;
      grid-column-gap: 17px;
    }

    @include sm {
      margin-bottom: px2vw-sm(31px);
      justify-content: center;
    }
  }

  &-card {
    @extend %u-dfCenter;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--color-black-medium);
    cursor: pointer;
    transition: $global-transition2;
    background-color: var(--blackcurrant-color-medium);
    justify-content: center;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    @include lg {
    }

    @include md {
      padding: px2vw-md(76.8px) 0px;
    }

    @include sm {
      padding: px2vw-sm(96px) 0px;
    }

    
    &.active {     
      background: var(--main-color);
      .card-icon ::ng-deep svg path {
        transition: 200ms linear;
          fill: var(--tolopea-color);
      }

      .card-name {
        color: var(--white);
      }
    }
  }

  &-card-icon-block {
    @extend %u-dfCenterCenter;
    height: auto;
    width: auto;

    @include lg {
    }

    @include md {
    }

    @include sm {
    }
  }

  &-card-icon {
    display: flex;

    ::ng-deep svg path {
      transition: 200ms linear;
      fill: var(--tolopea-color);
    }

    &.pc ::ng-deep svg {
      height: 28px;
      width: 29px;

      @include lg {
        height: 28px;
        width: 29px;
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(52.77px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(52.77px);
      }
    }

    &.console ::ng-deep svg {
      height: 24px;
      width: 32px;

      @include lg {
        height: 24px;
        width: 32px;
      }

      @include md {
        height: px2vw-md(32px);
        width: px2vw-md(45.71px);
      }

      @include sm {
        height: px2vw-sm(32px);
        width: px2vw-sm(45.71px);
      }
    }

    &.mobile ::ng-deep svg {
      // height: 28px;
      // width: 16px;

      @include lg {
        // height: 28px;
        // width: 16px;
      }

      @include md {
        // height: px2vw-md(37px);
        // width: px2vw-md(21px);
      }

      @include sm {
        // height: px2vw-sm(37px);
        // width: px2vw-sm(21px);
      }
    }

    &.individual ::ng-deep svg {
      height: px2vw-xl(35px);
      width: px2vw-xl(31px);

      @include lg {
        height: px2vw-lg(35px);
        width: px2vw-lg(31px);
      }

      @include md {
        height: px2vw-md(35px);
        width: px2vw-md(31px);
      }

      @include sm {
        height: px2vw-sm(35px);
        width: px2vw-sm(31px);
      }
    }

    &.team ::ng-deep svg {
      height: px2vw-xl(35px);
      width: px2vw-xl(63px);

      @include lg {
        height: px2vw-lg(35px);
        width: px2vw-lg(63px);
      }

      @include md {
        height: px2vw-md(35px);
        width: px2vw-md(63px);
      }

      @include sm {
        height: px2vw-sm(35px);
        width: px2vw-sm(63px);
      }
    }
  }

  &-card-name {
    @extend %body-2;
    margin-top: px2vw-xl(8.5px);
    font-size: 16px !important;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 1;
    color: var(--white-medium);
    transition: inherit;
    font-family: "Avenir Next" !important;

    @include lg {
      margin-top: px2vw-lg(10.6px);
    }

    @include md {
      margin-top: px2vw-md(10.6px);
      font-size: 16px;
    }

    @include sm {
      margin-top: px2vw-sm(15px);
      font-size: 14px !important;
      line-height: 20px;
    }
  }
}

// .SelectPlatform-buttons {
//   @extend %u-dfCenter;
//   margin-top: auto;
// }

// .SelectPlatform-button {
//   margin-right: px2vw-xl(8px);

//   @include lg {
//     margin-right: px2vw-lg(8px);
//   }

//   @include md {
//     margin-right: px2vw-md(8px);
//   }

//   @include sm {
//     margin-right: px2vw-sm(8px);
//   }

//   &:last-child {
//     margin-right: 0;
//   }
// }

@import "shared";

:host {
  display: block;
}
.SelectPlatform.is-single {
  margin-bottom: px2vw-xl(300px);
}
.SelectPlatform {
  // background-color: var(--blackcurrant-color-medium);
  position: relative;
  // padding: 80px 0 0 0;
  margin: 0;
  width: 100%;
  // overflow: hidden;
  // overflow-y: auto;
  // height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: px2vw-xl(82px);

  @include lg {
    padding: px2vw-lg(70px) 0 px2vw-lg(82px) 0;
  }

  @include md {
    padding: px2vw-md(56px) px2vw-md(24px) px2vw-md(82px);
  }

  @include sm {
    padding-bottom: px2vw-sm(120px);
    background-size: 100% 216px;
    background-position: top;
  }

  &-container {
    // flex-direction: column;
    max-width: 618px;
    // padding-top: 87px;
    // padding-bottom: 164px;
    // padding-left: 24px;
    // padding-right: 24px;
    margin: 0 auto;
    width: 100%;
    // min-height: 100vh;
    padding-top: px2vw-xl(82px);
    min-height: 648px;

    @include lg {
      padding-top: px2vw-lg(70px);
    }

    @include md {
      padding-top: px2vw-md(60px);
    }

    @include sm {
      padding-top: 0;
    }
  }

  &-title {
    @extend %global-title;
    text-transform: none;
    margin-bottom: px2vw-xl(31px);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--white);
    width: 70%;

    @include sm {
      margin-bottom: px2vw-sm(22px);
      font-size: 24.6px;
      line-height: 32px;
      width: 74%;
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(16px);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--color-white-medium);
  }

  &-list {
    overflow-y: auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6 - 20px));
    grid-template-rows: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 4px;
    width: 100%;

    @include lg {
      grid-template-columns: repeat(5, calc(100% / 5 - 16px));
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }

    @include md {
      grid-template-columns: repeat(3, calc(100% / 3 - 12px));
      grid-column-gap: 16px;
      grid-row-gap: 16px;
    }

    @include sm {
      grid-template-columns: repeat(2, calc(100% / 2 - 8px));
    }

    .icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: var(--white);
      opacity: 0;
      z-index: 9;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-confirmClose {
    width: 404px;
    height: 239px;
    padding: px2vw-xl(32px);
    background-color: var(--white);
    box-shadow: 0px 24px 38px rgb(0 0 0 / 10%), 0px 11px 15px rgb(0 0 0 / 10%);
    border-radius: 20px;
    position: fixed;
    left: calc(50% - 321px / 2);
    top: 27%;

    @include sm {
      width: 358px;
      left: calc(50% - 359px / 2);
    }

    &.join {
      background: var(--midnight-express-color);
      box-shadow: -4px -4px 20px rgb(0 0 0 / 8%), 4px 4px 20px rgb(0 0 0 / 8%);
      width: 359px;
      height: 272px;
      padding: px2vw-xl(48px);
    }

    &-title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--blackcurrant-color-medium);
      margin-bottom: px2vw-xl(16px);

      &.join {
        color: var(--white);
      }
    }

    &-description {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--tertiary-color);
      margin-bottom: px2vw-xl(32px);

      &.join {
        color: var(--tolopea-medium-color);
      }
    }

    &-btn-cancel {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--secondary-color);
      background-color: var(--white);
      margin-right: px2vw-xl(24px);
      padding: px2vw-xl(12px) px2vw-xl(32px);

      &.join {
        border-radius: 6px;
      }
    }
    &-btn-confirm {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: var(--color-white-medium);
      background-color: var(--main-color);
      background: var(--secondary-color);
      border-radius: 6px;
      padding: px2vw-xl(12px) px2vw-xl(32px);

      &.join {
        line-height: 24px;
      }
    }
  }

  &-item,
  &-item-image,
  &-item-name {
    transition: 150ms linear;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .SelectPlatform-card-image-block.image-block {
      width: 100%;
      .SelectPlatform-card-image {
        width: 100%;
        max-width: 100%;
        position: relative;
        height: 245px;
        overflow: hidden;
        border-radius: 20px;
        border: 3px solid transparent;
        @include md {
          height: 220px;
        }

        @include sm {
          height: 206px;
        }
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #782bcb83;
          z-index: 9;
          transform: translateY(101%);
          transition: all 100ms linear;
          opacity: 0;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          border: none;
          border-radius: 0;
        }
      }
    }
    &:hover {
      .name {
        color: var(--secondary-color);
      }
    }
    &.is-active {
      .SelectPlatform-card-image-block.image-block {
        .SelectPlatform-card-image {
          &::before {
            content: "";
            opacity: 1;
            transform: translateY(0);
            transition: all 100ms linear;
          }
        }
        .icon {
          opacity: 1;
        }
      }
      .name {
        color: var(--secondary-color);
      }
    }
  }

  &-item-image {
    border: 2px solid transparent;
    border-radius: px2vw-xl(10px);
    object-fit: cover;
    height: px2vw-xl(180px);
    width: 100%;

    @include lg {
      border-radius: px2vw-lg(10px);
      height: px2vw-lg(180px);
    }

    @include md {
      border-radius: px2vw-md(10px);
      height: px2vw-md(208px);
    }

    @include sm {
      border-radius: px2vw-sm(10px);
      height: px2vw-sm(240px);
    }
  }

  &-item-name {
    margin-top: px2vw-xl(8px);
    margin-bottom: 0;
    @extend %global-textMd;
    color: var(--tolopea-color);
    text-align: center;
    text-transform: capitalize;
    @include md {
      font-size: 16px;
      line-height: 24px;
    }
  }

  app-page-switcher {
    margin-top: auto;
  }

  &-search {
    margin-bottom: 48px;
    width: 100%;
    max-width: 642px;
    @include sm {
      max-width: 100%;
      margin-bottom: px2vw-sm(36px);
    }
    &-label {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
      margin-bottom: px2vw-xl(16px);
    }
  }
  &-items {
  }
  &-items-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--tolopea-medium-color);
  }
  &-button {
    // box-shadow: 0px -40px 80px rgb(0 0 0 / 2%), 0px -30px 24px rgb(0 0 0 / 1%), 0px -12px 10px rgb(0 0 0 / 2%), 0px -4px 4px rgb(0 0 0 / 2%);
    padding: px2vw-xl(12px) px2vw-xl(24px);
    display: flex;
    //justify-content: end;
    background-color: var(--blackcurrant-color-medium);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;

    @include sm {
      flex-wrap: wrap;
      justify-content: center;
      height: 106px;
      padding: px2vw-xl(12px) px2vw-xl(19px);
    }

    &-guide {
      margin-bottom: 0;
      align-self: center;
      margin-right: px2vw-xl(16px);
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--tolopea-color);

      @include sm {
        margin-bottom: px2vw-xl(16px);
        margin-right: 0;
      }
    }
    &-next {
      background: var(--googly-yellow);
      border-radius: 6px;
      padding: px2vw-xl(12px) px2vw-xl(32px);
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-white-medium);

      @include sm {
        width: 100%;
      }
    }
  }
}
.SelectTeams-main {
  @extend %u-dfStart;
  flex-direction: column;
}

.SelectTeams-header {
  margin-bottom: px2vw-xl(34px);

  @include lg {
    margin-bottom: px2vw-lg(34px);
  }

  @include md {
    margin-bottom: px2vw-md(34px);
  }

  @include sm {
    margin-bottom: px2vw-sm(34px);
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(16px);
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(13px);

    @include lg {
      margin-bottom: px2vw-lg(13px);
    }

    @include md {
      margin-bottom: px2vw-md(13px);
    }

    @include sm {
      margin-bottom: px2vw-sm(13px);
    }
  }

  &-link {
    @extend %subtitle-1;
    color: var(--color-secondary);
    transition: $global-transition2;

    &:hover {
      color: var(--color-primary);
    }
  }
}

.SelectTeams-items {
  margin-bottom: px2vw-xl(50px);
  width: 100%;

  @include lg {
    margin-bottom: px2vw-lg(50px);
  }

  @include md {
    margin-bottom: px2vw-md(50px);
  }

  @include sm {
    margin-bottom: px2vw-sm(22px);
  }

  &-title {
    @extend %body-1;
    margin-bottom: px2vw-xl(35px);
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 40.5px;
    line-height: 43px;
    letter-spacing: -0.5px;
    color: var(--white);

    @include lg {
      margin-bottom: px2vw-lg(35px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: 24px;
      line-height: 32px;
    }

    @include sm {
      margin-bottom: px2vw-sm(22px);
    }
  }

  &-subtitle {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16.3px;
    line-height: 24px;
    color: var(--tolopea-medium-color);
    margin-bottom: px2vw-xl(12px);

    @include md {
      font-size: 16px;
      line-height: 24px;
    }
    @include sm {
      margin-bottom: px2vw-sm(17px);
    }
  }

  &-cards {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-auto-rows: 205px;
    grid-column-gap: 24px;
    grid-row-gap: 16px;

    @include lg {
      grid-template-columns: repeat(3, 220px);
      grid-auto-rows: 205px;
      grid-column-gap: 24px;
      grid-row-gap: 16px;
    }

    @include md {
      grid-template-columns: repeat(2, 155px);
      grid-auto-rows: 176px;
      grid-column-gap: 17px;
      grid-row-gap: 16px;
    }

    @include sm {
      justify-content: center;
    }

    @media only screen and (max-width: 374px) {
      grid-template-columns: repeat(2, 148px);
    }
  }

  &-card {
    @extend %u-dfCenter;
    flex-direction: column;
    padding: 0;
    cursor: pointer;
    transition: $global-transition2;
    background: var(--blackcurrant-color-medium);
    border: 1px solid var(--color-black-medium);
    box-sizing: border-box;
    border-radius: 8px;

    @include lg {
    }

    @include md {
      border-radius: 8px;
    }

    @include sm {
    }

    &.active {
      border-color: var(--secondary-color);

      .card-name {
        color: var(--secondary-color);
      }

      .number-member {
        color: var(--secondary-color);
      }
    }

    &:hover {
      border-color: var(--secondary-color);

      .card-name {
        color: var(--secondary-color);
      }

      .number-member {
        color: var(--secondary-color);
      }
    }

    &-background {
      height: 109px;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-image: url(../../../../assets/images/image.svg);
      border-radius: 8px 8px 0 0;

      @include sm {
        height: 77px;
      }
    }

    &-content {
      height: 96px;
      width: 100%;
      position: relative;

      @include md {
        height: 99px;
      }
    }
  }

  &-card-image {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../../../../assets/images/image.svg);
    background-color: var(--black);
    height: 56px;
    width: 56px;
    position: absolute;
    left: calc(50% - 56px / 2);
    top: -30px;

    @include lg {
      height: 56px;
      width: 56px;
    }

    @include md {
    }

    @include sm {
      // top: -43px;
    }

    &.add-plus {
      @extend %u-dfCenterCenter;
      background-color: transparent;
      position: static;
      background-image: none;
    }
  }

  // CREATE TEAM PLUS ICON
  &-card-icon {
    ::ng-deep svg {
      height: 24px;
      width: 24px;

      @include lg {
        height: 48px;
        width: 48px;
      }

      @include md {
        height: 32px;
        width: 32px;
      }

      @include sm {
      }

      path {
        fill: var(--tolopea-color);
      }
    }
  }

  &-card-name {
    @extend %body-2;
    margin-top: px2vw-xl(33px);
    margin-bottom: 0;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
    transition: inherit;

    @include lg {
      margin-top: px2vw-lg(33px);
    }

    @include md {
      margin-top: px2vw-md(36px);
    }

    @include sm {
    }
  }
  &-card-number-member {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--tolopea-medium-color);
  }
  &-card-create-team {
    padding-top: px2vw-xl(55px);

    @include md {
      border-radius: 8px;
      padding-top: px2vw-md(31.5px);
    }
    @include sm {
      border: 1px dashed var(--midnight-express-color);
    }

    & .card-name {
      margin-top: px2vw-xl(10px);
    }
  }
}

.SelectTeams-buttons {
  @extend %u-dfCenter;
  margin-top: auto;
}

.SelectTeams-button {
  margin-right: px2vw-xl(8px);

  @include lg {
    margin-right: px2vw-lg(8px);
  }

  @include md {
    margin-right: px2vw-md(8px);
  }

  @include sm {
    margin-right: px2vw-sm(8px);
  }

  &:last-child {
    margin-right: 0;
  }
}

.lists-cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  @include md {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: px2vw-xl(189px);
    height: 132px;
    background: var(--blackcurrant-color-medium);
    border: 1px solid var(--color-black-medium);
    border-radius: 20px;
    padding: px2vw-xl(30px) 0px px2vw-xl(30px);
    cursor: pointer;
    margin-bottom: px2vw-xl(20px);
    @include md {
      max-width: 138px;
      margin-bottom: px2vw-md(16px);
      height: 112px;
      padding: px2vw-md(15px) 0px px2vw-md(16px);
    }
    @include sm {
      max-width: calc(50% - 8px);
      height: 112px;
    }
    &:nth-child(3n + 2) {
      margin: 0 px2vw-xl(24px) px2vw-xl(20px);
      @include md {
        margin: 0;
      }
    }
    .icon {
      display: inline-block;
      margin-bottom: px2vw-xl(13px);
      width: 100%;
      text-align: center;
      ::ng-deep svg path {
        transition: 200ms linear;
        fill: var(--tolopea-color);
      }
      @include sm {
        margin-bottom: px2vw-sm(8px);
      }
    }
    .text {
      @extend %global-textSm;
      text-align: center;
      color: var(--tolopea-color);
    }
    &.active {
      background: var(--secondary-color);
      // .text {
      //   color: var(--secondary-color);
      // }
      // .icon {
      //   ::ng-deep svg path {
      //     transition: 200ms linear;
      //     fill: var(--secondary-color);
      //   }
      // }
    }
    &:hover {
      border-color: var(--main-color);
    }
  }
}
.team-format-list {
  flex-direction: column;
  .team-format-list-item {
    margin: px2vw-xl(10px) 0 !important;
    max-width: 100% !important;
    height: 85px !important;
    padding: 0px;
    &.selected{
      border-color: var(--main-color);
    }
    .row .team-format-select-item {
      padding-left: px2vw-xl(25px);
      margin-top: 0px;
      // mat-radio-button{
      //   .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle{
      //     border-color:rgb(66, 134, 244) !important; 
      //   }
        
      //   .mat-radio-button.mat-primary .mat-radio-inner-circle{
      //     color:rgb(66, 134, 244) !important;
      //     background-color:rgb(66, 134, 244) !important;
      //   }
      // }

  
     
    }
    .row .team-format-select-item-label .team-format-description {
        font-weight: 400;
        font-size: 14px;
        color: var(--white-disabled)
    }
  }
}

.box-item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  max-width: 50%;
  &-left {
    justify-content: flex-start;
    @include md {
      margin-bottom: px2vw-md(16px);
    }
  }
  &-right {
    justify-content: flex-end;
    span {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: right;
      color: var(--white);
      display: inline-block;
      margin-right: px2vw-xl(16px);
    }
  }
  .wap-step {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var(--white);
    margin-right: px2vw-xl(16px);
    @include md {
      margin-right: 0;
      font-weight: 500;
      color: var(--tolopea-color);
    }
  }
  .progressBarContainer {
    width: 100%;
    max-width: 207px;
    ul.lists {
      display: -webkit-inline-flex;
      display: inline-flex;
      // -webkit-justify-content: space-between;
      // justify-content: space-between;
      // -webkit-align-items: center;
      // align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      li.item {
        width: 100%;
        max-width: calc(100% / 6 - 3px);
        height: 12px;
        margin-right: px2vw-xl(6px);
        background: var(--tertiary-color);
        &.active {
          background: var(--main-color);
        }
        &:first-child {
          border-radius: 6px 0px 0px 6px;
        }
        &:last-child {
          border-radius: 0px 6px 6px 0px;
        }
      }
    }
  }

  @include md {
    max-width: 100%;
    justify-content: center;
  }

  @include sm {
    max-width: 100%;
  }
  .PageSwitcher-button {
    margin-right: 0;
    background: var(--googly-yellow);
    border-radius: 6px;
    box-shadow: none;
    text-transform: none;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-white-medium);
    padding: 0 px2vw-xl(32px);
    height: 48px;
    @include md {
      width: 100%;
      max-width: 100%;
    }
  }
}