<app-header-dynasty
  [currentPageLink]="AppHtmlGetMatchRoutes.platforms"
  [title]="'MATCHMAKING.SELECT_PLATFORM.TITLE' | translate"
></app-header-dynasty>

<div class="ct-HeaderTop" *ngIf="selectedGame">
  <div class="SelectPlatform">
    <div class="SelectPlatform-container">
      <h2 class="SelectPlatform-title global-Title3">
        {{ "MATCHMAKING.SELECT_PLATFORM.TITLE_SELECT" | translate }}
      </h2>
      <section class="SelectPlatform-items">
        <h3 class="SelectPlatform-items-title">
          {{ "MATCHMAKING.SELECT_PLATFORM.SELECT_PLATFORM" | translate }}
        </h3>
        <ul class="SelectPlatform-items-cards" *ngIf="platforms.length">
          <ng-container *ngFor="let platform of platforms">
            <li
              class="SelectPlatform-items-card"
              (click)="selectPlatformType(platform)"
              [class.active]="selectedPlatformName === platform.name"
              #teamGame
            >
              <div class="SelectPlatform-items-card-wrap">
                <div class="SelectPlatform-items-card-icon-block">
                  <div
                    class="SelectPlatform-items-card-icon card-icon"
                    [class]="platform.type"
                    [inlineSVG]="platform.icon"
                  ></div>
                </div>
                <p class="SelectPlatform-items-card-name card-name">
                  {{ platform.name | translate }}
                </p>
              </div>
            </li>
          </ng-container>
        </ul>
      </section>
      <section class="SelectPlatform-items">
        <h3 class="SelectPlatform-items-title">
          {{ "MATCHMAKING.SELECT_PLATFORM.GAME_TYPE" | translate }} 
        </h3>
        <ul class="SelectPlatform-items-cards" *ngIf="gameTypes?.length">
          <ng-container *ngFor="let game of gameTypes">
            <li
              class="SelectPlatform-items-card"
              (click)="nextPage(game)"
              [class.active]="selectedGameType === game?.type"
            >
              <div class="SelectPlatform-items-card-wrap">
                <div class="SelectPlatform-items-card-icon-block">
                  <div
                    class="SelectPlatform-items-card-icon card-icon"
                    [class]="game?.type"
                    [inlineSVG]="game?.icon"
                  ></div>
                </div>
                <p class="SelectPlatform-items-card-name card-name">
                  {{ game?.title | translate }}
                </p>
              </div>
            </li>
          </ng-container>
        </ul>
      </section>
      <section *ngIf="selectedGameType == 'team'">
        <a class="SelectTeams_header_link">
          {{
            "CREATE_TOURNAMENT.SELECT_PLATFORM.HEADER_LINK.TEAM_FORMAT"
              | translate
          }}
        </a>
        <div class="" >
          <ul class="lists-cards team-format-list">
            <ng-container  *ngFor="let item of dataTeamDropdownItem">
              <li class="item team-format-list-item" [ngClass]="item.selected ? 'selected': ''" (click)="reset();clickChange(item)">
                <div class="row">
                  <div class="col-sm-1 team-format-select-item">
                    <mat-radio-button
                    color="primary"
                    [checked]="item.selected"
                    (change)="reset();clickChange(item);"
                    class="is-small"
                  ></mat-radio-button>
                  </div>
                  <div class="col-sm-9 team-format-select-item-label">
                    {{ item.name | translate }} <br/>
                    <div class="team-format-description">
                      {{item.description | translate }}
                    </div>                      
                  </div>
                </div>
              </li>
            </ng-container>
            
            </ul>

        </div>
      </section>
    </div>
  </div>
</div>
<div class="SelectPlatform-button" *ngIf="selectedGame">
  <!-- actual content for guide need to update -->
  <!-- <p class="SelectPlatform-button-guide">
    {{ "MATCHMAKING.SELECT_PLATFORM.GUIDE" | translate }}
  </p> -->
  <div class="box-item box-item-left">
    <div class="wap-step">
      Step <span class="nth-step">{{ step }}</span> of {{ totalPages }}:
      <span *ngIf="numberStep === 1">{{
        "CREATE_TOURNAMENT.PAGE_SWITCHER.STEP1" | translate
      }}</span>
      <span *ngIf="numberStep === 2">{{
        "MATCH_MAKING.MATCH_SETTING" | translate
      }}</span>
     
    </div>
    <div class="progressBarContainer mb-hide">
      <div class="app-progressBar">
        <ul class="lists" *ngIf="totalPages == 2">
          <li [class]="step >= 1 ? 'item active' : 'item'"></li>
          <li [class]="step >= 2 ? 'item active' : 'item'"></li>              
        </ul>
        <ul class="lists" *ngIf="totalPages == 4">
          <li [class]="step >= 1 ? 'item active' : 'item'"></li>
          <li [class]="step >= 2 ? 'item active' : 'item'"></li>  
          <li [class]="step >= 3 ? 'item active' : 'item'"></li>  
          <li [class]="step >= 4 ? 'item active' : 'item'"></li>              
        </ul>
      </div>
    </div>
  </div>
  <div class="box-item box-item-right">
    <button class="SelectPlatform-button-next" (click)="next()">
      {{ "BUTTON.NEXT" | translate }}
    </button>
  </div>
 
</div>
<div class="SelectPlatform-confirmClose" *ngIf="popupCreateTeam">
  <div class="SelectPlatform-confirmClose-title">
    {{ "HEADER_DYNASTY.EXIT" | translate }}
  </div>
  <div class="SelectPlatform-confirmClose-description">
    <!--Lorem ipsum dolor sit amet, soluta accommodare-->
  </div>
  <button
    class="SelectPlatform-confirmClose-btn-cancel"
    (click)="popupCreateTeam = false"
  >
    {{ "HEADER_DYNASTY.CANCEL" | translate }}
  </button>
  <button
    class="SelectPlatform-confirmClose-btn-confirm"
    routerLink="/create-team"
  >
    {{ "HEADER_DYNASTY.CONFIRM" | translate }}
  </button>
</div>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
