@import "shared";

:host {
  display: block;
}

.BasicInfo-footer {
  padding-top: 30px;
  padding-bottom: 30px;

  button {
    margin-right: 10px;
  }
}

.form-group > .labeltext {
  top: -6px;
  left: 35px;
  position: absolute;
  color: var(--lablecolor);
  padding: 0px 5px 0px 5px;
  font-size: 0.9em;
  background-color: var(--loginModalBgColor) !important;
}

.second-form {
  input {
    width: 45px;
    height: 45px;
    background: transparent;
    padding: 0;
    margin-right: 25px;
    text-align: center;
    border: 1px solid var(--white-high);
    border-radius: 5px;
    color: var(--white-high);
    &:last-child {
      margin-right: 0;
    }
  }
}

.resend {
  color: var(--color-tertiary) !important;
  text-transform: uppercase;
}

.link {
  margin: 0rem 0.4rem;
  display: inline-block;

  color: var(--white-high);
  text-transform: capitalize;
  text-decoration: underline;
  font-size: px2vw-xl(16px);
  line-height: px2vw-xl(21px);

  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(21px);
  }

  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(21px);
  }

  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(21px);
  }

  &:hover {
    color: var(--color-tertiary);
  }
}

.usericon {
  position: absolute;
  top: 12px;
  right: 38px;
  color: var(--white-high);
}

.form-group {
  position: relative;
  margin-bottom: 0 !important;
}

.width-100 {
  width: 100%;
  position: absolute;
  left: -50px;
}

.col6 {
  margin-top: 3rem;
}

.wel-text {
  text-transform: none !important;
}

.mr-top {
  margin-top: 2rem;
}

.btn {
  text-transform: uppercase;
  width: auto;
  margin-right: 0.5rem;
  padding: 0.475rem 2rem;
}

@media (max-width: 992px) {
  .form-group > .labeltext {
    top: -6px;
    left: 65px;
    position: absolute;
    color: var(--lablecolor);
    padding: 0px 5px 0px 5px;
    font-size: 0.9em;
    background-color: var(--loginModalBgColor) !important;
  }

  .usericon {
    position: absolute;
    top: 12px;
    right: 68px;
    color: var(--white-high);
  }

  .col-md-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .btn {
    text-transform: uppercase;
    width: auto;
    margin-right: 0.1rem;
    padding: 0.475rem 2rem;
  }

  #register-section {
    padding: 1.9em 0em;
  }

  .btn {
    width: auto;
  }

  .col6 {
    margin-top: 0rem;
  }

  .register-row {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .form-group > .labeltext {
    top: -6px;
    left: 5px;
    position: absolute;
    color: var(--lablecolor);
    padding: 0px 5px 0px 5px;
    font-size: 0.9em;
    background-color: var(--loginModalBgColor) !important;
  }

  .usericon {
    position: absolute;
    top: 12px;
    right: 8px;
    color: var(--white-high);
  }

  .col-md-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .btn {
    text-transform: uppercase;
    width: auto;
    margin-right: 0.2rem;
    padding: 0.475rem 2rem;
  }
  .form-group {
    position: relative !important;
    margin-bottom: 0rem !important;
  }

  .float-left,
  .float-right {
    font-size: 12px;
  }
  .form-group p {
    font-size: 12px;
  }

  .wel-text {
    padding-bottom: 0rem !important;
  }

  .width-100 {
    width: 100%;
    position: absolute;
    left: -20px;
  }
}

.modal-body {
  border-radius: 4px;
  // background-color: var(--midnight-express-color);
  color: var(--white-high);

  .modal-header-color {
    color: var(--white-high);
    text-transform: uppercase;
  }

  .wel-text {
    padding-bottom: 1.5rem;
    text-transform: uppercase;
  }
}

.Socials {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  @include sm {
    padding-bottom: 18px;
    margin-bottom: 17px;
  }
  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
    margin-bottom: 16px;
    text-align: left;
  }

  &-links {
    @extend %u-dfCenter;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  &-link {
    border-radius: 4px;
    width: 100%;
    min-height: 40px;
    padding: 0;
    height: auto;
    margin: 0;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 16px;
    &:first-child {
      background: #4267b2;
      span.text {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.22px;
        color: var(--white);
        display: inline-block;
        margin-left: 2px;
      }
    }
    &:last-child {
      border-radius: 0px 2px 2px 0px;
      background: #4285f4;
      margin-bottom: 0;
      span.text {
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.35px;
        color: var(--white);
        display: inline-block;
        margin-left: 5px;
      }
    }
    // &:hover {
    //   opacity: 0.8;
    // }
  }

  &-link-icon {
    max-height: 40px;
    max-width: 100%;
  }
}

.or {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
}
