@import "shared";
$--active-link: radial-gradient(
  43.28% 45.07% at 50.55% 108.45%,
  #fc483a 0%,
  #2d0134 79.69%,
  rgba(11, 8, 36, 0) 100%
);
$black: #000000;
$green: #bbf55a;
$ash: rgba(255, 255, 255, 0.2);

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
@include sm {
  .Header-user-menu {
    .Header {
      padding: px2vw-sm(12px);
      display: flex;
      .avatar {
        margin-right: px2vw-sm(12px);
        max-width: px2vw-sm(48px);
        max-height: px2vw-sm(48px);
        img {
          width: 100%;
          height: 100%;
          border-radius: px2vw-sm(100px);
          margin-left: px2vw-sm(4px);
          object-fit: cover;
        }
      }
      .content {
        padding: px2vw-sm(2px) 0;
        margin-right: px2vw-sm(4px);
        p {
          margin: 0;
          font-family: "archivo";
          font-style: normal;
          font-weight: bold;
          font-size: px2vw-sm(16px);
          line-height: px2vw-sm(24px);
          letter-spacing: px2vw-sm(0.15px);
          color: var(--white-high);
        }
        a {
          font-family: "redhat-regular";
          font-style: normal;
          font-weight: 500;
          font-size: px2vw-sm(14px);
          line-height: px2vw-sm(20px);
          color: var(--color-secondary);
        }
        a:hover {
          color: var(--color-secondary);
        }
      }
    }
    .body-menu {
      color: var(--white-medium) !important;
      font-family: "redhat-regular";
      font-weight: normal;
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      .body-hight {
        width: 100%;
        padding: px2vw-sm(24px);
        padding-bottom: px2vw-sm(20px);
        margin-bottom: (20px);
        // @extend .border-bottom;
      }
      .body-medium {
        width: 100%;
        padding: px2vw-sm 0 (24px) (20px) (24px);
        margin-bottom: px2vw-sm(20px);
        // @extend .border-bottom;
      }
      .body-low {
        padding: px2vw-sm 0 (24px) (20px) (24px);
      }
    }
    .Header-user-link {
      padding: px2vm-sm(6px) (10px);
    }
  }
  @media only screen and (max-width: 1299px) {
    .Header-user-link-text {
      font-size: 15px;
    }
    .Header-user-link-icon {
      font-size: 20px;
    }
  }
}
// .Header-beta-icon {
// }
@include sm {
  ng-deep .global-MatMenu.mat-menu-panel {
    height: auto;
  }
}
@include sm {
  .Header-user-link-icon {
    width: px2vw-sm (50px) !important;
    height: px2vw-sm (50px) !important;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.Header {
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-bottom: px2vw-sm(1px) solid var(--white-smoke);
  background-color: var(--color-background);
  transition: $global-transition2;

  @include lg {
    border-bottom-width: px2vw-lg(1px);
  }

  @include md {
    border-bottom-width: px2vw-md(1px);
  }

  @include sm {
    border-bottom-width: px2vw-sm(1px);
  }

  &.active {
    background-color: var(--color-primary);
  }

  &-container {
    @extend %u-dfCenter;
    justify-content: space-between;
  }

  &-logo {
    padding: 22px 32px;
    padding-left: 0;
    padding: 0.527778vw 2.2222222222vw;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include lg {
      padding: px2vw-lg(22px);
      padding-left: 0;
    }

    @include md {
      padding: px2vw-md(22px);
      padding-left: 0;
    }

    @include sm {
      padding: px2vw-sm(22px);
      padding-left: 0;
    }

    &:hover .icon::ng-deep svg path {
      fill: var(--color-secondary);
    }
  }

  &-logo-icon {
    ::ng-deep svg {
      height: 28px;
      width: 143px;

      @include xl {
        height: px2vw-xl(28px);
        width: px2vw-xl(143px);
      }

      @include lg {
        height: px2vw-lg(28px);
        width: px2vw-lg(143px);
      }

      @include md {
        height: px2vw-md(28px);
        width: px2vw-md(143px);
      }

      @include sm {
        height: px2vw-sm(28px);
        width: px2vw-sm(143px);
      }

      path {
        transition: $global-transition2;
      }
    }

    &.active ::ng-deep svg path {
      fill: var(--black);
    }
  }

  &-home {
    @extend %u-dfCenterCenter;
    position: relative;
    border-left: 1px solid var(--white-smoke);
    border-right: 1px solid var(--white-smoke);
    padding: 26px;

    @include xl {
      border-left-width: px2vw-xl(1px);
      border-right-width: px2vw-xl(1px);
    }

    @include lg {
      display: none;
    }

    &:hover,
    &.is-active {
      color: var(--color-primary);

      &::before {
        transform: translateX(-50%) translateY(3%);
      }
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 50%;
      width: 90px;
      transform: translateX(-50%) translateY(100%);
      background: $--active-link;
      transition: $global-transition2;

      @include xl {
        width: px2vw-xl(90px);
      }

      @include lg {
        width: px2vw-lg(90px);
      }

      @include md {
        width: px2vw-md(90px);
      }

      @include sm {
        width: px2vw-sm(90px);
      }
    }
  }

  &-home-icon {
    ::ng-deep svg {
      height: 17px;
      width: 20px;

      @include xl {
        height: px2vw-xl(17px);
        width: px2vw-xl(20px);
      }

      @include lg {
        height: px2vw-lg(17px);
        width: px2vw-lg(20px);
      }

      @include md {
        height: px2vw-md(17px);
        width: px2vw-md(20px);
      }

      @include sm {
        height: px2vw-sm(17px);
        width: px2vw-sm(20px);
      }

      path {
        transition: $global-transition;
      }
    }
  }

  &-navigation {
    @extend %u-dfCenter;
    margin-right: 30%;
    margin-left: 14px;

    @include xl {
      margin-left: px2vw-xl(14px);
    }

    @include lg {
      display: none;
    }
  }

  &-navigation-link {
    position: relative;
    min-width: 77px;
    padding: 26px 19px;
    transition: $global-transition;
    text-align: center;
    font-family: "redhat-regular";
    font-weight: 500;

    @include xl {
      min-width: px2vw-xl(77px);
      padding: px2vw-xl(26px) px2vw-xl(19px);
    }

    @include lg {
      min-width: px2vw-lg(77px);
      padding: px2vw-lg(26px) px2vw-lg(19px);
    }

    @include md {
      min-width: px2vw-md(77px);
      padding: px2vw-md(26px) px2vw-md(19px);
    }

    @include sm {
      min-width: px2vw-sm(77px);
      padding: px2vw-sm(26px) px2vw-sm(19px);
    }

    &:hover,
    &.is-active {
      color: var(--color-primary);

      &::before {
        transform: translateX(-50%) translateY(3%);
      }
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 50%;
      width: 90px;
      transform: translateX(-50%) translateY(100%);
      background: $--active-link;
      transition: $global-transition2;
      @include xl {
        width: px2vw-xl(90px);
      }

      @include lg {
        width: px2vw-lg(90px);
      }

      @include md {
        width: px2vw-md(90px);
      }

      @include sm {
        width: px2vw-sm(90px);
      }
    }
  }

  &-control {
    @extend %u-dfCenter;
    margin-left: 20px;

    @include xl {
      margin-left: px2vw-xl(20px);
    }

    @include lg {
      margin-left: px2vw-lg(20px);
    }

    @include md {
      margin-left: px2vw-md(20px);
    }

    @include sm {
      margin-left: px2vw-sm(20px);
    }
  }

  &-toggles {
    @extend %u-dfCenter;
    margin-right: 34px;

    @include xl {
      margin-right: px2vw-xl(34px);
    }

    @include lg {
      margin-right: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(20px);
    }

    &.active .toggle-icon {
      color: var(--black);
    }
  }

  &-toggle {
    @extend %u-dfCenter;
    margin-right: 18px;
    background-color: transparent;

    @include xl {
      margin-right: px2vw-xl(18px);
    }

    @include lg {
      margin-right: px2vw-lg(18px);
    }

    @include md {
      margin-right: px2vw-md(18px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-toggle-icon {
    height: auto;
    width: auto;
    font-size: 26px;
    color: var(--white-high);
    transition: $global-transition2;

    @include xl {
      font-size: px2vw-xl(26px);
    }

    @include lg {
      font-size: px2vw-lg(26px);
    }

    @include md {
      font-size: px2vw-md(26px);
    }

    @include sm {
      font-size: px2vw-sm(26px);
    }
  }

  &-buttons {
    @extend %u-dfCenter;
  }

  &-button {
    &.register {
      margin-left: 8px;

      @include xl {
        margin-left: px2vw-xl(8px);
      }

      @include lg {
        margin-left: px2vw-lg(8px);
      }

      @include md {
        margin-left: px2vw-md(8px);
      }

      @include sm {
        margin-left: px2vw-sm(8px);
      }
    }
  }

  &-user {
    @extend %u-dfCenter;
  }

  &-user-image {
    margin-right: 8px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-size: cover;

    @include xl {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(32px);
      width: px2vw-xl(32px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-user-arrow {
    height: auto;
    width: auto;
    font-size: 18px;
    color: var(--white-medium);
    transition: $global-transition2;
    cursor: pointer;

    @include xl {
      font-size: px2vw-xl(18px);
    }

    @include lg {
      font-size: px2vw-lg(18px);
    }

    @include md {
      font-size: px2vw-md(18px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
    }

    &.active {
      color: var(--black);
    }
  }

  &-user-menu {
    @extend %u-dfStretchStart;
    flex-direction: column;
    border: 1px solid var(--white-smoke);
    border-radius: 4px;
    background-color: var(--color-background);
    padding-bottom: 15px;

    @include lg {
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      padding-bottom: 15px;
    }

    @include md {
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      padding-bottom: 15px;
    }

    @include sm {
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      padding-bottom: 15px;
    }
  }

  &-user-points {
    @extend %u-dfCenterBtw;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--white-smoke);
    padding: 16px 20px;

    @include xl {
      margin-bottom: px2vw-xl(8px);
      padding: px2vw-xl(16px) px2vw-xl(20px);
    }

    @include lg {
      margin-bottom: px2vw-lg(8px);
      padding: px2vw-lg(16px) px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      padding: px2vw-md(16px) px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      padding: px2vw-sm(16px) px2vw-sm(20px);
    }
  }

  &-user-points-title {
    margin-right: 12px;
    margin-bottom: 0;
    font-family: "archivo", sans-serif;
    font-size: 12px;

    @include xl {
      margin-right: px2vw-xl(12px);
      font-size: px2vw-xl(12px);
    }

    @include lg {
      margin-right: px2vw-lg(12px);
      font-size: px2vw-lg(12px);
    }

    @include md {
      margin-right: px2vw-md(12px);
      font-size: px2vw-md(12px);
    }

    @include sm {
      margin-right: px2vw-sm(12px);
      font-size: px2vw-sm(12px);
    }
  }

  &-user-points-info {
    @extend %u-dfCenter;
  }

  &-user-points-image {
    margin-right: 8px;
    height: 32px;
    width: 32px;

    @include xl {
      margin-right: px2vw-xl(8px);
      height: px2vw-xl(32px);
      width: px2vw-xl(32px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(32px);
      width: px2vw-lg(32px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(32px);
      width: px2vw-md(32px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(32px);
      width: px2vw-sm(32px);
    }
  }

  &-user-points-count {
    min-width: 57px;
    font-family: "archivo-black", sans-serif;
    font-size: 18px;

    @include xl {
      min-width: px2vw-xl(57px);
      font-size: px2vw-xl(18px);
    }

    @include lg {
      min-width: px2vw-lg(57px);
      font-size: px2vw-lg(18px);
    }

    @include md {
      min-width: px2vw-md(57px);
      font-size: px2vw-md(18px);
    }

    @include sm {
      min-width: px2vw-sm(57px);
      font-size: px2vw-sm(18px);
    }
  }

  &-user-links {
    @extend %u-dfStretchStart;
    flex-direction: column;
  }

  &-user-links-top {
    margin-bottom: px2vw-xl(8px);
    // border-bottom: px2vw-xl(1px) solid var(--white-smoke);
    padding: 12px 20px;

    @include lg {
      margin-bottom: px2vw-lg(8px);
      border-bottom-width: px2vw-lg(1px);
      padding: 12px 20px;
    }

    @include md {
      margin-bottom: px2vw-md(8px);
      border-bottom-width: px2vw-md(1px);
      padding: 12px 20px;
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
      border-bottom-width: px2vw-sm(1px);
      padding: 12px 20px;
    }
  }

  &-user-links-bottom {
    position: relative;
  }

  &-user-link {
    @extend %u-dfCenter;
    // padding: px2vw-xl(13px) px2vw-xl(22px);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    @include xl {
      padding: px2vw-xl(13px) px2vw-xl(22px);
    }

    @include lg {
      padding: px2vw-lg(13px) px2vw-lg(22px);
    }

    @include md {
      padding: px2vw-md(13px) px2vw-md(22px);
    }

    @include sm {
      padding: px2vw-sm(13px) px2vw-sm(22px);
    }

    &-icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    // &,img{
    //   border-radius: 50%;
    // }
    &-content {
      margin-left: 15px;
      width: 200px;
      white-space: normal;
    }
    &,
    p {
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      &,
      .icon {
        color: var(--color-primary);
      }
    }

    &.logout {
      .icon {
        color: var(--color-sunset-orange);
      }

      .text {
        transition: $global-transition;
        cursor: pointer;
      }

      &:hover {
        opacity: 0.75;

        .icon,
        .text {
          color: var(--color-sunset-orange);
        }
      }
    }
  }

  &-user-link-icon-block {
    @extend %u-dfCenterCenter;
    margin-right: 21px;
    min-height: 16px;
    min-width: 22px;

    @include xl {
      margin-right: px2vw-xl(21px);
      min-height: px2vw-xl(16px);
      min-width: px2vw-xl(22px);
    }

    @include lg {
      margin-right: px2vw-lg(21px);
      min-height: px2vw-lg(16px);
      min-width: px2vw-lg(22px);
    }

    @include md {
      margin-right: px2vw-md(21px);
      min-height: px2vw-md(16px);
      min-width: px2vw-md(22px);
    }

    @include sm {
      margin-right: px2vw-sm(21px);
      min-height: px2vw-sm(16px);
      min-width: px2vw-sm(22px);
    }
  }

  &-user-link-icon {
    color: var(--white-medium);
    transition: $global-transition2;
  }

  &-open {
    @extend %u-dfCenterCenter;
    display: none;
    background-color: transparent;

    @include lg {
      margin-left: px2vw-lg(22px);
      display: flex;
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
    }

    @include md {
      margin-left: px2vw-md(22px);
      height: px2vw-md(30px);
      width: px2vw-md(30px);
    }

    @include sm {
      margin-left: px2vw-sm(22px);
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
    }
  }

  &-open-icon {
    height: auto;
    width: auto;

    &,
    &.active {
      color: var(--color-secondary) !important;
    }
  }

  &-mob-menu {
    display: none;
    overflow-y: scroll;

    @include lg {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100vh;
      background-color: var(--color-primary);
      transition: $global-transition;
    }
  }

  &-mob-container {
    @extend %u-dfStart;
    flex-direction: column;

    @include lg {
      padding: px2vw-lg(150px) px2vw-lg(40px) px2vw-lg(40px);
    }

    @include md {
      padding: px2vw-md(150px) px2vw-md(40px) px2vw-md(40px);
    }

    @include sm {
      padding: px2vw-sm(150px) px2vw-sm(40px) px2vw-sm(40px);
    }
    @include sm {
      .serach {
        height: px2vw-sm(36px);
        width: px2vw-sm(157px);
        left: px2vw-sm(40px);
        top: px2vw-sm(672px);
        color: $black;
      }
    }
  }
  .mat-form-field + .mat-form-field {
    margin-left: px2vw-sm(8px);
  }

  &-mob-link {
    font-family: "archivo-black", sans-serif;
    color: var(--color-secondary);
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(40px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
      font-size: px2vw-sm(34px);
      line-height: px2vw-sm(50px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-notification {
    border-radius: 50%;
    min-width: px2vw-xl(18px);
    width: px2vw-xl(18px);
    height: px2vw-xl(18px);
    margin: px2vw-xl(30px) 0 px2vw-xl(20px);
    @include lg {
      margin: px2vw-lg(30px) 0 px2vw-lg(20px);
      min-width: px2vw-lg(18px);
      width: px2vw-lg(18px);
      height: px2vw-lg(18px);
    }
    @include md {
      min-width: px2vw-md(18px);
      margin: px2vw-md(30px) 0 px2vw-md(20px);
      width: px2vw-md(18px);
      height: px2vw-md(18px);
    }
    @include sm {
      min-width: px2vw-sm(18px);
      margin: px2vw-sm(30px) 0 px2vw-sm(20px);
      width: px2vw-sm(18px);
      height: px2vw-sm(18px);
    }
  }
}
::ng-deep {
  .notification .global-MatMenu.is-user {
    min-width: 256px;
  }
  button {
    font-family: "archivo" !important;
  }
}
.border-bottom {
  border-bottom: 1px solid $ash !important;
}

.sea {
  @extend %global-H4;
  @include sm {
    margin-left: px2vw-sm(46px);
  }
  li{
    @include sm{
      margin-bottom: px2vw-sm(15px);
    } 
  }
  a{
    color: $black;
  }
}

.log {
  @extend %global-H4;
  @include sm {
    color: $black;
    margin-left: px2vw-sm(46px);
    margin-top: px2vm-sm(-45px);
  }
}

.copy {
  @extend %body-1;
  @include sm {
    color: $black;
    margin-bottom: px2vm-sm(35px);
    margin-top: px2vm-sm(-15px);
  }
}
.mat-expansion-panel {
  @extend %global-H4;
  @include sm {
    background-color: $green;
  }
}
.mat-expansion-panel-header {
  background-color: $green;
  @extend %global-H4;
  @include sm {
    text-decoration: none;
    color: $black;
  }
}
.profile {
  @extend %global-H6;
  @include sm {
    text-decoration-color: $black;
    margin-left: px2vm-sm(-3px);
  }

  @include sm {
    ul .profile {
      text-decoration-color: $black;
      margin-left: px2vw-sm(5px);
      margin-right: px2vw-sm(50px);
    }
    li a {
      text-decoration-color: $black;
    }
  }
}
.foot {
  li a {
    @extend %global-H4;
    @include sm {
      color: $black;
      margin-left: px2vw-sm(40px);
      text-decoration: none;
    }
  }
}
.logout {
  li a {
    @extend %global-H6;
    @include sm {
      color: $black;
      margin-right: px2vw-sm(44px);
      text-decoration: none;
    }
  }
}
.profile {
  li a {
    @extend %global-H6;
    @include sm {
      color: $black;
      margin-left: px2vw-sm(-3px);
      img {
        padding: px2vw-sm(0px) px2vw-sm(12px) px2vw-sm(0px) px2vw-sm(11px);
        margin-bottom: px2vw-sm(2px);
        margin-left: px2vw-sm(-10px);
      }
      text-decoration: none;
    }
  }
}

ul.logout {
  @include sm {
    padding: px2vw-sm(0px) px2vw-sm(0px) px2vw-sm(0px) px2vw-sm(24px);
    margin-bottom: px2vw-sm(10px);
    a {
      img {
        margin-right: px2vw-sm(9px);
        margin-top: px2vw-sm(-1px);
        margin-left: px2vw-sm(8px);
      }
    }
  }
}
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background: $green;
}
@include sm {
  .copy {
    margin-left: px2vw-sm(32px);
    margin-top: px2vw-sm(85px);
  }
}
.footer {
  li {
    @include sm {
      padding: px2vw-sm(3px) 0;
    }
    a {
      @extend %global-H7;
      @include sm {
        color: $black;
        margin-left: px2vw-sm(15px);
        padding: px2vw-sm(0px) px2vw-sm(12px) px2vw-sm(0px) px2vw-sm(16px);
      }
    }
  }
}
.footer2 {
  li {
    @include sm {
      padding: px2vw-sm(3px) 0;
      margin-left: px2vw-sm(32px);
    }
    a {
      @extend %global-H7;
      @include sm {
        color: $black;
        text-decoration: none;
      }
    }
  }
}
@include sm {
  ul.footer2 {
    margin-left: px2vw-sm(175px);
    margin-bottom: px2vw-sm(67px);
    margin-top: px2vw-sm(-102px);
  }
}
@include sm {
  .last_line {
    margin-left: px2vw-sm(30px);
    margin-top: px2vw-sm(52px);
    color: $black;
  }
  @include sm {
    ul.link_icon_fd {
      display: flex;
      flex-direction: row;
      justify-content: right;
      margin-top: px2vw-sm(-40px);
      margin-bottom: px2vw-sm(31px);
      margin-right: px2vw-sm(28px);
      flex-wrap: wrap;
      gap: px2vw-sm(4px);
    }
    ul.link_icon_fd {
      a {
        img {
          width: px2vw-sm(22px);
        }
      }
    }
  }
}
.notification_img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: px2vw-xl(40px);
    width: px2vw-xl(40px);
    @include lg {
      height: px2vw-lg(40px);
      width: px2vw-lg(40px);
    }
    @include md {
      height: px2vw-md(40px);
      width: px2vw-md(40px);
    }
    @include sm {
      height: px2vw-sm(40px);
      width: px2vw-sm(40px);
    }
  }
}

::ng-deep .Account_settings{
  .mat-dialog-container{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 0 !important;
    top: px2vw-xl(34px);
    @include lg {
      top: px2vw-lg(34px);
    }
    @include md {
      top: px2vw-md(34px);
    }
    @include sm{
      top: 0px;
      border-radius: 0 !important;
    }
  }
}
