<div class="Match-highlight" [routerLink]="['../videos', 'view', params?._id]">
  <img
    class="Match-highlight-image"
    [src]="params?.thumbnailUrl"
    stcLazyImage
  />
  <div class="Match-highlight-container">
    <h3 class="Match-highlight-container-title global-Elipses">
      {{ params?.title | customTranslate: (languageService?.language | async) }}
    </h3>
    <p class="Match-highlight-container-date global-Elipses">
      {{ !isNumber(timezone) ? ( params?.updatedOn | date: "medium") : ( params?.updatedOn | date: "MMM d, y, h:mm:ss a z") }} {{ !isNumber(timezone) ? timezone : '' }}
    </p>
    <p class="Match-highlight-container-description global-Elipses">
      {{
        params.description
          | customTranslate: (languageService?.language | async)
      }}
    </p>
  </div>
</div>
