<header class="Header">
  <div class="Header-container u-wp">
    <div class="Header-logo" [routerLink]="AppHtmlRoutes.home" (click)="adminLink()">
      <div class="Header-logo-icon">
        <img src="assets/images/GGamer_logo.svg" alt="" class="icon-image logo_mob" />
        <img src="assets/images/desk_logo.svg" alt="" class="icon-image logo_desktop" />
      </div>
      <a class="Header-home">
        <div class="Header-home-icon home-icon"></div>
      </a>
    </div>
    <nav class="Header-navigation ng-star-inserted">
      <a class="Header-navigation-link ng-star-inserted" [routerLink]="AppHtmlRoutes.home"
        routerLinkActive="active-link">
        {{ "HEADERS.SHOP" | translate }}
      </a>
      <a class="Header-navigation-link ng-star-inserted" [routerLink]="AppHtmlRoutes.article"
        routerLinkActive="active-link">
        {{ "HEADERS.UPDATES" | translate }}
      </a>
    </nav>
    <div class="Header-control ng-star-inserted">
      <div class="Header-user Header-toggles">
        
        <button [routerLink]="AppHtmlRoutes.search" class="Header-toggle" tabindex="0">
          <img src="assets/icons/search.svg" class="img-fluid icon_search" />
        </button>
      </div>

      <!-- Login, Register buttons -->
      <ng-container *ngIf="!currentUser">
        <div class="Header-buttons">
          <button class="btn_login button-secondary" (click)="onLogin()">
            {{ "BUTTON.LOGIN" | translate }}
          </button>
        </div>
      </ng-container>
      
      <div class="Header-user ng-star-inserted" *ngIf="currentUser">
        <div class="userprofile_for_mobile">
          <ng-container *ngIf="currentUser.profilePicture; else elseTemplate">
            <div class="Header-user-image" [ngStyle]="{'background-image':'url(' + currentUser.profilePicture  + ')'}"
              [matMenuTriggerFor]="userMenu">
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="Header-user-image"
              [ngStyle]="{'background-image':'url(' + '/assets/images/demo_user.svg' + ')'}"
              [matMenuTriggerFor]="userMenu">
            </div>
          </ng-template>
          <mat-icon class="Header-user-arrow" [matMenuTriggerFor]="userMenu">
            expand_more
          </mat-icon>
        </div>
        <div class="userprofile_for_web">
          <span [matMenuTriggerFor]="userMenu" class="userprof_pspan">
            <ng-container *ngIf="currentUser.profilePicture; else elseTemplate">
              <div class="Header-user-image" [class.active]="mobMenuOpened">
                <img src="{{currentUser.profilePicture}}" class="img-fluid" />
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="Header-user-image"
                [ngStyle]="{'background-image':'url(' + '/assets/images/demo_user.svg' + ')'}">
              </div>
            </ng-template>
            <mat-icon class="Header-user-arrow" [matMenuTriggerFor]="userMenu">
              expand_more
            </mat-icon>
          </span>

          <div class="congratulation_popup" *ngIf="box">
            <div class="box arrow-top">
              <div class="container d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <div class="congrats_heading">
                    <h5>{{ "HEADERS.CONGRATULATION" | translate }}</h5>
                    <h5>{{ "HEADERS.ACCOUNT" | translate }}</h5>
                  </div>
                  <div>
                    <a (click)="close()">
                      <mat-icon>close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="mt-3 update_profile">
                  <p>{{ "HEADERS.UPDATE_PROFILE" | translate }}</p>
                  <hr class="my-1">
                </div>
                <div class="d-flex justify-content-end mt-2 btn_update">
                  <button class="button-primary" (click)="openSettingsLightbox($event)">{{ "HEADERS.BUTTON" |
                    translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="h-card for_web">
          <span [matMenuTriggerFor]="walletMenu" class="d-flex align-items-center">
            <img src="assets/images/Home/icon-gc.svg" />
            <span class="ph-card">{{amount | number}} </span>
            <mat-icon [class.active]="mobMenuOpened" role="img" aria-haspopup="true"
              class="mat-icon notranslate mat-menu-trigger Header-user-arrow material-icons mat-icon-no-color display-align"
              aria-hidden="true" data-mat-icon-type="font">
              expand_more
            </mat-icon>
          </span>

          <div class="congratulation_popup for_mobile" *ngIf="box">
            <div class="box arrow-top">
              <div class="container d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <div class="congrats_heading">
                    <h5>{{ "HEADERS.CONGRATULATION" | translate }}</h5>
                    <h5>{{ "HEADERS.ACCOUNT" | translate }}</h5>
                  </div>
                  <div>
                    <a (click)="close()">
                      <mat-icon>close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="mt-3 update_profile">
                  <p>{{ "HEADERS.UPDATE_PROFILE" | translate }}</p>
                  <hr class="my-1">
                </div>
                <div class="d-flex justify-content-end mt-2 btn_update">
                  <button class="button-primary" (click)="openSettingsLightbox($event)">{{ "HEADERS.BUTTON" |
                    translate }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-menu class="global-MatMenu is-user profile_user_menu" #userMenu="matMenu" xPosition="before">
          <div class="Header-user-menu">
            <div class="Header-user-links">
              <div class="">
                <ng-container *ngFor="let link of userLinks">
                  <a *ngIf="isAuthor" class="Header-user-links-top Header-user-link" [routerLink]="link.url">
                    <div class="Header-user-link-icon-block">

                      <img class="img-fluid Header-user-link-icon icon admin_icon"
                        src="assets/icons/home/{{link.icon}}.svg" />
                    </div>
                    <span class="Header-user-link-text">
                      {{ link.title }}
                    </span>
                  </a>
                </ng-container>
              </div>
              <div class="Header-user-links-bottom">
                <a class="Header-user-link" (click)="openSettingsLightbox($event)">
                  <div class="Header-user-link-icon-block">
                    <mat-icon class="Header-user-link-icon icon">
                      settings
                    </mat-icon>
                  </div>
                  <span class="Header-user-link-text">{{ "HEADERS.ACCOUNT_SETTING" | translate }} </span>
                </a>
                <a class="Header-user-link logout" (click)="onLogOut()">
                  <div class="Header-user-link-icon-block">
                    <mat-icon class="Header-user-link-icon icon">
                      exit_to_app
                    </mat-icon>
                  </div>
                  <span class="Header-user-link-text text"> {{ "HEADERS.LOG_OUT" | translate }} </span>
                </a>
              </div>
            </div>
          </div>
        </mat-menu>
        <mat-menu class="global-MatMenu is-user wallet_balance_matmenu" #walletMenu="matMenu" xPosition="before">
          <div class="Header-user-menu">
            <div class="Header-user-links">
              
              <div class="Header-user-links-bottom">
                <a class="Header-user-link" (click)="openReloadPopup()">
                  <div class="Header-user-link-icon-block">
                    <svg class="Header-user-link-icon icon icon_walletplus" viewBox="0 0 22 21" fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M3 0V3H0V5H3V8H5V5H8V3H5V0H3ZM9 3V6H6V9H3V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H19C20.11 21 21 20.11 21 19V18H12C11.4696 18 10.9609 17.7893 10.5858 17.4142C10.2107 17.0391 10 16.5304 10 16V8C10 7.46957 10.2107 6.96086 10.5858 6.58579C10.9609 6.21071 11.4696 6 12 6H21V5C21 4.46957 20.7893 3.96086 20.4142 3.58579C20.0391 3.21071 19.5304 3 19 3H9ZM12 8V16H22V8H12ZM16 10.5C16.83 10.5 17.5 11.17 17.5 12C17.5 12.83 16.83 13.5 16 13.5C15.17 13.5 14.5 12.83 14.5 12C14.5 11.17 15.17 10.5 16 10.5Z"
                        fill="white" fill-opacity="0.6" />
                    </svg>
                  </div>
                  <span class="Header-user-link-text">{{ "HEADERS.RELOAD" | translate }}</span>
                </a>
                <a class="Header-user-link" [routerLink]="AppHtmlRoutes.transaction" (click)="adminLink()">
                  <div class="Header-user-link-icon-block wallet_balance">
                    <img src="../../../assets/icons/cashback_icon.svg" class="img-fluid" />
                  </div>
                  <span class="Header-user-link-text">{{ "HEADERS.Transactions" | translate }}</span>
                </a>
              </div>
            </div>
          </div>
        </mat-menu>
      </div>
      <button class="Header-open" class="hamburgercls" aria-expanded="true">
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
  </div>
  <div class="mobile-menu">
    <div class="header-logo">
      <div class="header-logo-icon" [routerLink]="AppHtmlRoutes.home">
        <img src="assets/images/GGicon-green.png" alt="" />
        <img src="assets/images/GENG GAMER.png" alt="" />
      </div>
      <button id="dsgfdjkf" class="Header-open" class="hamburgercls" aria-expanded="true">
        <mat-icon role="img" class="
            mat-icon
            notranslate
            Header-open-icon
            material-icons
            mat-icon-no-color
          " aria-hidden="true" data-mat-icon-type="font">
          close
        </mat-icon>
      </button>
    </div>
    <div class="txtbox_search">
      <span>
        <img aria-expanded="true" (click)="onSearch()" src="assets/icons/search.svg" class="img-fluid" />
        <input type="text" [(ngModel)]="text" (change)="text.length>=1? onSearch():text.length==0?onSearch():''"
          class="img-fluid" placeholder="Search" />
      </span>
    </div>
    <ul class="mobile-menu__items">
      <li class="linkroute"><a [routerLink]="AppHtmlRoutes.home">
          {{ "HEADERS.SHOP" | translate }}
        </a>
      </li>
      <li class="linkroute">
        <a [routerLink]="AppHtmlRoutes.article">
          {{ "HEADERS.UPDATES" | translate }}
        </a>
      </li>
    </ul>
    <div class="mobile_usermenu" *ngIf="currentUser">
      <hr />
      <div class="Header-user-links-top">
        <mat-accordion class="example-headers-align user_profile" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="Header-user-image"
                  [ngStyle]="{'background-image':'url(' + currentUser?.profilePicture + ')'}">
                </div>{{ "HEADERS.PROFILE" | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let link of userLinks">
              <a *ngIf="isAuthor" class="Header-user-link" [routerLink]="link.url">
                <div class="Header-user-link-icon-block">
                  <img class="img-fluid Header-user-link-icon icon admin_icon"
                    src="assets/icons/home/{{link.icon}}.svg" />
                </div>
                <span class="Header-user-link-text">
                  {{ link.title }}
                </span>
              </a>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="Header-user-links-bottom">
          <a class="Header-user-link d-none">
            <div class="Header-user-link-icon-block notification_width">
              <img src="assets/icons/icon-maxis.svg" class="img-fluid" />
            </div>
            <span class="Header-user-link-text font_family_black"> {{ "HEADERS.NOTIFICATION" | translate }}</span>
          </a>
          <a class="Header-user-link d-none">
            <div class="Header-user-link-icon-block account_width">
              <mat-icon class="Header-user-link-icon icon">
                add_alert
              </mat-icon>
            </div>
            <span class="Header-user-link-text font_family_black"> {{ "Wallet"}} </span>
          </a>
          <ng-container *ngFor="let link of userLinks">
            <div class="linkroute" *ngIf="isAuthor" (click)="adminLink()">
              <a class="Header-user-link" [routerLink]="link.url">
                <div class="Header-user-link-icon-block">
                  <img class="img-fluid Header-user-link-icon icon admin_icon"
                    src="assets/icons/home/{{link.icon}}.svg" />
                </div>
                <span class="Header-user-link-text font_family_black">
                  {{ link.title }}
                </span>
              </a>
            </div>
          </ng-container>
          <a class="Header-user-link" (click)="openSettingsLightbox($event)">
            <div class="Header-user-link-icon-block account_width">
              <mat-icon class="Header-user-link-icon icon">
                settings
              </mat-icon>
            </div>
            <span class="Header-user-link-text font_family_black"> {{ "HEADERS.ACCOUNT_SETTING" | translate }} </span>
          </a>
          <a class="Header-user-link logout" (click)="onLogOut()">
            <div class="Header-user-link-icon-block">
              <mat-icon class="Header-user-link-icon icon">
                exit_to_app
              </mat-icon>
            </div>
            <span class="Header-user-link-text text"> {{ "HEADERS.LOG_OUT" | translate }} </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
