@import "shared";

:host {
  display: block;
}

.TeamCardInvite {
  display: flex;

  &-image {
    flex-shrink: 0;
    width: px2vw-xl(120px);
    background-size: cover;
    background-position: center center;
    background-color: var(--base-black);

    @include lg {
      width: px2vw-lg(200px);
      height: px2vw-lg(200px);
    }

    @include md {
      width: px2vw-md(200px);
      height: px2vw-md(200px);
    }

    @include sm {
      width: px2vw-sm(200px);
      height: auto;
    }
  }

  &-container {
    flex-grow: 1;
    padding: px2vw-xl(35px) px2vw-xl(50px);
    background-color: var(--base-05);

    @include lg {
      padding: px2vw-lg(25px) px2vw-lg(30px);
    }

    @include md {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: px2vw-md(25px);
    }

    @include sm {
      padding: px2vw-sm(20px);
    }
  }

  &-title {
    margin-right: px2vw-xl(20px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(20px);
    }

    @include md {
      margin-right: 0;
      margin-bottom: px2vw-md(14px);
    }

    @include sm {
      margin-bottom: px2vw-sm(14px);
      font-size: px2vw-sm(30px);
    }
  }

  &-nav {
    flex-shrink: 0;
    margin-left: auto;

    @include md {
      margin-left: 0;
    }

    @include sm {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &-nav-link {
    margin-left: px2vw-xl(16px);
    transition: 100ms linear;

    @include lg {
      margin-left: px2vw-lg(14px);
    }

    @include md {
      margin-left: px2vw-md(12px);
    }

    @include sm {
      margin-left: 0;
      margin-top: px2vw-sm(10px);
    }

    &:hover {
     
    }

    &:first-child {
      margin-left: 0;

      @include sm {
        margin-top: 0;
      }
    }
  }
}
