<div class="InputText basic" [formGroup]="customFormGroup">
  <mat-form-field
    class="InputText-title title"
    appearance="outline"
    autocomplete="off"
  >
    <mat-label class="InputText-title title global-Text">
      {{ title }}
    </mat-label>
    <div class="number-counter">
      <button [disabled]="isDisabled" (click)="decrement()" class="counter__button">-</button>
      <input
        matInput=""
        [formControlName]="customFormControlName"
        class="InputText-input input global-Text"
        type="number"
        [readonly]="isDisabled"
        (keyup)="onSubmit($event)"
        (change)="onChange($event.target.value)"
      />
      <button [disabled]="isDisabled" (click)="increment()" class="counter__button">+</button>
    </div>
  </mat-form-field>
</div>
