@import "shared";

:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: 1px solid var(--white-light);
  background: var(--gradient-bg);
}

.HeaderSpark {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: var(--color-background);
  width: 100%;
  border-bottom: 1px solid var(--midnight-express-color);
  font-family: "Avenir Next" !important;
  &-container {
    padding: 16px 32px;
    width: 100%;
  }

  &-top {
    @extend %u-dfCenter;
    justify-content: space-between;
    width: 100%;
  }

  &-logo {
    width: 100%;
    max-width: 153.62px;
    @include md {
      max-width: 100px;
    }
  }

  &-logo-link {
    display: block;
    max-width: 100%;
    img {
      max-width: 100%;
    }
  }

  // &-logo-icon {
  //   height: px2vw-xl(20px);
  //   width: px2vw-xl(97px);

  //   @include lg {
  //     height: px2vw-lg(20px);
  //     width: px2vw-lg(97px);
  //   }

  //   @include md {
  //     height: px2vw-md(20px);
  //     width: px2vw-md(97px);
  //   }

  //   @include sm {
  //     height: px2vw-sm(20px);
  //     width: px2vw-sm(97px);
  //   }
  // }

  &-title {
    @extend %subtitle-1;
    margin-right: px2vw-xl(14px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(14px);
    }

    @include md {
      margin-right: px2vw-md(14px);
    }

    @include sm {
      margin-right: px2vw-sm(14px);
    }
  }

  &-content {
    @extend %u-dfCenter;
    flex-shrink: 0;
    margin-left: auto;
  }

  &-control {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(24px);

    @include lg {
      margin-right: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(24px);
    }
  }

  &-players {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(16px);

    @include lg {
      margin-right: px2vw-lg(16px);
    }

    @include md {
      margin-right: px2vw-md(16px);
    }

    @include sm {
      margin-right: px2vw-sm(16px);
    }
  }

  &-players-icon {
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(20px);
    width: px2vw-xl(24px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(20px);
      width: px2vw-lg(24px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(20px);
      width: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(20px);
      width: px2vw-sm(24px);
    }
  }

  &-players-text {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--white);
  }

  // &-buttons {
  // }

  &-button {
    position: relative;

    &.ready {
      margin-right: px2vw-xl(8px);
      padding-left: px2vw-xl(41px);

      @include lg {
        margin-right: px2vw-lg(8px);
        padding-left: px2vw-lg(41px);
      }

      @include md {
        margin-right: px2vw-md(8px);
        padding-left: px2vw-md(41px);
      }

      @include sm {
        margin-right: px2vw-sm(8px);
        padding-left: px2vw-sm(41px);
      }

      &::before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: px2vw-xl(17px);
        width: px2vw-xl(12px);
        height: px2vw-xl(9px);
        background-image: url(/assets/icons/check.svg);
        background-size: cover;

        @include lg {
          left: px2vw-lg(17px);
          width: px2vw-lg(12px);
          height: px2vw-lg(9px);
        }

        @include md {
          left: px2vw-md(17px);
          width: px2vw-md(12px);
          height: px2vw-md(9px);
        }

        @include sm {
          left: px2vw-sm(17px);
          width: px2vw-sm(12px);
          height: px2vw-sm(9px);
        }
      }
    }

    // &.session {
    // }
  }

  &-close {
    @extend %u-dfCenter;
    background-color: transparent;
    .icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
    }
  }

  &-close-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);
    color: var(--white-medium);
    transition: $global-transition;

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }
  &-ButtonGroup {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;

    .btn {
      padding: 0;
      width: 32px;
      margin-right: 16px;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      &:first-child,
      &:nth-child(2) {
        display: none;
        @include md {
          display: -webkit-inline-flex;
          display: inline-flex;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .icon ::ng-deep svg {
        width: 32px;
      }
    }
  }
}
