@mixin bracket-container {
  display: block;
  position: relative;
  overflow: auto;
  background: var(--base-white) 0% 0% no-repeat padding-box;

  &::-webkit-scrollbar { 
    width: 8px;
    height: 8px;
    }
    
  &::-webkit-scrollbar-thumb { 
    height: 10px; 
    background-color: rgba(0, 0, 3, .3); 
    border-radius: 11px;
  }
}