@import "shared";

:host {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   border-bottom: px2vw-xl(1px) solid var(--white-light);
   background: var(--gradient-bg);
}

section.ss-header-page {
   position: relative;
   padding: 0;
   margin: 0;
   overflow: hidden;
   background-color: var(--darkest-night);
   width: 100%;
   border-bottom: px2vw-xl(1px) solid var(--boysenberry);
   font-family: "Avenir Next" !important;
   .inner {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      padding: 0 px2vw-xl(40px) 0 px2vw-xl(32px);
      min-height: px2vw-xl(80px);
      @include lg {
         min-height: px2vw-lg(70px);
      }
      @include md {
         min-height: px2vw-md(64px);
         padding: 0 px2vw-md(25px);
      }

      a.btn-back {
         width: px2vw-xl(48px);
         height: px2vw-xl(48px);
         display: -webkit-inline-flex;
         display: inline-flex;
         -webkit-justify-content: center;
         justify-content: center;
         -webkit-align-items: center;
         align-items: center;
         border: px2vw-xl(2px) solid var(--secondary-color);
         border-radius: 100%;
         padding: 0;
         @include lg {
            width: px2vw-lg(35px);
            height: px2vw-lg(35px);
         }
         @include md {
            width: px2vw-md(20px);
            height: px2vw-md(20px);
            border: none;
            img {
               width: 100%;
            }
         }
         &.m-first-step {
            display: none;
            @include sm {
               display: inline-flex;
            }
         }
         .icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
         }
      }
      .box-center {
         padding: 0 px2vw-xl(76px) 0 0;
         @include sm {
            padding: 0 0 0 0;
         }
         h2 {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            font-family: var(--selected-font-family);
            color: var(--white);
            margin-bottom: 0;
         }
      }
      .box-right {
         min-width: px2vw-xl(48px);
         @include sm {
            min-width: px2vw-sm(81px);
            text-align: right;
         }
         .btn-close {
            width: px2vw-xl(48px);
            height: px2vw-xl(48px);
            display: inline-flex !important;
            justify-content: center;
            align-items: center;
            border: px2vw-xl(2px) solid var(--spacesuit-50);
            border-radius: 100%;
            padding: 0;
            background: var(--spacesuit-15);
            @include lg {
               width: px2vw-lg(35px);
               height: px2vw-lg(35px);
            }
            @include md {
               width: px2vw-md(35px);
               height: px2vw-md(35px);
               border: none;
               img {
                  width: 100%;
               }
            }
            .icon {
               display: inline-flex;
               justify-content: center;
               align-items: center;
               padding: px2vw-xl(15px);
               @include md {
                  padding: px2vw-xl(15px);
               }
            }
         }
      }
      .box-left {
         min-width: px2vw-xl(123px);
         text-align: right;
         .img-logo {
            img {
               @include sm {
                  width: px2vw-sm(81px);
               }
            }
         }
         @include sm {
            min-width: px2vw-sm(81px);
         }
      }
   }
}
