@import "shared";

:host {
  display: block;
  height: 100%;
}

.LogReg {
  max-width: px2vw-xl(1836px);
  padding: px2vw-xl(40px) 0;
  display: flex;
  align-items: center;
  margin: 0 auto;

  @include lg {
    max-width: none;
    padding: px2vw-lg(20px) px2vw-lg(15px);
    height: auto;
  }

  @include md {
    flex-direction: column;
    padding: px2vw-md(15px);
  }

  @include sm {
    padding: px2vw-sm(18px);
  }

  &-body {
    padding: px2vw-xl(130px) 0 0;

    @include lg {
      padding: px2vw-lg(130px) 0 0;
    }

    @include md {
      padding: px2vw-md(130px) 0 0;
    }

    @include sm {
      padding: px2vw-sm(130px) 0 0;
    }
  }

  &-image-block {
    position: relative;
    background-size: cover;
    background-position: center;
    width: px2vw-xl(800px);
    height: px2vw-xl(900px);

    @include lg {
      height: 90vh;
      background-position: inherit;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 50%;
    }

    @include md {
      background-position: top;
      margin-bottom: px2vw-md(20px);
      height: px2vw-md(160px);
      width: 100%;
      display: none;
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
      height: px2vw-sm(150px);
      display: none;
    }
  }

  &-logo-block {
    position: relative;
    left: px2vw-xl(20px);
    top: px2vw-xl(20px);
    cursor: pointer;
    display: none;

    @include lg {
      left: px2vw-lg(20px);
      top: px2vw-lg(20px);
      display: none;
    }

    @include md {
      display: block;
    }
    @include sm {
      left: px2vw-sm(15px);
      top: px2vw-sm(15px);
    }
  }

  &-logo-image {
    width: px2vw-xl(200px);

    @include lg {
      width: px2vw-lg(200px);
    }

    @include md {
      width: px2vw-md(200px);
    }

    @include sm {
      margin-top: 20px;
      width: px2vw-sm(150px);
    }
  }

  &-main {
    margin-left: px2vw-xl(150px);
    max-width: px2vw-xl(730px);
    width: 100%;
    position: relative;
    z-index: 1;

    @include lg {
      margin-left: px2vw-lg(20px);
      max-width: px2vw-lg(600px);
    }

    @include md {
      margin-left: 0;
      max-width: px2vw-md(600px);
    }

    @include sm {
      max-width: none;
    }

    &-logo {
      margin: 0 auto px2vw-xl(80px);
      display: block;
      text-align: center;

      @include lg {
        margin: 0 auto px2vw-lg(80px);
      }

      @include md {
        margin: 0 auto px2vw-md(80px);
      }

      @include sm {
        margin: 0 auto px2vw-sm(80px);
      }

      img {
        width: px2vw-xl(190px);

        @include lg {
          width: px2vw-lg(190px);
        }

        @include md {
          width: px2vw-md(190px);
        }

        @include sm {
          width: px2vw-sm(190px);
        }
      }
    }
  }
}
