<div class="NeedLogin">
  <img class="NeedLogin-icon" src="assets/icons/locked.svg" alt="icon" />

  <div class="NeedLogin-content">
    <h3 class="NeedLogin-title">
      {{ "NEED_LOGIN.TITLE" | translate }}
    </h3>

    <p class="NeedLogin-subtitle">
      {{ "NEED_LOGIN.SUBTITLE" | translate }}
    </p>
  </div>

  <button
    class="NeedLogin-button button-primary"
    [routerLink]="[
      AppHtmlRoutes.userPageType,
      AppHtmlRoutesLoginType.phoneLogin
    ]"
  >
    {{ "BUTTON.LOGIN" | translate }}
  </button>
</div>
