<div class="notification">
  <div class="notification-banner d-flex align-items-center">
    <div class="notification-banner-description notification-wrpr">

      <div class="text-center">

        <div class="description">

          <h4 class="title"> {{ "PROFILE.INBOX.TITLE" | translate }}
          </h4>

        </div>
      </div>

    </div>
  </div>
  <div>
    <div class="position-relative d-flex justify-content-end">
      <div class="position-absolute notification-xp">

      </div>
    </div>
    <div class="notification-content notification-wrpr">

      <div class="  ">
        <div class="row  ">
          <div class="col-12  d-md-none">

          </div>

        </div>
      </div>

    </div>


    <header class="Inbox-header">
      <h1 class="Inbox-header-title">

      </h1>

      <!--    <button class="Inbox-header-button button-icon-secondary" 
    (click)="removeSelectedRows()">
      <mat-icon> delete </mat-icon>
      <span>
        {{ "BUTTON.DELETE" | translate }}
      </span>
    </button> -->
    </header>


    <section class="Inbox-content mt-4" *ngIf="slicesMessages.length; else noMessages ;let i=index">
      <!-- <div class="Inbox-content-header">
      <div class="Inbox-content-message">
        
        <mat-checkbox
          class="Inbox-content-message-checkbox"
          (click)="onSelectAll()" 
        ></mat-checkbox>
        <span class="Inbox-content-message-text main">
          {{ "PROFILE.INBOX.MESSAGE" | translate }}
        </span>
        <p class="Inbox-content-message-date main global-Elipses">
          {{ "PROFILE.INBOX.DATE_AND_TIME" | translate }}
        </p>
      </div>
    </div>
  
    <ul class="Inbox-content-messages">
      <ng-container *ngFor="let item of slicesMessages">
        <li class="Inbox-content-message">
          <mat-checkbox
            class="Inbox-content-message-checkbox"
            [(ngModel)]="item.isChecked" 
          ></mat-checkbox>
  
          <span
            class="Inbox-content-message-text global-Elipses"
            [routerLink]="[item?._id]"
          >
            {{ item.message }}
          </span>
  
          <p class="Inbox-content-message-date global-Elipses">
            {{ item?.createdAt | date: "short" }}
          </p>
        </li>
      </ng-container>
    </ul>  -->
      <div class="mat-table header tableheader">3 notification in total </div>
      <table mat-table [dataSource]="dataSource">
        <div class="Inbox-content-header">
          <div class="Inbox-content-message">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox class="Inbox-content-message-checkbox" (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" (click)="onSelect(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>
          </div>
        </div>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>
            <p class="desc"> {{ "BUTTON.MARK_AS_READ" | translate }} </p>
          </th>
          <td mat-cell *matCellDef="let element"> <span class="profile">
              <table>
                <tr>
                  <td><img class="profile-logo" src="../../../assets/images/Home/avatar-prelogin.png" alt=""></td>
                  <td><span>
                      <p class="title mt-2 mb-0">{{ element.subject }}</p>
                      <p class="desc">{{ element.message }}</p>
                    </span>
                    <span class="mat-para-date">
                      <p class="desc">{{ element?.createdAt | date: "short" }} </p>
                    </span>
                    <span class="d-block mb-3" *ngIf="element.type == 'facebook'"><a (click)="confirmfriend()" class='link'>{{ "BUTTON.ACCEPT" | translate }}</a> <a
                        class='link'>{{ "BUTTON.REJECT" | translate }}</a></span>
                  </td>
                </tr>
              </table>
            </span>

          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th class="date-created text-right" mat-header-cell *matHeaderCellDef> {{ "PROFILE.INBOX.DATE_AND_TIME" | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <p class="desc float-right">{{ element?.createdAt | date: "short" }} </p>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
      </table>
      <div class="Inbox-content-pagination">

      </div>

      <div class="">
        <div class="row  ">
          <div class="col-12  mt-5">

          </div>

        </div>
      </div>
    </section>

    <ng-template #noMessages>
      <div class="Inbox-empty">
        <h2 class="title">
          {{ "PROFILE.INBOX.EMPTY_TITLE" | translate }}
        </h2>
      </div>
    </ng-template>

    <ng-template #confirmationDialog>
      <div class="row">
        <div class="col-12 mt-5"></div>
      </div>
      <div class="row">
        <div class="col-12 mt-3 title">Friend request accepted</div>
      </div>
      <div class="row">
        <div class="col-12 mt-3 sub_title">Razerfish_12 have been added to your friend list. </div>
      </div>

      <div class="row">
        <div class="col-12 mt-3 sub_title">
          <mat-dialog-actions align="start">
            <button class="Passwords-manage-button button-primary">
              {{ "BUTTON.CONFIRM" | translate }}
            </button>


          </mat-dialog-actions>
        </div>
      </div>


    </ng-template>


    <router-outlet></router-outlet>