<header class="HeaderPaidia">
  <div class="HeaderPaidia-container u-wp">
    <div class="HeaderPaidia-logo">
      <a class="HeaderPaidia-logo-link">
        <img class="HeaderPaidia-logo-icon" src="assets/global-images/logo.svg" alt="logo" />
        <img class="HeaderPaidia-logo-subicon" src="assets/global-images/BETA.svg" alt="logo" />
      </a>
    </div>

    <h2 class="HeaderPaidia-title global-Elipses">{{ "MANAGE_TOURNAMENT.MATCHES.MANAGE_MATCH" | translate}}</h2>

    <div class="HeaderPaidia-content">
      <button routerLink='/play' class="HeaderPaidia-close" routerBack>
        <mat-icon class="HeaderPaidia-close-icon"> close </mat-icon>
      </button>
    </div>
  </div>
</header>
