<!-- <header class="Inbox-header">
  <h1 class="Inbox-header-title">
    {{ "MANAGE_TOURNAMENT.CLIPS.TITLE" | translate }}
  </h1>

</header> -->
<!-- <div class="SelectGame-search">

</div> -->


<div class="Clips">
  <div class="Clips-container">
    <div class="Clips-wrapper">
      <div class="Clips-inner">
        <div class="Clips-heading">
          <h1 class="title">
            {{ "MANAGE_TOURNAMENT.CLIPS.TITLE" | translate }}
          </h1>
        </div>
        <div class="Clips-search">
          <div class="Clips-search-left">
            <span class="text">Showing 3 out of 3 clips</span>
          </div>
          <div class="Clips-search-right">
            <app-inputt-search placeholder="{{ 'MANAGE_TOURNAMENT.CLIPS.PLACEHODER_SEARCH_CLIP' | translate }}"
              [text]="" (onTextChange)="onTextChange($event)">
            </app-inputt-search>
          </div>

        </div>
        <div class="Clips-addClip">
          <button class="btn button-primary" (click)="showPopup($event)">
            {{ "BUTTON.ADD_NEW_CLIP" | translate }}
          </button>
        </div>
        <div class="Clips-main">
          <section class="Inbox-content">
            <ng-container *ngFor="let item of data">
              <app-bookmark-card [data]="item" [isVideo]="true"></app-bookmark-card>
            </ng-container>
            <div class="Standings-ButtonGroup">
              <div class="pagination">
                <span class="pagination-numberPage">
                  Page 1 of 10
                </span>
              </div>
              <div class="ButtonGroup">
                <button type="button" class="btn btn-slider-pre">
                  <span class="icon" inlineSVG="assets/icons/season/Icon-arrow-pre.svg"></span>
                </button>
                <button type="button" class="btn btn-slider-next">
                  <span class="icon" inlineSVG="assets/icons/season/Icon-arrow-next.svg"></span>
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noMessages>
  <div class="Inbox-empty">
    <!--<h2 class="Inbox-empty-title">
      {{ "PROFILE.INBOX.EMPTY_TITLE" | translate }}
    </h2>-->
  </div>
</ng-template>
<div class="Profile-popup" *ngIf="show">
  <app-add-clips (hidePopup)="hidePopup($event)"></app-add-clips>
</div>
<app-fullscreen-loading *ngIf="false"></app-fullscreen-loading>