@import "shared";


:host {
  display: block;
  background: #232120;
}

.Video {
  padding: px2vw-xl(56px) 0 px2vw-xl(113px);

  @include lg {
    padding: px2vw-lg(50px) 0;
  }

  @include md {
    padding: px2vw-md(50px) 0;
  }

  @include sm {
    padding: px2vw-sm(50px) 0;
  }

  &-title {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-buttons {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-list {
    @extend %u-dfCenterCenter;
    flex-flow: wrap;
    margin: 0 px2vw-xl(-8px);

    @include lg {
      margin: 0 px2vw-lg(-8px);
    }

    @include md {
      margin: 0 px2vw-md(-8px);
    }

    @include sm {
      margin: 0 px2vw-sm(-8px);
    }
  }

  &-item {
    margin-bottom: px2vw-xl(20px);

    @include lg {
      margin-bottom: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(20px);
    }
  }
}

.pagination{
  justify-content: center !important;
}
