<div class="form-group" [formGroup]="customFormGroup">
  <input
    *ngIf="type == 'STRING'"
    type="text"
    class="form-control"
    [formControlName]="customFormControlName"
    [readonly]="readOnly"
    (keyup)="setValue($event?.target?.value)"
  />
  <input
    *ngIf="type == 'NUMBER'"
    type="text"
    OnlyNumber
    class="form-control"
    [ngClass]="class"
    [formControlName]="customFormControlName"
    (keyup)="setValue($event?.target?.value)"
  />
  <label
    *ngIf="title"
    for="bracket_name"
    class="labeltext"
    [class.active]="(customFormGroup?.controls)[customFormControlName]?.value"
    >{{ title | translate }} *</label
  >
  <ng-container *ngIf="enableFormGroupValidation">
    <div
      class="error"
      *ngIf="customFormGroup?.touched && customFormGroup?.errors"
    >
      <strong>
        {{ customFormGroup?.errors | errorPipe: patternType | translate }}
      </strong>
    </div>
  </ng-container>
  <ng-container *ngIf="!enableFormGroupValidation">
    <div
      class="error"
      *ngIf="
        (customFormGroup?.controls)[customFormControlName]?.touched &&
        (customFormGroup?.controls)[customFormControlName]?.errors
      "
    >
      <strong>
        {{
          (customFormGroup?.controls)[customFormControlName]?.errors
            | errorPipe: patternType
            | translate
        }}
      </strong>
    </div>
  </ng-container>
  <div
    class="available"
    *ngIf="
      enableSearch &&
      (customFormGroup?.controls)[customFormControlName]?.touched &&
      !(customFormGroup?.controls)[customFormControlName]?.errors
    "
  >
    <strong>
      {{ searchMessage | translate }}
    </strong>
  </div>
</div>
