@import "shared";

.PrivacyPolicy {
  margin-top: px2vw-lg(40px) !important;

  & h1 {
    margin-bottom: px2vw-lg(40px);
  }

  & p {
    color: var(--black);
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);
    font-family: "Paralucent-Light",  san-serif;
    font-weight: normal;

    @include lg {
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  & ul {
    list-style-type: upper-roman;
    margin: auto;
    padding-left: px2vw-lg(30px);

    & li {
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);
      font-family: "Paralucent-Light",  san-serif;
      font-weight: normal;
      margin-bottom: px2vw-lg(10px);

      @include lg {
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
      }
    }
  }

  & ul.rtl-text {
    list-style-type: decimal-leading-zero;
    margin: auto;
    padding-right: px2vw-lg(30px);

    & li {
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);
      font-family: "Paralucent-Light",  san-serif;
      font-weight: normal;
      margin-bottom: px2vw-lg(10px);

      @include lg {
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
      }
    }
  }

  & a {
    color: var(--color-primary);
  }
}
