<!-- <app-header-info></app-header-info> -->

<!-- <div class="HeaderInfo-Top small">
  <div class="u-wp">
    <div class="TeamRegistration">
      <div class="TeamRegistration-container">
        <app-new-team *ngIf="teamRegistrationActiveStep === 0" [teams]="teamList" (submit)="selectedTeam($event)">
        </app-new-team>

        <app-select-teammates *ngIf="teamRegistrationActiveStep === 1 && teamMemberList" [team]="teamSelected"
          [members]="teamMemberList" [tournament]="tournament">
        </app-select-teammates>
      </div>

      <app-about-tournament [tournament]="tournament" [prizeSum]="prizeSum"></app-about-tournament>
    </div>
  </div>
</div> --> 
<app-header-dynasty [title]=" pageTitle | translate" [routerLink]="AppHtmlRoutes.play"></app-header-dynasty>
<div class="TeamRegistration">
  <div class="TeamRegistration-container">
    <div class="TeamRegistration-wrapper">
      <div class="TeamRegistration-inner">
        <div *ngIf="teamRegistrationActiveStep === 0" class="TeamRegistration-aside">
          <div class="TeamRegistration-aside-Thumbnail">
            <img [src]='tournament?.banner' alt="">
          </div>
          <div class="TeamRegistration-aside-Info">
            <div class="TeamRegistration-aside-Info-box">
              <h4 class="title">
                {{tournament?.name}}
              </h4>
              <div class="price">
                <span> {{tournament?.regStartDate |date}} — {{tournament?.regEndDate |date}}</span>
              </div>
              <a class="link-to">
                {{
                "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_OPEN" | translate
                }}</a>
              <a class="link-to" *ngIf="registrationStatus?.isClosed">{{
                "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_HAS_ENDED"
                | translate
                }}</a>
              <a class="link-to" *ngIf="registrationStatus?.notYetStarted">{{
                "ADMIN.USER_MANAGEMENT.TABLE_HEADER.REGISTRATION_YET_TO_OPEN"
                | translate
                }}</a>
            </div>
          </div>
        </div>
        <main class="SelectTeams-main">
          <section class="SelectTeams-items">
            <app-new-team *ngIf="teamRegistrationActiveStep === 0" [teams]="teamList" (submit)="selectedTeam($event)">
            </app-new-team>

            <app-select-teammates *ngIf="teamRegistrationActiveStep === 1 && teamMemberList" [team]="teamSelected"
              [members]="teamMemberList" [tournament]="tournament" [isSeasonTournament]="isSeasonTournament">
            </app-select-teammates>
          </section>
        </main>
      </div>
    </div>
  </div>
</div>

<div class="ss-footer-buttons" *ngIf="isMatchMaking">
  <div class="wrapper">
    <div class="inner">
      <div class="box-item box-item-left">
        <div class="wap-step">
          Step <span class="nth-step">{{ step }}</span> of {{ totalPages }}:
          <span *ngIf="teamRegistrationActiveStep == 0">{{
            "ELIMINATION.SELECT_TEAM" | translate
          }}</span>
          <span *ngIf="teamRegistrationActiveStep == 1">{{
            "ELIMINATION.SELECT_PARTICIPENTS" | translate
          }}</span>
         
        </div>
        <div class="progressBarContainer mb-hide">
          <div class="app-progressBar">
            <ul class="lists" *ngIf="totalPages == 2">
              <li [class]="step >= 1 ? 'item active' : 'item'"></li>
              <li [class]="step >= 2 ? 'item active' : 'item'"></li>              
            </ul>
            <ul class="lists" *ngIf="totalPages == 4">
              <li [class]="step >= 1 ? 'item active' : 'item'"></li>
              <li [class]="step >= 2 ? 'item active' : 'item'"></li>  
              <li [class]="step >= 3 ? 'item active' : 'item'"></li>  
              <li [class]="step >= 4 ? 'item active' : 'item'"></li>              
            </ul>
          </div>
        </div>
      </div>
      <div class="box-item box-item-right">
        <button class="PageSwitcher-button second" *ngIf="teamRegistrationActiveStep == 0">
          {{ "BUTTON.NEXT" | translate }}
        </button>
        <button class="PageSwitcher-button second" *ngIf="teamRegistrationActiveStep == 1">
          {{ "BUTTON.FIND_A_MATCH" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<esports-fullscreen-loading *ngIf="!isLoaded"></esports-fullscreen-loading>
