@import "shared";

.shop-card-topup {
  color: var(--black);
  background-color: var(--color_skyblue);
  height: px2vw-xl(20px);
  padding: 0 px2vw-xl(8px);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-size: px2vw-xl(10px);
  font-family: "maxis-bold";
  letter-spacing: px2vw-xl(1px);
  text-transform: uppercase;
  @include lg {
    height: px2vw-lg(20px);
    padding: 0 px2vw-lg(8px);
    font-size: px2vw-lg(10px);
    letter-spacing: px2vw-lg(1px);
  }
  @include md {
    height: px2vw-md(20px);
    padding: 0 px2vw-md(8px);
    font-size: px2vw-md(10px);
    letter-spacing: px2vw-md(1px);
  }
  @include sm {
    height: px2vw-sm(20px);
    padding: 0 px2vw-sm(8px);
    font-size: px2vw-sm(10px);
    letter-spacing: px2vw-sm(1px);
  }
  @media (max-width: 599px) {
    height: 20px;
    padding: 0 8px;
    font-size: 10px;
    letter-spacing: 1px;
  }
}
.shop-card-header {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-family: "maxis-bold";
  line-height: px2vw-xl(19px);
  letter-spacing: px2vw-xl(0.15px);
  font-size: px2vw-xl(16px);
  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(19px);
    letter-spacing: px2vw-lg(0.15px);
  }
  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(19px);
    letter-spacing: px2vw-md(0.15px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(19px);
    letter-spacing: px2vw-sm(0.15px);
  }
}
.txt_content {
  padding: 0 1rem;
  height: px2vw-xl(66px);
  @include lg {
    height: px2vw-lg(66px);
  }
  @include md {
    height: px2vw-md(66px);
  }
  @include sm {
    height: px2vw-sm(66px);
  }
}
.shop-card-footer {
  font-size: px2vw-xl(17px);
  background-color: var(--color-blackgray);
  border-top: px2vw-xl(1px) solid var(--color-bordergray);
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-items: center;
  margin-top: 0px;
  height: px2vw-xl(59px);
  justify-content: space-between;
  @include lg {
    font-size: px2vw-lg(17px);
    height: px2vw-lg(59px);
    border-top: px2vw-lg(1px) solid var(--color-bordergray);
  }
  @include md {
    font-size: px2vw-md(17px);
    height: px2vw-md(59px);
    border-top: px2vw-md(1px) solid var(--color-bordergray);
  }
  @include sm {
    font-size: px2vw-sm(17px);
    height: px2vw-sm(59px);
    border-top: px2vw-sm(1px) solid var(--color-bordergray);
  }
  @media (max-width: 599px) {
    font-size: 17px;
    height: 59px;
    border-top: 1px solid var(--color-bordergray);
  }
}
.shop-card-image {
  margin: px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(8px) px2vw-xl(16px);
  height: px2vw-xl(175px);
  background-size: cover;
  background-position: center center;
  position: relative;
  opacity: 1;
  @include lg {
    margin: px2vw-lg(16px) px2vw-lg(16px) px2vw-lg(8px) px2vw-lg(16px);
    height: px2vw-lg(175px);
  }
  @include md {
    margin: px2vw-md(16px) px2vw-md(16px) px2vw-md(8px) px2vw-md(16px);
    height: px2vw-md(175px);
  }
  @include sm {
    margin: px2vw-sm(16px) px2vw-sm(16px) px2vw-sm(8px) px2vw-sm(16px);
    height: px2vw-sm(175px);
  }
  @media (max-width: 599px) {
    margin: 16px 16px 8px 16px;
    height: 175px;
  }
  .shop-card-topup {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.shop-card-author-image {
  color: var(--gray);
  margin-bottom: px2vw-xl(10px);
  font-size: px2vw-xl(12px);
  font-family: 'maxis-semibold';
  letter-spacing: 0.4px;
  line-height: px2vw-xl(16px);
  @include lg {
    margin-bottom: px2vw-lg(10px);
    font-size: px2vw-lg(12px);
    letter-spacing: px2vw-lg(0.4px);
    line-height: px2vw-lg(16px);
  }
  @include md {
    margin-bottom: px2vw-md(10px);
    font-size: px2vw-md(12px);
    letter-spacing: px2vw-md(0.4px);
    line-height: px2vw-md(16px);
  }
  @include sm {
    margin-bottom: px2vw-sm(10px);
    font-size: px2vw-sm(12px);
    letter-spacing: px2vw-sm(0.4px);
    line-height: px2vw-sm(16px);
  }
  @media (max-width: 599px) {
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
  }
}

.shop-card-from-text {
  font-family: "maxis-regular";
  font-size: px2vw-xl(12px);
  line-height: px2vw-xl(16px);
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  color: var(--white-medium);
  padding-bottom: px2vw-xl(5px);
  @include lg {
    font-size: px2vw-lg(12px);
    line-height: px2vw-lg(16px);
    padding-bottom: px2vw-lg(5px);
  }
  @include md {
    font-size: px2vw-md(12px);
    line-height: px2vw-md(16px);
    padding-bottom: px2vw-md(5px);
  }
  @include sm {
    font-size: px2vw-sm(12px);
    line-height: px2vw-sm(16px);
    padding-bottom: px2vw-sm(5px);
  }
  @media (max-width: 599px) {
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 5px;
  }
}

::ng-deep .shop-card-content {
  margin-bottom: px2vw-xl(16px) !important;
  @include lg {
    margin-bottom: px2vw-lg(16px) !important;
  }
  @include md {
    margin-bottom: px2vw-md(16px) !important;
  }
  @include sm {
    margin-bottom: px2vw-sm(16px) !important;
  }
  @media (max-width: 599px) {
    margin-bottom: 16px !important;
  }
}
::ng-deep .Matchmaking-game .shop-game-cards {
  margin-bottom: px2vw-xl(30px);
  @include lg {
    margin-bottom: px2vw-lg(30px) !important;
  }
  @include md {
    margin-bottom: px2vw-md(30px) !important;
  }
  @include sm {
    margin-bottom: px2vw-sm(30px) !important;
  }
  @media (max-width: 599px) {
    margin-bottom: 30px !important;
  }
}
.shop-card-game {
  background: var(--color-darkgray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: px2vw-xl(10px) px2vw-xl(10px);
  border: 1px solid var(--white-smoke);
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(16px);
  letter-spacing: 0.5px;
  color: var(--white);
  height: px2vw-xl(36px);
  cursor: pointer;
  font-family: 'maxis-bold';
  @include lg {
    padding: px2vw-lg(10px) px2vw-lg(10px);
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(16px);
    height: px2vw-lg(36px);
  }
  @include md {
    padding: px2vw-md(10px) px2vw-md(10px);
    font-size: px2vw-md(14px);
    line-height: px2vw-md(16px);
    height: px2vw-md(36px);
  }
  @include sm {
    padding: px2vw-sm(10px) px2vw-sm(10px);
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(16px);
    height: px2vw-sm(36px);
  }
  @media (max-width: 599px) {
    padding: 10px 10px;
    font-size: 14px;
    line-height: 16px;
    height: 36px;
  }
}
.swiper-container {
  overflow: hidden;
}
.Play-ongoing-card-author-name {
  display: flex;
  font-family: "maxis-black";
  font-size: px2vw-xl(20px);
  @include lg {
    font-size: px2vw-lg(20px);
  }
  @include md {
    font-size: px2vw-md(20px);
  }
  @include sm {
    font-size: px2vw-sm(20px);
  }
  @media (max-width: 599px) {
    font-size: 20px;
  }
  img {
    margin-right: px2vw-xl(5px);
    width: px2vw-xl(20px);
    @include lg {
      margin-right: px2vw-lg(5px);
      width: px2vw-lg(20px);
    }
    @include md {
      margin-right: px2vw-md(5px);
      width: px2vw-md(20px);
    }
    @include sm {
      margin-right: px2vw-sm(5px);
      width: px2vw-sm(20px);
    }
    @media (max-width: 599px) {
      margin-right: 5px;
      width: 20px;
    }
  }
}

@media only screen and (max-width: 600px) {
  ::ng-deep {
    .shop-card-content {
      .shop-card-header {
        font-size: 14px !important;
      }
      .shop-card-author-image {
        font-size: 13px !important;
      }
    }
  }
  .shop-card-game {
    height: 30px;
    font-size: 13px;
    padding: 10px 8px;
  }
}
