@import "shared";

$success-background: var(--color-green-lgt3);
$info-background: var( --color-lgt-blue3);
$error-background: var(--color-close-btn1);
$promo-background: var(--white);
$text-font-family: "maxis-semibold";
$text-color: var(--white);
$promo-text-color: var(--black);
$promo-subText-color: var( --white-gray-light);

:host {
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  background-color: transparent;
}

.Snack {
  height: 100%;
  display: flex;
  align-items: center;
  padding: px2vw-xl(10px) px2vw-xl(15px);
  @include xxl {
    padding: px2vw-xxl(10px) px2vw-xxl(15px);
  }
  @include lg {
    padding: px2vw-lg(10px) px2vw-lg(15px);
  }

  @include md {
    padding: px2vw-md(10px) px2vw-md(15px);
  }

  @include sm {
    padding: px2vw-sm(10px) px2vw-sm(15px);
  }
  &.success-message {
    background-color: $success-background;
  }

  &.info-message {
    background-color: $info-background;
  }

  &.error-message {
    background-color: $error-background;
  }

  &.promo-message {
    background-color: $promo-background;

    .Snack-text {
      color: $promo-subText-color !important;
    }
    .material-icons {
      color: $promo-text-color !important;
    }
  }

  &-text {
    flex: 1;
    font-family: $text-font-family;
    font-size: px2vw-xl(16px);
    line-height: px2vw-xl(28px);
    color: $text-color;
    @include xxl {
      font-size: px2vw-xxl(16px);
      line-height: px2vw-xxl(28px);
    }
    @include lg {
      font-size: px2vw-lg(16px);
      line-height: px2vw-lg(28px);
    }

    @include md {
      font-size: px2vw-md(16px);
      line-height: px2vw-md(28px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(28px);
    }
  }

  &-close-block {
    height: 100%;
    margin-left: px2vw-xl(13px);
  }

  &-close {
    background-color: transparent;
    display: flex;
    .material-icons {
      font-size: px2vw-xl(20px);
      color: $text-color;
      @include xxl {
        font-size: px2vw-xxl(24px);
      }
      @include lg {
        font-size: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(24px);
      }
    }
  }
}

::ng-deep {
  .mat-snack-bar-container {
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding: px2vw-xl(80px) px2vw-xl(40px) 0px 0;
    @include xxl {
      padding: px2vw-xxl(80px) px2vw-xxl(40px) 0px 0;
    }
    @include lg {
      padding: px2vw-lg(80px) px2vw-lg(40px) 0px 0;
    }

    @include md {
      padding: px2vw-md(80px) px2vw-md(40px) 0px 0;
    }

    @include sm {
      padding: px2vw-sm(80px) px2vw-sm(40px) 0px 0;
    }
  }
}

.Promo {
  &-head {
    color: var(--black);
    font-weight: bold;
  }
  &-subTitle {
    color: var(--black);
    font-size: 85%;
    word-break: break-word;
    margin-bottom: 0;
  }
}
