@import "shared";
@import "../../../../../../src/scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.SelectDate {
  padding-bottom: px2vw-xl(60px);
  @include lg {
    padding-bottom: px2vw-lg(60px);
  }

  @include md {
    padding-bottom: px2vw-md(60px);
  }

  @include sm {
    padding-bottom: px2vw-sm(60px);
  }

  &-container,
  &-switcher-container {
    max-width: px2vw-xl(994px);
    width: 100%;

    @include lg {
      max-width: px2vw-lg(620px);
    }

    @include md {
      max-width: none;
    }
  }

  &-container {
    margin-top: px2vw-xl(64px);
    margin-bottom: px2vw-xl(64px);

    @include lg {
      margin-top: px2vw-lg(64px);
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-top: px2vw-md(64px);
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-top: px2vw-sm(60px);
      margin-bottom: px2vw-sm(50px);
    }

    .SelectDate-logo {
      display: inline-flex;

      @include sm {
        display: inline-block;
        margin-top: px2vw-sm(50px);
      }

      margin-bottom: px2vw-xl(50px);

      .SelectDate-logo-icon {
        width: 36px;
        margin-right: 25px;
      }

      .SelectDate-title {
        margin-bottom: unset;
        align-self: flex-end;
        font-weight: 900;
        font-size: 34px;
        line-height: 36px;

        @include sm {
          font-size: px2vw-sm(18px);
        }
      }
    }

    .SelectDate-container {
      margin-left: px2vw-xl(50px);
    }

    .SelectDate-container {
      margin-right: px2vw-sm(-20px);
      margin-bottom: px2vw-sm(35px);
      font-size: px2vw-sm(14px);
    }
  }


  &-switcher-container {
    margin-top: auto;
  }

  &-fields {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(48px);
    margin-bottom: px2vw-xl(30px);
  }

  @include sm {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

::ng-deep {
  .SelectDate-container {
    .TournamentTime-field {
      font-size: 24px;
      line-height: 24px;
    }

    .TournamentDate-field {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

@include sm {
  .SelectDate-fields {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-left: px2vw-sm(-15px);
  }
}