@import "shared";

:host {
  display: block;
}

.SearchArticle {
  &-count {
    margin-bottom: 0;
    margin-top: px2vw-xl(16px);
    font-family: "maxis-semibold";
    font-size: px2vw-xl(14px);
    letter-spacing: px2vw-xl(0.25px);
    line-height: px2vw-xl(20px);
    color: var(--white-medium);
    @include xxl {
      margin-top: px2vw-xxl(16px);
      font-size: px2vw-xxl(14px);
      letter-spacing: px2vw-xxl(0.25px);
      line-height: px2vw-xxl(20px);
    }
    @include lg {
      margin-top: px2vw-lg(16px);
      font-size: px2vw-lg(14px);
      letter-spacing: px2vw-lg(0.25px);
      line-height: px2vw-lg(20px);
    }
    @include md {
      margin-top: px2vw-md(16px);
      font-size: px2vw-md(14px);
      letter-spacing: px2vw-md(0.25px);
      line-height: px2vw-md(20px);
    }
    @include sm {
      margin-top: px2vw-sm(16px);
      font-size: px2vw-sm(14px);
      letter-spacing: px2vw-sm(0.25px);
      line-height: px2vw-sm(20px);
    }
  }
  &-title {
    @extend %global-H5;
    margin-bottom: px2vw-xl(24px);
    margin-top: px2vw-xl(56px);
    text-transform: inherit;
    @include xxl {
      margin-bottom: px2vw-xxl(24px);
      margin-top: px2vw-xxl(56px);
    }
    @include lg {
      margin-bottom: px2vw-lg(24px);
      margin-top: px2vw-lg(56px);
    }
    @include md {
      margin-bottom: px2vw-md(24px);
      margin-top: px2vw-lg(56px);
    }
    @include sm {
      margin-bottom: px2vw-sm(24px);
      margin-top: px2vw-sm(56px);
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: px2vw-xl(16px);
    grid-row-gap: px2vw-xl(32px);
    @include xxl {
      grid-column-gap: px2vw-xxl(16px);
      grid-row-gap: px2vw-xxl(32px);
    }
    @include lg {
      grid-column-gap: px2vw-lg(16px);
      grid-row-gap: px2vw-lg(32px);
    }
    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(16px);
      grid-row-gap: px2vw-md(32px);
    }
    @include sm {
      grid-column-gap: px2vw-sm(16px);
      grid-row-gap: px2vw-sm(32px);
    }
  }

  &-message {
    @extend %global-H6;
    margin-bottom: 0;
    color: var(--color-primary);
  }
}
