<div class="SearchInput">
  <input class="SearchInput-field" [(ngModel)]="text" (keydown.enter)="onSearch()" type="text"
    placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}" />
  <span class="icon">
    <img (click)="onSearch()" src="../../../assets/global-images/icon_search.svg" class="img-fluid" alt="" />
  </span>
</div>