@import "shared";

:host {
  display: block;
  margin-bottom: 20px;
}

.BasicInfo-footer {
  padding-top: 30px;

  padding-bottom: 30px;

  button {
    margin-right: 10px;
  }
}

.form-group > .labeltext {
  top: -6px;
  left: 35px;
  position: absolute;
  color: var(--whitecolor);
  padding: 0px 5px 0px 5px;
  font-size: 0.9em;
  background-color: var(--loginModalBgColor) !important;
}

.second-form {
  input {
    width: 45px;
    height: 45px;
    background: transparent;
    padding: 0;
    margin-right: 25px;
    text-align: center;
    border: 1px solid var(--whitecolor);
    border-radius: 5px;
    color: var(--whitecolor);
    &:last-child {
      margin-right: 0;
    }
  }
}
.resend {
  color: var(--errorcolor) !important;
  text-transform: uppercase;
}
.link-img {
  padding: 0rem 0.9rem;
  img {
    width: 30px;
  }
}
.usericon {
  position: absolute;
  top: 12px;
  right: 38px;
  color: var(--whitecolor);
}
.form-group {
  position: relative;
  margin-bottom: 2rem;
}
.width-100 {
  width: 100%;
  position: absolute;
  left: -50px;
}

.col6 {
  margin-top: 3rem;
}
// .regis-red-color {
// 	color: var(--errorcolor);
// 	text-transform: uppercase;
// 	font-family: "dynasty-primary-large";
// }
.wel-text {
  text-transform: none !important;
}
// .red-color {
// 	color: var(--errorcolor);
// }

.mr-top {
  margin-top: 2rem;
}

.btn {
  text-transform: uppercase;
  width: auto;
  margin-right: 0.5rem;
  padding: 0.475rem 2rem;
}
// mobile responsive
@media (max-width: 992px) {
  .form-group > .labeltext {
    top: -6px;
    left: 65px;
    position: absolute;
    color: var(--whitecolor);
    padding: 0px 5px 0px 5px;
    font-size: 0.9em;
    background-color: var(--loginModalBgColor) !important;
  }
  .usericon {
    position: absolute;
    top: 12px;
    right: 68px;
    color: var(--whitecolor);
  }
  .col-md-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .btn {
    text-transform: uppercase;
    width: auto;
    margin-right: 0.1rem;
    padding: 0.475rem 2rem;
  }
  #register-section {
    padding: 1.9em 0em;
  }
  .btn {
    width: auto;
  }
  .col6 {
    margin-top: 0rem;
  }
  .register-row {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .form-group > .labeltext {
    top: -6px;
    left: 5px;
    position: absolute;
    color: var(--whitecolor);
    padding: 0px 5px 0px 5px;
    font-size: 0.9em;
    background-color: var(--loginModalBgColor) !important;
  }
  .usericon {
    position: absolute;
    top: 12px;
    right: 8px;
    color: var(--whitecolor);
  }
  .col-md-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .btn {
    text-transform: uppercase;
    width: auto;
    margin-right: 0.2rem;
    padding: 0.475rem 2rem;
  }
  .form-group {
    position: relative !important;
    margin-bottom: 0rem !important;
  }
  .float-left,
  .float-right {
    font-size: 12px;
  }
  .form-group p {
    font-size: 12px;
  }

  .wel-text {
    padding-bottom: 0rem !important;
  }
  .width-100 {
    width: 100%;
    position: absolute;
    left: -20px;
  }
}

.modal-body {
  border-radius: 4px;
  background-color: #303030;
  color: white;

  .modal-header-color {
    color: var(--errorcolor);
    text-transform: uppercase;
    font-family: "dynasty-primary-large";
  }
  .wel-text {
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    font-family: "dynasty-primary-regular";
  }
}
