<div class="TeamCardInfo">
  <div
    *ngIf="data.logo"
    class="TeamCardInfo-image"
    [style.background-image]="'url(' + data.logo + ')'"
  ></div>
  <div
    *ngIf="!data.logo"
    class="TeamCardInfo-image"
    [style.background-image]="'url(assets/images/Profile/stc_avatar.png)'"
  ></div>

  <div class="TeamCardInfo-container u-dfCenterStart">
    <div class="TeamCardInfo-manage u-dfEndBtw">
      <header class="TeamCardInfo-header u-dfCenterStart">
        <h3 class="TeamCardInfo-title global-Title2 global-Elipses">
          {{ data.teamName | limitString: 23:"..." }}
        </h3>

        <nav class="TeamCardInfo-socials u-dfCenterStart">
          <a class="TeamCardInfo-social" *ngFor="let social of socials">
            <div *ngIf="this.data?.social">
              <a
                [href]="(this.data?.social)[social.name]"
                target="_blank"
                *ngIf="(this.data?.social)[social.name]"
                class="TeamCardInfo-social-icon"
                [inlineSVG]="social.icon"
              ></a>
            </div>
          </a>
        </nav>
      </header>
    </div>

    <!-- <div class="TeamCardInfo-trophies u-dfCenterStart">
      <p class="TeamCardInfo-trophies-title global-Title3 global-Elipses">
        {{ "PROFILE.TEAMS.COMPONENTS.INFO.TEAM_TROPHIES" | translate }}
      </p>

      <div class="TeamCardInfo-trophy u-dfCenterStart">
        <img
          class="TeamCardInfo-trophy-icon"
          src="assets/images/Tournament/1-prize.png"
          alt="gold icon"
        />
        <span class="TeamCardInfo-trophy-text global-Text">
          {{ data.trophies.gold }}
        </span>
      </div>

      <div class="TeamCardInfo-trophy u-dfCenterStart">
        <img
          class="TeamCardInfo-trophy-icon"
          src="assets/images/Tournament/2-prize.png"
          alt="silver icon"
        />
        <span class="TeamCardInfo-trophy-text global-Text">
          {{ data.trophies.silver }}
        </span>
      </div>

      <div class="TeamCardInfo-trophy u-dfCenterStart">
        <img
          class="TeamCardInfo-trophy-icon"
          src="assets/images/Tournament/3-prize.png"
          alt="bronze icon"
        />
        <span class="TeamCardInfo-trophy-text global-Text">
          {{ data.trophies.bronze }}
        </span>
      </div>
    </div> -->
  </div>
</div>
