@import "shared";

.searchbox {
  width: 100%;
}

.App {
  display: block;
  height: 100%;

  &-sidenav {
    ::ng-deep {
      .mat-drawer-backdrop.mat-drawer-shown {
        background-color: initial;
      }

      .mat-drawer.mat-drawer-end {
        top: px2vw-xl(79px);
        max-width: px2vw-xl(500px);
        width: 100%;
        position: fixed;
        background: #171616;

        @include lg {
          top: px2vw-lg(79px);
          max-width: px2vw-lg(500px);
        }

        @include md {
          top: px2vw-md(79px);
          max-width: 90%;
        }

        @include sm {
          top: px2vw-sm(79px);
        }
      }
    }
  }

  &-main {
    padding-top: px2vw-xl(79px);
    min-height: 100%;

    @include lg {
      padding-top: px2vw-lg(79px);
    }

    @include md {
      padding-top: px2vw-md(79px);
    }

    @include sm {
      padding-top: px2vw-sm(79px);
    }
  }

  &-chat {
    padding: px2vw-xl(45px) px2vw-xl(15px);

    @include lg {
      padding: px2vw-lg(45px) px2vw-lg(15px);
    }

    @include md {
      padding: px2vw-md(45px) px2vw-md(15px);
    }

    @include sm {
      padding: px2vw-sm(45px) px2vw-sm(15px);
    }

    &-search {
      @extend %u-dfCenterStart;
      border-radius: px2vw-xl(5px);
      margin-bottom: px2vw-xl(40px);
      padding: px2vw-xl(9px);
      background: rgba(55, 55, 55, 0.5);

      @include lg {
        border-radius: px2vw-lg(5px);
        margin-bottom: px2vw-lg(40px);
        padding: px2vw-lg(9px);
      }

      @include md {
        border-radius: px2vw-md(5px);
        margin-bottom: px2vw-md(40px);
        padding: px2vw-md(9px);
      }

      @include sm {
        border-radius: px2vw-sm(5px);
        margin-bottom: px2vw-sm(40px);
        padding: px2vw-sm(9px);
      }

      input {
        font-size: px2vw-xl(15px);
        margin-left: px2vw-xl(10px);
        background: none;
        border: none;
        color: var(--whitecolor);

        @include lg {
          font-size: px2vw-lg(15px);
          margin-left: px2vw-lg(10px);
        }

        @include md {
          font-size: px2vw-md(15px);
          margin-left: px2vw-md(10px);
        }

        @include sm {
          font-size: px2vw-sm(15px);
          margin-left: px2vw-sm(10px);
        }
      }
    }

    &-item {
      @extend %u-dfStartBtw;
      padding: px2vw-xl(10px) px2vw-xl(15px);
      border-radius: px2vw-xl(5px);
      margin-bottom: px2vw-xl(40px);
      transition: all 100ms linear;
      cursor: pointer;

      @include lg {
        padding: px2vw-lg(10px) px2vw-lg(15px);
        border-radius: px2vw-lg(5px);
        margin-bottom: px2vw-lg(40px);
      }

      @include md {
        padding: px2vw-md(10px) px2vw-md(15px);
        border-radius: px2vw-md(5px);
        margin-bottom: px2vw-md(40px);
      }

      @include sm {
        padding: px2vw-sm(10px) px2vw-sm(15px);
        border-radius: px2vw-sm(5px);
        margin-bottom: px2vw-sm(40px);
      }

      &:hover {
        background: #262626;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-ava {
        img {
          min-width: px2vw-xl(72px);
          width: px2vw-xl(72px);
          height: px2vw-xl(72px);
          margin-right: px2vw-xl(40px);
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;

          @include lg {
            min-width: px2vw-lg(72px);
            width: px2vw-lg(72px);
            height: px2vw-lg(72px);
            margin-right: px2vw-lg(40px);
          }

          @include md {
            min-width: px2vw-md(72px);
            width: px2vw-md(72px);
            height: px2vw-md(72px);
            margin-right: px2vw-md(40px);
          }

          @include sm {
            min-width: px2vw-sm(72px);
            width: px2vw-sm(72px);
            height: px2vw-sm(72px);
            margin-right: px2vw-sm(40px);
          }
        }
      }

      &-info {
        width: 100%;

        &-title {
          font-size: px2vw-xl(22px);
          margin-bottom: px2vw-xl(5px);
          font-family: "dynasty-primary-semibold", sans-serif;

          @include lg {
            font-size: px2vw-lg(22px);
            margin-bottom: px2vw-lg(5px);
          }

          @include md {
            font-size: px2vw-md(22px);
            margin-bottom: px2vw-md(5px);
          }

          @include sm {
            font-size: px2vw-sm(22px);
            margin-bottom: px2vw-sm(5px);
          }
        }

        &-text {
          font-size: px2vw-xl(17px);
          margin-bottom: px2vw-xl(5px);
          max-width: px2vw-xl(290px);
          margin-right: px2vw-xl(20px);
          font-family: "dynasty-primary-regular", sans-serif;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          @include lg {
            font-size: px2vw-lg(17px);
            margin-bottom: px2vw-lg(5px);
            max-width: px2vw-lg(290px);
            margin-right: px2vw-lg(20px);
          }

          @include md {
            font-size: px2vw-md(17px);
            margin-bottom: px2vw-md(5px);
            max-width: px2vw-md(290px);
            margin-right: px2vw-md(20px);
          }

          @include sm {
            font-size: px2vw-sm(17px);
            margin-bottom: px2vw-sm(5px);
            max-width: px2vw-sm(290px);
            margin-right: px2vw-sm(20px);
          }
        }

        &-date {
          font-size: 14px;
          font-family: "dynasty-primary-light", sans-serif;

          @include lg {
            font-size: px2vw-lg(14px);
          }

          @include md {
            font-size: px2vw-md(14px);
          }

          @include sm {
            font-size: px2vw-sm(14px);
          }
        }
      }

      &-notification {
        min-width: px2vw-xl(18px);
        width: px2vw-xl(18px);
        height: px2vw-xl(18px);
        margin: px2vw-xl(30px) 0 px2vw-xl(20px);
        background: var(--orange-color-main);
        border-radius: 50%;

        @include lg {
          min-width: px2vw-lg(18px);
          width: px2vw-lg(18px);
          height: px2vw-lg(18px);
          margin: px2vw-lg(30px) 0 px2vw-lg(20px);
        }

        @include md {
          min-width: px2vw-md(18px);
          width: px2vw-md(18px);
          height: px2vw-md(18px);
          margin: px2vw-md(30px) 0 px2vw-md(20px);
        }

        @include sm {
          min-width: px2vw-sm(18px);
          width: px2vw-sm(18px);
          height: px2vw-sm(18px);
          margin: px2vw-sm(30px) 0 px2vw-sm(20px);
        }
      }
    }
  }
}

.Logout-modal {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--base-gainsboro);
    padding: px2vw-xl(24px) px2vw-xl(24px) px2vw-xl(16px);

    @include lg {
      padding: px2vw-lg(24px) px2vw-lg(24px) px2vw-lg(16px);
    }

    @include md {
      padding: px2vw-md(24px) px2vw-md(24px) px2vw-md(16px);
    }

    @include sm {
      padding: px2vw-sm(24px) px2vw-sm(24px) px2vw-sm(16px);
    }
  }

  &-title {
    font-family: "stc-forward-medium", sans-serif;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(32px);

    @include lg {
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      font-size: px2vw-md(20px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      font-size: px2vw-sm(20px);
      line-height: px2vw-sm(32px);
    }
  }

  &-close {
    align-self: flex-start;
    background-color: transparent;
  }

  &-message {
    padding: px2vw-xl(16px) px2vw-xl(24px);
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);

    @include lg {
      padding: px2vw-lg(16px) px2vw-lg(24px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(16px) px2vw-md(24px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      padding: px2vw-sm(16px) px2vw-sm(24px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: px2vw-xl(24px);

    @include lg {
      padding: px2vw-lg(24px);
    }

    @include md {
      padding: px2vw-md(24px);
    }

    @include sm {
      padding: px2vw-sm(24px);
    }
  }

  &-button {
    margin-left: px2vw-xl(16px);

    @include lg {
      margin-left: px2vw-lg(16px);
    }

    @include md {
      margin-left: px2vw-md(16px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
    }
  }
}

.btnspace {
  margin-right: 10px;
}
