html[dir="rtl"] {
  .GameStatistic {
    &-header-title {
      margin-right: 0;
      margin-left: px2vw-xl(15px);

      @include lg {
        margin-left: px2vw-lg(15px);
      }

      @include md {
        margin-left: px2vw-md(15px);
      }

      @include sm {
        margin-left: px2vw-sm(15px);
      }
    }

    &-header-buttons {
      margin-right: auto;
      margin-left: 0;

      @include md {
        text-align: right;
      }
    }

    &-card-item {
      text-align: right;

      &::after {
        right: auto;
        left: 0;
      }
    }

    &-card-image-block {
      margin-right: 0;
      margin-left: px2vw-xl(50px);

      @include lg {
        margin-left: px2vw-lg(40px);
      }

      @include md {
        margin-left: 0;
      }
    }

    &-card-item-icon {
      margin-right: 0;
      margin-left: px2vw-xl(8px);

      @include lg {
        margin-left: px2vw-lg(8px);
      }

      @include md {
        margin-left: px2vw-md(8px);
      }

      @include sm {
        margin-left: px2vw-sm(8px);
      }
    }
  }
}
