html[dir="rtl"] {
  .TeamCardControl {
    &-manage {
      margin-right: 0;
      margin-left: px2vw-xl(20px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin-left: 0;
      }
    }

    &-nav {
      text-align: right;
    }

    &-nav-link {
      margin-right: 0;
      margin-left: px2vw-xl(65px);

      @include lg {
        margin-left: px2vw-lg(20px);
      }

      @include md {
        margin-left: px2vw-md(20px);
      }

      @include sm {
        margin-left: px2vw-sm(20px);
      }

      &:last-child {
        margin-left: 0;
      }
    }
  }
}
