@import "shared";

:host {
  display: block;
  margin-bottom: px2vw-xl(24px);

  @include lg {
    margin-bottom: px2vw-lg(24px);
  }

  @include md {
    margin-bottom: px2vw-md(24px);
  }

  @include sm {
    margin-bottom: px2vw-sm(24px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.ToggleSwitch {
  @extend %u-dfCenterBtw;

  &-about {
    @extend %u-dfCenter;
    margin-right: px2vw-xl(20px);

    @include lg {
      margin-right: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(20px);
    }
  }

  &-about-title {
    @extend %body-2;
    margin-right: px2vw-xl(8px);
    color: var(--white);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }
  }

  &-about-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(16px);
    // color: var(--color-secondary);
    color: var( --pink-lgt);

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }
  }

  &-field {
  }
}
