<app-header-bottom [gameDetail]="selectedGame"></app-header-bottom>

<section class="Leaderboard">
  <div class="Leaderboard-wrpr">
    <div class="d-flex flex-md-row flex-column align-items-start align-items-md-center justify-content-md-between">
      <div class="Leaderboard-header my-5 my-md-0">
        <div class="Leaderboard-header-title mb-3">{{ 'LEADERBOARD.TITLE' | translate }}</div>
        <div class="Leaderboard-header-subtitle" *ngIf="leaderboardData.length">{{ 'LEADERBOARD.SUBTITLE1' | translate }} {{leaderboardData.length}} {{ 'LEADERBOARD.SUBTITLE2' | translate }} {{paginationDetails?.totalDocs}} {{ 'LEADERBOARD.SUBTITLE3' | translate }}</div>
        <!--<div class="Leaderboard-header-subtitle" *ngIf="!leaderboardData.length">{{ 'LEADERBOARD.SUBTITLE_NORECORD' | translate }} </div>-->
      </div>
      <div class="RoundedTabs" ngbNav #nav="ngbNav" [(activeId)]="active">
        <div class="RoundedTabs-tabs global-Tabs">
          <a class="RoundedTabs-tab" [ngbNavItem]="1" (click)="filterLeaderboard();" ngbNavLink>
              {{ "LEADERBOARD.TOGGLES.SINGLEPLAYER" | translate | capitalizeFirst }}
          </a>
          <a class="RoundedTabs-tab" [ngbNavItem]="2" (click)="filterLeaderboardTeam();" ngbNavLink>
            {{ "LEADERBOARD.TOGGLES.TEAM" | translate | capitalizeFirst }}
          </a> 
        </div>
        <div [ngbNavItem]="1">
          <ng-template ngbNavContent>
            <app-leaderboard-table
              [data]="data"
              [leaderboardData]="leaderboardData" 
              [teamFlag]="teamFlag"
            ></app-leaderboard-table>
            <div class="Leaderboard-table-pagination">
              <esports-pagination *ngIf="!teamFlag && leaderboardData.length"
                [activePage]="participantPage?.activePage"
                [page]="participantPage"
                (currentPage)="onPageChange($event)"></esports-pagination>
            </div>
          </ng-template>
        </div>
        <div [ngbNavItem]="2">
          <ng-template ngbNavContent>
            <app-leaderboard-table
              [data]="data"
              [leaderboardData]="leaderboardData" 
              [teamFlag]="teamFlag"
            ></app-leaderboard-table>
            <div class="Leaderboard-table-pagination">
              <esports-pagination *ngIf="teamFlag && leaderboardData.length"
                [activePage]="participantTeamPage?.activePage"
                [page]="participantTeamPage"
                (currentPage)="onPageChange($event)"></esports-pagination>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="Leaderboard-table">
      <div class="Leaderboard-table-content" [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</section>
<app-footer-googly></app-footer-googly>
<esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
