<div class="Final-result">
  <div
    class="Final-result-first"
    [ngClass]="{
      winner: match?.teamA?._id == match?.winnerTeam?._id,
      loser:
        match?.teamA?._id == match?.loserTeam?._id ||
        match?.teamA?._id == match?.loserTeam2
    }"
  >
    {{ match?.teamA | teamName: pType | limitString: 10:"..." }}
    {{
      match?.teamA?._id == match?.disQualifiedTeam?.team
        ? "(" + match?.disQualifiedTeam?.reason + ")"
        : ""
    }}
  </div>
  <div
    class="Final-result-second"
    [ngClass]="{
      winner: match?.teamB?._id == match?.winnerTeam?._id,
      loser:
        match?.teamB?._id == match?.loserTeam?._id ||
        match?.teamB?._id == match?.loserTeam2
    }"
  >
    {{ match?.teamB | teamName: pType | limitString: 10:"..." }}
    {{
      match?.teamB?._id == match?.disQualifiedTeam?.team
        ? "(" + match?.disQualifiedTeam?.reason + ")"
        : ""
    }}
  </div>
</div>
