@import "shared";

:host {
  display: block;
}

.GameAccounts {
  bottom: 50px;

  &-select {
    margin-bottom: 52px;

    @include xl {
      margin-bottom: px2vw-xl(52px);
    }

    @include lg {
      margin-bottom: px2vw-lg(52px);
    }

    @include md {
      margin-bottom: px2vw-md(52px);
    }

    @include sm {
      margin-bottom: px2vw-sm(52px);
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  &-add {
    margin-bottom: 24px;

    @include xl {
      margin-bottom: px2vw-xl(24px);
    }

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-add-title {
    @extend %subtitle-1;
    margin-bottom: 0;
  }

  &-add-message {
    @extend %body-1;
    margin-top: 8px;
    margin-bottom: 0;
    color: var(--white);
    width: 90%;

    @include xl {
      margin-top: px2vw-xl(8px);
    }

    @include lg {
      margin-top: px2vw-lg(8px);
      width: auto;
    }

    @include md {
      margin-top: px2vw-md(8px);
    }

    @include sm {
      margin-top: px2vw-sm(8px);
    }
  }

  &-add-button {
    margin-top: 16px;

    @include xl {
      margin-top: px2vw-xl(16px);
    }

    @include lg {
      margin-top: px2vw-lg(16px);
    }

    @include md {
      margin-top: px2vw-md(16px);
    }

    @include sm {
      margin-top: px2vw-sm(16px);
    }
  }

  &-list {
    margin-bottom: 0;

    app-account-item {
      margin-bottom: 28px;

      @include xl {
        margin-bottom: px2vw-xl(28px);
      }

      @include lg {
        margin-bottom: px2vw-lg(28px);
      }

      @include md {
        margin-bottom: px2vw-md(28px);
      }

      @include sm {
        margin-bottom: px2vw-sm(28px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.GameAccounts-title {
  @include xl {
    font-family: "redhat-medium", sans-serif;
    font-size: px2vw-xl(15px);
    line-height: 1.4888888889vw;
    letter-spacing: 0;
    color: var(--white-high);
  }

  @include lg {
    font-family: "redhat-medium", sans-serif;
    font-size: px2vw-lg(15px);
    line-height: 1.4888888889vw;
    letter-spacing: 0;
    color: var(--white-high);
  }

  @include md {
    font-family: "redhat-medium", sans-serif;
    font-size: px2vw-md(15px);
    line-height: 1.4888888889vw;
    letter-spacing: 0;
    color: var(--white-high);
  }

  @include sm {
    font-family: "redhat-medium", sans-serif;
    font-size: px2vw-sm(15px);
    line-height: 1.4888888889vw;
    letter-spacing: 0;
    color: var(--white-high);
  }
}

.AccountItem {
  &-title {
    @extend %subtitle-2;
    margin-bottom: px2vw-xl(6px);

    @include lg {
      margin-bottom: px2vw-lg(6px);
    }

    @include md {
      margin-bottom: px2vw-md(6px);
    }

    @include sm {
      margin-bottom: px2vw-sm(6px);
    }
  }

  &-content {
    @extend %u-dfCenter;
  }

  &-icon-block {
    @extend %u-dfCenterCenter;
    flex-shrink: 0;
    margin-right: px2vw-xl(8px);
    border-radius: px2vw-xl(4px);
    border: px2vw-xl(1px) solid var(--white-smoke);
    height: px2vw-xl(56px);
    width: px2vw-xl(56px);

    @include lg {
      margin-right: px2vw-lg(8px);
      border-width: px2vw-lg(1px);
      border-radius: px2vw-lg(4px);
      height: px2vw-lg(56px);
      width: px2vw-lg(56px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      border-width: px2vw-md(1px);
      border-radius: px2vw-md(4px);
      height: px2vw-md(56px);
      width: px2vw-md(56px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      border-width: px2vw-sm(1px);
      border-radius: px2vw-sm(4px);
      height: px2vw-sm(56px);
      width: px2vw-sm(56px);
    }
  }

  &-icon {
    max-height: px2vw-xl(56px);
    max-width: px2vw-xl(56px);

    @include lg {
      max-height: px2vw-lg(56px);
      max-width: px2vw-lg(56px);
    }

    @include md {
      max-height: px2vw-md(56px);
      max-width: px2vw-md(56px);
    }

    @include sm {
      max-height: px2vw-sm(56px);
      max-width: px2vw-sm(56px);
    }

    &.social {
      max-height: px2vw-xl(22px);
      max-width: px2vw-xl(22px);

      @include lg {
        max-height: px2vw-lg(22px);
        max-width: px2vw-lg(22px);
      }

      @include md {
        max-height: px2vw-md(22px);
        max-width: px2vw-md(22px);
      }

      @include sm {
        max-height: px2vw-sm(22px);
        max-width: px2vw-sm(22px);
      }
    }
  }

  &-field {
    ::ng-deep {
      .mat-form-field-appearance-outline {
        .mat-form-field-wrapper {
          margin-bottom: 0;
        }
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
      }

      .mat-form-field-flex > .mat-form-field-infix {
        padding: 1.2em 0 1.2em 0;
      }
    }
  }
}

.Accounts {
  &-manage {
    @extend %u-dfCenter;
    margin-top: px2vw-xl(52px);

    // float: right;
    @include lg {
      margin-top: px2vw-lg(52px);
    }

    @include md {
      margin-top: px2vw-md(52px);
    }

    @include sm {
      margin-top: px2vw-sm(52px);
    }
  }

  &-manage-button {
    margin-right: px2vw-xl(8px);

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.AccountItem-title {
  color: white;
}

:ng-deep {
  .cdk-overlay-pane {
    border: 1px solid red;
    min-width: 615.094px;
    font-size: 13px;
    top: 402.562px;
    left: 381.266px;
    /* transform: translateX(-40px) translateY(-12px); */
  }
}

.mat-pseudo-checkbox {
  border: 1px solid whitesmoke !important;
}

.jmd.mat-select-panel {
  min-width: 678.094px !important;
  margin-left: 31px;
  margin-top: 41px;
}

@include xl {
  .country {
    display: none;
  }
}

@include lg {
  .country {
    display: none;
  }
}

@include sm {
  .country {
    display: block;
  }
}

@include sm {
  ::ng-deep .Account_settings {
    max-width: 100vw !important;
    height: 100% !important;
  }
}

.global-MatField {
  @include xl {
    width: px2vw-xl(452px);
  }
  @include lg {
    width: px2vw-lg(452px);
  }
  @include sm {
    .global-MatField {
      width: 75vw !important;
      display: block;
    }
  }
}

.country .linked-profile,
.GameAccounts .game-list {
  width: 100%;
}

.header-sub {
  color: var(--white);
  display: grid;
  .title-text {
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
  .subtitle-text {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}

.mt-5,
.my-5 {
  margin-top: 1rem !important;
}
