<div class="TeamCard" *ngIf="data">
  <div class="TeamCard-image" [lazyLoad]="data?.profilePicture"></div>

  <div class="TeamCard-info">
    <h3 class="TeamCard-info-name borbosa">
      {{ data.name }}
    </h3>
    <p class="TeamCard-info-description">
      <span class="text-def">{{ data.name }}</span> •
      <span class="text-hl" [ngClass]="data.role">{{ data.role == 'player' ? 'Member' : data.role }}</span>
    </p>
    <!-- <p class="TeamCard-info-description">
      {{ data.teamsLength }}
      {{ "PROFILE.COMPONENTS.TEAM_CARD.PLAYERS" | translate }} •

      <ng-container *ngIf="data.createtdAt === 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAY_AGO" | translate }}
      </ng-container>

      <ng-container *ngIf="data.createtdAt > 1">
        {{ data.createtdAt }}
        {{ "PROFILE.COMPONENTS.TEAM_CARD.DAYS_AGO" | translate }}
      </ng-container>
    </p> -->
  </div>
  <!-- STATUS -->
  <div *ngIf="isStatus" class="Content-table-card-item">
    <ng-container *ngIf="data.status == '1'">
      <div class="TeamCard-header-label">
        <!-- {{ "PROFILE.CONTENT.TABLE.LIVE" | translate }} -->Pending
      </div>
    </ng-container>

    <ng-container *ngIf="data.status == '2'">
      <div class="TeamCard-header-label">
        <!-- {{ "PROFILE.CONTENT.TABLE.DRAFT" | translate }} -->Pending
      </div>
    </ng-container>
  </div>
  <div class="TeamCard-manage">
    <ng-container *ngIf="!isManage">
      <button class="TeamCard-manage-button button-secondary">
        {{ "BUTTON.REJECT" | translate }}
      </button>

      <button class="TeamCard-manage-button button-primary">
        {{ "BUTTON.ACCEPT" | translate }}
      </button>
    </ng-container>

    <ng-container *ngIf="isManage">
      <button
        class="TeamCard-manage-button-menu"
        [matMenuTriggerFor]="matchMenu"
        #t="matMenuTrigger"
      >
        <mat-icon class="TeamCard-manage-button-menu-icon">
          more_vert
        </mat-icon>
      </button>

      <mat-menu
        class="global-MatMenu team-card"
        #matchMenu="matMenu"
        xPosition="before"
      >
        <div class="TeamCard-manage-menu menu">
          <!-- VIEW -->
          <a class="TeamCard-manage-menu-link link" (click)="showPopup.emit(false)"> <!-- changeRole(data, 'captain') -->
            <mat-icon class="icon"> person_pin </mat-icon>
            <span class="text">
              {{
                ( true ? "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.ASSIGN_AS_CAPTAIN" : "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.REASSIGN_AS_CAPTAIN") | translate
              }}
            </span>
          </a>
          <!-- EDIT TEAM -->
          <a class="TeamCard-manage-menu-link link" (click)="followUser();">
            <mat-icon class="icon"> person_add </mat-icon>
            <span class="text">{{
              (followStatus == 'follow' ? "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.FOLLOW" : "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.UNFOLLOW") | translate
            }}</span>
          </a>

          <!-- MANAGE TEAM -->
          <!-- <a
          class="TeamCard-manage-menu-link link"
          (click)="onChatSidenavToggle()"
        >
          <mat-icon class="icon"> chat_bubble_outline </mat-icon>
          <span class="text"> Chat </span>
        </a> -->

          <!-- DELETE TEAM -->
          <a class="TeamCard-manage-menu-link link" (click)="showPopup.emit(true)">
            <mat-icon class="icon"> delete </mat-icon> <!-- deleteTeamMember(teamManageData, 'deleted') -->
            <span class="text">{{
              "MANAGE_TEAM.OPTIONS_TEAM_MEMBER.REMOVE_FROM_TEAM" | translate
            }}</span>
          </a>
        </div>
      </mat-menu>
    </ng-container>
  </div>
</div>
