<app-header-dynasty [currentPageLink]="AppHtmlRoutes.play"
  [title]="'CREATE_TOURNAMENT.SELECT_TYPE.HEADER_TITLE' | translate"></app-header-dynasty>

<div class="TournamentName">
  <div class="TournamentName-container u-wp">
    <div class="TournamentName-logo">
      <img class="TournamentName-logo-icon" src="assets/icons/create-tournament/tt.svg" alt="icon" />
    </div>

    <main class="TournamentName-main">
      <h1 class="TournamentName-title">
        {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.TITLE" | translate }}
      </h1>

      <div class="TournamentName-input">
        <app-tournament-name-input [text]="text" (onTextChange)="onTextChange($event)"
          placeholder="Enter tournament name"></app-tournament-name-input>
      </div>

      <p class="TournamentName-tip">
        {{ "CREATE_TOURNAMENT.TOURNAMENT_NAME.TIP" | translate }}
      </p>

      <div class="TournamentName-buttons">
        <button class="TournamentName-button button-secondary">
          {{ "BUTTON.CANCEL" | translate }}
        </button>

        <button class="TournamentName-button button-icon-secondary" routerBack>
          <mat-icon> arrow_back </mat-icon>
          <span>
            {{ "BUTTON.BACK" | translate }}
          </span>
        </button>

        <button class="TournamentName-button button-secondary">
          {{ "BUTTON.SKIP" | translate }}
        </button>

        <button class="TournamentName-button button-primary" (click)="next()">
          {{ "BUTTON.NEXT" | translate }}
        </button>
      </div>
    </main>
  </div>

  <img class="TournamentName-person" src="assets/images/create-tournament/persons/1.png" alt="person image" />
</div>
