@import "shared";

:host {
  display: block;
}

.SelectDate {
  overflow: hidden;
  position: relative;
  margin-top: -35px;
  background: $left-corner-light;

  &-container {
    @extend %u-dfStretch;
    min-height: 100vh;
    padding-top: px2vw-xl(172px);
      padding-bottom: px2vw-xl(64px);
    // padding-top: 145px;
    // padding-bottom: 64px;

    @include xl {
      padding-top: px2vw-xl(145px);
      padding-bottom: px2vw-xl(72px);
    }

    @include lg {
      padding-top: px2vw-lg(145px);
      padding-bottom: px2vw-lg(72px);
    }

    @include md {
      flex-direction: column;
      padding-top: px2vw-md(172px);
      padding-bottom: px2vw-md(72px);
    }

    @include sm {
      flex-direction: column;
      padding-top: px2vw-sm(172px);
      padding-bottom: px2vw-sm(72px);
    }
  }

  &-logo {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(40px);
    // height: px2vw-xl(45px);
    // width: px2vw-xl(48px);
    width: 48px;
    height: 48px;

    @include lg {
      margin-right: px2vw-lg(40px);
      height: px2vw-lg(48px);
      width: px2vw-lg(48px);
    }

    @include md {
      margin-right: px2vw-md(40px);
      height: px2vw-md(48px);
      width: px2vw-md(48px);
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-right: px2vw-sm(40px);
      height: px2vw-sm(48px);
      width: px2vw-sm(48px);
      margin-bottom: px2vw-sm(24px);
    }
  }

  &-main {
    @extend %u-dfStart;
    flex-direction: column;
    width: 100%;
    max-width: 718px;
    padding-top: 6px;

    @include xl {
      max-width: px2vw-xl(718px);
      padding-top: px2vw-xl(6px);
    }

    @include lg {
      max-width: px2vw-lg(718px);
      padding-top: px2vw-lg(6px);
    }

    @include md {
      max-width: px2vw-md(718px);
      padding-top: px2vw-md(6px);
    }

    @include sm {
      max-width: px2vw-sm(718px);
      padding-top: px2vw-sm(6px);
    }
  }

  &-title {
    @extend %global-H4;
    margin-bottom: 44px;
    font-size: 34px;
    line-height: 36px;

    @include xl {
      margin-bottom: px2vw-xl(44px);
    }

    @include lg {
      margin-bottom: px2vw-lg(44px);
    }

    @include md {
      font-size: px2vw-md(34px);
line-height: px2vw-md(36px);
      margin-bottom: px2vw-md(44px);
    }

    @include sm {
      font-size: px2vw-sm(34px);
line-height: px2vw-sm(36px);
      margin-bottom: px2vw-sm(44px);
    }
  }

  &-fields {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 48px;
    margin-bottom: 30px;

    @include xl {
      grid-column-gap: px2vw-xl(48px);
      margin-bottom: px2vw-xl(30px);
    }

    @include lg {
      grid-column-gap: px2vw-lg(48px);
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      grid-template-columns: repeat(1, minmax(0, px2vw-md(720px)));
      grid-column-gap: px2vw-md(48px);
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      grid-template-columns: repeat(1, minmax(0, px2vw-sm(530px)));
      grid-column-gap: px2vw-sm(48px);
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-buttons {
    @extend %u-dfCenter;
    margin-top: auto;
  }

  &-button {
    margin-right: 8px;

    @include xl {
      margin-right: px2vw-xl(8px);
    }

    @include lg {
      margin-right: px2vw-lg(8px);
    }

    @include md {
      margin-right: px2vw-md(8px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &-person {
    position: absolute;
    bottom: 0px;
    right: 0;
    height: calc(100% - 70px);

    @include xl {
      height: calc(100% - 70px);
      bottom: px2vw-xl(0px);
    }

    @include lg {
      height: calc(100% - 200px);
      bottom: px2vw-lg(0px);
    }

    @include md {
      display: none;
    }
  }
}

// .SelectDate-person {
//   height: px2vw-xl(550px);
//   width: px2vw-xl(420px);
//   @include lg {
//     height: px2vw-lg(550px);
//     width: px2vw-lg(420px);
//   }

//   @include md {
//     height: px2vw-md(550px);
//     width: px2vw-md(420px);
//   }

//   @include sm {
//     height: 550px;
//     width: 420px;
//   }
// }
