@import "shared";

:host {
  display: block;
}

.ArticleMain-head {
  background: $global-gradient;
}

.ArticleMain-hottest {
  display: grid;
  grid-template-columns: px2vw-xl(638px) minmax(0, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: px2vw-xl(464px);

  @include lg {
    grid-template-columns: px2vw-lg(638px) minmax(0, 1fr);
    height: px2vw-lg(464px);
  }

  @include md {
    grid-template-columns: px2vw-md(638px) minmax(0, 1fr);
    height: px2vw-md(464px);
  }

  @include sm {
    grid-template-columns: px2vw-sm(638px) minmax(0, 1fr);
    height: px2vw-sm(464px);
  }

  &-about {
    @extend %u-dfCenter;
    padding-right: px2vw-xl(34px);
    padding-left: px2vw-xl(56px);

    @include lg {
      padding-right: px2vw-lg(18px);
      padding-left: px2vw-lg(56px);
    }

    @include md {
      padding-right: px2vw-md(18px);
      padding-left: px2vw-md(56px);
    }

    @include sm {
      padding-right: px2vw-sm(18px);
      padding-left: px2vw-sm(56px);
    }
  }

  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(17px);

    @include lg {
      margin-bottom: px2vw-lg(17px);
    }

    @include md {
      margin-bottom: px2vw-md(17px);
    }

    @include sm {
      margin-bottom: px2vw-sm(17px);
    }
  }

  &-header-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(20px);
    width: px2vw-xl(20px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(20px);
      width: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(20px);
      width: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(20px);
      width: px2vw-sm(20px);
    }
  }

  &-header-text {
    @extend %overline;
    color: var(--color-secondary);
  }

  &-title {
    @extend %global-H4;
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-created {
    @extend %subtitle-1;
    margin-bottom: px2vw-xl(44px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(44px);
    }

    @include md {
      margin-bottom: px2vw-md(44px);
    }

    @include sm {
      margin-bottom: px2vw-sm(44px);
    }
  }

  &-image-block {
    flex-shrink: 0;
    background-color: var(--black);
    background-size: cover;
  }
}

.ArticleMain-slides {
  // margin-top: px2vw-xl(24px);

  // @include lg {
  //   margin-top: px2vw-lg(24px);
  // }

  // @include md {
  //   margin-top: px2vw-md(24px);
  // }

  // @include sm {
  //   margin-top: px2vw-sm(24px);
  // }

  &-title {
    @extend %global-H6;
    margin-bottom: px2vw-xl(16px);
    text-transform: uppercase;

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-list {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;

    @include sm {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &-item {
    @extend %u-dfStart;
    // border-top: 1px solid var(--white-smoke);
    // border-bottom: 1px solid var(--white-smoke);
    // padding: px2vw-xl(24px) px2vw-xl(18px);
    transition: $global-transition;
    cursor: pointer;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: px2vw-xl(32px);
    @include lg {
      margin-bottom: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(32px);
    }

    &:last-child {
      margin-bottom: 0;
    }
    // &:hover {
    //   border-color: var(--color-primary);
    //   background-color: var(--color-primary);

    //   .title,
    //   .text {
    //     color: var(--black);
    //   }

    //   .created {
    //     color: var(--black-medium);
    //   }

    //   .icon ::ng-deep svg path {
    //     fill: var(--black);
    //   }
    // }
  }

  &-item-image {
    flex-shrink: 0;
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat;
    height: px2vw-xl(100px);
    width: px2vw-xl(180px);
    background-position: center;
    border-radius: 8px;
    @include lg {
      height: px2vw-lg(100px);
      width: px2vw-lg(180px);
    }

    @include md {
      height: px2vw-md(100px);
      width: px2vw-md(180px);
    }

    @include sm {
      height: px2vw-sm(131.89632px);
      width: px2vw-sm(237.41952px);
    }
  }

  &-item-info {
    display: -webkit-flex;
    display: block;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 24px;
  }

  &-item-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--white);
    -webkit-line-clamp: 2;
    margin-bottom: 11px;
    @include sm {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  &-item-created {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--tertiary-color);
    margin-bottom: 0;
    @include sm {
      -webkit-line-clamp: 2;
      font-size: 14px;
    }
  }

  &-item-label {
    @extend %u-dfCenter;
    margin-top: auto;
  }

  &-item-label-icon {
    @extend %u-dfCenterCenter;
    margin-right: px2vw-xl(8px);
    height: px2vw-xl(20px);
    width: px2vw-xl(20px);

    @include lg {
      margin-right: px2vw-lg(8px);
      height: px2vw-lg(20px);
      width: px2vw-lg(20px);
    }

    @include md {
      margin-right: px2vw-md(8px);
      height: px2vw-md(20px);
      width: px2vw-md(20px);
    }

    @include sm {
      margin-right: px2vw-sm(8px);
      height: px2vw-sm(20px);
      width: px2vw-sm(20px);
    }
  }

  &-item-label-text {
    @extend %overline;
    color: var(--color-secondary);
    text-transform: uppercase;
  }
}

.ArticleMain-search {
  margin-top: px2vw-xl(56px);

  @include lg {
    margin-top: px2vw-lg(56px);
  }

  @include md {
    margin-top: px2vw-md(56px);
  }

  @include sm {
    margin-top: px2vw-sm(56px);
  }
}

.ArticleMain-videos {
  margin-top: px2vw-xl(56px);

  @include lg {
    margin-top: px2vw-lg(56px);
  }

  @include md {
    margin-top: px2vw-md(56px);
  }

  @include sm {
    margin-top: px2vw-sm(56px);
    border-bottom: px2vw-sm(1px) solid var(--black-medium);
    padding-bottom: px2vw-sm(50px);
  }
}

.ArticleMain-articles {
  margin-top: px2vw-xl(86px);

  @include lg {
    margin-top: px2vw-lg(86px);
  }

  @include md {
    margin-top: px2vw-md(86px);
  }

  @include sm {
    margin-top: px2vw-sm(86px);
  }
}

.ArticlePost-preview {
  &-title {
    margin-top: 4vw;
    margin-bottom: px2vw-xl(50px);
    font-family: "archivo-black";
    font-size: px2vw-xl(48px);
    line-height: px2vw-xl(56px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
      font-size: px2vw-lg(48px);
      line-height: px2vw-lg(56px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
      font-size: px2vw-md(48px);
      line-height: px2vw-md(56px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
      font-size: px2vw-sm(48px);
      line-height: px2vw-sm(56px);
    }
  }

  &-info {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(40px);

    @include lg {
      margin-bottom: px2vw-lg(40px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
    }

    @include sm {
      margin-bottom: px2vw-sm(40px);
    }
  }

  &-type {
    @extend %u-dfCenter;
  }

  &-type-icon {
    margin-right: px2vw-xl(7px);

    @include lg {
      margin-right: px2vw-lg(7px);
    }

    @include md {
      margin-right: px2vw-md(7px);
    }

    @include sm {
      margin-right: px2vw-sm(7px);
    }

    ::ng-deep svg {
      display: block;
      height: px2vw-xl(16px);
      width: px2vw-xl(12px);

      @include lg {
        height: px2vw-lg(16px);
        width: px2vw-lg(12px);
      }

      @include md {
        height: px2vw-md(16px);
        width: px2vw-md(12px);
      }

      @include sm {
        height: px2vw-sm(16px);
        width: px2vw-sm(12px);
      }

      path {
        fill: var(--color-secondary);
      }
    }
  }

  &-type-text {
    @extend %overline;
    color: var(--color-secondary);
  }

  &-divider {
    margin: 0 px2vw-xl(24px);
    background-color: var(--white-light);
    height: px2vw-xl(20px);
    width: px2vw-xl(1px);

    @include lg {
      margin: 0 px2vw-lg(24px);
      height: px2vw-lg(20px);
      width: px2vw-lg(1px);
    }

    @include md {
      margin: 0 px2vw-md(24px);
      height: px2vw-md(20px);
      width: px2vw-md(1px);
    }

    @include sm {
      margin: 0 px2vw-sm(24px);
      height: px2vw-sm(20px);
      width: px2vw-sm(1px);
    }
  }

  &-created {
    @extend %body-2;
    color: var(--white-medium);
  }

  &-comments {
    @extend %body-2;
    margin-bottom: 0;
    color: var(--color-primary);
    border-bottom: px2vw-xl(2px) solid var(--color-primary);

    @include lg {
      border-bottom-width: px2vw-lg(2px);
    }

    @include md {
      border-bottom-width: px2vw-md(2px);
    }

    @include sm {
      border-bottom-width: px2vw-sm(2px);
    }
  }

  &-image-block {
    margin-bottom: px2vw-xl(55px);
    position: relative;
    left: -6%;
    height: px2vw-xl(580px);
    width: 106%;
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat;
    @include lg {
      margin-bottom: px2vw-lg(55px);
      height: px2vw-lg(420px);
    }

    @include md {
      margin-bottom: px2vw-md(40px);
      height: px2vw-md(420px);
    }

    @include sm {
      margin-bottom: px2vw-sm(28px);
      height: px2vw-sm(320px);
      background-position: center;
    }
  }
}

.btn {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

.BandicootContent {
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }
  &-inner {
    padding-top: px2vw-xl(24px);
    padding-bottom: px2vw-xl(40px);
    @include lg {
      padding-top: px2vw-lg(24px);
      padding-bottom: px2vw-lg(40px);
    }

    @include md {
      padding-top: px2vw-md(24px);
      padding-bottom: px2vw-md(40px);
    }
    @include sm {
      padding-top: px2vw-sm(61.44px);
      padding-bottom: px2vw-sm(24.576px);
    }
  }
  &-heading {
    padding: px2vw-xl(48px) 0;
    @include lg {
      padding: px2vw-lg(48px) 0;
    }

    @include md {
      padding: px2vw-md(48px) 0;
    }

    @include sm {
      padding: px2vw-sm(36.864px) 0;
    }
  }
  &-title {
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.5px;
    color: var(--white);
    margin-bottom: 0;
    @include sm {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &-content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    &-left {
      width: 100%;
      max-width: 690px;
      @include sm {
        max-width: 100%;
        margin-bottom: px2vw-sm(36.864px);
      }
      &-thumnail {
        width: 100%;
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        height: px2vw-xl(387.95px);
        cursor: pointer;
        @include lg {
          height: px2vw-lg(387.95px);
        }

        @include md {
          height: px2vw-md(387.95px);
        }

        @include sm {
          height: px2vw-sm(282.73152px);
          border-radius: 24px;
          margin-bottom: px2vw-sm(24.576px);
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .title {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: var(--white);
        margin-bottom: 9px;
        @include sm {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: px2vw-sm(24.576px);
        }
      }
      .detail {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        .avatar {
          width: 48px;
          height: 48px;
          overflow: hidden;
          border-radius: 50%;
          position: relative;
          margin-right: 20px;
          @include sm {
            width: 32px;
            height: 32px;
          }
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
          }
        }
        .text {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.5px;
          color: var(--tertiary-color);
          margin-bottom: 0;
          @include sm {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
    &-right {
      width: 100%;
      max-width: calc(100% - 690px);
      padding-left: 27px;
      @include sm {
        max-width: 100%;
        padding-left: 0;
      }
    }
  }
}
.SectionPost {
  &-container {
    width: 100%;
    max-width: 1308px;
    padding: 0 24px;
    margin: 0 auto;
  }
  &-heading {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: px2vw-xl(16px) 0 px2vw-xl(32px);
    @include lg {
      padding: px2vw-lg(16px) 0 px2vw-lg(32px);
    }

    @include md {
      padding: px2vw-md(16px) 0 px2vw-md(32px);
    }

    @include sm {
      padding: px2vw-sm(24.576px) 0 px2vw-sm(36.864px);
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.5px;
      color: var(--white);
      margin-bottom: 0;
      @include sm {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .btn {
      @include sm {
        display: none;
      }
    }
  }
  &-latest-lists {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    @include sm {
      margin-bottom: px2vw-sm(69.12px);
    }
  }
  &-latest-item {
    width: 100%;
    max-width: calc(100% / 2 - 12px);
    margin-bottom: 27px;
    @include sm {
      max-width: 100%;
      margin-bottom: px2vw-sm(24.576px);
    }
    &:last-child {
      @include sm {
        margin-bottom: 0;
      }
    }
    &-thumnail {
      width: 100%;
      position: relative;
      border-radius: 40px;
      overflow: hidden;
      margin-bottom: 16px;
      height: px2vw-xl(337px);
      cursor: pointer;
      @include lg {
        height: px2vw-lg(337px);
      }

      @include md {
        height: px2vw-md(337px);
      }

      @include sm {
        height: px2vw-sm(288.16896px);
        border-radius: 24px;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: contain;
      }
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: var(--white);
      margin-bottom: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include sm {
        font-size: 20px;
        line-height: 28px;
      }
    }
    &-detail {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      .avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        margin-right: 20px;
        @include sm {
          width: 32px;
          height: 32px;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
      .text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.5px;
        color: var(--tertiary-color);
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @include sm {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
.BrowseByCategories {
  margin: px2vw-xl(72px) 0 px2vw-xl(118px);
  @include lg {
    margin: px2vw-lg(72px) 0 px2vw-lg(118px);
  }
  @include md {
    margin: px2vw-md(72px) 0 px2vw-md(118px);
  }
  @include sm {
    margin: px2vw-sm(47.616px) 0 px2vw-sm(27.648px);
  }
  &-heading {
    margin-bottom: 6px;
    text-align: center;
    @include sm {
      margin-bottom: 30px;
    }
    .title {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.5px;
      color: var(--color-black-medium);
      margin-bottom: 0;
      @include sm {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
  &-content {
    background-image: url("../../../../assets/images/content/Categories.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    @include sm {
      background-image: url("../../../../assets/images/content/Categories-mb.png");
    }
    .link-to {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 60px;
      line-height: 68px;
      display: block;
      text-align: center;
      margin-bottom: 4px;
      @include sm {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: px2vw-sm(24.576px);
      }
      &:hover {
        color: var(--main-color);
      }
    }
  }
}
.button-group {
  display: none;
  @include sm {
    display: block;
  }
  .btn {
    width: 100%;
  }
}
