@import "shared";

:host {
  display: block;
}

.UploadImage {
  &-title {
    margin-bottom: px2vw-xl(16px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
    }

    @include sm {
      display: inline;
      margin-bottom: px2vw-sm(16px);
    }
  }

  &-subtitle {
    margin-bottom: px2vw-xl(24px);
    letter-spacing: 1px;
    color: var(--base-black);

    @include lg {
      margin-bottom: px2vw-lg(24px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
    }
  }

    &-icon {
    display: none;
    @include lg {
      display: none;
    }

    @include md {
      display: none;
    }

    @include sm {
      display: inline;
      height: px2vw-sm(40px);
      margin-bottom: px2vw-sm(15px);
    }
  }

  &-label {
    overflow: hidden;
    position: relative;
    border: 1px solid var(--base-03);
    text-align: center;
    border-radius: px2vw-xl(8px);
    min-height: px2vw-xl(230px);
    width: 100%;
    background-color: var(--base-05);
    padding: px2vw-xl(50px);
    cursor: pointer;
    transition: 100ms linear;

    &:hover {
      opacity: 0.8;
    }

    @include lg {
      border-radius: px2vw-lg(8px);
      min-height: px2vw-lg(230px);
      padding: px2vw-lg(50px);
    }

    @include md {
      border-radius: px2vw-md(8px);
      min-height: px2vw-md(230px);
      padding: px2vw-md(50px);
    }

    @include sm {
      border-radius: px2vw-sm(8px);
      min-height: px2vw-sm(230px);
      padding: px2vw-sm(50px);
    }
  }

  &-label-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  &-info-image {
    margin-bottom: px2vw-xl(16px);
    width: px2vw-xl(55px);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      width: px2vw-lg(55px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      width: px2vw-md(55px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      width: px2vw-sm(55px);
    }
  }

  &-info-title {
    display: flex;
    justify-content: center;
    margin-bottom: px2vw-xl(16px);
    font-size: px2vw-xl(20px);
    color: var(--base-black);

    @include lg {
      margin-bottom: px2vw-lg(16px);
      font-size: px2vw-lg(20px);
    }

    @include md {
      margin-bottom: px2vw-md(16px);
      font-size: px2vw-md(20px);
    }

    @include sm {
      margin-bottom: px2vw-sm(16px);
      font-size: px2vw-sm(20px);
    }
  }

  &-info-text {
    margin-bottom: 0;
    color: var(--base-02);
  }
}
