<div class="TournamentDate">
  
  <input
    class="TournamentDate-field"
    [placeholder]="'CREATE_TOURNAMENT.SELECT_DATE.DATE_PLACEHOLDER' | translate"
    [matDatepicker]="picker"
    [(ngModel)]="date"
    (ngModelChange)="onDateChange()"
    [disabled]="true"
    matInput 
    [min]="minDate"
  />

  <mat-datepicker #picker  disabled="false"></mat-datepicker>

  <img
    class="TournamentDate-icon"
    (click)="picker.open()"
    src="assets/icons/calendar.svg"
    alt="date"
  />
</div>
<!-- {{date}} -->
