@import "shared";

.shop-card-topup {
  color: var(--black);
  position: absolute;
  background-color: var(--color_skyblue);
  height: px2vw-xl(20px);
  padding: 0 px2vw-xl(8px);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-size: px2vw-xl(10px);
  font-family: "maxis-bold";
  letter-spacing: px2vw-xl(1px);
  text-transform: uppercase;
  @include xxl {
    height: px2vw-xxl(20px);
    padding: 0 px2vw-xxl(8px);
    font-size: px2vw-xxl(10px);
    letter-spacing: px2vw-xxl(1px);
  }
  @include lg {
    height: px2vw-lg(20px);
    padding: 0 px2vw-lg(8px);
    font-size: px2vw-lg(10px);
    letter-spacing: px2vw-lg(1px);
  }
  @include md {
    height: px2vw-md(20px);
    padding: 0 px2vw-md(8px);
    font-size: px2vw-md(10px);
    letter-spacing: px2vw-md(1px);
  }
  @include sm {
    height: px2vw-sm(20px);
    padding: 0 px2vw-sm(8px);
    font-size: px2vw-sm(10px);
    letter-spacing: px2vw-sm(1px);
  }
}
.shop-card-header {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0;
  font-family: "maxis-bold";
  line-height: px2vw-xl(19px);
  letter-spacing: px2vw-xl(0.15px);
  font-size: px2vw-xl(16px);
  color: var(--white-high);
  @include xxl {
    font-size: px2vw-xxl(16px);
    line-height: px2vw-xxl(19px);
    letter-spacing: px2vw-xxl(0.15px);
  }
  @include lg {
    font-size: px2vw-lg(16px);
    line-height: px2vw-lg(19px);
    letter-spacing: px2vw-lg(0.15px);
  }
  @include md {
    font-size: px2vw-md(16px);
    line-height: px2vw-md(19px);
    letter-spacing: px2vw-md(0.15px);
  }
  @include sm {
    font-size: px2vw-sm(16px);
    line-height: px2vw-sm(19px);
    letter-spacing: px2vw-sm(0.15px);
  }
}
.txt_content {
  padding: 0 1rem;
  height: px2vw-xl(66px);
  @include xxl {
    height: px2vw-xxl(66px);
  }
  @include lg {
    height: px2vw-lg(66px);
  }
  @include md {
    height: px2vw-md(66px);
  }
  @include sm {
    height: px2vw-sm(66px);
  }
}
.shop-card-host {
  @extend %overline;
  position: absolute;
  background-color: var(--color-secondary);
  height: px2vw-xl(20px);
  padding: 0 px2vw-xl(8px);
  margin-bottom: 0;
  display: flex;
  align-items: center;
  @include xxl {
    height: 20px;
    padding: 0 8px;
  }
  @include lg {
    height: px2vw-lg(20px);
    padding: 0 px2vw-lg(8px);
  }
  @include md {
    height: px2vw-md(20px);
    padding: 0 px2vw-md(8px);
  }
  @include sm {
    height: px2vw-sm(20px);
    padding: 0 px2vw-sm(8px);
    font-size: px2vw-sm(10px);
  }
}
.shop-card-footer {
  font-size: px2vw-xl(17px);
  background-color: var(--color-blackgray);
  border-top: px2vw-xl(1px) solid var(--color-bordergray);
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  height: px2vw-xl(59px);
  justify-content: space-between;
  @include xxl {
    font-size: px2vw-xxl(17px);
    height: px2vw-xxl(59px);
    border-width: px2vw-xxl(1px);
    padding: px2vw-xxl(10px) px2vw-xxl(15px);
  }
  @include lg {
    font-size: px2vw-lg(17px);
    height: px2vw-lg(59px);
    border-width: px2vw-lg(1px);
  }
  @include md {
    font-size: px2vw-md(17px);
    height: px2vw-md(34px);
    border-width: px2vw-md(1px);
  }
  @include sm {
    font-size: px2vw-sm(17px);
    height: px2vw-sm(34px);
    border-width: px2vw-sm(1px);
  }
  .shop-card-inner {
    @include md {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}
.shop-card-main {
  background-color: var(--color-darkgray);
  height: auto;
  text-align: left;
  border: px2vw-xl(1px) solid var(--color-bordergray);
  border-radius: px2vw-xl(4px);
  cursor: pointer;
  overflow: hidden;
  @include xxl {
    border-width: px2vw-xxl(1px);
    border-radius: px2vw-xxl(4px);
  }
  @include lg {
    border-width: px2vw-lg(1px);
    border-radius: px2vw-lg(4px);
  }
  @include md {
    border-width: px2vw-md(1px);
    border-radius: px2vw-md(4px);
  }
  @include sm {
    border-width: px2vw-sm(1px);
    border-radius: px2vw-sm(4px);
  }

  &:hover {
    background-color: var(--color-hover-bg);
    .shop-card-footer {
      background-color: var(--color-primary);
      .shop-card-from-text {
        color: var(--black-medium);
      }
      .Play-ongoing-card-author-name {
        color: var(--black);
        svg {
          path {
            fill: var(--black);
          }
        }
      }
      .shop-card-game {
        border-color: var(--black-disabled);
        color: var(--black);
      }
    }
  }
}
.shop-card-image {
  margin: px2vw-xl(16px) px2vw-xl(16px) px2vw-xl(8px) px2vw-xl(16px);
  background-size: cover;
  background-position: center center;
  position: relative;
  opacity: 1;
  @include xxl {
    margin: px2vw-xxl(16px) px2vw-xxl(16px) px2vw-xxl(8px) px2vw-xxl(16px);
  }
  @include lg {
    margin: px2vw-lg(16px) px2vw-lg(16px) px2vw-lg(8px) px2vw-lg(16px);
  }
  @include md {
    margin: px2vw-md(16px) px2vw-md(16px) px2vw-md(8px) px2vw-md(16px);
  }
  @include sm {
    margin: px2vw-sm(8px) px2vw-sm(8px) px2vw-sm(8px) px2vw-sm(8px);
  }
  .shop-card-topup {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .discount_code{
    position: relative;
    img{
      width: 100%;
    }
  }
}
.shop-card-author-image {
  color: var(--white-disabled);
  margin-bottom: px2vw-xl(10px);
  font-size: px2vw-xl(12px);
  font-family: "maxis-semibold";
  letter-spacing: 0.4px;
  line-height: px2vw-xl(16px);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  @include xxl {
    margin-bottom: px2vw-xxl(10px);
    font-size: px2vw-xxl(12px);
    letter-spacing: px2vw-xxl(0.4px);
    line-height: px2vw-xxl(16px);
  }
  @include lg {
    margin-bottom: px2vw-lg(10px);
    font-size: px2vw-lg(12px);
    letter-spacing: px2vw-lg(0.4px);
    line-height: px2vw-lg(16px);
  }
  @include md {
    margin-bottom: px2vw-md(10px);
    font-size: px2vw-md(12px);
    letter-spacing: px2vw-md(0.4px);
    line-height: px2vw-md(16px);
  }
  @include sm {
    margin-bottom: px2vw-sm(10px);
    font-size: px2vw-sm(12px);
    letter-spacing: px2vw-sm(0.4px);
    line-height: px2vw-sm(16px);
  }
}

.shop-card-from-text {
  font-family: "maxis-semibold";
  font-size: px2vw-xl(12px);
  line-height: px2vw-xl(16px);
  display: flex;
  align-items: center;
  letter-spacing: px2vw-xl(0.4px);
  color: var(--white-medium);
  padding-bottom: px2vw-xl(5px);
  @include xxl {
    font-size: px2vw-xxl(12px);
    line-height: px2vw-xxl(16px);
    padding-bottom: px2vw-xxl(5px);
    letter-spacing: px2vw-xxl(0.4px);
  }
  @include lg {
    font-size: px2vw-lg(12px);
    line-height: px2vw-lg(16px);
    padding-bottom: px2vw-lg(5px);
    letter-spacing: px2vw-lg(0.4px);
  }
  @include md {
    font-size: px2vw-md(12px);
    line-height: px2vw-md(16px);
    padding-bottom: px2vw-md(5px);
    letter-spacing: px2vw-md(0.4px);
  }
  @include sm {
    font-size: px2vw-sm(12px);
    line-height: px2vw-sm(16px);
    padding-bottom: px2vw-sm(5px);
    letter-spacing: px2vw-sm(0.4px);
  }
}

::ng-deep .shop-card-content {
  margin-bottom: px2vw-xl(16px) !important;
  @include xxl {
    margin-bottom: px2vw-xxl(16px) !important;
  }
  @include lg {
    margin-bottom: px2vw-lg(16px) !important;
  }
  @include md {
    margin-bottom: px2vw-md(16px) !important;
  }
  @include sm {
    margin-bottom: px2vw-sm(16px) !important;
  }
}
::ng-deep .Matchmaking-game .shop-game-cards {
  margin-bottom: px2vw-xl(30px);
  @include xxl {
    margin-bottom: px2vw-xxl(30px) !important;
  }
  @include lg {
    margin-bottom: px2vw-lg(30px) !important;
  }
  @include md {
    margin-bottom: px2vw-md(30px) !important;
  }
  @include sm {
    margin-bottom: px2vw-sm(30px) !important;
  }
}
.shop-card-game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: px2vw-xl(10px) px2vw-xl(10px);
  border: 1px solid var(--white-smoke);
  font-size: px2vw-xl(14px);
  line-height: px2vw-xl(16px);
  letter-spacing: 0.5px;
  color: var(--fullwhite);
  cursor: pointer;
  font-family: "maxis-bold";
  @include xxl {
    padding: px2vw-xxl(10px) px2vw-xxl(15px);
    font-size: px2vw-xxl(14px);
    line-height: px2vw-xxl(16px);
  }
  @include lg {
    padding: px2vw-lg(10px) px2vw-lg(15px);
    font-size: px2vw-lg(14px);
    line-height: px2vw-lg(16px);
  }
  @include md {
    padding: px2vw-md(10px) px2vw-md(15px);
    font-size: px2vw-md(14px);
    line-height: px2vw-md(16px);
    display: none;
  }
  @include sm {
    padding: px2vw-sm(10px) px2vw-sm(15px);
    font-size: px2vw-sm(14px);
    line-height: px2vw-sm(16px);
  }
}
.swiper-container {
  overflow: hidden;
}
.Play-ongoing-card-author-name {
  display: flex;
  font-family: "maxis-black";
  font-size: px2vw-xl(20px);
  align-items: center;
  @include xxl {
    font-size: px2vw-xxl(20px);
  }
  @include lg {
    font-size: px2vw-lg(20px);
  }
  @include md {
    font-size: px2vw-md(20px);
  }
  @include sm {
    font-size: px2vw-sm(20px);
  }
  svg {
    margin-right: px2vw-xl(5px);
    width: px2vw-xl(20px);
    height: px2vw-xl(16px);
    @include xxl {
      margin-right: px2vw-xxl(5px);
      width: px2vw-xxl(20px);
      height: px2vw-xxl(16px);
    }
    @include lg {
      margin-right: px2vw-lg(5px);
      width: px2vw-lg(20px);
      height: px2vw-lg(16px);
    }
    @include md {
      margin-right: px2vw-md(5px);
      width: px2vw-md(20px);
      height: px2vw-md(16px);
    }
    @include sm {
      margin-right: px2vw-sm(5px);
      width: px2vw-sm(20px);
      height: px2vw-sm(16px);
    }
  }
}

@include sm {
  ::ng-deep {
    .shop-card-content {
      .shop-card-header {
        font-size: px2vw-sm(14px) !important;
      }
      .shop-card-author-image {
        font-size: px2vw-sm(13px) !important;
      }
    }
  }
  .shop-card-game {
    height: px2vw-sm(30px);
    font-size: px2vw-sm(13px);
    padding: px2vw-sm(10px) px2vw-sm(8px);
  }
}
