<div class="container-stream container-tab container">
  <div class="row btn-align" [hidden]="!providerList.length" *ngIf="isAdmin">
    <button
      type="submit"
      class="btn btn-primary tab-content"
      (click)="formAction(!isOpenForm)"
      *ngIf="!isOpenForm"
    >
      {{ "BUTTON.ADD" | translate }}
    </button>
  </div>
  <form
    class="form-container form-adjust"
    [formGroup]="streamForm"
    (submit)="saveStream()"
    (reset)="formAction(false)"
    *ngIf="isOpenForm"
  >
    <div class="row">
      <div class="col-12">
        <div class="row form-group" formGroupName="videoUrl">
          <div class="col-5 select-provider">
            <select
              (change)="changeProvider($event)"
              formControlName="providerName"
            >
              <option disabled [value]="null">{{
                "MANAGE_TOURNAMENT.STREAM.FORM.CHOOSE_PROVIDER" | translate
              }}</option>
              <option *ngFor="let p of providerList" [value]="p.value">{{
                p.value
              }}</option>
            </select>
            <div
              class="error"
              *ngIf="
                streamForm?.controls?.videoUrl?.controls?.providerName
                  ?.touched &&
                streamForm?.controls?.videoUrl?.controls?.providerName?.errors
                  ?.required
              "
            >
              <strong>{{
                "MANAGE_TOURNAMENT.STREAM.REQUIRED.CHOOSE_PROVIDER" | translate
              }}</strong>
            </div>
          </div>
          <fa-icon
            class="copy-to-clipboard"
            [hidden]="!(streamForm?.controls?.type?.value == 'LIVESTREAM')"
            [icon]="['fas', 'copy']"
            (click)="
              copyToClipboard(
                streamForm?.controls?.videoUrl?.controls?.providerName?.value
              )
            "
            ngbTooltip="Copy provider name"
          ></fa-icon>
          <div class="col-5 form-group">
            <label for="title" class="labeltext active">{{
              (streamForm?.controls?.type?.value == "FACEBOOK"
                ? "MANAGE_TOURNAMENT.STREAM.FORM.VIDEOURL"
                : "MANAGE_TOURNAMENT.STREAM.FORM.CHANNEL_NAME"
              ) | translate
            }}</label>
            <input
              id="title"
              type="text"
              class="form-control"
              formControlName="channelName"
              [readonly]="streamForm?.controls?.type?.value == 'LIVESTREAM'"
            />
            <div
              class="error"
              *ngIf="
                streamForm?.controls?.videoUrl?.controls?.channelName
                  ?.touched &&
                streamForm?.controls?.videoUrl?.controls?.channelName?.errors
                  ?.required
              "
            >
              <strong>{{
                (streamForm?.controls?.type?.value == "FACEBOOK"
                  ? "MANAGE_TOURNAMENT.STREAM.REQUIRED.VIDEO_URL"
                  : "MANAGE_TOURNAMENT.STREAM.REQUIRED.CHANNEL_NAME"
                ) | translate
              }}</strong>
            </div>
          </div>
          <fa-icon
            class="copy-to-clipboard"
            [hidden]="!(streamForm?.controls?.type?.value == 'LIVESTREAM')"
            [icon]="['fas', 'copy']"
            (click)="
              copyToClipboard(
                streamForm?.controls?.videoUrl?.controls?.channelName?.value
              )
            "
            ngbTooltip="Copy channel name/stream-key"
          ></fa-icon>
        </div>
        <div class="row form-group col-5">
          <label for="title" class="labeltext active">{{
            "MANAGE_TOURNAMENT.STREAM.FORM.TITLE" | translate
          }}</label>
          <input
            id="title"
            type="text"
            class="form-control"
            formControlName="title"
          />
          <div
            class="error"
            *ngIf="
              streamForm?.controls?.title?.touched &&
              streamForm?.controls?.title?.errors?.required
            "
          >
            <strong>{{
              "MANAGE_TOURNAMENT.STREAM.REQUIRED.TITLE" | translate
            }}</strong>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="description" class="labeltext active">{{
            "MANAGE_TOURNAMENT.STREAM.FORM.DESCRIPTION" | translate
          }}</label>
          <textarea
            id="description"
            type="text"
            class="form-control"
            formControlName="description"
            rows="3"
          >
          </textarea>
          <div
            class="error"
            *ngIf="
              streamForm?.controls?.description?.touched &&
              streamForm?.controls?.description?.errors?.required
            "
          >
            <strong>{{
              "MANAGE_TOURNAMENT.STREAM.REQUIRED.DESCRIPTION" | translate
            }}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-align">
      <button type="reset" class="btn btn-primary tab-content">
        {{ "BUTTON.CANCEL" | translate }}
      </button>
      <button type="submit" class="btn btn-primary tab-content">
        {{ "BUTTON.PUBLISH" | translate }}
      </button>
    </div>
  </form>
  <ng-container *ngFor="let s of streamList; let i = index">
    <div class="card card-stream" [hidden]="i === editIndex">
      <div class="row">
        <div class="col-6">
          <iframe
            *ngIf="s.type != 'LIVESTREAM'"
            [src]="s?.url | safe: 'url'"
            allowfullscreen="true"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
          ></iframe>
          <ng-container *ngIf="s.type == 'LIVESTREAM'">
            <div
              class="mesf-custom-streaming-loader is-sm"
              [hidden]="!customStreamLoader"
            >
              <mat-spinner [diameter]="40"></mat-spinner>
            </div>
            <video #playbackVideo id="playbackVideo" playsinline></video>
            <div class="row action-icon">
              <fa-icon
                [icon]="['fas', 'play']"
                (click)="
                  startStreaming('playbackVideo', s?.videoUrl?.channelName)
                "
                ngbTooltip="{{
                  'MANAGE_TOURNAMENT.STREAM.TOOLTIP.START' | translate
                }}"
              ></fa-icon>
              <fa-icon
                [icon]="['fas', 'stop']"
                (click)="stopStreaming()"
                ngbTooltip="{{
                  'MANAGE_TOURNAMENT.STREAM.TOOLTIP.STOP' | translate
                }}"
              ></fa-icon>
              <fa-icon
                [icon]="['fas', 'expand']"
                (click)="fullScreenStreaming()"
                ngbTooltip="{{
                  'MANAGE_TOURNAMENT.STREAM.TOOLTIP.FULL_SCREEN' | translate
                }}"
              ></fa-icon>
            </div>
          </ng-container>
        </div>
        <div class="col-6">
          <h5>{{ s.title }}</h5>
          <p>{{ s.description }}</p>
          <div class="row action-icon" *ngIf="isAdmin">
            <fa-icon
              [icon]="['fas', 'edit']"
              (click)="editStream(i)"
              ngbTooltip="{{
                'MANAGE_TOURNAMENT.STREAM.TOOLTIP.EDIT' | translate
              }}"
            ></fa-icon>
            <fa-icon
              [icon]="['fas', 'trash']"
              (click)="removeStream(content, i)"
              ngbTooltip="{{
                'MANAGE_TOURNAMENT.STREAM.TOOLTIP.REMOVE' | translate
              }}"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!streamList.length && !isAdmin">
    <div
      class="card card-stream"
      *ngFor="let stream of preTournamentStream; let i = index"
    >
      <div class="row">
        <div class="col-12">
          <iframe
            [src]="stream | safe: 'url'"
            allowfullscreen="true"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"
          ></iframe>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ "MANAGE_TOURNAMENT.STREAM.POPUP.TITLE" | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss(false)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{ "MANAGE_TOURNAMENT.STREAM.POPUP.BODY" | translate }}
    </p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary tab-content border-red-zero"
      (click)="modal.close(false)"
    >
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button type="button" class="btn active-btn" (click)="modal.close(true)">
      {{ "BUTTON.CONFIRM" | translate }}
    </button>
  </div>
</ng-template>
