@import "shared";

.people-blocked .blocked-user {
  border-bottom: 1px solid var(--header-thickgrey);
  /*margin-bottom: 16px;*/
}

.blocked-user .profile-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.blocked-user {

  .mat-icon{
    color: var(--main-color);
    float: right;
  }

  .sub-text {
    color: var(--tolopea-color);
    font-size:16px;
    font-weight:500;
  }

  .profile-link:hover {
    /*color: var(--main-color);*/
    text-decoration: none;
  }
}

@include sm {
  .Passwords-manage-button{
    width:100%;
  }
}

img.profile-photo-lg {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

::ng-deep .Popup-confirmClose {
  width: 423px;
  height: auto !important;
  left: 538px;
  top: 284px;

  @include md {
    width: 327px;
    height: auto !important;
    padding: 24px;
  }
}

::ng-deep .Popup-confirmClose.join {
  background: var(--white) !important;
  box-shadow: -4px -4px 20px rgb(0 0 0 / 8%), 4px 4px 20px rgb(0 0 0 / 8%);
  border-radius: 20px;
  padding: 48px;

  @include md {
    padding: 24px;
  }
}

::ng-deep .Popup-confirmClose-title {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.5px;
  margin-bottom: 16px;

  @include md {
    font-size: 20px;
    line-height: 28px;
  }
}

::ng-deep .Popup-confirmClose-title.join {
  color: var(--black) !important;
}

::ng-deep .Popup-confirmClose-description {
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

::ng-deep .Popup-confirmClose-description.join {
  color: var(--black) !important;
}

::ng-deep .Popup-confirmClose-input {
  margin-bottom: 32px;
}

::ng-deep .Popup-confirmClose-input .input_label{
  color: var(--black);
  margin-top: 16px;
}

::ng-deep .Popup-confirmClose-input .input-data {
  border: 1px solid var(--tolopea-color);
  height: 34px;
  width:100%;
  margin-top: px2vw-xl(8px);
  border-radius: px2vw-xl(4px);
  padding: 0 px2vw-xl(4px);
}
