<mat-tab-group
  mat-align-tabs="start"
  class="mesf-TabGroup"
  (selectedTabChange)="onTabChanged($event)"
  [(selectedIndex)]="activeTabIndex"
>
  <mat-tab
    label="{{
      'ADMIN.CONTENT_MANAGEMENT.TABS.HIGHLIGHTED_ARTICLES' | translate
    }}"
  >
    <div *ngIf="activeTabIndex == 0">
      <div class="ContentManagement-searchBox">
        <div class="ContentManagement-search">
          <mat-icon>search</mat-icon>
          <input
            (keyup)="updateFirstTabFilter($event)"
            type="text"
            placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
          />
        </div>
      </div>

      <div class="mesf-scrollbar">
        <ngx-datatable
          #table
          class="mesf-DataTableAdmin dark is-viewRemoveRow is-admin"
          [columns]="columnsFirstTab"
          [rows]="articlesList"
          [columnMode]="'flex'"
          [headerHeight]="'auto'"
          [footerHeight]="'auto'"
          [rowHeight]="'auto'"
          [limit]="50"
        >
          <ngx-datatable-column
            [flexGrow]="3"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.ARTICLE_NAME' | translate
            }}"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{
                row?.title
                  | customTranslate: (languageService?.language | async)
              }}
            </ng-template>
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row["createdDate"] | date: "dd MMM yy" }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.GAME' | translate
            }}"
            prop="game"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.AUTHOR_NAME' | translate
            }}"
            prop="authorName"
          >
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.PUBLISH_DATE' | translate
            }}"
            prop="createdDate"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row["createdDate"] | date: "dd MMM yy" }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column
          [flexGrow]="1"
          name="{{ 'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.LIKES' | translate }}"
          prop="likes"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row["likes"] || "NA" }}
          </ng-template>
        </ngx-datatable-column> -->
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.VIEWS' | translate
            }}"
            prop="views"
          >
          </ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="1" name="">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button
                (click)="viewArticle(viewModel, row['id'], 'view')"
                mat-icon-button
                color="primary"
                class="ContentManagement-tableBtn is-view"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon
                  color="accent"
                  (click)="open(openModel, row['id'], 'delete')"
                  class="ContentManagement-tableBtn is-remove"
                  >cancel</mat-icon
                >
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </mat-tab>

  <mat-tab
    label="{{ 'ADMIN.CONTENT_MANAGEMENT.TABS.APPROVAL_PENDING' | translate }}"
  >
    <div *ngIf="activeTabIndex == 1">
      <div class="ContentManagement-searchBox">
        <div class="ContentManagement-search">
          <mat-icon>search</mat-icon>
          <input
            (keyup)="updateFirstTabFilter($event)"
            type="text"
            placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
          />
        </div>
      </div>

      <div class="mesf-scrollbar">
        <ngx-datatable
          #table
          class="mesf-DataTableAdmin dark is-viewRemoveRow is-admin"
          [columns]="columnsSecondTab"
          [rows]="articlesList"
          [columnMode]="'flex'"
          [headerHeight]="'auto'"
          [footerHeight]="'auto'"
          [rowHeight]="'auto'"
          [limit]="50"
        >
          <ngx-datatable-column
            [flexGrow]="3"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.ARTICLE_NAME' | translate
            }}"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{
                row?.title
                  | customTranslate: (languageService?.language | async)
              }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.GAME' | translate
            }}"
            prop="game"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.AUTHOR_NAME' | translate
            }}"
            prop="authorName"
          >
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.PUBLISH_DATE' | translate
            }}"
            prop="createdDate"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row["createdDate"] | date: "dd MMM yy" }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column
          name="{{ 'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.LIKES' | translate }}"
          prop="likes"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row["likes"] || "NA" }}
          </ng-template>
        </ngx-datatable-column> -->
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.VIEWS' | translate
            }}"
            prop="views"
          >
          </ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="1" name="">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button
                (click)="viewArticle(viewModel, row['id'], 'view')"
                mat-icon-button
                color="primary"
                class="ContentManagement-tableBtn is-view"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                (click)="viewArticle(viewModel, row['id'], 'check')"
                mat-icon-button
                color="primary"
                class="ContentManagement-tableBtn is-view"
              >
                <mat-icon>check_box</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon
                  color="accent"
                  (click)="open(openModel, row['id'], 'delete')"
                  class="ContentManagement-tableBtn is-remove"
                  >cancel</mat-icon
                >
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <app-pagination
          [page]="page"
          *ngIf="articlesList.length > 0"
          (currentPage)="pageChanged($event)"
        >
        </app-pagination>
      </div>
    </div>
  </mat-tab>

  <mat-tab
    label="{{ 'ADMIN.CONTENT_MANAGEMENT.TABS.PUBLISHED_ARTICLES' | translate }}"
  >
    <div *ngIf="activeTabIndex == 2">
      <div class="ContentManagement-searchBox">
        <div class="ContentManagement-search">
          <mat-icon>search</mat-icon>
          <input
            (keyup)="updateFirstTabFilter($event)"
            type="text"
            placeholder="{{ 'ADMIN.CONTENT_MANAGEMENT.SEARCH' | translate }}"
          />
        </div>
      </div>

      <div class="mesf-scrollbar">
        <ngx-datatable
          #table
          class="mesf-DataTableAdmin dark is-viewRemoveRow is-admin"
          [columns]="columnsFirstTab"
          [rows]="articlesList"
          [columnMode]="'flex'"
          [headerHeight]="'auto'"
          [footerHeight]="'auto'"
          [rowHeight]="'auto'"
          [limit]="50"
        >
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.FEATURE' | translate
            }}"
          >
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-row="row"
              let-isSelected="row.isFeature"
            >
              <mat-checkbox
                color="primary"
                (change)="updateFeature($event, row['id'])"
                [checked]="row.isFeature"
                class="is-big"
              ></mat-checkbox>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="3"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.ARTICLE_NAME' | translate
            }}"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{
                row?.title
                  | customTranslate: (languageService?.language | async)
              }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.GAME' | translate
            }}"
            prop="game"
          ></ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.AUTHOR_NAME' | translate
            }}"
            prop="authorName"
          >
          </ngx-datatable-column>
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.PUBLISH_DATE' | translate
            }}"
            prop="createdDate"
          >
            <ng-template
              let-row="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              {{ row["createdDate"] | date: "dd MMM yy" }}
            </ng-template>
          </ngx-datatable-column>
          <!-- <ngx-datatable-column
          name="{{ 'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.LIKES' | translate }}"
          prop="likes"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row["likes"] || "NA" }}
          </ng-template>
        </ngx-datatable-column> -->
          <ngx-datatable-column
            [flexGrow]="1"
            name="{{
              'ADMIN.CONTENT_MANAGEMENT.TABLE_HEADER.VIEWS' | translate
            }}"
            prop="views"
          >
          </ngx-datatable-column>
          <ngx-datatable-column [flexGrow]="1" name="">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button
                (click)="viewArticle(viewModel, row['id'], 'view')"
                mat-icon-button
                color="primary"
                class="ContentManagement-tableBtn is-view"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon
                  color="accent"
                  (click)="open(openModel, row['id'], 'delete')"
                  class="ContentManagement-tableBtn is-remove"
                  >cancel</mat-icon
                >
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
        <app-pagination
          [page]="page"
          *ngIf="articlesList.length > 0"
          (currentPage)="pageChanged($event)"
        >
        </app-pagination>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- VIEW MODEL -->
<ng-template #viewModel let-modal class="temp">
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="pl-4 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-3">
          <h5>
            {{
              "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.ARTICLES_DETAILS"
                | translate
            }}
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span class="description-text">
            <label>{{
              "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.BASIC_DETAILS" | translate
            }}</label>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label
            >{{
              "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.ARTICLE_NAME" | translate
            }}
          </label>
          <div class="">
            <span
              [innerHTML]="
                articleModel?.title
                  | customTranslate: (languageService?.language | async)
              "
            ></span>
            <hr />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.AUTHOR_NAME" | translate
          }}</label>
          <div class="">
            <span>{{ articleModel?.authorDetails?.fullName }}</span>
            <hr />
          </div>
        </div>
        <div class="col-md-6">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.START_DATE" | translate
          }}</label>
          <div class="">
            <span>{{ articleModel?.createdDate | date: "MMM d, y" }}</span>
            <hr />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.MINUTE_READING" | translate
          }}</label>
          <div class="">
            <span>{{ articleModel?.minRead }}</span>
            <hr />
          </div>
        </div>
        <div class="col-md-6">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.GAME" | translate
          }}</label>
          <div class="">
            <span>{{ articleModel?.gameDetails?.name }}</span>
            <hr />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.DESCRIPTION" | translate
          }}</label>
          <div class="">
            <span
              class="author-description"
              [innerHTML]="
                articleModel?.content
                  | customTranslate: (languageService?.language | async)
                  | safe: 'html':false
              "
            ></span>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <span class="d-flex flex-column ml-3">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.DESCRIPTION" | translate
          }}</label>
        </span>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.LIKES" | translate
          }}</label>
          <div class="">
            <span>{{ articleModel?.likes || "NA" }}</span>
            <hr />
          </div>
        </div>
        <div class="col-md-4">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.BOOKMARKS" | translate
          }}</label>
          <div class="">
            <span>NA</span>
            <hr />
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.SHARED" | translate
          }}</label>
        </span>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.FACEBOOK" | translate
          }}</label>
          <div class="">
            <span>NA</span>
            <hr />
          </div>
        </div>
        <div class="col-md-4">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.TWITTER" | translate
          }}</label>
          <div class="">
            <span>NA</span>
            <hr />
          </div>
        </div>
        <div class="col-md-4">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.INSTAGRAM" | translate
          }}</label>
          <div class="">
            <span>NA</span>
            <hr />
          </div>
        </div>
      </div>-->
      <div class="row">
        <span class="d-flex flex-column ml-3">
          <label>{{
            "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.TAGS" | translate
          }}</label>
        </span>
      </div>
      <div class="row">
        <div class="col-md-12 tags-list">
          <div *ngFor="let tag of articleModel?.tags" class="tag-item">
            {{ tag | nameById: "name":tagsList }}
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <span class="d-flex flex-column ml-3">
          <label
            >{{ "ADMIN.CONTENT_MANAGEMENT.MODEL_POPUP.COMMENTS" | translate }}
            {{ articleModel?.comments?.length }}</label
          >
        </span>
      </div>
      <div class="row" *ngFor="let item of articleModel?.comments">
        <div class="col-md-12 mt-2">
          <span class="circle-span">{{
            item.userDetails.fullName | firstWord
          }}</span>
          <span>{{ item.comment }}</span>
        </div>
      </div>
      <div class="modal-footer" *ngIf="!viewModelBtnDisable">
        <button
          type="button"
          name="button"
          class="btn-primary"
          (click)="trash()"
        >
          {{ "BUTTON.TRASH" | translate }}
        </button>
        <button
          type="button"
          name="button"
          class="btn-primary"
          (click)="open(openModel, articleModel?.id, 'requestEdit')"
        >
          {{ "BUTTON.REQUEST_EDIT" | translate }}
        </button>
        <button
          type="button"
          name="button"
          class="btn-primary"
          (click)="approvePublish()"
        >
          {{ "BUTTON.APPROVED" | translate }} &
          {{ "BUTTON.PUBLISH" | translate }}
        </button>
      </div>
      <div class="row" *ngIf="viewModelBtnDisable">
        <div class="col-md-8"></div>
        <div class="col-md-4 model-footer">
          <button
            type="button"
            name="button"
            (click)="modal.dismiss()"
            class="btn-primary"
          >
            {{ "BUTTON.CLOSE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- ABORT MODEL/ REQUEST EDIT -->
<ng-template #openModel let-modal class="temp">
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss()">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="pl-5 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-4">
          <h4>{{ modelHeader }}</h4>
          <hr class="hr-margin" />
        </div>
      </div>
      <div class="row mt-2 ml-3 pl-2 mr-5">
        <span class="description-text">
          <h5>
            {{ modelTitle }}
          </h5>
          <span *ngIf="!showRequestEditBtn">{{ modelDesc }}</span>
          <span *ngIf="showRequestEditBtn">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="changeRequestModel"
            />
          </span>
          <hr />
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer" *ngIf="hideBtn">
    <button
      type="button"
      name="button"
      class="btn-primary"
      data-dismiss="modal"
      (click)="modal.dismiss()"
    >
      {{ "BUTTON.CANCEL" | translate }}
    </button>
    <button
      type="button"
      name="button"
      class="active-btn"
      *ngIf="!showRequestEditBtn"
      (click)="trash()"
    >
      {{ "BUTTON.DELETE" | translate }}
    </button>
    <button
      type="button"
      name="button"
      class="active-btn"
      *ngIf="showRequestEditBtn"
      (click)="submitRequestEdit()"
    >
      {{ "BUTTON.SUBMIT" | translate }}
    </button>
  </div>
</ng-template>
<app-loading *ngIf="isLoading"></app-loading>
<app-fullscreen-loading *ngIf="isFullLoading"></app-fullscreen-loading>
