@import "shared";

.form-group {
  .dropdown {
    button {
      text-align: left;

      &:after {
        display: none;
      }
    }
    .dropdown-menu {
      box-shadow: 4px 4px 6px var(--black-medium);
      padding: 0;
      left: auto !important;
      max-height: 198px;
      overflow-x: auto;
      width: 100%;
      transform: none !important;
      top: 38px !important;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        height: 10px;
        background-color: var (--black-ash1);
        border-radius: 3px;
      }

      .dropdown-item {
        border-bottom: 0.5px solid var(--black-medium);
        padding-top: 15px;
        padding-bottom: 9px;
        padding-left: 19px;
        color: var(--black);
        font-size: 16px;
        line-height: 21px;

        &:last-child {
          border-bottom: 0;
        }

        &:hover,
        &:active,
        &:focus {
          background: transparent;
          color: var(--black-medium);
        }
      }
    }
  }
  .labeltext {
    background-color: var(--white-high);
    position: absolute;
    font-size: 16px;
    left: 19px;
    line-height: 21px;
    color: var(--black);
    margin: 0;
    top: 10px;
    padding: 0px 10px 0 5px;
    transition: $global-transition;
    z-index: 1;
  }
  .form-control:focus ~ .labeltext,
  .labeltext.active {
    font-size: 12px;
    line-height: 16px;
    top: -7px;
    z-index: 2;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .form-group {
    .dropdown {
      .dropdown-menu {
        .dropdown-item {
          font-size: 16px;
          line-height: normal;
        }
      }
    }
  }
}
