<section class="Search-sectionA u-wp">
  <h3 class="global-H3">{{ "header.SEARCH" | translate }}</h3>

  <div class="Search-sectionA-subtitle"></div>

  <app-search-input class="Search-sectionA-search"></app-search-input>

  <div class="Search-sectionA-buttons">
    <div class="Search-sectionA-buttons-list">
      <button
        (click)="onSearchCategory(AppHtmlRoutes.search)"
        (keyup)="onSearchCategory(AppHtmlRoutes.search)"
        [routerLink]="AppHtmlRoutes.search"
        [queryParams]="{ text: text }"
        [class.is-active]="isAllPage"
        [routerLinkActive]="'is-active'"
        class="Search-sectionA-button global-EditBtn"
      >
        <span class="global-text-lead">{{ "SEARCH.ALL" | translate }}</span>
      </button>
      <button
        (click)="activeRoute = AppHtmlRoutes.searchTournament"
        [routerLink]="AppHtmlRoutes.searchTournament"
        [queryParams]="{ text: text }"
        [routerLinkActive]="'is-active'"
        class="Search-sectionA-button mb-3 global-EditBtn"
      >
        <span class="global-text-lead">{{
          "SEARCH.TOURNAMENT" | translate
        }}</span>
      </button>
      <button
        (click)="activeRoute = AppHtmlRoutes.searchArticle"
        [routerLink]="AppHtmlRoutes.searchArticle"
        [queryParams]="{ text: text }"
        [routerLinkActive]="'is-active'"
        class="Search-sectionA-button global-EditBtn"
      >
        <span class="global-text-lead">{{ "SEARCH.ARTICLE" | translate }}</span>
      </button>
      <button
        (click)="activeRoute = AppHtmlRoutes.searchVideo"
        [routerLink]="AppHtmlRoutes.searchVideo"
        [queryParams]="{ text: text }"
        [routerLinkActive]="'is-active'"
        class="Search-sectionA-button global-EditBtn"
      >
        <span class="global-text-lead">{{ "SEARCH.VIDEO" | translate }}</span>
      </button>
    </div>

    <mat-form-field
      *ngIf="activeRoute === AppHtmlRoutes.searchTournament"
      class="stc-select"
      appearance="outline"
    >
      <mat-select
        [(ngModel)]="tournamentFilter"
        (ngModelChange)="handleTournamentStatusChange()"
      >
        <mat-option [value]="OngoingTournamentFilter.upcoming">
          {{ "ESPORTS.SECTIONBV2.BUTTON1" | translate }}
        </mat-option>
        <mat-option [value]="OngoingTournamentFilter.ongoing">
          {{ "ESPORTS.SECTIONBV2.BUTTON2" | translate }}
        </mat-option>
        <mat-option [value]="OngoingTournamentFilter.completed">
          {{ "ESPORTS.SECTIONBV2.BUTTON3" | translate }}
        </mat-option>
        <mat-option [value]="OngoingTournamentFilter.all">
          {{ "ESPORTS.SECTIONBV2.ALL" | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>

<router-outlet></router-outlet>
