@import "shared";

:host {
  display: block;
}
.SeasonsMatches {
  padding-top: 12px;
  &-heading {
    margin-bottom: 31px;
    border-bottom: 1px solid var(--wet-clay);
    padding-bottom: px2vw-xl(32px);
    @include md {
      margin-bottom: 16px;
    }
    .title {
      @include textStyleSet(Paralucent,normal,600,40px,48px,0.5px);
      color: var(--tolopea-medium-color);
      margin-bottom: 0;
      @include md {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  &-filter {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 27.5px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-black-medium);
    @include md {
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
    &-Group {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      @include sm {
        display: none;
      }
    }
    &-Button {
      display: none;
      width: 100%;
      max-width: 151px;

      @include md {
        display: block;
      }
      @include sm {
        max-width: 100%;
      }
      button.btn {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--secondary-color);
        text-transform: none;
        width: 100%;
        padding: 10px 0;
        @include sm {
          width: 100%;
          padding: 11px 16px;
        }
      }
    }
    &-label {
      margin-right: 8px;
      .text {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--tolopea-color);
      }
    }
    &-lists {
      display: flex;
      align-items: center;
      .item {
        background: var(--midnight-express-color);
        border: 1px solid var(--color-black-medium);
        box-sizing: border-box;
        border-radius: 18px;
        padding: 4px 6px 4px 10px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        .text {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: var(--color-white-medium);
        }
        .icon-remove {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          margin-left: 4px;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 9.33px;
            height: 1px;
            background-color: var(--tertiary-color);
          }
          &::before {
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &::after {
            -moz-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }
      }
    }
    &-btn {
      .btn-clear {
        padding: 0;
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--main-color);
        text-transform: none;
        margin-left: 8px;
      }
    }
  }
  &-main {
    &-heading {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 24px;
      @include md {
        margin-bottom: 62px;
      }
      .ShowingEntries {
        @include textStyleSet(Paralucent,normal,600,20px,28px,0.5px);
        color: var(--full-white);
        margin-bottom: 0;
        @include md {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 8px;
        }
      }
      .SortBy {
        width: 100%;
        max-width: 280px;
        @include md {
          max-width: 100%;
        }
      }
    }
    &-content {
      &-heading {
        margin-bottom: 22px;
        .title {
          font-family: Avenir Next;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -0.5px;
          color: var(--white);
          margin-bottom: 0;
        }
      }
      .SeasonsMatches-lists {
        .item {
          display: inline-block;
          margin-right: px2vw-lg(24px);
          width: 297px;
          margin-bottom: px2vw-lg(24px);
          // display: -webkit-flex;
          // display: flex;
          // -webkit-justify-content: space-between;
          // justify-content: space-between;
          // -webkit-align-items: center;
          // align-items: center;
          // -webkit-flex-wrap: wrap;
          // flex-wrap: wrap;
          // margin-bottom: 24px;
          // padding-bottom: 24px;
          // border-bottom: 1px solid var(--color-black-medium);
          @include sm {
            margin-bottom: 16px;
            padding-bottom: 0;
            border-bottom: none;
          }
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
          .item-thumbnail {
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            width: 100%;
            max-width: 297px;
            height: 167px;
            @include sm {
              max-width: 100%;
              border-radius: 16px;
              height: 227px;
              margin-bottom: 16px;
            }
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              object-fit: contain;
            }
          }
          .item-info {
            width: 100%;
           // max-width: calc(100% - 271px);
            
            position: relative;
            @include sm {
              max-width: 100%;
              padding-left: 0;
              padding-right: 0;
              display: -webkit-flex;
              display: flex;
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
              -webkit-align-items: flex-start;
              align-items: flex-start;
            }
            .mb-avatar {
              display: none;
              @include sm {
                display: block;
              }
            }
            .avatar {
              position: relative;
              width: 32px;
              height: 32px;
              overflow: hidden;
              border-radius: 50%;
              margin-right: 8px;
              display: inline-block;
              img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
              }
            }
            .title {
              @include textStyleSet(Paralucent,normal,600,24px,32px,0.5px);
              color: var(--white);
              margin-bottom: 8px;
              @include md {
                font-size: 20px;
                line-height: 28px;
              }
              @include sm {
                font-size: 16px;
                line-height: 24px;
              }
            }
            .end-date {
              @include textStyleSet(Paralucent,normal,600,14px,20px,normal);
              color: var(--spacesuit);
              margin-bottom: 8px;
              @include md {
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                margin-bottom: 0;
                color: var(--tolopea-color);
              }
            }
            .progressBarContainer {
              &-des {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 8px;
                @include sm {
                  display: none;
                }

                &-by {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  margin-right: 16px;
                  .avatar {
                    position: relative;
                    width: 24px;
                    height: 24px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: 8px;
                    @include sm {
                      display: none;
                    }
                    img {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      top: 0;
                      left: 0;
                      object-fit: cover;
                    }
                  }
                  .td {
                    @include textStyleSet(Paralucent,normal,normal,14px,20px,normal);
                    font-family: Avenir Next;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--spacesuit);
                    margin-bottom: 0;
                    margin-left: px2vw-xl(8px);
                    @include sm {
                      font-weight: 600;
                    }
                  }
                }
                &-players {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  .icon {
                    max-width: 23px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;
                    @include sm {
                      display: none;
                    }
                  }
                  .number-player {
                    font-family: Avenir Next;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--tolopea-color);
                    margin-bottom: 0;
                  }
                }
              }
              &-desMB {
                display: none;
                @include sm {
                  display: block;
                  margin-bottom: 8px;
                }
                .text {
                  font-family: Avenir Next;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  color: var(--tolopea-color);
                }
              }
              &-slider {
                width: 100%;
                height: 4px;
                margin-top: px2vw-xl(12px);
                margin-bottom: px2vw-xl(4px);
                background: var(--wet-clay);
                border-radius: 10px;
                position: relative;
                overflow: hidden;
                @include md {
                  max-width: 100%;
                }
                .active {
                  display: inline-block;
                  width: 70.743%;
                  height: 8px;
                  position: absolute;
                  top: 0;
                  left: 0;
                  background: var(--progress-green);
                  border-radius: 10px 0px 0px 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.TeamCard-manage-button-menu {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  @include md {
    display: none;
  }
  .TeamCard-manage-button-menu-icon {
    font-size: 28px;
    width: auto;
    height: auto;
    color: var(--main-color);
    @include md {
      font-size: 24px;
      width: 32px;
      height: 32px;
    }
  }
}
.Select-teamDropdown {
  &:hover,
  &.show {
    .Select-teamBtn {
      border: 2px solid var(--main-color);
    }
  }
  .Select-teamBtn {
    background: var(--color-background);
    border: 2px solid var(--midnight-express-color);
    box-sizing: border-box;
    border-radius: 24px;
    width: 100%;
    text-align: left;
    padding: 10px 17px 10px 14px;
    @extend %global-textSm;
    color: var(--white);
    text-transform: none;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;

    @include textStyleSet(Paralucent,normal,normal,16px,24px,0.5px);

    @include sm {
      max-width: 100%;
      padding: 6px 24px;
      font-weight: 500;
    }
    &::after {
      display: inline-block;
      margin-left: 0;
      vertical-align: 0;
      content: "";
      border-top: 2px solid var(--secondary-color);
      border-right: 2px solid var(--secondary-color);
      border-bottom: 0;
      border-left: 0;
      width: 12px;
      height: 12px;
      transform: rotate(135deg);
      transition: $global-transition2;
      position: relative;
      top: -3px;
    }
  }
  .Select-teamDropdownItem {
    top: 55px !important;
    transform: none !important;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 16px;
    background: var(--midnight-express-color);
    border: 2px solid var(--midnight-express-color);
    padding-left: 0;
    padding-right: 0;
    @include sm {
      top: 45px !important;
    }
    button {
      @include textStyleSet(Paralucent,normal,normal,14px,20px,normal);
      color: var(--white);
      padding: 10px 16px;
      &:hover {
        background: var(--color-black-medium);
      }
    }
  }
  &.show {
    .select-teamBtn {
      &::after {
        transform: rotate(315deg);
        transition: $global-transition2;
      }
    }
  }
}
.popup {
  display: none;
  @include md {
    display: block;
  }
}
