<h2 class="Home-sectionB-title global-Title2">
    {{ "HOME.TOURNAMENT.UPCOMING_TOURNAMENT" | translate }}
  </h2>
  <div class="Home-sectionB-cards" *ngIf="tournamentsData">
    <a
      class="Home-sectionB-card"
      *ngFor="let tournament of tournamentsData"
      [routerLink]="AppHtmlRoutes.tournamentView + '/' + tournament?.slug"
    >
      <img
        class="Home-sectionB-card-image"
        [src]="tournament?.banner || tournament?.gameDetail?.image"
        [alt]="tournament?.name"
        
      />

      <h3 class="Home-sectionB-card-title global-Elipses">
        {{ tournament.name | capitalizeFirst }}
      </h3>
      <p class="Home-sectionB-card-info global-Text">
        {{ tournament?.startDate | date: "MMMM d, y" }} |
        {{
          !isNumber(timezone)
            ? (tournament?.startDate | date: "shortTime")
            : (tournament?.startDate | date: "longTime")
        }}
        {{ !isNumber(timezone) ? timezone : "" }} <br />
        <ng-container
          *ngIf="tournament?.isParticipantsLimit && isShowParticipants"
        >
          {{ tournament?.participantJoined }}
          {{ "HOME.SECTIONB.OF" | translate }}
          {{ tournament?.maxParticipants }}
          {{
            tournament?.participantType === "individual"
              ? ("HOME.SECTIONB.PLAYER_TOURNAMENT_CARD" | translate)
              : ("HOME.SECTIONB.TEAM_TOURNAMENT_CARD" | translate)
          }}
        </ng-container>
        <ng-container
          *ngIf="!tournament?.isParticipantsLimit && isShowParticipants"
        >
          {{ tournament?.participantJoined }}
          {{
            tournament?.participantType
              | pType: tournament?.participantJoined:tournament?.bracketType
              | translate
          }}
        </ng-container>
      </p>
    </a>
  </div>