@import "shared";

.banner-image {

  .main-image {
    border-radius:px2vw-xl(60px);
    width:calc(592px);
    height:calc(358px) ;

    @include sm {
      border-radius:px2vw-sm(20px);
      width:100%;
      height:px2vw-sm(286px);
    }

  }

  .name {
    font-size:32px;
    color: var(--white);
  }

  .id-infomore {
    font-size:18px;
    color: var(--white);
    line-height:1;
  }

  .uploaded-by {
    font-size:18px;
    color: var(--tolopea-color);
  }
}

.banner {

  @include sm {
    background: none;
  }

  &-wrpr {
    position: relative;
    max-width:  1260px;
    margin: 0px auto;

    @include sm {
      padding:0 24px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 704px auto;
    grid-column-gap: 10px;

    @include sm {
      grid-template-columns: auto;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 52px;
    }

    @include md {
      grid-template-columns: auto;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 52px;
    }

  }

  &-outline-text {
    z-index:1;

    @include sm {
      top:8px;
      left:0;
      right:0;
    }

    img {
      width: 96vw;
      margin: auto;
      left: 0;
      right:0;
      top: -60px;

      @include xl {
        top: -30px;
      }

      @include lg {

      }

      @include md {

      }

      @include sm {
        top: -8px;
      }
    }
  }

  &-fill-text {

    position: absolute;
    left: 50px;
    top: -10px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
    z-index:3;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    color: var(--white);

    @include xl {
      top: 0px;
    }

    @include lg {
      top: 0px;
    }

    @include sm {
      font-size: 28px;
      line-height: 20px;
      top:24px;
    }

  }

  &-row {
    background-image: url('/assets/images/Home/preview-slider/s1_square1.png');
    background-color: var(--color-background);
    background-blend-mode: color-dodge;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  &-left-bg {
    background-image: url('/assets/images/Home/bg_home_tour_bigCard.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 140px;
    z-index: 2;
    height: 520px;

    @include xl {
      background-position: center 100px;
      height: 464px;
    }

    @include lg {
      height: 402px;
    }

    @include md {
      height: 230px;
    }

    @include sm {
      height: 260px;
      background-position: center 100px;
    }
  }

  &-left {

    img {
      position: absolute;
      top:32px;
      width: 650px;
      height: 394px;
      border-radius: px2vw-xl(20px);
      

      @include xl {
        width: 585px;
        height: 354px;
        left: 26px;
      }

      @include lg {
        width: 585px;
        height: 354px;
      }

      @include md {
        width: 338px;
        height: 204px;
      }

      @include sm {
        width: 321px;
        height: 194px;
        left: 0;
        top: 32px;
        border-radius: px2vw-xl(60px);
      }
    }

  }

  &-right {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: start;
    align-items: start;

    @include sm {
      -webkit-align-items: flex-start;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 16px;
    }

    .name {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 8px;
      color: var(--white);
      overflow-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include sm {
        font-size: 28px;
        padding-top: 15px;
      }
    }

    .id-infomore {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: var(--white);
      margin-bottom: 0;
      overflow-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include xl {
        width: 80%;
      }

      @include sm {
        font-size: 20px;
        padding-top: 15px;
      }
    }

    .uploaded-by {
      color: var(--home-infotext);
      font-size: 24px;

      @include sm {
        font-size: 20px;
      }
    }
  }
}

.hwr{
  height: 32px;
  width: 32px;
  border-radius:10px ;
  background-size: cover;
  padding: 0px;
}

::ng-deep{
  .pl-md-5, .px-md-5 {
    padding-left: 0rem !important;
}
}

.curserPointer{
  cursor: pointer;
}
