<div class="feed-option">
  <div class="feed-option-container">
    <div class="container-left">
      <ul *ngFor="let item of menuFeed">
        <li
          [style.color]="item === dataFeed[0] ? 'white' : ''"
          [style.border-bottom]="
            item === dataFeed[0] ? '1px solid #BBF55A' : ''
          "
          (click)="handleCLick(item)"
        >
          {{ item | translate }}
        </li>
      </ul>
    </div>
    <div class="img-menu">
      <img src="../../../../assets/images/Profile/editor-feed.png" />
    </div>
  </div>
</div>
<div class="feed-respon">
  <h2>Overview</h2>
  <div class="img-drop">
    <img src="../../../../assets/images/Profile/dropdow.png" />
  </div>
</div>
