<button mat-dialog-close mat-icon-button class="global-Dialog-close">
  <span class="material-icons">clear</span>
</button>

<div class="ViewAdvertisementPopup">
  <div class="ViewAdvertisementPopup-box">
    <div class="ViewAdvertisementPopup-items">
      <div class="ViewAdvertisementPopup-item">
        <h2>NAME</h2>
        <h3>{{ data.advertisement.campaignName }}</h3>
      </div>

      <div class="ViewAdvertisementPopup-item">
        <h2>EMAIL ADDRESS</h2>
        <h3>{{ data.advertisement.advertisementType }}</h3>
      </div>

      <div class="ViewAdvertisementPopup-item">
        <h2>PHONE</h2>
        <h3>32875835</h3>
      </div>
    </div>

    <div class="ViewAdvertisementPopup-items">
      <div class="ViewAdvertisementPopup-item">
        <h2>Target Device</h2>
        <h3>{{ data.advertisement.targetDevice }}</h3>
      </div>

      <div class="ViewAdvertisementPopup-item">
        <h2>Gender</h2>
        <h3>{{ data.advertisement.gender }}</h3>
      </div>
    </div>

    <div class="ViewAdvertisementPopup-items">
      <div class="ViewAdvertisementPopup-item">
        <h2>Gaming Preferences</h2>
        <h3>{{ data.advertisement.gamingPreference }}</h3>
      </div>

      <div class="ViewAdvertisementPopup-item">
        <h2>User Payment Preferences</h2>
        <h3>{{ data.advertisement.payPreference }}</h3>
      </div>
    </div>

    <div class="ViewAdvertisementPopup-items">
      <div class="ViewAdvertisementPopup-item">
        <h2>Bid Amount</h2>
        <h3>{{ data.advertisement.bidAmount }}</h3>
      </div>

      <div class="ViewAdvertisementPopup-item">
        <h2>Suggested Bid Amount</h2>
        <h3>{{ data.advertisement.suggestedBidAmount }}</h3>
      </div>
    </div>

    <div class="ViewAdvertisementPopup-items">
      <div class="ViewAdvertisementPopup-item">
        <h2>Budget Limit Type</h2>
        <h3>{{ data.advertisement.budgetLimitType }}</h3>
      </div>

      <div class="ViewAdvertisementPopup-item">
        <h2>Budget Amount</h2>
        <h3>{{ data.advertisement.budgetAmount }}</h3>
      </div>
    </div>

    <div
      *ngIf="data?.advertisement?.checkIconShow"
      class="ViewAdvertisementPopup-items"
    >
      <button type="button" name="button" class="btn-primary">
        CANCEL
      </button>

      <button type="button" name="button" class="active-btn">
        APPROVE
      </button>
    </div>
  </div>
</div>
