@import "shared";

:host {
  display: block;
}

.MatchCard {
  @extend %u-dfCenter;
  border-bottom: px2vw-xl(1px) solid var(--midnight-express-color);
  padding: 0 px2vw-xl(16px) px2vw-md(16px);
  margin-bottom: px2vw-xl(16px);

  @include lg{
    border-bottom: px2vw-lg(1px) solid var(--midnight-express-color);
    padding: 0 px2vw-lg(16px) px2vw-lg(16px);
    margin-bottom: px2vw-lg(16px);
  }
  @include md {
    padding: 0 0 px2vw-md(16px);
    margin-bottom: px2vw-md(16px);
  }
  @include sm {
    padding: 0 0 px2vw-sm(16px);
    margin-bottom: px2vw-sm(16px);
  }
  &-image {
    flex-shrink: 0;
    margin-right: px2vw-xl(16px);
    width: px2vw-xl(160px);
    height: px2vw-xl(84px);
    background-size: cover;
    background-color: var(--black);
    @include lg{
      margin-right: px2vw-lg(16px);
      width: px2vw-lg(160px);
      height: px2vw-lg(84px);
    }
    @include md {
      width: px2vw-md(137px);
      height: px2vw-md(72px);
    }
    @include sm {
      width: px2vw-sm(137px);
      height: px2vw-sm(72px);
    }
  }

  &-content {
    flex-grow: 1;
    @include md {
      flex-grow: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-header {
    @extend %u-dfCenter;
    margin-bottom: px2vw-xl(8px);

    @include lg {
      margin-bottom: px2vw-lg(8px);
    }

    @include md {
      margin-bottom: px2vw-md(8px);
    }

    @include sm {
      margin-bottom: px2vw-sm(8px);
    }
  }

  &-header-title {
    @extend %global-H7;
    margin-right: px2vw-xl(15px);
    margin-bottom: 0;

    @include lg {
      margin-right: px2vw-lg(15px);
    }

    @include md {
      margin-right: px2vw-md(15px);
    }

    @include sm {
      margin-right: px2vw-sm(15px);
    }
  }

  &-header-control {
    @extend %u-dfCenter;
    margin-left: auto;
    flex-shrink: 0;
  }

  &-header-button {
    @extend %u-dfCenterCenter;
    margin-left: px2vw-xl(16px);
    border-radius: px2vw-xl(2px);
    height: px2vw-xl(30px);
    width: px2vw-xl(30px);
    background-color: var(--color-primary);
    transition: $global-transition;

    @include lg {
      margin-left: px2vw-lg(16px);
      border-radius: px2vw-lg(2px);
      height: px2vw-lg(30px);
      width: px2vw-lg(30px);
    }

    @include md {
      margin-left: px2vw-md(16px);
      border-radius: px2vw-md(2px);
      height: px2vw-md(30px);
      width: px2vw-md(30px);
    }

    @include sm {
      margin-left: px2vw-sm(16px);
      border-radius: px2vw-sm(2px);
      height: px2vw-sm(30px);
      width: px2vw-sm(30px);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &-header-button-icon {
    height: auto;
    width: auto;
    font-size: px2vw-xl(24px);

    @include lg {
      font-size: px2vw-lg(24px);
    }

    @include md {
      font-size: px2vw-md(24px);
    }

    @include sm {
      font-size: px2vw-sm(24px);
    }
  }

  &-header-menu-link {
    &:hover .icon {
      color: var(--color-primary);
    }
  }

  &-header-menu-icon {
    color: var(--white-medium);
  }

  &-subtitle {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(20px);
    line-height: px2vw-xl(28px);
    color: var(--white);
    margin-bottom: 0;

    @include lg{
      font-size: px2vw-lg(20px);
      line-height: px2vw-lg(28px);
    }
    @include md {
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include sm {
      font-size: px2vw-sm(16px);
      line-height: px2vw-sm(24px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-items {
    @extend %u-dfCenter;
    margin-bottom: 0;
  }

  &-item {
    padding: 0 px2vw-xl(24px);

    @include lg {
      padding: 0 px2vw-lg(24px);
    }

    @include md {
      padding: 0 px2vw-md(24px);
    }

    @include sm {
      padding: 0 px2vw-sm(24px);
    }

    &:first-child {
      padding-left: 0;
      border-right: px2vw-xl(1px) solid var(--white-smoke);

      @include lg {
        border-right-width: px2vw-lg(1px);
      }

      @include md {
        border-right-width: px2vw-md(1px);
      }

      @include sm {
        border-right-width: px2vw-sm(1px);
      }
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &-item-title {
    @extend %body-2;
    margin-bottom: px2vw-xl(4px);
    color: var(--white-medium);

    @include lg {
      margin-bottom: px2vw-lg(4px);
    }

    @include md {
      margin-bottom: px2vw-md(4px);
    }

    @include sm {
      margin-bottom: px2vw-sm(4px);
    }
  }

  &-item-date {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: px2vw-xl(16px);
    line-height:px2vw-xl(24px);
    color: var(--tolopea-color);
    margin-bottom: 0;

    @include lg{
      font-size: px2vw-lg(16px);
      line-height:px2vw-lg(24px);
    }
    @include md{
      font-size: px2vw-md(16px);
      line-height:px2vw-md(24px);
    }
    @include sm{
      font-size: px2vw-sm(16px);
      line-height:px2vw-sm(24px);
    }
  }
  &-status {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 500;
    font-size: px2vw-xl(16px);
    line-height:px2vw-xl(24px);
    color: var(--ui-win);
    margin-bottom: 0;

    @include lg{
      font-size: px2vw-lg(16px);
      line-height:px2vw-lg(24px);
    }
    @include md{
      font-size: px2vw-md(16px);
      line-height:px2vw-md(24px);
    }
    @include sm{
      font-size: px2vw-sm(16px);
      line-height:px2vw-sm(24px);
    }
  }
  &-header-link {
    font-family: "Paralucent-Light",  san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: px2vw-xl(16px);
    line-height:px2vw-xl(24px);
    color: var(--txt-secondry-border);

    @include lg{
      font-size: px2vw-lg(16px);
      line-height:px2vw-lg(24px);
    }
    @include md{
      font-size: px2vw-md(16px);
      line-height:px2vw-md(24px);
    }
    @include sm{
      font-size: px2vw-sm(16px);
      line-height:px2vw-sm(24px);
    }
  }
  &-view {
    @include md {
      display: none;
    }
  }
}
