<esports-loading *ngIf="isLoading"></esports-loading>

<div
  *ngIf="!showAdList"
  class="SiteConfigurations-main SiteConfigurations-boxC"
>
  <div class="SiteConfigurations-boxC-info">
    <div class="global-Text SiteConfigurations-boxC-info-title">
      {{
        "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_HEADER_ANNOUNCEMENT_IMAGE"
          | translate
      }}
      <!-- <span *ngIf="imageError" class="imageError">*</span> -->
    </div>

    <form [formGroup]="ownerForm" novalidate (ngSubmit)="upload()">
      <input
        type="file"
        id="announcementFileUpload"
        style="opacity: 0; height: 0px; width: 0px;"
      />

      <div
        class="SiteConfigurations-boxC-banner"
        #announcementUpload
        id="announcementUpload"
      >
        <div class="SiteConfigurations-boxC-banner-info">
          {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ANNOUNCEMENT" | translate }}
          1038px X 400px <br />
          <button type="button"
            class="global-EditBtn is-sm is-edit"
            (click)="announcementUploader()"
          >
            {{ "ADMIN.SITE_CONFIGURATION.BUTTON.UPLOAD_IMAGE" | translate }}
          </button>
        </div>
      </div>

      <div class="SiteConfigurations-boxC-footer">
        <div class="SiteConfigurations-boxC-footer-left">
          <mat-form-field
            class="global-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>
              {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.NAME" | translate }}
            </mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="hasError('name', 'required')">
              {{
                "ADMIN.SITE_CONFIGURATION.SUB_PAGE.NAME_REQUIRED" | translate
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="global-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>
              {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ENGLISH_HEADER" | translate }}
            </mat-label>
            <input matInput type="text" formControlName="en_header" id="header" />
            <mat-error *ngIf="hasError('en_header', 'required')">
              {{
                "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ENGLISH_HEADER_REQUIRED" | translate
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="global-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>
              {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ARABIC_HEADER" | translate }}
            </mat-label>
            <input matInput type="text" formControlName="ar_header" id="header" />
            <mat-error *ngIf="hasError('ar_header', 'required')">
              {{
                "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ARABIC_HEADER_REQUIRED" | translate
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="global-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>
              {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ENGLISH_DESCRIPTION" | translate }}
            </mat-label>
            <input matInput type="text" formControlName="en_description" />
            <mat-error *ngIf="hasError('en_description', 'required')">
              {{
                "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ENGLISH_DESCRIPTION_REQUIRED"
                  | translate
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="global-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>
              {{ "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ARABIC_DESCRIPTION" | translate }}
            </mat-label>
            <input matInput type="text" formControlName="ar_description" />
            <mat-error *ngIf="hasError('ar_description', 'required')">
              {{
                "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ARABIC_DESCRIPTION_REQUIRED"
                  | translate
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field
            class="global-MatInputOutline LogReg-input"
            appearance="outline"
          >
            <mat-label>
              {{
                "ADMIN.SITE_CONFIGURATION.SUB_PAGE.ADD_DESTINATION" | translate
              }}
            </mat-label>
            <input matInput type="url" formControlName="destination" id="url" />
          </mat-form-field>
          <section class="example-section">
            <label class="example-margin">{{
              "ADMIN.SITE_CONFIGURATION.SUB_PAGE.PLATFORM" | translate
            }}</label><br><br>
            <mat-radio-group formControlName="platform">
              <mat-radio-button class="example-margin" value="web">Web</mat-radio-button>&nbsp;
              <mat-radio-button class="example-margin" value="ios">IOS</mat-radio-button>&nbsp;
              <mat-radio-button class="example-margin" value="android">Android</mat-radio-button>&nbsp;
              <mat-radio-button class="example-margin" value="mobile">Mobile</mat-radio-button>&nbsp;
              <mat-radio-button class="example-margin" value="all">All</mat-radio-button>
            </mat-radio-group>
            <input type="hidden" formControlName="platform" class="form-control">
            <mat-error  *ngIf="hasError('platform', 'required')">
              {{
                "ADMIN.SITE_CONFIGURATION.SUB_PAGE.PLATFORM_REQUIRED" | translate
              }}
            </mat-error>
          </section>
        </div>
      </div>

      <div class="SiteConfigurations-footer-btns">
        <button type="button"
          class="global-EditBtn is-sm dark-text"
          (click)="toggleAnnouncementList()"
        >
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
        </button>

        <button class="global-EditBtn is-sm" type="submit">
          {{ "ADMIN.SITE_CONFIGURATION.BUTTON.SAVE" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>

<div class="SiteConfigurations-main SiteConfigurations-boxB" *ngIf="showAdList">
  <div class="SiteConfigurations-footer-btns">
    <button type="button" class="global-EditBtn is-sm" (click)="toggleAnnouncementList()">
      + {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_ANNOUNCEMENT" | translate }}
    </button>
  </div>

  <div class="global-scrollbar">
    <ngx-datatable
      #table
      class="global-DataTable"
      [columnMode]="'force'"
      [footerHeight]="'auto'"
      [headerHeight]="'auto'"
      [limit]="50"
      [rowHeight]="'auto'"
      [rows]="announcementList"
    >
      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ITEM' | translate }}"
      >
        <ng-template
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          {{ rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.TITLE' | translate }}"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{ 'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.ACTIVE' | translate }}"
      >
        <ng-template
          ngx-datatable-cell-template
          let-rowIndex="rowIndex"
          let-value="value"
          let-row="row"
        >
          <mat-checkbox
            color="primary"
            (change)="updateRow($event, 'status', row['_id'])"
            [checked]="row.status == 1"
            class="is-small"
          ></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="">
        <ng-template
          #buttonsTemplate
          let-row="row"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <button type="button"
            class="Admin-tableBtn"
            [matMenuTriggerFor]="menu"
            mat-icon-button
            color="primary"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" yPosition="above">
            <button type="button"
              class="SiteConfigurations-tableBtn w-100"
              mat-icon-button
              matTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
              color="primary"
              (click)="rowAction('view', row)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button type="button"
              class="SiteConfigurations-tableBtn w-100"
              (click)="updateRow($event, 'delete', row['_id'])"
              mat-icon-button
              matTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
              color="primary"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </mat-menu>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
