@import "shared";

.matchmaker-dialog {
  position: relative;
  text-align: center;

  &-image {
    width: 100%;
  }

  &-info {
    background: var(--whitecolor) 0% 0% no-repeat padding-box !important; 
    color: var(--blackcolor) !important;
    padding: px2vw-xl(40px);

    @include lg {
      padding: px2vw-lg(40px);
    }

    @include md {
      padding: px2vw-md(40px);
    }

    @include sm {
      padding: px2vw-sm(40px);
    }
  }

  &-info.match {
    .image {
      margin-bottom: px2vw-xl(15px);
      border-radius: 50%;
      width: px2vw-xl(88px);
      height: px2vw-xl(88px);
      object-fit: cover;

      @include lg {
        width: px2vw-lg(88px);
        height: px2vw-lg(88px);
      }

      @include md {
        width: px2vw-md(88px);
        height: px2vw-md(88px);
      }

      @include sm {
        width: px2vw-sm(88px);
        height: px2vw-sm(88px);
      }
    }
  }

  &-text {
    margin-bottom: px2vw-xl(10px);
    font-family: "stc-forward-regular", sans-serif;
    font-weight: normal;
    font-size: px2vw-xl(18px);
    line-height: px2vw-xl(32px);
    color: var(--base-black-pearl);

    @include lg {
      margin-bottom: px2vw-lg(10px);
      font-size: px2vw-lg(18px);
      line-height: px2vw-lg(32px);
    }

    @include md {
      margin-bottom: px2vw-md(10px);
      font-size: px2vw-md(18px);
      line-height: px2vw-md(32px);
    }

    @include sm {
      margin-bottom: px2vw-sm(10px);
      font-size: px2vw-sm(18px);
      line-height: px2vw-sm(32px);
    }
  }

  &-button {
    margin: px2vw-xl(5px);
    padding: px2vw-xl(14px) px2vw-xl(24px);

    @include lg {
      margin: px2vw-lg(5px);
    }

    @include md {
      margin: px2vw-md(5px);
    }

    @include sm {
      margin: px2vw-sm(5px);
      padding: px2vw-sm(20px)
    }
  }

  &-close {
    position: absolute;
    top: px2vw-xl(6px);
    right: px2vw-xl(10px);
    color: var(--blackcolor);
    opacity: 1;

    @include lg {
      top: px2vw-lg(6px);
      right: px2vw-lg(10px);
    }

    @include md {
      top: px2vw-md(6px);
      right: px2vw-md(10px);
    }

    @include sm {
      top: px2vw-sm(6px);
      right: px2vw-sm(10px);
    }

    mat-icon {
      color: var(--base-white);

      &.dark-color {
        color: var(--base-black-pearl);
      }
    }
  }

  .global-Title2,
  .global-Title3 {
    text-align: center;
    font-family: "dynasty-primary-large", sans-serif;
    text-transform: uppercase;
  }
}
