
<section class="TournamentsCreated">
  <div class="TournamentsCreated-container">
    <div class="TournamentsCreated-wrapper">
      <div class="TournamentsCreated-inner">
        <section class="TournamentsCreated-table">
          <div
            class="TournamentsCreated-table-toggles global-MatToggles"
            ngbNav
            (navChange)="navChanges($event)"
            #nav="ngbNav"
            [(activeId)]="active"
          >

            <!-- ONGOING -->
            <div class="TournamentsCreated-table-toggle" [ngbNavItem]="1">
              <a class="TournamentsCreated-table-toggle-link" ngbNavLink>
                <span
                  class="icon"
                  inlineSVG="assets/icons/tournament/border_color.svg"
                ></span>
                <span class="text">{{
                  "PROFILE.TOURNAMENTS.ASIDE.NAV.ONGOING_TOURNAMENTS"
                    | translate
                }}</span>
              </a>
              <ng-template ngbNavContent>
                <app-tournaments-table
                *ngIf="tournaments?.docs.length"
                  [tournaments]="tournaments?.docs"
                  [isCardManage]="true"
                >
                </app-tournaments-table>
                <span *ngIf="tournaments?.docs.length==0">{{ "MATCH_LIST.NO_DATA_FOUND" | translate }}</span>
              </ng-template>
            </div>

            <!-- UPCOMING -->
            <div class="TournamentsCreated-table-toggle" [ngbNavItem]="0">
              <a class="TournamentsCreated-table-toggle-link" ngbNavLink>
                <span
                  class="icon"
                  inlineSVG="assets/icons/tournament/brackets.svg"
                ></span>
                <span class="text">{{
                  "PROFILE.TOURNAMENTS.ASIDE.NAV.UPCOMING_TOURNAMENTS"
                    | translate
                }}</span>
              </a>
              <ng-template ngbNavContent>
                <!-- <div class="TournamentsCreated-table-toggle-heading">
                  <h2 class="title">
                    {{ "PROFILE.TOURNAMENTS.MAIN.TITLE" | translate }}
                  </h2>
                </div> -->
                <app-tournaments-table
                *ngIf="tournaments?.docs.length"
                  [tournaments]="tournaments?.docs"
                  [isCardManage]="true"
                >
                </app-tournaments-table>
                <span *ngIf="tournaments?.docs.length==0">{{ "MATCH_LIST.NO_DATA_FOUND" | translate }}</span>
              </ng-template>
            </div>

            <!-- PAST -->
            <div class="TournamentsCreated-table-toggle" [ngbNavItem]="2">
              <a class="TournamentsCreated-table-toggle-link" ngbNavLink>
                <span
                  class="icon"
                  inlineSVG="assets/icons/tournament/Check-contained.svg"
                ></span>
                <span class="text">{{
                  "PROFILE.TOURNAMENTS.ASIDE.NAV.COMPLETED_TOURNAMENTS"
                    | translate
                }}</span>
              </a>
              <ng-template ngbNavContent>
                <app-tournaments-table
                  *ngIf="tournaments?.docs"
                  [tournaments]="tournaments?.docs"
                  [isCardManage]="true"
                >
                </app-tournaments-table>
                <span *ngIf="tournaments?.docs.length==0">{{ "MATCH_LIST.NO_DATA_FOUND" | translate }}</span>
              </ng-template>
            </div>
          </div>
          <div class="TournamentsCreated-table-content" [ngbNavOutlet]="nav"></div>
        </section>
        <esports-pagination *ngIf="tournaments?.docs?.length" [activePage]="participantPage?.activePage"
        [page]="participantPage" (currentPage)="currentPage($event)"></esports-pagination>

        <esports-fullscreen-loading *ngIf="showLoader"></esports-fullscreen-loading>
      </div>
    </div>
  </div>
</section>
