<div class="dialog-container p-4">
  <form class="example-form">
    <mat-form-field class="w-100">
      <mat-label>
        {{
          "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.SEND_COUPONS_VIA_EMAIL"
            | translate
        }}
      </mat-label>
      <input matInput placeholder="" value="" />
    </mat-form-field>
  </form>

  <section class="mt-3">
    <div
      *ngFor="let couponMail of couponMailDetails"
      class="d-flex align-items-center justify-content-between mb-4"
    >
      <div class="mr-3">{{ couponMail.name }}</div>
      <div class="mr-3">{{ couponMail.prize }}</div>
      <div class="mr-3">{{ couponMail.email }}</div>
      <div>
        <input
          type="text"
          value="{{ couponMail.value }}"
          class="form-control"
        />
      </div>
    </div>
  </section>

  <section class="mt-5 text-right">
    <button mat-stroked-button (click)="onClose('cancel')">
      {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.CANCEL" | translate }}
    </button>

    <button
      mat-flat-button
      color="warn"
      class="ml-3"
      (click)="onClose('successfull')"
    >
      {{ "ADMIN_ESPORTS_MANAGEMENT.ESPORT_PAYMENT_DIALOG.CONFIRM" | translate }}
    </button>
  </section>

  <button mat-button class="close" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
