<div class="row">
  <div class="col-12 tabs-rules">
    <div class="row no-gutters">
      <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="condition_active"
        class="nav-pills vertical-tabs col-lg-3 col-md-3 col-sm-3"
        orientation="vertical"
      >
        <li ngbNavItem="description">
          <a ngbNavLink>{{ "TOURNAMENT.CREATE.DESCRIPTION" | translate }}</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-12">
                <div>
                  <textarea
                    formControlName="description"
                    class="form-control"
                    id="t_condition_desc"
                    rows="6"
                  ></textarea>
                </div>
              </div>
              <div class="col-12">
                <button
                  class="btn btn-primary tab-content border-red-zero"
                  (click)="nav.select('rules')"
                >
                  {{ "BUTTON.NEXT" | translate }}
                </button>
              </div>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem="rules">
          <a ngbNavLink>{{ "TOURNAMENT.CREATE.RULE" | translate }}</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-12">
                <div>
                  <textarea
                    formControlName="rules"
                    class="form-control"
                    id="t_condition_rules"
                    rows="6"
                  ></textarea>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary tab-content border-red-zero">
                  {{ "BUTTON.DONE" | translate }}
                </button>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="col-lg-9 col-md-9 col-sm-9"></div>
    </div>
  </div>
  <div class="col-12 Section2-B" [ngClass]="{ pointerEvent: isCharged }">
    <app-toggle-switch
      [title]="'TOURNAMENT.CREATE.PRIZE'"
      [customFormControlName]="'isPrize'"
      [customFormGroup]="conditions"
      (valueEmit)="prizeClickHandler($event?.target?.checked)"
      [readOnly]="isCharged"
    >
    </app-toggle-switch>

    <div class="Prize-form" [hidden]="!conditions.value.isPrize">
      <app-drop-down
        [title]="'TOURNAMENT.CREATE.CURRENCY'"
        [customFormControlName]="'prizeCurrency'"
        [customFormGroup]="conditions"
        [dropdownList]="currencyList"
        [type]="'B'"
        [readOnly]="isCharged"
      ></app-drop-down>
      <button
        class="btn global-btn-black"
        (click)="addPrize(1)"
        onclick="this.blur();"
        [disabled]="
          isCharged ||
          conditions?.value?.maxParticipants <=
            conditions?.value?.prizeList?.length
        "
      >
        {{ "BUTTON.ADD_PRIZE" | translate }}
      </button>
    </div>
    <div *ngIf="conditions.value.isPrize" class="row Prize-form-input">
      <div
        class="col-lg-4 col-md-4"
        formArrayName="prizeList"
        *ngFor="
          let item of conditions.get('prizeList')?.controls;
          let i = index
        "
      >
        <div [formGroupName]="i">
          <label>{{
            i | prizePool: (languageService?.language | async)
          }}</label>
          <app-input
            [title]="'TOURNAMENT.CREATE.ADD_AMOUNT'"
            [type]="'NUMBER'"
            [customFormGroup]="(conditions?.controls?.prizeList?.controls)[i]"
            [customFormControlName]="'value'"
            [active]="true"
            [readOnly]="isCharged"
          >
          </app-input>
        </div>
        <div class="col-1 offset-lg-1 fa-prize-trash" [hidden]="!(i > 0)">
          <a (click)="clearFieldFromArray('prizeList', i)" *ngIf="!isCharged">
            <fa-icon
              class="sponsorDeleteIcon"
              [icon]="['fas', 'trash']"
            ></fa-icon>
          </a>
        </div>
      </div>
    </div>
    <!-- <div
      class="error"
      *ngIf="
        conditions?.get('prizeList')?.touched &&
        conditions?.get('prizeList')?.errors
      "
    >
      <strong>
        {{ conditions?.get("prizeList")?.errors | errorPipe | translate }}
      </strong>
    </div> -->
  </div>
  <div class="col-12 Section2-C">
    <app-toggle-switch
      [title]="'TOURNAMENT.CREATE.SPONSOR'"
      [customFormControlName]="'isIncludeSponsor'"
      [customFormGroup]="conditions"
      (valueEmit)="sponsorClickHandler($event?.target?.checked)"
    ></app-toggle-switch>
    <div class="row" *ngIf="conditions.value.isIncludeSponsor">
      <div
        class="row Sponsor"
        formArrayName="sponsors"
        *ngFor="
          let sponsor of conditions.get('sponsors')?.controls;
          let i = index
        "
      >
        <div
          class="col-xl-10 col-lg-10 col-md-10 col-sm-12"
          [formGroupName]="i"
        >
          <div class="row no-gutters">
            <div class="col-lg-3">
              <app-upload
                [title]="'TOURNAMENT.CREATE.S_LOGO'"
                [customFormControlName]="'sponsorLogo'"
                [customFormGroup]="
                  (conditions?.controls?.sponsors?.controls)[i]
                "
                [dimension]="logoDimension"
                [size]="logoSize"
                [type]="'Logo'"
                [addMessage]="'TOOLTIP.ADD_S_LOGO'"
                [changeMessage]="'TOOLTIP.CHANGE_S_LOGO'"
                [id]="'sponsorLogo' + i"
              >
              </app-upload>
            </div>
            <div class="col-lg-4 col-sm-6 margin-lr">
              <app-input
                [title]="'TOURNAMENT.CREATE.S_NAME'"
                [type]="'STRING'"
                [customFormGroup]="
                  (conditions?.controls?.sponsors?.controls)[i]
                "
                [customFormControlName]="'sponsorName'"
              >
              </app-input>
              <app-input
                [title]="'TOURNAMENT.CREATE.S_GOOGLE_PLAY'"
                [type]="'STRING'"
                [customFormGroup]="
                  (conditions?.controls?.sponsors?.controls)[i]
                "
                [customFormControlName]="'playStoreUrl'"
                [patternType]="'playStoreUrl'"
              >
              </app-input>
            </div>
            <div class="col-lg-4 col-sm-6 margin-lr">
              <app-input
                [title]="'TOURNAMENT.CREATE.S_WEB_URL'"
                [type]="'STRING'"
                [customFormGroup]="
                  (conditions?.controls?.sponsors?.controls)[i]
                "
                [customFormControlName]="'website'"
                [patternType]="'website'"
              >
              </app-input>
              <app-input
                [title]="'TOURNAMENT.CREATE.S_APPSTORE_URL'"
                [type]="'STRING'"
                [customFormGroup]="
                  (conditions?.controls?.sponsors?.controls)[i]
                "
                [customFormControlName]="'appStoreUrl'"
                [patternType]="'appStoreUrl'"
              >
              </app-input>
            </div>
            <div class="col-lg-12">
              <app-upload
                [title]="'TOURNAMENT.CREATE.S_BANNER'"
                [btnTitle]="'TOURNAMENT.CREATE.BANNER_BTN'"
                [customFormControlName]="'sponsorBanner'"
                [customFormGroup]="
                  (conditions?.controls?.sponsors?.controls)[i]
                "
                [dimension]="logoDimension"
                [size]="logoSize"
                [type]="'Logo'"
                [addMessage]="'TOOLTIP.ADD_S_BANNER'"
                [changeMessage]="'TOOLTIP.CHANGE_S_BANNER'"
                [id]="'sponsorBanner' + i"
              >
              </app-upload>
              <div
                class="error"
                *ngIf="
                  (conditions?.get('sponsors')?.controls)[i]?.controls
                    ?.sponsorBanner?.touched &&
                  (conditions?.get('sponsors')?.controls)[i]?.controls
                    ?.sponsorBanner?.errors
                "
              >
                <!-- <strong>{{
                  (conditions?.get("sponsors")?.controls)[i]?.controls
                    ?.sponsorBanner?.errors
                    | errorPipe
                    | translate
                }}</strong>
              </div> -->
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
            <a (click)="clearFieldFromArray('sponsors', i)">
              <fa-icon class="sponsorDeleteIcon" [icon]="['fas', 'trash']">
              </fa-icon>
            </a>
          </div>
        </div>
        <p class="add-more">
          <a (click)="addSponsor()">
            <fa-icon
              class="sponsorDeleteIcon"
              [icon]="['fas', 'plus']"
            ></fa-icon>
            {{ "TOURNAMENT.CREATE.ADD_MORE_SPONSER" | translate }}
          </a>
        </p>
      </div>
    </div>
    <div class="col-12 Section-D1">
      <p>
        {{ "CREATE_TOURNAMENT.CREATE_TOURNAMENT_TYPE_TOURNAMENT" | translate }}
        *
      </p>
    </div>
    <div class="col-12 Section-D2">
      <div class="row">
        <div
          class="col-lg-4 col-md-4 text-center"
          *ngFor="let item of plaformType; let i = index"
          [ngClass]="{ 'border-right': i < 2 }"
        >
          <div class="form-group">
            <input
              formControlName="tournamentType"
              name="tournamentType"
              type="radio"
              [value]="item.name"
              (click)="venueClickHandler(item.name)"
            />
            <label class="textField">{{
              item.name | tournamentType | translate
            }}</label>
            <p>
              {{ item.description | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="error"
          *ngIf="
            conditions?.controls?.tournamentType?.touched &&
            conditions?.controls?.tournamentType?.errors
          "
        >
          <strong>{{
            conditions?.controls?.tournamentType?.errors | errorPipe | translate
          }}</strong>
        </div>
      </div>
    </div>
    <div class="col-12 Section-E">
      <div class="row no-gutters">
        <div class="col-12">
          <div
            *ngIf="
              ['offline', 'hybrid'].includes(conditions.value.tournamentType)
            "
          >
            <div
              class="row"
              formArrayName="venueAddress"
              *ngFor="
                let address of conditions.get('venueAddress')?.controls;
                let i = index
              "
              class="address"
            >
              <app-venue-address
                [index]="i"
                [customFormGroup]="conditions"
                [type]="conditions.value.tournamentType"
              >
              </app-venue-address>
              <div class="address-delete" [hidden]="i == 0">
                <fa-icon
                  (click)="clearFieldFromArray('venueAddress', i)"
                  [icon]="['fas', 'trash']"
                ></fa-icon>
              </div>
            </div>
            <p class="add-more">
              <a (click)="addVenueAddress(conditions.value.tournamentType)">
                {{ "BUTTON.ADD" | translate }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 Section-F">
    <div class="row">
      <div class="col-xl-4 col-lg-8 col-md-12 col-sm-12">
        <app-toggle-switch
          [title]="'TOURNAMENT.CREATE.SCREEN_SHOT'"
          [customFormControlName]="'isScreenshotRequired'"
          [customFormGroup]="conditions"
          [toolTipMessage]="'TOOLTIP.SCREEN_SHOT'"
        ></app-toggle-switch>
      </div>
      <div class="col-xl-4 col-lg-8 col-md-12 col-sm-12">
        <app-toggle-switch
          [title]="'TOURNAMENT.CREATE.COUNTRY_FLAG'"
          [customFormControlName]="'isShowCountryFlag'"
          [customFormGroup]="conditions"
        >
        </app-toggle-switch>
      </div>
      <div
        class="col-xl-4 col-lg-8 col-md-12 col-sm-12"
        *ngIf="!disableManualApproval"
      >
        <app-toggle-switch
          [title]="'TOURNAMENT.CREATE.SELECT_MANNUL_PARTICIPANT'"
          [customFormControlName]="'isManualApproverParticipant'"
          [customFormGroup]="conditions"
        >
        </app-toggle-switch>
      </div>
      <div class="col-xl-12 col-lg-8 col-md-12 col-sm-12">
        <app-toggle-switch
          [title]="'TOURNAMENT.CREATE.ALLOWED_REGIONS'"
          [customFormControlName]="'isSpecifyAllowedRegions'"
          [customFormGroup]="conditions"
          [toolTipMessage]="'TOOLTIP.ALLOWED_REGIONS'"
          (valueEmit)="regionHandler($event.target?.checked)"
        >
        </app-toggle-switch>
        <div
          class="selected-tags cusror"
          *ngIf="conditions?.value?.regionsAllowed?.length"
        >
          <div
            class="selected-tags cusror"
            *ngIf="conditions?.value?.regionsAllowed?.length"
          >
            <div
              *ngFor="
                let region of conditions?.value?.regionsAllowed;
                let i = index
              "
            >
              <div class="chip">
                {{ region }}
                <span (click)="removeRegions(i)" class="closebtn"
                  >&times;
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center Access">
          <label class="text global-text-body">{{
            "CREATE_TOURNAMENT.SCORE_REPORTING" | translate
          }}</label>
          <div
            class="btn-group btn-group-toggle"
            formControlName="scoreReporting"
            ngbRadioGroup
            name="radioBasic"
          >
            <label ngbButtonLabel class="btn-outline-secondary platform-button">
              <input ngbButton type="radio" [value]="1" />
              {{ "TOURNAMENT.CREATE.ADMIN_ONLY" | translate }}
            </label>
            <label ngbButtonLabel class="btn-outline-secondary platform-button">
              <input ngbButton type="radio" [value]="2" />
              {{ "TOURNAMENT.CREATE.ADMIN_N_PLAYRES" | translate }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #regionModel let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        {{ "TOURNAMENT.CREATE.SELECT_REG" | translate }}
      </h4>
      <button class="close" aria-label="Close" (click)="modal.dismiss(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="search-regions">
        <label for="typeahead-basic"></label>
        <input
          id="regionSearch"
          type="text"
          class="form-control"
          [(ngModel)]="regionSearchKeyword"
          [ngModelOptions]="{ standalone: true }"
        />
        <label [class.active]="regionSearchKeyword">{{
          "TOURNAMENT.CREATE.TYPE_REG" | translate
        }}</label>
      </div>
      <div class="regionsList">
        <div
          *ngFor="
            let region of countryList | basicFilter: 'name':regionSearchKeyword
          "
        >
          <input
            [checked]="
              conditions?.value?.regionsAllowed?.includes(region?.name)
            "
            (click)="addRegion($event, region?.name)"
            type="checkbox"
            name="region"
          />
          <label for="region">{{ region.name }}</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-light" (click)="modal.close(false)">
        {{ "BUTTON.CLOSE" | translate }}
      </button>
    </div>
  </ng-template>
</div>
