@import "shared";

h1 {
  padding: 0px;
}

.col-12 {
  padding: 10px 0px;
}

.btn_active {
  cursor: pointer;
}

.btn_inactive {
  cursor: not-allowed;
}

button {
  margin: 15px !important;
}

form {
  padding: 80px 0 100px;
}

.form-control {
  color: var(--base-black);
  border-radius: 0px;
}

.row {
  > p {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 87px;
  }
  .col-7 {
    padding: 0;
  }
}

.bracket-format {
  margin: 70px 0;
  .radio-group {
    margin: 0 -15px;
  }
  .col-lg-4 {
    height: 116px;
    position: relative;
    padding: 0 15px;
    margin: 5px 0px;
    background: transparent;
    &:not(:disabled):not(.disabled):active {
      background: transparent !important;
      transition: none !important;
      box-shadow: 0 0 !important;
    }
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 transparent !important;
    }
    &.focus,
    &.active {
      box-shadow: 0 0 !important;
      border: 0;
      background: transparent;
      transition: none !important;
    }
    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      cursor: pointer;
    }
    input:checked + div {
      background: var(--base-yellow);
      border-color: var(--base-yellow);
    }
    input:checked + div svg rect {
      fill: var(--base-black);
    }
    input:checked + div svg path {
      stroke: var(--base-black);
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      border: 2px solid var(--base-black);
      border-radius: 5px;
      background: var(--base-white);
      p {
        margin: 0;
        font-size: 18px;
        line-height: 23px;
        color: var(--base-black);
        width: 100px;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
  .double-elimination svg,
  .round-elimination svg {
    width: 88px;
    height: 86px;
  }
  .visib-text {
    color: var(--base-black);
  }
}

.roundRobin {
  margin-top: 37px;
}

.btn-generate {
  margin-top: 90px;
}

.row > p {
  color: var(--base-black);
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .row > p {
    font-size: 20px;
    line-height: 31px;
    text-transform: capitalize;
    text-align: center;
    padding: 0 70px;
    margin-bottom: 60px;
    color: var(--base-black);
  }
  .bracket-format {
    margin: 50px 0;
  }
}

@media (max-width: 767px) {
  form {
    padding: 50px 0;
  }
  .row > p {
    font-size: 16px;
    line-height: normal;
    padding: 0;
    margin-bottom: 55px;
  }
  .col-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .bracket-format {
    margin: 30px 0;
    .radio-group {
      margin: 0;
      label {
        padding: 0;
        height: 90px;
        svg {
          width: 72px;
          height: 72px;
        }
        div p {
          font-size: 16px;
          width: 140px;
        }
      }
    }
  }
  .btn-generate {
    margin-top: 30px;
  }
  .form-group .labeltext {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .form-container {
    padding: 0 !important;
  }
  .row > p {
    margin-bottom: 60px;
  }
  .bracket-format {
    margin: 40px 0;
    .col-lg-4 {
      height: 100px;
      div {
        svg {
          width: 72px;
          height: 72px;
        }
        p {
          margin: 0;
          font-size: 16px;
          line-height: 23px;
          color: var(--text-color);
          width: 100px;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
  }
  .btn-generate {
    margin-top: 40px;
  }
}
