<div class="form-container">
  <form class="container form-adjust" [formGroup]="bracket">
    <div class="row">
      <h3 class="global-H3 text-base1 mb-3">
        {{ "BRACKET.TITLE" | translate }}
      </h3>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="form-group">
          <input
            id="bracket_name"
            type="text"
            class="form-control"
            formControlName="name"
          />
          <label
            for="bracket_name"
            class="labeltext"
            [class.active]="bracket?.controls?.name?.value"
            >{{ "BRACKET.FORM.BRACKET_NAME" | translate }} *</label
          >
          <div
            class="error"
            *ngIf="
              bracket?.controls?.name?.touched &&
              bracket?.controls?.name?.errors?.required
            "
          >
            <strong>{{ "BRACKET.REQUIRED.BRACKET_NAME" | translate }}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row bracket-format">
      <div class="col-12">
        <label class="visib-text global-text-body">
          <img
            ngbTooltip="{{ 'BRACKET.TOOLTIP.BRACKET_TYPE' | translate }}"
            src="assets/images/Tournament/info.png"
            alt="info"
          />
          {{ "BRACKET.FORM.BRACKET_TYPE" | translate }} *</label
        >
      </div>
      <div
        class="col-12 radio-group"
        formControlName="bracketType"
        ngbRadioGroup
        name="radioBasic"
      >
        <label class="single-elimination col-lg-4 col-md-4" ngbButtonLabel>
          <input
            ngbButton
            type="radio"
            value="single"
            (click)="enableBattleRoyalRound(false, 'single')"
          />
          <div>
            <p>{{ "BRACKET.FORM.BRACKET_TYPE_OPTION.SINGLE" | translate }}</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="112"
              height="46"
              viewBox="0 0 112 46"
            >
              <g
                id="Single"
                data-name="Single"
                transform="translate(-588 -1691)"
              >
                <path
                  d="M-2240,1602h56.212v33.025H-2240"
                  transform="translate(2862.43 96.729)"
                  fill="none"
                  stroke="#333232"
                  stroke-width="2"
                />
                <rect
                  width="46"
                  height="16"
                  transform="translate(588 1691)"
                  fill="#333232"
                />
                <rect
                  width="46"
                  height="15"
                  transform="translate(588 1722)"
                  fill="#333232"
                />
                <rect
                  width="46"
                  height="15"
                  transform="translate(654 1707)"
                  fill="#333232"
                />
              </g>
            </svg>
          </div>
        </label>
        <label class="double-elimination col-lg-4 col-md-4" ngbButtonLabel>
          <input
            ngbButton
            type="radio"
            value="double"
            (click)="enableBattleRoyalRound(false, 'double')"
          />
          <div>
            <p>{{ "BRACKET.FORM.BRACKET_TYPE_OPTION.DOUBLE" | translate }}</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="109"
              height="107"
              viewBox="0 0 109 107"
            >
              <g
                id="double"
                data-name="double"
                transform="translate(-1275 -1675)"
              >
                <g transform="translate(1275 1675)">
                  <path
                    d="M-2240,1602h54.725v32.151H-2240"
                    transform="translate(2273.519 -1594.475)"
                    fill="none"
                    stroke="#707070"
                    stroke-width="1"
                  />
                  <rect width="45" height="15" fill="#333232" />
                  <rect
                    width="45"
                    height="15"
                    transform="translate(0 30)"
                    fill="#333232"
                  />
                  <rect
                    width="45"
                    height="15"
                    transform="translate(64 15)"
                    fill="#333232"
                  />
                </g>
                <g transform="translate(1275 1737.185)">
                  <path
                    d="M-2240,1602h54.725v32.151H-2240"
                    transform="translate(2273.519 -1594.475)"
                    fill="none"
                    stroke="#707070"
                    stroke-width="1"
                  />
                  <rect
                    width="45"
                    height="16"
                    transform="translate(0 -0.185)"
                    fill="#333232"
                  />
                  <rect
                    width="45"
                    height="15"
                    transform="translate(0 29.815)"
                    fill="#333232"
                  />
                  <rect
                    width="45"
                    height="14"
                    transform="translate(64 15.815)"
                    fill="#333232"
                  />
                </g>
              </g>
            </svg>
          </div>
        </label>
        <label class="round-elimination col-lg-4 col-md-4" ngbButtonLabel>
          <input
            ngbButton
            type="radio"
            value="round_robin"
            (click)="enableBattleRoyalRound(true, 'round_robin')"
          />
          <div>
            <p>
              {{ "BRACKET.FORM.BRACKET_TYPE_OPTION.ROUND_ROBIN" | translate }}
            </p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="109"
              height="107"
              viewBox="0 0 109 107"
            >
              <g
                id="round"
                data-name="round"
                transform="translate(-1275 -1675)"
              >
                <g transform="translate(1275 1675)">
                  <path
                    d="M-2240,1602h54.725v32.151H-2240"
                    transform="translate(2273.519 -1594.475)"
                    fill="none"
                    stroke="#707070"
                    stroke-width="1"
                  />
                  <rect width="45" height="15" fill="#333232" />
                  <rect
                    width="45"
                    height="15"
                    transform="translate(0 30)"
                    fill="#333232"
                  />
                  <rect
                    width="45"
                    height="15"
                    transform="translate(64 15)"
                    fill="#333232"
                  />
                </g>
                <g transform="translate(1275 1737.185)">
                  <path
                    d="M-2240,1602h54.725v32.151H-2240"
                    transform="translate(2273.519 -1594.475)"
                    fill="none"
                    stroke="#707070"
                    stroke-width="1"
                  />
                  <rect
                    width="45"
                    height="16"
                    transform="translate(0 -0.185)"
                    fill="#333232"
                  />
                  <rect
                    width="45"
                    height="15"
                    transform="translate(0 29.815)"
                    fill="#333232"
                  />
                  <rect
                    width="45"
                    height="14"
                    transform="translate(64 15.815)"
                    fill="#333232"
                  />
                </g>
              </g>
            </svg>
          </div>
        </label>
        <!-- <label class="battle-royal col-lg-4 col-md-4" ngbButtonLabel>
          <input
            ngbButton
            type="radio"
            value="battle_royale"
            (click)="enableBattleRoyalRound(true, 'battle_royale')"
          />
          <div>
            <p>
              {{ "BRACKET.FORM.BRACKET_TYPE_OPTION.BATTLE_ROYALE" | translate }}
            </p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="109"
              height="107"
              viewBox="0 0 109 107"
            >
              <g
                id="battle_royal"
                data-name="battle_royal"
                transform="translate(-1275 -1675)"
              >
                <g transform="translate(1275 1675)">
                  <rect
                    width="90"
                    height="15"
                    transform="translate(0 10)"
                    fill="#333232"
                  />
                  <rect
                    width="90"
                    height="15"
                    transform="translate(0 45)"
                    fill="#333232"
                  />
                  <rect
                    width="90"
                    height="15"
                    transform="translate(0 80)"
                    fill="#333232"
                  />
                </g>
              </g>
            </svg>
          </div>
        </label> -->
      </div>
    </div>
    <div class="row">
      <div class="col-7">
        <div class="form-group">
          <input
            id="maximum_participants"
            type="number"
            class="form-control"
            formControlName="maximumParticipants"
          />
          <label
            for="maximum_participants"
            class="labeltext"
            [class.active]="bracket?.controls?.maximumParticipants?.value"
          >
            {{ "BRACKET.FORM.MAX_PARTICIPANT" | translate }}
          </label>
          <div
            class="error"
            *ngIf="
              bracket?.controls?.maximumParticipants?.touched &&
              bracket?.controls?.maximumParticipants?.errors?.required
            "
          >
            <strong>{{
              "BRACKET.REQUIRED.MAX_PARTICIPANT" | translate
            }}</strong>
          </div>
          <div
            class="error"
            *ngIf="
              bracket?.controls?.maximumParticipants?.touched &&
              bracket?.controls?.maximumParticipants?.errors?.min
            "
          >
            <strong
              >{{ "BRACKET.REQUIRED.MAX_PARTICIPANT_LIMIT_0" | translate }}
            </strong>
          </div>
          <div
            class="error"
            *ngIf="
              bracket?.controls?.maximumParticipants?.touched &&
              bracket?.controls?.maximumParticipants?.errors?.max
            "
          >
            <strong
              >{{ "BRACKET.REQUIRED.MAX_PARTICIPANT_LIMIT_1" | translate }}
              {{ maximumParticipants }}.</strong
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row roundRobin" *ngIf="bracket?.controls?.isRoundRobin?.value">
      <div class="col-7">
        <div class="form-group">
          <input
            id="maximum_round_per_day"
            type="number"
            class="form-control"
            formControlName="nfMatchBetweenTwoTeam"
          />
          <label
            for="maximum_round_per_day"
            class="labeltext"
            [class.active]="bracket?.controls?.nfMatchBetweenTwoTeam?.value"
          >
            {{
              (bracket?.controls?.bracketType?.value === "battle_royale"
                ? "BRACKET.FORM.NO_OF_MATCH"
                : "BRACKET.FORM.NO_OF_MATCHES_BETWEEN_TEAM"
              ) | translate
            }}</label
          >
          <div
            class="error"
            *ngIf="
              bracket?.controls?.nfMatchBetweenTwoTeam?.touched &&
              bracket?.controls?.nfMatchBetweenTwoTeam?.errors?.required
            "
          >
            <strong>{{
              "BRACKET.REQUIRED.NO_OF_MATCHES_BETWEEN_TEAM" | translate
            }}</strong>
          </div>
          <div
            class="error"
            *ngIf="
              bracket?.controls?.nfMatchBetweenTwoTeam?.touched &&
              bracket?.controls?.nfMatchBetweenTwoTeam?.errors?.min
            "
          >
            <strong
              >{{
                "BRACKET.REQUIRED.NO_OF_MATCHES_BETWEEN_TEAM_LIMIT_0"
                  | translate
              }}
            </strong>
          </div>
          <div
            class="error"
            *ngIf="
              bracket?.controls?.nfMatchBetweenTwoTeam?.touched &&
              bracket?.controls?.nfMatchBetweenTwoTeam?.errors?.max
            "
          >
            <strong
              >{{
                "BRACKET.REQUIRED.NO_OF_MATCHES_BETWEEN_TEAM_LIMIT_1"
                  | translate
              }}{{ nfMatchBetweenTwoTeam }}.</strong
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-generate">
      <div class="text-center col-12">
        <button type="submit" class="btn global-btn-black" (click)="preview()">
          {{ "BRACKET.FORM.BTN" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>

<app-fullscreen-loading *ngIf="isProcessing"></app-fullscreen-loading>
