@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

:host {
  display: block;
}

.TeamManagement {
  &-title {
    margin-bottom: px2vw-xl(50px);

    @include lg {
      margin-bottom: px2vw-lg(50px);
    }

    @include md {
      margin-bottom: px2vw-md(50px);
    }

    @include sm {
      margin-bottom: px2vw-sm(50px);
    }
  }

  &-table ::ng-deep {
    .datatable-body-row {
      border: none !important;
    }

    .datatable-row-wrapper {
      transition: 100ms linear;
      border-bottom: 1px solid var(--base-gainsboro);

      &:hover,
      &:last-child {
        border-bottom-color: transparent;
      }
    }

    .datatable-row-center {
      display: flex;
    }

    .datatable-header-cell {
      padding: px2vw-xl(20px) 0;

      @include lg {
        padding: px2vw-lg(20px) 0;
      }

      @include md {
        padding: px2vw-md(20px) 0;
      }

      @include sm {
        padding: px2vw-sm(20px) 0;
      }

      // Team name
      &:first-child {
        padding-left: px2vw-xl(28px);

        @include lg {
          padding-left: px2vw-lg(25px);
        }

        @include md {
          padding-left: px2vw-md(20px);
        }

        @include sm {
          padding-left: px2vw-sm(15px);
        }
      }

      // No. of players
      &:nth-child(2) {
        padding-left: px2vw-xl(15px);

        @include lg {
          padding-left: px2vw-lg(15px);
        }

        @include md {
          padding-left: px2vw-md(15px);
        }

        @include sm {
          padding-left: px2vw-sm(15px);
        }
      }

      // Owner
      &:nth-child(3) {
      }

      // Date created
      &:nth-child(4) {
        display: flex;
        justify-content: center;
      }

      // OPTIONS MENU
      &:nth-child(5) {
        .datatable-header-cell-template-wrap {
          justify-content: flex-end;
        }
      }
    }

    .datatable-header-cell-template-wrap {
      display: flex;
    }

    .datatable-header-cell-label {
      font-family: "stc-forward-regular", sans-serif;
      font-size: px2vw-xl(16px);
      line-height: px2vw-xl(24px);
      color: var(--base-submarine);

      @include lg {
        font-size: px2vw-lg(16px);
        line-height: px2vw-lg(24px);
      }

      @include md {
        font-size: px2vw-md(16px);
        line-height: px2vw-md(24px);
      }

      @include sm {
        font-size: px2vw-sm(16px);
        line-height: px2vw-sm(24px);
      }
    }

    .datatable-player-name {
      display: flex;
      align-items: center;

      img {
        margin-right: px2vw-xl(15px);
        width: px2vw-xl(66px) !important;
        height: px2vw-xl(66px);
        object-fit: cover;

        @include lg {
          margin-right: px2vw-lg(15px);
          width: px2vw-lg(66px);
          min-width: px2vw-lg(66px);
          height: px2vw-lg(66px);
        }

        @include md {
          margin-right: px2vw-md(15px);
          width: px2vw-md(66px);
          min-width: px2vw-md(66px);
          height: px2vw-md(66px);
        }

        @include sm {
          margin-right: px2vw-sm(15px);
          width: px2vw-sm(66px);
          min-width: px2vw-sm(66px);
          height: px2vw-sm(66px);
        }
      }

      span {
        text-align: left;
      }
    }

    .datatable-body-cell {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: px2vw-xl(18px) 0;

      @include lg {
        padding: px2vw-lg(18px) 0;
      }

      @include md {
        padding: px2vw-md(18px) 0;
      }

      @include sm {
        padding: px2vw-sm(18px) 0;
      }

      // Team name
      &:first-child {
        padding-left: px2vw-xl(28px);

        @include lg {
          padding-left: px2vw-lg(25px);
        }

        @include md {
          padding-left: px2vw-md(20px);
        }

        @include sm {
          padding-left: px2vw-sm(15px);
        }
      }

      // No. of players
      &:nth-child(2) {
        padding-left: px2vw-xl(15px);

        @include lg {
          padding-left: px2vw-lg(15px);
        }

        @include md {
          padding-left: px2vw-md(15px);
        }

        @include sm {
          padding-left: px2vw-sm(15px);
        }
      }

      // Owner
      &:nth-child(3) {
      }

      // Date created
      &:nth-child(4) {
        justify-content: center;
      }

      // OPTIONS MENU
      &:nth-child(5) {
        justify-content: center;
        padding-right: px2vw-xl(20px);

        @include lg {
          padding-right: px2vw-lg(20px);
        }

        @include md {
          padding-right: px2vw-md(20px);
        }

        @include sm {
          padding-right: px2vw-sm(20px);
        }

        .datatable-header-cell-template-wrap {
          justify-content: center;
        }
      }
    }

    .datatable-body-cell-label {
      width: auto;
      padding: 0;
      font-family: "stc-forward-regular", sans-serif;
      font-size: px2vw-xl(18px);
      line-height: px2vw-xl(32px);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      @include lg {
        font-size: px2vw-lg(18px);
        line-height: px2vw-lg(32px);
      }

      @include md {
        font-size: px2vw-md(18px);
        line-height: px2vw-md(32px);
      }

      @include sm {
        font-size: px2vw-sm(18px);
        line-height: px2vw-sm(32px);
      }
    }

    .datatable-icon-left,
    .datatable-icon-right {
      width: px2vw-xl(10px) !important;
      height: px2vw-xl(10px) !important;
      border-left: px2vw-xl(2px) solid var(--base-white) !important;
      border-top: px2vw-xl(2px) solid var(--base-white) !important;

      @include lg {
        width: px2vw-lg(10px) !important;
        height: px2vw-lg(10px) !important;
        border-left-width: px2vw-lg(2px) !important;
        border-top-width: px2vw-lg(2px) !important;
      }

      @include md {
        width: px2vw-md(10px) !important;
        height: px2vw-md(10px) !important;
        border-left-width: px2vw-md(2px) !important;
        border-top-width: px2vw-md(2px) !important;
      }

      @include sm {
        width: px2vw-sm(10px) !important;
        height: px2vw-sm(10px) !important;
        border-left-width: px2vw-sm(2px) !important;
        border-top-width: px2vw-sm(2px) !important;
      }
    }

    .pager {
      display: none;
    }

    .datatable-place {
      display: flex;
    }

    // Solves the problem with freezes on chrome
    .datatable-row-group {
      will-change: transform;
    }
  }

  &-options {
    display: flex;
    flex-direction: column;
  }

  &-option {
    min-width: px2vw-xl(230px);
    padding: px2vw-xl(20px);
    background-color: var(--base-white-smoke);
    border-bottom: 1px solid var(--base-gainsboro);

    @include lg {
      min-width: px2vw-lg(230px);
      padding: px2vw-xl(20px);
    }

    @include md {
      min-width: px2vw-md(230px);
      padding: px2vw-xl(40px);
    }

    @include sm {
      min-width: px2vw-sm(230px);
      padding: px2vw-xl(40px);
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &-option-image-block {
    margin-right: px2vw-xl(20px);
    width: px2vw-xl(24px);

    @include lg {
      margin-right: px2vw-lg(14px);
      width: px2vw-lg(24px);
    }

    @include md {
      width: px2vw-md(24px);
      margin-right: px2vw-md(14px);
    }

    @include sm {
      margin-right: px2vw-sm(18px);
      width: px2vw-sm(24px);
    }
  }

  &-option-text {
    font-size: px2vw-xl(16px);
    line-height: 1;

    @include lg {
      font-size: px2vw-lg(16px);
    }

    @include md {
      font-size: px2vw-md(16px);
    }

    @include sm {
      font-size: px2vw-sm(16px);
    }
  }
}

a {
  color: #1d1d1d;
}
a:hover {
  color: #1d1d1d;
}
