@import "abstract/mixins";
@import "abstract/variables";
@import "base/wrappers";
@import "abstract/functions";

.sticky {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.app {
  font-size: 12px;
  font-weight: 900;
  margin: 0px;
  padding: 0px;
  vertical-align: baseline;
}
::ng-deep {
  mat-dialog-container {
    position: relative;
    background-color: var(--very-light-grey) !important;
    @include md {
      padding-top: px2vw-md(-1px);
      padding-right: px2vw-md(7px);
      padding-left: px2vw-md(-1px);
    }
    @include sm {
      padding-top: px2vw-sm(-1px);
      padding-right: px2vw-sm(7px);
      padding-left: px2vw-sm(-1px);
    }
  }
  .cdk-overlay-pane {
    overflow-y: hidden;
    max-width: 100% !important;
    max-height: 90px;
  }
}
.deep {
  border-radius: 14px;
  height: 55px !important;
  width: 60px !important;
}
.msg {
  @include md {
    font-size: 10px;
    font-weight: 500;
    margin-right: px2vw-md(30px);
  }
  @include sm {
    font-size: 10px;
    font-weight: 500;
    margin-right: px2vw-sm(30px);
  }
}
.view {
  color: var(--primary-purple);
  font-style: bold;
  font-weight: 900;
  font-size: 12px;
  margin-right: px2vw-xl(20px);
  margin-left: px2vw-xl(10px);
}
.close {
  color: var(--base-black);
}
.Header {
  &-logo {
    height: px2vw-xl(30px);
    width: px2vw-xl(350px);
    margin-right: px2vw-xl(22px);
    margin-left: px2vw-xl(20px);
    @include lg {
      height: px2vw-lg(30px);
      width: px2vw-lg(350px);
      margin-right: px2vw-lg(22px);
      margin-left: px2vw-lg(20px);
    }

    @include md {
      height: px2vw-md(30px);
      width: px2vw-md(350px);
      margin-right: px2vw-md(22px);
      margin-left: px2vw-md(20px);
    }

    @include sm {
      height: px2vw-sm(30px);
      width: px2vw-sm(350px);
      margin-right: px2vw-sm(22px);
      margin-left: px2vw-sm(20px);
    }
  }

  &-desktop {
    @extend %u-dfCenterBtw;
    padding: px2vw-xl(15px) 0;

    @include lg {
      display: none;
    }

    &-right {
      display: flex;
      align-items: center;
      flex: 1;
      max-width: px2vw-xl(1289px);
    }
  }
  &-icon {
    margin: 0 px2vw-xl(10px);
    color: var(--base-white);

    @include lg {
      margin: 0 px2vw-lg(10px);
    }

    @include md {
      margin: 0 px2vw-md(10px);
    }

    @include sm {
      margin: 0 px2vw-sm(10px);
    }
  }
}
