<div class="sticky">
  <a class="close"
    ><span (click)="onClose()" class="material-icons">clear</span></a
  >
  <img
    class="Header-logo deep"
    src="assets/global-images/index.png"
    alt="temp icon"
  />
  <div>
    <h6 class="app">{{ "STICKYBAR.APP" | translate }}</h6>
    <p class="msg">{{ "STICKYBAR.MESSAGE" | translate }}</p>
  </div>
  <a
    class="Footer-sectionA-store-link"
    *ngFor="let store of stores"
    [href]="store.link"
    target="_blank"
  >
    <h6 *ngIf="store.show" class="view">
      {{ "ADMIN_TOOLTIP.VIEW" | translate | uppercase}}
    </h6>
  </a>
</div>
