<!-- <div class="row d-flex align-items-center">
    <div class="icon"><img src="{{selectedteam.image}}" alt="..." class="img-fluid"></div>
   <div>
    <a href="#" class="label"><strong class="d-block">{{selectedteam.name}}</strong><span class="d-block">BrightForces Reselect team </span></a>
   </div>
</div> -->


<!-- <section class="TournamentDetails-form" >
    <mat-accordion> -->
<!-- BRACKET PREVIEW -->
<!-- <mat-expansion-panel *ngFor="let l of this.selected let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="row d-flex align-items-center" >
                <div class="icon"><img src="{{l.details.profilePicture}}" alt="..." class="img-fluid" ></div>
               <div>
                <a class="label"><strong class="d-block" >{{selectedteam.name}}</strong><span class="d-block" >{{selectedteam.name}} Reselect team </span></a>
               </div>
            </div>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div class="row" >
            <div class="col-lg-4">
                <mat-form-field class="global-MatField LogReg-input" appearance="outline">
                    <mat-label>{{ "UserName" | translate }}</mat-label>
                    <input class="SubmitForm-input" matInput type="text" [(ngModel)]="l.details.fullName"/>
                  </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="global-MatField LogReg-input" appearance="outline">
                    <mat-label>{{ "Email" | translate }}</mat-label>
                    <input class="SubmitForm-input" matInput type="text"  [(ngModel)]="l.details.email"/>
                  </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <mat-form-field class="global-MatField LogReg-input" appearance="outline">
                    <mat-label>{{ "In-GameId" | translate }}</mat-label>
                    <input class="SubmitForm-input" matInput type="text" [(ngModel)]="l.details.username" (input)="validate($event.target.value,i)"/>
                  </mat-form-field>

        <div  *ngIf="l.details.error">userId exists</div>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="global-MatField LogReg-input" appearance="outline">
                    <mat-label>{{ "Mobile No" | translate }}</mat-label>
                    <input class="SubmitForm-input" matInput type="text"  [(ngModel)]="l.details.phoneNumber"/>
                  </mat-form-field>
            </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </section> -->

<!-- <section class="SelectTeams-buttons" >
    <button class="SelectTeams-button button-secondary" [routerLink]="AppHtmlRoutes.play" >
      {{ "BUTTON.CANCEL" | translate }}
    </button>

    <button class="SelectTeams-button button-icon-secondary" routerBack >
      <mat-icon> arrow_back </mat-icon>
      <span>
        {{ "BUTTON.BACK" | translate }}
      </span>
    </button>

    <button
      class="SelectTeams-button button-primary" [disabled]="!submitbut"
    (click)="submitdata()">
      {{ "CONFORM & JOIN" | translate }}
    </button>
  </section> -->

<!-- <app-header-spark

  [title]="'Join Tournament'"
></app-header-spark> -->
<div class="JoinTournament">
  <div class="JoinTournament-container">
    <div class="JoinTournament-wrapper">
      <div class="JoinTournament-inner">
        <div class="JoinTournamentAside">
          <div class="JoinTournamentAside-Thumbnail">
            <img [src]="tournamentDetails?.banner" alt="">
          </div>
          <div class="JoinTournamentAside-Info">
            <div class="JoinTournamentAside-Info-box">
              <h4 class="title">
                {{tournamentDetails?.name}}
              </h4>
              <div class="price">
                <span> {{(tournamentDetails ? (tournamentDetails?.regStartDate | date:'MMM d y') : '')}} — {{(tournamentDetails ? (tournamentDetails?.regEndDate | date:'MMM d y') : '')}}</span>
              </div>
              <a class="link-to">{{"HOME.UPCOMING_SLIDER.REGISTRATION_OPEN" | translate}}</a>
            </div>
          </div>
        </div>
        <main class="JoinTournament-main">
          <h1 class="JoinTournament-main-title">{{"JOIN_TOURNAMENT.TEAM_DETAILS.TITLE" | translate}}</h1>
          <p class="JoinTournament-main-subtitle">{{"JOIN_TOURNAMENT.TEAM_DETAILS.SUBTITLE" | translate}}</p>
          <div class="JoinTournament-main-team">
            <div class="JoinTournament-main-team-ava" inlineSVG="assets/icons/join-tournament/image-59.svg">
            </div>
            <div class="JoinTournament-main-team-name">
              {{"JOIN_TOURNAMENT.TEAM_DETAILS.TEAM:" | translate}} P-Crown <span class="no-player">(3
                {{"JOIN_TOURNAMENT.TEAM_DETAILS.PLAYERS" | translate}})</span>
            </div>
          </div>
          <div class="JoinTournament-main-round">
            <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                  {{node.game_id}}
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" class="child" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                  {{node.game_id}}
                </mat-tree-node>
            </mat-tree> -->
            <cdk-accordion class="JoinTournament-main-round-accordion">
              <cdk-accordion-item *ngFor="let item of set_1; let index = index;" #accordionItem="cdkAccordionItem"
                class="JoinTournament-main-round-accordion-item" role="button" tabindex="0"
                [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index">
                <div class="JoinTournament-main-round-accordion-item-header" (click)="accordionItem.toggle()">
                  {{ item }}
                  <span class="JoinTournament-main-round-accordion-item-description">
                    <ng-container *ngIf="accordionItem.expanded;then open else close"></ng-container>
                    <ng-template #close>
                      <button class="JoinTournament-main-btnExpaned"
                        inlineSVG="../../../assets/icons/manage-tournament/Icon-plus.svg"></button>
                    </ng-template>
                    <ng-template #open>
                      <button class="JoinTournament-main-btnExpaned"
                        inlineSVG="../../../assets/icons/manage-tournament/Icon-min.svg"></button>
                    </ng-template>
                  </span>
                </div>
                <div class="JoinTournament-main-round-accordion-item-body" role="region"
                  [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                  [attr.aria-labelledby]="'accordion-header-' + index">
                  <div class="JoinTournament-main-round-accordion-item-body-member">
                    <div class="JoinTournament-main-round-accordion-item-body-member-ava"></div>
                    <div class="JoinTournament-main-round-accordion-item-body-member-info">
                      <div class="JoinTournament-main-round-accordion-item-body-member-name">
                        {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_NAME" | translate}}</div>
                      <div class="JoinTournament-main-round-accordion-item-body-member-id">
                        {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_ID" | translate}}: Farhorndah_98</div>
                    </div>
                  </div>
                  <div class="JoinTournament-main-round-accordion-item-body-form">
                    <form class="JoinTournament-main-round-accordion-item-body-form-wrap">
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.USERNAME" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input matInput value="Farhorndah_98">
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.EMAIL" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input type="email" matInput value="Farhorndah@mail.com">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error
                            *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.IN-GAME_ID" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input matInput value="Farhorndah_98">
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.MOBILE_NUMBER" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input type="tel" matInput value="213456789">
                        </mat-form-field>
                      </div>
                    </form>
                  </div>
                </div>
              </cdk-accordion-item>
              <cdk-accordion-item *ngFor="let item of set_2; let index = index;" #accordionItem="cdkAccordionItem"
                class="JoinTournament-main-round-accordion-item" role="button" tabindex="0"
                [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index">
                <div class="JoinTournament-main-round-accordion-item-header" (click)="accordionItem.toggle()">
                  {{ item }}
                  <span class="JoinTournament-main-round-accordion-item-description">
                    <ng-container *ngIf="accordionItem.expanded;then open else close"></ng-container>
                    <ng-template #close>
                      <button class="JoinTournament-main-btnExpaned"
                        inlineSVG="../../../assets/icons/manage-tournament/Icon-plus.svg"></button>
                    </ng-template>
                    <ng-template #open>
                      <button class="JoinTournament-main-btnExpaned"
                        inlineSVG="../../../assets/icons/manage-tournament/Icon-min.svg"></button>
                    </ng-template>
                  </span>
                </div>
                <div class="JoinTournament-main-round-accordion-item-body" role="region"
                  [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                  [attr.aria-labelledby]="'accordion-header-' + index">
                  <div class="JoinTournament-main-round-accordion-item-body-member">
                    <div class="JoinTournament-main-round-accordion-item-body-member-ava"></div>
                    <div class="JoinTournament-main-round-accordion-item-body-member-info">
                      <div class="JoinTournament-main-round-accordion-item-body-member-name">
                        {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_NAME" | translate}}</div>
                      <div class="JoinTournament-main-round-accordion-item-body-member-id">
                        {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_ID" | translate}}: Farhorndah_98</div>
                    </div>
                  </div>
                  <div class="JoinTournament-main-round-accordion-item-body-form">
                    <form class="JoinTournament-main-round-accordion-item-body-form-wrap">
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.USERNAME" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input matInput value="Farhorndah_98">
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.EMAIL" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input type="email" matInput value="Farhorndah@mail.com">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error
                            *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.IN-GAME_ID" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input matInput value="Farhorndah_98">
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.MOBILE_NUMBER" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input type="tel" matInput value="213456789">
                        </mat-form-field>
                      </div>
                    </form>
                  </div>
                </div>
              </cdk-accordion-item>
              <cdk-accordion-item *ngFor="let item of set_2; let index = index;" #accordionItem="cdkAccordionItem"
                class="JoinTournament-main-round-accordion-item" role="button" tabindex="0"
                [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index">
                <div class="JoinTournament-main-round-accordion-item-header" (click)="accordionItem.toggle()">
                  {{ item }}
                  <span class="JoinTournament-main-round-accordion-item-description">
                    <ng-container *ngIf="accordionItem.expanded;then open else close"></ng-container>
                    <ng-template #close>
                      <button class="JoinTournament-main-btnExpaned"
                        inlineSVG="assets/icons/manage-tournament/Icon-plus.svg"></button>
                    </ng-template>
                    <ng-template #open>
                      <button class="JoinTournament-main-btnExpaned"
                        inlineSVG="assets/icons/manage-tournament/Icon-min.svg"></button>
                    </ng-template>
                  </span>
                </div>
                <div class="JoinTournament-main-round-accordion-item-body" role="region"
                  [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                  [attr.aria-labelledby]="'accordion-header-' + index">
                  <div class="JoinTournament-main-round-accordion-item-body-member">
                    <div class="JoinTournament-main-round-accordion-item-body-member-ava"></div>
                    <div class="JoinTournament-main-round-accordion-item-body-member-info">
                      <div class="JoinTournament-main-round-accordion-item-body-member-name">
                        {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_NAME" | translate}}</div>
                      <div class="JoinTournament-main-round-accordion-item-body-member-id">
                        {{"JOIN_TOURNAMENT.TEAM_MEMBERS.PLAYER_ID" | translate}}: Farhorndah_98</div>
                    </div>
                  </div>
                  <div class="JoinTournament-main-round-accordion-item-body-form">
                    <form class="JoinTournament-main-round-accordion-item-body-form-wrap">
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.USERNAME" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input matInput value="Farhorndah_98">
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.EMAIL" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input type="email" matInput value="Farhorndah@mail.com">
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error
                            *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.IN-GAME_ID" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input matInput value="Farhorndah_98">
                        </mat-form-field>
                      </div>
                      <div class="JoinTournament-main-round-accordion-item-body-form-field">
                        <mat-label>{{"JOIN_TOURNAMENT.TEAM_DETAILS.MOBILE_NUMBER" | translate}}</mat-label>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <input type="tel" matInput value="213456789">
                        </mat-form-field>
                      </div>
                    </form>
                  </div>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>



<div class="teamGame-button">
  <!-- <button class="teamGame-button-next" [disabled]="!submitbut" (click)="submitdata()">
    {{ "JOIN_TOURNAMENT.TITLE" | translate }}
  </button> -->
  <button class="teamGame-button-next" routerLink="/join-tournament/checkout">
    {{ "JOIN_TOURNAMENT.TITLE" | translate }}
  </button>
</div>
<app-fullscreen-loading *ngIf="showLoader"></app-fullscreen-loading>