@import "shared";
@import "../../../../../../src/scss/components/create-tournament";

:host {
  display: block;
  @extend %ct-overlay-hero;
}

.TournamentName {
  .image-demo {
    .box-image {
      img {
        width: 72px;
        height: 40px;
      }
    }
  }
  background-color: var(--color-background);
  position: relative;
  padding: 80px 0 0 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  background-image: url(../../../../../assets/images/create-tournament/bg-121212.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include lg {
    padding: 70px 0 0 0;
  }

  @include md {
    padding: 64px 0 0 0;
  }

  &-container {
    min-height: 100vh;
    @extend %u-dfStart;
    flex-direction: column;
    max-width: 666px;
    padding-top: 88px;
    padding-bottom: 164px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
    width: 100%;
    @include lg {
      padding-top: 70px;
    }

    @include md {
      padding-top: 56px;
    }
  }

  // &-container {
  //   margin-top: px2vw-xl(160px);
  //   margin-bottom: px2vw-xl(30px);

  //   @include lg {
  //     margin-top: px2vw-lg(160px);
  //     margin-bottom: px2vw-lg(30px);
  //   }

  //   @include md {
  //     margin-top: px2vw-md(160px);
  //     margin-bottom: px2vw-md(30px);
  //   }

  //   @include sm {
  //     margin-top: px2vw-sm(160px);
  //     margin-bottom: px2vw-sm(30px);
  //   }
  // }

  &-switcher-container {
    margin-top: auto;
  }

  &-title {
    @extend %global-title;
    margin-bottom: 31px;

    @include lg {
      margin-bottom: 30px;
    }

    @include md {
      margin-bottom: 24px;
    }

    @include sm {
      margin-bottom: 16px;
      padding-right: 10px;
    }
  }

  &-input {
    margin-bottom: 48px;
    width: 100%;

    @include lg {
      margin-bottom: 30px;
    }

    @include md {
      margin-bottom: 24px;
    }
  }
}
.TournamentName-Optional {
  position: relative;
  width: 100%;
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background: var(--midnight-express-color);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    @include md {
      padding: 16px;
    }
    .text {
      @extend %global-textSm;
      line-height: 32px;
      letter-spacing: -0.5px;
      color: var(--color-white-medium);
    }
    .icon-toggle {
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      border: 2px solid var(--main-color);
      box-sizing: border-box;
      border-radius: 16px;
      width: 32px;
      height: 32px;
      position: relative;
      &.active {
        &::after {
          content: none;
        }
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 37.5%;
        height: 2px;
        background: var(--main-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 37.5%;
        height: 2px;
        background: var(--main-color);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
  .content {
    margin-top: 24px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.active {
      height: 100%;
      overflow: visible;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .TournamentNameLabel {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      align-items: center;
      label.form-label {
        @extend %global-textSm;
        align-items: flex-end;
        color: var(--white);
        display: block;
        margin-bottom: 4px;
      }
      span.optional {
        @extend %global-textSm;
        font-weight: 500;
        display: -webkit-inline-flex;
        display: inline-flex;
        align-items: flex-end;
        text-align: right;
        color: var(--tolopea-color);
      }
    }
    .TournamentName-textarea {
      margin-bottom: 19px;
      .TournamentNameTextarea {
        .form-textarea {
          width: 100%;
          padding: 12px 16px;
          background: transparent;
          border: 2px solid var(--tertiary-color);
          box-sizing: border-box;
          border-radius: 4px;
          min-height: 96px;
          @extend %global-textSm;
          font-weight: 500;
          color: var(--white);
          &::placeholder {
            color: var(--tertiary-color);
          }
          &:focus {
            outline: 2px solid var(--main-color);
          }
        }
      }
    }
    .TournamentName-File {
      .TournamentNameFile {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;

        @include md {
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
        }

        .box-input-file {
          width: 100%;
          position: relative;
          max-width: calc(100% - 126px);
          padding: 10px 16px;
          background: transparent;
          border: 2px solid var(--tertiary-color);
          border-radius: 4px;
          &:hover {
            border: 2px solid var(--main-color);
          }
          @include md {
            max-width: 100%;
            margin-bottom: 16px;
          }

          .form-file-btn {
            @extend %global-textSm;
            font-weight: 500;
            color: var(--tertiary-color);
            &.activeinputfile {
              color: var(--white);
            }
          }
        }
        .input-group-btn {
          position: relative;
          @include md {
            width: 100%;
            max-width: 100%;
          }
          .form-file {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            cursor: pointer;
          }
          .btn {
            padding: 10px 30px;
            background: var(--white);
            box-sizing: border-box;
            border-radius: 6px;
            @extend %global-textSm;
            text-transform: capitalize;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            color: var(--secondary-color);
            @include md {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
      .notice {
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: var(--tertiary-color);
      }
    }
    .image-file-name {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
    }
  }
}

.TournamentName-img {
  width: px2vw-xl(72px);
  height: px2vw-xl(40px);
  margin-right: px2vw-xl(16px);
  border-radius: px2vw-xl(4px);
  object-fit: cover;
  @include lg {
    width: px2vw-lg(72px);
    height: px2vw-lg(40px);
    margin-right: px2vw-lg(16px);
    border-radius: px2vw-lg(4px);
  }

  @include md {
    width: px2vw-md(72px);
    height: px2vw-md(40px);
    margin-right: px2vw-md(16px);
    border-radius: px2vw-md(4px);
  }

  @include sm {
    width: px2vw-sm(110.592px);
    height: px2vw-sm(61.44px);
    margin-right: px2vw-sm(24.576px);
    border-radius: px2vw-sm(6.144px);
  }
}

.TournamentName-visiblity {
  width: 100%;
  position: relative;
  .visiblity_header_link {
    margin-bottom: 12px;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .lists-cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 0 24px;
    @include md {
      gap: 0 24px;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      max-width: 189px;
      height: 128px;
      background: var(--blackcurrant-color-medium);
      border: 1px solid var(--color-black-medium);
      border-radius: 8px;
      padding: 29px 0px 12px;
      cursor: pointer;
      margin-bottom: 20px;
      @media only screen and (max-width: 768px) {
        width: 138px;
        height: 112px;
      }

      @media only screen and (max-width: 414px) {
        width: 155px;
        height: 112px;
      }
      @include md {
        max-width: calc(100% / 2 - 12px);
        margin-bottom: 16px;
        height: 104px;
        padding: 24px 0px 16px;
      }

      .icon {
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        ::ng-deep svg path {
          transition: 200ms linear;
          fill: var(--main-color);
        }
        @include sm {
          margin-bottom: 8px;
        }
      }
      .text {
        text-align: center;
        color: var(--white);
        font-family: Avenir Next;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      &:hover {
        border-color: var(--main-color);
      }
      &.active {
        background: var(--secondary-color);

        .icon {
          ::ng-deep svg rect,
          ::ng-deep svg path {
            transition: 200ms linear;
            fill: var(--white);
          }
        }
      }
    }
  }
}
