@import "shared";

:host {
  display: block;
}

.SingleElimination {
  display: block;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  &::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 2px;
  }
  &-match-container {
    display: flex;
    // width: px2vw-xl(212px);

    // @include lg {
    //   width: px2vw-lg(212px);
    // }

    // @include md {
    //   width: px2vw-md(212px);
    // }

    // @include sm {
    //   width: px2vw-sm(212px);
    // }
  }

  &-bracket {
    display: flex;
    flex-direction: row;
    min-width: 915px;
    min-height: 677.15px;
  }

  &-round {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 316px;

    // @include lg {
    //   min-width: px2vw-lg(290px);
    // }

    // @include md {
    //   min-width: px2vw-md(290px);
    // }

    // @include sm {
    //   min-width: px2vw-sm(290px);
    // }
  }

  &-match {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: auto;
    width: 285px;
    // padding: px2vw-xl(15px) 0;
    padding-left: 17px;

    // @include lg {
    //   height: px2vw-lg(188px);
    //   width: px2vw-lg(270px);
    //   padding: px2vw-lg(15px) 0;
    //   padding-left: px2vw-lg(25px);
    // }

    // @include md {
    //   height: px2vw-md(188px);
    //   width: px2vw-md(270px);
    //   padding: px2vw-md(15px) 0;
    //   padding-left: px2vw-md(25px);
    // }

    // @include sm {
    //   height: px2vw-sm(188px);
    //   width: px2vw-sm(270px);
    //   padding: px2vw-sm(15px) 0;
    //   padding-left: px2vw-sm(25px);
    // }

    // every bracket line
    &::after,
    &::before {
      display: flex;
      flex-grow: 1;
      position: absolute;
      content: "";
      width: 24px;
      transform: translateY(0);

      // @include lg {
      //   width: px2vw-lg(15px);
      //   transform: translateY(px2vw-lg(20px));
      // }

      // @include md {
      //   width: px2vw-md(15px);
      //   transform: translateY(px2vw-md(20px));
      // }

      // @include sm {
      //   width: px2vw-sm(15px);
      //   transform: translateY(px2vw-sm(20px));
      // }
    }

    &::after {
      border-right: 2px solid var(--midnight-express-color);
      right: 0;
      height: 50%;

      // @include lg {
      //   border-right-width: px2vw-lg(2px);
      // }

      // @include md {
      //   border-right-width: px2vw-md(2px);
      // }

      // @include sm {
      //   border-right-width: px2vw-sm(2px);
      // }
    }

    &::before {
      border-top: 2px solid var(--midnight-express-color);
      top: 50%;
      left: -32px;

      // @include lg {
      //   border-top-width: px2vw-lg(2px);
      //   left: px2vw-lg(-20px);
      // }

      // @include md {
      //   border-top-width: px2vw-md(2px);
      //   left: px2vw-md(-20px);
      // }

      // @include sm {
      //   border-top-width: px2vw-sm(2px);
      //   left: px2vw-sm(-20px);
      // }
    }

    &:nth-child(odd) {
      &::after {
        top: 50%;
        border-top-right-radius: 0;
        border-top: 2px solid var(--midnight-express-color);
        transform: translateY(0);

        // @include lg {
        //   border-top-width: px2vw-lg(2px);
        //   transform: translateY(px2vw-lg(20px));
        // }

        // @include md {
        //   border-top-width: px2vw-md(2px);
        //   transform: translateY(px2vw-md(20px));
        // }

        // @include sm {
        //   border-top-width: px2vw-sm(2px);
        //   transform: translateY(px2vw-sm(20px));
        // }
      }
    }

    &:nth-child(even) {
      &::after {
        top: 0;
        border-bottom-right-radius: 0;
        border-bottom: 2px solid var(--midnight-express-color);
        transform: translateY(0);

        // @include lg {
        //   border-bottom-width: px2vw-lg(2px);
        //   transform: translateY(px2vw-lg(20px));
        // }

        // @include md {
        //   border-bottom-width: px2vw-md(2px);
        //   transform: translateY(px2vw-md(20px));
        // }

        // @include sm {
        //   border-bottom-width: px2vw-sm(2px);
        //   transform: translateY(px2vw-sm(20px));
        // }
      }
    }

    &:first-child:last-child {
      &::after {
        display: none;
      }
    }

    .SingleElimination-round:first-child > & {
      &::before {
        display: none;
      }
    }
  }

  &-finaleMatch {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: px2vw-xl(188px);
    width: px2vw-xl(262px);
    padding: px2vw-xl(15px) 0;

    @include lg {
      height: px2vw-lg(188px);
      width: px2vw-lg(262px);
      padding: px2vw-lg(15px) 0;
    }

    @include md {
      height: px2vw-md(188px);
      width: px2vw-md(262px);
      padding: px2vw-md(15px) 0;
    }

    @include sm {
      height: px2vw-sm(188px);
      width: px2vw-sm(262px);
      padding: px2vw-sm(15px) 0;
    }

    // & > .SingleElimination-finaleMatch-container {
    //   display: block;
    //   margin-bottom: px2vw-xl(6px);
    //   height: px2vw-xl(100px);
    //   width: px2vw-xl(212px);

    //   @include lg {
    //     margin-bottom: px2vw-lg(6px);
    //     height: px2vw-lg(100px);
    //     width: px2vw-lg(212px);
    //   }

    //   @include md {
    //     margin-bottom: px2vw-md(6px);
    //     height: px2vw-md(100px);
    //     width: px2vw-md(212px);
    //   }

    //   @include sm {
    //     margin-bottom: px2vw-sm(6px);
    //     height: px2vw-sm(100px);
    //     width: px2vw-sm(212px);
    //   }
    // }
  }
}
