.global-scrollbar {
  width: 100%;
}

input[id="orderInput"] {
  text-align: center;
}

input[id="orderInput"]:disabled {
  border: 0;
}
.filebrowser-btn {
  background-color: var(--black-01);
}
.btn-theme{
  background-color: #bbf55a;
}
.btn-cancel{
  background-color: #736cff;
}
::ng-deep{
  .global-MatInputOutline .mat-form-field-outline {
    color: #dbdbdb;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
  border: 1px solid #dbdbdb;
  min-width: 5px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(174 174 174 / 78%) !important;
}
.global-MatField .mat-select-min-line, .global-MatField .mat-input-element {
  font-family: "redhat-regular";
  color: #434242 !important;
}
.global-MatInputOutline .mat-form-field-label {
  color: #434242 !important;
}
.global-MatField mat-label {
  font-family: "redhat-medium", sans-serif;
  color: #434242 !important;
}
}
