<mat-tab-group
  class="global-TabGroup"
  [selectedIndex]="activeTabIndex"
  mat-align-tabs="start"
  #matTabGroup
>
  <mat-tab
    label="{{
      'ADMIN.SITE_CONFIGURATION.TABS.REWARDS_CONFIGURATION' | translate
    }}"
  >
    <app-reward-configuration
      *ngIf="activeTabIndex == 0"
    ></app-reward-configuration>
  </mat-tab>

  <mat-tab
    label="{{ 'ADMIN.SITE_CONFIGURATION.TABS.SHOP_CONFIGURATION' | translate }}"
  >
    <app-shop-configuration
      *ngIf="activeTabIndex == 1"
    ></app-shop-configuration>
  </mat-tab>

  <mat-tab label="{{ 'ADMIN.SITE_CONFIGURATION.TABS.BANNER' | translate }}">
    <app-banner *ngIf="activeTabIndex == 2"></app-banner>
  </mat-tab>

  <mat-tab label="{{ 'ADMIN.SITE_CONFIGURATION.TABS.GAMES' | translate }}">
    <game-list *ngIf="activeTabIndex == 3"></game-list>
  </mat-tab>

  <mat-tab
    label="{{
      'ADMIN.SITE_CONFIGURATION.TABS.LEADERBOARD_CONFIGURATION' | translate
    }}"
  >
    <app-leaderboard-configuration
      *ngIf="activeTabIndex == 4"
    ></app-leaderboard-configuration>
  </mat-tab>

  <mat-tab
    label="{{
      'ADMIN.SITE_CONFIGURATION.TABS.ANNOUNCEMENT_CONFIGURATION' | translate
    }}"
  >
    <app-announcement-configuration
      *ngIf="activeTabIndex == 5"
    ></app-announcement-configuration>
  </mat-tab>
  <mat-tab
    label="{{
      'ADMIN.SITE_CONFIGURATION.TABS.AVATAR_CONFIGURATION' | translate
    }}"
  >
    <app-avatar-config *ngIf="activeTabIndex == 6"></app-avatar-config>
  </mat-tab>
</mat-tab-group>
