.UserNotification-boxC-banner {
  height: 10px;
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
}

.filebrowser-btn {
  color: var(--white-high);
  background-color: var(--black);
  border-radius: 0px;
}
.mat-error {
  font-size: 12px !important;
}
