@import "shared";

:host {
   display: block;
   height: 100%;
}

.LogReg {
   background-color: var(--darkest-night);
   position: relative;
   padding: px2vw-xl(80px) 0 px2vw-xl(104px) 0;
   margin: 0;
   width: 100%;
   overflow: hidden;
   overflow-y: auto;
   height: 100vh;
   .image-block {
      align-items: center;
      position: absolute;
      width: px2vw-xl(647px);
      height: px2vw-xl(300px);
      right: px2vw-xl(690px);
   }

   // @extend %u-dfCenterCenter;
   max-width: px2vw-xl(1836px);
   // padding: px2vw-xl(40px) 0;
   margin: 0 auto;

   @include lg {
      max-width: none;
      // padding: px2vw-lg(20px) px2vw-lg(15px);
      height: auto;
   }

   @include md {
      flex-direction: column;
      // padding: px2vw-md(15px);
   }

   @include sm {
      // padding: px2vw-sm(18px);
   }
   &-container {
      margin: 0 auto;
      width: 100%;
      max-width: px2vw-xl(1500px);
   }
   &-body {
      @include md {
         padding: px2vw-md(130px) 0 0;
      }

      @include sm {
         padding: px2vw-sm(130px) 0 0;
      }
   }

   &-main {
      margin-left: px2vw-xl(150px);
      max-width: px2vw-xl(730px);
      width: 100%;
      position: relative;
      z-index: 1;

      @include lg {
         margin-left: px2vw-lg(20px);
         max-width: px2vw-lg(600px);
      }

      @include md {
         margin-left: 0;
         max-width: px2vw-md(600px);
      }

      @include sm {
         max-width: none;
      }

      &-logo {
         margin: 0 auto px2vw-xl(80px);
         display: block;
         text-align: center;

         @include lg {
            margin: 0 auto px2vw-lg(80px);
         }

         @include md {
            margin: 0 auto px2vw-md(80px);
         }

         @include sm {
            margin: 0 auto px2vw-sm(80px);
         }

         img {
            width: px2vw-xl(190px);

            @include lg {
               width: px2vw-lg(190px);
            }

            @include md {
               width: px2vw-md(190px);
            }

            @include sm {
               width: px2vw-sm(190px);
            }
         }
      }
   }
   .row {
      justify-content: flex-start;
      @include lg {
         justify-content: space-between;
      }
      @include sm {
         justify-content: center;
      }
   }
   .col-left {
      padding-top: px2vw-xl(24px);
      padding-left: px2vw-xl(3px);
      max-width: px2vw-xl(738px);
      position: relative;
      overflow: hidden;
      width: 100%;
      @include lg {
         max-width: calc(100% - 433px - 30px);
      }

      @include sm {
         display: none;
      }
   }
   .col-right {
      width: 100%;
      max-width: 433px;
      margin-left: px2vw-xl(116px);
      &.mx-auto {
         margin: 0 auto;
      }
      @include lg {
         margin-left: px2vw-lg(30px);
      }

      @include md {
         margin-left: px2vw-md(15px);
      }

      @include sm {
         max-width: 100%;
         margin-left: 0;
      }

      .form-heading {
         padding-bottom: px2vw-xl(24px);
         padding-top: px2vw-xl(48px);
         // margin-bottom: 32px;
         // border-bottom: 1px solid rgba(255, 255, 255, 0.12);
         @include sm {
            padding-bottom: px2vw-sm(17px);
            margin-bottom: px2vw-sm(26px);
         }

         .login-title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            font-family: var(--selected-font-family);
            letter-spacing: -0.5px;
            color: var(--color-white-medium);
            margin-bottom: 0px;
            @include sm {
               font-size: 20px;
               line-height: 28px;
            }
         }

         .login-subtitle {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            font-family: var(--selected-font-family);
            color: var(--color-white-medium);
            margin-bottom: 0;
            .text-hl {
               color: var(--light-preview-color);
            }
         }
      }
   }
   .login-tab {
      border-bottom: px2vw-xl(2px) solid var(--boysenberry);
      margin-bottom: px2vw-xl(20px);
      li {
         display: inline-block;
         vertical-align: middle;
         position: relative;
         bottom: -2px;
         font-style: normal;
         font-weight: 600;
         font-size: 16px;
         line-height: 24px;
         font-family: var(--selected-font-family);
         letter-spacing: 0.5px;
         color: var(--spacesuit);
         padding: px2vw-xl(10px) 0;
         cursor: pointer;
         &:first-child {
            margin-right: px2vw-xl(20px);
         }
         &.active {
            color: var(--googly-yellow);
            border-bottom: px2vw-xl(2px) solid var(--googly-yellow);
         }
      }
   }
}
.back {
   position: absolute;
   margin: px2vw-xl(30px);
}
