<mat-tab-group
  class="global-TabGroup"
  (selectedTabChange)="onTabChanged($event)"
  mat-align-tabs="start"
>
  <mat-tab
    label="{{ 'ADMIN.USER_MANAGEMENT.TABS.RECENTLY_UPDATED' | translate }}"
  >
    <div class="Admin-searchBox">
      <div class="Admin-search">
        <mat-icon>search</mat-icon>
        <input
          #searchInput
          type="text"
          placeholder="{{ 'ADMIN.USER_MANAGEMENT.LABEL.SEARCH' | translate }}"
        />
        <button
          class="searchButton"
          *ngIf="searchInput.value"
          (click)="clearSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div class="global-scrollbar">
      <ngx-datatable
        #table
        *ngIf="rowsFirstTab?.length > 0"
        class="global-DataTable"
        [columnMode]="'force'"
        [columns]="columnsFirstTab"
        [footerHeight]="'auto'"
        [headerHeight]="'auto'"
        [limit]="50"
        [rowHeight]="'auto'"
        [rows]="rowsFirstTab"
      >
        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.NAME' | translate }}"
          prop="name"
        ></ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.USERNAME' | translate }}"
          prop="username"
        ></ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.EMAIL' | translate }}"
          prop="email"
        ></ngx-datatable-column>

        <ngx-datatable-column 
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.PHONE' | translate }}"
          prop="phoneNumber"
          
        > <ng-template let-row="row" ngx-datatable-cell-template>
          <div dir="ltr">
            {{ row.phoneNumber }}
          </div>
        </ng-template>
      </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.USER_MANAGEMENT.TABLE_HEADER.MEMBER_SINCE' | translate
          }}"
          prop="createdOn"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row["createdOn"] | date: "dd MMM yy" }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="Admin-tableBtn is-view"
              [routerLink]="[AppHtmlAdminRoutes.userManagementView, row['id']]"
              mat-icon-button
              matTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
              color="primary"
            >
              <mat-icon>visibility</mat-icon>
            </a>
            <a
              class="Admin-tableBtn is-view"
              mat-icon-button
              matTooltip="{{ 'ADMIN_TOOLTIP.DELETE' | translate }}"
              (click)="
                open(
                  openModelNew,
                  row['status'],
                  row['id'],
                  'DeleteParticiepants'
                )
              "
              color="primary"
            >
              <mat-icon>delete</mat-icon>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </mat-tab>

  <mat-tab label="{{ 'ADMIN.USER_MANAGEMENT.TABS.TOP_SPENDING' | translate }}">
    <div class="Admin-searchBox">
      <div class="Admin-search">
        <mat-icon>search</mat-icon>
        <input
          (keyup)="updateSecondTabFilter($event)"
          type="search"
          placeholder="{{ 'ADMIN.USER_MANAGEMENT.LABEL.SEARCH' | translate }}"
        />
      </div>
    </div>

    <div class="global-scrollbar">
      <ngx-datatable
        #table
        *ngIf="rowsSecondTab?.length > 0"
        class="global-DataTable"
        [columnMode]="'force'"
        [columns]="columnsSecondTab"
        [footerHeight]="'auto'"
        [headerHeight]="'auto'"
        [limit]="50"
        [rowHeight]="'auto'"
        [rows]="rowsSecondTab"
      >
        <ngx-datatable-column
          name="{{
            'ADMIN.USER_MANAGEMENT.TABLE_HEADER.FULL_NAME' | translate
          }}"
          prop="fullName"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.USERNAME' | translate }}"
          prop="username"
        ></ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.EMAIL' | translate }}"
          prop="email"
        ></ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'ADMIN.USER_MANAGEMENT.TABLE_HEADER.PHONE' | translate }}"
          prop="phoneNumber"
        ><ng-template let-row="row" ngx-datatable-cell-template>
          <div dir="ltr">
            {{ row.phoneNumber }}
          </div>
        </ng-template>
      </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.USER_MANAGEMENT.TABLE_HEADER.MEMBER_SINCE' | translate
          }}"
          prop="createdOn"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row["createdOn"] | date: "dd MMM yy" }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.USER_MANAGEMENT.TABLE_HEADER.AMOUNT_SPEND' | translate
          }}"
          prop="totalSpent"
        ></ngx-datatable-column>

        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              [routerLink]="[AppHtmlAdminRoutes.userManagementView, row['_id']]"
              mat-icon-button
              matTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
              color="primary"
              class="Admin-tableBtn is-view"
            >
              <mat-icon>visibility</mat-icon>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </mat-tab>

  <mat-tab label="{{ 'ADMIN.USER_MANAGEMENT.TABS.USER_REPORTS' | translate }}">
    <div class="userReport global-scrollbar">
      <!-- <table *ngIf="!userReportDetail" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{{ "USER_REPORT.TABLE_HEADER_1" | translate }}</th>
            <th scope="col">{{ "USER_REPORT.TABLE_HEADER_6" | translate }}</th>
            <th scope="col">{{ "USER_REPORT.TABLE_HEADER_5" | translate }}</th>
            <th scope="col">{{ "USER_REPORT.TABLE_HEADER_2" | translate }}</th>
            <th scope="col">{{ "USER_REPORT.TABLE_HEADER_3" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let field of userReports"
            (click)="getReportDetail(field._id)"
          >
            <td>{{ field.reportUId }}</td>
            <td>{{ field?.createrId?.fullName }}</td>
            <td>{{ field?.tournamentId?.name }}</td>

            <td *ngIf="field.reportType === 'cheating'">
              {{ "USER_REPORT.REPORT_TYPE_CHEATING" | translate }}
            </td>
            <td *ngIf="field.reportType === 'incorrectOpponent'">
              {{ "USER_REPORT.REPORT_TYPE_INCORRECT" | translate }}
            </td>
            <td *ngIf="field.reportType === 'grievances'">
              {{ "USER_REPORT.REPORT_TYPE_GRIEVANCES" | translate }}
            </td>

            <td *ngIf="field.status === 'open'">
              {{ "USER_REPORT.REPORT_OPEN" | translate }}
            </td>
            <td *ngIf="field.status === 'close'">
              {{ "USER_REPORT.REPORT_CLOSE" | translate }}
            </td>
          </tr>
        </tbody>
      </table> -->

      <ngx-datatable
        #table
        *ngIf="!userReportDetail"
        class="global-DataTable"
        [columnMode]="'force'"
        [footerHeight]="'auto'"
        [headerHeight]="'auto'"
        [limit]="50"
        [rowHeight]="'auto'"
        [rows]="userReports"
      >
        <ngx-datatable-column
          name="{{ 'USER_REPORT.TABLE_HEADER_1' | translate }}"
          prop="reportUId"
        ></ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'USER_REPORT.TABLE_HEADER_6' | translate }}"
          prop="createrId?.fullName"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row?.createrId[0].fullName }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'USER_REPORT.TABLE_HEADER_5' | translate }}"
          prop="tournamentId?.name"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ row?.tournamentId[0].name }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          name="{{ 'USER_REPORT.TABLE_HEADER_2' | translate }}"
          prop="reportType"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{
              row["reportType"] === "cheating"
                ? ("USER_REPORT.REPORT_TYPE_CHEATING" | translate)
                : row["reportType"] === "incorrectOpponent"
                ? ("USER_REPORT.REPORT_TYPE_INCORRECT" | translate)
                : ("USER_REPORT.REPORT_TYPE_GRIEVANCES" | translate)
            }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{ 'USER_REPORT.TABLE_HEADER_3' | translate }}"
          prop="status"
        >
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{
              row?.status === "close"
                ? ("USER_REPORT.REPORT_CLOSE" | translate)
                : ("USER_REPORT.REPORT_OPEN" | translate)
            }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              mat-icon-button
              matTooltip="{{ 'ADMIN_TOOLTIP.VIEW' | translate }}"
              color="primary"
              class="Admin-tableBtn is-view"
              (click)="getReportDetail(row?._id)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

    <!-- Report Detail -->
    <div class="viewUser mt-3" *ngIf="userReportDetail">
      <div class="u-dfCenterBtw">
        <h4 class="global-Title4 mb-0">
          Ticket #{{ userReportDetail?.report?.reportUId }}
        </h4>
        <a (click)="backBtnClicked()" class="viewUser-backButton">
          <span><img src="/assets/icons/arrow-back.svg" /></span>
          <span>{{ "USER_REPORT.REPORT_BACK" | translate }}</span>
        </a>
      </div>
      <h3
        class="global-Title3"
        *ngIf="userReportDetail?.report?.reportType === 'cheating'"
      >
        {{ "USER_REPORT.REPORT_TYPE_CHEATING" | translate }}
      </h3>
      <h3
        class="global-Title3"
        *ngIf="userReportDetail?.report?.reportType === 'incorrectOpponent'"
      >
        {{ "USER_REPORT.REPORT_TYPE_INCORRECT" | translate }}
      </h3>
      <h3
        class="global-Title3"
        *ngIf="userReportDetail?.report?.reportType === 'grievances'"
      >
        {{ "USER_REPORT.REPORT_TYPE_GRIEVANCES" | translate }}
      </h3>
      <div class="viewUser-report">
        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE1" | translate }}
          </span>
          <span class="viewUser-report-value">
            {{ userReportDetail?.report?.createdOn | date: "MMM d y, h:mm a" }}
          </span>
        </div>
        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE2" | translate }}
          </span>
          <span class="viewUser-report-value">
            {{
              (userReportDetail?.adminUser &&
                userReportDetail?.adminUser?.updatedBy?.fullName) ||
                "-"
            }}
          </span>
        </div>

        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE3" | translate }}
          </span>
          <span
            (click)="openResult(openModel)"
            class="viewUser-report-value matchId"
          >
            {{ userReportDetail?.report?.matchId || "xxxxxxxxx" }}
          </span>
        </div>

        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE4" | translate }}
          </span>
          <span class="viewUser-report-value">
            {{ userReportDetail?.report?.updatedOn | date: "MMM d y, h:mm a" }}
          </span>
        </div>

        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE5" | translate }}
          </span>
          <span class="viewUser-report-value">
            {{ userReportDetail?.report?.tournamentId?.name }}
          </span>
        </div>

        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE6" | translate }}
          </span>
          <span class="viewUser-report-value">
            {{ userReportDetail?.opponent?.teamName || "-" }}
          </span>
        </div>

        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE7" | translate }}
          </span>
          <span class="viewUser-report-value">
            {{ userReportDetail?.report?.createrId?.fullName }}
          </span>
        </div>

        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE8" | translate }}
          </span>
          <span class="viewUser-report-value">
            {{
              userReportDetail?.report?.status === "close"
                ? ("USER_REPORT.REPORT_CLOSE" | translate)
                : ("USER_REPORT.REPORT_OPEN" | translate)
            }}
          </span>
        </div>

        <div class="viewUser-report-space4">
          <span class="viewUser-report-key">
            {{ "USER_REPORT.REPORT_TICKET_DETAILS_TITLE9" | translate }}
          </span>
          <span class="viewUser-report-value">
            {{ userReportDetail?.opponent?.inGamerUserId || "-" }}
          </span>
        </div>
      </div>

      <!-- start discussion Area -->

      <div
        *ngFor="let field of userReportDetail?.discussion"
        class="row viewUser-profile userReport-border"
      >
        <div class="col-xs-12 col-md-3">
          <div class="u-dfCenterStart">
            <span
              ><img
                *ngIf="!field?.updatedBy?.profilePicture"
                class="viewUser-profile-img"
                src="./assets/images/Profile/stc_avatar.png"
              />
              <img
                *ngIf="field?.updatedBy?.profilePicture"
                class="viewUser-profile-img"
                [src]="field?.updatedBy?.profilePicture"
              />
            </span>
            <div>
              <div>{{ field?.updatedBy?.fullName }}</div>
              <div class="viewUser-profile-days">
                {{ field?.createdOn | dateToDayAgo }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-9 viewUser-profile-description">
          <p>{{ field.reportText }}</p>
          <div
            *ngIf="field?.reportImage"
            (click)="downloadUrl(field?.reportImage)"
            class="viewUser-profile-screenshot"
          >
            <img
              class="viewUser-profile-screenshotImg"
              [src]="field?.reportImage"
            />
            <span class="viewUser-profile-screenshotTitle">{{
              "USER_REPORT.REPORT_TYPE_SCREENSHOT" | translate
            }}</span>
          </div>
        </div>
      </div>
      <div class="row viewUser-profile">
        <div class="col-xs-12 col-md-3"></div>
        <div class="col-xs-12 col-md-9">
          <div>
            <textarea
              placeholder="{{ 'USER_REPORT.COMMENT' | translate }}"
              class="p-2 field-text global-Text"
              [(ngModel)]="replyText"
            ></textarea>

            <div class="uploadView">
              <label
                *ngIf="!base64textString"
                class="uploadView-block"
                for="files"
              >
                <img src="./assets/icons/upload-image.svg" />
                <div class="uploadView-block-title global-Text">
                  {{ "USER_REPORT.UPLOAD_IMAGE" | translate }}
                </div>
                <div class="global-Text">
                  {{ "USER_REPORT.UPLOAD_JPEG_TEXT" | translate }}
                </div>
              </label>
              <img
                class="uploadView-image"
                [src]="base64textString"
                alt="chat image"
                (click)="avatar.click()"
                *ngIf="base64textString"
              />
              <input
                #avatar
                type="file"
                id="files"
                class="uploadView-upload"
                (change)="handleFileSelect($event)"
                accept="image/*"
                single
              />
            </div>
          </div>
          <div class="mt-3 mb-3">
            <button
              class="global-EditBtn"
              [disabled]="!replyText"
              (click)="onReply(false)"
            >
              {{ "USER_REPORT.ACTION_BUTTON1" | translate }}
            </button>
            <button
              class="global-EditBtn mr-2 ml-2"
              (click)="onReply(true)"
              [disabled]="!replyText"
            >
              {{ "USER_REPORT.ACTION_BUTTON2" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #openModel let-modal class="Logout-modal">
  <div class="modal-header">
    <h5 class="global-Title2">
      {{ "ELIMINATION.REPORT_SCORE" | translate }}
    </h5>
  </div>
  <p class="info"><mat-icon>info</mat-icon>{{ "ELIMINATION.REPORT_SCORE_TEXT" | translate }}</p>
  <app-score-card
    *ngIf="
      userReportDetail &&
      userReportDetail?.match &&
      userReportDetail?.participantId
    "
    [match]="userReportDetail?.match"
    [isEventOrganizerOrAdmin]="isAdmin"
    [isShowTitle]="false"
    [isShowChat]="false"
    [isShowReportBtn]="false"
    [participantId]="userReportDetail?.participantId"
    [tournament]="userReportDetail?.match?.tournamentId"
    (exit)="exitFromScoreCard($event)"
  >
  </app-score-card>
</ng-template>

<ng-template #openModelNew let-modal class="temp">
  <div class="modal-header">
    <button class="close" (click)="modal.dismiss()">&times;</button>
  </div>

  <div class="modal-body">
    <div class="pl-5 review-container">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column ml-4">
          <h4>{{ modelHeader }}</h4>
          <hr class="hr-margin" />
        </div>
      </div>

      <div class="row mt-2 ml-3 pl-2 mr-5">
        <span class="description-text">
          <h5>{{ modelTitle }}</h5>
          {{ modelDesc }}
        </span>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="global-EditBtn dark-text"
      (click)="modal.dismiss()"
      name="button"
      data-dismiss="modal"
    >
    {{ "BUTTON.CANCEL" | translate }}
    </button>

    <button class="global-EditBtn" name="button" (click)="Confirmatio()">
      {{ "ADMIN_NEW.SUBMIT" | translate }}
    </button>
  </div>
</ng-template>

<esports-loading *ngIf="isLoading"></esports-loading>
