<div class="RewardConfigurations-main">
  <div class="RewardConfigurations-boxB">
    <div *ngIf="!isLoading" class="RewardConfigurations-footer-btns">
      <button class="global-EditBtn is-sm" (click)="addNewRow()">
        + {{ "ADMIN.SITE_CONFIGURATION.BUTTON.ADD_NEW_TASK" | translate }}
      </button>
    </div>
    <div class="global-scrollbar">
      <ngx-datatable
        #table
        class="global-DataTable"
        [columnMode]="'force'"
        [footerHeight]="'auto'"
        [headerHeight]="'auto'"
        [limit]="50"
        [rowHeight]="'auto'"
        [rows]="rewardsList"
      >
        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.STATUS' | translate
          }}"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <mat-checkbox
              class="is-small"
              (change)="updateValue($event, 'status', rowIndex)"
              [checked]="row.status == 1"
              color="primary"
            ></mat-checkbox>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.USER_TASK' | translate
          }}"
        >
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
          >
            <input
              *ngIf="row.newrecord; else other_content"
              class="RewardConfigurations-boxB-item-input"
              (focusout)="updateValue($event, 'reward_type', rowIndex)"
              [value]="row.reward_type"
              type="text"
            />
            <ng-template #other_content>{{ row.reward_type }}</ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          name="{{
            'ADMIN.SITE_CONFIGURATION.TABLE_HEADER.POINTS' | translate
          }}"
        >
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <input
              class="RewardConfigurations-boxB-item-input"
              (focusout)="updateValue($event, 'points', rowIndex)"
              [value]="row.points"
              type="number"
            />
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

    <div *ngIf="!isLoading" class="RewardConfigurations-footer-btns">
      <button class="global-EditBtn is-sm dark-text" (click)="cancelChanges()">
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.CANCEL" | translate }}
      </button>

      <button class="global-EditBtn is-sm" (click)="updateRewards()">
        {{ "ADMIN.SITE_CONFIGURATION.BUTTON.SAVE" | translate }}
      </button>
    </div>
  </div>

  <esports-loading *ngIf="isLoading"></esports-loading>
</div>
