<div class="account" >
  <div class="account-banner d-flex align-items-center">
    <div class="account-banner-description account-wrpr">
      <div class="d-md-flex align-items-stretch">
        <div class="avatar" *ngIf="currentUser?.profilePicture">
          <img src="{{currentUser?.profilePicture}}" alt="">
        </div>
        <div class="avatar" *ngIf="!currentUser?.profilePicture">
          <img src="assets/images/Home/sparkavatar.png" alt="">
        </div>
        <div class="description">
          <h4 class="title">{{ currentUser?.username }} <div class="trophy"></div>
          </h4>
          <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <p class="text views-time m-0 font-weight-bold">{{'ACCOUNT_SETTINGS.USER_STATUS' | translate}}
            </p>
          <p class="m-0 ml-md-4">{{'ACCOUNT_SETTINGS.MEMBER_SINCE' | translate}} {{ currentUser?.createdOn | date:'longDate' }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="position-relative d-flex justify-content-end">
    <div class="position-absolute account-xp">
      <!--<span>XP</span>-->
      <!-- pass it in css to show status -->
      <!--<div class="discreteProgress d-inline-block" id="mainProgress"></div>
      <span class="d-inline-block">400/2300</span>-->
    </div>
  </div>
  <div class="account-content account-wrpr">
    <div class="account-content-title">{{'ACCOUNT_SETTINGS.TITLE' | translate}}</div>
      <div class="row">
        <div class="col-12 px-0 d-md-none">
          <mat-label>
            {{'ACCOUNT_SETTINGS.MENU.JUMPTO' | translate}}
          </mat-label>
          <mat-form-field class="global-MatField" appearance="outline">
            <mat-select class="account-content-mat-select">
              <mat-option class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="profile"> <svg class="d-none" width="23" height="27" viewBox="0 0 23 27" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M11.1787 0.71875C7.31272 0.71875 4.17871 3.85276 4.17871 7.71875C4.17871 11.5847 7.31272 14.7188 11.1787 14.7188C15.0447 14.7188 18.1787 11.5847 18.1787 7.71875C18.1787 3.85276 15.0447 0.71875 11.1787 0.71875ZM6.17871 7.71875C6.17871 4.95733 8.41729 2.71875 11.1787 2.71875C13.9401 2.71875 16.1787 4.95733 16.1787 7.71875C16.1787 10.4802 13.9401 12.7188 11.1787 12.7188C8.41729 12.7188 6.17871 10.4802 6.17871 7.71875Z" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.17871 17.7188C3.31272 17.7188 0.178711 20.8528 0.178711 24.7188V26.7188H22.1787V24.7188C22.1787 20.8528 19.0447 17.7188 15.1787 17.7188H7.17871ZM2.17871 24.7188C2.17871 21.9573 4.41729 19.7188 7.17871 19.7188H15.1787C17.9401 19.7188 20.1787 21.9573 20.1787 24.7188H2.17871Z" />
                  </svg>

                  <span>{{'ACCOUNT_SETTINGS.MENU.PROFILE' | translate}}</span></a>
              </mat-option>
              <mat-option class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="gameAccounts">
                  <mat-icon class="d-none">videogame_asset</mat-icon>
                  <span>{{'ACCOUNT_SETTINGS.MENU.GAMEACCOUNT' | translate}}</span>
                </a>
              </mat-option>
              <mat-option class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="accounts"> <svg class="d-none" width="33" height="33" viewBox="0 0 33 33" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M29.0045 13.5654L26.0665 12.5864C25.9375 12.2194 25.7845 11.8504 25.6075 11.4814L26.9935 8.70138C27.1855 8.31637 27.1095 7.85238 26.8055 7.54838L24.3755 5.11837C24.0715 4.81337 23.6065 4.74038 23.2215 4.93038L20.4505 6.31637C20.0815 6.13937 19.7095 5.98638 19.3375 5.85738L18.3575 2.91937C18.2205 2.50937 17.8385 2.23438 17.4085 2.23438H13.9685C13.5375 2.23438 13.1555 2.50938 13.0195 2.91838L12.0405 5.85638C11.6745 5.98438 11.3055 6.13837 10.9355 6.31537L8.15548 4.92938C7.76848 4.73738 7.30548 4.81337 7.00148 5.11737L4.57148 7.54738C4.26748 7.85138 4.19148 8.31637 4.38348 8.70037L5.76948 11.4804C5.59248 11.8504 5.43848 12.2194 5.31048 12.5854L2.37248 13.5644C1.96348 13.7014 1.68848 14.0834 1.68848 14.5144V17.9544C1.68848 18.3854 1.96348 18.7674 2.37248 18.9024L5.31048 19.8824C5.43948 20.2544 5.59348 20.6264 5.76948 20.9954L4.38348 23.7664C4.19148 24.1514 4.26648 24.6164 4.57148 24.9204L7.00148 27.3504C7.30548 27.6544 7.76848 27.7314 8.15448 27.5384L10.9345 26.1524C11.3045 26.3294 11.6735 26.4824 12.0395 26.6114L13.0185 29.5494C13.1565 29.9594 13.5385 30.2344 13.9685 30.2344H17.4075C17.8385 30.2344 18.2205 29.9594 18.3555 29.5504L19.3355 26.6124C19.7075 26.4834 20.0805 26.3294 20.4485 26.1534L23.2195 27.5394C23.6055 27.7324 24.0685 27.6584 24.3735 27.3514L26.8035 24.9214C27.1085 24.6164 27.1835 24.1514 26.9915 23.7674L25.6055 20.9964C25.7815 20.6284 25.9355 20.2554 26.0645 19.8834L29.0025 18.9034C29.4135 18.7664 29.6885 18.3844 29.6885 17.9544V14.5144C29.6885 14.0834 29.4135 13.7014 29.0045 13.5654ZM27.6885 17.2334L24.9525 18.1464C24.6395 18.2504 24.3995 18.5004 24.3075 18.8174C24.1435 19.3834 23.9085 19.9584 23.6065 20.5234C23.4535 20.8084 23.4495 21.1514 23.5935 21.4414L24.8815 24.0174L23.4715 25.4274L20.8955 24.1394C20.6065 23.9944 20.2625 23.9984 19.9775 24.1524C19.4125 24.4544 18.8375 24.6894 18.2715 24.8534C17.9555 24.9454 17.7045 25.1854 17.6005 25.4984L16.6875 28.2344H14.6895L13.7775 25.4984C13.6735 25.1854 13.4225 24.9454 13.1065 24.8534C12.5545 24.6944 11.9835 24.4584 11.4095 24.1524C11.1245 23.9994 10.7835 23.9954 10.4925 24.1394L7.90748 25.4284L6.49548 24.0174L7.78348 21.4414C7.92848 21.1514 7.92348 20.8084 7.77048 20.5234C7.46848 19.9564 7.23148 19.3824 7.06948 18.8174C6.97848 18.5024 6.73748 18.2504 6.42448 18.1464L3.68848 17.2334V15.2344L6.42448 14.3224C6.73748 14.2184 6.97848 13.9674 7.06948 13.6504C7.22948 13.0934 7.45948 12.5384 7.77148 11.9544C7.92348 11.6684 7.92848 11.3274 7.78448 11.0374L6.49448 8.45238L7.90648 7.04038L10.4915 8.32938C10.7825 8.47338 11.1235 8.46937 11.4085 8.31637C11.9925 8.00437 12.5475 7.77437 13.1045 7.61438C13.4215 7.52338 13.6725 7.28238 13.7765 6.96938L14.6895 4.23438H16.6875L17.6005 6.97038C17.7045 7.28338 17.9555 7.52338 18.2715 7.61538C18.8365 7.77838 19.4105 8.01437 19.9775 8.31637C20.2625 8.46937 20.6065 8.47438 20.8955 8.32938L23.4715 7.04138L24.8825 8.45337L23.5935 11.0384C23.4485 11.3284 23.4535 11.6694 23.6065 11.9554C23.9135 12.5294 24.1485 13.1004 24.3075 13.6524C24.3995 13.9684 24.6395 14.2194 24.9525 14.3234L27.6885 15.2344V17.2334ZM15.6885 10.2344C12.3795 10.2344 9.68848 12.9254 9.68848 16.2344C9.68848 19.5434 12.3795 22.2344 15.6885 22.2344C18.9975 22.2344 21.6885 19.5434 21.6885 16.2344C21.6885 12.9254 18.9975 10.2344 15.6885 10.2344ZM15.6885 20.2344C13.4825 20.2344 11.6885 18.4404 11.6885 16.2344C11.6885 14.0284 13.4825 12.2344 15.6885 12.2344C17.8945 12.2344 19.6885 14.0284 19.6885 16.2344C19.6885 18.4404 17.8945 20.2344 15.6885 20.2344Z" />
                  </svg>

                  <span>{{'ACCOUNT_SETTINGS.MENU.ACCOUNT' | translate}}</span></a>
              </mat-option>
              <mat-option class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="blockedList">
                  <mat-icon class="d-none">block</mat-icon>
                  <span>{{'ACCOUNT_SETTINGS.MENU.BLOCKEDLIST' | translate}}</span>
                </a>
              </mat-option>
              <mat-option class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="Account_Preference">
                  <mat-icon class="d-none">playlist_add</mat-icon>
                  <span>{{'ACCOUNT_SETTINGS.MENU.PREFERENCES' | translate}}</span>
                </a>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3 order-sm-2 order-lg-1 p-0 mt-5 m-sm-0 menuContainer   account-content-sidebar">

          <nav class="nav h-100">
            <ul class="nav navbar-nav account-content-sidebar-menu">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="profile"> <svg width="23" height="27" viewBox="0 0 23 27" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M11.1787 0.71875C7.31272 0.71875 4.17871 3.85276 4.17871 7.71875C4.17871 11.5847 7.31272 14.7188 11.1787 14.7188C15.0447 14.7188 18.1787 11.5847 18.1787 7.71875C18.1787 3.85276 15.0447 0.71875 11.1787 0.71875ZM6.17871 7.71875C6.17871 4.95733 8.41729 2.71875 11.1787 2.71875C13.9401 2.71875 16.1787 4.95733 16.1787 7.71875C16.1787 10.4802 13.9401 12.7188 11.1787 12.7188C8.41729 12.7188 6.17871 10.4802 6.17871 7.71875Z" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.17871 17.7188C3.31272 17.7188 0.178711 20.8528 0.178711 24.7188V26.7188H22.1787V24.7188C22.1787 20.8528 19.0447 17.7188 15.1787 17.7188H7.17871ZM2.17871 24.7188C2.17871 21.9573 4.41729 19.7188 7.17871 19.7188H15.1787C17.9401 19.7188 20.1787 21.9573 20.1787 24.7188H2.17871Z" />
                  </svg>

                  <span>{{'ACCOUNT_SETTINGS.MENU.PROFILE' | translate}}</span></a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="gameAccounts">
                  <mat-icon>videogame_asset</mat-icon>
                  <span>{{'ACCOUNT_SETTINGS.MENU.GAMEACCOUNT' | translate}}</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="accountSettings">
                  <mat-icon>settings</mat-icon>
                  <span>{{'ACCOUNT_SETTINGS.MENU.ACCOUNT' | translate}}</span>
                </a>
              </li>
              <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="accounts"> <svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M29.0045 13.5654L26.0665 12.5864C25.9375 12.2194 25.7845 11.8504 25.6075 11.4814L26.9935 8.70138C27.1855 8.31637 27.1095 7.85238 26.8055 7.54838L24.3755 5.11837C24.0715 4.81337 23.6065 4.74038 23.2215 4.93038L20.4505 6.31637C20.0815 6.13937 19.7095 5.98638 19.3375 5.85738L18.3575 2.91937C18.2205 2.50937 17.8385 2.23438 17.4085 2.23438H13.9685C13.5375 2.23438 13.1555 2.50938 13.0195 2.91838L12.0405 5.85638C11.6745 5.98438 11.3055 6.13837 10.9355 6.31537L8.15548 4.92938C7.76848 4.73738 7.30548 4.81337 7.00148 5.11737L4.57148 7.54738C4.26748 7.85138 4.19148 8.31637 4.38348 8.70037L5.76948 11.4804C5.59248 11.8504 5.43848 12.2194 5.31048 12.5854L2.37248 13.5644C1.96348 13.7014 1.68848 14.0834 1.68848 14.5144V17.9544C1.68848 18.3854 1.96348 18.7674 2.37248 18.9024L5.31048 19.8824C5.43948 20.2544 5.59348 20.6264 5.76948 20.9954L4.38348 23.7664C4.19148 24.1514 4.26648 24.6164 4.57148 24.9204L7.00148 27.3504C7.30548 27.6544 7.76848 27.7314 8.15448 27.5384L10.9345 26.1524C11.3045 26.3294 11.6735 26.4824 12.0395 26.6114L13.0185 29.5494C13.1565 29.9594 13.5385 30.2344 13.9685 30.2344H17.4075C17.8385 30.2344 18.2205 29.9594 18.3555 29.5504L19.3355 26.6124C19.7075 26.4834 20.0805 26.3294 20.4485 26.1534L23.2195 27.5394C23.6055 27.7324 24.0685 27.6584 24.3735 27.3514L26.8035 24.9214C27.1085 24.6164 27.1835 24.1514 26.9915 23.7674L25.6055 20.9964C25.7815 20.6284 25.9355 20.2554 26.0645 19.8834L29.0025 18.9034C29.4135 18.7664 29.6885 18.3844 29.6885 17.9544V14.5144C29.6885 14.0834 29.4135 13.7014 29.0045 13.5654ZM27.6885 17.2334L24.9525 18.1464C24.6395 18.2504 24.3995 18.5004 24.3075 18.8174C24.1435 19.3834 23.9085 19.9584 23.6065 20.5234C23.4535 20.8084 23.4495 21.1514 23.5935 21.4414L24.8815 24.0174L23.4715 25.4274L20.8955 24.1394C20.6065 23.9944 20.2625 23.9984 19.9775 24.1524C19.4125 24.4544 18.8375 24.6894 18.2715 24.8534C17.9555 24.9454 17.7045 25.1854 17.6005 25.4984L16.6875 28.2344H14.6895L13.7775 25.4984C13.6735 25.1854 13.4225 24.9454 13.1065 24.8534C12.5545 24.6944 11.9835 24.4584 11.4095 24.1524C11.1245 23.9994 10.7835 23.9954 10.4925 24.1394L7.90748 25.4284L6.49548 24.0174L7.78348 21.4414C7.92848 21.1514 7.92348 20.8084 7.77048 20.5234C7.46848 19.9564 7.23148 19.3824 7.06948 18.8174C6.97848 18.5024 6.73748 18.2504 6.42448 18.1464L3.68848 17.2334V15.2344L6.42448 14.3224C6.73748 14.2184 6.97848 13.9674 7.06948 13.6504C7.22948 13.0934 7.45948 12.5384 7.77148 11.9544C7.92348 11.6684 7.92848 11.3274 7.78448 11.0374L6.49448 8.45238L7.90648 7.04038L10.4915 8.32938C10.7825 8.47338 11.1235 8.46937 11.4085 8.31637C11.9925 8.00437 12.5475 7.77437 13.1045 7.61438C13.4215 7.52338 13.6725 7.28238 13.7765 6.96938L14.6895 4.23438H16.6875L17.6005 6.97038C17.7045 7.28338 17.9555 7.52338 18.2715 7.61538C18.8365 7.77838 19.4105 8.01437 19.9775 8.31637C20.2625 8.46937 20.6065 8.47438 20.8955 8.32938L23.4715 7.04138L24.8825 8.45337L23.5935 11.0384C23.4485 11.3284 23.4535 11.6694 23.6065 11.9554C23.9135 12.5294 24.1485 13.1004 24.3075 13.6524C24.3995 13.9684 24.6395 14.2194 24.9525 14.3234L27.6885 15.2344V17.2334ZM15.6885 10.2344C12.3795 10.2344 9.68848 12.9254 9.68848 16.2344C9.68848 19.5434 12.3795 22.2344 15.6885 22.2344C18.9975 22.2344 21.6885 19.5434 21.6885 16.2344C21.6885 12.9254 18.9975 10.2344 15.6885 10.2344ZM15.6885 20.2344C13.4825 20.2344 11.6885 18.4404 11.6885 16.2344C11.6885 14.0284 13.4825 12.2344 15.6885 12.2344C17.8945 12.2344 19.6885 14.0284 19.6885 16.2344C19.6885 18.4404 17.8945 20.2344 15.6885 20.2344Z" />
                  </svg>

                  <span>{{'ACCOUNT_SETTINGS.MENU.ACCOUNT' | translate}}</span></a>
              </li> -->
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="blockedList">
                  <mat-icon>block</mat-icon>
                  <span>{{'ACCOUNT_SETTINGS.MENU.BLOCKEDLIST' | translate}}</span>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link d-flex align-items-center" routerLink="Account_Preference">
                  <mat-icon>playlist_add</mat-icon>
                  <span>{{'ACCOUNT_SETTINGS.MENU.PREFERENCES' | translate}}</span>
                </a>
              </li>
            </ul>

          </nav>
        </div>
        <div class=" col-sm-12 col-md-9 order-sm-1 order-lg-2 p-0">
          <router-outlet></router-outlet>
        </div>
      </div>
  </div>
</div>
<app-footer-spark></app-footer-spark>
