@import "shared";

:host {
  display: block;
}

.TournamentTimeLabel {
  label.form-label {
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
    color: var(--white);
    display: block;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 24px;
  }
}
.TournamentTimeInput {
  position: relative;
  width: 100%;
  background: var(--purple-2);
  border: 2px solid var(--purple-2);
  border-radius: 8px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 20px 24px;
  .form-field {
    font-family: "stc-forward-regular";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    width: 100%;
    color: var(--white);
    background-color: transparent;
    &::placeholder {
      color: var(--tertiary-color);
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }
  &-field {
    cursor: pointer;

    &::placeholder {
      font-family: "stc-forward-regular";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    &:hover:not(:focus) {
      opacity: 0.8;
    }
  }
}
.TournamentTimeInput.reviewPage-dateInput {
  background: var(--base-white-smoke);
  border: var(--base-white-smoke);
  .form-field {
    color: var(--base-submarine);
  }
  img {
    filter: invert(100%);
  }
}
