@import "shared";

.table-color {
  color: var(--white-high);
}

.modal-footer {
  border-top: none;
}

.modal-header {
  border-bottom: none;
}

.headerText {
  font-size: medium;
  font-weight: bold;
}

.basic_details {
  font-size: 15px;
}
.hr-margin {
  margin: 0;
  border-top: 1px solid var(--color-tertiary);
}

.tags-list {
  display: flex;
  flex-direction: row;

  .tag-item {
    text-align: center;
    border: 2px solid var(--color-tertiary);
    border-radius: 40px;
    background: transparent;
    color: var(--color-tertiary);
    padding: 0.7em 1.5em;
    outline: none;
    margin-right: 2em;
    cursor: pointer;
  }
}

.circle-span {
  color: var(--color-tertiary);
  background: var(--white-high);
  border-radius: 50%;
  margin: 0 20px 0 50px;
}

.Admin-searchBox {
  display: flex;
  justify-content: flex-end;
}

.Admin-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Admin-search {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 10px;
  border-radius: 10px;
  color: var(--black);
  border: 1px solid #f2f2f2;
  background: rgba(236, 236, 236, 0.74);
}

.Admin-search input {
  border: none;
  min-width: 200px;
  background: none;
  font-size: 17px;
  font-family: "source-sans-pro";
}

hr.solid {
  border-top: 1px solid #bbb;
}
.mat-menu-content {
  text-align: center !important;
}
::ng-deep{
  .mat-tab-label-active {
    color: #bbf55a !important;
}
.global-TabGroup .mat-tab-label{
  color: #000;
}
.global-DataTable .datatable-header-cell-label{
  color: #a1a1a1;
}
.global-DataTable datatable-body-row:hover {
  background: linear-gradient(
0deg
, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #ececee;
}
}
