<div class="InputInvite">
  <h3 class="InputInvite-title">
    {{ "CREATE_TOURNAMENT.COMPONENTS.INPUT_INVITE.TITLE" | translate }}
  </h3>

  <p class="InputInvite-subtitle">
    {{ "CREATE_TOURNAMENT.COMPONENTS.INPUT_INVITE.SUBTITLE" | translate }}
  </p>

  <div class="InputInvite-field-block">
    <mat-icon class="InputInvite-field-icon email"> email </mat-icon>

    <input
      class="InputInvite-field"
      type="email"
      [(ngModel)]="singleEmail"
      [placeholder]="
        'CREATE_TOURNAMENT.COMPONENTS.INPUT_INVITE.PLACEHOLDER' | translate
      "
    />

    <mat-icon class="InputInvite-field-icon send" (click)="addEmails() "  > send </mat-icon>


  </div>
  <ul>
    <li *ngFor="let item of emailInvitation ; let indx = index">
      <span style="font-size: 16px; color:white">
        <mat-icon style="color:white">mail_outline</mat-icon> &nbsp; {{item}}
      </span>
      <span (click)="removeEmail(indx)" class="closebtn">×</span>
    </li>
  </ul>
</div>
