<app-header-paidia [currentPageLink]="AppHtmlRoutes.play" [routerLink]="AppHtmlRoutes.home"
  [title]="'CREATE_TOURNAMENT.SELECT_TYPE.HEADER_SUBTITLE' | translate"></app-header-paidia>

<div class="SelectGame">
  <div class="SelectGame-container u-wp">
    <div class="SelectGame-logo">
      <img class="SelectGame-logo-icon" src="assets/icons/create-tournament/gamepad.svg" alt="icon" />
    </div>

    <main class="SelectGame-main position-relative">
      <h1 class="SelectGame-title">
        {{ "CREATE_TOURNAMENT.SELECT_GAME.TITLE" | translate }}
      </h1>

      <div class="SelectGame-search">
        <app-input-search [placeholder]="'CREATE_TOURNAMENT.SELECT_GAME.SEARCH_PLACEHOLDER' | translate"
        [text]="text" (onTextChange)="onTextChange($event)"></app-input-search>
      </div>
      <app-loading *ngIf="showLoader"></app-loading>
      <div class="games_cards">
      <ul class="SelectGame-cards" *ngIf="games?.length" id="aa">
        <ng-container *ngFor="let game of filterGame()">
          <!-- <ng-container *ngFor="let game of game"> -->
          <li class="SelectGame-card" *ngIf="game?.isTournamentAllowed && game?.isQuickFormatAllow" [class.active]="selectedGame?._id == game?._id"
            (click)="setGame(game)">
            <div class="SelectGame-card-image-block image-block">
              <div class="SelectGame-card-image" [lazyLoad]="game?.image">
                <div class="SelectGame-card-selected selected">
                  <p class="SelectGame-card-selected-text global-Elipses">
                    {{ "CREATE_TOURNAMENT.SELECT_GAME.SELECTED" | translate }}
                  </p>
                  <!-- <mat-icon class="SelectGame-card-selected-icon">
                    done
                  </mat-icon> -->
                  </div>
                </div>
              </div>
              <p class="SelectGame-card-name">
                {{ game.name}}
              </p>
            </li>
          </ng-container>
        </ul>
        <div class="shade_div"></div>
      </div>
      <div class="SelectGame-buttons button_next">
        <button class="button-primary" (click)="next()">
          {{ "BUTTON.NEXT" | translate }}
        </button>
      </div>
    </main>
  </div>

  <img class="SelectGame-person" src="assets/images/create-tournament/persons/4.png" alt="person image" />
</div>
