@import "shared";

:host {
  display: block;
  padding-bottom: px2vw-xl(60px);

  @include lg {
    padding-bottom: px2vw-lg(60px);
  }

  @include md {
    padding-bottom: px2vw-md(40px);
  }

  @include sm {
    padding-bottom: px2vw-sm(40px);
  }
}

.SearchVideo {
  &-title {
    font-family: "stc-forward-bold", sans-serif;
    margin-bottom: px2vw-xl(24px);
    font-size: px2vw-xl(32px);
    line-height: px2vw-xl(48px);

    @include lg {
      margin-bottom: px2vw-lg(24px);
      font-size: px2vw-lg(32px);
      line-height: px2vw-lg(48px);
    }

    @include md {
      margin-bottom: px2vw-md(24px);
      font-size: px2vw-md(32px);
      line-height: px2vw-md(48px);
    }

    @include sm {
      margin-bottom: px2vw-sm(24px);
      font-size: px2vw-sm(32px);
      line-height: px2vw-sm(48px);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: px2vw-xl(20px);
    grid-row-gap: px2vw-xl(20px);
   
    @include lg {
      grid-column-gap: px2vw-lg(10px);
      grid-row-gap: px2vw-lg(20px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(10px);
      grid-row-gap: px2vw-md(10px);
    }

    @include sm {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-sm(10px);
      grid-row-gap: px2vw-sm(10px);
    }
  }
}
