@import "shared";

:host {
  display: block;
}

.Video {
  padding: px2vw-xl(56px) 0 px2vw-xl(113px);
  overflow-x: hidden;

  @include lg {
    padding: px2vw-lg(50px) 0;
  }

  @include md {
    padding: px2vw-md(50px) 0;
  }

  @include sm {
    padding: px2vw-sm(50px) 0;
  }

  &-title {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-buttons {
    margin-bottom: px2vw-xl(30px);

    @include lg {
      margin-bottom: px2vw-lg(30px);
    }

    @include md {
      margin-bottom: px2vw-md(30px);
    }

    @include sm {
      margin-bottom: px2vw-sm(30px);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: px2vw-xl(20px);
    grid-row-gap: px2vw-xl(20px);

    @include lg {
      grid-column-gap: px2vw-lg(20px);
      grid-row-gap: px2vw-lg(20px);
    }

    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column-gap: px2vw-md(20px);
      grid-row-gap: px2vw-md(20px);
    }

    @include sm {
      grid-template-columns: minmax(0, 1fr);
      grid-column-gap: px2vw-sm(20px);
      grid-row-gap: px2vw-sm(20px);
    }
  }

  &-item ::ng-deep {
    .VideoItem-image-block {
      height: px2vw-xl(175px);

      @include lg {
        height: px2vw-lg(150px);
      }

      @include md {
        height: px2vw-md(200px);
      }

      @include sm {
        height: px2vw-sm(270px);
      }
    }
  }
}

.pagination {
  justify-content: center !important;
}
